openapi: 3.0.0
servers:
  - url: //app.files.com/api/rest/v1
info:
  contact:
    email: support@files.com
    name: Files.com Customer Success Team
  title: Files.com API
  version: 0.0.1
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - format: openapi
      url: https://app.files.com/api/rest/v1/swagger_doc.json
      version: "3.0"
  x-providerName: files.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - description: Operations about action_notification_exports
    name: action_notification_exports
  - description: Operations about action_notification_export_results
    name: action_notification_export_results
  - description: Operations about action_webhook_failures
    name: action_webhook_failures
  - description: Operations about api_keys
    name: api_key
  - description: Operations about api_keys
    name: api_keys
  - description: Operations about sites
    name: site
  - description: Operations about users
    name: user
  - description: Operations about users
    name: users
  - description: Operations about apps
    name: apps
  - description: Operations about as2_incoming_messages
    name: as2_incoming_messages
  - description: Operations about as2_outgoing_messages
    name: as2_outgoing_messages
  - description: Operations about as2_partners
    name: as2_partners
  - description: Operations about as2_stations
    name: as2_stations
  - description: Operations about automations
    name: automations
  - description: Operations about automation_runs
    name: automation_runs
  - description: Operations about bandwidth_snapshots
    name: bandwidth_snapshots
  - description: Operations about behaviors
    name: behaviors
  - description: Operations about bundles
    name: bundles
  - description: Operations about bundle_downloads
    name: bundle_downloads
  - description: Operations about bundle_notifications
    name: bundle_notifications
  - description: Operations about bundle_recipients
    name: bundle_recipients
  - description: Operations about bundle_registrations
    name: bundle_registrations
  - description: Operations about clickwraps
    name: clickwraps
  - description: Operations about dns_records
    name: dns_records
  - description: Operations about external_events
    name: external_events
  - description: Operations about files
    name: files
  - description: Operations about file_actions
    name: file_actions
  - description: Operations about file_comments
    name: file_comments
  - description: Operations about file_comment_reactions
    name: file_comment_reactions
  - description: Operations about file_migrations
    name: file_migrations
  - description: Operations about folders
    name: folders
  - description: Operations about form_field_sets
    name: form_field_sets
  - description: Operations about groups
    name: groups
  - description: Operations about group_users
    name: group_users
  - description: Operations about histories
    name: history
  - description: Operations about history_exports
    name: history_exports
  - description: Operations about history_export_results
    name: history_export_results
  - description: Operations about inbox_recipients
    name: inbox_recipients
  - description: Operations about inbox_registrations
    name: inbox_registrations
  - description: Operations about inbox_uploads
    name: inbox_uploads
  - description: Operations about invoices
    name: invoices
  - description: Operations about ip_addresses
    name: ip_addresses
  - description: Operations about locks
    name: locks
  - description: Operations about messages
    name: messages
  - description: Operations about message_comments
    name: message_comments
  - description: Operations about message_comment_reactions
    name: message_comment_reactions
  - description: Operations about message_reactions
    name: message_reactions
  - description: Operations about notifications
    name: notifications
  - description: Operations about payments
    name: payments
  - description: Operations about permissions
    name: permissions
  - description: Operations about priorities
    name: priorities
  - description: Operations about projects
    name: projects
  - description: Operations about public_keys
    name: public_keys
  - description: Operations about remote_bandwidth_snapshots
    name: remote_bandwidth_snapshots
  - description: Operations about remote_servers
    name: remote_servers
  - description: Operations about requests
    name: requests
  - description: Operations about sessions
    name: sessions
  - description: Operations about settings_changes
    name: settings_changes
  - description: Operations about sftp_host_keys
    name: sftp_host_keys
  - description: Operations about sso_strategies
    name: sso_strategies
  - description: Operations about styles
    name: styles
  - description: Operations about usage_snapshots
    name: usage_snapshots
  - description: Operations about usage_daily_snapshots
    name: usage_daily_snapshots
  - description: Operations about user_cipher_uses
    name: user_cipher_uses
  - description: Operations about user_requests
    name: user_requests
  - description: Operations about webhook_tests
    name: webhook_tests
paths:
  /action_notification_export_results:
    get:
      description: List Action Notification Export Results
      operationId: GetActionNotificationExportResults
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: ID of the associated action notification export.
          in: query
          name: action_notification_export_id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: ID of the associated action notification export.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActionNotificationExportResultEntity"
                type: array
          description: A list of ActionNotificationExportResults objects.
          x-ms-summary: A list of ActionNotificationExportResults objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Action Notification Export Results
      tags:
        - action_notification_export_results
      x-authentication:
        - folder_admin
  /action_notification_exports:
    post:
      description: Create Action Notification Export
      operationId: PostActionNotificationExports
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                end_at:
                  description: End date/time of export range.
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: End date/time of export range.
                query_folder:
                  description: Return notifications that were triggered by actions in this folder.
                  example: MyFolder
                  type: string
                  x-ms-summary: Return notifications that were triggered by actions in this folder.
                query_message:
                  description: Error message associated with the request, if any.
                  example: Connection Refused
                  type: string
                  x-ms-summary: Error message associated with the request, if any.
                query_path:
                  description: Return notifications that were triggered by actions on this specific path.
                  example: MyFile.txt
                  type: string
                  x-ms-summary: Return notifications that were triggered by actions on this specific path.
                query_request_method:
                  description: The HTTP request method used by the webhook.
                  example: GET
                  type: string
                  x-ms-summary: The HTTP request method used by the webhook.
                query_request_url:
                  description: The target webhook URL.
                  example: http://example.com/webhook
                  type: string
                  x-ms-summary: The target webhook URL.
                query_status:
                  description: The HTTP status returned from the server in response to the webhook request.
                  example: "200"
                  type: string
                  x-ms-summary: The HTTP status returned from the server in response to the webhook request.
                query_success:
                  description: true if the webhook request succeeded (i.e. returned a 200 or 204 response status). false otherwise.
                  example: true
                  type: boolean
                  x-ms-summary: true if the webhook request succeeded (i.e. returned a 200 or 204 response status). false otherwise.
                start_at:
                  description: Start date/time of export range.
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: Start date/time of export range.
                user_id:
                  description: User ID.  Provide a value of `0` to operate the current session's user.
                  format: int32
                  type: integer
                  x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionNotificationExportEntity"
          description: The ActionNotificationExports object.
          x-ms-summary: The ActionNotificationExports object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Action Notification Export
      tags:
        - action_notification_exports
      x-authentication:
        - folder_admin
        - path_params:
            - query_path
            - query_folder
  "/action_notification_exports/{id}":
    get:
      description: Show Action Notification Export
      operationId: GetActionNotificationExportsId
      parameters:
        - description: Action Notification Export ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Action Notification Export ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionNotificationExportEntity"
          description: The ActionNotificationExports object.
          x-ms-summary: The ActionNotificationExports object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Action Notification Export
      tags:
        - action_notification_exports
      x-authentication:
        - folder_admin
  "/action_webhook_failures/{id}/retry":
    post:
      description: retry Action Webhook Failure
      operationId: PostActionWebhookFailuresIdRetry
      parameters:
        - description: Action Webhook Failure ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Action Webhook Failure ID.
      responses:
        "201":
          description: The ActionWebhookFailures object.
          x-ms-summary: The ActionWebhookFailures object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: retry Action Webhook Failure
      tags:
        - action_webhook_failures
      x-authentication:
        - site
  /api_key:
    delete:
      description: Delete current API key.  (Requires current API connection to be using an API key.)
      operationId: ApiKeyDeleteCurrent
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete current API key.  (Requires current API connection to be using an API key.)
      tags:
        - api_key
      x-authentication:
        - native_app
        - office_integration
    get:
      description: Show information about current API key.  (Requires current API connection to be using an API key.)
      operationId: ApiKeyFindCurrent
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKey object.
          x-ms-summary: The ApiKey object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show information about current API key.  (Requires current API connection to be using an API key.)
      tags:
        - api_key
      x-authentication:
        - native_app
        - office_integration
    patch:
      description: Update current API key.  (Requires current API connection to be using an API key.)
      operationId: ApiKeyUpdateCurrent
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                expires_at:
                  description: API Key expiration date
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: API Key expiration date
                name:
                  description: Internal name for the API Key.  For your use.
                  example: My Main API Key
                  type: string
                  x-ms-summary: Internal name for the API Key.  For your use.
                permission_set:
                  description: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
                  enum:
                    - none
                    - full
                    - desktop_app
                    - sync_app
                    - office_integration
                    - mobile_app
                  example: full
                  type: string
                  x-ms-summary: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKey object.
          x-ms-summary: The ApiKey object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update current API key.  (Requires current API connection to be using an API key.)
      tags:
        - api_key
      x-authentication:
        - native_app
        - office_integration
  /api_keys:
    get:
      description: List Api Keys
      operationId: GetApiKeys
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[expires_at]=desc`). Valid fields are `expires_at`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[expires_at]=desc`). Valid fields are `expires_at`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specified field is greater than the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specified field is less than the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than the supplied value. Valid fields are `expires_at`.
        - description: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `expires_at`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `expires_at`.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ApiKeyEntity"
                type: array
          description: A list of ApiKeys objects.
          x-ms-summary: A list of ApiKeys objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Api Keys
      tags:
        - api_keys
      x-authentication:
        - self_managed
      x-path_aliases:
        - site/api_keys
        - user/api_keys
        - users/:user_id/api_keys
    post:
      description: Create Api Key
      operationId: PostApiKeys
      requestBody:
        $ref: "#/components/requestBodies/PostApiKeys"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Api Key
      tags:
        - api_keys
      x-authentication: []
      x-path_aliases:
        - site/api_keys
        - user/api_keys
        - users/:user_id/api_keys
  "/api_keys/{id}":
    delete:
      description: Delete Api Key
      operationId: DeleteApiKeysId
      parameters:
        - description: Api Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Api Key ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete Api Key
      tags:
        - api_keys
      x-authentication:
        - self_managed
    get:
      description: Show Api Key
      operationId: GetApiKeysId
      parameters:
        - description: Api Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Api Key ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Api Key
      tags:
        - api_keys
      x-authentication:
        - self_managed
    patch:
      description: Update Api Key
      operationId: PatchApiKeysId
      parameters:
        - description: Api Key ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Api Key ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                description:
                  description: User-supplied description of API key.
                  example: example
                  type: string
                  x-ms-summary: User-supplied description of API key.
                expires_at:
                  description: API Key expiration date
                  example: 2000-01-01T01:00:00Z
                  format: date-time
                  type: string
                  x-ms-summary: API Key expiration date
                name:
                  description: Internal name for the API Key.  For your use.
                  example: My Main API Key
                  type: string
                  x-ms-summary: Internal name for the API Key.  For your use.
                permission_set:
                  description: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
                  enum:
                    - none
                    - full
                    - desktop_app
                    - sync_app
                    - office_integration
                    - mobile_app
                  example: full
                  type: string
                  x-ms-summary: Permissions for this API Key.  Keys with the `desktop_app` permission set only have the ability to do the functions provided in our Desktop App (File and Share Link operations).  Additional permission sets may become available in the future, such as for a Site Admin to give a key with no administrator privileges.  If you have ideas for permission sets, please let us know.
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyEntity"
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update Api Key
      tags:
        - api_keys
      x-authentication:
        - self_managed
  /apps:
    get:
      description: List Apps
      operationId: GetApps
      parameters:
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[name]=desc`). Valid fields are `name` and `app_type`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[name]=desc`). Valid fields are `name` and `app_type`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
        - description: If set, return records where the specified field is greater than the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
        - description: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
        - description: If set, return records where the specified field is less than the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
        - description: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `name` and `app_type`. Valid field combinations are `[ name, app_type ]` and `[ app_type, name ]`.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AppEntity"
                type: array
          description: A list of Apps objects.
          x-ms-summary: A list of Apps objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Apps
      tags:
        - apps
      x-authentication:
        - none
  /as2_incoming_messages:
    get:
      description: List As2 Incoming Messages
      operationId: GetAs2IncomingMessages
      parameters:
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are `created_at` and `as2_partner_id`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are `created_at` and `as2_partner_id`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is greater than the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is less than the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `created_at`.
        - description: As2 Partner ID.  If provided, will return message specific to that partner.
          in: query
          name: as2_partner_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Partner ID.  If provided, will return message specific to that partner.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/As2IncomingMessageEntity"
                type: array
          description: A list of As2IncomingMessages objects.
          x-ms-summary: A list of As2IncomingMessages objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Incoming Messages
      tags:
        - as2_incoming_messages
      x-authentication:
        - site
  /as2_outgoing_messages:
    get:
      description: List As2 Outgoing Messages
      operationId: GetAs2OutgoingMessages
      parameters:
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are `created_at` and `as2_partner_id`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are `created_at` and `as2_partner_id`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is greater than the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is less than the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than the supplied value. Valid fields are `created_at`.
        - description: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `created_at`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `created_at`.
        - description: As2 Partner ID.  If provided, will return message specific to that partner.
          in: query
          name: as2_partner_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Partner ID.  If provided, will return message specific to that partner.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/As2OutgoingMessageEntity"
                type: array
          description: A list of As2OutgoingMessages objects.
          x-ms-summary: A list of As2OutgoingMessages objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Outgoing Messages
      tags:
        - as2_outgoing_messages
      x-authentication:
        - site
  /as2_partners:
    get:
      description: List As2 Partners
      operationId: GetAs2Partners
      parameters:
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/As2PartnerEntity"
                type: array
          description: A list of As2Partners objects.
          x-ms-summary: A list of As2Partners objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Partners
      tags:
        - as2_partners
      x-authentication:
        - site
    post:
      description: Create As2 Partner
      operationId: PostAs2Partners
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                as2_station_id:
                  description: Id of As2Station for this partner
                  format: int32
                  type: integer
                  x-ms-summary: Id of As2Station for this partner
                name:
                  description: AS2 Name
                  type: string
                  x-ms-summary: AS2 Name
                public_certificate:
                  type: string
                  x-ms-summary: null
                server_certificate:
                  description: Remote server certificate security setting
                  type: string
                  x-ms-summary: Remote server certificate security setting
                uri:
                  description: URL base for AS2 responses
                  type: string
                  x-ms-summary: URL base for AS2 responses
              required:
                - name
                - uri
                - public_certificate
                - as2_station_id
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2PartnerEntity"
          description: The As2Partners object.
          x-ms-summary: The As2Partners object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create As2 Partner
      tags:
        - as2_partners
      x-authentication:
        - site
  "/as2_partners/{id}":
    delete:
      description: Delete As2 Partner
      operationId: DeleteAs2PartnersId
      parameters:
        - description: As2 Partner ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Partner ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete As2 Partner
      tags:
        - as2_partners
      x-authentication:
        - site
    get:
      description: Show As2 Partner
      operationId: GetAs2PartnersId
      parameters:
        - description: As2 Partner ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Partner ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2PartnerEntity"
          description: The As2Partners object.
          x-ms-summary: The As2Partners object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show As2 Partner
      tags:
        - as2_partners
      x-authentication:
        - site
    patch:
      description: Update As2 Partner
      operationId: PatchAs2PartnersId
      parameters:
        - description: As2 Partner ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Partner ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                name:
                  description: AS2 Name
                  type: string
                  x-ms-summary: AS2 Name
                public_certificate:
                  type: string
                  x-ms-summary: null
                server_certificate:
                  description: Remote server certificate security setting
                  type: string
                  x-ms-summary: Remote server certificate security setting
                uri:
                  description: URL base for AS2 responses
                  type: string
                  x-ms-summary: URL base for AS2 responses
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2PartnerEntity"
          description: The As2Partners object.
          x-ms-summary: The As2Partners object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update As2 Partner
      tags:
        - as2_partners
      x-authentication:
        - site
  /as2_stations:
    get:
      description: List As2 Stations
      operationId: GetAs2Stations
      parameters:
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/As2StationEntity"
                type: array
          description: A list of As2Stations objects.
          x-ms-summary: A list of As2Stations objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Stations
      tags:
        - as2_stations
      x-authentication:
        - site
    post:
      description: Create As2 Station
      operationId: PostAs2Stations
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                name:
                  description: AS2 Name
                  type: string
                  x-ms-summary: AS2 Name
                private_key:
                  type: string
                  x-ms-summary: null
                private_key_password:
                  type: string
                  x-ms-summary: null
                public_certificate:
                  type: string
                  x-ms-summary: null
              required:
                - name
                - public_certificate
                - private_key
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2StationEntity"
          description: The As2Stations object.
          x-ms-summary: The As2Stations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create As2 Station
      tags:
        - as2_stations
      x-authentication:
        - site
  "/as2_stations/{id}":
    delete:
      description: Delete As2 Station
      operationId: DeleteAs2StationsId
      parameters:
        - description: As2 Station ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Station ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete As2 Station
      tags:
        - as2_stations
      x-authentication:
        - site
    get:
      description: Show As2 Station
      operationId: GetAs2StationsId
      parameters:
        - description: As2 Station ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Station ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2StationEntity"
          description: The As2Stations object.
          x-ms-summary: The As2Stations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show As2 Station
      tags:
        - as2_stations
      x-authentication:
        - site
    patch:
      description: Update As2 Station
      operationId: PatchAs2StationsId
      parameters:
        - description: As2 Station ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: As2 Station ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                name:
                  description: AS2 Name
                  type: string
                  x-ms-summary: AS2 Name
                private_key:
                  type: string
                  x-ms-summary: null
                private_key_password:
                  type: string
                  x-ms-summary: null
                public_certificate:
                  type: string
                  x-ms-summary: null
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/As2StationEntity"
          description: The As2Stations object.
          x-ms-summary: The As2Stations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update As2 Station
      tags:
        - as2_stations
      x-authentication:
        - site
  /automation_runs:
    get:
      description: List Automation Runs
      operationId: GetAutomationRuns
      parameters:
        - description: User ID.  Provide a value of `0` to operate the current session's user.
          in: query
          name: user_id
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: User ID.  Provide a value of `0` to operate the current session's user.
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are `created_at` and `status`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are `created_at` and `status`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `status`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `status`.
        - description: If set, return records where the specified field is greater than the supplied value. Valid fields are `status`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than the supplied value. Valid fields are `status`.
        - description: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `status`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `status`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `status`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `status`.
        - description: If set, return records where the specified field is less than the supplied value. Valid fields are `status`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than the supplied value. Valid fields are `status`.
        - description: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `status`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `status`.
        - description: ID of the associated Automation.
          example: 1
          in: query
          name: automation_id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: ID of the associated Automation.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AutomationRunEntity"
                type: array
          description: A list of AutomationRuns objects.
          x-ms-summary: A list of AutomationRuns objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Automation Runs
      tags:
        - automation_runs
      x-authentication: []
  "/automation_runs/{id}":
    get:
      description: Show Automation Run
      operationId: GetAutomationRunsId
      parameters:
        - description: Automation Run ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Automation Run ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationRunEntity"
          description: The AutomationRuns object.
          x-ms-summary: The AutomationRuns object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Automation Run
      tags:
        - automation_runs
      x-authentication: []
  /automations:
    get:
      description: List Automations
      operationId: GetAutomations
      parameters:
        - description: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
          in: query
          name: cursor
          required: false
          schema:
            type: string
          x-ms-summary: "Used for pagination.  When a list request has more records available, cursors are provided in the response headers `X-Files-Cursor-Next` and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume an existing list from the next available record.  Note: many of our SDKs have iterator methods that will automatically handle cursor-based pagination."
        - description: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
          in: query
          name: per_page
          required: false
          schema:
            format: int32
            type: integer
          x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or less is recommended)."
        - description: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[automation]=desc`). Valid fields are `automation`, `disabled`, `last_modified_at` or `name`.
          in: query
          name: sort_by
          required: false
          schema:
            type: object
          x-ms-summary: If set, sort records by the specified field in either `asc` or `desc` direction (e.g. `sort_by[automation]=desc`). Valid fields are `automation`, `disabled`, `last_modified_at` or `name`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
          in: query
          name: filter
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
        - description: If set, return records where the specified field is greater than the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
          in: query
          name: filter_gt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
        - description: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
          in: query
          name: filter_gteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is greater than or equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
        - description: If set, return records where the specified field is equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
          in: query
          name: filter_like
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
        - description: If set, return records where the specified field is less than the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
          in: query
          name: filter_lt
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
        - description: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
          in: query
          name: filter_lteq
          required: false
          schema:
            type: object
          x-ms-summary: If set, return records where the specified field is less than or equal to the supplied value. Valid fields are `automation`, `last_modified_at` or `disabled`. Valid field combinations are `[ automation, disabled ]` and `[ disabled, automation ]`.
        - description: Set to true to include deleted automations in the results.
          in: query
          name: with_deleted
          required: false
          schema:
            type: boolean
          x-ms-summary: Set to true to include deleted automations in the results.
        - description: "DEPRECATED: Type of automation to filter by. Use `filter[automation]` instead."
          in: query
          name: automation
          required: false
          schema:
            type: string
          x-ms-summary: "DEPRECATED: Type of automation to filter by. Use `filter[automation]` instead."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AutomationEntity"
                type: array
          description: A list of Automations objects.
          x-ms-summary: A list of Automations objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Automations
      tags:
        - automations
      x-authentication:
        - folder_admin
    post:
      description: Create Automation
      operationId: PostAutomations
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                automation:
                  description: Automation type
                  enum:
                    - create_folder
                    - request_file
                    - request_move
                    - copy_newest_file
                    - delete_file
                    - copy_file
                    - move_file
                    - as2_send
                    - run_sync
                  example: create_folder
                  type: string
                  x-ms-summary: Automation type
                description:
                  description: Description for the this Automation.
                  example: example
                  type: string
                  x-ms-summary: Description for the this Automation.
                destination:
                  description: "DEPRECATED: Destination Path. Use `destinations` instead."
                  type: string
                  x-ms-summary: "DEPRECATED: Destination Path. Use `destinations` instead."
                destination_replace_from:
                  description: If set, this string in the destination path will be replaced with the value in `destination_replace_to`.
                  type: string
                  x-ms-summary: If set, this string in the destination path will be replaced with the value in `destination_replace_to`.
                destination_replace_to:
                  description: If set, this string will replace the value `destination_replace_from` in the destination filename. You can use special patterns here.
                  type: string
                  x-ms-summary: If set, this string will replace the value `destination_replace_from` in the destination filename. You can use special patterns here.
                destinations:
                  description: A list of String destination paths or Hash of folder_path and optional file_path.
                  example:
                    - folder_a/file_a.txt
                    - file_path: file_b.txt
                      folder_path: folder_b
                    - folder_path: folder_c
                  items:
                    type: string
                  type: array
                  x-ms-summary: A list of String destination paths or Hash of folder_path and optional file_path.
                disabled:
                  description: If true, this automation will not run.
                  example: true
                  type: boolean
                  x-ms-summary: If true, this automation will not run.
                group_ids:
                  description: A list of group IDs the automation is associated with. If sent as a string, it should be comma-delimited.
                  type: string
                  x-ms-summary: A list of group IDs the automation is associated with. If sent as a string, it should be comma-delimited.
                interval:
                  description: "How often to run this automation? One of: `day`, `week`, `week_end`, `month`, `month_end`, `quarter`, `quarter_end`, `year`, `year_end`"
                  example: year
                  type: string
                  x-ms-summary: "How often to run this automation? One of: `day`, `week`, `week_end`, `month`, `month_end`, `quarter`, `quarter_end`, `year`, `year_end`"
                name:
                  description: Name for this automation.
                  example: example
                  type: string
                  x-ms-summary: Name for this automation.
                path:
                  description: Path on which this Automation runs.  Supports globs.
                  type: string
                  x-ms-summary: Path on which this Automation runs.  Supports globs.
                schedule:
                  description: Custom schedule for running this automation.
                  example:
                    days_of_week:
                      - 0
                      - 1
                      - 3
                    time_zone: Eastern Time (US & Canada)
                    times_of_day:
                      - 7:30
                      - 11:30
                  type: object
                  x-ms-summary: Custom schedule for running this automation.
                source:
                  description: Source Path
                  example: source
                  type: string
                  x-ms-summary: Source Path
                sync_ids:
                  description: A list of sync IDs the automation is associated with. If sent as a string, it should be comma-delimited.
                  type: string
                  x-ms-summary: A list of sync IDs the automation is associated with. If sent as a string, it should be comma-delimited.
                trigger:
                  description: "How this automation is triggered to run. One of: `realtime`, `daily`, `custom_schedule`, `webhook`, `email`, or `action`."
                  enum:
                    - realtime
                    - daily
                    - custom_schedule
                    - webhook
                    - email
                    - action
                  example: realtime
                  type: string
                  x-ms-summary: "How this automation is triggered to run. One of: `realtime`, `daily`, `custom_schedule`, `webhook`, `email`, or `action`."
                trigger_actions:
                  description: If trigger is `action`, this is the list of action types on which to trigger the automation. Valid actions are create, read, update, destroy, move, copy
                  example:
                    - create
                  items:
                    type: string
                  type: array
                  x-ms-summary: If trigger is `action`, this is the list of action types on which to trigger the automation. Valid actions are create, read, update, destroy, move, copy
                user_ids:
                  description: A list of user IDs the automation is associated with. If sent as a string, it should be comma-delimited.
                  type: string
                  x-ms-summary: A list of user IDs the automation is associated with. If sent as a string, it should be comma-delimited.
                value:
                  description: A Hash of attributes specific to the automation type.
                  example:
                    limit: "1"
                  type: object
                  x-ms-summary: A Hash of attributes specific to the automation type.
              required:
                - automation
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationEntity"
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Automation
      tags:
        - automations
      x-authentication:
        - folder_admin
  "/automations/{id}":
    delete:
      description: Delete Automation
      operationId: DeleteAutomationsId
      parameters:
        - description: Automation ID.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
          x-ms-summary: Automation ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
[...]
