swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /replicapoolupdater/v1beta1/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: '[Deprecated. Please use compute.instanceGroupManagers.update method. replicapoolupdater API will be disabled after December 30th, 2016] Updates groups of Compute Engine instances.'
  title: Google Compute Engine Instance Group Updater
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/replicapoolupdater/v1beta1/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: replicapoolupdater
externalDocs:
  url: 'https://cloud.google.com/compute/docs/instance-groups/manager/#applying_rolling_updates_using_the_updater_service'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/replicapool': View and manage replica pools
      'https://www.googleapis.com/auth/replicapool.readonly': View replica pools
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: rollingUpdates
  - name: rollout
  - name: zoneOperations
paths:
  '/{project}/zones/{zone}/operations':
    get:
      description: Retrieves the list of Operation resources contained within the specified zone.
      operationId: replicapoolupdater.zoneOperations.list
      parameters:
        - description: Name of the project scoping this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the zone scoping this request.
          in: path
          name: zone
          required: true
          type: string
        - description: Optional. Filter expression for filtering listed resources.
          in: query
          name: filter
          type: string
        - default: 500
          description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - zoneOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/operations/{operation}':
    get:
      description: Retrieves the specified zone-specific operation resource.
      operationId: replicapoolupdater.zoneOperations.get
      parameters:
        - description: Name of the project scoping this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the zone scoping this request.
          in: path
          name: zone
          required: true
          type: string
        - description: Name of the operation resource to return.
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - zoneOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/rollingUpdates':
    get:
      description: 'Lists recent updates for a given managed instance group, in reverse chronological order and paginated format.'
      operationId: replicapoolupdater.rollingUpdates.list
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: Optional. Filter expression for filtering listed resources.
          in: query
          name: filter
          type: string
        - default: 500
          description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RollingUpdateList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool.readonly'
      tags:
        - rollingUpdates
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts and starts a new update.
      operationId: replicapoolupdater.rollingUpdates.insert
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RollingUpdate'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollingUpdates
  '/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}':
    get:
      description: Returns information about an update.
      operationId: replicapoolupdater.rollingUpdates.get
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the update.
          in: path
          name: rollingUpdate
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RollingUpdate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool.readonly'
      tags:
        - rollingUpdates
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancels an update. The update must be PAUSED before it can be cancelled. This has no effect if the update is already CANCELLED.
      operationId: replicapoolupdater.rollingUpdates.cancel
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the update.
          in: path
          name: rollingUpdate
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollingUpdates
  '/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/instanceUpdates':
    get:
      description: Lists the current status for each instance within a given update.
      operationId: replicapoolupdater.rollingUpdates.listInstanceUpdates
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the update.
          in: path
          name: rollingUpdate
          required: true
          type: string
        - description: Optional. Filter expression for filtering listed resources.
          in: query
          name: filter
          type: string
        - default: 500
          description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InstanceUpdateList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool.readonly'
      tags:
        - rollingUpdates
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/pause':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Pauses the update in state from ROLLING_FORWARD or ROLLING_BACK. Has no effect if invoked when the state of the update is PAUSED.
      operationId: replicapoolupdater.rollingUpdates.pause
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the update.
          in: path
          name: rollingUpdate
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollingUpdates
  '/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/resume':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Continues an update in PAUSED state. Has no effect if invoked when the state of the update is ROLLED_OUT.
      operationId: replicapoolupdater.rollingUpdates.resume
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the update.
          in: path
          name: rollingUpdate
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollingUpdates
  '/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/rollback':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Rolls back the update in state from ROLLING_FORWARD or PAUSED. Has no effect if invoked when the state of the update is ROLLED_BACK.
      operationId: replicapoolupdater.rollingUpdates.rollback
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the update.
          in: path
          name: rollingUpdate
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollingUpdates
  '/{project}/zones/{zone}/rollouts':
    get:
      description: Resume a rollout. This lets the rollout continue updating instances after a pause.
      operationId: replicapoolupdater.rollout.list
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: Optional. Filter expression for filtering listed resources.
          in: query
          name: filter
          type: string
        - default: 500
          description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListRolloutResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool.readonly'
      tags:
        - rollout
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts and starts a new rollout
      operationId: replicapoolupdater.rollout.insert
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: How the update policy should be initialised.
          enum:
            - FROM_IGM
            - FROM_PARENT
          in: query
          name: updatePolicyInitialisationMethod
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Rollout'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
  '/{project}/zones/{zone}/rollouts/{rollout}':
    get:
      description: Get the details of a rollout
      operationId: replicapoolupdater.rollout.get
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool.readonly'
      tags:
        - rollout
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/rollouts/{rollout}/abandon':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Abandon a rollout, leaving the IGM in the state it is already configured. This allows you to apply a new rollout to the IGM.'
      operationId: replicapoolupdater.rollout.abandon
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
  '/{project}/zones/{zone}/rollouts/{rollout}/commit':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Commits a rollout, so that it is final and can not be rolled back'
      operationId: replicapoolupdater.rollout.commit
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
  '/{project}/zones/{zone}/rollouts/{rollout}/pause':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Pause the application of a rollout. This stops the update, and the instances managed by the instance group manager do not change their instance templates.'
      operationId: replicapoolupdater.rollout.pause
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
  '/{project}/zones/{zone}/rollouts/{rollout}/rampup':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Change the amount of instances within an IGM that should be updated to the new instance template
      operationId: replicapoolupdater.rollout.rampup
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RampUpRolloutRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
  '/{project}/zones/{zone}/rollouts/{rollout}/resume':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resume a rollout. This lets the rollout continue updating instances after a pause.
      operationId: replicapoolupdater.rollout.resume
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
  '/{project}/zones/{zone}/rollouts/{rollout}/rollback':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Rollback a rollout, cancelling the update and changing all instances with the updated version to have the instanceTemplateToRollback template.'
      operationId: replicapoolupdater.rollout.rollback
      parameters:
        - description: The Google Developers Console project name.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the zone in which the update's target resides.
          in: path
          name: zone
          required: true
          type: string
        - description: The ID of the update.
          in: path
          name: rollout
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/replicapool'
      tags:
        - rollout
definitions:
  FixedOrPercent:
    description: Used to specify an amount of instances within an instance group. Only one of fixed and percentage can be specified.
    properties:
      fixed:
        description: Specify a fixed amount of instances
        format: int32
        type: integer
      percent:
        description: Specify a percentage of the total amount of instances within an instance group manager
        format: int32
        type: integer
    type: object
  InstanceUpdate:
    description: Update of a single instance.
    properties:
      error:
        description: Errors that occurred during the instance update.
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      instance:
        description: Fully-qualified URL of the instance being updated.
        type: string
      status:
        description: |-
          Status of the instance update. Possible values are:  
          - "PENDING": The instance update is pending execution. 
          - "ROLLING_FORWARD": The instance update is going forward. 
          - "ROLLING_BACK": The instance update is being rolled back. 
          - "PAUSED": The instance update is temporarily paused (inactive). 
          - "ROLLED_OUT": The instance update is finished, the instance is running the new template. 
          - "ROLLED_BACK": The instance update is finished, the instance has been reverted to the previous template. 
          - "CANCELLED": The instance update is paused and no longer can be resumed, undefined in which template the instance is running.
        type: string
    type: object
  InstanceUpdateList:
    description: Response returned by ListInstanceUpdates method.
    properties:
      items:
        description: Collection of requested instance updates.
        items:
          $ref: '#/definitions/InstanceUpdate'
        type: array
      kind:
        default: 'replicapoolupdater#instanceUpdateList'
        description: '[Output Only] Type of the resource.'
        type: string
      nextPageToken:
        description: A token used to continue a truncated list request.
        type: string
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
    type: object
  ListRolloutResponse:
    properties:
      resources:
        items:
          $ref: '#/definitions/Rollout'
        type: array
    type: object
  Operation:
    description: 'An operation resource, used to manage asynchronous API requests.'
    properties:
      clientOperationId:
        type: string
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      endTime:
        type: string
      error:
        description: '[Output Only] If errors occurred during processing of this operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      httpErrorMessage:
        type: string
      httpErrorStatusCode:
        format: int32
        type: integer
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      insertTime:
        description: '[Output Only] The time that this operation was requested. This is in RFC 3339 format.'
        type: string
      kind:
        default: 'replicapoolupdater#operation'
        description: '[Output Only] Type of the resource. Always replicapoolupdater#operation for Operation resources.'
        type: string
      name:
        description: '[Output Only] Name of the resource.'
        type: string
      operationType:
        type: string
      progress:
        format: int32
        type: integer
      region:
        description: '[Output Only] URL of the region where the operation resides.'
        type: string
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
      startTime:
        description: '[Output Only] The time that this operation was started by the server. This is in RFC 3339 format.'
        type: string
      status:
        description: '[Output Only] Status of the operation. Can be one of the following: "PENDING", "RUNNING", or "DONE".'
        type: string
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
      targetId:
        description: '[Output Only] Unique target id which identifies a particular incarnation of the target.'
        format: uint64
        type: string
      targetLink:
        description: '[Output Only] URL of the resource the operation is mutating.'
        type: string
      user:
        type: string
      warnings:
        items:
          properties:
            code:
              description: '[Output only] The warning type identifier for this warning.'
              type: string
            data:
              description: '[Output only] Metadata for this warning in key:value format.'
              items:
                properties:
                  key:
                    description: '[Output Only] Metadata key for this warning.'
                    type: string
                  value:
                    description: '[Output Only] Metadata value for this warning.'
                    type: string
                type: object
              type: array
            message:
              description: '[Output only] Optional human-readable details for this warning.'
              type: string
          type: object
        type: array
      zone:
        description: '[Output Only] URL of the zone where the operation resides.'
        type: string
    type: object
  OperationList:
    description: Contains a list of Operation resources.
    properties:
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
      items:
        description: '[Output Only] The Operation resources.'
        items:
          $ref: '#/definitions/Operation'
        type: array
      kind:
        default: 'replicapoolupdater#operationList'
        description: '[Output Only] Type of resource. Always replicapoolupdater#operationList for OperationList resources.'
        type: string
      nextPageToken:
        description: '[Output Only] A token used to continue a truncate.'
        type: string
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
    type: object
  RampUpRolloutRequest:
    properties:
      canarySize:
        $ref: '#/definitions/FixedOrPercent'
        description: The new amount of instances in the IGM to update instances to.
    type: object
  RollingUpdate:
    description: The following represents a resource describing a single update (rollout) of a group of instances to the given template.
    properties:
      actionType:
        description: Specifies the action to take for each instance within the instance group. This can be RECREATE which will recreate each instance and is only available for managed instance groups. It can also be REBOOT which performs a soft reboot for each instance and is only available for regular (non-managed) instance groups.
        type: string
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: An optional textual description of the resource; provided by the client when the resource is created.
        type: string
      error:
        description: '[Output Only] Errors that occurred during the rolling update.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
      instanceGroup:
        description: Fully-qualified URL of an instance group being updated. Exactly one of instanceGroupManager and instanceGroup must be set.
        type: string
      instanceGroupManager:
        description: Fully-qualified URL of an instance group manager being updated. Exactly one of instanceGroupManager and instanceGroup must be set.
        type: string
      instanceTemplate:
        description: Fully-qualified URL of an instance template to apply.
        type: string
      kind:
        default: 'replicapoolupdater#rollingUpdate'
        description: '[Output Only] Type of the resource.'
        type: string
      oldInstanceTemplate:
        description: Fully-qualified URL of the instance template encountered while starting the update.
        type: string
      policy:
        description: Parameters of the update process.
        properties:
          autoPauseAfterInstances:
            description: Number of instances to update before the updater pauses the rolling update.
            format: int32
            type: integer
          instanceStartupTimeoutSec:
            description: 'The maximum amount of time that the updater waits for a HEALTHY state after all of the update steps are complete. If the HEALTHY state is not received before the deadline, the instance update is considered a failure.'
            format: int32
            type: integer
          maxNumConcurrentInstances:
            description: The maximum number of instances that can be updated simultaneously. An instance update is considered complete only after the instance is restarted and initialized.
            format: int32
            type: integer
          maxNumFailedInstances:
            description: 'The maximum number of instance updates that can fail before the group update is considered a failure. An instance update is considered failed if any of its update actions (e.g. Stop call on Instance resource in Rolling Reboot) failed with permanent failure, or if the instance is in an UNHEALTHY state after it finishes all of the update actions.'
            format: int32
            type: integer
          minInstanceUpdateTimeSec:
            description: 'The minimum amount of time that the updater spends to update each instance. Update time is the time it takes to complete all update actions (e.g. Stop call on Instance resource in Rolling Reboot), reboot, and initialize. If the instance update finishes early, the updater pauses for the remainder of the time before it starts the next instance update.'
            format: int32
            type: integer
        type: object
      progress:
        description: '[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the update will be complete. This number should be monotonically increasing as the update progresses.'
        format: int32
        type: integer
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
      status:
        description: |-
          [Output Only] Status of the update. Possible values are:  
          - "ROLLING_FORWARD": The update is going forward. 
          - "ROLLING_BACK": The update is being rolled back. 
          - "PAUSED": The update is temporarily paused (inactive). 
          - "ROLLED_OUT": The update is finished, all instances have been updated successfully. 
          - "ROLLED_BACK": The update is finished, all instances have been reverted to the previous template. 
          - "CANCELLED": The update is paused and no longer can be resumed, undefined how many instances are running in which template.
        type: string
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the update.'
        type: string
      user:
        description: '[Output Only] User who requested the update, for example: user@example.com.'
        type: string
    type: object
  RollingUpdateList:
    description: Response returned by List method.
    properties:
      items:
        description: Collection of requested updates.
        items:
          $ref: '#/definitions/RollingUpdate'
        type: array
      kind:
        default: 'replicapoolupdater#rollingUpdateList'
        description: '[Output Only] Type of the resource.'
        type: string
      nextPageToken:
        description: A token used to continue a truncated list request.
        type: string
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
    type: object
  Rollout:
    properties:
      canarySize:
        $ref: '#/definitions/FixedOrPercent'
        description: The amount of instances within the instance group manager to be updated to the new instance template.
      canarySizeStages:
        description: 'A list of the amount of instances within the instance group manager to be updated to the new instance template. Each target size is updated sequentially, in the order supplied.'
        items:
          $ref: '#/definitions/FixedOrPercent'
        type: array
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      healthCheckDeadlineSec:
        description: How long to wait for the health checks to return positive before assuming the update has failed or succeeded.
        format: int64
        type: string
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
      instanceGroupManager:
        description: Fully-qualified URL of an instance group manager being updated.
        type: string
      instanceTemplate:
        description: Fully-qualified URL of an instance template to apply.
        type: string
      instanceTemplateToRollback:
        description: Fully-qualified URL of the instance template to rollback to if the rollout is cancelled.
        type: string
      kind:
        default: 'replicapoolupdater#rollout'
        description: '[Output Only] Type of the resource.'
        type: string
      parentRollout:
        description: The parent rollout to inherit unspecified fields from.
        type: string
      selfLink:
        description: '[Output Only] The fully qualified URL for the resource.'
        type: string
      state:
        description: '[Output Only] The current state of the rollout.'
        type: string
      updatePolicy:
        $ref: '#/definitions/UpdatePolicy'
        description: Parameters of the update process.
    type: object
  UpdatePolicy:
    properties:
      maxSurge:
        $ref: '#/definitions/FixedOrPercent'
        description: 'Maximum number of instances that can be created above the InstanceGroupManager.targetSize during the update process. By default, a fixed value of 1 is used. Using maxSurge > 0 will cause instance names to change during the update process. At least one of { maxSurge, maxUnavailable } must be greater than 0.'
      maxUnavailable:
        $ref: '#/definitions/FixedOrPercent'
        description: 'Maximum number of instances that can be unavailable during the update process. The instance is considered available if all of the following conditions are satisfied: 1. instance''s status is RUNNING 2. instance''s liveness health check result was observed to be HEALTHY at least once By default, a fixed value of 1 is used. At least one of { maxSurge, maxUnavailable } must be greater than 0.'
      minReadySec:
        description: 'Minimum number of seconds to wait for after a newly created instance becomes available. This value must be from range [0, 3600].'
        format: int32
        type: integer
      minimalAction:
        description: 'Minimal action to be taken on an instance. The order of action types is: RESTART < REPLACE.'
        type: string
      type:
        type: string
      updateType:
        description: The type of update
        type: string
    type: object
