swagger: '2.0'
schemes:
  - https
host: api.slideroom.com
info:
  description: "SlideRoom provides a RESTful API for exporting data out of your organization's SlideRoom account."
  title: SlideRoom API V2
  version: v2
  x-logo:
    url: 'http://www.slideroom.com/assets/img/sr_logo.png'
  x-origin:
    format: swagger
    url: 'https://api.slideroom.com/schema/v2'
    version: '2.0'
  x-providerName: slideroom.com
paths:
  /api/v2/applicant/attributes:
    delete:
      consumes: []
      deprecated: false
      operationId: Applicant_DeleteAttributesV2
      parameters:
        - description: The email address of the applicant.
          in: query
          name: email
          required: true
          type: string
        - description: The name of the attribute to be deleted.
          in: query
          name: name
          required: true
          type: string
        - enum:
            - Standard
            - CommonAppSDS
          in: query
          name: pool
          required: false
          type: string
        - format: int32
          in: query
          name: commonAppYear
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Deletes a custom attribute for an applicant.
      tags:
        - Applicant
    get:
      consumes: []
      deprecated: false
      operationId: Applicant_GetAttributesV2
      parameters:
        - description: The email address of the applicant.
          in: query
          name: email
          required: true
          type: string
        - enum:
            - Standard
            - CommonAppSDS
          in: query
          name: pool
          required: false
          type: string
        - format: int32
          in: query
          name: commonAppYear
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          examples:
            application/json:
              name1: Value1
              name2: Value2
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Gets the custom attributes for an applicant.
      tags:
        - Applicant
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'This method only adds or updates attributes. Null values will be updated as nulls, but not deleted. API Import is available in the Advanced Plan.'
      operationId: Applicant_PostAttributesV2
      parameters:
        - description: The email address of the applicant.
          in: query
          name: email
          required: true
          type: string
        - description: The name/value pairs of the attributes.
          in: body
          name: data
          required: true
          schema:
            additionalProperties:
              type: string
            example:
              name1: Value1
              name2: Value2
            type: object
        - enum:
            - Standard
            - CommonAppSDS
          in: query
          name: pool
          required: false
          type: string
        - format: int32
          in: query
          name: commonAppYear
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Updates the custom attributes for an applicant.
      tags:
        - Applicant
  /api/v2/applicant/attributes/names:
    get:
      consumes: []
      deprecated: false
      operationId: Applicant_GetAttributeNamesV2
      parameters: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the custom applicant attributes used by the organization.
      tags:
        - Applicant
  /api/v2/application/request-export:
    post:
      consumes: []
      deprecated: false
      operationId: Application_RequestExportV2
      parameters:
        - enum:
            - csv
            - txt
            - tab
            - xlsx
            - pdf
            - zip
          in: query
          name: format
          required: false
          type: string
        - description: "Selects which evaluation round(s) should be used in the result.  Current: use evaluations from the program's current round.  Assigned: use evaluations from the round the application is currently assigned, Named: use evaluations from a specific round.  All: include all evaluation rounds (not applicable on tabular exports)."
          enum:
            - Assigned
            - Current
            - Named
            - All
          in: query
          name: roundType
          required: false
          type: string
        - description: 'The round used to filter the data when roundtype is "Named"'
          in: query
          name: roundName
          required: false
          type: string
        - description: The title of the custom export defined within SlideRoom to use when generating a tabular export.  This value is REQUIRED when choosing any tabular format.
          in: query
          name: tab.export
          required: false
          type: string
        - description: Should the export include form answers
          in: query
          name: pdf.includeForms
          required: false
          type: boolean
        - description: Should the export include references
          in: query
          name: pdf.includeReferences
          required: false
          type: boolean
        - description: Should the export include a list of media uploaded by the applicant
          in: query
          name: pdf.includeMedia
          required: false
          type: boolean
        - description: Should the export include attachments provided by the applicant
          in: query
          name: pdf.includeApplicantAttachments
          required: false
          type: boolean
        - description: Should the export include attachments provided by the organization
          in: query
          name: pdf.includeOrganizationAttachments
          required: false
          type: boolean
        - description: Should the export include reviewer ratings
          in: query
          name: pdf.includeRatings
          required: false
          type: boolean
        - description: Should the export include full-page versions of images uploaded by the applicant
          in: query
          name: pdf.includeFullPageMedia
          required: false
          type: boolean
        - description: Should the export include reviewer highlights
          in: query
          name: pdf.includeHighlights
          required: false
          type: boolean
        - description: Should the export include comments from reviewers
          in: query
          name: pdf.includeComments
          required: false
          type: boolean
        - description: Should the export include data from the Common Application
          in: query
          name: pdf.includeCommonApp
          required: false
          type: boolean
        - description: Should the export include the original media uploaded by the applicant
          in: query
          name: zip.originalMedia
          required: false
          type: boolean
        - description: Should the export include form answers
          in: query
          name: zip.includeForms
          required: false
          type: boolean
        - description: Should the export include references
          in: query
          name: zip.includeReferences
          required: false
          type: boolean
        - description: Should the export include a list of media uploaded by the applicant
          in: query
          name: zip.includeMedia
          required: false
          type: boolean
        - description: Should the export include attachments provided by the applicant
          in: query
          name: zip.includeApplicantAttachments
          required: false
          type: boolean
        - description: Should the export include attachments provided by the organization
          in: query
          name: zip.includeOrganizationAttachments
          required: false
          type: boolean
        - description: Should the export include reviewer ratings
          in: query
          name: zip.includeRatings
          required: false
          type: boolean
        - description: Should the export include comments from reviewers
          in: query
          name: zip.includeComments
          required: false
          type: boolean
        - description: Should the export include data from the Common Application
          in: query
          name: zip.includeCommonApp
          required: false
          type: boolean
        - description: Optionally specifies the pre-configured name of an external storage account (such as Dropbox) to deliver the export.
          in: query
          name: delivery.account
          required: false
          type: string
        - description: Optionally specifies the subfolder in which to deliver the export when using an external storage account.
          in: query
          name: delivery.folder
          required: false
          type: string
        - description: 'Limit result to applications submitted after the "since" date. Format as the number of seconds since 1/1/1970 GMT.'
          format: int32
          in: query
          name: since
          required: false
          type: integer
        - description: The application pool to be searched
          enum:
            - All
            - Current
            - Archived
            - CommonAppSDS
          in: query
          name: pool
          required: false
          type: string
        - description: Filter the search to only include applications with this status.
          enum:
            - All
            - InProgress
            - Submitted
          in: query
          name: status
          required: false
          type: string
        - description: The named of the saved search to use to define the export list. Required.
          in: query
          name: searchName
          required: false
          type: string
        - description: 'The email address of a user within SlideRoom to use when "scoping" data.  This will limit the result set to applications the user is permitted to see, as well as drive the "My Rating" search criteria.'
          in: query
          name: email
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RequestApplicationExportResultV2'
      tags:
        - Application
  '/api/v2/application/{applicationId}/attributes':
    delete:
      consumes: []
      deprecated: false
      operationId: Application_DeleteAttributesV2
      parameters:
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          type: string
        - description: The name of the attribute to be deleted.
          in: query
          name: name
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Deletes a custom attribute for an application.
      tags:
        - Application
    get:
      consumes: []
      deprecated: false
      operationId: Application_GetAttributesV2
      parameters:
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          examples:
            application/json:
              name1: Value1
              name2: Value2
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Gets the custom attributes for an application.
      tags:
        - Application
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'This method only adds or updates attributes. Null values will be updated as nulls, but not deleted.'
      operationId: Application_PostAttributesV2
      parameters:
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          type: string
        - description: The name/value pairs of the attributes.
          in: body
          name: data
          required: true
          schema:
            additionalProperties:
              type: string
            example:
              name1: Value1
              name2: Value2
            type: object
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Updates the custom attributes for an application. API Import is available in the Advanced Plan.
      tags:
        - Application
  '/api/v2/application/{applicationId}/request-export':
    post:
      consumes: []
      deprecated: false
      operationId: Application_RequestExportByApplicationIdV2
      parameters:
        - in: path
          name: applicationId
          required: true
          type: string
        - enum:
            - csv
            - txt
            - tab
            - xlsx
            - pdf
            - zip
          in: query
          name: format
          required: false
          type: string
        - description: "Selects which evaluation round(s) should be used in the result.  Current: use evaluations from the program's current round.  Assigned: use evaluations from the round the application is currently assigned, Named: use evaluations from a specific round.  All: include all evaluation rounds (not applicable on tabular exports)."
          enum:
            - Assigned
            - Current
            - Named
            - All
          in: query
          name: roundType
          required: false
          type: string
        - description: 'The round used to filter the data when roundtype is "Named"'
          in: query
          name: roundName
          required: false
          type: string
        - description: The title of the custom export defined within SlideRoom to use when generating a tabular export.  This value is REQUIRED when choosing any tabular format.
          in: query
          name: tab.export
          required: false
          type: string
        - description: Should the export include form answers
          in: query
          name: pdf.includeForms
          required: false
          type: boolean
        - description: Should the export include references
          in: query
          name: pdf.includeReferences
          required: false
          type: boolean
        - description: Should the export include a list of media uploaded by the applicant
          in: query
          name: pdf.includeMedia
          required: false
          type: boolean
        - description: Should the export include attachments provided by the applicant
          in: query
          name: pdf.includeApplicantAttachments
          required: false
          type: boolean
        - description: Should the export include attachments provided by the organization
          in: query
          name: pdf.includeOrganizationAttachments
          required: false
          type: boolean
        - description: Should the export include reviewer ratings
          in: query
          name: pdf.includeRatings
          required: false
          type: boolean
        - description: Should the export include full-page versions of images uploaded by the applicant
          in: query
          name: pdf.includeFullPageMedia
          required: false
          type: boolean
        - description: Should the export include reviewer highlights
          in: query
          name: pdf.includeHighlights
          required: false
          type: boolean
        - description: Should the export include comments from reviewers
          in: query
          name: pdf.includeComments
          required: false
          type: boolean
        - description: Should the export include data from the Common Application
          in: query
          name: pdf.includeCommonApp
          required: false
          type: boolean
        - description: Should the export include the original media uploaded by the applicant
          in: query
          name: zip.originalMedia
          required: false
          type: boolean
        - description: Should the export include form answers
          in: query
          name: zip.includeForms
          required: false
          type: boolean
        - description: Should the export include references
          in: query
          name: zip.includeReferences
          required: false
          type: boolean
        - description: Should the export include a list of media uploaded by the applicant
          in: query
          name: zip.includeMedia
          required: false
          type: boolean
        - description: Should the export include attachments provided by the applicant
          in: query
          name: zip.includeApplicantAttachments
          required: false
          type: boolean
        - description: Should the export include attachments provided by the organization
          in: query
          name: zip.includeOrganizationAttachments
          required: false
          type: boolean
        - description: Should the export include reviewer ratings
          in: query
          name: zip.includeRatings
          required: false
          type: boolean
        - description: Should the export include comments from reviewers
          in: query
          name: zip.includeComments
          required: false
          type: boolean
        - description: Should the export include data from the Common Application
          in: query
          name: zip.includeCommonApp
          required: false
          type: boolean
        - description: Optionally specifies the pre-configured name of an external storage account (such as Dropbox) to deliver the export.
          in: query
          name: delivery.account
          required: false
          type: string
        - description: Optionally specifies the subfolder in which to deliver the export when using an external storage account.
          in: query
          name: delivery.folder
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/RequestApplicationExportResultV2'
        '400':
          description: Bad Request
      tags:
        - Application
  '/api/v2/export/{token}':
    get:
      consumes: []
      deprecated: false
      operationId: Export_GetV2
      parameters:
        - description: ''
          format: int32
          in: path
          name: token
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExportResultV2'
      summary: Gets the status/result of a requested export.
      tags:
        - Export
definitions:
  ExportResultV2:
    properties:
      completed_files:
        format: int32
        type: integer
      file_urls:
        items:
          type: string
        type: array
      status:
        type: string
      total_files:
        format: int32
        type: integer
    type: object
  RequestApplicationExportResultV2:
    properties:
      message:
        type: string
      submissions:
        format: int32
        type: integer
      token:
        format: int32
        type: integer
    type: object
  WebhookResultV2: {}
