swagger: '2.0'
schemes:
  - https
host: api.gamesparks.net
info:
  contact:
    email: info@gamesparks.com
    x-twitter: GameSparksltd
  description: 'All Request objects can be passed to this API. This interface is designed for server-to-server connections and a playerId can be passed to indicate the playerId you want the request to be processed as. An optional authToken may also be required, depending on your credential settings.<br>Both playerId and authToken should be passed as parameters in the body of the request.<br> The structure of the host is:{apiKey}.{stage}.gamesparks.net'
  termsOfService: 'http://www.gamesparks.com/gamesparks-terms-of-use/'
  title: GameSparks Request
  version: v1.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://twitter.com/GameSparksltd/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://api.gamesparks.net/restRequestApiDocs.json'
      version: '2.0'
  x-providerName: gamesparks.net
  x-serviceName: request
tags:
  - name: Player
  - name: Multiplayer
  - name: Events
  - name: Authentication
  - name: Misc
  - name: Store
  - name: Teams
  - name: Admin
  - name: Analytics
  - name: Leaderboards
  - name: Messages
paths:
  '/rs/{credential}/{secret}/AcceptChallengeRequest':
    post:
      description: Accepts a challenge that has been issued to the current player.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AcceptChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/AccountDetailsRequest':
    post:
      description: Retrieves the details of the current authenticated player.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountDetailsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountDetailsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/AmazonBuyGoodsRequest':
    post:
      description: "Processes the receipt from an Amazon in app purchase.\r\nThe GameSparks platform will validate the amazonUserId and receiptId with Amazon using the Amazon Purchase Secret configured against the game.\r\nThe receiptId in the data will be recorded and the request will be rejected if the receiptId has previously been processed, this prevents replay attacks.\r\nOnce verfied, the players account will be credited with the Virtual Good, or Virtual Currency the purchase contains. The virtual good will be looked up by matching the productId in the receipt with the 'Amazon Product Id' configured against the virtual good."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AmazonBuyGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuyVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/AmazonConnectRequest':
    post:
      description: "Allows an Amazon access token to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the Amazon platform and store them within GameSparks.\r\nIf the Amazon user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the Amazon user is not already registered with the game, the Amazon user will be linked to the current player.\r\nIf the current player has not authenticated and the Amazon user is not known, a new player will be created using the Amazon details and the session will be authenticated against the new player.\r\nIf the Amazon user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AmazonConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/AnalyticsRequest':
    post:
      description: "Records some custom analytical data.\r\nSimple analytics, where you just need to track the number of times something happened, just take a key parameter. We'll record the players id against the data to allow you to report on averages per user\r\nTimed analytics allow you to send start and end timer requests, and with this data GameSparks can track the length of time something takes.\r\nIf an end request is sent without a matching start timer the request will fail silently and your analytics data might not contain what you expect.\r\nIf both start and end are supplied, the request will be treated as a start timer.\r\nAn additional data payload can be attached to the event for advanced reporting. This data can be a string, number or JSON object.\r\nIf a second start timer is created using a key that has already had a start timer created without an end, the previous one will be marked as abandoned."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AnalyticsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AnalyticsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Analytics
  '/rs/{credential}/{secret}/AroundMeLeaderboardRequest':
    post:
      description: Returns leaderboard data that is adjacent to the currently signed in player's position within the given leaderboard.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AroundMeLeaderboardRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AroundMeLeaderboardResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Leaderboards
  '/rs/{credential}/{secret}/AuthenticationRequest':
    post:
      description: "Provides authentication using a username/password combination.\r\nThe username will have been previously created using a RegistrationRequest."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AuthenticationRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/BatchAdminRequest':
    post:
      description: Performs a request for multiple players.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/BatchAdminRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchAdminResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Admin
  '/rs/{credential}/{secret}/BuyVirtualGoodsRequest':
    post:
      description: Purchases a virtual good with an in game currency. Once purchased the virtual good will be added to the players account.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/BuyVirtualGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuyVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/CancelBulkJobAdminRequest':
    post:
      description: Cancel one or more bulk jobs.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CancelBulkJobAdminRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelBulkJobAdminResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Admin
  '/rs/{credential}/{secret}/ChangeUserDetailsRequest':
    post:
      description: Change the details of the currently signed in Player.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ChangeUserDetailsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ChangeUserDetailsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ChatOnChallengeRequest':
    post:
      description: "Sends a message to all players involved in the challenge. The current player must be involved in the challenge for the message to be sent.\r\nAs the message is sent to all players, the current player will also see details of the message in the response. Read the section on response message aggregation for a description of this."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ChatOnChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ChatOnChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/ConsumeVirtualGoodRequest':
    post:
      description: Consumes a given amount of the specified virtual good.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ConsumeVirtualGoodRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConsumeVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/CreateChallengeRequest':
    post:
      description: "Issues a challenge to a group of players from the currently signed in player.\r\nThe endTime field must be present unless the challenge template has an achievement set in the 'First to Achievement' field.\r\nThe usersToChallenge field must be present for this request if the acessType is PRIVATE (which is the default)."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CreateChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/CreateTeamRequest':
    post:
      description: Allows a new team to be created.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/CreateTeamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTeamResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/DeclineChallengeRequest':
    post:
      description: Declines a challenge that has been issued to the current player.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DeclineChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeclineChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/DeviceAuthenticationRequest':
    post:
      description: "Allows a device id to be used to create an anonymous profile in the game.\r\nThis allows the player to be tracked and have data stored against them before using FacebookConnectRequest to create a full profile.\r\nDeviceAuthenticationRequest should not be used in conjunction with RegistrationRequest as the two accounts will not be merged."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DeviceAuthenticationRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/DismissMessageRequest':
    post:
      description: Allows a message to be dismissed. Once dismissed the message will no longer appear in either ListMessageResponse or ListMessageSummaryResponse.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DismissMessageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DismissMessageResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/DismissMultipleMessagesRequest':
    post:
      description: Allows multiple messages to be dismissed. Once dismissed the messages will no longer appear in either ListMessageResponse or ListMessageSummaryResponse.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DismissMultipleMessagesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DismissMultipleMessagesResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/DropTeamRequest':
    post:
      description: Allows a player to drop a team.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/DropTeamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DropTeamResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/EndSessionRequest':
    post:
      description: "Records the end of the current player's active session.\r\nThe SDK will automatically create a new session ID when the application is started, this method can be useful to call when the app goes into the background to allow reporting on player session length."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/EndSessionRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EndSessionResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Analytics
  '/rs/{credential}/{secret}/FacebookConnectRequest':
    post:
      description: "Allows either a Facebook access token, or a Facebook authorization code to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the Facebook platform and store them within GameSparks.\r\nGameSparks will determine the player's friends and whether any of them are currently registered with the game.\r\nIf the Facebook user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthenticationRequest or RegistrationRequest AND the Facebook user is not already registered with the game, the Facebook user will be linked to the current player.\r\nIf the current player has not authenticated and the Facebook user is not known, a new player will be created using the Facebook details and the session will be authenticated against the new player.\r\nIf the Facebook user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/FacebookConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/FindChallengeRequest':
    post:
      description: Allows a player to find challenges that they are eligible to join.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/FindChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FindChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/FindMatchRequest':
    post:
      description: "@Deprecated. Use MatchmakingRequest instead.\r\nFind a match for this player, using the given skill and matchShortCode.\r\nPlayers looking for a match using the same matchShortCode will be considered for a match, based on the matchConfig.\r\nEach player must match the other for the match to be found."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/FindMatchRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FindMatchResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/FindPendingMatchesRequest':
    post:
      description: "Find other pending matches that will match this player's previously submitted MatchmakingRequest.\r\nUsed for manual matching of players, where you want control over which pending match should be chosen.\r\nEach player must match the other for the pending match to be found."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/FindPendingMatchesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FindPendingMatchesResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/GameCenterConnectRequest':
    post:
      description: "Allows an Apple account that has GameCenter to be used as an authentication mechanism.\r\nThe request must supply the GameCenter user details, such as the player id and username.\r\nIf the GameCenter user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the GameCenter user is not already registered with the game, the GameCenter user will be linked to the current player.\r\nIf the current player has not authenticated and the GameCenter user is not known, a new player will be created using the GameCenter details and the session will be authenticated against the new player.\r\nIf the GameCenter user is already known, the session will switch to being the previously created user.\r\nThis API call requires the output details from GKLocalPlayer.generateIdentityVerificationSignatureWithCompletionHandler on your iOS device"
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GameCenterConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/GetChallengeRequest':
    post:
      description: Gets the details of a challenge. The current player must be involved in the challenge for the request to succeed.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/GetDownloadableRequest':
    post:
      description: 'Returns a secure, time sensitive url to allow the game to download a piece of downloadable content stored in the GameSparks platform.'
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetDownloadableRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDownloadableResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/GetLeaderboardEntriesRequest':
    post:
      description: "Get the leaderboard entry data for the current player or a given player. \r\nFor each leaderboard it returns the hichest score the player has"
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetLeaderboardEntriesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLeaderboardEntriesResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Leaderboards
  '/rs/{credential}/{secret}/GetMessageRequest':
    post:
      description: Returns the full details of a message.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetMessageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMessageResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/GetMyTeamsRequest':
    post:
      description: Get the teams that the player is in. Can be filtered on team type and also on those teams that the player owns.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetMyTeamsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMyTeamsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/GetPropertyRequest':
    post:
      description: Get the property for the given short Code.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetPropertyRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPropertyResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/GetPropertySetRequest':
    post:
      description: Get the property set for the given short Code.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetPropertySetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPropertySetResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/GetTeamRequest':
    post:
      description: Allows the details of a team to be retrieved.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetTeamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTeamResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/GetUploadUrlRequest':
    post:
      description: 'Returns a secure, time sensitive URL to allow the game to upload a piece of player content to the GameSparks platform.'
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetUploadUrlRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUploadUrlResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/GetUploadedRequest':
    post:
      description: 'Returns a secure, time sensitive URL to a piece of content that was previously uploaded to the GameSparks platform by a player.'
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GetUploadedRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUploadedResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/GooglePlayBuyGoodsRequest':
    post:
      description: "Processes the response from a Google Play in app purchase flow.\r\nThe GameSparks platform will validate the signature and signed data with the Google Play Public Key configured against the game.\r\nThe orderId in the data will be recorded and the request will be rejected if the orderId has previously been processed, this prevents replay attacks.\r\nOnce verfied, the players account will be credited with the Virtual Good, or Virtual Currency the purchase contains. The virtual good will be looked up by matching the productId in the signed data with the 'Google Product ID' configured against the virtual good.\r\nIt is critical that the signedData is sent exactly as it is returned form google, including any whitespace. Any modification of the signedData will cause the verification process to fail."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GooglePlayBuyGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuyVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/GooglePlayConnectRequest':
    post:
      description: "Allows either a Google Play access code or an access token to be used as an authentication mechanism.\r\nThe access code needs to have at least the https://www.googleapis.com/auth/games scope.\r\nFor more details about Google OAuth 2.0 scopes refer to this: https://developers.google.com/identity/protocols/googlescopes#gamesConfigurationv1configuration\r\nIf the Google Play user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the Google Play user is not already registered with the game, the Google Play user will be linked to the current player.\r\nIf the current player has not authenticated and the Google Play user is not known, a new player will be created using the Google Play details and the session will be authenticated against the new player.\r\nIf the Google Play user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GooglePlayConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/GooglePlusConnectRequest':
    post:
      description: "Allows either a Google Plus access code or an authentication token to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the Google Plus platform and store them within GameSparks.\r\nGameSparks will determine the player's friends and whether any of them are currently registered with the game.\r\nIf the Google Plus user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the Google Plus user is not already registered with the game, the Google Plus user will be linked to the current player.\r\nIf the current player has not authenticated and the Google Plus user is not known, a new player will be created using the Google Plus details and the session will be authenticated against the new player.\r\nIf the Google Plus user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/GooglePlusConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/IOSBuyGoodsRequest':
    post:
      description: "Processes a transaction receipt from an App Store in app purchase.\r\nThe GameSparks platform will validate the receipt with Apple and process the response. The transaction_id in the response will be recorded and the request will be rejected if the transaction_id has previously been processed, this prevents replay attacks.\r\nOnce verified, the players account will be credited with the Virtual Good, or Virtual Currency the purchase contains. The virtual good will be looked up by matching the product_id in the response with the 'IOS Product ID' configured against the virtual good."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/IOSBuyGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuyVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/JoinChallengeRequest':
    post:
      description: Allows a player to join an open challenge.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/JoinChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/JoinChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/JoinPendingMatchRequest':
    post:
      description: Requests to join a pending match (found via FindPendingMatchesRequest).
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/JoinPendingMatchRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/JoinPendingMatchResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/JoinTeamRequest':
    post:
      description: Allows a player to join a team or a team to be retrieved.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/JoinTeamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/JoinTeamResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/KongregateConnectRequest':
    post:
      description: "Allows a Kongregate account to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the Kongregate platform and store them within GameSparks.\r\nIf the Kongregate user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the Kongregate user is not already registered with the game, the Kongregate user will be linked to the current player.\r\nIf the current player has not authenticated and the Kongregate user is not known, a new player will be created using the Kongregate details and the session will be authenticated against the new player.\r\nIf the Kongregate user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/KongregateConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/LeaderboardDataRequest':
    post:
      description: "Returns the top data for either the specified global leaderboard or the specified challenges leaderboard. The data is sorted as defined in the rules specified in the leaderboard configuration.\r\nThe response contains the top of the leaderboard, and returns the number of entries as defined in the entryCount parameter.\r\nIf a shortCode is supplied, the response will contain the global leaderboard data. If a challengeInstanceId is supplied, the response will contain the leaderboard data for the challenge."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LeaderboardDataRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LeaderboardDataResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Leaderboards
  '/rs/{credential}/{secret}/LeaderboardsEntriesRequest':
    post:
      description: "Get the leaderboard entry data for the current player or a given player.\r\nFor each leaderboard it returns the array of leaderboard entries that the player has."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LeaderboardsEntriesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LeaderboardsEntriesResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Leaderboards
  '/rs/{credential}/{secret}/LeaveTeamRequest':
    post:
      description: Allows a player to leave a team.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LeaveTeamRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LeaveTeamResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/ListAchievementsRequest':
    post:
      description: 'Retrieves a list of the configured achievements in the game, along with whether the current player has earned the achievement.'
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListAchievementsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAchievementsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListBulkJobsAdminRequest':
    post:
      description: Lists existing bulk jobs.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListBulkJobsAdminRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBulkJobsAdminResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Admin
  '/rs/{credential}/{secret}/ListChallengeRequest':
    post:
      description: "Returns a list of challenges in the state defined in the 'state' field.\r\nThe response can be further filtered by passing a shortCode field which will limit the returned lists to challenges of that short code.\r\nValid states are:\r\nWAITING : The challenge has been issued and accepted and is waiting for the start date.\r\nRUNNING : The challenge is active.\r\nISSUED : The challenge has been issued by the current player and is waiting to be accepted.\r\nRECEIVED : The challenge has been issued to the current player and is waiting to be accepted.\r\nCOMPLETE : The challenge has completed.\r\nDECLINED : The challenge has been issued by the current player and has been declined."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListChallengeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChallengeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/ListChallengeTypeRequest':
    post:
      description: Returns the list of configured challenge types.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListChallengeTypeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChallengeTypeResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/ListGameFriendsRequest':
    post:
      description: "Returns the list of the current players game friends.\r\nA Game friend is someone in their social network who also plays the game.\r\nAgainst each friend, an indicator is supplied to show whether the friend is currently connected to the GameSparks service"
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListGameFriendsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGameFriendsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListInviteFriendsRequest':
    post:
      description: "Returns the list of the current players friends in their social network, who are not yet playing this game.\r\nThis is dependent on the security and privacy policies of the social network.\r\nFor example, Facebook's policies prevent this friend list being provided, whereas Twitter will supply a list of users who are not playing the game."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListInviteFriendsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInviteFriendsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListLeaderboardsRequest':
    post:
      description: Returns a list of all leaderboards configured in the game.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListLeaderboardsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLeaderboardsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Leaderboards
  '/rs/{credential}/{secret}/ListMessageDetailRequest':
    post:
      description: "Returns the list of the current player's messages / notifications.\r\nThe list only contains un-dismissed messages, to dismiss a message see DismissMessageRequest Read the section on Messages to see the complete list of messages and their meaning."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListMessageDetailRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMessageDetailResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListMessageRequest':
    post:
      description: "Returns the list of the current player's messages / notifications.\r\nThe list only contains un-dismissed messages, to dismiss a message see DismissMessageRequest Read the section on Messages to see the complete list of messages and their meaning."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListMessageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMessageResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListMessageSummaryRequest':
    post:
      description: "Returns a summary of the list of the current players messages / notifications.\r\nThe list only contains un-dismissed messages, to dismiss a message see DismissMessageRequest.\r\nThe full message can be retrieved using GetMessageRequest Read the section on Messages to see the complete list of messages and their meanings."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListMessageSummaryRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMessageSummaryResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListTeamChatRequest':
    post:
      description: Get a list of the messages sent to the team (by players using SendTeamChatMessageRequest).
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListTeamChatRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTeamChatResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/ListTeamsRequest':
    post:
      description: Returns a list of teams. Can be filtered on team name or team type.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListTeamsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTeamsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/ListTransactionsRequest':
    post:
      description: Returns a list of the current player's transaction history.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListTransactionsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTransactionsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/ListVirtualGoodsRequest':
    post:
      description: Returns the list of configured virtual goods.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ListVirtualGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVirtualGoodsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/LogChallengeEventRequest':
    post:
      description: "Allows a user defined event to be triggered. The event will be posted to the challenge specified.\r\nThis call differs from most as it does not have a fixed format. The @class, challengeInstanceId and eventKey attributes are common, but the rest of the attributes are as defined in the Event object configured in the dev portal.\r\nThe example below shows a request to en event with a short code of HS with 2 attributes, 'HS' & 'GL'."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LogChallengeEventRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LogChallengeEventResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Events
  '/rs/{credential}/{secret}/LogEventRequest':
    post:
      description: "Allows a user defined event to be triggered.\r\nThis call differs from most as it does not have a fixed format. The @class and eventKey attributes are common, but the rest of the attributes are as defined in the Event object configured in the dev portal.\r\nThe example below shows a request to an event with a short code of HS with 2 attributes, 'HS' & 'GL'."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/LogEventRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LogEventResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Events
  '/rs/{credential}/{secret}/MatchDetailsRequest':
    post:
      description: 'Find the details of an existing match this player belongs to, using the matchId'
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/MatchDetailsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MatchDetailsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/MatchmakingRequest':
    post:
      description: "Register this player for matchmaking, using the given skill and matchShortCode.\r\nPlayers looking for a match using the same matchShortCode will be considered for a match, based on the matchConfig.\r\nEach player must match the other for the match to be found.\r\nIf the matchShortCode points to a match with realtime enabled, in order to minimise latency, the location of Players and their proximity to one another takes precedence over their reciprocal skill values."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/MatchmakingRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MatchmakingResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Multiplayer
  '/rs/{credential}/{secret}/NXConnectRequest':
    post:
      description: "Allows an Nintendo Network Service Account (NSA) to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the NSA and store them within GameSparks.\r\nGameSparks will determine the player's friends and whether any of them are currently registered with the game.\r\nIf the NSA is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the NSA is not already registered with the game, the NSA will be linked to the current player.\r\nIf the current player has not authenticated and the NSA is not known, a new player will be created using the NSA details and the session will be authenticated against the new player.\r\nIf the NSA is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/NXConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/PSNAccountConnectRequest':
    post:
      description: "Allows a PSN account to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the PSN platform and store them within GameSparks.\r\nGameSparks will determine the player's friends and whether any of them are currently registered with the game.\r\nIf the PSN user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the PSN user is not already registered with the game, the PSN user will be linked to the current player.\r\nIf the current player has not authenticated and the PSN user is not known, a new player will be created using the PSN details and the session will be authenticated against the new player.\r\nIf the PSN user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PSNAccountConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/PSNConnectRequest':
    post:
      description: "DEPRECATED - Use PSNAccountConnectRequest instead.\r\nAllows a PSN account to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the PSN platform and store them within GameSparks.\r\nGameSparks will determine the player's friends and whether any of them are currently registered with the game.\r\nIf the PSN user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the PSN user is not already registered with the game, the PSN user will be linked to the current player.\r\nIf the current player has not authenticated and the PSN user is not known, a new player will be created using the PSN details and the session will be authenticated against the new player.\r\nIf the PSN user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PSNConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/PsnBuyGoodsRequest':
    post:
      description: "Processes an update of entitlement in PlayStation network.\r\nThe GameSparks platform will update the 'use_count' for an entitlement (by default 'use_count' is 1).\r\nThe request will be rejected if entitlement 'use_limit' is 0\r\nGampSparks platform by default will use internally saved PSN user access token"
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PsnBuyGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuyVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/PushRegistrationRequest':
    post:
      description: "Registers the current device for push notifications. Currently GameSparks supports iOS, Android (GCM), FCM, Kindle, Viber & Microsoft Push notifications.\r\nSupply the device type, and the push notification identifier for the device."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/PushRegistrationRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PushRegistrationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/QQConnectRequest':
    post:
      description: "Allows a QQ access token to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the QQ platform and store them within GameSparks.\r\nIf the QQ user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthenticationRequest or RegistrationRequest AND the QQ user is not already registered with the game, the QQ user will be linked to the current player.\r\nIf the current player has not authenticated and the QQ user is not known, a new player will be created using the QQ details and the session will be authenticated against the new player.\r\nIf the QQ user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/QQConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/RegistrationRequest':
    post:
      description: 'Allows a new player to be created using a username, password display name.'
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/RegistrationRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegistrationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/RevokePurchaseGoodsRequest':
    post:
      description: Revokes the purchase of a good. The items aquired will be removed from remaining items of the player.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/RevokePurchaseGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokePurchaseGoodsResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Admin
  '/rs/{credential}/{secret}/ScheduleBulkJobAdminRequest':
    post:
      description: Schedules a bulk job to be run against multiple players.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/ScheduleBulkJobAdminRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ScheduleBulkJobAdminResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Admin
  '/rs/{credential}/{secret}/SendFriendMessageRequest':
    post:
      description: Sends a message to one or more game friend(s). A game friend is someone in the players social network who also plays the game.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SendFriendMessageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendFriendMessageResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/SendTeamChatMessageRequest':
    post:
      description: Send a message to all the players who are member of the given team
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SendTeamChatMessageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendTeamChatMessageResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Teams
  '/rs/{credential}/{secret}/SocialDisconnectRequest':
    post:
      description: Allows a player's internal profile to be disconnected from an external system to which it is linked.  Any friends linked as result of this connection will be removed.
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SocialDisconnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SocialDisconnectResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Player
  '/rs/{credential}/{secret}/SocialLeaderboardDataRequest':
    post:
      description: "Returns leaderboard data that only contains entries of players that are game friends with the current player.\r\nThe GameSparks platform will attempt to return players both ahead and behind the current player, where data is available.\r\nThe entry count defines how many player should be returned both ahead and behind. The numer of results may vary if there are not enough friends either ahead or behind."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SocialLeaderboardDataRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LeaderboardDataResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Leaderboards
  '/rs/{credential}/{secret}/SocialStatusRequest':
    post:
      description: Returns detials of the current social connections of this player. Each connection .
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SocialStatusRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SocialStatusResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Misc
  '/rs/{credential}/{secret}/SteamBuyGoodsRequest':
    post:
      description: "Processes a 'orderid' from a Steam.\r\nThe GameSparks platform will validate the 'orderid' with Steam and process the response. The 'orderid' from the response will be recorded and the request will be rejected, if the 'orderid' has previously been processed, this prevents replay attacks.\r\nOnce verified, the players account will be credited with the Virtual Good, or Virtual Currency the purchase contains. The virtual good will be looked up by matching the 'itemid' in the response with the 'Steam Product ID' configured against the virtual good."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SteamBuyGoodsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BuyVirtualGoodResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Store
  '/rs/{credential}/{secret}/SteamConnectRequest':
    post:
      description: "Allows a Steam sessionTicket to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the Steam platform and store them within GameSparks.\r\nGameSparks will determine the player's friends and whether any of them are currently registered with the game.\r\nIf the Steam user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the Steam user is not already registered with the game, the Steam user will be linked to the current player.\r\nIf the current player has not authenticated and the Steam user is not known, a new player will be created using the Steam details and the session will be authenticated against the new player.\r\nIf the Steam user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/SteamConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/TwitchConnectRequest':
    post:
      description: "Allows a Twitch account to be used as an authentication mechanism.\r\nOnce authenticated the platform can determine the current players details from the Twitch platform and store them within GameSparks.\r\nIf the Twitch user is already linked to a player, the current session will switch to the linked player.\r\nIf the current player has previously created an account using either DeviceAuthentictionRequest or RegistrationRequest AND the Twitch user is not already registered with the game, the Twitch user will be linked to the current player.\r\nIf the current player has not authenticated and the Twitch user is not known, a new player will be created using the Twitch details and the session will be authenticated against the new player.\r\nIf the Twitch user is already known, the session will switch to being the previously created user."
      parameters:
        - description: The short code of the credential used for the request
          in: path
          name: credential
          required: true
          type: string
        - description: The secret for the credential used for the request
          in: path
          name: secret
          required: true
          type: string
        - description: JSON representation of the request
          in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TwitchConnectRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthenticationResponse'
        '403':
          description: 'API key, credential type or secret not valid'
      tags:
        - Authentication
  '/rs/{credential}/{secret}/TwitterConnectRequest':
    post:
[...]
