openapi: 3.0.0
servers:
  - url: https://tracking.api.here.com/
info:
  contact:
    x-twitter: HERE
  description: |-
    HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.

    HERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  title: HERE Tracking
  version: 2.1.191
  x-apisguru-categories:
    - location
  x-document-meta-data:
    copyright: © 2023 HERE Europe B.V.
    date-created: 2023-01-19T10:18:43+00:00
    document-id: d006d52e-2767-46cc-ba7f-a62a1215649d
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_HERE_profile_image.png
  x-origin:
    - format: openapi
      url: https://developer.here.com/documentation/tracking/swagger/swagger.json
      version: "3.0"
  x-providerName: here.com
  x-serviceName: tracking
tags:
  - description: |
      The ingestion service provides an interface for devices to do data ingestion to HERE Tracking.
      The ingested data is a device telemetry, which may include, for example, a GPS position, sensor readings,
      WLAN or Bluetooth scans.
      Only a provisioned and a claimed device data is accepted.

      Devices should use uniquely this interface to send data to HERE Tracking.
    name: Ingestion
  - description: |
      The Largedata service is used for storing large data blobs from devices to
      HERE Tracking and retrieving the resulting assembled data from HERE Tracking by the users.

      The data upload from a device follows the multipart data upload pattern:

      * Create a new data upload.
      * Check that the upload status is no longer ***preparing***.
      * For each part:
      ** Upload the part.
      * Complete the upload after all parts have been uploaded.

      A data upload state can be one of the following:
      * ***preparing***: The storage for the data is being prepared.
      * ***pending***: Data upload has been succesfully created but no parts have been uploaded yet.
      * ***ongoing***: Data upload is ongoing.
      * ***completed***: Data upload has been successfully completed.
      * ***failed***: Data upload has failed.

      Data parts can be uploaded only if the upload state is one of the following: ***pending***, ***ongoing***, ***failed***. 
      Note that the state will be changed to ***failed*** if uploading a part fails, 
      but if the part is uploaded again successfully, the upload state is changed back to ***ongoing***.

      The data can be downloaded only if the upload state is ***completed***.
    name: Largedata
  - description: |
      The Registry service is used for provisioning and claiming devices.

      Device licenses can only be provisioned by a vendor.
      A vendor is a user who has a developer plan (evaluation or paid commercial) with HERE
      that has been enabled for device license creation.
      A user claiming a device is the device owner, which is different from the device vendor.
      Access to the data generated by the device is limited to the device owner only.
    name: Registry
  - description: |
      
      An alias is an arbitrary `type` - `externalId` pair, which can be associated with a `trackingId`.

      The `externalId` can be, for example, an external management system asset ID or a human-readable name.
      An alias is uniquely identified by an `externalId` and a `type` pair within a tracking project.
    name: Aliases
  - description: |
      An association is a link between a device and a geofence, a sensor rule or a rule.
      Device events get generated for existing associations only.
    name: Associations
  - description: |
      Bulk jobs provies support to perform bulk actions for project's resources, such as adding or
      deleting multiple devices at once.
    name: Bulk jobs
  - description: |
      The Cloud to Cloud service is used to create and manage connections between external
      cloud providers and HERE Tracking.
      A connection is formed by creating a cloud-to-cloud connector which receives reports from
      the external cloud devices and transforms them into the HERE Tracking ingestions,
      thus enabling the external devices to be tracked by HERE Tracking.
    name: C2C
  - description: |
      This service is used to query associations between devices and geofences.

      > **IMPORTANT**
      > Device Associations v2 API is deprecated. Please use Associations v3 API instead.
    name: Device Associations
  - description: |
      The Events service manages device and shipment events.

      An event is created every time an associated rule or geofence is triggered by a device ingestion. 

      A geofence event is created every time a device enters or exits an associated geofence.
      A sensor event is created when sensor data reported by a device triggers a sensor rule. 
      A rule event (such as dwelling, detention, utilization, stock and online rule) is created when
      a device behaviour triggers a rule.
    name: Events
  - description: |
      This service is used to manage associations between devices and geofences.
      When a device enters or exits an associated geofence, an event gets generated.

      > **IMPORTANT**
      > Geofence Associations v2 API is deprecated. Please use Associations v3 API instead.
    name: Geofence Associations
  - description: |
      The Geofences service creates and manages geofences.

      A geofence is an area boundary that users can define and associate with their devices.
      The area that the geofence encloses can be defined using geographic coordinates or radio measurements.

      Geographic geofences can be `circular` or `polygonal`. 
      A circular geofence is defined by geographic coordinates of its center and a radius, 
      while polygonal geofences are defined as a set of geographic coordinates.

      `POI geofence` (Point Of Interest) is a geofence, which is defined using radio measurements.
      POI geofences need to be trained separately using a telemetry that a device has recorded while 
      being at the desired point of interest. 

      Once created, a geofence can be associated to a device. 
      Every time a position or a radio measurement update is received from a device, 
      HERE Tracking would evaluate whether the device has transitioned across the boundary of 
      an associated geofence.
      If such a transition has happened, a transition event will be recorded.
      For the geographic geofences, the evaluation is based on the coordinates of the trace.
      For POI geofences, the device is considered to be inside a trained POI geofence when the radio 
      measurements of the device-ingested telemetry and the training data match.

      Indoor geofences can be created by adding the floor properties to the geofence definition.
      Circular and polygonal geofences can be both outdoors and indoors. 
      POI geofences should only be used indoors.
      For indoor geofences a device transition is recorded only if the position of the device is indoors 
      and the floor details of the position match the geofence floor definition.

      NOTE: A geofence can also be referred to as a geozone, and these two terms are interchangeable.
    name: Geofences
  - description: |
      The Labels service creates and manages labels.

      A label is a key-value pair that can be associated to the following resources:

      * device
      * geofence
      * sensor
      * rule
      * location
      * shipment

      One can list labels for a specific resource or resource type, and filter
      labels by keys or key-value pairs.
    name: Labels
  - description: |
      The Locations service creates and manages locations.

      This is an Alpha version of the Locations API and can still be changed in future releases.

      Locations are geographical points of interest users may store in HERE Tracking. Locations are
      used as building blocks for shipments.
    name: Locations
  - description: |
      The Metadata service creates and manages metadata.

      Metadata is a descriptive information added to a device, a shipment, a geofence or a sensor rule.
    name: Metadata
  - description: |
      The Notifications service provides a way to manage notification channels.

      Users need to register notification channels to get notified about new events.
      The supported notification channel types are webhook, 
      email and browser pull. Webhook notifications are common for all users in a project, but email and
      browser pull notification subscriptions are user-specific. 

      Email notifications will only be sent to a verified HERE Account email address.
      The browser pull notifications will be enabled for the [HERE Tracking Asset web](https://asset.tracking.here.com).
      For the webhook notifications, a URL registered as a webhook will receive a POST request on any
      matching event occurence.

      To get notified only about some specific events, users can apply various filters when subscribing to notifications, 
      specifying, for example, a particular rule ID or a geofence ID.
      If an occuring event matches `ruleId`, `eventSource`, `eventType` and `initialState` 
      filter settings, a notification gets triggerred.

      A single notification contains multiple matching event objects, for example:

      ```
      [
        {
          "eventType": "ABOVE_RANGE",
          "ruleId": "a3f652bc-a456-7f12-cd11-123ah761yt41",
          "ruleName": "My temperature rule"
          "eventSource": "temperature"
          "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
          "timestamp": 1499258184356,
          "initialState": false
        },
        {
          "eventType": "INSIDE_GEOFENCE",
          "ruleId": "e2f651ee-f196-4fa3-bf88-894dc131dea3",
          "ruleName": "Warehouse 12345"
          "eventSource": "geofence"
          "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
          "timestamp": 1499258184356,
          "initialState": false
        },
        {
          "eventType": "DWELLING_STARTED",
          "ruleId": "bf4510c0-ffa1-4ae3-8174-6a3474f7091e",
          "ruleName": "Dwelling 1 hour in a geofence"
          "eventSource": "dwelling"
          "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
          "timestamp": 1499258184356,
          "geofenceId": "e2f651ee-f196-4fa3-bf88-894dc131dea3",
          "geofenceName": "Warehouse 12345"
          "initialState": false
        }
      ]
      ```

      If a device is offline, its notifications will not be sent to the user until the device is back online again. 
    name: Notifications
  - description: |
      The Reports service provides a way to create and get reports related to event data.

      This is a tool for collecting and analyzing historical data of all devices of a project.
      The reports are created based on the event data generated by HERE Tracking `rules`.
      The supported rule types are:
      * dwelling
      * detention
      * utilization

      To be able to create a report, the user must have at least one rule of a supported type created
      and associated to a device.

      Once a report has been successfully created, the user will get the report ID, which can be used
      for various reports queries.

      > Note that in the report context a device is also referred to as an 'asset'.
    name: Reports
  - description: |
      The Rules service creates and manages rules. 

      Rules generate events and notifications when get triggered by a device behaviour.
      The following rule types are supported:
      * dwelling
      * detention
      * utilization
      * stock
      * online
      * shipmentSchedule

      After a rule has been created, it needs to be associated to a device to get activated.

      This association means that every time a telemetry is received from the device,
      it will be evaluated against the rule condition.
      As soon as the evaluation changes (for example, from true to false), an event will be recorded.
    name: Rules
  - description: |
      The Sensors service creates and manages sensor rules. 

      The sensor rules generate events and notifications when get triggered by a 
      reported device sensor reading.

      The following sensor rule types are supported:
      * battery
      * humidity
      * pressure
      * temperature
      * acceleration
      * attach
      * tamper

      After a sensor rule has been created, it needs to be associated to a device to get activated.

      This association means that every time a sensor update is received from the device as a part 
      of its ingestion telemetry, it will be evaluated against the sensor rule condition.
      As soon as the evaluation changes (for example, from true to false), an event will be recorded.
    name: Sensors
  - description: |
      The Shadows service provides an effective way to manage configurations 
      for devices that are only intermittently online.

      The device shadow contains `reported` and `desired` state objects of a device, 
      referred to as `reported` and `desired` shadows.

      The `desired` shadow contains configuration settings that the device should use and possibly also
      some optional custom settings. 
      The device receives the `desired` shadow from HERE Tracking as a response to the ingestion request.

      The `reported` shadow contains the most recent position, sensor readings and settings that the
      device has sent. The reported shadow may also contain additional properties generated by HERE 
      Tracking based on the device-ingested telemetry. Such properties are stored in the `system.computed` 
      property.

      In case the most recent telemetry did not contain all the possible
      fields, the last known information will remain in the shadow. This means that one can
      see, for example, the last reported temperature or tracker firmware information in the reported shadow,
      even if the device did not send that information in the latest telemetry.

      > **IMPORTANT**
      > Devices should not communicate directly with this service, but should instead send the telemetry to
      > the ingestion endpoint, which updates the `reported` shadow and returns the `desired` shadow.
      > Applications should only write to the `desired` shadow and only read from the 
      > `reported` shadow.
    name: Shadows
  - description: |
      Service for generating and viewing shipment reports.

      This is an alpha version of the Shipment Reports API and can still be changed in future
      releases.

      A shipment report consists of different metrics calculated on shipments which have been completed successfully.

      Punctuality at origin or at destination measures how accurate the estimated
      departure or arrival was. Dwelling at location measures how much time was spent at locations.

      The metrics are split into two categories. The first category consists of metrics which are calculated
      over all shipments of a shipment plan. The second category consists of metrics which are calculated on
      individual shipments of a shipment plan.
      For example, the `location` metrics belongs to the first category.
      Statistical values, such as `average`, are produced for metrics of the first category only.
    name: Shipment Reports
  - description: |
      The Shipments service manages shipments and shipment plans.

      This is an Alpha version of the Shipments API and can still be changed in future releases.

      A shipment describes a structure of a multimodal logistics journey. Shipments are useful when
      the lifetime of an asset one is tracking spans across multiple devices.

      A shipment consists of segments that span from a location to another. The segments and their
      origins and destinations must form a continuous chain of locations, that is the origin of a segment
      must match the destination of a previous segment. Each segment of the shipment may be assigned a
      `trackingId` that can vary between segments. Devices assigned to a shipment generate traces
      and events for the entire shipment.

      The `shipmentId` of a shipment can be used in similar fashion as a `trackingId` in selected
      APIs. For example, one can query for shipment ***traces*** and ***events*** and associate ***aliases*** and
      ***metadata*** to a shipment.

      Each shipment has one of the following statuses:
      * ***pending***: The shipment has not yet started.
      * ***ongoing***: The shipment has started and it has one segment ongoing.
      * ***completed***: The shipment has ended and all of its segments are completed.
      * ***cancelled***: The shipment has ended and it has one or more cancelled segments.

      HERE Tracking progresses the shipment automatically if each segment has been assigned a
      `trackingId` and the origin and destination locations contain a `geofenceId`. Each segment is
      started upon exiting the origin location of the segment and completed upon entering the
      destination location of the segment. If the origin and the destination of a segment share the
      same location (that is, dwelling in a single location), the segment will automatically be started after the
      previous segment was completed. If a segment does not have a device assigned, the user must
      start and complete the segment manually.

      A new shipment should be instantiated for each separate logistical journey. However, if the
      structure of the shipment is recurring, a shipment plan can be defined. A shipment plan can
      be used to define a generic skeleton for a logistical journey. For example, certain types
      of assets often need to be shipped over a typical sequence of locations.
      A user can create a shipment plan defining the segments, and new shipments can be instantiated from the plan.
      This allows recycling of components for similar shipments and reduces time and effort for
      creating new shipment instances.

      Shipments can also be created, managed and visualized via the [Shipment Tracking web](https://shipment.tracking.here.com).
    name: Shipments
  - description: |
      The Traces service allows users querying device traces based on time ranges.

      A device trace is a device-ingested telemetry along with the ingestion timestamp 
      and the device current position.

      > **NOTE**:
      > Devices should not communicate directly with this service, but should instead send telemetry to
      > the ingestion endpoint. Each data ingestion results in an update to the `reported` device shadow 
      > and a new device trace creation.
    name: Traces
  - description: |
      This service is used to query device transition events.
      A transition event is created each time a device enters or exists an associated geofence.

      > **IMPORTANT**
      > Transitions v2 API is deprecated. Please use Events v3 API instead.
    name: Transitions
  - description: |
      The Users service provides HERE Tracking user authentication and authorization.
    name: Users
paths:
  /aliases/v2:
    get:
      description: |
        Gets all aliases of a project.

        If `type` query parameter is provided, the response will contain
        only aliases of the given type.

        If `externalId` query parameter is specified, the
        response will contain only aliases that match the given
        external ID. The following wildcards can be used:
        '*' matches any number of any characters,
        '?' matches a single character.

        If `after` query parameter is provided, the successful response will only
        contain aliases that were created after the specified timestamp.
        Parameters `after` and `pageToken` are mutually exclusive and cannot be provided at the same time.

        The returned results are sorted in ascending order by the alias creation time.
      parameters:
        - description: A token from the previously returned response to retrieve the specified page.
          in: query
          name: pageToken
          required: false
          schema:
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
        - description: |
            Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
            The accepted range is from 0 to the current time.
          in: query
          name: after
          required: false
          schema:
            minimum: 0
            type: number
        - in: query
          name: projectId
          required: false
          schema:
            description: |
              Project ID.
              Any HERE Tracking user must be a member of a Tracking project.
              The project ID can be implicitly resolved if the user calling the API is a member of a single project.
              If the user is a member of multiple projects, the `projectId` query parameter needs to be specified explicitly.
            maxLength: 50
            minLength: 1
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items in the response.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A token that can be used to retrieve the next page of the response.
                        type: string
                    type: object
                  - properties:
                      data:
                        items:
                          properties:
                            aliases:
                              description: |
                                A map of key-value pairs where the key is the type of the alias
                                and the value is an array of externalIds.
                              type: object
                            trackingId:
                              type: string
                          required:
                            - trackingId
                            - aliases
                          type: object
                        type: array
                    type: object
                example:
                  data:
                    - aliases:
                        cargoId:
                          - 123-456
                        engines:
                          - de7a0e9a-2e86-11e8-b20f-6c400892e894
                          - dfee3968-2e86-11e8-b4e0-6c400892e894
                      trackingId: HERE-c47c0d1d-89fd-4961-b341-3eb109f58d19
                    - aliases:
                        engines:
                          - 5219bfc6-9779-4901-922a-e53a7c01037e
                      trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
          description: |
            Successful

            The aliases were successfully retrieved
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
      security:
        - Bearer: []
      summary: Gets all aliases
      tags:
        - Aliases
    parameters:
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: An alias type
        in: query
        name: type
        required: false
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - description: Filter for aliases external IDs
        in: query
        name: externalId
        required: false
        schema:
          maxLength: 50
          minLength: 1
          type: string
  /aliases/v2/health:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  message: healthy
                properties:
                  message:
                    description: Health status
                    type: string
                type: object
          description: |
            OK

            The service is performing as expected
        "500":
          description: |
            Service unavailable

            The service is not performing as expected
      security: []
      summary: Gets service health
      tags:
        - Aliases
  /aliases/v2/trackingId:
    get:
      description: |
        Gets the `trackingId` associated with an alias.
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                example:
                  trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                properties:
                  appId:
                    description: Virtual device application ID, only present when the device is virtual
                    minLength: 8
                    type: string
                  externalId:
                    description: Virtual device external ID, only present when the device is virtual
                    maxLength: 50
                    minLength: 1
                    type: string
                  trackingId:
                    description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`. Alternatively, a valid `shipmentId` may be used.
                    maxLength: 50
                    minLength: 1
                    type: string
                required:
                  - trackingId
                type: object
          description: |
            Successful

            The `trackingId` was successfully retrieved.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - Bearer: []
      summary: Gets the tracking ID associated with an alias
      tags:
        - Aliases
    parameters:
      - description: An alias type
        in: query
        name: type
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - description: An external ID. An externalId and type pair uniquely identifies an alias.
        in: query
        name: externalId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - in: query
        name: projectId
        required: false
        schema:
          description: |
            Project ID.
            Any HERE Tracking user must be a member of a Tracking project.
            The project ID can be implicitly resolved if the user calling the API is a member of a single project.
            If the user is a member of multiple projects, the `projectId` query parameter needs to be specified explicitly.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
  /aliases/v2/version:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                description: |
                  OK
                  Service returns its current version number
                  schema:
                      type: object
                      properties:
                          "service-name":
                              type: string
                              description: Version of service
                      example:
                          servicename: "1.0.0"
          description: |
            Success
        "500":
          description: |
            Service unavailable

            The service is not performing as expected
      security: []
      summary: Gets service version
      tags:
        - Aliases
  "/aliases/v2/{trackingId}":
    delete:
      description: |
        Deletes all aliases of a device identified by the `trackingId`.

        Note that one needs to supply an HTTP header `x-confirm` with the value `true` to force the deletion. 
        If the header is not provided, the request will fail.
      parameters:
        - description: |
            A safety measure that prevents one from accidentally deleting data.

            To confirm that all entries should be deleted, set the value to `true`.
          in: header
          name: x-confirm
          required: true
          schema:
            enum:
              - "true"
            type: string
      responses:
        "204":
          description: |
            Successful (no content)

            All aliases were successfully deleted.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - Bearer: []
      summary: Deletes all aliases of a device
      tags:
        - Aliases
    get:
      description: |
        Gets all aliases of a device identified by the `trackingId`.

        If the request is supplied with a `type` query parameter, the response will contain
        only aliases of the given type.
      parameters:
        - description: A token from the previously returned response to retrieve the specified page.
          in: query
          name: pageToken
          required: false
          schema:
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
        - description: An alias type
          in: query
          name: type
          required: false
          schema:
            maxLength: 50
            minLength: 1
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items in the response.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A token that can be used to retrieve the next page of the response.
                        type: string
                    type: object
                  - properties:
                      data:
                        description: |
                          A map of key-value pairs where the key is the type of the alias
                          and the value is an array of `externalId`s.
                        type: object
                    type: object
                example:
                  data:
                    cargoId:
                      - 123-456
                    engines:
                      - de7a0e9a-2e86-11e8-b20f-6c400892e894
                      - dfee3968-2e86-11e8-b4e0-6c400892e894
          description: |
            Successful

            The aliases were successfully retrieved.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - Bearer: []
      summary: Gets all aliases of a device
      tags:
        - Aliases
    parameters:
      - in: path
        name: trackingId
        required: true
        schema:
          description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`. Alternatively, a valid `shipmentId` may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify a virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
  "/aliases/v2/{trackingId}/batch":
    parameters:
      - in: path
        name: trackingId
        required: true
        schema:
          description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`. Alternatively, a valid `shipmentId` may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify a virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
    put:
      description: |
        Creates a set of aliases for a device identified by the `trackingId`. 
        An alias must be unique within a project.
      requestBody:
        content:
          application/json:
            example:
              aliases:
                cargoId:
                  - 123-456
                engines:
                  - engine1
                  - engine22
            schema:
              properties:
                aliases:
                  description: |
                    A map of key-value pairs where the key is the type of the
                    alias and the value is an array of `externalId`s.
                  type: object
              required:
                - aliases
              type: object
      responses:
        "201":
          description: Successful (no content)
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
        "409":
          content:
            application/json:
              example:
                code: 409
                details:
                  hereErrorCode: 404306
                error: Conflict
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource already exists.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Conflict

            The specified resource already exists
      security:
        - Bearer: []
      summary: Creates multiple aliases for a device
      tags:
        - Aliases
  "/aliases/v2/{trackingId}/{type}":
    delete:
      description: |
        Deletes all aliases of a specified type for a device identified by the `trackingId`.

        Note that one needs to supply an HTTP header `x-confirm` with the value `true` to force the deletion. 
        If the header is not provided, the request will fail.
      parameters:
        - description: |
            A safety measure that prevents one from accidentally deleting data.

            To confirm that all entries should be deleted, set the value to `true`.
          in: header
          name: x-confirm
          required: true
          schema:
            enum:
              - "true"
            type: string
      responses:
        "204":
          description: |
            Successful (no content)

            All aliases were successfully deleted.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - Bearer: []
      summary: Deletes all aliases of a specified type for a device
      tags:
        - Aliases
    get:
      description: Gets all aliases of a specified type for a device identified by the `trackingId`.
      parameters:
        - description: A token from the previously returned response to retrieve the specified page.
          in: query
          name: pageToken
          required: false
          schema:
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items in the response.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A token that can be used to retrieve the next page of the response.
                        type: string
                    type: object
                  - properties:
                      data:
                        description: |
                          A map of key-value pairs where the key is the type of the alias
                          and the value is an array of `externalId`s.
                        type: object
                    type: object
                example:
                  data:
                    cargoId:
                      - 123-456
          description: |
            Successful

            The aliases were successfully retrieved.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - Bearer: []
      summary: Gets all aliases of a specified type for a device
      tags:
        - Aliases
    parameters:
      - description: An alias type
        in: path
        name: type
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - in: path
        name: trackingId
        required: true
        schema:
          description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`. Alternatively, a valid `shipmentId` may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify a virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
  "/aliases/v2/{trackingId}/{type}/{externalId}":
    delete:
      description: |
        Deletes the specified alias.
      responses:
        "204":
          description: Successful (no content)
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - Bearer: []
      summary: Deletes an alias
      tags:
        - Aliases
    parameters:
      - description: An alias type
        in: path
        name: type
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - description: An external ID. An `externalId` and a `type` pair uniquely identifies an alias.
        in: path
        name: externalId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - in: path
        name: trackingId
        required: true
        schema:
          description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`. Alternatively, a valid `shipmentId` may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify a virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
    put:
      description: |
        Creates an alias for the `trackingId`. An alias must be unique within a project.
      responses:
        "201":
          description: Successful (no content)
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
        "409":
          content:
            application/json:
              example:
                code: 409
                details:
                  hereErrorCode: 404306
                error: Conflict
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource already exists.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Conflict

            The specified resource already exists
      security:
        - Bearer: []
      summary: Creates an alias
      tags:
        - Aliases
  /associations/v3/devices/batchUpdate:
    parameters:
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify a virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
    put:
      description: |
        Updates rules associated with devices.
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              description: |
                Body containing arrays of ruleIds and geofenceIds to disassociate
                (oldRules) from and associate (newRules) to the devices identified
                in trackingIds array.
              properties:
                newRules:
                  additionalProperties: false
                  description: Rules to be associated to the devices
                  properties:
                    geofenceIds:
                      description: Array of geofence IDs
                      items:
                        description: Geofence ID
                        format: uuid
                        type: string
                      maxItems: 15
                      type: array
                    ruleIds:
                      description: Array of rule IDs
                      items:
                        description: |
                          Must be a valid UUIDv4.
                        format: uuid
                        type: string
                      maxItems: 15
                      type: array
                  required:
                    - ruleIds
                    - geofenceIds
                  type: object
                oldRules:
                  additionalProperties: false
                  description: Rules to be disassociated from the devices
                  properties:
                    geofenceIds:
                      description: Array of geofence IDs
                      items:
                        description: Geofence ID
                        format: uuid
                        type: string
                      maxItems: 15
                      type: array
                    ruleIds:
                      description: Array of rule IDs
                      items:
                        description: |
                          Must be a valid UUIDv4.
                        format: uuid
                        type: string
                      maxItems: 15
                      type: array
                  required:
                    - ruleIds
                    - geofenceIds
                  type: object
                trackingIds:
                  description: Array of tracking IDs (external IDs are also permitted here)
                  items:
                    description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`.
                    maxLength: 50
                    minLength: 1
                    type: string
                  maxItems: 50
                  minItems: 1
                  type: array
              required:
                - trackingIds
                - oldRules
                - newRules
              type: object
      responses:
        "201":
          description: Successful (no content)
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
      security:
        - Bearer: []
      summary: Updates rules associations for devices
      tags:
        - Associations
  "/associations/v3/devices/{trackingId}/batchCreate":
    parameters:
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - in: path
        name: trackingId
        required: true
        schema:
          description: This is a unique ID associated with the device data in HERE Tracking. For physical devices the `trackingId` gets assigned to a device when the device is claimed by a user, and for virtual devices it is an external device ID along with the device project `appId`.
          maxLength: 50
          minLength: 1
          type: string
      - description: Application identifier. Used together with an external ID to identify a virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
    post:
      description: |
        Associates rules with the device `trackingId`.
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              description: Body containing arrays of ruleIds and geofenceIds to associate with the shipment or device.
              properties:
                geofenceIds:
[...]
