openapi: 3.1.0
info:
  title: Offendersearch API
  version: 1.0.0
  description: "National sex-offender search across all US states and territories, unified behind one\
    \ API. Synchronous by default (call and wait) for interactive use; an asynchronous mode returns a\
    \ job handle and is built for batch and high-volume work. Full offenders.io field parity plus scored\
    \ matches, per-source provenance, freshness options, DOB/age match-state fidelity, and a consolidated\
    \ verification-report PDF (`POST /v1/report`) with a source citation on every record. Criminal records\
    \ land later as an additive `recordType` — the contract does not change.\n\n## Authentication\nMost\
    \ customer endpoints authenticate with an API key sent in the `X-API-Key` header (`ApiKeyAuth`). The\
    \ primary synchronous search additionally accepts a signed **session token** (`Authorization: Bearer\
    \ <token>`) so the dashboard console can run searches on behalf of a signed-in user. The offenders.io\
    \ compatibility endpoint accepts the key three ways for drop-in parity: `X-API-Key`, `Authorization:\
    \ Bearer <key>`, or `?key=<key>`. Account/dashboard endpoints (`/v1/account`, `/v1/keys`, `/v1/usage`,\
    \ ...) require a session token. Internal ops endpoints require the separate `X-Admin-Key` credential.\n\
    \n## Freshness & billing\n`freshness` is a per-request parameter with two values — `daily` (the DEFAULT\
    \ when omitted) and `weekly`.\n\n* **`daily`** is the freshest data we publish. Our sweep of every\
    \ registry runs\n  on a daily cycle, so a `daily` answer is assembled from the newest snapshot we\n\
    \  hold of each one — in practice, almost real time. Ask for it when currency is\n  the point. It\
    \ bills the **+$0.01/call daily-freshness surcharge** on top of the\n  base per-call rate (admin-overridable\
    \ per customer).\n* **`weekly`** is also fresh. Identity is essentially identical to `daily` — the\n\
    \  same people, names, aliases, offenses, addresses and photos — and what can lag\n  is only the most\
    \ recent movement, a registration or an address change from the\n  last day or so. Right for bulk\
    \ screening and periodic re-screens. **No\n  surcharge.**\n\n\n**`freshness` describes the answer;\
    \ it does not filter it.** No registry is ever withheld from a result because of when it was last\
    \ swept: every registry covering the query contributes, from the newest snapshot we hold of it. `status`\
    \ never becomes `partial` for a snapshot age, and `warnings[]` never carries a staleness sentence.\n\
    \n**★ EVERY DATE IS ISO-8601 — BREAKING CHANGE, 2026-08-04.** Every date-shaped field in a record\
    \ now comes back as ISO-8601: `dob`, the four `offense.*Date` fields, and the five `stateData` date\
    \ fields. They used to be the registry's own string passed through byte-for-byte, so a single response\
    \ could carry `\"2003-03-31\"`, `\"10/11/1988\"`, `\"11-29-1987\"` and `\"Aug. 10, 1987\"` in the\
    \ same key — `offense.offenseDate` was ISO on only 45.4% of its populated values, in seven distinct\
    \ shapes. **If you wrote a lenient parser or a per-state format table, you can delete it; if you compared\
    \ these values as raw strings, or stored them in a text column and matched on it, those comparisons\
    \ will change once.**\nThree rules govern the new values, and the third is the one to read carefully:\n\
    1. A full date is `YYYY-MM-DD`. 2. **A partial date stays partial.** A registry that publishes only\
    \ a month or\n   only a year yields `YYYY-MM` or `YYYY` — we never invent a day. The companion\n \
    \  `datePrecision` object on `offense` and `stateData` names the precision\n   explicitly, exactly\
    \ as `dobPrecision` has always done for `dob`.\n3. **Nothing is discarded.** A value we cannot read\
    \ as a date — a crime\n   description in an offence-date cell, a `registrationEnds` of \"Life\" —\
    \ is NOT\n   served as a fake date and NOT silently blanked. The field is `\"\"`, the\n   precision\
    \ is `unparseable`, and the registry's literal text is preserved in\n   the `datesAsPublished` object\
    \ beside it.\n\n`source.scrapedAt` / `.lastCheckedAt` / `.sourceUpdatedAt` were already ISO-8601 timestamps\
    \ and are unchanged. `dob` was already `YYYY-MM-DD` and is unchanged.\n\n**There is no date FILTER\
    \ on the offense or stateData dates.** `dob` is the one date you can narrow a query on; read the rest\
    \ off the record.\n**Provenance is never traded for normalisation.** The registry's own text is kept\
    \ beside the normalised value, not overwritten by it, which is why `datesAsPublished` still carries\
    \ what the source actually printed — including the 38,818 `registrationEnds` cells that hold a registration\
    \ DURATION (\"15 Years\", \"Lifetime\") rather than a date.\n\n**Where currency is published — and\
    \ where it is not.** Per record, `record.source.scrapedAt` is the moment we ingested the snapshot\
    \ that record came from. Per registry, `GET /v1/sources` publishes `health.lastSuccessAt` and `health.ageSeconds`\
    \ live and without an API key. Both are things you ask for. Neither is attached to a search answer:\
    \ `sourceStatus[]` carries no age fields, because an answer that contains every matching record does\
    \ not need a caveat about our sweep schedule.\n\n★ **Freshness and completeness are different questions,\
    \ and only one of them makes an empty result unsafe.** `freshness` says how OLD an answer is; it says\
    \ nothing about whether the answer is WHOLE. A registry swept ten minutes ago can still fail to be\
    \ searched to the end — a deadline, or a candidate set larger than one search may examine — and then\
    \ a `0` from it means UNKNOWN, not NO MATCH. That is `counts.sourcesIncomplete` / `sourceStatus[].incomplete`,\
    \ it is unrelated to freshness, and it is the one signal that must never be ignored. See API-CONTRACT.md\
    \ §5.0.\n\n**Migrating from a pre-2026-08-04 integration.** `counts.sourcesStale`, `counts.sourcesDegraded`,\
    \ `counts.sourcesOmitted`, `counts.recordsFromStaleSources`, `freshnessDetail`, and `sourceStatus[].freshnessSatisfied`\
    \ / `.degraded` / `.omitted` / `.ageSeconds` / `.lastSuccessAt` were removed and are no longer emitted.\
    \ If you were gating on any of them, gate on `counts.sourcesIncomplete` instead — it asks whether\
    \ your ANSWER is whole, which is the question those keys were being used to ask. `onStale` is deprecated\
    \ but still accepted, so an older request body keeps working.\n\nBilling is required for every account;\
    \ the ONLY free call is one scoped exclusively to statutorily non-commercial jurisdiction(s) (e.g.\
    \ state=CA), which has nothing commercially billable. **Batch billing is per-search:** `POST /v1/batch`\
    \ is one HTTP request but each search in it is billed as its own search (per-row freshness included)\
    \ — a batch of 100 = 100 billable searches. The consolidated verification report (`POST /v1/report`)\
    \ is a separate, callable endpoint any valid key may use (no per-key entitlement), billed **+$0.02\
    \ per document** (admin-overridable per customer). A separate `proof` add-on also carries an extra\
    \ per-document charge and requires billing (402 otherwise); it is NOT the customer verification report.\n"
  contact:
    name: Offendersearch
    url: https://offendersearch.app
    email: support@offendersearch.app
  x-providerName: offendersearch.app
  x-origin:
  - format: openapi
    version: '3.1'
    url: https://offendersearch.app/openapi.json
  x-apisguru-categories:
  - security
  - open_data
servers:
- url: https://api.offendersearch.app
security:
- ApiKeyAuth: []
paths:
  /v1/search:
    post:
      operationId: syncSearch
      summary: Synchronous search (PRIMARY — call and wait)
      description: 'Searches the full dataset by default (or the jurisdictions you name) in a single call
        and returns scored, de-duplicated results in the response. Served from the current snapshot for
        speed. Set `deadlineMs` to bound how long you wait; with `onDeadline: partial` the response returns
        whatever completed within that bound, with per-jurisdiction status in `sourceStatus`; with `onDeadline:
        error` a forced-partial result returns 504 instead. Accepts an API key OR a session token.

        '
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results (complete, or partial when a deadlineMs bound is hit)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: 'Billing required for the requested `proof` documents (account has no billing enabled).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '504':
          description: Deadline was hit and `onDeadline=error` was set (forced-partial).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/searches:
    post:
      operationId: asyncSearch
      summary: Asynchronous search — built for batch and high-volume work
      description: '**The batch endpoint.** Submit the search, get a job id back immediately, and collect
        the result when it is ready — poll `GET /v1/searches/{searchId}` or supply a `webhookUrl` and
        we POST the finished envelope to it.


        Because you are not holding a connection open there is no request-timeout ceiling on the work,
        so every named jurisdiction runs to completion. Use it for bulk screening, periodic re-screens
        of a roster you already hold, backfills, unattended scheduled jobs, and broad national sweeps.


        Use `POST /v1/search` instead when a person is waiting on the answer — that is the interactive
        endpoint and it returns in one round trip. Both read the same corpus at the same `freshness` tier
        and return the same envelope; the choice is about how you collect the result, not how current
        it is. To submit many searches at once, `POST /v1/batch` takes up to 1,000 queries in a single
        request.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncSearchRequest'
      responses:
        '202':
          description: Search accepted; poll `resultsUrl` for status + results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncSearchAccepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/searches/{searchId}:
    get:
      operationId: getSearch
      summary: Fetch an async search's status + results
      description: 'Returns the job''s current state. While `pending`/`running` the body carries empty
        `records`/`sourceStatus` and a zeroed `counts`; on `error` it carries an `error` string; when
        finished it is the full SearchResponse.

        '
      parameters:
      - name: searchId
        in: path
        required: true
        schema:
          type: string
        example: srch_9f2c1a7b
      responses:
        '200':
          description: Search status + results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/searches/{searchId}/proof:
    post:
      operationId: makeProof
      summary: Per-registry look-alike proof docs (internal add-on — NOT the verification report)
      description: 'Internal per-registry add-on, distinct from the customer-facing consolidated verification
        report (`POST /v1/report`). Renders a per-registry look-alike PDF/HTML for ONLY the registries
        the caller names. Requires billing (402 otherwise); it carries an extra per-document charge. Never
        generated for all sources implicitly. `registries` is required. A registry with no look-alike
        template yet is skipped and NOT billed (its document row carries an empty `url` + explanatory
        `note`).

        '
      security:
      - ApiKeyAuth: []
      parameters:
      - name: searchId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProofRequest'
      responses:
        '200':
          description: Proof bundle (one verification-report document per requested registry)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Payment required — billing not enabled on the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/report:
    post:
      operationId: makeReport
      summary: Consolidated verification / proof PDF for one search
      description: 'Renders a SINGLE consolidated verification PDF for a search that was ALREADY run —
        pass the `searchId` of a prior `POST /v1/search` (or `/v1/searches`) call (valid for 7 days),
        optionally with the `viewerName`/`viewerEmail` of whoever is viewing it (both OPTIONAL, printed
        at the top as a viewer verification — not an access gate). Any valid key or session may call it
        — there is NO per-key entitlement. Because the search call was already billed, the report meters
        ONLY the **+$0.02 per-PDF** charge (admin-overridable per customer via `pdf_rate_cents`). (Legacy
        one-shot: omit `searchId` and pass an inline `query`, which runs the search inline and also bills
        the call.) The PDF shows EVERY matching offender and EVERY field on file (name, aliases, DOB/age
        match state, address/jurisdiction, offense/risk, photo when available, and the full extensive
        field set), plus a source-attribution section with a citation on every record — proving provenance.
        A legal notice (use restrictions; informational only, not an FCRA consumer report) is printed
        on the document. Responds with `application/pdf` as a file attachment (`Content-Disposition: attachment`);
        the report id is echoed in the `X-Report-Id` header. Accepts an API key OR a session token.

        '
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '200':
          description: The consolidated verification report (a PDF file attachment).
          headers:
            X-Report-Id:
              description: Unique id of the generated report (also printed on the document).
              schema:
                type: string
                example: rpt_9f2c1a7b3e4d
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/batch:
    post:
      operationId: batchSearch
      summary: Batch search (row-in / row-out bulk lookups)
      description: 'Runs many queries in one call — offenders.io CSV-batch parity (one row = one call
        in, one result out). Each row goes through the SAME engine as `/v1/search` (served from the current
        snapshot), with bounded server-side concurrency, and results come back in input order. Send either
        a JSON array of query objects, a JSON envelope `{ "queries": [...], ...batch-wide options }` (the
        non-`queries` keys — `jurisdictions`, `freshness`, `match`, `recordTypes`, `locationScoped`, `include`
        — apply to every row), or a `text/csv` body whose header row names Query fields (`firstName,lastName,state,dob,city,zipcode,address,age,q`).
        A row that fails is reported with `status: error` in place; it never aborts the batch. Max 1000
        rows. Accepts an API key OR a session token.


        **Billing — per search, NOT per request.** A batch is one HTTP call but contains N searches, and
        **each search in the batch is billed as one search** (at the graduated per-call rate, plus its
        own +$0.01 daily-freshness surcharge when that row''s freshness is `daily` — the default). A batch
        of 100 rows = 100 billable searches. Freshness applies per row: set `freshness: weekly` on a row
        (or batch-wide) to bill that search with no surcharge.

        '
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: array
                items:
                  $ref: '#/components/schemas/Query'
              - type: object
                properties:
                  queries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Query'
                  jurisdictions:
                    type: array
                    items:
                      type: string
                  freshness:
                    type: string
                    enum:
                    - daily
                    - weekly
                    default: daily
                    description: Batch-wide default; a per-row `freshness` overrides it for that row.
                  match:
                    type: string
                    enum:
                    - strict
                    - balanced
                    - broad
                  recordTypes:
                    type: array
                    items:
                      type: string
                  locationScoped:
                    type: boolean
                  include:
                    type: array
                    items:
                      type: string
                required:
                - queries
          text/csv:
            schema:
              type: string
              description: Header row of Query field names, then one query per line.
              example: 'firstName,lastName,state

                John,Smith,FL

                Jane,Doe,TX

                '
      responses:
        '200':
          description: Per-row results, in input order.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of rows processed.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: 0-based input row index.
                        status:
                          type: string
                          description: Row outcome (complete/partial/error).
                        counts:
                          type: object
                          properties:
                            records:
                              type: integer
                            sourcesQueried:
                              type: integer
                            sourcesIncomplete:
                              type: integer
                              description: Registries in THIS ROW that could not be searched to the end.
                                Check it per row — one row can be short while the rest are whole. See
                                API-CONTRACT.md §5.0.
                        warnings:
                          type: array
                          items:
                            type: string
                          description: Per-row warnings, same shape as the envelope's. `[]` when nothing
                            shortened this row. A batch row carries no `sourceStatus`, so this is the
                            only prose signal it has.
                        records:
                          type: array
                          items:
                            $ref: '#/components/schemas/Record'
                        error:
                          type: string
                          description: Present only when status=error.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Batch exceeded the maximum row count (1000).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/proof-docs/{token}:
    get:
      operationId: getProofDoc
      summary: Fetch a rendered verification-report document
      description: 'Serves the rendered proof document referenced by a ProofBundle document `url`. Returns
        the raw file body with the appropriate content type (`application/pdf` or `text/html`), not JSON.

        '
      security:
      - ApiKeyAuth: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Opaque document token from a ProofBundle document `url`.
      responses:
        '200':
          description: The rendered document.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            text/html:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/records/{recordId}:
    get:
      operationId: getRecord
      summary: Fetch a single normalized record by recordId or uuid
      description: 'Resolves a record by EITHER identifier a search published for it: our `recordId` (`rec_…`)
        or the registry''s own `uuid`. DATABASE-BACKED since 2026-08-04 — it previously read only an in-memory
        index local to one API container, keyed on `recordId` alone, so a `uuid` never resolved and a
        `recordId` resolved only when the follow-up request happened to reach the same container as the
        search.


        A `404` means THIS IDENTIFIER IS NOT CURRENT — never that the person is unregistered. Registries
        re-issue their ids (KY, MO, OR, AZ, IA and WV each re-issued their entire registry within eight
        days to 2026-08-04; CA re-issued ~104,000). Re-search by name and state, then store the new `uuid`.


        An identifier carrying a byte no id of ours can hold — a NUL or any other control character —
        is also a `404`. Until 2026-08-05 `/v1/records/%00` and `/v1/records/a%00b` returned **500**,
        the only 5xx reachable from ~60 hostile inputs, because the NUL reached a database parameter.
        A 5xx is a claim that WE failed, and for a malformed id that claim is false. `%01` and `%25` always
        answered 404; now every impossible id answers the same way.


        A `409` means the id is AMBIGUOUS. A `uuid` is unique only together with its jurisdiction — `20059`
        identifies a Florida, a Pennsylvania and a Wisconsin registrant, and 55,893 ids are shared across
        jurisdictions (147,624 records). This endpoint returns one record and will not guess which you
        meant; use `GET /v1/compat/sexoffender?uuid=…&state=XX`, which returns every match with its jurisdiction,
        or use `recordId`, which is namespaced per jurisdiction and does not collide.

        '
      parameters:
      - name: recordId
        in: path
        required: true
        description: The `recordId` (`rec_…`) or the registry `uuid` from a search result.
        schema:
          type: string
        example: rec_ab12cd34ef56gh78ij90
      responses:
        '200':
          description: The record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'The identifier matches records in more than one jurisdiction. `detail` names them.
            Disambiguate with the compat endpoint''s `state`, or use `recordId`.

            '
  /v1/sources:
    get:
      operationId: listSources
      summary: Coverage catalog + live health of every jurisdiction
      description: 'The catalog of every jurisdiction we cover, with lightweight health. No API key required
        — this doubles as public coverage transparency.

        '
      security: []
      responses:
        '200':
          description: Coverage catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceInfo'
  /v1/support:
    post:
      operationId: submitSupportMessage
      summary: Send a message to the Offendersearch team
      description: 'Sends a message to our support team. **No API key required** — this is the endpoint
        behind the contact form on offendersearch.app, and it is open because the people who need it most
        are the ones who do not have a key yet.


        A `200` means the message is **recorded**: it is stored against the `submissionId` in the response
        and can be looked up by that id if you ever need to refer to it. It does not report that an email
        has arrived anywhere, because that is a separate step we do not make you wait for.


        Replies come from the address in `supportEmail`, normally within one business day. You can also
        write to that address directly; both routes reach the same inbox.


        The endpoint accepts `application/json` or `application/x-www-form-urlencoded`, so an ordinary
        HTML form can post to it without any JavaScript.

        '
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupportRequest'
      responses:
        '200':
          description: The message was recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportResult'
        '413':
          description: 'The body is larger than this endpoint accepts (64 KB). Send a summary and reply
            to our answer with anything bulky.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: 'A required field is missing or the email address is not a valid address. Nothing
            was stored; correct it and send again.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: 'Too many messages from one address in a short period. Nothing was stored, so nothing
            is duplicated when you retry. `Retry-After` gives the number of seconds to wait, and the same
            value is in `detail.retryAfterSeconds`.

            '
          headers:
            Retry-After:
              description: Seconds to wait before sending the message again.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '503':
          description: 'The message could not be recorded, so **do not treat it as sent**. Use the address
            in the error text instead; it is answered by the same team.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/compat/sexoffender:
    post:
      operationId: compatSexoffenderPost
      summary: offenders.io drop-in compatibility (POST)
      description: 'Accepts offenders.io''s exact parameters and returns their exact envelope ({offenders,
        page, totalPages[, error]}). Existing offenders.io integrations switch by changing only the base
        URL and key. Accepts the key via `X-API-Key`, `Authorization: Bearer`, or `?key=`. Echoes/mints
        the offenders.io correlation headers (`X-Request-Id`, `X-Offenders-Request-Id`, `X-Offendersearch-Request-Id`).
        Errors use the offenders.io `{code, message}` shape.


        **Combination-validation (400 with `{code:400, message}`):** `q` cannot be combined with `firstName`/`lastName`,
        nor with `lat`/`lng`; `address` cannot be combined with `q`, nor with `lat`/`lng`.


        **GIS search (`lat`+`lng` supplied):** results are paged **50 per page** (regular searches page
        20), and the query defaults to the **last 90 days** of source updates (`updatedAtStart = now −
        90d`) unless the caller supplies an explicit `updatedAtStart`. A missing `radius` defaults to
        1 mile (capped at 100).

        '
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      - QueryKeyAuth: []
      parameters:
      - name: X-Request-Id
        in: header
        required: false
        schema:
          type: string
          pattern: ^[A-Za-z0-9._:-]{1,64}$
        description: Optional client correlation id; echoed back when valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffendersIoRequest'
      responses:
        '200':
          description: offenders.io-shaped response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffendersIoResponse'
        '400':
          description: 'Invalid parameter combination: `q` with firstName/lastName or lat/lng, or `address`
            with q or lat/lng. Body is `{code:400, message}`.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatError'
        '422':
          description: faceId supplied (facial search not supported).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatError'
    get:
      operationId: compatSexoffenderGet
      summary: offenders.io drop-in compatibility (GET)
      description: 'Identical semantics to the POST form; parameters are supplied as query string values
        (offenders.io demo/GET mode). Accepts the key via `X-API-Key`, `Authorization: Bearer`, or `?key=`.

        '
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      - QueryKeyAuth: []
      parameters:
      - name: firstName
        in: query
        schema:
          type: string
      - name: lastName
        in: query
        schema:
          type: string
      - name: dob
        in: query
        schema:
          type: string
          format: date
      - name: age
        in: query
        schema:
          type: integer
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: zipcode
        in: query
        schema:
          type: string
      - name: address
        in: query
        schema:
          type: string
      - name: lat
        in: query
        schema:
          type: number
      - name: lng
        in: query
        schema:
          type: number
      - name: radius
        in: query
        schema:
          type: number
      - name: q
        in: query
        schema:
          type: string
      - name: fuzzy
        in: query
        schema:
          type: boolean
      - name: mode
        in: query
        schema:
          type: string
          enum:
          - extensive
      - name: prefixMatch
        in: query
        schema:
          type: string
          enum:
          - firstName
          - lastName
          - both
      - name: faceId
        in: query
        schema:
          type: string
      - name: createdAtStart
        in: query
        schema:
          type: string
          format: date-time
      - name: createdAtEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: updatedAtStart
        in: query
        schema:
          type: string
          format: date-time
      - name: updatedAtEnd
        in: query
        schema:
          type: string
          format: date-time
      - name: uuid
        in: query
        schema:
          type: string
      - name: personUuid
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: perPage
        in: query
        schema:
          type: integer
      - name: key
        in: query
        schema:
          type: string
        description: API key (offenders.io demo mode); alternative to the header.
      - name: X-Request-Id
        in: header
        required: false
        schema:
          type: string
          pattern: ^[A-Za-z0-9._:-]{1,64}$
      responses:
        '200':
          description: offenders.io-shaped response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffendersIoResponse'
        '400':
          description: Invalid parameter combination.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatError'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatError'
        '422':
          description: faceId supplied (facial search not supported).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatError'
  /v1/auth/signup:
    post:
      operationId: signup
      summary: Create an account (returns a session token)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupBody'
      responses:
        '200':
          description: Account created; session token + account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResult'
        '400':
          description: Validation error (missing org, bad email, weak password, terms not accepted).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: An account with that email already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/auth/login:
    post:
      operationId: login
      summary: Verify credentials (returns a session token)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginBody'
      responses:
        '200':
          description: Session token + account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResult'
        '401':
          description: Invalid email or password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account:
    get:
      operationId: getAccount
      summary: Current account (session)
      security:
      - BearerAuth: []
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/keys:
    get:
      operationId: listKeys
      summary: List API keys for the account (session)
      security:
      - BearerAuth: []
      responses:
        '200':
          description: The account's API keys (masked; secrets are never re-shown).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createKey
      summary: Create an API key (secret shown once)
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyBody'
      responses:
        '201':
          description: Key created. `secret` is returned ONCE here; only its hash is stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithSecret'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/keys/{keyId}/rotate:
    post:
      operationId: rotateKey
      summary: Rotate an API key (new secret shown once)
      security:
      - BearerAuth: []
      parameters:
      - name: keyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Rotated key; new `secret` returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithSecret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Key not found or revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/keys/{keyId}:
    delete:
      operationId: deleteKey
      summary: Revoke an API key
      security:
      - BearerAuth: []
      parameters:
      - name: keyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key revoked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - revoked
                  id:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Key not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/usage:
    get:
      operationId: getUsage
      summary: Usage + spend for the current billing period (session)
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Usage summary derived from the searches table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usage'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/team:
    get:
      operationId: getTeam
      summary: Team members (single-owner org today)
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Team members (one owner row).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: inviteMember
      summary: Invite a team member (not available — single-owner)
      security:
      - BearerAuth: []
      responses:
        '400':
          description: Team invitations aren't available yet (accounts are single-owner).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/team/{memberId}:
    delete:
      operationId: removeMember
      summary: Remove a team member (not available — single-owner)
      security:
      - BearerAuth: []
      parameters:
      - name: memberId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Team member management isn't available yet (accounts are single-owner).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/billing:
    get:
      operationId: getBilling
      summary: Billing state (session)
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Billing state derived from the account + usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billing'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Customer API key. Primary auth for search/records/compat/proof.
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Signed session token (HMAC-SHA256). Auth for account/dashboard endpoints; also accepted
        by POST /v1/search and the compat endpoint.

        '
    QueryKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key passed as `?key=` — offenders.io demo mode (compat endpoint only).
    AdminAuth:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Internal admin credential — separate from customer API keys.
  responses:
    Unauthorized:
      description: Missing or invalid credential.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unprocessable:
      description: 'Unprocessable request — e.g. `faceId` supplied (facial search is not supported; we
        never fake a face match).

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Standard FastAPI error body.
      properties:
        detail:
          type: string
          description: Human-readable error message.
          example: Missing or invalid API key. Send it in the X-API-Key header.
    CompatError:
      type: object
      description: 'offenders.io-shaped error body (returned by the /v1/compat/sexoffender endpoint instead
        of the standard `{detail}` shape).

        '
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Missing or invalid API key.
    RateLimitError:
      type: object
      description: 'A refusal that will succeed if you wait. `detail.retryAfterSeconds` always equals
        the `Retry-After` header — read either, but read one: retrying immediately will simply be refused
        again.

        '
      properties:
        detail:
          type: object
          properties:
            code:
              type: string
              enum:
              - rate_limited
              - overloaded
              description: '`rate_limited` is a per-caller quota and clears by itself. `overloaded` means
                the service is at capacity.

                '
            message:
              type: string
            retryAfterSeconds:
              type: integer
              description: Seconds to wait before retrying. Same as `Retry-After`.
    SupportRequest:
      type: object
      required:
      - name
      - email
      - message
      properties:
        name:
          type: string
          maxLength: 120
          description: Who we are replying to.
          example: Dana Okafor
        email:
          type: string
          maxLength: 254
          description: 'The address we reply to. It is checked for a valid shape only — we do not send
            anything to it to confirm it, and it is never added to a list.

            '
          example: dana@example.org
        message:
          type: string
          minLength: 10
          maxLength: 8000
          description: What you would like to ask or tell us.
        subject:
          type: string
          maxLength: 200
          description: Optional one-line summary.
        topic:
          type: string
          enum:
          - sales
          - support
          - security
          - baa
          - other
          default: support
          description: 'Which team should read it first. Anything unrecognised is treated as `support`,
            so a wrong value routes the message rather than refusing it.

            '
        website:
          type: string
          description: 'Leave empty. Present so automated submissions can be told apart from people; a
            message that fills it in is still recorded.

            '
        renderedAt:
          type: integer
          format: int64
          description: 'Optional. Unix time in milliseconds when the form was displayed. Omit it if you
            are calling the endpoint directly — its absence is not held against a submission.

            '
    SupportResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - received
          description: '`received` means the message is recorded and retrievable by `submissionId`.

            '
        submissionId:
          type: string
          description: 'The reference for this message. Quote it if you follow up about the same thread.

            '
          example: sup_9f2c1a4b6d8e0f31
        supportEmail:
          type: string
          description: 'The address a reply will come from, and the address you can write to directly
            instead of using this endpoint.

            '
          example: support@offendersearch.app
    Query:
      type: object
      additionalProperties: false
      description: 'The person/location query. All fields are optional; supply what you have. DOB/age
        drive the match-state (see Record.dobVerification). offenders.io parity filters (q/address/prefixMatch/fuzzy/createdAt*/updatedAt*/page/
        perPage) are applied uniformly across ALL jurisdictions.

        '
      properties:
        firstName:
          type: string
          description: Given name.
          example: John
        lastName:
          type: string
          description: Surname (primary match key).
          example: Smith
        dob:
          type: string
          format: date
          description: 'Date of birth, `YYYY-MM-DD`. Optional, and it NARROWS — a record whose published
            birth evidence conflicts with this date is excluded.


            ★ **It does not require us to hold a date of birth for the person.** The date you send is
            matched against every kind of birth evidence a registry publishes: a full date, a birth year
            alone, or a published age alone. Records with none of those are still returned on the name,
            flagged unverified. `matchState` on each record tells you which of those happened and how
            strong it was — read it there; the four outcomes are `dob_match`, `year_match`, `age_match`
            and `no_dob_age_year`.

            '
          example: '1985-06-14'
        age:
          type: integer
          description: Age filter. Used when DOB is unavailable; matched ±1 year for birthday drift.
          example: 39
        city:
          type: string
          description: Residence city filter.
          example: Chicago
        state:
          type: string
          description: '2-letter USPS state/territory code (`FL`), case-insensitive; the full state or
            territory name (`Florida`) is also accepted and means exactly the same thing. A value we cannot
            resolve to a jurisdiction is rejected with 422 — it is never silently treated as `matches
            nothing`.


            ★ IT IS A UNION, AND YOU SHOULD KNOW WHICH HALF MATCHED. `state` keeps a record when EITHER
            one of its `addressStates` is that state (they live there) OR its `registrationState` is (that
            state''s registry holds them). It does NOT change which registries run — all 58 are searched
            and `state` narrows the answer. (Until 2026-08-05 it silently scoped the fan-out to that state''s
            own registries, which hid anyone registered elsewhere while residing there; use `locationScoped:
            true` if you explicitly want the cheaper, narrower search.) Those two halves are genuinely
            different populations: 105,028 records are registered in a state where they have no address
            on file, and 70,973 records carry no address state at all and are reachable ONLY by the registration
            half. Every record comes back carrying both `registrationState` and `addressStates`, so you
            can tell which half answered without a second call — narrow to residents with `addressStates`,
            or to a registry''s roster with `jurisdictions: ["FL"]`, which is the registration-only filter.

            '
          example: IL
        zipcode:
          type: string
          description: Residence ZIP (first 5 used).
          example: '60614'
        address:
          type: string
          description: 'Parity: fuzzy street-address match (every token must appear in some record address).'
        lat:
          type: number
          description: Latitude for GIS radius search.
          example: 41.9
        lng:
          type: number
          description: Longitude for GIS radius search.
          example: -87.65
        radiusMiles:
          type: number
          maximum: 100
          description: 'Parity: GIS radius in miles. Defaults to 1 when lat/lng given; capped at 100.'
        q:
          type: string
          description: 'Parity: free-text across name/alias/address/city/state/zip (all tokens must appear).'
        fuzzy:
          type: boolean
          description: 'Parity: offenders.io fuzzy toggle. true -> balanced match; false -> strict. Overrides
            `SearchRequest.match`.'
        prefixMatch:
          description: 'PARTIAL-NAME SEARCH. Treat the name(s) you supplied as the START of a name: `thom`
            returns Thomas, Thompson and Thomason. Accepts "firstName", "lastName", "both" (prefix-match
            BOTH fields at once), or a list. Matched against every recorded ALIAS as well as the registered
            legal name; `matchedName` on each record says which one matched. MINIMUM 3 CHARACTERS — a
            shorter prefix returns 422. Prefix matching is a strict superset of exact matching, and an
            exact match always ranks above a prefix match. `nameMatch` overrides this.

            '
          oneOf:
          - type: string
            enum:
            - firstName
            - lastName
            - both
          - type: array
            items:
              type: string
              enum:
              - firstName
              - lastName
        nameMatch:
          type: object
          description: 'EXPLICIT PER-FIELD CONTROL over how names are matched — the fine-grained form
            of `prefixMatch`/`match`. Anything omitted from a field''s list is OFF for that field. Exact
            matching is always on and cannot be disabled. Overrides both `prefixMatch` and `SearchRequest.match`.

            '
          properties:
            firstName:
              type: array
              description: Strategies for the first name. prefix requires >=3 characters; middle requires
                >=2.
              items:
                type: string
                enum:
                - exact
                - prefix
                - nickname
                - fuzzy
                - middle
            lastName:
              type: array
              description: Strategies for the last name. prefix requires >=3 characters.
              items:
                type: string
                enum:
                - exact
                - prefix
                - fuzzy
            aliases:
              type: boolean
              default: true
              description: Also apply these strategies to every recorded alias.
        faceId:
          type: string
          description: Parity input ONLY — facial search is NOT supported; supplying it returns 422 (never
            a faked face match).
        createdAtStart:
          type: string
          format: date-time
          description: 'Parity: lower bound on source.scraped_at (when we first recorded the record).'
        createdAtEnd:
          type: string
          format: date-time
          description: 'Parity: upper bound on source.scraped_at.'
        updatedAtStart:
          type: string
          format: date-time
          description: 'Parity: lower bound on source.source_updated_at (when the source last changed
            the record).'
        updatedAtEnd:
          type: string
          format: date-time
          description: 'Parity: upper bound on source.source_updated_at.'
        page:
          type: integer
          minimum: 1
          description: 'Parity: 1-based page number. Omit it and the whole match set is returned in a
            single page — up to the response cap. ★ ABOVE THE CAP, OMITTING IT IS NOT THE SAME AS ASKING
            FOR EVERYTHING: an unpaginated answer larger than `cappedLimit` (4,000) is trimmed to that
            many records and says so with `capped: true`, and `cappedOmittedSources` names the registries
            that contributed nothing to it. A PAGINATED request is never trimmed — it walks the entire
            match set and `capped` stays `false`. So `counts.records` vs `counts.recordsReturned` is the
            pair to branch on: if they differ, send `perPage` and page through. Most searches never reach
            this — a `name + DOB` query returns tens of records — but a bare common surname does. A page
            past `totalPages` returns an empty `records` array (changed 2026-08-05; it used to re-serve
            the last page).

            '
        perPage:
          type: integer
          minimum: 1
          description: 'Parity: page size. Defaults to 20 when paginating. Sending it turns pagination
            ON, which is what makes an over-cap match set fully reachable. Clamped to `cappedLimit`, so
            a single page can never rebuild the oversized response the cap exists to prevent.

            '
        ageTolerance:
          type: integer
          minimum: 0
          maximum: 10
          default: 1
          description: 'How many years of slack the age comparison allows, when the query carries a `dob`
            and the record publishes only an `age`. Eleven registries publish an age and no date at all,
            so a `name + DOB` search has to compare a searched DATE against a published AGE; how much
            slack that allows is a risk decision, and it is yours. The default of 1 is not arbitrary —
            a published age with an unpublished birthday is consistent with two birth years, and the registry
            may have computed it a refresh before we read it, so the age is anchored to the date we read
            that page rather than to today. Raise it for a high-recall screening pass: more same-name
            strangers, fewer missed true matches.

            '
        onAgeMismatch:
          type: string
          enum:
          - drop
          - flag
          default: drop
          description: 'What to do with a record that matches on NAME but whose published age contradicts
            the searched `dob`. `drop` (default) omits it. `flag` RETURNS it, labelled `matchState: "age_mismatch"`,
            and lets you judge — "silently omitted" and "checked, and the age contradicts your date" are
            different facts. A flagged record is always `unverified` and can never be reported as DOB-confirmed.

            '
    SearchRequest:
      type: object
      required:
      - query
      additionalProperties: false
      properties:
        query:
          $ref: '#/components/schemas/Query'
        jurisdictions:
          type: array
          nullable: true
          items:
            type: string
          description: 'Jurisdiction codes — a registry id, or any two-letter code that registry COVERS,
            in any case. null/omit = the full dataset. ★ AN UNRECOGNISED VALUE IS A 422 (changed 2026-08-05),
            never an empty result. `["XX"]` and `["TEXAS"]` previously returned `status: "complete", records:
            0, sourcesQueried: 0, warnings: []` — indistinguishable from "this person is not a registered
            offender" — for one wrong token, while `["tx"]` returned 1,219. GET /v1/sources lists every
            id.

            '
          example:
          - IL
          - IN
        locationScoped:
          type: boolean
          default: false
          description: 'OPT-IN ONLY. If true AND `query.state` is set, run only the registries that COVER
            that state instead of all 58. `query.state` alone does NOT turn this on — it is a residence
            FILTER, not a registry selector, and inferring the scope from it (the behaviour until 2026-08-05)
            hid every registrant whose registry is not the state they live in: 7.0% of records, and 36%
            of a matched out-of-state-residence sample returned ZERO. When this narrows the fan-out the
            response reports `counts.sourcesSkippedByScope` and a "NARROWED SEARCH" warning, because a
            registry that was never asked contributes a 0 meaning UNKNOWN, not NO MATCH.

            '
        recordTypes:
          type: array
          items:
            type: string
            enum:
            - sex_offender
          default:
          - sex_offender
          description: 'Record types to search. Only sex_offender today; criminal records land later additively.
            ★ ANY OTHER VALUE IS A 422 (changed 2026-08-05) — note the underscore: `["sexoffender"]` used
            to return a clean, complete zero.

            '
        freshness:
          type: string
          enum:
          - daily
          - weekly
          - standard
          default: daily
          description: 'Per-request data-freshness tier — two billable values, DEFAULT `daily` when omitted.
            ★ ANY OTHER VALUE IS A 422 (changed 2026-08-05): `"hourly"` previously returned 200 AND was
            echoed back in the response as if it were an honoured tier, on a call billed as `daily`. `daily`
            is the freshest data we publish: every registry is swept on a daily cycle and a `daily` answer
            is built from the newest snapshot of each, in practice almost real time. It bills the +$0.01/call
            daily-freshness surcharge on top of the base per-call rate (admin-overridable per customer,
            `daily_surcharge_cents`). `weekly` is also fresh — identity data is essentially identical
            and only the most recent movements may lag — and carries NO surcharge; it is the right tier
            for bulk and periodic re-screens. THIS IS NOT A FILTER: no registry is withheld from a result
            for being older than the tier, and `status` never becomes `partial` because of a snapshot
            age. Read `record.source.scrapedAt` for a record''s actual currency and `GET /v1/sources`
            for a registry''s. (`standard` is accepted as a legacy alias and bills as `daily`.)

            '
        onStale:
          type: string
          enum:
          - include
          - omit
          default: include
          deprecated: true
          description: 'DEPRECATED 2026-08-04 — leave it unset. The default (`include`) is the behaviour
            you want. Still accepted so that request bodies written against the old default keep working.
            Note before sending it: `omit` is a filter that DROPS WHOLE REGISTRIES from your own search.
            A registry it drops contributes zero records and is reported honestly as incomplete — `sourceStatus[].incompleteReason:
            "excluded"`, counted in `counts.sourcesIncomplete`, and named in the `INCOMPLETE SEARCH:`
            warning — so a `0` from it means UNKNOWN, not NO MATCH. Remove the parameter and those records
            come back. Does NOT affect billing — the surcharge is keyed to `freshness` only.

            '
        match:
          type: string
          enum:
          - strict
          - balanced
          - broad
          default: balanced
          description: "Fuzzy-match tolerance applied uniformly across ALL jurisdictions. ★ AN UNRECOGNISED\
            \ VALUE IS A 422 (changed 2026-08-05). A typo used to fall through to `balanced`: `\"strick\"\
            ` returned 16 records where the `strict` the caller asked for returns 11 — a silent WIDENING,\
            \ and the same fallthrough narrows in the other direction. strict=exact; balanced=nicknames/variants/initials/typos(dist\
            \ 1) on first name, exact last; broad=also prefix/typo on last name. (query.prefixMatch/query.fuzzy\
            \ override this — see Query.)\n\n★ THE COMPLETE, ENUMERATED LIST OF WHAT EACH MODE DOES TO\
            \ A NAME. Nothing outside this table is applied to a name in any mode. Every transformation\
            \ is reported per record in `matchDetail.strategies`, so you can always see which one produced\
            \ a given hit — and filter on it.\nGIVEN NAME (`firstName`)\n  exact     — equal, case- and\
            \ accent-insensitive.               strict, balanced, broad\n  nickname  — a curated given-name\
            \ equivalence table (123 groups,\n              418 names): Bob/Bobby/Rob/Robert, Tony/Anthony,\n\
            \              Peggy/Margaret, Bill/Will/William. It is a fixed list,\n              not an\
            \ algorithm; the equivalents we hold for any\n              record are published on that record\
            \ as `nicknames`, so\n              you can read the table straight off the wire.\n      \
            \                                                           balanced, broad\n  initial   —\
            \ one letter against a full name, either direction:\n              `J` matches `John`, and\
            \ `J` on file is matched by\n              `John`.                                       \
            \     balanced, broad\n  prefix    — the stored name STARTS WITH what you sent, minimum\n\
            \              3 characters: `Thom` -> `Thomas`, `Marcel` ->\n              `Marcellous`.\
            \ Anchored at the start, never a\n              substring.                               \
            \          balanced, broad\n  fuzzy     — Damerau-Levenshtein edit distance (a swap of two\n\
            \              adjacent letters counts as ONE edit, so `Jhon` ->\n              `John`). BUDGET:\
            \ **1 edit in `balanced`, 2 in\n              `broad`.** Not phonetic — see the `broad` warning\n\
            \              below for why the second edit is opt-in.            balanced (1), broad (2)\n\
            \  middle    — the given name you sent is the person's MIDDLE name.\n              81.1% of\
            \ the records we hold carry one, and many\n              people are known by theirs, so `firstName=Wayne`\n\
            \              returns the man registered as `Dean Wayne Ellison`.\n              WHOLE TOKEN,\
            \ EXACTLY, minimum 2 characters: `Wayne`\n              matches the `Wayne` of `Wayne Allen`;\
            \ it does not\n              match `Waynette`, `Wayn` or the initial `W`. Never\n        \
            \      prefixed, never fuzzy: some names are overwhelmingly\n              MIDDLE names (`Lee`\
            \ is 20x commoner in the middle slot\n              than the first), so for exactly the names\
            \ this matches\n              it draws on a much larger pool — which is where\n          \
            \    spelling latitude is least affordable.\n              Reported as `firstName: \"middle\"\
            ` and capped at 0.60.\n                                                                 balanced,\
            \ broad\n  absent    — the record publishes no given name at all, so your\n              query\
            \ could not be DISPROVED. Kept and flagged; never\n              a confirmation.         \
            \                            every mode\n\nSURNAME (`lastName`)\n  exact     — equal, or equal\
            \ to one whole token of a compound\n              surname (`Smith` matches `Hamilton-Smith`,\
            \ and never\n              `Goldsmith`).                                       strict, balanced,\
            \ broad\n  prefix    — starts-with, minimum 3 characters.                  broad only\n  fuzzy\
            \     — edit distance, budget SCALED BY LENGTH: 0 edits at\n              <=4 characters,\
            \ 1 at 5-7, 2 at >=8. `Hernandez` ->\n              `Fernandez` matches; `Ross` -> `Rose`\
            \ does not.     broad only\n  There is no nickname table for surnames, and asking for one\n\
            \  (`nameMatch.lastName: [\"nickname\"]`) is a 422.\n\nALIASES — searched in `balanced` and\
            \ `broad`, not in `strict`, and with `exact`/`prefix`/`fuzzy` only. Aliases arrive unstructured\
            \ and in mixed word order, so every token is tested and we cannot tell you which token was\
            \ the given name — which is why `nickname` and `initial` are not offered on them. An alias-only\
            \ hit is reported as `alias:<strategy>` and caps `matchConfidence` at 0.55.\n★ WHAT WE DO\
            \ NOT DO, STATED PLAINLY, BECAUSE IT IS THE QUESTION EVERY EVALUATION ASKS. No phonetic or\
            \ Soundex matching (`Smyth` -> `Smith` works because it is one edit; `Schmidt` -> `Smith`\
            \ does not and will not). No transliteration. No middle-name field. No cross-field matching\
            \ — a `firstName` query is never tested against a surname. No inference of one name from another\
            \ beyond the fixed nickname table above. If you need a variant we do not cover, send it as\
            \ a second query; we would rather you saw two honest answers than one widened one.\n\n★ CORRECTION,\
            \ 2026-08-05 — `balanced` USED TO FUZZ THE GIVEN NAME AT 2 EDITS, WHICH IS NOT WHAT THIS DOCUMENT\
            \ HAS EVER SAID. Every client-facing surface promised edit distance 1 for `balanced`; the\
            \ engine ran 2. Measured on 4,000 production records over 12 surnames and 25 given names,\
            \ the second edit returned 2,504 records where 1 returns 1,274 — and of the 1,230 it added,\
            \ ZERO were nickname-table equivalents and 98.0% carried an entirely unrelated given name\
            \ (`juan`->`john`, `carl`->`paul`, `gary`->`mark`, `rick`->`eric`). Two edits on a four-letter\
            \ name replace half of it. `balanced` now behaves as documented. If you were relying on the\
            \ wider behaviour, ask for `broad` — it is the same budget, named, and its cost is documented\
            \ below. Recall was measured before the change on a control cohort: 21 of 21 people from a\
            \ customer's own audit corpus, and 40 of 40 blind registrants queried by their registered\
            \ given name, are all still returned.\n\n★ PREFER `balanced` (the default), ESPECIALLY FOR\
            \ A NATIONAL SEARCH. `balanced` already handles the variants people reach for `broad` to solve\
            \ — nicknames (Tony/Anthony), initials, first-name prefixes and first-name typos. Measured\
            \ against 34,894 competitor records, `balanced` matched 98.28% and `broad` recovered only\
            \ 38 more (0.11%).\n\n★ `broad` FUZZES THE SURNAME, AND THAT COSTS PRECISION. Its surname\
            \ edit-distance budget scales with length (0 edits at <=4 characters, 1 at 5-7, 2 at >=8),\
            \ which is why `Hernandez`/`Fernandez` matches but `Ross`/`Rose` does not. Even so, `broad`\
            \ returns roughly 13.5% surname false positives by design: at 6 letters a single edit cannot\
            \ separate `Siegel` from `Riegel` any more than `Smith` from `Smyth`. Every such hit is labelled\
            \ `lastName:fuzzy` in `matchBasis` — filter on it before acting. In this API a false positive\
            \ (naming an innocent person as a registered offender) is a materially worse error than a\
            \ miss.\n\n★ `broad` MAY NOT FINISH AT NATIONAL SCOPE. It cannot use the indexed surname range,\
            \ so it reads far more candidate rows per registry; a 57-registry fan-out can exceed the per-registry\
            \ deadline. When that happens the response says so (`status: partial`, `counts.sourcesIncomplete\
            \ > 0`, a `warnings[]` sentence naming each registry) — it is never silently short. Production\
            \ 2026-08-04, {\"firstName\":\"Tony\",\"lastName\":\"Wilson\"}: balanced returned 182 records\
            \ `complete`; broad returned 32 with `sourcesIncomplete: 29`. Scope `broad` with `query.state`\
            \ to use it safely.\n"
        include:
          type: array
          items:
            type: string
            enum:
            - stateData
            - raw
            - extensive
          description: 'Parity: request extensive detail. `["stateData"]` (or `["extensive"]`) adds the
            `stateData` block. It is the ONLY field behind this option — `offenses[]` and `images[]` come
            back on every response. A response reports what it left out in top-level `omittedFields`.'
        proof:
          allOf:
          - $ref: '#/components/schemas/ProofRequest'
          nullable: true
          description: 'Optional inline request for the per-registry look-alike proof add-on (billing
            required — 402 otherwise). This is NOT the customer verification report — for that use `POST
            /v1/report` (consolidated, requires `requesterName`). Omit for no extra charge.

            '
        deadlineMs:
          type: integer
          default: 120000
          minimum: 1000
          maximum: 600000
          description: 'Maximum time to wait, in ms. Default 2 minutes (120000); lower it for a faster,
            bounded response. ★ BOUNDED TO 1000-600000 SINCE 2026-08-05 — outside that is a 422. `0` and
            `-1` were previously accepted and silently ignored, and on the cache-served sync path the
            per-registry probe deadline governs anyway, so a sub-second value could never have meant what
            it said.

            '
        onDeadline:
          type: string
          enum:
          - partial
          - error
          default: partial
          description: 'On deadline: partial=return what completed (status=partial); error=return 504.
            ★ Any other value is a 422 (changed 2026-08-05); it used to fall through to `partial`.

            '
    ReportRequest:
      description: 'Generate a verification report for a search that was ALREADY run: pass the `searchId`
        returned by a prior `POST /v1/search` (or `/v1/searches`) call — up to 7 days afterward. The viewer
        identity (`viewerName`/`viewerEmail`, or the legacy `requesterName`) is OPTIONAL and is printed
        at the top of the PDF as a record of who viewed it — it is NOT an access gate. A legacy one-shot
        mode is still supported: omit `searchId` and pass an inline `query` (+ optional `jurisdictions`/`locationScoped`/`freshness`)
        to run the search inline. Provide EITHER a `searchId` OR a `query`.

        '
      type: object
      properties:
        searchId:
          type: string
          nullable: true
          description: Id of a prior /v1/search (or /v1/searches) call to report on (within the 7-day
            window).
          example: srch_9f2c1a7b3e4d
        query:
          $ref: '#/components/schemas/Query'
        jurisdictions:
          type: array
          nullable: true
          items:
            type: string
          description: Legacy one-shot mode only (ignored when searchId is given).
        locationScoped:
          type: boolean
          default: false
        freshness:
          type: string
          enum:
          - daily
          - weekly
          default: daily
        viewerName:
          type: string
          nullable: true
          description: OPTIONAL — name of the person viewing/running the report (printed on the PDF).
          example: Jane Doe, HR Compliance
        viewerEmail:
          type: string
          nullable: true
          description: OPTIONAL — email of the viewer (printed on the PDF).
          example: jane@acme.example
        requesterName:
          type: string
          nullable: true
          description: Legacy alias for viewerName (optional).
        purpose:
          type: string
          nullable: true
          description: Optional stated purpose for the lookup (printed on the PDF).
          example: Volunteer background screening
        reference:
          type: string
          nullable: true
          description: Optional caller reference / case id (printed on the PDF).
          example: case-2026-0417
    AsyncSearchRequest:
      allOf:
      - $ref: '#/components/schemas/SearchRequest'
      - type: object
        properties:
          webhookUrl:
            type: string
            format: uri
            nullable: true
            description: Optional URL to notify when the async search completes.
    AsyncSearchAccepted:
      type: object
      description: The 202 body returned by POST /v1/searches.
      properties:
        searchId:
          type: string
          example: srch_9f2c1a7b
        status:
          type: string
          enum:
          - pending
          - running
        jurisdictionsQueried:
          type: integer
          description: How many jurisdictions this search will query.
        estimatedCompletionSec:
          type: integer
          example: 20
        resultsUrl:
          type: string
          description: Poll this for status + results.
          example: /v1/searches/srch_9f2c1a7b
    SearchResponse:
      type: object
      description: 'Synchronous result, or the state of an async job. While pending/running, `records`/`sourceStatus`
        are empty and `counts` is zeroed; on error, `error` is set and other fields may be omitted.

        '
      properties:
        searchId:
          type: string
          example: srch_9f2c1a7b
        status:
          type: string
          enum:
          - complete
          - partial
          - running
          - pending
          - error
          description: 'complete=every registry was searched to the end; partial=at least one was NOT
            (deadline or candidate-cap truncation) or a source errored; pending/running=async job in flight;
            error=async job failed. ★ `partial` is NEVER about how old the data is — a snapshot''s age
            does not affect `status`. When `status` is `partial`, read `counts.sourcesIncomplete` before
            treating an empty `records` as an answer (API-CONTRACT.md §5.0).

            '
        freshness:
          type: string
          enum:
          - daily
          - weekly
          - standard
          description: 'The freshness tier the caller asked for, echoed back — also the tier billed. Normally
            `daily` or `weekly`. `standard` appears only when the caller sent the legacy value (billed
            as `daily`). An unrecognised request value is echoed as `daily`. For how current the DATA
            is, read `record.source.scrapedAt` per record or `GET /v1/sources` per registry.

            '
        elapsedMs:
          type: integer
          description: Server processing time for the search, in ms.
        counts:
          type: object
          description: Roll-up counts.
          properties:
            records:
              type: integer
              description: 'TOTAL matched records, BEFORE the page slice — not `records.length`. The envelope
                also carries `page`, `perPage` and `totalPages`, so you do not need to compute the page
                count yourself.

                '
            recordsReturned:
              type: integer
              description: 'How many records THIS RESPONSE carries. Equal to `counts.records` on virtually
                every search; when `capped` is true it is the cap and `counts.records` is the true match
                count, so the two together tell you exactly how much of the answer you are holding. Always
                present.

                '
            sourcesQueried:
              type: integer
              description: 'Registries queried in this search. A default search — INCLUDING one with `query.state`
                — queries all 58. Only an explicit `jurisdictions` list or an explicit `locationScoped:
                true` reduces it.

                '
            sourcesSkippedByScope:
              type: integer
              description: 'Registries NOT queried because the caller sent `locationScoped: true`. Always
                present; 0 on every default search. Above 0 the answer excludes anyone registered by a
                registry outside the requested state, however they match the residence filter — those
                registries contributed nothing because they were not searched, which is not the same as
                finding no match.

                '
            sourcesIncomplete:
              type: integer
              description: 'Registries that could NOT BE SEARCHED TO THE END — either the registry did
                not answer within its 15s deadline, or the query matched more than 15,000 candidate rows
                in that registry and only the first 15,000 were examined (2,000 for the speculative typo
                arm of `match: "broad"`). This is NOT the same as paging: `page`/`perPage` slice an answer
                you can walk in full, and never cost you a record. See `incompleteReason`. Anything above
                0 means `records` is a LOWER BOUND: a matching person may exist in that registry and simply
                never have been reached. ★ AN EMPTY `records` ARRAY WITH `sourcesIncomplete > 0` IS NOT
                EVIDENCE THAT A PERSON IS UNREGISTERED. `sourceStatus[].incomplete` identifies which registries,
                and `warnings[0]` states it in prose. See API-CONTRACT.md §5.0.

                '
            sourcesComplete:
              type: integer
              description: '★ HOW MANY REGISTRIES ACTUALLY ANSWERED THIS REQUEST — the positive count,
                and the one to build a retry policy on. Always present. `status: "complete"` means exactly
                `sourcesComplete == sourcesQueried`; both come from the same internal test, so the word
                and the number can never disagree. READ IT AS A RATIO. `status: "partial"` is one word
                covering everything from "one registry was slow" to "almost none of them answered" — on
                2026-08-05 the identical nationwide body returned 207 records with 57 of 58 registries
                answering, and 9 records with 7 of 58 answering, and BOTH said `partial`. `sourcesComplete/sourcesQueried`
                is what tells those apart: hold-and-retry on a low ratio, accept a high one. DO NOT compute
                this as `sourcesQueried - sourcesIncomplete`. That subtraction over-counts: a registry
                that errored, or that is closed to commercial use (`status: "restricted"`), or that does
                not cover your query (`"no_coverage"`) contributed nothing and sets no `incomplete` flag,
                so the subtraction credits it as having answered. This field does not. It is a fact about
                THIS REQUEST''S fan-out and says nothing about when any registry was last collected.

                '
        warnings:
          type: array
          items:
            type: string
          description: 'Plain-language notices about anything that SHORTENED this answer — one sentence
            per condition, naming the registries. ALWAYS present; `[]` means nothing did, so `warnings
            == []` is a valid completeness check and the cheapest one available. The loudest entry, always
            first when present, begins "INCOMPLETE SEARCH:" and means one or more registries could not
            be searched to the end. Freshness never produces a warning.

            '
        page:
          type: integer
          description: 'The page you asked for, echoed back. `1` when the caller did not paginate. ★ CHANGED
            2026-08-05: a `query.page` past `totalPages` now returns an EMPTY `records` array instead
            of being CLAMPED to the last page. The clamp re-served the last page under every page number
            you sent (pages 5, 6 and 50 of a 4-page result all carried page 4''s records), so the canonical
            `while records: page += 1` client NEVER TERMINATED — and /v1/search meters one billable call
            per request, so every spin was charged. `counts.records` and `totalPages` are unchanged, and
            walking 1..totalPages returns exactly the same records it always did.

            '
        perPage:
          type: integer
          description: 'Page size actually applied. NOTE: when the caller did NOT paginate this equals
            the TOTAL record count (the whole set was returned in one page), not the 20 default.

            '
        totalPages:
          type: integer
          description: Total pages at this `perPage`. `1` when the caller did not paginate.
        sourceStatus:
          type: array
          items:
            $ref: '#/components/schemas/SourceStatus'
          description: Per-source outcome for this search.
        records:
          type: array
          items:
            $ref: '#/components/schemas/Record'
        proof:
          allOf:
          - $ref: '#/components/schemas/ProofBundle'
          description: Proof bundle when `proof` was requested; otherwise {status:none}.
        error:
          type: string
          nullable: true
          description: Set only when an async job failed (status=error).
        capped:
          type: boolean
          description: 'TRUE when the search matched more records than one response may carry and the
            list was cut to `cappedLimit`. Always present, `false` on virtually every search. **Branch
            on this field, not on prose and not by comparing counts.** When it is true, `counts.records`
            is still the true number of people who matched — you are holding the first `cappedLimit` of
            them. A capped response is not an error and not a `partial`: every record in it is a real
            match, and the registries were all searched to the end. To see the rest, narrow the search
            (see `cappedReason`).

            '
        cappedReason:
          type: string
          nullable: true
          enum:
          - responseLimit
          description: 'Why the response was capped; `null` when `capped` is false. `responseLimit` is
            the fixed ceiling on how many records one response may carry. It exists so that a whole-registry
            sweep cannot be issued as a single call; it is not a limit on how much of the corpus you may
            reach, only on how much of it arrives at once.

            '
        cappedLimit:
          type: integer
          nullable: true
          description: 'The ceiling that was applied (currently 4000), or `null` when `capped` is false.
            Read it from the response rather than hard-coding it.

            '
        cappedOmittedSources:
          type: array
          items:
            type: string
          description: 'The registries whose records are ENTIRELY absent from this response because of
            the cap — sorted, and `[]` on every uncapped search (always present). `capped` / `cappedLimit`
            tell you HOW MANY records did not fit; this tells you WHOSE. Records are ordered by match
            confidence rather than by registry, so a registry''s whole contribution can fall below the
            line together. ★ NO PAGE OF THIS RESPONSE REACHES A REGISTRY NAMED HERE: `totalPages` counts
            only the `cappedLimit` records carried, so walking every page does not recover them. Their
            `sourceStatus[].matched` counts are still exact. The recovery is to NARROW the search until
            the answer fits — add `state`, `city`, `zipCode`, `firstName` or `dob`/`age`, or name registries
            directly with `jurisdictions`. Example: `{"lastName":"Smith"}` matches 11,338 people nationally
            and this list names the registries holding the rest; the same query with `"state": "GA"` returns
            894 records with `capped: false`.

            '
        omittedFields:
          type: array
          items:
            type: string
          description: 'The record FIELDS this response does not carry because you did not request them
            — `["stateData"]` on a default search, `[]` when `include` (or compat `mode=extensive`) was
            sent. Always present. ★ READ IT BEFORE TREATING A NULL NESTED BLOCK AS A FACT ABOUT THE REGISTRANT.
            `stateData: null` is byte-identical for "you did not ask" and "this registry publishes none";
            this key is the only thing that separates them. `images` and `offenses` are never omitted,
            so `[]` there is always a fact about the registrant.

            '
    SourceStatus:
      type: object
      description: One source's outcome within a search.
      properties:
        source:
          type: string
          description: Jurisdiction / source code.
          example: IL
        status:
          type: string
          enum:
          - ok
          - error
          - restricted
          - no_coverage
          description: 'ok=searched (records may be []); error=network/parse failure; restricted=legal
            gate (surfaced, not dropped); no_coverage=registry doesn''t cover this query. ★ `ok` DOES
            NOT MEAN THE SEARCH FINISHED — a registry that timed out or whose candidate set was truncated
            still reports `ok`, because `status` describes whether the registry RESPONDED. Read `incomplete`.

            '
        matched:
          type: integer
          description: Records this source contributed, before cross-source merge. When `incomplete` is
            true this is a LOWER BOUND.
        fromCache:
          type: boolean
          description: True when served from the current snapshot.
        note:
          type: string
          nullable: true
          description: 'Free-text detail, reworded without notice. NEVER branch on it. It no longer carries
            any statement about the age of our data: a filter on the way out replaces such wording, so
            `note` describes only what happened to the search. Use `incomplete` / `incompleteReason` for
            search completeness, and `record.source.scrapedAt` for a record''s own provenance.

            '
        incomplete:
          type: boolean
          description: 'True when this registry WAS NOT SEARCHED TO THE END — its `matched` count is a
            LOWER BOUND and a matching person may exist here that you were not shown. ★ INDEPENDENT OF
            `status`: an incomplete source still reports `status: ok`, because `status` describes whether
            the registry RESPONDED, not whether the search FINISHED. Read this field, not `status`, to
            decide whether an empty result means "nobody matched". See API-CONTRACT.md §5.0.

            '
        incompleteReason:
          type: string
          nullable: true
          enum:
          - deadline
          - truncated
          - excluded
          - not_searched
          - unavailable
          - error
          description: '★ WHY THIS REGISTRY DID NOT FINISH — a CLOSED enum, and the field to branch on.
            `incompleteReason` is non-null if and only if `incomplete` is true; the two are always set
            together, so `incomplete` is your boolean gate and this is the reason you act on. Do NOT parse
            `note` for any of this: `note` is free text, it has been reworded before, and one of its sentences
            said "stale" about a deadline for months.


            **The six values, and what to DO about each:**


            `deadline` — this registry did not answer within its 15-second deadline and contributed zero
            (or, if we had a cached answer to fall back on, a short) result. ★ RETRYABLE: retry the same
            request, or raise `deadlineMs`.


            `truncated` — your query matched more candidate rows in this registry''s prefilter than one
            search may examine, so only the first 15,000 were searched and that window is NOT ranked —
            a match outside it is not returned. This is NOT a page: there is no "next 15,000" to ask for,
            which is exactly what distinguishes it from `perPage`. ★ RETRYING IS NOT THE FIX — narrow
            the query instead, most effectively by adding a surname. Shapes that trip it: a `firstName`
            with no `lastName`; a `city`/`zipCode`/`dob`/`age` with no name at all; short or common surname
            tokens searched nationally. Under `match: "broad"` it is also reported when the speculative
            typo arm — which carries its own, much smaller 2,000-row budget so it can never spend the
            whole candidate cap — matched more misspelling candidates than that budget allows.


            ★ A `dob` OR `age` IS NEVER THE THING THAT GETS CUT. When your query constrains the birth
            year, the records whose birth year MATCHES are examined first, to the full 15,000; only the
            leftover budget goes to records whose registry publishes no birth date. Those unknown-birth-date
            records are still returned when the name matches — a registry that publishes no DOB cannot
            rule a person out, so they come back flagged `dobVerification: "unverified_no_dob_or_age"`
            — but they can no longer displace somebody whose birth date is exactly the one you asked about.
            So if you see `truncated` on a query carrying a DOB, the records that were cut are from the
            unknown-birth-date group. See API-CONTRACT.md §5.0.


            `excluded` — YOUR OWN deprecated `onStale: "omit"` dropped this registry. Remove the parameter
            and its records come back. Nothing is wrong on our side.


            `not_searched` — we had nothing to search for this registry at all. An immediate retry will
            not help: this is a coverage failure on our side and it already alerts us. Treat the answer
            as a lower bound and re-run later.


            `unavailable` — we could not READ this registry for this request (a transient backend or transport
            fault). It contributed nothing. ★ RETRYABLE.


            `error` — this registry returned an error for this request (network / parse). It contributed
            nothing. ★ RETRYABLE with backoff; a persistent one is ours and is alerting.


            **`null`** when `incomplete` is false — this registry was searched to the end and its `matched`
            count is exact.


            ★ ADDED 2026-08-05: `unavailable` and `error`. Before that date a registry that FAILED was
            reported `status: "error"` with `incomplete: false` and `incompleteReason: null`, so it was
            missing from `counts.sourcesIncomplete` and from the `INCOMPLETE SEARCH:` warning, and the
            only description of what had happened was the wording of `note`. `excluded` and `not_searched`
            could always be emitted but were **missing from this enum** — if you generated types from
            an older copy of this spec, regenerate them.


            ★ THERE IS NO `stale` MEMBER, AND THERE WILL NOT BE ONE. This field describes THIS REQUEST''S
            FAN-OUT — did each registry answer, and was it searched to the end. It is not, and will never
            be, a statement about how old our snapshot of a registry is. Those are different questions:
            a registry swept ten minutes ago can still be incomplete, and a registry swept yesterday was
            still searched to the end and its `0` is a real `0`. If you want a registry''s currency, ask
            for it directly at `GET /v1/sources` -> `health.lastSuccessAt` (no API key required), or read
            `record.source.scrapedAt` for a single record.

            '
        cappedOmitted:
          type: boolean
          description: 'True when this registry matched people and NONE of its records are in this response,
            because the response cap (`capped` / `cappedLimit`) cut the list before any of them. Always
            present, `false` on virtually every search. ★ THIS IS NOT `incomplete`, AND THE DIFFERENCE
            IS THE ACTION YOU TAKE. `incomplete` means the registry could not be searched to the end,
            so its `matched` is a lower bound. Here the registry WAS searched to the end and its `matched`
            is EXACT — what is missing is the records, not the search. So `status` stays `complete` and
            `counts.sourcesIncomplete` does not count it. ★ AND PAGING CANNOT REACH IT: `totalPages` counts
            only the records this response carries, so a registry flagged here is on no page of it. Narrow
            the search instead — add `state`, `city`, `zipCode`, `firstName` or `dob`/`age`, or name registries
            with `jurisdictions` — and the answer fits under the ceiling with nothing left out. The rolled-up
            list of every registry flagged here is `cappedOmittedSources` on the response.

            '
    Name:
      type: object
      properties:
        first:
          type: string
        middle:
          type: string
        last:
          type: string
        suffix:
          type: string
        full:
          type: string
          description: 'Computed: first middle last suffix, joined.'
    Address:
      type: object
      properties:
        type:
          type: string
          default: residence
          description: 'Address kind. This is an OPEN vocabulary, not a closed enum — treat it as a string
            with a common case. Values observed in production, by frequency: `residence` (~85%), `employment`
            (~8%), `other` (~4%), `incarceration`, `H`, `O`, `school`, `transient`, `RL`. The single-letter
            values are raw registry codes that are not yet normalized. Match `residence` explicitly and
            bucket everything else rather than switching exhaustively.

            '
          example: residence
        line1:
          type: string
        city:
          type: string
        county:
          type: string
        state:
          type: string
        zipcode:
          type: string
        lat:
          type: number
          nullable: true
          description: Populated only for GIS/geocoded sources.
        lng:
          type: number
          nullable: true
    Offense:
      type: object
      description: 'Structured offense (richer than offenders.io''s single packed `crime` string).

        '
      properties:
        crime:
          type: string
        statute:
          type: string
        riskLevel:
          type: string
          description: 'The registry''s RISK CLASSIFICATION for this registrant, verbatim (`"Tier 3"`,
            `"Level 2"`, `"MODERATE"`), or `""`. **Not comparable across states** — each is a different
            statutory scale, and there is no cross-state severity ranking in this API. **Many states run
            no risk scheme at all and return `""`; that is a fact about the statute, not about the registrant,
            and it never means low risk.** It is also NOT a registration status: for whether a registrant
            is confined, absconded, deported or deceased, read `stateData.status`. **Florida** defines
            a statutory *designation* rather than a tier, so Florida records return `riskLevel: ""` and
            carry `"Sexual Predator"` / `"Sexual Offender"` / `"Juvenile Sexual Offender"` in `stateData.designation`
            (and the `flags.predator` boolean).

            '
        tier:
          type: string
          description: 'The registry''s TIER, where it publishes one separately from `riskLevel`, verbatim
            (`"Tier 3"`, `"II"`), or `""`. Frequently a duplicate of `riskLevel`; same cross-state caveat.

            '
        convictionDate:
          type: string
          description: 'ISO-8601. `YYYY-MM-DD`, or the reduced-precision `YYYY-MM` / `YYYY` when the registry
            publishes only a month or a year, or `""`. Read `datePrecision.convictionDate` to tell those
            apart without measuring the string length. ★ BREAKING 2026-08-04 — this used to be the registry''s
            string passed through verbatim, so one response could carry "2003-03-31", "10/11/1988", "11-29-1987"
            and "Aug. 10, 1987" in the same key. The original text is still available in `datesAsPublished`.

            '
        offenseDate:
          type: string
[...]
