swagger: "2.0"
schemes:
  - https
host: api.meraki.com
basePath: /api/v0
info:
  contact:
    x-twitter: meraki
  description: |
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.

    > Date: 21 June, 2021
    >
    > [What's New](https://meraki.io/whats-new/)

    ---

    [API Documentation](https://meraki.io/api)

    [Community Support](https://meraki.io/community)

    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: 0.0.0-streaming
  x-apisguru-categories:
    - iot
    - enterprise
  x-logo:
    url: https://n140.meraki.com/images/cisco-meraki.png
  x-origin:
    - format: openapi
      url: https://api.meraki.com/api/v0/openapiSpec
      version: "3.0"
  x-preferred: true
  x-providerName: meraki.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  meraki_api_key:
    in: header
    name: X-Cisco-Meraki-API-Key
    type: apiKey
security:
  - meraki_api_key: []
tags:
  - name: API usage
  - name: Action batches
  - name: Admins
  - name: Alert settings
  - name: Bluetooth clients
  - name: Bluetooth settings
  - name: Camera quality retention profiles
  - name: Cameras
  - name: Change log
  - name: Clients
  - name: Config templates
  - name: Connectivity monitoring destinations
  - name: Content filtering categories
  - name: Content filtering rules
  - name: Dashboard branding policies
  - name: Devices
  - name: Events
  - name: Firewalled services
  - name: Floor plans
  - name: Group policies
  - name: HTTP servers
  - name: Intrusion settings
  - name: Licenses
  - name: Link aggregations
  - name: MG DHCP settings
  - name: MG LAN settings
  - name: MG connectivity monitoring destinations
  - name: MG port forwarding rules
  - name: MG subnet pool settings
  - name: MG uplink settings
  - name: MR L3 firewall
  - name: MV Sense
  - name: MX 1:1 NAT rules
  - name: MX 1:Many NAT rules
  - name: MX L3 inbound firewall
  - name: MX L3 outbound firewall
  - name: MX L7 application categories
  - name: MX L7 firewall
  - name: MX VLAN ports
  - name: MX VPN firewall
  - name: MX cellular firewall
  - name: MX port forwarding rules
  - name: MX static routes
  - name: MX warm spare settings
  - name: Malware settings
  - name: Management interface settings
  - name: Meraki auth users
  - name: Monitored media servers
  - name: Named tag scope
  - name: NetFlow settings
  - name: Networks
  - name: OpenAPI Spec
  - name: Organizations
  - name: PII
  - name: Radio settings
  - name: SAML roles
  - name: SM
  - name: SNMP settings
  - name: SSIDs
  - name: Security events
  - name: Splash login attempts
  - name: Splash settings
  - name: Switch ACLs
  - name: Switch access policies
  - name: Switch port schedules
  - name: Switch ports
  - name: Switch profiles
  - name: Switch settings
  - name: Switch stacks
  - name: Syslog servers
  - name: Traffic analysis settings
  - name: Traffic shaping
  - name: Traffic shaping uplink settings
  - name: VLANs
  - name: Webhook logs
  - name: Wireless health
  - name: Wireless settings
paths:
  "/devices/{serial}/camera/analytics/live":
    get:
      description: Returns live state from camera of analytics zones
      operationId: getDeviceCameraAnalyticsLive
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              ts: 2018-08-15T18:32:38.123Z
              zones:
                "0":
                  person: 0
          schema:
            type: object
      summary: Returns live state from camera of analytics zones
      tags:
        - MV Sense
  "/devices/{serial}/camera/analytics/overview":
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: getDeviceCameraAnalyticsOverview
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.
          format: float
          in: query
          name: timespan
          type: number
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          enum:
            - person
            - vehicle
          in: query
          name: objectType
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - averageCount: 5
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 254
                startTs: 2018-08-15T18:32:38.123Z
                zoneId: 0
          schema:
            type: object
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
        - MV Sense
  "/devices/{serial}/camera/analytics/recent":
    get:
      description: Returns most recent record for analytics zones
      operationId: getDeviceCameraAnalyticsRecent
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          enum:
            - person
            - vehicle
          in: query
          name: objectType
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - averageCount: 2.54
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 10
                startTs: 2018-08-15T18:32:38.123Z
                zoneId: 0
          schema:
            type: object
      summary: Returns most recent record for analytics zones
      tags:
        - MV Sense
  "/devices/{serial}/camera/analytics/zones":
    get:
      description: Returns all configured analytic zones for this camera
      operationId: getDeviceCameraAnalyticsZones
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - id: "0"
                label: Full Frame
                regionOfInterest:
                  x0: "0.00"
                  x1: "1.00"
                  y0: "0.00"
                  y1: "1.00"
                type: occupancy
          schema:
            type: object
      summary: Returns all configured analytic zones for this camera
      tags:
        - MV Sense
  "/devices/{serial}/camera/analytics/zones/{zoneId}/history":
    get:
      description: Return historical records for analytic zones
      operationId: getDeviceCameraAnalyticsZoneHistory
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: zoneId
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.
          format: float
          in: query
          name: timespan
          type: number
        - description: "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          in: query
          name: resolution
          type: integer
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          enum:
            - person
            - vehicle
          in: query
          name: objectType
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - averageCount: 1.5
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 5
                startTs: 2018-08-15T18:32:38.123Z
          schema:
            type: object
      summary: Return historical records for analytic zones
      tags:
        - MV Sense
  "/devices/{serial}/camera/qualityAndRetentionSettings":
    get:
      description: Returns quality and retention settings for the given camera
      operationId: getDeviceCameraQualityAndRetentionSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              profileId: null
              quality: Standard
              resolution: 720
              restrictedBandwidthModeEnabled: false
          schema:
            type: object
      summary: Returns quality and retention settings for the given camera
      tags:
        - Cameras
    put:
      description: Update quality and retention settings for the given camera
      operationId: updateDeviceCameraQualityAndRetentionSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCameraQualityAndRetentionSettings
          schema:
            example:
              audioRecordingEnabled: false
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              profileId: null
              quality: Standard
              resolution: 720
              restrictedBandwidthModeEnabled: false
            properties:
              audioRecordingEnabled:
                description: Boolean indicating if audio recording is enabled(true) or disabled(false) on the camera
                type: boolean
              motionBasedRetentionEnabled:
                description: Boolean indicating if motion-based retention is enabled(true) or disabled(false) on the camera
                type: boolean
              motionDetectorVersion:
                description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                enum:
                  - 1
                  - 2
                type: integer
              profileId:
                description: The ID of a quality and retention profile to assign to the camera. The profile's settings will override all of the per-camera quality and retention settings. If the value of this parameter is null, any existing profile will be unassigned from the camera.
                type: string
              quality:
                description: Quality of the camera. Can be one of 'Standard', 'High' or 'Enhanced'. Not all qualities are supported by every camera model.
                enum:
                  - Standard
                  - High
                  - Enhanced
                type: string
              resolution:
                description: Resolution of the camera. Can be one of '1280x720', '1920x1080', '1080x1080' or '2058x2058'. Not all resolutions are supported by every camera model.
                enum:
                  - 1280x720
                  - 1920x1080
                  - 1080x1080
                  - 2058x2058
                type: string
              restrictedBandwidthModeEnabled:
                description: Boolean indicating if restricted bandwidth is enabled(true) or disabled(false) on the camera
                type: boolean
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              profileId: null
              quality: Standard
              resolution: 720
              restrictedBandwidthModeEnabled: false
          schema:
            type: object
      summary: Update quality and retention settings for the given camera
      tags:
        - Cameras
  "/devices/{serial}/camera/video/settings":
    get:
      description: Returns video settings for the given camera
      operationId: getDeviceCameraVideoSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              externalRtspEnabled: true
              rtspUrl: rtsp://10.0.0.1:9000/live
          schema:
            type: object
      summary: Returns video settings for the given camera
      tags:
        - Cameras
    put:
      description: Update video settings for the given camera
      operationId: updateDeviceCameraVideoSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCameraVideoSettings
          schema:
            example:
              externalRtspEnabled: true
            properties:
              externalRtspEnabled:
                description: Boolean indicating if external rtsp stream is exposed
                type: boolean
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              externalRtspEnabled: true
              rtspUrl: rtsp://10.0.0.1:9000/live
          schema:
            type: object
      summary: Update video settings for the given camera
      tags:
        - Cameras
  "/devices/{serial}/cellularGateway/settings":
    get:
      description: Show the LAN Settings of a MG
      operationId: getDeviceCellularGatewaySettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              deviceLanIp: 192.168.0.33
              deviceName: name of the MG
              deviceSubnet: 192.168.0.32/27
              fixedIpAssignments:
                - ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                  name: server 1
                - ip: 192.168.0.20
                  mac: 0b:00:00:00:00:ab
                  name: server 2
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.1
                  start: 192.168.1.0
          schema:
            type: object
      summary: Show the LAN Settings of a MG
      tags:
        - MG LAN settings
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewaySettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCellularGatewaySettings
          schema:
            example:
              deviceLanIp: 192.168.0.33
              deviceName: name of the MG
              deviceSubnet: 192.168.0.32/27
              fixedIpAssignments:
                - ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                  name: server 1
                - ip: 192.168.0.20
                  mac: 0b:00:00:00:00:ab
                  name: server 2
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.1
                  start: 192.168.1.0
            properties:
              fixedIpAssignments:
                description: list of all fixed IP assignments for a single MG
                items:
                  properties:
                    ip:
                      description: The IP address you want to assign to a specific server or device
                      type: string
                    mac:
                      description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                      type: string
                    name:
                      description: A descriptive name of the assignment
                      type: string
                  required:
                    - ip
                    - mac
                  type: object
                type: array
              reservedIpRanges:
                description: list of all reserved IP ranges for a single MG
                items:
                  properties:
                    comment:
                      description: Comment explaining the reserved IP range
                      type: string
                    end:
                      description: Ending IP included in the reserved range of IPs
                      type: string
                    start:
                      description: Starting IP included in the reserved range of IPs
                      type: string
                  required:
                    - start
                    - end
                    - comment
                  type: object
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              deviceLanIp: 192.168.0.33
              deviceName: name of the MG
              deviceSubnet: 192.168.0.32/27
              fixedIpAssignments:
                - ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                  name: server 1
                - ip: 192.168.0.20
                  mac: 0b:00:00:00:00:ab
                  name: server 2
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.1
                  start: 192.168.1.0
          schema:
            type: object
      summary: Update the LAN Settings for a single MG.
      tags:
        - MG LAN settings
  "/devices/{serial}/cellularGateway/settings/portForwardingRules":
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewaySettingsPortForwardingRules
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              rules:
                - access: any
                  lanIp: 172.31.128.5
                  localPort: "4"
                  name: test
                  protocol: tcp
                  publicPort: 11-12
                  uplink: both
                - access: restricted
                  allowedIps:
                    - 10.10.10.10
                    - 10.10.10.11
                  lanIp: 172.31.128.5
                  localPort: "5"
                  name: test 2
                  protocol: tcp
                  publicPort: "99"
                  uplink: both
          schema:
            type: object
      summary: Returns the port forwarding rules for a single MG.
      tags:
        - MG port forwarding rules
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewaySettingsPortForwardingRules
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCellularGatewaySettingsPortForwardingRules
          schema:
            example:
              rules:
                - access: any
                  lanIp: 172.31.128.5
                  localPort: "4"
                  name: test
                  protocol: tcp
                  publicPort: 11-12
                  uplink: both
                - access: restricted
                  allowedIps:
                    - 10.10.10.10
                    - 10.10.10.11
                  lanIp: 172.31.128.5
                  localPort: "5"
                  name: test 2
                  protocol: tcp
                  publicPort: "99"
                  uplink: both
            properties:
              rules:
                description: An array of port forwarding params
                items:
                  properties:
                    access:
                      description: "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
                      type: string
                    allowedIps:
                      description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                      items:
                        type: string
                      type: array
                    lanIp:
                      description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                      type: string
                    localPort:
                      description: A port or port ranges that will receive the forwarded traffic from the WAN
                      type: string
                    name:
                      description: A descriptive name for the rule
                      type: string
                    protocol:
                      description: TCP or UDP
                      type: string
                    publicPort:
                      description: A port or port ranges that will be forwarded to the host on the LAN
                      type: string
                  required:
                    - lanIp
                    - publicPort
                    - localPort
                    - protocol
                    - access
                  type: object
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              rules:
                - access: any
                  lanIp: 172.31.128.5
                  localPort: "4"
                  name: test
                  protocol: tcp
                  publicPort: 11-12
                  uplink: both
                - access: restricted
                  allowedIps:
                    - 10.10.10.10
                    - 10.10.10.11
                  lanIp: 172.31.128.5
                  localPort: "5"
                  name: test 2
                  protocol: tcp
                  publicPort: "99"
                  uplink: both
          schema:
            type: object
      summary: Updates the port forwarding rules for a single MG.
      tags:
        - MG port forwarding rules
  "/devices/{serial}/clients":
    get:
      description: List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.
      operationId: getDeviceClients
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - description: Miles's phone
                dhcpHostname: MilesPhone
                id: k74272e
                ip: 1.2.3.4
                mac: 22:33:44:55:66:77
                mdnsName: Miles's phone
                switchport: null
                usage:
                  recv: 61
                  sent: 138
                user: milesmeraki
                vlan: 255
          schema:
            type: object
      summary: List the clients of a device, up to a maximum of a month ago
      tags:
        - Clients
  "/devices/{serial}/switch/ports/cycle":
    post:
      description: Cycle a set of switch ports
      operationId: cycleDeviceSwitchPorts
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: cycleDeviceSwitchPorts
          required: true
          schema:
            example:
              ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
            properties:
              ports:
                description: "List of switch ports. Example: [1, 2-5, 1_MA-MOD-8X10G_1, 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8]"
                items:
                  type: string
                type: array
            required:
              - ports
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
          schema:
            type: object
      summary: Cycle a set of switch ports
      tags:
        - Devices
  "/devices/{serial}/switchPortStatuses":
    get:
      description: Return the status for all the ports of a switch
      operationId: getDeviceSwitchPortStatuses
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - cdp:
                  address: 10.0,0.1
                  capabilities: Switch
                  deviceId: 0c8ddbddee:ff
                  managementAddress: 10.0.0.100
                  nativeVlan: 1
                  platform: MS350-24X
                  portId: Port 20
                  systemName: ""
                  version: "1"
                  vtpManagementDomain: ""
                clientCount: 10
                duplex: full
                enabled: true
                errors:
                  - PoE overload
                  - Very high proportion of CRC errors
                lldp:
                  chassisId: 0c:8d:db:dd:ee:ff
                  managementAddress: 10.0.0.100
                  managementVlan: 1
                  portDescription: Port 20
                  portId: "20"
                  portVlan: 1
                  systemCapabilities: switch
                  systemDescription: MS350-24X Cloud Managed PoE Switch
                  systemName: MS350-24X - Test
                portId: "1"
                powerUsageInWh: 55.9
                secureConnect:
                  active: true
                  authenticationStatus: Authentication in progress
                  configOverrides:
                    allowedVlans: all
                    type: trunk
                    vlan: 12
                    voiceVlan: null
                  enabled: true
                speed: 10 Gbps
                status: Connected
                trafficInKbps:
                  recv: 1
                  sent: 1.2
                  total: 2.2
                usageInKb:
                  recv: 17859
                  sent: 23008
                  total: 40867
                warnings:
                  - SecureConnect authentication in progress
                  - PoE port was denied power
                  - High proportion of CRC errors
          schema:
            type: object
      summary: Return the status for all the ports of a switch
      tags:
        - Switch ports
  "/devices/{serial}/switchPortStatuses/packets":
    get:
      description: Return the packet counters for all the ports of a switch
      operationId: getDeviceSwitchPortStatusesPackets
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 1 day from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 1 day. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - packets:
                  - desc: Total
                    ratePerSec:
                      recv: 0
                      sent: 1
                      total: 1
                    recv: 7946
                    sent: 104135
                    total: 112081
                  - desc: Broadcast
                    ratePerSec:
                      recv: 0
                      sent: 0
                      total: 0
                    recv: 514
                    sent: 30370
                    total: 30884
                  - desc: Multicast
                    ratePerSec:
                      recv: 0
                      sent: 0
                      total: 0
                    recv: 771
                    sent: 66849
                    total: 67620
                  - desc: CRC align errors
                    ratePerSec:
                      recv: 0
                      sent: 0
                      total: 0
                    recv: 0
                    sent: 0
                    total: 0
                portId: "1"
          schema:
            type: object
      summary: Return the packet counters for all the ports of a switch
      tags:
        - Switch ports
  "/devices/{serial}/switchPorts":
    get:
      description: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - accessPolicyNumber: "1234"
                enabled: true
                isolationEnabled: false
                linkNegotiation: Auto negotiate
                macWhitelist:
                  - 34:56:fe:ce:8e:a0
                  - 34:56:fe:ce:8e:a1
                name: My switch port
                number: 1
                poeEnabled: true
                portScheduleId: "1234"
                rstpEnabled: true
                stickyMacWhitelist:
                  - 34:56:fe:ce:8e:b0
                  - 34:56:fe:ce:8e:b1
                stickyMacWhitelistLimit: 5
                stormControlEnabled: true
                stpGuard: disabled
                tags: tag1 tag2
                type: access
                udld: Alert only
                vlan: 10
                voiceVlan: 20
          schema:
            type: object
      summary: List the switch ports for a switch
      tags:
        - Switch ports
  "/devices/{serial}/switchPorts/{number}":
    get:
      description: Return a switch port
      operationId: getDeviceSwitchPort
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: number
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              accessPolicyNumber: "1234"
              enabled: true
              isolationEnabled: false
              linkNegotiation: Auto negotiate
              macWhitelist:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
              name: My switch port
              number: 1
              poeEnabled: true
              portScheduleId: "1234"
              rstpEnabled: true
              stickyMacWhitelist:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
              stickyMacWhitelistLimit: 5
              stormControlEnabled: true
              stpGuard: disabled
              tags: tag1 tag2
              type: access
              udld: Alert only
              vlan: 10
              voiceVlan: 20
          schema:
            type: object
      summary: Return a switch port
      tags:
        - Switch ports
    put:
      description: Update a switch port
      operationId: updateDeviceSwitchPort
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: number
          required: true
          type: string
        - in: body
          name: updateDeviceSwitchPort
          schema:
            example:
              accessPolicyNumber: "1234"
              enabled: true
              isolationEnabled: false
              linkNegotiation: Auto negotiate
              macWhitelist:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
              name: My switch port
              poeEnabled: true
              portScheduleId: "1234"
              rstpEnabled: true
              stickyMacWhitelist:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
              stickyMacWhitelistLimit: 5
              stormControlEnabled: true
              stpGuard: disabled
              tags: tag1 tag2
              type: access
              udld: Alert only
              vlan: 10
              voiceVlan: 20
            properties:
              accessPolicyNumber:
                description: The number of the access policy of the switch port. Only applicable to access ports.
                type: integer
              allowedVlans:
                description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                type: string
              enabled:
                description: The status of the switch port
                type: boolean
              isolationEnabled:
                description: The isolation status of the switch port
                type: boolean
              linkNegotiation:
                description: The link speed for the switch port
                type: string
              macWhitelist:
                description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. To disable MAC whitelist, set accessPolicyNumber to null.
                items:
                  type: string
                type: array
              name:
                description: The name of the switch port
                type: string
              poeEnabled:
                description: The PoE status of the switch port
                type: boolean
              portScheduleId:
                description: The ID of the port schedule. A value of null will clear the port schedule.
                type: string
              rstpEnabled:
                description: The rapid spanning tree protocol status
                type: boolean
              stickyMacWhitelist:
                description: The initial list of MAC addresses for sticky Mac whitelist. To reset Sticky MAC whitelist, set accessPolicyNumber to null.
                items:
                  type: string
                type: array
              stickyMacWhitelistLimit:
                description: The maximum number of MAC addresses for sticky MAC whitelist.
                type: integer
              stormControlEnabled:
                description: The storm control status of the switch port
                type: boolean
              stpGuard:
                description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard')
                enum:
                  - disabled
                  - root guard
                  - bpdu guard
                  - loop guard
                type: string
              tags:
                description: The tags of the switch port
                type: string
              type:
                description: The type of the switch port ('trunk' or 'access')
                enum:
                  - trunk
                  - access
                type: string
              udld:
                description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                enum:
                  - Alert only
                  - Enforce
                type: string
              vlan:
                description: The VLAN of the switch port. A null value will clear the value set for trunk ports.
                type: integer
              voiceVlan:
                description: The voice VLAN of the switch port. Only applicable to access ports.
                type: integer
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              accessPolicyNumber: "1234"
              enabled: true
              isolationEnabled: false
              linkNegotiation: Auto negotiate
              macWhitelist:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
              name: My switch port
              number: 1
              poeEnabled: true
              portScheduleId: "1234"
              rstpEnabled: true
              stickyMacWhitelist:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
              stickyMacWhitelistLimit: 5
              stormControlEnabled: true
              stpGuard: disabled
              tags: tag1 tag2
              type: access
              udld: Alert only
              vlan: 10
              voiceVlan: 20
          schema:
            type: object
      summary: Update a switch port
      tags:
        - Switch ports
  "/devices/{serial}/wireless/bluetooth/settings":
    get:
      description: Return the bluetooth settings for a wireless device
      operationId: getDeviceWirelessBluetoothSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              major: 13
              minor: 125
              uuid: 00000000-0000-0000-000-000000000000
          schema:
            type: object
      summary: Return the bluetooth settings for a wireless device
      tags:
        - Bluetooth settings
    put:
      description: Update the bluetooth settings for a wireless device
      operationId: updateDeviceWirelessBluetoothSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceWirelessBluetoothSettings
          schema:
            example:
              major: 13
              minor: 125
              uuid: 00000000-0000-0000-000-000000000000
            properties:
              major:
                description: Desired major value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                type: integer
              minor:
                description: Desired minor value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                type: integer
              uuid:
                description: Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                type: string
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              major: 13
              minor: 125
              uuid: 00000000-0000-0000-000-000000000000
          schema:
            type: object
      summary: Update the bluetooth settings for a wireless device
      tags:
        - Bluetooth settings
  "/networks/{networkId}":
    delete:
      description: Delete a network
      operationId: deleteNetwork
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "204":
          description: Successful operation
      summary: Delete a network
      tags:
        - Networks
    get:
      description: Return a network
      operationId: getNetwork
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              disableMyMerakiCom: false
              enrollmentString: long-island-office
              id: L_123456
              name: Long Island Office
              organizationId: "2930418"
              productTypes:
                - appliance
                - switch
                - wireless
              tags: " tag1 tag2 "
              timeZone: America/Los_Angeles
              type: combined
          schema:
            type: object
      summary: Return a network
      tags:
        - Networks
    put:
      description: Update a network
      operationId: updateNetwork
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: updateNetwork
          schema:
            example:
              disableMyMerakiCom: false
              name: Long Island Office
              tags: " tag1 tag2 "
              timeZone: America/Los_Angeles
            properties:
              disableMyMerakiCom:
                description: Disables the local device status pages (<a target='_blank' href='http://my.meraki.com/'>my.meraki.com, </a><a target='_blank' href='http://ap.meraki.com/'>ap.meraki.com, </a><a target='_blank' href='http://switch.meraki.com/'>switch.meraki.com, </a><a target='_blank' href='http://wired.meraki.com/'>wired.meraki.com</a>). Optional (defaults to false)
                type: boolean
              disableRemoteStatusPage:
                description: Disables access to the device status page (<a target='_blank'>http://[device's LAN IP])</a>. Optional. Can only be set if disableMyMerakiCom is set to false
                type: boolean
              enrollmentString:
                description: A unique identifier which can be used for device enrollment or easy access through the Meraki SM Registration page or the Self Service Portal. Please note that changing this field may cause existing bookmarks to break.
                type: string
              name:
                description: The name of the network
                type: string
              tags:
                description: A space-separated list of tags to be applied to the network
                type: string
              timeZone:
                description: The timezone of the network. For a list of allowed timezones, please see the 'TZ' column in the table in <a target='_blank' href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>this article.</a>
                type: string
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              disableMyMerakiCom: false
              enrollmentString: long-island-office
              id: L_123456
              name: Long Island Office
              organizationId: "2930418"
              productTypes:
                - appliance
                - switch
                - wireless
              tags: " tag1 tag2 "
              timeZone: America/Los_Angeles
              type: combined
          schema:
            type: object
      summary: Update a network
      tags:
        - Networks
  "/networks/{networkId}/accessPolicies":
    get:
      description: List the access policies for this network. Only valid for MS networks.
      operationId: getNetworkAccessPolicies
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - accessType: 8021.x
                guestVlan: 3700
                name: My access policy
                number: 1
                radiusServers:
                  - ip: 1.2.3.4
                    port: 1337
                  - ip: 2.3.4.5
                    port: 1337
          schema:
            type: object
      summary: List the access policies for this network
      tags:
        - Switch access policies
  "/networks/{networkId}/airMarshal":
    get:
      description: List Air Marshal scan results from a network
      operationId: getNetworkAirMarshal
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - bssids:
                  - bssid: 00:11:22:33:44:55
                    contained: false
                    detectedBy:
                      - device: Q234-ABCD-5678
                        rssi: 17
                channels:
                  - 36
                  - 40
                firstSeen: 1518365681
                lastSeen: 1526087474
                ssid: linksys
                wiredLastSeen: 1526087474
                wiredMacs:
                  - 00:11:22:33:44:55
                wiredVlans:
                  - 0
                  - 108
          schema:
            type: object
      summary: List Air Marshal scan results from a network
      tags:
        - Networks
  "/networks/{networkId}/alertSettings":
    get:
      description: Return the alert configuration for this network
      operationId: getNetworkAlertSettings
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              alerts:
                - alertDestinations:
                    allAdmins: false
                    emails:
                      - miles@meraki.com
                    httpServerIds:
                      - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                    snmp: false
                  enabled: true
                  filters:
                    timeout: 60
                  type: gatewayDown
              defaultDestinations:
                allAdmins: true
                emails:
                  - miles@meraki.com
                httpServerIds:
                  - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                snmp: true
          schema:
            type: object
      summary: Return the alert configuration for this network
      tags:
        - Alert settings
    put:
      description: Update the alert configuration for this network
      operationId: updateNetworkAlertSettings
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: updateNetworkAlertSettings
          schema:
            example:
              alerts:
                - alertDestinations:
                    allAdmins: false
                    emails:
                      - miles@meraki.com
                    httpServerIds:
                      - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                    snmp: false
                  enabled: true
                  filters:
                    timeout: 60
                  type: gatewayDown
              defaultDestinations:
                allAdmins: true
                emails:
                  - miles@meraki.com
                httpServerIds:
                  - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                snmp: true
            properties:
              alerts:
                description: Alert-specific configuration for each type. Only alerts that pertain to the network can be updated.
                items:
                  properties:
                    alertDestinations:
                      description: A hash of destinations for this specific alert
                      properties:
                        allAdmins:
                          description: If true, then all network admins will receive emails for this alert
                          type: boolean
                        emails:
                          description: A list of emails that will receive information about the alert
                          items:
                            type: string
                          type: array
                        httpServerIds:
                          description: A list of HTTP server IDs to send a Webhook to for this alert
                          items:
                            type: string
                          type: array
                        snmp:
                          description: If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network
                          type: boolean
                      type: object
                    enabled:
                      description: A boolean depicting if the alert is turned on or off
                      type: boolean
                    filters:
                      description: A hash of specific configuration data for the alert. Only filters specific to the alert will be updated.
                      properties: {}
                      type: object
                    type:
                      description: The type of alert
                      type: string
                  required:
                    - type
                  type: object
                type: array
              defaultDestinations:
                description: The network-wide destinations for all alerts on the network.
                properties:
                  allAdmins:
                    description: If true, then all network admins will receive emails.
                    type: boolean
                  emails:
                    description: A list of emails that will recieve the alert(s).
                    items:
                      type: string
                    type: array
                  httpServerIds:
                    description: A list of HTTP server IDs to send a Webhook to
                    items:
                      type: string
                    type: array
                  snmp:
                    description: If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.
                    type: boolean
                type: object
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              alerts:
                - alertDestinations:
                    allAdmins: false
                    emails:
                      - miles@meraki.com
                    httpServerIds:
                      - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                    snmp: false
                  enabled: true
                  filters:
                    timeout: 60
                  type: gatewayDown
              defaultDestinations:
                allAdmins: true
                emails:
                  - miles@meraki.com
                httpServerIds:
                  - aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M=
                snmp: true
          schema:
            type: object
      summary: Update the alert configuration for this network
      tags:
        - Alert settings
  "/networks/{networkId}/appliance/firewall/inboundFirewallRules":
    get:
      description: Return the inbound firewall rules for an MX network
      operationId: getNetworkApplianceFirewallInboundFirewallRules
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  destCidr: 192.168.1.0/24
                  destPort: 443
                  policy: allow
                  protocol: tcp
                  srcCidr: Any
                  srcPort: Any
                  syslogEnabled: false
              syslogDefaultRule: true
          schema:
            type: object
      summary: Return the inbound firewall rules for an MX network
      tags:
        - MX L3 inbound firewall
    put:
      description: Update the inbound firewall rules of an MX network
      operationId: updateNetworkApplianceFirewallInboundFirewallRules
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: updateNetworkApplianceFirewallInboundFirewallRules
          schema:
            example:
              rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  destCidr: 192.168.1.0/24
                  destPort: 443
                  policy: allow
                  protocol: tcp
                  srcCidr: Any
                  srcPort: Any
                  syslogEnabled: false
            properties:
              rules:
                description: An ordered array of the firewall rules (not including the default rule)
                items:
                  properties:
                    comment:
                      description: Description of the rule (optional)
                      type: string
                    destCidr:
                      description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                      type: string
                    destPort:
                      description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                      type: string
                    policy:
                      description: "'allow' or 'deny' traffic specified by this rule"
                      enum:
                        - allow
                        - deny
                      type: string
                    protocol:
                      description: The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')
                      enum:
                        - tcp
                        - udp
                        - icmp
                        - any
                      type: string
                    srcCidr:
                      description: "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (note: FQDN not supported for source addresses)"
                      type: string
                    srcPort:
                      description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                      type: string
                    syslogEnabled:
                      description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                      type: boolean
                  required:
                    - policy
                    - protocol
                    - srcCidr
                    - destCidr
                  type: object
                type: array
              syslogDefaultRule:
                description: Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)
                type: boolean
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  destCidr: 192.168.1.0/24
                  destPort: 443
                  policy: allow
                  protocol: tcp
                  srcCidr: Any
                  srcPort: Any
                  syslogEnabled: false
              syslogDefaultRule: true
          schema:
            type: object
      summary: Update the inbound firewall rules of an MX network
      tags:
        - MX L3 inbound firewall
  "/networks/{networkId}/appliancePorts":
    get:
      description: List per-port VLAN settings for all ports of a MX.
      operationId: getNetworkAppliancePorts
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - accessPolicy: open
                dropUntaggedTraffic: false
                enabled: true
                number: 1
                type: access
                vlan: 3
          schema:
            type: object
      summary: List per-port VLAN settings for all ports of a MX.
      tags:
        - MX VLAN ports
  "/networks/{networkId}/appliancePorts/{appliancePortId}":
    get:
      description: Return per-port VLAN settings for a single MX port.
      operationId: getNetworkAppliancePort
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: appliancePortId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              accessPolicy: open
              dropUntaggedTraffic: false
              enabled: true
              number: 1
              type: access
              vlan: 3
          schema:
            type: object
      summary: Return per-port VLAN settings for a single MX port.
      tags:
        - MX VLAN ports
    put:
      description: Update the per-port VLAN settings for a single MX port.
      operationId: updateNetworkAppliancePort
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: appliancePortId
          required: true
          type: string
        - in: body
          name: updateNetworkAppliancePort
          schema:
            example:
              accessPolicy: open
              dropUntaggedTraffic: false
              enabled: true
              type: access
              vlan: 3
            properties:
              accessPolicy:
                description: "The name of the policy. Only applicable to Access ports. Valid values are: 'open', '8021x-radius', 'mac-radius', 'hybris-radius' for MX64 or Z3 or any MX supporting the per port authentication feature. Otherwise, 'open' is the only valid value and 'open' is the default value if the field is missing."
                type: string
              allowedVlans:
                description: Comma-delimited list of the VLAN ID's allowed on the port, or 'all' to permit all VLAN's on the port.
                type: string
              dropUntaggedTraffic:
                description: Trunk port can Drop all Untagged traffic. When true, no VLAN is required. Access ports cannot have dropUntaggedTraffic set to true.
                type: boolean
              enabled:
                description: The status of the port
                type: boolean
              type:
                description: "The type of the port: 'access' or 'trunk'."
                type: string
              vlan:
                description: Native VLAN when the port is in Trunk mode. Access VLAN when the port is in Access mode.
                type: integer
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              accessPolicy: open
              dropUntaggedTraffic: false
              enabled: true
              number: 1
              type: access
              vlan: 3
          schema:
            type: object
      summary: Update the per-port VLAN settings for a single MX port.
      tags:
        - MX VLAN ports
  "/networks/{networkId}/bind":
    post:
      description: Bind a network to a template.
      operationId: bindNetwork
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: bindNetwork
          required: true
          schema:
            example:
              autoBind: false
              configTemplateId: N_23952905
            properties:
              autoBind:
                description: Optional boolean indicating whether the network's switches should automatically bind to profiles of the same model. Defaults to false if left unspecified. This option only affects switch networks and switch templates. Auto-bind is not valid unless the switch template has at least one profile and has at most one profile per switch model.
                type: boolean
              configTemplateId:
                description: The ID of the template to which the network should be bound.
                type: string
            required:
              - configTemplateId
            type: object
      responses:
        "200":
          description: Successful operation
      summary: Bind a network to a template.
      tags:
        - Networks
  "/networks/{networkId}/bluetoothClients":
    get:
      description: List the Bluetooth clients seen by APs in this network
      operationId: getNetworkBluetoothClients
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
        - description: The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.
          in: query
          name: perPage
          type: integer
        - description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
          in: query
          name: startingAfter
          type: string
        - description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
          in: query
          name: endingBefore
          type: string
        - description: Include the connectivity history for this client
          in: query
          name: includeConnectivityHistory
          type: boolean
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - deviceName: Bose QuietComfort 35
                id: "1284392014819"
                inSightAlert: false
                lastSeen: 1526087474
                mac: 22:33:44:55:66:77
                manufacturer: Bose
                name: Miles's phone
                networkId: N_24329156
                outOfSightAlert: false
                seenByDeviceMac: 00:11:22:33:44:55
                tags:
                  - tag1
                  - tag2
          headers:
            Link:
              description: A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests.
              type: string
          schema:
            type: object
      summary: List the Bluetooth clients seen by APs in this network
      tags:
        - Bluetooth clients
  "/networks/{networkId}/bluetoothClients/{bluetoothClientId}":
    get:
      description: Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.
      operationId: getNetworkBluetoothClient
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: bluetoothClientId
          required: true
          type: string
        - description: Include the connectivity history for this client
          in: query
          name: includeConnectivityHistory
          type: boolean
        - description: The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.
          in: query
          name: connectivityHistoryTimespan
          type: integer
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              deviceName: Bose QuietComfort 35
              id: "1284392014819"
              inSightAlert: false
              lastSeen: 1526087474
              mac: 22:33:44:55:66:77
              manufacturer: Bose
              name: Miles's phone
              networkId: N_24329156
              outOfSightAlert: false
              seenByDeviceMac: 00:11:22:33:44:55
              tags:
                - tag1
                - tag2
          schema:
            type: object
      summary: Return a Bluetooth client
      tags:
        - Bluetooth clients
  "/networks/{networkId}/bluetoothSettings":
    get:
      description: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.
      operationId: getNetworkBluetoothSettings
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              advertisingEnabled: true
              major: 1
              majorMinorAssignmentMode: Non-unique
              scanningEnabled: true
              uuid: 00000000-0000-0000-000-000000000000
          schema:
            type: object
      summary: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.
      tags:
        - Bluetooth settings
    put:
      description: Update the Bluetooth settings for a network. See the docs page for <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a>.
      operationId: updateNetworkBluetoothSettings
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: updateNetworkBluetoothSettings
          schema:
            example:
              advertisingEnabled: true
              major: 1
              majorMinorAssignmentMode: Non-unique
              scanningEnabled: true
              uuid: 00000000-0000-0000-000-000000000000
            properties:
              advertisingEnabled:
                description: Whether APs will advertise beacons. (true, false)
                type: boolean
              major:
                description: The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                type: integer
              majorMinorAssignmentMode:
                description: The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')
                enum:
                  - Unique
                  - Non-unique
                type: string
              minor:
                description: The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                type: integer
              scanningEnabled:
                description: Whether APs will scan for Bluetooth enabled clients. (true, false)
                type: boolean
              uuid:
                description: The UUID to be used in the beacon identifier.
                type: string
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              advertisingEnabled: true
              major: 1
              majorMinorAssignmentMode: Non-unique
              scanningEnabled: true
              uuid: 00000000-0000-0000-000-000000000000
          schema:
            type: object
      summary: Update the Bluetooth settings for a network
      tags:
        - Bluetooth settings
  "/networks/{networkId}/camera/qualityRetentionProfiles":
    get:
      description: List the quality retention profiles for this network
      operationId: getNetworkCameraQualityRetentionProfiles
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - audioRecordingEnabled: false
                cloudArchiveEnabled: false
                id: "1234"
                maxRetentionDays: 7
                motionBasedRetentionEnabled: false
                motionDetectorVersion: 2
                name: Sample quality retention profile
                networkId: N_24329156
                restrictedBandwidthModeEnabled: true
                scheduleId: null
                videoSettings:
                  MV12/MV22/MV72:
                    quality: High
                    resolution: 1920x1080
                  MV12WE:
                    quality: High
                    resolution: 1920x1080
                  MV21/MV71:
                    quality: High
                    resolution: 1280x720
                  MV32:
                    quality: Enhanced
                    resolution: 1080x1080
          schema:
            type: object
      summary: List the quality retention profiles for this network
      tags:
        - Camera quality retention profiles
    post:
      description: Creates new quality retention profile for this network.
      operationId: createNetworkCameraQualityRetentionProfile
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: createNetworkCameraQualityRetentionProfile
          required: true
          schema:
            example: {}
            properties:
              audioRecordingEnabled:
                description: Whether or not to record audio. Can be either true or false. Defaults to false.
                type: boolean
              cloudArchiveEnabled:
                description: Create redundant video backup using Cloud Archive. Can be either true or false. Defaults to false.
                type: boolean
              maxRetentionDays:
                description: The maximum number of days for which the data will be stored, or 'null' to keep data until storage space runs out. If the former, it can be one of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 30, 60, 90] days.
                type: integer
              motionBasedRetentionEnabled:
                description: Deletes footage older than 3 days in which no motion was detected. Can be either true or false. Defaults to false.
                type: boolean
              motionDetectorVersion:
                description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                type: integer
              name:
                description: The name of the new profile. Must be unique. This parameter is required.
                type: string
              restrictedBandwidthModeEnabled:
                description: Disable features that require additional bandwidth such as Motion Recap. Can be either true or false. Defaults to false.
                type: boolean
              scheduleId:
                description: Schedule for which this camera will record video, or 'null' to always record.
                type: string
              videoSettings:
                description: Video quality and resolution settings for all the camera models.
                properties:
                  MV12/MV22/MV72:
                    description: Quality and resolution for MV12/MV22/MV72 camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                        enum:
                          - 1280x720
                          - 1920x1080
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV12WE:
                    description: Quality and resolution for MV12WE camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                        enum:
                          - 1280x720
                          - 1920x1080
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV21/MV71:
                    description: Quality and resolution for MV21/MV71 camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720'.
                        enum:
                          - 1280x720
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV22X/MV72X:
                    description: Quality and resolution for MV22X/MV72X camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720', '1920x1080' or '2688x1512'.
                        enum:
                          - 1280x720
                          - 1920x1080
                          - 2688x1512
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV32:
                    description: Quality and resolution for MV32 camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1080x1080' or '2058x2058'.
                        enum:
                          - 1080x1080
                          - 2058x2058
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                type: object
            required:
              - name
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              cloudArchiveEnabled: false
              id: "1234"
              maxRetentionDays: 7
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              name: Sample quality retention profile
              networkId: N_24329156
              restrictedBandwidthModeEnabled: true
              scheduleId: null
              videoSettings:
                MV12/MV22/MV72:
                  quality: High
                  resolution: 1920x1080
                MV12WE:
                  quality: High
                  resolution: 1920x1080
                MV21/MV71:
                  quality: High
                  resolution: 1280x720
                MV32:
                  quality: Enhanced
                  resolution: 1080x1080
          schema:
            type: object
      summary: Creates new quality retention profile for this network.
      tags:
        - Camera quality retention profiles
  "/networks/{networkId}/camera/qualityRetentionProfiles/{qualityRetentionProfileId}":
    delete:
      description: Delete an existing quality retention profile for this network.
      operationId: deleteNetworkCameraQualityRetentionProfile
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: qualityRetentionProfileId
          required: true
          type: string
      responses:
        "204":
          description: Successful operation
      summary: Delete an existing quality retention profile for this network.
      tags:
        - Camera quality retention profiles
    get:
      description: Retrieve a single quality retention profile
      operationId: getNetworkCameraQualityRetentionProfile
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: qualityRetentionProfileId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              cloudArchiveEnabled: false
              id: "1234"
              maxRetentionDays: 7
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              name: Sample quality retention profile
              networkId: N_24329156
              restrictedBandwidthModeEnabled: true
              scheduleId: null
              videoSettings:
                MV12/MV22/MV72:
                  quality: High
                  resolution: 1920x1080
                MV12WE:
                  quality: High
                  resolution: 1920x1080
                MV21/MV71:
                  quality: High
                  resolution: 1280x720
                MV32:
                  quality: Enhanced
                  resolution: 1080x1080
          schema:
            type: object
      summary: Retrieve a single quality retention profile
      tags:
        - Camera quality retention profiles
    put:
      description: Update an existing quality retention profile for this network.
      operationId: updateNetworkCameraQualityRetentionProfile
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: qualityRetentionProfileId
          required: true
          type: string
        - in: body
          name: updateNetworkCameraQualityRetentionProfile
          schema:
            example: {}
            properties:
              audioRecordingEnabled:
                description: Whether or not to record audio. Can be either true or false. Defaults to false.
                type: boolean
              cloudArchiveEnabled:
                description: Create redundant video backup using Cloud Archive. Can be either true or false. Defaults to false.
                type: boolean
              maxRetentionDays:
                description: The maximum number of days for which the data will be stored, or 'null' to keep data until storage space runs out. If the former, it can be one of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 30, 60, 90] days.
                type: integer
              motionBasedRetentionEnabled:
                description: Deletes footage older than 3 days in which no motion was detected. Can be either true or false. Defaults to false.
                type: boolean
              motionDetectorVersion:
                description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                type: integer
              name:
                description: The name of the new profile. Must be unique.
                type: string
              restrictedBandwidthModeEnabled:
                description: Disable features that require additional bandwidth such as Motion Recap. Can be either true or false. Defaults to false.
                type: boolean
              scheduleId:
                description: Schedule for which this camera will record video, or 'null' to always record.
                type: string
              videoSettings:
                description: Video quality and resolution settings for all the camera models.
                properties:
                  MV12/MV22/MV72:
                    description: Quality and resolution for MV12/MV22/MV72 camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                        enum:
                          - 1280x720
                          - 1920x1080
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV12WE:
                    description: Quality and resolution for MV12WE camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720' or '1920x1080'.
                        enum:
                          - 1280x720
                          - 1920x1080
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV21/MV71:
                    description: Quality and resolution for MV21/MV71 camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720'.
                        enum:
                          - 1280x720
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV22X/MV72X:
                    description: Quality and resolution for MV22X/MV72X camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1280x720', '1920x1080' or '2688x1512'.
                        enum:
                          - 1280x720
                          - 1920x1080
                          - 2688x1512
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                  MV32:
                    description: Quality and resolution for MV32 camera models.
                    properties:
                      quality:
                        description: Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'.
                        enum:
                          - Standard
                          - Enhanced
                          - High
                        type: string
                      resolution:
                        description: Resolution of the camera. Can be one of '1080x1080' or '2058x2058'.
                        enum:
                          - 1080x1080
                          - 2058x2058
                        type: string
                    required:
                      - quality
                      - resolution
                    type: object
                type: object
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              cloudArchiveEnabled: false
              id: "1234"
              maxRetentionDays: 7
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              name: Sample quality retention profile
              networkId: N_24329156
              restrictedBandwidthModeEnabled: true
              scheduleId: null
              videoSettings:
                MV12/MV22/MV72:
                  quality: High
                  resolution: 1920x1080
                MV12WE:
                  quality: High
                  resolution: 1920x1080
                MV21/MV71:
                  quality: High
                  resolution: 1280x720
                MV32:
                  quality: Enhanced
                  resolution: 1080x1080
          schema:
            type: object
      summary: Update an existing quality retention profile for this network.
      tags:
        - Camera quality retention profiles
  "/networks/{networkId}/camera/schedules":
    get:
      description: Returns a list of all camera recording schedules.
      operationId: getNetworkCameraSchedules
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - id: "123"
                name: Weekday schedule
              - id: "124"
                name: Office hours
          schema:
            type: object
      summary: Returns a list of all camera recording schedules.
      tags:
        - Cameras
  "/networks/{networkId}/cameras/{serial}/snapshot":
    post:
      description: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      operationId: generateNetworkCameraSnapshot
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: generateNetworkCameraSnapshot
          schema:
            example: {}
            properties:
              fullframe:
                description: '[optional] If set to "true" the snapshot will be taken at full sensor resolution. This will error if used with timestamp.'
                type: boolean
              timestamp:
                description: "[optional] The snapshot will be taken from this time on the camera. The timestamp is expected to be in ISO 8601 format. If no timestamp is specified, we will assume current time."
                format: date-time
                type: string
            type: object
      responses:
        "202":
          description: Successful operation
          examples:
            application/json:
              expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
              url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
          schema:
            type: object
      summary: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      tags:
        - Cameras
  "/networks/{networkId}/cameras/{serial}/videoLink":
    get:
      description: Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.
      operationId: getNetworkCameraVideoLink
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: path
          name: serial
          required: true
          type: string
        - description: "[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time."
          in: query
          name: timestamp
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
          schema:
            type: object
      summary: Returns video link to the specified camera
      tags:
        - Cameras
  "/networks/{networkId}/cellularFirewallRules":
    get:
      description: Return the cellular firewall rules for an MX network
      operationId: getNetworkCellularFirewallRules
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - comment: Allow TCP traffic to subnet with HTTP servers.
                destCidr: 192.168.1.0/24
                destPort: 443
                policy: allow
                protocol: tcp
                srcCidr: Any
                srcPort: Any
                syslogEnabled: false
          schema:
            type: object
      summary: Return the cellular firewall rules for an MX network
      tags:
        - MX cellular firewall
    put:
      description: Update the cellular firewall rules of an MX network
      operationId: updateNetworkCellularFirewallRules
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
        - in: body
          name: updateNetworkCellularFirewallRules
          schema:
            example:
              rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  destCidr: 192.168.1.0/24
                  destPort: 443
                  policy: allow
                  protocol: tcp
                  srcCidr: Any
                  srcPort: Any
                  syslogEnabled: false
            properties:
              rules:
                description: An ordered array of the firewall rules (not including the default rule)
                items:
                  properties:
                    comment:
                      description: Description of the rule (optional)
                      type: string
                    destCidr:
                      description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                      type: string
                    destPort:
                      description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                      type: string
                    policy:
                      description: "'allow' or 'deny' traffic specified by this rule"
                      enum:
                        - allow
                        - deny
                      type: string
                    protocol:
                      description: The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')
                      enum:
                        - tcp
                        - udp
                        - icmp
                        - any
                      type: string
                    srcCidr:
                      description: "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (note: FQDN not supported for source addresses)"
                      type: string
                    srcPort:
                      description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                      type: string
                    syslogEnabled:
                      description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                      type: boolean
                  required:
                    - policy
                    - protocol
                    - srcCidr
                    - destCidr
                  type: object
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - comment: Allow TCP traffic to subnet with HTTP servers.
                destCidr: 192.168.1.0/24
                destPort: 443
                policy: allow
                protocol: tcp
                srcCidr: Any
                srcPort: Any
                syslogEnabled: false
          schema:
            type: object
      summary: Update the cellular firewall rules of an MX network
      tags:
        - MX cellular firewall
  "/networks/{networkId}/cellularGateway/settings/connectivityMonitoringDestinations":
    get:
      description: Return the connectivity testing destinations for an MG network
      operationId: getNetworkCellularGatewaySettingsConnectivityMonitoringDestinations
      parameters:
        - in: path
          name: networkId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              destinations:
                - default: false
                  description: Google
                  ip: 8.8.8.8
                - default: true
                  description: test description
                  ip: 1.23.45.67
                - default: false
                  description: null
                  ip: 9.8.7.6
          schema:
            type: object
      summary: Return the connectivity testing destinations for an MG network
      tags:
        - MG connectivity monitoring destinations
    put:
      description: Update the connectivity testing destinations for an MG network
      operationId: updateNetworkCellularGatewaySettingsConnectivityMonitoringDestinations
      parameters:
        - in: path
          name: networkId
[...]
