openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Studio
  version: 1.10.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_studio_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_studio_v2
paths:
  /v2/Flows:
    description: Studio flows
    get:
      description: Retrieve a list of all Flows.
      operationId: ListFlow
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flows:
                    items:
                      $ref: "#/components/schemas/studio.v2.flow"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFlowResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a Flow.
      operationId: CreateFlow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CommitMessage:
                  description: Description of change made in the revision.
                  type: string
                Definition:
                  description: JSON representation of flow definition.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the Flow.
                  type: string
                Status:
                  description: "The status of the Flow. Can be: `draft` or `published`."
                  enum:
                    - draft
                    - published
                  type: string
              required:
                - FriendlyName
                - Status
                - Definition
              title: CreateFlowRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - status
      - revision
    x-path-type: list
  /v2/Flows/Validate:
    description: Flow definition validator
    post:
      description: Validate flow JSON definition
      operationId: UpdateFlowValidate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CommitMessage:
                  description: Description of change made in the revision.
                  type: string
                Definition:
                  description: JSON representation of flow definition.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the Flow.
                  type: string
                Status:
                  description: "The status of the Flow. Can be: `draft` or `published`."
                  enum:
                    - draft
                    - published
                  type: string
              required:
                - FriendlyName
                - Status
                - Definition
              title: UpdateFlowValidateRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow_validate"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - valid
    x-path-type: list
  "/v2/Flows/{FlowSid}/Executions":
    description: Executions of Studio flows
    get:
      description: Retrieve a list of all Executions for the Flow.
      operationId: ListExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: Only show Execution resources starting on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`.
          in: query
          name: DateCreatedFrom
          schema:
            format: date-time
            type: string
        - description: Only show Execution resources starting before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`.
          in: query
          name: DateCreatedTo
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  executions:
                    items:
                      $ref: "#/components/schemas/studio.v2.flow.execution"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListExecutionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Triggers a new Execution for the Flow
      operationId: CreateExecution
      parameters:
        - description: The SID of the Excecution's Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                From:
                  description: The Twilio phone number to send messages or initiate calls from during the Flow's Execution. Available as variable `{{flow.channel.address}}`.
                  type: string
                Parameters:
                  description: "JSON data that will be added to the Flow's context and that can be accessed as variables inside your Flow. For example, if you pass in `Parameters={\"name\":\"Zeke\"}`, a widget in your Flow can reference the variable `{{flow.data.name}}`, which returns \"Zeke\". Note: the JSON value must explicitly be passed as a string, not as a hash object. Depending on your particular HTTP library, you may need to add quotes or URL encode the JSON string."
                  type: object
                To:
                  description: The Contact phone number to start a Studio Flow Execution, available as variable `{{contact.channel.address}}`.
                  type: string
              required:
                - To
                - From
              title: CreateExecutionRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.execution"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - status
      - date_created
    x-path-type: list
  "/v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Context":
    description: JSON context for executions
    get:
      description: Retrieve the most recent context for an Execution.
      operationId: FetchExecutionContext
      parameters:
        - description: The SID of the Flow with the Execution context to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution context to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.execution.execution_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - context
    x-path-type: instance
  "/v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps":
    description: Individual steps within an execution
    get:
      description: Retrieve a list of all Steps for an Execution.
      operationId: ListExecutionStep
      parameters:
        - description: The SID of the Flow with the Steps to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution with the Steps to read.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  steps:
                    items:
                      $ref: "#/components/schemas/studio.v2.flow.execution.execution_step"
                    type: array
                title: ListExecutionStepResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - name
      - date_created
    x-path-type: list
  "/v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}":
    description: Individual steps within an execution
    get:
      description: Retrieve a Step.
      operationId: FetchExecutionStep
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource with the Step to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the ExecutionStep resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.execution.execution_step"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - name
      - date_created
    x-path-type: instance
  "/v2/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{StepSid}/Context":
    description: JSON context for an individual step within an execution
    get:
      description: Retrieve the context for an Execution Step.
      operationId: FetchExecutionStepContext
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource with the Step to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step to fetch.
          in: path
          name: StepSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.execution.execution_step.execution_step_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - context
    x-path-type: instance
  "/v2/Flows/{FlowSid}/Executions/{Sid}":
    delete:
      description: Delete the Execution and all Steps relating to it.
      operationId: DeleteExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to delete.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Executions of Studio flows
    get:
      description: Retrieve an Execution
      operationId: FetchExecution
      parameters:
        - description: The SID of the Flow with the Execution resource to fetch
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.execution"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update the status of an Execution to `ended`.
      operationId: UpdateExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to update.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Status:
                  description: The status of the Execution. Can only be `ended`.
                  enum:
                    - active
                    - ended
                  type: string
              required:
                - Status
              title: UpdateExecutionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.execution"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - status
      - date_created
    x-path-type: instance
  "/v2/Flows/{Sid}":
    delete:
      description: Delete a specific Flow.
      operationId: DeleteFlow
      parameters:
        - description: The SID of the Flow resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Studio flows
    get:
      description: Retrieve a specific Flow.
      operationId: FetchFlow
      parameters:
        - description: The SID of the Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a Flow.
      operationId: UpdateFlow
      parameters:
        - description: The SID of the Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CommitMessage:
                  description: Description of change made in the revision.
                  type: string
                Definition:
                  description: JSON representation of flow definition.
                  type: object
                FriendlyName:
                  description: The string that you assigned to describe the Flow.
                  type: string
                Status:
                  description: "The status of the Flow. Can be: `draft` or `published`."
                  enum:
                    - draft
                    - published
                  type: string
              required:
                - Status
              title: UpdateFlowRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - status
      - revision
    x-path-type: instance
  "/v2/Flows/{Sid}/Revisions":
    description: Studio flows revisions
    get:
      description: Retrieve a list of all Flows revisions.
      operationId: ListFlowRevision
      parameters:
        - description: The SID of the Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  revisions:
                    items:
                      $ref: "#/components/schemas/studio.v2.flow.flow_revision"
                    type: array
                title: ListFlowRevisionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - status
      - revision
    x-path-type: list
  "/v2/Flows/{Sid}/Revisions/{Revision}":
    description: Studio flows revisions
    get:
      description: Retrieve a specific Flow revision.
      operationId: FetchFlowRevision
      parameters:
        - description: The SID of the Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: Specific Revision number or can be `LatestPublished` and `LatestRevision`.
          in: path
          name: Revision
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.flow_revision"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - status
      - revision
    x-path-type: instance
  "/v2/Flows/{Sid}/TestUsers":
    description: Test users of a flow
    get:
      description: Fetch flow test users
      operationId: FetchTestUser
      parameters:
        - description: Unique identifier of the flow.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.test_user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update flow test users
      operationId: UpdateTestUser
      parameters:
        - description: Unique identifier of the flow.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                TestUsers:
                  description: List of test user identities that can test draft versions of the flow.
                  items:
                    type: string
                  type: array
              required:
                - TestUsers
              title: UpdateTestUserRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v2.flow.test_user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - test_users
    x-path-type: instance
components:
  schemas:
    boolean:
      nullable: true
      type: boolean
    date_time_iso8601:
      format: date-time
      nullable: true
      type: string
    execution_status:
      enum:
        - active
        - ended
      nullable: true
      type: string
    flow_revision_status:
      enum:
        - draft
        - published
      nullable: true
      type: string
    flow_status:
      enum:
        - draft
        - published
      nullable: true
      type: string
    integer:
      nullable: true
      type: integer
    object:
      nullable: true
      type: object
    object_list:
      items:
        type: object
      nullable: true
      type: array
    sid_AC:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^AC[0-9a-fA-F]{32}$
      type: string
    sid_FN:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^FN[0-9a-fA-F]{32}$
      type: string
    sid_FT:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^FT[0-9a-fA-F]{32}$
      type: string
    sid_FW:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^FW[0-9a-fA-F]{32}$
      type: string
    string:
      nullable: true
      type: string
    string_list:
      items:
        type: string
      nullable: true
      type: array
    studio.v2.flow:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        commit_message:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        definition:
          $ref: "#/components/schemas/object"
        errors:
          $ref: "#/components/schemas/object_list"
        friendly_name:
          $ref: "#/components/schemas/string"
        links:
          $ref: "#/components/schemas/uri_map"
        revision:
          $ref: "#/components/schemas/integer"
        sid:
          $ref: "#/components/schemas/sid_FW"
        status:
          $ref: "#/components/schemas/flow_status"
        url:
          $ref: "#/components/schemas/url"
        valid:
          $ref: "#/components/schemas/boolean"
        warnings:
          $ref: "#/components/schemas/object_list"
        webhook_url:
          $ref: "#/components/schemas/url"
      type: object
    studio.v2.flow.execution:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        contact_channel_address:
          $ref: "#/components/schemas/string"
        context:
          $ref: "#/components/schemas/object"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        flow_sid:
          $ref: "#/components/schemas/sid_FW"
        links:
          $ref: "#/components/schemas/uri_map"
        sid:
          $ref: "#/components/schemas/sid_FN"
        status:
          $ref: "#/components/schemas/execution_status"
        url:
          $ref: "#/components/schemas/url"
      type: object
    studio.v2.flow.execution.execution_context:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        context:
          $ref: "#/components/schemas/object"
        execution_sid:
          $ref: "#/components/schemas/sid_FN"
        flow_sid:
          $ref: "#/components/schemas/sid_FW"
        url:
          $ref: "#/components/schemas/url"
      type: object
    studio.v2.flow.execution.execution_step:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        context:
          $ref: "#/components/schemas/object"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        execution_sid:
          $ref: "#/components/schemas/sid_FN"
        flow_sid:
          $ref: "#/components/schemas/sid_FW"
        links:
          $ref: "#/components/schemas/uri_map"
        name:
          $ref: "#/components/schemas/string"
        sid:
          $ref: "#/components/schemas/sid_FT"
        transitioned_from:
          $ref: "#/components/schemas/string"
        transitioned_to:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    studio.v2.flow.execution.execution_step.execution_step_context:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        context:
          $ref: "#/components/schemas/object"
        execution_sid:
          $ref: "#/components/schemas/sid_FN"
        flow_sid:
          $ref: "#/components/schemas/sid_FW"
        step_sid:
          $ref: "#/components/schemas/sid_FT"
        url:
          $ref: "#/components/schemas/url"
      type: object
    studio.v2.flow.flow_revision:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        commit_message:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        definition:
          $ref: "#/components/schemas/object"
        errors:
          $ref: "#/components/schemas/object_list"
        friendly_name:
          $ref: "#/components/schemas/string"
        revision:
          $ref: "#/components/schemas/integer"
        sid:
          $ref: "#/components/schemas/sid_FW"
        status:
          $ref: "#/components/schemas/flow_revision_status"
        url:
          $ref: "#/components/schemas/url"
        valid:
          $ref: "#/components/schemas/boolean"
      type: object
    studio.v2.flow.test_user:
      properties:
        sid:
          $ref: "#/components/schemas/sid_FW"
        test_users:
          $ref: "#/components/schemas/string_list"
        url:
          $ref: "#/components/schemas/url"
      type: object
    studio.v2.flow_validate:
      properties:
        valid:
          $ref: "#/components/schemas/boolean"
      type: object
    uri_map:
      nullable: true
      type: object
    url:
      format: uri
      nullable: true
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
