openapi: 3.0.0
servers:
  - description: Production
    url: https://production.plaid.com
  - description: Development
    url: https://development.plaid.com
  - description: Sandbox
    url: https://sandbox.plaid.com
info:
  contact:
    name: Plaid Developer Team
    url: https://plaid.com
  description: The Plaid REST API. Please see https://plaid.com/docs/api for more details.
  termsOfService: https://plaid.com/legal/
  title: The Plaid API
  version: 2020-09-14_1.20.6
  x-apisguru-categories:
    - financial
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/plaid/plaid-openapi/master/2020-09-14.yml
      version: "3.0"
  x-providerName: plaid.com
security:
  - clientId: []
    plaidVersion: []
    secret: []
tags:
  - description: The Plaid API
    name: plaid
paths:
  /accounts/balance/get:
    post:
      description: The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link.
      externalDocs:
        url: /api/products/#accountsbalanceget
      operationId: accountsBalanceGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: string
                  client_id: string
                  options:
                    account_ids:
                      - string
                  secret: string
            schema:
              $ref: "#/components/schemas/AccountsBalanceGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "0000"
                        name: Plaid Checking
                        official_name: Plaid Gold Standard 0% Interest Checking
                        subtype: checking
                        type: depository
                      - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                        balances:
                          available: null
                          current: 410
                          iso_currency_code: USD
                          limit: 2000
                          unofficial_currency_code: null
                        mask: "3333"
                        name: Plaid Credit Card
                        official_name: Plaid Diamond 12.5% APR Interest Credit Card
                        subtype: credit card
                        type: credit
                      - account_id: Pp1Vpkl9w8sajvK6oEEKtr7vZxBnGpf7LxxLE
                        balances:
                          available: null
                          current: 65262
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "7777"
                        name: Plaid Student Loan
                        official_name: null
                        subtype: student
                        type: loan
                    item:
                      available_products:
                        - balance
                        - identity
                        - investments
                      billed_products:
                        - assets
                        - auth
                        - liabilities
                        - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: qk5Bxes3gDfv4F2
              schema:
                $ref: "#/components/schemas/AccountsGetResponse"
          description: OK
      summary: Retrieve real-time balance data
      tags:
        - plaid
  /accounts/get:
    post:
      description: |-
        The `/accounts/get`  endpoint can be used to retrieve information for any linked Item. Note that some information is nullable. Plaid will only return active bank accounts, i.e. accounts that are not closed and are capable of carrying a balance.

        This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead.
      externalDocs:
        url: /api/accounts/#accountsget
      operationId: accountsGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: string
                  client_id: string
                  options:
                    account_ids:
                      - string
                  secret: string
            schema:
              $ref: "#/components/schemas/AccountsGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: blgvvBlXw3cq5GMPwqB6s6q4dLKB9WcVqGDGo
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "0000"
                        name: Plaid Checking
                        official_name: Plaid Gold Standard 0% Interest Checking
                        subtype: checking
                        type: depository
                      - account_id: 6PdjjRP6LmugpBy5NgQvUqpRXMWxzktg3rwrk
                        balances:
                          available: null
                          current: 23631.9805
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "6666"
                        name: Plaid 401k
                        official_name: null
                        subtype: 401k
                        type: investment
                      - account_id: XMBvvyMGQ1UoLbKByoMqH3nXMj84ALSdE5B58
                        balances:
                          available: null
                          current: 65262
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "7777"
                        name: Plaid Student Loan
                        official_name: null
                        subtype: student
                        type: loan
                    item:
                      available_products:
                        - balance
                        - identity
                        - payment_initiation
                        - transactions
                      billed_products:
                        - assets
                        - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: bkVE1BHWMAZ9Rnr
              schema:
                $ref: "#/components/schemas/AccountsGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response.
      summary: Retrieve accounts
      tags:
        - plaid
  /application/get:
    post:
      description: Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences
      operationId: applicationGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response.
      summary: Retrieve information about a Plaid application
      tags:
        - plaid
  /asset_report/audit_copy/create:
    post:
      description: |-
        Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.

        To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.
      externalDocs:
        url: /api/products/#asset_reportaudit_copycreate
      operationId: assetReportAuditCopyCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportAuditCopyCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    audit_copy_token: a-sandbox-3TAU2CWVYBDVRHUCAAAI27ULU4
                    request_id: Iam3b
              schema:
                $ref: "#/components/schemas/AssetReportAuditCopyCreateResponse"
          description: OK
      summary: Create Asset Report Audit Copy
      tags:
        - plaid
  /asset_report/audit_copy/get:
    post:
      description: "`/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint.  The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor.  This token can then be used to call `/asset_report/audit_copy/create`."
      externalDocs:
        url: /none/
      operationId: assetReportAuditCopyGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportAuditCopyGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetReportGetResponse"
          description: OK
      summary: Retrieve an Asset Report Audit Copy
      tags:
        - plaid
  /asset_report/audit_copy/remove:
    post:
      description: The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.
      externalDocs:
        url: /api/products/#asset_reportaudit_copyremove
      operationId: assetReportAuditCopyRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportAuditCopyRemoveRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: "#/components/schemas/AssetReportAuditCopyRemoveResponse"
          description: OK
      summary: Remove Asset Report Audit Copy
      tags:
        - plaid
  /asset_report/create:
    post:
      description: |-
        The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.

        The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/webhooks/#Assets-webhooks).

        The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.
      externalDocs:
        url: /api/products/#asset_reportcreate
      operationId: assetReportCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: 1f414183-220c-44f5-b0c8-bc0e6d4053bb
                    asset_report_token: assets-sandbox-6f12f5bb-22dd-4855-b918-f47ec439198a
                    request_id: Iam3b
              schema:
                $ref: "#/components/schemas/AssetReportCreateResponse"
          description: OK
      summary: Create an Asset Report
      tags:
        - plaid
  /asset_report/filter:
    post:
      description: |-
        By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.

        To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.

        Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.

        Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook once generation of the filtered Asset Report has completed.
      externalDocs:
        url: /api/products/#asset_reportfilter
      operationId: assetReportFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportFilterRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: fdc09207-0cef-4d88-b5eb-0d970758ebd9
                    asset_report_token: assets-sandbox-bc410c6a-4653-4c75-985c-e757c3497c5c
                    request_id: qEg07
              schema:
                $ref: "#/components/schemas/AssetReportFilterResponse"
          description: OK
      summary: Filter Asset Report
      tags:
        - plaid
  /asset_report/get:
    post:
      description: |-
        The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.

        By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.

        To retrieve an Asset Report with Insights, call the `/asset_report/get` endpoint with `include_insights` set to `true`.
      externalDocs:
        url: /api/products/#asset_reportget
      operationId: assetReportGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    report:
                      asset_report_id: bf3a0490-344c-4620-a219-2693162e4b1d
                      client_report_id: 123abc
                      date_generated: 2020-06-05T22:47:53Z
                      days_requested: 3
                      items:
                        - accounts:
                            - account_id: 3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr
                              balances:
                                available: 200
                                current: 210
                                iso_currency_code: USD
                                limit: null
                                unofficial_currency_code: null
                              days_available: 3
                              historical_balances:
                                - current: 210
                                  date: 2020-06-04
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 210
                                  date: 2020-06-03
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 210
                                  date: 2020-06-02
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              mask: "1111"
                              name: Plaid Saving
                              official_name: Plaid Silver Standard 0.1% Interest Saving
                              owners:
                                - addresses:
                                    - data:
                                        city: Malakoff
                                        country: US
                                        postal_code: "14236"
                                        region: NY
                                        street: 2992 Cameron Road
                                      primary: true
                                    - data:
                                        city: San Matias
                                        country: US
                                        postal_code: 93405-2255
                                        region: CA
                                        street: 2493 Leisure Lane
                                      primary: false
                                  emails:
                                    - data: accountholder0@example.com
                                      primary: true
                                      type: primary
                                    - data: accountholder1@example.com
                                      primary: false
                                      type: secondary
                                    - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                      primary: false
                                      type: other
                                  names:
                                    - Alberta Bobbeth Charleson
                                  phone_numbers:
                                    - data: "1112223333"
                                      primary: false
                                      type: home
                                    - data: "1112224444"
                                      primary: false
                                      type: work
                                    - data: "1112225555"
                                      primary: false
                                      type: mobile
                              ownership_type: null
                              subtype: savings
                              transactions: []
                              type: depository
                            - account_id: BxBXxLj1m4HMXBm9WZJyUg9XLd4rKEhw8Pb1J
                              balances:
                                available: null
                                current: 56302.06
                                iso_currency_code: USD
                                limit: null
                                unofficial_currency_code: null
                              days_available: 3
                              historical_balances: []
                              mask: "8888"
                              name: Plaid Mortgage
                              official_name: null
                              owners:
                                - addresses:
                                    - data:
                                        city: Malakoff
                                        country: US
                                        postal_code: "14236"
                                        region: NY
                                        street: 2992 Cameron Road
                                      primary: true
                                    - data:
                                        city: San Matias
                                        country: US
                                        postal_code: 93405-2255
                                        region: CA
                                        street: 2493 Leisure Lane
                                      primary: false
                                  emails:
                                    - data: accountholder0@example.com
                                      primary: true
                                      type: primary
                                    - data: accountholder1@example.com
                                      primary: false
                                      type: secondary
                                    - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                      primary: false
                                      type: other
                                  names:
                                    - Alberta Bobbeth Charleson
                                  phone_numbers:
                                    - data: "1112223333"
                                      primary: false
                                      type: home
                                    - data: "1112224444"
                                      primary: false
                                      type: work
                                    - data: "1112225555"
                                      primary: false
                                      type: mobile
                              ownership_type: null
                              subtype: mortgage
                              transactions: []
                              type: loan
                            - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                              balances:
                                available: null
                                current: 410
                                iso_currency_code: USD
                                limit: null
                                unofficial_currency_code: null
                              days_available: 3
                              historical_balances:
                                - current: 410
                                  date: 2020-06-04
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 410
                                  date: 2020-06-03
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                                - current: 410
                                  date: 2020-06-02
                                  iso_currency_code: USD
                                  unofficial_currency_code: null
                              mask: "3333"
                              name: Plaid Credit Card
                              official_name: Plaid Diamond 12.5% APR Interest Credit Card
                              owners:
                                - addresses:
                                    - data:
                                        city: Malakoff
                                        country: US
                                        postal_code: "14236"
                                        region: NY
                                        street: 2992 Cameron Road
                                      primary: true
                                    - data:
                                        city: San Matias
                                        country: US
                                        postal_code: 93405-2255
                                        region: CA
                                        street: 2493 Leisure Lane
                                      primary: false
                                  emails:
                                    - data: accountholder0@example.com
                                      primary: true
                                      type: primary
                                    - data: accountholder1@example.com
                                      primary: false
                                      type: secondary
                                    - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                      primary: false
                                      type: other
                                  names:
                                    - Alberta Bobbeth Charleson
                                  phone_numbers:
                                    - data: "1112223333"
                                      primary: false
                                      type: home
                                    - data: "1112224444"
                                      primary: false
                                      type: work
                                    - data: "1112225555"
                                      primary: false
                                      type: mobile
                              ownership_type: null
                              subtype: credit card
                              transactions: []
                              type: credit
                          date_last_updated: 2020-06-05T22:47:52Z
                          institution_id: ins_3
                          institution_name: Chase
                          item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      user:
                        client_user_id: "123456789"
                        email: accountholder0@example.com
                        first_name: Alberta
                        last_name: Charleson
                        middle_name: Bobbeth
                        phone_number: 111-222-3333
                        ssn: 123-45-6789
                    request_id: eYupqX1mZkEuQRx
                    warnings: []
              schema:
                $ref: "#/components/schemas/AssetReportGetResponse"
          description: OK
      summary: Retrieve an Asset Report
      tags:
        - plaid
  /asset_report/pdf/get:
    post:
      description: |-
        The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.

        The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.

        [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).
      externalDocs:
        url: /api/products/#asset_reportpdfget
      operationId: assetReportPdfGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportPDFGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/AssetReportPDFGetResponse"
          description: A PDF of the Asset Report
      summary: Retrieve a PDF Asset Report
      tags:
        - plaid
  /asset_report/refresh:
    post:
      description: |-
        An Asset Report is an immutable snapshot of a user's assets. In order to "refresh" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.

        The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string ("") for any previously-populated fields you would like set as empty.
      externalDocs:
        url: /api/products/#asset_reportrefresh
      operationId: assetReportRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportRefreshRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: c33ebe8b-6a63-4d74-a83d-d39791231ac0
                    asset_report_token: assets-sandbox-8218d5f8-6d6d-403d-92f5-13a9afaa4398
                    request_id: NBZaq
              schema:
                $ref: "#/components/schemas/AssetReportRefreshResponse"
          description: OK
      summary: Refresh an Asset Report
      tags:
        - plaid
  /asset_report/remove:
    post:
      description: |-
        The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.

        The `/asset_report/remove` endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.
      externalDocs:
        url: /api/products/#asset_reportremove
      operationId: assetReportRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetReportRemoveRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: I6zHN
              schema:
                $ref: "#/components/schemas/AssetReportRemoveResponse"
          description: OK
      summary: Delete an Asset Report
      tags:
        - plaid
  /auth/get:
    post:
      description: |-
        The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.

        Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.

        Also note that `/auth/get` will not return data for any new accounts opened after the Item was created. To obtain data for new accounts, create a new Item.
      externalDocs:
        url: /api/products/#authget
      operationId: authGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/AuthGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "9606"
                        name: Plaid Checking
                        official_name: Plaid Gold Checking
                        subtype: checking
                        type: depository
                    item:
                      available_products:
                        - balance
                        - identity
                        - payment_initiation
                        - transactions
                      billed_products:
                        - assets
                        - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    numbers:
                      ach:
                        - account: "9900009606"
                          account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          routing: "011401533"
                          wire_routing: "021000021"
                      bacs:
                        - account: "31926819"
                          account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          sort_code: "601613"
                      eft:
                        - account: "111122223333"
                          account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          branch: "01140"
                          institution: "021"
                      international:
                        - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                          bic: NWBKGB21
                          iban: GB29NWBK60161331926819
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: "#/components/schemas/AuthGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Default error
      summary: Retrieve auth data
      tags:
        - plaid
  /bank_transfer/balance/get:
    post:
      description: |-
        Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.

        The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.

        Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.
      externalDocs:
        url: /api/products#bank_transferbalanceget
      operationId: bankTransferBalanceGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferBalanceGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    balance:
                      available: "1721.70"
                      transactable: "721.70"
                    origination_account_id: 11111111-1111-1111-1111-111111111111
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferBalanceGetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Get balance of your Bank Transfer account
      tags:
        - plaid
  /bank_transfer/cancel:
    post:
      description: Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.
      externalDocs:
        url: /api/products#bank_transfercancel
      operationId: bankTransferCancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferCancelRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferCancelResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Cancel a bank transfer
      tags:
        - plaid
  /bank_transfer/create:
    post:
      description: Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.
      externalDocs:
        url: /api/products#bank_transfercreate
      operationId: bankTransferCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer:
                      account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                      ach_class: ppd
                      amount: "12.34"
                      cancellable: true
                      created: 2020-08-06T17:27:15Z
                      custom_tag: my tag
                      description: Testing2
                      direction: outbound
                      failure_reason: null
                      id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                      iso_currency_code: USD
                      metadata:
                        key1: value1
                        key2: value2
                      network: ach
                      origination_account_id: 11111111-1111-1111-1111-111111111111
                      status: pending
                      type: credit
                      user:
                        email_address: plaid@plaid.com
                        legal_name: John Smith
                        routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferCreateResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Create a bank transfer
      tags:
        - plaid
  /bank_transfer/event/list:
    post:
      description: Use the `/bank_transfer/event/list` endpoint to get a list of bank transfer events based on specified filter criteria.
      externalDocs:
        url: /api/products#bank_transfereventlist
      operationId: bankTransferEventList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferEventListRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer_events:
                      - account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                        bank_transfer_amount: "12.34"
                        bank_transfer_id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                        bank_transfer_iso_currency_code: USD
                        bank_transfer_type: credit
                        direction: outbound
                        event_id: 1
                        event_type: receiver_pending
                        failure_reason: null
                        origination_account_id: null
                        receiver_details:
                          available_balance: positive
                        timestamp: 2020-08-06T17:27:15Z
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferEventListResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: List bank transfer events
      tags:
        - plaid
  /bank_transfer/event/sync:
    post:
      description: "`/bank_transfer/event/sync` allows you to request up to the next 25 bank transfer events that happened after a specific `event_id`. Use the `/bank_transfer/event/sync` endpoint to guarantee you have seen all bank transfer events. "
      externalDocs:
        url: /api/products#bank_transfereventsync
      operationId: bankTransferEventSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferEventSyncRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer_events:
                      - account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                        bank_transfer_amount: "12.34"
                        bank_transfer_id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                        bank_transfer_iso_currency_code: USD
                        bank_transfer_type: credit
                        direction: outbound
                        event_id: 1
                        event_type: pending
                        failure_reason: null
                        origination_account_id: null
                        receiver_details: null
                        timestamp: 2020-08-06T17:27:15Z
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferEventSyncResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Sync bank transfer events
      tags:
        - plaid
  /bank_transfer/get:
    post:
      description: The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.
      externalDocs:
        url: /api/products#bank_transferget
      operationId: bankTransferGet
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/BankTransferGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer:
                      account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                      ach_class: ppd
                      amount: "12.34"
                      cancellable: true
                      created: 2020-08-06T17:27:15Z
                      custom_tag: my tag
                      description: Testing2
                      direction: outbound
                      failure_reason:
                        ach_return_code: R13
                        description: Invalid ACH routing number
                      id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                      iso_currency_code: USD
                      metadata:
                        key1: value1
                        key2: value2
                      network: ach
                      origination_account_id: 11111111-1111-1111-1111-111111111111
                      status: pending
                      type: credit
                      user:
                        email_address: plaid@plaid.com
                        legal_name: John Smith
                        routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferGetResponse"
          description: OK
          headers: {}
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Retrieve a bank transfer
      tags:
        - plaid
  /bank_transfer/list:
    post:
      description: |
        Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers.
      externalDocs:
        url: /api/products#bank_transferlist
      operationId: bankTransferList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferListRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfers:
                      - account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                        ach_class: ppd
                        amount: "12.34"
                        cancellable: true
                        created: 2020-08-06T17:27:15Z
                        custom_tag: my tag
                        description: Testing2
                        direction: outbound
                        failure_reason:
                          ach_return_code: R13
                          description: Invalid ACH routing number
                        id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                        iso_currency_code: USD
                        metadata:
                          key1: value1
                          key2: value2
                        network: ach
                        origination_account_id: 11111111-1111-1111-1111-111111111111
                        status: pending
                        type: credit
                        user:
                          email_address: plaid@plaid.com
                          legal_name: John Smith
                          routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: "#/components/schemas/BankTransferListResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: List bank transfers
      tags:
        - plaid
  /bank_transfer/migrate_account:
    post:
      description: As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.
      externalDocs:
        url: /api/products#bank_transfermigrate_account
      operationId: bankTransferMigrateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankTransferMigrateAccountRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    access_token: access-sandbox-435beced-94e8-4df3-a181-1dde1cfa19f0
                    account_id: zvyDgbeeDluZ43AJP6m5fAxDlgoZXDuoy5gjN
                    request_id: mdqfuVxeoza6mhu
              schema:
                $ref: "#/components/schemas/BankTransferMigrateAccountResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Migrate account into Bank Transfers
      tags:
        - plaid
  /categories/get:
    post:
      description: Send a request to the `/categories/get`  endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.
      externalDocs:
        url: /api/products/#categoriesget
      operationId: categoriesGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoriesGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    categories:
                      - category_id: "10000000"
                        group: special
                        hierarchy:
                          - Bank Fees
                      - category_id: "10001000"
                        group: special
                        hierarchy:
                          - Bank Fees
                          - Overdraft
                      - category_id: "12001000"
                        group: place
                        hierarchy:
                          - Community
                          - Animal Shelter
                    request_id: ixTBLZGvhD4NnmB
              schema:
                $ref: "#/components/schemas/CategoriesGetResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response.
      security: []
      summary: Get Categories
      tags:
        - plaid
  /deposit_switch/alt/create:
    post:
      description: This endpoint provides an alternative to `/deposit_switch/create` for customers who have not yet fully integrated with Plaid Exchange. Like `/deposit_switch/create`, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
      externalDocs:
        url: /api/products#deposit_switchaltcreate
      operationId: depositSwitchAltCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositSwitchAltCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    deposit_switch_id: c7jMwPPManIwy9rwMewWP7lpb4pKRbtrbMomp
                    request_id: lMjeOeu9X1VUh1F
              schema:
                $ref: "#/components/schemas/DepositSwitchAltCreateResponse"
          description: OK
      summary: Create a deposit switch without using Plaid Exchange
      tags:
        - plaid
  /deposit_switch/create:
    post:
      description: This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.
      externalDocs:
        url: /api/products#deposit_switchcreate
      operationId: depositSwitchCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositSwitchCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    deposit_switch_id: c7jMwPPManIwy9rwMewWP7lpb4pKRbtrbMomp
                    request_id: lMjeOeu9X1VUh1F
              schema:
                $ref: "#/components/schemas/DepositSwitchCreateResponse"
          description: OK
      summary: Create a deposit switch
      tags:
        - plaid
  /deposit_switch/get:
    parameters: []
    post:
      description: This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user's direct deposit allocation preferences.
      externalDocs:
        url: /api/products#deposit_switchget
      operationId: depositSwitchGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositSwitchGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    account_has_multiple_allocations: true
                    amount_allocated: null
                    date_completed: 2019-11-01
                    date_created: 2019-11-01
                    deposit_switch_id: LjDyMfMkVpqLmEm1VR7bQikR3BX5hEMdRAkq1
                    employer_id: pqLmEm1VR7bQi11231
                    employer_name: COMPANY INC
                    institution_id: ins_1
                    institution_name: Bank of America
                    is_allocated_remainder: false
                    percent_allocated: 50
                    request_id: lMjeOeu9X1VUh1F
                    state: completed
                    switch_method: instant
                    target_account_id: bX5hEMdRAkq1QikR3BLjDyMfMkVpqLmEm1VR7
                    target_item_id: MdRAkq1QikR3BLjDyMfMkVpqLmEm1VR7bX5hE
              schema:
                $ref: "#/components/schemas/DepositSwitchGetResponse"
          description: OK
      summary: Retrieve a deposit switch
      tags:
        - plaid
  /deposit_switch/token/create:
    post:
      description: |
        In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes.
      externalDocs:
        url: /deposit-switch/reference#deposit_switchtokencreate
      operationId: depositSwitchTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositSwitchTokenCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    deposit_switch_token: deposit-switch-sandbox-3e5cacca-10a6-11ea-bcdb-6003089acac0
                    deposit_switch_token_expiration_time: 2019-12-31T12:01:37Z
                    request_id: 68MvHx4Ub5NYoXt
              schema:
                $ref: "#/components/schemas/DepositSwitchTokenCreateResponse"
          description: OK
      summary: Create a deposit switch token
      tags:
        - plaid
  /employers/search:
    post:
      description: |-
        `/employers/search` allows you the ability to search Plaid’s database of known employers, for use with Deposit Switch. You can use this endpoint to look up a user's employer in order to confirm that they are supported. Users with non-supported employers can then be routed out of the Deposit Switch flow.

        The data in the employer database is currently limited. As the Deposit Switch and Income products progress through their respective beta periods, more employers are being regularly added. Because the employer database is frequently updated, we recommend that you do not cache or store data from this endpoint for more than a day.
      externalDocs:
        url: /api/employers/#employerssearch
      operationId: employersSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployersSearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    employers:
                      - address:
                          city: San Francisco
                          country: US
                          postal_code: "94103"
                          region: CA
                          street: 1098 Harrison St
                        confidence_score: 1
                        employer_id: emp_1
                        name: Plaid Inc.
                    request_id: ixTBLZGvhD4NnmB
              schema:
                $ref: "#/components/schemas/EmployersSearchResponse"
          description: OK
      summary: Search employer database
      tags:
        - plaid
  /identity/get:
    post:
      description: |-
        The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.

        Note: This request may take some time to complete if identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
      externalDocs:
        url: /api/products/#identityget
      operationId: identityGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "0000"
                        name: Plaid Checking
                        official_name: Plaid Gold Standard 0% Interest Checking
                        owners:
                          - addresses:
                              - data:
                                  city: Malakoff
                                  country: US
                                  postal_code: "14236"
                                  region: NY
                                  street: 2992 Cameron Road
                                primary: true
                              - data:
                                  city: San Matias
                                  country: US
                                  postal_code: 93405-2255
                                  region: CA
                                  street: 2493 Leisure Lane
                                primary: false
                            emails:
                              - data: accountholder0@example.com
                                primary: true
                                type: primary
                              - data: accountholder1@example.com
                                primary: false
                                type: secondary
                              - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                primary: false
                                type: other
                            names:
                              - Alberta Bobbeth Charleson
                            phone_numbers:
                              - data: "1112223333"
                                primary: false
                                type: home
                              - data: "1112224444"
                                primary: false
                                type: work
                              - data: "1112225555"
                                primary: false
                                type: mobile
                        subtype: checking
                        type: depository
                      - account_id: 3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr
                        balances:
                          available: 200
                          current: 210
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "1111"
                        name: Plaid Saving
                        official_name: Plaid Silver Standard 0.1% Interest Saving
                        owners:
                          - addresses:
                              - data:
                                  city: Malakoff
                                  country: US
                                  postal_code: "14236"
                                  region: NY
                                  street: 2992 Cameron Road
                                primary: true
                              - data:
                                  city: San Matias
                                  country: US
                                  postal_code: 93405-2255
                                  region: CA
                                  street: 2493 Leisure Lane
                                primary: false
                            emails:
                              - data: accountholder0@example.com
                                primary: true
                                type: primary
                              - data: accountholder1@example.com
                                primary: false
                                type: secondary
                              - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                                primary: false
                                type: other
                            names:
                              - Alberta Bobbeth Charleson
                            phone_numbers:
                              - data: "1112223333"
                                primary: false
                                type: home
                              - data: "1112224444"
                                primary: false
                                type: work
                              - data: "1112225555"
                                primary: false
                                type: mobile
                        subtype: savings
                        type: depository
                    item:
                      available_products:
                        - balance
                        - investments
                      billed_products:
                        - assets
                        - auth
                        - identity
                        - liabilities
                        - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: 3nARps6TOYtbACO
              schema:
                $ref: "#/components/schemas/IdentityGetResponse"
          description: OK
      summary: Retrieve identity data
      tags:
        - plaid
  /income/verification/create:
    post:
      description: "`/income/verification/create` begins the income verification process by returning an `income_verification_id`. You can then provide the `income_verification_id` to `/link/token/create` under the `income_verification` parameter in order to create a Link instance that will prompt the user to go through the income verification flow. Plaid will fire an `INCOME` webhook once the user completes the Payroll Income flow, or when the uploaded documents in the Document Income flow have finished processing. "
      externalDocs:
        url: /api/products/#incomeverificationcreate
      operationId: incomeVerificationCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncomeVerificationCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    income_verification_id: f2a826d7-25cf-483b-a124-c40beb64b732
                    request_id: lMjeOeu9X1VUh1F
              schema:
                $ref: "#/components/schemas/IncomeVerificationCreateResponse"
          description: OK
      summary: Create an income verification instance
      tags:
        - plaid
  /income/verification/documents/download:
    parameters: []
    post:
      description: |-
        `/income/verification/documents/download` provides the ability to download the source paystub PDF that the end user uploaded via Paystub Import.

        The response to `/income/verification/documents/download` is a ZIP file in binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.

        For Payroll Income, the most recent file available for download with the payroll provider will also be available from this endpoint.
      externalDocs:
        url: /api/products/#incomeverificationdocumentsdownload
      operationId: incomeVerificationDocumentsDownload
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncomeVerificationDocumentsDownloadRequest"
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: A ZIP file containing the source paystub(s) used as the basis for income verification.
      summary: Download the original documents used for income verification
      tags:
        - plaid
  /income/verification/paystubs/get:
    post:
      description: "`/income/verification/paystubs/get` returns the information collected from the paystubs that were used to verify an end user's income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error."
      externalDocs:
        url: /api/products/#incomeverificationpaystubsget
      operationId: incomeVerificationPaystubsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncomeVerificationPaystubsGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    paystubs:
                      - account_id: null
                        employee:
                          address:
                            city: SAN FRANCISCO
                            country: US
                            postal_code: "94133"
                            region: CA
                            street: 2140 TAYLOR ST
                          name: ANNA CHARLESTON
                        employer:
                          name: PLAID INC
                        income_breakdown: []
                        pay_period_details:
                          check_amount: 1490.21
                          end_date: 2020-12-15
                          gross_earnings: 4500
                          pay_day: 2020-12-15
                          start_date: 2020-12-01
                        ytd_earnings:
                          gross_earnings: 59375
                          net_earnings: null
                    request_id: 2pxQ59buGdsHRef
              schema:
                $ref: "#/components/schemas/IncomeVerificationPaystubsGetResponse"
          description: OK
      summary: Retrieve information from the paystubs used for income verification
      tags:
        - plaid
  /income/verification/refresh:
    post:
      description: "`/income/verification/refresh` refreshes a given income verification."
      externalDocs:
        url: /api/products/#incomeverificationrefresh
      operationId: incomeVerificationRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncomeVerificationRefreshRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IncomeVerificationRefreshResponse"
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response.
      summary: Refresh an income verification
      tags:
        - plaid
  /income/verification/summary/get:
    post:
      description: "`/income/verification/summary/get` returns a verification summary for the income that was verified for an end user. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error."
      externalDocs:
        url: /api/products/#incomeverificationsummaryget
      operationId: incomeVerificationSummaryGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncomeVerificationSummaryGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    income_summaries:
                      - employee_name:
                          value: ANNA CHARLESTON
                          verification_status: UNVERIFIED
                        employer_name:
                          value: PLAID INC
                          verification_status: UNVERIFIED
                        pay_frequency:
                          value: semimonthly
                          verification_status: UNVERIFIED
                        projected_wage:
                          value: 100000
                          verification_status: UNVERIFIED
                        verified_transaction:
                          account_id: ""
                          amount: 0
                          date: ""
                          description: ""
                          transaction_id: ""
                        ytd_gross_income:
                          value: 59375
                          verification_status: UNVERIFIED
                        ytd_net_income:
                          value: 66205.35
                          verification_status: UNVERIFIED
                    request_id: LhQf0THi8SH1yJm
              schema:
                $ref: "#/components/schemas/IncomeVerificationSummaryGetResponse"
          description: OK
      summary: Retrieve a summary of information derived from income verification
      tags:
        - plaid
  /institutions/get:
    post:
      description: |-
        Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.

        If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.

        This data changes frequently. If you store it locally on your system, be sure to update it regularly.
      externalDocs:
        url: /api/institutions/#institutionsget
      operationId: institutionsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstitutionsGetRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institutions:
                      - country_codes:
                          - US
                        institution_id: ins_1
                        name: Bank of America
                        oauth: false
                        products:
                          - assets
                          - auth
                          - balance
                          - transactions
                          - identity
                          - liabilities
                        routing_numbers:
                          - "011000138"
                          - "011200365"
                          - "011400495"
                          - "011500010"
                          - "011900254"
                          - "021000322"
                          - "021200339"
                          - "026009593"
                          - "031202084"
                          - "051000017"
                          - "052001633"
                          - "053000196"
                          - "053904483"
                          - "054001204"
                          - "061000052"
                          - "063100277"
                          - "064000020"
                          - "071214579"
                          - "072000805"
                          - "073000176"
                          - "081000032"
                          - "081904808"
                          - "082000073"
                          - "101100045"
                          - "103000017"
                          - "107000327"
                          - "111000025"
                          - "121000358"
                          - "122101706"
                          - "122400724"
                          - "123103716"
                          - "125000024"
                          - "323070380"
                    request_id: tbFyCEqkU774ZGG
                    total: 11384
              schema:
                $ref: "#/components/schemas/InstitutionsGetResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Get details of all supported institutions
      tags:
        - plaid
  /institutions/get_by_id:
    post:
      description: Returns a JSON response containing details on a specified financial institution currently supported by Plaid.
      externalDocs:
        url: /api/institutions/#institutionsget_by_id
      operationId: institutionsGetById
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstitutionsGetByIdRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institution:
                      country_codes:
                        - US
                      institution_id: ins_109512
                      name: Houndstooth Bank
                      oauth: false
                      products:
                        - auth
                        - balance
                        - identity
                        - transactions
                      routing_numbers:
                        - "110000000"
                      status:
                        auth:
                          breakdown:
                            error_institution: 0.08
                            error_plaid: 0.01
                            success: 0.91
                          last_status_change: 2019-02-15T15:53:00Z
                          status: HEALTHY
                        balance:
                          breakdown:
                            error_institution: 0.09
                            error_plaid: 0.02
                            success: 0.89
                          last_status_change: 2019-02-15T15:53:00Z
                          status: HEALTHY
                        identity:
                          breakdown:
                            error_institution: 0.5
                            error_plaid: 0.08
                            success: 0.42
                          last_status_change: 2019-02-15T15:50:00Z
                          status: DEGRADED
                        investments:
                          breakdown:
                            error_institution: 0.09
                            error_plaid: 0.02
                            success: 0.89
                          last_status_change: 2019-02-15T15:53:00Z
                          liabilities:
                            breakdown:
                              error_institution: 0.09
                              error_plaid: 0.02
                              success: 0.89
                            last_status_change: 2019-02-15T15:53:00Z
                            status: HEALTHY
                          status: HEALTHY
                        investments_updates:
                          breakdown:
                            error_institution: 0.03
                            error_plaid: 0.02
                            refresh_interval: NORMAL
                            success: 0.95
                          last_status_change: 2019-02-12T08:22:00Z
                          status: HEALTHY
                        item_logins:
                          breakdown:
                            error_institution: 0.09
                            error_plaid: 0.01
                            success: 0.9
                          last_status_change: 2019-02-15T15:53:00Z
                          status: HEALTHY
                        liabilities_updates:
                          breakdown:
                            error_institution: 0.03
                            error_plaid: 0.02
                            refresh_interval: NORMAL
                            success: 0.95
                          last_status_change: 2019-02-12T08:22:00Z
                          status: HEALTHY
                        logo: null
                        primary_color: "#004966"
                        transactions_updates:
                          breakdown:
                            error_institution: 0.03
                            error_plaid: 0.02
                            refresh_interval: NORMAL
                            success: 0.95
                          last_status_change: 2019-02-12T08:22:00Z
                          status: HEALTHY
                        url: https://plaid.com
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: "#/components/schemas/InstitutionsGetByIdResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Get details of an institution
      tags:
        - plaid
  /institutions/search:
    post:
      description: Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.
      externalDocs:
        url: /api/institutions/#institutionssearch
      operationId: institutionsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstitutionsSearchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institutions:
                      - country_codes:
                          - US
                        institution_id: ins_118923
                        name: Red Platypus Bank - Red Platypus Bank
                        oauth: false
                        products:
                          - assets
                          - auth
                          - balance
                          - transactions
                          - identity
                        routing_numbers: []
                    request_id: Ggmk0enW4smO2Tp
              schema:
                $ref: "#/components/schemas/InstitutionsSearchResponse"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response
      summary: Search institutions
      tags:
        - plaid
  /investments/holdings/get:
    post:
      description: The `/investments/holdings/get` endpoint allows developers to receive user-authorized stock position data for `investment`-type accounts.
      externalDocs:
        url: /api/products/#investmentsholdingsget
      operationId: investmentsHoldingsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvestmentsHoldingsGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: 5Bvpj4QknlhVWk7GygpwfVKdd133GoCxB814g
                        balances:
                          available: 43200
                          current: 43200
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "4444"
                        name: Plaid Money Market
                        official_name: Plaid Platinum Standard 1.85% Interest Money Market
                        subtype: money market
                        type: depository
                      - account_id: JqMLm4rJwpF6gMPJwBqdh9ZjjPvvpDcb7kDK1
                        balances:
                          available: null
                          current: 320.76
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "5555"
                        name: Plaid IRA
                        official_name: null
                        subtype: ira
                        type: investment
                      - account_id: k67E4xKvMlhmleEa4pg9hlwGGNnnEeixPolGm
                        balances:
                          available: null
                          current: 23631.9805
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "6666"
                        name: Plaid 401k
                        official_name: null
                        subtype: 401k
                        type: investment
                    holdings:
                      - account_id: JqMLm4rJwpF6gMPJwBqdh9ZjjPvvpDcb7kDK1
                        cost_basis: 1
                        institution_price: 1
                        institution_price_as_of: 2021-04-13
                        institution_value: 0.01
                        iso_currency_code: USD
                        quantity: 0.01
                        security_id: d6ePmbPxgWCWmMVv66q9iPV94n91vMtov5Are
                        unofficial_currency_code: null
                      - account_id: k67E4xKvMlhmleEa4pg9hlwGGNnnEeixPolGm
                        cost_basis: 1.5
                        institution_price: 2.11
                        institution_price_as_of: null
                        institution_value: 2.11
                        iso_currency_code: USD
                        quantity: 1
                        security_id: KDwjlXj1Rqt58dVvmzRguxJybmyQL8FgeWWAy
                        unofficial_currency_code: null
                      - account_id: k67E4xKvMlhmleEa4pg9hlwGGNnnEeixPolGm
                        cost_basis: 10
                        institution_price: 10.42
                        institution_price_as_of: null
                        institution_value: 20.84
                        iso_currency_code: USD
                        quantity: 2
                        security_id: NDVQrXQoqzt5v3bAe8qRt4A7mK7wvZCLEBBJk
                        unofficial_currency_code: null
                      - account_id: JqMLm4rJwpF6gMPJwBqdh9ZjjPvvpDcb7kDK1
                        cost_basis: 0.01
                        institution_price: 0.011
                        institution_price_as_of: null
                        institution_value: 110
                        iso_currency_code: USD
                        quantity: 10000
                        security_id: 8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb
                        unofficial_currency_code: null
                      - account_id: k67E4xKvMlhmleEa4pg9hlwGGNnnEeixPolGm
                        cost_basis: 23
                        institution_price: 27
                        institution_price_as_of: null
                        institution_value: 636.309
                        iso_currency_code: USD
                        quantity: 23.567
                        security_id: JDdP7XPMklt5vwPmDN45t3KAoWAPmjtpaW7DP
                        unofficial_currency_code: null
                      - account_id: k67E4xKvMlhmleEa4pg9hlwGGNnnEeixPolGm
                        cost_basis: 15
                        institution_price: 13.73
                        institution_price_as_of: null
                        institution_value: 1373.6865
                        iso_currency_code: USD
                        quantity: 100.05
                        security_id: nnmo8doZ4lfKNEDe3mPJipLGkaGw3jfPrpxoN
                        unofficial_currency_code: null
                      - account_id: k67E4xKvMlhmleEa4pg9hlwGGNnnEeixPolGm
                        cost_basis: 1
                        institution_price: 1
                        institution_price_as_of: null
                        institution_value: 12345.67
                        iso_currency_code: USD
                        quantity: 12345.67
                        security_id: d6ePmbPxgWCWmMVv66q9iPV94n91vMtov5Are
                        unofficial_currency_code: null
                    item:
                      available_products:
                        - balance
                        - identity
                        - liabilities
                        - transactions
                      billed_products:
                        - assets
                        - auth
                        - investments
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: 4z9LPae1nRHWy8pvg9jrsgbRP4ZNQvIdbLq7g
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: l68wb8zpS0hqmsJ
                    securities:
                      - close_price: 0.011
                        close_price_as_of: 2021-04-13
                        cusip: null
                        institution_id: null
                        institution_security_id: null
                        is_cash_equivalent: false
                        isin: null
                        iso_currency_code: USD
                        name: Nflx Feb 01'18 $355 Call
                        proxy_security_id: null
                        security_id: 8E4L9XLl6MudjEpwPAAgivmdZRdBPJuvMPlPb
                        sedol: null
                        ticker_symbol: NFLX180201C00355000
                        type: derivative
                        unofficial_currency_code: null
                      - close_price: 27
                        close_price_as_of: null
                        cusip: "577130834"
                        institution_id: null
                        institution_security_id: null
                        is_cash_equivalent: false
                        isin: US5771308344
                        iso_currency_code: USD
                        name: Matthews Pacific Tiger Fund Insti Class
                        proxy_security_id: null
                        security_id: JDdP7XPMklt5vwPmDN45t3KAoWAPmjtpaW7DP
                        sedol: null
                        ticker_symbol: MIPTX
                        type: mutual fund
                        unofficial_currency_code: null
                      - close_price: 2.11
                        close_price_as_of: null
                        cusip: 00448Q201
                        institution_id: null
                        institution_security_id: null
                        is_cash_equivalent: false
                        isin: US00448Q2012
                        iso_currency_code: USD
                        name: Achillion Pharmaceuticals Inc.
                        proxy_security_id: null
                        security_id: KDwjlXj1Rqt58dVvmzRguxJybmyQL8FgeWWAy
                        sedol: null
                        ticker_symbol: ACHN
                        type: equity
                        unofficial_currency_code: null
                      - close_price: 10.42
                        close_price_as_of: null
                        cusip: "258620103"
                        institution_id: null
                        institution_security_id: null
                        is_cash_equivalent: false
                        isin: US2586201038
                        iso_currency_code: USD
                        name: DoubleLine Total Return Bond Fund
                        proxy_security_id: null
                        security_id: NDVQrXQoqzt5v3bAe8qRt4A7mK7wvZCLEBBJk
                        sedol: null
                        ticker_symbol: DBLTX
                        type: mutual fund
                        unofficial_currency_code: null
                      - close_price: 1
                        close_price_as_of: null
                        cusip: null
                        institution_id: null
                        institution_security_id: null
                        is_cash_equivalent: true
                        isin: null
                        iso_currency_code: USD
                        name: U S Dollar
                        proxy_security_id: null
                        security_id: d6ePmbPxgWCWmMVv66q9iPV94n91vMtov5Are
                        sedol: null
                        ticker_symbol: USD
                        type: cash
                        unofficial_currency_code: null
                      - close_price: 13.73
                        close_price_as_of: null
                        cusip: null
                        institution_id: ins_3
                        institution_security_id: NHX105509
                        is_cash_equivalent: false
                        isin: null
                        iso_currency_code: USD
                        name: NH PORTFOLIO 1055 (FIDELITY INDEX)
                        proxy_security_id: null
                        security_id: nnmo8doZ4lfKNEDe3mPJipLGkaGw3jfPrpxoN
                        sedol: null
                        ticker_symbol: NHX105509
                        type: etf
                        unofficial_currency_code: null
              schema:
                $ref: "#/components/schemas/InvestmentsHoldingsGetResponse"
          description: OK
      summary: Get Investment holdings
      tags:
        - plaid
  /investments/transactions/get:
    post:
      description: |-
        The `/investments/transactions/get` endpoint allows developers to retrieve user-authorized transaction data for investment accounts.

        Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.

        Due to the potentially large number of investment transactions associated with an Item, results are paginated. Manipulate the count and offset parameters in conjunction with the `total_investment_transactions` response body field to fetch all available investment transactions.
      externalDocs:
        url: /api/products/#investmentstransactionsget
      operationId: investmentsTransactionsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvestmentsTransactionsGetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                      - account_id: 5e66Dl6jNatx3nXPGwZ7UkJed4z6KBcZA4Rbe
                        balances:
                          available: 100
                          current: 110
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "0000"
                        name: Plaid Checking
                        official_name: Plaid Gold Standard 0% Interest Checking
                        subtype: checking
                        type: depository
                      - account_id: KqZZMoZmBWHJlz7yKaZjHZb78VNpaxfVa7e5z
                        balances:
                          available: null
                          current: 320.76
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "5555"
                        name: Plaid IRA
                        official_name: null
                        subtype: ira
                        type: investment
                      - account_id: rz99ex9ZQotvnjXdgQLEsR81e3ArPgulVWjGj
                        balances:
                          available: null
                          current: 23631.9805
                          iso_currency_code: USD
                          limit: null
                          unofficial_currency_code: null
                        mask: "6666"
                        name: Plaid 401k
                        official_name: null
                        subtype: 401k
                        type: investment
                    investment_transactions:
                      - account_id: rz99ex9ZQotvnjXdgQLEsR81e3ArPgulVWjGj
                        amount: -8.72
[...]
