swagger: '2.0'
info:
  version: '2017-09-08'
  x-release: v4
  title: AWSServerlessApplicationRepository
  description: |-
    <p>The AWS Serverless Application Repository makes it easy for developers and enterprises to quickly find
     and deploy serverless applications in the AWS Cloud. For more information about serverless applications,
     see Serverless Computing and Applications on the AWS website.</p><p>The AWS Serverless Application Repository is deeply integrated with the AWS Lambda console, so that developers of 
     all levels can get started with serverless computing without needing to learn anything new. You can use category 
     keywords to browse for applications such as web and mobile backends, data processing applications, or chatbots. 
     You can also search for applications by name, publisher, or event source. To use an application, you simply choose it, 
     configure any required fields, and deploy it with a few clicks. </p><p>You can also easily publish applications, sharing them publicly with the community at large, or privately
     within your team or across your organization. To publish a serverless application (or app), you can use the
     AWS Management Console, AWS Command Line Interface (AWS CLI), or AWS SDKs to upload the code. Along with the
     code, you upload a simple manifest file, also known as the AWS Serverless Application Model (AWS SAM) template.
     For more information about AWS SAM, see AWS Serverless Application Model (AWS SAM) on the AWS Labs
     GitHub repository.</p><p>The AWS Serverless Application Repository Developer Guide contains more information about the two developer
     experiences available:</p><ul>
     <li>
     <p>Consuming Applications – Browse for applications and view information about them, including
     source code and readme files. Also install, configure, and deploy applications of your choosing. </p>
     <p>Publishing Applications – Configure and upload applications to make them available to other
     developers, and publish new versions of applications. </p>
     </li>
     </ul>
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: serverlessrepo
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/serverlessrepo-2017-09-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/serverlessrepo/'
host: serverlessrepo.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://serverlessrepo.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWSServerlessApplicationRepository multi-region endpoint
  - url: 'https://serverlessrepo.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWSServerlessApplicationRepository multi-region endpoint
  - url: 'http://serverlessrepo.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSServerlessApplicationRepository endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://serverlessrepo.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSServerlessApplicationRepository endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /applications:
    post:
      operationId: CreateApplication
      description: 'Creates an application, optionally including an AWS SAM file to create the first application version in the same call.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - author
              - description
              - name
            properties:
              author:
                description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
                type: string
              description:
                description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
                type: string
              homePageUrl:
                description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
                type: string
              labels:
                description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
                type: array
                items:
                  $ref: '#/definitions/__string'
              licenseBody:
                description: |-
                  <p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.
                   The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>
                type: string
              licenseUrl:
                description: '<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>'
                type: string
              name:
                description: '<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
                type: string
              readmeBody:
                description: |-
                  <p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.
                   The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>
                type: string
              readmeUrl:
                description: '<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>'
                type: string
              semanticVersion:
                description: |-
                  <p>The semantic version of the application:</p><p>
                   <a href="https://semver.org/">https://semver.org/</a>
                   </p>
                type: string
              sourceCodeArchiveUrl:
                description: <p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>
                type: string
              sourceCodeUrl:
                description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
                type: string
              spdxLicenseId:
                description: 'A valid identifier from <a href="https://spdx.org/licenses/">https://spdx.org/licenses/</a>.'
                type: string
              templateBody:
                description: |-
                  <p>The local raw packaged AWS SAM template file of your application.
                   The file has the format file://&lt;path>/&lt;filename>.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>
                type: string
              templateUrl:
                description: <p>A link to the S3 object containing the packaged AWS SAM template of your application.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListApplications
      description: Lists applications owned by the requester.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: maxItems
          in: query
          required: false
          description: The total number of items to return.
          type: integer
          minimum: 1
          maximum: 100
        - name: nextToken
          in: query
          required: false
          description: A token to specify where to start paginating.
          type: string
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/applications/{applicationId}/versions/{semanticVersion}':
    put:
      operationId: CreateApplicationVersion
      description: Creates an application version.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationVersionResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: semanticVersion
          in: path
          required: true
          description: The semantic version of the new version.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              sourceCodeArchiveUrl:
                description: <p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>
                type: string
              sourceCodeUrl:
                description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
                type: string
              templateBody:
                description: The raw packaged AWS SAM template of your application.
                type: string
              templateUrl:
                description: A link to the packaged AWS SAM template of your application.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}/changesets':
    post:
      operationId: CreateCloudFormationChangeSet
      description: Creates an AWS CloudFormation change set for the given application.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCloudFormationChangeSetResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - stackName
            properties:
              capabilities:
                description: |-
                  <p>A list of values that you must specify before you can deploy certain applications.
                   Some applications might include resources that can affect permissions in your AWS
                   account, for example, by creating new AWS Identity and Access Management (IAM) users.
                   For those applications, you must explicitly acknowledge their capabilities by
                   specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,
                   CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or
                   CAPABILITY_NAMED_IAM:
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html">AWS::IAM::Group</a>,
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html">AWS::IAM::InstanceProfile</a>,
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM::Policy</a>, and
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html">AWS::IAM::Role</a>.
                   If the application contains IAM resources, you can specify either CAPABILITY_IAM
                   or CAPABILITY_NAMED_IAM. If the application contains IAM resources
                   with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html">AWS::Lambda::Permission</a>,
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM:Policy</a>,
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html">AWS::ApplicationAutoScaling::ScalingPolicy</a>,
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html">AWS::S3::BucketPolicy</a>,
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html">AWS::SQS::QueuePolicy</a>, and
                   <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html">AWS::SNS:TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify
                   CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review
                   all permissions associated with the application before deploying. If you don't specify
                   this parameter for an application that requires capabilities, the call will fail.</p>
                type: array
                items:
                  $ref: '#/definitions/__string'
              changeSetName:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: string
              clientToken:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: string
              description:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: string
              notificationArns:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: array
                items:
                  $ref: '#/definitions/__string'
              parameterOverrides:
                description: A list of parameter values for the parameters of the application.
                type: array
                items:
                  $ref: '#/definitions/ParameterValue'
              resourceTypes:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: array
                items:
                  $ref: '#/definitions/__string'
              rollbackConfiguration:
                description: |-
                  This property corresponds to the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration">RollbackConfiguration</a>
                   </i> Data Type.
                type: object
                properties:
                  MonitoringTimeInMinutes:
                    $ref: '#/definitions/__integer'
                    description: |-
                      This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration">RollbackConfiguration</a>
                       </i> Data Type.
                  RollbackTriggers:
                    $ref: '#/definitions/__listOfRollbackTrigger'
                    description: |-
                      This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration">RollbackConfiguration</a>
                       </i> Data Type.
              semanticVersion:
                description: |-
                  <p>The semantic version of the application:</p><p>
                   <a href="https://semver.org/">https://semver.org/</a>
                   </p>
                type: string
              stackName:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: string
              tags:
                description: |-
                  This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
                   </i> API.
                type: array
                items:
                  $ref: '#/definitions/Tag'
              templateId:
                description: '<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}</p>'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}/templates':
    post:
      operationId: CreateCloudFormationTemplate
      description: Creates an AWS CloudFormation template.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCloudFormationTemplateResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              semanticVersion:
                description: |-
                  <p>The semantic version of the application:</p><p>
                   <a href="https://semver.org/">https://semver.org/</a>
                   </p>
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}':
    delete:
      operationId: DeleteApplication
      description: Deletes the specified application.
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApplication
      description: Gets the specified application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: semanticVersion
          in: query
          required: false
          description: The semantic version of the application to get.
          type: string
    patch:
      operationId: UpdateApplication
      description: Updates the specified application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApplicationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              author:
                description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
                type: string
              description:
                description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
                type: string
              homePageUrl:
                description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
                type: string
              labels:
                description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
                type: array
                items:
                  $ref: '#/definitions/__string'
              readmeBody:
                description: <p>A text readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
                type: string
              readmeUrl:
                description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
                type: string
  '/applications/{applicationId}/policy':
    get:
      operationId: GetApplicationPolicy
      description: Retrieves the policy for the application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationPolicyResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: PutApplicationPolicy
      description: |-
        Sets the permission policy for an application. For the list of actions supported for this operation, see
         <a href="https://docs.aws.amazon.com/serverlessrepo/latest/devguide/access-control-resource-based.html#application-permissions">Application 
         Permissions</a>
         .
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutApplicationPolicyResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - statements
            properties:
              statements:
                description: An array of policy statements applied to the application.
                type: array
                items:
                  $ref: '#/definitions/ApplicationPolicyStatement'
  '/applications/{applicationId}/templates/{templateId}':
    get:
      operationId: GetCloudFormationTemplate
      description: Gets the specified AWS CloudFormation template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCloudFormationTemplateResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: templateId
          in: path
          required: true
          description: '<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}</p>'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}/dependencies':
    get:
      operationId: ListApplicationDependencies
      description: Retrieves the list of applications nested in the containing application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationDependenciesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: maxItems
          in: query
          required: false
          description: The total number of items to return.
          type: integer
          minimum: 1
          maximum: 100
        - name: nextToken
          in: query
          required: false
          description: A token to specify where to start paginating.
          type: string
        - name: semanticVersion
          in: query
          required: false
          description: The semantic version of the application to get.
          type: string
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}/versions':
    get:
      operationId: ListApplicationVersions
      description: Lists versions for the specified application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationVersionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: applicationId
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the application.
          type: string
        - name: maxItems
          in: query
          required: false
          description: The total number of items to return.
          type: integer
          minimum: 1
          maximum: 100
        - name: nextToken
          in: query
          required: false
          description: A token to specify where to start paginating.
          type: string
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateApplicationResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
      IsVerifiedAuthor:
        $ref: '#/definitions/__boolean'
        description: 'Whether the author of this application has been verified. This means means that AWS has made a good faith review, as a reasonable and prudent service provider, of the information provided by the requester and has confirmed that the requester''s identity is as claimed.'
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      VerifiedAuthorUrl:
        $ref: '#/definitions/__string'
        description: The URL to the public profile of a verified author. This URL is submitted by the author.
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
  __string:
    type: string
  TooManyRequestsException: {}
  BadRequestException: {}
  InternalServerErrorException: {}
  ConflictException: {}
  ForbiddenException: {}
  CreateApplicationVersionResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      ParameterDefinitions:
        $ref: '#/definitions/__listOfParameterDefinition'
        description: An array of parameter types supported by the application.
      RequiredCapabilities:
        $ref: '#/definitions/__listOfCapability'
        description: |-
          <p>A list of values that you must specify before you can deploy certain applications.
           Some applications might include resources that can affect permissions in your AWS
           account, for example, by creating new AWS Identity and Access Management (IAM) users.
           For those applications, you must explicitly acknowledge their capabilities by
           specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,
           CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or
           CAPABILITY_NAMED_IAM:
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html">AWS::IAM::Group</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html">AWS::IAM::InstanceProfile</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM::Policy</a>, and
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html">AWS::IAM::Role</a>.
           If the application contains IAM resources, you can specify either CAPABILITY_IAM
           or CAPABILITY_NAMED_IAM. If the application contains IAM resources
           with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html">AWS::Lambda::Permission</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM:Policy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html">AWS::ApplicationAutoScaling::ScalingPolicy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html">AWS::S3::BucketPolicy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html">AWS::SQS::QueuePolicy</a>, and
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html">AWS::SNS::TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify
           CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review
           all permissions associated with the application before deploying. If you don't specify
           this parameter for an application that requires capabilities, the call will fail.</p>
      ResourcesSupported:
        $ref: '#/definitions/__boolean'
        description: |-
          Whether all of the AWS resources contained in this application are supported in the region
           in which it is being retrieved.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeArchiveUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
  CreateCloudFormationChangeSetResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      ChangeSetId:
        $ref: '#/definitions/__string'
        description: '<p>The Amazon Resource Name (ARN) of the change set.</p><p>Length constraints: Minimum length of 1.</p><p>Pattern: ARN:[-a-zA-Z0-9:/]*</p>'
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      StackId:
        $ref: '#/definitions/__string'
        description: The unique ID of the stack.
  ParameterValue:
    type: object
    required:
      - Value
      - Name
    properties:
      Name:
        $ref: '#/definitions/__string'
        description: |-
          The key associated with the parameter. If you don't specify a key and value for a particular parameter, AWS CloudFormation
           uses the default value that is specified in your template.
      Value:
        $ref: '#/definitions/__string'
        description: The input value associated with the parameter.
    description: Parameter value of the application.
  __integer:
    type: integer
  __listOfRollbackTrigger:
    type: array
    items:
      $ref: '#/definitions/RollbackTrigger'
  Tag:
    type: object
    required:
      - Value
      - Key
    properties:
      Key:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/Tag">Tag</a>
           </i> Data Type.
      Value:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/Tag">
           Tag</a>
           </i>
           Data Type.
    description: |-
      This property corresponds to the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/Tag">Tag</a>
       </i> Data Type.
  CreateCloudFormationTemplateResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      ExpirationTime:
        $ref: '#/definitions/__string'
        description: |-
          The date and time this template expires. Templates
           expire 1 hour after creation.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      Status:
        $ref: '#/definitions/Status'
        description: |-
          <p>Status of the template creation workflow.</p><p>Possible values: PREPARING | ACTIVE | EXPIRED
           </p>
      TemplateId:
        $ref: '#/definitions/__string'
        description: '<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}</p>'
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: |-
          A link to the template that can be used to deploy the application using
           AWS CloudFormation.
  NotFoundException: {}
  GetApplicationResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
      IsVerifiedAuthor:
        $ref: '#/definitions/__boolean'
        description: 'Whether the author of this application has been verified. This means means that AWS has made a good faith review, as a reasonable and prudent service provider, of the information provided by the requester and has confirmed that the requester''s identity is as claimed.'
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      VerifiedAuthorUrl:
        $ref: '#/definitions/__string'
        description: The URL to the public profile of a verified author. This URL is submitted by the author.
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
  GetApplicationPolicyResponse:
    type: object
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
  GetCloudFormationTemplateResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      ExpirationTime:
        $ref: '#/definitions/__string'
        description: |-
          The date and time this template expires. Templates
           expire 1 hour after creation.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      Status:
        $ref: '#/definitions/Status'
        description: |-
          <p>Status of the template creation workflow.</p><p>Possible values: PREPARING | ACTIVE | EXPIRED
           </p>
      TemplateId:
        $ref: '#/definitions/__string'
        description: '<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}</p>'
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: |-
          A link to the template that can be used to deploy the application using
           AWS CloudFormation.
  ListApplicationDependenciesResponse:
    type: object
    properties:
      Dependencies:
        $ref: '#/definitions/__listOfApplicationDependencySummary'
        description: An array of application summaries nested in the application.
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
  ListApplicationVersionsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
      Versions:
        $ref: '#/definitions/__listOfVersionSummary'
        description: An array of version summaries for the application.
  ListApplicationsResponse:
    type: object
    properties:
      Applications:
        $ref: '#/definitions/__listOfApplicationSummary'
        description: An array of application summaries.
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
  PutApplicationPolicyResponse:
    type: object
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
  ApplicationPolicyStatement:
    type: object
    required:
      - Principals
      - Actions
    properties:
      Actions:
        $ref: '#/definitions/__listOf__string'
        description: |-
          For the list of actions supported for this operation, see <a href="https://docs.aws.amazon.com/serverlessrepo/latest/devguide/access-control-resource-based.html#application-permissions">Application 
           Permissions</a>.
      Principals:
        $ref: '#/definitions/__listOf__string'
        description: 'An array of AWS account IDs, or * to make the application public.'
      StatementId:
        $ref: '#/definitions/__string'
        description: A unique ID for the statement.
    description: Policy statement applied to the application.
  UpdateApplicationResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
      IsVerifiedAuthor:
        $ref: '#/definitions/__boolean'
        description: 'Whether the author of this application has been verified. This means means that AWS has made a good faith review, as a reasonable and prudent service provider, of the information provided by the requester and has confirmed that the requester''s identity is as claimed.'
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      VerifiedAuthorUrl:
        $ref: '#/definitions/__string'
        description: The URL to the public profile of a verified author. This URL is submitted by the author.
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
  ApplicationDependencySummary:
    type: object
    required:
      - ApplicationId
      - SemanticVersion
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the nested application.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: The semantic version of the nested application.
    description: A nested application summary.
  __listOf__string:
    type: array
    items:
      $ref: '#/definitions/__string'
  ApplicationSummary:
    type: object
    required:
      - Description
      - Author
      - ApplicationId
      - Name
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from <a href="https://spdx.org/licenses/">https://spdx.org/licenses/</a>.'
    description: Summary of details about the application.
  Capability:
    type: string
    enum:
      - CAPABILITY_IAM
      - CAPABILITY_NAMED_IAM
      - CAPABILITY_AUTO_EXPAND
      - CAPABILITY_RESOURCE_POLICY
    description: Values that must be specified in order to deploy some applications.
  CreateApplicationRequest:
    type: object
    required:
      - Description
      - Name
      - Author
    properties:
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.
           The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>'
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.
           The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>'
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeArchiveUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from <a href="https://spdx.org/licenses/">https://spdx.org/licenses/</a>.'
      TemplateBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>The local raw packaged AWS SAM template file of your application.
           The file has the format file://&lt;path>/&lt;filename>.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the S3 object containing the packaged AWS SAM template of your application.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>
  __boolean:
    type: boolean
  Version:
    type: object
    required:
      - TemplateUrl
      - ParameterDefinitions
      - ResourcesSupported
      - CreationTime
      - RequiredCapabilities
      - ApplicationId
      - SemanticVersion
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      ParameterDefinitions:
        $ref: '#/definitions/__listOfParameterDefinition'
        description: An array of parameter types supported by the application.
      RequiredCapabilities:
        $ref: '#/definitions/__listOfCapability'
        description: |-
          <p>A list of values that you must specify before you can deploy certain applications.
           Some applications might include resources that can affect permissions in your AWS
           account, for example, by creating new AWS Identity and Access Management (IAM) users.
           For those applications, you must explicitly acknowledge their capabilities by
           specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,
           CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or
           CAPABILITY_NAMED_IAM:
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html">AWS::IAM::Group</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html">AWS::IAM::InstanceProfile</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM::Policy</a>, and
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html">AWS::IAM::Role</a>.
           If the application contains IAM resources, you can specify either CAPABILITY_IAM
           or CAPABILITY_NAMED_IAM. If the application contains IAM resources
           with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html">AWS::Lambda::Permission</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM:Policy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html">AWS::ApplicationAutoScaling::ScalingPolicy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html">AWS::S3::BucketPolicy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html">AWS::SQS::QueuePolicy</a>, and
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html">AWS::SNS::TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify
           CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review
           all permissions associated with the application before deploying. If you don't specify
           this parameter for an application that requires capabilities, the call will fail.</p>
      ResourcesSupported:
        $ref: '#/definitions/__boolean'
        description: |-
          Whether all of the AWS resources contained in this application are supported in the region
           in which it is being retrieved.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeArchiveUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
    description: Application version details.
  CreateApplicationVersionRequest:
    type: object
    properties:
      SourceCodeArchiveUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
      TemplateBody:
        $ref: '#/definitions/__string'
        description: The raw packaged AWS SAM template of your application.
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
  __listOfParameterDefinition:
    type: array
    items:
      $ref: '#/definitions/ParameterDefinition'
  __listOfCapability:
    type: array
    items:
      $ref: '#/definitions/Capability'
  __listOfParameterValue:
    type: array
    items:
      $ref: '#/definitions/ParameterValue'
  RollbackConfiguration:
    type: object
    properties:
      MonitoringTimeInMinutes:
        $ref: '#/definitions/__integer'
        description: |-
          This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration">RollbackConfiguration</a>
           </i> Data Type.
      RollbackTriggers:
        $ref: '#/definitions/__listOfRollbackTrigger'
        description: |-
          This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration">RollbackConfiguration</a>
           </i> Data Type.
    description: |-
      This property corresponds to the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackConfiguration">RollbackConfiguration</a>
       </i> Data Type.
  __listOfTag:
    type: array
    items:
      $ref: '#/definitions/Tag'
  CreateCloudFormationChangeSetRequest:
    type: object
    required:
      - StackName
    properties:
      Capabilities:
        $ref: '#/definitions/__listOf__string'
        description: |-
          <p>A list of values that you must specify before you can deploy certain applications.
           Some applications might include resources that can affect permissions in your AWS
           account, for example, by creating new AWS Identity and Access Management (IAM) users.
           For those applications, you must explicitly acknowledge their capabilities by
           specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,
           CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or
           CAPABILITY_NAMED_IAM:
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html">AWS::IAM::Group</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html">AWS::IAM::InstanceProfile</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM::Policy</a>, and
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html">AWS::IAM::Role</a>.
           If the application contains IAM resources, you can specify either CAPABILITY_IAM
           or CAPABILITY_NAMED_IAM. If the application contains IAM resources
           with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html">AWS::Lambda::Permission</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html">AWS::IAM:Policy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html">AWS::ApplicationAutoScaling::ScalingPolicy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html">AWS::S3::BucketPolicy</a>,
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html">AWS::SQS::QueuePolicy</a>, and
           <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html">AWS::SNS:TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify
           CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review
           all permissions associated with the application before deploying. If you don't specify
           this parameter for an application that requires capabilities, the call will fail.</p>
      ChangeSetName:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      ClientToken:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      Description:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      NotificationArns:
        $ref: '#/definitions/__listOf__string'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      ParameterOverrides:
        $ref: '#/definitions/__listOfParameterValue'
        description: A list of parameter values for the parameters of the application.
      ResourceTypes:
        $ref: '#/definitions/__listOf__string'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      RollbackConfiguration:
        $ref: '#/definitions/RollbackConfiguration'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      StackName:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      Tags:
        $ref: '#/definitions/__listOfTag'
        description: |-
          This property corresponds to the parameter of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/CreateChangeSet">CreateChangeSet</a>
           </i> API.
      TemplateId:
        $ref: '#/definitions/__string'
        description: '<p>The UUID returned by CreateCloudFormationTemplate.</p><p>Pattern: [0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}</p>'
  CreateCloudFormationTemplateRequest:
    type: object
    properties:
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
  Status:
    type: string
    enum:
      - PREPARING
      - ACTIVE
      - EXPIRED
  DeleteApplicationRequest:
    type: object
    properties: {}
  GetApplicationPolicyRequest:
    type: object
    properties: {}
  __listOfApplicationPolicyStatement:
    type: array
    items:
      $ref: '#/definitions/ApplicationPolicyStatement'
  GetApplicationRequest:
    type: object
    properties: {}
  GetCloudFormationTemplateRequest:
    type: object
    properties: {}
  MaxItems:
    type: integer
    minimum: 1
    maximum: 100
  ListApplicationDependenciesRequest:
    type: object
    properties: {}
  __listOfApplicationDependencySummary:
    type: array
    items:
      $ref: '#/definitions/ApplicationDependencySummary'
  ListApplicationVersionsRequest:
    type: object
    properties: {}
  __listOfVersionSummary:
    type: array
    items:
      $ref: '#/definitions/VersionSummary'
  ListApplicationsRequest:
    type: object
    properties: {}
  __listOfApplicationSummary:
    type: array
    items:
      $ref: '#/definitions/ApplicationSummary'
  ParameterDefinition:
    type: object
    required:
      - ReferencedByResources
      - Name
    properties:
      AllowedPattern:
        $ref: '#/definitions/__string'
        description: A regular expression that represents the patterns to allow for String types.
      AllowedValues:
        $ref: '#/definitions/__listOf__string'
        description: An array containing the list of values allowed for the parameter.
      ConstraintDescription:
        $ref: '#/definitions/__string'
        description: |-
          <p>A string that explains a constraint when the constraint is violated. For example, without a constraint description,
           a parameter that has an allowed pattern of [A-Za-z0-9]+ displays the following error message when the user
           specifies an invalid value:</p><p>
           Malformed input-Parameter MyParameter must match pattern [A-Za-z0-9]+
           </p><p>By adding a constraint description, such as "must contain only uppercase and lowercase letters and numbers," you can display
           the following customized error message:</p><p>
           Malformed input-Parameter MyParameter must contain only uppercase and lowercase letters and numbers.
           </p>
      DefaultValue:
        $ref: '#/definitions/__string'
        description: |-
          A value of the appropriate type for the template to use if no value is specified when a stack is created.
           If you define constraints for the parameter, you must specify a value that adheres to those constraints.
      Description:
        $ref: '#/definitions/__string'
        description: 'A string of up to 4,000 characters that describes the parameter.'
      MaxLength:
        $ref: '#/definitions/__integer'
        description: An integer value that determines the largest number of characters that you want to allow for String types.
      MaxValue:
        $ref: '#/definitions/__integer'
        description: A numeric value that determines the largest numeric value that you want to allow for Number types.
      MinLength:
        $ref: '#/definitions/__integer'
        description: An integer value that determines the smallest number of characters that you want to allow for String types.
      MinValue:
        $ref: '#/definitions/__integer'
        description: A numeric value that determines the smallest numeric value that you want to allow for Number types.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the parameter.
      NoEcho:
        $ref: '#/definitions/__boolean'
        description: |-
          Whether to mask the parameter value whenever anyone makes a call that describes the stack. If you set the
           value to true, the parameter value is masked with asterisks (*****).
      ReferencedByResources:
        $ref: '#/definitions/__listOf__string'
        description: A list of AWS SAM resources that use this parameter.
      Type:
        $ref: '#/definitions/__string'
        description: |-
          <p>The type of the parameter.</p><p>Valid values: String | Number | List&lt;Number> | CommaDelimitedList
           </p><p>
           String: A literal string.</p><p>For example, users can specify "MyUserName".</p><p>
           Number: An integer or float. AWS CloudFormation validates the parameter value as a number. However, when you use the
           parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a string.</p><p>For example, users might specify "8888".</p><p>
           List&lt;Number>: An array of integers or floats that are separated by commas. AWS CloudFormation validates the parameter value as numbers. However, when
           you use the parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a list of strings.</p><p>For example, users might specify "80,20", and then Ref results in ["80","20"].</p><p>
           CommaDelimitedList: An array of literal strings that are separated by commas. The total number of strings should be one more than the total number of commas.
           Also, each member string is space-trimmed.</p><p>For example, users might specify "test,dev,prod", and then Ref results in ["test","dev","prod"].</p>
    description: Parameters supported by the application.
  PutApplicationPolicyRequest:
    type: object
    required:
      - Statements
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
  RollbackTrigger:
    type: object
    required:
      - Type
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackTrigger">RollbackTrigger</a>
           </i> Data Type.
      Type:
        $ref: '#/definitions/__string'
        description: |-
          This property corresponds to the content of the same name for the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackTrigger">RollbackTrigger</a>
           </i> Data Type.
    description: |-
      This property corresponds to the <i>AWS CloudFormation <a href="https://docs.aws.amazon.com/goto/WebAPI/cloudformation-2010-05-15/RollbackTrigger">RollbackTrigger</a>
       </i> Data Type.
  UpdateApplicationRequest:
    type: object
    properties:
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: 'A URL with more information about the application, for example the location of your GitHub repository for the application.'
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      ReadmeBody:
        $ref: '#/definitions/__string'
        description: <p>A text readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
  VersionSummary:
    type: object
    required:
      - CreationTime
      - ApplicationId
      - SemanticVersion
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: 'A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.'
    description: An application version summary.
