swagger: '2.0'
info:
  version: '2017-09-08'
  x-release: v4
  title: AWSServerlessApplicationRepository
  description: |-
    <p>The AWS Serverless Application Repository makes it easy for developers and enterprises to quickly find
     and deploy serverless applications in the AWS Cloud. For more information about serverless applications,
     see Serverless Computing and Applications on the AWS website.</p><p>The AWS Serverless Application Repository is deeply integrated with the AWS Lambda console, so that developers of 
     all levels can get started with serverless computing without needing to learn anything new. You can use category 
     keywords to browse for applications such as web and mobile backends, data processing applications, or chatbots. 
     You can also search for applications by name, publisher, or event source. To use an application, you simply choose it, 
     configure any required fields, and deploy it with a few clicks. </p><p>You can also easily publish applications, sharing them publicly with the community at large, or privately
     within your team or across your organization. To publish a serverless application (or app), you can use the
     AWS Management Console, AWS Command Line Interface (AWS CLI), or AWS SDKs to upload the code. Along with the
     code, you upload a simple manifest file, also known as the AWS Serverless Application Model (AWS SAM) template.
     For more information about AWS SAM, see AWS Serverless Application Model (AWS SAM) on the AWS Labs
     GitHub repository.</p><p>The AWS Serverless Application Repository Developer Guide contains more information about the two developer
     experiences available:</p><ul>
     <li>
     <p>Consuming Applications – Browse for applications and view information about them, including
     source code and readme files. Also install, configure, and deploy applications of your choosing. </p>
     <p>Publishing Applications – Configure and upload applications to make them available to other
     developers, and publish new versions of applications. </p>
     </li>
     </ul>
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: serverlessrepo
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/serverlessrepo-2017-09-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/serverlessrepo/'
host: serverlessrepo.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /applications:
    post:
      operationId: CreateApplication
      description: 'Creates an application, optionally including an AWS SAM file to create the first application version in the same call.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListApplications
      description: Lists applications owned by the requester.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsRequest'
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/applications/{applicationId}/versions/{semanticVersion}':
    put:
      operationId: CreateApplicationVersion
      description: Creates an application version.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationVersionResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationVersionRequest'
        - name: applicationId
          in: path
          type: string
          required: true
        - name: semanticVersion
          in: path
          type: string
          required: true
        - name: semanticVersion
          in: query
          type: string
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}/changesets':
    post:
      operationId: CreateCloudFormationChangeSet
      description: Creates an AWS CloudFormation change set for the given application.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCloudFormationChangeSetResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCloudFormationChangeSetRequest'
        - name: applicationId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/applications/{applicationId}':
    delete:
      operationId: DeleteApplication
      description: Deletes the specified application.
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationRequest'
        - name: applicationId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApplication
      description: Gets the specified application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetApplicationRequest'
        - name: applicationId
          in: path
          type: string
          required: true
    patch:
      operationId: UpdateApplication
      description: Updates the specified application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApplicationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationRequest'
        - name: applicationId
          in: path
          type: string
          required: true
  '/applications/{applicationId}/policy':
    get:
      operationId: GetApplicationPolicy
      description: Retrieves the policy for the application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationPolicyResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetApplicationPolicyRequest'
        - name: applicationId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: PutApplicationPolicy
      description: |-
        Sets the permission policy for an application. See
         <a href="https://docs.aws.amazon.com/serverlessrepo/latest/devguide/access-control-resource-based.html#application-permissions">Application Permissions</a>
         for the list of supported actions that can be used with this operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutApplicationPolicyResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutApplicationPolicyRequest'
        - name: applicationId
          in: path
          type: string
          required: true
  '/applications/{applicationId}/versions':
    get:
      operationId: ListApplicationVersions
      description: Lists versions for the specified application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationVersionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationVersionsRequest'
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: applicationId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateApplicationResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
  CreateApplicationRequest:
    type: object
    required:
      - Description
      - Name
      - Author
    properties:
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.
           The file is of the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>Note: Only one of licenseBody and licenseUrl can be specified, otherwise an error will result.</p>
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>Note: Only one of licenseBody and licenseUrl can be specified, otherwise an error will result.</p>'
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.
           The file is of the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>Note: Only one of readmeBody and readmeUrl can be specified, otherwise an error will result.</p>
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>Note: Only one of readmeBody and readmeUrl can be specified, otherwise an error will result.</p>'
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from <a href="https://spdx.org/licenses/">https://spdx.org/licenses/</a>.'
      TemplateBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>The local raw packaged AWS SAM template file of your application.
           The file is of the format file://&lt;path>/&lt;filename>.</p><p>Note: Only one of templateBody and templateUrl can be specified, otherwise an error will result.</p>
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object cotaining the packaged AWS SAM template of your application.</p><p>Note: Only one of templateBody and templateUrl can be specified, otherwise an error will result.</p>'
  TooManyRequestsException:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: '429'
      Message:
        $ref: '#/definitions/__string'
        description: The client is sending more than the allowed number of requests per unit of time.
    description: The client is sending more than the allowed number of requests per unit of time.
  BadRequestException:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: '400'
      Message:
        $ref: '#/definitions/__string'
        description: One of the parameters in the request is invalid.
    description: One of the parameters in the request is invalid.
  InternalServerErrorException:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: '500'
      Message:
        $ref: '#/definitions/__string'
        description: The AWS Serverless Application Repository service encountered an internal error.
    description: The AWS Serverless Application Repository service encountered an internal error.
  ConflictException:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: '409'
      Message:
        $ref: '#/definitions/__string'
        description: The resource already exists.
    description: The resource already exists.
  ForbiddenException:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: '403'
      Message:
        $ref: '#/definitions/__string'
        description: The client is not authenticated.
    description: The client is not authenticated.
  CreateApplicationVersionResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      ParameterDefinitions:
        $ref: '#/definitions/__listOfParameterDefinition'
        description: An array of parameter types supported by the application.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
  CreateApplicationVersionRequest:
    type: object
    properties:
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
      TemplateBody:
        $ref: '#/definitions/__string'
        description: The raw packaged AWS SAM template of your application.
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
  CreateCloudFormationChangeSetResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      ChangeSetId:
        $ref: '#/definitions/__string'
        description: '<p>The Amazon Resource Name (ARN) of the change set.</p><p>Length constraints: Minimum length of 1.</p><p>Pattern: ARN:[-a-zA-Z0-9:/]*</p>'
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      StackId:
        $ref: '#/definitions/__string'
        description: The unique ID of the stack.
  CreateCloudFormationChangeSetRequest:
    type: object
    required:
      - StackName
    properties:
      ParameterOverrides:
        $ref: '#/definitions/__listOfParameterValue'
        description: A list of parameter values for the parameters of the application.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      StackName:
        $ref: '#/definitions/__string'
        description: |-
          <p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates
           the change set by comparing this stack's information with the information that you submit, such as a modified
           template or different parameter input values. </p><p>Constraints: Minimum length of 1.</p><p>Pattern: ([a-zA-Z][-a-zA-Z0-9]*)|(arn:\b(aws|aws-us-gov|aws-cn)\b:[-a-zA-Z0-9:/._+]*)</p>
  DeleteApplicationRequest:
    type: object
    properties: {}
  NotFoundException:
    type: object
    properties:
      ErrorCode:
        $ref: '#/definitions/__string'
        description: '404'
      Message:
        $ref: '#/definitions/__string'
        description: 'The resource (for example, an access policy statement) specified in the request doesn''t exist.'
    description: 'The resource (for example, an access policy statement) specified in the request doesn''t exist.'
  GetApplicationResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
  GetApplicationRequest:
    type: object
    properties: {}
  GetApplicationPolicyResponse:
    type: object
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
  GetApplicationPolicyRequest:
    type: object
    properties: {}
  ListApplicationVersionsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
      Versions:
        $ref: '#/definitions/__listOfVersionSummary'
        description: An array of version summaries for the application.
  ListApplicationVersionsRequest:
    type: object
    properties: {}
  ListApplicationsResponse:
    type: object
    properties:
      Applications:
        $ref: '#/definitions/__listOfApplicationSummary'
        description: An array of application summaries.
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
  ListApplicationsRequest:
    type: object
    properties: {}
  PutApplicationPolicyResponse:
    type: object
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
  PutApplicationPolicyRequest:
    type: object
    required:
      - Statements
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
  UpdateApplicationResponse:
    type: object
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
  UpdateApplicationRequest:
    type: object
    properties:
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      ReadmeBody:
        $ref: '#/definitions/__string'
        description: <p>A text readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
  __string:
    type: string
  __listOf__string:
    type: array
    items:
      $ref: '#/definitions/__string'
  Version:
    type: object
    required:
      - TemplateUrl
      - ParameterDefinitions
      - CreationTime
      - ApplicationId
      - SemanticVersion
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      ParameterDefinitions:
        $ref: '#/definitions/__listOfParameterDefinition'
        description: An array of parameter types supported by the application.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
    description: Application version details.
  Application:
    type: object
    required:
      - Description
      - Author
      - ApplicationId
      - Name
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from https://spdx.org/licenses/.'
      Version:
        $ref: '#/definitions/Version'
        description: Version information about the application.
    description: Details about the application.
  __listOfApplicationSummary:
    type: array
    items:
      $ref: '#/definitions/ApplicationSummary'
  ApplicationPage:
    type: object
    required:
      - Applications
    properties:
      Applications:
        $ref: '#/definitions/__listOfApplicationSummary'
        description: An array of application summaries.
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
    description: A list of application details.
  __listOfApplicationPolicyStatement:
    type: array
    items:
      $ref: '#/definitions/ApplicationPolicyStatement'
  ApplicationPolicy:
    type: object
    required:
      - Statements
    properties:
      Statements:
        $ref: '#/definitions/__listOfApplicationPolicyStatement'
        description: An array of policy statements applied to the application.
    description: Policy statements applied to the application.
  ApplicationPolicyStatement:
    type: object
    required:
      - Principals
      - Actions
    properties:
      Actions:
        $ref: '#/definitions/__listOf__string'
        description: 'See <a href="https://docs.aws.amazon.com/serverlessrepo/latest/devguide/access-control-resource-based.html#application-permissions">Application Permissions</a> for the list of supported actions.'
      Principals:
        $ref: '#/definitions/__listOf__string'
        description: 'An AWS account ID, or * to make the application public.'
      StatementId:
        $ref: '#/definitions/__string'
        description: A unique ID for the statement.
    description: Policy statement applied to the application.
  ApplicationSummary:
    type: object
    required:
      - Description
      - Author
      - ApplicationId
      - Name
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from <a href="https://spdx.org/licenses/">https://spdx.org/licenses/</a>.'
    description: Summary of details about the application.
  __listOfVersionSummary:
    type: array
    items:
      $ref: '#/definitions/VersionSummary'
  ApplicationVersionPage:
    type: object
    required:
      - Versions
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: The token to request the next page of results.
      Versions:
        $ref: '#/definitions/__listOfVersionSummary'
        description: An array of version summaries for the application.
    description: A list of version summaries for the application.
  ChangeSetDetails:
    type: object
    required:
      - ChangeSetId
      - ApplicationId
      - StackId
      - SemanticVersion
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      ChangeSetId:
        $ref: '#/definitions/__string'
        description: '<p>The Amazon Resource Name (ARN) of the change set.</p><p>Length constraints: Minimum length of 1.</p><p>Pattern: ARN:[-a-zA-Z0-9:/]*</p>'
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      StackId:
        $ref: '#/definitions/__string'
        description: The unique ID of the stack.
    description: Details of the change set.
  CreateApplicationInput:
    type: object
    required:
      - Description
      - Name
      - Author
    properties:
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      LicenseBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.
           The file is of the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>Note: Only one of licenseBody and licenseUrl can be specified, otherwise an error will result.</p>
      LicenseUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>Note: Only one of licenseBody and licenseUrl can be specified, otherwise an error will result.</p>'
      Name:
        $ref: '#/definitions/__string'
        description: '<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: "[a-zA-Z0-9\\-]+";</p>'
      ReadmeBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.
           The file is of the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>Note: Only one of readmeBody and readmeUrl can be specified, otherwise an error will result.</p>
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>Note: Only one of readmeBody and readmeUrl can be specified, otherwise an error will result.</p>'
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
      SpdxLicenseId:
        $ref: '#/definitions/__string'
        description: 'A valid identifier from <a href="https://spdx.org/licenses/">https://spdx.org/licenses/</a>.'
      TemplateBody:
        $ref: '#/definitions/__string'
        description: |-
          <p>The local raw packaged AWS SAM template file of your application.
           The file is of the format file://&lt;path>/&lt;filename>.</p><p>Note: Only one of templateBody and templateUrl can be specified, otherwise an error will result.</p>
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: '<p>A link to the S3 object cotaining the packaged AWS SAM template of your application.</p><p>Note: Only one of templateBody and templateUrl can be specified, otherwise an error will result.</p>'
    description: Create an application request.
  CreateApplicationVersionInput:
    type: object
    properties:
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
      TemplateBody:
        $ref: '#/definitions/__string'
        description: The raw packaged AWS SAM template of your application.
      TemplateUrl:
        $ref: '#/definitions/__string'
        description: A link to the packaged AWS SAM template of your application.
    description: Create a version request.
  __listOfParameterDefinition:
    type: array
    items:
      $ref: '#/definitions/ParameterDefinition'
  __listOfParameterValue:
    type: array
    items:
      $ref: '#/definitions/ParameterValue'
  CreateCloudFormationChangeSetInput:
    type: object
    required:
      - StackName
    properties:
      ParameterOverrides:
        $ref: '#/definitions/__listOfParameterValue'
        description: A list of parameter values for the parameters of the application.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      StackName:
        $ref: '#/definitions/__string'
        description: |-
          <p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates
           the change set by comparing this stack's information with the information that you submit, such as a modified
           template or different parameter input values. </p><p>Constraints: Minimum length of 1.</p><p>Pattern: ([a-zA-Z][-a-zA-Z0-9]*)|(arn:\b(aws|aws-us-gov|aws-cn)\b:[-a-zA-Z0-9:/._+]*)</p>
    description: Create an application change set request.
  MaxItems:
    type: integer
    minimum: 1
    maximum: 100
  __integer:
    type: integer
  __boolean:
    type: boolean
  ParameterDefinition:
    type: object
    required:
      - ReferencedByResources
      - Name
    properties:
      AllowedPattern:
        $ref: '#/definitions/__string'
        description: A regular expression that represents the patterns to allow for String types.
      AllowedValues:
        $ref: '#/definitions/__listOf__string'
        description: An array containing the list of values allowed for the parameter.
      ConstraintDescription:
        $ref: '#/definitions/__string'
        description: |-
          <p>A string that explains a constraint when the constraint is violated. For example, without a constraint description,
           a parameter that has an allowed pattern of [A-Za-z0-9]+ displays the following error message when the user
           specifies an invalid value:</p><p>
           Malformed input-Parameter MyParameter must match pattern [A-Za-z0-9]+
           </p><p>By adding a constraint description, such as "must contain only uppercase and lowercase letters and numbers," you can display
           the following customized error message:</p><p>
           Malformed input-Parameter MyParameter must contain only uppercase and lowercase letters and numbers.
           </p>
      DefaultValue:
        $ref: '#/definitions/__string'
        description: |-
          A value of the appropriate type for the template to use if no value is specified when a stack is created.
           If you define constraints for the parameter, you must specify a value that adheres to those constraints.
      Description:
        $ref: '#/definitions/__string'
        description: 'A string of up to 4,000 characters that describes the parameter.'
      MaxLength:
        $ref: '#/definitions/__integer'
        description: An integer value that determines the largest number of characters that you want to allow for String types.
      MaxValue:
        $ref: '#/definitions/__integer'
        description: A numeric value that determines the largest numeric value that you want to allow for Number types.
      MinLength:
        $ref: '#/definitions/__integer'
        description: An integer value that determines the smallest number of characters that you want to allow for String types.
      MinValue:
        $ref: '#/definitions/__integer'
        description: A numeric value that determines the smallest numeric value that you want to allow for Number types.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the parameter.
      NoEcho:
        $ref: '#/definitions/__boolean'
        description: |-
          Whether to mask the parameter value whenever anyone makes a call that describes the stack. If you set the
           value to true, the parameter value is masked with asterisks (*****).
      ReferencedByResources:
        $ref: '#/definitions/__listOf__string'
        description: A list of AWS SAM resources that use this parameter.
      Type:
        $ref: '#/definitions/__string'
        description: |-
          <p>The type of the parameter.</p><p>Valid values: String | Number | List&lt;Number> | CommaDelimitedList
           </p><p>
           String: A literal string.</p><p>For example, users can specify "MyUserName".</p><p>
           Number: An integer or float. AWS CloudFormation validates the parameter value as a number. However, when you use the
           parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a string.</p><p>For example, users might specify "8888".</p><p>
           List&lt;Number>: An array of integers or floats that are separated by commas. AWS CloudFormation validates the parameter value as numbers. However, when
           you use the parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a list of strings.</p><p>For example, users might specify "80,20", and then Ref results in ["80","20"].</p><p>
           CommaDelimitedList: An array of literal strings that are separated by commas. The total number of strings should be one more than the total number of commas.
           Also, each member string is space-trimmed.</p><p>For example, users might specify "test,dev,prod", and then Ref results in ["test","dev","prod"].</p>
    description: Parameters supported by the application.
  ParameterValue:
    type: object
    required:
      - Value
      - Name
    properties:
      Name:
        $ref: '#/definitions/__string'
        description: |-
          The key associated with the parameter. If you don't specify a key and value for a particular parameter, AWS CloudFormation
           uses the default value that is specified in your template.
      Value:
        $ref: '#/definitions/__string'
        description: The input value associated with the parameter.
    description: Parameter value of the application.
  UpdateApplicationInput:
    type: object
    properties:
      Author:
        $ref: '#/definitions/__string'
        description: '<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$";</p>'
      Description:
        $ref: '#/definitions/__string'
        description: <p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>
      HomePageUrl:
        $ref: '#/definitions/__string'
        description: |-
          A URL with more information about the application, for example
           the location of your GitHub repository for the application.
      Labels:
        $ref: '#/definitions/__listOf__string'
        description: '<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: "^[a-zA-Z0-9+\\-_:\\/@]+$";</p>'
      ReadmeBody:
        $ref: '#/definitions/__string'
        description: <p>A text readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
      ReadmeUrl:
        $ref: '#/definitions/__string'
        description: <p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>
    description: Update the application request.
  VersionSummary:
    type: object
    required:
      - CreationTime
      - ApplicationId
      - SemanticVersion
    properties:
      ApplicationId:
        $ref: '#/definitions/__string'
        description: The application Amazon Resource Name (ARN).
      CreationTime:
        $ref: '#/definitions/__string'
        description: The date and time this resource was created.
      SemanticVersion:
        $ref: '#/definitions/__string'
        description: |-
          <p>The semantic version of the application:</p><p>
           <a href="https://semver.org/">https://semver.org/</a>
           </p>
      SourceCodeUrl:
        $ref: '#/definitions/__string'
        description: A link to a public repository for the source code of your application.
    description: An application version summary.
  __double:
    type: number
    format: double
  __long:
    type: integer
