openapi: 3.0.0
servers:
  - url: https://integrations.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Application Integration API
  version: v1alpha
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://integrations.googleapis.com/$discovery/rest?version=v1alpha
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: integrations
externalDocs:
  url: https://cloud.google.com/application-integration
tags:
  - name: callback
  - name: connectorPlatformRegions
  - name: projects
paths:
  /v1alpha/callback:generateToken:
    get:
      description: Receives the auth code and auth config id to combine that with the client id and secret to retrieve access tokens from the token endpoint. Returns either a success or error message when it's done.
      operationId: integrations.callback.generateToken
      parameters:
        - description: The auth code for the given request
          in: query
          name: code
          schema:
            type: string
        - description: The gcp project id of the request
          in: query
          name: gcpProjectId
          schema:
            type: string
        - description: Which product sends the request
          in: query
          name: product
          schema:
            enum:
              - UNSPECIFIED_PRODUCT
              - IP
              - APIGEE
              - SECURITY
            type: string
        - description: Redirect uri of the auth code request
          in: query
          name: redirectUri
          schema:
            type: string
        - description: The auth config id for the given request
          in: query
          name: state
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - callback
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1alpha/connectorPlatformRegions:enumerate:
    get:
      description: Enumerates the regions for which Connector Platform is provisioned.
      operationId: integrations.connectorPlatformRegions.enumerate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - connectorPlatformRegions
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{integrationVersion}:takeoverEditLock":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Clears the `locked_by` and `locked_at_timestamp`in the DRAFT version of this integration. It then performs the same action as the CreateDraftIntegrationVersion (i.e., copies the DRAFT version of the integration as a SNAPSHOT and then creates a new DRAFT version with the `locked_by` set to the `user_taking_over` and the `locked_at_timestamp` set to the current timestamp). Both the `locked_by` and `user_taking_over` are notified via email about the takeover. This RPC throws an exception if the integration is not in DRAFT status or if the `locked_by` and `locked_at_timestamp` fields are not set.The TakeoverEdit lock is treated the same as an edit of the integration, and hence shares ACLs with edit. Audit fields updated include last_modified_timestamp, last_modified_by.
      operationId: integrations.projects.locations.products.integrations.versions.takeoverEditLock
      parameters:
        - description: "Required. The version to take over edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
          in: path
          name: integrationVersion
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}":
    delete:
      description: Deletes an sfdc channel.
      operationId: integrations.projects.locations.sfdcInstances.sfdcChannels.delete
      parameters:
        - description: Required. The name that is associated with the SfdcChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets an sfdc channel. If the channel doesn't exist, Code.NOT_FOUND exception will be thrown.
      operationId: integrations.projects.locations.sfdcInstances.sfdcChannels.get
      parameters:
        - description: Required. The name that is associated with the SfdcChannel.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcChannel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an sfdc channel. Updates the sfdc channel in spanner. Returns the sfdc channel.
      operationId: integrations.projects.locations.sfdcInstances.sfdcChannels.patch
      parameters:
        - description: Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Field mask specifying the fields in the above SfdcChannel that have been modified and need to be updated.
          in: query
          name: updateMask
          schema:
            type: string
        - description: "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
          in: query
          name: clientCertificate.passphrase
          schema:
            type: string
        - description: The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----
          in: query
          name: clientCertificate.sslCertificate
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcChannel"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcChannel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Cancellation of an execution
      operationId: integrations.projects.locations.products.integrations.executions.cancel
      parameters:
        - description: "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:download":
    get:
      description: Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.
      operationId: integrations.projects.locations.products.integrations.versions.download
      parameters:
        - description: "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: File format for download request.
          in: query
          name: fileFormat
          schema:
            enum:
              - FILE_FORMAT_UNSPECIFIED
              - JSON
              - YAML
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{name}:execute":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.
      operationId: integrations.projects.locations.products.integrations.execute
      parameters:
        - description: Required. The integration resource name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:lift":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task."
      operationId: integrations.projects.locations.products.integrations.executions.suspensions.lift
      parameters:
        - description: Required. The resource that the suspension belongs to. "projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}" format.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:publish":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.
      operationId: integrations.projects.locations.products.integrations.versions.publish
      parameters:
        - description: "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:resolve":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again."
      operationId: integrations.projects.locations.products.integrations.executions.suspensions.resolve
      parameters:
        - description: Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:schedule":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.
      operationId: integrations.projects.locations.products.integrations.schedule
      parameters:
        - description: The integration resource name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{name}:unpublish":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the status of the ACTIVE integration to SNAPSHOT with a new tag "PREVIOUSLY_PUBLISHED" after validating it. The "HEAD" and "PUBLISH_REQUESTED" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.
      operationId: integrations.projects.locations.products.integrations.versions.unpublish
      parameters:
        - description: "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/appsScriptProjects":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an Apps Script project.
      operationId: integrations.projects.locations.appsScriptProjects.create
      parameters:
        - description: Required. The project that the executed integration belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/appsScriptProjects:link":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Links a existing Apps Script project.
      operationId: integrations.projects.locations.appsScriptProjects.link
      parameters:
        - description: Required. The project that the executed integration belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/authConfigs":
    get:
      description: Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.
      operationId: integrations.projects.locations.products.authConfigs.list
      parameters:
        - description: Required. The client, which owns this collection of AuthConfigs.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.
          in: query
          name: filter
          schema:
            type: string
        - description: The size of entries in the response. If unspecified, defaults to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The token returned in the previous response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The mask which specifies fields that need to be returned in the AuthConfig's response.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.
      operationId: integrations.projects.locations.products.authConfigs.create
      parameters:
        - description: Required. "projects/{project}/locations/{location}" format.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----
          in: query
          name: clientCertificate.encryptedPrivateKey
          schema:
            type: string
        - description: "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
          in: query
          name: clientCertificate.passphrase
          schema:
            type: string
        - description: The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----
          in: query
          name: clientCertificate.sslCertificate
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaAuthConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaAuthConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/certificates":
    get:
      description: List all the certificates that match the filter. Restrict to certificate of current client only.
      operationId: integrations.projects.locations.products.certificates.list
      parameters:
        - description: Required. The client, which owns this collection of Certificates.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.
          in: query
          name: filter
          schema:
            type: string
        - description: The size of entries in the response. If unspecified, defaults to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The token returned in the previous response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The mask which specifies fields that need to be returned in the Certificate's response.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListCertificatesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.
      operationId: integrations.projects.locations.products.certificates.create
      parameters:
        - description: Required. "projects/{project}/locations/{location}" format.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaCertificate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaCertificate"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/connections":
    get:
      description: Lists Connections in a given project and location.
      operationId: integrations.projects.locations.connections.list
      parameters:
        - description: "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter.
          in: query
          name: filter
          schema:
            type: string
        - description: Order by parameters.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListConnectionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/executions":
    get:
      description: Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.
      operationId: integrations.projects.locations.products.integrations.executions.list
      parameters:
        - description: Required. The parent resource name of the integration execution.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. Standard filter field, we support filtering on following fields: workflow_name: the name of the integration. CreateTimestamp: the execution created time. event_execution_state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. parameter_type: the type of the parameters involved in the execution. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterType support for HAS For example: "parameter_type" HAS \"string\" Also supports operators like AND, OR, NOT For example, trigger_id=\"id1\" AND workflow_name=\"testWorkflow\"'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional user-provided custom filter.
          in: query
          name: filterParams.customFilter
          schema:
            type: string
        - description: End timestamp.
          in: query
          name: filterParams.endTime
          schema:
            type: string
        - description: List of possible event statuses.
          explode: true
          in: query
          name: filterParams.eventStatuses
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Execution id.
          in: query
          name: filterParams.executionId
          schema:
            type: string
        - description: Param key. DEPRECATED. User parameter_pair_key instead.
          in: query
          name: filterParams.parameterKey
          schema:
            type: string
        - description: Param key in the key value pair filter.
          in: query
          name: filterParams.parameterPairKey
          schema:
            type: string
        - description: Param value in the key value pair filter.
          in: query
          name: filterParams.parameterPairValue
          schema:
            type: string
        - description: Param type.
          in: query
          name: filterParams.parameterType
          schema:
            type: string
        - description: Param value. DEPRECATED. User parameter_pair_value instead.
          in: query
          name: filterParams.parameterValue
          schema:
            type: string
        - description: Start timestamp.
          in: query
          name: filterParams.startTime
          schema:
            type: string
        - description: List of possible task statuses.
          explode: true
          in: query
          name: filterParams.taskStatuses
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Workflow name.
          in: query
          name: filterParams.workflowName
          schema:
            type: string
        - description: Optional. The results would be returned in order you specified here. Currently supporting "last_modified_time" and "create_time".
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. The size of entries in the response.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The token returned in the previous response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned.
          in: query
          name: readMask
          schema:
            type: string
        - description: Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.
          in: query
          name: refreshAcl
          schema:
            type: boolean
        - description: Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.
          in: query
          name: truncateParams
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListExecutionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/integrations":
    get:
      description: Returns the list of all integrations in the specified project.
      operationId: integrations.projects.locations.products.integrations.list
      parameters:
        - description: "Required. Project and location from which the integrations should be listed. Format: projects/{project}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of ":" (containment), "=" (equality), ">" (greater), "<" (less than), >=" (greater than or equal to), "<=" (less than or equal to), and "!=" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\"1\" AND state=ACTIVE AND description:"test". Filtering cannot be performed on repeated fields like `task_config`.
          in: query
          name: filter
          schema:
            type: string
        - description: 'The results would be returned in order you specified here. Supported sort keys are: Descending sort order by "last_modified_time", "created_time", "snapshot_number". Ascending sort order by the integration name.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: The page size for the resquest.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The page token for the resquest.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/runtimeActionSchemas":
    get:
      description: Lists the JSON schemas for the inputs and outputs of actions, filtered by action name.
      operationId: integrations.projects.locations.connections.runtimeActionSchemas.list
      parameters:
        - description: "Required. Parent resource of RuntimeActionSchema. Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter. Only the action field with literal equality operator is supported.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/runtimeEntitySchemas":
    get:
      description: Lists the JSON schemas for the properties of runtime entities, filtered by entity name.
      operationId: integrations.projects.locations.connections.runtimeEntitySchemas.list
      parameters:
        - description: "Required. Parent resource of RuntimeEntitySchema. Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filter. Only the entity field with literal equality operator is supported.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/sfdcChannels":
    get:
      description: Lists all sfdc channels that match the filter. Restrict to sfdc channels belonging to the current client only.
      operationId: integrations.projects.locations.sfdcInstances.sfdcChannels.list
      parameters:
        - description: Required. The client, which owns this collection of SfdcChannels.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.
          in: query
          name: filter
          schema:
            type: string
        - description: The size of entries in the response. If unspecified, defaults to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The token returned in the previous response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The mask which specifies fields that need to be returned in the SfdcChannel's response.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an sfdc channel record. Store the sfdc channel in Spanner. Returns the sfdc channel.
      operationId: integrations.projects.locations.sfdcInstances.sfdcChannels.create
      parameters:
        - description: Required. "projects/{project}/locations/{location}" format.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcChannel"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcChannel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/sfdcInstances":
    get:
      description: Lists all sfdc instances that match the filter. Restrict to sfdc instances belonging to the current client only.
      operationId: integrations.projects.locations.sfdcInstances.list
      parameters:
        - description: Required. The client, which owns this collection of SfdcInstances.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.
          in: query
          name: filter
          schema:
            type: string
        - description: The size of entries in the response. If unspecified, defaults to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The token returned in the previous response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The mask which specifies fields that need to be returned in the SfdcInstance's response.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an sfdc instance record. Store the sfdc instance in Spanner. Returns the sfdc instance.
      operationId: integrations.projects.locations.sfdcInstances.create
      parameters:
        - description: Required. "projects/{project}/locations/{location}" format.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaSfdcInstance"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/suspensions":
    get:
      description: "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them."
      operationId: integrations.projects.locations.products.integrations.executions.suspensions.list
      parameters:
        - description: Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Standard filter field.
          in: query
          name: filter
          schema:
            type: string
        - description: Field name to order by.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Maximum number of entries in the response.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to retrieve a specific page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/versions":
    get:
      description: Returns the list of all IntegrationTemplateVersions in the specified project.
      operationId: integrations.projects.locations.products.integrationtemplates.versions.list
      parameters:
        - description: "Required. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Filter syntax: defined in the EBNF grammar."
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of IntegrationTemplateVersions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListIntegrationTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationTemplateVersions` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an IntegrationTemplateVersion.
      operationId: integrations.projects.locations.products.integrationtemplates.versions.create
      parameters:
        - description: "Required. The parent resource where this TemplateVersion will be created. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.
          in: query
          name: newIntegration
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1alpha/{parent}/versions:upload":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.
      operationId: integrations.projects.locations.products.integrations.versions.upload
      parameters:
        - description: "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    CrmlogErrorCode:
      description: Registered ids for errors, as "oneof" enums. Each task or logical grouping of tasks may share the same enum.
      properties:
        commonErrorCode:
          enum:
            - COMMON_ERROR_CODE_UNSPECIFIED
            - INVALID_CREDENTIALS
            - REQUIRED_FIELDS_MISSING
            - INVALID_FIELDS
            - BACKEND
            - GENERAL
            - INTERNAL
            - IO_ERROR
            - NOT_FOUND
            - EVENT_BUS
            - ALREADY_EXISTS
            - CONCORD
            - CONVERSION
            - FLUME
            - PERMISSION
            - SALES_FORCE
            - SPANNER
            - UNIMPLEMENTED
            - RELTIO
            - WORKFLOW_NOT_FOUND
            - QUOTA_THROTTLED
            - QUOTA_ENQUEUED
            - INVALID_QUOTA_CONFIGURATION
            - TASK_NOT_FOUND
            - EXECUTION_TIMEOUT
            - INVALID_EVENT_EXECUTION_STATE
            - INVALID_ATTRIBUTE
            - MISSING_ATTRIBUTE
            - CLIENT_UNAUTHORIZED_FOR_WORKFLOW
            - INVALID_PARAMETER
            - MISSING_PARAMETER
            - UNAUTHROIZED_WORKFLOW_EDITOR_ACTION
            - FAILED_PRECONDITION
            - INVALID_CLIENT
            - MISSING_CLIENT
            - INVALID_WORKFLOW
            - MISSING_QUOTA_CONFIGURATION
            - UNHANDLED_TASK_ERROR
            - SCRIPT_TASK_RUNTIME_ERROR
            - RPC
            - INVALID_PROTO
            - UNHANDLED_EVENTBUS_ERROR
            - INVALID_TASK_STATE
            - TYPED_TASK_INVALID_INPUT_OPERATION
            - TYPED_TASK_INVALID_OUTPUT_OPERATION
            - VALIDATION_ERROR
            - RESUME_ERROR
            - APPS_SCRIPT_EXECUTION_ERROR
            - INVALID_VECTOR_USER
            - INFORMATICA
            - RETRYABLE_TASK_ERROR
            - INVALID_TENANT
            - WRONG_TENANT
            - INFORMATICA_BACKEND_UNAVAILABLE
            - RPC_PERMISSION_DENIED
            - SYNC_EVENTBUS_EXECUTION_TIMEOUT
            - ASYNC_EVENTBUS_EXECUTION_TIMEOUT
            - NOT_SUPPORTED_DATA_TYPE
            - UNSANITIZED_USER_INPUT
            - TRANSFORM_EXPRESSION_EVALUATION_ERROR
            - HTTP_EXCEPTION
            - EXECUTION_CANCELLED
          type: string
      type: object
    EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam:
      properties:
        allowedCredentialTypes:
          description: Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.
          items:
            enum:
              - CREDENTIAL_TYPE_UNSPECIFIED
              - USERNAME_AND_PASSWORD
              - API_KEY
              - OAUTH2_AUTHORIZATION_CODE
              - OAUTH2_IMPLICIT
              - OAUTH2_CLIENT_CREDENTIALS
              - OAUTH2_RESOURCE_OWNER_CREDENTIALS
              - JWT
              - AUTH_TOKEN
              - SERVICE_ACCOUNT
              - CLIENT_CERTIFICATE_ONLY
              - OIDC_TOKEN
            type: string
          type: array
        allowedServiceAccountInContext:
          type: boolean
        authConfigId:
          description: UUID of the AuthConfig.
          type: string
        scope:
          description: A space-delimited list of requested scope permissions.
          type: string
        useServiceAccountInContext:
          type: boolean
      type: object
    EnterpriseCrmEventbusProtoAddress:
      description: Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.
      properties:
        email:
          description: Required.
          type: string
        name:
          type: string
        tokens:
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoToken"
          type: array
      type: object
    EnterpriseCrmEventbusProtoAttributes:
      description: Attributes are additional options that can be associated with each event property. For more information, see
      properties:
        dataType:
          description: Things like URL, Email, Currency, Timestamp (rather than string, int64...)
          enum:
            - DATA_TYPE_UNSPECIFIED
            - EMAIL
            - URL
            - CURRENCY
            - TIMESTAMP
            - DOMAIN_NAME
          type: string
        defaultValue:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoValueType"
          description: Used to define defaults.
        isRequired:
          description: Required for event execution. The validation will be done by the event bus when the event is triggered.
          type: boolean
        isSearchable:
          description: "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable."
          type: boolean
        logSettings:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoLogSettings"
          description: See
        searchable:
          enum:
            - UNSPECIFIED
            - YES
            - NO
          type: string
        taskVisibility:
          description: List of tasks that can view this property, if empty then all.
          items:
            type: string
          type: array
      type: object
    EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList:
      description: List of error enums for alerts.
      properties:
        enumStrings:
          items:
            type: string
          type: array
        filterType:
          enum:
            - DEFAULT_INCLUSIVE
            - EXCLUSIVE
          type: string
      type: object
    EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue:
      description: The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.
      properties:
        absolute:
          format: int64
          type: string
        percentage:
          format: int32
          type: integer
      type: object
    EnterpriseCrmEventbusProtoBaseFunction:
      properties:
        functionName:
          enum:
            - UNSPECIFIED
            - NOW_IN_MILLIS
            - INT_LIST
            - ENVIRONMENT
            - GET_EXECUTION_ID
            - GET_INTEGRATION_NAME
            - GET_REGION
            - GET_UUID
            - GET_PROJECT_ID
          type: string
      type: object
    EnterpriseCrmEventbusProtoBaseValue:
      properties:
        baseFunction:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoFunction"
          description: Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.
        literalValue:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoParameterValueType"
          description: Start with a literal value.
        referenceValue:
          description: Start with a reference value to dereference.
          type: string
      type: object
    EnterpriseCrmEventbusProtoBooleanArrayFunction:
      properties:
        functionName:
          enum:
            - UNSPECIFIED
            - GET
            - APPEND
            - SIZE
            - TO_SET
            - APPEND_ALL
            - TO_JSON
            - SET
            - REMOVE
            - REMOVE_AT
            - CONTAINS
            - FOR_EACH
            - FILTER
          type: string
      type: object
    EnterpriseCrmEventbusProtoBooleanFunction:
      properties:
        functionName:
          enum:
            - UNSPECIFIED
            - TO_JSON
            - NOT
            - AND
            - NAND
            - OR
            - XOR
            - NOR
            - XNOR
            - TO_STRING
            - EQUALS
          type: string
      type: object
    EnterpriseCrmEventbusProtoBooleanParameterArray:
      properties:
        booleanValues:
          items:
            type: boolean
          type: array
      type: object
    EnterpriseCrmEventbusProtoBuganizerNotification:
      properties:
        assigneeEmailAddress:
          description: Whom to assign the new bug. Optional.
          type: string
        componentId:
          description: ID of the buganizer component within which to create a new issue. Required.
          format: int64
          type: string
        templateId:
          description: ID of the buganizer template to use. Optional.
          format: int64
          type: string
        title:
          description: Title of the issue to be created. Required.
          type: string
      type: object
    EnterpriseCrmEventbusProtoCloudKmsConfig:
      properties:
        gcpProjectId:
          description: Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14).
          type: string
        keyName:
          description: A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location.
          type: string
        keyRingName:
          description: A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location.
          type: string
        keyVersionName:
          description: Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data.
          type: string
        locationName:
          description: Location name of the key ring, e.g. "us-west1".
          type: string
      type: object
    EnterpriseCrmEventbusProtoCloudSchedulerConfig:
      description: Cloud Scheduler Trigger configuration
      properties:
        cronTab:
          description: Required. The cron tab of cloud scheduler trigger.
          type: string
        errorMessage:
          description: Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations
          type: string
        location:
          description: Required. The location where associated cloud scheduler job will be created
          type: string
        serviceAccountEmail:
          description: Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time
          type: string
      type: object
    EnterpriseCrmEventbusProtoCombinedCondition:
      description: This message recursively combines constituent conditions using logical AND.
      properties:
        conditions:
          description: A set of individual constituent conditions.
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoCondition"
          type: array
      type: object
    EnterpriseCrmEventbusProtoCondition:
      description: Condition that uses `operator` to evaluate the key against the value.
      properties:
        eventPropertyKey:
          description: Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.
          type: string
        operator:
          description: Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair.
          enum:
            - UNSET
            - EQUALS
            - CONTAINS
            - LESS_THAN
            - GREATER_THAN
            - EXISTS
            - DOES_NOT_EXIST
            - IS_EMPTY
            - IS_NOT_EMPTY
          type: string
        value:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoValueType"
          description: Value that's checked for the key.
      type: object
    EnterpriseCrmEventbusProtoConditionResult:
      description: Contains the combined condition calculation results.
      properties:
        currentTaskNumber:
          description: the current task number.
          type: string
        nextTaskNumber:
          description: the next task number.
          type: string
        result:
          description: the result comes out after evaluate the combined condition. True if there's no combined condition specified.
          type: boolean
      type: object
    EnterpriseCrmEventbusProtoConnectorsConnection:
      properties:
        connectionName:
          description: "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
          type: string
        connectorVersion:
          description: "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}"
          type: string
        serviceName:
          description: "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}"
          type: string
      type: object
    EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig:
      properties:
        connection:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoConnectorsConnection"
          description: User-selected connection.
        operation:
          description: Operation to perform using the configured connection.
          enum:
            - OPERATION_UNSPECIFIED
            - EXECUTE_ACTION
            - LIST_ENTITIES
            - GET_ENTITY
            - CREATE_ENTITY
            - UPDATE_ENTITY
            - DELETE_ENTITY
          type: string
      type: object
    EnterpriseCrmEventbusProtoCoordinate:
      description: Represents two-dimensional positions.
      properties:
        x:
          format: int32
          type: integer
        y:
          format: int32
          type: integer
      type: object
    EnterpriseCrmEventbusProtoCustomSuspensionRequest:
      properties:
        postToQueueWithTriggerIdRequest:
          $ref: "#/components/schemas/GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest"
          description: Request to fire an event containing the SuspensionInfo message.
        suspensionInfoEventParameterKey:
          description: In the fired event, set the SuspensionInfo message as the value for this key.
          type: string
      type: object
    EnterpriseCrmEventbusProtoDoubleArray:
      properties:
        values:
          items:
            format: double
            type: number
          type: array
      type: object
    EnterpriseCrmEventbusProtoDoubleArrayFunction:
      properties:
        functionName:
          enum:
            - UNSPECIFIED
            - GET
            - APPEND
            - SIZE
            - SUM
            - AVG
            - MAX
            - MIN
            - TO_SET
            - APPEND_ALL
            - TO_JSON
            - SET
            - REMOVE
            - REMOVE_AT
            - CONTAINS
            - FOR_EACH
            - FILTER
          type: string
      type: object
    EnterpriseCrmEventbusProtoDoubleFunction:
      properties:
        functionName:
          enum:
            - UNSPECIFIED
            - TO_JSON
            - TO_STRING
            - ADD
            - SUBTRACT
            - MULTIPLY
            - DIVIDE
            - EXPONENT
            - ROUND
            - FLOOR
            - CEIL
            - GREATER_THAN
            - LESS_THAN
            - EQUALS
            - GREATER_THAN_EQUALS
            - LESS_THAN_EQUALS
            - MOD
          type: string
      type: object
    EnterpriseCrmEventbusProtoDoubleParameterArray:
      properties:
        doubleValues:
          items:
            format: double
            type: number
          type: array
      type: object
    EnterpriseCrmEventbusProtoErrorDetail:
      description: An error, warning, or information message associated with a workflow.
      properties:
        errorCode:
          $ref: "#/components/schemas/CrmlogErrorCode"
          description: The associated error-code, which can be a common or internal code.
        errorMessage:
          description: The full text of the error message, including any parameters that were thrown along with the exception.
          type: string
        severity:
          description: "The severity of the error: ERROR|WARN|INFO."
          enum:
            - SEVERITY_UNSPECIFIED
            - ERROR
            - WARN
            - INFO
          type: string
        taskNumber:
          description: The task try-number, in which, the error occurred. If zero, the error happened at the event level.
          format: int32
          type: integer
      type: object
    EnterpriseCrmEventbusProtoEventBusProperties:
      description: LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus.
      properties:
        properties:
          description: An unordered list of property entries.
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoPropertyEntry"
          type: array
      type: object
    EnterpriseCrmEventbusProtoEventExecutionDetails:
      description: "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10"
      properties:
        eventAttemptStats:
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          type: array
        eventExecutionSnapshot:
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          type: array
        eventExecutionState:
          enum:
            - UNSPECIFIED
            - ON_HOLD
            - IN_PROCESS
            - SUCCEEDED
            - FAILED
            - CANCELED
            - RETRY_ON_HOLD
            - SUSPENDED
          type: string
        eventRetriesFromBeginningCount:
          description: Indicates the number of times the execution has restarted from the beginning.
          format: int32
          type: integer
        logFilePath:
          description: The log file path (aka. cns address) for this event.
          type: string
        networkAddress:
          description: The network address (aka. bns address) that indicates where the event executor is running.
          type: string
        nextExecutionTime:
          description: Next scheduled execution time in case the execution status was RETRY_ON_HOLD.
          format: int64
          type: string
        ryeLockUnheldCount:
          description: Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/
          format: int32
          type: integer
      type: object
    EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats:
      properties:
        endTime:
          description: The end time of the event execution for current attempt.
          format: int64
          type: string
        startTime:
          description: The start time of the event execution for current attempt. This could be in the future if it's been scheduled.
          format: int64
          type: string
      type: object
    EnterpriseCrmEventbusProtoEventExecutionSnapshot:
      description: "Contains the snapshot of the event execution for a given checkpoint. Next available id: 13"
      properties:
        checkpointTaskNumber:
          description: Indicates "right after which checkpoint task's execution" this snapshot is taken.
          type: string
        conditionResults:
          description: All of the computed conditions that been calculated.
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoConditionResult"
          type: array
        diffParams:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoEventParameters"
          description: The parameters in Event object that differs from last snapshot.
        eventExecutionInfoId:
          description: Points to the event execution info this snapshot belongs to.
          type: string
        eventExecutionSnapshotId:
          description: Auto-generated. Used as primary key for EventExecutionSnapshots table.
          type: string
        eventExecutionSnapshotMetadata:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        eventParams:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoEventParameters"
          description: The parameters in Event object.
        exceedMaxSize:
          description: indicate whether snapshot exceeded maximum size before clean up
          type: boolean
        snapshotTime:
          description: Indicates when this snapshot is taken.
          format: int64
          type: string
        taskExecutionDetails:
          description: All of the task execution details at the given point of time.
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoTaskExecutionDetails"
          type: array
        taskName:
          description: The task name associated with this snapshot. Could be empty.
          type: string
      type: object
    EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata:
      properties:
        eventAttemptNum:
          description: the event attempt number this snapshot belongs to.
          format: int32
          type: integer
        taskAttemptNum:
          description: the task attempt number this snapshot belongs to. Could be empty.
          format: int32
          type: integer
        taskLabel:
          description: the task label associated with this snapshot. Could be empty.
          type: string
        taskName:
          description: the task name associated with this snapshot. Could be empty.
          type: string
        taskNumber:
          description: The task number associated with this snapshot. Could be empty.
          type: string
      type: object
    EnterpriseCrmEventbusProtoEventParameters:
      description: LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see
      properties:
        parameters:
          description: Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoParameterEntry"
          type: array
      type: object
    EnterpriseCrmEventbusProtoExecutionTraceInfo:
      description: Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.
      properties:
        parentEventExecutionInfoId:
          description: Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.
          type: string
        traceId:
          description: Used to aggregate ExecutionTraceInfo.
          type: string
      type: object
    EnterpriseCrmEventbusProtoExternalTraffic:
      description: Represents external traffic type and id.
      properties:
        gcpProjectId:
          description: User’s GCP project id the traffic is referring to.
          type: string
        gcpProjectNumber:
          description: User’s GCP project number the traffic is referring to.
          type: string
        location:
          description: Location for the user's request.
          type: string
        source:
          description: LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)
          enum:
            - SOURCE_UNSPECIFIED
            - APIGEE
            - SECURITY
          type: string
      type: object
    EnterpriseCrmEventbusProtoFailurePolicy:
      description: Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).
      properties:
        intervalInSeconds:
          description: Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.
          format: int64
          type: string
        maxNumRetries:
          description: Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.
          format: int32
          type: integer
        retryStrategy:
          description: Defines what happens to the task upon failure.
          enum:
            - UNSPECIFIED
            - IGNORE
            - NONE
            - FATAL
            - FIXED_INTERVAL
            - LINEAR_BACKOFF
            - EXPONENTIAL_BACKOFF
            - RESTART_WORKFLOW_WITH_BACKOFF
          type: string
      type: object
    EnterpriseCrmEventbusProtoField:
      description: Information about the value and type of the field.
      properties:
        cardinality:
          description: By default, if the cardinality is unspecified the field is considered required while mapping.
          enum:
            - UNSPECIFIED
            - OPTIONAL
          type: string
        defaultValue:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoParameterValueType"
          description: This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data.
        fieldType:
          description: Specifies the data type of the field.
          enum:
            - DATA_TYPE_UNSPECIFIED
            - STRING_VALUE
            - INT_VALUE
            - DOUBLE_VALUE
            - BOOLEAN_VALUE
            - PROTO_VALUE
            - SERIALIZED_OBJECT_VALUE
            - STRING_ARRAY
            - INT_ARRAY
            - DOUBLE_ARRAY
            - PROTO_ARRAY
            - PROTO_ENUM
            - BOOLEAN_ARRAY
            - PROTO_ENUM_ARRAY
            - BYTES
            - BYTES_ARRAY
            - NON_SERIALIZABLE_OBJECT
            - JSON_VALUE
          type: string
        protoDefPath:
          description: Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.
          type: string
        referenceKey:
          description: This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$
          type: string
        transformExpression:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoTransformExpression"
          description: This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.
      type: object
    EnterpriseCrmEventbusProtoFieldMappingConfig:
      description: Field Mapping Config to map multiple output fields values from input fields values.
      properties:
        mappedFields:
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoMappedField"
          type: array
      type: object
    EnterpriseCrmEventbusProtoFunction:
      properties:
        functionType:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoFunctionType"
          description: The name of the function to perform.
        parameters:
          description: List of parameters required for the transformation.
          items:
            $ref: "#/components/schemas/EnterpriseCrmEventbusProtoTransformExpression"
          type: array
      type: object
    EnterpriseCrmEventbusProtoFunctionType:
      properties:
        baseFunction:
          $ref: "#/components/schemas/EnterpriseCrmEventbusProtoBaseFunction"
          description: LINT.IfChange
[...]
