swagger: '2.0'
schemes:
  - https
  - http
host: chime.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>The Amazon Chime API (application programming interface) is designed for administrators to use to perform key tasks, such as creating and managing Amazon Chime accounts and users. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p>You don''t need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href="http://aws.amazon.com/developer/">AWS Developer Center</a>.</p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href="https://docs.aws.amazon.com/cli/latest/userguide/installing.html">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href="https://docs.aws.amazon.com/cli/latest/reference/chime/index.html">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>.</p> </dd> <dt>Using REST API</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href="https://docs.aws.amazon.com/chime/latest/ag/control-access.html">Control Access to the Amazon Chime Console</a> in the <i>Amazon Chime Administration Guide</i>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Chime
  version: '2018-05-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/chime-2018-05-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: chime
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/chime/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /accounts:
    get:
      description: 'Lists the Amazon Chime accounts under the administrator''s AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user''s email address, which returns one account result.'
      operationId: ListAccounts
      parameters:
        - description: Amazon Chime account name prefix with which to filter results.
          in: query
          maxLength: 100
          minLength: 1
          name: name
          pattern: .*\S.*
          required: false
          type: string
        - description: User email address with which to filter results.
          format: password
          in: query
          name: user-email
          pattern: .+@.+\..+
          required: false
          type: string
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
        - description: The maximum number of results to return in a single call. Defaults to 100.
          in: query
          maximum: 200
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAccountsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates an Amazon Chime account under the administrator''s AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.'
      operationId: CreateAccount
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the Amazon Chime account.
                maxLength: 100
                minLength: 1
                pattern: .*\S.*
                type: string
            required:
              - Name
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}':
    delete:
      description: '<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do so.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>'
      operationId: DeleteAccount
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    get:
      description: 'Retrieves details for the specified Amazon Chime account, such as account type and supported licenses.'
      operationId: GetAccount
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates account details for the specified Amazon Chime account. Currently, only account name updates are supported for this action.'
      operationId: UpdateAccount
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The new name for the specified Amazon Chime account.
                maxLength: 100
                minLength: 1
                pattern: .*\S.*
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/bots':
    get:
      description: Lists the bots associated with the administrator's Amazon Chime Enterprise account ID.
      operationId: ListBots
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The maximum number of results to return in a single call. Default is 10.
          in: query
          maximum: 99
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBotsResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a bot for an Amazon Chime Enterprise account.
      operationId: CreateBot
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              DisplayName:
                description: The bot display name.
                format: password
                type: string
              Domain:
                description: The domain of the Amazon Chime Enterprise account.
                pattern: .*\S.*
                type: string
            required:
              - DisplayName
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateBotResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '485':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '486':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  '/accounts/{accountId}/bots/{botId}':
    get:
      description: 'Retrieves details for the specified bot, such as bot email address, bot type, status, and display name.'
      operationId: GetBot
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The bot ID.
          in: path
          name: botId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBotResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates the status of the specified bot, such as starting or stopping the bot from running in your Amazon Chime Enterprise account.'
      operationId: UpdateBot
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The bot ID.
          in: path
          name: botId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Disabled:
                description: 'When true, stops the specified bot from running in your account.'
                type: boolean
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBotResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  '/accounts/{accountId}/bots/{botId}#operation=regenerate-security-token':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Regenerates the security token for a bot.
      operationId: RegenerateSecurityToken
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The bot ID.
          in: path
          name: botId
          pattern: .*\S.*
          required: true
          type: string
        - enum:
            - regenerate-security-token
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegenerateSecurityTokenResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  '/accounts/{accountId}/bots/{botId}/events-configuration':
    delete:
      description: Deletes the events configuration that allows a bot to receive outgoing events.
      operationId: DeleteEventsConfiguration
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The bot ID.
          in: path
          name: botId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '485':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
    get:
      description: 'Gets details for an events configuration that allows a bot to receive outgoing events, such as an HTTPS endpoint or Lambda function ARN. '
      operationId: GetEventsConfiguration
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The bot ID.
          in: path
          name: botId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEventsConfigurationResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '485':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '486':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Creates an events configuration that allows a bot to receive outgoing events sent by Amazon Chime. Choose either an HTTPS endpoint or a Lambda function ARN. For more information, see <a>Bot</a>.'
      operationId: PutEventsConfiguration
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The bot ID.
          in: path
          name: botId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              LambdaFunctionArn:
                description: Lambda function ARN that allows the bot to receive outgoing events.
                format: password
                type: string
              OutboundEventsHTTPSEndpoint:
                description: HTTPS endpoint that allows the bot to receive outgoing events.
                format: password
                type: string
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/PutEventsConfigurationResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '485':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '486':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  '/accounts/{accountId}/settings':
    get:
      description: 'Retrieves account settings for the specified Amazon Chime account ID, such as remote control and dial out settings. For more information about these settings, see <a href="https://docs.aws.amazon.com/chime/latest/ag/policies.html">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.'
      operationId: GetAccountSettings
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Updates the settings for the specified Amazon Chime account. You can update settings for remote control of shared screens, or for the dial-out option. For more information about these settings, see <a href="https://docs.aws.amazon.com/chime/latest/ag/policies.html">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.'
      operationId: UpdateAccountSettings
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AccountSettings:
                description: 'Settings related to the Amazon Chime account. This includes settings that start or stop remote control of shared screens, or start or stop the dial-out option in the Amazon Chime web application. For more information about these settings, see <a href="https://docs.aws.amazon.com/chime/latest/ag/policies.html">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.'
                properties:
                  DisableRemoteControl:
                    $ref: '#/definitions/Boolean'
                    description: Setting that stops or starts remote control of shared screens during meetings.
                  EnableDialOut:
                    $ref: '#/definitions/Boolean'
                    description: 'Setting that allows meeting participants to choose the <b>Call me at a phone number</b> option. For more information, see <a href="https://docs.aws.amazon.com/chime/latest/ug/chime-join-meeting.html">Join a Meeting without the Amazon Chime App</a>.'
                type: object
            required:
              - AccountSettings
            type: object
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAccountSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '485':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users':
    get:
      description: Lists the users that belong to the specified Amazon Chime account. You can specify an email address to list only the user that the email address belongs to.
      operationId: ListUsers
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: Optional. The user email address used to filter results. Maximum 1.
          format: password
          in: query
          name: user-email
          pattern: .+@.+\..+
          required: false
          type: string
        - description: The maximum number of results to return in a single call. Defaults to 100.
          in: query
          maximum: 200
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.'
      operationId: BatchUpdateUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              UpdateUserRequestItems:
                description: The request containing the user IDs and details to update.
                items:
                  $ref: '#/definitions/UpdateUserRequestItem'
                maxItems: 20
                type: array
            required:
              - UpdateUserRequestItems
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUpdateUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users#operation=add':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Sends email invites to as many as 50 users, inviting them to the specified Amazon Chime <code>Team</code> account. Only <code>Team</code> account types are currently supported for this action. '
      operationId: InviteUsers
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              UserEmailList:
                description: The user email addresses to which to send the invite.
                items:
                  $ref: '#/definitions/EmailAddress'
                maxItems: 50
                type: array
            required:
              - UserEmailList
            type: object
        - enum:
            - add
          in: query
          name: operation
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/InviteUsersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users#operation=suspend':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are dissasociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>'
      operationId: BatchSuspendUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              UserIdList:
                description: The request containing the user IDs to suspend.
                items:
                  $ref: '#/definitions/NonEmptyString'
                maxItems: 50
                type: array
            required:
              - UserIdList
            type: object
        - enum:
            - suspend
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchSuspendUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users#operation=unsuspend':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>'
      operationId: BatchUnsuspendUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              UserIdList:
                description: The request containing the user IDs to unsuspend.
                items:
                  $ref: '#/definitions/NonEmptyString'
                maxItems: 50
                type: array
            required:
              - UserIdList
            type: object
        - enum:
            - unsuspend
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUnsuspendUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users/{userId}':
    get:
      description: '<p>Retrieves details for the specified user ID, such as primary email address, license type, and personal meeting PIN.</p> <p>To retrieve user details with an email address instead of a user ID, use the <a>ListUsers</a> action, and then filter by email address.</p>'
      operationId: GetUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates user details for a specified user ID. Currently, only <code>LicenseType</code> updates are supported for this action.'
      operationId: UpdateUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              LicenseType:
                description: The user license type to update. This must be a supported license type for the Amazon Chime account that the user belongs to.
                enum:
                  - Basic
                  - Plus
                  - Pro
                  - ProTrial
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users/{userId}#operation=associate-phone-number':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates a phone number with the specified Amazon Chime user.
      operationId: AssociatePhoneNumberWithUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              E164PhoneNumber:
                description: 'The phone number, in E.164 format.'
                format: password
                pattern: '^\+?[1-9]\d{1,14}$'
                type: string
            required:
              - E164PhoneNumber
            type: object
        - enum:
            - associate-phone-number
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociatePhoneNumberWithUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users/{userId}#operation=disassociate-phone-number':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates the primary provisioned phone number from the specified Amazon Chime user.
      operationId: DisassociatePhoneNumberFromUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          required: true
          type: string
        - enum:
            - disassociate-phone-number
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociatePhoneNumberFromUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users/{userId}#operation=logout':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Logs out the specified user from all of the devices they are currently logged into.
      operationId: LogoutUser
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          pattern: .*\S.*
          required: true
          type: string
        - enum:
            - logout
          in: query
          name: operation
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/LogoutUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users/{userId}#operation=reset-personal-pin':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Resets the personal meeting PIN for the specified user on an Amazon Chime account. Returns the <a>User</a> object with the updated personal meeting PIN.
      operationId: ResetPersonalPIN
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          pattern: .*\S.*
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          pattern: .*\S.*
          required: true
          type: string
        - enum:
            - reset-personal-pin
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResetPersonalPINResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/accounts/{accountId}/users/{userId}/settings':
    get:
      description: 'Retrieves settings for the specified user ID, such as any associated phone number settings.'
      operationId: GetUserSettings
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUserSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Updates the settings for the specified user, such as phone number settings.'
      operationId: UpdateUserSettings
      parameters:
        - description: The Amazon Chime account ID.
          in: path
          name: accountId
          required: true
          type: string
        - description: The user ID.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              UserSettings:
                description: 'Settings associated with an Amazon Chime user, including inbound and outbound calling and text messaging.'
                properties:
                  Telephony:
                    $ref: '#/definitions/TelephonySettings'
                    description: The telephony settings associated with the user.
                type: object
            required:
              - UserSettings
            type: object
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  /phone-number-orders:
    get:
      description: Lists the phone number orders for the administrator's Amazon Chime account.
      operationId: ListPhoneNumberOrders
      parameters:
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
        - description: The maximum number of results to return in a single call.
          in: query
          maximum: 99
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumberOrdersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types. For toll-free numbers, you can use only the Amazon Chime Voice Connector product type.'
      operationId: CreatePhoneNumberOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              E164PhoneNumbers:
                description: 'List of phone numbers, in E.164 format.'
                items:
                  $ref: '#/definitions/E164PhoneNumber'
                type: array
              ProductType:
                description: The phone number product type.
                enum:
                  - BusinessCalling
                  - VoiceConnector
                type: string
            required:
              - ProductType
              - E164PhoneNumbers
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePhoneNumberOrderResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/phone-number-orders/{phoneNumberOrderId}':
    get:
      description: 'Retrieves details for the specified phone number order, such as order creation timestamp, phone numbers in E.164 format, product type, and order status.'
      operationId: GetPhoneNumberOrder
      parameters:
        - description: The ID for the phone number order.
          in: path
          name: phoneNumberOrderId
          pattern: '[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPhoneNumberOrderResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /phone-numbers:
    get:
      description: 'Lists the phone numbers for the specified Amazon Chime account, Amazon Chime user, or Amazon Chime Voice Connector.'
      operationId: ListPhoneNumbers
      parameters:
        - description: The phone number status.
          enum:
            - AcquireInProgress
            - AcquireFailed
            - Unassigned
            - Assigned
            - ReleaseInProgress
            - DeleteInProgress
            - ReleaseFailed
            - DeleteFailed
          in: query
          name: status
          required: false
          type: string
        - description: The phone number product type.
          enum:
            - BusinessCalling
            - VoiceConnector
          in: query
          name: product-type
          required: false
          type: string
        - description: The filter to use to limit the number of results.
          enum:
            - AccountId
            - UserId
            - VoiceConnectorId
          in: query
          name: filter-name
          required: false
          type: string
        - description: The value to use for the filter.
          in: query
          name: filter-value
          required: false
          type: string
        - description: The maximum number of results to return in a single call.
          in: query
          maximum: 99
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/phone-numbers#operation=batch-delete':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.</p> <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>
      operationId: BatchDeletePhoneNumber
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              PhoneNumberIds:
                description: List of phone number IDs.
                items:
                  $ref: '#/definitions/String'
                minItems: 1
                type: array
            required:
              - PhoneNumberIds
            type: object
        - enum:
            - batch-delete
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeletePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/phone-numbers#operation=batch-update':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates phone number product types. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types. For toll-free numbers, you can use only the Amazon Chime Voice Connector product type.'
      operationId: BatchUpdatePhoneNumber
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              UpdatePhoneNumberRequestItems:
                description: The request containing the phone number IDs and product types to update.
                items:
                  $ref: '#/definitions/UpdatePhoneNumberRequestItem'
                type: array
            required:
              - UpdatePhoneNumberRequestItems
            type: object
        - enum:
            - batch-update
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUpdatePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/phone-numbers/{phoneNumberId}':
    delete:
      description: <p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>
      operationId: DeletePhoneNumber
      parameters:
        - description: The phone number ID.
          in: path
          name: phoneNumberId
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    get:
      description: 'Retrieves details for the specified phone number ID, such as associations, capabilities, and product type.'
      operationId: GetPhoneNumber
      parameters:
        - description: The phone number ID.
          in: path
          name: phoneNumberId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates phone number details, such as product type, for the specified phone number ID. For toll-free numbers, you can use only the Amazon Chime Voice Connector product type.'
      operationId: UpdatePhoneNumber
      parameters:
        - description: The phone number ID.
          in: path
          name: phoneNumberId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ProductType:
                description: The product type.
                enum:
                  - BusinessCalling
                  - VoiceConnector
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/phone-numbers/{phoneNumberId}#operation=restore':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Moves a phone number from the <b>Deletion queue</b> back into the phone number <b>Inventory</b>.
      operationId: RestorePhoneNumber
      parameters:
        - description: The phone number.
          in: path
          name: phoneNumberId
          pattern: .*\S.*
          required: true
          type: string
        - enum:
            - restore
          in: query
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestorePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/search#type=phone-numbers':
    get:
      description: Searches phone numbers that can be ordered.
      operationId: SearchAvailablePhoneNumbers
      parameters:
        - description: The area code used to filter results.
          in: query
          name: area-code
          required: false
          type: string
        - description: The city used to filter results.
          in: query
          name: city
          required: false
          type: string
        - description: The country used to filter results.
          in: query
          name: country
          required: false
          type: string
        - description: The state used to filter results.
          in: query
          name: state
          required: false
          type: string
        - description: The toll-free prefix that you use to filter results.
          in: query
          maxLength: 3
          minLength: 3
          name: toll-free-prefix
          pattern: ^8(00|33|44|55|66|77|88)$
          required: false
          type: string
        - description: The maximum number of results to return in a single call.
          in: query
          maximum: 500
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
        - enum:
            - phone-numbers
          in: query
          name: type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchAvailablePhoneNumbersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /settings:
    get:
      description: 'Retrieves global settings for the administrator''s AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.'
      operationId: GetGlobalSettings
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGlobalSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Updates global settings for the administrator''s AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.'
      operationId: UpdateGlobalSettings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              BusinessCalling:
                description: The Amazon Chime Business Calling settings for the administrator's AWS account. Includes any Amazon S3 buckets designated for storing call detail records.
                properties:
                  CdrBucket:
                    $ref: '#/definitions/String'
                    description: The Amazon S3 bucket designated for call detail record storage.
                type: object
              VoiceConnector:
                description: The Amazon Chime Voice Connector settings. Includes any Amazon S3 buckets designated for storing call detail records.
                properties:
                  CdrBucket:
                    $ref: '#/definitions/String'
                    description: The Amazon S3 bucket designated for call detail record storage.
                type: object
            required:
              - BusinessCalling
              - VoiceConnector
            type: object
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  /voice-connectors:
    get:
      description: Lists the Amazon Chime Voice Connectors for the administrator's AWS account.
      operationId: ListVoiceConnectors
      parameters:
        - description: The token to use to retrieve the next page of results.
          in: query
          name: next-token
          required: false
          type: string
        - description: The maximum number of results to return in a single call.
          in: query
          maximum: 99
          minimum: 1
          name: max-results
          required: false
          type: integer
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVoiceConnectorsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates an Amazon Chime Voice Connector under the administrator''s AWS account. Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. Inbound calls use TLS transport, and unencrypted outbound calls are blocked.'
      operationId: CreateVoiceConnector
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the Amazon Chime Voice Connector.
                maxLength: 256
                minLength: 1
                type: string
              RequireEncryption:
                description: 'When enabled, requires encryption for the Amazon Chime Voice Connector.'
                type: boolean
            required:
              - Name
              - RequireEncryption
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateVoiceConnectorResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
  '/voice-connectors/{voiceConnectorId}':
    delete:
      description: Deletes the specified Amazon Chime Voice Connector. Any phone numbers assigned to the Amazon Chime Voice Connector must be unassigned from it before it can be deleted.
      operationId: DeleteVoiceConnector
      parameters:
        - description: The Amazon Chime Voice Connector ID.
          in: path
          name: voiceConnectorId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    get:
      description: 'Retrieves details for the specified Amazon Chime Voice Connector, such as timestamps, name, outbound host, and encryption requirements.'
      operationId: GetVoiceConnector
      parameters:
        - description: The Amazon Chime Voice Connector ID.
          in: path
          name: voiceConnectorId
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
[...]
