swagger: '2.0'
info:
  version: '2018-05-01'
  x-release: v4
  title: Amazon Chime
  description: '<p>The Amazon Chime API (application programming interface) is designed for administrators to use to perform key tasks, such as creating and managing Amazon Chime accounts and users. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p>You don''t need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href="http://aws.amazon.com/developer/">AWS Developer Center</a>.</p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href="https://docs.aws.amazon.com/cli/latest/userguide/installing.html">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href="https://docs.aws.amazon.com/cli/latest/reference/chime/index.html">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>.</p> </dd> <dt>Using REST API</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href="https://docs.aws.amazon.com/chime/latest/ag/control-access.html">Control Access to the Amazon Chime Console</a> in the <i>Amazon Chime Administration Guide</i>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: chime
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/chime-2018-05-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/chime/'
host: chime.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://service.chime.aws.amazon.com'
    variables: {}
    description: The general Amazon Chime multi-region endpoint
  - url: 'https://service.chime.aws.amazon.com'
    variables: {}
    description: The general Amazon Chime multi-region endpoint
  - url: 'http://chime.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon Chime endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://chime.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon Chime endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/accounts/{accountId}/users/{userId}#operation=associate-phone-number':
    post:
      operationId: AssociatePhoneNumberWithUser
      description: Associates a phone number with the specified Amazon Chime user.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociatePhoneNumberWithUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
        - name: userId
          in: path
          required: true
          description: The user ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - E164PhoneNumber
            properties:
              E164PhoneNumber:
                description: 'The phone number, in E.164 format.'
                type: string
                pattern: '^\+?[1-9]\d{1,14}$'
                format: password
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - associate-phone-number
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/voice-connectors/{voiceConnectorId}#operation=associate-phone-numbers':
    post:
      operationId: AssociatePhoneNumbersWithVoiceConnector
      description: Associates a phone number with the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociatePhoneNumbersWithVoiceConnectorResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              E164PhoneNumbers:
                description: 'List of phone numbers, in E.164 format.'
                type: array
                items:
                  $ref: '#/definitions/E164PhoneNumber'
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - associate-phone-numbers
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/phone-numbers#operation=batch-delete':
    post:
      operationId: BatchDeletePhoneNumber
      description: <p>Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.</p> <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeletePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - PhoneNumberIds
            properties:
              PhoneNumberIds:
                description: List of phone number IDs.
                type: array
                items:
                  $ref: '#/definitions/String'
                minItems: 1
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - batch-delete
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/users#operation=suspend':
    post:
      operationId: BatchSuspendUser
      description: '<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are dissociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchSuspendUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - UserIdList
            properties:
              UserIdList:
                description: The request containing the user IDs to suspend.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
                maxItems: 50
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - suspend
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/users#operation=unsuspend':
    post:
      operationId: BatchUnsuspendUser
      description: '<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUnsuspendUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - UserIdList
            properties:
              UserIdList:
                description: The request containing the user IDs to unsuspend.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
                maxItems: 50
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - unsuspend
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/phone-numbers#operation=batch-update':
    post:
      operationId: BatchUpdatePhoneNumber
      description: Updates phone number product types. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUpdatePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - UpdatePhoneNumberRequestItems
            properties:
              UpdatePhoneNumberRequestItems:
                description: The request containing the phone number IDs and product types to update.
                type: array
                items:
                  $ref: '#/definitions/UpdatePhoneNumberRequestItem'
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - batch-update
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/users':
    post:
      operationId: BatchUpdateUser
      description: 'Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUpdateUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - UpdateUserRequestItems
            properties:
              UpdateUserRequestItems:
                description: The request containing the user IDs and details to update.
                type: array
                items:
                  $ref: '#/definitions/UpdateUserRequestItem'
                maxItems: 20
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListUsers
      description: Lists the users that belong to the specified Amazon Chime account. You can specify an email address to list only the user that the email address belongs to.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: user-email
          in: query
          required: false
          description: Optional. The user email address used to filter results. Maximum 1.
          type: string
          pattern: .+@.+\..+
          format: password
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call. Defaults to 100.
          type: integer
          minimum: 1
          maximum: 200
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /accounts:
    post:
      operationId: CreateAccount
      description: 'Creates an Amazon Chime account under the administrator''s AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
            properties:
              Name:
                description: The name of the Amazon Chime account.
                type: string
                pattern: .*\S.*
                minLength: 1
                maxLength: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListAccounts
      description: 'Lists the Amazon Chime accounts under the administrator''s AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user''s email address, which returns one account result.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAccountsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: name
          in: query
          required: false
          description: Amazon Chime account name prefix with which to filter results.
          type: string
          pattern: .*\S.*
          minLength: 1
          maxLength: 100
        - name: user-email
          in: query
          required: false
          description: User email address with which to filter results.
          type: string
          pattern: .+@.+\..+
          format: password
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call. Defaults to 100.
          type: integer
          minimum: 1
          maximum: 200
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /phone-number-orders:
    post:
      operationId: CreatePhoneNumberOrder
      description: Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePhoneNumberOrderResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ProductType
              - E164PhoneNumbers
            properties:
              ProductType:
                description: The phone number product type.
                type: string
                enum:
                  - BusinessCalling
                  - VoiceConnector
              E164PhoneNumbers:
                description: 'List of phone numbers, in E.164 format.'
                type: array
                items:
                  $ref: '#/definitions/E164PhoneNumber'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListPhoneNumberOrders
      description: Lists the phone number orders for the administrator's Amazon Chime account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumberOrdersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call.
          type: integer
          minimum: 1
          maximum: 99
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /voice-connectors:
    post:
      operationId: CreateVoiceConnector
      description: 'Creates an Amazon Chime Voice Connector under the administrator''s AWS account. Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. Inbound calls use TLS transport, and unencrypted outbound calls are blocked.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateVoiceConnectorResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - RequireEncryption
            properties:
              Name:
                description: The name of the Amazon Chime Voice Connector.
                type: string
                minLength: 1
                maxLength: 256
              RequireEncryption:
                description: 'When enabled, requires encryption for the Amazon Chime Voice Connector.'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListVoiceConnectors
      description: Lists the Amazon Chime Voice Connectors for the administrator's AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVoiceConnectorsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call.
          type: integer
          minimum: 1
          maximum: 99
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/accounts/{accountId}':
    delete:
      operationId: DeleteAccount
      description: '<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do so.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>'
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetAccount
      description: 'Retrieves details for the specified Amazon Chime account, such as account type and supported licenses.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
    post:
      operationId: UpdateAccount
      description: 'Updates account details for the specified Amazon Chime account. Currently, only account name updates are supported for this action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAccountResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The new name for the specified Amazon Chime account.
                type: string
                pattern: .*\S.*
                minLength: 1
                maxLength: 100
  '/phone-numbers/{phoneNumberId}':
    delete:
      operationId: DeletePhoneNumber
      description: <p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: phoneNumberId
          in: path
          required: true
          description: The phone number ID.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetPhoneNumber
      description: 'Retrieves details for the specified phone number ID, such as associations, capabilities, and product type.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: phoneNumberId
          in: path
          required: true
          description: The phone number ID.
          type: string
    post:
      operationId: UpdatePhoneNumber
      description: 'Updates phone number details, such as product type, for the specified phone number ID.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePhoneNumberResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: phoneNumberId
          in: path
          required: true
          description: The phone number ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              ProductType:
                description: The product type.
                type: string
                enum:
                  - BusinessCalling
                  - VoiceConnector
  '/voice-connectors/{voiceConnectorId}':
    delete:
      operationId: DeleteVoiceConnector
      description: Deletes the specified Amazon Chime Voice Connector. Any phone numbers assigned to the Amazon Chime Voice Connector must be unassigned from it before it can be deleted.
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetVoiceConnector
      description: 'Retrieves details for the specified Amazon Chime Voice Connector, such as timestamps, name, outbound host, and encryption requirements.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVoiceConnectorResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    put:
      operationId: UpdateVoiceConnector
      description: Updates details for the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVoiceConnectorResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - RequireEncryption
            properties:
              Name:
                description: The name of the Amazon Chime Voice Connector.
                type: string
                minLength: 1
                maxLength: 256
              RequireEncryption:
                description: 'When enabled, requires encryption for the Amazon Chime Voice Connector.'
                type: boolean
  '/voice-connectors/{voiceConnectorId}/origination':
    delete:
      operationId: DeleteVoiceConnectorOrigination
      description: Deletes the origination settings for the specified Amazon Chime Voice Connector.
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetVoiceConnectorOrigination
      description: Retrieves origination setting details for the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVoiceConnectorOriginationResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    put:
      operationId: PutVoiceConnectorOrigination
      description: Adds origination settings for the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutVoiceConnectorOriginationResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Origination
            properties:
              Origination:
                description: Origination settings enable your SIP hosts to receive inbound calls using your Amazon Chime Voice Connector.
                type: object
                properties:
                  Routes:
                    $ref: '#/definitions/OriginationRouteList'
                    description: 'The call distribution properties defined for your SIP hosts. Valid range: Minimum value of 1. Maximum value of 20.'
                  Disabled:
                    $ref: '#/definitions/Boolean'
                    description: 'When origination settings are disabled, inbound calls are not enabled for your Amazon Chime Voice Connector.'
  '/voice-connectors/{voiceConnectorId}/termination':
    delete:
      operationId: DeleteVoiceConnectorTermination
      description: Deletes the termination settings for the specified Amazon Chime Voice Connector.
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetVoiceConnectorTermination
      description: Retrieves termination setting details for the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVoiceConnectorTerminationResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    put:
      operationId: PutVoiceConnectorTermination
      description: Adds termination settings for the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutVoiceConnectorTerminationResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Termination
            properties:
              Termination:
                description: Termination settings enable your SIP hosts to make outbound calls using your Amazon Chime Voice Connector.
                type: object
                properties:
                  CpsLimit:
                    $ref: '#/definitions/CpsLimit'
                    description: The limit on calls per second. Max value based on account service limit. Default value of 1.
                  DefaultPhoneNumber:
                    $ref: '#/definitions/E164PhoneNumber'
                    description: The default caller ID phone number.
                  CallingRegions:
                    $ref: '#/definitions/CallingRegionList'
                    description: The countries to which calls are allowed.
                  CidrAllowedList:
                    $ref: '#/definitions/StringList'
                    description: 'The IP addresses allowed to make calls, in CIDR format.'
                  Disabled:
                    $ref: '#/definitions/Boolean'
                    description: 'When termination settings are disabled, outbound calls can not be made.'
  '/voice-connectors/{voiceConnectorId}/termination/credentials#operation=delete':
    post:
      operationId: DeleteVoiceConnectorTerminationCredentials
      description: Deletes the specified SIP credentials used by your equipment to authenticate during call termination.
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Usernames:
                description: 'The RFC2617 compliant username associated with the SIP credentials, in US-ASCII format.'
                type: array
                items:
                  $ref: '#/definitions/SensitiveString'
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - delete
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/users/{userId}#operation=disassociate-phone-number':
    post:
      operationId: DisassociatePhoneNumberFromUser
      description: Disassociates the primary provisioned phone number from the specified Amazon Chime user.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociatePhoneNumberFromUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
        - name: userId
          in: path
          required: true
          description: The user ID.
          type: string
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - disassociate-phone-number
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/voice-connectors/{voiceConnectorId}#operation=disassociate-phone-numbers':
    post:
      operationId: DisassociatePhoneNumbersFromVoiceConnector
      description: Disassociates the specified phone number from the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociatePhoneNumbersFromVoiceConnectorResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              E164PhoneNumbers:
                description: 'List of phone numbers, in E.164 format.'
                type: array
                items:
                  $ref: '#/definitions/E164PhoneNumber'
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - disassociate-phone-numbers
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/settings':
    get:
      operationId: GetAccountSettings
      description: 'Retrieves account settings for the specified Amazon Chime account ID, such as remote control and dial out settings. For more information about these settings, see <a href="https://docs.aws.amazon.com/chime/latest/ag/policies.html">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateAccountSettings
      description: 'Updates the settings for the specified Amazon Chime account. You can update settings for remote control of shared screens, or for the dial-out option. For more information about these settings, see <a href="https://docs.aws.amazon.com/chime/latest/ag/policies.html">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.'
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAccountSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '485':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - AccountSettings
            properties:
              AccountSettings:
                description: 'Settings related to the Amazon Chime account. This includes settings that start or stop remote control of shared screens, or start or stop the dial-out option in the Amazon Chime web application. For more information about these settings, see <a href="https://docs.aws.amazon.com/chime/latest/ag/policies.html">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.'
                type: object
                properties:
                  DisableRemoteControl:
                    $ref: '#/definitions/Boolean'
                    description: Setting that stops or starts remote control of shared screens during meetings.
                  EnableDialOut:
                    $ref: '#/definitions/Boolean'
                    description: 'Setting that allows meeting participants to choose the <b>Call me at a phone number</b> option. For more information, see <a href="https://docs.aws.amazon.com/chime/latest/ug/chime-join-meeting.html">Join a Meeting without the Amazon Chime App</a>.'
  /settings:
    get:
      operationId: GetGlobalSettings
      description: 'Retrieves global settings for the administrator''s AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGlobalSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateGlobalSettings
      description: 'Updates global settings for the administrator''s AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.'
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BusinessCalling
              - VoiceConnector
            properties:
              BusinessCalling:
                description: The Amazon Chime Business Calling settings for the administrator's AWS account. Includes any Amazon S3 buckets designated for storing call detail records.
                type: object
                properties:
                  CdrBucket:
                    $ref: '#/definitions/String'
                    description: The Amazon S3 bucket designated for call detail record storage.
              VoiceConnector:
                description: The Amazon Chime Voice Connector settings. Includes any Amazon S3 buckets designated for storing call detail records.
                type: object
                properties:
                  CdrBucket:
                    $ref: '#/definitions/String'
                    description: The Amazon S3 bucket designated for call detail record storage.
  '/phone-number-orders/{phoneNumberOrderId}':
    get:
      operationId: GetPhoneNumberOrder
      description: 'Retrieves details for the specified phone number order, such as order creation timestamp, phone numbers in E.164 format, product type, and order status.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPhoneNumberOrderResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: phoneNumberOrderId
          in: path
          required: true
          description: The ID for the phone number order.
          type: string
          pattern: '[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/users/{userId}':
    get:
      operationId: GetUser
      description: '<p>Retrieves details for the specified user ID, such as primary email address, license type, and personal meeting PIN.</p> <p>To retrieve user details with an email address instead of a user ID, use the <a>ListUsers</a> action, and then filter by email address.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: userId
          in: path
          required: true
          description: The user ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: UpdateUser
      description: 'Updates user details for a specified user ID. Currently, only <code>LicenseType</code> updates are supported for this action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: userId
          in: path
          required: true
          description: The user ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              LicenseType:
                description: The user license type to update. This must be a supported license type for the Amazon Chime account that the user belongs to.
                type: string
                enum:
                  - Basic
                  - Plus
                  - Pro
                  - ProTrial
  '/accounts/{accountId}/users/{userId}/settings':
    get:
      operationId: GetUserSettings
      description: 'Retrieves settings for the specified user ID, such as any associated phone number settings.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUserSettingsResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
        - name: userId
          in: path
          required: true
          description: The user ID.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateUserSettings
      description: 'Updates the settings for the specified user, such as phone number settings.'
      responses:
        '204':
          description: Success
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
        - name: userId
          in: path
          required: true
          description: The user ID.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - UserSettings
            properties:
              UserSettings:
                description: 'Settings associated with an Amazon Chime user, including inbound and outbound calling and text messaging.'
                type: object
                properties:
                  Telephony:
                    $ref: '#/definitions/TelephonySettings'
                    description: The telephony settings associated with the user.
  '/voice-connectors/{voiceConnectorId}/termination/health':
    get:
      operationId: GetVoiceConnectorTerminationHealth
      description: Retrieves information about the last time a SIP <code>OPTIONS</code> ping was received from your SIP infrastructure for the specified Amazon Chime Voice Connector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVoiceConnectorTerminationHealthResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{accountId}/users#operation=add':
    post:
      operationId: InviteUsers
      description: 'Sends email invites to as many as 50 users, inviting them to the specified Amazon Chime <code>Team</code> account. Only <code>Team</code> account types are currently supported for this action. '
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/InviteUsersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - UserEmailList
            properties:
              UserEmailList:
                description: The user email addresses to which to send the invite.
                type: array
                items:
                  $ref: '#/definitions/EmailAddress'
                maxItems: 50
        - name: operation
          in: query
          required: true
          type: string
          enum:
            - add
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /phone-numbers:
    get:
      operationId: ListPhoneNumbers
      description: 'Lists the phone numbers for the specified Amazon Chime account, Amazon Chime user, or Amazon Chime Voice Connector.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersResponse'
        '480':
          description: UnauthorizedClientException
          schema:
            $ref: '#/definitions/UnauthorizedClientException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ThrottledClientException
          schema:
            $ref: '#/definitions/ThrottledClientException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ServiceFailureException
          schema:
            $ref: '#/definitions/ServiceFailureException'
      parameters:
        - name: status
          in: query
          required: false
          description: The phone number status.
          type: string
          enum:
            - AcquireInProgress
            - AcquireFailed
            - Unassigned
            - Assigned
            - ReleaseInProgress
            - DeleteInProgress
            - ReleaseFailed
            - DeleteFailed
        - name: product-type
          in: query
          required: false
          description: The phone number product type.
          type: string
          enum:
            - BusinessCalling
            - VoiceConnector
        - name: filter-name
          in: query
          required: false
          description: The filter to use to limit the number of results.
          type: string
          enum:
            - AccountId
            - UserId
            - VoiceConnectorId
        - name: filter-value
          in: query
          required: false
          description: The value to use for the filter.
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call.
          type: integer
          minimum: 1
          maximum: 99
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
[...]
