swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'Use these REST APIs for performing operations on Tag entity in your Azure API Management deployment. Tags can be assigned to APIs, Operations and Products.'
  title: ApiManagementClient
  version: '2017-03-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimtags.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimtags
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  TagIdParameter:
    description: Tag identifier. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: tagId
    pattern: '^[^*#&+:<>?]+$'
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/tags':
    get:
      description: Lists all Tags associated with the Operation.
      operationId: Tag_ListByOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Operation identifier within an API. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: operationId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | method     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | urlTemplate | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The operation returns a collection of tags associated with the Operation entity.
          schema:
            $ref: '#/definitions/TagCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - OperationTags
      x-ms-examples:
        ApiManagementGetTagsForOperation:
          parameters:
            api-version: '2017-03-01'
            apiId: 57d2ef278aa04f0888cba3f3
            operationId: 57d2ef278aa04f0888cba3f6
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002
                    name: 5600b539c53f5b0062060002
                    properties:
                      displayName: tag1
                    type: Microsoft.ApiManagement/service/tags
      x-ms-odata: '#/definitions/TagContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/tags/{tagId}':
    delete:
      description: Detach the tag from the Operation.
      operationId: Tag_DetachFromOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Operation identifier within an API. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: operationId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Api schema to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Successfully detached the tag from the Operation.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - OperationTags
      x-ms-examples:
        ApiManagementDeleteOperationTag:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: 59d5b28d1f7fab116c282650
            operationId: 59d5b28d1f7fab116c282651
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59d5b28e1f7fab116402044e
          responses:
            '204': {}
    get:
      description: Get tag associated with the Operation.
      operationId: Tag_GetByOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Operation identifier within an API. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: operationId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Gets the details of the tag specified by its identifier.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/TagContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - OperationTags
      x-ms-examples:
        ApiManagementGetOperationTag:
          parameters:
            api-version: '2017-03-01'
            apiId: 59d6bb8f1f7fab13dc67ec9b
            operationId: 59d6bb8f1f7fab13dc67ec9a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: Tag_GetEntityStateByOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Operation identifier within an API. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: operationId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: 'Empty response body, ETag header entity state version.'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - OperationTags
      x-ms-examples:
        ApiManagementHeadOperationTag:
          parameters:
            api-version: '2017-03-01'
            apiId: 59d6bb8f1f7fab13dc67ec9b
            operationId: 59d6bb8f1f7fab13dc67ec9a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              headers:
                Etag: AAAAAAAACCI=
    put:
      description: Assign tag to the Operation.
      operationId: Tag_AssignToOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Operation identifier within an API. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: operationId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Tag to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Tag is already assigned to the Operation.
          schema:
            $ref: '#/definitions/TagContract'
        '201':
          description: Tag was assigned to the Operation.
          schema:
            $ref: '#/definitions/TagContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - OperationTags
      x-ms-examples:
        ApiManagementCreateOperationTag:
          parameters:
            api-version: '2017-03-01'
            apiId: 5931a75ae4bbd512a88c680b
            operationId: 5931a75ae4bbd512a88c680a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operationsByTags':
    get:
      description: Lists a collection of operations associated with tags.
      operationId: Operation_ListByTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | apiName     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | method      | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | urlTemplate | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Lists a collection of TagResource entities.
          schema:
            description: Paged Tag list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  $ref: '#/definitions/TagResourceContract'
                type: array
      tags:
        - OperationsByTags
      x-ms-examples:
        ApiManagementListOperationsByTags:
          parameters:
            api-version: '2017-03-01'
            apiId: a1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - properties:
                      operation:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiId1/operations/opid1
                        name: opid1
                        properties:
                          apiName: api1
                          apiRevision: '1'
                          apiVersion: null
                          description: some operation
                          displayName: apiop1
                          method: GET
                          urlTemplate: /op1
                        type: Microsoft.ApiManagement/service/apis/operations
                      tag:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                        name: 5600b59375ff190048020001
                        properties:
                          displayName: tag1
                        type: Microsoft.ApiManagement/service/tags
                  - properties:
                      operation:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiId1/operations/opid2
                        name: opid2
                        properties:
                          apiName: api1
                          apiRevision: '1'
                          apiVersion: null
                          description: some operation
                          displayName: apiop2
                          method: GET
                          urlTemplate: /op2
                        type: Microsoft.ApiManagement/service/apis/operations
                      tag:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                        name: 5600b59375ff190048020001
                        properties:
                          displayName: tag1
                        type: Microsoft.ApiManagement/service/tags
      x-ms-odata: './apimtagresources.json#/definitions/TagResourceContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tagDescriptions':
    get:
      description: Lists all Tags descriptions in scope of API. Model similar to swagger - tagDescription is defined on API level but tag may be assigned to the Operations
      operationId: TagDescription_ListByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The operation returns a collection of tagDescriptions associated with the Api entity.
          schema:
            $ref: '#/definitions/TagDescriptionCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTagDescriptions
      x-ms-examples:
        ApiManagementGetTagDescriptionsForApi:
          parameters:
            api-version: '2017-03-01'
            apiId: 57d2ef278aa04f0888cba3f3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002
                    name: 5600b539c53f5b0062060002
                    properties:
                      description: null
                      displayName: tag1
                      externalDocsDescription: some additional info
                      externalDocsUrl: 'http://some_url.com'
                    type: Microsoft.ApiManagement/service/tags
      x-ms-odata: '#/definitions/TagDescriptionContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tagDescriptions/{tagId}':
    delete:
      description: Delete tag description for the Api.
      operationId: TagDescription_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Api schema to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Successfully deleted tag description for the Api.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTagDescriptions
      x-ms-examples:
        ApiManagementDeleteApiTagDescription:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: 59d5b28d1f7fab116c282650
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59d5b28e1f7fab116402044e
          responses:
            '204': {}
    get:
      description: Get tag associated with the API.
      operationId: TagDescription_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Gets the description of the tag specified by its identifier in scope if the Api.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/TagDescriptionContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTagDescriptions
      x-ms-examples:
        ApiManagementGetApiTagDescription:
          parameters:
            api-version: '2017-03-01'
            apiId: 59d6bb8f1f7fab13dc67ec9b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  description: null
                  displayName: tag1
                  externalDocsDescription: some additional info
                  externalDocsUrl: 'http://some_url.com'
                type: Microsoft.ApiManagement/service/tags
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: TagDescription_GetEntityState
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: 'Empty response body, ETag header entity state version.'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTagDescriptions
      x-ms-examples:
        ApiManagementHeadApiTagDescription:
          parameters:
            api-version: '2017-03-01'
            apiId: 59d6bb8f1f7fab13dc67ec9b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              headers:
                Etag: AAAAAAAACCI=
    put:
      description: Create/Update tag fescription in scope of the Api.
      operationId: TagDescription_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TagDescriptionCreateParameters'
        - description: The entity state (Etag) version of the Tag to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Tag Description was updated for the Api.
          schema:
            $ref: '#/definitions/TagDescriptionContract'
        '201':
          description: Tag Description was created for the Api.
          schema:
            $ref: '#/definitions/TagDescriptionContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTagDescriptions
      x-ms-examples:
        ApiManagementCreateApiTagDescription:
          parameters:
            api-version: '2017-03-01'
            apiId: 5931a75ae4bbd512a88c680b
            parameters:
              properties:
                description: Some description that will be displayed for operation's tag if the tag is assigned to operation of the API
                externalDocsDescription: Description of the external docs resource
                externalDocsUrl: 'http://some.url/additionaldoc'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  description: null
                  displayName: tag1
                  externalDocsDescription: some additional info
                  externalDocsUrl: 'http://some_url.com'
                type: Microsoft.ApiManagement/service/tags
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  description: null
                  displayName: tag1
                  externalDocsDescription: some additional info
                  externalDocsUrl: 'http://some_url.com'
                type: Microsoft.ApiManagement/service/tags
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tags':
    get:
      description: Lists all Tags associated with the API.
      operationId: Tag_ListByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The operation returns a collection of tags associated with the Api entity.
          schema:
            $ref: '#/definitions/TagCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTags
      x-ms-examples:
        ApiManagementGetTagsForApi:
          parameters:
            api-version: '2017-03-01'
            apiId: 57d2ef278aa04f0888cba3f3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002
                    name: 5600b539c53f5b0062060002
                    properties:
                      displayName: tag1
                    type: Microsoft.ApiManagement/service/tags
      x-ms-odata: '#/definitions/TagContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tags/{tagId}':
    delete:
      description: Detach the tag from the Api.
      operationId: Tag_DetachFromApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Api schema to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Successfully detached the tag from the Api.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTags
      x-ms-examples:
        ApiManagementDeleteApiTag:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: 59d5b28d1f7fab116c282650
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59d5b28e1f7fab116402044e
          responses:
            '204': {}
    get:
      description: Get tag associated with the API.
      operationId: Tag_GetByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Gets the details of the tag specified by its identifier.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/TagContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTags
      x-ms-examples:
        ApiManagementGetApiTag:
          parameters:
            api-version: '2017-03-01'
            apiId: 59d6bb8f1f7fab13dc67ec9b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: Tag_GetEntityStateByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: 'Empty response body, ETag header entity state version.'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTags
      x-ms-examples:
        ApiManagementHeadApiTag:
          parameters:
            api-version: '2017-03-01'
            apiId: 59d6bb8f1f7fab13dc67ec9b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              headers:
                Etag: AAAAAAAACCI=
    put:
      description: Assign tag to the Api.
      operationId: Tag_AssignToApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: API identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Tag to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Tag is already assigned to the Api.
          schema:
            $ref: '#/definitions/TagContract'
        '201':
          description: Tag was assigned to the Api.
          schema:
            $ref: '#/definitions/TagContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiTags
      x-ms-examples:
        ApiManagementCreateApiTag:
          parameters:
            api-version: '2017-03-01'
            apiId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/tags':
    get:
      description: Lists all Tags associated with the Product.
      operationId: Tag_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Product identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: productId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The operation returns a collection of tags associated with the Product entity.
          schema:
            description: Paged Tag list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  $ref: '#/definitions/TagContract'
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ProductTags
      x-ms-examples:
        ApiManagementGetTagsForProduct:
          parameters:
            api-version: '2017-03-01'
            productId: 57d2ef278aa04f0888cba3f1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002
                    name: 5600b539c53f5b0062060002
                    properties:
                      displayName: tag1
                    type: Microsoft.ApiManagement/service/tags
      x-ms-odata: './apimtags.json#/definitions/TagContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/tags/{tagId}':
    delete:
      description: Detach the tag from the Product.
      operationId: Tag_DetachFromProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Product identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: productId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Api schema to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Successfully detached the tag from the Product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ProductTags
      x-ms-examples:
        ApiManagementDeleteProductTag:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            productId: 59d5b28d1f7fab116c282650
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59d5b28e1f7fab116402044e
          responses:
            '204': {}
    get:
      description: Get tag associated with the Product.
      operationId: Tag_GetByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Product identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: productId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Gets the details of the tag specified by its identifier.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Tag Contract details.
            properties:
              properties:
                $ref: '#/definitions/TagContractProperties'
                description: Tag entity contract properties.
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ProductTags
      x-ms-examples:
        ApiManagementGetProductTag:
          parameters:
            api-version: '2017-03-01'
            productId: 59d6bb8f1f7fab13dc67ec9b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: Tag_GetEntityStateByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Product identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: productId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: 'Empty response body, ETag header entity state version.'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ProductTags
      x-ms-examples:
        ApiManagementHeadProductTag:
          parameters:
            api-version: '2017-03-01'
            productId: 59306a29e4bbd510dc24e5f8
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              headers:
                Etag: AAAAAAAACCI=
    put:
      description: Assign tag to the Product.
      operationId: Tag_AssignToProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Product identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: productId
          pattern: '^[^*#&+:<>?]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: The entity state (Etag) version of the Tag to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Tag is already assigned to the Product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Tag Contract details.
            properties:
              properties:
                $ref: '#/definitions/TagContractProperties'
                description: Tag entity contract properties.
                x-ms-client-flatten: true
        '201':
          description: Tag was assigned to the Product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Tag Contract details.
            properties:
              properties:
                $ref: '#/definitions/TagContractProperties'
                description: Tag entity contract properties.
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ProductTags
      x-ms-examples:
        ApiManagementCreateProductTag:
          parameters:
            api-version: '2017-03-01'
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags':
    get:
      description: Lists a collection of tags defined within a service instance.
      operationId: Tag_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Lists a collection of Tag entities.
          schema:
            $ref: '#/definitions/TagCollection'
      tags:
        - Tags
      x-ms-examples:
        ApiManagementListTags:
          parameters:
            api-version: '2017-03-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                    name: 5600b59375ff190048020001
                    properties:
                      displayName: tag1
                    type: Microsoft.ApiManagement/service/tags
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002
                    name: 5600b59375ff190048020002
                    properties:
                      displayName: tag2
                    type: Microsoft.ApiManagement/service/tags
      x-ms-odata: '#/definitions/TagContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}':
    delete:
      description: Deletes specific tag of the API Management service instance.
      operationId: Tag_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: ETag of the Tag Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The tag was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Tags
      x-ms-examples:
        ApiManagementDeleteTag:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            '204': {}
    get:
      description: Gets the details of the tag specified by its identifier.
      operationId: Tag_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The response body contains the specified Tag entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/TagContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Tags
      x-ms-examples:
        ApiManagementGetTag:
          parameters:
            api-version: '2017-03-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: Tag_GetEntityState
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: 'Empty response body, ETag header entity state version.'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Tags
      x-ms-examples:
        ApiManagementGetTag:
          parameters:
            api-version: '2017-03-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            '200':
              headers:
                Etag: AAAAAAAACCI=
    patch:
      description: Updates the details of the tag specified by its identifier.
      operationId: Tag_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TagCreateUpdateParameters'
        - description: ETag of the Tag Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The tag details were successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Tags
      x-ms-examples:
        ApiManagementUpdateTag:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            parameters:
              properties:
                displayName: temp tag
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: temptag
          responses:
            '204': {}
    put:
      description: Creates a tag.
      operationId: Tag_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/TagIdParameter'
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TagCreateUpdateParameters'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Tag already exists.
          schema:
            $ref: '#/definitions/TagContract'
        '201':
          description: Tag was created succesfully.
          schema:
            $ref: '#/definitions/TagContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  $ref: '#/definitions/ErrorFieldContract'
                type: array
              message:
[...]
