openapi: 3.0.1
servers:
  - url: https://sync.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Sync
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_sync_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_sync_v1
paths:
  /v1/Services:
    description: Containers for sync objects
    get:
      description: ""
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/sync.v1.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AclEnabled:
                  description: Whether token identities in the Service must be granted access to Sync objects by using the [Permissions](https://www.twilio.com/docs/sync/api/sync-permissions) resource.
                  type: boolean
                FriendlyName:
                  description: A string that you assign to describe the resource.
                  type: string
                ReachabilityDebouncingEnabled:
                  description: Whether every `endpoint_disconnected` event should occur after a configurable delay. The default is `false`, where the `endpoint_disconnected` event occurs immediately after disconnection. When `true`, intervening reconnections can prevent the `endpoint_disconnected` event.
                  type: boolean
                ReachabilityDebouncingWindow:
                  description: The reachability event delay in milliseconds if `reachability_debouncing_enabled` = `true`.  Must be between 1,000 and 30,000 and defaults to 5,000. This is the number of milliseconds after the last running client disconnects, and a Sync identity is declared offline, before the `webhook_url` is called if all endpoints remain offline. A reconnection from the same identity by any endpoint during this interval prevents the call to `webhook_url`.
                  type: integer
                ReachabilityWebhooksEnabled:
                  description: Whether the service instance should call `webhook_url` when client endpoints connect to Sync. The default is `false`.
                  type: boolean
                WebhookUrl:
                  description: The URL we should call when Sync objects are manipulated.
                  format: uri
                  type: string
                WebhooksFromRestEnabled:
                  description: Whether the Service instance should call `webhook_url` when the REST API is used to update Sync objects. The default is `false`.
                  type: boolean
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: list
  "/v1/Services/{ServiceSid}/Documents":
    description: Sync Document objects
    get:
      description: ""
      operationId: ListDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  documents:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.document"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Document resource in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Sync Document stores. Can be up to 16 KiB in length.
                Ttl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Sync Document expires and is deleted (the Sync Document's time-to-live).
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the Sync Document
                  type: string
              title: CreateDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - revision
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions":
    description: Sync document permissions
    get:
      description: Retrieve a list of all Permissions applying to a Sync Document.
      operationId: ListDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resources to read. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.document.document_permission"
                    type: array
                title: ListDocumentPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - identity
        - read
        - write
        - manage
      mountName: document_permissions
      parent: /Services/{ServiceSid}/Documents/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync Document Permission.
      operationId: DeleteDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resource to delete. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Document Permission resource to delete.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync document permissions
    get:
      description: Fetch a specific Sync Document Permission.
      operationId: FetchDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resource to fetch. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Document Permission resource to fetch.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document.document_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an identity's access to a specific Sync Document.
      operationId: UpdateDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resource to update. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Document Permission resource to update.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Whether the identity can delete the Sync Document. Default value is `false`.
                  type: boolean
                Read:
                  description: Whether the identity can read the Sync Document. Default value is `false`.
                  type: boolean
                Write:
                  description: Whether the identity can update the Sync Document. Default value is `false`.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateDocumentPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document.document_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - identity
        - read
        - write
        - manage
      mountName: document_permissions
      parent: /Services/{ServiceSid}/Documents/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Documents/{Sid}":
    delete:
      description: ""
      operationId: DeleteDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Document resource to delete. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync Document objects
    get:
      description: ""
      operationId: FetchDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Document resource to fetch. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Document resource to update. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The If-Match HTTP request header
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Sync Document stores. Can be up to 16 KiB in length.
                Ttl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Sync Document expires and is deleted (time-to-live).
                  type: integer
              title: UpdateDocumentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - revision
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Lists":
    description: Sync list objects
    get:
      description: ""
      operationId: ListSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  lists:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_list"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncListResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Sync List in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Sync List expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: Alias for collection_ttl. If both are provided, this value is ignored.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be unique within its Service and it can be up to 320 characters long. The `unique_name` value can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateSyncListRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - revision
      mountName: sync_lists
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Items":
    description: Items in a sync list
    get:
      description: ""
      operationId: ListSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the List Item resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the List Items to read. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: "How to order the List Items returned by their `index` value. Can be: `asc` (ascending) or `desc` (descending) and the default is ascending."
          in: query
          name: Order
          schema:
            $ref: "#/components/schemas/sync_list_item_enum_query_result_order"
            type: string
        - description: The `index` of the first Sync List Item resource to read. See also `bounds`.
          in: query
          name: From
          schema:
            type: string
        - description: "Whether to include the List Item referenced by the `from` parameter. Can be: `inclusive` to include the List Item referenced by the `from` parameter or `exclusive` to start with the next List Item. The default value is `inclusive`."
          in: query
          name: Bounds
          schema:
            $ref: "#/components/schemas/sync_list_item_enum_query_from_bound_type"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncListItemResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new List Item in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List to add the new List Item to. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the List Item's parent Sync List expires (time-to-live) and is deleted.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the List Item stores. Can be up to 16 KiB in length.
                ItemTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the List Item expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              required:
                - Data
              title: CreateSyncListItemRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - index
        - revision
        - created_by
      mountName: sync_list_items
      parent: /Services/{ServiceSid}/Lists/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Items/{Index}":
    delete:
      description: ""
      operationId: DeleteSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Item resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Item resource to delete. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The index of the Sync List Item resource to delete.
          in: path
          name: Index
          required: true
          schema:
            type: integer
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Items in a sync list
    get:
      description: ""
      operationId: FetchSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Item resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Item resource to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The index of the Sync List Item resource to fetch.
          in: path
          name: Index
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Item resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Item resource to update. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The index of the Sync List Item resource to update.
          in: path
          name: Index
          required: true
          schema:
            type: integer
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the List Item's parent Sync List expires (time-to-live) and is deleted. This parameter can only be used when the List Item's `data` or `ttl` is updated in the same request.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the List Item stores. Can be up to 16 KiB in length.
                ItemTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the List Item expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              title: UpdateSyncListItemRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - index
        - revision
        - created_by
      mountName: sync_list_items
      parent: /Services/{ServiceSid}/Lists/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Permissions":
    description: Permissions for Sync list items
    get:
      description: Retrieve a list of all Permissions applying to a Sync List.
      operationId: ListSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resources to read. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_permission"
                    type: array
                title: ListSyncListPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - identity
        - read
        - write
        - manage
      mountName: sync_list_permissions
      parent: /Services/{ServiceSid}/Lists/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync List Permission.
      operationId: DeleteSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resource to delete. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync List Permission resource to delete.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Permissions for Sync list items
    get:
      description: Fetch a specific Sync List Permission.
      operationId: FetchSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resource to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync List Permission resource to fetch.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an identity's access to a specific Sync List.
      operationId: UpdateSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resource to update. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync List Permission resource to update.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Whether the identity can delete the Sync List. Default value is `false`.
                  type: boolean
                Read:
                  description: Whether the identity can read the Sync List and its Items. Default value is `false`.
                  type: boolean
                Write:
                  description: Whether the identity can create, update, and delete Items in the Sync List. Default value is `false`.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateSyncListPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - identity
        - read
        - write
        - manage
      mountName: sync_list_permissions
      parent: /Services/{ServiceSid}/Lists/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Lists/{Sid}":
    delete:
      description: ""
      operationId: DeleteSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List resource to delete. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync list objects
    get:
      description: ""
      operationId: FetchSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List resource to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List resource to update. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Sync List expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: An alias for `collection_ttl`. If both are provided, this value is ignored.
                  type: integer
              title: UpdateSyncListRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - revision
      mountName: sync_lists
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Maps":
    description: Sync map objects
    get:
      description: ""
      operationId: ListSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  maps:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_map"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncMapResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the Sync Map in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Sync Map expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: An alias for `collection_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateSyncMapRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - revision
      mountName: sync_maps
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Items":
    description: Keys in a sync map
    get:
      description: ""
      operationId: ListSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Map Item resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: "How to order the Map Items returned by their `key` value. Can be: `asc` (ascending) or `desc` (descending) and the default is ascending. Map Items are [ordered lexicographically](https://en.wikipedia.org/wiki/Lexicographical_order) by Item key."
          in: query
          name: Order
          schema:
            $ref: "#/components/schemas/sync_map_item_enum_query_result_order"
            type: string
        - description: The `key` of the first Sync Map Item resource to read. See also `bounds`.
          in: query
          name: From
          schema:
            type: string
        - description: "Whether to include the Map Item referenced by the `from` parameter. Can be: `inclusive` to include the Map Item referenced by the `from` parameter or `exclusive` to start with the next Map Item. The default value is `inclusive`."
          in: query
          name: Bounds
          schema:
            $ref: "#/components/schemas/sync_map_item_enum_query_from_bound_type"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncMapItemResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the Map Item in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map to add the new Map Item to. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Map Item's parent Sync Map expires (time-to-live) and is deleted.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Map Item stores. Can be up to 16 KiB in length.
                ItemTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Map Item expires (time-to-live) and is deleted.
                  type: integer
                Key:
                  description: The unique, user-defined key for the Map Item. Can be up to 320 characters long.
                  type: string
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              required:
                - Key
                - Data
              title: CreateSyncMapItemRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - key
        - revision
        - created_by
      mountName: sync_map_items
      parent: /Services/{ServiceSid}/Maps/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Items/{Key}":
    delete:
      description: ""
      operationId: DeleteSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Item resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to delete. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The `key` value of the Sync Map Item resource to delete.
          in: path
          name: Key
          required: true
          schema:
            type: string
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Keys in a sync map
    get:
      description: ""
      operationId: FetchSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Item resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The `key` value of the Sync Map Item resource to fetch.
          in: path
          name: Key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Item resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to update. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: "The `key` value of the Sync Map Item resource to update. "
          in: path
          name: Key
          required: true
          schema:
            type: string
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Map Item's parent Sync Map expires (time-to-live) and is deleted. This parameter can only be used when the Map Item's `data` or `ttl` is updated in the same request.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Map Item stores. Can be up to 16 KiB in length.
                ItemTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Map Item expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              title: UpdateSyncMapItemRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - key
        - revision
        - created_by
      mountName: sync_map_items
      parent: /Services/{ServiceSid}/Maps/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Permissions":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync Map.
      operationId: ListSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resources to read. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Permission resources to read. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_permission"
                    type: array
                title: ListSyncMapPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - identity
        - read
        - write
        - manage
      mountName: sync_map_permissions
      parent: /Services/{ServiceSid}/Maps/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync Map Permission.
      operationId: DeleteSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resource to delete. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Permission resource to delete. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync Map Permission resource to delete.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Sync Map Permission.
      operationId: FetchSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resource to fetch. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Permission resource to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync Map Permission resource to fetch.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an identity's access to a specific Sync Map.
      operationId: UpdateSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resource to update. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Permission resource to update. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync Map Permission resource to update.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Whether the identity can delete the Sync Map. Default value is `false`.
                  type: boolean
                Read:
                  description: Whether the identity can read the Sync Map and its Items. Default value is `false`.
                  type: boolean
                Write:
                  description: Whether the identity can create, update, and delete Items in the Sync Map. Default value is `false`.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateSyncMapPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - identity
        - read
        - write
        - manage
      mountName: sync_map_permissions
      parent: /Services/{ServiceSid}/Maps/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Maps/{Sid}":
    delete:
      description: ""
      operationId: DeleteSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map resource to delete. Can be the Sync Map's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync map objects
    get:
      description: ""
      operationId: FetchSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map resource to fetch. Can be the Sync Map's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map resource to update. Can be the Sync Map's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Sync Map expires (time-to-live) and is deleted.
                  type: integer
                Ttl:
                  description: An alias for `collection_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              title: UpdateSyncMapRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - revision
      mountName: sync_maps
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Streams":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Streams in a Service Instance.
      operationId: ListSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Stream resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  streams:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_stream"
                    type: array
                title: ListSyncStreamResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Stream.
      operationId: CreateSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Stream in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Ttl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Stream expires and is deleted (time-to-live).
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be unique within its Service and it can be up to 320 characters long. The `unique_name` value can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateSyncStreamRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - created_by
      mountName: sync_streams
      parent: /Services/{Sid}
      pathType: list
  "/v1/Services/{ServiceSid}/Streams/{Sid}":
    delete:
      description: Delete a specific Stream.
      operationId: DeleteSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Stream resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Stream resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Stream.
      operationId: FetchSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Stream resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Stream resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a specific Stream.
      operationId: UpdateSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Stream resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Stream resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Ttl:
                  description: How long, [in seconds](https://www.twilio.com/docs/sync/limits#sync-payload-limits), before the Stream expires and is deleted (time-to-live).
                  type: integer
              title: UpdateSyncStreamRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - created_by
      mountName: sync_streams
      parent: /Services/{Sid}
      pathType: instance
  "/v1/Services/{ServiceSid}/Streams/{StreamSid}/Messages":
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Stream Message.
      operationId: CreateStreamMessage
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Stream Message in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Stream to create the new Stream Message resource for.
          in: path
          name: StreamSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that makes up the Stream Message body. Can be up to 4 KiB in length.
              required:
                - Data
              title: CreateStreamMessageRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream.stream_message"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      mountName: stream_messages
      parent: /Services/{ServiceSid}/Streams/{Sid}
      pathType: list
  "/v1/Services/{Sid}":
    delete:
      description: ""
      operationId: DeleteService
      parameters:
        - description: The SID of the Service resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Containers for sync objects
    get:
      description: ""
      operationId: FetchService
      parameters:
        - description: The SID of the Service resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateService
      parameters:
        - description: The SID of the Service resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AclEnabled:
                  description: Whether token identities in the Service must be granted access to Sync objects by using the [Permissions](https://www.twilio.com/docs/sync/api/sync-permissions) resource.
                  type: boolean
                FriendlyName:
                  description: A string that you assign to describe the resource.
                  type: string
                ReachabilityDebouncingEnabled:
                  description: Whether every `endpoint_disconnected` event should occur after a configurable delay. The default is `false`, where the `endpoint_disconnected` event occurs immediately after disconnection. When `true`, intervening reconnections can prevent the `endpoint_disconnected` event.
                  type: boolean
                ReachabilityDebouncingWindow:
                  description: The reachability event delay in milliseconds if `reachability_debouncing_enabled` = `true`.  Must be between 1,000 and 30,000 and defaults to 5,000. This is the number of milliseconds after the last running client disconnects, and a Sync identity is declared offline, before the webhook is called if all endpoints remain offline. A reconnection from the same identity by any endpoint during this interval prevents the webhook from being called.
                  type: integer
                ReachabilityWebhooksEnabled:
                  description: Whether the service instance should call `webhook_url` when client endpoints connect to Sync. The default is `false`.
                  type: boolean
                WebhookUrl:
                  description: The URL we should call when Sync objects are manipulated.
                  format: uri
                  type: string
                WebhooksFromRestEnabled:
                  description: Whether the Service instance should call `webhook_url` when the REST API is used to update Sync objects. The default is `false`.
                  type: boolean
              title: UpdateServiceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: instance
components:
  schemas:
    sync.v1.service:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        acl_enabled:
          description: Whether token identities in the Service must be granted access to Sync objects by using the [Permissions](https://www.twilio.com/docs/sync/api/sync-permissions) resource. It is disabled (false) by default.
          nullable: true
          type: boolean
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        reachability_debouncing_enabled:
          description: Whether every `endpoint_disconnected` event should occur after a configurable delay. The default is `false`, where the `endpoint_disconnected` event occurs immediately after disconnection. When `true`, intervening reconnections can prevent the `endpoint_disconnected` event.
          nullable: true
          type: boolean
        reachability_debouncing_window:
          description: The reachability event delay in milliseconds if `reachability_debouncing_enabled` = `true`.  Must be between 1,000 and 30,000 and defaults to 5,000. This is the number of milliseconds after the last running client disconnects, and a Sync identity is declared offline, before `webhook_url` is called, if all endpoints remain offline. A reconnection from the same identity by any endpoint during this interval prevents the reachability event from occurring.
          nullable: true
          type: integer
        reachability_webhooks_enabled:
          description: Whether the service instance calls `webhook_url` when client endpoints connect to Sync. The default is `false`.
          nullable: true
          type: boolean
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource. It is a read-only property, it cannot be assigned using REST API.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Service resource.
          format: uri
          nullable: true
          type: string
        webhook_url:
          description: The URL we call when Sync objects are manipulated.
          format: uri
          nullable: true
          type: string
        webhooks_from_rest_enabled:
          description: Whether the Service instance should call `webhook_url` when the REST API is used to update Sync objects. The default is `false`.
          nullable: true
          type: boolean
      type: object
    sync.v1.service.document:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Document resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        created_by:
          description: The identity of the Sync Document's creator. If the Sync Document is created from the client SDK, the value matches the Access Token's `identity` field. If the Sync Document was created from the REST API, the value is `system`.
          nullable: true
          type: string
        data:
          description: An arbitrary, schema-less object that the Sync Document stores. Can be up to 16 KiB in length.
          nullable: true
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_expires:
          description: The date and time in GMT when the Sync Document expires and will be deleted, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. If the Sync Document does not expire, this value is `null`. The Document resource might not be deleted immediately after it expires.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        links:
          description: The URLs of resources related to the Sync Document.
          format: uri-map
          nullable: true
          type: object
        revision:
          description: The current revision of the Sync Document, represented as a string. The `revision` property is used with conditional updates to ensure data consistency.
          nullable: true
          type: string
        service_sid:
          description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) the resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Document resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ET[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource and can be up to 320 characters long.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Document resource.
          format: uri
          nullable: true
          type: string
      type: object
    sync.v1.service.document.document_permission:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Document Permission resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        document_sid:
          description: The SID of the Sync Document to which the Document Permission applies.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ET[0-9a-fA-F]{32}$
          type: string
        identity:
          description: The application-defined string that uniquely identifies the resource's User within the Service to an FPA token.
          nullable: true
          type: string
        manage:
          description: Whether the identity can delete the Sync Document.
          nullable: true
          type: boolean
        read:
          description: Whether the identity can read the Sync Document.
          nullable: true
          type: boolean
        service_sid:
          description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) the resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Sync Document Permission resource.
          format: uri
          nullable: true
          type: string
        write:
          description: Whether the identity can update the Sync Document.
          nullable: true
          type: boolean
      type: object
    sync.v1.service.sync_list:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Sync List resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        created_by:
          description: The identity of the Sync List's creator. If the Sync List is created from the client SDK, the value matches the Access Token's `identity` field. If the Sync List was created from the REST API, the value is `system`.
          nullable: true
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_expires:
          description: The date and time in GMT when the Sync List expires and will be deleted, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. If the Sync List does not expire, this value is `null`. The Sync List might not be deleted immediately after it expires.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        links:
          description: The URLs of the Sync List's nested resources.
          format: uri-map
          nullable: true
          type: object
        revision:
          description: The current revision of the Sync List, represented as a string.
          nullable: true
          type: string
        service_sid:
          description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) the resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Sync List resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ES[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Sync List resource.
          format: uri
          nullable: true
          type: string
      type: object
    sync.v1.service.sync_list.sync_list_item:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the List Item resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        created_by:
          description: The identity of the List Item's creator. If the item is created from the client SDK, the value matches the Access Token's `identity` field. If the item was created from the REST API, the value is `system`.
          nullable: true
          type: string
        data:
          description: An arbitrary, schema-less object that the List Item stores. Can be up to 16 KiB in length.
          nullable: true
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_expires:
          description: The date and time in GMT when the List Item expires and will be deleted, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. If the List Item does not expire, this value is `null`. The List Item resource might not be deleted immediately after it expires.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        index:
          description: The automatically generated index of the List Item. The `index` values of the List Items in a Sync List can have gaps in their sequence.
          nullable: true
          type: integer
        list_sid:
          description: The SID of the Sync List that contains the List Item.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ES[0-9a-fA-F]{32}$
          type: string
        revision:
          description: The current revision of the item, represented as a string.
          nullable: true
          type: string
        service_sid:
          description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) the resource is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the List Item resource.
          format: uri
          nullable: true
          type: string
      type: object
[...]
