swagger: "2.0"
schemes:
  - http
host: t213.vg
basePath: /rest/default
x-hasEquivalentPaths: true
info:
  description: Magento Commerce is the leading provider of open omnichannel innovation.
  title: Magento Enterprise
  version: "2.1"
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://magento.com/sites/all/themes/mag_redesign/images/magento-logo.svg
  x-origin:
    - format: swagger
      url: http://devdocs.magento.com/swagger/schemas/latest-2.1.schema.json
      version: "2.0"
  x-providerName: magento.com
  x-preferred: true
tags:
  - description: Store repository interface
    name: storeStoreRepositoryV1
  - description: Group repository interface
    name: storeGroupRepositoryV1
  - description: Website repository interface
    name: storeWebsiteRepositoryV1
  - description: Store config manager interface
    name: storeStoreConfigManagerV1
  - description: Currency information acquirer interface
    name: directoryCurrencyInformationAcquirerV1
  - description: Country information acquirer interface
    name: directoryCountryInformationAcquirerV1
  - description: Interface AttributeSetRepositoryInterface
    name: eavAttributeSetRepositoryV1
  - description: Interface AttributeSetManagementInterface
    name: eavAttributeSetManagementV1
  - description: Customer group CRUD interface
    name: customerGroupRepositoryV1
  - description: Interface for managing customer groups.
    name: customerGroupManagementV1
  - description: Interface for retrieval information about customer attributes metadata.
    name: customerCustomerMetadataV1
  - description: Interface for retrieval information about customer address attributes metadata.
    name: customerAddressMetadataV1
  - description: Customer CRUD interface.
    name: customerCustomerRepositoryV1
  - description: Interface for managing customers accounts.
    name: customerAccountManagementV1
  - description: Customer address CRUD interface.
    name: customerAddressRepositoryV1
  - description: Interface for module service.
    name: backendModuleServiceV1
  - description: CMS page CRUD interface.
    name: cmsPageRepositoryV1
  - description: CMS block CRUD interface.
    name: cmsBlockRepositoryV1
  - description: ""
    name: catalogProductRepositoryV1
  - description: ""
    name: catalogProductAttributeTypesListV1
  - description: Interface RepositoryInterface must be implemented in new model
    name: catalogProductAttributeRepositoryV1
  - description: Interface RepositoryInterface must be implemented in new model
    name: catalogCategoryAttributeRepositoryV1
  - description: Interface RepositoryInterface must be implemented in new model
    name: catalogCategoryAttributeOptionManagementV1
  - description: ""
    name: catalogProductTypeListV1
  - description: ""
    name: catalogAttributeSetRepositoryV1
  - description: ""
    name: catalogAttributeSetManagementV1
  - description: ""
    name: catalogProductAttributeManagementV1
  - description: ""
    name: catalogProductAttributeGroupRepositoryV1
  - description: ""
    name: catalogProductAttributeOptionManagementV1
  - description: ""
    name: catalogProductMediaAttributeManagementV1
  - description: ""
    name: catalogProductAttributeMediaGalleryManagementV1
  - description: ""
    name: catalogProductTierPriceManagementV1
  - description: ""
    name: catalogCategoryRepositoryV1
  - description: ""
    name: catalogCategoryManagementV1
  - description: ""
    name: catalogProductCustomOptionTypeListV1
  - description: ""
    name: catalogProductCustomOptionRepositoryV1
  - description: ""
    name: catalogProductLinkTypeListV1
  - description: ""
    name: catalogProductLinkManagementV1
  - description: Interface Product links handling interface
    name: catalogProductLinkRepositoryV1
  - description: ""
    name: catalogCategoryLinkManagementV1
  - description: ""
    name: catalogCategoryLinkRepositoryV1
  - description: Interface ProductWebsiteLinkRepositoryInterface
    name: catalogProductWebsiteLinkRepositoryV1
  - description: Interface StockRegistryInterface
    name: catalogInventoryStockRegistryV1
  - description: Interface for Management of ProductLink
    name: bundleProductLinkManagementV1
  - description: Interface ProductOptionRepositoryInterface
    name: bundleProductOptionRepositoryV1
  - description: Interface ProductOptionTypeListInterface
    name: bundleProductOptionTypeListV1
  - description: Option manager for bundle products
    name: bundleProductOptionManagementV1
  - description: Search API for all requests
    name: searchV1
  - description: Interface CartRepositoryInterface
    name: quoteCartRepositoryV1
  - description: Interface CartManagementInterface
    name: quoteCartManagementV1
  - description: Cart Repository interface for guest carts.
    name: quoteGuestCartRepositoryV1
  - description: Cart Management interface for guest carts.
    name: quoteGuestCartManagementV1
  - description: Interface ShippingMethodManagementInterface
    name: quoteShippingMethodManagementV1
  - description: Interface ShipmentManagementInterface
    name: quoteShipmentEstimationV1
  - description: Shipping method management interface for guest carts.
    name: quoteGuestShippingMethodManagementV1
  - description: Interface GuestShipmentEstimationInterface
    name: quoteGuestShipmentEstimationV1
  - description: Interface CartItemRepositoryInterface
    name: quoteCartItemRepositoryV1
  - description: Cart Item repository interface for guest carts.
    name: quoteGuestCartItemRepositoryV1
  - description: Interface PaymentMethodManagementInterface
    name: quotePaymentMethodManagementV1
  - description: Payment method management interface for guest carts.
    name: quoteGuestPaymentMethodManagementV1
  - description: Interface BillingAddressManagementInterface
    name: quoteBillingAddressManagementV1
  - description: Billing address management interface for guest carts.
    name: quoteGuestBillingAddressManagementV1
  - description: Coupon management service interface.
    name: quoteCouponManagementV1
  - description: Coupon management interface for guest carts.
    name: quoteGuestCouponManagementV1
  - description: Interface CartTotalRepositoryInterface
    name: quoteCartTotalRepositoryV1
  - description: Bundled API to collect totals for cart based on shipping/payment methods and additional data.
    name: quoteGuestCartTotalManagementV1
  - description: Cart totals repository interface for guest carts.
    name: quoteGuestCartTotalRepositoryV1
  - description: Bundled API to collect totals for cart based on shipping/payment methods and additional data.
    name: quoteCartTotalManagementV1
  - description: Order repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.
    name: salesOrderRepositoryV1
  - description: Order management interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.
    name: salesOrderManagementV1
  - description: Order address repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.
    name: salesOrderAddressRepositoryV1
  - description: Order item repository interface. An order is a document that a web store issues to a customer. Magento generates a sales order that lists the product items, billing and shipping addresses, and shipping and payment methods. A corresponding external document, known as a purchase order, is emailed to the customer.
    name: salesOrderItemRepositoryV1
  - description: Invoice repository interface. An invoice is a record of the receipt of payment for an order.
    name: salesInvoiceRepositoryV1
  - description: Invoice management interface. An invoice is a record of the receipt of payment for an order.
    name: salesInvoiceManagementV1
  - description: Invoice comment repository interface. An invoice is a record of the receipt of payment for an order. An invoice can include comments that detail the invoice history.
    name: salesInvoiceCommentRepositoryV1
  - description: Interface RefundInvoiceInterface
    name: salesRefundInvoiceV1
  - description: Credit memo add comment interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases.
    name: salesCreditmemoManagementV1
  - description: Credit memo repository interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases.
    name: salesCreditmemoRepositoryV1
  - description: Credit memo comment repository interface. After a customer places and pays for an order and an invoice has been issued, the merchant can create a credit memo to refund all or part of the amount paid for any returned or undelivered items. The memo restores funds to the customer account so that the customer can make future purchases. A credit memo usually includes comments that detail why the credit memo amount was credited to the customer.
    name: salesCreditmemoCommentRepositoryV1
  - description: Interface RefundOrderInterface
    name: salesRefundOrderV1
  - description: Shipment repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package.
    name: salesShipmentRepositoryV1
  - description: Shipment management interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package.
    name: salesShipmentManagementV1
  - description: Shipment comment repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package. A shipment document can contain comments.
    name: salesShipmentCommentRepositoryV1
  - description: Shipment track repository interface. A shipment is a delivery package that contains products. A shipment document accompanies the shipment. This document lists the products and their quantities in the delivery package.
    name: salesShipmentTrackRepositoryV1
  - description: Class ShipOrderInterface
    name: salesShipOrderV1
  - description: Transaction repository interface. A transaction is an interaction between a merchant and a customer such as a purchase, a credit, a refund, and so on.
    name: salesTransactionRepositoryV1
  - description: Class InvoiceOrderInterface
    name: salesInvoiceOrderV1
  - description: Sales rule CRUD interface
    name: salesRuleRuleRepositoryV1
  - description: Coupon CRUD interface
    name: salesRuleCouponRepositoryV1
  - description: Coupon management interface
    name: salesRuleCouponManagementV1
  - description: Interface for managing guest shipping address information
    name: checkoutGuestShippingInformationManagementV1
  - description: Interface for managing customer shipping address information
    name: checkoutShippingInformationManagementV1
  - description: Interface for quote totals calculation
    name: checkoutTotalsInformationManagementV1
  - description: Interface for guest quote totals calculation
    name: checkoutGuestTotalsInformationManagementV1
  - description: Interface for managing guest payment information
    name: checkoutGuestPaymentInformationManagementV1
  - description: Interface for managing quote payment information
    name: checkoutPaymentInformationManagementV1
  - description: Interface LinkRepositoryInterface
    name: downloadableLinkRepositoryV1
  - description: Interface SampleRepositoryInterface
    name: downloadableSampleRepositoryV1
  - description: Interface CheckoutAgreementsRepositoryInterface
    name: checkoutAgreementsCheckoutAgreementsRepositoryV1
  - description: Manage children products of configurable product
    name: configurableProductLinkManagementV1
  - description: Interface ConfigurableProductManagementInterface
    name: configurableProductConfigurableProductManagementV1
  - description: Manage options of configurable product
    name: configurableProductOptionRepositoryV1
  - description: Tax rate CRUD interface.
    name: taxTaxRateRepositoryV1
  - description: Tax rule CRUD interface.
    name: taxTaxRuleRepositoryV1
  - description: Tax class CRUD interface.
    name: taxTaxClassRepositoryV1
  - description: Customer balance(store credit) operations
    name: customerBalanceBalanceManagementV1
  - description: Interface GiftCardAccountManagementInterface
    name: giftCardAccountGiftCardAccountManagementV1
  - description: Interface GuestGiftCardAccountManagementInterface
    name: giftCardAccountGuestGiftCardAccountManagementV1
  - description: Interface ShippingMethodManagementInterface
    name: giftRegistryShippingMethodManagementV1
  - description: Interface ShippingMethodManagementInterface
    name: giftRegistryGuestCartShippingMethodManagementV1
  - description: Interface CartRepositoryInterface
    name: giftMessageCartRepositoryV1
  - description: Interface ItemRepositoryInterface
    name: giftMessageItemRepositoryV1
  - description: Interface GuestCartRepositoryInterface
    name: giftMessageGuestCartRepositoryV1
  - description: Interface GuestItemRepositoryInterface
    name: giftMessageGuestItemRepositoryV1
  - description: Interface WrappingRepositoryInterface
    name: giftWrappingWrappingRepositoryV1
  - description: Interface RewardManagementInterface
    name: rewardRewardManagementV1
  - description: Interface TrackManagementInterface
    name: rmaTrackManagementV1
  - description: Interface RmaRepositoryInterface
    name: rmaRmaRepositoryV1
  - description: Interface CommentRepositoryInterface
    name: rmaCommentManagementV1
  - description: Interface RmaManagementInterface
    name: rmaRmaManagementV1
  - description: Interface RmaAttributesManagementInterface
    name: rmaRmaAttributesManagementV1
  - description: Interface providing token generation for Admins
    name: integrationAdminTokenServiceV1
  - description: Interface providing token generation for Customers
    name: integrationCustomerTokenServiceV1
  - description: Interface GuestPaymentInformationManagementProxyInterface
    name: worldpayGuestPaymentInformationManagementProxyV1
paths:
  "/V1/addresses/{addressId}":
    delete:
      description: Delete customer address by ID.
      operationId: customerAddressRepositoryV1DeleteByIdDelete
      parameters:
        - in: path
          name: addressId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            description: true on success
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerAddressRepositoryV1
  /V1/attributeMetadata/customer:
    get:
      description: Get all attribute metadata.
      operationId: customerCustomerMetadataV1GetAllAttributesMetadataGet
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/customer-data-attribute-metadata-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerCustomerMetadataV1
  "/V1/attributeMetadata/customer/attribute/{attributeCode}":
    get:
      description: Retrieve attribute metadata.
      operationId: customerCustomerMetadataV1GetAttributeMetadataGet
      parameters:
        - in: path
          name: attributeCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/customer-data-attribute-metadata-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerCustomerMetadataV1
  /V1/attributeMetadata/customer/custom:
    get:
      description: Get custom attributes metadata for the given data interface.
      operationId: customerCustomerMetadataV1GetCustomAttributesMetadataGet
      parameters:
        - in: query
          name: dataInterfaceName
          required: false
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/customer-data-attribute-metadata-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerCustomerMetadataV1
  "/V1/attributeMetadata/customer/form/{formCode}":
    get:
      description: Retrieve all attributes filtered by form code
      operationId: customerCustomerMetadataV1GetAttributesGet
      parameters:
        - in: path
          name: formCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/customer-data-attribute-metadata-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerCustomerMetadataV1
  /V1/attributeMetadata/customerAddress:
    get:
      description: Get all attribute metadata.
      operationId: customerAddressMetadataV1GetAllAttributesMetadataGet
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/customer-data-attribute-metadata-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerAddressMetadataV1
  "/V1/attributeMetadata/customerAddress/attribute/{attributeCode}":
    get:
      description: Retrieve attribute metadata.
      operationId: customerAddressMetadataV1GetAttributeMetadataGet
      parameters:
        - in: path
          name: attributeCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/customer-data-attribute-metadata-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerAddressMetadataV1
  /V1/attributeMetadata/customerAddress/custom:
    get:
      description: Get custom attributes metadata for the given data interface.
      operationId: customerAddressMetadataV1GetCustomAttributesMetadataGet
      parameters:
        - in: query
          name: dataInterfaceName
          required: false
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/customer-data-attribute-metadata-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerAddressMetadataV1
  "/V1/attributeMetadata/customerAddress/form/{formCode}":
    get:
      description: Retrieve all attributes filtered by form code
      operationId: customerAddressMetadataV1GetAttributesGet
      parameters:
        - in: path
          name: formCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/customer-data-attribute-metadata-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        "500":
          description: Internal Server error
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerAddressMetadataV1
  /V1/bundle-products/options/add:
    post:
      description: Add new option for bundle product
      operationId: bundleProductOptionManagementV1SavePost
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              option:
                $ref: "#/definitions/bundle-data-option-interface"
            required:
              - option
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductOptionManagementV1
  /V1/bundle-products/options/types:
    get:
      description: Get all types for options for bundle products
      operationId: bundleProductOptionTypeListV1GetItemsGet
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/bundle-data-option-type-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductOptionTypeListV1
  "/V1/bundle-products/options/{optionId}":
    put:
      description: Add new option for bundle product
      operationId: bundleProductOptionManagementV1SavePut
      parameters:
        - in: path
          name: optionId
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              option:
                $ref: "#/definitions/bundle-data-option-interface"
            required:
              - option
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductOptionManagementV1
  "/V1/bundle-products/{productSku}/children":
    get:
      description: Get all children for Bundle product
      operationId: bundleProductLinkManagementV1GetChildrenGet
      parameters:
        - in: path
          name: productSku
          required: true
          type: string
        - in: query
          name: optionId
          required: false
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/bundle-data-link-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductLinkManagementV1
  "/V1/bundle-products/{sku}/links/{id}":
    put:
      description: ""
      operationId: bundleProductLinkManagementV1SaveChildPut
      parameters:
        - in: path
          name: sku
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              linkedProduct:
                $ref: "#/definitions/bundle-data-link-interface"
            required:
              - linkedProduct
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductLinkManagementV1
  "/V1/bundle-products/{sku}/links/{optionId}":
    post:
      description: Add child product to specified Bundle option by product sku
      operationId: bundleProductLinkManagementV1AddChildByProductSkuPost
      parameters:
        - in: path
          name: sku
          required: true
          type: string
        - in: path
          name: optionId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              linkedProduct:
                $ref: "#/definitions/bundle-data-link-interface"
            required:
              - linkedProduct
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductLinkManagementV1
  "/V1/bundle-products/{sku}/options/all":
    get:
      description: Get all options for bundle product
      operationId: bundleProductOptionRepositoryV1GetListGet
      parameters:
        - in: path
          name: sku
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/bundle-data-option-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductOptionRepositoryV1
  "/V1/bundle-products/{sku}/options/{optionId}":
    delete:
      description: Remove bundle option
      operationId: bundleProductOptionRepositoryV1DeleteByIdDelete
      parameters:
        - in: path
          name: sku
          required: true
          type: string
        - in: path
          name: optionId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductOptionRepositoryV1
    get:
      description: Get option for bundle product
      operationId: bundleProductOptionRepositoryV1GetGet
      parameters:
        - in: path
          name: sku
          required: true
          type: string
        - in: path
          name: optionId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/bundle-data-option-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductOptionRepositoryV1
  "/V1/bundle-products/{sku}/options/{optionId}/children/{childSku}":
    delete:
      description: Remove product from Bundle product option
      operationId: bundleProductLinkManagementV1RemoveChildDelete
      parameters:
        - in: path
          name: sku
          required: true
          type: string
        - in: path
          name: optionId
          required: true
          type: integer
        - in: path
          name: childSku
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - bundleProductLinkManagementV1
  /V1/carts/:
    post:
      description: Creates an empty cart and quote for a guest.
      operationId: quoteCartManagementV1CreateEmptyCartPost
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Cart ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartManagementV1
  "/V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}":
    get:
      description: ""
      operationId: giftCardAccountGuestGiftCardAccountManagementV1CheckGiftCardGet
      parameters:
        - in: path
          name: cartId
          required: true
          type: string
        - in: path
          name: giftCardCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: number
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGuestGiftCardAccountManagementV1
  "/V1/carts/guest-carts/{cartId}/giftCards":
    post:
      description: ""
      operationId: giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPost
      parameters:
        - in: path
          name: cartId
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              giftCardAccountData:
                $ref: "#/definitions/gift-card-account-data-gift-card-account-interface"
            required:
              - giftCardAccountData
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGuestGiftCardAccountManagementV1
  "/V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}":
    delete:
      description: Remove GiftCard Account entity
      operationId: giftCardAccountGuestGiftCardAccountManagementV1DeleteByQuoteIdDelete
      parameters:
        - in: path
          name: cartId
          required: true
          type: string
        - in: path
          name: giftCardCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGuestGiftCardAccountManagementV1
  /V1/carts/licence:
    get:
      description: Lists active checkout agreements.
      operationId: checkoutAgreementsCheckoutAgreementsRepositoryV1GetListGet
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/checkout-agreements-data-agreement-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutAgreementsCheckoutAgreementsRepositoryV1
  /V1/carts/mine:
    get:
      description: Returns information for the cart for a specified customer.
      operationId: quoteCartManagementV1GetCartForCustomerGet
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartManagementV1
    post:
      description: Creates an empty cart and quote for a specified customer.
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Cart ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartManagementV1
    put:
      description: Save quote
      operationId: quoteCartRepositoryV1SavePut
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              quote:
                $ref: "#/definitions/quote-data-cart-interface"
            required:
              - quote
            type: object
      responses:
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartRepositoryV1
  /V1/carts/mine/balance/apply:
    post:
      description: Apply store credit
      operationId: customerBalanceBalanceManagementV1ApplyPost
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - customerBalanceBalanceManagementV1
  /V1/carts/mine/billing-address:
    get:
      description: Returns the billing address for a specified quote.
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-address-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteBillingAddressManagementV1
    post:
      description: Assigns a specified billing address to a specified cart.
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              address:
                $ref: "#/definitions/quote-data-address-interface"
              useForShipping:
                type: boolean
            required:
              - address
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Address ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteBillingAddressManagementV1
  "/V1/carts/mine/checkGiftCard/{giftCardCode}":
    get:
      description: ""
      operationId: giftCardAccountGiftCardAccountManagementV1CheckGiftCardGet
      parameters:
        - in: path
          name: giftCardCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: number
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGiftCardAccountManagementV1
  /V1/carts/mine/collect-totals:
    put:
      description: Set shipping/billing methods and additional data for cart and collect totals.
      operationId: quoteCartTotalManagementV1CollectTotalsPut
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              additionalData:
                $ref: "#/definitions/quote-data-totals-additional-data-interface"
              paymentMethod:
                $ref: "#/definitions/quote-data-payment-interface"
              shippingCarrierCode:
                description: The carrier code.
                type: string
              shippingMethodCode:
                description: The shipping method code.
                type: string
            required:
              - paymentMethod
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-totals-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartTotalManagementV1
  /V1/carts/mine/coupons:
    delete:
      description: Deletes a coupon from a specified cart.
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCouponManagementV1
    get:
      description: Returns information for a coupon in a specified cart.
      responses:
        "200":
          description: 200 Success.
          schema:
            description: The coupon code data.
            type: string
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCouponManagementV1
  "/V1/carts/mine/coupons/{couponCode}":
    put:
      description: Adds a coupon by code to a specified cart.
      parameters:
        - description: The coupon code data.
          in: path
          name: couponCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCouponManagementV1
  /V1/carts/mine/estimate-shipping-methods:
    post:
      description: Estimate shipping by address and return list of available shipping methods
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              address:
                $ref: "#/definitions/quote-data-address-interface"
            required:
              - address
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: An array of shipping methods
            items:
              $ref: "#/definitions/quote-data-shipping-method-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteShipmentEstimationV1
  /V1/carts/mine/estimate-shipping-methods-by-address-id:
    post:
      description: Estimate shipping
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              addressId:
                description: The estimate address id
                type: integer
            required:
              - addressId
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: An array of shipping methods.
            items:
              $ref: "#/definitions/quote-data-shipping-method-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteShippingMethodManagementV1
  /V1/carts/mine/gift-message:
    get:
      description: Return the gift message for a specified order.
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/gift-message-data-message-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageCartRepositoryV1
    post:
      description: Set the gift message for an entire order.
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              giftMessage:
                $ref: "#/definitions/gift-message-data-message-interface"
            required:
              - giftMessage
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageCartRepositoryV1
  "/V1/carts/mine/gift-message/{itemId}":
    get:
      description: Return the gift message for a specified item in a specified shopping cart.
      parameters:
        - description: The item ID.
          in: path
          name: itemId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/gift-message-data-message-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageItemRepositoryV1
    post:
      description: Set the gift message for a specified item in a specified shopping cart.
      parameters:
        - description: The item ID.
          in: path
          name: itemId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              giftMessage:
                $ref: "#/definitions/gift-message-data-message-interface"
            required:
              - giftMessage
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageItemRepositoryV1
  /V1/carts/mine/giftCards:
    post:
      description: ""
      operationId: giftCardAccountGiftCardAccountManagementV1SaveByQuoteIdPost
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              giftCardAccountData:
                $ref: "#/definitions/gift-card-account-data-gift-card-account-interface"
            required:
              - giftCardAccountData
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGiftCardAccountManagementV1
  "/V1/carts/mine/giftCards/{giftCardCode}":
    delete:
      description: Remove GiftCard Account entity
      parameters:
        - in: path
          name: giftCardCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGiftCardAccountManagementV1
  /V1/carts/mine/items:
    get:
      description: Lists items that are assigned to a specified cart.
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Array of items.
            items:
              $ref: "#/definitions/quote-data-cart-item-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
    post:
      description: Add/update the specified cart item.
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              cartItem:
                $ref: "#/definitions/quote-data-cart-item-interface"
            required:
              - cartItem
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-item-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
  "/V1/carts/mine/items/{itemId}":
    delete:
      description: Removes the specified item from the specified cart.
      parameters:
        - description: The item ID of the item to be removed.
          in: path
          name: itemId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
    put:
      description: Add/update the specified cart item.
      parameters:
        - in: path
          name: itemId
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              cartItem:
                $ref: "#/definitions/quote-data-cart-item-interface"
            required:
              - cartItem
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-item-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
  /V1/carts/mine/order:
    put:
      description: Places an order for a specified cart.
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              paymentMethod:
                $ref: "#/definitions/quote-data-payment-interface"
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Order ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartManagementV1
  /V1/carts/mine/payment-information:
    get:
      description: Get payment information
      operationId: checkoutPaymentInformationManagementV1GetPaymentInformationGet
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/checkout-data-payment-details-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutPaymentInformationManagementV1
    post:
      description: Set payment information and place order for a specified cart.
      operationId: checkoutPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPost
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              billingAddress:
                $ref: "#/definitions/quote-data-address-interface"
              paymentMethod:
                $ref: "#/definitions/quote-data-payment-interface"
            required:
              - paymentMethod
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Order ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutPaymentInformationManagementV1
  /V1/carts/mine/payment-methods:
    get:
      description: Lists available payment methods for a specified shopping cart. This call returns an array of objects, but detailed information about each object’s attributes might not be included.  See http://devdocs.magento.com/codelinks/attributes.html#PaymentMethodManagementInterface to determine which call to use to get detailed information about all attributes for an object.
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Array of payment methods.
            items:
              $ref: "#/definitions/quote-data-payment-method-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quotePaymentMethodManagementV1
  /V1/carts/mine/selected-payment-method:
    get:
      description: Returns the payment method for a specified shopping cart.
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-payment-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quotePaymentMethodManagementV1
    put:
      description: Adds a specified payment method to a specified shopping cart.
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              method:
                $ref: "#/definitions/quote-data-payment-interface"
            required:
              - method
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: redirect url or error message.
            type: string
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quotePaymentMethodManagementV1
  /V1/carts/mine/set-payment-information:
    post:
      description: Set payment information for a specified cart.
      operationId: checkoutPaymentInformationManagementV1SavePaymentInformationPost
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              billingAddress:
                $ref: "#/definitions/quote-data-address-interface"
              paymentMethod:
                $ref: "#/definitions/quote-data-payment-interface"
            required:
              - paymentMethod
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Order ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutPaymentInformationManagementV1
  /V1/carts/mine/shipping-information:
    post:
      description: ""
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              addressInformation:
                $ref: "#/definitions/checkout-data-shipping-information-interface"
            required:
              - addressInformation
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/checkout-data-payment-details-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutShippingInformationManagementV1
  /V1/carts/mine/shipping-methods:
    get:
      description: Lists applicable shipping methods for a specified quote.
      responses:
        "200":
          description: 200 Success.
          schema:
            description: An array of shipping methods.
            items:
              $ref: "#/definitions/quote-data-shipping-method-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteShippingMethodManagementV1
  /V1/carts/mine/totals:
    get:
      description: Returns quote totals data for a specified cart.
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-totals-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartTotalRepositoryV1
  /V1/carts/mine/totals-information:
    post:
      description: Calculate quote totals based on address and shipping method.
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              addressInformation:
                $ref: "#/definitions/checkout-data-totals-information-interface"
            required:
              - addressInformation
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-totals-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutTotalsInformationManagementV1
  /V1/carts/search:
    get:
      description: Enables administrative users to list carts that match specified search criteria. This call returns an array of objects, but detailed information about each object’s attributes might not be included.  See http://devdocs.magento.com/codelinks/attributes.html#CartRepositoryInterface to determine which call to use to get detailed information about all attributes for an object.
      operationId: quoteCartRepositoryV1GetListGet
      parameters:
        - description: Field
          in: query
          name: searchCriteria[filterGroups][][filters][][field]
          type: string
        - description: Value
          in: query
          name: searchCriteria[filterGroups][][filters][][value]
          type: string
        - description: Condition type
          in: query
          name: searchCriteria[filterGroups][][filters][][conditionType]
          type: string
        - description: Sorting field.
          in: query
          name: searchCriteria[sortOrders][][field]
          type: string
        - description: Sorting direction.
          in: query
          name: searchCriteria[sortOrders][][direction]
          type: string
        - description: Page size.
          in: query
          name: searchCriteria[pageSize]
          type: integer
        - description: Current page.
          in: query
          name: searchCriteria[currentPage]
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-search-results-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartRepositoryV1
  "/V1/carts/{cartId}":
    get:
      description: Enables an administrative user to return information for a specified cart.
      operationId: quoteCartRepositoryV1GetGet
      parameters:
        - in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartRepositoryV1
    put:
      description: Assigns a specified customer to a specified shopping cart.
      operationId: quoteCartManagementV1AssignCustomerPut
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              customerId:
                description: The customer ID.
                type: integer
              storeId:
                type: integer
            required:
              - customerId
              - storeId
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartManagementV1
  "/V1/carts/{cartId}/billing-address":
    get:
      description: Returns the billing address for a specified quote.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-address-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteBillingAddressManagementV1
    post:
      description: Assigns a specified billing address to a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              address:
                $ref: "#/definitions/quote-data-address-interface"
              useForShipping:
                type: boolean
            required:
              - address
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Address ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteBillingAddressManagementV1
  "/V1/carts/{cartId}/coupons":
    delete:
      description: Deletes a coupon from a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCouponManagementV1
    get:
      description: Returns information for a coupon in a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            description: The coupon code data.
            type: string
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCouponManagementV1
  "/V1/carts/{cartId}/coupons/{couponCode}":
    put:
      description: Adds a coupon by code to a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - description: The coupon code data.
          in: path
          name: couponCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCouponManagementV1
  "/V1/carts/{cartId}/estimate-shipping-methods":
    post:
      description: Estimate shipping by address and return list of available shipping methods
      parameters:
        - in: path
          name: cartId
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              address:
                $ref: "#/definitions/quote-data-address-interface"
            required:
              - address
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: An array of shipping methods
            items:
              $ref: "#/definitions/quote-data-shipping-method-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteShipmentEstimationV1
  "/V1/carts/{cartId}/estimate-shipping-methods-by-address-id":
    post:
      description: Estimate shipping
      parameters:
        - description: The shopping cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              addressId:
                description: The estimate address id
                type: integer
            required:
              - addressId
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: An array of shipping methods.
            items:
              $ref: "#/definitions/quote-data-shipping-method-interface"
            type: array
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteShippingMethodManagementV1
  "/V1/carts/{cartId}/gift-message":
    get:
      description: Return the gift message for a specified order.
      parameters:
        - description: The shopping cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/gift-message-data-message-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageCartRepositoryV1
    post:
      description: Set the gift message for an entire order.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              giftMessage:
                $ref: "#/definitions/gift-message-data-message-interface"
            required:
              - giftMessage
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageCartRepositoryV1
  "/V1/carts/{cartId}/gift-message/{itemId}":
    get:
      description: Return the gift message for a specified item in a specified shopping cart.
      parameters:
        - description: The shopping cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - description: The item ID.
          in: path
          name: itemId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/gift-message-data-message-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageItemRepositoryV1
    post:
      description: Set the gift message for a specified item in a specified shopping cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - description: The item ID.
          in: path
          name: itemId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              giftMessage:
                $ref: "#/definitions/gift-message-data-message-interface"
            required:
              - giftMessage
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftMessageItemRepositoryV1
  "/V1/carts/{cartId}/giftCards":
    put:
      description: ""
      operationId: giftCardAccountGiftCardAccountManagementV1SaveByQuoteIdPut
      parameters:
        - in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              giftCardAccountData:
                $ref: "#/definitions/gift-card-account-data-gift-card-account-interface"
            required:
              - giftCardAccountData
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGiftCardAccountManagementV1
  "/V1/carts/{cartId}/giftCards/{giftCardCode}":
    delete:
      description: Remove GiftCard Account entity
      parameters:
        - in: path
          name: cartId
          required: true
          type: integer
        - in: path
          name: giftCardCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGiftCardAccountManagementV1
  "/V1/carts/{cartId}/items":
    get:
      description: Lists items that are assigned to a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Array of items.
            items:
              $ref: "#/definitions/quote-data-cart-item-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
  "/V1/carts/{cartId}/items/{itemId}":
    delete:
      description: Removes the specified item from the specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - description: The item ID of the item to be removed.
          in: path
          name: itemId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
    put:
      description: Add/update the specified cart item.
      parameters:
        - in: path
          name: cartId
          required: true
          type: string
        - in: path
          name: itemId
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              cartItem:
                $ref: "#/definitions/quote-data-cart-item-interface"
            required:
              - cartItem
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-item-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
  "/V1/carts/{cartId}/order":
    put:
      description: Places an order for a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              paymentMethod:
                $ref: "#/definitions/quote-data-payment-interface"
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Order ID.
            type: integer
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartManagementV1
  "/V1/carts/{cartId}/payment-methods":
    get:
      description: Lists available payment methods for a specified shopping cart. This call returns an array of objects, but detailed information about each object’s attributes might not be included.  See http://devdocs.magento.com/codelinks/attributes.html#PaymentMethodManagementInterface to determine which call to use to get detailed information about all attributes for an object.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Array of payment methods.
            items:
              $ref: "#/definitions/quote-data-payment-method-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quotePaymentMethodManagementV1
  "/V1/carts/{cartId}/selected-payment-method":
    get:
      description: Returns the payment method for a specified shopping cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-payment-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quotePaymentMethodManagementV1
    put:
      description: Adds a specified payment method to a specified shopping cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              method:
                $ref: "#/definitions/quote-data-payment-interface"
            required:
              - method
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            description: redirect url or error message.
            type: string
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quotePaymentMethodManagementV1
  "/V1/carts/{cartId}/shipping-information":
    post:
      description: ""
      parameters:
        - in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              addressInformation:
                $ref: "#/definitions/checkout-data-shipping-information-interface"
            required:
              - addressInformation
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/checkout-data-payment-details-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutShippingInformationManagementV1
  "/V1/carts/{cartId}/shipping-methods":
    get:
      description: Lists applicable shipping methods for a specified quote.
      parameters:
        - description: The shopping cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            description: An array of shipping methods.
            items:
              $ref: "#/definitions/quote-data-shipping-method-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteShippingMethodManagementV1
  "/V1/carts/{cartId}/totals":
    get:
      description: Returns quote totals data for a specified cart.
      parameters:
        - description: The cart ID.
          in: path
          name: cartId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-totals-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartTotalRepositoryV1
  "/V1/carts/{cartId}/totals-information":
    post:
      description: Calculate quote totals based on address and shipping method.
      parameters:
        - in: path
          name: cartId
          required: true
          type: integer
        - in: body
          name: $body
          schema:
            properties:
              addressInformation:
                $ref: "#/definitions/checkout-data-totals-information-interface"
            required:
              - addressInformation
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-totals-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - checkoutTotalsInformationManagementV1
  "/V1/carts/{quoteId}/giftCards":
    get:
      description: Return GiftCard Account cards
      operationId: giftCardAccountGiftCardAccountManagementV1GetListByQuoteIdGet
      parameters:
        - in: path
          name: quoteId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/gift-card-account-data-gift-card-account-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - giftCardAccountGiftCardAccountManagementV1
  "/V1/carts/{quoteId}/items":
    post:
      description: Add/update the specified cart item.
      parameters:
        - in: path
          name: quoteId
          required: true
          type: string
        - in: body
          name: $body
          schema:
            properties:
              cartItem:
                $ref: "#/definitions/quote-data-cart-item-interface"
            required:
              - cartItem
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/quote-data-cart-item-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - quoteCartItemRepositoryV1
  /V1/categories:
    get:
      description: Retrieve list of categories
      operationId: catalogCategoryManagementV1GetTreeGet
      parameters:
        - in: query
          name: rootCategoryId
          required: false
          type: integer
        - in: query
          name: depth
          required: false
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/catalog-data-category-tree-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - catalogCategoryManagementV1
    post:
      description: Create category service
      operationId: catalogCategoryRepositoryV1SavePost
      parameters:
        - in: body
          name: $body
          schema:
            properties:
              category:
                $ref: "#/definitions/catalog-data-category-interface"
            required:
              - category
            type: object
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/catalog-data-category-interface"
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - catalogCategoryRepositoryV1
  /V1/categories/attributes:
    get:
      description: Retrieve all attributes for entity type
      operationId: catalogCategoryAttributeRepositoryV1GetListGet
      parameters:
        - description: Field
          in: query
          name: searchCriteria[filterGroups][][filters][][field]
          type: string
        - description: Value
          in: query
          name: searchCriteria[filterGroups][][filters][][value]
          type: string
        - description: Condition type
          in: query
          name: searchCriteria[filterGroups][][filters][][conditionType]
          type: string
        - description: Sorting field.
          in: query
          name: searchCriteria[sortOrders][][field]
          type: string
        - description: Sorting direction.
          in: query
          name: searchCriteria[sortOrders][][direction]
          type: string
        - description: Page size.
          in: query
          name: searchCriteria[pageSize]
          type: integer
        - description: Current page.
          in: query
          name: searchCriteria[currentPage]
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/catalog-data-category-attribute-search-results-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - catalogCategoryAttributeRepositoryV1
  "/V1/categories/attributes/{attributeCode}":
    get:
      description: Retrieve specific attribute
      operationId: catalogCategoryAttributeRepositoryV1GetGet
      parameters:
        - in: path
          name: attributeCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            $ref: "#/definitions/catalog-data-category-attribute-interface"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - catalogCategoryAttributeRepositoryV1
  "/V1/categories/attributes/{attributeCode}/options":
    get:
      description: Retrieve list of attribute options
      operationId: catalogCategoryAttributeOptionManagementV1GetItemsGet
      parameters:
        - in: path
          name: attributeCode
          required: true
          type: string
      responses:
        "200":
          description: 200 Success.
          schema:
            items:
              $ref: "#/definitions/eav-data-attribute-option-interface"
            type: array
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - catalogCategoryAttributeOptionManagementV1
  "/V1/categories/{categoryId}":
    delete:
      description: Delete category by identifier
      operationId: catalogCategoryRepositoryV1DeleteByIdentifierDelete
      parameters:
        - in: path
          name: categoryId
          required: true
          type: integer
      responses:
        "200":
          description: 200 Success.
          schema:
            description: Will returned True if deleted
            type: boolean
        "400":
          description: 400 Bad Request
          schema:
            $ref: "#/definitions/error-response"
        "401":
          description: 401 Unauthorized
          schema:
            $ref: "#/definitions/error-response"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/error-response"
      tags:
        - catalogCategoryRepositoryV1
    get:
      description: Get info about category by category id
[...]
