openapi: 3.0.0
servers:
  - url: 'https://www.googleapis.com/tagmanager/v1'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Accesses Tag Manager accounts and containers.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Tag Manager
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - analytics
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/tagmanager/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: tagmanager
externalDocs:
  url: 'https://developers.google.com/tag-manager/api/v1/'
tags:
  - name: accounts
paths:
  /accounts:
    get:
      description: Lists all GTM Accounts that a user has access to.
      operationId: tagmanager.accounts.list
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/accounts/{accountId}':
    get:
      description: Gets a GTM Account.
      operationId: tagmanager.accounts.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a GTM Account.
      operationId: tagmanager.accounts.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the account in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.accounts'
      tags:
        - accounts
  '/accounts/{accountId}/containers':
    get:
      description: Lists all Containers that belongs to a GTM Account.
      operationId: tagmanager.accounts.containers.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListContainersResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a Container.
      operationId: tagmanager.accounts.containers.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Container'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}':
    delete:
      description: Deletes a Container.
      operationId: tagmanager.accounts.containers.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.delete.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.delete.containers'
      tags:
        - accounts
    get:
      description: Gets a Container.
      operationId: tagmanager.accounts.containers.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Container'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a Container.
      operationId: tagmanager.accounts.containers.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the container in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Container'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/environments':
    get:
      description: Lists all GTM Environments of a GTM Container.
      operationId: tagmanager.accounts.containers.environments.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListEnvironmentsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Environment'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/environments/{environmentId}':
    delete:
      description: Deletes a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
    get:
      description: Gets a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Environment'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the environment in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Environment'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/folders':
    get:
      description: Lists all GTM Folders of a Container.
      operationId: tagmanager.accounts.containers.folders.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListFoldersResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Folder'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/folders/{folderId}':
    delete:
      description: Deletes a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
    get:
      description: Gets a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Folder'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the folder in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Folder'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities':
    get:
      description: List all entities in a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.entities.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FolderEntities'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Moves entities to a GTM Folder.
      operationId: tagmanager.accounts.containers.move_folders.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
        - description: The tags to be moved to the folder.
          explode: true
          in: query
          name: tagId
          schema:
            items:
              type: string
            type: array
        - description: The triggers to be moved to the folder.
          explode: true
          in: query
          name: triggerId
          schema:
            items:
              type: string
            type: array
        - description: The variables to be moved to the folder.
          explode: true
          in: query
          name: variableId
          schema:
            items:
              type: string
            type: array
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Re-generates the authorization code for a GTM Environment.
      operationId: tagmanager.accounts.containers.reauthorize_environments.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Environment'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.publish'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.publish'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/tags':
    get:
      description: Lists all GTM Tags of a Container.
      operationId: tagmanager.accounts.containers.tags.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListTagsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Tag'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/tags/{tagId}':
    delete:
      description: Deletes a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Tag ID.
          in: path
          name: tagId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
    get:
      description: Gets a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Tag ID.
          in: path
          name: tagId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Tag'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Tag ID.
          in: path
          name: tagId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the tag in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Tag'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/triggers':
    get:
      description: Lists all GTM Triggers of a Container.
      operationId: tagmanager.accounts.containers.triggers.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListTriggersResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Trigger'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}':
    delete:
      description: Deletes a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Trigger ID.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
    get:
      description: Gets a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Trigger ID.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Trigger'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Trigger ID.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the trigger in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Trigger'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/variables':
    get:
      description: Lists all GTM Variables of a Container.
      operationId: tagmanager.accounts.containers.variables.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListVariablesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variable'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Variable'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/variables/{variableId}':
    delete:
      description: Deletes a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Variable ID.
          in: path
          name: variableId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
    get:
      description: Gets a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Variable ID.
          in: path
          name: variableId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Variable'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Variable ID.
          in: path
          name: variableId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the variable in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variable'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Variable'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/versions':
    get:
      description: Lists all Container Versions of a GTM Container.
      operationId: tagmanager.accounts.containers.versions.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: Retrieve headers only when true.
          in: query
          name: headers
          schema:
            default: false
            type: boolean
        - description: Also retrieve deleted (archived) versions when true.
          in: query
          name: includeDeleted
          schema:
            default: false
            type: boolean
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListContainerVersionsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a Container Version.
      operationId: tagmanager.accounts.containers.versions.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContainerVersionRequestVersionOptions'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateContainerVersionResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}':
    delete:
      description: Deletes a Container Version.
      operationId: tagmanager.accounts.containers.versions.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
      tags:
        - accounts
    get:
      description: Gets a Container Version.
      operationId: tagmanager.accounts.containers.versions.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID. Specify published to retrieve the currently published version.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContainerVersion'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.readonly'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a Container Version.
      operationId: tagmanager.accounts.containers.versions.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the container version in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerVersion'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContainerVersion'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Publishes a Container Version.
      operationId: tagmanager.accounts.containers.versions.publish
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
        - description: 'When provided, this fingerprint must match the fingerprint of the container version in storage.'
          in: query
          name: fingerprint
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublishContainerVersionResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.publish'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.publish'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Restores a Container Version. This will overwrite the container''s current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).'
      operationId: tagmanager.accounts.containers.versions.restore
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContainerVersion'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containers'
      tags:
        - accounts
  '/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Undeletes a Container Version.
      operationId: tagmanager.accounts.containers.versions.undelete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContainerVersion'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.edit.containerversions'
      tags:
        - accounts
  '/accounts/{accountId}/permissions':
    get:
      description: List all users that have access to the account along with Account and Container Permissions granted to each of them.
      operationId: tagmanager.accounts.permissions.list
      parameters:
        - description: The GTM Account ID. @required tagmanager.accounts.permissions.list
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListAccountUsersResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a user's Account & Container Permissions.
      operationId: tagmanager.accounts.permissions.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccess'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccess'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
      tags:
        - accounts
  '/accounts/{accountId}/permissions/{permissionId}':
    delete:
      description: 'Removes a user from the account, revoking access to it and all of its containers.'
      operationId: tagmanager.accounts.permissions.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM User ID.
          in: path
          name: permissionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
      tags:
        - accounts
    get:
      description: Gets a user's Account & Container Permissions.
      operationId: tagmanager.accounts.permissions.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM User ID.
          in: path
          name: permissionId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccess'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates a user's Account & Container Permissions.
      operationId: tagmanager.accounts.permissions.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM User ID.
          in: path
          name: permissionId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccess'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccess'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tagmanager.manage.users'
      tags:
        - accounts
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  requestBodies:
    Container:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Container'
    Environment:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Environment'
    Folder:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Folder'
    Tag:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Tag'
    Trigger:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Trigger'
    UserAccess:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserAccess'
    Variable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Variable'
  schemas:
    Account:
      description: Represents a Google Tag Manager Account.
      properties:
        accountId:
          description: The Account ID uniquely identifies the GTM Account.
          type: string
        fingerprint:
          description: The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.
          type: string
        name:
          description: Account display name.
          type: string
        shareData:
          description: Whether the account shares data anonymously with Google and others.
          type: boolean
      type: object
    AccountAccess:
      description: Defines the Google Tag Manager Account access permissions.
      properties:
        permission:
          description: List of Account permissions. Valid account permissions are read and manage.
          items:
            enum:
              - delete
              - edit
              - editWorkspace
              - manage
              - publish
              - read
            type: string
          type: array
      type: object
    Condition:
      description: Represents a predicate.
      properties:
        parameter:
          description: |-
            A list of named parameters (key/value), depending on the condition's type. Notes: 
            - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. 
            - At this time, the left operand (arg0) must be a reference to a variable. 
            - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. 
            - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        type:
          description: The type of operator for this condition.
          enum:
            - contains
            - cssSelector
            - endsWith
            - equals
            - greater
            - greaterOrEquals
            - less
            - lessOrEquals
            - matchRegex
            - startsWith
            - urlMatches
          type: string
      type: object
    Container:
      description: Represents a Google Tag Manager Container.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: The Container ID uniquely identifies the GTM Container.
          type: string
        domainName:
          description: Optional list of domain names associated with the Container.
          items:
            type: string
          type: array
        enabledBuiltInVariable:
          description: 'List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.'
          items:
            enum:
              - advertiserId
              - advertisingTrackingEnabled
              - ampBrowserLanguage
              - ampCanonicalHost
              - ampCanonicalPath
              - ampCanonicalUrl
              - ampClientId
              - ampClientMaxScrollX
              - ampClientMaxScrollY
              - ampClientScreenHeight
              - ampClientScreenWidth
              - ampClientScrollX
              - ampClientScrollY
              - ampClientTimestamp
              - ampClientTimezone
              - ampGtmEvent
              - ampPageDownloadTime
              - ampPageLoadTime
              - ampPageViewId
              - ampReferrer
              - ampTitle
              - ampTotalEngagedTime
              - appId
              - appName
              - appVersionCode
              - appVersionName
              - clickClasses
              - clickElement
              - clickId
              - clickTarget
              - clickText
              - clickUrl
              - containerId
              - containerVersion
              - debugMode
              - deviceName
              - elementVisibilityFirstTime
              - elementVisibilityRatio
              - elementVisibilityRecentTime
              - elementVisibilityTime
              - environmentName
              - errorLine
              - errorMessage
              - errorUrl
              - event
              - eventName
              - firebaseEventParameterCampaign
              - firebaseEventParameterCampaignAclid
              - firebaseEventParameterCampaignAnid
              - firebaseEventParameterCampaignClickTimestamp
              - firebaseEventParameterCampaignContent
              - firebaseEventParameterCampaignCp1
              - firebaseEventParameterCampaignGclid
              - firebaseEventParameterCampaignSource
              - firebaseEventParameterCampaignTerm
              - firebaseEventParameterCurrency
              - firebaseEventParameterDynamicLinkAcceptTime
              - firebaseEventParameterDynamicLinkLinkid
              - firebaseEventParameterNotificationMessageDeviceTime
              - firebaseEventParameterNotificationMessageId
              - firebaseEventParameterNotificationMessageName
              - firebaseEventParameterNotificationMessageTime
              - firebaseEventParameterNotificationTopic
              - firebaseEventParameterPreviousAppVersion
              - firebaseEventParameterPreviousOsVersion
              - firebaseEventParameterPrice
              - firebaseEventParameterProductId
              - firebaseEventParameterQuantity
              - firebaseEventParameterValue
              - formClasses
              - formElement
              - formId
              - formTarget
              - formText
              - formUrl
              - historySource
              - htmlId
              - language
              - newHistoryFragment
              - newHistoryState
              - newHistoryUrl
              - oldHistoryFragment
              - oldHistoryState
              - oldHistoryUrl
              - osVersion
              - pageHostname
              - pagePath
              - pageUrl
              - platform
              - randomNumber
              - referrer
              - resolution
              - scrollDepthDirection
              - scrollDepthThreshold
              - scrollDepthUnits
              - sdkVersion
              - videoCurrentTime
              - videoDuration
              - videoPercent
              - videoProvider
              - videoStatus
              - videoTitle
              - videoUrl
              - videoVisible
            type: string
          type: array
        fingerprint:
          description: The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.
          type: string
        name:
          description: Container display name.
          type: string
        notes:
          description: Container Notes.
          type: string
        publicId:
          description: Container Public ID.
          type: string
        timeZoneCountryId:
          description: Container Country ID.
          type: string
        timeZoneId:
          description: Container Time Zone ID.
          type: string
        usageContext:
          description: 'List of Usage Contexts for the Container. Valid values include: web, android, ios.'
          items:
            enum:
              - amp
              - android
              - androidSdk5
              - ios
              - iosSdk5
              - web
            type: string
          type: array
      type: object
    ContainerAccess:
      description: Defines the Google Tag Manager Container access permissions.
      properties:
        containerId:
          description: GTM Container ID.
          type: string
        permission:
          description: 'List of Container permissions. Valid container permissions are: read, edit, delete, publish.'
          items:
            enum:
              - delete
              - edit
              - editWorkspace
              - manage
              - publish
              - read
            type: string
          type: array
      type: object
    ContainerVersion:
      description: Represents a Google Tag Manager Container Version.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        container:
          $ref: '#/components/schemas/Container'
          description: The container that this version was taken from.
        containerId:
          description: GTM Container ID.
          type: string
        containerVersionId:
          description: The Container Version ID uniquely identifies the GTM Container Version.
          type: string
        deleted:
          description: A value of true indicates this container version has been deleted.
          type: boolean
        fingerprint:
          description: The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.
          type: string
        folder:
          description: The folders in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Folder'
          type: array
        macro:
          description: The macros in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Macro'
          type: array
        name:
          description: Container version display name.
          type: string
        notes:
          description: User notes on how to apply this container version in the container.
          type: string
        rule:
          description: The rules in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Rule'
          type: array
        tag:
          description: The tags in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        trigger:
          description: The triggers in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Trigger'
          type: array
        variable:
          description: The variables in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Variable'
          type: array
      type: object
    ContainerVersionHeader:
      description: Represents a Google Tag Manager Container Version Header.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        containerVersionId:
          description: The Container Version ID uniquely identifies the GTM Container Version.
          type: string
        deleted:
          description: A value of true indicates this container version has been deleted.
          type: boolean
        name:
          description: Container version display name.
          type: string
        numMacros:
          description: Number of macros in the container version.
          type: string
        numRules:
          description: Number of rules in the container version.
          type: string
        numTags:
          description: Number of tags in the container version.
          type: string
        numTriggers:
          description: Number of triggers in the container version.
          type: string
        numVariables:
          description: Number of variables in the container version.
          type: string
      type: object
    CreateContainerVersionRequestVersionOptions:
      description: Options for new container versions.
      properties:
        name:
          description: The name of the container version to be created.
          type: string
        notes:
          description: The notes of the container version to be created.
          type: string
        quickPreview:
          description: The creation of this version may be for quick preview and shouldn't be saved.
          type: boolean
      type: object
    CreateContainerVersionResponse:
      description: Create container versions response.
      properties:
        compilerError:
          description: Compiler errors or not.
          type: boolean
        containerVersion:
          $ref: '#/components/schemas/ContainerVersion'
          description: The container version created.
      type: object
    Environment:
      description: 'Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.'
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        authorizationCode:
          description: The environment authorization code.
          type: string
        authorizationTimestampMs:
          description: The last update time-stamp for the authorization code.
          format: int64
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        containerVersionId:
          description: ''
          type: string
        description:
          description: The environment description. Can be set or changed only on USER type environments.
          type: string
        enableDebug:
          description: Whether or not to enable debug by default on for the environment.
          type: boolean
        environmentId:
          description: GTM Environment ID uniquely identifies the GTM Environment.
          type: string
        fingerprint:
          description: The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.
          type: string
        name:
          description: The environment display name. Can be set or changed only on USER type environments.
          type: string
        type:
          description: The type of this environment.
          enum:
            - draft
            - latest
            - live
            - user
          type: string
        url:
          description: Default preview page url for the environment.
          type: string
      type: object
    Folder:
      description: Represents a Google Tag Manager Folder.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        fingerprint:
          description: The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.
          type: string
        folderId:
          description: The Folder ID uniquely identifies the GTM Folder.
          type: string
        name:
          description: Folder display name.
          type: string
      type: object
    FolderEntities:
      description: Represents a Google Tag Manager Folder's contents.
      properties:
        tag:
          description: The list of tags inside the folder.
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        trigger:
          description: The list of triggers inside the folder.
          items:
            $ref: '#/components/schemas/Trigger'
          type: array
        variable:
          description: The list of variables inside the folder.
          items:
            $ref: '#/components/schemas/Variable'
          type: array
      type: object
    ListAccountUsersResponse:
      description: List AccountUsers Response.
      properties:
        userAccess:
          description: All GTM AccountUsers of a GTM Account.
          items:
            $ref: '#/components/schemas/UserAccess'
          type: array
      type: object
    ListAccountsResponse:
      description: List Accounts Response.
      properties:
        accounts:
          description: List of GTM Accounts that a user has access to.
          items:
            $ref: '#/components/schemas/Account'
          type: array
      type: object
    ListContainerVersionsResponse:
      description: List container versions response.
      properties:
        containerVersion:
          description: All versions of a GTM Container.
          items:
            $ref: '#/components/schemas/ContainerVersion'
          type: array
        containerVersionHeader:
          description: All container version headers of a GTM Container.
          items:
            $ref: '#/components/schemas/ContainerVersionHeader'
          type: array
      type: object
    ListContainersResponse:
      description: List Containers Response.
      properties:
        containers:
          description: All Containers of a GTM Account.
          items:
            $ref: '#/components/schemas/Container'
          type: array
      type: object
    ListEnvironmentsResponse:
      description: List Environments Response.
      properties:
        environments:
          description: All Environments of a GTM Container.
          items:
            $ref: '#/components/schemas/Environment'
          type: array
      type: object
    ListFoldersResponse:
      description: List Folders Response.
      properties:
        folders:
          description: All GTM Folders of a GTM Container.
          items:
            $ref: '#/components/schemas/Folder'
          type: array
      type: object
    ListTagsResponse:
      description: List Tags Response.
      properties:
        tags:
          description: All GTM Tags of a GTM Container.
          items:
            $ref: '#/components/schemas/Tag'
          type: array
      type: object
    ListTriggersResponse:
      description: List triggers response.
      properties:
        triggers:
          description: All GTM Triggers of a GTM Container.
          items:
            $ref: '#/components/schemas/Trigger'
          type: array
      type: object
    ListVariablesResponse:
      description: List Variables Response.
      properties:
        variables:
          description: All GTM Variables of a GTM Container.
          items:
            $ref: '#/components/schemas/Variable'
          type: array
      type: object
    Macro:
      description: Represents a Google Tag Manager Macro.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        disablingRuleId:
          description: 'For mobile containers only: A list of rule IDs for disabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set.'
          items:
            type: string
          type: array
        enablingRuleId:
          description: 'For mobile containers only: A list of rule IDs for enabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set.'
          items:
            type: string
          type: array
        fingerprint:
          description: The fingerprint of the GTM Macro as computed at storage time. This value is recomputed whenever the macro is modified.
          type: string
        macroId:
          description: The Macro ID uniquely identifies the GTM Macro.
          type: string
        name:
          description: Macro display name.
          type: string
        notes:
          description: User notes on how to apply this macro in the container.
          type: string
        parameter:
          description: The macro's parameters.
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        parentFolderId:
          description: Parent folder id.
          type: string
        scheduleEndMs:
          description: The end timestamp in milliseconds to schedule a macro.
          format: int64
          type: string
        scheduleStartMs:
          description: The start timestamp in milliseconds to schedule a macro.
          format: int64
          type: string
        type:
          description: GTM Macro Type.
          type: string
      type: object
    Parameter:
      description: Represents a Google Tag Manager Parameter.
      properties:
        key:
          description: 'The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.'
          type: string
        list:
          description: This list parameter's parameters (keys will be ignored).
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        map:
          description: This map parameter's parameters (must have keys; keys must be unique).
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        type:
          description: |-
            The parameter type. Valid values are: 
            - boolean: The value represents a boolean, represented as 'true' or 'false' 
            - integer: The value represents a 64-bit signed integer value, in base 10 
            - list: A list of parameters should be specified 
            - map: A map of parameters should be specified 
            - template: The value represents any text; this can include variable references (even variable references that might return non-string types) 
            - trigger_reference: The value represents a trigger, represented as the trigger id
          enum:
            - boolean
            - integer
            - list
            - map
            - template
            - triggerReference
          type: string
        value:
          description: 'A parameter''s value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type.'
          type: string
      type: object
    PublishContainerVersionResponse:
      description: Publish container version response.
      properties:
        compilerError:
          description: Compiler errors or not.
          type: boolean
        containerVersion:
          $ref: '#/components/schemas/ContainerVersion'
          description: The container version created.
      type: object
    Rule:
      description: Represents a Google Tag Manager Rule.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        condition:
          description: The list of conditions that make up this rule (implicit AND between them).
          items:
            $ref: '#/components/schemas/Condition'
          type: array
        containerId:
          description: GTM Container ID.
          type: string
        fingerprint:
          description: The fingerprint of the GTM Rule as computed at storage time. This value is recomputed whenever the rule is modified.
          type: string
        name:
          description: Rule display name.
          type: string
        notes:
          description: User notes on how to apply this rule in the container.
          type: string
        ruleId:
          description: The Rule ID uniquely identifies the GTM Rule.
          type: string
      type: object
    SetupTag:
      properties:
        stopOnSetupFailure:
          description: 'If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.'
          type: boolean
        tagName:
          description: The name of the setup tag.
          type: string
      type: object
    Tag:
      description: Represents a Google Tag Manager Tag.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        blockingRuleId:
          description: 'Blocking rule IDs. If any of the listed rules evaluate to true, the tag will not fire.'
          items:
            type: string
          type: array
        blockingTriggerId:
          description: 'Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.'
          items:
            type: string
          type: array
        containerId:
          description: GTM Container ID.
          type: string
        fingerprint:
          description: The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.
          type: string
        firingRuleId:
          description: Firing rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds (if any specified) are false.
          items:
            type: string
          type: array
        firingTriggerId:
          description: Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.
          items:
            type: string
          type: array
        liveOnly:
          description: 'If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).'
          type: boolean
        name:
          description: Tag display name.
          type: string
        notes:
          description: User notes on how to apply this tag in the container.
          type: string
        parameter:
          description: The tag's parameters.
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        parentFolderId:
          description: Parent folder id.
          type: string
        paused:
          description: True if the tag is paused.
          type: boolean
        priority:
          $ref: '#/components/schemas/Parameter'
          description: User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.
        scheduleEndMs:
          description: The end timestamp in milliseconds to schedule a tag.
          format: int64
          type: string
        scheduleStartMs:
          description: The start timestamp in milliseconds to schedule a tag.
          format: int64
          type: string
        setupTag:
          description: The list of setup tags. Currently we only allow one.
          items:
            $ref: '#/components/schemas/SetupTag'
          type: array
        tagFiringOption:
          description: Option to fire this tag.
          enum:
            - oncePerEvent
            - oncePerLoad
            - unlimited
          type: string
        tagId:
          description: The Tag ID uniquely identifies the GTM Tag.
          type: string
        teardownTag:
          description: The list of teardown tags. Currently we only allow one.
          items:
            $ref: '#/components/schemas/TeardownTag'
          type: array
        type:
          description: GTM Tag Type.
          type: string
      type: object
    TeardownTag:
      properties:
        stopTeardownOnFailure:
          description: 'If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.'
          type: boolean
        tagName:
          description: The name of the teardown tag.
          type: string
      type: object
    Trigger:
      description: Represents a Google Tag Manager Trigger
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        autoEventFilter:
          description: Used in the case of auto event tracking.
          items:
            $ref: '#/components/schemas/Condition'
          type: array
        checkValidation:
          $ref: '#/components/schemas/Parameter'
          description: Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.
        containerId:
          description: GTM Container ID.
          type: string
        continuousTimeMinMilliseconds:
          $ref: '#/components/schemas/Parameter'
          description: A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.
        customEventFilter:
          description: 'Used in the case of custom event, which is fired iff all Conditions are true.'
          items:
            $ref: '#/components/schemas/Condition'
          type: array
        eventName:
          $ref: '#/components/schemas/Parameter'
          description: Name of the GTM event that is fired. Only valid for Timer triggers.
        filter:
          description: The trigger will only fire iff all Conditions are true.
          items:
            $ref: '#/components/schemas/Condition'
          type: array
        fingerprint:
          description: The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.
          type: string
        horizontalScrollPercentageList:
          $ref: '#/components/schemas/Parameter'
          description: List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.
        interval:
          $ref: '#/components/schemas/Parameter'
          description: Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.
        intervalSeconds:
          $ref: '#/components/schemas/Parameter'
          description: Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.
        limit:
          $ref: '#/components/schemas/Parameter'
          description: 'Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.'
        maxTimerLengthSeconds:
          $ref: '#/components/schemas/Parameter'
          description: Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.
        name:
          description: Trigger display name.
          type: string
        parameter:
          description: Additional parameters.
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        parentFolderId:
          description: Parent folder id.
          type: string
        selector:
          $ref: '#/components/schemas/Parameter'
          description: 'A click trigger CSS selector (i.e. "a", "button" etc.). Only valid for AMP Click trigger.'
        totalTimeMinMilliseconds:
          $ref: '#/components/schemas/Parameter'
          description: A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.
        triggerId:
          description: The Trigger ID uniquely identifies the GTM Trigger.
          type: string
        type:
          description: Defines the data layer event that causes this trigger.
          enum:
            - always
            - ampClick
            - ampScroll
            - ampTimer
            - ampVisibility
            - click
            - customEvent
            - domReady
            - elementVisibility
            - formSubmission
            - historyChange
            - jsError
            - linkClick
            - pageview
            - scrollDepth
            - timer
            - triggerGroup
            - windowLoaded
            - youTubeVideo
          type: string
        uniqueTriggerId:
          $ref: '#/components/schemas/Parameter'
[...]
