swagger: '2.0'
schemes:
  - https
  - http
host: resource-groups.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS Resource Groups</fullname> <p>AWS Resource Groups lets you organize AWS resources such as Amazon EC2 instances, Amazon Relational Database Service databases, and Amazon S3 buckets into groups using criteria that you define as tags. A resource group is a collection of resources that match the resource types specified in a query, and share one or more tags or portions of tags. You can create a group of resources based on their roles in your cloud infrastructure, lifecycle stages, regions, application layers, or virtually any criteria. Resource groups enable you to automate management tasks, such as those in AWS Systems Manager Automation documents, on tag-related resources in AWS Systems Manager. Groups of tagged resources also let you quickly view a custom console in AWS Systems Manager that shows AWS Config compliance and other monitoring data about member resources.</p> <p>To create a resource group, build a resource query, and specify tags that identify the criteria that members of the group have in common. Tags are key-value pairs.</p> <p>For more information about Resource Groups, see the <a href="https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html">AWS Resource Groups User Guide</a>.</p> <p>AWS Resource Groups uses a REST-compliant API that you can use to perform the following types of operations.</p> <ul> <li> <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and resource query entities</p> </li> <li> <p>Applying, editing, and removing tags from resource groups</p> </li> <li> <p>Resolving resource group member ARNs so they can be returned as search results</p> </li> <li> <p>Getting data about resources that are members of a group</p> </li> <li> <p>Searching AWS resources based on a resource query</p> </li> </ul>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Resource Groups
  version: '2017-11-27'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/resource-groups-2017-11-27.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: resource-groups
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/resource-groups/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /groups:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a group with a specified name, description, and resource query.'
      operationId: CreateGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Description:
                description: 'The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.'
                maxLength: 512
                pattern: '[\sa-zA-Z0-9_\.-]*'
                type: string
              Name:
                description: 'The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 128 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.'
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9_\.-]+'
                type: string
              ResourceQuery:
                description: The query that is used to define a resource group or a search for resources.
                properties:
                  Query:
                    $ref: '#/definitions/Query'
                    description: The query that defines a group or a search.
                  Type:
                    $ref: '#/definitions/QueryType'
                    description: '<p>The type of the query. The valid values in this release are <code>TAG_FILTERS_1_0</code> and <code>CLOUDFORMATION_STACK_1_0</code>.</p> <p> <i> <code>TAG_FILTERS_1_0:</code> </i> A JSON syntax that lets you specify a collection of simple tag filters for resource types and tags, as supported by the AWS Tagging API <a href="https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html">GetResources</a> operation. If you specify more than one tag key, only resources that match all tag keys, and at least one value of each specified tag key, are returned in your query. If you specify more than one value for a tag key, a resource matches the filter if it has a tag key value that matches <i>any</i> of the specified values.</p> <p>For example, consider the following sample query for resources that have two tags, <code>Stage</code> and <code>Version</code>, with two values each. (<code>[{"Key":"Stage","Values":["Test","Deploy"]},{"Key":"Version","Values":["1","2"]}]</code>) The results of this query might include the following.</p> <ul> <li> <p>An EC2 instance that has the following two tags: <code>{"Key":"Stage","Value":"Deploy"}</code>, and <code>{"Key":"Version","Value":"2"}</code> </p> </li> <li> <p>An S3 bucket that has the following two tags: {"Key":"Stage","Value":"Test"}, and {"Key":"Version","Value":"1"}</p> </li> </ul> <p>The query would not return the following results, however. The following EC2 instance does not have all tag keys specified in the filter, so it is rejected. The RDS database has all of the tag keys, but no values that match at least one of the specified tag key values in the filter.</p> <ul> <li> <p>An EC2 instance that has only the following tag: <code>{"Key":"Stage","Value":"Deploy"}</code>.</p> </li> <li> <p>An RDS database that has the following two tags: <code>{"Key":"Stage","Value":"Archived"}</code>, and <code>{"Key":"Version","Value":"4"}</code> </p> </li> </ul> <p> <i> <code>CLOUDFORMATION_STACK_1_0:</code> </i> A JSON syntax that lets you specify a CloudFormation stack ARN.</p>'
                type: object
              Tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: 'The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
                type: object
            required:
              - Name
              - ResourceQuery
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /groups-list:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of existing resource groups in your account.
      operationId: ListGroups
      parameters:
        - description: 'The maximum number of resource group results that are returned by ListGroups in paginated output. By default, this number is 50.'
          in: query
          maximum: 50
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: 'The NextToken value that is returned in a paginated <code>ListGroups</code> request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.'
          in: query
          maxLength: 8192
          minLength: 0
          name: nextToken
          pattern: '^[a-zA-Z0-9+/]*={0,2}$'
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Filters:
                description: '<p>Filters, formatted as GroupFilter objects, that you want to apply to a ListGroups operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter groups by resource type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType. For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>'
                items:
                  $ref: '#/definitions/GroupFilter'
                type: array
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/groups/{GroupName}':
    delete:
      description: Deletes a specified resource group. Deleting a resource group does not delete resources that are members of the group; it only deletes the group structure.
      operationId: DeleteGroup
      parameters:
        - description: The name of the resource group to delete.
          in: path
          maxLength: 128
          minLength: 1
          name: GroupName
          pattern: '[a-zA-Z0-9_\.-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Returns information about a specified resource group.
      operationId: GetGroup
      parameters:
        - description: The name of the resource group.
          in: path
          maxLength: 128
          minLength: 1
          name: GroupName
          pattern: '[a-zA-Z0-9_\.-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing group with a new or changed description. You cannot update the name of a resource group.
      operationId: UpdateGroup
      parameters:
        - description: The name of the resource group for which you want to update its description.
          in: path
          maxLength: 128
          minLength: 1
          name: GroupName
          pattern: '[a-zA-Z0-9_\.-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Description:
                description: 'The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.'
                maxLength: 512
                pattern: '[\sa-zA-Z0-9_\.-]*'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/groups/{GroupName}/query':
    get:
      description: Returns the resource query associated with the specified resource group.
      operationId: GetGroupQuery
      parameters:
        - description: The name of the resource group.
          in: path
          maxLength: 128
          minLength: 1
          name: GroupName
          pattern: '[a-zA-Z0-9_\.-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupQueryOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the resource query of a group.
      operationId: UpdateGroupQuery
      parameters:
        - description: The name of the resource group for which you want to edit the query.
          in: path
          maxLength: 128
          minLength: 1
          name: GroupName
          pattern: '[a-zA-Z0-9_\.-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ResourceQuery:
                description: The query that is used to define a resource group or a search for resources.
                properties:
                  Query:
                    $ref: '#/definitions/Query'
                    description: The query that defines a group or a search.
                  Type:
                    $ref: '#/definitions/QueryType'
                    description: '<p>The type of the query. The valid values in this release are <code>TAG_FILTERS_1_0</code> and <code>CLOUDFORMATION_STACK_1_0</code>.</p> <p> <i> <code>TAG_FILTERS_1_0:</code> </i> A JSON syntax that lets you specify a collection of simple tag filters for resource types and tags, as supported by the AWS Tagging API <a href="https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html">GetResources</a> operation. If you specify more than one tag key, only resources that match all tag keys, and at least one value of each specified tag key, are returned in your query. If you specify more than one value for a tag key, a resource matches the filter if it has a tag key value that matches <i>any</i> of the specified values.</p> <p>For example, consider the following sample query for resources that have two tags, <code>Stage</code> and <code>Version</code>, with two values each. (<code>[{"Key":"Stage","Values":["Test","Deploy"]},{"Key":"Version","Values":["1","2"]}]</code>) The results of this query might include the following.</p> <ul> <li> <p>An EC2 instance that has the following two tags: <code>{"Key":"Stage","Value":"Deploy"}</code>, and <code>{"Key":"Version","Value":"2"}</code> </p> </li> <li> <p>An S3 bucket that has the following two tags: {"Key":"Stage","Value":"Test"}, and {"Key":"Version","Value":"1"}</p> </li> </ul> <p>The query would not return the following results, however. The following EC2 instance does not have all tag keys specified in the filter, so it is rejected. The RDS database has all of the tag keys, but no values that match at least one of the specified tag key values in the filter.</p> <ul> <li> <p>An EC2 instance that has only the following tag: <code>{"Key":"Stage","Value":"Deploy"}</code>.</p> </li> <li> <p>An RDS database that has the following two tags: <code>{"Key":"Stage","Value":"Archived"}</code>, and <code>{"Key":"Version","Value":"4"}</code> </p> </li> </ul> <p> <i> <code>CLOUDFORMATION_STACK_1_0:</code> </i> A JSON syntax that lets you specify a CloudFormation stack ARN.</p>'
                type: object
            required:
              - ResourceQuery
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupQueryOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/groups/{GroupName}/resource-identifiers-list':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of ARNs of resources that are members of a specified resource group.
      operationId: ListGroupResources
      parameters:
        - description: The name of the resource group.
          in: path
          maxLength: 128
          minLength: 1
          name: GroupName
          pattern: '[a-zA-Z0-9_\.-]+'
          required: true
          type: string
        - description: 'The maximum number of group member ARNs that are returned in a single call by ListGroupResources, in paginated output. By default, this number is 50.'
          in: query
          maximum: 50
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: 'The NextToken value that is returned in a paginated ListGroupResources request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.'
          in: query
          maxLength: 8192
          minLength: 0
          name: nextToken
          pattern: '^[a-zA-Z0-9+/]*={0,2}$'
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Filters:
                description: '<p>Filters, formatted as ResourceFilter objects, that you want to apply to a ListGroupResources operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter resources by their type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType. For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>'
                items:
                  $ref: '#/definitions/ResourceFilter'
                type: array
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupResourcesOutput'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /resources/search:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of AWS resource identifiers that matches a specified query. The query uses the same format as a resource query in a CreateGroup or UpdateGroupQuery operation.
      operationId: SearchResources
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: 'The maximum number of group member ARNs returned by <code>SearchResources</code> in paginated output. By default, this number is 50.'
                maximum: 50
                minimum: 1
                type: integer
              NextToken:
                description: 'The NextToken value that is returned in a paginated <code>SearchResources</code> request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.'
                maxLength: 8192
                minLength: 0
                pattern: '^[a-zA-Z0-9+/]*={0,2}$'
                type: string
              ResourceQuery:
                description: The query that is used to define a resource group or a search for resources.
                properties:
                  Query:
                    $ref: '#/definitions/Query'
                    description: The query that defines a group or a search.
                  Type:
                    $ref: '#/definitions/QueryType'
                    description: '<p>The type of the query. The valid values in this release are <code>TAG_FILTERS_1_0</code> and <code>CLOUDFORMATION_STACK_1_0</code>.</p> <p> <i> <code>TAG_FILTERS_1_0:</code> </i> A JSON syntax that lets you specify a collection of simple tag filters for resource types and tags, as supported by the AWS Tagging API <a href="https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html">GetResources</a> operation. If you specify more than one tag key, only resources that match all tag keys, and at least one value of each specified tag key, are returned in your query. If you specify more than one value for a tag key, a resource matches the filter if it has a tag key value that matches <i>any</i> of the specified values.</p> <p>For example, consider the following sample query for resources that have two tags, <code>Stage</code> and <code>Version</code>, with two values each. (<code>[{"Key":"Stage","Values":["Test","Deploy"]},{"Key":"Version","Values":["1","2"]}]</code>) The results of this query might include the following.</p> <ul> <li> <p>An EC2 instance that has the following two tags: <code>{"Key":"Stage","Value":"Deploy"}</code>, and <code>{"Key":"Version","Value":"2"}</code> </p> </li> <li> <p>An S3 bucket that has the following two tags: {"Key":"Stage","Value":"Test"}, and {"Key":"Version","Value":"1"}</p> </li> </ul> <p>The query would not return the following results, however. The following EC2 instance does not have all tag keys specified in the filter, so it is rejected. The RDS database has all of the tag keys, but no values that match at least one of the specified tag key values in the filter.</p> <ul> <li> <p>An EC2 instance that has only the following tag: <code>{"Key":"Stage","Value":"Deploy"}</code>.</p> </li> <li> <p>An RDS database that has the following two tags: <code>{"Key":"Stage","Value":"Archived"}</code>, and <code>{"Key":"Version","Value":"4"}</code> </p> </li> </ul> <p> <i> <code>CLOUDFORMATION_STACK_1_0:</code> </i> A JSON syntax that lets you specify a CloudFormation stack ARN.</p>'
                type: object
            required:
              - ResourceQuery
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchResourcesOutput'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/resources/{Arn}/tags':
    get:
      description: 'Returns a list of tags that are associated with a resource group, specified by an ARN.'
      operationId: GetTags
      parameters:
        - description: The ARN of the resource group for which you want a list of tags. The resource must exist within the account you are using.
          in: path
          maxLength: 1600
          minLength: 12
          name: Arn
          pattern: 'arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}-[a-z]+-\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\.-]{1,128}'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTagsOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Deletes specified tags from a specified resource.
      operationId: Untag
      parameters:
        - description: The ARN of the resource from which to remove tags.
          in: path
          maxLength: 1600
          minLength: 12
          name: Arn
          pattern: 'arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}-[a-z]+-\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\.-]{1,128}'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Keys:
                description: The keys of the tags to be removed.
                items:
                  $ref: '#/definitions/TagKey'
                type: array
            required:
              - Keys
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    put:
      description: Adds tags to a resource group with the specified ARN. Existing tags on a resource group are not changed if they are not specified in the request parameters.
      operationId: Tag
      parameters:
        - description: The ARN of the resource to which to add tags.
          in: path
          maxLength: 1600
          minLength: 12
          name: Arn
          pattern: 'arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}-[a-z]+-\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\.-]{1,128}'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: 'The tags to add to the specified resource. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
                type: object
            required:
              - Tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
definitions:
  BadRequestException: {}
  CreateGroupInput:
    properties:
      Description:
        $ref: '#/definitions/GroupDescription'
        description: 'The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.'
      Name:
        $ref: '#/definitions/GroupName'
        description: 'The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 128 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.'
      ResourceQuery:
        $ref: '#/definitions/ResourceQuery'
        description: The resource query that determines which AWS resources are members of this group.
      Tags:
        $ref: '#/definitions/Tags'
        description: 'The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
    required:
      - Name
      - ResourceQuery
    type: object
  CreateGroupOutput:
    properties:
      Group:
        $ref: '#/definitions/Group'
        description: A full description of the resource group after it is created.
      ResourceQuery:
        $ref: '#/definitions/ResourceQuery'
        description: The resource query associated with the group.
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags associated with the group.
    type: object
  DeleteGroupInput:
    properties: {}
    type: object
  DeleteGroupOutput:
    properties:
      Group:
        $ref: '#/definitions/Group'
        description: A full description of the deleted resource group.
    type: object
  ForbiddenException: {}
  GetGroupInput:
    properties: {}
    type: object
  GetGroupOutput:
    properties:
      Group:
        $ref: '#/definitions/Group'
        description: A full description of the resource group.
    type: object
  GetGroupQueryInput:
    properties: {}
    type: object
  GetGroupQueryOutput:
    properties:
      GroupQuery:
        $ref: '#/definitions/GroupQuery'
        description: The resource query associated with the specified group.
    type: object
  GetTagsInput:
    properties: {}
    type: object
  GetTagsOutput:
    properties:
      Arn:
        $ref: '#/definitions/GroupArn'
        description: The ARN of the tagged resource group.
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags associated with the specified resource group.
    type: object
  Group:
    description: A resource group.
    properties:
      Description:
        $ref: '#/definitions/GroupDescription'
        description: The description of the resource group.
      GroupArn:
        $ref: '#/definitions/GroupArn'
        description: The ARN of a resource group.
      Name:
        $ref: '#/definitions/GroupName'
        description: The name of a resource group.
    required:
      - GroupArn
      - Name
    type: object
  GroupArn:
    maxLength: 1600
    minLength: 12
    pattern: 'arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}-[a-z]+-\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\.-]{1,128}'
    type: string
  GroupDescription:
    maxLength: 512
    pattern: '[\sa-zA-Z0-9_\.-]*'
    type: string
  GroupFilter:
    description: A filter name and value pair that is used to obtain more specific results from a list of groups.
    properties:
      Name:
        $ref: '#/definitions/GroupFilterName'
        description: The name of the filter. Filter names are case-sensitive.
      Values:
        $ref: '#/definitions/GroupFilterValues'
        description: 'One or more filter values. Allowed filter values vary by group filter name, and are case-sensitive.'
    required:
      - Name
      - Values
    type: object
  GroupFilterList:
    items:
      $ref: '#/definitions/GroupFilter'
    type: array
  GroupFilterName:
    enum:
      - resource-type
    type: string
  GroupFilterValue:
    maxLength: 128
    minLength: 1
    pattern: 'AWS::(AllSupported|[a-zA-Z0-9]+::[a-zA-Z0-9]+)'
    type: string
  GroupFilterValues:
    items:
      $ref: '#/definitions/GroupFilterValue'
    maxItems: 5
    minItems: 1
    type: array
  GroupIdentifier:
    description: The ARN and group name of a group.
    properties:
      GroupArn:
        $ref: '#/definitions/GroupArn'
        description: The ARN of a resource group.
      GroupName:
        $ref: '#/definitions/GroupName'
        description: The name of a resource group.
    type: object
  GroupIdentifierList:
    items:
      $ref: '#/definitions/GroupIdentifier'
    type: array
  GroupList:
    items:
      $ref: '#/definitions/Group'
    type: array
  GroupName:
    maxLength: 128
    minLength: 1
    pattern: '[a-zA-Z0-9_\.-]+'
    type: string
  GroupQuery:
    description: The underlying resource query of a resource group. Resources that match query results are part of the group.
    properties:
      GroupName:
        $ref: '#/definitions/GroupName'
        description: The name of a resource group that is associated with a specific resource query.
      ResourceQuery:
        $ref: '#/definitions/ResourceQuery'
        description: The resource query which determines which AWS resources are members of the associated resource group.
    required:
      - GroupName
      - ResourceQuery
    type: object
  InternalServerErrorException: {}
  ListGroupResourcesInput:
    properties:
      Filters:
        $ref: '#/definitions/ResourceFilterList'
        description: '<p>Filters, formatted as ResourceFilter objects, that you want to apply to a ListGroupResources operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter resources by their type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType. For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>'
    type: object
  ListGroupResourcesOutput:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The NextToken value to include in a subsequent <code>ListGroupResources</code> request, to get more results.'
      QueryErrors:
        $ref: '#/definitions/QueryErrorList'
        description: A list of <code>QueryError</code> objects. Each error is an object that contains <code>ErrorCode</code> and <code>Message</code> structures. Possible values for <code>ErrorCode</code> are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.
      ResourceIdentifiers:
        $ref: '#/definitions/ResourceIdentifierList'
        description: The ARNs and resource types of resources that are members of the group that you specified.
    type: object
  ListGroupsInput:
    properties:
      Filters:
        $ref: '#/definitions/GroupFilterList'
        description: '<p>Filters, formatted as GroupFilter objects, that you want to apply to a ListGroups operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter groups by resource type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType. For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>'
    type: object
  ListGroupsOutput:
    properties:
      GroupIdentifiers:
        $ref: '#/definitions/GroupIdentifierList'
        description: A list of GroupIdentifier objects. Each identifier is an object that contains both the GroupName and the GroupArn.
      Groups:
        $ref: '#/definitions/GroupList'
        description: 'A list of resource groups.This field is deprecated, use GroupIdentifiers instead.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The NextToken value to include in a subsequent <code>ListGroups</code> request, to get more results.'
    type: object
  MaxResults:
    maximum: 50
    minimum: 1
    type: integer
  MethodNotAllowedException: {}
  NextToken:
    maxLength: 8192
    minLength: 0
    pattern: '^[a-zA-Z0-9+/]*={0,2}$'
    type: string
  NotFoundException: {}
  Query:
    maxLength: 4096
    pattern: '[\s\S]*'
    type: string
  QueryError:
    description: 'A two-part error structure that can occur in <code>ListGroupResources</code> or <code>SearchResources</code> operations on CloudFormation stack-based queries. The error occurs if the CloudFormation stack on which the query is based either does not exist, or has a status that renders the stack inactive. A <code>QueryError</code> occurrence does not necessarily mean that AWS Resource Groups could not complete the operation, but the resulting group might have no member resources.'
    properties:
      ErrorCode:
        $ref: '#/definitions/QueryErrorCode'
        description: Possible values are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.
      Message:
        $ref: '#/definitions/QueryErrorMessage'
        description: 'A message that explains the <code>ErrorCode</code> value. Messages might state that the specified CloudFormation stack does not exist (or no longer exists). For <code>CLOUDFORMATION_STACK_INACTIVE</code>, the message typically states that the CloudFormation stack has a status that is not (or no longer) active, such as <code>CREATE_FAILED</code>.'
    type: object
  QueryErrorCode:
    enum:
      - CLOUDFORMATION_STACK_INACTIVE
      - CLOUDFORMATION_STACK_NOT_EXISTING
    type: string
  QueryErrorList:
    items:
      $ref: '#/definitions/QueryError'
    type: array
  QueryErrorMessage:
    type: string
  QueryType:
    enum:
      - TAG_FILTERS_1_0
      - CLOUDFORMATION_STACK_1_0
    maxLength: 128
    minLength: 1
    pattern: ^\w+$
    type: string
  ResourceArn:
    pattern: 'arn:aws(-[a-z]+)*:[a-z0-9\-]*:([a-z]{2}-[a-z]+-\d{1})?:([0-9]{12})?:.+'
    type: string
  ResourceFilter:
    description: A filter name and value pair that is used to obtain more specific results from a list of resources.
    properties:
      Name:
        $ref: '#/definitions/ResourceFilterName'
        description: The name of the filter. Filter names are case-sensitive.
      Values:
        $ref: '#/definitions/ResourceFilterValues'
        description: 'One or more filter values. Allowed filter values vary by resource filter name, and are case-sensitive.'
    required:
      - Name
      - Values
    type: object
  ResourceFilterList:
    items:
      $ref: '#/definitions/ResourceFilter'
    type: array
  ResourceFilterName:
    enum:
      - resource-type
    type: string
  ResourceFilterValue:
    maxLength: 128
    minLength: 1
    pattern: 'AWS::[a-zA-Z0-9]+::[a-zA-Z0-9]+'
    type: string
  ResourceFilterValues:
    items:
      $ref: '#/definitions/ResourceFilterValue'
    maxItems: 5
    minItems: 1
    type: array
  ResourceIdentifier:
    description: 'The ARN of a resource, and its resource type.'
    properties:
      ResourceArn:
        $ref: '#/definitions/ResourceArn'
        description: The ARN of a resource.
      ResourceType:
        $ref: '#/definitions/ResourceType'
        description: 'The resource type of a resource, such as <code>AWS::EC2::Instance</code>.'
    type: object
  ResourceIdentifierList:
    items:
      $ref: '#/definitions/ResourceIdentifier'
    type: array
  ResourceQuery:
    description: The query that is used to define a resource group or a search for resources.
    properties:
      Query:
        $ref: '#/definitions/Query'
        description: The query that defines a group or a search.
      Type:
        $ref: '#/definitions/QueryType'
        description: '<p>The type of the query. The valid values in this release are <code>TAG_FILTERS_1_0</code> and <code>CLOUDFORMATION_STACK_1_0</code>.</p> <p> <i> <code>TAG_FILTERS_1_0:</code> </i> A JSON syntax that lets you specify a collection of simple tag filters for resource types and tags, as supported by the AWS Tagging API <a href="https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html">GetResources</a> operation. If you specify more than one tag key, only resources that match all tag keys, and at least one value of each specified tag key, are returned in your query. If you specify more than one value for a tag key, a resource matches the filter if it has a tag key value that matches <i>any</i> of the specified values.</p> <p>For example, consider the following sample query for resources that have two tags, <code>Stage</code> and <code>Version</code>, with two values each. (<code>[{"Key":"Stage","Values":["Test","Deploy"]},{"Key":"Version","Values":["1","2"]}]</code>) The results of this query might include the following.</p> <ul> <li> <p>An EC2 instance that has the following two tags: <code>{"Key":"Stage","Value":"Deploy"}</code>, and <code>{"Key":"Version","Value":"2"}</code> </p> </li> <li> <p>An S3 bucket that has the following two tags: {"Key":"Stage","Value":"Test"}, and {"Key":"Version","Value":"1"}</p> </li> </ul> <p>The query would not return the following results, however. The following EC2 instance does not have all tag keys specified in the filter, so it is rejected. The RDS database has all of the tag keys, but no values that match at least one of the specified tag key values in the filter.</p> <ul> <li> <p>An EC2 instance that has only the following tag: <code>{"Key":"Stage","Value":"Deploy"}</code>.</p> </li> <li> <p>An RDS database that has the following two tags: <code>{"Key":"Stage","Value":"Archived"}</code>, and <code>{"Key":"Version","Value":"4"}</code> </p> </li> </ul> <p> <i> <code>CLOUDFORMATION_STACK_1_0:</code> </i> A JSON syntax that lets you specify a CloudFormation stack ARN.</p>'
    required:
      - Type
      - Query
    type: object
  ResourceType:
    pattern: 'AWS::[a-zA-Z0-9]+::\w+'
    type: string
  SearchResourcesInput:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of group member ARNs returned by <code>SearchResources</code> in paginated output. By default, this number is 50.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The NextToken value that is returned in a paginated <code>SearchResources</code> request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.'
      ResourceQuery:
        $ref: '#/definitions/ResourceQuery'
        description: 'The search query, using the same formats that are supported for resource group definition.'
    required:
      - ResourceQuery
    type: object
  SearchResourcesOutput:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The NextToken value to include in a subsequent <code>SearchResources</code> request, to get more results.'
      QueryErrors:
        $ref: '#/definitions/QueryErrorList'
        description: A list of <code>QueryError</code> objects. Each error is an object that contains <code>ErrorCode</code> and <code>Message</code> structures. Possible values for <code>ErrorCode</code> are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.
      ResourceIdentifiers:
        $ref: '#/definitions/ResourceIdentifierList'
        description: The ARNs and resource types of resources that are members of the group that you specified.
    type: object
  TagInput:
    properties:
      Tags:
        $ref: '#/definitions/Tags'
        description: 'The tags to add to the specified resource. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.'
    required:
      - Tags
    type: object
  TagKey:
    maxLength: 128
    minLength: 1
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/TagKey'
    type: array
  TagOutput:
    properties:
      Arn:
        $ref: '#/definitions/GroupArn'
        description: The ARN of the tagged resource.
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags that have been added to the specified resource.
    type: object
  TagValue:
    maxLength: 256
    minLength: 0
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'
    type: string
  Tags:
    additionalProperties:
      $ref: '#/definitions/TagValue'
    type: object
  TooManyRequestsException: {}
  UnauthorizedException: {}
  UntagInput:
    properties:
      Keys:
        $ref: '#/definitions/TagKeyList'
        description: The keys of the tags to be removed.
    required:
      - Keys
    type: object
  UntagOutput:
    properties:
      Arn:
        $ref: '#/definitions/GroupArn'
        description: The ARN of the resource from which tags have been removed.
      Keys:
        $ref: '#/definitions/TagKeyList'
        description: The keys of tags that have been removed.
    type: object
  UpdateGroupInput:
    properties:
      Description:
        $ref: '#/definitions/GroupDescription'
        description: 'The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.'
    type: object
  UpdateGroupOutput:
    properties:
      Group:
        $ref: '#/definitions/Group'
        description: The full description of the resource group after it has been updated.
    type: object
  UpdateGroupQueryInput:
    properties:
      ResourceQuery:
        $ref: '#/definitions/ResourceQuery'
        description: The resource query that determines which AWS resources are members of the resource group.
    required:
      - ResourceQuery
    type: object
  UpdateGroupQueryOutput:
    properties:
      GroupQuery:
        $ref: '#/definitions/GroupQuery'
        description: The resource query associated with the resource group after the update.
    type: object
x-servers:
  - description: The Resource Groups multi-region endpoint
    url: 'http://resource-groups.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Resource Groups multi-region endpoint
    url: 'https://resource-groups.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Resource Groups endpoint for China (Beijing) and China (Ningxia)
    url: 'http://resource-groups.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Resource Groups endpoint for China (Beijing) and China (Ningxia)
    url: 'https://resource-groups.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
