openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Sync
  version: 1.10.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_sync_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_sync_v1
paths:
  /v1/Services:
    description: Containers for sync objects
    get:
      description: ""
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/sync.v1.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AclEnabled:
                  description: Whether token identities in the Service must be granted access to Sync objects by using the [Permissions](https://www.twilio.com/docs/sync/api/sync-permissions) resource.
                  type: boolean
                FriendlyName:
                  description: A string that you assign to describe the resource.
                  type: string
                ReachabilityDebouncingEnabled:
                  description: Whether every `endpoint_disconnected` event should occur after a configurable delay. The default is `false`, where the `endpoint_disconnected` event occurs immediately after disconnection. When `true`, intervening reconnections can prevent the `endpoint_disconnected` event.
                  type: boolean
                ReachabilityDebouncingWindow:
                  description: The reachability event delay in milliseconds if `reachability_debouncing_enabled` = `true`.  Must be between 1,000 and 30,000 and defaults to 5,000. This is the number of milliseconds after the last running client disconnects, and a Sync identity is declared offline, before the `webhook_url` is called if all endpoints remain offline. A reconnection from the same identity by any endpoint during this interval prevents the call to `webhook_url`.
                  type: integer
                ReachabilityWebhooksEnabled:
                  description: Whether the service instance should call `webhook_url` when client endpoints connect to Sync. The default is `false`.
                  type: boolean
                WebhookUrl:
                  description: The URL we should call when Sync objects are manipulated.
                  format: uri
                  type: string
                WebhooksFromRestEnabled:
                  description: Whether the Service instance should call `webhook_url` when the REST API is used to update Sync objects. The default is `false`.
                  type: boolean
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: list
  "/v1/Services/{ServiceSid}/Documents":
    description: Sync Document objects
    get:
      description: ""
      operationId: ListDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  documents:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.document"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Document resource in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Sync Document stores. Can be up to 16 KiB in length.
                  type: object
                Ttl:
                  description: How long, in seconds, before the Sync Document expires and is deleted (the Sync Document's time-to-live). Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Sync Document does not expire. The Sync Document will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the Sync Document
                  type: string
              title: CreateDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - revision
    x-path-type: list
  "/v1/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions":
    description: Sync document permissions
    get:
      description: Retrieve a list of all Permissions applying to a Sync Document.
      operationId: ListDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resources to read. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.document.document_permission"
                    type: array
                title: ListDocumentPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - identity
      - read
      - write
      - manage
    x-path-type: list
  "/v1/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync Document Permission.
      operationId: DeleteDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resource to delete. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Document Permission resource to delete.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync document permissions
    get:
      description: Fetch a specific Sync Document Permission.
      operationId: FetchDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resource to fetch. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Document Permission resource to fetch.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document.document_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an identity's access to a specific Sync Document.
      operationId: UpdateDocumentPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document Permission resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Document with the Document Permission resource to update. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Document Permission resource to update.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Whether the identity can delete the Sync Document. Default value is `false`.
                  type: boolean
                Read:
                  description: Whether the identity can read the Sync Document. Default value is `false`.
                  type: boolean
                Write:
                  description: Whether the identity can update the Sync Document. Default value is `false`.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateDocumentPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document.document_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - identity
      - read
      - write
      - manage
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Documents/{Sid}":
    delete:
      description: ""
      operationId: DeleteDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Document resource to delete. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync Document objects
    get:
      description: ""
      operationId: FetchDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Document resource to fetch. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateDocument
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Document resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Document resource to update. Can be the Document resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The If-Match HTTP request header
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Sync Document stores. Can be up to 16 KiB in length.
                  type: object
                Ttl:
                  description: How long, in seconds, before the Sync Document expires and is deleted (time-to-live). Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Document resource does not expire. The Document resource will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
              title: UpdateDocumentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - revision
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Lists":
    description: Sync list objects
    get:
      description: ""
      operationId: ListSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  lists:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_list"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncListResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Sync List in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the Sync List expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Sync List does not expire. The Sync List will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: Alias for collection_ttl. If both are provided, this value is ignored.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be unique within its Service and it can be up to 320 characters long. The `unique_name` value can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateSyncListRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - revision
    x-path-type: list
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Items":
    description: Items in a sync list
    get:
      description: ""
      operationId: ListSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the List Item resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the List Items to read. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: "How to order the List Items returned by their `index` value. Can be: `asc` (ascending) or `desc` (descending) and the default is ascending."
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: The `index` of the first Sync List Item resource to read. See also `bounds`.
          in: query
          name: From
          schema:
            type: string
        - description: "Whether to include the List Item referenced by the `from` parameter. Can be: `inclusive` to include the List Item referenced by the `from` parameter or `exclusive` to start with the next List Item. The default value is `inclusive`."
          in: query
          name: Bounds
          schema:
            enum:
              - inclusive
              - exclusive
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncListItemResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new List Item in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List to add the new List Item to. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the List Item's parent Sync List expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the parent Sync List does not expire. The Sync List will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the List Item stores. Can be up to 16 KiB in length.
                  type: object
                ItemTtl:
                  description: How long, in seconds, before the List Item expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the List Item does not expire. The List Item will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              required:
                - Data
              title: CreateSyncListItemRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - index
      - revision
      - created_by
    x-path-type: list
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Items/{Index}":
    delete:
      description: ""
      operationId: DeleteSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Item resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Item resource to delete. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The index of the Sync List Item resource to delete.
          in: path
          name: Index
          required: true
          schema:
            type: integer
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Items in a sync list
    get:
      description: ""
      operationId: FetchSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Item resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Item resource to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The index of the Sync List Item resource to fetch.
          in: path
          name: Index
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncListItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Item resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Item resource to update. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The index of the Sync List Item resource to update.
          in: path
          name: Index
          required: true
          schema:
            type: integer
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the List Item's parent Sync List expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the parent Sync List does not expire. The Sync List will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the List Item stores. Can be up to 16 KiB in length.
                  type: object
                ItemTtl:
                  description: How long, in seconds, before the List Item expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the List Item does not expire. The List Item will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              title: UpdateSyncListItemRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - index
      - revision
      - created_by
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Permissions":
    description: Permissions for Sync list items
    get:
      description: Retrieve a list of all Permissions applying to a Sync List.
      operationId: ListSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resources to read. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_permission"
                    type: array
                title: ListSyncListPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - identity
      - read
      - write
      - manage
    x-path-type: list
  "/v1/Services/{ServiceSid}/Lists/{ListSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync List Permission.
      operationId: DeleteSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resource to delete. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync List Permission resource to delete.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Permissions for Sync list items
    get:
      description: Fetch a specific Sync List Permission.
      operationId: FetchSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resource to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync List Permission resource to fetch.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an identity's access to a specific Sync List.
      operationId: UpdateSyncListPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List Permission resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List with the Sync List Permission resource to update. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync List Permission resource to update.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Whether the identity can delete the Sync List. Default value is `false`.
                  type: boolean
                Read:
                  description: Whether the identity can read the Sync List and its Items. Default value is `false`.
                  type: boolean
                Write:
                  description: Whether the identity can create, update, and delete Items in the Sync List. Default value is `false`.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateSyncListPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list.sync_list_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - identity
      - read
      - write
      - manage
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Lists/{Sid}":
    delete:
      description: ""
      operationId: DeleteSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List resource to delete. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync list objects
    get:
      description: ""
      operationId: FetchSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List resource to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncList
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync List resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync List resource to update. Can be the Sync List resource's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the Sync List expires (time-to-live) and is deleted. Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Sync List does not expire. The Sync List will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: An alias for `collection_ttl`. If both are provided, this value is ignored.
                  type: integer
              title: UpdateSyncListRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_list"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - revision
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Maps":
    description: Sync map objects
    get:
      description: ""
      operationId: ListSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  maps:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_map"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncMapResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the Sync Map in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the Sync Map expires (time-to-live) and is deleted. Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Sync Map does not expire. The Sync Map will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: An alias for `collection_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateSyncMapRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - revision
    x-path-type: list
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Items":
    description: Keys in a sync map
    get:
      description: ""
      operationId: ListSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Map Item resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: "How to order the Map Items returned by their `key` value. Can be: `asc` (ascending) or `desc` (descending) and the default is ascending. Map Items are [ordered lexicographically](https://en.wikipedia.org/wiki/Lexicographical_order) by Item key."
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: The `key` of the first Sync Map Item resource to read. See also `bounds`.
          in: query
          name: From
          schema:
            type: string
        - description: "Whether to include the Map Item referenced by the `from` parameter. Can be: `inclusive` to include the Map Item referenced by the `from` parameter or `exclusive` to start with the next Map Item. The default value is `inclusive`."
          in: query
          name: Bounds
          schema:
            enum:
              - inclusive
              - exclusive
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncMapItemResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the Map Item in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map to add the new Map Item to. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the Map Item's parent Sync Map expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the parent Sync Map does not expire. The Sync Map will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Map Item stores. Can be up to 16 KiB in length.
                  type: object
                ItemTtl:
                  description: How long, in seconds, before the Map Item expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Map Item does not expire.  The Map Item will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Key:
                  description: The unique, user-defined key for the Map Item. Can be up to 320 characters long.
                  type: string
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              required:
                - Key
                - Data
              title: CreateSyncMapItemRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - key
      - revision
      - created_by
    x-path-type: list
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Items/{Key}":
    delete:
      description: ""
      operationId: DeleteSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Item resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to delete. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The `key` value of the Sync Map Item resource to delete.
          in: path
          name: Key
          required: true
          schema:
            type: string
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Keys in a sync map
    get:
      description: ""
      operationId: FetchSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Item resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The `key` value of the Sync Map Item resource to fetch.
          in: path
          name: Key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncMapItem
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Item resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Item resource to update. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: "The `key` value of the Sync Map Item resource to update. "
          in: path
          name: Key
          required: true
          schema:
            type: string
        - description: If provided, applies this mutation if (and only if) the “revision” field of this [map item] matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the Map Item's parent Sync Map expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the parent Sync Map does not expire. This parameter can only be used when the Map Item's `data` or `ttl` is updated in the same request. The Sync Map will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that the Map Item stores. Can be up to 16 KiB in length.
                  type: object
                ItemTtl:
                  description: How long, in seconds, before the Map Item expires (time-to-live) and is deleted.  Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Map Item does not expire. The Map Item will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: An alias for `item_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              title: UpdateSyncMapItemRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - key
      - revision
      - created_by
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Permissions":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync Map.
      operationId: ListSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resources to read. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Permission resources to read. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_permission"
                    type: array
                title: ListSyncMapPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - identity
      - read
      - write
      - manage
    x-path-type: list
  "/v1/Services/{ServiceSid}/Maps/{MapSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync Map Permission.
      operationId: DeleteSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resource to delete. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Permission resource to delete. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync Map Permission resource to delete.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Sync Map Permission.
      operationId: FetchSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resource to fetch. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Permission resource to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync Map Permission resource to fetch.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update an identity's access to a specific Sync Map.
      operationId: UpdateSyncMapPermission
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map Permission resource to update. Can be the Service's `sid` value or `default`.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map with the Sync Map Permission resource to update. Can be the Sync Map resource's `sid` or its `unique_name`.
          in: path
          name: MapSid
          required: true
          schema:
            type: string
        - description: The application-defined string that uniquely identifies the User's Sync Map Permission resource to update.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Whether the identity can delete the Sync Map. Default value is `false`.
                  type: boolean
                Read:
                  description: Whether the identity can read the Sync Map and its Items. Default value is `false`.
                  type: boolean
                Write:
                  description: Whether the identity can create, update, and delete Items in the Sync Map. Default value is `false`.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateSyncMapPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map.sync_map_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - identity
      - read
      - write
      - manage
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Maps/{Sid}":
    delete:
      description: ""
      operationId: DeleteSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map resource to delete. Can be the Sync Map's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Sync map objects
    get:
      description: ""
      operationId: FetchSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map resource to fetch. Can be the Sync Map's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateSyncMap
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Map resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Map resource to update. Can be the Sync Map's `sid` or its `unique_name`.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CollectionTtl:
                  description: How long, in seconds, before the Sync Map expires (time-to-live) and is deleted. Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Sync Map does not expire. The Sync Map will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                Ttl:
                  description: An alias for `collection_ttl`. If both parameters are provided, this value is ignored.
                  type: integer
              title: UpdateSyncMapRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_map"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - revision
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Streams":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Streams in a Service Instance.
      operationId: ListSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Stream resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  streams:
                    items:
                      $ref: "#/components/schemas/sync.v1.service.sync_stream"
                    type: array
                title: ListSyncStreamResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Stream.
      operationId: CreateSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Stream in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Ttl:
                  description: How long, in seconds, before the Stream expires and is deleted (time-to-live). Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Stream does not expire. The Stream will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be unique within its Service and it can be up to 320 characters long. The `unique_name` value can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateSyncStreamRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - created_by
    x-path-type: list
  "/v1/Services/{ServiceSid}/Streams/{Sid}":
    delete:
      description: Delete a specific Stream.
      operationId: DeleteSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Stream resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Stream resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Stream.
      operationId: FetchSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Stream resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Stream resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update a specific Stream.
      operationId: UpdateSyncStream
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) with the Sync Stream resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Stream resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Ttl:
                  description: How long, in seconds, before the Stream expires and is deleted (time-to-live). Can be an integer from 0 to 31,536,000 (1 year). The default value is `0`, which means the Stream does not expire. The Stream will be deleted automatically after it expires, but there can be a delay between the expiration time and the resources's deletion.
                  type: integer
              title: UpdateSyncStreamRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - created_by
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Streams/{StreamSid}/Messages":
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Stream Message.
      operationId: CreateStreamMessage
      parameters:
        - description: The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service) to create the new Stream Message in.
          in: path
          name: ServiceSid
          required: true
          schema:
            type: string
        - description: The SID of the Sync Stream to create the new Stream Message resource for.
          in: path
          name: StreamSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: A JSON string that represents an arbitrary, schema-less object that makes up the Stream Message body. Can be up to 4 KiB in length.
                  type: object
              required:
                - Data
              title: CreateStreamMessageRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service.sync_stream.stream_message"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: list
  "/v1/Services/{Sid}":
    delete:
      description: ""
      operationId: DeleteService
      parameters:
        - description: The SID of the Service resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Containers for sync objects
    get:
      description: ""
      operationId: FetchService
      parameters:
        - description: The SID of the Service resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateService
      parameters:
        - description: The SID of the Service resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AclEnabled:
                  description: Whether token identities in the Service must be granted access to Sync objects by using the [Permissions](https://www.twilio.com/docs/sync/api/sync-permissions) resource.
                  type: boolean
                FriendlyName:
                  description: A string that you assign to describe the resource.
                  type: string
                ReachabilityDebouncingEnabled:
                  description: Whether every `endpoint_disconnected` event should occur after a configurable delay. The default is `false`, where the `endpoint_disconnected` event occurs immediately after disconnection. When `true`, intervening reconnections can prevent the `endpoint_disconnected` event.
                  type: boolean
                ReachabilityDebouncingWindow:
                  description: The reachability event delay in milliseconds if `reachability_debouncing_enabled` = `true`.  Must be between 1,000 and 30,000 and defaults to 5,000. This is the number of milliseconds after the last running client disconnects, and a Sync identity is declared offline, before the webhook is called if all endpoints remain offline. A reconnection from the same identity by any endpoint during this interval prevents the webhook from being called.
                  type: integer
                ReachabilityWebhooksEnabled:
                  description: Whether the service instance should call `webhook_url` when client endpoints connect to Sync. The default is `false`.
                  type: boolean
                WebhookUrl:
                  description: The URL we should call when Sync objects are manipulated.
                  format: uri
                  type: string
                WebhooksFromRestEnabled:
                  description: Whether the Service instance should call `webhook_url` when the REST API is used to update Sync objects. The default is `false`.
                  type: boolean
              title: UpdateServiceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sync.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://sync.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: instance
components:
  schemas:
    boolean:
      nullable: true
      type: boolean
    date_time_iso8601:
      format: date-time
      nullable: true
      type: string
    integer:
      nullable: true
      type: integer
    object:
      nullable: true
      type: object
    sid_AC:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^AC[0-9a-fA-F]{32}$
      type: string
    sid_ES:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^ES[0-9a-fA-F]{32}$
      type: string
    sid_ET:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^ET[0-9a-fA-F]{32}$
      type: string
    sid_IS:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^IS[0-9a-fA-F]{32}$
      type: string
    sid_MP:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^MP[0-9a-fA-F]{32}$
      type: string
    sid_TO:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^TO[0-9a-fA-F]{32}$
      type: string
    sid_TZ:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^TZ[0-9a-fA-F]{32}$
      type: string
    string:
      nullable: true
      type: string
    sync.v1.service:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        acl_enabled:
          $ref: "#/components/schemas/boolean"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        friendly_name:
          $ref: "#/components/schemas/string"
        links:
          $ref: "#/components/schemas/uri_map"
        reachability_debouncing_enabled:
          $ref: "#/components/schemas/boolean"
        reachability_debouncing_window:
          $ref: "#/components/schemas/integer"
        reachability_webhooks_enabled:
          $ref: "#/components/schemas/boolean"
        sid:
          $ref: "#/components/schemas/sid_IS"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
        webhook_url:
          $ref: "#/components/schemas/url"
        webhooks_from_rest_enabled:
          $ref: "#/components/schemas/boolean"
      type: object
    sync.v1.service.document:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        created_by:
          $ref: "#/components/schemas/string"
        data:
          $ref: "#/components/schemas/object"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_expires:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        links:
          $ref: "#/components/schemas/uri_map"
        revision:
          $ref: "#/components/schemas/string"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        sid:
          $ref: "#/components/schemas/sid_ET"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    sync.v1.service.document.document_permission:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        document_sid:
          $ref: "#/components/schemas/sid_ET"
        identity:
          $ref: "#/components/schemas/string"
        manage:
          $ref: "#/components/schemas/boolean"
        read:
          $ref: "#/components/schemas/boolean"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        url:
          $ref: "#/components/schemas/url"
        write:
          $ref: "#/components/schemas/boolean"
      type: object
    sync.v1.service.sync_list:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        created_by:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_expires:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        links:
          $ref: "#/components/schemas/uri_map"
        revision:
          $ref: "#/components/schemas/string"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        sid:
          $ref: "#/components/schemas/sid_ES"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    sync.v1.service.sync_list.sync_list_item:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        created_by:
          $ref: "#/components/schemas/string"
        data:
          $ref: "#/components/schemas/object"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_expires:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        index:
          $ref: "#/components/schemas/integer"
        list_sid:
          $ref: "#/components/schemas/sid_ES"
        revision:
          $ref: "#/components/schemas/string"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        url:
          $ref: "#/components/schemas/url"
      type: object
    sync.v1.service.sync_list.sync_list_permission:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        identity:
          $ref: "#/components/schemas/string"
        list_sid:
          $ref: "#/components/schemas/sid_ES"
        manage:
          $ref: "#/components/schemas/boolean"
        read:
          $ref: "#/components/schemas/boolean"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        url:
          $ref: "#/components/schemas/url"
        write:
          $ref: "#/components/schemas/boolean"
      type: object
    sync.v1.service.sync_map:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        created_by:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_expires:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        links:
          $ref: "#/components/schemas/uri_map"
        revision:
          $ref: "#/components/schemas/string"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        sid:
          $ref: "#/components/schemas/sid_MP"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    sync.v1.service.sync_map.sync_map_item:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        created_by:
          $ref: "#/components/schemas/string"
        data:
          $ref: "#/components/schemas/object"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_expires:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        key:
          $ref: "#/components/schemas/string"
        map_sid:
          $ref: "#/components/schemas/sid_MP"
        revision:
          $ref: "#/components/schemas/string"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        url:
          $ref: "#/components/schemas/url"
      type: object
    sync.v1.service.sync_map.sync_map_permission:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        identity:
          $ref: "#/components/schemas/string"
        manage:
          $ref: "#/components/schemas/boolean"
        map_sid:
          $ref: "#/components/schemas/sid_MP"
        read:
          $ref: "#/components/schemas/boolean"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        url:
          $ref: "#/components/schemas/url"
        write:
          $ref: "#/components/schemas/boolean"
      type: object
    sync.v1.service.sync_stream:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        created_by:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_expires:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        links:
          $ref: "#/components/schemas/uri_map"
        service_sid:
          $ref: "#/components/schemas/sid_IS"
        sid:
          $ref: "#/components/schemas/sid_TO"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    sync.v1.service.sync_stream.stream_message:
      properties:
        data:
          $ref: "#/components/schemas/object"
        sid:
          $ref: "#/components/schemas/sid_TZ"
      type: object
    uri_map:
      nullable: true
      type: object
    url:
      format: uri
      nullable: true
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
