openapi: 3.0.1
servers:
  - url: https://microvisor.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Microvisor
  version: 1.38.2
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_microvisor_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_microvisor_v1
paths:
  /v1/Apps:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Apps for an Account.
      operationId: ListApp
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  apps:
                    items:
                      $ref: "#/components/schemas/microvisor.v1.app"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAppResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
      pathType: list
  "/v1/Apps/{Sid}":
    delete:
      description: Delete a specific App.
      operationId: DeleteApp
      parameters:
        - description: A 34-character string that uniquely identifies this App.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific App.
      operationId: FetchApp
      parameters:
        - description: A 34-character string that uniquely identifies this App.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microvisor.v1.app"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
      pathType: instance
  /v1/Devices:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Devices registered with the Account.
      operationId: ListDevice
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  devices:
                    items:
                      $ref: "#/components/schemas/microvisor.v1.device"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDeviceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
      pathType: list
  "/v1/Devices/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Device.
      operationId: FetchDevice
      parameters:
        - description: A 34-character string that uniquely identifies this Device.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microvisor.v1.device"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update a specific Device.
      operationId: UpdateDevice
      parameters:
        - description: A 34-character string that uniquely identifies this Device.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                LoggingEnabled:
                  description: A Boolean flag specifying whether to enable application logging. Logs will be enabled or extended for 24 hours.
                  type: boolean
                TargetApp:
                  description: The SID or unique name of the App to be targeted to the Device.
                  type: string
                UniqueName:
                  description: A unique and addressable name to be assigned to this Device by the developer. It may be used in place of the Device SID.
                  type: string
              title: UpdateDeviceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microvisor.v1.device"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
      pathType: instance
components:
  schemas:
    microvisor.v1.app:
      properties:
        account_sid:
          description: The Account SID.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date that this App was created.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date that this App was last updated.
          format: date-time
          nullable: true
          type: string
        hash:
          description: App manifest hash represented as hash_algorithm:hash_value.
          nullable: true
          type: string
        sid:
          description: A string that uniquely identifies this App.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^KA[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: An developer-defined string that uniquely identifies the App.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    microvisor.v1.device:
      properties:
        account_sid:
          description: Account SID.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        app:
          description: Information about the target App and the App reported by this Device.
          nullable: true
        date_created:
          description: The date that this Device was created.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date that this Device was last updated.
          format: date-time
          nullable: true
          type: string
        links:
          description: The absolute URLs of related resources
          format: uri-map
          nullable: true
          type: object
        logging:
          description: Object specifying whether application logging is enabled for this Device.
          nullable: true
        sid:
          description: A string that uniquely identifies this Device.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UV[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: A developer-defined string that uniquely identifies the Device.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.
    name: Preview
