{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api-2445581398133.apicast.io:443",
  "basePath": "/v1",
  "info": {
    "description": "<p>Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select CRM: <span id=\"docs-select-crm\" style=\"font-weight: bold\">Loading... please wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USER-KEY</b>: <span id=\"docs-user-key\">e2a6379ab878ae7e58119d4ec842bf9c</span><br><b>X-API2CRM-APPLICATION-KEY</b>: <span id=\"docs-crm-key\">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p id=\"docs-crm-access\">The CRM access details are:<br><b>URL</b>: <a id=\"docs-crm-url\" href=\"https://login.salesforce.com/\" target=\"_blank\">https://login.salesforce.com/</a><br><b>E-mail / Username</b>: <span id=\"docs-crm-username\">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>: <span id=\"docs-crm-password\">data2crmapi123</span></p>",
    "title": "Data2CRM.API",
    "version": "1",
    "x-logo": {
      "backgroundColor": "#3089CF",
      "url": "https://api.apis.guru/v2/cache/logo/https_s3.amazonaws.com_enterprise-multitenant.3scale.net.3scale.net_data2crm-api_2445581398133_profiles_logos_medium_data2crm_api.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://app.api2crm.com/swagger/spec/data2crm_api.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "data2crm.com"
  },
  "externalDocs": {
    "url": "http://www.data2crm.com/api/"
  },
  "responses": {
    "401": {
      "description": "Unauthorized"
    },
    "403": {
      "description": "Forbidden"
    },
    "406": {
      "description": "Not Acceptable"
    },
    "415": {
      "description": "Unsupported Media Type"
    }
  },
  "tags": [
    {
      "description": "Account Operations",
      "name": "account"
    },
    {
      "description": "Application Operations",
      "name": "application"
    },
    {
      "description": "Attachment Operations",
      "name": "attachment"
    },
    {
      "description": "Call Operations",
      "name": "call"
    },
    {
      "description": "Campaign Operations",
      "name": "campaign"
    },
    {
      "description": "Case Operations",
      "name": "case"
    },
    {
      "description": "Comment Operations",
      "name": "comment"
    },
    {
      "description": "Contact Operations",
      "name": "contact"
    },
    {
      "description": "Field Operations",
      "name": "field"
    },
    {
      "description": "Field Item Operations",
      "name": "fieldItem"
    },
    {
      "description": "Email Operations",
      "name": "email"
    },
    {
      "description": "Entity Operations",
      "name": "entity"
    },
    {
      "description": "Entity Item Operations",
      "name": "entityItem"
    },
    {
      "description": "Event Operations",
      "name": "event"
    },
    {
      "description": "Internal User Operations",
      "name": "internalUser"
    },
    {
      "description": "Invoice Operations",
      "name": "invoice"
    },
    {
      "description": "InvoiceItem Operations",
      "name": "invoiceItem"
    },
    {
      "description": "Lead Operations",
      "name": "lead"
    },
    {
      "description": "Meeting Operations",
      "name": "meeting"
    },
    {
      "description": "Note Operations",
      "name": "note"
    },
    {
      "description": "Opportunity Operations",
      "name": "opportunity"
    },
    {
      "description": "OpportunityProduct Operations",
      "name": "opportunityProduct"
    },
    {
      "description": "Platform Operations",
      "name": "platform"
    },
    {
      "description": "Post Operations",
      "name": "post"
    },
    {
      "description": "PriceBook Operations",
      "name": "priceBook"
    },
    {
      "description": "PriceBookItem Operations",
      "name": "priceBookItem"
    },
    {
      "description": "Product Operations",
      "name": "product"
    },
    {
      "description": "Project Operations",
      "name": "project"
    },
    {
      "description": "Quote Operations",
      "name": "quote"
    },
    {
      "description": "QuoteItem Operations",
      "name": "quoteItem"
    },
    {
      "description": "Request Operations",
      "name": "request"
    },
    {
      "description": "Tag Operations",
      "name": "tag"
    },
    {
      "description": "Task Operations",
      "name": "task"
    },
    {
      "description": "Ticket Operations",
      "name": "ticket"
    },
    {
      "description": "User Operations",
      "name": "user"
    }
  ],
  "paths": {
    "/application": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add application into the system",
        "operationId": "createApplicationEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "API2CRM user key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Add application into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationEntityWrite"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ApplicationEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST for application",
        "tags": [
          "application"
        ]
      }
    },
    "/application/count": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Count all applications from the system",
        "operationId": "getApplicationCountCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "API2CRM user key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "COUNT for application",
        "tags": [
          "application"
        ]
      }
    },
    "/application/entity/account": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add account into the system",
        "operationId": "createAccountEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add account into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AccountEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/account/aggregate": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns aggregate for accounts",
        "operationId": "getAccountAggregate",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pipeline",
            "in": "query",
            "name": "pipeline",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Aggregate"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "AGGREGATE for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/account/bulk": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "deleteAccountCollectionBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DELETE bulk  for account",
        "tags": [
          "account"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add account into the system",
        "operationId": "createAccountEntityBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add account into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BulkEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST bulk  for account",
        "tags": [
          "account"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "updateAccountEntityBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "PUT bulk  for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/account/count": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Count all accounts from the system",
        "operationId": "getAccountCountCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "COUNT for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/account/describe": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns describe for accounts",
        "operationId": "getAccountDescribe",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountDescribe"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DESCRIBE for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/account/list": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all accounts from the system",
        "operationId": "getAccountCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Amount of results (default: 25)",
            "format": "int32",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Page to show (default: 1)",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies ascending or descending sort on existing fields",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Find all unique values for selected field",
            "enum": [
              "false",
              "true"
            ],
            "in": "query",
            "name": "unique",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/AccountEntity"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "GET for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/account/{account_id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete account information",
        "operationId": "deleteAccountEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Account Identifier",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DELETE for account",
        "tags": [
          "account"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Return account information",
        "operationId": "getAccountEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Account Identifier",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountEntity"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "GET for account",
        "tags": [
          "account"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update account information",
        "operationId": "updateAccountEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Account Identifier",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Update account information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "PUT for account",
        "tags": [
          "account"
        ]
      }
    },
    "/application/entity/attachment": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add attachment into the system",
        "operationId": "createAttachmentEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add attachment into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttachmentEntityWrite"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AttachmentEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/attachment/aggregate": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns aggregate for attachments",
        "operationId": "getAttachmentAggregate",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pipeline",
            "in": "query",
            "name": "pipeline",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Aggregate"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "AGGREGATE for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/attachment/bulk": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "deleteAttachmentCollectionBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DELETE bulk  for attachment",
        "tags": [
          "attachment"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add attachment into the system",
        "operationId": "createAttachmentEntityBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add attachment into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BulkEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST bulk  for attachment",
        "tags": [
          "attachment"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "updateAttachmentEntityBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "PUT bulk  for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/attachment/count": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Count all attachments from the system",
        "operationId": "getAttachmentCountCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "COUNT for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/attachment/describe": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns describe for attachments",
        "operationId": "getAttachmentDescribe",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentDescribe"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DESCRIBE for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/attachment/list": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all attachments from the system",
        "operationId": "getAttachmentCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Amount of results (default: 25)",
            "format": "int32",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Page to show (default: 1)",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies ascending or descending sort on existing fields",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Find all unique values for selected field",
            "enum": [
              "false",
              "true"
            ],
            "in": "query",
            "name": "unique",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/AttachmentEntityList"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "GET for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/attachment/{attachment_id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete attachment information",
        "operationId": "deleteAttachmentEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Attachment Identifier",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DELETE for attachment",
        "tags": [
          "attachment"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Return attachment information",
        "operationId": "getAttachmentEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Attachment Identifier",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentEntity"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "GET for attachment",
        "tags": [
          "attachment"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update attachment information",
        "operationId": "updateAttachmentEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Attachment Identifier",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Update attachment information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttachmentEntityWrite"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AttachmentEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "PUT for attachment",
        "tags": [
          "attachment"
        ]
      }
    },
    "/application/entity/call": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add call into the system",
        "operationId": "createCallEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add call into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CallEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CallEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST for call",
        "tags": [
          "call"
        ]
      }
    },
    "/application/entity/call/aggregate": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns aggregate for calls",
        "operationId": "getCallAggregate",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Pipeline",
            "in": "query",
            "name": "pipeline",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Aggregate"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "AGGREGATE for call",
        "tags": [
          "call"
        ]
      }
    },
    "/application/entity/call/bulk": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "deleteCallCollectionBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DELETE bulk  for call",
        "tags": [
          "call"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add call into the system",
        "operationId": "createCallEntityBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add call into the system",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BulkEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "POST bulk  for call",
        "tags": [
          "call"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "updateCallEntityBulk",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkEntity"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkEntityRelation"
            }
          },
          "400": {
            "description": "Client Error"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "PUT bulk  for call",
        "tags": [
          "call"
        ]
      }
    },
    "/application/entity/call/count": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Count all calls from the system",
        "operationId": "getCallCountCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "COUNT for call",
        "tags": [
          "call"
        ]
      }
    },
    "/application/entity/call/describe": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns describe for calls",
        "operationId": "getCallDescribe",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CallDescribe"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DESCRIBE for call",
        "tags": [
          "call"
        ]
      }
    },
    "/application/entity/call/list": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Returns all calls from the system",
        "operationId": "getCallCollection",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Amount of results (default: 25)",
            "format": "int32",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Page to show (default: 1)",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies ascending or descending sort on existing fields",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Find all unique values for selected field",
            "enum": [
              "false",
              "true"
            ],
            "in": "query",
            "name": "unique",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/CallEntity"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "GET for call",
        "tags": [
          "call"
        ]
      }
    },
    "/application/entity/call/{call_id}": {
      "delete": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete call information",
        "operationId": "deleteCallEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Call Identifier",
            "in": "path",
            "name": "call_id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "DELETE for call",
        "tags": [
          "call"
        ]
      },
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Return call information",
        "operationId": "getCallEntity",
        "parameters": [
          {
            "default": "e2a6379ab878ae7e58119d4ec842bf9c",
            "description": "User Key",
            "in": "header",
            "name": "X-API2CRM-USER-KEY",
            "required": true,
            "type": "string"
          },
          {
            "default": "7ae5b17008fb414d84981191cf3b66a476ef8bef",
            "description": "Application Key",
            "in": "header",
            "name": "X-API2CRM-APPLICATION-KEY",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return native response",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-NATIVE-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Enable",
            "enum": [
              "false",
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ENABLE",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Build",
            "enum": [
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-BUILD",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Final",
            "enum": [
              "true",
              "false"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-IS-FINAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Strategy",
            "enum": [
              "simple"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-STRATEGY",
            "required": false,
            "type": "string"
          },
          {
            "description": "Coherent Entities",
            "in": "header",
            "name": "X-API2CRM-DATA-COHERENT-ENTITIES",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Is Actual",
            "enum": [
              "true"
            ],
            "in": "header",
            "name": "X-API2CRM-DATA-ALWAYS-ACTUAL",
            "required": false,
            "type": "string"
          },
          {
            "description": "Data Actual At",
            "format": "date-time",
            "in": "header",
            "name": "X-API2CRM-DATA-ACTUAL-AT",
            "pattern": "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\-(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/",
            "required": false,
            "type": "string"
          },
          {
            "description": "Describe lifetime",
            "in": "header",
            "name": "X-API2CRM-DESCRIBE-LIFETIME",
            "required": false,
            "type": "string"
          },
          {
            "description": "Call Identifier",
            "in": "path",
            "name": "call_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Expand relations",
            "in": "query",
            "name": "expand",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CallEntity"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "GET for call",
        "tags": [
          "call"
        ]
      },
      "put": {
        "consumes": [
[...]
