swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/49
info:
  description: 'Cosine Similarity.<BR />[Endpoint] https://api.apitore.com/api/49'
  title: Cosine Similarity
  version: 0.0.1
  x-logo:
    url: 'https://apitore.com/img/apis/49.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/49'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: cosineSimilarity
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Cosine Similarity Controller
    name: cosine-similarity-controller
paths:
  /cosine-similarity/vec-vec:
    post:
      description: 'Cosine similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/clustering-response">clustering-response</a><BR />&nbsp; Class: com.apitore.banana.response.clustering.SimilarityResponseEntity<BR />'
      operationId: vecVecUsingPOST
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: 'Input two vectors; vec1, vec2'
          in: body
          name: req
          required: true
          schema:
            $ref: '#/definitions/VecvecRequestEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SimilarityResponseEntity'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Calclate similarity
      tags:
        - cosine-similarity-controller
  /cosine-similarity/vec-word:
    post:
      description: 'Cosine similarity.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/clustering-response">clustering-response</a><BR />&nbsp; Class: com.apitore.banana.response.clustering.SimilarityResponseEntity<BR />'
      operationId: vecWordUsingPOST
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: Input vector and word. Word is transformed to wordvector.
          in: body
          name: req
          required: true
          schema:
            $ref: '#/definitions/VecwordRequestEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SimilarityResponseEntity'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Calclate similarity by word
      tags:
        - cosine-similarity-controller
definitions:
  SimilarityResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      score:
        description: Score
        format: double
        type: number
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - log
      - processTime
      - score
      - startTime
    type: object
  VecvecRequestEntity:
    properties:
      vec1:
        description: Vector1
        items:
          format: double
          type: number
        type: array
      vec2:
        description: Vector2
        items:
          format: double
          type: number
        type: array
    required:
      - vec1
      - vec2
    type: object
  VecwordRequestEntity:
    properties:
      vec:
        description: Vector
        items:
          format: double
          type: number
        type: array
      word:
        description: Word
        type: string
    required:
      - vec
      - word
    type: object
