openapi: 3.0.1
servers:
  - description: Sandbox Server
    url: https://apis.nbg.gr/sandbox/uk.openbanking.accountinfo/oauth2/v3.1.5
  - description: Production Server
    url: https://services.nbg.gr/apis/open-banking/v3.1.5/aisp
info:
  contact:
    email: developer@nbg.gr
  description: "## Functionality at a glance\r

    \r

    The NBG \"UK OPB - Account and Transaction v3.1.5\" API follows the [UK
    Open Banking Specification\r

    \    v3.1.5](https://openbankinguk.github.io/read-write-api-site3/v3.1.\
    5/profiles/account-and-transaction-api-profile.html)\r

    \r

    This Account and Transaction API Specification describes the flows and
    payloads for retrieving a list of accounts and their transactions.\r

    \r

    The API endpoints described here allow a AISP to:  \r

    \r

    * Create the Consent with the appropriate permissions in order to be
    able to access the API Endpoints\r

    \r

    * Retrieve the list of accounts\r

    \r

    * Retrieve an account's details\r

    \r

    * Retrieve an account's balances\r

    \r

    * Retrieve an account's transactions\r

    \r

    * Retrieve an account's beneficiaries\r

    \r

    * Retrieve an account's standing orders\r

    \r

    * Retrieve an account's party\r

    \r

    * Retrieve an account's scheduled payments\r

    \r

    * Retrieve an account's statements\r

    \r

    \r

    \r

    ## Quick Getting Started\r

    \r

    \r

    1. **Login/Register** to the NBG Technology HUB\r

    \r

    2. Go to **\"APPS\"**\r

    \r

    3. Select your Organization and go to step 4. If you want to create a
    new Organization click **\\\"CREATE AN ORGANIZATION\\\"** and follow the
    steps below:\r

    \t1. Enter the title of your Organization\r

    \t2. Enter a short description of your Organization (optional)\r

    \t3. Click **\"SUBMIT\"**\r

    \r

    4. Select the Organization of choice and click **\"ADD AN
    APPLICATION\"** \r

    \t  1. Fill in the forms (title and short description)\r

    \t  2. Check **\\\"Authorization Code\\\" and \\\"Client
    Credentials\\\"** \r

    \t  3. Enter the **OAuth Redirect and Post Logout URIs** (these are the
    URIs that we will redirect the user upon logging in and logging out
    respectively)\r

    \t\t  \r

    \t\t  You can use the following redirect URL to easily test the API
    through the portal: *https://developer.nbg.gr/oauth2/redoc-callback*\r

    \t  4. Click **\"SUBMIT\"**\r

    \t  5. Store the APPs **\"Client ID\"** and **\"Client Secret\"**\r

    5. Go to **\"API PRODUCTS\"** and select the **ACCOUNT INFORMATION - UK
    OPEN BANKING API**\r

    \r

    6. Click **\\\"START USING THIS API\\\"**, choose your app and click\r

    **\"SUBSCRIBE\"**\r

    \r

    7. Get an Access Token using the Access Token Flow and the API scopes
    provided in the Authentication and Authorization (OAuth2) section below\r

    \r

    8. Create a Sandbox\r

    \r

    9. Play with the API \r

    \r

    \r

    ### Sandbox Flow\r

    \r

    The Sandbox Flow matches the Production Flow. The difference lies into
    the Data used. Instead of live\r

    data, the Sandbox flow uses mocked data.\r

    \r

    \r

    ### Production Flow  \r

    \r

    The Production Flow is described in the [UK Open Banking v3.1.5\r

    Specification](https://openbankinguk.github.io/read-write-api-site3/v3.\
    1.5/profiles/account-and-transaction-api-profile.html)\r

    \r

    More details about the implementation specifics followed, please visit
    section **UK OPB Implementation\r

    Specifics**\r

    \r

    \r

    ## Authentication and Authorization (OAuth2)\r

    \r

    This API version uses the OAuth2 protocol for authentication and
    authorization, which means that a\r

    Bearer (access token) should be acquired. An access token can be
    retrieved using the client_id and\r

    client_secret of the APP that you created and subscribed in this API,
    and your own credentials\r

    (username, password) that you use to sign in the NBG Technology HUB. The
    scopes are defined below:\r

    \r

    **Authorization Endpoint:** \r

    \r

    \t  https://my.nbg.gr/identity/connect/authorize\r

    \r

    \r

    **Token Endpoint:** \r

    \r

    \t  https://my.nbg.gr/identity/connect/token\r

    \r

    ### Authorization Code ###\r

    \r

    **Sandbox Scopes:** \r

    \r

    \t  sandbox-uk-account-info-api-v1 offline_access\r

    \r

    \r

    **Production Scopes:** \r

    \r

    \t  accounts offline_access\r

    \r

    ### Client Credentials ###\r

    \r

    **Sandbox Scopes:** \r

    \r

    \t  sandbox-uk-account-info-api-v1\r

    \r

    \r

    **Production Scopes:** \r

    \r

    \t  accounts\r

    \r

    \r

    See more [here](https://developer.nbg.gr/oauth-document)\r

    \r

    ## QWAC Certificates\r

    \r

    TPPs are required to present a QWAC certificate during API consumption.
    The API checks that this certificate has been provided and is valid. In
    sandbox mode the certificate validations are optional. To validate your
    certificate in sandbox implementation, please send us your QWAC certificate
    at developer@nbg.gr and set the HTTP Header
    **\\\"x-sandbox-qwac-certificate-check\\\"** with the value **\\\"true\\\"**
    in your requests. \r

    \r

    ## SMS Challenge (One Time Password)\r

    \r

    In order to successfully authorize an Accounts Access you will need to
    provide the SMS OTP (One Time Password) in the corresponding Accounts
    Consent UI Screen.\r

    \r

    By default the SMS OTP will be sent to the mobile number declared upon
    singing up in the NBG Technology HUB. \r

    \r

    \r

    \r

    ## Create your Sandbox\r

    \r

    Create a new Sandbox application by invoking the POST /sandbox. This
    call will generate a new Sandbox\r

    with a unique sandbox-id.\r

    \r

    \r

    __Important!__ Before proceeding save the sandbox id you just created.\r

    \r

    \r

    When you create a sandbox, users and sandbox specific data are generated
    as sample data.\r

    \r

    \r

    ## Start Testing\r

    \r

    Once you have your sandbox-id, you can start invoking the rest of the
    operations by providing the\r

    mandatory http header **sandbox-id**  and the http headers described
    below.\r

    \r

    \r

    ## Important notes\r

    \r

    \r

    **Request headers**\r

    \r

    \r

    The following HTTP header parameters are required for every call:\r

    \r

    \r

    1. Authorization. The Auth2 Token\r

    \r

    2. sandbox-id. Your Sandbox ID\r

    \r

    \r

    **Consent**\r

    \r

    \r

    In order to be able to effectively start using the Endpoints the
    appropriate Consent needs to be\r

    created and set to the 'Authorised' status. \r

    \r

    \r

    In order to create the Consent you need to at least set the required
    **permissions** and the **Risk**\r

    sections. \r

    \r

    \r

    Optionally you may set the \r

    \r

    \r

    1. ExpirationDateTime. When the Consent expires \r

    \r

    \r

    2. TransactionFromDateTime. Start Date to retrieve the transactions \r

    \r

    \r

    3. TransactionToDateTime. End Date to retrieve the transactions \r

    \r

    **Not Implemented Endpoints**\r

    \r

    The following endpoints are not implemented in the API\r

    \r

    1. GET /balances\r

    2. GET /transactions\r

    3. GET /beneficiaries\r

    4. GET /accounts/\\{AccountId\\}/direct-debits\r

    5. GET /direct-debits\r

    6. GET /standing-orders\r

    7. GET /accounts/\\{AccountId\\}/product\r

    8. GET /products\r

    9. GET /accounts/\\{AccountId\\}/offers\r

    10. GET /offers\r

    11. GET /scheduled-payments\r

    12. GET /statements\r

    \r

    \r

    ## Error Codes\r

    \r

    The error codes and their description can be found\r

    [here](https://openbankinguk.github.io/read-write-api-site3/v3.1.5/prof\
    iles/read-write-data-api-profile.html#error-response-structure)\r

    \r

    \r

    # UK OPB Implementation Specifics \r

    \r

    Below you may find more specific information & limitations regarding the
    implementation followed in the Production API.\r

    \r

    \r

    ## Token Endpoint Client Authentication\r

    \r

    At this point the supported __Client Authentication__ method is
    \"__Client Secret Basic__\" - usage of \"Client ID\" & \"Client Secret\".\r

    \r

    \r

    ## Consent Authorization\r

    \r

    For a PSU to Authorize a Consent, they need to be redirected to the
    appropriate Consent UI.\r

    \r

    For this redirection to take place the TPP needs to follow the
    Authorization Endpoint by amending the generated \"Consent ID\", like this:
    https://my.nbg.gr/identity/connect/authorize?consent_id={{consent_id}}&clie\
    nt_id={{client_id}}&scope={{scope}}&redirect_uri={{redirect_uri}}&response_\
    type=code\r

    \r

    Once the PSU is redirected to the Consent Authorization Screen, they
    need to enter their IBank (Production) or Developer Portal (Sandbox)
    Credentials and either Authorize or Reject the Consent.\r

    \r

    At this point the Consent is binded with the PSU.\r

    \r

    \r

    ## Debtor Account\r

    Currently, only the \"UK.OBIE.IBAN\" scheme is supported.\r

    \r

    \r

    \r

    # Feedback and Questions\r

    \r

    We would love to hear your feedback and answer your questions. Send us
    at\r

    [developer@nbg.gr](developer@nbg.gr)\r

    \r

    \r

    Check out our [Sandbox Postman\r

    Collection](https://github.com/NBG-Developer-Portal/Account-Information\
    -UK-Open-Banking)!\r

    \r

    \r

    ________________________________________\r

    \r

    Created by [**NBG**](https://www.nbg.gr/).


    \ # Entities\ 


    \ Below, the main entities are documented.

    \ <a name=OBExternalPermissions1Code></a>\ 

    ## OBExternalPermissions1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Specifies the Open Banking account access data types. This is a
    list of the data clusters being consented by the PSU, and requested for
    authorisation with the ASPSP.| <ul style=\"padding-left:
    0\"><li>ReadAccountsBasic</li><li>ReadAccountsDetail</li><li>ReadBalances</\
    li><li>ReadBeneficiariesBasic</li><li>ReadBeneficiariesDetail</li><li>ReadD\
    irectDebits</li><li>ReadOffers</li><li>ReadPAN</li><li>ReadParty</li><li>Re\
    adPartyPSU</li><li>ReadProducts</li><li>ReadScheduledPaymentsBasic</li><li>\
    ReadScheduledPaymentsDetail</li><li>ReadStandingOrdersBasic</li><li>ReadSta\
    ndingOrdersDetail</li><li>ReadStatementsBasic</li><li>ReadStatementsDetail<\
    /li><li>ReadTransactionsBasic</li><li>ReadTransactionsCredits</li><li>ReadT\
    ransactionsDebits</li><li>ReadTransactionsDetail</li></ul>|


    \ <a name=OBReadData1></a>\ 

    ## OBReadData1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Permissions| Specifies the Open Banking account access data types.
    This is a list of the data clusters being consented by the PSU, and
    requested for authorisation with the ASPSP.|
    array[[OBExternalPermissions1Code](#OBExternalPermissions1Code)]|

    | ExpirationDateTime| Specified date and time the permissions will
    expire. If this is not populated, the permissions will be open ended. All
    dates in the JSON payloads are represented in ISO 8601 date-time
    format.  All date-time fields in responses must include the timezone. An
    example is below: 2017-04-05T10:43:07+00:00| string|

    | TransactionFromDateTime| Specified start date and time for the
    transaction query period. If this is not populated, the start date will be
    open ended, and data will be returned from the earliest available
    transaction. All dates in the JSON payloads are represented in ISO 8601
    date-time format.  All date-time fields in responses must include the
    timezone. An example is below: 2017-04-05T10:43:07+00:00| string|

    | TransactionToDateTime| Specified end date and time for the transaction
    query period. If this is not populated, the end date will be open ended, and
    data will be returned to the latest available transaction. All dates in the
    JSON payloads are represented in ISO 8601 date-time format.  All date-time
    fields in responses must include the timezone. An example is below:
    2017-04-05T10:43:07+00:00| string|


    \ <a name=OBRisk2></a>\ 

    ## OBRisk2\ 

    The Risk section is sent by the initiating party to the ASPSP. It is
    used to specify additional details for risk scoring for Account Info.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|


    \ <a name=OBReadConsent1></a>\ 

    ## OBReadConsent1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadData1](#OBReadData1)</summary><ul><li>Permissions
    [array[[OBExternalPermissions1Code](#OBExternalPermissions1Code)]]</li>
    <li>ExpirationDateTime [string]</li> <li>TransactionFromDateTime
    [string]</li> <li>TransactionToDateTime [string]</li> </ul></details> |\ 

    | Risk | Entity |
    <details><summary>[OBRisk2](#OBRisk2)</summary><ul></ul></details> |\ 


    \ <a name=OBExternalRequestStatus1Code></a>\ 

    ## OBExternalRequestStatus1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Specifies the status of consent resource in code form.| <ul
    style=\"padding-left:
    0\"><li>Authorised</li><li>AwaitingAuthorisation</li><li>Rejected</li><li>R\
    evoked</li></ul>|


    \ <a name=OBReadDataConsentResponse1></a>\ 

    ## OBReadDataConsentResponse1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | ConsentId| Unique identification as assigned to identify the account
    access consent resource.| string|

    | CreationDateTime| Date and time at which the resource was created. All
    dates in the JSON payloads are represented in ISO 8601 date-time
    format.  All date-time fields in responses must include the timezone. An
    example is below: 2017-04-05T10:43:07+00:00| string|

    | Status | Entity |
    <details><summary>[OBExternalRequestStatus1Code](#OBExternalRequestStatus1C\
    ode)</summary><ul></ul></details> |\ 

    | StatusUpdateDateTime| Date and time at which the resource status was
    updated. All dates in the JSON payloads are represented in ISO 8601
    date-time format.  All date-time fields in responses must include the
    timezone. An example is below: 2017-04-05T10:43:07+00:00| string|

    | Permissions| Specifies the Open Banking account access data types.
    This is a list of the data clusters being consented by the PSU, and
    requested for authorisation with the ASPSP.|
    array[[OBExternalPermissions1Code](#OBExternalPermissions1Code)]|

    | ExpirationDateTime| Specified date and time the permissions will
    expire. If this is not populated, the permissions will be open ended. All
    dates in the JSON payloads are represented in ISO 8601 date-time
    format.  All date-time fields in responses must include the timezone. An
    example is below: 2017-04-05T10:43:07+00:00| string|

    | TransactionFromDateTime| Specified start date and time for the
    transaction query period. If this is not populated, the start date will be
    open ended, and data will be returned from the earliest available
    transaction. All dates in the JSON payloads are represented in ISO 8601
    date-time format.  All date-time fields in responses must include the
    timezone. An example is below: 2017-04-05T10:43:07+00:00| string|

    | TransactionToDateTime| Specified end date and time for the transaction
    query period. If this is not populated, the end date will be open ended, and
    data will be returned to the latest available transaction. All dates in the
    JSON payloads are represented in ISO 8601 date-time format.  All date-time
    fields in responses must include the timezone. An example is below:
    2017-04-05T10:43:07+00:00| string|


    \ <a name=Links></a>\ 

    ## Links\ 

    Links relevant to the payload\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Self| -| string|

    | First| -| string|

    | Prev| -| string|

    | Next| -| string|

    | Last| -| string|


    \ <a name=Meta></a>\ 

    ## Meta\ 

    Meta Data relevant to the payload\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | TotalPages| -| integer|

    | FirstAvailableDateTime| All dates in the JSON payloads are represented
    in ISO 8601 date-time format. All date-time fields in responses must include
    the timezone.An example is below: 2017-04-05T10:43:07+00:00| string|

    | LastAvailableDateTime| All dates in the JSON payloads are represented
    in ISO 8601 date-time format. All date-time fields in responses must include
    the timezone.An example is below: 2017-04-05T10:43:07+00:00| string|


    \ <a name=OBReadConsentResponse1></a>\ 

    ## OBReadConsentResponse1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataConsentResponse1](#OBReadDataConsentResponse1)\
    </summary><ul><li>ConsentId [string]</li> <li>CreationDateTime [string]</li>
    <li><details><summary>Status
    [[OBExternalRequestStatus1Code](#OBExternalRequestStatus1Code)]</summary><u\
    l></ul></details></li><li>StatusUpdateDateTime [string]</li> <li>Permissions
    [array[[OBExternalPermissions1Code](#OBExternalPermissions1Code)]]</li>
    <li>ExpirationDateTime [string]</li> <li>TransactionFromDateTime
    [string]</li> <li>TransactionToDateTime [string]</li> </ul></details> |\ 

    | Risk | Entity |
    <details><summary>[OBRisk2](#OBRisk2)</summary><ul></ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=ErrorCode></a>\ 

    ## ErrorCode\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| This is Data Type gives a low level textual error code to help
    categorise an error response. The applicable HTTP response code is also
    given.| <ul style=\"padding-left:
    0\"><li>UK.OBIE.Field.Expected</li><li>UK.OBIE.Field.Invalid</li><li>UK.OBI\
    E.Field.InvalidDate</li><li>UK.OBIE.Field.Missing</li><li>UK.OBIE.Field.Une\
    xpected</li><li>UK.OBIE.Header.Invalid</li><li>UK.OBIE.Header.Missing</li><\
    li>UK.OBIE.Resource.ConsentMismatch</li><li>UK.OBIE.Resource.InvalidConsent\
    Status</li><li>UK.OBIE.Resource.InvalidFormat</li><li>UK.OBIE.Resource.NotF\
    ound</li><li>UK.OBIE.Rules.AfterCutOffDateTime</li><li>UK.OBIE.Rules.Duplic\
    ateReference</li><li>UK.OBIE.Signature.Invalid</li><li>UK.OBIE.Signature.In\
    validClaim</li><li>UK.OBIE.Signature.MissingClaim</li><li>UK.OBIE.Signature\
    .Malformed</li><li>UK.OBIE.Signature.Missing</li><li>UK.OBIE.Signature.Unex\
    pected</li><li>UK.OBIE.Unsupported.AccountIdentifier</li><li>UK.OBIE.Unsupp\
    orted.AccountSecondaryIdentifier</li><li>UK.OBIE.Unsupported.Currency</li><\
    li>UK.OBIE.Unsupported.EventType</li><li>UK.OBIE.Unsupported.Frequency</li>\
    <li>UK.OBIE.Unsupported.LocalInstrument</li><li>UK.OBIE.Unsupported.Scheme<\
    /li><li>UK.OBIE.Reauthenticate</li><li>UK.OBIE.Rules.ResourceAlreadyExists<\
    /li><li>UK.OBIE.UnexpectedError</li></ul>|


    \ <a name=OBError1></a>\ 

    ## OBError1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | ErrorCode | Entity |
    <details><summary>[ErrorCode](#ErrorCode)</summary><ul></ul></details> |\ 

    | Message| A description of the error that occurred. e.g., 'A mandatory
    field isn't supplied' or 'RequestedExecutionDateTime must be in future'OBIE
    doesn't standardise this field| string|

    | Path| Recommended but optional reference to the JSON Path of the field
    with error, e.g., Data.Initiation.InstructedAmount.Currency| string|

    | Url| URL to help remediate the problem, or provide more information,
    or to API Reference, or help etc| string|


    \ <a name=OBErrorResponse1></a>\ 

    ## OBErrorResponse1\ 

    An array of detail error codes, and messages, and URLs to documentation
    to help remediation.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Code| High level textual error code, to help categorize the errors.|
    string|

    | Id| A unique reference for the error instance, for audit purposes, in
    case of unknown/unclassified errors.| string|

    | Message| Brief Error message, e.g., 'There is something wrong with the
    request parameters provided'| string|

    | Errors| Gets or Sets Errors| array[[OBError1](#OBError1)]|


    \ <a name=OBAccountStatus1Code></a>\ 

    ## OBAccountStatus1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>Deleted</li><li>Disabled</li><li>Enabled</li><li>Pending</li><li>Pr\
    oForma</li></ul>|


    \ <a name=OBExternalAccountType1Code></a>\ 

    ## OBExternalAccountType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>Business</li><li>Personal</li></ul>|


    \ <a name=OBExternalAccountSubType1Code></a>\ 

    ## OBExternalAccountSubType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>ChargeCard</li><li>CreditCard</li><li>CurrentAccount</li><li>EMoney\
    </li><li>Loan</li><li>Mortgage</li><li>PrePaidCard</li><li>Savings</li></ul\
    >|


    \ <a name=OBCashAccount5></a>\ 

    ## OBCashAccount5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | SchemeName| Name of the identification scheme, in a coded form as
    published in an external list.| string|

    | Identification| Identification assigned by an institution to identify
    an account. This identification is known by the account owner.| string|

    | Name| The account name is the name or names of the account owner(s)
    represented at an account level, as displayed by the ASPSP's online
    channels. Note, the account name is not the product name or the nickname of
    the account.| string|

    | SecondaryIdentification| This is secondary identification of the
    account, as assigned by the account servicing institution. This can be used
    by building societies to additionally identify accounts with a roll
    number(in addition to a sort code and account number combination).| string|


    \ <a name=OBBranchAndFinancialInstitutionIdentification5></a>\ 

    ## OBBranchAndFinancialInstitutionIdentification5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | SchemeName| Name of the identification scheme, in a coded form as
    published in an external list.| string|

    | Identification| Unique and unambiguous identification of the servicing
    institution.| string|


    \ <a name=OBAccount6></a>\ 

    ## OBAccount6\ 

    Unambiguous identification of the account to which credit and debit
    entries are made.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AccountId| A unique and immutable identifier used to identify the
    account resource. This identifier has no meaning to the account owner.|
    string|

    | Status | Entity |
    <details><summary>[OBAccountStatus1Code](#OBAccountStatus1Code)</summary><u\
    l></ul></details> |\ 

    | StatusUpdateDateTime| Date and time at which the resource status was
    updated.All dates in the JSON payloads are represented in ISO 8601 date-time
    format.  All date-time fields in responses must include the timezone. An
    example is below: 2017-04-05T10:43:07+00:00| string|

    | Currency| Identification of the currency in which the account is
    held.  Usage: Currency should only be used in case one and the same account
    number covers several currencies and the initiating party needs to identify
    which currency needs to be used for settlement on the account.| string|

    | AccountType | Entity |
    <details><summary>[OBExternalAccountType1Code](#OBExternalAccountType1Code)\
    </summary><ul></ul></details> |\ 

    | AccountSubType | Entity |
    <details><summary>[OBExternalAccountSubType1Code](#OBExternalAccountSubType\
    1Code)</summary><ul></ul></details> |\ 

    | Description| Specifies the description of the account type.| string|

    | Nickname| The nickname of the account, assigned by the account owner
    in order to provide an additional means of identification of the account.|
    string|

    | OpeningDate| Date on which the account and related basic services are
    effectively operational for the account owner.All dates in the JSON payloads
    are represented in ISO 8601 date-time format.  All date-time fields in
    responses must include the timezone. An example is below:
    2017-04-05T10:43:07+00:00| string|

    | MaturityDate| Maturity date of the account.All dates in the JSON
    payloads are represented in ISO 8601 date-time format.  All date-time fields
    in responses must include the timezone. An example is below:
    2017-04-05T10:43:07+00:00| string|

    | Account| Provides the details to identify an account.|
    array[[OBCashAccount5](#OBCashAccount5)]|

    | Servicer | Entity |
    <details><summary>[OBBranchAndFinancialInstitutionIdentification5](#OBBranc\
    hAndFinancialInstitutionIdentification5)</summary><ul><li>SchemeName
    [string]</li> <li>Identification [string]</li> </ul></details> |\ 


    \ <a name=OBReadDataAccount5></a>\ 

    ## OBReadDataAccount5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Account| Unambiguous identification of the account to which credit and
    debit entries are made.| array[[OBAccount6](#OBAccount6)]|


    \ <a name=OBReadAccount5></a>\ 

    ## OBReadAccount5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataAccount5](#OBReadDataAccount5)</summary><ul><l\
    i>Account [array[[OBAccount6](#OBAccount6)]]</li> </ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBCreditDebitCode></a>\ 

    ## OBCreditDebitCode\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>Credit</li><li>Debit</li></ul>|


    \ <a name=OBBalanceType1Code></a>\ 

    ## OBBalanceType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>ClosingAvailable</li><li>ClosingBooked</li><li>ClosingCleared</li><\
    li>Expected</li><li>ForwardAvailable</li><li>Information</li><li>InterimAva\
    ilable</li><li>InterimBooked</li><li>InterimCleared</li><li>OpeningAvailabl\
    e</li><li>OpeningBooked</li><li>OpeningCleared</li><li>PreviouslyClosedBook\
    ed</li></ul>|


    \ <a name=OBActiveOrHistoricCurrencyAndAmount></a>\ 

    ## OBActiveOrHistoricCurrencyAndAmount\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Amount| A number of monetary units specified in an active currency
    where the unit of currency is explicit and compliant with ISO 4217.| string|

    | Currency| A code allocated to a currency by a Maintenance Agency under
    an international identification scheme, as described in the latest edition
    of the international standard ISO 4217 \"Codes for the representation of
    currencies and funds\".| string|


    \ <a name=OBExternalLimitType1Code></a>\ 

    ## OBExternalLimitType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>Available</li><li>Credit</li><li>Emergency</li><li>Pre-Agreed</li><\
    li>Temporary</li></ul>|


    \ <a name=OBCreditLine1></a>\ 

    ## OBCreditLine1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Included| Indicates whether or not the credit line is included in the
    balance of the account. Usage: If not present, credit line is not included
    in the balance amount of the account.| boolean|

    | Type | Entity |
    <details><summary>[OBExternalLimitType1Code](#OBExternalLimitType1Code)</su\
    mmary><ul></ul></details> |\ 

    | Amount | Entity |
    <details><summary>[OBActiveOrHistoricCurrencyAndAmount](#OBActiveOrHistoric\
    CurrencyAndAmount)</summary><ul><li>Amount [string]</li> <li>Currency
    [string]</li> </ul></details> |\ 


    \ <a name=OBCashBalance1></a>\ 

    ## OBCashBalance1\ 

    Set of elements used to define the balance details.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AccountId| A unique and immutable identifier used to identify the
    account resource. This identifier has no meaning to the account owner.|
    string|

    | CreditDebitIndicator | Entity |
    <details><summary>[OBCreditDebitCode](#OBCreditDebitCode)</summary><ul></ul\
    ></details> |\ 

    | Type | Entity |
    <details><summary>[OBBalanceType1Code](#OBBalanceType1Code)</summary><ul></\
    ul></details> |\ 

    | DateTime| Indicates the date (and time) of the balance.All dates in
    the JSON payloads are represented in ISO 8601 date-time format.  All
    date-time fields in responses must include the timezone. An example is
    below: 2017-04-05T10:43:07+00:00| string|

    | Amount | Entity |
    <details><summary>[OBActiveOrHistoricCurrencyAndAmount](#OBActiveOrHistoric\
    CurrencyAndAmount)</summary><ul><li>Amount [string]</li> <li>Currency
    [string]</li> </ul></details> |\ 

    | CreditLine| Set of elements used to provide details on the credit
    line.| array[[OBCreditLine1](#OBCreditLine1)]|


    \ <a name=OBReadDataBalance1></a>\ 

    ## OBReadDataBalance1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Balance| Set of elements used to define the balance details.|
    array[[OBCashBalance1](#OBCashBalance1)]|


    \ <a name=OBReadBalance1></a>\ 

    ## OBReadBalance1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataBalance1](#OBReadDataBalance1)</summary><ul><l\
    i>Balance [array[[OBCashBalance1](#OBCashBalance1)]]</li> </ul></details>
    |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBBeneficiaryType1Code></a>\ 

    ## OBBeneficiaryType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Specifies the Beneficiary Type.| <ul style=\"padding-left:
    0\"><li>Trusted</li><li>Ordinary</li></ul>|


    \ <a name=OBSupplementaryData1></a>\ 

    ## OBSupplementaryData1\ 

    Additional information that can not be captured in the structured fields
    and/or any other specific block.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|


    \ <a name=OBAddressTypeCode></a>\ 

    ## OBAddressTypeCode\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Identifies the nature of the postal address.| <ul
    style=\"padding-left:
    0\"><li>Business</li><li>Correspondence</li><li>DeliveryTo</li><li>MailTo</\
    li><li>POBox</li><li>Postal</li><li>Residential</li><li>Statement</li></ul>|


    \ <a name=OBPostalAddress6></a>\ 

    ## OBPostalAddress6\ 

    Information that locates and identifies a specific address, as defined
    by postal services.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AddressType | Entity |
    <details><summary>[OBAddressTypeCode](#OBAddressTypeCode)</summary><ul></ul\
    ></details> |\ 

    | Department| Identification of a division of a large organisation or
    building.| string|

    | SubDepartment| Identification of a sub-division of a large
    organisation or building.| string|

    | StreetName| Name of a street or thoroughfare.| string|

    | BuildingNumber| Number that identifies the position of a building on a
    street.| string|

    | PostCode| Identifier consisting of a group of letters and/or numbers
    that is added to a postal address to assist the sorting of mail.| string|

    | TownName| Name of a built-up area, with defined boundaries, and a
    local government.| string|

    | CountrySubDivision| Identifies a subdivision of a country such as
    state, region, county.| string|

    | Country| Nation with its own government.| string|

    | AddressLine| Information that locates and identifies a specific
    address, as defined by postal services, presented in free format text.|
    array|


    \ <a name=OBBranchAndFinancialInstitutionIdentification6></a>\ 

    ## OBBranchAndFinancialInstitutionIdentification6\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | SchemeName| Name of the identification scheme, in a coded form as
    published in an external list.| string|

    | Identification| Unique and unambiguous identification of the servicing
    institution.| string|

    | Name| Name by which an agent is known and which is usually used to
    identify that agent.| string|

    | PostalAddress | Entity |
    <details><summary>[OBPostalAddress6](#OBPostalAddress6)</summary><ul><li><d\
    etails><summary>AddressType
    [[OBAddressTypeCode](#OBAddressTypeCode)]</summary><ul></ul></details></li>\
    <li>Department [string]</li> <li>SubDepartment [string]</li> <li>StreetName
    [string]</li> <li>BuildingNumber [string]</li> <li>PostCode [string]</li>
    <li>TownName [string]</li> <li>CountrySubDivision [string]</li> <li>Country
    [string]</li> <li>AddressLine [array]</li> </ul></details> |\ 


    \ <a name=OBBeneficiary5></a>\ 

    ## OBBeneficiary5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AccountId| A unique and immutable identifier used to identify the
    account resource. This identifier has no meaning to the account owner.|
    string|

    | BeneficiaryId| A unique and immutable identifier used to identify the
    beneficiary resource. This identifier has no meaning to the account owner.|
    string|

    | BeneficiaryType | Entity |
    <details><summary>[OBBeneficiaryType1Code](#OBBeneficiaryType1Code)</summar\
    y><ul></ul></details> |\ 

    | Reference| Unique reference, as assigned by the creditor, to
    unambiguously refer to the payment transaction. Usage: If available, the
    initiating party should provide this reference in the structured remittance
    information, to enable reconciliation by the creditor upon receipt of the
    amount of money. If the business context requires the use of a creditor
    reference or a payment remit identification, and only one identifier can be
    passed through the end-to-end chain, the creditor's reference or payment
    remittance identification should be quoted in the end-to-end transaction
    identification.| string|

    | SupplementaryData | Entity |
    <details><summary>[OBSupplementaryData1](#OBSupplementaryData1)</summary><u\
    l></ul></details> |\ 

    | CreditorAgent | Entity |
    <details><summary>[OBBranchAndFinancialInstitutionIdentification6](#OBBranc\
    hAndFinancialInstitutionIdentification6)</summary><ul><li>SchemeName
    [string]</li> <li>Identification [string]</li> <li>Name [string]</li>
    <li><details><summary>PostalAddress
    [[OBPostalAddress6](#OBPostalAddress6)]</summary><ul><li><details><summary>\
    AddressType
    [[OBAddressTypeCode](#OBAddressTypeCode)]</summary><ul></ul></details></li>\
    <li>Department [string]</li> <li>SubDepartment [string]</li> <li>StreetName
    [string]</li> <li>BuildingNumber [string]</li> <li>PostCode [string]</li>
    <li>TownName [string]</li> <li>CountrySubDivision [string]</li> <li>Country
    [string]</li> <li>AddressLine [array]</li>
    </ul></details></li></ul></details> |\ 

    | CreditorAccount | Entity |
    <details><summary>[OBCashAccount5](#OBCashAccount5)</summary><ul><li>Scheme\
    Name [string]</li> <li>Identification [string]</li> <li>Name [string]</li>
    <li>SecondaryIdentification [string]</li> </ul></details> |\ 


    \ <a name=OBReadDataBeneficiary5></a>\ 

    ## OBReadDataBeneficiary5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Beneficiary| -| array[[OBBeneficiary5](#OBBeneficiary5)]|


    \ <a name=OBReadBeneficiary5></a>\ 

    ## OBReadBeneficiary5\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataBeneficiary5](#OBReadDataBeneficiary5)</summar\
    y><ul><li>Beneficiary [array[[OBBeneficiary5](#OBBeneficiary5)]]</li>
    </ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBExternalDirectDebitStatus1Code></a>\ 

    ## OBExternalDirectDebitStatus1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>Active</li><li>Inactive</li></ul>|


    \ <a name=OBDirectDebit2></a>\ 

    ## OBDirectDebit2\ 

    Account to or from which a cash entry is made.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AccountId| A unique and immutable identifier used to identify the
    account resource. This identifier has no meaning to the account owner.|
    string|

    | DirectDebitId| A unique and immutable identifier used to identify the
    direct debit resource. This identifier has no meaning to the account owner.|
    string|

    | MandateIdentification| Direct Debit reference. For AUDDIS service
    users provide Core Reference. For non AUDDIS service users provide Core
    reference if possible or last used reference.| string|

    | DirectDebitStatusCode | Entity |
    <details><summary>[OBExternalDirectDebitStatus1Code](#OBExternalDirectDebit\
    Status1Code)</summary><ul></ul></details> |\ 

    | Name| Name of Service User.| string|

    | PreviousPaymentDateTime| Date of most recent direct debit
    collection.All dates in the JSON payloads are represented in ISO 8601
    date-time format. All date-time fields in responses must include the
    timezone.An example is below: 2017-04-05T10:43:07+00:00| string|

    | Frequency| Regularity with which direct debit instructions are to be
    created and processed.| string|

    | PreviousPaymentAmount | Entity |
    <details><summary>[OBActiveOrHistoricCurrencyAndAmount](#OBActiveOrHistoric\
    CurrencyAndAmount)</summary><ul><li>Amount [string]</li> <li>Currency
    [string]</li> </ul></details> |\ 


    \ <a name=OBReadDataDirectDebit2></a>\ 

    ## OBReadDataDirectDebit2\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | DirectDebit| Account to or from which a cash entry is made.|
    array[[OBDirectDebit2](#OBDirectDebit2)]|


    \ <a name=OBReadDirectDebit2></a>\ 

    ## OBReadDirectDebit2\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataDirectDebit2](#OBReadDataDirectDebit2)</summar\
    y><ul><li>DirectDebit [array[[OBDirectDebit2](#OBDirectDebit2)]]</li>
    </ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBExternalOfferType1Code></a>\ 

    ## OBExternalOfferType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>BalanceTransfer</li><li>LimitIncrease</li><li>MoneyTransfer</li><li\
    >Other</li><li>PromotionalRate</li></ul>|


    \ <a name=OBOffer1></a>\ 

    ## OBOffer1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AccountId| A unique and immutable identifier used to identify the
    account resource. This identifier has no meaning to the account owner.|
    string|

    | OfferId| A unique and immutable identifier used to identify the offer
    resource. This identifier has no meaning to the account owner.| string|

    | OfferType | Entity |
    <details><summary>[OBExternalOfferType1Code](#OBExternalOfferType1Code)</su\
    mmary><ul></ul></details> |\ 

    | Description| Further details of the offer.| string|

    | StartDateTime| Date and time at which the offer starts.All dates in
    the JSON payloads are represented in ISO 8601 date-time format.  All
    date-time fields in responses must include the timezone. An example is
    below: 2017-04-05T10:43:07+00:00| string|

    | EndDateTime| Date and time at which the offer ends.All dates in the
    JSON payloads are represented in ISO 8601 date-time format.  All date-time
    fields in responses must include the timezone. An example is below:
    2017-04-05T10:43:07+00:00| string|

    | Rate| Rate associated with the offer type.| string|

    | Value| Value associated with the offer type.| integer|

    | Term| Further details of the term of the offer.| string|

    | URL| URL (Uniform Resource Locator) where documentation on the offer
    can be found| string|

    | Amount | Entity |
    <details><summary>[OBActiveOrHistoricCurrencyAndAmount](#OBActiveOrHistoric\
    CurrencyAndAmount)</summary><ul><li>Amount [string]</li> <li>Currency
    [string]</li> </ul></details> |\ 

    | Fee | Entity |
    <details><summary>[OBActiveOrHistoricCurrencyAndAmount](#OBActiveOrHistoric\
    CurrencyAndAmount)</summary><ul><li>Amount [string]</li> <li>Currency
    [string]</li> </ul></details> |\ 


    \ <a name=OBReadDataOffer1></a>\ 

    ## OBReadDataOffer1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Offer| -| array[[OBOffer1](#OBOffer1)]|


    \ <a name=OBReadOffer1></a>\ 

    ## OBReadOffer1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataOffer1](#OBReadDataOffer1)</summary><ul><li>Of\
    fer [array[[OBOffer1](#OBOffer1)]]</li> </ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBExternalPartyType1Code></a>\ 

    ## OBExternalPartyType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>Delegate</li><li>Joint</li><li>Sole</li></ul>|


    \ <a name=OBRelationship1></a>\ 

    ## OBRelationship1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Related| Absolute URI to the related resource.| string|

    | Id| Unique identification as assigned by the ASPSP to uniquely
    identify the related resource.| string|


    \ <a name=OBPartyRelationships1></a>\ 

    ## OBPartyRelationships1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Account | Entity |
    <details><summary>[OBRelationship1](#OBRelationship1)</summary><ul><li>Rela\
    ted [string]</li> <li>Id [string]</li> </ul></details> |\ 


    \ <a name=OBPostalAddress8></a>\ 

    ## OBPostalAddress8\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | AddressType | Entity |
    <details><summary>[OBAddressTypeCode](#OBAddressTypeCode)</summary><ul></ul\
    ></details> |\ 

    | AddressLine| Information that locates and identifies a specific
    address, as defined by postal services, that is presented in free format
    text.| array|

    | StreetName| Name of a street or thoroughfare.| string|

    | BuildingNumber| Number that identifies the position of a building on a
    street.| string|

    | PostCode| Identifier consisting of a group of letters and/or numbers
    that is added to a postal address to assist the sorting of mail.| string|

    | TownName| Name of a built-up area, with defined boundaries, and a
    local government.| string|

    | CountrySubDivision| Identifies a subdivision of a country eg, state,
    region, county.| string|

    | Country| Nation with its own government, occupying a particular
    territory.| string|


    \ <a name=OBParty2></a>\ 

    ## OBParty2\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | PartyId| A unique and immutable identifier used to identify the
    customer resource. This identifier has no meaning to the account owner.|
    string|

    | PartyNumber| Number assigned by an agent to identify its customer.|
    string|

    | PartyType | Entity |
    <details><summary>[OBExternalPartyType1Code](#OBExternalPartyType1Code)</su\
    mmary><ul></ul></details> |\ 

    | Name| Name by which a party is known and which is usually used to
    identify that party.| string|

    | FullLegalName| Specifies a character string with a maximum length of
    350 characters.| string|

    | LegalStructure| Legal standing of the party.| string|

    | BeneficialOwnership| A flag to indicate a party's beneficial ownership
    of the related account.| boolean|

    | AccountRole| A party’s role with respect to the related account.|
    string|

    | EmailAddress| Address for electronic mail (e-mail).| string|

    | Phone| Collection of information that identifies a phone number, as
    defined by telecom services.| string|

    | Mobile| Collection of information that identifies a mobile phone
    number, as defined by telecom services.| string|

    | Relationships | Entity |
    <details><summary>[OBPartyRelationships1](#OBPartyRelationships1)</summary>\
    <ul><li><details><summary>Account
    [[OBRelationship1](#OBRelationship1)]</summary><ul><li>Related [string]</li>
    <li>Id [string]</li> </ul></details></li></ul></details> |\ 

    | Address| Postal address of a party.|
    array[[OBPostalAddress8](#OBPostalAddress8)]|


    \ <a name=OBReadDataParty2></a>\ 

    ## OBReadDataParty2\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Party | Entity |
    <details><summary>[OBParty2](#OBParty2)</summary><ul><li>PartyId
    [string]</li> <li>PartyNumber [string]</li> <li><details><summary>PartyType
    [[OBExternalPartyType1Code](#OBExternalPartyType1Code)]</summary><ul></ul><\
    /details></li><li>Name [string]</li> <li>FullLegalName [string]</li>
    <li>LegalStructure [string]</li> <li>BeneficialOwnership [boolean]</li>
    <li>AccountRole [string]</li> <li>EmailAddress [string]</li> <li>Phone
    [string]</li> <li>Mobile [string]</li> <li><details><summary>Relationships
    [[OBPartyRelationships1](#OBPartyRelationships1)]</summary><ul><li><details\
    ><summary>Account
    [[OBRelationship1](#OBRelationship1)]</summary><ul><li>Related [string]</li>
    <li>Id [string]</li> </ul></details></li></ul></details></li><li>Address
    [array[[OBPostalAddress8](#OBPostalAddress8)]]</li> </ul></details> |\ 


    \ <a name=OBReadParty2></a>\ 

    ## OBReadParty2\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataParty2](#OBReadDataParty2)</summary><ul><li><d\
    etails><summary>Party [[OBParty2](#OBParty2)]</summary><ul><li>PartyId
    [string]</li> <li>PartyNumber [string]</li> <li><details><summary>PartyType
    [[OBExternalPartyType1Code](#OBExternalPartyType1Code)]</summary><ul></ul><\
    /details></li><li>Name [string]</li> <li>FullLegalName [string]</li>
    <li>LegalStructure [string]</li> <li>BeneficialOwnership [boolean]</li>
    <li>AccountRole [string]</li> <li>EmailAddress [string]</li> <li>Phone
    [string]</li> <li>Mobile [string]</li> <li><details><summary>Relationships
    [[OBPartyRelationships1](#OBPartyRelationships1)]</summary><ul><li><details\
    ><summary>Account
    [[OBRelationship1](#OBRelationship1)]</summary><ul><li>Related [string]</li>
    <li>Id [string]</li> </ul></details></li></ul></details></li><li>Address
    [array[[OBPostalAddress8](#OBPostalAddress8)]]</li>
    </ul></details></li></ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBReadDataParty3></a>\ 

    ## OBReadDataParty3\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Party| -| array[[OBParty2](#OBParty2)]|


    \ <a name=OBReadParty3></a>\ 

    ## OBReadParty3\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Data | Entity |
    <details><summary>[OBReadDataParty3](#OBReadDataParty3)</summary><ul><li>Pa\
    rty [array[[OBParty2](#OBParty2)]]</li> </ul></details> |\ 

    | Links | Entity |
    <details><summary>[Links](#Links)</summary><ul><li>Self [string]</li>
    <li>First [string]</li> <li>Prev [string]</li> <li>Next [string]</li>
    <li>Last [string]</li> </ul></details> |\ 

    | Meta | Entity |
    <details><summary>[Meta](#Meta)</summary><ul><li>TotalPages [integer]</li>
    <li>FirstAvailableDateTime [string]</li> <li>LastAvailableDateTime
    [string]</li> </ul></details> |\ 


    \ <a name=OBExternalProductType1Code></a>\ 

    ## OBExternalProductType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Product type : Personal Current Account, Business Current
    Account| <ul style=\"padding-left:
    0\"><li>BusinessCurrentAccount</li><li>CommercialCreditCard</li><li>Other</\
    li><li>PersonalCurrentAccount</li><li>SMELoan</li></ul>|


    \ <a name=OBOtherProductSegment1Code></a>\ 

    ## OBOtherProductSegment1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>GEAS</li><li>GEBA</li><li>GEBR</li><li>GEBU</li><li>GECI</li><li>GE\
    CS</li><li>GEFB</li><li>GEFG</li><li>GEG</li><li>GEGR</li><li>GEGS</li><li>\
    GEOT</li><li>GEOV</li><li>GEPA</li><li>GEPR</li><li>GERE</li><li>GEST</li><\
    li>GEYA</li><li>GEYO</li><li>PSCA</li><li>PSES</li><li>PSNC</li><li>PSNP</l\
    i><li>PSRG</li><li>PSSS</li><li>PSST</li><li>PSSW</li></ul>|


    \ <a name=OBPeriod1Code></a>\ 

    ## OBPeriod1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| The unit of period (days, weeks, months etc.) of the promotional
    length| <ul style=\"padding-left:
    0\"><li>PACT</li><li>PDAY</li><li>PHYR</li><li>PMTH</li><li>PQTR</li><li>PW\
    EK</li><li>PYER</li></ul>|


    \ <a name=OBOtherCodeType1></a>\ 

    ## OBOtherCodeType1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Code| The four letter Mnemonic used within an XML file to identify a
    code| string|

    | Name| Long name associated with the code| string|

    | Description| Description to describe the purpose of the code| string|


    \ <a name=OBOtherProductDetails1></a>\ 

    ## OBOtherProductDetails1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Segment| Market segmentation is a marketing term referring to the
    aggregating of prospective buyers into groups, or segments, that have common
    needs and respond similarly to a marketing action. Market segmentation
    enables companies to target different categories of consumers who perceive
    the full value of certain products and services differently from one
    another. Read more: Market Segmentation
    http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd|
    array[[OBOtherProductSegment1Code](#OBOtherProductSegment1Code)]|

    | FeeFreeLength| The length/duration of the fee free period| integer|

    | FeeFreeLengthPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | MonthlyMaximumCharge| The maximum relevant charges that could accrue
    as defined fully in Part 7 of the CMA order| string|

    | Notes| Optional additional notes to supplement the Core product
    details| array|

    | OtherSegment | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 


    \ <a name=OBTierBandType1Code></a>\ 

    ## OBTierBandType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| The methodology of how credit interest is paid/applied. It can
    be:- 1. Banded Interest rates are banded. i.e. Increasing rate on whole
    balance as balance increases. 2. Tiered Interest rates are tiered. i.e.
    increasing rate for each tier as balance increases, but interest paid on
    tier fixed for that tier and not on whole balance. 3. Whole The same
    interest rate is applied irrespective of the product holder's account
    balance| <ul style=\"padding-left:
    0\"><li>INBA</li><li>INTI</li><li>INWH</li></ul>|


    \ <a name=OBInterestCalculationMethod1Code></a>\ 

    ## OBInterestCalculationMethod1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>ITCO</li><li>ITOT</li><li>ITSI</li></ul>|


    \ <a name=OBInterestDestination1Code></a>\ 

    ## OBInterestDestination1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Describes whether accrued interest is payable only to the BCA or
    to another bank account| <ul style=\"padding-left:
    0\"><li>INOT</li><li>INPA</li><li>INSC</li></ul>|


    \ <a name=OBFrequency1Code></a>\ 

    ## OBFrequency1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| How often is credit interest calculated for the account.| <ul
    style=\"padding-left:
    0\"><li>FQAT</li><li>FQDY</li><li>FQHY</li><li>FQMY</li><li>FQOT</li><li>FQ\
    QY</li><li>FQSD</li><li>FQWY</li><li>FQYY</li></ul>|


    \ <a name=OBInterestFixedVariableType1Code></a>\ 

    ## OBInterestFixedVariableType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Type of interest rate, Fixed or Variable| <ul
    style=\"padding-left: 0\"><li>INFI</li><li>INVA</li></ul>|


    \ <a name=OBInterestRateType1Code></a>\ 

    ## OBInterestRateType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Interest rate types, other than AER, which financial
    institutions may use to describe the annual interest rate payable to the
    account holder's account.| <ul style=\"padding-left:
    0\"><li>INBB</li><li>INFR</li><li>INGR</li><li>INLR</li><li>INNE</li><li>IN\
    OT</li></ul>|


    \ <a name=OBTierBand1></a>\ 

    ## OBTierBand1\ 

    Tier Band Details\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Identification| Unique and unambiguous identification of a  Tier Band
    for the Product.| string|

    | TierValueMinimum| Minimum deposit value for which the credit interest
    tier applies.| string|

    | TierValueMaximum| Maximum deposit value for which the credit interest
    tier applies.| string|

    | CalculationFrequency | Entity |
    <details><summary>[OBFrequency1Code](#OBFrequency1Code)</summary><ul></ul><\
    /details> |\ 

    | ApplicationFrequency | Entity |
    <details><summary>[OBFrequency1Code](#OBFrequency1Code)</summary><ul></ul><\
    /details> |\ 

    | DepositInterestAppliedCoverage | Entity |
    <details><summary>[OBTierBandType1Code](#OBTierBandType1Code)</summary><ul>\
    </ul></details> |\ 

    | FixedVariableInterestRateType | Entity |
    <details><summary>[OBInterestFixedVariableType1Code](#OBInterestFixedVariab\
    leType1Code)</summary><ul></ul></details> |\ 

    | AER| The annual equivalent rate (AER) is interest that is calculated
    under the assumption that any interest paid is combined with the original
    balance and the next interest payment will be based on the slightly higher
    account balance. Overall, this means that interest can be compounded several
    times in a year depending on the number of times that interest payments are
    made.  Read more: Annual Equivalent Rate (AER)
    http://www.investopedia.com/terms/a/aer.asp#ixzz4gfR7IO1A| string|

    | BankInterestRateType | Entity |
    <details><summary>[OBInterestRateType1Code](#OBInterestRateType1Code)</summ\
    ary><ul></ul></details> |\ 

    | BankInterestRate| Bank Interest for the product| string|

    | Notes| Optional additional notes to supplement the Tier Band details|
    array|

    | OtherBankInterestType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherApplicationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherCalculationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 


    \ <a name=OBTierBandSet1></a>\ 

    ## OBTierBandSet1\ 

    The group of tiers or bands for which credit interest can be applied.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | TierBandMethod | Entity |
    <details><summary>[OBTierBandType1Code](#OBTierBandType1Code)</summary><ul>\
    </ul></details> |\ 

    | CalculationMethod | Entity |
    <details><summary>[OBInterestCalculationMethod1Code](#OBInterestCalculation\
    Method1Code)</summary><ul></ul></details> |\ 

    | Destination | Entity |
    <details><summary>[OBInterestDestination1Code](#OBInterestDestination1Code)\
    </summary><ul></ul></details> |\ 

    | Notes| Optional additional notes to supplement the Tier Band Set
    details| array|

    | OtherCalculationMethod | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherDestination | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | TierBand| Tier Band Details| array[[OBTierBand1](#OBTierBand1)]|


    \ <a name=OBCreditInterest1></a>\ 

    ## OBCreditInterest1\ 

    Details about the interest that may be payable to the Account holders\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | TierBandSet| -| array[[OBTierBandSet1](#OBTierBandSet1)]|


    \ <a name=OBOverdraftType1Code></a>\ 

    ## OBOverdraftType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| An overdraft can either be 'committed' which means that the
    facility cannot be withdrawn without reasonable notification before it's
    agreed end date, or 'on demand' which means that the financial institution
    can demand repayment at any point in time.| <ul style=\"padding-left:
    0\"><li>OVCO</li><li>OVOD</li><li>OVOT</li></ul>|


    \ <a name=OBOverdraftFeeType1Code></a>\ 

    ## OBOverdraftFeeType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Fee/charge type which is being capped| <ul style=\"padding-left:
    0\"><li>FBAO</li><li>FBAR</li><li>FBEB</li><li>FBIT</li><li>FBOR</li><li>FB\
    OS</li><li>FBSC</li><li>FBTO</li><li>FBUB</li><li>FBUT</li><li>FTOT</li><li\
    >FTUT</li></ul>|


    \ <a name=OBMinMaxType1Code></a>\ 

    ## OBMinMaxType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Min Max type| <ul style=\"padding-left:
    0\"><li>FMMN</li><li>FMMX</li></ul>|


    \ <a name=OBOverdraftFeeChargeCap1></a>\ 

    ## OBOverdraftFeeChargeCap1\ 

    Details about any caps (maximum charges) that apply to a particular
    fee/charge. Capping can either be based on an amount (in gbp), an amount (in
    items) or a rate.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType| -|
    array[[OBOverdraftFeeType1Code](#OBOverdraftFeeType1Code)]|

    | MinMaxType | Entity |
    <details><summary>[OBMinMaxType1Code](#OBMinMaxType1Code)</summary><ul></ul\
    ></details> |\ 

    | FeeCapOccurrence| Indicates whether the advertised overdraft rate is
    guaranteed to be offered to a borrower by the bank e.g. if it's part of a
    government scheme, or whether the rate may vary dependent on the applicant's
    circumstances.| integer|

    | FeeCapAmount| Cap amount charged for a fee/charge| string|

    | CappingPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | Notes| Notes related to Overdraft fee charge cap| array|

    | OtherFeeType| -| array[[OBOtherCodeType1](#OBOtherCodeType1)]|


    \ <a name=OBFeeFrequency1Code></a>\ 

    ## OBFeeFrequency1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Frequency at which the overdraft charge is applied to the
    account| <ul style=\"padding-left:
    0\"><li>FEAC</li><li>FEAO</li><li>FECP</li><li>FEDA</li><li>FEHO</li><li>FE\
    I</li><li>FEMO</li><li>FEOA</li><li>FEOT</li><li>FEPC</li><li>FEPH</li><li>\
    FEPO</li><li>FEPS</li><li>FEPT</li><li>FEPTA</li><li>FEPTP</li><li>FEQU</li\
    ><li>FESM</li><li>FEST</li><li>FEWE</li><li>FEYE</li></ul>|


    \ <a name=OBOverdraftFeesChargeDetails1></a>\ 

    ## OBOverdraftFeesChargeDetails1\ 

    Details about the fees/charges\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType | Entity |
    <details><summary>[OBOverdraftFeeType1Code](#OBOverdraftFeeType1Code)</summ\
    ary><ul></ul></details> |\ 

    | NegotiableIndicator| Indicates whether fee and charges are negotiable|
    boolean|

    | OverdraftControlIndicator| Indicates if the fee/charge is already
    covered by an 'Overdraft Control' fee or not.| boolean|

    | IncrementalBorrowingAmount| Every additional tranche of an overdraft
    balance to which an overdraft fee is applied| string|

    | FeeAmount| Amount charged for an overdraft fee/charge (where it is
    charged in terms of an amount rather than a rate)| string|

    | FeeRate| Rate charged for overdraft fee/charge (where it is charged in
    terms of a rate rather than an amount)| string|

    | FeeRateType | Entity |
    <details><summary>[OBInterestRateType1Code](#OBInterestRateType1Code)</summ\
    ary><ul></ul></details> |\ 

    | ApplicationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | CalculationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | Notes| Free text for capturing any other info related to Overdraft
    Fees Charge Details| array|

    | OverdraftFeeChargeCap| -|
    array[[OBOverdraftFeeChargeCap1](#OBOverdraftFeeChargeCap1)]|

    | OtherFeeType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherFeeRateType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherApplicationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherCalculationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 


    \ <a name=OBOverdraftFeesCharges1></a>\ 

    ## OBOverdraftFeesCharges1\ 

    Overdraft fees and charges\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | OverdraftFeeChargeCap| -|
    array[[OBOverdraftFeeChargeCap1](#OBOverdraftFeeChargeCap1)]|

    | OverdraftFeeChargeDetail| -|
    array[[OBOverdraftFeesChargeDetails1](#OBOverdraftFeesChargeDetails1)]|


    \ <a name=OBOverdraftTierBand1></a>\ 

    ## OBOverdraftTierBand1\ 

    Provides overdraft details for a specific tier or band\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Identification| Unique and unambiguous identification of a  Tier Band
    for a overdraft.| string|

    | TierValueMin| Minimum value of Overdraft Tier/Band| string|

    | TierValueMax| Maximum value of Overdraft Tier/Band| string|

    | EAR| EAR means Effective Annual Rate and/or Equivalent Annual Rate
    (frequently used interchangeably), being the actual annual interest rate of
    an Overdraft.| string|

    | AgreementLengthMin| Specifies the minimum length of a band for a fixed
    overdraft agreement| integer|

    | AgreementLengthMax| Specifies the maximum length of a band for a fixed
    overdraft agreement| integer|

    | AgreementPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | OverdraftInterestChargingCoverage | Entity |
    <details><summary>[OBTierBandType1Code](#OBTierBandType1Code)</summary><ul>\
    </ul></details> |\ 

    | BankGuaranteedIndicator| Indicates whether the advertised overdraft
    rate is guaranteed to be offered to a borrower by the bank e.g. if it�s part
    of a government scheme, or whether the rate may vary dependent on the
    applicant�s circumstances.| boolean|

    | Notes| Optional additional notes to supplement the Tier/band details|
    array|

    | OverdraftFeesCharges| -|
    array[[OBOverdraftFeesCharges1](#OBOverdraftFeesCharges1)]|


    \ <a name=OBOverdraftTierbandSet1></a>\ 

    ## OBOverdraftTierbandSet1\ 

    Tier band set details\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | TierBandMethod | Entity |
    <details><summary>[OBTierBandType1Code](#OBTierBandType1Code)</summary><ul>\
    </ul></details> |\ 

    | OverdraftType | Entity |
    <details><summary>[OBOverdraftType1Code](#OBOverdraftType1Code)</summary><u\
    l></ul></details> |\ 

    | Identification| Unique and unambiguous identification of a  Tier Band
    for a overdraft product.| string|

    | AuthorisedIndicator| Indicates if the Overdraft is authorised (Y) or
    unauthorised (N)| boolean|

    | BufferAmount| When a customer exceeds their credit limit, a financial
    institution will not charge the customer unauthorised overdraft charges if
    they do not exceed by more than the buffer amount. Note: Authorised
    overdraft charges may still apply.| string|

    | Notes| Optional additional notes to supplement the overdraft Tier Band
    Set details| array|

    | OverdraftTierBand| -|
    array[[OBOverdraftTierBand1](#OBOverdraftTierBand1)]|

    | OverdraftFeesCharges| -|
    array[[OBOverdraftFeesCharges1](#OBOverdraftFeesCharges1)]|


    \ <a name=OBOverdraft1></a>\ 

    ## OBOverdraft1\ 

    Borrowing details\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Notes| Associated Notes about the overdraft rates| array|

    | OverdraftTierBandSet| Tier band set details|
    array[[OBOverdraftTierbandSet1](#OBOverdraftTierbandSet1)]|


    \ <a name=OBFeeType1Code></a>\ 

    ## OBFeeType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Fee/Charge Type| <ul style=\"padding-left:
    0\"><li>FEPF</li><li>FTOT</li><li>FYAF</li><li>FYAM</li><li>FYAQ</li><li>FY\
    CP</li><li>FYDB</li><li>FYMI</li><li>FYXX</li></ul>|


    \ <a name=OBFeeCategory1Code></a>\ 

    ## OBFeeCategory1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Categorisation of fees and charges into standard categories.|
    <ul style=\"padding-left: 0\"><li>FCOT</li><li>FCRE</li><li>FCSV</li></ul>|


    \ <a name=OBOtherFeeChargeDetailType></a>\ 

    ## OBOtherFeeChargeDetailType\ 

    Other Fee/charge type which is not available in the standard code set\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Code| The four letter Mnemonic used within an XML file to identify a
    code| string|

    | FeeCategory | Entity |
    <details><summary>[OBFeeCategory1Code](#OBFeeCategory1Code)</summary><ul></\
    ul></details> |\ 

    | Name| Long name associated with the code| string|

    | Description| Description to describe the purpose of the code| string|


    \ <a name=OBLoanInterestFeesChargeDetail1></a>\ 

    ## OBLoanInterestFeesChargeDetail1\ 

    Other fees/charges details\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType | Entity |
    <details><summary>[OBFeeType1Code](#OBFeeType1Code)</summary><ul></ul></det\
    ails> |\ 

    | NegotiableIndicator| Fee/charge which is usually negotiable rather
    than a fixed amount| boolean|

    | FeeAmount| Fee Amount charged for a fee/charge (where it is charged in
    terms of an amount rather than a rate)| string|

    | FeeRate| Rate charged for Fee/Charge (where it is charged in terms of
    a rate rather than an amount)| string|

    | FeeRateType | Entity |
    <details><summary>[OBInterestRateType1Code](#OBInterestRateType1Code)</summ\
    ary><ul></ul></details> |\ 

    | ApplicationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | CalculationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | Notes| Optional additional notes to supplement the fee/charge
    details.| array|

    | OtherFeeType | Entity |
    <details><summary>[OBOtherFeeChargeDetailType](#OBOtherFeeChargeDetailType)\
    </summary><ul><li>Code [string]</li> <li><details><summary>FeeCategory
    [[OBFeeCategory1Code](#OBFeeCategory1Code)]</summary><ul></ul></details></l\
    i><li>Name [string]</li> <li>Description [string]</li> </ul></details> |\ 

    | OtherFeeRateType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherApplicationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherCalculationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 


    \ <a name=OBLoanInterestFeesChargeCap1></a>\ 

    ## OBLoanInterestFeesChargeCap1\ 

    Details about any caps (minimum/maximum charges) that apply to a
    particular fee/charge\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType| -| array[[OBFeeType1Code](#OBFeeType1Code)]|

    | MinMaxType | Entity |
    <details><summary>[OBMinMaxType1Code](#OBMinMaxType1Code)</summary><ul></ul\
    ></details> |\ 

    | FeeCapOccurrence| Fee/charges are captured dependent on the number of
    occurrences rather than capped at a particular amount| integer|

    | FeeCapAmount| Cap amount charged for a fee/charge (where it is charged
    in terms of an amount rather than a rate)| string|

    | CappingPeriod | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | Notes| Free text for adding extra details for fee charge cap| array|

    | OtherFeeType| -| array[[OBOtherCodeType1](#OBOtherCodeType1)]|


    \ <a name=OBLoanInterestFeesCharges1></a>\ 

    ## OBLoanInterestFeesCharges1\ 

    Contains details of fees and charges which are not associated with
    either LoanRepayment or features/benefits\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | LoanInterestFeeChargeDetail| -|
    array[[OBLoanInterestFeesChargeDetail1](#OBLoanInterestFeesChargeDetail1)]|

    | LoanInterestFeeChargeCap| -|
    array[[OBLoanInterestFeesChargeCap1](#OBLoanInterestFeesChargeCap1)]|


    \ <a name=OBLoanInterestTierBand1></a>\ 

    ## OBLoanInterestTierBand1\ 

    Tier Band Details\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Identification| Unique and unambiguous identification of a  Tier Band
    for a SME Loan.| string|

    | TierValueMinimum| Minimum loan value for which the loan interest tier
    applies.| string|

    | TierValueMaximum| Maximum loan value for which the loan interest tier
    applies.| string|

    | TierValueMinTerm| Minimum loan term for which the loan interest tier
    applies.| integer|

    | MinTermPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | TierValueMaxTerm| Maximum loan term for which the loan interest tier
    applies.| integer|

    | MaxTermPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | FixedVariableInterestRateType | Entity |
    <details><summary>[OBInterestFixedVariableType1Code](#OBInterestFixedVariab\
    leType1Code)</summary><ul></ul></details> |\ 

    | RepAPR| The annual equivalent rate (AER) is interest that is
    calculated under the assumption that any interest paid is combined with the
    original balance and the next interest payment will be based on the slightly
    higher account balance. Overall, this means that interest can be compounded
    several times in a year depending on the number of times that interest
    payments are made.  For SME Loan, this APR is the representative APR which
    includes any account fees.| string|

    | LoanProviderInterestRateType | Entity |
    <details><summary>[OBInterestRateType1Code](#OBInterestRateType1Code)</summ\
    ary><ul></ul></details> |\ 

    | LoanProviderInterestRate| Loan provider Interest for the SME Loan
    product| string|

    | Notes| Optional additional notes to supplement the Tier Band details|
    array|

    | OtherLoanProviderInterestRateType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | LoanInterestFeesCharges| -|
    array[[OBLoanInterestFeesCharges1](#OBLoanInterestFeesCharges1)]|


    \ <a name=OBLoanInterestTierBandSet1></a>\ 

    ## OBLoanInterestTierBandSet1\ 

    The group of tiers or bands for which debit interest can be applied.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | TierBandMethod | Entity |
    <details><summary>[OBTierBandType1Code](#OBTierBandType1Code)</summary><ul>\
    </ul></details> |\ 

    | Identification| Loan interest tierbandset identification. Used
    by  loan providers for internal use purpose.| string|

    | CalculationMethod | Entity |
    <details><summary>[OBInterestCalculationMethod1Code](#OBInterestCalculation\
    Method1Code)</summary><ul></ul></details> |\ 

    | Notes| Optional additional notes to supplement the Tier Band Set
    details| array|

    | OtherCalculationMethod | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | LoanInterestTierBand| -|
    array[[OBLoanInterestTierBand1](#OBLoanInterestTierBand1)]|

    | LoanInterestFeesCharges| -|
    array[[OBLoanInterestFeesCharges1](#OBLoanInterestFeesCharges1)]|


    \ <a name=OBLoanInterest1></a>\ 

    ## OBLoanInterest1\ 

    Details about the interest that may be payable to the SME Loan holders\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Notes| Optional additional notes to supplement the LoanInterest|
    array|

    | LoanInterestTierBandSet| -|
    array[[OBLoanInterestTierBandSet1](#OBLoanInterestTierBandSet1)]|


    \ <a name=OBRepaymentType1Code></a>\ 

    ## OBRepaymentType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Repayment type| <ul style=\"padding-left:
    0\"><li>USBA</li><li>USBU</li><li>USCI</li><li>USCS</li><li>USER</li><li>US\
    FA</li><li>USFB</li><li>USFI</li><li>USIO</li><li>USOT</li><li>USPF</li><li\
    >USRW</li><li>USSL</li></ul>|


    \ <a name=OBRepaymentFrequency1Code></a>\ 

    ## OBRepaymentFrequency1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| Repayment frequency| <ul style=\"padding-left:
    0\"><li>SMDA</li><li>SMFL</li><li>SMFO</li><li>SMHY</li><li>SMMO</li><li>SM\
    OT</li><li>SMQU</li><li>SMWE</li><li>SMYE</li></ul>|


    \ <a name=OBRepaymentAmountType1Code></a>\ 

    ## OBRepaymentAmountType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| The repayment is for paying just the interest only or both
    interest and capital or bullet amount or balance to date etc| <ul
    style=\"padding-left:
    0\"><li>RABD</li><li>RABL</li><li>RACI</li><li>RAFC</li><li>RAIO</li><li>RA\
    LT</li><li>USOT</li></ul>|


    \ <a name=OBRepaymentFeeChargeDetail1></a>\ 

    ## OBRepaymentFeeChargeDetail1\ 

    Details about specific fees/charges that are applied for repayment\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType | Entity |
    <details><summary>[OBFeeType1Code](#OBFeeType1Code)</summary><ul></ul></det\
    ails> |\ 

    | NegotiableIndicator| Fee/charge which is usually negotiable rather
    than a fixed amount| boolean|

    | FeeAmount| Fee Amount charged for a fee/charge (where it is charged in
    terms of an amount rather than a rate)| string|

    | FeeRate| Rate charged for Fee/Charge (where it is charged in terms of
    a rate rather than an amount)| string|

    | FeeRateType | Entity |
    <details><summary>[OBInterestRateType1Code](#OBInterestRateType1Code)</summ\
    ary><ul></ul></details> |\ 

    | ApplicationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | CalculationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | Notes| Optional additional notes to supplement the fee/charge details|
    array|

    | OtherFeeType | Entity |
    <details><summary>[OBOtherFeeChargeDetailType](#OBOtherFeeChargeDetailType)\
    </summary><ul><li>Code [string]</li> <li><details><summary>FeeCategory
    [[OBFeeCategory1Code](#OBFeeCategory1Code)]</summary><ul></ul></details></l\
    i><li>Name [string]</li> <li>Description [string]</li> </ul></details> |\ 

    | OtherFeeRateType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherApplicationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherCalculationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 


    \ <a name=OBRepaymentFeeChargeCap1></a>\ 

    ## OBRepaymentFeeChargeCap1\ 

    RepaymentFeeChargeCap sets daily, weekly, monthly, yearly limits on the
    fees that are charged\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType| -| array[[OBFeeType1Code](#OBFeeType1Code)]|

    | MinMaxType | Entity |
    <details><summary>[OBMinMaxType1Code](#OBMinMaxType1Code)</summary><ul></ul\
    ></details> |\ 

    | FeeCapOccurrence| Fee/Charges are captured dependent on the number of
    occurrences rather than capped at a particular amount| integer|

    | FeeCapAmount| Cap amount charged for a fee/charge (where it is charged
    in terms of an amount rather than a rate)| string|

    | CappingPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | Notes| Free text for adding extra details for fee charge cap| array|

    | OtherFeeType| -| array[[OBOtherCodeType1](#OBOtherCodeType1)]|


    \ <a name=OBRepaymentFeeCharges1></a>\ 

    ## OBRepaymentFeeCharges1\ 

    Applicable fee/charges for repayment such as prepayment, full early
    repayment or non repayment.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | RepaymentFeeChargeDetail| -|
    array[[OBRepaymentFeeChargeDetail1](#OBRepaymentFeeChargeDetail1)]|

    | RepaymentFeeChargeCap| -|
    array[[OBRepaymentFeeChargeCap1](#OBRepaymentFeeChargeCap1)]|


    \ <a name=OBRepaymentHoliday1></a>\ 

    ## OBRepaymentHoliday1\ 

    Details of capital repayment holiday if any\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | MaxHolidayLength| The maximum length/duration of a Repayment Holiday|
    integer|

    | MaxHolidayPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | Notes| Free text for adding details for repayment holiday| array|


    \ <a name=OBRepayment1></a>\ 

    ## OBRepayment1\ 

    Repayment details of the Loan product\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | RepaymentType | Entity |
    <details><summary>[OBRepaymentType1Code](#OBRepaymentType1Code)</summary><u\
    l></ul></details> |\ 

    | RepaymentFrequency | Entity |
    <details><summary>[OBRepaymentFrequency1Code](#OBRepaymentFrequency1Code)</\
    summary><ul></ul></details> |\ 

    | AmountType | Entity |
    <details><summary>[OBRepaymentAmountType1Code](#OBRepaymentAmountType1Code)\
    </summary><ul></ul></details> |\ 

    | Notes| Optional additional notes to supplement the Repayment| array|

    | OtherRepaymentType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherRepaymentFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherAmountType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | RepaymentFeeCharges | Entity |
    <details><summary>[OBRepaymentFeeCharges1](#OBRepaymentFeeCharges1)</summar\
    y><ul><li>RepaymentFeeChargeDetail
    [array[[OBRepaymentFeeChargeDetail1](#OBRepaymentFeeChargeDetail1)]]</li>
    <li>RepaymentFeeChargeCap
    [array[[OBRepaymentFeeChargeCap1](#OBRepaymentFeeChargeCap1)]]</li>
    </ul></details> |\ 

    | RepaymentHoliday| -|
    array[[OBRepaymentHoliday1](#OBRepaymentHoliday1)]|


    \ <a name=OBTariffType1Code></a>\ 

    ## OBTariffType1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| TariffType which defines the fee and charges.| <ul
    style=\"padding-left: 0\"><li>TTEL</li><li>TTMX</li><li>TTOT</li></ul>|


    \ <a name=OBFeeChargeCap1></a>\ 

    ## OBFeeChargeCap1\ 

    Details about any caps (maximum charges) that apply to a particular or
    group of fee/charge\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeType| -| array[[OBFeeType1Code](#OBFeeType1Code)]|

    | MinMaxType | Entity |
    <details><summary>[OBMinMaxType1Code](#OBMinMaxType1Code)</summary><ul></ul\
    ></details> |\ 

    | FeeCapOccurrence| Fee/Charges are captured dependent on the number of
    occurrences rather than capped at a particular amount| integer|

    | FeeCapAmount| Cap amount charged for a fee/charge (where it is charged
    in terms of an amount rather than a rate)| string|

    | CappingPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | Notes| Free text for adding extra details for fee charge cap| array|

    | OtherFeeType| -| array[[OBOtherCodeType1](#OBOtherCodeType1)]|


    \ <a name=OBFeeApplicableRange1></a>\ 

    ## OBFeeApplicableRange1\ 

    Range or amounts or rates for which the fee/charge applies\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | MinimumAmount| Minimum Amount on which fee/charge is applicable (where
    it is expressed as an amount)| string|

    | MaximumAmount| Maximum Amount on which fee is applicable (where it is
    expressed as an amount)| string|

    | MinimumRate| Minimum rate on which fee/charge is applicable(where it
    is expressed as an rate)| string|

    | MaximumRate| Maximum rate on which fee/charge is applicable(where it
    is expressed as an rate)| string|


    \ <a name=OBFeeChargeDetail1></a>\ 

    ## OBFeeChargeDetail1\ 

    Other fees/charges details\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | FeeCategory | Entity |
    <details><summary>[OBFeeCategory1Code](#OBFeeCategory1Code)</summary><ul></\
    ul></details> |\ 

    | FeeType | Entity |
    <details><summary>[OBFeeType1Code](#OBFeeType1Code)</summary><ul></ul></det\
    ails> |\ 

    | NegotiableIndicator| Fee/charge which is usually negotiable rather
    than a fixed amount| boolean|

    | FeeAmount| Fee Amount charged for a fee/charge (where it is charged in
    terms of an amount rather than a rate)| string|

    | FeeRate| Rate charged for Fee/Charge (where it is charged in terms of
    a rate rather than an amount)| string|

    | FeeRateType | Entity |
    <details><summary>[OBInterestRateType1Code](#OBInterestRateType1Code)</summ\
    ary><ul></ul></details> |\ 

    | ApplicationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | CalculationFrequency | Entity |
    <details><summary>[OBFeeFrequency1Code](#OBFeeFrequency1Code)</summary><ul>\
    </ul></details> |\ 

    | Notes| Optional additional notes to supplement the fee/charge
    details.| array|

    | FeeChargeCap| -| array[[OBFeeChargeCap1](#OBFeeChargeCap1)]|

    | OtherFeeCategoryType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherFeeType | Entity |
    <details><summary>[OBOtherFeeChargeDetailType](#OBOtherFeeChargeDetailType)\
    </summary><ul><li>Code [string]</li> <li><details><summary>FeeCategory
    [[OBFeeCategory1Code](#OBFeeCategory1Code)]</summary><ul></ul></details></l\
    i><li>Name [string]</li> <li>Description [string]</li> </ul></details> |\ 

    | OtherFeeRateType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherApplicationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | OtherCalculationFrequency | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | FeeApplicableRange | Entity |
    <details><summary>[OBFeeApplicableRange1](#OBFeeApplicableRange1)</summary>\
    <ul><li>MinimumAmount [string]</li> <li>MaximumAmount [string]</li>
    <li>MinimumRate [string]</li> <li>MaximumRate [string]</li> </ul></details>
    |\ 


    \ <a name=OBOtherFeesAndCharges1></a>\ 

    ## OBOtherFeesAndCharges1\ 

    Contains details of fees and charges which are not associated with
    either Overdraft or features/benefits\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | TariffType | Entity |
    <details><summary>[OBTariffType1Code](#OBTariffType1Code)</summary><ul></ul\
    ></details> |\ 

    | TariffName| Name of the tariff| string|

    | OtherTariffType | Entity |
    <details><summary>[OBOtherCodeType1](#OBOtherCodeType1)</summary><ul><li>Co\
    de [string]</li> <li>Name [string]</li> <li>Description [string]</li>
    </ul></details> |\ 

    | FeeChargeDetail| -| array[[OBFeeChargeDetail1](#OBFeeChargeDetail1)]|

    | FeeChargeCap| -| array[[OBFeeChargeCap1](#OBFeeChargeCap1)]|


    \ <a name=OBOtherProductType1></a>\ 

    ## OBOtherProductType1\ 

    Other product type details associated with the account.\ 


    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Name| Long name associated with the product| string|

    | Description| Description of the Product associated with the account|
    string|

    | ProductDetails | Entity |
    <details><summary>[OBOtherProductDetails1](#OBOtherProductDetails1)</summar\
    y><ul><li>Segment
    [array[[OBOtherProductSegment1Code](#OBOtherProductSegment1Code)]]</li>
    <li>FeeFreeLength [integer]</li> <li><details><summary>FeeFreeLengthPeriod
    [[OBPeriod1Code](#OBPeriod1Code)]</summary><ul></ul></details></li><li>Mont\
    hlyMaximumCharge [string]</li> <li>Notes [array]</li>
    <li><details><summary>OtherSegment
    [[OBOtherCodeType1](#OBOtherCodeType1)]</summary><ul><li>Code [string]</li>
    <li>Name [string]</li> <li>Description [string]</li>
    </ul></details></li></ul></details> |\ 

    | CreditInterest | Entity |
    <details><summary>[OBCreditInterest1](#OBCreditInterest1)</summary><ul><li>\
    TierBandSet [array[[OBTierBandSet1](#OBTierBandSet1)]]</li> </ul></details>
    |\ 

    | Overdraft | Entity |
    <details><summary>[OBOverdraft1](#OBOverdraft1)</summary><ul><li>Notes
    [array]</li> <li>OverdraftTierBandSet
    [array[[OBOverdraftTierbandSet1](#OBOverdraftTierbandSet1)]]</li>
    </ul></details> |\ 

    | LoanInterest | Entity |
    <details><summary>[OBLoanInterest1](#OBLoanInterest1)</summary><ul><li>Notes
    [array]</li> <li>LoanInterestTierBandSet
    [array[[OBLoanInterestTierBandSet1](#OBLoanInterestTierBandSet1)]]</li>
    </ul></details> |\ 

    | Repayment | Entity |
    <details><summary>[OBRepayment1](#OBRepayment1)</summary><ul><li><details><\
    summary>RepaymentType
    [[OBRepaymentType1Code](#OBRepaymentType1Code)]</summary><ul></ul></details\
    ></li><li><details><summary>RepaymentFrequency
    [[OBRepaymentFrequency1Code](#OBRepaymentFrequency1Code)]</summary><ul></ul\
    ></details></li><li><details><summary>AmountType
    [[OBRepaymentAmountType1Code](#OBRepaymentAmountType1Code)]</summary><ul></\
    ul></details></li><li>Notes [array]</li>
    <li><details><summary>OtherRepaymentType
    [[OBOtherCodeType1](#OBOtherCodeType1)]</summary><ul><li>Code [string]</li>
    <li>Name [string]</li> <li>Description [string]</li>
    </ul></details></li><li><details><summary>OtherRepaymentFrequency
    [[OBOtherCodeType1](#OBOtherCodeType1)]</summary><ul><li>Code [string]</li>
    <li>Name [string]</li> <li>Description [string]</li>
    </ul></details></li><li><details><summary>OtherAmountType
    [[OBOtherCodeType1](#OBOtherCodeType1)]</summary><ul><li>Code [string]</li>
    <li>Name [string]</li> <li>Description [string]</li>
    </ul></details></li><li><details><summary>RepaymentFeeCharges
    [[OBRepaymentFeeCharges1](#OBRepaymentFeeCharges1)]</summary><ul><li>Repaym\
    entFeeChargeDetail
    [array[[OBRepaymentFeeChargeDetail1](#OBRepaymentFeeChargeDetail1)]]</li>
    <li>RepaymentFeeChargeCap
    [array[[OBRepaymentFeeChargeCap1](#OBRepaymentFeeChargeCap1)]]</li>
    </ul></details></li><li>RepaymentHoliday
    [array[[OBRepaymentHoliday1](#OBRepaymentHoliday1)]]</li> </ul></details>
    |\ 

    | OtherFeesCharges| -|
    array[[OBOtherFeesAndCharges1](#OBOtherFeesAndCharges1)]|

    | SupplementaryData | Entity |
    <details><summary>[OBSupplementaryData1](#OBSupplementaryData1)</summary><u\
    l></ul></details> |\ 


    \ <a name=OBBCAProductSegment1Code></a>\ 

    ## OBBCAProductSegment1Code\ 

    ### Attributes\ 


    | Type| Description| Example| Values|

    | -----| -----| -----| -----|

    | enum| -| <ul style=\"padding-left:
    0\"><li>ClientAccount</li><li>Standard</li><li>NonCommercialChaitiesClbSoc<\
    /li><li>NonCommercialPublicAuthGovt</li><li>Religious</li><li>SectorSpecifi\
    c</li><li>Startup</li><li>Switcher</li></ul>|


    \ <a name=OBBCAProductDetails1></a>\ 

    ## OBBCAProductDetails1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | Segment| Market segmentation is a marketing term referring to the
    aggregating of prospective buyers into groups, or segments, that have common
    needs and respond similarly to a marketing action. Market segmentation
    enables companies to target different categories of consumers who perceive
    the full value of certain products and services differently from one
    another.  Read more: Market Segmentation
    http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd  W\
    ith respect to BCA products, they are segmented in relation to different
    markets that they wish to focus on.|
    array[[OBBCAProductSegment1Code](#OBBCAProductSegment1Code)]|

    | FeeFreeLength| The length/duration of the fee free period| number|

    | FeeFreeLengthPeriod | Entity |
    <details><summary>[OBPeriod1Code](#OBPeriod1Code)</summary><ul></ul></detai\
    ls> |\ 

    | Notes| Optional additional notes to supplement the Core product
    details| array|


    \ <a name=OBBCAData1></a>\ 

    ## OBBCAData1\ 



    ### Attributes\ 


    | Name| Description| Values|

    | -----| -----| -----|

    | ProductDetails | Entity |
    <details><summary>[OBBCAProductDetails1](#OBBCAProductDetails1)</summary><u\
    l><li>Segment
    [array[[OBBCAProductSegment1Code](#OBBCAProductSegment1Code)]]</li>
    <li>FeeFreeLength [number]</li> <li><details><summary>FeeFreeLengthPeriod
    [[OBPeriod1Code](#OBPeriod1Code)]</summary><ul></ul></details></li><li>Notes
    [array]</li> </ul></details> |\ 

    | CreditInterest | Entity |
    <details><summary>[OBCreditInterest1](#OBCreditInterest1)</summary><ul><li>\
    TierBandSet [array[[OBTierBandSet1](#OBTierBandSet1)]]</li> </ul></details>
    |\ 

    | Overdraft | Entity |
    <details><summary>[OBOverdraft1](#OBOverdraft1)</summary><ul><li>Notes
    [array]</li> <li>OverdraftTierBandSet
    [array[[OBOverdraftTierbandSet1](#OBOverdraftTierbandSet1)]]</li>
    </ul></details> |\ 

    | OtherFeesCharges| Contains details of fees and charges which are not
[...]
