{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://app.billbee.io"
    }
  ],
  "info": {
    "contact": {
      "email": "support@billbee.io",
      "name": "Billbee GmbH",
      "url": "https://www.billbee.io",
      "x-twitter": "billbeeio"
    },
    "description": "Documentation of the Billbee REST API to connect a Billbee account to external aplications.\n\n## Endpoint\n\nThe Billbee API endpoint base url is https://api.billbee.io/api/v1 \n\n## Activation\n\nYou have to enable the API in the settings of your Billbee account. In addition you need a Billbee API Key identifying the application you develop. To get an API key, send a mail to support@billbee.io and send us a short note about what you are building.\n\n## Authorization & security\n\nBecause you can access private data with the Billbee API, every request has to be sent over https and must\n\n* Contain a valid API Key identifying the application/developer. It has to be sent as the HTTP header X-Billbee-Api-Key\n* Contain a valid user login with billbee username and api password in form of a basic auth HTTP header\n\n## Throttling\n\nEach endpoint has a throttle of max 2 requests per second per combination of API Key and Billbee user.\n\nWhen you exceed these 2 calls, the API will return a HTTP 429 status code\n\n",
    "title": "Billbee API",
    "version": "v1",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_billbeeio_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://app.billbee.io/swagger/docs/v1",
        "version": "3.0"
      }
    ],
    "x-providerName": "billbee.io"
  },
  "paths": {
    "/api/v1/automaticprovision/createaccount": {
      "post": {
        "operationId": "AutomaticProvisioning_CreateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Creates a new Billbee user account with the data passed",
        "tags": [
          "Provisioning"
        ]
      }
    },
    "/api/v1/automaticprovision/termsinfo": {
      "get": {
        "operationId": "AutomaticProvisioning_TermsInfo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns infos about Billbee terms and conditions",
        "tags": [
          "Provisioning"
        ]
      }
    },
    "/api/v1/cloudstorages": {
      "get": {
        "operationId": "CloudStorageApi_GetList",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Gets a list of all connected cloud storage devices",
        "tags": [
          "CloudStorage"
        ]
      }
    },
    "/api/v1/customer-addresses": {
      "get": {
        "operationId": "CustomerAddresses_GetAll",
        "parameters": [
          {
            "description": "The current page to request starting with 1 (default is 1)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page size for the result list. Values between 1 and 250 are allowed. (default is 50)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of all customer addresses",
        "tags": [
          "CustomerAddresses"
        ]
      },
      "post": {
        "operationId": "CustomerAddresses_Create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Creates a new customer address",
        "tags": [
          "CustomerAddresses"
        ]
      }
    },
    "/api/v1/customer-addresses/{id}": {
      "get": {
        "operationId": "CustomerAddresses_GetOne",
        "parameters": [
          {
            "description": "The id of the address to query",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a single customer address by id",
        "tags": [
          "CustomerAddresses"
        ]
      },
      "put": {
        "operationId": "CustomerAddresses_Update",
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Updates a customer address by id",
        "tags": [
          "CustomerAddresses"
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "operationId": "Customer_GetAll",
        "parameters": [
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of all customers",
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "operationId": "Customer_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Creates a new customer",
        "tags": [
          "Customers"
        ]
      }
    },
    "/api/v1/customers/addresses/{id}": {
      "get": {
        "operationId": "Customer_GetCustomerAddress",
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a single address from a customer",
        "tags": [
          "Customers"
        ]
      },
      "patch": {
        "description": "Id and CustomerId cannot be changed",
        "operationId": "Customer_PatchAddress",
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "The address fields to be changed. Please query an address via (todo) to see all fields. Note that Id and CustomerId cannot be changed.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Updates one or more fields of an address",
        "tags": [
          "Customers"
        ]
      },
      "put": {
        "description": "Id and CustomerId cannot be changed. Fields you do not send will become empty.",
        "operationId": "Customer_UpdateAddress",
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            }
          },
          "description": "The updated address. Please query an address via (todo) to see all fields. Note that Id and CustomerId cannot be changed.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Updates all fields of an address",
        "tags": [
          "Customers"
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "operationId": "Customer_GetOne",
        "parameters": [
          {
            "description": "The id of the customer to query",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a single customer by id",
        "tags": [
          "Customers"
        ]
      },
      "put": {
        "operationId": "Customer_Update",
        "parameters": [
          {
            "description": "The id of the customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Updates a customer by id",
        "tags": [
          "Customers"
        ]
      }
    },
    "/api/v1/customers/{id}/addresses": {
      "get": {
        "operationId": "Customer_GetCustomerAddresses",
        "parameters": [
          {
            "description": "The id of the customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a list of addresses from a customer",
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "description": "Id and  CustomerId will be ignored in model. If Id is set, the addition will be stopped.",
        "operationId": "Customer_AddCustomerAddress",
        "parameters": [
          {
            "description": "CustomerId to attach the new address to.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            }
          },
          "description": "Model containing the address, that should be attached.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Adds a new address to a customer",
        "tags": [
          "Customers"
        ]
      }
    },
    "/api/v1/customers/{id}/orders": {
      "get": {
        "operationId": "Customer_GetCustomerOrders",
        "parameters": [
          {
            "description": "The id of the customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Rechnungsdruck.WebApp.Controllers.Api.Order_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a list of orders from a customer",
        "tags": [
          "Customers"
        ]
      }
    },
    "/api/v1/enums/orderstates": {
      "get": {
        "operationId": "EnumApi_GetOrderStates",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a list with all defined orderstates",
        "tags": [
          "EnumApi"
        ]
      }
    },
    "/api/v1/enums/paymenttypes": {
      "get": {
        "operationId": "EnumApi_GetPaymentTypes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a list with all defined paymenttypes",
        "tags": [
          "EnumApi"
        ]
      }
    },
    "/api/v1/enums/shipmenttypes": {
      "get": {
        "operationId": "EnumApi_GetShipmentTypes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a list with all defined shipmenttypes",
        "tags": [
          "EnumApi"
        ]
      }
    },
    "/api/v1/enums/shippingcarriers": {
      "get": {
        "operationId": "EnumApi_GetShippingCarriers",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a list with all defined shippingcarriers",
        "tags": [
          "EnumApi"
        ]
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "EventApi_GetList",
        "parameters": [
          {
            "description": "Specifies the oldest date to include in the response",
            "in": "query",
            "name": "minDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the newest date to include in the response",
            "in": "query",
            "name": "maxDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the page to request",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagesize. Defaults to 50, max value is 250",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter for specific event types",
            "explode": true,
            "in": "query",
            "name": "typeId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Filter for specific order id",
            "in": "query",
            "name": "orderId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of all events optionally filtered by date. This request is extra throttled to 2 calls per page per hour.",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/v1/layouts": {
      "get": {
        "operationId": "LayoutApi_GetList",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Models.LayoutTemplate_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders": {
      "get": {
        "operationId": "OrderApi_GetList",
        "parameters": [
          {
            "description": "Specifies the oldest order date to include in the response",
            "in": "query",
            "name": "minOrderDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the newest order date to include in the response",
            "in": "query",
            "name": "maxOrderDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the page to request",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagesize. Defaults to 50, max value is 250",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies a list of shop ids for which invoices should be included",
            "explode": true,
            "in": "query",
            "name": "shopId",
            "required": false,
            "schema": {
              "items": {
                "format": "int64",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specifies a list of state ids to include in the response",
            "explode": true,
            "in": "query",
            "name": "orderStateId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specifies a list of tags the order must have attached to be included in the response",
            "explode": true,
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "If given, all delivered orders have an Id greater than or equal to the given minimumOrderId",
            "in": "query",
            "name": "minimumBillBeeOrderId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If given, the last modification has to be newer than the given date",
            "in": "query",
            "name": "modifiedAtMin",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "If given, the last modification has to be older or equal than the given date.",
            "in": "query",
            "name": "modifiedAtMax",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text",
            "in": "query",
            "name": "articleTitleSource",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "If true the list of tags passed to the call are used to filter orders to not include these tags",
            "in": "query",
            "name": "excludeTags",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of all orders optionally filtered by date",
        "tags": [
          "Orders"
        ]
      },
      "post": {
        "description": "To create an order POST an JSON object to the orders endpoint with the shown properties.\r\nNot all properties are required.",
        "operationId": "OrderApi_PostNewOrder",
        "parameters": [
          {
            "description": "Deprecated, if orderData.ApiAccountId is set, it will be used instead of 'shopId'",
            "in": "query",
            "name": "shopId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              }
            },
            "description": "The order was created successfully"
          },
          "400": {
            "description": "Invalid data was received in the request"
          },
          "500": {
            "description": "An internal exception occured. Order was not created"
          }
        },
        "summary": "Creates a new order in the Billbee account",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/CreateDeliveryNote/{id}": {
      "post": {
        "operationId": "OrderApi_CreateDeliveryNote",
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If true, the PDF is included in the response as base64 encoded string",
            "in": "query",
            "name": "includePdf",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Optionally specify the id of a billbee connected cloud device to send the pdf to",
            "in": "query",
            "name": "sendToCloudId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Create an delivery note for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes.",
        "tags": [
          "Orders",
          "DeliveryNote"
        ]
      }
    },
    "/api/v1/orders/CreateInvoice/{id}": {
      "post": {
        "operationId": "OrderApi_CreateInvoice",
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If true, the PDF is included in the response as base64 encoded string",
            "in": "query",
            "name": "includeInvoicePdf",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "You can pass the id of an invoice template to overwrite the assigned template for invoice creation",
            "in": "query",
            "name": "templateId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "You can pass the id of a connected cloud printer/storage to send the invoice to it",
            "in": "query",
            "name": "sendToCloudId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Create an invoice for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes.",
        "tags": [
          "Orders",
          "Invoice"
        ]
      }
    },
    "/api/v1/orders/PatchableFields": {
      "get": {
        "operationId": "OrderApi_GetPatchableFields",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a list of fields which can be updated with the orders/{id} patch call",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/find/{id}/{partner}": {
      "get": {
        "deprecated": true,
        "operationId": "OrderApi_Find",
        "parameters": [
          {
            "description": "The order id from the external system",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional the name of the shop/marketplace the order was imported from",
            "in": "path",
            "name": "partner",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Find a single order by its external id (order number)",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/findbyextref/{extRef}": {
      "get": {
        "operationId": "OrderApi_GetByExtRef",
        "parameters": [
          {
            "description": "The extern order number of the order",
            "in": "path",
            "name": "extRef",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a single order by its external order number",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/invoices": {
      "get": {
        "operationId": "OrderApi_GetInvoiceList",
        "parameters": [
          {
            "description": "Specifies the oldest invoice date to include",
            "in": "query",
            "name": "minInvoiceDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the newest invoice date to include",
            "in": "query",
            "name": "maxInvoiceDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the page to request",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagesize. Defaults to 50, max value is 250",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies a list of shop ids for which invoices should be included",
            "explode": true,
            "in": "query",
            "name": "shopId",
            "required": false,
            "schema": {
              "items": {
                "format": "int64",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specifies a list of state ids to include in the response",
            "explode": true,
            "in": "query",
            "name": "orderStateId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "minPayDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "maxPayDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includePositions",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "If true the list of tags passed to the call are used to filter orders to not include these tags",
            "in": "query",
            "name": "excludeTags",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of all invoices optionally filtered by date. This request ist throttled to 1 per 1 minute for same page and minInvoiceDate",
        "tags": [
          "Orders",
          "Invoice"
        ]
      }
    },
    "/api/v1/orders/{id}": {
      "get": {
        "operationId": "OrderApi_Get",
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text",
            "in": "query",
            "name": "articleTitleSource",
            "required": false,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a single order by its internal billbee id. This request is throttled to 6 calls per order in one minute",
        "tags": [
          "Orders"
        ]
      },
      "patch": {
        "operationId": "OrderApi_PatchOrder",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Article_PatchArticleModel"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.Order_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Updates one or more fields of an order",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/{id}/orderstate": {
      "put": {
        "description": "### REMARKS ###\r\nUse this call to change the state of an order to i.e. paid or sent.\r\n\r\nThe state is transfered to the external shop/marketplace if configured.\r\nThis is the list of known states:\r\n- 1: ordered\r\n- 2: confirmed\r\n- 3: paid\r\n- 4: shipped\r\n- 5: reclamation\r\n- 6: deleted\r\n- 7: closed\r\n- 8: canceled\r\n- 9: archived\r\n- 10: not used\r\n- 11: demand note 1\r\n- 12: demand note 2\r\n- 13: packed\r\n- 14: offered\r\n- 15: payment reminder\r\n- 16: fulfilling",
        "operationId": "OrderApi_UpdateState",
        "parameters": [
          {
            "description": "The internal id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            }
          },
          "description": "The data used to change the state",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Changes the main state of a single order",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/{id}/parse-placeholders": {
      "post": {
        "operationId": "OrderApi_ParsePlaceholders",
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Parses a text and replaces all placeholders",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/{id}/send-message": {
      "post": {
        "operationId": "OrderApi_SendMessage",
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            }
          },
          "description": "The message model",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Sends a message to the buyer",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/{id}/shipment": {
      "post": {
        "operationId": "OrderApi_AddShipment",
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            }
          },
          "description": "The shipment data to create the shipment",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Add a shipment to a given order",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/{id}/tags": {
      "post": {
        "description": "When a tag is already attached, it is ignored. Tags are not case sensitive. All given tags are added to the existing tags.",
        "operationId": "OrderApi_TagsCreate",
        "parameters": [
          {
            "description": "The internal id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Attach one or more tags to an order",
        "tags": [
          "Orders"
        ]
      },
      "put": {
        "description": "All existing tags will be replaced by the given list of new tags. To just add tags, use POST method.",
        "operationId": "OrderApi_TagsUpdate",
        "parameters": [
          {
            "description": "The internal id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Sets the tags attached to an order",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/{id}/trigger-event": {
      "post": {
        "operationId": "OrderApi_TriggerEvent",
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Triggers a rule event",
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/products": {
      "get": {
        "operationId": "Article_GetList",
        "parameters": [
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Optional the oldest create date of the articles to be returned",
            "in": "query",
            "name": "minCreatedAt",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minimumBillBeeArticleId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "maximumBillBeeArticleId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of all products",
        "tags": [
          "Products"
        ]
      },
      "post": {
        "operationId": "Article_CreateArticle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Creates a new product",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/PatchableFields": {
      "get": {
        "operationId": "Article_GetPatchableFields",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a list of fields which can be updated with the patch call",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/category": {
      "get": {
        "operationId": "Article_GetCategory",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "GEts a list of all defined categories",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/custom-fields": {
      "get": {
        "operationId": "Article_GetCustomFields",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a list of all custom fields",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/custom-fields/{id}": {
      "get": {
        "operationId": "Article_GetCustomField",
        "parameters": [
          {
            "description": "The id of the custom field to query",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries a single custom field",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/images/delete": {
      "post": {
        "operationId": "Article_DeleteImages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "application/xml": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "text/json": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "text/xml": {
              "schema": {
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Delete multiple images by id",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/images/{imageId}": {
      "delete": {
        "operationId": "Article_DeleteImage",
        "parameters": [
          {
            "description": "The image id",
            "in": "path",
            "name": "imageId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Deletes a single image by id",
        "tags": [
          "Products"
        ]
      },
      "get": {
        "operationId": "Article_GetImage",
        "parameters": [
          {
            "description": "The Id of the image",
            "in": "path",
            "name": "imageId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Returns a single image by id",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/reservedamount": {
      "get": {
        "operationId": "Article_GetReservedAmount",
        "parameters": [
          {
            "description": "The id or the sku of the article to query",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Either the value id or the value sku to specify the meaning of the id parameter",
            "in": "query",
            "name": "lookupBy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional the stock id if the multi stock feature is enabled",
            "in": "query",
            "name": "stockId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Queries the reserved amount for a single article by id or by sku",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/stocks": {
      "get": {
        "operationId": "Article_GetStocks",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_System.Collections.Generic.List_Billbee.Interfaces.BillbeeAPI.Model.StockResponseData_"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Query all defined stock locations",
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/products/updatestock": {
      "post": {
        "description": "The article is specified by sku. You have to send the absolute value for the current stock",
        "operationId": "Article_UpdateStock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResult_Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData_"
                }
              }
            },
            "description": "OK"
          }
[...]
