swagger: '2.0'
info:
  version: '2019-06-30'
  x-release: v4
  title: AWS Migration Hub Config
  description: '<p>The AWS Migration Hub home region APIs are available specifically for working with your Migration Hub home region. You can use these APIs to determine a home region, as well as to create and work with controls that describe the home region.</p> <p>You can use these APIs within your home region only. If you call these APIs from outside your home region, your calls are rejected, except for the ability to register your agents and connectors. </p> <p> You must call <code>GetHomeRegion</code> at least once before you call any other AWS Application Discovery Service and AWS Migration Hub APIs, to obtain the account''s Migration Hub home region.</p> <p>The <code>StartDataCollection</code> API call in AWS Application Discovery Service allows your agents and connectors to begin collecting data that flows directly into the home region, and it will prevent you from enabling data collection information to be sent outside the home region. </p> <p>For specific API usage, see the sections that follow in this AWS Migration Hub Home Region API reference. </p> <note> <p>The Migration Hub Home Region APIs do not support AWS Organizations.</p> </note>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: migrationhub-config
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/migrationhub-config-2019-06-30.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/migrationhub-config/'
host: migrationhub-config.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://migrationhub-config.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Migration Hub Config multi-region endpoint
  - url: 'https://migrationhub-config.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Migration Hub Config multi-region endpoint
  - url: 'http://migrationhub-config.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Migration Hub Config endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://migrationhub-config.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Migration Hub Config endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSMigrationHubMultiAccountService.CreateHomeRegionControl':
    post:
      operationId: CreateHomeRegionControl
      description: This API sets up the home region for the calling account only.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHomeRegionControlResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: DryRunOperation
          schema:
            $ref: '#/definitions/DryRunOperation'
        '484':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHomeRegionControlRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSMigrationHubMultiAccountService.CreateHomeRegionControl
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSMigrationHubMultiAccountService.DescribeHomeRegionControls':
    post:
      operationId: DescribeHomeRegionControls
      description: 'This API permits filtering on the <code>ControlId</code>, <code>HomeRegion</code>, and <code>RegionControlScope</code> fields.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHomeRegionControlsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHomeRegionControlsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSMigrationHubMultiAccountService.DescribeHomeRegionControls
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSMigrationHubMultiAccountService.GetHomeRegion':
    post:
      operationId: GetHomeRegion
      description: 'Returns the calling account’s home region, if configured. This API is used by other AWS services to determine the regional endpoint for calling AWS Application Discovery Service and Migration Hub. You must call <code>GetHomeRegion</code> at least once before you call any other AWS Application Discovery Service and AWS Migration Hub APIs, to obtain the account''s Migration Hub home region.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetHomeRegionResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetHomeRegionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSMigrationHubMultiAccountService.GetHomeRegion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateHomeRegionControlResult:
    type: object
    properties:
      HomeRegionControl:
        $ref: '#/definitions/HomeRegionControl'
        description: This object is the <code>HomeRegionControl</code> object that's returned by a successful call to <code>CreateHomeRegionControl</code>.
  CreateHomeRegionControlRequest:
    type: object
    required:
      - HomeRegion
      - Target
    properties:
      HomeRegion:
        $ref: '#/definitions/HomeRegion'
        description: The name of the home region of the calling account.
      Target:
        $ref: '#/definitions/Target'
        description: The account for which this command sets up a home region control. The <code>Target</code> is always of type <code>ACCOUNT</code>.
      DryRun:
        $ref: '#/definitions/DryRun'
        description: Optional Boolean flag to indicate whether any effect should take place. It tests whether the caller has permission to make the call.
  InternalServerError: {}
  ServiceUnavailableException: {}
  AccessDeniedException: {}
  DryRunOperation: {}
  InvalidInputException: {}
  DescribeHomeRegionControlsResult:
    type: object
    properties:
      HomeRegionControls:
        $ref: '#/definitions/HomeRegionControls'
        description: An array that contains your <code>HomeRegionControl</code> objects.
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.'
  DescribeHomeRegionControlsRequest:
    type: object
    properties:
      ControlId:
        $ref: '#/definitions/ControlId'
        description: The <code>ControlID</code> is a unique identifier string of your <code>HomeRegionControl</code> object.
      HomeRegion:
        $ref: '#/definitions/HomeRegion'
        description: The name of the home region you'd like to view.
      Target:
        $ref: '#/definitions/Target'
        description: 'The target parameter specifies the identifier to which the home region is applied, which is always of type <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.'
      MaxResults:
        $ref: '#/definitions/DescribeHomeRegionControlsMaxResults'
        description: 'The maximum number of filtering results to display per page. '
      NextToken:
        $ref: '#/definitions/Token'
        description: 'If a <code>NextToken</code> was returned by a previous call, more results are available. To retrieve the next page of results, make the call again using the returned token in <code>NextToken</code>.'
  GetHomeRegionResult:
    type: object
    properties:
      HomeRegion:
        $ref: '#/definitions/HomeRegion'
        description: The name of the home region of the calling account.
  GetHomeRegionRequest:
    type: object
    properties: {}
  ControlId:
    type: string
    pattern: '^hrc-[a-z0-9]{12}$'
    minLength: 1
    maxLength: 50
  HomeRegion:
    type: string
    pattern: '^([a-z]+)-([a-z]+)-([0-9]+)$'
    minLength: 1
    maxLength: 50
  Target:
    type: object
    required:
      - Type
    properties:
      Type:
        $ref: '#/definitions/TargetType'
        description: The target type is always an <code>ACCOUNT</code>.
      Id:
        $ref: '#/definitions/TargetId'
        description: 'The <code>TargetID</code> is a 12-character identifier of the <code>ACCOUNT</code> for which the control was created. (This must be the current account.) '
    description: 'The target parameter specifies the identifier to which the home region is applied, which is always an <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.'
  DryRun:
    type: boolean
  HomeRegionControl:
    type: object
    properties:
      ControlId:
        $ref: '#/definitions/ControlId'
        description: A unique identifier that's generated for each home region control. It's always a string that begins with "hrc-" followed by 12 lowercase letters and numbers.
      HomeRegion:
        $ref: '#/definitions/HomeRegion'
        description: 'The AWS Region that''s been set as home region. For example, "us-west-2" or "eu-central-1" are valid home regions.'
      Target:
        $ref: '#/definitions/Target'
        description: 'The target parameter specifies the identifier to which the home region is applied, which is always an <code>ACCOUNT</code>. It applies the home region to the current <code>ACCOUNT</code>.'
      RequestedTime:
        $ref: '#/definitions/RequestedTime'
        description: A timestamp representing the time when the customer called <code>CreateHomeregionControl</code> and set the home region for the account.
    description: 'A home region control is an object that specifies the home region for an account, with some additional information. It contains a target (always of type <code>ACCOUNT</code>), an ID, and a time at which the home region was set.'
  DescribeHomeRegionControlsMaxResults:
    type: integer
    minimum: 1
    maximum: 100
  Token:
    type: string
    pattern: '^[a-zA-Z0-9\/\+\=]{0,2048}$'
    minLength: 0
    maxLength: 2048
  HomeRegionControls:
    type: array
    items:
      $ref: '#/definitions/HomeRegionControl'
    maxItems: 100
  RequestedTime:
    type: string
    format: date-time
  TargetType:
    type: string
    enum:
      - ACCOUNT
  TargetId:
    type: string
    pattern: '^\d{12}$'
    minLength: 12
    maxLength: 12
