openapi: 3.0.0
servers:
  - url: https://chromemanagement.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Chrome Management API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://chromemanagement.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: chromemanagement
externalDocs:
  url: http://developers.google.com/chrome/management/
tags:
  - name: customers
paths:
  "/v1/{customer}/apps:countChromeAppRequests":
    get:
      description: Generate summary of app installation requests.
      operationId: chromemanagement.customers.apps.countChromeAppRequests
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Field used to order results. Supported fields: * request_count * latest_request_time"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeAppRequestsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countChromeBrowsersNeedingAttention":
    get:
      description: Count of Chrome Browsers that have been recently enrolled, have new policy to be synced, or have no recent activity.
      operationId: chromemanagement.customers.reports.countChromeBrowsersNeedingAttention
      parameters:
        - description: Required. The customer ID or "my_customer" prefixed with "customers/".
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Optional. The ID of the organizational unit. If omitted, all data will be returned.
          in: query
          name: orgUnitId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countChromeDevicesReachingAutoExpirationDate":
    get:
      description: Generate report of the number of devices expiring in each month of the selected time frame. Devices are grouped by auto update expiration date and model. Further information can be found [here](https://support.google.com/chrome/a/answer/10564947).
      operationId: chromemanagement.customers.reports.countChromeDevicesReachingAutoExpirationDate
      parameters:
        - description: Required. The customer ID or "my_customer" prefixed with "customers/".
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or earlier than the maximum date.
          in: query
          name: maxAueDate
          schema:
            type: string
        - description: Optional. Maximum expiration date in format yyyy-mm-dd in UTC timezone. If included returns all devices that have already expired and devices with auto expiration date equal to or later than the minimum date.
          in: query
          name: minAueDate
          schema:
            type: string
        - description: Optional. The organizational unit ID, if omitted, will return data for all organizational units.
          in: query
          name: orgUnitId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countChromeDevicesThatNeedAttention":
    get:
      description: Counts of ChromeOS devices that have not synced policies or have lacked user activity in the past 28 days, are out of date, or are not complaint. Further information can be found here https://support.google.com/chrome/a/answer/10564947
      operationId: chromemanagement.customers.reports.countChromeDevicesThatNeedAttention
      parameters:
        - description: Required. The customer ID or "my_customer" prefixed with "customers/".
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Optional. The ID of the organizational unit. If omitted, all data will be returned.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Required. Mask of the fields that should be populated in the returned report.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countChromeHardwareFleetDevices":
    get:
      description: Counts of devices with a specific hardware specification from the requested hardware type (for example model name, processor type). Further information can be found here https://support.google.com/chrome/a/answer/10564947
      operationId: chromemanagement.customers.reports.countChromeHardwareFleetDevices
      parameters:
        - description: Required. The customer ID or "my_customer".
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Optional. The ID of the organizational unit. If omitted, all data will be returned.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Required. Mask of the fields that should be populated in the returned report.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countChromeVersions":
    get:
      description: Generate report of installed Chrome versions.
      operationId: chromemanagement.customers.reports.countChromeVersions
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
          in: query
          name: filter
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countInstalledApps":
    get:
      description: Generate report of app installations.
      operationId: chromemanagement.customers.reports.countInstalledApps
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name * app_id"
          in: query
          name: filter
          schema:
            type: string
        - description: "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * app_id"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountInstalledAppsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:findInstalledAppDevices":
    get:
      description: Generate report of managed Chrome browser devices that have a specified app installed.
      operationId: chromemanagement.customers.reports.findInstalledAppDevices
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).
          in: query
          name: appId
          schema:
            type: string
        - description: Type of the app.
          in: query
          name: appType
          schema:
            enum:
              - APP_TYPE_UNSPECIFIED
              - EXTENSION
              - APP
              - THEME
              - HOSTED_APP
              - ANDROID_APP
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
          in: query
          name: filter
          schema:
            type: string
        - description: "Field used to order results. Supported order by fields: * machine * device_id"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1FindInstalledAppDevicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}":
    get:
      description: Get telemetry user.
      operationId: chromemanagement.customers.telemetry.users.get
      parameters:
        - description: Required. Name of the `TelemetryUser` to return.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Read mask to specify which fields to return.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryUser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/telemetry/devices":
    get:
      description: List all telemetry devices.
      operationId: chromemanagement.customers.telemetry.devices.list
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. Only include resources that match the filter. Supported filter fields: - org_unit_id - serial_number - device_id - reports_timestamp The "reports_timestamp" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC "Zulu" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: "2014-10-02T15:01:23Z", "2014-10-02T15:01:23.045123456Z", "1679283943823".'
          in: query
          name: filter
          schema:
            type: string
        - description: Maximum number of results to return. Default value is 100. Maximum value is 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Required. Read mask to specify which fields to return.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1ListTelemetryDevicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/telemetry/events":
    get:
      description: List telemetry events.
      operationId: chromemanagement.customers.telemetry.events.list
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. Only include resources that match the filter. Supported filter fields: - device_id - user_id - device_org_unit_id - user_org_unit_id - timestamp - event_type The "timestamp" filter accepts either the Unix Epoch milliseconds format or the RFC3339 UTC "Zulu" format with nanosecond resolution and up to nine fractional digits. Both formats should be surrounded by simple double quotes. Examples: "2014-10-02T15:01:23Z", "2014-10-02T15:01:23.045123456Z", "1679283943823".'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Maximum number of results to return. Default value is 100. Maximum value is 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Token to specify next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Required. Read mask to specify which fields to return.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1ListTelemetryEventsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/telemetry/users":
    get:
      description: List all telemetry users.
      operationId: chromemanagement.customers.telemetry.users.list
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Only include resources that match the filter. Supported filter fields: - user_id - user_org_unit_id "
          in: query
          name: filter
          schema:
            type: string
        - description: Maximum number of results to return. Default value is 100. Maximum value is 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Read mask to specify which fields to return.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1ListTelemetryUsersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.telemetry.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleChromeManagementV1AndroidAppInfo:
      description: Android app information.
      properties:
        permissions:
          description: Output only. Permissions requested by an Android app.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1AndroidAppPermission"
          readOnly: true
          type: array
      type: object
    GoogleChromeManagementV1AndroidAppPermission:
      description: Permission requested by an Android app.
      properties:
        type:
          description: Output only. The type of the permission.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1AppDetails:
      description: Resource representing app details.
      properties:
        androidAppInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1AndroidAppInfo"
          description: Output only. Android app information.
          readOnly: true
        appId:
          description: 'Output only. Unique store identifier for the item. Examples: "gmbmikajjgmnabiglmofipeabaddhgne" for the Save to Google Drive Chrome extension, "com.google.android.apps.docs" for the Google Drive Android app.'
          readOnly: true
          type: string
        chromeAppInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppInfo"
          description: Output only. Chrome Web Store app information.
          readOnly: true
        description:
          description: Output only. App's description.
          readOnly: true
          type: string
        detailUri:
          description: Output only. The uri for the detail page of the item.
          readOnly: true
          type: string
        displayName:
          description: Output only. App's display name.
          readOnly: true
          type: string
        firstPublishTime:
          description: Output only. First published time.
          format: google-datetime
          readOnly: true
          type: string
        homepageUri:
          description: Output only. Home page or Website uri.
          readOnly: true
          type: string
        iconUri:
          description: Output only. A link to an image that can be used as an icon for the product.
          readOnly: true
          type: string
        isPaidApp:
          description: Output only. Indicates if the app has to be paid for OR has paid content.
          readOnly: true
          type: boolean
        latestPublishTime:
          description: Output only. Latest published time.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
          readOnly: true
          type: string
        privacyPolicyUri:
          description: Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.
          readOnly: true
          type: string
        publisher:
          description: Output only. The publisher of the item.
          readOnly: true
          type: string
        reviewNumber:
          description: Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.
          format: int64
          readOnly: true
          type: string
        reviewRating:
          description: Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.
          format: float
          readOnly: true
          type: number
        revisionId:
          description: Output only. App version. A new revision is committed whenever a new version of the app is published.
          readOnly: true
          type: string
        serviceError:
          $ref: "#/components/schemas/GoogleRpcStatus"
          description: Output only. Information about a partial service error if applicable.
          readOnly: true
        type:
          description: Output only. App type.
          enum:
            - APP_ITEM_TYPE_UNSPECIFIED
            - CHROME
            - ANDROID
            - WEB
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1AudioStatusReport:
      description: "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceAudioStatus](https://chromeenterprise.google/policies/#ReportDeviceAudioStatus) * Data Collection Frequency: 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        inputDevice:
          description: Output only. Active input device's name.
          readOnly: true
          type: string
        inputGain:
          description: Output only. Active input device's gain in [0, 100].
          format: int32
          readOnly: true
          type: integer
        inputMute:
          description: Output only. Is active input device mute or not.
          readOnly: true
          type: boolean
        outputDevice:
          description: Output only. Active output device's name.
          readOnly: true
          type: string
        outputMute:
          description: Output only. Is active output device mute or not.
          readOnly: true
          type: boolean
        outputVolume:
          description: Output only. Active output device's volume in [0, 100].
          format: int32
          readOnly: true
          type: integer
        reportTime:
          description: Output only. Timestamp of when the sample was collected on device.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BatteryInfo:
      description: "Information about the battery. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        designCapacity:
          description: Output only. Design capacity (mAmpere-hours).
          format: int64
          readOnly: true
          type: string
        designMinVoltage:
          description: Output only. Designed minimum output voltage (mV)
          format: int32
          readOnly: true
          type: integer
        manufactureDate:
          $ref: "#/components/schemas/GoogleTypeDate"
          description: Output only. The date the battery was manufactured.
          readOnly: true
        manufacturer:
          description: Output only. Battery manufacturer.
          readOnly: true
          type: string
        serialNumber:
          description: Output only. Battery serial number.
          readOnly: true
          type: string
        technology:
          description: "Output only. Technology of the battery. Example: Li-ion"
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BatterySampleReport:
      description: "Sampling data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        chargeRate:
          description: Output only. Battery charge percentage.
          format: int32
          readOnly: true
          type: integer
        current:
          description: Output only. Battery current (mA).
          format: int64
          readOnly: true
          type: string
        dischargeRate:
          description: Output only. The battery discharge rate measured in mW. Positive if the battery is being discharged, negative if it's being charged.
          format: int32
          readOnly: true
          type: integer
        remainingCapacity:
          description: Output only. Battery remaining capacity (mAmpere-hours).
          format: int64
          readOnly: true
          type: string
        reportTime:
          description: Output only. Timestamp of when the sample was collected on device
          format: google-datetime
          readOnly: true
          type: string
        status:
          description: "Output only. Battery status read from sysfs. Example: Discharging"
          readOnly: true
          type: string
        temperature:
          description: Output only. Temperature in Celsius degrees.
          format: int32
          readOnly: true
          type: integer
        voltage:
          description: Output only. Battery voltage (millivolt).
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BatteryStatusReport:
      description: "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        batteryHealth:
          description: Output only. Battery health.
          enum:
            - BATTERY_HEALTH_UNSPECIFIED
            - BATTERY_HEALTH_NORMAL
            - BATTERY_REPLACE_SOON
            - BATTERY_REPLACE_NOW
          readOnly: true
          type: string
        cycleCount:
          description: Output only. Cycle count.
          format: int32
          readOnly: true
          type: integer
        fullChargeCapacity:
          description: Output only. Full charge capacity (mAmpere-hours).
          format: int64
          readOnly: true
          type: string
        reportTime:
          description: Output only. Timestamp of when the sample was collected on device
          format: google-datetime
          readOnly: true
          type: string
        sample:
          description: Output only. Sampling data for the battery sorted in a decreasing order of report_time.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BatterySampleReport"
          readOnly: true
          type: array
        serialNumber:
          description: Output only. Battery serial number.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BootPerformanceReport:
      description: "Boot performance report of a device. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceBootMode](https://chromeenterprise.google/policies/#ReportDeviceBootMode) * Data Collection Frequency: On every boot up event * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
      properties:
        bootUpDuration:
          description: Total time to boot up.
          format: google-duration
          type: string
        bootUpTime:
          description: The timestamp when power came on.
          format: google-datetime
          type: string
        reportTime:
          description: Timestamp when the report was collected.
          format: google-datetime
          type: string
        shutdownDuration:
          description: Total time since shutdown start to power off.
          format: google-duration
          type: string
        shutdownReason:
          description: The shutdown reason.
          enum:
            - SHUTDOWN_REASON_UNSPECIFIED
            - USER_REQUEST
            - SYSTEM_UPDATE
            - LOW_BATTERY
            - OTHER
          type: string
        shutdownTime:
          description: The timestamp when shutdown.
          format: google-datetime
          type: string
      type: object
    GoogleChromeManagementV1BrowserVersion:
      description: Describes a browser version and its install count.
      properties:
        channel:
          description: Output only. The release channel of the installed browser.
          enum:
            - RELEASE_CHANNEL_UNSPECIFIED
            - CANARY
            - DEV
            - BETA
            - STABLE
          readOnly: true
          type: string
        count:
          description: Output only. Count grouped by device_system and major version
          format: int64
          readOnly: true
          type: string
        deviceOsVersion:
          description: Output only. Version of the system-specified operating system.
          readOnly: true
          type: string
        system:
          description: Output only. The device operating system.
          enum:
            - DEVICE_SYSTEM_UNSPECIFIED
            - SYSTEM_OTHER
            - SYSTEM_ANDROID
            - SYSTEM_IOS
            - SYSTEM_CROS
            - SYSTEM_WINDOWS
            - SYSTEM_MAC
            - SYSTEM_LINUX
          readOnly: true
          type: string
        version:
          description: Output only. The full version of the installed browser.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppInfo:
      description: Chrome Web Store app information.
      properties:
        googleOwned:
          description: Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.
          readOnly: true
          type: boolean
        isCwsHosted:
          description: Output only. Whether the app or extension is in a published state in the Chrome Web Store.
          readOnly: true
          type: boolean
        isExtensionPolicySupported:
          description: Output only. Whether an app supports policy for extensions.
          readOnly: true
          type: boolean
        isKioskOnly:
          description: Output only. Whether the app is only for Kiosk mode on ChromeOS devices
          readOnly: true
          type: boolean
        isTheme:
          description: Output only. Whether the app or extension is a theme.
          readOnly: true
          type: boolean
        kioskEnabled:
          description: Output only. Whether this app is enabled for Kiosk mode on ChromeOS devices
          readOnly: true
          type: boolean
        minUserCount:
          description: Output only. The minimum number of users using this app.
          format: int32
          readOnly: true
          type: integer
        permissions:
          description: Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppPermission"
          readOnly: true
          type: array
        siteAccess:
          description: Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppSiteAccess"
          readOnly: true
          type: array
        supportEnabled:
          description: Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.
          readOnly: true
          type: boolean
        type:
          description: Output only. Types of an item in the Chrome Web Store
          enum:
            - ITEM_TYPE_UNSPECIFIED
            - EXTENSION
            - OTHERS
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppPermission:
      description: Permission requested by a Chrome app or extension.
      properties:
        accessUserData:
          description: Output only. If available, whether this permissions grants the app/extension access to user data.
          readOnly: true
          type: boolean
        documentationUri:
          description: Output only. If available, a URI to a page that has documentation for the current permission.
          readOnly: true
          type: string
        type:
          description: Output only. The type of the permission.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppRequest:
      description: Details of an app installation request.
      properties:
        appDetails:
          description: "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
          readOnly: true
          type: string
        appId:
          description: 'Output only. Unique store identifier for the app. Example: "gmbmikajjgmnabiglmofipeabaddhgne" for the Save to Google Drive Chrome extension.'
          readOnly: true
          type: string
        detailUri:
          description: Output only. The uri for the detail page of the item.
          readOnly: true
          type: string
        displayName:
          description: Output only. App's display name.
          readOnly: true
          type: string
        iconUri:
          description: Output only. A link to an image that can be used as an icon for the product.
          readOnly: true
          type: string
        latestRequestTime:
          description: Output only. The timestamp of the most recently made request for this app.
          format: google-datetime
          readOnly: true
          type: string
        requestCount:
          description: Output only. Total count of requests for this app.
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppSiteAccess:
      description: Represent one host permission.
      properties:
        hostMatch:
          description: Output only. This can contain very specific hosts, or patterns like "*.com" for instance.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CountChromeAppRequestsResponse:
      description: Response containing summary of requested app installations.
      properties:
        nextPageToken:
          description: Token to specify the next page in the list.
          type: string
        requestedApps:
          description: Count of requested apps matching request.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppRequest"
          type: array
        totalSize:
          description: Total number of matching app requests.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountChromeBrowsersNeedingAttentionResponse:
      description: Response containing counts for browsers that need attention.
      properties:
        noRecentActivityCount:
          description: Number of browsers that haven’t had any recent activity
          format: int64
          type: string
        pendingBrowserUpdateCount:
          description: Number of browsers that are pending an OS update
          format: int64
          type: string
        recentlyEnrolledCount:
          description: Number of browsers that have been recently enrolled
          format: int64
          type: string
      type: object
    GoogleChromeManagementV1CountChromeDevicesReachingAutoExpirationDateResponse:
      description: Response containing a list of devices expiring in each month of a selected time frame. Counts are grouped by model and Auto Update Expiration date.
      properties:
        deviceAueCountReports:
          description: The list of reports sorted by auto update expiration date in ascending order.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DeviceAueCountReport"
          type: array
      type: object
    GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse:
      description: Response containing counts for devices that need attention.
      properties:
        noRecentPolicySyncCount:
          description: Number of ChromeOS devices have not synced policies in the past 28 days.
          format: int64
          type: string
        noRecentUserActivityCount:
          description: Number of ChromeOS devices that have not seen any user activity in the past 28 days.
          format: int64
          type: string
        osVersionNotCompliantCount:
          description: Number of devices whose OS version is not compliant.
          format: int64
          type: string
        pendingUpdate:
          description: Number of devices that are pending an OS update.
          format: int64
          type: string
        unsupportedPolicyCount:
          description: Number of devices that are unable to apply a policy due to an OS version mismatch.
          format: int64
          type: string
      type: object
    GoogleChromeManagementV1CountChromeHardwareFleetDevicesResponse:
      description: Response containing a list of devices with a specific type of hardware specification from the requested hardware type.
      properties:
        cpuReports:
          description: The DeviceHardwareCountReport for device cpu type (for example Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz).
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport"
          type: array
        memoryReports:
          description: The DeviceHardwareCountReport for device memory amount in gigabytes (for example 16).
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport"
          type: array
        modelReports:
          description: The DeviceHardwareCountReport for device model type (for example Acer C7 Chromebook).
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport"
          type: array
        storageReports:
          description: The DeviceHardwareCountReport for device storage amount in gigabytes (for example 128).
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DeviceHardwareCountReport"
          type: array
      type: object
    GoogleChromeManagementV1CountChromeVersionsResponse:
      description: Response containing requested browser versions details and counts.
      properties:
        browserVersions:
          description: List of all browser versions and their install counts.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BrowserVersion"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number browser versions matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountInstalledAppsResponse:
      description: Response containing details of queried installed apps.
      properties:
        installedApps:
          description: List of installed apps matching request.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1InstalledApp"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of installed apps matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CpuInfo:
      description: "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        architecture:
          description: "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
          enum:
            - ARCHITECTURE_UNSPECIFIED
            - X64
          readOnly: true
          type: string
        keylockerConfigured:
          description: Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`.
          readOnly: true
          type: boolean
        keylockerSupported:
          description: Output only. Whether keylocker is supported.
          readOnly: true
          type: boolean
        maxClockSpeed:
          description: Output only. The max CPU clock speed in kHz.
          format: int32
          readOnly: true
          type: integer
        model:
          description: "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CpuStatusReport:
      description: "Provides information about the status of the CPU. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        cpuTemperatureInfo:
          description: Output only. CPU temperature sample info per CPU core in Celsius
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1CpuTemperatureInfo"
          readOnly: true
          type: array
        cpuUtilizationPct:
          description: Output only. Sample of CPU utilization (0-100 percent).
          format: int32
          readOnly: true
          type: integer
        reportTime:
          description: Output only. The timestamp in milliseconds representing time at which this report was sampled.
          format: google-datetime
          readOnly: true
          type: string
        sampleFrequency:
          description: Output only. Frequency the report is sampled.
          format: google-duration
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CpuTemperatureInfo:
      description: "CPU temperature of a device. Sampled per CPU core in Celsius. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Every 10 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        label:
          description: "Output only. CPU label. Example: Core 0"
          readOnly: true
          type: string
        temperatureCelsius:
          description: Output only. CPU temperature in Celsius.
          format: int32
          readOnly: true
          type: integer
      type: object
    GoogleChromeManagementV1Device:
      description: Describes a device reporting Chrome browser information.
      properties:
        deviceId:
          description: Output only. The ID of the device that reported this Chrome browser information.
          readOnly: true
          type: string
        machine:
          description: Output only. The name of the machine within its local network.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1DeviceAueCountReport:
      description: Report for CountChromeDevicesPerAueDateResponse, contains the count of devices of a specific model and auto update expiration range.
      properties:
        aueMonth:
          description: Enum value of month corresponding to the auto update expiration date in UTC time zone. If the device is already expired, this field is empty.
          enum:
            - MONTH_UNSPECIFIED
            - JANUARY
            - FEBRUARY
            - MARCH
            - APRIL
            - MAY
            - JUNE
            - JULY
            - AUGUST
            - SEPTEMBER
            - OCTOBER
            - NOVEMBER
            - DECEMBER
          type: string
        aueYear:
          description: Int value of year corresponding to the Auto Update Expiration date in UTC time zone. If the device is already expired, this field is empty.
          format: int64
          type: string
        count:
          description: Count of devices of this model.
          format: int64
          type: string
        expired:
          description: Boolean value for whether or not the device has already expired.
          type: boolean
        model:
          description: Public model name of the devices.
          type: string
      type: object
    GoogleChromeManagementV1DeviceHardwareCountReport:
      description: Report for CountChromeDevicesPerHardwareSpecResponse, contains the count of devices with a unique hardware specification.
      properties:
        bucket:
          description: Public name of the hardware specification.
          type: string
        count:
          description: Count of devices with a unique hardware specification.
          format: int64
          type: string
      type: object
    GoogleChromeManagementV1DiskInfo:
      description: Status of the single storage device.
      properties:
        bytesReadThisSession:
          description: Output only. Number of bytes read since last boot.
          format: int64
          readOnly: true
          type: string
        bytesWrittenThisSession:
          description: Output only. Number of bytes written since last boot.
          format: int64
          readOnly: true
          type: string
        discardTimeThisSession:
          description: Output only. Time spent discarding since last boot. Discarding is writing to clear blocks which are no longer in use. Supported on kernels 4.18+.
          format: google-duration
          readOnly: true
          type: string
        health:
          description: Output only. Disk health.
          readOnly: true
          type: string
        ioTimeThisSession:
          description: Output only. Counts the time the disk and queue were busy, so unlike the fields above, parallel requests are not counted multiple times.
          format: google-duration
          readOnly: true
          type: string
        manufacturer:
          description: Output only. Disk manufacturer.
          readOnly: true
          type: string
        model:
          description: Output only. Disk model.
          readOnly: true
          type: string
        readTimeThisSession:
          description: Output only. Time spent reading from disk since last boot.
          format: google-duration
          readOnly: true
          type: string
        serialNumber:
          description: Output only. Disk serial number.
          readOnly: true
          type: string
        sizeBytes:
          description: Output only. Disk size.
          format: int64
          readOnly: true
          type: string
        type:
          description: "Output only. Disk type: eMMC / NVMe / ATA / SCSI."
          readOnly: true
          type: string
        volumeIds:
          description: Output only. Disk volumes.
          items:
            type: string
          readOnly: true
          type: array
        writeTimeThisSession:
          description: Output only. Time spent writing to disk since last boot.
          format: google-duration
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1DisplayDevice:
      description: Information of a display device.
      properties:
        displayHeightMm:
          description: Output only. Display height in millimeters.
          format: int32
          readOnly: true
          type: integer
        displayName:
          description: Output only. Display device name.
          readOnly: true
          type: string
        displayWidthMm:
          description: Output only. Display width in millimeters.
          format: int32
          readOnly: true
          type: integer
        internal:
          description: Output only. Is display internal or not.
          readOnly: true
          type: boolean
        manufactureYear:
          description: Output only. Year of manufacture.
          format: int32
          readOnly: true
          type: integer
        manufacturerId:
          description: Output only. Three letter manufacturer ID.
          readOnly: true
          type: string
        modelId:
          description: Output only. Manufacturer product code.
          format: int32
          readOnly: true
          type: integer
      type: object
    GoogleChromeManagementV1DisplayInfo:
      description: Information for a display.
      properties:
        deviceId:
          description: Output only. Represents the graphics card device id.
          format: int64
          readOnly: true
          type: string
        displayName:
          description: Output only. Display device name.
          readOnly: true
          type: string
        isInternal:
          description: Output only. Indicates if display is internal or not.
          readOnly: true
          type: boolean
        refreshRate:
          description: Output only. Refresh rate in Hz.
          format: int32
          readOnly: true
          type: integer
        resolutionHeight:
          description: Output only. Resolution height in pixels.
          format: int32
          readOnly: true
          type: integer
        resolutionWidth:
          description: Output only. Resolution width in pixels.
          format: int32
          readOnly: true
          type: integer
      type: object
    GoogleChromeManagementV1FindInstalledAppDevicesResponse:
      description: Response containing a list of devices with queried app installed.
      properties:
        devices:
          description: A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1Device"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of devices matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1GraphicsAdapterInfo:
      description: Information of a graphics adapter (GPU).
      properties:
        adapter:
          description: "Output only. Adapter name. Example: Mesa DRI Intel(R) UHD Graphics 620 (Kabylake GT2)."
          readOnly: true
          type: string
        deviceId:
          description: Output only. Represents the graphics card device id.
          format: int64
          readOnly: true
          type: string
        driverVersion:
          description: Output only. Version of the GPU driver.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1GraphicsInfo:
      description: "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        adapterInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1GraphicsAdapterInfo"
          description: Output only. Information about the graphics adapter (GPU).
          readOnly: true
        displayDevices:
          description: Output only. Information about the display(s) of the device.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DisplayDevice"
          readOnly: true
          type: array
        eprivacySupported:
          description: Output only. Is ePrivacy screen supported or not.
          readOnly: true
          type: boolean
        touchScreenInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1TouchScreenInfo"
          description: Output only. Information about the internal touch screen(s) of the device.
          readOnly: true
      type: object
    GoogleChromeManagementV1GraphicsStatusReport:
      description: "Information of the graphics subsystem. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceGraphicsInfo](https://chromeenterprise.google/policies/#ReportDeviceGraphicsInfo) * Data Collection Frequency: 3 hours. * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        displays:
          description: Output only. Information about the displays for the device.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DisplayInfo"
          readOnly: true
          type: array
        reportTime:
          description: Output only. Time at which the graphics data was reported.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1HttpsLatencyRoutineData:
      description: Data that describes the result of the HTTPS latency diagnostics routine, with the HTTPS requests issued to Google websites.
      properties:
        latency:
          description: Output only. HTTPS latency if routine succeeded or failed because of HIGH_LATENCY or VERY_HIGH_LATENCY.
          format: google-duration
          readOnly: true
          type: string
        problem:
          description: Output only. HTTPS latency routine problem if a problem occurred.
          enum:
            - HTTPS_LATENCY_PROBLEM_UNSPECIFIED
            - FAILED_DNS_RESOLUTIONS
            - FAILED_HTTPS_REQUESTS
            - HIGH_LATENCY
            - VERY_HIGH_LATENCY
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1InstalledApp:
      description: Describes an installed app.
      properties:
        appId:
          description: Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).
          readOnly: true
          type: string
        appInstallType:
          description: Output only. How the app was installed.
          enum:
            - APP_INSTALL_TYPE_UNSPECIFIED
            - MULTIPLE
            - NORMAL
            - ADMIN
            - DEVELOPMENT
            - SIDELOAD
            - OTHER
          readOnly: true
          type: string
        appSource:
          description: Output only. Source of the installed app.
          enum:
            - APP_SOURCE_UNSPECIFIED
            - CHROME_WEBSTORE
            - PLAY_STORE
          readOnly: true
          type: string
        appType:
          description: Output only. Type of the app.
          enum:
            - APP_TYPE_UNSPECIFIED
            - EXTENSION
            - APP
            - THEME
            - HOSTED_APP
            - ANDROID_APP
          readOnly: true
          type: string
        browserDeviceCount:
          description: Output only. Count of browser devices with this app installed.
          format: int64
          readOnly: true
          type: string
        description:
          description: Output only. Description of the installed app.
          readOnly: true
          type: string
        disabled:
          description: Output only. Whether the app is disabled.
          readOnly: true
          type: boolean
        displayName:
          description: Output only. Name of the installed app.
          readOnly: true
          type: string
        homepageUri:
          description: Output only. Homepage uri of the installed app.
          readOnly: true
          type: string
        osUserCount:
          description: Output only. Count of ChromeOS users with this app installed.
          format: int64
          readOnly: true
          type: string
        permissions:
          description: Output only. Permissions of the installed app.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    GoogleChromeManagementV1ListTelemetryDevicesResponse:
      properties:
        devices:
          description: Telemetry devices returned in the response.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryDevice"
          type: array
        nextPageToken:
          description: Token to specify next page in the list.
          type: string
      type: object
    GoogleChromeManagementV1ListTelemetryEventsResponse:
      description: Response message for listing telemetry events for a customer.
      properties:
        nextPageToken:
          description: Token to specify next page in the list.
          type: string
        telemetryEvents:
          description: Telemetry events returned in the response.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryEvent"
          type: array
      type: object
    GoogleChromeManagementV1ListTelemetryUsersResponse:
      description: Response message for listing telemetry users for a customer.
      properties:
        nextPageToken:
          description: Token to specify next page in the list.
          type: string
        telemetryUsers:
          description: Telemetry users returned in the response.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryUser"
          type: array
      type: object
    GoogleChromeManagementV1MemoryInfo:
      description: "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A"
      properties:
        availableRamBytes:
          description: Output only. Amount of available RAM in bytes.
          format: int64
          readOnly: true
          type: string
        totalMemoryEncryption:
          $ref: "#/components/schemas/GoogleChromeManagementV1TotalMemoryEncryptionInfo"
          description: Output only. Total memory encryption info for the device.
          readOnly: true
        totalRamBytes:
          description: Output only. Total RAM in bytes.
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1MemoryStatusReport:
      description: "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        pageFaults:
          description: Output only. Number of page faults during this collection
          format: int32
          readOnly: true
          type: integer
        reportTime:
          description: Output only. The timestamp in milliseconds representing time at which this report was sampled.
          format: google-datetime
          readOnly: true
          type: string
        sampleFrequency:
          description: Output only. Frequency the report is sampled.
          format: google-duration
          readOnly: true
          type: string
        systemRamFreeBytes:
          description: Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection).
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1NetworkDevice:
      description: "Details about the network device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
      properties:
        iccid:
          description: Output only. The integrated circuit card ID associated with the device's sim card.
          readOnly: true
          type: string
        imei:
          description: Output only. IMEI (if applicable) of the corresponding network device.
          readOnly: true
          type: string
        macAddress:
          description: Output only. MAC address (if applicable) of the corresponding network device.
          readOnly: true
          type: string
        mdn:
          description: Output only. The mobile directory number associated with the device's sim card.
          readOnly: true
          type: string
        meid:
          description: Output only. MEID (if applicable) of the corresponding network device.
          readOnly: true
          type: string
        type:
          description: Output only. Network device type.
          enum:
            - NETWORK_DEVICE_TYPE_UNSPECIFIED
            - CELLULAR_DEVICE
            - ETHERNET_DEVICE
            - WIFI_DEVICE
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1NetworkDiagnosticsReport:
      description: Network testing results to determine the health of the device's network connection, for example whether the HTTPS latency is high or normal.
      properties:
        httpsLatencyData:
          $ref: "#/components/schemas/GoogleChromeManagementV1HttpsLatencyRoutineData"
          description: Output only. HTTPS latency test data.
          readOnly: true
        reportTime:
          description: Output only. Timestamp of when the diagnostics were collected.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1NetworkInfo:
      description: "Network device information. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportNetworkDeviceConfiguration](https://chromeenterprise.google/policies/#ReportNetworkDeviceConfiguration) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
      properties:
        networkDevices:
          description: Output only. List of network devices.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1NetworkDevice"
          readOnly: true
          type: array
      type: object
    GoogleChromeManagementV1NetworkStatusReport:
      description: "State of visible/configured networks. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportNetworkStatus](https://chromeenterprise.google/policies/#ReportNetworkStatus) * Data Collection Frequency: 60 minutes * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: Yes"
      properties:
        connectionState:
          description: Output only. Current connection state of the network.
          enum:
            - NETWORK_CONNECTION_STATE_UNSPECIFIED
            - ONLINE
            - CONNECTED
            - PORTAL
            - CONNECTING
            - NOT_CONNECTED
          readOnly: true
          type: string
        connectionType:
          description: Output only. Network connection type.
          enum:
            - NETWORK_TYPE_UNSPECIFIED
            - CELLULAR
            - ETHERNET
            - TETHER
            - VPN
            - WIFI
          readOnly: true
          type: string
        encryptionOn:
          description: Output only. Whether the wifi encryption key is turned off.
          readOnly: true
          type: boolean
        gatewayIpAddress:
          description: Output only. Gateway IP address.
          readOnly: true
          type: string
        guid:
          description: Output only. Network connection guid.
          readOnly: true
          type: string
        lanIpAddress:
          description: Output only. LAN IP address.
          readOnly: true
          type: string
        receivingBitRateMbps:
          description: Output only. Receiving bit rate measured in Megabits per second.
          format: int64
          readOnly: true
          type: string
        reportTime:
          description: Output only. Time at which the network state was reported.
          format: google-datetime
          readOnly: true
          type: string
        sampleFrequency:
          description: Output only. Frequency the report is sampled.
          format: google-duration
          readOnly: true
          type: string
        signalStrengthDbm:
          description: Output only. Signal strength for wireless networks measured in decibels.
          format: int32
          readOnly: true
          type: integer
        transmissionBitRateMbps:
          description: Output only. Transmission bit rate measured in Megabits per second.
          format: int64
          readOnly: true
          type: string
        transmissionPowerDbm:
          description: Output only. Transmission power measured in decibels.
          format: int32
          readOnly: true
          type: integer
        wifiLinkQuality:
          description: Output only. Wifi link quality. Value ranges from [0, 70]. 0 indicates no signal and 70 indicates a strong signal.
          format: int64
          readOnly: true
          type: string
        wifiPowerManagementEnabled:
          description: Output only. Wifi power management enabled
          readOnly: true
          type: boolean
      type: object
    GoogleChromeManagementV1OsUpdateStatus:
      description: "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        lastRebootTime:
          description: Output only. Timestamp of the last reboot.
          format: google-datetime
          readOnly: true
          type: string
        lastUpdateCheckTime:
          description: Output only. Timestamp of the last update check.
          format: google-datetime
          readOnly: true
          type: string
        lastUpdateTime:
          description: Output only. Timestamp of the last successful update.
          format: google-datetime
          readOnly: true
          type: string
        newPlatformVersion:
          description: Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy "0.0.0.0" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot.
          readOnly: true
          type: string
        newRequestedPlatformVersion:
          description: Output only. New requested platform version from the pending updated kiosk app.
          readOnly: true
          type: string
        updateState:
          description: Output only. Current state of the os update.
          enum:
            - UPDATE_STATE_UNSPECIFIED
            - OS_IMAGE_DOWNLOAD_NOT_STARTED
            - OS_IMAGE_DOWNLOAD_IN_PROGRESS
            - OS_UPDATE_NEED_REBOOT
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1PeripheralsReport:
      description: Peripherals report.
      properties:
        reportTime:
          description: Output only. Timestamp of when the report was collected.
          format: google-datetime
          readOnly: true
          type: string
        usbPeripheralReport:
          description: Reports of all usb connected devices.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1UsbPeripheralReport"
          type: array
      type: object
    GoogleChromeManagementV1StorageInfo:
      description: "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        availableDiskBytes:
          description: The available space for user data storage in the device in bytes.
          format: int64
          type: string
        totalDiskBytes:
          description: The total space for user data storage in the device in bytes.
          format: int64
          type: string
        volume:
          description: Information for disk volumes
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1StorageInfoDiskVolume"
          type: array
      type: object
    GoogleChromeManagementV1StorageInfoDiskVolume:
      description: Information for disk volumes
      properties:
        storageFreeBytes:
          description: Free storage space in bytes.
          format: int64
          type: string
        storageTotalBytes:
          description: Total storage space in bytes.
          format: int64
          type: string
        volumeId:
          description: Disk volume id.
          type: string
      type: object
    GoogleChromeManagementV1StorageStatusReport:
      description: "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
      properties:
        disk:
          description: Output only. Reports on disk.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1DiskInfo"
          readOnly: true
          type: array
        reportTime:
          description: Output only. Timestamp of when the sample was collected on device
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent:
      description: "`TelemetryAudioSevereUnderrunEvent` is triggered when a audio devices run out of buffer data for more than 5 seconds."
      properties: {}
      type: object
    GoogleChromeManagementV1TelemetryDevice:
      description: Telemetry data collected from a managed device.
      properties:
        audioStatusReport:
          description: Output only. Audio reports collected periodically sorted in a decreasing order of report_time.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1AudioStatusReport"
          readOnly: true
          type: array
        batteryInfo:
          description: Output only. Information on battery specs for the device.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BatteryInfo"
          readOnly: true
          type: array
        batteryStatusReport:
          description: Output only. Battery reports collected periodically.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BatteryStatusReport"
          readOnly: true
          type: array
        bootPerformanceReport:
          description: Output only. Boot performance reports of the device.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BootPerformanceReport"
          readOnly: true
          type: array
        cpuInfo:
          description: Output only. Information regarding CPU specs for the device.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1CpuInfo"
          readOnly: true
          type: array
        cpuStatusReport:
          description: Output only. CPU status reports collected periodically sorted in a decreasing order of report_time.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1CpuStatusReport"
          readOnly: true
          type: array
        customer:
          description: Output only. Google Workspace Customer whose enterprise enrolled the device.
          readOnly: true
          type: string
        deviceId:
          description: Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab
          readOnly: true
          type: string
        graphicsInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1GraphicsInfo"
          description: Output only. Contains information regarding Graphic peripherals for the device.
          readOnly: true
        graphicsStatusReport:
          description: Output only. Graphics reports collected periodically.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1GraphicsStatusReport"
          readOnly: true
          type: array
        memoryInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1MemoryInfo"
          description: Output only. Information regarding memory specs for the device.
          readOnly: true
        memoryStatusReport:
          description: Output only. Memory status reports collected periodically sorted decreasing by report_time.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1MemoryStatusReport"
          readOnly: true
          type: array
        name:
          description: Output only. Resource name of the device.
          readOnly: true
          type: string
        networkDiagnosticsReport:
          description: Output only. Network diagnostics collected periodically.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1NetworkDiagnosticsReport"
          readOnly: true
          type: array
        networkInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1NetworkInfo"
          description: Output only. Network devices information.
          readOnly: true
        networkStatusReport:
          description: Output only. Network specs collected periodically.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1NetworkStatusReport"
          readOnly: true
          type: array
        orgUnitId:
          description: Output only. Organization unit ID of the device.
          readOnly: true
          type: string
        osUpdateStatus:
          description: Output only. Contains relevant information regarding ChromeOS update status.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1OsUpdateStatus"
          readOnly: true
          type: array
        peripheralsReport:
          description: Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1PeripheralsReport"
          readOnly: true
          type: array
        serialNumber:
          description: Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab.
          readOnly: true
          type: string
        storageInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1StorageInfo"
          description: Output only. Information of storage specs for the device.
          readOnly: true
        storageStatusReport:
          description: Output only. Storage reports collected periodically.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1StorageStatusReport"
          readOnly: true
          type: array
        thunderboltInfo:
          description: Output only. Information on Thunderbolt bus.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ThunderboltInfo"
          readOnly: true
          type: array
      type: object
    GoogleChromeManagementV1TelemetryDeviceInfo:
      description: Information about a device associated with telemetry data.
      properties:
        deviceId:
          description: Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab.
          readOnly: true
          type: string
        orgUnitId:
          description: Output only. Organization unit ID of the device.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1TelemetryEvent:
      description: Telemetry data reported by a managed device.
      properties:
        audioSevereUnderrunEvent:
          $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryAudioSevereUnderrunEvent"
          description: Output only. Payload for audio severe underrun event. Present only when the `event_type` field is `AUDIO_SEVERE_UNDERRUN`.
          readOnly: true
        device:
          $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryDeviceInfo"
          description: Output only. Information about the device associated with the event.
          readOnly: true
        eventType:
          description: The event type of the current event.
          enum:
            - EVENT_TYPE_UNSPECIFIED
            - AUDIO_SEVERE_UNDERRUN
            - USB_ADDED
            - USB_REMOVED
            - NETWORK_HTTPS_LATENCY_CHANGE
          type: string
        httpsLatencyChangeEvent:
          $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent"
          description: Output only. Payload for HTTPS latency change event. Present only when `event_type` is `NETWORK_HTTPS_LATENCY_CHANGE`.
          readOnly: true
        name:
          description: Output only. Resource name of the event.
          readOnly: true
          type: string
        reportTime:
          description: Timestamp that represents when the event was reported.
          format: google-datetime
          type: string
        usbPeripheralsEvent:
          $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryUsbPeripheralsEvent"
          description: Output only. Payload for usb peripherals event. Present only when the `event_type` field is either `USB_ADDED` or `USB_REMOVED`.
          readOnly: true
        user:
          $ref: "#/components/schemas/GoogleChromeManagementV1TelemetryUserInfo"
          description: Output only. Information about the user associated with the event.
          readOnly: true
      type: object
    GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent:
      description: Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem..
      properties:
        httpsLatencyRoutineData:
          $ref: "#/components/schemas/GoogleChromeManagementV1HttpsLatencyRoutineData"
          description: HTTPS latency routine data that triggered the event.
        httpsLatencyState:
          description: Current HTTPS latency state.
          enum:
            - HTTPS_LATENCY_STATE_UNSPECIFIED
            - RECOVERY
            - PROBLEM
          type: string
      type: object
    GoogleChromeManagementV1TelemetryUsbPeripheralsEvent:
      description: "`TelemetryUsbPeripheralsEvent` is triggered USB devices are either added or removed."
      properties:
        usbPeripheralReport:
          description: List of usb devices that were either added or removed.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1UsbPeripheralReport"
          type: array
      type: object
    GoogleChromeManagementV1TelemetryUser:
      description: Telemetry data collected from a managed user.
[...]
