swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /admin/directory/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'The Admin SDK Directory API lets you view and manage enterprise resources such as users and groups, administrative notifications, security features, and more.'
  title: Admin Directory
  version: directory_v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - analytics
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/admin_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/admin/directory_v1/rest'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: admin
externalDocs:
  url: 'https://developers.google.com/admin-sdk/directory/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/admin.directory.customer': View and manage customer related information
      'https://www.googleapis.com/auth/admin.directory.customer.readonly': View customer related information
      'https://www.googleapis.com/auth/admin.directory.device.chromeos': View and manage your Chrome OS devices' metadata
      'https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly': View your Chrome OS devices' metadata
      'https://www.googleapis.com/auth/admin.directory.device.mobile': View and manage your mobile devices' metadata
      'https://www.googleapis.com/auth/admin.directory.device.mobile.action': Manage your mobile devices by performing administrative tasks
      'https://www.googleapis.com/auth/admin.directory.device.mobile.readonly': View your mobile devices' metadata
      'https://www.googleapis.com/auth/admin.directory.domain': View and manage the provisioning of domains for your customers
      'https://www.googleapis.com/auth/admin.directory.domain.readonly': View domains related to your customers
      'https://www.googleapis.com/auth/admin.directory.group': View and manage the provisioning of groups on your domain
      'https://www.googleapis.com/auth/admin.directory.group.member': View and manage group subscriptions on your domain
      'https://www.googleapis.com/auth/admin.directory.group.member.readonly': View group subscriptions on your domain
      'https://www.googleapis.com/auth/admin.directory.group.readonly': View groups on your domain
      'https://www.googleapis.com/auth/admin.directory.notifications': View and manage notifications received on your domain
      'https://www.googleapis.com/auth/admin.directory.orgunit': View and manage organization units on your domain
      'https://www.googleapis.com/auth/admin.directory.orgunit.readonly': View organization units on your domain
      'https://www.googleapis.com/auth/admin.directory.resource.calendar': View and manage the provisioning of calendar resources on your domain
      'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly': View calendar resources on your domain
      'https://www.googleapis.com/auth/admin.directory.rolemanagement': Manage delegated admin roles for your domain
      'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly': View delegated admin roles for your domain
      'https://www.googleapis.com/auth/admin.directory.user': View and manage the provisioning of users on your domain
      'https://www.googleapis.com/auth/admin.directory.user.alias': View and manage user aliases on your domain
      'https://www.googleapis.com/auth/admin.directory.user.alias.readonly': View user aliases on your domain
      'https://www.googleapis.com/auth/admin.directory.user.readonly': View users on your domain
      'https://www.googleapis.com/auth/admin.directory.user.security': Manage data access permissions for users on your domain
      'https://www.googleapis.com/auth/admin.directory.userschema': View and manage the provisioning of user schemas on your domain
      'https://www.googleapis.com/auth/admin.directory.userschema.readonly': View user schemas on your domain
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: asps
  - name: channels
  - name: chromeosdevices
  - name: customers
  - name: domainAliases
  - name: domains
  - name: groups
  - name: members
  - name: mobiledevices
  - name: notifications
  - name: orgunits
  - name: privileges
  - name: resolvedAppAccessSettings
  - name: resources
  - name: roleAssignments
  - name: roles
  - name: schemas
  - name: tokens
  - name: users
  - name: verificationCodes
paths:
  /admin/directory_v1/channels/stop:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stop watching resources through this channel
      operationId: admin.channels.stop
      parameters:
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user.alias'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user.alias.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
      tags:
        - channels
  '/customer/{customerId}/devices/chromeos':
    get:
      description: Retrieve all Chrome OS Devices of a customer (paginated)
      operationId: directory.chromeosdevices.list
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Maximum number of results to return. Default is 100
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Column to use for sorting results
          enum:
            - annotatedLocation
            - annotatedUser
            - lastSync
            - notes
            - serialNumber
            - status
            - supportEndDate
          in: query
          name: orderBy
          type: string
        - description: Full path of the organizational unit or its ID
          in: query
          name: orgUnitPath
          type: string
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - BASIC
            - FULL
          in: query
          name: projection
          type: string
        - description: 'Search string in the format given at http://support.google.com/chromeos/a/bin/answer.py?hl=en&answer=1698333'
          in: query
          name: query
          type: string
        - description: Whether to return results in ascending or descending order. Only of use when orderBy is also used
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChromeOsDevices'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly'
      tags:
        - chromeosdevices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customerId}/devices/chromeos/moveDevicesToOu':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Move or insert multiple Chrome OS Devices to organizational unit
      operationId: directory.chromeosdevices.moveDevicesToOu
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChromeOsMoveDevicesToOu'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Full path of the target organizational unit or its ID
          in: query
          name: orgUnitPath
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
      tags:
        - chromeosdevices
  '/customer/{customerId}/devices/chromeos/{deviceId}':
    get:
      description: Retrieve Chrome OS Device
      operationId: directory.chromeosdevices.get
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Immutable ID of Chrome OS Device
          in: path
          name: deviceId
          required: true
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - BASIC
            - FULL
          in: query
          name: projection
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChromeOsDevice'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly'
      tags:
        - chromeosdevices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update Chrome OS Device. This method supports patch semantics.
      operationId: directory.chromeosdevices.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChromeOsDevice'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Immutable ID of Chrome OS Device
          in: path
          name: deviceId
          required: true
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - BASIC
            - FULL
          in: query
          name: projection
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChromeOsDevice'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
      tags:
        - chromeosdevices
    put:
      description: Update Chrome OS Device
      operationId: directory.chromeosdevices.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChromeOsDevice'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Immutable ID of Chrome OS Device
          in: path
          name: deviceId
          required: true
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - BASIC
            - FULL
          in: query
          name: projection
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChromeOsDevice'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
      tags:
        - chromeosdevices
  '/customer/{customerId}/devices/chromeos/{resourceId}/action':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Take action on Chrome OS Device
      operationId: directory.chromeosdevices.action
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ChromeOsDeviceAction'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Immutable ID of Chrome OS Device
          in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.chromeos'
      tags:
        - chromeosdevices
  '/customer/{customerId}/devices/mobile':
    get:
      description: Retrieve all Mobile Devices of a customer (paginated)
      operationId: directory.mobiledevices.list
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Maximum number of results to return. Default is 100
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Column to use for sorting results
          enum:
            - deviceId
            - email
            - lastSync
            - model
            - name
            - os
            - status
            - type
          in: query
          name: orderBy
          type: string
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - BASIC
            - FULL
          in: query
          name: projection
          type: string
        - description: 'Search string in the format given at http://support.google.com/a/bin/answer.py?hl=en&answer=1408863#search'
          in: query
          name: query
          type: string
        - description: Whether to return results in ascending or descending order. Only of use when orderBy is also used
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MobileDevices'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile.action'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile.readonly'
      tags:
        - mobiledevices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customerId}/devices/mobile/{resourceId}':
    delete:
      description: Delete Mobile Device
      operationId: directory.mobiledevices.delete
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Immutable ID of Mobile Device
          in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile'
      tags:
        - mobiledevices
    get:
      description: Retrieve Mobile Device
      operationId: directory.mobiledevices.get
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - BASIC
            - FULL
          in: query
          name: projection
          type: string
        - description: Immutable ID of Mobile Device
          in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MobileDevice'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile.action'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile.readonly'
      tags:
        - mobiledevices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customerId}/devices/mobile/{resourceId}/action':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Take action on Mobile Device
      operationId: directory.mobiledevices.action
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MobileDeviceAction'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Immutable ID of Mobile Device
          in: path
          name: resourceId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.device.mobile.action'
      tags:
        - mobiledevices
  '/customer/{customerId}/orgunits':
    get:
      description: Retrieve all organizational units
      operationId: directory.orgunits.list
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - default: ''
          description: the URL-encoded organizational unit's path or its ID
          in: query
          name: orgUnitPath
          type: string
        - description: Whether to return all sub-organizations or just immediate children
          enum:
            - all
            - children
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrgUnits'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit.readonly'
      tags:
        - orgunits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add organizational unit
      operationId: directory.orgunits.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrgUnit'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrgUnit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit'
      tags:
        - orgunits
  '/customer/{customerId}/orgunits/{orgUnitPath}':
    delete:
      description: Remove Organization Unit
      operationId: directory.orgunits.delete
      parameters:
        - description: Immutable id of the Google Apps account
          in: path
          name: customerId
          required: true
          type: string
        - description: Full path of the organization unit or its Id
          in: path
          name: orgUnitPath
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit'
      tags:
        - orgunits
    get:
      description: Retrieve Organization Unit
      operationId: directory.orgunits.get
      parameters:
        - description: Immutable id of the Google Apps account
          in: path
          name: customerId
          required: true
          type: string
        - description: Full path of the organization unit or its Id
          in: path
          name: orgUnitPath
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrgUnit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit'
            - 'https://www.googleapis.com/auth/admin.directory.orgunit.readonly'
      tags:
        - orgunits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update Organization Unit. This method supports patch semantics.
      operationId: directory.orgunits.patch
      parameters:
        - description: Immutable id of the Google Apps account
          in: path
          name: customerId
          required: true
          type: string
        - description: Full path of the organization unit or its Id
          in: path
          name: orgUnitPath
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrgUnit'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrgUnit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit'
      tags:
        - orgunits
    put:
      description: Update Organization Unit
      operationId: directory.orgunits.update
      parameters:
        - description: Immutable id of the Google Apps account
          in: path
          name: customerId
          required: true
          type: string
        - description: Full path of the organization unit or its Id
          in: path
          name: orgUnitPath
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrgUnit'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrgUnit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.orgunit'
      tags:
        - orgunits
  '/customer/{customerId}/schemas':
    get:
      description: Retrieve all schemas for a customer
      operationId: directory.schemas.list
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Schemas'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema.readonly'
      tags:
        - schemas
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create schema.
      operationId: directory.schemas.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Schema'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Schema'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema'
      tags:
        - schemas
  '/customer/{customerId}/schemas/{schemaKey}':
    delete:
      description: Delete schema
      operationId: directory.schemas.delete
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Name or immutable ID of the schema
          in: path
          name: schemaKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema'
      tags:
        - schemas
    get:
      description: Retrieve schema
      operationId: directory.schemas.get
      parameters:
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Name or immutable ID of the schema
          in: path
          name: schemaKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Schema'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema.readonly'
      tags:
        - schemas
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update schema. This method supports patch semantics.
      operationId: directory.schemas.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Schema'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Name or immutable ID of the schema.
          in: path
          name: schemaKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Schema'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema'
      tags:
        - schemas
    put:
      description: Update schema
      operationId: directory.schemas.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Schema'
        - description: Immutable ID of the G Suite account
          in: path
          name: customerId
          required: true
          type: string
        - description: Name or immutable ID of the schema.
          in: path
          name: schemaKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Schema'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.userschema'
      tags:
        - schemas
  '/customer/{customer}/domainaliases':
    get:
      description: Lists the domain aliases of the customer.
      operationId: directory.domainAliases.list
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Name of the parent domain for which domain aliases are to be fetched.
          in: query
          name: parentDomainName
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DomainAliases'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
      tags:
        - domainAliases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a Domain alias of the customer.
      operationId: directory.domainAliases.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DomainAlias'
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DomainAlias'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
      tags:
        - domainAliases
  '/customer/{customer}/domainaliases/{domainAliasName}':
    delete:
      description: Deletes a Domain Alias of the customer.
      operationId: directory.domainAliases.delete
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Name of domain alias to be retrieved.
          in: path
          name: domainAliasName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
      tags:
        - domainAliases
    get:
      description: Retrieves a domain alias of the customer.
      operationId: directory.domainAliases.get
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Name of domain alias to be retrieved.
          in: path
          name: domainAliasName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DomainAlias'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
      tags:
        - domainAliases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customer}/domains':
    get:
      description: Lists the domains of the customer.
      operationId: directory.domains.list
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Domains2'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
      tags:
        - domains
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a domain of the customer.
      operationId: directory.domains.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Domains'
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Domains'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
      tags:
        - domains
  '/customer/{customer}/domains/{domainName}':
    delete:
      description: Deletes a domain of the customer.
      operationId: directory.domains.delete
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Name of domain to be deleted
          in: path
          name: domainName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
      tags:
        - domains
    get:
      description: Retrieves a domain of the customer.
      operationId: directory.domains.get
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Name of domain to be retrieved
          in: path
          name: domainName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Domains'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.domain.readonly'
      tags:
        - domains
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customer}/notifications':
    get:
      description: Retrieves a list of notifications.
      operationId: directory.notifications.list
      parameters:
        - description: The unique ID for the customer's G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: The ISO 639-1 code of the language notifications are returned in. The default is English (en).
          in: query
          name: language
          type: string
        - description: Maximum number of notifications to return per page. The default is 100.
          in: query
          name: maxResults
          type: integer
        - description: The token to specify the page of results to retrieve.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notifications'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.notifications'
      tags:
        - notifications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customer}/notifications/{notificationId}':
    delete:
      description: Deletes a notification
      operationId: directory.notifications.delete
      parameters:
        - description: The unique ID for the customer's G Suite account. The customerId is also returned as part of the Users resource.
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the notification.
          in: path
          name: notificationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.notifications'
      tags:
        - notifications
    get:
      description: Retrieves a notification.
      operationId: directory.notifications.get
      parameters:
        - description: The unique ID for the customer's G Suite account. The customerId is also returned as part of the Users resource.
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the notification.
          in: path
          name: notificationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.notifications'
      tags:
        - notifications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a notification. This method supports patch semantics.
      operationId: directory.notifications.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Notification'
        - description: The unique ID for the customer's G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the notification.
          in: path
          name: notificationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.notifications'
      tags:
        - notifications
    put:
      description: Updates a notification.
      operationId: directory.notifications.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Notification'
        - description: The unique ID for the customer's G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the notification.
          in: path
          name: notificationId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.notifications'
      tags:
        - notifications
  '/customer/{customer}/resources/buildings':
    get:
      description: Retrieves a list of buildings for an account.
      operationId: directory.resources.buildings.list
      parameters:
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 500
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Buildings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a building.
      operationId: directory.resources.buildings.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Building'
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Building'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/resources/buildings/{buildingId}':
    delete:
      description: Deletes a building.
      operationId: directory.resources.buildings.delete
      parameters:
        - description: The ID of the building to delete.
          in: path
          name: buildingId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
    get:
      description: Retrieves a building.
      operationId: directory.resources.buildings.get
      parameters:
        - description: The unique ID of the building to retrieve.
          in: path
          name: buildingId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Building'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a building. This method supports patch semantics.
      operationId: directory.resources.buildings.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Building'
        - description: The ID of the building to update.
          in: path
          name: buildingId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Building'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
    put:
      description: Updates a building.
      operationId: directory.resources.buildings.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Building'
        - description: The ID of the building to update.
          in: path
          name: buildingId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Building'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/resources/calendars':
    get:
      description: Retrieves a list of calendar resources for an account.
      operationId: directory.resources.calendars.list
      parameters:
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 500
          minimum: 1
          name: maxResults
          type: integer
        - description: 'Field(s) to sort results by in either ascending or descending order. Supported fields include resourceId, resourceName, capacity, buildingId, and floorName. If no order is specified, defaults to ascending. Should be of the form "field [asc|desc], field [asc|desc], ...". For example buildingId, capacity desc would return results sorted first by buildingId in ascending order then by capacity in descending order.'
          in: query
          name: orderBy
          type: string
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          type: string
        - description: 'String query used to filter results. Should be of the form "field operator value" where field can be any of supported fields and operators can be any of supported operations. Operators include ''='' for exact match and '':'' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Supported fields include generatedResourceName, name, buildingId, featureInstances.feature.name. For example buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone.'
          in: query
          name: query
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarResources'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a calendar resource.
      operationId: directory.resources.calendars.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CalendarResource'
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/resources/calendars/{calendarResourceId}':
    delete:
      description: Deletes a calendar resource.
      operationId: directory.resources.calendars.delete
      parameters:
        - description: The unique ID of the calendar resource to delete.
          in: path
          name: calendarResourceId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
    get:
      description: Retrieves a calendar resource.
      operationId: directory.resources.calendars.get
      parameters:
        - description: The unique ID of the calendar resource to retrieve.
          in: path
          name: calendarResourceId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: |-
        Updates a calendar resource.

        This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved. This method supports patch semantics.
      operationId: directory.resources.calendars.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CalendarResource'
        - description: The unique ID of the calendar resource to update.
          in: path
          name: calendarResourceId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
    put:
      description: |-
        Updates a calendar resource.

        This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.
      operationId: directory.resources.calendars.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CalendarResource'
        - description: The unique ID of the calendar resource to update.
          in: path
          name: calendarResourceId
          required: true
          type: string
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/resources/features':
    get:
      description: Retrieves a list of features for an account.
      operationId: directory.resources.features.list
      parameters:
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 500
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Features'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a feature.
      operationId: directory.resources.features.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Feature'
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Feature'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/resources/features/{featureKey}':
    delete:
      description: Deletes a feature.
      operationId: directory.resources.features.delete
      parameters:
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the feature to delete.
          in: path
          name: featureKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
    get:
      description: Retrieves a feature.
      operationId: directory.resources.features.get
      parameters:
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the feature to retrieve.
          in: path
          name: featureKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Feature'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a feature. This method supports patch semantics.
      operationId: directory.resources.features.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Feature'
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the feature to update.
          in: path
          name: featureKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Feature'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
    put:
      description: Updates a feature.
      operationId: directory.resources.features.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Feature'
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the feature to update.
          in: path
          name: featureKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Feature'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/resources/features/{oldName}/rename':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Renames a feature.
      operationId: directory.resources.features.rename
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FeatureRename'
        - description: 'The unique ID for the customer''s G Suite account. As an account administrator, you can also use the my_customer alias to represent your account''s customer ID.'
          in: path
          name: customer
          required: true
          type: string
        - description: The unique ID of the feature to rename.
          in: path
          name: oldName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.resource.calendar'
      tags:
        - resources
  '/customer/{customer}/roleassignments':
    get:
      description: Retrieves a paginated list of all roleAssignments.
      operationId: directory.roleAssignments.list
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 200
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          type: string
        - description: 'Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.'
          in: query
          name: roleId
          type: string
        - description: 'The user''s primary email address, alias email address, or unique user ID. If included in the request, returns role assignments only for this user.'
          in: query
          name: userKey
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RoleAssignments'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
      tags:
        - roleAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a role assignment.
      operationId: directory.roleAssignments.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RoleAssignment'
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RoleAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
      tags:
        - roleAssignments
  '/customer/{customer}/roleassignments/{roleAssignmentId}':
    delete:
      description: Deletes a role assignment.
      operationId: directory.roleAssignments.delete
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Immutable ID of the role assignment.
          in: path
          name: roleAssignmentId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
      tags:
        - roleAssignments
    get:
      description: Retrieve a role assignment.
      operationId: directory.roleAssignments.get
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Immutable ID of the role assignment.
          in: path
          name: roleAssignmentId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RoleAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
      tags:
        - roleAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customer}/roles':
    get:
      description: Retrieves a paginated list of all the roles in a domain.
      operationId: directory.roles.list
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Roles'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
      tags:
        - roles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a role.
      operationId: directory.roles.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Role'
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Role'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
      tags:
        - roles
  '/customer/{customer}/roles/ALL/privileges':
    get:
      description: Retrieves a paginated list of all privileges for a customer.
      operationId: directory.privileges.list
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Privileges'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
      tags:
        - privileges
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/customer/{customer}/roles/{roleId}':
    delete:
      description: Deletes a role.
      operationId: directory.roles.delete
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Immutable ID of the role.
          in: path
          name: roleId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
      tags:
        - roles
    get:
      description: Retrieves a role.
      operationId: directory.roles.get
      parameters:
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Immutable ID of the role.
          in: path
          name: roleId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Role'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly'
      tags:
        - roles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a role. This method supports patch semantics.
      operationId: directory.roles.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Role'
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Immutable ID of the role.
          in: path
          name: roleId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Role'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
      tags:
        - roles
    put:
      description: Updates a role.
      operationId: directory.roles.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Role'
        - description: Immutable ID of the G Suite account.
          in: path
          name: customer
          required: true
          type: string
        - description: Immutable ID of the role.
          in: path
          name: roleId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Role'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.rolemanagement'
      tags:
        - roles
  '/customers/{customerKey}':
    get:
      description: Retrieves a customer.
      operationId: directory.customers.get
      parameters:
        - description: Id of the customer to be retrieved
          in: path
          name: customerKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.customer'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.customer.readonly'
      tags:
        - customers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a customer. This method supports patch semantics.
      operationId: directory.customers.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Customer'
        - description: Id of the customer to be updated
          in: path
          name: customerKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.customer'
      tags:
        - customers
    put:
      description: Updates a customer.
      operationId: directory.customers.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Customer'
        - description: Id of the customer to be updated
          in: path
          name: customerKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.customer'
      tags:
        - customers
  /groups:
    get:
      description: Retrieve all groups in a domain (paginated)
      operationId: directory.groups.list
      parameters:
        - description: 'Immutable ID of the G Suite account. In case of multi-domain, to fetch all groups for a customer, fill this field instead of domain.'
          in: query
          name: customer
          type: string
        - description: Name of the domain. Fill this field to get groups from only this domain. To return all groups in a multi-domain fill customer field instead.
          in: query
          name: domain
          type: string
        - description: Maximum number of results to return. Default is 200
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          type: string
        - description: 'Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If ID, it should match with id of user object'
          in: query
          name: userKey
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create Group
      operationId: directory.groups.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
      tags:
        - groups
  '/groups/{groupKey}':
    delete:
      description: Delete Group
      operationId: directory.groups.delete
      parameters:
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
      tags:
        - groups
    get:
      description: Retrieve Group
      operationId: directory.groups.get
      parameters:
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update Group. This method supports patch semantics.
      operationId: directory.groups.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
        - description: 'Email or immutable ID of the group. If ID, it should match with id of group object'
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
      tags:
        - groups
    put:
      description: Update Group
      operationId: directory.groups.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
        - description: 'Email or immutable ID of the group. If ID, it should match with id of group object'
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
      tags:
        - groups
  '/groups/{groupKey}/aliases':
    get:
      description: List all aliases for a group
      operationId: directory.groups.aliases.list
      parameters:
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Aliases'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add a alias for the group
      operationId: directory.groups.aliases.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Alias'
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Alias'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
      tags:
        - groups
  '/groups/{groupKey}/aliases/{alias}':
    delete:
      description: Remove a alias for the group
      operationId: directory.groups.aliases.delete
      parameters:
        - description: The alias to be removed
          in: path
          name: alias
          required: true
          type: string
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/groups/{groupKey}/hasMember/{memberKey}':
    get:
      description: Checks whether the given user is a member of the group. Membership can be direct or nested.
      operationId: directory.members.hasMember
      parameters:
        - description: 'Identifies the group in the API request. The value can be the group''s email address, group alias, or the unique group ID.'
          in: path
          name: groupKey
          required: true
          type: string
        - description: 'Identifies the user member in the API request. The value can be the user''s primary email address, alias, or unique ID.'
          in: path
          name: memberKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MembersHasMember'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      tags:
        - members
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/groups/{groupKey}/members':
    get:
      description: Retrieve all members in a group (paginated)
      operationId: directory.members.list
      parameters:
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
        - description: Maximum number of results to return. Default is 200
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          type: string
        - description: Comma separated role values to filter list results on.
          in: query
          name: roles
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Members'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      tags:
        - members
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add user to the specified group.
      operationId: directory.members.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Member'
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Member'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
      tags:
        - members
  '/groups/{groupKey}/members/{memberKey}':
    delete:
      description: Remove membership.
      operationId: directory.members.delete
      parameters:
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
        - description: Email or immutable ID of the member
          in: path
          name: memberKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
      tags:
        - members
    get:
      description: Retrieve Group Member
      operationId: directory.members.get
      parameters:
        - description: Email or immutable ID of the group
          in: path
          name: groupKey
          required: true
          type: string
        - description: Email or immutable ID of the member
          in: path
          name: memberKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Member'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.readonly'
      tags:
        - members
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update membership of a user in the specified group. This method supports patch semantics.
      operationId: directory.members.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Member'
        - description: 'Email or immutable ID of the group. If ID, it should match with id of group object'
          in: path
          name: groupKey
          required: true
          type: string
        - description: 'Email or immutable ID of the user. If ID, it should match with id of member object'
          in: path
          name: memberKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Member'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
      tags:
        - members
    put:
      description: Update membership of a user in the specified group.
      operationId: directory.members.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Member'
        - description: 'Email or immutable ID of the group. If ID, it should match with id of group object'
          in: path
          name: groupKey
          required: true
          type: string
        - description: 'Email or immutable ID of the user. If ID, it should match with id of member object'
          in: path
          name: memberKey
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Member'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group.member'
      tags:
        - members
  /resolvedappaccesssettings:
    get:
      description: Retrieves resolved app access settings of the logged in user.
      operationId: directory.resolvedAppAccessSettings.GetSettings
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppAccessCollections'
      tags:
        - resolvedAppAccessSettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /trustedapps:
    get:
      description: Retrieves the list of apps trusted by the admin of the logged in user.
      operationId: directory.resolvedAppAccessSettings.ListTrustedApps
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TrustedApps'
      tags:
        - resolvedAppAccessSettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /users:
    get:
      description: Retrieve either deleted users or all users in a domain (paginated)
      operationId: directory.users.list
      parameters:
        - description: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
          in: query
          name: customFieldMask
          type: string
        - description: 'Immutable ID of the G Suite account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.'
          in: query
          name: customer
          type: string
        - description: Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.
          in: query
          name: domain
          type: string
        - description: Event on which subscription is intended (if subscribing)
          enum:
            - add
            - delete
            - makeAdmin
            - undelete
            - update
          in: query
          name: event
          type: string
        - description: Maximum number of results to return. Default is 100. Max allowed is 500
          in: query
          maximum: 500
          minimum: 1
          name: maxResults
          type: integer
        - description: Column to use for sorting results
          enum:
            - email
            - familyName
            - givenName
          in: query
          name: orderBy
          type: string
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          type: string
        - default: basic
          description: What subset of fields to fetch for this user.
          enum:
            - basic
            - custom
            - full
          in: query
          name: projection
          type: string
        - description: 'Query string search. Should be of the form "". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users'
          in: query
          name: query
          type: string
        - description: If set to true retrieves the list of deleted users. Default is false
          in: query
          name: showDeleted
          type: string
        - description: Whether to return results in ascending or descending order.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
        - default: admin_view
          description: Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.
          enum:
            - admin_view
            - domain_public
          in: query
          name: viewType
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Users'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: create user.
      operationId: directory.users.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user'
      tags:
        - users
  /users/watch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Watch for changes in users list
      operationId: directory.users.watch
      parameters:
        - description: Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.
          in: query
          name: customFieldMask
          type: string
        - description: 'Immutable ID of the G Suite account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.'
          in: query
          name: customer
          type: string
        - description: Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.
          in: query
          name: domain
          type: string
        - description: Event on which subscription is intended (if subscribing)
          enum:
            - add
            - delete
            - makeAdmin
            - undelete
            - update
          in: query
          name: event
          type: string
        - description: Maximum number of results to return. Default is 100. Max allowed is 500
          in: query
          maximum: 500
          minimum: 1
          name: maxResults
          type: integer
        - description: Column to use for sorting results
          enum:
            - email
            - familyName
[...]
