openapi: 3.0.0
servers:
  - url: 'http://route53.amazonaws.com/'
info:
  version: '2013-04-01'
  x-release: v4
  title: Amazon Route 53
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: route53
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53-2013-04-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/route53/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  '/2013-04-01/hostedzone/{Id}/associatevpc':
    post:
      operationId: AssociateVPCWithHostedZone
      description: '<p>Associates an Amazon VPC with a private hosted zone. </p> <important> <p>To perform the association, the VPC and the private hosted zone must already exist. You can''t convert a public hosted zone into a private hosted zone.</p> </important> <note> <p>If you want to associate a VPC that was created by using one AWS account with a private hosted zone that was created by using a different account, the AWS account that created the private hosted zone must first submit a <code>CreateVPCAssociationAuthorization</code> request. Then the account that created the VPC must submit an <code>AssociateVPCWithHostedZone</code> request.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AssociateVPCWithHostedZoneResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: NotAuthorizedException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NotAuthorizedException'
        '482':
          description: InvalidVPCId
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVPCId'
        '483':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '484':
          description: PublicZoneVPCAssociation
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PublicZoneVPCAssociation'
        '485':
          description: ConflictingDomainExists
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConflictingDomainExists'
        '486':
          description: LimitsExceeded
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LimitsExceeded'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/AssociateVPCWithHostedZoneRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/hostedzone/{Id}/rrset/':
    post:
      operationId: ChangeResourceRecordSets
      description: '<p>Creates, changes, or deletes a resource record set, which contains authoritative DNS information for a specified domain name or subdomain name. For example, you can use <code>ChangeResourceRecordSets</code> to create a resource record set that routes traffic for test.example.com to a web server that has an IP address of 192.0.2.44.</p> <p> <b>Change Batches and Transactional Changes</b> </p> <p>The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element. The request body contains a list of change items, known as a change batch. Change batches are considered transactional changes. When using the Amazon Route 53 API to change resource record sets, Amazon Route 53 either makes all or none of the changes in a change batch request. This ensures that Amazon Route 53 never partially implements the intended changes to the resource record sets in a hosted zone. </p> <p>For example, a change batch request that deletes the <code>CNAME</code> record for www.example.com and creates an alias resource record set for www.example.com. Amazon Route 53 deletes the first resource record set and creates the second resource record set in a single operation. If either the <code>DELETE</code> or the <code>CREATE</code> action fails, then both changes (plus any other changes in the batch) fail, and the original <code>CNAME</code> record continues to exist.</p> <important> <p>Due to the nature of transactional changes, you can''t delete the same resource record set more than once in a single change batch. If you attempt to delete the same change batch more than once, Amazon Route 53 returns an <code>InvalidChangeBatch</code> error.</p> </important> <p> <b>Traffic Flow</b> </p> <p>To create resource record sets for complex routing configurations, use either the traffic flow visual editor in the Amazon Route 53 console or the API actions for traffic policies and traffic policy instances. Save the configuration as a traffic policy, then associate the traffic policy with one or more domain names (such as example.com) or subdomain names (such as www.example.com), in the same hosted zone or in multiple hosted zones. You can roll back the updates if the new configuration isn''t performing as expected. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html">Using Traffic Flow to Route DNS Traffic</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p> <b>Create, Delete, and Upsert</b> </p> <p>Use <code>ChangeResourceRecordsSetsRequest</code> to perform the following actions:</p> <ul> <li> <p> <code>CREATE</code>: Creates a resource record set that has the specified values.</p> </li> <li> <p> <code>DELETE</code>: Deletes an existing resource record set that has the specified values.</p> </li> <li> <p> <code>UPSERT</code>: If a resource record set does not already exist, AWS creates it. If a resource set does exist, Amazon Route 53 updates it with the values in the request. </p> </li> </ul> <p> <b>Syntaxes for Creating, Updating, and Deleting Resource Record Sets</b> </p> <p>The syntax for a request depends on the type of resource record set that you want to create, delete, or update, such as weighted, alias, or failover. The XML elements in your request must appear in the order listed in the syntax. </p> <p>For an example for each type of resource record set, see "Examples."</p> <p>Don''t refer to the syntax in the "Parameter Syntax" section, which includes all of the elements for every kind of resource record set that you can create, delete, or update by using <code>ChangeResourceRecordSets</code>. </p> <p> <b>Change Propagation to Amazon Route 53 DNS Servers</b> </p> <p>When you submit a <code>ChangeResourceRecordSets</code> request, Amazon Route 53 propagates your changes to all of the Amazon Route 53 authoritative DNS servers. While your changes are propagating, <code>GetChange</code> returns a status of <code>PENDING</code>. When propagation is complete, <code>GetChange</code> returns a status of <code>INSYNC</code>. Changes generally propagate to all Amazon Route 53 name servers within 60 seconds. For more information, see <a>GetChange</a>.</p> <p> <b>Limits on ChangeResourceRecordSets Requests</b> </p> <p>For information about the limits on a <code>ChangeResourceRecordSets</code> request, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ChangeResourceRecordSetsResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
        '482':
          description: InvalidChangeBatch
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidChangeBatch'
        '483':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '484':
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorRequestNotComplete'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeResourceRecordSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/tags/{ResourceType}/{ResourceId}':
    get:
      operationId: ListTagsForResource
      description: '<p>Lists tags for one health check or hosted zone. </p> <p>For information about using tags for cost allocation, see <a href="http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTagsForResourceResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
        '482':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '483':
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorRequestNotComplete'
        '484':
          description: ThrottlingException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
      parameters:
        - name: ResourceType
          in: path
          required: true
          schema:
            type: string
        - name: ResourceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTagsForResourceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/healthcheck:
    get:
      operationId: ListHealthChecks
      description: 'Retrieve a list of the health checks that are associated with the current AWS account. '
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListHealthChecksResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: IncompatibleVersion
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/IncompatibleVersion'
      parameters:
        - name: MaxItems
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListHealthChecksRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/hostedzone:
    get:
      operationId: ListHostedZones
      description: '<p>Retrieves a list of the public and private hosted zones that are associated with the current AWS account. The response includes a <code>HostedZones</code> child element for each hosted zone.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of hosted zones, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListHostedZonesResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchDelegationSet
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDelegationSet'
        '482':
          description: DelegationSetNotReusable
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotReusable'
      parameters:
        - name: MaxItems
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: Marker
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListHostedZonesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/delegationset:
    get:
      operationId: ListReusableDelegationSets
      description: Retrieves a list of the reusable delegation sets that are associated with the current AWS account.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListReusableDelegationSetsResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListReusableDelegationSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicy:
    post:
      operationId: CreateTrafficPolicy
      description: 'Creates a traffic policy, which you use to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).'
      responses:
        '201':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateTrafficPolicyResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: TooManyTrafficPolicies
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TooManyTrafficPolicies'
        '482':
          description: TrafficPolicyAlreadyExists
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TrafficPolicyAlreadyExists'
        '483':
          description: InvalidTrafficPolicyDocument
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidTrafficPolicyDocument'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateTrafficPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicyinstance:
    post:
      operationId: CreateTrafficPolicyInstance
      description: 'Creates resource record sets in a specified hosted zone based on the settings in a specified traffic policy version. In addition, <code>CreateTrafficPolicyInstance</code> associates the resource record sets with a specified domain name (such as example.com) or subdomain name (such as www.example.com). Amazon Route 53 responds to DNS queries for the domain or subdomain name by using the resource record sets that <code>CreateTrafficPolicyInstance</code> created.'
      responses:
        '201':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateTrafficPolicyInstanceResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '482':
          description: TooManyTrafficPolicyInstances
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TooManyTrafficPolicyInstances'
        '483':
          description: NoSuchTrafficPolicy
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicy'
        '484':
          description: TrafficPolicyInstanceAlreadyExists
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TrafficPolicyInstanceAlreadyExists'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateTrafficPolicyInstanceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/trafficpolicy/{Id}':
    post:
      operationId: CreateTrafficPolicyVersion
      description: 'Creates a new version of an existing traffic policy. When you create a new version of a traffic policy, you specify the ID of the traffic policy that you want to update and a JSON-formatted document that describes the new version. You use traffic policies to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com). You can create a maximum of 1000 versions of a traffic policy. If you reach the limit and need to create another version, you''ll need to start a new traffic policy.'
      responses:
        '201':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateTrafficPolicyVersionResponse'
        '480':
          description: NoSuchTrafficPolicy
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicy'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '482':
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModification'
        '483':
          description: InvalidTrafficPolicyDocument
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidTrafficPolicyDocument'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateTrafficPolicyVersionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/hostedzone/{Id}/authorizevpcassociation':
    get:
      operationId: ListVPCAssociationAuthorizations
      description: <p>Gets a list of the VPCs that were created by other accounts and that can be associated with a specified hosted zone because you've submitted one or more <code>CreateVPCAssociationAuthorization</code> requests. </p> <p>The response includes a <code>VPCs</code> element with a <code>VPC</code> child element for each VPC that can be associated with the hosted zone.</p>
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListVPCAssociationAuthorizationsResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '482':
          description: InvalidPaginationToken
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListVPCAssociationAuthorizationsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/healthcheck/{HealthCheckId}':
    post:
      operationId: UpdateHealthCheck
      description: '<p>Updates an existing health check. Note that some values can''t be updated. </p> <p>For more information about updating health checks, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/health-checks-creating-deleting.html">Creating, Updating, and Deleting Health Checks</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateHealthCheckResponse'
        '480':
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '482':
          description: HealthCheckVersionMismatch
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/HealthCheckVersionMismatch'
      parameters:
        - name: HealthCheckId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateHealthCheckRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/hostedzone/{Id}':
    post:
      operationId: UpdateHostedZoneComment
      description: Updates the comment for a specified hosted zone.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateHostedZoneCommentResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateHostedZoneCommentRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/delegationset/{Id}':
    get:
      operationId: GetReusableDelegationSet
      description: 'Retrieves information about a specified reusable delegation set, including the four name servers that are assigned to the delegation set.'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetReusableDelegationSetResponse'
        '480':
          description: NoSuchDelegationSet
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchDelegationSet'
        '481':
          description: DelegationSetNotReusable
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DelegationSetNotReusable'
        '482':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetReusableDelegationSetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/trafficpolicy/{Id}/{Version}':
    post:
      operationId: UpdateTrafficPolicyComment
      description: Updates the comment for a specified traffic policy version.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateTrafficPolicyCommentResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchTrafficPolicy
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicy'
        '482':
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModification'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
        - name: Version
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateTrafficPolicyCommentRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/trafficpolicyinstance/{Id}':
    post:
      operationId: UpdateTrafficPolicyInstance
      description: '<p>Updates the resource record sets in a specified hosted zone that were created based on the settings in a specified traffic policy version.</p> <p>When you update a traffic policy instance, Amazon Route 53 continues to respond to DNS queries for the root resource record set name (such as example.com) while it replaces one group of resource record sets with another. Amazon Route 53 performs the following operations:</p> <ol> <li> <p>Amazon Route 53 creates a new group of resource record sets based on the specified traffic policy. This is true regardless of how significant the differences are between the existing resource record sets and the new resource record sets. </p> </li> <li> <p>When all of the new resource record sets have been created, Amazon Route 53 starts to respond to DNS queries for the root resource record set name (such as example.com) by using the new resource record sets.</p> </li> <li> <p>Amazon Route 53 deletes the old group of resource record sets that are associated with the root resource record set name.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateTrafficPolicyInstanceResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchTrafficPolicy
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicy'
        '482':
          description: NoSuchTrafficPolicyInstance
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicyInstance'
        '483':
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorRequestNotComplete'
        '484':
          description: ConflictingTypes
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConflictingTypes'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateTrafficPolicyInstanceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/hostedzone/{Id}/deauthorizevpcassociation':
    post:
      operationId: DeleteVPCAssociationAuthorization
      description: '<p>Removes authorization to submit an <code>AssociateVPCWithHostedZone</code> request to associate a specified VPC with a hosted zone that was created by a different account. You must use the account that created the hosted zone to submit a <code>DeleteVPCAssociationAuthorization</code> request.</p> <important> <p>Sending this request only prevents the AWS account that created the VPC from associating the VPC with the Amazon Route 53 hosted zone in the future. If the VPC is already associated with the hosted zone, <code>DeleteVPCAssociationAuthorization</code> won''t disassociate the VPC from the hosted zone. If you want to delete an existing association, use <code>DisassociateVPCFromHostedZone</code>.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DeleteVPCAssociationAuthorizationResponse'
        '480':
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ConcurrentModification'
        '481':
          description: VPCAssociationAuthorizationNotFound
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/VPCAssociationAuthorizationNotFound'
        '482':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '483':
          description: InvalidVPCId
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVPCId'
        '484':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/DeleteVPCAssociationAuthorizationRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/hostedzone/{Id}/disassociatevpc':
    post:
      operationId: DisassociateVPCFromHostedZone
      description: <p>Disassociates a VPC from a Amazon Route 53 private hosted zone. </p> <note> <p>You can't disassociate the last VPC from a private hosted zone.</p> </note> <important> <p>You can't disassociate a VPC from a private hosted zone when only one VPC is associated with the hosted zone. You also can't convert a private hosted zone into a public hosted zone.</p> </important>
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/DisassociateVPCFromHostedZoneResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: InvalidVPCId
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVPCId'
        '482':
          description: VPCAssociationNotFound
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/VPCAssociationNotFound'
        '483':
          description: LastVPCAssociation
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LastVPCAssociation'
        '484':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/DisassociateVPCFromHostedZoneRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/change/{Id}':
    get:
      operationId: GetChange
      description: '<p>Returns the current status of a change batch request. The status is one of the following values:</p> <ul> <li> <p> <code>PENDING</code> indicates that the changes in this request have not propagated to all Amazon Route 53 DNS servers. This is the initial status of all change batch requests.</p> </li> <li> <p> <code>INSYNC</code> indicates that the changes have propagated to all Amazon Route 53 DNS servers. </p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetChangeResponse'
        '480':
          description: NoSuchChange
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchChange'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      x-waiters:
        - delay: 30
          maxAttempts: 60
          operation: GetChange
          acceptors:
            - matcher: path
              expected: INSYNC
              argument: ChangeInfo.Status
              state: success
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetChangeRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/checkeripranges:
    get:
      operationId: GetCheckerIpRanges
      description: ' <code>GetCheckerIpRanges</code> still works, but we recommend that you download ip-ranges.json, which includes IP address ranges for all AWS services. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/route-53-ip-addresses.html">IP Address Ranges of Amazon Route 53 Servers</a> in the <i>Amazon Route 53 Developer Guide</i>.'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetCheckerIpRangesResponse'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetCheckerIpRangesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/geolocation:
    get:
      operationId: GetGeoLocation
      description: '<p>Gets information about whether a specified geographic location is supported for Amazon Route 53 geolocation resource record sets.</p> <p>Use the following syntax to determine whether a continent is supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?ContinentCode=<i>two-letter abbreviation for a continent</i> </code> </p> <p>Use the following syntax to determine whether a country is supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?CountryCode=<i>two-character country code</i> </code> </p> <p>Use the following syntax to determine whether a subdivision of a country is supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?CountryCode=<i>two-character country code</i>&amp;SubdivisionCode=<i>subdivision code</i> </code> </p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetGeoLocationResponse'
        '480':
          description: NoSuchGeoLocation
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchGeoLocation'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetGeoLocationRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/healthcheckcount:
    get:
      operationId: GetHealthCheckCount
      description: Retrieves the number of health checks that are associated with the current AWS account.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckCountResponse'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetHealthCheckCountRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/healthcheck/{HealthCheckId}/lastfailurereason':
    get:
      operationId: GetHealthCheckLastFailureReason
      description: Gets the reason that a specified health check failed most recently.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckLastFailureReasonResponse'
        '480':
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: HealthCheckId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetHealthCheckLastFailureReasonRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/healthcheck/{HealthCheckId}/status':
    get:
      operationId: GetHealthCheckStatus
      description: 'Gets status of a specified health check. '
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckStatusResponse'
        '480':
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: HealthCheckId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetHealthCheckStatusRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/hostedzonecount:
    get:
      operationId: GetHostedZoneCount
      description: Retrieves the number of hosted zones that are associated with the current AWS account.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetHostedZoneCountResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetHostedZoneCountRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicyinstancecount:
    get:
      operationId: GetTrafficPolicyInstanceCount
      description: Gets the number of traffic policy instances that are associated with the current AWS account.
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetTrafficPolicyInstanceCountResponse'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetTrafficPolicyInstanceCountRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/geolocations:
    get:
      operationId: ListGeoLocations
      description: '<p>Retrieves a list of supported geo locations.</p> <p>Countries are listed first, and continents are listed last. If Amazon Route 53 supports subdivisions for a country (for example, states or provinces), the subdivisions for that country are listed in alphabetical order immediately after the corresponding country.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListGeoLocationsResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListGeoLocationsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/hostedzonesbyname:
    get:
      operationId: ListHostedZonesByName
      description: '<p>Retrieves a list of your hosted zones in lexicographic order. The response includes a <code>HostedZones</code> child element for each hosted zone created by the current AWS account. </p> <p> <code>ListHostedZonesByName</code> sorts hosted zones by name with the labels reversed. For example:</p> <p> <code>com.example.www.</code> </p> <p>Note the trailing dot, which can change the sort order in some circumstances.</p> <p>If the domain name includes escape characters or Punycode, <code>ListHostedZonesByName</code> alphabetizes the domain name using the escaped or Punycoded value, which is the format that Amazon Route 53 saves in its database. For example, to create a hosted zone for exämple.com, you specify ex\344mple.com for the domain name. <code>ListHostedZonesByName</code> alphabetizes it as:</p> <p> <code>com.ex\344mple.</code> </p> <p>The labels are reversed and alphabetized using the escaped value. For more information about valid domain name formats, including internationalized domain names, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Amazon Route 53 returns up to 100 items in each response. If you have a lot of hosted zones, use the <code>MaxItems</code> parameter to list them in groups of up to 100. The response includes values that help navigate from one group of <code>MaxItems</code> hosted zones to the next:</p> <ul> <li> <p>The <code>DNSName</code> and <code>HostedZoneId</code> elements in the response contain the values, if any, specified for the <code>dnsname</code> and <code>hostedzoneid</code> parameters in the request that produced the current response.</p> </li> <li> <p>The <code>MaxItems</code> element in the response contains the value, if any, that you specified for the <code>maxitems</code> parameter in the request that produced the current response.</p> </li> <li> <p>If the value of <code>IsTruncated</code> in the response is true, there are more hosted zones associated with the current AWS account. </p> <p>If <code>IsTruncated</code> is false, this response includes the last hosted zone that is associated with the current account. The <code>NextDNSName</code> element and <code>NextHostedZoneId</code> elements are omitted from the response.</p> </li> <li> <p>The <code>NextDNSName</code> and <code>NextHostedZoneId</code> elements in the response contain the domain name and the hosted zone ID of the next hosted zone that is associated with the current AWS account. If you want to list more hosted zones, make another call to <code>ListHostedZonesByName</code>, and specify the value of <code>NextDNSName</code> and <code>NextHostedZoneId</code> in the <code>dnsname</code> and <code>hostedzoneid</code> parameters, respectively.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListHostedZonesByNameResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: InvalidDomainName
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidDomainName'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListHostedZonesByNameRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/hostedzone/{Id}/rrset':
    get:
      operationId: ListResourceRecordSets
      description: '<p>Lists the resource record sets in a specified hosted zone.</p> <p> <code>ListResourceRecordSets</code> returns up to 100 resource record sets at a time in ASCII order, beginning at a position specified by the <code>name</code> and <code>type</code> elements. The action sorts results first by DNS name with the labels reversed, for example:</p> <p> <code>com.example.www.</code> </p> <p>Note the trailing dot, which can change the sort order in some circumstances.</p> <p>When multiple records have the same DNS name, the action sorts results by the record type.</p> <p>You can use the name and type elements to adjust the beginning position of the list of resource record sets returned:</p> <dl> <dt>If you do not specify Name or Type</dt> <dd> <p>The results begin with the first resource record set that the hosted zone contains.</p> </dd> <dt>If you specify Name but not Type</dt> <dd> <p>The results begin with the first resource record set in the list whose name is greater than or equal to <code>Name</code>.</p> </dd> <dt>If you specify Type but not Name</dt> <dd> <p>Amazon Route 53 returns the <code>InvalidInput</code> error.</p> </dd> <dt>If you specify both Name and Type</dt> <dd> <p>The results begin with the first resource record set in the list whose name is greater than or equal to <code>Name</code>, and whose type is greater than or equal to <code>Type</code>.</p> </dd> </dl> <p>This action returns the most current version of the records. This includes records that are <code>PENDING</code>, and that are not yet available on all Amazon Route 53 DNS servers.</p> <p>To ensure that you get an accurate listing of the resource record sets for a hosted zone at a point in time, do not submit a <code>ChangeResourceRecordSets</code> request while you''re paging through the results of a <code>ListResourceRecordSets</code> request. If you do, some pages may display results without the latest changes while other pages display results with the latest changes.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResourceRecordSetsResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      parameters:
        - name: MaxItems
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: StartRecordName
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
        - name: StartRecordType
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
        - name: StartRecordIdentifier
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListResourceRecordSetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/tags/{ResourceType}':
    post:
      operationId: ListTagsForResources
      description: '<p>Lists tags for up to 10 health checks or hosted zones.</p> <p>For information about using tags for cost allocation, see <a href="http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTagsForResourcesResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHealthCheck'
        '482':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '483':
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorRequestNotComplete'
        '484':
          description: ThrottlingException
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ThrottlingException'
      parameters:
        - name: ResourceType
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTagsForResourcesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicies:
    get:
      operationId: ListTrafficPolicies
      description: 'Gets information about the latest version for every traffic policy that is associated with the current AWS account. Policies are listed in the order in which they were created. '
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTrafficPoliciesResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTrafficPoliciesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicyinstances:
    get:
      operationId: ListTrafficPolicyInstances
      description: '<p>Gets information about the traffic policy instances that you created by using the current AWS account.</p> <note> <p>After you submit an <code>UpdateTrafficPolicyInstance</code> request, there''s a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTrafficPolicyInstancesResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchTrafficPolicyInstance
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicyInstance'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTrafficPolicyInstancesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicyinstances/hostedzone:
    get:
      operationId: ListTrafficPolicyInstancesByHostedZone
      description: '<p>Gets information about the traffic policy instances that you created in a specified hosted zone.</p> <note> <p>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there''s a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTrafficPolicyInstancesByHostedZoneResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchTrafficPolicyInstance
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicyInstance'
        '482':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTrafficPolicyInstancesByHostedZoneRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/trafficpolicyinstances/trafficpolicy:
    get:
      operationId: ListTrafficPolicyInstancesByPolicy
      description: '<p>Gets information about the traffic policy instances that you created by using a specify traffic policy version.</p> <note> <p>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there''s a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>'
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTrafficPolicyInstancesByPolicyResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchTrafficPolicyInstance
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicyInstance'
        '482':
          description: NoSuchTrafficPolicy
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicy'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTrafficPolicyInstancesByPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/2013-04-01/trafficpolicies/{Id}/versions':
    get:
      operationId: ListTrafficPolicyVersions
      description: <p>Gets information about all of the versions for a specified traffic policy.</p> <p>Traffic policy versions are listed in numerical order by <code>VersionNumber</code>.</p>
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListTrafficPolicyVersionsResponse'
        '480':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '481':
          description: NoSuchTrafficPolicy
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchTrafficPolicy'
      parameters:
        - name: Id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListTrafficPolicyVersionsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  /2013-04-01/testdnsanswer:
    get:
      operationId: TestDNSAnswer
      description: 'Gets the value that Amazon Route 53 returns in response to a DNS request for a specified record name and type. You can optionally specify the IP address of a DNS resolver, an EDNS0 client subnet IP address, and a subnet mask. '
      responses:
        '200':
          description: Success
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TestDNSAnswerResponse'
        '480':
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchHostedZone'
        '481':
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidInput'
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/TestDNSAnswerRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AlarmIdentifier:
      type: object
      required:
        - Region
        - Name
      properties:
        Region:
          $ref: '#/components/schemas/CloudWatchRegion'
        Name:
          $ref: '#/components/schemas/AlarmName'
      description: A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy.
    AlarmName:
      type: string
      minLength: 1
      maxLength: 256
    AliasHealthEnabled:
      type: boolean
    AliasTarget:
      type: object
      required:
        - HostedZoneId
        - DNSName
        - EvaluateTargetHealth
      properties:
        HostedZoneId:
          $ref: '#/components/schemas/ResourceId'
        DNSName:
          $ref: '#/components/schemas/DNSName'
        EvaluateTargetHealth:
          $ref: '#/components/schemas/AliasHealthEnabled'
      description: '<p> <i>Alias resource record sets only:</i> Information about the CloudFront distribution, Elastic Beanstalk environment, ELB load balancer, Amazon S3 bucket, or Amazon Route 53 resource record set that you''re redirecting queries to. An Elastic Beanstalk environment must have a regionalized subdomain.</p> <p>When creating resource record sets for a private hosted zone, note the following:</p> <ul> <li> <p>Resource record sets can''t be created for CloudFront distributions in a private hosted zone.</p> </li> <li> <p>Creating geolocation alias resource record sets or latency alias resource record sets in a private hosted zone is unsupported.</p> </li> <li> <p>For information about creating failover resource record sets in a private hosted zone, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html">Configuring Failover in a Private Hosted Zone</a>.</p> </li> </ul>'
    AssociateVPCComment:
      type: string
    AssociateVPCWithHostedZoneRequest:
      type: object
      required:
        - VPC
      example:
        Comment: ''
        HostedZoneId: Z3M3LMPEXAMPLE
        VPC:
          VPCId: vpc-1a2b3c4d
          VPCRegion: us-east-2
      properties:
        VPC:
          $ref: '#/components/schemas/VPC'
        Comment:
          $ref: '#/components/schemas/AssociateVPCComment'
      description: A complex type that contains information about the request to associate a VPC with a private hosted zone.
    AssociateVPCWithHostedZoneResponse:
      type: object
      required:
        - ChangeInfo
      example:
        ChangeInfo:
          Comment: ''
          Id: /change/C3HC6WDB2UANE2
          Status: INSYNC
          SubmittedAt: '2017-01-31T01:36:41.958Z'
      properties:
        ChangeInfo:
          $ref: '#/components/schemas/ChangeInfo'
      description: A complex type that contains the response information for the <code>AssociateVPCWithHostedZone</code> request.
    Change:
      type: object
      required:
        - Action
        - ResourceRecordSet
      properties:
        Action:
          $ref: '#/components/schemas/ChangeAction'
        ResourceRecordSet:
          $ref: '#/components/schemas/ResourceRecordSet'
      description: The information for each resource record set that you want to change.
    ChangeAction:
      type: string
      enum:
        - CREATE
        - DELETE
        - UPSERT
    ChangeBatch:
      type: object
      required:
        - Changes
      properties:
        Comment:
          $ref: '#/components/schemas/ResourceDescription'
        Changes:
          $ref: '#/components/schemas/Changes'
      description: The information for a change request.
    ChangeInfo:
      type: object
      required:
        - Id
        - Status
        - SubmittedAt
      properties:
        Id:
          $ref: '#/components/schemas/ResourceId'
        Status:
          $ref: '#/components/schemas/ChangeStatus'
        SubmittedAt:
          $ref: '#/components/schemas/TimeStamp'
        Comment:
          $ref: '#/components/schemas/ResourceDescription'
      description: A complex type that describes change information about changes made to your hosted zone.
    ChangeResourceRecordSetsRequest:
      type: object
      required:
        - ChangeBatch
      example:
        ChangeBatch:
          Changes:
            - Action: CREATE
              ResourceRecordSet:
                AliasTarget:
                  DNSName: 'example-com-123456789.us-east-2.elb.amazonaws.com '
                  EvaluateTargetHealth: true
                  HostedZoneId: Z3AADJGX6KTTL2
                GeoLocation:
                  ContinentCode: NA
                Name: example.com
                SetIdentifier: North America
                Type: A
            - Action: CREATE
              ResourceRecordSet:
                AliasTarget:
                  DNSName: 'example-com-234567890.sa-east-1.elb.amazonaws.com '
                  EvaluateTargetHealth: true
                  HostedZoneId: Z2P70J7HTTTPLU
                GeoLocation:
                  ContinentCode: SA
                Name: example.com
                SetIdentifier: South America
                Type: A
            - Action: CREATE
              ResourceRecordSet:
                AliasTarget:
                  DNSName: 'example-com-234567890.eu-central-1.elb.amazonaws.com '
                  EvaluateTargetHealth: true
                  HostedZoneId: Z215JYRZR1TBD5
                GeoLocation:
                  ContinentCode: EU
                Name: example.com
                SetIdentifier: Europe
                Type: A
            - Action: CREATE
              ResourceRecordSet:
                AliasTarget:
                  DNSName: 'example-com-234567890.ap-southeast-1.elb.amazonaws.com '
                  EvaluateTargetHealth: true
                  HostedZoneId: Z1LMS91P8CMLE5
                GeoLocation:
                  CountryCode: '*'
                Name: example.com
                SetIdentifier: Other locations
                Type: A
          Comment: Geolocation alias configuration for example.com
        HostedZoneId: Z3M3LMPEXAMPLE
      properties:
        ChangeBatch:
          $ref: '#/components/schemas/ChangeBatch'
      description: A complex type that contains change information for the resource record set.
    ChangeResourceRecordSetsResponse:
      type: object
      required:
        - ChangeInfo
      example:
        ChangeInfo:
          Comment: Geolocation alias configuration for example.com
          Id: /change/C2682N5HXP0BZ4
          Status: PENDING
          SubmittedAt: '2017-02-10T01:36:41.958Z'
      properties:
        ChangeInfo:
          $ref: '#/components/schemas/ChangeInfo'
      description: A complex type containing the response for the request.
    ChangeStatus:
      type: string
      enum:
        - PENDING
        - INSYNC
    ChangeTagsForResourceRequest:
      type: object
      example:
        AddTags:
          - Key: apex
            Value: '3874'
          - Key: acme
            Value: '4938'
        RemoveTagKeys:
          - Nadir
        ResourceId: Z3M3LMPEXAMPLE
        ResourceType: hostedzone
      properties:
        AddTags:
          $ref: '#/components/schemas/TagList'
        RemoveTagKeys:
          $ref: '#/components/schemas/TagKeyList'
      description: 'A complex type that contains information about the tags that you want to add, edit, or delete.'
    ChangeTagsForResourceResponse:
      type: object
      example: {}
      properties: {}
      description: Empty response for the request.
    Changes:
      type: array
      items:
        $ref: '#/components/schemas/Change'
      minItems: 1
    CheckerIpRanges:
      type: array
      items:
        $ref: '#/components/schemas/IPAddressCidr'
    ChildHealthCheckList:
      type: array
      items:
        $ref: '#/components/schemas/HealthCheckId'
      maxItems: 256
    CloudWatchAlarmConfiguration:
      type: object
      required:
        - EvaluationPeriods
        - Threshold
        - ComparisonOperator
        - Period
        - MetricName
        - Namespace
        - Statistic
      properties:
        EvaluationPeriods:
          $ref: '#/components/schemas/EvaluationPeriods'
        Threshold:
          $ref: '#/components/schemas/Threshold'
        ComparisonOperator:
          $ref: '#/components/schemas/ComparisonOperator'
        Period:
          $ref: '#/components/schemas/Period'
        MetricName:
          $ref: '#/components/schemas/MetricName'
        Namespace:
          $ref: '#/components/schemas/Namespace'
        Statistic:
          $ref: '#/components/schemas/Statistic'
        Dimensions:
          $ref: '#/components/schemas/DimensionList'
      description: A complex type that contains information about the CloudWatch alarm that Amazon Route 53 is monitoring for this health check.
    CloudWatchRegion:
      type: string
      enum:
        - us-east-1
        - us-east-2
        - us-west-1
        - us-west-2
        - ca-central-1
        - eu-central-1
        - eu-west-1
        - eu-west-2
        - ap-south-1
        - ap-southeast-1
        - ap-southeast-2
        - ap-northeast-1
        - ap-northeast-2
        - sa-east-1
      minLength: 1
      maxLength: 64
    ComparisonOperator:
      type: string
      enum:
        - GreaterThanOrEqualToThreshold
        - GreaterThanThreshold
        - LessThanThreshold
        - LessThanOrEqualToThreshold
    ConcurrentModification:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: 'Another user submitted a request to update the object at the same time that you did. Retry the request. '
    ConflictingDomainExists:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: '<p>The cause of this error depends on whether you''re trying to create a public or a private hosted zone:</p> <ul> <li> <p> <b>Public hosted zone:</b> Two hosted zones that have the same name or that have a parent/child relationship (example.com and test.example.com) can''t have any common name servers. You tried to create a hosted zone that has the same name as an existing hosted zone or that''s the parent or child of an existing hosted zone, and you specified a delegation set that shares one or more name servers with the existing hosted zone. </p> </li> <li> <p> <b>Private hosted zone:</b> You specified an Amazon VPC that you''re already using for another hosted zone, and the domain that you specified for one of the hosted zones is a subdomain of the domain that you specified for the other hosted zone. For example, you can''t use the same Amazon VPC for the hosted zones for example.com and test.example.com.</p> </li> </ul>'
    ConflictingTypes:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: 'You tried to update a traffic policy instance by using a traffic policy version that has a different DNS type than the current type for the instance. You specified the type in the JSON document in the <code>CreateTrafficPolicy</code> or <code>CreateTrafficPolicyVersion</code>request. '
    CreateHealthCheckRequest:
      type: object
      required:
        - CallerReference
        - HealthCheckConfig
      properties:
        CallerReference:
          $ref: '#/components/schemas/HealthCheckNonce'
        HealthCheckConfig:
          $ref: '#/components/schemas/HealthCheckConfig'
      description: A complex type that contains the health check request information.
    CreateHealthCheckResponse:
      type: object
      required:
        - HealthCheck
      properties:
        HealthCheck:
          $ref: '#/components/schemas/HealthCheck'
      description: A complex type containing the response information for the new health check.
    CreateHostedZoneRequest:
      type: object
      required:
        - Name
        - CallerReference
      properties:
        Name:
          $ref: '#/components/schemas/DNSName'
        VPC:
          $ref: '#/components/schemas/VPC'
        CallerReference:
          $ref: '#/components/schemas/Nonce'
        HostedZoneConfig:
          $ref: '#/components/schemas/HostedZoneConfig'
        DelegationSetId:
          $ref: '#/components/schemas/ResourceId'
      description: A complex type that contains information about the request to create a hosted zone.
    CreateHostedZoneResponse:
      type: object
      required:
        - HostedZone
        - ChangeInfo
        - DelegationSet
      properties:
        HostedZone:
          $ref: '#/components/schemas/HostedZone'
        ChangeInfo:
          $ref: '#/components/schemas/ChangeInfo'
        DelegationSet:
          $ref: '#/components/schemas/DelegationSet'
        VPC:
          $ref: '#/components/schemas/VPC'
      description: A complex type containing the response information for the hosted zone.
    CreateReusableDelegationSetRequest:
      type: object
      required:
        - CallerReference
      properties:
        CallerReference:
          $ref: '#/components/schemas/Nonce'
        HostedZoneId:
          $ref: '#/components/schemas/ResourceId'
    CreateReusableDelegationSetResponse:
      type: object
      required:
        - DelegationSet
      properties:
        DelegationSet:
          $ref: '#/components/schemas/DelegationSet'
    CreateTrafficPolicyInstanceRequest:
      type: object
      required:
        - HostedZoneId
        - Name
        - TTL
        - TrafficPolicyId
        - TrafficPolicyVersion
      properties:
        HostedZoneId:
          $ref: '#/components/schemas/ResourceId'
        Name:
          $ref: '#/components/schemas/DNSName'
        TTL:
          $ref: '#/components/schemas/TTL'
        TrafficPolicyId:
          $ref: '#/components/schemas/TrafficPolicyId'
        TrafficPolicyVersion:
          $ref: '#/components/schemas/TrafficPolicyVersion'
      description: A complex type that contains information about the resource record sets that you want to create based on a specified traffic policy.
    CreateTrafficPolicyInstanceResponse:
      type: object
      required:
        - TrafficPolicyInstance
      properties:
        TrafficPolicyInstance:
          $ref: '#/components/schemas/TrafficPolicyInstance'
      description: A complex type that contains the response information for the <code>CreateTrafficPolicyInstance</code> request.
    CreateTrafficPolicyRequest:
      type: object
      required:
        - Name
        - Document
      properties:
        Name:
          $ref: '#/components/schemas/TrafficPolicyName'
        Document:
          $ref: '#/components/schemas/TrafficPolicyDocument'
        Comment:
          $ref: '#/components/schemas/TrafficPolicyComment'
      description: A complex type that contains information about the traffic policy that you want to create.
    CreateTrafficPolicyResponse:
      type: object
      required:
        - TrafficPolicy
      properties:
        TrafficPolicy:
          $ref: '#/components/schemas/TrafficPolicy'
      description: A complex type that contains the response information for the <code>CreateTrafficPolicy</code> request.
    CreateTrafficPolicyVersionRequest:
      type: object
      required:
        - Document
      properties:
        Document:
          $ref: '#/components/schemas/TrafficPolicyDocument'
        Comment:
          $ref: '#/components/schemas/TrafficPolicyComment'
      description: A complex type that contains information about the traffic policy that you want to create a new version for.
    CreateTrafficPolicyVersionResponse:
      type: object
      required:
        - TrafficPolicy
      properties:
        TrafficPolicy:
          $ref: '#/components/schemas/TrafficPolicy'
      description: A complex type that contains the response information for the <code>CreateTrafficPolicyVersion</code> request.
    CreateVPCAssociationAuthorizationRequest:
      type: object
      required:
        - VPC
      properties:
        VPC:
          $ref: '#/components/schemas/VPC'
      description: A complex type that contains information about the request to authorize associating a VPC with your private hosted zone. Authorization is only required when a private hosted zone and a VPC were created by using different accounts.
    CreateVPCAssociationAuthorizationResponse:
      type: object
      required:
        - HostedZoneId
        - VPC
      properties:
        HostedZoneId:
          $ref: '#/components/schemas/ResourceId'
        VPC:
          $ref: '#/components/schemas/VPC'
      description: A complex type that contains the response information from a <code>CreateVPCAssociationAuthorization</code> request.
    DNSName:
      type: string
      maxLength: 1024
    DNSRCode:
      type: string
    DelegationSet:
      type: object
      required:
        - NameServers
      properties:
        Id:
          $ref: '#/components/schemas/ResourceId'
        CallerReference:
          $ref: '#/components/schemas/Nonce'
        NameServers:
          $ref: '#/components/schemas/DelegationSetNameServers'
      description: 'A complex type that lists the name servers in a delegation set, as well as the <code>CallerReference</code> and the <code>ID</code> for the delegation set.'
    DelegationSetAlreadyCreated:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: A delegation set with the same owner and caller reference combination has already been created.
    DelegationSetAlreadyReusable:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: The specified delegation set has already been marked as reusable.
    DelegationSetInUse:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: The specified delegation contains associated hosted zones which must be deleted before the reusable delegation set can be deleted.
    DelegationSetNameServers:
      type: array
      items:
        $ref: '#/components/schemas/DNSName'
      minItems: 1
    DelegationSetNotAvailable:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: 'You can create a hosted zone that has the same name as an existing hosted zone (example.com is common), but there is a limit to the number of hosted zones that have the same name. If you get this error, Amazon Route 53 has reached that limit. If you own the domain name and Amazon Route 53 generates this error, contact Customer Support.'
    DelegationSetNotReusable:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
      description: A reusable delegation set with the specified ID does not exist.
    DelegationSets:
      type: array
      items:
        $ref: '#/components/schemas/DelegationSet'
    DeleteHealthCheckRequest:
      type: object
      properties: {}
      description: This action deletes a health check.
    DeleteHealthCheckResponse:
      type: object
      properties: {}
      description: An empty element.
    DeleteHostedZoneRequest:
      type: object
      properties: {}
      description: A request to delete a hosted zone.
    DeleteHostedZoneResponse:
      type: object
      required:
        - ChangeInfo
      properties:
        ChangeInfo:
          $ref: '#/components/schemas/ChangeInfo'
      description: A complex type that contains the response to a <code>DeleteHostedZone</code> request.
    DeleteReusableDelegationSetRequest:
      type: object
      properties: {}
      description: A request to delete a reusable delegation set.
    DeleteReusableDelegationSetResponse:
      type: object
      properties: {}
      description: An empty element.
    DeleteTrafficPolicyInstanceRequest:
      type: object
      properties: {}
      description: A request to delete a specified traffic policy instance.
    DeleteTrafficPolicyInstanceResponse:
      type: object
      properties: {}
      description: An empty element.
    DeleteTrafficPolicyRequest:
      type: object
      properties: {}
      description: A request to delete a specified traffic policy version.
    DeleteTrafficPolicyResponse:
      type: object
      properties: {}
      description: An empty element.
    DeleteVPCAssociationAuthorizationRequest:
      type: object
      required:
        - VPC
      properties:
        VPC:
          $ref: '#/components/schemas/VPC'
      description: 'A complex type that contains information about the request to remove authorization to associate a VPC that was created by one AWS account with a hosted zone that was created with a different AWS account. '
    DeleteVPCAssociationAuthorizationResponse:
      type: object
      properties: {}
      description: Empty response for the request.
    Dimension:
      type: object
      required:
        - Name
        - Value
      properties:
        Name:
          $ref: '#/components/schemas/DimensionField'
        Value:
          $ref: '#/components/schemas/DimensionField'
      description: 'For the metric that the CloudWatch alarm is associated with, a complex type that contains information about one dimension.'
    DimensionField:
      type: string
      minLength: 1
      maxLength: 255
    DimensionList:
      type: array
      items:
        $ref: '#/components/schemas/Dimension'
      maxItems: 10
    DisassociateVPCComment:
      type: string
    DisassociateVPCFromHostedZoneRequest:
      type: object
[...]
