openapi: 3.0.0
servers:
  - url: 'https://api.figshare.com/v2'
info:
  description: Figshare apiv2. Using Swagger 2.0
  title: Figshare
  version: 2.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://user-images.githubusercontent.com/21603/27885832-5da28e32-61d1-11e7-8811-ed7238df2c20.png'
  x-origin:
    - format: swagger
      url: 'http://docs.figshare.com/swagger.json'
      version: '2.0'
  x-providerName: figshare.com
paths:
  /account:
    get:
      description: Account information for token/personal token
      operationId: private_account
      responses:
        '200':
          description: OK. Account representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account information
      tags:
        - other
  /account/articles:
    get:
      description: Get Own Articles
      operationId: private_articles_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 10
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
      responses:
        '200':
          description: OK. An array of articles belonging to the account
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Articles
      tags:
        - articles
    post:
      description: Create a new Article by sending article information
      operationId: private_article_create
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create new Article
      tags:
        - articles
      x-subcategory: Private Article
      requestBody:
        $ref: '#/components/requestBodies/ArticleCreate'
  /account/articles/search:
    post:
      description: Returns a list of private articles filtered by the search parameters
      operationId: private_articles_search
      responses:
        '200':
          description: OK. An array of articles
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Articles search
      tags:
        - articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateArticleSearch'
        description: Search Parameters
        required: true
  '/account/articles/{article_id}':
    delete:
      description: Delete an article
      operationId: private_article_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article
      tags:
        - articles
      x-subcategory: Private Article
    get:
      description: View a private article
      operationId: private_article_details
      responses:
        '200':
          description: OK. Article representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCompletePrivate'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article details
      tags:
        - articles
      x-subcategory: Private Article
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    put:
      description: Updating an article by passing body parameters
      operationId: private_article_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                type: string
                format: link
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article
      tags:
        - articles
      x-subcategory: Private Article
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdate'
        description: Article description
        required: true
  '/account/articles/{article_id}/authors':
    get:
      description: List article authors
      operationId: private_article_authors_list
      responses:
        '200':
          description: OK. Authors list for article
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Associate new authors with the article. This will add new authors to the list of already associated authors
      operationId: private_article_authors_add
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator'
    put:
      description: Associate new authors with the article. This will remove all already associated authors and add these new ones
      operationId: private_article_authors_replace
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                type: string
                format: url
        '400':
          description: Bad Request. Article ID must be an integer and bigger than 0. Author with ID Not Found.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator'
  '/account/articles/{article_id}/authors/{author_id}':
    delete:
      description: De-associate author from article
      operationId: private_article_author_delete
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Article Author unique identifier
          in: path
          name: author_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article author
      tags:
        - articles
      x-subcategory: Private Article Authors
  '/account/articles/{article_id}/categories':
    get:
      description: List article categories
      operationId: private_article_categories_list
      responses:
        '200':
          description: OK. Article categories
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Associate new categories with the article. This will add new categories to the list of already associated categories
      operationId: private_article_categories_add
      responses:
        '205':
          description: Reset Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator'
    put:
      description: Associate new categories with the article. This will remove all already associated categories and add these new ones
      operationId: private_article_categories_replace
      responses:
        '205':
          description: Reset Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator'
  '/account/articles/{article_id}/categories/{category_id}':
    delete:
      description: De-associate category from article
      operationId: private_article_category_delete
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Category unique identifier
          in: path
          name: category_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article category
      tags:
        - articles
      x-subcategory: Private Article Categories
  '/account/articles/{article_id}/confidentiality':
    delete:
      description: Delete confidentiality settings
      operationId: private_article_confidentiality_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article confidentiality
      tags:
        - articles
      x-subcategory: Private Article Confidentiality
    get:
      description: View confidentiality settings
      operationId: private_article_confidentiality_details
      responses:
        '200':
          description: OK. Article categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleConfidentiality'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article confidentiality details
      tags:
        - articles
      x-subcategory: Private Article Confidentiality
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    put:
      description: Update confidentiality settings
      operationId: private_article_confidentiality_update
      responses:
        '205':
          description: Reset Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article confidentiality
      tags:
        - articles
      x-subcategory: Private Article Confidentiality
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfidentialityCreator'
        required: true
  '/account/articles/{article_id}/embargo':
    delete:
      description: Will lift the embargo for the specified article
      operationId: private_article_embargo_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete Article Embargo
      tags:
        - articles
      x-subcategory: Private Article Embargo
    get:
      description: View a private article embargo details
      operationId: private_article_embargo_details
      responses:
        '200':
          description: OK. Embargo for article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleEmbargo'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article Embargo Details
      tags:
        - articles
      x-subcategory: Private Article Embargo
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    put:
      description: 'Note: setting an article under whole embargo does not imply that the article will be published when the embargo will expire. You must explicitly call the publish endpoint to enable this functionality.'
      operationId: private_article_embargo_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of embargo
              schema:
                type: string
                format: link
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update Article Embargo
      tags:
        - articles
      x-subcategory: Private Article Embargo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleEmbargoUpdater'
        description: Embargo description
        required: true
  '/account/articles/{article_id}/files':
    get:
      description: List private files
      operationId: private_article_files_list
      responses:
        '200':
          description: OK. Article files list
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateFile'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article files
      tags:
        - articles
      x-subcategory: Private Article Files
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: 'Initiate new file upload within the article. Either use link to provide only an existing file that will not be uploaded on figshare or use the other 3 parameters(md5, name, size)'
      operationId: private_article_upload_initiate
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of new file
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Initiate Upload
      tags:
        - articles
      x-subcategory: Private Article Files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCreator'
        required: true
  '/account/articles/{article_id}/files/{file_id}':
    delete:
      description: Complete file upload
      operationId: private_article_file_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: File Delete
      tags:
        - articles
      x-subcategory: Private Article Files
    get:
      description: View details of file for specified article
      operationId: private_article_file
      responses:
        '200':
          description: OK. Article private file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFile'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Single File
      tags:
        - articles
      x-subcategory: Private Article Files
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      - description: File unique identifier
        in: path
        name: file_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Complete file upload
      operationId: private_article_upload_complete
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Complete Upload
      tags:
        - articles
      x-subcategory: Private Article Files
  '/account/articles/{article_id}/private_links':
    get:
      description: List private links
      operationId: private_article_private_link
      responses:
        '200':
          description: OK. Article private links
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateLink'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List private links
      tags:
        - articles
      x-subcategory: Private Article Private Links
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Create new private link for this article
      operationId: private_article_private_link_create
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of private link
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
      requestBody:
        $ref: '#/components/requestBodies/PrivateLinkCreator'
  '/account/articles/{article_id}/private_links/{link_id}':
    delete:
      description: Disable/delete private link for this article
      operationId: private_article_private_link_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Disable private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
    parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      - description: Private link token
        in: path
        name: link_id
        required: true
        schema:
          type: string
    put:
      description: Update existing private link for this article
      operationId: private_article_private_link_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of private link
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
      requestBody:
        $ref: '#/components/requestBodies/PrivateLinkCreator'
  '/account/articles/{article_id}/publish':
    post:
      description: |-
        - If the whole article is under embargo, it will not be published immediatly, but when the embargo expires or is lifted.
        - When an article is published, a new public version will be generated. Any further updates to the article will affect the private article data. In order to make these changes publicly visible, an explicit publish operation is needed.
      operationId: private_article_publish
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of newly published article
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Publish
      tags:
        - articles
  '/account/articles/{article_id}/reserve_doi':
    post:
      description: Reserve DOI for article
      operationId: private_article_reserve_doi
      parameters:
        - description: Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleDOI'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Reserve DOI
      tags:
        - articles
  /account/authors/search:
    post:
      description: Search for authors
      operationId: private_authors_search
      responses:
        '200':
          description: OK. An array of authors
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Search Authors
      tags:
        - authors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateAuthorsSearch'
        description: Search Parameters
  '/account/authors/{author_id}':
    get:
      description: View author details
      operationId: private_author_details
      responses:
        '200':
          description: OK. Article representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorComplete'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Author details
      tags:
        - authors
    parameters:
      - description: Author unique identifier
        in: path
        name: author_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
  /account/categories:
    get:
      description: List institution categories (including parent Categories)
      operationId: private_categories_list
      responses:
        '200':
          description: OK. An array of categories
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Categories
      tags:
        - institutions
  /account/collections:
    get:
      description: List private collections
      operationId: private_collections_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 10
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The field by which to order. Default varies by endpoint/resource.
          in: query
          name: order
          required: false
          schema:
            type: string
            enum:
              - published_date
              - modified_date
              - views
              - shares
              - downloads
              - cites
            default: published_date
        - in: query
          name: order_direction
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: OK. An array of collections
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collections List
      tags:
        - collections
    post:
      description: Create a new Collection by sending collection information
      operationId: private_collection_create
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionComplete'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create collection
      tags:
        - collections
      x-subcategory: Private Collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreate'
        description: Collection description
        required: true
  /account/collections/search:
    post:
      description: Returns a list of private Collections
      operationId: private_collections_search
      responses:
        '200':
          description: OK. An array of collections
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collections Search
      tags:
        - collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCollectionSearch'
        description: Search Parameters
        required: true
  '/account/collections/{collection_id}':
    delete:
      description: Delete n collection
      operationId: private_collection_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection
      tags:
        - collections
      x-subcategory: Private Collection
    get:
      description: View a collection
      operationId: private_collection_details
      responses:
        '200':
          description: OK. Collection representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionComplete'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Collection details
      tags:
        - collections
      x-subcategory: Private Collection
    parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    put:
      description: Update collection details
      operationId: private_collection_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of collection
              schema:
                type: string
                format: link
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update collection
      tags:
        - collections
      x-subcategory: Private Collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdate'
        description: Collection description
        required: true
  '/account/collections/{collection_id}/articles':
    get:
      description: List collection articles
      operationId: private_collection_articles_list
      responses:
        '200':
          description: OK. Articles List
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Associate new articles with the collection. This will add new articles to the list of already associated articles
      operationId: private_collection_articles_add
      responses:
        '201':
          description: Reset Content
          headers:
            Location:
              description: Location of new articles
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticlesCreator'
        description: Articles list
        required: true
    put:
      description: Associate new articles with the collection. This will remove all already associated articles and add these new ones
      operationId: private_collection_articles_replace
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of articles
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticlesCreator'
        description: Articles List
        required: true
  '/account/collections/{collection_id}/articles/{article_id}':
    delete:
      description: De-associate article from collection
      operationId: private_collection_article_delete
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Collection article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection article
      tags:
        - collections
      x-subcategory: Private Collection Articles
  '/account/collections/{collection_id}/authors':
    get:
      description: List collection authors
      operationId: private_collection_authors_list
      responses:
        '200':
          description: OK. Embargo for article
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Associate new authors with the collection. This will add new authors to the list of already associated authors
      operationId: private_collection_authors_add
      responses:
        '201':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator2'
    put:
      description: Associate new authors with the collection. This will remove all already associated authors and add these new ones
      operationId: private_collection_authors_replace
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
      requestBody:
        $ref: '#/components/requestBodies/AuthorsCreator2'
  '/account/collections/{collection_id}/authors/{author_id}':
    delete:
      description: Delete collection author
      operationId: private_collection_author_delete
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Collection Author unique identifier
          in: path
          name: author_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection author
      tags:
        - collections
      x-subcategory: Private Collection Authors
  '/account/collections/{collection_id}/categories':
    get:
      description: List collection categories
      operationId: private_collection_categories_list
      responses:
        '200':
          description: OK. Categories list
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Associate new categories with the collection. This will add new categories to the list of already associated categories
      operationId: private_collection_categories_add
      responses:
        '201':
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator2'
    put:
      description: Associate new categories with the collection. This will remove all already associated categories and add these new ones
      operationId: private_collection_categories_replace
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
      requestBody:
        $ref: '#/components/requestBodies/CategoriesCreator2'
  '/account/collections/{collection_id}/categories/{category_id}':
    delete:
      description: De-associate category from collection
      operationId: private_collection_category_delete
      parameters:
        - description: Collection unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Collection category unique identifier
          in: path
          name: category_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection category
      tags:
        - collections
      x-subcategory: Private Collection Categories
  '/account/collections/{collection_id}/private_links':
    get:
      description: List article private links
      operationId: private_collection_private_links_list
      responses:
        '200':
          description: OK. Collection private links
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateLink'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection private links
      tags:
        - collections
      x-subcategory: Private Collection Private Links
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Create new private link
      operationId: private_collection_private_link_create
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of private link
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create collection private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
      requestBody:
        $ref: '#/components/requestBodies/CollectionPrivateLinkCreator'
  '/account/collections/{collection_id}/private_links/{link_id}':
    delete:
      description: Disable/delete private link for this collection
      operationId: private_collection_private_link_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Disable private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
    parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      - description: Private link token
        in: path
        name: link_id
        required: true
        schema:
          type: string
    put:
      description: Update existing private link for this collection
      operationId: private_collection_private_link_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of new private link
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update collection private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
      requestBody:
        $ref: '#/components/requestBodies/CollectionPrivateLinkCreator'
  '/account/collections/{collection_id}/publish':
    post:
      description: 'When a collection is published, a new public version will be generated. Any further updates to the collection will affect the private collection data. In order to make these changes publicly visible, an explicit publish operation is needed.'
      operationId: private_collection_publish
      parameters:
        - description: Collection Unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of collection
              schema:
                type: string
                format: link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Publish
      tags:
        - collections
  '/account/collections/{collection_id}/reserve_doi':
    post:
      description: Reserve DOI for collection
      operationId: private_collection_reserve_doi
      parameters:
        - description: Collection Unique identifier
          in: path
          name: collection_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleDOI'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Reserve DOI
      tags:
        - collections
  /account/institution:
    get:
      description: Account institution details
      operationId: private_institution_details
      responses:
        '200':
          description: OK. An array of institutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institutions
      tags:
        - institutions
  /account/institution/articles:
    get:
      description: Get Articles from own institution. User must be administrator of the institution
      operationId: private_institution_articles
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 10
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The field by which to order. Default varies by endpoint/resource.
          in: query
          name: order
          required: false
          schema:
            type: string
            enum:
              - published_date
              - modified_date
              - views
              - shares
              - downloads
              - cites
            default: published_date
        - in: query
          name: order_direction
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: published_since
          required: false
          schema:
            type: string
        - description: Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: modified_since
          required: false
          schema:
            type: string
        - description: only return collections with this status
          in: query
          name: status
          required: false
          schema:
            type: integer
            format: int64
        - description: only return collections with this resource_doi
          in: query
          name: resource_doi
          required: false
          schema:
            type: string
        - description: 'Only return collections with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 4 - Fileset, 5 - Poster, 6 - Paper, 7 - Presentation, 8 - Thesis, 9 - Code, 12 - Preprint'
          in: query
          name: item_type
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: OK. An array of articles belonging to the institution
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Institution Articles
      tags:
        - institutions
  /account/institution/groups:
    get:
      description: Returns the groups for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_groups_list
      responses:
        '200':
          description: OK. An array of Groups
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Groups
      tags:
        - institutions
  /account/licenses:
    get:
      description: This is a private endpoint that requires OAuth. It will return a list with figshare public licenses AND licenses defined for account's institution.
      operationId: private_licenses_list
      responses:
        '200':
          description: OK. An array of personal licenses
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/License'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Licenses
      tags:
        - other
  /account/projects:
    get:
      description: List private projects
      operationId: private_projects_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 10
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The field by which to order. Default varies by endpoint/resource.
          in: query
          name: order
          required: false
          schema:
            type: string
            enum:
              - published_date
              - modified_date
              - views
              - shares
              - downloads
              - cites
            default: published_date
        - in: query
          name: order_direction
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: only return collections from this institution
          in: query
          name: storage
          required: false
          schema:
            type: string
            enum:
              - group
              - individual
        - description: 'Any combination of owner, collaborator, viewer separated by comma. Examples: "owner" or "owner,collaborator".'
          in: query
          name: roles
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK. An array of projects
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectPrivate'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Projects
      tags:
        - projects
    post:
      description: Create a new project
      operationId: private_project_create
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create project
      tags:
        - projects
      x-subcategory: Private Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
        description: Project  description
        required: true
  /account/projects/search:
    post:
      description: Search inside the private projects
      operationId: private_projects_search
      responses:
        '200':
          description: OK. An array of projects
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectPrivate'
                type: array
        '400':
          description: Bad Request
        '422':
          description: Bad Request
        '500':
          description: Internal Server Error
      security: []
      summary: Private Projects search
      tags:
        - projects
      requestBody:
        $ref: '#/components/requestBodies/CommonSearch'
  '/account/projects/{project_id}':
    delete:
      description: |
        A project can be deleted only if: - it is not public - it does not have public articles.

        When an individual project is deleted, all the articles are moved to my data of each owner.

        When a group project is deleted, all the articles and files are deleted as well. Only project owner, group admin and above can delete a project.
      operationId: private_project_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete project
      tags:
        - projects
      x-subcategory: Private Project
    get:
      description: View a private project
      operationId: private_project_details
      responses:
        '200':
          description: OK. Project representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCompletePrivate'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: View project details
      tags:
        - projects
      x-subcategory: Private Project
    parameters:
      - description: Project unique identifier
        in: path
        name: project_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    put:
      description: Updating an project by passing body parameters
      operationId: private_project_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of project
              schema:
                type: string
                format: link
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update project
      tags:
        - projects
      x-subcategory: Private Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
        description: Project description
        required: true
  '/account/projects/{project_id}/articles':
    get:
      description: List project articles
      operationId: private_project_articles_list
      responses:
        '200':
          description: OK. List of articles
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List project articles
      tags:
        - projects
      x-subcategory: Private Project Articles
    parameters:
      - description: Proejct unique identifier
        in: path
        name: project_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Create a new Article and associate it with this project
      operationId: private_project_articles_create
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of article
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create project article
      tags:
        - projects
      x-subcategory: Private Project Articles
      requestBody:
        $ref: '#/components/requestBodies/ArticleCreate'
  '/account/projects/{project_id}/articles/{article_id}':
    delete:
      description: Delete project article
      operationId: private_project_article_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete project article
      tags:
        - projects
      x-subcategory: Private Project Articles
    get:
      description: Project article details
      operationId: private_project_article_details
      responses:
        '200':
          description: OK. Article representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectArticle'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project article details
      tags:
        - projects
      x-subcategory: Private Project Articles
    parameters:
      - description: Project unique identifier
        in: path
        name: project_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      - description: Project Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
  '/account/projects/{project_id}/articles/{article_id}/files':
    get:
      description: List article files
      operationId: private_project_article_files
      parameters:
        - description: Project unique identifier
          in: path
          name: project_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Project Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: OK. List of files
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateFile'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project article list files
      tags:
        - projects
      x-subcategory: Private Project Articles
  '/account/projects/{project_id}/articles/{article_id}/files/{file_id}':
    get:
      description: Project article file details
      operationId: private_project_article_file
      parameters:
        - description: Project unique identifier
          in: path
          name: project_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: Project Article unique identifier
          in: path
          name: article_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: File unique identifier
          in: path
          name: file_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: OK. File representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFile'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project article file details
      tags:
        - projects
      x-subcategory: Private Project Articles
  '/account/projects/{project_id}/collaborators':
    get:
      description: List Project collaborators and invited users
      operationId: private_project_collaborators_list
      responses:
        '200':
          description: OK. List of Collaborators
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectCollaborator'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List project collaborators
      tags:
        - projects
      x-subcategory: Private Project Collaborators
    parameters:
      - description: Project unique identifier
        in: path
        name: project_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Invite users to collaborate on project or view the project
      operationId: private_project_collaborators_invite
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Invite project collaborators
      tags:
        - projects
      x-subcategory: Private Project Collaborators
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCollaboratorInvite'
        description: viewer or collaborator role. User user_id or email of user
        required: true
  '/account/projects/{project_id}/collaborators/{user_id}':
    delete:
      description: Remove project collaborator
      operationId: private_project_collaborator__Delete
      parameters:
        - description: Project unique identifier
          in: path
          name: project_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - description: User unique identifier
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Remove project collaborator
      tags:
        - projects
      x-subcategory: Private Project Collaborators
  '/account/projects/{project_id}/leave':
    post:
      description: 'Please note: project''s owner cannot leave the project.'
      operationId: private_project_leave
      parameters:
        - description: Project unique identifier
          in: path
          name: project_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Project Leave
      tags:
        - projects
      x-subcategory: Private Project Collaborators
  '/account/projects/{project_id}/notes':
    get:
      description: List project notes
      operationId: private_project_notes_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 10
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
      responses:
        '200':
          description: OK. List of project notes
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProjectNote'
                type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List project notes
      tags:
        - projects
      x-subcategory: Private Project Notes
    parameters:
      - description: Project unique identifier
        in: path
        name: project_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    post:
      description: Create a new project note
      operationId: private_project_notes_create
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location note
              schema:
                type: string
                format: url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create project note
      tags:
        - projects
      x-subcategory: Private Project Notes
      requestBody:
        $ref: '#/components/requestBodies/ProjectNoteCreate'
  '/account/projects/{project_id}/notes/{note_id}':
    delete:
      operationId: private_project_note_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete project note
      tags:
        - projects
      x-subcategory: Private Project Notes
    get:
      operationId: private_project_note
      responses:
        '200':
          description: OK. Note representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectNotePrivate'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project note details
      tags:
        - projects
      x-subcategory: Private Project Notes
    parameters:
      - description: Project unique identifier
        in: path
        name: project_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      - description: Note unique identifier
        in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
    put:
      operationId: private_project_note_update
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location note
              schema:
                type: string
                format: url
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update project note
      tags:
        - projects
      x-subcategory: Private Project Notes
      requestBody:
        $ref: '#/components/requestBodies/ProjectNoteCreate'
  '/account/projects/{project_id}/publish':
    post:
      description: Publish a project. Possible after all items inside it are public
      operationId: private_project_publish
      parameters:
        - description: Project unique identifier
          in: path
          name: project_id
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMessage'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Project Publish
      tags:
        - projects
  /articles:
    get:
      description: Returns a list of public articles
      operationId: articles_list
      parameters:
        - description: Page number. Used for pagination with page_size
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The number of results included on a page. Used for pagination with page
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 10
        - description: Number of results included on a page. Used for pagination with query
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 5000
        - description: The field by which to order. Default varies by endpoint/resource.
          in: query
          name: order
          required: false
          schema:
            type: string
            enum:
              - published_date
              - modified_date
              - views
              - shares
              - downloads
              - cites
            default: published_date
        - in: query
          name: order_direction
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: only return collections from this institution
          in: query
          name: institution
          required: false
          schema:
            type: integer
            format: int64
        - description: Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: published_since
          required: false
          schema:
            type: string
        - description: Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: modified_since
          required: false
          schema:
            type: string
        - description: only return collections from this group
          in: query
          name: group
          required: false
          schema:
            type: integer
            format: int64
        - description: only return collections with this resource_doi
          in: query
          name: resource_doi
          required: false
          schema:
            type: string
[...]
