swagger: '2.0'
schemes:
  - https
host: api.figshare.com
basePath: /v2
info:
  description: Figshare apiv2. Using Swagger 2.0
  title: Figshare
  version: 2.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://user-images.githubusercontent.com/21603/27885832-5da28e32-61d1-11e7-8811-ed7238df2c20.png'
  x-origin:
    - format: swagger
      url: 'http://docs.figshare.com/swagger.json'
      version: '2.0'
  x-providerName: figshare.com
produces:
  - application/json
securityDefinitions:
  OAuth2:
    authorizationUrl: 'https://figshare.com/account/applications/authorize'
    flow: accessCode
    scopes:
      all: Grants all access
    tokenUrl: 'https://api.figshare.com/v2/token'
    type: oauth2
paths:
  /account:
    get:
      description: Account information for token/personal token
      operationId: private_account
      responses:
        '200':
          description: OK. Account representation
          schema:
            $ref: '#/definitions/Account'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account information
      tags:
        - other
  /account/articles:
    get:
      description: Get Own Articles
      operationId: private_articles_list
      parameters:
        - description: Page number. Used for pagination with page_size
          format: int64
          in: query
          maximum: 5000
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of results included on a page. Used for pagination with page
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: page_size
          required: false
          type: integer
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK. An array of articles belonging to the account
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Articles
      tags:
        - articles
    post:
      description: Create a new Article by sending article information
      operationId: private_article_create
      parameters:
        - description: Article description
          in: body
          name: Article
          required: true
          schema:
            $ref: '#/definitions/ArticleCreate'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create new Article
      tags:
        - articles
      x-subcategory: Private Article
  /account/articles/search:
    post:
      description: Returns a list of private articles filtered by the search parameters
      operationId: private_articles_search
      parameters:
        - description: Search Parameters
          in: body
          name: search
          required: true
          schema:
            $ref: '#/definitions/PrivateArticleSearch'
      responses:
        '200':
          description: OK. An array of articles
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Articles search
      tags:
        - articles
  '/account/articles/{article_id}':
    delete:
      description: Delete an article
      operationId: private_article_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article
      tags:
        - articles
      x-subcategory: Private Article
    get:
      description: View a private article
      operationId: private_article_details
      responses:
        '200':
          description: OK. Article representation
          schema:
            $ref: '#/definitions/ArticleCompletePrivate'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article details
      tags:
        - articles
      x-subcategory: Private Article
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    put:
      description: Updating an article by passing body parameters
      operationId: private_article_update
      parameters:
        - description: Article description
          in: body
          name: Article
          required: true
          schema:
            $ref: '#/definitions/ArticleUpdate'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              format: link
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article
      tags:
        - articles
      x-subcategory: Private Article
  '/account/articles/{article_id}/authors':
    get:
      description: List article authors
      operationId: private_article_authors_list
      responses:
        '200':
          description: OK. Authors list for article
          schema:
            items:
              $ref: '#/definitions/Author'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    post:
      description: Associate new authors with the article. This will add new authors to the list of already associated authors
      operationId: private_article_authors_add
      parameters:
        - description: Authors description
          in: body
          name: Authors
          required: true
          schema:
            $ref: '#/definitions/AuthorsCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              format: url
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
    put:
      description: Associate new authors with the article. This will remove all already associated authors and add these new ones
      operationId: private_article_authors_replace
      parameters:
        - description: Authors description
          in: body
          name: Authors
          required: true
          schema:
            $ref: '#/definitions/AuthorsCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              format: url
              type: string
        '400':
          description: Bad Request. Article ID must be an integer and bigger than 0. Author with ID Not Found.
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace article authors
      tags:
        - articles
      x-subcategory: Private Article Authors
  '/account/articles/{article_id}/authors/{author_id}':
    delete:
      description: De-associate author from article
      operationId: private_article_author_delete
      parameters:
        - description: Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
        - description: Article Author unique identifier
          format: int64
          in: path
          minimum: 1
          name: author_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article author
      tags:
        - articles
      x-subcategory: Private Article Authors
  '/account/articles/{article_id}/categories':
    get:
      description: List article categories
      operationId: private_article_categories_list
      responses:
        '200':
          description: OK. Article categories
          schema:
            items:
              $ref: '#/definitions/Category'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    post:
      description: Associate new categories with the article. This will add new categories to the list of already associated categories
      operationId: private_article_categories_add
      parameters:
        - in: body
          name: categories
          required: true
          schema:
            $ref: '#/definitions/CategoriesCreator'
      responses:
        '205':
          description: Reset Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
    put:
      description: Associate new categories with the article. This will remove all already associated categories and add these new ones
      operationId: private_article_categories_replace
      parameters:
        - in: body
          name: categories
          required: true
          schema:
            $ref: '#/definitions/CategoriesCreator'
      responses:
        '205':
          description: Reset Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace article categories
      tags:
        - articles
      x-subcategory: Private Article Categories
  '/account/articles/{article_id}/categories/{category_id}':
    delete:
      description: De-associate category from article
      operationId: private_article_category_delete
      parameters:
        - description: Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
        - description: Category unique identifier
          format: int64
          in: path
          minimum: 1
          name: category_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article category
      tags:
        - articles
      x-subcategory: Private Article Categories
  '/account/articles/{article_id}/confidentiality':
    delete:
      description: Delete confidentiality settings
      operationId: private_article_confidentiality_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete article confidentiality
      tags:
        - articles
      x-subcategory: Private Article Confidentiality
    get:
      description: View confidentiality settings
      operationId: private_article_confidentiality_details
      responses:
        '200':
          description: OK. Article categories
          schema:
            $ref: '#/definitions/ArticleConfidentiality'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article confidentiality details
      tags:
        - articles
      x-subcategory: Private Article Confidentiality
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    put:
      description: Update confidentiality settings
      operationId: private_article_confidentiality_update
      parameters:
        - in: body
          name: reason
          required: true
          schema:
            $ref: '#/definitions/ConfidentialityCreator'
      responses:
        '205':
          description: Reset Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update article confidentiality
      tags:
        - articles
      x-subcategory: Private Article Confidentiality
  '/account/articles/{article_id}/embargo':
    delete:
      description: Will lift the embargo for the specified article
      operationId: private_article_embargo_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete Article Embargo
      tags:
        - articles
      x-subcategory: Private Article Embargo
    get:
      description: View a private article embargo details
      operationId: private_article_embargo_details
      responses:
        '200':
          description: OK. Embargo for article
          schema:
            $ref: '#/definitions/ArticleEmbargo'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Article Embargo Details
      tags:
        - articles
      x-subcategory: Private Article Embargo
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    put:
      description: 'Note: setting an article under whole embargo does not imply that the article will be published when the embargo will expire. You must explicitly call the publish endpoint to enable this functionality.'
      operationId: private_article_embargo_update
      parameters:
        - description: Embargo description
          in: body
          name: Embargo
          required: true
          schema:
            $ref: '#/definitions/ArticleEmbargoUpdater'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of embargo
              format: link
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update Article Embargo
      tags:
        - articles
      x-subcategory: Private Article Embargo
  '/account/articles/{article_id}/files':
    get:
      description: List private files
      operationId: private_article_files_list
      responses:
        '200':
          description: OK. Article files list
          schema:
            items:
              $ref: '#/definitions/PrivateFile'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List article files
      tags:
        - articles
      x-subcategory: Private Article Files
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    post:
      description: 'Initiate new file upload within the article. Either use link to provide only an existing file that will not be uploaded on figshare or use the other 3 parameters(md5, name, size)'
      operationId: private_article_upload_initiate
      parameters:
        - in: body
          name: File
          required: true
          schema:
            $ref: '#/definitions/FileCreator'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of new file
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Initiate Upload
      tags:
        - articles
      x-subcategory: Private Article Files
  '/account/articles/{article_id}/files/{file_id}':
    delete:
      description: Complete file upload
      operationId: private_article_file_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: File Delete
      tags:
        - articles
      x-subcategory: Private Article Files
    get:
      description: View details of file for specified article
      operationId: private_article_file
      responses:
        '200':
          description: OK. Article private file
          schema:
            $ref: '#/definitions/PrivateFile'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Single File
      tags:
        - articles
      x-subcategory: Private Article Files
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
      - description: File unique identifier
        format: int64
        in: path
        minimum: 1
        name: file_id
        required: true
        type: integer
    post:
      description: Complete file upload
      operationId: private_article_upload_complete
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Complete Upload
      tags:
        - articles
      x-subcategory: Private Article Files
  '/account/articles/{article_id}/private_links':
    get:
      description: List private links
      operationId: private_article_private_link
      responses:
        '200':
          description: OK. Article private links
          schema:
            items:
              $ref: '#/definitions/PrivateLink'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List private links
      tags:
        - articles
      x-subcategory: Private Article Private Links
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
    post:
      description: Create new private link for this article
      operationId: private_article_private_link_create
      parameters:
        - in: body
          name: private_link
          required: false
          schema:
            $ref: '#/definitions/PrivateLinkCreator'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of private link
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
  '/account/articles/{article_id}/private_links/{link_id}':
    delete:
      description: Disable/delete private link for this article
      operationId: private_article_private_link_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Disable private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
    parameters:
      - description: Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
      - description: Private link token
        in: path
        name: link_id
        required: true
        type: string
    put:
      description: Update existing private link for this article
      operationId: private_article_private_link_update
      parameters:
        - in: body
          name: private_link
          required: false
          schema:
            $ref: '#/definitions/PrivateLinkCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of private link
              format: url
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update private link
      tags:
        - articles
      x-subcategory: Private Article Private Links
  '/account/articles/{article_id}/publish':
    post:
      description: |-
        - If the whole article is under embargo, it will not be published immediatly, but when the embargo expires or is lifted.
        - When an article is published, a new public version will be generated. Any further updates to the article will affect the private article data. In order to make these changes publicly visible, an explicit publish operation is needed.
      operationId: private_article_publish
      parameters:
        - description: Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of newly published article
              format: link
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Publish
      tags:
        - articles
  '/account/articles/{article_id}/reserve_doi':
    post:
      description: Reserve DOI for article
      operationId: private_article_reserve_doi
      parameters:
        - description: Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArticleDOI'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Reserve DOI
      tags:
        - articles
  '/account/articles/{article_id}/reserve_handle':
    post:
      description: Reserve Handle for article
      operationId: private_article_reserve_handle
      parameters:
        - description: Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArticleHandle'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Article Reserve Handle
      tags:
        - articles
  /account/authors/search:
    post:
      description: Search for authors
      operationId: private_authors_search
      parameters:
        - description: Search Parameters
          in: body
          name: search
          schema:
            $ref: '#/definitions/PrivateAuthorsSearch'
      responses:
        '200':
          description: OK. An array of authors
          schema:
            items:
              $ref: '#/definitions/Author'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Search Authors
      tags:
        - authors
  '/account/authors/{author_id}':
    get:
      description: View author details
      operationId: private_author_details
      responses:
        '200':
          description: OK. Article representation
          schema:
            $ref: '#/definitions/AuthorComplete'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Author details
      tags:
        - authors
    parameters:
      - description: Author unique identifier
        format: int64
        in: path
        minimum: 1
        name: author_id
        required: true
        type: integer
  /account/categories:
    get:
      description: List institution categories (including parent Categories)
      operationId: private_categories_list
      responses:
        '200':
          description: OK. An array of categories
          schema:
            items:
              $ref: '#/definitions/Category'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Categories
      tags:
        - institutions
  /account/collections:
    get:
      description: List private collections
      operationId: private_collections_list
      parameters:
        - description: Page number. Used for pagination with page_size
          format: int64
          in: query
          maximum: 5000
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of results included on a page. Used for pagination with page
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: page_size
          required: false
          type: integer
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
        - default: published_date
          description: The field by which to order. Default varies by endpoint/resource.
          enum:
            - published_date
            - modified_date
            - views
            - shares
            - downloads
            - cites
          in: query
          name: order
          required: false
          type: string
        - default: desc
          enum:
            - asc
            - desc
          in: query
          name: order_direction
          required: false
          type: string
      responses:
        '200':
          description: OK. An array of collections
          schema:
            items:
              $ref: '#/definitions/Collection'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collections List
      tags:
        - collections
    post:
      description: Create a new Collection by sending collection information
      operationId: private_collection_create
      parameters:
        - description: Collection description
          in: body
          name: Collection
          required: true
          schema:
            $ref: '#/definitions/CollectionCreate'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CollectionComplete'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create collection
      tags:
        - collections
      x-subcategory: Private Collection
  /account/collections/search:
    post:
      description: Returns a list of private Collections
      operationId: private_collections_search
      parameters:
        - description: Search Parameters
          in: body
          name: search
          required: true
          schema:
            $ref: '#/definitions/PrivateCollectionSearch'
      responses:
        '200':
          description: OK. An array of collections
          schema:
            items:
              $ref: '#/definitions/Collection'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collections Search
      tags:
        - collections
  '/account/collections/{collection_id}':
    delete:
      description: Delete n collection
      operationId: private_collection_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection
      tags:
        - collections
      x-subcategory: Private Collection
    get:
      description: View a collection
      operationId: private_collection_details
      responses:
        '200':
          description: OK. Collection representation
          schema:
            $ref: '#/definitions/CollectionComplete'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Collection details
      tags:
        - collections
      x-subcategory: Private Collection
    parameters:
      - description: Collection Unique identifier
        format: int64
        in: path
        minimum: 1
        name: collection_id
        required: true
        type: integer
    put:
      description: Update collection details
      operationId: private_collection_update
      parameters:
        - description: Collection description
          in: body
          name: Collection
          required: true
          schema:
            $ref: '#/definitions/CollectionUpdate'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of collection
              format: link
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update collection
      tags:
        - collections
      x-subcategory: Private Collection
  '/account/collections/{collection_id}/articles':
    get:
      description: List collection articles
      operationId: private_collection_articles_list
      responses:
        '200':
          description: OK. Articles List
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
    parameters:
      - description: Collection unique identifier
        format: int64
        in: path
        minimum: 1
        name: collection_id
        required: true
        type: integer
    post:
      description: Associate new articles with the collection. This will add new articles to the list of already associated articles
      operationId: private_collection_articles_add
      parameters:
        - description: Articles list
          in: body
          name: articles
          required: true
          schema:
            $ref: '#/definitions/ArticlesCreator'
      responses:
        '201':
          description: Reset Content
          headers:
            Location:
              description: Location of new articles
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
    put:
      description: Associate new articles with the collection. This will remove all already associated articles and add these new ones
      operationId: private_collection_articles_replace
      parameters:
        - description: Articles List
          in: body
          name: articles
          required: true
          schema:
            $ref: '#/definitions/ArticlesCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of articles
              format: url
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection articles
      tags:
        - collections
      x-subcategory: Private Collection Articles
  '/account/collections/{collection_id}/articles/{article_id}':
    delete:
      description: De-associate article from collection
      operationId: private_collection_article_delete
      parameters:
        - description: Collection unique identifier
          format: int64
          in: path
          minimum: 1
          name: collection_id
          required: true
          type: integer
        - description: Collection article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection article
      tags:
        - collections
      x-subcategory: Private Collection Articles
  '/account/collections/{collection_id}/authors':
    get:
      description: List collection authors
      operationId: private_collection_authors_list
      responses:
        '200':
          description: OK. Embargo for article
          schema:
            items:
              $ref: '#/definitions/Author'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
    parameters:
      - description: Collection unique identifier
        format: int64
        in: path
        minimum: 1
        name: collection_id
        required: true
        type: integer
    post:
      description: Associate new authors with the collection. This will add new authors to the list of already associated authors
      operationId: private_collection_authors_add
      parameters:
        - description: List of authors
          in: body
          name: Authors
          required: true
          schema:
            $ref: '#/definitions/AuthorsCreator'
      responses:
        '201':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
    put:
      description: Associate new authors with the collection. This will remove all already associated authors and add these new ones
      operationId: private_collection_authors_replace
      parameters:
        - description: List of authors
          in: body
          name: Authors
          required: true
          schema:
            $ref: '#/definitions/AuthorsCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              format: url
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection authors
      tags:
        - collections
      x-subcategory: Private Collection Authors
  '/account/collections/{collection_id}/authors/{author_id}':
    delete:
      description: Delete collection author
      operationId: private_collection_author_delete
      parameters:
        - description: Collection unique identifier
          format: int64
          in: path
          minimum: 1
          name: collection_id
          required: true
          type: integer
        - description: Collection Author unique identifier
          format: int64
          in: path
          minimum: 1
          name: author_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection author
      tags:
        - collections
      x-subcategory: Private Collection Authors
  '/account/collections/{collection_id}/categories':
    get:
      description: List collection categories
      operationId: private_collection_categories_list
      responses:
        '200':
          description: OK. Categories list
          schema:
            items:
              $ref: '#/definitions/Category'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
    parameters:
      - description: Collection unique identifier
        format: int64
        in: path
        minimum: 1
        name: collection_id
        required: true
        type: integer
    post:
      description: Associate new categories with the collection. This will add new categories to the list of already associated categories
      operationId: private_collection_categories_add
      parameters:
        - description: Categories list
          in: body
          name: categories
          required: true
          schema:
            $ref: '#/definitions/CategoriesCreator'
      responses:
        '201':
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
    put:
      description: Associate new categories with the collection. This will remove all already associated categories and add these new ones
      operationId: private_collection_categories_replace
      parameters:
        - description: Categories list
          in: body
          name: categories
          required: true
          schema:
            $ref: '#/definitions/CategoriesCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of list of categories
              format: url
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Replace collection categories
      tags:
        - collections
      x-subcategory: Private Collection Categories
  '/account/collections/{collection_id}/categories/{category_id}':
    delete:
      description: De-associate category from collection
      operationId: private_collection_category_delete
      parameters:
        - description: Collection unique identifier
          format: int64
          in: path
          minimum: 1
          name: collection_id
          required: true
          type: integer
        - description: Collection category unique identifier
          format: int64
          in: path
          minimum: 1
          name: category_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete collection category
      tags:
        - collections
      x-subcategory: Private Collection Categories
  '/account/collections/{collection_id}/private_links':
    get:
      description: List article private links
      operationId: private_collection_private_links_list
      responses:
        '200':
          description: OK. Collection private links
          schema:
            items:
              $ref: '#/definitions/PrivateLink'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List collection private links
      tags:
        - collections
      x-subcategory: Private Collection Private Links
    parameters:
      - description: Collection unique identifier
        format: int64
        in: path
        minimum: 1
        name: collection_id
        required: true
        type: integer
    post:
      description: Create new private link
      operationId: private_collection_private_link_create
      parameters:
        - in: body
          name: private_link
          required: false
          schema:
            $ref: '#/definitions/CollectionPrivateLinkCreator'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of private link
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create collection private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
  '/account/collections/{collection_id}/private_links/{link_id}':
    delete:
      description: Disable/delete private link for this collection
      operationId: private_collection_private_link_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Disable private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
    parameters:
      - description: Collection unique identifier
        format: int64
        in: path
        minimum: 1
        name: collection_id
        required: true
        type: integer
      - description: Private link token
        in: path
        name: link_id
        required: true
        type: string
    put:
      description: Update existing private link for this collection
      operationId: private_collection_private_link_update
      parameters:
        - in: body
          name: private_link
          required: false
          schema:
            $ref: '#/definitions/CollectionPrivateLinkCreator'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of new private link
              format: url
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update collection private link
      tags:
        - collections
      x-subcategory: Private Collection Private Links
  '/account/collections/{collection_id}/publish':
    post:
      description: 'When a collection is published, a new public version will be generated. Any further updates to the collection will affect the private collection data. In order to make these changes publicly visible, an explicit publish operation is needed.'
      operationId: private_collection_publish
      parameters:
        - description: Collection Unique identifier
          format: int64
          in: path
          minimum: 1
          name: collection_id
          required: true
          type: integer
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of collection
              format: link
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Publish
      tags:
        - collections
  '/account/collections/{collection_id}/reserve_doi':
    post:
      description: Reserve DOI for collection
      operationId: private_collection_reserve_doi
      parameters:
        - description: Collection Unique identifier
          format: int64
          in: path
          minimum: 1
          name: collection_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CollectionDOI'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Reserve DOI
      tags:
        - collections
  '/account/collections/{collection_id}/reserve_handle':
    post:
      description: Reserve Handle for collection
      operationId: private_collection_reserve_handle
      parameters:
        - description: Collection Unique identifier
          format: int64
          in: path
          minimum: 1
          name: collection_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CollectionHandle'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Collection Reserve Handle
      tags:
        - collections
  /account/funding/search:
    post:
      description: Search for fundings
      operationId: private_funding_search
      parameters:
        - description: Search Parameters
          in: body
          name: search
          schema:
            $ref: '#/definitions/FundingSearch'
      responses:
        '200':
          description: OK. An array of funding information
          schema:
            items:
              $ref: '#/definitions/FundingInformation'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Search Funding
      tags:
        - other
  /account/institution:
    get:
      description: Account institution details
      operationId: private_institution_details
      responses:
        '200':
          description: OK. An array of institutions
          schema:
            $ref: '#/definitions/Institution'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institutions
      tags:
        - institutions
  /account/institution/accounts:
    get:
      description: Returns the accounts for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_accounts_list
      parameters:
        - description: Page number. Used for pagination with page_size
          format: int64
          in: query
          maximum: 5000
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of results included on a page. Used for pagination with page
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: page_size
          required: false
          type: integer
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
        - description: Filter by active status
          format: int64
          in: query
          maximum: 1
          minimum: 0
          name: is_active
          required: false
          type: integer
        - description: Filter by institution_user_id
          in: query
          name: institution_user_id
          required: false
          type: string
        - description: Filter by email
          in: query
          name: email
          required: false
          type: string
      responses:
        '200':
          description: OK. An array of Accounts
          schema:
            items:
              $ref: '#/definitions/ShortAccount'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Accounts
      tags:
        - institutions
    post:
      description: Create a new Account by sending account information
      operationId: private_institution_accounts_create
      parameters:
        - description: Account description
          in: body
          name: Account
          required: true
          schema:
            $ref: '#/definitions/AccountCreate'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create new Institution Account
      tags:
        - institutions
  /account/institution/accounts/search:
    post:
      description: Returns the accounts for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_accounts_search
      parameters:
        - description: Search Parameters
          in: body
          name: search
          required: true
          schema:
            $ref: '#/definitions/InstitutionAccountsSearch'
      responses:
        '200':
          description: OK. An array of Accounts
          schema:
            items:
              $ref: '#/definitions/ShortAccount'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Accounts Search
      tags:
        - institutions
  '/account/institution/accounts/{account_id}':
    put:
      description: Update Institution Account
      operationId: private_institution_accounts_update
      parameters:
        - description: Account identifier the user is associated to
          format: int64
          in: path
          minimum: 1
          name: account_id
          required: true
          type: integer
        - description: Account description
          in: body
          name: Account
          required: true
          schema:
            $ref: '#/definitions/AccountUpdate'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              format: link
              type: string
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update Institution Account
      tags:
        - institutions
  /account/institution/articles:
    get:
      description: Get Articles from own institution. User must be administrator of the institution
      operationId: private_institution_articles
      parameters:
        - description: Page number. Used for pagination with page_size
          format: int64
          in: query
          maximum: 5000
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of results included on a page. Used for pagination with page
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: page_size
          required: false
          type: integer
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
        - default: published_date
          description: The field by which to order. Default varies by endpoint/resource.
          enum:
            - published_date
            - modified_date
            - views
            - shares
            - downloads
            - cites
          in: query
          name: order
          required: false
          type: string
        - default: desc
          enum:
            - asc
            - desc
          in: query
          name: order_direction
          required: false
          type: string
        - description: Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: published_since
          required: false
          type: string
        - description: Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD
          in: query
          name: modified_since
          required: false
          type: string
        - description: only return collections with this status
          format: int64
          in: query
          name: status
          required: false
          type: integer
        - description: only return collections with this resource_doi
          in: query
          name: resource_doi
          required: false
          type: string
        - description: 'Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model'
          format: int64
          in: query
          name: item_type
          required: false
          type: integer
      responses:
        '200':
          description: OK. An array of articles belonging to the institution
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Institution Articles
      tags:
        - institutions
  /account/institution/groups:
    get:
      description: Returns the groups for which the account has administrative privileges (assigned and inherited).
      operationId: private_institution_groups_list
      responses:
        '200':
          description: OK. An array of Groups
          schema:
            items:
              $ref: '#/definitions/Group'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Groups
      tags:
        - institutions
  '/account/institution/review/{curation_id}':
    get:
      description: Retrieve a certain curation review by its ID
      operationId: account_institution_curation
      responses:
        '200':
          description: OK. A curation review.
          schema:
            $ref: '#/definitions/CurationDetail'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Institution Curation Review
      tags:
        - institutions
    parameters:
      - description: ID of the curation
        format: int64
        in: path
        minimum: 1
        name: curation_id
        required: true
        type: integer
  '/account/institution/review/{curation_id}/comments':
    get:
      description: Retrieve a certain curation review's comments.
      parameters:
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK. A curation review's comments.
          schema:
            $ref: '#/definitions/CurationComment'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Institution Curation Review Comments
      tags:
        - institutions
    parameters:
      - description: ID of the curation
        format: int64
        in: path
        minimum: 1
        name: curation_id
        required: true
        type: integer
    post:
      description: Add a new comment to the review.
      parameters:
        - description: The content/value of the comment.
          in: body
          name: CurationComment
          required: true
          schema:
            $ref: '#/definitions/CurationCommentCreate'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: POST Institution Curation Review Comment
      tags:
        - institutions
  /account/institution/reviews:
    get:
      description: Retrieve a list of curation reviews for this institution
      operationId: account_institution_curations
      parameters:
        - description: Filter by the group ID
          format: int64
          in: query
          minimum: 0
          name: group_id
          required: false
          type: integer
        - description: Retrieve the reviews for this article
          format: int64
          in: query
          minimum: 0
          name: article_id
          required: false
          type: integer
        - description: Filter by the status of the review
          enum:
            - pending
            - approved
            - rejected
            - closed
          in: query
          name: status
          required: false
          type: string
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK. A list of curation reviews.
          schema:
            $ref: '#/definitions/Curation'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Institution Curation Reviews
      tags:
        - institutions
  /account/institution/roles:
    get:
      description: Returns the roles available for groups and the institution group.
      operationId: private_institution_roles_list
      responses:
        '200':
          description: OK. An array of Roles
          schema:
            items:
              $ref: '#/definitions/Role'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution Roles
      tags:
        - institutions
  '/account/institution/roles/{account_id}':
    get:
      description: List Institution Account Group Roles
      operationId: private_institution_account_group_roles
      responses:
        '200':
          description: OK. Account Group Roles
          schema:
            $ref: '#/definitions/AccountGroupRoles'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List Institution Account Group Roles
      tags:
        - institutions
    parameters:
      - description: Account identifier the user is associated to
        format: int64
        in: path
        minimum: 1
        name: account_id
        required: true
        type: integer
    post:
      description: Add Institution Account Group Roles
      operationId: private_institution_account_group_roles_create
      parameters:
        - description: Account description
          in: body
          name: Account
          required: true
          schema:
            $ref: '#/definitions/AccountGroupRolesCreate'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Add Institution Account Group Roles
      tags:
        - institutions
  '/account/institution/roles/{account_id}/{group_id}/{role_id}':
    delete:
      description: Delete Institution Account Group Role
      operationId: private_institution_account_group_role_delete
      parameters:
        - description: Account identifier for which to remove the role
          format: int64
          in: path
          minimum: 1
          name: account_id
          required: true
          type: integer
        - description: Group identifier for which to remove the role
          format: int64
          in: path
          minimum: 1
          name: group_id
          required: true
          type: integer
        - description: Role identifier
          format: int64
          in: path
          minimum: 1
          name: role_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete Institution Account Group Role
      tags:
        - institutions
  '/account/institution/users/{account_id}':
    get:
      description: Retrieve institution user information using the account_id
      operationId: private_account_institution_user
      parameters:
        - description: Account identifier the user is associated to
          format: int64
          in: path
          minimum: 1
          name: account_id
          required: true
          type: integer
      responses:
        '200':
          description: OK. User representation
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Institution User
      tags:
        - institutions
  /account/licenses:
    get:
      description: This is a private endpoint that requires OAuth. It will return a list with figshare public licenses AND licenses defined for account's institution.
      operationId: private_licenses_list
      responses:
        '200':
          description: OK. An array of personal licenses
          schema:
            items:
              $ref: '#/definitions/License'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Account Licenses
      tags:
        - other
  /account/projects:
    get:
      description: List private projects
      operationId: private_projects_list
      parameters:
        - description: Page number. Used for pagination with page_size
          format: int64
          in: query
          maximum: 5000
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: The number of results included on a page. Used for pagination with page
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: page_size
          required: false
          type: integer
        - description: Number of results included on a page. Used for pagination with query
          format: int64
          in: query
          maximum: 1000
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: Where to start the listing(the offset of the first result). Used for pagination with limit
          format: int64
          in: query
          maximum: 5000
          minimum: 0
          name: offset
          required: false
          type: integer
        - default: published_date
          description: The field by which to order. Default varies by endpoint/resource.
          enum:
            - published_date
            - modified_date
            - views
            - shares
            - downloads
            - cites
          in: query
          name: order
          required: false
          type: string
        - default: desc
          enum:
            - asc
            - desc
          in: query
          name: order_direction
          required: false
          type: string
        - description: only return collections from this institution
          enum:
            - group
            - individual
          in: query
          name: storage
          required: false
          type: string
        - description: 'Any combination of owner, collaborator, viewer separated by comma. Examples: "owner" or "owner,collaborator".'
          in: query
          name: roles
          required: false
          type: string
      responses:
        '200':
          description: OK. An array of projects
          schema:
            items:
              $ref: '#/definitions/ProjectPrivate'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Projects
      tags:
        - projects
    post:
      description: Create a new project
      operationId: private_project_create
      parameters:
        - description: Project  description
          in: body
          name: Project
          required: true
          schema:
            $ref: '#/definitions/ProjectCreate'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create project
      tags:
        - projects
      x-subcategory: Private Project
  /account/projects/search:
    post:
      description: Search inside the private projects
      operationId: private_projects_search
      parameters:
        - description: Search Parameters
          in: body
          name: search
          required: false
          schema:
            $ref: '#/definitions/CommonSearch'
      responses:
        '200':
          description: OK. An array of projects
          schema:
            items:
              $ref: '#/definitions/ProjectPrivate'
            type: array
        '400':
          description: Bad Request
        '422':
          description: Bad Request
        '500':
          description: Internal Server Error
      security: []
      summary: Private Projects search
      tags:
        - projects
  '/account/projects/{project_id}':
    delete:
      description: |
        A project can be deleted only if: - it is not public - it does not have public articles.

        When an individual project is deleted, all the articles are moved to my data of each owner.

        When a group project is deleted, all the articles and files are deleted as well. Only project owner, group admin and above can delete a project.
      operationId: private_project_delete
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete project
      tags:
        - projects
      x-subcategory: Private Project
    get:
      description: View a private project
      operationId: private_project_details
      responses:
        '200':
          description: OK. Project representation
          schema:
            $ref: '#/definitions/ProjectCompletePrivate'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: View project details
      tags:
        - projects
      x-subcategory: Private Project
    parameters:
      - description: Project unique identifier
        format: int64
        in: path
        minimum: 1
        name: project_id
        required: true
        type: integer
    put:
      description: Updating an project by passing body parameters
      operationId: private_project_update
      parameters:
        - description: Project description
          in: body
          name: Project
          required: true
          schema:
            $ref: '#/definitions/ProjectUpdate'
      responses:
        '205':
          description: Reset Content
          headers:
            Location:
              description: Location of project
              format: link
              type: string
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Update project
      tags:
        - projects
      x-subcategory: Private Project
  '/account/projects/{project_id}/articles':
    get:
      description: List project articles
      operationId: private_project_articles_list
      responses:
        '200':
          description: OK. List of articles
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List project articles
      tags:
        - projects
      x-subcategory: Private Project Articles
    parameters:
      - description: Project unique identifier
        format: int64
        in: path
        minimum: 1
        name: project_id
        required: true
        type: integer
      - description: Page number. Used for pagination with page_size
        format: int64
        in: query
        maximum: 5000
        minimum: 1
        name: page
        required: false
        type: integer
      - default: 10
        description: The number of results included on a page. Used for pagination with page
        format: int64
        in: query
        maximum: 1000
        minimum: 1
        name: page_size
        required: false
        type: integer
      - description: Number of results included on a page. Used for pagination with query
        format: int64
        in: query
        maximum: 1000
        minimum: 1
        name: limit
        required: false
        type: integer
      - description: Where to start the listing(the offset of the first result). Used for pagination with limit
        format: int64
        in: query
        maximum: 5000
        minimum: 0
        name: offset
        required: false
        type: integer
    post:
      description: Create a new Article and associate it with this project
      operationId: private_project_articles_create
      parameters:
        - description: Article description
          in: body
          name: Article
          required: true
          schema:
            $ref: '#/definitions/ArticleCreate'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location of article
              format: url
              type: string
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Create project article
      tags:
        - projects
      x-subcategory: Private Project Articles
  '/account/projects/{project_id}/articles/{article_id}':
    delete:
      description: Delete project article
      operationId: private_project_article_delete
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Delete project article
      tags:
        - projects
      x-subcategory: Private Project Articles
    get:
      description: Project article details
      operationId: private_project_article_details
      responses:
        '200':
          description: OK. Article representation
          schema:
            $ref: '#/definitions/ProjectArticle'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project article details
      tags:
        - projects
      x-subcategory: Private Project Articles
    parameters:
      - description: Project unique identifier
        format: int64
        in: path
        minimum: 1
        name: project_id
        required: true
        type: integer
      - description: Project Article unique identifier
        format: int64
        in: path
        minimum: 1
        name: article_id
        required: true
        type: integer
  '/account/projects/{project_id}/articles/{article_id}/files':
    get:
      description: List article files
      operationId: private_project_article_files
      parameters:
        - description: Project unique identifier
          format: int64
          in: path
          minimum: 1
          name: project_id
          required: true
          type: integer
        - description: Project Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
      responses:
        '200':
          description: OK. List of files
          schema:
            items:
              $ref: '#/definitions/PrivateFile'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project article list files
      tags:
        - projects
      x-subcategory: Private Project Articles
  '/account/projects/{project_id}/articles/{article_id}/files/{file_id}':
    get:
      description: Project article file details
      operationId: private_project_article_file
      parameters:
        - description: Project unique identifier
          format: int64
          in: path
          minimum: 1
          name: project_id
          required: true
          type: integer
        - description: Project Article unique identifier
          format: int64
          in: path
          minimum: 1
          name: article_id
          required: true
          type: integer
        - description: File unique identifier
          format: int64
          in: path
          minimum: 1
          name: file_id
          required: true
          type: integer
      responses:
        '200':
          description: OK. File representation
          schema:
            $ref: '#/definitions/PrivateFile'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Project article file details
      tags:
        - projects
      x-subcategory: Private Project Articles
  '/account/projects/{project_id}/collaborators':
    get:
      description: List Project collaborators and invited users
      operationId: private_project_collaborators_list
      responses:
        '200':
          description: OK. List of Collaborators
          schema:
            items:
              $ref: '#/definitions/ProjectCollaborator'
            type: array
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: List project collaborators
      tags:
        - projects
      x-subcategory: Private Project Collaborators
    parameters:
      - description: Project unique identifier
        format: int64
        in: path
        minimum: 1
        name: project_id
        required: true
        type: integer
    post:
      description: Invite users to collaborate on project or view the project
      operationId: private_project_collaborators_invite
      parameters:
        - description: viewer or collaborator role. User user_id or email of user
          in: body
          name: Collaborator
          required: true
          schema:
            $ref: '#/definitions/ProjectCollaboratorInvite'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ResponseMessage'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Invite project collaborators
      tags:
        - projects
      x-subcategory: Private Project Collaborators
  '/account/projects/{project_id}/collaborators/{user_id}':
    delete:
      description: Remove project collaborator
      operationId: private_project_collaborator__Delete
      parameters:
        - description: Project unique identifier
          format: int64
          in: path
          minimum: 1
          name: project_id
          required: true
          type: integer
        - description: User unique identifier
          format: int64
          in: path
          minimum: 1
          name: user_id
          required: true
          type: integer
      responses:
        '204':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Remove project collaborator
      tags:
        - projects
      x-subcategory: Private Project Collaborators
  '/account/projects/{project_id}/leave':
    post:
      description: 'Please note: project''s owner cannot leave the project.'
      operationId: private_project_leave
      parameters:
        - description: Project unique identifier
          format: int64
          in: path
          minimum: 1
          name: project_id
          required: true
          type: integer
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessage'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      security:
        - OAuth2:
            - all
      summary: Private Project Leave
      tags:
        - projects
      x-subcategory: Private Project Collaborators
  '/account/projects/{project_id}/notes':
    get:
      description: List project notes
      operationId: private_project_notes_list
      parameters:
        - description: Page number. Used for pagination with page_size
          format: int64
[...]
