{
  "swagger": "2.0",
  "info": {
    "title": "Genomics API",
    "x-serviceName": "genomics",
    "description": "Provides access to Genomics data.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1beta2",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "uri": "https://www.googleapis.com/discovery/v1/apis/genomics/v1beta2/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/genomics/v1beta2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/annotationSets": {
      "post": {
        "description": "Creates a new annotation set. Caller must have WRITE permission for the associated dataset.",
        "operationId": "genomics.annotationSets.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AnnotationSet"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotationSets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/annotationSets/{annotationSetId}": {
      "delete": {
        "description": "Deletes an annotation set. Caller must have WRITE permission for the associated annotation set.",
        "operationId": "genomics.annotationSets.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "annotationSetId",
            "in": "path",
            "description": "The ID of the annotation set to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotationSets"
        ]
      },
      "get": {
        "description": "Gets an annotation set. Caller must have READ permission for the associated dataset.",
        "operationId": "genomics.annotationSets.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AnnotationSet"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationSetId",
            "in": "path",
            "description": "The ID of the annotation set to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "annotationSets"
        ]
      },
      "patch": {
        "description": "Updates an annotation set. The update must respect all mutability restrictions and other invariants described on the annotation set resource. Caller must have WRITE permission for the associated dataset. This method supports patch semantics.",
        "operationId": "genomics.annotationSets.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AnnotationSet"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationSetId",
            "in": "path",
            "description": "The ID of the annotation set to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotationSets"
        ]
      },
      "put": {
        "description": "Updates an annotation set. The update must respect all mutability restrictions and other invariants described on the annotation set resource. Caller must have WRITE permission for the associated dataset.",
        "operationId": "genomics.annotationSets.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AnnotationSet"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationSetId",
            "in": "path",
            "description": "The ID of the annotation set to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotationSets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/annotationSets/search": {
      "post": {
        "description": "Searches for annotation sets that match the given criteria. Results are returned in a deterministic order. Caller must have READ permission for the queried datasets.",
        "operationId": "genomics.annotationSets.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchAnnotationSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "annotationSets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/annotations:batchCreate": {
      "post": {
        "description": "Creates one or more new annotations atomically. All annotations must belong to the same annotation set. Caller must have WRITE permission for this annotation set. For optimal performance, batch positionally adjacent annotations together.\n\n\nIf the request has a systemic issue, such as an attempt to write to an inaccessible annotation set, the entire RPC will fail accordingly. For lesser data issues, when possible an error will be isolated to the corresponding batch entry in the response; the remaining well formed annotations will be created normally.",
        "operationId": "genomics.annotations.batchCreate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BatchAnnotationsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/annotations": {
      "post": {
        "description": "Creates a new annotation. Caller must have WRITE permission for the associated annotation set.",
        "operationId": "genomics.annotations.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotation"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/annotations/{annotationId}": {
      "delete": {
        "description": "Deletes an annotation. Caller must have WRITE permission for the associated annotation set.",
        "operationId": "genomics.annotations.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID of the annotation set to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "get": {
        "description": "Gets an annotation. Caller must have READ permission for the associated annotation set.",
        "operationId": "genomics.annotations.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotation"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID of the annotation set to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "patch": {
        "description": "Updates an annotation. The update must respect all mutability restrictions and other invariants described on the annotation resource. Caller must have WRITE permission for the associated dataset. This method supports patch semantics.",
        "operationId": "genomics.annotations.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotation"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID of the annotation set to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "put": {
        "description": "Updates an annotation. The update must respect all mutability restrictions and other invariants described on the annotation resource. Caller must have WRITE permission for the associated dataset.",
        "operationId": "genomics.annotations.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotation"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID of the annotation set to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/annotations/search": {
      "post": {
        "description": "Searches for annotations that match the given criteria. Results are returned ordered by start position. Annotations that have matching start positions are ordered deterministically. Caller must have READ permission for the queried annotation sets.",
        "operationId": "genomics.annotations.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchAnnotationsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "annotations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/callsets": {
      "post": {
        "description": "Creates a new call set.",
        "operationId": "genomics.callsets.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CallSet"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "callsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/callsets/{callSetId}": {
      "delete": {
        "description": "Deletes a call set.",
        "operationId": "genomics.callsets.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "callSetId",
            "in": "path",
            "description": "The ID of the call set to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "callsets"
        ]
      },
      "get": {
        "description": "Gets a call set by ID.",
        "operationId": "genomics.callsets.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CallSet"
            }
          }
        },
        "parameters": [
          {
            "name": "callSetId",
            "in": "path",
            "description": "The ID of the call set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "callsets"
        ]
      },
      "patch": {
        "description": "Updates a call set. This method supports patch semantics.",
        "operationId": "genomics.callsets.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CallSet"
            }
          }
        },
        "parameters": [
          {
            "name": "callSetId",
            "in": "path",
            "description": "The ID of the call set to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "callsets"
        ]
      },
      "put": {
        "description": "Updates a call set.",
        "operationId": "genomics.callsets.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CallSet"
            }
          }
        },
        "parameters": [
          {
            "name": "callSetId",
            "in": "path",
            "description": "The ID of the call set to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "callsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/callsets/search": {
      "post": {
        "description": "Gets a list of call sets matching the criteria.\n\nImplements GlobalAllianceApi.searchCallSets.",
        "operationId": "genomics.callsets.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchCallSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "callsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/datasets": {
      "post": {
        "description": "Creates a new dataset.",
        "operationId": "genomics.datasets.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "get": {
        "description": "Lists datasets within a project.",
        "operationId": "genomics.datasets.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListDatasetsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results returned by this request. If unspecified, defaults to 50.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
            "type": "string"
          },
          {
            "name": "projectNumber",
            "in": "query",
            "description": "The project to list datasets for.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/datasets/{datasetId}": {
      "delete": {
        "description": "Deletes a dataset.",
        "operationId": "genomics.datasets.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The ID of the dataset to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "get": {
        "description": "Gets a dataset by ID.",
        "operationId": "genomics.datasets.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The ID of the dataset.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "patch": {
        "description": "Updates a dataset. This method supports patch semantics.",
        "operationId": "genomics.datasets.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The ID of the dataset to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "put": {
        "description": "Updates a dataset.",
        "operationId": "genomics.datasets.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The ID of the dataset to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/datasets/{datasetId}/undelete": {
      "post": {
        "description": "Undeletes a dataset by restoring a dataset which was deleted via this API. This operation is only possible for a week after the deletion occurred.",
        "operationId": "genomics.datasets.undelete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The ID of the dataset to be undeleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "datasets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/experimental/jobs/create": {
      "post": {
        "description": "Creates and asynchronously runs an ad-hoc job. This is an experimental call and may be removed or changed at any time.",
        "operationId": "genomics.experimental.jobs.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ExperimentalCreateJobResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "experimental"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/jobs/{jobId}/cancel": {
      "post": {
        "description": "Cancels a job by ID. Note that it is possible for partial results to be generated and stored for cancelled jobs.",
        "operationId": "genomics.jobs.cancel",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Required. The ID of the job.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "jobs"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/jobs/{jobId}": {
      "get": {
        "description": "Gets a job by ID.",
        "operationId": "genomics.jobs.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Required. The ID of the job.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "jobs"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/jobs/search": {
      "post": {
        "description": "Gets a list of jobs matching the criteria.",
        "operationId": "genomics.jobs.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchJobsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "jobs"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/align": {
      "post": {
        "description": "Aligns read data from existing read group sets or files from Google Cloud Storage. See the  alignment and variant calling documentation for more details.",
        "operationId": "genomics.readgroupsets.align",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AlignReadGroupSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/call": {
      "post": {
        "description": "Calls variants on read data from existing read group sets or files from Google Cloud Storage. See the  alignment and variant calling documentation for more details.",
        "operationId": "genomics.readgroupsets.call",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CallReadGroupSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/{readGroupSetId}": {
      "delete": {
        "description": "Deletes a read group set.",
        "operationId": "genomics.readgroupsets.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "readGroupSetId",
            "in": "path",
            "description": "The ID of the read group set to be deleted. The caller must have WRITE permissions to the dataset associated with this read group set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "get": {
        "description": "Gets a read group set by ID.",
        "operationId": "genomics.readgroupsets.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ReadGroupSet"
            }
          }
        },
        "parameters": [
          {
            "name": "readGroupSetId",
            "in": "path",
            "description": "The ID of the read group set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "patch": {
        "description": "Updates a read group set. This method supports patch semantics.",
        "operationId": "genomics.readgroupsets.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ReadGroupSet"
            }
          }
        },
        "parameters": [
          {
            "name": "readGroupSetId",
            "in": "path",
            "description": "The ID of the read group set to be updated. The caller must have WRITE permissions to the dataset associated with this read group set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "put": {
        "description": "Updates a read group set.",
        "operationId": "genomics.readgroupsets.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ReadGroupSet"
            }
          }
        },
        "parameters": [
          {
            "name": "readGroupSetId",
            "in": "path",
            "description": "The ID of the read group set to be updated. The caller must have WRITE permissions to the dataset associated with this read group set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/export": {
      "post": {
        "description": "Exports read group sets to a BAM file in Google Cloud Storage.\n\nNote that currently there may be some differences between exported BAM files and the original BAM file at the time of import. In particular, comments in the input file header will not be preserved, some custom tags will be converted to strings, and original reference sequence order is not necessarily preserved.",
        "operationId": "genomics.readgroupsets.export",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ExportReadGroupSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/import": {
      "post": {
        "description": "Creates read group sets by asynchronously importing the provided information.\n\nNote that currently comments in the input file header are not imported and some custom tags will be converted to strings, rather than preserving tag types. The caller must have WRITE permissions to the dataset.",
        "operationId": "genomics.readgroupsets.import",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ImportReadGroupSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/search": {
      "post": {
        "description": "Searches for read group sets matching the criteria.\n\nImplements GlobalAllianceApi.searchReadGroupSets.",
        "operationId": "genomics.readgroupsets.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchReadGroupSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/readgroupsets/{readGroupSetId}/coveragebuckets": {
      "get": {
        "description": "Lists fixed width coverage buckets for a read group set, each of which correspond to a range of a reference sequence. Each bucket summarizes coverage information across its corresponding genomic range.\n\nCoverage is defined as the number of reads which are aligned to a given base in the reference sequence. Coverage buckets are available at several precomputed bucket widths, enabling retrieval of various coverage 'zoom levels'. The caller must have READ permissions for the target read group set.",
        "operationId": "genomics.readgroupsets.coveragebuckets.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListCoverageBucketsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return in a single page. If unspecified, defaults to 1024. The maximum value is 2048.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
            "type": "string"
          },
          {
            "name": "range.end",
            "in": "query",
            "description": "The end position of the range on the reference, 0-based exclusive. If specified, referenceName must also be specified.",
            "type": "string"
          },
          {
            "name": "range.referenceName",
            "in": "query",
            "description": "The reference sequence name, for example chr1, 1, or chrX.",
            "type": "string"
          },
          {
            "name": "range.start",
            "in": "query",
            "description": "The start position of the range on the reference, 0-based inclusive. If specified, referenceName must also be specified.",
            "type": "string"
          },
          {
            "name": "readGroupSetId",
            "in": "path",
            "description": "Required. The ID of the read group set over which coverage is requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetBucketWidth",
            "in": "query",
            "description": "The desired width of each reported coverage bucket in base pairs. This will be rounded down to the nearest precomputed bucket width; the value of which is returned as bucketWidth in the response. Defaults to infinity (each bucket spans an entire reference sequence) or the length of the target range, if specified. The smallest precomputed bucketWidth is currently 2048 base pairs; this is subject to change.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "readgroupsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/reads/search": {
      "post": {
        "description": "Gets a list of reads for one or more read group sets. Reads search operates over a genomic coordinate space of reference sequence & position defined over the reference sequences to which the requested read group sets are aligned.\n\nIf a target positional range is specified, search returns all reads whose alignment to the reference genome overlap the range. A query which specifies only read group set IDs yields all reads in those read group sets, including unmapped reads.\n\nAll reads returned (including reads on subsequent pages) are ordered by genomic coordinate (reference sequence & position). Reads with equivalent genomic coordinates are returned in a deterministic order.\n\nImplements GlobalAllianceApi.searchReads.",
        "operationId": "genomics.reads.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchReadsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "reads"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/references/{referenceId}": {
      "get": {
        "description": "Gets a reference.\n\nImplements GlobalAllianceApi.getReference.",
        "operationId": "genomics.references.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Reference"
            }
          }
        },
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "description": "The ID of the reference.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "references"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/references/search": {
      "post": {
        "description": "Searches for references which match the given criteria.\n\nImplements GlobalAllianceApi.searchReferences.",
        "operationId": "genomics.references.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchReferencesResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "references"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/references/{referenceId}/bases": {
      "get": {
        "description": "Lists the bases in a reference, optionally restricted to a range.\n\nImplements GlobalAllianceApi.getReferenceBases.",
        "operationId": "genomics.references.bases.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ListBasesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "end",
            "in": "query",
            "description": "The end position (0-based, exclusive) of this query. Defaults to the length of this reference.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the maximum number of bases to return in a single page.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "The ID of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start position (0-based) of this query. Defaults to 0.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "references"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/referencesets/{referenceSetId}": {
      "get": {
        "description": "Gets a reference set.\n\nImplements GlobalAllianceApi.getReferenceSet.",
        "operationId": "genomics.referencesets.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ReferenceSet"
            }
          }
        },
        "parameters": [
          {
            "name": "referenceSetId",
            "in": "path",
            "description": "The ID of the reference set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "referencesets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/referencesets/search": {
      "post": {
        "description": "Searches for reference sets which match the given criteria.\n\nImplements GlobalAllianceApi.searchReferenceSets.",
        "operationId": "genomics.referencesets.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchReferenceSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "referencesets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variants": {
      "post": {
        "description": "Creates a new variant.",
        "operationId": "genomics.variants.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Variant"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variants"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variants/{variantId}": {
      "delete": {
        "description": "Deletes a variant.",
        "operationId": "genomics.variants.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "description": "The ID of the variant to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variants"
        ]
      },
      "get": {
        "description": "Gets a variant by ID.",
        "operationId": "genomics.variants.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Variant"
            }
          }
        },
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "description": "The ID of the variant.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "variants"
        ]
      },
      "put": {
        "description": "Updates a variant's names and info fields. All other modifications are silently ignored. Returns the modified variant without its calls.",
        "operationId": "genomics.variants.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Variant"
            }
          }
        },
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "description": "The ID of the variant to be updated.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variants"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variants/search": {
      "post": {
        "description": "Gets a list of variants matching the criteria.\n\nImplements GlobalAllianceApi.searchVariants.",
        "operationId": "genomics.variants.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchVariantsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "variants"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variantsets/{variantSetId}": {
      "delete": {
        "description": "Deletes the contents of a variant set. The variant set object is not deleted.",
        "operationId": "genomics.variantsets.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "The ID of the variant set to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "get": {
        "description": "Gets a variant set by ID.",
        "operationId": "genomics.variantsets.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/VariantSet"
            }
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "Required. The ID of the variant set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "patch": {
        "description": "Updates a variant set's metadata. All other modifications are silently ignored. This method supports patch semantics.",
        "operationId": "genomics.variantsets.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/VariantSet"
            }
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "The ID of the variant to be updated (must already exist).",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "put": {
        "description": "Updates a variant set's metadata. All other modifications are silently ignored.",
        "operationId": "genomics.variantsets.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/VariantSet"
            }
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "The ID of the variant to be updated (must already exist).",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variantsets/{variantSetId}/export": {
      "post": {
        "description": "Exports variant set data to an external destination.",
        "operationId": "genomics.variantsets.export",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ExportVariantSetResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "Required. The ID of the variant set that contains variant data which should be exported. The caller must have READ access to this variant set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/bigquery",
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variantsets/{variantSetId}/importVariants": {
      "post": {
        "description": "Creates variant data by asynchronously importing the provided information.\n\nThe variants for import will be merged with any existing data and each other according to the behavior of mergeVariants. In particular, this means for merged VCF variants that have conflicting INFO fields, some data will be arbitrarily discarded. As a special case, for single-sample VCF files, QUAL and FILTER fields will be moved to the call level; these are sometimes interpreted in a call-specific context. Imported VCF headers are appended to the metadata already in a variant set.",
        "operationId": "genomics.variantsets.importVariants",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ImportVariantsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "Required. The variant set to which variant data should be imported.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/devstorage.read_write",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variantsets/{variantSetId}/mergeVariants": {
      "post": {
        "description": "Merges the given variants with existing variants. Each variant will be merged with an existing variant that matches its reference sequence, start, end, reference bases, and alternative bases. If no such variant exists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant is added to the existing variant, and other fields (such as key/value pairs) are discarded.",
        "operationId": "genomics.variantsets.mergeVariants",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "variantSetId",
            "in": "path",
            "description": "The destination variant set.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/variantsets/search": {
      "post": {
        "description": "Returns a list of all variant sets matching search criteria.\n\nImplements GlobalAllianceApi.searchVariantSets.",
        "operationId": "genomics.variantsets.search",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SearchVariantSetsResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/genomics",
              "https://www.googleapis.com/auth/genomics.readonly"
            ]
          }
        ],
        "tags": [
          "variantsets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "AlignReadGroupSetsRequest": {
      "type": "object",
      "description": "The read group set align request.",
      "properties": {
        "bamSourceUris": {
          "type": "array",
          "description": "The BAM source files for alignment. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided. The caller must have READ permissions for these files.",
          "items": {
            "type": "string"
          }
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of the dataset the newly aligned read group sets will belong to. The caller must have WRITE permissions to this dataset."
        },
        "interleavedFastqSource": {
          "$ref": "#/definitions/InterleavedFastqSource",
          "description": "The interleaved FASTQ source files for alignment, where both members of each pair of reads are found on consecutive records within the same FASTQ file. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided."
        },
        "pairedFastqSource": {
          "$ref": "#/definitions/PairedFastqSource",
          "description": "The paired end FASTQ source files for alignment, where each member of a pair of reads are found in separate files. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided."
        },
        "readGroupSetId": {
          "type": "string",
          "description": "The ID of the read group set which will be aligned. A new read group set will be generated to hold the aligned data, the originals will not be modified. The caller must have READ permissions for this read group set. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided."
        }
      }
    },
    "AlignReadGroupSetsResponse": {
      "type": "object",
      "description": "The read group set align response.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "A job ID that can be used to get status information."
        }
      }
    },
    "Annotation": {
      "type": "object",
      "description": "An annotation describes a region of reference genome. The value of an annotation may be one of several canonical types, supplemented by arbitrary info tags. A variant annotation is represented by one or more of these canonical types. An annotation is not inherently associated with a specific sample or individual (though a client could choose to use annotations in this way). Example canonical annotation types are 'Gene' and 'Variant'.",
      "properties": {
        "annotationSetId": {
          "type": "string",
          "description": "The ID of the containing annotation set."
        },
        "id": {
          "type": "string",
          "description": "The generated unique ID for this annotation."
        },
        "info": {
          "type": "object",
          "description": "A map of additional data for this annotation.",
          "additionalProperties": {
            "type": "array",
            "description": "A string which maps to an array of values.",
            "items": {
              "type": "string"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The display name of this annotation."
        },
        "position": {
          "$ref": "#/definitions/RangePosition",
          "description": "The position of this annotation on the reference sequence."
        },
        "transcript": {
          "$ref": "#/definitions/Transcript",
          "description": "A transcript value represents the assertion that a particular region of the reference genome may be transcribed as RNA. An alternative splicing pattern would be represented as a separate transcript object. This field is only set for annotations of type TRANSCRIPT."
        },
        "type": {
          "type": "string",
          "description": "The data type for this annotation. Must match the containing annotation set's type.",
          "enum": [
            "GENE",
            "GENERIC",
            "TRANSCRIPT",
            "VARIANT"
          ]
        },
        "variant": {
          "$ref": "#/definitions/VariantAnnotation",
          "description": "A variant annotation, which describes the effect of a variant on the genome, the coding sequence, and/or higher level consequences at the organism level e.g. pathogenicity. This field is only set for annotations of type VARIANT."
        }
      }
    },
    "AnnotationSet": {
      "type": "object",
      "description": "An annotation set is a logical grouping of annotations that share consistent type information and provenance. Examples of annotation sets include 'all genes from refseq', and 'all variant annotations from ClinVar'.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of the containing dataset."
        },
        "id": {
          "type": "string",
          "description": "The generated unique ID for this annotation set."
        },
        "info": {
          "type": "object",
          "description": "A map of additional data for this annotation set.",
          "additionalProperties": {
            "type": "array",
            "description": "A string which maps to an array of values.",
            "items": {
              "type": "string"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The display name for this annotation set."
        },
        "referenceSetId": {
          "type": "string",
          "description": "The ID of the reference set that defines the coordinate space for this set's annotations."
        },
        "sourceUri": {
          "type": "string",
          "description": "The source URI describing the file from which this annotation set was generated, if any."
        },
        "type": {
          "type": "string",
          "description": "The type of annotations contained within this set.",
          "enum": [
            "GENE",
            "GENERIC",
            "TRANSCRIPT",
            "VARIANT"
          ]
        }
      }
    },
    "BatchAnnotationsResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The resulting per-annotation entries, ordered consistently with the original request.",
          "items": {
            "$ref": "#/definitions/BatchAnnotationsResponseEntry"
          }
        }
      }
    },
    "BatchAnnotationsResponseEntry": {
      "type": "object",
      "properties": {
        "annotation": {
          "$ref": "#/definitions/Annotation",
          "description": "The annotation, if any."
        },
        "status": {
          "$ref": "#/definitions/BatchAnnotationsResponseEntryStatus",
          "description": "The resulting status for this annotation operation."
        }
      }
    },
    "BatchAnnotationsResponseEntryStatus": {
      "type": "object",
      "description": "",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The HTTP status code for this operation.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "Error message for this status, if any."
        }
      }
    },
    "BatchCreateAnnotationsRequest": {
      "type": "object",
      "properties": {
        "annotations": {
          "type": "array",
          "description": "The annotations to be created. At most 4096 can be specified in a single request.",
          "items": {
            "$ref": "#/definitions/Annotation"
          }
        }
      }
    },
    "Call": {
      "type": "object",
      "description": "A call represents the determination of genotype with respect to a particular variant. It may include associated information such as quality and phasing. For example, a call might assign a probability of 0.32 to the occurrence of a SNP named rs1234 in a call set with the name NA12345.",
      "properties": {
        "callSetId": {
          "type": "string",
          "description": "The ID of the call set this variant call belongs to."
        },
        "callSetName": {
          "type": "string",
          "description": "The name of the call set this variant call belongs to."
        },
        "genotype": {
          "type": "array",
          "description": "The genotype of this variant call. Each value represents either the value of the referenceBases field or a 1-based index into alternateBases. If a variant had a referenceBases value of T and an alternateBases value of [\"A\", \"C\"], and the genotype was [2, 1], that would mean the call represented the heterozygous value CA for this variant. If the genotype was instead [0, 1], the represented value would be TA. Ordering of the genotype values is important if the phaseset is present. If a genotype is not called (that is, a . is present in the GT string) -1 is returned.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "genotypeLikelihood": {
          "type": "array",
          "description": "The genotype likelihoods for this variant call. Each array entry represents how likely a specific genotype is for this call. The value ordering is defined by the GL tag in the VCF spec. If Phred-scaled genotype likelihood scores (PL) are available and log10(P) genotype likelihood scores (GL) are not, PL scores are converted to GL scores. If both are available, PL scores are stored in info.",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "info": {
          "type": "object",
          "description": "A map of additional variant call information.",
          "additionalProperties": {
            "type": "array",
            "description": "A string which maps to an array of values.",
            "items": {
              "type": "string"
            }
          }
        },
        "phaseset": {
          "type": "string",
          "description": "If this field is present, this variant call's genotype ordering implies the phase of the bases and is consistent with any other variant calls in the same reference sequence which have the same phaseset value. When importing data from VCF, if the genotype data was phased but no phase set was specified this field will be set to *."
        }
      }
    },
    "CallReadGroupSetsRequest": {
      "type": "object",
      "description": "The read group set call request.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of the dataset the called variants will belong to. The caller must have WRITE permissions to this dataset."
        },
        "readGroupSetId": {
          "type": "string",
          "description": "The IDs of the read group sets which will be called. The caller must have READ permissions for these read group sets. One of readGroupSetId or sourceUris must be provided."
        },
        "sourceUris": {
          "type": "array",
          "description": "A list of URIs pointing at BAM files in Google Cloud Storage which will be called. FASTQ files are not allowed. The caller must have READ permissions for these files. One of readGroupSetId or sourceUris must be provided.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CallReadGroupSetsResponse": {
      "type": "object",
      "description": "The read group set call response.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "A job ID that can be used to get status information."
        }
      }
    },
    "CallSet": {
      "type": "object",
      "description": "A call set is a collection of variant calls, typically for one sample. It belongs to a variant set.",
      "properties": {
        "created": {
          "type": "string",
          "description": "The date this call set was created in milliseconds from the epoch.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The Google generated ID of the call set, immutable."
        },
        "info": {
          "type": "object",
          "description": "A map of additional call set information.",
          "additionalProperties": {
            "type": "array",
            "description": "A string which maps to an array of values.",
            "items": {
              "type": "string"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The call set name."
        },
        "sampleId": {
          "type": "string",
          "description": "The sample ID this call set corresponds to."
        },
        "variantSetIds": {
          "type": "array",
          "description": "The IDs of the variant sets this call set belongs to.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CigarUnit": {
      "type": "object",
      "description": "A single CIGAR operation.",
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "ALIGNMENT_MATCH",
            "CLIP_HARD",
            "CLIP_SOFT",
            "DELETE",
            "INSERT",
            "OPERATION_UNSPECIFIED",
            "PAD",
            "SEQUENCE_MATCH",
            "SEQUENCE_MISMATCH",
            "SKIP"
          ]
        },
        "operationLength": {
          "type": "string",
          "description": "The number of bases that the operation runs for. Required.",
          "format": "int64"
        },
        "referenceSequence": {
          "type": "string",
          "description": "referenceSequence is only used at mismatches (SEQUENCE_MISMATCH) and deletions (DELETE). Filling this field replaces SAM's MD tag. If the relevant information is not available, this field is unset."
        }
      }
    },
    "CoverageBucket": {
      "type": "object",
      "description": "A bucket over which read coverage has been precomputed. A bucket corresponds to a specific range of the reference sequence.",
      "properties": {
        "meanCoverage": {
          "type": "number",
          "description": "The average number of reads which are aligned to each individual reference base in this bucket.",
          "format": "float"
        },
        "range": {
          "$ref": "#/definitions/Range",
          "description": "The genomic coordinate range spanned by this bucket."
        }
      }
    },
    "Dataset": {
      "type": "object",
      "description": "A Dataset is a collection of genomic data.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Google generated ID of the dataset, immutable."
        },
        "isPublic": {
          "type": "boolean",
          "description": "Flag indicating whether or not a dataset is publicly viewable. If a dataset is not public, it inherits viewing permissions from its project."
        },
        "name": {
          "type": "string",
          "description": "The dataset name."
        },
        "projectNumber": {
          "type": "string",
          "description": "The Google Developers Console project number that this dataset belongs to.",
          "format": "int64"
        }
      }
    },
    "ExperimentalCreateJobRequest": {
      "type": "object",
      "description": "The job creation request.",
      "properties": {
        "align": {
          "type": "boolean",
          "description": "Specifies whether or not to run the alignment pipeline. Either align or callVariants must be set."
        },
        "callVariants": {
          "type": "boolean",
          "description": "Specifies whether or not to run the variant calling pipeline. Either align or callVariants must be set."
        },
        "gcsOutputPath": {
          "type": "string",
          "description": "Specifies where to copy the results of certain pipelines. This should be in the form of gs://bucket/path."
        },
        "pairedSourceUris": {
          "type": "array",
          "description": "A list of Google Cloud Storage URIs of paired end .fastq files to operate upon. If specified, this represents the second file of each paired .fastq file. The first file of each pair should be specified in sourceUris.",
          "items": {
            "type": "string"
          }
        },
        "projectNumber": {
          "type": "string",
          "description": "Required. The Google Cloud Project ID with which to associate the request.",
          "format": "int64"
        },
        "sourceUris": {
          "type": "array",
          "description": "A list of Google Cloud Storage URIs of data files to operate upon. These can be .bam, interleaved .fastq, or paired .fastq. If specifying paired .fastq files, the first of each pair of files should be listed here, and the second of each pair should be listed in pairedSourceUris.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExperimentalCreateJobResponse": {
      "type": "object",
      "description": "The job creation response.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "A job ID that can be used to get status information."
        }
      }
    },
    "ExportReadGroupSetsRequest": {
      "type": "object",
      "description": "The read group set export request.",
      "properties": {
        "exportUri": {
          "type": "string",
          "description": "A Google Cloud Storage URI for the exported BAM file. The currently authenticated user must have write access to the new file. An error will be returned if the URI already contains data."
        },
        "projectNumber": {
          "type": "string",
          "description": "The Google Developers Console project number that owns this export.",
          "format": "int64"
        },
        "readGroupSetIds": {
          "type": "array",
          "description": "The IDs of the read group sets to export.",
          "items": {
            "type": "string"
          }
        },
        "referenceNames": {
          "type": "array",
          "description": "The reference names to export. If this is not specified, all reference sequences, including unmapped reads, are exported. Use * to export only unmapped reads.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportReadGroupSetsResponse": {
      "type": "object",
      "description": "The read group set export response.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "A job ID that can be used to get status information."
        }
      }
    },
    "ExportVariantSetRequest": {
      "type": "object",
      "description": "The variant data export request.",
      "properties": {
        "bigqueryDataset": {
          "type": "string",
          "description": "The BigQuery dataset to export data to. Note that this is distinct from the Genomics concept of \"dataset\"."
        },
        "bigqueryTable": {
          "type": "string",
          "description": "The BigQuery table to export data to. If the table doesn't exist, it will be created. If it already exists, it will be overwritten."
        },
        "callSetIds": {
          "type": "array",
          "description": "If provided, only variant call information from the specified call sets will be exported. By default all variant calls are exported.",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "type": "string",
          "description": "The format for the exported data.",
          "enum": [
            "BIGQUERY"
          ]
        },
        "projectNumber": {
          "type": "string",
          "description": "The Google Cloud project number that owns the destination BigQuery dataset. The caller must have WRITE access to this project. This project will also own the resulting export job.",
          "format": "int64"
        }
      }
    },
    "ExportVariantSetResponse": {
      "type": "object",
      "description": "The variant data export response.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "A job ID that can be used to get status information."
        }
      }
    },
    "ExternalId": {
      "type": "object",
      "description": "",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id used by the source of this data."
        },
        "sourceName": {
          "type": "string",
          "description": "The name of the source of this data."
        }
      }
    },
    "FastqMetadata": {
      "type": "object",
      "properties": {
        "libraryName": {
          "type": "string",
          "description": "Optionally specifies the library name for alignment from FASTQ."
        },
        "platformName": {
          "type": "string",
          "description": "Optionally specifies the platform name for alignment from FASTQ. For example: CAPILLARY, LS454, ILLUMINA, SOLID, HELICOS, IONTORRENT, PACBIO."
        },
        "platformUnit": {
          "type": "string",
          "description": "Optionally specifies the platform unit for alignment from FASTQ. For example: flowcell-barcode.lane for Illumina or slide for SOLID."
        },
        "readGroupName": {
          "type": "string",
          "description": "Optionally specifies the read group name for alignment from FASTQ."
        },
        "sampleName": {
          "type": "string",
          "description": "Optionally specifies the sample name for alignment from FASTQ."
        }
      }
    },
    "ImportReadGroupSetsRequest": {
      "type": "object",
      "description": "The read group set import request.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of the dataset these read group sets will belong to. The caller must have WRITE permissions to this dataset."
        },
        "partitionStrategy": {
          "type": "string",
          "description": "The partition strategy describes how read groups are partitioned into read group sets.",
          "enum": [
            "MERGE_ALL",
            "PER_FILE_PER_SAMPLE"
          ]
        },
        "referenceSetId": {
          "type": "string",
          "description": "The reference set to which the imported read group sets are aligned to, if any. The reference names of this reference set must be a superset of those found in the imported file headers. If no reference set id is provided, a best effort is made to associate with a matching reference set."
        },
        "sourceUris": {
          "type": "array",
          "description": "A list of URIs pointing at BAM files in Google Cloud Storage.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImportReadGroupSetsResponse": {
      "type": "object",
      "description": "The read group set import response.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "A job ID that can be used to get status information."
        }
      }
    },
    "ImportVariantsRequest": {
      "type": "object",
      "description": "The variant data import request.",
      "properties": {
        "format": {
          "type": "string",
[...]
