swagger: '2.0'
info:
  version: '2018-08-01'
  x-release: v4
  title: AWS RDS DataService
  description: AWS RDS DataService provides Http Endpoint to query RDS databases.
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: rds-data
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-data-2018-08-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/rds-data/'
host: rds-data.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /ExecuteSql:
    post:
      operationId: ExecuteSql
      description: Executes any SQL statement on the target database synchronously
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExecuteSqlResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ServiceUnavailableError
          schema:
            $ref: '#/definitions/ServiceUnavailableError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExecuteSqlRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ExecuteSqlResponse:
    type: object
    required:
      - sqlStatementResults
    properties:
      sqlStatementResults:
        $ref: '#/definitions/[object Object]'
        description: Results returned by executing the sql statement(s)
    description: Execute SQL response
  ExecuteSqlRequest:
    type: object
    required:
      - awsSecretStoreArn
      - dbClusterOrInstanceArn
      - sqlStatements
    properties:
      awsSecretStoreArn:
        $ref: '#/definitions/[object Object]'
        description: ARN of the db credentials in AWS Secret Store or the friendly secret name
      database:
        $ref: '#/definitions/[object Object]'
        description: Target DB name
      dbClusterOrInstanceArn:
        $ref: '#/definitions/[object Object]'
        description: ARN of the target db cluster or instance
      schema:
        $ref: '#/definitions/[object Object]'
        description: Target Schema name
      sqlStatements:
        $ref: '#/definitions/[object Object]'
        description: SQL statement(s) to be executed. Statements can be chained by using semicolons
    description: Execute SQL Request
  BadRequestException: {}
  ForbiddenException: {}
  InternalServerErrorException: {}
  ServiceUnavailableError: {}
  Boolean:
    type: boolean
  '[object Object]': {}
  SqlStatementResult:
    type: object
    properties:
      numberOfRecordsUpdated:
        $ref: '#/definitions/[object Object]'
        description: Number of rows updated.
      resultFrame:
        $ref: '#/definitions/[object Object]'
        description: ResultFrame returned by executing the sql statement
    description: SQL statement execution result
  Value:
    type: object
    properties:
      arrayValues:
        $ref: '#/definitions/[object Object]'
        description: Arbitrarily nested arrays
      bigIntValue:
        $ref: '#/definitions/[object Object]'
        description: Long value
      bitValue:
        $ref: '#/definitions/[object Object]'
        description: Bit value
      blobValue:
        $ref: '#/definitions/[object Object]'
        description: Blob value
      doubleValue:
        $ref: '#/definitions/[object Object]'
        description: Double value
      intValue:
        $ref: '#/definitions/[object Object]'
        description: Integer value
      isNull:
        $ref: '#/definitions/[object Object]'
        description: Is column null
      realValue:
        $ref: '#/definitions/[object Object]'
        description: Float value
      stringValue:
        $ref: '#/definitions/[object Object]'
        description: String value
      structValue:
        $ref: '#/definitions/[object Object]'
        description: Struct or UDT
    description: Column value
  SqlStatementResults:
    type: array
    description: SQL statement execution results
    items:
      $ref: '#/definitions/[object Object]'
  ColumnMetadataList:
    type: array
    description: List of Column metadata
    items:
      $ref: '#/definitions/[object Object]'
  ResultSetMetadata:
    type: object
    properties:
      columnCount:
        $ref: '#/definitions/[object Object]'
        description: Number of columns
      columnMetadata:
        $ref: '#/definitions/[object Object]'
        description: List of columns and their types
    description: List of columns and their types.
  Records:
    type: array
    description: List of records
    items:
      $ref: '#/definitions/[object Object]'
  ResultFrame:
    type: object
    properties:
      records:
        $ref: '#/definitions/[object Object]'
        description: ResultSet Metadata.
      resultSetMetadata:
        $ref: '#/definitions/[object Object]'
        description: ResultSet Metadata.
    description: Result Frame
  Long:
    type: integer
  StructValue:
    type: object
    properties:
      attributes:
        $ref: '#/definitions/[object Object]'
        description: Struct or UDT
    description: User Defined Type
  Blob:
    type: string
  Row:
    type: array
    description: List of column values
    items:
      $ref: '#/definitions/[object Object]'
  String:
    type: string
  ArrayValues:
    type: array
    description: Array value
    items:
      $ref: '#/definitions/[object Object]'
  Double:
    type: number
    format: double
  ColumnMetadata:
    type: object
    properties:
      arrayBaseColumnType:
        $ref: '#/definitions/[object Object]'
        description: Homogenous array base SQL type from java.sql.Types.
      isAutoIncrement:
        $ref: '#/definitions/[object Object]'
        description: Whether the designated column is automatically numbered
      isCaseSensitive:
        $ref: '#/definitions/[object Object]'
        description: Whether values in the designated column's case matters
      isCurrency:
        $ref: '#/definitions/[object Object]'
        description: Whether values in the designated column is a cash value
      isSigned:
        $ref: '#/definitions/[object Object]'
        description: Whether values in the designated column are signed numbers
      label:
        $ref: '#/definitions/[object Object]'
        description: 'Usually specified by the SQL AS. If not specified, return column name.'
      name:
        $ref: '#/definitions/[object Object]'
        description: Name of the column.
      nullable:
        $ref: '#/definitions/[object Object]'
        description: 'Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)'
      precision:
        $ref: '#/definitions/[object Object]'
        description: 'Get the designated column''s specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.'
      scale:
        $ref: '#/definitions/[object Object]'
        description: Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.
      schemaName:
        $ref: '#/definitions/[object Object]'
        description: Designated column's table's schema
      tableName:
        $ref: '#/definitions/[object Object]'
        description: Designated column's table name
      type:
        $ref: '#/definitions/[object Object]'
        description: SQL type from java.sql.Types.
      typeName:
        $ref: '#/definitions/[object Object]'
        description: Database-specific type name.
    description: Column Metadata
  Integer:
    type: integer
  Float:
    type: number
    format: float
  Record:
    type: object
    properties:
      values:
        $ref: '#/definitions/[object Object]'
        description: Record
    description: Row or Record
