swagger: '2.0'
info:
  version: '2018-08-01'
  x-release: v4
  title: AWS RDS DataService
  description: AWS RDS DataService provides Http Endpoint to query RDS databases.
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: rds-data
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-data-2018-08-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds-data/'
host: rds-data.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /ExecuteSql:
    post:
      operationId: ExecuteSql
      description: Executes any SQL statement on the target database synchronously
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExecuteSqlResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ServiceUnavailableError
          schema:
            $ref: '#/definitions/ServiceUnavailableError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - awsSecretStoreArn
              - dbClusterOrInstanceArn
              - sqlStatements
            properties:
              awsSecretStoreArn:
                description: ARN of the db credentials in AWS Secret Store or the friendly secret name
                type: string
                maxLength: 1024
              database:
                description: Target DB name
                type: string
                maxLength: 64
              dbClusterOrInstanceArn:
                description: ARN of the target db cluster or instance
                type: string
                maxLength: 1024
              schema:
                description: Target Schema name
                type: string
                maxLength: 64
              sqlStatements:
                description: SQL statement(s) to be executed. Statements can be chained by using semicolons
                type: string
                maxLength: 65536
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ExecuteSqlResponse:
    type: object
    required:
      - sqlStatementResults
    properties:
      sqlStatementResults:
        $ref: '#/definitions/SqlStatementResults'
        description: Results returned by executing the sql statement(s)
    description: Execute SQL response
  BadRequestException: {}
  ForbiddenException: {}
  InternalServerErrorException: {}
  ServiceUnavailableError: {}
  Boolean:
    type: boolean
  ArrayValues:
    type: array
    description: Array value
    items:
      $ref: '#/definitions/Value'
  Long:
    type: integer
  Blob:
    type: string
  Double:
    type: number
    format: double
  Integer:
    type: integer
  Float:
    type: number
    format: float
  String:
    type: string
  StructValue:
    type: object
    properties:
      attributes:
        $ref: '#/definitions/ArrayValues'
        description: Struct or UDT
    description: User Defined Type
  Value:
    type: object
    properties:
      arrayValues:
        $ref: '#/definitions/ArrayValues'
        description: Arbitrarily nested arrays
      bigIntValue:
        $ref: '#/definitions/Long'
        description: Long value
      bitValue:
        $ref: '#/definitions/Boolean'
        description: Bit value
      blobValue:
        $ref: '#/definitions/Blob'
        description: Blob value
      doubleValue:
        $ref: '#/definitions/Double'
        description: Double value
      intValue:
        $ref: '#/definitions/Integer'
        description: Integer value
      isNull:
        $ref: '#/definitions/Boolean'
        description: Is column null
      realValue:
        $ref: '#/definitions/Float'
        description: Float value
      stringValue:
        $ref: '#/definitions/String'
        description: String value
      structValue:
        $ref: '#/definitions/StructValue'
        description: Struct or UDT
    description: Column value
  SqlStatementResult:
    type: object
    properties:
      numberOfRecordsUpdated:
        $ref: '#/definitions/Long'
        description: Number of rows updated.
      resultFrame:
        $ref: '#/definitions/ResultFrame'
        description: ResultFrame returned by executing the sql statement
    description: SQL statement execution result
  SqlStatementResults:
    type: array
    description: SQL statement execution results
    items:
      $ref: '#/definitions/SqlStatementResult'
  ColumnMetadata:
    type: object
    properties:
      arrayBaseColumnType:
        $ref: '#/definitions/Integer'
        description: Homogenous array base SQL type from java.sql.Types.
      isAutoIncrement:
        $ref: '#/definitions/Boolean'
        description: Whether the designated column is automatically numbered
      isCaseSensitive:
        $ref: '#/definitions/Boolean'
        description: Whether values in the designated column's case matters
      isCurrency:
        $ref: '#/definitions/Boolean'
        description: Whether values in the designated column is a cash value
      isSigned:
        $ref: '#/definitions/Boolean'
        description: Whether values in the designated column are signed numbers
      label:
        $ref: '#/definitions/String'
        description: 'Usually specified by the SQL AS. If not specified, return column name.'
      name:
        $ref: '#/definitions/String'
        description: Name of the column.
      nullable:
        $ref: '#/definitions/Integer'
        description: 'Indicates the nullability of values in the designated column. One of columnNoNulls (0), columnNullable (1), columnNullableUnknown (2)'
      precision:
        $ref: '#/definitions/Integer'
        description: 'Get the designated column''s specified column size.For numeric data, this is the maximum precision.  For character data, this is the length in characters. For datetime datatypes, this is the length in characters of the String representation (assuming the maximum allowed precision of the fractional seconds component). For binary data, this is the length in bytes.  For the ROWID datatype, this is the length in bytes. 0 is returned for data types where the column size is not applicable.'
      scale:
        $ref: '#/definitions/Integer'
        description: Designated column's number of digits to right of the decimal point. 0 is returned for data types where the scale is not applicable.
      schemaName:
        $ref: '#/definitions/String'
        description: Designated column's table's schema
      tableName:
        $ref: '#/definitions/String'
        description: Designated column's table name
      type:
        $ref: '#/definitions/Integer'
        description: SQL type from java.sql.Types.
      typeName:
        $ref: '#/definitions/String'
        description: Database-specific type name.
    description: Column Metadata
  ColumnMetadataList:
    type: array
    description: List of Column metadata
    items:
      $ref: '#/definitions/ColumnMetadata'
  Records:
    type: array
    description: List of records
    items:
      $ref: '#/definitions/Record'
  ResultSetMetadata:
    type: object
    properties:
      columnCount:
        $ref: '#/definitions/Long'
        description: Number of columns
      columnMetadata:
        $ref: '#/definitions/ColumnMetadataList'
        description: List of columns and their types
    description: List of columns and their types.
  ResultFrame:
    type: object
    properties:
      records:
        $ref: '#/definitions/Records'
        description: ResultSet Metadata.
      resultSetMetadata:
        $ref: '#/definitions/ResultSetMetadata'
        description: ResultSet Metadata.
    description: Result Frame
  Row:
    type: array
    description: List of column values
    items:
      $ref: '#/definitions/Value'
  Record:
    type: object
    properties:
      values:
        $ref: '#/definitions/Row'
        description: Record
    description: Row or Record
  Arn:
    type: string
    maxLength: 1024
  DbName:
    type: string
    maxLength: 64
  SqlStatement:
    type: string
    maxLength: 65536
  ExecuteSqlRequest:
    type: object
    required:
      - awsSecretStoreArn
      - dbClusterOrInstanceArn
      - sqlStatements
    properties:
      awsSecretStoreArn:
        $ref: '#/definitions/Arn'
        description: ARN of the db credentials in AWS Secret Store or the friendly secret name
      database:
        $ref: '#/definitions/DbName'
        description: Target DB name
      dbClusterOrInstanceArn:
        $ref: '#/definitions/Arn'
        description: ARN of the target db cluster or instance
      schema:
        $ref: '#/definitions/DbName'
        description: Target Schema name
      sqlStatements:
        $ref: '#/definitions/SqlStatement'
        description: SQL statement(s) to be executed. Statements can be chained by using semicolons
    description: Execute SQL Request
