swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /toolresults/v1beta3/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Reads and publishes results from Firebase Test Lab.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Tool Results
  version: v1beta3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/toolresults/v1beta3/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: toolresults
externalDocs:
  url: 'https://firebase.google.com/docs/test-lab/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: projects
paths:
  '/{projectId}/histories':
    get:
      description: |-
        Lists Histories for a given Project.

        The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist
      operationId: toolresults.projects.histories.list
      parameters:
        - description: |-
            If set, only return histories with the given name.

            Optional.
          in: query
          name: filterByName
          type: string
        - description: |-
            The maximum number of Histories to fetch.

            Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100.

            Optional.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A continuation token to resume the query at the next item.

            Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHistoriesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a History.

        The returned History will have the id set.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist
      operationId: toolresults.projects.histories.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/History'
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A unique request ID for server to detect duplicated requests. For example, a UUID.

            Optional, but strongly recommended.
          in: query
          name: requestId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/History'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}':
    get:
      description: |-
        Gets a History.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist
      operationId: toolresults.projects.histories.get
      parameters:
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/History'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions':
    get:
      description: |-
        Lists Executions for a given History.

        The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist
      operationId: toolresults.projects.histories.executions.list
      parameters:
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            The maximum number of Executions to fetch.

            Default value: 25. The server will use this default if the field is not set or has a value of 0.

            Optional.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A continuation token to resume the query at the next item.

            Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListExecutionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates an Execution.

        The returned Execution will have the id set.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist
      operationId: toolresults.projects.histories.executions.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Execution'
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A unique request ID for server to detect duplicated requests. For example, a UUID.

            Optional, but strongly recommended.
          in: query
          name: requestId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Execution'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}':
    get:
      description: |-
        Gets an Execution.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist
      operationId: toolresults.projects.histories.executions.get
      parameters:
        - description: |-
            An Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Execution'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: |-
        Updates an existing Execution with the supplied partial entity.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist
      operationId: toolresults.projects.histories.executions.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Execution'
        - description: Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: A Project id. Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A unique request ID for server to detect duplicated requests. For example, a UUID.

            Optional, but strongly recommended.
          in: query
          name: requestId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Execution'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}/clusters':
    get:
      description: |-
        Lists Screenshot Clusters

        Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.
      operationId: toolresults.projects.histories.executions.clusters.list
      parameters:
        - description: |-
            An Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListScreenshotClustersResponse'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}':
    get:
      description: Retrieves a single screenshot cluster by its ID
      operationId: toolresults.projects.histories.executions.clusters.get
      parameters:
        - description: |-
            A Cluster id

            Required.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            An Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ScreenshotCluster'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps':
    get:
      description: |-
        Lists Steps for a given Execution.

        The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist
      operationId: toolresults.projects.histories.executions.steps.list
      parameters:
        - description: |-
            A Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            The maximum number of Steps to fetch.

            Default value: 25. The server will use this default if the field is not set or has a value of 0.

            Optional.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A continuation token to resume the query at the next item.

            Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListStepsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a Step.

        The returned Step will have the id set.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist
      operationId: toolresults.projects.histories.executions.steps.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Step'
        - description: Required. An Execution id.
          in: path
          name: executionId
          required: true
          type: string
        - description: Required. A History id.
          in: path
          name: historyId
          required: true
          type: string
        - description: Required. A Project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A unique request ID for server to detect duplicated requests. For example, a UUID.

            Optional, but strongly recommended.
          in: query
          name: requestId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}':
    get:
      description: |-
        Gets a Step.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist
      operationId: toolresults.projects.histories.executions.steps.get
      parameters:
        - description: |-
            A Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A Step id.

            Required.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: |-
        Updates an existing Step with the supplied partial entity.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist
      operationId: toolresults.projects.histories.executions.steps.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Step'
        - description: |-
            A Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A unique request ID for server to detect duplicated requests. For example, a UUID.

            Optional, but strongly recommended.
          in: query
          name: requestId
          type: string
        - description: |-
            A Step id.

            Required.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary':
    get:
      description: |-
        Retrieves a PerfMetricsSummary.

        May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist
      operationId: toolresults.projects.histories.executions.steps.getPerfMetricsSummary
      parameters:
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PerfMetricsSummary'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created.

        May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist
      operationId: toolresults.projects.histories.executions.steps.perfMetricsSummary.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PerfMetricsSummary'
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PerfMetricsSummary'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries':
    get:
      description: |-
        Lists PerfSampleSeries for a given Step.

        The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids.

        May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.list
      parameters:
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - collectionFormat: multi
          description: Specify one or more PerfMetricType values such as CPU to filter the result
          in: query
          items:
            enum:
              - cpu
              - graphics
              - memory
              - network
              - perfMetricTypeUnspecified
            type: string
          name: filter
          type: array
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPerfSampleSeriesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a PerfSampleSeries.

        May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PerfSampleSeries'
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PerfSampleSeries'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}':
    get:
      description: |-
        Gets a PerfSampleSeries.

        May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.get
      parameters:
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A sample series id
          in: path
          name: sampleSeriesId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PerfSampleSeries'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples':
    get:
      description: |-
        Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit

        May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list
      parameters:
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: 'The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000'
          in: query
          name: pageSize
          type: integer
        - description: 'Optional, the next_page_token returned in the previous response'
          in: query
          name: pageToken
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A sample series id
          in: path
          name: sampleSeriesId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListPerfSamplesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database).

        May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchCreatePerfSamplesRequest'
        - description: A tool results execution ID.
          in: path
          name: executionId
          required: true
          type: string
        - description: A tool results history ID.
          in: path
          name: historyId
          required: true
          type: string
        - description: The cloud project
          in: path
          name: projectId
          required: true
          type: string
        - description: A sample series id
          in: path
          name: sampleSeriesId
          required: true
          type: string
        - description: A tool results step ID.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchCreatePerfSamplesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases':
    get:
      description: |-
        Lists Test Cases attached to a Step. Experimental test cases API. Still in active development.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist
      operationId: toolresults.projects.histories.executions.steps.testCases.list
      parameters:
        - description: |-
            A Execution id

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            The maximum number of TestCases to fetch.

            Default value: 100. The server will use this default if the field is not set or has a value of 0.

            Optional.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A continuation token to resume the query at the next item.

            Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A Step id. Note: This step must include a TestExecutionStep.

            Required.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTestCasesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}':
    get:
      description: |-
        Gets details of a Test Case for a Step. Experimental test cases API. Still in active development.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist
      operationId: toolresults.projects.histories.executions.steps.testCases.get
      parameters:
        - description: |-
            A Execution id

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A Step id. Note: This step must include a TestExecutionStep.

            Required.
          in: path
          name: stepId
          required: true
          type: string
        - description: |-
            A Test Case id.

            Required.
          in: path
          name: testCaseId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestCase'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails':
    get:
      description: |-
        Lists thumbnails of images attached to a step.

        May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist
      operationId: toolresults.projects.histories.executions.steps.thumbnails.list
      parameters:
        - description: |-
            An Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            The maximum number of thumbnails to fetch.

            Default value: 50. The server will use this default if the field is not set or has a value of 0.

            Optional.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A continuation token to resume the query at the next item.

            Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A Step id.

            Required.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListStepThumbnailsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Publish xml files to an existing Step.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist
      operationId: toolresults.projects.histories.executions.steps.publishXunitXmlFiles
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PublishXunitXmlFilesRequest'
        - description: |-
            A Execution id.

            Required.
          in: path
          name: executionId
          required: true
          type: string
        - description: |-
            A History id.

            Required.
          in: path
          name: historyId
          required: true
          type: string
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A Step id. Note: This step must include a TestExecutionStep.

            Required.
          in: path
          name: stepId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/{projectId}/settings':
    get:
      description: |-
        Gets the Tool Results settings for a project.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read from project
      operationId: toolresults.projects.getSettings
      parameters:
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{projectId}:initializeSettings':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates resources for settings which have not yet been set.

        Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days.

        The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details.

        If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created.

        May return any canonical error codes, including the following:

        - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage
      operationId: toolresults.projects.initializeSettings
      parameters:
        - description: |-
            A Project id.

            Required.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  AndroidAppInfo:
    description: Android app information.
    properties:
      name:
        description: The name of the app. Optional
        type: string
      packageName:
        description: The package name of the app. Required.
        type: string
      versionCode:
        description: The internal version code of the app. Optional.
        type: string
      versionName:
        description: The version name of the app. Optional.
        type: string
    type: object
  AndroidInstrumentationTest:
    description: |-
      A test of an Android application that can control an Android component independently of its normal lifecycle.

      See  for more information on types of Android tests.
    properties:
      testPackageId:
        description: The java package for the test to be executed. Required
        type: string
      testRunnerClass:
        description: The InstrumentationTestRunner class. Required
        type: string
      testTargets:
        description: |-
          Each target must be fully qualified with the package name or class name, in one of these formats: - "package package_name" - "class package_name.class_name" - "class package_name.class_name#method_name"

          If empty, all targets in the module will be run.
        items:
          type: string
        type: array
      useOrchestrator:
        description: The flag indicates whether Android Test Orchestrator will be used to run test or not.
        type: boolean
    type: object
  AndroidRoboTest:
    description: 'A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.'
    properties:
      appInitialActivity:
        description: The initial activity that should be used to start the app. Optional
        type: string
      bootstrapPackageId:
        description: The java package for the bootstrap. Optional
        type: string
      bootstrapRunnerClass:
        description: The runner class for the bootstrap. Optional
        type: string
      maxDepth:
        description: The max depth of the traversal stack Robo can explore. Optional
        format: int32
        type: integer
      maxSteps:
        description: The max number of steps/actions Robo can execute. Default is no limit (0). Optional
        format: int32
        type: integer
    type: object
  AndroidTest:
    description: An Android mobile test specification.
    properties:
      androidAppInfo:
        $ref: '#/definitions/AndroidAppInfo'
        description: Information about the application under test.
      androidInstrumentationTest:
        $ref: '#/definitions/AndroidInstrumentationTest'
        description: An Android instrumentation test.
      androidRoboTest:
        $ref: '#/definitions/AndroidRoboTest'
        description: An Android robo test.
      testTimeout:
        $ref: '#/definitions/Duration'
        description: Max time a test is allowed to run before it is automatically cancelled.
    type: object
  Any:
    description: |-
      `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message.

      Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type.

      Example 1: Pack and unpack a message in C++.

      Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... }

      Example 2: Pack and unpack a message in Java.

      Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); }

      Example 3: Pack and unpack a message in Python.

      foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ...

      Example 4: Pack and unpack a message in Go

      foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... }

      The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example "foo.bar.com/x/y.z" will yield type name "y.z".



      JSON ==== The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example:

      package google.profile; message Person { string first_name = 1; string last_name = 2; }

      { "@type": "type.googleapis.com/google.profile.Person", "firstName": , "lastName":  }

      If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message [google.protobuf.Duration][]):

      { "@type": "type.googleapis.com/google.protobuf.Duration", "value": "1.212s" }
    properties:
      typeUrl:
        description: |-
          A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one "/" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading "." is not accepted).

          In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows:

          * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a [google.protobuf.Type][] value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.)

          Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com.

          Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.
        type: string
      value:
        description: Must be a valid serialized protocol buffer of the above specified type.
        format: byte
        type: string
    type: object
  AppStartTime:
    properties:
      fullyDrawnTime:
        $ref: '#/definitions/Duration'
        description: 'Optional. The time from app start to reaching the developer-reported "fully drawn" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full'
      initialDisplayTime:
        $ref: '#/definitions/Duration'
        description: 'The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial'
    type: object
  BasicPerfSampleSeries:
    description: Encapsulates the metadata for basic sample series represented by a line chart
    properties:
      perfMetricType:
        enum:
          - cpu
          - graphics
          - memory
          - network
          - perfMetricTypeUnspecified
        type: string
      perfUnit:
        enum:
          - byte
          - bytesPerSecond
          - framesPerSecond
          - kibibyte
          - percent
          - perfUnitUnspecified
        type: string
      sampleSeriesLabel:
        enum:
          - cpuKernel
          - cpuTotal
          - cpuUser
          - graphicsFrameRate
          - memoryRssPrivate
          - memoryRssShared
          - memoryRssTotal
          - memoryTotal
          - networkReceived
          - networkSent
          - ntBytesReceived
          - ntBytesTransferred
          - sampleSeriesTypeUnspecified
        type: string
    type: object
  BatchCreatePerfSamplesRequest:
    description: The request must provide up to a maximum of 5000 samples to be created; a larger sample size will cause an INVALID_ARGUMENT error
    properties:
      perfSamples:
        description: The set of PerfSamples to create should not include existing timestamps
        items:
          $ref: '#/definitions/PerfSample'
        type: array
    type: object
  BatchCreatePerfSamplesResponse:
    properties:
      perfSamples:
        items:
          $ref: '#/definitions/PerfSample'
        type: array
    type: object
  CPUInfo:
    properties:
      cpuProcessor:
        description: description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'
        type: string
      cpuSpeedInGhz:
        description: the CPU clock speed in GHz
        format: float
        type: number
      numberOfCores:
        description: the number of CPU cores
        format: int32
        type: integer
    type: object
  Duration:
    description: |-
      A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like "day" or "month". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.

      # Examples

      Example 1: Compute Duration from two Timestamps in pseudo code.

      Timestamp start = ...; Timestamp end = ...; Duration duration = ...;

      duration.seconds = end.seconds - start.seconds; duration.nanos = end.nanos - start.nanos;

      if (duration.seconds  0) { duration.seconds += 1; duration.nanos -= 1000000000; } else if (duration.seconds > 0 && duration.nanos < 0) { duration.seconds -= 1; duration.nanos += 1000000000; }

      Example 2: Compute Timestamp from Timestamp + Duration in pseudo code.

      Timestamp start = ...; Duration duration = ...; Timestamp end = ...;

      end.seconds = start.seconds + duration.seconds; end.nanos = start.nanos + duration.nanos;

      if (end.nanos = 1000000000) { end.seconds += 1; end.nanos -= 1000000000; }

      Example 3: Compute Duration from datetime.timedelta in Python.

      td = datetime.timedelta(days=3, minutes=10) duration = Duration() duration.FromTimedelta(td)

      # JSON Mapping

      In JSON format, the Duration type is encoded as a string rather than an object, where the string ends in the suffix "s" (indicating seconds) and is preceded by the number of seconds, with nanoseconds expressed as fractional seconds. For example, 3 seconds with 0 nanoseconds should be encoded in JSON format as "3s", while 3 seconds and 1 nanosecond should be expressed in JSON format as "3.000000001s", and 3 seconds and 1 microsecond should be expressed in JSON format as "3.000001s".
    properties:
      nanos:
        description: 'Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.'
        format: int32
        type: integer
      seconds:
        description: 'Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years'
        format: int64
        type: string
    type: object
  Execution:
    description: |-
      An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step

      The maximum size of an execution message is 1 MiB.

      An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.
    properties:
      completionTime:
        $ref: '#/definitions/Timestamp'
        description: |-
          The time when the Execution status transitioned to COMPLETE.

          This value will be set automatically when state transitions to COMPLETE.

          - In response: set if the execution state is COMPLETE. - In create/update request: never set
      creationTime:
        $ref: '#/definitions/Timestamp'
        description: |-
          The time when the Execution was created.

          This value will be set automatically when CreateExecution is called.

          - In response: always set - In create/update request: never set
      executionId:
        description: |-
          A unique identifier within a History for this Execution.

          Returns INVALID_ARGUMENT if this field is set or overwritten by the caller.

          - In response always set - In create/update request: never set
        type: string
      outcome:
        $ref: '#/definitions/Outcome'
        description: |-
          Classify the result, for example into SUCCESS or FAILURE

          - In response: present if set by create/update request - In create/update request: optional
      specification:
        $ref: '#/definitions/Specification'
        description: |-
          Lightweight information about execution request.

          - In response: present if set by create - In create: optional - In update: optional
      state:
        description: |-
          The initial state is IN_PROGRESS.

          The only legal state transitions is from IN_PROGRESS to COMPLETE.

          A PRECONDITION_FAILED will be returned if an invalid transition is requested.

          The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times.

          If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE.

          - In response always set - In create/update request: optional
        enum:
          - complete
          - inProgress
          - pending
          - unknownState
        type: string
      testExecutionMatrixId:
        description: |-
          TestExecution Matrix ID that the TestExecutionService uses.

          - In response: present if set by create - In create: optional - In update: never set
        type: string
    type: object
  FailureDetail:
    description: Details for an outcome with a FAILURE outcome summary.
    properties:
      crashed:
        description: If the failure was severe because the system (app) under test crashed.
        type: boolean
      notInstalled:
        description: If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.
        type: boolean
      otherNativeCrash:
        description: If a native process (including any other than the app) crashed.
        type: boolean
      timedOut:
        description: 'If the test overran some time limit, and that is why it failed.'
        type: boolean
      unableToCrawl:
        description: If the robo was unable to crawl the app; perhaps because the app did not start.
        type: boolean
    type: object
  FileReference:
    description: A reference to a file.
    properties:
      fileUri:
        description: |-
          The URI of a file stored in Google Cloud Storage.

          For example: http://storage.googleapis.com/mybucket/path/to/test.xml or in gsutil format: gs://mybucket/path/to/test.xml with version-specific info, gs://mybucket/path/to/test.xml#1360383693690000

          An INVALID_ARGUMENT error will be returned if the URI format is not supported.

          - In response: always set - In create/update request: always set
        type: string
    type: object
  GraphicsStats:
    description: 'Graphics statistics for the App. The information is collected from ''adb shell dumpsys graphicsstats''. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+.'
    properties:
      buckets:
        description: 'Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)'
        items:
          $ref: '#/definitions/GraphicsStatsBucket'
        type: array
      highInputLatencyCount:
        description: Total "high input latency" events.
        format: int64
        type: string
      jankyFrames:
        description: Total frames with slow render time. Should be <= total_frames.
        format: int64
        type: string
      missedVsyncCount:
        description: Total "missed vsync" events.
        format: int64
        type: string
      p50Millis:
        description: 50th percentile frame render time in milliseconds.
        format: int64
        type: string
      p90Millis:
        description: 90th percentile frame render time in milliseconds.
        format: int64
        type: string
      p95Millis:
        description: 95th percentile frame render time in milliseconds.
        format: int64
        type: string
      p99Millis:
        description: 99th percentile frame render time in milliseconds.
        format: int64
        type: string
      slowBitmapUploadCount:
        description: Total "slow bitmap upload" events.
        format: int64
        type: string
      slowDrawCount:
        description: Total "slow draw" events.
        format: int64
        type: string
      slowUiThreadCount:
        description: Total "slow UI thread" events.
        format: int64
        type: string
      totalFrames:
        description: Total frames rendered by package.
        format: int64
        type: string
    type: object
  GraphicsStatsBucket:
    properties:
      frameCount:
        description: Number of frames in the bucket.
        format: int64
        type: string
      renderMillis:
        description: Lower bound of render time in milliseconds.
        format: int64
        type: string
    type: object
  History:
    description: |-
      A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build.

      Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.
    properties:
      displayName:
        description: |-
          A short human-readable (plain text) name to display in the UI. Maximum of 100 characters.

          - In response: present if set during create. - In create request: optional
        type: string
      historyId:
        description: |-
          A unique identifier within a project for this History.

          Returns INVALID_ARGUMENT if this field is set or overwritten by the caller.

          - In response always set - In create request: never set
        type: string
      name:
        description: |-
          A name to uniquely identify a history within a project. Maximum of 200 characters.

          - In response always set - In create request: always set
        type: string
    type: object
  Image:
    description: 'An image, with a link to the main image and a thumbnail.'
    properties:
      error:
        $ref: '#/definitions/Status'
        description: An error explaining why the thumbnail could not be rendered.
      sourceImage:
        $ref: '#/definitions/ToolOutputReference'
        description: |-
          A reference to the full-size, original image.

          This is the same as the tool_outputs entry for the image under its Step.

          Always set.
      stepId:
        description: |-
          The step to which the image is attached.

          Always set.
        type: string
      thumbnail:
        $ref: '#/definitions/Thumbnail'
        description: The thumbnail.
    type: object
  InconclusiveDetail:
    description: Details for an outcome with an INCONCLUSIVE outcome summary.
    properties:
      abortedByUser:
        description: 'If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.'
        type: boolean
      hasErrorLogs:
        description: If results are being provided to the user in certain cases of infrastructure failures
        type: boolean
      infrastructureFailure:
        description: |-
          If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed.

          For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.
        type: boolean
    type: object
  IndividualOutcome:
    description: Step Id and outcome of each individual step that was run as a group with other steps with the same configuration.
    properties:
      multistepNumber:
        description: Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.
        format: int32
        type: integer
      outcomeSummary:
        enum:
          - failure
          - flaky
          - inconclusive
          - skipped
          - success
          - unset
        type: string
      runDuration:
        $ref: '#/definitions/Duration'
        description: How long it took for this step to run.
      stepId:
        type: string
    type: object
  ListExecutionsResponse:
    properties:
      executions:
        description: |-
          Executions.

          Always set.
        items:
          $ref: '#/definitions/Execution'
        type: array
      nextPageToken:
        description: |-
          A continuation token to resume the query at the next item.

          Will only be set if there are more Executions to fetch.
        type: string
    type: object
  ListHistoriesResponse:
    description: Response message for HistoryService.List
    properties:
      histories:
        description: Histories.
        items:
          $ref: '#/definitions/History'
        type: array
      nextPageToken:
        description: |-
          A continuation token to resume the query at the next item.

          Will only be set if there are more histories to fetch.

          Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.
        type: string
    type: object
  ListPerfSampleSeriesResponse:
    properties:
      perfSampleSeries:
        description: The resulting PerfSampleSeries sorted by id
        items:
          $ref: '#/definitions/PerfSampleSeries'
        type: array
    type: object
  ListPerfSamplesResponse:
    properties:
      nextPageToken:
        description: 'Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request'
        type: string
      perfSamples:
        items:
          $ref: '#/definitions/PerfSample'
        type: array
    type: object
  ListScreenshotClustersResponse:
    properties:
      clusters:
        description: The set of clusters associated with an execution Always set
        items:
          $ref: '#/definitions/ScreenshotCluster'
        type: array
    type: object
  ListStepThumbnailsResponse:
    description: A response containing the thumbnails in a step.
    properties:
      nextPageToken:
        description: |-
          A continuation token to resume the query at the next item.

          If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field.
        type: string
      thumbnails:
        description: |-
          A list of image data.

          Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep).
        items:
          $ref: '#/definitions/Image'
        type: array
    type: object
  ListStepsResponse:
    description: Response message for StepService.List.
    properties:
      nextPageToken:
        description: |-
          A continuation token to resume the query at the next item.

          If set, indicates that there are more steps to read, by calling list again with this value in the page_token field.
        type: string
      steps:
        description: Steps.
        items:
          $ref: '#/definitions/Step'
        type: array
    type: object
  ListTestCasesResponse:
    description: Response message for StepService.ListTestCases.
    properties:
      nextPageToken:
        type: string
      testCases:
        description: List of test cases.
        items:
          $ref: '#/definitions/TestCase'
        type: array
    type: object
  MemoryInfo:
    properties:
      memoryCapInKibibyte:
        description: Maximum memory that can be allocated to the process in KiB
        format: int64
        type: string
      memoryTotalInKibibyte:
        description: Total memory available on the device in KiB
        format: int64
        type: string
    type: object
  MultiStep:
    description: Details when multiple steps are run with the same configuration as a group.
    properties:
      multistepNumber:
        description: Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.
        format: int32
        type: integer
      primaryStep:
        $ref: '#/definitions/PrimaryStep'
        description: Present if it is a primary (original) step.
      primaryStepId:
        description: 'Step Id of the primary (original) step, which might be this step.'
        type: string
    type: object
  Outcome:
    description: Interprets a result so that humans and machines can act on it.
    properties:
      failureDetail:
        $ref: '#/definitions/FailureDetail'
        description: |-
          More information about a FAILURE outcome.

          Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE.

          Optional
      inconclusiveDetail:
        $ref: '#/definitions/InconclusiveDetail'
        description: |-
          More information about an INCONCLUSIVE outcome.

          Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE.

          Optional
      skippedDetail:
        $ref: '#/definitions/SkippedDetail'
        description: |-
          More information about a SKIPPED outcome.

          Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED.

          Optional
      successDetail:
        $ref: '#/definitions/SuccessDetail'
        description: |-
          More information about a SUCCESS outcome.

          Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS.

          Optional
      summary:
        description: |-
          The simplest way to interpret a result.

          Required
        enum:
          - failure
          - flaky
          - inconclusive
          - skipped
          - success
          - unset
        type: string
    type: object
  PerfEnvironment:
    description: Encapsulates performance environment info
    properties:
      cpuInfo:
        $ref: '#/definitions/CPUInfo'
        description: CPU related environment info
      memoryInfo:
        $ref: '#/definitions/MemoryInfo'
        description: Memory related environment info
    type: object
  PerfMetricsSummary:
    description: A summary of perf metrics collected and performance environment info
    properties:
      appStartTime:
        $ref: '#/definitions/AppStartTime'
      executionId:
        description: A tool results execution ID.
        type: string
      graphicsStats:
        $ref: '#/definitions/GraphicsStats'
        description: Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run.
      historyId:
        description: A tool results history ID.
        type: string
      perfEnvironment:
        $ref: '#/definitions/PerfEnvironment'
        description: Describes the environment in which the performance metrics were collected
      perfMetrics:
        description: Set of resource collected
        items:
          enum:
            - cpu
            - graphics
            - memory
            - network
            - perfMetricTypeUnspecified
          type: string
        type: array
      projectId:
        description: The cloud project
        type: string
      stepId:
        description: A tool results step ID.
        type: string
    type: object
  PerfSample:
    description: Resource representing a single performance measure or data point
    properties:
      sampleTime:
        $ref: '#/definitions/Timestamp'
        description: Timestamp of collection.
      value:
        description: Value observed
        format: double
        type: number
    type: object
  PerfSampleSeries:
    description: Resource representing a collection of performance samples (or data points)
    properties:
      basicPerfSampleSeries:
        $ref: '#/definitions/BasicPerfSampleSeries'
        description: Basic series represented by a line chart
      executionId:
        description: A tool results execution ID.
        type: string
      historyId:
        description: A tool results history ID.
        type: string
      projectId:
        description: The cloud project
        type: string
      sampleSeriesId:
        description: A sample series id
        type: string
      stepId:
        description: A tool results step ID.
        type: string
    type: object
  PrimaryStep:
    description: Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.
    properties:
      individualOutcome:
        description: Step Id and outcome of each individual step.
        items:
          $ref: '#/definitions/IndividualOutcome'
        type: array
      rollUp:
        description: Rollup test status of multiple steps that were run with the same configuration as a group.
        enum:
          - failure
          - flaky
          - inconclusive
          - skipped
          - success
          - unset
        type: string
    type: object
  ProjectSettings:
    description: Per-project settings for the Tool Results service.
    properties:
      defaultBucket:
        description: |-
          The name of the Google Cloud Storage bucket to which results are written.

          By default, this is unset.

          In update request: optional In response: optional
        type: string
      name:
        description: |-
          The name of the project's settings.

          Always of the form: projects/{project-id}/settings

          In update request: never set In response: always set
        type: string
    type: object
  PublishXunitXmlFilesRequest:
    description: Request message for StepService.PublishXunitXmlFiles.
    properties:
      xunitXmlFiles:
        description: |-
          URI of the Xunit XML files to publish.

          The maximum size of the file this reference is pointing to is 50MB.

          Required.
        items:
          $ref: '#/definitions/FileReference'
        type: array
    type: object
  Screen:
    properties:
      fileReference:
        description: File reference of the png file. Required.
        type: string
      locale:
        description: Locale of the device that the screenshot was taken on. Required.
        type: string
      model:
        description: Model of the device that the screenshot was taken on. Required.
        type: string
      version:
        description: OS version of the device that the screenshot was taken on. Required.
        type: string
    type: object
  ScreenshotCluster:
    properties:
      activity:
        description: A string that describes the activity of every screen in the cluster.
        type: string
      clusterId:
        description: A unique identifier for the cluster.
        type: string
      keyScreen:
        $ref: '#/definitions/Screen'
        description: 'A singular screen that represents the cluster as a whole. This screen will act as the "cover" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm'
      screens:
        description: Full list of screens.
        items:
          $ref: '#/definitions/Screen'
        type: array
    type: object
  SkippedDetail:
    description: Details for an outcome with a SKIPPED outcome summary.
    properties:
      incompatibleAppVersion:
        description: If the App doesn't support the specific API level.
        type: boolean
      incompatibleArchitecture:
        description: 'If the App doesn''t run on the specific architecture, for example, x86.'
        type: boolean
      incompatibleDevice:
        description: If the requested OS version doesn't run on the specific device model.
        type: boolean
    type: object
  Specification:
    description: The details about how to run the execution.
    properties:
      androidTest:
        $ref: '#/definitions/AndroidTest'
        description: An Android mobile test execution specification.
    type: object
  StackTrace:
    description: A stacktrace.
    properties:
      exception:
        description: |-
          The stack trace message.

          Required
        type: string
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details.

      You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).
    properties:
      code:
        description: 'The status code, which should be an enum value of [google.rpc.Code][].'
        format: int32
        type: integer
      details:
        description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
        items:
          $ref: '#/definitions/Any'
        type: array
      message:
        description: 'A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][] field, or localized by the client.'
        type: string
    type: object
  Step:
    description: |-
      A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler).

      Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel).

      Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates an TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE

      A Step can be updated until its state is set to COMPLETE at which points it becomes immutable.

      Next tag: 27
    properties:
      completionTime:
        $ref: '#/definitions/Timestamp'
        description: |-
          The time when the step status was set to complete.

          This value will be set automatically when state transitions to COMPLETE.

          - In response: set if the execution state is COMPLETE. - In create/update request: never set
      creationTime:
        $ref: '#/definitions/Timestamp'
        description: |-
          The time when the step was created.

          - In response: always set - In create/update request: never set
      description:
        description: |-
          A description of this tool For example: mvn clean package -D skipTests=true

          - In response: present if set by create/update request - In create/update request: optional
        type: string
      deviceUsageDuration:
        $ref: '#/definitions/Duration'
        description: |-
          How much the device resource is used to perform the test.

          This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage.

          PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set.

          - In response: present if previously set. - In create request: optional - In update request: optional
      dimensionValue:
        description: |-
          If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions.

          The keys must exactly match the dimension_definition of the execution.

          For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']`

          If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']`

          If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset.

          A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution.

          A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different.

          A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys.

          - In response: present if set by create - In create request: optional - In update request: never set
        items:
          $ref: '#/definitions/StepDimensionValueEntry'
        type: array
      hasImages:
        description: |-
          Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails.

          - In response: always set - In create/update request: never set
        type: boolean
      labels:
        description: |-
          Arbitrary user-supplied key/value pairs that are associated with the step.

          Users are responsible for managing the key namespace such that keys don't accidentally collide.

          An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters.

          - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value
        items:
          $ref: '#/definitions/StepLabelsEntry'
        type: array
      multiStep:
        $ref: '#/definitions/MultiStep'
        description: |-
          Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members.

          - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional
      name:
        description: |-
          A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build

          A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name.

          - In response: always set - In create request: always set - In update request: never set
        type: string
      outcome:
        $ref: '#/definitions/Outcome'
        description: |-
          Classification of the result, for example into SUCCESS or FAILURE

          - In response: present if set by create/update request - In create/update request: optional
      runDuration:
        $ref: '#/definitions/Duration'
        description: |-
          How long it took for this step to run.

          If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration.

          PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set.

          - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional
      state:
        description: |-
          The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -> COMPLETE

          A PRECONDITION_FAILED will be returned if an invalid transition is requested.

          It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times.

          - In response: always set - In create/update request: optional
        enum:
          - complete
          - inProgress
          - pending
          - unknownState
        type: string
      stepId:
        description: |-
          A unique identifier within a Execution for this Step.

          Returns INVALID_ARGUMENT if this field is set or overwritten by the caller.

          - In response: always set - In create/update request: never set
        type: string
      testExecutionStep:
        $ref: '#/definitions/TestExecutionStep'
        description: An execution of a test runner.
      toolExecutionStep:
        $ref: '#/definitions/ToolExecutionStep'
        description: An execution of a tool (used for steps we don't explicitly support).
    type: object
  StepDimensionValueEntry:
    properties:
      key:
        type: string
      value:
        type: string
    type: object
  StepLabelsEntry:
    properties:
      key:
        type: string
      value:
        type: string
    type: object
  SuccessDetail:
    description: Details for an outcome with a SUCCESS outcome summary.
    properties:
      otherNativeCrash:
        description: If a native process other than the app crashed.
        type: boolean
    type: object
  TestCase:
    properties:
      elapsedTime:
        $ref: '#/definitions/Duration'
        description: |-
          The elapsed run time of the test case.

          Required.
      endTime:
        $ref: '#/definitions/Timestamp'
        description: |-
          The end time of the test case.

          Optional.
      skippedMessage:
        description: |-
          Why the test case was skipped.

          Present only for skipped test case
        type: string
      stackTraces:
        description: |-
          The stack trace details if the test case failed or encountered an error.

          The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated.

          Zero if the test case passed.
        items:
          $ref: '#/definitions/StackTrace'
        type: array
      startTime:
        $ref: '#/definitions/Timestamp'
        description: |-
          The start time of the test case.

          Optional.
      status:
        description: |-
          The status of the test case.

          Required.
        enum:
          - error
          - failed
          - flaky
          - passed
          - skipped
        type: string
      testCaseId:
        description: A unique identifier within a Step for this Test Case.
        type: string
      testCaseReference:
        $ref: '#/definitions/TestCaseReference'
        description: |-
          Test case reference, e.g. name, class name and test suite name.

          Required.
      toolOutputs:
        description: References to opaque files of any format output by the tool execution.
        items:
          $ref: '#/definitions/ToolOutputReference'
        type: array
    type: object
  TestCaseReference:
    description: |-
      A reference to a test case.

      Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name.
    properties:
      className:
        description: The name of the class.
        type: string
      name:
        description: |-
          The name of the test case.

          Required.
        type: string
      testSuiteName:
        description: The name of the test suite to which this test case belongs.
        type: string
    type: object
  TestExecutionStep:
    description: |-
      A step that represents running tests.

      It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted.

      Users can also add test results manually by using the test_result field.
    properties:
      testIssues:
        description: |-
          Issues observed during the test execution.

          For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging.

          - In response: present if set by create or update - In create/update request: optional
        items:
          $ref: '#/definitions/TestIssue'
        type: array
      testSuiteOverviews:
        description: |-
          List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded.

          The maximum allowed number of test suite overviews per step is 1000.

          - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)
        items:
          $ref: '#/definitions/TestSuiteOverview'
        type: array
      testTiming:
        $ref: '#/definitions/TestTiming'
        description: |-
          The timing break down of the test execution.

          - In response: present if set by create or update - In create/update request: optional
      toolExecution:
        $ref: '#/definitions/ToolExecution'
        description: |-
          Represents the execution of the test runner.

          The exit code of this tool will be used to determine if the test passed.

          - In response: always set - In create/update request: optional
    type: object
  TestIssue:
    description: An issue detected occurring during a test execution.
    properties:
      category:
        description: Category of issue. Required.
        enum:
          - common
          - robo
          - unspecifiedCategory
        type: string
      errorMessage:
        description: A brief human-readable message describing the issue. Required.
        type: string
      severity:
        description: Severity of issue. Required.
        enum:
          - info
          - severe
          - suggestion
          - unspecifiedSeverity
          - warning
        type: string
      stackTrace:
        $ref: '#/definitions/StackTrace'
        description: Deprecated in favor of stack trace fields inside specific warnings.
      type:
        description: Type of issue. Required.
        enum:
[...]
