openapi: 3.0.1
servers:
  - url: https://numbers.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Numbers
  version: 1.55.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_numbers_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_numbers_v2
tags:
  - name: NumbersV2AuthorizationDocument
  - name: NumbersV2BulkHostedNumberOrder
  - name: NumbersV2Bundle
  - name: NumbersV2BundleCopy
  - name: NumbersV2DependentHostedNumberOrder
  - name: NumbersV2EndUser
  - name: NumbersV2EndUserType
  - name: NumbersV2Evaluation
  - name: NumbersV2HostedNumberOrder
  - name: NumbersV2ItemAssignment
  - name: NumbersV2Regulation
  - name: NumbersV2ReplaceItems
  - name: NumbersV2SupportingDocument
  - name: NumbersV2SupportingDocumentType
paths:
  /v2/HostedNumber/AuthorizationDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of AuthorizationDocuments belonging to the account initiating the request.
      operationId: ListAuthorizationDocument
      parameters:
        - description: Email that this AuthorizationDocument will be sent to for signing.
          in: query
          name: Email
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses."
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/authorization_document_enum_status"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/numbers.v2.authorization_document"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAuthorizationDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2AuthorizationDocument
      x-maturity:
        - Beta
    post:
      description: Create an AuthorizationDocument for authorizing the hosting of phone number capabilities on Twilio's platform.
      operationId: CreateAuthorizationDocument
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AddressSid:
                  description: A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AD[0-9a-fA-F]{32}$
                  type: string
                CcEmails:
                  description: Email recipients who will be informed when an Authorization Document has been sent and signed.
                  items:
                    type: string
                  type: array
                ContactPhoneNumber:
                  description: The contact phone number of the person authorized to sign the Authorization Document.
                  format: phone-number
                  type: string
                ContactTitle:
                  description: The title of the person authorized to sign the Authorization Document for this phone number.
                  type: string
                Email:
                  description: Email that this AuthorizationDocument will be sent to for signing.
                  type: string
                HostedNumberOrderSids:
                  description: A list of HostedNumberOrder sids that this AuthorizationDocument will authorize for hosting phone number capabilities on Twilio's platform.
                  items:
                    type: string
                  type: array
              required:
                - AddressSid
                - Email
                - ContactPhoneNumber
                - HostedNumberOrderSids
              title: CreateAuthorizationDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.authorization_document"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2AuthorizationDocument
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: /v2/HostedNumber/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders
      pathType: list
  /v2/HostedNumber/AuthorizationDocuments/{Sid}:
    delete:
      description: Cancel the AuthorizationDocument request.
      operationId: DeleteAuthorizationDocument
      parameters:
        - description: A 34 character string that uniquely identifies this AuthorizationDocument.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PX[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2AuthorizationDocument
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific AuthorizationDocument.
      operationId: FetchAuthorizationDocument
      parameters:
        - description: A 34 character string that uniquely identifies this AuthorizationDocument.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PX[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.authorization_document"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2AuthorizationDocument
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: /v2/HostedNumber/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders
      pathType: instance
  /v2/HostedNumber/AuthorizationDocuments/{SigningDocumentSid}/DependentHostedNumberOrders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of dependent HostedNumberOrders belonging to the AuthorizationDocument.
      operationId: ListDependentHostedNumberOrder
      parameters:
        - description: A 34 character string that uniquely identifies the LOA document associated with this HostedNumberOrder.
          in: path
          name: SigningDocumentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PX[0-9a-fA-F]{32}$
            type: string
        - description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses."
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/dependent_hosted_number_order_enum_status"
            type: string
        - description: An E164 formatted phone number hosted by this HostedNumberOrder.
          in: query
          name: PhoneNumber
          schema:
            format: phone-number
            type: string
        - description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
          in: query
          name: IncomingPhoneNumberSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
        - description: A human readable description of this resource, up to 128 characters.
          in: query
          name: FriendlyName
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/numbers.v2.authorization_document.dependent_hosted_number_order"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDependentHostedNumberOrderResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2DependentHostedNumberOrder
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      parent: /HostedNumber/AuthorizationDocuments/{Sid}
      pathType: list
  /v2/HostedNumber/Orders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of HostedNumberOrders belonging to the account initiating the request.
      operationId: ListHostedNumberOrder
      parameters:
        - description: The Status of this HostedNumberOrder. One of `received`, `pending-verification`, `verified`, `pending-loa`, `carrier-processing`, `testing`, `completed`, `failed`, or `action-required`.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/hosted_number_order_enum_status"
            type: string
        - description: Whether the SMS capability will be hosted on our platform. Can be `true` of `false`.
          in: query
          name: SmsCapability
          schema:
            type: boolean
        - description: An E164 formatted phone number hosted by this HostedNumberOrder.
          in: query
          name: PhoneNumber
          schema:
            format: phone-number
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
          in: query
          name: IncomingPhoneNumberSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
        - description: A human readable description of this resource, up to 128 characters.
          in: query
          name: FriendlyName
          schema:
            type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/numbers.v2.hosted_number_order"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListHostedNumberOrderResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2HostedNumberOrder
      x-maturity:
        - Beta
    post:
      description: Host a phone number's capability on Twilio's platform.
      operationId: CreateHostedNumberOrder
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AccountSid:
                  description: This defaults to the AccountSid of the authorization the user is using. This can be provided to specify a subaccount to add the HostedNumberOrder to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AC[0-9a-fA-F]{32}$
                  type: string
                AddressSid:
                  description: Optional. A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AD[0-9a-fA-F]{32}$
                  type: string
                CcEmails:
                  description: Optional. A list of emails that the LOA document for this HostedNumberOrder will be carbon copied to.
                  items:
                    type: string
                  type: array
                ContactPhoneNumber:
                  description: The contact phone number of the person authorized to sign the Authorization Document.
                  format: phone-number
                  type: string
                ContactTitle:
                  description: The title of the person authorized to sign the Authorization Document for this phone number.
                  type: string
                Email:
                  description: Optional. Email of the owner of this phone number that is being hosted.
                  type: string
                FriendlyName:
                  description: A 128 character string that is a human readable text that describes this resource.
                  type: string
                PhoneNumber:
                  description: The number to host in [+E.164](https://en.wikipedia.org/wiki/E.164) format
                  format: phone-number
                  type: string
                SmsApplicationSid:
                  description: Optional. The 34 character sid of the application Twilio should use to handle SMS messages sent to this number. If a `SmsApplicationSid` is present, Twilio will ignore all of the SMS urls above and use those set on the application.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AP[0-9a-fA-F]{32}$
                  type: string
                SmsCapability:
                  description: Used to specify that the SMS capability will be hosted on Twilio's platform.
                  type: boolean
                SmsFallbackMethod:
                  description: The HTTP method that should be used to request the SmsFallbackUrl. Must be either `GET` or `POST`. This will be copied onto the IncomingPhoneNumber resource.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                SmsFallbackUrl:
                  description: A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl. This will be copied onto the IncomingPhoneNumber resource.
                  format: uri
                  type: string
                SmsMethod:
                  description: The HTTP method that should be used to request the SmsUrl. Must be either `GET` or `POST`.  This will be copied onto the IncomingPhoneNumber resource.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                SmsUrl:
                  description: The URL that Twilio should request when somebody sends an SMS to the phone number. This will be copied onto the IncomingPhoneNumber resource.
                  format: uri
                  type: string
                StatusCallbackMethod:
                  description: Optional. The Status Callback Method attached to the IncomingPhoneNumber resource.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                StatusCallbackUrl:
                  description: Optional. The Status Callback URL attached to the IncomingPhoneNumber resource.
                  format: uri
                  type: string
              required:
                - PhoneNumber
                - ContactPhoneNumber
                - AddressSid
                - Email
              title: CreateHostedNumberOrderRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.hosted_number_order"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2HostedNumberOrder
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: hosted_number_orders
      pathType: list
  /v2/HostedNumber/Orders/Bulk:
    description: "TODO: Resource-level docs"
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: bulk_hosted_number_orders
      pathType: list
  /v2/HostedNumber/Orders/Bulk/{BulkHostingSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific BulkHostedNumberOrder.
      operationId: FetchBulkHostedNumberOrder
      parameters:
        - description: A 34 character string that uniquely identifies this BulkHostedNumberOrder.
          in: path
          name: BulkHostingSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BH[0-9a-fA-F]{32}$
            type: string
        - description: Order status can be used for filtering on Hosted Number Order status values. To see a complete list of order statuses, please check 'https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values'.
          in: query
          name: OrderStatus
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.bulk_hosted_number_order"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2BulkHostedNumberOrder
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: bulk_hosted_number_orders
      pathType: instance
  /v2/HostedNumber/Orders/{Sid}:
    delete:
      description: Cancel the HostedNumberOrder (only available when the status is in `received`).
      operationId: DeleteHostedNumberOrder
      parameters:
        - description: A 34 character string that uniquely identifies this HostedNumberOrder.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HR[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2HostedNumberOrder
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific HostedNumberOrder.
      operationId: FetchHostedNumberOrder
      parameters:
        - description: A 34 character string that uniquely identifies this HostedNumberOrder.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HR[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.hosted_number_order"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2HostedNumberOrder
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: hosted_number_orders
      pathType: instance
  /v2/RegulatoryCompliance:
    description: "TODO: Resource-level docs"
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      pathType: list
  /v2/RegulatoryCompliance/Bundles:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Bundles for an account.
      operationId: ListBundle
      parameters:
        - description: The verification status of the Bundle resource. Please refer to [Bundle Statuses](https://www.twilio.com/docs/phone-numbers/regulatory/api/bundles#bundle-statuses) for more details.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/bundle_enum_status"
            type: string
        - description: The string that you assigned to describe the resource. The column can contain 255 variable characters.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: The unique string of a [Regulation resource](https://www.twilio.com/docs/phone-numbers/regulatory/api/regulations) that is associated to the Bundle resource.
          in: query
          name: RegulationSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
        - description: The 2-digit [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the Bundle's phone number country ownership request.
          in: query
          name: IsoCountry
          schema:
            type: string
        - description: The type of phone number of the Bundle's ownership request. Can be `local`, `mobile`, `national`, or `tollfree`.
          in: query
          name: NumberType
          schema:
            type: string
        - description: Indicates that the Bundle is a valid Bundle until a specified expiration date.
          in: query
          name: HasValidUntilDate
          schema:
            type: boolean
        - description: Can be `valid-until` or `date-updated`. Defaults to `date-created`.
          in: query
          name: SortBy
          schema:
            $ref: "#/components/schemas/bundle_enum_sort_by"
            type: string
        - description: Default is `DESC`. Can be `ASC` or `DESC`.
          in: query
          name: SortDirection
          schema:
            $ref: "#/components/schemas/bundle_enum_sort_direction"
            type: string
        - description: Date to filter Bundles having their `valid_until_date` before or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`. Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) is the acceptable date format.
          in: query
          name: ValidUntilDate
          schema:
            format: date-time
            type: string
        - description: Date to filter Bundles having their `valid_until_date` before or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`. Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) is the acceptable date format.
          in: query
          name: ValidUntilDate<
          schema:
            format: date-time
            type: string
        - description: Date to filter Bundles having their `valid_until_date` before or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`. Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) is the acceptable date format.
          in: query
          name: ValidUntilDate>
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
                    type: array
                title: ListBundleResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Bundle
      x-maturity:
        - GA
    post:
      description: Create a new Bundle.
      operationId: CreateBundle
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Bundle resource changes status.
                  type: string
                EndUserType:
                  $ref: "#/components/schemas/bundle_enum_end_user_type"
                  description: The [type of End User](https://www.twilio.com/docs/phone-numbers/regulatory/api/end-user-types) of the Bundle resource.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                IsoCountry:
                  description: The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the Bundle's phone number country ownership request.
                  type: string
                NumberType:
                  description: The type of phone number of the Bundle's ownership request. Can be `local`, `mobile`, `national`, or `toll free`.
                  type: string
                RegulationSid:
                  description: The unique string of a regulation that is associated to the Bundle resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RN[0-9a-fA-F]{32}$
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              required:
                - FriendlyName
                - Email
              title: CreateBundleRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Bundle
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - regulation_sid
        - friendly_name
      dependentProperties:
        bundle_copies:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/Copies
        evaluations:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/Evaluations
        item_assignments:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/ItemAssignments
        replace_items:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/ReplaceItems
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/Copies:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Bundles Copies for a Bundle.
      operationId: ListBundleCopy
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.bundle_copy"
                    type: array
                title: ListBundleCopyResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2BundleCopy
      x-maturity:
        - Beta
    post:
      description: Creates a new copy of a Bundle. It will internally create copies of all the bundle items (identities and documents) of the original bundle
      operationId: CreateBundleCopy
      parameters:
        - description: The unique string that identifies the Bundle to be copied.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: The string that you assigned to describe the copied bundle.
                  type: string
              title: CreateBundleCopyRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.bundle_copy"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2BundleCopy
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: bundle_copies
      parent: /RegulatoryCompliance/Bundles/{Sid}
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Evaluations associated to the Bundle resource.
      operationId: ListEvaluation
      parameters:
        - description: The unique string that identifies the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
                    type: array
                title: ListEvaluationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Evaluation
      x-maturity:
        - GA
    post:
      description: Creates an evaluation for a bundle
      operationId: CreateEvaluation
      parameters:
        - description: The unique string that identifies the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Evaluation
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      parent: /RegulatoryCompliance/Bundles/{Sid}
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Evaluation Instance.
      operationId: FetchEvaluation
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that identifies the Evaluation resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^EL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Evaluation
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      parent: /RegulatoryCompliance/Bundles/{Sid}
      pathType: instance
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Assigned Items for an account.
      operationId: ListItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
                    type: array
                title: ListItemAssignmentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2ItemAssignment
      x-maturity:
        - GA
    post:
      description: Create a new Assigned Item.
      operationId: CreateItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ObjectSid:
                  description: The SID of an object bag that holds information of the different items.
                  maxLength: 34
                  minLength: 34
                  pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
                  type: string
              required:
                - ObjectSid
              title: CreateItemAssignmentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2ItemAssignment
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      parent: /RegulatoryCompliance/Bundles/{Sid}
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments/{Sid}:
    delete:
      description: Remove an Assignment Item Instance.
      operationId: DeleteItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2ItemAssignment
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Assigned Item Instance.
      operationId: FetchItemAssignment
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the Identity resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2ItemAssignment
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
      parent: /RegulatoryCompliance/Bundles/{Sid}
      pathType: instance
  /v2/RegulatoryCompliance/Bundles/{BundleSid}/ReplaceItems:
    description: "TODO: Resource-level docs"
    post:
      description: Replaces all bundle items in the target bundle (specified in the path) with all the bundle items of the source bundle (specified by the from_bundle_sid body param)
      operationId: CreateReplaceItems
      parameters:
        - description: The unique string that identifies the Bundle where the item assignments are going to be replaced.
          in: path
          name: BundleSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FromBundleSid:
                  description: The source bundle sid to copy the item assignments from.
                  maxLength: 34
                  minLength: 34
                  pattern: ^BU[0-9a-fA-F]{32}$
                  type: string
              required:
                - FromBundleSid
              title: CreateReplaceItemsRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle.replace_items"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2ReplaceItems
      x-maturity:
        - Beta
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      className: replace_items
      defaultOutputProperties: []
      parent: /RegulatoryCompliance/Bundles/{Sid}
      pathType: list
  /v2/RegulatoryCompliance/Bundles/{Sid}:
    delete:
      description: Delete a specific Bundle.
      operationId: DeleteBundle
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Bundle
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Bundle instance.
      operationId: FetchBundle
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Bundle
      x-maturity:
        - GA
    post:
      description: Updates a Bundle in an account.
      operationId: UpdateBundle
      parameters:
        - description: The unique string that we created to identify the Bundle resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The email address that will receive updates when the Bundle resource changes status.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Status:
                  $ref: "#/components/schemas/bundle_enum_status"
                  description: The verification status of the Bundle resource.
                  type: string
                StatusCallback:
                  description: The URL we call to inform your application of status changes.
                  format: uri
                  type: string
              title: UpdateBundleRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Bundle
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - regulation_sid
        - friendly_name
      dependentProperties:
        bundle_copies:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/Copies
        evaluations:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/Evaluations
        item_assignments:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/ItemAssignments
        replace_items:
          mapping:
            bundle_sid: sid
          resource_url: /v2/RegulatoryCompliance/Bundles/{bundle_sid}/ReplaceItems
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/EndUserTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End-User Types.
      operationId: ListEndUserType
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  end_user_types:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user_type"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEndUserTypeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUserType
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/EndUserTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific End-User Type Instance.
      operationId: FetchEndUserType
      parameters:
        - description: The unique string that identifies the End-User Type resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user_type"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUserType
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/EndUsers:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all End User for an account.
      operationId: ListEndUser
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
                    type: array
                title: ListEndUserResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUser
      x-maturity:
        - GA
    post:
      description: Create a new End User.
      operationId: CreateEndUser
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Type:
                  $ref: "#/components/schemas/end_user_enum_type"
                  description: The type of end user of the Bundle resource - can be `individual` or `business`.
                  type: string
              required:
                - FriendlyName
                - Type
              title: CreateEndUserRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUser
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/EndUsers/{Sid}:
    delete:
      description: Delete a specific End User.
      operationId: DeleteEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUser
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific End User Instance.
      operationId: FetchEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUser
      x-maturity:
        - GA
    post:
      description: Update an existing End User.
      operationId: UpdateEndUser
      parameters:
        - description: The unique string created by Twilio to identify the End User resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IT[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
              title: UpdateEndUserRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2EndUser
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/Regulations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Regulations.
      operationId: ListRegulation
      parameters:
        - description: The type of End User the regulation requires - can be `individual` or `business`.
          in: query
          name: EndUserType
          schema:
            $ref: "#/components/schemas/regulation_enum_end_user_type"
            type: string
        - description: The ISO country code of the phone number's country.
          in: query
          name: IsoCountry
          schema:
            type: string
        - description: The type of phone number that the regulatory requiremnt is restricting.
          in: query
          name: NumberType
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.regulation"
                    type: array
                title: ListRegulationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Regulation
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/Regulations/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Regulation Instance.
      operationId: FetchRegulation
      parameters:
        - description: The unique string that identifies the Regulation resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.regulation"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2Regulation
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/SupportingDocumentTypes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document Types.
      operationId: ListSupportingDocumentType
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  supporting_document_types:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type"
                    type: array
                title: ListSupportingDocumentTypeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocumentType
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/SupportingDocumentTypes/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Supporting Document Type Instance.
      operationId: FetchSupportingDocumentType
      parameters:
        - description: The unique string that identifies the Supporting Document Type resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocumentType
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
  /v2/RegulatoryCompliance/SupportingDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Supporting Document for an account.
      operationId: ListSupportingDocument
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  results:
                    items:
                      $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
                    type: array
                title: ListSupportingDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocument
      x-maturity:
        - GA
    post:
      description: Create a new Supporting Document.
      operationId: CreateSupportingDocument
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the Supporting Documents resource which are derived Supporting Document Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
                Type:
                  description: The type of the Supporting Document.
                  type: string
              required:
                - FriendlyName
                - Type
              title: CreateSupportingDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
          description: Created
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocument
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: list
  /v2/RegulatoryCompliance/SupportingDocuments/{Sid}:
    delete:
      description: Delete a specific Supporting Document.
      operationId: DeleteSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocument
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Supporting Document Instance.
      operationId: FetchSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocument
      x-maturity:
        - GA
    post:
      description: Update an existing Supporting Document.
      operationId: UpdateSupportingDocument
      parameters:
        - description: The unique string created by Twilio to identify the Supporting Document resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RD[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: The set of parameters that are the attributes of the Supporting Document resource which are derived Supporting Document Types.
                FriendlyName:
                  description: The string that you assigned to describe the resource.
                  type: string
              title: UpdateSupportingDocumentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
          description: OK
      security:
        - accountSid_authToken: []
      tags:
        - NumbersV2SupportingDocument
      x-maturity:
        - GA
    servers:
      - url: https://numbers.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
      parent: /RegulatoryCompliance
      pathType: instance
components:
  schemas:
    authorization_document_enum_status:
      enum:
        - opened
        - signing
        - signed
        - canceled
        - failed
      type: string
    bulk_hosted_number_order_enum_request_status:
      enum:
        - QUEUED
        - IN_PROGRESS
        - PROCESSED
      type: string
    bundle_copy_enum_end_user_type:
      enum:
        - individual
        - business
      type: string
    bundle_copy_enum_status:
      enum:
        - draft
        - pending-review
        - in-review
        - twilio-rejected
        - twilio-approved
        - provisionally-approved
      type: string
    bundle_enum_end_user_type:
      enum:
        - individual
        - business
      type: string
    bundle_enum_sort_by:
      enum:
        - valid-until
        - date-updated
      type: string
    bundle_enum_sort_direction:
      enum:
        - ASC
        - DESC
      type: string
    bundle_enum_status:
      enum:
        - draft
        - pending-review
        - in-review
        - twilio-rejected
        - twilio-approved
        - provisionally-approved
      type: string
    dependent_hosted_number_order_enum_status:
      enum:
        - received
        - verified
        - pending-loa
        - carrier-processing
        - completed
        - failed
        - action-required
      type: string
    end_user_enum_type:
      enum:
        - individual
        - business
      type: string
    evaluation_enum_status:
      enum:
        - compliant
        - noncompliant
      type: string
    hosted_number_order_enum_status:
      enum:
        - received
        - verified
        - pending-loa
        - carrier-processing
        - completed
        - failed
        - action-required
      type: string
    numbers.v2.authorization_document:
      properties:
        address_sid:
          description: A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AD[0-9a-fA-F]{32}$
          type: string
        cc_emails:
          description: Email recipients who will be informed when an Authorization Document has been sent and signed.
          items:
            type: string
          nullable: true
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date that this resource was updated, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        email:
          description: Email that this AuthorizationDocument will be sent to for signing.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        links:
          format: uri-map
          nullable: true
          type: object
        sid:
          description: A 34 character string that uniquely identifies this AuthorizationDocument.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PX[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/authorization_document_enum_status"
          description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses."
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    numbers.v2.authorization_document.dependent_hosted_number_order:
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        address_sid:
          description: A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AD[0-9a-fA-F]{32}$
          type: string
        bulk_hosting_request_sid:
          description: A 34 character string that uniquely identifies the bulk hosting request associated with this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BH[0-9a-fA-F]{32}$
          type: string
        capabilities:
          description: A mapping of capabilities this hosted phone number will have enabled on Twilio's platform.
          format: phone-number-capabilities
          nullable: true
          properties:
            fax:
              type: boolean
            mms:
              type: boolean
            sms:
              type: boolean
            voice:
              type: boolean
          type: object
        cc_emails:
          description: Email recipients who will be informed when an Authorization Document has been sent and signed
          items:
            type: string
          nullable: true
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        contact_phone_number:
          description: The contact phone number of the person authorized to sign the Authorization Document.
          format: phone-number
          nullable: true
          type: string
        contact_title:
          description: The title of the person authorized to sign the Authorization Document for this phone number.
          nullable: true
          type: string
        date_created:
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date that this resource was updated, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        email:
          description: Email of the owner of this phone number that is being hosted.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        failure_reason:
          description: A message that explains why a hosted_number_order went to status "action-required"
          nullable: true
          type: string
        friendly_name:
          description: A human readable description of this resource, up to 128 characters.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        incoming_phone_number_sid:
          description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PN[0-9a-fA-F]{32}$
          type: string
        next_step:
          description: The next step you need to take to complete the hosted number order and request it successfully.
          nullable: true
          type: string
        phone_number:
          description: An E164 formatted phone number hosted by this HostedNumberOrder.
          format: phone-number
          nullable: true
          type: string
        sid:
          description: A 34 character string that uniquely identifies this Authorization Document
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^HR[0-9a-fA-F]{32}$
          type: string
        signing_document_sid:
          description: A 34 character string that uniquely identifies the LOA document associated with this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PX[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/dependent_hosted_number_order_enum_status"
          description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses."
          nullable: true
          type: string
      type: object
    numbers.v2.bulk_hosted_number_order:
      properties:
        bulk_hosting_sid:
          description: A 34 character string that uniquely identifies this BulkHostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BH[0-9a-fA-F]{32}$
          type: string
        date_completed:
          description: The date that this resource was completed, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_created:
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: A 128 character string that is a human-readable text that describes this resource.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        notification_email:
          description: Email address used for send notifications about this Bulk hosted number request.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        request_status:
          $ref: "#/components/schemas/bulk_hosted_number_order_enum_request_status"
          description: "A string that shows the status of the current Bulk Hosting request, it can vary between these values: 'QUEUED','IN_PROGRESS','PROCESSED'"
          nullable: true
          type: string
        results:
          description: Contains a list of all the individual hosting orders and their information, for this Bulk request. Each result object is grouped by its order status. To see a complete list of order status, please check 'https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values'.
          items: {}
          nullable: true
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        total_count:
          description: The total count of phone numbers in this Bulk hosting request.
          nullable: true
          type: integer
        url:
          description: The URL of this BulkHostedNumberOrder resource.
          format: uri
          nullable: true
          type: string
      type: object
    numbers.v2.hosted_number_order:
      properties:
        account_sid:
          description: A 34 character string that uniquely identifies the account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        address_sid:
          description: A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AD[0-9a-fA-F]{32}$
          type: string
        bulk_hosting_request_sid:
          description: A 34 character string that uniquely identifies the bulk hosting request associated with this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BH[0-9a-fA-F]{32}$
          type: string
        capabilities:
          description: Set of booleans describing the capabilities hosted on Twilio's platform. SMS is currently only supported.
          format: phone-number-capabilities
          nullable: true
          properties:
            fax:
              type: boolean
            mms:
              type: boolean
            sms:
              type: boolean
            voice:
              type: boolean
          type: object
        cc_emails:
          description: A list of emails that LOA document for this HostedNumberOrder will be carbon copied to.
          items:
            type: string
          nullable: true
          type: array
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        contact_phone_number:
          description: The contact phone number of the person authorized to sign the Authorization Document.
          format: phone-number
          nullable: true
          type: string
        contact_title:
          description: The title of the person authorized to sign the Authorization Document for this phone number.
          nullable: true
          type: string
        date_created:
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date that this resource was updated, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        email:
          description: Email of the owner of this phone number that is being hosted.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        failure_reason:
          description: A message that explains why a hosted_number_order went to status "action-required"
          nullable: true
          type: string
        friendly_name:
          description: A 128 character string that is a human-readable text that describes this resource.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        incoming_phone_number_sid:
          description: A 34 character string that uniquely identifies the [IncomingPhoneNumber](https://www.twilio.com/docs/phone-numbers/api/incomingphonenumber-resource) resource that represents the phone number being hosted.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PN[0-9a-fA-F]{32}$
          type: string
        next_step:
          description: The next step you need to take to complete the hosted number order and request it successfully.
          nullable: true
          type: string
        phone_number:
          description: Phone number to be hosted. This must be in [E.164](https://en.wikipedia.org/wiki/E.164) format, e.g., +16175551212
          format: phone-number
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        sid:
          description: A 34 character string that uniquely identifies this HostedNumberOrder.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^HR[0-9a-fA-F]{32}$
          type: string
        signing_document_sid:
          description: A 34 character string that uniquely identifies the [Authorization Document](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource) the user needs to sign.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PX[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/hosted_number_order_enum_status"
          description: "Status of this resource. It can hold one of the values: 1. Twilio Processing 2. Received, 3. Pending LOA, 4. Carrier Processing, 5. Completed, 6. Action Required, 7. Failed. See the [HostedNumberOrders Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values) section for more information on each of these statuses."
          nullable: true
          type: string
        url:
          description: The URL of this HostedNumberOrder.
          format: uri
          nullable: true
          type: string
      type: object
    numbers.v2.regulatory_compliance:
      properties: {}
      type: object
    numbers.v2.regulatory_compliance.bundle:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        email:
          description: The email address that will receive updates when the Bundle resource changes status.
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        links:
          description: The URLs of the Assigned Items of the Bundle resource.
          format: uri-map
          nullable: true
          type: object
        regulation_sid:
          description: The unique string of a regulation that is associated to the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RN[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BU[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/bundle_enum_status"
          description: The verification status of the Bundle resource.
          nullable: true
          type: string
        status_callback:
          description: The URL we call to inform your application of status changes.
          format: uri
          nullable: true
          type: string
        url:
          description: The absolute URL of the Bundle resource.
          format: uri
          nullable: true
          type: string
        valid_until:
          description: The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format when the resource will be valid until.
          format: date-time
          nullable: true
          type: string
      type: object
    numbers.v2.regulatory_compliance.bundle.bundle_copy:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Bundle resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        email:
          description: The email address that will receive updates when the Bundle resource changes status.
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
        regulation_sid:
          description: The unique string of a regulation that is associated to the Bundle resource.
          maxLength: 34
          minLength: 34
[...]
