{
  "swagger": "2.0",
  "info": {
    "title": "TaskQueue API",
    "description": "Lets you access a Google App Engine Pull Task Queue over REST.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1beta1"
  },
  "host": "www.googleapis.com",
  "basePath": "/taskqueue/v1beta1/projects",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "https://developers.google.com/appengine/docs/python/taskqueue/rest"
  },
  "paths": {
    "/{project}/taskqueues/{taskqueue}": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "description": "Get detailed information about a TaskQueue.",
        "operationId": "taskqueue.taskqueues.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TaskQueue"
            }
          }
        },
        "parameters": [
          {
            "name": "getStats",
            "in": "query",
            "description": "Whether to get stats. Optional.",
            "type": "boolean"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The project under which the queue lies.",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskqueue",
            "in": "path",
            "description": "The id of the taskqueue to get the properties of.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{project}/taskqueues/{taskqueue}/tasks/{task}": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "delete": {
        "description": "Delete a task from a TaskQueue.",
        "operationId": "taskqueue.tasks.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The project under which the queue lies.",
            "required": true,
            "type": "string"
          },
          {
            "name": "task",
            "in": "path",
            "description": "The id of the task to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskqueue",
            "in": "path",
            "description": "The taskqueue to delete a task from.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "get": {
        "description": "Get a particular task from a TaskQueue.",
        "operationId": "taskqueue.tasks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The project under which the queue lies.",
            "required": true,
            "type": "string"
          },
          {
            "name": "task",
            "in": "path",
            "description": "The task to get properties of.",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskqueue",
            "in": "path",
            "description": "The taskqueue in which the task belongs.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{project}/taskqueues/{taskqueue}/tasks/lease": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "post": {
        "description": "Lease 1 or more tasks from a TaskQueue.",
        "operationId": "taskqueue.tasks.lease",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Tasks"
            }
          }
        },
        "parameters": [
          {
            "name": "leaseSecs",
            "in": "query",
            "description": "The lease in seconds.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "numTasks",
            "in": "query",
            "description": "The number of tasks to lease.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The project under which the queue lies.",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskqueue",
            "in": "path",
            "description": "The taskqueue to lease a task from.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{project}/taskqueues/{taskqueue}/tasks": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "description": "List Tasks in a TaskQueue",
        "operationId": "taskqueue.tasks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Tasks2"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The project under which the queue lies.",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskqueue",
            "in": "path",
            "description": "The id of the taskqueue to list tasks from.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "Task": {
      "id": "Task",
      "type": "object",
      "properties": {
        "enqueueTimestamp": {
          "type": "string",
          "description": "Time (in seconds since the epoch) at which the task was enqueued.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Name of the task."
        },
        "kind": {
          "type": "string",
          "description": "The kind of object returned, in this case set to task.",
          "default": "taskqueues#task"
        },
        "leaseTimestamp": {
          "type": "string",
          "description": "Time (in seconds since the epoch) at which the task lease will expire. This value is 0 if the task isnt currently leased out to a worker.",
          "format": "int64"
        },
        "payloadBase64": {
          "type": "string",
          "description": "A bag of bytes which is the task payload. The payload on the JSON side is always Base64 encoded."
        },
        "queueName": {
          "type": "string",
          "description": "Name of the queue that the task is in."
        }
      }
    },
    "TaskQueue": {
      "id": "TaskQueue",
      "type": "object",
      "properties": {
        "acl": {
          "type": "object",
          "description": "ACLs that are applicable to this TaskQueue object.",
          "properties": {
            "adminEmails": {
              "type": "array",
              "description": "Email addresses of users who are \"admins\" of the TaskQueue. This means they can control the queue, eg set ACLs for the queue.",
              "items": {
                "type": "string"
              }
            },
            "consumerEmails": {
              "type": "array",
              "description": "Email addresses of users who can \"consume\" tasks from the TaskQueue. This means they can Dequeue and Delete tasks from the queue.",
              "items": {
                "type": "string"
              }
            },
            "producerEmails": {
              "type": "array",
              "description": "Email addresses of users who can \"produce\" tasks into the TaskQueue. This means they can Insert tasks into the queue.",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Name of the taskqueue."
        },
        "kind": {
          "type": "string",
          "description": "The kind of REST object returned, in this case taskqueue.",
          "default": "taskqueues#taskqueue"
        },
        "maxLeases": {
          "type": "integer",
          "description": "The number of times we should lease out tasks before giving up on them. If unset we lease them out forever until a worker deletes the task.",
          "format": "int32"
        },
        "stats": {
          "type": "object",
          "description": "Statistics for the TaskQueue object in question.",
          "properties": {
            "leasedLastHour": {
              "type": "string",
              "description": "Number of tasks leased in the last hour.",
              "format": "int64"
            },
            "leasedLastMinute": {
              "type": "string",
              "description": "Number of tasks leased in the last minute.",
              "format": "int64"
            },
            "oldestTask": {
              "type": "string",
              "description": "The timestamp (in seconds since the epoch) of the oldest unfinished task.",
              "format": "int64"
            },
            "totalTasks": {
              "type": "integer",
              "description": "Number of tasks in the queue.",
              "format": "int32"
            }
          }
        }
      }
    },
    "Tasks": {
      "id": "Tasks",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The actual list of tasks returned as a result of the lease operation.",
          "items": {
            "$ref": "#/definitions/Task"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of object returned, a list of tasks.",
          "default": "taskqueue#tasks"
        }
      }
    },
    "Tasks2": {
      "id": "Tasks2",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The actual list of tasks currently active in the TaskQueue.",
          "items": {
            "$ref": "#/definitions/Task"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of object returned, a list of tasks.",
          "default": "taskqueues#tasks"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  }
}