swagger: '2.0'
schemes:
  - https
  - http
host: cloudsearch.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region">Regions and Endpoints</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudSearch
  version: '2011-02-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudsearch-2011-02-01.normal.json'
      x-apisguru-direct: true
  x-preferred: false
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: cloudsearch
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/cloudsearch/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=CreateDomain':
    get:
      description: Creates a new search domain.
      operationId: GET CreateDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - CreateDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '409':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: CreateDomain
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new search domain.
      operationId: POST CreateDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - CreateDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '409':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: CreateDomain
  '/#Action=DefineIndexField':
    get:
      description: 'Configures an <code>IndexField</code> for the search domain. Used to create new fields and modify existing ones. If the field exists, the new configuration replaces the old one. You can configure a maximum of 200 index fields.'
      operationId: GET DefineIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The name of a field in the search index. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          in: query
          name: IndexField.IndexFieldName
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The type of field. Based on this type, exactly one of the <a>UIntOptions</a>, <a>LiteralOptions</a> or <a>TextOptions</a> must be present.
          in: query
          name: IndexField.IndexFieldType
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for an unsigned integer field. Present if <code>IndexFieldType</code> specifies the field is of type unsigned integer.
          in: query
          name: IndexField.UIntOptions
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for literal field. Present if <code>IndexFieldType</code> specifies the field is of type literal.
          in: query
          name: IndexField.LiteralOptions
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for text field. Present if <code>IndexFieldType</code> specifies the field is of type text.
          in: query
          name: IndexField.TextOptions
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            An optional list of source attributes that provide data for this index field. If not specified, the data is pulled from a source attribute with the same name as this <code>IndexField</code>. When one or more source attributes are specified, an optional data transformation can be applied to the source data when populating the index field. You can configure a maximum of 20 sources for an <code>IndexField</code>.
          in: query
          items:
            type: string
          name: IndexField.SourceAttributes
          type: array
        - enum:
            - DefineIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineIndexField
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures an <code>IndexField</code> for the search domain. Used to create new fields and modify existing ones. If the field exists, the new configuration replaces the old one. You can configure a maximum of 200 index fields.'
      operationId: POST DefineIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The name of a field in the search index. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          in: formData
          name: IndexField.IndexFieldName
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The type of field. Based on this type, exactly one of the <a>UIntOptions</a>, <a>LiteralOptions</a> or <a>TextOptions</a> must be present.
          in: formData
          name: IndexField.IndexFieldType
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for an unsigned integer field. Present if <code>IndexFieldType</code> specifies the field is of type unsigned integer.
          in: formData
          name: IndexField.UIntOptions
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for literal field. Present if <code>IndexFieldType</code> specifies the field is of type literal.
          in: formData
          name: IndexField.LiteralOptions
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for text field. Present if <code>IndexFieldType</code> specifies the field is of type text.
          in: formData
          name: IndexField.TextOptions
          type: string
        - description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            An optional list of source attributes that provide data for this index field. If not specified, the data is pulled from a source attribute with the same name as this <code>IndexField</code>. When one or more source attributes are specified, an optional data transformation can be applied to the source data when populating the index field. You can configure a maximum of 20 sources for an <code>IndexField</code>.
          in: formData
          items:
            type: string
          name: IndexField.SourceAttributes
          type: array
        - enum:
            - DefineIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineIndexField
  '/#Action=DefineRankExpression':
    get:
      description: 'Configures a <code>RankExpression</code> for the search domain. Used to create new rank expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. You can configure a maximum of 50 rank expressions.'
      operationId: GET DefineRankExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            The name of a rank expression. Rank expression names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          in: query
          name: RankExpression.RankName
          type: string
        - description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            <p>The expression to evaluate for ranking or thresholding while processing a search request. The <code>RankExpression</code> syntax is based on JavaScript expressions and supports:</p> <ul> <li>Integer, floating point, hex and octal literals</li> <li>Shortcut evaluation of logical operators such that an expression <code>a || b</code> evaluates to the value <code>a</code>, if <code>a</code> is true, without evaluating <code>b</code> at all</li> <li>JavaScript order of precedence for operators</li> <li>Arithmetic operators: <code>+ - * / %</code> </li> <li>Boolean operators (including the ternary operator)</li> <li>Bitwise operators</li> <li>Comparison operators</li> <li>Common mathematic functions: <code>abs ceil erf exp floor lgamma ln log2 log10 max min sqrt pow</code> </li> <li>Trigonometric library functions: <code>acosh acos asinh asin atanh atan cosh cos sinh sin tanh tan</code> </li> <li>Random generation of a number between 0 and 1: <code>rand</code> </li> <li>Current time in epoch: <code>time</code> </li> <li>The <code>min max</code> functions that operate on a variable argument list</li> </ul> <p>Intermediate results are calculated as double precision floating point values. The final return value of a <code>RankExpression</code> is automatically converted from floating point to a 32-bit unsigned integer by rounding to the nearest integer, with a natural floor of 0 and a ceiling of max(uint32_t), 4294967295. Mathematical errors such as dividing by 0 will fail during evaluation and return a value of 0.</p> <p>The source data for a <code>RankExpression</code> can be the name of an <code>IndexField</code> of type uint, another <code>RankExpression</code> or the reserved name <i>text_relevance</i>. The text_relevance source is defined to return an integer from 0 to 1000 (inclusive) to indicate how relevant a document is to the search request, taking into account repetition of search terms in the document and proximity of search terms to each other in each matching <code>IndexField</code> in the document.</p> <p>For more information about using rank expressions to customize ranking, see the Amazon CloudSearch Developer Guide.</p>
          in: query
          name: RankExpression.RankExpression
          type: string
        - enum:
            - DefineRankExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineRankExpression
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures a <code>RankExpression</code> for the search domain. Used to create new rank expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. You can configure a maximum of 50 rank expressions.'
      operationId: POST DefineRankExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            The name of a rank expression. Rank expression names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          in: formData
          name: RankExpression.RankName
          type: string
        - description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            <p>The expression to evaluate for ranking or thresholding while processing a search request. The <code>RankExpression</code> syntax is based on JavaScript expressions and supports:</p> <ul> <li>Integer, floating point, hex and octal literals</li> <li>Shortcut evaluation of logical operators such that an expression <code>a || b</code> evaluates to the value <code>a</code>, if <code>a</code> is true, without evaluating <code>b</code> at all</li> <li>JavaScript order of precedence for operators</li> <li>Arithmetic operators: <code>+ - * / %</code> </li> <li>Boolean operators (including the ternary operator)</li> <li>Bitwise operators</li> <li>Comparison operators</li> <li>Common mathematic functions: <code>abs ceil erf exp floor lgamma ln log2 log10 max min sqrt pow</code> </li> <li>Trigonometric library functions: <code>acosh acos asinh asin atanh atan cosh cos sinh sin tanh tan</code> </li> <li>Random generation of a number between 0 and 1: <code>rand</code> </li> <li>Current time in epoch: <code>time</code> </li> <li>The <code>min max</code> functions that operate on a variable argument list</li> </ul> <p>Intermediate results are calculated as double precision floating point values. The final return value of a <code>RankExpression</code> is automatically converted from floating point to a 32-bit unsigned integer by rounding to the nearest integer, with a natural floor of 0 and a ceiling of max(uint32_t), 4294967295. Mathematical errors such as dividing by 0 will fail during evaluation and return a value of 0.</p> <p>The source data for a <code>RankExpression</code> can be the name of an <code>IndexField</code> of type uint, another <code>RankExpression</code> or the reserved name <i>text_relevance</i>. The text_relevance source is defined to return an integer from 0 to 1000 (inclusive) to indicate how relevant a document is to the search request, taking into account repetition of search terms in the document and proximity of search terms to each other in each matching <code>IndexField</code> in the document.</p> <p>For more information about using rank expressions to customize ranking, see the Amazon CloudSearch Developer Guide.</p>
          in: formData
          name: RankExpression.RankExpression
          type: string
        - enum:
            - DefineRankExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DefineRankExpression
  '/#Action=DeleteDomain':
    get:
      description: Permanently deletes a search domain and all of its data.
      operationId: GET DeleteDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DeleteDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteDomain
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Permanently deletes a search domain and all of its data.
      operationId: POST DeleteDomain
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DeleteDomain
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteDomain
  '/#Action=DeleteIndexField':
    get:
      description: Removes an <code>IndexField</code> from the search domain.
      operationId: GET DeleteIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          in: query
          maxLength: 64
          minLength: 1
          name: IndexFieldName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteIndexField
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes an <code>IndexField</code> from the search domain.
      operationId: POST DeleteIndexField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          in: formData
          maxLength: 64
          minLength: 1
          name: IndexFieldName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteIndexField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteIndexField
  '/#Action=DeleteRankExpression':
    get:
      description: Removes a <code>RankExpression</code> from the search domain.
      operationId: GET DeleteRankExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          in: query
          maxLength: 64
          minLength: 1
          name: RankName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteRankExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteRankExpression
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a <code>RankExpression</code> from the search domain.
      operationId: POST DeleteRankExpression
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          in: formData
          maxLength: 64
          minLength: 1
          name: RankName
          pattern: '[a-z][a-z0-9_]*'
          required: true
          type: string
        - enum:
            - DeleteRankExpression
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DeleteRankExpression
  '/#Action=DescribeAvailabilityOptions':
    get:
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET DescribeAvailabilityOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeAvailabilityOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeAvailabilityOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST DescribeAvailabilityOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeAvailabilityOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeAvailabilityOptions
  '/#Action=DescribeDefaultSearchField':
    get:
      description: Gets the default search field configured for the search domain.
      operationId: GET DescribeDefaultSearchField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeDefaultSearchField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeDefaultSearchField
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the default search field configured for the search domain.
      operationId: POST DescribeDefaultSearchField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeDefaultSearchField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeDefaultSearchField
  '/#Action=DescribeDomains':
    get:
      description: Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default.
      operationId: GET DescribeDomains
      parameters:
        - description: A list of domain names.
          in: query
          items:
            type: string
          name: DomainNames
          required: false
          type: array
        - enum:
            - DescribeDomains
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeDomains
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default.
      operationId: POST DescribeDomains
      parameters:
        - description: A list of domain names.
          in: formData
          items:
            type: string
          name: DomainNames
          required: false
          type: array
        - enum:
            - DescribeDomains
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeDomains
  '/#Action=DescribeIndexFields':
    get:
      description: Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. Shows all fields by default.
      operationId: GET DescribeIndexFields
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Limits the <code>DescribeIndexFields</code> response to the specified fields.
          in: query
          items:
            type: string
          name: FieldNames
          required: false
          type: array
        - enum:
            - DescribeIndexFields
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeIndexFields
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. Shows all fields by default.
      operationId: POST DescribeIndexFields
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Limits the <code>DescribeIndexFields</code> response to the specified fields.
          in: formData
          items:
            type: string
          name: FieldNames
          required: false
          type: array
        - enum:
            - DescribeIndexFields
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeIndexFields
  '/#Action=DescribeRankExpressions':
    get:
      description: 'Gets the rank expressions configured for the search domain. Can be limited to specific rank expressions by name. Shows all rank expressions by default. '
      operationId: GET DescribeRankExpressions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Limits the <code>DescribeRankExpressions</code> response to the specified fields.
          in: query
          items:
            type: string
          name: RankNames
          required: false
          type: array
        - enum:
            - DescribeRankExpressions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRankExpressionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeRankExpressions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets the rank expressions configured for the search domain. Can be limited to specific rank expressions by name. Shows all rank expressions by default. '
      operationId: POST DescribeRankExpressions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: Limits the <code>DescribeRankExpressions</code> response to the specified fields.
          in: formData
          items:
            type: string
          name: RankNames
          required: false
          type: array
        - enum:
            - DescribeRankExpressions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRankExpressionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeRankExpressions
  '/#Action=DescribeServiceAccessPolicies':
    get:
      description: Gets information about the resource-based policies that control access to the domain's document and search services.
      operationId: GET DescribeServiceAccessPolicies
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeServiceAccessPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServiceAccessPoliciesResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeServiceAccessPolicies
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about the resource-based policies that control access to the domain's document and search services.
      operationId: POST DescribeServiceAccessPolicies
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeServiceAccessPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServiceAccessPoliciesResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeServiceAccessPolicies
  '/#Action=DescribeStemmingOptions':
    get:
      description: Gets the stemming dictionary configured for the search domain.
      operationId: GET DescribeStemmingOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeStemmingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeStemmingOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the stemming dictionary configured for the search domain.
      operationId: POST DescribeStemmingOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeStemmingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeStemmingOptions
  '/#Action=DescribeStopwordOptions':
    get:
      description: Gets the stopwords configured for the search domain.
      operationId: GET DescribeStopwordOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeStopwordOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStopwordOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeStopwordOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the stopwords configured for the search domain.
      operationId: POST DescribeStopwordOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeStopwordOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStopwordOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeStopwordOptions
  '/#Action=DescribeSynonymOptions':
    get:
      description: Gets the synonym dictionary configured for the search domain.
      operationId: GET DescribeSynonymOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeSynonymOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSynonymOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeSynonymOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the synonym dictionary configured for the search domain.
      operationId: POST DescribeSynonymOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - DescribeSynonymOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSynonymOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: DescribeSynonymOptions
  '/#Action=IndexDocuments':
    get:
      description: Tells the search domain to start indexing its documents using the latest text processing options and <code>IndexFields</code>. This operation must be invoked to make options whose <a>OptionStatus</a> has <code>OptionState</code> of <code>RequiresIndexDocuments</code> visible in search results.
      operationId: GET IndexDocuments
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - IndexDocuments
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IndexDocumentsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: IndexDocuments
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Tells the search domain to start indexing its documents using the latest text processing options and <code>IndexFields</code>. This operation must be invoked to make options whose <a>OptionStatus</a> has <code>OptionState</code> of <code>RequiresIndexDocuments</code> visible in search results.
      operationId: POST IndexDocuments
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - enum:
            - IndexDocuments
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IndexDocumentsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: IndexDocuments
  '/#Action=UpdateAvailabilityOptions':
    get:
      description: 'Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: GET UpdateAvailabilityOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'You expand an existing search domain to a second Availability Zone by setting the Multi-AZ option to true. Similarly, you can turn off the Multi-AZ option to downgrade the domain to a single Availability Zone by setting the Multi-AZ option to <code>false</code>. '
          in: query
          name: MultiAZ
          required: true
          type: boolean
        - enum:
            - UpdateAvailabilityOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateAvailabilityOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      operationId: POST UpdateAvailabilityOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'You expand an existing search domain to a second Availability Zone by setting the Multi-AZ option to true. Similarly, you can turn off the Multi-AZ option to downgrade the domain to a single Availability Zone by setting the Multi-AZ option to <code>false</code>. '
          in: formData
          name: MultiAZ
          required: true
          type: boolean
        - enum:
            - UpdateAvailabilityOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          schema:
            $ref: '#/definitions/DisabledOperationException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateAvailabilityOptions
  '/#Action=UpdateDefaultSearchField':
    get:
      description: 'Configures the default search field for the search domain. The default search field is the text field that is searched when a search request does not specify which fields to search. By default, it is configured to include the contents of all of the domain''s text fields. '
      operationId: GET UpdateDefaultSearchField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'The text field to search if the search request does not specify which field to search. The default search field is used when search terms are specified with the <code>q</code> parameter, or if a match expression specified with the <code>bq</code> parameter does not constrain the search to a particular field. The default is an empty string, which automatically searches all text fields.'
          in: query
          name: DefaultSearchField
          required: true
          type: string
        - enum:
            - UpdateDefaultSearchField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateDefaultSearchField
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Configures the default search field for the search domain. The default search field is the text field that is searched when a search request does not specify which fields to search. By default, it is configured to include the contents of all of the domain''s text fields. '
      operationId: POST UpdateDefaultSearchField
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'The text field to search if the search request does not specify which field to search. The default search field is used when search terms are specified with the <code>q</code> parameter, or if a match expression specified with the <code>bq</code> parameter does not constrain the search to a particular field. The default is an empty string, which automatically searches all text fields.'
          in: formData
          name: DefaultSearchField
          required: true
          type: string
        - enum:
            - UpdateDefaultSearchField
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateDefaultSearchField
  '/#Action=UpdateServiceAccessPolicies':
    get:
      description: Configures the policies that control access to the domain's document and search services. The maximum size of an access policy document is 100 KB.
      operationId: GET UpdateServiceAccessPolicies
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: '<p>An IAM access policy as described in <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?AccessPolicyLanguage.html" target="_blank">The Access Policy Language</a> in <i>Using AWS Identity and Access Management</i>. The maximum size of an access policy document is 100 KB.</p> <p>Example: <code>{"Statement": [{"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:search/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }}, {"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:documents/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }} ] }</code></p>'
          in: query
          name: AccessPolicies
          required: true
          type: string
        - enum:
            - UpdateServiceAccessPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServiceAccessPoliciesResponse'
        '409':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateServiceAccessPolicies
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Configures the policies that control access to the domain's document and search services. The maximum size of an access policy document is 100 KB.
      operationId: POST UpdateServiceAccessPolicies
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: '<p>An IAM access policy as described in <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?AccessPolicyLanguage.html" target="_blank">The Access Policy Language</a> in <i>Using AWS Identity and Access Management</i>. The maximum size of an access policy document is 100 KB.</p> <p>Example: <code>{"Statement": [{"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:search/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }}, {"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:documents/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }} ] }</code></p>'
          in: formData
          name: AccessPolicies
          required: true
          type: string
        - enum:
            - UpdateServiceAccessPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServiceAccessPoliciesResponse'
        '409':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateServiceAccessPolicies
  '/#Action=UpdateStemmingOptions':
    get:
      description: Configures a stemming dictionary for the search domain. The stemming dictionary is used during indexing and when processing search requests. The maximum size of the stemming dictionary is 500 KB.
      operationId: GET UpdateStemmingOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Maps terms to their stems, serialized as a JSON document. The document has a single object with one property "stems" whose value is an object mapping terms to their stems. The maximum size of a stemming document is 500 KB. Example: <code>{ "stems": {"people": "person", "walking": "walk"} }</code>'
          in: query
          name: Stems
          required: true
          type: string
        - enum:
            - UpdateStemmingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateStemmingOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Configures a stemming dictionary for the search domain. The stemming dictionary is used during indexing and when processing search requests. The maximum size of the stemming dictionary is 500 KB.
      operationId: POST UpdateStemmingOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: formData
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
        - description: 'Maps terms to their stems, serialized as a JSON document. The document has a single object with one property "stems" whose value is an object mapping terms to their stems. The maximum size of a stemming document is 500 KB. Example: <code>{ "stems": {"people": "person", "walking": "walk"} }</code>'
          in: formData
          name: Stems
          required: true
          type: string
        - enum:
            - UpdateStemmingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-02-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
          x-aws-exception: true
        '480':
          description: BaseException
          schema:
            $ref: '#/definitions/BaseException'
          x-aws-exception: true
        '500':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
          x-aws-exception: true
      x-aws-operation-name: UpdateStemmingOptions
  '/#Action=UpdateStopwordOptions':
    get:
      description: Configures stopwords for the search domain. Stopwords are used during indexing and when processing search requests. The maximum size of the stopwords dictionary is 10 KB.
      operationId: GET UpdateStopwordOptions
      parameters:
        - description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          in: query
          maxLength: 28
          minLength: 3
          name: DomainName
          pattern: '[a-z][a-z0-9\-]+'
          required: true
          type: string
[...]
