swagger: '2.0'
info:
  version: '2011-02-01'
  x-release: v4
  title: Amazon CloudSearch
  description: '<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region">Regions and Endpoints</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cloudsearch
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudsearch-2011-02-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: false
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/cloudsearch/'
host: cloudsearch.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://cloudsearch.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon CloudSearch multi-region endpoint
  - url: 'https://cloudsearch.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon CloudSearch multi-region endpoint
  - url: 'http://cloudsearch.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon CloudSearch endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://cloudsearch.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon CloudSearch endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=CreateDomain':
    get:
      x-aws-operation-name: CreateDomain
      operationId: GET CreateDomain
      description: Creates a new search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '409':
          description: LimitExceededException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/LimitExceededException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDomain
      operationId: POST CreateDomain
      description: Creates a new search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResponse'
        '409':
          description: LimitExceededException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/LimitExceededException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DefineIndexField':
    get:
      x-aws-operation-name: DefineIndexField
      operationId: GET DefineIndexField
      description: 'Configures an <code>IndexField</code> for the search domain. Used to create new fields and modify existing ones. If the field exists, the new configuration replaces the old one. You can configure a maximum of 200 index fields.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexField.IndexFieldName
          in: query
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The name of a field in the search index. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          type: string
        - name: IndexField.IndexFieldType
          in: query
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The type of field. Based on this type, exactly one of the <a>UIntOptions</a>, <a>LiteralOptions</a> or <a>TextOptions</a> must be present.
          type: string
        - name: IndexField.UIntOptions
          in: query
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for an unsigned integer field. Present if <code>IndexFieldType</code> specifies the field is of type unsigned integer.
          type: string
        - name: IndexField.LiteralOptions
          in: query
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for literal field. Present if <code>IndexFieldType</code> specifies the field is of type literal.
          type: string
        - name: IndexField.TextOptions
          in: query
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for text field. Present if <code>IndexFieldType</code> specifies the field is of type text.
          type: string
        - name: IndexField.SourceAttributes
          in: query
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            An optional list of source attributes that provide data for this index field. If not specified, the data is pulled from a source attribute with the same name as this <code>IndexField</code>. When one or more source attributes are specified, an optional data transformation can be applied to the source data when populating the index field. You can configure a maximum of 20 sources for an <code>IndexField</code>.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DefineIndexField
      operationId: POST DefineIndexField
      description: 'Configures an <code>IndexField</code> for the search domain. Used to create new fields and modify existing ones. If the field exists, the new configuration replaces the old one. You can configure a maximum of 200 index fields.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexField.IndexFieldName
          in: formData
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The name of a field in the search index. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          type: string
        - name: IndexField.IndexFieldType
          in: formData
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            The type of field. Based on this type, exactly one of the <a>UIntOptions</a>, <a>LiteralOptions</a> or <a>TextOptions</a> must be present.
          type: string
        - name: IndexField.UIntOptions
          in: formData
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for an unsigned integer field. Present if <code>IndexFieldType</code> specifies the field is of type unsigned integer.
          type: string
        - name: IndexField.LiteralOptions
          in: formData
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for literal field. Present if <code>IndexFieldType</code> specifies the field is of type literal.
          type: string
        - name: IndexField.TextOptions
          in: formData
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            Options for text field. Present if <code>IndexFieldType</code> specifies the field is of type text.
          type: string
        - name: IndexField.SourceAttributes
          in: formData
          description: |-
            Defines a field in the index, including its name, type, and the source of its data. The <code>IndexFieldType</code> indicates which of the options will be present. It is invalid to specify options for a type other than the <code>IndexFieldType</code>.
            An optional list of source attributes that provide data for this index field. If not specified, the data is pulled from a source attribute with the same name as this <code>IndexField</code>. When one or more source attributes are specified, an optional data transformation can be applied to the source data when populating the index field. You can configure a maximum of 20 sources for an <code>IndexField</code>.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DefineRankExpression':
    get:
      x-aws-operation-name: DefineRankExpression
      operationId: GET DefineRankExpression
      description: 'Configures a <code>RankExpression</code> for the search domain. Used to create new rank expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. You can configure a maximum of 50 rank expressions.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: RankExpression.RankName
          in: query
          description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            The name of a rank expression. Rank expression names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          type: string
        - name: RankExpression.RankExpression
          in: query
          description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            <p>The expression to evaluate for ranking or thresholding while processing a search request. The <code>RankExpression</code> syntax is based on JavaScript expressions and supports:</p> <ul> <li>Integer, floating point, hex and octal literals</li> <li>Shortcut evaluation of logical operators such that an expression <code>a || b</code> evaluates to the value <code>a</code>, if <code>a</code> is true, without evaluating <code>b</code> at all</li> <li>JavaScript order of precedence for operators</li> <li>Arithmetic operators: <code>+ - * / %</code> </li> <li>Boolean operators (including the ternary operator)</li> <li>Bitwise operators</li> <li>Comparison operators</li> <li>Common mathematic functions: <code>abs ceil erf exp floor lgamma ln log2 log10 max min sqrt pow</code> </li> <li>Trigonometric library functions: <code>acosh acos asinh asin atanh atan cosh cos sinh sin tanh tan</code> </li> <li>Random generation of a number between 0 and 1: <code>rand</code> </li> <li>Current time in epoch: <code>time</code> </li> <li>The <code>min max</code> functions that operate on a variable argument list</li> </ul> <p>Intermediate results are calculated as double precision floating point values. The final return value of a <code>RankExpression</code> is automatically converted from floating point to a 32-bit unsigned integer by rounding to the nearest integer, with a natural floor of 0 and a ceiling of max(uint32_t), 4294967295. Mathematical errors such as dividing by 0 will fail during evaluation and return a value of 0.</p> <p>The source data for a <code>RankExpression</code> can be the name of an <code>IndexField</code> of type uint, another <code>RankExpression</code> or the reserved name <i>text_relevance</i>. The text_relevance source is defined to return an integer from 0 to 1000 (inclusive) to indicate how relevant a document is to the search request, taking into account repetition of search terms in the document and proximity of search terms to each other in each matching <code>IndexField</code> in the document.</p> <p>For more information about using rank expressions to customize ranking, see the Amazon CloudSearch Developer Guide.</p>
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineRankExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DefineRankExpression
      operationId: POST DefineRankExpression
      description: 'Configures a <code>RankExpression</code> for the search domain. Used to create new rank expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. You can configure a maximum of 50 rank expressions.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefineRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: RankExpression.RankName
          in: formData
          description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            The name of a rank expression. Rank expression names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.
          type: string
        - name: RankExpression.RankExpression
          in: formData
          description: |-
            A named expression that can be evaluated at search time and used for ranking or thresholding in a search query. 
            <p>The expression to evaluate for ranking or thresholding while processing a search request. The <code>RankExpression</code> syntax is based on JavaScript expressions and supports:</p> <ul> <li>Integer, floating point, hex and octal literals</li> <li>Shortcut evaluation of logical operators such that an expression <code>a || b</code> evaluates to the value <code>a</code>, if <code>a</code> is true, without evaluating <code>b</code> at all</li> <li>JavaScript order of precedence for operators</li> <li>Arithmetic operators: <code>+ - * / %</code> </li> <li>Boolean operators (including the ternary operator)</li> <li>Bitwise operators</li> <li>Comparison operators</li> <li>Common mathematic functions: <code>abs ceil erf exp floor lgamma ln log2 log10 max min sqrt pow</code> </li> <li>Trigonometric library functions: <code>acosh acos asinh asin atanh atan cosh cos sinh sin tanh tan</code> </li> <li>Random generation of a number between 0 and 1: <code>rand</code> </li> <li>Current time in epoch: <code>time</code> </li> <li>The <code>min max</code> functions that operate on a variable argument list</li> </ul> <p>Intermediate results are calculated as double precision floating point values. The final return value of a <code>RankExpression</code> is automatically converted from floating point to a 32-bit unsigned integer by rounding to the nearest integer, with a natural floor of 0 and a ceiling of max(uint32_t), 4294967295. Mathematical errors such as dividing by 0 will fail during evaluation and return a value of 0.</p> <p>The source data for a <code>RankExpression</code> can be the name of an <code>IndexField</code> of type uint, another <code>RankExpression</code> or the reserved name <i>text_relevance</i>. The text_relevance source is defined to return an integer from 0 to 1000 (inclusive) to indicate how relevant a document is to the search request, taking into account repetition of search terms in the document and proximity of search terms to each other in each matching <code>IndexField</code> in the document.</p> <p>For more information about using rank expressions to customize ranking, see the Amazon CloudSearch Developer Guide.</p>
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DefineRankExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DeleteDomain':
    get:
      x-aws-operation-name: DeleteDomain
      operationId: GET DeleteDomain
      description: Permanently deletes a search domain and all of its data.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDomain
      operationId: POST DeleteDomain
      description: Permanently deletes a search domain and all of its data.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResponse'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDomain
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DeleteIndexField':
    get:
      x-aws-operation-name: DeleteIndexField
      operationId: GET DeleteIndexField
      description: Removes an <code>IndexField</code> from the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexFieldName
          in: query
          required: true
          description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteIndexField
      operationId: POST DeleteIndexField
      description: Removes an <code>IndexField</code> from the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIndexFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: IndexFieldName
          in: formData
          required: true
          description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIndexField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DeleteRankExpression':
    get:
      x-aws-operation-name: DeleteRankExpression
      operationId: GET DeleteRankExpression
      description: Removes a <code>RankExpression</code> from the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: RankName
          in: query
          required: true
          description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteRankExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteRankExpression
      operationId: POST DeleteRankExpression
      description: Removes a <code>RankExpression</code> from the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRankExpressionResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: RankName
          in: formData
          required: true
          description: 'A string that represents the name of an index field. Field names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Uppercase letters and hyphens are not allowed. The names "body", "docid", and "text_relevance" are reserved and cannot be specified as field or rank expression names.'
          type: string
          pattern: '[a-z][a-z0-9_]*'
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteRankExpression
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeAvailabilityOptions':
    get:
      x-aws-operation-name: DescribeAvailabilityOptions
      operationId: GET DescribeAvailabilityOptions
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAvailabilityOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAvailabilityOptions
      operationId: POST DescribeAvailabilityOptions
      description: 'Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAvailabilityOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeDefaultSearchField':
    get:
      x-aws-operation-name: DescribeDefaultSearchField
      operationId: GET DescribeDefaultSearchField
      description: Gets the default search field configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDefaultSearchField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDefaultSearchField
      operationId: POST DescribeDefaultSearchField
      description: Gets the default search field configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDefaultSearchField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeDomains':
    get:
      x-aws-operation-name: DescribeDomains
      operationId: GET DescribeDomains
      description: Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainNames
          in: query
          required: false
          description: A list of domain names.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDomains
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDomains
      operationId: POST DescribeDomains
      description: Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainsResponse'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainNames
          in: formData
          required: false
          description: A list of domain names.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDomains
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeIndexFields':
    get:
      x-aws-operation-name: DescribeIndexFields
      operationId: GET DescribeIndexFields
      description: Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. Shows all fields by default.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: FieldNames
          in: query
          required: false
          description: Limits the <code>DescribeIndexFields</code> response to the specified fields.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeIndexFields
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeIndexFields
      operationId: POST DescribeIndexFields
      description: Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. Shows all fields by default.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIndexFieldsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: FieldNames
          in: formData
          required: false
          description: Limits the <code>DescribeIndexFields</code> response to the specified fields.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeIndexFields
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeRankExpressions':
    get:
      x-aws-operation-name: DescribeRankExpressions
      operationId: GET DescribeRankExpressions
      description: 'Gets the rank expressions configured for the search domain. Can be limited to specific rank expressions by name. Shows all rank expressions by default. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRankExpressionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: RankNames
          in: query
          required: false
          description: Limits the <code>DescribeRankExpressions</code> response to the specified fields.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeRankExpressions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeRankExpressions
      operationId: POST DescribeRankExpressions
      description: 'Gets the rank expressions configured for the search domain. Can be limited to specific rank expressions by name. Shows all rank expressions by default. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRankExpressionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: RankNames
          in: formData
          required: false
          description: Limits the <code>DescribeRankExpressions</code> response to the specified fields.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeRankExpressions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeServiceAccessPolicies':
    get:
      x-aws-operation-name: DescribeServiceAccessPolicies
      operationId: GET DescribeServiceAccessPolicies
      description: Gets information about the resource-based policies that control access to the domain's document and search services.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServiceAccessPoliciesResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeServiceAccessPolicies
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeServiceAccessPolicies
      operationId: POST DescribeServiceAccessPolicies
      description: Gets information about the resource-based policies that control access to the domain's document and search services.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServiceAccessPoliciesResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeServiceAccessPolicies
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeStemmingOptions':
    get:
      x-aws-operation-name: DescribeStemmingOptions
      operationId: GET DescribeStemmingOptions
      description: Gets the stemming dictionary configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeStemmingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeStemmingOptions
      operationId: POST DescribeStemmingOptions
      description: Gets the stemming dictionary configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeStemmingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeStopwordOptions':
    get:
      x-aws-operation-name: DescribeStopwordOptions
      operationId: GET DescribeStopwordOptions
      description: Gets the stopwords configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStopwordOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeStopwordOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeStopwordOptions
      operationId: POST DescribeStopwordOptions
      description: Gets the stopwords configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStopwordOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeStopwordOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=DescribeSynonymOptions':
    get:
      x-aws-operation-name: DescribeSynonymOptions
      operationId: GET DescribeSynonymOptions
      description: Gets the synonym dictionary configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSynonymOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeSynonymOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeSynonymOptions
      operationId: POST DescribeSynonymOptions
      description: Gets the synonym dictionary configured for the search domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSynonymOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeSynonymOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=IndexDocuments':
    get:
      x-aws-operation-name: IndexDocuments
      operationId: GET IndexDocuments
      description: Tells the search domain to start indexing its documents using the latest text processing options and <code>IndexFields</code>. This operation must be invoked to make options whose <a>OptionStatus</a> has <code>OptionState</code> of <code>RequiresIndexDocuments</code> visible in search results.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IndexDocumentsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - IndexDocuments
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: IndexDocuments
      operationId: POST IndexDocuments
      description: Tells the search domain to start indexing its documents using the latest text processing options and <code>IndexFields</code>. This operation must be invoked to make options whose <a>OptionStatus</a> has <code>OptionState</code> of <code>RequiresIndexDocuments</code> visible in search results.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IndexDocumentsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - IndexDocuments
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=UpdateAvailabilityOptions':
    get:
      x-aws-operation-name: UpdateAvailabilityOptions
      operationId: GET UpdateAvailabilityOptions
      description: 'Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: MultiAZ
          in: query
          required: true
          description: 'You expand an existing search domain to a second Availability Zone by setting the Multi-AZ option to true. Similarly, you can turn off the Multi-AZ option to downgrade the domain to a single Availability Zone by setting the Multi-AZ option to <code>false</code>. '
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateAvailabilityOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: UpdateAvailabilityOptions
      operationId: POST UpdateAvailabilityOptions
      description: 'Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href="http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html" target="_blank">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAvailabilityOptionsResponse'
        '409':
          description: DisabledOperationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/DisabledOperationException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: MultiAZ
          in: formData
          required: true
          description: 'You expand an existing search domain to a second Availability Zone by setting the Multi-AZ option to true. Similarly, you can turn off the Multi-AZ option to downgrade the domain to a single Availability Zone by setting the Multi-AZ option to <code>false</code>. '
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateAvailabilityOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=UpdateDefaultSearchField':
    get:
      x-aws-operation-name: UpdateDefaultSearchField
      operationId: GET UpdateDefaultSearchField
      description: 'Configures the default search field for the search domain. The default search field is the text field that is searched when a search request does not specify which fields to search. By default, it is configured to include the contents of all of the domain''s text fields. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: DefaultSearchField
          in: query
          required: true
          description: 'The text field to search if the search request does not specify which field to search. The default search field is used when search terms are specified with the <code>q</code> parameter, or if a match expression specified with the <code>bq</code> parameter does not constrain the search to a particular field. The default is an empty string, which automatically searches all text fields.'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateDefaultSearchField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: UpdateDefaultSearchField
      operationId: POST UpdateDefaultSearchField
      description: 'Configures the default search field for the search domain. The default search field is the text field that is searched when a search request does not specify which fields to search. By default, it is configured to include the contents of all of the domain''s text fields. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDefaultSearchFieldResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: DefaultSearchField
          in: formData
          required: true
          description: 'The text field to search if the search request does not specify which field to search. The default search field is used when search terms are specified with the <code>q</code> parameter, or if a match expression specified with the <code>bq</code> parameter does not constrain the search to a particular field. The default is an empty string, which automatically searches all text fields.'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateDefaultSearchField
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=UpdateServiceAccessPolicies':
    get:
      x-aws-operation-name: UpdateServiceAccessPolicies
      operationId: GET UpdateServiceAccessPolicies
      description: Configures the policies that control access to the domain's document and search services. The maximum size of an access policy document is 100 KB.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServiceAccessPoliciesResponse'
        '409':
          description: InvalidTypeException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AccessPolicies
          in: query
          required: true
          description: '<p>An IAM access policy as described in <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?AccessPolicyLanguage.html" target="_blank">The Access Policy Language</a> in <i>Using AWS Identity and Access Management</i>. The maximum size of an access policy document is 100 KB.</p> <p>Example: <code>{"Statement": [{"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:search/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }}, {"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:documents/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }} ] }</code></p>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateServiceAccessPolicies
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: UpdateServiceAccessPolicies
      operationId: POST UpdateServiceAccessPolicies
      description: Configures the policies that control access to the domain's document and search services. The maximum size of an access policy document is 100 KB.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServiceAccessPoliciesResponse'
        '409':
          description: InvalidTypeException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidTypeException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: AccessPolicies
          in: formData
          required: true
          description: '<p>An IAM access policy as described in <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?AccessPolicyLanguage.html" target="_blank">The Access Policy Language</a> in <i>Using AWS Identity and Access Management</i>. The maximum size of an access policy document is 100 KB.</p> <p>Example: <code>{"Statement": [{"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:search/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }}, {"Effect":"Allow", "Action": "*", "Resource": "arn:aws:cs:us-east-1:1234567890:documents/movies", "Condition": { "IpAddress": { "aws:SourceIp": ["203.0.113.1/32"] } }} ] }</code></p>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateServiceAccessPolicies
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
  '/#Action=UpdateStemmingOptions':
    get:
      x-aws-operation-name: UpdateStemmingOptions
      operationId: GET UpdateStemmingOptions
      description: Configures a stemming dictionary for the search domain. The stemming dictionary is used during indexing and when processing search requests. The maximum size of the stemming dictionary is 500 KB.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: query
          required: true
          description: 'A string that represents the name of a domain. Domain names must be unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). Uppercase letters and underscores are not allowed.'
          type: string
          pattern: '[a-z][a-z0-9\-]+'
          minLength: 3
          maxLength: 28
        - name: Stems
          in: query
          required: true
          description: 'Maps terms to their stems, serialized as a JSON document. The document has a single object with one property "stems" whose value is an object mapping terms to their stems. The maximum size of a stemming document is 500 KB. Example: <code>{ "stems": {"people": "person", "walking": "walk"} }</code>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - UpdateStemmingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2011-02-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: UpdateStemmingOptions
      operationId: POST UpdateStemmingOptions
      description: Configures a stemming dictionary for the search domain. The stemming dictionary is used during indexing and when processing search requests. The maximum size of the stemming dictionary is 500 KB.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStemmingOptionsResponse'
        '409':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '480':
          description: BaseException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/BaseException'
        '500':
          description: InternalException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalException'
      parameters:
        - name: DomainName
          in: formData
          required: true
[...]
