swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: InsightsClient
  version: '2014-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2014-04-01/swagger/insightsClient_UsageMetrics.json'
    version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: insights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters:
  ResourceUriParameter:
    description: The identifier of the resource.
    in: path
    name: resourceUri
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  SubscriptionIdParameter:
    description: The Azure subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/{resourceUri}/usages':
    get:
      description: The List operation lists the usage metrics for the resource.
      operationId: UsageMetrics_List
      parameters:
        - $ref: '#/parameters/ResourceUriParameter'
        - description: 'Client Api Version. NOTE: This is not a client property, it must be explicit in the call and there is no default value.'
          in: query
          name: api-version
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: Successful request to get the list of usage metric values
          schema:
            $ref: '#/definitions/UsageMetricCollection'
      tags:
        - UsageMetrics
      x-ms-odata: '#/definitions/UsageMetric'
      x-ms-pageable: {}
definitions:
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
      value:
        description: the invariant value.
        type: string
    required:
      - value
  UsageMetric:
    description: Usage Metric data.
    properties:
      currentValue:
        description: the current value for the usage metric.
        format: double
        type: number
      id:
        description: the id for the usage metric.
        type: string
      limit:
        description: the quota limit the usage metric.
        format: double
        type: number
      name:
        $ref: '#/definitions/LocalizableString'
        description: the usage metric name and display name.
      nextResetTime:
        description: the next reset time for the current value.
        format: date-time
        type: string
      quotaPeriod:
        description: the amount of time it takes to reset the value.
        format: duration
        type: string
      unit:
        description: the unit for the usage metric.
        type: string
  UsageMetricCollection:
    description: Represents collection of usage metrics.
    properties:
      value:
        description: the usage values.
        items:
          $ref: '#/definitions/UsageMetric'
        type: array
    required:
      - value
