openapi: 3.0.0
servers:
  - url: https://bigtableadmin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Administer your Cloud Bigtable tables and instances.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Bigtable Admin API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: openapi
      url: https://bigtableadmin.googleapis.com/$discovery/rest?version=v2
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: bigtableadmin
externalDocs:
  url: https://cloud.google.com/bigtable/
tags:
  - name: operations
  - name: projects
paths:
  "/v2/{name}":
    delete:
      description: Permanently deletes a specified table and all of its data.
      operationId: bigtableadmin.projects.instances.tables.delete
      parameters:
        - description: Required. The unique name of the table to be deleted. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. If true, ignore safety checks when deleting the app profile.
          in: query
          name: ignoreWarnings
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets information about a location.
      operationId: bigtableadmin.projects.locations.get
      parameters:
        - description: Resource name for the location.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The view to be applied to the returned table's fields. Defaults to `SCHEMA_VIEW` if unspecified.
          in: query
          name: view
          schema:
            enum:
              - VIEW_UNSPECIFIED
              - NAME_ONLY
              - SCHEMA_VIEW
              - REPLICATION_VIEW
              - ENCRYPTION_VIEW
              - STATS_VIEW
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a specified table.
      operationId: bigtableadmin.projects.instances.tables.patch
      parameters:
        - description: "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Required. The list of fields to update. A mask specifying which fields (e.g. `change_stream_config`) in the `table` field should be updated. This mask is relative to the `table` field, not to the request message. The wildcard (*) path is currently not supported. Currently UpdateTable is only supported for the following fields: * `change_stream_config` * `change_stream_config.retention_period` * `deletion_protection` If `column_families` is set in `update_mask`, it will return an UNIMPLEMENTED error."
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Table"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    put:
      description: Updates a cluster within an instance. Note that UpdateCluster does not support updating cluster_config.cluster_autoscaling_config. In order to update it, you must use PartialUpdateCluster.
      operationId: bigtableadmin.projects.instances.clusters.update
      parameters:
        - description: The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: bigtableadmin.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v2/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: bigtableadmin.operations.projects.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v2/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: bigtableadmin.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - operations
  "/v2/{name}:checkConsistency":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Checks replication consistency based on a consistency token, that is, if replication has caught up based on the conditions specified in the token and the check request.
      operationId: bigtableadmin.projects.instances.tables.checkConsistency
      parameters:
        - description: Required. The unique name of the Table for which to check replication consistency. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckConsistencyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckConsistencyResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}:dropRowRange":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Permanently drop/delete a row range from a specified table. The request can specify whether to delete all rows in a table, or only those that match a particular prefix.
      operationId: bigtableadmin.projects.instances.tables.dropRowRange
      parameters:
        - description: Required. The unique name of the table on which to drop a range of rows. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DropRowRangeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}:generateConsistencyToken":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a consistency token for a Table, which can be used in CheckConsistency to check whether mutations to the table that finished before this call started have been replicated. The tokens will be available for 90 days.
      operationId: bigtableadmin.projects.instances.tables.generateConsistencyToken
      parameters:
        - description: Required. The unique name of the Table for which to create a consistency token. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateConsistencyTokenRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateConsistencyTokenResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}:modifyColumnFamilies":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Performs a series of column family modifications on the specified table. Either all or none of the modifications will occur before this method returns, but data requests received prior to that point may see a table where only some modifications have taken effect.
      operationId: bigtableadmin.projects.instances.tables.modifyColumnFamilies
      parameters:
        - description: Required. The unique name of the table whose families should be modified. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyColumnFamiliesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Table"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}:undelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Restores a specified table which was accidentally deleted.
      operationId: bigtableadmin.projects.instances.tables.undelete
      parameters:
        - description: Required. The unique name of the table to be restored. Values are of the form `projects/{project}/instances/{instance}/tables/{table}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UndeleteTableRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/appProfiles":
    get:
      description: Lists information about app profiles in an instance.
      operationId: bigtableadmin.projects.instances.appProfiles.list
      parameters:
        - description: Required. The unique name of the instance for which a list of app profiles is requested. Values are of the form `projects/{project}/instances/{instance}`. Use `{instance} = '-'` to list AppProfiles for all Instances in a project, e.g., `projects/myproject/instances/-`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of results per page. A page_size of zero lets the server choose the number of items to return. A page_size which is strictly positive will return at most that many items. A negative page_size will cause an error. Following the first request, subsequent paginated calls are not required to pass a page_size. If a page_size is set in subsequent calls, it must match the page_size given in the first request.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value of `next_page_token` returned by a previous call.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppProfilesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an app profile within an instance.
      operationId: bigtableadmin.projects.instances.appProfiles.create
      parameters:
        - description: Required. The unique name of the instance in which to create the new app profile. Values are of the form `projects/{project}/instances/{instance}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to be used when referring to the new app profile within its instance, e.g., just `myprofile` rather than `projects/myproject/instances/myinstance/appProfiles/myprofile`.
          in: query
          name: appProfileId
          schema:
            type: string
        - description: If true, ignore safety checks when creating the app profile.
          in: query
          name: ignoreWarnings
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppProfile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppProfile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/backups":
    get:
      description: Lists Cloud Bigtable backups. Returns both completed and pending backups.
      operationId: bigtableadmin.projects.instances.clusters.backups.list
      parameters:
        - description: Required. The cluster to list backups from. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}`. Use `{cluster} = '-'` to list backups for all clusters in an instance, e.g., `projects/{project}/instances/{instance}/clusters/-`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "A filter expression that filters backups listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be <, >, <=, >=, !=, =, or :. Colon ':' represents a HAS operator which is roughly synonymous with equality. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `source_table` * `state` * `start_time` (and values are of the format YYYY-MM-DDTHH:MM:SSZ) * `end_time` (and values are of the format YYYY-MM-DDTHH:MM:SSZ) * `expire_time` (and values are of the format YYYY-MM-DDTHH:MM:SSZ) * `size_bytes` To filter on multiple expressions, provide each separate expression within parentheses. By default, each expression is an AND expression. However, you can include AND, OR, and NOT expressions explicitly. Some examples of using filters are: * `name:\"exact\"` --> The backup's name is the string \"exact\". * `name:howl` --> The backup's name contains the string \"howl\". * `source_table:prod` --> The source_table's name contains the string \"prod\". * `state:CREATING` --> The backup is pending creation. * `state:READY` --> The backup is fully created and ready for use. * `(name:howl) AND (start_time < \\\"2018-03-28T14:50:00Z\\\")` --> The backup name contains the string \"howl\" and start_time of the backup is before 2018-03-28T14:50:00Z. * `size_bytes > 10000000000` --> The backup's size is greater than 10GB"
          in: query
          name: filter
          schema:
            type: string
        - description: 'An expression for specifying the sort order of the results of the request. The string value should specify one or more fields in Backup. The full syntax is described at https://aip.dev/132#ordering. Fields supported are: * name * source_table * expire_time * start_time * end_time * size_bytes * state For example, "start_time". The default sorting order is ascending. To specify descending order for the field, a suffix " desc" should be appended to the field name. For example, "start_time desc". Redundant space characters in the syntax are insigificant. If order_by is empty, results will be sorted by `start_time` in descending order starting from the most recently created backup.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Number of backups to be returned in the response. If 0 or less, defaults to the server's maximum allowed page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If non-empty, `page_token` should contain a next_page_token from a previous ListBackupsResponse to the same `parent` and with the same `filter`.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBackupsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts creating a new Cloud Bigtable Backup. The returned backup long-running operation can be used to track creation of the backup. The metadata field type is CreateBackupMetadata. The response field type is Backup, if successful. Cancelling the returned operation will stop the creation and delete the backup.
      operationId: bigtableadmin.projects.instances.clusters.backups.create
      parameters:
        - description: Required. This must be one of the clusters in the instance in which this table is located. The backup will be stored in this cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. The id of the backup to be created. The `backup_id` along with the parent `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*."
          in: query
          name: backupId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Backup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/backups:copy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Copy a Cloud Bigtable backup to a new backup in the destination cluster located in the destination instance and project.
      operationId: bigtableadmin.projects.instances.clusters.backups.copy
      parameters:
        - description: "Required. The name of the destination cluster that will contain the backup copy. The cluster must already exists. Values are of the form: `projects/{project}/instances/{instance}/clusters/{cluster}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyBackupRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/clusters":
    get:
      description: Lists information about clusters in an instance.
      operationId: bigtableadmin.projects.instances.clusters.list
      parameters:
        - description: Required. The unique name of the instance for which a list of clusters is requested. Values are of the form `projects/{project}/instances/{instance}`. Use `{instance} = '-'` to list Clusters for all Instances in a project, e.g., `projects/myproject/instances/-`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "DEPRECATED: This field is unused and ignored."
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a cluster within an instance. Note that exactly one of Cluster.serve_nodes and Cluster.cluster_config.cluster_autoscaling_config can be set. If serve_nodes is set to non-zero, then the cluster is manually scaled. If cluster_config.cluster_autoscaling_config is non-empty, then autoscaling is enabled.
      operationId: bigtableadmin.projects.instances.clusters.create
      parameters:
        - description: Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects/{project}/instances/{instance}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`.
          in: query
          name: clusterId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/hotTablets":
    get:
      description: Lists hot tablets in a cluster, within the time range provided. Hot tablets are ordered based on CPU usage.
      operationId: bigtableadmin.projects.instances.clusters.hotTablets.list
      parameters:
        - description: "Required. The cluster name to list hot tablets. Value is in the following form: `projects/{project}/instances/{instance}/clusters/{cluster}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The end time to list hot tablets.
          in: query
          name: endTime
          schema:
            type: string
        - description: Maximum number of results per page. A page_size that is empty or zero lets the server choose the number of items to return. A page_size which is strictly positive will return at most that many items. A negative page_size will cause an error. Following the first request, subsequent paginated calls do not need a page_size field. If a page_size is set in subsequent calls, it must match the page_size given in the first request.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value of `next_page_token` returned by a previous call.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The start time to list hot tablets. The hot tablets in the response will have start times between the requested start time and end time. Start time defaults to Now if it is unset, and end time defaults to Now - 24 hours if it is unset. The start time should be less than the end time, and the maximum allowed time range between start time and end time is 48 hours. Start time and end time should have values between Now and Now - 14 days.
          in: query
          name: startTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListHotTabletsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v2/{parent}/instances":
    get:
      description: Lists information about instances in a project.
      operationId: bigtableadmin.projects.instances.list
      parameters:
        - description: Required. The unique name of the project for which a list of instances is requested. Values are of the form `projects/{project}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "DEPRECATED: This field is unused and ignored."
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInstancesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create an instance within a project. Note that exactly one of Cluster.serve_nodes and Cluster.cluster_config.cluster_autoscaling_config can be set. If serve_nodes is set to non-zero, then the cluster is manually scaled. If cluster_config.cluster_autoscaling_config is non-empty, then autoscaling is enabled.
      operationId: bigtableadmin.projects.instances.create
      parameters:
        - description: Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInstanceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.instance
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.instance
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.cluster
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/tables":
    get:
      description: Lists all tables served from a specified instance.
      operationId: bigtableadmin.projects.instances.tables.list
      parameters:
        - description: Required. The unique name of the instance for which tables should be listed. Values are of the form `projects/{project}/instances/{instance}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of results per page. A page_size of zero lets the server choose the number of items to return. A page_size which is strictly positive will return at most that many items. A negative page_size will cause an error. Following the first request, subsequent paginated calls are not required to pass a page_size. If a page_size is set in subsequent calls, it must match the page_size given in the first request.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value of `next_page_token` returned by a previous call.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The view to be applied to the returned tables' fields. Only NAME_ONLY view (default), REPLICATION_VIEW and ENCRYPTION_VIEW are supported.
          in: query
          name: view
          schema:
            enum:
              - VIEW_UNSPECIFIED
              - NAME_ONLY
              - SCHEMA_VIEW
              - REPLICATION_VIEW
              - ENCRYPTION_VIEW
              - STATS_VIEW
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTablesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new table in the specified instance. The table can be created with a full set of initial column families, specified in the request.
      operationId: bigtableadmin.projects.instances.tables.create
      parameters:
        - description: Required. The unique name of the instance in which to create the table. Values are of the form `projects/{project}/instances/{instance}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTableRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Table"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/tables:restore":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new table by restoring from a completed backup. The returned table long-running operation can be used to track the progress of the operation, and to cancel it. The metadata field type is RestoreTableMetadata. The response type is Table, if successful.
      operationId: bigtableadmin.projects.instances.tables.restore
      parameters:
        - description: Required. The name of the instance in which to create the restored table. Values are of the form `projects//instances/`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreTableRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{resource}:getIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Gets the access control policy for a Table resource. Returns an empty policy if the resource exists but does not have a policy set.
      operationId: bigtableadmin.projects.instances.tables.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on a Table resource. Replaces any existing policy.
      operationId: bigtableadmin.projects.instances.tables.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns permissions that the caller has on the specified table resource.
      operationId: bigtableadmin.projects.instances.tables.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-bigtable.admin.table
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AppProfile:
      description: A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.
      properties:
        description:
          description: Long form description of the use case for this AppProfile.
          type: string
        etag:
          description: Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the mean time. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details.
          type: string
        multiClusterRoutingUseAny:
          $ref: "#/components/schemas/MultiClusterRoutingUseAny"
          description: Use a multi-cluster routing policy.
        name:
          description: The unique name of the app profile. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`.
          type: string
        singleClusterRouting:
          $ref: "#/components/schemas/SingleClusterRouting"
          description: Use a single-cluster routing policy.
      type: object
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    AutoscalingLimits:
      description: Limits for the number of nodes a Cluster can autoscale up/down to.
      properties:
        maxServeNodes:
          description: Required. Maximum number of nodes to scale up to.
          format: int32
          type: integer
        minServeNodes:
          description: Required. Minimum number of nodes to scale down to.
          format: int32
          type: integer
      type: object
    AutoscalingTargets:
      description: The Autoscaling targets for a Cluster. These determine the recommended nodes.
      properties:
        cpuUtilizationPercent:
          description: The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error.
          format: int32
          type: integer
        storageUtilizationGibPerNode:
          description: "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD."
          format: int32
          type: integer
      type: object
    Backup:
      description: A backup of a Cloud Bigtable table.
      properties:
        encryptionInfo:
          $ref: "#/components/schemas/EncryptionInfo"
          description: Output only. The encryption information for the backup.
          readOnly: true
        endTime:
          description: Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.
          format: google-datetime
          readOnly: true
          type: string
        expireTime:
          description: Required. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.
          format: google-datetime
          type: string
        name:
          description: A globally unique identifier for the backup which cannot be changed. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/ backups/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects/{project}/instances/{instance}/clusters/{cluster}`.
          type: string
        sizeBytes:
          description: Output only. Size of the backup in bytes.
          format: int64
          readOnly: true
          type: string
        sourceBackup:
          description: "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//backups/."
          readOnly: true
          type: string
        sourceTable:
          description: Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.
          type: string
        startTime:
          description: Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.
          format: google-datetime
          readOnly: true
          type: string
        state:
          description: Output only. The current state of the backup.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - READY
          readOnly: true
          type: string
      type: object
    BackupInfo:
      description: Information about a backup.
      properties:
        backup:
          description: Output only. Name of the backup.
          readOnly: true
          type: string
        endTime:
          description: Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.
          format: google-datetime
          readOnly: true
          type: string
        sourceBackup:
          description: "Output only. Name of the backup from which this backup was copied. If a backup is not created by copying a backup, this field will be empty. Values are of the form: projects//instances//backups/."
          readOnly: true
          type: string
        sourceTable:
          description: Output only. Name of the table the backup was created from.
          readOnly: true
          type: string
        startTime:
          description: Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CheckConsistencyRequest:
      description: Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency
      properties:
        consistencyToken:
          description: Required. The token created using GenerateConsistencyToken for the Table.
          type: string
      type: object
    CheckConsistencyResponse:
      description: Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency
      properties:
        consistent:
          description: True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.
          type: boolean
      type: object
    Cluster:
      description: A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.
      properties:
        clusterConfig:
          $ref: "#/components/schemas/ClusterConfig"
          description: Configuration for this cluster.
        defaultStorageType:
          description: Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.
          enum:
            - STORAGE_TYPE_UNSPECIFIED
            - SSD
            - HDD
          type: string
        encryptionConfig:
          $ref: "#/components/schemas/EncryptionConfig"
          description: Immutable. The encryption configuration for CMEK-protected clusters.
        location:
          description: Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`.
          type: string
        name:
          description: The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`.
          type: string
        serveNodes:
          description: The number of nodes allocated to this cluster. More nodes enable higher throughput and more consistent performance.
          format: int32
          type: integer
        state:
          description: Output only. The current state of the cluster.
          enum:
            - STATE_NOT_KNOWN
            - READY
            - CREATING
            - RESIZING
            - DISABLED
          readOnly: true
          type: string
      type: object
    ClusterAutoscalingConfig:
      description: Autoscaling config for a cluster.
      properties:
        autoscalingLimits:
          $ref: "#/components/schemas/AutoscalingLimits"
          description: Required. Autoscaling limits for this cluster.
        autoscalingTargets:
          $ref: "#/components/schemas/AutoscalingTargets"
          description: Required. Autoscaling targets for this cluster.
      type: object
    ClusterConfig:
      description: Configuration for a cluster.
      properties:
        clusterAutoscalingConfig:
          $ref: "#/components/schemas/ClusterAutoscalingConfig"
          description: Autoscaling configuration for this cluster.
      type: object
    ClusterState:
      description: The state of a table's data in a particular cluster.
      properties:
        encryptionInfo:
          description: Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in Cloud Key Management Service (Cloud KMS). The primary version of the key and its status will be reflected here when changes propagate from Cloud KMS.
          items:
            $ref: "#/components/schemas/EncryptionInfo"
          readOnly: true
          type: array
        replicationState:
          description: Output only. The state of replication for the table in this cluster.
          enum:
            - STATE_NOT_KNOWN
            - INITIALIZING
            - PLANNED_MAINTENANCE
            - UNPLANNED_MAINTENANCE
            - READY
            - READY_OPTIMIZING
          readOnly: true
          type: string
      type: object
    ColumnFamily:
      description: A set of columns within a table which share a common configuration.
      properties:
        gcRule:
          $ref: "#/components/schemas/GcRule"
          description: "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family."
        stats:
          $ref: "#/components/schemas/ColumnFamilyStats"
          description: Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above.
      type: object
    ColumnFamilyStats:
      description: Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified.
      properties:
        averageCellsPerColumn:
          description: 'How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family "family" in a table with 3 rows: * A row with 3 cells in "family:col" and 1 cell in "other:col" (3 cells / 1 column in "family") * A row with 1 cell in "family:col", 7 cells in "family:other_col", and 7 cells in "other:data" (8 cells / 2 columns in "family") * A row with 3 cells in "other:col" (0 columns in "family", "family" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field.'
          format: double
          type: number
        averageColumnsPerRow:
          description: 'How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family "family" in a table with 3 rows: * A row with cells in "family:col" and "other:col" (1 column in "family") * A row with cells in "family:col", "family:other_col", and "other:data" (2 columns in "family") * A row with cells in "other:col" (0 columns in "family", "family" not present) would report (1 + 2 + 0)/3 = 1.5 in this field.'
          format: double
          type: number
        logicalDataBytes:
          description: How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out).
          format: int64
          type: string
      type: object
    CopyBackupMetadata:
      description: Metadata type for the google.longrunning.Operation returned by CopyBackup.
      properties:
        name:
          description: The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`.
          type: string
        progress:
          $ref: "#/components/schemas/OperationProgress"
          description: The progress of the CopyBackup operation.
        sourceBackupInfo:
          $ref: "#/components/schemas/BackupInfo"
          description: Information about the source backup that is being copied from.
      type: object
    CopyBackupRequest:
      description: The request for CopyBackup.
      properties:
        backupId:
          description: "Required. The id of the new backup. The `backup_id` along with `parent` are combined as {parent}/backups/{backup_id} to create the full backup name, of the form: `projects/{project}/instances/{instance}/clusters/{cluster}/backups/{backup_id}`. This string must be between 1 and 50 characters in length and match the regex _a-zA-Z0-9*."
          type: string
        expireTime:
          description: Required. Required. The expiration time of the copied backup with microsecond granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.
          format: google-datetime
          type: string
        sourceBackup:
          description: "Required. The source backup to be copied from. The source backup needs to be in READY state for it to be copied. Copying a copied backup is not allowed. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//clusters//backups/`."
          type: string
      type: object
    CreateBackupMetadata:
      description: Metadata type for the operation returned by CreateBackup.
      properties:
        endTime:
          description: If set, the time at which this operation finished or was cancelled.
          format: google-datetime
          type: string
        name:
          description: The name of the backup being created.
          type: string
        sourceTable:
          description: The name of the table the backup is created from.
          type: string
        startTime:
          description: The time at which this operation started.
          format: google-datetime
          type: string
      type: object
    CreateClusterMetadata:
      description: The metadata for the Operation returned by CreateCluster.
      properties:
        finishTime:
          description: The time at which the operation failed or was completed successfully.
          format: google-datetime
          type: string
        originalRequest:
          $ref: "#/components/schemas/CreateClusterRequest"
          description: The request that prompted the initiation of this CreateCluster operation.
        requestTime:
          description: The time at which the original request was received.
          format: google-datetime
          type: string
        tables:
          additionalProperties:
            $ref: "#/components/schemas/TableProgress"
[...]
