swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /v3/nfl/stats
info:
  contact:
    x-twitter: nfldata
  description: 'NFL rosters, player stats, team stats, and fantasy stats API.'
  title: NFL v3 Stats
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nfl-v3-stats.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: nfl-v3-stats
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  '/{format}/ActiveBoxScores':
    get:
      description: This method returns box scores for all games that are either in-progress or have been updated within the last 30 minutes.
      operationId: LegacyBoxScoresActive
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Active
  '/{format}/AllTeams':
    get:
      description: 'Gets all teams, including pro bowl teams.'
      operationId: TeamsAll
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (All)
  '/{format}/AreAnyGamesInProgress':
    get:
      description: Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: boolean
      summary: Are Games In Progress
  '/{format}/BoxScore/{season}/{week}/{hometeam}':
    get:
      operationId: LegacyBoxScore
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Abbreviation of the home team. Example: <code>WAS</code>.'
          in: path
          name: hometeam
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BoxScore'
      summary: Legacy Box Score
  '/{format}/BoxScoreByScoreIDV3/{scoreid}':
    get:
      operationId: BoxScoreByScoreidV
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The ScoreID of the game. Possible values include: <code>16247</code>, <code>16245</code>, etc.'
          in: path
          name: scoreid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BoxScoreV3'
      summary: Box Score by ScoreID V3
  '/{format}/BoxScoreV3/{season}/{week}/{hometeam}':
    get:
      operationId: BoxScoreV
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Abbreviation of a team playing in this game. Example: <code>WAS</code>.'
          in: path
          name: hometeam
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BoxScoreV3'
      summary: Box Score V3
  '/{format}/BoxScores/{season}/{week}':
    get:
      description: This method returns all box scores for a given season and week.
      operationId: LegacyBoxScores
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores
  '/{format}/BoxScoresDelta/{season}/{week}/{minutes}':
    get:
      description: 'This method returns all box scores for a given season and week, but only returns player stats that have changed in the last X minutes.'
      operationId: LegacyBoxScoresDelta
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: |-
            Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>
                      <code>1</code> or <code>2</code>.
                    
          in: path
          name: minutes
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Delta
  '/{format}/BoxScoresDeltaV3/{season}/{week}/{playerstoinclude}/{minutes}':
    get:
      description: 'This method returns all box scores for a given season and week, but only returns player stats that have changed in the last X minutes. You can also filter by type of player stats to include, such as traditional fantasy players, IDP players or all players.'
      operationId: BoxScoresDeltaV
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - default: all
          description: |-
            The subcategory of players to include in the returned PlayerGame records. Possible values include:<br><br>
            <code>all</code> Returns all players<br>
            <code>fantasy</code> Returns traditional fantasy players (QB, RB, WR, TE, K, DST)<br>
            <code>idp</code> Returns traditional fantasy players and IDP players.
          enum:
            - all
            - fantasy
            - idp
          in: path
          name: playerstoinclude
          required: true
          type: string
        - description: |-
            Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br><code>1</code>,
             <code>2</code>, etc.
                    
          in: path
          name: minutes
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScoreV3'
            type: array
      summary: Box Scores Delta V3
  '/{format}/Byes/{season}':
    get:
      description: 'Get bye weeks for the teams during a specified NFL season. '
      operationId: ByeWeeks
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Bye'
            type: array
      summary: Bye Weeks
  '/{format}/CurrentSeason':
    get:
      description: Year of the current NFL season. This value changes on July 1st. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonCurrent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: integer
      summary: Season Current
  '/{format}/CurrentWeek':
    get:
      description: Number of the current week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight EST. Week number is an integer between 1 and 21 or the word current. Weeks 1 through 17 are regular season weeks. Weeks 18 through 21 are post-season weeks.
      operationId: WeekCurrent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: integer
      summary: Week Current
  '/{format}/DailyFantasyPlayers/{date}':
    get:
      operationId: DailyFantasyPlayers
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      The date of the contest for which you're pulling players
                      <code>2014-SEP-21</code>,
                      <code>2014-NOV-15</code>, etc
                    
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DailyFantasyPlayer'
            type: array
      summary: Daily Fantasy Players
  '/{format}/DailyFantasyPoints/{date}':
    get:
      operationId: DailyFantasyScoring
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the contest for which you're pulling players
                      <code>2014-SEP-21</code>,
                      <code>2014-NOV-15</code>, etc
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DailyFantasyScoring'
            type: array
      summary: Daily Fantasy Scoring
  '/{format}/DfsSlatesByDate/{date}':
    get:
      operationId: DfsSlatesByDate
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the slates.
            <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  '/{format}/DfsSlatesByWeek/{season}/{week}':
    get:
      operationId: DfsSlatesByWeek
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Week
  '/{format}/FantasyDefenseByGame/{season}/{week}':
    get:
      operationId: FantasyDefenseGameStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseGame'
            type: array
      summary: Fantasy Defense Game Stats
  '/{format}/FantasyDefenseByGameByTeam/{season}/{week}/{team}':
    get:
      operationId: FantasyDefenseGameStatsByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FantasyDefenseGame'
      summary: Fantasy Defense Game Stats by Team
  '/{format}/FantasyDefenseBySeason/{season}':
    get:
      operationId: FantasyDefenseSeasonStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseSeason'
            type: array
      summary: Fantasy Defense Season Stats
  '/{format}/FantasyDefenseBySeasonByTeam/{season}/{team}':
    get:
      operationId: FantasyDefenseSeasonStatsByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FantasyDefenseSeason'
      summary: Fantasy Defense Season Stats by Team
  '/{format}/FantasyPlayers':
    get:
      description: 'This method returns a comprehensive list of draftable fantasy football players, including QB, RB, WR, TE, K and DEF.  Players are sorted by ADP (AverageDraftPosition).'
      operationId: FantasyPlayersWithAdp
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/FantasyPlayer'
            type: array
      summary: Fantasy Players with ADP
  '/{format}/FantasyPlayersIDP':
    get:
      description: 'This method returns the top 300+ IDP Fantasy Players for the current or upcoming season, ordered by AverageDraftPositionIDP.'
      operationId: IdpFantasyPlayersWithAdp
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/FantasyPlayer'
            type: array
      summary: IDP Fantasy Players with ADP
  '/{format}/FinalBoxScores':
    get:
      operationId: LegacyBoxScoresFinal
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Final
  '/{format}/FreeAgents':
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Free Agents
  '/{format}/GameLeagueLeaders/{season}/{week}/{position}/{column}':
    get:
      operationId: LeagueLeadersByWeek
      parameters:
        - default: XML
          description: |2-

                      Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
                    
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - default: ALL
          description: Playerâ€™s position that you would like to filter by.
          enum:
            - ALL
            - OFFENSE
            - QB
            - RB
            - WR
            - TE
            - DEFENSE
            - DL
            - LB
            - DB
            - K
          in: path
          name: position
          required: true
          type: string
        - description: Response member you would like results sorted by.
          enum:
            - FantasyPoints
            - PassingYards
            - RushingYards
            - Receptions
            - Sacks
            - Interceptions
            - Touchdowns
          in: path
          name: column
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: League Leaders by Week
  '/{format}/GameStats/{season}':
    get:
      description: Game stats for a specified season.
      operationId: GameStatsBySeasonDeprecatedUseTeamGameStatsInstead
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: 'Game Stats by Season (Deprecated, use Team Game Stats instead)'
  '/{format}/GameStatsByWeek/{season}/{week}':
    get:
      description: Game stats for a specified season and week.
      operationId: GameStatsByWeekDeprecatedUseTeamGameStatsInstead
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: 'Game Stats by Week (Deprecated, use Team Game Stats instead)'
  '/{format}/Injuries/{season}/{week}':
    get:
      operationId: Injuries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Injury'
            type: array
      summary: Injuries
  '/{format}/Injuries/{season}/{week}/{team}':
    get:
      operationId: InjuriesByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Injury'
            type: array
      summary: Injuries by Team
  '/{format}/LastCompletedSeason':
    get:
      description: Year of the most recently completed season. this value changes immediately after the Super Bowl. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonLastCompleted
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: integer
      summary: Season Last Completed
  '/{format}/LastCompletedWeek':
    get:
      description: |2-

                Number of the last completed week in the current NFL season. This value changes immediately after the last game of the week is completed and the data is available. This usually happens right after the Monday night game.
                Week number is an integer between 1 and 21 or the word current. Weeks 1 through 17 are regular season weeks. Weeks 18 through 21 are post-season weeks.
              
      operationId: WeekLastCompleted
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: integer
      summary: Week Last Completed
  '/{format}/LiveBoxScores':
    get:
      operationId: LegacyBoxScoresLive
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Live
  '/{format}/News':
    get:
      operationId: News
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News
  '/{format}/NewsByDate/{date}':
    get:
      operationId: NewsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Date
  '/{format}/NewsByPlayerID/{playerid}':
    get:
      operationId: NewsByPlayer
      parameters:
        - description: |2-

                      Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
                    
          in: path
          name: format
          required: true
          type: string
        - description: 'Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Player
  '/{format}/NewsByTeam/{team}':
    get:
      operationId: NewsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Team
  '/{format}/Player/{playerid}':
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerDetail'
      summary: Player Details by Player
  '/{format}/PlayerGameRedZoneInsideFiveStats/{season}/{week}':
    get:
      operationId: PlayerGameRedZoneStatsInsideFive
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameRedZone'
            type: array
      summary: Player Game Red Zone Stats Inside Five
  '/{format}/PlayerGameRedZoneInsideTenStats/{season}/{week}':
    get:
      operationId: PlayerGameRedZoneStatsInsideTen
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameRedZone'
            type: array
      summary: Player Game Red Zone Stats Inside Ten
  '/{format}/PlayerGameRedZoneStats/{season}/{week}':
    get:
      operationId: PlayerGameRedZoneStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameRedZone'
            type: array
      summary: Player Game Red Zone Stats
  '/{format}/PlayerGameStatsByPlayerID/{season}/{week}/{playerid}':
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerGame'
      summary: Player Game Stats by Player
  '/{format}/PlayerGameStatsByTeam/{season}/{week}/{team}':
    get:
      operationId: PlayerGameStatsByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Team
  '/{format}/PlayerGameStatsByWeek/{season}/{week}':
    get:
      operationId: PlayerGameStatsByWeek
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Week
  '/{format}/PlayerGameStatsByWeekDelta/{season}/{week}/{minutes}':
    get:
      operationId: PlayerGameStatsByWeekDelta
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: |-
            Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>
                      <code>1</code> or <code>2</code>.
                    
          in: path
          name: minutes
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Week Delta
  '/{format}/PlayerGameStatsDelta/{minutes}':
    get:
      operationId: PlayerGameStatsDelta
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
                      <code>1</code> or <code>2</code>.
                    
          in: path
          name: minutes
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats Delta
  '/{format}/PlayerOwnership/{season}/{week}':
    get:
      operationId: FantasyPlayerOwnershipPercentagesSeasonLong
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerOwnership'
            type: array
      summary: Fantasy Player Ownership Percentages (Season-Long)
  '/{format}/PlayerSeasonRedZoneInsideFiveStats/{season}':
    get:
      operationId: PlayerSeasonRedZoneStatsInsideFive
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonRedZone'
            type: array
      summary: Player Season Red Zone Stats Inside Five
  '/{format}/PlayerSeasonRedZoneInsideTenStats/{season}':
    get:
      operationId: PlayerSeasonRedZoneStatsInsideTen
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonRedZone'
            type: array
      summary: Player Season Red Zone Stats Inside Ten
  '/{format}/PlayerSeasonRedZoneStats/{season}':
    get:
      operationId: PlayerSeasonRedZoneStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonRedZone'
            type: array
      summary: Player Season Red Zone Stats
  '/{format}/PlayerSeasonStats/{season}':
    get:
      operationId: PlayerSeasonStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats
  '/{format}/PlayerSeasonStatsByPlayerID/{season}/{playerid}':
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: 'Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerSeason'
      summary: Player Season Stats by Player
  '/{format}/PlayerSeasonStatsByTeam/{season}/{team}':
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats by Team
  '/{format}/PlayerSeasonThirdDownStats/{season}':
    get:
      operationId: PlayerSeasonThirdDownStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonThirdDown'
            type: array
      summary: Player Season Third Down Stats
  '/{format}/Players':
    get:
      operationId: PlayerDetailsByAvailable
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Available
  '/{format}/Players/{team}':
    get:
      operationId: PlayerDetailsByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerDetail'
            type: array
      summary: Player Details by Team
  '/{format}/ProBowlers/{season}':
    get:
      operationId: ProBowlers
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season
            <br>Examples: <code>2016</code>, <code>2017</code>
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerInfo'
            type: array
      summary: Pro Bowlers
  '/{format}/RecentlyUpdatedBoxScores/{minutes}':
    get:
      operationId: LegacyBoxScoresDeltaCurrentWeek
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>
                      <code>1</code> or <code>2</code>.
                    
          in: path
          name: minutes
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Delta (Current Week)
  '/{format}/Rookies/{season}':
    get:
      operationId: PlayerDetailsByRookieDraftYear
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: 'Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Rookie Draft Year
  '/{format}/Schedules/{season}':
    get:
      description: Game schedule for a specified season.
      operationId: Schedule
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.'
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Schedule'
            type: array
      summary: Schedule
  '/{format}/Scores/{season}':
    get:
      description: Game scores for a specified season.
      operationId: ScoresBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.'
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Score'
            type: array
      summary: 'Scores by Season '
  '/{format}/ScoresByWeek/{season}/{week}':
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeek
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Score'
            type: array
      summary: Scores by Week
  '/{format}/SeasonLeagueLeaders/{season}/{position}/{column}':
    get:
      operationId: LeagueLeadersBySeason
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - default: ALL
          description: Playerâ€™s position that you would like to filter by.
          enum:
            - ALL
            - OFFENSE
            - QB
            - RB
            - WR
            - TE
            - DEFENSE
            - DL
            - LB
            - DB
            - K
          in: path
          name: position
          required: true
          type: string
        - description: Response member you would like results sorted by.
          enum:
            - FantasyPoints
            - PassingYards
            - RushingYards
            - Receptions
            - Sacks
            - Interceptions
            - Touchdowns
          in: path
          name: column
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: League Leaders by Season
  '/{format}/SimulatedBoxScoresV3/{numberofplays}':
    get:
      description: 'Gets simulated live box scores of NFL games, covering the Conference Championship games on January 21, 2018.'
      operationId: BoxScoresVSimulation
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.'
          in: path
          name: numberofplays
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/BoxScoreV3'
            type: array
      summary: Box Scores V3 Simulation
  '/{format}/SimulatedScores/{numberofplays}':
    get:
      description: 'Gets simulated live scores of NFL games, covering the Conference Championship games on January 21, 2018.'
      operationId: ScoresByWeekSimulation
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.'
          in: path
          name: numberofplays
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Score'
            type: array
      summary: Scores by Week Simulation
  '/{format}/Stadiums':
    get:
      description: This method returns all stadiums.
      operationId: Stadiums
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Stadium'
            type: array
      summary: Stadiums
  '/{format}/Standings/{season}':
    get:
      operationId: Standings
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Standing'
            type: array
      summary: Standings
  '/{format}/TeamGameStats/{season}/{week}':
    get:
      operationId: TeamGameStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |2-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/TeamGame'
            type: array
      summary: Team Game Stats
  '/{format}/TeamSeasonStats/{season}':
    get:
      operationId: TeamSeasonStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/TeamSeason'
            type: array
      summary: Team Season Stats
  '/{format}/Teams':
    get:
      description: Gets all active teams.
      operationId: TeamsActive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (Active)
  '/{format}/Teams/{season}':
    get:
      description: List of teams playing in a specified season.
      operationId: TeamsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: |2-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams by Season
  '/{format}/Timeframes/{type}':
    get:
      description: 'Get detailed information about past, present, and future timeframes.'
      operationId: Timeframes
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
        - description: The type of timeframes to return.  Valid entries are <code>current</code> or <code>upcoming</code> or <code>completed</code> or <code>recent</code> or <code>all</code>.
          in: path
          name: type
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Timeframe'
            type: array
      summary: Timeframes
  '/{format}/UpcomingSeason':
    get:
      description: 'Year of the current NFL season, if we are in the mid-season. If we are in the off-season, then year of the next upcoming season. This value changes immediately after the Super Bowl. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.'
      operationId: SeasonUpcoming
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: integer
      summary: Season Upcoming
  '/{format}/UpcomingWeek':
    get:
      description: 'Number of the upcoming week of the NFL season. This value changes immediately after the final game of the week is completed. We consider upcoming week to be the current week, until current week is over. Week number is an integer between 1 and 21 or the word current. Weeks 1 through 17 are regular season weeks. Weeks 18 through 21 are post-season weeks.'
      operationId: WeekUpcoming
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: integer
      summary: Week Upcoming
definitions:
  BoxScore:
    properties:
      AwayDefense:
        items:
          $ref: '#/definitions/PlayerDefense'
        type: array
      AwayFantasyDefense:
        $ref: '#/definitions/FantasyDefenseGame'
      AwayKickPuntReturns:
        items:
          $ref: '#/definitions/PlayerKickPuntReturns'
        type: array
      AwayKicking:
        items:
          $ref: '#/definitions/PlayerKicking'
        type: array
      AwayPassing:
        items:
          $ref: '#/definitions/PlayerPassing'
        type: array
      AwayPunting:
        items:
          $ref: '#/definitions/PlayerPunting'
        type: array
      AwayReceiving:
        items:
          $ref: '#/definitions/PlayerReceiving'
        type: array
      AwayRushing:
        items:
          $ref: '#/definitions/PlayerRushing'
        type: array
      Game:
        $ref: '#/definitions/Game'
      HomeDefense:
        items:
          $ref: '#/definitions/PlayerDefense'
        type: array
      HomeFantasyDefense:
        $ref: '#/definitions/FantasyDefenseGame'
      HomeKickPuntReturns:
        items:
          $ref: '#/definitions/PlayerKickPuntReturns'
        type: array
      HomeKicking:
        items:
          $ref: '#/definitions/PlayerKicking'
        type: array
      HomePassing:
        items:
          $ref: '#/definitions/PlayerPassing'
        type: array
      HomePunting:
        items:
          $ref: '#/definitions/PlayerPunting'
        type: array
      HomeReceiving:
        items:
          $ref: '#/definitions/PlayerReceiving'
        type: array
      HomeRushing:
        items:
          $ref: '#/definitions/PlayerRushing'
        type: array
      Score:
        $ref: '#/definitions/Score'
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      ScoringPlays:
        items:
          $ref: '#/definitions/ScoringPlay'
        type: array
  BoxScoreV3:
    properties:
      FantasyDefenseGames:
        items:
          $ref: '#/definitions/FantasyDefenseGame'
        type: array
      PlayerGames:
        items:
          $ref: '#/definitions/PlayerGame'
        type: array
      Quarters:
        items:
          $ref: '#/definitions/Quarter'
        type: array
      Score:
        $ref: '#/definitions/Score'
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      ScoringPlays:
        items:
          $ref: '#/definitions/ScoringPlay'
        type: array
      TeamGames:
        items:
          $ref: '#/definitions/TeamGame'
        type: array
  Bye:
    properties:
      Season:
        type: integer
      Team:
        type: string
      Week:
        type: integer
  DailyFantasyPlayer:
    properties:
      Date:
        type: string
      DraftKingsSalary:
        type: integer
      FanDuelSalary:
        type: integer
      FantasyDataSalary:
        type: integer
      FantasyDraftSalary:
        type: integer
      HomeOrAway:
        type: string
      LastGameFantasyPoints:
        type: number
      Name:
        type: string
      Opponent:
        type: string
      OpponentPositionRank:
        type: integer
      OpponentRank:
        type: integer
      PlayerID:
        type: integer
      Position:
        type: string
      ProjectedFantasyPoints:
        type: number
      Salary:
        type: integer
      ShortName:
        type: string
      Status:
        type: string
      StatusCode:
        type: string
      StatusColor:
        type: string
      Team:
        type: string
      YahooSalary:
        type: integer
  DailyFantasyScoring:
    properties:
      Date:
        type: string
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsPPR:
        type: number
      FantasyPointsYahoo:
        type: number
      HasStarted:
        type: boolean
      IsInProgress:
        type: boolean
      IsOver:
        type: boolean
      Name:
        type: string
      PlayerID:
        type: integer
      Position:
        type: string
      Team:
        type: string
  DfsSlate:
    properties:
      DfsSlateGames:
        items:
          $ref: '#/definitions/DfsSlateGame'
        type: array
      DfsSlatePlayers:
        items:
          $ref: '#/definitions/DfsSlatePlayer'
        type: array
      IsMultiDaySlate:
        type: boolean
      NumberOfGames:
        type: integer
      Operator:
        type: string
      OperatorDay:
        type: string
      OperatorGameType:
        type: string
      OperatorName:
        type: string
      OperatorSlateID:
        type: integer
      OperatorStartTime:
        type: string
      RemovedByOperator:
        type: boolean
      SlateID:
        type: integer
  DfsSlateGame:
    properties:
      Game:
        $ref: '#/definitions/Schedule'
      GameID:
        type: integer
      OperatorGameID:
        type: integer
      RemovedByOperator:
        type: boolean
      ScoreID:
        type: integer
      SlateGameID:
        type: integer
      SlateID:
        type: integer
  DfsSlatePlayer:
    properties:
      FantasyDefenseProjectionStatID:
        type: integer
      OperatorPlayerID:
        type: string
      OperatorPlayerName:
        type: string
      OperatorPosition:
        type: string
      OperatorRosterSlots:
        items:
          type: string
        type: array
      OperatorSalary:
        type: integer
      OperatorSlatePlayerID:
        type: string
      PlayerGameProjectionStatID:
        type: integer
      PlayerID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
      SlatePlayerID:
        type: integer
      Team:
        type: string
      TeamID:
        type: integer
  FantasyDefenseGame:
    properties:
      AssistedTackles:
        type: number
      BlockedKickReturnTouchdowns:
        type: number
      BlockedKickReturnYards:
        type: number
      BlockedKicks:
        type: number
      Date:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      DefensiveTouchdowns:
        type: number
      DraftKingsFantasyPointsAllowed:
        type: number
      DraftKingsKickerFantasyPointsAllowed:
        type: number
      DraftKingsPosition:
        type: string
      DraftKingsQuarterbackFantasyPointsAllowed:
        type: number
      DraftKingsRunningbackFantasyPointsAllowed:
        type: number
      DraftKingsSalary:
        type: integer
      DraftKingsTightEndFantasyPointsAllowed:
        type: number
      DraftKingsWideReceiverFantasyPointsAllowed:
        type: number
      FanDuelFantasyPointsAllowed:
        type: number
      FanDuelKickerFantasyPointsAllowed:
        type: number
      FanDuelPosition:
        type: string
      FanDuelQuarterbackFantasyPointsAllowed:
        type: number
      FanDuelRunningbackFantasyPointsAllowed:
        type: number
      FanDuelSalary:
        type: integer
      FanDuelTightEndFantasyPointsAllowed:
        type: number
      FanDuelWideReceiverFantasyPointsAllowed:
        type: number
      FantasyDataSalary:
        type: integer
      FantasyDefenseID:
        type: integer
      FantasyDraftFantasyPointsAllowed:
        type: number
      FantasyDraftKickerFantasyPointsAllowed:
        type: number
      FantasyDraftPosition:
        type: string
      FantasyDraftQuarterbackFantasyPointsAllowed:
        type: number
      FantasyDraftRunningbackFantasyPointsAllowed:
        type: number
      FantasyDraftSalary:
        type: integer
      FantasyDraftTightEndFantasyPointsAllowed:
        type: number
      FantasyDraftWideReceiverFantasyPointsAllowed:
        type: number
      FantasyPoints:
        type: number
      FantasyPointsAllowed:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FieldGoalReturnTouchdowns:
        type: number
      FieldGoalReturnYards:
        type: number
      FourthDownAttempts:
        type: number
      FourthDownConversions:
        type: number
      FumbleReturnTouchdowns:
        type: number
      FumbleReturnYards:
        type: number
      FumblesForced:
        type: number
      FumblesRecovered:
        type: number
      GameKey:
        type: string
      GlobalGameID:
        type: integer
      GlobalOpponentID:
        type: integer
      GlobalTeamID:
        type: integer
      HomeOrAway:
        type: string
      Humidity:
        type: integer
      InterceptionReturnTouchdowns:
        type: number
      InterceptionReturnYards:
        type: number
      Interceptions:
        type: number
      IsGameOver:
        type: boolean
      KickReturnLong:
        type: number
      KickReturnTouchdowns:
        type: number
      KickReturnYards:
        type: number
      KickReturns:
        type: number
      KickerFantasyPointsAllowed:
        type: number
      OffensiveYardsAllowed:
        type: number
      Opponent:
        type: string
      OpponentID:
        type: integer
      OpponentPositionRank:
        type: integer
      OpponentRank:
        type: integer
      PassesDefended:
        type: number
      PlayerID:
        type: integer
      PointsAllowed:
        type: number
      PointsAllowedByDefenseSpecialTeams:
        type: number
      PuntReturnLong:
        type: number
      PuntReturnTouchdowns:
        type: number
      PuntReturnYards:
        type: number
      PuntReturns:
        type: number
      QuarterbackFantasyPointsAllowed:
        type: number
      QuarterbackHits:
        type: number
      RunningbackFantasyPointsAllowed:
        type: number
      SackYards:
        type: number
      Sacks:
        type: number
      Safeties:
        type: number
      ScoreID:
        type: integer
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      SoloTackles:
        type: number
      SpecialTeamsTouchdowns:
        type: number
      Stadium:
        type: string
      TacklesForLoss:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Temperature:
        type: integer
      ThirdDownAttempts:
        type: number
      ThirdDownConversions:
        type: number
      TightEndFantasyPointsAllowed:
        type: number
      TouchdownsScored:
        type: number
      TwoPointConversionReturns:
        type: number
      VictivSalary:
        type: integer
      Week:
        type: integer
      WideReceiverFantasyPointsAllowed:
        type: number
      WindSpeed:
        type: integer
      YahooFantasyPointsAllowed:
        type: number
      YahooKickerFantasyPointsAllowed:
        type: number
      YahooPosition:
        type: string
      YahooQuarterbackFantasyPointsAllowed:
        type: number
      YahooRunningbackFantasyPointsAllowed:
        type: number
      YahooSalary:
        type: integer
      YahooTightEndFantasyPointsAllowed:
        type: number
      YahooWideReceiverFantasyPointsAllowed:
        type: number
  FantasyDefenseSeason:
    properties:
      AssistedTackles:
        type: number
      AuctionValue:
        type: number
      AuctionValuePPR:
        type: number
      AverageDraftPosition:
        type: number
      AverageDraftPosition2QB:
        type: number
      AverageDraftPositionDynasty:
        type: number
      AverageDraftPositionPPR:
        type: number
      BlockedKickReturnTouchdowns:
        type: number
      BlockedKickReturnYards:
        type: number
      BlockedKicks:
        type: number
      DefensiveTouchdowns:
        type: number
      DraftKingsFantasyPointsAllowed:
        type: number
      DraftKingsKickerFantasyPointsAllowed:
        type: number
      DraftKingsQuarterbackFantasyPointsAllowed:
        type: number
      DraftKingsRunningbackFantasyPointsAllowed:
        type: number
      DraftKingsTightEndFantasyPointsAllowed:
        type: number
      DraftKingsWideReceiverFantasyPointsAllowed:
        type: number
      FanDuelFantasyPointsAllowed:
        type: number
      FanDuelKickerFantasyPointsAllowed:
        type: number
      FanDuelQuarterbackFantasyPointsAllowed:
        type: number
      FanDuelRunningbackFantasyPointsAllowed:
        type: number
      FanDuelTightEndFantasyPointsAllowed:
        type: number
      FanDuelWideReceiverFantasyPointsAllowed:
        type: number
      FantasyDraftFantasyPointsAllowed:
        type: number
      FantasyDraftKickerFantasyPointsAllowed:
        type: number
      FantasyDraftQuarterbackFantasyPointsAllowed:
        type: number
      FantasyDraftRunningbackFantasyPointsAllowed:
        type: number
      FantasyDraftTightEndFantasyPointsAllowed:
        type: number
      FantasyDraftWideReceiverFantasyPointsAllowed:
        type: number
      FantasyPoints:
        type: number
      FantasyPointsAllowed:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FieldGoalReturnTouchdowns:
        type: number
      FieldGoalReturnYards:
        type: number
      FourthDownAttempts:
        type: number
      FourthDownConversions:
        type: number
      FumbleReturnTouchdowns:
        type: number
      FumbleReturnYards:
        type: number
      FumblesForced:
        type: number
      FumblesRecovered:
        type: number
      Games:
        type: integer
      GlobalTeamID:
        type: integer
      Humidity:
        type: integer
      InterceptionReturnTouchdowns:
        type: number
      InterceptionReturnYards:
        type: number
      Interceptions:
        type: number
      KickReturnLong:
        type: number
      KickReturnTouchdowns:
        type: number
      KickReturnYards:
        type: number
      KickReturns:
        type: number
      KickerFantasyPointsAllowed:
        type: number
      OffensiveYardsAllowed:
        type: number
      PassesDefended:
        type: number
      PlayerID:
        type: integer
      PointsAllowed:
        type: number
      PointsAllowedByDefenseSpecialTeams:
        type: number
      PuntReturnLong:
        type: number
      PuntReturnTouchdowns:
        type: number
      PuntReturnYards:
        type: number
      PuntReturns:
        type: number
      QuarterbackFantasyPointsAllowed:
        type: number
      QuarterbackHits:
        type: number
      RunningbackFantasyPointsAllowed:
        type: number
      SackYards:
        type: number
      Sacks:
        type: number
      Safeties:
        type: number
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      SoloTackles:
        type: number
      SpecialTeamsTouchdowns:
        type: number
      TacklesForLoss:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Temperature:
        type: integer
      ThirdDownAttempts:
        type: number
      ThirdDownConversions:
        type: number
      TightEndFantasyPointsAllowed:
        type: number
      TouchdownsScored:
        type: number
      TwoPointConversionReturns:
        type: number
      WideReceiverFantasyPointsAllowed:
        type: number
      WindSpeed:
        type: integer
      YahooFantasyPointsAllowed:
        type: number
      YahooKickerFantasyPointsAllowed:
        type: number
      YahooQuarterbackFantasyPointsAllowed:
        type: number
      YahooRunningbackFantasyPointsAllowed:
        type: number
      YahooTightEndFantasyPointsAllowed:
        type: number
      YahooWideReceiverFantasyPointsAllowed:
        type: number
  FantasyPlayer:
    properties:
      AuctionValue:
        type: integer
      AuctionValuePPR:
        type: integer
      AverageDraftPosition:
        type: number
      AverageDraftPosition2QB:
        type: number
      AverageDraftPositionDynasty:
        type: number
      AverageDraftPositionIDP:
        type: integer
      AverageDraftPositionPPR:
        type: number
      AverageDraftPositionRookie:
        type: number
      ByeWeek:
        type: integer
      FantasyPlayerKey:
        type: string
      LastSeasonFantasyPoints:
        type: number
      Name:
        type: string
      PlayerID:
        type: integer
      Position:
        type: string
      ProjectedFantasyPoints:
        type: number
      Team:
        type: string
  Game:
    properties:
      AwayAssistedTackles:
        type: integer
      AwayBlockedKickReturnTouchdowns:
        type: integer
      AwayBlockedKickReturnYards:
        type: integer
      AwayBlockedKicks:
        type: integer
      AwayCompletionPercentage:
        type: number
      AwayExtraPointKickingAttempts:
        type: integer
      AwayExtraPointKickingConversions:
        type: integer
      AwayExtraPointPassingAttempts:
        type: integer
      AwayExtraPointPassingConversions:
        type: integer
      AwayExtraPointRushingAttempts:
        type: integer
      AwayExtraPointRushingConversions:
        type: integer
      AwayExtraPointsHadBlocked:
        type: integer
      AwayFieldGoalAttempts:
        type: integer
      AwayFieldGoalReturnTouchdowns:
        type: integer
      AwayFieldGoalReturnYards:
        type: integer
      AwayFieldGoalsHadBlocked:
        type: integer
      AwayFieldGoalsMade:
        type: integer
      AwayFirstDowns:
        type: integer
      AwayFirstDownsByPassing:
        type: integer
      AwayFirstDownsByPenalty:
        type: integer
      AwayFirstDownsByRushing:
        type: integer
      AwayFourthDownAttempts:
        type: integer
      AwayFourthDownConversions:
        type: integer
      AwayFourthDownPercentage:
        type: number
      AwayFumbleReturnTouchdowns:
        type: integer
      AwayFumbleReturnYards:
        type: integer
      AwayFumbles:
        type: integer
      AwayFumblesForced:
        type: integer
      AwayFumblesLost:
        type: integer
      AwayFumblesRecovered:
        type: integer
      AwayGiveaways:
        type: integer
      AwayGoalToGoAttempts:
        type: integer
      AwayGoalToGoConversions:
        type: integer
      AwayInterceptionReturnTouchdowns:
        type: integer
      AwayInterceptionReturnYards:
        type: integer
      AwayInterceptionReturns:
        type: integer
      AwayKickReturnLong:
        type: integer
      AwayKickReturnTouchdowns:
        type: integer
      AwayKickReturnYards:
        type: integer
      AwayKickReturns:
        type: integer
      AwayKickoffTouchbacks:
        type: integer
      AwayKickoffs:
        type: integer
      AwayKickoffsInEndZone:
        type: integer
      AwayOffensivePlays:
        type: integer
      AwayOffensiveYards:
        type: integer
      AwayOffensiveYardsPerPlay:
        type: number
      AwayPasserRating:
        type: number
      AwayPassesDefended:
        type: integer
      AwayPassingAttempts:
        type: integer
      AwayPassingCompletions:
        type: integer
      AwayPassingInterceptions:
        type: integer
      AwayPassingTouchdowns:
        type: integer
      AwayPassingYards:
        type: integer
      AwayPassingYardsPerAttempt:
        type: number
      AwayPassingYardsPerCompletion:
        type: number
      AwayPenalties:
        type: integer
      AwayPenaltyYards:
        type: integer
      AwayPuntAverage:
        type: number
      AwayPuntNetAverage:
        type: number
      AwayPuntNetYards:
        type: integer
      AwayPuntReturnLong:
        type: integer
      AwayPuntReturnTouchdowns:
        type: integer
      AwayPuntReturnYards:
        type: integer
      AwayPuntReturns:
        type: integer
      AwayPuntYards:
        type: integer
      AwayPunts:
        type: integer
      AwayPuntsHadBlocked:
        type: integer
      AwayQuarterbackHits:
        type: integer
      AwayRedZoneAttempts:
        type: integer
      AwayRedZoneConversions:
        type: integer
      AwayReturnYards:
        type: integer
      AwayRushingAttempts:
        type: integer
      AwayRushingTouchdowns:
        type: integer
      AwayRushingYards:
        type: integer
      AwayRushingYardsPerAttempt:
        type: number
      AwaySackYards:
        type: integer
      AwaySacks:
        type: integer
      AwaySafeties:
        type: integer
      AwayScore:
        type: integer
      AwayScoreOvertime:
        type: integer
      AwayScoreQuarter1:
        type: integer
      AwayScoreQuarter2:
        type: integer
      AwayScoreQuarter3:
        type: integer
      AwayScoreQuarter4:
        type: integer
      AwaySoloTackles:
        type: integer
      AwayTacklesForLoss:
        type: integer
      AwayTakeaways:
        type: integer
      AwayTeam:
        type: string
      AwayThirdDownAttempts:
        type: integer
      AwayThirdDownConversions:
        type: integer
      AwayThirdDownPercentage:
        type: number
      AwayTimeOfPossession:
        type: string
      AwayTimesSacked:
        type: integer
      AwayTimesSackedYards:
        type: integer
      AwayTouchdowns:
        type: integer
      AwayTurnoverDifferential:
        type: integer
      AwayTwoPointConversionReturns:
        type: integer
      Date:
        type: string
      GameID:
        type: integer
      GameKey:
        type: string
      HomeAssistedTackles:
        type: integer
      HomeBlockedKickReturnTouchdowns:
        type: integer
      HomeBlockedKickReturnYards:
        type: integer
      HomeBlockedKicks:
        type: integer
      HomeCompletionPercentage:
        type: number
      HomeExtraPointKickingAttempts:
        type: integer
      HomeExtraPointKickingConversions:
        type: integer
      HomeExtraPointPassingAttempts:
        type: integer
      HomeExtraPointPassingConversions:
        type: integer
      HomeExtraPointRushingAttempts:
        type: integer
      HomeExtraPointRushingConversions:
        type: integer
      HomeExtraPointsHadBlocked:
        type: integer
      HomeFieldGoalAttempts:
        type: integer
      HomeFieldGoalReturnTouchdowns:
        type: integer
      HomeFieldGoalReturnYards:
        type: integer
      HomeFieldGoalsHadBlocked:
        type: integer
      HomeFieldGoalsMade:
        type: integer
      HomeFirstDowns:
        type: integer
      HomeFirstDownsByPassing:
        type: integer
      HomeFirstDownsByPenalty:
        type: integer
      HomeFirstDownsByRushing:
        type: integer
      HomeFourthDownAttempts:
        type: integer
      HomeFourthDownConversions:
        type: integer
      HomeFourthDownPercentage:
        type: number
      HomeFumbleReturnTouchdowns:
        type: integer
      HomeFumbleReturnYards:
        type: integer
      HomeFumbles:
        type: integer
      HomeFumblesForced:
        type: integer
      HomeFumblesLost:
        type: integer
      HomeFumblesRecovered:
        type: integer
      HomeGiveaways:
        type: integer
      HomeGoalToGoAttempts:
        type: integer
      HomeGoalToGoConversions:
        type: integer
      HomeInterceptionReturnTouchdowns:
        type: integer
      HomeInterceptionReturnYards:
        type: integer
      HomeInterceptionReturns:
        type: integer
      HomeKickReturnLong:
        type: integer
      HomeKickReturnTouchdowns:
        type: integer
      HomeKickReturnYards:
        type: integer
      HomeKickReturns:
        type: integer
      HomeKickoffTouchbacks:
        type: integer
      HomeKickoffs:
        type: integer
      HomeKickoffsInEndZone:
        type: integer
      HomeOffensivePlays:
        type: integer
      HomeOffensiveYards:
        type: integer
      HomeOffensiveYardsPerPlay:
        type: number
      HomePasserRating:
        type: number
      HomePassesDefended:
        type: integer
      HomePassingAttempts:
        type: integer
      HomePassingCompletions:
        type: integer
      HomePassingInterceptions:
        type: integer
      HomePassingTouchdowns:
        type: integer
      HomePassingYards:
        type: integer
[...]
