{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Wolfram Server for ChatGPT",
      "url": "https://www.wolframalpha.com"
    }
  ],
  "info": {
    "title": "Wolfram",
    "version": "v0.1",
    "x-apisguru-categories": [
      "machine_learning"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.wolframcdn.com_images_icons_Wolfram.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://www.wolframalpha.com/.well-known/apispec.json",
        "version": "3.1"
      }
    ],
    "x-providerName": "wolframalpha.com"
  },
  "paths": {
    "/api/v1/cloud-plugin": {
      "get": {
        "externalDocs": {
          "url": "https://reference.wolfram.com/language/"
        },
        "operationId": "getWolframCloudResults",
        "parameters": [
          {
            "description": "the input expression",
            "in": "query",
            "name": "input",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "The result of the Wolfram Language evaluation"
          },
          "400": {
            "description": "The request is missing the 'input' parameter"
          },
          "403": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Wolfram Cloud was unable to generate a result"
          },
          "503": {
            "description": "Service temporarily unavailable. This may be the result of too many requests."
          }
        },
        "summary": "Evaluate Wolfram Language code"
      }
    },
    "/api/v1/llm-api": {
      "get": {
        "externalDocs": {
          "url": "https://products.wolframalpha.com/api"
        },
        "operationId": "getWolframAlphaResults",
        "parameters": [
          {
            "description": "the input",
            "in": "query",
            "name": "input",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "The result of the Wolfram|Alpha query"
          },
          "400": {
            "description": "The request is missing the 'input' parameter"
          },
          "403": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Wolfram|Alpha was unable to generate a result"
          },
          "501": {
            "description": "Wolfram|Alpha was unable to generate a result"
          },
          "503": {
            "description": "Service temporarily unavailable. This may be the result of too many requests."
          }
        },
        "summary": "Get Wolfram|Alpha results"
      }
    }
  }
}