swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /nascar/v2
info:
  contact:
    x-twitter: nfldata
  title: NASCAR v2
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nascar-v2.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: nascar-v2
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  '/{format}/DriverRaceProjections/{raceid}':
    get:
      operationId: DriverRaceProjectionsEntryList
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Race ID.
            Example:<code>1</code>, <code>2</code>, etc.
          in: path
          name: raceid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DriverRaceProjection'
            type: array
      summary: Driver Race Projections (Entry List)
  '/{format}/driver/{driverid}':
    get:
      operationId: DriverDetails
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Driver ID.
            Example:<code>80000268</code>.
          in: path
          name: driverid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Driver'
      summary: Driver Details
  '/{format}/drivers':
    get:
      operationId: Drivers
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Driver'
            type: array
      summary: Drivers
  '/{format}/raceresult/{raceid}':
    get:
      operationId: RaceResults
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Race ID.
            Example:<code>1</code>, <code>2</code>, etc.
          in: path
          name: raceid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/RaceResult'
      summary: Race Results
  '/{format}/races/{season}':
    get:
      operationId: RacesSchedule
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season.
            <br>Examples: <code>2015</code>, <code>2016</code>.
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Race'
            type: array
      summary: Races / Schedule
  '/{format}/series':
    get:
      operationId: Series
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Series'
            type: array
      summary: Series
definitions:
  Driver:
    properties:
      BirthDate:
        type: string
      BirthPlace:
        type: string
      Chassis:
        type: string
      Created:
        type: string
      CrewChief:
        type: string
      DriverID:
        type: integer
      Engine:
        type: string
      FirstName:
        type: string
      Gender:
        type: string
      Height:
        type: integer
      LastName:
        type: string
      Manufacturer:
        type: string
      Number:
        type: integer
      PhotoUrl:
        type: string
      Sponsors:
        type: string
      Team:
        type: string
      Updated:
        type: string
      Weight:
        type: integer
  DriverRace:
    properties:
      Bonus:
        type: number
      Created:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      DraftKingsSalary:
        type: integer
      DriverID:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FastestLaps:
        type: number
      FinalPosition:
        type: number
      Laps:
        type: number
      LapsLed:
        type: number
      Manufacturer:
        type: string
      Name:
        type: string
      Number:
        type: integer
      Penalty:
        type: number
      Points:
        type: number
      PoleFinalPosition:
        type: number
      Poles:
        type: number
      PositionDifferential:
        type: number
      QualifyingSpeed:
        type: number
      RaceID:
        type: integer
      Season:
        type: integer
      StartPosition:
        type: number
      StatID:
        type: integer
      Updated:
        type: string
      Wins:
        type: number
  DriverRaceProjection:
    properties:
      Bonus:
        type: number
      Created:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      DraftKingsSalary:
        type: integer
      DriverID:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FastestLaps:
        type: number
      FinalPosition:
        type: number
      Laps:
        type: number
      LapsLed:
        type: number
      Manufacturer:
        type: string
      Name:
        type: string
      Number:
        type: integer
      Penalty:
        type: number
      Points:
        type: number
      PoleFinalPosition:
        type: number
      Poles:
        type: number
      PositionDifferential:
        type: number
      QualifyingSpeed:
        type: number
      RaceID:
        type: integer
      Season:
        type: integer
      StartPosition:
        type: number
      StatID:
        type: integer
      Updated:
        type: string
      Wins:
        type: number
  Race:
    properties:
      Broadcast:
        type: string
      Created:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      IsInProgress:
        type: boolean
      IsOver:
        type: boolean
      Name:
        type: string
      PoleWinnerID:
        type: integer
      RaceID:
        type: integer
      RescheduledDateTime:
        type: string
      RescheduledDay:
        type: string
      Season:
        type: integer
      SeriesID:
        type: integer
      SeriesName:
        type: string
      Track:
        type: string
      Updated:
        type: string
      WinnerID:
        type: integer
  RaceResult:
    properties:
      DriverRaces:
        items:
          $ref: '#/definitions/DriverRace'
        type: array
      Race:
        $ref: '#/definitions/Race'
  Series:
    properties:
      Name:
        type: string
      SeriesID:
        type: integer
x-servers:
  - url: 'http://api.fantasydata.net'
  - url: 'https://api.fantasydata.net'
  - url: 'http://fantasydata-northcentralus-01.regional.azure-api.net'
  - url: 'https://fantasydata-northcentralus-01.regional.azure-api.net'
