openapi: 3.0.0
servers:
  - url: https://api.shipengine.com
info:
  contact:
    email: sales@shipengine.com
    name: ShipEngine Sales & Support
    url: https://www.shipengine.com/contact/
    x-phone: 1-512-856-5379
  description: |
    ShipEngine's easy-to-use REST API lets you manage all of your shipping needs without worrying about the complexities of different carrier APIs and protocols. We handle all the heavy lifting so you can focus on providing a first-class shipping experience for your customers at the best possible prices.

    Each of ShipEngine's features can be used by itself or in conjunction with each other to build powerful shipping functionality into your application or service.

    ## Getting Started
    If you're new to REST APIs then be sure to read our [introduction to REST](https://www.shipengine.com/docs/rest/) to understand the basics.  Learn how to [authenticate yourself to ShipEngine](https://www.shipengine.com/docs/auth/), and then use our [sandbox environment](https://www.shipengine.com/docs/sandbox/) to kick the tires and get familiar with our API. If you run into any problems, then be sure to check the [error handling guide](https://www.shipengine.com/docs/errors/) for tips.

    Here are some step-by-step **tutorials** to get you started:

      - [Learn how to create your first shipping label](https://www.shipengine.com/docs/labels/create-a-label/)
      - [Calculate shipping costs and compare rates across carriers](https://www.shipengine.com/docs/rates/)
      - [Track packages on-demand or in real time](https://www.shipengine.com/docs/tracking/)
      - [Validate mailing addresses anywhere on Earth](https://www.shipengine.com/docs/addresses/validation/)


    ## Shipping Labels for Every Major Carrier
    ShipEngine makes it easy to [create shipping labels for any carrier](https://www.shipengine.com/docs/labels/create-a-label/) and [download them](https://www.shipengine.com/docs/labels/downloading/) in a [variety of file formats](https://www.shipengine.com/docs/labels/formats/). You can even customize labels with your own [messages](https://www.shipengine.com/docs/labels/messages/) and [images](https://www.shipengine.com/docs/labels/branding/).


    ## Real-Time Package Tracking
    With ShipEngine you can [get the current status of a package](https://www.shipengine.com/docs/tracking/) or [subscribe to real-time tracking updates](https://www.shipengine.com/docs/tracking/webhooks/) via webhooks. You can also create [custimized tracking pages](https://www.shipengine.com/docs/tracking/branded-tracking-page/) with your own branding so your customers will always know where their package is.


    ## Compare Shipping Costs Across Carriers
    Make sure you ship as cost-effectively as possible by [comparing rates across carriers](https://www.shipengine.com/docs/rates/get-shipment-rates/) using the ShipEngine Rates API. Or if you don't know the full shipment details yet, then you can [get rate estimates](https://www.shipengine.com/docs/rates/estimate/) with limited address info.


    ## Worldwide Address Validation
    ShipEngine supports [address validation](https://www.shipengine.com/docs/addresses/validation/) for virtually [every country on Earth](https://www.shipengine.com/docs/addresses/validation/countries/), including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.
  termsOfService: https://www.shipengine.com/terms-of-service/
  title: ShipEngine API
  version: 1.1.202303022103
  x-apisguru-categories:
    - transport
  x-logo:
    altText: ShipEngine logo
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_www.shipengine.com_wp-content_themes_shipengine_assets_img_logo.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/ShipEngine/shipengine-openapi/master/openapi.yaml
      version: "3.0"
  x-providerName: shipengine.com
externalDocs:
  description: |
    ShipEngine's documentation is designed to help you start shipping as quickly as possible. With easy-to-follow tutorials, detailed reference docs, and ready-made recipes for common use cases, you'll see real results in no time at all.
  url: https://www.shipengine.com/docs/
security:
  - api_key: []
tags:
  - description: |
      No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://www.shipengine.com/docs/addresses/validation/)

      ShipEngine supports address validation for virtually every country on Earth, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.
    externalDocs:
      description: |
        Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges. ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
      url: https://www.shipengine.com/docs/addresses/validation/
    name: addresses
    x-displayName: Addresses
  - description: |
      batches
    name: batches
    x-displayName: Batches
  - description: |
      carrier accounts
    name: carrier_accounts
    x-displayName: Carrier Accounts
  - description: |
      carriers
    name: carriers
    x-displayName: Carriers
  - description: |
      downloads
    name: downloads
    x-displayName: Downloads
  - description: |
      insurance
    name: insurance
    x-displayName: Insurance
  - description: |
      Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://www.shipengine.com/docs/carriers/setup/) in the API dashboard, and then [begin creating labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).
    externalDocs:
      description: Follow this quick start guide to create your first shipping label with ShipEngine
      url: https://www.shipengine.com/docs/labels/create-a-label/
    name: labels
    x-displayName: Labels
  - description: |
      manifests
    name: manifests
    x-displayName: Manifests
  - description: Scheduled package pickups
    name: package_pickups
    x-displayName: Package Pickups
  - description: |
      custom package types
    name: package_types
    x-displayName: Package Types
  - description: |
      Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://www.shipengine.com/docs/rates/) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.
    externalDocs:
      description: |
        This quick start guide shows you how to get shipping rates for multiple carriers so you can choose the fastest, cheapest, or most reliable option.
      url: https://www.shipengine.com/docs/rates/
    name: rates
    x-displayName: Rates
  - name: service_points
    x-displayName: Service Points
  - description: |
      Shipments are at the center of the ShipEngine API.  A shipment is the first step in [creating a shipping label](https://www.shipengine.com/docs/labels/create-a-label/), or [creating a manifest](https://www.shipengine.com/docs/shipping/manifests/).  It's also essential for [getting shipping rates](https://www.shipengine.com/docs/rates/).
    externalDocs:
      description: |
        Learn about the shipment object model concept, and how to persist and re-use shipment data inside ShipEngine.
      url: https://www.shipengine.com/docs/shipping/create-a-shipment/
    name: shipments
    x-displayName: Shipments
  - description: |
      tags
    name: tags
    x-displayName: Tags
  - name: tokens
    x-displayName: Tokens
  - description: |
      [Track packages](https://www.shipengine.com/docs/tracking/) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.
    externalDocs:
      description: Learn how to use ShipEngine to track any package with a carrier and a tracking number
      url: https://www.shipengine.com/docs/tracking/
    name: tracking
    x-displayName: Tracking
  - description: |
      warehouses
    name: warehouses
    x-displayName: Warehouses
  - description: |
      [Webhooks](https://www.shipengine.com/docs/tracking/webhooks/) are a powerful feature of ShipEngine that can save you from sending repeated polling requests to check on the state of something.  With webhooks, ShipEngine will automatically contact your servers when the stage changes.  This can include [parcel tracking](https://www.shipengine.com/docs/tracking/) events, notification of the completion of a [batch operation](https://www.shipengine.com/docs/labels/bulk/),  or new [salses orders](https://www.shipengine.com/docs/orders/).
    externalDocs:
      description: Learn how to setup webhooks and start listening to ShipEngine events.
      url: https://www.shipengine.com/docs/tracking/webhooks/
    name: webhooks
    x-displayName: Webhooks
paths:
  /v1/addresses/recognize:
    description: |
      Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful address data (e.g. recipient name, address line 1, line 2, city, postal code) from this unstructured text.
    put:
      description: |
        The address-recognition API makes it easy for you to extract address data from unstructured text, including the recipient name, line 1, line 2, city, postal code, and more.

        Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed address data is returned in the same structure that's used for other ShipEngine APIs, such as address validation, rate quotes, and shipping labels.

        > **Note:** Address recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.
      operationId: parse_address
      requestBody:
        content:
          application/json:
            examples:
              some_known_fields:
                description: |
                  You can optionally provide an `address` object containing any already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
                summary: Some known fields
                value:
                  address:
                    address_residential_indicator: yes
                    country_code: US
                  text: Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.
              text_only:
                description: |
                  This is the simplest way to call the address-recognition API. Just pass the text to be parsed and nothing else.
                summary: Text only
                value:
                  text: Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.
            schema:
              $ref: "#/components/schemas/parse_address_request_body"
        description: |
          The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                some_known_fields:
                  description: |
                    This response is shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` and `address_residential_indicator` fields are populated with the values that were provided in the request.
                  value:
                    address:
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      address_residential_indicator: yes
                      city_locality: Austin
                      country_code: US
                      name: Margie McMiller
                      postal_code: 78652
                      state_province: TX
                    entities:
                      - end_index: 14
                        result:
                          value: Margie McMiller
                        score: 0.9519646137063122
                        start_index: 0
                        text: Margie McMiller
                        type: person
                      - end_index: 34
                        result:
                          line: 1
                          value: 3800 North Lamar
                        score: 0.9805313966503588
                        start_index: 19
                        text: 3800 North Lamar
                        type: address_line
                      - end_index: 22
                        result:
                          type: cardinal
                          value: 3800
                        score: 0.9805313966503588
                        start_index: 19
                        text: 3800
                        type: number
                      - end_index: 44
                        result:
                          line: 2
                          value: Suite 200
                        score: 1
                        start_index: 36
                        text: suite 200
                        type: address_line
                      - end_index: 44
                        result:
                          type: cardinal
                          value: 200
                        score: 0.9805313966503588
                        start_index: 42
                        text: 200
                        type: number
                      - end_index: 54
                        result:
                          value: Austin
                        score: 0.9805313966503588
                        start_index: 49
                        text: austin
                        type: city_locality
                      - end_index: 58
                        result:
                          name: Texas
                          value: TX
                        score: 0.6082904353940255
                        start_index: 57
                        text: tx
                        type: state_province
                      - end_index: 88
                        result:
                          value: 78652
                        score: 0.9519646137063122
                        start_index: 84
                        text: 78652
                        type: postal_code
                    score: 0.9122137426845613
                text_only:
                  description: |
                    This response shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` is not populated and the `address_residential_indicator` is "unknown", since neither of these fields was included in the text.
                  value:
                    address:
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      address_residential_indicator: unknown
                      city_locality: Austin
                      name: Margie McMiller
                      postal_code: 78652
                      state_province: TX
                    entities:
                      - end_index: 14
                        result:
                          value: Margie McMiller
                        score: 0.9519646137063122
                        start_index: 0
                        text: Margie McMiller
                        type: person
                      - end_index: 34
                        result:
                          line: 1
                          value: 3800 North Lamar
                        score: 0.9805313966503588
                        start_index: 19
                        text: 3800 North Lamar
                        type: address_line
                      - end_index: 22
                        result:
                          type: cardinal
                          value: 3800
                        score: 0.9805313966503588
                        start_index: 19
                        text: 3800
                        type: number
                      - end_index: 44
                        result:
                          line: 2
                          value: Suite 200
                        score: 1
                        start_index: 36
                        text: suite 200
                        type: address_line
                      - end_index: 44
                        result:
                          type: cardinal
                          value: 200
                        score: 0.9805313966503588
                        start_index: 42
                        text: 200
                        type: number
                      - end_index: 54
                        result:
                          value: Austin
                        score: 0.9805313966503588
                        start_index: 49
                        text: austin
                        type: city_locality
                      - end_index: 58
                        result:
                          name: Texas
                          value: TX
                        score: 0.6082904353940255
                        start_index: 57
                        text: tx
                        type: state_province
                      - end_index: 88
                        result:
                          value: 78652
                        score: 0.9519646137063122
                        start_index: 84
                        text: 78652
                        type: postal_code
                    score: 0.9122137426845613
              schema:
                $ref: "#/components/schemas/parse_address_response_body"
          description: |
            Returns the parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Parse an address
      tags:
        - addresses
    summary: Parse an address
  /v1/addresses/validate:
    description: |
      Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges.
      ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
    post:
      description: |
        Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges.
        ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
      operationId: validate_address
      requestBody:
        content:
          application/json:
            examples:
              all_known_fields_request:
                description: A call that returns a status of `verified`.
                summary: All Known Fields
                value:
                  - address_line1: 500 South Buena Vista Street
                    city_locality: Burbank
                    company_name: The Walt Disney Company
                    country_code: US
                    name: Mickey and Minnie Mouse
                    phone: 714-781-4565
                    postal_code: 91521
                    state_province: CA
            schema:
              $ref: "#/components/schemas/validate_address_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                all_known_fields:
                  description: A response for a `verified` status call.
                  summary: All Known Fields
                  value:
                    - matched_address:
                        address_line1: 500 S BUENA VISTA ST
                        address_line2: null
                        address_line3: null
                        address_residential_indicator: no
                        city_locality: BURBANK
                        company_name: THE WALT DISNEY COMPANY
                        country_code: US
                        name: MICKEY AND MINNIE MOUSE
                        phone: 714-781-4565
                        postal_code: 91521-0007
                        state_province: CA
                      messages: []
                      original_address:
                        address_line1: 500 South Buena Vista Street
                        address_line2: null
                        address_line3: null
                        address_residential_indicator: unknown
                        city_locality: Burbank
                        company_name: The Walt Disney Company
                        country_code: US
                        name: Mickey and Minnie Mouse
                        phone: 714-781-4565
                        postal_code: 91521
                        state_province: CA
                      status: verified
                empty_fields:
                  description: A response for an `unverified` API Call with error message
                  summary: Empty Fields
                  value:
                    - matched_address: null
                      messages:
                        - code: a1001
                          detail_code: unsupported_country
                          message: country_code is not currently a supported country please check the documentation for acceptable 2-letter country codes.
                          type: error
                      original_address:
                        address_line1: null
                        address_line2: null
                        address_line3: null
                        address_residential_indicator: unknown
                        city_locality: null
                        company_name: null
                        country_code: null
                        name: null
                        phone: null
                        postal_code: null
                        state_province: null
                      status: unverified
              schema:
                $ref: "#/components/schemas/validate_address_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Validate An Address
      tags:
        - addresses
    summary: Address Validation
  /v1/batches:
    description: |
      Batches are an advanced feature of ShipEngine designed for users who need to generate hundreds or thousands of labels at a time.
      When ShipEngine generates labels it relies on many carriers, their services, their dependencies, and a number of other variables
      to fulfill your requests; those requests can take a few minutes for us to get back to you.
    get:
      description: List Batches associated with your Shipengine account
      operationId: list_batches
      parameters:
        - in: query
          name: status
          required: false
          schema:
            $ref: "#/components/schemas/batch_status"
        - description: |
            Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
          example: 2
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            minimum: 1
            type: integer
        - description: The number of results to return per response.
          example: 50
          in: query
          name: page_size
          required: false
          schema:
            default: 25
            format: int32
            minimum: 1
            type: integer
        - description: Controls the sort order of the query.
          in: query
          name: sort_dir
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/sort_dir"
            default: desc
        - description: Batch Number
          in: query
          name: batch_number
          required: false
          schema:
            type: string
        - in: query
          name: sort_by
          required: false
          schema:
            $ref: "#/components/schemas/batches_sort_by"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_batches_response_body"
          description: The request was a success.
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Batches
      tags:
        - batches
    post:
      description: Create a Batch
      operationId: create_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_batch_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_batch_response_body"
          description: The requested object creation was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Create A Batch
      tags:
        - batches
    summary: Batches
  "/v1/batches/external_batch_id/{external_batch_id}":
    description: Retrive a batch from an external batch ID
    get:
      description: Get Batch By External ID
      operationId: get_batch_by_external_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_batch_by_external_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Batch By External ID
      tags:
        - batches
    parameters:
      - example: 13553d7f-3c87-4771-bae1-c49bacef11cb
        in: path
        name: external_batch_id
        required: true
        schema:
          type: string
    summary: External Batch ID
  "/v1/batches/{batch_id}":
    delete:
      description: Delete Batch By Id
      operationId: delete_batch
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Delete Batch By Id
      tags:
        - batches
    description: Check the status of your batch by retrieving it with a Batch ID.
    get:
      description: Get Batch By ID
      operationId: get_batch_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_batch_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Batch By ID
      tags:
        - batches
    parameters:
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    put:
      description: Update Batch By Id
      operationId: update_batch
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Update Batch By Id
      tags:
        - batches
    summary: Batch By ID
  "/v1/batches/{batch_id}/add":
    description: |
      You can check your balance for a particular carrier by calling [List Carriers](https://www.shipengine.com/docs/reference/list-carriers/) endpoint.
      For any carrier account where requires_funded_amount is true, you can add funds.
    parameters:
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    post:
      description: Add a Shipment or Rate to a Batch
      operationId: add_to_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/add_to_batch_request_body"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Add to a Batch
      tags:
        - batches
    summary: Add Funds to a Carrier
  "/v1/batches/{batch_id}/errors":
    description: |
      Error handling in batches are handled differently than in a single synchronous request.
      You must retrieve the status of your batch by [getting a batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and getting an overview of the statuses or you can list errors directly here below to get detailed information about the errors.
    get:
      description: |
        Error handling in batches are handled differently than in a single synchronous request.
        You must retrieve the status of your batch by [getting a batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and getting an overview of the statuses or you can list errors directly here below to get detailed information about the errors.
      operationId: list_batch_errors
      parameters:
        - description: |
            Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
          example: 2
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            minimum: 1
            type: integer
        - in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_batch_errors_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Batch Errors
      tags:
        - batches
    parameters:
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Batch Errors
  "/v1/batches/{batch_id}/process/labels":
    description: Process Batch ID Labels
    parameters:
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    post:
      description: Process Batch ID Labels
      operationId: process_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/process_batch_request_body"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Process Batch ID Labels
      tags:
        - batches
    summary: Process Batch ID Labels
  "/v1/batches/{batch_id}/remove":
    description: Remove a list of shipments from a batch
    parameters:
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    post:
      description: Remove a shipment or rate from a batch
      operationId: remove_from_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/remove_from_batch_request_body"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Remove From Batch
      tags:
        - batches
    summary: Remove Batch By ID
  /v1/carriers:
    description: |
      Carriers are a company or individual that specializes in transporting freight from one destination to another.
      Shipengine allows you to easily integrate with multiple carriers so you can chose the shipping option that is right for you.
    get:
      description: List all carriers that have been added to this account
      operationId: list_carriers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_carriers_response_body"
          description: The request was a success.
        "207":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_carriers_response_body"
          description: The request was a partial success. It contains results, as well as errors.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Carriers
      tags:
        - carriers
    summary: Carriers
  "/v1/carriers/{carrier_id}":
    description: Perform actions and get information on individual carriers connected with your account.
    get:
      description: Retrive carrier info by ID
      operationId: get_carrier_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_carrier_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Carrier By ID
      tags:
        - carriers
    parameters:
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Individual carriers
  "/v1/carriers/{carrier_id}/add_funds":
    description: All carriers require that funds to be attached to an account to ensure payment for the various services they provide to their customers.
    parameters:
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    put:
      description: Add Funds To A Carrier
      operationId: add_funds_to_carrier
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/add_funds_to_carrier_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/add_funds_to_carrier_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Add Funds To Carrier
      tags:
        - carriers
    summary: Carrier Funds
  "/v1/carriers/{carrier_id}/options":
    description: Carriers support various options for particular shipments. Ex. (non-machinable, is_alcohol, fragile, etc)
    get:
      description: Get a list of the options available for the carrier
      operationId: get_carrier_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_carrier_options_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Carrier Options
      tags:
        - carriers
    parameters:
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Carrier Options
  "/v1/carriers/{carrier_id}/packages":
    description: |
      Carriers support many different package types, Shipengine supports retrieving all available package so that
      you can best determine what is right for your particular shipment.
    get:
      description: List the package types associated with the carrier
      operationId: list_carrier_package_types
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_carrier_package_types_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Carrier Package Types
      tags:
        - carriers
    parameters:
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Carrier Packages
  "/v1/carriers/{carrier_id}/services":
    description: |
      Carrier services usually refer to the various shipping options that a carrier provides to its customers.
      Ex. Priority mail, overnight, international
    get:
      description: List the services associated with the carrier ID
      operationId: list_carrier_services
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_carrier_services_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Carrier Services
      tags:
        - carriers
    parameters:
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Carrier Services
  "/v1/connections/carriers/{carrier_name}":
    description: Carrier connections
    parameters:
      - description: The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`.
        example: dhl_express
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: "#/components/schemas/carrier_name"
    post:
      description: Connect a carrier account
      operationId: connect_carrier
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/connect_carrier_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/connect_carrier_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Connect a carrier account
      tags:
        - carrier_accounts
    summary: Carrier connections
  "/v1/connections/carriers/{carrier_name}/{carrier_id}":
    delete:
      description: Disconnect a carrier
      operationId: disconnect_carrier
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Disconnect a carrier
      tags:
        - carrier_accounts
    description: Disconnect a carrier
    parameters:
      - description: The carrier name, such as `stamps_com`, `ups`, `fedex`, or `dhl_express`.
        example: dhl_express
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: "#/components/schemas/carrier_name"
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Disconnect a carrier
  "/v1/connections/carriers/{carrier_name}/{carrier_id}/settings":
    description: Carrier settings
    get:
      description: Get carrier settings
      operationId: get_carrier_settings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_carrier_settings_response_body"
          description: The request was a success.
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get carrier settings
      tags:
        - carrier_accounts
    parameters:
      - description: The carrier name, such as `ups`, `fedex`, or `dhl_express`.
        example: dhl_express
        in: path
        name: carrier_name
        required: true
        schema:
          $ref: "#/components/schemas/carrier_name_with_settings"
      - description: Carrier ID
        example: se-28529731
        in: path
        name: carrier_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    put:
      description: Update carrier settings
      operationId: update_carrier_settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_carrier_settings_request_body"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Update carrier settings
      tags:
        - carrier_accounts
    summary: Carrier settings
  /v1/connections/insurance/shipsurance:
    delete:
      description: Disconnect a Shipsurance Account
      operationId: disconnect_insurer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/disconnect_insurer_response_body"
          description: The request was a success
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Disconnect a Shipsurance Account
      tags:
        - insurance
    description: Shipsurance Connection
    post:
      description: Connect a Shipsurance Account
      operationId: connect_insurer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/connect_insurer_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/connect_insurer_response_body"
          description: The request was a success
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Connect a Shipsurance Account
      tags:
        - insurance
    summary: Shipsurance Connection
  "/v1/downloads/{dir}/{subdir}/{filename}":
    description: |
      This endpoint is used to download forms that are generated in the various pdf, png, zpl formats
      such as labels and batches
    get:
      description: Get File
      operationId: download_file
      parameters:
        - in: query
          name: download
          required: false
          schema:
            type: string
        - in: query
          name: rotation
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: "#/components/schemas/download_file_pdf_response_body"
            application/zpl:
              schema:
                $ref: "#/components/schemas/download_file_zpl_response_body"
            image/png:
              schema:
                $ref: "#/components/schemas/download_file_png_response_body"
          description: The request was a success
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Download File
      tags:
        - downloads
    parameters:
      - in: path
        name: subdir
        required: true
        schema:
          type: string
      - in: path
        name: filename
        required: true
        schema:
          type: string
      - in: path
        name: dir
        required: true
        schema:
          type: string
    summary: File Download
  /v1/environment/webhooks:
    description: |
      ShipEngine exposes asynchronous operations for long running operations such as batch labels and rates.
      Webhooks allow the ShipEngine servers to contact your servers when an operation changes state, such as a batch label creation completion.
    get:
      description: List all webhooks currently enabled for the account.
      operationId: list_webhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_webhooks_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Webhooks
      tags:
        - webhooks
    post:
      description: Create a webook for specific events in the environment.
      operationId: create_webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_webhook_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_webhook_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "409":
          $ref: "#/components/responses/409_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Create a Webhook
      tags:
        - webhooks
    summary: Webhooks
  "/v1/environment/webhooks/{webhook_id}":
    delete:
      description: Delete a webhook
      operationId: delete_webhook
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Delete Webhook By ID
      tags:
        - webhooks
    description: Retrieve, update, and delete information for individual webhooks
    get:
      description: Retrieve individual webhook by an ID
      operationId: get_webhook_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_webhook_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Webhook By ID
      tags:
        - webhooks
    parameters:
      - description: Webhook ID
        in: path
        name: webhook_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    put:
      description: Update the webhook url property
      operationId: update_webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_webhook_request_body"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Update a Webhook
      tags:
        - webhooks
    summary: Webhook
  /v1/insurance/shipsurance/add_funds:
    description: |
      [Shipsurance](https://www.shipsurance.com/) is a shipping insurance company offering coverage for shipments sent via the major shipping carriers worldwide.
    patch:
      description: |
        You may need to auto fund your account from time to time. For example, if you don't normally ship items over $100,
        and may want to add funds to insurance rather than keeping the account funded.
      operationId: add_funds_to_insurance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/add_funds_to_insurance_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/add_funds_to_insurance_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Add Funds To Insurance
      tags:
        - insurance
    summary: Shipsurance
  /v1/insurance/shipsurance/balance:
    description: |
      [Shipsurance](https://www.shipsurance.com/) is a shipping insurance company offering coverage for shipments sent via the major shipping carriers worldwide.
    get:
      description: Retrieve the balance of your Shipsurance account.
      operationId: get_insurance_balance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_insurance_balance_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Insurance Funds Balance
      tags:
        - insurance
    summary: Shipsurance
  /v1/labels:
    description: |
      Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://www.shipengine.com/docs/carriers/setup/)
      in the API dashboard, and then [begin creating labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).
    get:
      description: |
        This endpoint returns a list of labels that you've [created](https://www.shipengine.com/docs/labels/create-a-label/). You can optionally filter the results as well as control their sort order and the number of results returned at a time.

        By default, all labels are returned, 25 at a time, starting with the most recently created ones.  You can combine multiple filter options to narrow-down the results.  For example, if you only want to get your UPS labels for your east coast warehouse you could query by both `warehouse_id` and `carrier_id`
      operationId: list_labels
      parameters:
        - description: Only return labels that are currently in the specified status
          in: query
          name: label_status
          required: false
          schema:
            $ref: "#/components/schemas/label_status"
        - description: Only return labels for a specific [carrier service](https://www.shipengine.com/docs/shipping/use-a-carrier-service/)
          example: usps_first_class_mail
          in: query
          name: service_code
          required: false
          schema:
            $ref: "#/components/schemas/service_code"
        - description: Only return labels for a specific [carrier account](https://www.shipengine.com/docs/carriers/setup/)
          in: query
          name: carrier_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Only return labels with a specific tracking number
          example: "9405511899223197428490"
          in: query
          name: tracking_number
          required: false
          schema:
            minLength: 1
            type: string
        - description: Only return labels that were created in a specific [batch](https://www.shipengine.com/docs/labels/bulk/)
          in: query
          name: batch_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Rate ID
          in: query
          name: rate_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Shipment ID
          in: query
          name: shipment_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Only return labels that originate from a specific [warehouse](https://www.shipengine.com/docs/shipping/ship-from-a-warehouse/)
          in: query
          name: warehouse_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Only return labels that were created on or after a specific date/time
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_start
          required: false
          schema:
            format: date-time
            type: string
        - description: Only return labels that were created on or before a specific date/time
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_end
          required: false
          schema:
            format: date-time
            type: string
        - description: |
            Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
          example: 2
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            minimum: 1
            type: integer
        - description: The number of results to return per response.
          example: 50
          in: query
          name: page_size
          required: false
          schema:
            default: 25
            format: int32
            minimum: 1
            type: integer
        - description: Controls the sort order of the query.
          in: query
          name: sort_dir
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/sort_dir"
            default: desc
        - description: Controls which field the query is sorted by.
          in: query
          name: sort_by
          required: false
          schema:
            default: created_at
            enum:
              - modified_at
              - created_at
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_labels_response_body"
          description: |
            The response includes a `labels` array containing a page of results (as determined by the `page_size` query parameter).  It also includes other useful information, such as the total number of labels that match the query criteria, the number of pages of results, and the URLs of the first, last, next, and previous pages of results.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List labels
      tags:
        - labels
    post:
      description: Purchase and print a label for shipment
      operationId: create_label
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_label_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_label_response_body"
          description: The requested object creation was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Purchase Label
      tags:
        - labels
    summary: Print shipping labels
  "/v1/labels/external_shipment_id/{external_shipment_id}":
    description: Find a label using the external shipment id
    get:
      description: |
        Find a label by using the external shipment id that was used during label creation
      operationId: get_label_by_external_shipment_id
      parameters:
        - example: url
          in: query
          name: label_download_type
          required: false
          schema:
            $ref: "#/components/schemas/label_download_type"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_label_by_external_shipment_id_response_body"
          description: The requested object creation was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Label By External Shipment ID
      tags:
        - labels
    parameters:
      - example: 0bcb569d-1727-4ff9-ab49-b2fec0cee5ae
        in: path
        name: external_shipment_id
        required: true
        schema:
          type: string
    summary: Get Label By External Shipment ID
  "/v1/labels/rates/{rate_id}":
    description: Purchase a label using a `rate_id` that has been previously generated while looking at various rates for a particular shipment.
    parameters:
      - description: Rate ID
        in: path
        name: rate_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    post:
      description: |
        When retrieving rates for shipments using the `/rates` endpoint, the returned information contains a `rate_id` property that can be used
        to generate a label without having to refill in the shipment information repeatedly.
      operationId: create_label_from_rate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_label_from_rate_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_label_from_rate_response_body"
          description: The requested object creation was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Purchase Label with Rate ID
      tags:
        - labels
    summary: Use a rate to purchase a label
  "/v1/labels/shipment/{shipment_id}":
    description: |
      Purchase a label using a shipment ID that has already been created with the desired address and
      package info.
    parameters:
      - description: Shipment ID
        in: path
        name: shipment_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    post:
      description: |
        Purchase a label using a shipment ID that has already been created with the desired address and
        package info.
      operationId: create_label_from_shipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_label_from_shipment_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_label_from_shipment_response_body"
          description: The requested object creation was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Purchase Label with Shipment ID
      tags:
        - labels
    summary: Purchase label using shipment ID
  "/v1/labels/{label_id}":
    description: Retrieve information for individual labels.
    get:
      description: Retrieve information for individual labels.
      operationId: get_label_by_id
      parameters:
        - example: url
          in: query
          name: label_download_type
          required: false
          schema:
            $ref: "#/components/schemas/label_download_type"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_label_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Label By ID
      tags:
        - labels
    parameters:
      - description: Label ID
        in: path
        name: label_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Label
  "/v1/labels/{label_id}/return":
    parameters:
      - description: Label ID
        in: path
        name: label_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    post:
      description: Create a return label
      operationId: create_return_label
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_return_label_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_return_label_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Create a return label
      tags:
        - labels
    summary: Return labels
  "/v1/labels/{label_id}/track":
    description: Carriers will provide tracking information so the status of your shipment can be monitored
    get:
      description: Retrieve the label's tracking information
      operationId: get_tracking_log_from_label
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_tracking_log_from_label_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Label Tracking Information
      tags:
        - labels
    parameters:
      - description: Label ID
        in: path
        name: label_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Tracking a Label
  "/v1/labels/{label_id}/void":
    description: |
      Some carriers charge for creating a label upon purchase vs upon use. The Shipengine API allows you
      to void a label to get a refund.
    parameters:
      - description: Label ID
        in: path
        name: label_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    put:
      description: Void a label by ID to get a refund.
      operationId: void_label
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/void_label_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Void a Label By ID
      tags:
        - labels
    summary: Label Voiding
  /v1/manifests:
    description: |
      Many manifests are sent electronically to the carrier when you create a label, and
      often physical manifests are not necessary. Carriers receive the package details, shipping date,
      and other information that help them plan your package's delivery when you create a label.

      However, some providers, like USPS require manifests when shipping large numbers of packages. Think about how long it would take for a delivery driver to arrive, pick up 100 packages, and individually scan each of them.

      A manifest exists so the carrier can scan the manifest and check in all the packages being shipped.
    get:
      description: Similar to querying shipments, we allow you to query manifests since there will likely be a large number over a long period of time.
      operationId: list_manifests
      parameters:
        - description: Warehouse ID
          in: query
          name: warehouse_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: ship date start range
          example: 2018-09-23T15:00:00.000Z
          in: query
          name: ship_date_start
          required: false
          schema:
            format: date-time
            type: string
        - description: ship date end range
          example: 2018-09-23T15:00:00.000Z
          in: query
          name: ship_date_end
          required: false
          schema:
            format: date-time
            type: string
        - description: Used to create a filter for when a resource was created (ex. A shipment that was created after a certain time)
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_start
          required: false
          schema:
            format: date-time
            type: string
        - description: Used to create a filter for when a resource was created, (ex. A shipment that was created before a certain time)
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_end
          required: false
          schema:
            format: date-time
            type: string
        - description: Carrier ID
          in: query
          name: carrier_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: |
            Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
          example: 2
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            minimum: 1
            type: integer
        - description: The number of results to return per response.
          example: 50
          in: query
          name: page_size
          required: false
          schema:
            default: 25
            format: int32
            minimum: 1
            type: integer
        - explode: true
          in: query
          name: label_ids
          required: false
          schema:
            description: Array of label ids
            items:
              description: A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.
              example: se-28529731
              maxLength: 25
              minLength: 1
              pattern: ^se(-[a-z0-9]+)+$
              title: se_id
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_manifests_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Manifests
      tags:
        - manifests
    post:
      description: |
        Each ShipEngine manifest is created for a specific warehouse, so you'll need to provide the warehouse_id
        rather than the ship_from address. You can create a warehouse for each location that you want to create manifests for.
      operationId: create_manifest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_manifest_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_manifest_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Create Manifest
      tags:
        - manifests
    summary: Manifests
  "/v1/manifests/requests/{manifest_request_id}":
    description: Manifest Request ID
    get:
      description: Get Manifest Request By Id
      operationId: get_manifest_request_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_manifest_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Manifest Request By Id
      tags:
        - manifests
    parameters:
      - description: The Manifest Request Id
        in: path
        name: manifest_request_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Manifest Request ID
  "/v1/manifests/{manifest_id}":
    description: Manifest ID
    get:
      description: Get Manifest By Id
      operationId: get_manifest_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_manifest_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Manifest By Id
      tags:
        - manifests
    parameters:
      - description: The Manifest Id
        in: path
        name: manifest_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Manifest ID
  /v1/packages:
    description: |
      Sometimes the default package types that carriers provide aren't enough and you need to create your own. That's where
      the `/packages` endpoint becomes useful. Create, manage, and delete custom package types to suit your specific needs.
    get:
      description: List the custom package types associated with the account
      operationId: list_package_types
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_package_types_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Custom Package Types
      tags:
        - package_types
    post:
      description: Create a custom package type to better assist in getting accurate rate estimates
      operationId: create_package_type
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_package_type_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_package_type_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Create Custom Package Type
      tags:
        - package_types
    summary: Packages
  "/v1/packages/{package_id}":
    delete:
      description: Delete a custom package using the ID
      operationId: delete_package_type
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Delete A Custom Package By ID
      tags:
        - package_types
    description: Create, edit, and delete individual custom packages.
    get:
      description: Get Custom Package Type by ID
      operationId: get_package_type_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_package_type_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Custom Package Type By ID
      tags:
        - package_types
    parameters:
      - description: Package ID
        in: path
        name: package_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    put:
      description: Update the custom package type object by ID
      operationId: update_package_type
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_package_type_request_body"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty_response_body"
            text/plain:
              schema:
                $ref: "#/components/schemas/empty_response_body"
          description: The request was successful.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Update Custom Package Type By ID
      tags:
        - package_types
    summary: Package
  /v1/pickups:
    description: |
      Scheduled package pickups
    get:
      description: List all pickups that have been scheduled for this carrier
      operationId: list_scheduled_pickups
      parameters:
        - description: Carrier ID
          in: query
          name: carrier_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Warehouse ID
          in: query
          name: warehouse_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Only return scheduled pickups that were created on or after a specific date/time
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_start
          required: false
          schema:
            format: date-time
            type: string
        - description: Only return scheduled pickups that were created on or before a specific date/time
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_end
          required: false
          schema:
            format: date-time
            type: string
        - description: |
            Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
          example: 2
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            minimum: 1
            type: integer
        - description: The number of results to return per response.
          example: 50
          in: query
          name: page_size
          required: false
          schema:
            default: 25
            format: int32
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_pickups_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Scheduled Pickups
      tags:
        - package_pickups
    post:
      description: Schedule a package pickup with a carrier
      operationId: schedule_pickup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/schedule_pickup_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/schedule_pickup_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Schedule a Pickup
      tags:
        - package_pickups
    summary: Scheduled Pickups
  "/v1/pickups/{pickup_id}":
    delete:
      description: Delete a previously-scheduled pickup by ID
      operationId: delete_scheduled_pickup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/delete_pickup_by_id_response_body"
          description: |
            Return the `pickup_id` of the scheduled pickup that was successfully deleted
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Delete a Scheduled Pickup
      tags:
        - package_pickups
    description: |
      A package pickup that has been scheduled with a carrier
    get:
      description: Get Pickup By ID
      operationId: get_pickup_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_pickup_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Pickup By ID
      tags:
        - package_pickups
    parameters:
      - in: path
        name: pickup_id
        required: true
        schema:
          $ref: "#/components/schemas/pickup_resource_id"
    summary: Scheduled Pickup
  /v1/rates:
    description: Get the various rates for a set of carriers
    post:
      description: |
        It's not uncommon that you want to give your customer the choice between whether they want to ship the fastest, cheapest, or the most trusted route. Most companies don't solely ship things using a single shipping option;
        so we provide functionality to show you all your options!
      operationId: calculate_rates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/calculate_rates_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calculate_rates_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Shipping Rates
      tags:
        - rates
    summary: Rates
  /v1/rates/bulk:
    description: Get specific rates for large groups of shipments
    post:
      description: Get Bulk Shipment Rates
      operationId: compare_bulk_rates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/compare_bulk_rates_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/compare_bulk_rates_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Bulk Rates
      tags:
        - rates
    summary: Bulk Rates
  /v1/rates/estimate:
    description: Show rate estimations between carriers with basic information.
    post:
      description: Get Rate Estimates
      operationId: estimate_rates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/estimate_rates_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/estimate_rates_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Estimate Rates
      tags:
        - rates
    summary: Rate Estimates
  "/v1/rates/{rate_id}":
    description: Get Individual rate information.
    get:
      description: Retrieve a previously queried rate by its ID
      operationId: get_rate_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_rate_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Rate By ID
      tags:
        - rates
    parameters:
      - description: Rate ID
        in: path
        name: rate_id
        required: true
        schema:
          $ref: "#/components/schemas/se_id"
    summary: Rate
  /v1/service_points/list:
    post:
      description: List carrier service points by location
      operationId: service_points_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/get_service_points_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_service_points_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Service Points
      tags:
        - service_points
    summary: Service Points
  "/v1/service_points/{carrier_code}/{country_code}/{service_point_id}":
    get:
      description: Returns a carrier service point by using the service_point_id
      operationId: service_points_get_by_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_service_point_by_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Service Point By ID
      tags:
        - service_points
    parameters:
      - description: Carrier code
        example: stamps_com
        in: path
        name: carrier_code
        required: true
        schema:
          minLength: 1
          type: string
      - description: |
          A two-letter [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1)
        example: CA
        in: path
        name: country_code
        required: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
      - example: "614940"
        in: path
        name: service_point_id
        required: true
        schema:
          type: string
    summary: Service Points
  /v1/shipments:
    description: |
      Shipments are the gatekeeper to more advanced functionality inside ShipEngine. When you create a shipment, we respond with a shipment_id that is a unique identifier inside of ShipEngine.
      Additionally, we realize that you may have your own identifier, you can set this by setting the `external_shipment_id` field in the request body.
    get:
      description: Get list of Shipments
      operationId: list_shipments
      parameters:
        - in: query
          name: shipment_status
          required: false
          schema:
            $ref: "#/components/schemas/shipment_status"
        - description: Batch ID
          in: query
          name: batch_id
          required: false
          schema:
            $ref: "#/components/schemas/se_id"
        - description: Search for shipments based on the custom tag added to the shipment object
          example: Letters_to_santa
          in: query
          name: tag
          required: false
          schema:
            minLength: 1
            type: string
        - description: Used to create a filter for when a resource was created (ex. A shipment that was created after a certain time)
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_start
          required: false
          schema:
            format: date-time
            type: string
        - description: Used to create a filter for when a resource was created, (ex. A shipment that was created before a certain time)
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: created_at_end
          required: false
          schema:
            format: date-time
            type: string
        - description: Used to create a filter for when a resource was modified (ex. A shipment that was modified after a certain time)
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: modified_at_start
          required: false
          schema:
            format: date-time
            type: string
        - description: Used to create a filter for when a resource was modified (ex. A shipment that was modified before a certain time)
          example: 2019-03-12T19:24:13.657Z
          in: query
          name: modified_at_end
          required: false
          schema:
            format: date-time
            type: string
        - description: |
            Return a specific page of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page is returned.
          example: 2
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            minimum: 1
            type: integer
        - description: The number of results to return per response.
          example: 50
          in: query
          name: page_size
          required: false
          schema:
            default: 25
            format: int32
            minimum: 1
            type: integer
        - description: Sales Order ID
          in: query
          name: sales_order_id
          required: false
          schema:
            type: string
        - description: Controls the sort order of the query.
          in: query
          name: sort_dir
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/sort_dir"
            default: desc
        - example: modified_at
          in: query
          name: sort_by
          required: false
          schema:
            $ref: "#/components/schemas/shipments_sort_by"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/list_shipments_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: List Shipments
      tags:
        - shipments
    post:
      description: Create one or multiple shipments.
      operationId: create_shipments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_shipments_request_body"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_shipments_response_body"
          description: The requested object creation was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Create Shipments
      tags:
        - shipments
    summary: Shipments
  "/v1/shipments/external_shipment_id/{external_shipment_id}":
    description: |
      When a shipment object is created with a custom shipment ID, you can query it using this endpoint
    get:
      description: Query Shipments created using your own custom ID convention using this endpint
      operationId: get_shipment_by_external_id
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_shipment_by_external_id_response_body"
          description: The request was a success.
        "400":
          $ref: "#/components/responses/400_error_response"
        "404":
          $ref: "#/components/responses/404_error_response"
        "500":
          $ref: "#/components/responses/500_error_response"
      summary: Get Shipment By External ID
      tags:
        - shipments
    parameters:
      - example: 0bcb569d-1727-4ff9-ab49-b2fec0cee5ae
        in: path
        name: external_shipment_id
        required: true
        schema:
          type: string
    summary: External Shipment ID
  /v1/shipments/recognize:
    description: |
      Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's shipment-recognition API helps you extract meaningful shipping data (people's names, addresses, package weights and dimensions, insurance and delivery requirements, etc.) from this unstructured text.
    put:
      description: |
        The shipment-recognition API makes it easy for you to extract shipping data from unstructured text, including people's names, addresses, package weights and dimensions, insurance and delivery requirements, and more.

        Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's shipment-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed shipment data is returned in the same structure that's used for other ShipEngine APIs, so you can easily use the parsed data to create a shipping label.

        > **Note:** Shipment recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.
      operationId: parse_shipment
      requestBody:
        content:
          application/json:
            examples:
              some_known_fields:
                description: |
[...]
