swagger: '2.0'
schemes:
  - https
host: healthcare.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manage, store, and access healthcare data in Google Cloud Platform.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Healthcare
  version: v1alpha2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://healthcare.googleapis.com/$discovery/rest?version=v1alpha2'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: healthcare
externalDocs:
  url: 'https://cloud.google.com/healthcare'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1alpha2/{name}':
    delete:
      description: |-
        Deletes the specified DICOM store and removes all images that are contained
        within it.
      operationId: healthcare.projects.locations.datasets.dicomStores.delete
      parameters:
        - description: The resource name of the DICOM store to delete.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: Gets the specified DICOM store.
      operationId: healthcare.projects.locations.datasets.dicomStores.get
      parameters:
        - description: The resource name of the DICOM store to get.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Specifies which parts of the Message resource should be returned
            in the response.
          enum:
            - MESSAGE_VIEW_UNSPECIFIED
            - RAW_ONLY
            - PARSED_ONLY
            - FULL
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DicomStore'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates the specified DICOM store.
      operationId: healthcare.projects.locations.datasets.dicomStores.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DicomStore'
        - description: |-
            Output only. Resource name of the DICOM store, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The update mask applies to the resource. For the `FieldMask` definition,
            see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DicomStore'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    put:
      description: |-
        Updates the entire contents of a resource.

        Implements the FHIR standard [update
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#update).

        If the specified resource does
        not exist and the FHIR store has
        enable_update_create set, creates the
        resource with the client-specified ID.

        The request body must contain a JSON-encoded FHIR resource, and the request
        headers must contain `Content-Type: application/fhir+json`. The resource
        must contain an `id` element having an identical value to the ID in the
        REST path of the request.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpBody'
        - description: The name of the resource to update.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{name}/$everything':
    get:
      description: |-
        Retrieves all the resources directly referenced by a patient, as well as
        all of the resources in the patient compartment.

        Implements the FHIR extended operation
        [Patient-everything](http://hl7.org/implement/standards/fhir/STU3/patient-operations.html#everything).

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `searchset`, containing the results of the
        operation.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.Patient-everything
      parameters:
        - description: Maximum number of resources in a page. Defaults to 100.
          in: query
          name: _count
          type: integer
        - description: |-
            The response includes records prior to the end date. If no end date is
            provided, all records subsequent to the start date are in scope.
          in: query
          name: end
          type: string
        - description: Name of the `Patient` resource for which the information is required.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Used to retrieve the next or previous page of results
            when using pagination. Value should be set to the value of page_token set
            in next or previous page links' url. Next and previous page are returned
            in the response bundle's links field, where `link.relation` is "previous"
            or "next".

            Omit `page_token` if no previous request has been made.
          in: query
          name: pageToken
          type: string
        - description: |-
            The response includes records subsequent to the start date. If no start
            date is provided, all records prior to the end date are in scope.
          in: query
          name: start
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}/$purge':
    delete:
      description: |-
        Deletes all the historical versions of a resource (excluding the current
        version) from the FHIR store. To remove all versions of a resource, first
        delete the current version and then call this method.

        This is not a FHIR standard operation.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.Resource-purge
      parameters:
        - description: The name of the resource to purge.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}/_history':
    get:
      description: |-
        Lists all the versions of a resource (including the current version and
        deleted versions) from the FHIR store.

        Implements the per-resource form of the FHIR standard [history
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#history).

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `history`, containing the version history
        sorted from most recent to oldest versions.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.history
      parameters:
        - description: |-
            Only include resource versions that were current at some point during the
            time period specified in the date time value. The date parameter format is
            yyyy-mm-ddThh:mm:ss[Z|(+|-)hh:mm]

            Clients may specify any of the following:

            *  An entire year: `_at=2019`
            *  An entire month: `_at=2019-01`
            *  A specific day: `_at=2019-01-20`
            *  A specific second: `_at=2018-12-31T23:59:58Z`
          in: query
          name: at
          type: string
        - description: The maximum number of search results on a page. Defaults to 1000.
          in: query
          name: count
          type: integer
        - description: The name of the resource to retrieve.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Used to retrieve the first, previous, next, or last page of resource
            versions when using pagination. Value should be set to the value of the
            `link.url` field returned in the response to the previous request, where
            `link.relation` is "first", "previous", "next" or "last".

            Omit `page` if no previous request has been made.
          in: query
          name: page
          type: string
        - description: |-
            Only include resource versions that were created at or after the given
            instant in time. The instant in time uses the format
            YYYY-MM-DDThh:mm:ss.sss+zz:zz (for example 2015-02-07T13:28:17.239+02:00 or
            2017-01-01T00:00:00Z). The time must be specified to the second and
            include a time zone.
          in: query
          name: since
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}/fhir/metadata':
    get:
      description: |-
        Gets the FHIR [capability
        statement](http://hl7.org/implement/standards/fhir/STU3/capabilitystatement.html)
        for the store, which contains a description of functionality supported by
        the server.

        Implements the FHIR standard [capabilities
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#capabilities).

        On success, the response body will contain a JSON-encoded representation
        of a `CapabilityStatement` resource.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.capabilities
      parameters:
        - description: Name of the FHIR store to retrieve the capabilities for.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}/locations':
    get:
      description: Lists information about the supported locations for this service.
      operationId: healthcare.projects.locations.list
      parameters:
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: 'The resource that owns the locations collection, if applicable.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListLocationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}/metadata':
    get:
      description: |-
        Gets the FHIR [capability
        statement](http://hl7.org/implement/standards/fhir/STU3/capabilitystatement.html)
        for the store, which contains a description of functionality supported by
        the server.

        Implements the FHIR standard [capabilities
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#capabilities).

        On success, the response body will contain a JSON-encoded representation
        of a `CapabilityStatement` resource.
      operationId: healthcare.projects.locations.datasets.fhirStores.capabilities
      parameters:
        - description: Name of the FHIR store to retrieve the capabilities for.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}/operations':
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.

        NOTE: the `name` binding allows API services to override the binding
        to use different resource name schemes, such as `users/*/operations`. To
        override the binding, API services can add a binding such as
        `"/v1/{name=users/*}/operations"` to their service configuration.
        For backwards compatibility, the default name includes the operations
        collection id, however overriding users must ensure the name binding
        is the parent resource, without the operations collection id.
      operationId: healthcare.projects.locations.datasets.operations.list
      parameters:
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{name}:export':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Exports data to the specified destination by copying it from the DICOM
        store.
        The metadata field type is
        OperationMetadata.
      operationId: healthcare.projects.locations.datasets.dicomStores.export
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ExportDicomDataRequest'
        - description: |-
            The DICOM store resource name from which the data should be exported (e.g.,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`).
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{name}:import':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Imports data into the DICOM store by copying it from the specified source.
        For errors, the Operation will be populated with error details (in the form
        of ImportDicomDataErrorDetails in error.details), which will hold
        finer-grained error information. Errors are also logged to Stackdriver
        (see [Viewing logs](/healthcare/docs/how-tos/stackdriver-logging)).
        The metadata field type is
        OperationMetadata.
      operationId: healthcare.projects.locations.datasets.dicomStores.import
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ImportDicomDataRequest'
        - description: |-
            The name of the DICOM store resource into which the data is imported (e.g.,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`).
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/annotationStores':
    get:
      description: Lists the Annotation stores in the given dataset for a source store.
      operationId: healthcare.projects.locations.datasets.annotationStores.list
      parameters:
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported, for example `labels.key=value`.
          in: query
          name: filter
          type: string
        - description: |-
            Limit on the number of Annotation stores to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAnnotationStoresResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new Annotation store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.annotationStores.create
      parameters:
        - description: |-
            The ID of the Annotation store that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: annotationStoreId
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AnnotationStore'
        - description: The name of the dataset this Annotation store belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnnotationStore'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/annotations':
    get:
      description: |-
        Lists the Annotations in the given
        Annotation store for a source
        resource.
      operationId: healthcare.projects.locations.datasets.annotationStores.annotations.list
      parameters:
        - description: |-
            Restricts Annotations returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Fields/functions available for filtering are:
            - source_version
          in: query
          name: filter
          type: string
        - description: |-
            Limit on the number of Annotations to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Name of the Annotation store to retrieve Annotations from.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAnnotationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new Annotation record. It is
        valid to create Annotation objects for the same source more than once since
        a unique ID is assigned to each record by this service.
      operationId: healthcare.projects.locations.datasets.annotationStores.annotations.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Annotation'
        - description: |-
            The name of the Annotation store this annotation belongs to. For example,
            `projects/my-project/locations/us-central1/datasets/mydataset/annotationStores/myannotationstore`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/datasets':
    get:
      description: Lists the health datasets in the current project.
      operationId: healthcare.projects.locations.datasets.list
      parameters:
        - description: |-
            The maximum number of items to return. Capped to 100 if not specified.
            May not be larger than 1000.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from a previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the project whose datasets should be listed (e.g.,
            `projects/{project_id}/locations/{location_id}`).
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDatasetsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new health dataset. Results are returned through the
        Operation interface which returns either an
        `Operation.response` which contains a Dataset or
        `Operation.error`. The metadata
        field type is OperationMetadata.
        A Google Cloud Platform project can contain up to 500 datasets across all
        regions.
      operationId: healthcare.projects.locations.datasets.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Dataset'
        - description: |-
            The ID of the dataset that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: datasetId
          type: string
        - description: |-
            The name of the project in which the dataset should be created (e.g.,
            `projects/{project_id}/locations/{location_id}`).
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/dicomStores':
    get:
      description: Lists the DICOM stores in the given dataset.
      operationId: healthcare.projects.locations.datasets.dicomStores.list
      parameters:
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported, for example `labels.key=value`.
          in: query
          name: filter
          type: string
        - description: |-
            Limit on the number of DICOM stores to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDicomStoresResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new DICOM store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.dicomStores.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DicomStore'
        - description: |-
            The ID of the DICOM store that is being created.
            Any string value up to 256 characters in length.
          in: query
          name: dicomStoreId
          type: string
        - description: The name of the dataset this DICOM store belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DicomStore'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/dicomWeb/{dicomWebPath}':
    delete:
      description: |-
        DeleteInstance deletes an instance associated with the given study, series,
        and SOP Instance UID. Delete requests are equivalent to the GET requests
        specified in the WADO-RS standard.
      operationId: healthcare.projects.locations.datasets.dicomStores.dicomWeb.studies.series.instances.delete
      parameters:
        - description: |-
            The path of the DeleteInstance request (e.g.,
            `studies/{study_id}/series/{series_id}/instances/{instance_id}`).
          in: path
          name: dicomWebPath
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The name of the DICOM store that is being accessed (e.g.,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`).
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: |-
        RetrieveRenderedFrames returns instances associated with the given study,
        series, SOP Instance UID and frame numbers in an acceptable Rendered Media
        Type. See
        http://dicom.nema.org/medical/dicom/current/output/html/part18.html#sect_10.4.
      operationId: healthcare.projects.locations.datasets.dicomStores.dicomWeb.studies.series.instances.frames.rendered
      parameters:
        - description: |-
            The path of the RetrieveRenderedFrames DICOMweb request (e.g.,
            `studies/{study_id}/series/{series_id}/instances/{instance_id}/frames/{frame_list}/rendered`).
          in: path
          name: dicomWebPath
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The name of the DICOM store that is being accessed (e.g.,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`).
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        StoreInstances stores DICOM instances associated with study instance unique
        identifiers (SUID). See
        http://dicom.nema.org/medical/dicom/current/output/html/part18.html#sect_10.5.
      operationId: healthcare.projects.locations.datasets.dicomStores.dicomWeb.studies.storeInstances
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpBody'
        - description: |-
            The path of the StoreInstances DICOMweb request (e.g.,
            `studies/[{study_id}]`). Note that the `study_uid` is optional.
          in: path
          name: dicomWebPath
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The name of the DICOM store that is being accessed (e.g.,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`).
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/fhir':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Executes all the requests in the given Bundle.

        Implements the FHIR standard [batch/transaction
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#transaction).

        Supports all interactions within a bundle, except search. This method
        accepts Bundles of type `batch` and `transaction`, processing them
        according to the [batch processing
        rules](http://hl7.org/implement/standards/fhir/STU3/http.html#2.21.0.17.1)
        and [transaction processing
        rules](http://hl7.org/implement/standards/fhir/STU3/http.html#2.21.0.17.2).

        The request body must contain a JSON-encoded FHIR `Bundle` resource, and
        the request headers must contain `Content-Type: application/fhir+json`.

        For a batch bundle or a successful transaction the response body will
        contain a JSON-encoded representation of a `Bundle` resource of type
        `batch-response` or `transaction-response` containing one entry for each
        entry in the request, with the outcome of processing the entry. In the
        case of an error for a transaction bundle, the response body will contain
        a JSON-encoded `OperationOutcome` resource describing the reason for the
        error. If the request cannot be mapped to a valid API method on a FHIR
        store, a generic GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.executeBundle
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpBody'
        - description: Name of the FHIR store in which this bundle will be executed.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/fhir/Observation/$lastn':
    get:
      description: |-
        Retrieves the N most recent `Observation` resources for a subject matching
        search criteria specified as query parameters, grouped by
        `Observation.code`, sorted from most recent to oldest.

        Implements the FHIR extended operation
        [Observation-lastn](http://hl7.org/implement/standards/fhir/STU3/observation-operations.html#lastn).

        Search terms are provided as query parameters following the same pattern as
        the search method. This operation accepts an additional
        query parameter `max`, which specifies N, the maximum number of
        Observations to return from each group, with a default of 1.

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `searchset`, containing the results of the
        operation.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.Observation-lastn
      parameters:
        - description: Name of the FHIR store to retrieve resources from.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1alpha2/{parent}/fhir/_search':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Searches for resources in the given FHIR store according to criteria
        specified as query parameters.

        Implements the FHIR standard [search
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#search)
        using the search semantics described in the [FHIR Search
        specification](http://hl7.org/implement/standards/fhir/STU3/search.html).

        Supports three methods of search defined by the specification:

        *  `GET [base]?[parameters]` to search across all resources.
        *  `GET [base]/[type]?[parameters]` to search resources of a specified
        type.
        *  `POST [base]/[type]/_search?[parameters]` as an alternate form having
        the same semantics as the `GET` method.

        The `GET` methods do not support compartment searches. The `POST` method
        does not support `application/x-www-form-urlencoded` search parameters.

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `searchset`, containing the results of the
        search.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.

        The server's capability statement, retrieved through
        capabilities, indicates what search parameters
        are supported on each FHIR resource. A list of all search parameters
        defined by the specification can be found in the [FHIR Search Parameter
        Registry](http://hl7.org/implement/standards/fhir/STU3/searchparameter-registry.html).

        Supported search modifiers: `:missing`, `:exact`, `:contains`, `:text`,
        `:in`, `:not-in`, `:above`, `:below`, `:[type]`, `:not`, and `:recurse`.

        Supported search result parameters: `_sort`, `_count`, `_include`,
        `_revinclude`, `_summary=text`, `_summary=data`, and `_elements`.

        The maximum number of search results returned defaults to 100, which can
        be overridden by the `_count` parameter up to a maximum limit of 1000. If
        there are additional results, the returned `Bundle` will contain
        pagination links.

        Resources with a total size larger than 5MB or a field count larger than
        50,000 might not be fully searchable as the server might trim its generated
        search index in those cases.

        Note: FHIR resources are indexed asynchronously, so there might be a slight
        delay between the time a resource is created or changes and when the change
        is reflected in search results.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchResourcesRequest'
        - description: Name of the FHIR store to retrieve resources from.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/fhir/{type}':
    delete:
      description: |-
        Deletes FHIR resources that match a search query.

        Implements the FHIR standard [conditional delete
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#2.21.0.13.1).
        If multiple resources match, all of them will be deleted.

        Search terms are provided as query parameters following the same pattern as
        the search method.

        Note: Unless resource versioning is disabled by setting the
        disable_resource_versioning flag
        on the FHIR store, the deleted resources will be moved to a history
        repository that can still be retrieved through vread
        and related methods, unless they are removed by the
        purge method.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.conditionalDelete
      parameters:
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to delete, such as Patient or Observation. For a
            complete list, see the [FHIR Resource
            Index](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html).
          in: path
          name: type
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        If a resource is found based on the search criteria specified in the query
        parameters, updates part of that resource by applying the operations
        specified in a [JSON Patch](http://jsonpatch.com/) document.

        Implements the FHIR standard [conditional patch
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#patch).

        Search terms are provided as query parameters following the same pattern as
        the search method.

        If the search criteria identify more than one match, the request will
        return a `412 Precondition Failed` error.

        The request body must contain a JSON Patch document, and the request
        headers must contain `Content-Type: application/json-patch+json`.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.conditionalPatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpBody'
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to update, such as Patient or Observation. For a
            complete list, see the [FHIR Resource
            Index](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html).
          in: path
          name: type
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    post:
      description: |-
        Creates a FHIR resource.

        Implements the FHIR standard [create
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#create),
        which creates a new resource with a server-assigned resource ID.

        Also supports the FHIR standard [conditional create
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#ccreate),
        specified by supplying an `If-None-Exist` header containing a FHIR search
        query. If no resources match this search query, the server processes the
        create operation as normal.

        The request body must contain a JSON-encoded FHIR resource, and the request
        headers must contain `Content-Type: application/fhir+json`.

        On success, the response body will contain a JSON-encoded representation
        of the resource as it was created on the server, including the
        server-assigned resource ID and version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpBody'
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to create, such as Patient or Observation. For a
            complete list, see the [FHIR Resource
            Index](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html).
            Must match the resource type in the provided content.
          in: path
          name: type
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    put:
      description: |-
        If a resource is found based on the search criteria specified in the query
        parameters, updates the entire contents of that resource.

        Implements the FHIR standard [conditional update
        interaction](http://hl7.org/implement/standards/fhir/STU3/http.html#cond-update).

        Search terms are provided as query parameters following the same pattern as
        the search method.

        If the search criteria identify more than one match, the request will
        return a `412 Precondition Failed` error.
        If the search criteria identify zero matches, and the supplied resource
        body contains an `id`, and the FHIR store has
        enable_update_create set, creates the
        resource with the client-specified ID. If the search criteria identify zero
        matches, and the supplied resource body does not contain an `id`, the
        resource will be created with a server-assigned ID as per the
        create method.

        The request body must contain a JSON-encoded FHIR resource, and the request
        headers must contain `Content-Type: application/fhir+json`.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.conditionalUpdate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpBody'
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to update, such as Patient or Observation. For a
            complete list, see the [FHIR Resource
            Index](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html).
            Must match the resource type in the provided content.
          in: path
          name: type
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpBody'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/fhirStores':
    get:
      description: Lists the FHIR stores in the given dataset.
      operationId: healthcare.projects.locations.datasets.fhirStores.list
      parameters:
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported, for example `labels.key=value`.
          in: query
          name: filter
          type: string
        - description: |-
            Limit on the number of FHIR stores to return in a single response.  If zero
            the default page size of 100 is used.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFhirStoresResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new FHIR store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.fhirStores.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FhirStore'
        - description: |-
            The ID of the FHIR store that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: fhirStoreId
          type: string
        - description: The name of the dataset this FHIR store belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FhirStore'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/hl7V2Stores':
    get:
      description: Lists the HL7v2 stores in the given dataset.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.list
      parameters:
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported, for example `labels.key=value`.
          in: query
          name: filter
          type: string
        - description: |-
            Limit on the number of HL7v2 stores to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHl7V2StoresResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new HL7v2 store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Hl7V2Store'
        - description: |-
            The ID of the HL7v2 store that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: hl7V2StoreId
          type: string
        - description: The name of the dataset this HL7v2 store belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Hl7V2Store'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/messages':
    get:
      description: |-
        Lists all the messages in the given HL7v2 store with support for filtering.

        Note: HL7v2 messages are indexed asynchronously, so there might be a slight
        delay between the time a message is created and when it can be found
        through a filter.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.messages.list
      parameters:
        - description: |-
            Restricts messages returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings

            Fields/functions available for filtering are:

            *  `message_type`, from the MSH-9 segment; for example
            `NOT message_type = "ADT"`
            *  `send_date` or `sendDate`, the YYYY-MM-DD date the message was sent in
            the dataset's time_zone, from the MSH-7 segment; for example
            `send_date < "2017-01-02"`
            *  `send_time`, the timestamp when the message was sent, using the
            RFC3339 time format for comparisons, from the MSH-7 segment; for example
            `send_time < "2017-01-02T00:00:00-05:00"`
            *  `send_facility`, the care center that the message came from, from the
            MSH-4 segment; for example `send_facility = "ABC"`
            *  `HL7RegExp(expr)`, which does regular expression matching of `expr`
            against the message payload using re2 (http://code.google.com/p/re2/)
            syntax; for example `HL7RegExp("^.*\|.*\|EMERG")`
            *  `PatientId(value, type)`, which matches if the message lists a patient
            having an ID of the given value and type in the PID-2, PID-3, or PID-4
            segments; for example `PatientId("123456", "MRN")`
            *  `labels.x`, a string value of the label with key `x` as set using the
            Message.labels
            map, for example `labels."priority"="high"`. The operator `:*` can be used
            to assert the existence of a label, for example `labels."priority":*`.

            Limitations on conjunctions:

            *  Negation on the patient ID function or the labels field is not
            supported, for example these queries are invalid:
            `NOT PatientId("123456", "MRN")`, `NOT labels."tag1":*`,
            `NOT labels."tag2"="val2"`.
            *  Conjunction of multiple patient ID functions is not supported, for
            example this query is invalid:
            `PatientId("123456", "MRN") AND PatientId("456789", "MRN")`.
            *  Conjunction of multiple labels fields is also not supported, for
            example this query is invalid: `labels."tag1":* AND labels."tag2"="val2"`.
            *  Conjunction of one patient ID function, one labels field and conditions
            on other fields is supported, for example this query is valid:
            `PatientId("123456", "MRN") AND labels."tag1":* AND message_type = "ADT"`.

            The HasLabel(x) and Label(x) syntax from previous API versions are
            deprecated; replaced by the `labels.x` syntax.
          in: query
          name: filter
          type: string
        - description: |-
            Orders messages returned by the specified order_by clause.
            Syntax: https://cloud.google.com/apis/design/design_patterns#sorting_order

            Fields available for ordering are:

            *  `send_time`
          in: query
          name: orderBy
          type: string
        - description: |-
            Limit on the number of messages to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Name of the HL7v2 store to retrieve messages from.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListMessagesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a message and sends a notification to the Cloud Pub/Sub topic. If
        configured, the MLLP adapter listens to messages created by this method and
        sends those back to the hospital. A successful response indicates the
        message has been persisted to storage and a Cloud Pub/Sub notification has
        been sent. Sending to the hospital by the MLLP adapter happens
        asynchronously.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.messages.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateMessageRequest'
        - description: The name of the dataset this message belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{parent}/messages:ingest':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Ingests a new HL7v2 message from the hospital and sends a notification to
        the Cloud Pub/Sub topic. Return is an HL7v2 ACK message if the message was
        successfully stored. Otherwise an error is returned.  If an identical
        HL7v2 message is created twice only one resource is created on the server
        and no error is reported.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.messages.ingest
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/IngestMessageRequest'
        - description: The name of the HL7v2 store this message belongs to.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/IngestMessageResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{resource}:getIamPolicy':
    get:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: healthcare.projects.locations.datasets.dicomStores.getIamPolicy
      parameters:
        - description: |-
            Optional. The policy format version to be returned.
            Acceptable values are 0, 1, and 3.
            If the value is 0, or the field is omitted, policy format version 1 will be
            returned.
          in: query
          name: options.requestedPolicyVersion
          type: integer
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Gets the access control policy for a resource. Returns NOT_FOUND error if
        the resource does not exist. Returns an empty policy if the resource exists
        but does not have a policy set.

        Authorization requires the Google IAM permission
        `healthcare.AnnotationStores.getIamPolicy` on the specified
        resource
      operationId: healthcare.projects.locations.datasets.annotationStores.getIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.
      operationId: healthcare.projects.locations.datasets.dicomStores.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        If the resource does not exist, this will return an empty set of
        permissions, not a NOT_FOUND error.

        Note: This operation is designed to be used for building permission-aware
        UIs and command-line tools, not for authorization checking. This operation
        may "fail open" without warning.
      operationId: healthcare.projects.locations.datasets.dicomStores.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha2/{sourceDataset}:deidentify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new dataset containing de-identified data from the source
        dataset. The metadata field type
        is OperationMetadata.
        If the request is successful, the
        response field type is
        DeidentifySummary.
        If errors occur,
        details field type is
        DeidentifyErrorDetails.
      operationId: healthcare.projects.locations.datasets.deidentify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DeidentifyDatasetRequest'
        - description: |-
            Source dataset resource name. (e.g.,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}`).
          in: path
          name: sourceDataset
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  Annotation:
    description: An annotation record.
    properties:
      annotationSource:
        $ref: '#/definitions/AnnotationSource'
        description: Details of the source.
      imageAnnotation:
        $ref: '#/definitions/ImageAnnotation'
        description: 'Annotations for images, e.g., bounding polygons.'
      name:
        description: |-
          Output only. Resource name of the Annotation, of the form
          `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}/annotations/{annotation_id}`.
        type: string
      resourceAnnotation:
        $ref: '#/definitions/ResourceAnnotation'
        description: 'Annotations for resource, e.g., classification tags.'
      textAnnotation:
        $ref: '#/definitions/SensitiveTextAnnotation'
        description: 'Annotations for sensitive texts, e.g., range of such texts.'
    type: object
  AnnotationSource:
    description: AnnotationSource holds the source information of the annotation.
    properties:
      cloudHealthcareSource:
        $ref: '#/definitions/CloudHealthcareSource'
        description: Cloud Healthcare API resource.
    type: object
  AnnotationStore:
    description: |-
      An Annotation store that can store annotation resources such as
      labels and tags for text, image and audio.
    properties:
      labels:
        additionalProperties:
          type: string
        description: |-
          User-supplied key-value pairs used to organize Annotation stores.

          Label keys must be between 1 and 63 characters long, have a UTF-8 encoding
          of maximum 128 bytes, and must conform to the
          following PCRE regular expression:
          \p{Ll}\p{Lo}{0,62}

          Label values are optional, must be between 1 and 63 characters long, have
          a UTF-8 encoding of maximum 128 bytes, and must conform to the
          following PCRE regular expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63}

          No more than 64 labels can be associated with a given store.
        type: object
      name:
        description: |-
          Output only. Resource name of the Annotation store, of the form
          `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`.
        type: string
    type: object
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditLogConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:jose@example.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "sampleservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:aliya@example.com"
                    ]
                  }
                ]
              }
            ]
          }

      For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts jose@example.com from DATA_READ logging, and
      aliya@example.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: The configuration for logging of each type of permission.
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:jose@example.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      jose@example.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          The condition that is associated with this binding.
          NOTE: An unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@example.com` .


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: The G Suite domain (primary) that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
        type: string
    type: object
  BoundingPoly:
    description: A bounding polygon for the detected image annotation.
    properties:
      label:
        type: string
      vertices:
        items:
          $ref: '#/definitions/Vertex'
        type: array
    type: object
  CharacterMaskConfig:
    description: Mask a string by replacing its characters with a fixed character.
    properties:
      maskingCharacter:
        description: 'Character to mask the sensitive values. If not supplied, defaults to "*".'
        type: string
    type: object
  CloudHealthcareSource:
    description: Cloud Healthcare API resource.
    properties:
      name:
        description: Full path of a Cloud Healthcare API resource.
        type: string
    type: object
  CreateMessageRequest:
    description: Creates a new message.
    properties:
      message:
        $ref: '#/definitions/Message'
        description: HL7v2 message.
    type: object
  CryptoHashConfig:
    description: |-
      Pseudonymization method that generates surrogates via cryptographic hashing.
      Uses SHA-256.
      Outputs a base64-encoded representation of the hashed output
      (for example, `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`).
    properties:
      cryptoKey:
        description: |-
          An AES 128/192/256 bit key. Causes the hash to be computed based on this
          key. A default key is generated for each Deidentify operation and is used
          wherever crypto_key is not specified.
        format: byte
        type: string
    type: object
  Dataset:
    description: |-
      A message representing a health dataset.

      A health dataset represents a collection of healthcare data pertaining to one
      or more patients. This may include multiple modalities of healthcare data,
      such as electronic medical records or medical imaging data.
    properties:
      name:
        description: |-
          Output only. Resource name of the dataset, of the form
          `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}`.
        type: string
      timeZone:
        description: |-
          The default timezone used by this dataset. Must be a either a valid IANA
          time zone name such as "America/New_York" or empty, which defaults to UTC.
          This is used for parsing times in resources (e.g., HL7 messages) where no
          explicit timezone is specified.
        type: string
    type: object
  DateShiftConfig:
    description: |-
      Shift a date forward or backward in time by a random amount which is
      consistent for a given patient and crypto key combination.
    properties:
      cryptoKey:
        description: |-
          An AES 128/192/256 bit key. Causes the shift to be computed based on this
          key and the patient ID. A default key is generated for each
          Deidentify operation and is used wherever crypto_key is not specified.
        format: byte
        type: string
    type: object
  DeidentifyConfig:
    description: |-
      Configures de-id options specific to different types of content.
      Each submessage customizes the handling of an
      https://tools.ietf.org/html/rfc6838 media type or subtype. Configs are
      applied in a nested manner at runtime.
    properties:
      dicom:
        $ref: '#/definitions/DicomConfig'
        description: Configures de-id of application/DICOM content.
      fhir:
        $ref: '#/definitions/FhirConfig'
        description: Configures de-id of application/FHIR content.
      image:
        $ref: '#/definitions/ImageConfig'
        description: |-
          Configures de-identification of image pixels wherever they are found in the
          source_dataset.
      text:
        $ref: '#/definitions/TextConfig'
        description: |-
          Configures de-identification of text wherever it is found in the
          source_dataset.
    type: object
  DeidentifyDatasetRequest:
    description: Redacts identifying information from the specified dataset.
    properties:
      config:
        $ref: '#/definitions/DeidentifyConfig'
        description: Deidentify configuration.
      destinationDataset:
        description: |-
          The name of the dataset resource to create and write the redacted data to
          (e.g.,
          `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}`).

           * The destination dataset must not exist.
           * The destination dataset must be in the same project as the source
             dataset. De-identifying data across multiple projects is not supported.
        type: string
    type: object
  DeidentifyErrorDetails:
    description: Contains the status of the Deidentify operation.
    properties:
      failureResourceCount:
        description: Number of resources failed to process.
        format: int64
        type: string
      failureStoreCount:
        description: Number of stores failed to process.
        format: int64
        type: string
      successResourceCount:
        description: Number of resources successfully processed.
        format: int64
        type: string
      successStoreCount:
        description: Number of stores successfully processed.
        format: int64
        type: string
    type: object
  DeidentifySummary:
    description: Contains a detailed summary of the Deidentify operation.
    properties:
      successResourceCount:
        description: Number of resources successfully processed.
        format: int64
        type: string
      successStoreCount:
        description: Number of stores successfully processed.
        format: int64
        type: string
    type: object
  Detail:
    description: Contains multiple sensitive information findings for each resource slice.
    properties:
      findings:
        items:
          $ref: '#/definitions/Finding'
        type: array
    type: object
  DicomConfig:
    description: Specifies the parameters needed for de-identification of DICOM stores.
    properties:
      filterProfile:
        description: Tag filtering profile that determines which tags to keep/remove.
        enum:
          - TAG_FILTER_PROFILE_UNSPECIFIED
          - MINIMAL_KEEP_LIST_PROFILE
          - ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE
          - KEEP_ALL_PROFILE
          - DEIDENTIFY_TAG_CONTENTS
        type: string
      keepList:
        $ref: '#/definitions/TagFilterList'
        description: List of tags to keep. Remove all other tags.
      removeList:
        $ref: '#/definitions/TagFilterList'
        description: List of tags to remove. Keep all other tags.
    type: object
  DicomStore:
    description: Represents a DICOM store.
    properties:
      labels:
        additionalProperties:
          type: string
        description: |-
          User-supplied key-value pairs used to organize DICOM stores.

          Label keys must be between 1 and 63 characters long, have a UTF-8 encoding
          of maximum 128 bytes, and must conform to the
          following PCRE regular expression:
          \p{Ll}\p{Lo}{0,62}

          Label values are optional, must be between 1 and 63 characters long, have
          a UTF-8 encoding of maximum 128 bytes, and must conform to the
          following PCRE regular expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63}

          No more than 64 labels can be associated with a given store.
        type: object
      name:
        description: |-
          Output only. Resource name of the DICOM store, of the form
          `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.
        type: string
      notificationConfig:
        $ref: '#/definitions/NotificationConfig'
        description: |-
[...]
