openapi: 3.0.0
servers:
  - url: https://marketingplatformadmin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: marketingplatformadmin.googleapis.com API.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Marketing Platform Admin API
  version: v1alpha
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://marketingplatformadmin.googleapis.com/$discovery/rest?version=v1alpha
      version: v1
  x-providerName: googleapis.com
  x-serviceName: marketingplatformadmin
externalDocs:
  url: https://developers.google.com/analytics/devguides/config/gmp/v1
tags:
  - name: organizations
paths:
  /v1alpha/{analyticsAccountLink}:setPropertyServiceLevel:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates the service level for an Analytics property.
      operationId: marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel
      parameters:
        - description: "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
          in: path
          name: analyticsAccountLink
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPropertyServiceLevelRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetPropertyServiceLevelResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
          Oauth2c:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
      tags:
        - organizations
  /v1alpha/{name}:
    delete:
      description: Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.
      operationId: marketingplatformadmin.organizations.analyticsAccountLinks.delete
      parameters:
        - description: "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
          Oauth2c:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1alpha/{parent}/analyticsAccountLinks:
    get:
      description: Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.
      operationId: marketingplatformadmin.organizations.analyticsAccountLinks.list
      parameters:
        - description: "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAnalyticsAccountLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.read
          Oauth2c:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.read
        - Oauth2:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
          Oauth2c:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.
      operationId: marketingplatformadmin.organizations.analyticsAccountLinks.create
      parameters:
        - description: "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsAccountLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsAccountLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
          Oauth2c:
            - https://www.googleapis.com/auth/marketingplatformadmin.analytics.update
      tags:
        - organizations
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AnalyticsAccountLink:
      description: A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.
      properties:
        analyticsAccount:
          description: "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}"
          type: string
        displayName:
          description: Output only. The human-readable name for the Analytics account.
          readOnly: true
          type: string
        linkVerificationState:
          description: Output only. The verification state of the link between the Analytics account and the parent organization.
          enum:
            - LINK_VERIFICATION_STATE_UNSPECIFIED
            - LINK_VERIFICATION_STATE_VERIFIED
            - LINK_VERIFICATION_STATE_NOT_VERIFIED
          readOnly: true
          type: string
        name:
          description: 'Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: "organizations/xyz/analyticsAccountLinks/1234"'
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    ListAnalyticsAccountLinksResponse:
      description: Response message for ListAnalyticsAccountLinks RPC.
      properties:
        analyticsAccountLinks:
          description: Analytics account links in this organization.
          items:
            $ref: "#/components/schemas/AnalyticsAccountLink"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    SetPropertyServiceLevelRequest:
      description: Request message for SetPropertyServiceLevel RPC.
      properties:
        analyticsProperty:
          description: "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
          type: string
        serviceLevel:
          description: Required. The service level to set for this property.
          enum:
            - ANALYTICS_SERVICE_LEVEL_UNSPECIFIED
            - ANALYTICS_SERVICE_LEVEL_STANDARD
            - ANALYTICS_SERVICE_LEVEL_360
          type: string
      type: object
    SetPropertyServiceLevelResponse:
      description: Response message for SetPropertyServiceLevel RPC.
      properties: {}
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/marketingplatformadmin.analytics.read: View your Google Analytics product account data in GMP home
            https://www.googleapis.com/auth/marketingplatformadmin.analytics.update: Manage your Google Analytics product account data in GMP home
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/marketingplatformadmin.analytics.read: View your Google Analytics product account data in GMP home
            https://www.googleapis.com/auth/marketingplatformadmin.analytics.update: Manage your Google Analytics product account data in GMP home
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
