swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /games/v1management
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: The Management API for Google Play Game Services.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play Game Services Management
  version: v1management
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/play_games_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/gamesManagement/v1management/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: gamesManagement
externalDocs:
  url: 'https://developers.google.com/games/services'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/games': Share your Google+ profile information and view and manage your game activity
      'https://www.googleapis.com/auth/plus.login': 'Know the list of people in your circles, your age range, and language'
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/games': Share your Google+ profile information and view and manage your game activity
      'https://www.googleapis.com/auth/plus.login': 'Know the list of people in your circles, your age range, and language'
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: achievements
  - name: applications
  - name: events
  - name: players
  - name: quests
  - name: rooms
  - name: scores
  - name: turnBasedMatches
paths:
  /achievements/reset:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.achievements.resetAll
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementResetAllResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  /achievements/resetAllForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all draft achievements for all players. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.achievements.resetAllForAllPlayers
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  /achievements/resetMultipleForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.
      operationId: gamesManagement.achievements.resetMultipleForAllPlayers
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AchievementResetMultipleForAllRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  '/achievements/{achievementId}/reset':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.achievements.reset
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementResetResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  '/achievements/{achievementId}/resetForAllPlayers':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.
      operationId: gamesManagement.achievements.resetForAllPlayers
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  '/applications/{applicationId}/players/hidden':
    get:
      description: Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.applications.listHidden
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - description: 'The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.'
          in: query
          maximum: 50
          minimum: 1
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HiddenPlayerList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - applications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/applications/{applicationId}/players/hidden/{playerId}':
    delete:
      description: Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.players.unhide
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - players
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.players.hide
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          type: string
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - players
  /events/reset:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application. All quests for this player will also be reset.
      operationId: gamesManagement.events.resetAll
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
  /events/resetAllForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all draft events for all players. This method is only available to user accounts for your developer console. All quests that use any of these events will also be reset.
      operationId: gamesManagement.events.resetAllForAllPlayers
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
  /events/resetMultipleForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset. All quests that use any of the events will also be reset.
      operationId: gamesManagement.events.resetMultipleForAllPlayers
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EventsResetMultipleForAllRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
  '/events/{eventId}/reset':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application. All quests for this player that use the event will also be reset.
      operationId: gamesManagement.events.reset
      parameters:
        - description: The ID of the event.
          in: path
          name: eventId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
  '/events/{eventId}/resetForAllPlayers':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset. All quests that use the event will also be reset.
      operationId: gamesManagement.events.resetForAllPlayers
      parameters:
        - description: The ID of the event.
          in: path
          name: eventId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
  '/leaderboards/{leaderboardId}/scores/reset':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.scores.reset
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PlayerScoreResetResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
  '/leaderboards/{leaderboardId}/scores/resetForAllPlayers':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.
      operationId: gamesManagement.scores.resetForAllPlayers
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
  /quests/reset:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on all quests for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.quests.resetAll
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
  /quests/resetAllForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all draft quests for all players. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.quests.resetAllForAllPlayers
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
  /quests/resetMultipleForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets quests with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft quests may be reset.
      operationId: gamesManagement.quests.resetMultipleForAllPlayers
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/QuestsResetMultipleForAllRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
  '/quests/{questId}/reset':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on the quest with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.quests.reset
      parameters:
        - description: The ID of the quest.
          in: path
          name: questId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
  '/quests/{questId}/resetForAllPlayers':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on the quest with the given ID for all players. This method is only available to user accounts for your developer console. Only draft quests can be reset.
      operationId: gamesManagement.quests.resetForAllPlayers
      parameters:
        - description: The ID of the quest.
          in: path
          name: questId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
  /rooms/reset:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Reset all rooms for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.rooms.reset
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
  /rooms/resetForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Deletes rooms where the only room participants are from whitelisted tester accounts for your application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.rooms.resetForAllPlayers
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
  /scores/reset:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.scores.resetAll
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PlayerScoreResetAllResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
  /scores/resetAllForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.scores.resetAllForAllPlayers
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
  /scores/resetMultipleForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.
      operationId: gamesManagement.scores.resetMultipleForAllPlayers
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ScoresResetMultipleForAllRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
  /turnbasedmatches/reset:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Reset all turn-based match data for a user. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.turnBasedMatches.reset
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  /turnbasedmatches/resetForAllPlayers:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Deletes turn-based matches where the only match participants are from whitelisted tester accounts for your application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.turnBasedMatches.resetForAllPlayers
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
definitions:
  AchievementResetAllResponse:
    description: This is a JSON template for achievement reset all response.
    properties:
      kind:
        default: 'gamesManagement#achievementResetAllResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetAllResponse.'
        type: string
      results:
        description: The achievement reset results.
        items:
          $ref: '#/definitions/AchievementResetResponse'
        type: array
    type: object
  AchievementResetMultipleForAllRequest:
    description: This is a JSON template for multiple achievements reset all request.
    properties:
      achievement_ids:
        description: The IDs of achievements to reset.
        items:
          type: string
        type: array
      kind:
        default: 'gamesManagement#achievementResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetMultipleForAllRequest.'
        type: string
    type: object
  AchievementResetResponse:
    description: This is a JSON template for an achievement reset response.
    properties:
      currentState:
        description: |-
          The current state of the achievement. This is the same as the initial state of the achievement.
          Possible values are:  
          - "HIDDEN"- Achievement is hidden. 
          - "REVEALED" - Achievement is revealed. 
          - "UNLOCKED" - Achievement is unlocked.
        type: string
      definitionId:
        description: The ID of an achievement for which player state has been updated.
        type: string
      kind:
        default: 'gamesManagement#achievementResetResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetResponse.'
        type: string
      updateOccurred:
        description: Flag to indicate if the requested update actually occurred.
        type: boolean
    type: object
  EventsResetMultipleForAllRequest:
    description: This is a JSON template for multiple events reset all request.
    properties:
      event_ids:
        description: The IDs of events to reset.
        items:
          type: string
        type: array
      kind:
        default: 'gamesManagement#eventsResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#eventsResetMultipleForAllRequest.'
        type: string
    type: object
  GamesPlayedResource:
    description: This is a JSON template for metadata about a player playing a game with the currently authenticated user.
    properties:
      autoMatched:
        description: True if the player was auto-matched with the currently authenticated user.
        type: boolean
      timeMillis:
        description: The last time the player played the game in milliseconds since the epoch in UTC.
        format: int64
        type: string
    type: object
  GamesPlayerExperienceInfoResource:
    description: This is a JSON template for 1P/3P metadata about the player's experience.
    properties:
      currentExperiencePoints:
        description: The current number of experience points for the player.
        format: int64
        type: string
      currentLevel:
        $ref: '#/definitions/GamesPlayerLevelResource'
        description: The current level of the player.
      lastLevelUpTimestampMillis:
        description: 'The timestamp when the player was leveled up, in millis since Unix epoch UTC.'
        format: int64
        type: string
      nextLevel:
        $ref: '#/definitions/GamesPlayerLevelResource'
        description: 'The next level of the player. If the current level is the maximum level, this should be same as the current level.'
    type: object
  GamesPlayerLevelResource:
    description: This is a JSON template for 1P/3P metadata about a user's level.
    properties:
      level:
        description: The level for the user.
        format: int32
        type: integer
      maxExperiencePoints:
        description: The maximum experience points for this level.
        format: int64
        type: string
      minExperiencePoints:
        description: The minimum experience points for this level.
        format: int64
        type: string
    type: object
  HiddenPlayer:
    description: This is a JSON template for the HiddenPlayer resource.
    properties:
      hiddenTimeMillis:
        description: The time this player was hidden.
        format: int64
        type: string
      kind:
        default: 'gamesManagement#hiddenPlayer'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#hiddenPlayer.'
        type: string
      player:
        $ref: '#/definitions/Player'
        description: The player information.
    type: object
  HiddenPlayerList:
    description: This is a JSON template for a list of hidden players.
    properties:
      items:
        description: The players.
        items:
          $ref: '#/definitions/HiddenPlayer'
        type: array
      kind:
        default: 'gamesManagement#hiddenPlayerList'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#hiddenPlayerList.'
        type: string
      nextPageToken:
        description: The pagination token for the next page of results.
        type: string
    type: object
  Player:
    description: This is a JSON template for a Player resource.
    properties:
      avatarImageUrl:
        description: The base URL for the image that represents the player.
        type: string
      bannerUrlLandscape:
        description: The url to the landscape mode player banner image.
        type: string
      bannerUrlPortrait:
        description: The url to the portrait mode player banner image.
        type: string
      displayName:
        description: The name to display for the player.
        type: string
      experienceInfo:
        $ref: '#/definitions/GamesPlayerExperienceInfoResource'
        description: An object to represent Play Game experience information for the player.
      kind:
        default: 'gamesManagement#player'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#player.'
        type: string
      lastPlayedWith:
        $ref: '#/definitions/GamesPlayedResource'
        description: Details about the last time this player played a multiplayer game with the currently authenticated player. Populated for PLAYED_WITH player collection members.
      name:
        description: 'An object representation of the individual components of the player''s name. For some players, these fields may not be present.'
        properties:
          familyName:
            description: 'The family name of this player. In some places, this is known as the last name.'
            type: string
          givenName:
            description: 'The given name of this player. In some places, this is known as the first name.'
            type: string
        type: object
      originalPlayerId:
        description: 'The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.'
        type: string
      playerId:
        description: The ID of the player.
        type: string
      profileSettings:
        $ref: '#/definitions/ProfileSettings'
        description: The player's profile settings. Controls whether or not the player's profile is visible to other players.
      title:
        description: The player's title rewarded for their game activities.
        type: string
    type: object
  PlayerScoreResetAllResponse:
    description: This is a JSON template for a list of leaderboard reset resources.
    properties:
      kind:
        default: 'gamesManagement#playerScoreResetAllResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#playerScoreResetResponse.'
        type: string
      results:
        description: The leaderboard reset results.
        items:
          $ref: '#/definitions/PlayerScoreResetResponse'
        type: array
    type: object
  PlayerScoreResetResponse:
    description: This is a JSON template for a list of reset leaderboard entry resources.
    properties:
      definitionId:
        description: The ID of an leaderboard for which player state has been updated.
        type: string
      kind:
        default: 'gamesManagement#playerScoreResetResponse'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#playerScoreResetResponse.'
        type: string
      resetScoreTimeSpans:
        description: |-
          The time spans of the updated score.
          Possible values are:  
          - "ALL_TIME" - The score is an all-time score. 
          - "WEEKLY" - The score is a weekly score. 
          - "DAILY" - The score is a daily score.
        items:
          type: string
        type: array
    type: object
  ProfileSettings:
    description: This is a JSON template for profile settings
    properties:
      kind:
        default: 'gamesManagement#profileSettings'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#profileSettings.'
        type: string
      profileVisible:
        description: The player's current profile visibility. This field is visible to both 1P and 3P APIs.
        type: boolean
    type: object
  QuestsResetMultipleForAllRequest:
    description: This is a JSON template for multiple quests reset all request.
    properties:
      kind:
        default: 'gamesManagement#questsResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#questsResetMultipleForAllRequest.'
        type: string
      quest_ids:
        description: The IDs of quests to reset.
        items:
          type: string
        type: array
    type: object
  ScoresResetMultipleForAllRequest:
    description: This is a JSON template for multiple scores reset all request.
    properties:
      kind:
        default: 'gamesManagement#scoresResetMultipleForAllRequest'
        description: 'Uniquely identifies the type of this resource. Value is always the fixed string gamesManagement#scoresResetMultipleForAllRequest.'
        type: string
      leaderboard_ids:
        description: The IDs of leaderboards to reset.
        items:
          type: string
        type: array
    type: object
