{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/cbb/scores"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/cbb/scores"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "CBB v3 Scores",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/cbb-v3-scores.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "cbb-v3-scores"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/AreAnyGamesInProgress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "AreGamesInProgress",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": false,
                  "type": "boolean"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Are Games In Progress"
      }
    },
    "/{format}/CurrentSeason": {
      "get": {
        "operationId": "CurrentSeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current Season"
      }
    },
    "/{format}/Games/{season}": {
      "get": {
        "operationId": "Schedules",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Schedules"
      }
    },
    "/{format}/GamesByDate/{date}": {
      "get": {
        "operationId": "GamesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Games by Date"
      }
    },
    "/{format}/InjuredPlayers": {
      "get": {
        "description": "This endpoint provides all currently injured college basketball players, along with injury details.",
        "operationId": "InjuredPlayers",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injured Players"
      }
    },
    "/{format}/LeagueHierarchy": {
      "get": {
        "operationId": "LeagueHierarchy",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Conference"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "League Hierarchy"
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "operationId": "PlayerDetailsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>60003802</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Player"
      }
    },
    "/{format}/Players": {
      "get": {
        "operationId": "PlayerDetailsByActive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Active"
      }
    },
    "/{format}/Players/{team}": {
      "get": {
        "operationId": "PlayerDetailsByTeam",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The abbreviation of the requested team.\n<br>Examples: <code>SF</code>, <code>NYY</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Team"
      }
    },
    "/{format}/Stadiums": {
      "get": {
        "operationId": "Stadiums",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Stadium"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Stadiums"
      }
    },
    "/{format}/TeamGameStatsByDate/{date}": {
      "get": {
        "operationId": "TeamGameStatsByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Game Stats by Date"
      }
    },
    "/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}": {
      "get": {
        "description": "Game by game log of total team statistics.",
        "operationId": "TeamGameLogsBySeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Season to get games from. Example <code>2019POST</code>, <code>2020</code>",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of team.  Example <code> 1 </code>",
            "in": "path",
            "name": "teamid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>",
            "in": "path",
            "name": "numberofgames",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Game Logs By Season"
      }
    },
    "/{format}/TeamSchedule/{season}/{team}": {
      "get": {
        "operationId": "TeamSchedule",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The abbreviation of the requested team.\nExamples: <code>SF</code>, <code>NYY</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Schedule"
      }
    },
    "/{format}/TeamSeasonStats/{season}": {
      "get": {
        "operationId": "TeamSeasonStats",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018POST</code>, <code>2019</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamSeason"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Season Stats"
      }
    },
    "/{format}/Tournament/{season}": {
      "get": {
        "operationId": "TournamentHierarchy",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018POST</code>, <code>2019</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tournament"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Tournament Hierarchy"
      }
    },
    "/{format}/teams": {
      "get": {
        "operationId": "Teams",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Teams"
      }
    }
  },
  "components": {
    "schemas": {
      "Conference": {
        "properties": {
          "ConferenceID": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Teams": {
            "items": {
              "$ref": "#/components/schemas/Team"
            },
            "type": "array"
          }
        }
      },
      "Game": {
        "properties": {
          "Attendance": {
            "nullable": true,
            "type": "integer"
          },
          "AwayPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "AwayRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamPreviousGameID": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamPreviousGlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamSeed": {
            "nullable": true,
            "type": "integer"
          },
          "BottomTeamPreviousGameId": {
            "nullable": true,
            "type": "integer"
          },
          "Bracket": {
            "nullable": true,
            "type": "string"
          },
          "Channel": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "DateTimeUTC": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "GameEndDateTime": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalAwayTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalHomeTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomePointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "HomeRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamPreviousGameID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamPreviousGlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamSeed": {
            "nullable": true,
            "type": "integer"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "NeutralVenue": {
            "nullable": true,
            "type": "boolean"
          },
          "OverPayout": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "Period": {
            "nullable": true,
            "type": "string"
          },
          "Periods": {
            "items": {
              "$ref": "#/components/schemas/Period"
            },
            "type": "array"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "Round": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Stadium": {
            "$ref": "#/components/schemas/Stadium"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "TimeRemainingMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeRemainingSeconds": {
            "nullable": true,
            "type": "integer"
          },
          "TopTeamPreviousGameId": {
            "nullable": true,
            "type": "integer"
          },
          "TournamentDisplayOrder": {
            "nullable": true,
            "type": "integer"
          },
          "TournamentDisplayOrderForHomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "TournamentID": {
            "nullable": true,
            "type": "integer"
          },
          "UnderPayout": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Period": {
        "properties": {
          "AwayScore": {
            "nullable": true,
            "type": "integer"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeScore": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": false,
            "type": "integer"
          },
          "PeriodID": {
            "nullable": false,
            "type": "integer"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Player": {
        "properties": {
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthState": {
            "nullable": true,
            "type": "string"
          },
          "Class": {
            "nullable": true,
            "type": "string"
          },
          "FantasyAlarmPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "HighSchool": {
            "nullable": true,
            "type": "string"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RotoworldPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "SportRadarPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Season": {
        "properties": {
          "ApiSeason": {
            "nullable": true,
            "type": "string"
          },
          "Description": {
            "nullable": true,
            "type": "string"
          },
          "EndYear": {
            "nullable": false,
            "type": "integer"
          },
          "PostSeasonStartDate": {
            "nullable": true,
            "type": "string"
          },
          "RegularSeasonStartDate": {
            "nullable": true,
            "type": "string"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "StartYear": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Stadium": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "Address": {
            "nullable": true,
            "type": "string"
          },
          "Capacity": {
            "nullable": true,
            "type": "integer"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "GeoLat": {
            "nullable": true,
            "type": "number"
          },
          "GeoLong": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "StadiumID": {
            "nullable": false,
            "type": "integer"
          },
          "State": {
            "nullable": true,
            "type": "string"
          },
          "Zip": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Team": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "ApRank": {
            "nullable": true,
            "type": "integer"
          },
          "Conference": {
            "nullable": true,
            "type": "string"
          },
          "ConferenceID": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceLosses": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceWins": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "Key": {
            "nullable": true,
            "type": "string"
          },
          "Losses": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "School": {
            "nullable": true,
            "type": "string"
          },
          "ShortDisplayName": {
            "nullable": true,
            "type": "string"
          },
          "Stadium": {
            "$ref": "#/components/schemas/Stadium"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          },
          "TeamLogoUrl": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "TeamGame": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "integer"
          },
          "AssistsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "BlockedShots": {
            "nullable": true,
            "type": "integer"
          },
          "BlocksPercentage": {
            "nullable": true,
            "type": "number"
          },
          "ConferenceLosses": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceWins": {
            "nullable": true,
            "type": "integer"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DefensiveRebounds": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveReboundsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "EffectiveFieldGoalsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "FieldGoalsMade": {
            "nullable": true,
            "type": "integer"
          },
          "FieldGoalsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "FreeThrowsAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "FreeThrowsMade": {
            "nullable": true,
            "type": "integer"
          },
          "FreeThrowsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "IsGameOver": {
            "nullable": false,
            "type": "boolean"
          },
          "Losses": {
            "nullable": true,
            "type": "integer"
          },
          "Minutes": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OffensiveRebounds": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveReboundsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "PersonalFouls": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerEfficiencyRating": {
            "nullable": true,
            "type": "number"
          },
          "Points": {
            "nullable": true,
            "type": "integer"
          },
          "Possessions": {
            "nullable": true,
            "type": "number"
          },
          "Rebounds": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Steals": {
            "nullable": true,
            "type": "integer"
          },
          "StealsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ThreePointersAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "ThreePointersMade": {
            "nullable": true,
            "type": "integer"
          },
          "ThreePointersPercentage": {
            "nullable": true,
            "type": "number"
          },
          "TotalReboundsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "TrueShootingAttempts": {
            "nullable": true,
            "type": "number"
          },
          "TrueShootingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "TurnOversPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Turnovers": {
            "nullable": true,
            "type": "integer"
          },
          "TwoPointersAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "TwoPointersMade": {
            "nullable": true,
            "type": "integer"
          },
          "TwoPointersPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UsageRatePercentage": {
            "nullable": true,
            "type": "number"
          },
          "Wins": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "TeamSeason": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "integer"
          },
          "AssistsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "BlockedShots": {
            "nullable": true,
            "type": "integer"
          },
          "BlocksPercentage": {
            "nullable": true,
            "type": "number"
          },
          "ConferenceLosses": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceWins": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveRebounds": {
            "nullable": true,
            "type": "integer"
          },
          "DefensiveReboundsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "EffectiveFieldGoalsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "FieldGoalsMade": {
            "nullable": true,
            "type": "integer"
          },
          "FieldGoalsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "FreeThrowsAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "FreeThrowsMade": {
            "nullable": true,
            "type": "integer"
          },
          "FreeThrowsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Losses": {
            "nullable": true,
            "type": "integer"
          },
          "Minutes": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OffensiveRebounds": {
            "nullable": true,
            "type": "integer"
          },
          "OffensiveReboundsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PersonalFouls": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerEfficiencyRating": {
            "nullable": true,
            "type": "number"
          },
          "Points": {
            "nullable": true,
            "type": "integer"
          },
          "Possessions": {
            "nullable": true,
            "type": "number"
          },
          "Rebounds": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Steals": {
            "nullable": true,
            "type": "integer"
          },
          "StealsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ThreePointersAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "ThreePointersMade": {
            "nullable": true,
            "type": "integer"
          },
          "ThreePointersPercentage": {
            "nullable": true,
            "type": "number"
          },
          "TotalReboundsPercentage": {
            "nullable": true,
            "type": "number"
          },
          "TrueShootingAttempts": {
            "nullable": true,
            "type": "number"
          },
          "TrueShootingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "TurnOversPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Turnovers": {
            "nullable": true,
            "type": "integer"
          },
          "TwoPointersAttempted": {
            "nullable": true,
            "type": "integer"
          },
          "TwoPointersMade": {
            "nullable": true,
            "type": "integer"
          },
          "TwoPointersPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UsageRatePercentage": {
            "nullable": true,
            "type": "number"
          },
          "Wins": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Tournament": {
        "properties": {
          "Games": {
            "items": {
              "$ref": "#/components/schemas/Game"
            },
            "type": "array"
          },
          "LeftBottomBracketConference": {
            "nullable": true,
            "type": "string"
          },
          "LeftTopBracketConference": {
            "nullable": true,
            "type": "string"
          },
          "Location": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "RightBottomBracketConference": {
            "nullable": true,
            "type": "string"
          },
          "RightTopBracketConference": {
            "nullable": true,
            "type": "string"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "TournamentID": {
            "nullable": false,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}