swagger: '2.0'
schemes:
  - https
host: router.api.gov.bc.ca
basePath: /
info:
  contact:
    email: DataBCBA@gov.bc.ca
    name: Data BC
    url: 'https://forms.gov.bc.ca/databc-contact-us/'
  description: 'Finds shortest/fastest route between a start point and one or more stop points on British Columbia''s public road network. Here are some geocoded addresses to play with:<br>18 Douglas St,Victoria -123.36962,48.40892<br>1002 Johnson St, Victoria -123.355745,48.426206<br>543 Johnson St, Victoria, BC -123.36907,48.42770 <br>14 Centennial Sq, Victoria, BC -123.36564,48.42863<br>1105 Royal Ave,New Westminster  -122.92009,49.20063<br>808 Jackson Cres, New Westminster -122.90762,49.22558<br>10810 McDonald Rd, Chilliwack -121.93808,49.19859<br>3950 June Springs Rd, Kelowna -119.40751,49.83960<br>1201 Riondel Rd, Kootenay Bay -116.85402,49.74448<br>1201 Riondel Rd, Kootenay Bay -116.832759,49.730500 (parcelPoint)<br>2499 Walbran Pl, Courtenay -124.97295,49.71518<br>2013 Smoke Bluff Rd, Squamish -123.13946,49.70401<br>235 Kelvin Grove Way, Lions Bay -123.23524,49.45035.<br>   Please see our <a href=https://github.com/bcgov/api-specs/blob/master/COLLECTION_NOTICE.md#collection-notice target="_blank">data collection notice</a>'
  license:
    name: Copyright 2016 Province of British Columbia - Access only
    url: 'http://www2.gov.bc.ca/gov/content/home/copyright'
  termsOfService: 'http://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88'
  title: BC Route Planner
  version: 1.2.0
  x-apisguru-categories:
    - open_data
  x-logo:
    url: 'https://avatars1.githubusercontent.com/u/916280?v=3&s=200'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/bcgov/api-specs/master/router/router.json'
      version: '2.0'
  x-providerName: gov.bc.ca
  x-serviceName: router
externalDocs:
  description: BC Route Planner Web Site
  url: 'http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/geographic-data-and-services/route-planner'
produces:
  - application/json
  - application/vnd.google-earth.kml+xml
  - text/html
securityDefinitions:
  apikey:
    in: header
    name: apikey
    type: apiKey
security:
  - apikey: []
tags:
  - name: directions
  - name: route
  - name: distance
paths:
  '/directions.{outputFormat}':
    get:
      description: 'Represents the turn-by-turn directions, geometry, distance, and time of the shortest path or fastest path between given start and end points'
      parameters:
        - default: json
          description: Format of representation
          enum:
            - json
            - kml
            - html
          in: path
          name: outputFormat
          required: true
          type: string
        - description: 'Example: -123.70794,48.77869,-123.53785,48.38200. A list of any number of route points in start to end order. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#points target=''_blank''>points</a>'
          in: query
          name: points
          required: true
          type: string
        - default: 4326
          description: 'The EPSG code of the spatial reference system (SRS) to use for output geometries. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#outputSRS target="_blank">outputSRS</a>'
          enum:
            - 4326
            - 4269
            - 3005
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - default: shortest
          description: 'Routing criteria to optimize (e.g., shortest, fastest). Default is shortest.'
          enum:
            - shortest
            - fastest
          in: query
          name: criteria
          required: false
          type: string
        - default: km
          description: 'distance unit of measure (e.g., km, mi). Default is km.'
          enum:
            - km
            - mi
          in: query
          name: distanceUnit
          required: false
          type: string
        - default: Routing results
          description: 'Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)'
          in: query
          name: routeDescription
          required: false
          type: string
      responses:
        '200':
          description: 'turn-by-turn directions, geometry, distance, and time of the shortest or fastest route'
      summary: 'Get the directions, path, distance and travel time between a series of geographic points'
      tags:
        - directions
  '/distance.{outputFormat}':
    get:
      description: Represents the distance and time of the shortest or fastest path between given start and end points.
      parameters:
        - default: json
          description: Format of representation
          enum:
            - json
            - kml
            - html
          in: path
          name: outputFormat
          required: true
          type: string
        - description: 'Example: -123.70794,48.77869,-123.53785,48.38200. A list of any number of route points in start to end order. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#points target=''_blank''>points</a>'
          in: query
          name: points
          required: true
          type: string
        - default: 4326
          description: 'The EPSG code of the spatial reference system (SRS) to use for output geometries. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#outputSRS target="_blank">outputSRS</a>'
          enum:
            - 4326
            - 4269
            - 3005
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - default: shortest
          description: 'Routing criteria to optimize (e.g., shortest, fastest). Default is shortest.'
          enum:
            - shortest
            - fastest
          in: query
          name: criteria
          required: false
          type: string
        - default: km
          description: 'distance unit of measure (e.g., km, mi). Default is km.'
          enum:
            - km
            - mi
          in: query
          name: distanceUnit
          required: false
          type: string
        - default: Routing results
          description: 'Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)'
          in: query
          name: routeDescription
          required: false
          type: string
      responses:
        '200':
          description: Distance and time of the shortest or fastest route
      summary: Get distance and travel time between two geographic points
      tags:
        - distance
  '/distance/betweenPairs.{outputFormat}':
    get:
      description: Represents the distance and time of the shortest or fastest paths between all pairs of fromPoints and toPoints. The number of fromPoints times the number of toPoints should not exceed 100 or the request will time out.
      parameters:
        - default: json
          description: Format of representation
          enum:
            - json
            - html
          in: path
          name: outputFormat
          required: true
          type: string
        - description: 'Example: -123.70794,48.77869,-123.53785,48.38200. A comma-separated list of origin points.  See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#fromPoints target=''_blank''>fromPoints</a>'
          in: query
          name: fromPoints
          required: true
          type: string
        - description: 'Example: -124.972951,49.715181,-123.139464,49.704015. A comma-separated list of destination points. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#toPoints target=''_blank''>toPoints</a>'
          in: query
          name: toPoints
          required: true
          type: string
        - default: 4326
          description: 'The EPSG code of the spatial reference system (SRS) to use for output geometries. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#outputSRS target="_blank">outputSRS</a>'
          enum:
            - 4326
            - 4269
            - 3005
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - default: shortest
          description: 'Routing criteria to optimize (e.g., shortest, fastest). Default is shortest.'
          enum:
            - shortest
            - fastest
          in: query
          name: criteria
          required: false
          type: string
        - default: km
          description: 'distance unit of measure (e.g., km, mi). Default is km.'
          enum:
            - km
            - mi
          in: query
          name: distanceUnit
          required: false
          type: string
        - default: Routing results
          description: 'Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)'
          in: query
          name: routeDescription
          required: false
          type: string
      responses:
        '200':
          description: A list of routes and their route distances/times.
      summary: Get distance and travel time between each pair of geographic points
      tags:
        - distance
  '/route.{outputFormat}':
    get:
      description: 'Represents the geometry, distance, and time of the shortest or fastest path between given start and end points.'
      parameters:
        - default: json
          description: Format of representation
          enum:
            - json
            - kml
            - html
          in: path
          name: outputFormat
          required: true
          type: string
        - description: 'Example: -123.70794,48.77869,-123.53785,48.38200. A list of any number of route points in start to end order. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#points target=''_blank''>points</a>'
          in: query
          name: points
          required: true
          type: string
        - default: 4326
          description: 'The EPSG code of the spatial reference system (SRS) to use for output geometries. See <a href=https://github.com/bcgov/api-specs/blob/master/router/glossary.md#outputSRS target="_blank">outputSRS</a>'
          enum:
            - 4326
            - 4269
            - 3005
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - default: shortest
          description: 'Routing criteria to optimize (e.g., shortest, fastest). Default is shortest.'
          enum:
            - shortest
            - fastest
          in: query
          name: criteria
          required: false
          type: string
        - default: km
          description: 'distance unit of measure (e.g., km, mi). Default is km.'
          enum:
            - km
            - mi
          in: query
          name: distanceUnit
          required: false
          type: string
        - default: Routing results
          description: 'Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)'
          in: query
          name: routeDescription
          required: false
          type: string
      responses:
        '200':
          description: 'Geometry, distance, and time of the shortest or fastest route'
      summary: 'Get the path, distance and travel time between a series of geographic points'
      tags:
        - route
