openapi: 3.0.0
servers:
  - url: http://azure-api.sportsdata.io/v3/nfl/news-rotoballer
  - url: https://azure-api.sportsdata.io/v3/nfl/news-rotoballer
info:
  contact:
    x-twitter: nfldata
  title: NFL v3 RotoBaller Premium News
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nfl-v3-rotoballer-premium-news.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-rotoballer-premium-news
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/RotoBallerPremiumNews":
    get:
      operationId: PremiumNews
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: Premium News
  "/{format}/RotoBallerPremiumNewsByDate/{date}":
    get:
      operationId: PremiumNewsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: Premium News by Date
  "/{format}/RotoBallerPremiumNewsByPlayerID/{playerid}":
    get:
      operationId: PremiumNewsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: Premium News by Player
  "/{format}/RotoBallerPremiumNewsByTeam/{team}":
    get:
      operationId: PremiumNewsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: Premium News by Team
components:
  schemas:
    News:
      properties:
        Author:
          nullable: true
          type: string
        Categories:
          nullable: true
          type: string
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        OriginalSource:
          nullable: true
          type: string
        OriginalSourceUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        PlayerID2:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        Team2:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TeamID2:
          nullable: true
          type: integer
        TermsOfUse:
          nullable: true
          type: string
        TimeAgo:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
