swagger: '2.0'
info:
  version: '2009-03-31'
  x-release: v4
  title: Amazon Elastic MapReduce
  description: 'Amazon EMR is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: elasticmapreduce
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticmapreduce-2009-03-31.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/elasticmapreduce/'
host: elasticmapreduce.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddInstanceFleet
      description: '<p>Adds an instance fleet to a running cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddInstanceFleetOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddInstanceFleetInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AddInstanceGroups':
    post:
      operationId: AddInstanceGroups
      description: Adds one or more instance groups to a running cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddInstanceGroupsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddInstanceGroupsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AddJobFlowSteps':
    post:
      operationId: AddJobFlowSteps
      description: '<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddJobFlowStepsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddJobFlowStepsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AddTags':
    post:
      operationId: AddTags
      description: 'Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html">Tag Clusters</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CancelSteps':
    post:
      operationId: CancelSteps
      description: 'Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee a step will be canceled, even if the request is successfully submitted. You can only cancel steps that are in a <code>PENDING</code> state.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelStepsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelStepsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateSecurityConfiguration':
    post:
      operationId: CreateSecurityConfiguration
      description: 'Creates a security configuration, which is stored in the service and can be specified when a cluster is created.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSecurityConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSecurityConfigurationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteSecurityConfiguration':
    post:
      operationId: DeleteSecurityConfiguration
      description: Deletes a security configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSecurityConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSecurityConfigurationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCluster':
    post:
      operationId: DescribeCluster
      description: 'Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. For information about the cluster steps, see <a>ListSteps</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClusterOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterInput'
      x-waiters:
        - delay: 30
          operation: DescribeCluster
          maxAttempts: 60
          acceptors:
            - state: success
              matcher: path
              argument: Cluster.Status.State
              expected: RUNNING
            - state: success
              matcher: path
              argument: Cluster.Status.State
              expected: WAITING
            - state: failure
              matcher: path
              argument: Cluster.Status.State
              expected: TERMINATING
            - state: failure
              matcher: path
              argument: Cluster.Status.State
              expected: TERMINATED
            - state: failure
              matcher: path
              argument: Cluster.Status.State
              expected: TERMINATED_WITH_ERRORS
        - delay: 30
          operation: DescribeCluster
          maxAttempts: 60
          acceptors:
            - state: success
              matcher: path
              argument: Cluster.Status.State
              expected: TERMINATED
            - state: failure
              matcher: path
              argument: Cluster.Status.State
              expected: TERMINATED_WITH_ERRORS
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeJobFlows':
    post:
      operationId: DescribeJobFlows
      description: '<p>This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeJobFlowsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeJobFlowsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSecurityConfiguration':
    post:
      operationId: DescribeSecurityConfiguration
      description: Provides the details of a security configuration by returning the configuration JSON.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSecurityConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSecurityConfigurationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeStep':
    post:
      operationId: DescribeStep
      description: Provides more detail about the cluster step.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStepOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeStepInput'
      x-waiters:
        - delay: 30
          operation: DescribeStep
          maxAttempts: 60
          acceptors:
            - state: success
              matcher: path
              argument: Step.Status.State
              expected: COMPLETED
            - state: failure
              matcher: path
              argument: Step.Status.State
              expected: FAILED
            - state: failure
              matcher: path
              argument: Step.Status.State
              expected: CANCELLED
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListBootstrapActions':
    post:
      operationId: ListBootstrapActions
      description: Provides information about the bootstrap actions associated with a cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBootstrapActionsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBootstrapActionsInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListClusters':
    post:
      operationId: ListClusters
      description: 'Provides the status of all clusters visible to this AWS account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClustersOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListClustersInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListInstanceFleets':
    post:
      operationId: ListInstanceFleets
      description: '<p>Lists all available details about the instance fleets in a cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstanceFleetsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInstanceFleetsInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListInstanceGroups':
    post:
      operationId: ListInstanceGroups
      description: Provides all available details about the instance groups in a cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstanceGroupsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInstanceGroupsInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListInstances':
    post:
      operationId: ListInstances
      description: 'Provides information for all active EC2 instances and EC2 instances terminated in the last 30 days, up to a maximum of 2,000. EC2 instances in any of the following states are considered active: AWAITING_FULFILLMENT, PROVISIONING, BOOTSTRAPPING, RUNNING.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstancesOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInstancesInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSecurityConfigurations':
    post:
      operationId: ListSecurityConfigurations
      description: 'Lists all the security configurations visible to this account, providing their creation dates and times, and their names. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListSecurityConfigurations calls.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSecurityConfigurationsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSecurityConfigurationsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSteps':
    post:
      operationId: ListSteps
      description: Provides a list of steps for the cluster in reverse order unless you specify stepIds with the request.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListStepsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListStepsInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyInstanceFleet':
    post:
      operationId: ModifyInstanceFleet
      description: '<p>Modifies the target On-Demand and target Spot capacities for the instance fleet with the specified InstanceFleetID within the cluster specified using ClusterID. The call either succeeds or fails atomically.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyInstanceFleetInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyInstanceGroups':
    post:
      operationId: ModifyInstanceGroups
      description: ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyInstanceGroupsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutAutoScalingPolicy':
    post:
      operationId: PutAutoScalingPolicy
      description: Creates or updates an automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAutoScalingPolicyOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutAutoScalingPolicyInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveAutoScalingPolicy':
    post:
      operationId: RemoveAutoScalingPolicy
      description: Removes an automatic scaling policy from a specified instance group within an EMR cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAutoScalingPolicyOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveAutoScalingPolicyInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTags':
    post:
      operationId: RemoveTags
      description: '<p>Removes tags from an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html">Tag Clusters</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RunJobFlow':
    post:
      operationId: RunJobFlow
      description: '<p>RunJobFlow creates and starts running a new cluster (job flow). The cluster runs the steps specified. After the steps complete, the cluster stops and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the cluster transitions to the WAITING state rather than shutting down after the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the cluster and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>For long running clusters, we recommend that you periodically store your results.</p> <note> <p>The instance fleets configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions. The RunJobFlow request can contain InstanceFleets parameters or InstanceGroups parameters, but not both.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RunJobFlowOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RunJobFlowInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetTerminationProtection':
    post:
      operationId: SetTerminationProtection
      description: '<p>SetTerminationProtection locks a cluster (job flow) so the EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling <code>SetTerminationProtection</code> on a cluster is similar to calling the Amazon EC2 <code>DisableAPITermination</code> API on all EC2 instances in a cluster.</p> <p> <code>SetTerminationProtection</code> is used to prevent accidental termination of a cluster and to ensure that in the event of an error, the instances persist so that you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a cluster that has been locked by setting <code>SetTerminationProtection</code> to <code>true</code>, you must first unlock the job flow by a subsequent call to <code>SetTerminationProtection</code> in which you set the value to <code>false</code>. </p> <p> For more information, see<a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/UsingEMR_TerminationProtection.html">Managing Cluster Termination</a> in the <i>Amazon EMR Management Guide</i>. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetTerminationProtectionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetVisibleToAllUsers':
    post:
      operationId: SetVisibleToAllUsers
      description: Sets whether all AWS Identity and Access Management (IAM) users under your account can access the specified clusters (job flows). This action works on running clusters. You can also set the visibility of a cluster when you launch it using the <code>VisibleToAllUsers</code> parameter of <a>RunJobFlow</a>. The SetVisibleToAllUsers action can be called only by an IAM user who created the cluster or the AWS account that owns the cluster.
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetVisibleToAllUsersInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TerminateJobFlows':
    post:
      operationId: TerminateJobFlows
      description: '<p>TerminateJobFlows shuts a list of clusters (job flows) down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the cluster is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the cluster was created.</p> <p>The maximum number of clusters allowed is 10. The call to <code>TerminateJobFlows</code> is asynchronous. Depending on the configuration of the cluster, it may take up to 1-5 minutes for the cluster to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TerminateJobFlowsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ActionOnFailure:
    type: string
    enum:
      - TERMINATE_JOB_FLOW
      - TERMINATE_CLUSTER
      - CANCEL_AND_WAIT
      - CONTINUE
  AddInstanceFleetInput:
    type: object
    required:
      - ClusterId
      - InstanceFleet
    properties:
      ClusterId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The unique identifier of the cluster.
      InstanceFleet:
        $ref: '#/definitions/InstanceFleetConfig'
        description: Specifies the configuration of the instance fleet.
  AddInstanceFleetOutput:
    type: object
    properties:
      ClusterId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The unique identifier of the cluster.
      InstanceFleetId:
        $ref: '#/definitions/InstanceFleetId'
        description: The unique identifier of the instance fleet.
  AddInstanceGroupsInput:
    type: object
    required:
      - InstanceGroups
      - JobFlowId
    properties:
      InstanceGroups:
        $ref: '#/definitions/InstanceGroupConfigList'
        description: Instance groups to add.
      JobFlowId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: Job flow in which to add the instance groups.
    description: Input to an AddInstanceGroups call.
  AddInstanceGroupsOutput:
    type: object
    properties:
      JobFlowId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The job flow ID in which the instance groups are added.
      InstanceGroupIds:
        $ref: '#/definitions/InstanceGroupIdsList'
        description: Instance group IDs of the newly created instance groups.
    description: Output from an AddInstanceGroups call.
  AddJobFlowStepsInput:
    type: object
    required:
      - JobFlowId
      - Steps
    properties:
      JobFlowId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: 'A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. '
      Steps:
        $ref: '#/definitions/StepConfigList'
        description: ' A list of <a>StepConfig</a> to be executed by the job flow. '
    description: ' The input argument to the <a>AddJobFlowSteps</a> operation. '
  AddJobFlowStepsOutput:
    type: object
    properties:
      StepIds:
        $ref: '#/definitions/StepIdsList'
        description: The identifiers of the list of steps added to the job flow.
    description: ' The output for the <a>AddJobFlowSteps</a> operation. '
  AddTagsInput:
    type: object
    required:
      - ResourceId
      - Tags
    properties:
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.
      Tags:
        $ref: '#/definitions/TagList'
        description: 'A list of tags to associate with a cluster and propagate to EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.'
    description: This input identifies a cluster and a list of tags to attach.
  AddTagsOutput:
    type: object
    properties: {}
    description: This output indicates the result of adding tags to a resource.
  AdjustmentType:
    type: string
    enum:
      - CHANGE_IN_CAPACITY
      - PERCENT_CHANGE_IN_CAPACITY
      - EXACT_CAPACITY
  Application:
    type: object
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the application.
      Version:
        $ref: '#/definitions/String'
        description: The version of the application.
      Args:
        $ref: '#/definitions/StringList'
        description: Arguments for Amazon EMR to pass to the application.
      AdditionalInfo:
        $ref: '#/definitions/StringMap'
        description: This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes.
    description: '<p>An application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument. For more information, see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-mapr.html">Using the MapR Distribution for Hadoop</a>. Currently supported values are:</p> <ul> <li> <p>"mapr-m3" - launch the cluster using MapR M3 Edition.</p> </li> <li> <p>"mapr-m5" - launch the cluster using MapR M5 Edition.</p> </li> <li> <p>"mapr" with the user arguments specifying "--edition,m3" or "--edition,m5" - launch the cluster using MapR M3 or M5 Edition, respectively.</p> </li> </ul> <note> <p>In Amazon EMR releases 4.x and later, the only accepted parameter is the application name. To pass arguments to applications, you supply a configuration for each application.</p> </note>'
  ApplicationList:
    type: array
    items:
      $ref: '#/definitions/Application'
  AutoScalingPolicy:
    type: object
    required:
      - Constraints
      - Rules
    properties:
      Constraints:
        $ref: '#/definitions/ScalingConstraints'
        description: The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.
      Rules:
        $ref: '#/definitions/ScalingRuleList'
        description: The scale-in and scale-out rules that comprise the automatic scaling policy.
    description: An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.
  AutoScalingPolicyDescription:
    type: object
    properties:
      Status:
        $ref: '#/definitions/AutoScalingPolicyStatus'
        description: 'The status of an automatic scaling policy. '
      Constraints:
        $ref: '#/definitions/ScalingConstraints'
        description: The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.
      Rules:
        $ref: '#/definitions/ScalingRuleList'
        description: The scale-in and scale-out rules that comprise the automatic scaling policy.
    description: An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.
  AutoScalingPolicyState:
    type: string
    enum:
      - PENDING
      - ATTACHING
      - ATTACHED
      - DETACHING
      - DETACHED
      - FAILED
  AutoScalingPolicyStateChangeReason:
    type: object
    properties:
      Code:
        $ref: '#/definitions/AutoScalingPolicyStateChangeReasonCode'
        description: The code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code> indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.
      Message:
        $ref: '#/definitions/String'
        description: 'A friendly, more verbose message that accompanies an automatic scaling policy state change.'
    description: The reason for an <a>AutoScalingPolicyStatus</a> change.
  AutoScalingPolicyStateChangeReasonCode:
    type: string
    enum:
      - USER_REQUEST
      - PROVISION_FAILURE
      - CLEANUP_FAILURE
  AutoScalingPolicyStatus:
    type: object
    properties:
      State:
        $ref: '#/definitions/AutoScalingPolicyState'
        description: Indicates the status of the automatic scaling policy.
      StateChangeReason:
        $ref: '#/definitions/AutoScalingPolicyStateChangeReason'
        description: The reason for a change in status.
    description: 'The status of an automatic scaling policy. '
  Boolean:
    type: boolean
  BooleanObject:
    type: boolean
  BootstrapActionConfig:
    type: object
    required:
      - Name
      - ScriptBootstrapAction
    properties:
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The name of the bootstrap action.
      ScriptBootstrapAction:
        $ref: '#/definitions/ScriptBootstrapActionConfig'
        description: The script run by the bootstrap action.
    description: Configuration of a bootstrap action.
  BootstrapActionConfigList:
    type: array
    items:
      $ref: '#/definitions/BootstrapActionConfig'
  BootstrapActionDetail:
    type: object
    properties:
      BootstrapActionConfig:
        $ref: '#/definitions/BootstrapActionConfig'
        description: A description of the bootstrap action.
    description: Reports the configuration of a bootstrap action in a cluster (job flow).
  BootstrapActionDetailList:
    type: array
    items:
      $ref: '#/definitions/BootstrapActionDetail'
  CancelStepsInfo:
    type: object
    properties:
      StepId:
        $ref: '#/definitions/StepId'
        description: The encrypted StepId of a step.
      Status:
        $ref: '#/definitions/CancelStepsRequestStatus'
        description: The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.
      Reason:
        $ref: '#/definitions/String'
        description: The reason for the failure if the CancelSteps request fails.
    description: 'Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.'
  CancelStepsInfoList:
    type: array
    items:
      $ref: '#/definitions/CancelStepsInfo'
  CancelStepsInput:
    type: object
    properties:
      ClusterId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: 'The <code>ClusterID</code> for which specified steps will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. '
      StepIds:
        $ref: '#/definitions/StepIdsList'
        description: The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.
    description: The input argument to the <a>CancelSteps</a> operation.
  CancelStepsOutput:
    type: object
    properties:
      CancelStepsInfoList:
        $ref: '#/definitions/CancelStepsInfoList'
        description: 'A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.'
    description: ' The output for the <a>CancelSteps</a> operation. '
  CancelStepsRequestStatus:
    type: string
    enum:
      - SUBMITTED
      - FAILED
  CloudWatchAlarmDefinition:
    type: object
    required:
      - ComparisonOperator
      - MetricName
      - Period
      - Threshold
    properties:
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: Determines how the metric specified by <code>MetricName</code> is compared to the value specified by <code>Threshold</code>.
      EvaluationPeriods:
        $ref: '#/definitions/Integer'
        description: 'The number of periods, expressed in seconds using <code>Period</code>, during which the alarm condition must exist before the alarm triggers automatic scaling activity. The default value is <code>1</code>.'
      MetricName:
        $ref: '#/definitions/String'
        description: The name of the CloudWatch metric that is watched to determine an alarm condition.
      Namespace:
        $ref: '#/definitions/String'
        description: The namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.
      Period:
        $ref: '#/definitions/Integer'
        description: 'The period, in seconds, over which the statistic is applied. EMR CloudWatch metrics are emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is specified, specify <code>300</code>.'
      Statistic:
        $ref: '#/definitions/Statistic'
        description: The statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.
      Threshold:
        $ref: '#/definitions/NonNegativeDouble'
        description: The value against which the specified statistic is compared.
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit of measure associated with the CloudWatch metric being watched. The value specified for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.
      Dimensions:
        $ref: '#/definitions/MetricDimensionList'
        description: A CloudWatch metric dimension.
    description: 'The definition of a CloudWatch metric alarm, which determines when an automatic scaling activity is triggered. When the defined alarm conditions are satisfied, scaling activity begins.'
  Cluster:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ClusterId'
        description: The unique identifier for the cluster.
      Name:
        $ref: '#/definitions/String'
        description: The name of the cluster.
      Status:
        $ref: '#/definitions/ClusterStatus'
        description: The current status details about the cluster.
      Ec2InstanceAttributes:
        $ref: '#/definitions/Ec2InstanceAttributes'
        description: 'Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.'
      InstanceCollectionType:
        $ref: '#/definitions/InstanceCollectionType'
        description: '<note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note> <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance fleets configuration.</p>'
      LogUri:
        $ref: '#/definitions/String'
        description: The path to the Amazon S3 location where logs for this cluster are stored.
      RequestedAmiVersion:
        $ref: '#/definitions/String'
        description: The AMI version requested for this cluster.
      RunningAmiVersion:
        $ref: '#/definitions/String'
        description: The AMI version running on this cluster.
      ReleaseLabel:
        $ref: '#/definitions/String'
        description: The release label for the Amazon EMR release.
      AutoTerminate:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the cluster should terminate after completing all steps.
      TerminationProtected:
        $ref: '#/definitions/Boolean'
        description: 'Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error.'
      VisibleToAllUsers:
        $ref: '#/definitions/Boolean'
        description: 'Indicates whether the cluster is visible to all IAM users of the AWS account associated with the cluster. If this value is set to <code>true</code>, all IAM users of that AWS account can view and manage the cluster if they have the proper policy permissions set. If this value is <code>false</code>, only the IAM user that created the cluster can view and manage it. This value can be changed using the <a>SetVisibleToAllUsers</a> action.'
      Applications:
        $ref: '#/definitions/ApplicationList'
        description: The applications installed on this cluster.
      Tags:
        $ref: '#/definitions/TagList'
        description: A list of tags associated with a cluster.
      ServiceRole:
        $ref: '#/definitions/String'
        description: The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf.
      NormalizedInstanceHours:
        $ref: '#/definitions/Integer'
        description: 'An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.'
      MasterPublicDnsName:
        $ref: '#/definitions/String'
        description: 'The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.'
      Configurations:
        $ref: '#/definitions/ConfigurationList'
        description: Applies only to Amazon EMR releases 4.x and later. The list of Configurations supplied to the EMR cluster.
      SecurityConfiguration:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration applied to the cluster.
      AutoScalingRole:
        $ref: '#/definitions/XmlString'
        description: An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the automatic scaling feature requires to launch and terminate EC2 instances in an instance group.
      ScaleDownBehavior:
        $ref: '#/definitions/ScaleDownBehavior'
        description: 'The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.'
      CustomAmiId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: Available only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon EBS-backed Linux AMI if the cluster uses a custom AMI.
      EbsRootVolumeSize:
        $ref: '#/definitions/Integer'
        description: 'The size, in GiB, of the EBS root device volume of the Linux AMI that is used for each EC2 instance. Available in Amazon EMR version 4.x and later.'
      RepoUpgradeOnBoot:
        $ref: '#/definitions/RepoUpgradeOnBoot'
        description: Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that are applied from the Amazon Linux AMI package repositories when an instance boots using the AMI.
      KerberosAttributes:
        $ref: '#/definitions/KerberosAttributes'
        description: 'Attributes for Kerberos configuration when Kerberos authentication is enabled using a security configuration. For more information see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html">Use Kerberos Authentication</a> in the <i>EMR Management Guide</i>.'
    description: The detailed description of the cluster.
  ClusterId:
    type: string
  ClusterState:
    type: string
    enum:
      - STARTING
      - BOOTSTRAPPING
      - RUNNING
      - WAITING
      - TERMINATING
      - TERMINATED
      - TERMINATED_WITH_ERRORS
  ClusterStateChangeReason:
    type: object
    properties:
      Code:
        $ref: '#/definitions/ClusterStateChangeReasonCode'
        description: The programmatic code for the state change reason.
      Message:
        $ref: '#/definitions/String'
        description: The descriptive message for the state change reason.
    description: The reason that the cluster changed to its current state.
  ClusterStateChangeReasonCode:
    type: string
    enum:
      - INTERNAL_ERROR
      - VALIDATION_ERROR
      - INSTANCE_FAILURE
      - INSTANCE_FLEET_TIMEOUT
      - BOOTSTRAP_FAILURE
      - USER_REQUEST
      - STEP_FAILURE
      - ALL_STEPS_COMPLETED
  ClusterStateList:
    type: array
    items:
      $ref: '#/definitions/ClusterState'
  ClusterStatus:
    type: object
    properties:
      State:
        $ref: '#/definitions/ClusterState'
        description: The current state of the cluster.
      StateChangeReason:
        $ref: '#/definitions/ClusterStateChangeReason'
        description: The reason for the cluster status change.
      Timeline:
        $ref: '#/definitions/ClusterTimeline'
        description: A timeline that represents the status of a cluster over the lifetime of the cluster.
    description: The detailed status of the cluster.
  ClusterSummary:
    type: object
    properties:
      Id:
        $ref: '#/definitions/ClusterId'
        description: The unique identifier for the cluster.
      Name:
        $ref: '#/definitions/String'
        description: The name of the cluster.
      Status:
        $ref: '#/definitions/ClusterStatus'
        description: The details about the current status of the cluster.
      NormalizedInstanceHours:
        $ref: '#/definitions/Integer'
        description: 'An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.'
    description: The summary description of the cluster.
  ClusterSummaryList:
    type: array
    items:
      $ref: '#/definitions/ClusterSummary'
  ClusterTimeline:
    type: object
    properties:
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The creation date and time of the cluster.
      ReadyDateTime:
        $ref: '#/definitions/Date'
        description: The date and time when the cluster was ready to execute steps.
      EndDateTime:
        $ref: '#/definitions/Date'
        description: The date and time when the cluster was terminated.
    description: Represents the timeline of the cluster's lifecycle.
  Command:
    type: object
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the command.
      ScriptPath:
        $ref: '#/definitions/String'
        description: The Amazon S3 location of the command script.
      Args:
        $ref: '#/definitions/StringList'
        description: Arguments for Amazon EMR to pass to the command for execution.
    description: An entity describing an executable that runs on a cluster.
  CommandList:
    type: array
    items:
      $ref: '#/definitions/Command'
  ComparisonOperator:
    type: string
    enum:
      - GREATER_THAN_OR_EQUAL
      - GREATER_THAN
      - LESS_THAN
      - LESS_THAN_OR_EQUAL
  Configuration:
    type: object
    properties:
      Classification:
        $ref: '#/definitions/String'
        description: The classification within a configuration.
      Configurations:
        $ref: '#/definitions/ConfigurationList'
        description: A list of additional configurations to apply within a configuration object.
      Properties:
        $ref: '#/definitions/StringMap'
        description: A set of properties specified within a configuration classification.
    description: '<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>An optional configuration specification to be used when provisioning cluster instances, which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file. For more information, see <a href="http://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html">Configuring Applications</a>.</p>'
  ConfigurationList:
    type: array
    items:
      $ref: '#/definitions/Configuration'
  CreateSecurityConfigurationInput:
    type: object
    required:
      - Name
      - SecurityConfiguration
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
      SecurityConfiguration:
        $ref: '#/definitions/String'
        description: 'The security configuration details in JSON format. For JSON parameters and examples, see <a href="http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.'
  CreateSecurityConfigurationOutput:
    type: object
    required:
      - Name
      - CreationDateTime
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The date and time the security configuration was created.
  Date:
    type: string
    format: date-time
  DeleteSecurityConfigurationInput:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
  DeleteSecurityConfigurationOutput:
    type: object
    properties: {}
  DescribeClusterInput:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier of the cluster to describe.
    description: This input determines which cluster to describe.
  DescribeClusterOutput:
    type: object
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: This output contains the details for the requested cluster.
    description: This output contains the description of the cluster.
  DescribeJobFlowsInput:
    type: object
    properties:
      CreatedAfter:
        $ref: '#/definitions/Date'
        description: Return only job flows created after this date and time.
      CreatedBefore:
        $ref: '#/definitions/Date'
        description: Return only job flows created before this date and time.
      JobFlowIds:
        $ref: '#/definitions/XmlStringList'
        description: Return only job flows whose job flow ID is contained in this list.
      JobFlowStates:
        $ref: '#/definitions/JobFlowExecutionStateList'
        description: Return only job flows whose state is contained in this list.
    description: ' The input for the <a>DescribeJobFlows</a> operation. '
  DescribeJobFlowsOutput:
    type: object
    properties:
      JobFlows:
        $ref: '#/definitions/JobFlowDetailList'
        description: A list of job flows matching the parameters supplied.
    description: ' The output for the <a>DescribeJobFlows</a> operation. '
  DescribeSecurityConfigurationInput:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
  DescribeSecurityConfigurationOutput:
    type: object
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
      SecurityConfiguration:
        $ref: '#/definitions/String'
        description: The security configuration details in JSON format.
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The date and time the security configuration was created
  DescribeStepInput:
    type: object
    required:
      - ClusterId
      - StepId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier of the cluster with steps to describe.
      StepId:
        $ref: '#/definitions/StepId'
        description: The identifier of the step to describe.
    description: This input determines which step to describe.
  DescribeStepOutput:
    type: object
    properties:
      Step:
        $ref: '#/definitions/Step'
        description: The step details for the requested step identifier.
    description: This output contains the description of the cluster step.
  EC2InstanceIdsList:
    type: array
    items:
      $ref: '#/definitions/InstanceId'
  EC2InstanceIdsToTerminateList:
    type: array
    items:
      $ref: '#/definitions/InstanceId'
  EbsBlockDevice:
    type: object
    properties:
      VolumeSpecification:
        $ref: '#/definitions/VolumeSpecification'
        description: 'EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.'
      Device:
        $ref: '#/definitions/String'
        description: 'The device name that is exposed to the instance, such as /dev/sdh.'
    description: Configuration of requested EBS block device associated with the instance group.
  EbsBlockDeviceConfig:
    type: object
    required:
      - VolumeSpecification
    properties:
      VolumeSpecification:
        $ref: '#/definitions/VolumeSpecification'
        description: 'EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.'
      VolumesPerInstance:
        $ref: '#/definitions/Integer'
        description: Number of EBS volumes with a specific volume configuration that will be associated with every instance in the instance group
    description: Configuration of requested EBS block device associated with the instance group with count of volumes that will be associated to every instance.
  EbsBlockDeviceConfigList:
    type: array
    items:
      $ref: '#/definitions/EbsBlockDeviceConfig'
  EbsBlockDeviceList:
    type: array
    items:
      $ref: '#/definitions/EbsBlockDevice'
  EbsConfiguration:
    type: object
    properties:
      EbsBlockDeviceConfigs:
        $ref: '#/definitions/EbsBlockDeviceConfigList'
        description: An array of Amazon EBS volume specifications attached to a cluster instance.
      EbsOptimized:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether an Amazon EBS volume is EBS-optimized.
    description: The Amazon EBS configuration of a cluster instance.
  EbsVolume:
    type: object
    properties:
      Device:
        $ref: '#/definitions/String'
        description: 'The device name that is exposed to the instance, such as /dev/sdh.'
      VolumeId:
        $ref: '#/definitions/String'
        description: The volume identifier of the EBS volume.
    description: EBS block device that's attached to an EC2 instance.
  EbsVolumeList:
    type: array
    items:
      $ref: '#/definitions/EbsVolume'
  Ec2InstanceAttributes:
    type: object
    properties:
      Ec2KeyName:
        $ref: '#/definitions/String'
        description: The name of the Amazon EC2 key pair to use when connecting with SSH into the master node as a user named "hadoop".
      Ec2SubnetId:
        $ref: '#/definitions/String'
        description: '<p>To launch the cluster in Amazon VPC, set this parameter to the identifier of the Amazon VPC subnet where you want the cluster to launch. If you do not specify this value, the cluster is launched in the normal AWS cloud, outside of a VPC.</p> <p>Amazon VPC currently does not support cluster compute quadruple extra large (cc1.4xlarge) instances. Thus, you cannot specify the cc1.4xlarge instance type for nodes of a cluster launched in a VPC.</p>'
      RequestedEc2SubnetIds:
        $ref: '#/definitions/XmlStringMaxLen256List'
        description: 'Applies to clusters configured with the instance fleets option. Specifies the unique identifier of one or more Amazon EC2 subnets in which to launch EC2 cluster instances. Subnets must exist within the same VPC. Amazon EMR chooses the EC2 subnet with the best fit from among the list of <code>RequestedEc2SubnetIds</code>, and then launches all cluster instances within that Subnet. If this value is not specified, and the account and region support EC2-Classic networks, the cluster launches instances in the EC2-Classic network and uses <code>RequestedEc2AvailabilityZones</code> instead of this setting. If EC2-Classic is not supported, and no Subnet is specified, Amazon EMR chooses the subnet for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.'
      Ec2AvailabilityZone:
        $ref: '#/definitions/String'
        description: 'The Availability Zone in which the cluster will run. '
      RequestedEc2AvailabilityZones:
        $ref: '#/definitions/XmlStringMaxLen256List'
        description: 'Applies to clusters configured with the instance fleets option. Specifies one or more Availability Zones in which to launch EC2 cluster instances when the EC2-Classic network configuration is supported. Amazon EMR chooses the Availability Zone with the best fit from among the list of <code>RequestedEc2AvailabilityZones</code>, and then launches all cluster instances within that Availability Zone. If you do not specify this value, Amazon EMR chooses the Availability Zone for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.'
      IamInstanceProfile:
        $ref: '#/definitions/String'
        description: The IAM role that was specified when the cluster was launched. The EC2 instances of the cluster assume this role.
      EmrManagedMasterSecurityGroup:
        $ref: '#/definitions/String'
        description: The identifier of the Amazon EC2 security group for the master node.
      EmrManagedSlaveSecurityGroup:
        $ref: '#/definitions/String'
        description: The identifier of the Amazon EC2 security group for the slave nodes.
      ServiceAccessSecurityGroup:
        $ref: '#/definitions/String'
        description: The identifier of the Amazon EC2 security group for the Amazon EMR service to access clusters in VPC private subnets.
      AdditionalMasterSecurityGroups:
        $ref: '#/definitions/StringList'
        description: A list of additional Amazon EC2 security group IDs for the master node.
      AdditionalSlaveSecurityGroups:
        $ref: '#/definitions/StringList'
        description: A list of additional Amazon EC2 security group IDs for the slave nodes.
    description: 'Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.'
  ErrorCode:
    type: string
    minLength: 1
    maxLength: 256
  ErrorMessage:
    type: string
  FailureDetails:
    type: object
    properties:
      Reason:
        $ref: '#/definitions/String'
        description: 'The reason for the step failure. In the case where the service cannot successfully determine the root cause of the failure, it returns "Unknown Error" as a reason.'
      Message:
        $ref: '#/definitions/String'
        description: The descriptive message including the error the EMR service has identified as the cause of step failure. This is text from an error log that describes the root cause of the failure.
      LogFile:
        $ref: '#/definitions/String'
        description: The path to the log file where the step failure root cause was originally recorded.
    description: The details of the step failure. The service attempts to detect the root cause for many common failures.
  HadoopJarStepConfig:
    type: object
    required:
      - Jar
    properties:
      Properties:
        $ref: '#/definitions/KeyValueList'
        description: A list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.
      Jar:
        $ref: '#/definitions/XmlString'
        description: A path to a JAR file run during the step.
      MainClass:
        $ref: '#/definitions/XmlString'
        description: 'The name of the main class in the specified Java file. If not specified, the JAR file should specify a Main-Class in its manifest file.'
      Args:
        $ref: '#/definitions/XmlStringList'
        description: A list of command line arguments passed to the JAR file's main function when executed.
    description: A job flow step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.
  HadoopStepConfig:
    type: object
    properties:
      Jar:
        $ref: '#/definitions/String'
        description: The path to the JAR file that runs during the step.
      Properties:
        $ref: '#/definitions/StringMap'
        description: The list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.
      MainClass:
        $ref: '#/definitions/String'
        description: 'The name of the main class in the specified Java file. If not specified, the JAR file should specify a main class in its manifest file.'
      Args:
        $ref: '#/definitions/StringList'
        description: The list of command line arguments to pass to the JAR file's main function for execution.
    description: A cluster step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.
  Instance:
    type: object
    properties:
      Id:
        $ref: '#/definitions/InstanceId'
        description: The unique identifier for the instance in Amazon EMR.
      Ec2InstanceId:
        $ref: '#/definitions/InstanceId'
        description: The unique identifier of the instance in Amazon EC2.
      PublicDnsName:
        $ref: '#/definitions/String'
        description: The public DNS name of the instance.
      PublicIpAddress:
        $ref: '#/definitions/String'
        description: The public IP address of the instance.
      PrivateDnsName:
        $ref: '#/definitions/String'
        description: The private DNS name of the instance.
      PrivateIpAddress:
        $ref: '#/definitions/String'
        description: The private IP address of the instance.
      Status:
        $ref: '#/definitions/InstanceStatus'
        description: The current status of the instance.
      InstanceGroupId:
        $ref: '#/definitions/String'
        description: The identifier of the instance group to which this instance belongs.
      InstanceFleetId:
        $ref: '#/definitions/InstanceFleetId'
        description: The unique identifier of the instance fleet to which an EC2 instance belongs.
      Market:
        $ref: '#/definitions/MarketType'
        description: 'The instance purchasing option. Valid values are <code>ON_DEMAND</code> or <code>SPOT</code>. '
      InstanceType:
        $ref: '#/definitions/InstanceType'
        description: 'The EC2 instance type, for example <code>m3.xlarge</code>.'
      EbsVolumes:
        $ref: '#/definitions/EbsVolumeList'
        description: The list of EBS volumes that are attached to this instance.
    description: Represents an EC2 instance provisioned as part of cluster.
  InstanceCollectionType:
    type: string
    enum:
      - INSTANCE_FLEET
      - INSTANCE_GROUP
  InstanceFleet:
    type: object
    properties:
      Id:
        $ref: '#/definitions/InstanceFleetId'
        description: The unique identifier of the instance fleet.
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: A friendly name for the instance fleet.
      Status:
        $ref: '#/definitions/InstanceFleetStatus'
        description: 'The current status of the instance fleet. '
      InstanceFleetType:
        $ref: '#/definitions/InstanceFleetType'
        description: 'The node type that the instance fleet hosts. Valid values are MASTER, CORE, or TASK. '
      TargetOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedOnDemandCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
      TargetSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedSpotCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p> <note> <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
      ProvisionedOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: The number of On-Demand units that have been provisioned for the instance fleet to fulfill <code>TargetOnDemandCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetOnDemandCapacity</code>.
      ProvisionedSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: The number of Spot units that have been provisioned for this instance fleet to fulfill <code>TargetSpotCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetSpotCapacity</code>.
      InstanceTypeSpecifications:
        $ref: '#/definitions/InstanceTypeSpecificationList'
        description: 'The specification for the instance types that comprise an instance fleet. Up to five unique instance specifications may be defined for each instance fleet. '
      LaunchSpecifications:
        $ref: '#/definitions/InstanceFleetProvisioningSpecifications'
        description: 'Describes the launch specification for an instance fleet. '
    description: '<p>Describes an instance fleet, which is a group of EC2 instances that host a particular node type (master, core, or task) in an Amazon EMR cluster. Instance fleets can consist of a mix of instance types and On-Demand and Spot instances, which are provisioned to meet a defined target capacity. </p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetConfig:
    type: object
    required:
      - InstanceFleetType
    properties:
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The friendly name of the instance fleet.
      InstanceFleetType:
        $ref: '#/definitions/InstanceFleetType'
        description: 'The node type that the instance fleet hosts. Valid values are MASTER,CORE,and TASK.'
      TargetOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
      TargetSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
      InstanceTypeConfigs:
        $ref: '#/definitions/InstanceTypeConfigList'
        description: The instance type configurations that define the EC2 instances in the instance fleet.
      LaunchSpecifications:
        $ref: '#/definitions/InstanceFleetProvisioningSpecifications'
        description: The launch specification for the instance fleet.
    description: '<p>The configuration that defines an instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetConfigList:
    type: array
    items:
      $ref: '#/definitions/InstanceFleetConfig'
  InstanceFleetId:
    type: string
  InstanceFleetList:
    type: array
    items:
      $ref: '#/definitions/InstanceFleet'
  InstanceFleetModifyConfig:
    type: object
    required:
      - InstanceFleetId
    properties:
      InstanceFleetId:
        $ref: '#/definitions/InstanceFleetId'
        description: A unique identifier for the instance fleet.
      TargetOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: The target capacity of On-Demand units for the instance fleet. For more information see <a>InstanceFleetConfig$TargetOnDemandCapacity</a>.
      TargetSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: 'The target capacity of Spot units for the instance fleet. For more information, see <a>InstanceFleetConfig$TargetSpotCapacity</a>.'
    description: '<p>Configuration parameters for an instance fleet modification request.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetProvisioningSpecifications:
    type: object
    required:
      - SpotSpecification
    properties:
      SpotSpecification:
        $ref: '#/definitions/SpotProvisioningSpecification'
        description: 'The launch specification for Spot instances in the fleet, which determines the defined duration and provisioning timeout behavior.'
    description: '<p>The launch specification for Spot instances in the fleet, which determines the defined duration and provisioning timeout behavior.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetState:
    type: string
    enum:
      - PROVISIONING
      - BOOTSTRAPPING
      - RUNNING
      - RESIZING
      - SUSPENDED
      - TERMINATING
      - TERMINATED
  InstanceFleetStateChangeReason:
    type: object
    properties:
      Code:
        $ref: '#/definitions/InstanceFleetStateChangeReasonCode'
        description: A code corresponding to the reason the state change occurred.
      Message:
        $ref: '#/definitions/String'
        description: An explanatory message.
    description: '<p>Provides status change reason details for the instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetStateChangeReasonCode:
    type: string
    enum:
      - INTERNAL_ERROR
      - VALIDATION_ERROR
      - INSTANCE_FAILURE
      - CLUSTER_TERMINATED
  InstanceFleetStatus:
    type: object
    properties:
      State:
        $ref: '#/definitions/InstanceFleetState'
        description: '<p>A code representing the instance fleet status.</p> <ul> <li> <p> <code>PROVISIONING</code>—The instance fleet is provisioning EC2 resources and is not yet ready to run jobs.</p> </li> <li> <p> <code>BOOTSTRAPPING</code>—EC2 instances and other resources have been provisioned and the bootstrap actions specified for the instances are underway.</p> </li> <li> <p> <code>RUNNING</code>—EC2 instances and other resources are running. They are either executing jobs or waiting to execute jobs.</p> </li> <li> <p> <code>RESIZING</code>—A resize operation is underway. EC2 instances are either being added or removed.</p> </li> <li> <p> <code>SUSPENDED</code>—A resize operation could not complete. Existing EC2 instances are running, but instances can''t be added or removed.</p> </li> <li> <p> <code>TERMINATING</code>—The instance fleet is terminating EC2 instances.</p> </li> <li> <p> <code>TERMINATED</code>—The instance fleet is no longer active, and all EC2 instances have been terminated.</p> </li> </ul>'
      StateChangeReason:
        $ref: '#/definitions/InstanceFleetStateChangeReason'
        description: Provides status change reason details for the instance fleet.
      Timeline:
        $ref: '#/definitions/InstanceFleetTimeline'
        description: 'Provides historical timestamps for the instance fleet, including the time of creation, the time it became ready to run jobs, and the time of termination.'
    description: '<p>The status of the instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetTimeline:
    type: object
    properties:
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The time and date the instance fleet was created.
      ReadyDateTime:
        $ref: '#/definitions/Date'
        description: The time and date the instance fleet was ready to run jobs.
      EndDateTime:
        $ref: '#/definitions/Date'
        description: The time and date the instance fleet terminated.
    description: '<p>Provides historical timestamps for the instance fleet, including the time of creation, the time it became ready to run jobs, and the time of termination.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
  InstanceFleetType:
    type: string
    enum:
      - MASTER
      - CORE
      - TASK
  InstanceGroup:
    type: object
    properties:
      Id:
        $ref: '#/definitions/InstanceGroupId'
        description: The identifier of the instance group.
      Name:
        $ref: '#/definitions/String'
        description: The name of the instance group.
      Market:
        $ref: '#/definitions/MarketType'
        description: The marketplace to provision instances for this group. Valid values are ON_DEMAND or SPOT.
      InstanceGroupType:
        $ref: '#/definitions/InstanceGroupType'
        description: 'The type of the instance group. Valid values are MASTER, CORE or TASK.'
      BidPrice:
        $ref: '#/definitions/String'
        description: 'The bid price for each EC2 instance in the instance group when launching nodes as Spot Instances, expressed in USD.'
      InstanceType:
        $ref: '#/definitions/InstanceType'
        description: The EC2 instance type for all instances in the instance group.
      RequestedInstanceCount:
        $ref: '#/definitions/Integer'
        description: The target number of instances for the instance group.
      RunningInstanceCount:
        $ref: '#/definitions/Integer'
        description: The number of instances currently running in this instance group.
      Status:
        $ref: '#/definitions/InstanceGroupStatus'
        description: The current status of the instance group.
      Configurations:
        $ref: '#/definitions/ConfigurationList'
        description: '<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied for an EMR cluster instance group. You can specify a separate configuration for each instance group (master, core, and task).</p>'
      EbsBlockDevices:
        $ref: '#/definitions/EbsBlockDeviceList'
        description: The EBS block devices that are mapped to this instance group.
      EbsOptimized:
        $ref: '#/definitions/BooleanObject'
        description: 'If the instance group is EBS-optimized. An Amazon EBS-optimized instance uses an optimized configuration stack and provides additional, dedicated capacity for Amazon EBS I/O.'
      ShrinkPolicy:
        $ref: '#/definitions/ShrinkPolicy'
        description: Policy for customizing shrink operations.
      AutoScalingPolicy:
        $ref: '#/definitions/AutoScalingPolicyDescription'
        description: An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See PutAutoScalingPolicy.
    description: 'This entity represents an instance group, which is a group of instances that have common purpose. For example, CORE instance group is used for HDFS.'
  InstanceGroupConfig:
    type: object
    required:
      - InstanceRole
      - InstanceType
      - InstanceCount
    properties:
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: Friendly name given to the instance group.
      Market:
        $ref: '#/definitions/MarketType'
        description: Market type of the EC2 instances used to create a cluster node.
      InstanceRole:
        $ref: '#/definitions/InstanceRoleType'
        description: The role of the instance group in the cluster.
      BidPrice:
        $ref: '#/definitions/XmlStringMaxLen256'
[...]
