swagger: '2.0'
schemes:
  - https
  - http
host: elasticmapreduce.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'Amazon EMR is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Elastic MapReduce
  version: '2009-03-31'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticmapreduce-2009-03-31.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: elasticmapreduce
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/elasticmapreduce/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=ElasticMapReduce.AddInstanceFleet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds an instance fleet to a running cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x.</p> </note>'
      operationId: AddInstanceFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddInstanceFleetInput'
        - enum:
            - ElasticMapReduce.AddInstanceFleet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddInstanceFleetOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.AddInstanceGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds one or more instance groups to a running cluster.
      operationId: AddInstanceGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddInstanceGroupsInput'
        - enum:
            - ElasticMapReduce.AddInstanceGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddInstanceGroupsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.AddJobFlowSteps':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>'
      operationId: AddJobFlowSteps
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddJobFlowStepsInput'
        - enum:
            - ElasticMapReduce.AddJobFlowSteps
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddJobFlowStepsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.AddTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html">Tag Clusters</a>. '
      operationId: AddTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsInput'
        - enum:
            - ElasticMapReduce.AddTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.CancelSteps':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee a step will be canceled, even if the request is successfully submitted. You can only cancel steps that are in a <code>PENDING</code> state.'
      operationId: CancelSteps
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CancelStepsInput'
        - enum:
            - ElasticMapReduce.CancelSteps
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelStepsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.CreateSecurityConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a security configuration, which is stored in the service and can be specified when a cluster is created.'
      operationId: CreateSecurityConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateSecurityConfigurationInput'
        - enum:
            - ElasticMapReduce.CreateSecurityConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSecurityConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.DeleteSecurityConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a security configuration.
      operationId: DeleteSecurityConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSecurityConfigurationInput'
        - enum:
            - ElasticMapReduce.DeleteSecurityConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSecurityConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.DescribeCluster':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. '
      operationId: DescribeCluster
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterInput'
        - enum:
            - ElasticMapReduce.DescribeCluster
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClusterOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.DescribeJobFlows':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      deprecated: true
      description: '<p>This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>'
      operationId: DescribeJobFlows
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeJobFlowsInput'
        - enum:
            - ElasticMapReduce.DescribeJobFlows
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeJobFlowsOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.DescribeSecurityConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides the details of a security configuration by returning the configuration JSON.
      operationId: DescribeSecurityConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSecurityConfigurationInput'
        - enum:
            - ElasticMapReduce.DescribeSecurityConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSecurityConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.DescribeStep':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides more detail about the cluster step.
      operationId: DescribeStep
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeStepInput'
        - enum:
            - ElasticMapReduce.DescribeStep
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStepOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.GetBlockPublicAccessConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the Amazon EMR block public access configuration for your AWS account in the current Region. For more information see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.'
      operationId: GetBlockPublicAccessConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetBlockPublicAccessConfigurationInput'
        - enum:
            - ElasticMapReduce.GetBlockPublicAccessConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBlockPublicAccessConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListBootstrapActions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides information about the bootstrap actions associated with a cluster.
      operationId: ListBootstrapActions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListBootstrapActionsInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListBootstrapActions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBootstrapActionsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListClusters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Provides the status of all clusters visible to this AWS account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.'
      operationId: ListClusters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListClustersInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListClusters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClustersOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListInstanceFleets':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists all available details about the instance fleets in a cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
      operationId: ListInstanceFleets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListInstanceFleetsInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListInstanceFleets
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstanceFleetsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListInstanceGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides all available details about the instance groups in a cluster.
      operationId: ListInstanceGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListInstanceGroupsInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListInstanceGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstanceGroupsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Provides information for all active EC2 instances and EC2 instances terminated in the last 30 days, up to a maximum of 2,000. EC2 instances in any of the following states are considered active: AWAITING_FULFILLMENT, PROVISIONING, BOOTSTRAPPING, RUNNING.'
      operationId: ListInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListInstancesInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInstancesOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListSecurityConfigurations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists all the security configurations visible to this account, providing their creation dates and times, and their names. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListSecurityConfigurations calls.'
      operationId: ListSecurityConfigurations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListSecurityConfigurationsInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListSecurityConfigurations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSecurityConfigurationsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ListSteps':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides a list of steps for the cluster in reverse order unless you specify stepIds with the request.
      operationId: ListSteps
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListStepsInput'
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - ElasticMapReduce.ListSteps
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListStepsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ModifyInstanceFleet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Modifies the target On-Demand and target Spot capacities for the instance fleet with the specified InstanceFleetID within the cluster specified using ClusterID. The call either succeeds or fails atomically.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
      operationId: ModifyInstanceFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyInstanceFleetInput'
        - enum:
            - ElasticMapReduce.ModifyInstanceFleet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.ModifyInstanceGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.
      operationId: ModifyInstanceGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyInstanceGroupsInput'
        - enum:
            - ElasticMapReduce.ModifyInstanceGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.PutAutoScalingPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates or updates an automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric.
      operationId: PutAutoScalingPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutAutoScalingPolicyInput'
        - enum:
            - ElasticMapReduce.PutAutoScalingPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAutoScalingPolicyOutput'
  '/#X-Amz-Target=ElasticMapReduce.PutBlockPublicAccessConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates or updates an Amazon EMR block public access configuration for your AWS account in the current Region. For more information see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.'
      operationId: PutBlockPublicAccessConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutBlockPublicAccessConfigurationInput'
        - enum:
            - ElasticMapReduce.PutBlockPublicAccessConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutBlockPublicAccessConfigurationOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.RemoveAutoScalingPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes an automatic scaling policy from a specified instance group within an EMR cluster.
      operationId: RemoveAutoScalingPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RemoveAutoScalingPolicyInput'
        - enum:
            - ElasticMapReduce.RemoveAutoScalingPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAutoScalingPolicyOutput'
  '/#X-Amz-Target=ElasticMapReduce.RemoveTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes tags from an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html">Tag Clusters</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>'
      operationId: RemoveTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsInput'
        - enum:
            - ElasticMapReduce.RemoveTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsOutput'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=ElasticMapReduce.RunJobFlow':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>RunJobFlow creates and starts running a new cluster (job flow). The cluster runs the steps specified. After the steps complete, the cluster stops and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the cluster transitions to the WAITING state rather than shutting down after the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the cluster and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>For long running clusters, we recommend that you periodically store your results.</p> <note> <p>The instance fleets configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions. The RunJobFlow request can contain InstanceFleets parameters or InstanceGroups parameters, but not both.</p> </note>'
      operationId: RunJobFlow
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RunJobFlowInput'
        - enum:
            - ElasticMapReduce.RunJobFlow
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RunJobFlowOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.SetTerminationProtection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>SetTerminationProtection locks a cluster (job flow) so the EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling <code>SetTerminationProtection</code> on a cluster is similar to calling the Amazon EC2 <code>DisableAPITermination</code> API on all EC2 instances in a cluster.</p> <p> <code>SetTerminationProtection</code> is used to prevent accidental termination of a cluster and to ensure that in the event of an error, the instances persist so that you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a cluster that has been locked by setting <code>SetTerminationProtection</code> to <code>true</code>, you must first unlock the job flow by a subsequent call to <code>SetTerminationProtection</code> in which you set the value to <code>false</code>. </p> <p> For more information, see<a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/UsingEMR_TerminationProtection.html">Managing Cluster Termination</a> in the <i>Amazon EMR Management Guide</i>. </p>'
      operationId: SetTerminationProtection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SetTerminationProtectionInput'
        - enum:
            - ElasticMapReduce.SetTerminationProtection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.SetVisibleToAllUsers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p> <i>This member will be deprecated.</i> </p> <p>Sets whether all AWS Identity and Access Management (IAM) users under your account can access the specified clusters (job flows). This action works on running clusters. You can also set the visibility of a cluster when you launch it using the <code>VisibleToAllUsers</code> parameter of <a>RunJobFlow</a>. The SetVisibleToAllUsers action can be called only by an IAM user who created the cluster or the AWS account that owns the cluster.</p>
      operationId: SetVisibleToAllUsers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SetVisibleToAllUsersInput'
        - enum:
            - ElasticMapReduce.SetVisibleToAllUsers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=ElasticMapReduce.TerminateJobFlows':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>TerminateJobFlows shuts a list of clusters (job flows) down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the cluster is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the cluster was created.</p> <p>The maximum number of clusters allowed is 10. The call to <code>TerminateJobFlows</code> is asynchronous. Depending on the configuration of the cluster, it may take up to 1-5 minutes for the cluster to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>'
      operationId: TerminateJobFlows
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TerminateJobFlowsInput'
        - enum:
            - ElasticMapReduce.TerminateJobFlows
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
definitions:
  ActionOnFailure:
    enum:
      - TERMINATE_JOB_FLOW
      - TERMINATE_CLUSTER
      - CANCEL_AND_WAIT
      - CONTINUE
    type: string
  AddInstanceFleetInput:
    properties:
      ClusterId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The unique identifier of the cluster.
      InstanceFleet:
        $ref: '#/definitions/InstanceFleetConfig'
        description: Specifies the configuration of the instance fleet.
    required:
      - ClusterId
      - InstanceFleet
    type: object
  AddInstanceFleetOutput:
    properties:
      ClusterId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The unique identifier of the cluster.
      InstanceFleetId:
        $ref: '#/definitions/InstanceFleetId'
        description: The unique identifier of the instance fleet.
    type: object
  AddInstanceGroupsInput:
    description: Input to an AddInstanceGroups call.
    properties:
      InstanceGroups:
        $ref: '#/definitions/InstanceGroupConfigList'
        description: Instance groups to add.
      JobFlowId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: Job flow in which to add the instance groups.
    required:
      - InstanceGroups
      - JobFlowId
    type: object
  AddInstanceGroupsOutput:
    description: Output from an AddInstanceGroups call.
    properties:
      InstanceGroupIds:
        $ref: '#/definitions/InstanceGroupIdsList'
        description: Instance group IDs of the newly created instance groups.
      JobFlowId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The job flow ID in which the instance groups are added.
    type: object
  AddJobFlowStepsInput:
    description: ' The input argument to the <a>AddJobFlowSteps</a> operation. '
    properties:
      JobFlowId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: 'A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. '
      Steps:
        $ref: '#/definitions/StepConfigList'
        description: ' A list of <a>StepConfig</a> to be executed by the job flow. '
    required:
      - JobFlowId
      - Steps
    type: object
  AddJobFlowStepsOutput:
    description: ' The output for the <a>AddJobFlowSteps</a> operation. '
    properties:
      StepIds:
        $ref: '#/definitions/StepIdsList'
        description: The identifiers of the list of steps added to the job flow.
    type: object
  AddTagsInput:
    description: This input identifies a cluster and a list of tags to attach.
    properties:
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.
      Tags:
        $ref: '#/definitions/TagList'
        description: 'A list of tags to associate with a cluster and propagate to EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.'
    required:
      - ResourceId
      - Tags
    type: object
  AddTagsOutput:
    description: This output indicates the result of adding tags to a resource.
    properties: {}
    type: object
  AdjustmentType:
    enum:
      - CHANGE_IN_CAPACITY
      - PERCENT_CHANGE_IN_CAPACITY
      - EXACT_CAPACITY
    type: string
  Application:
    description: '<p>With Amazon EMR release version 4.0 and later, the only accepted parameter is the application name. To pass arguments to applications, you use configuration classifications specified using configuration JSON objects. For more information, see <a href="https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html">Configuring Applications</a>.</p> <p>With earlier Amazon EMR releases, the application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument.</p>'
    properties:
      AdditionalInfo:
        $ref: '#/definitions/StringMap'
        description: This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes.
      Args:
        $ref: '#/definitions/StringList'
        description: Arguments for Amazon EMR to pass to the application.
      Name:
        $ref: '#/definitions/String'
        description: The name of the application.
      Version:
        $ref: '#/definitions/String'
        description: The version of the application.
    type: object
  ApplicationList:
    items:
      $ref: '#/definitions/Application'
    type: array
  ArnType:
    maxLength: 2048
    minLength: 20
    type: string
  AutoScalingPolicy:
    description: An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.
    properties:
      Constraints:
        $ref: '#/definitions/ScalingConstraints'
        description: The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.
      Rules:
        $ref: '#/definitions/ScalingRuleList'
        description: The scale-in and scale-out rules that comprise the automatic scaling policy.
    required:
      - Constraints
      - Rules
    type: object
  AutoScalingPolicyDescription:
    description: An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.
    properties:
      Constraints:
        $ref: '#/definitions/ScalingConstraints'
        description: The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.
      Rules:
        $ref: '#/definitions/ScalingRuleList'
        description: The scale-in and scale-out rules that comprise the automatic scaling policy.
      Status:
        $ref: '#/definitions/AutoScalingPolicyStatus'
        description: 'The status of an automatic scaling policy. '
    type: object
  AutoScalingPolicyState:
    enum:
      - PENDING
      - ATTACHING
      - ATTACHED
      - DETACHING
      - DETACHED
      - FAILED
    type: string
  AutoScalingPolicyStateChangeReason:
    description: The reason for an <a>AutoScalingPolicyStatus</a> change.
    properties:
      Code:
        $ref: '#/definitions/AutoScalingPolicyStateChangeReasonCode'
        description: The code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code> indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.
      Message:
        $ref: '#/definitions/String'
        description: 'A friendly, more verbose message that accompanies an automatic scaling policy state change.'
    type: object
  AutoScalingPolicyStateChangeReasonCode:
    enum:
      - USER_REQUEST
      - PROVISION_FAILURE
      - CLEANUP_FAILURE
    type: string
  AutoScalingPolicyStatus:
    description: 'The status of an automatic scaling policy. '
    properties:
      State:
        $ref: '#/definitions/AutoScalingPolicyState'
        description: Indicates the status of the automatic scaling policy.
      StateChangeReason:
        $ref: '#/definitions/AutoScalingPolicyStateChangeReason'
        description: The reason for a change in status.
    type: object
  BlockPublicAccessConfiguration:
    description: 'A configuration for Amazon EMR block public access. When <code>BlockPublicSecurityGroupRules</code> is set to <code>true</code>, Amazon EMR prevents cluster creation if one of the cluster''s security groups has a rule that allows inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code>.'
    properties:
      BlockPublicSecurityGroupRules:
        $ref: '#/definitions/Boolean'
        description: 'Indicates whether EMR block public access is enabled (<code>true</code>) or disabled (<code>false</code>). By default, the value is <code>false</code> for accounts that have created EMR clusters before July 2019. For accounts created after this, the default is <code>true</code>.'
      PermittedPublicSecurityGroupRuleRanges:
        $ref: '#/definitions/PortRanges'
        description: '<p>Specifies ports and port ranges that are permitted to have security group rules that allow inbound traffic from all public sources. For example, if Port 23 (Telnet) is specified for <code>PermittedPublicSecurityGroupRuleRanges</code>, Amazon EMR allows cluster creation if a security group associated with the cluster has a rule that allows inbound traffic on Port 23 from IPv4 0.0.0.0/0 or IPv6 port ::/0 as the source.</p> <p>By default, Port 22, which is used for SSH access to the cluster EC2 instances, is in the list of <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>'
    required:
      - BlockPublicSecurityGroupRules
    type: object
  BlockPublicAccessConfigurationMetadata:
    description: 'Properties that describe the AWS principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.'
    properties:
      CreatedByArn:
        $ref: '#/definitions/ArnType'
        description: The Amazon Resource Name that created or last modified the configuration.
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The date and time that the configuration was created.
    required:
      - CreationDateTime
      - CreatedByArn
    type: object
  Boolean:
    type: boolean
  BooleanObject:
    type: boolean
  BootstrapActionConfig:
    description: Configuration of a bootstrap action.
    properties:
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The name of the bootstrap action.
      ScriptBootstrapAction:
        $ref: '#/definitions/ScriptBootstrapActionConfig'
        description: The script run by the bootstrap action.
    required:
      - Name
      - ScriptBootstrapAction
    type: object
  BootstrapActionConfigList:
    items:
      $ref: '#/definitions/BootstrapActionConfig'
    type: array
  BootstrapActionDetail:
    description: Reports the configuration of a bootstrap action in a cluster (job flow).
    properties:
      BootstrapActionConfig:
        $ref: '#/definitions/BootstrapActionConfig'
        description: A description of the bootstrap action.
    type: object
  BootstrapActionDetailList:
    items:
      $ref: '#/definitions/BootstrapActionDetail'
    type: array
  CancelStepsInfo:
    description: 'Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.'
    properties:
      Reason:
        $ref: '#/definitions/String'
        description: The reason for the failure if the CancelSteps request fails.
      Status:
        $ref: '#/definitions/CancelStepsRequestStatus'
        description: The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.
      StepId:
        $ref: '#/definitions/StepId'
        description: The encrypted StepId of a step.
    type: object
  CancelStepsInfoList:
    items:
      $ref: '#/definitions/CancelStepsInfo'
    type: array
  CancelStepsInput:
    description: The input argument to the <a>CancelSteps</a> operation.
    properties:
      ClusterId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: 'The <code>ClusterID</code> for which specified steps will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. '
      StepIds:
        $ref: '#/definitions/StepIdsList'
        description: The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.
    type: object
  CancelStepsOutput:
    description: ' The output for the <a>CancelSteps</a> operation. '
    properties:
      CancelStepsInfoList:
        $ref: '#/definitions/CancelStepsInfoList'
        description: 'A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.'
    type: object
  CancelStepsRequestStatus:
    enum:
      - SUBMITTED
      - FAILED
    type: string
  CloudWatchAlarmDefinition:
    description: 'The definition of a CloudWatch metric alarm, which determines when an automatic scaling activity is triggered. When the defined alarm conditions are satisfied, scaling activity begins.'
    properties:
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: Determines how the metric specified by <code>MetricName</code> is compared to the value specified by <code>Threshold</code>.
      Dimensions:
        $ref: '#/definitions/MetricDimensionList'
        description: A CloudWatch metric dimension.
      EvaluationPeriods:
        $ref: '#/definitions/Integer'
        description: 'The number of periods, expressed in seconds using <code>Period</code>, during which the alarm condition must exist before the alarm triggers automatic scaling activity. The default value is <code>1</code>.'
      MetricName:
        $ref: '#/definitions/String'
        description: The name of the CloudWatch metric that is watched to determine an alarm condition.
      Namespace:
        $ref: '#/definitions/String'
        description: The namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.
      Period:
        $ref: '#/definitions/Integer'
        description: 'The period, in seconds, over which the statistic is applied. EMR CloudWatch metrics are emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is specified, specify <code>300</code>.'
      Statistic:
        $ref: '#/definitions/Statistic'
        description: The statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.
      Threshold:
        $ref: '#/definitions/NonNegativeDouble'
        description: The value against which the specified statistic is compared.
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit of measure associated with the CloudWatch metric being watched. The value specified for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.
    required:
      - ComparisonOperator
      - MetricName
      - Period
      - Threshold
    type: object
  Cluster:
    description: The detailed description of the cluster.
    properties:
      Applications:
        $ref: '#/definitions/ApplicationList'
        description: The applications installed on this cluster.
      AutoScalingRole:
        $ref: '#/definitions/XmlString'
        description: An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the automatic scaling feature requires to launch and terminate EC2 instances in an instance group.
      AutoTerminate:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the cluster should terminate after completing all steps.
      Configurations:
        $ref: '#/definitions/ConfigurationList'
        description: Applies only to Amazon EMR releases 4.x and later. The list of Configurations supplied to the EMR cluster.
      CustomAmiId:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: Available only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon EBS-backed Linux AMI if the cluster uses a custom AMI.
      EbsRootVolumeSize:
        $ref: '#/definitions/Integer'
        description: 'The size, in GiB, of the EBS root device volume of the Linux AMI that is used for each EC2 instance. Available in Amazon EMR version 4.x and later.'
      Ec2InstanceAttributes:
        $ref: '#/definitions/Ec2InstanceAttributes'
        description: 'Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.'
      Id:
        $ref: '#/definitions/ClusterId'
        description: The unique identifier for the cluster.
      InstanceCollectionType:
        $ref: '#/definitions/InstanceCollectionType'
        description: '<note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note> <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance fleets configuration.</p>'
      KerberosAttributes:
        $ref: '#/definitions/KerberosAttributes'
        description: 'Attributes for Kerberos configuration when Kerberos authentication is enabled using a security configuration. For more information see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html">Use Kerberos Authentication</a> in the <i>EMR Management Guide</i>.'
      LogUri:
        $ref: '#/definitions/String'
        description: The path to the Amazon S3 location where logs for this cluster are stored.
      MasterPublicDnsName:
        $ref: '#/definitions/String'
        description: 'The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.'
      Name:
        $ref: '#/definitions/String'
        description: The name of the cluster.
      NormalizedInstanceHours:
        $ref: '#/definitions/Integer'
        description: 'An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.'
      ReleaseLabel:
        $ref: '#/definitions/String'
        description: 'The Amazon EMR release label, which determines the version of open-source application packages installed on the cluster. Release labels are in the form <code>emr-x.x.x</code>, where x.x.x is an Amazon EMR release version such as <code>emr-5.14.0</code>. For more information about Amazon EMR release versions and included application versions and features, see <a href="https://docs.aws.amazon.com/emr/latest/ReleaseGuide/">https://docs.aws.amazon.com/emr/latest/ReleaseGuide/</a>. The release label applies only to Amazon EMR releases version 4.0 and later. Earlier versions use <code>AmiVersion</code>.'
      RepoUpgradeOnBoot:
        $ref: '#/definitions/RepoUpgradeOnBoot'
        description: Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that are applied from the Amazon Linux AMI package repositories when an instance boots using the AMI.
      RequestedAmiVersion:
        $ref: '#/definitions/String'
        description: The AMI version requested for this cluster.
      RunningAmiVersion:
        $ref: '#/definitions/String'
        description: The AMI version running on this cluster.
      ScaleDownBehavior:
        $ref: '#/definitions/ScaleDownBehavior'
        description: 'The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.'
      SecurityConfiguration:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration applied to the cluster.
      ServiceRole:
        $ref: '#/definitions/String'
        description: The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf.
      Status:
        $ref: '#/definitions/ClusterStatus'
        description: The current status details about the cluster.
      Tags:
        $ref: '#/definitions/TagList'
        description: A list of tags associated with a cluster.
      TerminationProtected:
        $ref: '#/definitions/Boolean'
        description: 'Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error.'
      VisibleToAllUsers:
        $ref: '#/definitions/Boolean'
        description: '<p> <i>This member will be deprecated.</i> </p> <p>Indicates whether the cluster is visible to all IAM users of the AWS account associated with the cluster. If this value is set to <code>true</code>, all IAM users of that AWS account can view and manage the cluster if they have the proper policy permissions set. If this value is <code>false</code>, only the IAM user that created the cluster can view and manage it. This value can be changed using the <a>SetVisibleToAllUsers</a> action.</p>'
    type: object
  ClusterId:
    type: string
  ClusterState:
    enum:
      - STARTING
      - BOOTSTRAPPING
      - RUNNING
      - WAITING
      - TERMINATING
      - TERMINATED
      - TERMINATED_WITH_ERRORS
    type: string
  ClusterStateChangeReason:
    description: The reason that the cluster changed to its current state.
    properties:
      Code:
        $ref: '#/definitions/ClusterStateChangeReasonCode'
        description: The programmatic code for the state change reason.
      Message:
        $ref: '#/definitions/String'
        description: The descriptive message for the state change reason.
    type: object
  ClusterStateChangeReasonCode:
    enum:
      - INTERNAL_ERROR
      - VALIDATION_ERROR
      - INSTANCE_FAILURE
      - INSTANCE_FLEET_TIMEOUT
      - BOOTSTRAP_FAILURE
      - USER_REQUEST
      - STEP_FAILURE
      - ALL_STEPS_COMPLETED
    type: string
  ClusterStateList:
    items:
      $ref: '#/definitions/ClusterState'
    type: array
  ClusterStatus:
    description: The detailed status of the cluster.
    properties:
      State:
        $ref: '#/definitions/ClusterState'
        description: The current state of the cluster.
      StateChangeReason:
        $ref: '#/definitions/ClusterStateChangeReason'
        description: The reason for the cluster status change.
      Timeline:
        $ref: '#/definitions/ClusterTimeline'
        description: A timeline that represents the status of a cluster over the lifetime of the cluster.
    type: object
  ClusterSummary:
    description: The summary description of the cluster.
    properties:
      Id:
        $ref: '#/definitions/ClusterId'
        description: The unique identifier for the cluster.
      Name:
        $ref: '#/definitions/String'
        description: The name of the cluster.
      NormalizedInstanceHours:
        $ref: '#/definitions/Integer'
        description: 'An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.'
      Status:
        $ref: '#/definitions/ClusterStatus'
        description: The details about the current status of the cluster.
    type: object
  ClusterSummaryList:
    items:
      $ref: '#/definitions/ClusterSummary'
    type: array
  ClusterTimeline:
    description: Represents the timeline of the cluster's lifecycle.
    properties:
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The creation date and time of the cluster.
      EndDateTime:
        $ref: '#/definitions/Date'
        description: The date and time when the cluster was terminated.
      ReadyDateTime:
        $ref: '#/definitions/Date'
        description: The date and time when the cluster was ready to execute steps.
    type: object
  Command:
    description: An entity describing an executable that runs on a cluster.
    properties:
      Args:
        $ref: '#/definitions/StringList'
        description: Arguments for Amazon EMR to pass to the command for execution.
      Name:
        $ref: '#/definitions/String'
        description: The name of the command.
      ScriptPath:
        $ref: '#/definitions/String'
        description: The Amazon S3 location of the command script.
    type: object
  CommandList:
    items:
      $ref: '#/definitions/Command'
    type: array
  ComparisonOperator:
    enum:
      - GREATER_THAN_OR_EQUAL
      - GREATER_THAN
      - LESS_THAN
      - LESS_THAN_OR_EQUAL
    type: string
  Configuration:
    description: '<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>An optional configuration specification to be used when provisioning cluster instances, which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file. For more information, see <a href="https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html">Configuring Applications</a>.</p>'
    properties:
      Classification:
        $ref: '#/definitions/String'
        description: The classification within a configuration.
      Configurations:
        $ref: '#/definitions/ConfigurationList'
        description: A list of additional configurations to apply within a configuration object.
      Properties:
        $ref: '#/definitions/StringMap'
        description: A set of properties specified within a configuration classification.
    type: object
  ConfigurationList:
    items:
      $ref: '#/definitions/Configuration'
    type: array
  CreateSecurityConfigurationInput:
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
      SecurityConfiguration:
        $ref: '#/definitions/String'
        description: 'The security configuration details in JSON format. For JSON parameters and examples, see <a href="https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.'
    required:
      - Name
      - SecurityConfiguration
    type: object
  CreateSecurityConfigurationOutput:
    properties:
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The date and time the security configuration was created.
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
    required:
      - Name
      - CreationDateTime
    type: object
  Date:
    format: date-time
    type: string
  DeleteSecurityConfigurationInput:
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
    required:
      - Name
    type: object
  DeleteSecurityConfigurationOutput:
    properties: {}
    type: object
  DescribeClusterInput:
    description: This input determines which cluster to describe.
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier of the cluster to describe.
    required:
      - ClusterId
    type: object
  DescribeClusterOutput:
    description: This output contains the description of the cluster.
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: This output contains the details for the requested cluster.
    type: object
  DescribeJobFlowsInput:
    description: ' The input for the <a>DescribeJobFlows</a> operation. '
    properties:
      CreatedAfter:
        $ref: '#/definitions/Date'
        description: Return only job flows created after this date and time.
      CreatedBefore:
        $ref: '#/definitions/Date'
        description: Return only job flows created before this date and time.
      JobFlowIds:
        $ref: '#/definitions/XmlStringList'
        description: Return only job flows whose job flow ID is contained in this list.
      JobFlowStates:
        $ref: '#/definitions/JobFlowExecutionStateList'
        description: Return only job flows whose state is contained in this list.
    type: object
  DescribeJobFlowsOutput:
    description: ' The output for the <a>DescribeJobFlows</a> operation. '
    properties:
      JobFlows:
        $ref: '#/definitions/JobFlowDetailList'
        description: A list of job flows matching the parameters supplied.
    type: object
  DescribeSecurityConfigurationInput:
    properties:
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
    required:
      - Name
    type: object
  DescribeSecurityConfigurationOutput:
    properties:
      CreationDateTime:
        $ref: '#/definitions/Date'
        description: The date and time the security configuration was created
      Name:
        $ref: '#/definitions/XmlString'
        description: The name of the security configuration.
      SecurityConfiguration:
        $ref: '#/definitions/String'
        description: The security configuration details in JSON format.
    type: object
  DescribeStepInput:
    description: This input determines which step to describe.
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier of the cluster with steps to describe.
      StepId:
        $ref: '#/definitions/StepId'
        description: The identifier of the step to describe.
    required:
      - ClusterId
      - StepId
    type: object
  DescribeStepOutput:
    description: This output contains the description of the cluster step.
    properties:
      Step:
        $ref: '#/definitions/Step'
        description: The step details for the requested step identifier.
    type: object
  EC2InstanceIdsList:
    items:
      $ref: '#/definitions/InstanceId'
    type: array
  EC2InstanceIdsToTerminateList:
    items:
      $ref: '#/definitions/InstanceId'
    type: array
  EbsBlockDevice:
    description: Configuration of requested EBS block device associated with the instance group.
    properties:
      Device:
        $ref: '#/definitions/String'
        description: 'The device name that is exposed to the instance, such as /dev/sdh.'
      VolumeSpecification:
        $ref: '#/definitions/VolumeSpecification'
        description: 'EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.'
    type: object
  EbsBlockDeviceConfig:
    description: Configuration of requested EBS block device associated with the instance group with count of volumes that will be associated to every instance.
    properties:
      VolumeSpecification:
        $ref: '#/definitions/VolumeSpecification'
        description: 'EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.'
      VolumesPerInstance:
        $ref: '#/definitions/Integer'
        description: Number of EBS volumes with a specific volume configuration that will be associated with every instance in the instance group
    required:
      - VolumeSpecification
    type: object
  EbsBlockDeviceConfigList:
    items:
      $ref: '#/definitions/EbsBlockDeviceConfig'
    type: array
  EbsBlockDeviceList:
    items:
      $ref: '#/definitions/EbsBlockDevice'
    type: array
  EbsConfiguration:
    description: The Amazon EBS configuration of a cluster instance.
    properties:
      EbsBlockDeviceConfigs:
        $ref: '#/definitions/EbsBlockDeviceConfigList'
        description: An array of Amazon EBS volume specifications attached to a cluster instance.
      EbsOptimized:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether an Amazon EBS volume is EBS-optimized.
    type: object
  EbsVolume:
    description: EBS block device that's attached to an EC2 instance.
    properties:
      Device:
        $ref: '#/definitions/String'
        description: 'The device name that is exposed to the instance, such as /dev/sdh.'
      VolumeId:
        $ref: '#/definitions/String'
        description: The volume identifier of the EBS volume.
    type: object
  EbsVolumeList:
    items:
      $ref: '#/definitions/EbsVolume'
    type: array
  Ec2InstanceAttributes:
    description: 'Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.'
    properties:
      AdditionalMasterSecurityGroups:
        $ref: '#/definitions/StringList'
        description: A list of additional Amazon EC2 security group IDs for the master node.
      AdditionalSlaveSecurityGroups:
        $ref: '#/definitions/StringList'
        description: A list of additional Amazon EC2 security group IDs for the core and task nodes.
      Ec2AvailabilityZone:
        $ref: '#/definitions/String'
        description: 'The Availability Zone in which the cluster will run. '
      Ec2KeyName:
        $ref: '#/definitions/String'
        description: The name of the Amazon EC2 key pair to use when connecting with SSH into the master node as a user named "hadoop".
      Ec2SubnetId:
        $ref: '#/definitions/String'
        description: 'Set this parameter to the identifier of the Amazon VPC subnet where you want the cluster to launch. If you do not specify this value, and your account supports EC2-Classic, the cluster launches in EC2-Classic.'
      EmrManagedMasterSecurityGroup:
        $ref: '#/definitions/String'
        description: The identifier of the Amazon EC2 security group for the master node.
      EmrManagedSlaveSecurityGroup:
        $ref: '#/definitions/String'
        description: The identifier of the Amazon EC2 security group for the core and task nodes.
      IamInstanceProfile:
        $ref: '#/definitions/String'
        description: The IAM role that was specified when the cluster was launched. The EC2 instances of the cluster assume this role.
      RequestedEc2AvailabilityZones:
        $ref: '#/definitions/XmlStringMaxLen256List'
        description: 'Applies to clusters configured with the instance fleets option. Specifies one or more Availability Zones in which to launch EC2 cluster instances when the EC2-Classic network configuration is supported. Amazon EMR chooses the Availability Zone with the best fit from among the list of <code>RequestedEc2AvailabilityZones</code>, and then launches all cluster instances within that Availability Zone. If you do not specify this value, Amazon EMR chooses the Availability Zone for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.'
      RequestedEc2SubnetIds:
        $ref: '#/definitions/XmlStringMaxLen256List'
        description: 'Applies to clusters configured with the instance fleets option. Specifies the unique identifier of one or more Amazon EC2 subnets in which to launch EC2 cluster instances. Subnets must exist within the same VPC. Amazon EMR chooses the EC2 subnet with the best fit from among the list of <code>RequestedEc2SubnetIds</code>, and then launches all cluster instances within that Subnet. If this value is not specified, and the account and Region support EC2-Classic networks, the cluster launches instances in the EC2-Classic network and uses <code>RequestedEc2AvailabilityZones</code> instead of this setting. If EC2-Classic is not supported, and no Subnet is specified, Amazon EMR chooses the subnet for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.'
      ServiceAccessSecurityGroup:
        $ref: '#/definitions/String'
        description: The identifier of the Amazon EC2 security group for the Amazon EMR service to access clusters in VPC private subnets.
    type: object
  FailureDetails:
    description: The details of the step failure. The service attempts to detect the root cause for many common failures.
    properties:
      LogFile:
        $ref: '#/definitions/String'
        description: The path to the log file where the step failure root cause was originally recorded.
      Message:
        $ref: '#/definitions/String'
        description: The descriptive message including the error the EMR service has identified as the cause of step failure. This is text from an error log that describes the root cause of the failure.
      Reason:
        $ref: '#/definitions/String'
        description: 'The reason for the step failure. In the case where the service cannot successfully determine the root cause of the failure, it returns "Unknown Error" as a reason.'
    type: object
  GetBlockPublicAccessConfigurationInput:
    properties: {}
    type: object
  GetBlockPublicAccessConfigurationOutput:
    properties:
      BlockPublicAccessConfiguration:
        $ref: '#/definitions/BlockPublicAccessConfiguration'
        description: 'A configuration for Amazon EMR block public access. The configuration applies to all clusters created in your account for the current Region. The configuration specifies whether block public access is enabled. If block public access is enabled, security groups associated with the cluster cannot have rules that allow inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code> in the <code>BlockPublicAccessConfiguration</code>. By default, Port 22 (SSH) is an exception, and public access is allowed on this port. You can change this by updating the block public access configuration to remove the exception.'
      BlockPublicAccessConfigurationMetadata:
        $ref: '#/definitions/BlockPublicAccessConfigurationMetadata'
        description: 'Properties that describe the AWS principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.'
    required:
      - BlockPublicAccessConfiguration
      - BlockPublicAccessConfigurationMetadata
    type: object
  HadoopJarStepConfig:
    description: A job flow step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.
    properties:
      Args:
        $ref: '#/definitions/XmlStringList'
        description: A list of command line arguments passed to the JAR file's main function when executed.
      Jar:
        $ref: '#/definitions/XmlString'
        description: A path to a JAR file run during the step.
      MainClass:
        $ref: '#/definitions/XmlString'
        description: 'The name of the main class in the specified Java file. If not specified, the JAR file should specify a Main-Class in its manifest file.'
      Properties:
        $ref: '#/definitions/KeyValueList'
        description: A list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.
    required:
      - Jar
    type: object
  HadoopStepConfig:
    description: A cluster step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.
    properties:
      Args:
        $ref: '#/definitions/StringList'
        description: The list of command line arguments to pass to the JAR file's main function for execution.
      Jar:
        $ref: '#/definitions/String'
        description: The path to the JAR file that runs during the step.
      MainClass:
        $ref: '#/definitions/String'
        description: 'The name of the main class in the specified Java file. If not specified, the JAR file should specify a main class in its manifest file.'
      Properties:
        $ref: '#/definitions/StringMap'
        description: The list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.
    type: object
  Instance:
    description: Represents an EC2 instance provisioned as part of cluster.
    properties:
      EbsVolumes:
        $ref: '#/definitions/EbsVolumeList'
        description: The list of EBS volumes that are attached to this instance.
      Ec2InstanceId:
        $ref: '#/definitions/InstanceId'
        description: The unique identifier of the instance in Amazon EC2.
      Id:
        $ref: '#/definitions/InstanceId'
        description: The unique identifier for the instance in Amazon EMR.
      InstanceFleetId:
        $ref: '#/definitions/InstanceFleetId'
        description: The unique identifier of the instance fleet to which an EC2 instance belongs.
      InstanceGroupId:
        $ref: '#/definitions/String'
        description: The identifier of the instance group to which this instance belongs.
      InstanceType:
        $ref: '#/definitions/InstanceType'
        description: 'The EC2 instance type, for example <code>m3.xlarge</code>.'
      Market:
        $ref: '#/definitions/MarketType'
        description: 'The instance purchasing option. Valid values are <code>ON_DEMAND</code> or <code>SPOT</code>. '
      PrivateDnsName:
        $ref: '#/definitions/String'
        description: The private DNS name of the instance.
      PrivateIpAddress:
        $ref: '#/definitions/String'
        description: The private IP address of the instance.
      PublicDnsName:
        $ref: '#/definitions/String'
        description: The public DNS name of the instance.
      PublicIpAddress:
        $ref: '#/definitions/String'
        description: The public IP address of the instance.
      Status:
        $ref: '#/definitions/InstanceStatus'
        description: The current status of the instance.
    type: object
  InstanceCollectionType:
    enum:
      - INSTANCE_FLEET
      - INSTANCE_GROUP
    type: string
  InstanceFleet:
    description: '<p>Describes an instance fleet, which is a group of EC2 instances that host a particular node type (master, core, or task) in an Amazon EMR cluster. Instance fleets can consist of a mix of instance types and On-Demand and Spot instances, which are provisioned to meet a defined target capacity. </p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
    properties:
      Id:
        $ref: '#/definitions/InstanceFleetId'
        description: The unique identifier of the instance fleet.
      InstanceFleetType:
        $ref: '#/definitions/InstanceFleetType'
        description: 'The node type that the instance fleet hosts. Valid values are MASTER, CORE, or TASK. '
      InstanceTypeSpecifications:
        $ref: '#/definitions/InstanceTypeSpecificationList'
        description: 'The specification for the instance types that comprise an instance fleet. Up to five unique instance specifications may be defined for each instance fleet. '
      LaunchSpecifications:
        $ref: '#/definitions/InstanceFleetProvisioningSpecifications'
        description: 'Describes the launch specification for an instance fleet. '
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: A friendly name for the instance fleet.
      ProvisionedOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: The number of On-Demand units that have been provisioned for the instance fleet to fulfill <code>TargetOnDemandCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetOnDemandCapacity</code>.
      ProvisionedSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: The number of Spot units that have been provisioned for this instance fleet to fulfill <code>TargetSpotCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetSpotCapacity</code>.
      Status:
        $ref: '#/definitions/InstanceFleetStatus'
        description: 'The current status of the instance fleet. '
      TargetOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedOnDemandCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
      TargetSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedSpotCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p> <note> <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
    type: object
  InstanceFleetConfig:
    description: '<p>The configuration that defines an instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>'
    properties:
      InstanceFleetType:
        $ref: '#/definitions/InstanceFleetType'
        description: 'The node type that the instance fleet hosts. Valid values are MASTER,CORE,and TASK.'
      InstanceTypeConfigs:
        $ref: '#/definitions/InstanceTypeConfigList'
        description: The instance type configurations that define the EC2 instances in the instance fleet.
      LaunchSpecifications:
        $ref: '#/definitions/InstanceFleetProvisioningSpecifications'
        description: The launch specification for the instance fleet.
      Name:
        $ref: '#/definitions/XmlStringMaxLen256'
        description: The friendly name of the instance fleet.
      TargetOnDemandCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
      TargetSpotCapacity:
        $ref: '#/definitions/WholeNumber'
        description: '<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>'
    required:
      - InstanceFleetType
    type: object
[...]
