swagger: "2.0"
schemes:
  - https
host: api.meraki.com
basePath: /api/v1
info:
  contact:
    x-twitter: meraki
  description: >
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.


    > Date: 03 March, 2021

    >

    > [What's New](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: 1.7.0
  x-apisguru-categories:
    - iot
    - enterprise
  x-logo:
    url: https://n140.meraki.com/images/cisco-meraki.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec2.json
      version: "2.0"
  x-preferred: false
  x-providerName: meraki.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  meraki_api_key:
    in: header
    name: X-Cisco-Meraki-API-Key
    type: apiKey
security:
  - meraki_api_key: []
tags:
  - name: organizations
  - name: networks
  - name: devices
  - name: insight
  - name: wireless
  - name: camera
  - name: appliance
  - name: switch
  - name: cellularGateway
  - name: sm
  - name: accessControlLists
  - name: accessPolicies
  - name: actionBatches
  - name: admins
  - name: airMarshal
  - name: alertTypes
  - name: alerts
  - name: alternateManagementInterface
  - name: analytics
  - name: apiRequests
  - name: apnsCert
  - name: applicationCategories
  - name: applicationUsage
  - name: bgp
  - name: billing
  - name: bluetooth
  - name: bluetoothClients
  - name: brandingPolicies
  - name: bypassActivationLockAttempts
  - name: categories
  - name: cellularFirewallRules
  - name: cellularUsageHistory
  - name: certs
  - name: channelUtilization
  - name: channelUtilizationHistory
  - name: clientCountHistory
  - name: clients
  - name: configTemplates
  - name: configurationChanges
  - name: configure
  - name: connectionStats
  - name: connectivity
  - name: connectivityEvents
  - name: connectivityMonitoringDestinations
  - name: contentFiltering
  - name: customPerformanceClasses
  - name: dataRateHistory
  - name: desktopLogs
  - name: deviceCommandLogs
  - name: deviceProfiles
  - name: deviceTypeGroupPolicies
  - name: dhcp
  - name: dhcpServerPolicy
  - name: dscpTaggingOptions
  - name: dscpToCosMappings
  - name: eventTypes
  - name: events
  - name: failedConnections
  - name: fields
  - name: firewall
  - name: firewalledServices
  - name: firmwareUpgrades
  - name: floorPlans
  - name: groupPolicies
  - name: history
  - name: httpServers
  - name: identityPsks
  - name: idps
  - name: inboundFirewallRules
  - name: interfaces
  - name: intrusion
  - name: inventoryDevices
  - name: l3FirewallRules
  - name: l7FirewallRules
  - name: lan
  - name: latencyHistory
  - name: latencyStats
  - name: licenses
  - name: linkAggregations
  - name: live
  - name: liveTools
  - name: lldpCdp
  - name: loginSecurity
  - name: logs
  - name: lossAndLatencyHistory
  - name: malware
  - name: managementInterface
  - name: merakiAuthUsers
  - name: meshStatuses
  - name: monitor
  - name: monitoredMediaServers
  - name: mqttBrokers
  - name: mtu
  - name: multicast
  - name: netflow
  - name: networkAdapters
  - name: networkHealth
  - name: objectDetectionModels
  - name: oneToManyNatRules
  - name: oneToOneNatRules
  - name: openapiSpec
  - name: order
  - name: ospf
  - name: overview
  - name: packets
  - name: performance
  - name: performanceHistory
  - name: pii
  - name: piiKeys
  - name: policy
  - name: portForwardingRules
  - name: portSchedules
  - name: ports
  - name: priorities
  - name: profiles
  - name: qosRules
  - name: qualityAndRetention
  - name: qualityRetentionProfiles
  - name: radio
  - name: recent
  - name: rendezvousPoints
  - name: requests
  - name: restrictions
  - name: rfProfiles
  - name: routing
  - name: rules
  - name: saml
  - name: samlRoles
  - name: schedules
  - name: security
  - name: securityCenters
  - name: sense
  - name: settings
  - name: signalQualityHistory
  - name: singleLan
  - name: siteToSiteVpn
  - name: smDevicesForKey
  - name: smOwnersForKey
  - name: snmp
  - name: softwares
  - name: splash
  - name: splashAuthorizationStatus
  - name: splashLoginAttempts
  - name: ssids
  - name: stacks
  - name: staticRoutes
  - name: stats
  - name: status
  - name: statuses
  - name: stormControl
  - name: stp
  - name: subnetPool
  - name: subnets
  - name: syslogServers
  - name: targetGroups
  - name: thirdPartyVPNPeers
  - name: traffic
  - name: trafficAnalysis
  - name: trafficHistory
  - name: trafficShaping
  - name: uplink
  - name: uplinkBandwidth
  - name: uplinkSelection
  - name: uplinks
  - name: uplinksLossAndLatency
  - name: usageHistories
  - name: usageHistory
  - name: userAccessDevices
  - name: users
  - name: video
  - name: videoLink
  - name: vlans
  - name: vpn
  - name: vpnFirewallRules
  - name: vppAccounts
  - name: warmSpare
  - name: webhookTests
  - name: webhooks
  - name: wlanLists
  - name: zones
paths:
  "/devices/{serial}":
    get:
      description: Return a single device
      operationId: getDevice
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              address: 1600 Pennsylvania Ave
              beaconIdParams:
                major: 5
                minor: 3
                uuid: 00000000-0000-0000-0000-000000000000
              firmware: wireless-25-14
              floorPlanId: g_1234567
              lanIp: 1.2.3.4
              lat: 37.4180951010362
              lng: -122.098531723022
              mac: 00:11:22:33:44:55
              model: MR34
              name: My AP
              networkId: N_24329156
              notes: My AP's note
              serial: Q234-ABCD-5678
              tags:
                - recently-added
          schema:
            type: object
      summary: Return a single device
      tags:
        - devices
        - configure
    put:
      description: Update the attributes of a device
      operationId: updateDevice
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDevice
          schema:
            example:
              lat: 37.4180951010362
              lng: -122.098531723022
              mac: 00:11:22:33:44:55
              name: My AP
              serial: Q234-ABCD-5678
              tags:
                - recently-added
            properties:
              address:
                description: The address of a device
                type: string
              floorPlanId:
                description: The floor plan to associate to this device. null disassociates the device from the floorplan.
                type: string
              lat:
                description: The latitude of a device
                format: float
                type: number
              lng:
                description: The longitude of a device
                format: float
                type: number
              moveMapMarker:
                description: Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified.
                type: boolean
              name:
                description: The name of a device
                type: string
              notes:
                description: The notes for the device. String. Limited to 255 characters.
                type: string
              switchProfileId:
                description: The ID of a switch profile to bind to the device (for available switch profiles, see the 'Switch Profiles' endpoint). Use null to unbind the switch device from the current profile. For a device to be bindable to a switch profile, it must (1) be a switch, and (2) belong to a network that is bound to a configuration template.
                type: string
              tags:
                description: The list of tags of a device
                items:
                  type: string
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              address: 1600 Pennsylvania Ave
              beaconIdParams:
                major: 5
                minor: 3
                uuid: 00000000-0000-0000-0000-000000000000
              firmware: wireless-25-14
              floorPlanId: g_1234567
              lanIp: 1.2.3.4
              lat: 37.4180951010362
              lng: -122.098531723022
              mac: 00:11:22:33:44:55
              model: MR34
              name: My AP
              networkId: N_24329156
              notes: My AP's note
              serial: Q234-ABCD-5678
              tags:
                - recently-added
          schema:
            type: object
      summary: Update the attributes of a device
      tags:
        - devices
        - configure
  "/devices/{serial}/appliance/dhcp/subnets":
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: getDeviceApplianceDhcpSubnets
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - freeCount: 251
                subnet: 192.168.1.0/24
                usedCount: 2
                vlanId: 100
          schema:
            type: object
      summary: Return the DHCP subnet information for an appliance
      tags:
        - appliance
        - monitor
        - dhcp
        - subnets
  "/devices/{serial}/appliance/performance":
    get:
      description: Return the performance score for a single MX. Only primary MX devices supported. If no data is available, a 204 error code is returned.
      operationId: getDeviceAppliancePerformance
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              perfScore: 10
          schema:
            type: object
      summary: Return the performance score for a single MX
      tags:
        - appliance
        - monitor
        - performance
  "/devices/{serial}/blinkLeds":
    post:
      description: Blink the LEDs on a device
      operationId: blinkDeviceLeds
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: blinkDeviceLeds
          schema:
            example:
              duration: 20
              duty: 50
              period: 160
            properties:
              duration:
                description: The duration in seconds. Must be between 5 and 120. Default is 20 seconds
                type: integer
              duty:
                description: The duty cycle as the percent active. Must be between 10 and 90. Default is 50.
                type: integer
              period:
                description: The period in milliseconds. Must be between 100 and 1000. Default is 160 milliseconds
                type: integer
            type: object
      responses:
        "202":
          description: Successful operation
          examples:
            application/json:
              duration: 20
              duty: 50
              period: 160
          schema:
            type: object
      summary: Blink the LEDs on a device
      tags:
        - devices
        - liveTools
  "/devices/{serial}/camera/analytics/live":
    get:
      description: Returns live state from camera of analytics zones
      operationId: getDeviceCameraAnalyticsLive
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              ts: 2018-08-15T18:32:38.123Z
              zones:
                "0":
                  person: 0
          schema:
            type: object
      summary: Returns live state from camera of analytics zones
      tags:
        - camera
        - monitor
        - analytics
        - live
  "/devices/{serial}/camera/analytics/overview":
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: getDeviceCameraAnalyticsOverview
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.
          format: float
          in: query
          name: timespan
          type: number
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          enum:
            - person
            - vehicle
          in: query
          name: objectType
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - averageCount: 5
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 254
                startTs: 2018-08-15T18:32:38.123Z
                zoneId: 0
          schema:
            type: object
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
        - camera
        - monitor
        - analytics
        - overview
  "/devices/{serial}/camera/analytics/recent":
    get:
      description: Returns most recent record for analytics zones
      operationId: getDeviceCameraAnalyticsRecent
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          enum:
            - person
            - vehicle
          in: query
          name: objectType
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - averageCount: 2.54
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 10
                startTs: 2018-08-15T18:32:38.123Z
                zoneId: 0
          schema:
            type: object
      summary: Returns most recent record for analytics zones
      tags:
        - camera
        - monitor
        - analytics
        - recent
  "/devices/{serial}/camera/analytics/zones":
    get:
      description: Returns all configured analytic zones for this camera
      operationId: getDeviceCameraAnalyticsZones
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - id: "0"
                label: Full Frame
                regionOfInterest:
                  x0: "0.00"
                  x1: "1.00"
                  y0: "0.00"
                  y1: "1.00"
                type: occupancy
          schema:
            type: object
      summary: Returns all configured analytic zones for this camera
      tags:
        - camera
        - monitor
        - analytics
        - zones
  "/devices/{serial}/camera/analytics/zones/{zoneId}/history":
    get:
      description: Return historical records for analytic zones
      operationId: getDeviceCameraAnalyticsZoneHistory
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: zoneId
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.
          format: float
          in: query
          name: timespan
          type: number
        - description: "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          in: query
          name: resolution
          type: integer
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          enum:
            - person
            - vehicle
          in: query
          name: objectType
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - averageCount: 1.5
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 5
                startTs: 2018-08-15T18:32:38.123Z
          schema:
            type: object
      summary: Return historical records for analytic zones
      tags:
        - camera
        - monitor
        - analytics
        - zones
        - history
  "/devices/{serial}/camera/generateSnapshot":
    post:
      description: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      operationId: generateDeviceCameraSnapshot
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: generateDeviceCameraSnapshot
          schema:
            example: {}
            properties:
              fullframe:
                description: '[optional] If set to "true" the snapshot will be taken at full sensor resolution. This will error if used with timestamp.'
                type: boolean
              timestamp:
                description: "[optional] The snapshot will be taken from this time on the camera. The timestamp is expected to be in ISO 8601 format. If no timestamp is specified, we will assume current time."
                format: date-time
                type: string
            type: object
      responses:
        "202":
          description: Successful operation
          examples:
            application/json:
              expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
              url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
          schema:
            type: object
      summary: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      tags:
        - camera
        - monitor
  "/devices/{serial}/camera/qualityAndRetention":
    get:
      description: Returns quality and retention settings for the given camera
      operationId: getDeviceCameraQualityAndRetention
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              profileId: null
              quality: Standard
              resolution: 720
              restrictedBandwidthModeEnabled: false
          schema:
            type: object
      summary: Returns quality and retention settings for the given camera
      tags:
        - camera
        - configure
        - qualityAndRetention
    put:
      description: Update quality and retention settings for the given camera
      operationId: updateDeviceCameraQualityAndRetention
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCameraQualityAndRetention
          schema:
            example:
              audioRecordingEnabled: false
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              profileId: null
              quality: Standard
              resolution: 720
              restrictedBandwidthModeEnabled: false
            properties:
              audioRecordingEnabled:
                description: Boolean indicating if audio recording is enabled(true) or disabled(false) on the camera
                type: boolean
              motionBasedRetentionEnabled:
                description: Boolean indicating if motion-based retention is enabled(true) or disabled(false) on the camera.
                type: boolean
              motionDetectorVersion:
                description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                enum:
                  - 1
                  - 2
                type: integer
              profileId:
                description: The ID of a quality and retention profile to assign to the camera. The profile's settings will override all of the per-camera quality and retention settings. If the value of this parameter is null, any existing profile will be unassigned from the camera.
                type: string
              quality:
                description: Quality of the camera. Can be one of 'Standard', 'High' or 'Enhanced'. Not all qualities are supported by every camera model.
                enum:
                  - Standard
                  - High
                  - Enhanced
                type: string
              resolution:
                description: Resolution of the camera. Can be one of '1280x720', '1920x1080', '1080x1080' or '2058x2058'. Not all resolutions are supported by every camera model.
                enum:
                  - 1280x720
                  - 1920x1080
                  - 1080x1080
                  - 2058x2058
                type: string
              restrictedBandwidthModeEnabled:
                description: Boolean indicating if restricted bandwidth is enabled(true) or disabled(false) on the camera
                type: boolean
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioRecordingEnabled: false
              motionBasedRetentionEnabled: false
              motionDetectorVersion: 2
              profileId: null
              quality: Standard
              resolution: 720
              restrictedBandwidthModeEnabled: false
          schema:
            type: object
      summary: Update quality and retention settings for the given camera
      tags:
        - camera
        - configure
        - qualityAndRetention
  "/devices/{serial}/camera/sense":
    get:
      description: Returns sense settings for a given camera
      operationId: getDeviceCameraSense
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioDetection:
                enabled: false
              mqttBrokerId: "1234"
              mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
              senseEnabled: true
          schema:
            type: object
      summary: Returns sense settings for a given camera
      tags:
        - camera
        - configure
        - sense
    put:
      description: Update sense settings for the given camera
      operationId: updateDeviceCameraSense
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCameraSense
          schema:
            example:
              audioDetection:
                enabled: false
              mqttBrokerId: "1234"
              senseEnabled: true
            properties:
              detectionModelId:
                description: The ID of the object detection model
                type: string
              mqttBrokerId:
                description: The ID of the MQTT broker to be enabled on the camera. A value of null will disable MQTT on the camera
                type: string
              senseEnabled:
                description: Boolean indicating if sense(license) is enabled(true) or disabled(false) on the camera
                type: boolean
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              audioDetection:
                enabled: false
              mqttBrokerId: "1234"
              mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
              senseEnabled: true
          schema:
            type: object
      summary: Update sense settings for the given camera
      tags:
        - camera
        - configure
        - sense
  "/devices/{serial}/camera/sense/objectDetectionModels":
    get:
      description: Returns the MV Sense object detection model list for the given camera
      operationId: getDeviceCameraSenseObjectDetectionModels
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - description: Model A
                id: "0"
          schema:
            type: object
      summary: Returns the MV Sense object detection model list for the given camera
      tags:
        - camera
        - configure
        - sense
        - objectDetectionModels
  "/devices/{serial}/camera/video/settings":
    get:
      description: Returns video settings for the given camera
      operationId: getDeviceCameraVideoSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              externalRtspEnabled: true
              rtspUrl: rtsp://10.0.0.1:9000/live
          schema:
            type: object
      summary: Returns video settings for the given camera
      tags:
        - camera
        - configure
        - video
        - settings
    put:
      description: Update video settings for the given camera
      operationId: updateDeviceCameraVideoSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCameraVideoSettings
          schema:
            example:
              externalRtspEnabled: true
            properties:
              externalRtspEnabled:
                description: Boolean indicating if external rtsp stream is exposed
                type: boolean
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              externalRtspEnabled: true
              rtspUrl: rtsp://10.0.0.1:9000/live
          schema:
            type: object
      summary: Update video settings for the given camera
      tags:
        - camera
        - configure
        - video
        - settings
  "/devices/{serial}/camera/videoLink":
    get:
      description: Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.
      operationId: getDeviceCameraVideoLink
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: "[optional] The video link will start at this time. The timestamp should be a string in ISO8601 format. If no timestamp is specified, we will assume current time."
          format: date-time
          in: query
          name: timestamp
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
          schema:
            type: object
      summary: Returns video link to the specified camera
      tags:
        - camera
        - configure
        - videoLink
  "/devices/{serial}/cellularGateway/lan":
    get:
      description: Show the LAN Settings of a MG
      operationId: getDeviceCellularGatewayLan
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              deviceLanIp: 192.168.0.33
              deviceName: name of the MG
              deviceSubnet: 192.168.0.32/27
              fixedIpAssignments:
                - ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                  name: server 1
                - ip: 192.168.0.20
                  mac: 0b:00:00:00:00:ab
                  name: server 2
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.1
                  start: 192.168.1.0
          schema:
            type: object
      summary: Show the LAN Settings of a MG
      tags:
        - cellularGateway
        - configure
        - lan
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewayLan
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCellularGatewayLan
          schema:
            example:
              deviceLanIp: 192.168.0.33
              deviceName: name of the MG
              deviceSubnet: 192.168.0.32/27
              fixedIpAssignments:
                - ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                  name: server 1
                - ip: 192.168.0.20
                  mac: 0b:00:00:00:00:ab
                  name: server 2
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.1
                  start: 192.168.1.0
            properties:
              fixedIpAssignments:
                description: list of all fixed IP assignments for a single MG
                items:
                  properties:
                    ip:
                      description: The IP address you want to assign to a specific server or device
                      type: string
                    mac:
                      description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                      type: string
                    name:
                      description: A descriptive name of the assignment
                      type: string
                  required:
                    - ip
                    - mac
                  type: object
                type: array
              reservedIpRanges:
                description: list of all reserved IP ranges for a single MG
                items:
                  properties:
                    comment:
                      description: Comment explaining the reserved IP range
                      type: string
                    end:
                      description: Ending IP included in the reserved range of IPs
                      type: string
                    start:
                      description: Starting IP included in the reserved range of IPs
                      type: string
                  required:
                    - start
                    - end
                    - comment
                  type: object
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              deviceLanIp: 192.168.0.33
              deviceName: name of the MG
              deviceSubnet: 192.168.0.32/27
              fixedIpAssignments:
                - ip: 192.168.0.10
                  mac: 0b:00:00:00:00:ac
                  name: server 1
                - ip: 192.168.0.20
                  mac: 0b:00:00:00:00:ab
                  name: server 2
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.1
                  start: 192.168.1.0
          schema:
            type: object
      summary: Update the LAN Settings for a single MG.
      tags:
        - cellularGateway
        - configure
        - lan
  "/devices/{serial}/cellularGateway/portForwardingRules":
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewayPortForwardingRules
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              rules:
                - access: any
                  lanIp: 172.31.128.5
                  localPort: "4"
                  name: test
                  protocol: tcp
                  publicPort: 11-12
                  uplink: both
                - access: restricted
                  allowedIps:
                    - 10.10.10.10
                    - 10.10.10.11
                  lanIp: 172.31.128.5
                  localPort: "5"
                  name: test 2
                  protocol: tcp
                  publicPort: "99"
                  uplink: both
          schema:
            type: object
      summary: Returns the port forwarding rules for a single MG.
      tags:
        - cellularGateway
        - configure
        - portForwardingRules
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewayPortForwardingRules
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceCellularGatewayPortForwardingRules
          schema:
            example:
              rules:
                - access: any
                  lanIp: 172.31.128.5
                  localPort: "4"
                  name: test
                  protocol: tcp
                  publicPort: 11-12
                  uplink: both
                - access: restricted
                  allowedIps:
                    - 10.10.10.10
                    - 10.10.10.11
                  lanIp: 172.31.128.5
                  localPort: "5"
                  name: test 2
                  protocol: tcp
                  publicPort: "99"
                  uplink: both
            properties:
              rules:
                description: An array of port forwarding params
                items:
                  properties:
                    access:
                      description: "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
                      type: string
                    allowedIps:
                      description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                      items:
                        type: string
                      type: array
                    lanIp:
                      description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                      type: string
                    localPort:
                      description: A port or port ranges that will receive the forwarded traffic from the WAN
                      type: string
                    name:
                      description: A descriptive name for the rule
                      type: string
                    protocol:
                      description: TCP or UDP
                      type: string
                    publicPort:
                      description: A port or port ranges that will be forwarded to the host on the LAN
                      type: string
                  required:
                    - lanIp
                    - publicPort
                    - localPort
                    - protocol
                    - access
                  type: object
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              rules:
                - access: any
                  lanIp: 172.31.128.5
                  localPort: "4"
                  name: test
                  protocol: tcp
                  publicPort: 11-12
                  uplink: both
                - access: restricted
                  allowedIps:
                    - 10.10.10.10
                    - 10.10.10.11
                  lanIp: 172.31.128.5
                  localPort: "5"
                  name: test 2
                  protocol: tcp
                  publicPort: "99"
                  uplink: both
          schema:
            type: object
      summary: Updates the port forwarding rules for a single MG.
      tags:
        - cellularGateway
        - configure
        - portForwardingRules
  "/devices/{serial}/clients":
    get:
      description: List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.
      operationId: getDeviceClients
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - description: Miles's phone
                dhcpHostname: MilesPhone
                id: k74272e
                ip: 1.2.3.4
                mac: 22:33:44:55:66:77
                mdnsName: Miles's phone
                switchport: null
                usage:
                  recv: 61
                  sent: 138
                user: milesmeraki
                vlan: 255
          schema:
            type: object
      summary: List the clients of a device, up to a maximum of a month ago
      tags:
        - devices
        - monitor
        - clients
  "/devices/{serial}/lldpCdp":
    get:
      description: List LLDP and CDP information for a device
      operationId: getDeviceLldpCdp
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              ports:
                "8":
                  cdp:
                    address: 00:11:22:33:44:55
                    deviceId: e0553d8cdf53
                    portId: Port 10
                    sourcePort: "8"
                "12":
                  cdp:
                    address: 00:11:22:33:44:55
                    deviceId: e0553d8cdf53
                    portId: Port 11
                    sourcePort: "12"
                  lldp:
                    managementAddress: 00:11:22:33:44:55
                    portId: "11"
                    sourcePort: "12"
                    systemName: Meraki MS350-24X - Phineas
              sourceMac: 00:11:22:33:44:55
          schema:
            type: object
      summary: List LLDP and CDP information for a device
      tags:
        - devices
        - monitor
        - lldpCdp
  "/devices/{serial}/lossAndLatencyHistory":
    get:
      description: Get the uplink loss percentage and latency in milliseconds for a wired network device.
      operationId: getDeviceLossAndLatencyHistory
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
        - description: "The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60."
          in: query
          name: resolution
          type: integer
        - description: The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.
          enum:
            - wan1
            - wan2
            - cellular
          in: query
          name: uplink
          type: string
        - description: The destination IP used to obtain the requested stats. This is required.
          in: query
          name: ip
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - endTime: 2018-10-09T22:19:27Z
                latencyMs: 324
                lossPercent: 5
                startTime: 2018-10-09T22:18:27Z
              - endTime: 2018-10-09T22:20:27Z
                latencyMs: 43
                lossPercent: 1
                startTime: 2018-10-09T22:19:27Z
              - endTime: 2018-10-09T22:21:27Z
                latencyMs: 44
                lossPercent: 0
                startTime: 2018-10-09T22:20:27Z
          schema:
            type: object
      summary: Get the uplink loss percentage and latency in milliseconds for a wired network device.
      tags:
        - devices
        - monitor
        - lossAndLatencyHistory
  "/devices/{serial}/managementInterface":
    get:
      description: Return the management interface settings for a device
      operationId: getDeviceManagementInterface
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              ddnsHostnames:
                activeDdnsHostname: mx1-sample.dynamic-m.com
                ddnsHostnameWan1: mx1-sample-1.dynamic-m.com
                ddnsHostnameWan2: mx1-sample-2.dynamic-m.com
              wan1:
                staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                staticGatewayIp: 1.2.3.1
                staticIp: 1.2.3.4
                staticSubnetMask: 255.255.255.0
                usingStaticIp: true
                vlan: 7
                wanEnabled: not configured
              wan2:
                usingStaticIp: false
                vlan: 2
                wanEnabled: enabled
          schema:
            type: object
      summary: Return the management interface settings for a device
      tags:
        - devices
        - configure
        - managementInterface
    put:
      description: Update the management interface settings for a device
      operationId: updateDeviceManagementInterface
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceManagementInterface
          schema:
            example:
              wan1:
                staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                staticGatewayIp: 1.2.3.1
                staticIp: 1.2.3.4
                staticSubnetMask: 255.255.255.0
                usingStaticIp: true
                vlan: 7
                wanEnabled: not configured
              wan2:
                usingStaticIp: false
                vlan: 2
                wanEnabled: enabled
            properties:
              wan1:
                description: WAN 1 settings
                properties:
                  staticDns:
                    description: Up to two DNS IPs.
                    items:
                      type: string
                    type: array
                  staticGatewayIp:
                    description: The IP of the gateway on the WAN.
                    type: string
                  staticIp:
                    description: The IP the device should use on the WAN.
                    type: string
                  staticSubnetMask:
                    description: The subnet mask for the WAN.
                    type: string
                  usingStaticIp:
                    description: Configue the interface to have static IP settings or use DHCP.
                    type: boolean
                  vlan:
                    description: The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false.
                    type: integer
                  wanEnabled:
                    description: Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'.
                    enum:
                      - enabled
                      - disabled
                      - not configured
                    type: string
                type: object
              wan2:
                description: WAN 2 settings (only for MX devices)
                properties:
                  staticDns:
                    description: Up to two DNS IPs.
                    items:
                      type: string
                    type: array
                  staticGatewayIp:
                    description: The IP of the gateway on the WAN.
                    type: string
                  staticIp:
                    description: The IP the device should use on the WAN.
                    type: string
                  staticSubnetMask:
                    description: The subnet mask for the WAN.
                    type: string
                  usingStaticIp:
                    description: Configue the interface to have static IP settings or use DHCP.
                    type: boolean
                  vlan:
                    description: The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false.
                    type: integer
                  wanEnabled:
                    description: Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'.
                    enum:
                      - enabled
                      - disabled
                      - not configured
                    type: string
                type: object
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              wan1:
                staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                staticGatewayIp: 1.2.3.1
                staticIp: 1.2.3.4
                staticSubnetMask: 255.255.255.0
                usingStaticIp: true
                vlan: 7
                wanEnabled: not configured
              wan2:
                usingStaticIp: false
                vlan: 2
                wanEnabled: enabled
          schema:
            type: object
      summary: Update the management interface settings for a device
      tags:
        - devices
        - configure
        - managementInterface
  "/devices/{serial}/reboot":
    post:
      description: Reboot a device
      operationId: rebootDevice
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "202":
          description: Successful operation
          examples:
            application/json:
              success: true
          schema:
            type: object
      summary: Reboot a device
      tags:
        - devices
        - liveTools
  "/devices/{serial}/switch/ports":
    get:
      description: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - accessPolicyType: Sticky MAC allow list
                enabled: true
                isolationEnabled: false
                linkNegotiation: Auto negotiate
                name: My switch port
                poeEnabled: true
                portId: "1"
                portScheduleId: "1234"
                rstpEnabled: true
                stickyMacAllowList:
                  - 34:56:fe:ce:8e:b0
                  - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                stpGuard: disabled
                tags:
                  - tag1
                  - tag2
                type: access
                udld: Alert only
                vlan: 10
                voiceVlan: 20
          schema:
            type: object
      summary: List the switch ports for a switch
      tags:
        - switch
        - configure
        - ports
  "/devices/{serial}/switch/ports/cycle":
    post:
      description: Cycle a set of switch ports
      operationId: cycleDeviceSwitchPorts
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: cycleDeviceSwitchPorts
          required: true
          schema:
            example:
              ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
            properties:
              ports:
                description: "List of switch ports. Example: [1, 2-5, 1_MA-MOD-8X10G_1, 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8]"
                items:
                  type: string
                type: array
            required:
              - ports
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
          schema:
            type: object
      summary: Cycle a set of switch ports
      tags:
        - switch
        - liveTools
        - ports
  "/devices/{serial}/switch/ports/statuses":
    get:
      description: Return the status for all the ports of a switch
      operationId: getDeviceSwitchPortsStatuses
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - cdp:
                  address: 10.0,0.1
                  capabilities: Switch
                  deviceId: 0c8ddbddee:ff
                  managementAddress: 10.0.0.100
                  nativeVlan: 1
                  platform: MS350-24X
                  portId: Port 20
                  systemName: ""
                  version: "1"
                  vtpManagementDomain: ""
                clientCount: 10
                duplex: full
                enabled: true
                errors:
                  - PoE overload
                  - Very high proportion of CRC errors
                lldp:
                  chassisId: 0c:8d:db:dd:ee:ff
                  managementAddress: 10.0.0.100
                  managementVlan: 1
                  portDescription: Port 20
                  portId: "20"
                  portVlan: 1
                  systemCapabilities: switch
                  systemDescription: MS350-24X Cloud Managed PoE Switch
                  systemName: MS350-24X - Test
                portId: "1"
                powerUsageInWh: 55.9
                speed: 10 Gbps
                status: Connected
                trafficInKbps:
                  recv: 1
                  sent: 1.2
                  total: 2.2
                usageInKb:
                  recv: 17859
                  sent: 23008
                  total: 40867
                warnings:
                  - PoE port was denied power
                  - High proportion of CRC errors
          schema:
            type: object
      summary: Return the status for all the ports of a switch
      tags:
        - switch
        - monitor
        - ports
        - statuses
  "/devices/{serial}/switch/ports/statuses/packets":
    get:
      description: Return the packet counters for all the ports of a switch
      operationId: getDeviceSwitchPortsStatusesPackets
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 1 day from today.
          in: query
          name: t0
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 1 day. The default is 1 day.
          format: float
          in: query
          name: timespan
          type: number
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - packets:
                  - desc: Total
                    ratePerSec:
                      recv: 0
                      sent: 1
                      total: 1
                    recv: 7946
                    sent: 104135
                    total: 112081
                  - desc: Broadcast
                    ratePerSec:
                      recv: 0
                      sent: 0
                      total: 0
                    recv: 514
                    sent: 30370
                    total: 30884
                  - desc: Multicast
                    ratePerSec:
                      recv: 0
                      sent: 0
                      total: 0
                    recv: 771
                    sent: 66849
                    total: 67620
                  - desc: CRC align errors
                    ratePerSec:
                      recv: 0
                      sent: 0
                      total: 0
                    recv: 0
                    sent: 0
                    total: 0
                portId: "1"
          schema:
            type: object
      summary: Return the packet counters for all the ports of a switch
      tags:
        - switch
        - monitor
        - ports
        - statuses
        - packets
  "/devices/{serial}/switch/ports/{portId}":
    get:
      description: Return a switch port
      operationId: getDeviceSwitchPort
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: portId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              accessPolicyType: Sticky MAC allow list
              enabled: true
              isolationEnabled: false
              linkNegotiation: Auto negotiate
              name: My switch port
              poeEnabled: true
              portId: "1"
              portScheduleId: "1234"
              rstpEnabled: true
              stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
              stickyMacAllowListLimit: 5
              stormControlEnabled: true
              stpGuard: disabled
              tags:
                - tag1
                - tag2
              type: access
              udld: Alert only
              vlan: 10
              voiceVlan: 20
          schema:
            type: object
      summary: Return a switch port
      tags:
        - switch
        - configure
        - ports
    put:
      description: Update a switch port
      operationId: updateDeviceSwitchPort
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: portId
          required: true
          type: string
        - in: body
          name: updateDeviceSwitchPort
          schema:
            example:
              accessPolicyType: Sticky MAC allow list
              enabled: true
              isolationEnabled: false
              linkNegotiation: Auto negotiate
              name: My switch port
              poeEnabled: true
              portScheduleId: "1234"
              rstpEnabled: true
              stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
              stickyMacAllowListLimit: 5
              stormControlEnabled: true
              stpGuard: disabled
              tags:
                - tag1
                - tag2
              type: access
              udld: Alert only
              vlan: 10
              voiceVlan: 20
            properties:
              accessPolicyNumber:
                description: The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'
                type: integer
              accessPolicyType:
                description: The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'
                enum:
                  - Open
                  - Custom access policy
                  - MAC allow list
                  - Sticky MAC allow list
                type: string
              allowedVlans:
                description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                type: string
              enabled:
                description: The status of the switch port
                type: boolean
              flexibleStackingEnabled:
                description: For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled.
                type: boolean
              isolationEnabled:
                description: The isolation status of the switch port
                type: boolean
              linkNegotiation:
                description: The link speed for the switch port
                type: string
              macAllowList:
                description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'
                items:
                  type: string
                type: array
              name:
                description: The name of the switch port
                type: string
              poeEnabled:
                description: The PoE status of the switch port
                type: boolean
              portScheduleId:
                description: The ID of the port schedule. A value of null will clear the port schedule.
                type: string
              rstpEnabled:
                description: The rapid spanning tree protocol status
                type: boolean
              stickyMacAllowList:
                description: The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'
                items:
                  type: string
                type: array
              stickyMacAllowListLimit:
                description: The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'
                type: integer
              stormControlEnabled:
                description: The storm control status of the switch port
                type: boolean
              stpGuard:
                description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard')
                enum:
                  - disabled
                  - root guard
                  - bpdu guard
                  - loop guard
                type: string
              tags:
                description: The list of tags of the switch port
                items:
                  type: string
                type: array
              type:
                description: The type of the switch port ('trunk' or 'access')
                enum:
                  - trunk
                  - access
                type: string
              udld:
                description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                enum:
                  - Alert only
                  - Enforce
                type: string
              vlan:
                description: The VLAN of the switch port. A null value will clear the value set for trunk ports.
                type: integer
              voiceVlan:
                description: The voice VLAN of the switch port. Only applicable to access ports.
                type: integer
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              accessPolicyType: Sticky MAC allow list
              enabled: true
              isolationEnabled: false
              linkNegotiation: Auto negotiate
              name: My switch port
              poeEnabled: true
              portId: "1"
              portScheduleId: "1234"
              rstpEnabled: true
              stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
              stickyMacAllowListLimit: 5
              stormControlEnabled: true
              stpGuard: disabled
              tags:
                - tag1
                - tag2
              type: access
              udld: Alert only
              vlan: 10
              voiceVlan: 20
          schema:
            type: object
      summary: Update a switch port
      tags:
        - switch
        - configure
        - ports
  "/devices/{serial}/switch/routing/interfaces":
    get:
      description: List layer 3 interfaces for a switch
      operationId: getDeviceSwitchRoutingInterfaces
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - defaultGateway: 192.168.1.1
                interfaceId: "1234"
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                name: L3 interface
                ospfSettings:
                  area: "0"
                  cost: 1
                  isPassiveEnabled: true
                subnet: 192.168.1.0/24
                vlanId: 100
          schema:
            type: object
      summary: List layer 3 interfaces for a switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
    post:
      description: Create a layer 3 interface for a switch
      operationId: createDeviceSwitchRoutingInterface
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: createDeviceSwitchRoutingInterface
          required: true
          schema:
            example:
              defaultGateway: 192.168.1.1
              interfaceIp: 192.168.1.2
              multicastRouting: disabled
              name: L3 interface
              ospfSettings:
                area: "0"
                cost: 1
                isPassiveEnabled: true
              subnet: 192.168.1.0/24
              vlanId: 100
            properties:
              defaultGateway:
                description: The next hop for any traffic that isn't going to a directly connected subnet or over a static route. This IP address must exist in a subnet with a routed interface.
                type: string
              interfaceIp:
                description: The IP address this switch will use for layer 3 routing on this VLAN or subnet. This cannot be the same as the switch's management IP.
                type: string
              multicastRouting:
                description: Enable multicast support if, multicast routing between VLANs is required. Options are, 'disabled', 'enabled' or 'IGMP snooping querier'. Default is 'disabled'.
                enum:
                  - disabled
                  - enabled
                  - IGMP snooping querier
                type: string
              name:
                description: A friendly name or description for the interface or VLAN.
                type: string
              ospfSettings:
                description: The OSPF routing settings of the interface.
                properties:
                  area:
                    description: The OSPF area to which this interface should belong. Can be either 'disabled' or the identifier of an existing OSPF area. Defaults to 'disabled'.
                    type: string
                  cost:
                    description: The path cost for this interface. Defaults to 1, but can be increased up to 65535 to give lower priority.
                    type: integer
                  isPassiveEnabled:
                    description: When enabled, OSPF will not run on the interface, but the subnet will still be advertised.
                    type: boolean
                type: object
              subnet:
                description: The network that this routed interface is on, in CIDR notation (ex. 10.1.1.0/24).
                type: string
              vlanId:
                description: The VLAN this routed interface is on. VLAN must be between 1 and 4094.
                type: integer
            required:
              - name
              - interfaceIp
              - vlanId
            type: object
      responses:
        "201":
          description: Successful operation
          examples:
            application/json:
              defaultGateway: 192.168.1.1
              interfaceId: "1234"
              interfaceIp: 192.168.1.2
              multicastRouting: disabled
              name: L3 interface
              ospfSettings:
                area: "0"
                cost: 1
                isPassiveEnabled: true
              subnet: 192.168.1.0/24
              vlanId: 100
          schema:
            type: object
      summary: Create a layer 3 interface for a switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
  "/devices/{serial}/switch/routing/interfaces/{interfaceId}":
    delete:
      description: Delete a layer 3 interface from the switch
      operationId: deleteDeviceSwitchRoutingInterface
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: interfaceId
          required: true
          type: string
      responses:
        "204":
          description: Successful operation
      summary: Delete a layer 3 interface from the switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
    get:
      description: Return a layer 3 interface for a switch
      operationId: getDeviceSwitchRoutingInterface
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: interfaceId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              defaultGateway: 192.168.1.1
              interfaceId: "1234"
              interfaceIp: 192.168.1.2
              multicastRouting: disabled
              name: L3 interface
              ospfSettings:
                area: "0"
                cost: 1
                isPassiveEnabled: true
              subnet: 192.168.1.0/24
              vlanId: 100
          schema:
            type: object
      summary: Return a layer 3 interface for a switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
    put:
      description: Update a layer 3 interface for a switch
      operationId: updateDeviceSwitchRoutingInterface
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: interfaceId
          required: true
          type: string
        - in: body
          name: updateDeviceSwitchRoutingInterface
          schema:
            example:
              interfaceIp: 192.168.1.2
              multicastRouting: disabled
              name: L3 interface
              ospfSettings:
                area: "0"
                cost: 1
                isPassiveEnabled: true
              subnet: 192.168.1.0/24
              vlanId: 100
            properties:
              interfaceIp:
                description: The IP address this switch will use for layer 3 routing on this VLAN or subnet. This cannot be the same as the switch's management IP.
                type: string
              multicastRouting:
                description: Enable multicast support if, multicast routing between VLANs is required. Options are, 'disabled', 'enabled' or 'IGMP snooping querier'.
                enum:
                  - disabled
                  - enabled
                  - IGMP snooping querier
                type: string
              name:
                description: A friendly name or description for the interface or VLAN.
                type: string
              ospfSettings:
                description: The OSPF routing settings of the interface.
                properties:
                  area:
                    description: The OSPF area to which this interface should belong. Can be either 'disabled' or the identifier of an existing OSPF area.
                    type: string
                  cost:
                    description: The path cost for this interface. Defaults to 1, but can be increased up to 65535 to give lower priority.
                    type: integer
                  isPassiveEnabled:
                    description: When enabled, OSPF will not run on the interface, but the subnet will still be advertised.
                    type: boolean
                type: object
              subnet:
                description: The network that this routed interface is on, in CIDR notation (ex. 10.1.1.0/24).
                type: string
              vlanId:
                description: The VLAN this routed interface is on. VLAN must be between 1 and 4094.
                type: integer
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              interfaceId: "1234"
              interfaceIp: 192.168.1.2
              multicastRouting: disabled
              name: L3 interface
              ospfSettings:
                area: "0"
                cost: 1
                isPassiveEnabled: true
              subnet: 192.168.1.0/24
              vlanId: 100
          schema:
            type: object
      summary: Update a layer 3 interface for a switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
  "/devices/{serial}/switch/routing/interfaces/{interfaceId}/dhcp":
    get:
      description: Return a layer 3 interface DHCP configuration for a switch
      operationId: getDeviceSwitchRoutingInterfaceDhcp
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: interfaceId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              bootFileName: home_boot_file
              bootNextServer: 1.2.3.4
              bootOptionsEnabled: true
              dhcpLeaseTime: 1 day
              dhcpMode: dhcpServer
              dhcpOptions:
                - code: "5"
                  type: text
                  value: five
              dnsCustomNameservers:
                - 8.8.8.8, 8.8.4.4
              dnsNameserversOption: custom
              fixedIpAssignments:
                - ip: 192.168.1.12
                  mac: 22:33:44:55:66:77
                  name: Cisco Meraki valued client
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.10
                  start: 192.168.1.1
          schema:
            type: object
      summary: Return a layer 3 interface DHCP configuration for a switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
        - dhcp
    put:
      description: Update a layer 3 interface DHCP configuration for a switch
      operationId: updateDeviceSwitchRoutingInterfaceDhcp
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: interfaceId
          required: true
          type: string
        - in: body
          name: updateDeviceSwitchRoutingInterfaceDhcp
          schema:
            example:
              bootFileName: home_boot_file
              bootNextServer: 1.2.3.4
              bootOptionsEnabled: true
              dhcpLeaseTime: 1 day
              dhcpMode: dhcpServer
              dhcpOptions:
                - code: "5"
                  type: text
                  value: five
              dnsCustomNameservers:
                - 8.8.8.8, 8.8.4.4
              dnsNameserversOption: custom
              fixedIpAssignments:
                - ip: 192.168.1.12
                  mac: 22:33:44:55:66:77
                  name: Cisco Meraki valued client
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.10
                  start: 192.168.1.1
            properties:
              bootFileName:
                description: The PXE boot server filename for the DHCP server running on the switch interface
                type: string
              bootNextServer:
                description: The PXE boot server IP for the DHCP server running on the switch interface
                type: string
              bootOptionsEnabled:
                description: Enable DHCP boot options to provide PXE boot options configs for the dhcp server running on the switch interface
                type: boolean
              dhcpLeaseTime:
                description: The DHCP lease time config for the dhcp server running on switch interface ('30 minutes', '1 hour', '4 hours', '12 hours', '1 day' or '1 week')
                enum:
                  - 30 minutes
                  - 1 hour
                  - 4 hours
                  - 12 hours
                  - 1 day
                  - 1 week
                type: string
              dhcpMode:
                description: The DHCP mode options for the switch interface ('dhcpDisabled', 'dhcpRelay' or 'dhcpServer')
                enum:
                  - dhcpDisabled
                  - dhcpRelay
                  - dhcpServer
                type: string
              dhcpOptions:
                description: Array of DHCP options consisting of code, type and value for the DHCP server running on the switch interface
                items:
                  properties:
                    code:
                      description: The code for DHCP option which should be from 2 to 254
                      type: string
                    type:
                      description: The type of the DHCP option which should be one of ('text', 'ip', 'integer' or 'hex')
                      enum:
                        - text
                        - ip
                        - integer
                        - hex
                      type: string
                    value:
                      description: The value of the DHCP option
                      type: string
                  required:
                    - code
                    - type
                    - value
                  type: object
                type: array
              dhcpRelayServerIps:
                description: The DHCP relay server IPs to which DHCP packets would get relayed for the switch interface
                items:
                  type: string
                type: array
              dnsCustomNameservers:
                description: The DHCP name server IPs when DHCP name server option is 'custom'
                items:
                  type: string
                type: array
              dnsNameserversOption:
                description: The DHCP name server option for the dhcp server running on the switch interface ('googlePublicDns', 'openDns' or 'custom')
                enum:
                  - googlePublicDns
                  - openDns
                  - custom
                type: string
              fixedIpAssignments:
                description: Array of DHCP fixed IP assignments for the DHCP server running on the switch interface
                items:
                  properties:
                    ip:
                      description: The IP address of the client which has fixed IP address assigned to it
                      type: string
                    mac:
                      description: The MAC address of the client which has fixed IP address
                      type: string
                    name:
                      description: The name of the client which has fixed IP address
                      type: string
                  required:
                    - name
                    - mac
                    - ip
                  type: object
                type: array
              reservedIpRanges:
                description: Array of DHCP reserved IP assignments for the DHCP server running on the switch interface
                items:
                  properties:
                    comment:
                      description: The comment for the reserved IP range
                      type: string
                    end:
                      description: The ending IP address of the reserved IP range
                      type: string
                    start:
                      description: The starting IP address of the reserved IP range
                      type: string
                  required:
                    - start
                    - end
                  type: object
                type: array
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              bootFileName: home_boot_file
              bootNextServer: 1.2.3.4
              bootOptionsEnabled: true
              dhcpLeaseTime: 1 day
              dhcpMode: dhcpServer
              dhcpOptions:
                - code: "5"
                  type: text
                  value: five
              dnsCustomNameservers:
                - 8.8.8.8, 8.8.4.4
              dnsNameserversOption: custom
              fixedIpAssignments:
                - ip: 192.168.1.12
                  mac: 22:33:44:55:66:77
                  name: Cisco Meraki valued client
              reservedIpRanges:
                - comment: A reserved IP range
                  end: 192.168.1.10
                  start: 192.168.1.1
          schema:
            type: object
      summary: Update a layer 3 interface DHCP configuration for a switch
      tags:
        - switch
        - configure
        - routing
        - interfaces
        - dhcp
  "/devices/{serial}/switch/routing/staticRoutes":
    get:
      description: List layer 3 static routes for a switch
      operationId: getDeviceSwitchRoutingStaticRoutes
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              - advertiseViaOspfEnabled: false
                name: My route
                nextHopIp: 1.2.3.4
                preferOverOspfRoutesEnabled: false
                staticRouteId: "1234"
                subnet: 192.168.1.0/24
          schema:
            type: object
      summary: List layer 3 static routes for a switch
      tags:
        - switch
        - configure
        - routing
        - staticRoutes
    post:
      description: Create a layer 3 static route for a switch
      operationId: createDeviceSwitchRoutingStaticRoute
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: createDeviceSwitchRoutingStaticRoute
          required: true
          schema:
            example:
              advertiseViaOspfEnabled: false
              name: My route
              nextHopIp: 1.2.3.4
              preferOverOspfRoutesEnabled: false
              subnet: 192.168.1.0/24
            properties:
              advertiseViaOspfEnabled:
                description: Option to advertise static route via OSPF
                type: boolean
              name:
                description: Name or description for layer 3 static route
                type: string
              nextHopIp:
                description: IP address of the next hop device to which the device sends its traffic for the subnet
                type: string
              preferOverOspfRoutesEnabled:
                description: Option to prefer static route over OSPF routes
                type: boolean
              subnet:
                description: The subnet which is routed via this static route and should be specified in CIDR notation (ex. 1.2.3.0/24)
                type: string
            required:
              - subnet
              - nextHopIp
            type: object
      responses:
        "201":
          description: Successful operation
          examples:
            application/json:
              advertiseViaOspfEnabled: false
              name: My route
              nextHopIp: 1.2.3.4
              preferOverOspfRoutesEnabled: false
              staticRouteId: "1234"
              subnet: 192.168.1.0/24
          schema:
            type: object
      summary: Create a layer 3 static route for a switch
      tags:
        - switch
        - configure
        - routing
        - staticRoutes
  "/devices/{serial}/switch/routing/staticRoutes/{staticRouteId}":
    delete:
      description: Delete a layer 3 static route for a switch
      operationId: deleteDeviceSwitchRoutingStaticRoute
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: staticRouteId
          required: true
          type: string
      responses:
        "204":
          description: Successful operation
      summary: Delete a layer 3 static route for a switch
      tags:
        - switch
        - configure
        - routing
        - staticRoutes
    get:
      description: Return a layer 3 static route for a switch
      operationId: getDeviceSwitchRoutingStaticRoute
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: staticRouteId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              advertiseViaOspfEnabled: false
              name: My route
              nextHopIp: 1.2.3.4
              preferOverOspfRoutesEnabled: false
              staticRouteId: "1234"
              subnet: 192.168.1.0/24
          schema:
            type: object
      summary: Return a layer 3 static route for a switch
      tags:
        - switch
        - configure
        - routing
        - staticRoutes
    put:
      description: Update a layer 3 static route for a switch
      operationId: updateDeviceSwitchRoutingStaticRoute
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: path
          name: staticRouteId
          required: true
          type: string
        - in: body
          name: updateDeviceSwitchRoutingStaticRoute
          schema:
            example:
              advertiseViaOspfEnabled: false
              name: My route
              nextHopIp: 1.2.3.4
              preferOverOspfRoutesEnabled: false
              subnet: 192.168.1.0/24
            properties:
              advertiseViaOspfEnabled:
                description: Option to advertise static route via OSPF
                type: boolean
              name:
                description: Name or description for layer 3 static route
                type: string
              nextHopIp:
                description: IP address of the next hop device to which the device sends its traffic for the subnet
                type: string
              preferOverOspfRoutesEnabled:
                description: Option to prefer static route over OSPF routes
                type: boolean
              subnet:
                description: The subnet which is routed via this static route and should be specified in CIDR notation (ex. 1.2.3.0/24)
                type: string
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              advertiseViaOspfEnabled: false
              name: My route
              nextHopIp: 1.2.3.4
              preferOverOspfRoutesEnabled: false
              staticRouteId: "1234"
              subnet: 192.168.1.0/24
          schema:
            type: object
      summary: Update a layer 3 static route for a switch
      tags:
        - switch
        - configure
        - routing
        - staticRoutes
  "/devices/{serial}/switch/warmSpare":
    get:
      description: Return warm spare configuration for a switch
      operationId: getDeviceSwitchWarmSpare
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              enabled: true
              primarySerial: Q234-ABCD-0001
              spareSerial: Q234-ABCD-0002
          schema:
            type: object
      summary: Return warm spare configuration for a switch
      tags:
        - switch
        - configure
        - warmSpare
    put:
      description: Update warm spare configuration for a switch. The spare will use the same L3 configuration as the primary. Note that this will irreversibly destroy any existing L3 configuration on the spare.
      operationId: updateDeviceSwitchWarmSpare
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceSwitchWarmSpare
          required: true
          schema:
            example:
              enabled: true
              spareSerial: Q234-ABCD-0002
            properties:
              enabled:
                description: Enable or disable warm spare for a switch
                type: boolean
              spareSerial:
                description: Serial number of the warm spare switch
                type: string
            required:
              - enabled
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              enabled: true
              primarySerial: Q234-ABCD-0001
              spareSerial: Q234-ABCD-0002
          schema:
            type: object
      summary: Update warm spare configuration for a switch
      tags:
        - switch
        - configure
        - warmSpare
  "/devices/{serial}/wireless/bluetooth/settings":
    get:
      description: Return the bluetooth settings for a wireless device
      operationId: getDeviceWirelessBluetoothSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              major: 13
              minor: 125
              uuid: 00000000-0000-0000-000-000000000000
          schema:
            type: object
      summary: Return the bluetooth settings for a wireless device
      tags:
        - wireless
        - configure
        - bluetooth
        - settings
    put:
      description: Update the bluetooth settings for a wireless device
      operationId: updateDeviceWirelessBluetoothSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceWirelessBluetoothSettings
          schema:
            example:
              major: 13
              minor: 125
              uuid: 00000000-0000-0000-000-000000000000
            properties:
              major:
                description: Desired major value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                type: integer
              minor:
                description: Desired minor value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                type: integer
              uuid:
                description: Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                type: string
            type: object
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              major: 13
              minor: 125
              uuid: 00000000-0000-0000-000-000000000000
          schema:
            type: object
      summary: Update the bluetooth settings for a wireless device
      tags:
        - wireless
        - configure
        - bluetooth
        - settings
  "/devices/{serial}/wireless/connectionStats":
    get:
      description: Aggregated connectivity info for a given AP on this network
      operationId: getDeviceWirelessConnectionStats
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 180 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days.
          format: float
          in: query
          name: timespan
          type: number
        - description: Filter results by band (either '2.4' or '5'). Note that data prior to February 2020 will not have band information.
          enum:
            - "2.4"
            - "5"
          in: query
          name: band
          type: string
        - description: Filter results by SSID
          in: query
          name: ssid
          type: integer
        - description: Filter results by VLAN
          in: query
          name: vlan
          type: integer
        - description: Filter results by AP Tag
          in: query
          name: apTag
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              connectionStats:
                assoc: 0
                auth: 1
                dhcp: 0
                dns: 0
                success: 43
              serial: Q2JC-2MJM-FHRD
          schema:
            type: object
      summary: Aggregated connectivity info for a given AP on this network
      tags:
        - wireless
        - monitor
        - connectionStats
  "/devices/{serial}/wireless/latencyStats":
    get:
      description: Aggregated latency info for a given AP on this network
      operationId: getDeviceWirelessLatencyStats
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 180 days from today.
          in: query
          name: t0
          type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
          in: query
          name: t1
          type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days.
          format: float
          in: query
          name: timespan
          type: number
        - description: Filter results by band (either '2.4' or '5'). Note that data prior to February 2020 will not have band information.
          enum:
            - "2.4"
            - "5"
          in: query
          name: band
          type: string
        - description: Filter results by SSID
          in: query
          name: ssid
          type: integer
        - description: Filter results by VLAN
          in: query
          name: vlan
          type: integer
        - description: Filter results by AP Tag
          in: query
          name: apTag
          type: string
        - description: 'Partial selection: If present, this call will return only the selected fields of ["rawDistribution", "avg"]. All fields will be returned by default. Selected fields must be entered as a comma separated string.'
          in: query
          name: fields
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              latencyStats:
                backgroundTraffic:
                  avg: 606.52
                  rawDistribution:
                    "0": 1234
                    "1": 2345
                    "2": 3456
                    "4": 4567
                    "8": 5678
                    "16": 6789
                    "32": 7890
                    "64": 8901
                    "128": 9012
                    "256": 83
                    "512": 1234
                    "1024": 2345
                    "2048": 9999
                bestEffortTraffic: same shape as backgroundTraffic
                videoTraffic: same shape as backgroundTraffic
                voiceTraffic: same shape as backgroundTraffic
              serial: Q2JC-2MJM-FHRD
          schema:
            type: object
      summary: Aggregated latency info for a given AP on this network
      tags:
        - wireless
        - monitor
        - latencyStats
  "/devices/{serial}/wireless/radio/settings":
    get:
      description: Return the radio settings of a device
      operationId: getDeviceWirelessRadioSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          examples:
            application/json:
              fiveGhzSettings:
                channel: 149
                channelWidth: 20
                targetPower: 15
              rfProfileId: "1234"
              serial: Q234-ABCD-5678
              twoFourGhzSettings:
                channel: 11
                targetPower: 21
          schema:
            type: object
      summary: Return the radio settings of a device
      tags:
        - wireless
        - configure
        - radio
        - settings
    put:
      description: Update the radio settings of a device
      operationId: updateDeviceWirelessRadioSettings
      parameters:
        - in: path
          name: serial
          required: true
          type: string
        - in: body
          name: updateDeviceWirelessRadioSettings
          schema:
            example:
              fiveGhzSettings:
                channel: 149
                channelWidth: 20
[...]
