swagger: '2.0'
schemes:
  - https
host: batch.core.windows.net
info:
  description: A client for issuing REST requests to the Azure Batch service.
  title: BatchService
  version: 2016-07-01.3.1
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-ms-code-generation-settings:
    name: BatchServiceClient
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/batch/2016-07-01.3.1/swagger/BatchService.json'
    version: '2.0'
  x-preferred: true
  x-providerName: windows.net
  x-serviceName: batch
consumes:
  - application/json; odata=minimalmetadata
produces:
  - application/json
parameters:
  ApiVersionParameter:
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /applications:
    get:
      operationId: Application_List
      parameters:
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/ApplicationListResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Lists all of the applications available in the specified account.
      tags:
        - Applications
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  '/applications/{applicationId}':
    get:
      operationId: Application_Get
      parameters:
        - description: The id of the application.
          in: path
          name: applicationId
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/ApplicationSummary'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Gets information about the specified application.
      tags:
        - Applications
      x-ms-request-id: request-id
  /certificates:
    get:
      description: Lists all of the certificates that have been added to the specified account.
      operationId: Certificate_List
      parameters:
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Gets the list of certificates.
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CertificateListResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Certificates
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      operationId: Certificate_Add
      parameters:
        - description: The certificate to be added.
          in: body
          name: Certificate
          required: true
          schema:
            $ref: '#/definitions/CertificateAddParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Initial response
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Adds a certificate to the specified account.
      tags:
        - Certificates
      x-ms-request-id: request-id
  '/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})':
    delete:
      operationId: Certificate_Delete
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          type: string
        - description: The thumbprint of the certificate to be deleted.
          in: path
          name: thumbprint
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '202':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Deletes a certificate from the specified account.
      tags:
        - Certificates
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified certificate.
      operationId: Certificate_Get
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          type: string
        - description: The thumbprint of the certificate to get.
          in: path
          name: thumbprint
          required: true
          type: string
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/Certificate'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Certificates
      x-ms-request-id: request-id
  '/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete':
    post:
      operationId: Certificate_CancelDeletion
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          type: string
        - description: The thumbprint of the certificate being deleted.
          in: path
          name: thumbprint
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '204':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Cancels a failed deletion of a certificate from the specified account.
      tags:
        - Certificates
      x-ms-request-id: request-id
  /jobs:
    get:
      description: Lists all of the jobs in the specified account.
      operationId: Job_List
      parameters:
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CloudJobListResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Jobs
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      operationId: Job_Add
      parameters:
        - description: The job to be added.
          in: body
          name: Job
          required: true
          schema:
            $ref: '#/definitions/JobAddParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '201':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Adds a job to the specified account.
      tags:
        - Jobs
      x-ms-request-id: request-id
  '/jobs/{jobId}':
    delete:
      operationId: Job_Delete
      parameters:
        - description: The id of the job to delete.
          in: path
          name: jobId
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '202':
          description: ''
          headers:
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Deletes a job.
      tags:
        - Jobs
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified job.
      operationId: Job_Get
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CloudJob'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Jobs
      x-ms-request-id: request-id
    patch:
      description: Updates the properties of a job.
      operationId: Job_Patch
      parameters:
        - description: The id of the job whose properties you want to update.
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: jobPatchParameter
          required: true
          schema:
            $ref: '#/definitions/JobPatchParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Jobs
      x-ms-request-id: request-id
    put:
      description: Updates the properties of a job.
      operationId: Job_Update
      parameters:
        - description: The id of the job whose properties you want to update.
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: jobUpdateParameter
          required: true
          schema:
            $ref: '#/definitions/JobUpdateParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Jobs
      x-ms-request-id: request-id
  '/jobs/{jobId}/addtaskcollection':
    post:
      operationId: Task_AddCollection
      parameters:
        - description: The id of the job to which the task collection is to be added.
          in: path
          name: jobId
          required: true
          type: string
        - description: The tasks to be added.
          in: body
          name: taskCollection
          required: true
          schema:
            $ref: '#/definitions/TaskAddCollectionParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/TaskAddCollectionResult'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/BatchError'
      summary: Adds a collection of tasks to the specified job.
      tags:
        - Tasks
      x-ms-request-id: request-id
  '/jobs/{jobId}/disable':
    post:
      operationId: Job_Disable
      parameters:
        - description: The id of the job to disable.
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: jobDisableParameter
          required: true
          schema:
            $ref: '#/definitions/JobDisableParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '202':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: 'Disables the specified job, preventing new tasks from running.'
      tags:
        - Jobs
      x-ms-request-id: request-id
  '/jobs/{jobId}/enable':
    post:
      operationId: Job_Enable
      parameters:
        - description: The id of the job to enable.
          in: path
          name: jobId
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '202':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: 'Enables the specified job, allowing new tasks to run.'
      tags:
        - Jobs
      x-ms-request-id: request-id
  '/jobs/{jobId}/jobpreparationandreleasetaskstatus':
    get:
      operationId: Job_ListPreparationAndReleaseTaskStatus
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CloudJobListPreparationAndReleaseTaskStatusResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Lists the execution status of the Job Preparation and Job Release task for the specified job across the compute nodes where the job has run.
      tags:
        - Jobs
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  '/jobs/{jobId}/tasks':
    get:
      description: Lists all of the tasks that are associated with the specified job.
      operationId: Task_List
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CloudTaskListResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Tasks
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      operationId: Task_Add
      parameters:
        - description: The id of the job to which the task is to be added.
          in: path
          name: jobId
          required: true
          type: string
        - description: The task to be added.
          in: body
          name: task
          required: true
          schema:
            $ref: '#/definitions/TaskAddParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '201':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Adds a task to the specified job.
      tags:
        - Tasks
      x-ms-request-id: request-id
  '/jobs/{jobId}/tasks/{taskId}':
    delete:
      operationId: Task_Delete
      parameters:
        - description: The id of the job from which to delete the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task to delete.
          in: path
          name: taskId
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Deletes a task from the specified job.
      tags:
        - Tasks
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified task.
      operationId: Task_Get
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task to get information about.
          in: path
          name: taskId
          required: true
          type: string
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CloudTask'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Tasks
      x-ms-request-id: request-id
    put:
      description: Updates the properties of the specified task.
      operationId: Task_Update
      parameters:
        - description: The id of the job containing the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task to update.
          in: path
          name: taskId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: taskUpdateParameter
          required: true
          schema:
            $ref: '#/definitions/TaskUpdateParameter'
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Tasks
      x-ms-request-id: request-id
  '/jobs/{jobId}/tasks/{taskId}/files':
    get:
      operationId: File_ListFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task whose files you want to list.
          in: path
          name: taskId
          required: true
          type: string
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether to list children of a directory.
          in: query
          name: recursive
          required: false
          type: boolean
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/NodeFileListResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Lists the files in a task's directory on its compute node.
      tags:
        - Files
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  '/jobs/{jobId}/tasks/{taskId}/files/{fileName}':
    delete:
      operationId: File_DeleteFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task whose file you want to delete.
          in: path
          name: taskId
          required: true
          type: string
        - description: The path to the task file that you want to delete.
          in: path
          name: fileName
          required: true
          type: string
        - description: 'Whether to delete children of a directory. If the fileName parameter represents a directory instead of a file, you can set Recursive to true to delete the directory and all of the files and subdirectories in it. If Recursive is false then the directory must be empty or deletion will fail.'
          in: query
          name: recursive
          required: false
          type: boolean
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Deletes the specified task file from the compute node where the task ran.
      tags:
        - Files
      x-ms-request-id: request-id
    get:
      description: Returns the content of the specified task file.
      operationId: File_GetFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task whose file you want to retrieve.
          in: path
          name: taskId
          required: true
          type: string
        - description: The path to the task file that you want to get the content of.
          in: path
          name: fileName
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.
          in: header
          name: ocp-range
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            Content-Length:
              description: The length of the file.
              format: int64
              type: integer
            Content-Type:
              description: The content type of the file.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              type: boolean
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              type: string
            ocp-batch-file-url:
              description: The URL of the file.
              type: string
            ocp-creation-time:
              description: The file creation time.
              format: date-time-rfc1123
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            type: file
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Files
      x-ms-request-id: request-id
    head:
      description: Gets the properties of the specified task file.
      operationId: File_GetNodeFilePropertiesFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task whose file you want to get the properties of.
          in: path
          name: taskId
          required: true
          type: string
        - description: The path to the task file that you want to get the properties of.
          in: path
          name: fileName
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Found the file
          headers:
            Content-Length:
              description: The length of the file.
              format: int64
              type: integer
            Content-Type:
              description: The content type of the file.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              type: boolean
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              type: string
            ocp-batch-file-url:
              description: The URL of the file.
              type: string
            ocp-creation-time:
              description: The file creation time.
              format: date-time-rfc1123
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      tags:
        - Files
      x-ms-request-id: request-id
  '/jobs/{jobId}/tasks/{taskId}/subtasksinfo':
    get:
      operationId: Task_ListSubtasks
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task.
          in: path
          name: taskId
          required: true
          type: string
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: ''
          headers:
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
              description: The content of the Last-Modified HTTP response header.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: 'The ClientRequestId provided by the client during the request, if present and requested to be returned.'
              type: string
            request-id:
              description: The value that uniquely identifies a request.
              type: string
          schema:
            $ref: '#/definitions/CloudTaskListSubtasksResult'
        default:
          description: The error from the Batch service.
          schema:
            $ref: '#/definitions/BatchError'
      summary: Lists all of the subtasks that are associated with the specified multi-instance task.
      tags:
        - Tasks
      x-ms-request-id: request-id
  '/jobs/{jobId}/tasks/{taskId}/terminate':
    post:
      operationId: Task_Terminate
      parameters:
        - description: The id of the job containing the task.
          in: path
          name: jobId
          required: true
          type: string
        - description: The id of the task to terminate.
          in: path
          name: taskId
          required: true
          type: string
        - default: 30
          description: 'The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.'
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Whether the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: 'The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.'
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '204':
          description: ''
          headers:
            DataServiceId:
              description: The OData id of the resource to which the request applied.
              type: string
            ETag:
              description: The content of the ETag HTTP response header.
              type: string
            Last-Modified:
[...]
