openapi: 3.0.3
servers:
  - url: https://api.bigdatacloud.net
info:
  contact: {}
  description: |-
    BigDataCloud's IP Geolocation API returns detailed information about the geographical location, ownership and connectivity of the provided IPv4 IP address.

    This API is powered by patent-pending ‘Next Generation IP Geolocation Technology'. As a result, the API has sub-millisecond response time.

    You can authenticate the API with the use of API keys provided in your BigDataCloud account.

    BigDataCloud provides 10K Free queries per month. You can upgrade your package with $2/month per 10K additional queries.

    The API has Unprecedented Update Rate
    - Geolocation data re-evaluated every 2 hours or at least once a day
    - BGP data updated every 2 hours
    - Registry data updated at least once a day
    - Country object data usually updates at least once in a month 

    You can learn more about the API at [bigdatacloud.com](https://www.bigdatacloud.com/ip-geolocation-apis).
  title: IP Geolocation API
  version: 1.0.0
  x-apisguru-categories:
    - location
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_res.cloudinary.com_bigdatacloud_image_upload_v1652921282_bdc-logo.svg
  x-origin:
    - format: postman
      url: https://www.postman.com/collections/10684407-3369ce87-fd01-423c-a38f-335da4db520b
      version: 2.x
  x-providerName: bigdatacloud.net
tags: []
paths:
  /data/ip-geolocation-full:
    get:
      description: This API returns additional security hazard report in addition to confidence area and locality information.
      operationId: ipGeolocationWithConfidenceAreaAndHazardReportApi
      parameters:
        - description: |
            IPv4 IP address in a string or numeric format. If omitted, the caller’s IP address is assumed
          in: query
          name: ip
          schema:
            example: 193.114.112.122
            type: string
        - description: |
            Preferred language for locality names in ISO 639-1 format, such as 'en' for English, 'es' for Spanish etc. Please note: 147 common world languages are supported, full list here, but not all languages are available for every location. If requested language is not available for a requested location it will default to English, if no English is available, the native, local names will be provided
          in: query
          name: localityLanguage
          schema:
            example: en
            type: string
        - description: |
            Your API key
          in: query
          name: key
          schema:
            example: "{{API KEY}}"
            type: string
      responses:
        "200":
          description: ""
      summary: IP Geolocation with Confidence Area and Hazard Report API
  /data/ip-geolocation-with-confidence:
    get:
      description: Returns list of geocoordinates which represents estimated geolocation confidence area.
      operationId: ipGeolocationWithConfidenceAreaApi
      parameters:
        - description: |
            IPv4 IP address in a string or numeric format. If omitted, the caller’s IP address is assumed
          in: query
          name: ip
          schema:
            example: 193.114.112.122
            type: string
        - description: |
            Preferred language for locality names in ISO 639-1 format, such as 'en' for English, 'es' for Spanish etc. Please note: 147 common world languages are supported, full list here, but not all languages are available for every location. If requested language is not available for a requested location it will default to English, if no English is available, the native, local names will be provided
          in: query
          name: localityLanguage
          schema:
            example: en
            type: string
        - description: |
            Your API key
          in: query
          name: key
          schema:
            example: "{{API KEY}}"
            type: string
      responses:
        "200":
          description: ""
      summary: IP Geolocation with Confidence Area API
