openapi: 3.0.0
servers:
  - url: https://translation.googleapis.com/language/translate
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: |-
    The Google Cloud Translation API lets websites and programs integrate with
        Google Translate programmatically.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Cloud Translation API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://translation.googleapis.com/$discovery/rest?version=v2
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: translate
externalDocs:
  url: https://code.google.com/apis/language/translate/v2/getting_started.html
tags:
  - name: detections
  - name: languages
  - name: translations
paths:
  /v2:
    get:
      description: Translates input text, returning translated text.
      operationId: language.translations.list
      parameters:
        - description: |-
            The input text to translate. Repeat this parameter to perform translation
            operations on multiple text inputs.
          explode: true
          in: query
          name: q
          required: true
          schema:
            items:
              type: string
            type: array
          style: form
        - description: |-
            The language to use for translation of the input text, set to one of the
            language codes listed in Language Support.
          in: query
          name: target
          required: true
          schema:
            type: string
        - description: The customization id for translate
          explode: true
          in: query
          name: cid
          schema:
            items:
              type: string
            type: array
          style: form
        - description: |-
            The format of the source text, in either HTML (default) or plain-text. A
            value of "html" indicates HTML and a value of "text" indicates plain-text.
          in: query
          name: format
          schema:
            enum:
              - html
              - text
            type: string
        - description: |-
            The `model` type requested for this translation. Valid values are
            listed in public documentation.
          in: query
          name: model
          schema:
            type: string
        - description: |-
            The language of the source text, set to one of the language codes listed in
            Language Support. If the source language is not specified, the API will
            attempt to identify the source language automatically and return it within
            the response.
          in: query
          name: source
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - translations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/bearer_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/pp"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Translates input text, returning translated text.
      operationId: language.translations.translate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranslateTextRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - translations
  /v2/detect:
    get:
      description: Detects the language of text within a request.
      operationId: language.detections.list
      parameters:
        - description: |-
            The input text upon which to perform language detection. Repeat this
            parameter to perform language detection on multiple text inputs.
          explode: true
          in: query
          name: q
          required: true
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectionsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - detections
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/bearer_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/pp"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Detects the language of text within a request.
      operationId: language.detections.detect
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DetectLanguageRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectionsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - detections
  /v2/languages:
    get:
      description: Returns a list of supported languages for translation.
      operationId: language.languages.list
      parameters:
        - description: The model type for which supported languages should be returned.
          in: query
          name: model
          schema:
            type: string
        - description: |-
            The language to use to return localized, human readable names of supported
            languages.
          in: query
          name: target
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguagesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - languages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/bearer_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/pp"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    bearer_token:
      description: OAuth bearer token.
      in: query
      name: bearer_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    pp:
      description: Pretty-print response.
      in: query
      name: pp
      schema:
        type: boolean
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    DetectLanguageRequest:
      description: The request message for language detection.
      properties:
        q:
          description: |-
            The input text upon which to perform language detection. Repeat this
            parameter to perform language detection on multiple text inputs.
          items:
            type: string
          type: array
      type: object
    DetectionsListResponse:
      properties:
        detections:
          description: A detections contains detection results of several text
          items:
            $ref: "#/components/schemas/DetectionsResource"
          type: array
      type: object
    DetectionsResource:
      description: An array of languages which we detect for the given text The most likely language list first.
      items:
        properties:
          confidence:
            description: The confidence of the detection result of this language.
            format: float
            type: number
          isReliable:
            description: A boolean to indicate is the language detection result reliable.
            type: boolean
          language:
            description: The language we detected.
            type: string
        type: object
      type: array
    GetSupportedLanguagesRequest:
      description: The request message for discovering supported languages.
      properties:
        target:
          description: |-
            The language to use to return localized, human readable names of supported
            languages.
          type: string
      type: object
    LanguagesListResponse:
      properties:
        languages:
          description: List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.
          items:
            $ref: "#/components/schemas/LanguagesResource"
          type: array
      type: object
    LanguagesResource:
      properties:
        language:
          description: |-
            Supported language code, generally consisting of its ISO 639-1
            identifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including
            language + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')
          type: string
        name:
          description: Human readable name of the language localized to the target language.
          type: string
      type: object
    TranslateTextRequest:
      description: The main translation request message for the Cloud Translation API.
      properties:
        format:
          description: |-
            The format of the source text, in either HTML (default) or plain-text. A
            value of "html" indicates HTML and a value of "text" indicates plain-text.
          type: string
        model:
          description: |-
            The `model` type requested for this translation. Valid values are
            listed in public documentation.
          type: string
        q:
          description: |-
            The input text to translate. Repeat this parameter to perform translation
            operations on multiple text inputs.
          items:
            type: string
          type: array
        source:
          description: |-
            The language of the source text, set to one of the language codes listed in
            Language Support. If the source language is not specified, the API will
            attempt to identify the source language automatically and return it within
            the response.
          type: string
        target:
          description: |-
            The language to use for translation of the input text, set to one of the
            language codes listed in Language Support.
          type: string
      type: object
    TranslationsListResponse:
      description: The main language translation response message.
      properties:
        translations:
          description: Translations contains list of translation results of given text
          items:
            $ref: "#/components/schemas/TranslationsResource"
          type: array
      type: object
    TranslationsResource:
      properties:
        detectedSourceLanguage:
          description: |-
            The source language of the initial request, detected automatically, if
            no source language was passed within the initial request. If the
            source language was passed, auto-detection of the language will not
            occur and this field will be empty.
          type: string
        model:
          description: |-
            The `model` type used for this translation. Valid values are
            listed in public documentation. Can be different from requested `model`.
            Present only if specific model type was explicitly requested.
          type: string
        translatedText:
          description: Text translated into the target language.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
            https://www.googleapis.com/auth/cloud-translation: Translate text from one language to another using Google Translate
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
            https://www.googleapis.com/auth/cloud-translation: Translate text from one language to another using Google Translate
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
