swagger: '2.0'
schemes:
  - https
  - http
host: health.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS Health</fullname> <p>The AWS Health API provides programmatic access to the AWS Health information that is presented in the <a href="https://phd.aws.amazon.com/phd/home#/">AWS Personal Health Dashboard</a>. You can get information about events that affect your AWS resources:</p> <ul> <li> <p> <a>DescribeEvents</a>: Summary information about events.</p> </li> <li> <p> <a>DescribeEventDetails</a>: Detailed information about one or more events.</p> </li> <li> <p> <a>DescribeAffectedEntities</a>: Information about AWS resources that are affected by one or more events.</p> </li> </ul> <p>In addition, these operations provide information about event types and summary counts of events or affected entities:</p> <ul> <li> <p> <a>DescribeEventTypes</a>: Information about the kinds of events that AWS Health tracks.</p> </li> <li> <p> <a>DescribeEventAggregates</a>: A count of the number of events that meet specified criteria.</p> </li> <li> <p> <a>DescribeEntityAggregates</a>: A count of the number of affected entities that meet specified criteria.</p> </li> </ul> <p>The Health API requires a Business or Enterprise support plan from <a href="http://aws.amazon.com/premiumsupport/">AWS Support</a>. Calling the Health API from an account that does not have a Business or Enterprise support plan causes a <code>SubscriptionRequiredException</code>. </p> <p>For authentication of requests, AWS Health uses the <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>.</p> <p>See the <a href="https://docs.aws.amazon.com/health/latest/ug/what-is-aws-health.html">AWS Health User Guide</a> for information about how to use the API.</p> <p> <b>Service Endpoint</b> </p> <p>The HTTP endpoint for the AWS Health API is:</p> <ul> <li> <p>https://health.us-east-1.amazonaws.com </p> </li> </ul>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Health APIs and Notifications
  version: '2016-08-04'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: health
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/health/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AWSHealth_20160804.DescribeAffectedEntities':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of entities that have been affected by the specified events, based on the specified filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the AWS service. Events that have impact beyond that of the affected entities, or where the extent of impact is unknown, include at least one entity indicating this.</p> <p>At least one event ARN is required. Results are sorted by the <code>lastUpdatedTime</code> of the entity, starting with the most recent.</p>'
      operationId: DescribeAffectedEntities
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAffectedEntitiesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSHealth_20160804.DescribeAffectedEntities
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAffectedEntitiesResponse'
        '480':
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
        '481':
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
  '/#X-Amz-Target=AWSHealth_20160804.DescribeEntityAggregates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the number of entities that are affected by each of the specified events. If no events are specified, the counts of all affected entities are returned.'
      operationId: DescribeEntityAggregates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEntityAggregatesRequest'
        - enum:
            - AWSHealth_20160804.DescribeEntityAggregates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntityAggregatesResponse'
  '/#X-Amz-Target=AWSHealth_20160804.DescribeEventAggregates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the number of events of each event type (issue, scheduled change, and account notification). If no filter is specified, the counts of all events in each category are returned.'
      operationId: DescribeEventAggregates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventAggregatesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSHealth_20160804.DescribeEventAggregates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventAggregatesResponse'
        '480':
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
  '/#X-Amz-Target=AWSHealth_20160804.DescribeEventDetails':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns detailed information about one or more specified events. Information includes standard event data (region, service, etc., as returned by <a>DescribeEvents</a>), a detailed event description, and possible additional metadata that depends upon the nature of the event. Affected entities are not included; to retrieve those, use the <a>DescribeAffectedEntities</a> operation.</p> <p>If a specified event cannot be retrieved, an error message is returned for that event.</p>'
      operationId: DescribeEventDetails
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventDetailsRequest'
        - enum:
            - AWSHealth_20160804.DescribeEventDetails
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventDetailsResponse'
        '480':
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
  '/#X-Amz-Target=AWSHealth_20160804.DescribeEventTypes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the event types that meet the specified filter criteria. If no filter criteria are specified, all event types are returned, in no particular order.'
      operationId: DescribeEventTypes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventTypesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSHealth_20160804.DescribeEventTypes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventTypesResponse'
        '480':
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
        '481':
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
  '/#X-Amz-Target=AWSHealth_20160804.DescribeEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns information about events that meet the specified filter criteria. Events are returned in a summary form and do not include the detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the <a>DescribeEventDetails</a> and <a>DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent.</p>'
      operationId: DescribeEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSHealth_20160804.DescribeEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
        '480':
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
        '481':
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
definitions:
  AffectedEntity:
    description: Information about an entity that is affected by a Health event.
    properties:
      awsAccountId:
        $ref: '#/definitions/accountId'
        description: The 12-digit AWS account number that contains the affected entity.
      entityArn:
        $ref: '#/definitions/entityArn'
        description: 'The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i> </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code> '
      entityUrl:
        $ref: '#/definitions/entityUrl'
      entityValue:
        $ref: '#/definitions/entityValue'
        description: The ID of the affected entity.
      eventArn:
        $ref: '#/definitions/eventArn'
        description: 'The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> '
      lastUpdatedTime:
        $ref: '#/definitions/timestamp'
        description: The most recent time that the entity was updated.
      statusCode:
        $ref: '#/definitions/entityStatusCode'
        description: 'The most recent status of the entity affected by the event. The possible values are <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.'
      tags:
        $ref: '#/definitions/tagSet'
        description: A map of entity tags attached to the affected entity.
    type: object
  DateTimeRange:
    description: 'A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.'
    properties:
      from:
        $ref: '#/definitions/timestamp'
        description: The starting date and time of a time range.
      to:
        $ref: '#/definitions/timestamp'
        description: The ending date and time of a time range.
    type: object
  DescribeAffectedEntitiesRequest:
    properties:
      filter:
        $ref: '#/definitions/EntityFilter'
        description: 'Values to narrow the results returned. At least one event ARN is required. '
      locale:
        $ref: '#/definitions/locale'
        description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
      maxResults:
        $ref: '#/definitions/maxResults'
        description: 'The maximum number of items to return in one batch, between 10 and 100, inclusive.'
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    required:
      - filter
    type: object
  DescribeAffectedEntitiesResponse:
    properties:
      entities:
        $ref: '#/definitions/EntityList'
        description: The entities that match the filter criteria.
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    type: object
  DescribeEntityAggregatesRequest:
    properties:
      eventArns:
        $ref: '#/definitions/EventArnsList'
        description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
    type: object
  DescribeEntityAggregatesResponse:
    properties:
      entityAggregates:
        $ref: '#/definitions/EntityAggregateList'
        description: The number of entities that are affected by each of the specified events.
    type: object
  DescribeEventAggregatesRequest:
    properties:
      aggregateField:
        $ref: '#/definitions/eventAggregateField'
        description: The only currently supported value is <code>eventTypeCategory</code>.
      filter:
        $ref: '#/definitions/EventFilter'
        description: Values to narrow the results returned.
      maxResults:
        $ref: '#/definitions/maxResults'
        description: 'The maximum number of items to return in one batch, between 10 and 100, inclusive.'
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    required:
      - aggregateField
    type: object
  DescribeEventAggregatesResponse:
    properties:
      eventAggregates:
        $ref: '#/definitions/EventAggregateList'
        description: The number of events in each category that meet the optional filter criteria.
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    type: object
  DescribeEventDetailsFailedSet:
    items:
      $ref: '#/definitions/EventDetailsErrorItem'
    type: array
  DescribeEventDetailsRequest:
    properties:
      eventArns:
        $ref: '#/definitions/eventArnList'
        description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
      locale:
        $ref: '#/definitions/locale'
        description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    required:
      - eventArns
    type: object
  DescribeEventDetailsResponse:
    properties:
      failedSet:
        $ref: '#/definitions/DescribeEventDetailsFailedSet'
        description: Error messages for any events that could not be retrieved.
      successfulSet:
        $ref: '#/definitions/DescribeEventDetailsSuccessfulSet'
        description: Information about the events that could be retrieved.
    type: object
  DescribeEventDetailsSuccessfulSet:
    items:
      $ref: '#/definitions/EventDetails'
    type: array
  DescribeEventTypesRequest:
    properties:
      filter:
        $ref: '#/definitions/EventTypeFilter'
        description: Values to narrow the results returned.
      locale:
        $ref: '#/definitions/locale'
        description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
      maxResults:
        $ref: '#/definitions/maxResults'
        description: 'The maximum number of items to return in one batch, between 10 and 100, inclusive.'
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    type: object
  DescribeEventTypesResponse:
    properties:
      eventTypes:
        $ref: '#/definitions/EventTypeList'
        description: 'A list of event types that match the filter criteria. Event types have a category (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>), a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>, <code>BILLING</code>), and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).'
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    type: object
  DescribeEventsRequest:
    properties:
      filter:
        $ref: '#/definitions/EventFilter'
        description: Values to narrow the results returned.
      locale:
        $ref: '#/definitions/locale'
        description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
      maxResults:
        $ref: '#/definitions/maxResults'
        description: 'The maximum number of items to return in one batch, between 10 and 100, inclusive.'
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    type: object
  DescribeEventsResponse:
    properties:
      events:
        $ref: '#/definitions/EventList'
        description: The events that match the specified filter criteria.
      nextToken:
        $ref: '#/definitions/nextToken'
        description: 'If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.'
    type: object
  EntityAggregate:
    description: The number of entities that are affected by one or more events. Returned by the <a>DescribeEntityAggregates</a> operation.
    properties:
      count:
        $ref: '#/definitions/count'
        description: The number entities that match the criteria for the specified events.
      eventArn:
        $ref: '#/definitions/eventArn'
        description: 'The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> '
    type: object
  EntityAggregateList:
    items:
      $ref: '#/definitions/EntityAggregate'
    type: array
  EntityFilter:
    description: The values to use to filter results from the <a>DescribeAffectedEntities</a> operation.
    properties:
      entityArns:
        $ref: '#/definitions/entityArnList'
        description: A list of entity ARNs (unique identifiers).
      entityValues:
        $ref: '#/definitions/entityValueList'
        description: A list of IDs for affected entities.
      eventArns:
        $ref: '#/definitions/eventArnList'
        description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
      lastUpdatedTimes:
        $ref: '#/definitions/dateTimeRangeList'
        description: A list of the most recent dates and times that the entity was updated.
      statusCodes:
        $ref: '#/definitions/entityStatusCodeList'
        description: 'A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or <code>UNKNOWN</code>).'
      tags:
        $ref: '#/definitions/tagFilter'
        description: A map of entity tags attached to the affected entity.
    required:
      - eventArns
    type: object
  EntityList:
    items:
      $ref: '#/definitions/AffectedEntity'
    type: array
  Event:
    description: 'Summary information about an event, returned by the <a>DescribeEvents</a> operation. The <a>DescribeEventDetails</a> operation also returns this information, as well as the <a>EventDescription</a> and additional event metadata.'
    properties:
      arn:
        $ref: '#/definitions/eventArn'
        description: 'The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> '
      availabilityZone:
        $ref: '#/definitions/availabilityZone'
        description: 'The AWS Availability Zone of the event. For example, us-east-1a.'
      endTime:
        $ref: '#/definitions/timestamp'
        description: The date and time that the event ended.
      eventTypeCategory:
        $ref: '#/definitions/eventTypeCategory'
        description: 'The category of the event. Possible values are <code>issue</code>, <code>scheduledChange</code>, and <code>accountNotification</code>.'
      eventTypeCode:
        $ref: '#/definitions/eventTypeCode'
        description: 'The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.'
      lastUpdatedTime:
        $ref: '#/definitions/timestamp'
        description: The most recent date and time that the event was updated.
      region:
        $ref: '#/definitions/region'
        description: The AWS region name of the event.
      service:
        $ref: '#/definitions/service'
        description: 'The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.'
      startTime:
        $ref: '#/definitions/timestamp'
        description: The date and time that the event began.
      statusCode:
        $ref: '#/definitions/eventStatusCode'
        description: 'The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.'
    type: object
  EventAggregate:
    description: The number of events of each issue type. Returned by the <a>DescribeEventAggregates</a> operation.
    properties:
      aggregateValue:
        $ref: '#/definitions/aggregateValue'
        description: The issue type for the associated count.
      count:
        $ref: '#/definitions/count'
        description: The number of events of the associated issue type.
    type: object
  EventAggregateList:
    items:
      $ref: '#/definitions/EventAggregate'
    type: array
  EventArnsList:
    items:
      $ref: '#/definitions/eventArn'
    maxItems: 50
    minItems: 1
    type: array
  EventDescription:
    description: The detailed description of the event. Included in the information returned by the <a>DescribeEventDetails</a> operation.
    properties:
      latestDescription:
        $ref: '#/definitions/eventDescription'
        description: The most recent description of the event.
    type: object
  EventDetails:
    description: 'Detailed information about an event. A combination of an <a>Event</a> object, an <a>EventDescription</a> object, and additional metadata about the event. Returned by the <a>DescribeEventDetails</a> operation.'
    properties:
      event:
        $ref: '#/definitions/Event'
        description: Summary information about the event.
      eventDescription:
        $ref: '#/definitions/EventDescription'
        description: The most recent description of the event.
      eventMetadata:
        $ref: '#/definitions/eventMetadata'
        description: Additional metadata about the event.
    type: object
  EventDetailsErrorItem:
    description: Error information returned when a <a>DescribeEventDetails</a> operation cannot find a specified event.
    properties:
      errorMessage:
        $ref: '#/definitions/string'
        description: A message that describes the error.
      errorName:
        $ref: '#/definitions/string'
        description: The name of the error.
      eventArn:
        $ref: '#/definitions/eventArn'
        description: 'The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> '
    type: object
  EventFilter:
    description: The values to use to filter results from the <a>DescribeEvents</a> and <a>DescribeEventAggregates</a> operations.
    properties:
      availabilityZones:
        $ref: '#/definitions/availabilityZones'
        description: A list of AWS availability zones.
      endTimes:
        $ref: '#/definitions/dateTimeRangeList'
        description: A list of dates and times that the event ended.
      entityArns:
        $ref: '#/definitions/entityArnList'
        description: A list of entity ARNs (unique identifiers).
      entityValues:
        $ref: '#/definitions/entityValueList'
        description: 'A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or EBS volumes (<code>vol-426ab23e</code>).'
      eventArns:
        $ref: '#/definitions/eventArnList'
        description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
      eventStatusCodes:
        $ref: '#/definitions/eventStatusCodeList'
        description: A list of event status codes.
      eventTypeCategories:
        $ref: '#/definitions/eventTypeCategoryList'
        description: 'A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).'
      eventTypeCodes:
        $ref: '#/definitions/eventTypeList'
        description: 'A list of unique identifiers for event types. For example, <code>"AWS_EC2_SYSTEM_MAINTENANCE_EVENT","AWS_RDS_MAINTENANCE_SCHEDULED"</code> '
      lastUpdatedTimes:
        $ref: '#/definitions/dateTimeRangeList'
        description: A list of dates and times that the event was last updated.
      regions:
        $ref: '#/definitions/regionList'
        description: A list of AWS regions.
      services:
        $ref: '#/definitions/serviceList'
        description: 'The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.'
      startTimes:
        $ref: '#/definitions/dateTimeRangeList'
        description: A list of dates and times that the event began.
      tags:
        $ref: '#/definitions/tagFilter'
        description: A map of entity tags attached to the affected entity.
    type: object
  EventList:
    items:
      $ref: '#/definitions/Event'
    type: array
  EventType:
    description: 'Metadata about a type of event that is reported by AWS Health. Data consists of the category (for example, <code>issue</code>), the service (for example, <code>EC2</code>), and the event type code (for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).'
    properties:
      category:
        $ref: '#/definitions/eventTypeCategory'
        description: 'A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).'
      code:
        $ref: '#/definitions/eventTypeCode'
        description: 'The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.'
      service:
        $ref: '#/definitions/service'
        description: 'The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.'
    type: object
  EventTypeCategoryList:
    items:
      $ref: '#/definitions/eventTypeCategory'
    maxItems: 10
    minItems: 1
    type: array
  EventTypeCodeList:
    items:
      $ref: '#/definitions/eventTypeCode'
    maxItems: 10
    minItems: 1
    type: array
  EventTypeFilter:
    description: The values to use to filter results from the <a>DescribeEventTypes</a> operation.
    properties:
      eventTypeCategories:
        $ref: '#/definitions/EventTypeCategoryList'
        description: 'A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).'
      eventTypeCodes:
        $ref: '#/definitions/EventTypeCodeList'
        description: A list of event type codes.
      services:
        $ref: '#/definitions/serviceList'
        description: 'The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.'
    type: object
  EventTypeList:
    items:
      $ref: '#/definitions/EventType'
    type: array
  InvalidPaginationToken: {}
  UnsupportedLocale: {}
  accountId:
    pattern: '[0-9]{12}'
    type: string
  aggregateValue:
    type: string
  availabilityZone:
    pattern: '[a-z]{2}\-[0-9a-z\-]{4,16}'
    type: string
  availabilityZones:
    items:
      $ref: '#/definitions/availabilityZone'
    type: array
  count:
    type: integer
  dateTimeRangeList:
    items:
      $ref: '#/definitions/DateTimeRange'
    maxItems: 10
    minItems: 1
    type: array
  entityArn:
    maxLength: 1600
    type: string
  entityArnList:
    items:
      $ref: '#/definitions/entityArn'
    maxItems: 100
    minItems: 1
    type: array
  entityStatusCode:
    enum:
      - IMPAIRED
      - UNIMPAIRED
      - UNKNOWN
    type: string
  entityStatusCodeList:
    items:
      $ref: '#/definitions/entityStatusCode'
    maxItems: 3
    minItems: 1
    type: array
  entityUrl:
    pattern: 'https?://.+\.(amazon\.com|amazonaws\.com|amazonaws\.cn|c2s\.ic\.gov|sc2s\.sgov\.gov|amazonaws-us-gov.com)/.*'
    type: string
  entityValue:
    maxLength: 256
    type: string
  entityValueList:
    items:
      $ref: '#/definitions/entityValue'
    maxItems: 100
    minItems: 1
    type: array
  eventAggregateField:
    enum:
      - eventTypeCategory
    type: string
  eventArn:
    maxLength: 1600
    pattern: 'arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\w-]+){3}'
    type: string
  eventArnList:
    items:
      $ref: '#/definitions/eventArn'
    maxItems: 10
    minItems: 1
    type: array
  eventDescription:
    type: string
  eventMetadata:
    additionalProperties:
      $ref: '#/definitions/metadataValue'
    type: object
  eventStatusCode:
    enum:
      - open
      - closed
      - upcoming
    type: string
  eventStatusCodeList:
    items:
      $ref: '#/definitions/eventStatusCode'
    maxItems: 6
    minItems: 1
    type: array
  eventType:
    maxLength: 100
    minLength: 3
    type: string
  eventTypeCategory:
    enum:
      - issue
      - accountNotification
      - scheduledChange
      - investigation
    maxLength: 255
    minLength: 3
    type: string
  eventTypeCategoryList:
    items:
      $ref: '#/definitions/eventTypeCategory'
    maxItems: 10
    minItems: 1
    type: array
  eventTypeCode:
    maxLength: 100
    minLength: 3
    type: string
  eventTypeList:
    items:
      $ref: '#/definitions/eventType'
    maxItems: 10
    minItems: 1
    type: array
  locale:
    maxLength: 256
    minLength: 2
    type: string
  maxResults:
    maximum: 100
    minimum: 10
    type: integer
  metadataKey:
    type: string
  metadataValue:
    maxLength: 10240
    type: string
  nextToken:
    pattern: '[a-zA-Z0-9=/+_.-]{4,512}'
    type: string
  region:
    pattern: '[^:/]{2,25}'
    type: string
  regionList:
    items:
      $ref: '#/definitions/region'
    maxItems: 10
    minItems: 1
    type: array
  service:
    maxLength: 30
    minLength: 2
    type: string
  serviceList:
    items:
      $ref: '#/definitions/service'
    maxItems: 10
    minItems: 1
    type: array
  string:
    type: string
  tagFilter:
    items:
      $ref: '#/definitions/tagSet'
    maxItems: 50
    type: array
  tagKey:
    maxLength: 127
    type: string
  tagSet:
    additionalProperties:
      $ref: '#/definitions/tagValue'
    maxProperties: 50
    type: object
  tagValue:
    maxLength: 255
    type: string
  timestamp:
    format: date-time
    type: string
x-servers:
  - description: The general AWSHealth multi-region endpoint
    url: 'https://health.us-east-1.amazonaws.com'
    variables: {}
  - description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
    url: 'http://health.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
    url: 'https://health.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
