swagger: '2.0'
info:
  version: '2010-08-01'
  x-release: v4
  title: Amazon CloudWatch
  description: '<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically change the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: monitoring
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/monitoring-2010-08-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/monitoring/'
host: monitoring.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: DeleteAlarms
      description: 'Deletes the specified alarms. In the event of an error, no alarms are deleted.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAlarmsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDashboards':
    post:
      operationId: DeleteDashboards
      description: 'Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDashboardsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAlarmHistory':
    post:
      operationId: DescribeAlarmHistory
      description: '<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmHistoryOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAlarmHistoryInput'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAlarms':
    post:
      operationId: DescribeAlarms
      description: 'Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAlarmsInput'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
      x-waiters:
        - delay: 5
          maxAttempts: 40
          operation: DescribeAlarms
          acceptors:
            - matcher: path
              expected: true
              argument: 'length(MetricAlarms[]) > `0`'
              state: success
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAlarmsForMetric':
    post:
      operationId: DescribeAlarmsForMetric
      description: 'Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsForMetricOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAlarmsForMetricInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableAlarmActions':
    post:
      operationId: DisableAlarmActions
      description: 'Disables the actions for the specified alarms. When an alarm''s actions are disabled, the alarm actions do not execute when the alarm state changes.'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableAlarmActionsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableAlarmActions':
    post:
      operationId: EnableAlarmActions
      description: Enables the actions for the specified alarms.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableAlarmActionsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDashboard':
    post:
      operationId: GetDashboard
      description: '<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDashboardOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDashboardInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetMetricStatistics':
    post:
      operationId: GetMetricStatistics
      description: '<p>Gets statistics for the specified metric.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months)</p> </li> </ul> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. A period can be as short as one minute (60 seconds). Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>For a list of metrics and dimensions supported by AWS services, see the <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricStatisticsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetMetricStatisticsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDashboards':
    post:
      operationId: ListDashboards
      description: 'Returns a list of the dashboards for your account. If you include <code>DashboardNamePrefix</code>, only those dashboards with names starting with the prefix are listed. Otherwise, all dashboards in your account are listed. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDashboardsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListMetrics':
    post:
      operationId: ListMetrics
      description: '<p>List the specified metrics. You can use the returned metrics with <a>GetMetricStatistics</a> to obtain statistical data.</p> <p>Up to 500 results are returned for any one call. To retrieve additional results, use the returned token with subsequent calls.</p> <p>After you create a metric, allow up to fifteen minutes before the metric appears. Statistics about the metric, however, are available sooner using <a>GetMetricStatistics</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMetricsOutput'
        '480':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListMetricsInput'
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutDashboard':
    post:
      operationId: PutDashboard
      description: '<p>Creates a dashboard if it does not already exist, or updates an existing dashboard. If you update a dashboard, the entire contents are replaced with what you specify here.</p> <p>You can have up to 500 dashboards per account. All dashboards in your account are global, not region-specific.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDashboardOutput'
        '480':
          description: DashboardInvalidInputError
          schema:
            $ref: '#/definitions/DashboardInvalidInputError'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDashboardInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutMetricAlarm':
    post:
      operationId: PutMetricAlarm
      description: '<p>Creates or updates an alarm and associates it with the specified metric. Optionally, this operation can associate one or more Amazon SNS resources with the alarm.</p> <p>When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is evaluated and its state is set appropriately. Any actions associated with the state are then executed.</p> <p>When you update an existing alarm, its state is left unchanged, but the update completely overwrites the previous configuration of the alarm.</p> <p>If you are an IAM user, you must have Amazon EC2 permissions for some operations:</p> <ul> <li> <p> <code>ec2:DescribeInstanceStatus</code> and <code>ec2:DescribeInstances</code> for all alarms on EC2 instance status metrics</p> </li> <li> <p> <code>ec2:StopInstances</code> for alarms with stop actions</p> </li> <li> <p> <code>ec2:TerminateInstances</code> for alarms with terminate actions</p> </li> <li> <p> <code>ec2:DescribeInstanceRecoveryAttribute</code> and <code>ec2:RecoverInstances</code> for alarms with recover actions</p> </li> </ul> <p>If you have read/write permissions for Amazon CloudWatch but not for Amazon EC2, you can still create an alarm, but the stop or terminate actions are not performed. However, if you are later granted the required permissions, the alarm actions that you created earlier are performed.</p> <p>If you are using an IAM role (for example, an EC2 instance profile), you cannot stop or terminate the instance using alarm actions. However, you can still see the alarm state and perform any other actions such as Amazon SNS notifications or Auto Scaling policies.</p> <p>If you are using temporary security credentials granted using AWS STS, you cannot stop or terminate an EC2 instance using alarm actions.</p> <p>You must create at least one stop, terminate, or reboot alarm using either the Amazon EC2 or CloudWatch consoles to create the <b>EC2ActionsAccess</b> IAM role. After this IAM role is created, you can create stop, terminate, or reboot alarms using a command-line interface or API.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutMetricAlarmInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutMetricData':
    post:
      operationId: PutMetricData
      description: '<p>Publishes metric data points to Amazon CloudWatch. CloudWatch associates the data points with the specified metric. If the specified metric does not exist, CloudWatch creates the metric. When CloudWatch creates a metric, it can take up to fifteen minutes for the metric to appear in calls to <a>ListMetrics</a>.</p> <p>Each <code>PutMetricData</code> request is limited to 40 KB in size for HTTP POST requests.</p> <p>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (for example, NaN, +Infinity, -Infinity) are not supported.</p> <p>You can use up to 10 dimensions per metric to further clarify what data the metric collects. For more information about specifying dimensions, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Data points with time stamps from 24 hours ago or longer can take at least 48 hours to become available for <a>GetMetricStatistics</a> from the time they are submitted.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1</p> </li> <li> <p>The Min and the Max values of the statistic set are equal</p> </li> </ul>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutMetricDataInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetAlarmState':
    post:
      operationId: SetAlarmState
      description: 'Temporarily sets the state of an alarm for testing purposes. When the updated state differs from the previous value, the action configured for the appropriate state is invoked. For example, if your alarm is configured to send an Amazon SNS message when an alarm is triggered, temporarily changing the alarm state to <code>ALARM</code> sends an SNS message. The alarm returns to its actual state (often within seconds). Because the alarm state change happens quickly, it is typically only visible in the alarm''s <b>History</b> tab in the Amazon CloudWatch console or through <a>DescribeAlarmHistory</a>.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
        '481':
          description: InvalidFormatFault
          schema:
            $ref: '#/definitions/InvalidFormatFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetAlarmStateInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ActionPrefix:
    type: string
    minLength: 1
    maxLength: 1024
  ActionsEnabled:
    type: boolean
  AlarmArn:
    type: string
    minLength: 1
    maxLength: 1600
  AlarmDescription:
    type: string
    minLength: 0
    maxLength: 1024
  AlarmHistoryItem:
    type: object
    properties:
      AlarmName:
        $ref: '#/definitions/AlarmName'
        description: The descriptive name for the alarm.
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: The time stamp for the alarm history item.
      HistoryItemType:
        $ref: '#/definitions/HistoryItemType'
        description: The type of alarm history item.
      HistorySummary:
        $ref: '#/definitions/HistorySummary'
        description: 'A summary of the alarm history, in text format.'
      HistoryData:
        $ref: '#/definitions/HistoryData'
        description: 'Data about the alarm, in JSON format.'
    description: Represents the history of a specific alarm.
  AlarmHistoryItems:
    type: array
    items:
      $ref: '#/definitions/AlarmHistoryItem'
  AlarmName:
    type: string
    minLength: 1
    maxLength: 255
  AlarmNamePrefix:
    type: string
    minLength: 1
    maxLength: 255
  AlarmNames:
    type: array
    items:
      $ref: '#/definitions/AlarmName'
    maxItems: 100
  AwsQueryErrorMessage:
    type: string
  ComparisonOperator:
    type: string
    enum:
      - GreaterThanOrEqualToThreshold
      - GreaterThanThreshold
      - LessThanThreshold
      - LessThanOrEqualToThreshold
  DashboardArn:
    type: string
  DashboardBody:
    type: string
  DashboardEntries:
    type: array
    items:
      $ref: '#/definitions/DashboardEntry'
  DashboardEntry:
    type: object
    properties:
      DashboardName:
        $ref: '#/definitions/DashboardName'
        description: The name of the dashboard.
      DashboardArn:
        $ref: '#/definitions/DashboardArn'
        description: The Amazon Resource Name (ARN) of the dashboard.
      LastModified:
        $ref: '#/definitions/LastModified'
        description: 'The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.'
      Size:
        $ref: '#/definitions/Size'
        description: 'The size of the dashboard, in bytes.'
    description: Represents a specific dashboard.
  DashboardErrorMessage:
    type: string
  DashboardInvalidInputError:
    type: object
    properties:
      message:
        $ref: '#/definitions/DashboardErrorMessage'
      dashboardValidationMessages:
        $ref: '#/definitions/DashboardValidationMessages'
    description: Some part of the dashboard data is invalid.
  DashboardName:
    type: string
  DashboardNamePrefix:
    type: string
  DashboardNames:
    type: array
    items:
      $ref: '#/definitions/DashboardName'
  DashboardNotFoundError:
    type: object
    properties:
      message:
        $ref: '#/definitions/DashboardErrorMessage'
    description: The specified dashboard does not exist.
  DashboardValidationMessage:
    type: object
    properties:
      DataPath:
        $ref: '#/definitions/DataPath'
        description: The data path related to the message.
      Message:
        $ref: '#/definitions/Message'
        description: A message describing the error or warning.
    description: An error or warning for the operation.
  DashboardValidationMessages:
    type: array
    items:
      $ref: '#/definitions/DashboardValidationMessage'
  DataPath:
    type: string
  Datapoint:
    type: object
    properties:
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: The time stamp used for the data point.
      SampleCount:
        $ref: '#/definitions/DatapointValue'
        description: The number of metric values that contributed to the aggregate value of this data point.
      Average:
        $ref: '#/definitions/DatapointValue'
        description: The average of the metric values that correspond to the data point.
      Sum:
        $ref: '#/definitions/DatapointValue'
        description: The sum of the metric values for the data point.
      Minimum:
        $ref: '#/definitions/DatapointValue'
        description: The minimum metric value for the data point.
      Maximum:
        $ref: '#/definitions/DatapointValue'
        description: The maximum metric value for the data point.
      Unit:
        $ref: '#/definitions/StandardUnit'
        description: The standard unit for the data point.
      ExtendedStatistics:
        $ref: '#/definitions/DatapointValueMap'
        description: The percentile statistic for the data point.
    description: Encapsulates the statistical data that CloudWatch computes from metric data.
  DatapointValue:
    type: number
    format: double
  DatapointValueMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/ExtendedStatistic'
        value:
          $ref: '#/definitions/DatapointValue'
  Datapoints:
    type: array
    items:
      $ref: '#/definitions/Datapoint'
  DeleteAlarmsInput:
    type: object
    required:
      - AlarmNames
    properties:
      AlarmNames:
        $ref: '#/definitions/AlarmNames'
        description: The alarms to be deleted.
  DeleteDashboardsInput:
    type: object
    properties:
      DashboardNames:
        $ref: '#/definitions/DashboardNames'
        description: The dashboards to be deleted.
  DeleteDashboardsOutput:
    type: object
    properties: {}
  DescribeAlarmHistoryInput:
    type: object
    properties:
      AlarmName:
        $ref: '#/definitions/AlarmName'
        description: The name of the alarm.
      HistoryItemType:
        $ref: '#/definitions/HistoryItemType'
        description: The type of alarm histories to retrieve.
      StartDate:
        $ref: '#/definitions/Timestamp'
        description: The starting date to retrieve alarm history.
      EndDate:
        $ref: '#/definitions/Timestamp'
        description: The ending date to retrieve alarm history.
      MaxRecords:
        $ref: '#/definitions/MaxRecords'
        description: The maximum number of alarm history records to retrieve.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token returned by a previous call to indicate that there is more data available.
  DescribeAlarmHistoryOutput:
    type: object
    properties:
      AlarmHistoryItems:
        $ref: '#/definitions/AlarmHistoryItems'
        description: 'The alarm histories, in JSON format.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token that marks the start of the next batch of returned results.
  DescribeAlarmsForMetricInput:
    type: object
    required:
      - MetricName
      - Namespace
    properties:
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name of the metric.
      Namespace:
        $ref: '#/definitions/Namespace'
        description: The namespace of the metric.
      Statistic:
        $ref: '#/definitions/Statistic'
        description: 'The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>.'
      ExtendedStatistic:
        $ref: '#/definitions/ExtendedStatistic'
        description: The percentile statistic for the metric. Specify a value between p0.0 and p100.
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: 'The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed.'
      Period:
        $ref: '#/definitions/Period'
        description: 'The period, in seconds, over which the statistic is applied.'
      Unit:
        $ref: '#/definitions/StandardUnit'
        description: The unit for the metric.
  DescribeAlarmsForMetricOutput:
    type: object
    properties:
      MetricAlarms:
        $ref: '#/definitions/MetricAlarms'
        description: The information for each alarm with the specified metric.
  DescribeAlarmsInput:
    type: object
    properties:
      AlarmNames:
        $ref: '#/definitions/AlarmNames'
        description: The names of the alarms.
      AlarmNamePrefix:
        $ref: '#/definitions/AlarmNamePrefix'
        description: 'The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.'
      StateValue:
        $ref: '#/definitions/StateValue'
        description: The state value to be used in matching alarms.
      ActionPrefix:
        $ref: '#/definitions/ActionPrefix'
        description: The action name prefix.
      MaxRecords:
        $ref: '#/definitions/MaxRecords'
        description: The maximum number of alarm descriptions to retrieve.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token returned by a previous call to indicate that there is more data available.
  DescribeAlarmsOutput:
    type: object
    properties:
      MetricAlarms:
        $ref: '#/definitions/MetricAlarms'
        description: The information for the specified alarms.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token that marks the start of the next batch of returned results.
  Dimension:
    type: object
    required:
      - Name
      - Value
    properties:
      Name:
        $ref: '#/definitions/DimensionName'
        description: The name of the dimension.
      Value:
        $ref: '#/definitions/DimensionValue'
        description: The value representing the dimension measurement.
    description: Expands the identity of a metric.
  DimensionFilter:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/DimensionName'
        description: The dimension name to be matched.
      Value:
        $ref: '#/definitions/DimensionValue'
        description: The value of the dimension to be matched.
    description: Represents filters for a dimension.
  DimensionFilters:
    type: array
    items:
      $ref: '#/definitions/DimensionFilter'
    maxItems: 10
  DimensionName:
    type: string
    minLength: 1
    maxLength: 255
  DimensionValue:
    type: string
    minLength: 1
    maxLength: 255
  Dimensions:
    type: array
    items:
      $ref: '#/definitions/Dimension'
    maxItems: 10
  DisableAlarmActionsInput:
    type: object
    required:
      - AlarmNames
    properties:
      AlarmNames:
        $ref: '#/definitions/AlarmNames'
        description: The names of the alarms.
  EnableAlarmActionsInput:
    type: object
    required:
      - AlarmNames
    properties:
      AlarmNames:
        $ref: '#/definitions/AlarmNames'
        description: The names of the alarms.
  ErrorMessage:
    type: string
    minLength: 1
    maxLength: 255
  EvaluateLowSampleCountPercentile:
    type: string
    minLength: 1
    maxLength: 255
  EvaluationPeriods:
    type: integer
    minimum: 1
  ExtendedStatistic:
    type: string
    pattern: 'p(\d{1,2}(\.\d{0,2})?|100)'
  ExtendedStatistics:
    type: array
    items:
      $ref: '#/definitions/ExtendedStatistic'
    minItems: 1
    maxItems: 10
  FaultDescription:
    type: string
  GetDashboardInput:
    type: object
    properties:
      DashboardName:
        $ref: '#/definitions/DashboardName'
        description: The name of the dashboard to be described.
  GetDashboardOutput:
    type: object
    properties:
      DashboardArn:
        $ref: '#/definitions/DashboardArn'
        description: The Amazon Resource Name (ARN) of the dashboard.
      DashboardBody:
        $ref: '#/definitions/DashboardBody'
        description: 'The detailed information about the dashboard, including what widgets are included and their location on the dashboard. For more information about the <code>DashboardBody</code> syntax, see <a>CloudWatch-Dashboard-Body-Structure</a>. '
      DashboardName:
        $ref: '#/definitions/DashboardName'
        description: The name of the dashboard.
  GetMetricStatisticsInput:
    type: object
    required:
      - Namespace
      - MetricName
      - StartTime
      - EndTime
      - Period
    properties:
      Namespace:
        $ref: '#/definitions/Namespace'
        description: 'The namespace of the metric, with or without spaces.'
      MetricName:
        $ref: '#/definitions/MetricName'
        description: 'The name of the metric, with or without spaces.'
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: 'The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric. If a specific combination of dimensions was not published, you can''t retrieve statistics for it. You must specify the same dimensions that were used when the metrics were created. For an example, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.'
      StartTime:
        $ref: '#/definitions/Timestamp'
        description: '<p>The time stamp that determines the first data point to return. Start times are evaluated relative to the time that CloudWatch receives the request.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul>'
      EndTime:
        $ref: '#/definitions/Timestamp'
        description: '<p>The time stamp that determines the last data point to return.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>'
      Period:
        $ref: '#/definitions/Period'
        description: '<p>The granularity, in seconds, of the returned data points. A period can be as short as one minute (60 seconds) and must be a multiple of 60. </p> <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than 15 days ago, you must specify the period as follows or no data points in that time range is returned:</p> <ul> <li> <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p> </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p> </li> </ul>'
      Statistics:
        $ref: '#/definitions/Statistics'
        description: 'The metric statistics, other than percentile. For percentile statistics, use <code>ExtendedStatistics</code>. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both.'
      ExtendedStatistics:
        $ref: '#/definitions/ExtendedStatistics'
        description: 'The percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both.'
      Unit:
        $ref: '#/definitions/StandardUnit'
        description: 'The unit for a given metric. Metrics may be reported in multiple units. Not supplying a unit results in all units being returned. If the metric only ever reports one unit, specifying a unit has no effect.'
  GetMetricStatisticsOutput:
    type: object
    properties:
      Label:
        $ref: '#/definitions/MetricLabel'
        description: A label for the specified metric.
      Datapoints:
        $ref: '#/definitions/Datapoints'
        description: The data points for the specified metric.
  HistoryData:
    type: string
    minLength: 1
    maxLength: 4095
  HistoryItemType:
    type: string
    enum:
      - ConfigurationUpdate
      - StateUpdate
      - Action
  HistorySummary:
    type: string
    minLength: 1
    maxLength: 255
  InternalServiceFault:
    type: object
    properties:
      Message:
        $ref: '#/definitions/FaultDescription'
        description: <p/>
    description: 'Request processing has failed due to some unknown error, exception, or failure.'
  InvalidFormatFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: <p/>
    description: Data was not syntactically valid JSON.
  InvalidNextToken:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: <p/>
    description: The next token specified is invalid.
  InvalidParameterCombinationException:
    type: object
    properties:
      message:
        $ref: '#/definitions/AwsQueryErrorMessage'
        description: <p/>
    description: Parameters were used together that cannot be used together.
  InvalidParameterValueException:
    type: object
    properties:
      message:
        $ref: '#/definitions/AwsQueryErrorMessage'
        description: <p/>
    description: The value of an input parameter is bad or out-of-range.
  LastModified:
    type: string
    format: date-time
  LimitExceededFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: <p/>
    description: The quota for alarms for this customer has already been reached.
  ListDashboardsInput:
    type: object
    properties:
      DashboardNamePrefix:
        $ref: '#/definitions/DashboardNamePrefix'
        description: 'If you specify this parameter, only the dashboards with names starting with the specified string are listed. The maximum length is 255, and valid characters are A-Z, a-z, 0-9, ".", "-", and "_". '
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token returned by a previous call to indicate that there is more data available.
  ListDashboardsOutput:
    type: object
    properties:
      DashboardEntries:
        $ref: '#/definitions/DashboardEntries'
        description: The list of matching dashboards.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token that marks the start of the next batch of returned results.
  ListMetricsInput:
    type: object
    properties:
      Namespace:
        $ref: '#/definitions/Namespace'
        description: The namespace to filter against.
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name of the metric to filter against.
      Dimensions:
        $ref: '#/definitions/DimensionFilters'
        description: The dimensions to filter against.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token returned by a previous call to indicate that there is more data available.
  ListMetricsOutput:
    type: object
    properties:
      Metrics:
        $ref: '#/definitions/Metrics'
        description: The metrics.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token that marks the start of the next batch of returned results.
  MaxRecords:
    type: integer
    minimum: 1
    maximum: 100
  Message:
    type: string
  Metric:
    type: object
    properties:
      Namespace:
        $ref: '#/definitions/Namespace'
        description: The namespace of the metric.
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name of the metric.
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: The dimensions for the metric.
    description: Represents a specific metric.
  MetricAlarm:
    type: object
    properties:
      AlarmName:
        $ref: '#/definitions/AlarmName'
        description: The name of the alarm.
      AlarmArn:
        $ref: '#/definitions/AlarmArn'
        description: The Amazon Resource Name (ARN) of the alarm.
      AlarmDescription:
        $ref: '#/definitions/AlarmDescription'
        description: The description of the alarm.
      AlarmConfigurationUpdatedTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The time stamp of the last update to the alarm configuration.
      ActionsEnabled:
        $ref: '#/definitions/ActionsEnabled'
        description: Indicates whether actions should be executed during any changes to the alarm state.
      OKActions:
        $ref: '#/definitions/ResourceList'
        description: The actions to execute when this alarm transitions to the <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).
      AlarmActions:
        $ref: '#/definitions/ResourceList'
        description: The actions to execute when this alarm transitions to the <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).
      InsufficientDataActions:
        $ref: '#/definitions/ResourceList'
        description: The actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).
      StateValue:
        $ref: '#/definitions/StateValue'
        description: The state value for the alarm.
      StateReason:
        $ref: '#/definitions/StateReason'
        description: 'An explanation for the alarm state, in text format.'
      StateReasonData:
        $ref: '#/definitions/StateReasonData'
        description: 'An explanation for the alarm state, in JSON format.'
      StateUpdatedTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The time stamp of the last update to the alarm state.
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name of the metric associated with the alarm.
      Namespace:
        $ref: '#/definitions/Namespace'
        description: The namespace of the metric associated with the alarm.
      Statistic:
        $ref: '#/definitions/Statistic'
        description: 'The statistic for the metric associated with the alarm, other than percentile. For percentile statistics, use <code>ExtendedStatistic</code>.'
      ExtendedStatistic:
        $ref: '#/definitions/ExtendedStatistic'
        description: The percentile statistic for the metric associated with the alarm. Specify a value between p0.0 and p100.
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: The dimensions for the metric associated with the alarm.
      Period:
        $ref: '#/definitions/Period'
        description: 'The period, in seconds, over which the statistic is applied.'
      Unit:
        $ref: '#/definitions/StandardUnit'
        description: The unit of the metric associated with the alarm.
      EvaluationPeriods:
        $ref: '#/definitions/EvaluationPeriods'
        description: The number of periods over which data is compared to the specified threshold.
      Threshold:
        $ref: '#/definitions/Threshold'
        description: The value to compare with the specified statistic.
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: The arithmetic operation to use when comparing the specified statistic and threshold. The specified statistic value is used as the first operand.
      TreatMissingData:
        $ref: '#/definitions/TreatMissingData'
        description: 'Sets how this alarm is to handle missing data points. If this parameter is omitted, the default behavior of <code>missing</code> is used.'
      EvaluateLowSampleCountPercentile:
        $ref: '#/definitions/EvaluateLowSampleCountPercentile'
        description: 'Used only for alarms based on percentiles. If <code>ignore</code>, the alarm state does not change during periods with too few data points to be statistically significant. If <code>evaluate</code> or this parameter is not used, the alarm will always be evaluated and possibly change state no matter how many data points are available.'
    description: Represents an alarm.
  MetricAlarms:
    type: array
    items:
      $ref: '#/definitions/MetricAlarm'
  MetricData:
    type: array
    items:
      $ref: '#/definitions/MetricDatum'
  MetricDatum:
    type: object
    required:
      - MetricName
    properties:
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name of the metric.
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: The dimensions associated with the metric.
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: 'The time the metric data was received, expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.'
      Value:
        $ref: '#/definitions/DatapointValue'
        description: '<p>The value for the metric.</p> <p>Although the parameter accepts numbers of type Double, CloudWatch rejects values that are either too small or too large. Values must be in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2). In addition, special values (for example, NaN, +Infinity, -Infinity) are not supported.</p>'
      StatisticValues:
        $ref: '#/definitions/StatisticSet'
        description: The statistical values for the metric.
      Unit:
        $ref: '#/definitions/StandardUnit'
        description: The unit of the metric.
      StorageResolution:
        $ref: '#/definitions/StorageResolution'
    description: Encapsulates the information sent to either create a metric or add new values to be aggregated into an existing metric.
  MetricLabel:
    type: string
  MetricName:
    type: string
    minLength: 1
    maxLength: 255
  Metrics:
    type: array
    items:
      $ref: '#/definitions/Metric'
  MissingRequiredParameterException:
    type: object
    properties:
      message:
        $ref: '#/definitions/AwsQueryErrorMessage'
        description: <p/>
    description: An input parameter that is required is missing.
  Namespace:
    type: string
    pattern: '[^:].*'
    minLength: 1
    maxLength: 255
  NextToken:
    type: string
    minLength: 0
    maxLength: 1024
  Period:
    type: integer
    minimum: 1
  PutDashboardInput:
    type: object
    properties:
      DashboardName:
        $ref: '#/definitions/DashboardName'
        description: 'The name of the dashboard. If a dashboard with this name already exists, this call modifies that dashboard, replacing its current contents. Otherwise, a new dashboard is created. The maximum length is 255, and valid characters are A-Z, a-z, 0-9, ".", "-", and "_".'
      DashboardBody:
        $ref: '#/definitions/DashboardBody'
        description: '<p>The detailed information about the dashboard in JSON format, including the widgets to include and their location on the dashboard.</p> <p>For more information about the syntax, see <a>CloudWatch-Dashboard-Body-Structure</a>.</p>'
  PutDashboardOutput:
    type: object
    properties:
      DashboardValidationMessages:
        $ref: '#/definitions/DashboardValidationMessages'
        description: '<p>If the input for <code>PutDashboard</code> was correct and the dashboard was successfully created or modified, this result is empty.</p> <p>If this result includes only warning messages, then the input was valid enough for the dashboard to be created or modified, but some elements of the dashboard may not render.</p> <p>If this result includes error messages, the input was not valid and the operation failed.</p>'
  PutMetricAlarmInput:
    type: object
    required:
      - AlarmName
      - MetricName
      - Namespace
      - Period
      - EvaluationPeriods
      - Threshold
      - ComparisonOperator
    properties:
      AlarmName:
        $ref: '#/definitions/AlarmName'
        description: The name for the alarm. This name must be unique within the AWS account.
      AlarmDescription:
        $ref: '#/definitions/AlarmDescription'
        description: The description for the alarm.
      ActionsEnabled:
        $ref: '#/definitions/ActionsEnabled'
        description: Indicates whether actions should be executed during any changes to the alarm state.
      OKActions:
        $ref: '#/definitions/ResourceList'
        description: '<p>The actions to execute when this alarm transitions to an <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate | arn:aws:automate:<i>region</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>'
      AlarmActions:
        $ref: '#/definitions/ResourceList'
        description: '<p>The actions to execute when this alarm transitions to the <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate | arn:aws:automate:<i>region</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>'
      InsufficientDataActions:
        $ref: '#/definitions/ResourceList'
        description: '<p>The actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate | arn:aws:automate:<i>region</i>:ec2:recover</p> <p>Valid Values (for use with IAM roles): arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0 | arn:aws:swf:us-east-1:{<i>customer-account</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>'
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name for the metric associated with the alarm.
      Namespace:
        $ref: '#/definitions/Namespace'
        description: The namespace for the metric associated with the alarm.
      Statistic:
        $ref: '#/definitions/Statistic'
        description: 'The statistic for the metric associated with the alarm, other than percentile. For percentile statistics, use <code>ExtendedStatistic</code>.'
      ExtendedStatistic:
        $ref: '#/definitions/ExtendedStatistic'
        description: The percentile statistic for the metric associated with the alarm. Specify a value between p0.0 and p100.
      Dimensions:
        $ref: '#/definitions/Dimensions'
        description: The dimensions for the metric associated with the alarm.
      Period:
        $ref: '#/definitions/Period'
        description: 'The period, in seconds, over which the specified statistic is applied. An alarm''s total current evaluation period can be no longer than one day, so this number multiplied by <code>EvaluationPeriods</code> must be 86,400 or less.'
      Unit:
        $ref: '#/definitions/StandardUnit'
        description: '<p>The unit of measure for the statistic. For example, the units for the Amazon EC2 NetworkIn metric are Bytes because NetworkIn tracks the number of bytes that an instance receives on all network interfaces. You can also specify a unit when you create a custom metric. Units help provide conceptual meaning to your data. Metric data points that specify a unit of measure, such as Percent, are aggregated separately.</p> <p>If you specify a unit, you must use a unit that is appropriate for the metric. Otherwise, the CloudWatch alarm can get stuck in the <code>INSUFFICIENT DATA</code> state. </p>'
      EvaluationPeriods:
        $ref: '#/definitions/EvaluationPeriods'
        description: 'The number of periods over which data is compared to the specified threshold. An alarm''s total current evaluation period can be no longer than one day, so this number multiplied by <code>Period</code> must be 86,400 or less.'
      Threshold:
        $ref: '#/definitions/Threshold'
        description: The value against which the specified statistic is compared.
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
        description: ' The arithmetic operation to use when comparing the specified statistic and threshold. The specified statistic value is used as the first operand.'
      TreatMissingData:
        $ref: '#/definitions/TreatMissingData'
        description: '<p> Sets how this alarm is to handle missing data points. If <code>TreatMissingData</code> is omitted, the default behavior of <code>missing</code> is used. For more information, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#alarms-and-missing-data">Configuring How CloudWatch Alarms Treats Missing Data</a>.</p> <p>Valid Values: <code>breaching | notBreaching | ignore | missing</code> </p>'
      EvaluateLowSampleCountPercentile:
        $ref: '#/definitions/EvaluateLowSampleCountPercentile'
        description: '<p> Used only for alarms based on percentiles. If you specify <code>ignore</code>, the alarm state does not change during periods with too few data points to be statistically significant. If you specify <code>evaluate</code> or omit this parameter, the alarm is always evaluated and possibly changes state no matter how many data points are available. For more information, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#percentiles-with-low-samples">Percentile-Based CloudWatch Alarms and Low Data Samples</a>.</p> <p>Valid Values: <code>evaluate | ignore</code> </p>'
  PutMetricDataInput:
    type: object
    required:
      - Namespace
      - MetricData
    properties:
      Namespace:
        $ref: '#/definitions/Namespace'
        description: <p>The namespace for the metric data.</p> <p>You cannot specify a namespace that begins with "AWS/". Namespaces that begin with "AWS/" are reserved for use by Amazon Web Services products.</p>
      MetricData:
        $ref: '#/definitions/MetricData'
        description: The data for the metric.
  ResourceList:
    type: array
    items:
      $ref: '#/definitions/ResourceName'
    maxItems: 5
  ResourceName:
    type: string
    minLength: 1
    maxLength: 1024
  ResourceNotFound:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: <p/>
    description: The named resource does not exist.
  SetAlarmStateInput:
    type: object
    required:
      - AlarmName
      - StateValue
      - StateReason
    properties:
      AlarmName:
        $ref: '#/definitions/AlarmName'
        description: The name for the alarm. This name must be unique within the AWS account. The maximum length is 255 characters.
      StateValue:
        $ref: '#/definitions/StateValue'
        description: The value of the state.
      StateReason:
        $ref: '#/definitions/StateReason'
        description: 'The reason that this alarm is set to this specific state, in text format.'
      StateReasonData:
        $ref: '#/definitions/StateReasonData'
        description: 'The reason that this alarm is set to this specific state, in JSON format.'
  Size:
    type: integer
  StandardUnit:
    type: string
    enum:
      - Seconds
      - Microseconds
      - Milliseconds
      - Bytes
      - Kilobytes
      - Megabytes
      - Gigabytes
      - Terabytes
      - Bits
      - Kilobits
      - Megabits
      - Gigabits
      - Terabits
      - Percent
      - Count
      - Bytes/Second
      - Kilobytes/Second
      - Megabytes/Second
      - Gigabytes/Second
      - Terabytes/Second
      - Bits/Second
      - Kilobits/Second
      - Megabits/Second
      - Gigabits/Second
      - Terabits/Second
      - Count/Second
      - None
  StateReason:
    type: string
    minLength: 0
    maxLength: 1023
  StateReasonData:
    type: string
    minLength: 0
    maxLength: 4000
  StateValue:
    type: string
    enum:
      - OK
      - ALARM
      - INSUFFICIENT_DATA
  Statistic:
    type: string
    enum:
      - SampleCount
      - Average
      - Sum
      - Minimum
      - Maximum
  StatisticSet:
    type: object
    required:
      - SampleCount
      - Sum
      - Minimum
      - Maximum
    properties:
      SampleCount:
        $ref: '#/definitions/DatapointValue'
        description: The number of samples used for the statistic set.
      Sum:
        $ref: '#/definitions/DatapointValue'
        description: The sum of values for the sample set.
      Minimum:
        $ref: '#/definitions/DatapointValue'
        description: The minimum value of the sample set.
      Maximum:
        $ref: '#/definitions/DatapointValue'
        description: The maximum value of the sample set.
    description: 'Represents a set of statistics that describes a specific metric. '
  Statistics:
    type: array
    items:
      $ref: '#/definitions/Statistic'
    minItems: 1
    maxItems: 5
  StorageResolution:
    type: integer
    minimum: 1
  Threshold:
    type: number
    format: double
  Timestamp:
    type: string
    format: date-time
  TreatMissingData:
    type: string
    minLength: 1
    maxLength: 255
