swagger: '2.0'
schemes:
  - https
  - http
host: monitoring.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically change the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudWatch
  version: '2010-08-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/monitoring-2010-08-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: monitoring
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/monitoring/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=DeleteAlarms':
    get:
      description: 'Deletes the specified alarms. You can delete up to 50 alarms in one operation. In the event of an error, no alarms are deleted.'
      operationId: GET DeleteAlarms
      parameters:
        - description: The alarms to be deleted.
          in: query
          items:
            type: string
          name: AlarmNames
          required: true
          type: array
        - enum:
            - DeleteAlarms
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
      x-aws-operation-name: DeleteAlarms
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the specified alarms. You can delete up to 50 alarms in one operation. In the event of an error, no alarms are deleted.'
      operationId: POST DeleteAlarms
      parameters:
        - description: The alarms to be deleted.
          in: formData
          items:
            type: string
          name: AlarmNames
          required: true
          type: array
        - enum:
            - DeleteAlarms
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
      x-aws-operation-name: DeleteAlarms
  '/#Action=DeleteAnomalyDetector':
    get:
      description: Deletes the specified anomaly detection model from your account.
      operationId: GET DeleteAnomalyDetector
      parameters:
        - description: The namespace associated with the anomaly detection model to delete.
          in: query
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: The metric name associated with the anomaly detection model to delete.
          in: query
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: The metric dimensions associated with the anomaly detection model to delete.
          in: query
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: The statistic associated with the anomaly detection model to delete.
          in: query
          name: Stat
          required: true
          type: string
        - enum:
            - DeleteAnomalyDetector
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnomalyDetectorOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      x-aws-operation-name: DeleteAnomalyDetector
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified anomaly detection model from your account.
      operationId: POST DeleteAnomalyDetector
      parameters:
        - description: The namespace associated with the anomaly detection model to delete.
          in: formData
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: The metric name associated with the anomaly detection model to delete.
          in: formData
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: The metric dimensions associated with the anomaly detection model to delete.
          in: formData
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: The statistic associated with the anomaly detection model to delete.
          in: formData
          name: Stat
          required: true
          type: string
        - enum:
            - DeleteAnomalyDetector
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnomalyDetectorOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      x-aws-operation-name: DeleteAnomalyDetector
  '/#Action=DeleteDashboards':
    get:
      description: 'Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.'
      operationId: GET DeleteDashboards
      parameters:
        - description: The dashboards to be deleted. This parameter is required.
          in: query
          items:
            type: string
          name: DashboardNames
          required: true
          type: array
        - enum:
            - DeleteDashboards
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: DeleteDashboards
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.'
      operationId: POST DeleteDashboards
      parameters:
        - description: The dashboards to be deleted. This parameter is required.
          in: formData
          items:
            type: string
          name: DashboardNames
          required: true
          type: array
        - enum:
            - DeleteDashboards
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: DeleteDashboards
  '/#Action=DescribeAlarmHistory':
    get:
      description: '<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>'
      operationId: GET DescribeAlarmHistory
      parameters:
        - description: The name of the alarm.
          in: query
          maxLength: 255
          minLength: 1
          name: AlarmName
          required: false
          type: string
        - description: The type of alarm histories to retrieve.
          enum:
            - ConfigurationUpdate
            - StateUpdate
            - Action
          in: query
          name: HistoryItemType
          required: false
          type: string
        - description: The starting date to retrieve alarm history.
          format: date-time
          in: query
          name: StartDate
          required: false
          type: string
        - description: The ending date to retrieve alarm history.
          format: date-time
          in: query
          name: EndDate
          required: false
          type: string
        - description: The maximum number of alarm history records to retrieve.
          in: query
          maximum: 100
          minimum: 1
          name: MaxRecords
          required: false
          type: integer
        - description: The token returned by a previous call to indicate that there is more data available.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - DescribeAlarmHistory
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmHistoryOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      x-aws-operation-name: DescribeAlarmHistory
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>'
      operationId: POST DescribeAlarmHistory
      parameters:
        - description: The name of the alarm.
          in: formData
          maxLength: 255
          minLength: 1
          name: AlarmName
          required: false
          type: string
        - description: The type of alarm histories to retrieve.
          enum:
            - ConfigurationUpdate
            - StateUpdate
            - Action
          in: formData
          name: HistoryItemType
          required: false
          type: string
        - description: The starting date to retrieve alarm history.
          format: date-time
          in: formData
          name: StartDate
          required: false
          type: string
        - description: The ending date to retrieve alarm history.
          format: date-time
          in: formData
          name: EndDate
          required: false
          type: string
        - description: The maximum number of alarm history records to retrieve.
          in: formData
          maximum: 100
          minimum: 1
          name: MaxRecords
          required: false
          type: integer
        - description: The token returned by a previous call to indicate that there is more data available.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - DescribeAlarmHistory
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmHistoryOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      x-aws-operation-name: DescribeAlarmHistory
  '/#Action=DescribeAlarms':
    get:
      description: 'Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.'
      operationId: GET DescribeAlarms
      parameters:
        - description: The names of the alarms.
          in: query
          items:
            type: string
          name: AlarmNames
          required: false
          type: array
        - description: 'The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.'
          in: query
          maxLength: 255
          minLength: 1
          name: AlarmNamePrefix
          required: false
          type: string
        - description: The state value to be used in matching alarms.
          enum:
            - OK
            - ALARM
            - INSUFFICIENT_DATA
          in: query
          name: StateValue
          required: false
          type: string
        - description: The action name prefix.
          in: query
          maxLength: 1024
          minLength: 1
          name: ActionPrefix
          required: false
          type: string
        - description: The maximum number of alarm descriptions to retrieve.
          in: query
          maximum: 100
          minimum: 1
          name: MaxRecords
          required: false
          type: integer
        - description: The token returned by a previous call to indicate that there is more data available.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - DescribeAlarms
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      x-aws-operation-name: DescribeAlarms
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.'
      operationId: POST DescribeAlarms
      parameters:
        - description: The names of the alarms.
          in: formData
          items:
            type: string
          name: AlarmNames
          required: false
          type: array
        - description: 'The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.'
          in: formData
          maxLength: 255
          minLength: 1
          name: AlarmNamePrefix
          required: false
          type: string
        - description: The state value to be used in matching alarms.
          enum:
            - OK
            - ALARM
            - INSUFFICIENT_DATA
          in: formData
          name: StateValue
          required: false
          type: string
        - description: The action name prefix.
          in: formData
          maxLength: 1024
          minLength: 1
          name: ActionPrefix
          required: false
          type: string
        - description: The maximum number of alarm descriptions to retrieve.
          in: formData
          maximum: 100
          minimum: 1
          name: MaxRecords
          required: false
          type: integer
        - description: The token returned by a previous call to indicate that there is more data available.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - DescribeAlarms
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      x-aws-operation-name: DescribeAlarms
  '/#Action=DescribeAlarmsForMetric':
    get:
      description: 'Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.'
      operationId: GET DescribeAlarmsForMetric
      parameters:
        - description: The name of the metric.
          in: query
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: The namespace of the metric.
          in: query
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: 'The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>.'
          enum:
            - SampleCount
            - Average
            - Sum
            - Minimum
            - Maximum
          in: query
          name: Statistic
          required: false
          type: string
        - description: The percentile statistic for the metric. Specify a value between p0.0 and p100.
          in: query
          name: ExtendedStatistic
          pattern: 'p(\d{1,2}(\.\d{0,2})?|100)'
          required: false
          type: string
        - description: 'The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed.'
          in: query
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: 'The period, in seconds, over which the statistic is applied.'
          in: query
          minimum: 1
          name: Period
          required: false
          type: integer
        - description: The unit for the metric.
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
          in: query
          name: Unit
          required: false
          type: string
        - enum:
            - DescribeAlarmsForMetric
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsForMetricOutput'
      x-aws-operation-name: DescribeAlarmsForMetric
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.'
      operationId: POST DescribeAlarmsForMetric
      parameters:
        - description: The name of the metric.
          in: formData
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: The namespace of the metric.
          in: formData
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: 'The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>.'
          enum:
            - SampleCount
            - Average
            - Sum
            - Minimum
            - Maximum
          in: formData
          name: Statistic
          required: false
          type: string
        - description: The percentile statistic for the metric. Specify a value between p0.0 and p100.
          in: formData
          name: ExtendedStatistic
          pattern: 'p(\d{1,2}(\.\d{0,2})?|100)'
          required: false
          type: string
        - description: 'The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed.'
          in: formData
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: 'The period, in seconds, over which the statistic is applied.'
          in: formData
          minimum: 1
          name: Period
          required: false
          type: integer
        - description: The unit for the metric.
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
          in: formData
          name: Unit
          required: false
          type: string
        - enum:
            - DescribeAlarmsForMetric
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsForMetricOutput'
      x-aws-operation-name: DescribeAlarmsForMetric
  '/#Action=DescribeAnomalyDetectors':
    get:
      description: 'Lists the anomaly detection models that you have created in your account. You can list all models in your account or filter the results to only the models that are related to a certain namespace, metric name, or metric dimension.'
      operationId: GET DescribeAnomalyDetectors
      parameters:
        - description: Use the token returned by the previous operation to request the next page of results.
          in: query
          name: NextToken
          required: false
          type: string
        - description: '<p>The maximum number of results to return in one operation. The maximum value you can specify is 10.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>'
          in: query
          minimum: 1
          name: MaxResults
          required: false
          type: integer
        - description: Limits the results to only the anomaly detection models that are associated with the specified namespace.
          in: query
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: false
          type: string
        - description: 'Limits the results to only the anomaly detection models that are associated with the specified metric name. If there are multiple metrics with this name in different namespaces that have anomaly detection models, they''re all returned.'
          in: query
          maxLength: 255
          minLength: 1
          name: MetricName
          required: false
          type: string
        - description: 'Limits the results to only the anomaly detection models that are associated with the specified metric dimensions. If there are multiple metrics that have these dimensions and have anomaly detection models associated, they''re all returned.'
          in: query
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - enum:
            - DescribeAnomalyDetectors
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnomalyDetectorsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      x-aws-operation-name: DescribeAnomalyDetectors
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the anomaly detection models that you have created in your account. You can list all models in your account or filter the results to only the models that are related to a certain namespace, metric name, or metric dimension.'
      operationId: POST DescribeAnomalyDetectors
      parameters:
        - description: Use the token returned by the previous operation to request the next page of results.
          in: formData
          name: NextToken
          required: false
          type: string
        - description: '<p>The maximum number of results to return in one operation. The maximum value you can specify is 10.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>'
          in: formData
          minimum: 1
          name: MaxResults
          required: false
          type: integer
        - description: Limits the results to only the anomaly detection models that are associated with the specified namespace.
          in: formData
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: false
          type: string
        - description: 'Limits the results to only the anomaly detection models that are associated with the specified metric name. If there are multiple metrics with this name in different namespaces that have anomaly detection models, they''re all returned.'
          in: formData
          maxLength: 255
          minLength: 1
          name: MetricName
          required: false
          type: string
        - description: 'Limits the results to only the anomaly detection models that are associated with the specified metric dimensions. If there are multiple metrics that have these dimensions and have anomaly detection models associated, they''re all returned.'
          in: formData
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - enum:
            - DescribeAnomalyDetectors
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnomalyDetectorsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      x-aws-operation-name: DescribeAnomalyDetectors
  '/#Action=DisableAlarmActions':
    get:
      description: 'Disables the actions for the specified alarms. When an alarm''s actions are disabled, the alarm actions do not execute when the alarm state changes.'
      operationId: GET DisableAlarmActions
      parameters:
        - description: The names of the alarms.
          in: query
          items:
            type: string
          name: AlarmNames
          required: true
          type: array
        - enum:
            - DisableAlarmActions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: DisableAlarmActions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Disables the actions for the specified alarms. When an alarm''s actions are disabled, the alarm actions do not execute when the alarm state changes.'
      operationId: POST DisableAlarmActions
      parameters:
        - description: The names of the alarms.
          in: formData
          items:
            type: string
          name: AlarmNames
          required: true
          type: array
        - enum:
            - DisableAlarmActions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: DisableAlarmActions
  '/#Action=EnableAlarmActions':
    get:
      description: Enables the actions for the specified alarms.
      operationId: GET EnableAlarmActions
      parameters:
        - description: The names of the alarms.
          in: query
          items:
            type: string
          name: AlarmNames
          required: true
          type: array
        - enum:
            - EnableAlarmActions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: EnableAlarmActions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Enables the actions for the specified alarms.
      operationId: POST EnableAlarmActions
      parameters:
        - description: The names of the alarms.
          in: formData
          items:
            type: string
          name: AlarmNames
          required: true
          type: array
        - enum:
            - EnableAlarmActions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: EnableAlarmActions
  '/#Action=GetDashboard':
    get:
      description: '<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>'
      operationId: GET GetDashboard
      parameters:
        - description: The name of the dashboard to be described.
          in: query
          name: DashboardName
          required: true
          type: string
        - enum:
            - GetDashboard
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDashboardOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: GetDashboard
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>'
      operationId: POST GetDashboard
      parameters:
        - description: The name of the dashboard to be described.
          in: formData
          name: DashboardName
          required: true
          type: string
        - enum:
            - GetDashboard
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDashboardOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: GetDashboard
  '/#Action=GetMetricData':
    get:
      description: '<p>You can use the <code>GetMetricData</code> API to retrieve as many as 100 different metrics in a single request, with a total of as many as 100,800 datapoints. You can also optionally perform math expressions on the values of the returned statistics, to create new time series that represent new insights into your data. For example, using Lambda metrics, you could divide the Errors metric by the Invocations metric to get an error rate time series. For more information about metric math expressions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than calls to <code>GetMetricStatistics</code>. For more information about pricing, see <a href="https://aws.amazon.com/cloudwatch/pricing/">Amazon CloudWatch Pricing</a>.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>'
      operationId: GET GetMetricData
      parameters:
        - description: 'The metric queries to be returned. A single <code>GetMetricData</code> call can include as many as 100 <code>MetricDataQuery</code> structures. Each of these structures can specify either a metric to retrieve, or a math expression to perform on retrieved data. '
          in: query
          items:
            type: string
          name: MetricDataQueries
          required: true
          type: array
        - description: '<p>The time stamp indicating the earliest data to be returned.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. </p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>StartTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>StartTime</code>.</p>'
          format: date-time
          in: query
          name: StartTime
          required: true
          type: string
        - description: '<p>The time stamp indicating the latest data to be returned.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp.</p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>EndTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>EndTime</code>.</p>'
          format: date-time
          in: query
          name: EndTime
          required: true
          type: string
        - description: 'Include this value, if it was returned by the previous call, to get the next set of data points.'
          in: query
          name: NextToken
          required: false
          type: string
        - description: The order in which data points should be returned. <code>TimestampDescending</code> returns the newest data first and paginates when the <code>MaxDatapoints</code> limit is reached. <code>TimestampAscending</code> returns the oldest data first and paginates when the <code>MaxDatapoints</code> limit is reached.
          enum:
            - TimestampDescending
            - TimestampAscending
          in: query
          name: ScanBy
          required: false
          type: string
        - description: 'The maximum number of data points the request should return before paginating. If you omit this, the default of 100,800 is used.'
          in: query
          name: MaxDatapoints
          required: false
          type: integer
        - enum:
            - GetMetricData
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricDataOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      x-aws-operation-name: GetMetricData
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>You can use the <code>GetMetricData</code> API to retrieve as many as 100 different metrics in a single request, with a total of as many as 100,800 datapoints. You can also optionally perform math expressions on the values of the returned statistics, to create new time series that represent new insights into your data. For example, using Lambda metrics, you could divide the Errors metric by the Invocations metric to get an error rate time series. For more information about metric math expressions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than calls to <code>GetMetricStatistics</code>. For more information about pricing, see <a href="https://aws.amazon.com/cloudwatch/pricing/">Amazon CloudWatch Pricing</a>.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>'
      operationId: POST GetMetricData
      parameters:
        - description: 'The metric queries to be returned. A single <code>GetMetricData</code> call can include as many as 100 <code>MetricDataQuery</code> structures. Each of these structures can specify either a metric to retrieve, or a math expression to perform on retrieved data. '
          in: formData
          items:
            type: string
          name: MetricDataQueries
          required: true
          type: array
        - description: '<p>The time stamp indicating the earliest data to be returned.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. </p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>StartTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>StartTime</code>.</p>'
          format: date-time
          in: formData
          name: StartTime
          required: true
          type: string
        - description: '<p>The time stamp indicating the latest data to be returned.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp.</p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>EndTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>EndTime</code>.</p>'
          format: date-time
          in: formData
          name: EndTime
          required: true
          type: string
        - description: 'Include this value, if it was returned by the previous call, to get the next set of data points.'
          in: formData
          name: NextToken
          required: false
          type: string
        - description: The order in which data points should be returned. <code>TimestampDescending</code> returns the newest data first and paginates when the <code>MaxDatapoints</code> limit is reached. <code>TimestampAscending</code> returns the oldest data first and paginates when the <code>MaxDatapoints</code> limit is reached.
          enum:
            - TimestampDescending
            - TimestampAscending
          in: formData
          name: ScanBy
          required: false
          type: string
        - description: 'The maximum number of data points the request should return before paginating. If you omit this, the default of 100,800 is used.'
          in: formData
          name: MaxDatapoints
          required: false
          type: integer
        - enum:
            - GetMetricData
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricDataOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      x-aws-operation-name: GetMetricData
  '/#Action=GetMetricStatistics':
    get:
      description: '<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by AWS services, see the <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>'
      operationId: GET GetMetricStatistics
      parameters:
        - description: 'The namespace of the metric, with or without spaces.'
          in: query
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: 'The name of the metric, with or without spaces.'
          in: query
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: 'The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric. If a specific combination of dimensions was not published, you can''t retrieve statistics for it. You must specify the same dimensions that were used when the metrics were created. For an example, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.'
          in: query
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: '<p>The time stamp that determines the first data point to return. Start times are evaluated relative to the time that CloudWatch receives the request.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p>'
          format: date-time
          in: query
          name: StartTime
          required: true
          type: string
        - description: '<p>The time stamp that determines the last data point to return.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>'
          format: date-time
          in: query
          name: EndTime
          required: true
          type: string
        - description: '<p>The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p> <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than 3 hours ago, you must specify the period as follows or no data points in that time range is returned:</p> <ul> <li> <p>Start time between 3 hours and 15 days ago - Use a multiple of 60 seconds (1 minute).</p> </li> <li> <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p> </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p> </li> </ul>'
          in: query
          minimum: 1
          name: Period
          required: true
          type: integer
        - description: 'The metric statistics, other than percentile. For percentile statistics, use <code>ExtendedStatistics</code>. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both.'
          in: query
          items:
            type: string
          name: Statistics
          required: false
          type: array
        - description: 'The percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both. Percentile statistics are not available for metrics when any of the metric values are negative numbers.'
          in: query
          items:
            type: string
          name: ExtendedStatistics
          required: false
          type: array
        - description: 'The unit for a given metric. If you omit <code>Unit</code>, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.'
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
          in: query
          name: Unit
          required: false
          type: string
        - enum:
            - GetMetricStatistics
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricStatisticsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: GetMetricStatistics
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by AWS services, see the <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>'
      operationId: POST GetMetricStatistics
      parameters:
        - description: 'The namespace of the metric, with or without spaces.'
          in: formData
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: 'The name of the metric, with or without spaces.'
          in: formData
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: 'The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric. If a specific combination of dimensions was not published, you can''t retrieve statistics for it. You must specify the same dimensions that were used when the metrics were created. For an example, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.'
          in: formData
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: '<p>The time stamp that determines the first data point to return. Start times are evaluated relative to the time that CloudWatch receives the request.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p>'
          format: date-time
          in: formData
          name: StartTime
          required: true
          type: string
        - description: '<p>The time stamp that determines the last data point to return.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp. The time stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>'
          format: date-time
          in: formData
          name: EndTime
          required: true
          type: string
        - description: '<p>The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p> <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than 3 hours ago, you must specify the period as follows or no data points in that time range is returned:</p> <ul> <li> <p>Start time between 3 hours and 15 days ago - Use a multiple of 60 seconds (1 minute).</p> </li> <li> <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p> </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p> </li> </ul>'
          in: formData
          minimum: 1
          name: Period
          required: true
          type: integer
        - description: 'The metric statistics, other than percentile. For percentile statistics, use <code>ExtendedStatistics</code>. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both.'
          in: formData
          items:
            type: string
          name: Statistics
          required: false
          type: array
        - description: 'The percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both. Percentile statistics are not available for metrics when any of the metric values are negative numbers.'
          in: formData
          items:
            type: string
          name: ExtendedStatistics
          required: false
          type: array
        - description: 'The unit for a given metric. If you omit <code>Unit</code>, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.'
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
          in: formData
          name: Unit
          required: false
          type: string
        - enum:
            - GetMetricStatistics
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricStatisticsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: GetMetricStatistics
  '/#Action=GetMetricWidgetImage':
    get:
      description: '<p>You can use the <code>GetMetricWidgetImage</code> API to retrieve a snapshot graph of one or more Amazon CloudWatch metrics as a bitmap image. You can then embed this image into your services and products, such as wiki pages, reports, and documents. You could also retrieve images regularly, such as every minute, and create your own custom live dashboard.</p> <p>The graph you retrieve can include all CloudWatch metric graph features, including metric math and horizontal and vertical annotations.</p> <p>There is a limit of 20 transactions per second for this API. Each <code>GetMetricWidgetImage</code> action has the following limits:</p> <ul> <li> <p>As many as 100 metrics in the graph.</p> </li> <li> <p>Up to 100 KB uncompressed payload.</p> </li> </ul>'
      operationId: GET GetMetricWidgetImage
      parameters:
        - description: '<p>A JSON string that defines the bitmap graph to be retrieved. The string includes the metrics to include in the graph, statistics, annotations, title, axis limits, and so on. You can include only one <code>MetricWidget</code> parameter in each <code>GetMetricWidgetImage</code> call.</p> <p>For more information about the syntax of <code>MetricWidget</code> see <a>CloudWatch-Metric-Widget-Structure</a>.</p> <p>If any metric on the graph could not load all the requested data points, an orange triangle with an exclamation point appears next to the graph legend.</p>'
          in: query
          name: MetricWidget
          required: true
          type: string
        - description: '<p>The format of the resulting image. Only PNG images are supported.</p> <p>The default is <code>png</code>. If you specify <code>png</code>, the API returns an HTTP response with the content-type set to <code>text/xml</code>. The image data is in a <code>MetricWidgetImage</code> field. For example:</p> <p> <code> &lt;GetMetricWidgetImageResponse xmlns=&lt;URLstring&gt;&gt;</code> </p> <p> <code> &lt;GetMetricWidgetImageResult&gt;</code> </p> <p> <code> &lt;MetricWidgetImage&gt;</code> </p> <p> <code> iVBORw0KGgoAAAANSUhEUgAAAlgAAAGQEAYAAAAip...</code> </p> <p> <code> &lt;/MetricWidgetImage&gt;</code> </p> <p> <code> &lt;/GetMetricWidgetImageResult&gt;</code> </p> <p> <code> &lt;ResponseMetadata&gt;</code> </p> <p> <code> &lt;RequestId&gt;6f0d4192-4d42-11e8-82c1-f539a07e0e3b&lt;/RequestId&gt;</code> </p> <p> <code> &lt;/ResponseMetadata&gt;</code> </p> <p> <code>&lt;/GetMetricWidgetImageResponse&gt;</code> </p> <p>The <code>image/png</code> setting is intended only for custom HTTP requests. For most use cases, and all actions using an AWS SDK, you should use <code>png</code>. If you specify <code>image/png</code>, the HTTP response has a content-type set to <code>image/png</code>, and the body of the response is a PNG image. </p>'
          in: query
          name: OutputFormat
          required: false
          type: string
        - enum:
            - GetMetricWidgetImage
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricWidgetImageOutput'
      x-aws-operation-name: GetMetricWidgetImage
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>You can use the <code>GetMetricWidgetImage</code> API to retrieve a snapshot graph of one or more Amazon CloudWatch metrics as a bitmap image. You can then embed this image into your services and products, such as wiki pages, reports, and documents. You could also retrieve images regularly, such as every minute, and create your own custom live dashboard.</p> <p>The graph you retrieve can include all CloudWatch metric graph features, including metric math and horizontal and vertical annotations.</p> <p>There is a limit of 20 transactions per second for this API. Each <code>GetMetricWidgetImage</code> action has the following limits:</p> <ul> <li> <p>As many as 100 metrics in the graph.</p> </li> <li> <p>Up to 100 KB uncompressed payload.</p> </li> </ul>'
      operationId: POST GetMetricWidgetImage
      parameters:
        - description: '<p>A JSON string that defines the bitmap graph to be retrieved. The string includes the metrics to include in the graph, statistics, annotations, title, axis limits, and so on. You can include only one <code>MetricWidget</code> parameter in each <code>GetMetricWidgetImage</code> call.</p> <p>For more information about the syntax of <code>MetricWidget</code> see <a>CloudWatch-Metric-Widget-Structure</a>.</p> <p>If any metric on the graph could not load all the requested data points, an orange triangle with an exclamation point appears next to the graph legend.</p>'
          in: formData
          name: MetricWidget
          required: true
          type: string
        - description: '<p>The format of the resulting image. Only PNG images are supported.</p> <p>The default is <code>png</code>. If you specify <code>png</code>, the API returns an HTTP response with the content-type set to <code>text/xml</code>. The image data is in a <code>MetricWidgetImage</code> field. For example:</p> <p> <code> &lt;GetMetricWidgetImageResponse xmlns=&lt;URLstring&gt;&gt;</code> </p> <p> <code> &lt;GetMetricWidgetImageResult&gt;</code> </p> <p> <code> &lt;MetricWidgetImage&gt;</code> </p> <p> <code> iVBORw0KGgoAAAANSUhEUgAAAlgAAAGQEAYAAAAip...</code> </p> <p> <code> &lt;/MetricWidgetImage&gt;</code> </p> <p> <code> &lt;/GetMetricWidgetImageResult&gt;</code> </p> <p> <code> &lt;ResponseMetadata&gt;</code> </p> <p> <code> &lt;RequestId&gt;6f0d4192-4d42-11e8-82c1-f539a07e0e3b&lt;/RequestId&gt;</code> </p> <p> <code> &lt;/ResponseMetadata&gt;</code> </p> <p> <code>&lt;/GetMetricWidgetImageResponse&gt;</code> </p> <p>The <code>image/png</code> setting is intended only for custom HTTP requests. For most use cases, and all actions using an AWS SDK, you should use <code>png</code>. If you specify <code>image/png</code>, the HTTP response has a content-type set to <code>image/png</code>, and the body of the response is a PNG image. </p>'
          in: formData
          name: OutputFormat
          required: false
          type: string
        - enum:
            - GetMetricWidgetImage
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricWidgetImageOutput'
      x-aws-operation-name: GetMetricWidgetImage
  '/#Action=ListDashboards':
    get:
      description: '<p>Returns a list of the dashboards for your account. If you include <code>DashboardNamePrefix</code>, only those dashboards with names starting with the prefix are listed. Otherwise, all dashboards in your account are listed. </p> <p> <code>ListDashboards</code> returns up to 1000 results on one page. If there are more than 1000 dashboards, you can call <code>ListDashboards</code> again and include the value you received for <code>NextToken</code> in the first call, to receive the next 1000 results.</p>'
      operationId: GET ListDashboards
      parameters:
        - description: 'If you specify this parameter, only the dashboards with names starting with the specified string are listed. The maximum length is 255, and valid characters are A-Z, a-z, 0-9, ".", "-", and "_". '
          in: query
          name: DashboardNamePrefix
          required: false
          type: string
        - description: The token returned by a previous call to indicate that there is more data available.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListDashboards
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: ListDashboards
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of the dashboards for your account. If you include <code>DashboardNamePrefix</code>, only those dashboards with names starting with the prefix are listed. Otherwise, all dashboards in your account are listed. </p> <p> <code>ListDashboards</code> returns up to 1000 results on one page. If there are more than 1000 dashboards, you can call <code>ListDashboards</code> again and include the value you received for <code>NextToken</code> in the first call, to receive the next 1000 results.</p>'
      operationId: POST ListDashboards
      parameters:
        - description: 'If you specify this parameter, only the dashboards with names starting with the specified string are listed. The maximum length is 255, and valid characters are A-Z, a-z, 0-9, ".", "-", and "_". '
          in: formData
          name: DashboardNamePrefix
          required: false
          type: string
        - description: The token returned by a previous call to indicate that there is more data available.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListDashboards
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: ListDashboards
  '/#Action=ListMetrics':
    get:
      description: '<p>List the specified metrics. You can use the returned metrics with <a>GetMetricData</a> or <a>GetMetricStatistics</a> to obtain statistical data.</p> <p>Up to 500 results are returned for any one call. To retrieve additional results, use the returned token with subsequent calls.</p> <p>After you create a metric, allow up to fifteen minutes before the metric appears. Statistics about the metric, however, are available sooner using <a>GetMetricData</a> or <a>GetMetricStatistics</a>.</p>'
      operationId: GET ListMetrics
      parameters:
        - description: The namespace to filter against.
          in: query
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: false
          type: string
        - description: The name of the metric to filter against.
          in: query
          maxLength: 255
          minLength: 1
          name: MetricName
          required: false
          type: string
        - description: The dimensions to filter against.
          in: query
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: The token returned by a previous call to indicate that there is more data available.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListMetrics
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMetricsOutput'
        '480':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      x-aws-operation-name: ListMetrics
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>List the specified metrics. You can use the returned metrics with <a>GetMetricData</a> or <a>GetMetricStatistics</a> to obtain statistical data.</p> <p>Up to 500 results are returned for any one call. To retrieve additional results, use the returned token with subsequent calls.</p> <p>After you create a metric, allow up to fifteen minutes before the metric appears. Statistics about the metric, however, are available sooner using <a>GetMetricData</a> or <a>GetMetricStatistics</a>.</p>'
      operationId: POST ListMetrics
      parameters:
        - description: The namespace to filter against.
          in: formData
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: false
          type: string
        - description: The name of the metric to filter against.
          in: formData
          maxLength: 255
          minLength: 1
          name: MetricName
          required: false
          type: string
        - description: The dimensions to filter against.
          in: formData
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: The token returned by a previous call to indicate that there is more data available.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListMetrics
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMetricsOutput'
        '480':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      x-aws-operation-name: ListMetrics
  '/#Action=ListTagsForResource':
    get:
      description: Displays the tags associated with a CloudWatch resource. Alarms support tagging.
      operationId: GET ListTagsForResource
      parameters:
        - description: 'The ARN of the CloudWatch resource that you want to view tags for. For more information on ARN format, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-cloudwatch">Example ARNs</a> in the <i>Amazon Web Services General Reference</i>.'
          in: query
          maxLength: 1024
          minLength: 1
          name: ResourceARN
          required: true
          type: string
        - enum:
            - ListTagsForResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: ListTagsForResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Displays the tags associated with a CloudWatch resource. Alarms support tagging.
      operationId: POST ListTagsForResource
      parameters:
        - description: 'The ARN of the CloudWatch resource that you want to view tags for. For more information on ARN format, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-cloudwatch">Example ARNs</a> in the <i>Amazon Web Services General Reference</i>.'
          in: formData
          maxLength: 1024
          minLength: 1
          name: ResourceARN
          required: true
          type: string
        - enum:
            - ListTagsForResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-08-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      x-aws-operation-name: ListTagsForResource
  '/#Action=PutAnomalyDetector':
    get:
      description: '<p>Creates an anomaly detection model for a CloudWatch metric. You can use the model to display a band of expected normal values when the metric is graphed.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Anomaly_Detection.html">CloudWatch Anomaly Detection</a>.</p>'
      operationId: GET PutAnomalyDetector
      parameters:
        - description: The namespace of the metric to create the anomaly detection model for.
          in: query
          maxLength: 255
          minLength: 1
          name: Namespace
          pattern: '[^:].*'
          required: true
          type: string
        - description: The name of the metric to create the anomaly detection model for.
          in: query
          maxLength: 255
          minLength: 1
          name: MetricName
          required: true
          type: string
        - description: The metric dimensions to create the anomaly detection model for.
          in: query
          items:
            type: string
          name: Dimensions
          required: false
          type: array
        - description: The statistic to use for the metric and the anomaly detection model.
          in: query
          name: Stat
          required: true
          type: string
        - description: |-
            The configuration specifies details about how the anomaly detection model is to be trained, including time ranges to exclude from use for training the model and the time zone to use for the metric.
            An array of time ranges to exclude from use when the anomaly detection model is trained. Use this to make sure that events that could cause unusual values for the metric, such as deployments, aren't used when CloudWatch creates the model.
          in: query
          items:
            type: string
          name: Configuration.ExcludedTimeRanges
          type: array
        - description: |-
            The configuration specifies details about how the anomaly detection model is to be trained, including time ranges to exclude from use for training the model and the time zone to use for the metric.
[...]
