swagger: '2.0'
info:
  version: '2010-08-01'
  x-release: v4
  title: Amazon CloudWatch
  description: '<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically change the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: monitoring
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/monitoring-2010-08-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/monitoring/'
host: monitoring.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://monitoring.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The CloudWatch multi-region endpoint
  - url: 'https://monitoring.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The CloudWatch multi-region endpoint
  - url: 'http://monitoring.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The CloudWatch endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://monitoring.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The CloudWatch endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=DeleteAlarms':
    get:
      x-aws-operation-name: DeleteAlarms
      operationId: GET DeleteAlarms
      description: 'Deletes the specified alarms. You can delete up to 50 alarms in one operation. In the event of an error, no alarms are deleted.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
      parameters:
        - name: AlarmNames
          in: query
          required: true
          description: The alarms to be deleted.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteAlarms
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteAlarms
      operationId: POST DeleteAlarms
      description: 'Deletes the specified alarms. You can delete up to 50 alarms in one operation. In the event of an error, no alarms are deleted.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
      parameters:
        - name: AlarmNames
          in: formData
          required: true
          description: The alarms to be deleted.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteAlarms
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DeleteAnomalyDetector':
    get:
      x-aws-operation-name: DeleteAnomalyDetector
      operationId: GET DeleteAnomalyDetector
      description: Deletes the specified anomaly detection model from your account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnomalyDetectorOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      parameters:
        - name: Namespace
          in: query
          required: true
          description: The namespace associated with the anomaly detection model to delete.
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: MetricName
          in: query
          required: true
          description: The metric name associated with the anomaly detection model to delete.
          type: string
          minLength: 1
          maxLength: 255
        - name: Dimensions
          in: query
          required: false
          description: The metric dimensions associated with the anomaly detection model to delete.
          type: array
          items:
            type: string
        - name: Stat
          in: query
          required: true
          description: The statistic associated with the anomaly detection model to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteAnomalyDetector
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteAnomalyDetector
      operationId: POST DeleteAnomalyDetector
      description: Deletes the specified anomaly detection model from your account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAnomalyDetectorOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      parameters:
        - name: Namespace
          in: formData
          required: true
          description: The namespace associated with the anomaly detection model to delete.
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: MetricName
          in: formData
          required: true
          description: The metric name associated with the anomaly detection model to delete.
          type: string
          minLength: 1
          maxLength: 255
        - name: Dimensions
          in: formData
          required: false
          description: The metric dimensions associated with the anomaly detection model to delete.
          type: array
          items:
            type: string
        - name: Stat
          in: formData
          required: true
          description: The statistic associated with the anomaly detection model to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteAnomalyDetector
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DeleteDashboards':
    get:
      x-aws-operation-name: DeleteDashboards
      operationId: GET DeleteDashboards
      description: 'Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: DashboardNames
          in: query
          required: true
          description: The dashboards to be deleted. This parameter is required.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDashboards
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDashboards
      operationId: POST DeleteDashboards
      description: 'Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDashboardsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: DashboardNames
          in: formData
          required: true
          description: The dashboards to be deleted. This parameter is required.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDashboards
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DeleteInsightRules':
    get:
      x-aws-operation-name: DeleteInsightRules
      operationId: GET DeleteInsightRules
      description: '<p>Permanently deletes the specified Contributor Insights rules.</p> <p>If you create a rule, delete it, and then re-create it with the same name, historical data from the first time the rule was created may or may not be available.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInsightRulesOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      parameters:
        - name: RuleNames
          in: query
          required: true
          description: 'An array of the rule names to delete. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteInsightRules
      operationId: POST DeleteInsightRules
      description: '<p>Permanently deletes the specified Contributor Insights rules.</p> <p>If you create a rule, delete it, and then re-create it with the same name, historical data from the first time the rule was created may or may not be available.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInsightRulesOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      parameters:
        - name: RuleNames
          in: formData
          required: true
          description: 'An array of the rule names to delete. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DescribeAlarmHistory':
    get:
      x-aws-operation-name: DescribeAlarmHistory
      operationId: GET DescribeAlarmHistory
      description: '<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmHistoryOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: AlarmName
          in: query
          required: false
          description: The name of the alarm.
          type: string
          minLength: 1
          maxLength: 255
        - name: HistoryItemType
          in: query
          required: false
          description: The type of alarm histories to retrieve.
          type: string
          enum:
            - ConfigurationUpdate
            - StateUpdate
            - Action
        - name: StartDate
          in: query
          required: false
          description: The starting date to retrieve alarm history.
          type: string
          format: date-time
        - name: EndDate
          in: query
          required: false
          description: The ending date to retrieve alarm history.
          type: string
          format: date-time
        - name: MaxRecords
          in: query
          required: false
          description: The maximum number of alarm history records to retrieve.
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: query
          required: false
          description: The token returned by a previous call to indicate that there is more data available.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAlarmHistory
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAlarmHistory
      operationId: POST DescribeAlarmHistory
      description: '<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmHistoryOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: AlarmName
          in: formData
          required: false
          description: The name of the alarm.
          type: string
          minLength: 1
          maxLength: 255
        - name: HistoryItemType
          in: formData
          required: false
          description: The type of alarm histories to retrieve.
          type: string
          enum:
            - ConfigurationUpdate
            - StateUpdate
            - Action
        - name: StartDate
          in: formData
          required: false
          description: The starting date to retrieve alarm history.
          type: string
          format: date-time
        - name: EndDate
          in: formData
          required: false
          description: The ending date to retrieve alarm history.
          type: string
          format: date-time
        - name: MaxRecords
          in: formData
          required: false
          description: The maximum number of alarm history records to retrieve.
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: formData
          required: false
          description: The token returned by a previous call to indicate that there is more data available.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAlarmHistory
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DescribeAlarms':
    get:
      x-aws-operation-name: DescribeAlarms
      operationId: GET DescribeAlarms
      description: 'Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: AlarmNames
          in: query
          required: false
          description: The names of the alarms.
          type: array
          items:
            type: string
        - name: AlarmNamePrefix
          in: query
          required: false
          description: 'The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.'
          type: string
          minLength: 1
          maxLength: 255
        - name: StateValue
          in: query
          required: false
          description: The state value to be used in matching alarms.
          type: string
          enum:
            - OK
            - ALARM
            - INSUFFICIENT_DATA
        - name: ActionPrefix
          in: query
          required: false
          description: The action name prefix.
          type: string
          minLength: 1
          maxLength: 1024
        - name: MaxRecords
          in: query
          required: false
          description: The maximum number of alarm descriptions to retrieve.
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: query
          required: false
          description: The token returned by a previous call to indicate that there is more data available.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAlarms
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAlarms
      operationId: POST DescribeAlarms
      description: 'Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: AlarmNames
          in: formData
          required: false
          description: The names of the alarms.
          type: array
          items:
            type: string
        - name: AlarmNamePrefix
          in: formData
          required: false
          description: 'The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.'
          type: string
          minLength: 1
          maxLength: 255
        - name: StateValue
          in: formData
          required: false
          description: The state value to be used in matching alarms.
          type: string
          enum:
            - OK
            - ALARM
            - INSUFFICIENT_DATA
        - name: ActionPrefix
          in: formData
          required: false
          description: The action name prefix.
          type: string
          minLength: 1
          maxLength: 1024
        - name: MaxRecords
          in: formData
          required: false
          description: The maximum number of alarm descriptions to retrieve.
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: formData
          required: false
          description: The token returned by a previous call to indicate that there is more data available.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAlarms
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DescribeAlarmsForMetric':
    get:
      x-aws-operation-name: DescribeAlarmsForMetric
      operationId: GET DescribeAlarmsForMetric
      description: 'Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsForMetricOutput'
      parameters:
        - name: MetricName
          in: query
          required: true
          description: The name of the metric.
          type: string
          minLength: 1
          maxLength: 255
        - name: Namespace
          in: query
          required: true
          description: The namespace of the metric.
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: Statistic
          in: query
          required: false
          description: 'The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>.'
          type: string
          enum:
            - SampleCount
            - Average
            - Sum
            - Minimum
            - Maximum
        - name: ExtendedStatistic
          in: query
          required: false
          description: The percentile statistic for the metric. Specify a value between p0.0 and p100.
          type: string
          pattern: 'p(\d{1,2}(\.\d{0,2})?|100)'
        - name: Dimensions
          in: query
          required: false
          description: 'The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed.'
          type: array
          items:
            type: string
        - name: Period
          in: query
          required: false
          description: 'The period, in seconds, over which the statistic is applied.'
          type: integer
          minimum: 1
        - name: Unit
          in: query
          required: false
          description: The unit for the metric.
          type: string
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAlarmsForMetric
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAlarmsForMetric
      operationId: POST DescribeAlarmsForMetric
      description: 'Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAlarmsForMetricOutput'
      parameters:
        - name: MetricName
          in: formData
          required: true
          description: The name of the metric.
          type: string
          minLength: 1
          maxLength: 255
        - name: Namespace
          in: formData
          required: true
          description: The namespace of the metric.
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: Statistic
          in: formData
          required: false
          description: 'The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>.'
          type: string
          enum:
            - SampleCount
            - Average
            - Sum
            - Minimum
            - Maximum
        - name: ExtendedStatistic
          in: formData
          required: false
          description: The percentile statistic for the metric. Specify a value between p0.0 and p100.
          type: string
          pattern: 'p(\d{1,2}(\.\d{0,2})?|100)'
        - name: Dimensions
          in: formData
          required: false
          description: 'The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed.'
          type: array
          items:
            type: string
        - name: Period
          in: formData
          required: false
          description: 'The period, in seconds, over which the statistic is applied.'
          type: integer
          minimum: 1
        - name: Unit
          in: formData
          required: false
          description: The unit for the metric.
          type: string
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAlarmsForMetric
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DescribeAnomalyDetectors':
    get:
      x-aws-operation-name: DescribeAnomalyDetectors
      operationId: GET DescribeAnomalyDetectors
      description: 'Lists the anomaly detection models that you have created in your account. You can list all models in your account or filter the results to only the models that are related to a certain namespace, metric name, or metric dimension.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnomalyDetectorsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: Use the token returned by the previous operation to request the next page of results.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: '<p>The maximum number of results to return in one operation. The maximum value you can specify is 10.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>'
          type: integer
          minimum: 1
        - name: Namespace
          in: query
          required: false
          description: Limits the results to only the anomaly detection models that are associated with the specified namespace.
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: MetricName
          in: query
          required: false
          description: 'Limits the results to only the anomaly detection models that are associated with the specified metric name. If there are multiple metrics with this name in different namespaces that have anomaly detection models, they''re all returned.'
          type: string
          minLength: 1
          maxLength: 255
        - name: Dimensions
          in: query
          required: false
          description: 'Limits the results to only the anomaly detection models that are associated with the specified metric dimensions. If there are multiple metrics that have these dimensions and have anomaly detection models associated, they''re all returned.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAnomalyDetectors
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAnomalyDetectors
      operationId: POST DescribeAnomalyDetectors
      description: 'Lists the anomaly detection models that you have created in your account. You can list all models in your account or filter the results to only the models that are related to a certain namespace, metric name, or metric dimension.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAnomalyDetectorsOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: NextToken
          in: formData
          required: false
          description: Use the token returned by the previous operation to request the next page of results.
          type: string
        - name: MaxResults
          in: formData
          required: false
          description: '<p>The maximum number of results to return in one operation. The maximum value you can specify is 10.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>'
          type: integer
          minimum: 1
        - name: Namespace
          in: formData
          required: false
          description: Limits the results to only the anomaly detection models that are associated with the specified namespace.
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: MetricName
          in: formData
          required: false
          description: 'Limits the results to only the anomaly detection models that are associated with the specified metric name. If there are multiple metrics with this name in different namespaces that have anomaly detection models, they''re all returned.'
          type: string
          minLength: 1
          maxLength: 255
        - name: Dimensions
          in: formData
          required: false
          description: 'Limits the results to only the anomaly detection models that are associated with the specified metric dimensions. If there are multiple metrics that have these dimensions and have anomaly detection models associated, they''re all returned.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAnomalyDetectors
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DescribeInsightRules':
    get:
      x-aws-operation-name: DescribeInsightRules
      operationId: GET DescribeInsightRules
      description: '<p>Returns a list of all the Contributor Insights rules in your account. All rules in your account are returned with a single operation.</p> <p>For more information about Contributor Insights, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html">Using Contributor Insights to Analyze High-Cardinality Data</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInsightRulesOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: Reserved for future use.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: 'This parameter is not currently used. Reserved for future use. If it is used in the future, the maximum value may be different.'
          type: integer
          minimum: 1
          maximum: 500
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeInsightRules
      operationId: POST DescribeInsightRules
      description: '<p>Returns a list of all the Contributor Insights rules in your account. All rules in your account are returned with a single operation.</p> <p>For more information about Contributor Insights, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html">Using Contributor Insights to Analyze High-Cardinality Data</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInsightRulesOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: NextToken
          in: formData
          required: false
          description: Reserved for future use.
          type: string
        - name: MaxResults
          in: formData
          required: false
          description: 'This parameter is not currently used. Reserved for future use. If it is used in the future, the maximum value may be different.'
          type: integer
          minimum: 1
          maximum: 500
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DisableAlarmActions':
    get:
      x-aws-operation-name: DisableAlarmActions
      operationId: GET DisableAlarmActions
      description: 'Disables the actions for the specified alarms. When an alarm''s actions are disabled, the alarm actions do not execute when the alarm state changes.'
      responses:
        '200':
          description: Success
      parameters:
        - name: AlarmNames
          in: query
          required: true
          description: The names of the alarms.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DisableAlarmActions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DisableAlarmActions
      operationId: POST DisableAlarmActions
      description: 'Disables the actions for the specified alarms. When an alarm''s actions are disabled, the alarm actions do not execute when the alarm state changes.'
      responses:
        '200':
          description: Success
      parameters:
        - name: AlarmNames
          in: formData
          required: true
          description: The names of the alarms.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DisableAlarmActions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=DisableInsightRules':
    get:
      x-aws-operation-name: DisableInsightRules
      operationId: GET DisableInsightRules
      description: 'Disables the specified Contributor Insights rules. When rules are disabled, they do not analyze log groups and do not incur costs.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableInsightRulesOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      parameters:
        - name: RuleNames
          in: query
          required: true
          description: 'An array of the rule names to disable. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DisableInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DisableInsightRules
      operationId: POST DisableInsightRules
      description: 'Disables the specified Contributor Insights rules. When rules are disabled, they do not analyze log groups and do not incur costs.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableInsightRulesOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
      parameters:
        - name: RuleNames
          in: formData
          required: true
          description: 'An array of the rule names to disable. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DisableInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=EnableAlarmActions':
    get:
      x-aws-operation-name: EnableAlarmActions
      operationId: GET EnableAlarmActions
      description: Enables the actions for the specified alarms.
      responses:
        '200':
          description: Success
      parameters:
        - name: AlarmNames
          in: query
          required: true
          description: The names of the alarms.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - EnableAlarmActions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: EnableAlarmActions
      operationId: POST EnableAlarmActions
      description: Enables the actions for the specified alarms.
      responses:
        '200':
          description: Success
      parameters:
        - name: AlarmNames
          in: formData
          required: true
          description: The names of the alarms.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - EnableAlarmActions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=EnableInsightRules':
    get:
      x-aws-operation-name: EnableInsightRules
      operationId: GET EnableInsightRules
      description: 'Enables the specified Contributor Insights rules. When rules are enabled, they immediately begin analyzing log data.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableInsightRulesOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleNames
          in: query
          required: true
          description: 'An array of the rule names to enable. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - EnableInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: EnableInsightRules
      operationId: POST EnableInsightRules
      description: 'Enables the specified Contributor Insights rules. When rules are enabled, they immediately begin analyzing log data.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableInsightRulesOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleNames
          in: formData
          required: true
          description: 'An array of the rule names to enable. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - EnableInsightRules
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=GetDashboard':
    get:
      x-aws-operation-name: GetDashboard
      operationId: GET GetDashboard
      description: '<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDashboardOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: DashboardName
          in: query
          required: true
          description: The name of the dashboard to be described.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetDashboard
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetDashboard
      operationId: POST GetDashboard
      description: '<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDashboardOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: DashboardNotFoundError
          schema:
            $ref: '#/definitions/DashboardNotFoundError'
        '482':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: DashboardName
          in: formData
          required: true
          description: The name of the dashboard to be described.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetDashboard
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=GetInsightRuleReport':
    get:
      x-aws-operation-name: GetInsightRuleReport
      operationId: GET GetInsightRuleReport
      description: '<p>This operation returns the time series data collected by a Contributor Insights rule. The data includes the identity and number of contributors to the log group.</p> <p>You can also optionally return one or more statistics about each data point in the time series. These statistics can include the following:</p> <ul> <li> <p> <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p> </li> <li> <p> <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the contributor may change for each data point in the graph.</p> <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the most occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified by the rule''s <code>Value</code>, during that period.</p> </li> <li> <p> <code>SampleCount</code> -- the number of data points matched by the rule.</p> </li> <li> <p> <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p> </li> <li> <p> <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInsightRuleReportOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: RuleName
          in: query
          required: true
          description: The name of the rule that you want to see data from.
          type: string
          pattern: '[\x20-\x7E]+'
          minLength: 1
          maxLength: 128
        - name: StartTime
          in: query
          required: true
          description: 'The start time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as <code>yyyy-MM-dd''T''HH:mm:ss</code>. For example, <code>2019-07-01T23:59:59</code>.'
          type: string
          format: date-time
        - name: EndTime
          in: query
          required: true
          description: 'The end time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as <code>yyyy-MM-dd''T''HH:mm:ss</code>. For example, <code>2019-07-01T23:59:59</code>.'
          type: string
          format: date-time
        - name: Period
          in: query
          required: true
          description: 'The period, in seconds, to use for the statistics in the <code>InsightRuleMetricDatapoint</code> results.'
          type: integer
          minimum: 1
        - name: MaxContributorCount
          in: query
          required: false
          description: 'The maximum number of contributors to include in the report. The range is 1 to 100. If you omit this, the default of 10 is used.'
          type: integer
        - name: Metrics
          in: query
          required: false
          description: '<p>Specifies which metrics to use for aggregation of contributor values for the report. You can specify one or more of the following metrics:</p> <ul> <li> <p> <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p> </li> <li> <p> <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the contributor may change for each data point in the graph.</p> <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the most occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified by the rule''s <code>Value</code>, during that period.</p> </li> <li> <p> <code>SampleCount</code> -- the number of data points matched by the rule.</p> </li> <li> <p> <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p> </li> <li> <p> <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p> </li> </ul>'
          type: array
          items:
            type: string
        - name: OrderBy
          in: query
          required: false
          description: Determines what statistic to use to rank the contributors. Valid values are SUM and MAXIMUM.
          type: string
          pattern: '[\x20-\x7E]+'
          minLength: 1
          maxLength: 32
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetInsightRuleReport
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetInsightRuleReport
      operationId: POST GetInsightRuleReport
      description: '<p>This operation returns the time series data collected by a Contributor Insights rule. The data includes the identity and number of contributors to the log group.</p> <p>You can also optionally return one or more statistics about each data point in the time series. These statistics can include the following:</p> <ul> <li> <p> <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p> </li> <li> <p> <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the contributor may change for each data point in the graph.</p> <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the most occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified by the rule''s <code>Value</code>, during that period.</p> </li> <li> <p> <code>SampleCount</code> -- the number of data points matched by the rule.</p> </li> <li> <p> <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p> </li> <li> <p> <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInsightRuleReportOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: RuleName
          in: formData
          required: true
          description: The name of the rule that you want to see data from.
          type: string
          pattern: '[\x20-\x7E]+'
          minLength: 1
          maxLength: 128
        - name: StartTime
          in: formData
          required: true
          description: 'The start time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as <code>yyyy-MM-dd''T''HH:mm:ss</code>. For example, <code>2019-07-01T23:59:59</code>.'
          type: string
          format: date-time
        - name: EndTime
          in: formData
          required: true
          description: 'The end time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as <code>yyyy-MM-dd''T''HH:mm:ss</code>. For example, <code>2019-07-01T23:59:59</code>.'
          type: string
          format: date-time
        - name: Period
          in: formData
          required: true
          description: 'The period, in seconds, to use for the statistics in the <code>InsightRuleMetricDatapoint</code> results.'
          type: integer
          minimum: 1
        - name: MaxContributorCount
          in: formData
          required: false
          description: 'The maximum number of contributors to include in the report. The range is 1 to 100. If you omit this, the default of 10 is used.'
          type: integer
        - name: Metrics
          in: formData
          required: false
          description: '<p>Specifies which metrics to use for aggregation of contributor values for the report. You can specify one or more of the following metrics:</p> <ul> <li> <p> <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p> </li> <li> <p> <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the contributor may change for each data point in the graph.</p> <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the most occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified by the rule''s <code>Value</code>, during that period.</p> </li> <li> <p> <code>SampleCount</code> -- the number of data points matched by the rule.</p> </li> <li> <p> <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p> </li> <li> <p> <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p> </li> </ul>'
          type: array
          items:
            type: string
        - name: OrderBy
          in: formData
          required: false
          description: Determines what statistic to use to rank the contributors. Valid values are SUM and MAXIMUM.
          type: string
          pattern: '[\x20-\x7E]+'
          minLength: 1
          maxLength: 32
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetInsightRuleReport
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=GetMetricData':
    get:
      x-aws-operation-name: GetMetricData
      operationId: GET GetMetricData
      description: '<p>You can use the <code>GetMetricData</code> API to retrieve as many as 100 different metrics in a single request, with a total of as many as 100,800 data points. You can also optionally perform math expressions on the values of the returned statistics, to create new time series that represent new insights into your data. For example, using Lambda metrics, you could divide the Errors metric by the Invocations metric to get an error rate time series. For more information about metric math expressions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than calls to <code>GetMetricStatistics</code>. For more information about pricing, see <a href="https://aws.amazon.com/cloudwatch/pricing/">Amazon CloudWatch Pricing</a>.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricDataOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: MetricDataQueries
          in: query
          required: true
          description: 'The metric queries to be returned. A single <code>GetMetricData</code> call can include as many as 100 <code>MetricDataQuery</code> structures. Each of these structures can specify either a metric to retrieve, or a math expression to perform on retrieved data. '
          type: array
          items:
            type: string
        - name: StartTime
          in: query
          required: true
          description: '<p>The time stamp indicating the earliest data to be returned.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. </p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>StartTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>StartTime</code>.</p>'
          type: string
          format: date-time
        - name: EndTime
          in: query
          required: true
          description: '<p>The time stamp indicating the latest data to be returned.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp.</p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>EndTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>EndTime</code>.</p>'
          type: string
          format: date-time
        - name: NextToken
          in: query
          required: false
          description: 'Include this value, if it was returned by the previous call, to get the next set of data points.'
          type: string
        - name: ScanBy
          in: query
          required: false
          description: The order in which data points should be returned. <code>TimestampDescending</code> returns the newest data first and paginates when the <code>MaxDatapoints</code> limit is reached. <code>TimestampAscending</code> returns the oldest data first and paginates when the <code>MaxDatapoints</code> limit is reached.
          type: string
          enum:
            - TimestampDescending
            - TimestampAscending
        - name: MaxDatapoints
          in: query
          required: false
          description: 'The maximum number of data points the request should return before paginating. If you omit this, the default of 100,800 is used.'
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetMetricData
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetMetricData
      operationId: POST GetMetricData
      description: '<p>You can use the <code>GetMetricData</code> API to retrieve as many as 100 different metrics in a single request, with a total of as many as 100,800 data points. You can also optionally perform math expressions on the values of the returned statistics, to create new time series that represent new insights into your data. For example, using Lambda metrics, you could divide the Errors metric by the Invocations metric to get an error rate time series. For more information about metric math expressions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than calls to <code>GetMetricStatistics</code>. For more information about pricing, see <a href="https://aws.amazon.com/cloudwatch/pricing/">Amazon CloudWatch Pricing</a>.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricDataOutput'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
      parameters:
        - name: MetricDataQueries
          in: formData
          required: true
          description: 'The metric queries to be returned. A single <code>GetMetricData</code> call can include as many as 100 <code>MetricDataQuery</code> structures. Each of these structures can specify either a metric to retrieve, or a math expression to perform on retrieved data. '
          type: array
          items:
            type: string
        - name: StartTime
          in: formData
          required: true
          description: '<p>The time stamp indicating the earliest data to be returned.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. </p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>StartTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>StartTime</code>.</p>'
          type: string
          format: date-time
        - name: EndTime
          in: formData
          required: true
          description: '<p>The time stamp indicating the latest data to be returned.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp.</p> <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code> values that align with the value of the metric''s <code>Period</code> and sync up with the beginning and end of an hour. For example, if the <code>Period</code> of a metric is 5 minutes, specifying 12:05 or 12:30 as <code>EndTime</code> can get a faster response from CloudWatch than setting 12:07 or 12:29 as the <code>EndTime</code>.</p>'
          type: string
          format: date-time
        - name: NextToken
          in: formData
          required: false
          description: 'Include this value, if it was returned by the previous call, to get the next set of data points.'
          type: string
        - name: ScanBy
          in: formData
          required: false
          description: The order in which data points should be returned. <code>TimestampDescending</code> returns the newest data first and paginates when the <code>MaxDatapoints</code> limit is reached. <code>TimestampAscending</code> returns the oldest data first and paginates when the <code>MaxDatapoints</code> limit is reached.
          type: string
          enum:
            - TimestampDescending
            - TimestampAscending
        - name: MaxDatapoints
          in: formData
          required: false
          description: 'The maximum number of data points the request should return before paginating. If you omit this, the default of 100,800 is used.'
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetMetricData
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
  '/#Action=GetMetricStatistics':
    get:
      x-aws-operation-name: GetMetricStatistics
      operationId: GET GetMetricStatistics
      description: '<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by AWS services, see the <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricStatisticsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: Namespace
          in: query
          required: true
          description: 'The namespace of the metric, with or without spaces.'
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: MetricName
          in: query
          required: true
          description: 'The name of the metric, with or without spaces.'
          type: string
          minLength: 1
          maxLength: 255
        - name: Dimensions
          in: query
          required: false
          description: 'The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric. If a specific combination of dimensions was not published, you can''t retrieve statistics for it. You must specify the same dimensions that were used when the metrics were created. For an example, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.'
          type: array
          items:
            type: string
        - name: StartTime
          in: query
          required: true
          description: '<p>The time stamp that determines the first data point to return. Start times are evaluated relative to the time that CloudWatch receives the request.</p> <p>The value specified is inclusive; results include data points with the specified time stamp. In a raw HTTP query, the time stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p> <p>CloudWatch rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than 15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p> </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is rounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous 10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a period of 5 seconds, you receive data timestamped between 15:02:15 and 15:07:15. </p>'
          type: string
          format: date-time
        - name: EndTime
          in: query
          required: true
          description: '<p>The time stamp that determines the last data point to return.</p> <p>The value specified is exclusive; results include data points up to the specified time stamp. In a raw HTTP query, the time stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>'
          type: string
          format: date-time
        - name: Period
          in: query
          required: true
          description: '<p>The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p> <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than 3 hours ago, you must specify the period as follows or no data points in that time range is returned:</p> <ul> <li> <p>Start time between 3 hours and 15 days ago - Use a multiple of 60 seconds (1 minute).</p> </li> <li> <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p> </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p> </li> </ul>'
          type: integer
          minimum: 1
        - name: Statistics
          in: query
          required: false
          description: 'The metric statistics, other than percentile. For percentile statistics, use <code>ExtendedStatistics</code>. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both.'
          type: array
          items:
            type: string
        - name: ExtendedStatistics
          in: query
          required: false
          description: 'The percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both. Percentile statistics are not available for metrics when any of the metric values are negative numbers.'
          type: array
          items:
            type: string
        - name: Unit
          in: query
          required: false
          description: 'The unit for a given metric. If you omit <code>Unit</code>, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.'
          type: string
          enum:
            - Seconds
            - Microseconds
            - Milliseconds
            - Bytes
            - Kilobytes
            - Megabytes
            - Gigabytes
            - Terabytes
            - Bits
            - Kilobits
            - Megabits
            - Gigabits
            - Terabits
            - Percent
            - Count
            - Bytes/Second
            - Kilobytes/Second
            - Megabytes/Second
            - Gigabytes/Second
            - Terabytes/Second
            - Bits/Second
            - Kilobits/Second
            - Megabits/Second
            - Gigabits/Second
            - Terabits/Second
            - Count/Second
            - None
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetMetricStatistics
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-08-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetMetricStatistics
      operationId: POST GetMetricStatistics
      description: '<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by AWS services, see the <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMetricStatisticsOutput'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '483':
          description: InternalServiceFault
          schema:
            $ref: '#/definitions/InternalServiceFault'
      parameters:
        - name: Namespace
          in: formData
          required: true
          description: 'The namespace of the metric, with or without spaces.'
          type: string
          pattern: '[^:].*'
          minLength: 1
          maxLength: 255
        - name: MetricName
          in: formData
          required: true
          description: 'The name of the metric, with or without spaces.'
          type: string
          minLength: 1
          maxLength: 255
        - name: Dimensions
          in: formData
          required: false
          description: 'The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric. If a specific combination of dimensions was not published, you can''t retrieve statistics for it. You must specify the same dimensions that were used when the metrics were created. For an example, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.'
          type: array
          items:
            type: string
        - name: StartTime
          in: formData
          required: true
[...]
