swagger: '2.0'
schemes:
  - https
host: southcentralus.api.cognitive.microsoft.com
basePath: /customvision/v3.2/training
info:
  contact:
    x-twitter: microsoft
  title: Custom Vision Training Client
  version: '3.2'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/microsoft/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/Training.json'
      version: '2.0'
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
    - Microsoft
securityDefinitions:
  apim_key:
    in: header
    name: Training-Key
    type: apiKey
security:
  - apim_key: []
parameters:
  Endpoint:
    description: Supported Cognitive Services endpoints.
    in: path
    name: Endpoint
    required: true
    type: string
    x-ms-parameter-location: client
    x-ms-skip-url-encoding: true
paths:
  /domains:
    get:
      consumes: []
      operationId: GetDomains
      parameters: []
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Domain'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get a list of the available domains.
      tags:
        - DomainsApi
      x-ms-examples:
        Successful GetDomains request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
          responses:
            '200':
              body:
                - enabled: true
                  exportable: false
                  id: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  name: General
                  type: Classification
                - enabled: true
                  exportable: false
                  id: c151d5b5-dd07-472a-acc8-15d29dea8518
                  name: Food
                  type: Classification
                - enabled: true
                  exportable: false
                  id: ca455789-012d-4b50-9fec-5bb63841c793
                  name: Landmarks
                  type: Classification
                - enabled: true
                  exportable: false
                  id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
                  name: Retail
                  type: Classification
                - enabled: true
                  exportable: false
                  id: 45badf75-3591-4f26-a705-45678d3e9f5f
                  name: Adult
                  type: Classification
                - enabled: true
                  exportable: false
                  id: 0732100f-1a38-4e49-a514-c9b44c697ab5
                  name: General (compact)
                  type: Classification
                - enabled: true
                  exportable: false
                  id: b5cfd229-2ac7-4b2b-8d0a-2b0661344894
                  name: Landmarks (compact)
                  type: Classification
                - enabled: true
                  exportable: false
                  id: 6b4faeda-8396-481b-9f8b-177b9fa3097f
                  name: Retail (compact)
                  type: Classification
              headers: {}
  '/domains/{domainId}':
    get:
      consumes: []
      operationId: GetDomain
      parameters:
        - description: The id of the domain to get information about.
          format: uuid
          in: path
          name: domainId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Domain'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get information about a specific domain.
      tags:
        - DomainsApi
      x-ms-examples:
        Successful GetDomain request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            domainId: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          responses:
            '200':
              body:
                enabled: true
                exportable: false
                id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
                name: Retail
                type: Classification
              headers: {}
  /projects:
    get:
      consumes: []
      operationId: GetProjects
      parameters: []
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Project'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get your projects.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetProjects request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
          responses:
            '200':
              body:
                - created: '2017-12-18T05:43:18Z'
                  description: ''
                  id: bc3f7dad-5544-468c-8573-3ef04d55463e
                  lastModified: '2017-12-18T05:43:18Z'
                  name: My New Project
                  settings:
                    domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  thumbnailUri: ''
              headers: {}
    post:
      consumes: []
      operationId: CreateProject
      parameters:
        - description: Name of the project.
          in: query
          name: name
          required: true
          type: string
        - description: The description of the project.
          in: query
          name: description
          required: false
          type: string
        - description: The id of the domain to use for this project. Defaults to General.
          format: uuid
          in: query
          name: domainId
          required: false
          type: string
        - description: The type of classifier to create for this project.
          enum:
            - Multiclass
            - Multilabel
          in: query
          name: classificationType
          required: false
          type: string
        - collectionFormat: csv
          description: List of platforms the trained model is intending exporting to.
          in: query
          items:
            enum:
              - CoreML
              - TensorFlow
              - DockerFile
              - ONNX
              - VAIDK
            type: string
          name: targetExportPlatforms
          required: false
          type: array
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Create a project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful CreateProject request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            description: A test project
            domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
            name: My New Project
          responses:
            '200':
              body:
                created: '2017-12-18T05:43:18Z'
                description: A test project
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2017-12-18T05:43:18Z'
                name: My New Project
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                thumbnailUri: ''
              headers: {}
  /projects/import:
    post:
      consumes: []
      operationId: ImportProject
      parameters:
        - description: Token generated from the export project call.
          in: query
          name: token
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Imports a project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful ImportProject request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            token: token
          responses:
            '200':
              body:
                created: '2019-10-06T05:43:18Z'
                description: ''
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2019-10-06T05:43:18Z'
                name: Import Project
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                status: Importing
                thumbnailUri: ''
              headers: {}
  '/projects/{projectId}':
    delete:
      consumes: []
      operationId: DeleteProject
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Delete a specific project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful DeleteProject request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '204': {}
    get:
      consumes: []
      operationId: GetProject
      parameters:
        - description: The id of the project to get.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get a specific project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetProject request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                created: '2017-12-18T05:43:18Z'
                description: A test project
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2017-12-18T05:43:18Z'
                name: My New Project
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                thumbnailUri: ''
              headers: {}
    patch:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateProject
      parameters:
        - description: The id of the project to update.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The updated project model.
          in: body
          name: updatedProject
          required: true
          schema:
            $ref: '#/definitions/Project'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Update a specific project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UpdateProject request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            updatedProject:
              description: A new Description
              name: New Project Name
              settings:
                domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          responses:
            '200':
              body:
                created: '2017-12-18T05:43:18Z'
                description: A new Description
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2017-12-18T05:43:19Z'
                name: New Project Name
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                thumbnailUri: ''
              headers: {}
  '/projects/{projectId}/export':
    get:
      consumes: []
      operationId: ExportProject
      parameters:
        - description: The project id of the project to export.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProjectExport'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Exports a project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful ExportProject request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                token: <token>
              headers: {}
  '/projects/{projectId}/images':
    delete:
      consumes: []
      operationId: DeleteImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Ids of the images to be deleted. Limited to 256 images per batch.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 256
          minItems: 0
          name: imageIds
          required: false
          type: array
        - description: 'Flag to specify delete all images, specify this flag or a list of images. Using this flag will return a 202 response to indicate the images are being deleted.'
          in: query
          name: allImages
          required: false
          type: boolean
        - description: 'Removes these images from all iterations, not just the current workspace. Using this flag will return a 202 response to indicate the images are being deleted.'
          in: query
          name: allIterations
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Delete images from the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImages request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageIds:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '202': {}
            '204': {}
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      description: "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r\nmultiple image files can be sent at once, with a maximum of 64 files"
      operationId: CreateImagesFromData
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The tags ids with which to tag each image. Limited to 20.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 20
          minItems: 0
          name: tagIds
          required: false
          type: array
        - description: 'Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.'
          in: formData
          name: imageData
          required: true
          type: file
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Add the provided images to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromData request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageData: multipart data
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds:
              - b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      originalImageUri: '{Image Uri}'
                      resizedImageUri: '{Resized Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                          tagName: tag 1
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '"hemlock_10.jpg"'
                    status: OK
                  - image:
                      created: '2017-12-19T15:56:10Z'
                      height: 1531
                      id: f1855a92-b873-47e7-b513-f07a667ceda1
                      originalImageUri: '{Image Uri}'
                      resizedImageUri: '{Resized Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                          tagName: tag 1
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 900
                    sourceUrl: '"hemlock_6.jpg"'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/files':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: 'This API accepts a batch of files, and optionally tags, to create images. There is a limit of 64 images and 20 tags.'
      operationId: CreateImagesFromFiles
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The batch of image files to add. Limited to 64 images and 20 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageFileCreateBatch'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Add the provided batch of images to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromFiles request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            batch:
              images:
                - contents: '{image contents}'
                  name: hemlock_10.jpg
              tagIds:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds: b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      originalImageUri: '{Image Uri}'
                      resizedImageUri: '{Resized Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                          tagName: tag 1
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '"hemlock_10.jpg"'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/id':
    get:
      consumes: []
      description: "This API will return a set of Images for the specified tags and optionally iteration. If no iteration is specified the\r\ncurrent workspace is used."
      operationId: GetImagesByIds
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The list of image ids to retrieve. Limited to 256.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 256
          minItems: 0
          name: imageIds
          required: false
          type: array
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Image'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get images by id for a given project iteration.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetImagesByIds request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: []
              headers: {}
  '/projects/{projectId}/images/predictions':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API creates a batch of images from predicted images specified. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromPredictions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Image and tag ids. Limited to 64 images and 20 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageIdCreateBatch'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Add the specified predicted images to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromPredictions request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            batch:
              images:
                - id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              tagIds:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds: b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      originalImageUri: '{Image Uri}'
                      resizedImageUri: '{Resized Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                          tagName: tag 1
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '"hemlock_10.jpg"'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/regions':
    delete:
      consumes: []
      operationId: DeleteImageRegions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Regions to delete. Limited to 64.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 64
          minItems: 0
          name: regionIds
          required: true
          type: array
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Delete a set of image regions.
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImageRegions request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            regionIds:
              - ''
          responses:
            '204': {}
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "This API accepts a batch of image regions, and optionally tags, to update existing images with region information.\r\nThere is a limit of 64 entries in the batch."
      operationId: CreateImageRegions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Batch of image regions which include a tag and bounding box. Limited to 64.
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageRegionCreateBatch'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageRegionCreateSummary'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Create a set of image regions.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImageRegions request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            batch:
              regions:
                - height: 0.25
                  imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                  left: 0.25
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                  top: 0.25
                  width: 0.25
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                created: []
                duplicated: []
                exceeded: []
              headers: {}
  '/projects/{projectId}/images/suggested':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API will fetch untagged images filtered by suggested tags Ids. It returns an empty array if no images are found.
      operationId: QuerySuggestedImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: IterationId to use for the suggested tags and regions.
          format: uuid
          in: query
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: Contains properties we need to query suggested images.
          in: body
          name: query
          required: true
          schema:
            $ref: '#/definitions/SuggestedTagAndRegionQueryToken'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SuggestedTagAndRegionQuery'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get untagged images whose suggested tags match given tags. Returns empty array if no images are found.
      tags:
        - ImageApi
      x-ms-examples:
        Successful QuerySuggestedImages request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            query:
              tagIds:
                - b5f7e6a2-a481-49a6-afec-a7cef1af3544
          responses:
            '200':
              body:
                results:
                  - created: '2018-01-31T20:18:26Z'
                    domain: b30a91ae-e3c1-4f73-a81e-c270bff27c39
                    id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
                    iteration: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
                    originalImageUri: <image uri>
                    predictions:
                      - probability: 1
                        tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                        tagName: Tag 1
                      - probability: 3.60627153e-12
                        tagId: 45619cda-d1c9-4bc8-a3e1-87c5d81adbc3
                        tagName: Tag 2
                    project: 8988643a-ae70-447d-9a22-15c4255e5ecb
                    resizedImageUri: <resized image uri>
                    thumbnailUri: <thumbnail uri>
                token:
                  continuation: ''
                  maxCount: 0
                  session: '1:286613'
                  sortBy: Newest
                  tagIds:
                    - b5f7e6a2-a481-49a6-afec-a7cef1af3544
              headers: {}
  '/projects/{projectId}/images/suggested/count':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API takes in tagIds to get count of untagged images per suggested tags for a given threshold.
      operationId: QuerySuggestedImageCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: IterationId to use for the suggested tags and regions.
          format: uuid
          in: query
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: 'Model that contains tagIds, threshold and projectType to query by.'
          in: body
          name: query
          required: true
          schema:
            $ref: '#/definitions/TagFilter'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            additionalProperties:
              format: int32
              type: integer
            type: object
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get count of images whose suggested tags match given tags and their probabilities are greater than or equal to the given threshold. Returns count as 0 if none found.
      tags:
        - ImageApi
      x-ms-examples:
        Successful QuerySuggestedImageCount request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            query:
              tagIds:
                - b5f7e6a2-a481-49a6-afec-a7cef1af3544
          responses:
            '200':
              body:
                b5f7e6a2-a481-49a6-afec-a7cef1af3544: 1
              headers: {}
  '/projects/{projectId}/images/tagged':
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
        - collectionFormat: csv
          description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 20
          minItems: 0
          name: tagIds
          required: false
          type: array
        - description: The ordering. Defaults to newest.
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
        - default: 50
          description: 'Maximum number of images to return. Defaults to 50, limited to 256.'
          format: int32
          in: query
          maximum: 256
          minimum: 0
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults to 0.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Image'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get tagged images for a given project iteration.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetTaggedImages request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: []
              headers: {}
  '/projects/{projectId}/images/tagged/count':
    get:
      consumes: []
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImageCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
        - collectionFormat: csv
          description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: 'Gets the number of images tagged with the provided {tagIds}.'
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetTaggedImageCount request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: '10'
              headers: {}
  '/projects/{projectId}/images/tags':
    delete:
      consumes: []
      operationId: DeleteImageTags
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Image ids. Limited to 64 images.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 64
          minItems: 0
          name: imageIds
          required: true
          type: array
        - collectionFormat: csv
          description: Tags to be deleted from the specified images. Limited to 20 tags.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 20
          minItems: 0
          name: tagIds
          required: true
          type: array
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Remove a set of tags from a set of images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImageTags request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageIds:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          responses:
            '204': {}
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: CreateImageTags
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Batch of image tags. Limited to 128 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageTagCreateBatch'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageTagCreateSummary'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Associate a set of images with a set of tags.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImageTags request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            batch:
              tags:
                - imageId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                  tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                created:
                  - imageId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                duplicated: null
                exceeded: null
              headers: {}
  '/projects/{projectId}/images/untagged':
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch."
      operationId: GetUntaggedImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
        - description: The ordering. Defaults to newest.
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
        - default: 50
          description: 'Maximum number of images to return. Defaults to 50, limited to 256.'
          format: int32
          in: query
          maximum: 256
          minimum: 0
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults to 0.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Image'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get untagged images for a given project iteration.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetUntaggedImages request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: []
              headers: {}
  '/projects/{projectId}/images/untagged/count':
    get:
      consumes: []
      description: "This API returns the images which have no tags for a given project and optionally an iteration. If no iteration is specified the\r\ncurrent workspace is used."
      operationId: GetUntaggedImageCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Gets the number of untagged images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetUntaggedImageCount request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: '10'
              headers: {}
  '/projects/{projectId}/images/urls':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: 'This API accepts a batch of urls, and optionally tags, to create images. There is a limit of 64 images and 20 tags.'
      operationId: CreateImagesFromUrls
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Image urls and tag ids. Limited to 64 images and 20 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageUrlCreateBatch'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Add the provided images urls to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromUrls request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            batch:
              images:
                - url: '{url to image}'
              tagIds:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds: b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      originalImageUri: '{Image Uri}'
                      resizedImageUri: '{Resized Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                          tagName: tag name
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '{url to image}'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/{imageId}/regionproposals':
    post:
      consumes: []
      description: This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.
      operationId: GetImageRegionProposals
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The image id.
          format: uuid
          in: path
          name: imageId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageRegionProposal'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get region proposals for an image. Returns empty array if no proposals are found.
      tags:
        - ImageRegionProposalApi
      x-ms-examples:
        Successful GetImageRegionProposals request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
                proposals:
                  - boundingBox:
                      height: 0.25
                      left: 0.25
                      top: 0.25
                      width: 0.25
                    confidence: 0.25
              headers: {}
  '/projects/{projectId}/iterations':
    get:
      consumes: []
      operationId: GetIterations
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Iteration'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get iterations for the project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIterations request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                - created: '2017-12-18T22:40:29Z'
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  exportable: false
                  exportableTo:
                    - ONNX
                    - DockerFile
                    - TensorFlow
                    - CoreML
                  id: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                  lastModified: '2017-12-18T22:40:41Z'
                  name: Iteration 1
                  projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                  publishName: ''
                  reservedBudgetInHours: 0
                  status: Completed
                  trainedAt: '2017-12-18T22:40:41Z'
                  trainingType: Regular
                - created: '2017-12-18T22:40:36Z'
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  exportable: false
                  exportableTo:
                    - ONNX
                    - DockerFile
                    - TensorFlow
                    - CoreML
                  id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                  lastModified: '2017-12-19T15:47:02Z'
                  name: Iteration 2
                  projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                  publishName: model1
                  reservedBudgetInHours: 5
                  status: Completed
                  trainedAt: '2017-12-19T15:47:02Z'
                  trainingType: Regular
                - created: '2017-12-19T15:46:59Z'
                  domainId: null
                  exportable: false
                  exportableTo:
                    - ONNX
                    - DockerFile
                    - TensorFlow
                    - CoreML
                  id: 3adaf7b2-18fc-4376-9da4-b5ea160a7cf5
                  lastModified: '2017-12-19T15:46:59Z'
                  name: Iteration 3
                  projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                  publishName: ''
                  reservedBudgetInHours: 0
                  status: New
                  trainingType: Regular
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}':
    delete:
      consumes: []
      operationId: DeleteIteration
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Delete a specific iteration of a project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful DeleteIteration request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '204': {}
    get:
      consumes: []
      operationId: GetIteration
      parameters:
        - description: The id of the project the iteration belongs to.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the iteration to get.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIteration request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-18T22:40:36Z'
                domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                exportable: false
                exportableTo:
                  - ONNX
                  - DockerFile
                  - TensorFlow
                  - CoreML
                id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                lastModified: '2017-12-19T15:47:02Z'
                name: Iteration 2
                projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                publishName: ''
                reservedBudgetInHours: 0
                status: Completed
                trainedAt: '2017-12-19T15:47:02Z'
                trainingType: Regular
              headers: {}
    patch:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateIteration
      parameters:
        - description: Project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The updated iteration model.
          in: body
          name: updatedIteration
          required: true
          schema:
            $ref: '#/definitions/Iteration'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Update a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UpdateIteration request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            updatedIteration:
              name: Best Iteration
          responses:
            '200':
              body:
                created: '2017-12-18T22:40:36Z'
                domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                exportable: false
                exportableTo:
                  - ONNX
                  - DockerFile
                  - TensorFlow
                  - CoreML
                id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                lastModified: '2017-12-19T15:53:07Z'
                name: Best Iteration
                projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                publishName: ''
                reservedBudgetInHours: 0
                status: Completed
                trainedAt: '2017-12-19T15:47:02Z'
                trainingType: Regular
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/export':
    get:
      consumes: []
      operationId: GetExports
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Export'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get the list of exports for a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetExports request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                - downloadUri: '{Download URI}'
                  newerVersionAvailable: false
                  platform: TensorFlow
                  status: Done
              headers: {}
    post:
      consumes: []
      operationId: ExportIteration
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The target platform.
          enum:
            - CoreML
            - TensorFlow
            - DockerFile
            - ONNX
            - VAIDK
          in: query
          name: platform
          required: true
          type: string
        - description: The flavor of the target platform.
          enum:
            - Linux
            - Windows
            - ONNX10
            - ONNX12
            - ARM
            - TensorFlowNormal
            - TensorFlowLite
          in: query
          name: flavor
          required: false
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Export'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Export a trained iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful ExportIteration request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            platform: TensorFlow
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                downloadUri: ''
                newerVersionAvailable: false
                platform: TensorFlow
                status: Exporting
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/performance':
    get:
      consumes: []
      operationId: GetIterationPerformance
      parameters:
        - description: The id of the project the iteration belongs to.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the iteration to get.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The threshold used to determine true predictions.
          format: float
          in: query
          name: threshold
          required: false
          type: number
        - description: 'If applicable, the bounding box overlap threshold used to determine true predictions.'
          format: float
          in: query
          name: overlapThreshold
          required: false
          type: number
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IterationPerformance'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get detailed performance information about an iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIterationPerformance request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            threshold: 0.9
          responses:
            '200':
              body:
                perTagPerformance:
                  - id: e31ff107-5505-4753-be42-b369b21b026c
                    name: Hemlock
                    precision: 1
                    precisionStdDeviation: 0
                    recall: 1
                    recallStdDeviation: 0
                  - id: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    name: Japanese Cherry
                    precision: 1
                    precisionStdDeviation: 0
                    recall: 1
                    recallStdDeviation: 0
                precision: 1
                precisionStdDeviation: 0
                recall: 1
                recallStdDeviation: 0
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/performance/images':
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformances
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 20
          minItems: 0
          name: tagIds
          required: false
          type: array
        - description: The ordering. Defaults to newest.
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
        - default: 50
          description: 'Maximum number of images to return. Defaults to 50, limited to 256.'
          format: int32
          in: query
          maximum: 256
          minimum: 0
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults to 0.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ImagePerformance'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get image with its prediction for a given project iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetImagePerformances request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
            orderBy: Newest
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagIds:
              - ''
          responses:
            '200':
              body:
                - created: '2018-01-31T20:18:26Z'
                  height: 1600
                  id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
                  imageUri: <image uri>
                  predictions:
                    - boundingBox:
                        height: 0.25
                        left: 0.25
                        top: 0.25
                        width: 0.25
                      probability: 1
                      tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                      tagName: Tag 1
                  regions: []
                  tags: []
                  thumbnailUri: <thumbnail uri>
                  width: 600
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/performance/images/count':
    get:
      consumes: []
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformanceCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: "Gets the number of images tagged with the provided {tagIds} that have prediction results from\r\ntraining for the provided iteration {iterationId}."
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetImagePerformanceCount request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagIds:
              - b5f7e6a2-a481-49a6-afec-a7cef1af3544
          responses:
            '200':
              body: '1'
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/publish':
    delete:
      consumes: []
      operationId: UnpublishIteration
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Unpublish a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UnpublishIteration request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '204': {}
    post:
      consumes: []
      operationId: PublishIteration
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The name to give the published iteration.
          in: query
          name: publishName
          required: true
          type: string
        - description: The id of the prediction resource to publish to.
          in: query
          name: predictionId
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Publish a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful PublishIteration request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            predictionId: '/subscriptions/{subscription}/resourceGroups/{resource group name}/providers/Microsoft.CognitiveServices/accounts/{resource name}'
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            publishName: Model1
          responses:
            '200':
              body: true
              headers: {}
  '/projects/{projectId}/predictions':
    delete:
      consumes: []
      operationId: DeletePrediction
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The prediction ids. Limited to 64.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 64
          minItems: 0
          name: ids
          required: true
          type: array
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Delete a set of predicted images and their associated prediction results.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful DeletePrediction request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            ids:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '204': {}
  '/projects/{projectId}/predictions/query':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: QueryPredictions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Parameters used to query the predictions. Limited to combining 2 tags.
          in: body
          name: query
          required: true
          schema:
            $ref: '#/definitions/PredictionQueryToken'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PredictionQueryResult'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get images that were sent to your prediction endpoint.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QueryPredictions request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            query:
              orderBy: Newest
              tags:
                - id: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                  maxThreshold: 1
                  minThreshold: 0.9
          responses:
            '200':
              body:
                results:
                  - created: '2018-01-31T20:18:26Z'
                    domain: b30a91ae-e3c1-4f73-a81e-c270bff27c39
                    id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
                    iteration: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
                    originalImageUri: <image uri>
                    predictions:
                      - probability: 1
                        tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                        tagName: Tag 1
                      - probability: 3.60627153e-12
                        tagId: 45619cda-d1c9-4bc8-a3e1-87c5d81adbc3
                        tagName: Tag 2
                    project: 8988643a-ae70-447d-9a22-15c4255e5ecb
                    resizedImageUri: <resized image uri>
                    thumbnailUri: <thumbnail uri>
                token:
                  application: ''
                  continuation: ''
                  endTime: null
                  iterationId: null
                  maxCount: 0
                  orderBy: Newest
                  session: '1:286613'
                  startTime: null
                  tags:
                    - id: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                      maxThreshold: 1
                      minThreshold: 0.9
              headers: {}
  '/projects/{projectId}/quicktest/image':
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      operationId: QuickTestImage
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified."
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
        - default: true
          description: 'Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.'
          in: query
          name: store
          required: false
          type: boolean
        - description: 'Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.'
          in: formData
          name: imageData
          required: true
          type: file
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Quick test an image.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QuickTestImage request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageData: multipart-form-data
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/projects/{projectId}/quicktest/url':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: QuickTestImageUrl
      parameters:
        - description: The project to evaluate against.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: An ImageUrl that contains the url of the image to be evaluated.
          in: body
          name: imageUrl
          required: true
          schema:
            $ref: '#/definitions/ImageUrl'
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified."
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
        - default: true
          description: 'Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.'
          in: query
          name: store
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Quick test an image url.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QuickTestImageUrl request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageUrl:
              url: '{Image URL}'
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/projects/{projectId}/tags':
    get:
      consumes: []
      operationId: GetTags
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Tag'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get the tags for a given project and iteration.
      tags:
        - TagsApi
      x-ms-examples:
        Successful GetTags request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                - description: Description of Tag1
                  id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                  imageCount: 0
                  name: Tag1
                  type: Regular
              headers: {}
    post:
      consumes: []
      operationId: CreateTag
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The tag name.
          in: query
          name: name
          required: true
          type: string
        - description: Optional description for the tag.
          in: query
          name: description
          required: false
          type: string
        - description: Optional type for the tag.
          enum:
            - Regular
            - Negative
          in: query
          name: type
          required: false
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Create a tag for the project.
      tags:
        - TagsApi
      x-ms-examples:
        Successful CreateTag request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            body: ''
            description: Description of Tag1
            name: Tag1
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                description: Description of Tag1
                id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                imageCount: 0
                name: Tag1
                type: Regular
              headers: {}
  '/projects/{projectId}/tags/{tagId}':
    delete:
      consumes: []
      operationId: DeleteTag
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Id of the tag to be deleted.
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Delete a tag from the project.
      tags:
        - TagsApi
      x-ms-examples:
        Successful DeleteTag request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagId: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          responses:
            '204': {}
    get:
      consumes: []
      operationId: GetTag
      parameters:
        - description: The project this tag belongs to.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The tag id.
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - description: 'The iteration to retrieve this tag from. Optional, defaults to current training set.'
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Get information about a specific tag.
      tags:
        - TagsApi
      x-ms-examples:
        Successful GetTag request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagId: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          responses:
            '200':
              body:
                description: Description of Tag1
                id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                imageCount: 0
                name: Tag1
                type: Regular
              headers: {}
    patch:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateTag
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the target tag.
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - description: The updated tag model.
          in: body
          name: updatedTag
          required: true
          schema:
            $ref: '#/definitions/Tag'
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Update a tag.
      tags:
        - TagsApi
      x-ms-examples:
        Successful UpdateTag request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagId: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
            updatedTag:
              description: Better description
              name: Better Tag Name
              type: Regular
          responses:
            '200':
              body:
                description: Better description
                id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                imageCount: 0
                name: Better Tag Name
                type: Regular
              headers: {}
  '/projects/{projectId}/tagsandregions/suggestions':
    post:
      consumes: []
      description: "This API will get suggested tags and regions for an array/batch of untagged images along with confidences for the tags. It returns an empty array if no tags are found.\r\nThere is a limit of 64 images in the batch."
      operationId: SuggestTagsAndRegions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: IterationId to use for tag and region suggestion.
          format: uuid
          in: query
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Array of image ids tag suggestion are needed for. Use GetUntaggedImages API to get imageIds.
          in: query
          items:
            format: uuid
            type: string
            x-nullable: false
          maxItems: 64
          minItems: 0
          name: imageIds
          required: true
          type: array
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/SuggestedTagAndRegion'
            type: array
        default:
          description: Error response
          schema:
            $ref: '#/definitions/CustomVisionError'
      summary: Suggest tags and regions for an array/batch of untagged images. Returns empty array if no tags are found.
      tags:
        - SuggestTagsAndRegionsApi
      x-ms-examples:
        Successful SuggestTagsAndRegions request:
          parameters:
            Content-Type: application/json
            Endpoint: 'https://westus.api.cognitive.microsoft.com'
            Training-Key: '{API Key}'
            imageIds:
              - e7f08c23-9e54-49f7-b609-69a0240ba306
              - ce632666-4b66-4adb-aa0a-ad8b7c32df06
            iterationId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                - created: '2019-07-08T13:43:18Z'
                  id: 8497e814-23cc-47d7-b24b-691cef0bcec9
                  iteration: ce271ee4-cc13-460f-b66f-993f8005522d
                  predictionUncertainty: 0.32
                  predictions:
                    - probability: 1
                      tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                      tagName: Tag 1
                    - probability: 3.60627153e-12
                      tagId: 45619cda-d1c9-4bc8-a3e1-87c5d81adbc3
                      tagName: Tag 2
                  project: bc3f7dad-5544-468c-8573-3ef04d55463e
              headers: {}
  '/projects/{projectId}/train':
    post:
      consumes:
        - application/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: TrainProject
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: 'The type of training to use to train the project (default: Regular).'
          enum:
            - Regular
            - Advanced
          in: query
          name: trainingType
          required: false
          type: string
        - default: 0
          description: The number of hours reserved as budget for training (if applicable).
          format: int32
          in: query
          name: reservedBudgetInHours
          required: false
          type: integer
        - default: false
          description: 'Whether to force train even if dataset and configuration does not change (default: false).'
          in: query
          name: forceTrain
          required: false
          type: boolean
        - description: 'The email address to send notification to when training finishes (default: null).'
          in: query
          name: notificationEmailAddress
          required: false
          type: string
        - description: Additional training parameters passed in to control how the project is trained.
          in: body
          name: trainingParameters
          required: false
          schema:
            $ref: '#/definitions/TrainingParameters'
          x-nullable: true
      produces:
        - application/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
        default:
          description: Error response
          schema:
[...]
