{
  "swagger": "2.0",
  "info": {
    "title": "Drive API",
    "description": "The API to interact with Drive.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v2"
  },
  "host": "www.googleapis.com",
  "basePath": "/drive/v2",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "https://developers.google.com/drive/"
  },
  "paths": {
    "/about": {
      "get": {
        "description": "Gets the information about the current user along with Drive API settings",
        "operationId": "drive.about.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/About"
            }
          }
        },
        "parameters": [
          {
            "name": "includeSubscribed",
            "in": "query",
            "description": "When calculating the number of remaining change IDs, whether to include public files the user has opened and shared files. When set to false, this counts only change IDs for owned files and any shared or public files that the user has explicitly added to a folder they own.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "maxChangeIdCount",
            "in": "query",
            "description": "Maximum number of remaining change IDs to count",
            "default": "1",
            "type": "string"
          },
          {
            "name": "startChangeId",
            "in": "query",
            "description": "Change ID to start counting from when calculating number of remaining change IDs",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "about"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/apps/{appId}": {
      "get": {
        "description": "Gets a specific app.",
        "operationId": "drive.apps.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The ID of the app.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "apps"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/apps": {
      "get": {
        "description": "Lists a user's installed apps.",
        "operationId": "drive.apps.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AppList"
            }
          }
        },
        "parameters": [
          {
            "name": "appFilterExtensions",
            "in": "query",
            "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.",
            "default": "",
            "type": "string"
          },
          {
            "name": "appFilterMimeTypes",
            "in": "query",
            "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.",
            "default": "",
            "type": "string"
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.apps.readonly"
            ]
          }
        ],
        "tags": [
          "apps"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/changes/{changeId}": {
      "get": {
        "description": "Gets a specific change.",
        "operationId": "drive.changes.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Change"
            }
          }
        },
        "parameters": [
          {
            "name": "changeId",
            "in": "path",
            "description": "The ID of the change.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "changes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/changes": {
      "get": {
        "description": "Lists the changes for a user.",
        "operationId": "drive.changes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChangeList"
            }
          }
        },
        "parameters": [
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Whether to include deleted items.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "includeSubscribed",
            "in": "query",
            "description": "Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of changes to return.",
            "default": "100",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token for changes.",
            "type": "string"
          },
          {
            "name": "startChangeId",
            "in": "query",
            "description": "Change ID to start listing changes from.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "changes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/changes/watch": {
      "post": {
        "description": "Subscribe to changes for a user.",
        "operationId": "drive.changes.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        },
        "parameters": [
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Whether to include deleted items.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "includeSubscribed",
            "in": "query",
            "description": "Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of changes to return.",
            "default": "100",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token for changes.",
            "type": "string"
          },
          {
            "name": "startChangeId",
            "in": "query",
            "description": "Change ID to start listing changes from.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "changes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/channels/stop": {
      "post": {
        "description": "Stop watching resources through this channel",
        "operationId": "drive.channels.stop",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "channels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{folderId}/children/{childId}": {
      "delete": {
        "description": "Removes a child from a folder.",
        "operationId": "drive.children.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "childId",
            "in": "path",
            "description": "The ID of the child.",
            "required": true,
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "The ID of the folder.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "children"
        ]
      },
      "get": {
        "description": "Gets a specific child reference.",
        "operationId": "drive.children.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChildReference"
            }
          }
        },
        "parameters": [
          {
            "name": "childId",
            "in": "path",
            "description": "The ID of the child.",
            "required": true,
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "The ID of the folder.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "children"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{folderId}/children": {
      "post": {
        "description": "Inserts a file into a folder.",
        "operationId": "drive.children.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChildReference"
            }
          }
        },
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "The ID of the folder.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "children"
        ]
      },
      "get": {
        "description": "Lists a folder's children.",
        "operationId": "drive.children.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChildList"
            }
          }
        },
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "The ID of the folder.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of children to return.",
            "default": "100",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token for children.",
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query string for searching children.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "children"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/comments/{commentId}": {
      "delete": {
        "description": "Deletes a comment.",
        "operationId": "drive.comments.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "get": {
        "description": "Gets a comment by ID.",
        "operationId": "drive.comments.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "patch": {
        "description": "Updates an existing comment. This method supports patch semantics.",
        "operationId": "drive.comments.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "put": {
        "description": "Updates an existing comment.",
        "operationId": "drive.comments.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/comments": {
      "post": {
        "description": "Creates a new comment on the given file.",
        "operationId": "drive.comments.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "get": {
        "description": "Lists a file's comments.",
        "operationId": "drive.comments.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentList"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of discussions to include in the response, used for paging.",
            "default": "20",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/copy": {
      "post": {
        "description": "Creates a copy of the specified file.",
        "operationId": "drive.files.copy",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "convert",
            "in": "query",
            "description": "Whether to convert this file to the corresponding Google Docs format.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to copy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ocr",
            "in": "query",
            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
            "type": "string"
          },
          {
            "name": "pinned",
            "in": "query",
            "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "timedTextLanguage",
            "in": "query",
            "description": "The language of the timed text.",
            "type": "string"
          },
          {
            "name": "timedTextTrackName",
            "in": "query",
            "description": "The timed text track name.",
            "type": "string"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false.",
            "default": "DEFAULT",
            "type": "string",
            "enum": [
              "DEFAULT",
              "PRIVATE"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}": {
      "delete": {
        "description": "Permanently deletes a file by ID. Skips the trash.",
        "operationId": "drive.files.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "get": {
        "description": "Gets a file's metadata by ID.",
        "operationId": "drive.files.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "acknowledgeAbuse",
            "in": "query",
            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file in question.",
            "required": true,
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "This parameter is deprecated and has no function.",
            "type": "string",
            "enum": [
              "BASIC",
              "FULL"
            ]
          },
          {
            "name": "updateViewedDate",
            "in": "query",
            "description": "Whether to update the view date after successfully retrieving the file.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "patch": {
        "description": "Updates file metadata and/or content. This method supports patch semantics.",
        "operationId": "drive.files.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "addParents",
            "in": "query",
            "description": "Comma-separated list of parent IDs to add.",
            "type": "string"
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Whether to convert this file to the corresponding Google Docs format.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newRevision",
            "in": "query",
            "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous revisions are preserved (causing increased use of the user's data storage quota).",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "ocr",
            "in": "query",
            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
            "type": "string"
          },
          {
            "name": "pinned",
            "in": "query",
            "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "removeParents",
            "in": "query",
            "description": "Comma-separated list of parent IDs to remove.",
            "type": "string"
          },
          {
            "name": "setModifiedDate",
            "in": "query",
            "description": "Whether to set the modified date with the supplied modified date.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "timedTextLanguage",
            "in": "query",
            "description": "The language of the timed text.",
            "type": "string"
          },
          {
            "name": "timedTextTrackName",
            "in": "query",
            "description": "The timed text track name.",
            "type": "string"
          },
          {
            "name": "updateViewedDate",
            "in": "query",
            "description": "Whether to update the view date after successfully updating the file.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the content as indexable text.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.scripts"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "put": {
        "description": "Updates file metadata and/or content.",
        "operationId": "drive.files.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "addParents",
            "in": "query",
            "description": "Comma-separated list of parent IDs to add.",
            "type": "string"
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Whether to convert this file to the corresponding Google Docs format.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newRevision",
            "in": "query",
            "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous revisions are preserved (causing increased use of the user's data storage quota).",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "ocr",
            "in": "query",
            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
            "type": "string"
          },
          {
            "name": "pinned",
            "in": "query",
            "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "removeParents",
            "in": "query",
            "description": "Comma-separated list of parent IDs to remove.",
            "type": "string"
          },
          {
            "name": "setModifiedDate",
            "in": "query",
            "description": "Whether to set the modified date with the supplied modified date.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "timedTextLanguage",
            "in": "query",
            "description": "The language of the timed text.",
            "type": "string"
          },
          {
            "name": "timedTextTrackName",
            "in": "query",
            "description": "The timed text track name.",
            "type": "string"
          },
          {
            "name": "updateViewedDate",
            "in": "query",
            "description": "Whether to update the view date after successfully updating the file.",
            "default": "true",
            "type": "boolean"
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the content as indexable text.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.scripts"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/trash": {
      "delete": {
        "description": "Permanently deletes all of the user's trashed files.",
        "operationId": "drive.files.emptyTrash",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files": {
      "post": {
        "description": "Insert a new file.",
        "operationId": "drive.files.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "convert",
            "in": "query",
            "description": "Whether to convert this file to the corresponding Google Docs format.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "ocr",
            "in": "query",
            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
            "type": "string"
          },
          {
            "name": "pinned",
            "in": "query",
            "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "timedTextLanguage",
            "in": "query",
            "description": "The language of the timed text.",
            "type": "string"
          },
          {
            "name": "timedTextTrackName",
            "in": "query",
            "description": "The timed text track name.",
            "type": "string"
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the content as indexable text.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility of the new file. This parameter is only relevant when convert=false.",
            "default": "DEFAULT",
            "type": "string",
            "enum": [
              "DEFAULT",
              "PRIVATE"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "get": {
        "description": "Lists the user's files.",
        "operationId": "drive.files.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/FileList"
            }
          }
        },
        "parameters": [
          {
            "name": "corpus",
            "in": "query",
            "description": "The body of items (files/documents) to which the query applies.",
            "type": "string",
            "enum": [
              "DEFAULT",
              "DOMAIN"
            ]
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of files to return.",
            "default": "100",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token for files.",
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "This parameter is deprecated and has no function.",
            "type": "string",
            "enum": [
              "BASIC",
              "FULL"
            ]
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query string for searching files.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/touch": {
      "post": {
        "description": "Set the file's updated time to the current server time.",
        "operationId": "drive.files.touch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to update.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/trash": {
      "post": {
        "description": "Moves a file to the trash.",
        "operationId": "drive.files.trash",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to trash.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/untrash": {
      "post": {
        "description": "Restores a file from the trash.",
        "operationId": "drive.files.untrash",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file to untrash.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/watch": {
      "post": {
        "description": "Subscribe to changes on a file",
        "operationId": "drive.files.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        },
        "parameters": [
          {
            "name": "acknowledgeAbuse",
            "in": "query",
            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file in question.",
            "required": true,
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "This parameter is deprecated and has no function.",
            "type": "string",
            "enum": [
              "BASIC",
              "FULL"
            ]
          },
          {
            "name": "updateViewedDate",
            "in": "query",
            "description": "Whether to update the view date after successfully retrieving the file.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/parents/{parentId}": {
      "delete": {
        "description": "Removes a parent from a file.",
        "operationId": "drive.parents.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "The ID of the parent.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "parents"
        ]
      },
      "get": {
        "description": "Gets a specific parent reference.",
        "operationId": "drive.parents.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ParentReference"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "The ID of the parent.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "parents"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/parents": {
      "post": {
        "description": "Adds a parent folder for a file.",
        "operationId": "drive.parents.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ParentReference"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "parents"
        ]
      },
      "get": {
        "description": "Lists a file's parents.",
        "operationId": "drive.parents.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ParentList"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "parents"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/permissions/{permissionId}": {
      "delete": {
        "description": "Deletes a permission from a file.",
        "operationId": "drive.permissions.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "The ID for the permission.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "get": {
        "description": "Gets a permission by ID.",
        "operationId": "drive.permissions.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "The ID for the permission.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "patch": {
        "description": "Updates a permission. This method supports patch semantics.",
        "operationId": "drive.permissions.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "The ID for the permission.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transferOwnership",
            "in": "query",
            "description": "Whether changing a role to 'owner' should also downgrade the current owners to writers.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "put": {
        "description": "Updates a permission.",
        "operationId": "drive.permissions.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "The ID for the permission.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transferOwnership",
            "in": "query",
            "description": "Whether changing a role to 'owner' should also downgrade the current owners to writers.",
            "default": "false",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/permissionIds/{email}": {
      "get": {
        "description": "Returns the permission ID for an email address.",
        "operationId": "drive.permissions.getIdForEmail",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PermissionId"
            }
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email address for which to return a permission ID",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.apps.readonly",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/permissions": {
      "post": {
        "description": "Inserts a permission for a file.",
        "operationId": "drive.permissions.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "parameters": [
          {
            "name": "emailMessage",
            "in": "query",
            "description": "A custom message to include in notification emails.",
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sendNotificationEmails",
            "in": "query",
            "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the role is owner.",
            "default": "true",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "get": {
        "description": "Lists a file's permissions.",
        "operationId": "drive.permissions.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PermissionList"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/properties/{propertyKey}": {
      "delete": {
        "description": "Deletes a property.",
        "operationId": "drive.properties.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property.",
            "required": true,
            "type": "string"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility of the property.",
            "default": "private",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "properties"
        ]
      },
      "get": {
        "description": "Gets a property by its key.",
        "operationId": "drive.properties.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Property"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property.",
            "required": true,
            "type": "string"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility of the property.",
            "default": "private",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "properties"
        ]
      },
      "patch": {
        "description": "Updates a property. This method supports patch semantics.",
        "operationId": "drive.properties.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Property"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property.",
            "required": true,
            "type": "string"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility of the property.",
            "default": "private",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "properties"
        ]
      },
      "put": {
        "description": "Updates a property.",
        "operationId": "drive.properties.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Property"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property.",
            "required": true,
            "type": "string"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "The visibility of the property.",
            "default": "private",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "properties"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/properties": {
      "post": {
        "description": "Adds a property to a file.",
        "operationId": "drive.properties.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Property"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "properties"
        ]
      },
      "get": {
        "description": "Lists a file's properties.",
        "operationId": "drive.properties.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PropertyList"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "properties"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/realtime": {
      "get": {
        "description": "Exports the contents of the Realtime API data model associated with this file as JSON.",
        "operationId": "drive.realtime.get",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file that the Realtime API data model is associated with.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revision",
            "in": "query",
            "description": "The revision of the Realtime API data model to export. Revisions start at 1 (the initial empty data model) and are incremented with each change. If this parameter is excluded, the most recent data model will be returned.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "realtime"
        ]
      },
      "put": {
        "description": "Overwrites the Realtime API data model associated with this file with the provided JSON data model.",
        "operationId": "drive.realtime.update",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "baseRevision",
            "in": "query",
            "description": "The revision of the model to diff the uploaded model against. If set, the uploaded model is diffed against the provided revision and those differences are merged with any changes made to the model after the provided revision. If not set, the uploaded model replaces the current model on the server.",
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file that the Realtime API data model is associated with.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "realtime"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/comments/{commentId}/replies/{replyId}": {
      "delete": {
        "description": "Deletes a reply.",
        "operationId": "drive.replies.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "replyId",
            "in": "path",
            "description": "The ID of the reply.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "replies"
        ]
      },
      "get": {
        "description": "Gets a reply.",
        "operationId": "drive.replies.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentReply"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "If set, this will succeed when retrieving a deleted reply.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "replyId",
            "in": "path",
            "description": "The ID of the reply.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "replies"
        ]
      },
      "patch": {
        "description": "Updates an existing reply. This method supports patch semantics.",
        "operationId": "drive.replies.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentReply"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "replyId",
            "in": "path",
            "description": "The ID of the reply.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "replies"
        ]
      },
      "put": {
        "description": "Updates an existing reply.",
        "operationId": "drive.replies.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentReply"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "replyId",
            "in": "path",
            "description": "The ID of the reply.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "replies"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/comments/{commentId}/replies": {
      "post": {
        "description": "Creates a new reply to the given comment.",
        "operationId": "drive.replies.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentReply"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "replies"
        ]
      },
      "get": {
        "description": "Lists all of the replies to a comment.",
        "operationId": "drive.replies.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentReplyList"
            }
          }
        },
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
            "default": "false",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of replies to include in the response, used for paging.",
            "default": "20",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "replies"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/revisions/{revisionId}": {
      "delete": {
        "description": "Removes a revision.",
        "operationId": "drive.revisions.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "path",
            "description": "The ID of the revision.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "revisions"
        ]
      },
      "get": {
        "description": "Gets a specific revision.",
        "operationId": "drive.revisions.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Revision"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "path",
            "description": "The ID of the revision.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "revisions"
        ]
      },
      "patch": {
        "description": "Updates a revision. This method supports patch semantics.",
        "operationId": "drive.revisions.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Revision"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "path",
            "description": "The ID for the revision.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "revisions"
        ]
      },
      "put": {
        "description": "Updates a revision.",
        "operationId": "drive.revisions.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Revision"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID for the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "path",
            "description": "The ID for the revision.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "revisions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/files/{fileId}/revisions": {
      "get": {
        "description": "Lists a file's revisions.",
        "operationId": "drive.revisions.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RevisionList"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.metadata.readonly",
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "revisions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "About": {
      "id": "About",
      "type": "object",
      "description": "An item with user information and settings.",
      "properties": {
        "additionalRoleInfo": {
          "type": "array",
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "items": {
            "type": "object",
            "properties": {
              "roleSets": {
                "type": "array",
                "description": "The supported additional roles per primary role.",
                "items": {
                  "type": "object",
                  "properties": {
                    "additionalRoles": {
                      "type": "array",
                      "description": "The supported additional roles with the primary role.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "primaryRole": {
                      "type": "string",
                      "description": "A primary permission role."
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "description": "The content type that this additional role info applies to."
              }
            }
          }
        },
        "domainSharingPolicy": {
          "type": "string",
          "description": "The domain sharing policy for the current user."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the item."
        },
        "exportFormats": {
          "type": "array",
          "description": "The allowable export formats.",
          "items": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "description": "The content type to convert from."
              },
              "targets": {
                "type": "array",
                "description": "The possible content types to convert to.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "features": {
          "type": "array",
          "description": "List of additional features enabled on this account.",
          "items": {
            "type": "object",
            "properties": {
              "featureName": {
                "type": "string",
                "description": "The name of the feature."
              },
              "featureRate": {
                "type": "number",
                "description": "The request limit rate for this feature, in queries per second.",
                "format": "double"
              }
            }
          }
        },
        "folderColorPalette": {
          "type": "array",
[...]
