swagger: '2.0'
schemes:
  - https
  - http
host: api.weatherbit.io
basePath: /v2.0
info:
  contact:
    x-twitter: weatherbitio
  description: 'This is the documentation for the Weatherbit Weather API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below is the Swagger UI documentation for the API. All API requests require the `key` parameter.        An Example for a 5 day forecast for London, UK would be `http://api.weatherbit.io/v2.0/forecast/3hourly?city=London`&`country=UK`. See our [Weather API description page](https://www.weatherbit.io/api) for additional documentation.'
  title: Weatherbit.io - Swagger UI Weather API documentation
  version: 2.0.0
  x-apisguru-categories:
    - location
  x-logo:
    url: 'https://twitter.com/weatherbitio/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://www.weatherbit.io/static/swagger.json'
      version: '2.0'
  x-providerName: weatherbit.io
produces:
  - application/json
paths:
  '/bulk/history/daily?city={city}&country={country}':
    get:
      description: 'Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.'
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given City and/or State, Country.'
      tags:
        - (Bulk) Daily Historical Weather Data (Enterprise Plans)
  '/bulk/history/daily?city_id={city_id}':
    get:
      description: Returns Historical Observations - Given a City ID.
      parameters:
        - description: 'City ID. Example: 4487042'
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a City ID'
      tags:
        - (Bulk) Daily Historical Weather Data (Enterprise Plans)
  '/bulk/history/daily?ip={ip}':
    get:
      description: 'Returns Historical Observations - Given IP Address, or auto.'
      parameters:
        - description: 'IP Address, or auto. Example: ip=auto'
          format: string
          in: path
          name: ip
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given IP Address, or auto.'
      tags:
        - (Bulk) Daily Historical Weather Data (Enterprise Plans)
  '/bulk/history/daily?lat={lat}&lon={lon}':
    get:
      description: 'Returns Historical Observations - Given a lat, and lon.'
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a lat/lon.'
      tags:
        - (Bulk) Daily Historical Weather Data (Enterprise Plans)
  '/bulk/history/daily?postal_code={postal_code}':
    get:
      description: Returns Historical Observations - Given a Postal Code.
      parameters:
        - description: 'Postal Code. Example: 28546'
          format: string
          in: path
          name: postal_code
          required: true
          type: string
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a Postal Code'
      tags:
        - (Bulk) Daily Historical Weather Data (Enterprise Plans)
  '/bulk/history/daily?station={station}':
    get:
      description: Returns Historical Observations - Given a station ID.
      parameters:
        - description: Station ID.
          format: string
          in: path
          name: station
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a station ID.'
      tags:
        - (Bulk) Daily Historical Weather Data (Enterprise Plans)
  '/bulk/history/hourly?city={city}&country={country}':
    get:
      description: 'Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.'
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Data Object.
          schema:
            $ref: '#/definitions/History'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given City and/or State, Country. (1 Year/call limit)'
      tags:
        - (Bulk) Hourly Historical Weather Data (Enterprise Plans)
  '/bulk/history/hourly?city_id={city_id}':
    get:
      description: Returns Historical Observations - Given a City ID.
      parameters:
        - description: 'City ID. Example: 4487042'
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Data Object.
          schema:
            $ref: '#/definitions/History'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a City ID. (1 Year/call limit)'
      tags:
        - (Bulk) Hourly Historical Weather Data (Enterprise Plans)
  '/bulk/history/hourly?ip={ip}':
    get:
      description: 'Returns Historical Observations - Given IP Address, or auto.'
      parameters:
        - description: 'IP Address, or auto. Example: ip=auto'
          format: string
          in: path
          name: ip
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Data Object.
          schema:
            $ref: '#/definitions/History'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given IP Address, or auto. (1 Year/call limit)'
      tags:
        - (Bulk) Hourly Historical Weather Data (Enterprise Plans)
  '/bulk/history/hourly?lat={lat}&lon={lon}':
    get:
      description: 'Returns Historical Observations - Given a lat, and lon.'
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Data Object.
          schema:
            $ref: '#/definitions/History'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a lat/lon. (1 Year/call limit)'
      tags:
        - (Bulk) Hourly Historical Weather Data (Enterprise Plans)
  '/bulk/history/hourly?postal_code={postal_code}':
    get:
      description: 'Returns Historical Observations - Given a Postal Code. '
      parameters:
        - description: 'Postal Code. Example: 28546'
          format: string
          in: path
          name: postal_code
          required: true
          type: string
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Data Object.
          schema:
            $ref: '#/definitions/History'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a Postal Code. (1 Year/call limit)'
      tags:
        - (Bulk) Hourly Historical Weather Data (Enterprise Plans)
  '/bulk/history/hourly?station={station}':
    get:
      description: Returns Historical Observations - Given a station ID.
      parameters:
        - description: Station ID.
          format: string
          in: path
          name: station
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Data Object.
          schema:
            $ref: '#/definitions/History'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: '[Enterprise Plan Only] Returns Historical Observations - Given a station ID. (1 Year/call limit)'
      tags:
        - (Bulk) Hourly Historical Weather Data (Enterprise Plans)
  '/bulk/{file}':
    get:
      description: '**(Enterprise plans only)** Downloads bulk data files - OPTIONS: (forecast16d.json.gz - 16 day forecasts for cities > 1000 population, current.json.gz - Current observations for cities > 1000 population).'
      parameters:
        - description: Filename (ie. forecast16d.json.gz)
          format: string
          in: path
          name: file
          required: true
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Download pre-generated bulk datasets
      tags:
        - Bulk Downloads
  '/current?cities={cities}':
    get:
      description: 'Returns a group of Current Observations - Given a list of City IDs. '
      parameters:
        - description: 'Comma separated list of City ID''s. Example: 4487042, 4494942, 4504871'
          format: string
          in: path
          name: cities
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Marine stations only (buoys, oil platforms, etc)'
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a group of observations given a list of cities
      tags:
        - Current Weather Data
  '/current?city={city}&country={country}':
    get:
      description: 'Returns a Current Observation - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.'
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: 'Marine stations only (buoys, oil platforms, etc)'
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a Current Observation - Given City and/or State, Country.'
      tags:
        - Current Weather Data
  '/current?city_id={city_id}':
    get:
      description: 'Returns current weather observation - Given a City ID. '
      parameters:
        - description: 'City ID. Example: 4487042'
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Marine stations only (buoys, oil platforms, etc)'
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a current observation by city id.
      tags:
        - Current Weather Data
  '/current?ip={ip}':
    get:
      description: 'Returns a Current Observation - Given an IP address, or auto.'
      parameters:
        - description: 'IP Address, or auto. Example: ip=auto'
          format: string
          in: path
          name: ip
          required: true
          type: string
        - description: 'Marine stations only (buoys, oil platforms, etc)'
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a Current Observation - Given an IP address, or auto.'
      tags:
        - Current Weather Data
  '/current?lat={lat}&lon={lon}':
    get:
      description: 'Returns a Current Observation - given a lat, and a lon.'
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: 'Marine stations only (buoys, oil platforms, etc)'
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a Current Observation - Given a lat/lon.
      tags:
        - Current Weather Data
  '/current?postal_code={postal_code}':
    get:
      description: 'Returns current weather observation - Given a Postal Code. '
      parameters:
        - description: 'Postal Code. Example: 28546'
          format: string
          in: path
          name: postal_code
          required: true
          type: string
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: 'Marine stations only (buoys, oil platforms, etc)'
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a current observation by postal code.
      tags:
        - Current Weather Data
  '/current?station={station}':
    get:
      description: Returns a Current Observation - Given a station ID.
      parameters:
        - description: Station Call ID.
          format: string
          in: path
          name: station
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a Current Observation. - Given a station ID.
      tags:
        - Current Weather Data
  '/current?stations={stations}':
    get:
      description: 'Returns a group of Current Observations - Given a list of Station Call IDs. '
      parameters:
        - description: 'Comma separated list of Station Call ID''s. Example: KRDU,KBFI,KVNY'
          format: string
          in: path
          name: stations
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Observation Group object.
          schema:
            $ref: '#/definitions/CurrentObsGroup'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a group of observations given a list of stations
      tags:
        - Current Weather Data
  '/forecast/3hourly?city={city}&country={country}':
    get:
      description: |
        Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC.
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Number of days to return. Default 5.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a 3-hourly forecast - Given City and/or State, Country.'
      tags:
        - 5 day / 3 hour Forecast
  '/forecast/3hourly?city_id={city_id}':
    get:
      description: |
        Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC.
      parameters:
        - description: 'City ID. Example: 4487042'
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Number of days to return. Default 5.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a 3-hourly forecast - Given a City ID.
      tags:
        - 5 day / 3 hour Forecast
  '/forecast/3hourly?ip={ip}':
    get:
      description: |
        Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC.
      parameters:
        - description: 'IP address, or auto. Example: ip=auto'
          format: string
          in: path
          name: ip
          required: true
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a 3hourly forecast - Given an IP Address, or ip=auto for automatic IP lookup.'
      tags:
        - 5 day / 3 hour Forecast
  '/forecast/3hourly?lat={lat}&lon={lon}':
    get:
      description: |
        Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Number of days to return. Default 5.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a 3-hourly forecast - Given a lat/lon.
      tags:
        - 5 day / 3 hour Forecast
  '/forecast/3hourly?postal_code={postal_code}':
    get:
      description: |
        Returns a 3-hourly forecast, where each point represents a three hour period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC.
      parameters:
        - description: 'Postal Code. Example: 28546'
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Number of days to return. Default 5.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a 3-hourly forecast - Given a Postal Code.
      tags:
        - 5 day / 3 hour Forecast
  '/forecast/daily?city={city}&country={country}':
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a daily forecast - Given City and/or State, Country.'
      tags:
        - 16 day / daily Forecast
  '/forecast/daily?city_id={city_id}':
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC.
      parameters:
        - description: 'City ID. Example: 4487042'
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a daily forecast - Given a City ID.
      tags:
        - 16 day / daily Forecast
  '/forecast/daily?ip={ip}':
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC. 
      parameters:
        - description: 'IP address, or auto. Example: ip=auto'
          format: string
          in: path
          name: ip
          required: true
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a daily forecast - Given an IP Address, or ip=auto for automatic IP lookup.'
      tags:
        - 16 day / daily Forecast
  '/forecast/daily?lat={lat}&lon={lon}':
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC. 
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a daily forecast - Given Lat/Lon.
      tags:
        - 16 day / daily Forecast
  '/forecast/daily?postal_code={postal_code}':
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC.
      parameters:
        - description: 'Postal Code. Example: 28546'
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a daily forecast - Given a Postal Code.
      tags:
        - 16 day / daily Forecast
  '/forecast/energy?lat={lat}&lon={lon}':
    get:
      description: 'Retrieve an 8 day forecast relevant to te Energy Sector (degree days, solar radiation, precipitation, wind).'
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: 'Temperature threshold to use to calculate degree days (default 18 C) '
          format: double
          in: query
          name: threshold
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Energy Data Object.
          schema:
            $ref: '#/definitions/EnergyObsGroupForecast'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns Energy Forecast API response  - Given a single lat/lon. '
      tags:
        - Forecast Degree Day API
        - Forecast Solar Irradiance API
  '/forecast/hourly?city={city}&country={country}':
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns an 48 hour (hourly forecast) - Given City and/or State, Country.'
      tags:
        - 48 hour / hourly Forecast
  '/forecast/hourly?city_id={city_id}':
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: 'City ID. Example: 4487042'
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a 48 hour (hourly) forecast - Given a City ID.
      tags:
        - 48 hour / hourly Forecast
  '/forecast/hourly?ip={ip}':
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: 'IP address, or auto. Example: ip=auto'
          format: string
          in: path
          name: ip
          required: true
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns a hourly forecast - Given an IP Address, or ip=auto for automatic IP lookup.'
      tags:
        - 48 hour / hourly Forecast
  '/forecast/hourly?lat={lat}&lon={lon}':
    get:
      description: |
        Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns 48 hour (hourly) forecast - Given a lat/lon.
      tags:
        - 48 hour / hourly Forecast
  '/forecast/hourly?postal_code={postal_code}':
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: 'Postal Code. Example: 28546'
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: A forecast object.
          schema:
            $ref: '#/definitions/ForecastHourly'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: Returns a 48 hour (hourly) forecast - Given a Postal Code.
      tags:
        - 48 hour / hourly Forecast
  '/history/daily?city={city}&country={country}':
    get:
      description: 'Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**'
      parameters:
        - description: 'City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR'
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH).'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: 'Wraps return in jsonp callback. Example: callback=func'
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        '200':
          description: An Historical Day Data Object.
          schema:
            $ref: '#/definitions/HistoryDay'
        default:
          description: No Data.
          schema:
            $ref: '#/definitions/Error'
      summary: 'Returns Historical Observations - Given City and/or State, Country.'
      tags:
        - Daily Historical Weather Data
  '/history/daily?city_id={city_id}':
    get:
      description: Returns Historical Observations - Given a City ID. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**
      parameters:
        - description: 'City ID. Example: 4487042'
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: 'Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: 'End Date (YYYY-MM-DD or YYYY-MM-DD:HH)'
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: 'Language (Default: English) See <a target=''blank'' href=''/api/requests''>language field description</a>'
          enum:
            - ar
            - az
            - be
            - bg
            - bs
[...]
