swagger: "2.0"
schemes:
  - https
host: platform.clearblade.com
basePath: /
info:
  contact:
    email: support@clearblade.com
  description: A friendly little API to help you interact with the ClearBlade platform.
  termsOfService: https://docs.clearblade.com/v/4/static/tac.html
  title: ClearBlade API
  version: "3.0"
  x-apisguru-categories:
    - iot
  x-origin:
    - format: swagger
      url: https://docs.clearblade.com/v/4/static/api/openapi.yaml
      version: "2.0"
  x-providerName: clearblade.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - description: Adapter configuration and management.
    name: Adapter
  - description: Admin developer operations.
    name: Admin
  - description: Interactions for Two Factor Authentication.
    name: 2FA
  - description: Interactions with the developer audit trail.
    name: Audit
  - description: Interactions with code services.
    name: Code
  - description: Interactions with webhooks.
    name: Webhooks
  - description: Interactions with data collections.
    name: Data
  - description: Interactions with external database connections.
    name: Databases
  - description: Deployment CRUD Operations
    name: Deployments
  - description: Device authentication and management.
    name: Device
  - description: Developer operations.
    name: Developer
  - description: Interactions with edges.
    name: Edge
  - description: Interactions triggers and timers.
    name: Handlers
  - description: MQTT messaging and push notifications.
    name: Messaging
  - description: Interactions with Shared Caches
    name: Shared Cache
  - description: User authentication and management.
    name: User
  - description: Interactions with user and device sessions.
    name: Session
  - description: Interactions with portals.
    name: Portal
  - description: Interactions with file management.
    name: Files
paths:
  /admin/allapps:
    get:
      description: Retrieves system information for all systems in the developer account.
      operationId: DevGetAssets
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns an array of system information.
        "400":
          description: Bad Request.
      summary: DEVELOPER - Get platform assets
      tags:
        - Developer
  /admin/allcollections:
    get:
      description: Returns all the collections in the specified system.
      operationId: DevGetCollections
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the collections belong to.
          in: query
          name: appid
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of collections in the specified system.
        "400":
          description: Bad Request.
      summary: DEVELOPER - Get collections
      tags:
        - Developer
  /admin/allsystems:
    get:
      description: Returns all the systems tied to the specified developer's account.
      operationId: GetSystems
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: List of systems.
      summary: DEVELOPER - Get systems
      tags:
        - Developer
  /admin/audit:
    get:
      description: |
        ## Description:
        Returns list of assets and the information about the changes that have been made. This endpoint is for Admin only.
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. 
        ## Audit Table Schema:
        Refer to this when building the query.

          | Column | Type | Possible Values|Example|
          |:---------|:---------|:------|:---------|
          | id   | bigint   |ANY_POSITIVE_INTEGER|10440595|
          |system_key|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|"ccafb4cadaccaf9ebba01"|
          |time|timestamp|ISO_DATE_TIME_STRING|"2020-01-29T20:18:18.475214Z"|
          |response_time|bigint|ANY_POSITIVE_INTEGER|4038669|
          |asset_class|string|adapters, adapterFiles, devices, users, multi_dev, services, libraries, servicecaches, timers, triggers, webhooks, portals, plugins, rolesperms, collections, edges, messaging, deployments, edgegroups, system, usersessions, devicesessions|"collections"|
          |action_type|string|Create, Update, Delete, Create Columns, Delete Columns, Developer Password Reset, User Password Reset, MQTT Disconnect, MQTT Connect|"MQTT Connect"|
          |email|string|SINGLE_VALID_EMAIL_STRING|"example@clearblade.com"|
          |asset_id|string|ANY_STRING|"ClearBlade-iPhone"|
          |changes|string|STRINGIFIED_JSON|"{\\"newVersion\\":2}"|
          |user_type|string|UNKNOWN, DEV, USER, DEVICE, Invalid UserType|"DEVICE"|
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"asset_class":"services"}]},{"EQ":[{"action_type":"create"}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetAudit
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns audit information
          schema:
            $ref: "#/definitions/auditInfo"
      summary: AUDIT  - Get Audit Info
      tags:
        - Audit
  /admin/audit/count:
    get:
      description: Gets total number of changes made to assets across all systems on the instance. This endpoint is Admin only.
      operationId: GetCounts
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns number of actions
      summary: Audit - Get counts
      tags:
        - Audit
  "/admin/audit/{systemKey}":
    get:
      description: |
        ## Description:
        Returns list of assets and the information about the changes that have been made. This endpoint is for Admin and Dev.

        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. 
        ## Audit Table Schema:
        Refer to this when building the query.

          | Column | Type | Possible Values|Example|
          |:---------|:---------|:------|:---------|
          | id   | bigint   |ANY_POSITIVE_INTEGER|10440595|
          |system_key|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|"ccafb4cadaccaf9ebba01"|
          |time|timestamp|ISO_DATE_TIME_STRING|"2020-01-29T20:18:18.475214Z"|
          |response_time|bigint|ANY_POSITIVE_INTEGER|4038669|
          |asset_class|string|adapters, adapterFiles, devices, users, multi_dev, services, libraries, servicecaches, timers, triggers, webhooks, portals, plugins, rolesperms, collections, edges, messaging, deployments, edgegroups, system, usersessions, devicesessions|"collections"|
          |action_type|string|Create, Update, Delete, Create Columns, Delete Columns, Developer Password Reset, User Password Reset, MQTT Disconnect, MQTT Connect|"MQTT Connect"|
          |email|string|SINGLE_VALID_EMAIL_STRING|"example@clearblade.com"|
          |asset_id|string|ANY_STRING|"ClearBlade-iPhone"|
          |changes|string|STRINGIFIED_JSON|"{\\"newVersion\\":2}"|
          |user_type|string|UNKNOWN, DEV, USER, DEVICE, Invalid UserType|"DEVICE"|
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"asset_class":"services"}]},{"EQ":[{"action_type":"create"}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetAuditDev
      parameters:
        - description: System Key that identifies the system that holds the deployment.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns audit information
          schema:
            $ref: "#/definitions/auditInfo"
      summary: AUDIT  - Get Audit Info
      tags:
        - Audit
  "/admin/audit/{systemKey}/count":
    get:
      description: Gets total number of changes made to assets across all systems on the instance. This endpoint is for Admin and Dev.
      operationId: GetCountsDev
      parameters:
        - description: System Key that identifies the system that holds the deployment.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns number of actions
      summary: AUDIT - Get counts
      tags:
        - Audit
  /admin/auth:
    post:
      description: |
        ## Description
        Logs developer into system and returns an Developer Token
        ## Endpoint Body Values
        Here are the body values for the two scenarios
        ### Basic Auth
        Required Keys
          - username
          - password

        Example 
        ```json
        {
          "username":"cbman@clearblade.com",
          "password":"cl34rbl4d3"
        }
        ```  

        ### Refreshing Token
        Required Keys 
          - grant_type (only one valid value - "refresh_token")
          - refresh_token
          - access_token

        Example 
        ```json
        {
          "grant_type":"refresh_token",
          "refresh_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJmMjkwZTJlYjBiZDRmNjhiZDRkM2RlZjNkMWM0MDEiLCJzaWQiOiIzOWFkM2U5OC1hMmU0LTQxYzQtOGMzNi03ZjQxNDFhYzYxN2IiLCJ1dCI6MiwidHQiOjMsImV4cCI6MTU5MDI3ODExMSwiaWF0IjoxNTg5NDE0MTExfQ.iY6uJu2QgNP0uHoGdmEZm9wsztB1SUrCHrisxoXoxolol",
          "access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJmMjkwZTJlYjBiZDRmNjhiZDRkM2RlZjNkMWM0MDEiLCJzaWQiOiI3NmY4ODg4MS04YmU5LTRiM2UtOWJkNi1jOTJjZGQ4OTNlMmEiLCJ1dCI6MiwidHQiOjEsImV4cCI6MTU4OTg0NjExMSwiaWF0IjoxNTg5NDE0MTExfQ.xboryHuVn2zz-gSZ_JcD7-j_eBmJU1SMHkiDl9j8bak"
        }
        ```
      operationId: AuthDev
      parameters:
        - description: Developer credentials.
          in: body
          name: credentials
          required: true
          schema:
            $ref: "#/definitions/authdata"
      produces:
        - application/json
      responses:
        "200":
          description: Developer authenticated.
          schema:
            $ref: "#/definitions/devregresp"
      summary: DEVELOPER - Authenticate dev
      tags:
        - Developer
  /admin/checkauth:
    post:
      description: Verifies developer access to the system
      operationId: VerifyAuth
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Receives access to the system.
        "400":
          description: Bad Request.
      summary: DEVELOPER - Verifies access to the system
      tags:
        - Developer
  /admin/collectionmanagement:
    delete:
      description: Deletes an existing collection in the specified system.
      operationId: DevDeleteCollection
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: ID that identifies the collection to be deleted.
          in: query
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Collection was successfully deleted.
      summary: DEVELOPER - Delete collection
      tags:
        - Developer
    post:
      description: Creates a new collection or database connection in the specified system.
      operationId: DevCreateCollection
      parameters:
        - description: Developer Token obtained through authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Configuration info for new collection.
          in: body
          name: Collection info
          required: true
          schema:
            $ref: "#/definitions/newcollection"
      produces:
        - application/json
      responses:
        "200":
          description: Collection was successfully created.
      summary: DEVELOPER - Create collection
      tags:
        - Developer
    put:
      description: Creates or deletes a column within an existing collection, or updates an existing database connection in the specified system.
      operationId: DevUpdateCollection
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: false
          type: string
        - description: Updated collection information.
          in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/updateCollection"
      produces:
        - application/json
      responses:
        "200":
          description: Collection was successfully updated.
      summary: DEVELOPER - Update collection
      tags:
        - Developer
  /admin/count/developers:
    get:
      description: Retrieves the number of developers who are considered administrators in their system.
      operationId: GetAdminDevCount
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns number of admin developers
        "400":
          description: Bad request.
      summary: ADMIN - Get number of admin developers
      tags:
        - Admin
  /admin/count/systems:
    get:
      description: Retrieves the number of systems that are available.
      operationId: GetSystemCount
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
        "400":
          description: Bad request.
        "404":
          description: Not Found
      summary: ADMIN - Get number of systems available
      tags:
        - Admin
  /admin/database/status:
    get:
      description: Returns all the names and internal and external database statuses
      operationId: GetDatabaseStatus
      produces:
        - application/json
      responses:
        "200":
          description: |
            ## Description:
             Returns all the names and internal and external database statuses in a system
             ### Success Structure:
             ```json
             {
               [IP_ADDRESS]": {
                 "internal_db_stats": {
                   "name": "Postgres",
                   "stats": {
                     "db_type": "PostgreSQL",
                     "info": {
                       "Idle": 2,
                       "InUse": 0,
                       "MaxIdleClosed": 55380,
                       "MaxIdleTimeClosed": 0,
                       "MaxLifetimeClosed": 0,
                       "MaxOpenConnections": 30,
                       "OpenConnections": 2,
                       "WaitCount": 0,
                       "WaitDuration": 0
                   },
                   "is_connected": true
                   }
                  },
                  "external_db_stats": {}
             ```
             |
      summary: DATABASES - Retrieves all internal and external database statuses
      tags:
        - Databases
  "/admin/developers/{systemKey}":
    put:
      description: For admin, you can add/remove/change the owner of a system even if you’re not the system's owner. For Developer,you can add/remove a developer as long as you’re the owner of the system.
      operationId: AdminOwnerChange
      parameters:
        - description: System Key that identifies the system that holds the deployment.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Updated system owner email.
          in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/updateOwner"
      produces:
        - application/json
      responses:
        "200":
          description: Owner successfully added/removed.
        "400":
          description: Bad Request.
        "500":
          description: Internal Server Error.
      summary: ADMIN - Add/Remove/Change owner
      tags:
        - Admin
        - Developer
  "/admin/devices/keys/{systemKey}/{deviceName}":
    delete:
      description: Deletes the rotating keys from its device.
      operationId: DeleteDeviceKeys
      parameters:
        - description: Developer Token obtained through developer authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the device currently belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the device whose keys are being deleted.
          in: path
          name: deviceName
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Deletes rotating keys
      summary: DEVELOPER - Delete rotating keys for a device
      tags:
        - Developer
    post:
      description: Creates rotating keys for a device.
      operationId: CreateRotatingKeys
      parameters:
        - description: Developer Token obtained through developer authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the device you're updating belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the device you are adding keys to .
          in: path
          name: deviceName
          required: true
          type: string
        - description: Number of rotating keys.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/count"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/deviceKey"
      summary: DEVICE -Creates rotating keys for a device.
      tags:
        - Device
  "/admin/devices/{systemKey}":
    delete:
      description: Deletes all devices matching the filters specified by a query.
      operationId: DeleteDevicesAdmin
      parameters:
        - description: System Key that identifies the system the device is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Token obtained through user authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Tags to filter devices by. See the query model below for an example.
          in: query
          name: query
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Successfully deleted devices.
        "400":
          description: Bad request.
      summary: DEVELOPER - Delete devices using a query
      tags:
        - Developer
    get:
      description: Retrieves information about all devices in the specified system
      operationId: GetSystemDevices
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the devices in question belong to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Tags to filter devices by. See the query model below for an example. All devices are returned if a query is not specified.
          in: query
          name: query
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of devices.
        "400":
          description: Bad request.
      summary: DEVELOPER - Get devices with or without a query
      tags:
        - Developer
    put:
      description: Updates all devices matching the filters specified by a query.
      operationId: UpdateDevicesAdmin
      parameters:
        - description: System Key that identifies the system the device is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Token obtained through user authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query to limit scope of update, and new data values.
          in: body
          name: payload
          required: true
          schema:
            $ref: "#/definitions/PutQuery"
      produces:
        - application/json
      responses:
        "200":
          description: A JSON object representing the SQL result set containing the list of affected devices.
          schema:
            $ref: "#/definitions/QueryResultSet"
        "400":
          description: Bad request.
      summary: DEVELOPER - Update devices using a query
      tags:
        - Developer
  "/admin/devices/{systemKey}/{name}":
    delete:
      description: Deletes the specified device from its system.
      operationId: DeleteSystemDevice
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the device currently belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the device you're deleting.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Delete device
      tags:
        - Developer
    get:
      description: Retrieves information about the specified device.
      operationId: GetSystemDevice
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the device in question belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the device you're getting info about.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get device
      tags:
        - Developer
    post:
      description: Creates a new device in the specified system.
      operationId: CreateSystemDevice
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the new device will belong to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the device you're creating.
          in: path
          name: name
          required: true
          type: string
        - description: New device information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/deviceAdminNew"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Create device
      tags:
        - Developer
    put:
      description: Updates the specified device's information.
      operationId: UpdateSystemDevice
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the device you're updating belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the device you're updating.
          in: path
          name: name
          required: true
          type: string
        - description: Updated device information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/deviceAdminUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Update device
      tags:
        - Developer
  "/admin/edges/template/{systemKey}":
    get:
      description: Get list of which triggers, services, and libraries should be copied onto which edge when it starts up.
      operationId: GetEdgeTemplate
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edge template belongs to.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get edge template
      tags:
        - Developer
  "/admin/edges/template/{systemKey}/{edgeName}":
    put:
      description: Update template for the specified edge.
      operationId: UpdateEdgeTemplate
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edge template belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the edge you're modifying the template for.
          in: path
          name: edgeName
          required: true
          type: string
        - description: list of resources to add or remove to the template for an edge.
          in: body
          name: add
          required: true
          schema:
            $ref: "#/definitions/edgeTemplateUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Update edge template
      tags:
        - Developer
  "/admin/edges/{systemKey}":
    get:
      description: Retrieves all the edges that belong to the specified system.
      operationId: GetEdges
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edges in question belong to.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get edges
      tags:
        - Developer
  "/admin/edges/{systemKey}/control":
    get:
      description: Retrieves all the edges that the adapter belongs to.
      operationId: GetAdapterEdges
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edges in question belong to.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get edges for the adapter
      tags:
        - Developer
  "/admin/edges/{systemKey}/{edgeName}":
    delete:
      description: Deletes the specified edge from its system.
      operationId: DeleteEdge
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edge currently belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the edge you're deleting.
          in: path
          name: edgeName
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Delete edge
      tags:
        - Developer
    get:
      description: Retrieves information about the specified edge.
      operationId: GetEdge
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edge in question belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the edge you're getting info about.
          in: path
          name: edgeName
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get edge
      tags:
        - Developer
    post:
      description: Creates a new edge in the specified system.
      operationId: CreateEdge
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the new edge will belong to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the edge you're creating.
          in: path
          name: edgeName
          required: true
          type: string
        - description: New edge information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/edgeNew"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Create edge
      tags:
        - Developer
    put:
      description: Updates the specified edge's information.
      operationId: UpdateEdge
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System key that identifies the system the edge you're updating belongs to.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the edge you're updating.
          in: path
          name: edgeName
          required: true
          type: string
        - description: Updated edge information.
          in: body
          name: Edge
          required: true
          schema:
            $ref: "#/definitions/edgeUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Update edge
      tags:
        - Developer
  /admin/logout:
    post:
      description: Logs the current developer out of their session and invalidates their DevToken
      operationId: DevLogout
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Developer was successfully logged out.
      summary: DEVELOPER - Log out dev
      tags:
        - Developer
  /admin/pkey:
    get:
      description: Returns current platform license key.
      operationId: GetLicenseKey
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns platform license key
        "400":
          description: Bad Request
      summary: ADMIN - Get platform license key.
      tags:
        - Admin
  /admin/platform/developer:
    get:
      description: Returns information about the specified developer.
      operationId: GetDev
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Email of the developer in question.
          in: query
          name: developer
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: ADMIN - Get developer
      tags:
        - Admin
    post:
      description: Disables the specified developer on the platform.
      operationId: DisableDev
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Information to identify the developer you're disabling.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/disableData"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Disable developer
      tags:
        - Developer
  /admin/platform/developers:
    get:
      description: Returns all developers in the platform.
      operationId: GetDevs
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Response page size.
          in: query
          name: pagesize
          required: false
          type: string
        - description: Response page number.
          in: query
          name: pagenum
          required: false
          type: string
        - description: ""
          in: query
          name: total
          required: false
          type: string
        - description: Filter response.
          in: query
          name: filter
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: ADMIN - Get developers
      tags:
        - Admin
  /admin/platform/systems:
    get:
      description: |
        ## Description:
        Get list of systems that have been updated. This is an Admin only endpoint.

        ### Query:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]],"SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. 
        ## Admin Audit Table Schema:
        Refer to this when building the query.

          | Column | Type | Possible Values| Examples|
          |:--------|:--------|:------|:------|
          | name   | string   |ANY_STRING|"ClearBladeDev"|
          |owner|string|EMAIL_STRING |"example@clearblade.com"|
          |systemKey|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|"80sdff82c0b1fbda1f271"|
          |disabled|boolean|true, false|true|
          |lastUpdated|timestamp|ISO_DATE_TIME_STRING|"2020-01-29T20:18:18.475214Z"|
          |numDevs|int|ANY_POSITIVE_INTEGER|2|
          |numServices|int|ANY_POSITIVE_INTEGER|2|
          |numLibraries|int|ANY_POSITIVE_INTEGER|2|
          |numDeployments|int|ANY_POSITIVE_INTEGER|2|
          |numRoles|int|ANY_POSITIVE_INTEGER|2|
          |numUsers|int|ANY_POSITIVE_INTEGER|2|
          |numDevices|int|ANY_POSITIVE_INTEGER|2|
          |numEdge|int|ANY_POSITIVE_INTEGER|2|
          |numAPIReqsTotal|int|ANY_POSITIVE_INTEGER|2|
          |numAPIReqsMonth|int|ANY_POSITIVE_INTEGER|2|
          |numAPIReqsYear|int|ANY_POSITIVE_INTEGER|2|
          |numPub|int|ANY_POSITIVE_INTEGER|2|
          |numPubMonth|int|ANY_POSITIVE_INTEGER|2|
          |numPubYear|int|ANY_POSITIVE_INTEGER|2|
          |numRecTotal|int|ANY_POSITIVE_INTEGER|2|
          |numRecMonth|int|ANY_POSITIVE_INTEGER|2|
          |numRecYear|int|ANY_POSITIVE_INTEGER|2|
          |diskUsage|int|ANY_POSITIVE_INTEGER|2|

        ### Example:

        ```json
         "query":{"FILTERS":[[{"NEQ":[{"disabled":true}]},{"EQ":[{"numDevs":2}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetSystemUpdates
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: Clearblade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified.
          schema:
            $ref: "#/definitions/systemInfo"
      summary: AUDIT - Get list of systems that have been updated
      tags:
        - Audit
  "/admin/platform/systems/{systemKey}":
    get:
      description: |
        ## Description:
         Get list of changes that have been made to the system. This is an Admin and Dev endpoint.
        ### Query:
        ```json
        "query":{"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]],"SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. 
        ## Admin Audit Table Schema:
        ## Admin Audit Table Schema:
        Refer to this when building the query.

          | Column | Type | Possible Values| Examples|
          |:--------|:--------|:------|:------|
          | name   | string   |ANY_STRING|"ClearBladeDev"|
          |owner|string|EMAIL_STRING |"example@clearblade.com"|
          |systemKey|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|"80sdff82c0b1fbda1f271"|
          |disabled|boolean|true, false|true|
          |lastUpdated|timestamp|ISO_DATE_TIME_STRING|"2020-01-29T20:18:18.475214Z"|
          |numDevs|int|ANY_POSITIVE_INTEGER|2|
          |numServices|int|ANY_POSITIVE_INTEGER|2|
          |numLibraries|int|ANY_POSITIVE_INTEGER|2|
          |numDeployments|int|ANY_POSITIVE_INTEGER|2|
          |numRoles|int|ANY_POSITIVE_INTEGER|2|
          |numUsers|int|ANY_POSITIVE_INTEGER|2|
          |numDevices|int|ANY_POSITIVE_INTEGER|2|
          |numEdge|int|ANY_POSITIVE_INTEGER|2|
          |numAPIReqsTotal|int|ANY_POSITIVE_INTEGER|2|
          |numAPIReqsMonth|int|ANY_POSITIVE_INTEGER|2|
          |numAPIReqsYear|int|ANY_POSITIVE_INTEGER|2|
          |numPub|int|ANY_POSITIVE_INTEGER|2|
          |numPubMonth|int|ANY_POSITIVE_INTEGER|2|
          |numPubYear|int|ANY_POSITIVE_INTEGER|2|
          |numRecTotal|int|ANY_POSITIVE_INTEGER|2|
          |numRecMonth|int|ANY_POSITIVE_INTEGER|2|
          |numRecYear|int|ANY_POSITIVE_INTEGER|2|
          |diskUsage|int|ANY_POSITIVE_INTEGER|2|

        ### Example:

        ```json
         "query":{"FILTERS":[[{"NEQ":[{"disabled":true}]},{"EQ":[{"numDevs":2}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetSystemUpdatesDev
      parameters:
        - description: System Key that identifies the system that holds the deployment.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: clearblade-devtoken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified.
          schema:
            $ref: "#/definitions/systemInfo"
      summary: AUDIT - Get list of systems that have been updated
      tags:
        - Audit
  "/admin/platform/{systemKey}":
    get:
      description: Retrieves the specified system's status as it relates to limits. To be used by the billing system.
      operationId: GetSystemStatus
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system you're requesting information about.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: ADMIN - Get system status
      tags:
        - Admin
  "/admin/portals/{systemKey}":
    get:
      description: Returns information about a specified portal.
      operationId: GetPortalInfo
      parameters:
        - description: Developer Token obtained through developer authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the specified system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/portalArray"
      summary: DEVELOPER - Gets the information for a portal
      tags:
        - Developer
  /admin/putpass:
    put:
      description: Changes a developer's password.
      operationId: ChangeDevPassword
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Password change information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/devpass"
      produces:
        - application/json
      responses:
        "200":
          description: Developer's password was successfully changed.
      summary: DEVELOPER - Change dev password
      tags:
        - Developer
  /admin/reg:
    post:
      description: Registers a new developer account with the CB platform.
      operationId: RegDev
      parameters:
        - description: First and last name, organization, email, and password for developer
          in: body
          name: Registration info
          required: true
          schema:
            $ref: "#/definitions/devregdata"
      produces:
        - application/json
      responses:
        "200":
          description: Developer was successfully created.
          schema:
            $ref: "#/definitions/devregresp"
        "500":
          description: Internal Server Error.
      summary: DEVELOPER - Register new dev
      tags:
        - Developer
  /admin/regensystemsecret:
    put:
      description: Generates a new System Secret for the specified system.
      operationId: RegenSecret
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system you're regenerating the secret for.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/regensystem"
      produces:
        - application/json
      responses:
        "200":
          description: New System Secret was successfully generated.
      summary: DEVELOPER - Regen secret
      tags:
        - Developer
  /admin/resetpassword:
    post:
      description: Changes a developer's password.
      operationId: ResetPassword
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: New login information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/resetPassword"
      produces:
        - application/json
      responses:
        "200":
          description: Password is resetted
      summary: ADMIN - Change dev password (Admin)
      tags:
        - Admin
  /admin/settings/email-service:
    delete:
      description: Deletes email communication settings. This endpoint is Admin only.
      operationId: DeleteEmailSettings
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Email settings was successfully deleted.
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Delete email settings
      tags:
        - 2FA
    get:
      description: Gets current email communication settings. This endpoint is Admin only.
      operationId: EmailSettings
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns email communcation settings
          schema:
            $ref: "#/definitions/emailSettings"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Get Email Settings
      tags:
        - 2FA
    post:
      description: |
        ## Description:
          Creates email communication . This endpoint is Admin only.
          
        ## Settings choices

        |Settings|Allowed Values|
        |--------|-----|
        |encryption_type|STARTTLS, TLS, NONE|
        |protocol|SMTP|
      operationId: CreateEmailCommunication
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The email settings to be updated
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/emailSettings"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully added email service settings
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Create Email Communication
      tags:
        - 2FA
    put:
      description: |
        
        ## Description:
        Updates email communication settings. This endpoint is Admin only.
           
        ## Setting options
            
        |Settings|Types|
        |--------|-----|
        |encryption_type|STARTTLS, TLS, NONE|
        |port|25, 465, 587, 2525|

        SMTP is the only protocol supported
      operationId: UpdateEmailSettings
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The email settings to be updated
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/emailSettings"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully updated email service settings
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Update Email Settings
      tags:
        - 2FA
  /admin/settings/email-service/test:
    post:
      description: Test email service . This endpoint is Admin only.
      operationId: TestEmail
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The recipient email address to send the test message
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/emailTest"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully sends test email
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Test Email Service
      tags:
        - 2FA
  /admin/settings/security:
    get:
      description: View instance wide security settings. This endpoint is Admin only.
      operationId: ViewSecurity
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns 2FA security settings
          schema:
            $ref: "#/definitions/SecuritySettings"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - View Security Settings
      tags:
        - 2FA
    put:
      description: Update instance wide security settings.TTL must be between 86400 and 2592000 seconds. This endpoint is Admin only.
      operationId: UpdateSecurity
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The SMS settings to be updated
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/SecuritySettings"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully updated 2FA security settings
          schema:
            $ref: "#/definitions/SecuritySettings"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Update Security Settings
      tags:
        - 2FA
  /admin/settings/sms-service:
    delete:
      description: Deletes SMS communication settings. This endpoint is Admin only.
      operationId: DeleteSMSSettings
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: SMS settings was successfully deleted.
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Delete SMS settings
      tags:
        - 2FA
    get:
      description: Gets current SMS communication settings. This endpoint is Admin only.
      operationId: SMSSettings
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns SMS communcation settings
          schema:
            $ref: "#/definitions/SMSSettings"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Get SMS Settings
      tags:
        - 2FA
    post:
      description: Creates SMS communication . Twilio is the only supported service. This endpoint is Admin only.
      operationId: CreateSMSCommunication
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The SMS settings to be updated
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/SMSSettings"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully added SMS service settings
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Create SMS Communication
      tags:
        - 2FA
    put:
      description: Updates SMS communication settings. Twilio is the only supported service. This endpoint is Admin only.
      operationId: UpdateSMSSettings
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The SMS settings to be updated
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/SMSSettings"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully updated SMS service settings
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Update SMS Settings
      tags:
        - 2FA
  /admin/settings/sms-service/test:
    post:
      description: Test SMS service . This endpoint is Admin only.
      operationId: TestSMS
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: The recipient phone number to send the test message
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/SMSTest"
      produces:
        - application/json
      responses:
        "200":
          description: Successfully sends test message
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Test SMS Service
      tags:
        - 2FA
  "/admin/systems/{devEmail}":
    get:
      description: Get the list of systems the developer has access to
      operationId: GetSystemsForDev
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Email of the Developer. Should be in the format `name@orgname.com`
          in: path
          name: devEmail
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: List of systems the developer has access to.
          schema:
            $ref: "#/definitions/systemInfo"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: Get Systems for a developer
      tags:
        - Admin
  /admin/triggers/definitions:
    get:
      description: Returns list of trigger definitions. These are the possible actions that can set off a trigger.
      operationId: GetTriggers
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: List of trigger definitions.
      summary: DEVELOPER - Get trigger definitions
      tags:
        - Developer
  "/admin/triggers/handlers/{systemKey}":
    get:
      description: Returns list of trigger handlers.
      operationId: GetTriggerHandlers
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handlers are in.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A list of trigger handlers
      summary: DEVELOPER - Get trigger handlers
      tags:
        - Developer
  "/admin/triggers/handlers/{systemKey}/{name}":
    delete:
      description: Deletes the specified trigger handler.
      operationId: DeleteTriggerHandler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the trigger handler you're deleting.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Delete trigger handler
      tags:
        - Developer
    get:
      description: Returns the specified trigger handler information.
      operationId: GetTriggerHandler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the trigger handler you want.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get trigger handler
      tags:
        - Developer
    post:
      description: Creates a new trigger handler.
      operationId: CreateTrigger
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: New trigger information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/triggerdata"
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the trigger handler you're creating.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Create trigger handler
      tags:
        - Developer
    put:
      description: Updates the specified trigger handler.
      operationId: UpdateTriggerHandler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Updated trigger handler information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/triggerdata"
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the trigger handler you're updating.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Update trigger handler
      tags:
        - Developer
  "/admin/triggers/timers/{systemKey}":
    get:
      description: Returns a list of timer handlers.
      operationId: GetTimerHandlers
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get timer handlers
      tags:
        - Developer
  "/admin/triggers/timers/{systemKey}/{name}":
    delete:
      description: Deletes the specified trigger handler.
      operationId: DeleteTimerHandler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the timer you're deleting.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Delete trigger handler
      tags:
        - Developer
    get:
      description: Returns the specified timer handler information.
      operationId: GetTimerHandler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the timer handler you want.
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Get timer handler
      tags:
        - Developer
    post:
      description: Creates new timer handler.
      operationId: create_timer_handler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the timer handler you're creating.
          in: path
          name: name
          required: true
          type: string
        - description: New timer information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/timerdata"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Create time handler
      tags:
        - Developer
    put:
      description: Updates the specified timer handler.
      operationId: UpdateTimerHandler
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the timer handler you're updating.
          in: path
          name: name
          required: true
          type: string
        - description: Updated timer handler information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/timerdata"
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
      summary: DEVELOPER - Update timer handler
      tags:
        - Developer
  "/admin/user/{systemKey}":
    delete:
      description: Deletes user from the system
      operationId: DeleteUser
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: UserId of the user to delete
          in: query
          name: user
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: User is deleted.
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Delete user
      tags:
        - Developer
    get:
      description: Returns list of all of the users in the system
      operationId: GetUserList
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Tags to filter users. Check 'users' model at the bottom of this page.
          in: query
          name: query
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns list of all users, user information, and count
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Get list of users and information
      tags:
        - Developer
    post:
      description: Add an user to the system.
      operationId: AddUser
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Developer's email.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/userlogin"
      produces:
        - application/json
      responses:
        "200":
          description: User is added to the system.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Add user
      tags:
        - Developer
    put:
      description: Changes any colomn in users table and update password or permissions of the specified user.
      operationId: UserChangeUserInfo
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Roles to change for the user.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/roles"
      produces:
        - application/json
      responses:
        "200":
          description: User's roles successfully changed.
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Change user information and permissions
      tags:
        - Developer
  "/admin/user/{systemKey}/columns":
    get:
      description: Returns data in the user list column
      operationId: GetUserColumnData
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns list of all users
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Get users column info.
      tags:
        - Developer
    post:
      description: Adds a new column to the user collection
      operationId: AddColumn
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Column information.
          in: body
          name: payload
          required: true
          schema:
            $ref: "#/definitions/addUserColumn"
      produces:
        - application/json
      responses:
        "200":
          description: Column is added to the collection.
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Add new column
      tags:
        - Developer
  "/admin/user/{systemKey}/roles":
    delete:
      description: Deletes roles from the system
      operationId: DeleteRoles
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system the handler is in.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Role identification key.
          in: query
          name: query
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: No response was specified
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Delete roles
      tags:
        - Developer
    get:
      description: |
        ## Description:
          Get as a list of roles that are available to add to an user 
        ### Query:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"EQ":[{"name":"value"}]}]]}
        ```

        ### Example:
          0 and 0 for pagesize and pagenum returns all the information in one response.
        ```json
        {"PAGESIZE":0,"PAGENUM":0,"FILTERS":[[{"EQ":[{"name":"Authenticated"}]}]]}
        ```
      operationId: GetRoles
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Refer to the example query above.
          in: query
          name: query
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns role(s), role information, and permissions for the user
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Get list of roles
      tags:
        - Developer
    post:
      description: Adds a new role to the system.
      operationId: AddRole
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Role information.
          in: body
          name: body
          schema:
            $ref: "#/definitions/rolesinfo"
      produces:
        - application/json
      responses:
        "200":
          description: Role gets added.
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Add new role
      tags:
        - Developer
    put:
      description: Changes settings in individual roles
      operationId: SettingsChanges
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Information about changes
          in: body
          name: payload
          required: true
          schema:
            $ref: "#/definitions/changeRoleSettings"
      produces:
        - application/json
      responses:
        "200":
          description: Column is added to the collection.
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Changes roles settings
      tags:
        - Developer
  "/admin/user/{systemKey}/roles/count":
    get:
      description: Get number of roles in a system
      operationId: GetRolesCount
      parameters:
        - description: System Key that identifies the system the user is a part of.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Identifies page size and page number for roles list.
          in: query
          name: user
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns list of all users
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: DEVELOPER - Get number of roles
      tags:
        - Developer
  /admin/userinfo:
    get:
      description: Returns all user information about the current developer. This is a developer only endpoint.
      operationId: GetDevInfo
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Current developer information.
          schema:
            $ref: "#/definitions/userinfo"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: DEVELOPER - Get dev info
      tags:
        - Developer
    put:
      description: |
        ## Description:
          Update the developer 2FA information. This is a developer only endpoint.
          Note - the email is taken from the developer's account.
        ## two_factor_method
          * email
          * sms
          * email_sms (enables both method)
      operationId: UpdateDev2FA
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Updates to make for the two-factor auth settings for the developer.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/2FAinfo"
      produces:
        - application/json
      responses:
        "200":
          description: 2FA methods successfully changed.
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: 2FA - Update developer 2FA information.
      tags:
        - 2FA
  "/admin/v/4/service_caches/{systemKey}":
    get:
      operationId: GetSharedCache
      parameters:
        - description: Dev Token obtained through user authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system that holds the deployment.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Retrieves a list of shared caches.
          schema:
            $ref: "#/definitions/CacheArrayResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized. User cannot access resource.
      summary: SHARED CACHE - Gets shared caches for a system
      tags:
        - Shared Cache
  "/admin/v/4/service_caches/{systemKey}/{cacheName}":
    delete:
      description: Deletes a shared cache
      operationId: DeleteSharedCache
      parameters:
        - description: Dev Token obtained through user authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system that holds the deployment.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the shared cache to delete
          in: path
          name: cacheName
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Successfully Deleted Cache
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized. User cannot access resource.
      summary: SHARED CACHE - Delete a shared cache
      tags:
        - Shared Cache
    post:
      description: Adds a shared cache to the system
      operationId: addSharedCache
      parameters:
        - description: Dev Token obtained through user authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system that holds the shared cache.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the shared cache to add
          in: path
          name: cacheName
          required: true
          type: string
        - description: Information to create a shared cache.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/addCache"
      produces:
        - application/json
      responses:
        "200":
          description: Creates new shared cache.
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized. User cannot access resource.
        "500":
          description: Server error.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: SHARED CACHE - Add a shared cache
      tags:
        - Shared Cache
    put:
      description: Updates a shared cache properties, like ttl & description.
      operationId: UpdateSharedCache
      parameters:
        - description: Dev Token obtained through user authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system that holds the shared cache.
          in: path
          name: systemKey
          required: true
          type: string
        - description: Name of the shared cache to update
          in: path
          name: cacheName
          required: true
          type: string
        - description: Updated cache information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/updateCache"
      produces:
        - application/json
      responses:
        "200":
          description: Shared Cache successfully updated.
          schema:
            $ref: "#/definitions/SuccessResp"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized. User cannot access resource.
        "500":
          description: Server error.
          schema:
            $ref: "#/definitions/ErrorResp"
      summary: SHARED CACHE - Update a shared cache
      tags:
        - Shared Cache
  "/admin/v/4/session/{systemKey}/device":
    delete:
      description: |
        ## Description:
        Delete device session. 
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.
          
          ### Filter Options

        * device_key - string
        * issued - int (Unix timestamp)

          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"device_key":"e2c794e60bee9ced68fc101 :: DEVICENAME0001"}]},{"EQ":[{"issued":1587659839}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: DeleteDeviceSession
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
        - description: System Key that identifies the system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Deletes device session
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized.
      summary: SESSION  - Delete device session
      tags:
        - Session
    get:
      description: |
        ## Description:
        Returns list of device sessions with Device Key and Timestamps . 
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.
          
        ### Filter Options

        * device_key - string
        * issued - int (Unix timestamp)
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"device_key":"e2c794e60bee9ced68fc101 :: DEVICENAME0001}]},{"EQ":[{"issued":1587659839}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetDeviceSession
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
        - description: System Key that identifies the system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns list of device sessions
          schema:
            $ref: "#/definitions/deviceSession"
      summary: SESSION  - Get device session info
      tags:
        - Session
  "/admin/v/4/session/{systemKey}/device/count":
    get:
      description: |
        ## Description:
        Returns number of device sessions. 
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.
          
        ### Filter Options

        * device_key - string
        * issued - int
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"device_key":"e2c794e60bee9ced68fc101 :: DEVICENAME0001"}]},{"EQ":[{"issued":1587659839}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetDeviceSessionCount
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
        - description: System Key that identifies the system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns number of device sessions
          schema:
            $ref: "#/definitions/count"
      summary: SESSION  - Get device session count
      tags:
        - Session
  "/admin/v/4/session/{systemKey}/user":
    delete:
      description: |
        ## Description:
        Delete user session. 
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.
        ### Filter Options

        * user_id - string
        * issued - int (Unix timestamp)
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"user_id":"9cd8ece70bea9e5a6de9cee05"}]},{"EQ":[{"issued":1587659839}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: DeleteUserSession
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
        - description: System Key that identifies the system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Deletes user session
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized.
      summary: SESSION  - Delete user session
      tags:
        - Session
    get:
      description: |
        ## Description:
        Returns list of user sessions with User ID and Timestamps . 
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.
          
        ### Filter Options

        * user_id - string
        * issued - int (Unix timestamp)
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"user_id":"9cd8ece70bea9e5a6de9cee05"}]},{"EQ":[{"issued":1587659839}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetUserSession
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
        - description: System Key that identifies the system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns list of user sessions
          schema:
            $ref: "#/definitions/userSession"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorResp"
        "401":
          description: Unauthorized. User cannot access resource.
      summary: SESSION  - Get user session info
      tags:
        - Session
  "/admin/v/4/session/{systemKey}/user/count":
    get:
      description: |
        ## Description:
        Returns number of user sessions. 
        ### Query Structure:
        ```json
        {"PAGESIZE":int,"PAGENUM":int,"FILTERS":[[{"_REPLACE_WITH_OPERATOR_":[{"valueType":"value"}]}]], "SORT":[{"DESC":"value"}]}
        ```
          Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object.
          
        ### Filter Options

        * user_id - string
        * issued - int (Unix timestamp)
          
        ### Example:

        ```json
        {"FILTERS":[[{"NEQ":[{"user_id":"9cd8ece70bea9e5a6de9cee05"}]},{"EQ":[{"issued":1587659839}]}]],"PAGESIZE":0,"PAGENUM":0}
        ```
      operationId: GetUserSessionCount
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: Query object used to filter the items. See query model at in the description for example.
          in: query
          name: query
          required: false
          type: string
        - description: System Key that identifies the system.
          in: path
          name: systemKey
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Returns number of user sessions
          schema:
            $ref: "#/definitions/count"
      summary: SESSION  - Get user session count
      tags:
        - Session
  /admin/v/4/systemmanagement:
    delete:
      description: Deletes the specified system.
      operationId: DeleteSystem
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system you want to delete.
          in: query
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: System was successfully deleted.
      summary: DEVELOPER - Delete system
      tags:
        - Developer
    get:
      description: Returns metadata about specified system.
      operationId: GetSystemInfo
      parameters:
        - description: Developer Token obtained through admin authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: System Key that identifies the system you want the info about.
          in: query
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Specified system metadata.
          schema:
            $ref: "#/definitions/systemSettings"
        "400":
          description: Bad Request.
      summary: DEVELOPER - Get system info
      tags:
        - Developer
    post:
      description: Creates a new system tied to the developer's account.
      operationId: CreateSystem
      parameters:
        - description: Developer Token obtained through developer authentication.
          in: header
          name: ClearBlade-DevToken
          required: true
          type: string
        - description: New system information.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/newsystem"
      produces:
        - application/json
      responses:
        "200":
          description: System was successfully created.
          schema:
            $ref: "#/definitions/systemSettings"
        "400":
[...]
