swagger: '2.0'
schemes:
  - https
  - http
host: fsx.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Amazon FSx is a fully managed service that makes it easy for storage and application administrators to launch and use shared file storage.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon FSx
  version: '2018-03-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/fsx-2018-03-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: fsx
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/fsx/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateBackup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a backup of an existing Amazon FSx for Windows File Server file system. Creating regular backups for your file system is a best practice that complements the replication that Amazon FSx for Windows File Server performs for your file system. It also enables you to restore from user modification of data.</p> <p>If a backup with the specified client request token exists, and the parameters match, this operation returns the description of the existing backup. If a backup specified client request token exists, and the parameters don''t match, this operation returns <code>IncompatibleParameterError</code>. If a backup with the specified client request token doesn''t exist, <code>CreateBackup</code> does the following: </p> <ul> <li> <p>Creates a new Amazon FSx backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the backup.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateBackup</code> operation without the risk of creating an extra backup. This approach can be useful when an initial call fails in a way that makes it unclear whether a backup was created. If you use the same client request token and the initial call created a backup, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateFileSystem</code> operation returns while the backup''s lifecycle state is still <code>CREATING</code>. You can check the file system creation status by calling the <a>DescribeBackups</a> operation, which returns the backup state along with other information.</p> <note> <p/> </note>'
      operationId: CreateBackup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateBackupRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.CreateBackup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBackupResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: UnsupportedOperation
          schema:
            $ref: '#/definitions/UnsupportedOperation'
        '482':
          description: FileSystemNotFound
          schema:
            $ref: '#/definitions/FileSystemNotFound'
        '483':
          description: BackupInProgress
          schema:
            $ref: '#/definitions/BackupInProgress'
        '484':
          description: IncompatibleParameterError
          schema:
            $ref: '#/definitions/IncompatibleParameterError'
        '485':
          description: ServiceLimitExceeded
          schema:
            $ref: '#/definitions/ServiceLimitExceeded'
        '486':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateFileSystem':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new, empty Amazon FSx file system.</p> <p>If a file system with the specified client request token exists and the parameters match, <code>CreateFileSystem</code> returns the description of the existing file system. If a file system specified client request token exists and the parameters don''t match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn''t exist, <code>CreateFileSystem</code> does the following: </p> <ul> <li> <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>This operation requires a client request token in the request that Amazon FSx uses to ensure idempotent creation. This means that calling the operation multiple times with the same client request token has no effect. By using the idempotent operation, you can retry a <code>CreateFileSystem</code> operation without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system''s lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>'
      operationId: CreateFileSystem
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateFileSystemRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.CreateFileSystem
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFileSystemResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: ActiveDirectoryError
          schema:
            $ref: '#/definitions/ActiveDirectoryError'
        '482':
          description: IncompatibleParameterError
          schema:
            $ref: '#/definitions/IncompatibleParameterError'
        '483':
          description: InvalidImportPath
          schema:
            $ref: '#/definitions/InvalidImportPath'
        '484':
          description: InvalidExportPath
          schema:
            $ref: '#/definitions/InvalidExportPath'
        '485':
          description: InvalidNetworkSettings
          schema:
            $ref: '#/definitions/InvalidNetworkSettings'
        '486':
          description: ServiceLimitExceeded
          schema:
            $ref: '#/definitions/ServiceLimitExceeded'
        '487':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '488':
          description: MissingFileSystemConfiguration
          schema:
            $ref: '#/definitions/MissingFileSystemConfiguration'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.CreateFileSystemFromBackup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new Amazon FSx file system from an existing Amazon FSx for Windows File Server backup.</p> <p>If a file system with the specified client request token exists and the parameters match, this operation returns the description of the file system. If a client request token specified by the file system exists and the parameters don''t match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn''t exist, this operation does the following:</p> <ul> <li> <p>Creates a new Amazon FSx file system from backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>Parameters like Active Directory, default share name, automatic backup, and backup settings default to the parameters of the file system that was backed up, unless overridden. You can explicitly supply other settings.</p> <p>By using the idempotent operation, you can retry a <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system''s lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>'
      operationId: CreateFileSystemFromBackup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateFileSystemFromBackupRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.CreateFileSystemFromBackup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFileSystemFromBackupResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: ActiveDirectoryError
          schema:
            $ref: '#/definitions/ActiveDirectoryError'
        '482':
          description: IncompatibleParameterError
          schema:
            $ref: '#/definitions/IncompatibleParameterError'
        '483':
          description: InvalidNetworkSettings
          schema:
            $ref: '#/definitions/InvalidNetworkSettings'
        '484':
          description: ServiceLimitExceeded
          schema:
            $ref: '#/definitions/ServiceLimitExceeded'
        '485':
          description: BackupNotFound
          schema:
            $ref: '#/definitions/BackupNotFound'
        '486':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '487':
          description: MissingFileSystemConfiguration
          schema:
            $ref: '#/definitions/MissingFileSystemConfiguration'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.DeleteBackup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes an Amazon FSx for Windows File Server backup, deleting its contents. After deletion, the backup no longer exists, and its data is gone.</p> <p>The <code>DeleteBackup</code> call returns instantly. The backup will not show up in later <code>DescribeBackups</code> calls.</p> <important> <p>The data in a deleted backup is also deleted and can''t be recovered by any means.</p> </important>'
      operationId: DeleteBackup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBackupRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.DeleteBackup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBackupResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: BackupInProgress
          schema:
            $ref: '#/definitions/BackupInProgress'
        '482':
          description: BackupNotFound
          schema:
            $ref: '#/definitions/BackupNotFound'
        '483':
          description: BackupRestoring
          schema:
            $ref: '#/definitions/BackupRestoring'
        '484':
          description: IncompatibleParameterError
          schema:
            $ref: '#/definitions/IncompatibleParameterError'
        '485':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.DeleteFileSystem':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a file system, deleting its contents. After deletion, the file system no longer exists, and its data is gone. Any existing automatic backups will also be deleted.</p> <p>By default, when you delete an Amazon FSx for Windows File Server file system, a final backup is created upon deletion. This final backup is not subject to the file system''s retention policy, and must be manually deleted.</p> <p>The <code>DeleteFileSystem</code> action returns while the file system has the <code>DELETING</code> status. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> action, which returns a list of file systems in your account. If you pass the file system ID for a deleted file system, the <a>DescribeFileSystems</a> returns a <code>FileSystemNotFound</code> error.</p> <important> <p>The data in a deleted file system is also deleted and can''t be recovered by any means.</p> </important>'
      operationId: DeleteFileSystem
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteFileSystemRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.DeleteFileSystem
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFileSystemResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: IncompatibleParameterError
          schema:
            $ref: '#/definitions/IncompatibleParameterError'
        '482':
          description: FileSystemNotFound
          schema:
            $ref: '#/definitions/FileSystemNotFound'
        '483':
          description: ServiceLimitExceeded
          schema:
            $ref: '#/definitions/ServiceLimitExceeded'
        '484':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.DescribeBackups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the description of specific Amazon FSx for Windows File Server backups, if a <code>BackupIds</code> value is provided for that backup. Otherwise, it returns all backups owned by your AWS account in the AWS Region of the endpoint that you''re calling.</p> <p>When retrieving all backups, you can optionally specify the <code>MaxResults</code> parameter to limit the number of backups in a response. If more backups remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your backups. <code>DescribeBackups</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of backups returned in the response of one <code>DescribeBackups</code> call and the order of backups returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>'
      operationId: DescribeBackups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBackupsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AWSSimbaAPIService_v20180301.DescribeBackups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBackupsResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: FileSystemNotFound
          schema:
            $ref: '#/definitions/FileSystemNotFound'
        '482':
          description: BackupNotFound
          schema:
            $ref: '#/definitions/BackupNotFound'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.DescribeFileSystems':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the description of specific Amazon FSx file systems, if a <code>FileSystemIds</code> value is provided for that file system. Otherwise, it returns descriptions of all file systems owned by your AWS account in the AWS Region of the endpoint that you''re calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxResults</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your file system descriptions. <code>DescribeFileSystems</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multicall iteration is unspecified.</p> </li> </ul>'
      operationId: DescribeFileSystems
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeFileSystemsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AWSSimbaAPIService_v20180301.DescribeFileSystems
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFileSystemsResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: FileSystemNotFound
          schema:
            $ref: '#/definitions/FileSystemNotFound'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists tags for an Amazon FSx file systems and backups in the case of Amazon FSx for Windows File Server.</p> <p>When retrieving all tags, you can optionally specify the <code>MaxResults</code> parameter to limit the number of tags in a response. If more tags remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your tags. <code>ListTagsForResource</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of tags returned in the response of one <code>ListTagsForResource</code> call and the order of tags returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>'
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
        '483':
          description: NotServiceResourceError
          schema:
            $ref: '#/definitions/NotServiceResourceError'
        '484':
          description: ResourceDoesNotSupportTagging
          schema:
            $ref: '#/definitions/ResourceDoesNotSupportTagging'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Tags an Amazon FSx resource.
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
        '483':
          description: NotServiceResourceError
          schema:
            $ref: '#/definitions/NotServiceResourceError'
        '484':
          description: ResourceDoesNotSupportTagging
          schema:
            $ref: '#/definitions/ResourceDoesNotSupportTagging'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: This action removes a tag from an Amazon FSx resource.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: ResourceNotFound
          schema:
            $ref: '#/definitions/ResourceNotFound'
        '483':
          description: NotServiceResourceError
          schema:
            $ref: '#/definitions/NotServiceResourceError'
        '484':
          description: ResourceDoesNotSupportTagging
          schema:
            $ref: '#/definitions/ResourceDoesNotSupportTagging'
  '/#X-Amz-Target=AWSSimbaAPIService_v20180301.UpdateFileSystem':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a file system configuration.
      operationId: UpdateFileSystem
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateFileSystemRequest'
        - enum:
            - AWSSimbaAPIService_v20180301.UpdateFileSystem
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFileSystemResponse'
        '480':
          description: BadRequest
          schema:
            $ref: '#/definitions/BadRequest'
        '481':
          description: UnsupportedOperation
          schema:
            $ref: '#/definitions/UnsupportedOperation'
        '482':
          description: IncompatibleParameterError
          schema:
            $ref: '#/definitions/IncompatibleParameterError'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '484':
          description: FileSystemNotFound
          schema:
            $ref: '#/definitions/FileSystemNotFound'
        '485':
          description: MissingFileSystemConfiguration
          schema:
            $ref: '#/definitions/MissingFileSystemConfiguration'
definitions:
  AWSAccountId:
    description: An AWS account ID. This ID is a 12-digit number that you use to construct Amazon Resource Names (ARNs) for resources.
    maxLength: 12
    minLength: 12
    pattern: '^\d{12}$'
    type: string
  ActiveDirectoryBackupAttributes:
    description: The Microsoft AD attributes of the Amazon FSx for Windows File Server file system.
    properties:
      ActiveDirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.
      DomainName:
        $ref: '#/definitions/ActiveDirectoryFullyQualifiedName'
        description: The fully qualified domain name of the self-managed AD directory.
    type: object
  ActiveDirectoryError: {}
  ActiveDirectoryFullyQualifiedName:
    type: string
  ArchivePath:
    maxLength: 900
    minLength: 3
    type: string
  AutomaticBackupRetentionDays:
    description: The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 35 days.
    maximum: 35
    minimum: 0
    type: integer
  Backup:
    description: A backup of an Amazon FSx for Windows File Server file system. You can create a new file system from a backup to protect against data loss.
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: The ID of the backup.
      CreationTime:
        $ref: '#/definitions/CreationTime'
        description: The time when a particular backup was created.
      DirectoryInformation:
        $ref: '#/definitions/ActiveDirectoryBackupAttributes'
        description: The configuration of the self-managed Microsoft Active Directory (AD) to which the Windows File Server instance is joined.
      FailureDetails:
        $ref: '#/definitions/BackupFailureDetails'
        description: Details explaining any failures that occur when creating a backup.
      FileSystem:
        $ref: '#/definitions/FileSystem'
        description: Metadata of the file system associated with the backup. This metadata is persisted even if the file system is deleted.
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: The ID of the AWS Key Management Service (AWS KMS) key used to encrypt this backup's data.
      Lifecycle:
        $ref: '#/definitions/BackupLifecycle'
        description: The lifecycle status of the backup.
      ProgressPercent:
        $ref: '#/definitions/ProgressPercent'
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) for the backup resource.
      Tags:
        $ref: '#/definitions/Tags'
        description: Tags associated with a particular file system.
      Type:
        $ref: '#/definitions/BackupType'
        description: The type of the backup.
    required:
      - BackupId
      - Lifecycle
      - Type
      - CreationTime
      - FileSystem
    type: object
  BackupFailureDetails:
    description: 'If backup creation fails, this structure contains the details of that failure.'
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: A message describing the backup creation failure.
    type: object
  BackupId:
    description: The ID of the backup. Specifies the backup to use if you're creating a file system from an existing backup.
    maxLength: 128
    minLength: 12
    pattern: '^(backup-[0-9a-f]{8,})$'
    type: string
  BackupIds:
    description: A list of backup IDs.
    items:
      $ref: '#/definitions/BackupId'
    maxItems: 50
    type: array
  BackupInProgress: {}
  BackupLifecycle:
    description: The lifecycle status of the backup.
    enum:
      - AVAILABLE
      - CREATING
      - DELETED
      - FAILED
    type: string
  BackupNotFound: {}
  BackupRestoring: {}
  BackupType:
    description: The type of the backup.
    enum:
      - AUTOMATIC
      - USER_INITIATED
    type: string
  Backups:
    description: A list of backups.
    items:
      $ref: '#/definitions/Backup'
    maxItems: 50
    type: array
  BadRequest: {}
  ClientRequestToken:
    description: '(Optional) An idempotency token for resource creation, in a string of up to 64 ASCII characters. This token is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.'
    maxLength: 255
    minLength: 1
    pattern: '[A-za-z0-9_.-]{0,255}$'
    type: string
  CreateBackupRequest:
    description: The request object for the <code>CreateBackup</code> operation.
    properties:
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: (Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.
      FileSystemId:
        $ref: '#/definitions/FileSystemId'
        description: The ID of the file system to back up.
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags to apply to the backup at backup creation. The key value of the <code>Name</code> tag appears in the console as the backup name.
    required:
      - FileSystemId
    type: object
  CreateBackupResponse:
    description: The response object for the <code>CreateBackup</code> operation.
    example:
      Backup:
        BackupId: backup-03e3c82e0183b7b6b
        CreationTime: '1481841524.0'
        FileSystem:
          FileSystemId: fs-0498eed5fe91001ec
          OwnerId: 012345678912
          StorageCapacity: 300
          WindowsConfiguration:
            ActiveDirectoryId: d-1234abcd12
            AutomaticBackupRetentionDays: 30
            DailyAutomaticBackupStartTime: '05:00'
            WeeklyMaintenanceStartTime: '1:05:00'
        Lifecycle: CREATING
        ProgressPercent: 0
        ResourceARN: 'arn:aws:fsx:us-east-1:012345678912:backup/backup-03e3c82e0183b7b6b'
        Tags:
          - Key: Name
            Value: MyBackup
        Type: USER_INITIATED
    properties:
      Backup:
        $ref: '#/definitions/Backup'
        description: A description of the backup.
    type: object
  CreateFileSystemFromBackupRequest:
    description: The request object for the <code>CreateFileSystemFromBackup</code> operation.
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: (Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIds'
        description: A list of IDs for the security groups that apply to the specified network interfaces created for file system access. These security groups apply to all network interfaces. This value isn't returned in later describe requests.
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: 'A list of IDs for the subnets that the file system will be accessible from. Currently, you can specify only one subnet. The file server is also launched in that subnet''s Availability Zone.'
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags to be applied to the file system at file system creation. The key value of the <code>Name</code> tag appears in the console as the file system name.
      WindowsConfiguration:
        $ref: '#/definitions/CreateFileSystemWindowsConfiguration'
        description: The configuration for this Microsoft Windows file system.
    required:
      - BackupId
      - SubnetIds
    type: object
  CreateFileSystemFromBackupResponse:
    description: The response object for the <code>CreateFileSystemFromBackup</code> operation.
    example:
      FileSystem:
        CreationTime: '1481841524.0'
        DNSName: fs-0498eed5fe91001ec.fsx.com
        FileSystemId: fs-0498eed5fe91001ec
        KmsKeyId: 'arn:aws:kms:us-east-1:012345678912:key/0ff3ea8d-130e-4133-877f-93908b6fdbd6'
        Lifecycle: CREATING
        OwnerId: 012345678912
        ResourceARN: 'arn:aws:fsx:us-east-1:012345678912:file-system/fs-0498eed5fe91001ec'
        StorageCapacity: 300
        SubnetIds:
          - subnet-1234abcd
        Tags:
          - Key: Name
            Value: MyFileSystem
        VpcId: vpc-ab1234cd
        WindowsConfiguration:
          ActiveDirectoryId: d-1234abcd12
          AutomaticBackupRetentionDays: 30
          DailyAutomaticBackupStartTime: '05:00'
          ThroughputCapacity: 8
          WeeklyMaintenanceStartTime: '1:05:00'
    properties:
      FileSystem:
        $ref: '#/definitions/FileSystem'
        description: A description of the file system.
    type: object
  CreateFileSystemLustreConfiguration:
    description: The Lustre configuration for the file system being created. This value is required if <code>FileSystemType</code> is set to <code>LUSTRE</code>.
    properties:
      ExportPath:
        $ref: '#/definitions/ArchivePath'
        description: '<p>(Optional) The path in Amazon S3 where the root of your Amazon FSx file system is exported. The path must use the same Amazon S3 bucket as specified in ImportPath. You can provide an optional prefix to which new and changed data is to be exported from your Amazon FSx for Lustre file system. If an <code>ExportPath</code> value is not provided, Amazon FSx sets a default export path, <code>s3://import-bucket/FSxLustre[creation-timestamp]</code>. The timestamp is in UTC format, for example <code>s3://import-bucket/FSxLustre20181105T222312Z</code>.</p> <p>The Amazon S3 export bucket must be the same as the import bucket specified by <code>ImportPath</code>. If you only specify a bucket name, such as <code>s3://import-bucket</code>, you get a 1:1 mapping of file system objects to S3 bucket objects. This mapping means that the input data in S3 is overwritten on export. If you provide a custom prefix in the export path, such as <code>s3://import-bucket/[custom-optional-prefix]</code>, Amazon FSx exports the contents of your file system to that export prefix in the Amazon S3 bucket.</p>'
      ImportPath:
        $ref: '#/definitions/ArchivePath'
        description: '(Optional) The path to the Amazon S3 bucket (including the optional prefix) that you''re using as the data repository for your Amazon FSx for Lustre file system. The root of your FSx for Lustre file system will be mapped to the root of the Amazon S3 bucket you select. An example is <code>s3://import-bucket/optional-prefix</code>. If you specify a prefix after the Amazon S3 bucket name, only object keys with that prefix are loaded into the file system.'
      ImportedFileChunkSize:
        $ref: '#/definitions/Megabytes'
        description: '<p>(Optional) For files imported from a data repository, this value determines the stripe count and maximum amount of data per file (in MiB) stored on a single physical disk. The maximum number of disks that a single file can be striped across is limited by the total number of disks that make up the file system.</p> <p>The chunk size default is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500 GiB). Amazon S3 objects have a maximum size of 5 TB.</p>'
      WeeklyMaintenanceStartTime:
        $ref: '#/definitions/WeeklyTime'
        description: 'The preferred time to perform weekly maintenance, in the UTC time zone.'
    type: object
  CreateFileSystemRequest:
    description: The request object used to create a new Amazon FSx file system.
    properties:
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: (Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.
      FileSystemType:
        $ref: '#/definitions/FileSystemType'
        description: The type of Amazon FSx file system to create.
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
      LustreConfiguration:
        $ref: '#/definitions/CreateFileSystemLustreConfiguration'
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIds'
        description: A list of IDs specifying the security groups to apply to all network interfaces created for file system access. This list isn't returned in later requests to describe the file system.
      StorageCapacity:
        $ref: '#/definitions/StorageCapacity'
        description: '<p>The storage capacity of the file system being created.</p> <p>For Windows file systems, the storage capacity has a minimum of 300 GiB, and a maximum of 65,536 GiB.</p> <p>For Lustre file systems, the storage capacity has a minimum of 3,600 GiB. Storage capacity is provisioned in increments of 3,600 GiB.</p>'
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: The IDs of the subnets that the file system will be accessible from. File systems support only one subnet. The file server is also launched in that subnet's Availability Zone.
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags to apply to the file system being created. The key value of the <code>Name</code> tag appears in the console as the file system name.
      WindowsConfiguration:
        $ref: '#/definitions/CreateFileSystemWindowsConfiguration'
        description: The Microsoft Windows configuration for the file system being created. This value is required if <code>FileSystemType</code> is set to <code>WINDOWS</code>.
    required:
      - FileSystemType
      - StorageCapacity
      - SubnetIds
    type: object
  CreateFileSystemResponse:
    description: The response object returned after the file system is created.
    example:
      FileSystem:
        CreationTime: '1481841524.0'
        DNSName: fs-0498eed5fe91001ec.fsx.com
        FileSystemId: fs-0498eed5fe91001ec
        KmsKeyId: 'arn:aws:kms:us-east-1:012345678912:key/0ff3ea8d-130e-4133-877f-93908b6fdbd6'
        Lifecycle: CREATING
        OwnerId: 012345678912
        ResourceARN: 'arn:aws:fsx:us-east-1:012345678912:file-system/fs-0498eed5fe91001ec'
        StorageCapacity: 300
        SubnetIds:
          - subnet-1234abcd
        Tags:
          - Key: Name
            Value: MyFileSystem
        VpcId: vpc-ab1234cd
        WindowsConfiguration:
          ActiveDirectoryId: d-1234abcd12
          AutomaticBackupRetentionDays: 30
          DailyAutomaticBackupStartTime: '05:00'
          ThroughputCapacity: 8
          WeeklyMaintenanceStartTime: '1:05:00'
    properties:
      FileSystem:
        $ref: '#/definitions/FileSystem'
        description: The configuration of the file system that was created.
    type: object
  CreateFileSystemWindowsConfiguration:
    description: The configuration object for the Microsoft Windows file system used in <code>CreateFileSystem</code> and <code>CreateFileSystemFromBackup</code> operations.
    properties:
      ActiveDirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The ID for an existing AWS Managed Microsoft Active Directory (AD) instance that the file system should join when it's created.
      AutomaticBackupRetentionDays:
        $ref: '#/definitions/AutomaticBackupRetentionDays'
        description: The number of days to retain automatic backups. The default is to retain backups for 7 days. Setting this value to 0 disables the creation of automatic backups. The maximum retention period for backups is 35 days.
      CopyTagsToBackups:
        $ref: '#/definitions/Flag'
        description: 'A boolean flag indicating whether tags for the file system should be copied to backups. This value defaults to false. If it''s set to true, all tags for the file system are copied to all automatic and user-initiated backups where the user doesn''t specify tags. If this value is true, and you specify one or more tags, only the specified tags are copied to backups.'
      DailyAutomaticBackupStartTime:
        $ref: '#/definitions/DailyTime'
        description: 'The preferred time to take daily automatic backups, formatted HH:MM in the UTC time zone.'
      SelfManagedActiveDirectoryConfiguration:
        $ref: '#/definitions/SelfManagedActiveDirectoryConfiguration'
      ThroughputCapacity:
        $ref: '#/definitions/MegabytesPerSecond'
        description: 'The throughput of an Amazon FSx file system, measured in megabytes per second, in 2 to the <i>n</i>th increments, between 2^3 (8) and 2^11 (2048).'
      WeeklyMaintenanceStartTime:
        $ref: '#/definitions/WeeklyTime'
        description: 'The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC time zone.'
    required:
      - ThroughputCapacity
    type: object
  CreationTime:
    description: 'The time that the resource was created, in seconds (since 1970-01-01T00:00:00Z), also known as Unix time.'
    format: date-time
    type: string
  DNSName:
    description: The Domain Name Service (DNS) name for the file system. You can mount your file system using its DNS name.
    maxLength: 275
    minLength: 16
    pattern: '^(fsi?-[0-9a-f]{8,}\..{4,253})$'
    type: string
  DailyTime:
    description: 'A recurring daily time, in the format <code>HH:MM</code>. <code>HH</code> is the zero-padded hour of the day (0-23), and <code>MM</code> is the zero-padded minute of the hour. For example, <code>05:00</code> specifies 5 AM daily. '
    maxLength: 5
    minLength: 5
    pattern: '^([01]\d|2[0-3]):?([0-5]\d)$'
    type: string
  DataRepositoryConfiguration:
    description: The data repository configuration object for Lustre file systems returned in the response of the <code>CreateFileSystem</code> operation.
    properties:
      ExportPath:
        $ref: '#/definitions/ArchivePath'
        description: The export path to the Amazon S3 bucket (and prefix) that you are using to store new and changed Lustre file system files in S3.
      ImportPath:
        $ref: '#/definitions/ArchivePath'
        description: 'The import path to the Amazon S3 bucket (and optional prefix) that you''re using as the data repository for your FSx for Lustre file system, for example <code>s3://import-bucket/optional-prefix</code>. If a prefix is specified after the Amazon S3 bucket name, only object keys with that prefix are loaded into the file system.'
      ImportedFileChunkSize:
        $ref: '#/definitions/Megabytes'
        description: '<p>For files imported from a data repository, this value determines the stripe count and maximum amount of data per file (in MiB) stored on a single physical disk. The maximum number of disks that a single file can be striped across is limited by the total number of disks that make up the file system.</p> <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500 GiB). Amazon S3 objects have a maximum size of 5 TB.</p>'
    type: object
  DeleteBackupRequest:
    description: The request object for <code>DeleteBackup</code> operation.
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: The ID of the backup you want to delete.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: (Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent deletion. This is automatically filled on your behalf when using the AWS CLI or SDK.
    required:
      - BackupId
    type: object
  DeleteBackupResponse:
    description: The response object for <code>DeleteBackup</code> operation.
    example:
      BackupId: backup-03e3c82e0183b7b6b
      Lifecycle: DELETED
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: The ID of the backup deleted.
      Lifecycle:
        $ref: '#/definitions/BackupLifecycle'
        description: The lifecycle of the backup. Should be <code>DELETED</code>.
    type: object
  DeleteFileSystemRequest:
    description: The request object for <code>DeleteFileSystem</code> operation.
    properties:
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: (Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent deletion. This is automatically filled on your behalf when using the AWS CLI or SDK.
      FileSystemId:
        $ref: '#/definitions/FileSystemId'
        description: The ID of the file system you want to delete.
      WindowsConfiguration:
        $ref: '#/definitions/DeleteFileSystemWindowsConfiguration'
    required:
      - FileSystemId
    type: object
  DeleteFileSystemResponse:
    description: The response object for the <code>DeleteFileSystem</code> operation.
    example:
      FileSystemId: fs-0498eed5fe91001ec
      Lifecycle: DELETING
    properties:
      FileSystemId:
        $ref: '#/definitions/FileSystemId'
        description: The ID of the file system being deleted.
      Lifecycle:
        $ref: '#/definitions/FileSystemLifecycle'
        description: The file system lifecycle for the deletion request. Should be <code>DELETING</code>.
      WindowsResponse:
        $ref: '#/definitions/DeleteFileSystemWindowsResponse'
    type: object
  DeleteFileSystemWindowsConfiguration:
    description: The configuration object for the Microsoft Windows file system used in the <code>DeleteFileSystem</code> operation.
    properties:
      FinalBackupTags:
        $ref: '#/definitions/Tags'
        description: A set of tags for your final backup.
      SkipFinalBackup:
        $ref: '#/definitions/Flag'
        description: 'By default, Amazon FSx for Windows takes a final backup on your behalf when the <code>DeleteFileSystem</code> operation is invoked. Doing this helps protect you from data loss, and we highly recommend taking the final backup. If you want to skip this backup, use this flag to do so.'
    type: object
  DeleteFileSystemWindowsResponse:
    description: The response object for the Microsoft Windows file system used in the <code>DeleteFileSystem</code> operation.
    properties:
      FinalBackupId:
        $ref: '#/definitions/BackupId'
        description: The ID of the final backup for this file system.
      FinalBackupTags:
        $ref: '#/definitions/Tags'
        description: The set of tags applied to the final backup.
    type: object
  DescribeBackupsRequest:
    description: The request object for <code>DescribeBackups</code> operation.
    properties:
      BackupIds:
        $ref: '#/definitions/BackupIds'
        description: '(Optional) IDs of the backups you want to retrieve (String). This overrides any filters. If any IDs are not found, BackupNotFound will be thrown.'
      Filters:
        $ref: '#/definitions/Filters'
        description: (Optional) Filters structure. Supported names are file-system-id and backup-type.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: (Optional) Maximum number of backups to return in the response (integer). This parameter value must be greater than 0. The number of items that Amazon FSx returns is the minimum of the <code>MaxResults</code> parameter specified in the request and the service's internal maximum number of items per page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '(Optional) Opaque pagination token returned from a previous <code>DescribeBackups</code> operation (String). If a token present, the action continues the list from where the returning call left off.'
    type: object
  DescribeBackupsResponse:
    description: Response object for <code>DescribeBackups</code> operation.
    example:
      Backups:
        - BackupId: backup-03e3c82e0183b7b6b
          CreationTime: '1481841524.0'
          FileSystem:
            FileSystemId: fs-0498eed5fe91001ec
            OwnerId: 012345678912
            StorageCapacity: 300
            WindowsConfiguration:
              ActiveDirectoryId: d-1234abcd12
              AutomaticBackupRetentionDays: 30
              DailyAutomaticBackupStartTime: '05:00'
              WeeklyMaintenanceStartTime: '1:05:00'
          Lifecycle: AVAILABLE
          ResourceARN: 'arn:aws:fsx:us-east-1:012345678912:backup/backup-03e3c82e0183b7b6b'
          Tags:
            - Key: Name
              Value: MyBackup
          Type: USER_INITIATED
    properties:
      Backups:
        $ref: '#/definitions/Backups'
        description: Any array of backups.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'This is present if there are more backups than returned in the response (String). You can use the <code>NextToken</code> value in the later request to fetch the backups. '
    type: object
  DescribeFileSystemsRequest:
    description: The request object for <code>DescribeFileSystems</code> operation.
    properties:
      FileSystemIds:
        $ref: '#/definitions/FileSystemIds'
        description: (Optional) IDs of the file systems whose descriptions you want to retrieve (String).
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: (Optional) Maximum number of file systems to return in the response (integer). This parameter value must be greater than 0. The number of items that Amazon FSx returns is the minimum of the <code>MaxResults</code> parameter specified in the request and the service's internal maximum number of items per page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '(Optional) Opaque pagination token returned from a previous <code>DescribeFileSystems</code> operation (String). If a token present, the action continues the list from where the returning call left off.'
    type: object
  DescribeFileSystemsResponse:
    description: The response object for <code>DescribeFileSystems</code> operation.
    example:
      FileSystems:
        - CreationTime: '1481841524.0'
          DNSName: fs-0498eed5fe91001ec.fsx.com
          FileSystemId: fs-0498eed5fe91001ec
          KmsKeyId: 'arn:aws:kms:us-east-1:012345678912:key/0ff3ea8d-130e-4133-877f-93908b6fdbd6'
          Lifecycle: AVAILABLE
          NetworkInterfaceIds:
            - eni-abcd1234
          OwnerId: 012345678912
          ResourceARN: 'arn:aws:fsx:us-east-1:012345678912:file-system/fs-0498eed5fe91001ec'
          StorageCapacity: 300
          SubnetIds:
            - subnet-1234abcd
          Tags:
            - Key: Name
              Value: MyFileSystem
          VpcId: vpc-ab1234cd
          WindowsConfiguration:
            ActiveDirectoryId: d-1234abcd12
            AutomaticBackupRetentionDays: 30
            DailyAutomaticBackupStartTime: '05:00'
            ThroughputCapacity: 8
            WeeklyMaintenanceStartTime: '1:05:00'
    properties:
      FileSystems:
        $ref: '#/definitions/FileSystems'
        description: An array of file system descriptions.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'Present if there are more file systems than returned in the response (String). You can use the <code>NextToken</code> value in the later request to fetch the descriptions. '
    type: object
  DirectoryId:
    maxLength: 12
    minLength: 12
    pattern: '^d-[0-9a-f]{10}$'
    type: string
  DirectoryPassword:
    format: password
    maxLength: 256
    minLength: 1
    type: string
  DirectoryUserName:
    maxLength: 256
    minLength: 1
    type: string
  DnsIps:
    items:
      $ref: '#/definitions/IpAddress'
    maxItems: 2
    minItems: 1
    type: array
  ErrorMessage:
    description: A detailed error message.
    maxLength: 256
    minLength: 1
    type: string
  FileSystem:
    description: A description of a specific Amazon FSx file system.
    properties:
      CreationTime:
        $ref: '#/definitions/CreationTime'
        description: 'The time that the file system was created, in seconds (since 1970-01-01T00:00:00Z), also known as Unix time.'
      DNSName:
        $ref: '#/definitions/DNSName'
        description: The DNS name for the file system.
      FailureDetails:
        $ref: '#/definitions/FileSystemFailureDetails'
      FileSystemId:
        $ref: '#/definitions/FileSystemId'
        description: 'The system-generated, unique 17-digit ID of the file system.'
      FileSystemType:
        $ref: '#/definitions/FileSystemType'
        description: 'The type of Amazon FSx file system, either <code>LUSTRE</code> or <code>WINDOWS</code>.'
      KmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: The ID of the AWS Key Management Service (AWS KMS) key used to encrypt the file system's data for an Amazon FSx for Windows File Server file system.
      Lifecycle:
        $ref: '#/definitions/FileSystemLifecycle'
        description: '<p>The lifecycle status of the file system:</p> <ul> <li> <p> <code>AVAILABLE</code> indicates that the file system is reachable and available for use.</p> </li> <li> <p> <code>CREATING</code> indicates that Amazon FSx is in the process of creating the new file system.</p> </li> <li> <p> <code>DELETING</code> indicates that Amazon FSx is in the process of deleting the file system.</p> </li> <li> <p> <code>FAILED</code> indicates that Amazon FSx was not able to create the file system.</p> </li> <li> <p> <code>MISCONFIGURED</code> indicates that the file system is in a failed but recoverable state.</p> </li> <li> <p> <code>UPDATING</code> indicates that the file system is undergoing a customer initiated update.</p> </li> </ul>'
      LustreConfiguration:
        $ref: '#/definitions/LustreFileSystemConfiguration'
      NetworkInterfaceIds:
        $ref: '#/definitions/NetworkInterfaceIds'
        description: '<p>The IDs of the elastic network interface from which a specific file system is accessible. The elastic network interface is automatically created in the same VPC that the Amazon FSx file system was created in. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html">Elastic Network Interfaces</a> in the <i>Amazon EC2 User Guide.</i> </p> <p>For an Amazon FSx for Windows File Server file system, you can have one network interface ID. For an Amazon FSx for Lustre file system, you can have more than one.</p>'
      OwnerId:
        $ref: '#/definitions/AWSAccountId'
        description: 'The AWS account that created the file system. If the file system was created by an AWS Identity and Access Management (IAM) user, the AWS account to which the IAM user belongs is the owner.'
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) for the file system resource.
      StorageCapacity:
        $ref: '#/definitions/StorageCapacity'
        description: The storage capacity of the file system in gigabytes (GB).
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: The ID of the subnet to contain the endpoint for the file system. One and only one is supported. The file system is launched in the Availability Zone associated with this subnet.
      Tags:
        $ref: '#/definitions/Tags'
        description: 'The tags to associate with the file system. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html">Tagging Your Amazon EC2 Resources</a> in the <i>Amazon EC2 User Guide</i>.'
      VpcId:
        $ref: '#/definitions/VpcId'
        description: The ID of the primary VPC for the file system.
      WindowsConfiguration:
        $ref: '#/definitions/WindowsFileSystemConfiguration'
        description: The configuration for this Microsoft Windows file system.
    type: object
  FileSystemAdministratorsGroupName:
    maxLength: 256
    minLength: 1
    type: string
  FileSystemFailureDetails:
    description: A structure providing details of any failures that occur when creating the file system has failed.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: A message describing any failures that occurred during file system creation.
    type: object
  FileSystemId:
    description: 'The globally unique ID of the file system, assigned by Amazon FSx.'
    maxLength: 21
    minLength: 11
    pattern: '^(fs-[0-9a-f]{8,})$'
    type: string
  FileSystemIds:
    description: A list of <code>FileSystemId</code>s.
    items:
      $ref: '#/definitions/FileSystemId'
    maxItems: 50
    type: array
  FileSystemLifecycle:
    description: The lifecycle status of the file system.
    enum:
      - AVAILABLE
      - CREATING
      - FAILED
      - DELETING
      - MISCONFIGURED
      - UPDATING
    type: string
  FileSystemMaintenanceOperation:
    description: An enumeration specifying the currently ongoing maintenance operation.
    enum:
      - PATCHING
      - BACKING_UP
    type: string
  FileSystemMaintenanceOperations:
    description: A list of maintenance operations.
    items:
      $ref: '#/definitions/FileSystemMaintenanceOperation'
    maxItems: 20
    type: array
  FileSystemNotFound: {}
  FileSystemType:
    description: The type of file system.
    enum:
      - WINDOWS
      - LUSTRE
    type: string
  FileSystems:
    description: A list of file systems.
    items:
      $ref: '#/definitions/FileSystem'
    maxItems: 50
    type: array
  Filter:
    description: A filter used to restrict the results of describe calls. You can use multiple filters to return results that meet all applied filter requirements.
    properties:
      Name:
        $ref: '#/definitions/FilterName'
        description: The name for this filter.
      Values:
        $ref: '#/definitions/FilterValues'
        description: The values of the filter. These are all the values for any of the applied filters.
    type: object
  FilterName:
    description: The name for a filter.
    enum:
      - file-system-id
      - backup-type
    type: string
  FilterValue:
    description: The value for a filter.
    maxLength: 128
    minLength: 1
    pattern: '^[0-9a-zA-Z\*\.\\/\?\-\_]*$'
    type: string
  FilterValues:
    description: A list of filter values.
    items:
      $ref: '#/definitions/FilterValue'
    maxItems: 20
    type: array
  Filters:
    description: A list of <code>Filter</code> elements.
    items:
      $ref: '#/definitions/Filter'
    maxItems: 10
    type: array
  Flag:
    type: boolean
  IncompatibleParameterError: {}
  InternalServerError: {}
  InvalidExportPath: {}
  InvalidImportPath: {}
  InvalidNetworkSettings: {}
  IpAddress:
    pattern: '^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$'
    type: string
  KmsKeyId:
    description: 'The ID of your AWS Key Management Service (AWS KMS) key. This ID is used to encrypt the data in your file system at rest. For more information, see <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_Encrypt.html">Encrypt</a> in the <i>AWS Key Management Service API Reference</i>.'
    maxLength: 2048
    minLength: 1
    pattern: '^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|arn:aws[a-z-]{0,7}:kms:[a-z]{2}-[a-z-]{4,}-\d+:\d{12}:(key|alias)\/([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89aAbB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}|[a-zA-Z0-9:\/_-]+)|alias\/[a-zA-Z0-9:\/_-]+$'
    type: string
  ListTagsForResourceRequest:
    description: The request object for <code>ListTagsForResource</code> operation.
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: (Optional) Maximum number of tags to return in the response (integer). This parameter value must be greater than 0. The number of items that Amazon FSx returns is the minimum of the <code>MaxResults</code> parameter specified in the request and the service's internal maximum number of items per page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: '(Optional) Opaque pagination token returned from a previous <code>ListTagsForResource</code> operation (String). If a token present, the action continues the list from where the returning call left off.'
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the Amazon FSx resource that will have its tags listed.
    required:
      - ResourceARN
    type: object
  ListTagsForResourceResponse:
    description: The response object for <code>ListTagsForResource</code> operation.
    example:
      Tags:
        - Key: Name
          Value: MyFileSystem
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'This is present if there are more tags than returned in the response (String). You can use the <code>NextToken</code> value in the later request to fetch the tags. '
      Tags:
        $ref: '#/definitions/Tags'
        description: A list of tags on the resource.
    type: object
  LustreFileSystemConfiguration:
    description: The configuration for the Amazon FSx for Lustre file system.
    properties:
      DataRepositoryConfiguration:
        $ref: '#/definitions/DataRepositoryConfiguration'
      WeeklyMaintenanceStartTime:
        $ref: '#/definitions/WeeklyTime'
        description: The UTC time that you want to begin your weekly maintenance window.
    type: object
  MaxResults:
    description: The maximum number of resources to return in the response. This value must be an integer greater than zero.
    minimum: 1
    type: integer
  Megabytes:
    maximum: 512000
    minimum: 1
    type: integer
  MegabytesPerSecond:
    description: Sustained throughput of an Amazon FSx file system in MBps.
    maximum: 2048
    minimum: 8
    type: integer
  MissingFileSystemConfiguration: {}
  NetworkInterfaceId:
    description: 'An elastic network interface ID. An elastic network interface is a logical networking component in a virtual private cloud (VPC) that represents a virtual network card. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html">Elastic Network Interfaces</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
    maxLength: 21
    minLength: 12
    pattern: '^(eni-[0-9a-f]{8,})$'
    type: string
  NetworkInterfaceIds:
    description: A list of network interface IDs.
    items:
      $ref: '#/definitions/NetworkInterfaceId'
    maxItems: 50
    type: array
  NextToken:
    description: '(Optional) Opaque pagination token returned from a previous operation (String). If present, this token indicates from what point you can continue processing the request, where the previous <code>NextToken</code> value left off.'
    maxLength: 255
    minLength: 1
    pattern: '^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$'
    type: string
  NotServiceResourceError: {}
  OrganizationalUnitDistinguishedName:
    maxLength: 2000
    minLength: 1
    type: string
  ProgressPercent:
    description: The current percent of progress of an asynchronous task.
    maximum: 100
    minimum: 0
    type: integer
  ResourceARN:
    description: 'The Amazon Resource Name (ARN) for a given resource. ARNs uniquely identify AWS resources. We require an ARN when you need to specify a resource unambiguously across all of AWS. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.'
    maxLength: 512
    minLength: 8
    pattern: '^arn:aws[a-z-]{0,7}:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$'
    type: string
  ResourceDoesNotSupportTagging: {}
  ResourceNotFound: {}
  SecurityGroupId:
    description: 'The ID of your Amazon EC2 security group. This ID is used to control network access to the endpoint that Amazon FSx creates on your behalf in each subnet. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html">Amazon EC2 Security Groups for Linux Instances</a> in the <i>Amazon EC2 User Guide</i>.'
    maxLength: 20
    minLength: 11
    pattern: '^(sg-[0-9a-f]{8,})$'
    type: string
  SecurityGroupIds:
    description: A list of security group IDs.
    items:
      $ref: '#/definitions/SecurityGroupId'
    maxItems: 50
    type: array
  SelfManagedActiveDirectoryAttributes:
    description: The configuration of the self-managed Microsoft Active Directory (AD) directory to which the Windows File Server instance is joined.
    properties:
      DnsIps:
        $ref: '#/definitions/DnsIps'
        description: A list of up to two IP addresses of DNS servers or domain controllers in the self-managed AD directory.
      DomainName:
        $ref: '#/definitions/ActiveDirectoryFullyQualifiedName'
        description: The fully qualified domain name of the self-managed AD directory.
      FileSystemAdministratorsGroup:
        $ref: '#/definitions/FileSystemAdministratorsGroupName'
        description: The name of the domain group whose members have administrative privileges for the FSx file system.
      OrganizationalUnitDistinguishedName:
        $ref: '#/definitions/OrganizationalUnitDistinguishedName'
        description: The fully qualified distinguished name of the organizational unit within the self-managed AD directory to which the Windows File Server instance is joined.
      UserName:
        $ref: '#/definitions/DirectoryUserName'
        description: The user name for the service account on your self-managed AD domain that FSx uses to join to your AD domain.
    type: object
  SelfManagedActiveDirectoryConfiguration:
    description: The configuration that Amazon FSx uses to join the Windows File Server instance to your self-managed (including on-premises) Microsoft Active Directory (AD) directory.
    properties:
      DnsIps:
        $ref: '#/definitions/DnsIps'
        description: '<p>A list of up to two IP addresses of DNS servers or domain controllers in the self-managed AD directory. The IP addresses need to be either in the same VPC CIDR range as the one in which your Amazon FSx file system is being created, or in the private IP version 4 (Iv4) address ranges, as specified in <a href="http://www.faqs.org/rfcs/rfc1918.html">RFC 1918</a>:</p> <ul> <li> <p>10.0.0.0 - 10.255.255.255 (10/8 prefix)</p> </li> <li> <p>172.16.0.0 - 172.31.255.255 (172.16/12 prefix)</p> </li> <li> <p>192.168.0.0 - 192.168.255.255 (192.168/16 prefix)</p> </li> </ul>'
      DomainName:
        $ref: '#/definitions/ActiveDirectoryFullyQualifiedName'
        description: 'The fully qualified domain name of the self-managed AD directory, such as <code>corp.example.com</code>.'
      FileSystemAdministratorsGroup:
        $ref: '#/definitions/FileSystemAdministratorsGroupName'
        description: '(Optional) The name of the domain group whose members are granted administrative privileges for the file system. Administrative privileges include taking ownership of files and folders, and setting audit controls (audit ACLs) on files and folders. The group that you specify must already exist in your domain. If you don''t provide one, your AD domain''s Domain Admins group is used.'
      OrganizationalUnitDistinguishedName:
        $ref: '#/definitions/OrganizationalUnitDistinguishedName'
        description: '<p>(Optional) The fully qualified distinguished name of the organizational unit within your self-managed AD directory that the Windows File Server instance will join. Amazon FSx only accepts OU as the direct parent of the file system. An example is <code>OU=FSx,DC=yourdomain,DC=corp,DC=com</code>. To learn more, see <a href="https://tools.ietf.org/html/rfc2253">RFC 2253</a>. If none is provided, the FSx file system is created in the default location of your self-managed AD directory. </p> <important> <p>Only Organizational Unit (OU) objects can be the direct parent of the file system that you''re creating.</p> </important>'
      Password:
        $ref: '#/definitions/DirectoryPassword'
        description: The password for the service account on your self-managed AD domain that Amazon FSx will use to join to your AD domain.
      UserName:
        $ref: '#/definitions/DirectoryUserName'
        description: 'The user name for the service account on your self-managed AD domain that Amazon FSx will use to join to your AD domain. This account must have the permission to join computers to the domain in the organizational unit provided in <code>OrganizationalUnitDistinguishedName</code>, or in the default location of your AD domain.'
    required:
      - DomainName
      - UserName
      - Password
      - DnsIps
    type: object
  SelfManagedActiveDirectoryConfigurationUpdates:
    description: The configuration that Amazon FSx uses to join the Windows File Server instance to the self-managed Microsoft Active Directory (AD) directory.
    properties:
      DnsIps:
        $ref: '#/definitions/DnsIps'
        description: A list of up to two IP addresses of DNS servers or domain controllers in the self-managed AD directory.
      Password:
        $ref: '#/definitions/DirectoryPassword'
        description: The password for the service account on your self-managed AD domain that Amazon FSx will use to join to your AD domain.
      UserName:
        $ref: '#/definitions/DirectoryUserName'
        description: The user name for the service account on your self-managed AD domain that Amazon FSx will use to join to your AD domain. This account must have the permission to join computers to the domain in the organizational unit provided in <code>OrganizationalUnitDistinguishedName</code>.
    type: object
  ServiceLimitExceeded: {}
  StorageCapacity:
    description: 'The storage capacity for your Amazon FSx file system, in gibibytes.'
    minimum: 1
    type: integer
  SubnetId:
    description: 'The ID for a subnet. A <i>subnet</i> is a range of IP addresses in your virtual private cloud (VPC). For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html">VPC and Subnets</a> in the <i>Amazon VPC User Guide.</i> '
    maxLength: 24
    minLength: 15
    pattern: '^(subnet-[0-9a-f]{8,})$'
    type: string
  SubnetIds:
    description: 'A list of subnet IDs. Currently, you can specify only one subnet ID in a call to the <code>CreateFileSystem</code> operation.'
    items:
      $ref: '#/definitions/SubnetId'
    maxItems: 50
    type: array
  Tag:
    description: Specifies a key-value pair for a resource tag.
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: 'A value that specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the resource to which they are attached.'
      Value:
        $ref: '#/definitions/TagValue'
        description: 'A value that specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and don''t have to be unique in a tag set. For example, you can have a key-value pair in a tag set of <code>finances : April</code> and also of <code>payroll : April</code>.'
    type: object
  TagKey:
    description: A string of 1 to 128 characters that specifies the key for a tag. Tag keys must be unique for the resource to which they are attached.
    maxLength: 128
    minLength: 1
    type: string
  TagKeys:
    description: 'A list of <code>TagKey</code> values, with a maximum of 50 elements.'
    items:
      $ref: '#/definitions/TagKey'
    maxItems: 50
    minItems: 1
    type: array
  TagResourceRequest:
    description: The request object for the <code>TagResource</code> operation.
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the Amazon FSx resource that you want to tag.
      Tags:
        $ref: '#/definitions/Tags'
        description: 'A list of tags for the resource. If a tag with a given key already exists, the value is replaced by the one specified in this parameter.'
    required:
      - ResourceARN
      - Tags
    type: object
  TagResourceResponse:
    description: The response object for the <code>TagResource</code> operation.
    properties: {}
    type: object
  TagValue:
    description: A string of 0 to 256 characters that specifies the value for a tag. Tag values can be null and don't have to be unique in a tag set.
    maxLength: 256
    minLength: 0
    type: string
  Tags:
    description: 'A list of <code>Tag</code> values, with a maximum of 50 elements.'
    items:
      $ref: '#/definitions/Tag'
    maxItems: 50
    minItems: 1
    type: array
  UnsupportedOperation: {}
  UntagResourceRequest:
    description: The request object for <code>UntagResource</code> action.
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the Amazon FSx resource to untag.
      TagKeys:
        $ref: '#/definitions/TagKeys'
        description: 'A list of keys of tags on the resource to untag. In case the tag key doesn''t exist, the call will still succeed to be idempotent.'
    required:
      - ResourceARN
      - TagKeys
    type: object
  UntagResourceResponse:
    description: The response object for <code>UntagResource</code> action.
    properties: {}
    type: object
  UpdateFileSystemLustreConfiguration:
    description: The configuration object for Amazon FSx for Lustre file systems used in the <code>UpdateFileSystem</code> operation.
    properties:
      WeeklyMaintenanceStartTime:
        $ref: '#/definitions/WeeklyTime'
        description: 'The preferred time to perform weekly maintenance, in the UTC time zone.'
    type: object
  UpdateFileSystemRequest:
    description: The request object for the <code>UpdateFileSystem</code> operation.
    properties:
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestToken'
        description: (Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent updates. This string is automatically filled on your behalf when you use the AWS Command Line Interface (AWS CLI) or an AWS SDK.
      FileSystemId:
        $ref: '#/definitions/FileSystemId'
      LustreConfiguration:
        $ref: '#/definitions/UpdateFileSystemLustreConfiguration'
      WindowsConfiguration:
        $ref: '#/definitions/UpdateFileSystemWindowsConfiguration'
        description: The configuration update for this Microsoft Windows file system. The only supported options are for backup and maintenance and for self-managed Active Directory configuration.
    required:
      - FileSystemId
    type: object
  UpdateFileSystemResponse:
    description: The response object for the <code>UpdateFileSystem</code> operation.
    example:
      FileSystem:
        CreationTime: '1481841524.0'
        DNSName: fs-0498eed5fe91001ec.fsx.com
        FileSystemId: fs-0498eed5fe91001ec
        KmsKeyId: 'arn:aws:kms:us-east-1:012345678912:key/0ff3ea8d-130e-4133-877f-93908b6fdbd6'
        Lifecycle: AVAILABLE
        OwnerId: 012345678912
        ResourceARN: 'arn:aws:fsx:us-east-1:012345678912:file-system/fs-0498eed5fe91001ec'
        StorageCapacity: 300
        SubnetIds:
          - subnet-1234abcd
        Tags:
          - Key: Name
            Value: MyFileSystem
        VpcId: vpc-ab1234cd
        WindowsConfiguration:
          AutomaticBackupRetentionDays: 10
          DailyAutomaticBackupStartTime: '06:00'
          ThroughputCapacity: 8
          WeeklyMaintenanceStartTime: '3:06:00'
    properties:
      FileSystem:
        $ref: '#/definitions/FileSystem'
        description: A description of the file system that was updated.
    type: object
  UpdateFileSystemWindowsConfiguration:
    description: 'Updates the Microsoft Windows configuration for an existing Amazon FSx for Windows File Server file system. Amazon FSx overwrites existing properties with non-null values provided in the request. If you don''t specify a non-null value for a property, that property is not updated.'
    properties:
      AutomaticBackupRetentionDays:
        $ref: '#/definitions/AutomaticBackupRetentionDays'
        description: The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 35 days.
      DailyAutomaticBackupStartTime:
        $ref: '#/definitions/DailyTime'
        description: 'The preferred time to take daily automatic backups, in the UTC time zone.'
      SelfManagedActiveDirectoryConfiguration:
        $ref: '#/definitions/SelfManagedActiveDirectoryConfigurationUpdates'
        description: The configuration Amazon FSx uses to join the Windows File Server instance to the self-managed Microsoft AD directory.
      WeeklyMaintenanceStartTime:
        $ref: '#/definitions/WeeklyTime'
        description: 'The preferred time to perform weekly maintenance, in the UTC time zone.'
    type: object
  VpcId:
    description: 'The ID of your virtual private cloud (VPC). For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html">VPC and Subnets</a> in the <i>Amazon VPC User Guide</i>.'
    maxLength: 21
    minLength: 12
    pattern: '^(vpc-[0-9a-f]{8,})$'
    type: string
  WeeklyTime:
    description: '<p>A recurring weekly time, in the format <code>D:HH:MM</code>. </p> <p> <code>D</code> is the day of the week, for which 1 represents Monday and 7 represents Sunday. For further details, see <a href="https://en.wikipedia.org/wiki/ISO_week_date">the ISO-8601 spec as described on Wikipedia</a>.</p> <p> <code>HH</code> is the zero-padded hour of the day (0-23), and <code>MM</code> is the zero-padded minute of the hour. </p> <p>For example, <code>1:05:00</code> specifies maintenance at 5 AM Monday.</p>'
    maxLength: 7
    minLength: 7
    pattern: '^[1-7]:([01]\d|2[0-3]):?([0-5]\d)$'
    type: string
  WindowsFileSystemConfiguration:
    description: The configuration for this Microsoft Windows file system.
    properties:
      ActiveDirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The ID for an existing Microsoft Active Directory instance that the file system should join when it's created.
      AutomaticBackupRetentionDays:
        $ref: '#/definitions/AutomaticBackupRetentionDays'
        description: The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 35 days.
      CopyTagsToBackups:
        $ref: '#/definitions/Flag'
        description: 'A boolean flag indicating whether tags on the file system should be copied to backups. This value defaults to false. If it''s set to true, all tags on the file system are copied to all automatic backups and any user-initiated backups where the user doesn''t specify any tags. If this value is true, and you specify one or more tags, only the specified tags are copied to backups.'
      DailyAutomaticBackupStartTime:
        $ref: '#/definitions/DailyTime'
        description: 'The preferred time to take daily automatic backups, in the UTC time zone.'
      MaintenanceOperationsInProgress:
        $ref: '#/definitions/FileSystemMaintenanceOperations'
        description: The list of maintenance operations in progress for this file system.
      SelfManagedActiveDirectoryConfiguration:
        $ref: '#/definitions/SelfManagedActiveDirectoryAttributes'
      ThroughputCapacity:
        $ref: '#/definitions/MegabytesPerSecond'
        description: 'The throughput of an Amazon FSx file system, measured in megabytes per second.'
      WeeklyMaintenanceStartTime:
        $ref: '#/definitions/WeeklyTime'
        description: 'The preferred time to perform weekly maintenance, in the UTC time zone.'
    type: object
x-servers:
  - description: The Amazon FSx multi-region endpoint
    url: 'http://fsx.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon FSx multi-region endpoint
    url: 'https://fsx.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon FSx endpoint for China (Beijing) and China (Ningxia)
    url: 'http://fsx.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Amazon FSx endpoint for China (Beijing) and China (Ningxia)
    url: 'https://fsx.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
