swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The AAD Domain Services API.
  title: Domain Services Resource Provider
  version: '2017-01-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-01-01/domainservices.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: domainservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+$'
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.AAD/operations:
    get:
      description: Lists all the available Domain Services operations.
      operationId: DomainServiceOperations_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: '#/definitions/OperationEntityListResult'
      tags:
        - DomainServices
      x-ms-examples:
        Get Operations:
          parameters:
            api-version: '2017-01-01'
          responses:
            '200':
              body:
                value:
                  - display:
                      description: Reads Domain Services
                      operation: Read Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/domainServices/read
                    origin: 'user,system'
                  - display:
                      description: Writes Domain Services
                      operation: Write Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/domainServices/write
                    origin: 'user,system'
                  - display:
                      description: Deletes Domain Services
                      operation: Delete Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/domainServices/delete
                    origin: 'user,system'
  '/subscriptions/{subscriptionId}/providers/Microsoft.AAD/domainServices':
    get:
      description: The List Domain Services in Subscription operation lists all the domain services available under the given subscription (and across all resource groups within that subscription).
      operationId: DomainServices_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: '#/definitions/DomainServiceListResult'
      summary: List Domain Services in Subscription (GET Resources)
      tags:
        - DomainServices
      x-ms-examples:
        List Domain Service:
          parameters:
            api-version: '2017-01-01'
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            '200':
              body:
                value:
                  - etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                    id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                    location: westus
                    name: zdomain.zforest.com
                    properties:
                      domainControllerIpAddress:
                        - 10.0.0.5
                        - 10.0.0.8
                      domainName: zdomain.zforest.com
                      ldapsSettings:
                        certificateNotAfter: '2018-02-15T21:43:21Z'
                        certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                        externalAccess: Enabled
                        externalAccessIpAddress: 13.64.148.151
                        ldaps: Enabled
                        publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                      provisioningState: Succeeded
                      serviceStatus: Running
                      subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                      tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                      vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                    tags:
                      Owner: jicha
                    type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/domainServices':
    get:
      description: The List Domain Services in Resource Group operation lists all the domain services available under the given resource group.
      operationId: DomainServices_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: '#/definitions/DomainServiceListResult'
      summary: List Domain Services in Resource Group (GET Resources)
      tags:
        - DomainServices
      x-ms-examples:
        List Domain Service:
          parameters:
            api-version: '2017-01-01'
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            '200':
              body:
                value:
                  - etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                    id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                    location: westus
                    name: zdomain.zforest.com
                    properties:
                      domainControllerIpAddress:
                        - 10.0.0.5
                        - 10.0.0.8
                      domainName: zdomain.zforest.com
                      ldapsSettings:
                        certificateNotAfter: '2018-02-15T21:43:21Z'
                        certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                        externalAccess: Enabled
                        externalAccessIpAddress: 13.64.148.151
                        ldaps: Enabled
                        publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                      provisioningState: Succeeded
                      serviceStatus: Running
                      subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                      tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                      vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                    tags:
                      Owner: jicha
                    type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/domainServices/{domainServiceName}':
    delete:
      description: The Delete Domain Service operation deletes an existing Domain Service.
      operationId: DomainServices_Delete
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The name of the domain service in the specified subscription and resource group.
          in: path
          name: domainServiceName
          required: true
          type: string
      responses:
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: '#/definitions/DomainService'
        '204':
          description: HTTP 204 (Not Content) should be used if the resource does not exist and the request is well formed.
      summary: Delete Domain Service (DELETE Resource)
      tags:
        - DomainServices
      x-ms-examples:
        Delete Domain Service:
          parameters:
            api-version: '2017-01-01'
            domainServiceName: zdomain.zforest.com
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            '202':
              description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
            '204':
              description: HTTP 204 (Not Content) should be used if the resource does not exist and the request is well formed.
      x-ms-long-running-operation: true
    get:
      description: The Get Domain Service operation retrieves a json representation of the Domain Service.
      operationId: DomainServices_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The name of the domain service in the specified subscription and resource group.
          in: path
          name: domainServiceName
          required: true
          type: string
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: '#/definitions/DomainService'
      summary: Get Domain Service (GET Resources)
      tags:
        - DomainServices
      x-ms-examples:
        Get Domain Service:
          parameters:
            api-version: '2017-01-01'
            domainServiceName: zdomain.zforest.com
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            '200':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  ldapsSettings:
                    certificateNotAfter: '2018-02-15T21:43:21Z'
                    certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                    externalAccess: Enabled
                    externalAccessIpAddress: 13.64.148.151
                    ldaps: Enabled
                    publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                tags:
                  Owner: jicha
                type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
    patch:
      description: The Update Domain Service operation can be used to update the existing deployment. The update call only supports the properties listed in the PATCH body.
      operationId: DomainServices_Update
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The name of the domain service in the specified subscription and resource group.
          in: path
          name: domainServiceName
          required: true
          type: string
        - description: Properties supplied to the Update a Domain Service operation.
          in: body
          name: properties
          required: true
          schema:
            $ref: '#/definitions/DomainServicePatchProperties'
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: '#/definitions/DomainService'
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: '#/definitions/DomainService'
      summary: Update Domain Service (PATCH Resource)
      tags:
        - DomainServices
      x-ms-examples:
        Update Domain Service:
          parameters:
            api-version: '2017-01-01'
            domainServiceName: zdomain.zforest.com
            location: westus
            properties:
              ldapsSettings:
                externalAccess: Enabled
                ldaps: Enabled
                pfxCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                pfxCertificatePassword: Password01
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            '200':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  ldapsSettings:
                    certificateNotAfter: '2018-02-15T21:43:21Z'
                    certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                    externalAccess: Enabled
                    externalAccessIpAddress: 13.64.148.151
                    ldaps: Enabled
                    publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                tags:
                  Owner: jicha
                type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
            '202':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  ldapsSettings:
                    externalAccess: Enabled
                    ldaps: Enabled
                    pfxCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                    pfxCertificatePassword: Password01
                  provisioningState: Accepted
                type: Microsoft.AAD/domainServices
              description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
      x-ms-long-running-operation: true
    put:
      description: 'The Create Domain Service operation creates a new domain service with the specified parameters. If the specific service already exists, then any patchable properties will be updated and any immutable properties will remain unchanged.'
      operationId: DomainServices_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The name of the domain service in the specified subscription and resource group.
          in: path
          name: domainServiceName
          required: true
          type: string
        - description: Properties supplied to the Create or Update a Domain Service operation.
          in: body
          name: properties
          required: true
          schema:
            $ref: '#/definitions/DomainServiceProperties'
      responses:
        '200':
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: '#/definitions/DomainService'
        '201':
          description: HTTP 201 (Created) if the operation completed successfully.
          schema:
            $ref: '#/definitions/DomainService'
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: '#/definitions/DomainService'
      summary: Create or Update Domain Service (PUT Resource)
      tags:
        - DomainServices
      x-ms-examples:
        Create Domain Service:
          parameters:
            api-version: '2017-01-01'
            domainServiceName: zdomain.zforest.com
            location: westus
            properties:
              domainName: zdomain.zforest.com
              subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            '200':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
            '201':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                type: Microsoft.AAD/domainServices
              description: HTTP 201 (Created) if the operation completed successfully.
            '202':
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainName: zdomain.zforest.com
                  provisioningState: Accepted
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                type: Microsoft.AAD/domainServices
              description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
      x-ms-long-running-operation: true
definitions:
  DomainService:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Domain service.
    properties:
      properties:
        $ref: '#/definitions/DomainServiceProperties'
        description: Domain service properties
        x-ms-client-flatten: true
  DomainServiceListResult:
    description: The response from the List Domain Services operation.
    properties:
      value:
        description: the list of domain services.
        items:
          $ref: '#/definitions/DomainService'
        type: array
  DomainServicePatchProperties:
    description: Update Properties of the Domain Service.
    properties:
      ldapsSettings:
        $ref: '#/definitions/LdapsSettings'
        description: Secure LDAP Settings
  DomainServiceProperties:
    description: Properties of the Domain Service.
    properties:
      domainControllerIpAddress:
        description: List of Domain Controller IP Address
        items:
          description: Domain Controller IP Address
          type: string
        readOnly: true
        type: array
      domainName:
        description: The name of the Azure domain that the user would like to deploy Domain Services to.
        type: string
      ldapsSettings:
        $ref: '#/definitions/LdapsSettings'
        description: Secure LDAP Settings
      provisioningState:
        description: 'the current deployment or provisioning state, which only appears in the response.'
        readOnly: true
        type: string
      serviceStatus:
        description: Status of Domain Service instance
        readOnly: true
        type: string
      subnetId:
        description: The name of the virtual network that Domain Services will be deployed on. The id of the subnet that Domain Services will be deployed on. /virtualNetwork/vnetName/subnets/subnetName.
        type: string
      tenantId:
        description: Azure Active Directory tenant id
        readOnly: true
        type: string
      vnetSiteId:
        description: Virtual network site id
        readOnly: true
        type: string
  LdapsSettings:
    description: Secure LDAP Settings
    properties:
      certificateNotAfter:
        description: NotAfter DateTime of configure ldaps certificate.
        format: date-time
        readOnly: true
        type: string
      certificateThumbprint:
        description: Thumbprint of configure ldaps certificate.
        readOnly: true
        type: string
      externalAccess:
        description: A flag to determine whether or not Secure LDAP access over the internet is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExternalAccess
      externalAccessIpAddress:
        description: External access ip address.
        readOnly: true
        type: string
      ldaps:
        description: A flag to determine whether or not Secure LDAP is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: Ldaps
      pfxCertificate:
        description: The certificate required to configure Secure LDAP. The parameter passed here should be a base64encoded representation of the certificate pfx file.
        type: string
      pfxCertificatePassword:
        description: The password to decrypt the provided Secure LDAP certificate pfx file.
        type: string
      publicCertificate:
        description: Public certificate used to configure secure ldap.
        readOnly: true
        type: string
  OperationDisplayInfo:
    description: The operation supported by Domain Services.
    properties:
      description:
        description: The description of the operation.
        type: string
      operation:
        description: 'The action that users can perform, based on their permission level.'
        type: string
      provider:
        description: 'Service provider: Domain Services.'
        type: string
      resource:
        description: Resource on which the operation is performed.
        type: string
    type: object
  OperationEntity:
    description: The operation supported by Domain Services.
    properties:
      display:
        $ref: '#/definitions/OperationDisplayInfo'
        description: The operation supported by Domain Services.
      name:
        description: 'Operation name: {provider}/{resource}/{operation}.'
        type: string
      origin:
        description: The origin of the operation.
        type: string
    type: object
  OperationEntityListResult:
    description: The list of domain service operation response.
    properties:
      value:
        description: The list of operations.
        items:
          $ref: '#/definitions/OperationEntity'
        type: array
    type: object
  Resource:
    description: The Resource model definition.
    properties:
      etag:
        description: Resource etag
        type: string
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
