{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://numbers.twilio.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Numbers",
    "version": "1.42.0",
    "x-apisguru-categories": [
      "telecom",
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_numbers_v2.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "twilio.com",
    "x-serviceName": "twilio_numbers_v2"
  },
  "paths": {
    "/v2/RegulatoryCompliance": {
      "description": "TODO: Resource-level docs",
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [],
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Bundles": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Bundles for an account.",
        "operationId": "ListBundle",
        "parameters": [
          {
            "description": "The verification status of the Bundle resource. Please refer to [Bundle Statuses](https://www.twilio.com/docs/phone-numbers/regulatory/api/bundles#bundle-statuses) for more details.",
            "in": "query",
            "name": "Status",
            "schema": {
              "$ref": "#/components/schemas/bundle_enum_status",
              "type": "string"
            }
          },
          {
            "description": "The string that you assigned to describe the resource. The column can contain 255 variable characters.",
            "in": "query",
            "name": "FriendlyName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique string of a [Regulation resource](https://www.twilio.com/docs/phone-numbers/regulatory/api/regulations) that is associated to the Bundle resource.",
            "in": "query",
            "name": "RegulationSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RN[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The 2-digit [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the Bundle's phone number country ownership request.",
            "in": "query",
            "name": "IsoCountry",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of phone number of the Bundle's ownership request. Can be `local`, `mobile`, `national`, or `tollfree`.",
            "in": "query",
            "name": "NumberType",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates that the Bundle is a valid Bundle until a specified expiration date.",
            "in": "query",
            "name": "HasValidUntilDate",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Can be `valid-until` or `date-updated`. Defaults to `date-created`.",
            "in": "query",
            "name": "SortBy",
            "schema": {
              "$ref": "#/components/schemas/bundle_enum_sort_by",
              "type": "string"
            }
          },
          {
            "description": "Default is `DESC`. Can be `ASC` or `DESC`.",
            "in": "query",
            "name": "SortDirection",
            "schema": {
              "$ref": "#/components/schemas/bundle_enum_sort_direction",
              "type": "string"
            }
          },
          {
            "description": "Date to filter Bundles having their `valid_until_date` before or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`. Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) is the acceptable date format.",
            "in": "query",
            "name": "ValidUntilDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Date to filter Bundles having their `valid_until_date` before or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`. Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) is the acceptable date format.",
            "in": "query",
            "name": "ValidUntilDate<",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Date to filter Bundles having their `valid_until_date` before or after the specified date. Can be `ValidUntilDate>=` or `ValidUntilDate<=`. Both can be used in conjunction as well. [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) is the acceptable date format.",
            "in": "query",
            "name": "ValidUntilDate>",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListBundleResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Create a new Bundle.",
        "operationId": "CreateBundle",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Email": {
                    "description": "The email address that will receive updates when the Bundle resource changes status.",
                    "type": "string"
                  },
                  "EndUserType": {
                    "$ref": "#/components/schemas/bundle_enum_end_user_type",
                    "description": "The [type of End User](https://www.twilio.com/docs/phone-numbers/regulatory/api/end-user-types) of the Bundle resource.",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the resource.",
                    "type": "string"
                  },
                  "IsoCountry": {
                    "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the Bundle's phone number country ownership request.",
                    "type": "string"
                  },
                  "NumberType": {
                    "description": "The type of phone number of the Bundle's ownership request. Can be `local`, `mobile`, `national`, or `toll free`.",
                    "type": "string"
                  },
                  "RegulationSid": {
                    "description": "The unique string of a regulation that is associated to the Bundle resource.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RN[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "StatusCallback": {
                    "description": "The URL we call to inform your application of status changes.",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName",
                  "Email"
                ],
                "title": "CreateBundleRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "regulation_sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{BundleSid}/Copies": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Bundles Copies for a Bundle.",
        "operationId": "ListBundleCopy",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.bundle_copy"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListBundleCopyResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "post": {
        "description": "Creates a new copy of a Bundle. It will internally create copies of all the bundle items (identities and documents) of the original bundle",
        "operationId": "CreateBundleCopy",
        "parameters": [
          {
            "description": "The unique string that identifies the Bundle to be copied.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the copied bundle.",
                    "type": "string"
                  }
                },
                "title": "CreateBundleCopyRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.bundle_copy"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [],
        "mountName": "bundle_copies",
        "parent": "/RegulatoryCompliance/Bundles/{Sid}",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of Evaluations associated to the Bundle resource.",
        "operationId": "ListEvaluation",
        "parameters": [
          {
            "description": "The unique string that identifies the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListEvaluationResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Creates an evaluation for a bundle",
        "operationId": "CreateEvaluation",
        "parameters": [
          {
            "description": "The unique string that identifies the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid"
        ],
        "parent": "/RegulatoryCompliance/Bundles/{Sid}",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{BundleSid}/Evaluations/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch specific Evaluation Instance.",
        "operationId": "FetchEvaluation",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The unique string that identifies the Evaluation resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^EL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.evaluation"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid"
        ],
        "parent": "/RegulatoryCompliance/Bundles/{Sid}",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Assigned Items for an account.",
        "operationId": "ListItemAssignment",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListItemAssignmentResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Create a new Assigned Item.",
        "operationId": "CreateItemAssignment",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ObjectSid": {
                    "description": "The SID of an object bag that holds information of the different items.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^[a-zA-Z]{2}[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "ObjectSid"
                ],
                "title": "CreateItemAssignmentRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid"
        ],
        "parent": "/RegulatoryCompliance/Bundles/{Sid}",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{BundleSid}/ItemAssignments/{Sid}": {
      "delete": {
        "description": "Remove an Assignment Item Instance.",
        "operationId": "DeleteItemAssignment",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The unique string that we created to identify the Identity resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BV[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch specific Assigned Item Instance.",
        "operationId": "FetchItemAssignment",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The unique string that we created to identify the Identity resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BV[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.item_assignment"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid"
        ],
        "parent": "/RegulatoryCompliance/Bundles/{Sid}",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{BundleSid}/ReplaceItems": {
      "description": "TODO: Resource-level docs",
      "post": {
        "description": "Replaces all bundle items in the target bundle (specified in the path) with all the bundle items of the source bundle (specified by the from_bundle_sid body param)",
        "operationId": "CreateReplaceItems",
        "parameters": [
          {
            "description": "The unique string that identifies the Bundle where the item assignments are going to be replaced.",
            "in": "path",
            "name": "BundleSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FromBundleSid": {
                    "description": "The source bundle sid to copy the item assignments from.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^BU[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "FromBundleSid"
                ],
                "title": "CreateReplaceItemsRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle.replace_items"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "replace_items",
        "defaultOutputProperties": [],
        "parent": "/RegulatoryCompliance/Bundles/{Sid}",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Bundles/{Sid}": {
      "delete": {
        "description": "Delete a specific Bundle.",
        "operationId": "DeleteBundle",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch a specific Bundle instance.",
        "operationId": "FetchBundle",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Updates a Bundle in an account.",
        "operationId": "UpdateBundle",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Bundle resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BU[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Email": {
                    "description": "The email address that will receive updates when the Bundle resource changes status.",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the resource.",
                    "type": "string"
                  },
                  "Status": {
                    "$ref": "#/components/schemas/bundle_enum_status",
                    "description": "The verification status of the Bundle resource.",
                    "type": "string"
                  },
                  "StatusCallback": {
                    "description": "The URL we call to inform your application of status changes.",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "title": "UpdateBundleRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.bundle"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "regulation_sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/EndUserTypes": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all End-User Types.",
        "operationId": "ListEndUserType",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "end_user_types": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.end_user_type"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListEndUserTypeResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/EndUserTypes/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch a specific End-User Type Instance.",
        "operationId": "FetchEndUserType",
        "parameters": [
          {
            "description": "The unique string that identifies the End-User Type resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.end_user_type"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/EndUsers": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all End User for an account.",
        "operationId": "ListEndUser",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListEndUserResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Create a new End User.",
        "operationId": "CreateEndUser",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "The set of parameters that are the attributes of the End User resource which are derived End User Types."
                  },
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the resource.",
                    "type": "string"
                  },
                  "Type": {
                    "$ref": "#/components/schemas/end_user_enum_type",
                    "description": "The type of end user of the Bundle resource - can be `individual` or `business`.",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName",
                  "Type"
                ],
                "title": "CreateEndUserRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/EndUsers/{Sid}": {
      "delete": {
        "description": "Delete a specific End User.",
        "operationId": "DeleteEndUser",
        "parameters": [
          {
            "description": "The unique string created by Twilio to identify the End User resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IT[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch specific End User Instance.",
        "operationId": "FetchEndUser",
        "parameters": [
          {
            "description": "The unique string created by Twilio to identify the End User resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IT[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Update an existing End User.",
        "operationId": "UpdateEndUser",
        "parameters": [
          {
            "description": "The unique string created by Twilio to identify the End User resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IT[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "The set of parameters that are the attributes of the End User resource which are derived End User Types."
                  },
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the resource.",
                    "type": "string"
                  }
                },
                "title": "UpdateEndUserRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.end_user"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/Regulations": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Regulations.",
        "operationId": "ListRegulation",
        "parameters": [
          {
            "description": "The type of End User the regulation requires - can be `individual` or `business`.",
            "in": "query",
            "name": "EndUserType",
            "schema": {
              "$ref": "#/components/schemas/regulation_enum_end_user_type",
              "type": "string"
            }
          },
          {
            "description": "The ISO country code of the phone number's country.",
            "in": "query",
            "name": "IsoCountry",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of phone number that the regulatory requiremnt is restricting.",
            "in": "query",
            "name": "NumberType",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.regulation"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListRegulationResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/Regulations/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch specific Regulation Instance.",
        "operationId": "FetchRegulation",
        "parameters": [
          {
            "description": "The unique string that identifies the Regulation resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RN[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.regulation"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/SupportingDocumentTypes": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Supporting Document Types.",
        "operationId": "ListSupportingDocumentType",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "supporting_document_types": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListSupportingDocumentTypeResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/SupportingDocumentTypes/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch a specific Supporting Document Type Instance.",
        "operationId": "FetchSupportingDocumentType",
        "parameters": [
          {
            "description": "The unique string that identifies the Supporting Document Type resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document_type"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "instance"
      }
    },
    "/v2/RegulatoryCompliance/SupportingDocuments": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve a list of all Supporting Document for an account.",
        "operationId": "ListSupportingDocument",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListSupportingDocumentResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Create a new Supporting Document.",
        "operationId": "CreateSupportingDocument",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "The set of parameters that are the attributes of the Supporting Documents resource which are derived Supporting Document Types."
                  },
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the resource.",
                    "type": "string"
                  },
                  "Type": {
                    "description": "The type of the Supporting Document.",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName",
                  "Type"
                ],
                "title": "CreateSupportingDocumentRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "list"
      }
    },
    "/v2/RegulatoryCompliance/SupportingDocuments/{Sid}": {
      "delete": {
        "description": "Delete a specific Supporting Document.",
        "operationId": "DeleteSupportingDocument",
        "parameters": [
          {
            "description": "The unique string created by Twilio to identify the Supporting Document resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RD[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch specific Supporting Document Instance.",
        "operationId": "FetchSupportingDocument",
        "parameters": [
          {
            "description": "The unique string created by Twilio to identify the Supporting Document resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RD[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Update an existing Supporting Document.",
        "operationId": "UpdateSupportingDocument",
        "parameters": [
          {
            "description": "The unique string created by Twilio to identify the Supporting Document resource.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RD[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "The set of parameters that are the attributes of the Supporting Document resource which are derived Supporting Document Types."
                  },
                  "FriendlyName": {
                    "description": "The string that you assigned to describe the resource.",
                    "type": "string"
                  }
                },
                "title": "UpdateSupportingDocumentRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/numbers.v2.regulatory_compliance.supporting_document"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://numbers.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "parent": "/RegulatoryCompliance",
        "pathType": "instance"
      }
    }
  },
  "components": {
    "schemas": {
      "bundle_copy_enum_end_user_type": {
        "enum": [
          "individual",
          "business"
        ],
        "type": "string"
      },
      "bundle_copy_enum_status": {
        "enum": [
          "draft",
          "pending-review",
          "in-review",
          "twilio-rejected",
          "twilio-approved",
          "provisionally-approved"
        ],
        "type": "string"
      },
      "bundle_enum_end_user_type": {
        "enum": [
          "individual",
          "business"
        ],
        "type": "string"
      },
      "bundle_enum_sort_by": {
        "enum": [
          "valid-until",
          "date-updated"
        ],
        "type": "string"
      },
      "bundle_enum_sort_direction": {
        "enum": [
          "ASC",
          "DESC"
        ],
        "type": "string"
      },
      "bundle_enum_status": {
        "enum": [
          "draft",
          "pending-review",
          "in-review",
          "twilio-rejected",
          "twilio-approved",
          "provisionally-approved"
        ],
        "type": "string"
      },
      "end_user_enum_type": {
        "enum": [
          "individual",
          "business"
        ],
        "type": "string"
      },
      "evaluation_enum_status": {
        "enum": [
          "compliant",
          "noncompliant"
        ],
        "type": "string"
      },
      "numbers.v2.regulatory_compliance": {
        "properties": {},
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.bundle": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "email": {
            "description": "The email address that will receive updates when the Bundle resource changes status.",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "links": {
            "description": "The URLs of the Assigned Items of the Bundle resource.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "regulation_sid": {
            "description": "The unique string of a regulation that is associated to the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^RN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BU[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/bundle_enum_status",
            "description": "The verification status of the Bundle resource.",
            "nullable": true,
            "type": "string"
          },
          "status_callback": {
            "description": "The URL we call to inform your application of status changes.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Bundle resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "valid_until": {
            "description": "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format when the resource will be valid until.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.bundle.bundle_copy": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "email": {
            "description": "The email address that will receive updates when the Bundle resource changes status.",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "regulation_sid": {
            "description": "The unique string of a regulation that is associated to the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^RN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BU[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/bundle_copy_enum_status",
            "description": "The verification status of the Bundle resource.",
            "nullable": true,
            "type": "string"
          },
          "status_callback": {
            "description": "The URL we call to inform your application of status changes.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "valid_until": {
            "description": "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format when the resource will be valid until.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.bundle.evaluation": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "bundle_sid": {
            "description": "The unique string that we created to identify the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BU[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "regulation_sid": {
            "description": "The unique string of a regulation that is associated to the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^RN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "results": {
            "description": "The results of the Evaluation which includes the valid and invalid attributes.",
            "items": {},
            "nullable": true,
            "type": "array"
          },
          "sid": {
            "description": "The unique string that identifies the Evaluation resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^EL[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/evaluation_enum_status",
            "description": "The compliance status of the Evaluation resource.",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.bundle.item_assignment": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Item Assignment resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "bundle_sid": {
            "description": "The unique string that we created to identify the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BU[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "object_sid": {
            "description": "The SID of an object bag that holds information of the different items.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^[a-zA-Z]{2}[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Item Assignment resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BV[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Identity resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.bundle.replace_items": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "email": {
            "description": "The email address that will receive updates when the Bundle resource changes status.",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "regulation_sid": {
            "description": "The unique string of a regulation that is associated to the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^RN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Bundle resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BU[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/replace_items_enum_status",
            "description": "The verification status of the Bundle resource.",
            "nullable": true,
            "type": "string"
          },
          "status_callback": {
            "description": "The URL we call to inform your application of status changes.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "valid_until": {
            "description": "The date and time in GMT in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format when the resource will be valid until.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.end_user": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the End User resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "attributes": {
            "description": "The set of parameters that are the attributes of the End Users resource which are listed in the End User Types.",
            "nullable": true
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string created by Twilio to identify the End User resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IT[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/end_user_enum_type",
            "description": "The type of end user of the Bundle resource - can be `individual` or `business`.",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the End User resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.end_user_type": {
        "properties": {
          "fields": {
            "description": "The required information for creating an End-User. The required fields will change as regulatory needs change and will differ for businesses and individuals.",
            "items": {},
            "nullable": true,
            "type": "array"
          },
          "friendly_name": {
            "description": "A human-readable description that is assigned to describe the End-User Type resource. Examples can include first name, last name, email, business name, etc",
            "nullable": true,
            "type": "string"
          },
          "machine_name": {
            "description": "A machine-readable description of the End-User Type resource. Examples can include first_name, last_name, email, business_name, etc.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that identifies the End-User Type resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^OY[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the End-User Type resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.regulation": {
        "properties": {
          "end_user_type": {
            "$ref": "#/components/schemas/regulation_enum_end_user_type",
            "description": "The type of End User the regulation requires - can be `individual` or `business`.",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "A human-readable description that is assigned to describe the Regulation resource. Examples can include Germany: Mobile - Business.",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The ISO country code of the phone number's country.",
            "nullable": true,
            "type": "string"
          },
          "number_type": {
            "description": "The type of phone number restricted by the regulatory requirement. For example, Germany mobile phone numbers provisioned by businesses require a business name with commercial register proof from the Handelsregisterauszug and a proof of address from Handelsregisterauszug or a trade license by Gewerbeanmeldung.",
            "nullable": true,
            "type": "string"
          },
          "requirements": {
            "description": "The SID of an object that holds the regulatory information of the phone number country, phone number type, and end user type.",
            "nullable": true
          },
          "sid": {
            "description": "The unique string that identifies the Regulation resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^RN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Regulation resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.supporting_document": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Document resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "attributes": {
            "description": "The set of parameters that are the attributes of the Supporting Documents resource which are listed in the Supporting Document Types.",
            "nullable": true
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "failure_reason": {
            "description": "The failure reason of the Supporting Document Resource.",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "mime_type": {
            "description": "The image type uploaded in the Supporting Document container.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string created by Twilio to identify the Supporting Document resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^RD[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/supporting_document_enum_status",
            "description": "The verification status of the Supporting Document resource.",
            "nullable": true,
            "type": "string"
          },
          "type": {
            "description": "The type of the Supporting Document.",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Supporting Document resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "numbers.v2.regulatory_compliance.supporting_document_type": {
        "properties": {
          "fields": {
            "description": "The required information for creating a Supporting Document. The required fields will change as regulatory needs change and will differ for businesses and individuals.",
            "items": {},
            "nullable": true,
            "type": "array"
          },
          "friendly_name": {
            "description": "A human-readable description of the Supporting Document Type resource.",
            "nullable": true,
            "type": "string"
          },
          "machine_name": {
            "description": "The machine-readable description of the Supporting Document Type resource.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that identifies the Supporting Document Type resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^OY[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Supporting Document Type resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "regulation_enum_end_user_type": {
        "enum": [
          "individual",
          "business"
        ],
        "type": "string"
      },
      "replace_items_enum_end_user_type": {
        "enum": [
          "individual",
          "business"
        ],
        "type": "string"
      },
      "replace_items_enum_status": {
        "enum": [
          "draft",
          "pending-review",
          "in-review",
          "twilio-rejected",
          "twilio-approved",
          "provisionally-approved"
        ],
        "type": "string"
      },
      "supporting_document_enum_status": {
        "enum": [
          "draft",
          "pending-review",
          "rejected",
          "approved",
          "expired",
          "provisionally-approved"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "x-maturity": [
    {
      "description": "This product is Generally Available.",
      "name": "GA"
    },
    {
      "description": "PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.",
      "name": "Beta"
    }
  ]
}