swagger: '2.0'
schemes:
  - https
  - http
host: runtime.sagemaker.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: ' The Amazon SageMaker runtime API. '
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon SageMaker Runtime
  version: '2017-05-13'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/runtime.sagemaker-2017-05-13.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: runtime.sagemaker
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/sagemaker/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/endpoints/{EndpointName}/invocations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>After you deploy a model into production using Amazon SageMaker hosting services, your client applications use this API to get inferences from the model hosted at the specified endpoint. </p> <p>For an overview of Amazon SageMaker, see <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html">How It Works</a>. </p> <p>Amazon SageMaker strips all POST headers except those supported by the API. Amazon SageMaker might add additional headers. You should not rely on the behavior of headers outside those enumerated in the request syntax. </p> <p>Cals to <code>InvokeEndpoint</code> are authenticated by using AWS Signature Version 4. For information, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests (AWS Signature Version 4)</a> in the <i>Amazon S3 API Reference</i>.</p> <note> <p>Endpoints are scoped to an individual account, and are not public. The URL does not contain the account ID, but Amazon SageMaker determines the account ID from the authentication token that is supplied by the caller.</p> </note>'
      operationId: InvokeEndpoint
      parameters:
        - description: 'The name of the endpoint that you specified when you created the endpoint using the <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html">CreateEndpoint</a> API. '
          in: path
          maxLength: 63
          name: EndpointName
          pattern: '^[a-zA-Z0-9](-*[a-zA-Z0-9])*'
          required: true
          type: string
        - description: The MIME type of the input data in the request body.
          in: header
          maxLength: 1024
          name: Content-Type
          required: false
          type: string
        - description: The desired MIME type of the inference in the response.
          in: header
          maxLength: 1024
          name: Accept
          required: false
          type: string
        - description: <p/>
          format: password
          in: header
          maxLength: 1024
          name: X-Amzn-SageMaker-Custom-Attributes
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Body:
                description: '<p>Provides input data, in the format specified in the <code>ContentType</code> request header. Amazon SageMaker passes all of the data in the body to the model. </p> <p>For information about the format of the request body, see <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html">Common Data Formats—Inference</a>.</p>'
                format: password
                maxLength: 5242880
                type: string
            required:
              - Body
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvokeEndpointOutput'
        '480':
          description: InternalFailure
          schema:
            $ref: '#/definitions/InternalFailure'
        '481':
          description: ServiceUnavailable
          schema:
            $ref: '#/definitions/ServiceUnavailable'
        '482':
          description: ValidationError
          schema:
            $ref: '#/definitions/ValidationError'
        '483':
          description: ModelError
          schema:
            $ref: '#/definitions/ModelError'
definitions:
  BodyBlob:
    format: password
    maxLength: 5242880
    type: string
  CustomAttributesHeader:
    format: password
    maxLength: 1024
    type: string
  EndpointName:
    maxLength: 63
    pattern: '^[a-zA-Z0-9](-*[a-zA-Z0-9])*'
    type: string
  Header:
    maxLength: 1024
    type: string
  InternalFailure: {}
  InvokeEndpointInput:
    properties:
      Body:
        $ref: '#/definitions/BodyBlob'
        description: '<p>Provides input data, in the format specified in the <code>ContentType</code> request header. Amazon SageMaker passes all of the data in the body to the model. </p> <p>For information about the format of the request body, see <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html">Common Data Formats—Inference</a>.</p>'
    required:
      - Body
    type: object
  InvokeEndpointOutput:
    properties:
      Body:
        $ref: '#/definitions/BodyBlob'
        description: '<p>Includes the inference provided by the model.</p> <p>For information about the format of the response body, see <a href="http://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html">Common Data Formats—Inference</a>.</p>'
    required:
      - Body
    type: object
  ModelError: {}
  ServiceUnavailable: {}
  ValidationError: {}
x-servers:
  - description: The Amazon SageMaker Runtime multi-region endpoint
    url: 'http://runtime.sagemaker.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon SageMaker Runtime multi-region endpoint
    url: 'https://runtime.sagemaker.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon SageMaker Runtime endpoint for China (Beijing) and China (Ningxia)
    url: 'http://runtime.sagemaker.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Amazon SageMaker Runtime endpoint for China (Beijing) and China (Ningxia)
    url: 'https://runtime.sagemaker.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
