swagger: '2.0'
info:
  version: '2017-05-13'
  x-release: v4
  title: Amazon SageMaker Runtime
  description: ' The Amazon SageMaker runtime API. '
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: runtime.sagemaker
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/runtime.sagemaker-2017-05-13.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/sagemaker/'
host: runtime.sagemaker.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://runtime.sagemaker.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon SageMaker Runtime multi-region endpoint
  - url: 'https://runtime.sagemaker.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon SageMaker Runtime multi-region endpoint
  - url: 'http://runtime.sagemaker.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon SageMaker Runtime endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://runtime.sagemaker.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon SageMaker Runtime endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/endpoints/{EndpointName}/invocations':
    post:
      operationId: InvokeEndpoint
      description: '<p>After you deploy a model into production using Amazon SageMaker hosting services, your client applications use this API to get inferences from the model hosted at the specified endpoint. </p> <p>For an overview of Amazon SageMaker, see <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html">How It Works</a>. </p> <p>Amazon SageMaker strips all POST headers except those supported by the API. Amazon SageMaker might add additional headers. You should not rely on the behavior of headers outside those enumerated in the request syntax. </p> <p>Calls to <code>InvokeEndpoint</code> are authenticated by using AWS Signature Version 4. For information, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests (AWS Signature Version 4)</a> in the <i>Amazon S3 API Reference</i>.</p> <p>A customer''s model containers must respond to requests within 60 seconds. The model itself can have a maximum processing time of 60 seconds before responding to the /invocations. If your model is going to take 50-60 seconds of processing time, the SDK socket timeout should be set to be 70 seconds.</p> <note> <p>Endpoints are scoped to an individual account, and are not public. The URL does not contain the account ID, but Amazon SageMaker determines the account ID from the authentication token that is supplied by the caller.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvokeEndpointOutput'
        '480':
          description: InternalFailure
          schema:
            $ref: '#/definitions/InternalFailure'
        '481':
          description: ServiceUnavailable
          schema:
            $ref: '#/definitions/ServiceUnavailable'
        '482':
          description: ValidationError
          schema:
            $ref: '#/definitions/ValidationError'
        '483':
          description: ModelError
          schema:
            $ref: '#/definitions/ModelError'
      parameters:
        - name: EndpointName
          in: path
          required: true
          description: 'The name of the endpoint that you specified when you created the endpoint using the <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/API_CreateEndpoint.html">CreateEndpoint</a> API. '
          type: string
          pattern: '^[a-zA-Z0-9](-*[a-zA-Z0-9])*'
          maxLength: 63
        - name: Content-Type
          in: header
          required: false
          description: The MIME type of the input data in the request body.
          type: string
          pattern: '\p{ASCII}*'
          maxLength: 1024
        - name: Accept
          in: header
          required: false
          description: The desired MIME type of the inference in the response.
          type: string
          pattern: '\p{ASCII}*'
          maxLength: 1024
        - name: X-Amzn-SageMaker-Custom-Attributes
          in: header
          required: false
          description: 'Provides additional information about a request for an inference submitted to a model hosted at an Amazon SageMaker endpoint. The information is an opaque value that is forwarded verbatim. You could use this value, for example, to provide an ID that you can use to track a request or to provide other metadata that a service endpoint was programmed to process. The value must consist of no more than 1024 visible US-ASCII characters as specified in <a href="https://tools.ietf.org/html/rfc7230#section-3.2.6">Section 3.3.6. Field Value Components</a> of the Hypertext Transfer Protocol (HTTP/1.1). This feature is currently supported in the AWS SDKs but not in the Amazon SageMaker Python SDK.'
          type: string
          pattern: '\p{ASCII}*'
          maxLength: 1024
          format: password
        - name: X-Amzn-SageMaker-Target-Model
          in: header
          required: false
          description: 'Specifies the model to be requested for an inference when invoking a multi-model endpoint. '
          type: string
          pattern: '\A\S[\p{Print}]*\z'
          minLength: 1
          maxLength: 1024
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Body
            properties:
              Body:
                description: '<p>Provides input data, in the format specified in the <code>ContentType</code> request header. Amazon SageMaker passes all of the data in the body to the model. </p> <p>For information about the format of the request body, see <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html">Common Data Formats—Inference</a>.</p>'
                type: string
                maxLength: 5242880
                format: password
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  InvokeEndpointOutput:
    type: object
    required:
      - Body
    properties:
      Body:
        $ref: '#/definitions/BodyBlob'
        description: '<p>Includes the inference provided by the model.</p> <p>For information about the format of the response body, see <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html">Common Data Formats—Inference</a>.</p>'
  InternalFailure: {}
  ServiceUnavailable: {}
  ValidationError: {}
  ModelError: {}
  BodyBlob:
    type: string
    maxLength: 5242880
    format: password
  CustomAttributesHeader:
    type: string
    pattern: '\p{ASCII}*'
    maxLength: 1024
    format: password
  EndpointName:
    type: string
    pattern: '^[a-zA-Z0-9](-*[a-zA-Z0-9])*'
    maxLength: 63
  Header:
    type: string
    pattern: '\p{ASCII}*'
    maxLength: 1024
  TargetModelHeader:
    type: string
    pattern: '\A\S[\p{Print}]*\z'
    minLength: 1
    maxLength: 1024
  InvokeEndpointInput:
    type: object
    required:
      - Body
    properties:
      Body:
        $ref: '#/definitions/BodyBlob'
        description: '<p>Provides input data, in the format specified in the <code>ContentType</code> request header. Amazon SageMaker passes all of the data in the body to the model. </p> <p>For information about the format of the request body, see <a href="https://docs.aws.amazon.com/sagemaker/latest/dg/cdf-inference.html">Common Data Formats—Inference</a>.</p>'
