swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/automation/resource-manager/Microsoft.Automation/2015-10-31/jobSchedule.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: automation-jobSchedule
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters: {}
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules':
    get:
      description: Retrieve a list of job schedules.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      operationId: JobSchedule_ListByAutomationAccount
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the list job schedule operation.
            properties:
              nextLink:
                description: Gets or sets the next link.
                type: string
              value:
                description: Gets or sets a list of job schedules.
                items:
                  description: Definition of the job schedule.
                  properties:
                    id:
                      description: Gets or sets the id of the resource.
                      type: string
                    properties:
                      description: Definition of job schedule parameters.
                      properties:
                        jobScheduleId:
                          description: Gets or sets the id of job schedule.
                          type: string
                        parameters:
                          additionalProperties:
                            type: string
                          description: Gets or sets the parameters of the job schedule.
                          type: object
                        runOn:
                          description: Gets or sets the hybrid worker group that the scheduled job should run on.
                          type: string
                        runbook:
                          description: The runbook property associated with the entity.
                          properties:
                            name:
                              description: Gets or sets the name of the runbook.
                              type: string
                        schedule:
                          description: The schedule property associated with the entity.
                          properties:
                            name:
                              description: Gets or sets the name of the schedule.
                              type: string
                type: array
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobSchedule
      x-ms-examples:
        List all job schedules by automation account:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/2f4d8f35-ecd5-44ee-a019-2382fec58fb7
                    properties:
                      jobScheduleId: 2f4d8f35-ecd5-44ee-a019-2382fec58fb7
                      parameters: null
                      runOn: null
                      runbook:
                        name: TestRunbook
                      schedule:
                        name: JobScheduleforTestRunbook
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/446f7a33-86ff-45a1-b71c-f998f701b443
                    properties:
                      jobScheduleId: 446f7a33-86ff-45a1-b71c-f998f701b443
                      parameters: null
                      runOn: null
                      runbook:
                        name: TestRunbook
                      schedule:
                        name: TestSchedule
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                    properties:
                      jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                      parameters: null
                      runOn: null
                      runbook:
                        name: TestRunbook
                      schedule:
                        name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}':
    delete:
      description: Delete the job schedule identified by job schedule name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      operationId: JobSchedule_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The job schedule name.
          format: uuid
          in: path
          name: jobScheduleId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobSchedule
      x-ms-examples:
        Delete a job schedule:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200': {}
    get:
      description: Retrieve the job schedule identified by job schedule name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      operationId: JobSchedule_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The job schedule name.
          format: uuid
          in: path
          name: jobScheduleId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the job schedule.
            properties:
              id:
                description: Gets or sets the id of the resource.
                type: string
              properties:
                description: Definition of job schedule parameters.
                properties:
                  jobScheduleId:
                    description: Gets or sets the id of job schedule.
                    type: string
                  parameters:
                    additionalProperties:
                      type: string
                    description: Gets or sets the parameters of the job schedule.
                    type: object
                  runOn:
                    description: Gets or sets the hybrid worker group that the scheduled job should run on.
                    type: string
                  runbook:
                    description: The runbook property associated with the entity.
                    properties:
                      name:
                        description: Gets or sets the name of the runbook.
                        type: string
                  schedule:
                    description: The schedule property associated with the entity.
                    properties:
                      name:
                        description: Gets or sets the name of the schedule.
                        type: string
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobSchedule
      x-ms-examples:
        Get a job schedule:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                properties:
                  jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                  parameters:
                    jobscheduletag01: jobschedulevalue01
                    jobscheduletag02: jobschedulevalue02
                  runOn: null
                  runbook:
                    name: TestRunbook
                  schedule:
                    name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
              headers: {}
    put:
      description: Create a job schedule.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobscheduleoperations'
      operationId: JobSchedule_Create
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The job schedule name.
          format: uuid
          in: path
          name: jobScheduleId
          required: true
          type: string
        - description: The parameters supplied to the create job schedule operation.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the create job schedule operation.
            properties:
              properties:
                description: The parameters supplied to the create job schedule operation.
                properties:
                  parameters:
                    additionalProperties:
                      type: string
                    description: Gets or sets a list of job properties.
                    type: object
                  runOn:
                    description: Gets or sets the hybrid worker group that the scheduled job should run on.
                    type: string
                  runbook:
                    description: The runbook property associated with the entity.
                    properties:
                      name:
                        description: Gets or sets the name of the runbook.
                        type: string
                  schedule:
                    description: The schedule property associated with the entity.
                    properties:
                      name:
                        description: Gets or sets the name of the schedule.
                        type: string
                required:
                  - schedule
                  - runbook
            required:
              - properties
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            description: Definition of the job schedule.
            properties:
              id:
                description: Gets or sets the id of the resource.
                type: string
              properties:
                description: Definition of job schedule parameters.
                properties:
                  jobScheduleId:
                    description: Gets or sets the id of job schedule.
                    type: string
                  parameters:
                    additionalProperties:
                      type: string
                    description: Gets or sets the parameters of the job schedule.
                    type: object
                  runOn:
                    description: Gets or sets the hybrid worker group that the scheduled job should run on.
                    type: string
                  runbook:
                    description: The runbook property associated with the entity.
                    properties:
                      name:
                        description: Gets or sets the name of the runbook.
                        type: string
                  schedule:
                    description: The schedule property associated with the entity.
                    properties:
                      name:
                        description: Gets or sets the name of the schedule.
                        type: string
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobSchedule
      x-ms-examples:
        Create a job schedule:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
            parameters:
              properties:
                parameters:
                  jobscheduletag01: jobschedulevalue01
                  jobscheduletag02: jobschedulevalue02
                runbook:
                  name: TestRunbook
                schedule:
                  name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                properties:
                  jobScheduleId: 0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc
                  parameters:
                    jobscheduletag01: jobschedulevalue01
                    jobscheduletag02: jobschedulevalue02
                  runOn: null
                  runbook:
                    name: TestRunbook
                  schedule:
                    name: ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2
              headers: {}
definitions: {}
