openapi: 3.0.0
servers:
  - url: 'https://firebasedynamiclinks.googleapis.com/'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Programmatically creates and manages Firebase Dynamic Links.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Firebase Dynamic Links
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://firebasedynamiclinks.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: firebasedynamiclinks
externalDocs:
  url: 'https://firebase.google.com/docs/dynamic-links/'
tags:
  - name: shortLinks
  - name: v1
paths:
  /v1/shortLinks:
    parameters:
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/bearer_token'
    post:
      description: |-
        Creates a short Dynamic Link given either a valid long Dynamic Link or
        details such as Dynamic Link domain, Android and iOS app information.
        The created short Dynamic Link will not expire.

        Repeated calls with the same long Dynamic Link or Dynamic Link information
        will produce the same short Dynamic Link.

        The Dynamic Link domain in the request must be owned by requester's
        Firebase project.
      operationId: firebasedynamiclinks.shortLinks.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateShortDynamicLinkResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - shortLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShortDynamicLinkRequest'
  '/v1/{dynamicLink}/linkStats':
    get:
      description: |-
        Fetches analytics stats of a short Dynamic Link for a given
        duration. Metrics include number of clicks, redirects, installs,
        app first opens, and app reopens.
      operationId: firebasedynamiclinks.getLinkStats
      parameters:
        - description: The span of time requested in days.
          in: query
          name: durationDays
          schema:
            type: string
        - description: 'Dynamic Link URL. e.g. https://abcd.app.goo.gl/wxyz'
          in: path
          name: dynamicLink
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DynamicLinkStats'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/firebase'
          Oauth2c:
            - 'https://www.googleapis.com/auth/firebase'
      tags:
        - v1
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/upload_protocol'
components:
  schemas:
    AnalyticsInfo:
      description: Tracking parameters supported by Dynamic Link.
      properties:
        googlePlayAnalytics:
          $ref: '#/components/schemas/GooglePlayAnalytics'
        itunesConnectAnalytics:
          $ref: '#/components/schemas/ITunesConnectAnalytics'
      type: object
    AndroidInfo:
      description: Android related attributes to the Dynamic Link.
      properties:
        androidFallbackLink:
          description: Link to open on Android if the app is not installed.
          type: string
        androidLink:
          description: 'If specified, this overrides the ‘link’ parameter on Android.'
          type: string
        androidMinPackageVersionCode:
          description: |-
            Minimum version code for the Android app. If the installed app’s version
            code is lower, then the user is taken to the Play Store.
          type: string
        androidPackageName:
          description: Android package name of the app.
          type: string
      type: object
    CreateShortDynamicLinkRequest:
      description: Request to create a short Dynamic Link.
      properties:
        dynamicLinkInfo:
          $ref: '#/components/schemas/DynamicLinkInfo'
        longDynamicLink:
          description: |-
            Full long Dynamic Link URL with desired query parameters specified.
            For example,
            "https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample",
            [Learn more](https://firebase.google.com/docs/dynamic-links/android#create-a-dynamic-link-programmatically).
          type: string
        suffix:
          $ref: '#/components/schemas/Suffix'
      type: object
    CreateShortDynamicLinkResponse:
      description: Response to create a short Dynamic Link.
      properties:
        previewLink:
          description: Preivew link to show the link flow chart.
          type: string
        shortLink:
          description: 'Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz'
          type: string
        warning:
          description: Information about potential warnings on link creation.
          items:
            $ref: '#/components/schemas/DynamicLinkWarning'
          type: array
      type: object
    DynamicLinkEventStat:
      description: Dynamic Link event stat.
      properties:
        count:
          description: The number of times this event occurred.
          format: int64
          type: string
        event:
          description: Link event.
          enum:
            - DYNAMIC_LINK_EVENT_UNSPECIFIED
            - CLICK
            - REDIRECT
            - APP_INSTALL
            - APP_FIRST_OPEN
            - APP_RE_OPEN
          type: string
        platform:
          description: Requested platform.
          enum:
            - DYNAMIC_LINK_PLATFORM_UNSPECIFIED
            - ANDROID
            - IOS
            - DESKTOP
          type: string
      type: object
    DynamicLinkInfo:
      description: Information about a Dynamic Link.
      properties:
        analyticsInfo:
          $ref: '#/components/schemas/AnalyticsInfo'
        androidInfo:
          $ref: '#/components/schemas/AndroidInfo'
        dynamicLinkDomain:
          description: |-
            Dynamic Links domain that the project owns, e.g. abcd.app.goo.gl
            [Learn more](https://firebase.google.com/docs/dynamic-links/android/receive)
            on how to set up Dynamic Link domain associated with your Firebase project.

            Required.
          type: string
        iosInfo:
          $ref: '#/components/schemas/IosInfo'
        link:
          description: |-
            The link your app will open, You can specify any URL your app can handle.
            This link must be a well-formatted URL, be properly URL-encoded, and use
            the HTTP or HTTPS scheme. See 'link' parameters in the
            [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).

            Required.
          type: string
        navigationInfo:
          $ref: '#/components/schemas/NavigationInfo'
        socialMetaTagInfo:
          $ref: '#/components/schemas/SocialMetaTagInfo'
      type: object
    DynamicLinkStats:
      description: Analytics stats of a Dynamic Link for a given timeframe.
      properties:
        linkEventStats:
          description: Dynamic Link event stats.
          items:
            $ref: '#/components/schemas/DynamicLinkEventStat'
          type: array
      type: object
    DynamicLinkWarning:
      description: Dynamic Links warning messages.
      properties:
        warningCode:
          description: The warning code.
          enum:
            - CODE_UNSPECIFIED
            - NOT_IN_PROJECT_ANDROID_PACKAGE_NAME
            - NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION
            - UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION
            - NOT_URI_ANDROID_LINK
            - UNNECESSARY_ANDROID_LINK
            - NOT_URI_ANDROID_FALLBACK_LINK
            - BAD_URI_SCHEME_ANDROID_FALLBACK_LINK
            - NOT_IN_PROJECT_IOS_BUNDLE_ID
            - NOT_IN_PROJECT_IPAD_BUNDLE_ID
            - UNNECESSARY_IOS_URL_SCHEME
            - NOT_NUMERIC_IOS_APP_STORE_ID
            - UNNECESSARY_IOS_APP_STORE_ID
            - NOT_URI_IOS_FALLBACK_LINK
            - BAD_URI_SCHEME_IOS_FALLBACK_LINK
            - NOT_URI_IPAD_FALLBACK_LINK
            - BAD_URI_SCHEME_IPAD_FALLBACK_LINK
            - BAD_DEBUG_PARAM
            - BAD_AD_PARAM
            - DEPRECATED_PARAM
            - UNRECOGNIZED_PARAM
            - TOO_LONG_PARAM
            - NOT_URI_SOCIAL_IMAGE_LINK
            - BAD_URI_SCHEME_SOCIAL_IMAGE_LINK
            - NOT_URI_SOCIAL_URL
            - BAD_URI_SCHEME_SOCIAL_URL
            - LINK_LENGTH_TOO_LONG
            - LINK_WITH_FRAGMENTS
            - NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID
          type: string
        warningMessage:
          description: The warning message to help developers improve their requests.
          type: string
      type: object
    GooglePlayAnalytics:
      description: |-
        Parameters for Google Play Campaign Measurements.
        [Learn more](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns#campaign-params)
      properties:
        gclid:
          description: |-
            [AdWords autotagging parameter](https://support.google.com/analytics/answer/1033981?hl=en);
            used to measure Google AdWords ads. This value is generated dynamically
            and should never be modified.
          type: string
        utmCampaign:
          description: |-
            Campaign name; used for keyword analysis to identify a specific product
            promotion or strategic campaign.
          type: string
        utmContent:
          description: |-
            Campaign content; used for A/B testing and content-targeted ads to
            differentiate ads or links that point to the same URL.
          type: string
        utmMedium:
          description: Campaign medium; used to identify a medium such as email or cost-per-click.
          type: string
        utmSource:
          description: |-
            Campaign source; used to identify a search engine, newsletter, or other
            source.
          type: string
        utmTerm:
          description: Campaign term; used with paid search to supply the keywords for ads.
          type: string
      type: object
    ITunesConnectAnalytics:
      description: Parameters for iTunes Connect App Analytics.
      properties:
        at:
          description: Affiliate token used to create affiliate-coded links.
          type: string
        ct:
          description: |-
            Campaign text that developers can optionally add to any link in order to
            track sales from a specific marketing campaign.
          type: string
        mt:
          description: 'iTune media types, including music, podcasts, audiobooks and so on.'
          type: string
        pt:
          description: |-
            Provider token that enables analytics for Dynamic Links from within iTunes
            Connect.
          type: string
      type: object
    IosInfo:
      description: iOS related attributes to the Dynamic Link..
      properties:
        iosAppStoreId:
          description: iOS App Store ID.
          type: string
        iosBundleId:
          description: iOS bundle ID of the app.
          type: string
        iosCustomScheme:
          description: |-
            Custom (destination) scheme to use for iOS. By default, we’ll use the
            bundle ID as the custom scheme. Developer can override this behavior using
            this param.
          type: string
        iosFallbackLink:
          description: Link to open on iOS if the app is not installed.
          type: string
        iosIpadBundleId:
          description: iPad bundle ID of the app.
          type: string
        iosIpadFallbackLink:
          description: 'If specified, this overrides the ios_fallback_link value on iPads.'
          type: string
      type: object
    NavigationInfo:
      description: Information of navigation behavior.
      properties:
        enableForcedRedirect:
          description: |-
            If this option is on, FDL click will be forced to redirect rather than
            show an interstitial page.
          type: boolean
      type: object
    SocialMetaTagInfo:
      description: |-
        Parameters for social meta tag params.
        Used to set meta tag data for link previews on social sites.
      properties:
        socialDescription:
          description: A short description of the link. Optional.
          type: string
        socialImageLink:
          description: An image url string. Optional.
          type: string
        socialTitle:
          description: Title to be displayed. Optional.
          type: string
      type: object
    Suffix:
      description: Short Dynamic Link suffix.
      properties:
        option:
          description: Suffix option.
          enum:
            - OPTION_UNSPECIFIED
            - UNGUESSABLE
            - SHORT
          type: string
      type: object
  parameters:
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
        default: json
    bearer_token:
      description: OAuth bearer token.
      in: query
      name: bearer_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    pp:
      description: Pretty-print response.
      in: query
      name: pp
      schema:
        type: boolean
        default: true
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
        default: true
    quotaUser:
      description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/firebase': View and administer all your Firebase data and settings
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          tokenUrl: 'https://accounts.google.com/o/oauth2/token'
          scopes:
            'https://www.googleapis.com/auth/firebase': View and administer all your Firebase data and settings
