openapi: 3.0.1
servers:
  - description: BKK FUTÁR
    url: https://futar.bkk.hu/api/query/v1/ws
info:
  description: Specification for the realCity Query Server API.
  title: realCity Query Server API
  version: 1.0.1
  x-apisguru-categories:
    - transport
  x-logo:
    url: https://bkk.hu/static/cache/web/bkk/img/logo.svg
  x-origin:
    - format: openapi
      url: https://opendata.bkk.hu/docs/futar-openapi.yaml
      version: "3.0"
  x-providerName: bkk.hu
security:
  - ApiKeyQuery: []
paths:
  "/{dialect}/api/where/alert-search":
    get:
      operationId: searchAlerts
      parameters:
        - description: A keresési feltétel, amit a zavar fejlécével, leírásával, vagy azonosítójával illesztünk.
          example: BKK_bkkinfo-75694
          in: query
          name: query
          schema:
            type: string
        - description: A keresés időintervallumának eleje epoch másodpercben.
          example: 1625695260
          in: query
          name: start
          schema:
            format: int64
            type: integer
        - description: A keresési időintervallum vége epoch másodpercben.
          example: 1625695260
          in: query
          name: end
          schema:
            format: int64
            type: integer
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            default: 5
            format: int32
            type: integer
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertSearchMethodResponse"
          description: Visszatér a `query` paraméterben megadott keresési feltételnek megfelelő zavarokkal, amik aktívak a megadott időintervallumnban.
  "/{dialect}/api/where/arrivals-and-departures-for-location":
    get:
      operationId: getArrivalsAndDeparturesForLocation
      parameters:
        - description: Menetrendi adatok maximális száma egy csoportban.
          example: 2
          in: query
          name: groupLimit
          schema:
            default: 4
            format: int32
            type: integer
        - description: A kliens hosszúsági koordinátája.
          example: 19.049086
          in: query
          name: clientLon
          schema:
            default: 0
            format: double
            type: number
        - description: A kliens szélességi koordinátája.
          example: 47.47375
          in: query
          name: clientLat
          schema:
            default: 0
            format: double
            type: number
        - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel indul.
          example: 2
          in: query
          name: minutesBefore
          schema:
            default: 2
            format: int32
            type: integer
        - description: A lekérdezési időablak a `time` paraméter után ennyi perccel ér véget.
          example: 30
          in: query
          name: minutesAfter
          schema:
            default: 30
            format: int32
            type: integer
        - description: A megállók azonosítóinak listája, amelyekhez a lekérést végezzük.
          example: BKK_F01029,BKK_F01029
          in: query
          name: stopId
          schema:
            items:
              type: string
            type: array
        - description: A válasz szűrésére használt járatok azonosítóinak listája.
          example: BKK_VP06,BKK_0090
          in: query
          name: includeRouteId
          schema:
            items:
              type: string
            type: array
        - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten az aktuális szerveridő.
          example: 1625740980
          in: query
          name: time
          schema:
            format: int64
            type: integer
        - description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők nem szerepelnek a válaszban.
          example: false
          in: query
          name: onlyDepartures
          schema:
            default: true
            type: boolean
        - description: A visszaadott indulási és érkezési idők listájának maximális hossza.
          example: 60
          in: query
          name: limit
          schema:
            default: 60
            format: int32
            type: integer
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            format: float
            type: number
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            format: float
            type: number
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            format: float
            type: number
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            default: 100
            format: int32
            type: integer
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            default: 5
            format: int32
            type: integer
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrivalsAndDeparturesForLocationOTPMethodResponse"
          description: Visszaadja egy területhez tartozó érkezési és indulási időket járatazonosítók és célállomások szerint csoportosítva.
  "/{dialect}/api/where/arrivals-and-departures-for-stop":
    get:
      operationId: getArrivalsAndDeparturesForStop
      parameters:
        - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel indul.
          example: 2
          in: query
          name: minutesBefore
          schema:
            default: 2
            format: int32
            type: integer
        - description: A lekérdezési időablak a `time` paraméter után ennyi perccel ér véget.
          example: 30
          in: query
          name: minutesAfter
          schema:
            default: 30
            format: int32
            type: integer
        - description: A megállók azonosítóinak listája, amelyekhez a lekérést végezzük.
          example: BKK_F01029,BKK_F01029
          in: query
          name: stopId
          schema:
            items:
              type: string
            type: array
        - description: A válasz szűrésére használt járatok azonosítóinak listája.
          example: BKK_VP06,BKK_0090
          in: query
          name: includeRouteId
          schema:
            items:
              type: string
            type: array
        - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten az aktuális szerveridő.
          example: 1625740980
          in: query
          name: time
          schema:
            format: int64
            type: integer
        - description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők nem szerepelnek a válaszban.
          example: false
          in: query
          name: onlyDepartures
          schema:
            default: true
            type: boolean
        - description: A visszaadott indulási és érkezési idők listájának maximális hossza.
          example: 60
          in: query
          name: limit
          schema:
            default: 60
            format: int32
            type: integer
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            format: float
            type: number
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            format: float
            type: number
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            format: float
            type: number
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            default: 100
            format: int32
            type: integer
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            default: 5
            format: int32
            type: integer
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrivalsAndDeparturesForStopOTPMethodResponse"
          description: Lekéri a megállóhoz tartozó érkezési és indulási időket.
  "/{dialect}/api/where/bicycle-rental":
    get:
      operationId: getBicycleRentalStations
      parameters:
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BicycleRentalMethodResponse"
          description: Visszatér az összes kerékpárkölcsönző állomással.
  "/{dialect}/api/where/booking-redirect":
    get:
      operationId: bookingRedirect
      parameters:
        - description: A járat azonosítója.
          example: BKK_0650
          in: query
          name: routeId
          schema:
            type: string
        - description: A járat íránya.
          example: 1
          in: query
          name: directionId
          schema:
            type: string
        - description: A menet azonosítója.
          example: BKK_ADF5443
          in: query
          name: tripId
          schema:
            type: string
        - description: A menet üzem napja.
          example: 20220130
          in: query
          name: serviceDate
          schema:
            type: string
        - description: A felszállási megálló azonosítója.
          example: BKK_064215
          in: query
          name: boardStopId
          schema:
            type: string
        - description: A leszállási megálló azonosítója.
          example: BKK_064215
          in: query
          name: alightStopId
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
      responses:
        "302":
          description: Átírányit a foglalási oldalra.
  "/{dialect}/api/where/metadata":
    get:
      operationId: getMetadata
      parameters:
        - description: A lekérés kiértékelésének időpontja epoch másodpercben (az aktív zavarok lekéréséhez szükséges).A szerver ideje az alapértelmezett értéke.
          example: 1625666578
          in: query
          name: time
          schema:
            format: int64
            type: integer
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataResponse"
          description: A szerver metaadataival tér vissza.
  "/{dialect}/api/where/multi-route-details":
    get:
      operationId: getMultiRouteDetails
      parameters:
        - description: A lekért járatok azonosítói.
          example: BKK_3040,BKK_3060
          in: query
          name: routeId
          required: true
          schema:
            items:
              type: string
            type: array
        - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett értéke az aktuális nap.
          example: 20210707
          in: query
          name: date
          schema:
            type: string
        - description: Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is szerepelnek a válaszban.
          example: false
          in: query
          name: related
          schema:
            default: false
            type: boolean
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiRouteDetailsMethodResponse"
          description: Az összes járatot visszaadja a megadott azonosítókhoz.
        "400":
          description: A `date` paramétert nem sikerült beolvasni.
        "404":
          description: Ismeretlen járat azonosító.
  "/{dialect}/api/where/onboard-depart-search":
    post:
      operationId: searchForOnboardDepartVehicles
      parameters:
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/OnboardDepartPosition"
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardDepartSearchMethodResponse"
          description: Visszatér az utas útvonalára illeszkedő járművekkel.
  "/{dialect}/api/where/plan-access":
    get:
      operationId: planAccess
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
        - description: A dátum, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: 2021-07-09
          in: query
          name: date
          schema:
            type: string
        - description: Az idő, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: 11:35
          in: query
          name: time
          schema:
            type: string
        - description: Az indulási hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv kiindulási pontjának lesz a neve (`leg.from.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: BKK Központi Ügyfélszolgálat::47.4985022,19.0551266
          in: query
          name: fromPlace
          required: true
          schema:
            type: string
        - description: Az érkezési hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv érkezési pontjának lesz a neve (`leg.to.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: Mechwart liget::BKK:CSF00195
          in: query
          name: toPlace
          required: true
          schema:
            type: string
        - description: A tervező milyen közlekedési módokat használjon. A kerékpár kölcsönzés a `BICYCLE,WALK` paraméterekkel kapcsolható be.
          example: TRANSIT,WALK
          explode: false
          in: query
          name: mode
          required: true
          schema:
            items:
              $ref: "#/components/schemas/TraverseMode"
            type: array
          style: form
        - description: Az első járműre szállás előtt történjen-e jegyvásárlás.
          example: true
          in: query
          name: shouldBuyTickets
          schema:
            type: boolean
        - description: A válasz tartalmazza-e a járatok által érintett köztes megállókat is.
          example: true
          in: query
          name: showIntermediateStops
          schema:
            type: boolean
        - description: Érkezési időre tervezzünk-e a megadott `date` és `time` paraméterrel.
          example: true
          in: query
          name: arriveBy
          schema:
            type: boolean
        - description: Az összes járat alacsonypadlós legyen-e.
          example: false
          in: query
          name: wheelchair
          schema:
            type: boolean
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a biztonság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleSafetyFactor
          schema:
            format: double
            type: number
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít az útvonal síksága. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0
          in: query
          name: triangleSlopeFactor
          schema:
            format: double
            type: number
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a gyorsaság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleTimeFactor
          schema:
            format: double
            type: number
        - description: A kereső mire optimalizálja az útvonalakat.
          example: BEST
          in: query
          name: optimize
          schema:
            default: BEST
            enum:
              - BEST
              - WALK
              - TRANSFERS
            type: string
        - description: A séta sebességét meghatározó profil.
          example: MID
          in: query
          name: walkProfile
          schema:
            $ref: "#/components/schemas/WalkProfile"
        - description: Legfeljebb hány útvonal szerepeljen a válaszban.
          example: 5
          in: query
          name: numItineraries
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanTripResponse"
          description: A megadott paraméterekkel tervez megállóba útvonalat.
  "/{dialect}/api/where/plan-trip":
    get:
      operationId: planTrip
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
        - description: A dátum, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: 2021-07-09
          in: query
          name: date
          schema:
            type: string
        - description: Az idő, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: 11:35
          in: query
          name: time
          schema:
            type: string
        - description: Az indulási hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv kiindulási pontjának lesz a neve (`leg.from.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: BKK Központi Ügyfélszolgálat::47.4985022,19.0551266
          in: query
          name: fromPlace
          required: true
          schema:
            type: string
        - description: Az érkezési hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv érkezési pontjának lesz a neve (`leg.to.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: Mechwart liget::BKK:CSF00195
          in: query
          name: toPlace
          required: true
          schema:
            type: string
        - description: A tervező milyen közlekedési módokat használjon. A kerékpár kölcsönzés a `BICYCLE,WALK` paraméterekkel kapcsolható be.
          example: TRANSIT,WALK
          explode: false
          in: query
          name: mode
          required: true
          schema:
            items:
              $ref: "#/components/schemas/TraverseMode"
            type: array
          style: form
        - description: Az első járműre szállás előtt történjen-e jegyvásárlás.
          example: true
          in: query
          name: shouldBuyTickets
          schema:
            type: boolean
        - description: A válasz tartalmazza-e a járatok által érintett köztes megállókat is.
          example: true
          in: query
          name: showIntermediateStops
          schema:
            type: boolean
        - description: Érkezési időre tervezzünk-e a megadott `date` és `time` paraméterrel.
          example: true
          in: query
          name: arriveBy
          schema:
            type: boolean
        - description: Az összes járat alacsonypadlós legyen-e.
          example: false
          in: query
          name: wheelchair
          schema:
            type: boolean
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a biztonság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleSafetyFactor
          schema:
            format: double
            type: number
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít az útvonal síksága. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0
          in: query
          name: triangleSlopeFactor
          schema:
            format: double
            type: number
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a gyorsaság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleTimeFactor
          schema:
            format: double
            type: number
        - description: A kereső mire optimalizálja az útvonalakat.
          example: BEST
          in: query
          name: optimize
          schema:
            default: BEST
            enum:
              - BEST
              - WALK
              - TRANSFERS
            type: string
        - description: A séta sebességét meghatározó profil.
          example: MID
          in: query
          name: walkProfile
          schema:
            $ref: "#/components/schemas/WalkProfile"
        - description: Legfeljebb hány útvonal szerepeljen a válaszban.
          example: 5
          in: query
          name: numItineraries
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanTripResponse"
          description: A megadott paraméterekkel tervez útvonalat.
  "/{dialect}/api/where/references":
    get:
      operationId: getReferences
      parameters:
        - description: A szolgáltató ID-je.
          example: BKK
          in: query
          name: agencyId
          schema:
            items:
              type: string
            type: array
        - description: A zavar ID-je.
          example: BKK_bkkinfo-81404
          in: query
          name: alertId
          schema:
            items:
              type: string
            type: array
        - description: A járat ID-ja.
          example: BKK_3040
          in: query
          name: routeId
          schema:
            items:
              type: string
            type: array
        - description: A megálló ID-ja.
          example: BKK_F00001
          in: query
          name: stopId
          schema:
            items:
              type: string
            type: array
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferencesMethodResponse"
          description: ID alapú referencia lekérdezés.
  "/{dialect}/api/where/route-details":
    get:
      operationId: getRouteDetails
      parameters:
        - description: A járat ID-ja.
          example: BKK_3040
          in: query
          name: routeId
          required: true
          schema:
            type: string
        - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett értéke az aktuális nap.
          example: 20210707
          in: query
          name: date
          schema:
            type: string
        - description: Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is szerepelnek a válaszban.
          example: false
          in: query
          name: related
          schema:
            default: false
            type: boolean
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteDetailsMethodResponse"
          description: Visszaadja a megadott ID-val rendelkező járatot.
        "400":
          description: Rossz formátumú a `date` paraméter.
        "404":
          description: Az ID-hoz nem található járat.
  "/{dialect}/api/where/route-details-for-stop":
    get:
      operationId: getRouteDetailsForStop
      parameters:
        - description: A lekért megálló azonosítója.
          example: BKK_F01294
          in: query
          name: stopId
          schema:
            type: string
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteDetailsForStopMethodResponse"
          description: A megállóhoz és a testvérmegállóihoz tartozó összes járattal tér vissza.
        "404":
          description: Ismeretlen megálló azonosító.
  "/{dialect}/api/where/schedule-for-stop":
    get:
      operationId: getScheduleForStop
      parameters:
        - description: A releváns megállók azonosítói.
          example: BKK_F01294,BKK_F01294
          in: query
          name: stopId
          schema:
            items:
              type: string
            type: array
        - description: A kért dátum.
          example: 20210708
          in: query
          name: date
          schema:
            type: string
        - description: Igaz esetén az érkezési és előrejelzett érkezési idők ki lesznek hagyva a válaszból.
          example: false
          in: query
          name: onlyDepartures
          schema:
            default: true
            type: boolean
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleForStopOTPMethodResponse"
          description: Visszaadja a menetrendet az adott megállóhoz.
        "400":
          description: Nem sikerült beolvasni a dátumot.
        "404":
          description: Ismeretlen stopId.
  "/{dialect}/api/where/search":
    get:
      operationId: search
      parameters:
        - description: Szűrőfeltétel, amire illesztve vannak a zavarok, járatok és megállók.
          example: BKK_bkkinfo-75694
          in: query
          name: query
          schema:
            type: string
        - description: A látható térkép középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: A látható térkép középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            format: float
            type: number
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            default: 5
            format: int32
            type: integer
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMethodResponse"
          description: Visszaadja az olyan zavarokat, megállókat és járatokat, amelyek tulajdonságai illeszkednek a megadott szűrőrfeltételre.
  "/{dialect}/api/where/statistics":
    get:
      operationId: getStatistics
      parameters:
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatisticsResponse"
          description: Egyszerű végpont hibakereséshez, ami egy "OK" választ ad vissza.
  "/{dialect}/api/where/stops-for-location":
    get:
      operationId: getStopsForLocation
      parameters:
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            format: float
            type: number
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            format: float
            type: number
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            format: float
            type: number
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            default: 100
            format: int32
            type: integer
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            default: 5
            format: int32
            type: integer
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StopsForLocationResponse"
          description: Egy megállólistát ad vissza az adott helyhez. Ha a lat vagy a lon null, akkor az összes megálló bekerül a válaszba.
  "/{dialect}/api/where/ticketing-locations":
    get:
      operationId: getTicketingData
      parameters:
        - description: Csak azokat az elemeket adjuk vissza, amik módosultak az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ha nincs változás üres listákkal tér vissza. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            default: -1
            format: int64
            type: integer
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            format: date-time
            type: string
        - description: Ha igaz, és az adat változott az `ifModifiedSince` query paraméterben megadott időpont óta, akkor az összes adat visszaadásra kerül. Ha nincs megadva csak a módosult elemek szerepelnek a válaszban. Csak az `ifModifiedSince` query paraméterrel együtt szerepelhet, mivel az `If-Modified-Since` fejléc minden esetben a teljes választ tartalmazza.
          example: true
          in: query
          name: full
          schema:
            type: boolean
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketingMethodResponse"
          description: Visszaadja a jegyértékesítő helyeket és jegytípusokat.
        "304":
          description: Nem változott az adat az `ifModifiedSince` query vagy header paraméterben megadott időpont óta.
  "/{dialect}/api/where/trip-details":
    get:
      operationId: getTripDetails
      parameters:
        - description: Amennyiben meg van adva, azon menet érkezik a válaszban, amit az adott jármű teljesít.
          example: BKK_4510
          in: query
          name: vehicleId
          schema:
            type: string
        - description: Ha nincs kitöltve a járműazonosító, az itt megadott azonosítóval rendelkező menet lesz a válaszban.
          example: BKK_C23556161
          in: query
          name: tripId
          schema:
            type: string
        - description: Ha nincs kitöltve a járműazonosító, ezen a dátumon lesz keresve az adott azonosítójú menet.
          example: 20210708
          in: query
          name: date
          schema:
            type: string
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            default: -1
            format: int64
            type: integer
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            format: date-time
            type: string
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDetailsOTPMethodResponse"
          description: Visszaadja a részletes információit egy menetnek, ami az azonosítója és a dátum alapján, vagy az azt teljesítő jármű azonosítója alapján lett lekérve.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "400":
          description: Nem sikerült beolvasni a dátumot.
        "404":
          description: "A következő esetek egyike: -Ismeretlen járműazonosító. -Ismereten menetazonosító. -A kért menet nem közlekedik az adott napon."
  "/{dialect}/api/where/vehicle-for-trip":
    get:
      operationId: getVehicleForTrip
      parameters:
        - description: A lekért menetek azonosítói.
          example: BKK_C3135012112,BKK_C3135012044
          in: query
          name: tripId
          required: true
          schema:
            items:
              type: string
            type: array
        - description: A lekért menetrendi napok. Alapértelmezetten az aktuális nap.
          example: BKK_F01081
          in: query
          name: date
          schema:
            items:
              type: string
            type: array
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            default: -1
            format: int64
            type: integer
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            format: date-time
            type: string
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleForTripMethodResponse"
          description: Visszatér a megadott menetekhez és menetrendi napokhoz tartozó járművekkel.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "400":
          description: A menet azonosítókat és menetrendi napokat tartalmazó tömbök mérete nem egyezik.
        "404":
          description: Az egyik menet azonosítóhoz nem található menet.
  "/{dialect}/api/where/vehicles-for-location":
    get:
      operationId: getVehiclesForLocation
      parameters:
        - description: A válasz listát szűrő feltétel, amit tartalmaznia kell a jármű azonosítójának, rendszámának vagy a típusának.
          example: BKK_4510
          in: query
          name: query
          schema:
            type: string
        - description: A terület középpontjának szélességi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            format: float
            type: number
        - description: A terület középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            format: float
            type: number
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            format: float
            type: number
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            format: float
            type: number
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            default: 100
            format: int32
            type: integer
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            default: -1
            format: int64
            type: integer
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            format: date-time
            type: string
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesForLocationMethodResponse"
          description: Visszatér az adott területen található összes járművel. Ha a `lat` vagy a `lon` null, az összes jármű benne lesz a válaszban.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
  "/{dialect}/api/where/vehicles-for-route":
    get:
      operationId: getVehiclesForRoute
      parameters:
        - description: A lekért járatok azonosítói.
          example: BKK_3040,BKK_3060
          in: query
          name: routeId
          required: true
          schema:
            items:
              type: string
            type: array
        - description: Tartalmazza-e a válasz a kapcsolódó járatokat is a referenciákban.
          example: false
          in: query
          name: related
          schema:
            default: false
            type: boolean
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            default: -1
            format: int64
            type: integer
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            format: date-time
            type: string
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesForRouteMethodResponse"
          description: A megadott járat azonosítókhoz tartozó járművekkel tér vissza.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "404":
          description: A járat azonosítóhoz nem található járat.
  "/{dialect}/api/where/vehicles-for-stop":
    get:
      operationId: getVehiclesForStop
      parameters:
        - description: A lekért megálló azonosítója.
          example: BKK_F01081
          in: query
          name: stopId
          required: true
          schema:
            type: string
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            default: -1
            format: int64
            type: integer
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            format: date-time
            type: string
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            default: "true"
            items:
              $ref: "#/components/schemas/ReferencesSchema"
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesForStopMethodResponse"
          description: Visszaadja az összes járművet, ami olyan menetet teljesít, ami tartalmazza a megadott megállót.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "404":
          description: A megálló azonosítóhoz nem található megálló.
components:
  schemas:
    AlertSearchMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitSearch"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    ApiTripSearchMetadata:
      description: A tervezés metaadatai. Tartalmazza a következő és az előző tervezési időablakot a lapozás megvalósításához ezred másodpercben.
      properties:
        nextDateTime:
          format: int64
          type: integer
        prevDateTime:
          format: int64
          type: integer
        searchWindowUsed:
          format: int32
          type: integer
      type: object
    ApiVersion:
      default: "2"
      enum:
        - "2"
        - "3"
        - "4"
      type: string
    ArrivalsAndDeparturesForLocationOTPMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitDepartureGroup"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    ArrivalsAndDeparturesForStopOTPMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitArrivalsAndDepartures"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    BicycleRentalMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitBikeRentalStation"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    BikeStreetCategory:
      description: Kerékpáros útszakaszok kategórizálásai.
      enum:
        - CYCLEWAY
        - CYCLELANE
        - LOW_TRAFFIC
        - OTHER
        - PEDESTRIAN
      example: LOW_TRAFFIC
      nullable: true
      type: string
    Dialect:
      enum:
        - otp
        - mobile
      type: string
    DisplayedLeg:
      description: Az útiterv kivonatos megjelenítéséhez használható  lábak és adatok.
      properties:
        first:
          description: Jelzi, ha a láb az első az útitervben.
          example: true
          type: boolean
        last:
          description: Jelzi, ha a láb az utolsó az útitervben.
          example: true
          type: boolean
        name:
          description: Az indulási hely neve, kivéve az utolsón, ahol a érkezési helyé.
          example: realCity ITS Kft.
          type: string
        time:
          description: Az utolsó lábon az érkezési idő, az összes többin az indulási.
          example: 1625825460000
          format: int64
          type: integer
        walkTo:
          description: Jelzi, hogy a láb nem tranzit típusú.
          example: true
          type: boolean
      type: object
    EffectType:
      description: A zavar hatásának típusa.
      enum:
        - NO_SERVICE
        - WARNING
      type: string
    ElevationPoint:
      description: A lábhoz tartozó magassági adatok.
      example: []
      properties:
        distance:
          description: A magassági pont távolsága a láb kezdetéhez képest méterben.
          example: 10.871
          format: double
          type: number
        elevation:
          description: A pont magassága.
          example: 0
          format: double
          nullable: true
          type: number
      type: object
    EncodedPolylineBean:
      description: A láb geometriája.
      properties:
        length:
          description: A geometria (polyline) pontjainak száma.
          example: 3
          format: int32
          type: integer
        points:
          description: A geometria (polyline) pontjai kódolva.
          example: o{sxFl}vaMjDpCf@\
          type: string
      type: object
    Itinerary:
      description: A talált útvonalak listája.
      properties:
        bikeCategoryDistances:
          additionalProperties:
            description: Az útiterv során hány méter kerékpározást tartalmaztak az egyes kategóriák. Az objektum kulcsai a kategóriák (`BikeStreetCategory`).
            format: double
            type: number
          description: Az útiterv során hány méter kerékpározást tartalmaztak az egyes kategóriák. Az objektum kulcsai a kategóriák (`BikeStreetCategory`).
          example:
            LOW_TRAFFIC: 12
          type: object
        bikeDistance:
          description: Kerékpározási távolság az útvonalon méterben.
          example: 826.7
          format: double
          type: number
        bikeTime:
          description: Kerékpározási idő az útvonalon másodpercben.
          example: 620
          format: int64
          type: integer
        displayProductRecommendation:
          description: Jelzi, ha az útvonalhoz kell termékajánlást mutatni.
          example: true
          type: boolean
        displayedLegs:
          description: Az útiterv kivonatos megjelenítéséhez használható  lábak és adatok.
          items:
            $ref: "#/components/schemas/DisplayedLeg"
          type: array
        duration:
          description: Az útvonal hossza másodpercben.
          example: 1732
          format: int64
          type: integer
        elevationGained:
          description: Az útiterv során hány métert emelkedik az útvonal.
          example: 0
          format: double
          type: number
        elevationLost:
          description: Az útiterv során hány métert süllyed az útvonal.
          example: 0
          format: double
          type: number
        endTime:
          description: Az érkezési időpont ezredmásodpercben.
          format: date-time
          type: string
        generalizedCost:
          description: Az utazástervező algoritmus által használt súly.
          example: 998
          format: int32
          type: integer
        legs:
          description: Az útiterv lábai (részei).
          items:
            $ref: "#/components/schemas/Leg"
          type: array
        notAllTicketsAvailable:
          description: "Jelzi, hogy a visszaadott útvonalak tartalmazhatnak olyan járatokat (pl.: vonatok), amire a terv során érintett jegyértékesítési helyen nem lehet jegyet váltani."
          example: false
          type: boolean
        patternDuration:
          $ref: "#/components/schemas/PatternStatistics"
        patternFrequency:
          $ref: "#/components/schemas/PatternStatistics"
        patternItineraries:
          description: Útitervminták engedélyezése esetén a mintába tartozó útitervek.
          items:
            $ref: "#/components/schemas/Itinerary"
          type: array
        startTime:
          description: Az indulási időpont ezredmásodpercben.
          format: date-time
          type: string
        tooSloped:
          description: Jelzi, ha az útvonal meredekebb, mint a paraméterekben kért.
          example: false
          type: boolean
        transfers:
          description: Átszállások száma az útitervben.
          example: 1
          format: int32
          type: integer
        transitTime:
          description: Járművön töltött idő az útvonalon másodpercben.
          example: 620
          format: int64
          type: integer
        waitTimeAdjustedGeneralizedCost:
          description: A várakozási idővel igazított súly.
          example: 998
          format: int32
          type: integer
        waitingTime:
          description: Várakozási idő járműre az útvonalon másodpercben.
          example: 620
          format: int64
          type: integer
        walkDistance:
          description: Sétálási távolság az útvonalon méterben.
          example: 826.7
          format: double
          type: number
        walkLimitExceeded:
          description: Jelzi, hogy a sétálási limit túl lett lépve az útitervben.
          example: false
          type: boolean
        walkTime:
          description: Sétálási idő az útvonalon másodpercben.
          example: 620
          format: int64
          type: integer
      type: object
    Leg:
      description: Az útiterv lábai (részei).
      properties:
        agencyId:
          description: Tranzit láb esetén a járatot biztosító szolgáltató azonosítója.
          example: BKK_BKK
          nullable: true
          type: string
        agencyName:
          description: Tranzit láb esetén a járatot biztosító szolgáltató neve.
          example: BKK
          nullable: true
          type: string
        agencyTimeZoneOffset:
          description: Tranzit láb esetén a járatot biztosító szolgáltató időzónájának eltolódása.
          example: 0
          format: int32
          nullable: true
          type: integer
        agencyUrl:
          description: Tranzit láb esetén a járatot biztosító szolgáltató linkje.
          example: https://www.bkk.hu
          nullable: true
          type: string
        alertIds:
          description: A lábhoz tartozó aktív zavarok azonosítói.
          example:
            - BKK_bkkinfo-75685
          items:
            description: A lábhoz tartozó aktív zavarok azonosítói.
            example: '["BKK_bkkinfo-75685"]'
            type: string
          type: array
        alightRule:
          description: Igényvezérelt menet esetén a leszállási szabály.
          example: coordinateWithDriver
          nullable: true
          type: string
        arrivalDelay:
          description: Tranzit láb esetén a láb vége és a tényleges leszállás közötti késleltetés.
          example: 0
          format: int32
          type: integer
        boardRule:
          description: Igényvezérelt menet esetén a felszállási szabály.
          example: mustPhone
          nullable: true
          type: string
        departureDelay:
          description: Tranzit láb esetén a láb indulása és a tényleges felszállás közötti késleltetés.
          example: 0
          format: int32
          type: integer
        distance:
          description: A láb bejárása alatt megtett táv méterben.
          example: 209.215
          format: double
          type: number
        duration:
          format: int64
          type: integer
        endTime:
          description: A láb vége ezredmásodpercben.
          format: date-time
          type: string
        from:
          $ref: "#/components/schemas/Place"
        generalizedCost:
          description: Az utazástervező algoritmus által használt súly.
          example: 998
          format: int32
          type: integer
        hasAlertInPattern:
          description: Útiterv minták esetén jelzi, hogy a mintában a megfelelő lábak valamelyikén szerepel aktív riasztás. Nincs kitöltve, ha az útiterv minták ki vannak kapcsolva.
          example: true
          nullable: true
          type: boolean
        headsign:
          description: Tranzit láb esetén a menet célállomása.
          example: Nagyvárad tér M
          nullable: true
          type: string
        interlineWithPreviousLeg:
          description: Jelzi, hogy az utas maradjon a járművön a végállomásnál, mert másik menetként folytatódik (hurokjárat).
          example: false
          nullable: true
          type: boolean
        intermediateStops:
          description: Tranzit láb esetén a köztes megállók a láb kezdete és végződése között.
          items:
            $ref: "#/components/schemas/Place"
          nullable: true
          type: array
        legElevation:
          description: A lábhoz tartozó magassági adatok.
          example: []
          items:
            $ref: "#/components/schemas/ElevationPoint"
          type: array
        legGeometry:
          $ref: "#/components/schemas/EncodedPolylineBean"
        mode:
          description: A lábon használt közlekedési mód.
          example: WALK
          type: string
        onBoardAccess:
          default: false
          description: Igaz, ha járatról történt a tervezés.
          example: true
          nullable: true
          type: boolean
        pathway:
          description: Jelzi, hogy a láb egy pathway (pl. metró lejáró).
          example: false
          type: boolean
        realTime:
          description: Jelzi, hogy a láb adatai valós idejű forrásból származnak.
          example: true
          type: boolean
        rentedBike:
          description: Jelzi, hogy a lábat bérelt kerékpárral kell bejárni.
          example: true
          nullable: true
          type: boolean
        requiresBooking:
          description: Igaz, ha szükséges foglalás.
          example: true
          type: boolean
        routeColor:
          description: Tranzit láb esetén a járat hátterének színe a megjelenítéséhez.
          example: 009FE3
          nullable: true
          type: string
        routeId:
          description: Tranzit láb esetén a járat azonosítója.
          example: BKK_MP53
          nullable: true
          type: string
        routeIds:
          description: Útiterv minták esetén, a lábnak a mintában megfelelő, más lábakon használt járatok azonosítóinak listája.
          example:
            - BKK_MP53
          items:
            description: Útiterv minták esetén, a lábnak a mintában megfelelő, más lábakon használt járatok azonosítóinak listája.
            example: '["BKK_MP53"]'
            nullable: true
            type: string
          nullable: true
          type: array
        routeLongName:
          description: Tranzit láb esetén a járat hosszú neve.
          example: M3
          nullable: true
          type: string
        routeShortName:
          description: Tranzit láb esetén a járat rövid neve.
          example: M3
          nullable: true
          type: string
        routeTextColor:
          description: Tranzit láb esetén a járat szövegének színe a megjelenítéséhez.
          example: FFFFFF
          nullable: true
          type: string
        serviceDate:
          description: Tranzit láb esetén a menet menetrendi napja.
          example: "20210709"
          nullable: true
          type: string
        startTime:
          description: A láb kezdete ezredmásodpercben.
          format: date-time
          type: string
        steps:
          description: Az útvonal lépései gyalogos, kerékpáros vagy autós láb lesetén.
          items:
            $ref: "#/components/schemas/WalkStep"
          nullable: true
          type: array
        timeZone:
          properties:
            displayName:
              type: string
            dstsavings:
              format: int32
              type: integer
            id:
              type: string
            rawOffset:
              format: int32
              type: integer
          type: object
          writeOnly: true
        to:
          $ref: "#/components/schemas/Place"
        transitLeg:
          type: boolean
        tripBlockId:
          description: Tranzit láb esetén a menethez tartozó GTFS block_id, amennyiben létezik.
          example: C32859_MP53_39_13
          nullable: true
          type: string
        tripId:
          description: Tranzit láb esetén a menet azonosítója.
          example: BKK_C328598112
          nullable: true
          type: string
        tripIds:
          description: Útiterv minták esetén, a lábnak a mintában megfelelő, más lábakon használt menetek azonosítóinak listája.
          example:
            - BKK_C328598112
            - BKK_C328598112
          items:
            description: Útiterv minták esetén, a lábnak a mintában megfelelő, más lábakon használt menetek azonosítóinak listája.
            example: '["BKK_C328598112","BKK_C328598112"]'
            nullable: true
            type: string
          nullable: true
          type: array
        vertex:
          description: A menet utazástervező azonosítója, amelyet a `fromPlace` megadásához lehet használni.
          example: 20210708:BKK:AS4356
          type: string
        wait:
          description: A várakozási idő mennyiségi típusa a tranzit típusú lábon.
          enum:
            - SHORT
            - LONG
          example: SHORT
          nullable: true
          type: string
      type: object
    MetadataResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitMetadata"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    MobileTransitReferences:
      properties:
        agencies:
          description: Szolgáltatók referenciáinak listája.
          items:
            $ref: "#/components/schemas/TransitAgency"
          type: array
        alerts:
          description: Zavarok referenciáinak listája.
          items:
            $ref: "#/components/schemas/TransitAlert"
          type: array
        routes:
          description: Járatok referenciáinak listája.
          items:
            $ref: "#/components/schemas/TransitRoute"
          type: array
        stops:
          description: Megállók referenciáinak listája.
          items:
            $ref: "#/components/schemas/TransitStop"
          type: array
        trips:
          description: Menetek referenciáinak listája.
          items:
            $ref: "#/components/schemas/TransitTrip"
          type: array
      type: object
    MultiRouteDetailsMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitRouteDetails"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    OTPTransitReferences:
      properties:
        agencies:
          additionalProperties:
            $ref: "#/components/schemas/TransitAgency"
          description: Szolgáltatók referenciáinak listája.
          type: object
        alerts:
          additionalProperties:
            $ref: "#/components/schemas/TransitAlert"
          description: Zavarok referenciáinak listája.
          type: object
        routes:
          additionalProperties:
            $ref: "#/components/schemas/TransitRoute"
          description: Járatok referenciáinak listája.
          type: object
        stops:
          additionalProperties:
            $ref: "#/components/schemas/TransitStop"
          description: Megállók referenciáinak listája.
          type: object
        trips:
          additionalProperties:
            $ref: "#/components/schemas/TransitTrip"
          description: Menetek referenciáinak listája.
          type: object
      type: object
    OnboardDepartPosition:
      properties:
        accuracy:
          description: A pontossága egy pozició pontnak méterben.
          example: 100
          format: double
          nullable: true
          type: number
        lat:
          description: A szélességi koordinátája egy pozició pontnak.
          example: 47.497313
          format: double
          type: number
        lon:
          description: A hosszúsági koordinátája egy pozició pontnak.
          example: 19.064683
          format: double
          type: number
        speed:
          description: A sebesség egy pozició pontban m/s-ban.
          example: 8
          format: double
          nullable: true
          type: number
        timestamp:
          description: Az időpontja egy pozició pontnak epoch másodpercben.
          example: 1644829176
          format: int64
          type: integer
      required:
        - lat
        - lon
        - timestamp
      type: object
    OnboardDepartSearchMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitVehicle"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    PatternStatistics:
      description: Útitervminták engedélyezése esetén a minták időtartam-adatai.
      properties:
        avg:
          description: Átlag érték. Akkor van kitöltve, ha az adatok megegyeznek.
          format: int64
          type: integer
        max:
          description: Maximum érték. Akkor van kitöltve, ha az adatok különbözőek.
          format: int64
          type: integer
        min:
          description: Minimum érték. Akkor van kitöltve, ha az adatok különbözőek.
          format: int64
          type: integer
        text:
          description: A klienseken megjelenített szöveg.
          type: string
      type: object
    Place:
      description: Tranzit láb esetén a köztes megállók a láb kezdete és végződése között.
      nullable: true
      properties:
        arrival:
          description: A helyre érkezés időpontja ezredmásodpercben.
          format: date-time
          nullable: true
          type: string
        departure:
          description: A helyről való indulás időpontja ezredmásodpercben.
          format: date-time
          nullable: true
          type: string
        lat:
          description: A hely szélességi koordinátája.
          example: 47.47430103584126
          format: double
          nullable: true
          type: number
        lon:
          description: A hely hosszúsági koordinátája.
          example: 19.071962345420864
          format: double
          nullable: true
          type: number
        name:
          description: Megálló esetén a megálló neve, POI-nál a POI neve.
          example: realCity ITS Kft.
          type: string
        orig:
          description: Az indulási és az érkezési hely címkéje. Az első és az utolsó útvonal lábon van kitöltve.
          example: realCity ITS Kft.
          nullable: true
          type: string
        platformCode:
          description: A megálló peron-kódja, ha a hely egy megálló.
          example: "1"
          nullable: true
          type: string
        stopCode:
          description: A megálló kódja, ha a hely egy megálló.
          example: "110452"
          nullable: true
          type: string
        stopId:
          description: A megálló azonosítója, ha a hely egy megálló.
          example: BKK_110452
          nullable: true
          type: string
        stopIndex:
          description: A megálló indexe, ha a hely egy megálló.
          example: 10
          format: int32
          nullable: true
          type: integer
        stopSequence:
          description: A megálló sorszáma a meneten, ha a hely egy megálló.
          example: 10
          format: int32
          nullable: true
          type: integer
        ticketingLocation:
          $ref: "#/components/schemas/TicketingLocation"
      type: object
    PlanTripResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesResponse"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    PlannerError:
      description: A hibát tartalmazza, ha nem sikerült a tervezés.
      nullable: true
      properties:
        id:
          description: A hibaüzenet azonosítója.
          example: 0
          format: int32
          type: integer
        message:
          description: A hibaüzenet kódja.
          enum:
            - PLAN_OK
            - SYSTEM_ERROR
            - GRAPH_UNAVAILABLE
            - PLANNER_SERVICE_UNAVAILABLE
            - OUTSIDE_BOUNDS
            - PATH_NOT_FOUND
            - NO_TRANSIT_TIMES
            - REQUEST_TIMEOUT
            - BOGUS_PARAMETER
            - GEOCODE_FROM_NOT_FOUND
            - GEOCODE_TO_NOT_FOUND
            - GEOCODE_FROM_TO_NOT_FOUND
            - TOO_CLOSE
            - LOCATION_NOT_ACCESSIBLE
            - MISSING_MODE
            - GEOCODE_FROM_AMBIGUOUS
            - GEOCODE_TO_AMBIGUOUS
            - GEOCODE_FROM_TO_AMBIGUOUS
            - UNDERSPECIFIED_TRIANGLE
            - TRIANGLE_NOT_AFFINE
            - TRIANGLE_OPTIMIZE_TYPE_NOT_SET
            - TRIANGLE_VALUES_NOT_SET
          example: OUTSIDE_BOUNDS
          type: string
        missing:
          description: A rossz paraméterek listája.
          example:
            - from
          items:
            description: A rossz paraméterek listája.
            example: '["from"]'
            type: string
          type: array
        msgFromMessage:
          enum:
            - PLAN_OK
            - SYSTEM_ERROR
            - GRAPH_UNAVAILABLE
            - PLANNER_SERVICE_UNAVAILABLE
            - OUTSIDE_BOUNDS
            - PATH_NOT_FOUND
            - NO_TRANSIT_TIMES
            - REQUEST_TIMEOUT
            - BOGUS_PARAMETER
            - GEOCODE_FROM_NOT_FOUND
            - GEOCODE_TO_NOT_FOUND
            - GEOCODE_FROM_TO_NOT_FOUND
            - TOO_CLOSE
            - LOCATION_NOT_ACCESSIBLE
            - MISSING_MODE
            - GEOCODE_FROM_AMBIGUOUS
            - GEOCODE_TO_AMBIGUOUS
            - GEOCODE_FROM_TO_AMBIGUOUS
            - UNDERSPECIFIED_TRIANGLE
            - TRIANGLE_NOT_AFFINE
            - TRIANGLE_OPTIMIZE_TYPE_NOT_SET
            - TRIANGLE_VALUES_NOT_SET
          type: string
          writeOnly: true
        noPath:
          description: Igaz, ha nem sikerült útvonalat találni.
          example: true
          type: boolean
      type: object
    ReferencesMethodErrors:
      properties:
        agencyIds:
          description: A szolgáltató ID-k, amelyek feloldása sikertelen volt.
          example: BKK
          items:
            description: A szolgáltató ID-k, amelyek feloldása sikertelen volt.
            example: BKK
            type: string
          type: array
        alertIds:
          description: A zavar ID-k, amelyek feloldása sikertelen volt.
          example: BKK_bkkinfo-81404
          items:
            description: A zavar ID-k, amelyek feloldása sikertelen volt.
            example: BKK_bkkinfo-81404
            type: string
          type: array
        routeIds:
          description: A járat ID-k, amelyek feloldása sikertelen volt.
          example: BKK_3040
          items:
            description: A járat ID-k, amelyek feloldása sikertelen volt.
            example: BKK_3040
            type: string
          type: array
        stopIds:
          description: A megálló ID-k, amelyek feloldása sikertelen volt.
          example: BKK_F00001
          items:
            description: A megálló ID-k, amelyek feloldása sikertelen volt.
            example: BKK_F00001
            type: string
          type: array
      type: object
    ReferencesMethodResponse:
      properties:
        class:
          description: Az adat típusa. Egy entitás esetén "entryWithReferences".
          example: entryWithReferences
          type: string
        entry:
          $ref: "#/components/schemas/ReferencesMethodResult"
        limitExceeded:
          description: Igaz, ha a lista több elemet tartalmaz, mint a limit paraméter. Indulási és érkezési idő típusú lekéréseknél használjuk.
          example: false
          type: boolean
        references:
          $ref: "#/components/schemas/TransitReferences"
      type: object
    ReferencesMethodResult:
      description: A lekért adat.
      properties:
        errors:
          $ref: "#/components/schemas/ReferencesMethodErrors"
      type: object
    ReferencesSchema:
      default: "true"
      enum:
        - "true"
        - "false"
        - compact
        - agencies
        - routes
        - trips
        - stops
        - alerts
        - stations
      type: string
    Response:
      description: A lekért adat.
      properties:
        error:
          $ref: "#/components/schemas/PlannerError"
        metadata:
          $ref: "#/components/schemas/ApiTripSearchMetadata"
        plan:
          $ref: "#/components/schemas/TripPlan"
        requestParameters:
          additionalProperties:
            description: A tervezési paraméterek.
            type: string
          description: A tervezési paraméterek.
          type: object
      type: object
    RouteDetailsForStopMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitRoute"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    RouteDetailsMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitRouteDetails"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    ScheduleForStopOTPMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
          example: 200
          format: int32
          type: integer
        currentTime:
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
          format: int64
          type: integer
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitSchedule"
        status:
          $ref: "#/components/schemas/Status"
        text:
          description: A válasz szövege.
          example: OK
          type: string
        version:
          description: A válasz API verziója.
          example: 3
          format: int32
          type: integer
      type: object
    SearchMethodResponse:
      properties:
        code:
          description: A válasz státusz kódja.
[...]
