swagger: '2.0'
schemes:
  - https
  - http
host: appstream2.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
  description: '<fullname>Amazon AppStream 2.0</fullname> <p>You can use Amazon AppStream 2.0 to stream desktop applications to any device running a web browser, without rewriting them.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon AppStream
  version: '2016-12-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appstream-2016-12-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: appstream2
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/appstream2/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  Action:
    in: header
    name: Action
    required: true
    type: string
  Version:
    in: header
    name: Version
    required: true
    type: string
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /:
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates the specified fleet with the specified stack.
      operationId: AssociateFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateFleetResult'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#CreateDirectoryConfig':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a directory configuration.
      operationId: CreateDirectoryConfig
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectoryConfigRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectoryConfigResult'
        '480':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#CreateFleet':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a fleet.
      operationId: CreateFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFleetResult'
        '480':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '481':
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '485':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '487':
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
  '/#CreateImageBuilder':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: CreateImageBuilder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateImageBuilderRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateImageBuilderResult'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '485':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '486':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '487':
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
  '/#CreateImageBuilderStreamingURL':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: CreateImageBuilderStreamingURL
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateImageBuilderStreamingURLRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateImageBuilderStreamingURLResult'
        '480':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#CreateStack':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a stack.
      operationId: CreateStack
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateStackRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateStackResult'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#CreateStreamingURL':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a URL to start a streaming session for the specified user.</p> <p>By default, the URL is valid only for one minute from the time that it is generated.</p>'
      operationId: CreateStreamingURL
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateStreamingURLRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateStreamingURLResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        '482':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#DeleteDirectoryConfig':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified directory configuration.
      operationId: DeleteDirectoryConfig
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectoryConfigRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectoryConfigResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DeleteFleet':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified fleet.
      operationId: DeleteFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFleetResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#DeleteImage':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: DeleteImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteImageRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteImageResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#DeleteImageBuilder':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: DeleteImageBuilder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteImageBuilderRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteImageBuilderResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#DeleteStack':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the specified stack. After this operation completes, the environment can no longer be activated and any reservations made for the stack are released.'
      operationId: DeleteStack
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteStackRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteStackResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#DescribeDirectoryConfigs':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified directory configurations.
      operationId: DescribeDirectoryConfigs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectoryConfigsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectoryConfigsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DescribeFleets':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified fleets or all fleets in the account.
      operationId: DescribeFleets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeFleetsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFleetsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      x-waiters:
        - acceptors:
            - argument: 'Fleets[].State'
              expected: ACTIVE
              matcher: pathAll
              state: success
            - argument: 'Fleets[].State'
              expected: PENDING_DEACTIVATE
              matcher: pathAny
              state: failure
            - argument: 'Fleets[].State'
              expected: INACTIVE
              matcher: pathAny
              state: failure
          delay: 30
          maxAttempts: 40
          operation: DescribeFleets
        - acceptors:
            - argument: 'Fleets[].State'
              expected: INACTIVE
              matcher: pathAll
              state: success
            - argument: 'Fleets[].State'
              expected: PENDING_ACTIVATE
              matcher: pathAny
              state: failure
            - argument: 'Fleets[].State'
              expected: ACTIVE
              matcher: pathAny
              state: failure
          delay: 30
          maxAttempts: 40
          operation: DescribeFleets
  '/#DescribeImageBuilders':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: DescribeImageBuilders
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeImageBuildersRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeImageBuildersResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DescribeImages':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified images or all images in the account.
      operationId: DescribeImages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeImagesRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeImagesResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DescribeSessions':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes the streaming sessions for the specified stack and fleet. If a user ID is provided, only the streaming sessions for only that user are returned. If an authentication type is not provided, the default is to authenticate users using a streaming URL.'
      operationId: DescribeSessions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSessionsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSessionsResult'
        '480':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  '/#DescribeStacks':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified stacks or all stacks in the account.
      operationId: DescribeStacks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeStacksRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStacksResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#DisassociateFleet':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates the specified fleet from the specified stack.
      operationId: DisassociateFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateFleetResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#ExpireSession':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops the specified streaming session.
      operationId: ExpireSession
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ExpireSessionRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExpireSessionResult'
  '/#ListAssociatedFleets':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the fleets associated with the specified stack.
      operationId: ListAssociatedFleets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssociatedFleetsRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssociatedFleetsResult'
  '/#ListAssociatedStacks':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the stacks associated with the specified fleet.
      operationId: ListAssociatedStacks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssociatedStacksRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssociatedStacksResult'
  '/#StartFleet':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts the specified fleet.
      operationId: StartFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartFleetResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#StartImageBuilder':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: StartImageBuilder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartImageBuilderRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartImageBuilderResult'
        '480':
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#StopFleet':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops the specified fleet.
      operationId: StopFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopFleetResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#StopImageBuilder':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ''
      operationId: StopImageBuilder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopImageBuilderRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopImageBuilderResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#UpdateDirectoryConfig':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the specified directory configuration.
      operationId: UpdateDirectoryConfig
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDirectoryConfigRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDirectoryConfigResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#UpdateFleet':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name. If the fleet is in the <code>RUNNING</code> state, you can update the <code>DisplayName</code> and <code>ComputeCapacity</code> attributes. If the fleet is in the <code>STARTING</code> or <code>STOPPING</code> state, you can''t update it.</p>'
      operationId: UpdateFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateFleetRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFleetResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        '485':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '486':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '487':
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
        '488':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#UpdateStack':
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the specified stack.
      operationId: UpdateStack
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateStackRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateStackResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '483':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
definitions:
  AccountName:
    format: password
    minLength: 1
    type: string
  AccountPassword:
    format: password
    maxLength: 127
    minLength: 1
    type: string
  Application:
    description: Describes an application in the application catalog.
    properties:
      DisplayName:
        $ref: '#/definitions/String'
        description: The application name displayed to end users.
      Enabled:
        $ref: '#/definitions/Boolean'
        description: 'If there is a problem, the application can be disabled after image creation.'
      IconURL:
        $ref: '#/definitions/String'
        description: The URL for the application icon. This URL might be time-limited.
      LaunchParameters:
        $ref: '#/definitions/String'
        description: The arguments that are passed to the application at launch.
      LaunchPath:
        $ref: '#/definitions/String'
        description: The path to the application executable in the instance.
      Metadata:
        $ref: '#/definitions/Metadata'
        description: Additional attributes that describe the application.
      Name:
        $ref: '#/definitions/String'
        description: The name of the application.
    type: object
  Applications:
    items:
      $ref: '#/definitions/Application'
    type: array
  Arn:
    pattern: '^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$'
    type: string
  AssociateFleetRequest:
    properties:
      FleetName:
        $ref: '#/definitions/String'
        description: The name of the fleet.
      StackName:
        $ref: '#/definitions/String'
        description: The name of the stack.
    required:
      - FleetName
      - StackName
    type: object
  AssociateFleetResult:
    properties: {}
    type: object
  AuthenticationType:
    enum:
      - API
      - SAML
      - USERPOOL
    type: string
  Boolean:
    type: boolean
  BooleanObject:
    type: boolean
  ComputeCapacity:
    description: Describes the capacity for a fleet.
    properties:
      DesiredInstances:
        $ref: '#/definitions/Integer'
        description: The desired number of streaming instances.
    required:
      - DesiredInstances
    type: object
  ComputeCapacityStatus:
    description: Describes the capacity status for a fleet.
    properties:
      Available:
        $ref: '#/definitions/Integer'
        description: The number of currently available instances that can be used to stream sessions.
      Desired:
        $ref: '#/definitions/Integer'
        description: The desired number of streaming instances.
      InUse:
        $ref: '#/definitions/Integer'
        description: The number of instances in use for streaming.
      Running:
        $ref: '#/definitions/Integer'
        description: The total number of simultaneous streaming instances that are running.
    required:
      - Desired
    type: object
  ConcurrentModificationException:
    description: An API error occurred. Wait a few minutes and try again.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  CreateDirectoryConfigRequest:
    properties:
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: 'The fully qualified name of the directory (for example, corp.example.com).'
      OrganizationalUnitDistinguishedNames:
        $ref: '#/definitions/OrganizationalUnitDistinguishedNamesList'
        description: The distinguished names of the organizational units for computer accounts.
      ServiceAccountCredentials:
        $ref: '#/definitions/ServiceAccountCredentials'
        description: The credentials for the service account used by the streaming instance to connect to the directory.
    required:
      - DirectoryName
      - OrganizationalUnitDistinguishedNames
      - ServiceAccountCredentials
    type: object
  CreateDirectoryConfigResult:
    properties:
      DirectoryConfig:
        $ref: '#/definitions/DirectoryConfig'
        description: Information about the directory configuration.
    type: object
  CreateFleetRequest:
    properties:
      ComputeCapacity:
        $ref: '#/definitions/ComputeCapacity'
        description: The desired capacity for the fleet.
      Description:
        $ref: '#/definitions/Description'
        description: The description displayed to end users.
      DisconnectTimeoutInSeconds:
        $ref: '#/definitions/Integer'
        description: 'The time after disconnection when a session is considered to have ended, in seconds. If a user who was disconnected reconnects within this time interval, the user is connected to their previous session. Specify a value between 60 and 57600.'
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The fleet name displayed to end users.
      DomainJoinInfo:
        $ref: '#/definitions/DomainJoinInfo'
        description: The information needed for streaming instances to join a domain.
      EnableDefaultInternetAccess:
        $ref: '#/definitions/BooleanObject'
        description: Enables or disables default internet access for the fleet.
      FleetType:
        $ref: '#/definitions/FleetType'
      ImageName:
        $ref: '#/definitions/String'
        description: The name of the image used by the fleet.
      InstanceType:
        $ref: '#/definitions/String'
        description: '<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>'
      MaxUserDurationInSeconds:
        $ref: '#/definitions/Integer'
        description: 'The maximum time that a streaming session can run, in seconds. Specify a value between 600 and 57600.'
      Name:
        $ref: '#/definitions/Name'
        description: A unique name for the fleet.
      VpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: The VPC configuration for the fleet.
    required:
      - Name
      - ImageName
      - InstanceType
      - ComputeCapacity
    type: object
  CreateFleetResult:
    properties:
      Fleet:
        $ref: '#/definitions/Fleet'
        description: Information about the fleet.
    type: object
  CreateImageBuilderRequest:
    properties:
      Description:
        $ref: '#/definitions/Description'
      DisplayName:
        $ref: '#/definitions/DisplayName'
      DomainJoinInfo:
        $ref: '#/definitions/DomainJoinInfo'
      EnableDefaultInternetAccess:
        $ref: '#/definitions/BooleanObject'
      ImageName:
        $ref: '#/definitions/String'
      InstanceType:
        $ref: '#/definitions/String'
      Name:
        $ref: '#/definitions/Name'
      VpcConfig:
        $ref: '#/definitions/VpcConfig'
    required:
      - Name
      - ImageName
      - InstanceType
    type: object
  CreateImageBuilderResult:
    properties:
      ImageBuilder:
        $ref: '#/definitions/ImageBuilder'
    type: object
  CreateImageBuilderStreamingURLRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
      Validity:
        $ref: '#/definitions/Long'
    required:
      - Name
    type: object
  CreateImageBuilderStreamingURLResult:
    properties:
      Expires:
        $ref: '#/definitions/Timestamp'
      StreamingURL:
        $ref: '#/definitions/String'
    type: object
  CreateStackRequest:
    properties:
      Description:
        $ref: '#/definitions/Description'
        description: The description displayed to end users.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The stack name displayed to end users.
      Name:
        $ref: '#/definitions/String'
        description: The name of the stack.
      StorageConnectors:
        $ref: '#/definitions/StorageConnectorList'
        description: The storage connectors to enable.
    required:
      - Name
    type: object
  CreateStackResult:
    properties:
      Stack:
        $ref: '#/definitions/Stack'
        description: Information about the stack.
    type: object
  CreateStreamingURLRequest:
    properties:
      ApplicationId:
        $ref: '#/definitions/String'
        description: The ID of the application that must be launched after the session starts.
      FleetName:
        $ref: '#/definitions/String'
        description: The name of the fleet.
      SessionContext:
        $ref: '#/definitions/String'
        description: The session context of the streaming URL.
      StackName:
        $ref: '#/definitions/String'
        description: The name of the stack.
      UserId:
        $ref: '#/definitions/StreamingUrlUserId'
        description: The ID of the user.
      Validity:
        $ref: '#/definitions/Long'
        description: 'The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds.'
    required:
      - StackName
      - FleetName
      - UserId
    type: object
  CreateStreamingURLResult:
    properties:
      Expires:
        $ref: '#/definitions/Timestamp'
        description: 'The elapsed time, in seconds after the Unix epoch, when this URL expires.'
      StreamingURL:
        $ref: '#/definitions/String'
        description: The URL to start the AppStream 2.0 streaming session.
    type: object
  DeleteDirectoryConfigRequest:
    properties:
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: The name of the directory configuration.
    required:
      - DirectoryName
    type: object
  DeleteDirectoryConfigResult:
    properties: {}
    type: object
  DeleteFleetRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the fleet.
    required:
      - Name
    type: object
  DeleteFleetResult:
    properties: {}
    type: object
  DeleteImageBuilderRequest:
    properties:
      Name:
        $ref: '#/definitions/Name'
    required:
      - Name
    type: object
  DeleteImageBuilderResult:
    properties:
      ImageBuilder:
        $ref: '#/definitions/ImageBuilder'
    type: object
  DeleteImageRequest:
    properties:
      Name:
        $ref: '#/definitions/Name'
    required:
      - Name
    type: object
  DeleteImageResult:
    properties:
      Image:
        $ref: '#/definitions/Image'
    type: object
  DeleteStackRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the stack.
    required:
      - Name
    type: object
  DeleteStackResult:
    properties: {}
    type: object
  DescribeDirectoryConfigsRequest:
    properties:
      DirectoryNames:
        $ref: '#/definitions/DirectoryNameList'
        description: The directory names.
      MaxResults:
        $ref: '#/definitions/Integer'
        description: The maximum size of each page of results.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    type: object
  DescribeDirectoryConfigsResult:
    properties:
      DirectoryConfigs:
        $ref: '#/definitions/DirectoryConfigList'
        description: Information about the directory configurations.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  DescribeFleetsRequest:
    properties:
      Names:
        $ref: '#/definitions/StringList'
        description: The names of the fleets to describe.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    type: object
  DescribeFleetsResult:
    properties:
      Fleets:
        $ref: '#/definitions/FleetList'
        description: Information about the fleets.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  DescribeImageBuildersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/Integer'
      Names:
        $ref: '#/definitions/StringList'
      NextToken:
        $ref: '#/definitions/String'
    type: object
  DescribeImageBuildersResult:
    properties:
      ImageBuilders:
        $ref: '#/definitions/ImageBuilderList'
      NextToken:
        $ref: '#/definitions/String'
    type: object
  DescribeImagesRequest:
    properties:
      Names:
        $ref: '#/definitions/StringList'
        description: The names of the images to describe.
    type: object
  DescribeImagesResult:
    properties:
      Images:
        $ref: '#/definitions/ImageList'
        description: Information about the images.
    type: object
  DescribeSessionsRequest:
    properties:
      AuthenticationType:
        $ref: '#/definitions/AuthenticationType'
        description: The authentication method. Specify <code>API</code> for a user authenticated using a streaming URL or <code>SAML</code> for a SAML federated user. The default is to authenticate users using a streaming URL.
      FleetName:
        $ref: '#/definitions/String'
        description: The name of the fleet.
      Limit:
        $ref: '#/definitions/Integer'
        description: The size of each page of results. The default value is 20 and the maximum value is 50.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
      StackName:
        $ref: '#/definitions/String'
        description: The name of the stack.
      UserId:
        $ref: '#/definitions/UserId'
        description: The user ID.
    required:
      - StackName
      - FleetName
    type: object
  DescribeSessionsResult:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
      Sessions:
        $ref: '#/definitions/SessionList'
        description: Information about the streaming sessions.
    type: object
  DescribeStacksRequest:
    properties:
      Names:
        $ref: '#/definitions/StringList'
        description: The names of the stacks to describe.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    type: object
  DescribeStacksResult:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
      Stacks:
        $ref: '#/definitions/StackList'
        description: Information about the stacks.
    type: object
  Description:
    maxLength: 256
    type: string
  DirectoryConfig:
    description: Configuration information for the directory used to join domains.
    properties:
      CreatedTime:
        $ref: '#/definitions/Timestamp'
        description: The time the directory configuration was created.
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: 'The fully qualified name of the directory (for example, corp.example.com).'
      OrganizationalUnitDistinguishedNames:
        $ref: '#/definitions/OrganizationalUnitDistinguishedNamesList'
        description: The distinguished names of the organizational units for computer accounts.
      ServiceAccountCredentials:
        $ref: '#/definitions/ServiceAccountCredentials'
        description: The credentials for the service account used by the streaming instance to connect to the directory.
    required:
      - DirectoryName
    type: object
  DirectoryConfigList:
    items:
      $ref: '#/definitions/DirectoryConfig'
    type: array
  DirectoryName:
    type: string
  DirectoryNameList:
    items:
      $ref: '#/definitions/DirectoryName'
    type: array
  DisassociateFleetRequest:
    properties:
      FleetName:
        $ref: '#/definitions/String'
        description: The name of the fleet.
      StackName:
        $ref: '#/definitions/String'
        description: The name of the stack.
    required:
      - FleetName
      - StackName
    type: object
  DisassociateFleetResult:
    properties: {}
    type: object
  DisplayName:
    maxLength: 100
    type: string
  DomainJoinInfo:
    description: Contains the information needed for streaming instances to join a domain.
    properties:
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: 'The fully qualified name of the directory (for example, corp.example.com).'
      OrganizationalUnitDistinguishedName:
        $ref: '#/definitions/OrganizationalUnitDistinguishedName'
        description: The distinguished name of the organizational unit for computer accounts.
    type: object
  ErrorMessage:
    description: The error message in the exception.
    type: string
  ExpireSessionRequest:
    properties:
      SessionId:
        $ref: '#/definitions/String'
        description: The ID of the streaming session.
    required:
      - SessionId
    type: object
  ExpireSessionResult:
    properties: {}
    type: object
  Fleet:
    description: Contains the parameters for a fleet.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the fleet.
      ComputeCapacityStatus:
        $ref: '#/definitions/ComputeCapacityStatus'
        description: The capacity status for the fleet.
      CreatedTime:
        $ref: '#/definitions/Timestamp'
        description: The time the fleet was created.
      Description:
        $ref: '#/definitions/String'
        description: The description displayed to end users.
      DisconnectTimeoutInSeconds:
        $ref: '#/definitions/Integer'
        description: 'The time after disconnection when a session is considered to have ended, in seconds. If a user who was disconnected reconnects within this time interval, the user is connected to their previous session. Specify a value between 60 and 57600.'
      DisplayName:
        $ref: '#/definitions/String'
        description: The fleet name displayed to end users.
      DomainJoinInfo:
        $ref: '#/definitions/DomainJoinInfo'
        description: The information needed for streaming instances to join a domain.
      EnableDefaultInternetAccess:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether default internet access is enabled for the fleet.
      FleetErrors:
        $ref: '#/definitions/FleetErrors'
        description: The fleet errors.
      FleetType:
        $ref: '#/definitions/FleetType'
      ImageName:
        $ref: '#/definitions/String'
        description: The image used by the fleet.
      InstanceType:
        $ref: '#/definitions/String'
        description: The instance type to use when launching fleet instances.
      MaxUserDurationInSeconds:
        $ref: '#/definitions/Integer'
        description: 'The maximum time that a streaming session can run, in seconds. Specify a value between 600 and 57600.'
      Name:
        $ref: '#/definitions/String'
        description: The name of the fleet.
      State:
        $ref: '#/definitions/FleetState'
        description: The current state for the fleet.
      VpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: The VPC configuration for the fleet.
    required:
      - Arn
      - Name
      - ImageName
      - InstanceType
      - ComputeCapacityStatus
      - State
    type: object
  FleetAttribute:
    description: The fleet attribute.
    enum:
      - VPC_CONFIGURATION
      - VPC_CONFIGURATION_SECURITY_GROUP_IDS
      - DOMAIN_JOIN_INFO
    type: string
  FleetAttributes:
    description: The fleet attributes.
    items:
      $ref: '#/definitions/FleetAttribute'
    type: array
  FleetError:
    description: Describes a fleet error.
    properties:
      ErrorCode:
        $ref: '#/definitions/FleetErrorCode'
        description: The error code.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: The error message.
    type: object
  FleetErrorCode:
    enum:
      - IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION
      - IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION
      - IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION
      - NETWORK_INTERFACE_LIMIT_EXCEEDED
      - INTERNAL_SERVICE_ERROR
      - IAM_SERVICE_ROLE_IS_MISSING
      - SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES
      - IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION
      - SUBNET_NOT_FOUND
      - IMAGE_NOT_FOUND
      - INVALID_SUBNET_CONFIGURATION
      - SECURITY_GROUPS_NOT_FOUND
      - IGW_NOT_ATTACHED
      - IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION
      - DOMAIN_JOIN_ERROR_FILE_NOT_FOUND
      - DOMAIN_JOIN_ERROR_ACCESS_DENIED
      - DOMAIN_JOIN_ERROR_LOGON_FAILURE
      - DOMAIN_JOIN_ERROR_INVALID_PARAMETER
      - DOMAIN_JOIN_ERROR_MORE_DATA
      - DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN
      - DOMAIN_JOIN_ERROR_NOT_SUPPORTED
      - DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME
      - DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED
      - DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED
      - DOMAIN_JOIN_NERR_PASSWORD_EXPIRED
      - DOMAIN_JOIN_INTERNAL_SERVICE_ERROR
    type: string
  FleetErrors:
    items:
      $ref: '#/definitions/FleetError'
    type: array
  FleetList:
    description: The fleets.
    items:
      $ref: '#/definitions/Fleet'
    type: array
  FleetState:
    enum:
      - STARTING
      - RUNNING
      - STOPPING
      - STOPPED
    type: string
  FleetType:
    enum:
      - ALWAYS_ON
      - ON_DEMAND
    type: string
  Image:
    description: Describes an image.
    properties:
      Applications:
        $ref: '#/definitions/Applications'
        description: The applications associated with the image.
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the image.
      BaseImageArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the image from which this image was created.
      CreatedTime:
        $ref: '#/definitions/Timestamp'
        description: The time the image was created.
      Description:
        $ref: '#/definitions/String'
        description: The description displayed to end users.
      DisplayName:
        $ref: '#/definitions/String'
        description: The image name displayed to end users.
      ImageBuilderSupported:
        $ref: '#/definitions/Boolean'
        description: Indicates whether an image builder can be launched from this image.
      Name:
        $ref: '#/definitions/String'
        description: The name of the image.
      Platform:
        $ref: '#/definitions/PlatformType'
        description: The operating system platform of the image.
      PublicBaseImageReleasedDate:
        $ref: '#/definitions/Timestamp'
        description: 'The release date of the public base image. For private images, this date is the release date of the base image from which the image was created.'
      State:
        $ref: '#/definitions/ImageState'
        description: 'The image starts in the <code>PENDING</code> state. If image creation succeeds, the state is <code>AVAILABLE</code>. If image creation fails, the state is <code>FAILED</code>.'
      StateChangeReason:
        $ref: '#/definitions/ImageStateChangeReason'
        description: The reason why the last state change occurred.
      Visibility:
        $ref: '#/definitions/VisibilityType'
        description: Indicates whether the image is public or private.
    required:
      - Name
    type: object
  ImageBuilder:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
      CreatedTime:
        $ref: '#/definitions/Timestamp'
      Description:
        $ref: '#/definitions/String'
      DisplayName:
        $ref: '#/definitions/String'
      DomainJoinInfo:
        $ref: '#/definitions/DomainJoinInfo'
      EnableDefaultInternetAccess:
        $ref: '#/definitions/BooleanObject'
      ImageArn:
        $ref: '#/definitions/Arn'
      ImageBuilderErrors:
        $ref: '#/definitions/ResourceErrors'
      InstanceType:
        $ref: '#/definitions/String'
      Name:
        $ref: '#/definitions/String'
      Platform:
        $ref: '#/definitions/PlatformType'
      State:
        $ref: '#/definitions/ImageBuilderState'
      StateChangeReason:
        $ref: '#/definitions/ImageBuilderStateChangeReason'
      VpcConfig:
        $ref: '#/definitions/VpcConfig'
    required:
      - Name
    type: object
  ImageBuilderList:
    items:
      $ref: '#/definitions/ImageBuilder'
    type: array
  ImageBuilderState:
    enum:
      - PENDING
      - RUNNING
      - STOPPING
      - STOPPED
      - REBOOTING
      - SNAPSHOTTING
      - DELETING
      - FAILED
    type: string
  ImageBuilderStateChangeReason:
    properties:
      Code:
        $ref: '#/definitions/ImageBuilderStateChangeReasonCode'
      Message:
        $ref: '#/definitions/String'
    type: object
  ImageBuilderStateChangeReasonCode:
    enum:
      - INTERNAL_ERROR
      - IMAGE_UNAVAILABLE
    type: string
  ImageList:
    items:
      $ref: '#/definitions/Image'
    type: array
  ImageState:
    enum:
      - PENDING
      - AVAILABLE
      - FAILED
      - DELETING
    type: string
  ImageStateChangeReason:
    description: Describes the reason why the last state change occurred.
    properties:
      Code:
        $ref: '#/definitions/ImageStateChangeReasonCode'
        description: The state change reason code.
      Message:
        $ref: '#/definitions/String'
        description: The state change reason message.
    type: object
  ImageStateChangeReasonCode:
    enum:
      - INTERNAL_ERROR
      - IMAGE_BUILDER_NOT_AVAILABLE
    type: string
  IncompatibleImageException:
    description: The image does not support storage connectors.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  Integer:
    type: integer
  InvalidParameterCombinationException:
    description: 'Indicates an incorrect combination of parameters, or a missing parameter.'
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  InvalidRoleException:
    description: The specified role is invalid.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  LimitExceededException:
    description: The requested limit exceeds the permitted limit for an account.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ListAssociatedFleetsRequest:
    properties:
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
      StackName:
        $ref: '#/definitions/String'
        description: The name of the stack.
    required:
      - StackName
    type: object
  ListAssociatedFleetsResult:
    properties:
      Names:
        $ref: '#/definitions/StringList'
        description: The names of the fleets.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  ListAssociatedStacksRequest:
    properties:
      FleetName:
        $ref: '#/definitions/String'
        description: The name of the fleet.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    required:
      - FleetName
    type: object
  ListAssociatedStacksResult:
    properties:
      Names:
        $ref: '#/definitions/StringList'
        description: The names of the stacks.
      NextToken:
        $ref: '#/definitions/String'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  Long:
    type: integer
  Metadata:
    items:
      properties:
        key:
          $ref: '#/definitions/String'
        value:
          $ref: '#/definitions/String'
      type: object
    type: array
  Name:
    pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$'
    type: string
  OperationNotPermittedException:
    description: The attempted operation is not permitted.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  OrganizationalUnitDistinguishedName:
    maxLength: 2000
    type: string
  OrganizationalUnitDistinguishedNamesList:
    items:
      $ref: '#/definitions/OrganizationalUnitDistinguishedName'
    type: array
  PlatformType:
    enum:
      - WINDOWS
    type: string
  ResourceAlreadyExistsException:
    description: The specified resource already exists.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ResourceError:
    properties:
      ErrorCode:
        $ref: '#/definitions/FleetErrorCode'
      ErrorMessage:
        $ref: '#/definitions/String'
      ErrorTimestamp:
        $ref: '#/definitions/Timestamp'
    type: object
  ResourceErrors:
    items:
      $ref: '#/definitions/ResourceError'
    type: array
  ResourceIdentifier:
    description: The ARN of the resource.
    minLength: 1
    type: string
  ResourceInUseException:
    description: The specified resource is in use.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ResourceNotAvailableException:
    description: 'The specified resource exists and is not in use, but isn''t available.'
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  ResourceNotFoundException:
    description: The specified resource was not found.
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    type: object
  SecurityGroupIdList:
    description: The security group IDs.
    items:
      $ref: '#/definitions/String'
    maxItems: 5
    type: array
  ServiceAccountCredentials:
    description: Describes the credentials for the service account used by the streaming instance to connect to the directory.
    properties:
      AccountName:
        $ref: '#/definitions/AccountName'
        description: 'The user name of the account. This account must have the following privileges: create computer objects, join computers to the domain, and change/reset the password on descendant computer objects for the organizational units specified.'
      AccountPassword:
        $ref: '#/definitions/AccountPassword'
        description: The password for the account.
    required:
      - AccountName
      - AccountPassword
    type: object
  Session:
    description: Describes a streaming session.
    properties:
      AuthenticationType:
        $ref: '#/definitions/AuthenticationType'
        description: The authentication method. The user is authenticated using a streaming URL (<code>API</code>) or SAML federation (<code>SAML</code>).
      FleetName:
        $ref: '#/definitions/String'
        description: The name of the fleet for the streaming session.
      Id:
        $ref: '#/definitions/String'
        description: The ID of the streaming session.
      StackName:
        $ref: '#/definitions/String'
        description: The name of the stack for the streaming session.
      State:
        $ref: '#/definitions/SessionState'
        description: The current state of the streaming session.
      UserId:
        $ref: '#/definitions/UserId'
        description: The identifier of the user for whom the session was created.
    required:
      - Id
      - UserId
      - StackName
      - FleetName
      - State
    type: object
  SessionList:
    description: List of sessions.
    items:
      $ref: '#/definitions/Session'
    type: array
  SessionState:
    description: Possible values for the state of a streaming session.
    enum:
      - ACTIVE
      - PENDING
      - EXPIRED
    type: string
  Stack:
    description: Describes a stack.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the stack.
      CreatedTime:
        $ref: '#/definitions/Timestamp'
        description: The time the stack was created.
      Description:
        $ref: '#/definitions/String'
        description: The description displayed to end users.
      DisplayName:
        $ref: '#/definitions/String'
        description: The stack name displayed to end users.
      Name:
        $ref: '#/definitions/String'
        description: The name of the stack.
      StackErrors:
        $ref: '#/definitions/StackErrors'
        description: The errors for the stack.
      StorageConnectors:
        $ref: '#/definitions/StorageConnectorList'
        description: The storage connectors to enable.
    required:
      - Name
    type: object
  StackError:
    description: Describes a stack error.
    properties:
      ErrorCode:
        $ref: '#/definitions/StackErrorCode'
        description: The error code.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: The error message.
    type: object
  StackErrorCode:
    enum:
      - STORAGE_CONNECTOR_ERROR
      - INTERNAL_SERVICE_ERROR
    type: string
  StackErrors:
    description: The stack errors.
    items:
      $ref: '#/definitions/StackError'
    type: array
  StackList:
    description: The stacks.
    items:
      $ref: '#/definitions/Stack'
    type: array
  StartFleetRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the fleet.
    required:
      - Name
    type: object
  StartFleetResult:
    properties: {}
    type: object
  StartImageBuilderRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
    required:
      - Name
    type: object
  StartImageBuilderResult:
    properties:
      ImageBuilder:
        $ref: '#/definitions/ImageBuilder'
    type: object
  StopFleetRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the fleet.
    required:
      - Name
    type: object
  StopFleetResult:
    properties: {}
    type: object
  StopImageBuilderRequest:
    properties:
      Name:
        $ref: '#/definitions/String'
    required:
      - Name
    type: object
  StopImageBuilderResult:
    properties:
      ImageBuilder:
        $ref: '#/definitions/ImageBuilder'
    type: object
  StorageConnector:
    description: Describes a storage connector.
    properties:
      ConnectorType:
        $ref: '#/definitions/StorageConnectorType'
        description: The type of storage connector.
      ResourceIdentifier:
        $ref: '#/definitions/ResourceIdentifier'
        description: The ARN of the storage connector.
    required:
      - ConnectorType
    type: object
  StorageConnectorList:
    description: The storage connectors.
    items:
      $ref: '#/definitions/StorageConnector'
    type: array
  StorageConnectorType:
    description: The type of storage connector.
    enum:
      - HOMEFOLDERS
    type: string
  StreamingUrlUserId:
    maxLength: 32
    minLength: 2
    pattern: '[\w+=,.@-]*'
    type: string
  String:
    minLength: 1
    type: string
  StringList:
    items:
      $ref: '#/definitions/String'
    type: array
  SubnetIdList:
    description: The subnet IDs.
    items:
      $ref: '#/definitions/String'
    type: array
  Timestamp:
    format: date-time
    type: string
  UpdateDirectoryConfigRequest:
    properties:
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: The name of the directory configuration.
      OrganizationalUnitDistinguishedNames:
        $ref: '#/definitions/OrganizationalUnitDistinguishedNamesList'
        description: The distinguished names of the organizational units for computer accounts.
      ServiceAccountCredentials:
        $ref: '#/definitions/ServiceAccountCredentials'
        description: The credentials for the service account used by the streaming instance to connect to the directory.
    required:
      - DirectoryName
    type: object
  UpdateDirectoryConfigResult:
    properties:
      DirectoryConfig:
        $ref: '#/definitions/DirectoryConfig'
        description: Information about the directory configuration.
    type: object
  UpdateFleetRequest:
    properties:
      AttributesToDelete:
        $ref: '#/definitions/FleetAttributes'
        description: The fleet attributes to delete.
      ComputeCapacity:
        $ref: '#/definitions/ComputeCapacity'
        description: The desired capacity for the fleet.
      DeleteVpcConfig:
        $ref: '#/definitions/Boolean'
        description: Deletes the VPC association for the specified fleet.
      Description:
        $ref: '#/definitions/Description'
        description: The description displayed to end users.
      DisconnectTimeoutInSeconds:
        $ref: '#/definitions/Integer'
        description: 'The time after disconnection when a session is considered to have ended, in seconds. If a user who was disconnected reconnects within this time interval, the user is connected to their previous session. Specify a value between 60 and 57600.'
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The fleet name displayed to end users.
      DomainJoinInfo:
        $ref: '#/definitions/DomainJoinInfo'
        description: The information needed for streaming instances to join a domain.
      EnableDefaultInternetAccess:
        $ref: '#/definitions/BooleanObject'
        description: Enables or disables default internet access for the fleet.
      ImageName:
        $ref: '#/definitions/String'
        description: The name of the image used by the fleet.
      InstanceType:
        $ref: '#/definitions/String'
        description: '<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>'
      MaxUserDurationInSeconds:
        $ref: '#/definitions/Integer'
        description: 'The maximum time that a streaming session can run, in seconds. Specify a value between 600 and 57600.'
      Name:
        $ref: '#/definitions/String'
        description: A unique name for the fleet.
      VpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: The VPC configuration for the fleet.
    required:
      - Name
    type: object
  UpdateFleetResult:
    properties:
      Fleet:
        $ref: '#/definitions/Fleet'
        description: Information about the fleet.
    type: object
  UpdateStackRequest:
    properties:
      DeleteStorageConnectors:
        $ref: '#/definitions/Boolean'
        description: Deletes the storage connectors currently enabled for the stack.
      Description:
        $ref: '#/definitions/Description'
        description: The description displayed to end users.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The stack name displayed to end users.
      Name:
        $ref: '#/definitions/String'
        description: The name of the stack.
      StorageConnectors:
        $ref: '#/definitions/StorageConnectorList'
        description: The storage connectors to enable.
    required:
      - Name
    type: object
  UpdateStackResult:
    properties:
      Stack:
        $ref: '#/definitions/Stack'
        description: Information about the stack.
    type: object
  UserId:
    maxLength: 32
    minLength: 2
    type: string
  VisibilityType:
    enum:
      - PUBLIC
      - PRIVATE
    type: string
  VpcConfig:
    description: Describes VPC configuration information.
    properties:
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIdList'
        description: The security groups for the fleet.
      SubnetIds:
        $ref: '#/definitions/SubnetIdList'
        description: The subnets to which a network interface is established from the fleet instance.
    type: object
