openapi: 3.0.0
servers:
  - url: https://admin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Admin SDK API
  version: directory_v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://admin.googleapis.com/$discovery/rest?version=directory_v1
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: admin
externalDocs:
  url: https://developers.google.com/admin-sdk/
tags:
  - name: asps
  - name: channels
  - name: chromeosdevices
  - name: customer
  - name: customers
  - name: domainAliases
  - name: domains
  - name: groups
  - name: members
  - name: mobiledevices
  - name: orgunits
  - name: privileges
  - name: resources
  - name: roleAssignments
  - name: roles
  - name: schemas
  - name: tokens
  - name: twoStepVerification
  - name: users
  - name: verificationCodes
paths:
  "/admin/directory/v1/customer/{customerId}/devices/chromeos":
    get:
      description: Retrieves a paginated list of Chrome OS devices within an account.
      operationId: directory.chromeosdevices.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.
          in: query
          name: includeChildOrgunits
          schema:
            type: boolean
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            minimum: 1
            type: integer
        - description: Device property to use for sorting results.
          in: query
          name: orderBy
          schema:
            enum:
              - annotatedLocation
              - annotatedUser
              - lastSync
              - notes
              - serialNumber
              - status
            type: string
        - description: The full path of the organizational unit (minus the leading `/`) or its unique ID.
          in: query
          name: orgUnitPath
          schema:
            type: string
        - description: The `pageToken` query parameter is used to request the next page of query results. The follow-on request's `pageToken` query parameter is the `nextPageToken` from your previous response.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Restrict information returned to a set of selected fields.
          in: query
          name: projection
          schema:
            enum:
              - BASIC
              - FULL
            type: string
        - description: Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/list-query-operators
          in: query
          name: query
          schema:
            type: string
        - description: Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChromeOsDevices"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly
      tags:
        - chromeosdevices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Moves or inserts multiple Chrome OS devices to an organizational unit. You can move up to 50 devices at once.
      operationId: directory.chromeosdevices.moveDevicesToOu
      parameters:
        - description: Immutable. ID of the Google Workspace account
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Full path of the target organizational unit or its ID
          in: query
          name: orgUnitPath
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChromeOsMoveDevicesToOu"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
      tags:
        - chromeosdevices
  "/admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}":
    get:
      description: Retrieves a Chrome OS device's properties.
      operationId: directory.chromeosdevices.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: Determines whether the response contains the full list of properties or only a subset.
          in: query
          name: projection
          schema:
            enum:
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChromeOsDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly
      tags:
        - chromeosdevices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).
      operationId: directory.chromeosdevices.patch
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/v1/reference/chromeosdevices/list) method.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: Restrict information returned to a set of selected fields.
          in: query
          name: projection
          schema:
            enum:
              - BASIC
              - FULL
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChromeOsDevice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChromeOsDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
      tags:
        - chromeosdevices
    put:
      description: Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`.
      operationId: directory.chromeosdevices.update
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/v1/reference/chromeosdevices/list) method.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: Restrict information returned to a set of selected fields.
          in: query
          name: projection
          schema:
            enum:
              - BASIC
              - FULL
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChromeOsDevice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChromeOsDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
      tags:
        - chromeosdevices
  "/admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}":
    get:
      description: Gets command data a specific command issued to the device.
      operationId: admin.customer.devices.chromeos.commands.get
      parameters:
        - description: Immutable. ID of the Google Workspace account.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Immutable. ID of Chrome OS Device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
        - description: Immutable. ID of Chrome OS Device Command.
          in: path
          name: commandId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryChromeosdevicesCommand"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly
      tags:
        - customer
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Issues a command for the device to execute.
      operationId: admin.customer.devices.chromeos.issueCommand
      parameters:
        - description: Immutable. ID of the Google Workspace account.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Immutable. ID of Chrome OS Device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectoryChromeosdevicesIssueCommandRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryChromeosdevicesIssueCommandResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
      tags:
        - customer
  "/admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Takes an action that affects a Chrome OS Device. This includes deprovisioning, disabling, and re-enabling devices. *Warning:* * Deprovisioning a device will stop device policy syncing and remove device-level printers. After a device is deprovisioned, it must be wiped before it can be re-enrolled. * Lost or stolen devices should use the disable action. * Re-enabling a disabled device will consume a device license. If you do not have sufficient licenses available when completing the re-enable action, you will receive an error. For more information about deprovisioning and disabling devices, visit the [help center](https://support.google.com/chrome/a/answer/3523633).
      operationId: directory.chromeosdevices.action
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID of the device. The `resourceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method.
          in: path
          name: resourceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChromeOsDeviceAction"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.chromeos
      tags:
        - chromeosdevices
  "/admin/directory/v1/customer/{customerId}/devices/mobile":
    get:
      description: Retrieves a paginated list of all user-owned mobile devices for an account. To retrieve a list that includes company-owned devices, use the Cloud Identity [Devices API](https://cloud.google.com/identity/docs/concepts/overview-devices) instead. This method times out after 60 minutes. For more information, see [Troubleshoot error codes](https://developers.google.com/admin-sdk/directory/v1/guides/troubleshoot-error-codes).
      operationId: directory.mobiledevices.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Maximum number of results to return. Max allowed value is 100.
          in: query
          name: maxResults
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: Device property to use for sorting results.
          in: query
          name: orderBy
          schema:
            enum:
              - deviceId
              - email
              - lastSync
              - model
              - name
              - os
              - status
              - type
            type: string
        - description: Token to specify next page in the list
          in: query
          name: pageToken
          schema:
            type: string
        - description: Restrict information returned to a set of selected fields.
          in: query
          name: projection
          schema:
            enum:
              - BASIC
              - FULL
            type: string
        - description: Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/search-operators
          in: query
          name: query
          schema:
            type: string
        - description: Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileDevices"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.action
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.action
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.readonly
      tags:
        - mobiledevices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}":
    delete:
      description: Removes a mobile device.
      operationId: directory.mobiledevices.delete
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID the API service uses to identify the mobile device.
          in: path
          name: resourceId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
      tags:
        - mobiledevices
    get:
      description: Retrieves a mobile device's properties.
      operationId: directory.mobiledevices.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID the API service uses to identify the mobile device.
          in: path
          name: resourceId
          required: true
          schema:
            type: string
        - description: Restrict information returned to a set of selected fields.
          in: query
          name: projection
          schema:
            enum:
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileDevice"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.action
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.action
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.readonly
      tags:
        - mobiledevices
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Takes an action that affects a mobile device. For example, remotely wiping a device.
      operationId: directory.mobiledevices.action
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The unique ID the API service uses to identify the mobile device.
          in: path
          name: resourceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MobileDeviceAction"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.action
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.device.mobile.action
      tags:
        - mobiledevices
  "/admin/directory/v1/customer/{customerId}/orgunits":
    get:
      description: Retrieves a list of all organizational units for an account.
      operationId: directory.orgunits.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The full path to the organizational unit or its unique ID. Returns the children of the specified organizational unit.
          in: query
          name: orgUnitPath
          schema:
            type: string
        - description: Whether to return all sub-organizations or just immediate children.
          in: query
          name: type
          schema:
            enum:
              - all
              - children
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUnits"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit.readonly
      tags:
        - orgunits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds an organizational unit.
      operationId: directory.orgunits.insert
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgUnit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUnit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit
      tags:
        - orgunits
  "/admin/directory/v1/customer/{customerId}/orgunits/{orgUnitPath}":
    delete:
      description: Removes an organizational unit.
      operationId: directory.orgunits.delete
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The full path of the organizational unit (minus the leading `/`) or its unique ID.
          in: path
          name: orgUnitPath
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit
      tags:
        - orgunits
    get:
      description: Retrieves an organizational unit.
      operationId: directory.orgunits.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The full path of the organizational unit (minus the leading `/`) or its unique ID.
          in: path
          name: orgUnitPath
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUnit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit.readonly
      tags:
        - orgunits
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an organizational unit. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch)
      operationId: directory.orgunits.patch
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The full path of the organizational unit (minus the leading `/`) or its unique ID.
          in: path
          name: orgUnitPath
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgUnit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUnit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit
      tags:
        - orgunits
    put:
      description: Updates an organizational unit.
      operationId: directory.orgunits.update
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: The full path of the organizational unit (minus the leading `/`) or its unique ID.
          in: path
          name: orgUnitPath
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgUnit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUnit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.orgunit
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.orgunit
      tags:
        - orgunits
  "/admin/directory/v1/customer/{customerId}/schemas":
    get:
      description: Retrieves all schemas for a customer.
      operationId: directory.schemas.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schemas"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema.readonly
      tags:
        - schemas
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a schema.
      operationId: directory.schemas.insert
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Schema"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema
      tags:
        - schemas
  "/admin/directory/v1/customer/{customerId}/schemas/{schemaKey}":
    delete:
      description: Deletes a schema.
      operationId: directory.schemas.delete
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Name or immutable ID of the schema.
          in: path
          name: schemaKey
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema
      tags:
        - schemas
    get:
      description: Retrieves a schema.
      operationId: directory.schemas.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Name or immutable ID of the schema.
          in: path
          name: schemaKey
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema.readonly
      tags:
        - schemas
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches a schema.
      operationId: directory.schemas.patch
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Name or immutable ID of the schema.
          in: path
          name: schemaKey
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Schema"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema
      tags:
        - schemas
    put:
      description: Updates a schema.
      operationId: directory.schemas.update
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Name or immutable ID of the schema.
          in: path
          name: schemaKey
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Schema"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.userschema
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.userschema
      tags:
        - schemas
  "/admin/directory/v1/customer/{customer}/domainaliases":
    get:
      description: Lists the domain aliases of the customer.
      operationId: directory.domainAliases.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Name of the parent domain for which domain aliases are to be fetched.
          in: query
          name: parentDomainName
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainAliases"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
      tags:
        - domainAliases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a domain alias of the customer.
      operationId: directory.domainAliases.insert
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainAlias"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainAlias"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
      tags:
        - domainAliases
  "/admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}":
    delete:
      description: Deletes a domain Alias of the customer.
      operationId: directory.domainAliases.delete
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Name of domain alias to be retrieved.
          in: path
          name: domainAliasName
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
      tags:
        - domainAliases
    get:
      description: Retrieves a domain alias of the customer.
      operationId: directory.domainAliases.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Name of domain alias to be retrieved.
          in: path
          name: domainAliasName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainAlias"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
      tags:
        - domainAliases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customer}/domains":
    get:
      description: Lists the domains of the customer.
      operationId: directory.domains.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domains2"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
      tags:
        - domains
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a domain of the customer.
      operationId: directory.domains.insert
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Domains"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domains"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
      tags:
        - domains
  "/admin/directory/v1/customer/{customer}/domains/{domainName}":
    delete:
      description: Deletes a domain of the customer.
      operationId: directory.domains.delete
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Name of domain to be deleted
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
      tags:
        - domains
    get:
      description: Retrieves a domain of the customer.
      operationId: directory.domains.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Name of domain to be retrieved
          in: path
          name: domainName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domains"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.domain.readonly
      tags:
        - domains
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customer}/resources/buildings":
    get:
      description: Retrieves a list of buildings for an account.
      operationId: directory.resources.buildings.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 500
            minimum: 1
            type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Buildings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
      tags:
        - resources
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a building.
      operationId: directory.resources.buildings.insert
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Source from which Building.coordinates are derived.
          in: query
          name: coordinatesSource
          schema:
            enum:
              - CLIENT_SPECIFIED
              - RESOLVED_FROM_ADDRESS
              - SOURCE_UNSPECIFIED
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Building"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}":
    delete:
      description: Deletes a building.
      operationId: directory.resources.buildings.delete
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The id of the building to delete.
          in: path
          name: buildingId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
    get:
      description: Retrieves a building.
      operationId: directory.resources.buildings.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the building to retrieve.
          in: path
          name: buildingId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
      tags:
        - resources
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches a building.
      operationId: directory.resources.buildings.patch
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The id of the building to update.
          in: path
          name: buildingId
          required: true
          schema:
            type: string
        - description: Source from which Building.coordinates are derived.
          in: query
          name: coordinatesSource
          schema:
            enum:
              - CLIENT_SPECIFIED
              - RESOLVED_FROM_ADDRESS
              - SOURCE_UNSPECIFIED
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Building"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
    put:
      description: Updates a building.
      operationId: directory.resources.buildings.update
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The id of the building to update.
          in: path
          name: buildingId
          required: true
          schema:
            type: string
        - description: Source from which Building.coordinates are derived.
          in: query
          name: coordinatesSource
          schema:
            enum:
              - CLIENT_SPECIFIED
              - RESOLVED_FROM_ADDRESS
              - SOURCE_UNSPECIFIED
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Building"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Building"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/resources/calendars":
    get:
      description: Retrieves a list of calendar resources for an account.
      operationId: directory.resources.calendars.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 500
            minimum: 1
            type: integer
        - description: Field(s) to sort results by in either ascending or descending order. Supported fields include `resourceId`, `resourceName`, `capacity`, `buildingId`, and `floorName`. If no order is specified, defaults to ascending. Should be of the form "field [asc|desc], field [asc|desc], ...". For example `buildingId, capacity desc` would return results sorted first by `buildingId` in ascending order then by `capacity` in descending order.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: String query used to filter results. Should be of the form "field operator value" where field can be any of supported fields and operators can be any of supported operations. Operators include '=' for exact match, '!=' for mismatch and ':' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Logical operators NOT and AND are supported (in this order of precedence). Supported fields include `generatedResourceName`, `name`, `buildingId`, `floor_name`, `capacity`, `featureInstances.feature.name`, `resourceEmail`, `resourceCategory`. For example `buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone`.
          in: query
          name: query
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResources"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
      tags:
        - resources
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a calendar resource.
      operationId: directory.resources.calendars.insert
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarResource"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResource"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}":
    delete:
      description: Deletes a calendar resource.
      operationId: directory.resources.calendars.delete
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the calendar resource to delete.
          in: path
          name: calendarResourceId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
    get:
      description: Retrieves a calendar resource.
      operationId: directory.resources.calendars.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the calendar resource to retrieve.
          in: path
          name: calendarResourceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResource"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
      tags:
        - resources
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches a calendar resource.
      operationId: directory.resources.calendars.patch
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the calendar resource to update.
          in: path
          name: calendarResourceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarResource"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResource"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
    put:
      description: Updates a calendar resource. This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.
      operationId: directory.resources.calendars.update
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the calendar resource to update.
          in: path
          name: calendarResourceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarResource"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResource"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/resources/features":
    get:
      description: Retrieves a list of features for an account.
      operationId: directory.resources.features.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 500
            minimum: 1
            type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Features"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
      tags:
        - resources
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a feature.
      operationId: directory.resources.features.insert
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Feature"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/resources/features/{featureKey}":
    delete:
      description: Deletes a feature.
      operationId: directory.resources.features.delete
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the feature to delete.
          in: path
          name: featureKey
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
    get:
      description: Retrieves a feature.
      operationId: directory.resources.features.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the feature to retrieve.
          in: path
          name: featureKey
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly
      tags:
        - resources
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Patches a feature.
      operationId: directory.resources.features.patch
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the feature to update.
          in: path
          name: featureKey
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Feature"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
    put:
      description: Updates a feature.
      operationId: directory.resources.features.update
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the feature to update.
          in: path
          name: featureKey
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Feature"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feature"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Renames a feature.
      operationId: directory.resources.features.rename
      parameters:
        - description: The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: The unique ID of the feature to rename.
          in: path
          name: oldName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureRename"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.resource.calendar
      tags:
        - resources
  "/admin/directory/v1/customer/{customer}/roleassignments":
    get:
      description: Retrieves a paginated list of all roleAssignments.
      operationId: directory.roleAssignments.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: When set to `true`, fetches indirect role assignments (i.e. role assignment via a group) as well as direct ones. Defaults to `false`. You must specify `user_key` or the indirect role assignments will not be included.
          in: query
          name: includeIndirectRoleAssignments
          schema:
            type: boolean
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 200
            minimum: 1
            type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.
          in: query
          name: roleId
          schema:
            type: string
        - description: The primary email address, alias email address, or unique user or group ID. If included in the request, returns role assignments only for this user or group.
          in: query
          name: userKey
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignments"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
      tags:
        - roleAssignments
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a role assignment.
      operationId: directory.roleAssignments.insert
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleAssignment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
      tags:
        - roleAssignments
  "/admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}":
    delete:
      description: Deletes a role assignment.
      operationId: directory.roleAssignments.delete
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Immutable ID of the role assignment.
          in: path
          name: roleAssignmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
      tags:
        - roleAssignments
    get:
      description: Retrieves a role assignment.
      operationId: directory.roleAssignments.get
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Immutable ID of the role assignment.
          in: path
          name: roleAssignmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
      tags:
        - roleAssignments
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customer}/roles":
    get:
      description: Retrieves a paginated list of all the roles in a domain.
      operationId: directory.roles.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roles"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
      tags:
        - roles
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a role.
      operationId: directory.roles.insert
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Role"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
      tags:
        - roles
  "/admin/directory/v1/customer/{customer}/roles/ALL/privileges":
    get:
      description: Retrieves a paginated list of all privileges for a customer.
      operationId: directory.privileges.list
      parameters:
        - description: The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.
          in: path
          name: customer
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Privileges"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly
      tags:
        - privileges
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/directory/v1/customer/{customer}/roles/{roleId}":
    delete:
      description: Deletes a role.
      operationId: directory.roles.delete
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Immutable ID of the role.
          in: path
          name: roleId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.rolemanagement
      tags:
        - roles
    get:
      description: Retrieves a role.
      operationId: directory.roles.get
      parameters:
[...]
