swagger: '2.0'
schemes:
  - https
host: store.import.io
basePath: /
info:
  title: import.io
  version: '1.0'
  x-logo:
    backgroundColor: '#F6248E'
    url: 'http://api.docs.import.io/images/import-io-logo.svg'
  x-origin:
    format: swagger
    url: 'http://api.docs.import.io/store/swagger.json'
    version: '2.0'
  x-providerName: import.io
  x-serviceName: store
externalDocs:
  url: 'http://api.docs.import.io/'
securityDefinitions:
  api_key:
    in: query
    name: _apikey
    type: apiKey
tags:
  - description: APIs that exist on the run.import.io endpoint
    name: run
  - description: APIs that exist on the data.import.io endpoint
    name: data
  - description: APIs that exist on the extraction.import.io endpoint
    name: extraction
  - description: APIs that exist on the rss.import.io endpoint
    name: rss
  - description: APIs that exist on the store.import.io endpoint
    name: store
  - description: APIs that exist on the schedule.import.io endpoint
    name: schedule
  - name: run.import.io
  - name: data.import.io
  - name: rss.import.io
  - name: extraction.import.io
  - name: schedule.import.io
  - name: store.import.io
paths:
  '/crawlRun/{crawlRunId}/_attachment/csv/{attachmentId}':
    get:
      parameters:
        - description: crawlRunId
          in: path
          name: crawlRunId
          required: true
          type: string
        - description: 'Attachment Id, found in the crawl run object'
          in: path
          name: attachmentId
          required: true
          type: string
      produces:
        - text/csv
      responses:
        '200':
          description: data in csv format
          schema:
            type: file
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID or attachment ID.
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: download the csv file for a specific crawl run
      tags:
        - store.import.io
  '/crawlRun/{crawlRunId}/_attachment/json/{attachmentId}':
    get:
      parameters:
        - description: crawlRunId
          in: path
          name: crawlRunId
          required: true
          type: string
        - description: 'Attachment Id, found in the crawl run object'
          in: path
          name: attachmentId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: data in json format
          schema:
            type: file
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID or attachment ID.
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: download the json file for a specific crawl run
      tags:
        - store.import.io
  '/crawlRun/{crawlRunId}/_attachment/log/{attachmentId}':
    get:
      parameters:
        - description: crawlRunId
          in: path
          name: crawlRunId
          required: true
          type: string
        - description: 'Attachment Id, found in the crawl run object'
          in: path
          name: attachmentId
          required: true
          type: string
      produces:
        - text/csv
      responses:
        '200':
          description: log file csv
          schema:
            type: file
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID or attachment ID.
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: download the log file for a specific crawl run
      tags:
        - store.import.io
  '/crawlRun/{crawlRunId}/_attachment/sample/{attachmentId}':
    get:
      parameters:
        - description: crawlRunId
          in: path
          name: crawlRunId
          required: true
          type: string
        - description: 'Attachment Id, found in the crawl run object'
          in: path
          name: attachmentId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: data in json format
          schema:
            type: file
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID or attachment ID.
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: download the sample json file for a specific crawl run
      tags:
        - store.import.io
  /crawlrun/_search:
    get:
      consumes:
        - application/json
      parameters:
        - description: The field to sort search results by. e.g _meta.creationTimestamp
          in: query
          name: _sort
          required: false
          type: string
        - description: Page of search results
          in: query
          name: _page
          required: false
          type: integer
        - description: extractorId to search
          in: query
          name: extractorId
          required: false
          type: string
        - description: how many crawl runs per page
          in: query
          name: _perpage
          required: false
          type: integer
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: search result for crawl runs
          schema:
            $ref: '#/definitions/ObjectStoreSearchResult'
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID.
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: Search for crawl runs
      tags:
        - store.import.io
  '/crawlrun/{crawlRunId}':
    get:
      consumes:
        - application/json
      parameters:
        - description: crawlRunId
          in: path
          name: crawlRunId
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: crawl run object
          schema:
            $ref: '#/definitions/CrawlRun'
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID.
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: Get the progress of a crawl run
      tags:
        - store.import.io
  '/extractor/{extractorId}/_attachment/urlList':
    put:
      consumes:
        - text/html
      parameters:
        - description: extractorId
          in: path
          name: extractorId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '201':
          description: URL list has been uploaded
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: upload a url list for an extractor
      tags:
        - store.import.io
  '/extractor/{extractorId}/_attachment/urlList/{attachmentId}':
    get:
      parameters:
        - description: extractorId
          in: path
          name: extractorId
          required: true
          type: string
        - description: 'Attachment Id of the urlList, found in the extractor object'
          in: path
          name: attachmentId
          required: true
          type: string
      produces:
        - application/json
      responses:
        '201':
          description: Url list file
          schema:
            type: file
        '401':
          description: User doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        '404':
          description: Unable to find supplied extractor ID
          schema:
            $ref: '#/definitions/APIError'
      security:
        - api_key: []
      summary: down the url list from an extractor
      tags:
        - store.import.io
definitions:
  APIError:
    properties:
      code:
        description: Internal error code
        format: int
        type: integer
      error:
        description: (deprecated) A message containing a brief description of the error
        type: string
      message:
        description: A message containing a brief description of the error
        type: string
    type: object
  CrawlRun:
    properties:
      extractorId:
        type: string
      failedUrlCount:
        format: int32
        type: integer
      guid:
        type: string
      rowCount:
        format: int32
        type: integer
      runtimeConfigId:
        type: string
      startedAt:
        format: int64
        type: integer
      state:
        type: string
      stoppedAt:
        format: int64
        type: integer
      successUrlCount:
        format: int32
        type: integer
      totalUrlCount:
        format: int32
        type: integer
      urlListId:
        type: string
    type: object
  ObjectStoreSearchResult:
    properties:
      hits:
        properties:
          hits:
            items:
              properties:
                _id:
                  type: string
                _score:
                  type: integer
                _type:
                  type: string
                fields:
                  $ref: '#/definitions/CrawlRun'
              type: object
            type: array
          total:
            type: integer
        type: object
      timed_out:
        type: boolean
      took:
        type: integer
    type: object
  QueryResponse:
    properties:
      error:
        type: string
      exceptionType:
        type: string
      extractorData:
        type: object
      pageData:
        type: object
      runtimeConfigId:
        type: string
      sequenceNumber:
        format: int32
        type: integer
      timestamp:
        format: int64
        type: integer
      url:
        type: string
    type: object
  Schedule:
    properties:
      extractorId:
        type: string
      interval:
        type: string
      intervalData:
        properties:
          minutes:
            type: string
          time:
            type: string
          type:
            type: string
        type: object
      nextRunAt:
        format: int64
        type: integer
      ownerId:
        type: string
      startTimestamp:
        format: int64
        type: integer
    type: object
