openapi: 3.0.0
servers:
  - url: https://api.snyk.io/api/v1
x-hasEquivalentPaths: true
info:
  description: |-
    The Snyk API is available to customers on [Business and Enterprise plans](https://snyk.io/plans) and allows you to programatically integrate with Snyk.

    ## REST API

    We are in the process of building a new, improved API (`https://api.snyk.io/rest`) built using the OpenAPI and JSON API standards. We welcome you to try it out as we shape and release endpoints until it, ultimately, becomes a full replacement for our current API.

    Looking for our REST API docs? Please head over to [https://apidocs.snyk.io](https://apidocs.snyk.io)

    ## API vs CLI vs Snyk integration

    The API detailed below has the ability to test a package for issues, as they are defined by Snyk. It is important to note that for many package managers, using this API will be less accurate than running the [Snyk CLI](https://snyk.io/docs/using-snyk) as part of your build pipe, or just using it locally on your package. The reason for this is that more than one package version fit the requirements given in manifest files. Running the CLI locally tests the actual deployed code, and has an accurate snapshot of the dependency versions in use, while the API can only infer it, with inferior accuracy. It should be noted that the Snyk CLI has the ability to output machine-readable JSON output (with the `--json` flag to `snyk test`).

    A third option, is to allow Snyk access to your development flow via the existing [Snyk integrations](https://snyk.io/docs/). The advantage to this approach is having Snyk monitor every new pull request, and suggest fixes by opening new pull requests. This can be achieved either by integrating Snyk directly to your source code management (SCM) tool, or via a broker to allow greater security and auditability.

    If those are not viable options, this API is your best choice.

    ## API url

    The base URL for all API endpoints is https://api.snyk.io/api/v1/

    ## Authorization

    To use this API, you must get your token from Snyk. It can be seen on https://snyk.io/account/ after you register with Snyk and login.

    The token should be supplied in an `Authorization` header with the token, preceded by `token`:

    ```http
    Authorization: token API_KEY
    ```

    Otherwise, a 401 "Unauthorized" response will be returned.

    ```http
    HTTP/1.1 401 Unauthorized

            {
                "code": 401,
                "error": "Not authorised",
                "message": "Not authorised"
            }
    ```

    ## Overview and entities

    The API is a REST API. It has the following entities:

    ### Test result

    The test result is the object returned from the API giving the results of testing a package for issues. It has the following fields:

    | Property        | Type    | Description                                           | Example                                                         |
    |----------------:|---------|-------------------------------------------------------|-----------------------------------------------------------------|
    | ok              | boolean | Does this package have one or more issues?             | false                                                           |
    | issues          | object  | The issues found. See below for details.              | See below                                                       |
    | dependencyCount | number  | The number of dependencies the package has.           | 9                                                               |
    | org             | object  | The organization this test was carried out for.       | {"name": "anOrg", "id": "5d7013d9-2a57-4c89-993c-0304d960193c"} |
    | licensesPolicy  | object  | The organization's licenses policy used for this test | See in the examples                                             |
    | packageManager  | string  | The package manager for this package                  | "maven"                                                         |
    |                 |         |                                                       |                                                                 |

    ### Issue

    An issue is either a vulnerability or a license issue, according to the organization's policy. It has the following fields:

    | Property       | Type          | Description                                                                                                                | Example                                |
    |---------------:|---------------|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------|
    | id             | string        | The issue ID                                                                                                               | "SNYK-JS-BACKBONE-10054"               |
    | url            | string        | A link to the issue details on snyk.io                                                                                     | "https://snyk.io/vuln/SNYK-JS-BACKBONE-10054 |
    | title          | string        | The issue title                                                                                                            | "Cross Site Scripting"                 |
    | type           | string        | The issue type: "license" or "vulnerability".                                                                              | "license"                              |
    | paths          | array         | The paths to the dependencies which have an issue, and their corresponding upgrade path (if an upgrade is available). [More information about from and upgrade paths](#introduction/overview-and-entities/from-and-upgrade-paths) | [<br>&nbsp;&nbsp;{<br>&nbsp;&nbsp;&nbsp;&nbsp;"from": ["a@1.0.0", "b@4.8.1"],<br>&nbsp;&nbsp;&nbsp;&nbsp;"upgrade": [false, "b@4.8.2"]<br>&nbsp;&nbsp;}<br>] |
    | package        | string        | The package identifier according to its package manager                                                                    | "backbone", "org.apache.flex.blazeds:blazeds"|
    | version        | string        | The package version this issue is applicable to.                                                                           | "0.4.0"                                |
    | severity       | string        | The Snyk defined severity level: "critical", "high", "medium" or "low".                                                    | "high"                                 |
    | language       | string        | The package's programming language                                                                                         | "js"                                   |
    | packageManager | string        | The package manager                                                                                                        | "npm"                                  |
    | semver         | array[string] OR map[string]array[string] | One or more [semver](https://semver.org) ranges this issue is applicable to. The format varies according to package manager. | ["<0.5.0, >=0.4.0", "<0.3.8, >=0.3.6"] OR { "vulnerable": ["[2.0.0, 3.0.0)"], "unaffected": ["[1, 2)", "[3, )"] } |

    ### Vulnerability

    A vulnerability in a package. In addition to all the fields present in an issue, a vulnerability also has these fields:

    Property        | Type    | Description                                                                                                                                                                                                                      | Example                                        |
    ----------------:|---------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|
     publicationTime | Date    | The vulnerability publication time                                                                                                                                                                                               | "2016-02-11T07:16:18.857Z"                     |
     disclosureTime  | Date    | The time this vulnerability was originally disclosed to the package maintainers                                                                                                                                                   | "2016-02-11T07:16:18.857Z"                     |
     isUpgradable    | boolean | Is this vulnerability fixable by upgrading a dependency?                                                                                                                                                                         | true                                           |
     description     | string  | The detailed description of the vulnerability, why and how it is exploitable. Provided in markdown format. | "## Overview\n[`org.apache.logging.log4j:log4j-core`](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22log4j-core%22)\nIn Apache Log4j 2.x before 2.8.2, when using the TCP socket server or UDP socket server to receive serialized log events from another application, a specially crafted binary payload can be sent that, when deserialized, can execute arbitrary code.\n\n# Details\nSerialization is a process of converting an object into a sequence of bytes which can be persisted to a disk or database or can be sent through streams. The reverse process of creating object from sequence of bytes is called deserialization. Serialization is commonly used for communication (sharing objects between multiple hosts) and persistence (store the object state in a file or a database). It is an integral part of popular protocols like _Remote Method Invocation (RMI)_, _Java Management Extension (JMX)_, _Java Messaging System (JMS)_, _Action Message Format (AMF)_, _Java Server Faces (JSF) ViewState_, etc.\n\n_Deserialization of untrusted data_ ([CWE-502](https://cwe.mitre.org/data/definitions/502.html)), is when the application deserializes untrusted data without sufficiently verifying that the resulting data will be valid, letting the attacker to control the state or the flow of the execution. \n\nJava deserialization issues have been known for years. However, interest in the issue intensified greatly in 2015, when classes that could be abused to achieve remote code execution were found in a [popular library (Apache Commons Collection)](https://snyk.io/vuln/SNYK-JAVA-COMMONSCOLLECTIONS-30078). These classes were used in zero-days affecting IBM WebSphere, Oracle WebLogic and many other products.\n\nAn attacker just needs to identify a piece of software that has both a vulnerable class on its path, and performs deserialization on untrusted data. Then all they need to do is send the payload into the deserializer, getting the command executed.\n\n> Developers put too much trust in Java Object Serialization. Some even de-serialize objects pre-authentication. When deserializing an Object in Java you typically cast it to an expected type, and therefore Java's strict type system will ensure you only get valid object trees. Unfortunately, by the time the type checking happens, platform code has already created and executed significant logic. So, before the final type is checked a lot of code is executed from the readObject() methods of various objects, all of which is out of the developer's control. By combining the readObject() methods of various classes which are available on the classpath of the vulnerable application an attacker can execute functions (including calling Runtime.exec() to execute local OS commands).\n- Apache Blog\n\n\n## References\n- [NVD](https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2017-5645)\n- [jira issue](https://issues.apache.org/jira/browse/LOG4J2-1863)\n" |
     isPatchable     | boolean | Is this vulnerability fixable by using a Snyk supplied patch?                                                                                                                                                                    | true                                           |
     isPinnable      | boolean | Is this vulnerability fixable by pinning a transitive dependency                                                                                                                                                                 | true                                           |
     identifiers     | object  | Additional vulnerability identifiers                                                                                                                                                                                             | {"CWE": [], "CVE": ["CVE-2016-2402]}           |
     credit          | string  | The reporter of the vulnerability                                                                                                                                                                                                | "Snyk Security Team"                           |
     CVSSv3          | string  | Common Vulnerability Scoring System (CVSS) provides a way to capture the principal characteristics of a vulnerability, and produce a numerical score reflecting its severity, as well as a textual representation of that score. | "CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:L/I:N/A:N" |
     cvssScore       | number  | CVSS Score                                                                                                                                                                                                                       | 5.3                                            |
     patches         | array   | Patches to fix this issue, by snyk                                                                                                                                                                                               | see "Patch" below.                             |
     upgradePath     | object  | The path to upgrade this issue, if applicable                                                                                                                                                                                    | see below                                      |
     isPatched       | boolean | Is this vulnerability patched?                                                                                                                                                                                                   | false                                          |
     exploitMaturity | string  | The snyk exploit maturity level

    #### Patch

    A patch is an object like this one:

    ```json
    {
      "urls": [
        "https://snyk-patches.s3.amazonaws.com/npm/backbone/20110701/backbone_20110701_0_0_0cdc525961d3fa98e810ffae6bcc8e3838e36d93.patch"
      ],
      "version": "<0.5.0 >=0.3.3",
      "modificationTime": "2015-11-06T02:09:36.180Z",
      "comments": [
        "https://github.com/jashkenas/backbone/commit/0cdc525961d3fa98e810ffae6bcc8e3838e36d93.patch"
      ],
      "id": "patch:npm:backbone:20110701:0"
    }
    ```

    ### From and upgrade paths

    Both from and upgrade paths are arrays, where each item within the array is a package `name@version`.

    Take the following `from` path:

    ```
    [
      "my-project@1.0.0",
      "actionpack@4.2.5",
      "rack@1.6.4"
    ]
    ```

    Assuming this was returned as a result of a test, then we know:

    - The package that was tested was `my-project@1.0.0`

    - The dependency with an issue was included in the tested package via the direct dependency `actionpack@4.2.5`

    - The dependency with an issue was [rack@1.6.4](https://snyk.io/vuln/rubygems:rack@1.6.4)

    Take the following `upgrade` path:

    ```
    [
      false,
      "actionpack@5.0.0",
      "rack@2.0.1"
    ]
    ```

    Assuming this was returned as a result of a test, then we know:

    - The package that was tested is not upgradable (`false`)

    - The direct dependency `actionpack` should be upgraded to at least version `5.0.0` in order to fix the issue

    - Upgrading `actionpack` to version `5.0.0` will cause `rack` to be installed at version `2.0.1`

    If the `upgrade` path comes back as an empty array (`[]`) then this means that there is no upgrade path available which would fix the issue.

    ### License issue

    A license issue has no additional fields other than the ones in "Issue".

    ### Snyk organization

    The organization in Snyk this request is applicable to. The organization determines the access rights, licenses policy and is the unit of billing for private projects.

    A Snyk organization has these fields:

    Property    | Type   | Description                   | Example                                |
    -----------:| ------ | ----------------------------- | -------------------------------------- |
    name        | string | The organization display name | "deelmaker"                            |
    id          | string | The ID of the organization    | "3ab0f8d3-b17d-4953-ab6d-e1cbfe1df385" |

    ## Errors

    This is a beta release of this API. Therefore, despite our efforts, errors might occur. In the unlikely event of such an error, it will have the following structure as JSON in the body:

    Property    | Type   | Description                   | Example                                |
    -----------:| ------ | ----------------------------- | -------------------------------------- |
    message     | string | Error message with reference  | Error calling Snyk api (reference: 39db46b1-ad57-47e6-a87d-e34f6968030b) |
    errorRef    | V4 uuid | An error ref to contact Snyk with | 39db46b1-ad57-47e6-a87d-e34f6968030b |

    The error reference will also be supplied in the `x-error-reference` header in the server reply.

    Example response:

    ```http
    HTTP/1.1 500 Internal Server Error
    x-error-reference: a45ec9c1-065b-4f7b-baf8-dbd1552ffc9f
    Content-Type: application/json; charset=utf-8
    Content-Length: 1848
    Vary: Accept-Encoding
    Date: Sun, 10 Sep 2017 06:48:40 GMT
    ```

    ## Rate Limiting

    To ensure resilience against increasing request rates, we are starting to introduce rate-limiting.
    We are monitoring the rate-limiting system to ensure minimal impact on users while ensuring system stability.
    Current limit is up to 2000 requests per minute, per user. This limit is above industry standards, and is subject to change. As such, we recommend calls to the API are throttled regardless of the current limit.
    All requests above the limit will get a response with status code `429` - `Too many requests` until requests stop for the duration of the rate-limiting interval (currently a minute).

    ## Consuming Webhooks

    Webhooks are delivered with a `Content-Type` of `application/json`, with the event payload as JSON in the request body. We also send the following headers:

    - `X-Snyk-Event` - the name of the event

    - `X-Snyk-Transport-ID` - a GUID to identify this delivery

    - `X-Snyk-Timestamp` - an ISO 8601 timestamp for when the event occurred, for example: `2020-09-25T15:27:53Z`

    - `X-Hub-Signature` - the HMAC hex digest of the request body, used to secure your webhooks and ensure the request did indeed come from Snyk

    - `User-Agent` - identifies the origin of the request, for example: `Snyk-Webhooks/XXX`

    ---

    After your server is configured to receive payloads, it listens for any payload sent to the endpoint you configured. For security reasons, you should limit requests to those coming from Snyk.

    ### Validating payloads

    All transports sent to your webhooks have a `X-Hub-Signature` header, which contains the hash signature for the transport. The signature is a HMAC hexdigest of the request body, generated using sha256 and your `secret` as the HMAC key.

    You could use a function in Node.JS such as the following to validate these signatures on incoming requests from Snyk:

    ```javascript
    import * as crypto from 'crypto';

    function verifySignature(request, secret) {
      const hmac = crypto.createHmac('sha256', secret);
      const buffer = JSON.stringify(request.body);
      hmac.update(buffer, 'utf8');

      const signature = `sha256=${hmac.digest('hex')}`;

      return signature === request.headers['x-hub-signature'];
    }
    ```

    ### Payload versioning

    Payloads may evolve over time, and so are versioned. Payload versions are supplied as a suffix to the `X-Snyk-Event` header. For example, `project_snapshot/v0` indicates that the payload is `v0` of the `project_snapshot` event.

    Version numbers only increment when a breaking change is made; for example, removing a field that used to exist, or changing the name of a field. Version numbers do not increment when making an additive change, such as adding a new field that never existed before.

    **Note:** During the BETA phase, the structure of webhook payloads may change at any time, so we  recommend you check the payload version.

    ### Event types

    While consuming a webhook event, `X-Snyk-Event` header must be checked, as an end-point may receive multiple event types.

    #### ping

    The ping event happens after a new webhook is created, and can also be manually triggered using the ping webhook API. This is useful to test that your webhook receives data from Snyk correctly.

    The `ping` event makes the following request:

    ```jsx
    POST /webhook-handler/snyk123 HTTP/1.1
    Host: my.app.com
    X-Snyk-Event: ping/v0
    X-Snyk-Transport-ID: 998fe884-18a0-45db-8ae0-e379eea3bc0a
    X-Snyk-Timestamp: 2020-09-25T15:27:53Z
    X-Hub-Signature: sha256=7d38cdd689735b008b3c702edd92eea23791c5f6
    User-Agent: Snyk-Webhooks/044aadd
    Content-Type: application/json
    {
      "webhookId": "d3cf26b3-2d77-497b-bce2-23b33cc15362"
    }
    ```

    #### project_snapshot

    This event is triggered every time an existing project is tested and a new snapshot is created. It is triggered on every test of a project, whether or not there are new issues. This event is not triggered when a new project is created or imported. Currently supported targets/scan types are Open Source and container.

    ```jsx
    POST /webhook-handler/snyk123 HTTP/1.1
    Host: my.app.com
    X-Snyk-Event: project_snapshot/v0
    X-Snyk-Transport-ID: 998fe884-18a0-45db-8ae0-e379eea3bc0a
    X-Snyk-Timestamp: 2020-09-25T15:27:53Z
    X-Hub-Signature: sha256=7d38cdd689735b008b3c702edd92eea23791c5f6
    User-Agent: Snyk-Webhooks/044aadd
    Content-Type: application/json
    {
      "project": { ... }, // project object matching API responses
      "org": { ... }, // organization object matching API responses
      "group": { ... }, // group object matching API responses
      "newIssues": [], // array of issues object matching API responses
      "removedIssues": [], // array of issues object matching API responses
    }
    ```

    ####  Detailed example of a payload

    ##### project

    see: [https://snyk.docs.apiary.io/#reference/projects](https://snyk.docs.apiary.io/#reference/projects)

    ```tsx
    "project": {
      "name": "snyk/goof",
      "id": "af137b96-6966-46c1-826b-2e79ac49bbd9",
      "created": "2018-10-29T09:50:54.014Z",
      "origin": "github",
      "type": "maven",
      "readOnly": false,
      "testFrequency": "daily",
      "totalDependencies": 42,
      "issueCountsBySeverity": {
        "low": 13,
        "medium": 8,
        "high": 4,
        "critical": 5
      },
      "imageId": "sha256:caf27325b298a6730837023a8a342699c8b7b388b8d878966b064a1320043019",
      "imageTag": "latest",
      "imageBaseImage": "alpine:3",
      "imagePlatform": "linux/arm64",
      "imageCluster": "Production",
      "hostname": null,
      "remoteRepoUrl": "https://github.com/snyk/goof.git",
      "lastTestedDate": "2019-02-05T08:54:07.704Z",
      "browseUrl": "https://app.snyk.io/org/4a18d42f-0706-4ad0-b127-24078731fbed/project/af137b96-6966-46c1-826b-2e79ac49bbd9",
      "importingUser": {
        "id": "e713cf94-bb02-4ea0-89d9-613cce0caed2",
        "name": "example-user@snyk.io",
        "username": "exampleUser",
        "email": "example-user@snyk.io"
      },
      "isMonitored": false,
      "branch": null,
      "targetReference": null,
      "tags": [
        {
          "key": "example-tag-key",
          "value": "example-tag-value"
        }
      ],
      "attributes": {
        "criticality": [
          "high"
        ],
        "environment": [
          "backend"
        ],
        "lifecycle": [
          "development"
        ]
      },
      "remediation": {
        "upgrade": {},
        "patch": {},
        "pin": {}
      }
    }
    ```

    ##### org

    see: [https://snyk.docs.apiary.io/#reference/organizations](https://snyk.docs.apiary.io/#reference/organizations)

    ```tsx
    "org": {
      "name": "My Org",
      "id": "a04d9cbd-ae6e-44af-b573-0556b0ad4bd2",
      "slug": "my-org",
      "url": "https://api.snyk.io/org/my-org",
      "created": "2020-11-18T10:39:00.983Z"
    }
    ```

    ##### group

    see: [https://snyk.docs.apiary.io/#reference/groups](https://snyk.docs.apiary.io/#reference/groups)

    ```tsx
    "group": {
      "name": "ACME Inc.",
       "id": "a060a49f-636e-480f-9e14-38e773b2a97f"
    }
    ```

    ##### issue

    see: https://snyk.docs.apiary.io/#reference/users/user-organization-notification-settings/list-all-aggregated-issues

    ```tsx
    {
      "id": "npm:ms:20170412",
      "issueType": "vuln",
      "pkgName": "ms",
      "pkgVersions": [
        "1.0.0"
      ],
      "issueData": {
        "id": "npm:ms:20170412",
        "title": "Regular Expression Denial of Service (ReDoS)",
        "severity": "low",
        "url": "https://snyk.io/vuln/npm:ms:20170412",
        "description": "Lorem ipsum",
        "identifiers": {
          "CVE": [],
          "CWE": [
            "CWE-400"
          ],
          "ALTERNATIVE": [
            "SNYK-JS-MS-10509"
          ]
        },
        "credit": [
          "Snyk Security Research Team"
        ],
        "exploitMaturity": "no-known-exploit",
        "semver": {
          "vulnerable": [
            ">=0.7.1 <2.0.0"
          ]
        },
        "publicationTime": "2017-05-15T06:02:45Z",
        "disclosureTime": "2017-04-11T21:00:00Z",
        "CVSSv3": "CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:L",
        "cvssScore": 3.7,
        "language": "js",
        "patches": [
          {
            "id": "patch:npm:ms:20170412:2",
            "urls": [
              "https://snyk-patches.s3.amazonaws.com/npm/ms/20170412/ms_071.patch"
            ],
            "version": "=0.7.1",
            "comments": [],
            "modificationTime": "2019-12-03T11:40:45.866206Z"
          }
        ],
        "nearestFixedInVersion": "2.0.0"
      },
      "isPatched": false,
      "isIgnored": false,
      "fixInfo": {
        "isUpgradable": false,
        "isPinnable": false,
        "isPatchable": true,
        "nearestFixedInVersion": "2.0.0"
      },
      "priority": {
        "score": 399,
        "factors": [
          {
            "name": "isFixable",
            "description": "Has a fix available"
          },
          {
            "name": "cvssScore",
            "description": "CVSS 3.7"
          }
        ]
      }
    }
    ```
  title: Snyk API
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - format: swagger
      url: https://snyk.docs.apiary.io/api-description-document
      version: "2.0"
  x-providerName: snyk.io
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - description: For more information users and different user types see [Snyk docs](https://docs.snyk.io/introducing-snyk/snyks-core-concepts/groups-organizations-and-users#user-access-member-types).
    name: Users
  - description: Groups can contain multiple organizations, allowing you to collaborate with multiple teams. For more information on Groups, organizations, and users see [Snyk docs](https://docs.snyk.io/introducing-snyk/snyks-core-concepts/groups-organizations-and-users).
    name: Groups
  - description: For more information on organizations see [Snyk docs](https://docs.snyk.io/introducing-snyk/snyks-core-concepts/groups-organizations-and-users#snyk-organizations).
    name: Organizations
  - description: Integrations are connections to places where code lives. They can be configured from the [Integration page in the Settings area](https://app.snyk.io/manage/integrations) page.
    name: Integrations
  - description: Import projects into Snyk. Projects can be Git repositories, Docker images, containers, configuration files and much more. See the [Projects and Targets documentation](https://docs.snyk.io/getting-started/introduction-to-snyk-projects#targets) for more information. A typical import would start with requesting a target to be processed and then polling the Import Job API for further details on completion and resulting Snyk projects.
    name: Import Projects
  - description: A project is a package that is actively tracked by Snyk.
    name: Projects
  - description: |-
      Dependencies are packages/modules that your projects depend on.

      Current rate limit is up to 150 requests per minute, per user.
      For more information about rate-limiting see: [https://snyk.docs.apiary.io/#introduction/rate-limiting](https://snyk.docs.apiary.io/#introduction/rate-limiting)
    name: Dependencies
  - description: The licenses which the packages/modules in your projects use.
    name: Licenses
  - description: Entitlements are specific abilities an organization has enabled.
    name: Entitlements
  - description: Test a package for issues with Snyk.
    name: Test
  - description: |-
      Snyk constantly discloses new vulnerabilities. Monitor gives you a way to regularly test your project for
      new vulnerabilities and be alerted when action is required in order to keep your project secure.
    name: Monitor
  - description: |-
      Note: The endpoints in this category only support Snyk legacy reporting, not the latest release.

      The reporting API powers our reports section.

      With it you can find answers to questions like how many issues your organisation has, or how many tests have been conducted in a given time frame.

      Current rate limit is up to 70 requests per minute, per user.
      All requests above the limit will get a response with status code `429` - `Too many requests` until requests stop for the duration of the rate-limiting interval (currently a minute).
      For more information about rate-limiting see: [https://snyk.docs.apiary.io/#introduction/rate-limiting](https://snyk.docs.apiary.io/#introduction/rate-limiting)
    name: Reporting API
  - description: Get audit logs of your group or organization. Logs are only available for past 3 months. Note that the API returns personally identifiable information and requires the use of either a personal Snyk API token or a Snyk service account token with Group Admin level permission.
    name: Audit logs
  - description: |-
      ## Intro

      > Warning: the webhooks feature is currently in beta. While in this status, we may change the API and the structure of webhook payloads at any time, without notice.

      Webhooks allow you to be notified of events taking place in the Snyk system and react to changes in your projects.

      Webhooks associate an event type with a URL. When something triggers that event type, Snyk sends an HTTP POST request to the URL with a payload containing information about the event. Currently supported targets/scan types are Open Source and container.

      ## Who can access this feature?

      Only Business and Enterprise customers.

      ## Configuring webhooks

      Webhooks can be configured using our API at organization level, by organization admins.
    name: Webhooks
paths:
  "/group/{groupId}/audit":
    post:
      description: ""
      operationId: Get group level audit logs
      parameters:
        - description: The group ID. The `API_KEY` must have access to this group.
          example: 4a18d42f-0706-4ad0-b127-24078731fbea
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - description: The date you wish to fetch results from, in the format YYYY-MM-DD. Default is 3 months ago. Please note that logs are only available for past 3 months.
          example: 2019-07-01
          in: query
          name: from
          required: false
          schema:
            type: string
        - description: The date you wish to fetch results until, in the format YYYY-MM-DD. Default is today. Please note that logs are only available for past 3 months.
          example: 2019-07-07
          in: query
          name: to
          required: false
          schema:
            type: string
        - description: The page of results to request. Audit logs are returned in page sizes of 100
          example: "1"
          in: query
          name: page
          required: false
          schema:
            type: number
        - description: "The sort order of the returned audit logs by date. Values: `ASC`, `DESC`. Default: `DESC`."
          example: ASC
          in: query
          name: sortOrder
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                filters:
                  event: api.access
                  excludeEvent: api.access
              properties:
                filters:
                  properties:
                    email:
                      description: User email address. Will fetch only audit logs originated from this user's actions. Ignored if the userId filter is set.
                      type: string
                    event:
                      description: Will return only logs for this specific event. Only one of event and excludeEvent may be specified in a request.
                      enum:
                        - api.access
                        - group.cloud_config.settings.edit
                        - group.create
                        - group.delete
                        - group.edit
                        - group.feature_flags.edit
                        - group.notification_settings.edit
                        - group.org.add
                        - group.org.remove
                        - group.policy.create
                        - group.policy.delete
                        - group.policy.edit
                        - group.request_access_settings.edit
                        - group.role.create
                        - group.role.edit
                        - group.service_account.create
                        - group.service_account.delete
                        - group.service_account.edit
                        - group.settings.edit
                        - group.settings.feature_flag.edit
                        - group.sso.auth0_connection.create
                        - group.sso.auth0_connection.edit
                        - group.sso.create
                        - group.sso.edit
                        - group.tag.create
                        - group.tag.delete
                        - group.user.add
                        - group.user.provision.accept
                        - group.user.provision.create
                        - group.user.provision.delete
                        - group.user.remove
                        - group.user.role.edit
                      type: string
                    excludeEvent:
                      description: Will return logs except logs for this event. Only one of event and excludeEvent may be specified in a request.
                      enum:
                        - api.access
                        - group.cloud_config.settings.edit
                        - group.create
                        - group.delete
                        - group.edit
                        - group.feature_flags.edit
                        - group.notification_settings.edit
                        - group.org.add
                        - group.org.remove
                        - group.policy.create
                        - group.policy.delete
                        - group.policy.edit
                        - group.request_access_settings.edit
                        - group.role.create
                        - group.role.edit
                        - group.service_account.create
                        - group.service_account.delete
                        - group.service_account.edit
                        - group.settings.edit
                        - group.settings.feature_flag.edit
                        - group.sso.auth0_connection.create
                        - group.sso.auth0_connection.edit
                        - group.sso.create
                        - group.sso.edit
                        - group.tag.create
                        - group.tag.delete
                        - group.user.add
                        - group.user.provision.accept
                        - group.user.provision.create
                        - group.user.provision.delete
                        - group.user.remove
                        - group.user.role.edit
                      type: string
                    projectId:
                      description: Will return only logs for this specific project.
                      type: string
                    userId:
                      description: User public ID. Will fetch only audit logs originated from this user's actions.
                      type: string
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    - content:
                        after:
                          name: Group Current Name
                        before:
                          name: Group Previous Name
                      created: 2017-04-11T21:00:00.000Z
                      event: group.edit
                      groupId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      orgId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      projectId: null
                      userId: 4a18d42f-0706-4ad0-b127-24078731fbea
          description: OK
          headers:
            Link:
              schema:
                type: string
      summary: Get group level audit logs
      tags:
        - Audit logs
  "/group/{groupId}/members":
    get:
      description: ""
      operationId: List all members in a group
      parameters:
        - description: The group ID. The `API_KEY` must have access admin to this group.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: groupId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    - email: ""
                      groupRole: ""
                      id: ""
                      name: ""
                      orgs:
                        - name: ""
                          role: ""
                      username: ""
              schema:
                items: {}
                type: array
          description: OK
          headers: {}
      summary: List all members in a group
      tags:
        - Groups
  "/group/{groupId}/org/{orgId}/members":
    post:
      description: ""
      operationId: Add a member to an organization within a group
      parameters:
        - description: The group ID. The `API_KEY` must have access admin to this group.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - description: The organization ID we want to add the member to. The `API_KEY` must have access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                role: ""
                userId: ""
              properties:
                role:
                  description: The role of the user, "admin" or "collaborator".
                  type: string
                userId:
                  description: The id of the user.
                  type: string
              type: object
      responses:
        "200":
          description: OK
          headers: {}
      summary: Add a member to an organization within a group
      tags:
        - Groups
  "/group/{groupId}/orgs":
    get:
      description: ""
      operationId: List all organizations in a group
      parameters:
        - description: The group ID. The `API_KEY` must have READ access to this group and LIST organizations access in this group.
          example: a060a49f-636e-480f-9e14-38e773b2a97f
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - description: The number of results to return (maximum is 100).
          example: "100"
          in: query
          name: perPage
          required: false
          schema:
            default: 100
            type: number
        - description: For pagination - offset (from which to start returning results).
          example: "1"
          in: query
          name: page
          required: false
          schema:
            type: number
        - description: Only organizations that have a name that **starts with** this value (case insensitive) will be returned.
          example: my
          in: query
          name: name
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    created: 2021-06-07T00:00:00.000Z
                    id: a060a49f-636e-480f-9e14-38e773b2a97f
                    name: ACME Inc.
                    orgs:
                      - created: 2021-06-07T00:00:00.000Z
                        id: 689ce7f9-7943-4a71-b704-2ba575f01089
                        name: myDefaultOrg
                        slug: my-default-org
                        url: https://api.snyk.io/org/default-org
                      - created: 2021-06-07T00:00:00.000Z
                        id: a04d9cbd-ae6e-44af-b573-0556b0ad4bd2
                        name: My Other Org
                        slug: my-other-org
                        url: https://api.snyk.io/org/my-other-org
                    url: https://api.snyk.io/group/0dfc509a-e7a9-48ef-9d39-649d6468fc09
          description: OK
          headers: {}
      summary: List all organizations in a group
      tags:
        - Groups
  "/group/{groupId}/roles":
    get:
      description: ""
      operationId: List all roles in a group
      parameters:
        - description: The group ID. The `API_KEY` must have READ access to this group.
          example: a060a49f-636e-480f-9e14-38e773b2a97f
          in: path
          name: groupId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    - created: 2021-04-22T16:02:53.233Z
                      description: Collaborator
                      modified: 2021-04-22T16:02:53.332Z
                      name: Org Collaborator
                      publicId: 6525b356-a400-465f-b2e5-3eee1161e69f
                    - created: 2021-04-22T16:02:53.233Z
                      description: Admin
                      modified: 2021-04-22T16:02:53.332Z
                      name: Org Admin
                      publicId: af047fef-69f3-4bd9-9760-8957ce0d2ece
          description: OK
          headers: {}
      summary: List all roles in a group
      tags:
        - Groups
  "/group/{groupId}/settings":
    get:
      description: ""
      operationId: View group settings
      parameters:
        - description: The group ID. The `API_KEY` must have admin access to this group.
          example: b61bc07c-27c6-42b3-8b04-0f228ed31a67
          in: path
          name: groupId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  requestAccess:
                    description: Can only be updated if `API_KEY` has edit access to request access settings.
                    properties:
                      enabled:
                        description: Choose whether a user may request access to Snyk orgs in this group that they are not a member of.
                        type: boolean
                    required:
                      - enabled
                    type: object
                  sessionLength:
                    description: The new session length for the group in minutes. This must be an integer between 1 and 43200 (30 days). Setting this value to null will result in this group inheriting from the global default of 30 days.
                    type: number
                type: object
          description: OK
          headers: {}
      summary: View group settings
      tags:
        - Groups
    put:
      description: ""
      operationId: Update group settings
      parameters:
        - description: Automatically added
          in: path
          name: groupId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  requestAccess:
                    description: Can only be updated if `API_KEY` has edit access to request access settings.
                    properties:
                      enabled:
                        description: Choose whether a user may request access to Snyk orgs in this group that they are not a member of.
                        type: boolean
                    required:
                      - enabled
                    type: object
                  sessionLength:
                    description: The new session length for the group in minutes. This must be an integer between 1 and 43200 (30 days). Setting this value to null will result in this group inheriting from the global default of 30 days.
                    type: number
                type: object
          description: OK
          headers: {}
      summary: Update group settings
      tags:
        - Groups
  "/group/{groupId}/tags":
    get:
      description: ""
      operationId: List all tags in a group
      parameters:
        - description: The group ID. The `API_KEY` must have access admin to this group.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - description: The number of results to return (the default is 1000).
          example: "10"
          in: query
          name: perPage
          required: false
          schema:
            type: number
        - description: The offset from which to start returning results from.
          example: "1"
          in: query
          name: page
          required: false
          schema:
            type: number
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    tags:
                      - key: meta
                        value: Alfa
                      - key: meta
                        value: Bravo
                      - key: meta
                        value: Charlie
                      - key: meta
                        value: Delta
                      - key: meta
                        value: Echo
                      - key: meta
                        value: Foxtrot
                      - key: meta
                        value: Golf
                      - key: meta
                        value: Hotel
                      - key: meta
                        value: India
                      - key: meta
                        value: Juliet
              schema:
                properties:
                  tags:
                    items: {}
                    type: array
                type: object
          description: OK
          headers:
            Link:
              schema:
                type: string
      summary: List all tags in a group
      tags:
        - Groups
  "/group/{groupId}/tags/delete":
    post:
      description: ""
      operationId: Delete tag from group
      parameters:
        - description: The group ID. The `API_KEY` must have access admin to this group.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: groupId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                force: false
                key: ""
                value: ""
              properties:
                force:
                  description: force delete tag that has entities (default is `false`).
                  type: boolean
                key:
                  description: Valid tag key.
                  type: string
                value:
                  description: Valid tag value.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    force: false
                    key: ""
                    value: ""
              schema:
                properties:
                  force:
                    description: force delete tag that has entities (default is `false`).
                    type: boolean
                  key:
                    description: Valid tag key.
                    type: string
                  value:
                    description: Valid tag value.
                    type: string
                type: object
          description: OK
          headers: {}
      summary: Delete tag from group
      tags:
        - Groups
  /monitor/dep-graph:
    post:
      description: Use this endpoint to monitor a [DepGraph data object](https://github.com/snyk/dep-graph#depgraphdata).
      operationId: Monitor Dep Graph
      parameters:
        - description: The organization to test the package with. See "The Snyk organization for a request" above.
          example: 9695cbb1-3a87-4d6f-8ae1-61a1c37ee9f7
          in: query
          name: org
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                depGraph:
                  graph:
                    nodes:
                      - deps:
                          - nodeId: ch.qos.logback:logback-core@1.0.13
                        nodeId: root-node
                        pkgId: my-maven-app@1.0.0
                      - deps: []
                        nodeId: ch.qos.logback:logback-core@1.0.13
                        pkgId: ch.qos.logback:logback-core@1.0.13
                    rootNodeId: root-node
                  pkgManager:
                    name: maven
                  pkgs:
                    - id: my-maven-app@1.0.0
                      info:
                        name: my-maven-app
                        version: 1.0.0
                    - id: ch.qos.logback:logback-core@1.0.13
                      info:
                        name: ch.qos.logback:logback-core
                        version: 1.0.13
                  schemaVersion: 1.2.0
              properties:
                depGraph:
                  description: A [DepGraph data object](https://github.com/snyk/dep-graph#depgraphdata) defining all packages and their relationships.
                  properties:
                    graph:
                      description: Graph object references each pkg and how they depend on each other through the deps property.
                      properties:
                        nodes:
                          description: Array of node objects.
                          items: {}
                          type: array
                        rootNodeId:
                          description: Root node id. Note the root node name is used as your project name.
                          type: string
                      required:
                        - rootNodeId
                        - nodes
                      type: object
                    pkgManager:
                      description: Package manager information.
                      properties:
                        name:
                          description: Package manager name.
                          type: string
                        repositories:
                          description: A list of package repositories (i.e. maven-central, or npm) that defaults to the canonical package registry for the given package manager.
                          items: {}
                          type: array
                      required:
                        - name
                      type: object
                    pkgs:
                      description: Array of package dependencies.
                      items: {}
                      type: array
                    schemaVersion:
                      description: Snyk DepGraph library schema version.
                      type: string
                  required:
                    - schemaVersion
                    - pkgManager
                    - pkgs
                    - graph
                  type: object
                meta:
                  description: Project metadata
                  properties:
                    targetFramework:
                      description: Required for a NuGet or Paket DepGraph only. Specify the target framework in your project file using Target Framework Monikers (TFMs). For example, netstandard1.0, netcoreapp1.0 or net452. Test each framework separately if you have multiple defined.
                      type: string
                  type: object
              required:
                - depGraph
              type: object
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    id: f7c065cd-5850-462d-a0ca-9719d07e3e38
                    ok: true
                    uri: https://app.snyk.io/org/my-org/project/f7c065cd-5850-462d-a0ca-9719d07e3e38/history/39d14036-31f3-4f22-8037-1d979e0516ef
          description: OK
          headers: {}
      summary: Monitor Dep Graph
      tags:
        - Monitor
  /org:
    post:
      description: ""
      operationId: Create a new organization
      requestBody:
        content:
          application/json:
            schema:
              example:
                groupId: 4a18d42f-0706-4ad0-b127-24078731fbed
                name: new-org
                sourceOrgId: 6b4a3261-b68f-43a0-9218-1f082e77f879
              properties:
                groupId:
                  description: The group ID. The `API_KEY` must have access to this group.
                  type: string
                name:
                  description: The name of the new organization
                  type: string
                sourceOrgId:
                  description: |-
                    The id of an organization to copy settings from.

                    If provided, this organization must be associated with the same group.

                    The items that will be copied are: 
                    Source control integrations (GitHub, GitLab, BitBucket)
                    \+ Container registries integrations (ACR, Docker Hub, ECR, GCR)
                    \+ Container orchestrators integrations (Kubernetes)
                    \+ PaaS and Serverless Integrations (Heroku, AWS Lambda)
                    \+ Notification integrations (Slack, Jira)
                    \+ Policies
                    \+ Ignore settings
                    \+ Language settings
                    \+ Infrastructure as Code settings
                    \+ Snyk Code settings

                    The following will not be copied across:
                    Service accounts
                    \+ Members
                    \+ Projects
                    \+ Notification preferences
                  type: string
              required:
                - name
              type: object
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    created: 2021-01-07T16:07:16.237Z
                    group:
                      id: 4a18d42f-0706-4ad0-b127-24078731fbed
                      name: test-group
                    id: 0356f641-c55c-488f-af05-c2122590f369
                    name: new-org
                    slug: new-org
                    url: https://snyk.io/org/new-org
          description: Created
          headers: {}
        "400":
          content:
            "application/json, charset=utf-8":
              examples:
                response:
                  value:
                    errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
                    message: Unexpected error whilst deleting org
              schema:
                properties:
                  errorRef:
                    description: "[UUID] An error ref to contact Snyk with"
                    type: string
                  message:
                    description: The error message
                    type: string
                type: object
            application/json; charset=utf-8:
              schema:
                properties:
                  errorRef:
                    description: "[UUID] An error ref to contact Snyk with"
                    type: string
                  message:
                    description: The error message
                    type: string
                type: object
          description: A group of errors that happened in the process of creating a new organization and were unexpected
          headers: {}
        "401":
          content:
            "application/json, charset=utf-8":
              examples:
                response:
                  value:
                    errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
                    message: You must have the required permissions to add an org
              schema:
                properties:
                  errorRef:
                    description: "[UUID] An error ref to contact Snyk with"
                    type: string
                  message:
                    description: The error message
                    type: string
                type: object
            application/json; charset=utf-8:
              schema:
                properties:
                  errorRef:
                    description: "[UUID] An error ref to contact Snyk with"
                    type: string
                  message:
                    description: The error message
                    type: string
                type: object
          description: Authorization errors.
          headers: {}
        "422":
          content:
            "application/json, charset=utf-8":
              examples:
                response:
                  value:
                    errorRef: 49f168a0-a084-4cd8-93ff-63f3a0f06bc6
                    message: Please provide a new organization name in the body of the request
              schema:
                properties:
                  errorRef:
                    description: "[UUID] An error ref to contact Snyk with"
                    type: string
                  message:
                    description: The error message
                    type: string
                type: object
            application/json; charset=utf-8:
              schema:
                properties:
                  errorRef:
                    description: "[UUID] An error ref to contact Snyk with"
                    type: string
                  message:
                    description: The error message
                    type: string
                type: object
          description: A group of errors that show input errors about the parameters provided in the request.
          headers: {}
      summary: Create a new organization
      tags:
        - Organizations
  "/org/{orgId}":
    delete:
      description: ""
      operationId: Remove organization
      parameters:
        - description: The organization ID. The `API_KEY` must have permission to delete the provided organization. Currently this operation is only supported for organizations without any projects.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
          headers: {}
      summary: Remove organization
      tags:
        - Organizations
  "/org/{orgId}/audit":
    post:
      description: ""
      operationId: Get organization level audit logs
      parameters:
        - description: The organization ID. The `API_KEY` must have access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbea
          in: path
          name: orgId
          required: true
          schema:
            type: string
        - description: The date you wish to fetch results from, in the format YYYY-MM-DD. Default is 3 months ago. Please note that logs are only available for past 3 months.
          example: 2019-07-01
          in: query
          name: from
          required: false
          schema:
            type: string
        - description: The date you wish to fetch results until, in the format YYYY-MM-DD. Default is today. Please note that logs are only available for past 3 months.
          example: 2019-07-07
          in: query
          name: to
          required: false
          schema:
            type: string
        - description: The page of results to request. Audit logs are returned in page sizes of 100.
          example: "1"
          in: query
          name: page
          required: false
          schema:
            type: number
        - description: "The sort order of the returned audit logs by date. Values: `ASC`, `DESC`. Default: `DESC`."
          example: ASC
          in: query
          name: sortOrder
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                filters:
                  event: api.access
                  excludeEvent: api.access
              properties:
                filters:
                  properties:
                    email:
                      description: User email address. Will fetch only audit logs originated from this user's actions. Ignored if the userId filter is set.
                      type: string
                    event:
                      description: Will return only logs for this specific event. Only one of event and excludeEvent may be specified in a request.
                      enum:
                        - api.access
                        - org.billing.info.edit
                        - org.billing.subscription.edit
                        - org.cloud_config.settings.edit
                        - org.create
                        - org.delete
                        - org.edit
                        - org.ignore_policy.edit
                        - org.integration.create
                        - org.integration.delete
                        - org.integration.edit
                        - org.integration.settings.edit
                        - org.language_settings.edit
                        - org.license_rule.create
                        - org.license_rule.delete
                        - org.license_rule.edit
                        - org.notification_settings.edit
                        - org.policy.edit
                        - org.project.add
                        - org.project.attributes.edit
                        - org.project.delete
                        - org.project.edit
                        - org.project.fix_pr.auto_open
                        - org.project.fix_pr.manual_open
                        - org.project.ignore.create
                        - org.project.ignore.delete
                        - org.project.ignore.edit
                        - org.project.monitor
                        - org.project.pr_check.edit
                        - org.project.remove
                        - org.project.settings.delete
                        - org.project.settings.edit
                        - org.project.stop_monitor
                        - org.project.tag.add
                        - org.project.tag.remove
                        - org.project.test
                        - org.request_access_settings.edit
                        - org.sast_settings.edit
                        - org.service_account.create
                        - org.service_account.delete
                        - org.service_account.edit
                        - org.service_account.membership.upsert
                        - org.settings.feature_flag.edit
                        - org.target.create
                        - org.target.delete
                        - org.user.add
                        - org.user.invite
                        - org.user.invite.accept
                        - org.user.invite.revoke
                        - org.user.invite_link.accept
                        - org.user.invite_link.create
                        - org.user.invite_link.revoke
                        - org.user.leave
                        - org.user.provision.accept
                        - org.user.provision.create
                        - org.user.provision.delete
                        - org.user.remove
                        - org.user.role.create
                        - org.user.role.delete
                        - org.user.role.details.edit
                        - org.user.role.edit
                        - org.user.role.permissions.edit
                        - org.webhook.add
                        - org.webhook.delete
                      type: string
                    excludeEvent:
                      description: Will return logs except logs for this event. Only one of event and excludeEvent may be specified in a request.
                      enum:
                        - api.access
                        - org.billing.info.edit
                        - org.billing.subscription.edit
                        - org.cloud_config.settings.edit
                        - org.create
                        - org.delete
                        - org.edit
                        - org.ignore_policy.edit
                        - org.integration.create
                        - org.integration.delete
                        - org.integration.edit
                        - org.integration.settings.edit
                        - org.language_settings.edit
                        - org.license_rule.create
                        - org.license_rule.delete
                        - org.license_rule.edit
                        - org.notification_settings.edit
                        - org.policy.edit
                        - org.project.add
                        - org.project.attributes.edit
                        - org.project.delete
                        - org.project.edit
                        - org.project.fix_pr.auto_open
                        - org.project.fix_pr.manual_open
                        - org.project.ignore.create
                        - org.project.ignore.delete
                        - org.project.ignore.edit
                        - org.project.monitor
                        - org.project.pr_check.edit
                        - org.project.remove
                        - org.project.settings.delete
                        - org.project.settings.edit
                        - org.project.stop_monitor
                        - org.project.tag.add
                        - org.project.tag.remove
                        - org.project.test
                        - org.request_access_settings.edit
                        - org.sast_settings.edit
                        - org.service_account.create
                        - org.service_account.delete
                        - org.service_account.edit
                        - org.service_account.membership.upsert
                        - org.settings.feature_flag.edit
                        - org.target.create
                        - org.target.delete
                        - org.user.add
                        - org.user.invite
                        - org.user.invite.accept
                        - org.user.invite.revoke
                        - org.user.invite_link.accept
                        - org.user.invite_link.create
                        - org.user.invite_link.revoke
                        - org.user.leave
                        - org.user.provision.accept
                        - org.user.provision.create
                        - org.user.provision.delete
                        - org.user.remove
                        - org.user.role.create
                        - org.user.role.delete
                        - org.user.role.details.edit
                        - org.user.role.edit
                        - org.user.role.permissions.edit
                        - org.webhook.add
                        - org.webhook.delete
                      type: string
                    projectId:
                      description: Will return only logs for this specific project.
                      type: string
                    userId:
                      description: User public ID. Will fetch only audit logs originated from this user's actions.
                      type: string
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    - content:
                        email: someone@snyk.io
                        isAdmin: false
                      created: 2017-04-11T21:00:00.000Z
                      event: org.user.invite
                      groupId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      orgId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      projectId: null
                      userId: 4a18d42f-0706-4ad0-b127-24078731fbea
                    - content:
                        after: ADMIN
                        before: COLLABORATOR
                        userPublicId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      created: 2017-05-15T06:02:45.497Z
                      event: org.user.role.edit
                      groupId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      orgId: 4a18d42f-0706-4ad0-b127-24078731fbea
                      projectId: null
                      userId: 4a18d42f-0706-4ad0-b127-24078731fbea
          description: OK
          headers:
            Link:
              schema:
                type: string
      summary: Get organization level audit logs
      tags:
        - Audit logs
  "/org/{orgId}/dependencies":
    post:
      description: ""
      operationId: List all dependencies
      parameters:
        - description: The organization ID to list projects for. The `API_KEY` must have access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
        - description: The field to sort results by.
          example: dependency
          in: query
          name: sortBy
          required: false
          schema:
            default: dependency
            enum:
              - projects
              - dependency
              - severity
              - dependenciesWithIssues
            type: string
        - description: The direction to sort results by.
          in: query
          name: order
          required: false
          schema:
            default: asc
            enum:
              - asc
              - desc
            type: string
        - description: The page of results to fetch.
          in: query
          name: page
          required: false
          schema:
            default: 1
            type: number
        - description: The number of results to fetch per page (maximum is 1000).
          in: query
          name: perPage
          required: false
          schema:
            default: 20
            type: number
      requestBody:
        content:
          application/json:
            schema:
              example:
                filters:
                  depStatus: ""
                  dependencies: []
                  languages:
                    - cpp
                    - dockerfile
                    - dotnet
                    - elixir
                    - golang
                    - helm
                    - java
                    - javascript
                    - kubernetes
                    - linux
                    - php
                    - python
                    - ruby
                    - scala
                    - swift
                    - terraform
                  licenses: []
                  projects: []
                  severity:
                    - critical
                    - high
                    - medium
                    - low
              properties:
                filters:
                  properties:
                    depStatus:
                      description: "Status of the dependency. Requires reporting entitlement. Options: `deprecated` - Include only deprecated packages; `notDeprecated` - Include all packages that are not marked as deprecated; `any` - Include all packages (default)"
                      type: string
                    dependencies:
                      description: The list of dependency IDs to filter the results by (i.e amdefine@1.0.1 or org.javassist:javassist@3.18.1-GA)
                    languages:
                      description: The type of languages to filter the results by
                      items: {}
                      type: array
                    licenses:
                      description: The list of license IDs to filter the results by
                    projects:
                      description: The list of project IDs to filter the results by
                    severity:
                      description: The severities to filter the results by
                      items: {}
                      type: array
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    results:
                      - copyright:
                          - Copyright (c) 2013-2018 Blaine Bublitz <blaine.bublitz@gmail.com>
                          - Copyright (c) Eric Schoffstall <yo@contra.io> and other contributors
                        dependenciesWithIssues:
                          - minimatch@2.0.10
                          - minimatch@0.2.14
                        deprecatedVersions:
                          - 0.0.1
                          - 0.0.2
                          - 0.0.3
                        firstPublishedDate: 2013-07-04T23:27:07.828Z
                        id: gulp@3.9.1
                        isDeprecated: false
                        latestVersion: 4.0.0
                        latestVersionPublishedDate: 2018-01-01T01:29:06.863Z
                        licenses:
                          - id: snyk:lic:npm:gulp:MIT
                            license: MIT
                            title: MIT license
                        name: gulp
                        projects:
                          - id: 6d5813be-7e6d-4ab8-80c2-1e3e2a454545
                            name: atokeneduser/goof
                        type: npm
                        version: 3.9.1
                    total: 1
              schema:
                properties:
                  results:
                    description: A list of issues
                    items:
                      properties:
                        copyright:
                          description: The copyright notices for the package
                          items: {}
                          type: array
                        dependenciesWithIssues:
                          description: The identifiers of dependencies with issues that are depended upon as a result of this dependency
                          items: {}
                          type: array
                        deprecatedVersions:
                          description: The numbers for those versions that are marked as deprecated
                          items: {}
                          type: array
                        firstPublishedDate:
                          description: The timestamp for when the specified package was first published.
                          type: string
                        id:
                          description: The identifier of the package
                          type: string
                        isDeprecated:
                          description: True if the latest version of the package is marked as deprecated; False otherwise.
                          type: boolean
                        issuesCritical:
                          description: The number of critical severity issues in this dependency
                          type: number
                        issuesHigh:
                          description: The number of high severity issues in this dependency
                          type: number
                        issuesLow:
                          description: The number of low severity issues in this dependency
                          type: number
                        issuesMedium:
                          description: The number of medium severity issues in this dependency
                          type: number
                        latestVersion:
                          description: The latest version available for the specified package
                          type: string
                        latestVersionPublishedDate:
                          description: The timestamp for when the latest version of the specified package was published.
                          type: string
                        licenses:
                          description: The licenses of the dependency
                          items:
                            properties:
                              id:
                                description: The identifier of the license
                                type: string
                              license:
                                description: The type of the license
                                type: string
                              title:
                                description: The title of the license
                                type: string
                            required:
                              - id
                              - title
                              - license
                            type: object
                          type: array
                        name:
                          description: The name of the package
                          type: string
                        projects:
                          description: The projects which depend on the dependency
                          items:
                            properties:
                              id:
                                description: The identifier of the project
                                type: string
                              name:
                                description: The name of the project
                                type: string
                            required:
                              - id
                              - name
                            type: object
                          type: array
                        type:
                          description: The package type of the dependency
                          type: string
                        version:
                          description: The version of the package
                          type: string
                      required:
                        - id
                        - name
                        - version
                        - type
                        - licenses
                        - projects
                      type: object
                    type: array
                  total:
                    description: The number of results returned
                    type: number
                required:
                  - results
                type: object
          description: OK
          headers:
            Link:
              schema:
                type: string
      summary: List all dependencies
      tags:
        - Dependencies
  "/org/{orgId}/entitlement/{entitlementKey}":
    get:
      description: ""
      operationId: Get an organization's entitlement value
      parameters:
        - description: The organization ID to query the entitlement for. The `API_KEY` must have access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
        - description: The entitlement to query.
          example: reports
          in: path
          name: entitlementKey
          required: true
          schema:
            enum:
              - licenses
              - reports
              - fullVulnDB
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value: true
          description: OK
          headers: {}
      summary: Get an organization's entitlement value
      tags:
        - Entitlements
  "/org/{orgId}/entitlements":
    get:
      description: ""
      operationId: List all entitlements
      parameters:
        - description: The organization ID to list entitlements for. The `API_KEY` must have access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    fullVulnDB: false
                    licenses: true
                    reports: true
          description: OK
          headers: {}
      summary: List all entitlements
      tags:
        - Entitlements
  "/org/{orgId}/integrations":
    get:
      description: ""
      operationId: List
      parameters:
        - description: The organization public ID. The `API_KEY` must have admin access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    bitbucket-cloud: 6jje4c92-e7rn-t59a-f456-8n5675432fe9
                    github: 9a3e5d90-b782-468a-a042-9a2073736f0b
                    gitlab: 1b3e3d90-c678-347a-n232-6a3453738h1e
              schema:
                properties: {}
                type: object
          description: OK
          headers: {}
      summary: List
      tags:
        - Integrations
    post:
      description: Add new integration for given organization.
      operationId: Add new integration
      parameters:
        - description: The organization ID. The `API_KEY` must have admin access to this organization.
          example: 4a18d42f-0706-4ad0-b127-24078731fbed
          in: path
          name: orgId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - example:
                    credentials:
                      token: GITHUB_TOKEN
                    type: github
                  properties:
                    credentials:
                      description: credentials for given integration
                      oneOf:
                        - properties:
                            AcrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `name.azurecr.io`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                        - properties:
                            ArtifactoryCrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `name.jfrog.io`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                        - properties:
                            AzureReposCredentials:
                              properties:
                                url:
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - url
                              type: object
                        - properties:
                            BitbucketCloudCredentials:
                              properties:
                                password:
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                              type: object
                        - properties:
                            BitbucketServerCredentials:
                              properties:
                                password:
                                  type: string
                                url:
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - url
                              type: object
                        - properties:
                            DigitalOceanCrCredentials:
                              properties:
                                token:
                                  description: Personal Access Token
                                  type: string
                              required:
                                - token
                              type: object
                        - properties:
                            DockerHubCredentials:
                              properties:
                                password:
                                  description: Access Token
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                              type: object
                        - properties:
                            EcrCredentials:
                              properties:
                                region:
                                  description: "e.g.: `eu-west-3`"
                                  type: string
                                roleArn:
                                  description: "e.g.: `arn:aws:iam::<account-id>:role/<newRole>`"
                                  type: string
                              required:
                                - region
                                - roleArn
                              type: object
                        - properties:
                            GcrCredentials:
                              properties:
                                password:
                                  description: JSON key file
                                  type: string
                                registryBase:
                                  description: "e.g.: `gcr.io`, `us.gcr.io`, `eu.gcr.io`, `asia.gcr.io`"
                                  type: string
                              required:
                                - password
                                - registryBase
                              type: object
                        - properties:
                            GitHubCredentials:
                              properties:
                                token:
                                  type: string
                              required:
                                - token
                              type: object
                        - properties:
                            GitHubCrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `ghcr.io`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                        - properties:
                            GitHubEnterpriseCredentials:
                              properties:
                                token:
                                  type: string
                                url:
                                  type: string
                              required:
                                - token
                                - url
                              type: object
                        - properties:
                            GitLabCredentials:
                              properties:
                                token:
                                  type: string
                                url:
                                  description: for self-hosted GitLab only
                                  type: string
                              required:
                                - token
                              type: object
                        - properties:
                            GitLabCrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `your.gitlab.host`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                        - properties:
                            GoogleArtifactCrCredentials:
                              properties:
                                password:
                                  description: JSON key file
                                  type: string
                                registryBase:
                                  description: "e.g.: `us-east1-docker.pkg.dev`, `europe-west1-docker.pkg.dev`"
                                  type: string
                              required:
                                - password
                                - registryBase
                              type: object
                        - properties:
                            HarborCrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `your.harbor.host`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                        - properties:
                            NexusCrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `your.nexus.host`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                        - properties:
                            QuayCrCredentials:
                              properties:
                                password:
                                  type: string
                                registryBase:
                                  description: "e.g.: `quay.io`, `your.quay.host`"
                                  type: string
                                username:
                                  type: string
                              required:
                                - username
                                - password
                                - registryBase
                              type: object
                      properties: {}
                      type: object
                    type:
                      description: integration type
                      enum:
                        - acr
                        - artifactory-cr
                        - azure-repos
                        - bitbucket-cloud
                        - bitbucket-server
                        - digitalocean-cr
                        - docker-hub
                        - ecr
                        - gcr
                        - github
                        - github-cr
                        - github-enterprise
                        - gitlab
                        - gitlab-cr
                        - google-artifact-cr
                        - harbor-cr
                        - nexus-cr
                        - quay-cr
                      type: string
                  required:
                    - type
                    - credentials
                  type: object
                - example:
                    broker:
                      enabled: true
                    type: bitbucket-server
                  properties:
                    broker:
                      description: brokered integration settings
                      properties:
                        enabled:
                          type: boolean
                      type: object
                    type:
                      description: integration type
                      enum:
                        - acr
                        - artifactory-cr
                        - azure-repos
                        - bitbucket-cloud
                        - bitbucket-server
                        - digitalocean-cr
                        - docker-hub
                        - ecr
                        - gcr
                        - github
                        - github-cr
                        - github-enterprise
                        - gitlab
                        - gitlab-cr
                        - google-artifact-cr
                        - harbor-cr
                        - nexus-cr
                        - quay-cr
                      type: string
                  required:
                    - type
                    - broker
                  type: object
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
[...]
