swagger: '2.0'
info:
  version: '2016-12-01'
  x-release: v4
  title: Amazon Pinpoint
  description: Doc Engage API - Amazon Pinpoint API
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: pinpoint
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pinpoint-2016-12-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/pinpoint/'
host: pinpoint.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://pinpoint.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Pinpoint multi-region endpoint
  - url: 'https://pinpoint.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Pinpoint multi-region endpoint
  - url: 'http://pinpoint.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Pinpoint endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://pinpoint.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Pinpoint endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /v1/apps:
    post:
      operationId: CreateApp
      description: ' <p>Creates an application.</p>'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - CreateApplicationRequest
            properties:
              CreateApplicationRequest:
                description: Specifies the display name of an application and the tags to associate with the application.
                type: object
                properties:
                  Name:
                    $ref: '#/definitions/__string'
                    description: The display name of the application. This name is displayed as the <b>Project name</b> on the Amazon Pinpoint console.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the application. Each tag consists of a required tag key and an associated tag value.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApps
      description: Retrieves information about all of your applications.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: page-size
          in: query
          required: false
          description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          type: string
        - name: token
          in: query
          required: false
          description: The NextToken string that specifies which page of results to return in a paginated response.
          type: string
  '/v1/apps/{application-id}/campaigns':
    post:
      operationId: CreateCampaign
      description: Creates a new campaign for an application or updates the settings of an existing campaign for an application.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - WriteCampaignRequest
            properties:
              WriteCampaignRequest:
                description: Specifies the configuration and other settings for a campaign.
                type: object
                properties:
                  AdditionalTreatments:
                    $ref: '#/definitions/ListOfWriteTreatmentResource'
                    description: 'An array of requests that defines additional treatments for the campaign, in addition to the default treatment for the campaign.'
                  Description:
                    $ref: '#/definitions/__string'
                    description: The custom description of the campaign.
                  HoldoutPercent:
                    $ref: '#/definitions/__integer'
                    description: The allocated percentage of users (segment members) who shouldn't receive messages from the campaign.
                  Hook:
                    $ref: '#/definitions/CampaignHook'
                    description: The settings for the AWS Lambda function to use as a code hook for the campaign.
                  IsPaused:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to pause the campaign. A paused campaign doesn't run unless you resume it by setting this value to false.
                  Limits:
                    $ref: '#/definitions/CampaignLimits'
                    description: The messaging limits for the campaign.
                  MessageConfiguration:
                    $ref: '#/definitions/MessageConfiguration'
                    description: The message configuration settings for the campaign.
                  Name:
                    $ref: '#/definitions/__string'
                    description: The custom name of the campaign.
                  Schedule:
                    $ref: '#/definitions/Schedule'
                    description: The schedule settings for the campaign.
                  SegmentId:
                    $ref: '#/definitions/__string'
                    description: The unique identifier for the segment to associate with the campaign.
                  SegmentVersion:
                    $ref: '#/definitions/__integer'
                    description: The version of the segment to associate with the campaign.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the campaign. Each tag consists of a required tag key and an associated tag value.
                  TreatmentDescription:
                    $ref: '#/definitions/__string'
                    description: The custom description of a variation of the campaign to use for A/B testing.
                  TreatmentName:
                    $ref: '#/definitions/__string'
                    description: The custom name of a variation of the campaign to use for A/B testing.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetCampaigns
      description: 'Retrieves information about the status, configuration, and other settings for all the campaigns that are associated with an application.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: page-size
          in: query
          required: false
          description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          type: string
        - name: token
          in: query
          required: false
          description: The NextToken string that specifies which page of results to return in a paginated response.
          type: string
  '/v1/apps/{application-id}/jobs/export':
    post:
      operationId: CreateExportJob
      description: Creates a new export job for an application.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/CreateExportJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ExportJobRequest
            properties:
              ExportJobRequest:
                description: Specifies the settings for a job that exports endpoint definitions to an Amazon Simple Storage Service (Amazon S3) bucket.
                type: object
                properties:
                  RoleArn:
                    $ref: '#/definitions/__string'
                    description: The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that authorizes Amazon Pinpoint to access the Amazon S3 location where you want to export endpoint definitions to.
                  S3UrlPrefix:
                    $ref: '#/definitions/__string'
                    description: 'The URL of the location in an Amazon Simple Storage Service (Amazon S3) bucket where you want to export endpoint definitions to. This location is typically a folder that contains multiple files. The URL should be in the following format: s3://<replaceable>bucket-name</replaceable>/<replaceable>folder-name</replaceable>/.'
                  SegmentId:
                    $ref: '#/definitions/__string'
                    description: 'The identifier for the segment to export endpoint definitions from. If you don''t specify this value, Amazon Pinpoint exports definitions for all the endpoints that are associated with the application.'
                  SegmentVersion:
                    $ref: '#/definitions/__integer'
                    description: 'The version of the segment to export endpoint definitions from, if specified.'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetExportJobs
      description: Retrieves information about the status and settings of all the export jobs for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetExportJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: page-size
          in: query
          required: false
          description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          type: string
        - name: token
          in: query
          required: false
          description: The NextToken string that specifies which page of results to return in a paginated response.
          type: string
  '/v1/apps/{application-id}/jobs/import':
    post:
      operationId: CreateImportJob
      description: Creates a new import job for an application.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateImportJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ImportJobRequest
            properties:
              ImportJobRequest:
                description: Specifies the settings for a job that imports endpoint definitions from an Amazon Simple Storage Service (Amazon S3) bucket.
                type: object
                properties:
                  DefineSegment:
                    $ref: '#/definitions/__boolean'
                    description: 'Specifies whether to create a segment that contains the endpoints, when the endpoint definitions are imported.'
                  ExternalId:
                    $ref: '#/definitions/__string'
                    description: '(Deprecated) Your AWS account ID, which you assigned to an external ID key in an IAM trust policy. Amazon Pinpoint previously used this value to assume an IAM role when importing endpoint definitions, but we removed this requirement. We don''t recommend use of external IDs for IAM roles that are assumed by Amazon Pinpoint.'
                  Format:
                    $ref: '#/definitions/Format'
                    description: 'The format of the files that contain the endpoint definitions to import. Valid values are: CSV, for comma-separated values format; and, JSON, for newline-delimited JSON format. If the Amazon S3 location stores multiple files that use different formats, Amazon Pinpoint imports data only from the files that use the specified format.'
                  RegisterEndpoints:
                    $ref: '#/definitions/__boolean'
                    description: 'Specifies whether to register the endpoints with Amazon Pinpoint, when the endpoint definitions are imported.'
                  RoleArn:
                    $ref: '#/definitions/__string'
                    description: The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that authorizes Amazon Pinpoint to access the Amazon S3 location to import endpoint definitions from.
                  S3Url:
                    $ref: '#/definitions/__string'
                    description: '<p>The URL of the Amazon Simple Storage Service (Amazon S3) bucket that contains the endpoint definitions to import. This location can be a folder or a single file. If the location is a folder, Amazon Pinpoint imports endpoint definitions from the files in this location, including any subfolders that the folder contains.</p> <p>The URL should be in the following format: s3://<replaceable>bucket-name</replaceable>/<replaceable>folder-name</replaceable>/<replaceable>file-name</replaceable>. The location can end with the key for an individual object or a prefix that qualifies multiple objects.</p>'
                  SegmentId:
                    $ref: '#/definitions/__string'
                    description: 'The identifier for the segment to update or add the imported endpoint definitions to, if the import job is meant to update an existing segment.'
                  SegmentName:
                    $ref: '#/definitions/__string'
                    description: 'The custom name for the segment that''s created by the import job, if the value of the DefineSegment property is true.'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetImportJobs
      description: Retrieves information about the status and settings of all the import jobs for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetImportJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: page-size
          in: query
          required: false
          description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          type: string
        - name: token
          in: query
          required: false
          description: The NextToken string that specifies which page of results to return in a paginated response.
          type: string
  '/v1/apps/{application-id}/segments':
    post:
      operationId: CreateSegment
      description: 'Creates a new segment for an application or updates the configuration, dimension, and other settings for an existing segment that''s associated with an application.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateSegmentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - WriteSegmentRequest
            properties:
              WriteSegmentRequest:
                description: 'Specifies the configuration, dimension, and other settings for a segment. A WriteSegmentRequest object can include a Dimensions object or a SegmentGroups object, but not both.'
                type: object
                properties:
                  Dimensions:
                    $ref: '#/definitions/SegmentDimensions'
                    description: The criteria that define the dimensions for the segment.
                  Name:
                    $ref: '#/definitions/__string'
                    description: The name of the segment.
                  SegmentGroups:
                    $ref: '#/definitions/SegmentGroupList'
                    description: The segment group to use and the dimensions to apply to the group's base segments in order to build the segment. A segment group can consist of zero or more base segments. Your request can include only one segment group.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the segment. Each tag consists of a required tag key and an associated tag value.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetSegments
      description: 'Retrieves information about the configuration, dimension, and other settings for all the segments that are associated with an application.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSegmentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: page-size
          in: query
          required: false
          description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          type: string
        - name: token
          in: query
          required: false
          description: The NextToken string that specifies which page of results to return in a paginated response.
          type: string
  '/v1/apps/{application-id}/channels/adm':
    delete:
      operationId: DeleteAdmChannel
      description: Disables the ADM channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAdmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetAdmChannel
      description: Retrieves information about the status and settings of the ADM channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAdmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateAdmChannel
      description: Updates the ADM channel settings for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAdmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ADMChannelRequest
            properties:
              ADMChannelRequest:
                description: Specifies the status and settings of the ADM (Amazon Device Messaging) channel for an application.
                type: object
                properties:
                  ClientId:
                    $ref: '#/definitions/__string'
                    description: The Client ID that you received from Amazon to send messages by using ADM.
                  ClientSecret:
                    $ref: '#/definitions/__string'
                    description: The Client Secret that you received from Amazon to send messages by using ADM.
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the ADM channel for the application.
  '/v1/apps/{application-id}/channels/apns':
    delete:
      operationId: DeleteApnsChannel
      description: Disables the APNs channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApnsChannel
      description: Retrieves information about the status and settings of the APNs channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateApnsChannel
      description: Updates the APNs channel settings for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - APNSChannelRequest
            properties:
              APNSChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) channel for an application.
                type: object
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the APNs channel for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens.'
  '/v1/apps/{application-id}/channels/apns_sandbox':
    delete:
      operationId: DeleteApnsSandboxChannel
      description: Disables the APNs sandbox channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApnsSandboxChannel
      description: Retrieves information about the status and settings of the APNs sandbox channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateApnsSandboxChannel
      description: Updates the APNs sandbox channel settings for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - APNSSandboxChannelRequest
            properties:
              APNSSandboxChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) sandbox channel for an application.
                type: object
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the APNs sandbox channel for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens.'
  '/v1/apps/{application-id}/channels/apns_voip':
    delete:
      operationId: DeleteApnsVoipChannel
      description: Disables the APNs VoIP channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsVoipChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApnsVoipChannel
      description: Retrieves information about the status and settings of the APNs VoIP channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsVoipChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateApnsVoipChannel
      description: Updates the APNs VoIP channel settings for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsVoipChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - APNSVoipChannelRequest
            properties:
              APNSVoipChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) VoIP channel for an application.
                type: object
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the APNs VoIP channel for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens.'
  '/v1/apps/{application-id}/channels/apns_voip_sandbox':
    delete:
      operationId: DeleteApnsVoipSandboxChannel
      description: Disables the APNs VoIP sandbox channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsVoipSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApnsVoipSandboxChannel
      description: Retrieves information about the status and settings of the APNs VoIP sandbox channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsVoipSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateApnsVoipSandboxChannel
      description: Updates the settings for the APNs VoIP sandbox channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsVoipSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - APNSVoipSandboxChannelRequest
            properties:
              APNSVoipSandboxChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) VoIP sandbox channel for an application.
                type: object
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment for this channel, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether the APNs VoIP sandbox channel is enabled for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens.'
  '/v1/apps/{application-id}':
    delete:
      operationId: DeleteApp
      description: Deletes an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApp
      description: Retrieves information about an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
  '/v1/apps/{application-id}/channels/baidu':
    delete:
      operationId: DeleteBaiduChannel
      description: Disables the Baidu channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBaiduChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetBaiduChannel
      description: Retrieves information about the status and settings of the Baidu Cloud Push channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBaiduChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateBaiduChannel
      description: Updates the settings of the Baidu channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBaiduChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BaiduChannelRequest
            properties:
              BaiduChannelRequest:
                description: Specifies the status and settings of the Baidu (Baidu Cloud Push) channel for an application.
                type: object
                properties:
                  ApiKey:
                    $ref: '#/definitions/__string'
                    description: The API key that you received from the Baidu Cloud Push service to communicate with the service.
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the Baidu channel for the application.
                  SecretKey:
                    $ref: '#/definitions/__string'
                    description: The secret key that you received from the Baidu Cloud Push service to communicate with the service.
  '/v1/apps/{application-id}/campaigns/{campaign-id}':
    delete:
      operationId: DeleteCampaign
      description: Deletes a campaign from an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: campaign-id
          in: path
          required: true
          description: The unique identifier for the campaign.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetCampaign
      description: 'Retrieves information about the status, configuration, and other settings for a campaign.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: campaign-id
          in: path
          required: true
          description: The unique identifier for the campaign.
          type: string
    put:
      operationId: UpdateCampaign
      description: Updates the settings for a campaign.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: campaign-id
          in: path
          required: true
          description: The unique identifier for the campaign.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - WriteCampaignRequest
            properties:
              WriteCampaignRequest:
                description: Specifies the configuration and other settings for a campaign.
                type: object
                properties:
                  AdditionalTreatments:
                    $ref: '#/definitions/ListOfWriteTreatmentResource'
                    description: 'An array of requests that defines additional treatments for the campaign, in addition to the default treatment for the campaign.'
                  Description:
                    $ref: '#/definitions/__string'
                    description: The custom description of the campaign.
                  HoldoutPercent:
                    $ref: '#/definitions/__integer'
                    description: The allocated percentage of users (segment members) who shouldn't receive messages from the campaign.
                  Hook:
                    $ref: '#/definitions/CampaignHook'
                    description: The settings for the AWS Lambda function to use as a code hook for the campaign.
                  IsPaused:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to pause the campaign. A paused campaign doesn't run unless you resume it by setting this value to false.
                  Limits:
                    $ref: '#/definitions/CampaignLimits'
                    description: The messaging limits for the campaign.
                  MessageConfiguration:
                    $ref: '#/definitions/MessageConfiguration'
                    description: The message configuration settings for the campaign.
                  Name:
                    $ref: '#/definitions/__string'
                    description: The custom name of the campaign.
                  Schedule:
                    $ref: '#/definitions/Schedule'
                    description: The schedule settings for the campaign.
                  SegmentId:
                    $ref: '#/definitions/__string'
                    description: The unique identifier for the segment to associate with the campaign.
                  SegmentVersion:
                    $ref: '#/definitions/__integer'
                    description: The version of the segment to associate with the campaign.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the campaign. Each tag consists of a required tag key and an associated tag value.
                  TreatmentDescription:
                    $ref: '#/definitions/__string'
                    description: The custom description of a variation of the campaign to use for A/B testing.
                  TreatmentName:
                    $ref: '#/definitions/__string'
                    description: The custom name of a variation of the campaign to use for A/B testing.
  '/v1/apps/{application-id}/channels/email':
    delete:
      operationId: DeleteEmailChannel
      description: Disables the email channel for an application and deletes any existing settings for the channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEmailChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetEmailChannel
      description: Retrieves information about the status and settings of the email channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEmailChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    put:
      operationId: UpdateEmailChannel
      description: Updates the status and settings of the email channel for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateEmailChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - EmailChannelRequest
            properties:
              EmailChannelRequest:
                description: Specifies the status and settings of the email channel for an application.
                type: object
                properties:
                  ConfigurationSet:
                    $ref: '#/definitions/__string'
                    description: The configuration set that you want to apply to email that you send through the channel by using the <a href="emailAPIreference.html">Amazon Pinpoint Email API</a>.
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the email channel for the application.
                  FromAddress:
                    $ref: '#/definitions/__string'
                    description: ' <p>The verified email address that you want to send email from when you send email through the channel.</p>'
                  Identity:
                    $ref: '#/definitions/__string'
                    description: ' <p>The Amazon Resource Name (ARN) of the identity, verified with Amazon Simple Email Service (Amazon SES), that you want to use when you send email through the channel.</p>'
                  RoleArn:
                    $ref: '#/definitions/__string'
                    description: ' <p>The ARN of the AWS Identity and Access Management (IAM) role that you want Amazon Pinpoint to use when it submits email-related event data for the channel.</p>'
  '/v1/apps/{application-id}/endpoints/{endpoint-id}':
    delete:
      operationId: DeleteEndpoint
      description: Deletes an endpoint from an application.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEndpointResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: endpoint-id
          in: path
          required: true
          description: The unique identifier for the endpoint.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetEndpoint
      description: Retrieves information about the settings and attributes of a specific endpoint for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEndpointResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: endpoint-id
          in: path
          required: true
          description: The unique identifier for the endpoint.
          type: string
    put:
      operationId: UpdateEndpoint
      description: 'Creates a new endpoint for an application or updates the settings and attributes of an existing endpoint for an application. You can also use this operation to define custom attributes (Attributes, Metrics, and UserAttributes properties) for an endpoint.'
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/UpdateEndpointResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
        - name: endpoint-id
          in: path
          required: true
          description: The unique identifier for the endpoint.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - EndpointRequest
            properties:
              EndpointRequest:
                description: Specifies the channel type and other settings for an endpoint.
                type: object
                properties:
                  Address:
                    $ref: '#/definitions/__string'
                    description: 'The destination address for messages or push notifications that you send to the endpoint. The address varies by channel. For a push-notification channel, use the token provided by the push notification service, such as an Apple Push Notification service (APNs) device token or a Firebase Cloud Messaging (FCM) registration token. For the SMS channel, use a phone number in E.164 format, such as +12065550100. For the email channel, use an email address.'
                  Attributes:
                    $ref: '#/definitions/MapOfListOf__string'
                    description: '<p>One or more custom attributes that describe the endpoint by associating a name with an array of values. For example, the value of a custom attribute named Interests might be: ["science", "music", "travel"]. You can use these attributes as filter criteria when you create segments.</p> <p>When you define the name of a custom attribute, avoid using the following characters: number sign (#), colon (:), question mark (?), backslash (\), and slash (/). The Amazon Pinpoint console can''t display attribute names that contain these characters. This limitation doesn''t apply to attribute values.</p>'
                  ChannelType:
                    $ref: '#/definitions/ChannelType'
                    description: The channel to use when sending messages or push notifications to the endpoint.
                  Demographic:
                    $ref: '#/definitions/EndpointDemographic'
                    description: 'The demographic information for the endpoint, such as the time zone and platform.'
                  EffectiveDate:
                    $ref: '#/definitions/__string'
                    description: 'The date and time, in ISO 8601 format, when the endpoint is updated.'
                  EndpointStatus:
                    $ref: '#/definitions/__string'
                    description: Not used.
                  Location:
                    $ref: '#/definitions/EndpointLocation'
                    description: The geographic information for the endpoint.
                  Metrics:
                    $ref: '#/definitions/MapOf__double'
                    description: One or more custom metrics that your app reports to Amazon Pinpoint for the endpoint.
                  OptOut:
                    $ref: '#/definitions/__string'
                    description: 'Specifies whether the user who''s associated with the endpoint has opted out of receiving messages and push notifications from you. Possible values are: ALL, the user has opted out and doesn''t want to receive any messages or push notifications; and, NONE, the user hasn''t opted out and wants to receive all messages and push notifications.'
                  RequestId:
                    $ref: '#/definitions/__string'
                    description: The unique identifier for the most recent request to update the endpoint.
                  User:
                    $ref: '#/definitions/EndpointUser'
                    description: One or more custom user attributes that describe the user who's associated with the endpoint.
  '/v1/apps/{application-id}/eventstream':
    delete:
      operationId: DeleteEventStream
      description: Deletes the event stream for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventStreamResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetEventStream
      description: Retrieves information about the event stream settings for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEventStreamResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: application-id
          in: path
          required: true
          description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          type: string
    post:
      operationId: PutEventStream
      description: Creates a new event stream for an application or updates the settings of an existing event stream for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEventStreamResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
[...]
