swagger: '2.0'
schemes:
  - https
  - http
host: pinpoint.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Doc Engage API - Amazon Pinpoint API
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Pinpoint
  version: '2016-12-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pinpoint-2016-12-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: pinpoint
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/pinpoint/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /v1/apps:
    get:
      description: Retrieves information about all of your applications.
      operationId: GetApps
      parameters:
        - description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          in: query
          name: page-size
          required: false
          type: string
        - description: The NextToken string that specifies which page of results to return in a paginated response.
          in: query
          name: token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' <p>Creates an application.</p>'
      operationId: CreateApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              CreateApplicationRequest:
                description: Specifies the display name of an application and the tags to associate with the application.
                properties:
                  Name:
                    $ref: '#/definitions/__string'
                    description: The display name of the application. This name is displayed as the <b>Project name</b> on the Amazon Pinpoint console.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the application. Each tag consists of a required tag key and an associated tag value.
                type: object
            required:
              - CreateApplicationRequest
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}':
    delete:
      description: Deletes an application.
      operationId: DeleteApp
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about an application.
      operationId: GetApp
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apps/{application-id}/attributes/{attribute-type}':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Removes one or more attributes, of the same attribute type, from all the endpoints that are associated with an application.'
      operationId: RemoveAttributes
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: ' <p>The type of attribute or attributes to remove. Valid values are:</p> <ul><li><p>endpoint-custom-attributes - Custom attributes that describe endpoints, such as the date when an associated user opted in or out of receiving communications from you through a specific type of channel.</p></li> <li><p>endpoint-custom-metrics - Custom metrics that your app reports to Amazon Pinpoint for endpoints, such as the number of app sessions or the number of items left in a cart.</p></li> <li><p>endpoint-user-attributes - Custom attributes that describe users, such as first name, last name, and age.</p></li></ul>'
          in: path
          name: attribute-type
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              UpdateAttributesRequest:
                description: Specifies one or more attributes to remove from all the endpoints that are associated with an application.
                properties:
                  Blacklist:
                    $ref: '#/definitions/ListOf__string'
                    description: 'An array of the attributes to remove from all the endpoints that are associated with the application. The array can specify the complete, exact name of each attribute to remove or it can specify a glob pattern that an attribute name must match in order for the attribute to be removed.'
                type: object
            required:
              - UpdateAttributesRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAttributesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/campaigns':
    get:
      description: 'Retrieves information about the status, configuration, and other settings for all the campaigns that are associated with an application.'
      operationId: GetCampaigns
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          in: query
          name: page-size
          required: false
          type: string
        - description: The NextToken string that specifies which page of results to return in a paginated response.
          in: query
          name: token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new campaign for an application or updates the settings of an existing campaign for an application.
      operationId: CreateCampaign
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              WriteCampaignRequest:
                description: Specifies the configuration and other settings for a campaign.
                properties:
                  AdditionalTreatments:
                    $ref: '#/definitions/ListOfWriteTreatmentResource'
                    description: 'An array of requests that defines additional treatments for the campaign, in addition to the default treatment for the campaign.'
                  Description:
                    $ref: '#/definitions/__string'
                    description: The custom description of the campaign.
                  HoldoutPercent:
                    $ref: '#/definitions/__integer'
                    description: The allocated percentage of users (segment members) who shouldn't receive messages from the campaign.
                  Hook:
                    $ref: '#/definitions/CampaignHook'
                    description: The settings for the AWS Lambda function to use as a code hook for the campaign.
                  IsPaused:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to pause the campaign. A paused campaign doesn't run unless you resume it by setting this value to false.
                  Limits:
                    $ref: '#/definitions/CampaignLimits'
                    description: The messaging limits for the campaign.
                  MessageConfiguration:
                    $ref: '#/definitions/MessageConfiguration'
                    description: The message configuration settings for the campaign.
                  Name:
                    $ref: '#/definitions/__string'
                    description: The custom name of the campaign.
                  Schedule:
                    $ref: '#/definitions/Schedule'
                    description: The schedule settings for the campaign.
                  SegmentId:
                    $ref: '#/definitions/__string'
                    description: The unique identifier for the segment to associate with the campaign.
                  SegmentVersion:
                    $ref: '#/definitions/__integer'
                    description: The version of the segment to associate with the campaign.
                  TreatmentDescription:
                    $ref: '#/definitions/__string'
                    description: The custom description of a variation of the campaign to use for A/B testing.
                  TreatmentName:
                    $ref: '#/definitions/__string'
                    description: The custom name of a variation of the campaign to use for A/B testing.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the campaign. Each tag consists of a required tag key and an associated tag value.
                type: object
            required:
              - WriteCampaignRequest
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/campaigns/{campaign-id}':
    delete:
      description: Deletes a campaign from an application.
      operationId: DeleteCampaign
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: 'Retrieves information about the status, configuration, and other settings for a campaign.'
      operationId: GetCampaign
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the settings for a campaign.
      operationId: UpdateCampaign
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              WriteCampaignRequest:
                description: Specifies the configuration and other settings for a campaign.
                properties:
                  AdditionalTreatments:
                    $ref: '#/definitions/ListOfWriteTreatmentResource'
                    description: 'An array of requests that defines additional treatments for the campaign, in addition to the default treatment for the campaign.'
                  Description:
                    $ref: '#/definitions/__string'
                    description: The custom description of the campaign.
                  HoldoutPercent:
                    $ref: '#/definitions/__integer'
                    description: The allocated percentage of users (segment members) who shouldn't receive messages from the campaign.
                  Hook:
                    $ref: '#/definitions/CampaignHook'
                    description: The settings for the AWS Lambda function to use as a code hook for the campaign.
                  IsPaused:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to pause the campaign. A paused campaign doesn't run unless you resume it by setting this value to false.
                  Limits:
                    $ref: '#/definitions/CampaignLimits'
                    description: The messaging limits for the campaign.
                  MessageConfiguration:
                    $ref: '#/definitions/MessageConfiguration'
                    description: The message configuration settings for the campaign.
                  Name:
                    $ref: '#/definitions/__string'
                    description: The custom name of the campaign.
                  Schedule:
                    $ref: '#/definitions/Schedule'
                    description: The schedule settings for the campaign.
                  SegmentId:
                    $ref: '#/definitions/__string'
                    description: The unique identifier for the segment to associate with the campaign.
                  SegmentVersion:
                    $ref: '#/definitions/__integer'
                    description: The version of the segment to associate with the campaign.
                  TreatmentDescription:
                    $ref: '#/definitions/__string'
                    description: The custom description of a variation of the campaign to use for A/B testing.
                  TreatmentName:
                    $ref: '#/definitions/__string'
                    description: The custom name of a variation of the campaign to use for A/B testing.
                  tags:
                    $ref: '#/definitions/MapOf__string'
                    description: A string-to-string map of key-value pairs that defines the tags to associate with the campaign. Each tag consists of a required tag key and an associated tag value.
                type: object
            required:
              - WriteCampaignRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateCampaignResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/campaigns/{campaign-id}/activities':
    get:
      description: Retrieves information about the activity performed by a campaign.
      operationId: GetCampaignActivities
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
        - description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          in: query
          name: page-size
          required: false
          type: string
        - description: The NextToken string that specifies which page of results to return in a paginated response.
          in: query
          name: token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignActivitiesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apps/{application-id}/campaigns/{campaign-id}/kpis/daterange/{kpi-name}':
    get:
      description: ' <p>Retrieves (queries) pre-aggregated data for a standard metric that applies to a campaign.</p>'
      operationId: GetCampaignDateRangeKpi
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
        - description: 'The last date to retrieve data for, as part of an inclusive date range that filters the query results. This value should be in ISO 8601 format, for example: 2019-07-19 for July 19, 2019. To define a date range that ends at a specific time, specify the date and time in ISO 8601 format, for example: 2019-07-19T20:00Z for 8:00 PM July 19, 2019.'
          format: date-time
          in: query
          name: end-time
          required: false
          type: string
        - description: 'The name of the metric, also referred to as a <i>key performance indicator (KPI)</i>, to retrieve data for. This value describes the associated metric and consists of two or more terms, which are comprised of lowercase alphanumeric characters, separated by a hyphen. Examples are attempted-deliveries and successful-deliveries. For a list of valid values, see the <a href="developerguide.html">Amazon Pinpoint Developer Guide</a>.'
          in: path
          name: kpi-name
          required: true
          type: string
        - description: The NextToken string that specifies which page of results to return in a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          in: query
          name: next-token
          required: false
          type: string
        - description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          in: query
          name: page-size
          required: false
          type: string
        - description: 'The first date to retrieve data for, as part of an inclusive date range that filters the query results. This value should be in ISO 8601 format, for example: 2019-07-15 for July 15, 2019. To define a date range that begins at a specific time, specify the date and time in ISO 8601 format, for example: 2019-07-15T16:00Z for 4:00 PM July 15, 2019.'
          format: date-time
          in: query
          name: start-time
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignDateRangeKpiResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apps/{application-id}/campaigns/{campaign-id}/versions':
    get:
      description: 'Retrieves information about the status, configuration, and other settings for all versions of a specific campaign.'
      operationId: GetCampaignVersions
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
        - description: The maximum number of items to include in each page of a paginated response. This parameter is currently not supported by the App Metrics and Campaign Metrics resources.
          in: query
          name: page-size
          required: false
          type: string
        - description: The NextToken string that specifies which page of results to return in a paginated response.
          in: query
          name: token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}':
    get:
      description: 'Retrieves information about the status, configuration, and other settings for a specific version of a campaign.'
      operationId: GetCampaignVersion
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - description: The unique identifier for the campaign.
          in: path
          name: campaign-id
          required: true
          type: string
        - description: The unique version number (Version property) for the campaign version.
          in: path
          name: version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCampaignVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apps/{application-id}/channels':
    get:
      description: Retrieves information about the history and status of each channel for an application.
      operationId: GetChannels
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetChannelsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apps/{application-id}/channels/adm':
    delete:
      description: Disables the ADM channel for an application and deletes any existing settings for the channel.
      operationId: DeleteAdmChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAdmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the ADM channel for an application.
      operationId: GetAdmChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAdmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the ADM channel settings for an application.
      operationId: UpdateAdmChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ADMChannelRequest:
                description: Specifies the status and settings of the ADM (Amazon Device Messaging) channel for an application.
                properties:
                  ClientId:
                    $ref: '#/definitions/__string'
                    description: The Client ID that you received from Amazon to send messages by using ADM.
                  ClientSecret:
                    $ref: '#/definitions/__string'
                    description: The Client Secret that you received from Amazon to send messages by using ADM.
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the ADM channel for the application.
                type: object
            required:
              - ADMChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAdmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/apns':
    delete:
      description: Disables the APNs channel for an application and deletes any existing settings for the channel.
      operationId: DeleteApnsChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the APNs channel for an application.
      operationId: GetApnsChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the APNs channel settings for an application.
      operationId: UpdateApnsChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              APNSChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) channel for an application.
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the APNs channel for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens.'
                type: object
            required:
              - APNSChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/apns_sandbox':
    delete:
      description: Disables the APNs sandbox channel for an application and deletes any existing settings for the channel.
      operationId: DeleteApnsSandboxChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the APNs sandbox channel for an application.
      operationId: GetApnsSandboxChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the APNs sandbox channel settings for an application.
      operationId: UpdateApnsSandboxChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              APNSSandboxChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) sandbox channel for an application.
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the APNs sandbox channel for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens.'
                type: object
            required:
              - APNSSandboxChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/apns_voip':
    delete:
      description: Disables the APNs VoIP channel for an application and deletes any existing settings for the channel.
      operationId: DeleteApnsVoipChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsVoipChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the APNs VoIP channel for an application.
      operationId: GetApnsVoipChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsVoipChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the APNs VoIP channel settings for an application.
      operationId: UpdateApnsVoipChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              APNSVoipChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) VoIP channel for an application.
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the APNs VoIP channel for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens.'
                type: object
            required:
              - APNSVoipChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsVoipChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/apns_voip_sandbox':
    delete:
      description: Disables the APNs VoIP sandbox channel for an application and deletes any existing settings for the channel.
      operationId: DeleteApnsVoipSandboxChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApnsVoipSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the APNs VoIP sandbox channel for an application.
      operationId: GetApnsVoipSandboxChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApnsVoipSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the settings for the APNs VoIP sandbox channel for an application.
      operationId: UpdateApnsVoipSandboxChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              APNSVoipSandboxChannelRequest:
                description: Specifies the status and settings of the APNs (Apple Push Notification service) VoIP sandbox channel for an application.
                properties:
                  BundleId:
                    $ref: '#/definitions/__string'
                    description: The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.
                  Certificate:
                    $ref: '#/definitions/__string'
                    description: 'The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate.'
                  DefaultAuthenticationMethod:
                    $ref: '#/definitions/__string'
                    description: 'The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment for this channel, key or certificate.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether the APNs VoIP sandbox channel is enabled for the application.
                  PrivateKey:
                    $ref: '#/definitions/__string'
                    description: The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment.
                  TeamId:
                    $ref: '#/definitions/__string'
                    description: The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.
                  TokenKey:
                    $ref: '#/definitions/__string'
                    description: The authentication key to use for APNs tokens.
                  TokenKeyId:
                    $ref: '#/definitions/__string'
                    description: 'The key identifier that''s assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens.'
                type: object
            required:
              - APNSVoipSandboxChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApnsVoipSandboxChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/baidu':
    delete:
      description: Disables the Baidu channel for an application and deletes any existing settings for the channel.
      operationId: DeleteBaiduChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBaiduChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the Baidu Cloud Push channel for an application.
      operationId: GetBaiduChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBaiduChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the settings of the Baidu channel for an application.
      operationId: UpdateBaiduChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              BaiduChannelRequest:
                description: Specifies the status and settings of the Baidu (Baidu Cloud Push) channel for an application.
                properties:
                  ApiKey:
                    $ref: '#/definitions/__string'
                    description: The API key that you received from the Baidu Cloud Push service to communicate with the service.
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the Baidu channel for the application.
                  SecretKey:
                    $ref: '#/definitions/__string'
                    description: The secret key that you received from the Baidu Cloud Push service to communicate with the service.
                type: object
            required:
              - BaiduChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBaiduChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/email':
    delete:
      description: Disables the email channel for an application and deletes any existing settings for the channel.
      operationId: DeleteEmailChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEmailChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the email channel for an application.
      operationId: GetEmailChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEmailChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the status and settings of the email channel for an application.
      operationId: UpdateEmailChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              EmailChannelRequest:
                description: Specifies the status and settings of the email channel for an application.
                properties:
                  ConfigurationSet:
                    $ref: '#/definitions/__string'
                    description: The configuration set that you want to apply to email that you send through the channel by using the <a href="emailAPIreference.html">Amazon Pinpoint Email API</a>.
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the email channel for the application.
                  FromAddress:
                    $ref: '#/definitions/__string'
                    description: ' <p>The verified email address that you want to send email from when you send email through the channel.</p>'
                  Identity:
                    $ref: '#/definitions/__string'
                    description: ' <p>The Amazon Resource Name (ARN) of the identity, verified with Amazon Simple Email Service (Amazon SES), that you want to use when you send email through the channel.</p>'
                  RoleArn:
                    $ref: '#/definitions/__string'
                    description: ' <p>The ARN of the AWS Identity and Access Management (IAM) role that you want Amazon Pinpoint to use when it submits email-related event data for the channel.</p>'
                type: object
            required:
              - EmailChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateEmailChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/gcm':
    delete:
      description: Disables the GCM channel for an application and deletes any existing settings for the channel.
      operationId: DeleteGcmChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGcmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the GCM channel for an application.
      operationId: GetGcmChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGcmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the status and settings of the GCM channel for an application.
      operationId: UpdateGcmChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              GCMChannelRequest:
                description: 'Specifies the status and settings of the GCM channel for an application. This channel enables Amazon Pinpoint to send push notifications through the Firebase Cloud Messaging (FCM), formerly Google Cloud Messaging (GCM), service.'
                properties:
                  ApiKey:
                    $ref: '#/definitions/__string'
                    description: 'The API key, also referred to as a <i>server key</i>, that you received from Google to communicate with Google services.'
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the GCM channel for the application.
                type: object
            required:
              - GCMChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGcmChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/sms':
    delete:
      description: Disables the SMS channel for an application and deletes any existing settings for the channel.
      operationId: DeleteSmsChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSmsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the SMS channel for an application.
      operationId: GetSmsChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSmsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the status and settings of the SMS channel for an application.
      operationId: UpdateSmsChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              SMSChannelRequest:
                description: Specifies the status and settings of the SMS channel for an application.
                properties:
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the SMS channel for the application.
                  SenderId:
                    $ref: '#/definitions/__string'
                    description: The identity that you want to display on recipients' devices when they receive messages from the SMS channel.
                  ShortCode:
                    $ref: '#/definitions/__string'
                    description: The registered short code that you want to use when you send messages through the SMS channel.
                type: object
            required:
              - SMSChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSmsChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v1/apps/{application-id}/channels/voice':
    delete:
      description: Disables the voice channel for an application and deletes any existing settings for the channel.
      operationId: DeleteVoiceChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVoiceChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Retrieves information about the status and settings of the voice channel for an application.
      operationId: GetVoiceChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVoiceChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the status and settings of the voice channel for an application.
      operationId: UpdateVoiceChannel
      parameters:
        - description: The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.
          in: path
          name: application-id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              VoiceChannelRequest:
                description: Specifies the status and settings of the voice channel for an application.
                properties:
                  Enabled:
                    $ref: '#/definitions/__boolean'
                    description: Specifies whether to enable the voice channel for the application.
                type: object
            required:
              - VoiceChannelRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVoiceChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
[...]
