swagger: '2.0'
schemes:
  - https
  - http
host: sms.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AAWS Sever Migration Service</fullname> <p>This is the <i>AWS Sever Migration Service API Reference</i>. It provides descriptions, syntax, and usage examples for each of the actions and data types for the AWS Sever Migration Service (AWS SMS). The topic for each action shows the Query API request parameters and the XML response. You can also view the XML request elements in the WSDL.</p> <p>Alternatively, you can use one of the AWS SDKs to access an API that''s tailored to the programming language or platform that you''re using. For more information, see <a href="http://aws.amazon.com/tools/#SDKs">AWS SDKs</a>.</p> <p>To learn more about the Server Migration Service, see the following resources:</p> <ul> <li> <p> <a href="https://aws.amazon.com/server-migration-service/">AWS Sever Migration Service product page</a> </p> </li> <li> <p> <a href="https://docs.aws.amazon.com/server-migration-service/latest/userguide/server-migration.html">AWS Sever Migration Service User Guide</a> </p> </li> </ul>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Server Migration Service
  version: '2016-10-24'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sms-2016-10-24.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: sms
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/sms/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.CreateApp':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an application. An application consists of one or more server groups. Each server group contain one or more servers.
      operationId: CreateApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAppRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.CreateApp
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.CreateReplicationJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a replication job. The replication job schedules periodic replication runs to replicate your server to AWS. Each replication run creates an Amazon Machine Image (AMI).
      operationId: CreateReplicationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationJobRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.CreateReplicationJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationJobResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '484':
          description: ServerCannotBeReplicatedException
          schema:
            $ref: '#/definitions/ServerCannotBeReplicatedException'
        '485':
          description: ReplicationJobAlreadyExistsException
          schema:
            $ref: '#/definitions/ReplicationJobAlreadyExistsException'
        '486':
          description: NoConnectorsAvailableException
          schema:
            $ref: '#/definitions/NoConnectorsAvailableException'
        '487':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '488':
          description: TemporarilyUnavailableException
          schema:
            $ref: '#/definitions/TemporarilyUnavailableException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.DeleteApp':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an existing application. Optionally deletes the launched stack associated with the application and all AWS SMS replication jobs for servers in the application.
      operationId: DeleteApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAppRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.DeleteApp
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.DeleteAppLaunchConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes existing launch configuration for an application.
      operationId: DeleteAppLaunchConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAppLaunchConfigurationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.DeleteAppLaunchConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppLaunchConfigurationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.DeleteAppReplicationConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes existing replication configuration for an application.
      operationId: DeleteAppReplicationConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAppReplicationConfigurationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.DeleteAppReplicationConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppReplicationConfigurationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.DeleteReplicationJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified replication job.</p> <p>After you delete a replication job, there are no further replication runs. AWS deletes the contents of the Amazon S3 bucket used to store AWS SMS artifacts. The AMIs created by the replication runs are not deleted.</p>'
      operationId: DeleteReplicationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationJobRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.DeleteReplicationJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationJobResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '484':
          description: ReplicationJobNotFoundException
          schema:
            $ref: '#/definitions/ReplicationJobNotFoundException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.DeleteServerCatalog':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes all servers from your server catalog.
      operationId: DeleteServerCatalog
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteServerCatalogRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.DeleteServerCatalog
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteServerCatalogResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.DisassociateConnector':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Disassociates the specified connector from AWS SMS.</p> <p>After you disassociate a connector, it is no longer available to support replication jobs.</p>'
      operationId: DisassociateConnector
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateConnectorRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.DisassociateConnector
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateConnectorResponse'
        '480':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '481':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '482':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GenerateChangeSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Generates a target change set for a currently launched stack and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.
      operationId: GenerateChangeSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GenerateChangeSetRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.GenerateChangeSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GenerateChangeSetResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GenerateTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Generates an Amazon CloudFormation template based on the current launch configuration and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.
      operationId: GenerateTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GenerateTemplateRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.GenerateTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GenerateTemplateResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetApp':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieve information about an application.
      operationId: GetApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAppRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetApp
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetAppLaunchConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the application launch configuration associated with an application.
      operationId: GetAppLaunchConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAppLaunchConfigurationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetAppLaunchConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppLaunchConfigurationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetAppReplicationConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves an application replication configuration associatd with an application.
      operationId: GetAppReplicationConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAppReplicationConfigurationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetAppReplicationConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppReplicationConfigurationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetConnectors':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the connectors registered with the AWS SMS.
      operationId: GetConnectors
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetConnectorsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetConnectors
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetReplicationJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified replication job or all of your replication jobs.
      operationId: GetReplicationJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetReplicationJobsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetReplicationJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReplicationJobsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetReplicationRuns':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the replication runs for the specified replication job.
      operationId: GetReplicationRuns
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetReplicationRunsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetReplicationRuns
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReplicationRunsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.GetServers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the servers in your server catalog.</p> <p>Before you can describe your servers, you must import them using <a>ImportServerCatalog</a>.</p>'
      operationId: GetServers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetServersRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSServerMigrationService_V2016_10_24.GetServers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetServersResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.ImportServerCatalog':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gathers a complete list of on-premises servers. Connectors must be installed and monitoring all servers that you want to import.</p> <p>This call returns immediately, but might take additional time to retrieve all the servers.</p>'
      operationId: ImportServerCatalog
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ImportServerCatalogRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.ImportServerCatalog
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportServerCatalogResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '484':
          description: NoConnectorsAvailableException
          schema:
            $ref: '#/definitions/NoConnectorsAvailableException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.LaunchApp':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Launches an application stack.
      operationId: LaunchApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/LaunchAppRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.LaunchApp
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LaunchAppResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.ListApps':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of summaries for all applications.
      operationId: ListApps
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAppsRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.ListApps
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAppsResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.PutAppLaunchConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a launch configuration for an application.
      operationId: PutAppLaunchConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutAppLaunchConfigurationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.PutAppLaunchConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAppLaunchConfigurationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.PutAppReplicationConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates or updates a replication configuration for an application.
      operationId: PutAppReplicationConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutAppReplicationConfigurationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.PutAppReplicationConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAppReplicationConfigurationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.StartAppReplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts replicating an application.
      operationId: StartAppReplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartAppReplicationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.StartAppReplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartAppReplicationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.StartOnDemandReplicationRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Starts an on-demand replication run for the specified replication job. This replication run starts immediately. This replication run is in addition to the ones already scheduled.</p> <p>There is a limit on the number of on-demand replications runs you can request in a 24-hour period.</p>
      operationId: StartOnDemandReplicationRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartOnDemandReplicationRunRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.StartOnDemandReplicationRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartOnDemandReplicationRunResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '483':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '484':
          description: ReplicationRunLimitExceededException
          schema:
            $ref: '#/definitions/ReplicationRunLimitExceededException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.StopAppReplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops replicating an application.
      operationId: StopAppReplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopAppReplicationRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.StopAppReplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopAppReplicationResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.TerminateApp':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Terminates the stack for an application.
      operationId: TerminateApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TerminateAppRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.TerminateApp
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TerminateAppResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.UpdateApp':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates an application.
      operationId: UpdateApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAppRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.UpdateApp
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAppResponse'
        '480':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '483':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  '/#X-Amz-Target=AWSServerMigrationService_V2016_10_24.UpdateReplicationJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the specified settings for the specified replication job.
      operationId: UpdateReplicationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateReplicationJobRequest'
        - enum:
            - AWSServerMigrationService_V2016_10_24.UpdateReplicationJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateReplicationJobResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '483':
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        '484':
          description: ServerCannotBeReplicatedException
          schema:
            $ref: '#/definitions/ServerCannotBeReplicatedException'
        '485':
          description: ReplicationJobNotFoundException
          schema:
            $ref: '#/definitions/ReplicationJobNotFoundException'
        '486':
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
        '487':
          description: TemporarilyUnavailableException
          schema:
            $ref: '#/definitions/TemporarilyUnavailableException'
definitions:
  AmiId:
    type: string
  AppDescription:
    type: string
  AppId:
    type: string
  AppIds:
    items:
      $ref: '#/definitions/AppId'
    type: array
  AppLaunchStatus:
    enum:
      - READY_FOR_CONFIGURATION
      - CONFIGURATION_IN_PROGRESS
      - CONFIGURATION_INVALID
      - READY_FOR_LAUNCH
      - VALIDATION_IN_PROGRESS
      - LAUNCH_PENDING
      - LAUNCH_IN_PROGRESS
      - LAUNCHED
      - DELTA_LAUNCH_IN_PROGRESS
      - DELTA_LAUNCH_FAILED
      - LAUNCH_FAILED
      - TERMINATE_IN_PROGRESS
      - TERMINATE_FAILED
      - TERMINATED
    type: string
  AppLaunchStatusMessage:
    type: string
  AppName:
    type: string
  AppReplicationStatus:
    enum:
      - READY_FOR_CONFIGURATION
      - CONFIGURATION_IN_PROGRESS
      - CONFIGURATION_INVALID
      - READY_FOR_REPLICATION
      - VALIDATION_IN_PROGRESS
      - REPLICATION_PENDING
      - REPLICATION_IN_PROGRESS
      - REPLICATED
      - DELTA_REPLICATION_IN_PROGRESS
      - DELTA_REPLICATED
      - DELTA_REPLICATION_FAILED
      - REPLICATION_FAILED
      - REPLICATION_STOPPING
      - REPLICATION_STOP_FAILED
      - REPLICATION_STOPPED
    type: string
  AppReplicationStatusMessage:
    type: string
  AppStatus:
    enum:
      - CREATING
      - ACTIVE
      - UPDATING
      - DELETING
      - DELETED
      - DELETE_FAILED
    type: string
  AppStatusMessage:
    type: string
  AppSummary:
    description: Information about the application.
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: Unique ID of the application.
      creationTime:
        $ref: '#/definitions/Timestamp'
        description: Time of creation of this application.
      description:
        $ref: '#/definitions/AppDescription'
        description: Description of the application.
      lastModified:
        $ref: '#/definitions/Timestamp'
        description: Timestamp of the application's creation.
      latestReplicationTime:
        $ref: '#/definitions/Timestamp'
        description: Timestamp of the application's most recent successful replication.
      launchDetails:
        $ref: '#/definitions/LaunchDetails'
        description: Details about the latest launch of the application.
      launchStatus:
        $ref: '#/definitions/AppLaunchStatus'
        description: Launch status of the application.
      launchStatusMessage:
        $ref: '#/definitions/AppLaunchStatusMessage'
        description: A message related to the launch status of the application.
      name:
        $ref: '#/definitions/AppName'
        description: Name of the application.
      replicationStatus:
        $ref: '#/definitions/AppReplicationStatus'
        description: Replication status of the application.
      replicationStatusMessage:
        $ref: '#/definitions/AppReplicationStatusMessage'
        description: A message related to the replication status of the application.
      roleName:
        $ref: '#/definitions/RoleName'
        description: Name of the service role in the customer's account used by AWS SMS.
      status:
        $ref: '#/definitions/AppStatus'
        description: Status of the application.
      statusMessage:
        $ref: '#/definitions/AppStatusMessage'
        description: A message related to the status of the application
      totalServerGroups:
        $ref: '#/definitions/TotalServerGroups'
        description: Number of server groups present in the application.
      totalServers:
        $ref: '#/definitions/TotalServers'
        description: Number of servers present in the application.
    type: object
  Apps:
    items:
      $ref: '#/definitions/AppSummary'
    type: array
  AssociatePublicIpAddress:
    type: boolean
  BucketName:
    type: string
  ClientToken:
    type: string
  Connector:
    description: Represents a connector.
    properties:
      associatedOn:
        $ref: '#/definitions/Timestamp'
        description: The time the connector was associated.
      capabilityList:
        $ref: '#/definitions/ConnectorCapabilityList'
        description: The capabilities of the connector.
      connectorId:
        $ref: '#/definitions/ConnectorId'
        description: The identifier of the connector.
      ipAddress:
        $ref: '#/definitions/IpAddress'
        description: The IP address of the connector.
      macAddress:
        $ref: '#/definitions/MacAddress'
        description: The MAC address of the connector.
      status:
        $ref: '#/definitions/ConnectorStatus'
        description: The status of the connector.
      version:
        $ref: '#/definitions/ConnectorVersion'
        description: The connector version.
      vmManagerId:
        $ref: '#/definitions/VmManagerId'
        description: The identifier of the VM manager.
      vmManagerName:
        $ref: '#/definitions/VmManagerName'
        description: The name of the VM manager.
      vmManagerType:
        $ref: '#/definitions/VmManagerType'
        description: The VM management product.
    type: object
  ConnectorCapability:
    enum:
      - VSPHERE
      - SCVMM
      - HYPERV-MANAGER
      - SNAPSHOT_BATCHING
    type: string
  ConnectorCapabilityList:
    items:
      $ref: '#/definitions/ConnectorCapability'
    type: array
  ConnectorId:
    type: string
  ConnectorList:
    items:
      $ref: '#/definitions/Connector'
    type: array
  ConnectorStatus:
    enum:
      - HEALTHY
      - UNHEALTHY
    type: string
  ConnectorVersion:
    type: string
  CreateAppRequest:
    properties:
      clientToken:
        $ref: '#/definitions/ClientToken'
        description: 'A unique, case-sensitive identifier you provide to ensure idempotency of application creation.'
      description:
        $ref: '#/definitions/AppDescription'
        description: Description of the new application
      name:
        $ref: '#/definitions/AppName'
        description: Name of the new application.
      roleName:
        $ref: '#/definitions/RoleName'
        description: Name of service role in customer's account to be used by AWS SMS.
      serverGroups:
        $ref: '#/definitions/ServerGroups'
        description: List of server groups to include in the application.
      tags:
        $ref: '#/definitions/Tags'
        description: List of tags to be associated with the application.
    type: object
  CreateAppResponse:
    properties:
      appSummary:
        $ref: '#/definitions/AppSummary'
        description: Summary description of the application.
      serverGroups:
        $ref: '#/definitions/ServerGroups'
        description: List of server groups included in the application.
      tags:
        $ref: '#/definitions/Tags'
        description: List of taags associated with the application.
    type: object
  CreateReplicationJobRequest:
    properties:
      description:
        $ref: '#/definitions/Description'
        description: The description of the replication job.
      encrypted:
        $ref: '#/definitions/Encrypted'
        description: 'When <i>true</i>, the replication job produces encrypted AMIs. See also <code>KmsKeyId</code> below.'
      frequency:
        $ref: '#/definitions/Frequency'
        description: 'The time between consecutive replication runs, in hours.'
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: '<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer''s default KMS key for EBS is used. </p>'
      licenseType:
        $ref: '#/definitions/LicenseType'
        description: The license type to be used for the AMI created by a successful replication run.
      numberOfRecentAmisToKeep:
        $ref: '#/definitions/NumberOfRecentAmisToKeep'
        description: The maximum number of SMS-created AMIs to retain. The oldest will be deleted once the maximum number is reached and a new AMI is created.
      roleName:
        $ref: '#/definitions/RoleName'
        description: The name of the IAM role to be used by the AWS SMS.
      runOnce:
        $ref: '#/definitions/RunOnce'
        description: <p/>
      seedReplicationTime:
        $ref: '#/definitions/Timestamp'
        description: The seed replication time.
      serverId:
        $ref: '#/definitions/ServerId'
        description: The identifier of the server.
    required:
      - serverId
      - seedReplicationTime
    type: object
  CreateReplicationJobResponse:
    properties:
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The unique identifier of the replication job.
    type: object
  DeleteAppLaunchConfigurationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the launch configuration.
    type: object
  DeleteAppLaunchConfigurationResponse:
    properties: {}
    type: object
  DeleteAppReplicationConfigurationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the replication configuration.
    type: object
  DeleteAppReplicationConfigurationResponse:
    properties: {}
    type: object
  DeleteAppRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application to delete.
      forceStopAppReplication:
        $ref: '#/definitions/ForceStopAppReplication'
        description: 'While deleting the application, stop all replication jobs corresponding to the servers in the application.'
      forceTerminateApp:
        $ref: '#/definitions/ForceTerminateApp'
        description: 'While deleting the application, terminate the stack corresponding to the application.'
    type: object
  DeleteAppResponse:
    properties: {}
    type: object
  DeleteReplicationJobRequest:
    properties:
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
    required:
      - replicationJobId
    type: object
  DeleteReplicationJobResponse:
    properties: {}
    type: object
  DeleteServerCatalogRequest:
    properties: {}
    type: object
  DeleteServerCatalogResponse:
    properties: {}
    type: object
  Description:
    type: string
  DisassociateConnectorRequest:
    properties:
      connectorId:
        $ref: '#/definitions/ConnectorId'
        description: The identifier of the connector.
    required:
      - connectorId
    type: object
  DisassociateConnectorResponse:
    properties: {}
    type: object
  EC2KeyName:
    type: string
  Encrypted:
    type: boolean
  ForceStopAppReplication:
    type: boolean
  ForceTerminateApp:
    type: boolean
  Frequency:
    type: integer
  GenerateChangeSetRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the change set.
      changesetFormat:
        $ref: '#/definitions/OutputFormat'
        description: Format for the change set.
    type: object
  GenerateChangeSetResponse:
    properties:
      s3Location:
        $ref: '#/definitions/S3Location'
        description: Location of the Amazon S3 object.
    type: object
  GenerateTemplateRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the Amazon CloudFormation template.
      templateFormat:
        $ref: '#/definitions/OutputFormat'
        description: Format for generating the Amazon CloudFormation template.
    type: object
  GenerateTemplateResponse:
    properties:
      s3Location:
        $ref: '#/definitions/S3Location'
        description: Location of the Amazon S3 object.
    type: object
  GetAppLaunchConfigurationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application launch configuration.
    type: object
  GetAppLaunchConfigurationResponse:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the launch configuration.
      roleName:
        $ref: '#/definitions/RoleName'
        description: Name of the service role in the customer's account that Amazon CloudFormation uses to launch the application.
      serverGroupLaunchConfigurations:
        $ref: '#/definitions/ServerGroupLaunchConfigurations'
        description: List of launch configurations for server groups in this application.
    type: object
  GetAppReplicationConfigurationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the replication configuration.
    type: object
  GetAppReplicationConfigurationResponse:
    properties:
      serverGroupReplicationConfigurations:
        $ref: '#/definitions/ServerGroupReplicationConfigurations'
        description: Replication configurations associated with server groups in this application.
    type: object
  GetAppRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application whose information is being retrieved.
    type: object
  GetAppResponse:
    properties:
      appSummary:
        $ref: '#/definitions/AppSummary'
        description: Information about the application.
      serverGroups:
        $ref: '#/definitions/ServerGroups'
        description: List of server groups belonging to the application.
      tags:
        $ref: '#/definitions/Tags'
        description: List of tags associated with the application.
    type: object
  GetConnectorsRequest:
    properties:
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of results.
    type: object
  GetConnectorsResponse:
    properties:
      connectorList:
        $ref: '#/definitions/ConnectorList'
        description: Information about the registered connectors.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token required to retrieve the next set of results. This value is null when there are no more results to return.
    type: object
  GetReplicationJobsRequest:
    properties:
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of results.
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
    type: object
  GetReplicationJobsResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token required to retrieve the next set of results. This value is null when there are no more results to return.
      replicationJobList:
        $ref: '#/definitions/ReplicationJobList'
        description: Information about the replication jobs.
    type: object
  GetReplicationRunsRequest:
    properties:
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of results.
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
    required:
      - replicationJobId
    type: object
  GetReplicationRunsResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token required to retrieve the next set of results. This value is null when there are no more results to return.
      replicationJob:
        $ref: '#/definitions/ReplicationJob'
        description: Information about the replication job.
      replicationRunList:
        $ref: '#/definitions/ReplicationRunList'
        description: Information about the replication runs.
    type: object
  GetServersRequest:
    properties:
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of results.
      vmServerAddressList:
        $ref: '#/definitions/VmServerAddressList'
        description: List of <code>VmServerAddress</code> objects
    type: object
  GetServersResponse:
    properties:
      lastModifiedOn:
        $ref: '#/definitions/Timestamp'
        description: The time when the server was last modified.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token required to retrieve the next set of results. This value is null when there are no more results to return.
      serverCatalogStatus:
        $ref: '#/definitions/ServerCatalogStatus'
        description: The status of the server catalog.
      serverList:
        $ref: '#/definitions/ServerList'
        description: Information about the servers.
    type: object
  ImportServerCatalogRequest:
    properties: {}
    type: object
  ImportServerCatalogResponse:
    properties: {}
    type: object
  InstanceType:
    type: string
  InternalError: {}
  InvalidParameterException: {}
  IpAddress:
    type: string
  KeyName:
    type: string
  KmsKeyId:
    type: string
  LaunchAppRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application to launch.
    type: object
  LaunchAppResponse:
    properties: {}
    type: object
  LaunchDetails:
    description: Details about the latest launch of an application.
    properties:
      latestLaunchTime:
        $ref: '#/definitions/Timestamp'
        description: Latest time this application was launched successfully.
      stackId:
        $ref: '#/definitions/StackId'
        description: Identifier of the latest stack launched for this application.
      stackName:
        $ref: '#/definitions/StackName'
        description: Name of the latest stack launched for this application.
    type: object
  LaunchOrder:
    type: integer
  LicenseType:
    enum:
      - AWS
      - BYOL
    type: string
  ListAppsRequest:
    properties:
      appIds:
        $ref: '#/definitions/AppIds'
        description: <p/>
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of results.
    type: object
  ListAppsResponse:
    properties:
      apps:
        $ref: '#/definitions/Apps'
        description: A list of application summaries.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token required to retrieve the next set of results. This value is null when there are no more results to return.
    type: object
  LogicalId:
    type: string
  MacAddress:
    type: string
  MaxResults:
    type: integer
  MissingRequiredParameterException: {}
  NextToken:
    type: string
  NoConnectorsAvailableException: {}
  NumberOfRecentAmisToKeep:
    type: integer
  OperationNotPermittedException: {}
  OutputFormat:
    enum:
      - JSON
      - YAML
    type: string
  PutAppLaunchConfigurationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application associated with the launch configuration.
      roleName:
        $ref: '#/definitions/RoleName'
        description: Name of service role in the customer's account that Amazon CloudFormation uses to launch the application.
      serverGroupLaunchConfigurations:
        $ref: '#/definitions/ServerGroupLaunchConfigurations'
        description: Launch configurations for server groups in the application.
    type: object
  PutAppLaunchConfigurationResponse:
    properties: {}
    type: object
  PutAppReplicationConfigurationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application tassociated with the replication configuration.
      serverGroupReplicationConfigurations:
        $ref: '#/definitions/ServerGroupReplicationConfigurations'
        description: Replication configurations for server groups in the application.
    type: object
  PutAppReplicationConfigurationResponse:
    properties: {}
    type: object
  ReplicationJob:
    description: Represents a replication job.
    properties:
      description:
        $ref: '#/definitions/Description'
        description: The description of the replication job.
      encrypted:
        $ref: '#/definitions/Encrypted'
        description: Whether the replication job should produce encrypted AMIs or not. See also <code>KmsKeyId</code> below.
      frequency:
        $ref: '#/definitions/Frequency'
        description: 'The time between consecutive replication runs, in hours.'
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: '<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer''s default KMS key for EBS is used. </p>'
      latestAmiId:
        $ref: '#/definitions/AmiId'
        description: The ID of the latest Amazon Machine Image (AMI).
      licenseType:
        $ref: '#/definitions/LicenseType'
        description: The license type to be used for the AMI created by a successful replication run.
      nextReplicationRunStartTime:
        $ref: '#/definitions/Timestamp'
        description: The start time of the next replication run.
      numberOfRecentAmisToKeep:
        $ref: '#/definitions/NumberOfRecentAmisToKeep'
        description: 'Number of recent AMIs to keep in the customer''s account for a replication job. By default the value is set to zero, meaning that all AMIs are kept.'
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
      replicationRunList:
        $ref: '#/definitions/ReplicationRunList'
        description: Information about the replication runs.
      roleName:
        $ref: '#/definitions/RoleName'
        description: The name of the IAM role to be used by the Server Migration Service.
      runOnce:
        $ref: '#/definitions/RunOnce'
        description: <p/>
      seedReplicationTime:
        $ref: '#/definitions/Timestamp'
        description: The seed replication time.
      serverId:
        $ref: '#/definitions/ServerId'
        description: The identifier of the server.
      serverType:
        $ref: '#/definitions/ServerType'
        description: The type of server.
      state:
        $ref: '#/definitions/ReplicationJobState'
        description: The state of the replication job.
      statusMessage:
        $ref: '#/definitions/ReplicationJobStatusMessage'
        description: The description of the current status of the replication job.
      vmServer:
        $ref: '#/definitions/VmServer'
        description: Information about the VM server.
    type: object
  ReplicationJobAlreadyExistsException: {}
  ReplicationJobId:
    type: string
  ReplicationJobList:
    items:
      $ref: '#/definitions/ReplicationJob'
    type: array
  ReplicationJobNotFoundException: {}
  ReplicationJobState:
    enum:
      - PENDING
      - ACTIVE
      - FAILED
      - DELETING
      - DELETED
      - COMPLETED
      - PAUSED_ON_FAILURE
      - FAILING
    type: string
  ReplicationJobStatusMessage:
    type: string
  ReplicationJobTerminated:
    type: boolean
  ReplicationRun:
    description: Represents a replication run.
    properties:
      amiId:
        $ref: '#/definitions/AmiId'
        description: The identifier of the Amazon Machine Image (AMI) from the replication run.
      completedTime:
        $ref: '#/definitions/Timestamp'
        description: The completion time of the last replication run.
      description:
        $ref: '#/definitions/Description'
        description: The description of the replication run.
      encrypted:
        $ref: '#/definitions/Encrypted'
        description: Whether the replication run should produce encrypted AMI or not. See also <code>KmsKeyId</code> below.
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: '<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer''s default KMS key for EBS is used. </p>'
      replicationRunId:
        $ref: '#/definitions/ReplicationRunId'
        description: The identifier of the replication run.
      scheduledStartTime:
        $ref: '#/definitions/Timestamp'
        description: The start time of the next replication run.
      stageDetails:
        $ref: '#/definitions/ReplicationRunStageDetails'
        description: Details of the current stage of the replication run.
      state:
        $ref: '#/definitions/ReplicationRunState'
        description: The state of the replication run.
      statusMessage:
        $ref: '#/definitions/ReplicationRunStatusMessage'
        description: The description of the current status of the replication job.
      type:
        $ref: '#/definitions/ReplicationRunType'
        description: The type of replication run.
    type: object
  ReplicationRunId:
    type: string
  ReplicationRunLimitExceededException: {}
  ReplicationRunList:
    items:
      $ref: '#/definitions/ReplicationRun'
    type: array
  ReplicationRunStage:
    type: string
  ReplicationRunStageDetails:
    description: Details of the current stage of a replication run.
    properties:
      stage:
        $ref: '#/definitions/ReplicationRunStage'
        description: String describing the current stage of a replication run.
      stageProgress:
        $ref: '#/definitions/ReplicationRunStageProgress'
        description: String describing the progress of the current stage of a replication run.
    type: object
  ReplicationRunStageProgress:
    type: string
  ReplicationRunState:
    enum:
      - PENDING
      - MISSED
      - ACTIVE
      - FAILED
      - COMPLETED
      - DELETING
      - DELETED
    type: string
  ReplicationRunStatusMessage:
    type: string
  ReplicationRunType:
    enum:
      - ON_DEMAND
      - AUTOMATIC
    type: string
  RoleName:
    type: string
  RunOnce:
    type: boolean
  S3Location:
    description: Location of the Amazon S3 object in the customer's account.
    properties:
      bucket:
        $ref: '#/definitions/BucketName'
        description: Amazon S3 bucket name.
      key:
        $ref: '#/definitions/KeyName'
        description: Amazon S3 bucket key.
    type: object
  SecurityGroup:
    type: string
  Server:
    description: Represents a server.
    properties:
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
      replicationJobTerminated:
        $ref: '#/definitions/ReplicationJobTerminated'
        description: Indicates whether the replication job is deleted or failed.
      serverId:
        $ref: '#/definitions/ServerId'
        description: The identifier of the server.
      serverType:
        $ref: '#/definitions/ServerType'
        description: The type of server.
      vmServer:
        $ref: '#/definitions/VmServer'
        description: Information about the VM server.
    type: object
  ServerCannotBeReplicatedException: {}
  ServerCatalogStatus:
    enum:
      - NOT_IMPORTED
      - IMPORTING
      - AVAILABLE
      - DELETED
      - EXPIRED
    type: string
  ServerGroup:
    description: A logical grouping of servers.
    properties:
      name:
        $ref: '#/definitions/ServerGroupName'
        description: Name of a server group.
      serverGroupId:
        $ref: '#/definitions/ServerGroupId'
        description: Identifier of a server group.
      serverList:
        $ref: '#/definitions/ServerList'
        description: List of servers belonging to a server group.
    type: object
  ServerGroupId:
    type: string
  ServerGroupLaunchConfiguration:
    description: Launch configuration for a server group.
    properties:
      launchOrder:
        $ref: '#/definitions/LaunchOrder'
        description: Launch order of servers in the server group.
      serverGroupId:
        $ref: '#/definitions/ServerGroupId'
        description: Identifier of the server group the launch configuration is associated with.
      serverLaunchConfigurations:
        $ref: '#/definitions/ServerLaunchConfigurations'
        description: Launch configuration for servers in the server group.
    type: object
  ServerGroupLaunchConfigurations:
    items:
      $ref: '#/definitions/ServerGroupLaunchConfiguration'
    type: array
  ServerGroupName:
    type: string
  ServerGroupReplicationConfiguration:
    description: Replication configuration for a server group.
    properties:
      serverGroupId:
        $ref: '#/definitions/ServerGroupId'
        description: Identifier of the server group this replication configuration is associated with.
      serverReplicationConfigurations:
        $ref: '#/definitions/ServerReplicationConfigurations'
        description: Replication configuration for servers in the server group.
    type: object
  ServerGroupReplicationConfigurations:
    items:
      $ref: '#/definitions/ServerGroupReplicationConfiguration'
    type: array
  ServerGroups:
    items:
      $ref: '#/definitions/ServerGroup'
    type: array
  ServerId:
    type: string
  ServerLaunchConfiguration:
    description: Launch configuration for a server.
    properties:
      associatePublicIpAddress:
        $ref: '#/definitions/AssociatePublicIpAddress'
        description: 'If true, a publicly accessible IP address is created when launching the server.'
      ec2KeyName:
        $ref: '#/definitions/EC2KeyName'
        description: Name of the EC2 SSH Key to be used for connecting to the launched server.
      instanceType:
        $ref: '#/definitions/InstanceType'
        description: Instance type to be used for launching the server.
      logicalId:
        $ref: '#/definitions/LogicalId'
        description: Logical ID of the server in the Amazon CloudFormation template.
      securityGroup:
        $ref: '#/definitions/SecurityGroup'
        description: Identifier of the security group that applies to the launched server.
      server:
        $ref: '#/definitions/Server'
        description: Identifier of the server the launch configuration is associated with.
      subnet:
        $ref: '#/definitions/Subnet'
        description: Identifier of the subnet the server should be launched into.
      userData:
        $ref: '#/definitions/UserData'
        description: Location of the user-data script to be executed when launching the server.
      vpc:
        $ref: '#/definitions/VPC'
        description: Identifier of the VPC the server should be launched into.
    type: object
  ServerLaunchConfigurations:
    items:
      $ref: '#/definitions/ServerLaunchConfiguration'
    type: array
  ServerList:
    items:
      $ref: '#/definitions/Server'
    type: array
  ServerReplicationConfiguration:
    description: Replication configuration of a server.
    properties:
      server:
        $ref: '#/definitions/Server'
        description: Identifier of the server this replication configuration is associated with.
      serverReplicationParameters:
        $ref: '#/definitions/ServerReplicationParameters'
        description: Parameters for replicating the server.
    type: object
  ServerReplicationConfigurations:
    items:
      $ref: '#/definitions/ServerReplicationConfiguration'
    type: array
  ServerReplicationParameters:
    description: Replication parameters for replicating a server.
    properties:
      encrypted:
        $ref: '#/definitions/Encrypted'
        description: 'When true, the replication job produces encrypted AMIs. See also <code>KmsKeyId</code> below.'
      frequency:
        $ref: '#/definitions/Frequency'
        description: Frequency of creating replication jobs for the server.
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: '<p/> <p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer''s default KMS key for EBS is used. </p>'
      licenseType:
        $ref: '#/definitions/LicenseType'
        description: License type for creating a replication job for the server.
      numberOfRecentAmisToKeep:
        $ref: '#/definitions/NumberOfRecentAmisToKeep'
        description: Number of recent AMIs to keep when creating a replication job for this server.
      runOnce:
        $ref: '#/definitions/RunOnce'
        description: <p/>
      seedTime:
        $ref: '#/definitions/Timestamp'
        description: Seed time for creating a replication job for the server.
    type: object
  ServerType:
    enum:
      - VIRTUAL_MACHINE
    type: string
  StackId:
    type: string
  StackName:
    type: string
  StartAppReplicationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application to replicate.
    type: object
  StartAppReplicationResponse:
    properties: {}
    type: object
  StartOnDemandReplicationRunRequest:
    properties:
      description:
        $ref: '#/definitions/Description'
        description: The description of the replication run.
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
    required:
      - replicationJobId
    type: object
  StartOnDemandReplicationRunResponse:
    properties:
      replicationRunId:
        $ref: '#/definitions/ReplicationRunId'
        description: The identifier of the replication run.
    type: object
  StopAppReplicationRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application to stop replicating.
    type: object
  StopAppReplicationResponse:
    properties: {}
    type: object
  Subnet:
    type: string
  Tag:
    description: A label that can be assigned to an application.
    properties:
      key:
        $ref: '#/definitions/TagKey'
        description: Tag key.
      value:
        $ref: '#/definitions/TagValue'
        description: Tag value.
    type: object
  TagKey:
    type: string
  TagValue:
    type: string
  Tags:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TemporarilyUnavailableException: {}
  TerminateAppRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application to terminate.
    type: object
  TerminateAppResponse:
    properties: {}
    type: object
  Timestamp:
    format: date-time
    type: string
  TotalServerGroups:
    type: integer
  TotalServers:
    type: integer
  UnauthorizedOperationException: {}
  UpdateAppRequest:
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ID of the application to update.
      description:
        $ref: '#/definitions/AppDescription'
        description: New description of the application.
      name:
        $ref: '#/definitions/AppName'
        description: New name of the application.
      roleName:
        $ref: '#/definitions/RoleName'
        description: Name of the service role in the customer's account used by AWS SMS.
      serverGroups:
        $ref: '#/definitions/ServerGroups'
        description: List of server groups in the application to update.
      tags:
        $ref: '#/definitions/Tags'
        description: List of tags to associate with the application.
    type: object
  UpdateAppResponse:
    properties:
      appSummary:
        $ref: '#/definitions/AppSummary'
        description: Summary description of the application.
      serverGroups:
        $ref: '#/definitions/ServerGroups'
        description: List of updated server groups in the application.
      tags:
        $ref: '#/definitions/Tags'
        description: List of tags associated with the application.
    type: object
  UpdateReplicationJobRequest:
    properties:
      description:
        $ref: '#/definitions/Description'
        description: The description of the replication job.
      encrypted:
        $ref: '#/definitions/Encrypted'
        description: 'When true, the replication job produces encrypted AMIs . See also <code>KmsKeyId</code> below.'
      frequency:
        $ref: '#/definitions/Frequency'
        description: 'The time between consecutive replication runs, in hours.'
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: '<p/> <p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer''s default KMS key for EBS is used. </p>'
      licenseType:
        $ref: '#/definitions/LicenseType'
        description: The license type to be used for the AMI created by a successful replication run.
      nextReplicationRunStartTime:
        $ref: '#/definitions/Timestamp'
        description: The start time of the next replication run.
      numberOfRecentAmisToKeep:
        $ref: '#/definitions/NumberOfRecentAmisToKeep'
        description: The maximum number of SMS-created AMIs to retain. The oldest will be deleted once the maximum number is reached and a new AMI is created.
      replicationJobId:
        $ref: '#/definitions/ReplicationJobId'
        description: The identifier of the replication job.
      roleName:
        $ref: '#/definitions/RoleName'
        description: The name of the IAM role to be used by AWS SMS.
    required:
      - replicationJobId
    type: object
  UpdateReplicationJobResponse:
    properties: {}
    type: object
  UserData:
    description: A script that runs on first launch of an Amazon EC2 instance. Used for configuring the server during launch.
    properties:
      s3Location:
        $ref: '#/definitions/S3Location'
        description: Amazon S3 location of the user-data script.
    type: object
  VPC:
    type: string
  VmId:
    type: string
  VmManagerId:
    type: string
  VmManagerName:
    type: string
  VmManagerType:
    enum:
      - VSPHERE
      - SCVMM
      - HYPERV-MANAGER
    type: string
  VmName:
    type: string
  VmPath:
    type: string
  VmServer:
    description: Represents a VM server.
    properties:
      vmManagerName:
        $ref: '#/definitions/VmManagerName'
        description: The name of the VM manager.
      vmManagerType:
        $ref: '#/definitions/VmManagerType'
        description: The type of VM management product.
      vmName:
        $ref: '#/definitions/VmName'
        description: The name of the VM.
      vmPath:
        $ref: '#/definitions/VmPath'
        description: The VM folder path in the vCenter Server virtual machine inventory tree.
      vmServerAddress:
        $ref: '#/definitions/VmServerAddress'
        description: Information about the VM server location.
    type: object
  VmServerAddress:
    description: Represents a VM server location.
    properties:
      vmId:
        $ref: '#/definitions/VmId'
        description: The identifier of the VM.
      vmManagerId:
        $ref: '#/definitions/VmManagerId'
        description: The identifier of the VM manager.
    type: object
  VmServerAddressList:
    items:
      $ref: '#/definitions/VmServerAddress'
    type: array
x-servers:
  - description: The SMS multi-region endpoint
    url: 'http://sms.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The SMS multi-region endpoint
    url: 'https://sms.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The SMS endpoint for China (Beijing) and China (Ningxia)
    url: 'http://sms.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The SMS endpoint for China (Beijing) and China (Ningxia)
    url: 'https://sms.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
