swagger: "2.0"
host: cfportal.contract-p.fit
basePath: /api
x-hasEquivalentPaths: true
info:
  description: "This describes the Contract.fit product API. If you don't have authorization keys yet, please request them there: https://contract.fit/contact-us"
  title: Contract.fit API
  version: "1.0"
  x-apisguru-categories:
    - text
  x-origin:
    - format: swagger
      url: https://cfportal.contract-p.fit/swagger.json
      version: "2.0"
  x-providerName: contract-p.fit
  x-preferred: null
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  basic:
    description: username and password
    type: basic
  token:
    in: header
    name: Authorization
    type: apiKey
security:
  - basic: []
  - token: []
responses:
  Exception:
    description: Forward a BUIserverException to the final user
  MaskError:
    description: When any error occurs on mask
  ParseError:
    description: When a mask can't be parsed
tags:
  - description: File manipulation endpoint
    name: documents
paths:
  /documents/:
    post:
      consumes:
        - multipart/form-data
      operationId: post_simple_documents_resource
      parameters:
        - description: File to handle
          in: formData
          name: file
          required: true
          type: file
        - in: formData
          name: inbox_id
          type: string
        - default: true
          in: formData
          name: key_value_flag
          type: boolean
      responses:
        "200":
          description: Success
      tags:
        - documents
  "/documents/{document_id}":
    delete:
      operationId: delete_document_resource
      responses:
        "200":
          description: Success
      tags:
        - documents
    get:
      operationId: get_document_resource
      parameters:
        - description: An optional fields mask
          format: mask
          in: header
          name: X-Fields
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DocumentModelGet"
      tags:
        - documents
    parameters:
      - in: path
        name: document_id
        required: true
        type: string
  "/documents/{document_id}/original_file":
    get:
      operationId: get_document_original_file_resource
      responses:
        "200":
          description: Success
      tags:
        - documents
    parameters:
      - in: path
        name: document_id
        required: true
        type: string
  "/documents/{document_id}/page/{page_range}":
    get:
      operationId: get_document_page_image_resource
      responses:
        "200":
          description: Success
      tags:
        - documents
    parameters:
      - description: The number of the page, starting from 0. A range of pages, separated by ":" is also allowed to return a zip file.
        in: path
        name: page_range
        required: true
        type: string
      - in: path
        name: document_id
        required: true
        type: string
  "/documents/{document_id}/text":
    get:
      operationId: get_document_text_resource
      responses:
        "200":
          description: Success
      tags:
        - documents
    parameters:
      - in: path
        name: document_id
        required: true
        type: string
  "/documents/{inbox_id}":
    parameters:
      - in: path
        name: inbox_id
        required: true
        type: string
    post:
      consumes:
        - multipart/form-data
      operationId: post_documents_resource
      parameters:
        - description: File to handle
          in: formData
          name: file
          required: true
          type: file
        - description: 'Additional hints as a dictionary. Example: {"VAT_number":{"blacklist":"XXXX.XXX.XXX", "whitelist": ["YYYY.YYY.YYY", "ZZZZ.ZZZ.ZZZ"]}}'
          in: formData
          name: hints
          pattern: '\{ *("(Reference|includes_water|el_EAN|process_label|email_address|phone_number|url|fax_number|company_number|sender_company_number|receiver_company_number|VAT_number|sender_VAT|receiver_VAT|vendor_VAT|receiver_company|IBAN|bank_account|energy_supplier|energy_el_consumption|BIC|invoice_number|due_date|invoice_date|payment_terms|document_date|gross_amount|tax_amount|tax_rate|net_amount|tax_item|net_item|amount_payable|sender_name|receiver_name|registered_sender_name|registered_receiver_name|address_filter_ligging|address_after_gegevens|address_filter_first|person|zip|city|street|number|structured|unstructured|detail_MUT|detail_PL|license_plate|PO_number|PO_item|document_type_label|document_type|reminder|direct_debit|GL_number|robi_number|internal_order|Periodicity|ExpiryDate|StartDate|Building|Content|Vehicles|SolarPanels|FirstRisk|OccupationType|PropertyType|QualificationType|language|country|currency_estimate|currency|Siret|Siret_legal_name|Siret_commercial_name|kvk_number|CIF_number|insured_insz|insured_birthdate|print_date|insured_first_name|insured_last_name|Detailfiche als werknemer|Detailfiche als zelfstandige|sender_address|receiver_address|registered_sender_address|registered_receiver_address|secci_APR|secci_duration|secci_installments|secci_total_amount_to_pay|receipt_lines|line_items_with_textract|TaxTotal|contract_number|contract_number_lbfo|shading|rotation|folding_lines|source|resolution|payslips_document_type|employee_lastname|employee_firstname|payslip_issue_date|dependent_children|national_registration_number|employee_street_number|employee_street_name|employee_postal_code|employer_name|employer_street_number|employer_street_name|employer_postal_code|payslip_period|employee_rnniss|contract_type|entry_date|working_time|onss|net_salary|iban_employee|holder_first_name|holder_last_name|holder_iban|Matches|translation|firstname|lastname|birthdate|id_first_name|id_last_name|id_gender|id_nationality|id_card_number|id_national_number|id_birth_date|legal_type_document|legal_type_infraction|legal_penalty|legal_infraction|signature|logo|handwritten_text|barcode_detection|barcode|steuernummer|cnr_uk|tak_label|tax_compound|payslip_employer_name|payslip_employee_name|employer_address_street|employer_address_number|employer_address_zip|employer_address_city|employee_address_street|employee_address_number|employee_address_zip|employee_address_city|claim_number|policy_number|receipt_lines_with_categories|car_policy_holder_birth_date|car_policy_comissioning_date|car_policy_city|car_policy_brand|car_policy_catalog_value|car_policy_power|car_policy_driver_license_date|car_policy_model|car_policy_payment_term|car_policy_usage|car_policy_fuel|car_policy_street|car_policy_holder_first_name|car_policy_funding_ratio|car_policy_holder_last_name|car_policy_start_date|car_policy_business_type|car_policy_holder|car_policy_postal_code|email_sender|email_receiver|email_subject|email_date|offer_number|client_number|producer|table|table_extraction|table_transformer|por_code|afdeling_label|maatschappij_label|brand_car|court_chamber|decision_judge|direction|drunk|examination_doctor|fine|fine_multiplier|fine_suspended|fund_prodeo|fund_victims|infraction|infraction_city|infraction_date|infraction_date||infraction_time|infraction_location|infraction_time|judge_name|judgement_date|judgement_number|kostenprocedure|law_limit_alcohol|lawyer_present|lessons_obligation|license_ban|license_ban_suspended|license_ban_weekend|license_plate_legal|measured_alcohol|offender_birthdate_place|offender_domicile|offender_domicilewoonplaats|offender_name|police_court|procureur|prosecutor|pv_number||date_pv|roll_number|speach|speed_corrected|speed_limit|speed_measured|system_number|time_red|trial_date||trial_hour|walk)" *: *\{( *"(blacklist|whitelist)"* *:( *\[)?( *"[A-z0-9._ -]*" *,?){1,}\]? *,?){1,} *\} *,? *){1,} *\}'
          type: string
        - default: true
          in: formData
          name: sync
          type: boolean
      responses:
        "200":
          description: Success
      tags:
        - documents
definitions:
  DocumentModelGet:
    properties:
      escalate:
        $ref: "#/definitions/StateModelGet"
      evaluation_data:
        items:
          type: object
        type: array
      feedback:
        type: object
      files:
        type: object
      flag_for_review:
        type: boolean
      id:
        type: string
      inbox:
        example: abcdef123456789abcdef123
        maxLength: 24
        minLength: 24
        pattern: "[A-z0-9]"
        type: string
      last_version:
        type: string
      lock:
        $ref: "#/definitions/StateModelGet"
      meta_information:
        type: object
      original_filename:
        type: string
      page_count:
        type: integer
      prediction:
        type: object
      status_data:
        $ref: "#/definitions/StatusDataModel"
      submitted:
        $ref: "#/definitions/StateModelGet"
      timings:
        $ref: "#/definitions/TimingsModelGet"
      usage_data:
        type: object
    required:
      - id
      - inbox
      - original_filename
      - page_count
    type: object
  StateModelGet:
    properties:
      by:
        example: abcdef123456789abcdef123
        maxLength: 24
        minLength: 24
        pattern: "[A-z0-9]"
        type: string
      since:
        format: date-time
        type: string
      value:
        type: boolean
    type: object
  StatusDataModel:
    properties:
      archived:
        type: boolean
      data:
        type: boolean
      escalate:
        type: boolean
      feedback:
        type: boolean
      lock:
        type: boolean
      ready_accepted:
        type: boolean
      ready_attempts:
        type: integer
      reject:
        type: boolean
      reject_accepted:
        type: boolean
      reject_attempts:
        type: integer
      sampling:
        type: boolean
      submit_accepted:
        type: boolean
      submit_attempts:
        type: integer
      success:
        type: boolean
    type: object
  TimingsModelGet:
    properties:
      done_time:
        format: date-time
        type: string
      feedback_time:
        format: date-time
        type: string
      processing_period:
        type: number
      receive_time:
        format: date-time
        type: string
      start_time:
        format: date-time
        type: string
    type: object
