swagger: '2.0'
schemes:
  - http
  - https
host: api.sportsdata.io
basePath: /v3/nba/projections
info:
  contact:
    x-twitter: nfldata
  title: NBA v3 Projections
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nba-v3-projections.json'
      version: '2.0'
  x-providerName: sportsdata.io
  x-serviceName: nba-v3-projections
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  '/{format}/DfsSlatesByDate/{date}':
    get:
      operationId: DfsSlatesByDate
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the game(s).
            <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  '/{format}/PlayerGameProjectionStatsByDate/{date}':
    get:
      operationId: ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The date of the game(s). <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: 'Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)'
  '/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}':
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The date of the game(s).<br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
          in: path
          name: date
          required: true
          type: string
        - description: 'Unique FantasyData Player ID. Example:<code>20000571</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerGameProjection'
      summary: 'Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)'
  '/{format}/PlayerSeasonProjectionStats/{season}':
    get:
      operationId: ProjectedPlayerSeasonStats
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonProjection'
            type: array
      summary: Projected Player Season Stats
  '/{format}/PlayerSeasonProjectionStatsByPlayer/{season}/{playerid}':
    get:
      operationId: ProjectedPlayerSeasonStatsByPlayer
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
          in: path
          name: season
          required: true
          type: string
        - description: 'Unique FantasyData Player ID. Example:<code>20000571</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerSeasonProjection'
      summary: Projected Player Season Stats by Player
  '/{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}':
    get:
      operationId: ProjectedPlayerSeasonStatsByTeam
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
          in: path
          name: season
          required: true
          type: string
        - description: |-
            The abbreviation of the requested team.
            <br>Examples: <code>MIA</code>, <code>PHI</code>.
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonProjection'
            type: array
      summary: Projected Player Season Stats by Team
definitions:
  DfsSlate:
    properties:
      DfsSlateGames:
        items:
          $ref: '#/definitions/DfsSlateGame'
        type: array
      DfsSlatePlayers:
        items:
          $ref: '#/definitions/DfsSlatePlayer'
        type: array
      IsMultiDaySlate:
        type: boolean
      NumberOfGames:
        type: integer
      Operator:
        type: string
      OperatorDay:
        type: string
      OperatorGameType:
        type: string
      OperatorName:
        type: string
      OperatorSlateID:
        type: integer
      OperatorStartTime:
        type: string
      RemovedByOperator:
        type: boolean
      SalaryCap:
        type: integer
      SlateID:
        type: integer
      SlateRosterSlots:
        items:
          type: string
        type: array
  DfsSlateGame:
    properties:
      Game:
        $ref: '#/definitions/Game'
      GameID:
        type: integer
      OperatorGameID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
  DfsSlatePlayer:
    properties:
      OperatorPlayerID:
        type: string
      OperatorPlayerName:
        type: string
      OperatorPosition:
        type: string
      OperatorRosterSlots:
        items:
          type: string
        type: array
      OperatorSalary:
        type: integer
      OperatorSlatePlayerID:
        type: string
      PlayerGameProjectionStatID:
        type: integer
      PlayerID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
      SlatePlayerID:
        type: integer
  Game:
    properties:
      Attendance:
        type: integer
      AwayTeam:
        type: string
      AwayTeamID:
        type: integer
      AwayTeamMoneyLine:
        type: integer
      AwayTeamScore:
        type: integer
      Channel:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      GameEndDateTime:
        type: string
      GameID:
        type: integer
      GlobalAwayTeamID:
        type: integer
      GlobalGameID:
        type: integer
      GlobalHomeTeamID:
        type: integer
      HomeTeam:
        type: string
      HomeTeamID:
        type: integer
      HomeTeamMoneyLine:
        type: integer
      HomeTeamScore:
        type: integer
      IsClosed:
        type: boolean
      LastPlay:
        type: string
      OverUnder:
        type: number
      PointSpread:
        type: number
      PointSpreadAwayTeamMoneyLine:
        type: integer
      PointSpreadHomeTeamMoneyLine:
        type: integer
      Quarter:
        type: string
      Quarters:
        items:
          $ref: '#/definitions/Quarter'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      StadiumID:
        type: integer
      Status:
        type: string
      TimeRemainingMinutes:
        type: integer
      TimeRemainingSeconds:
        type: integer
      Updated:
        type: string
  PlayerGameProjection:
    properties:
      Assists:
        type: number
      AssistsPercentage:
        type: number
      BlockedShots:
        type: number
      BlocksPercentage:
        type: number
      DateTime:
        type: string
      Day:
        type: string
      DefensiveRebounds:
        type: number
      DefensiveReboundsPercentage:
        type: number
      DoubleDoubles:
        type: number
      DraftKingsPosition:
        type: string
      DraftKingsSalary:
        type: integer
      EffectiveFieldGoalsPercentage:
        type: number
      FanDuelPosition:
        type: string
      FanDuelSalary:
        type: integer
      FantasyDataSalary:
        type: integer
      FantasyDraftPosition:
        type: string
      FantasyDraftSalary:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FieldGoalsAttempted:
        type: number
      FieldGoalsMade:
        type: number
      FieldGoalsPercentage:
        type: number
      FreeThrowsAttempted:
        type: number
      FreeThrowsMade:
        type: number
      FreeThrowsPercentage:
        type: number
      GameID:
        type: integer
      Games:
        type: integer
      GlobalGameID:
        type: integer
      GlobalOpponentID:
        type: integer
      GlobalTeamID:
        type: integer
      HomeOrAway:
        type: string
      InjuryBodyPart:
        type: string
      InjuryNotes:
        type: string
      InjuryStartDate:
        type: string
      InjuryStatus:
        type: string
      IsClosed:
        type: boolean
      IsGameOver:
        type: boolean
      Minutes:
        type: integer
      Name:
        type: string
      OffensiveRebounds:
        type: number
      OffensiveReboundsPercentage:
        type: number
      Opponent:
        type: string
      OpponentID:
        type: integer
      OpponentPositionRank:
        type: integer
      OpponentRank:
        type: integer
      PersonalFouls:
        type: number
      PlayerEfficiencyRating:
        type: number
      PlayerID:
        type: integer
      PlusMinus:
        type: number
      Points:
        type: number
      Position:
        type: string
      Rebounds:
        type: number
      Season:
        type: integer
      SeasonType:
        type: integer
      Seconds:
        type: integer
      Started:
        type: integer
      StatID:
        type: integer
      Steals:
        type: number
      StealsPercentage:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      ThreePointersAttempted:
        type: number
      ThreePointersMade:
        type: number
      ThreePointersPercentage:
        type: number
      TotalReboundsPercentage:
        type: number
      TripleDoubles:
        type: number
      TrueShootingAttempts:
        type: number
      TrueShootingPercentage:
        type: number
      TurnOversPercentage:
        type: number
      Turnovers:
        type: number
      TwoPointersAttempted:
        type: number
      TwoPointersMade:
        type: number
      TwoPointersPercentage:
        type: number
      Updated:
        type: string
      UsageRatePercentage:
        type: number
      YahooPosition:
        type: string
      YahooSalary:
        type: integer
  PlayerSeasonProjection:
    properties:
      Assists:
        type: number
      AssistsPercentage:
        type: number
      BlockedShots:
        type: number
      BlocksPercentage:
        type: number
      DefensiveRebounds:
        type: number
      DefensiveReboundsPercentage:
        type: number
      DoubleDoubles:
        type: number
      EffectiveFieldGoalsPercentage:
        type: number
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FieldGoalsAttempted:
        type: number
      FieldGoalsMade:
        type: number
      FieldGoalsPercentage:
        type: number
      FreeThrowsAttempted:
        type: number
      FreeThrowsMade:
        type: number
      FreeThrowsPercentage:
        type: number
      Games:
        type: integer
      GlobalTeamID:
        type: integer
      IsClosed:
        type: boolean
      Minutes:
        type: integer
      Name:
        type: string
      OffensiveRebounds:
        type: number
      OffensiveReboundsPercentage:
        type: number
      PersonalFouls:
        type: number
      PlayerEfficiencyRating:
        type: number
      PlayerID:
        type: integer
      PlusMinus:
        type: number
      Points:
        type: number
      Position:
        type: string
      Rebounds:
        type: number
      Season:
        type: integer
      SeasonType:
        type: integer
      Seconds:
        type: integer
      Started:
        type: integer
      StatID:
        type: integer
      Steals:
        type: number
      StealsPercentage:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      ThreePointersAttempted:
        type: number
      ThreePointersMade:
        type: number
      ThreePointersPercentage:
        type: number
      TotalReboundsPercentage:
        type: number
      TripleDoubles:
        type: number
      TrueShootingAttempts:
        type: number
      TrueShootingPercentage:
        type: number
      TurnOversPercentage:
        type: number
      Turnovers:
        type: number
      TwoPointersAttempted:
        type: number
      TwoPointersMade:
        type: number
      TwoPointersPercentage:
        type: number
      Updated:
        type: string
      UsageRatePercentage:
        type: number
  Quarter:
    properties:
      AwayScore:
        type: integer
      GameID:
        type: integer
      HomeScore:
        type: integer
      Name:
        type: string
      Number:
        type: integer
      QuarterID:
        type: integer
x-servers:
  - url: 'http://api.sportsdata.io'
  - url: 'https://api.sportsdata.io'
  - url: 'http://api.fantasydata.net'
  - url: 'https://api.fantasydata.net'
