openapi: 3.0.0
servers:
  - url: https://api.beezup.com
info:
  contact:
    email: help@beezup.com
  description: |-
    # The REST API of BeezUP system
    ## Overview
    The REST APIs provide programmatic access to read and write BeezUP data. 
    Basically, with this API you will be able to do everything like you were with your browser on https://go.beezup.com !

    The main features are:
    - Register and manage your account
    - Create and manage and share your stores with your friends/co-workers.
    - Import your product catalog and schedule the auto importation
    - Search the channels your want to use
    - Configure your channels for your catalogs to export your product information:
        - cost and general settings
        - category and columns mappings
        - your will be able to create and manage your custom column
        - put in place exlusion filters based on simple conditions on your product data
        - override product values
        - get product vision for a channel catalog scope
    - Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product.
    - Automatize your optimisation by using rules!
    - And of course... Manage your orders harvested from all your marketplaces:
        - Synchronize your orders in an uniformized way
        - Get the available actions and update the order status
    - ...and more!

    ## Authentication credentials
    The public API with the base path **/v2/public** have been put in place to give you an entry point to our system for the user registration, login and lost password. The public API does not require any credentials.
    We give you the some public list of values and public channels for our public commercial web site [www.beezup.com](http://www.beezup.com).

    The user API with the base path **/v2/user** requires a token which is available on this page:
    https://go.beezup.com/Account/MyAccount

    ## Things to keep in mind
    ### API Rate Limits
    - The BeezUP REST API is limited to 100 calls/minute.

    ### Media type
    The default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.

    ### Required content type
    The required and default encoding for the request and responses is UTF8.

    ### Required date time format
    All our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.

    ### Base URL
    The Base URL of the BeezUP API Order Management REST API conforms to the following template.

    https://api.beezup.com

    All URLs returned by the BeezUP API are relative to this base URL, and all requests to the REST API must use this base URL template.

    You can test our API on https://api-docs.beezup.com/swagger-ui\\
    You can contact us on [gitter, #BeezUP/API](https://gitter.im/BeezUP/API)
  license:
    name: BeezUP
    url: https://www.beezup.com/
  title: "BeezUP Merchant API "
  version: "2.0"
  x-apisguru-categories:
    - ecommerce
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_avatars0.githubusercontent.com_u_25665430.png
  x-origin:
    - format: openapi
      url: https://api-docs.beezup.com/swagger.json
      version: "3.0"
  x-providerName: beezup.com
externalDocs:
  description: Find the documentation for BeezUP's API here
  url: https://api-docs.beezup.com/
tags:
  - name: Public - Security - Security
    x-displayName: Security
  - name: Public - Channels - Public Channels
    x-displayName: Public Channels
  - name: Public - List of Values - LOV
    x-displayName: LOV
  - name: User - List of Values - LOV
    x-displayName: LOV
  - name: Customer - Global
    x-displayName: Global
  - name: Customer - Account
    x-displayName: Account
  - name: Customer - Security
    x-displayName: Security
  - name: Customer - Stores
    x-displayName: Stores
  - name: Customer - Shares
    x-displayName: Shares
  - name: Customer - Alerts
    x-displayName: Alerts
  - name: Customer - Rights
    x-displayName: Rights
  - name: Customer - Friends
    x-displayName: Friends
  - name: Customer - Contracts
    x-displayName: Contracts
  - name: Customer - Invoices
    x-displayName: Invoices
  - name: Catalogs - Auto
    x-displayName: Auto
  - name: Catalogs - Global
    x-displayName: Global
  - name: Catalogs - Importation Process
    x-displayName: Importation Process
  - name: Catalogs - Importation Catalog Info
    x-displayName: Importation Catalog Info
  - name: Catalogs - Catalog
    x-displayName: Catalog
  - name: Channels - Channels Global
    x-displayName: Channels Global
  - name: Channel Catalogs - Global
    x-displayName: Global
  - name: Channel Catalogs - Settings
    x-displayName: Settings
  - name: Channel Catalogs - Column Mappings
    x-displayName: Column Mappings
  - name: Channel Catalogs - Categories
    x-displayName: Categories
  - name: Channel Catalogs - Exclusion Filters
    x-displayName: Exclusion Filters
  - name: Channel Catalogs - Products
    x-displayName: Products
  - name: Channel Catalogs - Products Overrides
    x-displayName: Products Overrides
  - name: Channel Catalogs - Products Optimisation
    x-displayName: Products Optimisation
  - name: Channel Catalogs - Exportations
    x-displayName: Exportations
  - name: Marketplaces - Channel catalogs - Global
    x-displayName: Global
  - name: Marketplaces - Channel catalogs - Publications
    x-displayName: Publications
  - name: Marketplaces - Channel catalogs - Settings
    x-displayName: Settings
  - name: Marketplaces - Orders - Global
    x-displayName: Global
  - name: Marketplaces - Orders - AutoTransitions
    x-displayName: AutoTransitions
  - name: Marketplaces - Orders - List
    x-displayName: List
  - name: Marketplaces - Orders - Order
    x-displayName: Order
  - name: Marketplaces - Orders - Batches
    x-displayName: Batches
  - name: Marketplaces - Orders - Exports
    x-displayName: Exports
  - name: Marketplaces - Orders V3 - Global
    x-displayName: Global
  - name: Marketplaces - Orders V3 - List
    x-displayName: List
  - name: Marketplaces - Orders V3 - Order
    x-displayName: Order
  - name: Marketplaces - Orders V3 - Batches
    x-displayName: Batches
  - name: Marketplaces - Orders - Subscriptions - Subscriptions
    x-displayName: Subscriptions
  - name: Analytics - Global
    x-displayName: Global
  - name: Analytics - Tracking
    x-displayName: Tracking
  - name: Analytics - Statistics
    x-displayName: Statistics
  - name: Analytics - Optimisations
    x-displayName: Optimisations
  - name: Analytics - Reports
    x-displayName: Reports
  - name: Analytics - Rules
    x-displayName: Rules
  - name: Channel Catalogs - Legacy Tracking - Global
    x-displayName: Global
  - name: OM Invoice - API - Settings
    x-displayName: Settings
  - name: OM Invoice - API - Generation
    x-displayName: Generation
paths:
  /orders/v3/batches/changeOrders:
    post:
      deprecated: false
      description: |
        The purpose of this operation is to reduce the amount of request to the API. 
        Max 100 items per call.
      operationId: ChangeOrderListV3
      parameters:
        - $ref: "#/components/parameters/userNameInQueryParameter"
        - $ref: "#/components/parameters/testModeInQueryParameter"
      requestBody:
        $ref: "#/components/requestBodies/changeOrderListRequest"
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchOrderOperationResponse"
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested too many batch operations
        default:
          $ref: "#/components/responses/GeneralError"
      summary: "Send a batch of operations to change your marketplace Order information: accept, ship, etc.  (max 100 items per call)"
      tags:
        - Marketplaces - Orders V3 - Batches
  "/orders/v3/batches/changeOrders/{changeOrderType}":
    post:
      deprecated: false
      description: |
        The purpose of this operation is to reduce the amount of request to the API. 
        Max 100 items per call.
      operationId: ChangeOrderListV2
      parameters:
        - $ref: "#/components/parameters/userNameInQueryParameter"
        - $ref: "#/components/parameters/testModeInQueryParameter"
        - $ref: "#/components/parameters/changeOrderTypeParameter"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeOrderListRequestV2"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchOrderOperationResponse"
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested too many batch operations
        default:
          $ref: "#/components/responses/GeneralError"
      summary: "Send a batch of operations to change your marketplace Order information: accept, ship, etc.  (max 100 items per call)"
      tags:
        - Marketplaces - Orders V3 - Batches
  /orders/v3/batches/clearMerchantOrderInfos:
    post:
      deprecated: false
      description: The purpose of this operation is to reduce the amount of request to the API.
      operationId: ClearMerchantOrderInfoListV3
      parameters:
        - $ref: "#/components/parameters/testModeInQueryParameter"
      requestBody:
        $ref: "#/components/requestBodies/clearMerchantOrderInfoListRequest"
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchOrderOperationResponse"
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested too many batch operations
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Send a batch of operations to clear an Order's merchant information (max 100 items per call)
      tags:
        - Marketplaces - Orders V3 - Batches
  /orders/v3/batches/setMerchantOrderInfos:
    post:
      description: The purpose of this operation is to reduce the amount of request to the API.
      operationId: SetMerchantOrderInfoListV3
      parameters:
        - $ref: "#/components/parameters/testModeInQueryParameter"
      requestBody:
        $ref: "#/components/requestBodies/setMerchantOrderInfoListRequest"
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/batchOrderOperationResponse"
          description: Succesfully received and processed batched operations. Please check response to see the status per operation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested too many batch operations
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Send a batch of operations to set an Order's merchant information  (max 100 items per call)
      tags:
        - Marketplaces - Orders V3 - Batches
  /orders/v3/harvest:
    post:
      deprecated: false
      operationId: HarvestAllV3
      parameters:
        - description: The StoreId to filter by
          example: 04730364-9826-4ff3-92e4-51fccd02bf10
          in: query
          name: storeId
          required: false
          schema:
            format: StoreId
            type: string
      responses:
        "202":
          description: Successfully sent harvest request to all marketplaces
          headers:
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Store could not be found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Failed to send harvest request because allowed rate limits have been exceeded
          headers:
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Send harvest request to all your marketplaces
      tags:
        - Marketplaces - Orders V3 - Global
  /orders/v3/list/full:
    post:
      deprecated: false
      description: |
        The purpose of this operation is to reduce the amount of request to the API.\
        \
        Previous implmentation of this feature only returned a partial (light) version of the Orders. The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.
      operationId: GetOrderListFullV3
      parameters:
        - description: Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size
          in: header
          name: Accept-Encoding
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/orderListRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderListFullWithLinks"
          description: Successfully fetched the full list of Orders
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Could not process request for given parameters values. Please check error message for more details.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get a paginated list of all Orders with all Order and Order Item(s) properties
      tags:
        - Marketplaces - Orders V3 - List
  /orders/v3/list/light:
    post:
      deprecated: false
      operationId: GetOrderListLightV3
      requestBody:
        $ref: "#/components/requestBodies/orderListRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderListLightWithLinks"
          description: Successfully fetched the list of Orders
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Could not process request for given parameters values. Please check error message for more details.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get a paginated list of all Orders without details
      tags:
        - Marketplaces - Orders V3 - List
  /orders/v3/lov/orderManagementReadyMarketplaceBusinessCode:
    get:
      description: Get the list of MarketplaceBusinessCode ready for Order Management
      operationId: GetOrderManagementReadyMarketplaceBusinessCode
      parameters:
        - $ref: "#/components/parameters/acceptLanguageParameter"
        - $ref: "#/components/parameters/storeIdsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oMReadyMarketplaceBusinessCodeResponse"
          description: Successfully fetched current synchronization status
        "304":
          $ref: "#/components/responses/304_NotModified"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Store could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      tags:
        - Marketplaces - Orders V3 - Global
  /orders/v3/status:
    get:
      description: Get current synchronization status between your marketplaces and BeezUP accounts
      operationId: GetMarketplaceAccountsSynchronizationV3
      parameters:
        - $ref: "#/components/parameters/ifNoneMatchParameter"
        - $ref: "#/components/parameters/storeIdsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accountSynchronizationList"
          description: Successfully fetched the list of MarketplaceBusinessCode ready for Order Management
        "304":
          $ref: "#/components/responses/304_NotModified"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Invalid store id
        default:
          $ref: "#/components/responses/GeneralError"
      tags:
        - Marketplaces - Orders V3 - Global
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/harvest":
    post:
      deprecated: false
      operationId: HarvestAccount
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - in: query
          name: marketplaceOrderId
          schema:
            type: string
        - in: query
          name: beezUPOrderId
          schema:
            type: string
      responses:
        "202":
          description: Successfully sent Order harvest request
          headers:
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Account Or beezUPOrderId could not be found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Failed to send harvest request because allowed rate limits have been exceeded
          headers:
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Send harvest request for an Account
      tags:
        - Marketplaces - Orders V3 - Order
      x-validation:
        - statusCode: "401"
          validatorName: userAuthorized
        - statusCode: "404"
          validatorName: accountExists
        - statusCode: "404"
          validatorName: beezUPOrderIdExists
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}":
    get:
      deprecated: false
      operationId: GetOrderV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
        - $ref: "#/components/parameters/ifNoneMatchParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderWithLinks"
          description: Successfully fetched Order and Order Item(s) properties
          headers:
            ETag:
              description: |
                ETag value to identify the current version of requested Order\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the order\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                format: date-time
                type: string
        "304":
          $ref: "#/components/responses/304_NotModified"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get full Order and Order Item(s) properties
      tags:
        - Marketplaces - Orders V3 - Order
    head:
      deprecated: false
      description: |
        The purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.
        This could be useful
      operationId: HeadOrderV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
        - $ref: "#/components/parameters/ifNoneMatchParameter"
      responses:
        "200":
          description: Successfully fetched Order and Order Item(s) properties
          headers:
            ETag:
              description: |
                ETag value to identify the current version of requested Order\
                For more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3
              schema:
                type: string
            Last-Modified:
              description: |
                Last modification UTC date of the order\
                For more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2
              schema:
                format: date-time
                type: string
        "304":
          $ref: "#/components/responses/304_NotModified"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the meta information about the order (ETag, Last-Modified)
      tags:
        - Marketplaces - Orders V3 - Order
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}/clearMerchantOrderInfo":
    post:
      deprecated: false
      operationId: ClearMerchantOrderInfoV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
        - $ref: "#/components/parameters/testModeInQueryParameter"
      responses:
        "202":
          description: Clear Order merchant order info accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Could not update Order merchant information. Please see body for more information.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Clear an Order's merchant information
      tags:
        - Marketplaces - Orders V3 - Order
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}/harvest":
    post:
      deprecated: false
      operationId: HarvestOrderV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
      responses:
        "202":
          description: Successfully sent Order harvest request
          headers:
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Failed to send harvest request because allowed rate limits have been exceeded
          headers:
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Send harvest request for a single Order
      tags:
        - Marketplaces - Orders V3 - Order
      x-validation:
        - statusCode: "401"
          validatorName: userAuthorized
        - statusCode: "404"
          validatorName: orderExists
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}/history":
    get:
      deprecated: false
      operationId: GetOrderHistoryV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderHistory"
          description: Successfully fetched Order history
        "304":
          $ref: "#/components/responses/304_NotModified"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get an Order's harvest and change history
      tags:
        - Marketplaces - Orders V3 - Order
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}/history/{orderChangeExecutionUUID}":
    get:
      deprecated: false
      description: This operation will help you to know the status of your order change operation
      operationId: GetOrderChangeReportingV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
        - description: The order change execution id
          in: path
          name: orderChangeExecutionUUID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/changeOrderReporting"
          description: Successfully fetched Order change reporting
        "304":
          $ref: "#/components/responses/304_NotModified"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the order change reporting
      tags:
        - Marketplaces - Orders V3 - Order
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}/setMerchantOrderInfo":
    post:
      deprecated: false
      operationId: SetMerchantOrderInfoV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
        - $ref: "#/components/parameters/testModeInQueryParameter"
      requestBody:
        $ref: "#/components/requestBodies/setMerchantOrderInfoRequest"
      responses:
        "202":
          description: Set Order merchant order info accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Could not update Order merchant information. Please see body for more information.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Set an Order's merchant information
      tags:
        - Marketplaces - Orders V3 - Order
  "/orders/v3/{marketplaceTechnicalCode}/{accountId}/{beezUPOrderId}/{changeOrderType}":
    post:
      deprecated: false
      operationId: ChangeOrderV3
      parameters:
        - $ref: "#/components/parameters/marketplaceTechnicalCodeParameter"
        - $ref: "#/components/parameters/accountIdParameter"
        - $ref: "#/components/parameters/beezUPOrderIdParameter"
        - $ref: "#/components/parameters/changeOrderTypeParameter"
        - $ref: "#/components/parameters/userNameInQueryParameter"
        - $ref: "#/components/parameters/testModeInQueryParameter"
      requestBody:
        $ref: "#/components/requestBodies/changeOrderRequest"
      responses:
        "202":
          description: Order change request accepted
          headers:
            Location:
              description: Indicate the address you should follow to know the status of your order change operation
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Invalid order change request, could not be send to the marketplace. Please check the body of this request.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: Requested Order could not be found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponseMessage"
          description: |
            Already processing a change request for this Order.\
            Please refresh your clients Order information and retry later.
          headers:
            Location:
              description: Indicate the address you should follow to know the status of the existing order change operation
              schema:
                type: string
            Retry-After:
              description: Indicates the duration in seconds to wait to be able to make this request again
              schema:
                type: integer
        "412":
          $ref: "#/components/responses/412_PreConditionFailed"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Change your marketplace Order Information (accept, ship, etc.)
      tags:
        - Marketplaces - Orders V3 - Order
  /v2/public/channels/:
    get:
      description: Use this operation to get the correct link to the channels and to the list of values
      operationId: GetChannelsIndex
      parameters:
        - $ref: "#/components/parameters/ifNoneMatchParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicChannelIndex"
          description: Channel list regrouped by country and links to list of values
        "304":
          $ref: "#/components/responses/304_NotModified"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get public channel index
      tags:
        - Public - Channels - Public Channels
  "/v2/public/channels/{countryIsoCode}":
    get:
      operationId: GetChannels
      parameters:
        - description: |
            The country iso code alpha 3 based on this: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3#Decoding_table \
            To know which country are available you have to use the operation: GetChannelsByCountry
          in: path
          name: countryIsoCode
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/acceptEncodingRequiredParameter"
        - $ref: "#/components/parameters/ifNoneMatchParameter"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                      - homeUrl: http://www.amazon.fr
                        logoUrl: http://beezupcdn.blob.core.windows.net/comparators/Amazon%2520Direct%2520FRA.png
                        name: Amazon Direct FRA
                        types:
                          - Marketplace
              schema:
                $ref: "#/components/schemas/publicChannelInfoList"
          description: The channel list for one country
        "304":
          $ref: "#/components/responses/304_NotModified"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Channel country not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: The channel list for one country
      tags:
        - Public - Channels - Public Channels
  /v2/public/lov/:
    get:
      operationId: GetPublicLovIndex
      parameters:
        - $ref: "#/components/parameters/ifNoneMatchParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicLovIndex"
          description: Get the list names
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                items:
                  type: string
                type: array
              style: simple
              x-s2o-warning: Nested collectionFormats are not supported
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
        "304":
          description: The ETag sent in the http header If-None-Match did not change. So you can keep your version.
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                items:
                  type: string
                type: array
              style: simple
              x-s2o-warning: Nested collectionFormats are not supported
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get all list names
      tags:
        - Public - List of Values - LOV
  "/v2/public/lov/{listName}":
    get:
      operationId: GetPublicListOfValues
      parameters:
        - description: The list of value name your want to get
          in: path
          name: listName
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/acceptLanguageParameter"
        - $ref: "#/components/parameters/ifNoneMatchParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicListOfValuesResponse"
          description: The list of values
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                items:
                  type: string
                type: array
              style: simple
              x-s2o-warning: Nested collectionFormats are not supported
            Content-Language:
              description: Indicates the language use in the response
              schema:
                items:
                  type: string
                type: array
              style: simple
              x-s2o-warning: Nested collectionFormats are not supported
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
        "304":
          description: The ETag sent in the http header If-None-Match did not change. So you can keep your version.
          headers:
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              schema:
                items:
                  type: string
                type: array
              style: simple
              x-s2o-warning: Nested collectionFormats are not supported
            ETag:
              description: The ETag corresponding to the LOV Index
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: List not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the list of values related to this list name
      tags:
        - Public - List of Values - LOV
  /v2/public/security/login:
    post:
      description: User Login - The login will give your tokens
      operationId: Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/loginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiCredentials"
          description: Your tokens
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Bad Request
        "403":
          description: Invalid credentials
        "500":
          $ref: "#/components/responses/GeneralError"
      summary: Login
      tags:
        - Public - Security - Security
  /v2/public/security/lostpassword:
    post:
      description: Lost password - Your password will be regenerated and sent to your email
      operationId: LostPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BeezUP.Common.Email"
        description: Your email
        required: true
      responses:
        "204":
          description: New password sent
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Bad Request
        "404":
          description: Email not found
        "500":
          $ref: "#/components/responses/GeneralError"
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Problem with SMTP service
      summary: Lost password
      tags:
        - Public - Security - Security
  /v2/public/security/register:
    post:
      description: User Registration - Create a new user on BeezUP
      operationId: Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/registerRequest"
        required: true
      responses:
        "204":
          description: Customer registered
        "400":
          description: Email or password is invalid. Disposable email are refused.
        "409":
          description: Email already used
        "500":
          $ref: "#/components/responses/GeneralError"
      summary: User Registration
      tags:
        - Public - Security - Security
  /v2/user/analytics/:
    get:
      operationId: AnalyticsIndex
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analyticsIndex"
          description: Analytics API operation index
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the Analytics API operation index
      tags:
        - Analytics - Global
  /v2/user/analytics/reports/byday:
    post:
      description: Get the report by day for a StoreId
      operationId: GetStoreReportByDayPerStore
      requestBody:
        $ref: "#/components/requestBodies/reportByDayRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportByDayPerStoreResponse"
          description: Your reporting by day
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the report by day for a StoreId
      tags:
        - Analytics - Statistics
  /v2/user/analytics/tracking/status:
    get:
      description: |
        Clicks and orders are eventually consistent. \
        This operation gets the current global state of projections.
      operationId: GetTrackingStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackingStatus"
          description: The tracking status informations
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the global synchronization status of clicks and orders
      tags:
        - Analytics - Tracking
  "/v2/user/analytics/{storeId}":
    get:
      operationId: AnalyticsStoreIndex
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/analyticsStoreIndex"
          description: Analytics API operation index for one store
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the Analytics API operation index for one store
      tags:
        - Analytics - Global
  "/v2/user/analytics/{storeId}/optimisations/all/{actionName}":
    post:
      description: |
        /!\ WARNING /!\ \
        Apply the operation on every product related to this request. \
        This operation is used at the bottom of the analytics page result.
      operationId: OptimiseAll
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/optimisationActionNameGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/optimiseAllRequest"
        required: true
      responses:
        "204":
          description: Products optimisatized
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Optimise all products
      tags:
        - Analytics - Optimisations
  "/v2/user/analytics/{storeId}/optimisations/bycategory/{catalogCategoryId}/{actionName}":
    post:
      description: |
        /!\ WARNING /!\ \
        This operation will reenable or disable products's category for every channel indicated in the body.
      operationId: OptimiseByCategory
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The category identifier concerned by this optimisation
          in: path
          name: catalogCategoryId
          required: true
          schema:
            format: guid
            type: string
        - $ref: "#/components/parameters/optimisationActionNameGeneralParameters"
      requestBody:
        $ref: "#/components/requestBodies/OptimiseByCategoryRequest"
      responses:
        "204":
          description: Products optimisatized
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Optimise products by category
      tags:
        - Analytics - Optimisations
  "/v2/user/analytics/{storeId}/optimisations/bychannel/{channelId}/{actionName}":
    post:
      description: |
        /!\ WARNING /!\ \
        Apply the operation on every product on this channel.
      operationId: OptimiseByChannel
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The channel identifier concerned by this optimisation
          in: path
          name: channelId
          required: true
          schema:
            format: guid
            type: string
        - $ref: "#/components/parameters/optimisationActionNameGeneralParameters"
      responses:
        "204":
          description: Products optimisatized
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Optimise products by channel
      tags:
        - Analytics - Optimisations
  "/v2/user/analytics/{storeId}/optimisations/byproduct/{productId}/{actionName}":
    post:
      description: |
        /!\ WARNING /!\ \
        This operation will reenable or disable this product for every channel indicated in the body.
      operationId: OptimiseByProduct
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The product identifier concerned by this optimisation
          in: path
          name: productId
          required: true
          schema:
            format: guid
            type: string
        - $ref: "#/components/parameters/optimisationActionNameGeneralParameters"
      requestBody:
        $ref: "#/components/requestBodies/OptimiseByCategoryRequest"
      responses:
        "204":
          description: Product(s) optimisatized
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Optimise product
      tags:
        - Analytics - Optimisations
  "/v2/user/analytics/{storeId}/optimisations/copy":
    post:
      operationId: CopyOptimisation
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/copyOptimisationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/copyOptimisationResponse"
          description: Products optimisatisation copied
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Copy product optimisations between 2 channels
      tags:
        - Analytics - Optimisations
  "/v2/user/analytics/{storeId}/optimisations/{actionName}":
    post:
      description: |
        /!\ WARNING /!\ \
        Apply the operation on every product related to this request. \
        This operation is used at the bottom of the analytics page result.
      operationId: Optimise
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/optimisationActionNameGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/optimiseRequest"
        required: true
      responses:
        "204":
          description: Products optimisatized
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Optimise products by page
      tags:
        - Analytics - Optimisations
  "/v2/user/analytics/{storeId}/reports/bycategory":
    post:
      description: Get the report by category
      operationId: GetStoreReportByCategory
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reportByCategoryRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportByCategoryResponse"
          description: Your reporting by channel
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the report by category
      tags:
        - Analytics - Statistics
  "/v2/user/analytics/{storeId}/reports/bychannel":
    post:
      description: Get the report by channel
      operationId: GetStoreReportByChannel
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reportByChannelRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportByChannelResponse"
          description: Your reporting by channel
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the report by channel
      tags:
        - Analytics - Statistics
  "/v2/user/analytics/{storeId}/reports/byday":
    post:
      description: Get the report by day for a StoreId
      operationId: GetStoreReportByDay
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        $ref: "#/components/requestBodies/reportByDayRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportByDayResponse"
          description: Your reporting by day
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the report by day for a StoreId
      tags:
        - Analytics - Statistics
  "/v2/user/analytics/{storeId}/reports/byproduct":
    post:
      description: Get the report by product
      operationId: GetStoreReportByProduct
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reportByProductRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportByProductResponse"
          description: Your reporting by product
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the report by product
      tags:
        - Analytics - Statistics
  "/v2/user/analytics/{storeId}/reports/filters":
    get:
      operationId: GetReportFilters
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportFilterList"
          description: Report filter list
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get report filter list for the given store
      tags:
        - Analytics - Reports
  "/v2/user/analytics/{storeId}/reports/filters/{reportFilterId}":
    delete:
      operationId: DeleteReportFilter
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/reportFilterIdOnlyGeneralParameters"
      responses:
        "204":
          description: Report filter deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: This report filter is used by rule. In the error message you will find the rule identifier.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Report filter not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Delete the report filter
      tags:
        - Analytics - Reports
    get:
      operationId: GetReportFilter
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/reportFilterIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportFilter"
          description: Report filter
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Report filter not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the report filter description
      tags:
        - Analytics - Reports
    put:
      operationId: SaveReportFilter
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/reportFilterIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/saveReportFilterRequest"
        required: true
      responses:
        "204":
          description: Report filter saved
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: This report filter is used by rule. In the error message you will find the rule identifier.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: This report filter identifier is already used by another store, please check your identifiers.
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Report filter name already exists
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Save the report filter
      tags:
        - Analytics - Reports
  "/v2/user/analytics/{storeId}/rules":
    get:
      operationId: GetRules
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ruleList"
          description: Rule list
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Gets the list of rules for a given store
      tags:
        - Analytics - Rules
    post:
      operationId: CreateRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createRuleRequest"
        required: true
      responses:
        "204":
          description: Rule created
        "400":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Period on filter cannot be custom or filter does not exist
        "401":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Store not allowed to use rules. Please upgrade your offer or contact us.
        "403":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Reached the maximum amount of rules allowed for your offer. Please upgrade your offer or contact us.
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Rule creation
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/executions":
    get:
      operationId: GetRulesExecutions
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The page to retrieve
          in: query
          name: pageNumber
          required: true
          schema:
            default: "1"
            minimum: 1
            type: integer
        - description: The count of rule history to retrieve
          in: query
          name: pageSize
          required: true
          schema:
            default: "10"
            maximum: 100
            minimum: 10
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ruleExecutionReportings"
          description: Rules executions list
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the rules execution history
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/run":
    post:
      operationId: RunRules
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "204":
          description: All rules executed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Store not allowed to use rules. Please upgrade your offer or contact us.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Run all rules for this store
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/{ruleId}":
    delete:
      operationId: DeleteRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "204":
          description: Rule deleted
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Delete Rule
      tags:
        - Analytics - Rules
    get:
      operationId: GetRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rule"
          description: Get Rule
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Gets the rule
      tags:
        - Analytics - Rules
    patch:
      operationId: UpdateRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateRuleRequest"
        required: true
      responses:
        "204":
          description: Rule updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Filter does not exist or period on filter cannot be custom
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Store not allowed to use rules. Please upgrade your offer or contact us.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Update Rule
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/{ruleId}/disable":
    post:
      operationId: DisableRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "204":
          description: Rule disabled
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Disable rule
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/{ruleId}/enable":
    post:
      operationId: EnableRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "204":
          description: Rune enabled
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Enable rule
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/{ruleId}/movedown":
    post:
      operationId: MoveDownRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "204":
          description: Rule moved down
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Priority can only be changed when more than one rule is defined
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Move the rule down
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/{ruleId}/moveup":
    post:
      operationId: MoveUpRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "204":
          description: Rule moved up
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Priority can only be changed when more than one rule is defined
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Move the rule up
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/rules/{ruleId}/run":
    post:
      operationId: RunRule
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/ruleIdOnlyGeneralParameters"
      responses:
        "204":
          description: Rule executed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule is not enabled. Please enable this run before trying to run it.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Store not allowed to use rules. Please upgrade your offer or contact us.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rule not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Rules for this store are currently running. Please try again later.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Run rule
      tags:
        - Analytics - Rules
  "/v2/user/analytics/{storeId}/tracking/clicks":
    get:
      operationId: GetStoreTrackedClicks
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The amount of clicks to retrieve
          in: query
          name: count
          required: false
          schema:
            default: "100"
            maximum: 100
            minimum: 5
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackedClicks"
          description: Click list
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the latest tracked clicks
      tags:
        - Analytics - Tracking
  "/v2/user/analytics/{storeId}/tracking/externalorders":
    get:
      operationId: GetStoreTrackedExternalOrders
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The amount of external orders to retrieve
          in: query
          name: count
          required: false
          schema:
            default: "100"
            maximum: 100
            minimum: 5
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackedExternalOrders"
          description: External Order list
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the latest tracked external orders
      tags:
        - Analytics - Tracking
  "/v2/user/analytics/{storeId}/tracking/orders":
    get:
      operationId: GetStoreTrackedOrders
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: The amount of orders to retrieve
          in: query
          name: count
          required: false
          schema:
            default: "100"
            maximum: 100
            minimum: 5
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackedOrders"
          description: Order list
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the latest tracked orders
      tags:
        - Analytics - Tracking
  "/v2/user/analytics/{storeId}/tracking/status":
    get:
      description: |
        Clicks and orders are eventually consistent. \
        This operation gets the current state of projections for a store.
      operationId: GetStoreTrackingStatus
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/storeTrackingStatus"
          description: Store Tracking Status
        "404":
          $ref: "#/components/responses/StoreNotFoundResponse"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the synchronization status of clicks and orders of a store
      tags:
        - Analytics - Tracking
  /v2/user/catalogs/:
    get:
      description: The operation will give you all the operations you will be able to do and all the LOV used in this API.
      operationId: CatalogIndex
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/catalogIndex"
          description: OK
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the index of the catalog API
      tags:
        - Catalogs - Global
  /v2/user/catalogs/beezupColumns:
    get:
      description: Get the BeezUP columns, this columns are used for mapping during the manual catalog importation process.
      operationId: Catalog_GetBeezUPColumns
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/beezUPColumnConfiguration"
                type: array
          description: The catalog API index
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the BeezUP columns
      tags:
        - Catalogs - Global
  /v2/user/catalogs/importations:
    get:
      operationId: Importation_GetReportingsAllStores
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/importationsPerStoreResponse"
          description: The last importation reportings
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: UserId not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the latest catalog importation reporting for all your stores
      tags:
        - Catalogs - Importation Process
  "/v2/user/catalogs/{storeId}":
    get:
      description: The operation will give you all the operations you will be able to do on this store for this API.
      operationId: CatalogStoreIndex
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/catalogStoreIndex"
          description: The catalog index
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the index of the catalog API for this store
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/autoImport":
    delete:
      operationId: Auto_DeleteAutoImport
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "204":
          description: Auto import deleted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when the catalog auto import is not configured.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Delete Auto Import
      tags:
        - Catalogs - Auto
    get:
      operationId: Auto_GetAutoImportConfiguration
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autoImportConfiguration"
          description: Auto import configuration
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: StoreId or Auto Import configuration not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the auto import configuration
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/autoImport/activate":
    post:
      description: Once you have made your fist manual catalog importation with success, you can call this operation to import it automatically. No parameter required, we know which one it is.
      operationId: Importation_ActivateAutoImport
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "204":
          description: Auto import activated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when the user tries to auto import a local file.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: When a catalog importation is already in progress!
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Activate the auto importation of the last successful manual catalog importation.
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/autoImport/pause":
    post:
      operationId: Auto_PauseAutoImport
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "204":
          description: Auto import paused
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when the catalog auto import is not configured.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Pause Auto Import
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/autoImport/resume":
    post:
      operationId: Auto_ResumeAutoImport
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "204":
          description: Auto import resumed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when the catalog auto import is not configured.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Resume Auto Import
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/autoImport/scheduling/interval":
    post:
      operationId: Auto_ConfigureAutoImportInterval
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/configureAutoImportIntervalRequest"
        required: true
      responses:
        "204":
          description: Auto import scheduling interval saved
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            
            When the min catalog Auto Import scheduling interval delay has been reached.
            When the max catalog Auto Import count has been reached.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Configure Auto Import Interval
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/autoImport/scheduling/schedules":
    post:
      operationId: Auto_ScheduleAutoImport
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/scheduleAutoImportRequest"
        required: true
      responses:
        "204":
          description: Auto import scheduling saved
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            
            When the max catalog Auto Import count has been reached.
            When the min catalog Auto Import scheduling interval delay has been reached.
            When the max catalog Auto Import count has been reached.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Configure Auto Import Schedules
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/autoImport/start":
    post:
      operationId: Auto_StartAutoImport
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "202":
          $ref: "#/components/responses/importStarted"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            Occurs when the catalog auto import is not configured.
            When a user column name is duplicate.
            When the catalog column name are duplicate.
            When the BeezUP column have duplicate mapping.
            Occurs when the required beezup column is not mapped to any column.
            Occurs when the category hierarchy is not correctly mapped.
            Occurs when the duplicate strategy on {catalogColumnName} is not found.
            When the user tries to import to ofen the catalog file to download count max limit has been reached.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: An importation is already in progress
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Start Auto Import Manually
      tags:
        - Catalogs - Auto
  "/v2/user/catalogs/{storeId}/catalogColumns":
    get:
      operationId: Catalog_GetCatalogColumns
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/catalogColumnList"
          description: Catalog column list
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: StoreId not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get catalog column list
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/catalogColumns/{columnId}/rename":
    post:
      operationId: Catalog_ChangeCatalogColumnUserName
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/catalogColumnId"
      requestBody:
        $ref: "#/components/requestBodies/changeUserColumnNameRequest"
      responses:
        "204":
          description: Catalog column user name changed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: When a user column name is duplicate.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog column is not found.
        "409":
          $ref: "#/components/responses/importAlreadyInProgress"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Change Catalog Column User Name
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/categories":
    get:
      operationId: Catalog_GetCategories
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - description: Indicates that the client accepts that the response will be compressed to reduce traffic size.
          in: header
          name: Accept-Encoding
          required: true
          schema:
            items:
              type: string
            type: array
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/categoryList"
          description: Categories
          headers:
            Content-Encoding:
              description: Indicates the compression use in the response
              schema:
                items:
                  type: string
                type: array
              style: simple
              x-s2o-warning: Nested collectionFormats are not supported
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: StoreId not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get category list
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/customColumns":
    get:
      operationId: Catalog_GetCustomColumns
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customColumnList"
          description: Custom column list
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: StoreId not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get custom column list
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/customColumns/computeExpression":
    post:
      operationId: Catalog_ComputeExpression
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/computeExpressionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Compute an expression
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Occurs when the expression cannot be computed
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Compute the expression for this catalog.
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/customColumns/{columnId}":
    delete:
      operationId: Catalog_DeleteCustomColumn
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/customColumnId"
      responses:
        "204":
          description: Custom column deleted
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when the parent category is not found.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when a user tries to work on the wrong store.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: When a catalog importation is already in progress!
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Delete custom column
      tags:
        - Catalogs - Catalog
    put:
      operationId: Catalog_SaveCustomColumn
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/customColumnId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCustomColumnRequest"
        required: true
      responses:
        "204":
          description: Custom column saved
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            Occurs when a catalog custom column id is already used by a catalog column.
            When the catalog custom column count limit has been reached.
        "404":
          description: Occurs when a user tries to work on the wrong store.
        "409":
          $ref: "#/components/responses/importAlreadyInProgress"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Create or replace a custom column
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/customColumns/{columnId}/expression":
    get:
      operationId: Catalog_GetCustomColumnExpression
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/customColumnId"
      responses:
        "200":
          content:
            application/json:
              schema:
                example: zlkzjkzjlzlknzklnzlknaklnaklanlknaklan
                type: string
          description: Encrypted expression
        "404":
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog custom column is not found.
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the encrypted custom column expression
      tags:
        - Catalogs - Catalog
    put:
      operationId: Catalog_ChangeCustomColumnExpression
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/customColumnId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCustomColumnExpressionRequest"
        required: true
      responses:
        "204":
          description: Custom column expression saved
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: Occurs when the user try to change a custom column related to a Category. If you want to change this custom column expression you have to make a new manual importation.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog custom column is not found.
        "409":
          $ref: "#/components/responses/importAlreadyInProgress"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Change custom column expression
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/customColumns/{columnId}/rename":
    post:
      operationId: Catalog_ChangeCustomColumnUserName
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/customColumnId"
      requestBody:
        $ref: "#/components/requestBodies/changeUserColumnNameRequest"
      responses:
        "204":
          description: Custom column renamed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: When a user column name is duplicate.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            Occurs when a user tries to work on the wrong store.
            Occurs when a catalog column is not found.
        "409":
          $ref: "#/components/responses/importAlreadyInProgress"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Change Custom Column User Name
      tags:
        - Catalogs - Catalog
  "/v2/user/catalogs/{storeId}/importations":
    get:
      operationId: Importation_GetReportings
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/importationsResponse"
          description: The last importation reportings
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: StoreId not found
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Get the latest catalog importation reporting
      tags:
        - Catalogs - Importation Process
  "/v2/user/catalogs/{storeId}/importations/start":
    post:
      operationId: Importation_StartManualUpdate
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/startManualImportRequest"
        required: true
      responses:
        "202":
          $ref: "#/components/responses/importStarted"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: |-
            Missing Input configuration in the request
            Occurs when there is a duplicate file number in the input configuration
            Occurs when there is a duplicate file Uri in the input configuration
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeezUP.Common.ErrorResponseMessage"
          description: StoreId not found
        "409":
          $ref: "#/components/responses/importAlreadyInProgress"
        default:
          $ref: "#/components/responses/GeneralError"
      summary: Start Manual Import
      tags:
        - Catalogs - Importation Process
  "/v2/user/catalogs/{storeId}/importations/{executionId}":
    get:
      operationId: Importation_GetImportationMonitoring
      parameters:
        - $ref: "#/components/parameters/storeIdOnlyGeneralParameters"
        - $ref: "#/components/parameters/executionId"
      responses:
        "200":
          content:
[...]
