swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /civicinfo/v2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Civic Information
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/civicinfo/v2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: civicinfo
externalDocs:
  url: 'https://developers.google.com/civic-information'
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: divisions
  - name: elections
  - name: representatives
paths:
  /divisions:
    get:
      description: Searches for political divisions by their natural name or OCD ID.
      operationId: civicinfo.divisions.search
      parameters:
        - description: 'The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html'
          in: query
          name: query
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DivisionSearchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DivisionSearchResponse'
      tags:
        - divisions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /elections:
    get:
      description: List of available elections to query.
      operationId: civicinfo.elections.electionQuery
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ElectionsQueryRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ElectionsQueryResponse'
      tags:
        - elections
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /representatives:
    get:
      description: Looks up political geography and representative information for a single address.
      operationId: civicinfo.representatives.representativeInfoByAddress
      parameters:
        - description: The address to look up. May only be specified if the field ocdId is not given in the URL.
          in: query
          name: address
          type: string
        - default: true
          description: 'Whether to return information about offices and officials. If false, only the top-level district information will be returned.'
          in: query
          name: includeOffices
          type: boolean
        - collectionFormat: multi
          description: A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.
          in: query
          items:
            enum:
              - administrativeArea1
              - administrativeArea2
              - country
              - international
              - locality
              - regional
              - special
              - subLocality1
              - subLocality2
            type: string
          name: levels
          type: array
        - collectionFormat: multi
          description: A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.
          in: query
          items:
            enum:
              - deputyHeadOfGovernment
              - executiveCouncil
              - governmentOfficer
              - headOfGovernment
              - headOfState
              - highestCourtJudge
              - judge
              - legislatorLowerBody
              - legislatorUpperBody
              - schoolBoard
              - specialPurposeOfficer
            type: string
          name: roles
          type: array
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RepresentativeInfoRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RepresentativeInfoResponse'
      tags:
        - representatives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/representatives/{ocdId}':
    get:
      description: Looks up representative information for a single geographic division.
      operationId: civicinfo.representatives.representativeInfoByDivision
      parameters:
        - description: The Open Civic Data division identifier of the division to look up.
          in: path
          name: ocdId
          required: true
          type: string
        - collectionFormat: multi
          description: A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.
          in: query
          items:
            enum:
              - administrativeArea1
              - administrativeArea2
              - country
              - international
              - locality
              - regional
              - special
              - subLocality1
              - subLocality2
            type: string
          name: levels
          type: array
        - description: 'If true, information about all divisions contained in the division requested will be included as well. For example, if querying ocd-division/country:us/district:dc, this would also return all DC''s wards and ANCs.'
          in: query
          name: recursive
          type: boolean
        - collectionFormat: multi
          description: A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.
          in: query
          items:
            enum:
              - deputyHeadOfGovernment
              - executiveCouncil
              - governmentOfficer
              - headOfGovernment
              - headOfState
              - highestCourtJudge
              - judge
              - legislatorLowerBody
              - legislatorUpperBody
              - schoolBoard
              - specialPurposeOfficer
            type: string
          name: roles
          type: array
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DivisionRepresentativeInfoRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RepresentativeInfoData'
      tags:
        - representatives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /voterinfo:
    get:
      description: Looks up information relevant to a voter based on the voter's registered address.
      operationId: civicinfo.elections.voterInfoQuery
      parameters:
        - description: The registered address of the voter to look up.
          in: query
          name: address
          required: true
          type: string
        - default: '0'
          description: 'The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections'
          in: query
          name: electionId
          type: string
        - default: false
          description: 'If set to true, only data from official state sources will be returned.'
          in: query
          name: officialOnly
          type: boolean
        - default: false
          description: 'If set to true, the query will return the success codeand include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.'
          in: query
          name: returnAllAvailableData
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/VoterInfoRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VoterInfoResponse'
      tags:
        - elections
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  AdministrationRegion:
    description: Describes information about a regional election administrative area.
    properties:
      electionAdministrationBody:
        $ref: '#/definitions/AdministrativeBody'
        description: The election administration body for this area.
      id:
        description: An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.
        type: string
      local_jurisdiction:
        $ref: '#/definitions/AdministrationRegion'
        description: The city or county that provides election information for this voter. This object can have the same elements as state.
      name:
        description: The name of the jurisdiction.
        type: string
      sources:
        description: A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.
        items:
          $ref: '#/definitions/Source'
        type: array
    type: object
  AdministrativeBody:
    description: Information about an election administrative body (e.g. County Board of Elections).
    properties:
      absenteeVotingInfoUrl:
        description: A URL provided by this administrative body for information on absentee voting.
        type: string
      addressLines:
        items:
          type: string
        type: array
      ballotInfoUrl:
        description: A URL provided by this administrative body to give contest information to the voter.
        type: string
      correspondenceAddress:
        $ref: '#/definitions/SimpleAddressType'
        description: The mailing address of this administrative body.
      electionInfoUrl:
        description: A URL provided by this administrative body for looking up general election information.
        type: string
      electionOfficials:
        description: The election officials for this election administrative body.
        items:
          $ref: '#/definitions/ElectionOfficial'
        type: array
      electionRegistrationConfirmationUrl:
        description: A URL provided by this administrative body for confirming that the voter is registered to vote.
        type: string
      electionRegistrationUrl:
        description: A URL provided by this administrative body for looking up how to register to vote.
        type: string
      electionRulesUrl:
        description: A URL provided by this administrative body describing election rules to the voter.
        type: string
      hoursOfOperation:
        description: A description of the hours of operation for this administrative body.
        type: string
      name:
        description: The name of this election administrative body.
        type: string
      physicalAddress:
        $ref: '#/definitions/SimpleAddressType'
        description: The physical address of this administrative body.
      voter_services:
        description: A description of the services this administrative body may provide.
        items:
          type: string
        type: array
      votingLocationFinderUrl:
        description: A URL provided by this administrative body for looking up where to vote.
        type: string
    type: object
  Candidate:
    description: Information about a candidate running for elected office.
    properties:
      candidateUrl:
        description: The URL for the candidate's campaign web site.
        type: string
      channels:
        description: A list of known (social) media channels for this candidate.
        items:
          $ref: '#/definitions/Channel'
        type: array
      email:
        description: The email address for the candidate's campaign.
        type: string
      name:
        description: The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. "Mitt Romney / Paul Ryan"
        type: string
      orderOnBallot:
        description: The order the candidate appears on the ballot for this contest.
        format: int64
        type: string
      party:
        description: The full name of the party the candidate is a member of.
        type: string
      phone:
        description: The voice phone number for the candidate's campaign office.
        type: string
      photoUrl:
        description: A URL for a photo of the candidate.
        type: string
    type: object
  Channel:
    description: A social media or web channel for a candidate.
    properties:
      id:
        description: The unique public identifier for the candidate's channel.
        type: string
      type:
        description: 'The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter'
        type: string
    type: object
  Contest:
    description: Information about a contest that appears on a voter's ballot.
    properties:
      ballotPlacement:
        description: A number specifying the position of this contest on the voter's ballot.
        format: int64
        type: string
      candidates:
        description: The candidate choices for this contest.
        items:
          $ref: '#/definitions/Candidate'
        type: array
      district:
        $ref: '#/definitions/ElectoralDistrict'
        description: Information about the electoral district that this contest is in.
      electorateSpecifications:
        description: A description of any additional eligibility requirements for voting in this contest.
        type: string
      id:
        description: An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.
        type: string
      level:
        description: 'The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at "locality" level, but also effectively at both "administrative-area-2" and "administrative-area-1".'
        items:
          type: string
        type: array
      numberElected:
        description: The number of candidates that will be elected to office in this contest.
        format: int64
        type: string
      numberVotingFor:
        description: The number of candidates that a voter may vote for in this contest.
        format: int64
        type: string
      office:
        description: The name of the office for this contest.
        type: string
      primaryParty:
        description: 'If this is a partisan election, the name of the party it is for.'
        type: string
      referendumBallotResponses:
        description: The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include "yes" or "no" for referenda. This field is only populated for contests of type 'Referendum'.
        items:
          type: string
        type: array
      referendumBrief:
        description: Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.
        type: string
      referendumConStatement:
        description: A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.
        type: string
      referendumEffectOfAbstain:
        description: Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.
        type: string
      referendumPassageThreshold:
        description: 'The threshold of votes that the referendum needs in order to pass, e.g. "two-thirds". This field is only populated for contests of type ''Referendum''.'
        type: string
      referendumProStatement:
        description: A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.
        type: string
      referendumSubtitle:
        description: A brief description of the referendum. This field is only populated for contests of type 'Referendum'.
        type: string
      referendumText:
        description: The full text of the referendum. This field is only populated for contests of type 'Referendum'.
        type: string
      referendumTitle:
        description: The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.
        type: string
      referendumUrl:
        description: A link to the referendum. This field is only populated for contests of type 'Referendum'.
        type: string
      roles:
        description: The roles which this office fulfills.
        items:
          type: string
        type: array
      sources:
        description: 'A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.'
        items:
          $ref: '#/definitions/Source'
        type: array
      special:
        description: '"Yes" or "No" depending on whether this a contest being held outside the normal election cycle.'
        type: string
      type:
        description: 'The type of contest. Usually this will be ''General'', ''Primary'', or ''Run-off'' for contests with candidates. For referenda this will be ''Referendum''. For Retention contests this will typically be ''Retention''.'
        type: string
    type: object
  ContextParams:
    properties:
      clientProfile:
        type: string
    type: object
  DivisionRepresentativeInfoRequest:
    description: A request to look up representative information for a single division.
    properties:
      contextParams:
        $ref: '#/definitions/ContextParams'
    type: object
  DivisionSearchRequest:
    description: A search request for political geographies.
    properties:
      contextParams:
        $ref: '#/definitions/ContextParams'
    type: object
  DivisionSearchResponse:
    description: The result of a division search query.
    properties:
      kind:
        default: 'civicinfo#divisionSearchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#divisionSearchResponse".'
        type: string
      results:
        items:
          $ref: '#/definitions/DivisionSearchResult'
        type: array
    type: object
  DivisionSearchResult:
    description: Represents a political geographic division that matches the requested query.
    properties:
      aliases:
        description: 'Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.'
        items:
          type: string
        type: array
      name:
        description: The name of the division.
        type: string
      ocdId:
        description: The unique Open Civic Data identifier for this division.
        type: string
    type: object
  Election:
    description: Information about the election that was queried.
    properties:
      electionDay:
        description: Day of the election in YYYY-MM-DD format.
        type: string
      id:
        description: The unique ID of this election.
        format: int64
        type: string
      name:
        description: A displayable name for the election.
        type: string
      ocdDivisionId:
        description: 'The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).'
        type: string
    type: object
  ElectionOfficial:
    description: Information about individual election officials.
    properties:
      emailAddress:
        description: The email address of the election official.
        type: string
      faxNumber:
        description: The fax number of the election official.
        type: string
      name:
        description: The full name of the election official.
        type: string
      officePhoneNumber:
        description: The office phone number of the election official.
        type: string
      title:
        description: The title of the election official.
        type: string
    type: object
  ElectionsQueryRequest:
    properties:
      contextParams:
        $ref: '#/definitions/ContextParams'
    type: object
  ElectionsQueryResponse:
    description: The list of elections available for this version of the API.
    properties:
      elections:
        description: A list of available elections
        items:
          $ref: '#/definitions/Election'
        type: array
      kind:
        default: 'civicinfo#electionsQueryResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#electionsQueryResponse".'
        type: string
    type: object
  ElectoralDistrict:
    description: Describes the geographic scope of a contest.
    properties:
      id:
        description: 'An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id "34" and a scope of stateUpper.'
        type: string
      kgForeignKey:
        type: string
      name:
        description: The name of the district.
        type: string
      scope:
        description: 'The geographic scope of this district. If unspecified the district''s geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special'
        type: string
    type: object
  GeographicDivision:
    description: Describes a political geography.
    properties:
      alsoKnownAs:
        description: |-
          Any other valid OCD IDs that refer to the same division.

          Because OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.

          For example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.
        items:
          type: string
        type: array
      name:
        description: The name of the division.
        type: string
      officeIndices:
        description: 'List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.'
        items:
          format: uint32
          type: integer
        type: array
    type: object
  Office:
    description: Information about an Office held by one or more Officials.
    properties:
      divisionId:
        description: The OCD ID of the division with which this office is associated.
        type: string
      levels:
        description: 'The levels of government of which this office is part. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at "locality" level, but also effectively at both "administrative-area-2" and "administrative-area-1".'
        items:
          type: string
        type: array
      name:
        description: The human-readable name of the office.
        type: string
      officialIndices:
        description: List of indices in the officials array of people who presently hold this office.
        items:
          format: uint32
          type: integer
        type: array
      roles:
        description: 'The roles which this office fulfills. Roles are not meant to be exhaustive, or to exactly specify the entire set of responsibilities of a given office, but are meant to be rough categories that are useful for general selection from or sorting of a list of offices.'
        items:
          type: string
        type: array
      sources:
        description: 'A list of sources for this office. If multiple sources are listed, the data has been aggregated from those sources.'
        items:
          $ref: '#/definitions/Source'
        type: array
    type: object
  Official:
    description: Information about a person holding an elected office.
    properties:
      address:
        description: Addresses at which to contact the official.
        items:
          $ref: '#/definitions/SimpleAddressType'
        type: array
      channels:
        description: A list of known (social) media channels for this official.
        items:
          $ref: '#/definitions/Channel'
        type: array
      emails:
        description: The direct email addresses for the official.
        items:
          type: string
        type: array
      name:
        description: The official's name.
        type: string
      party:
        description: The full name of the party the official belongs to.
        type: string
      phones:
        description: The official's public contact phone numbers.
        items:
          type: string
        type: array
      photoUrl:
        description: A URL for a photo of the official.
        type: string
      urls:
        description: The official's public website URLs.
        items:
          type: string
        type: array
    type: object
  PollingLocation:
    description: 'A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.'
    properties:
      address:
        $ref: '#/definitions/SimpleAddressType'
        description: The address of the location.
      endDate:
        description: The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.
        type: string
      id:
        description: An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.
        type: string
      name:
        description: The name of the early vote site or drop off location. This field is not populated for polling locations.
        type: string
      notes:
        description: Notes about this location (e.g. accessibility ramp or entrance to use).
        type: string
      pollingHours:
        description: A description of when this location is open.
        type: string
      sources:
        description: A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.
        items:
          $ref: '#/definitions/Source'
        type: array
      startDate:
        description: The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.
        type: string
      voterServices:
        description: The services provided by this early vote site or drop off location. This field is not populated for polling locations.
        type: string
    type: object
  PostalAddress:
    properties:
      addressLines:
        items:
          type: string
        type: array
      administrativeAreaName:
        type: string
      countryName:
        type: string
      countryNameCode:
        type: string
      dependentLocalityName:
        type: string
      dependentThoroughfareLeadingType:
        type: string
      dependentThoroughfareName:
        type: string
      dependentThoroughfarePostDirection:
        type: string
      dependentThoroughfarePreDirection:
        type: string
      dependentThoroughfareTrailingType:
        type: string
      dependentThoroughfaresConnector:
        type: string
      dependentThoroughfaresIndicator:
        type: string
      dependentThoroughfaresType:
        type: string
      firmName:
        type: string
      isDisputed:
        type: boolean
      languageCode:
        type: string
      localityName:
        type: string
      postBoxNumber:
        type: string
      postalCodeNumber:
        type: string
      postalCodeNumberExtension:
        type: string
      premiseName:
        type: string
      recipientName:
        type: string
      sortingCode:
        type: string
      subAdministrativeAreaName:
        type: string
      subPremiseName:
        type: string
      thoroughfareLeadingType:
        type: string
      thoroughfareName:
        type: string
      thoroughfareNumber:
        type: string
      thoroughfarePostDirection:
        type: string
      thoroughfarePreDirection:
        type: string
      thoroughfareTrailingType:
        type: string
    type: object
  RepresentativeInfoData:
    properties:
      divisions:
        additionalProperties:
          $ref: '#/definitions/GeographicDivision'
          description: The unique Open Civic Data identifier for this division.
        description: Political geographic divisions that contain the requested address.
        type: object
      offices:
        description: Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.
        items:
          $ref: '#/definitions/Office'
        type: array
      officials:
        description: Officials holding the offices listed above. Will only be present if includeOffices was true in the request.
        items:
          $ref: '#/definitions/Official'
        type: array
    type: object
  RepresentativeInfoRequest:
    description: A request for political geography and representative information for an address.
    properties:
      contextParams:
        $ref: '#/definitions/ContextParams'
    type: object
  RepresentativeInfoResponse:
    description: The result of a representative info lookup query.
    properties:
      divisions:
        additionalProperties:
          $ref: '#/definitions/GeographicDivision'
          description: The unique Open Civic Data identifier for this division.
        description: Political geographic divisions that contain the requested address.
        type: object
      kind:
        default: 'civicinfo#representativeInfoResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#representativeInfoResponse".'
        type: string
      normalizedInput:
        $ref: '#/definitions/SimpleAddressType'
        description: The normalized version of the requested address
      offices:
        description: Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.
        items:
          $ref: '#/definitions/Office'
        type: array
      officials:
        description: Officials holding the offices listed above. Will only be present if includeOffices was true in the request.
        items:
          $ref: '#/definitions/Official'
        type: array
    type: object
  SimpleAddressType:
    description: A simple representation of an address.
    properties:
      city:
        description: The city or town for the address.
        type: string
      line1:
        description: The street name and number of this address.
        type: string
      line2:
        description: 'The second line the address, if needed.'
        type: string
      line3:
        description: 'The third line of the address, if needed.'
        type: string
      locationName:
        description: The name of the location.
        type: string
      state:
        description: The US two letter state abbreviation of the address.
        type: string
      zip:
        description: The US Postal Zip Code of the address.
        type: string
    type: object
  Source:
    description: Contains information about the data source for the element containing it.
    properties:
      name:
        description: The name of the data source.
        type: string
      official:
        description: Whether this data comes from an official government source.
        type: boolean
    type: object
  VoterInfoRequest:
    description: A request for information about a voter.
    properties:
      contextParams:
        $ref: '#/definitions/ContextParams'
      voterInfoSegmentResult:
        $ref: '#/definitions/VoterInfoSegmentResult'
    type: object
  VoterInfoResponse:
    description: The result of a voter info lookup query.
    properties:
      contests:
        description: Contests that will appear on the voter's ballot.
        items:
          $ref: '#/definitions/Contest'
        type: array
      dropOffLocations:
        description: Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.
        items:
          $ref: '#/definitions/PollingLocation'
        type: array
      earlyVoteSites:
        description: 'Locations where the voter is eligible to vote early, prior to election day.'
        items:
          $ref: '#/definitions/PollingLocation'
        type: array
      election:
        $ref: '#/definitions/Election'
        description: The election that was queried.
      kind:
        default: 'civicinfo#voterInfoResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#voterInfoResponse".'
        type: string
      mailOnly:
        description: Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).
        type: boolean
      normalizedInput:
        $ref: '#/definitions/SimpleAddressType'
        description: The normalized version of the requested address
      otherElections:
        description: 'If no election ID was specified in the query, and there was more than one election with data for the given voter, this will contain information about the other elections that could apply.'
        items:
          $ref: '#/definitions/Election'
        type: array
      pollingLocations:
        description: Locations where the voter is eligible to vote on election day.
        items:
          $ref: '#/definitions/PollingLocation'
        type: array
      precinctId:
        type: string
      state:
        description: 'Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.'
        items:
          $ref: '#/definitions/AdministrationRegion'
        type: array
    type: object
  VoterInfoSegmentResult:
    properties:
      generatedMillis:
        format: int64
        type: string
      postalAddress:
        $ref: '#/definitions/PostalAddress'
      request:
        $ref: '#/definitions/VoterInfoRequest'
      response:
        $ref: '#/definitions/VoterInfoResponse'
    type: object
x-apisguru-categories:
  - open_data
