swagger: "2.0"
schemes:
  - https
host: image-charts.com
basePath: /
info:
  contact:
    x-twitter: imagecharts
  description: Charts, simple as a URL. A safe and fast replacement for Google Image Charts
  title: Image-Charts
  version: 6.1.19
  x-apisguru-categories:
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_imagecharts_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://image-charts.com/swagger.json
      version: "2.0"
  x-providerName: image-charts.com
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/png
  - application/gif
  - image/svg+xml
tags: []
paths:
  /chart:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Image-charts
      operationId: getChart
      parameters:
        - description: Chart type
          enum:
            - bvs
            - bvg
            - bhs
            - bhg
            - bvo
            - p
            - p3
            - pc
            - pd
            - ls
            - lc
            - lxy
            - ls:nda
            - lc:nda
            - lxy:nda
            - pa
            - bb
            - gv
            - gv:dot
            - gv:neato
            - gv:circo
            - gv:fdp
            - gv:osage
            - gv:twopi
            - qr
            - r
          in: query
          name: cht
          required: true
          type: string
          x-meta:
            category: COMMON
            enum:
              - bvs
              - bvg
              - bhs
              - bhg
              - bvo
              - p
              - p3
              - pc
              - pd
              - ls
              - lc
              - lxy
              - ls:nda
              - lc:nda
              - lxy:nda
              - pa
              - bb
              - gv
              - gv:dot
              - gv:neato
              - gv:circo
              - gv:fdp
              - gv:osage
              - gv:twopi
              - qr
              - r
            examples:
              - bvg
              - p
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-type/
            note: |-
              bvg= grouped bar chart, bvs= stacked bar chart, lc=line chart, ls=sparklines, p=pie chart. gv=graph viz
                      Three-dimensional pie chart (p3) will be rendered in 2D, concentric pie chart are not supported.
                      [Optional, line charts only] You can add :nda after the chart type in line charts to hide the default axes.
        - description: chart data
          in: query
          name: chd
          pattern: ^(([at]\d*:(?:[\-0-9_\.]*[,|])*[\-0-9_\.]*)|(s\d*:[a-z0-9_,]+)|(e\d*:[a-z0-9_,-\.]+))$
          type: string
          x-meta:
            category: COMMON
            examples:
              - a:-100,200.5,75.55,110
              - t:10,20,30|15,25,35
              - s:BTb19_,Mn5tzb
              - e:BaPoqM2s,-A__RMD6
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/data-format/
            note: ""
        - description: data format with custom scaling
          in: query
          name: chds
          pattern: a|([0-9-],?)+
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - -80,140
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/data-format/#text-format-with-custom-scaling
            note: You can configure some charts to scale automatically to fit their data with chds=a. The chart will be scaled so that the largest value is at the top of the chart and the smallest (or zero, if all values are greater than zero) will be at the bottom. Otherwise the "&lg;series_1_min&gt;,&lg;series_1_max&gt;,...,&lg;series_n_min&gt;,&lg;series_n_max&gt;" format set one or more minimum and maximum permitted values for each data series, separated by commas. You must supply both a max and a min. If you supply fewer pairs than there are data series, the last pair is applied to all remaining data series. Note that this does not change the axis range; to change the axis range, you must set the chxr parameter. Valid values range from (+/-)9.999e(+/-)199. You can specify values in either standard or E notation.
        - description: QRCode data encoding
          enum:
            - UTF-8
          in: query
          name: choe
          type: string
          x-alternatives:
            - description: QRCode data encoding
              enum:
                - UTF-8
              type: string
              x-meta:
                category: COMMON
                examples:
                  - UTF-8
                implementation:
                  status: PARTIAL
                link: https://documentation.image-charts.com/qr-codes/#data-encoding
                note: How to encode the data in the QR code. 'UTF-8' is the default and only supported value. Contact our team if you wish to have support for Shift_JIS and/or ISO-8859-1.
          x-meta:
            category: COMMON
            examples:
              - UTF-8
            implementation:
              status: PARTIAL
            link: https://documentation.image-charts.com/qr-codes/#data-encoding
            note: How to encode the data in the QR code. 'UTF-8' is the default and only supported value. Contact our team if you wish to have support for Shift_JIS and/or ISO-8859-1.
        - default: L|4
          description: QRCode error correction level and optional margin
          in: query
          name: chld
          pattern: ^[LMQH]{1}(?:\|[0-9]+)?$
          type: string
          x-alternatives:
            - default: L|4
              description: QRCode error correction level and optional margin
              example: L|4
              pattern: ^[LMQH]{1}(?:\|[0-9]+)?$
              type: string
              x-meta:
                category: COMMON
                examples:
                  - L|4
                  - M|10
                  - Q|5
                  - H|18
                implementation:
                  status: COMPLETE
                link: https://documentation.image-charts.com/qr-codes/#error-correction-level-and-margin
                note: ""
          x-meta:
            category: COMMON
            examples:
              - L|4
              - M|10
              - Q|5
              - H|18
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/qr-codes/#error-correction-level-and-margin
            note: ""
        - description: Axis data-range
          in: query
          name: chxr
          pattern: ^(?:(?:[0-9-.]+)(?:,(?:[0-9-.]+)){2,3}\|?)+$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 0,0,200
              - 0,10,50,5
              - 0,0,500|1,0,200
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-axis/#axis-range
            note: You can specify the range of values that appear on each axis independently, using the chxr parameter. Note that this does not change the scale of the chart elements (use chds for that), only the scale of the axis labels.
        - description: axis label positions
          in: query
          name: chxp
          required: false
          type: string
          x-meta:
            category: COMMON
            implementation:
              status: UPCOMING
            link: ""
            note: ""
        - default: .png
          description: Image output format
          in: query
          name: chof
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - .png
              - .svg
              - .gif
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/output-format/
            note: |-
              Some clients like Flowdock/Facebook messenger and so on, needs an URL to ends with a valid image extension file to display the image, use this parameter at the end your URL to support them. Valid values are ".png", ".svg" and ".gif".
                        Only QRCodes and GraphViz support svg output.
        - description: Chart size (<width>x<height>)
          in: query
          name: chs
          pattern: ^[1-9][0-9]{0,2}x[1-9][0-9]{0,2}$
          type: string
          x-meta:
            category: COMMON
            examples:
              - 400x400
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-size/
            note: Maximum chart size for all charts except maps is 998,001 pixels total (Google Image Charts was limited to 300,000), and maximum width or length is 999 pixels.
        - default: ""
          description: Text for each series, to display in the legend
          in: query
          name: chdl
          pattern: ^(?:[^\|]*\|?)+$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - NASDAQ|FTSE100|DOW
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/legend-text-and-style/
            note: "Format: &lt;data_series_1_label&gt;|...|&lt;data_series_n_label&gt;. The text for the legend entries. Each label applies to the corresponding series in the chd array. Use a + mark for a space. If you do not specify this parameter, the chart will not get a legend. There is no way to specify a line break in a label. The legend will typically expand to hold your legend text, and the chart area will shrink to accommodate the legend."
        - default: "000000"
          description: Chart legend text and style
          in: query
          name: chdls
          pattern: ^[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?(?:,[0-9]+)?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 9e9e9e,17
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/legend-text-and-style/
            note: Specifies the color and font size of the legend text. <color>,<size>
        - description: Solid or dotted grid lines
          in: query
          name: chg
          pattern: ^(?:[0-9.]+)(?:,(?:[0-9.]+)+){0,5}?(?:,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?)?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 1,1
              - 0,1,1,5
              - 1,1,FF00FF
              - 1,1,1,1,CECECE
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/grid-lines/
            note: ""
        - default: F56991,FF9F80,FFC48C,D1F2A5,EFFAB4
          description: series colors
          in: query
          name: chco
          pattern: ^([0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,?\|?)+$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - FFC48C
              - FF0000,00FF00,0000FF
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/bar-charts/#examples
            note: |-
              You can specify the colors of a specific series using the chco parameter.
                    Format should be &lt;series_2&gt;,...,&lt;series_m&gt;, with each color in RRGGBB format hexadecimal number.
                    The exact syntax and meaning can vary by chart type; see your specific chart type for details.
                    Each entry in this string is an RRGGBB[AA] format hexadecimal number.
                    If there are more series or elements in the chart than colors specified in your string, the API typically cycles through element colors from the start of that series (for elements) or for series colors from the start of the series list.
                    Again, see individual chart documentation for details.
        - default: ""
          description: chart title
          in: query
          name: chtt
          pattern: ^[a-z0-9sW -⟯一-龿぀-ゟ゠-ヿ⺀-⿕㆐-㆟㐀-䶿一-鿌豈-節]+$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - My beautiful chart
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-title/
        - default: ""
          description: chart title colors and font size
          in: query
          name: chts
          pattern: ^([0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?),[0-9]+,?[lcr]?(,(ABeeZee|Abel|Abhaya Libre|Abril Fatface|Aclonica|Acme|Actor|Adamina|Advent Pro|Aguafina Script|Akronim|Aladin|Aldrich|Alef|Alegreya|Alegreya SC|Alegreya Sans|Alegreya Sans SC|Aleo|Alex Brush|Alfa Slab One|Alice|Alike|Alike Angular|Allan|Allerta|Allerta Stencil|Allura|Almarai|Almendra|Almendra Display|Almendra SC|Amarante|Amaranth|Amatic SC|Amethysta|Amiko|Amiri|Amita|Anaheim|Andada|Andika|Angkor|Annie Use Your Telescope|Anonymous Pro|Antic|Antic Didone|Antic Slab|Anton|Arapey|Arbutus|Arbutus Slab|Architects Daughter|Archivo|Archivo Black|Archivo Narrow|Aref Ruqaa|Arima Madurai|Arimo|Arizonia|Armata|Arsenal|Artifika|Arvo|Arya|Asap|Asap Condensed|Asar|Asset|Assistant|Astloch|Asul|Athiti|Atma|Atomic Age|Aubrey|Audiowide|Autour One|Average|Average Sans|Averia Gruesa Libre|Averia Libre|Averia Sans Libre|Averia Serif Libre|B612|B612 Mono|Bad Script|Bahiana|Bahianita|Bai Jamjuree|Baloo|Baloo Bhai|Baloo Bhaijaan|Baloo Bhaina|Baloo Chettan|Baloo Da|Baloo Paaji|Baloo Tamma|Baloo Tammudu|Baloo Thambi|Balthazar|Bangers|Barlow|Barlow Condensed|Barlow Semi Condensed|Barriecito|Barrio|Basic|Battambang|Baumans|Bayon|Be Vietnam|Belgrano|Bellefair|Belleza|BenchNine|Bentham|Berkshire Swash|Beth Ellen|Bevan|Big Shoulders Display|Big Shoulders Text|Bigelow Rules|Bigshot One|Bilbo|Bilbo Swash Caps|BioRhyme|BioRhyme Expanded|Biryani|Bitter|Black And White Picture|Black Han Sans|Black Ops One|Blinker|Bokor|Bonbon|Boogaloo|Bowlby One|Bowlby One SC|Brawler|Bree Serif|Bubblegum Sans|Bubbler One|Buda|Buenard|Bungee|Bungee Hairline|Bungee Inline|Bungee Outline|Bungee Shade|Butcherman|Butterfly Kids|Cabin|Cabin Condensed|Cabin Sketch|Caesar Dressing|Cagliostro|Cairo|Calligraffitti|Cambay|Cambo|Candal|Cantarell|Cantata One|Cantora One|Capriola|Cardo|Carme|Carrois Gothic|Carrois Gothic SC|Carter One|Catamaran|Caudex|Caveat|Caveat Brush|Cedarville Cursive|Ceviche One|Chakra Petch|Changa|Changa One|Chango|Charm|Charmonman|Chathura|Chau Philomene One|Chela One|Chelsea Market|Chenla|Cherry Cream Soda|Cherry Swash|Chewy|Chicle|Chilanka|Chivo|Chonburi|Cinzel|Cinzel Decorative|Clicker Script|Coda|Coda Caption|Codystar|Coiny|Combo|Comfortaa|Coming Soon|Concert One|Condiment|Content|Contrail One|Convergence|Cookie|Copse|Corben|Cormorant|Cormorant Garamond|Cormorant Infant|Cormorant SC|Cormorant Unicase|Cormorant Upright|Courgette|Cousine|Coustard|Covered By Your Grace|Crafty Girls|Creepster|Crete Round|Crimson Pro|Crimson Text|Croissant One|Crushed|Cuprum|Cute Font|Cutive|Cutive Mono|DM Sans|DM Serif Display|DM Serif Text|Damion|Dancing Script|Dangrek|Darker Grotesque|David Libre|Dawning of a New Day|Days One|Dekko|Delius|Delius Swash Caps|Delius Unicase|Della Respira|Denk One|Devonshire|Dhurjati|Didact Gothic|Diplomata|Diplomata SC|Do Hyeon|Dokdo|Domine|Donegal One|Doppio One|Dorsa|Dosis|Dr Sugiyama|Duru Sans|Dynalight|EB Garamond|Eagle Lake|East Sea Dokdo|Eater|Economica|Eczar|El Messiri|Electrolize|Elsie|Elsie Swash Caps|Emblema One|Emilys Candy|Encode Sans|Encode Sans Condensed|Encode Sans Expanded|Encode Sans Semi Condensed|Encode Sans Semi Expanded|Engagement|Englebert|Enriqueta|Erica One|Esteban|Euphoria Script|Ewert|Exo|Exo 2|Expletus Sans|Fahkwang|Fanwood Text|Farro|Farsan|Fascinate|Fascinate Inline|Faster One|Fasthand|Fauna One|Faustina|Federant|Federo|Felipa|Fenix|Finger Paint|Fira Code|Fira Mono|Fira Sans|Fira Sans Condensed|Fira Sans Extra Condensed|Fjalla One|Fjord One|Flamenco|Flavors|Fondamento|Fontdiner Swanky|Forum|Francois One|Frank Ruhl Libre|Freckle Face|Fredericka the Great|Fredoka One|Freehand|Fresca|Frijole|Fruktur|Fugaz One|GFS Didot|GFS Neohellenic|Gabriela|Gaegu|Gafata|Galada|Galdeano|Galindo|Gamja Flower|Gayathri|Gentium Basic|Gentium Book Basic|Geo|Geostar|Geostar Fill|Germania One|Gidugu|Gilda Display|Give You Glory|Glass Antiqua|Glegoo|Gloria Hallelujah|Goblin One|Gochi Hand|Gorditas|Gothic A1|Goudy Bookletter 1911|Graduate|Grand Hotel|Gravitas One|Great Vibes|Grenze|Griffy|Gruppo|Gudea|Gugi|Gurajada|Habibi|Halant|Hammersmith One|Hanalei|Hanalei Fill|Handlee|Hanuman|Happy Monkey|Harmattan|Headland One|Heebo|Henny Penny|Hepta Slab|Herr Von Muellerhoff|Hi Melody|Hind|Hind Guntur|Hind Madurai|Hind Siliguri|Hind Vadodara|Holtwood One SC|Homemade Apple|Homenaje|IBM Plex Mono|IBM Plex Sans|IBM Plex Sans Condensed|IBM Plex Serif|IM Fell DW Pica|IM Fell DW Pica SC|IM Fell Double Pica|IM Fell Double Pica SC|IM Fell English|IM Fell English SC|IM Fell French Canon|IM Fell French Canon SC|IM Fell Great Primer|IM Fell Great Primer SC|Iceberg|Iceland|Imprima|Inconsolata|Inder|Indie Flower|Inika|Inknut Antiqua|Irish Grover|Istok Web|Italiana|Italianno|Itim|Jacques Francois|Jacques Francois Shadow|Jaldi|Jim Nightshade|Jockey One|Jolly Lodger|Jomhuria|Jomolhari|Josefin Sans|Josefin Slab|Joti One|Jua|Judson|Julee|Julius Sans One|Junge|Jura|Just Another Hand|Just Me Again Down Here|K2D|Kadwa|Kalam|Kameron|Kanit|Kantumruy|Karla|Karma|Katibeh|Kaushan Script|Kavivanar|Kavoon|Kdam Thmor|Keania One|Kelly Slab|Kenia|Khand|Khmer|Khula|Kirang Haerang|Kite One|Knewave|KoHo|Kodchasan|Kosugi|Kosugi Maru|Kotta One|Koulen|Kranky|Kreon|Kristi|Krona One|Krub|Kumar One|Kumar One Outline|Kurale|La Belle Aurore|Lacquer|Laila|Lakki Reddy|Lalezar|Lancelot|Lateef|Lato|League Script|Leckerli One|Ledger|Lekton|Lemon|Lemonada|Lexend Deca|Lexend Exa|Lexend Giga|Lexend Mega|Lexend Peta|Lexend Tera|Lexend Zetta|Libre Barcode 128|Libre Barcode 128 Text|Libre Barcode 39|Libre Barcode 39 Extended|Libre Barcode 39 Extended Text|Libre Barcode 39 Text|Libre Baskerville|Libre Caslon Display|Libre Caslon Text|Libre Franklin|Life Savers|Lilita One|Lily Script One|Limelight|Linden Hill|Literata|Liu Jian Mao Cao|Livvic|Lobster|Lobster Two|Londrina Outline|Londrina Shadow|Londrina Sketch|Londrina Solid|Long Cang|Lora|Love Ya Like A Sister|Loved by the King|Lovers Quarrel|Luckiest Guy|Lusitana|Lustria|M PLUS 1p|M PLUS Rounded 1c|Ma Shan Zheng|Macondo|Macondo Swash Caps|Mada|Magra|Maiden Orange|Maitree|Major Mono Display|Mako|Mali|Mallanna|Mandali|Manjari|Mansalva|Manuale|Marcellus|Marcellus SC|Marck Script|Margarine|Markazi Text|Marko One|Marmelad|Martel|Martel Sans|Marvel|Mate|Mate SC|Maven Pro|McLaren|Meddon|MedievalSharp|Medula One|Meera Inimai|Megrim|Meie Script|Merienda|Merienda One|Merriweather|Merriweather Sans|Metal|Metal Mania|Metamorphous|Metrophobic|Michroma|Milonga|Miltonian|Miltonian Tattoo|Mina|Miniver|Miriam Libre|Mirza|Miss Fajardose|Mitr|Modak|Modern Antiqua|Mogra|Molengo|Molle|Monda|Monofett|Monoton|Monsieur La Doulaise|Montaga|Montez|Montserrat|Montserrat Alternates|Montserrat Subrayada|Moul|Moulpali|Mountains of Christmas|Mouse Memoirs|Mr Bedfort|Mr Dafoe|Mr De Haviland|Mrs Saint Delafield|Mrs Sheppards|Mukta|Mukta Mahee|Mukta Malar|Mukta Vaani|Muli|Mystery Quest|NTR|Nanum Brush Script|Nanum Gothic|Nanum Gothic Coding|Nanum Myeongjo|Nanum Pen Script|Neucha|Neuton|New Rocker|News Cycle|Niconne|Niramit|Nixie One|Nobile|Nokora|Norican|Nosifer|Notable|Nothing You Could Do|Noticia Text|Noto Sans|Noto Sans HK|Noto Sans JP|Noto Sans KR|Noto Sans SC|Noto Sans TC|Noto Serif|Noto Serif JP|Noto Serif KR|Noto Serif SC|Noto Serif TC|Nova Cut|Nova Flat|Nova Mono|Nova Oval|Nova Round|Nova Script|Nova Slim|Nova Square|Numans|Nunito|Nunito Sans|Odor Mean Chey|Offside|Old Standard TT|Oldenburg|Oleo Script|Oleo Script Swash Caps|Open Sans|Open Sans Condensed|Oranienbaum|Orbitron|Oregano|Orienta|Original Surfer|Oswald|Over the Rainbow|Overlock|Overlock SC|Overpass|Overpass Mono|Ovo|Oxygen|Oxygen Mono|PT Mono|PT Sans|PT Sans Caption|PT Sans Narrow|PT Serif|PT Serif Caption|Pacifico|Padauk|Palanquin|Palanquin Dark|Pangolin|Paprika|Parisienne|Passero One|Passion One|Pathway Gothic One|Patrick Hand|Patrick Hand SC|Pattaya|Patua One|Pavanam|Paytone One|Peddana|Peralta|Permanent Marker|Petit Formal Script|Petrona|Philosopher|Piedra|Pinyon Script|Pirata One|Plaster|Play|Playball|Playfair Display|Playfair Display SC|Podkova|Poiret One|Poller One|Poly|Pompiere|Pontano Sans|Poor Story|Poppins|Port Lligat Sans|Port Lligat Slab|Pragati Narrow|Prata|Preahvihear|Press Start 2P|Pridi|Princess Sofia|Prociono|Prompt|Prosto One|Proza Libre|Puritan|Purple Purse|Quando|Quantico|Quattrocento|Quattrocento Sans|Questrial|Quicksand|Quintessential|Qwigley|Racing Sans One|Radley|Rajdhani|Rakkas|Raleway|Raleway Dots|Ramabhadra|Ramaraja|Rambla|Rammetto One|Ranchers|Rancho|Ranga|Rasa|Rationale|Ravi Prakash|Red Hat Display|Red Hat Text|Redressed|Reem Kufi|Reenie Beanie|Revalia|Rhodium Libre|Ribeye|Ribeye Marrow|Righteous|Risque|Roboto|Roboto Condensed|Roboto Mono|Roboto Slab|Rochester|Rock Salt|Rokkitt|Romanesco|Ropa Sans|Rosario|Rosarivo|Rouge Script|Rozha One|Rubik|Rubik Mono One|Ruda|Rufina|Ruge Boogie|Ruluko|Rum Raisin|Ruslan Display|Russo One|Ruthie|Rye|Sacramento|Sahitya|Sail|Saira|Saira Condensed|Saira Extra Condensed|Saira Semi Condensed|Saira Stencil One|Salsa|Sanchez|Sancreek|Sansita|Sarabun|Sarala|Sarina|Sarpanch|Satisfy|Sawarabi Gothic|Sawarabi Mincho|Scada|Scheherazade|Schoolbell|Scope One|Seaweed Script|Secular One|Sedgwick Ave|Sedgwick Ave Display|Sevillana|Seymour One|Shadows Into Light|Shadows Into Light Two|Shanti|Share|Share Tech|Share Tech Mono|Shojumaru|Short Stack|Shrikhand|Siemreap|Sigmar One|Signika|Signika Negative|Simonetta|Single Day|Sintony|Sirin Stencil|Six Caps|Skranji|Slabo 13px|Slabo 27px|Slackey|Smokum|Smythe|Sniglet|Snippet|Snowburst One|Sofadi One|Sofia|Song Myung|Sonsie One|Sorts Mill Goudy|Source Code Pro|Source Sans Pro|Source Serif Pro|Space Mono|Special Elite|Spectral|Spectral SC|Spicy Rice|Spinnaker|Spirax|Squada One|Sree Krushnadevaraya|Sriracha|Srisakdi|Staatliches|Stalemate|Stalinist One|Stardos Stencil|Stint Ultra Condensed|Stint Ultra Expanded|Stoke|Strait|Stylish|Sue Ellen Francisco|Suez One|Sumana|Sunflower|Sunshiney|Supermercado One|Sura|Suranna|Suravaram|Suwannaphum|Swanky and Moo Moo|Syncopate|Tajawal|Tangerine|Taprom|Tauri|Taviraj|Teko|Telex|Tenali Ramakrishna|Tenor Sans|Text Me One|Thasadith|The Girl Next Door|Tienne|Tillana|Timmana|Tinos|Titan One|Titillium Web|Trade Winds|Trirong|Trocchi|Trochut|Trykker|Tulpen One|Turret Road|Ubuntu|Ubuntu Condensed|Ubuntu Mono|Ultra|Uncial Antiqua|Underdog|Unica One|UnifrakturCook|UnifrakturMaguntia|Unkempt|Unlock|Unna|VT323|Vampiro One|Varela|Varela Round|Vast Shadow|Vesper Libre|Vibes|Vibur|Vidaloka|Viga|Voces|Volkhov|Vollkorn|Vollkorn SC|Voltaire|Waiting for the Sunrise|Wallpoet|Walter Turncoat|Warnes|Wellfleet|Wendy One|Wire One|Work Sans|Yanone Kaffeesatz|Yantramanav|Yatra One|Yellowtail|Yeon Sung|Yeseva One|Yesteryear|Yrsa|ZCOOL KuaiLe|ZCOOL QingKe HuangYou|ZCOOL XiaoWei|Zeyada|Zhi Mang Xing|Zilla Slab|Zilla Slab Highlight))?(,(normal|italic))?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 00FF00,17
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-title/
            note: Format should be "<color>,<font_size>[,<opt_alignment>,<opt_font_family>,<opt_font_style>]", opt_alignement is not supported
        - default: ""
          description: Display values on your axis lines or change which axes are shown
          in: query
          name: chxt
          pattern: ^(?:[xytr])(,(?:[xytr]))*$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - y
              - x,y
              - x,x,y
              - x,y,t,r,t
            implementation:
              status: PARTIAL
            link: https://documentation.image-charts.com/reference/chart-axis/#visible-axes
            note: 'Specify which axes you want (from: "x", "y", "t" and "r"). You can use several of them, separated by a coma; for example: "x,x,y,r". Order is important.'
        - default: ""
          description: Custom string axis labels on any axis
          in: query
          name: chxl
          pattern: ^\|?[0-9]+:\|(?:[^\|]*\|?)+
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 0:|Jan|July|Jan
              - 0:|Jan|July|Jan|1|10|20|30
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-axis/#custom-axis-labels
            note: Specify one parameter set for each axis that you want to label. Format "<axis_index>:|<label_1>|...|<label_n>|...|<axis_index>:|<label_1>|...|<label_n>". Separate multiple sets of labels using the pipe character ( | ).
        - description: Font size, color for axis labels, both custom labels and default label values
          in: query
          name: chxs
          pattern: ^^(?:[0-9]+(?:N[^\*]*\*(?:[f|p|e]|(?:c[a-z]{3}))?(?:[0-9]+)?(?:[zs]{1,2}?)?(?:[x|y])?\*(?:[^,]*)?)?(?:,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?)?(?:,[0-9.]+(?:,-?[0|1](?:,(?:(?:[l|t]t?)|_)(?:,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?(?:,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?)?)?)?)?)?(?:,(?:s))?(?:,(?:((?:min|max)[-0-9]{1,3}){1,2}))?\|?)+$$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 1,0000DD
              - 1N*cUSD*Mil,FF0000
              - 1N*cEUR*,FF0000
              - 2,0000DD,13,0,t
              - 0N*p*per-month,0000FF
              - 0N*e*,000000|1N*cUSD*Mil,FF0000|2N*2sz*,0000FF
            implementation:
              status: PARTIAL
            link: https://documentation.image-charts.com/reference/chart-axis/#axis-label-styles
            note: You can specify the range of values that appear on each axis independently, using the chxr parameter. Note that this does not change the scale of the chart elements (use chds for that), only the scale of the axis labels.
        - default: ""
          description: compound charts and line fills
          in: query
          name: chm
          pattern: ^(?:b|B),[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,\d+,0|(N|N[^\*]*\*(?:[f|p|e]|(?:c[a-z]{3}))?(?:[0-9]+)?(?:[zs]{1,2}?)?(?:[x|y])?\*(?:[^,]*)?),[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,(?:-?\d+(?:(?::-?\d+(?::-?\d+)?)?|(?:\.\d+)))?,\d+((,(\d+)?)?(,(.?(s|c|e):?:?))?(,?(ABeeZee|Abel|Abhaya Libre|Abril Fatface|Aclonica|Acme|Actor|Adamina|Advent Pro|Aguafina Script|Akronim|Aladin|Aldrich|Alef|Alegreya|Alegreya SC|Alegreya Sans|Alegreya Sans SC|Aleo|Alex Brush|Alfa Slab One|Alice|Alike|Alike Angular|Allan|Allerta|Allerta Stencil|Allura|Almarai|Almendra|Almendra Display|Almendra SC|Amarante|Amaranth|Amatic SC|Amethysta|Amiko|Amiri|Amita|Anaheim|Andada|Andika|Angkor|Annie Use Your Telescope|Anonymous Pro|Antic|Antic Didone|Antic Slab|Anton|Arapey|Arbutus|Arbutus Slab|Architects Daughter|Archivo|Archivo Black|Archivo Narrow|Aref Ruqaa|Arima Madurai|Arimo|Arizonia|Armata|Arsenal|Artifika|Arvo|Arya|Asap|Asap Condensed|Asar|Asset|Assistant|Astloch|Asul|Athiti|Atma|Atomic Age|Aubrey|Audiowide|Autour One|Average|Average Sans|Averia Gruesa Libre|Averia Libre|Averia Sans Libre|Averia Serif Libre|B612|B612 Mono|Bad Script|Bahiana|Bahianita|Bai Jamjuree|Baloo|Baloo Bhai|Baloo Bhaijaan|Baloo Bhaina|Baloo Chettan|Baloo Da|Baloo Paaji|Baloo Tamma|Baloo Tammudu|Baloo Thambi|Balthazar|Bangers|Barlow|Barlow Condensed|Barlow Semi Condensed|Barriecito|Barrio|Basic|Battambang|Baumans|Bayon|Be Vietnam|Belgrano|Bellefair|Belleza|BenchNine|Bentham|Berkshire Swash|Beth Ellen|Bevan|Big Shoulders Display|Big Shoulders Text|Bigelow Rules|Bigshot One|Bilbo|Bilbo Swash Caps|BioRhyme|BioRhyme Expanded|Biryani|Bitter|Black And White Picture|Black Han Sans|Black Ops One|Blinker|Bokor|Bonbon|Boogaloo|Bowlby One|Bowlby One SC|Brawler|Bree Serif|Bubblegum Sans|Bubbler One|Buda|Buenard|Bungee|Bungee Hairline|Bungee Inline|Bungee Outline|Bungee Shade|Butcherman|Butterfly Kids|Cabin|Cabin Condensed|Cabin Sketch|Caesar Dressing|Cagliostro|Cairo|Calligraffitti|Cambay|Cambo|Candal|Cantarell|Cantata One|Cantora One|Capriola|Cardo|Carme|Carrois Gothic|Carrois Gothic SC|Carter One|Catamaran|Caudex|Caveat|Caveat Brush|Cedarville Cursive|Ceviche One|Chakra Petch|Changa|Changa One|Chango|Charm|Charmonman|Chathura|Chau Philomene One|Chela One|Chelsea Market|Chenla|Cherry Cream Soda|Cherry Swash|Chewy|Chicle|Chilanka|Chivo|Chonburi|Cinzel|Cinzel Decorative|Clicker Script|Coda|Coda Caption|Codystar|Coiny|Combo|Comfortaa|Coming Soon|Concert One|Condiment|Content|Contrail One|Convergence|Cookie|Copse|Corben|Cormorant|Cormorant Garamond|Cormorant Infant|Cormorant SC|Cormorant Unicase|Cormorant Upright|Courgette|Cousine|Coustard|Covered By Your Grace|Crafty Girls|Creepster|Crete Round|Crimson Pro|Crimson Text|Croissant One|Crushed|Cuprum|Cute Font|Cutive|Cutive Mono|DM Sans|DM Serif Display|DM Serif Text|Damion|Dancing Script|Dangrek|Darker Grotesque|David Libre|Dawning of a New Day|Days One|Dekko|Delius|Delius Swash Caps|Delius Unicase|Della Respira|Denk One|Devonshire|Dhurjati|Didact Gothic|Diplomata|Diplomata SC|Do Hyeon|Dokdo|Domine|Donegal One|Doppio One|Dorsa|Dosis|Dr Sugiyama|Duru Sans|Dynalight|EB Garamond|Eagle Lake|East Sea Dokdo|Eater|Economica|Eczar|El Messiri|Electrolize|Elsie|Elsie Swash Caps|Emblema One|Emilys Candy|Encode Sans|Encode Sans Condensed|Encode Sans Expanded|Encode Sans Semi Condensed|Encode Sans Semi Expanded|Engagement|Englebert|Enriqueta|Erica One|Esteban|Euphoria Script|Ewert|Exo|Exo 2|Expletus Sans|Fahkwang|Fanwood Text|Farro|Farsan|Fascinate|Fascinate Inline|Faster One|Fasthand|Fauna One|Faustina|Federant|Federo|Felipa|Fenix|Finger Paint|Fira Code|Fira Mono|Fira Sans|Fira Sans Condensed|Fira Sans Extra Condensed|Fjalla One|Fjord One|Flamenco|Flavors|Fondamento|Fontdiner Swanky|Forum|Francois One|Frank Ruhl Libre|Freckle Face|Fredericka the Great|Fredoka One|Freehand|Fresca|Frijole|Fruktur|Fugaz One|GFS Didot|GFS Neohellenic|Gabriela|Gaegu|Gafata|Galada|Galdeano|Galindo|Gamja Flower|Gayathri|Gentium Basic|Gentium Book Basic|Geo|Geostar|Geostar Fill|Germania One|Gidugu|Gilda Display|Give You Glory|Glass Antiqua|Glegoo|Gloria Hallelujah|Goblin One|Gochi Hand|Gorditas|Gothic A1|Goudy Bookletter 1911|Graduate|Grand Hotel|Gravitas One|Great Vibes|Grenze|Griffy|Gruppo|Gudea|Gugi|Gurajada|Habibi|Halant|Hammersmith One|Hanalei|Hanalei Fill|Handlee|Hanuman|Happy Monkey|Harmattan|Headland One|Heebo|Henny Penny|Hepta Slab|Herr Von Muellerhoff|Hi Melody|Hind|Hind Guntur|Hind Madurai|Hind Siliguri|Hind Vadodara|Holtwood One SC|Homemade Apple|Homenaje|IBM Plex Mono|IBM Plex Sans|IBM Plex Sans Condensed|IBM Plex Serif|IM Fell DW Pica|IM Fell DW Pica SC|IM Fell Double Pica|IM Fell Double Pica SC|IM Fell English|IM Fell English SC|IM Fell French Canon|IM Fell French Canon SC|IM Fell Great Primer|IM Fell Great Primer SC|Iceberg|Iceland|Imprima|Inconsolata|Inder|Indie Flower|Inika|Inknut Antiqua|Irish Grover|Istok Web|Italiana|Italianno|Itim|Jacques Francois|Jacques Francois Shadow|Jaldi|Jim Nightshade|Jockey One|Jolly Lodger|Jomhuria|Jomolhari|Josefin Sans|Josefin Slab|Joti One|Jua|Judson|Julee|Julius Sans One|Junge|Jura|Just Another Hand|Just Me Again Down Here|K2D|Kadwa|Kalam|Kameron|Kanit|Kantumruy|Karla|Karma|Katibeh|Kaushan Script|Kavivanar|Kavoon|Kdam Thmor|Keania One|Kelly Slab|Kenia|Khand|Khmer|Khula|Kirang Haerang|Kite One|Knewave|KoHo|Kodchasan|Kosugi|Kosugi Maru|Kotta One|Koulen|Kranky|Kreon|Kristi|Krona One|Krub|Kumar One|Kumar One Outline|Kurale|La Belle Aurore|Lacquer|Laila|Lakki Reddy|Lalezar|Lancelot|Lateef|Lato|League Script|Leckerli One|Ledger|Lekton|Lemon|Lemonada|Lexend Deca|Lexend Exa|Lexend Giga|Lexend Mega|Lexend Peta|Lexend Tera|Lexend Zetta|Libre Barcode 128|Libre Barcode 128 Text|Libre Barcode 39|Libre Barcode 39 Extended|Libre Barcode 39 Extended Text|Libre Barcode 39 Text|Libre Baskerville|Libre Caslon Display|Libre Caslon Text|Libre Franklin|Life Savers|Lilita One|Lily Script One|Limelight|Linden Hill|Literata|Liu Jian Mao Cao|Livvic|Lobster|Lobster Two|Londrina Outline|Londrina Shadow|Londrina Sketch|Londrina Solid|Long Cang|Lora|Love Ya Like A Sister|Loved by the King|Lovers Quarrel|Luckiest Guy|Lusitana|Lustria|M PLUS 1p|M PLUS Rounded 1c|Ma Shan Zheng|Macondo|Macondo Swash Caps|Mada|Magra|Maiden Orange|Maitree|Major Mono Display|Mako|Mali|Mallanna|Mandali|Manjari|Mansalva|Manuale|Marcellus|Marcellus SC|Marck Script|Margarine|Markazi Text|Marko One|Marmelad|Martel|Martel Sans|Marvel|Mate|Mate SC|Maven Pro|McLaren|Meddon|MedievalSharp|Medula One|Meera Inimai|Megrim|Meie Script|Merienda|Merienda One|Merriweather|Merriweather Sans|Metal|Metal Mania|Metamorphous|Metrophobic|Michroma|Milonga|Miltonian|Miltonian Tattoo|Mina|Miniver|Miriam Libre|Mirza|Miss Fajardose|Mitr|Modak|Modern Antiqua|Mogra|Molengo|Molle|Monda|Monofett|Monoton|Monsieur La Doulaise|Montaga|Montez|Montserrat|Montserrat Alternates|Montserrat Subrayada|Moul|Moulpali|Mountains of Christmas|Mouse Memoirs|Mr Bedfort|Mr Dafoe|Mr De Haviland|Mrs Saint Delafield|Mrs Sheppards|Mukta|Mukta Mahee|Mukta Malar|Mukta Vaani|Muli|Mystery Quest|NTR|Nanum Brush Script|Nanum Gothic|Nanum Gothic Coding|Nanum Myeongjo|Nanum Pen Script|Neucha|Neuton|New Rocker|News Cycle|Niconne|Niramit|Nixie One|Nobile|Nokora|Norican|Nosifer|Notable|Nothing You Could Do|Noticia Text|Noto Sans|Noto Sans HK|Noto Sans JP|Noto Sans KR|Noto Sans SC|Noto Sans TC|Noto Serif|Noto Serif JP|Noto Serif KR|Noto Serif SC|Noto Serif TC|Nova Cut|Nova Flat|Nova Mono|Nova Oval|Nova Round|Nova Script|Nova Slim|Nova Square|Numans|Nunito|Nunito Sans|Odor Mean Chey|Offside|Old Standard TT|Oldenburg|Oleo Script|Oleo Script Swash Caps|Open Sans|Open Sans Condensed|Oranienbaum|Orbitron|Oregano|Orienta|Original Surfer|Oswald|Over the Rainbow|Overlock|Overlock SC|Overpass|Overpass Mono|Ovo|Oxygen|Oxygen Mono|PT Mono|PT Sans|PT Sans Caption|PT Sans Narrow|PT Serif|PT Serif Caption|Pacifico|Padauk|Palanquin|Palanquin Dark|Pangolin|Paprika|Parisienne|Passero One|Passion One|Pathway Gothic One|Patrick Hand|Patrick Hand SC|Pattaya|Patua One|Pavanam|Paytone One|Peddana|Peralta|Permanent Marker|Petit Formal Script|Petrona|Philosopher|Piedra|Pinyon Script|Pirata One|Plaster|Play|Playball|Playfair Display|Playfair Display SC|Podkova|Poiret One|Poller One|Poly|Pompiere|Pontano Sans|Poor Story|Poppins|Port Lligat Sans|Port Lligat Slab|Pragati Narrow|Prata|Preahvihear|Press Start 2P|Pridi|Princess Sofia|Prociono|Prompt|Prosto One|Proza Libre|Puritan|Purple Purse|Quando|Quantico|Quattrocento|Quattrocento Sans|Questrial|Quicksand|Quintessential|Qwigley|Racing Sans One|Radley|Rajdhani|Rakkas|Raleway|Raleway Dots|Ramabhadra|Ramaraja|Rambla|Rammetto One|Ranchers|Rancho|Ranga|Rasa|Rationale|Ravi Prakash|Red Hat Display|Red Hat Text|Redressed|Reem Kufi|Reenie Beanie|Revalia|Rhodium Libre|Ribeye|Ribeye Marrow|Righteous|Risque|Roboto|Roboto Condensed|Roboto Mono|Roboto Slab|Rochester|Rock Salt|Rokkitt|Romanesco|Ropa Sans|Rosario|Rosarivo|Rouge Script|Rozha One|Rubik|Rubik Mono One|Ruda|Rufina|Ruge Boogie|Ruluko|Rum Raisin|Ruslan Display|Russo One|Ruthie|Rye|Sacramento|Sahitya|Sail|Saira|Saira Condensed|Saira Extra Condensed|Saira Semi Condensed|Saira Stencil One|Salsa|Sanchez|Sancreek|Sansita|Sarabun|Sarala|Sarina|Sarpanch|Satisfy|Sawarabi Gothic|Sawarabi Mincho|Scada|Scheherazade|Schoolbell|Scope One|Seaweed Script|Secular One|Sedgwick Ave|Sedgwick Ave Display|Sevillana|Seymour One|Shadows Into Light|Shadows Into Light Two|Shanti|Share|Share Tech|Share Tech Mono|Shojumaru|Short Stack|Shrikhand|Siemreap|Sigmar One|Signika|Signika Negative|Simonetta|Single Day|Sintony|Sirin Stencil|Six Caps|Skranji|Slabo 13px|Slabo 27px|Slackey|Smokum|Smythe|Sniglet|Snippet|Snowburst One|Sofadi One|Sofia|Song Myung|Sonsie One|Sorts Mill Goudy|Source Code Pro|Source Sans Pro|Source Serif Pro|Space Mono|Special Elite|Spectral|Spectral SC|Spicy Rice|Spinnaker|Spirax|Squada One|Sree Krushnadevaraya|Sriracha|Srisakdi|Staatliches|Stalemate|Stalinist One|Stardos Stencil|Stint Ultra Condensed|Stint Ultra Expanded|Stoke|Strait|Stylish|Sue Ellen Francisco|Suez One|Sumana|Sunflower|Sunshiney|Supermercado One|Sura|Suranna|Suravaram|Suwannaphum|Swanky and Moo Moo|Syncopate|Tajawal|Tangerine|Taprom|Tauri|Taviraj|Teko|Telex|Tenali Ramakrishna|Tenor Sans|Text Me One|Thasadith|The Girl Next Door|Tienne|Tillana|Timmana|Tinos|Titan One|Titillium Web|Trade Winds|Trirong|Trocchi|Trochut|Trykker|Tulpen One|Turret Road|Ubuntu|Ubuntu Condensed|Ubuntu Mono|Ultra|Uncial Antiqua|Underdog|Unica One|UnifrakturCook|UnifrakturMaguntia|Unkempt|Unlock|Unna|VT323|Vampiro One|Varela|Varela Round|Vast Shadow|Vesper Libre|Vibes|Vibur|Vidaloka|Viga|Voces|Volkhov|Vollkorn|Vollkorn SC|Voltaire|Waiting for the Sunrise|Wallpoet|Walter Turncoat|Warnes|Wellfleet|Wendy One|Wire One|Work Sans|Yanone Kaffeesatz|Yantramanav|Yatra One|Yellowtail|Yeon Sung|Yeseva One|Yesteryear|Yrsa|ZCOOL KuaiLe|ZCOOL QingKe HuangYou|ZCOOL XiaoWei|Zeyada|Zhi Mang Xing|Zilla Slab|Zilla Slab Highlight))?(,?(normal|italic))?)?|D,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,(?:0|(?:-?\d+:-?\d+)),\d+|(?:a|c|C|d|E|h|H|o|s|v|V|x),[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,(?:-1|(?:-?\d+:-?\d+(?::-?\d+)?)),\d+(?:\.\d+)?(?:[|](?:b|B),[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,\d+,0|(N|N[^\*]*\*(?:[f|p|e]|(?:c[a-z]{3}))?(?:[0-9]+)?(?:[zs]{1,2}?)?(?:[x|y])?\*(?:[^,]*)?),[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,(?:-?\d+(?:(?::-?\d+(?::-?\d+)?)?|(?:\.\d+)))?,\d+((,(\d+)?)?(,(.?(s|c|e):?:?))?(,?(ABeeZee|Abel|Abhaya Libre|Abril Fatface|Aclonica|Acme|Actor|Adamina|Advent Pro|Aguafina Script|Akronim|Aladin|Aldrich|Alef|Alegreya|Alegreya SC|Alegreya Sans|Alegreya Sans SC|Aleo|Alex Brush|Alfa Slab One|Alice|Alike|Alike Angular|Allan|Allerta|Allerta Stencil|Allura|Almarai|Almendra|Almendra Display|Almendra SC|Amarante|Amaranth|Amatic SC|Amethysta|Amiko|Amiri|Amita|Anaheim|Andada|Andika|Angkor|Annie Use Your Telescope|Anonymous Pro|Antic|Antic Didone|Antic Slab|Anton|Arapey|Arbutus|Arbutus Slab|Architects Daughter|Archivo|Archivo Black|Archivo Narrow|Aref Ruqaa|Arima Madurai|Arimo|Arizonia|Armata|Arsenal|Artifika|Arvo|Arya|Asap|Asap Condensed|Asar|Asset|Assistant|Astloch|Asul|Athiti|Atma|Atomic Age|Aubrey|Audiowide|Autour One|Average|Average Sans|Averia Gruesa Libre|Averia Libre|Averia Sans Libre|Averia Serif Libre|B612|B612 Mono|Bad Script|Bahiana|Bahianita|Bai Jamjuree|Baloo|Baloo Bhai|Baloo Bhaijaan|Baloo Bhaina|Baloo Chettan|Baloo Da|Baloo Paaji|Baloo Tamma|Baloo Tammudu|Baloo Thambi|Balthazar|Bangers|Barlow|Barlow Condensed|Barlow Semi Condensed|Barriecito|Barrio|Basic|Battambang|Baumans|Bayon|Be Vietnam|Belgrano|Bellefair|Belleza|BenchNine|Bentham|Berkshire Swash|Beth Ellen|Bevan|Big Shoulders Display|Big Shoulders Text|Bigelow Rules|Bigshot One|Bilbo|Bilbo Swash Caps|BioRhyme|BioRhyme Expanded|Biryani|Bitter|Black And White Picture|Black Han Sans|Black Ops One|Blinker|Bokor|Bonbon|Boogaloo|Bowlby One|Bowlby One SC|Brawler|Bree Serif|Bubblegum Sans|Bubbler One|Buda|Buenard|Bungee|Bungee Hairline|Bungee Inline|Bungee Outline|Bungee Shade|Butcherman|Butterfly Kids|Cabin|Cabin Condensed|Cabin Sketch|Caesar Dressing|Cagliostro|Cairo|Calligraffitti|Cambay|Cambo|Candal|Cantarell|Cantata One|Cantora One|Capriola|Cardo|Carme|Carrois Gothic|Carrois Gothic SC|Carter One|Catamaran|Caudex|Caveat|Caveat Brush|Cedarville Cursive|Ceviche One|Chakra Petch|Changa|Changa One|Chango|Charm|Charmonman|Chathura|Chau Philomene One|Chela One|Chelsea Market|Chenla|Cherry Cream Soda|Cherry Swash|Chewy|Chicle|Chilanka|Chivo|Chonburi|Cinzel|Cinzel Decorative|Clicker Script|Coda|Coda Caption|Codystar|Coiny|Combo|Comfortaa|Coming Soon|Concert One|Condiment|Content|Contrail One|Convergence|Cookie|Copse|Corben|Cormorant|Cormorant Garamond|Cormorant Infant|Cormorant SC|Cormorant Unicase|Cormorant Upright|Courgette|Cousine|Coustard|Covered By Your Grace|Crafty Girls|Creepster|Crete Round|Crimson Pro|Crimson Text|Croissant One|Crushed|Cuprum|Cute Font|Cutive|Cutive Mono|DM Sans|DM Serif Display|DM Serif Text|Damion|Dancing Script|Dangrek|Darker Grotesque|David Libre|Dawning of a New Day|Days One|Dekko|Delius|Delius Swash Caps|Delius Unicase|Della Respira|Denk One|Devonshire|Dhurjati|Didact Gothic|Diplomata|Diplomata SC|Do Hyeon|Dokdo|Domine|Donegal One|Doppio One|Dorsa|Dosis|Dr Sugiyama|Duru Sans|Dynalight|EB Garamond|Eagle Lake|East Sea Dokdo|Eater|Economica|Eczar|El Messiri|Electrolize|Elsie|Elsie Swash Caps|Emblema One|Emilys Candy|Encode Sans|Encode Sans Condensed|Encode Sans Expanded|Encode Sans Semi Condensed|Encode Sans Semi Expanded|Engagement|Englebert|Enriqueta|Erica One|Esteban|Euphoria Script|Ewert|Exo|Exo 2|Expletus Sans|Fahkwang|Fanwood Text|Farro|Farsan|Fascinate|Fascinate Inline|Faster One|Fasthand|Fauna One|Faustina|Federant|Federo|Felipa|Fenix|Finger Paint|Fira Code|Fira Mono|Fira Sans|Fira Sans Condensed|Fira Sans Extra Condensed|Fjalla One|Fjord One|Flamenco|Flavors|Fondamento|Fontdiner Swanky|Forum|Francois One|Frank Ruhl Libre|Freckle Face|Fredericka the Great|Fredoka One|Freehand|Fresca|Frijole|Fruktur|Fugaz One|GFS Didot|GFS Neohellenic|Gabriela|Gaegu|Gafata|Galada|Galdeano|Galindo|Gamja Flower|Gayathri|Gentium Basic|Gentium Book Basic|Geo|Geostar|Geostar Fill|Germania One|Gidugu|Gilda Display|Give You Glory|Glass Antiqua|Glegoo|Gloria Hallelujah|Goblin One|Gochi Hand|Gorditas|Gothic A1|Goudy Bookletter 1911|Graduate|Grand Hotel|Gravitas One|Great Vibes|Grenze|Griffy|Gruppo|Gudea|Gugi|Gurajada|Habibi|Halant|Hammersmith One|Hanalei|Hanalei Fill|Handlee|Hanuman|Happy Monkey|Harmattan|Headland One|Heebo|Henny Penny|Hepta Slab|Herr Von Muellerhoff|Hi Melody|Hind|Hind Guntur|Hind Madurai|Hind Siliguri|Hind Vadodara|Holtwood One SC|Homemade Apple|Homenaje|IBM Plex Mono|IBM Plex Sans|IBM Plex Sans Condensed|IBM Plex Serif|IM Fell DW Pica|IM Fell DW Pica SC|IM Fell Double Pica|IM Fell Double Pica SC|IM Fell English|IM Fell English SC|IM Fell French Canon|IM Fell French Canon SC|IM Fell Great Primer|IM Fell Great Primer SC|Iceberg|Iceland|Imprima|Inconsolata|Inder|Indie Flower|Inika|Inknut Antiqua|Irish Grover|Istok Web|Italiana|Italianno|Itim|Jacques Francois|Jacques Francois Shadow|Jaldi|Jim Nightshade|Jockey One|Jolly Lodger|Jomhuria|Jomolhari|Josefin Sans|Josefin Slab|Joti One|Jua|Judson|Julee|Julius Sans One|Junge|Jura|Just Another Hand|Just Me Again Down Here|K2D|Kadwa|Kalam|Kameron|Kanit|Kantumruy|Karla|Karma|Katibeh|Kaushan Script|Kavivanar|Kavoon|Kdam Thmor|Keania One|Kelly Slab|Kenia|Khand|Khmer|Khula|Kirang Haerang|Kite One|Knewave|KoHo|Kodchasan|Kosugi|Kosugi Maru|Kotta One|Koulen|Kranky|Kreon|Kristi|Krona One|Krub|Kumar One|Kumar One Outline|Kurale|La Belle Aurore|Lacquer|Laila|Lakki Reddy|Lalezar|Lancelot|Lateef|Lato|League Script|Leckerli One|Ledger|Lekton|Lemon|Lemonada|Lexend Deca|Lexend Exa|Lexend Giga|Lexend Mega|Lexend Peta|Lexend Tera|Lexend Zetta|Libre Barcode 128|Libre Barcode 128 Text|Libre Barcode 39|Libre Barcode 39 Extended|Libre Barcode 39 Extended Text|Libre Barcode 39 Text|Libre Baskerville|Libre Caslon Display|Libre Caslon Text|Libre Franklin|Life Savers|Lilita One|Lily Script One|Limelight|Linden Hill|Literata|Liu Jian Mao Cao|Livvic|Lobster|Lobster Two|Londrina Outline|Londrina Shadow|Londrina Sketch|Londrina Solid|Long Cang|Lora|Love Ya Like A Sister|Loved by the King|Lovers Quarrel|Luckiest Guy|Lusitana|Lustria|M PLUS 1p|M PLUS Rounded 1c|Ma Shan Zheng|Macondo|Macondo Swash Caps|Mada|Magra|Maiden Orange|Maitree|Major Mono Display|Mako|Mali|Mallanna|Mandali|Manjari|Mansalva|Manuale|Marcellus|Marcellus SC|Marck Script|Margarine|Markazi Text|Marko One|Marmelad|Martel|Martel Sans|Marvel|Mate|Mate SC|Maven Pro|McLaren|Meddon|MedievalSharp|Medula One|Meera Inimai|Megrim|Meie Script|Merienda|Merienda One|Merriweather|Merriweather Sans|Metal|Metal Mania|Metamorphous|Metrophobic|Michroma|Milonga|Miltonian|Miltonian Tattoo|Mina|Miniver|Miriam Libre|Mirza|Miss Fajardose|Mitr|Modak|Modern Antiqua|Mogra|Molengo|Molle|Monda|Monofett|Monoton|Monsieur La Doulaise|Montaga|Montez|Montserrat|Montserrat Alternates|Montserrat Subrayada|Moul|Moulpali|Mountains of Christmas|Mouse Memoirs|Mr Bedfort|Mr Dafoe|Mr De Haviland|Mrs Saint Delafield|Mrs Sheppards|Mukta|Mukta Mahee|Mukta Malar|Mukta Vaani|Muli|Mystery Quest|NTR|Nanum Brush Script|Nanum Gothic|Nanum Gothic Coding|Nanum Myeongjo|Nanum Pen Script|Neucha|Neuton|New Rocker|News Cycle|Niconne|Niramit|Nixie One|Nobile|Nokora|Norican|Nosifer|Notable|Nothing You Could Do|Noticia Text|Noto Sans|Noto Sans HK|Noto Sans JP|Noto Sans KR|Noto Sans SC|Noto Sans TC|Noto Serif|Noto Serif JP|Noto Serif KR|Noto Serif SC|Noto Serif TC|Nova Cut|Nova Flat|Nova Mono|Nova Oval|Nova Round|Nova Script|Nova Slim|Nova Square|Numans|Nunito|Nunito Sans|Odor Mean Chey|Offside|Old Standard TT|Oldenburg|Oleo Script|Oleo Script Swash Caps|Open Sans|Open Sans Condensed|Oranienbaum|Orbitron|Oregano|Orienta|Original Surfer|Oswald|Over the Rainbow|Overlock|Overlock SC|Overpass|Overpass Mono|Ovo|Oxygen|Oxygen Mono|PT Mono|PT Sans|PT Sans Caption|PT Sans Narrow|PT Serif|PT Serif Caption|Pacifico|Padauk|Palanquin|Palanquin Dark|Pangolin|Paprika|Parisienne|Passero One|Passion One|Pathway Gothic One|Patrick Hand|Patrick Hand SC|Pattaya|Patua One|Pavanam|Paytone One|Peddana|Peralta|Permanent Marker|Petit Formal Script|Petrona|Philosopher|Piedra|Pinyon Script|Pirata One|Plaster|Play|Playball|Playfair Display|Playfair Display SC|Podkova|Poiret One|Poller One|Poly|Pompiere|Pontano Sans|Poor Story|Poppins|Port Lligat Sans|Port Lligat Slab|Pragati Narrow|Prata|Preahvihear|Press Start 2P|Pridi|Princess Sofia|Prociono|Prompt|Prosto One|Proza Libre|Puritan|Purple Purse|Quando|Quantico|Quattrocento|Quattrocento Sans|Questrial|Quicksand|Quintessential|Qwigley|Racing Sans One|Radley|Rajdhani|Rakkas|Raleway|Raleway Dots|Ramabhadra|Ramaraja|Rambla|Rammetto One|Ranchers|Rancho|Ranga|Rasa|Rationale|Ravi Prakash|Red Hat Display|Red Hat Text|Redressed|Reem Kufi|Reenie Beanie|Revalia|Rhodium Libre|Ribeye|Ribeye Marrow|Righteous|Risque|Roboto|Roboto Condensed|Roboto Mono|Roboto Slab|Rochester|Rock Salt|Rokkitt|Romanesco|Ropa Sans|Rosario|Rosarivo|Rouge Script|Rozha One|Rubik|Rubik Mono One|Ruda|Rufina|Ruge Boogie|Ruluko|Rum Raisin|Ruslan Display|Russo One|Ruthie|Rye|Sacramento|Sahitya|Sail|Saira|Saira Condensed|Saira Extra Condensed|Saira Semi Condensed|Saira Stencil One|Salsa|Sanchez|Sancreek|Sansita|Sarabun|Sarala|Sarina|Sarpanch|Satisfy|Sawarabi Gothic|Sawarabi Mincho|Scada|Scheherazade|Schoolbell|Scope One|Seaweed Script|Secular One|Sedgwick Ave|Sedgwick Ave Display|Sevillana|Seymour One|Shadows Into Light|Shadows Into Light Two|Shanti|Share|Share Tech|Share Tech Mono|Shojumaru|Short Stack|Shrikhand|Siemreap|Sigmar One|Signika|Signika Negative|Simonetta|Single Day|Sintony|Sirin Stencil|Six Caps|Skranji|Slabo 13px|Slabo 27px|Slackey|Smokum|Smythe|Sniglet|Snippet|Snowburst One|Sofadi One|Sofia|Song Myung|Sonsie One|Sorts Mill Goudy|Source Code Pro|Source Sans Pro|Source Serif Pro|Space Mono|Special Elite|Spectral|Spectral SC|Spicy Rice|Spinnaker|Spirax|Squada One|Sree Krushnadevaraya|Sriracha|Srisakdi|Staatliches|Stalemate|Stalinist One|Stardos Stencil|Stint Ultra Condensed|Stint Ultra Expanded|Stoke|Strait|Stylish|Sue Ellen Francisco|Suez One|Sumana|Sunflower|Sunshiney|Supermercado One|Sura|Suranna|Suravaram|Suwannaphum|Swanky and Moo Moo|Syncopate|Tajawal|Tangerine|Taprom|Tauri|Taviraj|Teko|Telex|Tenali Ramakrishna|Tenor Sans|Text Me One|Thasadith|The Girl Next Door|Tienne|Tillana|Timmana|Tinos|Titan One|Titillium Web|Trade Winds|Trirong|Trocchi|Trochut|Trykker|Tulpen One|Turret Road|Ubuntu|Ubuntu Condensed|Ubuntu Mono|Ultra|Uncial Antiqua|Underdog|Unica One|UnifrakturCook|UnifrakturMaguntia|Unkempt|Unlock|Unna|VT323|Vampiro One|Varela|Varela Round|Vast Shadow|Vesper Libre|Vibes|Vibur|Vidaloka|Viga|Voces|Volkhov|Vollkorn|Vollkorn SC|Voltaire|Waiting for the Sunrise|Wallpoet|Walter Turncoat|Warnes|Wellfleet|Wendy One|Wire One|Work Sans|Yanone Kaffeesatz|Yantramanav|Yatra One|Yellowtail|Yeon Sung|Yeseva One|Yesteryear|Yrsa|ZCOOL KuaiLe|ZCOOL QingKe HuangYou|ZCOOL XiaoWei|Zeyada|Zhi Mang Xing|Zilla Slab|Zilla Slab Highlight))?(,?(normal|italic))?)?|D,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,(?:0|(?:-?\d+:-?\d+)),\d+|(?:a|c|C|d|E|h|H|o|s|v|V|x),[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,\d+,(?:-1|(?:-?\d+:-?\d+(?::-?\d+)?)),\d+(?:\.\d+)?)*$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples: []
            implementation:
              status: PARTIAL
            link: https://documentation.image-charts.com/reference/compound-charts/
            note: "

              format should be either:

              \  - line fills (fill the area below a data line with a solid color): chm=<b_or_B>,<color>,<start_line_index>,<end_line_index>,<0> |...| <b_or_B>,<color>,<start_line_index>,<end_line_index>,<0>

              \  - line marker (add a line that traces data in your chart): chm=D,<color>,<series_index>,<which_points>,<width>,<opt_z_order>

              \  - Text and Data Value Markers: chm=N<formatting_string>,<color>,<series_index>,<which_points>,<width>,<opt_z_order>,<font_family>,<font_style>

              \    "
        - default: ""
          description: line thickness and solid/dashed style
          in: query
          name: chls
          pattern: ^(((?:[0-9]\.?)+,?){1,3}\|?)+
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - "10"
              - 3,6,3|5
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/line-charts/#line-styles
        - default: ""
          description: bar, pie slice, doughnut slice and polar slice chart labels
          in: query
          name: chl
          pattern: ^(?:[^\|]*\|?)+$
          required: true
          type: string
          x-meta:
            category: COMMON
            examples:
              - label1|label2
              - |-
                multi
                line
                label1|label2
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-label/
            note: If specified it will override "chdl" values
        - default: ""
          description: Position and style of labels on data
          in: query
          name: chlps
          pattern: ^(?:align|anchor|backgroundColor|borderColor|borderRadius|borderWidth|clamp|clip|color|display|font\.size|font\.style|font\.weight|font\.lineHeight|offset|opacity|padding|padding\.top|padding\.right|padding\.bottom|padding\.left|rotation|textAlign|textStrokeColor|textStrokeWidth|textShadowBlur|textShadowColor),(?:[0-9a-zA-Z.]+)(?:\|(?:align|anchor|backgroundColor|borderColor|borderRadius|borderWidth|clamp|clip|color|display|font\.size|font\.style|font\.weight|font\.lineHeight|offset|opacity|padding|padding\.top|padding\.right|padding\.bottom|padding\.left|rotation|textAlign|textStrokeColor|textStrokeWidth|textShadowBlur|textShadowColor),(?:[0-9a-zA-Z.]+)){0,10}$
          type: string
          x-meta:
            category: COMMON
            examples:
              - align,top|offset,10|color,FF00FF
              - align,top|offset,10|color,FF00FF
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-label/#positionning-and-formatting
            note: ""
        - description: chart margins
          in: query
          name: chma
          pattern: ^(([-0-9\.]+),?)+\|?([-0-9\.],?)+$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 30,30,30,30
              - 40,20
            implementation:
              status: PARTIAL
            link: https://documentation.image-charts.com/reference/chart-margin/
        - default: r
          description: Position of the legend and order of the legend entries
          in: query
          name: chdlp
          pattern: ^(?:tv{0,1}|bv{0,1}|r|l)(\|(?:l|r|a|[0-9][0-9,]*))?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples: []
            implementation:
              status: PARTIAL
            link: https://documentation.image-charts.com/reference/legend-text-and-style/
        - default: bg,s,FFFFFF
          description: Background Fills
          in: query
          name: chf
          pattern: ^(?:(?:b(?:[0-9]+|g)|a|c),s,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?|(?:bg,img,(?:(?:(?:[a-z]+:)?\/\/)?|www\.)(?:localhost|(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?:(?:[a-fA-F\d]{1,4}:){7}(?:[a-fA-F\d]{1,4}|:)|(?:[a-fA-F\d]{1,4}:){6}(?:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|:[a-fA-F\d]{1,4}|:)|(?:[a-fA-F\d]{1,4}:){5}(?::(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,2}|:)|(?:[a-fA-F\d]{1,4}:){4}(?:(?::[a-fA-F\d]{1,4}){0,1}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,3}|:)|(?:[a-fA-F\d]{1,4}:){3}(?:(?::[a-fA-F\d]{1,4}){0,2}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,4}|:)|(?:[a-fA-F\d]{1,4}:){2}(?:(?::[a-fA-F\d]{1,4}){0,3}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,5}|:)|(?:[a-fA-F\d]{1,4}:){1}(?:(?::[a-fA-F\d]{1,4}){0,4}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,6}|:)|(?::(?:(?::[a-fA-F\d]{1,4}){0,5}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,7}|:)))(?:%[0-9a-zA-Z]{1,})?|(?:(?:[a-z\u00a1-\uffff0-9][-_]*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:northwesternmutual|travelersinsurance|vermögensberatung|vermögensberater|americanexpress|kerryproperties|sandvikcoromant|afamilycompany|americanfamily|bananarepublic|cancerresearch|cookingchannel|kerrylogistics|weatherchannel|international|lifeinsurance|travelchannel|wolterskluwer|construction|lplfinancial|scholarships|versicherung|accountants|barclaycard|blackfriday|blockbuster|bridgestone|calvinklein|contractors|creditunion|engineering|enterprises|foodnetwork|investments|kerryhotels|lamborghini|motorcycles|olayangroup|photography|playstation|productions|progressive|redumbrella|williamhill|சிங்கப்பூர்|accountant|apartments|associates|basketball|bnpparibas|boehringer|capitalone|consulting|creditcard|cuisinella|eurovision|extraspace|foundation|healthcare|immobilien|industries|management|mitsubishi|nextdirect|properties|protection|prudential|realestate|republican|restaurant|schaeffler|tatamotors|technology|university|vlaanderen|volkswagen|accenture|alfaromeo|allfinanz|amsterdam|analytics|aquarelle|barcelona|bloomberg|christmas|community|directory|education|equipment|fairwinds|financial|firestone|fresenius|frontdoor|furniture|goldpoint|hisamitsu|homedepot|homegoods|homesense|institute|insurance|kuokgroup|lancaster|landrover|lifestyle|marketing|marshalls|melbourne|microsoft|panasonic|passagens|pramerica|richardli|scjohnson|shangrila|solutions|statebank|statefarm|stockholm|travelers|vacations|yodobashi|موريتانيا|abudhabi|airforce|allstate|attorney|barclays|barefoot|bargains|baseball|boutique|bradesco|broadway|brussels|budapest|builders|business|capetown|catering|catholic|cipriani|cityeats|cleaning|clinique|clothing|commbank|computer|delivery|deloitte|democrat|diamonds|discount|discover|download|engineer|ericsson|etisalat|exchange|feedback|fidelity|firmdale|football|frontier|goodyear|grainger|graphics|guardian|hdfcbank|helsinki|holdings|hospital|infiniti|ipiranga|istanbul|jpmorgan|lighting|lundbeck|marriott|maserati|mckinsey|memorial|merckmsd|mortgage|observer|partners|pharmacy|pictures|plumbing|property|redstone|reliance|saarland|samsclub|security|services|shopping|showtime|softbank|software|stcgroup|supplies|training|vanguard|ventures|verisign|woodside|yokohama|السعودية|abogado|academy|agakhan|alibaba|android|athleta|auction|audible|auspost|avianca|banamex|bauhaus|bentley|bestbuy|booking|brother|bugatti|capital|caravan|careers|channel|charity|chintai|citadel|clubmed|college|cologne|comcast|company|compare|contact|cooking|corsica|country|coupons|courses|cricket|cruises|dentist|digital|domains|exposed|express|farmers|fashion|ferrari|ferrero|finance|fishing|fitness|flights|florist|flowers|forsale|frogans|fujitsu|gallery|genting|godaddy|grocery|guitars|hamburg|hangout|hitachi|holiday|hosting|hoteles|hotmail|hyundai|ismaili|jewelry|juniper|kitchen|komatsu|lacaixa|lanxess|lasalle|latrobe|leclerc|limited|lincoln|markets|monster|netbank|netflix|network|neustar|okinawa|oldnavy|organic|origins|philips|pioneer|politie|realtor|recipes|rentals|reviews|rexroth|samsung|sandvik|schmidt|schwarz|science|shiksha|singles|staples|storage|support|surgery|systems|temasek|theater|theatre|tickets|tiffany|toshiba|trading|walmart|wanggou|watches|weather|website|wedding|whoswho|windows|winners|xfinity|yamaxun|youtube|zuerich|католик|اتصالات|البحرين|الجزائر|العليان|كاثوليك|پاکستان|இந்தியா|abarth|abbott|abbvie|africa|agency|airbus|airtel|alipay|alsace|alstom|amazon|anquan|aramco|author|bayern|beauty|berlin|bharti|bostik|boston|broker|camera|career|casino|center|chanel|chrome|church|circle|claims|clinic|coffee|comsec|condos|coupon|credit|cruise|dating|datsun|dealer|degree|dental|design|direct|doctor|dunlop|dupont|durban|emerck|energy|estate|events|expert|family|flickr|futbol|gallup|garden|george|giving|global|google|gratis|health|hermes|hiphop|hockey|hotels|hughes|imamat|insure|intuit|jaguar|joburg|juegos|kaufen|kinder|kindle|kosher|lancia|latino|lawyer|lefrak|living|locker|london|luxury|madrid|maison|makeup|market|mattel|mobile|monash|mormon|moscow|museum|mutual|nagoya|natura|nissan|nissay|norton|nowruz|office|olayan|online|oracle|orange|otsuka|pfizer|photos|physio|pictet|quebec|racing|realty|reisen|repair|report|review|rocher|rogers|ryukyu|safety|sakura|sanofi|school|schule|search|secure|select|shouji|soccer|social|stream|studio|supply|suzuki|swatch|sydney|taipei|taobao|target|tattoo|tennis|tienda|tjmaxx|tkmaxx|toyota|travel|unicom|viajes|viking|villas|virgin|vision|voting|voyage|vuelos|walter|webcam|xihuan|yachts|yandex|zappos|москва|онлайн|ابوظبي|ارامكو|الاردن|المغرب|امارات|فلسطين|مليسيا|भारतम्|இலங்கை|ファッション|actor|adult|aetna|amfam|amica|apple|archi|audio|autos|azure|baidu|beats|bible|bingo|black|boats|bosch|build|canon|cards|chase|cheap|cisco|citic|click|cloud|coach|codes|crown|cymru|dabur|dance|deals|delta|drive|dubai|earth|edeka|email|epson|faith|fedex|final|forex|forum|gallo|games|gifts|gives|glade|glass|globo|gmail|green|gripe|group|gucci|guide|homes|honda|horse|house|hyatt|ikano|irish|jetzt|koeln|kyoto|lamer|lease|legal|lexus|lilly|linde|lipsy|lixil|loans|locus|lotte|lotto|macys|mango|media|miami|money|movie|music|nexus|nikon|ninja|nokia|nowtv|omega|osaka|paris|parts|party|phone|photo|pizza|place|poker|praxi|press|prime|promo|quest|radio|rehab|reise|ricoh|rocks|rodeo|rugby|salon|sener|seven|sharp|shell|shoes|skype|sling|smart|smile|solar|space|sport|stada|store|study|style|sucks|swiss|tatar|tires|tirol|tmall|today|tokyo|tools|toray|total|tours|trade|trust|tunes|tushu|ubank|vegas|video|vodka|volvo|wales|watch|weber|weibo|works|world|xerox|yahoo|ישראל|ایران|بازار|بھارت|سودان|سورية|همراه|भारोत|संगठन|বাংলা|భారత్|ഭാരതം|嘉里大酒店|aarp|able|adac|aero|akdn|ally|amex|arab|army|arpa|arte|asda|asia|audi|auto|baby|band|bank|bbva|beer|best|bike|bing|blog|blue|bofa|bond|book|buzz|cafe|call|camp|care|cars|casa|case|cash|cbre|cern|chat|citi|city|club|cool|coop|cyou|data|date|dclk|deal|dell|desi|diet|dish|docs|duck|dvag|erni|fage|fail|fans|farm|fast|fiat|fido|film|fire|fish|flir|food|ford|free|fund|game|gbiz|gent|ggee|gift|gmbh|gold|golf|goog|guge|guru|hair|haus|hdfc|help|here|hgtv|host|hsbc|icbc|ieee|imdb|immo|info|itau|java|jeep|jobs|jprs|kddi|kiwi|kpmg|kred|land|lego|lgbt|lidl|life|like|limo|link|live|loan|loft|love|ltda|luxe|maif|meet|meme|menu|mini|mint|mobi|moda|moto|name|navy|news|next|nico|nike|ollo|open|page|pars|pccw|pics|ping|pink|play|plus|pohl|porn|post|prod|prof|qpon|raid|read|reit|rent|rest|rich|room|rsvp|ruhr|safe|sale|sarl|save|saxo|scot|seat|seek|sexy|shaw|shia|shop|show|silk|sina|site|skin|sncf|sohu|song|sony|spot|star|surf|talk|taxi|team|tech|teva|tiaa|tips|town|toys|tube|vana|visa|viva|vivo|vote|voto|wang|weir|wien|wiki|wine|work|xbox|yoga|zara|zero|zone|дети|сайт|بارت|بيتك|تونس|شبكة|عراق|عمان|موقع|ڀارت|भारत|ভারত|ভাৰত|ਭਾਰਤ|ભારત|ଭାରତ|ಭಾರತ|ලංකා|アマゾン|クラウド|グーグル|ポイント|组织机构|電訊盈科|香格里拉|aaa|abb|abc|aco|ads|aeg|afl|aig|anz|aol|app|art|aws|axa|bar|bbc|bbt|bcg|bcn|bet|bid|bio|biz|bms|bmw|bom|boo|bot|box|buy|bzh|cab|cal|cam|car|cat|cba|cbn|cbs|ceo|cfa|cfd|com|cpa|crs|csc|dad|day|dds|dev|dhl|diy|dnp|dog|dot|dtv|dvr|eat|eco|edu|esq|eus|fan|fit|fly|foo|fox|frl|ftr|fun|fyi|gal|gap|gay|gdn|gea|gle|gmo|gmx|goo|gop|got|gov|hbo|hiv|hkt|hot|how|ibm|ice|icu|ifm|inc|ing|ink|int|ist|itv|jcb|jio|jll|jmp|jnj|jot|joy|kfh|kia|kim|kpn|krd|lat|law|lds|llc|llp|lol|lpl|ltd|man|map|mba|med|men|mil|mit|mlb|mls|mma|moe|moi|mom|mov|msd|mtn|mtr|nab|nba|nec|net|new|nfl|ngo|nhk|now|nra|nrw|ntt|nyc|obi|off|one|ong|onl|ooo|org|ott|ovh|pay|pet|phd|pid|pin|pnc|pro|pru|pub|pwc|red|ren|ril|rio|rip|run|rwe|sap|sas|sbi|sbs|sca|scb|ses|sew|sex|sfr|ski|sky|soy|spa|srl|stc|tab|tax|tci|tdk|tel|thd|tjx|top|trv|tui|tvs|ubs|uno|uol|ups|vet|vig|vin|vip|wed|win|wme|wow|wtc|wtf|xin|xxx|xyz|you|yun|zip|бел|ком|мкд|мон|орг|рус|срб|укр|қаз|հայ|קום|عرب|قطر|كوم|مصر|कॉम|नेट|คอม|ไทย|ລາວ|みんな|ストア|セール|中文网|亚马逊|天主教|我爱你|新加坡|淡马锡|诺基亚|飞利浦|ac|ad|ae|af|ag|ai|al|am|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cu|cv|cw|cx|cy|cz|de|dj|dk|dm|do|dz|ec|ee|eg|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|sk|sl|sm|sn|so|sr|ss|st|su|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tr|tt|tv|tw|tz|ua|ug|uk|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|za|zm|zw|ελ|ευ|бг|ею|рф|გე|コム|世界|中信|中国|中國|企业|佛山|信息|健康|八卦|公司|公益|台湾|台灣|商城|商店|商标|嘉里|在线|大拿|娱乐|家電|广东|微博|慈善|手机|招聘|政务|政府|新闻|时尚|書籍|机构|游戏|澳門|点看|移动|网址|网店|网站|网络|联通|谷歌|购物|通販|集团|食品|餐厅|香港|닷넷|닷컴|삼성|한국)))(?::\d{2,5})?(?:[\/?#][^\s"\)']*)?)|(?:(?:(?:b(?:[0-9]+|g)|c)|ps[0-9]+-[0-9]+),lg,[0-9]{1,2}(?:,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,[0-9.]+){1,})|(?:(?:b(?:[0-9]+|g)|c),ls,[0-9]{1,2}(?:,[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?,[0-9.]+){1,})|\|?)+$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - b0,lg,0,f44336,0.3,03a9f4,0.8
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/background-fill/
        - default: 10
          description: Bar Width and Spacing. (not supported)  You can optionally specify custom values for bar widths and spacing between bars and groups. You can only specify one set of width values for all bars. If you don't specify chbh, all bars will be 23 pixels wide, which means that the end bars can be clipped if the total bar + space width is wider than the chart width.
          in: query
          name: chbh
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 15,4,15
            implementation:
              status: UPCOMING
            link: ""
        - default: 0
          description: Bar corner radius. Display bars with rounded corner.
          in: query
          name: chbr
          pattern: ^[0-9]{1,3}$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - "5"
              - "10"
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/bar-charts/#rounded-bar
        - description: gif configuration
          in: query
          name: chan
          pattern: ^[0-9]{2,4}(?:,(?:easeInQuad|easeOutQuad|easeInOutQuad|easeInCubic|easeOutCubic|easeInOutCubic|easeInQuart|easeOutQuart|easeInOutQuart|easeInQuint|easeOutQuint|easeInOutQuint|easeInSine|easeOutSine|easeInOutSine|easeInExpo|easeOutExpo|easeInOutExpo|easeInCirc|easeOutCirc|easeInOutCirc|easeInElastic|easeOutElastic|easeInOutElastic|easeInBack|easeOutBack|easeInOutBack|easeInBounce|easeOutBounce|easeInOutBounce))?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - "1200"
              - 1300|easeInOutSine
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/animation/
        - description: doughnut chart inside label
          in: query
          name: chli
          pattern: ^(?:.*)$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - 95K€
              - 45%
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/pie-charts/#inside-label
        - description: image-charts enterprise `account_id`
          in: query
          name: icac
          required: false
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - accountId
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/enterprise/
        - description: HMAC-SHA256 signature required to activate paid features
          in: query
          name: ichm
          required: false
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - 0785cf22a0381c2e0239e27c126de4181f501d117c2c81745611e9db928b0376
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/enterprise/
        - description: Default font family for all text from Google Fonts. Use same syntax as Google Font CSS API
          enum:
            - ABeeZee
            - Abel
            - Abhaya Libre
            - Abril Fatface
            - Aclonica
            - Acme
            - Actor
            - Adamina
            - Advent Pro
            - Aguafina Script
            - Akronim
            - Aladin
            - Aldrich
            - Alef
            - Alegreya
            - Alegreya SC
            - Alegreya Sans
            - Alegreya Sans SC
            - Aleo
            - Alex Brush
            - Alfa Slab One
            - Alice
            - Alike
            - Alike Angular
            - Allan
            - Allerta
            - Allerta Stencil
            - Allura
            - Almarai
            - Almendra
            - Almendra Display
            - Almendra SC
            - Amarante
            - Amaranth
            - Amatic SC
            - Amethysta
            - Amiko
            - Amiri
            - Amita
            - Anaheim
            - Andada
            - Andika
            - Angkor
            - Annie Use Your Telescope
            - Anonymous Pro
            - Antic
            - Antic Didone
            - Antic Slab
            - Anton
            - Arapey
            - Arbutus
            - Arbutus Slab
            - Architects Daughter
            - Archivo
            - Archivo Black
            - Archivo Narrow
            - Aref Ruqaa
            - Arima Madurai
            - Arimo
            - Arizonia
            - Armata
            - Arsenal
            - Artifika
            - Arvo
            - Arya
            - Asap
            - Asap Condensed
            - Asar
            - Asset
            - Assistant
            - Astloch
            - Asul
            - Athiti
            - Atma
            - Atomic Age
            - Aubrey
            - Audiowide
            - Autour One
            - Average
            - Average Sans
            - Averia Gruesa Libre
            - Averia Libre
            - Averia Sans Libre
            - Averia Serif Libre
            - B612
            - B612 Mono
            - Bad Script
            - Bahiana
            - Bahianita
            - Bai Jamjuree
            - Baloo
            - Baloo Bhai
            - Baloo Bhaijaan
            - Baloo Bhaina
            - Baloo Chettan
            - Baloo Da
            - Baloo Paaji
            - Baloo Tamma
            - Baloo Tammudu
            - Baloo Thambi
            - Balthazar
            - Bangers
            - Barlow
            - Barlow Condensed
            - Barlow Semi Condensed
            - Barriecito
            - Barrio
            - Basic
            - Battambang
            - Baumans
            - Bayon
            - Be Vietnam
            - Belgrano
            - Bellefair
            - Belleza
            - BenchNine
            - Bentham
            - Berkshire Swash
            - Beth Ellen
            - Bevan
            - Big Shoulders Display
            - Big Shoulders Text
            - Bigelow Rules
            - Bigshot One
            - Bilbo
            - Bilbo Swash Caps
            - BioRhyme
            - BioRhyme Expanded
            - Biryani
            - Bitter
            - Black And White Picture
            - Black Han Sans
            - Black Ops One
            - Blinker
            - Bokor
            - Bonbon
            - Boogaloo
            - Bowlby One
            - Bowlby One SC
            - Brawler
            - Bree Serif
            - Bubblegum Sans
            - Bubbler One
            - Buda
            - Buenard
            - Bungee
            - Bungee Hairline
            - Bungee Inline
            - Bungee Outline
            - Bungee Shade
            - Butcherman
            - Butterfly Kids
            - Cabin
            - Cabin Condensed
            - Cabin Sketch
            - Caesar Dressing
            - Cagliostro
            - Cairo
            - Calligraffitti
            - Cambay
            - Cambo
            - Candal
            - Cantarell
            - Cantata One
            - Cantora One
            - Capriola
            - Cardo
            - Carme
            - Carrois Gothic
            - Carrois Gothic SC
            - Carter One
            - Catamaran
            - Caudex
            - Caveat
            - Caveat Brush
            - Cedarville Cursive
            - Ceviche One
            - Chakra Petch
            - Changa
            - Changa One
            - Chango
            - Charm
            - Charmonman
            - Chathura
            - Chau Philomene One
            - Chela One
            - Chelsea Market
            - Chenla
            - Cherry Cream Soda
            - Cherry Swash
            - Chewy
            - Chicle
            - Chilanka
            - Chivo
            - Chonburi
            - Cinzel
            - Cinzel Decorative
            - Clicker Script
            - Coda
            - Coda Caption
            - Codystar
            - Coiny
            - Combo
            - Comfortaa
            - Coming Soon
            - Concert One
            - Condiment
            - Content
            - Contrail One
            - Convergence
            - Cookie
            - Copse
            - Corben
            - Cormorant
            - Cormorant Garamond
            - Cormorant Infant
            - Cormorant SC
            - Cormorant Unicase
            - Cormorant Upright
            - Courgette
            - Cousine
            - Coustard
            - Covered By Your Grace
            - Crafty Girls
            - Creepster
            - Crete Round
            - Crimson Pro
            - Crimson Text
            - Croissant One
            - Crushed
            - Cuprum
            - Cute Font
            - Cutive
            - Cutive Mono
            - DM Sans
            - DM Serif Display
            - DM Serif Text
            - Damion
            - Dancing Script
            - Dangrek
            - Darker Grotesque
            - David Libre
            - Dawning of a New Day
            - Days One
            - Dekko
            - Delius
            - Delius Swash Caps
            - Delius Unicase
            - Della Respira
            - Denk One
            - Devonshire
            - Dhurjati
            - Didact Gothic
            - Diplomata
            - Diplomata SC
            - Do Hyeon
            - Dokdo
            - Domine
            - Donegal One
            - Doppio One
            - Dorsa
            - Dosis
            - Dr Sugiyama
            - Duru Sans
            - Dynalight
            - EB Garamond
            - Eagle Lake
            - East Sea Dokdo
            - Eater
            - Economica
            - Eczar
            - El Messiri
            - Electrolize
            - Elsie
            - Elsie Swash Caps
            - Emblema One
            - Emilys Candy
            - Encode Sans
            - Encode Sans Condensed
            - Encode Sans Expanded
            - Encode Sans Semi Condensed
            - Encode Sans Semi Expanded
            - Engagement
            - Englebert
            - Enriqueta
            - Erica One
            - Esteban
            - Euphoria Script
            - Ewert
            - Exo
            - Exo 2
            - Expletus Sans
            - Fahkwang
            - Fanwood Text
            - Farro
            - Farsan
            - Fascinate
            - Fascinate Inline
            - Faster One
            - Fasthand
            - Fauna One
            - Faustina
            - Federant
            - Federo
            - Felipa
            - Fenix
            - Finger Paint
            - Fira Code
            - Fira Mono
            - Fira Sans
            - Fira Sans Condensed
            - Fira Sans Extra Condensed
            - Fjalla One
            - Fjord One
            - Flamenco
            - Flavors
            - Fondamento
            - Fontdiner Swanky
            - Forum
            - Francois One
            - Frank Ruhl Libre
            - Freckle Face
            - Fredericka the Great
            - Fredoka One
            - Freehand
            - Fresca
            - Frijole
            - Fruktur
            - Fugaz One
            - GFS Didot
            - GFS Neohellenic
            - Gabriela
            - Gaegu
            - Gafata
            - Galada
            - Galdeano
            - Galindo
            - Gamja Flower
            - Gayathri
            - Gentium Basic
            - Gentium Book Basic
            - Geo
            - Geostar
            - Geostar Fill
            - Germania One
            - Gidugu
            - Gilda Display
            - Give You Glory
            - Glass Antiqua
            - Glegoo
            - Gloria Hallelujah
            - Goblin One
            - Gochi Hand
            - Gorditas
            - Gothic A1
            - Goudy Bookletter 1911
            - Graduate
            - Grand Hotel
            - Gravitas One
            - Great Vibes
            - Grenze
            - Griffy
            - Gruppo
            - Gudea
            - Gugi
            - Gurajada
            - Habibi
            - Halant
            - Hammersmith One
            - Hanalei
            - Hanalei Fill
            - Handlee
            - Hanuman
            - Happy Monkey
            - Harmattan
            - Headland One
            - Heebo
            - Henny Penny
            - Hepta Slab
            - Herr Von Muellerhoff
            - Hi Melody
            - Hind
            - Hind Guntur
            - Hind Madurai
            - Hind Siliguri
            - Hind Vadodara
            - Holtwood One SC
            - Homemade Apple
            - Homenaje
            - IBM Plex Mono
            - IBM Plex Sans
            - IBM Plex Sans Condensed
            - IBM Plex Serif
            - IM Fell DW Pica
            - IM Fell DW Pica SC
            - IM Fell Double Pica
            - IM Fell Double Pica SC
            - IM Fell English
            - IM Fell English SC
            - IM Fell French Canon
            - IM Fell French Canon SC
            - IM Fell Great Primer
            - IM Fell Great Primer SC
            - Iceberg
            - Iceland
            - Imprima
            - Inconsolata
            - Inder
            - Indie Flower
            - Inika
            - Inknut Antiqua
            - Irish Grover
            - Istok Web
            - Italiana
            - Italianno
            - Itim
            - Jacques Francois
            - Jacques Francois Shadow
            - Jaldi
            - Jim Nightshade
            - Jockey One
            - Jolly Lodger
            - Jomhuria
            - Jomolhari
            - Josefin Sans
            - Josefin Slab
            - Joti One
            - Jua
            - Judson
            - Julee
            - Julius Sans One
            - Junge
            - Jura
            - Just Another Hand
            - Just Me Again Down Here
            - K2D
            - Kadwa
            - Kalam
            - Kameron
            - Kanit
            - Kantumruy
            - Karla
            - Karma
            - Katibeh
            - Kaushan Script
            - Kavivanar
            - Kavoon
            - Kdam Thmor
            - Keania One
            - Kelly Slab
            - Kenia
            - Khand
            - Khmer
            - Khula
            - Kirang Haerang
            - Kite One
            - Knewave
            - KoHo
            - Kodchasan
            - Kosugi
            - Kosugi Maru
            - Kotta One
            - Koulen
            - Kranky
            - Kreon
            - Kristi
            - Krona One
            - Krub
            - Kumar One
            - Kumar One Outline
            - Kurale
            - La Belle Aurore
            - Lacquer
            - Laila
            - Lakki Reddy
            - Lalezar
            - Lancelot
            - Lateef
            - Lato
            - League Script
            - Leckerli One
            - Ledger
            - Lekton
            - Lemon
            - Lemonada
            - Lexend Deca
            - Lexend Exa
            - Lexend Giga
            - Lexend Mega
            - Lexend Peta
            - Lexend Tera
            - Lexend Zetta
            - Libre Barcode 128
            - Libre Barcode 128 Text
            - Libre Barcode 39
            - Libre Barcode 39 Extended
            - Libre Barcode 39 Extended Text
            - Libre Barcode 39 Text
            - Libre Baskerville
            - Libre Caslon Display
            - Libre Caslon Text
            - Libre Franklin
            - Life Savers
            - Lilita One
            - Lily Script One
            - Limelight
            - Linden Hill
            - Literata
            - Liu Jian Mao Cao
            - Livvic
            - Lobster
            - Lobster Two
            - Londrina Outline
            - Londrina Shadow
            - Londrina Sketch
            - Londrina Solid
            - Long Cang
            - Lora
            - Love Ya Like A Sister
            - Loved by the King
            - Lovers Quarrel
            - Luckiest Guy
            - Lusitana
            - Lustria
            - M PLUS 1p
            - M PLUS Rounded 1c
            - Ma Shan Zheng
            - Macondo
            - Macondo Swash Caps
            - Mada
            - Magra
            - Maiden Orange
            - Maitree
            - Major Mono Display
            - Mako
            - Mali
            - Mallanna
            - Mandali
            - Manjari
            - Mansalva
            - Manuale
            - Marcellus
            - Marcellus SC
            - Marck Script
            - Margarine
            - Markazi Text
            - Marko One
            - Marmelad
            - Martel
            - Martel Sans
            - Marvel
            - Mate
            - Mate SC
            - Maven Pro
            - McLaren
            - Meddon
            - MedievalSharp
            - Medula One
            - Meera Inimai
            - Megrim
            - Meie Script
            - Merienda
            - Merienda One
            - Merriweather
            - Merriweather Sans
            - Metal
            - Metal Mania
            - Metamorphous
            - Metrophobic
            - Michroma
            - Milonga
            - Miltonian
            - Miltonian Tattoo
            - Mina
            - Miniver
            - Miriam Libre
            - Mirza
            - Miss Fajardose
            - Mitr
            - Modak
            - Modern Antiqua
            - Mogra
            - Molengo
            - Molle
            - Monda
            - Monofett
            - Monoton
            - Monsieur La Doulaise
            - Montaga
            - Montez
            - Montserrat
            - Montserrat Alternates
            - Montserrat Subrayada
            - Moul
            - Moulpali
            - Mountains of Christmas
            - Mouse Memoirs
            - Mr Bedfort
            - Mr Dafoe
            - Mr De Haviland
            - Mrs Saint Delafield
            - Mrs Sheppards
            - Mukta
            - Mukta Mahee
            - Mukta Malar
            - Mukta Vaani
            - Muli
            - Mystery Quest
            - NTR
            - Nanum Brush Script
            - Nanum Gothic
            - Nanum Gothic Coding
            - Nanum Myeongjo
            - Nanum Pen Script
            - Neucha
            - Neuton
            - New Rocker
            - News Cycle
            - Niconne
            - Niramit
            - Nixie One
            - Nobile
            - Nokora
            - Norican
            - Nosifer
            - Notable
            - Nothing You Could Do
            - Noticia Text
            - Noto Sans
            - Noto Sans HK
            - Noto Sans JP
            - Noto Sans KR
            - Noto Sans SC
            - Noto Sans TC
            - Noto Serif
            - Noto Serif JP
            - Noto Serif KR
            - Noto Serif SC
            - Noto Serif TC
            - Nova Cut
            - Nova Flat
            - Nova Mono
            - Nova Oval
            - Nova Round
            - Nova Script
            - Nova Slim
            - Nova Square
            - Numans
            - Nunito
            - Nunito Sans
            - Odor Mean Chey
            - Offside
            - Old Standard TT
            - Oldenburg
            - Oleo Script
            - Oleo Script Swash Caps
            - Open Sans
            - Open Sans Condensed
            - Oranienbaum
            - Orbitron
            - Oregano
            - Orienta
            - Original Surfer
            - Oswald
            - Over the Rainbow
            - Overlock
            - Overlock SC
            - Overpass
            - Overpass Mono
            - Ovo
            - Oxygen
            - Oxygen Mono
            - PT Mono
            - PT Sans
            - PT Sans Caption
            - PT Sans Narrow
            - PT Serif
            - PT Serif Caption
            - Pacifico
            - Padauk
            - Palanquin
            - Palanquin Dark
            - Pangolin
            - Paprika
            - Parisienne
            - Passero One
            - Passion One
            - Pathway Gothic One
            - Patrick Hand
            - Patrick Hand SC
            - Pattaya
            - Patua One
            - Pavanam
            - Paytone One
            - Peddana
            - Peralta
            - Permanent Marker
            - Petit Formal Script
            - Petrona
            - Philosopher
            - Piedra
            - Pinyon Script
            - Pirata One
            - Plaster
            - Play
            - Playball
            - Playfair Display
            - Playfair Display SC
            - Podkova
            - Poiret One
            - Poller One
            - Poly
            - Pompiere
            - Pontano Sans
            - Poor Story
            - Poppins
            - Port Lligat Sans
            - Port Lligat Slab
            - Pragati Narrow
            - Prata
            - Preahvihear
            - Press Start 2P
            - Pridi
            - Princess Sofia
            - Prociono
            - Prompt
            - Prosto One
            - Proza Libre
            - Puritan
            - Purple Purse
            - Quando
            - Quantico
            - Quattrocento
            - Quattrocento Sans
            - Questrial
            - Quicksand
            - Quintessential
            - Qwigley
            - Racing Sans One
            - Radley
            - Rajdhani
            - Rakkas
            - Raleway
            - Raleway Dots
            - Ramabhadra
            - Ramaraja
            - Rambla
            - Rammetto One
            - Ranchers
            - Rancho
            - Ranga
            - Rasa
            - Rationale
            - Ravi Prakash
            - Red Hat Display
            - Red Hat Text
            - Redressed
            - Reem Kufi
            - Reenie Beanie
            - Revalia
            - Rhodium Libre
            - Ribeye
            - Ribeye Marrow
            - Righteous
            - Risque
            - Roboto
            - Roboto Condensed
            - Roboto Mono
            - Roboto Slab
            - Rochester
            - Rock Salt
            - Rokkitt
            - Romanesco
            - Ropa Sans
            - Rosario
            - Rosarivo
            - Rouge Script
            - Rozha One
            - Rubik
            - Rubik Mono One
            - Ruda
            - Rufina
            - Ruge Boogie
            - Ruluko
            - Rum Raisin
            - Ruslan Display
            - Russo One
            - Ruthie
            - Rye
            - Sacramento
            - Sahitya
            - Sail
            - Saira
            - Saira Condensed
            - Saira Extra Condensed
            - Saira Semi Condensed
            - Saira Stencil One
            - Salsa
            - Sanchez
            - Sancreek
            - Sansita
            - Sarabun
            - Sarala
            - Sarina
            - Sarpanch
            - Satisfy
            - Sawarabi Gothic
            - Sawarabi Mincho
            - Scada
            - Scheherazade
            - Schoolbell
            - Scope One
            - Seaweed Script
            - Secular One
            - Sedgwick Ave
            - Sedgwick Ave Display
            - Sevillana
            - Seymour One
            - Shadows Into Light
            - Shadows Into Light Two
            - Shanti
            - Share
            - Share Tech
            - Share Tech Mono
            - Shojumaru
            - Short Stack
            - Shrikhand
            - Siemreap
            - Sigmar One
            - Signika
            - Signika Negative
            - Simonetta
            - Single Day
            - Sintony
            - Sirin Stencil
            - Six Caps
            - Skranji
            - Slabo 13px
            - Slabo 27px
            - Slackey
            - Smokum
            - Smythe
            - Sniglet
            - Snippet
            - Snowburst One
            - Sofadi One
            - Sofia
            - Song Myung
            - Sonsie One
            - Sorts Mill Goudy
            - Source Code Pro
            - Source Sans Pro
            - Source Serif Pro
            - Space Mono
            - Special Elite
            - Spectral
            - Spectral SC
            - Spicy Rice
            - Spinnaker
            - Spirax
            - Squada One
            - Sree Krushnadevaraya
            - Sriracha
            - Srisakdi
            - Staatliches
            - Stalemate
            - Stalinist One
            - Stardos Stencil
            - Stint Ultra Condensed
            - Stint Ultra Expanded
            - Stoke
            - Strait
            - Stylish
            - Sue Ellen Francisco
            - Suez One
            - Sumana
            - Sunflower
            - Sunshiney
            - Supermercado One
            - Sura
            - Suranna
            - Suravaram
            - Suwannaphum
            - Swanky and Moo Moo
            - Syncopate
            - Tajawal
            - Tangerine
            - Taprom
            - Tauri
            - Taviraj
            - Teko
            - Telex
            - Tenali Ramakrishna
            - Tenor Sans
            - Text Me One
            - Thasadith
            - The Girl Next Door
            - Tienne
            - Tillana
            - Timmana
            - Tinos
            - Titan One
            - Titillium Web
            - Trade Winds
            - Trirong
            - Trocchi
            - Trochut
            - Trykker
            - Tulpen One
            - Turret Road
            - Ubuntu
            - Ubuntu Condensed
            - Ubuntu Mono
            - Ultra
            - Uncial Antiqua
            - Underdog
            - Unica One
            - UnifrakturCook
            - UnifrakturMaguntia
            - Unkempt
            - Unlock
            - Unna
            - VT323
            - Vampiro One
            - Varela
            - Varela Round
            - Vast Shadow
            - Vesper Libre
            - Vibes
            - Vibur
            - Vidaloka
            - Viga
            - Voces
            - Volkhov
            - Vollkorn
            - Vollkorn SC
            - Voltaire
            - Waiting for the Sunrise
            - Wallpoet
            - Walter Turncoat
            - Warnes
            - Wellfleet
            - Wendy One
            - Wire One
            - Work Sans
            - Yanone Kaffeesatz
            - Yantramanav
            - Yatra One
            - Yellowtail
            - Yeon Sung
            - Yeseva One
            - Yesteryear
            - Yrsa
            - ZCOOL KuaiLe
            - ZCOOL QingKe HuangYou
            - ZCOOL XiaoWei
            - Zeyada
            - Zhi Mang Xing
            - Zilla Slab
            - Zilla Slab Highlight
          in: query
          name: icff
          required: false
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - Abel
              - Akronim
              - Alfa Slab One
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-font/
            note: "How to use icff to define font family as Google Font : https://developers.google.com/fonts/docs/css2"
        - description: Default font style for all text
          enum:
            - normal
            - italic
          in: query
          name: icfs
          required: false
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - normal
              - italic
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/chart-font/
        - description: localization (ISO 639-1)
          enum:
            - fr
            - de
            - en
          in: query
          name: iclocale
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - en
            implementation:
              status: COMPLETE
            link: ""
        - default: false
          description: (Private) Force to display the watermark EVEN IF the chart was signed with an enterprise account
          enum:
            - "0"
            - "1"
            - true
            - false
          in: query
          name: icwt
          required: false
          type: boolean
          x-meta:
            category: ENTERPRISE
            examples:
              - "0"
              - "1"
            implementation:
              status: PRIVATE
            link: https://documentation.image-charts.com/enterprise/
        - description: retina mode
          enum:
            - "0"
            - "1"
          in: query
          name: icretina
          required: false
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - 1
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/reference/retina/
            note: |-
              Retina is a marketing term coined by Apple that refers to devices and monitors that have a resolution and pixel density so high — roughly 300 or more pixels per inch – that a person is unable to discern the individual pixels at a normal viewing distance.
                        In order to generate beautiful charts for these Retina displays, Image-Charts supports a retina mode that can be activated through the icretina=1 parameter
        - default: FFFFFF
          description: Background color for QR Codes
          in: query
          name: icqrb
          pattern: ^[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - FFFFFF
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/qr-codes/#background-color
            note: Background color for QR Codes
        - default: "000000"
          description: Foreground color for QR Codes
          in: query
          name: icqrf
          pattern: ^[0-9A-Fa-f]{6}(?:[0-9A-Fa-f]{2})?$
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - "000000"
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/qr-codes/#foreground-color
            note: Foreground color for QR Codes
      produces:
        - application/png
        - application/gif
        - image/svg+xml
      responses:
        default:
          description: Successful
          schema:
            type: string
      summary: Image-Charts API
      tags:
        - chart
  /chart.js/2.8.0:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Image-charts
      operationId: getChartjs280
      parameters:
        - description: Javascript/JSON definition of the chart. Use a Chart.js configuration object.
          in: query
          name: c
          type: string
          x-meta:
            category: COMMON
            examples:
              - "{type:'bar',data:{labels:['Q1','Q2','Q3','Q4'],datasets:[{label:'Users',data:[50,60,70,180]},{label:'Revenue',data:[100,200,300,400]}]}}"
            format: json
            implementation:
              status: COMPLETE
            note: Javascript/JSON definition of the chart. Use a Chart.js configuration object.
        - description: Javascript/JSON definition of the chart. Use a Chart.js configuration object.
          in: query
          name: chart
          type: string
          x-meta:
            category: COMMON
            examples:
              - "{type:'bar',data:{labels:['Q1','Q2','Q3','Q4'],datasets:[{label:'Users',data:[50,60,70,180]},{label:'Revenue',data:[100,200,300,400]}]}}"
            format: json
            implementation:
              status: COMPLETE
            note: Javascript/JSON definition of the chart. Use a Chart.js configuration object.
        - default: 500
          description: Width of the chart
          in: query
          minimum: 1
          name: width
          required: false
          type: integer
          x-meta:
            category: COMMON
            examples:
              - "400"
            implementation:
              status: COMPLETE
            note: Width of the chart
        - default: 300
          description: Height of the chart
          in: query
          minimum: 1
          name: height
          required: false
          type: integer
          x-meta:
            category: COMMON
            examples:
              - "300"
            implementation:
              status: COMPLETE
            note: Height of the chart
        - description: Background of the chart canvas. Accepts rgb (rgb(255,255,120)), colors (red), and url-encoded hex values (%23ff00ff). Abbreviated as "bkg"
          in: query
          name: backgroundColor
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - black
              - rgb(255,255,120)
              - "%23ff00ff"
            format: color
            implementation:
              status: COMPLETE
            note: Background of the chart canvas. Accepts rgb (rgb(255,255,120)), colors (red), and url-encoded hex values (%23ff00ff). Abbreviated as "bkg"
        - description: Background of the chart canvas. Accepts rgb (rgb(255,255,120)), colors (red), and url-encoded hex values (%23ff00ff). Abbreviated as "bkg"
          in: query
          name: bkg
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - black
              - rgb(255,255,120)
              - "%23ff00ff"
            format: color
            implementation:
              status: COMPLETE
            note: Background of the chart canvas. Accepts rgb (rgb(255,255,120)), colors (red), and url-encoded hex values (%23ff00ff). Abbreviated as "bkg"
        - default: url
          description: Encoding of your "chart" parameter. Accepted values are url and base64.
          enum:
            - url
            - base64
          in: query
          name: encoding
          required: false
          type: string
          x-meta:
            category: COMMON
            examples:
              - url
              - base64
            implementation:
              status: COMPLETE
            note: Encoding of your "chart" parameter. Accepted values are url and base64.
        - description: image-charts enterprise `account_id`
          in: query
          name: icac
          required: false
          type: string
          x-meta:
            category: ENTERPRISE
            examples:
              - accountId
            implementation:
              status: COMPLETE
            link: https://documentation.image-charts.com/enterprise/
        - description: HMAC-SHA256 signature required to activate paid features
          in: query
          name: ichm
          required: false
[...]
