swagger: '2.0'
schemes:
  - https
  - http
host: mediapackage-vod.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: AWS Elemental MediaPackage VOD
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Elemental MediaPackage VOD
  version: '2018-11-07'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediapackage-vod-2018-11-07.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: mediapackage-vod
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediapackage-vod/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /assets:
    get:
      description: Returns a collection of MediaPackage VOD Asset resources.
      operationId: ListAssets
      parameters:
        - description: Upper bound on number of records to return.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: A token used to resume pagination from the end of a previous request.
          in: query
          name: nextToken
          required: false
          type: string
        - description: Returns Assets associated with the specified PackagingGroup.
          in: query
          name: packagingGroupId
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssetsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new MediaPackage VOD Asset resource.
      operationId: CreateAsset
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              id:
                description: The unique identifier for the Asset.
                type: string
              packagingGroupId:
                description: The ID of the PackagingGroup for the Asset.
                type: string
              resourceId:
                description: The resource ID to include in SPEKE key requests.
                type: string
              sourceArn:
                description: ARN of the source object in S3.
                type: string
              sourceRoleArn:
                description: The IAM role ARN used to access the source S3 bucket.
                type: string
            required:
              - id
              - packagingGroupId
              - sourceArn
              - sourceRoleArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssetResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/assets/{id}':
    delete:
      description: Deletes an existing MediaPackage VOD Asset resource.
      operationId: DeleteAsset
      parameters:
        - description: The ID of the MediaPackage VOD Asset resource to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAssetResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Returns a description of a MediaPackage VOD Asset resource.
      operationId: DescribeAsset
      parameters:
        - description: The ID of an MediaPackage VOD Asset resource.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssetResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /packaging_configurations:
    get:
      description: Returns a collection of MediaPackage VOD PackagingConfiguration resources.
      operationId: ListPackagingConfigurations
      parameters:
        - description: Upper bound on number of records to return.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: A token used to resume pagination from the end of a previous request.
          in: query
          name: nextToken
          required: false
          type: string
        - description: Returns MediaPackage VOD PackagingConfigurations associated with the specified PackagingGroup.
          in: query
          name: packagingGroupId
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPackagingConfigurationsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new MediaPackage VOD PackagingConfiguration resource.
      operationId: CreatePackagingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              cmafPackage:
                description: A CMAF packaging configuration.
                properties:
                  Encryption:
                    $ref: '#/definitions/CmafEncryption'
                  HlsManifests:
                    $ref: '#/definitions/__listOfHlsManifest'
                    description: A list of HLS manifest configurations.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each fragment. Actual fragments will be
                      rounded to the nearest multiple of the source fragment duration.
                type: object
              dashPackage:
                description: A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.
                properties:
                  DashManifests:
                    $ref: '#/definitions/__listOfDashManifest'
                    description: A list of DASH manifest configurations.
                  Encryption:
                    $ref: '#/definitions/DashEncryption'
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each segment. Actual segments will be
                      rounded to the nearest multiple of the source segment duration.
                type: object
              hlsPackage:
                description: An HTTP Live Streaming (HLS) packaging configuration.
                properties:
                  Encryption:
                    $ref: '#/definitions/HlsEncryption'
                  HlsManifests:
                    $ref: '#/definitions/__listOfHlsManifest'
                    description: A list of HLS manifest configurations.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: |
                      Duration (in seconds) of each fragment. Actual fragments will be
                      rounded to the nearest multiple of the source fragment duration.
                  UseAudioRenditionGroup:
                    $ref: '#/definitions/__boolean'
                    description: 'When enabled, audio streams will be placed in rendition groups in the output.'
                type: object
              id:
                description: The ID of the PackagingConfiguration.
                type: string
              mssPackage:
                description: A Microsoft Smooth Streaming (MSS) PackagingConfiguration.
                properties:
                  Encryption:
                    $ref: '#/definitions/MssEncryption'
                  MssManifests:
                    $ref: '#/definitions/__listOfMssManifest'
                    description: A list of MSS manifest configurations.
                  SegmentDurationSeconds:
                    $ref: '#/definitions/__integer'
                    description: The duration (in seconds) of each segment.
                type: object
              packagingGroupId:
                description: The ID of a PackagingGroup.
                type: string
            required:
              - cmafPackage
              - dashPackage
              - hlsPackage
              - id
              - mssPackage
              - packagingGroupId
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePackagingConfigurationResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/packaging_configurations/{id}':
    delete:
      description: Deletes a MediaPackage VOD PackagingConfiguration resource.
      operationId: DeletePackagingConfiguration
      parameters:
        - description: The ID of the MediaPackage VOD PackagingConfiguration resource to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePackagingConfigurationResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Returns a description of a MediaPackage VOD PackagingConfiguration resource.
      operationId: DescribePackagingConfiguration
      parameters:
        - description: The ID of a MediaPackage VOD PackagingConfiguration resource.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePackagingConfigurationResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /packaging_groups:
    get:
      description: Returns a collection of MediaPackage VOD PackagingGroup resources.
      operationId: ListPackagingGroups
      parameters:
        - description: Upper bound on number of records to return.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: A token used to resume pagination from the end of a previous request.
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPackagingGroupsResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new MediaPackage VOD PackagingGroup resource.
      operationId: CreatePackagingGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              id:
                description: The ID of the PackagingGroup.
                type: string
            required:
              - id
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePackagingGroupResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/packaging_groups/{id}':
    delete:
      description: Deletes a MediaPackage VOD PackagingGroup resource.
      operationId: DeletePackagingGroup
      parameters:
        - description: The ID of the MediaPackage VOD PackagingGroup resource to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePackagingGroupResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Returns a description of a MediaPackage VOD PackagingGroup resource.
      operationId: DescribePackagingGroup
      parameters:
        - description: The ID of a MediaPackage VOD PackagingGroup resource.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePackagingGroupResponse'
        '480':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AdMarkers:
    enum:
      - NONE
      - SCTE35_ENHANCED
      - PASSTHROUGH
    type: string
  AssetShallow:
    description: A MediaPackage VOD Asset resource.
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the Asset.
      Id:
        $ref: '#/definitions/__string'
        description: The unique identifier for the Asset.
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup for the Asset.
      ResourceId:
        $ref: '#/definitions/__string'
        description: The resource ID to include in SPEKE key requests.
      SourceArn:
        $ref: '#/definitions/__string'
        description: ARN of the source object in S3.
      SourceRoleArn:
        $ref: '#/definitions/__string'
        description: The IAM role ARN used to access the source S3 bucket.
    type: object
  CmafEncryption:
    description: A CMAF encryption configuration.
    properties:
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  CmafPackage:
    description: A CMAF packaging configuration.
    properties:
      Encryption:
        $ref: '#/definitions/CmafEncryption'
      HlsManifests:
        $ref: '#/definitions/__listOfHlsManifest'
        description: A list of HLS manifest configurations.
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each fragment. Actual fragments will be
          rounded to the nearest multiple of the source fragment duration.
    required:
      - HlsManifests
    type: object
  CreateAssetRequest:
    description: A new MediaPackage VOD Asset configuration.
    properties:
      Id:
        $ref: '#/definitions/__string'
        description: The unique identifier for the Asset.
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup for the Asset.
      ResourceId:
        $ref: '#/definitions/__string'
        description: The resource ID to include in SPEKE key requests.
      SourceArn:
        $ref: '#/definitions/__string'
        description: ARN of the source object in S3.
      SourceRoleArn:
        $ref: '#/definitions/__string'
        description: The IAM role ARN used to access the source S3 bucket.
    required:
      - SourceArn
      - Id
      - PackagingGroupId
      - SourceRoleArn
    type: object
  CreateAssetResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the Asset.
      EgressEndpoints:
        $ref: '#/definitions/__listOfEgressEndpoint'
        description: The list of egress endpoints available for the Asset.
      Id:
        $ref: '#/definitions/__string'
        description: The unique identifier for the Asset.
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup for the Asset.
      ResourceId:
        $ref: '#/definitions/__string'
        description: The resource ID to include in SPEKE key requests.
      SourceArn:
        $ref: '#/definitions/__string'
        description: ARN of the source object in S3.
      SourceRoleArn:
        $ref: '#/definitions/__string'
        description: The IAM role_arn used to access the source S3 bucket.
    type: object
  CreatePackagingConfigurationRequest:
    description: A new MediaPackage VOD PackagingConfiguration resource configuration.
    properties:
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingConfiguration.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of a PackagingGroup.
    required:
      - Id
      - PackagingGroupId
    type: object
  CreatePackagingConfigurationResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the PackagingConfiguration.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingConfiguration.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of a PackagingGroup.
    type: object
  CreatePackagingGroupRequest:
    description: A new MediaPackage VOD PackagingGroup resource configuration.
    properties:
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup.
    required:
      - Id
    type: object
  CreatePackagingGroupResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the PackagingGroup.
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup.
    type: object
  DashEncryption:
    description: A Dynamic Adaptive Streaming over HTTP (DASH) encryption configuration.
    properties:
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  DashManifest:
    description: A DASH manifest configuration.
    properties:
      ManifestName:
        $ref: '#/definitions/__string'
        description: An optional string to include in the name of the manifest.
      MinBufferTimeSeconds:
        $ref: '#/definitions/__integer'
        description: Minimum duration (in seconds) that a player will buffer media before starting the presentation.
      Profile:
        $ref: '#/definitions/Profile'
        description: 'The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to "HBBTV_1_5", HbbTV 1.5 compliant output is enabled.'
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
    type: object
  DashPackage:
    description: A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.
    properties:
      DashManifests:
        $ref: '#/definitions/__listOfDashManifest'
        description: A list of DASH manifest configurations.
      Encryption:
        $ref: '#/definitions/DashEncryption'
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each segment. Actual segments will be
          rounded to the nearest multiple of the source segment duration.
    required:
      - DashManifests
    type: object
  DeleteAssetRequest:
    properties: {}
    type: object
  DeleteAssetResponse:
    properties: {}
    type: object
  DeletePackagingConfigurationRequest:
    properties: {}
    type: object
  DeletePackagingConfigurationResponse:
    properties: {}
    type: object
  DeletePackagingGroupRequest:
    properties: {}
    type: object
  DeletePackagingGroupResponse:
    properties: {}
    type: object
  DescribeAssetRequest:
    properties: {}
    type: object
  DescribeAssetResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the Asset.
      EgressEndpoints:
        $ref: '#/definitions/__listOfEgressEndpoint'
        description: The list of egress endpoints available for the Asset.
      Id:
        $ref: '#/definitions/__string'
        description: The unique identifier for the Asset.
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup for the Asset.
      ResourceId:
        $ref: '#/definitions/__string'
        description: The resource ID to include in SPEKE key requests.
      SourceArn:
        $ref: '#/definitions/__string'
        description: ARN of the source object in S3.
      SourceRoleArn:
        $ref: '#/definitions/__string'
        description: The IAM role_arn used to access the source S3 bucket.
    type: object
  DescribePackagingConfigurationRequest:
    properties: {}
    type: object
  DescribePackagingConfigurationResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the PackagingConfiguration.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingConfiguration.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of a PackagingGroup.
    type: object
  DescribePackagingGroupRequest:
    properties: {}
    type: object
  DescribePackagingGroupResponse:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the PackagingGroup.
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup.
    type: object
  EgressEndpoint:
    description: The endpoint URL used to access an Asset using one PackagingConfiguration.
    properties:
      PackagingConfigurationId:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingConfiguration being applied to the Asset.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the parent manifest for the repackaged Asset.
    type: object
  EncryptionMethod:
    enum:
      - AES_128
      - SAMPLE_AES
    type: string
  ForbiddenException: {}
  HlsEncryption:
    description: An HTTP Live Streaming (HLS) encryption configuration.
    properties:
      ConstantInitializationVector:
        $ref: '#/definitions/__string'
        description: |
          A constant initialization vector for encryption (optional).
          When not specified the initialization vector will be periodically rotated.
      EncryptionMethod:
        $ref: '#/definitions/EncryptionMethod'
        description: The encryption method to use.
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  HlsManifest:
    description: An HTTP Live Streaming (HLS) manifest configuration.
    properties:
      AdMarkers:
        $ref: '#/definitions/AdMarkers'
        description: |
          This setting controls how ad markers are included in the packaged OriginEndpoint.
          "NONE" will omit all SCTE-35 ad markers from the output.
          "PASSTHROUGH" causes the manifest to contain a copy of the SCTE-35 ad
          markers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.
          "SCTE35_ENHANCED" generates ad markers and blackout tags based on SCTE-35
          messages in the input source.
      IncludeIframeOnlyStream:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, an I-Frame only stream will be included in the output.'
      ManifestName:
        $ref: '#/definitions/__string'
        description: An optional string to include in the name of the manifest.
      ProgramDateTimeIntervalSeconds:
        $ref: '#/definitions/__integer'
        description: |
          The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag
          inserted into manifests. Additionally, when an interval is specified
          ID3Timed Metadata messages will be generated every 5 seconds using the
          ingest time of the content.
          If the interval is not specified, or set to 0, then
          no EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no
          ID3Timed Metadata messages will be generated. Note that irrespective
          of this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,
          it will be passed through to HLS output.
      RepeatExtXKey:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, the EXT-X-KEY tag will be repeated in output manifests.'
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
    type: object
  HlsPackage:
    description: An HTTP Live Streaming (HLS) packaging configuration.
    properties:
      Encryption:
        $ref: '#/definitions/HlsEncryption'
      HlsManifests:
        $ref: '#/definitions/__listOfHlsManifest'
        description: A list of HLS manifest configurations.
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: |
          Duration (in seconds) of each fragment. Actual fragments will be
          rounded to the nearest multiple of the source fragment duration.
      UseAudioRenditionGroup:
        $ref: '#/definitions/__boolean'
        description: 'When enabled, audio streams will be placed in rendition groups in the output.'
    required:
      - HlsManifests
    type: object
  InternalServerErrorException: {}
  ListAssetsRequest:
    properties: {}
    type: object
  ListAssetsResponse:
    properties:
      Assets:
        $ref: '#/definitions/__listOfAssetShallow'
        description: A list of MediaPackage VOD Asset resources.
      NextToken:
        $ref: '#/definitions/__string'
        description: A token that can be used to resume pagination from the end of the collection.
    type: object
  ListPackagingConfigurationsRequest:
    properties: {}
    type: object
  ListPackagingConfigurationsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: A token that can be used to resume pagination from the end of the collection.
      PackagingConfigurations:
        $ref: '#/definitions/__listOfPackagingConfiguration'
        description: A list of MediaPackage VOD PackagingConfiguration resources.
    type: object
  ListPackagingGroupsRequest:
    properties: {}
    type: object
  ListPackagingGroupsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: A token that can be used to resume pagination from the end of the collection.
      PackagingGroups:
        $ref: '#/definitions/__listOfPackagingGroup'
        description: A list of MediaPackage VOD PackagingGroup resources.
    type: object
  MaxResults:
    maximum: 1000
    minimum: 1
    type: integer
  MssEncryption:
    description: A Microsoft Smooth Streaming (MSS) encryption configuration.
    properties:
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    required:
      - SpekeKeyProvider
    type: object
  MssManifest:
    description: A Microsoft Smooth Streaming (MSS) manifest configuration.
    properties:
      ManifestName:
        $ref: '#/definitions/__string'
        description: An optional string to include in the name of the manifest.
      StreamSelection:
        $ref: '#/definitions/StreamSelection'
    type: object
  MssPackage:
    description: A Microsoft Smooth Streaming (MSS) PackagingConfiguration.
    properties:
      Encryption:
        $ref: '#/definitions/MssEncryption'
      MssManifests:
        $ref: '#/definitions/__listOfMssManifest'
        description: A list of MSS manifest configurations.
      SegmentDurationSeconds:
        $ref: '#/definitions/__integer'
        description: The duration (in seconds) of each segment.
    required:
      - MssManifests
    type: object
  NotFoundException: {}
  PackagingConfiguration:
    description: A MediaPackage VOD PackagingConfiguration resource.
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the PackagingConfiguration.
      CmafPackage:
        $ref: '#/definitions/CmafPackage'
      DashPackage:
        $ref: '#/definitions/DashPackage'
      HlsPackage:
        $ref: '#/definitions/HlsPackage'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingConfiguration.
      MssPackage:
        $ref: '#/definitions/MssPackage'
      PackagingGroupId:
        $ref: '#/definitions/__string'
        description: The ID of a PackagingGroup.
    type: object
  PackagingGroup:
    description: A MediaPackage VOD PackagingGroup resource.
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the PackagingGroup.
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the PackagingGroup.
    type: object
  Profile:
    enum:
      - NONE
      - HBBTV_1_5
    type: string
  ServiceUnavailableException: {}
  SpekeKeyProvider:
    description: A configuration for accessing an external Secure Packager and Encoder Key Exchange (SPEKE) service that will provide encryption keys.
    properties:
      RoleArn:
        $ref: '#/definitions/__string'
        description: |
          An Amazon Resource Name (ARN) of an IAM role that AWS Elemental
          MediaPackage will assume when accessing the key provider service.
      SystemIds:
        $ref: '#/definitions/__listOf__string'
        description: The system IDs to include in key requests.
      Url:
        $ref: '#/definitions/__string'
        description: The URL of the external key provider service.
    required:
      - SystemIds
      - Url
      - RoleArn
    type: object
  StreamOrder:
    enum:
      - ORIGINAL
      - VIDEO_BITRATE_ASCENDING
      - VIDEO_BITRATE_DESCENDING
    type: string
  StreamSelection:
    description: A StreamSelection configuration.
    properties:
      MaxVideoBitsPerSecond:
        $ref: '#/definitions/__integer'
        description: The maximum video bitrate (bps) to include in output.
      MinVideoBitsPerSecond:
        $ref: '#/definitions/__integer'
        description: The minimum video bitrate (bps) to include in output.
      StreamOrder:
        $ref: '#/definitions/StreamOrder'
        description: A directive that determines the order of streams in the output.
    type: object
  TooManyRequestsException: {}
  UnprocessableEntityException: {}
  __boolean:
    type: boolean
  __integer:
    type: integer
  __listOfAssetShallow:
    items:
      $ref: '#/definitions/AssetShallow'
    type: array
  __listOfDashManifest:
    items:
      $ref: '#/definitions/DashManifest'
    type: array
  __listOfEgressEndpoint:
    items:
      $ref: '#/definitions/EgressEndpoint'
    type: array
  __listOfHlsManifest:
    items:
      $ref: '#/definitions/HlsManifest'
    type: array
  __listOfMssManifest:
    items:
      $ref: '#/definitions/MssManifest'
    type: array
  __listOfPackagingConfiguration:
    items:
      $ref: '#/definitions/PackagingConfiguration'
    type: array
  __listOfPackagingGroup:
    items:
      $ref: '#/definitions/PackagingGroup'
    type: array
  __listOf__string:
    items:
      $ref: '#/definitions/__string'
    type: array
  __string:
    type: string
x-servers:
  - description: The MediaPackage Vod multi-region endpoint
    url: 'http://mediapackage-vod.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The MediaPackage Vod multi-region endpoint
    url: 'https://mediapackage-vod.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The MediaPackage Vod endpoint for China (Beijing) and China (Ningxia)
    url: 'http://mediapackage-vod.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The MediaPackage Vod endpoint for China (Beijing) and China (Ningxia)
    url: 'https://mediapackage-vod.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
