openapi: 3.0.0
servers:
  - url: https://storage.googleapis.com/storage/v1
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Stores and retrieves potentially large, immutable data objects.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Storage JSON API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://storage.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: storage
externalDocs:
  url: https://developers.google.com/storage/docs/json_api/
tags:
  - name: bucketAccessControls
  - name: buckets
  - name: channels
  - name: defaultObjectAccessControls
  - name: notifications
  - name: objectAccessControls
  - name: objects
  - name: projects
paths:
  /b:
    get:
      description: Retrieves a list of buckets for a given project.
      operationId: storage.buckets.list
      parameters:
        - description: A valid API project identifier.
          in: query
          name: project
          required: true
          schema:
            type: string
        - description: Maximum number of buckets to return in a single response. The service will use this parameter or 1,000 items, whichever is smaller.
          in: query
          name: maxResults
          schema:
            minimum: 0
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Filter results to buckets whose names begin with this prefix.
          in: query
          name: prefix
          schema:
            type: string
        - description: Set of properties to return. Defaults to noAcl.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Buckets"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - buckets
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new bucket.
      operationId: storage.buckets.insert
      parameters:
        - description: A valid API project identifier.
          in: query
          name: project
          required: true
          schema:
            type: string
        - description: Apply a predefined set of access controls to this bucket.
          in: query
          name: predefinedAcl
          schema:
            enum:
              - authenticatedRead
              - private
              - projectPrivate
              - publicRead
              - publicReadWrite
            type: string
        - description: Apply a predefined set of default object access controls to this bucket.
          in: query
          name: predefinedDefaultObjectAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Bucket"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - buckets
  "/b/{bucket}":
    delete:
      description: Permanently deletes an empty bucket.
      operationId: storage.buckets.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: If set, only deletes the bucket if its metageneration matches this value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: If set, only deletes the bucket if its metageneration does not match this value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - buckets
    get:
      description: Returns metadata for the specified bucket.
      operationId: storage.buckets.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Set of properties to return. Defaults to noAcl.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - buckets
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Patches a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.
      operationId: storage.buckets.patch
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Apply a predefined set of access controls to this bucket.
          in: query
          name: predefinedAcl
          schema:
            enum:
              - authenticatedRead
              - private
              - projectPrivate
              - publicRead
              - publicReadWrite
            type: string
        - description: Apply a predefined set of default object access controls to this bucket.
          in: query
          name: predefinedDefaultObjectAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Set of properties to return. Defaults to full.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Bucket"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - buckets
    put:
      description: Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.
      operationId: storage.buckets.update
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Apply a predefined set of access controls to this bucket.
          in: query
          name: predefinedAcl
          schema:
            enum:
              - authenticatedRead
              - private
              - projectPrivate
              - publicRead
              - publicReadWrite
            type: string
        - description: Apply a predefined set of default object access controls to this bucket.
          in: query
          name: predefinedDefaultObjectAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Set of properties to return. Defaults to full.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Bucket"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - buckets
  "/b/{bucket}/acl":
    get:
      description: Retrieves ACL entries on the specified bucket.
      operationId: storage.bucketAccessControls.list
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketAccessControls"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - bucketAccessControls
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.insert
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BucketAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - bucketAccessControls
  "/b/{bucket}/acl/{entity}":
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the specified bucket.
      operationId: storage.bucketAccessControls.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - bucketAccessControls
    get:
      description: Returns the ACL entry for the specified entity on the specified bucket.
      operationId: storage.bucketAccessControls.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - bucketAccessControls
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Patches an ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.patch
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BucketAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - bucketAccessControls
    put:
      description: Updates an ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.update
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BucketAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - bucketAccessControls
  "/b/{bucket}/defaultObjectAcl":
    get:
      description: Retrieves default object ACL entries on the specified bucket.
      operationId: storage.defaultObjectAccessControls.list
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: If present, only return default ACL listing if the bucket's current metageneration matches this value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: If present, only return default ACL listing if the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControls"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - defaultObjectAccessControls
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.insert
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - defaultObjectAccessControls
  "/b/{bucket}/defaultObjectAcl/{entity}":
    delete:
      description: Permanently deletes the default object ACL entry for the specified entity on the specified bucket.
      operationId: storage.defaultObjectAccessControls.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - defaultObjectAccessControls
    get:
      description: Returns the default object ACL entry for the specified entity on the specified bucket.
      operationId: storage.defaultObjectAccessControls.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - defaultObjectAccessControls
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Patches a default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.patch
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - defaultObjectAccessControls
    put:
      description: Updates a default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.update
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - defaultObjectAccessControls
  "/b/{bucket}/iam":
    get:
      description: Returns an IAM policy for the specified bucket.
      operationId: storage.buckets.getIamPolicy
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The IAM policy format version to be returned. If the optionsRequestedPolicyVersion is for an older version that doesn't support part of the requested IAM policy, the request fails.
          in: query
          name: optionsRequestedPolicyVersion
          schema:
            minimum: 1
            type: integer
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - buckets
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    put:
      description: Updates an IAM policy for the specified bucket.
      operationId: storage.buckets.setIamPolicy
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - buckets
  "/b/{bucket}/iam/testPermissions":
    get:
      description: Tests a set of permissions on the given bucket to see which, if any, are held by the caller.
      operationId: storage.buckets.testIamPermissions
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Permissions to test.
          explode: true
          in: query
          name: permissions
          required: true
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - buckets
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
  "/b/{bucket}/lockRetentionPolicy":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Locks retention policy on a bucket.
      operationId: storage.buckets.lockRetentionPolicy
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Makes the operation conditional on whether bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - buckets
  "/b/{bucket}/notificationConfigs":
    get:
      description: Retrieves a list of notification subscriptions for a given bucket.
      operationId: storage.notifications.list
      parameters:
        - description: Name of a Google Cloud Storage bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notifications"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - notifications
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a notification subscription for a given bucket.
      operationId: storage.notifications.insert
      parameters:
        - description: The parent bucket of the notification.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notification"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - notifications
  "/b/{bucket}/notificationConfigs/{notification}":
    delete:
      description: Permanently deletes a notification subscription.
      operationId: storage.notifications.delete
      parameters:
        - description: The parent bucket of the notification.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: ID of the notification to delete.
          in: path
          name: notification
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - notifications
    get:
      description: View a notification configuration.
      operationId: storage.notifications.get
      parameters:
        - description: The parent bucket of the notification.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Notification ID
          in: path
          name: notification
          required: true
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - notifications
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
  "/b/{bucket}/o":
    get:
      description: Retrieves a list of objects matching the criteria.
      operationId: storage.objects.list
      parameters:
        - description: Name of the bucket in which to look for objects.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.
          in: query
          name: delimiter
          schema:
            type: string
        - description: Filter results to objects whose names are lexicographically before endOffset. If startOffset is also set, the objects listed will have names between startOffset (inclusive) and endOffset (exclusive).
          in: query
          name: endOffset
          schema:
            type: string
        - description: If true, objects that end in exactly one instance of delimiter will have their metadata included in items in addition to prefixes.
          in: query
          name: includeTrailingDelimiter
          schema:
            type: boolean
        - description: Filter results to objects and prefixes that match this glob pattern.
          in: query
          name: matchGlob
          schema:
            type: string
        - description: Maximum number of items plus prefixes to return in a single page of responses. As duplicate prefixes are omitted, fewer total results may be returned than requested. The service will use this parameter or 1,000 items, whichever is smaller.
          in: query
          name: maxResults
          schema:
            minimum: 0
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Filter results to objects whose names begin with this prefix.
          in: query
          name: prefix
          schema:
            type: string
        - description: Set of properties to return. Defaults to noAcl.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: Filter results to objects whose names are lexicographically equal to or after startOffset. If endOffset is also set, the objects listed will have names between startOffset (inclusive) and endOffset (exclusive).
          in: query
          name: startOffset
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
        - description: If true, lists all versions of an object as distinct results. The default is false. For more information, see Object Versioning.
          in: query
          name: versions
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Objects"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Stores a new object and metadata.
      operationId: storage.objects.insert
      parameters:
        - description: Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: If set, sets the contentEncoding property of the final object to this value. Setting this parameter is equivalent to setting the contentEncoding metadata property. This can be useful when uploading an object with uploadType=media to indicate the encoding of the content being uploaded.
          in: query
          name: contentEncoding
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.
          in: query
          name: ifGenerationNotMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata's kms_key_name value, if any.
          in: query
          name: kmsKeyName
          schema:
            type: string
        - description: Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: query
          name: name
          schema:
            type: string
        - description: Apply a predefined set of access controls to this object.
          in: query
          name: predefinedAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/Object"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Object"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
  "/b/{bucket}/o/watch":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Watch for changes on all objects in a bucket.
      operationId: storage.objects.watchAll
      parameters:
        - description: Name of the bucket in which to look for objects.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.
          in: query
          name: delimiter
          schema:
            type: string
        - description: Filter results to objects whose names are lexicographically before endOffset. If startOffset is also set, the objects listed will have names between startOffset (inclusive) and endOffset (exclusive).
          in: query
          name: endOffset
          schema:
            type: string
        - description: If true, objects that end in exactly one instance of delimiter will have their metadata included in items in addition to prefixes.
          in: query
          name: includeTrailingDelimiter
          schema:
            type: boolean
        - description: Maximum number of items plus prefixes to return in a single page of responses. As duplicate prefixes are omitted, fewer total results may be returned than requested. The service will use this parameter or 1,000 items, whichever is smaller.
          in: query
          name: maxResults
          schema:
            minimum: 0
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Filter results to objects whose names begin with this prefix.
          in: query
          name: prefix
          schema:
            type: string
        - description: Set of properties to return. Defaults to noAcl.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: Filter results to objects whose names are lexicographically equal to or after startOffset. If endOffset is also set, the objects listed will have names between startOffset (inclusive) and endOffset (exclusive).
          in: query
          name: startOffset
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
        - description: If true, lists all versions of an object as distinct results. The default is false. For more information, see Object Versioning.
          in: query
          name: versions
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Channel"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
  "/b/{bucket}/o/{object}":
    delete:
      description: Deletes an object and its metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.
      operationId: storage.objects.delete
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.
          in: query
          name: ifGenerationNotMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
    get:
      description: Retrieves an object or its metadata.
      operationId: storage.objects.get
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.
          in: query
          name: ifGenerationNotMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Set of properties to return. Defaults to noAcl.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Object"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Patches an object's metadata.
      operationId: storage.objects.patch
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.
          in: query
          name: ifGenerationNotMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Apply a predefined set of access controls to this object.
          in: query
          name: predefinedAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Set of properties to return. Defaults to full.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request, for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Object"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Object"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objects
    put:
      description: Updates an object's metadata.
      operationId: storage.objects.update
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.
          in: query
          name: ifGenerationNotMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          schema:
            type: string
        - description: Apply a predefined set of access controls to this object.
          in: query
          name: predefinedAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Set of properties to return. Defaults to full.
          in: query
          name: projection
          schema:
            enum:
              - full
              - noAcl
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Object"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Object"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objects
  "/b/{bucket}/o/{object}/acl":
    get:
      description: Retrieves ACL entries on the specified object.
      operationId: storage.objectAccessControls.list
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControls"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objectAccessControls
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new ACL entry on the specified object.
      operationId: storage.objectAccessControls.insert
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objectAccessControls
  "/b/{bucket}/o/{object}/acl/{entity}":
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the specified object.
      operationId: storage.objectAccessControls.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objectAccessControls
    get:
      description: Returns the ACL entry for the specified entity on the specified object.
      operationId: storage.objectAccessControls.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objectAccessControls
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Patches an ACL entry on the specified object.
      operationId: storage.objectAccessControls.patch
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objectAccessControls
    put:
      description: Updates an ACL entry on the specified object.
      operationId: storage.objectAccessControls.update
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.
          in: path
          name: entity
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObjectAccessControl"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectAccessControl"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
      tags:
        - objectAccessControls
  "/b/{bucket}/o/{object}/iam":
    get:
      description: Returns an IAM policy for the specified object.
      operationId: storage.objects.getIamPolicy
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    put:
      description: Updates an IAM policy for the specified object.
      operationId: storage.objects.setIamPolicy
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
  "/b/{bucket}/o/{object}/iam/testPermissions":
    get:
      description: Tests a set of permissions on the given object to see which, if any, are held by the caller.
      operationId: storage.objects.testIamPermissions
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          schema:
            type: string
        - description: Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: object
          required: true
          schema:
            type: string
        - description: Permissions to test.
          explode: true
          in: query
          name: permissions
          required: true
          schema:
            items:
              type: string
            type: array
          style: form
        - description: If present, selects a specific revision of this object (as opposed to the latest version, the default).
          in: query
          name: generation
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_only
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_only
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
  "/b/{destinationBucket}/o/{destinationObject}/compose":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Concatenates a list of existing objects into a new object in the same bucket.
      operationId: storage.objects.compose
      parameters:
        - description: Name of the bucket containing the source objects. The destination object is stored in this bucket.
          in: path
          name: destinationBucket
          required: true
          schema:
            type: string
        - description: Name of the new object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
          name: destinationObject
          required: true
          schema:
            type: string
        - description: Apply a predefined set of access controls to the destination object.
          in: query
          name: destinationPredefinedAcl
          schema:
            enum:
              - authenticatedRead
              - bucketOwnerFullControl
              - bucketOwnerRead
              - private
              - projectPrivate
              - publicRead
            type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          schema:
            type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          schema:
            type: string
        - description: Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata's kms_key_name value, if any.
          in: query
          name: kmsKeyName
          schema:
            type: string
        - description: The project to be billed for this request. Required for Requester Pays buckets.
          in: query
          name: userProject
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComposeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Object"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.full_control
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.full_control
        - Oauth2:
            - https://www.googleapis.com/auth/devstorage.read_write
          Oauth2c:
            - https://www.googleapis.com/auth/devstorage.read_write
      tags:
        - objects
  "/b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Copies a source object to a destination object. Optionally overrides metadata.
      operationId: storage.objects.copy
      parameters:
        - description: Name of the bucket in which to find the source object.
          in: path
          name: sourceBucket
          required: true
          schema:
            type: string
        - description: Name of the source object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.
          in: path
[...]
