openapi: 3.0.0
servers:
  - url: https://unify.apideck.com
info:
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  description: |+
    Welcome to the Ecommerce API.

    You can use this API to access all Ecommerce API endpoints.

    ## Base URL

    The base URL for all API requests is `https://unify.apideck.com`

    We also provide a [Mock API](https://developers.apideck.com/mock-api) that can be used for testing purposes: `https://mock-api.apideck.com`

    ## Headers

    Custom headers that are expected as part of the request. Note that [RFC7230](https://tools.ietf.org/html/rfc7230) states header names are case insensitive.

    | Name                  | Type    | Required | Description                                                                                                                                                    |
    | --------------------- | ------- | -------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------- |
    | x-apideck-consumer-id | String  | Yes      | The id of the customer stored inside Apideck Vault. This can be a user id, account id, device id or whatever entity that can have integration within your app. |
    | x-apideck-service-id  | String  | No       | Describe the service you want to call (e.g., pipedrive). Only needed when a customer has activated multiple integrations for the same Unified API.             |
    | x-apideck-raw         | Boolean | No       | Include raw response. Mostly used for debugging purposes.                                                                                                      |
    | x-apideck-app-id      | String  | Yes      | The application id of your Unify application. Available at https://app.apideck.com/unify/api-keys.                                                             |
    | Authorization         | String  | Yes      | Bearer API KEY                                                                                                                                                 |

    ## Authorization

    You can interact with the API through the authorization methods below.

    <!-- ReDoc-Inject: <security-definitions> -->

    ## Pagination

    All API resources have support for bulk retrieval via list APIs.  Apideck uses cursor-based pagination via the optional `cursor` and `limit` parameters.

    To fetch the first page of results, call the list API without a `cursor` parameter. Afterwards you can fetch subsequent pages by providing a cursor parameter. You will find the next cursor in the response body in `meta.cursors.next`. If `meta.cursors.next` is `null` you're at the end of the list.

    In the REST API you can also use the `links` from the response for added convenience. Simply call the URL in `links.next` to get the next page of results.

    ### Query Parameters

    | Name   | Type   | Required | Description                                                                                                        |
    | ------ | ------ | -------- | ------------------------------------------------------------------------------------------------------------------ |
    | cursor | String | No       | Cursor to start from. You can find cursors for next & previous pages in the meta.cursors property of the response. |
    | limit  | Number | No       | Number of results to return. Minimum 1, Maximum 200, Default 20                                                    |

    ### Response Body

    | Name                  | Type   | Description                                                        |
    | --------------------- | ------ | ------------------------------------------------------------------ |
    | meta.cursors.previous | String | Cursor to navigate to the previous page of results through the API |
    | meta.cursors.current  | String | Cursor to navigate to the current page of results through the API  |
    | meta.cursors.next     | String | Cursor to navigate to the next page of results through the API     |
    | meta.items_on_page    | Number | Number of items returned in the data property of the response      |
    | links.previous        | String | Link to navigate to the previous page of results through the API   |
    | links.current         | String | Link to navigate to the current page of results through the API    |
    | links.next            | String | Link to navigate to the next page of results through the API       |

    ⚠️ `meta.cursors.previous`/`links.previous` is not available for all connectors.

    ## SDKs and API Clients

    We currently offer a [Node.js](https://developers.apideck.com/sdks/node), [PHP](https://developers.apideck.com/sdks/php) and [.NET](https://developers.apideck.com/sdks/dot-net) SDK.
    Need another SDK? [Request the SDK of your choice](https://integrations.apideck.com/request).

    ## Debugging

    Because of the nature of the abstraction we do in Apideck Unify we still provide the option to the receive raw requests and responses being handled underlying. By including the raw flag `?raw=true` in your requests you can still receive the full request. Please note that this increases the response size and can introduce extra latency.

    ## Errors

    The API returns standard HTTP response codes to indicate success or failure of the API requests. For errors, we also return a customized error message inside the JSON response. You can see the returned HTTP status codes below.

    | Code | Title                | Description                                                                                                                                                                                              |
    | ---- | -------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
    | 200  | OK                   | The request message has been successfully processed, and it has produced a response. The response message varies, depending on the request method and the requested data.                                |
    | 201  | Created              | The request has been fulfilled and has resulted in one or more new resources being created.                                                                                                              |
    | 204  | No Content           | The server has successfully fulfilled the request and that there is no additional content to send in the response payload body.                                                                          |
    | 400  | Bad Request          | The receiving server cannot understand the request because of malformed syntax. Do not repeat the request without first modifying it; check the request for errors, fix them and then retry the request. |
    | 401  | Unauthorized         | The request has not been applied because it lacks valid authentication credentials for the target resource.                                                                                              |
    | 402  | Payment Required     | Subscription data is incomplete or out of date. You'll need to provide payment details to continue.                                                                                                      |
    | 403  | Forbidden            | You do not have the appropriate user rights to access the request. Do not repeat the request.                                                                                                            |
    | 404  | Not Found            | The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.                                                                           |
    | 409  | Conflict             | The request could not be completed due to a conflict with the current state of the target resource.                                                                                                      |
    | 422  | Unprocessable Entity | The server understands the content type of the request entity, and the syntax of the request entity is correct but was unable to process the contained instructions.                                     |
    | 429  | Too Many Requests    | You sent too many requests in a given amount of time ("rate limit"). Try again later                                                                                                                     |
    | 5xx  | Server Errors        | Something went wrong with the Unify API. These errors are logged on our side. You can contact our team to resolve the issue.                                                                             |

    ### Handling errors

    The Unify API and SDKs can produce errors for many reasons, such as a failed requests due to misconfigured integrations, invalid parameters, authentication errors, and network unavailability.

    ### Error Types

    #### RequestValidationError

    Request is not valid for the current endpoint. The response body will include details on the validation error. Check the spelling and types of your attributes, and ensure you are not passing data that is outside of the specification.

    #### UnsupportedFiltersError

    Filters in the request are valid, but not supported by the connector. Remove the unsupported filter(s) to get a successful response.

    #### UnsupportedSortFieldError

    Sort field (`sort[by]`) in the request is valid, but not supported by the connector. Replace or remove the sort field to get a successful response.

    #### InvalidCursorError

    Pagination cursor in the request is not valid for the current connector. Make sure to use a cursor returned from the API, for the same connector.

    #### ConnectorExecutionError

    A Unified API request made via one of our downstream connectors returned an unexpected error. The `status_code` returned is proxied through to error response along with their original response via the error detail.

    #### UnauthorizedError

    We were unable to authorize the request as made. This can happen for a number of reasons, from missing header params to passing an incorrect authorization token. Verify your Api Key is being set correctly in the authorization header. ie: `Authorization: 'Bearer sk_live_***'`

    #### ConnectorCredentialsError

    A request using a given connector has not been authorized. Ensure the connector you are trying to use has been configured correctly and been authorized for use.

    #### ConnectorDisabledError

    A request has been made to a connector that has since been disabled. This may be temporary - You can contact our team to resolve the issue.

    #### ConnectorRateLimitError

    You sent too many request to a connector. These rate limits vary from connector to connector. You will need to try again later.

    #### RequestLimitError

    You have reached the number of requests included in your Free Tier Subscription. You will no be able to make further requests until this limit resets at the end of the month, or talk to us about upgrading your subscription to continue immediately.

    #### EntityNotFoundError

    You've made a request for a resource or route that does not exist. Verify your path parameters or any identifiers used to fetch this resource.

    #### OAuthCredentialsNotFoundError

    When adding a connector integration that implements OAuth, both a `client_id` and `client_secret` must be provided before any authorizations can be performed. Verify the integration has been configured properly before continuing.

    #### IntegrationNotFoundError

    The requested connector integration could not be found associated to your `application_id`. Verify your `application_id` is correct, and that this connector has been added and configured for your application.

    #### ConnectionNotFoundError

    A valid connection could not be found associated to your `application_id`. Something _may_ have interrupted the authorization flow. You may need to start the connector authorization process again.

    #### ConnectionSettingsError

    The connector has required settings that were not supplied. Verify `connection.settings` contains all required settings for the connector to be callable.

    #### ConnectorNotFoundError

    A request was made for an unknown connector. Verify your `service_id` is spelled correctly, and that this connector is enabled for your provided `unified_api`.

    #### OAuthRedirectUriError

    A request was made either in a connector authorization flow, or attempting to revoke connector access without a valid `redirect_uri`. This is the url the user should be returned to on completion of process.

    #### OAuthInvalidStateError

    The state param is required and is used to ensure the outgoing authorization state has not been altered before the user is redirected back. It also contains required params needed to identify the connector being used. If this has been altered, the authorization will not succeed.

    #### OAuthCodeExchangeError

    When attempting to exchange the authorization code for an `access_token` during an OAuth flow, an error occurred. This may be temporary. You can reattempt authorization or contact our team to resolve the issue.

    #### OAuthConnectorError

    It seems something went wrong on the connector side. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.

    #### MappingError

    There was an error attempting to retrieve the mapping for a given attribute. We've been notified and are working to fix this issue.

    #### ConnectorMappingNotFoundError

    It seems the implementation for this connector is incomplete. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.

    #### ConnectorResponseMappingNotFoundError

    We were unable to retrieve the response mapping for this connector. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.

    #### ConnectorOperationMappingNotFoundError

    Connector mapping has not been implemented for the requested operation. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.

    #### ConnectorWorkflowMappingError

    The composite api calls required for this operation have not been mapped entirely. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.

    #### ConnectorOperationUnsupportedError

    You're attempting a call that is not supported by the connector. It's likely this operation is supported by another connector, but we're unable to implement for this one.

    #### PaginationNotSupportedError

    Pagination is not yet supported for this connector, try removing limit and/or cursor from the query. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.

    ## API Design

    ### API Styles and data formats

    #### REST API

    The API is organized around [REST](https://restfulapi.net/), providing simple and predictable URIs to access and modify objects. Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes. JSON is returned by all API responses, including errors. In all API requests, you must set the content-type HTTP header to application/json. All API requests must be made over HTTPS. Calls made over HTTP will fail.

    ##### Available HTTP methods

    The Apideck API uses HTTP verbs to understand if you want to read (GET), delete (DELETE) or create (POST) an object. When your web application cannot do a POST or DELETE, we provide the ability to set the method through the query parameter \_method.

    ```
    POST /messages
    GET /messages
    GET /messages/{messageId}
    PATCH /messages/{messageId}
    DELETE /messages/{messageId}
    ```

    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise. For some endpoints and use cases we divert from REST to provide a better developer experience.

    ### Schema

    All API requests and response bodies adhere to a common JSON format representing individual items, collections of items, links to related items and additional meta data.

    ### Meta

    Meta data can be represented as a top level member named “meta”. Any information may be provided in the meta data. It’s most common use is to return the total number of records when requesting a collection of resources.

    ### Idempotence (upcoming)

    To prevent the creation of duplicate resources, every POST method (such as one that creates a consumer record) must specify a unique value for the X-Unique-Transaction-ID header name. Uniquely identifying each unique POST request ensures that the API processes a given request once and only once.

    Uniquely identifying new resource-creation POSTs is especially important when the outcome of a response is ambiguous because of a transient service interruption, such as a server-side timeout or network disruption. If a service interruption occurs, then the client application can safely retry the uniquely identified request without creating duplicate operations. (API endpoints that guarantee that every uniquely identified request is processed only once no matter how many times that uniquely identifiable request is made are described as idempotent.)

    ### Request IDs

    Each API request has an associated request identifier. You can find this value in the response headers, under Request-Id. You can also find request identifiers in the URLs of individual request logs in your Dashboard. If you need to contact us about a specific request, providing the request identifier will ensure the fastest possible resolution.

    ### Fixed field types

    #### Dates

    The dates returned by the API are all represented in UTC (ISO8601 format).

    This example `2019-11-14T00:55:31.820Z` is defined by the ISO 8601 standard. The T in the middle separates the year-month-day portion from the hour-minute-second portion. The Z on the end means UTC, that is, an offset-from-UTC of zero hours-minutes-seconds. The Z is pronounced "Zulu" per military/aviation tradition.

    The ISO 8601 standard is more modern. The formats are wisely designed to be easy to parse by machine as well as easy to read by humans across cultures.

    #### Prices and Currencies

    All prices returned by the API are represented as integer amounts in a currency’s smallest unit. For example, $5 USD would be returned as 500 (i.e, 500 cents).

    For zero-decimal currencies, amounts will still be provided as an integer but without the need to divide by 100. For example, an amount of ¥5 (JPY) would be returned as 5.

    All currency codes conform to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).

    ## Support

    If you have problems or need help with your case, you can always reach out to our Support.

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Ecommerce API
  version: 9.3.0
  x-apideck-api: ecommerce
  x-apideck-sdk-support: true
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_developers.apideck.com_icon.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/ecommerce.yml
      version: "3.0"
  x-providerName: apideck.com
  x-serviceName: ecommerce
  x-tags:
    - partner
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
security:
  - apiKey: []
tags:
  - description: ""
    name: Orders
    x-apideck-model:
      $ref: "#/components/schemas/EcommerceOrder"
    x-apideck-resource-id: orders
  - description: ""
    name: Products
    x-apideck-model:
      $ref: "#/components/schemas/EcommerceProduct"
    x-apideck-resource-id: products
  - description: ""
    name: Customers
    x-apideck-model:
      $ref: "#/components/schemas/EcommerceCustomer"
    x-apideck-resource-id: customers
  - description: ""
    name: Stores
    x-apideck-model:
      $ref: "#/components/schemas/EcommerceStore"
    x-apideck-resource-id: stores
paths:
  /ecommerce/customers:
    get:
      description: List Customers
      operationId: customersAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/customersFilter"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetEcommerceCustomersResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: List Customers
      tags:
        - Customers
      x-apideck-api: ecommerce
      x-apideck-gotchas:
        - connector: woocommerce
          description: Woocommerce will only return customers that have placed an order and created and account.
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.customersAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: customers
  "/ecommerce/customers/{id}":
    get:
      description: Get Customer
      operationId: customersOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetEcommerceCustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get Customer
      tags:
        - Customers
      x-apideck-api: ecommerce
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.customersOne({
                id: 'id_example'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
  /ecommerce/orders:
    get:
      description: List Orders
      operationId: ordersAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/ordersFilter"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetEcommerceOrdersResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: List Orders
      tags:
        - Orders
      x-apideck-api: ecommerce
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.ordersAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: orders
  "/ecommerce/orders/{id}":
    get:
      description: Get Order
      operationId: ordersOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetEcommerceOrderResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get Order
      tags:
        - Orders
      x-apideck-api: ecommerce
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.ordersOne({
                id: 'id_example'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
  /ecommerce/products:
    get:
      description: List Products
      operationId: productsAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetProductsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: List Products
      tags:
        - Products
      x-apideck-api: ecommerce
      x-apideck-gotchas:
        - connector: prestashop
          description: "Prestashop primarily uses an `id` field to identify product associations (Ie: categories, variants etc). To maintain performance on the list endpoint, fewer properties are returned than other connectors."
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.productsAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: products
  "/ecommerce/products/{id}":
    get:
      description: Get Product
      operationId: productsOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetProductResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get Product
      tags:
        - Products
      x-apideck-api: ecommerce
      x-apideck-gotchas:
        - connector: prestashop
          description: Product images for Prestashop are limited to the default image set on the product.
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.productsOne({
                id: 'id_example'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
  /ecommerce/store:
    get:
      description: Get Store
      operationId: storesOne
      parameters:
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/fields"
      responses:
        "200":
          $ref: "#/components/responses/GetStoreResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get Store
      tags:
        - Stores
      x-apideck-api: ecommerce
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.ecommerce.storesOne({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
components:
  parameters:
    applicationId:
      description: The ID of your Unify application
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      in: header
      name: x-apideck-app-id
      required: true
      schema:
        type: string
    consumerId:
      description: ID of the consumer which you want to get or push data from
      in: header
      name: x-apideck-consumer-id
      required: true
      schema:
        type: string
    cursor:
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      in: query
      name: cursor
      schema:
        nullable: true
        type: string
    customersFilter:
      description: Apply filters
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/EcommerceCustomersFilter"
      style: deepObject
    fields:
      description: "The 'fields' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields \"name\", \"email\" and \"addresses.city\". If any other fields are available, they will be excluded."
      example: id,updated_at
      in: query
      name: fields
      schema:
        nullable: true
        type: string
    id:
      description: ID of the record you are acting upon.
      in: path
      name: id
      required: true
      schema:
        type: string
    limit:
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      in: query
      name: limit
      schema:
        default: 20
        maximum: 200
        minimum: 1
        type: integer
    ordersFilter:
      description: Apply filters
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/EcommerceOrdersFilter"
      style: deepObject
    raw:
      description: Include raw response. Mostly used for debugging purposes
      in: query
      name: raw
      schema:
        default: false
        type: boolean
    serviceId:
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      in: header
      name: x-apideck-service-id
      schema:
        type: string
  responses:
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BadRequestResponse"
      description: Bad Request
    CreateEcommerceCustomerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateEcommerceCustomerResponse"
      description: Customers
    CreateEcommerceOrderResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateEcommerceOrderResponse"
      description: Orders
    CreateProductResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateProductResponse"
      description: Products
    DeleteEcommerceCustomerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteEcommerceCustomerResponse"
      description: Customers
    DeleteEcommerceOrderResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteEcommerceOrderResponse"
      description: Orders
    DeleteProductResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteProductResponse"
      description: Products
    GetEcommerceCustomerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetEcommerceCustomerResponse"
      description: Customers
    GetEcommerceCustomersResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetEcommerceCustomersResponse"
      description: Customers
    GetEcommerceOrderResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetEcommerceOrderResponse"
      description: Orders
    GetEcommerceOrdersResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetEcommerceOrdersResponse"
      description: Orders
    GetProductResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetProductResponse"
      description: Products
    GetProductsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetProductsResponse"
      description: Products
    GetStoreResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetStoreResponse"
      description: Stores
    GetStoresResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetStoresResponse"
      description: Stores
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFoundResponse"
      description: The specified resource was not found
    NotImplementedResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotImplementedResponse"
      description: Not Implemented
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaymentRequiredResponse"
      description: Payment Required
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnauthorizedResponse"
      description: Unauthorized
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnexpectedErrorResponse"
      description: Unexpected error
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnprocessableResponse"
      description: Unprocessable
    UpdateEcommerceCustomerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateEcommerceCustomerResponse"
      description: Customers
    UpdateEcommerceOrderResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateEcommerceOrderResponse"
      description: Orders
    UpdateProductResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateProductResponse"
      description: Products
  schemas:
    Address:
      additionalProperties: false
      properties:
        city:
          description: Name of city.
          example: San Francisco
          nullable: true
          type: string
        contact_name:
          example: Elon Musk
          nullable: true
          type: string
        country:
          description: country code according to ISO 3166-1 alpha-2.
          example: US
          nullable: true
          type: string
        county:
          description: Address field that holds a sublocality, such as a county
          example: Santa Clara
          nullable: true
          type: string
        email:
          example: elon@musk.com
          nullable: true
          type: string
        fax:
          example: 122-111-1111
          nullable: true
          type: string
        id:
          example: "123"
          nullable: true
          type: string
        latitude:
          example: "40.759211"
          nullable: true
          type: string
        line1:
          description: "Line 1 of the address e.g. number, street, suite, apt #, etc."
          example: Main street
          nullable: true
          type: string
        line2:
          description: Line 2 of the address
          example: "apt #"
          nullable: true
          type: string
        line3:
          description: Line 3 of the address
          example: "Suite #"
          nullable: true
          type: string
        line4:
          description: Line 4 of the address
          example: delivery instructions
          nullable: true
          type: string
        longitude:
          example: "-73.984638"
          nullable: true
          type: string
        name:
          example: HQ US
          nullable: true
          type: string
        phone_number:
          example: 111-111-1111
          nullable: true
          type: string
        postal_code:
          description: Zip code or equivalent.
          example: "94104"
          nullable: true
          type: string
        row_version:
          $ref: "#/components/schemas/RowVersion"
        salutation:
          example: Mr
          nullable: true
          type: string
        state:
          description: Name of state
          example: CA
          nullable: true
          type: string
        street_number:
          description: Street number
          example: "25"
          nullable: true
          type: string
        string:
          example: 25 Spring Street, Blackburn, VIC 3130
          nullable: true
          title: The address string. Some APIs don't provide structured address data.
          type: string
        type:
          enum:
            - primary
            - secondary
            - home
            - office
            - shipping
            - billing
            - other
          example: primary
          type: string
          x-apideck-enum-id: addresses.type
          x-graphql-type-name: AddressType
        website:
          example: https://elonmusk.com
          nullable: true
          type: string
      type: object
      x-apideck-schema-id: Address
      x-apideck-weights:
        city: high
        contact_name: edge-case
        country: high
        county: edge-case
        email: edge-case
        fax: edge-case
        id: edge-case
        latitude: low
        line1: high
        line2: low
        line3: edge-case
        line4: edge-case
        longitude: low
        name: edge-case
        phone_number: edge-case
        postal_code: high
        row_version: edge-case
        salutation: edge-case
        state: high
        street_number: low
        string: low
        type: critical
        website: edge-case
    BadRequestResponse:
      properties:
        detail:
          anyOf:
            - example: Missing property foobar
              type: string
            - example:
                missing:
                  - foobar: required
              type: object
          description: Contains parameter or domain specific information related to the error and why it occurred.
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
          type: string
        status_code:
          description: HTTP status code
          example: 400
          type: number
        type_name:
          description: The type of error returned
          example: RequestValidationError
          type: string
      type: object
      x-apideck-schema-id: BadRequest
    CreateEcommerceCustomerResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: add
          type: string
        resource:
          description: Unified API resource name
          example: customers
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: CreateEcommerceCustomerResponse
    CreateEcommerceOrderResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: add
          type: string
        resource:
          description: Unified API resource name
          example: orders
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: CreateEcommerceOrderResponse
    CreateProductResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: add
          type: string
        resource:
          description: Unified API resource name
          example: products
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: CreateProductResponse
    CreatedAt:
      description: The date and time when the object was created.
      example: 2020-09-30T07:43:32.000Z
      format: date-time
      readOnly: true
      title: Created at (timestamp)
      type: string
    CreatedBy:
      description: The user who created the object.
      example: "12345"
      nullable: true
      readOnly: true
      title: Created by
      type: string
    Currency:
      description: Indicates the associated currency for an amount of money. Values correspond to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).
      enum:
        - UNKNOWN_CURRENCY
        - AED
        - AFN
        - ALL
        - AMD
        - ANG
        - AOA
        - ARS
        - AUD
        - AWG
        - AZN
        - BAM
        - BBD
        - BDT
        - BGN
        - BHD
        - BIF
        - BMD
        - BND
        - BOB
        - BOV
        - BRL
        - BSD
        - BTN
        - BWP
        - BYR
        - BZD
        - CAD
        - CDF
        - CHE
        - CHF
        - CHW
        - CLF
        - CLP
        - CNY
        - COP
        - COU
        - CRC
        - CUC
        - CUP
        - CVE
        - CZK
        - DJF
        - DKK
        - DOP
        - DZD
        - EGP
        - ERN
        - ETB
        - EUR
        - FJD
        - FKP
        - GBP
        - GEL
        - GHS
        - GIP
        - GMD
        - GNF
        - GTQ
        - GYD
        - HKD
        - HNL
        - HRK
        - HTG
        - HUF
        - IDR
        - ILS
        - INR
        - IQD
        - IRR
        - ISK
        - JMD
        - JOD
        - JPY
        - KES
        - KGS
        - KHR
        - KMF
        - KPW
        - KRW
        - KWD
        - KYD
        - KZT
        - LAK
        - LBP
        - LKR
        - LRD
        - LSL
        - LTL
        - LVL
        - LYD
        - MAD
        - MDL
        - MGA
        - MKD
        - MMK
        - MNT
        - MOP
        - MRO
        - MUR
        - MVR
        - MWK
        - MXN
        - MXV
        - MYR
        - MZN
        - NAD
        - NGN
        - NIO
        - NOK
        - NPR
        - NZD
        - OMR
        - PAB
        - PEN
        - PGK
        - PHP
        - PKR
        - PLN
        - PYG
        - QAR
        - RON
        - RSD
        - RUB
        - RWF
        - SAR
        - SBD
        - SCR
        - SDG
        - SEK
        - SGD
        - SHP
        - SLL
        - SOS
        - SRD
        - SSP
        - STD
        - SVC
        - SYP
        - SZL
        - THB
        - TJS
        - TMT
        - TND
        - TOP
        - TRC
        - TRY
        - TTD
        - TWD
        - TZS
        - UAH
        - UGX
        - USD
        - USN
        - USS
        - UYI
        - UYU
        - UZS
        - VEF
        - VND
        - VUV
        - WST
        - XAF
        - XAG
        - XAU
        - XBA
        - XBB
        - XBC
        - XBD
        - XCD
        - XDR
        - XOF
        - XPD
        - XPF
        - XPT
        - XTS
        - XXX
        - YER
        - ZAR
        - ZMK
        - ZMW
        - BTC
        - ETH
      example: USD
      nullable: true
      title: Currency
      type: string
      x-apideck-enum-coverage-ignore: true
      x-apideck-enum-id: currencies
      x-enum-elements:
        - description: Unknown currency
          name: UNKNOWN_CURRENCY
        - description: United Arab Emirates dirham
          name: AED
        - description: Afghan afghani
          name: AFN
        - description: Albanian lek
          name: ALL
        - description: Armenian dram
          name: AMD
        - description: Netherlands Antillean guilder
          name: ANG
        - description: Angolan kwanza
          name: AOA
        - description: Argentine peso
          name: ARS
        - description: Australian dollar
          name: AUD
        - description: Aruban florin
          name: AWG
        - description: Azerbaijani manat
          name: AZN
        - description: Bosnia and Herzegovina convertible mark
          name: BAM
        - description: Barbados dollar
          name: BBD
        - description: Bangladeshi taka
          name: BDT
        - description: Bulgarian lev
          name: BGN
        - description: Bahraini dinar
          name: BHD
        - description: Burundian franc
          name: BIF
        - description: Bermudian dollar
          name: BMD
        - description: Brunei dollar
          name: BND
        - description: Boliviano
          name: BOB
        - description: Bolivian Mvdol
          name: BOV
        - description: Brazilian real
          name: BRL
        - description: Bahamian dollar
          name: BSD
        - description: Bhutanese ngultrum
          name: BTN
        - description: Botswana pula
          name: BWP
        - description: Belarusian ruble
          name: BYR
        - description: Belize dollar
          name: BZD
        - description: Canadian dollar
          name: CAD
        - description: Congolese franc
          name: CDF
        - description: WIR Euro
          name: CHE
        - description: Swiss franc
          name: CHF
        - description: WIR Franc
          name: CHW
        - description: Unidad de Fomento
          name: CLF
        - description: Chilean peso
          name: CLP
        - description: Chinese yuan
          name: CNY
        - description: Colombian peso
          name: COP
        - description: Unidad de Valor Real
          name: COU
        - description: Costa Rican colon
          name: CRC
        - description: Cuban convertible peso
          name: CUC
        - description: Cuban peso
          name: CUP
        - description: Cape Verdean escudo
          name: CVE
        - description: Czech koruna
          name: CZK
        - description: Djiboutian franc
          name: DJF
        - description: Danish krone
          name: DKK
        - description: Dominican peso
          name: DOP
        - description: Algerian dinar
          name: DZD
        - description: Egyptian pound
          name: EGP
        - description: Eritrean nakfa
          name: ERN
        - description: Ethiopian birr
          name: ETB
        - description: Euro
          name: EUR
        - description: Fiji dollar
          name: FJD
        - description: Falkland Islands pound
          name: FKP
        - description: Pound sterling
          name: GBP
        - description: Georgian lari
          name: GEL
        - description: Ghanaian cedi
          name: GHS
        - description: Gibraltar pound
          name: GIP
        - description: Gambian dalasi
          name: GMD
        - description: Guinean franc
          name: GNF
        - description: Guatemalan quetzal
          name: GTQ
        - description: Guyanese dollar
          name: GYD
        - description: Hong Kong dollar
          name: HKD
        - description: Honduran lempira
          name: HNL
        - description: Croatian kuna
          name: HRK
        - description: Haitian gourde
          name: HTG
        - description: Hungarian forint
          name: HUF
        - description: Indonesian rupiah
          name: IDR
        - description: Israeli new shekel
          name: ILS
        - description: Indian rupee
          name: INR
        - description: Iraqi dinar
          name: IQD
        - description: Iranian rial
          name: IRR
        - description: Icelandic króna
          name: ISK
        - description: Jamaican dollar
          name: JMD
        - description: Jordanian dinar
          name: JOD
        - description: Japanese yen
          name: JPY
        - description: Kenyan shilling
          name: KES
        - description: Kyrgyzstani som
          name: KGS
        - description: Cambodian riel
          name: KHR
        - description: Comoro franc
          name: KMF
        - description: North Korean won
          name: KPW
        - description: South Korean won
          name: KRW
        - description: Kuwaiti dinar
          name: KWD
        - description: Cayman Islands dollar
          name: KYD
        - description: Kazakhstani tenge
          name: KZT
        - description: Lao kip
          name: LAK
        - description: Lebanese pound
          name: LBP
        - description: Sri Lankan rupee
          name: LKR
        - description: Liberian dollar
          name: LRD
        - description: Lesotho loti
          name: LSL
        - description: Lithuanian litas
          name: LTL
        - description: Latvian lats
          name: LVL
        - description: Libyan dinar
          name: LYD
        - description: Moroccan dirham
          name: MAD
        - description: Moldovan leu
          name: MDL
        - description: Malagasy ariary
          name: MGA
        - description: Macedonian denar
          name: MKD
        - description: Myanmar kyat
          name: MMK
        - description: Mongolian tögrög
          name: MNT
        - description: Macanese pataca
          name: MOP
        - description: Mauritanian ouguiya
          name: MRO
        - description: Mauritian rupee
          name: MUR
        - description: Maldivian rufiyaa
          name: MVR
        - description: Malawian kwacha
          name: MWK
        - description: Mexican peso
          name: MXN
        - description: Mexican Unidad de Inversion
          name: MXV
        - description: Malaysian ringgit
          name: MYR
        - description: Mozambican metical
          name: MZN
        - description: Namibian dollar
          name: NAD
        - description: Nigerian naira
          name: NGN
        - description: Nicaraguan córdoba
          name: NIO
        - description: Norwegian krone
          name: NOK
        - description: Nepalese rupee
          name: NPR
        - description: New Zealand dollar
          name: NZD
        - description: Omani rial
          name: OMR
        - description: Panamanian balboa
          name: PAB
        - description: Peruvian sol
          name: PEN
        - description: Papua New Guinean kina
          name: PGK
        - description: Philippine peso
          name: PHP
        - description: Pakistani rupee
          name: PKR
        - description: Polish złoty
          name: PLN
        - description: Paraguayan guaraní
          name: PYG
        - description: Qatari riyal
          name: QAR
        - description: Romanian leu
          name: RON
        - description: Serbian dinar
          name: RSD
        - description: Russian ruble
          name: RUB
        - description: Rwandan franc
          name: RWF
        - description: Saudi riyal
          name: SAR
        - description: Solomon Islands dollar
          name: SBD
        - description: Seychelles rupee
          name: SCR
        - description: Sudanese pound
          name: SDG
        - description: Swedish krona
          name: SEK
        - description: Singapore dollar
          name: SGD
        - description: Saint Helena pound
          name: SHP
        - description: Sierra Leonean leone
          name: SLL
        - description: Somali shilling
          name: SOS
        - description: Surinamese dollar
          name: SRD
        - description: South Sudanese pound
          name: SSP
        - description: São Tomé and Príncipe dobra
          name: STD
        - description: Salvadoran colón
          name: SVC
        - description: Syrian pound
          name: SYP
        - description: Swazi lilangeni
          name: SZL
        - description: Thai baht
          name: THB
        - description: Tajikstani somoni
          name: TJS
        - description: Turkmenistan manat
          name: TMT
        - description: Tunisian dinar
          name: TND
        - description: Tongan pa'anga
          name: TOP
        - description: Turkish lira
          name: TRY
        - description: Trinidad and Tobago dollar
          name: TTD
        - description: New Taiwan dollar
          name: TWD
        - description: Tanzanian shilling
          name: TZS
        - description: Ukrainian hryvnia
          name: UAH
        - description: Ugandan shilling
          name: UGX
        - description: United States dollar
          name: USD
        - description: United States dollar (next day)
          name: USN
        - description: United States dollar (same day)
          name: USS
        - description: Uruguay Peso en Unidedades Indexadas
          name: UYI
        - description: Uruguyan peso
          name: UYU
        - description: Uzbekistan som
          name: UZS
        - description: Venezuelan bolívar soberano
          name: VEF
        - description: Vietnamese đồng
          name: VND
        - description: Vanuatu vatu
          name: VUV
        - description: Samoan tala
          name: WST
        - description: CFA franc BEAC
          name: XAF
        - description: Silver
          name: XAG
        - description: Gold
          name: XAU
        - description: European Composite Unit
          name: XBA
        - description: European Monetary Unit
          name: XBB
        - description: European Unit of Account 9
          name: XBC
        - description: European Unit of Account 17
          name: XBD
        - description: East Caribbean dollar
          name: XCD
        - description: Special drawing rights (International Monetary Fund)
          name: XDR
        - description: CFA franc BCEAO
          name: XOF
        - description: Palladium
          name: XPD
        - description: CFP franc
          name: XPF
        - description: Platinum
          name: XPT
        - description: Code reserved for testing
          name: XTS
        - description: No currency
          name: XXX
        - description: Yemeni rial
          name: YER
        - description: South African rand
          name: ZAR
        - description: Zambian kwacha
          name: ZMK
        - description: Zambian kwacha
          name: ZMW
        - description: Bitcoin
          name: BTC
        - description: Ether
          name: ETH
    CustomField:
      additionalProperties: false
      properties:
        description:
          description: More information about the custom field
          example: Employee Level
          title: Description
          type: string
        id:
          example: "2389328923893298"
          title: ID
          type: string
        name:
          description: Name of the custom field.
          example: employee_level
          title: Name
          type: string
        value:
          anyOf:
            - example: Uses Salesforce and Marketo
              nullable: true
              type: string
            - example: 10
              nullable: true
              type: number
            - example: true
              nullable: true
              type: boolean
            - items:
                type: string
              type: array
      required:
        - id
      type: object
      x-apideck-schema-id: CustomField
      x-apideck-weights:
        description: edge-case
        id: critical
        name: medium
        value: critical
    DeleteEcommerceCustomerResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: delete
          type: string
        resource:
          description: Unified API resource name
          example: customers
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: DeleteEcommerceCustomerResponse
    DeleteEcommerceOrderResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: delete
          type: string
        resource:
          description: Unified API resource name
          example: orders
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: DeleteEcommerceOrderResponse
    DeleteProductResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: delete
          type: string
        resource:
          description: Unified API resource name
          example: products
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: DeleteProductResponse
    Department:
      additionalProperties: false
      properties:
        code:
          example: "2"
          nullable: true
          title: Code
          type: string
        created_at:
          $ref: "#/components/schemas/CreatedAt"
        created_by:
          $ref: "#/components/schemas/CreatedBy"
        description:
          example: R&D
          nullable: true
          title: Description
          type: string
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: Department name
          example: R&D
          nullable: true
          title: Name
          type: string
        parent_id:
          description: Parent ID
          example: "22345"
          readOnly: true
          type: string
        updated_at:
          $ref: "#/components/schemas/UpdatedAt"
        updated_by:
          $ref: "#/components/schemas/UpdatedBy"
      type: object
      x-apideck-schema-id: Department
      x-apideck-weights:
        code: medium
        created_at: medium
        created_by: edge-case
        description: low
        id: critical
        name: critical
        updated_at: medium
        updated_by: edge-case
    Description:
      description: A description of the object.
      example: A description
      nullable: true
      title: Description
      type: string
    Division:
      description: The division the person is currently in. Usually a collection of departments or teams or regions.
      example: Europe
      nullable: true
      title: Division
      type: string
    EcommerceAddress:
      description: An object representing a shipping or billing address.
      properties:
        city:
          description: City of the billing address.
          example: New York
          title: City
          type: string
        company_name:
          description: Company name of the customer
          example: Acme Inc.
          title: Company Name
          type: string
        country:
          description: Country of the billing address.
          example: US
          maxLength: 2
          title: Country
          type: string
        line1:
          description: Address line 1 of the billing address.
          example: 123 Main Street
          title: Address line 1
          type: string
        line2:
          description: Address line 2 of the billing address.
          example: Apt 1
          title: Address line 2
          type: string
        postal_code:
          description: Postal/ZIP code of the billing address.
          example: "10001"
          title: Postal code
          type: string
        state:
          description: State/province of the billing address.
          example: NY
          title: State
          type: string
      title: Ecommerce Address
      type: object
      x-apideck-schema-id: EcommerceAddress
      x-apideck-strict-required:
        - line1
        - city
        - state
        - postal_code
        - country
      x-apideck-weights:
        city: critical
        company_name: low
        country: critical
        line1: critical
        postal_code: critical
        state: critical
    EcommerceCustomer:
      additionalProperties: false
      properties:
        addresses:
          description: An array of addresses for the customer.
          items:
            additionalProperties: false
            properties:
              city:
                description: City of the customer
                example: Anytown
                title: City
                type: string
              country:
                description: Country of the customer
                example: US
                title: Country
                type: string
              id:
                $ref: "#/components/schemas/Id"
              line1:
                description: First line of the street address of the customer
                example: Main street
                title: Address Line 1
                type: string
              line2:
                description: Second line of the street address of the customer
                example: "apt #"
                title: Address Line 2
                type: string
              postal_code:
                description: Postal code of the customer
                example: "12345"
                title: Postal Code
                type: string
              state:
                description: State of the customer
                example: Ohio
                title: State
                type: string
              type:
                enum:
                  - billing
                  - shipping
                  - other
                example: billing
                type: string
                x-apideck-enum-id: ecommerce.customer.addresses.type
                x-graphql-type-name: EcommerceCustomerAddressType
            type: object
            x-apideck-strict-required:
              - line1
              - city
              - state
              - postal_code
              - country
            x-apideck-weights:
              city: critical
              country: critical
              line1: critical
              postal_code: critical
              state: critical
          title: Addresses
          type: array
        company_name:
          description: Company name of the customer
          example: Acme Inc.
          title: Company Name
          type: string
        created_at:
          $ref: "#/components/schemas/CreatedAt"
        currency:
          $ref: "#/components/schemas/Currency"
        emails:
          description: An array of email addresses for the customer.
          items:
            $ref: "#/components/schemas/Email"
          title: Email Addresses
          type: array
        first_name:
          description: First name of the customer
          example: John
          title: First Name
          type: string
        id:
          $ref: "#/components/schemas/Id"
        last_name:
          description: Last name of the customer
          example: Doe
          title: Last Name
          type: string
        name:
          description: Full name of the customer
          example: John Doe
          title: Full Name
          type: string
        orders:
          items:
            $ref: "#/components/schemas/LinkedEcommerceOrder"
          type: array
        phone_numbers:
          description: An array of phone numbers for the customer.
          items:
            $ref: "#/components/schemas/PhoneNumber"
          title: Phone Numbers
          type: array
        status:
          description: The current status of the customer
          enum:
            - active
            - archived
          example: active
          title: Customer status
          type: string
          x-apideck-enum-id: ecommerce.customer.status
          x-graphql-type-name: EcommerceCustomerStatus
        updated_at:
          $ref: "#/components/schemas/UpdatedAt"
      required:
        - id
      type: object
      x-apideck-schema-id: EcommerceCustomer
      x-apideck-strict-any-of:
        - required:
            - name
            - first_name
            - last_name
        - required:
            - company_name
      x-apideck-strict-required:
        - emails
        - addresses
      x-apideck-weights:
        currency: edge-case
        emails: critical
        first_name: critical
        id: critical
        last_name: critical
        name: critical
    EcommerceCustomersFilter:
      additionalProperties: false
      example:
        email: elon@musk.com
        phone_number: 111-111-1111
      properties:
        email:
          description: Customer email address to filter on
          example: elon@musk.com
          type: string
        phone_number:
          description: Customer phone number to filter on
          example: 111-111-1111
          type: string
      type: object
      x-apideck-schema-id: EcommerceCustomersFilter
      x-graphql-type-name: EcommerceCustomersFilter
    EcommerceDiscount:
      description: An object representing a discount applied to an ecommerce order or product.
      properties:
        amount:
          description: The fixed amount of the discount.
          example: "5.99"
          title: Discount amount
          type: string
        code:
          description: The code used to apply the discount.
          example: SUMMER20
          title: Discount code
          type: string
        percentage:
          description: The percentage of the discount.
          example: "0.1"
          title: Discount percentage
          type: string
      title: Ecommerce Discount
      type: object
      x-apideck-schema-id: EcommerceDiscount
      x-apideck-strict-one-of:
        - required:
            - amount
        - required:
            - percentage
      x-apideck-weights:
        code: low
    EcommerceOrder:
      additionalProperties: false
      properties:
        billing_address:
          $ref: "#/components/schemas/EcommerceAddress"
        created_at:
          $ref: "#/components/schemas/CreatedAt"
        currency:
          $ref: "#/components/schemas/Currency"
        customer:
          $ref: "#/components/schemas/LinkedEcommerceCustomer"
        discounts:
          items:
            $ref: "#/components/schemas/EcommerceDiscount"
          type: array
        fulfillment_status:
          description: Current fulfillment status of the order.
          enum:
            - pending
            - shipped
            - partial
            - delivered
            - cancelled
            - returned
            - unknown
          example: shipped
          title: Fulfillment status
          type: string
          x-apideck-enum-id: ecommerce.order.fulfillment_status
          x-graphql-type-name: EcommerceFulfillmentStatus
        id:
          $ref: "#/components/schemas/Id"
        line_items:
          items:
            $ref: "#/components/schemas/EcommerceOrderLineItem"
          type: array
        note:
          description: Note for the order.
          example: Special instructions for delivery
          title: Note
          type: string
        order_number:
          description: Order number, if any.
          example: "123456789"
          title: Order number
          type: string
        payment_method:
          description: Payment method used for this order.
          example: credit_card
          title: Payment method
          type: string
        payment_status:
          description: Current payment status of the order.
          enum:
            - pending
            - authorized
            - paid
            - partial
            - refunded
            - voided
            - unknown
          example: paid
          title: Payment status
          type: string
          x-apideck-enum-id: ecommerce.order.payment_status
          x-graphql-type-name: EcommercePaymentStatus
        shipping_address:
          $ref: "#/components/schemas/EcommerceAddress"
        shipping_cost:
          description: Shipping cost, if any.
          example: "5.17"
          title: Shipping cost
          type: string
        status:
          $ref: "#/components/schemas/EcommerceOrderStatus"
        sub_total:
          description: Sub-total amount, normally before tax.
          example: "45.17"
          title: Sub-total amount
          type: string
        total_amount:
          description: Total amount due.
          example: "50.17"
          title: Total amount
          type: string
        total_discount:
          description: Total discount, if any.
          example: "5.5"
          title: Total discount
          type: string
        total_tax:
          description: Total tax, if any.
          example: "5.16"
          title: Total tax
          type: string
        tracking:
          items:
            $ref: "#/components/schemas/TrackingItem"
          type: array
        updated_at:
          $ref: "#/components/schemas/UpdatedAt"
      required:
        - id
      type: object
      x-apideck-schema-id: EcommerceOrder
      x-apideck-strict-any-of:
        - required:
            - status
        - required:
            - payment_status
        - required:
            - fulfillment_status
      x-apideck-strict-required:
        - currency
        - total_tax
        - total_amount
        - customer
        - billing_address
        - shipping_address
        - line_items
      x-apideck-weights:
        billing_address: critical
        currency: critical
        customer: critical
        fulfillment_status: critical
        id: critical
        line_items: critical
        payment_method: critical
        payment_status: critical
        shipping_address: critical
        status: critical
        total_amount: critical
        total_tax: critical
    EcommerceOrderLineItem:
      description: A single line item of an ecommerce order, representing a product or variant with associated options, quantity, and pricing information.
      properties:
        description:
          description: The description of the product or variant associated with the line item.
          example: Powerful and portable, the MacBook Pro is perfect for professionals and creatives.
          title: Description
          type: string
        discounts:
          items:
            $ref: "#/components/schemas/EcommerceDiscount"
          type: array
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: The name of the product or variant associated with the line item.
          example: Midnight 16inch MacBook Pro
          title: Name
          type: string
        options:
          items:
            properties:
              id:
                description: A unique identifier for the option.
                example: jkl012
                title: Option identifier
                type: string
              name:
                description: The name of the option.
                example: Color
                title: Option Name
                type: string
              value:
                description: The value of the option.
                example: Silver
                title: Option Value
                type: string
          type: array
        product_id:
          description: A unique identifier for the product associated with the line item.
          example: def456
          title: Product ID
          type: string
        quantity:
          description: The quantity of the product or variant associated with the line item.
          example: "2"
          title: Quantity
          type: string
        sku:
          description: The SKU of the product or variant associated with the line item.
          example: MBP123-16GB-SILVER-13
          title: SKU
          type: string
        tax_amount:
          description: The total tax amount applied to the product or variant associated with the line item.
          example: "1.6"
          title: Tax amount
          type: string
        tax_rate:
          description: The tax rate applied to the product or variant associated with the line item.
          example: "0.08"
          title: Tax rate
          type: string
        total_amount:
          description: The total amount for the product(s) or variant associated with the line item, including taxes and discounts.
          example: "43.18"
          title: Total amount
          type: string
        unit_price:
          description: The unit price of the product or variant associated with the line item.
          example: "19.99"
          title: Unit price
          type: string
        variant_id:
          description: A unique identifier for the variant of the product associated with the line item, if applicable.
          example: ghi789
          title: Variant ID
          type: string
      required:
        - name
        - quantity
        - total_amount
      title: Ecommerce Order Line Item
      type: object
      x-apideck-schema-id: EcommerceOrderLineItem
      x-apideck-strict-any-of:
        - required:
            - id
        - required:
            - product_id
      x-apideck-strict-required:
        - name
        - quantity
        - total_amount
      x-apideck-weights:
        name: critical
        quantity: critical
        total_amount: critical
        unit_price: critical
    EcommerceOrderStatus:
      description: Current status of the order.
      enum:
        - active
        - completed
        - cancelled
        - archived
        - unknown
      example: active
      title: Order Status
      type: string
      x-apideck-enum-id: order.status
      x-graphql-type-name: EcommerceOrderStatus
    EcommerceOrdersFilter:
      additionalProperties: false
      example:
        email: elon@musk.com
      properties:
        email:
          description: Customer email address to filter on
          example: elon@musk.com
          type: string
      type: object
      x-apideck-schema-id: EcommerceOrdersFilter
      x-graphql-type-name: EcommerceOrdersFilter
    EcommerceProduct:
      additionalProperties: false
      properties:
        categories:
          description: An array of categories for the product, used for organization and searching.
          items:
            properties:
              id:
                $ref: "#/components/schemas/Id"
              name:
                description: The name of the category.
                example: Laptops
                title: Product Category Name
                type: string
            type: object
            x-apideck-strict-required:
              - name
            x-graphql-type-name: EcommerceProductCategory
          title: Product Categories
          type: array
        created_at:
          $ref: "#/components/schemas/CreatedAt"
        description:
          description: A detailed description of the product.
          example: Powerful and portable, the MacBook Pro is perfect for professionals and creatives.
          title: Product Description
          type: string
        id:
          $ref: "#/components/schemas/Id"
        images:
          description: An array of image URLs for the product.
          items:
            properties:
              id:
                $ref: "#/components/schemas/Id"
              url:
                description: The URL of an image of the product.
                example: https://example.com/macbook-pro.jpg
                title: Image URL
                type: string
            type: object
            x-apideck-strict-required:
              - url
            x-graphql-type-name: EcommerceProductImage
          title: Product Images
          type: array
        inventory_quantity:
          description: The quantity of the product in stock.
          example: "10"
          title: Inventory Quantity
          type: string
        name:
          description: The name of the product as it should be displayed to customers.
          example: MacBook Pro
          title: Product Name
          type: string
        options:
          description: An array of options for the product.
          items:
            properties:
              id:
                description: A unique identifier for the option of the product.
                example: "1"
                title: Option ID
                type: string
              name:
                description: The name of the option for the product.
                example: Color
                title: Option Name
                type: string
              values:
                items:
                  description: The possible values of the option for the product.
                  example: Red
                  title: Option Values
                  type: string
                type: array
            type: object
            x-apideck-strict-required:
              - name
              - values
            x-graphql-type-name: EcommerceProductOption
          title: Product Options
          type: array
        price:
          description: The price of the product.
          example: "1999.99"
          title: Product Price
          type: string
        sku:
          description: The stock keeping unit of the product.
          example: MBP123
          title: Product SKU
          type: string
        status:
          description: The current status of the product (active or archived).
          enum:
            - active
            - archived
          example: active
          title: Product Status
          type: string
          x-apideck-enum-id: ecommerce.products.status
          x-graphql-type-name: EcommerceProductStatus
        tags:
          description: An array of tags for the product, used for organization and searching.
          items:
            example: Apple
            type: string
          title: Product Tags
          type: array
        updated_at:
          $ref: "#/components/schemas/UpdatedAt"
        variants:
          items:
            properties:
              id:
                description: A unique identifier for the variant of the product.
                example: "1"
                title: Variant ID
                type: string
              images:
                items:
                  properties:
                    id:
                      $ref: "#/components/schemas/Id"
                    url:
                      description: The URL of an image of the variant.
                      example: https://example.com/macbook-pro.jpg
                      title: Image URL
                      type: string
                  type: object
                  x-apideck-strict-required:
                    - url
                  x-graphql-type-name: EcommerceVariantImage
                type: array
              inventory_quantity:
                description: The quantity of the variant in stock.
                example: "5"
                title: Inventory Quantity
                type: string
              name:
                description: The name for the variant, used for displaying to customers.
                example: Midnight 16inch MacBook Pro
                title: Variant Name
                type: string
              options:
                items:
                  properties:
                    id:
                      description: A unique identifier for the option of the variant.
                      example: "1"
                      title: Option ID
                      type: string
                    name:
                      description: The name of the option for the variant.
                      example: Color
                      title: Option Name
                      type: string
                    value:
                      description: The value of the option for the variant.
                      example: Silver
                      title: Option Value
                      type: string
                  type: object
                  x-graphql-type-name: EcommerceVariantOption
                type: array
              price:
                description: The price of the variant.
                example: "1999.99"
                title: Variant Price
                type: string
              sku:
                description: The stock keeping unit of the variant.
                example: MBP123-16GB-SILVER-13
                title: Variant SKU
                type: string
              weight:
                description: The weight of the variant.
                example: "1.25"
                title: Weight
                type: string
              weight_unit:
                description: The unit of measurement for the weight of the variant.
                example: lb
                title: Weight Unit
                type: string
            type: object
            x-apideck-strict-required:
              - id
              - name
              - price
              - options
          type: array
        weight:
          description: The weight of the product.
          example: "1.25"
          title: Product Weight
          type: string
        weight_unit:
          description: The unit of measurement for the weight of the product.
          example: lb
          title: Weight Unit
          type: string
      required:
        - id
      type: object
      x-apideck-schema-id: EcommerceProduct
      x-apideck-strict-any-of:
        - required:
            - price
        - required:
            - variants
      x-apideck-strict-required:
        - name
      x-apideck-weights:
        id: critical
        name: critical
        price: critical
    EcommerceStore:
      additionalProperties: false
      properties:
        admin_url:
          description: The store's admin login URL
          example: https://mybrand.com/admin
          format: uri
          pattern: ^https?://
          title: Store Admin URL
          type: string
        created_at:
          $ref: "#/components/schemas/CreatedAt"
        id:
          $ref: "#/components/schemas/Id"
        name:
          description: The store's name
          example: My Store
          title: Store name
          type: string
        store_url:
          description: The store's website URL
          example: https://mybrand.com/shop
          format: uri
          pattern: ^https?://
          title: Store URL
          type: string
        updated_at:
          $ref: "#/components/schemas/UpdatedAt"
      required:
        - id
      type: object
      x-apideck-schema-id: EcommerceStore
    Email:
      additionalProperties: false
      properties:
        email:
          example: elon@musk.com
          format: email
          minLength: 1
          type: string
        id:
          example: "123"
          type: string
        type:
          enum:
            - primary
            - secondary
            - work
            - personal
            - billing
            - other
          example: primary
          type: string
          x-apideck-enum-id: emails.type
          x-graphql-type-name: EmailType
      required:
        - email
      type: object
      x-apideck-schema-id: Email
      x-apideck-weights:
        email: critical
        id: edge-case
        type: critical
    FirstName:
      description: The first name of the person.
      example: Elon
      nullable: true
      title: First name
      type: string
    Gender:
      description: The gender represents the gender identity of a person.
      enum:
        - male
        - female
        - unisex
        - other
        - not_specified
      example: male
      nullable: true
      title: Gender
      type: string
      x-apideck-enum-id: genders
    GetEcommerceCustomerResponse:
      properties:
        data:
          $ref: "#/components/schemas/EcommerceCustomer"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: customers
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetEcommerceCustomerResponse
      x-graphql-type-name: EcommerceCustomer
    GetEcommerceCustomersResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/EcommerceCustomer"
          type: array
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
        operation:
          description: Operation performed
          example: all
          type: string
        resource:
          description: Unified API resource name
          example: customers
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetEcommerceCustomersResponse
      x-graphql-type-name: EcommerceCustomerList
    GetEcommerceOrderResponse:
      properties:
        data:
          $ref: "#/components/schemas/EcommerceOrder"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: orders
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetEcommerceOrderResponse
      x-graphql-type-name: EcommerceOrder
    GetEcommerceOrdersResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/EcommerceOrder"
          type: array
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
        operation:
          description: Operation performed
          example: all
          type: string
        resource:
          description: Unified API resource name
          example: orders
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetEcommerceOrdersResponse
      x-graphql-type-name: EcommerceOrderList
    GetProductResponse:
      properties:
        data:
          $ref: "#/components/schemas/EcommerceProduct"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: products
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetProductResponse
      x-graphql-type-name: EcommerceProduct
    GetProductsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/EcommerceProduct"
          type: array
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
        operation:
          description: Operation performed
          example: all
          type: string
        resource:
          description: Unified API resource name
          example: products
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetProductsResponse
      x-graphql-type-name: EcommerceProductList
    GetStoreResponse:
      properties:
        data:
          $ref: "#/components/schemas/EcommerceStore"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: stores
          type: string
        service:
          description: Apideck ID of service provider
          example: shopify
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
      x-apideck-schema-id: GetStoreResponse
      x-graphql-type-name: EcommerceStore
    GetStoresResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/EcommerceStore"
          type: array
[...]
