swagger: '2.0'
schemes:
  - https
  - http
host: workspaces.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows and Amazon Linux desktops for your users.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon WorkSpaces
  version: '2015-04-08'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workspaces-2015-04-08.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: workspaces
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/workspaces/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=WorkspacesService.AssociateIpGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates the specified IP access control group with the specified directory.
      operationId: AssociateIpGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateIpGroupsRequest'
        - enum:
            - WorkspacesService.AssociateIpGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateIpGroupsResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '483':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
  '/#X-Amz-Target=WorkspacesService.AuthorizeIpRules':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>
      operationId: AuthorizeIpRules
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AuthorizeIpRulesRequest'
        - enum:
            - WorkspacesService.AuthorizeIpRules
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeIpRulesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '483':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.CopyWorkspaceImage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Copies the specified image from the specified Region to the current Region.
      operationId: CopyWorkspaceImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CopyWorkspaceImageRequest'
        - enum:
            - WorkspacesService.CopyWorkspaceImage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyWorkspaceImageResult'
        '480':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.CreateIpGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don''t associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>'
      operationId: CreateIpGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateIpGroupRequest'
        - enum:
            - WorkspacesService.CreateIpGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateIpGroupResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '483':
          description: ResourceCreationFailedException
          schema:
            $ref: '#/definitions/ResourceCreationFailedException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.CreateTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates the specified tags for the specified WorkSpaces resource.
      operationId: CreateTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateTagsRequest'
        - enum:
            - WorkspacesService.CreateTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTagsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
  '/#X-Amz-Target=WorkspacesService.CreateWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>
      operationId: CreateWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateWorkspacesRequest'
        - enum:
            - WorkspacesService.CreateWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWorkspacesResult'
        '480':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '481':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.DeleteIpGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>
      operationId: DeleteIpGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIpGroupRequest'
        - enum:
            - WorkspacesService.DeleteIpGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIpGroupResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceAssociatedException
          schema:
            $ref: '#/definitions/ResourceAssociatedException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DeleteTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified tags from the specified WorkSpaces resource.
      operationId: DeleteTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsRequest'
        - enum:
            - WorkspacesService.DeleteTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTagsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.DeleteWorkspaceImage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the specified image from your account. To delete an image, you must first delete any bundles that are associated with the image and un-share the image if it is shared with other accounts. '
      operationId: DeleteWorkspaceImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteWorkspaceImageRequest'
        - enum:
            - WorkspacesService.DeleteWorkspaceImage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWorkspaceImageResult'
        '480':
          description: ResourceAssociatedException
          schema:
            $ref: '#/definitions/ResourceAssociatedException'
        '481':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DescribeAccount':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list that describes the configuration of bring your own license (BYOL) for the specified account.
      operationId: DescribeAccount
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountRequest'
        - enum:
            - WorkspacesService.DescribeAccount
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DescribeAccountModifications':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list that describes modifications to the configuration of bring your own license (BYOL) for the specified account.
      operationId: DescribeAccountModifications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountModificationsRequest'
        - enum:
            - WorkspacesService.DescribeAccountModifications
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountModificationsResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DescribeClientProperties':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list that describes one or more specified Amazon WorkSpaces clients.
      operationId: DescribeClientProperties
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClientPropertiesRequest'
        - enum:
            - WorkspacesService.DescribeClientProperties
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClientPropertiesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DescribeIpGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes one or more of your IP access control groups.
      operationId: DescribeIpGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIpGroupsRequest'
        - enum:
            - WorkspacesService.DescribeIpGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIpGroupsResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DescribeTags':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified tags for the specified WorkSpaces resource.
      operationId: DescribeTags
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsRequest'
        - enum:
            - WorkspacesService.DescribeTags
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=WorkspacesService.DescribeWorkspaceBundles':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves a list that describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>'
      operationId: DescribeWorkspaceBundles
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspaceBundlesRequest'
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkspacesService.DescribeWorkspaceBundles
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspaceBundlesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.DescribeWorkspaceDirectories':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the available AWS Directory Service directories that are registered with Amazon WorkSpaces.
      operationId: DescribeWorkspaceDirectories
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspaceDirectoriesRequest'
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkspacesService.DescribeWorkspaceDirectories
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspaceDirectoriesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.DescribeWorkspaceImages':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves a list that describes one or more specified images, if the image identifiers are provided. Otherwise, all images in the account are described. '
      operationId: DescribeWorkspaceImages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspaceImagesRequest'
        - enum:
            - WorkspacesService.DescribeWorkspaceImages
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspaceImagesResult'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.DescribeWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the specified WorkSpaces.</p> <p>You can filter the results by using the bundle identifier, directory identifier, or owner, but you can specify only one filter at a time.</p>'
      operationId: DescribeWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspacesRequest'
        - description: Pagination limit
          in: query
          name: Limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - WorkspacesService.DescribeWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspacesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
  '/#X-Amz-Target=WorkspacesService.DescribeWorkspacesConnectionStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the connection status of the specified WorkSpaces.
      operationId: DescribeWorkspacesConnectionStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspacesConnectionStatusRequest'
        - enum:
            - WorkspacesService.DescribeWorkspacesConnectionStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspacesConnectionStatusResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.DisassociateIpGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates the specified IP access control group from the specified directory.
      operationId: DisassociateIpGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateIpGroupsRequest'
        - enum:
            - WorkspacesService.DisassociateIpGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateIpGroupsResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.ImportWorkspaceImage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Imports the specified Windows 7 or Windows 10 bring your own license (BYOL) image into Amazon WorkSpaces. The image must be an already licensed EC2 image that is in your AWS account, and you must own the image. '
      operationId: ImportWorkspaceImage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ImportWorkspaceImageRequest'
        - enum:
            - WorkspacesService.ImportWorkspaceImage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportWorkspaceImageResult'
        '480':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
  '/#X-Amz-Target=WorkspacesService.ListAvailableManagementCidrRanges':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves a list of IP address ranges, specified as IPv4 CIDR blocks, that you can use for the network management interface when you enable bring your own license (BYOL). </p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>'
      operationId: ListAvailableManagementCidrRanges
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAvailableManagementCidrRangesRequest'
        - enum:
            - WorkspacesService.ListAvailableManagementCidrRanges
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAvailableManagementCidrRangesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.ModifyAccount':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the configuration of bring your own license (BYOL) for the specified account.
      operationId: ModifyAccount
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyAccountRequest'
        - enum:
            - WorkspacesService.ModifyAccount
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyAccountResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=WorkspacesService.ModifyClientProperties':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the properties of the specified Amazon WorkSpaces clients.
      operationId: ModifyClientProperties
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyClientPropertiesRequest'
        - enum:
            - WorkspacesService.ModifyClientProperties
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyClientPropertiesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.ModifyWorkspaceProperties':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the specified WorkSpace properties.
      operationId: ModifyWorkspaceProperties
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyWorkspacePropertiesRequest'
        - enum:
            - WorkspacesService.ModifyWorkspaceProperties
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyWorkspacePropertiesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '482':
          description: OperationInProgressException
          schema:
            $ref: '#/definitions/OperationInProgressException'
        '483':
          description: UnsupportedWorkspaceConfigurationException
          schema:
            $ref: '#/definitions/UnsupportedWorkspaceConfigurationException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
  '/#X-Amz-Target=WorkspacesService.ModifyWorkspaceState':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Sets the state of the specified WorkSpace.</p> <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to reboot, stop, start, rebuild, or restore. An AutoStop WorkSpace in this state is not stopped. Users cannot log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code> state.</p>'
      operationId: ModifyWorkspaceState
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyWorkspaceStateRequest'
        - enum:
            - WorkspacesService.ModifyWorkspaceState
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyWorkspaceStateResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=WorkspacesService.RebootWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code> or <code>UNHEALTHY</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>
      operationId: RebootWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RebootWorkspacesRequest'
        - enum:
            - WorkspacesService.RebootWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootWorkspacesResult'
  '/#X-Amz-Target=WorkspacesService.RebuildWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Rebuilds the specified WorkSpace.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>, <code>ERROR</code>, or <code>UNHEALTHY</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href="https://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>'
      operationId: RebuildWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RebuildWorkspacesRequest'
        - enum:
            - WorkspacesService.RebuildWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebuildWorkspacesResult'
  '/#X-Amz-Target=WorkspacesService.RevokeIpRules':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes one or more rules from the specified IP access control group.
      operationId: RevokeIpRules
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RevokeIpRulesRequest'
        - enum:
            - WorkspacesService.RevokeIpRules
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokeIpRulesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=WorkspacesService.StartWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>
      operationId: StartWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartWorkspacesRequest'
        - enum:
            - WorkspacesService.StartWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartWorkspacesResult'
  '/#X-Amz-Target=WorkspacesService.StopWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>'
      operationId: StopWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopWorkspacesRequest'
        - enum:
            - WorkspacesService.StopWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopWorkspacesResult'
  '/#X-Amz-Target=WorkspacesService.TerminateWorkspaces':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user''s data is destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated.</p>'
      operationId: TerminateWorkspaces
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TerminateWorkspacesRequest'
        - enum:
            - WorkspacesService.TerminateWorkspaces
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TerminateWorkspacesResult'
  '/#X-Amz-Target=WorkspacesService.UpdateRulesOfIpGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Replaces the current rules of the specified IP access control group with the specified rules.
      operationId: UpdateRulesOfIpGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateRulesOfIpGroupRequest'
        - enum:
            - WorkspacesService.UpdateRulesOfIpGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRulesOfIpGroupResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '483':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
definitions:
  ARN:
    pattern: '^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$'
    type: string
  AccessDeniedException: {}
  AccountModification:
    description: 'Describes a modification to the configuration of bring your own license (BYOL) for the specified account. '
    properties:
      DedicatedTenancyManagementCidrRange:
        $ref: '#/definitions/DedicatedTenancyManagementCidrRange'
        description: 'The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.'
      DedicatedTenancySupport:
        $ref: '#/definitions/DedicatedTenancySupportResultEnum'
        description: The status of BYOL (whether BYOL is being enabled or disabled).
      ErrorCode:
        $ref: '#/definitions/WorkspaceErrorCode'
        description: The error code that is returned if the configuration of BYOL cannot be modified.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The text of the error message that is returned if the configuration of BYOL cannot be modified.
      ModificationState:
        $ref: '#/definitions/DedicatedTenancyModificationStateEnum'
        description: The state of the modification to the configuration of BYOL.
      StartTime:
        $ref: '#/definitions/Timestamp'
        description: The timestamp when the modification of the BYOL configuration was started.
    type: object
  AccountModificationList:
    items:
      $ref: '#/definitions/AccountModification'
    type: array
  Alias:
    type: string
  AssociateIpGroupsRequest:
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory.
      GroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The identifiers of one or more IP access control groups.
    required:
      - DirectoryId
      - GroupIds
    type: object
  AssociateIpGroupsResult:
    properties: {}
    type: object
  AuthorizeIpRulesRequest:
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The identifier of the group.
      UserRules:
        $ref: '#/definitions/IpRuleList'
        description: The rules to add to the group.
    required:
      - GroupId
      - UserRules
    type: object
  AuthorizeIpRulesResult:
    properties: {}
    type: object
  BooleanObject:
    type: boolean
  BundleId:
    pattern: '^wsb-[0-9a-z]{8,63}$'
    type: string
  BundleIdList:
    items:
      $ref: '#/definitions/BundleId'
    maxItems: 25
    minItems: 1
    type: array
  BundleList:
    items:
      $ref: '#/definitions/WorkspaceBundle'
    type: array
  BundleOwner:
    type: string
  ClientProperties:
    description: Describes an Amazon WorkSpaces client.
    properties:
      ReconnectEnabled:
        $ref: '#/definitions/ReconnectEnum'
        description: 'Specifies whether users can cache their credentials on the Amazon WorkSpaces client. When enabled, users can choose to reconnect to their WorkSpaces without re-entering their credentials. '
    type: object
  ClientPropertiesList:
    items:
      $ref: '#/definitions/ClientPropertiesResult'
    type: array
  ClientPropertiesResult:
    description: Information about the Amazon WorkSpaces client.
    properties:
      ClientProperties:
        $ref: '#/definitions/ClientProperties'
        description: Information about the Amazon WorkSpaces client.
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The resource identifier, in the form of a directory ID.'
    type: object
  Compute:
    enum:
      - VALUE
      - STANDARD
      - PERFORMANCE
      - POWER
      - GRAPHICS
      - POWERPRO
      - GRAPHICSPRO
    type: string
  ComputeType:
    description: Describes the compute type.
    properties:
      Name:
        $ref: '#/definitions/Compute'
        description: The compute type.
    type: object
  ComputerName:
    type: string
  ConnectionState:
    enum:
      - CONNECTED
      - DISCONNECTED
      - UNKNOWN
    type: string
  CopyWorkspaceImageRequest:
    properties:
      Description:
        $ref: '#/definitions/WorkspaceImageDescription'
        description: A description of the image.
      Name:
        $ref: '#/definitions/WorkspaceImageName'
        description: The name of the image.
      SourceImageId:
        $ref: '#/definitions/WorkspaceImageId'
        description: The identifier of the source image.
      SourceRegion:
        $ref: '#/definitions/Region'
        description: The identifier of the source Region.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags for the image.
    required:
      - Name
      - SourceImageId
      - SourceRegion
    type: object
  CopyWorkspaceImageResult:
    properties:
      ImageId:
        $ref: '#/definitions/WorkspaceImageId'
        description: The identifier of the image.
    type: object
  CreateIpGroupRequest:
    properties:
      GroupDesc:
        $ref: '#/definitions/IpGroupDesc'
        description: The description of the group.
      GroupName:
        $ref: '#/definitions/IpGroupName'
        description: The name of the group.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags. Each WorkSpaces resource can have a maximum of 50 tags.
      UserRules:
        $ref: '#/definitions/IpRuleList'
        description: The rules to add to the group.
    required:
      - GroupName
    type: object
  CreateIpGroupResult:
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The identifier of the group.
    type: object
  CreateTagsRequest:
    properties:
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, and IP access control groups.'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags. Each WorkSpaces resource can have a maximum of 50 tags.
    required:
      - ResourceId
      - Tags
    type: object
  CreateTagsResult:
    properties: {}
    type: object
  CreateWorkspacesRequest:
    properties:
      Workspaces:
        $ref: '#/definitions/WorkspaceRequestList'
        description: The WorkSpaces to create. You can specify up to 25 WorkSpaces.
    required:
      - Workspaces
    type: object
  CreateWorkspacesResult:
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedCreateWorkspaceRequests'
        description: Information about the WorkSpaces that could not be created.
      PendingRequests:
        $ref: '#/definitions/WorkspaceList'
        description: '<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>'
    type: object
  DedicatedTenancyCidrRangeList:
    items:
      $ref: '#/definitions/DedicatedTenancyManagementCidrRange'
    type: array
  DedicatedTenancyManagementCidrRange:
    pattern: '(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.0\.0)(\/(16$))$'
    type: string
  DedicatedTenancyModificationStateEnum:
    enum:
      - PENDING
      - COMPLETED
      - FAILED
    type: string
  DedicatedTenancySupportEnum:
    enum:
      - ENABLED
    type: string
  DedicatedTenancySupportResultEnum:
    enum:
      - ENABLED
      - DISABLED
    type: string
  DefaultOu:
    type: string
  DefaultWorkspaceCreationProperties:
    description: Describes the default values used to create a WorkSpace.
    properties:
      CustomSecurityGroupId:
        $ref: '#/definitions/SecurityGroupId'
        description: The identifier of any security groups to apply to WorkSpaces when they are created.
      DefaultOu:
        $ref: '#/definitions/DefaultOu'
        description: The organizational unit (OU) in the directory for the WorkSpace machine accounts.
      EnableInternetAccess:
        $ref: '#/definitions/BooleanObject'
        description: The public IP address to attach to all WorkSpaces that are created or rebuilt.
      EnableWorkDocs:
        $ref: '#/definitions/BooleanObject'
        description: Specifies whether the directory is enabled for Amazon WorkDocs.
      UserEnabledAsLocalAdministrator:
        $ref: '#/definitions/BooleanObject'
        description: Specifies whether the WorkSpace user is an administrator on the WorkSpace.
    type: object
  DeleteIpGroupRequest:
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The identifier of the IP access control group.
    required:
      - GroupId
    type: object
  DeleteIpGroupResult:
    properties: {}
    type: object
  DeleteTagsRequest:
    properties:
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, and IP access control groups.'
      TagKeys:
        $ref: '#/definitions/TagKeyList'
        description: The tag keys.
    required:
      - ResourceId
      - TagKeys
    type: object
  DeleteTagsResult:
    properties: {}
    type: object
  DeleteWorkspaceImageRequest:
    properties:
      ImageId:
        $ref: '#/definitions/WorkspaceImageId'
        description: The identifier of the image.
    required:
      - ImageId
    type: object
  DeleteWorkspaceImageResult:
    properties: {}
    type: object
  DescribeAccountModificationsRequest:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
    type: object
  DescribeAccountModificationsResult:
    properties:
      AccountModifications:
        $ref: '#/definitions/AccountModificationList'
        description: The list of modifications to the configuration of BYOL.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
    type: object
  DescribeAccountRequest:
    properties: {}
    type: object
  DescribeAccountResult:
    properties:
      DedicatedTenancyManagementCidrRange:
        $ref: '#/definitions/DedicatedTenancyManagementCidrRange'
        description: '<p>The IP address range, specified as an IPv4 CIDR block, used for the management network interface.</p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>'
      DedicatedTenancySupport:
        $ref: '#/definitions/DedicatedTenancySupportResultEnum'
        description: The status of BYOL (whether BYOL is enabled or disabled).
    type: object
  DescribeClientPropertiesRequest:
    properties:
      ResourceIds:
        $ref: '#/definitions/ResourceIdList'
        description: 'The resource identifier, in the form of directory IDs.'
    required:
      - ResourceIds
    type: object
  DescribeClientPropertiesResult:
    properties:
      ClientPropertiesList:
        $ref: '#/definitions/ClientPropertiesList'
        description: Information about the specified Amazon WorkSpaces clients.
    type: object
  DescribeIpGroupsRequest:
    properties:
      GroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The identifiers of one or more IP access control groups.
      MaxResults:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to return.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
    type: object
  DescribeIpGroupsResult:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
      Result:
        $ref: '#/definitions/WorkspacesIpGroupsList'
        description: Information about the IP access control groups.
    type: object
  DescribeTagsRequest:
    properties:
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, and IP access control groups.'
    required:
      - ResourceId
    type: object
  DescribeTagsResult:
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: The tags.
    type: object
  DescribeWorkspaceBundlesRequest:
    properties:
      BundleIds:
        $ref: '#/definitions/BundleIdList'
        description: The identifiers of the bundles. You cannot combine this parameter with any other filter.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next set of results. (You received this token from a previous call.)
      Owner:
        $ref: '#/definitions/BundleOwner'
        description: <p>The owner of the bundles. You cannot combine this parameter with any other filter.</p> <p>Specify <code>AMAZON</code> to describe the bundles provided by AWS or null to describe the bundles that belong to your account.</p>
    type: object
  DescribeWorkspaceBundlesResult:
    properties:
      Bundles:
        $ref: '#/definitions/BundleList'
        description: Information about the bundles.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if there are no more results available. This token is valid for one day and must be used within that time frame.'
    type: object
  DescribeWorkspaceDirectoriesRequest:
    properties:
      DirectoryIds:
        $ref: '#/definitions/DirectoryIdList'
        description: 'The identifiers of the directories. If the value is null, all directories are retrieved.'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
    type: object
  DescribeWorkspaceDirectoriesResult:
    properties:
      Directories:
        $ref: '#/definitions/DirectoryList'
        description: Information about the directories.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
    type: object
  DescribeWorkspaceImagesRequest:
    properties:
      ImageIds:
        $ref: '#/definitions/WorkspaceImageIdList'
        description: The identifier of the image.
      MaxResults:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to return.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
    type: object
  DescribeWorkspaceImagesResult:
    properties:
      Images:
        $ref: '#/definitions/WorkspaceImageList'
        description: Information about the images.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
    type: object
  DescribeWorkspacesConnectionStatusRequest:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
      WorkspaceIds:
        $ref: '#/definitions/WorkspaceIdList'
        description: The identifiers of the WorkSpaces. You can specify up to 25 WorkSpaces.
    type: object
  DescribeWorkspacesConnectionStatusResult:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
      WorkspacesConnectionStatus:
        $ref: '#/definitions/WorkspaceConnectionStatusList'
        description: Information about the connection status of the WorkSpace.
    type: object
  DescribeWorkspacesRequest:
    properties:
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The identifier of the bundle. All WorkSpaces that are created from this bundle are retrieved. You cannot combine this parameter with any other filter.
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: 'The identifier of the directory. In addition, you can optionally specify a specific directory user (see <code>UserName</code>). You cannot combine this parameter with any other filter.'
      Limit:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to return.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the directory user. You must specify this parameter with <code>DirectoryId</code>.
      WorkspaceIds:
        $ref: '#/definitions/WorkspaceIdList'
        description: '<p>The identifiers of the WorkSpaces. You cannot combine this parameter with any other filter.</p> <p>Because the <a>CreateWorkspaces</a> operation is asynchronous, the identifier it returns is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information is returned.</p>'
    type: object
  DescribeWorkspacesResult:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
      Workspaces:
        $ref: '#/definitions/WorkspaceList'
        description: '<p>Information about the WorkSpaces.</p> <p>Because <a>CreateWorkspaces</a> is an asynchronous operation, some of the returned information could be incomplete.</p>'
    type: object
  Description:
    type: string
  DirectoryId:
    pattern: '^d-[0-9a-f]{8,63}$'
    type: string
  DirectoryIdList:
    items:
      $ref: '#/definitions/DirectoryId'
    maxItems: 25
    minItems: 1
    type: array
  DirectoryList:
    items:
      $ref: '#/definitions/WorkspaceDirectory'
    type: array
  DirectoryName:
    type: string
  DisassociateIpGroupsRequest:
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory.
      GroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The identifiers of one or more IP access control groups.
    required:
      - DirectoryId
      - GroupIds
    type: object
  DisassociateIpGroupsResult:
    properties: {}
    type: object
  DnsIpAddresses:
    items:
      $ref: '#/definitions/IpAddress'
    type: array
  Ec2ImageId:
    pattern: '^ami\-([a-f0-9]{8}|[a-f0-9]{17})$'
    type: string
  ErrorType:
    type: string
  FailedCreateWorkspaceRequest:
    description: Describes a WorkSpace that cannot be created.
    properties:
      ErrorCode:
        $ref: '#/definitions/ErrorType'
        description: The error code that is returned if the WorkSpace cannot be created.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The text of the error message that is returned if the WorkSpace cannot be created.
      WorkspaceRequest:
        $ref: '#/definitions/WorkspaceRequest'
        description: Information about the WorkSpace.
    type: object
  FailedCreateWorkspaceRequests:
    items:
      $ref: '#/definitions/FailedCreateWorkspaceRequest'
    type: array
  FailedRebootWorkspaceRequests:
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
    type: array
  FailedRebuildWorkspaceRequests:
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
    type: array
  FailedStartWorkspaceRequests:
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
    type: array
  FailedStopWorkspaceRequests:
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
    type: array
  FailedTerminateWorkspaceRequests:
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
    type: array
  FailedWorkspaceChangeRequest:
    description: 'Describes a WorkSpace that could not be rebooted. (<a>RebootWorkspaces</a>), rebuilt (<a>RebuildWorkspaces</a>), terminated (<a>TerminateWorkspaces</a>), started (<a>StartWorkspaces</a>), or stopped (<a>StopWorkspaces</a>).'
    properties:
      ErrorCode:
        $ref: '#/definitions/ErrorType'
        description: The error code that is returned if the WorkSpace cannot be rebooted.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The text of the error message that is returned if the WorkSpace cannot be rebooted.
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    type: object
  ImportWorkspaceImageRequest:
    properties:
      Ec2ImageId:
        $ref: '#/definitions/Ec2ImageId'
        description: The identifier of the EC2 image.
      ImageDescription:
        $ref: '#/definitions/WorkspaceImageDescription'
        description: The description of the WorkSpace image.
      ImageName:
        $ref: '#/definitions/WorkspaceImageName'
        description: The name of the WorkSpace image.
      IngestionProcess:
        $ref: '#/definitions/WorkspaceImageIngestionProcess'
        description: The ingestion process to be used when importing the image.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags. Each WorkSpaces resource can have a maximum of 50 tags.
    required:
      - Ec2ImageId
      - IngestionProcess
      - ImageName
      - ImageDescription
    type: object
  ImportWorkspaceImageResult:
    properties:
      ImageId:
        $ref: '#/definitions/WorkspaceImageId'
        description: The identifier of the WorkSpace image.
    type: object
  InvalidParameterValuesException: {}
  InvalidResourceStateException: {}
  IpAddress:
    type: string
  IpGroupDesc:
    type: string
  IpGroupId:
    pattern: 'wsipg-[0-9a-z]{8,63}$'
    type: string
  IpGroupIdList:
    items:
      $ref: '#/definitions/IpGroupId'
    type: array
  IpGroupName:
    type: string
  IpRevokedRuleList:
    items:
      $ref: '#/definitions/IpRule'
    type: array
  IpRule:
    type: string
  IpRuleDesc:
    type: string
  IpRuleItem:
    description: Describes a rule for an IP access control group.
    properties:
      ipRule:
        $ref: '#/definitions/IpRule'
        description: 'The IP address range, in CIDR notation.'
      ruleDesc:
        $ref: '#/definitions/IpRuleDesc'
        description: The description.
    type: object
  IpRuleList:
    items:
      $ref: '#/definitions/IpRuleItem'
    type: array
  Limit:
    maximum: 25
    minimum: 1
    type: integer
  ListAvailableManagementCidrRangesRequest:
    properties:
      ManagementCidrRangeConstraint:
        $ref: '#/definitions/ManagementCidrRangeConstraint'
        description: 'The IP address range to search. Specify an IP address range that is compatible with your network and in CIDR notation (that is, specify the range as an IPv4 CIDR block).'
      MaxResults:
        $ref: '#/definitions/ManagementCidrRangeMaxResults'
        description: The maximum number of items to return.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.'
    required:
      - ManagementCidrRangeConstraint
    type: object
  ListAvailableManagementCidrRangesResult:
    properties:
      ManagementCidrRanges:
        $ref: '#/definitions/DedicatedTenancyCidrRangeList'
        description: 'The list of available IP address ranges, specified as IPv4 CIDR blocks.'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if no more results are available.'
    type: object
  ManagementCidrRangeConstraint:
    pattern: '^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/(3[0-2]|[1-2][0-9]|[0-9]))$'
    type: string
  ManagementCidrRangeMaxResults:
    maximum: 5
    minimum: 1
    type: integer
  ModificationResourceEnum:
    enum:
      - ROOT_VOLUME
      - USER_VOLUME
      - COMPUTE_TYPE
    type: string
  ModificationState:
    description: Describes a WorkSpace modification.
    properties:
      Resource:
        $ref: '#/definitions/ModificationResourceEnum'
        description: The resource.
      State:
        $ref: '#/definitions/ModificationStateEnum'
        description: The modification state.
    type: object
  ModificationStateEnum:
    enum:
      - UPDATE_INITIATED
      - UPDATE_IN_PROGRESS
    type: string
  ModificationStateList:
    items:
      $ref: '#/definitions/ModificationState'
    type: array
  ModifyAccountRequest:
    properties:
      DedicatedTenancyManagementCidrRange:
        $ref: '#/definitions/DedicatedTenancyManagementCidrRange'
        description: 'The IP address range, specified as an IPv4 CIDR block, for the management network interface. Specify an IP address range that is compatible with your network and in CIDR notation (that is, specify the range as an IPv4 CIDR block). The CIDR block size must be /16 (for example, 203.0.113.25/16). It must also be specified as available by the <code>ListAvailableManagementCidrRanges</code> operation.'
      DedicatedTenancySupport:
        $ref: '#/definitions/DedicatedTenancySupportEnum'
        description: The status of BYOL.
    type: object
  ModifyAccountResult:
    properties: {}
    type: object
  ModifyClientPropertiesRequest:
    properties:
      ClientProperties:
        $ref: '#/definitions/ClientProperties'
        description: Information about the Amazon WorkSpaces client.
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The resource identifiers, in the form of directory IDs.'
    required:
      - ResourceId
      - ClientProperties
    type: object
  ModifyClientPropertiesResult:
    properties: {}
    type: object
  ModifyWorkspacePropertiesRequest:
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
      WorkspaceProperties:
        $ref: '#/definitions/WorkspaceProperties'
        description: The properties of the WorkSpace.
    required:
      - WorkspaceId
      - WorkspaceProperties
    type: object
  ModifyWorkspacePropertiesResult:
    properties: {}
    type: object
  ModifyWorkspaceStateRequest:
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
      WorkspaceState:
        $ref: '#/definitions/TargetWorkspaceState'
        description: The WorkSpace state.
    required:
      - WorkspaceId
      - WorkspaceState
    type: object
  ModifyWorkspaceStateResult:
    properties: {}
    type: object
  NonEmptyString:
    minLength: 1
    type: string
  OperatingSystem:
    description: The operating system that the image is running.
    properties:
      Type:
        $ref: '#/definitions/OperatingSystemType'
        description: The operating system.
    type: object
  OperatingSystemType:
    enum:
      - WINDOWS
      - LINUX
    type: string
  OperationInProgressException: {}
  OperationNotSupportedException: {}
  PaginationToken:
    maxLength: 63
    minLength: 1
    type: string
  RebootRequest:
    description: Describes the information used to reboot a WorkSpace.
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    required:
      - WorkspaceId
    type: object
  RebootWorkspaceRequests:
    items:
      $ref: '#/definitions/RebootRequest'
    maxItems: 25
    minItems: 1
    type: array
  RebootWorkspacesRequest:
    properties:
      RebootWorkspaceRequests:
        $ref: '#/definitions/RebootWorkspaceRequests'
        description: The WorkSpaces to reboot. You can specify up to 25 WorkSpaces.
    required:
      - RebootWorkspaceRequests
    type: object
  RebootWorkspacesResult:
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedRebootWorkspaceRequests'
        description: Information about the WorkSpaces that could not be rebooted.
    type: object
  RebuildRequest:
    description: Describes the information used to rebuild a WorkSpace.
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    required:
      - WorkspaceId
    type: object
  RebuildWorkspaceRequests:
    items:
      $ref: '#/definitions/RebuildRequest'
    maxItems: 1
    minItems: 1
    type: array
  RebuildWorkspacesRequest:
    properties:
      RebuildWorkspaceRequests:
        $ref: '#/definitions/RebuildWorkspaceRequests'
        description: The WorkSpace to rebuild. You can specify a single WorkSpace.
    required:
      - RebuildWorkspaceRequests
    type: object
  RebuildWorkspacesResult:
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedRebuildWorkspaceRequests'
        description: Information about the WorkSpace that could not be rebuilt.
    type: object
  ReconnectEnum:
    enum:
      - ENABLED
      - DISABLED
    type: string
  Region:
    maxLength: 31
    minLength: 1
    pattern: '^[-0-9a-z]{1,31}$'
    type: string
  RegistrationCode:
    maxLength: 20
    minLength: 1
    type: string
  ResourceAlreadyExistsException: {}
  ResourceAssociatedException: {}
  ResourceCreationFailedException: {}
  ResourceIdList:
    items:
      $ref: '#/definitions/NonEmptyString'
    maxItems: 25
    minItems: 1
    type: array
  ResourceLimitExceededException: {}
  ResourceNotFoundException: {}
  ResourceUnavailableException: {}
  RevokeIpRulesRequest:
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The identifier of the group.
      UserRules:
        $ref: '#/definitions/IpRevokedRuleList'
        description: The rules to remove from the group.
    required:
      - GroupId
      - UserRules
    type: object
  RevokeIpRulesResult:
    properties: {}
    type: object
  RootStorage:
    description: Describes the root volume for a WorkSpace bundle.
    properties:
      Capacity:
        $ref: '#/definitions/NonEmptyString'
        description: The size of the root volume.
    type: object
  RootVolumeSizeGib:
    type: integer
  RunningMode:
    enum:
      - AUTO_STOP
      - ALWAYS_ON
    type: string
  RunningModeAutoStopTimeoutInMinutes:
    type: integer
  SecurityGroupId:
    pattern: '^(sg-[0-9a-f]{8})$'
    type: string
  StartRequest:
    description: Information used to start a WorkSpace.
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    type: object
  StartWorkspaceRequests:
    items:
      $ref: '#/definitions/StartRequest'
    maxItems: 25
    minItems: 1
    type: array
  StartWorkspacesRequest:
    properties:
      StartWorkspaceRequests:
        $ref: '#/definitions/StartWorkspaceRequests'
        description: The WorkSpaces to start. You can specify up to 25 WorkSpaces.
    required:
      - StartWorkspaceRequests
    type: object
  StartWorkspacesResult:
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedStartWorkspaceRequests'
        description: Information about the WorkSpaces that could not be started.
    type: object
  StopRequest:
    description: Describes the information used to stop a WorkSpace.
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    type: object
  StopWorkspaceRequests:
    items:
      $ref: '#/definitions/StopRequest'
    maxItems: 25
    minItems: 1
    type: array
  StopWorkspacesRequest:
    properties:
      StopWorkspaceRequests:
        $ref: '#/definitions/StopWorkspaceRequests'
        description: The WorkSpaces to stop. You can specify up to 25 WorkSpaces.
    required:
      - StopWorkspaceRequests
    type: object
  StopWorkspacesResult:
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedStopWorkspaceRequests'
        description: Information about the WorkSpaces that could not be stopped.
    type: object
  SubnetId:
    pattern: '^(subnet-[0-9a-f]{8})$'
    type: string
  SubnetIds:
    items:
      $ref: '#/definitions/SubnetId'
    type: array
  Tag:
    description: Describes a tag.
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      Value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    required:
      - Key
    type: object
  TagKey:
    maxLength: 127
    minLength: 1
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/NonEmptyString'
    type: array
  TagList:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TagValue:
    maxLength: 255
    type: string
  TargetWorkspaceState:
    enum:
      - AVAILABLE
      - ADMIN_MAINTENANCE
    type: string
  TerminateRequest:
    description: Describes the information used to terminate a WorkSpace.
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    required:
      - WorkspaceId
    type: object
  TerminateWorkspaceRequests:
    items:
      $ref: '#/definitions/TerminateRequest'
    maxItems: 25
    minItems: 1
    type: array
  TerminateWorkspacesRequest:
    properties:
      TerminateWorkspaceRequests:
        $ref: '#/definitions/TerminateWorkspaceRequests'
        description: The WorkSpaces to terminate. You can specify up to 25 WorkSpaces.
    required:
      - TerminateWorkspaceRequests
    type: object
  TerminateWorkspacesResult:
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedTerminateWorkspaceRequests'
        description: Information about the WorkSpaces that could not be terminated.
    type: object
  Timestamp:
    format: date-time
    type: string
  UnsupportedWorkspaceConfigurationException: {}
  UpdateRulesOfIpGroupRequest:
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The identifier of the group.
      UserRules:
        $ref: '#/definitions/IpRuleList'
        description: One or more rules.
    required:
      - GroupId
      - UserRules
    type: object
  UpdateRulesOfIpGroupResult:
    properties: {}
    type: object
  UserName:
    maxLength: 63
    minLength: 1
    type: string
  UserStorage:
    description: Describes the user storage for a WorkSpace bundle.
    properties:
      Capacity:
        $ref: '#/definitions/NonEmptyString'
        description: The size of the user storage.
    type: object
  UserVolumeSizeGib:
    type: integer
  VolumeEncryptionKey:
    type: string
  Workspace:
    description: Describes a WorkSpace.
    properties:
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The identifier of the bundle used to create the WorkSpace.
      ComputerName:
        $ref: '#/definitions/ComputerName'
        description: 'The name of the WorkSpace, as seen by the operating system.'
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the AWS Directory Service directory for the WorkSpace.
      ErrorCode:
        $ref: '#/definitions/WorkspaceErrorCode'
        description: The error code that is returned if the WorkSpace cannot be created.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The text of the error message that is returned if the WorkSpace cannot be created.
      IpAddress:
        $ref: '#/definitions/IpAddress'
        description: The IP address of the WorkSpace.
      ModificationStates:
        $ref: '#/definitions/ModificationStateList'
        description: The modification states of the WorkSpace.
      RootVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the root volume is encrypted.
      State:
        $ref: '#/definitions/WorkspaceState'
        description: The operational state of the WorkSpace.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The identifier of the subnet for the WorkSpace.
      UserName:
        $ref: '#/definitions/UserName'
        description: The user for the WorkSpace.
      UserVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the user volume is encrypted.
      VolumeEncryptionKey:
        $ref: '#/definitions/VolumeEncryptionKey'
        description: The KMS key used to encrypt data stored on your WorkSpace.
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
      WorkspaceProperties:
        $ref: '#/definitions/WorkspaceProperties'
        description: The properties of the WorkSpace.
    type: object
  WorkspaceBundle:
    description: Describes a WorkSpace bundle.
    properties:
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The bundle identifier.
      ComputeType:
        $ref: '#/definitions/ComputeType'
        description: 'The compute type. For more information, see <a href="http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles">Amazon WorkSpaces Bundles</a>.'
      Description:
        $ref: '#/definitions/Description'
        description: A description.
      Name:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the bundle.
      Owner:
        $ref: '#/definitions/BundleOwner'
        description: 'The owner of the bundle. This is the account identifier of the owner, or <code>AMAZON</code> if the bundle is provided by AWS.'
      RootStorage:
        $ref: '#/definitions/RootStorage'
        description: The size of the root volume.
      UserStorage:
        $ref: '#/definitions/UserStorage'
        description: The size of the user storage.
    type: object
  WorkspaceConnectionStatus:
    description: Describes the connection status of a WorkSpace.
    properties:
      ConnectionState:
        $ref: '#/definitions/ConnectionState'
        description: The connection state of the WorkSpace. The connection state is unknown if the WorkSpace is stopped.
      ConnectionStateCheckTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The timestamp of the connection status check.
      LastKnownUserConnectionTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The timestamp of the last known user connection.
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
    type: object
  WorkspaceConnectionStatusList:
    items:
      $ref: '#/definitions/WorkspaceConnectionStatus'
    type: array
  WorkspaceDirectory:
    description: Describes an AWS Directory Service directory that is used with Amazon WorkSpaces.
    properties:
      Alias:
        $ref: '#/definitions/Alias'
        description: The directory alias.
      CustomerUserName:
        $ref: '#/definitions/UserName'
        description: The user name for the service account.
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The directory identifier.
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: The name of the directory.
      DirectoryType:
        $ref: '#/definitions/WorkspaceDirectoryType'
        description: The directory type.
      DnsIpAddresses:
        $ref: '#/definitions/DnsIpAddresses'
        description: The IP addresses of the DNS servers for the directory.
      IamRoleId:
        $ref: '#/definitions/ARN'
        description: 'The identifier of the IAM role. This is the role that allows Amazon WorkSpaces to make calls to other services, such as Amazon EC2, on your behalf.'
      RegistrationCode:
        $ref: '#/definitions/RegistrationCode'
        description: The registration code for the directory. This is the code that users enter in their Amazon WorkSpaces client application to connect to the directory.
      State:
        $ref: '#/definitions/WorkspaceDirectoryState'
        description: The state of the directory's registration with Amazon WorkSpaces
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: The identifiers of the subnets used with the directory.
      WorkspaceCreationProperties:
        $ref: '#/definitions/DefaultWorkspaceCreationProperties'
        description: The default creation properties for all WorkSpaces in the directory.
      WorkspaceSecurityGroupId:
        $ref: '#/definitions/SecurityGroupId'
        description: The identifier of the security group that is assigned to new WorkSpaces.
      ipGroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The identifiers of the IP access control groups associated with the directory.
    type: object
  WorkspaceDirectoryState:
    enum:
      - REGISTERING
      - REGISTERED
      - DEREGISTERING
      - DEREGISTERED
      - ERROR
    type: string
  WorkspaceDirectoryType:
    enum:
      - SIMPLE_AD
      - AD_CONNECTOR
    type: string
  WorkspaceErrorCode:
    type: string
  WorkspaceId:
    pattern: '^ws-[0-9a-z]{8,63}$'
    type: string
  WorkspaceIdList:
    items:
      $ref: '#/definitions/WorkspaceId'
    maxItems: 25
    minItems: 1
    type: array
  WorkspaceImage:
    description: Describes a WorkSpace image.
    properties:
      Description:
        $ref: '#/definitions/WorkspaceImageDescription'
        description: The description of the image.
      ErrorCode:
        $ref: '#/definitions/WorkspaceImageErrorCode'
        description: The error code that is returned for the image.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The text of the error message that is returned for the image.
      ImageId:
        $ref: '#/definitions/WorkspaceImageId'
        description: The identifier of the image.
      Name:
        $ref: '#/definitions/WorkspaceImageName'
        description: The name of the image.
      OperatingSystem:
        $ref: '#/definitions/OperatingSystem'
        description: 'The operating system that the image is running. '
      RequiredTenancy:
        $ref: '#/definitions/WorkspaceImageRequiredTenancy'
        description: 'Specifies whether the image is running on dedicated hardware. When bring your own license (BYOL) is enabled, this value is set to DEDICATED. '
      State:
        $ref: '#/definitions/WorkspaceImageState'
        description: The status of the image.
    type: object
  WorkspaceImageDescription:
    maxLength: 256
    minLength: 1
    pattern: '^[a-zA-Z0-9_./() -]+$'
    type: string
  WorkspaceImageErrorCode:
    type: string
  WorkspaceImageId:
    pattern: 'wsi-[0-9a-z]{9,63}$'
    type: string
  WorkspaceImageIdList:
    items:
      $ref: '#/definitions/WorkspaceImageId'
    maxItems: 25
    minItems: 1
    type: array
  WorkspaceImageIngestionProcess:
    enum:
      - BYOL_REGULAR
      - BYOL_GRAPHICS
      - BYOL_GRAPHICSPRO
    type: string
  WorkspaceImageList:
    items:
      $ref: '#/definitions/WorkspaceImage'
    type: array
  WorkspaceImageName:
    maxLength: 64
    minLength: 1
    pattern: '^[a-zA-Z0-9_./()\\-]+$'
    type: string
  WorkspaceImageRequiredTenancy:
    enum:
      - DEFAULT
      - DEDICATED
    type: string
  WorkspaceImageState:
    enum:
      - AVAILABLE
      - PENDING
      - ERROR
    type: string
  WorkspaceList:
    items:
      $ref: '#/definitions/Workspace'
    type: array
  WorkspaceProperties:
    description: Describes a WorkSpace.
    properties:
      ComputeTypeName:
        $ref: '#/definitions/Compute'
        description: 'The compute type. For more information, see <a href="http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles">Amazon WorkSpaces Bundles</a>.'
      RootVolumeSizeGib:
        $ref: '#/definitions/RootVolumeSizeGib'
        description: The size of the root volume.
      RunningMode:
        $ref: '#/definitions/RunningMode'
        description: 'The running mode. For more information, see <a href="https://docs.aws.amazon.com/workspaces/latest/adminguide/running-mode.html">Manage the WorkSpace Running Mode</a>.'
      RunningModeAutoStopTimeoutInMinutes:
        $ref: '#/definitions/RunningModeAutoStopTimeoutInMinutes'
        description: The time after a user logs off when WorkSpaces are automatically stopped. Configured in 60 minute intervals.
      UserVolumeSizeGib:
        $ref: '#/definitions/UserVolumeSizeGib'
        description: The size of the user storage.
    type: object
  WorkspaceRequest:
    description: Describes the information used to create a WorkSpace.
    properties:
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The identifier of the bundle for the WorkSpace. You can use <a>DescribeWorkspaceBundles</a> to list the available bundles.
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the AWS Directory Service directory for the WorkSpace. You can use <a>DescribeWorkspaceDirectories</a> to list the available directories.
      RootVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the root volume is encrypted.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags for the WorkSpace.
      UserName:
        $ref: '#/definitions/UserName'
        description: The username of the user for the WorkSpace. This username must exist in the AWS Directory Service directory for the WorkSpace.
      UserVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
[...]
