swagger: '2.0'
info:
  version: '2015-04-08'
  x-release: v4
  title: Amazon WorkSpaces
  description: '<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows desktops for your users.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: workspaces
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workspaces-2015-04-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/workspaces/'
host: workspaces.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AssociateIpGroups
      description: Associates the specified IP access control group with the specified directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateIpGroupsResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '483':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateIpGroupsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AuthorizeIpRules':
    post:
      operationId: AuthorizeIpRules
      description: <p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeIpRulesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '483':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthorizeIpRulesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateIpGroup':
    post:
      operationId: CreateIpGroup
      description: '<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don''t associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateIpGroupResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '483':
          description: ResourceCreationFailedException
          schema:
            $ref: '#/definitions/ResourceCreationFailedException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateIpGroupRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateTags':
    post:
      operationId: CreateTags
      description: Creates the specified tags for the specified WorkSpace.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTagsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateWorkspaces':
    post:
      operationId: CreateWorkspaces
      description: <p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWorkspacesResult'
        '480':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '481':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateWorkspacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteIpGroup':
    post:
      operationId: DeleteIpGroup
      description: <p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIpGroupResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceAssociatedException
          schema:
            $ref: '#/definitions/ResourceAssociatedException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIpGroupRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTags':
    post:
      operationId: DeleteTags
      description: Deletes the specified tags from the specified WorkSpace.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTagsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeIpGroups':
    post:
      operationId: DescribeIpGroups
      description: Describes one or more of your IP access control groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIpGroupsResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIpGroupsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: Describes the specified tags for the specified WorkSpace.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsResult'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeWorkspaceBundles':
    post:
      operationId: DescribeWorkspaceBundles
      description: '<p>Describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspaceBundlesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspaceBundlesRequest'
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeWorkspaceDirectories':
    post:
      operationId: DescribeWorkspaceDirectories
      description: Describes the available AWS Directory Service directories that are registered with Amazon WorkSpaces.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspaceDirectoriesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspaceDirectoriesRequest'
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeWorkspaces':
    post:
      operationId: DescribeWorkspaces
      description: '<p>Describes the specified WorkSpaces.</p> <p>You can filter the results using bundle ID, directory ID, or owner, but you can specify only one filter at a time.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspacesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspacesRequest'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeWorkspacesConnectionStatus':
    post:
      operationId: DescribeWorkspacesConnectionStatus
      description: Describes the connection status of the specified WorkSpaces.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWorkspacesConnectionStatusResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeWorkspacesConnectionStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisassociateIpGroups':
    post:
      operationId: DisassociateIpGroups
      description: Disassociates the specified IP access control group from the specified directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateIpGroupsResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateIpGroupsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyWorkspaceProperties':
    post:
      operationId: ModifyWorkspaceProperties
      description: Modifies the specified WorkSpace properties.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyWorkspacePropertiesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '482':
          description: OperationInProgressException
          schema:
            $ref: '#/definitions/OperationInProgressException'
        '483':
          description: UnsupportedWorkspaceConfigurationException
          schema:
            $ref: '#/definitions/UnsupportedWorkspaceConfigurationException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyWorkspacePropertiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyWorkspaceState':
    post:
      operationId: ModifyWorkspaceState
      description: '<p>Sets the state of the specified WorkSpace.</p> <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to reboot, stop, start, or rebuild. An AutoStop WorkSpace in this state is not stopped. Users can log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code> state.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyWorkspaceStateResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyWorkspaceStateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RebootWorkspaces':
    post:
      operationId: RebootWorkspaces
      description: <p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code> or <code>UNHEALTHY</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootWorkspacesResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RebootWorkspacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RebuildWorkspaces':
    post:
      operationId: RebuildWorkspaces
      description: '<p>Rebuilds the specified WorkSpace.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>, <code>ERROR</code>, or <code>UNHEALTHY</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href="http://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebuildWorkspacesResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RebuildWorkspacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RevokeIpRules':
    post:
      operationId: RevokeIpRules
      description: Removes one or more rules from the specified IP access control group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokeIpRulesResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RevokeIpRulesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartWorkspaces':
    post:
      operationId: StartWorkspaces
      description: <p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartWorkspacesResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartWorkspacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopWorkspaces':
    post:
      operationId: StopWorkspaces
      description: '<p> Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopWorkspacesResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopWorkspacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TerminateWorkspaces':
    post:
      operationId: TerminateWorkspaces
      description: '<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user''s data is destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TerminateWorkspacesResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TerminateWorkspacesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateRulesOfIpGroup':
    post:
      operationId: UpdateRulesOfIpGroup
      description: Replaces the current rules of the specified IP access control group with the specified rules.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRulesOfIpGroupResult'
        '480':
          description: InvalidParameterValuesException
          schema:
            $ref: '#/definitions/InvalidParameterValuesException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '483':
          description: InvalidResourceStateException
          schema:
            $ref: '#/definitions/InvalidResourceStateException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateRulesOfIpGroupRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateIpGroupsResult:
    type: object
    properties: {}
  AssociateIpGroupsRequest:
    type: object
    required:
      - DirectoryId
      - GroupIds
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The ID of the directory.
      GroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The IDs of one or more IP access control groups.
  InvalidParameterValuesException: {}
  ResourceNotFoundException: {}
  ResourceLimitExceededException: {}
  InvalidResourceStateException: {}
  AccessDeniedException: {}
  OperationNotSupportedException: {}
  AuthorizeIpRulesResult:
    type: object
    properties: {}
  AuthorizeIpRulesRequest:
    type: object
    required:
      - GroupId
      - UserRules
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The ID of the group.
      UserRules:
        $ref: '#/definitions/IpRuleList'
        description: The rules to add to the group.
  CreateIpGroupResult:
    type: object
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The ID of the group.
  CreateIpGroupRequest:
    type: object
    required:
      - GroupName
    properties:
      GroupName:
        $ref: '#/definitions/IpGroupName'
        description: The name of the group.
      GroupDesc:
        $ref: '#/definitions/IpGroupDesc'
        description: The description of the group.
      UserRules:
        $ref: '#/definitions/IpRuleList'
        description: The rules to add to the group.
  ResourceAlreadyExistsException: {}
  ResourceCreationFailedException: {}
  CreateTagsResult:
    type: object
    properties: {}
  CreateTagsRequest:
    type: object
    required:
      - ResourceId
      - Tags
    properties:
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The ID of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags. Each WorkSpace can have a maximum of 50 tags.
  CreateWorkspacesResult:
    type: object
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedCreateWorkspaceRequests'
        description: Information about the WorkSpaces that could not be created.
      PendingRequests:
        $ref: '#/definitions/WorkspaceList'
        description: '<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>'
  CreateWorkspacesRequest:
    type: object
    required:
      - Workspaces
    properties:
      Workspaces:
        $ref: '#/definitions/WorkspaceRequestList'
        description: The WorkSpaces to create. You can specify up to 25 WorkSpaces.
  DeleteIpGroupResult:
    type: object
    properties: {}
  DeleteIpGroupRequest:
    type: object
    required:
      - GroupId
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The ID of the IP access control group.
  ResourceAssociatedException: {}
  DeleteTagsResult:
    type: object
    properties: {}
  DeleteTagsRequest:
    type: object
    required:
      - ResourceId
      - TagKeys
    properties:
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The ID of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.'
      TagKeys:
        $ref: '#/definitions/TagKeyList'
        description: The tag keys.
  DescribeIpGroupsResult:
    type: object
    properties:
      Result:
        $ref: '#/definitions/WorkspacesIpGroupsList'
        description: Information about the IP access control groups.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if there are no more results available. This token is valid for one day and must be used within that time frame.'
  DescribeIpGroupsRequest:
    type: object
    properties:
      GroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The IDs of one or more IP access control groups.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next set of results. (You received this token from a previous call.)
      MaxResults:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to return.
  DescribeTagsResult:
    type: object
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: The tags.
  DescribeTagsRequest:
    type: object
    required:
      - ResourceId
    properties:
      ResourceId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The ID of the WorkSpace. To find this ID, use <a>DescribeWorkspaces</a>.'
  DescribeWorkspaceBundlesResult:
    type: object
    properties:
      Bundles:
        $ref: '#/definitions/BundleList'
        description: Information about the bundles.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if there are no more results available. This token is valid for one day and must be used within that time frame.'
  DescribeWorkspaceBundlesRequest:
    type: object
    properties:
      BundleIds:
        $ref: '#/definitions/BundleIdList'
        description: The IDs of the bundles. This parameter cannot be combined with any other filter.
      Owner:
        $ref: '#/definitions/BundleOwner'
        description: <p>The owner of the bundles. This parameter cannot be combined with any other filter.</p> <p>Specify <code>AMAZON</code> to describe the bundles provided by AWS or null to describe the bundles that belong to your account.</p>
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next set of results. (You received this token from a previous call.)
  DescribeWorkspaceDirectoriesResult:
    type: object
    properties:
      Directories:
        $ref: '#/definitions/DirectoryList'
        description: Information about the directories.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if there are no more results available. This token is valid for one day and must be used within that time frame.'
  DescribeWorkspaceDirectoriesRequest:
    type: object
    properties:
      DirectoryIds:
        $ref: '#/definitions/DirectoryIdList'
        description: 'The identifiers of the directories. If the value is null, all directories are retrieved.'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next set of results. (You received this token from a previous call.)
  DescribeWorkspacesResult:
    type: object
    properties:
      Workspaces:
        $ref: '#/definitions/WorkspaceList'
        description: '<p>Information about the WorkSpaces.</p> <p>Because <a>CreateWorkspaces</a> is an asynchronous operation, some of the returned information could be incomplete.</p>'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if there are no more results available. This token is valid for one day and must be used within that time frame.'
  DescribeWorkspacesRequest:
    type: object
    properties:
      WorkspaceIds:
        $ref: '#/definitions/WorkspaceIdList'
        description: '<p>The IDs of the WorkSpaces. This parameter cannot be combined with any other filter.</p> <p>Because the <a>CreateWorkspaces</a> operation is asynchronous, the identifier it returns is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information is returned.</p>'
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: 'The ID of the directory. In addition, you can optionally specify a specific directory user (see <code>UserName</code>). This parameter cannot be combined with any other filter.'
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the directory user. You must specify this parameter with <code>DirectoryId</code>.
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The ID of the bundle. All WorkSpaces that are created from this bundle are retrieved. This parameter cannot be combined with any other filter.
      Limit:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to return.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next set of results. (You received this token from a previous call.)
  ResourceUnavailableException: {}
  DescribeWorkspacesConnectionStatusResult:
    type: object
    properties:
      WorkspacesConnectionStatus:
        $ref: '#/definitions/WorkspaceConnectionStatusList'
        description: Information about the connection status of the WorkSpace.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token to use to retrieve the next set of results, or null if there are no more results available.'
  DescribeWorkspacesConnectionStatusRequest:
    type: object
    properties:
      WorkspaceIds:
        $ref: '#/definitions/WorkspaceIdList'
        description: The identifiers of the WorkSpaces. You can specify up to 25 WorkSpaces.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next set of results. (You received this token from a previous call.)
  DisassociateIpGroupsResult:
    type: object
    properties: {}
  DisassociateIpGroupsRequest:
    type: object
    required:
      - DirectoryId
      - GroupIds
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The ID of the directory.
      GroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The IDs of one or more IP access control groups.
  ModifyWorkspacePropertiesResult:
    type: object
    properties: {}
  ModifyWorkspacePropertiesRequest:
    type: object
    required:
      - WorkspaceId
      - WorkspaceProperties
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
      WorkspaceProperties:
        $ref: '#/definitions/WorkspaceProperties'
        description: The properties of the WorkSpace.
  OperationInProgressException: {}
  UnsupportedWorkspaceConfigurationException: {}
  ModifyWorkspaceStateResult:
    type: object
    properties: {}
  ModifyWorkspaceStateRequest:
    type: object
    required:
      - WorkspaceId
      - WorkspaceState
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
      WorkspaceState:
        $ref: '#/definitions/TargetWorkspaceState'
        description: The WorkSpace state.
  RebootWorkspacesResult:
    type: object
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedRebootWorkspaceRequests'
        description: Information about the WorkSpaces that could not be rebooted.
  RebootWorkspacesRequest:
    type: object
    required:
      - RebootWorkspaceRequests
    properties:
      RebootWorkspaceRequests:
        $ref: '#/definitions/RebootWorkspaceRequests'
        description: The WorkSpaces to reboot. You can specify up to 25 WorkSpaces.
  RebuildWorkspacesResult:
    type: object
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedRebuildWorkspaceRequests'
        description: Information about the WorkSpace if it could not be rebuilt.
  RebuildWorkspacesRequest:
    type: object
    required:
      - RebuildWorkspaceRequests
    properties:
      RebuildWorkspaceRequests:
        $ref: '#/definitions/RebuildWorkspaceRequests'
        description: The WorkSpace to rebuild. You can specify a single WorkSpace.
  RevokeIpRulesResult:
    type: object
    properties: {}
  RevokeIpRulesRequest:
    type: object
    required:
      - GroupId
      - UserRules
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The ID of the group.
      UserRules:
        $ref: '#/definitions/IpRevokedRuleList'
        description: The rules to remove from the group.
  StartWorkspacesResult:
    type: object
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedStartWorkspaceRequests'
        description: Information about the WorkSpaces that could not be started.
  StartWorkspacesRequest:
    type: object
    required:
      - StartWorkspaceRequests
    properties:
      StartWorkspaceRequests:
        $ref: '#/definitions/StartWorkspaceRequests'
        description: The WorkSpaces to start. You can specify up to 25 WorkSpaces.
  StopWorkspacesResult:
    type: object
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedStopWorkspaceRequests'
        description: Information about the WorkSpaces that could not be stopped.
  StopWorkspacesRequest:
    type: object
    required:
      - StopWorkspaceRequests
    properties:
      StopWorkspaceRequests:
        $ref: '#/definitions/StopWorkspaceRequests'
        description: The WorkSpaces to stop. You can specify up to 25 WorkSpaces.
  TerminateWorkspacesResult:
    type: object
    properties:
      FailedRequests:
        $ref: '#/definitions/FailedTerminateWorkspaceRequests'
        description: Information about the WorkSpaces that could not be terminated.
  TerminateWorkspacesRequest:
    type: object
    required:
      - TerminateWorkspaceRequests
    properties:
      TerminateWorkspaceRequests:
        $ref: '#/definitions/TerminateWorkspaceRequests'
        description: The WorkSpaces to terminate. You can specify up to 25 WorkSpaces.
  UpdateRulesOfIpGroupResult:
    type: object
    properties: {}
  UpdateRulesOfIpGroupRequest:
    type: object
    required:
      - GroupId
      - UserRules
    properties:
      GroupId:
        $ref: '#/definitions/IpGroupId'
        description: The ID of the group.
      UserRules:
        $ref: '#/definitions/IpRuleList'
        description: One or more rules.
  ARN:
    type: string
    pattern: '^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$'
  Alias:
    type: string
  DirectoryId:
    type: string
    pattern: '^d-[0-9a-f]{8,63}$'
  IpGroupIdList:
    type: array
    items:
      $ref: '#/definitions/IpGroupId'
  IpGroupId:
    type: string
    pattern: 'wsipg-[0-9a-z]{8,63}$'
  IpRuleList:
    type: array
    items:
      $ref: '#/definitions/IpRuleItem'
  BooleanObject:
    type: boolean
  BundleId:
    type: string
    pattern: '^wsb-[0-9a-z]{8,63}$'
  BundleIdList:
    type: array
    items:
      $ref: '#/definitions/BundleId'
    minItems: 1
    maxItems: 25
  WorkspaceBundle:
    type: object
    properties:
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The bundle identifier.
      Name:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the bundle.
      Owner:
        $ref: '#/definitions/BundleOwner'
        description: 'The owner of the bundle. This is the account identifier of the owner, or <code>AMAZON</code> if the bundle is provided by AWS.'
      Description:
        $ref: '#/definitions/Description'
        description: A description.
      RootStorage:
        $ref: '#/definitions/RootStorage'
        description: The size of the root volume.
      UserStorage:
        $ref: '#/definitions/UserStorage'
        description: The size of the user storage.
      ComputeType:
        $ref: '#/definitions/ComputeType'
        description: 'The compute type. For more information, see <a href="http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles">Amazon WorkSpaces Bundles</a>.'
    description: Information about a WorkSpace bundle.
  BundleList:
    type: array
    items:
      $ref: '#/definitions/WorkspaceBundle'
  BundleOwner:
    type: string
  Compute:
    type: string
    enum:
      - VALUE
      - STANDARD
      - PERFORMANCE
      - POWER
      - GRAPHICS
      - POWERPRO
      - GRAPHICSPRO
  ComputeType:
    type: object
    properties:
      Name:
        $ref: '#/definitions/Compute'
        description: The compute type.
    description: Information about the compute type.
  ComputerName:
    type: string
  ConnectionState:
    type: string
    enum:
      - CONNECTED
      - DISCONNECTED
      - UNKNOWN
  IpGroupName:
    type: string
  IpGroupDesc:
    type: string
  NonEmptyString:
    type: string
    minLength: 1
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
  WorkspaceRequestList:
    type: array
    items:
      $ref: '#/definitions/WorkspaceRequest'
    minItems: 1
    maxItems: 25
  FailedCreateWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/FailedCreateWorkspaceRequest'
  WorkspaceList:
    type: array
    items:
      $ref: '#/definitions/Workspace'
  DefaultOu:
    type: string
  SecurityGroupId:
    type: string
    pattern: '^(sg-[0-9a-f]{8})$'
  DefaultWorkspaceCreationProperties:
    type: object
    properties:
      EnableWorkDocs:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the directory is enabled for Amazon WorkDocs.
      EnableInternetAccess:
        $ref: '#/definitions/BooleanObject'
        description: The public IP address to attach to all WorkSpaces that are created or rebuilt.
      DefaultOu:
        $ref: '#/definitions/DefaultOu'
        description: The organizational unit (OU) in the directory for the WorkSpace machine accounts.
      CustomSecurityGroupId:
        $ref: '#/definitions/SecurityGroupId'
        description: The identifier of any security groups to apply to WorkSpaces when they are created.
      UserEnabledAsLocalAdministrator:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the WorkSpace user is an administrator on the WorkSpace.
    description: Information about defaults used to create a WorkSpace.
  TagKeyList:
    type: array
    items:
      $ref: '#/definitions/NonEmptyString'
  PaginationToken:
    type: string
    minLength: 1
    maxLength: 63
  Limit:
    type: integer
    minimum: 1
    maximum: 25
  WorkspacesIpGroupsList:
    type: array
    items:
      $ref: '#/definitions/WorkspacesIpGroup'
  DirectoryIdList:
    type: array
    items:
      $ref: '#/definitions/DirectoryId'
    minItems: 1
    maxItems: 25
  DirectoryList:
    type: array
    items:
      $ref: '#/definitions/WorkspaceDirectory'
  WorkspaceIdList:
    type: array
    items:
      $ref: '#/definitions/WorkspaceId'
    minItems: 1
    maxItems: 25
  WorkspaceConnectionStatusList:
    type: array
    items:
      $ref: '#/definitions/WorkspaceConnectionStatus'
  UserName:
    type: string
    minLength: 1
    maxLength: 63
  Description:
    type: string
  WorkspaceDirectory:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The directory identifier.
      Alias:
        $ref: '#/definitions/Alias'
        description: The directory alias.
      DirectoryName:
        $ref: '#/definitions/DirectoryName'
        description: The name of the directory.
      RegistrationCode:
        $ref: '#/definitions/RegistrationCode'
        description: The registration code for the directory. This is the code that users enter in their Amazon WorkSpaces client application to connect to the directory.
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: The identifiers of the subnets used with the directory.
      DnsIpAddresses:
        $ref: '#/definitions/DnsIpAddresses'
        description: The IP addresses of the DNS servers for the directory.
      CustomerUserName:
        $ref: '#/definitions/UserName'
        description: The user name for the service account.
      IamRoleId:
        $ref: '#/definitions/ARN'
        description: 'The identifier of the IAM role. This is the role that allows Amazon WorkSpaces to make calls to other services, such as Amazon EC2, on your behalf.'
      DirectoryType:
        $ref: '#/definitions/WorkspaceDirectoryType'
        description: The directory type.
      WorkspaceSecurityGroupId:
        $ref: '#/definitions/SecurityGroupId'
        description: The identifier of the security group that is assigned to new WorkSpaces.
      State:
        $ref: '#/definitions/WorkspaceDirectoryState'
        description: The state of the directory's registration with Amazon WorkSpaces
      WorkspaceCreationProperties:
        $ref: '#/definitions/DefaultWorkspaceCreationProperties'
        description: The default creation properties for all WorkSpaces in the directory.
      ipGroupIds:
        $ref: '#/definitions/IpGroupIdList'
        description: The identifiers of the IP access control groups associated with the directory.
    description: Information about an AWS Directory Service directory for use with Amazon WorkSpaces.
  DirectoryName:
    type: string
  IpAddress:
    type: string
  DnsIpAddresses:
    type: array
    items:
      $ref: '#/definitions/IpAddress'
  ErrorType:
    type: string
  WorkspaceRequest:
    type: object
    required:
      - DirectoryId
      - UserName
      - BundleId
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the AWS Directory Service directory for the WorkSpace. You can use <a>DescribeWorkspaceDirectories</a> to list the available directories.
      UserName:
        $ref: '#/definitions/UserName'
        description: The username of the user for the WorkSpace. This username must exist in the AWS Directory Service directory for the WorkSpace.
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The identifier of the bundle for the WorkSpace. You can use <a>DescribeWorkspaceBundles</a> to list the available bundles.
      VolumeEncryptionKey:
        $ref: '#/definitions/VolumeEncryptionKey'
        description: The KMS key used to encrypt data stored on your WorkSpace.
      UserVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the user volume is encrypted.
      RootVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the root volume is encrypted.
      WorkspaceProperties:
        $ref: '#/definitions/WorkspaceProperties'
        description: The WorkSpace properties.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags for the WorkSpace.
    description: Information used to create a WorkSpace.
  FailedCreateWorkspaceRequest:
    type: object
    properties:
      WorkspaceRequest:
        $ref: '#/definitions/WorkspaceRequest'
        description: Information about the WorkSpace.
      ErrorCode:
        $ref: '#/definitions/ErrorType'
        description: The error code.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The textual error message.
    description: Information about a WorkSpace that could not be created.
  FailedWorkspaceChangeRequest:
    type: object
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
      ErrorCode:
        $ref: '#/definitions/ErrorType'
        description: The error code.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: The textual error message.
    description: 'Information about a WorkSpace that could not be rebooted (<a>RebootWorkspaces</a>), rebuilt (<a>RebuildWorkspaces</a>), terminated (<a>TerminateWorkspaces</a>), started (<a>StartWorkspaces</a>), or stopped (<a>StopWorkspaces</a>).'
  FailedRebootWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
  FailedRebuildWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
  FailedStartWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
  FailedStopWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
  FailedTerminateWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/FailedWorkspaceChangeRequest'
  WorkspaceId:
    type: string
    pattern: '^ws-[0-9a-z]{8,63}$'
  IpRule:
    type: string
  IpRevokedRuleList:
    type: array
    items:
      $ref: '#/definitions/IpRule'
  IpRuleDesc:
    type: string
  IpRuleItem:
    type: object
    properties:
      ipRule:
        $ref: '#/definitions/IpRule'
        description: 'The IP address range, in CIDR notation.'
      ruleDesc:
        $ref: '#/definitions/IpRuleDesc'
        description: The description.
    description: Information about a rule for an IP access control group.
  ModificationResourceEnum:
    type: string
    enum:
      - ROOT_VOLUME
      - USER_VOLUME
      - COMPUTE_TYPE
  ModificationStateEnum:
    type: string
    enum:
      - UPDATE_INITIATED
      - UPDATE_IN_PROGRESS
  ModificationState:
    type: object
    properties:
      Resource:
        $ref: '#/definitions/ModificationResourceEnum'
        description: The resource.
      State:
        $ref: '#/definitions/ModificationStateEnum'
        description: The modification state.
    description: Information about a WorkSpace modification.
  ModificationStateList:
    type: array
    items:
      $ref: '#/definitions/ModificationState'
  WorkspaceProperties:
    type: object
    properties:
      RunningMode:
        $ref: '#/definitions/RunningMode'
        description: 'The running mode. For more information, see <a href="http://docs.aws.amazon.com/workspaces/latest/adminguide/running-mode.html">Manage the WorkSpace Running Mode</a>.'
      RunningModeAutoStopTimeoutInMinutes:
        $ref: '#/definitions/RunningModeAutoStopTimeoutInMinutes'
        description: The time after a user logs off when WorkSpaces are automatically stopped. Configured in 60 minute intervals.
      RootVolumeSizeGib:
        $ref: '#/definitions/RootVolumeSizeGib'
        description: The size of the root volume.
      UserVolumeSizeGib:
        $ref: '#/definitions/UserVolumeSizeGib'
        description: The size of the user storage.
      ComputeTypeName:
        $ref: '#/definitions/Compute'
        description: 'The compute type. For more information, see <a href="http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles">Amazon WorkSpaces Bundles</a>.'
    description: Information about a WorkSpace.
  TargetWorkspaceState:
    type: string
    enum:
      - AVAILABLE
      - ADMIN_MAINTENANCE
  RebootRequest:
    type: object
    required:
      - WorkspaceId
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
    description: Information used to reboot a WorkSpace.
  RebootWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/RebootRequest'
    minItems: 1
    maxItems: 25
  RebuildRequest:
    type: object
    required:
      - WorkspaceId
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
    description: Information used to rebuild a WorkSpace.
  RebuildWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/RebuildRequest'
    minItems: 1
    maxItems: 1
  RegistrationCode:
    type: string
    minLength: 1
    maxLength: 20
  RootStorage:
    type: object
    properties:
      Capacity:
        $ref: '#/definitions/NonEmptyString'
        description: The size of the root volume.
    description: Information about the root volume for a WorkSpace bundle.
  RootVolumeSizeGib:
    type: integer
  RunningMode:
    type: string
    enum:
      - AUTO_STOP
      - ALWAYS_ON
  RunningModeAutoStopTimeoutInMinutes:
    type: integer
  StartRequest:
    type: object
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
    description: Information used to start a WorkSpace.
  StartWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/StartRequest'
    minItems: 1
    maxItems: 25
  StopRequest:
    type: object
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
    description: Information used to stop a WorkSpace.
  StopWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/StopRequest'
    minItems: 1
    maxItems: 25
  SubnetId:
    type: string
    pattern: '^(subnet-[0-9a-f]{8})$'
  SubnetIds:
    type: array
    items:
      $ref: '#/definitions/SubnetId'
  TagKey:
    type: string
    minLength: 1
    maxLength: 127
  TagValue:
    type: string
    maxLength: 255
  Tag:
    type: object
    required:
      - Key
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      Value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    description: Information about a tag.
  TerminateRequest:
    type: object
    required:
      - WorkspaceId
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
    description: Information used to terminate a WorkSpace.
  TerminateWorkspaceRequests:
    type: array
    items:
      $ref: '#/definitions/TerminateRequest'
    minItems: 1
    maxItems: 25
  Timestamp:
    type: string
    format: date-time
  UserStorage:
    type: object
    properties:
      Capacity:
        $ref: '#/definitions/NonEmptyString'
        description: The size of the user storage.
    description: Information about the user storage for a WorkSpace bundle.
  UserVolumeSizeGib:
    type: integer
  VolumeEncryptionKey:
    type: string
  WorkspaceState:
    type: string
    enum:
      - PENDING
      - AVAILABLE
      - IMPAIRED
      - UNHEALTHY
      - REBOOTING
      - STARTING
      - REBUILDING
      - MAINTENANCE
      - ADMIN_MAINTENANCE
      - TERMINATING
      - TERMINATED
      - SUSPENDED
      - UPDATING
      - STOPPING
      - STOPPED
      - ERROR
  WorkspaceErrorCode:
    type: string
  Workspace:
    type: object
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The identifier of the WorkSpace.
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the AWS Directory Service directory for the WorkSpace.
      UserName:
        $ref: '#/definitions/UserName'
        description: The user for the WorkSpace.
      IpAddress:
        $ref: '#/definitions/IpAddress'
        description: The IP address of the WorkSpace.
      State:
        $ref: '#/definitions/WorkspaceState'
        description: The operational state of the WorkSpace.
      BundleId:
        $ref: '#/definitions/BundleId'
        description: The identifier of the bundle used to create the WorkSpace.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The identifier of the subnet for the WorkSpace.
      ErrorMessage:
        $ref: '#/definitions/Description'
        description: 'If the WorkSpace could not be created, contains a textual error message that describes the failure.'
      ErrorCode:
        $ref: '#/definitions/WorkspaceErrorCode'
        description: 'If the WorkSpace could not be created, contains the error code.'
      ComputerName:
        $ref: '#/definitions/ComputerName'
        description: 'The name of the WorkSpace, as seen by the operating system.'
      VolumeEncryptionKey:
        $ref: '#/definitions/VolumeEncryptionKey'
        description: The KMS key used to encrypt data stored on your WorkSpace.
      UserVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the user volume is encrypted.
      RootVolumeEncryptionEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether the data stored on the root volume is encrypted.
      WorkspaceProperties:
        $ref: '#/definitions/WorkspaceProperties'
        description: The properties of the WorkSpace.
      ModificationStates:
        $ref: '#/definitions/ModificationStateList'
        description: The modification states of the WorkSpace.
    description: Information about a WorkSpace.
  WorkspaceConnectionStatus:
    type: object
    properties:
      WorkspaceId:
        $ref: '#/definitions/WorkspaceId'
        description: The ID of the WorkSpace.
      ConnectionState:
        $ref: '#/definitions/ConnectionState'
        description: The connection state of the WorkSpace. The connection state is unknown if the WorkSpace is stopped.
      ConnectionStateCheckTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The timestamp of the connection state check.
      LastKnownUserConnectionTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The timestamp of the last known user connection.
    description: Describes the connection status of a WorkSpace.
  WorkspaceDirectoryType:
    type: string
    enum:
      - SIMPLE_AD
      - AD_CONNECTOR
  WorkspaceDirectoryState:
    type: string
    enum:
      - REGISTERING
      - REGISTERED
      - DEREGISTERING
      - DEREGISTERED
      - ERROR
  WorkspacesIpGroup:
    type: object
    properties:
      groupId:
        $ref: '#/definitions/IpGroupId'
        description: The ID of the group.
      groupName:
        $ref: '#/definitions/IpGroupName'
        description: The name of the group.
      groupDesc:
        $ref: '#/definitions/IpGroupDesc'
        description: The description of the group.
      userRules:
        $ref: '#/definitions/IpRuleList'
        description: The rules.
    description: Information about an IP access control group.
