openapi: 3.0.0
servers:
  - url: https://gkehub.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: GKE Hub API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://gkehub.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: gkehub
externalDocs:
  url: https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster
tags:
  - name: projects
paths:
  "/v1/{name}":
    delete:
      description: Deletes a Scope.
      operationId: gkehub.projects.locations.scopes.delete
      parameters:
        - description: Required. The Scope resource name in the format `projects/*/locations/*/scopes/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. If set to true, any subresource from this Membership will also be deleted. Otherwise, the request will only work if the Membership has no subresource.
          in: query
          name: force
          schema:
            type: boolean
        - description: Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Returns the details of a Scope.
      operationId: gkehub.projects.locations.scopes.get
      parameters:
        - description: Required. The Scope resource name in the format `projects/*/locations/*/scopes/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scope"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a MembershipBinding.
      operationId: gkehub.projects.locations.memberships.bindings.patch
      parameters:
        - description: The resource name for the membershipbinding itself `projects/{project}/locations/{location}/memberships/{membership}/bindings/{membershipbinding}`
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. The fields to be updated.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MembershipBinding"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: gkehub.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: gkehub.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: gkehub.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:generateConnectManifest":
    get:
      description: Generates the manifest for deployment of the GKE connect agent. **This method is used internally by Google-provided libraries.** Most clients should not need to call this method directly.
      operationId: gkehub.projects.locations.memberships.generateConnectManifest
      parameters:
        - description: Required. The Membership resource name the Agent will associate with, in the format `projects/*/locations/*/memberships/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. The image pull secret content for the registry, if not public.
          in: query
          name: imagePullSecretContent
          schema:
            type: string
        - description: Optional. If true, generate the resources for upgrade only. Some resources generated only for installation (e.g. secrets) will be excluded.
          in: query
          name: isUpgrade
          schema:
            type: boolean
        - description: Optional. Namespace for GKE Connect agent resources. Defaults to `gke-connect`. The Connect Agent is authorized automatically when run in the default namespace. Otherwise, explicit authorization must be granted with an additional IAM binding.
          in: query
          name: namespace
          schema:
            type: string
        - description: Optional. URI of a proxy if connectivity from the agent to gkeconnect.googleapis.com requires the use of a proxy. Format must be in the form `http(s)://{proxy_address}`, depending on the HTTP/HTTPS protocol supported by the proxy. This will direct the connect agent's outbound traffic through a HTTP(S) proxy.
          in: query
          name: proxy
          schema:
            type: string
        - description: Optional. The registry to fetch the connect agent image from. Defaults to gcr.io/gkeconnect.
          in: query
          name: registry
          schema:
            type: string
        - description: Optional. The Connect agent version to use. Defaults to the most current version.
          in: query
          name: version
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateConnectManifestResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/bindings":
    get:
      description: Lists MembershipBindings.
      operationId: gkehub.projects.locations.memberships.bindings.list
      parameters:
        - description: Required. The parent Membership for which the MembershipBindings will be listed. Specified in the format `projects/*/locations/*/memberships/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Token returned by previous call to `ListMembershipBindings` which specifies the position in the list from where to continue listing the resources.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMembershipBindingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a MembershipBinding.
      operationId: gkehub.projects.locations.memberships.bindings.create
      parameters:
        - description: Required. The parent (project and location) where the MembershipBinding will be created. Specified in the format `projects/*/locations/*/memberships/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to use for the MembershipBinding.
          in: query
          name: membershipBindingId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MembershipBinding"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/features":
    get:
      description: Lists Features in a given project and location.
      operationId: gkehub.projects.locations.features.list
      parameters:
        - description: Required. The parent (project and location) where the Features will be listed. Specified in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Lists Features that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name "servicemesh" in project "foo-proj": name = "projects/foo-proj/locations/global/features/servicemesh" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar'
          in: query
          name: filter
          schema:
            type: string
        - description: One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.
          in: query
          name: orderBy
          schema:
            type: string
        - description: When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFeaturesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds a new Feature.
      operationId: gkehub.projects.locations.features.create
      parameters:
        - description: Required. The parent (project and location) where the Feature will be created. Specified in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The ID of the feature to create.
          in: query
          name: featureId
          schema:
            type: string
        - description: A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Feature"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/memberships":
    get:
      description: Lists Memberships in a given project and location.
      operationId: gkehub.projects.locations.memberships.list
      parameters:
        - description: Required. The parent (project and location) where the Memberships will be listed. Specified in the format `projects/*/locations/*`. `projects/*/locations/-` list memberships in all the regions.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. Lists Memberships that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Name is `bar` in project `foo-proj` and location `global`: name = "projects/foo-proj/locations/global/membership/bar" - Memberships that have a label called `foo`: labels.foo:* - Memberships that have a label called `foo` whose value is `bar`: labels.foo = bar - Memberships in the CREATING state: state = CREATING'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Token returned by previous call to `ListMemberships` which specifies the position in the list from where to continue listing the resources.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMembershipsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Membership. **This is currently only supported for GKE clusters on Google Cloud**. To register other clusters, follow the instructions at https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster.
      operationId: gkehub.projects.locations.memberships.create
      parameters:
        - description: Required. The parent (project and location) where the Memberships will be created. Specified in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. Client chosen ID for the membership. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters."
          in: query
          name: membershipId
          schema:
            type: string
        - description: Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Membership"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/scopes":
    get:
      description: Lists Scopes.
      operationId: gkehub.projects.locations.scopes.list
      parameters:
        - description: Required. The parent (project and location) where the Scope will be listed. Specified in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Token returned by previous call to `ListScopes` which specifies the position in the list from where to continue listing the resources.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListScopesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Scope.
      operationId: gkehub.projects.locations.scopes.create
      parameters:
        - description: Required. The parent (project and location) where the Scope will be created. Specified in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Client chosen ID for the Scope. `scope_id` must be a ????
          in: query
          name: scopeId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Scope"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:getIamPolicy":
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: gkehub.projects.locations.memberships.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: gkehub.projects.locations.memberships.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: gkehub.projects.locations.memberships.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AppDevExperienceFeatureSpec:
      description: Spec for App Dev Experience Feature.
      properties: {}
      type: object
    AppDevExperienceFeatureState:
      description: State for App Dev Exp Feature.
      properties:
        networkingInstallSucceeded:
          $ref: "#/components/schemas/Status"
          description: Status of subcomponent that detects configured Service Mesh resources.
      type: object
    ApplianceCluster:
      description: ApplianceCluster contains information specific to GDC Edge Appliance Clusters.
      properties:
        resourceLink:
          description: "Immutable. Self-link of the GCP resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
          type: string
      type: object
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    Authority:
      description: "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
      properties:
        identityProvider:
          description: Output only. An identity provider that reflects the `issuer` in the workload identity pool.
          readOnly: true
          type: string
        issuer:
          description: Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length <2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).
          type: string
        oidcJwks:
          description: Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.
          format: byte
          type: string
        workloadIdentityPool:
          description: Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.
          readOnly: true
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CommonFeatureSpec:
      description: CommonFeatureSpec contains Hub-wide configuration information
      properties:
        appdevexperience:
          $ref: "#/components/schemas/AppDevExperienceFeatureSpec"
          description: Appdevexperience specific spec.
        fleetobservability:
          $ref: "#/components/schemas/FleetObservabilityFeatureSpec"
          description: FleetObservability feature spec.
        multiclusteringress:
          $ref: "#/components/schemas/MultiClusterIngressFeatureSpec"
          description: Multicluster Ingress-specific spec.
      type: object
    CommonFeatureState:
      description: CommonFeatureState contains Hub-wide Feature status information.
      properties:
        appdevexperience:
          $ref: "#/components/schemas/AppDevExperienceFeatureState"
          description: Appdevexperience specific state.
        fleetobservability:
          $ref: "#/components/schemas/FleetObservabilityFeatureState"
          description: FleetObservability feature state.
        state:
          $ref: "#/components/schemas/FeatureState"
          description: Output only. The "running state" of the Feature in this Hub.
          readOnly: true
      type: object
    CommonFleetDefaultMemberConfigSpec:
      description: CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet
      properties: {}
      type: object
    ConfigManagementConfigSync:
      description: Configuration for Config Sync
      properties:
        allowVerticalScale:
          description: Set to true to allow the vertical scaling. Defaults to false which disallows vertical scaling. This field is deprecated.
          type: boolean
        enabled:
          description: Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of git field.
          type: boolean
        git:
          $ref: "#/components/schemas/ConfigManagementGitConfig"
          description: Git repo configuration for the cluster.
        managed:
          $ref: "#/components/schemas/ConfigManagementManaged"
          description: Configuration for Managed Config Sync.
        oci:
          $ref: "#/components/schemas/ConfigManagementOciConfig"
          description: OCI repo configuration for the cluster
        preventDrift:
          description: Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts.
          type: boolean
        sourceFormat:
          description: Specifies whether the Config Sync Repo is in "hierarchical" or "unstructured" mode.
          type: string
      type: object
    ConfigManagementConfigSyncDeploymentState:
      description: The state of ConfigSync's deployment on a cluster
      properties:
        admissionWebhook:
          description: Deployment state of admission-webhook
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        gitSync:
          description: Deployment state of the git-sync pod
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        importer:
          description: Deployment state of the importer pod
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        monitor:
          description: Deployment state of the monitor pod
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        reconcilerManager:
          description: Deployment state of reconciler-manager pod
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        rootReconciler:
          description: Deployment state of root-reconciler
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        syncer:
          description: Deployment state of the syncer pod
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
      type: object
    ConfigManagementConfigSyncState:
      description: State information for ConfigSync
      properties:
        deploymentState:
          $ref: "#/components/schemas/ConfigManagementConfigSyncDeploymentState"
          description: Information about the deployment of ConfigSync, including the version of the various Pods deployed
        syncState:
          $ref: "#/components/schemas/ConfigManagementSyncState"
          description: The state of ConfigSync's process to sync configs to a cluster
        version:
          $ref: "#/components/schemas/ConfigManagementConfigSyncVersion"
          description: The version of ConfigSync deployed
      type: object
    ConfigManagementConfigSyncVersion:
      description: Specific versioning information pertaining to ConfigSync's Pods
      properties:
        admissionWebhook:
          description: Version of the deployed admission_webhook pod
          type: string
        gitSync:
          description: Version of the deployed git-sync pod
          type: string
        importer:
          description: Version of the deployed importer pod
          type: string
        monitor:
          description: Version of the deployed monitor pod
          type: string
        reconcilerManager:
          description: Version of the deployed reconciler-manager pod
          type: string
        rootReconciler:
          description: Version of the deployed reconciler container in root-reconciler pod
          type: string
        syncer:
          description: Version of the deployed syncer pod
          type: string
      type: object
    ConfigManagementErrorResource:
      description: Model for a config file in the git repo with an associated Sync error
      properties:
        resourceGvk:
          $ref: "#/components/schemas/ConfigManagementGroupVersionKind"
          description: Group/version/kind of the resource that is causing an error
        resourceName:
          description: Metadata name of the resource that is causing an error
          type: string
        resourceNamespace:
          description: Namespace of the resource that is causing an error
          type: string
        sourcePath:
          description: Path in the git repo of the erroneous config
          type: string
      type: object
    ConfigManagementGatekeeperDeploymentState:
      description: State of Policy Controller installation.
      properties:
        gatekeeperAudit:
          description: Status of gatekeeper-audit deployment.
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        gatekeeperControllerManagerState:
          description: Status of gatekeeper-controller-manager pod.
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        gatekeeperMutation:
          description: Status of the pod serving the mutation webhook.
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
      type: object
    ConfigManagementGitConfig:
      description: Git repo configuration for a single cluster.
      properties:
        gcpServiceAccountEmail:
          description: The GCP Service Account Email used for auth when secret_type is gcpServiceAccount.
          type: string
        httpsProxy:
          description: URL for the HTTPS proxy to be used when communicating with the Git repo.
          type: string
        policyDir:
          description: "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
          type: string
        secretType:
          description: Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required.
          type: string
        syncBranch:
          description: "The branch of the repository to sync from. Default: master."
          type: string
        syncRepo:
          description: The URL of the Git repository to use as the source of truth.
          type: string
        syncRev:
          description: Git revision (tag or hash) to check out. Default HEAD.
          type: string
        syncWaitSecs:
          description: "Period in seconds between consecutive syncs. Default: 15."
          format: int64
          type: string
      type: object
    ConfigManagementGroupVersionKind:
      description: A Kubernetes object's GVK
      properties:
        group:
          description: Kubernetes Group
          type: string
        kind:
          description: Kubernetes Kind
          type: string
        version:
          description: Kubernetes Version
          type: string
      type: object
    ConfigManagementHierarchyControllerConfig:
      description: Configuration for Hierarchy Controller
      properties:
        enableHierarchicalResourceQuota:
          description: Whether hierarchical resource quota is enabled in this cluster.
          type: boolean
        enablePodTreeLabels:
          description: Whether pod tree labels are enabled in this cluster.
          type: boolean
        enabled:
          description: Whether Hierarchy Controller is enabled in this cluster.
          type: boolean
      type: object
    ConfigManagementHierarchyControllerDeploymentState:
      description: Deployment state for Hierarchy Controller
      properties:
        extension:
          description: The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        hnc:
          description: The deployment state for open source HNC (e.g. v0.7.0-hc.0)
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
      type: object
    ConfigManagementHierarchyControllerState:
      description: State for Hierarchy Controller
      properties:
        state:
          $ref: "#/components/schemas/ConfigManagementHierarchyControllerDeploymentState"
          description: The deployment state for Hierarchy Controller
        version:
          $ref: "#/components/schemas/ConfigManagementHierarchyControllerVersion"
          description: The version for Hierarchy Controller
      type: object
    ConfigManagementHierarchyControllerVersion:
      description: Version for Hierarchy Controller
      properties:
        extension:
          description: Version for Hierarchy Controller extension
          type: string
        hnc:
          description: Version for open source HNC
          type: string
      type: object
    ConfigManagementInstallError:
      description: Errors pertaining to the installation of ACM
      properties:
        errorMessage:
          description: A string representing the user facing error message
          type: string
      type: object
    ConfigManagementManaged:
      description: Configuration for Managed Config Sync.
      properties:
        enabled:
          description: Set to true to enable Managed Config Sync. Defaults to false which disables Managed Config Sync.
          type: boolean
      type: object
    ConfigManagementMembershipSpec:
      description: "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR."
      properties:
        configSync:
          $ref: "#/components/schemas/ConfigManagementConfigSync"
          description: Config Sync configuration for the cluster.
        hierarchyController:
          $ref: "#/components/schemas/ConfigManagementHierarchyControllerConfig"
          description: Hierarchy Controller configuration for the cluster.
        policyController:
          $ref: "#/components/schemas/ConfigManagementPolicyController"
          description: Policy Controller configuration for the cluster.
        version:
          description: Version of ACM installed.
          type: string
      type: object
    ConfigManagementMembershipState:
      description: "**Anthos Config Management**: State for a single cluster."
      properties:
        clusterName:
          description: The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed ACM on the cluster manually prior to enabling the ACM hub feature. Unique within a Anthos Config Management installation.
          type: string
        configSyncState:
          $ref: "#/components/schemas/ConfigManagementConfigSyncState"
          description: Current sync status
        hierarchyControllerState:
          $ref: "#/components/schemas/ConfigManagementHierarchyControllerState"
          description: Hierarchy Controller status
        membershipSpec:
          $ref: "#/components/schemas/ConfigManagementMembershipSpec"
          description: Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state
        operatorState:
          $ref: "#/components/schemas/ConfigManagementOperatorState"
          description: Current install status of ACM's Operator
        policyControllerState:
          $ref: "#/components/schemas/ConfigManagementPolicyControllerState"
          description: PolicyController status
      type: object
    ConfigManagementOciConfig:
      description: OCI repo configuration for a single cluster
      properties:
        gcpServiceAccountEmail:
          description: The GCP Service Account Email used for auth when secret_type is gcpServiceAccount.
          type: string
        policyDir:
          description: "The absolute path of the directory that contains the local resources. Default: the root directory of the image."
          type: string
        secretType:
          description: Type of secret configured for access to the Git repo.
          type: string
        syncRepo:
          description: The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.
          type: string
        syncWaitSecs:
          description: "Period in seconds between consecutive syncs. Default: 15."
          format: int64
          type: string
      type: object
    ConfigManagementOperatorState:
      description: State information for an ACM's Operator
      properties:
        deploymentState:
          description: The state of the Operator's deployment
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - NOT_INSTALLED
            - INSTALLED
            - ERROR
          type: string
        errors:
          description: Install errors.
          items:
            $ref: "#/components/schemas/ConfigManagementInstallError"
          type: array
        version:
          description: The semenatic version number of the operator
          type: string
      type: object
    ConfigManagementPolicyController:
      description: Configuration for Policy Controller
      properties:
        auditIntervalSeconds:
          description: Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.
          format: int64
          type: string
        enabled:
          description: Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.
          type: boolean
        exemptableNamespaces:
          description: The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.
          items:
            type: string
          type: array
        logDeniesEnabled:
          description: Logs all denies and dry run failures.
          type: boolean
        monitoring:
          $ref: "#/components/schemas/ConfigManagementPolicyControllerMonitoring"
          description: Monitoring specifies the configuration of monitoring.
        mutationEnabled:
          description: Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster.
          type: boolean
        referentialRulesEnabled:
          description: Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.
          type: boolean
        templateLibraryInstalled:
          description: Installs the default template library along with Policy Controller.
          type: boolean
      type: object
    ConfigManagementPolicyControllerMigration:
      description: State for the migration of PolicyController from ACM -> PoCo Hub.
      properties:
        stage:
          description: Stage of the migration.
          enum:
            - STAGE_UNSPECIFIED
            - ACM_MANAGED
            - POCO_MANAGED
          type: string
      type: object
    ConfigManagementPolicyControllerMonitoring:
      description: 'PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: ["cloudmonitoring", "prometheus"]'
      properties:
        backends:
          description: Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.
          items:
            enum:
              - MONITORING_BACKEND_UNSPECIFIED
              - PROMETHEUS
              - CLOUD_MONITORING
            type: string
          type: array
      type: object
    ConfigManagementPolicyControllerState:
      description: State for PolicyControllerState.
      properties:
        deploymentState:
          $ref: "#/components/schemas/ConfigManagementGatekeeperDeploymentState"
          description: The state about the policy controller installation.
        migration:
          $ref: "#/components/schemas/ConfigManagementPolicyControllerMigration"
          description: Record state of ACM -> PoCo Hub migration for this feature.
        version:
          $ref: "#/components/schemas/ConfigManagementPolicyControllerVersion"
          description: The version of Gatekeeper Policy Controller deployed.
      type: object
    ConfigManagementPolicyControllerVersion:
      description: The build version of Gatekeeper Policy Controller is using.
      properties:
        version:
          description: The gatekeeper image tag that is composed of ACM version, git tag, build number.
          type: string
      type: object
    ConfigManagementSyncError:
      description: An ACM created error representing a problem syncing configurations
      properties:
        code:
          description: An ACM defined error code
          type: string
        errorMessage:
          description: A description of the error
          type: string
        errorResources:
          description: A list of config(s) associated with the error, if any
          items:
            $ref: "#/components/schemas/ConfigManagementErrorResource"
          type: array
      type: object
    ConfigManagementSyncState:
      description: State indicating an ACM's progress syncing configurations to a cluster
      properties:
        code:
          description: Sync status code
          enum:
            - SYNC_CODE_UNSPECIFIED
            - SYNCED
            - PENDING
            - ERROR
            - NOT_CONFIGURED
            - NOT_INSTALLED
            - UNAUTHORIZED
            - UNREACHABLE
          type: string
        errors:
          description: A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.
          items:
            $ref: "#/components/schemas/ConfigManagementSyncError"
          type: array
        importToken:
          description: Token indicating the state of the importer.
          type: string
        lastSync:
          description: "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
          type: string
        lastSyncTime:
          description: Timestamp type of when ACM last successfully synced the repo
          format: google-datetime
          type: string
        sourceToken:
          description: Token indicating the state of the repo.
          type: string
        syncToken:
          description: Token indicating the state of the syncer.
          type: string
      type: object
    ConnectAgentResource:
      description: ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment.
      properties:
        manifest:
          description: YAML manifest of the resource.
          type: string
        type:
          $ref: "#/components/schemas/TypeMeta"
          description: Kubernetes type of the resource.
      type: object
    EdgeCluster:
      description: EdgeCluster contains information specific to Google Edge Clusters.
      properties:
        resourceLink:
          description: "Immutable. Self-link of the GCP resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      properties:
        description:
          description: Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: Textual representation of an expression in Common Expression Language syntax.
          type: string
        location:
          description: Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.
          type: string
      type: object
    Feature:
      description: Feature represents the settings and status of any Hub Feature.
      properties:
        createTime:
          description: Output only. When the Feature resource was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          description: Output only. When the Feature resource was deleted.
          format: google-datetime
          readOnly: true
          type: string
        fleetDefaultMemberConfig:
          $ref: "#/components/schemas/CommonFleetDefaultMemberConfigSpec"
          description: Optional. Feature configuration applicable to all memberships of the fleet.
        labels:
          additionalProperties:
            type: string
          description: GCP labels for this Feature.
          type: object
        membershipSpecs:
          additionalProperties:
            $ref: "#/components/schemas/MembershipFeatureSpec"
          description: "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
          type: object
        membershipStates:
          additionalProperties:
            $ref: "#/components/schemas/MembershipFeatureState"
          description: "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number."
          readOnly: true
          type: object
        name:
          description: Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.
          readOnly: true
          type: string
        resourceState:
          $ref: "#/components/schemas/FeatureResourceState"
          description: Output only. State of the Feature resource itself.
          readOnly: true
        scopeSpecs:
          additionalProperties:
            $ref: "#/components/schemas/ScopeFeatureSpec"
          description: "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
          type: object
        scopeStates:
          additionalProperties:
            $ref: "#/components/schemas/ScopeFeatureState"
          description: "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project."
          readOnly: true
          type: object
        spec:
          $ref: "#/components/schemas/CommonFeatureSpec"
          description: Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused.
        state:
          $ref: "#/components/schemas/CommonFeatureState"
          description: Output only. The Hub-wide Feature state.
          readOnly: true
        updateTime:
          description: Output only. When the Feature resource was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    FeatureResourceState:
      description: FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the "running state" of the Feature in the Hub and across Memberships.
      properties:
        state:
          description: The current state of the Feature resource in the Hub API.
          enum:
            - STATE_UNSPECIFIED
            - ENABLING
            - ACTIVE
            - DISABLING
            - UPDATING
            - SERVICE_UPDATING
          type: string
      type: object
    FeatureState:
      description: FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context.
      properties:
        code:
          description: The high-level, machine-readable status of this Feature.
          enum:
            - CODE_UNSPECIFIED
            - OK
            - WARNING
            - ERROR
          type: string
        description:
          description: A human-readable description of the current status.
          type: string
        updateTime:
          description: The time this status and any related Feature-specific details were updated.
          format: google-datetime
          type: string
      type: object
    FleetObservabilityFeatureSpec:
      description: "**Fleet Observability**: The Hub-wide input for the FleetObservability feature."
      properties: {}
      type: object
    FleetObservabilityFeatureState:
      description: "**FleetObservability**: An empty state left as an example Hub-wide Feature state."
      properties: {}
      type: object
    FleetObservabilityMembershipSpec:
      description: "**FleetObservability**: The membership-specific input for FleetObservability feature."
      properties: {}
      type: object
    FleetObservabilityMembershipState:
      description: "**FleetObservability**: An empty state left as an example membership-specific Feature state."
      properties: {}
      type: object
    GenerateConnectManifestResponse:
      description: GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent.
      properties:
        manifest:
          description: The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade.
          items:
            $ref: "#/components/schemas/ConnectAgentResource"
          type: array
      type: object
    GkeCluster:
      description: GkeCluster contains information specific to GKE clusters.
      properties:
        clusterMissing:
          description: Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane.
          readOnly: true
          type: boolean
        resourceLink:
          description: "Immutable. Self-link of the GCP resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
          type: string
      type: object
    GoogleRpcStatus:
      description: "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      properties:
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
    IdentityServiceAuthMethod:
      description: Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.
      properties:
        azureadConfig:
          $ref: "#/components/schemas/IdentityServiceAzureADConfig"
          description: AzureAD specific Configuration.
        googleConfig:
          $ref: "#/components/schemas/IdentityServiceGoogleConfig"
          description: GoogleConfig specific configuration
        name:
          description: Identifier for auth config.
          type: string
        oidcConfig:
          $ref: "#/components/schemas/IdentityServiceOidcConfig"
          description: OIDC specific configuration.
        proxy:
          description: Proxy server address to use for auth method.
          type: string
      type: object
    IdentityServiceAzureADConfig:
      description: Configuration for the AzureAD Auth flow.
      properties:
        clientId:
          description: ID for the registered client application that makes authentication requests to the Azure AD identity provider.
          type: string
        clientSecret:
          description: Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH.
          type: string
        encryptedClientSecret:
          description: Output only. Encrypted AzureAD client secret.
          format: byte
          readOnly: true
          type: string
        kubectlRedirectUri:
          description: The redirect URL that kubectl uses for authorization.
          type: string
        tenant:
          description: Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.
          type: string
      type: object
    IdentityServiceGoogleConfig:
      description: Configuration for the Google Plugin Auth flow.
      properties:
        disable:
          description: Disable automatic configuration of Google Plugin on supported platforms.
          type: boolean
      type: object
    IdentityServiceMembershipSpec:
      description: "**Anthos Identity Service**: Configuration for a single Membership."
      properties:
        authMethods:
          description: A member may support multiple auth methods.
          items:
            $ref: "#/components/schemas/IdentityServiceAuthMethod"
          type: array
      type: object
    IdentityServiceMembershipState:
      description: "**Anthos Identity Service**: State for a single Membership."
      properties:
        failureReason:
          description: The reason of the failure.
          type: string
        installedVersion:
          description: Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK.
          type: string
        memberConfig:
          $ref: "#/components/schemas/IdentityServiceMembershipSpec"
          description: Last reconciled membership configuration
        state:
          description: Deployment state on this member
          enum:
            - DEPLOYMENT_STATE_UNSPECIFIED
            - OK
            - ERROR
          type: string
      type: object
    IdentityServiceOidcConfig:
      description: Configuration for OIDC Auth flow.
      properties:
        certificateAuthorityData:
          description: PEM-encoded CA for OIDC provider.
          type: string
        clientId:
          description: ID for OIDC client application.
          type: string
        clientSecret:
          description: Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.
          type: string
        deployCloudConsoleProxy:
          description: Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.
          type: boolean
        enableAccessToken:
          description: Enable access token.
          type: boolean
        encryptedClientSecret:
          description: Output only. Encrypted OIDC Client secret
          format: byte
          readOnly: true
          type: string
        extraParams:
          description: Comma-separated list of key-value pairs.
          type: string
        groupPrefix:
          description: Prefix to prepend to group name.
          type: string
        groupsClaim:
          description: Claim in OIDC ID token that holds group information.
          type: string
        issuerUri:
          description: URI for the OIDC provider. This should point to the level below .well-known/openid-configuration.
          type: string
        kubectlRedirectUri:
          description: Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.
          type: string
        scopes:
          description: Comma-separated list of identifiers.
          type: string
        userClaim:
          description: Claim in OIDC ID token that holds username.
          type: string
        userPrefix:
          description: Prefix to prepend to user name.
          type: string
      type: object
    KubernetesMetadata:
      description: KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters.
      properties:
        kubernetesApiServerVersion:
          description: Output only. Kubernetes API server version string as reported by `/version`.
          readOnly: true
          type: string
        memoryMb:
          description: Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB.
          format: int32
          readOnly: true
          type: integer
        nodeCount:
          description: Output only. Node count as reported by Kubernetes nodes resources.
          format: int32
          readOnly: true
          type: integer
        nodeProviderId:
          description: Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the node_count will be zero and the node_provider_id will be empty.
          readOnly: true
          type: string
        updateTime:
          description: Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.
          format: google-datetime
          readOnly: true
          type: string
        vcpuCount:
          description: Output only. vCPU count as reported by Kubernetes nodes resources.
          format: int32
          readOnly: true
          type: integer
      type: object
    KubernetesResource:
      description: KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster.
      properties:
        connectResources:
          description: Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.
          items:
            $ref: "#/components/schemas/ResourceManifest"
          readOnly: true
          type: array
        membershipCrManifest:
          description: Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership.
          type: string
        membershipResources:
          description: Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.
          items:
            $ref: "#/components/schemas/ResourceManifest"
          readOnly: true
          type: array
        resourceOptions:
          $ref: "#/components/schemas/ResourceOptions"
          description: Optional. Options for Kubernetes resource generation.
      type: object
    ListFeaturesResponse:
      description: Response message for the `GkeHub.ListFeatures` method.
      properties:
        nextPageToken:
          description: A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return.
          type: string
        resources:
          description: The list of matching Features
          items:
            $ref: "#/components/schemas/Feature"
          type: array
      type: object
    ListLocationsResponse:
      description: The response message for Locations.ListLocations.
      properties:
        locations:
          description: A list of locations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/Location"
          type: array
        nextPageToken:
          description: The standard List next-page token.
          type: string
      type: object
    ListMembershipBindingsResponse:
      description: List of MembershipBindings.
      properties:
        membershipBindings:
          description: The list of membership_bindings
          items:
            $ref: "#/components/schemas/MembershipBinding"
          type: array
        nextPageToken:
          description: A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return.
          type: string
      type: object
    ListMembershipsResponse:
      description: Response message for the `GkeHub.ListMemberships` method.
      properties:
        nextPageToken:
          description: A token to request the next page of resources from the `ListMemberships` method. The value of an empty string means that there are no more resources to return.
          type: string
        resources:
          description: The list of matching Memberships.
          items:
            $ref: "#/components/schemas/Membership"
          type: array
        unreachable:
          description: List of locations that could not be reached while fetching this list.
          items:
            type: string
          type: array
      type: object
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          description: A list of operations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/Operation"
          type: array
      type: object
    ListScopesResponse:
      description: List of Scopes.
      properties:
        nextPageToken:
          description: A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return.
          type: string
        scopes:
          description: The list of Scopes
          items:
            $ref: "#/components/schemas/Scope"
          type: array
      type: object
    Location:
      description: A resource that represents Google Cloud Platform location.
      properties:
        displayName:
          description: The friendly name for this location, typically a nearby city name. For example, "Tokyo".
          type: string
        labels:
          additionalProperties:
            type: string
          description: 'Cross-service attributes for the location. For example {"cloud.googleapis.com/region": "us-east1"}'
          type: object
        locationId:
          description: 'The canonical id for this location. For example: `"us-east1"`.'
          type: string
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: Service-specific metadata. For example the available capacity at the given location.
          type: object
        name:
          description: 'Resource name for the location, which may vary between implementations. For example: `"projects/example-project/locations/us-east1"`'
          type: string
      type: object
    Membership:
      description: Membership contains information about a member cluster.
      properties:
        authority:
          $ref: "#/components/schemas/Authority"
          description: "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        createTime:
          description: Output only. When the Membership was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          description: Output only. When the Membership was deleted.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes."
          readOnly: true
          type: string
        endpoint:
          $ref: "#/components/schemas/MembershipEndpoint"
          description: Optional. Endpoint information to reach this member.
        externalId:
          description: "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. GCP labels for this membership.
          type: object
        lastConnectionTime:
          description: Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.
          format: google-datetime
          readOnly: true
          type: string
        monitoringConfig:
          $ref: "#/components/schemas/MonitoringConfig"
          description: Optional. The monitoring config information for this membership.
        name:
          description: "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters."
          readOnly: true
          type: string
        state:
          $ref: "#/components/schemas/MembershipState"
          description: Output only. State of the Membership resource.
          readOnly: true
        uniqueId:
          description: Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id.
          readOnly: true
          type: string
        updateTime:
          description: Output only. When the Membership was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    MembershipBinding:
      description: MembershipBinding is a subresource of a Membership, representing what Fleet Scopes (or other, future Fleet resources) a Membership is bound to.
      properties:
        createTime:
          description: Output only. When the membership binding was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          description: Output only. When the membership binding was deleted.
          format: google-datetime
          readOnly: true
          type: string
        fleet:
          description: Whether the membershipbinding is Fleet-wide; true means that this Membership should be bound to all Namespaces in this entire Fleet.
          type: boolean
        name:
          description: The resource name for the membershipbinding itself `projects/{project}/locations/{location}/memberships/{membership}/bindings/{membershipbinding}`
          type: string
        scope:
          description: A Workspace resource name in the format `projects/*/locations/*/scopes/*`.
          type: string
        state:
          $ref: "#/components/schemas/MembershipBindingLifecycleState"
          description: Output only. State of the membership binding resource.
          readOnly: true
        uid:
          description: Output only. Google-generated UUID for this resource. This is unique across all membershipbinding resources. If a membershipbinding resource is deleted and another resource with the same name is created, it gets a different uid.
          readOnly: true
          type: string
        updateTime:
          description: Output only. When the membership binding was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    MembershipBindingLifecycleState:
      description: MembershipBindingLifecycleState describes the state of a Binding resource.
      properties:
        code:
          description: Output only. The current state of the MembershipBinding resource.
          enum:
            - CODE_UNSPECIFIED
            - CREATING
            - READY
            - DELETING
            - UPDATING
          readOnly: true
          type: string
      type: object
[...]
