{
  "host": "epscass.prd-prsn.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "epscass.prd-prsn.com",
    "x-providerName": "prd-prsn.com",
    "x-origin": {
      "format": "swagger",
      "version": "1.2",
      "url": "http://epscass.prd-prsn.com/api/resources"
    }
  },
  "tags": [
    {
      "name": "institution",
      "description": "institution"
    },
    {
      "name": "version",
      "description": "Version"
    }
  ],
  "paths": {
    "/institution": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "institution"
        ],
        "operationId": "getInstitutions",
        "summary": "List institution",
        "description": "",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/institution/{uniqueId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "institution"
        ],
        "operationId": "getInstitution",
        "summary": "Get an institution",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "description": "The intitution unique id",
            "name": "uniqueId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/version/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "version"
        ],
        "operationId": "version",
        "summary": "Get the server version",
        "description": "",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    }
  }
}