swagger: '2.0'
info:
  version: '2015-07-01'
  x-release: v4
  title: AWS Marketplace Commerce Analytics
  description: Provides AWS Marketplace business intelligence data on-demand.
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: marketplacecommerceanalytics
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/marketplacecommerceanalytics-2015-07-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/marketplacecommerceanalytics/'
host: marketplacecommerceanalytics.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: GenerateDataSet
      description: 'Given a data set type and data set publication date, asynchronously publishes the requested data set to the specified S3 bucket and notifies the specified SNS topic once the data is available. Returns a unique request identifier that can be used to correlate requests with notifications from the SNS topic. Data sets will be published in comma-separated values (CSV) format with the file name {data_set_type}_YYYY-MM-DD.csv. If a file with the same name already exists (e.g. if the same data set is requested twice), the original file will be overwritten by the new file. Requires a Role with an attached permissions policy providing Allow permissions for the following actions: s3:PutObject, s3:GetBucketLocation, sns:GetTopicAttributes, sns:Publish, iam:GetRolePolicy.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GenerateDataSetResult'
        '480':
          description: MarketplaceCommerceAnalyticsException
          schema:
            $ref: '#/definitions/MarketplaceCommerceAnalyticsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GenerateDataSetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartSupportDataExport':
    post:
      operationId: StartSupportDataExport
      description: 'Given a data set type and a from date, asynchronously publishes the requested customer support data to the specified S3 bucket and notifies the specified SNS topic once the data is available. Returns a unique request identifier that can be used to correlate requests with notifications from the SNS topic. Data sets will be published in comma-separated values (CSV) format with the file name {data_set_type}_YYYY-MM-DD''T''HH-mm-ss''Z''.csv. If a file with the same name already exists (e.g. if the same data set is requested twice), the original file will be overwritten by the new file. Requires a Role with an attached permissions policy providing Allow permissions for the following actions: s3:PutObject, s3:GetBucketLocation, sns:GetTopicAttributes, sns:Publish, iam:GetRolePolicy.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSupportDataExportResult'
        '480':
          description: MarketplaceCommerceAnalyticsException
          schema:
            $ref: '#/definitions/MarketplaceCommerceAnalyticsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartSupportDataExportRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CustomerDefinedValues:
    type: array
    minItems: 1
    maxItems: 5
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/OptionalKey'
        value:
          $ref: '#/definitions/OptionalValue'
  DataSetPublicationDate:
    type: string
    format: date-time
  DataSetRequestId:
    type: string
  DataSetType:
    type: string
    enum:
      - customer_subscriber_hourly_monthly_subscriptions
      - customer_subscriber_annual_subscriptions
      - daily_business_usage_by_instance_type
      - daily_business_fees
      - daily_business_free_trial_conversions
      - daily_business_new_instances
      - daily_business_new_product_subscribers
      - daily_business_canceled_product_subscribers
      - monthly_revenue_billing_and_revenue_data
      - monthly_revenue_annual_subscriptions
      - disbursed_amount_by_product
      - disbursed_amount_by_product_with_uncollected_funds
      - disbursed_amount_by_instance_hours
      - disbursed_amount_by_customer_geo
      - disbursed_amount_by_age_of_uncollected_funds
      - disbursed_amount_by_age_of_disbursed_funds
      - customer_profile_by_industry
      - customer_profile_by_revenue
      - customer_profile_by_geography
      - sales_compensation_billed_revenue
      - us_sales_and_use_tax_records
    minLength: 1
    maxLength: 255
  DestinationS3BucketName:
    type: string
    minLength: 1
  DestinationS3Prefix:
    type: string
  ExceptionMessage:
    type: string
  FromDate:
    type: string
    format: date-time
  GenerateDataSetRequest:
    type: object
    required:
      - dataSetType
      - dataSetPublicationDate
      - roleNameArn
      - destinationS3BucketName
      - snsTopicArn
    properties:
      dataSetType:
        $ref: '#/definitions/DataSetType'
        description: '<p>The desired data set type.</p> <p> <ul> <li> <strong>customer_subscriber_hourly_monthly_subscriptions</strong> <p>From 2014-07-21 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>customer_subscriber_annual_subscriptions</strong> <p>From 2014-07-21 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_usage_by_instance_type</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_fees</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_free_trial_conversions</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_new_instances</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_new_product_subscribers</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_canceled_product_subscribers</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>monthly_revenue_billing_and_revenue_data</strong> <p>From 2015-02 to 2017-06: Available monthly on the 4th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from two months prior.</p> <p>From 2017-07 to present: Available monthly on the 15th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from one month prior.</p> </li> <li> <strong>monthly_revenue_annual_subscriptions</strong> <p>From 2015-02 to 2017-06: Available monthly on the 4th day of the month by 5:00pm Pacific Time. Data includes up-front software charges (e.g. annual) from one month prior.</p> <p>From 2017-07 to present: Available monthly on the 15th day of the month by 5:00pm Pacific Time. Data includes up-front software charges (e.g. annual) from one month prior.</p> </li> <li> <strong>disbursed_amount_by_product</strong> <p>From 2015-01-26 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_product_with_uncollected_funds</strong> <p>From 2012-04-19 to 2015-01-25: Available every 30 days by 5:00 PM Pacific Time.</p> <p>From 2015-01-26 to present: This data set was split into three data sets: disbursed_amount_by_product, disbursed_amount_by_age_of_uncollected_funds, and disbursed_amount_by_age_of_disbursed_funds.</p> </li> <li> <strong>disbursed_amount_by_instance_hours</strong> <p>From 2012-09-04 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_customer_geo</strong> <p>From 2012-04-19 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_age_of_uncollected_funds</strong> <p>From 2015-01-26 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_age_of_disbursed_funds</strong> <p>From 2015-01-26 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>customer_profile_by_industry</strong> <p>From 2015-10-01 to 2017-06-29: Available daily by 5:00 PM Pacific Time.</p> <p>From 2017-06-30 to present: This data set is no longer available.</p> </li> <li> <strong>customer_profile_by_revenue</strong> <p>From 2015-10-01 to 2017-06-29: Available daily by 5:00 PM Pacific Time.</p> <p>From 2017-06-30 to present: This data set is no longer available.</p> </li> <li> <strong>customer_profile_by_geography</strong> <p>From 2015-10-01 to 2017-06-29: Available daily by 5:00 PM Pacific Time.</p> <p>From 2017-06-30 to present: This data set is no longer available.</p> </li> <li> <strong>sales_compensation_billed_revenue</strong> <p>From 2016-12 to 2017-06: Available monthly on the 4th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from two months prior, and up-front software charges (e.g. annual) from one month prior.</p> <p>From 2017-06 to present: Available monthly on the 15th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from one month prior, and up-front software charges (e.g. annual) from one month prior.</p> </li> <li> <strong>us_sales_and_use_tax_records</strong> <p>From 2017-02-15 to present: Available monthly on the 15th day of the month by 5:00 PM Pacific Time.</p> </li> </ul> </p>'
      dataSetPublicationDate:
        $ref: '#/definitions/DataSetPublicationDate'
        description: 'The date a data set was published. For daily data sets, provide a date with day-level granularity for the desired day. For weekly data sets, provide a date with day-level granularity within the desired week (the day value will be ignored). For monthly data sets, provide a date with month-level granularity for the desired month (the day value will be ignored).'
      roleNameArn:
        $ref: '#/definitions/RoleNameArn'
        description: The Amazon Resource Name (ARN) of the Role with an attached permissions policy to interact with the provided AWS services.
      destinationS3BucketName:
        $ref: '#/definitions/DestinationS3BucketName'
        description: 'The name (friendly name, not ARN) of the destination S3 bucket.'
      destinationS3Prefix:
        $ref: '#/definitions/DestinationS3Prefix'
        description: '(Optional) The desired S3 prefix for the published data set, similar to a directory path in standard file systems. For example, if given the bucket name "mybucket" and the prefix "myprefix/mydatasets", the output file "outputfile" would be published to "s3://mybucket/myprefix/mydatasets/outputfile". If the prefix directory structure does not exist, it will be created. If no prefix is provided, the data set will be published to the S3 bucket root.'
      snsTopicArn:
        $ref: '#/definitions/SnsTopicArn'
        description: Amazon Resource Name (ARN) for the SNS Topic that will be notified when the data set has been published or if an error has occurred.
      customerDefinedValues:
        $ref: '#/definitions/CustomerDefinedValues'
        description: '(Optional) Key-value pairs which will be returned, unmodified, in the Amazon SNS notification message and the data set metadata file. These key-value pairs can be used to correlated responses with tracking information from other systems.'
    description: Container for the parameters to the GenerateDataSet operation.
  GenerateDataSetResult:
    type: object
    properties:
      dataSetRequestId:
        $ref: '#/definitions/DataSetRequestId'
        description: A unique identifier representing a specific request to the GenerateDataSet operation. This identifier can be used to correlate a request with notifications from the SNS topic.
    description: Container for the result of the GenerateDataSet operation.
  MarketplaceCommerceAnalyticsException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: This message describes details of the error.
    description: This exception is thrown when an internal service error occurs.
  OptionalKey:
    type: string
    minLength: 1
    maxLength: 255
  OptionalValue:
    type: string
    minLength: 1
    maxLength: 255
  RoleNameArn:
    type: string
    minLength: 1
  SnsTopicArn:
    type: string
    minLength: 1
  StartSupportDataExportRequest:
    type: object
    required:
      - dataSetType
      - fromDate
      - roleNameArn
      - destinationS3BucketName
      - snsTopicArn
    properties:
      dataSetType:
        $ref: '#/definitions/SupportDataSetType'
        description: '<p> Specifies the data set type to be written to the output csv file. The data set types customer_support_contacts_data and test_customer_support_contacts_data both result in a csv file containing the following fields: Product Id, Product Code, Customer Guid, Subscription Guid, Subscription Start Date, Organization, AWS Account Id, Given Name, Surname, Telephone Number, Email, Title, Country Code, ZIP Code, Operation Type, and Operation Time. </p> <p> <ul> <li><i>customer_support_contacts_data</i> Customer support contact data. The data set will contain all changes (Creates, Updates, and Deletes) to customer support contact data from the date specified in the from_date parameter.</li> <li><i>test_customer_support_contacts_data</i> An example data set containing static test data in the same format as customer_support_contacts_data</li> </ul> </p>'
      fromDate:
        $ref: '#/definitions/FromDate'
        description: The start date from which to retrieve the data set in UTC. This parameter only affects the customer_support_contacts_data data set type.
      roleNameArn:
        $ref: '#/definitions/RoleNameArn'
        description: The Amazon Resource Name (ARN) of the Role with an attached permissions policy to interact with the provided AWS services.
      destinationS3BucketName:
        $ref: '#/definitions/DestinationS3BucketName'
        description: 'The name (friendly name, not ARN) of the destination S3 bucket.'
      destinationS3Prefix:
        $ref: '#/definitions/DestinationS3Prefix'
        description: '(Optional) The desired S3 prefix for the published data set, similar to a directory path in standard file systems. For example, if given the bucket name "mybucket" and the prefix "myprefix/mydatasets", the output file "outputfile" would be published to "s3://mybucket/myprefix/mydatasets/outputfile". If the prefix directory structure does not exist, it will be created. If no prefix is provided, the data set will be published to the S3 bucket root.'
      snsTopicArn:
        $ref: '#/definitions/SnsTopicArn'
        description: Amazon Resource Name (ARN) for the SNS Topic that will be notified when the data set has been published or if an error has occurred.
      customerDefinedValues:
        $ref: '#/definitions/CustomerDefinedValues'
        description: '(Optional) Key-value pairs which will be returned, unmodified, in the Amazon SNS notification message and the data set metadata file.'
    description: Container for the parameters to the StartSupportDataExport operation.
  StartSupportDataExportResult:
    type: object
    properties:
      dataSetRequestId:
        $ref: '#/definitions/DataSetRequestId'
        description: A unique identifier representing a specific request to the StartSupportDataExport operation. This identifier can be used to correlate a request with notifications from the SNS topic.
    description: Container for the result of the StartSupportDataExport operation.
  SupportDataSetType:
    type: string
    enum:
      - customer_support_contacts_data
      - test_customer_support_contacts_data
    minLength: 1
    maxLength: 255
