swagger: '2.0'
schemes:
  - https
  - http
host: marketplacecommerceanalytics.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Provides AWS Marketplace business intelligence data on-demand.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Marketplace Commerce Analytics
  version: '2015-07-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/marketplacecommerceanalytics-2015-07-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: marketplacecommerceanalytics
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/marketplacecommerceanalytics/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=MarketplaceCommerceAnalytics20150701.GenerateDataSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Given a data set type and data set publication date, asynchronously publishes the requested data set to the specified S3 bucket and notifies the specified SNS topic once the data is available. Returns a unique request identifier that can be used to correlate requests with notifications from the SNS topic. Data sets will be published in comma-separated values (CSV) format with the file name {data_set_type}_YYYY-MM-DD.csv. If a file with the same name already exists (e.g. if the same data set is requested twice), the original file will be overwritten by the new file. Requires a Role with an attached permissions policy providing Allow permissions for the following actions: s3:PutObject, s3:GetBucketLocation, sns:GetTopicAttributes, sns:Publish, iam:GetRolePolicy.'
      operationId: GenerateDataSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GenerateDataSetRequest'
        - enum:
            - MarketplaceCommerceAnalytics20150701.GenerateDataSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GenerateDataSetResult'
        '480':
          description: MarketplaceCommerceAnalyticsException
          schema:
            $ref: '#/definitions/MarketplaceCommerceAnalyticsException'
  '/#X-Amz-Target=MarketplaceCommerceAnalytics20150701.StartSupportDataExport':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Given a data set type and a from date, asynchronously publishes the requested customer support data to the specified S3 bucket and notifies the specified SNS topic once the data is available. Returns a unique request identifier that can be used to correlate requests with notifications from the SNS topic. Data sets will be published in comma-separated values (CSV) format with the file name {data_set_type}_YYYY-MM-DD''T''HH-mm-ss''Z''.csv. If a file with the same name already exists (e.g. if the same data set is requested twice), the original file will be overwritten by the new file. Requires a Role with an attached permissions policy providing Allow permissions for the following actions: s3:PutObject, s3:GetBucketLocation, sns:GetTopicAttributes, sns:Publish, iam:GetRolePolicy.'
      operationId: StartSupportDataExport
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartSupportDataExportRequest'
        - enum:
            - MarketplaceCommerceAnalytics20150701.StartSupportDataExport
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSupportDataExportResult'
        '480':
          description: MarketplaceCommerceAnalyticsException
          schema:
            $ref: '#/definitions/MarketplaceCommerceAnalyticsException'
definitions:
  CustomerDefinedValues:
    additionalProperties:
      $ref: '#/definitions/OptionalValue'
    maxProperties: 5
    minProperties: 1
    type: object
  DataSetPublicationDate:
    format: date-time
    type: string
  DataSetRequestId:
    type: string
  DataSetType:
    enum:
      - customer_subscriber_hourly_monthly_subscriptions
      - customer_subscriber_annual_subscriptions
      - daily_business_usage_by_instance_type
      - daily_business_fees
      - daily_business_free_trial_conversions
      - daily_business_new_instances
      - daily_business_new_product_subscribers
      - daily_business_canceled_product_subscribers
      - monthly_revenue_billing_and_revenue_data
      - monthly_revenue_annual_subscriptions
      - disbursed_amount_by_product
      - disbursed_amount_by_product_with_uncollected_funds
      - disbursed_amount_by_instance_hours
      - disbursed_amount_by_customer_geo
      - disbursed_amount_by_age_of_uncollected_funds
      - disbursed_amount_by_age_of_disbursed_funds
      - customer_profile_by_industry
      - customer_profile_by_revenue
      - customer_profile_by_geography
      - sales_compensation_billed_revenue
      - us_sales_and_use_tax_records
    maxLength: 255
    minLength: 1
    type: string
  DestinationS3BucketName:
    minLength: 1
    type: string
  DestinationS3Prefix:
    type: string
  ExceptionMessage:
    type: string
  FromDate:
    format: date-time
    type: string
  GenerateDataSetRequest:
    description: Container for the parameters to the GenerateDataSet operation.
    properties:
      customerDefinedValues:
        $ref: '#/definitions/CustomerDefinedValues'
        description: '(Optional) Key-value pairs which will be returned, unmodified, in the Amazon SNS notification message and the data set metadata file. These key-value pairs can be used to correlated responses with tracking information from other systems.'
      dataSetPublicationDate:
        $ref: '#/definitions/DataSetPublicationDate'
        description: 'The date a data set was published. For daily data sets, provide a date with day-level granularity for the desired day. For weekly data sets, provide a date with day-level granularity within the desired week (the day value will be ignored). For monthly data sets, provide a date with month-level granularity for the desired month (the day value will be ignored).'
      dataSetType:
        $ref: '#/definitions/DataSetType'
        description: '<p>The desired data set type.</p> <p> <ul> <li> <strong>customer_subscriber_hourly_monthly_subscriptions</strong> <p>From 2014-07-21 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>customer_subscriber_annual_subscriptions</strong> <p>From 2014-07-21 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_usage_by_instance_type</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_fees</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_free_trial_conversions</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_new_instances</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_new_product_subscribers</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>daily_business_canceled_product_subscribers</strong> <p>From 2015-01-26 to present: Available daily by 5:00 PM Pacific Time.</p> </li> <li> <strong>monthly_revenue_billing_and_revenue_data</strong> <p>From 2015-02 to 2017-06: Available monthly on the 4th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from two months prior.</p> <p>From 2017-07 to present: Available monthly on the 15th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from one month prior.</p> </li> <li> <strong>monthly_revenue_annual_subscriptions</strong> <p>From 2015-02 to 2017-06: Available monthly on the 4th day of the month by 5:00pm Pacific Time. Data includes up-front software charges (e.g. annual) from one month prior.</p> <p>From 2017-07 to present: Available monthly on the 15th day of the month by 5:00pm Pacific Time. Data includes up-front software charges (e.g. annual) from one month prior.</p> </li> <li> <strong>disbursed_amount_by_product</strong> <p>From 2015-01-26 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_product_with_uncollected_funds</strong> <p>From 2012-04-19 to 2015-01-25: Available every 30 days by 5:00 PM Pacific Time.</p> <p>From 2015-01-26 to present: This data set was split into three data sets: disbursed_amount_by_product, disbursed_amount_by_age_of_uncollected_funds, and disbursed_amount_by_age_of_disbursed_funds.</p> </li> <li> <strong>disbursed_amount_by_instance_hours</strong> <p>From 2012-09-04 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_customer_geo</strong> <p>From 2012-04-19 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_age_of_uncollected_funds</strong> <p>From 2015-01-26 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>disbursed_amount_by_age_of_disbursed_funds</strong> <p>From 2015-01-26 to present: Available every 30 days by 5:00 PM Pacific Time.</p> </li> <li> <strong>customer_profile_by_industry</strong> <p>From 2015-10-01 to 2017-06-29: Available daily by 5:00 PM Pacific Time.</p> <p>From 2017-06-30 to present: This data set is no longer available.</p> </li> <li> <strong>customer_profile_by_revenue</strong> <p>From 2015-10-01 to 2017-06-29: Available daily by 5:00 PM Pacific Time.</p> <p>From 2017-06-30 to present: This data set is no longer available.</p> </li> <li> <strong>customer_profile_by_geography</strong> <p>From 2015-10-01 to 2017-06-29: Available daily by 5:00 PM Pacific Time.</p> <p>From 2017-06-30 to present: This data set is no longer available.</p> </li> <li> <strong>sales_compensation_billed_revenue</strong> <p>From 2016-12 to 2017-06: Available monthly on the 4th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from two months prior, and up-front software charges (e.g. annual) from one month prior.</p> <p>From 2017-06 to present: Available monthly on the 15th day of the month by 5:00pm Pacific Time. Data includes metered transactions (e.g. hourly) from one month prior, and up-front software charges (e.g. annual) from one month prior.</p> </li> <li> <strong>us_sales_and_use_tax_records</strong> <p>From 2017-02-15 to present: Available monthly on the 15th day of the month by 5:00 PM Pacific Time.</p> </li> </ul> </p>'
      destinationS3BucketName:
        $ref: '#/definitions/DestinationS3BucketName'
        description: 'The name (friendly name, not ARN) of the destination S3 bucket.'
      destinationS3Prefix:
        $ref: '#/definitions/DestinationS3Prefix'
        description: '(Optional) The desired S3 prefix for the published data set, similar to a directory path in standard file systems. For example, if given the bucket name "mybucket" and the prefix "myprefix/mydatasets", the output file "outputfile" would be published to "s3://mybucket/myprefix/mydatasets/outputfile". If the prefix directory structure does not exist, it will be created. If no prefix is provided, the data set will be published to the S3 bucket root.'
      roleNameArn:
        $ref: '#/definitions/RoleNameArn'
        description: The Amazon Resource Name (ARN) of the Role with an attached permissions policy to interact with the provided AWS services.
      snsTopicArn:
        $ref: '#/definitions/SnsTopicArn'
        description: Amazon Resource Name (ARN) for the SNS Topic that will be notified when the data set has been published or if an error has occurred.
    required:
      - dataSetType
      - dataSetPublicationDate
      - roleNameArn
      - destinationS3BucketName
      - snsTopicArn
    type: object
  GenerateDataSetResult:
    description: Container for the result of the GenerateDataSet operation.
    properties:
      dataSetRequestId:
        $ref: '#/definitions/DataSetRequestId'
        description: A unique identifier representing a specific request to the GenerateDataSet operation. This identifier can be used to correlate a request with notifications from the SNS topic.
    type: object
  MarketplaceCommerceAnalyticsException:
    description: This exception is thrown when an internal service error occurs.
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: This message describes details of the error.
    type: object
  OptionalKey:
    maxLength: 255
    minLength: 1
    type: string
  OptionalValue:
    maxLength: 255
    minLength: 1
    type: string
  RoleNameArn:
    minLength: 1
    type: string
  SnsTopicArn:
    minLength: 1
    type: string
  StartSupportDataExportRequest:
    description: Container for the parameters to the StartSupportDataExport operation.
    properties:
      customerDefinedValues:
        $ref: '#/definitions/CustomerDefinedValues'
        description: '(Optional) Key-value pairs which will be returned, unmodified, in the Amazon SNS notification message and the data set metadata file.'
      dataSetType:
        $ref: '#/definitions/SupportDataSetType'
        description: '<p> Specifies the data set type to be written to the output csv file. The data set types customer_support_contacts_data and test_customer_support_contacts_data both result in a csv file containing the following fields: Product Id, Product Code, Customer Guid, Subscription Guid, Subscription Start Date, Organization, AWS Account Id, Given Name, Surname, Telephone Number, Email, Title, Country Code, ZIP Code, Operation Type, and Operation Time. </p> <p> <ul> <li><i>customer_support_contacts_data</i> Customer support contact data. The data set will contain all changes (Creates, Updates, and Deletes) to customer support contact data from the date specified in the from_date parameter.</li> <li><i>test_customer_support_contacts_data</i> An example data set containing static test data in the same format as customer_support_contacts_data</li> </ul> </p>'
      destinationS3BucketName:
        $ref: '#/definitions/DestinationS3BucketName'
        description: 'The name (friendly name, not ARN) of the destination S3 bucket.'
      destinationS3Prefix:
        $ref: '#/definitions/DestinationS3Prefix'
        description: '(Optional) The desired S3 prefix for the published data set, similar to a directory path in standard file systems. For example, if given the bucket name "mybucket" and the prefix "myprefix/mydatasets", the output file "outputfile" would be published to "s3://mybucket/myprefix/mydatasets/outputfile". If the prefix directory structure does not exist, it will be created. If no prefix is provided, the data set will be published to the S3 bucket root.'
      fromDate:
        $ref: '#/definitions/FromDate'
        description: The start date from which to retrieve the data set in UTC. This parameter only affects the customer_support_contacts_data data set type.
      roleNameArn:
        $ref: '#/definitions/RoleNameArn'
        description: The Amazon Resource Name (ARN) of the Role with an attached permissions policy to interact with the provided AWS services.
      snsTopicArn:
        $ref: '#/definitions/SnsTopicArn'
        description: Amazon Resource Name (ARN) for the SNS Topic that will be notified when the data set has been published or if an error has occurred.
    required:
      - dataSetType
      - fromDate
      - roleNameArn
      - destinationS3BucketName
      - snsTopicArn
    type: object
  StartSupportDataExportResult:
    description: Container for the result of the StartSupportDataExport operation.
    properties:
      dataSetRequestId:
        $ref: '#/definitions/DataSetRequestId'
        description: A unique identifier representing a specific request to the StartSupportDataExport operation. This identifier can be used to correlate a request with notifications from the SNS topic.
    type: object
  SupportDataSetType:
    enum:
      - customer_support_contacts_data
      - test_customer_support_contacts_data
    maxLength: 255
    minLength: 1
    type: string
x-servers:
  - description: The AWS Marketplace Commerce Analytics multi-region endpoint
    url: 'http://marketplacecommerceanalytics.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS Marketplace Commerce Analytics multi-region endpoint
    url: 'https://marketplacecommerceanalytics.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS Marketplace Commerce Analytics endpoint for China (Beijing) and China (Ningxia)
    url: 'http://marketplacecommerceanalytics.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWS Marketplace Commerce Analytics endpoint for China (Beijing) and China (Ningxia)
    url: 'https://marketplacecommerceanalytics.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
