openapi: 3.0.0
servers:
  - url: 'https://gitlab.com/api'
info:
  description: |-
    The platform for modern developers
    GitLab unifies issues, code review, CI and CD into a single UI
  title: Gitlab
  version: v3
  x-apisguru-categories:
    - developer_tools
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://cloud.githubusercontent.com/assets/21603/24521837/642e411c-1585-11e7-817f-61082580b6f6.png'
  x-origin:
    - format: swagger
      url: 'https://axil.gitlab.io/swaggerapi/static/swagger.json'
      version: '2.0'
    - format: swagger
      url: 'https://raw.githubusercontent.com/Mermade/openapi-definitions/master/gitlab/swagger.json'
      version: '2.0'
  x-providerName: gitlab.com
security:
  - private_token_header: []
  - private_token_query: []
tags:
  - description: Operations about groups
    name: groups
  - description: Operations about projects
    name: projects
  - description: Operations about internals
    name: internal
  - description: Operations about issues
    name: issues
  - description: Operations about keys
    name: keys
  - description: Operations about cis
    name: ci
  - description: Operations about namespaces
    name: namespaces
  - description: Operations about notification_settings
    name: notification_settings
  - description: Operations about runners
    name: runners
  - description: Operations about snippets
    name: snippets
  - description: Operations about hooks
    name: hooks
  - description: Operations about todos
    name: todos
  - description: Operations about users
    name: users
  - description: Operations about users
    name: user
  - description: Operations about deploy_keys
    name: deploy_keys
  - description: Operations about sessions
    name: session
  - description: Operations about applications
    name: application
  - description: Operations about sidekiqs
    name: sidekiq
  - description: Operations about licenses
    name: licenses
  - description: Operations about templates
    name: templates
  - description: Operations about gitignores
    name: gitignores
  - description: Operations about gitlab_ci_ymls
    name: gitlab_ci_ymls
  - description: Operations about dockerfiles
    name: dockerfiles
  - description: Operations about versions
    name: version
paths:
  /v3/application/settings:
    get:
      description: Get the current application settings
      operationId: getV3ApplicationSettings
      responses:
        '200':
          description: Get the current application settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSetting'
            text/plain:
              schema:
                $ref: '#/components/schemas/ApplicationSetting'
      summary: Get the current application settings
      tags:
        - application
    put:
      description: Modify application settings
      operationId: putV3ApplicationSettings
      responses:
        '200':
          description: Modify application settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSetting'
            text/plain:
              schema:
                $ref: '#/components/schemas/ApplicationSetting'
      summary: Modify application settings
      tags:
        - application
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                default_branch_protection:
                  description: Determine if developers can push to master
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 1
                    - 2
                default_project_visibility:
                  description: The default project visibility
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 10
                    - 20
                default_snippet_visibility:
                  description: The default snippet visibility
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 10
                    - 20
                default_group_visibility:
                  description: The default group visibility
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 10
                    - 20
                restricted_visibility_levels:
                  description: 'Selected levels cannot be used by non-admin users for projects or snippets. If the public level is restricted, user profiles are only visible to logged in users.'
                  type: array
                  items:
                    type: string
                import_sources:
                  description: 'Enabled sources for code import during project creation. OmniAuth must be configured for GitHub, Bitbucket, and GitLab.com'
                  type: array
                  enum:
                    - github
                    - bitbucket
                    - gitlab
                    - google_code
                    - fogbugz
                    - git
                    - gitlab_project
                  items:
                    type: string
                disabled_oauth_sign_in_sources:
                  description: Disable certain OAuth sign-in sources
                  type: array
                  items:
                    type: string
                enabled_git_access_protocol:
                  description: Allow only the selected protocols to be used for Git access.
                  type: string
                  enum:
                    - ssh
                    - http
                    - nil
                gravatar_enabled:
                  description: Flag indicating if the Gravatar service is enabled
                  type: boolean
                default_projects_limit:
                  description: The maximum number of personal projects
                  type: integer
                  format: int32
                max_attachment_size:
                  description: Maximum attachment size in MB
                  type: integer
                  format: int32
                session_expire_delay:
                  description: Session duration in minutes. GitLab restart is required to apply changes.
                  type: integer
                  format: int32
                user_oauth_applications:
                  description: Allow users to register any application to use GitLab as an OAuth provider
                  type: boolean
                user_default_external:
                  description: Newly registered users will by default be external
                  type: boolean
                signup_enabled:
                  description: Flag indicating if sign up is enabled
                  type: boolean
                send_user_confirmation_email:
                  description: Send confirmation email on sign-up
                  type: boolean
                domain_whitelist:
                  description: 'ONLY users with e-mail addresses that match these domain(s) will be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com'
                  type: string
                domain_blacklist_enabled:
                  description: Enable domain blacklist for sign ups
                  type: boolean
                domain_blacklist:
                  description: 'Users with e-mail addresses that match these domain(s) will NOT be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com'
                  type: string
                after_sign_up_text:
                  description: Text shown after sign up
                  type: string
                signin_enabled:
                  description: Flag indicating if sign in is enabled
                  type: boolean
                require_two_factor_authentication:
                  description: Require all users to setup Two-factor authentication
                  type: boolean
                two_factor_grace_period:
                  description: Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication
                  type: integer
                  format: int32
                home_page_url:
                  description: We will redirect non-logged in users to this page
                  type: string
                after_sign_out_path:
                  description: We will redirect users to this page after they sign out
                  type: string
                sign_in_text:
                  description: The sign in text of the GitLab application
                  type: string
                help_page_text:
                  description: Custom text displayed on the help page
                  type: string
                shared_runners_enabled:
                  description: Enable shared runners for new projects
                  type: boolean
                shared_runners_text:
                  description: 'Shared runners text '
                  type: string
                max_artifacts_size:
                  description: Set the maximum file size each build's artifacts can have
                  type: integer
                  format: int32
                container_registry_token_expire_delay:
                  description: Authorization token duration (minutes)
                  type: integer
                  format: int32
                metrics_enabled:
                  description: Enable the InfluxDB metrics
                  type: boolean
                metrics_host:
                  description: The InfluxDB host
                  type: string
                metrics_port:
                  description: The UDP port to use for connecting to InfluxDB
                  type: integer
                  format: int32
                metrics_pool_size:
                  description: The amount of InfluxDB connections to open
                  type: integer
                  format: int32
                metrics_timeout:
                  description: The amount of seconds after which an InfluxDB connection will time out
                  type: integer
                  format: int32
                metrics_method_call_threshold:
                  description: A method call is only tracked when it takes longer to complete than the given amount of milliseconds.
                  type: integer
                  format: int32
                metrics_sample_interval:
                  description: The sampling interval in seconds
                  type: integer
                  format: int32
                metrics_packet_size:
                  description: The amount of points to store in a single UDP packet
                  type: integer
                  format: int32
                sidekiq_throttling_enabled:
                  description: Enable Sidekiq Job Throttling
                  type: boolean
                sidekiq_throttling_queus:
                  description: Choose which queues you wish to throttle
                  type: array
                  items:
                    type: string
                sidekiq_throttling_factor:
                  description: 'The factor by which the queues should be throttled. A value between 0.0 and 1.0, exclusive.'
                  type: number
                  format: float
                recaptcha_enabled:
                  description: Helps prevent bots from creating accounts
                  type: boolean
                recaptcha_site_key:
                  description: 'Generate site key at http://www.google.com/recaptcha'
                  type: string
                recaptcha_private_key:
                  description: 'Generate private key at http://www.google.com/recaptcha'
                  type: string
                akismet_enabled:
                  description: Helps prevent bots from creating issues
                  type: boolean
                akismet_api_key:
                  description: 'Generate API key at http://www.akismet.com'
                  type: string
                admin_notification_email:
                  description: Abuse reports will be sent to this address if it is set. Abuse reports are always available in the admin area.
                  type: string
                sentry_enabled:
                  description: 'Sentry is an error reporting and logging tool which is currently not shipped with GitLab, get it here: https://getsentry.com'
                  type: boolean
                sentry_dsn:
                  description: Sentry Data Source Name
                  type: string
                repository_storage:
                  description: Storage paths for new projects
                  type: string
                repository_checks_enabled:
                  description: GitLab will periodically run 'git fsck' in all project and wiki repositories to look for silent disk corruption issues.
                  type: boolean
                koding_enabled:
                  description: Enable Koding
                  type: boolean
                koding_url:
                  description: The Koding team URL
                  type: string
                plantuml_enabled:
                  description: Enable PlantUML
                  type: boolean
                plantuml_url:
                  description: The PlantUML server URL
                  type: string
                version_check_enabled:
                  description: Let GitLab inform you when an update is available.
                  type: boolean
                email_author_in_body:
                  description: 'Some email servers do not support overriding the email sender name. Enable this option to include the name of the author of the issue, merge request or comment in the email body instead.'
                  type: boolean
                html_emails_enabled:
                  description: By default GitLab sends emails in HTML and plain text formats so mail clients can choose what format to use. Disable this option if you only want to send emails in plain text format.
                  type: boolean
                housekeeping_enabled:
                  description: 'Enable automatic repository housekeeping (git repack, git gc)'
                  type: boolean
                housekeeping_bitmaps_enabled:
                  description: Creating pack file bitmaps makes housekeeping take a little longer but bitmaps should accelerate 'git clone' performance.
                  type: boolean
                housekeeping_incremental_repack_period:
                  description: Number of Git pushes after which an incremental 'git repack' is run.
                  type: integer
                  format: int32
                housekeeping_full_repack_period:
                  description: Number of Git pushes after which a full 'git repack' is run.
                  type: integer
                  format: int32
                housekeeping_gc_period:
                  description: Number of Git pushes after which 'git gc' is run.
                  type: integer
                  format: int32
  /v3/ci/lint:
    post:
      description: Validation of .gitlab-ci.yml content
      operationId: postV3CiLint
      responses:
        '201':
          description: Validation of .gitlab-ci.yml content
      summary: Validation of .gitlab-ci.yml content
      tags:
        - ci
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  description: Content of .gitlab-ci.yml
                  type: string
              required:
                - content
  /v3/deploy_keys:
    get:
      operationId: getV3DeployKeys
      responses:
        '200':
          description: get DeployKey(s)
      tags:
        - deploy_keys
  /v3/dockerfiles:
    get:
      description: This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3Dockerfiles
      responses:
        '200':
          description: Get the list of the available template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesList'
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplatesList'
      summary: Get the list of the available template
      tags:
        - dockerfiles
  '/v3/dockerfiles/{name}':
    get:
      description: This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3DockerfilesName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get the text for a specific template present in local filesystem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
            text/plain:
              schema:
                $ref: '#/components/schemas/Template'
      summary: Get the text for a specific template present in local filesystem
      tags:
        - dockerfiles
  /v3/gitignores:
    get:
      description: This feature was introduced in GitLab 8.8. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3Gitignores
      responses:
        '200':
          description: Get the list of the available template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesList'
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplatesList'
      summary: Get the list of the available template
      tags:
        - gitignores
  '/v3/gitignores/{name}':
    get:
      description: This feature was introduced in GitLab 8.8. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3GitignoresName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get the text for a specific template present in local filesystem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
            text/plain:
              schema:
                $ref: '#/components/schemas/Template'
      summary: Get the text for a specific template present in local filesystem
      tags:
        - gitignores
  /v3/gitlab_ci_ymls:
    get:
      description: This feature was introduced in GitLab 8.9. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3GitlabCiYmls
      responses:
        '200':
          description: Get the list of the available template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesList'
            text/plain:
              schema:
                $ref: '#/components/schemas/TemplatesList'
      summary: Get the list of the available template
      tags:
        - gitlab_ci_ymls
  '/v3/gitlab_ci_ymls/{name}':
    get:
      description: This feature was introduced in GitLab 8.9. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3GitlabCiYmlsName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get the text for a specific template present in local filesystem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
            text/plain:
              schema:
                $ref: '#/components/schemas/Template'
      summary: Get the text for a specific template present in local filesystem
      tags:
        - gitlab_ci_ymls
  /v3/groups:
    get:
      description: Get a groups list
      operationId: getV3Groups
      parameters:
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          schema:
            type: boolean
        - description: Show all group that you have access to
          in: query
          name: all_available
          required: false
          schema:
            type: boolean
        - description: Search for a specific group
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Order by name or path
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - name
              - path
            default: name
        - description: Sort by asc (ascending) or desc (descending)
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get a groups list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/plain:
              schema:
                $ref: '#/components/schemas/Group'
      summary: Get a groups list
      tags:
        - groups
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                skip_groups:
                  description: Array of group ids to exclude from list
                  type: array
                  items:
                    format: int32
                    type: integer
    post:
      description: Create a group. Available only for users who can create groups.
      operationId: postV3Groups
      responses:
        '201':
          description: Create a group. Available only for users who can create groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/plain:
              schema:
                $ref: '#/components/schemas/Group'
      summary: Create a group. Available only for users who can create groups.
      tags:
        - groups
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: The name of the group
                  type: string
                path:
                  description: The path of the group
                  type: string
                description:
                  description: The description of the group
                  type: string
                visibility_level:
                  description: The visibility level of the group
                  type: integer
                  format: int32
                lfs_enabled:
                  description: Enable/disable LFS for the projects in this group
                  type: boolean
                request_access_enabled:
                  description: Allow users to request member access
                  type: boolean
              required:
                - name
  /v3/groups/owned:
    get:
      description: Get list of owned groups for authenticated user
      operationId: getV3GroupsOwned
      parameters:
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Get list of owned groups for authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/plain:
              schema:
                $ref: '#/components/schemas/Group'
      summary: Get list of owned groups for authenticated user
      tags:
        - groups
  '/v3/groups/{id}':
    delete:
      description: Remove a group.
      operationId: deleteV3GroupsId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Remove a group.
      summary: Remove a group.
      tags:
        - groups
    get:
      description: 'Get a single group, with containing projects.'
      operationId: getV3GroupsId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Get a single group, with containing projects.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetail'
            text/plain:
              schema:
                $ref: '#/components/schemas/GroupDetail'
      summary: 'Get a single group, with containing projects.'
      tags:
        - groups
    put:
      description: Update a group. Available only for users who can administrate groups.
      operationId: putV3GroupsId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Update a group. Available only for users who can administrate groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/plain:
              schema:
                $ref: '#/components/schemas/Group'
      summary: Update a group. Available only for users who can administrate groups.
      tags:
        - groups
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: The name of the group
                  type: string
                path:
                  description: The path of the group
                  type: string
                description:
                  description: The description of the group
                  type: string
                visibility_level:
                  description: The visibility level of the group
                  type: integer
                  format: int32
                lfs_enabled:
                  description: Enable/disable LFS for the projects in this group
                  type: boolean
                request_access_enabled:
                  description: Allow users to request member access
                  type: boolean
  '/v3/groups/{id}/access_requests':
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3GroupsIdAccessRequests
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Gets a list of access requests for a group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessRequester'
      summary: Gets a list of access requests for a group.
      tags:
        - groups
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3GroupsIdAccessRequests
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Requests access for the authenticated user to a group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessRequester'
      summary: Requests access for the authenticated user to a group.
      tags:
        - groups
  '/v3/groups/{id}/access_requests/{user_id}':
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3GroupsIdAccessRequestsUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the access requester
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
        - groups
  '/v3/groups/{id}/access_requests/{user_id}/approve':
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3GroupsIdAccessRequestsUserIdApprove
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the access requester
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Approves an access request for the given user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
            text/plain:
              schema:
                $ref: '#/components/schemas/Member'
      summary: Approves an access request for the given user.
      tags:
        - groups
      requestBody:
        $ref: '#/components/requestBodies/putV3GroupsIdAccessRequestsUserIdApprove'
  '/v3/groups/{id}/issues':
    get:
      description: Get a list of group issues
      operationId: getV3GroupsIdIssues
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: 'Return opened, closed, or all issues'
          in: query
          name: state
          required: false
          schema:
            type: string
            enum:
              - opened
              - closed
              - all
            default: opened
        - description: Comma-separated list of label names
          in: query
          name: labels
          required: false
          schema:
            type: string
        - description: Return issues for a specific milestone
          in: query
          name: milestone
          required: false
          schema:
            type: string
        - description: Return issues ordered by `created_at` or `updated_at` fields.
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_at
        - description: Return issues sorted in `asc` or `desc` order.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get a list of group issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
            text/plain:
              schema:
                $ref: '#/components/schemas/Issue'
      summary: Get a list of group issues
      tags:
        - groups
  '/v3/groups/{id}/members':
    get:
      description: Gets a list of group or project members viewable by the authenticated user.
      operationId: getV3GroupsIdMembers
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: A query string to search for members
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Gets a list of group or project members viewable by the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
            text/plain:
              schema:
                $ref: '#/components/schemas/Member'
      summary: Gets a list of group or project members viewable by the authenticated user.
      tags:
        - groups
    post:
      description: Adds a member to a group or project.
      operationId: postV3GroupsIdMembers
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Adds a member to a group or project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
            text/plain:
              schema:
                $ref: '#/components/schemas/Member'
      summary: Adds a member to a group or project.
      tags:
        - groups
      requestBody:
        $ref: '#/components/requestBodies/postV3GroupsIdMembers'
  '/v3/groups/{id}/members/{user_id}':
    delete:
      description: Removes a user from a group or project.
      operationId: deleteV3GroupsIdMembersUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the member
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Removes a user from a group or project.
      summary: Removes a user from a group or project.
      tags:
        - groups
    get:
      description: Gets a member of a group or project.
      operationId: getV3GroupsIdMembersUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the member
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Gets a member of a group or project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
            text/plain:
              schema:
                $ref: '#/components/schemas/Member'
      summary: Gets a member of a group or project.
      tags:
        - groups
    put:
      description: Updates a member of a group or project.
      operationId: putV3GroupsIdMembersUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the new member
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Updates a member of a group or project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
            text/plain:
              schema:
                $ref: '#/components/schemas/Member'
      summary: Updates a member of a group or project.
      tags:
        - groups
      requestBody:
        $ref: '#/components/requestBodies/putV3GroupsIdMembersUserId'
  '/v3/groups/{id}/notification_settings':
    get:
      description: This feature was introduced in GitLab 8.12
      operationId: getV3GroupsIdNotificationSettings
      parameters:
        - description: The group ID or project ID or project NAMESPACE/PROJECT_NAME
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Get group level notification level settings, defaults to Global'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
            text/plain:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
      summary: 'Get group level notification level settings, defaults to Global'
      tags:
        - groups
    put:
      description: This feature was introduced in GitLab 8.12
      operationId: putV3GroupsIdNotificationSettings
      parameters:
        - description: The group ID or project ID or project NAMESPACE/PROJECT_NAME
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Update group level notification level settings, defaults to Global'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
            text/plain:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
      summary: 'Update group level notification level settings, defaults to Global'
      tags:
        - groups
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                level:
                  description: The group notification level
                  type: string
                new_note:
                  description: Enable/disable this notification
                  type: boolean
                new_issue:
                  description: Enable/disable this notification
                  type: boolean
                reopen_issue:
                  description: Enable/disable this notification
                  type: boolean
                close_issue:
                  description: Enable/disable this notification
                  type: boolean
                reassign_issue:
                  description: Enable/disable this notification
                  type: boolean
                new_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                reopen_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                close_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                reassign_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                merge_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                failed_pipeline:
                  description: Enable/disable this notification
                  type: boolean
                success_pipeline:
                  description: Enable/disable this notification
                  type: boolean
  '/v3/groups/{id}/projects':
    get:
      description: Get a list of projects in this group.
      operationId: getV3GroupsIdProjects
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Limit by visibility
          in: query
          name: visibility
          required: false
          schema:
            type: string
            enum:
              - public
              - internal
              - private
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: 'Return only the ID, URL, name, and path of each project'
          in: query
          name: simple
          required: false
          schema:
            type: boolean
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get a list of projects in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Get a list of projects in this group.
      tags:
        - groups
  '/v3/groups/{id}/projects/{project_id}':
    post:
      description: Transfer a project to the group namespace. Available only for admin.
      operationId: postV3GroupsIdProjectsProjectId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ID or path of the project
          in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Transfer a project to the group namespace. Available only for admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetail'
            text/plain:
              schema:
                $ref: '#/components/schemas/GroupDetail'
      summary: Transfer a project to the group namespace. Available only for admin.
      tags:
        - groups
  /v3/hooks:
    get:
      description: Get the list of system hooks
      operationId: getV3Hooks
      responses:
        '200':
          description: Get the list of system hooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
            text/plain:
              schema:
                $ref: '#/components/schemas/Hook'
      summary: Get the list of system hooks
      tags:
        - hooks
    post:
      description: Create a new system hook
      operationId: postV3Hooks
      responses:
        '201':
          description: Create a new system hook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
            text/plain:
              schema:
                $ref: '#/components/schemas/Hook'
      summary: Create a new system hook
      tags:
        - hooks
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  description: The URL to send the request to
                  type: string
                token:
                  description: The token used to validate payloads
                  type: string
                push_events:
                  description: Trigger hook on push events
                  type: boolean
                tag_push_events:
                  description: Trigger hook on tag push events
                  type: boolean
                enable_ssl_verification:
                  description: Do SSL verification when triggering the hook
                  type: boolean
              required:
                - url
  '/v3/hooks/{id}':
    delete:
      description: Delete a hook
      operationId: deleteV3HooksId
      parameters:
        - description: The ID of the system hook
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Delete a hook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
            text/plain:
              schema:
                $ref: '#/components/schemas/Hook'
      summary: Delete a hook
      tags:
        - hooks
    get:
      description: Test a hook
      operationId: getV3HooksId
      parameters:
        - description: The ID of the system hook
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Test a hook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
            text/plain:
              schema:
                $ref: '#/components/schemas/Hook'
      summary: Test a hook
      tags:
        - hooks
  /v3/internal/allowed:
    post:
      operationId: postV3InternalAllowed
      responses:
        '201':
          description: created Allowed
      tags:
        - internal
  /v3/internal/broadcast_message:
    get:
      operationId: getV3InternalBroadcastMessage
      responses:
        '200':
          description: get BroadcastMessage(s)
      tags:
        - internal
  /v3/internal/check:
    get:
      operationId: getV3InternalCheck
      responses:
        '200':
          description: get Check(s)
      tags:
        - internal
  /v3/internal/discover:
    get:
      operationId: getV3InternalDiscover
      responses:
        '200':
          description: get Discover(s)
      tags:
        - internal
  /v3/internal/lfs_authenticate:
    post:
      operationId: postV3InternalLfsAuthenticate
      responses:
        '201':
          description: created LfsAuthenticate
      tags:
        - internal
  /v3/internal/merge_request_urls:
    get:
      operationId: getV3InternalMergeRequestUrls
      responses:
        '200':
          description: get MergeRequestUrl(s)
      tags:
        - internal
  /v3/internal/two_factor_recovery_codes:
    post:
      operationId: postV3InternalTwoFactorRecoveryCodes
      responses:
        '201':
          description: created TwoFactorRecoveryCode
      tags:
        - internal
  /v3/issues:
    get:
      description: Get currently authenticated user's issues
      operationId: getV3Issues
      parameters:
        - description: 'Return opened, closed, or all issues'
          in: query
          name: state
          required: false
          schema:
            type: string
            enum:
              - opened
              - closed
              - all
            default: all
        - description: Comma-separated list of label names
          in: query
          name: labels
          required: false
          schema:
            type: string
        - description: Return issues for a specific milestone
          in: query
          name: milestone
          required: false
          schema:
            type: string
        - description: Return issues ordered by `created_at` or `updated_at` fields.
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_at
        - description: Return issues sorted in `asc` or `desc` order.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get currently authenticated user's issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
            text/plain:
              schema:
                $ref: '#/components/schemas/Issue'
      summary: Get currently authenticated user's issues
      tags:
        - issues
  '/v3/keys/{id}':
    get:
      description: Get single ssh key by id. Only available to admin users
      operationId: getV3KeysId
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get single ssh key by id. Only available to admin users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyWithUser'
            text/plain:
              schema:
                $ref: '#/components/schemas/SSHKeyWithUser'
      summary: Get single ssh key by id. Only available to admin users
      tags:
        - keys
  /v3/licenses:
    get:
      description: This feature was introduced in GitLab 8.7. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3Licenses
      parameters:
        - description: 'If passed, returns only popular licenses'
          in: query
          name: popular
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Get the list of the available license template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoLicense'
            text/plain:
              schema:
                $ref: '#/components/schemas/RepoLicense'
      summary: Get the list of the available license template
      tags:
        - licenses
  '/v3/licenses/{name}':
    get:
      description: This feature was introduced in GitLab 8.7. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3LicensesName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get the text for a specific license
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoLicense'
            text/plain:
              schema:
                $ref: '#/components/schemas/RepoLicense'
      summary: Get the text for a specific license
      tags:
        - licenses
  /v3/namespaces:
    get:
      description: Get a namespaces list
      operationId: getV3Namespaces
      parameters:
        - description: Search query for namespaces
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get a namespaces list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
            text/plain:
              schema:
                $ref: '#/components/schemas/Namespace'
      summary: Get a namespaces list
      tags:
        - namespaces
  /v3/notification_settings:
    get:
      description: This feature was introduced in GitLab 8.12
      operationId: getV3NotificationSettings
      responses:
        '200':
          description: 'Get global notification level settings and email, defaults to Participate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSetting'
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSetting'
      summary: 'Get global notification level settings and email, defaults to Participate'
      tags:
        - notification_settings
    put:
      description: This feature was introduced in GitLab 8.12
      operationId: putV3NotificationSettings
      responses:
        '200':
          description: 'Update global notification level settings and email, defaults to Participate'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSetting'
            text/plain:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSetting'
      summary: 'Update global notification level settings and email, defaults to Participate'
      tags:
        - notification_settings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                level:
                  description: The global notification level
                  type: string
                notification_email:
                  description: The email address to send notifications
                  type: string
                new_note:
                  description: Enable/disable this notification
                  type: boolean
                new_issue:
                  description: Enable/disable this notification
                  type: boolean
                reopen_issue:
                  description: Enable/disable this notification
                  type: boolean
                close_issue:
                  description: Enable/disable this notification
                  type: boolean
                reassign_issue:
                  description: Enable/disable this notification
                  type: boolean
                new_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                reopen_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                close_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                reassign_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                merge_merge_request:
                  description: Enable/disable this notification
                  type: boolean
                failed_pipeline:
                  description: Enable/disable this notification
                  type: boolean
                success_pipeline:
                  description: Enable/disable this notification
                  type: boolean
  /v3/projects:
    get:
      description: Get a projects list for authenticated user
      operationId: getV3Projects
      parameters:
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Limit by visibility
          in: query
          name: visibility
          required: false
          schema:
            type: string
            enum:
              - public
              - internal
              - private
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Return only the ID, URL, name, and path of each project'
          in: query
          name: simple
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Get a projects list for authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
      summary: Get a projects list for authenticated user
      tags:
        - projects
    post:
      description: Create new project
      operationId: postV3Projects
      responses:
        '201':
          description: Create new project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Create new project
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: The name of the project
                  type: string
                path:
                  description: The path of the repository
                  type: string
                description:
                  description: The description of the project
                  type: string
                issues_enabled:
                  description: Flag indication if the issue tracker is enabled
                  type: boolean
                merge_requests_enabled:
                  description: Flag indication if merge requests are enabled
                  type: boolean
                wiki_enabled:
                  description: Flag indication if the wiki is enabled
                  type: boolean
                builds_enabled:
                  description: Flag indication if builds are enabled
                  type: boolean
                snippets_enabled:
                  description: Flag indication if snippets are enabled
                  type: boolean
                shared_runners_enabled:
                  description: Flag indication if shared runners are enabled for that project
                  type: boolean
                container_registry_enabled:
                  description: Flag indication if the container registry is enabled for that project
                  type: boolean
                lfs_enabled:
                  description: Flag indication if Git LFS is enabled for that project
                  type: boolean
                public:
                  description: Create a public project. The same as visibility_level = 20.
                  type: boolean
                visibility_level:
                  description: Create a public project. The same as visibility_level = 20.
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 10
                    - 20
                public_builds:
                  description: Perform public builds
                  type: boolean
                request_access_enabled:
                  description: Allow users to request member access
                  type: boolean
                only_allow_merge_if_build_succeeds:
                  description: Only allow to merge if builds succeed
                  type: boolean
                only_allow_merge_if_all_discussions_are_resolved:
                  description: Only allow to merge if all discussions are resolved
                  type: boolean
                namespace_id:
                  description: Namespace ID for the new project. Default to the user namespace.
                  type: integer
                  format: int32
                import_url:
                  description: URL from which the project is imported
                  type: string
              required:
                - name
  /v3/projects/all:
    get:
      description: Get all projects for admin user
      operationId: getV3ProjectsAll
      parameters:
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Limit by visibility
          in: query
          name: visibility
          required: false
          schema:
            type: string
            enum:
              - public
              - internal
              - private
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Return only the ID, URL, name, and path of each project'
          in: query
          name: simple
          required: false
          schema:
            type: boolean
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Get all projects for admin user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
      summary: Get all projects for admin user
      tags:
        - projects
  '/v3/projects/fork/{id}':
    post:
      description: Fork new project for the current user or provided namespace.
      operationId: postV3ProjectsForkId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Fork new project for the current user or provided namespace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Fork new project for the current user or provided namespace.
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                namespace:
                  description: The ID or name of the namespace that the project will be forked into
                  type: string
  /v3/projects/owned:
    get:
      description: Get an owned projects list for authenticated user
      operationId: getV3ProjectsOwned
      parameters:
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Limit by visibility
          in: query
          name: visibility
          required: false
          schema:
            type: string
            enum:
              - public
              - internal
              - private
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Return only the ID, URL, name, and path of each project'
          in: query
          name: simple
          required: false
          schema:
            type: boolean
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Get an owned projects list for authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
      summary: Get an owned projects list for authenticated user
      tags:
        - projects
  '/v3/projects/search/{query}':
    get:
      description: Search for projects the current user has access to
      operationId: getV3ProjectsSearchQuery
      parameters:
        - description: The project name to be searched
          in: path
          name: query
          required: true
          schema:
            type: string
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Search for projects the current user has access to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Search for projects the current user has access to
      tags:
        - projects
  /v3/projects/starred:
    get:
      description: Gets starred project for the authenticated user
      operationId: getV3ProjectsStarred
      parameters:
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Limit by visibility
          in: query
          name: visibility
          required: false
          schema:
            type: string
            enum:
              - public
              - internal
              - private
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Return only the ID, URL, name, and path of each project'
          in: query
          name: simple
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Gets starred project for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
      summary: Gets starred project for the authenticated user
      tags:
        - projects
  '/v3/projects/user/{user_id}':
    post:
      description: Create new project for a specified user. Only available to admin users.
      operationId: postV3ProjectsUserUserId
      parameters:
        - description: The ID of a user
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '201':
          description: Create new project for a specified user. Only available to admin users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Create new project for a specified user. Only available to admin users.
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: The name of the project
                  type: string
                default_branch:
                  description: The default branch of the project
                  type: string
                description:
                  description: The description of the project
                  type: string
                issues_enabled:
                  description: Flag indication if the issue tracker is enabled
                  type: boolean
                merge_requests_enabled:
                  description: Flag indication if merge requests are enabled
                  type: boolean
                wiki_enabled:
                  description: Flag indication if the wiki is enabled
                  type: boolean
                builds_enabled:
                  description: Flag indication if builds are enabled
                  type: boolean
                snippets_enabled:
                  description: Flag indication if snippets are enabled
                  type: boolean
                shared_runners_enabled:
                  description: Flag indication if shared runners are enabled for that project
                  type: boolean
                container_registry_enabled:
                  description: Flag indication if the container registry is enabled for that project
                  type: boolean
                lfs_enabled:
                  description: Flag indication if Git LFS is enabled for that project
                  type: boolean
                public:
                  description: Create a public project. The same as visibility_level = 20.
                  type: boolean
                visibility_level:
                  description: Create a public project. The same as visibility_level = 20.
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 10
                    - 20
                public_builds:
                  description: Perform public builds
                  type: boolean
                request_access_enabled:
                  description: Allow users to request member access
                  type: boolean
                only_allow_merge_if_build_succeeds:
                  description: Only allow to merge if builds succeed
                  type: boolean
                only_allow_merge_if_all_discussions_are_resolved:
                  description: Only allow to merge if all discussions are resolved
                  type: boolean
                namespace_id:
                  description: Namespace ID for the new project. Default to the user namespace.
                  type: integer
                  format: int32
                import_url:
                  description: URL from which the project is imported
                  type: string
              required:
                - name
  /v3/projects/visible:
    get:
      description: Get a list of visible projects for authenticated user
      operationId: getV3ProjectsVisible
      parameters:
        - description: Return projects ordered by field
          in: query
          name: order_by
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - path
              - created_at
              - updated_at
              - last_activity_at
            default: created_at
        - description: Return projects sorted in ascending and descending order
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: Limit by visibility
          in: query
          name: visibility
          required: false
          schema:
            type: string
            enum:
              - public
              - internal
              - private
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Return only the ID, URL, name, and path of each project'
          in: query
          name: simple
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Get a list of visible projects for authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
            text/plain:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
      summary: Get a list of visible projects for authenticated user
      tags:
        - projects
  '/v3/projects/{id}':
    delete:
      description: Remove a project
      operationId: deleteV3ProjectsId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Remove a project
      summary: Remove a project
      tags:
        - projects
    get:
      description: Get a single project
      operationId: getV3ProjectsId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get a single project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWithAccess'
            text/plain:
              schema:
                $ref: '#/components/schemas/ProjectWithAccess'
      summary: Get a single project
      tags:
        - projects
    put:
      description: Update an existing project
      operationId: putV3ProjectsId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Update an existing project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Update an existing project
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: The name of the project
                  type: string
                default_branch:
                  description: The default branch of the project
                  type: string
                path:
                  description: The path of the repository
                  type: string
                description:
                  description: The description of the project
                  type: string
                issues_enabled:
                  description: Flag indication if the issue tracker is enabled
                  type: boolean
                merge_requests_enabled:
                  description: Flag indication if merge requests are enabled
                  type: boolean
                wiki_enabled:
                  description: Flag indication if the wiki is enabled
                  type: boolean
                builds_enabled:
                  description: Flag indication if builds are enabled
                  type: boolean
                snippets_enabled:
                  description: Flag indication if snippets are enabled
                  type: boolean
                shared_runners_enabled:
                  description: Flag indication if shared runners are enabled for that project
                  type: boolean
                container_registry_enabled:
                  description: Flag indication if the container registry is enabled for that project
                  type: boolean
                lfs_enabled:
                  description: Flag indication if Git LFS is enabled for that project
                  type: boolean
                public:
                  description: Create a public project. The same as visibility_level = 20.
                  type: boolean
                visibility_level:
                  description: Create a public project. The same as visibility_level = 20.
                  type: integer
                  format: int32
                  enum:
                    - 0
                    - 10
                    - 20
                public_builds:
                  description: Perform public builds
                  type: boolean
                request_access_enabled:
                  description: Allow users to request member access
                  type: boolean
                only_allow_merge_if_build_succeeds:
                  description: Only allow to merge if builds succeed
                  type: boolean
                only_allow_merge_if_all_discussions_are_resolved:
                  description: Only allow to merge if all discussions are resolved
                  type: boolean
  '/v3/projects/{id}/(ref/{ref}/)trigger/builds':
    post:
      description: Trigger a GitLab project build
      operationId: postV3ProjectsId(refRef)triggerBuilds
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The commit sha or name of a branch or tag
          in: path
          name: ref
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Trigger a GitLab project build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerRequest'
            text/plain:
              schema:
                $ref: '#/components/schemas/TriggerRequest'
      summary: Trigger a GitLab project build
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  description: The unique token of trigger
                  type: string
              required:
                - token
  '/v3/projects/{id}/access_requests':
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3ProjectsIdAccessRequests
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Gets a list of access requests for a project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessRequester'
      summary: Gets a list of access requests for a project.
      tags:
        - projects
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3ProjectsIdAccessRequests
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Requests access for the authenticated user to a project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessRequester'
      summary: Requests access for the authenticated user to a project.
      tags:
        - projects
  '/v3/projects/{id}/access_requests/{user_id}':
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3ProjectsIdAccessRequestsUserId
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the access requester
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
        - projects
  '/v3/projects/{id}/access_requests/{user_id}/approve':
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3ProjectsIdAccessRequestsUserIdApprove
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The user ID of the access requester
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Approves an access request for the given user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
            text/plain:
              schema:
                $ref: '#/components/schemas/Member'
      summary: Approves an access request for the given user.
      tags:
        - projects
      requestBody:
        $ref: '#/components/requestBodies/putV3GroupsIdAccessRequestsUserIdApprove'
  '/v3/projects/{id}/archive':
    post:
      description: Archive a project
      operationId: postV3ProjectsIdArchive
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Archive a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/plain:
              schema:
                $ref: '#/components/schemas/Project'
      summary: Archive a project
      tags:
        - projects
  '/v3/projects/{id}/boards':
    get:
      description: This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoards
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get all project boards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
            text/plain:
              schema:
                $ref: '#/components/schemas/Board'
      summary: Get all project boards
      tags:
        - projects
  '/v3/projects/{id}/boards/{board_id}/lists':
    get:
      description: Does not include `backlog` and `done` lists. This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoardsBoardIdLists
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ID of a board
          in: path
          name: board_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get the lists of a project board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
            text/plain:
              schema:
                $ref: '#/components/schemas/List'
      summary: Get the lists of a project board
      tags:
        - projects
    post:
      description: This feature was introduced in 8.13
      operationId: postV3ProjectsIdBoardsBoardIdLists
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ID of a board
          in: path
          name: board_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '201':
          description: Create a new board list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
            text/plain:
              schema:
                $ref: '#/components/schemas/List'
      summary: Create a new board list
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                label_id:
                  description: The ID of an existing label
                  type: integer
                  format: int32
              required:
                - label_id
  '/v3/projects/{id}/boards/{board_id}/lists/{list_id}':
    delete:
      description: This feature was introduced in 8.13
      operationId: deleteV3ProjectsIdBoardsBoardIdListsListId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ID of a board
          in: path
          name: board_id
          required: true
          schema:
            type: integer
            format: int32
        - description: The ID of a board list
          in: path
          name: list_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Delete a board list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
            text/plain:
              schema:
                $ref: '#/components/schemas/List'
      summary: Delete a board list
      tags:
        - projects
    get:
      description: This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoardsBoardIdListsListId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ID of a board
          in: path
          name: board_id
          required: true
          schema:
            type: integer
            format: int32
        - description: The ID of a list
          in: path
          name: list_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get a list of a project board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
            text/plain:
              schema:
                $ref: '#/components/schemas/List'
      summary: Get a list of a project board
      tags:
        - projects
    put:
      description: This feature was introduced in 8.13
      operationId: putV3ProjectsIdBoardsBoardIdListsListId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ID of a board
          in: path
          name: board_id
          required: true
          schema:
            type: integer
            format: int32
        - description: The ID of a list
          in: path
          name: list_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Moves a board list to a new position
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
            text/plain:
              schema:
                $ref: '#/components/schemas/List'
      summary: Moves a board list to a new position
      tags:
        - projects
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                position:
                  description: The position of the list
                  type: integer
                  format: int32
              required:
                - position
  '/v3/projects/{id}/builds':
    get:
      description: Get a project builds
      operationId: getV3ProjectsIdBuilds
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The scope of builds to show
          in: query
          name: scope
          required: false
          schema:
            type: string
            enum:
              - pending
              - running
              - failed
              - success
              - canceled
        - description: Current page number
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of items per page
          in: query
          name: per_page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Get a project builds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
            text/plain:
              schema:
                $ref: '#/components/schemas/Build'
      summary: Get a project builds
      tags:
        - projects
  '/v3/projects/{id}/builds/artifacts/{ref_name}/download':
    get:
      description: This feature was introduced in GitLab 8.10
      operationId: getV3ProjectsIdBuildsArtifactsRefNameDownload
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The ref from repository
          in: path
          name: ref_name
          required: true
          schema:
            type: string
        - description: The name for the build
          in: query
          name: job
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Download the artifacts file from build
      summary: Download the artifacts file from build
      tags:
        - projects
[...]
