openapi: 3.0.0
servers:
  - url: https://connectors.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Enables users to create and manage connections to Google Cloud services and third-party business applications using the Connectors interface.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Connectors API
  version: v2
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://connectors.googleapis.com/$discovery/rest?version=v2
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: connectors
externalDocs:
  url: https://cloud.google.com/apigee/docs/api-platform/connectors/about-connectors
tags:
  - name: projects
paths:
  "/v2/{connection}:executeSqlQuery":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Executes a SQL statement specified in the body of the request. An example of this SQL statement in the case of Salesforce connector would be 'select * from Account a, Order o where a.Id = o.AccountId'.
      operationId: connectors.projects.locations.connections.executeSqlQuery
      parameters:
        - description: "Required. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: connection
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteSqlQueryRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteSqlQueryResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{entityType}/entities:deleteEntitiesWithConditions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Deletes entities based on conditions specified in the request and not on entity id.
      operationId: connectors.projects.locations.connections.entityTypes.entities.deleteEntitiesWithConditions
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}"
          in: path
          name: entityType
          required: true
          schema:
            type: string
        - description: "Required. Conditions to be used when deleting entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be."
          in: query
          name: conditions
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{entityType}/entities:updateEntitiesWithConditions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates entities based on conditions specified in the request and not on entity id.
      operationId: connectors.projects.locations.connections.entityTypes.entities.updateEntitiesWithConditions
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}"
          in: path
          name: entityType
          required: true
          schema:
            type: string
        - description: "Required. Conditions to be used when updating entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported. Note: If this conditions field is left empty, an exception is thrown. We don't want to consider 'empty conditions' to be a match-all case. Connector developers can determine and document what a match-all case constraint would be."
          in: query
          name: conditions
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Entity"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateEntitiesWithConditionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}":
    delete:
      description: Deletes an existing entity row matching the entity type and entity id specified in the request.
      operationId: connectors.projects.locations.connections.entityTypes.entities.delete
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets a single entity row matching the entity type and entity id specified in the request.
      operationId: connectors.projects.locations.connections.entityTypes.entities.get
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing entity row matching the entity type and entity id specified in the request. The fields in the entity row that need to be modified are contained in the body of the request. All unspecified fields are left unchanged. The response message contains a `Entity` message object returned as a response by the external system.
      operationId: connectors.projects.locations.connections.entityTypes.entities.patch
      parameters:
        - description: "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Entity"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{name}:execute":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Executes an action with the name specified in the request. The input parameters for executing the action are passed through the body of the ExecuteAction request.
      operationId: connectors.projects.locations.connections.actions.execute
      parameters:
        - description: "Required. Resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}/actions/{action}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteActionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteActionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/actions":
    get:
      description: Gets the schema of all the actions supported by the connector.
      operationId: connectors.projects.locations.connections.actions.list
      parameters:
        - description: "Required. Parent resource name of the Action. Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Number of Actions to return. Defaults to 25.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token, return from a previous ListActions call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of actions.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v2/{parent}/entities":
    get:
      description: "Lists entity rows of a particular entity type contained in the request. Note: 1. Currently, only max of one 'sort_by' column is supported. 2. If no 'sort_by' column is provided, the primary key of the table is used. If zero or more than one primary key is available, we default to the unpaginated list entities logic which only returns the first page. 3. The values of the 'sort_by' columns must uniquely identify an entity row, otherwise undefined behaviors may be observed during pagination. 4. Since transactions are not supported, any updates, inserts or deletes during pagination can lead to stale data being returned or other unexpected behaviors."
      operationId: connectors.projects.locations.connections.entityTypes.entities.list
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Conditions to be used when listing entities. From a proto standpoint, There are no restrictions on what can be passed using this field. The connector documentation should have information about what format of filters/conditions are supported.
          in: query
          name: conditions
          schema:
            type: string
        - description: Number of entity rows to return. Defaults page size = 25. Max page size = 200.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token value if available from a previous request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: List of 'sort_by' columns to use when returning the results.
          explode: true
          in: query
          name: sortBy
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEntitiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new entity row of the specified entity type in the external system. The field values for creating the row are contained in the body of the request. The response message contains a `Entity` message object returned as a response by the external system.
      operationId: connectors.projects.locations.connections.entityTypes.entities.create
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Entity"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v2/{parent}/entityTypes":
    get:
      description: Lists metadata related to all entity types present in the external system.
      operationId: connectors.projects.locations.connections.entityTypes.list
      parameters:
        - description: "Required. Resource name of the Entity Type. Format: projects/{project}/locations/{location}/connections/{connection}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Number of entity types to return. Defaults to 25.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token, return from a previous ListEntityTypes call, that can be used retrieve the next page of content. If unspecified, the request returns the first page of entity types.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEntityTypesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Action:
      description: Action message contains metadata information about a single action present in the external system.
      properties:
        inputParameters:
          description: List containing input parameter metadata.
          items:
            $ref: "#/components/schemas/InputParameter"
          type: array
        name:
          description: Name of the action.
          type: string
        resultMetadata:
          description: List containing the metadata of result fields.
          items:
            $ref: "#/components/schemas/ResultMetadata"
          type: array
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Entity:
      description: "'Entity row'/ 'Entity' refers to a single row of an entity type."
      properties:
        fields:
          additionalProperties: {}
          description: Fields of the entity. The key is name of the field and the value contains the applicable `google.protobuf.Value` entry for this field.
          type: object
        name:
          description: "Output only. Resource name of the Entity. Format: projects/{project}/locations/{location}/connections/{connection}/entityTypes/{type}/entities/{id}"
          readOnly: true
          type: string
      type: object
    EntityType:
      description: EntityType message contains metadata information about a single entity type present in the external system.
      properties:
        fields:
          description: List containing metadata information about each field of the entity type.
          items:
            $ref: "#/components/schemas/Field"
          type: array
        name:
          description: The name of the entity type.
          type: string
      type: object
    ExecuteActionRequest:
      description: Request message for ActionService.ExecuteAction
      properties:
        parameters:
          additionalProperties:
            description: Properties of the object.
          description: Parameters for executing the action. The parameters can be key/value pairs or nested structs.
          type: object
      type: object
    ExecuteActionResponse:
      description: Response message for ActionService.ExecuteAction
      properties:
        results:
          description: "In the case of successful invocation of the specified action, the results Struct contains values based on the response of the action invoked. 1. If the action execution produces any entities as a result, they are returned as an array of Structs with the 'key' being the field name and the 'value' being the value of that field in each result row. { 'results': [{'key': 'value'}, ...] }"
          items:
            additionalProperties:
              description: Properties of the object.
            type: object
          type: array
      type: object
    ExecuteSqlQueryRequest:
      description: An execute sql query request containing the query and the connection to execute it on.
      properties:
        query:
          $ref: "#/components/schemas/Query"
          description: Required. SQL statement passed by clients like Integration Platform, the query is passed as-is to the driver used for interfacing with external systems.
      type: object
    ExecuteSqlQueryResponse:
      description: A response returned by the connection after executing the sql query.
      properties:
        results:
          description: "In the case of successful execution of the query the response contains results returned by the external system. For example, the result rows of the query are contained in the 'results' Struct list - \"results\": [ { \"field1\": \"val1\", \"field2\": \"val2\",.. },.. ] Each Struct row can contain fields any type of like nested Structs or lists."
          items:
            additionalProperties:
              description: Properties of the object.
            type: object
          type: array
      type: object
    Field:
      description: Message contains EntityType's Field metadata.
      properties:
        additionalDetails:
          additionalProperties:
            description: Properties of the object.
          description: The following map contains fields that are not explicitly mentioned above,this give connectors the flexibility to add new metadata fields.
          type: object
        dataType:
          description: The data type of the Field.
          enum:
            - DATA_TYPE_UNSPECIFIED
            - INT
            - SMALLINT
            - DOUBLE
            - DATE
            - DATETIME
            - TIME
            - STRING
            - LONG
            - BOOLEAN
            - DECIMAL
            - UUID
            - BLOB
            - BIT
            - TINYINT
            - INTEGER
            - BIGINT
            - FLOAT
            - REAL
            - NUMERIC
            - CHAR
            - VARCHAR
            - LONGVARCHAR
            - TIMESTAMP
            - NCHAR
            - NVARCHAR
            - LONGNVARCHAR
            - "NULL"
            - OTHER
            - JAVA_OBJECT
            - DISTINCT
            - STRUCT
            - ARRAY
            - CLOB
            - REF
            - DATALINK
            - ROWID
            - BINARY
            - VARBINARY
            - LONGVARBINARY
            - NCLOB
            - SQLXML
            - REF_CURSOR
            - TIME_WITH_TIMEZONE
            - TIMESTAMP_WITH_TIMEZONE
          type: string
        defaultValue:
          description: The following field specifies the default value of the Field provided by the external system if a value is not provided.
        description:
          description: A brief description of the Field.
          type: string
        key:
          description: The following boolean field specifies if the current Field acts as a primary key or id if the parent is of type entity.
          type: boolean
        name:
          description: Name of the Field.
          type: string
        nullable:
          description: Specifies whether a null value is allowed.
          type: boolean
        reference:
          $ref: "#/components/schemas/Reference"
          description: Reference captures the association between two different entity types. Value links to the reference of another entity type.
      type: object
    InputParameter:
      description: Input Parameter message contains metadata about the parameters required for executing an Action.
      properties:
        dataType:
          description: The data type of the Parameter
          enum:
            - DATA_TYPE_UNSPECIFIED
            - INT
            - SMALLINT
            - DOUBLE
            - DATE
            - DATETIME
            - TIME
            - STRING
            - LONG
            - BOOLEAN
            - DECIMAL
            - UUID
            - BLOB
            - BIT
            - TINYINT
            - INTEGER
            - BIGINT
            - FLOAT
            - REAL
            - NUMERIC
            - CHAR
            - VARCHAR
            - LONGVARCHAR
            - TIMESTAMP
            - NCHAR
            - NVARCHAR
            - LONGNVARCHAR
            - "NULL"
            - OTHER
            - JAVA_OBJECT
            - DISTINCT
            - STRUCT
            - ARRAY
            - CLOB
            - REF
            - DATALINK
            - ROWID
            - BINARY
            - VARBINARY
            - LONGVARBINARY
            - NCLOB
            - SQLXML
            - REF_CURSOR
            - TIME_WITH_TIMEZONE
            - TIMESTAMP_WITH_TIMEZONE
          type: string
        defaultValue:
          description: The following field specifies the default value of the Parameter provided by the external system if a value is not provided.
        description:
          description: A brief description of the Parameter.
          type: string
        name:
          description: Name of the Parameter.
          type: string
        nullable:
          description: Specifies whether a null value is allowed.
          type: boolean
      type: object
    ListActionsResponse:
      description: Response message for ActionService.ListActions
      properties:
        actions:
          description: List of action metadata.
          items:
            $ref: "#/components/schemas/Action"
          type: array
        nextPageToken:
          description: Next page token if more actions available.
          type: string
        unsupportedActionNames:
          description: List of actions which contain unsupported Datatypes. Check datatype.proto for more information.
          items:
            type: string
          type: array
      type: object
    ListEntitiesResponse:
      description: Response message for EntityService.ListEntities
      properties:
        entities:
          description: List containing entity rows.
          items:
            $ref: "#/components/schemas/Entity"
          type: array
        nextPageToken:
          description: Next page token if more records are available.
          type: string
      type: object
    ListEntityTypesResponse:
      description: Response message for EntityService.ListEntityTypes
      properties:
        nextPageToken:
          description: Next page token if more entity types available.
          type: string
        types:
          description: List of metadata related to all entity types.
          items:
            $ref: "#/components/schemas/EntityType"
          type: array
        unsupportedTypeNames:
          description: List of entity type names which contain unsupported Datatypes. Check datatype.proto for more information.
          items:
            type: string
          type: array
      type: object
    Query:
      description: 'A wrapper around the SQL query statement. This is needed so that the JSON representation of ExecuteSqlQueryRequest has the following format: `{"query":"select *"}`.'
      properties:
        query:
          description: Required. Sql query to execute.
          type: string
      type: object
    Reference:
      properties:
        name:
          description: Name of the reference field.
          type: string
        type:
          description: Name of reference entity type.
          type: string
      type: object
    ResultMetadata:
      description: Result Metadata message contains metadata about the result returned after executing an Action.
      properties:
        dataType:
          description: The data type of the metadata field
          enum:
            - DATA_TYPE_UNSPECIFIED
            - INT
            - SMALLINT
            - DOUBLE
            - DATE
            - DATETIME
            - TIME
            - STRING
            - LONG
            - BOOLEAN
            - DECIMAL
            - UUID
            - BLOB
            - BIT
            - TINYINT
            - INTEGER
            - BIGINT
            - FLOAT
            - REAL
            - NUMERIC
            - CHAR
            - VARCHAR
            - LONGVARCHAR
            - TIMESTAMP
            - NCHAR
            - NVARCHAR
            - LONGNVARCHAR
            - "NULL"
            - OTHER
            - JAVA_OBJECT
            - DISTINCT
            - STRUCT
            - ARRAY
            - CLOB
            - REF
            - DATALINK
            - ROWID
            - BINARY
            - VARBINARY
            - LONGVARBINARY
            - NCLOB
            - SQLXML
            - REF_CURSOR
            - TIME_WITH_TIMEZONE
            - TIMESTAMP_WITH_TIMEZONE
          type: string
        description:
          description: A brief description of the metadata field.
          type: string
        name:
          description: Name of the metadata field.
          type: string
      type: object
    UpdateEntitiesWithConditionsResponse:
      description: Response message for EntityService.UpdateEntitiesWithConditions
      properties:
        response:
          additionalProperties:
            description: Properties of the object.
          description: Response returned by the external system.
          type: object
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
