swagger: '2.0'
schemes:
  - https
host: api.box.com
basePath: /oauth2
info:
  description: The Box Token API provides methods to retrieve an access token and revoke an access token. An access token is a data string that enables Box to verify that a request belongs to an authorized session. In the normal order of operations you will being by requesting authentication from the Box.
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  title: Box 2.0 OAuth2 Token
  version: '2.0'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://pbs.twimg.com/profile_images/852979584169410562/etZ6V0rx_400x400.jpg'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/box/box-openapi/master/v2.0/token.openapi-v2.json'
      version: '2.0'
  x-providerName: box.com
  x-serviceName: token
consumes:
  - application/json
produces:
  - application/json
paths:
  /revoke:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'This is the URL of the Box revoke endpoint, the endpoint that revokes access tokens, or to put it another way, the endpoint that ends sessions, logging users out.'
      externalDocs:
        url: 'https://docs.box.com/reference#revoke'
      operationId: revokeToken
      parameters:
        - in: formData
          name: token
          required: true
          type: string
        - description: The client ID of the application requesting authentication.
          in: formData
          name: client_id
          required: true
          type: string
        - description: The client secret of the application requesting authentication.
          in: formData
          name: client_secret
          required: true
          type: string
      responses:
        '200':
          description: Revoken token is successful
        default:
          description: Revoke token error
          schema:
            $ref: '#/definitions/OAuthError'
      summary: Revoke token
      tags:
        - AccessToken
  /token:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'This is the URL of the Box token endpoint, the endpoint that returns access tokens. An access token is a data string that enables Box to verify that a request belongs to an authorized session.'
      externalDocs:
        url: 'https://docs.box.com/reference#token'
      operationId: generateAccessToken
      parameters:
        - in: formData
          name: grant_type
          required: true
          type: string
        - description: The authorization code returned by Box in response to a successfull authentication request.
          in: formData
          name: code
          type: string
        - description: The client ID of the application requesting authentication.
          in: formData
          name: client_id
          required: true
          type: string
        - description: The client secret of the application requesting authentication.
          in: formData
          name: client_secret
          required: true
          type: string
        - description: The refresh_token that is used to get the new access_token
          in: formData
          name: refresh_token
          type: string
        - description: This is the primary/secondary application token you will exchange for the file token.
          in: formData
          name: subject_token
          type: string
        - description: 'The subject token type is urn:ietf:params:oauth:token-type:access_token'
          in: formData
          name: subject_token_type
          type: string
        - description: 'Full url path to the file that the token should be generated for example, https://api.box.com/2.0/files/{file_id}'
          in: formData
          name: resource
          type: string
        - description: 'Full url path to the file that the token should be generated for example, https://api.box.com/2.0/files/{file_id}'
          in: formData
          name: actor_token
          type: string
        - description: 'Full url path to the file that the token should be generated for example, https://api.box.com/2.0/files/{file_id}'
          enum:
            - 'urn:ietf:params:oauth:token-type:id_token'
          in: formData
          name: actor_token_type
          type: string
      responses:
        '200':
          description: A new access token is returned.
          schema:
            $ref: '#/definitions/AccessToken'
        default:
          description: Access token generation error
          schema:
            $ref: '#/definitions/OAuthError'
      summary: Generate Access token
      tags:
        - AccessToken
definitions:
  AccessToken:
    properties:
      access_token:
        type: string
      expires_in:
        format: int64
        type: integer
      issued_token_type:
        type: string
      refresh_token:
        type: string
      restricted_to:
        items:
          $ref: '#/definitions/RestrictedTo'
        type: array
      token_type:
        enum:
          - bearer
        type: string
    title: Access token response
    type: object
  FileReference:
    allOf:
      - $ref: '#/definitions/ItemReference'
      - properties:
          sha1:
            description: The sha1 hash of this file.
            type: string
    description: It references either a file or a folder
    type: object
  ItemReference:
    allOf:
      - $ref: '#/definitions/Reference'
      - properties:
          etag:
            description: |-
              A unique string identifying the version of this folder.
              May be null for some folders such as root or trash.
            type: string
          name:
            description: The name of the folder.
            type: string
          sequence_id:
            description: |-
              A unique ID for use with the /events endpoint.
              May be null for some folders such as root or trash.
            type: string
    description: It references either a file or a folder
    type: object
  OAuthError:
    properties:
      error:
        type: string
      error_description:
        type: string
      error_uri:
        type: string
      state:
        type: string
    type: object
  Reference:
    properties:
      id:
        type: string
      type:
        enum:
          - folder
          - file
          - user
          - file_version
          - lock
          - collaboration
          - comment
          - task
          - web_link
          - collection
          - task_assignment
          - event
          - realtime_server
          - webhook_event
          - webhook
          - enterprise
          - invite
          - email_alias
          - group
          - group_membership
          - device_pinner
          - retention_policy
          - retention_policy_assignment
          - file_version_retention
          - legal_hold_policy
          - legal_hold_policy_assignment
          - legal_hold
          - upload_session
        type: string
    type: object
  RestrictedTo:
    properties:
      object:
        $ref: '#/definitions/FileReference'
      scope:
        type: string
    type: object
