swagger: '2.0'
info:
  version: '2015-04-16'
  x-release: v4
  title: AWS Directory Service
  description: '<fullname>AWS Directory Service</fullname> <p>AWS Directory Service is a web service that makes it easy for you to setup and run directories in the AWS cloud, or connect your AWS resources with an existing on-premises Microsoft Active Directory. This guide provides detailed information about AWS Directory Service operations, data types, parameters, and errors. For information about AWS Directory Services features, see <a href="https://aws.amazon.com/directoryservice/">AWS Directory Service</a> and the <a href="http://docs.aws.amazon.com/directoryservice/latest/admin-guide/what_is.html">AWS Directory Service Administration Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS Directory Service and other AWS services. For more information about the AWS SDKs, including how to download and install them, see <a href="http://aws.amazon.com/tools/">Tools for Amazon Web Services</a>.</p> </note>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: ds
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ds-2015-04-16.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/ds/'
host: ds.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddIpRoutes
      description: '<p>If the DNS server for your on-premises domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on AWS to a peer VPC. </p> <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>AddIpRoutes</i> operation, see <a href="http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddIpRoutesResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '484':
          description: IpRouteLimitExceededException
          schema:
            $ref: '#/definitions/IpRouteLimitExceededException'
        '485':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddIpRoutesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AddTagsToResource':
    post:
      operationId: AddTagsToResource
      description: Adds or overwrites one or more tags for the specified directory. Each directory can have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsToResourceResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CancelSchemaExtension':
    post:
      operationId: CancelSchemaExtension
      description: 'Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema extension has started replicating to all domain controllers, the task can no longer be canceled. A schema extension can be canceled during any of the following states; <code>Initializing</code>, <code>CreatingSnapshot</code>, and <code>UpdatingSchema</code>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelSchemaExtensionResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelSchemaExtensionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ConnectDirectory':
    post:
      operationId: ConnectDirectory
      description: '<p>Creates an AD Connector to connect to an on-premises directory.</p> <p>Before you call <i>ConnectDirectory</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>ConnectDirectory</i> operation, see <a href="http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConnectDirectoryResult'
        '480':
          description: DirectoryLimitExceededException
          schema:
            $ref: '#/definitions/DirectoryLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConnectDirectoryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAlias':
    post:
      operationId: CreateAlias
      description: '<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used to construct the access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.</p> <important> <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAliasResult'
        '480':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '481':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAliasRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateComputer':
    post:
      operationId: CreateComputer
      description: 'Creates a computer account in the specified directory, and joins the computer to the directory.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateComputerResult'
        '480':
          description: AuthenticationFailedException
          schema:
            $ref: '#/definitions/AuthenticationFailedException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '483':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '486':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '487':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateComputerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateConditionalForwarder':
    post:
      operationId: CreateConditionalForwarder
      description: Creates a conditional forwarder associated with your AWS directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConditionalForwarderResult'
        '480':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '481':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '482':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '485':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConditionalForwarderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDirectory':
    post:
      operationId: CreateDirectory
      description: '<p>Creates a Simple AD directory.</p> <p>Before you call <i>CreateDirectory</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateDirectory</i> operation, see <a href="http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectoryResult'
        '480':
          description: DirectoryLimitExceededException
          schema:
            $ref: '#/definitions/DirectoryLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDirectoryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateMicrosoftAD':
    post:
      operationId: CreateMicrosoftAD
      description: '<p>Creates a Microsoft AD in the AWS cloud.</p> <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateMicrosoftAD</i> operation, see <a href="http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMicrosoftADResult'
        '480':
          description: DirectoryLimitExceededException
          schema:
            $ref: '#/definitions/DirectoryLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateMicrosoftADRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateSnapshot':
    post:
      operationId: CreateSnapshot
      description: <p>Creates a snapshot of a Simple AD or Microsoft AD directory in the AWS cloud.</p> <note> <p>You cannot take snapshots of AD Connector directories.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSnapshotResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: SnapshotLimitExceededException
          schema:
            $ref: '#/definitions/SnapshotLimitExceededException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateTrust':
    post:
      operationId: CreateTrust
      description: '<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Microsoft AD in the AWS cloud, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTrustResult'
        '480':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '481':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTrustRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteConditionalForwarder':
    post:
      operationId: DeleteConditionalForwarder
      description: Deletes a conditional forwarder that has been set up for your AWS directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConditionalForwarderResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '484':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConditionalForwarderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDirectory':
    post:
      operationId: DeleteDirectory
      description: '<p>Deletes an AWS Directory Service directory.</p> <p>Before you call <i>DeleteDirectory</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>DeleteDirectory</i> operation, see <a href="http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectoryResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDirectoryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteSnapshot':
    post:
      operationId: DeleteSnapshot
      description: Deletes a directory snapshot.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSnapshotResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTrust':
    post:
      operationId: DeleteTrust
      description: Deletes an existing trust relationship between your Microsoft AD in the AWS cloud and an external domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTrustResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTrustRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeregisterEventTopic':
    post:
      operationId: DeregisterEventTopic
      description: Removes the specified directory as a publisher to the specified SNS topic.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterEventTopicResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterEventTopicRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConditionalForwarders':
    post:
      operationId: DescribeConditionalForwarders
      description: '<p>Obtains information about the conditional forwarders for this account.</p> <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConditionalForwardersResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '484':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConditionalForwardersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDirectories':
    post:
      operationId: DescribeDirectories
      description: '<p>Obtains information about the directories that belong to this account.</p> <p>You can retrieve information about specific directories by passing the directory identifiers in the <i>DirectoryIds</i> parameter. Otherwise, all directories that belong to the current account are returned.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeDirectoriesResult.NextToken</i> member contains a token that you pass in the next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectoriesResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDirectoriesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDomainControllers':
    post:
      operationId: DescribeDomainControllers
      description: Provides information about any domain controllers in your directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainControllersResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDomainControllersRequest'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEventTopics':
    post:
      operationId: DescribeEventTopics
      description: '<p>Obtains information about which SNS topics receive status messages from the specified directory.</p> <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventTopicsResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventTopicsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSnapshots':
    post:
      operationId: DescribeSnapshots
      description: '<p>Obtains information about the directory snapshots that belong to this account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i> member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSnapshotsResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSnapshotsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTrusts':
    post:
      operationId: DescribeTrusts
      description: '<p>Obtains information about the trust relationships for this account.</p> <p>If no input parameters are provided, such as DirectoryId or TrustIds, this request describes all the trust relationships belonging to the account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustsResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '485':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableRadius':
    post:
      operationId: DisableRadius
      description: Disables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableRadiusResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableRadiusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableSso':
    post:
      operationId: DisableSso
      description: Disables single-sign on for a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableSsoResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InsufficientPermissionsException
          schema:
            $ref: '#/definitions/InsufficientPermissionsException'
        '482':
          description: AuthenticationFailedException
          schema:
            $ref: '#/definitions/AuthenticationFailedException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableSsoRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableRadius':
    post:
      operationId: EnableRadius
      description: Enables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableRadiusResult'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: EntityAlreadyExistsException
          schema:
            $ref: '#/definitions/EntityAlreadyExistsException'
        '482':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableRadiusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableSso':
    post:
      operationId: EnableSso
      description: Enables single sign-on for a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableSsoResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InsufficientPermissionsException
          schema:
            $ref: '#/definitions/InsufficientPermissionsException'
        '482':
          description: AuthenticationFailedException
          schema:
            $ref: '#/definitions/AuthenticationFailedException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableSsoRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDirectoryLimits':
    post:
      operationId: GetDirectoryLimits
      description: Obtains directory limit information for the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDirectoryLimitsResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDirectoryLimitsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetSnapshotLimits':
    post:
      operationId: GetSnapshotLimits
      description: Obtains the manual snapshot limits for a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSnapshotLimitsResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSnapshotLimitsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListIpRoutes':
    post:
      operationId: ListIpRoutes
      description: Lists the address blocks that you have added to a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIpRoutesResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListIpRoutesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSchemaExtensions':
    post:
      operationId: ListSchemaExtensions
      description: Lists all schema extensions applied to a Microsoft AD Directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSchemaExtensionsResult'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSchemaExtensionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Lists all tags on a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterEventTopic':
    post:
      operationId: RegisterEventTopic
      description: Associates a directory with an SNS topic. This establishes the directory as a publisher to the specified SNS topic. You can then receive email or text (SMS) messages when the status of your directory changes. You get notified if your directory goes from an Active status to an Impaired or Inoperable status. You also receive a notification when the directory returns to an Active status.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterEventTopicResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterEventTopicRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveIpRoutes':
    post:
      operationId: RemoveIpRoutes
      description: Removes IP address blocks from a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveIpRoutesResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '483':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '484':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveIpRoutesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: Removes tags from a directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RestoreFromSnapshot':
    post:
      operationId: RestoreFromSnapshot
      description: '<p>Restores a directory using an existing directory snapshot.</p> <p>When you restore a directory from a snapshot, any changes made to the directory after the snapshot date are overwritten.</p> <p>This action returns as soon as the restore operation is initiated. You can monitor the progress of the restore operation by calling the <a>DescribeDirectories</a> operation with the directory identifier. When the <b>DirectoryDescription.Stage</b> value changes to <code>Active</code>, the restore operation is complete.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreFromSnapshotResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RestoreFromSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartSchemaExtension':
    post:
      operationId: StartSchemaExtension
      description: Applies a schema extension to a Microsoft AD directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSchemaExtensionResult'
        '480':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '481':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: SnapshotLimitExceededException
          schema:
            $ref: '#/definitions/SnapshotLimitExceededException'
        '484':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartSchemaExtensionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateConditionalForwarder':
    post:
      operationId: UpdateConditionalForwarder
      description: Updates a conditional forwarder that has been set up for your AWS directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConditionalForwarderResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '484':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '485':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateConditionalForwarderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateNumberOfDomainControllers':
    post:
      operationId: UpdateNumberOfDomainControllers
      description: 'Adds or removes domain controllers to or from the directory. Based on the difference between current value and new value (provided through this API call), domain controllers will be added or removed. It may take up to 45 minutes for any new domain controllers to become fully active once the requested number of domain controllers is updated. During this time, you cannot make another update request.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateNumberOfDomainControllersResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: DirectoryUnavailableException
          schema:
            $ref: '#/definitions/DirectoryUnavailableException'
        '482':
          description: DomainControllerLimitExceededException
          schema:
            $ref: '#/definitions/DomainControllerLimitExceededException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '485':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '486':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateNumberOfDomainControllersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateRadius':
    post:
      operationId: UpdateRadius
      description: Updates the Remote Authentication Dial In User Service (RADIUS) server information for an AD Connector directory.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRadiusResult'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateRadiusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#VerifyTrust':
    post:
      operationId: VerifyTrust
      description: <p>AWS Directory Service for Microsoft Active Directory allows you to configure and verify trust relationships.</p> <p>This action verifies a trust relationship between your Microsoft AD in the AWS cloud and an external domain.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VerifyTrustResult'
        '480':
          description: EntityDoesNotExistException
          schema:
            $ref: '#/definitions/EntityDoesNotExistException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '483':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/VerifyTrustRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AccessUrl:
    type: string
    minLength: 1
    maxLength: 128
  AddIpRoutesRequest:
    type: object
    required:
      - DirectoryId
      - IpRoutes
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: Identifier (ID) of the directory to which to add the address block.
      IpRoutes:
        $ref: '#/definitions/IpRoutes'
        description: 'IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.'
      UpdateSecurityGroupForDirectoryControllers:
        $ref: '#/definitions/UpdateSecurityGroupForDirectoryControllers'
        description: '<p>If set to true, updates the inbound and outbound rules of the security group that has the description: "AWS created security group for <i>directory ID</i> directory controllers." Following are the new rules: </p> <p>Inbound:</p> <ul> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 123, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 138, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 135, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 636, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source: 0.0.0.0/0</p> </li> <li> <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: 0.0.0.0/0</p> </li> <li> <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: 0.0.0.0/0</p> </li> <li> <p>Type: LDAP, Protocol: TCP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type: All ICMP, Protocol: All, Range: N/A, Source: 0.0.0.0/0</p> </li> </ul> <p/> <p>Outbound:</p> <ul> <li> <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p> </li> </ul> <p>These security rules impact an internal network interface that is not exposed publicly.</p>'
  AddIpRoutesResult:
    type: object
    properties: {}
  AddTagsToResourceRequest:
    type: object
    required:
      - ResourceId
      - Tags
    properties:
      ResourceId:
        $ref: '#/definitions/ResourceId'
        description: Identifier (ID) for the directory to which to add the tag.
      Tags:
        $ref: '#/definitions/Tags'
        description: The tags to be assigned to the directory.
  AddTagsToResourceResult:
    type: object
    properties: {}
  AddedDateTime:
    type: string
    format: date-time
  AliasName:
    type: string
    pattern: '^(?!d-)([\da-zA-Z]+)([-]*[\da-zA-Z])*'
    minLength: 1
    maxLength: 62
  Attribute:
    type: object
    properties:
      Name:
        $ref: '#/definitions/AttributeName'
        description: The name of the attribute.
      Value:
        $ref: '#/definitions/AttributeValue'
        description: The value of the attribute.
    description: Represents a named directory attribute.
  AttributeName:
    type: string
    minLength: 1
  AttributeValue:
    type: string
  Attributes:
    type: array
    items:
      $ref: '#/definitions/Attribute'
  AuthenticationFailedException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ExceptionMessage'
        description: The textual message for the exception.
      RequestId:
        $ref: '#/definitions/RequestId'
        description: The identifier of the request that caused the exception.
    description: An authentication error occurred.
  AvailabilityZone:
    type: string
  AvailabilityZones:
    type: array
    items:
      $ref: '#/definitions/AvailabilityZone'
  CancelSchemaExtensionRequest:
    type: object
    required:
      - DirectoryId
      - SchemaExtensionId
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory whose schema extension will be canceled.
      SchemaExtensionId:
        $ref: '#/definitions/SchemaExtensionId'
        description: The identifier of the schema extension that will be canceled.
  CancelSchemaExtensionResult:
    type: object
    properties: {}
  CidrIp:
    type: string
    pattern: '^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([1-9]|[1-2][0-9]|3[0-2]))$'
  CidrIps:
    type: array
    items:
      $ref: '#/definitions/CidrIp'
  ClientException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ExceptionMessage'
      RequestId:
        $ref: '#/definitions/RequestId'
    description: A client exception has occurred.
  CloudOnlyDirectoriesLimitReached:
    type: boolean
  Computer:
    type: object
    properties:
      ComputerId:
        $ref: '#/definitions/SID'
        description: The identifier of the computer.
      ComputerName:
        $ref: '#/definitions/ComputerName'
        description: The computer name.
      ComputerAttributes:
        $ref: '#/definitions/Attributes'
        description: An array of <a>Attribute</a> objects containing the LDAP attributes that belong to the computer account.
    description: Contains information about a computer account in a directory.
  ComputerName:
    type: string
    minLength: 1
    maxLength: 15
  ComputerPassword:
    type: string
    pattern: '[\u0020-\u00FF]+'
    minLength: 8
    maxLength: 64
    format: password
  ConditionalForwarder:
    type: object
    properties:
      RemoteDomainName:
        $ref: '#/definitions/RemoteDomainName'
        description: The fully qualified domain name (FQDN) of the remote domains pointed to by the conditional forwarder.
      DnsIpAddrs:
        $ref: '#/definitions/DnsIpAddrs'
        description: The IP addresses of the remote DNS server associated with RemoteDomainName. This is the IP address of the DNS server that your conditional forwarder points to.
      ReplicationScope:
        $ref: '#/definitions/ReplicationScope'
        description: 'The replication scope of the conditional forwarder. The only allowed value is <code>Domain</code>, which will replicate the conditional forwarder to all of the domain controllers for your AWS directory.'
    description: Points to a remote domain with which you are setting up a trust relationship. Conditional forwarders are required in order to set up a trust relationship with another domain.
  ConditionalForwarders:
    type: array
    items:
      $ref: '#/definitions/ConditionalForwarder'
  ConnectDirectoryRequest:
    type: object
    required:
      - Name
      - Password
      - Size
      - ConnectSettings
    properties:
      Name:
        $ref: '#/definitions/DirectoryName'
        description: 'The fully-qualified name of the on-premises directory, such as <code>corp.example.com</code>.'
      ShortName:
        $ref: '#/definitions/DirectoryShortName'
        description: 'The NetBIOS name of the on-premises directory, such as <code>CORP</code>.'
      Password:
        $ref: '#/definitions/ConnectPassword'
        description: The password for the on-premises user account.
      Description:
        $ref: '#/definitions/Description'
        description: A textual description for the directory.
      Size:
        $ref: '#/definitions/DirectorySize'
        description: The size of the directory.
      ConnectSettings:
        $ref: '#/definitions/DirectoryConnectSettings'
        description: A <a>DirectoryConnectSettings</a> object that contains additional information for the operation.
    description: Contains the inputs for the <a>ConnectDirectory</a> operation.
  ConnectDirectoryResult:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the new directory.
    description: Contains the results of the <a>ConnectDirectory</a> operation.
  ConnectPassword:
    type: string
    minLength: 1
    maxLength: 128
    format: password
  ConnectedDirectoriesLimitReached:
    type: boolean
  CreateAliasRequest:
    type: object
    required:
      - DirectoryId
      - Alias
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory for which to create the alias.
      Alias:
        $ref: '#/definitions/AliasName'
        description: <p>The requested alias.</p> <p>The alias must be unique amongst all aliases in AWS. This operation throws an <code>EntityAlreadyExistsException</code> error if the alias already exists.</p>
    description: Contains the inputs for the <a>CreateAlias</a> operation.
  CreateAliasResult:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory.
      Alias:
        $ref: '#/definitions/AliasName'
        description: The alias for the directory.
    description: Contains the results of the <a>CreateAlias</a> operation.
  CreateComputerRequest:
    type: object
    required:
      - DirectoryId
      - ComputerName
      - Password
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory in which to create the computer account.
      ComputerName:
        $ref: '#/definitions/ComputerName'
        description: The name of the computer account.
      Password:
        $ref: '#/definitions/ComputerPassword'
        description: 'A one-time password that is used to join the computer to the directory. You should generate a random, strong password to use for this parameter.'
      OrganizationalUnitDistinguishedName:
        $ref: '#/definitions/OrganizationalUnitDN'
        description: The fully-qualified distinguished name of the organizational unit to place the computer account in.
      ComputerAttributes:
        $ref: '#/definitions/Attributes'
        description: An array of <a>Attribute</a> objects that contain any LDAP attributes to apply to the computer account.
    description: Contains the inputs for the <a>CreateComputer</a> operation.
  CreateComputerResult:
    type: object
    properties:
      Computer:
        $ref: '#/definitions/Computer'
        description: A <a>Computer</a> object that represents the computer account.
    description: Contains the results for the <a>CreateComputer</a> operation.
  CreateConditionalForwarderRequest:
    type: object
    required:
      - DirectoryId
      - RemoteDomainName
      - DnsIpAddrs
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The directory ID of the AWS directory for which you are creating the conditional forwarder.
      RemoteDomainName:
        $ref: '#/definitions/RemoteDomainName'
        description: The fully qualified domain name (FQDN) of the remote domain with which you will set up a trust relationship.
      DnsIpAddrs:
        $ref: '#/definitions/DnsIpAddrs'
        description: The IP addresses of the remote DNS server associated with RemoteDomainName.
    description: Initiates the creation of a conditional forwarder for your AWS Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.
  CreateConditionalForwarderResult:
    type: object
    properties: {}
    description: The result of a CreateConditinalForwarder request.
  CreateDirectoryRequest:
    type: object
    required:
      - Name
      - Password
      - Size
    properties:
      Name:
        $ref: '#/definitions/DirectoryName'
        description: 'The fully qualified name for the directory, such as <code>corp.example.com</code>.'
      ShortName:
        $ref: '#/definitions/DirectoryShortName'
        description: 'The short name of the directory, such as <code>CORP</code>.'
      Password:
        $ref: '#/definitions/Password'
        description: The password for the directory administrator. The directory creation process creates a directory administrator account with the username <code>Administrator</code> and this password.
      Description:
        $ref: '#/definitions/Description'
        description: A textual description for the directory.
      Size:
        $ref: '#/definitions/DirectorySize'
        description: The size of the directory.
      VpcSettings:
        $ref: '#/definitions/DirectoryVpcSettings'
        description: A <a>DirectoryVpcSettings</a> object that contains additional information for the operation.
    description: 'Contains the inputs for the <a>CreateDirectory</a> operation. '
  CreateDirectoryResult:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory that was created.
    description: Contains the results of the <a>CreateDirectory</a> operation.
  CreateMicrosoftADRequest:
    type: object
    required:
      - Name
      - Password
      - VpcSettings
    properties:
      Name:
        $ref: '#/definitions/DirectoryName'
        description: 'The fully qualified domain name for the directory, such as <code>corp.example.com</code>. This name will resolve inside your VPC only. It does not need to be publicly resolvable.'
      ShortName:
        $ref: '#/definitions/DirectoryShortName'
        description: 'The NetBIOS name for your domain. A short identifier for your domain, such as <code>CORP</code>. If you don''t specify a NetBIOS name, it will default to the first part of your directory DNS. For example, <code>CORP</code> for the directory DNS <code>corp.example.com</code>. '
      Password:
        $ref: '#/definitions/Password'
        description: The password for the default administrative user named <code>Admin</code>.
      Description:
        $ref: '#/definitions/Description'
        description: A textual description for the directory. This label will appear on the AWS console <code>Directory Details</code> page after the directory is created.
      VpcSettings:
        $ref: '#/definitions/DirectoryVpcSettings'
        description: Contains VPC information for the <a>CreateDirectory</a> or <a>CreateMicrosoftAD</a> operation.
    description: Creates a Microsoft AD in the AWS cloud.
  CreateMicrosoftADResult:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory that was created.
    description: Result of a CreateMicrosoftAD request.
  CreateSnapshotBeforeSchemaExtension:
    type: boolean
  CreateSnapshotRequest:
    type: object
    required:
      - DirectoryId
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory of which to take a snapshot.
      Name:
        $ref: '#/definitions/SnapshotName'
        description: The descriptive name to apply to the snapshot.
    description: Contains the inputs for the <a>CreateSnapshot</a> operation.
  CreateSnapshotResult:
    type: object
    properties:
      SnapshotId:
        $ref: '#/definitions/SnapshotId'
        description: The identifier of the snapshot that was created.
    description: Contains the results of the <a>CreateSnapshot</a> operation.
  CreateTrustRequest:
    type: object
    required:
      - DirectoryId
      - RemoteDomainName
      - TrustPassword
      - TrustDirection
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The Directory ID of the Microsoft AD in the AWS cloud for which to establish the trust relationship.
      RemoteDomainName:
        $ref: '#/definitions/RemoteDomainName'
        description: The Fully Qualified Domain Name (FQDN) of the external domain for which to create the trust relationship.
      TrustPassword:
        $ref: '#/definitions/TrustPassword'
        description: The trust password. The must be the same password that was used when creating the trust relationship on the external domain.
      TrustDirection:
        $ref: '#/definitions/TrustDirection'
        description: The direction of the trust relationship.
      TrustType:
        $ref: '#/definitions/TrustType'
        description: The trust relationship type.
      ConditionalForwarderIpAddrs:
        $ref: '#/definitions/DnsIpAddrs'
        description: The IP addresses of the remote DNS server associated with RemoteDomainName.
    description: '<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Microsoft AD in the AWS cloud, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between a Microsoft AD in the AWS cloud and an external domain.</p>'
  CreateTrustResult:
    type: object
    properties:
      TrustId:
        $ref: '#/definitions/TrustId'
        description: A unique identifier for the trust relationship that was created.
    description: The result of a CreateTrust request.
  CreatedDateTime:
    type: string
    format: date-time
  DeleteAssociatedConditionalForwarder:
    type: boolean
  DeleteConditionalForwarderRequest:
    type: object
    required:
      - DirectoryId
      - RemoteDomainName
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The directory ID for which you are deleting the conditional forwarder.
      RemoteDomainName:
        $ref: '#/definitions/RemoteDomainName'
        description: The fully qualified domain name (FQDN) of the remote domain with which you are deleting the conditional forwarder.
    description: Deletes a conditional forwarder.
  DeleteConditionalForwarderResult:
    type: object
    properties: {}
    description: The result of a DeleteConditionalForwarder request.
  DeleteDirectoryRequest:
    type: object
    required:
      - DirectoryId
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory to delete.
    description: Contains the inputs for the <a>DeleteDirectory</a> operation.
  DeleteDirectoryResult:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The directory identifier.
    description: Contains the results of the <a>DeleteDirectory</a> operation.
  DeleteSnapshotRequest:
    type: object
    required:
      - SnapshotId
    properties:
      SnapshotId:
        $ref: '#/definitions/SnapshotId'
        description: The identifier of the directory snapshot to be deleted.
    description: Contains the inputs for the <a>DeleteSnapshot</a> operation.
  DeleteSnapshotResult:
    type: object
    properties:
      SnapshotId:
        $ref: '#/definitions/SnapshotId'
        description: The identifier of the directory snapshot that was deleted.
    description: Contains the results of the <a>DeleteSnapshot</a> operation.
  DeleteTrustRequest:
    type: object
    required:
      - TrustId
    properties:
      TrustId:
        $ref: '#/definitions/TrustId'
        description: The Trust ID of the trust relationship to be deleted.
      DeleteAssociatedConditionalForwarder:
        $ref: '#/definitions/DeleteAssociatedConditionalForwarder'
        description: Delete a conditional forwarder as part of a DeleteTrustRequest.
    description: Deletes the local side of an existing trust relationship between the Microsoft AD in the AWS cloud and the external domain.
  DeleteTrustResult:
    type: object
    properties:
      TrustId:
        $ref: '#/definitions/TrustId'
        description: The Trust ID of the trust relationship that was deleted.
    description: The result of a DeleteTrust request.
  DeregisterEventTopicRequest:
    type: object
    required:
      - DirectoryId
      - TopicName
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The Directory ID to remove as a publisher. This directory will no longer send messages to the specified SNS topic.
      TopicName:
        $ref: '#/definitions/TopicName'
        description: The name of the SNS topic from which to remove the directory as a publisher.
    description: Removes the specified directory as a publisher to the specified SNS topic.
  DeregisterEventTopicResult:
    type: object
    properties: {}
    description: The result of a DeregisterEventTopic request.
  DescribeConditionalForwardersRequest:
    type: object
    required:
      - DirectoryId
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The directory ID for which to get the list of associated conditional forwarders.
      RemoteDomainNames:
        $ref: '#/definitions/RemoteDomainNames'
        description: 'The fully qualified domain names (FQDN) of the remote domains for which to get the list of associated conditional forwarders. If this member is null, all conditional forwarders are returned.'
    description: Describes a conditional forwarder.
  DescribeConditionalForwardersResult:
    type: object
    properties:
      ConditionalForwarders:
        $ref: '#/definitions/ConditionalForwarders'
        description: The list of conditional forwarders that have been created.
    description: The result of a DescribeConditionalForwarder request.
  DescribeDirectoriesRequest:
    type: object
    properties:
      DirectoryIds:
        $ref: '#/definitions/DirectoryIds'
        description: '<p>A list of identifiers of the directories for which to obtain the information. If this member is null, all directories that belong to the current account are returned.</p> <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The <i>DescribeDirectoriesResult.NextToken</i> value from a previous call to <a>DescribeDirectories</a>. Pass null if this is the first call.
      Limit:
        $ref: '#/definitions/Limit'
        description: 'The maximum number of items to return. If this value is zero, the maximum number of items is specified by the limitations of the operation.'
    description: Contains the inputs for the <a>DescribeDirectories</a> operation.
  DescribeDirectoriesResult:
    type: object
    properties:
      DirectoryDescriptions:
        $ref: '#/definitions/DirectoryDescriptions'
        description: '<p>The list of <a>DirectoryDescription</a> objects that were retrieved.</p> <p>It is possible that this list contains less than the number of items specified in the <i>Limit</i> member of the request. This occurs if there are less than the requested number of items left to retrieve, or if the limitations of the operation have been exceeded.</p>'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If not null, more results are available. Pass this value for the <i>NextToken</i> parameter in a subsequent call to <a>DescribeDirectories</a> to retrieve the next set of items.'
    description: Contains the results of the <a>DescribeDirectories</a> operation.
  DescribeDomainControllersRequest:
    type: object
    required:
      - DirectoryId
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: Identifier of the directory for which to retrieve the domain controller information.
      DomainControllerIds:
        $ref: '#/definitions/DomainControllerIds'
        description: A list of identifiers for the domain controllers whose information will be provided.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <i>DescribeDomainControllers.NextToken</i> value from a previous call to <a>DescribeDomainControllers</a>. Pass null if this is the first call. '
      Limit:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to return.
  DescribeDomainControllersResult:
    type: object
    properties:
      DomainControllers:
        $ref: '#/definitions/DomainControllers'
        description: List of the <a>DomainController</a> objects that were retrieved.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to <a>DescribeDomainControllers</a> retrieve the next set of items.'
  DescribeEventTopicsRequest:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: 'The Directory ID for which to get the list of associated SNS topics. If this member is null, associations for all Directory IDs are returned.'
      TopicNames:
        $ref: '#/definitions/TopicNames'
        description: '<p>A list of SNS topic names for which to obtain the information. If this member is null, all associations for the specified Directory ID are returned.</p> <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>'
    description: Describes event topics.
  DescribeEventTopicsResult:
    type: object
    properties:
      EventTopics:
        $ref: '#/definitions/EventTopics'
        description: A list of SNS topic names that receive status messages from the specified Directory ID.
    description: The result of a DescribeEventTopic request.
  DescribeSnapshotsRequest:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
        description: The identifier of the directory for which to retrieve snapshot information.
      SnapshotIds:
        $ref: '#/definitions/SnapshotIds'
        description: 'A list of identifiers of the snapshots to obtain the information for. If this member is null or empty, all snapshots are returned using the <i>Limit</i> and <i>NextToken</i> members.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The <i>DescribeSnapshotsResult.NextToken</i> value from a previous call to <a>DescribeSnapshots</a>. Pass null if this is the first call.
      Limit:
        $ref: '#/definitions/Limit'
        description: The maximum number of objects to return.
    description: Contains the inputs for the <a>DescribeSnapshots</a> operation.
  DescribeSnapshotsResult:
    type: object
    properties:
      Snapshots:
        $ref: '#/definitions/Snapshots'
        description: '<p>The list of <a>Snapshot</a> objects that were retrieved.</p> <p>It is possible that this list contains less than the number of items specified in the <i>Limit</i> member of the request. This occurs if there are less than the requested number of items left to retrieve, or if the limitations of the operation have been exceeded.</p>'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If not null, more results are available. Pass this value in the <i>NextToken</i> member of a subsequent call to <a>DescribeSnapshots</a>.'
    description: Contains the results of the <a>DescribeSnapshots</a> operation.
  DescribeTrustsRequest:
    type: object
    properties:
      DirectoryId:
        $ref: '#/definitions/DirectoryId'
[...]
