openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/27'
info:
  description: 'Tweet summarization.<BR />[Endpoint] https://api.apitore.com/api/27'
  title: Tweet summarization APIs
  version: 0.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/27.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/27'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: tweetSummarizationApis
tags:
  - description: Twitter Simple Summarize Controller
    name: twitter-simple-summarize-controller
paths:
  /twitter-summarize/get:
    get:
      description: 'Tweet summarization API.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/twitter-response">twitter-response</a><BR />&nbsp; Class: com.apitore.banana.response.twitter.TwitterSummarizeResponseEntity<BR />'
      operationId: getUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: Search query
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: Get after this id.
          in: query
          name: sinceId
          required: false
          schema:
            type: integer
            format: int64
            default: -1
        - description: Get before this id.
          in: query
          name: maxId
          required: false
          schema:
            type: integer
            format: int64
            default: -1
        - description: Numof search requests. Return up to 100 x iter tweets.
          in: query
          name: iter
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: Numof summarization tweets.
          in: query
          name: num
          required: false
          schema:
            type: integer
            format: int32
            default: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwitterSummarizeResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Summarize tweets.
      tags:
        - twitter-simple-summarize-controller
components:
  schemas:
    TweetSummarizeEntity:
      properties:
        createdAt:
          description: Tweet date
          format: int64
          type: integer
        score:
          description: Summarization score
          format: double
          type: number
        statusId:
          description: Status ID
          format: int64
          type: integer
        text:
          description: Tweet text
          type: string
        userId:
          description: User ID
          format: int64
          type: integer
        userName:
          description: User name
          type: string
        userProfileImageURL:
          description: User profile image URL
          type: string
        userScreenName:
          description: User screen name
          type: string
      required:
        - createdAt
        - score
        - statusId
        - text
        - userId
        - userName
        - userProfileImageURL
        - userScreenName
      type: object
    TwitterSummarizeResponseEntity:
      properties:
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        numofSummarize:
          description: 'Output: Numof summarize'
          format: int32
          type: integer
        numofTweets:
          description: 'Output: Numof hit tweets'
          format: int32
          type: integer
        processTime:
          description: 'Process time [millisecond]'
          type: string
        query:
          description: 'Input: query'
          type: string
        startTime:
          description: Start date
          type: string
        tweets:
          description: 'Output: Summarization tweets'
          items:
            $ref: '#/components/schemas/TweetSummarizeEntity'
          type: array
      required:
        - endTime
        - log
        - numofSummarize
        - numofTweets
        - processTime
        - query
        - startTime
        - tweets
      type: object
