swagger: '2.0'
info:
  version: '2017-01-26'
  x-release: v4
  title: AWS Resource Groups Tagging API
  description: '<fullname>Resource Groups Tagging API</fullname> <p>This guide describes the API operations for the resource groups tagging.</p> <p>A tag is a label that you assign to an AWS resource. A tag consists of a key and a value, both of which you define. For example, if you have two Amazon EC2 instances, you might assign both a tag key of "Stack." But the value of "Stack" might be "Testing" for one and "Production" for the other.</p> <p>Tagging can help you organize your resources and enables you to simplify resource management, access management and cost allocation. For more information about tagging, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/tag-editor.html">Working with Tag Editor</a> and <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/resource-groups.html">Working with Resource Groups</a>. For more information about permissions you need to use the resource groups tagging APIs, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-resource-groups.html">Obtaining Permissions for Resource Groups </a> and <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-tagging.html">Obtaining Permissions for Tagging </a>.</p> <p>You can use the resource groups tagging APIs to complete the following tasks:</p> <ul> <li> <p>Tag and untag supported resources located in the specified region for the AWS account</p> </li> <li> <p>Use tag-based filters to search for resources located in the specified region for the AWS account</p> </li> <li> <p>List all existing tag keys in the specified region for the AWS account</p> </li> <li> <p>List all existing values for the specified key in the specified region for the AWS account</p> </li> </ul> <p>Not all resources can have tags. For a list of resources that support tagging, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/supported-resources.html">Supported Resources</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p> <p>To make full use of the resource groups tagging APIs, you might need additional IAM permissions, including permission to access the resources of individual services as well as permission to view and apply tags to those resources. For more information, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-tagging.html">Obtaining Permissions for Tagging</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p>'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: tagging
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/resourcegroupstaggingapi-2017-01-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
    - format: swagger
      version: '2.0'
      url: 'https://raw.githubusercontent.com/mermade/openapi-definitions/master/aws/resourcegroupstaggingapi/2017-01-26/swagger.yaml'
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
x-logo:
  url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
  backgroundColor: '#FFFFFF'
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/tagging/'
host: tagging.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: GetResources
      description: 'Returns all the tagged resources that are associated with the specified tags (keys and values) located in the specified region for the AWS account. The tags and the resource types that you specify in the request are known as <i>filters</i>. The response includes all tags that are associated with the requested resources. If no filter is provided, this action returns a paginated resource list with the associated tags.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourcesOutput'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: PaginationTokenExpiredException
          schema:
            $ref: '#/definitions/PaginationTokenExpiredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourcesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetTagKeys':
    post:
      operationId: GetTagKeys
      description: Returns all tag keys in the specified region for the AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTagKeysOutput'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: PaginationTokenExpiredException
          schema:
            $ref: '#/definitions/PaginationTokenExpiredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTagKeysInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetTagValues':
    post:
      operationId: GetTagValues
      description: Returns all tag values for the specified key in the specified region for the AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTagValuesOutput'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: PaginationTokenExpiredException
          schema:
            $ref: '#/definitions/PaginationTokenExpiredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTagValuesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TagResources':
    post:
      operationId: TagResources
      description: '<p>Applies one or more tags to the specified resources. Note the following:</p> <ul> <li> <p>Not all resources can have tags. For a list of resources that support tagging, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/supported-resources.html">Supported Resources</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p> </li> <li> <p>Each resource can have up to 50 tags. For other limits, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-restrictions">Tag Restrictions</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> </li> <li> <p>You can only tag resources that are located in the specified region for the AWS account.</p> </li> <li> <p>To add tags to a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions for adding tags. For more information, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-tagging.html">Obtaining Permissions for Tagging</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourcesOutput'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourcesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UntagResources':
    post:
      operationId: UntagResources
      description: '<p>Removes the specified tags from the specified resources. When you specify a tag key, the action removes both that key and its associated value. The operation succeeds even if you attempt to remove tags from a resource that were already removed. Note the following:</p> <ul> <li> <p>To remove tags from a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions for removing tags. For more information, see <a href="http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-tagging.html">Obtaining Permissions for Tagging</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p> </li> <li> <p>You can only tag resources that are located in the specified region for the AWS account.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourcesOutput'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourcesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AmazonResourceType:
    type: string
    minLength: 0
    maxLength: 256
  ErrorCode:
    type: string
    enum:
      - InternalServiceException
      - InvalidParameterException
  ErrorMessage:
    type: string
  ExceptionMessage:
    type: string
    minLength: 0
    maxLength: 2048
  FailedResourcesMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/ResourceARN'
        value:
          $ref: '#/definitions/FailureInfo'
  FailureInfo:
    type: object
    properties:
      StatusCode:
        $ref: '#/definitions/StatusCode'
        description: The HTTP status code of the common error.
      ErrorCode:
        $ref: '#/definitions/ErrorCode'
        description: 'The code of the common error. Valid values include <code>InternalServiceException</code>, <code>InvalidParameterException</code>, and any valid error code returned by the AWS service that hosts the resource that you want to tag.'
      ErrorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: The message of the common error.
    description: Details of the common errors that all actions return.
  GetResourcesInput:
    type: object
    required:
      - TagsPerPage
    properties:
      PaginationToken:
        $ref: '#/definitions/PaginationToken'
        description: 'A string that indicates that additional data is available. Leave this value empty for your initial request. If the response includes a <code>PaginationToken</code>, use that string for this value to request an additional page of data.'
      TagFilters:
        $ref: '#/definitions/TagFilterList'
        description: '<p>A list of tags (keys and values). A request can include up to 50 keys, and each key can include up to 20 values.</p> <p>If you specify multiple filters connected by an AND operator in a single request, the response returns only those resources that are associated with every specified filter.</p> <p>If you specify multiple filters connected by an OR operator in a single request, the response returns all resources that are associated with at least one or possibly more of the specified filters.</p>'
      TagsPerPage:
        $ref: '#/definitions/TagsPerPage'
        description: '<p>A limit that restricts the number of tags (key and value pairs) returned by GetResources in paginated output. A resource with no tags is counted as having one tag (one key and value pair).</p> <p> <code>GetResources</code> does not split a resource and its associated tags across pages. If the specified <code>TagsPerPage</code> would cause such a break, a <code>PaginationToken</code> is returned in place of the affected resource and its tags. Use that token in another request to get the remaining data. For example, if you specify a <code>TagsPerPage</code> of <code>100</code> and the account has 22 resources with 10 tags each (meaning that each resource has 10 key and value pairs), the output will consist of 3 pages, with the first page displaying the first 10 resources, each with its 10 tags, the second page displaying the next 10 resources each with its 10 tags, and the third page displaying the remaining 2 resources, each with its 10 tags.</p> <p/> <p>You can set <code>TagsPerPage</code> to a minimum of 100 items and the maximum of 500 items.</p>'
      ResourceTypeFilters:
        $ref: '#/definitions/ResourceTypeFilterList'
        description: '<p>The constraints on the resources that you want returned. The format of each resource type is <code>service[:resourceType]</code>. For example, specifying a resource type of <code>ec2</code> returns all tagged Amazon EC2 resources (which includes tagged EC2 instances). Specifying a resource type of <code>ec2:instance</code> returns only EC2 instances. </p> <p>The string for each service name and resource type is the same as that embedded in a resource''s Amazon Resource Name (ARN). Consult the <i>AWS General Reference</i> for the following:</p> <ul> <li> <p>For a list of service name strings, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces">AWS Service Namespaces</a>.</p> </li> <li> <p>For resource type strings, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arns-syntax">Example ARNs</a>.</p> </li> <li> <p>For more information about ARNs, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> </li> </ul>'
  GetResourcesOutput:
    type: object
    properties:
      PaginationToken:
        $ref: '#/definitions/PaginationToken'
        description: 'A string that indicates that the response contains more data than can be returned in a single response. To receive additional data, specify this string for the <code>PaginationToken</code> value in a subsequent request.'
      ResourceTagMappingList:
        $ref: '#/definitions/ResourceTagMappingList'
        description: A list of resource ARNs and the tags (keys and values) associated with each.
  GetTagKeysInput:
    type: object
    properties:
      PaginationToken:
        $ref: '#/definitions/PaginationToken'
        description: 'A string that indicates that additional data is available. Leave this value empty for your initial request. If the response includes a PaginationToken, use that string for this value to request an additional page of data.'
  GetTagKeysOutput:
    type: object
    properties:
      PaginationToken:
        $ref: '#/definitions/PaginationToken'
        description: 'A string that indicates that the response contains more data than can be returned in a single response. To receive additional data, specify this string for the <code>PaginationToken</code> value in a subsequent request.'
      TagKeys:
        $ref: '#/definitions/TagKeyList'
        description: A list of all tag keys in the AWS account.
  GetTagValuesInput:
    type: object
    required:
      - Key
    properties:
      PaginationToken:
        $ref: '#/definitions/PaginationToken'
        description: 'A string that indicates that additional data is available. Leave this value empty for your initial request. If the response includes a PaginationToken, use that string for this value to request an additional page of data.'
      Key:
        $ref: '#/definitions/TagKey'
        description: The key for which you want to list all existing values in the specified region for the AWS account.
  GetTagValuesOutput:
    type: object
    properties:
      PaginationToken:
        $ref: '#/definitions/PaginationToken'
        description: 'A string that indicates that the response contains more data than can be returned in a single response. To receive additional data, specify this string for the <code>PaginationToken</code> value in a subsequent request.'
      TagValues:
        $ref: '#/definitions/TagValuesOutputList'
        description: A list of all tag values for the specified key in the AWS account.
  InternalServiceException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ExceptionMessage'
    description: 'The request processing failed because of an unknown error, exception, or failure. You can retry the request.'
  InvalidParameterException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ExceptionMessage'
    description: A parameter is missing or a malformed string or invalid or out-of-range value was supplied for the request parameter.
  PaginationToken:
    type: string
    minLength: 0
    maxLength: 2048
  PaginationTokenExpiredException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ExceptionMessage'
    description: A <code>PaginationToken</code> is valid for a maximum of 15 minutes. Your request was denied because the specified <code>PaginationToken</code> has expired.
  ResourceARN:
    type: string
    minLength: 1
    maxLength: 1600
  ResourceARNList:
    type: array
    items:
      $ref: '#/definitions/ResourceARN'
    minItems: 1
    maxItems: 20
  ResourceTagMapping:
    type: object
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: An array of resource ARN(s).
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags that have been applied to one or more AWS resources.
    description: A list of resource ARNs and the tags (keys and values) that are associated with each.
  ResourceTagMappingList:
    type: array
    items:
      $ref: '#/definitions/ResourceTagMapping'
  ResourceTypeFilterList:
    type: array
    items:
      $ref: '#/definitions/AmazonResourceType'
  StatusCode:
    type: integer
  Tag:
    type: object
    required:
      - Key
      - Value
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: One part of a key-value pair that make up a tag. A key is a general label that acts like a category for more specific tag values.
      Value:
        $ref: '#/definitions/TagValue'
        description: The optional part of a key-value pair that make up a tag. A value acts as a descriptor within a tag category (key).
    description: 'The metadata that you apply to AWS resources to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-basics">Tag Basics</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
  TagFilter:
    type: object
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: One part of a key-value pair that make up a tag. A key is a general label that acts like a category for more specific tag values.
      Values:
        $ref: '#/definitions/TagValueList'
        description: The optional part of a key-value pair that make up a tag. A value acts as a descriptor within a tag category (key).
    description: A list of tags (keys and values) that are used to specify the associated resources.
  TagFilterList:
    type: array
    items:
      $ref: '#/definitions/TagFilter'
    minItems: 0
    maxItems: 50
  TagKey:
    type: string
    minLength: 1
    maxLength: 128
  TagKeyList:
    type: array
    items:
      $ref: '#/definitions/TagKey'
  TagKeyListForUntag:
    type: array
    items:
      $ref: '#/definitions/TagKey'
    minItems: 1
    maxItems: 50
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
  TagMap:
    type: array
    minItems: 1
    maxItems: 50
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/TagKey'
        value:
          $ref: '#/definitions/TagValue'
  TagResourcesInput:
    type: object
    required:
      - ResourceARNList
      - Tags
    properties:
      ResourceARNList:
        $ref: '#/definitions/ResourceARNList'
        description: 'A list of ARNs. An ARN (Amazon Resource Name) uniquely identifies a resource. You can specify a minimum of 1 and a maximum of 20 ARNs (resources) to tag. An ARN can be set to a maximum of 1600 characters. For more information, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.'
      Tags:
        $ref: '#/definitions/TagMap'
        description: The tags that you want to add to the specified resources. A tag consists of a key and a value that you define.
  TagResourcesOutput:
    type: object
    properties:
      FailedResourcesMap:
        $ref: '#/definitions/FailedResourcesMap'
        description: 'Details of resources that could not be tagged. An error code, status code, and error message are returned for each failed item.'
  TagValue:
    type: string
    minLength: 0
    maxLength: 256
  TagValueList:
    type: array
    items:
      $ref: '#/definitions/TagValue'
    minItems: 0
    maxItems: 20
  TagValuesOutputList:
    type: array
    items:
      $ref: '#/definitions/TagValue'
  TagsPerPage:
    type: integer
    minimum: 100
    maximum: 500
  ThrottledException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ExceptionMessage'
    description: The request was denied to limit the frequency of submitted requests.
  UntagResourcesInput:
    type: object
    required:
      - ResourceARNList
      - TagKeys
    properties:
      ResourceARNList:
        $ref: '#/definitions/ResourceARNList'
        description: 'A list of ARNs. An ARN (Amazon Resource Name) uniquely identifies a resource. You can specify a minimum of 1 and a maximum of 20 ARNs (resources) to untag. An ARN can be set to a maximum of 1600 characters. For more information, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.'
      TagKeys:
        $ref: '#/definitions/TagKeyListForUntag'
        description: A list of the tag keys that you want to remove from the specified resources.
  UntagResourcesOutput:
    type: object
    properties:
      FailedResourcesMap:
        $ref: '#/definitions/FailedResourcesMap'
        description: 'Details of resources that could not be untagged. An error code, status code, and error message are returned for each failed item.'
