swagger: '2.0'
schemes:
  - https
host: testing.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Allows developers to run automated tests for their mobile applications on Google infrastructure.
  title: Cloud Testing
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.18
      format: google
      url: 'https://testing.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: testing
externalDocs:
  url: 'https://developers.google.com/cloud-test-lab/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: applicationDetailService
  - name: projects
  - name: testEnvironmentCatalog
paths:
  /v1/applicationDetailService/getApkDetails:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Gets the details of an Android application APK.
      operationId: testing.applicationDetailService.getApkDetails
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FileReference'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetApkDetailsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - applicationDetailService
  '/v1/projects/{projectId}/testMatrices':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates and runs a matrix of tests according to the given specifications.
        Unsupported environments will be returned in the state UNSUPPORTED.
        Matrices are limited to at most 200 supported executions.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project
        - INVALID_ARGUMENT - if the request is malformed or if the matrix expands
                             to more than 200 supported executions
      operationId: testing.projects.testMatrices.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestMatrix'
        - description: The GCE project under which this job will run.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            A string id used to detect duplicated requests.
            Ids are automatically scoped to a project, so
            users should ensure the ID is unique per-project.
            A UUID is recommended.

            Optional, but strongly recommended.
          in: query
          name: requestId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestMatrix'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/testMatrices/{testMatrixId}':
    get:
      description: |-
        Checks the status of a test matrix.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project
        - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the Test Matrix does not exist
      operationId: testing.projects.testMatrices.get
      parameters:
        - description: Cloud project that owns the test matrix.
          in: path
          name: projectId
          required: true
          type: string
        - description: Unique test matrix id which was assigned by the service.
          in: path
          name: testMatrixId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestMatrix'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Cancels unfinished test executions in a test matrix.
        This call returns immediately and cancellation proceeds asychronously.
        If the matrix is already final, this operation will have no effect.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project
        - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the Test Matrix does not exist
      operationId: testing.projects.testMatrices.cancel
      parameters:
        - description: Cloud project that owns the test.
          in: path
          name: projectId
          required: true
          type: string
        - description: Test matrix that will be canceled.
          in: path
          name: testMatrixId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CancelTestMatrixResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/testEnvironmentCatalog/{environmentType}':
    get:
      description: |-
        Gets the catalog of supported test environments.

        May return any of the following canonical error codes:

        - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the environment type does not exist
        - INTERNAL - if an internal error occurred
      operationId: testing.testEnvironmentCatalog.get
      parameters:
        - description: Required. The type of environment that should be listed.
          enum:
            - ENVIRONMENT_TYPE_UNSPECIFIED
            - ANDROID
            - IOS
            - NETWORK_CONFIGURATION
            - PROVIDED_SOFTWARE
          in: path
          name: environmentType
          required: true
          type: string
        - description: 'For authorization, the cloud project requesting the TestEnvironmentCatalog.'
          in: query
          name: projectId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestEnvironmentCatalog'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - testEnvironmentCatalog
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
definitions:
  Account:
    description: Identifies an account and how to log into it.
    properties:
      googleAuto:
        $ref: '#/definitions/GoogleAuto'
        description: An automatic google login account.
    type: object
  AndroidDevice:
    description: A single Android device.
    properties:
      androidModelId:
        description: |-
          Required. The id of the Android device to be used.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
      androidVersionId:
        description: |-
          Required. The id of the Android OS version to be used.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
      locale:
        description: |-
          Required. The locale the test device used for testing.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
      orientation:
        description: |-
          Required. How the device is oriented during the test.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
    type: object
  AndroidDeviceCatalog:
    description: The currently supported Android devices.
    properties:
      models:
        description: The set of supported Android device models.
        items:
          $ref: '#/definitions/AndroidModel'
        type: array
      runtimeConfiguration:
        $ref: '#/definitions/AndroidRuntimeConfiguration'
        description: The set of supported runtime configurations.
      versions:
        description: The set of supported Android OS versions.
        items:
          $ref: '#/definitions/AndroidVersion'
        type: array
    type: object
  AndroidDeviceList:
    description: A list of Android device configurations in which the test is to be executed.
    properties:
      androidDevices:
        description: Required. A list of Android devices.
        items:
          $ref: '#/definitions/AndroidDevice'
        type: array
    type: object
  AndroidInstrumentationTest:
    description: |-
      A test of an Android application that can control an Android component
      independently of its normal lifecycle.
      Android instrumentation tests run an application APK and test APK inside the
      same process on a virtual or physical AndroidDevice.  They also specify
      a test runner class, such as com.google.GoogleTestRunner, which can vary
      on the specific instrumentation framework chosen.

      See <http://developer.android.com/tools/testing/testing_android.html> for
      more information on types of Android tests.
    properties:
      appApk:
        $ref: '#/definitions/FileReference'
        description: The APK for the application under test.
      appBundle:
        $ref: '#/definitions/AppBundle'
        description: A multi-apk app bundle for the application under test.
      appPackageId:
        description: |-
          The java package for the application under test.
          The default value is determined by examining the application's manifest.
        type: string
      orchestratorOption:
        description: |-
          The option of whether running each test within its own invocation of
          instrumentation with Android Test Orchestrator or not.
          ** Orchestrator is only compatible with AndroidJUnitRunner version 1.0 or
          higher! **
          Orchestrator offers the following benefits:
           - No shared state
           - Crashes are isolated
           - Logs are scoped per test

          See
          <https://developer.android.com/training/testing/junit-runner.html#using-android-test-orchestrator>
          for more information about Android Test Orchestrator.

          If not set, the test will be run without the orchestrator.
        enum:
          - ORCHESTRATOR_OPTION_UNSPECIFIED
          - USE_ORCHESTRATOR
          - DO_NOT_USE_ORCHESTRATOR
        type: string
      testApk:
        $ref: '#/definitions/FileReference'
        description: Required. The APK containing the test code to be executed.
      testPackageId:
        description: |-
          The java package for the test to be executed.
          The default value is determined by examining the application's manifest.
        type: string
      testRunnerClass:
        description: |-
          The InstrumentationTestRunner class.
          The default value is determined by examining the application's manifest.
        type: string
      testTargets:
        description: |-
          Each target must be fully qualified with the package name or class name,
          in one of these formats:
           - "package package_name"
           - "class package_name.class_name"
           - "class package_name.class_name#method_name"

          If empty, all targets in the module will be run.
        items:
          type: string
        type: array
    type: object
  AndroidMatrix:
    description: |-
      A set of Android device configuration permutations is defined by the
      the cross-product of the given axes. Internally, the given AndroidMatrix
      will be expanded into a set of AndroidDevices.

      Only supported permutations will be instantiated.  Invalid permutations
      (e.g., incompatible models/versions) are ignored.
    properties:
      androidModelIds:
        description: |-
          Required. The ids of the set of Android device to be used.
          Use the EnvironmentDiscoveryService to get supported options.
        items:
          type: string
        type: array
      androidVersionIds:
        description: |-
          Required. The ids of the set of Android OS version to be used.
          Use the EnvironmentDiscoveryService to get supported options.
        items:
          type: string
        type: array
      locales:
        description: |-
          Required. The set of locales the test device will enable for testing.
          Use the EnvironmentDiscoveryService to get supported options.
        items:
          type: string
        type: array
      orientations:
        description: |-
          Required. The set of orientations to test with.
          Use the EnvironmentDiscoveryService to get supported options.
        items:
          type: string
        type: array
    type: object
  AndroidModel:
    description: A description of an Android device tests may be run on.
    properties:
      brand:
        description: |-
          The company that this device is branded with.
          Example: "Google", "Samsung".
        type: string
      codename:
        description: |-
          The name of the industrial design.
          This corresponds to android.os.Build.DEVICE.
        type: string
      form:
        description: Whether this device is virtual or physical.
        enum:
          - DEVICE_FORM_UNSPECIFIED
          - VIRTUAL
          - PHYSICAL
        type: string
      formFactor:
        description: 'Whether this device is a phone, tablet, wearable, etc.'
        enum:
          - DEVICE_FORM_FACTOR_UNSPECIFIED
          - PHONE
          - TABLET
          - WEARABLE
        type: string
      id:
        description: |-
          The unique opaque id for this model.
          Use this for invoking the TestExecutionService.
        type: string
      lowFpsVideoRecording:
        description: |-
          True if and only if tests with this model are recorded by stitching
          together screenshots. See use_low_spec_video_recording in device config.
        type: boolean
      manufacturer:
        description: The manufacturer of this device.
        type: string
      name:
        description: |-
          The human-readable marketing name for this device model.
          Examples: "Nexus 5", "Galaxy S5".
        type: string
      screenDensity:
        description: |-
          Screen density in DPI.
          This corresponds to ro.sf.lcd_density
        format: int32
        type: integer
      screenX:
        description: Screen size in the horizontal (X) dimension measured in pixels.
        format: int32
        type: integer
      screenY:
        description: Screen size in the vertical (Y) dimension measured in pixels.
        format: int32
        type: integer
      supportedAbis:
        description: |-
          The list of supported ABIs for this device.
          This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level
          21 and above) or android.os.Build.CPU_ABI/CPU_ABI2.
          The most preferred ABI is the first element in the list.

          Elements are optionally prefixed by "version_id:" (where version_id is
          the id of an AndroidVersion), denoting an ABI that is supported only on
          a particular version.
        items:
          type: string
        type: array
      supportedVersionIds:
        description: The set of Android versions this device supports.
        items:
          type: string
        type: array
      tags:
        description: |-
          Tags for this dimension.
          Examples: "default", "preview", "deprecated".
        items:
          type: string
        type: array
    type: object
  AndroidRoboTest:
    description: |-
      A test of an android application that explores the application on a virtual
      or physical Android Device, finding culprits and crashes as it goes.
    properties:
      appApk:
        $ref: '#/definitions/FileReference'
        description: The APK for the application under test.
      appBundle:
        $ref: '#/definitions/AppBundle'
        description: A multi-apk app bundle for the application under test.
      appInitialActivity:
        description: The initial activity that should be used to start the app.
        type: string
      appPackageId:
        description: |-
          The java package for the application under test.
          The default value is determined by examining the application's manifest.
        type: string
      maxDepth:
        description: |-
          The max depth of the traversal stack Robo can explore. Needs to be at least
          2 to make Robo explore the app beyond the first activity.
          Default is 50.
        format: int32
        type: integer
      maxSteps:
        description: |-
          The max number of steps Robo can execute.
          Default is no limit.
        format: int32
        type: integer
      roboDirectives:
        description: |-
          A set of directives Robo should apply during the crawl.
          This allows users to customize the crawl. For example, the username and
          password for a test account can be provided.
        items:
          $ref: '#/definitions/RoboDirective'
        type: array
      roboScript:
        $ref: '#/definitions/FileReference'
        description: |-
          A JSON file with a sequence of actions Robo should perform as a prologue
          for the crawl.
      startingIntents:
        description: |-
          The intents used to launch the app for the crawl.
          If none are provided, then the main launcher activity is launched.
          If some are provided, then only those provided are launched (the main
          launcher activity must be provided explicitly).
        items:
          $ref: '#/definitions/RoboStartingIntent'
        type: array
    type: object
  AndroidRuntimeConfiguration:
    description: Android configuration that can be selected at the time a test is run.
    properties:
      locales:
        description: The set of available locales.
        items:
          $ref: '#/definitions/Locale'
        type: array
      orientations:
        description: The set of available orientations.
        items:
          $ref: '#/definitions/Orientation'
        type: array
    type: object
  AndroidTestLoop:
    description: |-
      A test of an Android Application with a Test Loop.
      The intent \<intent-name\> will be implicitly added, since Games is the only
      user of this api, for the time being.
    properties:
      appApk:
        $ref: '#/definitions/FileReference'
        description: The APK for the application under test.
      appBundle:
        $ref: '#/definitions/AppBundle'
        description: A multi-apk app bundle for the application under test.
      appPackageId:
        description: |-
          The java package for the application under test.
          The default is determined by examining the application's manifest.
        type: string
      scenarioLabels:
        description: |-
          The list of scenario labels that should be run during the test.
          The scenario labels should map to labels defined in the application's
          manifest. For example, player_experience and
          com.google.test.loops.player_experience add all of the loops labeled in the
          manifest with the com.google.test.loops.player_experience name to the
          execution.
          Scenarios can also be specified in the scenarios field.
        items:
          type: string
        type: array
      scenarios:
        description: |-
          The list of scenarios that should be run during the test.
          The default is all test loops, derived from the application's
          manifest.
        items:
          format: int32
          type: integer
        type: array
    type: object
  AndroidVersion:
    description: A version of the Android OS.
    properties:
      apiLevel:
        description: |-
          The API level for this Android version.
          Examples: 18, 19.
        format: int32
        type: integer
      codeName:
        description: |-
          The code name for this Android version.
          Examples: "JellyBean", "KitKat".
        type: string
      distribution:
        $ref: '#/definitions/Distribution'
        description: Market share for this version.
      id:
        description: |-
          An opaque id for this Android version.
          Use this id to invoke the TestExecutionService.
        type: string
      releaseDate:
        $ref: '#/definitions/Date'
        description: The date this Android version became available in the market.
      tags:
        description: |-
          Tags for this dimension.
          Examples: "default", "preview", "deprecated".
        items:
          type: string
        type: array
      versionString:
        description: |-
          A string representing this version of the Android OS.
          Examples: "4.3", "4.4".
        type: string
    type: object
  Apk:
    description: An Android package file to install.
    properties:
      location:
        $ref: '#/definitions/FileReference'
        description: The path to an APK to be installed on the device before the test begins.
      packageName:
        description: |-
          The java package for the APK to be installed.
          Value is determined by examining the application's manifest.
        type: string
    type: object
  ApkDetail:
    description: |-
      Android application details based on application manifest and apk archive
      contents.
    properties:
      apkManifest:
        $ref: '#/definitions/ApkManifest'
    type: object
  ApkManifest:
    description: |-
      An Android app manifest. See
      http://developer.android.com/guide/topics/manifest/manifest-intro.html
    properties:
      applicationLabel:
        description: User-readable name for the application.
        type: string
      intentFilters:
        items:
          $ref: '#/definitions/IntentFilter'
        type: array
      maxSdkVersion:
        description: Maximum API level on which the application is designed to run.
        format: int32
        type: integer
      minSdkVersion:
        description: Minimum API level required for the application to run.
        format: int32
        type: integer
      packageName:
        description: |-
          Full Java-style package name for this application, e.g.
          "com.example.foo".
        type: string
    type: object
  AppBundle:
    description: |-
      An Android App Bundle file format, containing a BundleConfig.pb file,
      a base module directory, zero or more dynamic feature module directories.
      <p>See https://developer.android.com/guide/app-bundle/build for guidance on
      building App Bundles.
    properties:
      bundleLocation:
        $ref: '#/definitions/FileReference'
        description: .aab file representing the app bundle under test.
    type: object
  CancelTestMatrixResponse:
    description: Response containing the current state of the specified test matrix.
    properties:
      testState:
        description: |-
          The current rolled-up state of the test matrix.
          If this state is already final, then the cancelation request will
          have no effect.
        enum:
          - TEST_STATE_UNSPECIFIED
          - VALIDATING
          - PENDING
          - RUNNING
          - FINISHED
          - ERROR
          - UNSUPPORTED_ENVIRONMENT
          - INCOMPATIBLE_ENVIRONMENT
          - INCOMPATIBLE_ARCHITECTURE
          - CANCELLED
          - INVALID
        type: string
    type: object
  ClientInfo:
    description: Information about the client which invoked the test.
    properties:
      clientInfoDetails:
        description: The list of detailed information about client.
        items:
          $ref: '#/definitions/ClientInfoDetail'
        type: array
      name:
        description: 'Required. Client name, such as gcloud.'
        type: string
    type: object
  ClientInfoDetail:
    description: |-
      Key-value pair of detailed information about the client which invoked the
      test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.
    properties:
      key:
        description: Required. The key of detailed client information.
        type: string
      value:
        description: Required. The value of detailed client information.
        type: string
    type: object
  Date:
    description: |-
      Represents a whole or partial calendar date, e.g. a birthday. The time of day
      and time zone are either specified elsewhere or are not significant. The date
      is relative to the Proleptic Gregorian Calendar. This can represent:

      * A full date, with non-zero year, month and day values
      * A month and day value, with a zero year, e.g. an anniversary
      * A year on its own, with zero month and day values
      * A year and month value, with a zero day, e.g. a credit card expiration date

      Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.
    properties:
      day:
        description: |-
          Day of month. Must be from 1 to 31 and valid for the year and month, or 0
          if specifying a year by itself or a year and month where the day is not
          significant.
        format: int32
        type: integer
      month:
        description: |-
          Month of year. Must be from 1 to 12, or 0 if specifying a year without a
          month and day.
        format: int32
        type: integer
      year:
        description: |-
          Year of date. Must be from 1 to 9999, or 0 if specifying a date without
          a year.
        format: int32
        type: integer
    type: object
  DeviceFile:
    description: A single device file description.
    properties:
      obbFile:
        $ref: '#/definitions/ObbFile'
        description: A reference to an opaque binary blob file
      regularFile:
        $ref: '#/definitions/RegularFile'
        description: A reference to a regular file
    type: object
  Distribution:
    description: |-
      Data about the relative number of devices running a
      given configuration of the Android platform.
    properties:
      marketShare:
        description: |-
          Output only. The estimated fraction (0-1) of the total market with this
          configuration.
        format: double
        type: number
      measurementTime:
        description: Output only. The time this distribution was measured.
        format: google-datetime
        type: string
    type: object
  Environment:
    description: The environment in which the test is run.
    properties:
      androidDevice:
        $ref: '#/definitions/AndroidDevice'
        description: An Android device which must be used with an Android test.
      iosDevice:
        $ref: '#/definitions/IosDevice'
        description: An iOS device which must be used with an iOS test.
    type: object
  EnvironmentMatrix:
    description: The matrix of environments in which the test is to be executed.
    properties:
      androidDeviceList:
        $ref: '#/definitions/AndroidDeviceList'
        description: |-
          A list of Android devices; the test will be run only on the specified
          devices.
      androidMatrix:
        $ref: '#/definitions/AndroidMatrix'
        description: A matrix of Android devices.
      iosDeviceList:
        $ref: '#/definitions/IosDeviceList'
        description: A list of iOS devices.
    type: object
  EnvironmentVariable:
    description: A key-value pair passed as an environment variable to the test.
    properties:
      key:
        description: Key for the environment variable.
        type: string
      value:
        description: Value for the environment variable.
        type: string
    type: object
  FileReference:
    description: 'A reference to a file, used for user inputs.'
    properties:
      gcsPath:
        description: |-
          A path to a file in Google Cloud Storage.
          Example: gs://build-app-1414623860166/app-debug-unaligned.apk
        type: string
    type: object
  GetApkDetailsResponse:
    description: Response containing the details of the specified Android application APK.
    properties:
      apkDetail:
        $ref: '#/definitions/ApkDetail'
        description: Details of the Android APK.
    type: object
  GoogleAuto:
    description: |-
      Enables automatic Google account login.
      If set, the service will automatically generate a Google test account and add
      it to the device, before executing the test. Note that test accounts might be
      reused.
      Many applications show their full set of functionalities when an account is
      present on the device. Logging into the device with these generated accounts
      allows testing more functionalities.
    properties: {}
    type: object
  GoogleCloudStorage:
    description: A storage location within Google cloud storage (GCS).
    properties:
      gcsPath:
        description: |-
          Required. The path to a directory in GCS that will
          eventually contain the results for this test.
          The requesting user must have write access on the bucket in the supplied
          path.
        type: string
    type: object
  IntentFilter:
    description: |-
      The <intent-filter> section of an <activity> tag.
      https://developer.android.com/guide/topics/manifest/intent-filter-element.html
    properties:
      actionNames:
        description: 'The android:name value of the <action> tag.'
        items:
          type: string
        type: array
      categoryNames:
        description: 'The android:name value of the <category> tag.'
        items:
          type: string
        type: array
      mimeType:
        description: 'The android:mimeType value of the <data> tag.'
        type: string
    type: object
  IosDevice:
    description: A single iOS device.
    properties:
      iosModelId:
        description: |-
          Required. The id of the iOS device to be used.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
      iosVersionId:
        description: |-
          Required. The id of the iOS major software version to be used.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
      locale:
        description: |-
          Required. The locale the test device used for testing.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
      orientation:
        description: |-
          Required. How the device is oriented during the test.
          Use the EnvironmentDiscoveryService to get supported options.
        type: string
    type: object
  IosDeviceCatalog:
    description: The currently supported iOS devices.
    properties:
      models:
        description: The set of supported iOS device models.
        items:
          $ref: '#/definitions/IosModel'
        type: array
      runtimeConfiguration:
        $ref: '#/definitions/IosRuntimeConfiguration'
        description: The set of supported runtime configurations.
      versions:
        description: The set of supported iOS software versions.
        items:
          $ref: '#/definitions/IosVersion'
        type: array
      xcodeVersions:
        description: The set of supported Xcode versions.
        items:
          $ref: '#/definitions/XcodeVersion'
        type: array
    type: object
  IosDeviceList:
    description: A list of iOS device configurations in which the test is to be executed.
    properties:
      iosDevices:
        description: Required. A list of iOS devices.
        items:
          $ref: '#/definitions/IosDevice'
        type: array
    type: object
  IosModel:
    description: A description of an iOS device tests may be run on.
    properties:
      deviceCapabilities:
        description: |-
          Device capabilities.
          Copied from
          https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html
        items:
          type: string
        type: array
      formFactor:
        description: 'Whether this device is a phone, tablet, wearable, etc.'
        enum:
          - DEVICE_FORM_FACTOR_UNSPECIFIED
          - PHONE
          - TABLET
          - WEARABLE
        type: string
      id:
        description: |-
          The unique opaque id for this model.
          Use this for invoking the TestExecutionService.
        type: string
      name:
        description: |-
          The human-readable name for this device model.
          Examples: "iPhone 4s", "iPad Mini 2".
        type: string
      supportedVersionIds:
        description: The set of iOS major software versions this device supports.
        items:
          type: string
        type: array
      tags:
        description: |-
          Tags for this dimension.
          Examples: "default", "preview", "deprecated".
        items:
          type: string
        type: array
    type: object
  IosRuntimeConfiguration:
    description: iOS configuration that can be selected at the time a test is run.
    properties:
      locales:
        description: The set of available locales.
        items:
          $ref: '#/definitions/Locale'
        type: array
      orientations:
        description: The set of available orientations.
        items:
          $ref: '#/definitions/Orientation'
        type: array
    type: object
  IosTestSetup:
    description: A description of how to set up an iOS device prior to a test.
    properties:
      networkProfile:
        description: |-
          The network traffic profile used for running the test.
          Available network profiles can be queried by using the
          NETWORK_CONFIGURATION environment type when calling
          TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.
        type: string
    type: object
  IosVersion:
    description: An iOS version.
    properties:
      id:
        description: |-
          An opaque id for this iOS version.
          Use this id to invoke the TestExecutionService.
        type: string
      majorVersion:
        description: |-
          An integer representing the major iOS version.
          Examples: "8", "9".
        format: int32
        type: integer
      minorVersion:
        description: |-
          An integer representing the minor iOS version.
          Examples: "1", "2".
        format: int32
        type: integer
      supportedXcodeVersionIds:
        description: The available Xcode versions for this version.
        items:
          type: string
        type: array
      tags:
        description: |-
          Tags for this dimension.
          Examples: "default", "preview", "deprecated".
        items:
          type: string
        type: array
    type: object
  IosXcTest:
    description: |-
      A test of an iOS application that uses the XCTest framework.
      Xcode supports the option to "build for testing", which generates an
      .xctestrun file that contains a test specification (arguments, test methods,
      etc). This test type accepts a zip file containing the .xctestrun file and
      the corresponding contents of the Build/Products directory that contains all
      the binaries needed to run the tests.
    properties:
      appBundleId:
        description: Output only. The bundle id for the application under test.
        type: string
      testsZip:
        $ref: '#/definitions/FileReference'
        description: |-
          Required. The .zip containing the .xctestrun file and the contents of the
          DerivedData/Build/Products directory.
          The .xctestrun file in this zip is ignored if the xctestrun field is
          specified.
      xcodeVersion:
        description: |-
          The Xcode version that should be used for the test.
          Use the EnvironmentDiscoveryService to get supported options.
          Defaults to the latest Xcode version Firebase Test Lab supports.
        type: string
      xctestrun:
        $ref: '#/definitions/FileReference'
        description: |-
          An .xctestrun file that will override the .xctestrun file in the
          tests zip. Because the .xctestrun file contains environment variables along
          with test methods to run and/or ignore, this can be useful for sharding
          tests. Default is taken from the tests zip.
    type: object
  LauncherActivityIntent:
    description: Specifies an intent that starts the main launcher activity.
    properties: {}
    type: object
  Locale:
    description: A location/region designation for language.
    properties:
      id:
        description: |-
          The id for this locale.
          Example: "en_US".
        type: string
      name:
        description: |-
          A human-friendly name for this language/locale.
          Example: "English".
        type: string
      region:
        description: |-
          A human-friendly string representing the region for this
          locale. Example: "United States". Not present for every locale.
        type: string
      tags:
        description: |-
          Tags for this dimension.
          Example: "default".
        items:
          type: string
        type: array
    type: object
  NetworkConfiguration:
    properties:
      downRule:
        $ref: '#/definitions/TrafficRule'
        description: The emulation rule applying to the download traffic.
      id:
        description: The unique opaque id for this network traffic configuration.
        type: string
      upRule:
        $ref: '#/definitions/TrafficRule'
        description: The emulation rule applying to the upload traffic.
    type: object
  NetworkConfigurationCatalog:
    properties:
      configurations:
        items:
          $ref: '#/definitions/NetworkConfiguration'
        type: array
    type: object
  ObbFile:
    description: An opaque binary blob file to install on the device before the test starts.
    properties:
      obb:
        $ref: '#/definitions/FileReference'
        description: Required. Opaque Binary Blob (OBB) file(s) to install on the device.
      obbFileName:
        description: |-
          Required. OBB file name which must conform to the format as specified by
          Android
          e.g. [main|patch].0300110.com.example.android.obb
          which will be installed into
            \<shared-storage\>/Android/obb/\<package-name\>/
          on the device.
        type: string
    type: object
  Orientation:
    description: Screen orientation of the device.
    properties:
      id:
        description: |-
          The id for this orientation.
          Example: "portrait".
        type: string
      name:
        description: |-
          A human-friendly name for this orientation.
          Example: "portrait".
        type: string
      tags:
        description: |-
          Tags for this dimension.
          Example: "default".
        items:
          type: string
        type: array
    type: object
  ProvidedSoftwareCatalog:
    description: The currently provided software environment on the devices under test.
    properties:
      orchestratorVersion:
        description: |-
          A string representing the current version of Android Test
          Orchestrator that is provided by TestExecutionService.
          Example: "1.0.2 beta".
        type: string
    type: object
  RegularFile:
    description: A file or directory to install on the device before the test starts.
    properties:
      content:
        $ref: '#/definitions/FileReference'
        description: Required. The source file.
      devicePath:
        description: |-
          Required. Where to put the content on the device. Must be an absolute,
          whitelisted path. If the file exists, it will be replaced.
          The following device-side directories and any of their subdirectories are
          whitelisted:
          <p>${EXTERNAL_STORAGE}, or /sdcard</p>
          <p>${ANDROID_DATA}/local/tmp, or /data/local/tmp</p>
          <p>Specifying a path outside of these directory trees is invalid.

          <p> The paths /sdcard and /data will be made available and treated as
          implicit path substitutions. E.g. if /sdcard on a particular device does
          not map to external storage, the system will replace it with the external
          storage path prefix for that device and copy the file there.

          <p> It is strongly advised to use the <a href=
          "http://developer.android.com/reference/android/os/Environment.html">
          Environment API</a> in app and test code to access files on the device in a
          portable way.
        type: string
    type: object
  ResultStorage:
    description: Locations where the results of running the test are stored.
    properties:
      googleCloudStorage:
        $ref: '#/definitions/GoogleCloudStorage'
        description: Required.
      toolResultsExecution:
        $ref: '#/definitions/ToolResultsExecution'
        description: Output only. The tool results execution that results are written to.
      toolResultsHistory:
        $ref: '#/definitions/ToolResultsHistory'
        description: |-
          The tool results history that contains the tool results execution that
          results are written to.

          If not provided, the service will choose an appropriate value.
    type: object
  RoboDirective:
    description: |-
      Directs Robo to interact with a specific UI element if it is encountered
      during the crawl. Currently, Robo can perform text entry or element click.
    properties:
      actionType:
        description: |-
          Required. The type of action that Robo should perform on the specified
          element.
        enum:
          - ACTION_TYPE_UNSPECIFIED
          - SINGLE_CLICK
          - ENTER_TEXT
        type: string
      inputText:
        description: |-
          The text that Robo is directed to set. If left empty, the directive will be
          treated as a CLICK on the element matching the resource_name.
        type: string
      resourceName:
        description: |-
          Required. The android resource name of the target UI element.
          For example,
             in Java: R.string.foo
             in xml: @string/foo
          Only the "foo" part is needed.
          Reference doc:
          https://developer.android.com/guide/topics/resources/accessing-resources.html
        type: string
    type: object
  RoboStartingIntent:
    description: Message for specifying the start activities to crawl.
    properties:
      launcherActivity:
        $ref: '#/definitions/LauncherActivityIntent'
      startActivity:
        $ref: '#/definitions/StartActivityIntent'
      timeout:
        description: Timeout in seconds for each intent.
        format: google-duration
        type: string
    type: object
  StartActivityIntent:
    description: 'A starting intent specified by an action, uri, and categories.'
    properties:
      action:
        description: |-
          Action name.
          Required for START_ACTIVITY.
        type: string
      categories:
        description: Intent categories to set on the intent.
        items:
          type: string
        type: array
      uri:
        description: URI for the action.
        type: string
    type: object
  TestDetails:
    description: Additional details about the progress of the running test.
    properties:
      errorMessage:
        description: |-
          Output only. If the TestState is ERROR, then this string will contain
          human-readable details about the error.
        type: string
      progressMessages:
        description: |-
          Output only. Human-readable, detailed descriptions of the test's progress.
          For example: "Provisioning a device", "Starting Test".

          During the course of execution new data may be appended
          to the end of progress_messages.
        items:
          type: string
        type: array
    type: object
  TestEnvironmentCatalog:
    description: A description of a test environment.
    properties:
      androidDeviceCatalog:
        $ref: '#/definitions/AndroidDeviceCatalog'
        description: Supported Android devices.
      iosDeviceCatalog:
        $ref: '#/definitions/IosDeviceCatalog'
        description: Supported iOS devices.
      networkConfigurationCatalog:
        $ref: '#/definitions/NetworkConfigurationCatalog'
        description: Supported network configurations.
      softwareCatalog:
        $ref: '#/definitions/ProvidedSoftwareCatalog'
        description: The software test environment provided by TestExecutionService.
    type: object
  TestExecution:
    description: Specifies a single test to be executed in a single environment.
    properties:
      environment:
        $ref: '#/definitions/Environment'
        description: Output only. How the host machine(s) are configured.
      id:
        description: Output only. Unique id set by the backend.
        type: string
      matrixId:
        description: Output only. Id of the containing TestMatrix.
        type: string
      projectId:
        description: Output only. The cloud project that owns the test execution.
        type: string
      state:
        description: |-
          Output only. Indicates the current progress of the test execution
          (e.g., FINISHED).
        enum:
          - TEST_STATE_UNSPECIFIED
          - VALIDATING
          - PENDING
          - RUNNING
          - FINISHED
          - ERROR
          - UNSUPPORTED_ENVIRONMENT
          - INCOMPATIBLE_ENVIRONMENT
          - INCOMPATIBLE_ARCHITECTURE
          - CANCELLED
          - INVALID
        type: string
      testDetails:
        $ref: '#/definitions/TestDetails'
        description: Output only. Additional details about the running test.
      testSpecification:
        $ref: '#/definitions/TestSpecification'
        description: Output only. How to run the test.
      timestamp:
        description: Output only. The time this test execution was initially created.
        format: google-datetime
        type: string
      toolResultsStep:
        $ref: '#/definitions/ToolResultsStep'
        description: Output only. Where the results for this execution are written.
    type: object
  TestMatrix:
    description: |-
      A group of one or more TestExecutions, built by taking a
      product of values over a pre-defined set of axes.
    properties:
      clientInfo:
        $ref: '#/definitions/ClientInfo'
        description: Information about the client which invoked the test.
      environmentMatrix:
        $ref: '#/definitions/EnvironmentMatrix'
        description: Required. How the host machine(s) are configured.
      flakyTestAttempts:
        description: |-
          The number of times a TestExecution should be re-attempted if one or more
          of its test cases fail for any reason.
          The maximum number of reruns allowed is 10.

          Default is 0, which implies no reruns.
        format: int32
        type: integer
      invalidMatrixDetails:
        description: |-
          Output only. Describes why the matrix is considered invalid.
          Only useful for matrices in the INVALID state.
        enum:
          - INVALID_MATRIX_DETAILS_UNSPECIFIED
          - DETAILS_UNAVAILABLE
          - MALFORMED_APK
          - MALFORMED_TEST_APK
          - NO_MANIFEST
          - NO_PACKAGE_NAME
          - INVALID_PACKAGE_NAME
          - TEST_SAME_AS_APP
          - NO_INSTRUMENTATION
          - NO_SIGNATURE
          - INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE
          - NO_TEST_RUNNER_CLASS
          - NO_LAUNCHER_ACTIVITY
          - FORBIDDEN_PERMISSIONS
          - INVALID_ROBO_DIRECTIVES
          - TEST_LOOP_INTENT_FILTER_NOT_FOUND
          - SCENARIO_LABEL_NOT_DECLARED
          - SCENARIO_LABEL_MALFORMED
          - SCENARIO_NOT_DECLARED
          - DEVICE_ADMIN_RECEIVER
          - MALFORMED_XC_TEST_ZIP
          - BUILT_FOR_IOS_SIMULATOR
          - NO_TESTS_IN_XC_TEST_ZIP
          - USE_DESTINATION_ARTIFACTS
          - TEST_NOT_APP_HOSTED
          - PLIST_CANNOT_BE_PARSED
          - TEST_ONLY_APK
          - MALFORMED_IPA
          - NO_CODE_APK
          - INVALID_INPUT_APK
          - INVALID_APK_PREVIEW_SDK
        type: string
      projectId:
        description: The cloud project that owns the test matrix.
        type: string
      resultStorage:
        $ref: '#/definitions/ResultStorage'
        description: Required. Where the results for the matrix are written.
      state:
        description: |-
          Output only. Indicates the current progress of the test matrix
          (e.g., FINISHED).
        enum:
          - TEST_STATE_UNSPECIFIED
          - VALIDATING
          - PENDING
          - RUNNING
          - FINISHED
          - ERROR
          - UNSUPPORTED_ENVIRONMENT
          - INCOMPATIBLE_ENVIRONMENT
          - INCOMPATIBLE_ARCHITECTURE
          - CANCELLED
          - INVALID
        type: string
      testExecutions:
        description: |-
          Output only. The list of test executions that the service creates for
          this matrix.
        items:
          $ref: '#/definitions/TestExecution'
        type: array
      testMatrixId:
        description: Output only. Unique id set by the service.
        type: string
      testSpecification:
        $ref: '#/definitions/TestSpecification'
        description: Required. How to run the test.
      timestamp:
        description: Output only. The time this test matrix was initially created.
        format: google-datetime
        type: string
    type: object
  TestSetup:
    description: A description of how to set up the Android device prior to running the test.
    properties:
      account:
        $ref: '#/definitions/Account'
        description: The device will be logged in on this account for the duration of the test.
      additionalApks:
        description: |-
          APKs to install in addition to those being directly tested.
          Currently capped at 100.
        items:
          $ref: '#/definitions/Apk'
        type: array
      directoriesToPull:
        description: |-
          List of directories on the device to upload to GCS at the end of the test;
          they must be absolute paths under /sdcard or /data/local/tmp.
          Path names are restricted to characters a-z A-Z 0-9 _ - . + and /

          Note: The paths /sdcard and /data will be made available and treated as
          implicit path substitutions. E.g. if /sdcard on a particular device does
          not map to external storage, the system will replace it with the external
          storage path prefix for that device.
        items:
          type: string
        type: array
      environmentVariables:
        description: |-
          Environment variables to set for the test (only applicable for
          instrumentation tests).
        items:
          $ref: '#/definitions/EnvironmentVariable'
        type: array
      filesToPush:
        description: List of files to push to the device before starting the test.
        items:
          $ref: '#/definitions/DeviceFile'
        type: array
      networkProfile:
        description: |-
          The network traffic profile used for running the test.
          Available network profiles can be queried by using the
          NETWORK_CONFIGURATION environment type when calling
          TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.
        type: string
    type: object
  TestSpecification:
    description: A description of how to run the test.
    properties:
      androidInstrumentationTest:
        $ref: '#/definitions/AndroidInstrumentationTest'
        description: An Android instrumentation test.
      androidRoboTest:
        $ref: '#/definitions/AndroidRoboTest'
        description: An Android robo test.
      androidTestLoop:
        $ref: '#/definitions/AndroidTestLoop'
        description: An Android Application with a Test Loop.
      autoGoogleLogin:
        description: |-
          Enables automatic Google account login.
          If set, the service will automatically generate a Google test account and
          add it to the device, before executing the test. Note that test accounts
          might be reused.
          Many applications show their full set of functionalities when an account is
          present on the device. Logging into the device with these generated
          accounts allows testing more functionalities.
          Default is false.
        type: boolean
      disablePerformanceMetrics:
        description: Disables performance metrics recording; may reduce test latency.
        type: boolean
      disableVideoRecording:
        description: Disables video recording; may reduce test latency.
        type: boolean
      iosTestSetup:
        $ref: '#/definitions/IosTestSetup'
        description: Test setup requirements for iOS.
      iosXcTest:
        $ref: '#/definitions/IosXcTest'
        description: 'An iOS XCTest, via an .xctestrun file.'
      testSetup:
        $ref: '#/definitions/TestSetup'
        description: |-
          Test setup requirements for Android e.g. files to install, bootstrap
          scripts.
      testTimeout:
        description: |-
          Max time a test execution is allowed to run before it is
          automatically cancelled.
          The default value is 5 min.
        format: google-duration
        type: string
    type: object
  ToolResultsExecution:
    description: |-
      Represents a tool results execution resource.

      This has the results of a TestMatrix.
    properties:
      executionId:
        description: Output only. A tool results execution ID.
        type: string
      historyId:
        description: Output only. A tool results history ID.
        type: string
      projectId:
        description: Output only. The cloud project that owns the tool results execution.
        type: string
    type: object
  ToolResultsHistory:
    description: Represents a tool results history resource.
    properties:
      historyId:
        description: Required. A tool results history ID.
        type: string
      projectId:
        description: Required. The cloud project that owns the tool results history.
        type: string
    type: object
  ToolResultsStep:
    description: |-
      Represents a tool results step resource.

      This has the results of a TestExecution.
    properties:
      executionId:
        description: Output only. A tool results execution ID.
        type: string
      historyId:
        description: Output only. A tool results history ID.
        type: string
      projectId:
        description: Output only. The cloud project that owns the tool results step.
        type: string
      stepId:
        description: Output only. A tool results step ID.
        type: string
    type: object
  TrafficRule:
    description: Network emulation parameters.
    properties:
      bandwidth:
        description: Bandwidth in kbits/second.
        format: float
        type: number
      burst:
        description: Burst size in kbits.
        format: float
        type: number
      delay:
        description: 'Packet delay, must be >= 0.'
        format: google-duration
        type: string
      packetDuplicationRatio:
        description: Packet duplication ratio (0.0 - 1.0).
        format: float
        type: number
      packetLossRatio:
        description: Packet loss ratio (0.0 - 1.0).
        format: float
        type: number
    type: object
  XcodeVersion:
    description: An Xcode version that an iOS version is compatible with.
    properties:
      tags:
        description: |-
          Tags for this Xcode version.
          Example: "default".
        items:
          type: string
        type: array
      version:
        description: |-
          The id for this version.
          Example: "9.2".
        type: string
    type: object
