openapi: 3.0.0
servers:
  - url: https://analyticsdata.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Accesses report data in Google Analytics.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Analytics Data API
  version: v1alpha
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://analyticsdata.googleapis.com/$discovery/rest?version=v1alpha
      version: v1
  x-providerName: googleapis.com
  x-serviceName: analyticsdata
externalDocs:
  url: https://developers.google.com/analytics/trusted-testing/analytics-data/
tags:
  - name: properties
  - name: v1alpha
paths:
  /v1alpha/universalMetadata:
    get:
      description: Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. Dimensions and metrics will be mostly added over time, but renames and deletions may occur. This method returns Universal Metadata. Universal Metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.
      operationId: analyticsdata.getUniversalMetadata
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UniversalMetadata"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - v1alpha
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{name}":
    get:
      description: Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. In this method, a Google Analytics GA4 Property Identifier is specified in the request, and the metadata response includes Custom dimensions and metrics as well as Universal metadata. For example if a custom metric with parameter name `levels_unlocked` is registered to a property, the Metadata response will contain `customEvent:levels_unlocked`. Universal metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.
      operationId: analyticsdata.properties.getMetadata
      parameters:
        - description: "Required. The resource name of the metadata to retrieve. This name field is specified in the URL path and not URL parameters. Property is a numeric Google Analytics GA4 Property identifier. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/trusted-testing/analytics-data/property-id). Example: properties/1234/metadata"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1alpha:batchRunPivotReports:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns multiple pivot reports in a batch. All reports must be for the same Entity.
      operationId: analyticsdata.batchRunPivotReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRunPivotReportsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRunPivotReportsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - v1alpha
  /v1alpha:batchRunReports:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns multiple reports in a batch. All reports must be for the same Entity.
      operationId: analyticsdata.batchRunReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRunReportsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRunReportsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - v1alpha
  /v1alpha:runPivotReport:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns a customized pivot report of your Google Analytics event data. Pivot reports are more advanced and expressive formats than regular reports. In a pivot report, dimensions are only visible if they are included in a pivot. Multiple pivots can be specified to further dissect your data.
      operationId: analyticsdata.runPivotReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunPivotReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunPivotReportResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - v1alpha
  /v1alpha:runReport:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name.
      operationId: analyticsdata.runReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunReportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunReportResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - v1alpha
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    BatchRunPivotReportsRequest:
      description: The batch request containing multiple pivot report requests.
      properties:
        entity:
          $ref: "#/components/schemas/Entity"
          description: A property whose events are tracked. This entity must be specified for the batch. The entity within RunPivotReportRequest may either be unspecified or consistent with this entity.
        requests:
          description: Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests.
          items:
            $ref: "#/components/schemas/RunPivotReportRequest"
          type: array
      type: object
    BatchRunPivotReportsResponse:
      description: The batch response containing multiple pivot reports.
      properties:
        pivotReports:
          description: Individual responses. Each response has a separate pivot report request.
          items:
            $ref: "#/components/schemas/RunPivotReportResponse"
          type: array
      type: object
    BatchRunReportsRequest:
      description: The batch request containing multiple report requests.
      properties:
        entity:
          $ref: "#/components/schemas/Entity"
          description: A property whose events are tracked. This entity must be specified for the batch. The entity within RunReportRequest may either be unspecified or consistent with this entity.
        requests:
          description: Individual requests. Each request has a separate report response. Each batch request is allowed up to 5 requests.
          items:
            $ref: "#/components/schemas/RunReportRequest"
          type: array
      type: object
    BatchRunReportsResponse:
      description: The batch response containing multiple reports.
      properties:
        reports:
          description: Individual responses. Each response has a separate report request.
          items:
            $ref: "#/components/schemas/RunReportResponse"
          type: array
      type: object
    BetweenFilter:
      description: To express that the result needs to be between two numbers (inclusive).
      properties:
        fromValue:
          $ref: "#/components/schemas/NumericValue"
          description: Begins with this number.
        toValue:
          $ref: "#/components/schemas/NumericValue"
          description: Ends with this number.
      type: object
    CaseExpression:
      description: Used to convert a dimension value to a single case.
      properties:
        dimensionName:
          description: Name of a dimension. The name must refer back to a name in dimensions field of the request.
          type: string
      type: object
    Cohort:
      description: Defines a cohort. A cohort is a group of users who share a common characteristic. For example, all users with the same acquisition date belong to the same cohort.
      properties:
        dateRange:
          $ref: "#/components/schemas/DateRange"
          description: The cohort selects users whose first visit date is between start date and end date defined in the `dateRange`. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. The date range should be aligned with the cohort's granularity. If CohortsRange uses daily granularity, the date range can be aligned to any day. If CohortsRange uses weekly granularity, the date range should be aligned to the week boundary, starting at Sunday and ending Saturday. If CohortsRange uses monthly granularity, the date range should be aligned to the month, starting at the first and ending on the last day of the month.
        dimension:
          description: The dimension used by cohort. Only supports `firstTouchDate` for retention report.
          type: string
        name:
          description: Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc.
          type: string
      type: object
    CohortReportSettings:
      description: Settings of a cohort report.
      properties:
        accumulate:
          description: If true, accumulates the result from first visit day to the end day. Not supported in `RunReportRequest`.
          type: boolean
      type: object
    CohortSpec:
      description: Specification for a cohort report.
      properties:
        cohortReportSettings:
          $ref: "#/components/schemas/CohortReportSettings"
          description: Settings of a cohort report.
        cohorts:
          description: The definition for the cohorts.
          items:
            $ref: "#/components/schemas/Cohort"
          type: array
        cohortsRange:
          $ref: "#/components/schemas/CohortsRange"
          description: The data ranges of cohorts.
      type: object
    CohortsRange:
      description: Describes date range for a cohort report.
      properties:
        endOffset:
          description: For daily cohorts, this will be the end day offset. For weekly cohorts, this will be the week offset.
          format: int32
          type: integer
        granularity:
          description: Reporting date range for each cohort is calculated based on these three fields.
          enum:
            - GRANULARITY_UNSPECIFIED
            - DAILY
            - WEEKLY
            - MONTHLY
          type: string
        startOffset:
          description: For daily cohorts, this will be the start day offset. For weekly cohorts, this will be the week offset.
          format: int32
          type: integer
      type: object
    ConcatenateExpression:
      description: Used to combine dimension values to a single dimension.
      properties:
        delimiter:
          description: The delimiter placed between dimension names. Delimiters are often single characters such as "|" or "," but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = "US,FR", dimension 2 value = "JP", and delimiter = ",", then the response will contain "US,FR,JP".
          type: string
        dimensionNames:
          description: Names of dimensions. The names must refer back to names in the dimensions field of the request.
          items:
            type: string
          type: array
      type: object
    DateRange:
      description: "A contiguous set of days: startDate, startDate + 1, ..., endDate. Requests are allowed up to 4 date ranges, and the union of the ranges can cover up to 1 year."
      properties:
        endDate:
          description: The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `start_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone.
          type: string
        name:
          description: "Assigns a name to this date range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, date ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc."
          type: string
        startDate:
          description: The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `end_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone.
          type: string
      type: object
    Dimension:
      description: Dimensions are attributes of your data. For example, the dimension city indicates the city from which an event originates. Dimension values in report responses are strings; for example, city could be "Paris" or "New York". Requests are allowed up to 8 dimensions.
      properties:
        dimensionExpression:
          $ref: "#/components/schemas/DimensionExpression"
          description: 'One dimension can be the result of an expression of multiple dimensions. For example, dimension "country, city": concatenate(country, ", ", city).'
        name:
          description: The name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/trusted-testing/analytics-data/api-schema#dimensions) for the list of dimension names. If `dimensionExpression` is specified, `name` can be any string that you would like. For example if a `dimensionExpression` concatenates `country` and `city`, you could call that dimension `countryAndCity`. Dimensions are referenced by `name` in `dimensionFilter`, `orderBys`, `dimensionExpression`, and `pivots`.
          type: string
      type: object
    DimensionExpression:
      description: "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2)."
      properties:
        concatenate:
          $ref: "#/components/schemas/ConcatenateExpression"
          description: 'Used to combine dimension values to a single dimension. For example, dimension "country, city": concatenate(country, ", ", city).'
        lowerCase:
          $ref: "#/components/schemas/CaseExpression"
          description: Used to convert a dimension value to lower case.
        upperCase:
          $ref: "#/components/schemas/CaseExpression"
          description: Used to convert a dimension value to upper case.
      type: object
    DimensionHeader:
      description: Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.
      properties:
        name:
          description: The dimension's name.
          type: string
      type: object
    DimensionMetadata:
      description: Explains a dimension.
      properties:
        apiName:
          description: This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`.
          type: string
        deprecatedApiNames:
          description: Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`.
          items:
            type: string
          type: array
        description:
          description: Description of how this dimension is used and calculated.
          type: string
        uiName:
          description: This dimension's name within the Google Analytics user interface. For example, `Event name`.
          type: string
      type: object
    DimensionOrderBy:
      description: Sorts by dimension values.
      properties:
        dimensionName:
          description: A dimension name in the request to order by.
          type: string
        orderType:
          description: Controls the rule for dimension value ordering.
          enum:
            - ORDER_TYPE_UNSPECIFIED
            - ALPHANUMERIC
            - CASE_INSENSITIVE_ALPHANUMERIC
            - NUMERIC
          type: string
      type: object
    DimensionValue:
      description: The value of a dimension.
      properties:
        value:
          description: Value as a string if the dimension type is a string.
          type: string
      type: object
    Entity:
      description: The unique identifier of the property whose events are tracked.
      properties:
        propertyId:
          description: A Google Analytics GA4 property id. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/trusted-testing/analytics-data/property-id).
          type: string
      type: object
    Filter:
      description: An expression to filter dimension or metric values.
      properties:
        betweenFilter:
          $ref: "#/components/schemas/BetweenFilter"
          description: A filter for two values.
        fieldName:
          description: The dimension name or metric name. Must be a name defined in dimensions or metrics.
          type: string
        inListFilter:
          $ref: "#/components/schemas/InListFilter"
          description: A filter for in list values.
        nullFilter:
          description: A filter for null values.
          type: boolean
        numericFilter:
          $ref: "#/components/schemas/NumericFilter"
          description: A filter for numeric or date values.
        stringFilter:
          $ref: "#/components/schemas/StringFilter"
          description: Strings related filter.
      type: object
    FilterExpression:
      description: To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.
      properties:
        andGroup:
          $ref: "#/components/schemas/FilterExpressionList"
          description: The FilterExpressions in and_group have an AND relationship.
        filter:
          $ref: "#/components/schemas/Filter"
          description: A primitive filter. All fields in filter in same FilterExpression needs to be either all dimensions or metrics.
        notExpression:
          $ref: "#/components/schemas/FilterExpression"
          description: The FilterExpression is NOT of not_expression.
        orGroup:
          $ref: "#/components/schemas/FilterExpressionList"
          description: The FilterExpressions in or_group have an OR relationship.
      type: object
    FilterExpressionList:
      description: A list of filter expressions.
      properties:
        expressions:
          description: A list of filter expressions.
          items:
            $ref: "#/components/schemas/FilterExpression"
          type: array
      type: object
    InListFilter:
      description: The result needs to be in a list of string values.
      properties:
        caseSensitive:
          description: If true, the string value is case sensitive.
          type: boolean
        values:
          description: The list of string values. Must be non-empty.
          items:
            type: string
          type: array
      type: object
    Metadata:
      description: The dimensions and metrics currently accepted in reporting methods.
      properties:
        dimensions:
          description: The dimension descriptions.
          items:
            $ref: "#/components/schemas/DimensionMetadata"
          type: array
        metrics:
          description: The metric descriptions.
          items:
            $ref: "#/components/schemas/MetricMetadata"
          type: array
        name:
          description: Resource name of this metadata.
          type: string
      type: object
    Metric:
      description: The quantitative measurements of a report. For example, the metric `eventCount` is the total number of events. Requests are allowed up to 10 metrics.
      properties:
        expression:
          description: A mathematical expression for derived metrics. For example, the metric Event count per user is `eventCount/totalUsers`.
          type: string
        invisible:
          description: Indicates if a metric is invisible in the report response. If a metric is invisible, the metric will not produce a column in the response, but can be used in `metricFilter`, `orderBys`, or a metric `expression`.
          type: boolean
        name:
          description: The name of the metric. See the [API Metrics](https://developers.google.com/analytics/trusted-testing/analytics-data/api-schema#metrics) for the list of metric names. If `expression` is specified, `name` can be any string that you would like. For example if `expression` is `screenPageViews/sessions`, you could call that metric's name = `viewsPerSession`. Metrics are referenced by `name` in `metricFilter`, `orderBys`, and metric `expression`.
          type: string
      type: object
    MetricHeader:
      description: Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.
      properties:
        name:
          description: The metric's name.
          type: string
        type:
          description: The metric's data type.
          enum:
            - METRIC_TYPE_UNSPECIFIED
            - TYPE_INTEGER
            - TYPE_FLOAT
            - TYPE_SECONDS
            - TYPE_MILLISECONDS
            - TYPE_MINUTES
            - TYPE_HOURS
            - TYPE_STANDARD
            - TYPE_CURRENCY
            - TYPE_FEET
            - TYPE_MILES
            - TYPE_METERS
            - TYPE_KILOMETERS
          type: string
      type: object
    MetricMetadata:
      description: Explains a metric.
      properties:
        apiName:
          description: A metric name. Useable in [Metric](#Metric)'s `name`. For example, `eventCount`.
          type: string
        deprecatedApiNames:
          description: Still usable but deprecated names for this metric. If populated, this metric is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the metric will be available only by `apiName`.
          items:
            type: string
          type: array
        description:
          description: Description of how this metric is used and calculated.
          type: string
        expression:
          description: The mathematical expression for this derived metric. Can be used in [Metric](#Metric)'s `expression` field for equivalent reports. Most metrics are not expressions, and for non-expressions, this field is empty.
          type: string
        type:
          description: The type of this metric.
          enum:
            - METRIC_TYPE_UNSPECIFIED
            - TYPE_INTEGER
            - TYPE_FLOAT
            - TYPE_SECONDS
            - TYPE_MILLISECONDS
            - TYPE_MINUTES
            - TYPE_HOURS
            - TYPE_STANDARD
            - TYPE_CURRENCY
            - TYPE_FEET
            - TYPE_MILES
            - TYPE_METERS
            - TYPE_KILOMETERS
          type: string
        uiName:
          description: This metric's name within the Google Analytics user interface. For example, `Event count`.
          type: string
      type: object
    MetricOrderBy:
      description: Sorts by metric values.
      properties:
        metricName:
          description: A metric name in the request to order by.
          type: string
      type: object
    MetricValue:
      description: The value of a metric.
      properties:
        value:
          description: Measurement value. See MetricHeader for type.
          type: string
      type: object
    NumericFilter:
      description: Filters for numeric or date values.
      properties:
        operation:
          description: The operation type for this filter.
          enum:
            - OPERATION_UNSPECIFIED
            - EQUAL
            - LESS_THAN
            - LESS_THAN_OR_EQUAL
            - GREATER_THAN
            - GREATER_THAN_OR_EQUAL
          type: string
        value:
          $ref: "#/components/schemas/NumericValue"
          description: A numeric value or a date value.
      type: object
    NumericValue:
      description: To represent a number.
      properties:
        doubleValue:
          description: Double value
          format: double
          type: number
        int64Value:
          description: Integer value
          format: int64
          type: string
      type: object
    OrderBy:
      description: The sort options.
      properties:
        desc:
          description: If true, sorts by descending order.
          type: boolean
        dimension:
          $ref: "#/components/schemas/DimensionOrderBy"
          description: Sorts results by a dimension's values.
        metric:
          $ref: "#/components/schemas/MetricOrderBy"
          description: Sorts results by a metric's values.
        pivot:
          $ref: "#/components/schemas/PivotOrderBy"
          description: Sorts results by a metric's values within a pivot column group.
      type: object
    Pivot:
      description: Describes the visible dimension columns and rows in the report response.
      properties:
        fieldNames:
          description: Dimension names for visible columns in the report response. Including "dateRange" produces a date range column; for each row in the response, dimension values in the date range column will indicate the corresponding date range from the request.
          items:
            type: string
          type: array
        limit:
          description: The number of rows to return in this pivot. If unspecified, 10 rows are returned. If -1, all rows are returned.
          format: int64
          type: string
        metricAggregations:
          description: Aggregate the metrics by dimensions in this pivot using the specified metric_aggregations.
          items:
            enum:
              - METRIC_AGGREGATION_UNSPECIFIED
              - TOTAL
              - MINIMUM
              - MAXIMUM
              - COUNT
            type: string
          type: array
        offset:
          description: The row count of the start row. The first row is counted as row 0.
          format: int64
          type: string
        orderBys:
          description: Specifies how dimensions are ordered in the pivot. In the first Pivot, the OrderBys determine Row and PivotDimensionHeader ordering; in subsequent Pivots, the OrderBys determine only PivotDimensionHeader ordering. Dimensions specified in these OrderBys must be a subset of Pivot.field_names.
          items:
            $ref: "#/components/schemas/OrderBy"
          type: array
      type: object
    PivotDimensionHeader:
      description: Summarizes dimension values from a row for this pivot.
      properties:
        dimensionValues:
          description: Values of multiple dimensions in a pivot.
          items:
            $ref: "#/components/schemas/DimensionValue"
          type: array
      type: object
    PivotHeader:
      description: Dimensions' values in a single pivot.
      properties:
        pivotDimensionHeaders:
          description: The size is the same as the cardinality of the corresponding dimension combinations.
          items:
            $ref: "#/components/schemas/PivotDimensionHeader"
          type: array
        rowCount:
          description: The cardinality of the pivot as if offset = 0 and limit = -1. The total number of rows for this pivot's fields regardless of how the parameters offset and limit are specified in the request.
          format: int32
          type: integer
      type: object
    PivotOrderBy:
      description: Sorts by a pivot column group.
      properties:
        metricName:
          description: In the response to order by, order rows by this column. Must be a metric name from the request.
          type: string
        pivotSelections:
          description: Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair.
          items:
            $ref: "#/components/schemas/PivotSelection"
          type: array
      type: object
    PivotSelection:
      description: A pair of dimension names and values. Rows with this dimension pivot pair are ordered by the metric's value. For example if pivots = {{"browser", "Chrome"}} and metric_name = "Sessions", then the rows will be sorted based on Sessions in Chrome. ---------|----------|----------------|----------|---------------- | Chrome | Chrome | Safari | Safari ---------|----------|----------------|----------|---------------- Country | Sessions | Pages/Sessions | Sessions | Pages/Sessions ---------|----------|----------------|----------|---------------- US | 2 | 2 | 3 | 1 ---------|----------|----------------|----------|---------------- Canada | 3 | 1 | 4 | 1 ---------|----------|----------------|----------|----------------
      properties:
        dimensionName:
          description: Must be a dimension name from the request.
          type: string
        dimensionValue:
          description: Order by only when the named dimension is this value.
          type: string
      type: object
    PropertyQuota:
      description: Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.
      properties:
        concurrentRequests:
          $ref: "#/components/schemas/QuotaStatus"
          description: Analytics Properties can send up to 10 concurrent requests.
        serverErrorsPerProjectPerHour:
          $ref: "#/components/schemas/QuotaStatus"
          description: Analytics Properties and cloud project pairs can have up to 10 server errors per hour.
        tokensPerDay:
          $ref: "#/components/schemas/QuotaStatus"
          description: Analytics Properties can use up to 25,000 tokens per day. Most requests consume fewer than 10 tokens.
        tokensPerHour:
          $ref: "#/components/schemas/QuotaStatus"
          description: Analytics Properties can use up to 5,000 tokens per day. An API request consumes a single number of tokens, and that number is deducted from both the hourly and daily quotas.
      type: object
    QuotaStatus:
      description: Current state for a particular quota group.
      properties:
        consumed:
          description: Quota consumed by this request.
          format: int32
          type: integer
        remaining:
          description: Quota remaining after this request.
          format: int32
          type: integer
      type: object
    ResponseMetaData:
      description: Response's metadata carrying additional information about the report content.
      properties:
        dataLossFromOtherRow:
          description: If true, indicates some buckets of dimension combinations are rolled into "(other)" row. This can happen for high cardinality reports.
          type: boolean
      type: object
    Row:
      description: "Report data for each row. For example if RunReportRequest contains: ```none dimensions { name: \"eventName\" } dimensions { name: \"countryId\" } metrics { name: \"eventCount\" } ``` One row with 'in_app_purchase' as the eventName, 'us' as the countryId, and 15 as the eventCount, would be: ```none dimension_values { name: 'in_app_purchase' name: 'us' } metric_values { int64_value: 15 } ```"
      properties:
        dimensionValues:
          description: List of requested dimension values. In a PivotReport, dimension_values are only listed for dimensions included in a pivot.
          items:
            $ref: "#/components/schemas/DimensionValue"
          type: array
        metricValues:
          description: List of requested visible metric values.
          items:
            $ref: "#/components/schemas/MetricValue"
          type: array
      type: object
    RunPivotReportRequest:
      description: The request to generate a pivot report.
      properties:
        cohortSpec:
          $ref: "#/components/schemas/CohortSpec"
          description: Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.
        currencyCode:
          description: A currency code in ISO4217 format, such as "AED", "USD", "JPY". If the field is empty, the report uses the entity's default currency.
          type: string
        dateRanges:
          description: The date range to retrieve event data for the report. If multiple date ranges are specified, event data from each date range is used in the report. A special dimension with field name "dateRange" can be included in a Pivot's field names; if included, the report compares between date ranges. In a cohort request, this `dateRanges` must be unspecified.
          items:
            $ref: "#/components/schemas/DateRange"
          type: array
        dimensionFilter:
          $ref: "#/components/schemas/FilterExpression"
          description: The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter.
        dimensions:
          description: "The dimensions requested. All defined dimensions must be used by one of the following: dimension_expression, dimension_filter, pivots, order_bys."
          items:
            $ref: "#/components/schemas/Dimension"
          type: array
        entity:
          $ref: "#/components/schemas/Entity"
          description: A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity.
        keepEmptyRows:
          description: If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.
          type: boolean
        metricFilter:
          $ref: "#/components/schemas/FilterExpression"
          description: The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.
        metrics:
          description: "The metrics requested, at least one metric needs to be specified. All defined metrics must be used by one of the following: metric_expression, metric_filter, order_bys."
          items:
            $ref: "#/components/schemas/Metric"
          type: array
        pivots:
          description: Describes the visual format of the report's dimensions in columns or rows. The union of the fieldNames (dimension names) in all pivots must be a subset of dimension names defined in Dimensions. No two pivots can share a dimension. A dimension is only visible if it appears in a pivot.
          items:
            $ref: "#/components/schemas/Pivot"
          type: array
        returnPropertyQuota:
          description: Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).
          type: boolean
      type: object
    RunPivotReportResponse:
      description: The response pivot report table corresponding to a pivot request.
      properties:
        aggregates:
          description: Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to "RESERVED_".
          items:
            $ref: "#/components/schemas/Row"
          type: array
        dimensionHeaders:
          description: Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.
          items:
            $ref: "#/components/schemas/DimensionHeader"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetaData"
          description: Metadata for the report.
        metricHeaders:
          description: Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.
          items:
            $ref: "#/components/schemas/MetricHeader"
          type: array
        pivotHeaders:
          description: 'Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: "pivots": [{ "fieldNames": ["country", "city"] }, { "fieldNames": "eventName" }] We will have the following `pivotHeaders` in the response: "pivotHeaders" : [{ "dimensionHeaders": [{ "dimensionValues": [ { "value": "United Kingdom" }, { "value": "London" } ] }, { "dimensionValues": [ { "value": "Japan" }, { "value": "Osaka" } ] }] }, { "dimensionHeaders": [{ "dimensionValues": [{ "value": "session_start" }] }, { "dimensionValues": [{ "value": "scroll" }] }] }]'
          items:
            $ref: "#/components/schemas/PivotHeader"
          type: array
        propertyQuota:
          $ref: "#/components/schemas/PropertyQuota"
          description: This Analytics Property's quota state including this request.
        rows:
          description: Rows of dimension value combinations and metric values in the report.
          items:
            $ref: "#/components/schemas/Row"
          type: array
      type: object
    RunReportRequest:
      description: The request to generate a report.
      properties:
        cohortSpec:
          $ref: "#/components/schemas/CohortSpec"
          description: Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.
        currencyCode:
          description: A currency code in ISO4217 format, such as "AED", "USD", "JPY". If the field is empty, the report uses the entity's default currency.
          type: string
        dateRanges:
          description: Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified.
          items:
            $ref: "#/components/schemas/DateRange"
          type: array
        dimensionFilter:
          $ref: "#/components/schemas/FilterExpression"
          description: The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter.
        dimensions:
          description: The dimensions requested and displayed.
          items:
            $ref: "#/components/schemas/Dimension"
          type: array
        entity:
          $ref: "#/components/schemas/Entity"
          description: A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity.
        keepEmptyRows:
          description: If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.
          type: boolean
        limit:
          description: The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned.
          format: int64
          type: string
        metricAggregations:
          description: Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to "RESERVED_(MetricAggregation)".
          items:
            enum:
              - METRIC_AGGREGATION_UNSPECIFIED
              - TOTAL
              - MINIMUM
              - MAXIMUM
              - COUNT
            type: string
          type: array
        metricFilter:
          $ref: "#/components/schemas/FilterExpression"
          description: The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.
        metrics:
          description: The metrics requested and displayed.
          items:
            $ref: "#/components/schemas/Metric"
          type: array
        offset:
          description: The row count of the start row. The first row is counted as row 0.
          format: int64
          type: string
        orderBys:
          description: Specifies how rows are ordered in the response.
          items:
            $ref: "#/components/schemas/OrderBy"
          type: array
        returnPropertyQuota:
          description: Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).
          type: boolean
      type: object
    RunReportResponse:
      description: The response report table corresponding to a request.
      properties:
        dimensionHeaders:
          description: Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.
          items:
            $ref: "#/components/schemas/DimensionHeader"
          type: array
        maximums:
          description: If requested, the maximum values of metrics.
          items:
            $ref: "#/components/schemas/Row"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetaData"
          description: Metadata for the report.
        metricHeaders:
          description: Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.
          items:
            $ref: "#/components/schemas/MetricHeader"
          type: array
        minimums:
          description: If requested, the minimum values of metrics.
          items:
            $ref: "#/components/schemas/Row"
          type: array
        propertyQuota:
          $ref: "#/components/schemas/PropertyQuota"
          description: This Analytics Property's quota state including this request.
        rowCount:
          description: The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows.
          format: int32
          type: integer
        rows:
          description: Rows of dimension value combinations and metric values in the report.
          items:
            $ref: "#/components/schemas/Row"
          type: array
        totals:
          description: If requested, the totaled values of metrics.
          items:
            $ref: "#/components/schemas/Row"
          type: array
      type: object
    StringFilter:
      description: The filter for string
      properties:
        caseSensitive:
          description: If true, the string value is case sensitive.
          type: boolean
        matchType:
          description: The match type for this filter.
          enum:
            - MATCH_TYPE_UNSPECIFIED
            - EXACT
            - BEGINS_WITH
            - ENDS_WITH
            - CONTAINS
            - FULL_REGEXP
            - PARTIAL_REGEXP
          type: string
        value:
          description: The string value used for the matching.
          type: string
      type: object
    UniversalMetadata:
      description: The dimensions and metrics currently accepted in reporting methods.
      properties:
        dimensions:
          description: The dimensions descriptions.
          items:
            $ref: "#/components/schemas/DimensionMetadata"
          type: array
        metrics:
          description: The metric descriptions.
          items:
            $ref: "#/components/schemas/MetricMetadata"
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics: View and manage your Google Analytics data
            https://www.googleapis.com/auth/analytics.readonly: View your Google Analytics data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics: View and manage your Google Analytics data
            https://www.googleapis.com/auth/analytics.readonly: View your Google Analytics data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
