openapi: 3.0.0
servers:
  - url: https://paymentsresellersubscription.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Payments Reseller Subscription API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://paymentsresellersubscription.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: paymentsresellersubscription
externalDocs:
  url: https://developers.google.com/payments/reseller/subscription/
tags:
  - name: partners
paths:
  "/v1/{name}":
    get:
      description: Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.get
      parameters:
        - description: Required. The name of the subscription resource to retrieve. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.cancel
      parameters:
        - description: Required. The name of the subscription resource to be cancelled. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{name}:entitle":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.entitle
      parameters:
        - description: Required. The name of the subscription resource that is entitled to the current end user. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{name}:extend":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "[Deprecated] New partners should be on auto-extend by default. Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts."
      operationId: paymentsresellersubscription.partners.subscriptions.extend
      parameters:
        - description: Required. The name of the subscription resource to be extended. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}".
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{name}:undoCancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.undoCancel
      parameters:
        - description: Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{parent}/products":
    get:
      description: To retrieve the products that can be resold by the partner. It should be autenticated with a service account.
      operationId: paymentsresellersubscription.partners.products.list
      parameters:
        - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/promotions":
    get:
      description: To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account.
      operationId: paymentsresellersubscription.partners.promotions.list
      parameters:
        - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/promotions:findEligible":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: To find eligible promotions for the current user. The API requires user authorization via OAuth. The user is inferred from the authenticated OAuth credential.
      operationId: paymentsresellersubscription.partners.promotions.findEligible
      parameters:
        - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{parent}/subscriptions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.create
      parameters:
        - description: Required. The parent resource name, which is the identifier of the partner. It will have the format of "partners/{partner_id}".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.
          in: query
          name: subscriptionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: Successful response
      tags:
        - partners
  "/v1/{parent}/subscriptions:provision":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.provision
      parameters:
        - description: Required. The parent resource name, which is the identifier of the partner. It will have the format of "partners/{partner_id}".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.
          in: query
          name: subscriptionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: Successful response
      tags:
        - partners
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudPaymentsResellerSubscriptionV1Amount:
      description: Describes the amount unit including the currency code.
      properties:
        amountMicros:
          description: Required. Amount in micros (1_000_000 micros = 1 currency unit)
          format: int64
          type: string
        currencyCode:
          description: Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest:
      properties:
        cancelImmediately:
          description: Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancelation at renewal_time, and will not issue a refund.
          type: boolean
        cancellationReason:
          description: Specifies the reason for the cancellation.
          enum:
            - CANCELLATION_REASON_UNSPECIFIED
            - CANCELLATION_REASON_FRAUD
            - CANCELLATION_REASON_REMORSE
            - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
            - CANCELLATION_REASON_PAST_DUE
            - CANCELLATION_REASON_ACCOUNT_CLOSED
            - CANCELLATION_REASON_UPGRADE_DOWNGRADE
            - CANCELLATION_REASON_USER_DELINQUENCY
            - CANCELLATION_REASON_SYSTEM_ERROR
            - CANCELLATION_REASON_OTHER
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse:
      properties:
        subscription:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: The cancelled subscription resource.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Duration:
      description: Describes the length of a period of a time.
      properties:
        count:
          description: number of duration units to be included.
          format: int32
          type: integer
        unit:
          description: The unit used for the duration
          enum:
            - UNIT_UNSPECIFIED
            - MONTH
            - DAY
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest:
      description: Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.
      properties: {}
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse:
      properties:
        subscription:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: The subscription that has user linked to it.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest:
      description: Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.
      properties:
        extension:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Extension"
          description: Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.
        requestId:
          description: Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse:
      properties:
        cycleEndTime:
          description: The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, "cycleEndTime":"2019-08-31T17:28:54.564Z"
          format: google-datetime
          type: string
        freeTrialEndTime:
          description: End of the free trial period, in ISO 8061 format. UTC timezone. Example, "freeTrialEndTime":"2019-08-31T17:28:54.564Z" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.
          format: google-datetime
          type: string
        renewalTime:
          description: 'Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: "2019-08-31T17:28:54.564Z"'
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Extension:
      description: Describes the details of an extension request.
      properties:
        duration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Specifies the period of access the subscription should grant.
        partnerUserToken:
          description: Required. Identifier of the end-user in partner’s system.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest:
      properties:
        filter:
          description: "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`"
          type: string
        pageSize:
          description: Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          format: int32
          type: integer
        pageToken:
          description: Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse:
      description: Response containing the found promotions for the current user.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.
          type: string
        promotions:
          description: The promotions for the current user.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload:
      description: Payload specific to Google One products.
      properties:
        campaigns:
          description: Campaign attributed to sales of this subscription.
          items:
            type: string
          type: array
        offering:
          description: The type of offering the subscription was sold by the partner. e.g. VAS.
          enum:
            - OFFERING_UNSPECIFIED
            - OFFERING_VAS_BUNDLE
            - OFFERING_VAS_STANDALONE
            - OFFERING_HARD_BUNDLE
            - OFFERING_SOFT_BUNDLE
          type: string
        salesChannel:
          description: The type of sales channel through which the subscription was sold.
          enum:
            - CHANNEL_UNSPECIFIED
            - CHANNEL_RETAIL
            - CHANNEL_ONLINE_WEB
            - CHANNEL_ONLINE_ANDROID_APP
            - CHANNEL_ONLINE_IOS_APP
          type: string
        storeId:
          description: The identifier for the partner store where the subscription was sold.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse:
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.
          type: string
        products:
          description: The products for the specified partner.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Product"
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse:
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.
          type: string
        promotions:
          description: The promotions for the specified partner.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Location:
      description: Describes a location of an end user.
      properties:
        postalCode:
          description: The postal code this location refers to. Ex. "94043"
          type: string
        regionCode:
          description: "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Product:
      description: A Product resource that defines a subscription service that can be resold.
      properties:
        name:
          description: Output only. Response only. Resource name of the product. It will have the format of "partners/{partner_id}/products/{product_id}"
          readOnly: true
          type: string
        priceConfigs:
          description: Output only. Price configs for the product in the available regions.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig"
          readOnly: true
          type: array
        regionCodes:
          description: 'Output only. 2-letter ISO region code where the product is available in. Ex. "US" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1'
          items:
            type: string
          readOnly: true
          type: array
        subscriptionBillingCycleDuration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Output only. Specifies the length of the billing cycle of the subscription.
          readOnly: true
        titles:
          description: Output only. Localized human readable name of the product.
          items:
            $ref: "#/components/schemas/GoogleTypeLocalizedText"
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ProductPayload:
      description: Specifies product specific payload.
      properties:
        googleOnePayload:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload"
          description: Payload specific to Google One products.
        youtubePayload:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload"
          description: Payload specific to Youtube products.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig:
      description: Configs the prices in an available region.
      properties:
        amount:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount"
          description: Output only. The price in the region.
          readOnly: true
        regionCode:
          description: Output only. 2-letter ISO region code where the product is available in. Ex. "US".
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Promotion:
      description: A Promotion resource that defines a promotion for a subscription that can be resold.
      properties:
        applicableProducts:
          description: Output only. The product ids this promotion can be applied to.
          items:
            type: string
          readOnly: true
          type: array
        endTime:
          description: Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.
          format: google-datetime
          type: string
        freeTrialDuration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL
        introductoryPricingDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
          description: Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.
        name:
          description: Output only. Response only. Resource name of the subscription promotion. It will have the format of "partners/{partner_id}/promotion/{promotion_id}"
          readOnly: true
          type: string
        promotionType:
          description: Output only. Output Only. Specifies the type of the promotion.
          enum:
            - PROMOTION_TYPE_UNSPECIFIED
            - PROMOTION_TYPE_FREE_TRIAL
            - PROMOTION_TYPE_INTRODUCTORY_PRICING
          readOnly: true
          type: string
        regionCodes:
          description: 'Output only. 2-letter ISO region code where the promotion is available in. Ex. "US" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1'
          items:
            type: string
          readOnly: true
          type: array
        startTime:
          description: Optional. Specifies the start time (inclusive) of the period that the promotion is available in.
          format: google-datetime
          type: string
        titles:
          description: Output only. Localized human readable name of the promotion.
          items:
            $ref: "#/components/schemas/GoogleTypeLocalizedText"
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails:
      description: The details of a introductory pricing promotion.
      properties:
        introductoryPricingSpecs:
          description: Specifies the introductory pricing periods.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec:
      description: The duration of an introductory pricing promotion.
      properties:
        discountAmount:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount"
          description: Output only. The discount amount. The value is positive.
          readOnly: true
        discountRatioMicros:
          description: Output only. The discount percentage in micros. For example, 50,000 represents 5%.
          format: int64
          readOnly: true
          type: string
        recurrenceCount:
          description: Output only. Output Only. The duration of an introductory offer in billing cycles.
          format: int32
          readOnly: true
          type: integer
        regionCode:
          description: Output only. 2-letter ISO region code where the product is available in. Ex. "US".
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod:
      description: A description of what time period or moment in time the product or service is being delivered over.
      properties:
        endTime:
          description: Optional. The end time of the service period. Time is exclusive.
          format: google-datetime
          type: string
        startTime:
          description: Required. The start time of the service period. Time is inclusive.
          format: google-datetime
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Subscription:
      description: A Subscription resource managed by 3P Partners.
      properties:
        cancellationDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails"
          description: Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.
          readOnly: true
        createTime:
          description: Output only. System generated timestamp when the subscription is created. UTC timezone.
          format: google-datetime
          readOnly: true
          type: string
        cycleEndTime:
          description: 'Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: "2019-08-31T17:28:54.564Z"'
          format: google-datetime
          readOnly: true
          type: string
        endUserEntitled:
          description: Output only. Indicates if the subscription is entitled to the end user.
          readOnly: true
          type: boolean
        freeTrialEndTime:
          description: Output only. End of the free trial period, in ISO 8061 format. For example, "2019-08-31T17:28:54.564Z". It will be set the same as createTime if no free trial promotion is specified.
          format: google-datetime
          readOnly: true
          type: string
        lineItems:
          description: Required. The line items of the subscription.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          type: array
        name:
          description: Optional. Resource name of the subscription. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}". This is available for authorizeAddon, but otherwise is response only.
          type: string
        partnerUserToken:
          description: Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.
          type: string
        processingState:
          description: Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).
          enum:
            - PROCESSING_STATE_UNSPECIFIED
            - PROCESSING_STATE_CANCELLING
            - PROCESSING_STATE_RECURRING
          readOnly: true
          type: string
        products:
          description: "Required. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'."
          items:
            type: string
          type: array
        promotionSpecs:
          description: Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          type: array
        promotions:
          description: "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'."
          items:
            type: string
          type: array
        redirectUri:
          description: Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.
          readOnly: true
          type: string
        renewalTime:
          description: 'Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: "2019-08-31T17:28:54.564Z"'
          format: google-datetime
          readOnly: true
          type: string
        serviceLocation:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Location"
          description: Required. The location that the service is provided as indicated by the partner.
        state:
          description: Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).
          enum:
            - STATE_UNSPECIFIED
            - STATE_CREATED
            - STATE_ACTIVE
            - STATE_CANCELLED
            - STATE_IN_GRACE_PERIOD
            - STATE_CANCEL_AT_END_OF_CYCLE
            - STATE_SUSPENDED
          readOnly: true
          type: string
        updateTime:
          description: Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.
          format: google-datetime
          readOnly: true
          type: string
        upgradeDowngradeDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails"
          description: Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails:
      description: Describes the details of a cancelled or cancelling subscription.
      properties:
        reason:
          description: The reason of the cancellation.
          enum:
            - CANCELLATION_REASON_UNSPECIFIED
            - CANCELLATION_REASON_FRAUD
            - CANCELLATION_REASON_REMORSE
            - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
            - CANCELLATION_REASON_PAST_DUE
            - CANCELLATION_REASON_ACCOUNT_CLOSED
            - CANCELLATION_REASON_UPGRADE_DOWNGRADE
            - CANCELLATION_REASON_USER_DELINQUENCY
            - CANCELLATION_REASON_SYSTEM_ERROR
            - CANCELLATION_REASON_OTHER
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem:
      description: Individual line item definition of a subscription.
      properties:
        amount:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount"
          description: Output only. The price of the product/service in this line item. The amount could be the wholesale price, or it can include a cost of sale based on the contract.
          readOnly: true
        description:
          description: Output only. Description of this line item.
          readOnly: true
          type: string
        lineItemFreeTrialEndTime:
          description: Output only. The free trial end time will be populated after the line item is successfully processed. End time of the line item free trial period, in ISO 8061 format. For example, "2019-08-31T17:28:54.564Z". It will be set the same as createTime if no free trial promotion is specified.
          format: google-datetime
          readOnly: true
          type: string
        lineItemPromotionSpecs:
          description: "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only."
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          type: array
        oneTimeRecurrenceDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails"
          description: Output only. Details only set for a ONE_TIME recurrence line item.
          readOnly: true
        product:
          description: Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'.
          type: string
        productPayload:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ProductPayload"
          description: Optional. Product specific payload for this line item.
        recurrenceType:
          description: Output only. The recurrence type of the line item.
          enum:
            - LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
            - LINE_ITEM_RECURRENCE_TYPE_PERIODIC
            - LINE_ITEM_RECURRENCE_TYPE_ONE_TIME
          readOnly: true
          type: string
        state:
          description: Output only. The state of the line item.
          enum:
            - LINE_ITEM_STATE_UNSPECIFIED
            - LINE_ITEM_STATE_ACTIVE
            - LINE_ITEM_STATE_INACTIVE
            - LINE_ITEM_STATE_NEW
            - LINE_ITEM_STATE_ACTIVATING
            - LINE_ITEM_STATE_DEACTIVATING
            - LINE_ITEM_STATE_WAITING_TO_DEACTIVATE
            - LINE_ITEM_STATE_OFF_CYCLE_CHARGING
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails:
      description: Details for a ONE_TIME recurrence line item.
      properties:
        servicePeriod:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
          description: The service period of the ONE_TIME line item.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec:
      description: Describes the spec for one promotion.
      properties:
        freeTrialDuration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.
          readOnly: true
        introductoryPricingDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
          description: Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.
          readOnly: true
        promotion:
          description: Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.
          type: string
        type:
          description: Output only. The type of the promotion for the spec.
          enum:
            - PROMOTION_TYPE_UNSPECIFIED
            - PROMOTION_TYPE_FREE_TRIAL
            - PROMOTION_TYPE_INTRODUCTORY_PRICING
          readOnly: true
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails:
      description: Details about the previous subscription that this new subscription upgrades/downgrades from.
      properties:
        billingCycleSpec:
          description: Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.
          enum:
            - BILLING_CYCLE_SPEC_UNSPECIFIED
            - BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION
            - BILLING_CYCLE_SPEC_START_IMMEDIATELY
          type: string
        previousSubscriptionId:
          description: Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest:
      description: Request to revoke a cancellation request.
      properties: {}
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse:
      description: Response that contains the updated subscription resource.
      properties:
        subscription:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: The updated subscription resource.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload:
      description: Payload specific to Youtube products.
      properties:
        partnerEligibilityIds:
          description: The list of eligibility_ids which are applicable for the line item.
          items:
            type: string
          type: array
      type: object
    GoogleTypeLocalizedText:
      description: Localized variant of a text in a particular language.
      properties:
        languageCode:
          description: The text's BCP-47 language code, such as "en-US" or "sr-Latn". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        text:
          description: Localized string in the language corresponding to `language_code' below.
          type: string
      type: object
