swagger: "2.0"
schemes:
  - https
host: sheetlabs.com
basePath: /IND/vs
info:
  contact:
    email: ab.techwriter@gmail.com
    x-twitter: sheetlabs
  description: >
    # Introduction

    This API returns data regarding almost all nouns in vedic literature. The results are JSON objects that contain the word transliterated to the Roman script, the word in the Nagari script, the meaning of the word, and the category the word belongs to. Proper nouns are not included (yet).


    The API uses the Swagger 2.0 specification.


    # Authentication

    This is an open API.


    # Rate limits

    Total monthly calls are limited to 10,000.
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  title: vs API
  version: "1.1"
  x-apisguru-categories:
    - open_data
  x-logo:
    altText: Indica logo
    url: https://twitter.com/sheetlabs/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/AninditaBasu/indica/master/vs_SDKs/vs.yaml
      version: "2.0"
  x-providerName: sheetlabs.com
  x-serviceName: vedic-society
  x-preferred: true
externalDocs:
  description: Documentation
  url: https://aninditabasu.github.io/indica/
paths:
  /:
    get:
      responses:
        "200":
          description: Entries fetched
        "404":
          description: No entry found
      summary: Fetch all entries in this API
  /category:
    get:
      parameters:
        - description: Click to select from a list
          enum:
            - grass
            - plant
            - tree
            - animal
            - bird
            - cattle
            - fish
            - insect
            - snake
            - worm
            - building
            - chariot
            - food
            - grain
            - metal
            - object
            - ship
            - weapon
            - war
            - number
            - distance
            - time
            - weight
            - mountain
            - place
            - river
            - astronomy
            - disease
            - literature
            - medicine
            - poison
            - subject
            - dicing
            - games
            - music
            - clothing
            - hair
            - ornament
            - law
            - morals
            - agriculture
            - caste
            - family
            - occupation
            - priest
            - royalty
            - trade
            - tribe
          in: query
          name: category
          required: true
          type: string
      responses:
        "200":
          description: Entries fetched.
        "404":
          description: No such category exists in this API.
      summary: Fetch all words in a specific category
  /description:
    get:
      parameters:
        - description: The string you are looking for in the word meaning, for example, chariot. Wildcards are allowed, for example, char\*.
          in: query
          name: description
          required: true
          type: string
      responses:
        "200":
          description: Entries fetched.
        "404":
          description: No such string exists in this API.
      summary: Fetch all meanings that contain a specific English string
  /word:
    get:
      parameters:
        - description: The Sanskrit word transliterated into English, for example, rajan. Wildcards are allowed, for example, \*aj\*.
          in: query
          name: word
          required: true
          type: string
      responses:
        "200":
          description: Entries fetched.
        "404":
          description: No such word exists in this API.
      summary: Fetch the meaning of a specific Sanskrit word
