openapi: 3.0.0
servers:
  - url: 'http://inspector.amazonaws.com/'
info:
  version: '2016-02-16'
  x-release: v4
  title: Amazon Inspector
  description: '<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href="http://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html"> Amazon Inspector User Guide</a>.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: inspector
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/inspector-2016-02-16.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/inspector/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddAttributesToFindings
      description: Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAttributesToFindingsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAttributesToFindingsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateAssessmentTarget':
    post:
      operationId: CreateAssessmentTarget
      description: 'Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href="http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html"> Amazon Inspector Assessment Targets</a>.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssessmentTargetResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssessmentTargetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateAssessmentTemplate':
    post:
      operationId: CreateAssessmentTemplate
      description: Creates an assessment template for the assessment target that is specified by the ARN of the assessment target.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssessmentTemplateResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssessmentTemplateRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateResourceGroup':
    post:
      operationId: CreateResourceGroup
      description: 'Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResourceGroupResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAssessmentRun':
    post:
      operationId: DeleteAssessmentRun
      description: Deletes the assessment run that is specified by the ARN of the assessment run.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAssessmentRunRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAssessmentTarget':
    post:
      operationId: DeleteAssessmentTarget
      description: Deletes the assessment target that is specified by the ARN of the assessment target.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAssessmentTargetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAssessmentTemplate':
    post:
      operationId: DeleteAssessmentTemplate
      description: Deletes the assessment template that is specified by the ARN of the assessment template.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAssessmentTemplateRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAssessmentRuns':
    post:
      operationId: DescribeAssessmentRuns
      description: Describes the assessment runs that are specified by the ARNs of the assessment runs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAssessmentRunsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAssessmentRunsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAssessmentTargets':
    post:
      operationId: DescribeAssessmentTargets
      description: Describes the assessment targets that are specified by the ARNs of the assessment targets.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAssessmentTargetsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAssessmentTargetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAssessmentTemplates':
    post:
      operationId: DescribeAssessmentTemplates
      description: Describes the assessment templates that are specified by the ARNs of the assessment templates.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAssessmentTemplatesResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAssessmentTemplatesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeCrossAccountAccessRole':
    post:
      operationId: DescribeCrossAccountAccessRole
      description: Describes the IAM role that enables Amazon Inspector to access your AWS account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeCrossAccountAccessRoleResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeFindings':
    post:
      operationId: DescribeFindings
      description: Describes the findings that are specified by the ARNs of the findings.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeFindingsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeFindingsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeResourceGroups':
    post:
      operationId: DescribeResourceGroups
      description: Describes the resource groups that are specified by the ARNs of the resource groups.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeResourceGroupsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeResourceGroupsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeRulesPackages':
    post:
      operationId: DescribeRulesPackages
      description: Describes the rules packages that are specified by the ARNs of the rules packages.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeRulesPackagesResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeRulesPackagesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetAssessmentReport':
    post:
      operationId: GetAssessmentReport
      description: 'Produces an assessment report that includes detailed and comprehensive results of a specified assessment run. '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssessmentReportResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '484':
          description: AssessmentRunInProgressException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentRunInProgressException'
        '485':
          description: UnsupportedFeatureException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedFeatureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAssessmentReportRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetTelemetryMetadata':
    post:
      operationId: GetTelemetryMetadata
      description: Information about the data that is collected for the specified assessment run.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTelemetryMetadataResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTelemetryMetadataRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentRunAgents':
    post:
      operationId: ListAssessmentRunAgents
      description: Lists the agents of the assessment runs that are specified by the ARNs of the assessment runs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssessmentRunAgentsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssessmentRunAgentsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentRuns':
    post:
      operationId: ListAssessmentRuns
      description: Lists the assessment runs that correspond to the assessment templates that are specified by the ARNs of the assessment templates.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssessmentRunsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssessmentRunsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentTargets':
    post:
      operationId: ListAssessmentTargets
      description: 'Lists the ARNs of the assessment targets within this AWS account. For more information about assessment targets, see <a href="http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html">Amazon Inspector Assessment Targets</a>.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssessmentTargetsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssessmentTargetsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentTemplates':
    post:
      operationId: ListAssessmentTemplates
      description: Lists the assessment templates that correspond to the assessment targets that are specified by the ARNs of the assessment targets.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssessmentTemplatesResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssessmentTemplatesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListEventSubscriptions':
    post:
      operationId: ListEventSubscriptions
      description: 'Lists all the event subscriptions for the assessment template that is specified by the ARN of the assessment template. For more information, see <a>SubscribeToEvent</a> and <a>UnsubscribeFromEvent</a>.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventSubscriptionsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEventSubscriptionsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListFindings':
    post:
      operationId: ListFindings
      description: Lists findings that are generated by the assessment runs that are specified by the ARNs of the assessment runs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFindingsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFindingsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListRulesPackages':
    post:
      operationId: ListRulesPackages
      description: Lists all available Amazon Inspector rules packages.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRulesPackagesResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRulesPackagesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Lists all tags associated with an assessment template.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsForResourceResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTagsForResourceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PreviewAgents':
    post:
      operationId: PreviewAgents
      description: Previews the agents installed on the EC2 instances that are part of the specified assessment target.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewAgentsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '484':
          description: InvalidCrossAccountRoleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidCrossAccountRoleException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewAgentsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RegisterCrossAccountAccessRole':
    post:
      operationId: RegisterCrossAccountAccessRole
      description: Registers the IAM role that Amazon Inspector uses to list your EC2 instances at the start of the assessment run or when you call the <a>PreviewAgents</a> action.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: InvalidCrossAccountRoleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidCrossAccountRoleException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCrossAccountAccessRoleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RemoveAttributesFromFindings':
    post:
      operationId: RemoveAttributesFromFindings
      description: Removes entire attributes (key and value pairs) from the findings that are specified by the ARNs of the findings where an attribute with the specified key exists.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveAttributesFromFindingsResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAttributesFromFindingsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SetTagsForResource':
    post:
      operationId: SetTagsForResource
      description: Sets tags (key and value pairs) to the assessment template that is specified by the ARN of the assessment template.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetTagsForResourceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#StartAssessmentRun':
    post:
      operationId: StartAssessmentRun
      description: 'Starts the assessment run specified by the ARN of the assessment template. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartAssessmentRunResponse'
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '485':
          description: InvalidCrossAccountRoleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidCrossAccountRoleException'
        '486':
          description: AgentsAlreadyRunningAssessmentException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentsAlreadyRunningAssessmentException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAssessmentRunRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#StopAssessmentRun':
    post:
      operationId: StopAssessmentRun
      description: Stops the assessment run that is specified by the ARN of the assessment run.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopAssessmentRunRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SubscribeToEvent':
    post:
      operationId: SubscribeToEvent
      description: Enables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: LimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeToEventRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UnsubscribeFromEvent':
    post:
      operationId: UnsubscribeFromEvent
      description: Disables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnsubscribeFromEventRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateAssessmentTarget':
    post:
      operationId: UpdateAssessmentTarget
      description: Updates the assessment target that is specified by the ARN of the assessment target.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalException'
        '481':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssessmentTargetRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AccessDeniedErrorCode:
      type: string
      enum:
        - ACCESS_DENIED_TO_ASSESSMENT_TARGET
        - ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE
        - ACCESS_DENIED_TO_ASSESSMENT_RUN
        - ACCESS_DENIED_TO_FINDING
        - ACCESS_DENIED_TO_RESOURCE_GROUP
        - ACCESS_DENIED_TO_RULES_PACKAGE
        - ACCESS_DENIED_TO_SNS_TOPIC
        - ACCESS_DENIED_TO_IAM_ROLE
    AccessDeniedException:
      type: object
      required:
        - message
        - errorCode
        - canRetry
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
        errorCode:
          $ref: '#/components/schemas/AccessDeniedErrorCode'
        canRetry:
          $ref: '#/components/schemas/Bool'
      description: You do not have required permissions to access the requested resource.
    AddAttributesToFindingsRequest:
      type: object
      required:
        - findingArns
        - attributes
      example:
        attributes:
          - key: Example
            value: example
        findingArns:
          - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-8l1VIE0D/run/0-Z02cjjug/finding/0-T8yM9mEU'
      properties:
        findingArns:
          $ref: '#/components/schemas/AddRemoveAttributesFindingArnList'
        attributes:
          $ref: '#/components/schemas/UserAttributeList'
    AddAttributesToFindingsResponse:
      type: object
      required:
        - failedItems
      example:
        failedItems: {}
      properties:
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    AddRemoveAttributesFindingArnList:
      type: array
      items:
        $ref: '#/components/schemas/Arn'
      minItems: 1
      maxItems: 10
    AgentAlreadyRunningAssessment:
      type: object
      required:
        - agentId
        - assessmentRunArn
      properties:
        agentId:
          $ref: '#/components/schemas/AgentId'
        assessmentRunArn:
          $ref: '#/components/schemas/Arn'
      description: Used in the exception error that is thrown if you start an assessment run for an assessment target that includes an EC2 instance that is already participating in another started assessment run.
    AgentAlreadyRunningAssessmentList:
      type: array
      items:
        $ref: '#/components/schemas/AgentAlreadyRunningAssessment'
      minItems: 1
      maxItems: 10
    AgentFilter:
      type: object
      required:
        - agentHealths
        - agentHealthCodes
      properties:
        agentHealths:
          $ref: '#/components/schemas/AgentHealthList'
        agentHealthCodes:
          $ref: '#/components/schemas/AgentHealthCodeList'
      description: Contains information about an Amazon Inspector agent. This data type is used as a request parameter in the <a>ListAssessmentRunAgents</a> action.
    AgentHealth:
      type: string
      enum:
        - HEALTHY
        - UNHEALTHY
    AgentHealthCode:
      type: string
      enum:
        - IDLE
        - RUNNING
        - SHUTDOWN
        - UNHEALTHY
        - THROTTLED
        - UNKNOWN
    AgentHealthCodeList:
      type: array
      items:
        $ref: '#/components/schemas/AgentHealthCode'
      minItems: 0
      maxItems: 10
    AgentHealthList:
      type: array
      items:
        $ref: '#/components/schemas/AgentHealth'
      minItems: 0
      maxItems: 10
    AgentId:
      type: string
      minLength: 1
      maxLength: 128
    AgentIdList:
      type: array
      items:
        $ref: '#/components/schemas/AgentId'
      minItems: 0
      maxItems: 500
    AgentPreview:
      type: object
      required:
        - agentId
      properties:
        agentId:
          $ref: '#/components/schemas/AgentId'
        autoScalingGroup:
          $ref: '#/components/schemas/AutoScalingGroup'
      description: Used as a response element in the <a>PreviewAgents</a> action.
    AgentPreviewList:
      type: array
      items:
        $ref: '#/components/schemas/AgentPreview'
      minItems: 0
      maxItems: 100
    AgentsAlreadyRunningAssessmentException:
      type: object
      required:
        - message
        - agents
        - agentsTruncated
        - canRetry
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
        agents:
          $ref: '#/components/schemas/AgentAlreadyRunningAssessmentList'
        agentsTruncated:
          $ref: '#/components/schemas/Bool'
        canRetry:
          $ref: '#/components/schemas/Bool'
      description: 'You started an assessment run, but one of the instances is already participating in another assessment run.'
    AmiId:
      type: string
      minLength: 0
      maxLength: 256
    Arn:
      type: string
      minLength: 1
      maxLength: 300
    AssessmentRulesPackageArnList:
      type: array
      items:
        $ref: '#/components/schemas/Arn'
      minItems: 1
      maxItems: 50
    AssessmentRun:
      type: object
      required:
        - arn
        - name
        - assessmentTemplateArn
        - state
        - durationInSeconds
        - rulesPackageArns
        - userAttributesForFindings
        - createdAt
        - stateChangedAt
        - dataCollected
        - stateChanges
        - notifications
        - findingCounts
      properties:
        arn:
          $ref: '#/components/schemas/Arn'
        name:
          $ref: '#/components/schemas/AssessmentRunName'
        assessmentTemplateArn:
          $ref: '#/components/schemas/Arn'
        state:
          $ref: '#/components/schemas/AssessmentRunState'
        durationInSeconds:
          $ref: '#/components/schemas/AssessmentRunDuration'
        rulesPackageArns:
          $ref: '#/components/schemas/AssessmentRulesPackageArnList'
        userAttributesForFindings:
          $ref: '#/components/schemas/UserAttributeList'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        startedAt:
          $ref: '#/components/schemas/Timestamp'
        completedAt:
          $ref: '#/components/schemas/Timestamp'
        stateChangedAt:
          $ref: '#/components/schemas/Timestamp'
        dataCollected:
          $ref: '#/components/schemas/Bool'
        stateChanges:
          $ref: '#/components/schemas/AssessmentRunStateChangeList'
        notifications:
          $ref: '#/components/schemas/AssessmentRunNotificationList'
        findingCounts:
          $ref: '#/components/schemas/AssessmentRunFindingCounts'
      description: <p>A snapshot of an Amazon Inspector assessment run that contains the findings of the assessment run .</p> <p>Used as the response element in the <a>DescribeAssessmentRuns</a> action.</p>
    AssessmentRunAgent:
      type: object
      required:
        - agentId
        - assessmentRunArn
        - agentHealth
        - agentHealthCode
        - telemetryMetadata
      properties:
        agentId:
          $ref: '#/components/schemas/AgentId'
        assessmentRunArn:
          $ref: '#/components/schemas/Arn'
        agentHealth:
          $ref: '#/components/schemas/AgentHealth'
        agentHealthCode:
          $ref: '#/components/schemas/AgentHealthCode'
        agentHealthDetails:
          $ref: '#/components/schemas/Message'
        autoScalingGroup:
          $ref: '#/components/schemas/AutoScalingGroup'
        telemetryMetadata:
          $ref: '#/components/schemas/TelemetryMetadataList'
      description: Contains information about an Amazon Inspector agent. This data type is used as a response element in the <a>ListAssessmentRunAgents</a> action.
    AssessmentRunAgentList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentRunAgent'
      minItems: 0
      maxItems: 500
    AssessmentRunDuration:
      type: integer
      minimum: 180
      maximum: 86400
    AssessmentRunFilter:
      type: object
      properties:
        namePattern:
          $ref: '#/components/schemas/NamePattern'
        states:
          $ref: '#/components/schemas/AssessmentRunStateList'
        durationRange:
          $ref: '#/components/schemas/DurationRange'
        rulesPackageArns:
          $ref: '#/components/schemas/FilterRulesPackageArnList'
        startTimeRange:
          $ref: '#/components/schemas/TimestampRange'
        completionTimeRange:
          $ref: '#/components/schemas/TimestampRange'
        stateChangeTimeRange:
          $ref: '#/components/schemas/TimestampRange'
      description: Used as the request parameter in the <a>ListAssessmentRuns</a> action.
    AssessmentRunFindingCounts:
      type: array
      items:
        type: object
        properties:
          key:
            $ref: '#/components/schemas/Severity'
          value:
            $ref: '#/components/schemas/FindingCount'
    AssessmentRunInProgressArnList:
      type: array
      items:
        $ref: '#/components/schemas/Arn'
      minItems: 1
      maxItems: 10
    AssessmentRunInProgressException:
      type: object
      required:
        - message
        - assessmentRunArns
        - assessmentRunArnsTruncated
        - canRetry
      properties:
        message:
          $ref: '#/components/schemas/ErrorMessage'
        assessmentRunArns:
          $ref: '#/components/schemas/AssessmentRunInProgressArnList'
        assessmentRunArnsTruncated:
          $ref: '#/components/schemas/Bool'
        canRetry:
          $ref: '#/components/schemas/Bool'
      description: You cannot perform a specified action if an assessment run is currently in progress.
    AssessmentRunList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentRun'
      minItems: 0
      maxItems: 10
    AssessmentRunName:
      type: string
      minLength: 1
      maxLength: 140
    AssessmentRunNotification:
      type: object
      required:
        - date
        - event
        - error
      properties:
        date:
          $ref: '#/components/schemas/Timestamp'
        event:
          $ref: '#/components/schemas/InspectorEvent'
        message:
          $ref: '#/components/schemas/Message'
        error:
          $ref: '#/components/schemas/Bool'
        snsTopicArn:
          $ref: '#/components/schemas/Arn'
        snsPublishStatusCode:
          $ref: '#/components/schemas/AssessmentRunNotificationSnsStatusCode'
      description: Used as one of the elements of the <a>AssessmentRun</a> data type.
    AssessmentRunNotificationList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentRunNotification'
      minItems: 0
      maxItems: 50
    AssessmentRunNotificationSnsStatusCode:
      type: string
      enum:
        - SUCCESS
        - TOPIC_DOES_NOT_EXIST
        - ACCESS_DENIED
        - INTERNAL_ERROR
    AssessmentRunState:
      type: string
      enum:
        - CREATED
        - START_DATA_COLLECTION_PENDING
        - START_DATA_COLLECTION_IN_PROGRESS
        - COLLECTING_DATA
        - STOP_DATA_COLLECTION_PENDING
        - DATA_COLLECTED
        - START_EVALUATING_RULES_PENDING
        - EVALUATING_RULES
        - FAILED
        - ERROR
        - COMPLETED
        - COMPLETED_WITH_ERRORS
    AssessmentRunStateChange:
      type: object
      required:
        - stateChangedAt
        - state
      properties:
        stateChangedAt:
          $ref: '#/components/schemas/Timestamp'
        state:
          $ref: '#/components/schemas/AssessmentRunState'
      description: Used as one of the elements of the <a>AssessmentRun</a> data type.
    AssessmentRunStateChangeList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentRunStateChange'
      minItems: 0
      maxItems: 50
    AssessmentRunStateList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentRunState'
      minItems: 0
      maxItems: 50
    AssessmentTarget:
      type: object
      required:
        - arn
        - name
        - resourceGroupArn
        - createdAt
        - updatedAt
      properties:
        arn:
          $ref: '#/components/schemas/Arn'
        name:
          $ref: '#/components/schemas/AssessmentTargetName'
        resourceGroupArn:
          $ref: '#/components/schemas/Arn'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
      description: Contains information about an Amazon Inspector application. This data type is used as the response element in the <a>DescribeAssessmentTargets</a> action.
    AssessmentTargetFilter:
      type: object
      properties:
        assessmentTargetNamePattern:
          $ref: '#/components/schemas/NamePattern'
      description: Used as the request parameter in the <a>ListAssessmentTargets</a> action.
    AssessmentTargetList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentTarget'
      minItems: 0
      maxItems: 10
    AssessmentTargetName:
      type: string
      minLength: 1
      maxLength: 140
    AssessmentTemplate:
      type: object
      required:
        - arn
        - name
        - assessmentTargetArn
        - durationInSeconds
        - rulesPackageArns
        - userAttributesForFindings
        - createdAt
      properties:
        arn:
          $ref: '#/components/schemas/Arn'
        name:
          $ref: '#/components/schemas/AssessmentTemplateName'
        assessmentTargetArn:
          $ref: '#/components/schemas/Arn'
        durationInSeconds:
          $ref: '#/components/schemas/AssessmentRunDuration'
        rulesPackageArns:
          $ref: '#/components/schemas/AssessmentTemplateRulesPackageArnList'
        userAttributesForFindings:
          $ref: '#/components/schemas/UserAttributeList'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
      description: Contains information about an Amazon Inspector assessment template. This data type is used as the response element in the <a>DescribeAssessmentTemplates</a> action.
    AssessmentTemplateFilter:
      type: object
      properties:
        namePattern:
          $ref: '#/components/schemas/NamePattern'
        durationRange:
          $ref: '#/components/schemas/DurationRange'
        rulesPackageArns:
          $ref: '#/components/schemas/FilterRulesPackageArnList'
      description: Used as the request parameter in the <a>ListAssessmentTemplates</a> action.
    AssessmentTemplateList:
      type: array
      items:
        $ref: '#/components/schemas/AssessmentTemplate'
      minItems: 0
      maxItems: 10
    AssessmentTemplateName:
      type: string
      minLength: 1
      maxLength: 140
    AssessmentTemplateRulesPackageArnList:
      type: array
      items:
        $ref: '#/components/schemas/Arn'
      minItems: 0
      maxItems: 50
    AssetAttributes:
      type: object
      required:
        - schemaVersion
      properties:
        schemaVersion:
          $ref: '#/components/schemas/NumericVersion'
        agentId:
          $ref: '#/components/schemas/AgentId'
        autoScalingGroup:
          $ref: '#/components/schemas/AutoScalingGroup'
        amiId:
          $ref: '#/components/schemas/AmiId'
        hostname:
          $ref: '#/components/schemas/Hostname'
        ipv4Addresses:
          $ref: '#/components/schemas/Ipv4AddressList'
      description: A collection of attributes of the host from which the finding is generated.
    AssetType:
      type: string
      enum:
        - ec2-instance
    Attribute:
      type: object
      required:
        - key
      properties:
        key:
          $ref: '#/components/schemas/AttributeKey'
        value:
          $ref: '#/components/schemas/AttributeValue'
      description: This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.
    AttributeKey:
      type: string
      minLength: 1
      maxLength: 128
    AttributeList:
      type: array
      items:
        $ref: '#/components/schemas/Attribute'
      minItems: 0
      maxItems: 50
    AttributeValue:
      type: string
      minLength: 1
      maxLength: 256
    AutoScalingGroup:
      type: string
      minLength: 1
      maxLength: 256
    AutoScalingGroupList:
      type: array
      items:
        $ref: '#/components/schemas/AutoScalingGroup'
      minItems: 0
      maxItems: 20
    BatchDescribeArnList:
      type: array
      items:
        $ref: '#/components/schemas/Arn'
      minItems: 1
      maxItems: 10
    Bool:
      type: boolean
    CreateAssessmentTargetRequest:
      type: object
      required:
        - assessmentTargetName
        - resourceGroupArn
      example:
        assessmentTargetName: ExampleAssessmentTarget
        resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv'
      properties:
        assessmentTargetName:
          $ref: '#/components/schemas/AssessmentTargetName'
        resourceGroupArn:
          $ref: '#/components/schemas/Arn'
    CreateAssessmentTargetResponse:
      type: object
      required:
        - assessmentTargetArn
      example:
        assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX'
      properties:
        assessmentTargetArn:
          $ref: '#/components/schemas/Arn'
    CreateAssessmentTemplateRequest:
      type: object
      required:
        - assessmentTargetArn
        - assessmentTemplateName
        - durationInSeconds
        - rulesPackageArns
      example:
        assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX'
        assessmentTemplateName: ExampleAssessmentTemplate
        durationInSeconds: 180
        rulesPackageArns:
          - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-11B9DBXp'
        userAttributesForFindings:
          - key: Example
            value: example
      properties:
        assessmentTargetArn:
          $ref: '#/components/schemas/Arn'
        assessmentTemplateName:
          $ref: '#/components/schemas/AssessmentTemplateName'
        durationInSeconds:
          $ref: '#/components/schemas/AssessmentRunDuration'
        rulesPackageArns:
          $ref: '#/components/schemas/AssessmentTemplateRulesPackageArnList'
        userAttributesForFindings:
          $ref: '#/components/schemas/UserAttributeList'
    CreateAssessmentTemplateResponse:
      type: object
      required:
        - assessmentTemplateArn
      example:
        assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T'
      properties:
        assessmentTemplateArn:
          $ref: '#/components/schemas/Arn'
    CreateResourceGroupRequest:
      type: object
      required:
        - resourceGroupTags
      example:
        resourceGroupTags:
          - key: Name
            value: example
      properties:
        resourceGroupTags:
          $ref: '#/components/schemas/ResourceGroupTags'
    CreateResourceGroupResponse:
      type: object
      required:
        - resourceGroupArn
      example:
        resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv'
      properties:
        resourceGroupArn:
          $ref: '#/components/schemas/Arn'
    DeleteAssessmentRunRequest:
      type: object
      required:
        - assessmentRunArn
      example:
        assessmentRunArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T/run/0-11LMTAVe'
      properties:
        assessmentRunArn:
          $ref: '#/components/schemas/Arn'
    DeleteAssessmentTargetRequest:
      type: object
      required:
        - assessmentTargetArn
      example:
        assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
      properties:
        assessmentTargetArn:
          $ref: '#/components/schemas/Arn'
    DeleteAssessmentTemplateRequest:
      type: object
      required:
        - assessmentTemplateArn
      example:
        assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T'
      properties:
        assessmentTemplateArn:
          $ref: '#/components/schemas/Arn'
    DescribeAssessmentRunsRequest:
      type: object
      required:
        - assessmentRunArns
      example:
        assessmentRunArns:
          - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
      properties:
        assessmentRunArns:
          $ref: '#/components/schemas/BatchDescribeArnList'
    DescribeAssessmentRunsResponse:
      type: object
      required:
        - assessmentRuns
        - failedItems
      example:
        assessmentRuns:
          - name: Run 1 for ExampleAssessmentTemplate
            arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
            assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
            completedAt: '1458680301.4'
            createdAt: '1458680170.035'
            dataCollected: true
            durationInSeconds: 3600
            findingCounts:
              High: 14
              Informational: 0
              Low: 0
              Medium: 2
              Undefined: 0
            notifications: []
            rulesPackageArns:
              - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
            startedAt: '1458680170.161'
            state: COMPLETED
            stateChangedAt: '1458680301.4'
            stateChanges:
              - state: CREATED
                stateChangedAt: '1458680170.035'
              - state: START_DATA_COLLECTION_PENDING
                stateChangedAt: '1458680170.065'
              - state: START_DATA_COLLECTION_IN_PROGRESS
                stateChangedAt: '1458680170.096'
              - state: COLLECTING_DATA
                stateChangedAt: '1458680170.161'
              - state: STOP_DATA_COLLECTION_PENDING
                stateChangedAt: '1458680239.883'
              - state: DATA_COLLECTED
                stateChangedAt: '1458680299.847'
              - state: EVALUATING_RULES
                stateChangedAt: '1458680300.099'
              - state: COMPLETED
                stateChangedAt: '1458680301.4'
            userAttributesForFindings: []
        failedItems: {}
      properties:
        assessmentRuns:
          $ref: '#/components/schemas/AssessmentRunList'
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    DescribeAssessmentTargetsRequest:
      type: object
      required:
        - assessmentTargetArns
      example:
        assessmentTargetArns:
          - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
      properties:
        assessmentTargetArns:
          $ref: '#/components/schemas/BatchDescribeArnList'
    DescribeAssessmentTargetsResponse:
      type: object
      required:
        - assessmentTargets
        - failedItems
      example:
        assessmentTargets:
          - name: ExampleAssessmentTarget
            arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
            createdAt: '1458074191.459'
            resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
            updatedAt: '1458074191.459'
        failedItems: {}
      properties:
        assessmentTargets:
          $ref: '#/components/schemas/AssessmentTargetList'
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    DescribeAssessmentTemplatesRequest:
      type: object
      required:
        - assessmentTemplateArns
      example:
        assessmentTemplateArns:
          - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
      properties:
        assessmentTemplateArns:
          $ref: '#/components/schemas/BatchDescribeArnList'
    DescribeAssessmentTemplatesResponse:
      type: object
      required:
        - assessmentTemplates
        - failedItems
      example:
        assessmentTemplates:
          - name: ExampleAssessmentTemplate
            arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
            assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
            createdAt: '1458074191.844'
            durationInSeconds: 3600
            rulesPackageArns:
              - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
            userAttributesForFindings: []
        failedItems: {}
      properties:
        assessmentTemplates:
          $ref: '#/components/schemas/AssessmentTemplateList'
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    DescribeCrossAccountAccessRoleResponse:
      type: object
      required:
        - roleArn
        - valid
        - registeredAt
      example:
        registeredAt: '1458069182.826'
        roleArn: 'arn:aws:iam::123456789012:role/inspector'
        valid: true
      properties:
        roleArn:
          $ref: '#/components/schemas/Arn'
        valid:
          $ref: '#/components/schemas/Bool'
        registeredAt:
          $ref: '#/components/schemas/Timestamp'
    DescribeFindingsRequest:
      type: object
      required:
        - findingArns
      example:
        findingArns:
          - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4'
      properties:
        findingArns:
          $ref: '#/components/schemas/BatchDescribeArnList'
        locale:
          $ref: '#/components/schemas/Locale'
    DescribeFindingsResponse:
      type: object
      required:
        - findings
        - failedItems
      example:
        failedItems: {}
        findings:
          - arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4'
            assetAttributes:
              ipv4Addresses: []
              schemaVersion: 1
            assetType: ec2-instance
            attributes: []
            confidence: 10
            createdAt: '1458680301.37'
            description: Amazon Inspector did not find any potential security issues during this assessment.
            indicatorOfCompromise: false
            numericSeverity: 0
            recommendation: No remediation needed.
            schemaVersion: 1
            service: Inspector
            serviceAttributes:
              assessmentRunArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
              rulesPackageArn: 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
              schemaVersion: 1
            severity: Informational
            title: No potential security issues found
            updatedAt: '1458680301.37'
            userAttributes: []
      properties:
        findings:
          $ref: '#/components/schemas/FindingList'
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    DescribeResourceGroupsRequest:
      type: object
      required:
        - resourceGroupArns
      example:
        resourceGroupArns:
          - 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
      properties:
        resourceGroupArns:
          $ref: '#/components/schemas/BatchDescribeArnList'
    DescribeResourceGroupsResponse:
      type: object
      required:
        - resourceGroups
        - failedItems
      example:
        failedItems: {}
        resourceGroups:
          - arn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
            createdAt: '1458074191.098'
            tags:
              - key: Name
                value: example
      properties:
        resourceGroups:
          $ref: '#/components/schemas/ResourceGroupList'
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    DescribeRulesPackagesRequest:
      type: object
      required:
        - rulesPackageArns
      example:
        rulesPackageArns:
          - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-JJOtZiqQ'
      properties:
        rulesPackageArns:
          $ref: '#/components/schemas/BatchDescribeArnList'
        locale:
          $ref: '#/components/schemas/Locale'
    DescribeRulesPackagesResponse:
      type: object
      required:
        - rulesPackages
        - failedItems
      example:
        failedItems: {}
        rulesPackages:
          - version: '1.1'
            name: Security Best Practices
            arn: 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-JJOtZiqQ'
            description: The rules in this package help determine whether your systems are configured securely.
            provider: 'Amazon Web Services, Inc.'
      properties:
        rulesPackages:
          $ref: '#/components/schemas/RulesPackageList'
        failedItems:
          $ref: '#/components/schemas/FailedItems'
    DurationRange:
      type: object
      properties:
        minSeconds:
          $ref: '#/components/schemas/AssessmentRunDuration'
        maxSeconds:
          $ref: '#/components/schemas/AssessmentRunDuration'
      description: This data type is used in the <a>AssessmentTemplateFilter</a> data type.
    ErrorMessage:
      type: string
      minLength: 0
      maxLength: 1000
    EventSubscription:
      type: object
      required:
        - event
        - subscribedAt
      properties:
        event:
          $ref: '#/components/schemas/InspectorEvent'
        subscribedAt:
          $ref: '#/components/schemas/Timestamp'
      description: This data type is used in the <a>Subscription</a> data type.
    EventSubscriptionList:
      type: array
      items:
        $ref: '#/components/schemas/EventSubscription'
      minItems: 1
      maxItems: 50
    FailedItemDetails:
      type: object
      required:
        - failureCode
        - retryable
      properties:
        failureCode:
          $ref: '#/components/schemas/FailedItemErrorCode'
        retryable:
          $ref: '#/components/schemas/Bool'
      description: Includes details about the failed items.
    FailedItemErrorCode:
      type: string
      enum:
        - INVALID_ARN
        - DUPLICATE_ARN
        - ITEM_DOES_NOT_EXIST
        - ACCESS_DENIED
        - LIMIT_EXCEEDED
        - INTERNAL_ERROR
    FailedItems:
      type: array
      items:
        type: object
        properties:
          key:
            $ref: '#/components/schemas/Arn'
          value:
            $ref: '#/components/schemas/FailedItemDetails'
    FilterRulesPackageArnList:
      type: array
      items:
        $ref: '#/components/schemas/Arn'
      minItems: 0
      maxItems: 50
    Finding:
      type: object
      required:
        - arn
        - attributes
        - userAttributes
        - createdAt
        - updatedAt
      properties:
        arn:
          $ref: '#/components/schemas/Arn'
        schemaVersion:
          $ref: '#/components/schemas/NumericVersion'
        service:
          $ref: '#/components/schemas/ServiceName'
        serviceAttributes:
          $ref: '#/components/schemas/InspectorServiceAttributes'
        assetType:
          $ref: '#/components/schemas/AssetType'
        assetAttributes:
          $ref: '#/components/schemas/AssetAttributes'
        id:
          $ref: '#/components/schemas/FindingId'
        title:
          $ref: '#/components/schemas/Text'
        description:
          $ref: '#/components/schemas/Text'
        recommendation:
          $ref: '#/components/schemas/Text'
        severity:
          $ref: '#/components/schemas/Severity'
        numericSeverity:
          $ref: '#/components/schemas/NumericSeverity'
        confidence:
          $ref: '#/components/schemas/IocConfidence'
        indicatorOfCompromise:
          $ref: '#/components/schemas/Bool'
        attributes:
          $ref: '#/components/schemas/AttributeList'
        userAttributes:
          $ref: '#/components/schemas/UserAttributeList'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
      description: Contains information about an Amazon Inspector finding. This data type is used as the response element in the <a>DescribeFindings</a> action.
    FindingCount:
      type: integer
    FindingFilter:
      type: object
      properties:
        agentIds:
          $ref: '#/components/schemas/AgentIdList'
        autoScalingGroups:
          $ref: '#/components/schemas/AutoScalingGroupList'
        ruleNames:
          $ref: '#/components/schemas/RuleNameList'
        severities:
          $ref: '#/components/schemas/SeverityList'
        rulesPackageArns:
          $ref: '#/components/schemas/FilterRulesPackageArnList'
        attributes:
          $ref: '#/components/schemas/AttributeList'
        userAttributes:
          $ref: '#/components/schemas/AttributeList'
        creationTimeRange:
          $ref: '#/components/schemas/TimestampRange'
      description: This data type is used as a request parameter in the <a>ListFindings</a> action.
    FindingId:
      type: string
      minLength: 0
      maxLength: 128
    FindingList:
      type: array
      items:
        $ref: '#/components/schemas/Finding'
      minItems: 0
      maxItems: 100
    GetAssessmentReportRequest:
      type: object
      required:
        - assessmentRunArn
        - reportFileFormat
        - reportType
      properties:
        assessmentRunArn:
          $ref: '#/components/schemas/Arn'
        reportFileFormat:
          $ref: '#/components/schemas/ReportFileFormat'
        reportType:
          $ref: '#/components/schemas/ReportType'
    GetAssessmentReportResponse:
      type: object
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/ReportStatus'
        url:
          $ref: '#/components/schemas/Url'
    GetTelemetryMetadataRequest:
      type: object
      required:
        - assessmentRunArn
      example:
        assessmentRunArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
      properties:
        assessmentRunArn:
          $ref: '#/components/schemas/Arn'
    GetTelemetryMetadataResponse:
      type: object
      required:
        - telemetryMetadata
      example:
        telemetryMetadata:
          - count: 2
            dataSize: 345
            messageType: InspectorDuplicateProcess
          - count: 3
            dataSize: 255
            messageType: InspectorTimeEventMsg
          - count: 4
            dataSize: 1082
            messageType: InspectorNetworkInterface
          - count: 2
            dataSize: 349
            messageType: InspectorDnsEntry
          - count: 11
            dataSize: 2514
            messageType: InspectorDirectoryInfoMsg
          - count: 1
            dataSize: 179
            messageType: InspectorTcpV6ListeningPort
          - count: 101
            dataSize: 10949
            messageType: InspectorTerminal
          - count: 26
            dataSize: 5916
            messageType: InspectorUser
          - count: 282
            dataSize: 32148
            messageType: InspectorDynamicallyLoadedCodeModule
          - count: 18
            dataSize: 10172
            messageType: InspectorCreateProcess
          - count: 3
            dataSize: 8001
            messageType: InspectorProcessPerformance
          - count: 1
            dataSize: 360
            messageType: InspectorOperatingSystem
          - count: 6
            dataSize: 546
            messageType: InspectorStopProcess
          - count: 1
            dataSize: 1553
            messageType: InspectorInstanceMetaData
          - count: 2
            dataSize: 434
            messageType: InspectorTcpV4Connection
          - count: 474
            dataSize: 2960322
            messageType: InspectorPackageInfo
          - count: 3
            dataSize: 2235
            messageType: InspectorSystemPerformance
          - count: 105
            dataSize: 46048
            messageType: InspectorCodeModule
          - count: 1
            dataSize: 182
            messageType: InspectorUdpV6ListeningPort
          - count: 2
            dataSize: 371
            messageType: InspectorUdpV4ListeningPort
          - count: 18
            dataSize: 8362
            messageType: InspectorKernelModule
          - count: 29
            dataSize: 48788
            messageType: InspectorConfigurationInfo
          - count: 1
            dataSize: 79
            messageType: InspectorMonitoringStart
          - count: 5
            dataSize: 0
            messageType: InspectorSplitMsgBegin
          - count: 51
            dataSize: 4593
            messageType: InspectorGroup
          - count: 1
            dataSize: 184
            messageType: InspectorTcpV4ListeningPort
          - count: 1159
            dataSize: 3146579
            messageType: Total
          - count: 5
            dataSize: 0
            messageType: InspectorSplitMsgEnd
          - count: 1
            dataSize: 612
            messageType: InspectorLoadImageInProcess
      properties:
        telemetryMetadata:
          $ref: '#/components/schemas/TelemetryMetadataList'
    Hostname:
      type: string
      minLength: 0
      maxLength: 256
    InspectorEvent:
      type: string
      enum:
        - ASSESSMENT_RUN_STARTED
        - ASSESSMENT_RUN_COMPLETED
        - ASSESSMENT_RUN_STATE_CHANGED
        - FINDING_REPORTED
        - OTHER
    InspectorServiceAttributes:
      type: object
      required:
        - schemaVersion
      properties:
        schemaVersion:
          $ref: '#/components/schemas/NumericVersion'
[...]
