swagger: '2.0'
schemes:
  - https
  - http
host: inspector.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html"> Amazon Inspector User Guide</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Inspector
  version: '2016-02-16'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/inspector-2016-02-16.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: inspector
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/inspector/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=InspectorService.AddAttributesToFindings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.
      operationId: AddAttributesToFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddAttributesToFindingsRequest'
        - enum:
            - InspectorService.AddAttributesToFindings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddAttributesToFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.CreateAssessmentTarget':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target. If the <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html">service-linked role</a> isn’t already registered, this action also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html"> Amazon Inspector Assessment Targets</a>.'
      operationId: CreateAssessmentTarget
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAssessmentTargetRequest'
        - enum:
            - InspectorService.CreateAssessmentTarget
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssessmentTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
        '486':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.CreateAssessmentTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates an assessment template for the assessment target that is specified by the ARN of the assessment target. If the <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html">service-linked role</a> isn’t already registered, this action also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments.'
      operationId: CreateAssessmentTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAssessmentTemplateRequest'
        - enum:
            - InspectorService.CreateAssessmentTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssessmentTemplateResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.CreateExclusionsPreview':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Starts the generation of an exclusions preview for the specified assessment template. The exclusions preview lists the potential exclusions (ExclusionPreview) that Inspector can detect before it runs the assessment. '
      operationId: CreateExclusionsPreview
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateExclusionsPreviewRequest'
        - enum:
            - InspectorService.CreateExclusionsPreview
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateExclusionsPreviewResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: PreviewGenerationInProgressException
          schema:
            $ref: '#/definitions/PreviewGenerationInProgressException'
        '482':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.CreateResourceGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.'
      operationId: CreateResourceGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceGroupRequest'
        - enum:
            - InspectorService.CreateResourceGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceGroupResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.DeleteAssessmentRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the assessment run that is specified by the ARN of the assessment run.
      operationId: DeleteAssessmentRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssessmentRunRequest'
        - enum:
            - InspectorService.DeleteAssessmentRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.DeleteAssessmentTarget':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the assessment target that is specified by the ARN of the assessment target.
      operationId: DeleteAssessmentTarget
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssessmentTargetRequest'
        - enum:
            - InspectorService.DeleteAssessmentTarget
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.DeleteAssessmentTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the assessment template that is specified by the ARN of the assessment template.
      operationId: DeleteAssessmentTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssessmentTemplateRequest'
        - enum:
            - InspectorService.DeleteAssessmentTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.DescribeAssessmentRuns':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the assessment runs that are specified by the ARNs of the assessment runs.
      operationId: DescribeAssessmentRuns
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssessmentRunsRequest'
        - enum:
            - InspectorService.DescribeAssessmentRuns
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssessmentRunsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.DescribeAssessmentTargets':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the assessment targets that are specified by the ARNs of the assessment targets.
      operationId: DescribeAssessmentTargets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssessmentTargetsRequest'
        - enum:
            - InspectorService.DescribeAssessmentTargets
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssessmentTargetsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.DescribeAssessmentTemplates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the assessment templates that are specified by the ARNs of the assessment templates.
      operationId: DescribeAssessmentTemplates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssessmentTemplatesRequest'
        - enum:
            - InspectorService.DescribeAssessmentTemplates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssessmentTemplatesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.DescribeCrossAccountAccessRole':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the IAM role that enables Amazon Inspector to access your AWS account.
      operationId: DescribeCrossAccountAccessRole
      parameters:
        - enum:
            - InspectorService.DescribeCrossAccountAccessRole
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCrossAccountAccessRoleResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
  '/#X-Amz-Target=InspectorService.DescribeExclusions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the exclusions that are specified by the exclusions' ARNs.
      operationId: DescribeExclusions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeExclusionsRequest'
        - enum:
            - InspectorService.DescribeExclusions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExclusionsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.DescribeFindings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the findings that are specified by the ARNs of the findings.
      operationId: DescribeFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeFindingsRequest'
        - enum:
            - InspectorService.DescribeFindings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.DescribeResourceGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the resource groups that are specified by the ARNs of the resource groups.
      operationId: DescribeResourceGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResourceGroupsRequest'
        - enum:
            - InspectorService.DescribeResourceGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourceGroupsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.DescribeRulesPackages':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the rules packages that are specified by the ARNs of the rules packages.
      operationId: DescribeRulesPackages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRulesPackagesRequest'
        - enum:
            - InspectorService.DescribeRulesPackages
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRulesPackagesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  '/#X-Amz-Target=InspectorService.GetAssessmentReport':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Produces an assessment report that includes detailed and comprehensive results of a specified assessment run. '
      operationId: GetAssessmentReport
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAssessmentReportRequest'
        - enum:
            - InspectorService.GetAssessmentReport
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssessmentReportResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '485':
          description: UnsupportedFeatureException
          schema:
            $ref: '#/definitions/UnsupportedFeatureException'
        '486':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.GetExclusionsPreview':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the exclusions preview (a list of ExclusionPreview objects) specified by the preview token. You can obtain the preview token by running the CreateExclusionsPreview API.
      operationId: GetExclusionsPreview
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetExclusionsPreviewRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.GetExclusionsPreview
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetExclusionsPreviewResponse'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.GetTelemetryMetadata':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Information about the data that is collected for the specified assessment run.
      operationId: GetTelemetryMetadata
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetTelemetryMetadataRequest'
        - enum:
            - InspectorService.GetTelemetryMetadata
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTelemetryMetadataResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListAssessmentRunAgents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the agents of the assessment runs that are specified by the ARNs of the assessment runs.
      operationId: ListAssessmentRunAgents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentRunAgentsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListAssessmentRunAgents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentRunAgentsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListAssessmentRuns':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the assessment runs that correspond to the assessment templates that are specified by the ARNs of the assessment templates.
      operationId: ListAssessmentRuns
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentRunsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListAssessmentRuns
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentRunsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListAssessmentTargets':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the ARNs of the assessment targets within this AWS account. For more information about assessment targets, see <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html">Amazon Inspector Assessment Targets</a>.'
      operationId: ListAssessmentTargets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentTargetsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListAssessmentTargets
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentTargetsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=InspectorService.ListAssessmentTemplates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the assessment templates that correspond to the assessment targets that are specified by the ARNs of the assessment targets.
      operationId: ListAssessmentTemplates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentTemplatesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListAssessmentTemplates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentTemplatesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListEventSubscriptions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists all the event subscriptions for the assessment template that is specified by the ARN of the assessment template. For more information, see <a>SubscribeToEvent</a> and <a>UnsubscribeFromEvent</a>.'
      operationId: ListEventSubscriptions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListEventSubscriptionsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListEventSubscriptions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEventSubscriptionsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListExclusions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: List exclusions that are generated by the assessment run.
      operationId: ListExclusions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListExclusionsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListExclusions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListExclusionsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListFindings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists findings that are generated by the assessment runs that are specified by the ARNs of the assessment runs.
      operationId: ListFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListFindingsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListFindings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.ListRulesPackages':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all available Amazon Inspector rules packages.
      operationId: ListRulesPackages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListRulesPackagesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.ListRulesPackages
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRulesPackagesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/#X-Amz-Target=InspectorService.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all tags associated with an assessment template.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - InspectorService.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
  '/#X-Amz-Target=InspectorService.PreviewAgents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Previews the agents installed on the EC2 instances that are part of the specified assessment target.
      operationId: PreviewAgents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PreviewAgentsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - InspectorService.PreviewAgents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PreviewAgentsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
  '/#X-Amz-Target=InspectorService.RegisterCrossAccountAccessRole':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Registers the IAM role that grants Amazon Inspector access to AWS Services needed to perform security assessments.
      operationId: RegisterCrossAccountAccessRole
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RegisterCrossAccountAccessRoleRequest'
        - enum:
            - InspectorService.RegisterCrossAccountAccessRole
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.RemoveAttributesFromFindings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes entire attributes (key and value pairs) from the findings that are specified by the ARNs of the findings where an attribute with the specified key exists.
      operationId: RemoveAttributesFromFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RemoveAttributesFromFindingsRequest'
        - enum:
            - InspectorService.RemoveAttributesFromFindings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAttributesFromFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.SetTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Sets tags (key and value pairs) to the assessment template that is specified by the ARN of the assessment template.
      operationId: SetTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SetTagsForResourceRequest'
        - enum:
            - InspectorService.SetTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.StartAssessmentRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Starts the assessment run specified by the ARN of the assessment template. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.'
      operationId: StartAssessmentRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartAssessmentRunRequest'
        - enum:
            - InspectorService.StartAssessmentRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartAssessmentRunResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
        '486':
          description: AgentsAlreadyRunningAssessmentException
          schema:
            $ref: '#/definitions/AgentsAlreadyRunningAssessmentException'
        '487':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.StopAssessmentRun':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops the assessment run that is specified by the ARN of the assessment run.
      operationId: StopAssessmentRun
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopAssessmentRunRequest'
        - enum:
            - InspectorService.StopAssessmentRun
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.SubscribeToEvent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Enables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.
      operationId: SubscribeToEvent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SubscribeToEventRequest'
        - enum:
            - InspectorService.SubscribeToEvent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.UnsubscribeFromEvent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.
      operationId: UnsubscribeFromEvent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UnsubscribeFromEventRequest'
        - enum:
            - InspectorService.UnsubscribeFromEvent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
  '/#X-Amz-Target=InspectorService.UpdateAssessmentTarget':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates the assessment target that is specified by the ARN of the assessment target.</p> <p>If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target.</p>'
      operationId: UpdateAssessmentTarget
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAssessmentTargetRequest'
        - enum:
            - InspectorService.UpdateAssessmentTarget
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: ServiceTemporarilyUnavailableException
          schema:
            $ref: '#/definitions/ServiceTemporarilyUnavailableException'
definitions:
  AccessDeniedException: {}
  AddAttributesToFindingsRequest:
    properties:
      attributes:
        $ref: '#/definitions/UserAttributeList'
        description: The array of attributes that you want to assign to specified findings.
      findingArns:
        $ref: '#/definitions/AddRemoveAttributesFindingArnList'
        description: The ARNs that specify the findings that you want to assign attributes to.
    required:
      - findingArns
      - attributes
    type: object
  AddAttributesToFindingsResponse:
    example:
      failedItems: {}
    properties:
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Attribute details that cannot be described. An error code is provided for each failed item.
    required:
      - failedItems
    type: object
  AddRemoveAttributesFindingArnList:
    items:
      $ref: '#/definitions/Arn'
    maxItems: 10
    minItems: 1
    type: array
  AgentFilter:
    description: Contains information about an Amazon Inspector agent. This data type is used as a request parameter in the <a>ListAssessmentRunAgents</a> action.
    properties:
      agentHealthCodes:
        $ref: '#/definitions/AgentHealthCodeList'
        description: 'The detailed health state of the agent. Values can be set to <b>IDLE</b>, <b>RUNNING</b>, <b>SHUTDOWN</b>, <b>UNHEALTHY</b>, <b>THROTTLED</b>, and <b>UNKNOWN</b>. '
      agentHealths:
        $ref: '#/definitions/AgentHealthList'
        description: The current health state of the agent. Values can be set to <b>HEALTHY</b> or <b>UNHEALTHY</b>.
    required:
      - agentHealths
      - agentHealthCodes
    type: object
  AgentHealth:
    enum:
      - HEALTHY
      - UNHEALTHY
      - UNKNOWN
    type: string
  AgentHealthCode:
    enum:
      - IDLE
      - RUNNING
      - SHUTDOWN
      - UNHEALTHY
      - THROTTLED
      - UNKNOWN
    type: string
  AgentHealthCodeList:
    items:
      $ref: '#/definitions/AgentHealthCode'
    maxItems: 10
    minItems: 0
    type: array
  AgentHealthList:
    items:
      $ref: '#/definitions/AgentHealth'
    maxItems: 10
    minItems: 0
    type: array
  AgentId:
    maxLength: 128
    minLength: 1
    type: string
  AgentIdList:
    items:
      $ref: '#/definitions/AgentId'
    maxItems: 99
    minItems: 0
    type: array
  AgentPreview:
    description: Used as a response element in the <a>PreviewAgents</a> action.
    properties:
      agentHealth:
        $ref: '#/definitions/AgentHealth'
        description: The health status of the Amazon Inspector Agent.
      agentId:
        $ref: '#/definitions/AgentId'
        description: The ID of the EC2 instance where the agent is installed.
      agentVersion:
        $ref: '#/definitions/AgentVersion'
        description: The version of the Amazon Inspector Agent.
      autoScalingGroup:
        $ref: '#/definitions/AutoScalingGroup'
        description: The Auto Scaling group for the EC2 instance where the agent is installed.
      hostname:
        $ref: '#/definitions/Hostname'
        description: The hostname of the EC2 instance on which the Amazon Inspector Agent is installed.
      ipv4Address:
        $ref: '#/definitions/Ipv4Address'
        description: The IP address of the EC2 instance on which the Amazon Inspector Agent is installed.
      kernelVersion:
        $ref: '#/definitions/KernelVersion'
        description: The kernel version of the operating system running on the EC2 instance on which the Amazon Inspector Agent is installed.
      operatingSystem:
        $ref: '#/definitions/OperatingSystem'
        description: The operating system running on the EC2 instance on which the Amazon Inspector Agent is installed.
    required:
      - agentId
    type: object
  AgentPreviewList:
    items:
      $ref: '#/definitions/AgentPreview'
    maxItems: 100
    minItems: 0
    type: array
  AgentVersion:
    maxLength: 128
    minLength: 1
    type: string
  AgentsAlreadyRunningAssessmentException: {}
  AmiId:
    maxLength: 256
    minLength: 0
    type: string
  Arn:
    maxLength: 300
    minLength: 1
    type: string
  ArnCount:
    type: integer
  AssessmentRulesPackageArnList:
    items:
      $ref: '#/definitions/Arn'
    maxItems: 50
    minItems: 1
    type: array
  AssessmentRun:
    description: <p>A snapshot of an Amazon Inspector assessment run that contains the findings of the assessment run .</p> <p>Used as the response element in the <a>DescribeAssessmentRuns</a> action.</p>
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment run.
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment template that is associated with the assessment run.
      completedAt:
        $ref: '#/definitions/Timestamp'
        description: The assessment run completion time that corresponds to the rules packages evaluation completion time or failure.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time when <a>StartAssessmentRun</a> was called.
      dataCollected:
        $ref: '#/definitions/Bool'
        description: A Boolean value (true or false) that specifies whether the process of collecting data from the agents is completed.
      durationInSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The duration of the assessment run.
      findingCounts:
        $ref: '#/definitions/AssessmentRunFindingCounts'
        description: Provides a total count of generated findings per severity.
      name:
        $ref: '#/definitions/AssessmentRunName'
        description: The auto-generated name for the assessment run.
      notifications:
        $ref: '#/definitions/AssessmentRunNotificationList'
        description: A list of notifications for the event subscriptions. A notification about a particular generated finding is added to this list only once.
      rulesPackageArns:
        $ref: '#/definitions/AssessmentRulesPackageArnList'
        description: The rules packages selected for the assessment run.
      startedAt:
        $ref: '#/definitions/Timestamp'
        description: The time when <a>StartAssessmentRun</a> was called.
      state:
        $ref: '#/definitions/AssessmentRunState'
        description: The state of the assessment run.
      stateChangedAt:
        $ref: '#/definitions/Timestamp'
        description: The last time when the assessment run's state changed.
      stateChanges:
        $ref: '#/definitions/AssessmentRunStateChangeList'
        description: A list of the assessment run state changes.
      userAttributesForFindings:
        $ref: '#/definitions/UserAttributeList'
        description: The user-defined attributes that are assigned to every generated finding.
    required:
      - arn
      - name
      - assessmentTemplateArn
      - state
      - durationInSeconds
      - rulesPackageArns
      - userAttributesForFindings
      - createdAt
      - stateChangedAt
      - dataCollected
      - stateChanges
      - notifications
      - findingCounts
    type: object
  AssessmentRunAgent:
    description: Contains information about an Amazon Inspector agent. This data type is used as a response element in the <a>ListAssessmentRunAgents</a> action.
    properties:
      agentHealth:
        $ref: '#/definitions/AgentHealth'
        description: The current health state of the agent.
      agentHealthCode:
        $ref: '#/definitions/AgentHealthCode'
        description: The detailed health state of the agent.
      agentHealthDetails:
        $ref: '#/definitions/Message'
        description: The description for the agent health code.
      agentId:
        $ref: '#/definitions/AgentId'
        description: The AWS account of the EC2 instance where the agent is installed.
      assessmentRunArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment run that is associated with the agent.
      autoScalingGroup:
        $ref: '#/definitions/AutoScalingGroup'
        description: The Auto Scaling group of the EC2 instance that is specified by the agent ID.
      telemetryMetadata:
        $ref: '#/definitions/TelemetryMetadataList'
        description: The Amazon Inspector application data metrics that are collected by the agent.
    required:
      - agentId
      - assessmentRunArn
      - agentHealth
      - agentHealthCode
      - telemetryMetadata
    type: object
  AssessmentRunAgentList:
    items:
      $ref: '#/definitions/AssessmentRunAgent'
    maxItems: 500
    minItems: 0
    type: array
  AssessmentRunDuration:
    maximum: 86400
    minimum: 180
    type: integer
  AssessmentRunFilter:
    description: Used as the request parameter in the <a>ListAssessmentRuns</a> action.
    properties:
      completionTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>completedAt</b> property of the <a>AssessmentRun</a> data type.'
      durationRange:
        $ref: '#/definitions/DurationRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>AssessmentRun</a> data type.'
      namePattern:
        $ref: '#/definitions/NamePattern'
        description: 'For a record to match a filter, an explicit value or a string containing a wildcard that is specified for this data type property must match the value of the <b>assessmentRunName</b> property of the <a>AssessmentRun</a> data type.'
      rulesPackageArns:
        $ref: '#/definitions/FilterRulesPackageArnList'
        description: 'For a record to match a filter, the value that is specified for this data type property must be contained in the list of values of the <b>rulesPackages</b> property of the <a>AssessmentRun</a> data type.'
      startTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>startTime</b> property of the <a>AssessmentRun</a> data type.'
      stateChangeTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must match the <b>stateChangedAt</b> property of the <a>AssessmentRun</a> data type.'
      states:
        $ref: '#/definitions/AssessmentRunStateList'
        description: 'For a record to match a filter, one of the values specified for this data type property must be the exact match of the value of the <b>assessmentRunState</b> property of the <a>AssessmentRun</a> data type.'
    type: object
  AssessmentRunFindingCounts:
    additionalProperties:
      $ref: '#/definitions/FindingCount'
    type: object
  AssessmentRunInProgressException: {}
  AssessmentRunList:
    items:
      $ref: '#/definitions/AssessmentRun'
    maxItems: 10
    minItems: 0
    type: array
  AssessmentRunName:
    maxLength: 140
    minLength: 1
    type: string
  AssessmentRunNotification:
    description: Used as one of the elements of the <a>AssessmentRun</a> data type.
    properties:
      date:
        $ref: '#/definitions/Timestamp'
        description: The date of the notification.
      error:
        $ref: '#/definitions/Bool'
        description: The Boolean value that specifies whether the notification represents an error.
      event:
        $ref: '#/definitions/InspectorEvent'
        description: The event for which a notification is sent.
      message:
        $ref: '#/definitions/Message'
        description: The message included in the notification.
      snsPublishStatusCode:
        $ref: '#/definitions/AssessmentRunNotificationSnsStatusCode'
        description: The status code of the SNS notification.
      snsTopicArn:
        $ref: '#/definitions/Arn'
        description: The SNS topic to which the SNS notification is sent.
    required:
      - date
      - event
      - error
    type: object
  AssessmentRunNotificationList:
    items:
      $ref: '#/definitions/AssessmentRunNotification'
    maxItems: 50
    minItems: 0
    type: array
  AssessmentRunNotificationSnsStatusCode:
    enum:
      - SUCCESS
      - TOPIC_DOES_NOT_EXIST
      - ACCESS_DENIED
      - INTERNAL_ERROR
    type: string
  AssessmentRunState:
    enum:
      - CREATED
      - START_DATA_COLLECTION_PENDING
      - START_DATA_COLLECTION_IN_PROGRESS
      - COLLECTING_DATA
      - STOP_DATA_COLLECTION_PENDING
      - DATA_COLLECTED
      - START_EVALUATING_RULES_PENDING
      - EVALUATING_RULES
      - FAILED
      - ERROR
      - COMPLETED
      - COMPLETED_WITH_ERRORS
      - CANCELED
    type: string
  AssessmentRunStateChange:
    description: Used as one of the elements of the <a>AssessmentRun</a> data type.
    properties:
      state:
        $ref: '#/definitions/AssessmentRunState'
        description: The assessment run state.
      stateChangedAt:
        $ref: '#/definitions/Timestamp'
        description: The last time the assessment run state changed.
    required:
      - stateChangedAt
      - state
    type: object
  AssessmentRunStateChangeList:
    items:
      $ref: '#/definitions/AssessmentRunStateChange'
    maxItems: 50
    minItems: 0
    type: array
  AssessmentRunStateList:
    items:
      $ref: '#/definitions/AssessmentRunState'
    maxItems: 50
    minItems: 0
    type: array
  AssessmentTarget:
    description: Contains information about an Amazon Inspector application. This data type is used as the response element in the <a>DescribeAssessmentTargets</a> action.
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the Amazon Inspector assessment target.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which the assessment target is created.
      name:
        $ref: '#/definitions/AssessmentTargetName'
        description: The name of the Amazon Inspector assessment target.
      resourceGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the resource group that is associated with the assessment target.
      updatedAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which <a>UpdateAssessmentTarget</a> is called.
    required:
      - arn
      - name
      - createdAt
      - updatedAt
    type: object
  AssessmentTargetFilter:
    description: Used as the request parameter in the <a>ListAssessmentTargets</a> action.
    properties:
      assessmentTargetNamePattern:
        $ref: '#/definitions/NamePattern'
        description: 'For a record to match a filter, an explicit value or a string that contains a wildcard that is specified for this data type property must match the value of the <b>assessmentTargetName</b> property of the <a>AssessmentTarget</a> data type.'
    type: object
  AssessmentTargetList:
    items:
      $ref: '#/definitions/AssessmentTarget'
    maxItems: 10
    minItems: 0
    type: array
  AssessmentTargetName:
    maxLength: 140
    minLength: 1
    type: string
  AssessmentTemplate:
    description: Contains information about an Amazon Inspector assessment template. This data type is used as the response element in the <a>DescribeAssessmentTemplates</a> action.
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment template.
      assessmentRunCount:
        $ref: '#/definitions/ArnCount'
        description: The number of existing assessment runs associated with this assessment template. This value can be zero or a positive integer.
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment target that corresponds to this assessment template.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which the assessment template is created.
      durationInSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The duration in seconds specified for this assessment template. The default value is 3600 seconds (one hour). The maximum value is 86400 seconds (one day).
      lastAssessmentRunArn:
        $ref: '#/definitions/Arn'
        description: The Amazon Resource Name (ARN) of the most recent assessment run associated with this assessment template. This value exists only when the value of assessmentRunCount is greaterpa than zero.
      name:
        $ref: '#/definitions/AssessmentTemplateName'
        description: The name of the assessment template.
      rulesPackageArns:
        $ref: '#/definitions/AssessmentTemplateRulesPackageArnList'
        description: The rules packages that are specified for this assessment template.
      userAttributesForFindings:
        $ref: '#/definitions/UserAttributeList'
        description: The user-defined attributes that are assigned to every generated finding from the assessment run that uses this assessment template.
    required:
      - arn
      - name
      - assessmentTargetArn
      - durationInSeconds
      - rulesPackageArns
      - userAttributesForFindings
      - assessmentRunCount
      - createdAt
    type: object
  AssessmentTemplateFilter:
    description: Used as the request parameter in the <a>ListAssessmentTemplates</a> action.
    properties:
      durationRange:
        $ref: '#/definitions/DurationRange'
        description: 'For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>AssessmentTemplate</a> data type.'
      namePattern:
        $ref: '#/definitions/NamePattern'
        description: 'For a record to match a filter, an explicit value or a string that contains a wildcard that is specified for this data type property must match the value of the <b>assessmentTemplateName</b> property of the <a>AssessmentTemplate</a> data type.'
      rulesPackageArns:
        $ref: '#/definitions/FilterRulesPackageArnList'
        description: 'For a record to match a filter, the values that are specified for this data type property must be contained in the list of values of the <b>rulesPackageArns</b> property of the <a>AssessmentTemplate</a> data type.'
    type: object
  AssessmentTemplateList:
    items:
      $ref: '#/definitions/AssessmentTemplate'
    maxItems: 10
    minItems: 0
    type: array
  AssessmentTemplateName:
    maxLength: 140
    minLength: 1
    type: string
  AssessmentTemplateRulesPackageArnList:
    items:
      $ref: '#/definitions/Arn'
    maxItems: 50
    minItems: 0
    type: array
  AssetAttributes:
    description: A collection of attributes of the host from which the finding is generated.
    properties:
      agentId:
        $ref: '#/definitions/AgentId'
        description: The ID of the agent that is installed on the EC2 instance where the finding is generated.
      amiId:
        $ref: '#/definitions/AmiId'
        description: The ID of the Amazon Machine Image (AMI) that is installed on the EC2 instance where the finding is generated.
      autoScalingGroup:
        $ref: '#/definitions/AutoScalingGroup'
        description: The Auto Scaling group of the EC2 instance where the finding is generated.
      hostname:
        $ref: '#/definitions/Hostname'
        description: The hostname of the EC2 instance where the finding is generated.
      ipv4Addresses:
        $ref: '#/definitions/Ipv4AddressList'
        description: The list of IP v4 addresses of the EC2 instance where the finding is generated.
      networkInterfaces:
        $ref: '#/definitions/NetworkInterfaces'
        description: An array of the network interfaces interacting with the EC2 instance where the finding is generated.
      schemaVersion:
        $ref: '#/definitions/NumericVersion'
        description: The schema version of this data type.
      tags:
        $ref: '#/definitions/Tags'
        description: The tags related to the EC2 instance where the finding is generated.
    required:
      - schemaVersion
    type: object
  AssetType:
    enum:
      - ec2-instance
    type: string
  Attribute:
    description: This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.
    properties:
      key:
        $ref: '#/definitions/AttributeKey'
        description: The attribute key.
      value:
        $ref: '#/definitions/AttributeValue'
        description: The value assigned to the attribute key.
    required:
      - key
    type: object
  AttributeKey:
    maxLength: 128
    minLength: 1
    type: string
  AttributeList:
    items:
      $ref: '#/definitions/Attribute'
    maxItems: 50
    minItems: 0
    type: array
  AttributeValue:
    maxLength: 256
    minLength: 1
    type: string
  AutoScalingGroup:
    maxLength: 256
    minLength: 1
    type: string
  AutoScalingGroupList:
    items:
      $ref: '#/definitions/AutoScalingGroup'
    maxItems: 20
    minItems: 0
    type: array
  BatchDescribeArnList:
    items:
      $ref: '#/definitions/Arn'
    maxItems: 10
    minItems: 1
    type: array
  BatchDescribeExclusionsArnList:
    items:
      $ref: '#/definitions/Arn'
    maxItems: 100
    minItems: 1
    type: array
  Bool:
    type: boolean
  CreateAssessmentTargetRequest:
    properties:
      assessmentTargetName:
        $ref: '#/definitions/AssessmentTargetName'
        description: The user-defined name that identifies the assessment target that you want to create. The name must be unique within the AWS account.
      resourceGroupArn:
        $ref: '#/definitions/Arn'
        description: 'The ARN that specifies the resource group that is used to create the assessment target. If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target.'
    required:
      - assessmentTargetName
    type: object
  CreateAssessmentTargetResponse:
    example:
      assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX'
    properties:
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment target that is created.
    required:
      - assessmentTargetArn
    type: object
  CreateAssessmentTemplateRequest:
    properties:
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment target for which you want to create the assessment template.
      assessmentTemplateName:
        $ref: '#/definitions/AssessmentTemplateName'
        description: The user-defined name that identifies the assessment template that you want to create. You can create several assessment templates for an assessment target. The names of the assessment templates that correspond to a particular assessment target must be unique.
      durationInSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The duration of the assessment run in seconds.
      rulesPackageArns:
        $ref: '#/definitions/AssessmentTemplateRulesPackageArnList'
        description: The ARNs that specify the rules packages that you want to attach to the assessment template.
      userAttributesForFindings:
        $ref: '#/definitions/UserAttributeList'
        description: 'The user-defined attributes that are assigned to every finding that is generated by the assessment run that uses this assessment template. An attribute is a key and value pair (an <a>Attribute</a> object). Within an assessment template, each key must be unique.'
    required:
      - assessmentTargetArn
      - assessmentTemplateName
      - durationInSeconds
      - rulesPackageArns
    type: object
  CreateAssessmentTemplateResponse:
    example:
      assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T'
    properties:
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment template that is created.
    required:
      - assessmentTemplateArn
    type: object
  CreateExclusionsPreviewRequest:
    properties:
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment template for which you want to create an exclusions preview.
    required:
      - assessmentTemplateArn
    type: object
  CreateExclusionsPreviewResponse:
    properties:
      previewToken:
        $ref: '#/definitions/UUID'
        description: Specifies the unique identifier of the requested exclusions preview. You can use the unique identifier to retrieve the exclusions preview when running the GetExclusionsPreview API.
    required:
      - previewToken
    type: object
  CreateResourceGroupRequest:
    properties:
      resourceGroupTags:
        $ref: '#/definitions/ResourceGroupTags'
        description: '<p>A collection of keys and an array of possible values, ''[{"key":"key1","values":["Value1","Value2"]},{"key":"Key2","values":["Value3"]}]''.</p> <p>For example,''[{"key":"Name","values":["TestEC2Instance"]}]''.</p>'
    required:
      - resourceGroupTags
    type: object
  CreateResourceGroupResponse:
    example:
      resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv'
    properties:
      resourceGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the resource group that is created.
    required:
      - resourceGroupArn
    type: object
  DeleteAssessmentRunRequest:
    properties:
      assessmentRunArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment run that you want to delete.
    required:
      - assessmentRunArn
    type: object
  DeleteAssessmentTargetRequest:
    properties:
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment target that you want to delete.
    required:
      - assessmentTargetArn
    type: object
  DeleteAssessmentTemplateRequest:
    properties:
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment template that you want to delete.
    required:
      - assessmentTemplateArn
    type: object
  DescribeAssessmentRunsRequest:
    properties:
      assessmentRunArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARN that specifies the assessment run that you want to describe.
    required:
      - assessmentRunArns
    type: object
  DescribeAssessmentRunsResponse:
    example:
      assessmentRuns:
        - arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
          assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
          completedAt: '1458680301.4'
          createdAt: '1458680170.035'
          dataCollected: true
          durationInSeconds: 3600
          findingCounts:
            High: 14
            Informational: 0
            Low: 0
            Medium: 2
            Undefined: 0
          name: Run 1 for ExampleAssessmentTemplate
          notifications: []
          rulesPackageArns:
            - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
          startedAt: '1458680170.161'
          state: COMPLETED
          stateChangedAt: '1458680301.4'
          stateChanges:
            - state: CREATED
              stateChangedAt: '1458680170.035'
            - state: START_DATA_COLLECTION_PENDING
              stateChangedAt: '1458680170.065'
            - state: START_DATA_COLLECTION_IN_PROGRESS
              stateChangedAt: '1458680170.096'
            - state: COLLECTING_DATA
              stateChangedAt: '1458680170.161'
            - state: STOP_DATA_COLLECTION_PENDING
              stateChangedAt: '1458680239.883'
            - state: DATA_COLLECTED
              stateChangedAt: '1458680299.847'
            - state: EVALUATING_RULES
              stateChangedAt: '1458680300.099'
            - state: COMPLETED
              stateChangedAt: '1458680301.4'
          userAttributesForFindings: []
      failedItems: {}
    properties:
      assessmentRuns:
        $ref: '#/definitions/AssessmentRunList'
        description: Information about the assessment run.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Assessment run details that cannot be described. An error code is provided for each failed item.
    required:
      - assessmentRuns
      - failedItems
    type: object
  DescribeAssessmentTargetsRequest:
    properties:
      assessmentTargetArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARNs that specifies the assessment targets that you want to describe.
    required:
      - assessmentTargetArns
    type: object
  DescribeAssessmentTargetsResponse:
    example:
      assessmentTargets:
        - arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
          createdAt: '1458074191.459'
          name: ExampleAssessmentTarget
          resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
          updatedAt: '1458074191.459'
      failedItems: {}
    properties:
      assessmentTargets:
        $ref: '#/definitions/AssessmentTargetList'
        description: Information about the assessment targets.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Assessment target details that cannot be described. An error code is provided for each failed item.
    required:
      - assessmentTargets
      - failedItems
    type: object
  DescribeAssessmentTemplatesRequest:
    properties:
      assessmentTemplateArns:
        $ref: '#/definitions/BatchDescribeArnList'
    required:
      - assessmentTemplateArns
    type: object
  DescribeAssessmentTemplatesResponse:
    example:
      assessmentTemplates:
        - arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
          assessmentRunCount: 0
          assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
          createdAt: '1458074191.844'
          durationInSeconds: 3600
          name: ExampleAssessmentTemplate
          rulesPackageArns:
            - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
          userAttributesForFindings: []
      failedItems: {}
    properties:
      assessmentTemplates:
        $ref: '#/definitions/AssessmentTemplateList'
        description: Information about the assessment templates.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Assessment template details that cannot be described. An error code is provided for each failed item.
    required:
      - assessmentTemplates
      - failedItems
    type: object
  DescribeCrossAccountAccessRoleResponse:
    example:
      registeredAt: '1458069182.826'
      roleArn: 'arn:aws:iam::123456789012:role/inspector'
      valid: true
    properties:
      registeredAt:
        $ref: '#/definitions/Timestamp'
        description: The date when the cross-account access role was registered.
      roleArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the IAM role that Amazon Inspector uses to access your AWS account.
      valid:
        $ref: '#/definitions/Bool'
        description: A Boolean value that specifies whether the IAM role has the necessary policies attached to enable Amazon Inspector to access your AWS account.
    required:
      - roleArn
      - valid
      - registeredAt
    type: object
  DescribeExclusionsRequest:
    properties:
      exclusionArns:
        $ref: '#/definitions/BatchDescribeExclusionsArnList'
        description: The list of ARNs that specify the exclusions that you want to describe.
      locale:
        $ref: '#/definitions/Locale'
        description: 'The locale into which you want to translate the exclusion''s title, description, and recommendation.'
    required:
      - exclusionArns
    type: object
  DescribeExclusionsResponse:
    properties:
      exclusions:
        $ref: '#/definitions/ExclusionMap'
        description: Information about the exclusions.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Exclusion details that cannot be described. An error code is provided for each failed item.
    required:
      - exclusions
      - failedItems
    type: object
  DescribeFindingsRequest:
    properties:
      findingArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARN that specifies the finding that you want to describe.
[...]
