swagger: '2.0'
info:
  version: '2016-02-16'
  x-release: v4
  title: Amazon Inspector
  description: '<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href="http://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html"> Amazon Inspector User Guide</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: inspector
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/inspector-2016-02-16.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/inspector/'
host: inspector.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddAttributesToFindings
      description: Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddAttributesToFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddAttributesToFindingsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAssessmentTarget':
    post:
      operationId: CreateAssessmentTarget
      description: 'Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. If the <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html">service-linked role</a> isn’t already registered, also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href="http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html"> Amazon Inspector Assessment Targets</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssessmentTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAssessmentTargetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAssessmentTemplate':
    post:
      operationId: CreateAssessmentTemplate
      description: 'Creates an assessment template for the assessment target that is specified by the ARN of the assessment target. If the <a href="https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html">service-linked role</a> isn’t already registered, also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssessmentTemplateResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAssessmentTemplateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateResourceGroup':
    post:
      operationId: CreateResourceGroup
      description: 'Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceGroupResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceGroupRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteAssessmentRun':
    post:
      operationId: DeleteAssessmentRun
      description: Deletes the assessment run that is specified by the ARN of the assessment run.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssessmentRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteAssessmentTarget':
    post:
      operationId: DeleteAssessmentTarget
      description: Deletes the assessment target that is specified by the ARN of the assessment target.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssessmentTargetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteAssessmentTemplate':
    post:
      operationId: DeleteAssessmentTemplate
      description: Deletes the assessment template that is specified by the ARN of the assessment template.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssessmentTemplateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAssessmentRuns':
    post:
      operationId: DescribeAssessmentRuns
      description: Describes the assessment runs that are specified by the ARNs of the assessment runs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssessmentRunsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssessmentRunsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAssessmentTargets':
    post:
      operationId: DescribeAssessmentTargets
      description: Describes the assessment targets that are specified by the ARNs of the assessment targets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssessmentTargetsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssessmentTargetsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAssessmentTemplates':
    post:
      operationId: DescribeAssessmentTemplates
      description: Describes the assessment templates that are specified by the ARNs of the assessment templates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssessmentTemplatesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssessmentTemplatesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCrossAccountAccessRole':
    post:
      operationId: DescribeCrossAccountAccessRole
      description: Describes the IAM role that enables Amazon Inspector to access your AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCrossAccountAccessRoleResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeFindings':
    post:
      operationId: DescribeFindings
      description: Describes the findings that are specified by the ARNs of the findings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeFindingsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeResourceGroups':
    post:
      operationId: DescribeResourceGroups
      description: Describes the resource groups that are specified by the ARNs of the resource groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourceGroupsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResourceGroupsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeRulesPackages':
    post:
      operationId: DescribeRulesPackages
      description: Describes the rules packages that are specified by the ARNs of the rules packages.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRulesPackagesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRulesPackagesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAssessmentReport':
    post:
      operationId: GetAssessmentReport
      description: 'Produces an assessment report that includes detailed and comprehensive results of a specified assessment run. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssessmentReportResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: AssessmentRunInProgressException
          schema:
            $ref: '#/definitions/AssessmentRunInProgressException'
        '485':
          description: UnsupportedFeatureException
          schema:
            $ref: '#/definitions/UnsupportedFeatureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAssessmentReportRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetTelemetryMetadata':
    post:
      operationId: GetTelemetryMetadata
      description: Information about the data that is collected for the specified assessment run.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTelemetryMetadataResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTelemetryMetadataRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentRunAgents':
    post:
      operationId: ListAssessmentRunAgents
      description: Lists the agents of the assessment runs that are specified by the ARNs of the assessment runs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentRunAgentsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentRunAgentsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentRuns':
    post:
      operationId: ListAssessmentRuns
      description: Lists the assessment runs that correspond to the assessment templates that are specified by the ARNs of the assessment templates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentRunsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentRunsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentTargets':
    post:
      operationId: ListAssessmentTargets
      description: 'Lists the ARNs of the assessment targets within this AWS account. For more information about assessment targets, see <a href="http://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html">Amazon Inspector Assessment Targets</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentTargetsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentTargetsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListAssessmentTemplates':
    post:
      operationId: ListAssessmentTemplates
      description: Lists the assessment templates that correspond to the assessment targets that are specified by the ARNs of the assessment targets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAssessmentTemplatesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAssessmentTemplatesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListEventSubscriptions':
    post:
      operationId: ListEventSubscriptions
      description: 'Lists all the event subscriptions for the assessment template that is specified by the ARN of the assessment template. For more information, see <a>SubscribeToEvent</a> and <a>UnsubscribeFromEvent</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEventSubscriptionsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListEventSubscriptionsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListFindings':
    post:
      operationId: ListFindings
      description: Lists findings that are generated by the assessment runs that are specified by the ARNs of the assessment runs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListFindingsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListRulesPackages':
    post:
      operationId: ListRulesPackages
      description: Lists all available Amazon Inspector rules packages.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRulesPackagesResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListRulesPackagesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Lists all tags associated with an assessment template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PreviewAgents':
    post:
      operationId: PreviewAgents
      description: Previews the agents installed on the EC2 instances that are part of the specified assessment target.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PreviewAgentsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '484':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PreviewAgentsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterCrossAccountAccessRole':
    post:
      operationId: RegisterCrossAccountAccessRole
      description: Registers the IAM role that grants Amazon Inspector access to AWS Services needed to perform security assessments.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterCrossAccountAccessRoleRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveAttributesFromFindings':
    post:
      operationId: RemoveAttributesFromFindings
      description: Removes entire attributes (key and value pairs) from the findings that are specified by the ARNs of the findings where an attribute with the specified key exists.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAttributesFromFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveAttributesFromFindingsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetTagsForResource':
    post:
      operationId: SetTagsForResource
      description: Sets tags (key and value pairs) to the assessment template that is specified by the ARN of the assessment template.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetTagsForResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartAssessmentRun':
    post:
      operationId: StartAssessmentRun
      description: 'Starts the assessment run specified by the ARN of the assessment template. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartAssessmentRunResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
        '485':
          description: InvalidCrossAccountRoleException
          schema:
            $ref: '#/definitions/InvalidCrossAccountRoleException'
        '486':
          description: AgentsAlreadyRunningAssessmentException
          schema:
            $ref: '#/definitions/AgentsAlreadyRunningAssessmentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartAssessmentRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopAssessmentRun':
    post:
      operationId: StopAssessmentRun
      description: Stops the assessment run that is specified by the ARN of the assessment run.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopAssessmentRunRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SubscribeToEvent':
    post:
      operationId: SubscribeToEvent
      description: Enables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '484':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SubscribeToEventRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UnsubscribeFromEvent':
    post:
      operationId: UnsubscribeFromEvent
      description: Disables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnsubscribeFromEventRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateAssessmentTarget':
    post:
      operationId: UpdateAssessmentTarget
      description: Updates the assessment target that is specified by the ARN of the assessment target.
      responses:
        '200':
          description: Success
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: NoSuchEntityException
          schema:
            $ref: '#/definitions/NoSuchEntityException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAssessmentTargetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AccessDeniedErrorCode:
    type: string
    enum:
      - ACCESS_DENIED_TO_ASSESSMENT_TARGET
      - ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE
      - ACCESS_DENIED_TO_ASSESSMENT_RUN
      - ACCESS_DENIED_TO_FINDING
      - ACCESS_DENIED_TO_RESOURCE_GROUP
      - ACCESS_DENIED_TO_RULES_PACKAGE
      - ACCESS_DENIED_TO_SNS_TOPIC
      - ACCESS_DENIED_TO_IAM_ROLE
  AccessDeniedException:
    type: object
    required:
      - message
      - errorCode
      - canRetry
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: Details of the exception error.
      errorCode:
        $ref: '#/definitions/AccessDeniedErrorCode'
        description: Code that indicates the type of error that is generated.
      canRetry:
        $ref: '#/definitions/Bool'
        description: You can immediately retry your request.
    description: You do not have required permissions to access the requested resource.
  AddAttributesToFindingsRequest:
    type: object
    required:
      - findingArns
      - attributes
    example:
      attributes:
        - key: Example
          value: example
      findingArns:
        - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-8l1VIE0D/run/0-Z02cjjug/finding/0-T8yM9mEU'
    properties:
      findingArns:
        $ref: '#/definitions/AddRemoveAttributesFindingArnList'
        description: The ARNs that specify the findings that you want to assign attributes to.
      attributes:
        $ref: '#/definitions/UserAttributeList'
        description: The array of attributes that you want to assign to specified findings.
  AddAttributesToFindingsResponse:
    type: object
    required:
      - failedItems
    example:
      failedItems: {}
    properties:
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Attribute details that cannot be described. An error code is provided for each failed item.
  AddRemoveAttributesFindingArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
    minItems: 1
    maxItems: 10
  AgentAlreadyRunningAssessment:
    type: object
    required:
      - agentId
      - assessmentRunArn
    properties:
      agentId:
        $ref: '#/definitions/AgentId'
        description: ID of the agent that is running on an EC2 instance that is already participating in another started assessment run.
      assessmentRunArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment run that has already been started.
    description: Used in the exception error that is thrown if you start an assessment run for an assessment target that includes an EC2 instance that is already participating in another started assessment run.
  AgentAlreadyRunningAssessmentList:
    type: array
    items:
      $ref: '#/definitions/AgentAlreadyRunningAssessment'
    minItems: 1
    maxItems: 10
  AgentFilter:
    type: object
    required:
      - agentHealths
      - agentHealthCodes
    properties:
      agentHealths:
        $ref: '#/definitions/AgentHealthList'
        description: The current health state of the agent. Values can be set to <b>HEALTHY</b> or <b>UNHEALTHY</b>.
      agentHealthCodes:
        $ref: '#/definitions/AgentHealthCodeList'
        description: 'The detailed health state of the agent. Values can be set to <b>IDLE</b>, <b>RUNNING</b>, <b>SHUTDOWN</b>, <b>UNHEALTHY</b>, <b>THROTTLED</b>, and <b>UNKNOWN</b>. '
    description: Contains information about an Amazon Inspector agent. This data type is used as a request parameter in the <a>ListAssessmentRunAgents</a> action.
  AgentHealth:
    type: string
    enum:
      - HEALTHY
      - UNHEALTHY
      - UNKNOWN
  AgentHealthCode:
    type: string
    enum:
      - IDLE
      - RUNNING
      - SHUTDOWN
      - UNHEALTHY
      - THROTTLED
      - UNKNOWN
  AgentHealthCodeList:
    type: array
    items:
      $ref: '#/definitions/AgentHealthCode'
    minItems: 0
    maxItems: 10
  AgentHealthList:
    type: array
    items:
      $ref: '#/definitions/AgentHealth'
    minItems: 0
    maxItems: 10
  AgentId:
    type: string
    minLength: 1
    maxLength: 128
  AgentIdList:
    type: array
    items:
      $ref: '#/definitions/AgentId'
    minItems: 0
    maxItems: 500
  AgentPreview:
    type: object
    required:
      - agentId
    properties:
      hostname:
        $ref: '#/definitions/Hostname'
        description: The hostname of the EC2 instance on which the Amazon Inspector Agent is installed.
      agentId:
        $ref: '#/definitions/AgentId'
        description: The ID of the EC2 instance where the agent is installed.
      autoScalingGroup:
        $ref: '#/definitions/AutoScalingGroup'
        description: The Auto Scaling group for the EC2 instance where the agent is installed.
      agentHealth:
        $ref: '#/definitions/AgentHealth'
        description: The health status of the Amazon Inspector Agent.
      agentVersion:
        $ref: '#/definitions/AgentVersion'
        description: The version of the Amazon Inspector Agent.
      operatingSystem:
        $ref: '#/definitions/OperatingSystem'
        description: The operating system running on the EC2 instance on which the Amazon Inspector Agent is installed.
      kernelVersion:
        $ref: '#/definitions/KernelVersion'
        description: The kernel version of the operating system running on the EC2 instance on which the Amazon Inspector Agent is installed.
      ipv4Address:
        $ref: '#/definitions/Ipv4Address'
        description: The IP address of the EC2 instance on which the Amazon Inspector Agent is installed.
    description: Used as a response element in the <a>PreviewAgents</a> action.
  AgentPreviewList:
    type: array
    items:
      $ref: '#/definitions/AgentPreview'
    minItems: 0
    maxItems: 100
  AgentVersion:
    type: string
    minLength: 1
    maxLength: 128
  AgentsAlreadyRunningAssessmentException:
    type: object
    required:
      - message
      - agents
      - agentsTruncated
      - canRetry
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: Details of the exception error.
      agents:
        $ref: '#/definitions/AgentAlreadyRunningAssessmentList'
        description: <p/>
      agentsTruncated:
        $ref: '#/definitions/Bool'
        description: <p/>
      canRetry:
        $ref: '#/definitions/Bool'
        description: You can immediately retry your request.
    description: 'You started an assessment run, but one of the instances is already participating in another assessment run.'
  AmiId:
    type: string
    minLength: 0
    maxLength: 256
  Arn:
    type: string
    minLength: 1
    maxLength: 300
  AssessmentRulesPackageArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
    minItems: 1
    maxItems: 50
  AssessmentRun:
    type: object
    required:
      - arn
      - name
      - assessmentTemplateArn
      - state
      - durationInSeconds
      - rulesPackageArns
      - userAttributesForFindings
      - createdAt
      - stateChangedAt
      - dataCollected
      - stateChanges
      - notifications
      - findingCounts
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment run.
      name:
        $ref: '#/definitions/AssessmentRunName'
        description: The auto-generated name for the assessment run.
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment template that is associated with the assessment run.
      state:
        $ref: '#/definitions/AssessmentRunState'
        description: The state of the assessment run.
      durationInSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The duration of the assessment run.
      rulesPackageArns:
        $ref: '#/definitions/AssessmentRulesPackageArnList'
        description: The rules packages selected for the assessment run.
      userAttributesForFindings:
        $ref: '#/definitions/UserAttributeList'
        description: The user-defined attributes that are assigned to every generated finding.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time when <a>StartAssessmentRun</a> was called.
      startedAt:
        $ref: '#/definitions/Timestamp'
        description: The time when <a>StartAssessmentRun</a> was called.
      completedAt:
        $ref: '#/definitions/Timestamp'
        description: The assessment run completion time that corresponds to the rules packages evaluation completion time or failure.
      stateChangedAt:
        $ref: '#/definitions/Timestamp'
        description: The last time when the assessment run's state changed.
      dataCollected:
        $ref: '#/definitions/Bool'
        description: A Boolean value (true or false) that specifies whether the process of collecting data from the agents is completed.
      stateChanges:
        $ref: '#/definitions/AssessmentRunStateChangeList'
        description: A list of the assessment run state changes.
      notifications:
        $ref: '#/definitions/AssessmentRunNotificationList'
        description: A list of notifications for the event subscriptions. A notification about a particular generated finding is added to this list only once.
      findingCounts:
        $ref: '#/definitions/AssessmentRunFindingCounts'
        description: Provides a total count of generated findings per severity.
    description: <p>A snapshot of an Amazon Inspector assessment run that contains the findings of the assessment run .</p> <p>Used as the response element in the <a>DescribeAssessmentRuns</a> action.</p>
  AssessmentRunAgent:
    type: object
    required:
      - agentId
      - assessmentRunArn
      - agentHealth
      - agentHealthCode
      - telemetryMetadata
    properties:
      agentId:
        $ref: '#/definitions/AgentId'
        description: The AWS account of the EC2 instance where the agent is installed.
      assessmentRunArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment run that is associated with the agent.
      agentHealth:
        $ref: '#/definitions/AgentHealth'
        description: The current health state of the agent.
      agentHealthCode:
        $ref: '#/definitions/AgentHealthCode'
        description: The detailed health state of the agent.
      agentHealthDetails:
        $ref: '#/definitions/Message'
        description: The description for the agent health code.
      autoScalingGroup:
        $ref: '#/definitions/AutoScalingGroup'
        description: The Auto Scaling group of the EC2 instance that is specified by the agent ID.
      telemetryMetadata:
        $ref: '#/definitions/TelemetryMetadataList'
        description: The Amazon Inspector application data metrics that are collected by the agent.
    description: Contains information about an Amazon Inspector agent. This data type is used as a response element in the <a>ListAssessmentRunAgents</a> action.
  AssessmentRunAgentList:
    type: array
    items:
      $ref: '#/definitions/AssessmentRunAgent'
    minItems: 0
    maxItems: 500
  AssessmentRunDuration:
    type: integer
    minimum: 180
    maximum: 86400
  AssessmentRunFilter:
    type: object
    properties:
      namePattern:
        $ref: '#/definitions/NamePattern'
        description: 'For a record to match a filter, an explicit value or a string containing a wildcard that is specified for this data type property must match the value of the <b>assessmentRunName</b> property of the <a>AssessmentRun</a> data type.'
      states:
        $ref: '#/definitions/AssessmentRunStateList'
        description: 'For a record to match a filter, one of the values specified for this data type property must be the exact match of the value of the <b>assessmentRunState</b> property of the <a>AssessmentRun</a> data type.'
      durationRange:
        $ref: '#/definitions/DurationRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>AssessmentRun</a> data type.'
      rulesPackageArns:
        $ref: '#/definitions/FilterRulesPackageArnList'
        description: 'For a record to match a filter, the value that is specified for this data type property must be contained in the list of values of the <b>rulesPackages</b> property of the <a>AssessmentRun</a> data type.'
      startTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>startTime</b> property of the <a>AssessmentRun</a> data type.'
      completionTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>completedAt</b> property of the <a>AssessmentRun</a> data type.'
      stateChangeTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: 'For a record to match a filter, the value that is specified for this data type property must match the <b>stateChangedAt</b> property of the <a>AssessmentRun</a> data type.'
    description: Used as the request parameter in the <a>ListAssessmentRuns</a> action.
  AssessmentRunFindingCounts:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/Severity'
        value:
          $ref: '#/definitions/FindingCount'
  AssessmentRunInProgressArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
    minItems: 1
    maxItems: 10
  AssessmentRunInProgressException:
    type: object
    required:
      - message
      - assessmentRunArns
      - assessmentRunArnsTruncated
      - canRetry
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: Details of the exception error.
      assessmentRunArns:
        $ref: '#/definitions/AssessmentRunInProgressArnList'
        description: The ARNs of the assessment runs that are currently in progress.
      assessmentRunArnsTruncated:
        $ref: '#/definitions/Bool'
        description: Boolean value that indicates whether the ARN list of the assessment runs is truncated.
      canRetry:
        $ref: '#/definitions/Bool'
        description: You can immediately retry your request.
    description: You cannot perform a specified action if an assessment run is currently in progress.
  AssessmentRunList:
    type: array
    items:
      $ref: '#/definitions/AssessmentRun'
    minItems: 0
    maxItems: 10
  AssessmentRunName:
    type: string
    minLength: 1
    maxLength: 140
  AssessmentRunNotification:
    type: object
    required:
      - date
      - event
      - error
    properties:
      date:
        $ref: '#/definitions/Timestamp'
        description: The date of the notification.
      event:
        $ref: '#/definitions/InspectorEvent'
        description: The event for which a notification is sent.
      message:
        $ref: '#/definitions/Message'
        description: The message included in the notification.
      error:
        $ref: '#/definitions/Bool'
        description: The Boolean value that specifies whether the notification represents an error.
      snsTopicArn:
        $ref: '#/definitions/Arn'
        description: The SNS topic to which the SNS notification is sent.
      snsPublishStatusCode:
        $ref: '#/definitions/AssessmentRunNotificationSnsStatusCode'
        description: The status code of the SNS notification.
    description: Used as one of the elements of the <a>AssessmentRun</a> data type.
  AssessmentRunNotificationList:
    type: array
    items:
      $ref: '#/definitions/AssessmentRunNotification'
    minItems: 0
    maxItems: 50
  AssessmentRunNotificationSnsStatusCode:
    type: string
    enum:
      - SUCCESS
      - TOPIC_DOES_NOT_EXIST
      - ACCESS_DENIED
      - INTERNAL_ERROR
  AssessmentRunState:
    type: string
    enum:
      - CREATED
      - START_DATA_COLLECTION_PENDING
      - START_DATA_COLLECTION_IN_PROGRESS
      - COLLECTING_DATA
      - STOP_DATA_COLLECTION_PENDING
      - DATA_COLLECTED
      - START_EVALUATING_RULES_PENDING
      - EVALUATING_RULES
      - FAILED
      - ERROR
      - COMPLETED
      - COMPLETED_WITH_ERRORS
      - CANCELED
  AssessmentRunStateChange:
    type: object
    required:
      - stateChangedAt
      - state
    properties:
      stateChangedAt:
        $ref: '#/definitions/Timestamp'
        description: The last time the assessment run state changed.
      state:
        $ref: '#/definitions/AssessmentRunState'
        description: The assessment run state.
    description: Used as one of the elements of the <a>AssessmentRun</a> data type.
  AssessmentRunStateChangeList:
    type: array
    items:
      $ref: '#/definitions/AssessmentRunStateChange'
    minItems: 0
    maxItems: 50
  AssessmentRunStateList:
    type: array
    items:
      $ref: '#/definitions/AssessmentRunState'
    minItems: 0
    maxItems: 50
  AssessmentTarget:
    type: object
    required:
      - arn
      - name
      - resourceGroupArn
      - createdAt
      - updatedAt
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the Amazon Inspector assessment target.
      name:
        $ref: '#/definitions/AssessmentTargetName'
        description: The name of the Amazon Inspector assessment target.
      resourceGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the resource group that is associated with the assessment target.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which the assessment target is created.
      updatedAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which <a>UpdateAssessmentTarget</a> is called.
    description: Contains information about an Amazon Inspector application. This data type is used as the response element in the <a>DescribeAssessmentTargets</a> action.
  AssessmentTargetFilter:
    type: object
    properties:
      assessmentTargetNamePattern:
        $ref: '#/definitions/NamePattern'
        description: 'For a record to match a filter, an explicit value or a string that contains a wildcard that is specified for this data type property must match the value of the <b>assessmentTargetName</b> property of the <a>AssessmentTarget</a> data type.'
    description: Used as the request parameter in the <a>ListAssessmentTargets</a> action.
  AssessmentTargetList:
    type: array
    items:
      $ref: '#/definitions/AssessmentTarget'
    minItems: 0
    maxItems: 10
  AssessmentTargetName:
    type: string
    minLength: 1
    maxLength: 140
  AssessmentTemplate:
    type: object
    required:
      - arn
      - name
      - assessmentTargetArn
      - durationInSeconds
      - rulesPackageArns
      - userAttributesForFindings
      - createdAt
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment template.
      name:
        $ref: '#/definitions/AssessmentTemplateName'
        description: The name of the assessment template.
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the assessment target that corresponds to this assessment template.
      durationInSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The duration in seconds specified for this assessment tempate. The default value is 3600 seconds (one hour). The maximum value is 86400 seconds (one day).
      rulesPackageArns:
        $ref: '#/definitions/AssessmentTemplateRulesPackageArnList'
        description: The rules packages that are specified for this assessment template.
      userAttributesForFindings:
        $ref: '#/definitions/UserAttributeList'
        description: The user-defined attributes that are assigned to every generated finding from the assessment run that uses this assessment template.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which the assessment template is created.
    description: Contains information about an Amazon Inspector assessment template. This data type is used as the response element in the <a>DescribeAssessmentTemplates</a> action.
  AssessmentTemplateFilter:
    type: object
    properties:
      namePattern:
        $ref: '#/definitions/NamePattern'
        description: 'For a record to match a filter, an explicit value or a string that contains a wildcard that is specified for this data type property must match the value of the <b>assessmentTemplateName</b> property of the <a>AssessmentTemplate</a> data type.'
      durationRange:
        $ref: '#/definitions/DurationRange'
        description: 'For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>AssessmentTemplate</a> data type.'
      rulesPackageArns:
        $ref: '#/definitions/FilterRulesPackageArnList'
        description: 'For a record to match a filter, the values that are specified for this data type property must be contained in the list of values of the <b>rulesPackageArns</b> property of the <a>AssessmentTemplate</a> data type.'
    description: Used as the request parameter in the <a>ListAssessmentTemplates</a> action.
  AssessmentTemplateList:
    type: array
    items:
      $ref: '#/definitions/AssessmentTemplate'
    minItems: 0
    maxItems: 10
  AssessmentTemplateName:
    type: string
    minLength: 1
    maxLength: 140
  AssessmentTemplateRulesPackageArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
    minItems: 0
    maxItems: 50
  AssetAttributes:
    type: object
    required:
      - schemaVersion
    properties:
      schemaVersion:
        $ref: '#/definitions/NumericVersion'
        description: The schema version of this data type.
      agentId:
        $ref: '#/definitions/AgentId'
        description: The ID of the agent that is installed on the EC2 instance where the finding is generated.
      autoScalingGroup:
        $ref: '#/definitions/AutoScalingGroup'
        description: The Auto Scaling group of the EC2 instance where the finding is generated.
      amiId:
        $ref: '#/definitions/AmiId'
        description: The ID of the Amazon Machine Image (AMI) that is installed on the EC2 instance where the finding is generated.
      hostname:
        $ref: '#/definitions/Hostname'
        description: The hostname of the EC2 instance where the finding is generated.
      ipv4Addresses:
        $ref: '#/definitions/Ipv4AddressList'
        description: The list of IP v4 addresses of the EC2 instance where the finding is generated.
    description: A collection of attributes of the host from which the finding is generated.
  AssetType:
    type: string
    enum:
      - ec2-instance
  Attribute:
    type: object
    required:
      - key
    properties:
      key:
        $ref: '#/definitions/AttributeKey'
        description: The attribute key.
      value:
        $ref: '#/definitions/AttributeValue'
        description: The value assigned to the attribute key.
    description: This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.
  AttributeKey:
    type: string
    minLength: 1
    maxLength: 128
  AttributeList:
    type: array
    items:
      $ref: '#/definitions/Attribute'
    minItems: 0
    maxItems: 50
  AttributeValue:
    type: string
    minLength: 1
    maxLength: 256
  AutoScalingGroup:
    type: string
    minLength: 1
    maxLength: 256
  AutoScalingGroupList:
    type: array
    items:
      $ref: '#/definitions/AutoScalingGroup'
    minItems: 0
    maxItems: 20
  BatchDescribeArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
    minItems: 1
    maxItems: 10
  Bool:
    type: boolean
  CreateAssessmentTargetRequest:
    type: object
    required:
      - assessmentTargetName
      - resourceGroupArn
    example:
      assessmentTargetName: ExampleAssessmentTarget
      resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv'
    properties:
      assessmentTargetName:
        $ref: '#/definitions/AssessmentTargetName'
        description: The user-defined name that identifies the assessment target that you want to create. The name must be unique within the AWS account.
      resourceGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the resource group that is used to create the assessment target.
  CreateAssessmentTargetResponse:
    type: object
    required:
      - assessmentTargetArn
    example:
      assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX'
    properties:
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment target that is created.
  CreateAssessmentTemplateRequest:
    type: object
    required:
      - assessmentTargetArn
      - assessmentTemplateName
      - durationInSeconds
      - rulesPackageArns
    example:
      assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX'
      assessmentTemplateName: ExampleAssessmentTemplate
      durationInSeconds: 180
      rulesPackageArns:
        - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-11B9DBXp'
      userAttributesForFindings:
        - key: Example
          value: example
    properties:
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment target for which you want to create the assessment template.
      assessmentTemplateName:
        $ref: '#/definitions/AssessmentTemplateName'
        description: The user-defined name that identifies the assessment template that you want to create. You can create several assessment templates for an assessment target. The names of the assessment templates that correspond to a particular assessment target must be unique.
      durationInSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The duration of the assessment run in seconds. The default value is 3600 seconds (one hour).
      rulesPackageArns:
        $ref: '#/definitions/AssessmentTemplateRulesPackageArnList'
        description: The ARNs that specify the rules packages that you want to attach to the assessment template.
      userAttributesForFindings:
        $ref: '#/definitions/UserAttributeList'
        description: 'The user-defined attributes that are assigned to every finding that is generated by the assessment run that uses this assessment template. An attribute is a key and value pair (an <a>Attribute</a> object). Within an assessment template, each key must be unique.'
  CreateAssessmentTemplateResponse:
    type: object
    required:
      - assessmentTemplateArn
    example:
      assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T'
    properties:
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment template that is created.
  CreateResourceGroupRequest:
    type: object
    required:
      - resourceGroupTags
    example:
      resourceGroupTags:
        - key: Name
          value: example
    properties:
      resourceGroupTags:
        $ref: '#/definitions/ResourceGroupTags'
        description: '<p>A collection of keys and an array of possible values, ''[{"key":"key1","values":["Value1","Value2"]},{"key":"Key2","values":["Value3"]}]''.</p> <p>For example,''[{"key":"Name","values":["TestEC2Instance"]}]''.</p>'
  CreateResourceGroupResponse:
    type: object
    required:
      - resourceGroupArn
    example:
      resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-AB6DMKnv'
    properties:
      resourceGroupArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the resource group that is created.
  DeleteAssessmentRunRequest:
    type: object
    required:
      - assessmentRunArn
    example:
      assessmentRunArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T/run/0-11LMTAVe'
    properties:
      assessmentRunArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment run that you want to delete.
  DeleteAssessmentTargetRequest:
    type: object
    required:
      - assessmentTargetArn
    example:
      assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
    properties:
      assessmentTargetArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment target that you want to delete.
  DeleteAssessmentTemplateRequest:
    type: object
    required:
      - assessmentTemplateArn
    example:
      assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-nvgVhaxX/template/0-it5r2S4T'
    properties:
      assessmentTemplateArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the assessment template that you want to delete.
  DescribeAssessmentRunsRequest:
    type: object
    required:
      - assessmentRunArns
    example:
      assessmentRunArns:
        - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
    properties:
      assessmentRunArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARN that specifies the assessment run that you want to describe.
  DescribeAssessmentRunsResponse:
    type: object
    required:
      - assessmentRuns
      - failedItems
    example:
      assessmentRuns:
        - name: Run 1 for ExampleAssessmentTemplate
          arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
          assessmentTemplateArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
          completedAt: '1458680301.4'
          createdAt: '1458680170.035'
          dataCollected: true
          durationInSeconds: 3600
          findingCounts:
            High: 14
            Informational: 0
            Low: 0
            Medium: 2
            Undefined: 0
          notifications: []
          rulesPackageArns:
            - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
          startedAt: '1458680170.161'
          state: COMPLETED
          stateChangedAt: '1458680301.4'
          stateChanges:
            - state: CREATED
              stateChangedAt: '1458680170.035'
            - state: START_DATA_COLLECTION_PENDING
              stateChangedAt: '1458680170.065'
            - state: START_DATA_COLLECTION_IN_PROGRESS
              stateChangedAt: '1458680170.096'
            - state: COLLECTING_DATA
              stateChangedAt: '1458680170.161'
            - state: STOP_DATA_COLLECTION_PENDING
              stateChangedAt: '1458680239.883'
            - state: DATA_COLLECTED
              stateChangedAt: '1458680299.847'
            - state: EVALUATING_RULES
              stateChangedAt: '1458680300.099'
            - state: COMPLETED
              stateChangedAt: '1458680301.4'
          userAttributesForFindings: []
      failedItems: {}
    properties:
      assessmentRuns:
        $ref: '#/definitions/AssessmentRunList'
        description: Information about the assessment run.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Assessment run details that cannot be described. An error code is provided for each failed item.
  DescribeAssessmentTargetsRequest:
    type: object
    required:
      - assessmentTargetArns
    example:
      assessmentTargetArns:
        - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
    properties:
      assessmentTargetArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARNs that specifies the assessment targets that you want to describe.
  DescribeAssessmentTargetsResponse:
    type: object
    required:
      - assessmentTargets
      - failedItems
    example:
      assessmentTargets:
        - name: ExampleAssessmentTarget
          arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
          createdAt: '1458074191.459'
          resourceGroupArn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
          updatedAt: '1458074191.459'
      failedItems: {}
    properties:
      assessmentTargets:
        $ref: '#/definitions/AssessmentTargetList'
        description: Information about the assessment targets.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Assessment target details that cannot be described. An error code is provided for each failed item.
  DescribeAssessmentTemplatesRequest:
    type: object
    required:
      - assessmentTemplateArns
    example:
      assessmentTemplateArns:
        - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
    properties:
      assessmentTemplateArns:
        $ref: '#/definitions/BatchDescribeArnList'
  DescribeAssessmentTemplatesResponse:
    type: object
    required:
      - assessmentTemplates
      - failedItems
    example:
      assessmentTemplates:
        - name: ExampleAssessmentTemplate
          arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw'
          assessmentTargetArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq'
          createdAt: '1458074191.844'
          durationInSeconds: 3600
          rulesPackageArns:
            - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
          userAttributesForFindings: []
      failedItems: {}
    properties:
      assessmentTemplates:
        $ref: '#/definitions/AssessmentTemplateList'
        description: Information about the assessment templates.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Assessment template details that cannot be described. An error code is provided for each failed item.
  DescribeCrossAccountAccessRoleResponse:
    type: object
    required:
      - roleArn
      - valid
      - registeredAt
    example:
      registeredAt: '1458069182.826'
      roleArn: 'arn:aws:iam::123456789012:role/inspector'
      valid: true
    properties:
      roleArn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the IAM role that Amazon Inspector uses to access your AWS account.
      valid:
        $ref: '#/definitions/Bool'
        description: A Boolean value that specifies whether the IAM role has the necessary policies attached to enable Amazon Inspector to access your AWS account.
      registeredAt:
        $ref: '#/definitions/Timestamp'
        description: The date when the cross-account access role was registered.
  DescribeFindingsRequest:
    type: object
    required:
      - findingArns
    example:
      findingArns:
        - 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4'
    properties:
      findingArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARN that specifies the finding that you want to describe.
      locale:
        $ref: '#/definitions/Locale'
        description: 'The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.'
  DescribeFindingsResponse:
    type: object
    required:
      - findings
      - failedItems
    example:
      failedItems: {}
      findings:
        - arn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE/finding/0-HwPnsDm4'
          assetAttributes:
            ipv4Addresses: []
            schemaVersion: 1
          assetType: ec2-instance
          attributes: []
          confidence: 10
          createdAt: '1458680301.37'
          description: Amazon Inspector did not find any potential security issues during this assessment.
          indicatorOfCompromise: false
          numericSeverity: 0
          recommendation: No remediation needed.
          schemaVersion: 1
          service: Inspector
          serviceAttributes:
            assessmentRunArn: 'arn:aws:inspector:us-west-2:123456789012:target/0-0kFIPusq/template/0-4r1V2mAw/run/0-MKkpXXPE'
            rulesPackageArn: 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-X1KXtawP'
            schemaVersion: 1
          severity: Informational
          title: No potential security issues found
          updatedAt: '1458680301.37'
          userAttributes: []
    properties:
      findings:
        $ref: '#/definitions/FindingList'
        description: Information about the finding.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Finding details that cannot be described. An error code is provided for each failed item.
  DescribeResourceGroupsRequest:
    type: object
    required:
      - resourceGroupArns
    example:
      resourceGroupArns:
        - 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
    properties:
      resourceGroupArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARN that specifies the resource group that you want to describe.
  DescribeResourceGroupsResponse:
    type: object
    required:
      - resourceGroups
      - failedItems
    example:
      failedItems: {}
      resourceGroups:
        - arn: 'arn:aws:inspector:us-west-2:123456789012:resourcegroup/0-PyGXopAI'
          createdAt: '1458074191.098'
          tags:
            - key: Name
              value: example
    properties:
      resourceGroups:
        $ref: '#/definitions/ResourceGroupList'
        description: Information about a resource group.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Resource group details that cannot be described. An error code is provided for each failed item.
  DescribeRulesPackagesRequest:
    type: object
    required:
      - rulesPackageArns
    example:
      rulesPackageArns:
        - 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-JJOtZiqQ'
    properties:
      rulesPackageArns:
        $ref: '#/definitions/BatchDescribeArnList'
        description: The ARN that specifies the rules package that you want to describe.
      locale:
        $ref: '#/definitions/Locale'
        description: The locale that you want to translate a rules package description into.
  DescribeRulesPackagesResponse:
    type: object
    required:
      - rulesPackages
      - failedItems
    example:
      failedItems: {}
      rulesPackages:
        - version: '1.1'
          name: Security Best Practices
          arn: 'arn:aws:inspector:us-west-2:758058086616:rulespackage/0-JJOtZiqQ'
          description: The rules in this package help determine whether your systems are configured securely.
          provider: 'Amazon Web Services, Inc.'
    properties:
      rulesPackages:
        $ref: '#/definitions/RulesPackageList'
        description: Information about the rules package.
      failedItems:
        $ref: '#/definitions/FailedItems'
        description: Rules package details that cannot be described. An error code is provided for each failed item.
  DurationRange:
    type: object
    properties:
      minSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The minimum value of the duration range. Must be greater than zero.
      maxSeconds:
        $ref: '#/definitions/AssessmentRunDuration'
        description: The maximum value of the duration range. Must be less than or equal to 604800 seconds (1 week).
    description: This data type is used in the <a>AssessmentTemplateFilter</a> data type.
  ErrorMessage:
    type: string
    minLength: 0
    maxLength: 1000
  EventSubscription:
    type: object
    required:
      - event
      - subscribedAt
    properties:
      event:
        $ref: '#/definitions/InspectorEvent'
        description: The event for which Amazon Simple Notification Service (SNS) notifications are sent.
      subscribedAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which <a>SubscribeToEvent</a> is called.
    description: This data type is used in the <a>Subscription</a> data type.
  EventSubscriptionList:
    type: array
    items:
      $ref: '#/definitions/EventSubscription'
    minItems: 1
    maxItems: 50
  FailedItemDetails:
    type: object
    required:
      - failureCode
      - retryable
    properties:
      failureCode:
        $ref: '#/definitions/FailedItemErrorCode'
        description: The status code of a failed item.
      retryable:
        $ref: '#/definitions/Bool'
        description: Indicates whether you can immediately retry a request for this item for a specified resource.
    description: Includes details about the failed items.
  FailedItemErrorCode:
    type: string
    enum:
      - INVALID_ARN
      - DUPLICATE_ARN
      - ITEM_DOES_NOT_EXIST
      - ACCESS_DENIED
      - LIMIT_EXCEEDED
      - INTERNAL_ERROR
  FailedItems:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/Arn'
        value:
          $ref: '#/definitions/FailedItemDetails'
  FilterRulesPackageArnList:
    type: array
    items:
      $ref: '#/definitions/Arn'
    minItems: 0
    maxItems: 50
  Finding:
    type: object
    required:
      - arn
      - attributes
      - userAttributes
      - createdAt
      - updatedAt
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN that specifies the finding.
      schemaVersion:
        $ref: '#/definitions/NumericVersion'
        description: The schema version of this data type.
      service:
        $ref: '#/definitions/ServiceName'
        description: The data element is set to "Inspector".
      serviceAttributes:
        $ref: '#/definitions/InspectorServiceAttributes'
        description: This data type is used in the <a>Finding</a> data type.
      assetType:
        $ref: '#/definitions/AssetType'
        description: The type of the host from which the finding is generated.
      assetAttributes:
        $ref: '#/definitions/AssetAttributes'
        description: A collection of attributes of the host from which the finding is generated.
      id:
        $ref: '#/definitions/FindingId'
        description: The ID of the finding.
      title:
        $ref: '#/definitions/Text'
        description: The name of the finding.
      description:
        $ref: '#/definitions/Text'
        description: The description of the finding.
      recommendation:
        $ref: '#/definitions/Text'
        description: The recommendation for the finding.
      severity:
        $ref: '#/definitions/Severity'
        description: 'The finding severity. Values can be set to High, Medium, Low, and Informational.'
      numericSeverity:
        $ref: '#/definitions/NumericSeverity'
        description: The numeric value of the finding severity.
      confidence:
        $ref: '#/definitions/IocConfidence'
        description: This data element is currently not used.
      indicatorOfCompromise:
        $ref: '#/definitions/Bool'
        description: This data element is currently not used.
      attributes:
        $ref: '#/definitions/AttributeList'
        description: The system-defined attributes for the finding.
      userAttributes:
        $ref: '#/definitions/UserAttributeList'
        description: The user-defined attributes that are assigned to the finding.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time when the finding was generated.
      updatedAt:
        $ref: '#/definitions/Timestamp'
        description: The time when <a>AddAttributesToFindings</a> is called.
    description: Contains information about an Amazon Inspector finding. This data type is used as the response element in the <a>DescribeFindings</a> action.
  FindingCount:
    type: integer
  FindingFilter:
    type: object
    properties:
      agentIds:
        $ref: '#/definitions/AgentIdList'
        description: 'For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>agentId</b> property of the <a>Finding</a> data type.'
      autoScalingGroups:
        $ref: '#/definitions/AutoScalingGroupList'
        description: 'For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>autoScalingGroup</b> property of the <a>Finding</a> data type.'
      ruleNames:
        $ref: '#/definitions/RuleNameList'
        description: 'For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>ruleName</b> property of the <a>Finding</a> data type.'
      severities:
        $ref: '#/definitions/SeverityList'
        description: 'For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>severity</b> property of the <a>Finding</a> data type.'
      rulesPackageArns:
        $ref: '#/definitions/FilterRulesPackageArnList'
        description: 'For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>rulesPackageArn</b> property of the <a>Finding</a> data type.'
      attributes:
        $ref: '#/definitions/AttributeList'
        description: 'For a record to match a filter, the list of values that are specified for this data type property must be contained in the list of values of the <b>attributes</b> property of the <a>Finding</a> data type.'
      userAttributes:
        $ref: '#/definitions/AttributeList'
        description: 'For a record to match a filter, the value that is specified for this data type property must be contained in the list of values of the <b>userAttributes</b> property of the <a>Finding</a> data type.'
      creationTimeRange:
        $ref: '#/definitions/TimestampRange'
        description: The time range during which the finding is generated.
    description: This data type is used as a request parameter in the <a>ListFindings</a> action.
  FindingId:
    type: string
    minLength: 0
    maxLength: 128
  FindingList:
    type: array
    items:
      $ref: '#/definitions/Finding'
    minItems: 0
    maxItems: 100
  GetAssessmentReportRequest:
    type: object
    required:
      - assessmentRunArn
      - reportFileFormat
      - reportType
    properties:
[...]
