openapi: 3.0.3
servers:
  - description: Production
    url: https://unify.apideck.com
info:
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  description: >+
    Welcome to the CRM API.


    You can use this API to access all CRM API endpoints.


    ## Base URL


    The base URL for all API requests is `https://unify.apideck.com`


    ## GraphQL


    Use the [GraphQL playground](https://unify.apideck.com/graphql) to test out the GraphQL API.


    ## Headers


    Custom headers that are expected as part of the request. Note that [RFC7230](https://tools.ietf.org/html/rfc7230) states header names are case insensitive.


    | Name                  | Type    | Required | Description                                                                                                                                                    |

    | --------------------- | ------- | -------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------- |

    | x-apideck-consumer-id | String  | Yes      | The id of the customer stored inside Apideck Vault. This can be a user id, account id, device id or whatever entity that can have integration within your app. |

    | x-apideck-service-id  | String  | No       | Describe the service you want to call (e.g., pipedrive). Only needed when a customer has activated multiple integrations for the same Unified API.             |

    | x-apideck-raw         | Boolean | No       | Include raw response. Mostly used for debugging purposes.                                                                                                      |

    | x-apideck-app-id      | String  | Yes      | The application id of your Unify application. Available at https://app.apideck.com/unify/api-keys.                                                             |

    | Authorization         | String  | Yes      | Bearer API KEY                                                                                                                                                 |


    ## Authorization


    You can interact with the API through the authorization methods below.


    <!-- ReDoc-Inject: <security-definitions> -->


    ## Pagination


    All API resources have support for bulk retrieval via list APIs. For example, you can list [opportunities](#tag/Opportunities), [companies](#tag/Companies) and [leads](#tag/Leads). Apideck uses cursor-based pagination via the optional `cursor` and `limit` parameters.


    To fetch the first page of results, call the list API without a `cursor` parameter. Afterwards you can fetch subsequent pages by providing a cursor parameter. You will find the next cursor in the response body in `meta.cursors.next`. If `meta.cursors.next` is `null` you're at the end of the list.


    In the REST API you can also use the `links` from the response for added convenience. Simply call the URL in `links.next` to get the next page of results.


    ### Query Parameters


    | Name   | Type   | Required | Description                                                                                                        |

    | ------ | ------ | -------- | ------------------------------------------------------------------------------------------------------------------ |

    | cursor | String | No       | Cursor to start from. You can find cursors for next & previous pages in the meta.cursors property of the response. |

    | limit  | Number | No       | Number of results to return. Minimum 1, Maximum 200, Default 20                                                    |


    ### Response Body


    | Name                  | Type   | Description                                                        |

    | --------------------- | ------ | ------------------------------------------------------------------ |

    | meta.cursors.previous | String | Cursor to navigate to the previous page of results through the API |

    | meta.cursors.current  | String | Cursor to navigate to the current page of results through the API  |

    | meta.cursors.next     | String | Cursor to navigate to the next page of results through the API     |

    | meta.items_on_page    | Number | Number of items returned in the data property of the response      |

    | links.previous        | String | Link to navigate to the previous page of results through the API   |

    | links.current         | String | Link to navigate to the current page of results through the API    |

    | links.next            | String | Link to navigate to the next page of results through the API       |


    ⚠️ `meta.cursors.previous`/`links.previous` is not available for all connectors.


    ## Connectors


    Supported connectors and endpoints


    | Service ID                                                      | Status            | v*         | Custom fields | Webhooks  |

    | --------------------------------------------------------------- | ----------------- | ---------- | ------------- | --------- |

    | [ActiveCampaign](https://www.activecampaign.com/)               | &#9989;           | 3          | &#9989;       | &#128284; |

    | [Auth0](https://auth0.com)                                      | &#128736;&#65039; | 2          | &#128284;     | &#128284; |

    | [Close](https://close.com)                                      | &#9989;           | 1.0.0      | &#9989;       | &#9989;   |

    | [Copper](https://www.copper.com/)                               | &#9989;           | 1.0.0      | &#9989;       | &#128284; |

    | [Customer.io](https://customer.io/)                             | &#128736;&#65039; |            | &#128284;     | &#128284; |

    | [HubSpot](https://www.hubspot.com/)                             | &#9989;           | 3.0.0      | &#128284;     | &#128284; |

    | [Microsoft Dynamics CRM](https://dynamics.microsoft.com/en-us/) | &#9989;           | 1          | &#128284;     | &#128284; |

    | [Mixmax](https://mixmax.com)                                    | &#128736;&#65039; | 0.1.0      | &#128284;     | &#128284; |

    | [Pipedrive](https://www.pipedrive.com/)                         | &#9989;           | 0.0.1      | &#9989;       | &#128284; |

    | [Reply](https://reply.io)                                       | &#128736;&#65039; | 1.0        | &#128284;     | &#128284; |

    | [Salesflare](https://salesflare.com)                            | &#9989;           | 0.0.1      | &#128284;     | &#128284; |

    | [Salesforce](https://www.salesforce.com)                        | &#9989;           | v51.0      | &#9989;       | &#128284; |

    | [Teamleader](https://www.teamleader.eu/)                        | &#9989;           | 2019-10-09 | &#9989;       | &#128284; |

    | [Zendesk Sell](https://www.zendesk.com/sell/)                   | &#9989;           | 2.0        | &#9989;       | &#128284; |

    | [Zoho CRM](https://www.zoho.com/crm/)                           | &#9989;           | 2.0        | &#9989;       | &#128284; |


    | &#9989; <span style="font-size:0.75em">Available for implementation</span> | - <span style="font-size:0.75em">Not Supported</span>        | &#128736;&#65039; <span style="font-size:0.75em">In Development</span> |

    | -------------------------------------------------------------------------- | ------------------------------------------------------------ | ---------------------------------------------------------------------- |

    | * <span style="font-size:0.75em">Latest supported API version</span>       | &#128284; <span style="font-size:0.75em">Coming Soon!</span> |                                                                        |


    ## SDKs and API Clients


    Upcoming. [Request the SDK of your choice](https://integrations.apideck.com/request).


    ## Debugging


    Because of the nature of the abstraction we do in Apideck Unify we still provide the option to the receive raw requests and responses being handled underlying. By including the raw flag `?raw=true` in your requests you can still receive the full request. Please note that this increases the response size and can introduce extra latency.


    ## Errors


    The API returns standard HTTP response codes to indicate success or failure of the API requests. For errors, we also return a customized error message inside the JSON response. You can see the returned HTTP status codes below.


    | Code | Title                | Description                                                                                                                                                                                              |

    | ---- | -------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |

    | 200  | OK                   | The request message has been successfully processed, and it has produced a response. The response message varies, depending on the request method and the requested data.                                |

    | 201  | Created              | The request has been fulfilled and has resulted in one or more new resources being created.                                                                                                              |

    | 204  | No Content           | The server has successfully fulfilled the request and that there is no additional content to send in the response payload body.                                                                          |

    | 400  | Bad Request          | The receiving server cannot understand the request because of malformed syntax. Do not repeat the request without first modifying it; check the request for errors, fix them and then retry the request. |

    | 401  | Unauthorized         | The request has not been applied because it lacks valid authentication credentials for the target resource.                                                                                              |

    | 402  | Payment Required     | Subscription data is incomplete or out of date. You'll need to provide payment details to continue.                                                                                                      |

    | 403  | Forbidden            | You do not have the appropriate user rights to access the request. Do not repeat the request.                                                                                                            |

    | 404  | Not Found            | The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.                                                                           |

    | 409  | Conflict             | The request could not be completed due to a conflict with the current state of the target resource.                                                                                                      |

    | 422  | Unprocessable Entity | The server understands the content type of the request entity, and the syntax of the request entity is correct but was unable to process the contained instructions.                                     |

    | 5xx  | Server Errors        | Something went wrong with the Unify API. These errors are logged on our side. You can contact our team to resolve the issue.                                                                             |


    ### Handling errors


    The Unify API and SDKs can produce errors for many reasons, such as a failed requests due to misconfigured integrations, invalid parameters, authentication errors, and network unavailability.


    ### Error Types


    #### RequestBodyValidationError


    Request body is not valid for the current endpoint. Check the spelling and types of your attributes, and ensure you are not passing data that is outside of the specification.


    #### RequestParametersValidationError


    Request parameters are not valid for the current endpoint. Check the spelling and types of your parameters, and ensure you are not passing parameters that are outside of the specification.


    #### RequestHeadersValidationError


    Request headers are not valid for the current endpoint. Check the spelling and types of your headers, and ensure you are not passing headers that are outside of the specification.


    #### UnsupportedFiltersError


    Filters in the request are valid, but not supported by the connector. Remove the unsupported filter(s) to get a successful response.


    #### InvalidCursorError


    Pagination cursor in the request is not valid for the current connector. Make sure to use a cursor returned from the API, for the same connector.


    #### ConnectorExecutionError


    A Unified API request made via one of our downstream connectors returned an unexpected error. The `status_code` returned is proxied through to error response along with their original response via the error detail.


    #### ConnectorProcessingError


    A Unified API request made via one of our downstream connectors returned a status code that was less than 400, along with a description of why the request could not be processed. Often this is due to the shape of request data being valid, but unable to be processed due to internal business logic - for example: an invalid relationship or `ID` present in your request.


    #### UnauthorizedError


    We were unable to authorize the request as made. This can happen for a number of reasons, from missing header params to passing an incorrect authorization token. Verify your Api Key is being set correctly in the authorization header. ie: `Authorization: 'Bearer sk_live_***'`


    #### ConnectorCredentialsError


    A request using a given connector has not been authorized. Ensure the connector you are trying to use has been configured correctly and been authorized for use.


    #### ConnectorDisabledError


    A request has been made to a connector that has since been disabled. This may be temporary - You can contact our team to resolve the issue.


    #### RequestLimitError


    You have reached the number of requests included in your Free Tier Subscription. You will no be able to make further requests until this limit resets at the end of the month, or talk to us about upgrading your subscription to continue immediately.


    #### EntityNotFoundError


    You've made a request for a resource or route that does not exist. Verify your path parameters or any identifiers used to fetch this resource.


    #### OAuthCredentialsNotFoundError


    When adding a connector integration that implements OAuth, both a `client_id` and `client_secret` must be provided before any authorizations can be performed. Verify the integration has been configured properly before continuing.


    #### IntegrationNotFoundError


    The requested connector integration could not be found associated to your `application_id`. Verify your `application_id` is correct, and that this connector has been added and configured for your application.


    #### ConnectionNotFoundError


    A valid connection could not be found associated to your `application_id`. Something _may_ have interrupted the authorization flow. You may need to start the connector authorization process again.


    #### ConnectorNotFoundError


    A request was made for an unknown connector. Verify your `service_id` is spelled correctly, and that this connector is enabled for your provided `unified_api`.


    #### OAuthRedirectUriError


    A request was made either in a connector authorization flow, or attempting to revoke connector access without a valid `redirect_uri`. This is the url the user should be returned to on completion of process.


    #### OAuthInvalidStateError


    The state param is required and is used to ensure the outgoing authorization state has not been altered before the user is redirected back. It also contains required params needed to identify the connector being used. If this has been altered, the authorization will not succeed.


    #### OAuthCodeExchangeError


    When attempting to exchange the authorization code for an `access_token` during an OAuth flow, an error occurred. This may be temporary. You can reattempt authorization or contact our team to resolve the issue.


    #### MappingError


    There was an error attempting to retrieve the mapping for a given attribute. We've been notified and are working to fix this issue.


    #### ConnectorMappingNotFoundError


    It seems the implementation for this connector is incomplete. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.


    #### ConnectorResponseMappingNotFoundError


    We were unable to retrieve the response mapping for this connector. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.


    #### ConnectorOperationMappingNotFoundError


    Connector mapping has not been implemented for the requested operation. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.


    #### ConnectorWorkflowMappingError


    The composite api calls required for this operation have not been mapped entirely. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.


    #### PaginationNotSupportedError


    Pagination is not yet supported for this connector, try removing limit and/or cursor from the query. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.


    ## API Design


    ### API Styles and data formats


    #### REST API


    The API is organized around [REST](https://restfulapi.net/), providing simple and predictable URIs to access and modify objects. Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes. JSON is returned by all API responses, including errors. In all API requests, you must set the content-type HTTP header to application/json. All API requests must be made over HTTPS. Calls made over HTTP will fail.


    ##### Available HTTP methods


    The Apideck API uses HTTP verbs to understand if you want to read (GET), delete (DELETE) or create (POST) an object. When your web application cannot do a POST or DELETE, we provide the ability to set the method through the query parameter \_method.


    ```

    POST /messages

    GET /messages

    GET /messages/{messageId}

    PATCH /messages/{messageId}

    DELETE /messages/{messageId}

    ```


    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise. For some endpoints and use cases we divert from REST to provide a better developer experience.


    ### Schema


    All API requests and response bodies adhere to a common JSON format representing individual items, collections of items, links to related items and additional meta data.


    ### Meta


    Meta data can be represented as a top level member named “meta”. Any information may be provided in the meta data. It’s most common use is to return the total number of records when requesting a collection of resources.


    ### Idempotence (upcoming)


    To prevent the creation of duplicate resources, every POST method (such as one that creates a consumer record) must specify a unique value for the X-Unique-Transaction-ID header name. Uniquely identifying each unique POST request ensures that the API processes a given request once and only once.


    Uniquely identifying new resource-creation POSTs is especially important when the outcome of a response is ambiguous because of a transient service interruption, such as a server-side timeout or network disruption. If a service interruption occurs, then the client application can safely retry the uniquely identified request without creating duplicate operations. (API endpoints that guarantee that every uniquely identified request is processed only once no matter how many times that uniquely identifiable request is made are described as idempotent.)


    ### Request IDs


    Each API request has an associated request identifier. You can find this value in the response headers, under Request-Id. You can also find request identifiers in the URLs of individual request logs in your Dashboard. If you need to contact us about a specific request, providing the request identifier will ensure the fastest possible resolution.


    ### Fixed field types


    #### Dates


    The dates returned by the API are all represented in UTC (ISO8601 format).


    This example `2019-11-14T00:55:31.820Z` is defined by the ISO 8601 standard. The T in the middle separates the year-month-day portion from the hour-minute-second portion. The Z on the end means UTC, that is, an offset-from-UTC of zero hours-minutes-seconds. The Z is pronounced "Zulu" per military/aviation tradition.


    The ISO 8601 standard is more modern. The formats are wisely designed to be easy to parse by machine as well as easy to read by humans across cultures.


    #### Prices and Currencies


    All prices returned by the API are represented as integer amounts in a currency’s smallest unit. For example, $5 USD would be returned as 500 (i.e, 500 cents).


    For zero-decimal currencies, amounts will still be provided as an integer but without the need to divide by 100. For example, an amount of ¥5 (JPY) would be returned as 5.


    All currency codes conform to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).


    ## Support


    If you have problems or need help with your case, you can always reach out to our Support.

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: CRM API
  version: 2.1.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/crm.yml
      version: "3.0"
  x-providerName: apideck.com
  x-serviceName: crm
security:
  - apiKey: []
    applicationId: []
    consumerId: []
tags:
  - description: ""
    name: Companies
  - description: ""
    name: Opportunities
  - description: ""
    name: Leads
  - description: ""
    name: Contacts
  - description: ""
    name: Pipelines
  - description: ""
    name: Notes
  - description: ""
    name: Users
  - description: ""
    name: Activities
paths:
  /crm/activities:
    get:
      description: List activities
      operationId: activitiesAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetActivitiesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List activities
      tags:
        - Activities
      x-graphql-field-name: activities
    post:
      description: Create activity
      operationId: activitiesAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Activity"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateActivityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create activity
      tags:
        - Activities
  "/crm/activities/{id}":
    delete:
      description: Delete activity
      operationId: activitiesDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeleteActivityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete activity
      tags:
        - Activities
    get:
      description: Get activity
      operationId: activitiesOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetActivityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get activity
      tags:
        - Activities
    patch:
      description: Update activity
      operationId: activitiesUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Activity"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateActivityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update activity
      tags:
        - Activities
  /crm/companies:
    get:
      description: List companies
      operationId: companiesAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/companiesFilter"
      responses:
        "200":
          $ref: "#/components/responses/GetCompanies"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List companies
      tags:
        - Companies
      x-graphql-field-name: companies
    post:
      description: Create company
      operationId: companiesAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateCompany"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create company
      tags:
        - Companies
  "/crm/companies/{id}":
    delete:
      description: Delete company
      operationId: companiesDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      responses:
        "200":
          $ref: "#/components/responses/DeleteCompany"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete company
      tags:
        - Companies
    get:
      description: Get company
      operationId: companiesOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      responses:
        "200":
          $ref: "#/components/responses/GetCompany"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get company
      tags:
        - Companies
    patch:
      description: Update company
      operationId: companiesUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateCompany"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update company
      tags:
        - Companies
  /crm/contacts:
    get:
      description: List contacts
      operationId: contactsAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/contactsFilter"
      responses:
        "200":
          $ref: "#/components/responses/GetContacts"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List contacts
      tags:
        - Contacts
      x-graphql-field-name: contacts
    post:
      description: Create contact
      operationId: contactsAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create contact
      tags:
        - Contacts
  "/crm/contacts/{id}":
    delete:
      description: Delete contact
      operationId: contactsDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeleteContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete contact
      tags:
        - Contacts
    get:
      description: Get contact
      operationId: contactsOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get contact
      tags:
        - Contacts
    patch:
      description: Update contact
      operationId: contactsUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update contact
      tags:
        - Contacts
  /crm/leads:
    get:
      description: List leads
      operationId: leadsAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/leadsFilter"
      responses:
        "200":
          $ref: "#/components/responses/GetLeads"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List leads
      tags:
        - Leads
      x-graphql-field-name: leads
    post:
      description: Create lead
      operationId: leadsAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lead"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateLead"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create lead
      tags:
        - Leads
  "/crm/leads/{id}":
    delete:
      description: Delete lead
      operationId: leadsDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeleteLead"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete lead
      tags:
        - Leads
    get:
      description: Get lead
      operationId: leadsOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetLead"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get lead
      tags:
        - Leads
    patch:
      description: Update lead
      operationId: leadsUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lead"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateLead"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update lead
      tags:
        - Leads
  /crm/notes:
    get:
      description: List notes
      operationId: notesAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetNotesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List notes
      tags:
        - Notes
      x-graphql-field-name: notes
    post:
      description: Create note
      operationId: notesAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateNoteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create note
      tags:
        - Notes
  "/crm/notes/{id}":
    delete:
      description: Delete note
      operationId: notesDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeleteNoteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete note
      tags:
        - Notes
    get:
      description: Get note
      operationId: notesOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetNoteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get note
      tags:
        - Notes
    patch:
      description: Update note
      operationId: notesUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateNoteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update note
      tags:
        - Notes
  /crm/opportunities:
    get:
      description: List opportunities
      operationId: opportunitiesAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/opportunitiesFilter"
      responses:
        "200":
          $ref: "#/components/responses/GetOpportunities"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List opportunities
      tags:
        - Opportunities
      x-graphql-field-name: opportunities
    post:
      description: Create opportunity
      operationId: opportunitiesAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Opportunity"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateOpportunity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create opportunity
      tags:
        - Opportunities
  "/crm/opportunities/{id}":
    delete:
      description: Delete opportunity
      operationId: opportunitiesDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeleteOpportunity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete opportunity
      tags:
        - Opportunities
    get:
      description: Get opportunity
      operationId: opportunitiesOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetOpportunity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get opportunity
      tags:
        - Opportunities
    patch:
      description: Update opportunity
      operationId: opportunitiesUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Opportunity"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateOpportunity"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update opportunity
      tags:
        - Opportunities
  /crm/pipelines:
    get:
      description: List pipelines
      operationId: pipelinesAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      responses:
        "200":
          $ref: "#/components/responses/GetPipelines"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List pipelines
      tags:
        - Pipelines
      x-graphql-field-name: pipelines
    post:
      description: Create pipeline
      operationId: pipelinesAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pipeline"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreatePipeline"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create pipeline
      tags:
        - Pipelines
  "/crm/pipelines/{id}":
    delete:
      description: Delete pipeline
      operationId: pipelinesDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeletePipeline"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete pipeline
      tags:
        - Pipelines
    get:
      description: Get pipeline
      operationId: pipelinesOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetPipeline"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get pipeline
      tags:
        - Pipelines
    patch:
      description: Update pipeline
      operationId: pipelinesUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pipeline"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdatePipeline"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update pipeline
      tags:
        - Pipelines
  /crm/users:
    get:
      description: List users
      operationId: usersAll
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetUsers"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: List users
      tags:
        - Users
      x-graphql-field-name: users
    post:
      description: Create user
      operationId: usersAdd
      parameters:
        - $ref: "#/components/parameters/raw"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/CreateUser"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Create user
      tags:
        - Users
  "/crm/users/{id}":
    delete:
      description: Delete user
      operationId: usersDelete
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/DeleteUser"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Delete user
      tags:
        - Users
    get:
      description: Get user
      operationId: usersOne
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      responses:
        "200":
          $ref: "#/components/responses/GetUser"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Get user
      tags:
        - Users
    patch:
      description: Update user
      operationId: usersUpdate
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/consumerId"
        - $ref: "#/components/parameters/applicationId"
        - $ref: "#/components/parameters/serviceId"
        - $ref: "#/components/parameters/raw"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateUser"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/Unprocessable"
        default:
          $ref: "#/components/responses/UnexpectedError"
      security:
        - apiKey: []
      summary: Update user
      tags:
        - Users
components:
  parameters:
    applicationId:
      description: The ID of your Unify application
      in: header
      name: x-apideck-app-id
      required: true
      schema:
        type: string
    companiesFilter:
      description: Apply filters (beta)
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/CompaniesFilter"
      style: deepObject
    consumerId:
      description: ID of the consumer which you want to get or push data from
      in: header
      name: x-apideck-consumer-id
      required: true
      schema:
        type: string
    contactsFilter:
      description: Apply filters (beta)
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/ContactsFilter"
      style: deepObject
    cursor:
      description: Cursor to start from. You can find cursors for next/previous pages
        in the meta.cursors property of the response.
      in: query
      name: cursor
      schema:
        default: null
        nullable: true
        type: string
    id:
      description: ID of the record you are acting upon.
      in: path
      name: id
      required: true
      schema:
        type: string
    leadsFilter:
      description: Apply filters (beta)
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/LeadsFilter"
      style: deepObject
    limit:
      description: Number of records to return
      in: query
      name: limit
      schema:
        default: 20
        maximum: 200
        minimum: 1
        type: integer
    opportunitiesFilter:
      description: Apply filters (beta)
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/OpportunitiesFilter"
      style: deepObject
    raw:
      description: Include raw response. Mostly used for debugging purposes
      in: query
      name: raw
      schema:
        default: true
        type: boolean
    serviceId:
      description: Provide the service id you want to call (e.g., pipedrive). [See the
        full list in the connector section.](#section/Connectors) Only needed
        when a consumer has activated multiple integrations for a Unified API.
      in: header
      name: x-apideck-service-id
      schema:
        type: string
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BadRequest"
      description: Bad Request
    CreateActivityResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateActivityResponse"
      description: Activity
    CreateCompany:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCompanyResponse"
      description: Company created
    CreateContact:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateContactResponse"
      description: Contact created
    CreateLead:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateLeadResponse"
      description: Lead created
    CreateNoteResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateNoteResponse"
      description: Note
    CreateOpportunity:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateOpportunityResponse"
      description: Opportunity
    CreatePipeline:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreatePipelineResponse"
      description: Pipeline created
    CreateUser:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateUserResponse"
      description: User created
    DeleteActivityResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteActivityResponse"
      description: Activity
    DeleteCompany:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteCompanyResponse"
      description: Company deleted
    DeleteContact:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteContactResponse"
      description: Contact deleted
    DeleteLead:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteLeadResponse"
      description: Lead deleted
    DeleteNoteResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteNoteResponse"
      description: Note
    DeleteOpportunity:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteOpportunityResponse"
      description: Opportunity deleted
    DeletePipeline:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeletePipelineResponse"
      description: Pipeline deleted
    DeleteUser:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteUserResponse"
      description: User deleted
    GetActivitiesResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetActivitiesResponse"
      description: Activities
    GetActivityResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetActivityResponse"
      description: Activity
    GetCompanies:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCompaniesResponse"
      description: Companies
    GetCompany:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCompanyResponse"
      description: Company
    GetContact:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetContactResponse"
      description: Contact
    GetContacts:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetContactsResponse"
      description: Contacts
    GetLead:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetLeadResponse"
      description: Lead
    GetLeads:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetLeadsResponse"
      description: Leads
    GetNoteResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetNoteResponse"
      description: Note
    GetNotesResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetNotesResponse"
      description: Notes
    GetOpportunities:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetOpportunitiesResponse"
      description: Opportunities
    GetOpportunity:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetOpportunityResponse"
      description: Opportunity
    GetPipeline:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPipelineResponse"
      description: Pipeline
    GetPipelines:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPipelinesResponse"
      description: Pipelines
    GetUser:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetUserResponse"
      description: User
    GetUsers:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetUsersResponse"
      description: Users
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFoundResponse"
      description: The specified resource was not found
    NotImplemented:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotImplemented"
      description: Not Implemented
    PaymentRequired:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaymentRequired"
      description: Payment Required
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Unauthorized"
      description: Unauthorized
    UnexpectedError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnexpectedError"
      description: Unexpected error
    Unprocessable:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Unprocessable"
      description: Unprocessable
    UpdateActivityResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateActivityResponse"
      description: Activity
    UpdateCompany:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCompanyResponse"
      description: Company updated
    UpdateContact:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateContactResponse"
      description: Contact updated
    UpdateLead:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateLeadResponse"
      description: Lead updated
    UpdateNoteResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateNoteResponse"
      description: Note
    UpdateOpportunity:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateOpportunityResponse"
      description: Opportunity updated
    UpdatePipeline:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdatePipelineResponse"
      description: Pipeline updated
    UpdateUser:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateUserResponse"
      description: User updated
  schemas:
    Activity:
      additionalProperties: false
      properties:
        activity_date:
          example: 2021-05-01
          type: string
        activity_datetime:
          example: 2021-05-01T12:00:00.000Z
          type: string
        all_day_event:
          example: false
          type: boolean
        archived:
          example: false
          type: boolean
        asset_id:
          example: "12345"
          type: string
        campaign_id:
          example: "12345"
          type: string
        case_id:
          example: "12345"
          type: string
        child:
          example: false
          type: boolean
        company_id:
          example: "12345"
          type: string
        contact_id:
          example: "12345"
          type: string
        contract_id:
          example: "12345"
          type: string
        created_at:
          example: 2020-09-30T07:43:32.000Z
          readOnly: true
          type: string
        created_by:
          example: "12345"
          nullable: true
          readOnly: true
          type: string
        custom_fields:
          items:
            $ref: "#/components/schemas/CustomField"
          type: array
        custom_object_id:
          example: "12345"
          type: string
        deleted:
          example: false
          type: boolean
        description:
          example: More info about the meeting
          type: string
        duration_seconds:
          example: 1800
          type: integer
        end_date:
          example: 2021-05-01
          type: string
        end_datetime:
          example: 2021-05-01T12:30:00.000Z
          type: string
        event_sub_type:
          example: true
          type: string
        group_event:
          example: true
          type: boolean
        group_event_type:
          example: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        lead_id:
          example: "12345"
          type: string
        location:
          example: Space
          type: string
        opportunity_id:
          example: "12345"
          type: string
        owner_id:
          example: "12345"
          type: string
        private:
          example: true
          type: boolean
        product_id:
          example: "12345"
          type: string
        recurrence_activity_id:
          example: "12345"
          type: string
        recurrence_day_of_month:
          example: 1
          type: integer
        recurrence_day_of_week_mask:
          example: 1
          type: integer
        recurrence_end_date:
          example: 2022-05-01
          type: string
        recurrence_end_date_only:
          example: 2030-05-01T17:00:00.000Z
          type: string
        recurrence_instance:
          example: 2nd
          type: string
        recurrence_interval:
          example: 10
          type: integer
        recurrence_month_of_year:
          example: June
          type: string
        recurrence_start_datetime:
          example: 2021-05-01T12:00:00.000Z
          type: string
        recurrence_timezone:
          example: Asia/Seoul
          type: string
        recurrence_type:
          example: Meeting
          type: string
        recurrent:
          example: false
          type: boolean
        reminder_datetime:
          example: 2021-05-01T17:00:00.000Z
          type: string
        reminder_set:
          example: false
          type: boolean
        show_as:
          enum:
            - free
            - busy
          example: busy
          type: string
        solution_id:
          example: "12345"
          type: string
        start_datetime:
          example: 2021-05-01T12:00:00.000Z
          type: string
        title:
          example: Meeting
          type: string
        type:
          enum:
            - call
            - meeting
            - email
            - send-letter
            - send-quote
            - other
          example: meeting
          type: string
        updated_at:
          example: 2020-09-30T07:43:32.000Z
          readOnly: true
          type: string
        updated_by:
          example: "12345"
          nullable: true
          readOnly: true
          type: string
      required:
        - activity_datetime
        - duration_seconds
        - type
      type: object
    Address:
      properties:
        city:
          description: Name of city.
          example: San Francisco
          nullable: true
          type: string
        country:
          description: country code according to ISO 3166-1 alpha-2.
          example: US
          nullable: true
          type: string
        id:
          example: "123"
          nullable: true
          type: string
        latitude:
          example: "40.759211"
          nullable: true
          type: string
        line1:
          description: "Line 1 of the address e.g. number, street, suite, apt #, etc."
          example: Main street
          nullable: true
          type: string
        line2:
          description: Line 2 of the address
          example: "apt #"
          nullable: true
          type: string
        longitude:
          example: "-73.984638"
          nullable: true
          type: string
        name:
          example: HQ US
          nullable: true
          type: string
        postal_code:
          description: Zip code or equivalent.
          example: "94104"
          nullable: true
          type: string
        state:
          description: Name of state
          example: CA
          nullable: true
          type: string
        type:
          enum:
            - primary
            - secondary
            - home
            - office
            - shipping
            - billing
            - other
          example: primary
          type: string
          x-graphql-type-name: AddressType
      type: object
    BadRequest:
      properties:
        detail:
          anyOf:
            - type: string
            - type: object
          description: Contains parameter or domain specific information related to the
            error and why it occured.
          example:
            missing:
              - - foobar: required
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1
            standard (RFC 7231)
          example: Bad Request
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestbodyvalidationerror
          type: string
        status_code:
          description: HTTP status code
          example: 400
          type: number
        typeName:
          description: The type of error returned
          example: RequestHeadersValidationError
          type: string
    BankAccount:
      properties:
        bic:
          example: AUDSCHGGXXX
          nullable: true
          type: string
        iban:
          example: CH2989144532982975332
          nullable: true
          type: string
      type: object
    CompaniesFilter:
      additionalProperties: false
      example:
        name: SpaceX
      properties:
        name:
          description: Name of the company to filter on
          example: SpaceX
          type: string
      type: object
      x-graphql-type-name: CompaniesFilter
    Company:
      additionalProperties: false
      properties:
        addresses:
          items:
            $ref: "#/components/schemas/Address"
          type: array
        bank_accounts:
          items:
            $ref: "#/components/schemas/BankAccount"
          type: array
        created_at:
          example: 2020-09-30T07:43:32.000Z
          readOnly: true
          type: string
        created_by:
          example: "12345"
          nullable: true
          readOnly: true
          type: string
        currency:
          example: USD
          nullable: true
          type: string
        custom_fields:
          items:
            $ref: "#/components/schemas/CustomField"
          type: array
        description:
          example: A crm that works for you, so you can spend time on relationships
            instead of data.
          nullable: true
          type: string
        emails:
          items:
            $ref: "#/components/schemas/Email"
          type: array
        fax:
          example: "+12129876543"
          nullable: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        image_url:
          example: https://www.spacex.com/static/images/share.jpg
          nullable: true
          type: string
        interaction_count:
          example: 1
          nullable: true
          readOnly: true
          type: integer
        name:
          example: Copper
          type: string
        owner_id:
          example: "12345"
          type: string
        phone_numbers:
          items:
            $ref: "#/components/schemas/PhoneNumber"
          type: array
        social_links:
          items:
            $ref: "#/components/schemas/SocialLink"
          type: array
        status:
          example: Open
          minLength: 1
          nullable: true
          type: string
        tags:
          $ref: "#/components/schemas/Tags"
        updated_at:
          example: 2020-09-30T07:43:32.000Z
          readOnly: true
          type: string
        updated_by:
          example: "12345"
          nullable: true
          readOnly: true
          type: string
        vat_number:
          description: VAT number
          example: BE0689615164
          nullable: true
          type: string
        websites:
          items:
            $ref: "#/components/schemas/Website"
          type: array
      required:
        - name
      type: object
    Contact:
      additionalProperties: false
      properties:
        addresses:
          items:
            $ref: "#/components/schemas/Address"
          type: array
        birthday:
          example: 2000-08-12
          nullable: true
          type: string
        company_id:
          example: "23456"
          nullable: true
          type: string
        company_name:
          example: "23456"
          nullable: true
          type: string
        created_at:
          example: 2017-08-12T20:43:21.291Z
          readOnly: true
          type: string
        custom_fields:
          items:
            $ref: "#/components/schemas/CustomField"
          type: array
        department:
          example: Engineering
          nullable: true
          type: string
        description:
          example: Internal champion
          nullable: true
          type: string
        emails:
          items:
            $ref: "#/components/schemas/Email"
          type: array
        fax:
          example: "+12129876543"
          nullable: true
          type: string
        first_name:
          example: Elon
          nullable: true
          type: string
        gender:
          enum:
            - male
            - female
            - unisex
          example: female
          nullable: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        image:
          example: https://logo.clearbit.com/spacex.com?s=128
          nullable: true
          type: string
        language:
          description: language code according to ISO 639-1. For the United States - EN
          example: EN
          nullable: true
          type: string
        last_name:
          example: Musk
          nullable: true
          type: string
        lead_id:
          example: "34567"
          nullable: true
          type: string
        lead_source:
          example: Cold Call
          minLength: 1
          nullable: true
          type: string
        middle_name:
          example: D.
          nullable: true
          type: string
        name:
          example: Elon Musk
          type: string
        owner_id:
          example: "54321"
          nullable: true
          type: string
        phone_numbers:
          items:
            $ref: "#/components/schemas/PhoneNumber"
          type: array
        prefix:
          example: Mr.
          nullable: true
          type: string
        social_links:
          items:
            $ref: "#/components/schemas/SocialLink"
          type: array
        status:
          example: open
          nullable: true
          type: string
        suffix:
          example: PhD
          nullable: true
          type: string
        tags:
          $ref: "#/components/schemas/Tags"
        title:
          example: CEO
          nullable: true
          type: string
        updated_at:
          example: 2017-08-12T20:43:21.291Z
          readOnly: true
          type: string
        websites:
          items:
            $ref: "#/components/schemas/Website"
          type: array
      required:
        - name
      x-pii:
        - name
        - first_name
        - middle_name
        - last_name
        - email
    ContactsFilter:
      additionalProperties: false
      example:
        email: elon@tesla.com
        first_name: Elon
        last_name: Musk
      properties:
        email:
          description: E-mail of the contact to filter on
          example: elon@tesla.com
          type: string
        first_name:
          description: First name of the contact to filter on
          example: Elon
          type: string
        last_name:
          description: Last name of the contact to filter on
          example: Musk
          type: string
        name:
          description: Name of the contact to filter on
          example: Elon Musk
          type: string
      type: object
      x-graphql-type-name: ContactsFilter
    CreateActivityResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: activities
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreateCompanyResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: companies
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreateContactResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: companies
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreateLeadResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: companies
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreateNoteResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: notes
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreateOpportunityResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: opportunities
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreatePipelineResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: pipelines
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CreateUserResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: users
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    CustomField:
      additionalProperties: false
      properties:
        id:
          example: custom_technologies
          type: string
        value:
          anyOf:
            - example: Uses Salesforce and Marketo
              nullable: true
              type: string
            - example: 10
              nullable: true
              type: number
            - example: true
              nullable: true
              type: boolean
            - items:
                type: string
              type: array
      required:
        - id
      type: object
    DeleteActivityResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: activities
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    DeleteCompanyResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: companies
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    DeleteContactResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: companies
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    DeleteLeadResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: companies
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    DeleteNoteResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
        operation:
          description: Operation performed
          example: one
          type: string
        resource:
          description: Unified API resource name
          example: notes
          type: string
        service:
          description: Apideck ID of service provider
          example: zoho-crm
          type: string
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - service
        - resource
        - operation
        - data
      type: object
    DeleteOpportunityResponse:
      properties:
        data:
          $ref: "#/components/schemas/UnifiedId"
[...]
