swagger: '2.0'
schemes:
  - https
host: iap.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Controls access to cloud applications running on Google Cloud Platform.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Identity-Aware Proxy
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://iap.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: iap
externalDocs:
  url: 'https://cloud.google.com/iap'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: v1
paths:
  '/v1/{name}:iapSettings':
    get:
      description: Gets the IAP settings on a particular IAP protected resource.
      operationId: iap.getIapSettings
      parameters:
        - description: |-
            Required. The resource name for which to retrieve the settings.
            Authorization: Requires the `getSettings` permission for the associated
            resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/IapSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - v1
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates the IAP settings on a particular IAP protected resource. It
        replaces all fields unless the `update_mask` is set.
      operationId: iap.updateIapSettings
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/IapSettings'
        - description: Required. The resource name of the IAP protected resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The field mask specifying which IAP settings should be updated.
            If omitted, the all of the settings are updated. See
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/IapSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - v1
  '/v1/{resource}:getIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Gets the access control policy for an Identity-Aware Proxy protected
        resource.
        More information about managing access via IAP can be found at:
        https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api
      operationId: iap.getIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - v1
  '/v1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy for an Identity-Aware Proxy protected
        resource. Replaces any existing policy.
        More information about managing access via IAP can be found at:
        https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api
      operationId: iap.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - v1
  '/v1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns permissions that a caller has on the Identity-Aware Proxy protected
        resource.
        More information about managing access via IAP can be found at:
        https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api
      operationId: iap.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - v1
definitions:
  AccessSettings:
    description: Access related settings for IAP protected apps.
    properties:
      corsSettings:
        $ref: '#/definitions/CorsSettings'
        description: Configuration to allow cross-origin requests via IAP.
      gcipSettings:
        $ref: '#/definitions/GcipSettings'
        description: GCIP claims and endpoint configurations for 3p identity providers.
      oauthSettings:
        $ref: '#/definitions/OAuthSettings'
        description: Settings to configure IAP's OAuth behavior.
    type: object
  ApplicationSettings:
    description: Wrapper over application specific settings for IAP.
    properties:
      csmSettings:
        $ref: '#/definitions/CsmSettings'
        description: Settings to configure IAP's behavior for a CSM mesh.
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          The condition that is associated with this binding.
          NOTE: An unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@example.com` .


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: The G Suite domain (primary) that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
        type: string
    type: object
  CorsSettings:
    description: |-
      Allows customers to configure HTTP request paths that'll allow HTTP OPTIONS
      call to bypass authentication and authorization.
    properties:
      allowHttpOptions:
        description: |-
          Configuration to allow HTTP OPTIONS calls to skip authorization. If
          undefined, IAP will not apply any special logic to OPTIONS requests.
        type: boolean
    type: object
  CsmSettings:
    description: |-
      Configuration for RCTokens generated for CSM workloads protected by IAP.
      RCTokens are IAP generated JWTs that can be verified at the application. The
      RCToken is primarily used for ISTIO deployments, and can be scoped to a
      single mesh by configuring the audience field accordingly
    properties:
      rctokenAud:
        description: |-
          Audience claim set in the generated RCToken. This value is not validated by
          IAP.
        type: string
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

          title: "User account presence"
          description: "Determines whether the request has a user account"
          expression: "size(request.user) > 0"
    properties:
      description:
        description: |-
          An optional description of the expression. This is a longer text which
          describes the expression, e.g. when hovered over it in a UI.
        type: string
      expression:
        description: |-
          Textual representation of an expression in
          Common Expression Language syntax.

          The application context of the containing message determines which
          well-known feature set of CEL is supported.
        type: string
      location:
        description: |-
          An optional string indicating the location of the expression for error
          reporting, e.g. a file name and a position in the file.
        type: string
      title:
        description: |-
          An optional title for the expression, i.e. a short string describing
          its purpose. This can be used e.g. in UIs which allow to enter the
          expression.
        type: string
    type: object
  GcipSettings:
    description: Allows customers to configure tenant_id for GCIP instance per-app.
    properties:
      loginPageUri:
        description: |-
          Login page URI associated with the GCIP tenants.
          Typically, all resources within the same project share the same login page,
          though it could be overridden at the sub resource level.
        type: string
      tenantIds:
        description: |-
          GCIP tenant ids that are linked to the IAP resource.
          tenant_ids could be a string beginning with a number character to indicate
          authenticating with GCIP tenant flow, or in the format of _<ProjectNumber>
          to indicate authenticating with GCIP agent flow.
          If agent flow is used, tenant_ids should only contain one single element,
          while for tenant flow, tenant_ids can contain multiple elements.
        items:
          type: string
        type: array
    type: object
  GetIamPolicyRequest:
    description: Request message for `GetIamPolicy` method.
    properties:
      options:
        $ref: '#/definitions/GetPolicyOptions'
        description: |-
          OPTIONAL: A `GetPolicyOptions` object for specifying options to
          `GetIamPolicy`. This field is only used by Cloud IAM.
    type: object
  GetPolicyOptions:
    description: Encapsulates settings provided to GetIamPolicy.
    properties:
      requestedPolicyVersion:
        description: |-
          Optional. The policy format version to be returned.

          Valid values are 0, 1, and 3. Requests specifying an invalid value will be
          rejected.

          Requests for policies with any conditional bindings must specify version 3.
          Policies without any conditional bindings may specify any valid value or
          leave the field unset.
        format: int32
        type: integer
    type: object
  IapSettings:
    description: The IAP configurable settings.
    properties:
      accessSettings:
        $ref: '#/definitions/AccessSettings'
        description: Top level wrapper for all access related setting in IAP
      applicationSettings:
        $ref: '#/definitions/ApplicationSettings'
        description: Top level wrapper for all application related settings in IAP
      name:
        description: Required. The resource name of the IAP protected resource.
        type: string
    type: object
  OAuthSettings:
    description: Configuration for OAuth login&consent flow behavior.
    properties:
      loginHint:
        description: |-
          Domain hint to send as hd=? parameter in OAuth request flow. Enables
          redirect to primary IDP by skipping Google's login screen.
          https://developers.google.com/identity/protocols/OpenIDConnect#hd-param
          Note: IAP does not verify that the id token's hd claim matches this value
          since access behavior is managed by IAM policies.
        type: string
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to
      specify access control policies for Cloud Platform resources.


      A `Policy` is a collection of `bindings`. A `binding` binds one or more
      `members` to a single `role`. Members can be user accounts, service accounts,
      Google groups, and domains (such as G Suite). A `role` is a named list of
      permissions (defined by IAM or configured by users). A `binding` can
      optionally specify a `condition`, which is a logic expression that further
      constrains the role binding based on attributes about the request and/or
      target resource.

      **JSON Example**

          {
            "bindings": [
              {
                "role": "roles/resourcemanager.organizationAdmin",
                "members": [
                  "user:mike@example.com",
                  "group:admins@example.com",
                  "domain:google.com",
                  "serviceAccount:my-project-id@appspot.gserviceaccount.com"
                ]
              },
              {
                "role": "roles/resourcemanager.organizationViewer",
                "members": ["user:eve@example.com"],
                "condition": {
                  "title": "expirable access",
                  "description": "Does not grant access after Sep 2020",
                  "expression": "request.time <
                  timestamp('2020-10-01T00:00:00.000Z')",
                }
              }
            ]
          }

      **YAML Example**

          bindings:
          - members:
            - user:mike@example.com
            - group:admins@example.com
            - domain:google.com
            - serviceAccount:my-project-id@appspot.gserviceaccount.com
            role: roles/resourcemanager.organizationAdmin
          - members:
            - user:eve@example.com
            role: roles/resourcemanager.organizationViewer
            condition:
              title: expirable access
              description: Does not grant access after Sep 2020
              expression: request.time < timestamp('2020-10-01T00:00:00.000Z')

      For a description of IAM and its features, see the
      [IAM developer's guide](https://cloud.google.com/iam/docs).
    properties:
      bindings:
        description: |-
          Associates a list of `members` to a `role`. Optionally may specify a
          `condition` that determines when binding is in effect.
          `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help
          prevent simultaneous updates of a policy from overwriting each other.
          It is strongly suggested that systems make use of the `etag` in the
          read-modify-write cycle to perform policy updates in order to avoid race
          conditions: An `etag` is returned in the response to `getIamPolicy`, and
          systems are expected to put that etag in the request to `setIamPolicy` to
          ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing
          policy is overwritten. Due to blind-set semantics of an etag-less policy,
          'setIamPolicy' will not fail even if either of incoming or stored policy
          does not meet the version requirements.
        format: byte
        type: string
      version:
        description: |-
          Specifies the format of the policy.

          Valid values are 0, 1, and 3. Requests specifying an invalid value will be
          rejected.

          Operations affecting conditional bindings must specify version 3. This can
          be either setting a conditional policy, modifying a conditional binding,
          or removing a conditional binding from the stored conditional policy.
          Operations on non-conditional policies may specify any valid value or
          leave the field unset.

          If no etag is provided in the call to `setIamPolicy`, any version
          compliance checks on the incoming and/or stored policy is skipped.
        format: int32
        type: integer
    type: object
  SetIamPolicyRequest:
    description: Request message for `SetIamPolicy` method.
    properties:
      policy:
        $ref: '#/definitions/Policy'
        description: |-
          REQUIRED: The complete policy to be applied to the `resource`. The size of
          the policy is limited to a few 10s of KB. An empty policy is a
          valid policy but certain Cloud Platform services (such as Projects)
          might reject them.
    type: object
  TestIamPermissionsRequest:
    description: Request message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          The set of permissions to check for the `resource`. Permissions with
          wildcards (such as '*' or 'storage.*') are not allowed. For more
          information see
          [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
        items:
          type: string
        type: array
    type: object
  TestIamPermissionsResponse:
    description: Response message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          A subset of `TestPermissionsRequest.permissions` that the caller is
          allowed.
        items:
          type: string
        type: array
    type: object
