swagger: '2.0'
info:
  version: '2018-07-26'
  x-release: v4
  title: Amazon Pinpoint Email Service
  description: '<fullname>Amazon Pinpoint Email Service</fullname> <p> This document contains reference information for the <a href="https://aws.amazon.com/pinpoint">Amazon Pinpoint</a> Email API, version 1.0. This document is best used in conjunction with the <a href="https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html">Amazon Pinpoint Developer Guide</a>.</p> <p>The Amazon Pinpoint Email API is available in the US East (N. Virginia), US West (Oregon), EU (Frankfurt), and EU (Ireland) Regions at the following endpoints:</p> <ul> <li> <p> <b>US East (N. Virginia)</b>: <code>email.us-east-1.amazonaws.com</code> </p> </li> <li> <p> <b>US West (Oregon)</b>: <code>email.us-west-2.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Frankfurt)</b>: <code>email.eu-central-1.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Ireland)</b>: <code>email.eu-west-1.amazonaws.com</code> </p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: pinpoint-email
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pinpoint-email-2018-07-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/email/'
host: email.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /v1/email/configuration-sets:
    post:
      operationId: CreateConfigurationSet
      description: 'Create a configuration set. <i>Configuration sets</i> are groups of rules that you can apply to the emails you send using Amazon Pinpoint. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '485':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - TrackingOptions
            properties:
              ConfigurationSetName:
                description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
                type: string
              TrackingOptions:
                description: '<p>An object that defines the tracking options for a configuration set. When you use Amazon Pinpoint to send an email, it contains an invisible image that''s used to track when recipients open your email. If your email contains links, those links are changed slightly in order to track when recipients click them.</p> <p>These images and links include references to a domain operated by AWS. You can optionally configure Amazon Pinpoint to use a domain that you operate for these images and links.</p>'
                type: object
                properties:
                  CustomRedirectDomain:
                    $ref: '#/definitions/CustomRedirectDomain'
                    description: The domain that you want to use for tracking open and click events.
              DeliveryOptions:
                description: Used to associate a configuration set with a dedicated IP pool.
                type: object
                properties:
                  SendingPoolName:
                    $ref: '#/definitions/PoolName'
                    description: The name of the dedicated IP pool that you want to associate with the configuration set.
              ReputationOptions:
                description: 'Enable or disable collection of reputation metrics for emails that you send using this configuration set in the current AWS Region. '
                type: object
                properties:
                  ReputationMetricsEnabled:
                    $ref: '#/definitions/Enabled'
                    description: 'If <code>true</code>, tracking of reputation metrics is enabled for the configuration set. If <code>false</code>, tracking of reputation metrics is disabled for the configuration set.'
                  LastFreshStart:
                    $ref: '#/definitions/LastFreshStart'
                    description: 'The date and time (in Unix time) when the reputation metrics were last given a fresh start. When your account is given a fresh start, your reputation metrics are calculated starting from the date of the fresh start.'
              SendingOptions:
                description: Used to enable or disable email sending for messages that use this configuration set in the current AWS Region.
                type: object
                properties:
                  SendingEnabled:
                    $ref: '#/definitions/Enabled'
                    description: 'If <code>true</code>, email sending is enabled for the configuration set. If <code>false</code>, email sending is disabled for the configuration set.'
              Tags:
                description: An object that defines the tags (keys and values) that you want to associate with the configuration set.
                type: array
                items:
                  $ref: '#/definitions/Tag'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListConfigurationSets
      description: '<p>List all of the configuration sets associated with your Amazon Pinpoint account in the current region.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConfigurationSetsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              NextToken:
                description: A token returned from a previous call to <code>ListConfigurationSets</code> to indicate the position in the list of configuration sets.
                type: string
              PageSize:
                description: 'The number of results to show in a single call to <code>ListConfigurationSets</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.'
                type: integer
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations':
    post:
      operationId: CreateConfigurationSetEventDestination
      description: '<p>Create an event destination. In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p> <p>A single configuration set can include more than one event destination.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - EventDestinationName
              - EventDestination
            properties:
              EventDestinationName:
                description: '<p>The name of an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
                type: string
              EventDestination:
                description: 'An object that defines the event destination. Specifically, it defines which services receive events from emails sent using the configuration set that the event destination is associated with. Also defines the types of events that are sent to the event destination.'
                type: object
                properties:
                  Enabled:
                    $ref: '#/definitions/Enabled'
                    description: '<p>If <code>true</code>, the event destination is enabled. When the event destination is enabled, the specified event types are sent to the destinations in this <code>EventDestinationDefinition</code>.</p> <p>If <code>false</code>, the event destination is disabled. When the event destination is disabled, events aren''t sent to the specified destinations.</p>'
                  MatchingEventTypes:
                    $ref: '#/definitions/EventTypes'
                    description: An array that specifies which events Amazon Pinpoint should send to the destinations in this <code>EventDestinationDefinition</code>.
                  KinesisFirehoseDestination:
                    $ref: '#/definitions/KinesisFirehoseDestination'
                    description: 'An object that defines an Amazon Kinesis Data Firehose destination for email events. You can use Amazon Kinesis Data Firehose to stream data to other services, such as Amazon S3 and Amazon Redshift.'
                  CloudWatchDestination:
                    $ref: '#/definitions/CloudWatchDestination'
                    description: An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.
                  SnsDestination:
                    $ref: '#/definitions/SnsDestination'
                    description: An object that defines an Amazon SNS destination for email events. You can use Amazon SNS to send notification when certain email events occur.
                  PinpointDestination:
                    $ref: '#/definitions/PinpointDestination'
                    description: An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments for your campaigns.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetConfigurationSetEventDestinations
      description: '<p>Retrieve a list of event destinations that are associated with a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConfigurationSetEventDestinationsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
  /v1/email/dedicated-ip-pools:
    post:
      operationId: CreateDedicatedIpPool
      description: 'Create a new pool of dedicated IP addresses. A pool can include one or more dedicated IP addresses that are associated with your Amazon Pinpoint account. You can associate a pool with a configuration set. When you send an email that uses that configuration set, Amazon Pinpoint sends it using only the IP addresses in the associated pool.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDedicatedIpPoolResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - PoolName
            properties:
              PoolName:
                description: The name of a dedicated IP pool.
                type: string
              Tags:
                description: An object that defines the tags (keys and values) that you want to associate with the pool.
                type: array
                items:
                  $ref: '#/definitions/Tag'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDedicatedIpPools
      description: List all of the dedicated IP pools that exist in your Amazon Pinpoint account in the current AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDedicatedIpPoolsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              NextToken:
                description: A token returned from a previous call to <code>ListDedicatedIpPools</code> to indicate the position in the list of dedicated IP pools.
                type: string
              PageSize:
                description: 'The number of results to show in a single call to <code>ListDedicatedIpPools</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.'
                type: integer
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /v1/email/deliverability-dashboard/test:
    post:
      operationId: CreateDeliverabilityTestReport
      description: 'Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeliverabilityTestReportResponse'
        '480':
          description: AccountSuspendedException
          schema:
            $ref: '#/definitions/AccountSuspendedException'
        '481':
          description: SendingPausedException
          schema:
            $ref: '#/definitions/SendingPausedException'
        '482':
          description: MessageRejected
          schema:
            $ref: '#/definitions/MessageRejected'
        '483':
          description: MailFromDomainNotVerifiedException
          schema:
            $ref: '#/definitions/MailFromDomainNotVerifiedException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '487':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '488':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - FromEmailAddress
              - Content
            properties:
              ReportName:
                description: A name that helps you identify a report generated by the Deliverability dashboard.
                type: string
              FromEmailAddress:
                description: The email address that the predictive inbox placement test email was sent from.
                type: string
              Content:
                description: 'An object that defines the entire content of the email, including the message headers and the body content. You can create a simple email message, in which you specify the subject and the text and HTML versions of the message body. You can also create raw messages, in which you specify a complete MIME-formatted message. Raw messages can include attachments and custom headers.'
                type: object
                properties:
                  Simple:
                    $ref: '#/definitions/Message'
                    description: The simple email message. The message consists of a subject and a message body.
                  Raw:
                    $ref: '#/definitions/RawMessage'
                    description: '<p>The raw email message. The message has to meet the following criteria:</p> <ul> <li> <p>The message has to contain a header and a body, separated by one blank line.</p> </li> <li> <p>All of the required header fields must be present in the message.</p> </li> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>If you include attachments, they must be in a file format that Amazon Pinpoint supports. </p> </li> <li> <p>The entire message must be Base64 encoded.</p> </li> <li> <p>If any of the MIME parts in your message contain content that is outside of the 7-bit ASCII character range, you should encode that content to ensure that recipients'' email clients render the message properly.</p> </li> <li> <p>The length of any single line of text in the message can''t exceed 1,000 characters. This restriction is defined in <a href="https://tools.ietf.org/html/rfc5321">RFC 5321</a>.</p> </li> </ul>'
              Tags:
                description: An object that defines the tags (keys and values) that you want to associate with the predictive inbox placement test.
                type: array
                items:
                  $ref: '#/definitions/Tag'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/identities:
    post:
      operationId: CreateEmailIdentity
      description: '<p>Verifies an email identity for use with Amazon Pinpoint. In Amazon Pinpoint, an identity is an email address or domain that you use when you send email. Before you can use an identity to send email with Amazon Pinpoint, you first have to verify it. By verifying an address, you demonstrate that you''re the owner of the address, and that you''ve given Amazon Pinpoint permission to send email from the address.</p> <p>When you verify an email address, Amazon Pinpoint sends an email to the address. Your email address is verified as soon as you follow the link in the verification email. </p> <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your domain. Your domain is verified when Amazon Pinpoint detects these records in the DNS configuration for your domain. It usually takes around 72 hours to complete the domain verification process.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEmailIdentityResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - EmailIdentity
            properties:
              EmailIdentity:
                description: The email address or domain that you want to verify.
                type: string
              Tags:
                description: An object that defines the tags (keys and values) that you want to associate with the email identity.
                type: array
                items:
                  $ref: '#/definitions/Tag'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListEmailIdentities
      description: Returns a list of all of the email identities that are associated with your Amazon Pinpoint account. An identity can be either an email address or a domain. This operation returns identities that are verified as well as those that aren't.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEmailIdentitiesResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              NextToken:
                description: A token returned from a previous call to <code>ListEmailIdentities</code> to indicate the position in the list of identities.
                type: string
              PageSize:
                description: '<p>The number of results to show in a single call to <code>ListEmailIdentities</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.</p> <p>The value you specify has to be at least 0, and can be no more than 1000.</p>'
                type: integer
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/v1/email/configuration-sets/{ConfigurationSetName}':
    delete:
      operationId: DeleteConfigurationSet
      description: '<p>Delete an existing configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetConfigurationSet
      description: '<p>Get information about an existing configuration set, including the dedicated IP pool that it''s associated with, whether or not it''s enabled for sending email, and more.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConfigurationSetResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
  '/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}':
    delete:
      operationId: DeleteConfigurationSetEventDestination
      description: '<p>Delete an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: EventDestinationName
          in: path
          required: true
          description: '<p>The name of an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateConfigurationSetEventDestination
      description: '<p>Update the configuration of an event destination for a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConfigurationSetEventDestinationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: EventDestinationName
          in: path
          required: true
          description: '<p>The name of an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - EventDestination
            properties:
              EventDestination:
                description: 'An object that defines the event destination. Specifically, it defines which services receive events from emails sent using the configuration set that the event destination is associated with. Also defines the types of events that are sent to the event destination.'
                type: object
                properties:
                  Enabled:
                    $ref: '#/definitions/Enabled'
                    description: '<p>If <code>true</code>, the event destination is enabled. When the event destination is enabled, the specified event types are sent to the destinations in this <code>EventDestinationDefinition</code>.</p> <p>If <code>false</code>, the event destination is disabled. When the event destination is disabled, events aren''t sent to the specified destinations.</p>'
                  MatchingEventTypes:
                    $ref: '#/definitions/EventTypes'
                    description: An array that specifies which events Amazon Pinpoint should send to the destinations in this <code>EventDestinationDefinition</code>.
                  KinesisFirehoseDestination:
                    $ref: '#/definitions/KinesisFirehoseDestination'
                    description: 'An object that defines an Amazon Kinesis Data Firehose destination for email events. You can use Amazon Kinesis Data Firehose to stream data to other services, such as Amazon S3 and Amazon Redshift.'
                  CloudWatchDestination:
                    $ref: '#/definitions/CloudWatchDestination'
                    description: An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.
                  SnsDestination:
                    $ref: '#/definitions/SnsDestination'
                    description: An object that defines an Amazon SNS destination for email events. You can use Amazon SNS to send notification when certain email events occur.
                  PinpointDestination:
                    $ref: '#/definitions/PinpointDestination'
                    description: An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments for your campaigns.
  '/v1/email/dedicated-ip-pools/{PoolName}':
    delete:
      operationId: DeleteDedicatedIpPool
      description: Delete a dedicated IP pool.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDedicatedIpPoolResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: PoolName
          in: path
          required: true
          description: The name of a dedicated IP pool.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}':
    delete:
      operationId: DeleteEmailIdentity
      description: Deletes an email identity that you previously verified for use with Amazon Pinpoint. An identity can be either an email address or a domain name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEmailIdentityResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: EmailIdentity
          in: path
          required: true
          description: 'The identity (that is, the email address or domain) that you want to delete from your Amazon Pinpoint account.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetEmailIdentity
      description: 'Provides information about a specific identity associated with your Amazon Pinpoint account, including the identity''s verification status, its DKIM authentication status, and its custom Mail-From settings.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEmailIdentityResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: EmailIdentity
          in: path
          required: true
          description: The email identity that you want to retrieve details for.
          type: string
  /v1/email/account:
    get:
      operationId: GetAccount
      description: Obtain information about the email-sending status and capabilities of your Amazon Pinpoint account in the current AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/deliverability-dashboard/blacklist-report:
    get:
      operationId: GetBlacklistReports
      description: Retrieve a list of the blacklists that your dedicated IP addresses appear on.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBlacklistReportsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BlacklistItemNames
            properties:
              BlacklistItemNames:
                description: A list of IP addresses that you want to retrieve blacklist information about. You can only specify the dedicated IP addresses that you use to send email using Amazon Pinpoint or Amazon SES.
                type: array
                items:
                  $ref: '#/definitions/BlacklistItemName'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/dedicated-ips/{IP}':
    get:
      operationId: GetDedicatedIp
      description: 'Get information about a dedicated IP address, including the name of the dedicated IP pool that it''s associated with, as well information about the automatic warm-up process for the address.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDedicatedIpResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: IP
          in: path
          required: true
          description: A dedicated IP address that is associated with your Amazon Pinpoint account.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/dedicated-ips:
    get:
      operationId: GetDedicatedIps
      description: List the dedicated IP addresses that are associated with your Amazon Pinpoint account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDedicatedIpsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              PoolName:
                description: The name of a dedicated IP pool.
                type: string
              NextToken:
                description: A token returned from a previous call to <code>GetDedicatedIps</code> to indicate the position of the dedicated IP pool in the list of IP pools.
                type: string
              PageSize:
                description: 'The number of results to show in a single call to <code>GetDedicatedIpsRequest</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.'
                type: integer
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/deliverability-dashboard:
    get:
      operationId: GetDeliverabilityDashboardOptions
      description: '<p>Show the status of the Deliverability dashboard. When the Deliverability dashboard is enabled, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, AWS prorates the monthly charge based on how many days have elapsed in the current calendar month.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeliverabilityDashboardOptionsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: PutDeliverabilityDashboardOption
      description: '<p>Enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, we prorate the monthly charge based on how many days have elapsed in the current calendar month.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDeliverabilityDashboardOptionResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - DashboardEnabled
            properties:
              DashboardEnabled:
                description: 'Indicates whether the Deliverability dashboard is enabled. If the value is <code>true</code>, then the dashboard is enabled.'
                type: boolean
  '/v1/email/deliverability-dashboard/test-reports/{ReportId}':
    get:
      operationId: GetDeliverabilityTestReport
      description: Retrieve the results of a predictive inbox placement test.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeliverabilityTestReportResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ReportId
          in: path
          required: true
          description: A unique string that identifies a Deliverability dashboard report.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/deliverability-dashboard/statistics-report/{Domain}':
    get:
      operationId: GetDomainStatisticsReport
      description: Retrieve inbox placement and engagement rates for the domains that you use to send email.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainStatisticsReportResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: Domain
          in: path
          required: true
          description: The domain that you want to obtain deliverability metrics for.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StartDate
              - EndDate
            properties:
              StartDate:
                description: The first day (in Unix time) that you want to obtain domain deliverability metrics for.
                type: string
                format: date-time
              EndDate:
                description: The last day (in Unix time) that you want to obtain domain deliverability metrics for. The <code>EndDate</code> that you specify has to be less than or equal to 30 days after the <code>StartDate</code>.
                type: string
                format: date-time
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/deliverability-dashboard/test-reports:
    get:
      operationId: ListDeliverabilityTestReports
      description: 'Show a list of the predictive inbox placement tests that you''ve performed, regardless of their statuses. For predictive inbox placement tests that are complete, you can use the <code>GetDeliverabilityTestReport</code> operation to view the results.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeliverabilityTestReportsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              NextToken:
                description: A token returned from a previous call to <code>ListDeliverabilityTestReports</code> to indicate the position in the list of predictive inbox placement tests.
                type: string
              PageSize:
                description: '<p>The number of results to show in a single call to <code>ListDeliverabilityTestReports</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.</p> <p>The value you specify has to be at least 0, and can be no more than 1000.</p>'
                type: integer
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/tags:
    get:
      operationId: ListTagsForResource
      description: "Retrieve a list of the tags (keys and values) that are associated with a specific resource. A\_<i>tag</i>\_is a label that you optionally define and associate with a resource in Amazon Pinpoint. Each tag consists of a required\_<i>tag key</i>\_and an optional associated\_<i>tag value</i>. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key."
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ResourceArn
            properties:
              ResourceArn:
                description: The Amazon Resource Name (ARN) of the resource that you want to retrieve tag information for.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: TagResource
      description: "<p>Add one or more tags (keys and values) to one or more specified resources. A <i>tag</i>\_is a label that you optionally define and associate with a resource in Amazon Pinpoint. Tags can help you categorize and manage resources in different ways, such as by purpose, owner, environment, or other criteria. A resource can have as many as 50 tags.</p> <p>Each tag consists of a required\_<i>tag key</i>\_and an associated\_<i>tag value</i>, both of which you define. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>"
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ResourceArn
              - Tags
            properties:
              ResourceArn:
                description: The Amazon Resource Name (ARN) of the resource that you want to add one or more tags to.
                type: string
              Tags:
                description: A list of the tags that you want to add to the resource. A tag consists of a required tag key (<code>Key</code>) and an associated tag value (<code>Value</code>). The maximum length of a tag key is 128 characters. The maximum length of a tag value is 256 characters.
                type: array
                items:
                  $ref: '#/definitions/Tag'
  /v1/email/account/dedicated-ips/warmup:
    put:
      operationId: PutAccountDedicatedIpWarmupAttributes
      description: Enable or disable the automatic warm-up feature for dedicated IP addresses.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAccountDedicatedIpWarmupAttributesResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AutoWarmupEnabled:
                description: 'Enables or disables the automatic warm-up feature for dedicated IP addresses that are associated with your Amazon Pinpoint account in the current AWS Region. Set to <code>true</code> to enable the automatic warm-up feature, or set to <code>false</code> to disable it.'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/account/sending:
    put:
      operationId: PutAccountSendingAttributes
      description: Enable or disable the ability of your account to send email.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAccountSendingAttributesResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              SendingEnabled:
                description: '<p>Enables or disables your account''s ability to send email. Set to <code>true</code> to enable email sending, or set to <code>false</code> to disable email sending.</p> <note> <p>If AWS paused your account''s ability to send email, you can''t use this operation to resume your account''s ability to send email.</p> </note>'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/delivery-options':
    put:
      operationId: PutConfigurationSetDeliveryOptions
      description: Associate a configuration set with a dedicated IP pool. You can use dedicated IP pools to create groups of dedicated IP addresses for sending specific types of email.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetDeliveryOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              SendingPoolName:
                description: The name of the dedicated IP pool that you want to associate with the configuration set.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/reputation-options':
    put:
      operationId: PutConfigurationSetReputationOptions
      description: Enable or disable collection of reputation metrics for emails that you send using a particular configuration set in a specific AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetReputationOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              ReputationMetricsEnabled:
                description: 'If <code>true</code>, tracking of reputation metrics is enabled for the configuration set. If <code>false</code>, tracking of reputation metrics is disabled for the configuration set.'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/sending':
    put:
      operationId: PutConfigurationSetSendingOptions
      description: Enable or disable email sending for messages that use a particular configuration set in a specific AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetSendingOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              SendingEnabled:
                description: 'If <code>true</code>, email sending is enabled for the configuration set. If <code>false</code>, email sending is disabled for the configuration set.'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/tracking-options':
    put:
      operationId: PutConfigurationSetTrackingOptions
      description: Specify a custom domain to use for open and click tracking elements in email that you send using Amazon Pinpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetTrackingOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConfigurationSetName
          in: path
          required: true
          description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              CustomRedirectDomain:
                description: The domain that you want to use for tracking open and click events.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/dedicated-ips/{IP}/pool':
    put:
      operationId: PutDedicatedIpInPool
      description: '<p>Move a dedicated IP address to an existing dedicated IP pool.</p> <note> <p>The dedicated IP address that you specify must already exist, and must be associated with your Amazon Pinpoint account. </p> <p>The dedicated IP pool you specify must already exist. You can create a new pool by using the <code>CreateDedicatedIpPool</code> operation.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDedicatedIpInPoolResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: IP
          in: path
          required: true
          description: A dedicated IP address that is associated with your Amazon Pinpoint account.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - DestinationPoolName
            properties:
              DestinationPoolName:
                description: The name of a dedicated IP pool.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/dedicated-ips/{IP}/warmup':
    put:
      operationId: PutDedicatedIpWarmupAttributes
      description: <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDedicatedIpWarmupAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: IP
          in: path
          required: true
          description: A dedicated IP address that is associated with your Amazon Pinpoint account.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - WarmupPercentage
            properties:
              WarmupPercentage:
                description: The warm-up percentage that you want to associate with the dedicated IP address.
                type: integer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}/dkim':
    put:
      operationId: PutEmailIdentityDkimAttributes
      description: Used to enable or disable DKIM authentication for an email identity.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEmailIdentityDkimAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: EmailIdentity
          in: path
          required: true
          description: The email identity that you want to change the DKIM settings for.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              SigningEnabled:
                description: '<p>Sets the DKIM signing configuration for the identity.</p> <p>When you set this value <code>true</code>, then the messages that Amazon Pinpoint sends from the identity are DKIM-signed. When you set this value to <code>false</code>, then the messages that Amazon Pinpoint sends from the identity aren''t DKIM-signed.</p>'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}/feedback':
    put:
      operationId: PutEmailIdentityFeedbackAttributes
      description: '<p>Used to enable or disable feedback forwarding for an identity. This setting determines what happens when an identity is used to send an email that results in a bounce or complaint event.</p> <p>When you enable feedback forwarding, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you disable feedback forwarding, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic. You''re required to have a method of tracking bounces and complaints. If you haven''t set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEmailIdentityFeedbackAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: EmailIdentity
          in: path
          required: true
          description: The email identity that you want to configure bounce and complaint feedback forwarding for.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              EmailForwardingEnabled:
                description: '<p>Sets the feedback forwarding configuration for the identity.</p> <p>If the value is <code>true</code>, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you set this value to <code>false</code>, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic or another event destination. You''re required to have a method of tracking bounces and complaints. If you haven''t set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>'
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}/mail-from':
    put:
      operationId: PutEmailIdentityMailFromAttributes
      description: Used to enable or disable the custom Mail-From domain configuration for an email identity.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEmailIdentityMailFromAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: EmailIdentity
          in: path
          required: true
          description: The verified email identity that you want to set up the custom MAIL FROM domain for.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              MailFromDomain:
                description: The domain that you want to use as a MAIL FROM domain.
                type: string
              BehaviorOnMxFailure:
                description: '<p>The action that you want Amazon Pinpoint to take if it can''t read the required MX record for a custom MAIL FROM domain. When you set this value to <code>UseDefaultValue</code>, Amazon Pinpoint uses <i>amazonses.com</i> as the MAIL FROM domain. When you set this value to <code>RejectMessage</code>, Amazon Pinpoint returns a <code>MailFromDomainNotVerified</code> error, and doesn''t attempt to deliver the email.</p> <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code> states.</p>'
                type: string
                enum:
                  - USE_DEFAULT_VALUE
                  - REJECT_MESSAGE
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/outbound-emails:
    post:
      operationId: SendEmail
      description: '<p>Sends an email message. You can use the Amazon Pinpoint Email API to send two types of messages:</p> <ul> <li> <p> <b>Simple</b> – A standard email message. When you create this type of message, you specify the sender, the recipient, and the message body, and Amazon Pinpoint assembles the message for you.</p> </li> <li> <p> <b>Raw</b> – A raw, MIME-formatted email message. When you send this type of email, you have to specify all of the message headers, as well as the message body. You can use this message type to send messages that contain attachments. The message that you specify has to be a valid MIME message.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendEmailResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: AccountSuspendedException
          schema:
            $ref: '#/definitions/AccountSuspendedException'
        '483':
          description: SendingPausedException
          schema:
            $ref: '#/definitions/SendingPausedException'
        '484':
          description: MessageRejected
          schema:
            $ref: '#/definitions/MessageRejected'
        '485':
          description: MailFromDomainNotVerifiedException
          schema:
            $ref: '#/definitions/MailFromDomainNotVerifiedException'
        '486':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '487':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Destination
              - Content
            properties:
              FromEmailAddress:
                description: 'The email address that you want to use as the "From" address for the email. The address that you specify has to be verified. '
                type: string
              Destination:
                description: An object that describes the recipients for an email.
                type: object
                properties:
                  ToAddresses:
                    $ref: '#/definitions/EmailAddressList'
                    description: An array that contains the email addresses of the "To" recipients for the email.
                  CcAddresses:
                    $ref: '#/definitions/EmailAddressList'
                    description: An array that contains the email addresses of the "CC" (carbon copy) recipients for the email.
                  BccAddresses:
                    $ref: '#/definitions/EmailAddressList'
                    description: An array that contains the email addresses of the "BCC" (blind carbon copy) recipients for the email.
              ReplyToAddresses:
                description: 'The "Reply-to" email addresses for the message. When the recipient replies to the message, each Reply-to address receives the reply.'
                type: array
                items:
                  $ref: '#/definitions/EmailAddress'
              FeedbackForwardingEmailAddress:
                description: The address that Amazon Pinpoint should send bounce and complaint notifications to.
                type: string
              Content:
                description: 'An object that defines the entire content of the email, including the message headers and the body content. You can create a simple email message, in which you specify the subject and the text and HTML versions of the message body. You can also create raw messages, in which you specify a complete MIME-formatted message. Raw messages can include attachments and custom headers.'
                type: object
                properties:
                  Simple:
                    $ref: '#/definitions/Message'
                    description: The simple email message. The message consists of a subject and a message body.
                  Raw:
                    $ref: '#/definitions/RawMessage'
                    description: '<p>The raw email message. The message has to meet the following criteria:</p> <ul> <li> <p>The message has to contain a header and a body, separated by one blank line.</p> </li> <li> <p>All of the required header fields must be present in the message.</p> </li> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>If you include attachments, they must be in a file format that Amazon Pinpoint supports. </p> </li> <li> <p>The entire message must be Base64 encoded.</p> </li> <li> <p>If any of the MIME parts in your message contain content that is outside of the 7-bit ASCII character range, you should encode that content to ensure that recipients'' email clients render the message properly.</p> </li> <li> <p>The length of any single line of text in the message can''t exceed 1,000 characters. This restriction is defined in <a href="https://tools.ietf.org/html/rfc5321">RFC 5321</a>.</p> </li> </ul>'
              EmailTags:
                description: A list of message tags.
                type: array
                items:
                  $ref: '#/definitions/MessageTag'
              ConfigurationSetName:
                description: '<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/tags#ResourceArn&TagKeys':
    delete:
      operationId: UntagResource
      description: Remove one or more tags (keys and values) from a specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: ResourceArn
          in: query
          required: true
          description: The Amazon Resource Name (ARN) of the resource that you want to remove one or more tags from.
          type: string
        - name: TagKeys
          in: query
          required: true
          description: '<p>The tags (tag keys) that you want to remove from the resource. When you specify a tag key, the action removes both that key and its associated tag value.</p> <p>To remove more than one tag from the resource, append the <code>TagKeys</code> parameter and argument for each additional tag to remove, separated by an ampersand. For example: <code>/v1/email/tags?ResourceArn=ResourceArn&amp;TagKeys=Key1&amp;TagKeys=Key2</code> </p>'
          type: array
          items:
            type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateConfigurationSetResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  CustomRedirectDomain:
    type: string
    description: The domain that you want to use for tracking open and click events.
  PoolName:
    type: string
    description: The name of a dedicated IP pool.
  Enabled:
    type: boolean
  LastFreshStart:
    type: string
    description: 'The date and time (in Unix time) when the reputation metrics were last given a fresh start. When your account is given a fresh start, your reputation metrics are calculated starting from the date of the fresh start.'
    format: date-time
  Tag:
    type: object
    required:
      - Key
      - Value
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: One part of a key-value pair that defines a tag. The maximum length of a tag key is 128 characters. The minimum length is 1 character.
      Value:
        $ref: '#/definitions/TagValue'
        description: "The optional part of a key-value pair that defines a tag. The maximum length of a tag value is 256 characters. The minimum length is 0 characters. If you don’t want a resource to have a specific tag value, don’t specify a value for this\_parameter. Amazon Pinpoint will set the value to an empty string."
    description: "<p>An object that defines the tags that are associated with a resource. A\_<i>tag</i>\_is a label that you optionally define and associate with a resource in Amazon Pinpoint. Tags can help you categorize and manage resources in different ways, such as by purpose, owner, environment, or other criteria. A resource can have as many as 50 tags.</p> <p>Each tag consists of a required\_<i>tag key</i>\_and an associated\_<i>tag value</i>, both of which you define. A tag key is a general label that acts as a category for a more specific tag value. A tag value acts as a descriptor within a tag key. For example, if you have two versions of an Amazon Pinpoint project, one for internal testing and another for external use, you might assign a\_<code>Stack</code>\_tag key to both projects. The value of the\_<code>Stack</code>\_tag key might be\_<code>Test</code>\_for one project and\_<code>Production</code>\_for the other project.</p> <p>A tag key can contain as many as 128 characters. A tag value can contain as many as 256 characters. The characters can be Unicode letters, digits, white space, or one of the following symbols: _ . : / = + -. The following additional restrictions apply to tags:</p> <ul> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>For each associated resource, each tag key must be unique and it can have only one value.</p> </li> <li> <p>The\_<code>aws:</code>\_prefix is reserved for use by AWS; you can’t use it in any tag keys or values that you define. In addition, you can't edit or remove tag keys or values that use this prefix. Tags that use this prefix don’t count against the limit of 50 tags per resource.</p> </li> <li> <p>You can associate tags with public or shared resources, but the tags are available only for your AWS account, not any other accounts that share the resource. In addition, the tags are available only for resources that are located in the specified AWS Region for your AWS account.</p> </li> </ul>"
  AlreadyExistsException: {}
  NotFoundException: {}
  TooManyRequestsException: {}
  LimitExceededException: {}
  BadRequestException: {}
  ConcurrentModificationException: {}
  CreateConfigurationSetEventDestinationResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  EventTypes:
    type: array
    items:
      $ref: '#/definitions/EventType'
  KinesisFirehoseDestination:
[...]
