swagger: '2.0'
info:
  version: '2018-07-26'
  x-release: v4
  title: Amazon Pinpoint Email Service
  description: '<fullname>Amazon Pinpoint Email Service</fullname> <p> This document contains reference information for the <a href="https://aws.amazon.com/pinpoint">Amazon Pinpoint</a> Email API, version 1.0. This document is best used in conjunction with the <a href="http://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html">Amazon Pinpoint Developer Guide</a>.</p> <p>The Amazon Pinpoint Email API is available in the US East (N. Virginia), US West (Oregon) and the EU (Ireland) Regions at the following endpoints:</p> <ul> <li> <p> <b>US East (N. Virginia)</b>: <code>email.us-east-1.amazonaws.com</code> </p> </li> <li> <p> <b>US West (Oregon)</b>: <code>email.us-west-2.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Ireland)</b>: <code>email.eu-west-1.amazonaws.com</code> </p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: pinpoint-email
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pinpoint-email-2018-07-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/email/'
host: email.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /v1/email/configuration-sets:
    post:
      operationId: CreateConfigurationSet
      description: 'Create a configuration set. <i>Configuration sets</i> are groups of rules that you can apply to the emails you send using Amazon Pinpoint. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConfigurationSetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListConfigurationSets
      description: '<p>List all of the configuration sets associated with your Amazon Pinpoint account in the current region.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConfigurationSetsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListConfigurationSetsRequest'
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations':
    post:
      operationId: CreateConfigurationSetEventDestination
      description: '<p>Create an event destination. In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p> <p>A single configuration set can include more than one event destination.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetConfigurationSetEventDestinations
      description: '<p>Retrieve a list of event destinations that are associated with a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConfigurationSetEventDestinationsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConfigurationSetEventDestinationsRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
  /v1/email/dedicated-ip-pools:
    post:
      operationId: CreateDedicatedIpPool
      description: 'Create a new pool of dedicated IP addresses. A pool can include one or more dedicated IP addresses that are associated with your Amazon Pinpoint account. You can associate a pool with a configuration set. When you send an email that uses that configuration set, Amazon Pinpoint sends it using only the IP addresses in the associated pool.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDedicatedIpPoolResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDedicatedIpPoolRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDedicatedIpPools
      description: List all of the dedicated IP pools that exist in your Amazon Pinpoint account in the current AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDedicatedIpPoolsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDedicatedIpPoolsRequest'
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /v1/email/deliverability-dashboard/test:
    post:
      operationId: CreateDeliverabilityTestReport
      description: 'Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeliverabilityTestReportResponse'
        '480':
          description: AccountSuspendedException
          schema:
            $ref: '#/definitions/AccountSuspendedException'
        '481':
          description: SendingPausedException
          schema:
            $ref: '#/definitions/SendingPausedException'
        '482':
          description: MessageRejected
          schema:
            $ref: '#/definitions/MessageRejected'
        '483':
          description: MailFromDomainNotVerifiedException
          schema:
            $ref: '#/definitions/MailFromDomainNotVerifiedException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '487':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeliverabilityTestReportRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/identities:
    post:
      operationId: CreateEmailIdentity
      description: '<p>Verifies an email identity for use with Amazon Pinpoint. In Amazon Pinpoint, an identity is an email address or domain that you use when you send email. Before you can use an identity to send email with Amazon Pinpoint, you first have to verify it. By verifying an address, you demonstrate that you''re the owner of the address, and that you''ve given Amazon Pinpoint permission to send email from the address.</p> <p>When you verify an email address, Amazon Pinpoint sends an email to the address. Your email address is verified as soon as you follow the link in the verification email. </p> <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your domain. Your domain is verified when Amazon Pinpoint detects these records in the DNS configuration for your domain. It usually takes around 72 hours to complete the domain verification process.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEmailIdentityResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEmailIdentityRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListEmailIdentities
      description: Returns a list of all of the email identities that are associated with your Amazon Pinpoint account. An identity can be either an email address or a domain. This operation returns identities that are verified as well as those that aren't.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEmailIdentitiesResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListEmailIdentitiesRequest'
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/v1/email/configuration-sets/{ConfigurationSetName}':
    delete:
      operationId: DeleteConfigurationSet
      description: '<p>Delete an existing configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigurationSetRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetConfigurationSet
      description: '<p>Get information about an existing configuration set, including the dedicated IP pool that it''s associated with, whether or not it''s enabled for sending email, and more.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConfigurationSetResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConfigurationSetRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
  '/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}':
    delete:
      operationId: DeleteConfigurationSetEventDestination
      description: '<p>Delete an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
        - name: EventDestinationName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateConfigurationSetEventDestination
      description: '<p>Update the configuration of an event destination for a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConfigurationSetEventDestinationResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateConfigurationSetEventDestinationRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
        - name: EventDestinationName
          type: string
          in: path
          required: true
  '/v1/email/dedicated-ip-pools/{PoolName}':
    delete:
      operationId: DeleteDedicatedIpPool
      description: Delete a dedicated IP pool.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDedicatedIpPoolResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDedicatedIpPoolRequest'
        - name: PoolName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}':
    delete:
      operationId: DeleteEmailIdentity
      description: Deletes an email identity that you previously verified for use with Amazon Pinpoint. An identity can be either an email address or a domain name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEmailIdentityResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEmailIdentityRequest'
        - name: EmailIdentity
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetEmailIdentity
      description: 'Provides information about a specific identity associated with your Amazon Pinpoint account, including the identity''s verification status, its DKIM authentication status, and its custom Mail-From settings.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEmailIdentityResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetEmailIdentityRequest'
        - name: EmailIdentity
          type: string
          in: path
          required: true
  /v1/email/account:
    get:
      operationId: GetAccount
      description: Obtain information about the email-sending status and capabilities of your Amazon Pinpoint account in the current AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAccountResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/deliverability-dashboard/blacklist-report:
    get:
      operationId: GetBlacklistReports
      description: Retrieve a list of the blacklists that your dedicated IP addresses appear on.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBlacklistReportsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBlacklistReportsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/dedicated-ips/{IP}':
    get:
      operationId: GetDedicatedIp
      description: 'Get information about a dedicated IP address, including the name of the dedicated IP pool that it''s associated with, as well information about the automatic warm-up process for the address.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDedicatedIpResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDedicatedIpRequest'
        - name: IP
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/dedicated-ips:
    get:
      operationId: GetDedicatedIps
      description: List the dedicated IP addresses that are associated with your Amazon Pinpoint account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDedicatedIpsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDedicatedIpsRequest'
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/deliverability-dashboard:
    get:
      operationId: GetDeliverabilityDashboardOptions
      description: '<p>Show the status of the Deliverability dashboard. When the Deliverability dashboard is enabled, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, AWS prorates the monthly charge based on how many days have elapsed in the current calendar month.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeliverabilityDashboardOptionsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeliverabilityDashboardOptionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: PutDeliverabilityDashboardOption
      description: '<p>Enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, we prorate the monthly charge based on how many days have elapsed in the current calendar month.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDeliverabilityDashboardOptionResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDeliverabilityDashboardOptionRequest'
  '/v1/email/deliverability-dashboard/test-reports/{ReportId}':
    get:
      operationId: GetDeliverabilityTestReport
      description: Retrieve the results of a predictive inbox placement test.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeliverabilityTestReportResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeliverabilityTestReportRequest'
        - name: ReportId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/deliverability-dashboard/statistics-report/{Domain}':
    get:
      operationId: GetDomainStatisticsReport
      description: Retrieve inbox placement and engagement rates for the domains that you use to send email.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainStatisticsReportResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainStatisticsReportRequest'
        - name: Domain
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/deliverability-dashboard/test-reports:
    get:
      operationId: ListDeliverabilityTestReports
      description: 'Show a list of the predictive inbox placement tests that you''ve performed, regardless of their statuses. For predictive inbox placement tests that are complete, you can use the <code>GetDeliverabilityTestReport</code> operation to view the results.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeliverabilityTestReportsResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeliverabilityTestReportsRequest'
        - name: PageSize
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/account/dedicated-ips/warmup:
    put:
      operationId: PutAccountDedicatedIpWarmupAttributes
      description: Enable or disable the automatic warm-up feature for dedicated IP addresses.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAccountDedicatedIpWarmupAttributesResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutAccountDedicatedIpWarmupAttributesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/account/sending:
    put:
      operationId: PutAccountSendingAttributes
      description: Enable or disable the ability of your account to send email.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAccountSendingAttributesResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutAccountSendingAttributesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/delivery-options':
    put:
      operationId: PutConfigurationSetDeliveryOptions
      description: Associate a configuration set with a dedicated IP pool. You can use dedicated IP pools to create groups of dedicated IP addresses for sending specific types of email.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetDeliveryOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationSetDeliveryOptionsRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/reputation-options':
    put:
      operationId: PutConfigurationSetReputationOptions
      description: Enable or disable collection of reputation metrics for emails that you send using a particular configuration set in a specific AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetReputationOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationSetReputationOptionsRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/sending':
    put:
      operationId: PutConfigurationSetSendingOptions
      description: Enable or disable email sending for messages that use a particular configuration set in a specific AWS Region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetSendingOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationSetSendingOptionsRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/configuration-sets/{ConfigurationSetName}/tracking-options':
    put:
      operationId: PutConfigurationSetTrackingOptions
      description: Specify a custom domain to use for open and click tracking elements in email that you send using Amazon Pinpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationSetTrackingOptionsResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationSetTrackingOptionsRequest'
        - name: ConfigurationSetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/dedicated-ips/{IP}/pool':
    put:
      operationId: PutDedicatedIpInPool
      description: '<p>Move a dedicated IP address to an existing dedicated IP pool.</p> <note> <p>The dedicated IP address that you specify must already exist, and must be associated with your Amazon Pinpoint account. </p> <p>The dedicated IP pool you specify must already exist. You can create a new pool by using the <code>CreateDedicatedIpPool</code> operation.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDedicatedIpInPoolResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDedicatedIpInPoolRequest'
        - name: IP
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/dedicated-ips/{IP}/warmup':
    put:
      operationId: PutDedicatedIpWarmupAttributes
      description: <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDedicatedIpWarmupAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDedicatedIpWarmupAttributesRequest'
        - name: IP
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}/dkim':
    put:
      operationId: PutEmailIdentityDkimAttributes
      description: Used to enable or disable DKIM authentication for an email identity.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEmailIdentityDkimAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutEmailIdentityDkimAttributesRequest'
        - name: EmailIdentity
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}/feedback':
    put:
      operationId: PutEmailIdentityFeedbackAttributes
      description: '<p>Used to enable or disable feedback forwarding for an identity. This setting determines what happens when an identity is used to send an email that results in a bounce or complaint event.</p> <p>When you enable feedback forwarding, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you disable feedback forwarding, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic. You''re required to have a method of tracking bounces and complaints. If you haven''t set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEmailIdentityFeedbackAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutEmailIdentityFeedbackAttributesRequest'
        - name: EmailIdentity
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/email/identities/{EmailIdentity}/mail-from':
    put:
      operationId: PutEmailIdentityMailFromAttributes
      description: Used to enable or disable the custom Mail-From domain configuration for an email identity.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEmailIdentityMailFromAttributesResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutEmailIdentityMailFromAttributesRequest'
        - name: EmailIdentity
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/email/outbound-emails:
    post:
      operationId: SendEmail
      description: '<p>Sends an email message. You can use the Amazon Pinpoint Email API to send two types of messages:</p> <ul> <li> <p> <b>Simple</b> – A standard email message. When you create this type of message, you specify the sender, the recipient, and the message body, and Amazon Pinpoint assembles the message for you.</p> </li> <li> <p> <b>Raw</b> – A raw, MIME-formatted email message. When you send this type of email, you have to specify all of the message headers, as well as the message body. You can use this message type to send messages that contain attachments. The message that you specify has to be a valid MIME message.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SendEmailResponse'
        '480':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: AccountSuspendedException
          schema:
            $ref: '#/definitions/AccountSuspendedException'
        '483':
          description: SendingPausedException
          schema:
            $ref: '#/definitions/SendingPausedException'
        '484':
          description: MessageRejected
          schema:
            $ref: '#/definitions/MessageRejected'
        '485':
          description: MailFromDomainNotVerifiedException
          schema:
            $ref: '#/definitions/MailFromDomainNotVerifiedException'
        '486':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '487':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendEmailRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateConfigurationSetResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  CreateConfigurationSetRequest:
    type: object
    properties:
      ConfigurationSetName:
        $ref: '#/definitions/ConfigurationSetName'
        description: The name of the configuration set.
      TrackingOptions:
        $ref: '#/definitions/TrackingOptions'
        description: An object that defines the open and click tracking options for emails that you send using the configuration set.
      DeliveryOptions:
        $ref: '#/definitions/DeliveryOptions'
        description: An object that defines the dedicated IP pool that is used to send emails that you send using the configuration set.
      ReputationOptions:
        $ref: '#/definitions/ReputationOptions'
        description: An object that defines whether or not Amazon Pinpoint collects reputation metrics for the emails that you send that use the configuration set.
      SendingOptions:
        $ref: '#/definitions/SendingOptions'
        description: An object that defines whether or not Amazon Pinpoint can send email that you send using the configuration set.
    description: A request to create a configuration set.
  AlreadyExistsException: {}
  NotFoundException: {}
  TooManyRequestsException: {}
  LimitExceededException: {}
  BadRequestException: {}
  CreateConfigurationSetEventDestinationResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  CreateConfigurationSetEventDestinationRequest:
    type: object
    required:
      - EventDestinationName
      - EventDestination
    properties:
      EventDestinationName:
        $ref: '#/definitions/EventDestinationName'
        description: A name that identifies the event destination within the configuration set.
      EventDestination:
        $ref: '#/definitions/EventDestinationDefinition'
        description: An object that defines the event destination.
    description: A request to add an event destination to a configuration set.
  CreateDedicatedIpPoolResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  CreateDedicatedIpPoolRequest:
    type: object
    required:
      - PoolName
    properties:
      PoolName:
        $ref: '#/definitions/PoolName'
        description: The name of the dedicated IP pool.
    description: A request to create a new dedicated IP pool.
  CreateDeliverabilityTestReportResponse:
    type: object
    required:
      - ReportId
      - DeliverabilityTestStatus
    properties:
      ReportId:
        $ref: '#/definitions/ReportId'
        description: A unique string that identifies the predictive inbox placement test.
      DeliverabilityTestStatus:
        $ref: '#/definitions/DeliverabilityTestStatus'
        description: 'The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use the <code>GetDeliverabilityTestReport</code> to view the results of the test.'
    description: Information about the predictive inbox placement test that you created.
  CreateDeliverabilityTestReportRequest:
    type: object
    required:
      - FromEmailAddress
      - Content
    properties:
      ReportName:
        $ref: '#/definitions/ReportName'
        description: A unique name that helps you to identify the predictive inbox placement test when you retrieve the results.
      FromEmailAddress:
        $ref: '#/definitions/EmailAddress'
        description: The email address that the predictive inbox placement test email was sent from.
      Content:
        $ref: '#/definitions/EmailContent'
        description: The HTML body of the message that you sent when you performed the predictive inbox placement test.
    description: 'A request to perform a predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.'
  AccountSuspendedException: {}
  SendingPausedException: {}
  MessageRejected: {}
  MailFromDomainNotVerifiedException: {}
  CreateEmailIdentityResponse:
    type: object
    properties:
      IdentityType:
        $ref: '#/definitions/IdentityType'
        description: The email identity type.
      VerifiedForSendingStatus:
        $ref: '#/definitions/Enabled'
        description: 'Specifies whether or not the identity is verified. In Amazon Pinpoint, you can only send email from verified email addresses or domains. For more information about verifying identities, see the <a href="http://docs.aws.amazon.com/pinpoint/latest/userguide/channels-email-manage-verify.html">Amazon Pinpoint User Guide</a>.'
      DkimAttributes:
        $ref: '#/definitions/DkimAttributes'
        description: An object that contains information about the DKIM attributes for the identity. This object includes the tokens that you use to create the CNAME records that are required to complete the DKIM verification process.
    description: '<p>If the email identity is a domain, this object contains tokens that you can use to create a set of CNAME records. To sucessfully verify your domain, you have to add these records to the DNS configuration for your domain.</p> <p>If the email identity is an email address, this object is empty. </p>'
  CreateEmailIdentityRequest:
    type: object
    required:
      - EmailIdentity
    properties:
      EmailIdentity:
        $ref: '#/definitions/Identity'
        description: The email address or domain that you want to verify.
    description: A request to begin the verification process for an email identity (an email address or domain).
  DeleteConfigurationSetResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  DeleteConfigurationSetRequest:
    type: object
    properties: {}
    description: A request to delete a configuration set.
  DeleteConfigurationSetEventDestinationResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  DeleteConfigurationSetEventDestinationRequest:
    type: object
    properties: {}
    description: A request to delete an event destination from a configuration set.
  DeleteDedicatedIpPoolResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  DeleteDedicatedIpPoolRequest:
    type: object
    properties: {}
    description: A request to delete a dedicated IP pool.
  DeleteEmailIdentityResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  DeleteEmailIdentityRequest:
    type: object
    properties: {}
    description: 'A request to delete an existing email identity. When you delete an identity, you lose the ability to use Amazon Pinpoint to send email from that identity. You can restore your ability to send email by completing the verification process for the identity again.'
  GetAccountResponse:
    type: object
    properties:
      SendQuota:
        $ref: '#/definitions/SendQuota'
        description: An object that contains information about the per-day and per-second sending limits for your Amazon Pinpoint account in the current AWS Region.
      SendingEnabled:
        $ref: '#/definitions/Enabled'
        description: Indicates whether or not email sending is enabled for your Amazon Pinpoint account in the current AWS Region.
      DedicatedIpAutoWarmupEnabled:
        $ref: '#/definitions/Enabled'
        description: Indicates whether or not the automatic warm-up feature is enabled for dedicated IP addresses that are associated with your account.
      EnforcementStatus:
        $ref: '#/definitions/GeneralEnforcementStatus'
        description: '<p>The reputation status of your Amazon Pinpoint account. The status can be one of the following:</p> <ul> <li> <p> <code>HEALTHY</code> – There are no reputation-related issues that currently impact your account.</p> </li> <li> <p> <code>PROBATION</code> – We''ve identified some issues with your Amazon Pinpoint account. We''re placing your account under review while you work on correcting these issues.</p> </li> <li> <p> <code>SHUTDOWN</code> – Your account''s ability to send email is currently paused because of an issue with the email sent from your account. When you correct the issue, you can contact us and request that your account''s ability to send email is resumed.</p> </li> </ul>'
      ProductionAccessEnabled:
        $ref: '#/definitions/Enabled'
        description: '<p>Indicates whether or not your account has production access in the current AWS Region.</p> <p>If the value is <code>false</code>, then your account is in the <i>sandbox</i>. When your account is in the sandbox, you can only send email to verified identities. Additionally, the maximum number of emails you can send in a 24-hour period (your sending quota) is 200, and the maximum number of emails you can send per second (your maximum sending rate) is 1.</p> <p>If the value is <code>true</code>, then your account has production access. When your account has production access, you can send email to any address. The sending quota and maximum sending rate for your account vary based on your specific use case.</p>'
    description: A list of details about the email-sending capabilities of your Amazon Pinpoint account in the current AWS Region.
  GetAccountRequest:
    type: object
    properties: {}
    description: A request to obtain information about the email-sending capabilities of your Amazon Pinpoint account.
  GetBlacklistReportsResponse:
    type: object
    required:
      - BlacklistReport
    properties:
      BlacklistReport:
        $ref: '#/definitions/BlacklistReport'
        description: An object that contains information about a blacklist that one of your dedicated IP addresses appears on.
    description: An object that contains information about blacklist events.
  GetBlacklistReportsRequest:
    type: object
    required:
      - BlacklistItemNames
    properties:
      BlacklistItemNames:
        $ref: '#/definitions/BlacklistItemNames'
        description: A list of IP addresses that you want to retrieve blacklist information about. You can only specify the dedicated IP addresses that you use to send email using Amazon Pinpoint or Amazon SES.
    description: A request to retrieve a list of the blacklists that your dedicated IP addresses appear on.
  GetConfigurationSetResponse:
    type: object
    properties:
      ConfigurationSetName:
        $ref: '#/definitions/ConfigurationSetName'
        description: The name of the configuration set.
      TrackingOptions:
        $ref: '#/definitions/TrackingOptions'
        description: An object that defines the open and click tracking options for emails that you send using the configuration set.
      DeliveryOptions:
        $ref: '#/definitions/DeliveryOptions'
        description: An object that defines the dedicated IP pool that is used to send emails that you send using the configuration set.
      ReputationOptions:
        $ref: '#/definitions/ReputationOptions'
        description: An object that defines whether or not Amazon Pinpoint collects reputation metrics for the emails that you send that use the configuration set.
      SendingOptions:
        $ref: '#/definitions/SendingOptions'
        description: An object that defines whether or not Amazon Pinpoint can send email that you send using the configuration set.
    description: Information about a configuration set.
  GetConfigurationSetRequest:
    type: object
    properties: {}
    description: A request to obtain information about a configuration set.
  GetConfigurationSetEventDestinationsResponse:
    type: object
    properties:
      EventDestinations:
        $ref: '#/definitions/EventDestinations'
        description: An array that includes all of the events destinations that have been configured for the configuration set.
    description: Information about an event destination for a configuration set.
  GetConfigurationSetEventDestinationsRequest:
    type: object
    properties: {}
    description: A request to obtain information about the event destinations for a configuration set.
  GetDedicatedIpResponse:
    type: object
    properties:
      DedicatedIp:
        $ref: '#/definitions/DedicatedIp'
        description: An object that contains information about a dedicated IP address.
    description: Information about a dedicated IP address.
  GetDedicatedIpRequest:
    type: object
    properties: {}
    description: A request to obtain more information about a dedicated IP address.
  GetDedicatedIpsResponse:
    type: object
    properties:
      DedicatedIps:
        $ref: '#/definitions/DedicatedIpList'
        description: A list of dedicated IP addresses that are reserved for use by your Amazon Pinpoint account.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'A token that indicates that there are additional dedicated IP addresses to list. To view additional addresses, issue another request to <code>GetDedicatedIps</code>, passing this token in the <code>NextToken</code> parameter.'
    description: Information about the dedicated IP addresses that are associated with your Amazon Pinpoint account.
  GetDedicatedIpsRequest:
    type: object
    properties:
      PoolName:
        $ref: '#/definitions/PoolName'
        description: The name of the IP pool that the dedicated IP address is associated with.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A token returned from a previous call to <code>GetDedicatedIps</code> to indicate the position of the dedicated IP pool in the list of IP pools.
      PageSize:
        $ref: '#/definitions/MaxItems'
        description: 'The number of results to show in a single call to <code>GetDedicatedIpsRequest</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.'
    description: A request to obtain more information about dedicated IP pools.
  GetDeliverabilityDashboardOptionsResponse:
    type: object
    required:
      - DashboardEnabled
    properties:
      DashboardEnabled:
        $ref: '#/definitions/Enabled'
        description: 'Indicates whether the Deliverability dashboard is enabled. If the value is <code>true</code>, then the dashboard is enabled.'
    description: An object that shows the status of the Deliverability dashboard for your Amazon Pinpoint account.
  GetDeliverabilityDashboardOptionsRequest:
    type: object
    properties: {}
    description: '<p>A request to retrieve the status of the Deliverability dashboard for your account. When the Deliverability dashboard is enabled, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, AWS prorates the monthly charge based on how many days have elapsed in the current calendar month.</p>'
  GetDeliverabilityTestReportResponse:
    type: object
    required:
      - DeliverabilityTestReport
      - OverallPlacement
      - IspPlacements
    properties:
      DeliverabilityTestReport:
        $ref: '#/definitions/DeliverabilityTestReport'
        description: An object that contains the results of the predictive inbox placement test.
      OverallPlacement:
        $ref: '#/definitions/PlacementStatistics'
        description: 'An object that specifies how many test messages that were sent during the predictive inbox placement test were delivered to recipients'' inboxes, how many were sent to recipients'' spam folders, and how many weren''t delivered.'
      IspPlacements:
        $ref: '#/definitions/IspPlacements'
        description: 'An object that describes how the test email was handled by several email providers, including Gmail, Hotmail, Yahoo, AOL, and others.'
      Message:
        $ref: '#/definitions/MessageContent'
        description: An object that contains the message that you sent when you performed this predictive inbox placement test.
    description: The results of the predictive inbox placement test.
  GetDeliverabilityTestReportRequest:
    type: object
    properties: {}
    description: A request to retrieve the results of a predictive inbox placement test.
  GetDomainStatisticsReportResponse:
    type: object
    required:
      - OverallVolume
      - DailyVolumes
    properties:
      OverallVolume:
        $ref: '#/definitions/OverallVolume'
        description: An object that contains deliverability metrics for the domain that you specified. The data in this object is a summary of all of the data that was collected from the <code>StartDate</code> to the <code>EndDate</code>.
      DailyVolumes:
        $ref: '#/definitions/DailyVolumes'
        description: 'An object that contains deliverability metrics for the domain that you specified. This object contains data for each day, starting on the <code>StartDate</code> and ending on the <code>EndDate</code>.'
    description: An object that includes statistics that are related to the domain that you specified.
  GetDomainStatisticsReportRequest:
    type: object
    required:
      - StartDate
      - EndDate
    properties:
      StartDate:
        $ref: '#/definitions/Timestamp'
        description: The first day (in Unix time) that you want to obtain domain deliverability metrics for.
      EndDate:
        $ref: '#/definitions/Timestamp'
        description: The last day (in Unix time) that you want to obtain domain deliverability metrics for. The <code>EndDate</code> that you specify has to be less than or equal to 30 days after the <code>StartDate</code>.
    description: A request to obtain deliverability metrics for a domain.
  GetEmailIdentityResponse:
    type: object
    properties:
      IdentityType:
        $ref: '#/definitions/IdentityType'
        description: The email identity type.
      FeedbackForwardingStatus:
        $ref: '#/definitions/Enabled'
        description: '<p>The feedback forwarding configuration for the identity.</p> <p>If the value is <code>true</code>, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you set this value to <code>false</code>, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic or another event destination. You''re required to have a method of tracking bounces and complaints. If you haven''t set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>'
      VerifiedForSendingStatus:
        $ref: '#/definitions/Enabled'
        description: 'Specifies whether or not the identity is verified. In Amazon Pinpoint, you can only send email from verified email addresses or domains. For more information about verifying identities, see the <a href="http://docs.aws.amazon.com/pinpoint/latest/userguide/channels-email-manage-verify.html">Amazon Pinpoint User Guide</a>.'
      DkimAttributes:
        $ref: '#/definitions/DkimAttributes'
        description: An object that contains information about the DKIM attributes for the identity. This object includes the tokens that you use to create the CNAME records that are required to complete the DKIM verification process.
      MailFromAttributes:
        $ref: '#/definitions/MailFromAttributes'
        description: An object that contains information about the Mail-From attributes for the email identity.
    description: Details about an email identity.
  GetEmailIdentityRequest:
    type: object
    properties: {}
    description: A request to return details about an email identity.
  ListConfigurationSetsResponse:
    type: object
    properties:
      ConfigurationSets:
        $ref: '#/definitions/ConfigurationSetNameList'
        description: An array that contains all of the configuration sets in your Amazon Pinpoint account in the current AWS Region.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'A token that indicates that there are additional configuration sets to list. To view additional configuration sets, issue another request to <code>ListConfigurationSets</code>, and pass this token in the <code>NextToken</code> parameter.'
    description: A list of configuration sets in your Amazon Pinpoint account in the current AWS Region.
  ListConfigurationSetsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A token returned from a previous call to <code>ListConfigurationSets</code> to indicate the position in the list of configuration sets.
      PageSize:
        $ref: '#/definitions/MaxItems'
        description: 'The number of results to show in a single call to <code>ListConfigurationSets</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.'
    description: A request to obtain a list of configuration sets for your Amazon Pinpoint account in the current AWS Region.
  ListDedicatedIpPoolsResponse:
    type: object
    properties:
      DedicatedIpPools:
        $ref: '#/definitions/ListOfDedicatedIpPools'
        description: A list of all of the dedicated IP pools that are associated with your Amazon Pinpoint account.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'A token that indicates that there are additional IP pools to list. To view additional IP pools, issue another request to <code>ListDedicatedIpPools</code>, passing this token in the <code>NextToken</code> parameter.'
    description: A list of dedicated IP pools.
  ListDedicatedIpPoolsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A token returned from a previous call to <code>ListDedicatedIpPools</code> to indicate the position in the list of dedicated IP pools.
      PageSize:
        $ref: '#/definitions/MaxItems'
        description: 'The number of results to show in a single call to <code>ListDedicatedIpPools</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.'
    description: A request to obtain a list of dedicated IP pools.
  ListDeliverabilityTestReportsResponse:
    type: object
    required:
      - DeliverabilityTestReports
    properties:
      DeliverabilityTestReports:
        $ref: '#/definitions/DeliverabilityTestReports'
        description: An object that contains a lists of predictive inbox placement tests that you've performed.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'A token that indicates that there are additional predictive inbox placement tests to list. To view additional predictive inbox placement tests, issue another request to <code>ListDeliverabilityTestReports</code>, and pass this token in the <code>NextToken</code> parameter.'
    description: 'A list of the predictive inbox placement test reports that are available for your account, regardless of whether or not those tests are complete.'
  ListDeliverabilityTestReportsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A token returned from a previous call to <code>ListDeliverabilityTestReports</code> to indicate the position in the list of predictive inbox placement tests.
      PageSize:
        $ref: '#/definitions/MaxItems'
        description: '<p>The number of results to show in a single call to <code>ListDeliverabilityTestReports</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.</p> <p>The value you specify has to be at least 0, and can be no more than 1000.</p>'
    description: A request to list all of the predictive inbox placement tests that you've performed.
  ListEmailIdentitiesResponse:
    type: object
    properties:
      EmailIdentities:
        $ref: '#/definitions/IdentityInfoList'
        description: An array that includes all of the identities associated with your Amazon Pinpoint account.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'A token that indicates that there are additional configuration sets to list. To view additional configuration sets, issue another request to <code>ListEmailIdentities</code>, and pass this token in the <code>NextToken</code> parameter.'
    description: 'A list of all of the identities that you''ve attempted to verify for use with Amazon Pinpoint, regardless of whether or not those identities were successfully verified.'
  ListEmailIdentitiesRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A token returned from a previous call to <code>ListEmailIdentities</code> to indicate the position in the list of identities.
      PageSize:
        $ref: '#/definitions/MaxItems'
        description: '<p>The number of results to show in a single call to <code>ListEmailIdentities</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.</p> <p>The value you specify has to be at least 0, and can be no more than 1000.</p>'
    description: 'A request to list all of the email identities associated with your Amazon Pinpoint account. This list includes identities that you''ve already verified, identities that are unverified, and identities that were verified in the past, but are no longer verified.'
  PutAccountDedicatedIpWarmupAttributesResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutAccountDedicatedIpWarmupAttributesRequest:
    type: object
    properties:
      AutoWarmupEnabled:
        $ref: '#/definitions/Enabled'
        description: 'Enables or disables the automatic warm-up feature for dedicated IP addresses that are associated with your Amazon Pinpoint account in the current AWS Region. Set to <code>true</code> to enable the automatic warm-up feature, or set to <code>false</code> to disable it.'
    description: A request to enable or disable the automatic IP address warm-up feature.
  PutAccountSendingAttributesResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutAccountSendingAttributesRequest:
    type: object
    properties:
      SendingEnabled:
        $ref: '#/definitions/Enabled'
        description: '<p>Enables or disables your account''s ability to send email. Set to <code>true</code> to enable email sending, or set to <code>false</code> to disable email sending.</p> <note> <p>If AWS paused your account''s ability to send email, you can''t use this operation to resume your account''s ability to send email.</p> </note>'
    description: A request to change the ability of your account to send email.
  PutConfigurationSetDeliveryOptionsResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutConfigurationSetDeliveryOptionsRequest:
    type: object
    properties:
      SendingPoolName:
        $ref: '#/definitions/SendingPoolName'
        description: The name of the dedicated IP pool that you want to associate with the configuration set.
    description: A request to associate a configuration set with a dedicated IP pool.
  PutConfigurationSetReputationOptionsResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutConfigurationSetReputationOptionsRequest:
    type: object
    properties:
      ReputationMetricsEnabled:
        $ref: '#/definitions/Enabled'
        description: 'If <code>true</code>, tracking of reputation metrics is enabled for the configuration set. If <code>false</code>, tracking of reputation metrics is disabled for the configuration set.'
    description: A request to enable or disable tracking of reputation metrics for a configuration set.
  PutConfigurationSetSendingOptionsResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutConfigurationSetSendingOptionsRequest:
    type: object
    properties:
      SendingEnabled:
        $ref: '#/definitions/Enabled'
        description: 'If <code>true</code>, email sending is enabled for the configuration set. If <code>false</code>, email sending is disabled for the configuration set.'
    description: A request to enable or disable the ability of Amazon Pinpoint to send emails that use a specific configuration set.
  PutConfigurationSetTrackingOptionsResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutConfigurationSetTrackingOptionsRequest:
    type: object
    properties:
      CustomRedirectDomain:
        $ref: '#/definitions/CustomRedirectDomain'
        description: The domain that you want to use to track open and click events.
    description: A request to add a custom domain for tracking open and click events to a configuration set.
  PutDedicatedIpInPoolResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutDedicatedIpInPoolRequest:
    type: object
    required:
      - DestinationPoolName
    properties:
      DestinationPoolName:
        $ref: '#/definitions/PoolName'
        description: The name of the IP pool that you want to add the dedicated IP address to. You have to specify an IP pool that already exists.
    description: A request to move a dedicated IP address to a dedicated IP pool.
  PutDedicatedIpWarmupAttributesResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutDedicatedIpWarmupAttributesRequest:
    type: object
    required:
      - WarmupPercentage
    properties:
      WarmupPercentage:
        $ref: '#/definitions/Percentage100Wrapper'
        description: The warm-up percentage that you want to associate with the dedicated IP address.
    description: A request to change the warm-up attributes for a dedicated IP address. This operation is useful when you want to resume the warm-up process for an existing IP address.
  PutDeliverabilityDashboardOptionResponse:
    type: object
    properties: {}
    description: A response that indicates whether the Deliverability dashboard is enabled for your Amazon Pinpoint account.
  PutDeliverabilityDashboardOptionRequest:
    type: object
    required:
      - DashboardEnabled
    properties:
      DashboardEnabled:
        $ref: '#/definitions/Enabled'
        description: 'Indicates whether the Deliverability dashboard is enabled. If the value is <code>true</code>, then the dashboard is enabled.'
    description: '<p>A request to enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly charge of USD$1,250.00, in addition to any other fees that you accrue by using Amazon Pinpoint. If you enable the Deliverability dashboard after the first day of a calendar month, we prorate the monthly charge based on how many days have elapsed in the current calendar month.</p>'
  PutEmailIdentityDkimAttributesResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutEmailIdentityDkimAttributesRequest:
    type: object
    properties:
      SigningEnabled:
        $ref: '#/definitions/Enabled'
        description: '<p>Sets the DKIM signing configuration for the identity.</p> <p>When you set this value <code>true</code>, then the messages that Amazon Pinpoint sends from the identity are DKIM-signed. When you set this value to <code>false</code>, then the messages that Amazon Pinpoint sends from the identity aren''t DKIM-signed.</p>'
    description: A request to enable or disable DKIM signing of email that you send from an email identity.
  PutEmailIdentityFeedbackAttributesResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutEmailIdentityFeedbackAttributesRequest:
    type: object
    properties:
      EmailForwardingEnabled:
        $ref: '#/definitions/Enabled'
        description: '<p>Sets the feedback forwarding configuration for the identity.</p> <p>If the value is <code>true</code>, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you set this value to <code>false</code>, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic or another event destination. You''re required to have a method of tracking bounces and complaints. If you haven''t set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>'
    description: A request to set the attributes that control how bounce and complaint events are processed.
  PutEmailIdentityMailFromAttributesResponse:
    type: object
    properties: {}
    description: 'An HTTP 200 response if the request succeeds, or an error message if the request fails.'
  PutEmailIdentityMailFromAttributesRequest:
    type: object
    properties:
      MailFromDomain:
        $ref: '#/definitions/MailFromDomainName'
        description: '<p> The custom MAIL FROM domain that you want the verified identity to use. The MAIL FROM domain must meet the following criteria:</p> <ul> <li> <p>It has to be a subdomain of the verified identity.</p> </li> <li> <p>It can''t be used to receive email.</p> </li> <li> <p>It can''t be used in a "From" address if the MAIL FROM domain is a destination for feedback forwarding emails.</p> </li> </ul>'
      BehaviorOnMxFailure:
        $ref: '#/definitions/BehaviorOnMxFailure'
        description: '<p>The action that you want Amazon Pinpoint to take if it can''t read the required MX record when you send an email. When you set this value to <code>UseDefaultValue</code>, Amazon Pinpoint uses <i>amazonses.com</i> as the MAIL FROM domain. When you set this value to <code>RejectMessage</code>, Amazon Pinpoint returns a <code>MailFromDomainNotVerified</code> error, and doesn''t attempt to deliver the email.</p> <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code> states.</p>'
    description: A request to configure the custom MAIL FROM domain for a verified identity.
  SendEmailResponse:
    type: object
    properties:
      MessageId:
        $ref: '#/definitions/OutboundMessageId'
[...]
