swagger: '2.0'
info:
  version: '2017-01-11'
  x-release: v4
  title: AWS Marketplace Entitlement Service
  description: '<fullname>AWS Marketplace Entitlement Service</fullname> <p>This reference provides descriptions of the AWS Marketplace Entitlement Service API.</p> <p>AWS Marketplace Entitlement Service is used to determine the entitlement of a customer to a given product. An entitlement represents capacity in a product owned by the customer. For example, a customer might own some number of users or seats in an SaaS application or some amount of data capacity in a multi-tenant database.</p> <p> <b>Getting Entitlement Records</b> </p> <ul> <li> <p> <i>GetEntitlements</i>- Gets the entitlements for a Marketplace product.</p> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: entitlement.marketplace
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/entitlement.marketplace-2017-01-11.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/marketplace/'
host: entitlement.marketplace.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: GetEntitlements
      description: GetEntitlements retrieves entitlement values for a given product. The results can be filtered based on customer identifier or product dimensions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEntitlementsResult'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetEntitlementsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  Boolean:
    type: boolean
  Double:
    type: number
    format: double
  Entitlement:
    type: object
    properties:
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: The product code for which the given entitlement applies. Product codes are provided by AWS Marketplace when the product listing is created.
      Dimension:
        $ref: '#/definitions/NonEmptyString'
        description: The dimension for which the given entitlement applies. Dimensions represent categories of capacity in a product and are specified when the product is listed in AWS Marketplace.
      CustomerIdentifier:
        $ref: '#/definitions/NonEmptyString'
        description: The customer identifier is a handle to each unique customer in an application. Customer identifiers are obtained through the ResolveCustomer operation in AWS Marketplace Metering Service.
      Value:
        $ref: '#/definitions/EntitlementValue'
        description: The EntitlementValue represents the amount of capacity that the customer is entitled to for the product.
      ExpirationDate:
        $ref: '#/definitions/Timestamp'
        description: 'The expiration date represents the minimum date through which this entitlement is expected to remain valid. For contractual products listed on AWS Marketplace, the expiration date is the date at which the customer will renew or cancel their contract. Customers who are opting to renew their contract will still have entitlements with an expiration date.'
    description: 'An entitlement represents capacity in a product owned by the customer. For example, a customer might own some number of users or seats in an SaaS application or some amount of data capacity in a multi-tenant database.'
  EntitlementList:
    type: array
    items:
      $ref: '#/definitions/Entitlement'
    minItems: 0
  EntitlementValue:
    type: object
    properties:
      IntegerValue:
        $ref: '#/definitions/Integer'
        description: 'The IntegerValue field will be populated with an integer value when the entitlement is an integer type. Otherwise, the field will not be set.'
      DoubleValue:
        $ref: '#/definitions/Double'
        description: 'The DoubleValue field will be populated with a double value when the entitlement is a double type. Otherwise, the field will not be set.'
      BooleanValue:
        $ref: '#/definitions/Boolean'
        description: 'The BooleanValue field will be populated with a boolean value when the entitlement is a boolean type. Otherwise, the field will not be set.'
      StringValue:
        $ref: '#/definitions/String'
        description: 'The StringValue field will be populated with a string value when the entitlement is a string type. Otherwise, the field will not be set.'
    description: The EntitlementValue represents the amount of capacity that the customer is entitled to for the product.
  ErrorMessage:
    type: string
  FilterValue:
    type: string
  FilterValueList:
    type: array
    items:
      $ref: '#/definitions/FilterValue'
    minItems: 1
  GetEntitlementFilterName:
    type: string
    enum:
      - CUSTOMER_IDENTIFIER
      - DIMENSION
  GetEntitlementFilters:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/GetEntitlementFilterName'
        value:
          $ref: '#/definitions/FilterValueList'
  GetEntitlementsRequest:
    type: object
    required:
      - ProductCode
    properties:
      ProductCode:
        $ref: '#/definitions/ProductCode'
        description: Product code is used to uniquely identify a product in AWS Marketplace. The product code will be provided by AWS Marketplace when the product listing is created.
      Filter:
        $ref: '#/definitions/GetEntitlementFilters'
        description: 'Filter is used to return entitlements for a specific customer or for a specific dimension. Filters are described as keys mapped to a lists of values. Filtered requests are <i>unioned</i> for each value in the value list, and then <i>intersected</i> for each filter key.'
      NextToken:
        $ref: '#/definitions/NonEmptyString'
        description: 'For paginated calls to GetEntitlements, pass the NextToken from the previous GetEntitlementsResult.'
      MaxResults:
        $ref: '#/definitions/Integer'
        description: 'The maximum number of items to retrieve from the GetEntitlements operation. For pagination, use the NextToken field in subsequent calls to GetEntitlements.'
    description: The GetEntitlementsRequest contains parameters for the GetEntitlements operation.
  GetEntitlementsResult:
    type: object
    properties:
      Entitlements:
        $ref: '#/definitions/EntitlementList'
        description: 'The set of entitlements found through the GetEntitlements operation. If the result contains an empty set of entitlements, NextToken might still be present and should be used.'
      NextToken:
        $ref: '#/definitions/NonEmptyString'
        description: 'For paginated results, use NextToken in subsequent calls to GetEntitlements. If the result contains an empty set of entitlements, NextToken might still be present and should be used.'
    description: The GetEntitlementsRequest contains results from the GetEntitlements operation.
  Integer:
    type: integer
  InternalServiceErrorException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
    description: 'An internal error has occurred. Retry your request. If the problem persists, post a message with details on the AWS forums.'
  InvalidParameterException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
    description: One or more parameters in your request was invalid.
  NonEmptyString:
    type: string
    pattern: \S+
  ProductCode:
    type: string
    minLength: 1
    maxLength: 255
  String:
    type: string
  ThrottlingException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
    description: The calls to the GetEntitlements API are throttled.
  Timestamp:
    type: string
    format: date-time
