openapi: 3.0.0
servers:
  - url: https://api.severa.visma.com/rest-api
x-hasEquivalentPaths: true
info:
  description: "The API uses OAuth2 client creadentials flow. To get the Bearer token for the resources you have to request the token by using route '/token', found from Authentication controller.\r

    \r

    You need to provide a Client_Id, client_secret and scope needed. The client_id and client_secret can be obtained from Severa UI Rest Api settings section.\r

    \r

    After authentication, calls need to use the Bearer token as authorization header (Bearer {accessToken}). The calls also need to have Client_Id header.\r

    \r

    The access token can be refreshed from '/refreshtoken' route using the refresh token which was obtained from the authentication.\r

    \r\n"
  title: Severa Public Rest API Documentation
  version: "1.0"
  x-apisguru-categories:
    - project_management
  x-logo:
    url: https://assets-global.website-files.com/6305e092bc95bebe63ae6578/639981fb13f505465c007db2_2437_16-9.jpg
  x-origin:
    - format: openapi
      url: https://api.severa.visma.com/psapublicrest/openapidocs/v1.0/doc.json
      version: "3.0"
  x-providerName: visma.com
paths:
  /heartbeat/authorized:
    get:
      description: This route requires authentication, returns 204 http status when successful.
      operationId: HeartBeat_GetAuthorization
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2: []
      summary: Returns http status code 204 for successful authentication.
      tags:
        - NoScope
  /heartbeat/database:
    get:
      description: This does not require authentication.
      operationId: HeartBeat_GetDatabaseStatus
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Returns message "Database is alive."
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      summary: Can be used to check the status of the database.
      tags:
        - NoScope
  /heartbeat/server:
    get:
      description: This does not require authentication.
      operationId: HeartBeat_GetServerStatus
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Returns message "Server is alive."
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      summary: Can be used to check the status of the REST Api.
      tags:
        - NoScope
  /v1/activities:
    get:
      description: Start and end date times accept values of DateTimeOffset type, based on UTF-8 encoding.
      operationId: Activities_GetActivities
      parameters:
        - description: "Optional: page token to fetch the next page."
          in: query
          name: pageToken
          schema:
            nullable: true
            type: string
          x-position: 1
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: Which activities to fetch - open/closed, Default all."
          in: query
          name: closed
          schema:
            nullable: true
            type: boolean
          x-position: 3
        - description: "Optional: activity category for the activities to be fetched. Should be one of Personal/Absences/CalendarEntry/SalesEvent/Task. Default all."
          explode: true
          in: query
          name: activityCategories
          schema:
            items:
              $ref: "#/components/schemas/ActivityCategory"
            nullable: true
            type: array
          style: form
          x-position: 4
        - description: "Optional: ID of customer. Default all."
          explode: true
          in: query
          name: customerGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 5
          x-relation-guid: CustomerModel
        - description: "Optional: Include the activities that don't have customer. Default is true."
          in: query
          name: includeTasksWithNoCustomer
          schema:
            default: true
            type: boolean
          x-position: 6
        - description: "Optional: ID of the project for the activities to be fetched. If not provided, returns for all projects. Default all."
          explode: true
          in: query
          name: projectGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 7
          x-relation-guid: ProjectOutputModel
        - description: "Optional: Include the activities that don't have project. Default is true."
          in: query
          name: includeTasksWithNoProject
          schema:
            default: true
            type: boolean
          x-position: 8
        - description: "Optional: ID of the business unit of the project based on which activities should be filtered. If not provided, returns for all business units. Default all."
          explode: true
          in: query
          name: projectBusinessUnitGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 9
          x-relation-guid: BusinessUnitModel
        - description: "Optional: ID of the project manager. If not provided, returns for all project managers. Default all."
          explode: true
          in: query
          name: projectOwnerGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 10
          x-relation-guid: UserOutputModel
        - description: "Optional: ID of the user for the activities to be fetched. If not provided, returns for all users. Default all."
          explode: true
          in: query
          name: userGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 11
          x-relation-guid: UserOutputModel
        - description: "Optional: Include the activities that the user is a member. Effective if userGuid is provided. Default is to not include."
          in: query
          name: includeAsMember
          schema:
            default: false
            type: boolean
          x-position: 12
        - description: "Optional: User keyword Ids of activity owner to search for."
          explode: true
          in: query
          name: userKeywordGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 13
          x-relation-guid: UserKeywordModel
        - description: "Optional: starting date and time from which to get the activities in user's timezone. Finds all activities that end after the date time. Format \"2017-04-12T13%3A20%3A00%2b02%3A00\". Default all."
          in: query
          name: startDateTime
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 14
        - description: "Optional: ending date and time to which to get the activities in user's timezone. Finds all activities that start before or on the date time. Format \"2017-04-12T13%3A20%3A00%2b02%3A00\". Default all. If activities for one day are fetched, give start date time with time as 00:00 with the offset of the timezone and end time as 23:59:59 with the offset."
          in: query
          name: endDateTime
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 15
        - description: "Optional: ID of the project task status. Default all."
          explode: true
          in: query
          name: projectTaskStatusGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 16
          x-relation-guid: ProjectTaskStatusModel
        - description: "Optional: ID of the phase for the activities to be fetched. If not provided, returns for all phases. Default all."
          explode: true
          in: query
          name: phaseGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 17
          x-relation-guid: PhaseOutputModel
        - description: "Optional: If one phase guid is given include activities also from sub phases. If multiple phase guids are given, returns activities only for those regardless of this parameter. Default false."
          in: query
          name: includeSubPhases
          schema:
            default: false
            type: boolean
          x-position: 18
        - description: "Optional: ID of the contact for the activities to be fetched. If not provided, returns for all users. Default all."
          explode: true
          in: query
          name: contactGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 19
          x-relation-guid: ContactModel
        - description: "Optional: has duration flag for the activity. Default all."
          in: query
          name: hasDuration
          schema:
            nullable: true
            type: boolean
          x-position: 20
        - description: "Optional: has any work hour entries associated with the activity. Default all."
          in: query
          name: hasHours
          schema:
            nullable: true
            type: boolean
          x-position: 21
        - description: "Optional: is the activity unassigned. Default all."
          in: query
          name: isUnassigned
          schema:
            nullable: true
            type: boolean
          x-position: 22
        - description: "Optional: Get activities that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 23
        - description: "Optional: If given as true returns activities that start after start time and end before end time. If given as false returns activities that start before end time and end after start time. Limit are included in both cases. Default false."
          in: query
          name: useStrictStartAndEndDateTime
          schema:
            default: false
            type: boolean
          x-position: 24
        - description: "Optional: ID of the project activity type. Default all."
          explode: true
          in: query
          name: activityTypeGuids
          schema:
            items:
              type: string
            nullable: true
            type: array
          style: form
          x-position: 25
          x-relation-guid: ActivityTypeModel
        - description: "Optional: Type of the recurrence. Default returns all not recurring activities, instances and exceptions. (None = not recurring activity)"
          in: query
          name: recurrenceType
          schema:
            $ref: "#/components/schemas/RecurrenceType"
          x-position: 26
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActivityModel"
                type: array
          description: Activities for a project
          headers:
            NextPageToken:
              description: Page token to fetch the next page
              schema:
                type: string
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:read
      summary: Get all activities of an organization
      tags:
        - ActivitiesRead
    post:
      operationId: Activities_PostActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityModel"
              nullable: true
        description: ActivityModel
        x-name: activity
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityModel"
          description: Created activity
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:write
      summary: Insert a activity
      tags:
        - ActivitiesWrite
  "/v1/activities/{activityGuid}/activityparticipants":
    get:
      operationId: ActivityParticipants_GetActivityParticipants
      parameters:
        - description: ID of the activity
          in: path
          name: activityGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityModel
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActivityParticipantModel"
                type: array
          description: ActivityParticipants for an activity
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:read
      summary: Get participants for an activity
      tags:
        - ActivitiesRead
  "/v1/activities/{activityGuid}/activityparticipants/{activityParticipantGuid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if participant can't be found."
      operationId: ActivityParticipants_DeleteActivityParticipant
      parameters:
        - description: ID of the activity from which to delete the participant. If an activity occurrence guid is given, this will create an exception to the recurring activity and delete the participant from that.
          in: path
          name: activityGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityModel
        - description: ID of the participant
          in: path
          name: activityParticipantGuid
          required: true
          schema:
            type: string
          x-position: 2
          x-relation-guid: ActivityParticipantModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:delete
      summary: Delete activity participant.
      tags:
        - ActivitiesDelete
  "/v1/activities/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if activity can't be found."
      operationId: Activities_DeleteActivity
      parameters:
        - description: ID for the activity to delete
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:delete
      summary: Delete an activity
      tags:
        - ActivitiesDelete
    get:
      operationId: Activities_GetActivity
      parameters:
        - description: GUID used to get the activity.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityModel"
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:read
      summary: Get activity by ID
      tags:
        - ActivitiesRead
    patch:
      operationId: Activities_PatchActivity
      parameters:
        - description: ID of the activity. Can also be comma separate list of IDs to patch multiple activities with one call. When multiple IDs are given, returns model which has list of succeeded activities and list of errors.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON Patch document of ActivityModel
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActivityModel"
                type: array
          description: List of updated activities
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:write
      summary: Update (Patch) a activity or a part of it
      tags:
        - ActivitiesWrite
  "/v1/activities/{guid}/exceptions":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if activity can't be found or is not recurring."
      operationId: Activities_DeleteExceptions
      parameters:
        - description: ID of the recurring activity
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:delete
      summary: Resets exceptions from a recurring activity.
      tags:
        - ActivitiesDelete
  /v1/activityparticipants:
    post:
      operationId: ActivityParticipants_PostActivityParticipant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityParticipantModel"
              nullable: true
        description: ActivityParticipantModel
        x-name: activityParticipantModel
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityParticipantModel"
          description: Added participant
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:write
      summary: Adds an activity participant
      tags:
        - ActivitiesWrite
  "/v1/activityparticipants/{guid}":
    get:
      operationId: ActivityParticipants_GetActivityParticipant
      parameters:
        - description: ID of the participant
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityParticipantModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityParticipantModel"
          description: ActivityParticipant
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:read
      summary: Get activity participant
      tags:
        - ActivitiesRead
    patch:
      description: Only IsConfirmed property can be updated.
      operationId: ActivityParticipants_PatchActivityParticipants
      parameters:
        - description: ID of the activity participant
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityParticipantModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of ActivityParticipantModel
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActivityParticipantModel"
                type: array
          description: list of updated activity participants
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - activities:write
      summary: Update (Patch) a activity participant or a part of it
      tags:
        - ActivitiesWrite
  /v1/activitytypes:
    get:
      operationId: ActivityTypes_GetActivityTypes
      parameters:
        - description: If not given, return all Activity Types, if given as true return only active Activity Types, if given as false returns only inactive Activity Types
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: page token to fetch the next page."
          in: query
          name: pageToken
          schema:
            nullable: true
            type: string
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Get activity types that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Category or multiple categories of activity types to search for. Default all."
          explode: true
          in: query
          name: category
          schema:
            items:
              $ref: "#/components/schemas/ActivityCategory"
            nullable: true
            type: array
          style: form
          x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActivityTypeModel"
                type: array
          description: ""
          headers:
            NextPageToken:
              description: Page token to fetch the next page
              schema:
                type: string
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get the Activity Types
      tags:
        - SettingsRead
    post:
      operationId: ActivityTypes_PostActivityType
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityTypeModel"
              nullable: true
        description: Activity type
        x-name: activityType
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityTypeModel"
          description: Inserted ActivityType
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Insert an Activity type.
      tags:
        - SettingsWrite
  "/v1/activitytypes/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if activity type can't be found."
      operationId: ActivityTypes_DeleteActivityType
      parameters:
        - description: ID for the activity type to delete
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityTypeModel
        - description: "Optional: ID of the activity type to which to move usages of this activity type. Default null. If activity type is in use and usages aren't moved the deletion might fail."
          in: query
          name: moveUsagesToGuid
          schema:
            nullable: true
            type: string
          x-position: 2
          x-relation-guid: ActivityTypeModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:delete
      summary: Delete an activity type.
      tags:
        - SettingsDelete
    get:
      operationId: ActivityTypes_GetActivityType
      parameters:
        - description: GUID used to get the Activity Type.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityTypeModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityTypeModel"
          description: Activity Type
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get Activity Type by ID
      tags:
        - SettingsRead
    patch:
      operationId: ActivityTypes_PatchActivityType
      parameters:
        - description: ID of the Activity Type
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ActivityTypeModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of ActivityTypeModel
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActivityTypeModel"
                type: array
          description: List of updated Activity Types
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) an Activity Type or a part of it
      tags:
        - SettingsWrite
  /v1/addresses:
    get:
      operationId: Addresses_GetAddresses
      parameters:
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 1
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 3
        - description: "Optional: Get addresses that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AddressModel"
                type: array
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get the addresses.
      tags:
        - CustomersRead
  "/v1/addresses/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if address can't be found."
      operationId: Addresses_DeleteAddress
      parameters:
        - description: ID for the address to delete.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: AddressModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:delete
      summary: Delete an address.
      tags:
        - CustomersDelete
    get:
      operationId: Addresses_GetAddress
      parameters:
        - description: GUID used to get the address.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: AddressModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressModel"
          description: Address.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get address by ID.
      tags:
        - CustomersRead
    patch:
      operationId: Addresses_PatchAddress
      parameters:
        - description: ID of the address.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: AddressModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of AddressModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AddressModel"
                type: array
          description: List of updated addresses.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:write
      summary: Update (Patch) an address or a part of it.
      tags:
        - CustomersWrite
  /v1/bankaccounts:
    get:
      operationId: BankAccounts_GetBankAccounts
      parameters:
        - description: "Optional: ID of the company."
          in: query
          name: companyGuid
          schema:
            nullable: true
            type: string
          x-position: 1
          x-relation-guid: CompanyModel
        - description: "Optional: ID of the business unit."
          in: query
          name: businessUnitGuid
          schema:
            nullable: true
            type: string
          x-position: 2
          x-relation-guid: BusinessUnitModel
        - description: If not given, returns all bank accounts, if given as true returns only active bank accounts, if given as false returns only inactive bank accounts.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 3
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 4
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 5
        - description: "Optional: Text to search from bank account name."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 6
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 7
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc". Example: "?sortings[0].key=BankName&sortings[0].value=Desc &sortings[1].key=BusinessUnitName&sortings[1].value=Asc".'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 8
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BankAccountOutputModel"
                type: array
          description: Bank accounts.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get all bank accounts for current organization.
      tags:
        - SettingsRead
  "/v1/bankaccounts/{guid}":
    get:
      operationId: BankAccounts_GetBankAccount
      parameters:
        - description: GUID used to get the bank account.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: BankAccountOutputModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccountOutputModel"
          description: Bank account.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get bank account by ID.
      tags:
        - SettingsRead
  /v1/businessunits:
    get:
      operationId: BusinessUnits_GetBusinessUnits
      parameters:
        - description: If not given, return all BusinessUnits, if given as true return only active BusinessUnits, if given as false returns only inactive BusinessUnits
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: ID of the company to which the business units belong."
          in: query
          name: companyGuid
          schema:
            nullable: true
            type: string
          x-position: 2
          x-relation-guid: CompanyModel
        - description: "Optional: ID of the country in which the company of business units is located."
          in: query
          name: companyCountryGuid
          schema:
            nullable: true
            type: string
          x-position: 3
          x-relation-guid: CountryModel
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 4
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 5
        - description: "Optional: Text to search from business unit name."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 6
        - description: "Optional: Get business units that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 7
        - description: "Optional: Code of the business unit."
          in: query
          name: code
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 8
        - description: "Optional: Name of the business unit."
          in: query
          name: name
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 9
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BusinessUnitModel"
                type: array
          description: All the BusinessUnits
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get all the BusinessUnits
      tags:
        - SettingsRead
  "/v1/businessunits/{guid}":
    get:
      operationId: BusinessUnits_GetBusinessUnit
      parameters:
        - description: GUID used to get the businessUnit.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: BusinessUnitModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessUnitModel"
          description: BusinessUnit.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get businessUnit by ID.
      tags:
        - SettingsRead
    patch:
      operationId: BusinessUnits_PatchBusinessUnit
      parameters:
        - description: ID of the businessUnit.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: BusinessUnitModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of BusinessUnitModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BusinessUnitModel"
                type: array
          description: List of updated business units.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) an businessUnit or a part of it.
      tags:
        - SettingsWrite
  /v1/communicationtypes:
    get:
      operationId: CommunicationTypes_GetCommunicationTypes
      parameters:
        - description: Filter the communication types. If true/false, only the active/inactive ones are returned. If null, all the communication types are returned.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text to search from communication type name."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 5
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc". Example: "?sortings[0].key=name&sortings[0].value=Asc".'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CommunicationTypeModel"
                type: array
          description: Projects.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get all communication types.
      tags:
        - SettingsRead
    post:
      operationId: CommunicationTypes_PostCommunicationType
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommunicationTypeModel"
              nullable: true
        description: CommunicationTypeModel.
        x-name: communicationTypeModel
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationTypeModel"
          description: Created communication type.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Insert a communication type.
      tags:
        - SettingsWrite
  "/v1/communicationtypes/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded."
      operationId: CommunicationTypes_DeleteCommunicationType
      parameters:
        - description: GUID used to delete the communication type.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CommunicationTypeModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:delete
      summary: Deletes a communication type.
      tags:
        - SettingsDelete
    get:
      operationId: CommunicationTypes_GetCommunicationType
      parameters:
        - description: ID used to get the communication type.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CommunicationTypeModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationTypeModel"
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get communication type by ID.
      tags:
        - SettingsRead
    patch:
      operationId: CommunicationTypes_PatchCommunicationType
      parameters:
        - description: ID of the communication type.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CommunicationTypeModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON Patch document of CommunicationTypeModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CommunicationTypeModel"
                type: array
          description: Updated communication model.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) a communication type or a part of it.
      tags:
        - SettingsWrite
  /v1/contactcommunications:
    get:
      operationId: ContactCommunications_GetCommunications
      parameters:
        - description: If not given, return all contact communications, if given as true return only active contact communications, if given as false returns only inactive contact communications.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text to search from contact communication value."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Get contact communications that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContactCommunicationModel"
                type: array
          description: All the contact communications.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get all contact communications.
      tags:
        - CustomersRead
    post:
      operationId: ContactCommunications_PostContactCommunication
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCommunicationModel"
              nullable: true
        description: ContactCommunicationModel.
        x-name: contactCommunication
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactCommunicationModel"
          description: Inserted contact communication.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:write
      summary: Insert a communication for a contact.
      tags:
        - CustomersWrite
  "/v1/contactcommunications/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded."
      operationId: ContactCommunications_DeleteContactCommunication
      parameters:
        - description: GUID used to delete the contact's communication.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactCommunicationModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:delete
      summary: Deletes contact's communication.
      tags:
        - CustomersDelete
    get:
      operationId: ContactCommunications_GetCommunication
      parameters:
        - description: GUID used to get the contact communication.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactCommunicationModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactCommunicationModel"
          description: Contact communication.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get contact communication by ID.
      tags:
        - CustomersRead
    patch:
      operationId: ContactCommunications_PatchContactCommunication
      parameters:
        - description: ID of the contact's communication.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactCommunicationModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON Patch document of ContactCommunicationModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactCommunicationModel"
          description: Updated contact communication model.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:write
      summary: Update (Patch) a contact's communication or a part of it.
      tags:
        - CustomersWrite
  /v1/contactpersons:
    get:
      operationId: Contacts_GetContacts
      parameters:
        - description: If not given, return all Contact persons, if given as true return only active Contact persons, if given as false returns only inactive Contact persons.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text to search from contact person's name or communication method (i.e. phone number or email address)."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Search criterias."
          explode: true
          in: query
          name: searchCriterias
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndObject"
            nullable: true
            type: array
          style: form
          x-position: 5
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc". Example: "?sortings[0].key=FirstName&sortings[0].value=Desc &sortings[1].key=LastName&sortings[1].value=Asc".'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 6
        - description: "Optional: Get contact persons that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 7
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContactModel"
                type: array
          description: List of contacts for a customer.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get all the contact persons.
      tags:
        - CustomersRead
    post:
      operationId: Contacts_PostContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactModel"
              nullable: true
        description: ContactModel.
        x-name: contact
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactModel"
          description: Inserted contact.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:write
      summary: Insert a contact.
      tags:
        - CustomersWrite
  "/v1/contactpersons/{contactGuid}/addresses":
    get:
      operationId: Addresses_GetContactAddress
      parameters:
        - description: ID for the contact person
          in: path
          name: contactGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AddressModel"
                type: array
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get contact person's address
      tags:
        - CustomersRead
  "/v1/contactpersons/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded."
      operationId: Contacts_DeleteContact
      parameters:
        - description: GUID used to delete the contact.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:delete
      summary: Deletes a contact.
      tags:
        - CustomersDelete
    get:
      operationId: Contacts_GetContact
      parameters:
        - description: GUID used to get the contact.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactModel"
          description: Contact.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get contact by ID.
      tags:
        - CustomersRead
    patch:
      operationId: Contacts_PatchContact
      parameters:
        - description: ID of the contact.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of ContactModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContactModel"
                type: array
          description: List of updated contact persons.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:write
      summary: Update (Patch) an contact or a part of it.
      tags:
        - CustomersWrite
  /v1/contactroles:
    get:
      operationId: ContactRoles_GetContactRoles
      parameters:
        - description: If not given, return all contact roles, if given as true return only active contact roles, if given as false returns only inactive contact roles.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text to search from contact role name."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContactRoleModel"
                type: array
          description: All the contact roles.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get contact roles.
      tags:
        - SettingsRead
    post:
      operationId: ContactRoles_PostContactRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRoleModel"
              nullable: true
        description: ContactRoleModel.
        x-name: contactRole
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactRoleModel"
          description: Created contact role.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Insert a contact role.
      tags:
        - SettingsWrite
  "/v1/contactroles/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if contact role can't be found."
      operationId: ContactRoles_DeleteContactRole
      parameters:
        - description: ID for the contact role to delete.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactRoleModel
        - description: "Optional: ID of the contact role to which to move usages of this contact role. Default null. If contact role is in use and usages aren't moved the deletion might fail."
          in: query
          name: moveUsagesToGuid
          schema:
            nullable: true
            type: string
          x-position: 2
          x-relation-guid: ContactRoleModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:delete
      summary: Delete a contact role.
      tags:
        - SettingsDelete
    get:
      operationId: ContactRoles_GetContactRole
      parameters:
        - description: Id used to get the contact role.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactRoleModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactRoleModel"
          description: ContactRoleModel.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get contact role by ID.
      tags:
        - SettingsRead
    patch:
      operationId: ContactRoles_PatchContactRole
      parameters:
        - description: ID of the contact role.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactRoleModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of ContactRoleModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContactRoleModel"
                type: array
          description: list of updated contact role.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) a contact role or a part of it.
      tags:
        - SettingsWrite
  "/v1/contacts/{contactGuid}/contactcommunications":
    get:
      operationId: ContactCommunications_GetCommunications2
      parameters:
        - description: Whose communications are requested.
          in: path
          name: contactGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
        - description: If not given, return all contact communications, if given as true return only active contact communications, if given as false returns only inactive contact communications.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContactCommunicationModel"
                type: array
          description: All the contact communications.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get all communications for a contact.
      tags:
        - CustomersRead
  "/v1/contacts/{contactGuid}/keywords":
    get:
      operationId: Keywords_GetContactKeywords
      parameters:
        - description: ID of the user whose keywords are requested.
          in: path
          name: contactGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
        - description: If not given, return all Keywords, if given as true return only active Keywords, if given as false returns only inactive Keywords.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 2
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc". Example: "?sortings[0].key=Keyword&sortings[0].value=Desc".'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/KeywordModel"
                type: array
          description: Keywords.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:read
      summary: Get all the keywords for contact.
      tags:
        - CustomersRead
  "/v1/contacts/{contactGuid}/keywords/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if the keyword or the link can't be found."
      operationId: Keywords_DeleteContactKeyword
      parameters:
        - in: path
          name: contactGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: ContactModel
        - in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 2
          x-relation-guid: KeywordModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:delete
      summary: Delete a keyword from the contact
      tags:
        - CustomersDelete
    post:
      operationId: Keywords_LinkKeywordToContact
      parameters:
        - in: path
          name: contactGuid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: UserOutputModel
        - in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 2
          x-relation-guid: KeywordModel
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactKeywordModel"
          description: Created contact keyword link.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - customers:write
      summary: Link existing keyword to contact
      tags:
        - CustomersWrite
  /v1/costaccounts:
    get:
      operationId: CostAccounts_GetCostAccounts
      parameters:
        - description: If not given, return all cost accounts, if given as true return only active cost accounts, if given as false returns only inactive cost accounts.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text to search from cost account name or identifier."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 5
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc". Example: "?sortings[0].key=Name&sortings[0].value=Desc &sortings[1].key=Identifier&sortings[1].value=Asc".'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CostAccountModel"
                type: array
          description: All the cost accounts.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get cost accounts.
      tags:
        - SettingsRead
    post:
      operationId: CostAccounts_PostCostAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CostAccountModel"
              nullable: true
        description: CostAccountModel.
        x-name: costAccount
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostAccountModel"
          description: Created cost account.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Insert a cost account.
      tags:
        - SettingsWrite
  "/v1/costaccounts/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if cost account can't be found."
      operationId: CostAccounts_DeleteCostAccount
      parameters:
        - description: ID for the cost account to delete.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CostAccountModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:delete
      summary: Delete a cost account.
      tags:
        - SettingsDelete
    get:
      operationId: CostAccounts_GetCostAccount
      parameters:
        - description: Cost account's guid.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CostAccountModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostAccountModel"
          description: CostAccountModel.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get cost account by Guid.
      tags:
        - SettingsRead
    patch:
      operationId: CostAccounts_PatchCostAccount
      parameters:
        - description: ID of the cost account.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CostAccountModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of CostAccountModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CostAccountModel"
                type: array
          description: list of updated cost account.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) a cost account or a part of it.
      tags:
        - SettingsWrite
  /v1/costcenters:
    get:
      operationId: CostCenters_GetCostCenters
      parameters:
        - description: If not given, return all cost centers, if given as true return only active cost centers, if given as false returns only inactive cost centers.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text to search from cost center name or identifier."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Get cost centers that have been added or changed after this date time (greater or equal)."
          in: query
          name: changedSince
          schema:
            format: date-time
            nullable: true
            type: string
          x-position: 5
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 6
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc".'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 7
        - description: "Optional: Identifier of the cost center."
          in: query
          name: identifier
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 8
        - description: "Optional: Name of the cost center."
          in: query
          name: name
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 9
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CostCenterModel"
                type: array
          description: All the cost centers.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get cost centers.
      tags:
        - SettingsRead
    post:
      operationId: CostCenters_PostCostCenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CostCenterModel"
              nullable: true
        description: CostCenterModel.
        x-name: costCenter
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenterModel"
          description: Created cost center.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Insert a cost center.
      tags:
        - SettingsWrite
  "/v1/costcenters/{guid}":
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if cost center can't be found."
      operationId: CostCenters_DeleteCostCenter
      parameters:
        - description: ID for the cost center to delete.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CostCenterModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:delete
      summary: Delete a cost center.
      tags:
        - SettingsDelete
    get:
      operationId: CostCenters_GetCostCenter
      parameters:
        - description: Id used to get the cost center.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CostCenterModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostCenterModel"
          description: CostCenterModel.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get cost center by ID.
      tags:
        - SettingsRead
    patch:
      operationId: CostCenters_PatchCostCenter
      parameters:
        - description: ID of the cost center.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CostCenterModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of CostCenterModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CostCenterModel"
                type: array
          description: list of updated cost center.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) a cost center or a part of it.
      tags:
        - SettingsWrite
  /v1/currencies:
    get:
      operationId: Currencies_GetCurrencies
      parameters:
        - description: If not given, return all Currencies, if given as true return only active Currencies, if given as false returns only inactive Currencies.
          in: query
          name: active
          schema:
            nullable: true
            type: boolean
          x-position: 1
        - description: "Optional: first row to fetch. Default 0 = first row."
          in: query
          name: firstRow
          schema:
            default: 0
            format: int32
            nullable: true
            type: integer
          x-position: 2
        - description: "Optional: How many rows to fetch, Default 20, maximum 100."
          in: query
          name: rowCount
          schema:
            format: int32
            nullable: true
            type: integer
          x-position: 3
        - description: "Optional: Text based search applied to the result. Matches currency name and code."
          in: query
          name: textToSearch
          schema:
            default: ""
            nullable: true
            type: string
          x-position: 4
        - description: "Optional: Calculate total number of rows."
          in: query
          name: calculateRowCount
          schema:
            default: false
            type: boolean
          x-position: 5
        - description: 'Optional: A list of Key-Value pairs, containing names of fields and directions by which the results should be sorted. Any sortable field name (submodel fields not supported) in the model can be used, while value can be "Desc" or "Asc". Example: "?sortings[0].key=name&sortings[0].value=Asc". Using additional sorting fields "CreatedDate" and / or "LastUpdatedDate" as keys sort currencies without a timestamp provided when sorting with other date fields.'
          explode: true
          in: query
          name: sortings
          schema:
            items:
              $ref: "#/components/schemas/KeyValuePairOfStringAndSortDirection"
            nullable: true
            type: array
          style: form
          x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CurrencyOutputModel"
                type: array
          description: All the Currencies
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get all the Currencies
      tags:
        - SettingsRead
  "/v1/currencies/{guid}":
    get:
      operationId: Currencies_GetCurrency
      parameters:
        - description: GUID used to get the currency.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CurrencyOutputModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyOutputModel"
          description: CurrencyModel.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:read
      summary: Get currency by ID.
      tags:
        - SettingsRead
    patch:
      operationId: Currencies_PatchCurrency
      parameters:
        - description: ID of the currency.
          in: path
          name: guid
          required: true
          schema:
            type: string
          x-position: 1
          x-relation-guid: CurrencyOutputModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/PatchOperation"
              nullable: true
              type: array
        description: JSON patch document of CurrencyModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CurrencyOutputModel"
                type: array
          description: List of updated currencies.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
            - settings:write
      summary: Update (Patch) an currency or a part of it.
      tags:
        - SettingsWrite
  /v1/customercountrysettings:
    post:
      operationId: CustomerCountrySettings_PostCustomerCountrySettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCountrySettingsInputModel"
              nullable: true
        description: CustomerCountrySettingsModel.
        x-name: model
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCountrySettingsOutputModel"
          description: Inserted customer country setting.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionModel"
          description: Default error response
      security:
        - ClientIdAuth: []
          OAuth2:
[...]
