openapi: 3.0.0
servers:
  - url: 'https://www.googleapis.com/gmail/v1/users'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Access Gmail mailboxes including sending user email.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Gmail
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - email
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/gmail_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: gmail
externalDocs:
  url: 'https://developers.google.com/gmail/api/'
tags:
  - name: users
paths:
  '/{userId}/drafts':
    get:
      description: Lists the drafts in the user's mailbox.
      operationId: gmail.users.drafts.list
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: Include drafts from SPAM and TRASH in the results.
          in: query
          name: includeSpamTrash
          schema:
            type: boolean
            default: false
        - description: Maximum number of drafts to return.
          in: query
          name: maxResults
          schema:
            type: integer
            default: 100
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid: is:unread".'
          in: query
          name: q
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListDraftsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a new draft with the DRAFT label.
      operationId: gmail.users.drafts.create
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Draft'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Draft'
  '/{userId}/drafts/send':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Sends the specified, existing draft to the recipients in the To, Cc, and Bcc headers.'
      operationId: gmail.users.drafts.send
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Draft'
  '/{userId}/drafts/{id}':
    delete:
      description: Immediately and permanently deletes the specified draft. Does not simply trash it.
      operationId: gmail.users.drafts.delete
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the draft to delete.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
    get:
      description: Gets the specified draft.
      operationId: gmail.users.drafts.get
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the draft to retrieve.
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The format to return the draft in.
          in: query
          name: format
          schema:
            type: string
            enum:
              - full
              - metadata
              - minimal
              - raw
            default: full
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Draft'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Replaces a draft's content.
      operationId: gmail.users.drafts.update
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the draft to update.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Draft'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Draft'
  '/{userId}/history':
    get:
      description: Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing historyId).
      operationId: gmail.users.history.list
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: History types to be returned by the function
          in: query
          name: historyTypes
          explode: true
          schema:
            type: array
            items:
              enum:
                - labelAdded
                - labelRemoved
                - messageAdded
                - messageDeleted
              type: string
        - description: Only return messages with a label matching the ID.
          in: query
          name: labelId
          schema:
            type: string
        - description: The maximum number of history records to return.
          in: query
          name: maxResults
          schema:
            type: integer
            default: 100
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Required. Returns history records after the specified startHistoryId. The supplied startHistoryId should be obtained from the historyId of a message, thread, or previous list response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date startHistoryId typically returns an HTTP 404 error code. A historyId is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an HTTP 404 error response, your application should perform a full sync. If you receive no nextPageToken in the response, there are no updates to retrieve and you can store the returned historyId for a future request.'
          in: query
          name: startHistoryId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListHistoryResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/labels':
    get:
      description: Lists all labels in the user's mailbox.
      operationId: gmail.users.labels.list
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListLabelsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a new label.
      operationId: gmail.users.labels.create
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Label'
  '/{userId}/labels/{id}':
    delete:
      description: Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.
      operationId: gmail.users.labels.delete
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the label to delete.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
    get:
      description: Gets the specified label.
      operationId: gmail.users.labels.get
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the label to retrieve.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: Updates the specified label. This method supports patch semantics.
      operationId: gmail.users.labels.patch
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the label to update.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Label'
    put:
      description: Updates the specified label.
      operationId: gmail.users.labels.update
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the label to update.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Label'
  '/{userId}/messages':
    get:
      description: Lists the messages in the user's mailbox.
      operationId: gmail.users.messages.list
      parameters:
        - description: Include messages from SPAM and TRASH in the results.
          in: query
          name: includeSpamTrash
          schema:
            type: boolean
            default: false
        - description: Only return messages with labels that match all of the specified label IDs.
          in: query
          name: labelIds
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Maximum number of messages to return.
          in: query
          name: maxResults
          schema:
            type: integer
            default: 100
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid:<somemsgid@example.com> is:unread". Parameter cannot be used when accessing the api using the gmail.metadata scope.'
          in: query
          name: q
          schema:
            type: string
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Directly inserts a message into only this user''s mailbox similar to IMAP APPEND, bypassing most scanning and classification. Does not send a message.'
      operationId: gmail.users.messages.insert
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.
          in: query
          name: deleted
          schema:
            type: boolean
            default: false
        - description: Source for Gmail's internal date of the message.
          in: query
          name: internalDateSource
          schema:
            type: string
            enum:
              - dateHeader
              - receivedTime
            default: receivedTime
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.insert'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.insert'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Message'
  '/{userId}/messages/batchDelete':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.
      operationId: gmail.users.messages.batchDelete
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteMessagesRequest'
  '/{userId}/messages/batchModify':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Modifies the labels on the specified messages.
      operationId: gmail.users.messages.batchModify
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchModifyMessagesRequest'
  '/{userId}/messages/import':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Imports a message into only this user''s mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. Does not send a message.'
      operationId: gmail.users.messages.import
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.
          in: query
          name: deleted
          schema:
            type: boolean
            default: false
        - description: Source for Gmail's internal date of the message.
          in: query
          name: internalDateSource
          schema:
            type: string
            enum:
              - dateHeader
              - receivedTime
            default: dateHeader
        - description: Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.
          in: query
          name: neverMarkSpam
          schema:
            type: boolean
            default: false
        - description: Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.
          in: query
          name: processForCalendar
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.insert'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.insert'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Message'
  '/{userId}/messages/send':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Sends the specified message to the recipients in the To, Cc, and Bcc headers.'
      operationId: gmail.users.messages.send
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.send'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.send'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/Message'
  '/{userId}/messages/{id}':
    delete:
      description: Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer messages.trash instead.
      operationId: gmail.users.messages.delete
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the message to delete.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
      tags:
        - users
    get:
      description: Gets the specified message.
      operationId: gmail.users.messages.get
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the message to retrieve.
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The format to return the message in.
          in: query
          name: format
          schema:
            type: string
            enum:
              - full
              - metadata
              - minimal
              - raw
            default: full
        - description: 'When given and format is METADATA, only include headers specified.'
          in: query
          name: metadataHeaders
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/messages/{id}/modify':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Modifies the labels on the specified message.
      operationId: gmail.users.messages.modify
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the message to modify.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyMessageRequest'
  '/{userId}/messages/{id}/trash':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Moves the specified message to the trash.
      operationId: gmail.users.messages.trash
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the message to Trash.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/{id}/untrash':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Removes the specified message from the trash.
      operationId: gmail.users.messages.untrash
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the message to remove from Trash.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/{messageId}/attachments/{id}':
    get:
      description: Gets the specified message attachment.
      operationId: gmail.users.messages.attachments.get
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the message containing the attachment.
          in: path
          name: messageId
          required: true
          schema:
            type: string
        - description: The ID of the attachment.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePartBody'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/profile':
    get:
      description: Gets the current user's Gmail profile.
      operationId: gmail.users.getProfile
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Profile'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/settings/autoForwarding':
    get:
      description: Gets the auto-forwarding setting for the specified account.
      operationId: gmail.users.settings.getAutoForwarding
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AutoForwarding'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: |-
        Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.updateAutoForwarding
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AutoForwarding'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoForwarding'
  '/{userId}/settings/filters':
    get:
      description: Lists the message filters of a Gmail user.
      operationId: gmail.users.settings.filters.list
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListFiltersResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a filter.
      operationId: gmail.users.settings.filters.create
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Filter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Filter'
  '/{userId}/settings/filters/{id}':
    delete:
      description: Deletes a filter.
      operationId: gmail.users.settings.filters.delete
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the filter to be deleted.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    get:
      description: Gets a filter.
      operationId: gmail.users.settings.filters.get
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the filter to be fetched.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Filter'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/settings/forwardingAddresses':
    get:
      description: Lists the forwarding addresses for the specified account.
      operationId: gmail.users.settings.forwardingAddresses.list
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListForwardingAddressesResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: |-
        Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to pending; otherwise, the resource will be created with verification status set to accepted.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.forwardingAddresses.create
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ForwardingAddress'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardingAddress'
  '/{userId}/settings/forwardingAddresses/{forwardingEmail}':
    delete:
      description: |-
        Deletes the specified forwarding address and revokes any verification that may have been required.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.forwardingAddresses.delete
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The forwarding address to be deleted.
          in: path
          name: forwardingEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    get:
      description: Gets the specified forwarding address.
      operationId: gmail.users.settings.forwardingAddresses.get
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The forwarding address to be retrieved.
          in: path
          name: forwardingEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ForwardingAddress'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/settings/imap':
    get:
      description: Gets IMAP settings.
      operationId: gmail.users.settings.getImap
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ImapSettings'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates IMAP settings.
      operationId: gmail.users.settings.updateImap
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ImapSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImapSettings'
  '/{userId}/settings/pop':
    get:
      description: Gets POP settings.
      operationId: gmail.users.settings.getPop
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PopSettings'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates POP settings.
      operationId: gmail.users.settings.updatePop
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PopSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PopSettings'
  '/{userId}/settings/sendAs':
    get:
      description: Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom "from" aliases.
      operationId: gmail.users.settings.sendAs.list
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSendAsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: |-
        Creates a custom "from" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to pending; otherwise, the resource will be created with verification status set to accepted. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.create
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendAs'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/SendAs'
  '/{userId}/settings/sendAs/{sendAsEmail}':
    delete:
      description: |-
        Deletes the specified send-as alias. Revokes any verification that may have been required for using it.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.delete
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The send-as alias to be deleted.
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    get:
      description: Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.
      operationId: gmail.users.settings.sendAs.get
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The send-as alias to be retrieved.
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendAs'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: |-
        Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.

        Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority. This method supports patch semantics.
      operationId: gmail.users.settings.sendAs.patch
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The send-as alias to be updated.
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendAs'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/SendAs'
    put:
      description: |-
        Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.

        Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.update
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The send-as alias to be updated.
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendAs'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
      requestBody:
        $ref: '#/components/requestBodies/SendAs'
  '/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo':
    get:
      description: Lists S/MIME configs for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.list
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSmimeInfoResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.
      operationId: gmail.users.settings.sendAs.smimeInfo.insert
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmimeInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmimeInfo'
  '/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}':
    delete:
      description: Deletes the specified S/MIME config for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.delete
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
        - description: The immutable ID for the SmimeInfo.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    get:
      description: Gets the specified S/MIME config for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.get
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
        - description: The immutable ID for the SmimeInfo.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmimeInfo'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Sets the default S/MIME config for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.setDefault
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
        - description: The immutable ID for the SmimeInfo.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/sendAs/{sendAsEmail}/verify':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: |-
        Sends a verification email to the specified send-as alias address. The verification status must be pending.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.verify
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The send-as alias to be verified.
          in: path
          name: sendAsEmail
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/vacation':
    get:
      description: Gets vacation responder settings.
      operationId: gmail.users.settings.getVacation
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VacationSettings'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Updates vacation responder settings.
      operationId: gmail.users.settings.updateVacation
      parameters:
        - description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VacationSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VacationSettings'
  '/{userId}/stop':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Stop receiving push notifications for the given user mailbox.
      operationId: gmail.users.stop
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
  '/{userId}/threads':
    get:
      description: Lists the threads in the user's mailbox.
      operationId: gmail.users.threads.list
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: Include threads from SPAM and TRASH in the results.
          in: query
          name: includeSpamTrash
          schema:
            type: boolean
            default: false
        - description: Only return threads with labels that match all of the specified label IDs.
          in: query
          name: labelIds
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Maximum number of threads to return.
          in: query
          name: maxResults
          schema:
            type: integer
            default: 100
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid: is:unread". Parameter cannot be used when accessing the api using the gmail.metadata scope.'
          in: query
          name: q
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListThreadsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/threads/{id}':
    delete:
      description: Immediately and permanently deletes the specified thread. This operation cannot be undone. Prefer threads.trash instead.
      operationId: gmail.users.threads.delete
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: ID of the Thread to delete.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
      tags:
        - users
    get:
      description: Gets the specified thread.
      operationId: gmail.users.threads.get
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the thread to retrieve.
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: The format to return the messages in.
          in: query
          name: format
          schema:
            type: string
            enum:
              - full
              - metadata
              - minimal
            default: full
        - description: 'When given and format is METADATA, only include headers specified.'
          in: query
          name: metadataHeaders
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{userId}/threads/{id}/modify':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Modifies the labels applied to the thread. This applies to all messages in the thread.
      operationId: gmail.users.threads.modify
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the thread to modify.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyThreadRequest'
  '/{userId}/threads/{id}/trash':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Moves the specified thread to the trash.
      operationId: gmail.users.threads.trash
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the thread to Trash.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/threads/{id}/untrash':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Removes the specified thread from the trash.
      operationId: gmail.users.threads.untrash
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
        - description: The ID of the thread to remove from Trash.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/watch':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Set up or update a push notification watch on the given user mailbox.
      operationId: gmail.users.watch
      parameters:
        - description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          schema:
            type: string
            default: me
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WatchResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchRequest'
components:
  schemas:
    AutoForwarding:
      description: Auto-forwarding settings for an account.
      properties:
[...]
