swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /gmail/v1/users
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Access Gmail mailboxes including sending user email.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Gmail
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - email
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/gmail_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: gmail
externalDocs:
  url: 'https://developers.google.com/gmail/api/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://mail.google.com/': 'Read, send, delete, and manage your email'
      'https://www.googleapis.com/auth/gmail.compose': Manage drafts and send emails
      'https://www.googleapis.com/auth/gmail.insert': Insert mail into your mailbox
      'https://www.googleapis.com/auth/gmail.labels': Manage mailbox labels
      'https://www.googleapis.com/auth/gmail.metadata': 'View your email message metadata such as labels and headers, but not the email body'
      'https://www.googleapis.com/auth/gmail.modify': View and modify but not delete your email
      'https://www.googleapis.com/auth/gmail.readonly': View your emails messages and settings
      'https://www.googleapis.com/auth/gmail.send': Send email on your behalf
      'https://www.googleapis.com/auth/gmail.settings.basic': Manage your basic mail settings
      'https://www.googleapis.com/auth/gmail.settings.sharing': 'Manage your sensitive mail settings, including who can manage your mail'
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://mail.google.com/': 'Read, send, delete, and manage your email'
      'https://www.googleapis.com/auth/gmail.compose': Manage drafts and send emails
      'https://www.googleapis.com/auth/gmail.insert': Insert mail into your mailbox
      'https://www.googleapis.com/auth/gmail.labels': Manage mailbox labels
      'https://www.googleapis.com/auth/gmail.metadata': 'View your email message metadata such as labels and headers, but not the email body'
      'https://www.googleapis.com/auth/gmail.modify': View and modify but not delete your email
      'https://www.googleapis.com/auth/gmail.readonly': View your emails messages and settings
      'https://www.googleapis.com/auth/gmail.send': Send email on your behalf
      'https://www.googleapis.com/auth/gmail.settings.basic': Manage your basic mail settings
      'https://www.googleapis.com/auth/gmail.settings.sharing': 'Manage your sensitive mail settings, including who can manage your mail'
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: users
paths:
  '/{userId}/drafts':
    get:
      description: Lists the drafts in the user's mailbox.
      operationId: gmail.users.drafts.list
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - default: false
          description: Include drafts from SPAM and TRASH in the results.
          in: query
          name: includeSpamTrash
          type: boolean
        - default: 100
          description: Maximum number of drafts to return.
          in: query
          name: maxResults
          type: integer
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          type: string
        - description: 'Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid: is:unread".'
          in: query
          name: q
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListDraftsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - message/rfc822
      description: Creates a new draft with the DRAFT label.
      operationId: gmail.users.drafts.create
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Draft'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Draft'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/drafts/send':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - message/rfc822
      description: 'Sends the specified, existing draft to the recipients in the To, Cc, and Bcc headers.'
      operationId: gmail.users.drafts.send
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Draft'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/drafts/{id}':
    delete:
      description: Immediately and permanently deletes the specified draft. Does not simply trash it.
      operationId: gmail.users.drafts.delete
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the draft to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
    get:
      description: Gets the specified draft.
      operationId: gmail.users.drafts.get
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the draft to retrieve.
          in: path
          name: id
          required: true
          type: string
        - default: full
          description: The format to return the draft in.
          enum:
            - full
            - metadata
            - minimal
            - raw
          in: query
          name: format
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Draft'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      consumes:
        - message/rfc822
      description: Replaces a draft's content.
      operationId: gmail.users.drafts.update
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the draft to update.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Draft'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Draft'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/history':
    get:
      description: Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing historyId).
      operationId: gmail.users.history.list
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - collectionFormat: multi
          description: History types to be returned by the function
          in: query
          items:
            enum:
              - labelAdded
              - labelRemoved
              - messageAdded
              - messageDeleted
            type: string
          name: historyTypes
          type: array
        - description: Only return messages with a label matching the ID.
          in: query
          name: labelId
          type: string
        - default: 100
          description: The maximum number of history records to return.
          in: query
          name: maxResults
          type: integer
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          type: string
        - description: 'Required. Returns history records after the specified startHistoryId. The supplied startHistoryId should be obtained from the historyId of a message, thread, or previous list response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date startHistoryId typically returns an HTTP 404 error code. A historyId is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an HTTP 404 error response, your application should perform a full sync. If you receive no nextPageToken in the response, there are no updates to retrieve and you can store the returned historyId for a future request.'
          in: query
          name: startHistoryId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListHistoryResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/labels':
    get:
      description: Lists all labels in the user's mailbox.
      operationId: gmail.users.labels.list
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListLabelsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new label.
      operationId: gmail.users.labels.create
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Label'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/labels/{id}':
    delete:
      description: Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.
      operationId: gmail.users.labels.delete
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the label to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
    get:
      description: Gets the specified label.
      operationId: gmail.users.labels.get
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the label to retrieve.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the specified label. This method supports patch semantics.
      operationId: gmail.users.labels.patch
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the label to update.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Label'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
    put:
      description: Updates the specified label.
      operationId: gmail.users.labels.update
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the label to update.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Label'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Label'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.labels'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.labels'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages':
    get:
      description: Lists the messages in the user's mailbox.
      operationId: gmail.users.messages.list
      parameters:
        - default: false
          description: Include messages from SPAM and TRASH in the results.
          in: query
          name: includeSpamTrash
          type: boolean
        - collectionFormat: multi
          description: Only return messages with labels that match all of the specified label IDs.
          in: query
          items:
            type: string
          name: labelIds
          type: array
        - default: 100
          description: Maximum number of messages to return.
          in: query
          name: maxResults
          type: integer
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          type: string
        - description: 'Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid:<somemsgid@example.com> is:unread". Parameter cannot be used when accessing the api using the gmail.metadata scope.'
          in: query
          name: q
          type: string
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListMessagesResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - message/rfc822
      description: 'Directly inserts a message into only this user''s mailbox similar to IMAP APPEND, bypassing most scanning and classification. Does not send a message.'
      operationId: gmail.users.messages.insert
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - default: false
          description: Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.
          in: query
          name: deleted
          type: boolean
        - default: receivedTime
          description: Source for Gmail's internal date of the message.
          enum:
            - dateHeader
            - receivedTime
          in: query
          name: internalDateSource
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Message'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.insert'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.insert'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/batchDelete':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.
      operationId: gmail.users.messages.batchDelete
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchDeleteMessagesRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
      tags:
        - users
  '/{userId}/messages/batchModify':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Modifies the labels on the specified messages.
      operationId: gmail.users.messages.batchModify
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchModifyMessagesRequest'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/import':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - message/rfc822
      description: 'Imports a message into only this user''s mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. Does not send a message.'
      operationId: gmail.users.messages.import
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - default: false
          description: Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.
          in: query
          name: deleted
          type: boolean
        - default: dateHeader
          description: Source for Gmail's internal date of the message.
          enum:
            - dateHeader
            - receivedTime
          in: query
          name: internalDateSource
          type: string
        - default: false
          description: Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.
          in: query
          name: neverMarkSpam
          type: boolean
        - default: false
          description: Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.
          in: query
          name: processForCalendar
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Message'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.insert'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.insert'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/send':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - message/rfc822
      description: 'Sends the specified message to the recipients in the To, Cc, and Bcc headers.'
      operationId: gmail.users.messages.send
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Message'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.send'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.send'
      tags:
        - users
  '/{userId}/messages/{id}':
    delete:
      description: Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer messages.trash instead.
      operationId: gmail.users.messages.delete
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the message to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
      tags:
        - users
    get:
      description: Gets the specified message.
      operationId: gmail.users.messages.get
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the message to retrieve.
          in: path
          name: id
          required: true
          type: string
        - default: full
          description: The format to return the message in.
          enum:
            - full
            - metadata
            - minimal
            - raw
          in: query
          name: format
          type: string
        - collectionFormat: multi
          description: 'When given and format is METADATA, only include headers specified.'
          in: query
          items:
            type: string
          name: metadataHeaders
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/messages/{id}/modify':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Modifies the labels on the specified message.
      operationId: gmail.users.messages.modify
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the message to modify.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ModifyMessageRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/{id}/trash':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Moves the specified message to the trash.
      operationId: gmail.users.messages.trash
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the message to Trash.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/{id}/untrash':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Removes the specified message from the trash.
      operationId: gmail.users.messages.untrash
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the message to remove from Trash.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Message'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/messages/{messageId}/attachments/{id}':
    get:
      description: Gets the specified message attachment.
      operationId: gmail.users.messages.attachments.get
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the message containing the attachment.
          in: path
          name: messageId
          required: true
          type: string
        - description: The ID of the attachment.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MessagePartBody'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/profile':
    get:
      description: Gets the current user's Gmail profile.
      operationId: gmail.users.getProfile
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.compose'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.compose'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/settings/autoForwarding':
    get:
      description: Gets the auto-forwarding setting for the specified account.
      operationId: gmail.users.settings.getAutoForwarding
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AutoForwarding'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: |-
        Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.updateAutoForwarding
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AutoForwarding'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AutoForwarding'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/filters':
    get:
      description: Lists the message filters of a Gmail user.
      operationId: gmail.users.settings.filters.list
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFiltersResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a filter.
      operationId: gmail.users.settings.filters.create
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
  '/{userId}/settings/filters/{id}':
    delete:
      description: Deletes a filter.
      operationId: gmail.users.settings.filters.delete
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the filter to be deleted.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    get:
      description: Gets a filter.
      operationId: gmail.users.settings.filters.get
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the filter to be fetched.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/settings/forwardingAddresses':
    get:
      description: Lists the forwarding addresses for the specified account.
      operationId: gmail.users.settings.forwardingAddresses.list
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListForwardingAddressesResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to pending; otherwise, the resource will be created with verification status set to accepted.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.forwardingAddresses.create
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ForwardingAddress'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ForwardingAddress'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/forwardingAddresses/{forwardingEmail}':
    delete:
      description: |-
        Deletes the specified forwarding address and revokes any verification that may have been required.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.forwardingAddresses.delete
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The forwarding address to be deleted.
          in: path
          name: forwardingEmail
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    get:
      description: Gets the specified forwarding address.
      operationId: gmail.users.settings.forwardingAddresses.get
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The forwarding address to be retrieved.
          in: path
          name: forwardingEmail
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ForwardingAddress'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/settings/imap':
    get:
      description: Gets IMAP settings.
      operationId: gmail.users.settings.getImap
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImapSettings'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates IMAP settings.
      operationId: gmail.users.settings.updateImap
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ImapSettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImapSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
  '/{userId}/settings/pop':
    get:
      description: Gets POP settings.
      operationId: gmail.users.settings.getPop
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PopSettings'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates POP settings.
      operationId: gmail.users.settings.updatePop
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PopSettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PopSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
  '/{userId}/settings/sendAs':
    get:
      description: Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom "from" aliases.
      operationId: gmail.users.settings.sendAs.list
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListSendAsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Creates a custom "from" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to pending; otherwise, the resource will be created with verification status set to accepted. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.create
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendAs'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendAs'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/sendAs/{sendAsEmail}':
    delete:
      description: |-
        Deletes the specified send-as alias. Revokes any verification that may have been required for using it.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.delete
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The send-as alias to be deleted.
          in: path
          name: sendAsEmail
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    get:
      description: Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.
      operationId: gmail.users.settings.sendAs.get
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The send-as alias to be retrieved.
          in: path
          name: sendAsEmail
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendAs'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: |-
        Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.

        Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority. This method supports patch semantics.
      operationId: gmail.users.settings.sendAs.patch
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The send-as alias to be updated.
          in: path
          name: sendAsEmail
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendAs'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendAs'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    put:
      description: |-
        Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.

        Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.update
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The send-as alias to be updated.
          in: path
          name: sendAsEmail
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendAs'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendAs'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo':
    get:
      description: Lists S/MIME configs for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.list
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListSmimeInfoResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.
      operationId: gmail.users.settings.sendAs.smimeInfo.insert
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SmimeInfo'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SmimeInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}':
    delete:
      description: Deletes the specified S/MIME config for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.delete
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          type: string
        - description: The immutable ID for the SmimeInfo.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    get:
      description: Gets the specified S/MIME config for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.get
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          type: string
        - description: The immutable ID for the SmimeInfo.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SmimeInfo'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the default S/MIME config for the specified send-as alias.
      operationId: gmail.users.settings.sendAs.smimeInfo.setDefault
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: 'The email address that appears in the "From:" header for mail sent using this alias.'
          in: path
          name: sendAsEmail
          required: true
          type: string
        - description: The immutable ID for the SmimeInfo.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/sendAs/{sendAsEmail}/verify':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: |-
        Sends a verification email to the specified send-as alias address. The verification status must be pending.

        This method is only available to service account clients that have been delegated domain-wide authority.
      operationId: gmail.users.settings.sendAs.verify
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The send-as alias to be verified.
          in: path
          name: sendAsEmail
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.sharing'
      tags:
        - users
  '/{userId}/settings/vacation':
    get:
      description: Gets vacation responder settings.
      operationId: gmail.users.settings.getVacation
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VacationSettings'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates vacation responder settings.
      operationId: gmail.users.settings.updateVacation
      parameters:
        - default: me
          description: User's email address. The special value "me" can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/VacationSettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VacationSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.settings.basic'
      tags:
        - users
  '/{userId}/stop':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stop receiving push notifications for the given user mailbox.
      operationId: gmail.users.stop
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
  '/{userId}/threads':
    get:
      description: Lists the threads in the user's mailbox.
      operationId: gmail.users.threads.list
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - default: false
          description: Include threads from SPAM and TRASH in the results.
          in: query
          name: includeSpamTrash
          type: boolean
        - collectionFormat: multi
          description: Only return threads with labels that match all of the specified label IDs.
          in: query
          items:
            type: string
          name: labelIds
          type: array
        - default: 100
          description: Maximum number of threads to return.
          in: query
          name: maxResults
          type: integer
        - description: Page token to retrieve a specific page of results in the list.
          in: query
          name: pageToken
          type: string
        - description: 'Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid: is:unread". Parameter cannot be used when accessing the api using the gmail.metadata scope.'
          in: query
          name: q
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListThreadsResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/threads/{id}':
    delete:
      description: Immediately and permanently deletes the specified thread. This operation cannot be undone. Prefer threads.trash instead.
      operationId: gmail.users.threads.delete
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: ID of the Thread to delete.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
      tags:
        - users
    get:
      description: Gets the specified thread.
      operationId: gmail.users.threads.get
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the thread to retrieve.
          in: path
          name: id
          required: true
          type: string
        - default: full
          description: The format to return the messages in.
          enum:
            - full
            - metadata
            - minimal
          in: query
          name: format
          type: string
        - collectionFormat: multi
          description: 'When given and format is METADATA, only include headers specified.'
          in: query
          items:
            type: string
          name: metadataHeaders
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{userId}/threads/{id}/modify':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Modifies the labels applied to the thread. This applies to all messages in the thread.
      operationId: gmail.users.threads.modify
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the thread to modify.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ModifyThreadRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/threads/{id}/trash':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Moves the specified thread to the trash.
      operationId: gmail.users.threads.trash
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the thread to Trash.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/threads/{id}/untrash':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Removes the specified thread from the trash.
      operationId: gmail.users.threads.untrash
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - description: The ID of the thread to remove from Trash.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Thread'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
      tags:
        - users
  '/{userId}/watch':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Set up or update a push notification watch on the given user mailbox.
      operationId: gmail.users.watch
      parameters:
        - default: me
          description: The user's email address. The special value me can be used to indicate the authenticated user.
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/WatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WatchResponse'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.metadata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.metadata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.modify'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.modify'
        - Oauth2:
            - 'https://www.googleapis.com/auth/gmail.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/gmail.readonly'
      tags:
        - users
definitions:
  AutoForwarding:
    description: Auto-forwarding settings for an account.
    properties:
      disposition:
        description: The state that a message should be left in after it has been forwarded.
        enum:
          - archive
          - dispositionUnspecified
          - leaveInInbox
          - markRead
          - trash
        type: string
      emailAddress:
        description: Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.
        type: string
      enabled:
        description: Whether all incoming mail is automatically forwarded to another address.
        type: boolean
    type: object
  BatchDeleteMessagesRequest:
    properties:
      ids:
        description: The IDs of the messages to delete.
        items:
          type: string
        type: array
    type: object
  BatchModifyMessagesRequest:
    properties:
      addLabelIds:
        description: A list of label IDs to add to messages.
        items:
          type: string
        type: array
      ids:
        description: The IDs of the messages to modify. There is a limit of 1000 ids per request.
        items:
          type: string
        type: array
      removeLabelIds:
        description: A list of label IDs to remove from messages.
        items:
          type: string
        type: array
    type: object
  Draft:
    description: A draft email in the user's mailbox.
    properties:
      id:
        description: The immutable ID of the draft.
        type: string
      message:
        $ref: '#/definitions/Message'
        description: The message content of the draft.
    type: object
  Filter:
    description: Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.
    properties:
      action:
        $ref: '#/definitions/FilterAction'
        description: Action that the filter performs.
      criteria:
        $ref: '#/definitions/FilterCriteria'
        description: Matching criteria for the filter.
      id:
        description: The server assigned ID of the filter.
        type: string
    type: object
  FilterAction:
    description: A set of actions to perform on a message.
    properties:
      addLabelIds:
        description: List of labels to add to the message.
        items:
          type: string
        type: array
      forward:
        description: Email address that the message should be forwarded to.
        type: string
      removeLabelIds:
        description: List of labels to remove from the message.
        items:
          type: string
        type: array
    type: object
  FilterCriteria:
    description: Message matching criteria.
    properties:
      excludeChats:
        description: Whether the response should exclude chats.
        type: boolean
      from:
        description: The sender's display name or email address.
        type: string
      hasAttachment:
        description: Whether the message has any attachment.
        type: boolean
      negatedQuery:
        description: 'Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid: is:unread".'
        type: string
      query:
        description: 'Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, "from:someuser@example.com rfc822msgid: is:unread".'
        type: string
      size:
        description: 'The size of the entire RFC822 message in bytes, including all headers and attachments.'
        format: int32
        type: integer
      sizeComparison:
        description: How the message size in bytes should be in relation to the size field.
        enum:
          - larger
          - smaller
          - unspecified
        type: string
      subject:
        description: Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.
        type: string
      to:
        description: 'The recipient''s display name or email address. Includes recipients in the "to", "cc", and "bcc" header fields. You can use simply the local part of the email address. For example, "example" and "example@" both match "example@gmail.com". This field is case-insensitive.'
        type: string
    type: object
  ForwardingAddress:
    description: Settings for a forwarding address.
    properties:
      forwardingEmail:
[...]
