openapi: 3.0.0
servers:
  - url: 'http://iam.amazonaws.com/'
info:
  version: '2010-05-08'
  x-release: v4
  title: AWS Identity and Access Management
  description: '<fullname>AWS Identity and Access Management</fullname> <p>AWS Identity and Access Management (IAM) is a web service that you can use to manage users and user permissions under your AWS account. This guide provides descriptions of IAM actions that you can call programmatically. For general information about IAM, see <a href="http://aws.amazon.com/iam/">AWS Identity and Access Management (IAM)</a>. For the user guide for IAM, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/">Using IAM</a>. </p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to IAM and AWS. For example, the SDKs take care of tasks such as cryptographically signing requests (see below), managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href="http://aws.amazon.com/tools/">Tools for Amazon Web Services</a> page. </p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to IAM. However, you can also use the IAM Query API to make direct calls to the IAM web service. To learn more about the IAM Query API, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html">Making Query Requests</a> in the <i>Using IAM</i> guide. IAM supports GET and POST requests for all actions. That is, the API does not require you to use GET for some actions and POST for others. However, GET requests are subject to the limitation size of a URL. Therefore, for operations that require larger sizes, use a POST request. </p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed using an access key ID and a secret access key. We strongly recommend that you do not use your AWS account access key ID and secret access key for everyday work with IAM. You can use the access key ID and secret access key for an IAM user or you can use the AWS Security Token Service to generate temporary security credentials and use those to sign requests.</p> <p>To sign requests, we recommend that you use <a href="http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4</a>. If you have an existing application that uses Signature Version 2, you do not have to update it to use Signature Version 4. However, some operations now require Signature Version 4. The documentation for operations that require version 4 indicate this requirement. </p> <p> <b>Additional Resources</b> </p> <p>For more information, see the following:</p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html">AWS Security Credentials</a>. This topic provides general information about the types of credentials used for accessing AWS. </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html">IAM Best Practices</a>. This topic presents a list of suggestions for using the IAM service to help secure your AWS resources. </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html">Signing AWS API Requests</a>. This set of topics walk you through the process of signing a request using an access key ID and secret access key. </p> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: iam
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/iam/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddClientIDToOpenIDConnectProvider
      description: <p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect (OIDC) provider resource.</p> <p>This action is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClientIDToOpenIDConnectProviderRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AddRoleToInstanceProfile':
    post:
      operationId: AddRoleToInstanceProfile
      description: '<p>Adds the specified IAM role to the specified instance profile. An instance profile can contain only one role, and this limit cannot be increased.</p> <note> <p>The caller of this API must be granted the <code>PassRole</code> permission on the IAM role by a permission policy.</p> </note> <p>For more information about roles, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html">Working with Roles</a>. For more information about instance profiles, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html">About Instance Profiles</a>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: UnmodifiableEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRoleToInstanceProfileRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AddUserToGroup':
    post:
      operationId: AddUserToGroup
      description: Adds the specified user to the specified group.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserToGroupRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AttachGroupPolicy':
    post:
      operationId: AttachGroupPolicy
      description: '<p>Attaches the specified managed policy to the specified IAM group.</p> <p>You use this API to attach a managed policy to a group. To embed an inline policy in a group, use <a>PutGroupPolicy</a>.</p> <p>For more information about policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachGroupPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AttachRolePolicy':
    post:
      operationId: AttachRolePolicy
      description: '<p>Attaches the specified managed policy to the specified IAM role. When you attach a managed policy to a role, the managed policy becomes part of the role''s permission (access) policy.</p> <note> <p>You cannot use a managed policy as the role''s trust policy. The role''s trust policy is created at the same time as the role, using <a>CreateRole</a>. You can update a role''s trust policy using <a>UpdateAssumeRolePolicy</a>.</p> </note> <p>Use this API to attach a <i>managed</i> policy to a role. To embed an inline policy in a role, use <a>PutRolePolicy</a>. For more information about policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: UnmodifiableEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachRolePolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AttachUserPolicy':
    post:
      operationId: AttachUserPolicy
      description: '<p>Attaches the specified managed policy to the specified user.</p> <p>You use this API to attach a <i>managed</i> policy to a user. To embed an inline policy in a user, use <a>PutUserPolicy</a>.</p> <p>For more information about policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachUserPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ChangePassword':
    post:
      operationId: ChangePassword
      description: '<p>Changes the password of the IAM user who is calling this action. The root account password is not affected by this action.</p> <p>To change the password for a different user, see <a>UpdateLoginProfile</a>. For more information about modifying passwords, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html">Managing Passwords</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: InvalidUserTypeException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidUserTypeException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: EntityTemporarilyUnmodifiableException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityTemporarilyUnmodifiableException'
        '484':
          description: PasswordPolicyViolationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PasswordPolicyViolationException'
        '485':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateAccessKey':
    post:
      operationId: CreateAccessKey
      description: '<p> Creates a new AWS secret access key and corresponding AWS access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users.</p> <p> For information about limits on the number of keys you can create, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your AWS account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessKeyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateAccountAlias':
    post:
      operationId: CreateAccountAlias
      description: 'Creates an alias for your AWS account. For information about using an AWS account alias, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html">Using an Alias for Your AWS Account ID</a> in the <i>IAM User Guide</i>.'
      responses:
        '200':
          description: Success
        '480':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountAliasRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateGroup':
    post:
      operationId: CreateGroup
      description: '<p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
        '480':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '481':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '482':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateInstanceProfile':
    post:
      operationId: CreateInstanceProfile
      description: '<p> Creates a new instance profile. For information about instance profiles, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html">About Instance Profiles</a>.</p> <p> For information about the number of instance profiles you can create, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateInstanceProfileResponse'
        '480':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInstanceProfileRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateLoginProfile':
    post:
      operationId: CreateLoginProfile
      description: ' Creates a password for the specified user, giving the user the ability to access AWS services through the AWS Management Console. For more information about managing passwords, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html">Managing Passwords</a> in the <i>IAM User Guide</i>.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateLoginProfileResponse'
        '480':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: PasswordPolicyViolationException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PasswordPolicyViolationException'
        '483':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoginProfileRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateOpenIDConnectProvider':
    post:
      operationId: CreateOpenIDConnectProvider
      description: '<p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href="http://openid.net/connect/">OpenID Connect (OIDC)</a>.</p> <p>The OIDC provider that you create with this operation can be used as a principal in a role''s trust policy to establish a trust relationship between AWS and the OIDC provider.</p> <p>When you create the IAM OIDC provider, you specify the URL of the OIDC identity provider (IdP) to trust, a list of client IDs (also known as audiences) that identify the application or applications that are allowed to authenticate using the OIDC provider, and a list of thumbprints of the server certificate(s) that the IdP uses. You get all of this information from the OIDC IdP that you want to use for access to AWS.</p> <note> <p>Because trust for the OIDC provider is ultimately derived from the IAM provider that this action creates, it is a best practice to limit access to the <a>CreateOpenIDConnectProvider</a> action to highly-privileged users.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateOpenIDConnectProviderResponse'
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpenIDConnectProviderRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreatePolicy':
    post:
      operationId: CreatePolicy
      description: '<p>Creates a new managed policy for your AWS account.</p> <p>This operation creates a policy version with a version identifier of <code>v1</code> and sets v1 as the policy''s default version. For more information about policy versions, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policies in general, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreatePolicyResponse'
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '483':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreatePolicyVersion':
    post:
      operationId: CreatePolicyVersion
      description: '<p>Creates a new version of the specified managed policy. To update a managed policy, you create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must delete an existing version using <a>DeletePolicyVersion</a> before you create a new version.</p> <p>Optionally, you can set the new version as the policy''s default version. The default version is the version that is in effect for the IAM users, groups, and roles to which the policy is attached.</p> <p>For more information about managed policy versions, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreatePolicyVersionResponse'
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyVersionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateRole':
    post:
      operationId: CreateRole
      description: 'Creates a new role for your AWS account. For more information about roles, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html">Working with Roles</a>. For information about limitations on role names and the number of roles you can create, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateRoleResponse'
        '480':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '481':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '482':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '483':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateSAMLProvider':
    post:
      operationId: CreateSAMLProvider
      description: '<p>Creates an IAM resource that describes an identity provider (IdP) that supports SAML 2.0.</p> <p>The SAML provider resource that you create with this operation can be used as a principal in an IAM role''s trust policy to enable federated users who sign-in using the SAML IdP to assume the role. You can create an IAM role that supports Web-based single sign-on (SSO) to the AWS Management Console or one that supports API access to AWS.</p> <p>When you create the SAML provider resource, you upload an a SAML metadata document that you get from your IdP and that includes the issuer''s name, expiration information, and keys that can be used to validate the SAML authentication response (assertions) that the IdP sends. You must generate the metadata document using the identity management software that is used as your organization''s IdP.</p> <note> <p> This operation requires <a href="http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4</a>.</p> </note> <p> For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-saml.html">Enabling SAML 2.0 Federated Users to Access the AWS Management Console</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html">About SAML 2.0-based Federation</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateSAMLProviderResponse'
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSAMLProviderRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateServiceLinkedRole':
    post:
      operationId: CreateServiceLinkedRole
      description: '<p>Creates an IAM role that is linked to a specific AWS service. The service controls the attached policies and when the role can be deleted. This helps ensure that the service is not broken by an unexpectedly changed or deleted role, which could put your AWS resources into an unknown state. Allowing the service to control the role helps improve service stability and proper cleanup when a service and its role are no longer needed.</p> <p>The name of the role is autogenerated by combining the string that you specify for the <code>AWSServiceName</code> parameter with the string that you specify for the <code>CustomSuffix</code> parameter. The resulting name must be unique in your account or the request fails.</p> <p>To attach a policy to this service-linked role, you must make the request using the AWS service that depends on this role.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateServiceLinkedRoleResponse'
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceLinkedRoleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateServiceSpecificCredential':
    post:
      operationId: CreateServiceSpecificCredential
      description: '<p>Generates a set of credentials consisting of a user name and password that can be used to access the service specified in the request. These credentials are generated by IAM, and can be used only for the specified service. </p> <p>You can have a maximum of two sets of service-specific credentials for each supported service per user.</p> <p>The only supported service at this time is AWS CodeCommit.</p> <p>You can reset the password to a new service-generated value by calling <a>ResetServiceSpecificCredential</a>.</p> <p>For more information about service-specific credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_ssh-keys.html">Using IAM with AWS CodeCommit: Git Credentials, SSH Keys, and AWS Access Keys</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateServiceSpecificCredentialResponse'
        '480':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: ServiceNotSupportedException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceNotSupportedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceSpecificCredentialRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateUser':
    post:
      operationId: CreateUser
      description: '<p>Creates a new IAM user for your AWS account.</p> <p> For information about limitations on the number of IAM users you can create, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '480':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '481':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '482':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateVirtualMFADevice':
    post:
      operationId: CreateVirtualMFADevice
      description: '<p>Creates a new virtual MFA device for the AWS account. After creating the virtual MFA, use <a>EnableMFADevice</a> to attach the MFA device to an IAM user. For more information about creating and working with virtual MFA devices, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html">Using a Virtual MFA Device</a> in the <i>IAM User Guide</i>.</p> <p>For information about limits on the number of MFA devices you can create, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html">Limitations on Entities</a> in the <i>IAM User Guide</i>.</p> <important> <p>The seed information contained in the QR code and the Base32 string should be treated like any other secret access information, such as your AWS access keys or your passwords. After you provision your virtual device, you should ensure that the information is destroyed following secure procedures.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateVirtualMFADeviceResponse'
        '480':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '481':
          description: EntityAlreadyExistsException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityAlreadyExistsException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVirtualMFADeviceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeactivateMFADevice':
    post:
      operationId: DeactivateMFADevice
      description: '<p>Deactivates the specified MFA device and removes it from association with the user name for which it was originally enabled.</p> <p>For more information about creating and working with virtual MFA devices, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html">Using a Virtual MFA Device</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: EntityTemporarilyUnmodifiableException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityTemporarilyUnmodifiableException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateMFADeviceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAccessKey':
    post:
      operationId: DeleteAccessKey
      description: '<p>Deletes the access key pair associated with the specified IAM user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccessKeyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAccountAlias':
    post:
      operationId: DeleteAccountAlias
      description: ' Deletes the specified AWS account alias. For information about using an AWS account alias, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html">Using an Alias for Your AWS Account ID</a> in the <i>IAM User Guide</i>.'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountAliasRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAccountPasswordPolicy':
    post:
      operationId: DeleteAccountPasswordPolicy
      description: Deletes the password policy for the AWS account. There are no parameters.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteGroup':
    post:
      operationId: DeleteGroup
      description: Deletes the specified IAM group. The group must not contain any users or have any attached policies.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteGroupPolicy':
    post:
      operationId: DeleteGroupPolicy
      description: '<p>Deletes the specified inline policy that is embedded in the specified IAM group.</p> <p>A group can also have managed policies attached to it. To detach a managed policy from a group, use <a>DetachGroupPolicy</a>. For more information about policies, refer to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteInstanceProfile':
    post:
      operationId: DeleteInstanceProfile
      description: '<p>Deletes the specified instance profile. The instance profile must not have an associated role.</p> <important> <p>Make sure you do not have any Amazon EC2 instances running with the instance profile you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance.</p> </important> <p>For more information about instance profiles, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html">About Instance Profiles</a>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteInstanceProfileRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteLoginProfile':
    post:
      operationId: DeleteLoginProfile
      description: '<p>Deletes the password for the specified IAM user, which terminates the user''s ability to access AWS services through the AWS Management Console.</p> <important> <p> Deleting a user''s password does not prevent a user from accessing AWS through the command line interface or the API. To prevent all user access you must also either make any access keys inactive or delete them. For more information about making keys inactive or deleting them, see <a>UpdateAccessKey</a> and <a>DeleteAccessKey</a>. </p> </important>'
      responses:
        '200':
          description: Success
        '480':
          description: EntityTemporarilyUnmodifiableException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EntityTemporarilyUnmodifiableException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLoginProfileRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteOpenIDConnectProvider':
    post:
      operationId: DeleteOpenIDConnectProvider
      description: <p>Deletes an OpenID Connect identity provider (IdP) resource object in IAM.</p> <p>Deleting an IAM OIDC provider resource does not update any roles that reference the provider as a principal in their trust policies. Any attempt to assume a role that references a deleted provider fails.</p> <p>This action is idempotent; it does not fail or return an error if you call the action for a provider that does not exist.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOpenIDConnectProviderRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeletePolicy':
    post:
      operationId: DeletePolicy
      description: '<p>Deletes the specified managed policy.</p> <p>Before you can delete a managed policy, you must first detach the policy from all users, groups, and roles that it is attached to, and you must delete all of the policy''s versions. The following steps describe the process for deleting a managed policy:</p> <ul> <li> <p>Detach the policy from all users, groups, and roles that the policy is attached to, using the <a>DetachUserPolicy</a>, <a>DetachGroupPolicy</a>, or <a>DetachRolePolicy</a> APIs. To list all the users, groups, and roles that a policy is attached to, use <a>ListEntitiesForPolicy</a>.</p> </li> <li> <p>Delete all versions of the policy using <a>DeletePolicyVersion</a>. To list the policy''s versions, use <a>ListPolicyVersions</a>. You cannot use <a>DeletePolicyVersion</a> to delete the version that is marked as the default version. You delete the policy''s default version in the next step of the process.</p> </li> <li> <p>Delete the policy (this automatically deletes the policy''s default version) using this API.</p> </li> </ul> <p>For information about managed policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeletePolicyVersion':
    post:
      operationId: DeletePolicyVersion
      description: '<p>Deletes the specified version from the specified managed policy.</p> <p>You cannot delete the default version from a policy using this API. To delete the default version from a policy, use <a>DeletePolicy</a>. To find out which version of a policy is marked as the default version, use <a>ListPolicyVersions</a>.</p> <p>For information about versions for managed policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePolicyVersionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteRole':
    post:
      operationId: DeleteRole
      description: '<p>Deletes the specified role. The role must not have any policies attached. For more information about roles, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html">Working with Roles</a>.</p> <important> <p>Make sure you do not have any Amazon EC2 instances running with the role you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance.</p> </important>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: UnmodifiableEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRoleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteRolePolicy':
    post:
      operationId: DeleteRolePolicy
      description: '<p>Deletes the specified inline policy that is embedded in the specified IAM role.</p> <p>A role can also have managed policies attached to it. To detach a managed policy from a role, use <a>DetachRolePolicy</a>. For more information about policies, refer to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: UnmodifiableEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRolePolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteSAMLProvider':
    post:
      operationId: DeleteSAMLProvider
      description: '<p>Deletes a SAML provider resource in IAM.</p> <p>Deleting the provider resource from IAM does not update any roles that reference the SAML provider resource''s ARN as a principal in their trust policies. Any attempt to assume a role that references a non-existent provider resource ARN fails.</p> <note> <p> This operation requires <a href="http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4</a>.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSAMLProviderRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteSSHPublicKey':
    post:
      operationId: DeleteSSHPublicKey
      description: '<p>Deletes the specified SSH public key.</p> <p>The SSH public key deleted by this action is used only for authenticating the associated IAM user to an AWS CodeCommit repository. For more information about using SSH keys to authenticate to an AWS CodeCommit repository, see <a href="http://docs.aws.amazon.com/codecommit/latest/userguide/setting-up-credentials-ssh.html">Set up AWS CodeCommit for SSH Connections</a> in the <i>AWS CodeCommit User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSSHPublicKeyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteServerCertificate':
    post:
      operationId: DeleteServerCertificate
      description: '<p>Deletes the specified server certificate.</p> <p>For more information about working with server certificates, including a list of AWS services that can use the server certificates that you manage with IAM, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html">Working with Server Certificates</a> in the <i>IAM User Guide</i>.</p> <important> <p> If you are using a server certificate with Elastic Load Balancing, deleting the certificate could have implications for your application. If Elastic Load Balancing doesn''t detect the deletion of bound certificates, it may continue to use the certificates. This could cause Elastic Load Balancing to stop accepting traffic. We recommend that you remove the reference to the certificate from Elastic Load Balancing before using this command to delete the certificate. For more information, go to <a href="http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancerListeners.html">DeleteLoadBalancerListeners</a> in the <i>Elastic Load Balancing API Reference</i>.</p> </important>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteServerCertificateRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteServiceSpecificCredential':
    post:
      operationId: DeleteServiceSpecificCredential
      description: Deletes the specified service-specific credential.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteServiceSpecificCredentialRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteSigningCertificate':
    post:
      operationId: DeleteSigningCertificate
      description: '<p>Deletes a signing certificate associated with the specified IAM user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated IAM users.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSigningCertificateRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteUser':
    post:
      operationId: DeleteUser
      description: 'Deletes the specified IAM user. The user must not belong to any groups or have any access keys, signing certificates, or attached policies.'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '481':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '482':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUserRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteUserPolicy':
    post:
      operationId: DeleteUserPolicy
      description: '<p>Deletes the specified inline policy that is embedded in the specified IAM user.</p> <p>A user can also have managed policies attached to it. To detach a managed policy from a user, use <a>DetachUserPolicy</a>. For more information about policies, refer to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUserPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteVirtualMFADevice':
    post:
      operationId: DeleteVirtualMFADevice
      description: '<p>Deletes a virtual MFA device.</p> <note> <p> You must deactivate a user''s virtual MFA device before you can delete it. For information about deactivating MFA devices, see <a>DeactivateMFADevice</a>. </p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: DeleteConflictException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteConflictException'
        '482':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVirtualMFADeviceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DetachGroupPolicy':
    post:
      operationId: DetachGroupPolicy
      description: '<p>Removes the specified managed policy from the specified IAM group.</p> <p>A group can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteGroupPolicy</a> API. For information about policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachGroupPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DetachRolePolicy':
    post:
      operationId: DetachRolePolicy
      description: '<p>Removes the specified managed policy from the specified role.</p> <p>A role can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteRolePolicy</a> API. For information about policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: UnmodifiableEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmodifiableEntityException'
        '484':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachRolePolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DetachUserPolicy':
    post:
      operationId: DetachUserPolicy
      description: '<p>Removes the specified managed policy from the specified user.</p> <p>A user can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteUserPolicy</a> API. For information about policies, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchEntityException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoSuchEntityException'
        '481':
          description: LimitExceededException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededException'
        '482':
          description: InvalidInputException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '483':
          description: ServiceFailureException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceFailureException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachUserPolicyRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#EnableMFADevice':
    post:
      operationId: EnableMFADevice
[...]
