swagger: '2.0'
schemes:
  - https
host: extraction.import.io
basePath: /
info:
  description: |-
    ## Introduction

    The import.io API is a [REST](http://en.wikipedia.org/wiki/Representational_state_transfer)ful API. It is designed as much as possible to have resource-oriented URLs and to use HTTP status codes to indicate API status.

    We use standard HTTP which can be understood by any HTTP client. Remember, you should never expose your secret API key in any public client-side code.

    JSON is always returned from the API on success.

    import.io uses conventional HTTP response codes to indicate success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing), and codes in the 5xx range indicate an error with our servers.

    All API requests *should* be made over HTTPS to `https://api.import.io/`

    (You can find our legacy docs [here](/legacy).)



    ## API Authentication

    You authenticate to the import.io API by providing your API key as URL query string parameter `_apikey`. You can manage your API key from [your account](https://import.io/data/account/).
  title: import.io
  version: '1.0'
  x-logo:
    url: 'https://d3sgt82prjfpwv.cloudfront.net/website2/271/img/import-logo-new-carmine.svg'
  x-origin:
    format: swagger
    url: 'http://api.docs.import.io/swagger-new.json'
    version: '2.0'
  x-providerName: import.io
externalDocs:
  url: 'http://api.docs.import.io/'
produces:
  - application/json
securityDefinitions:
  api_key:
    in: query
    name: _apikey
    type: apiKey
security:
  - api_key: []
paths:
  '/query/runtime/{runtimeConfigurationId}':
    get:
      description: |-
        This is the way to make a query onto the import.io platform.

        Find the Runtime Configuration ID on the integrate tab on your Extractor page. This is versioned, and will change when you save a new version of an Extractor.

        Example: https://extraction.import.io/query/runtime/6d190871-e0bc-4e9a-8ebd-1d9e21382c11?url=http://doom.import.io/row-tests/table-rows-1.html&_apiKey=YOUR_API_KEY
      operationId: extract
      parameters:
        - description: The URL to extract data from.
          in: path
          name: runtimeConfigurationId
          required: true
          type: string
        - description: The URL to extract data from.
          format: url
          in: query
          name: url
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              extractorData:
                data:
                  - group:
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                      - New column:
                          - text: result 1
                resourceId: 10047ea6137cb1a8d20e9ae5941706fd
                url: 'http://doom.import.io/row-tests/table-rows-1.html'
              pageData:
                statusCode: 200
                timestamp: 1459630910268
        default:
          description: error payload
      security:
        - api_key: []
      summary: Simple Query
      tags:
        - Query Methods
