{
  "basePath": "/",
  "host": "data.orghunter.com",
  "info": {
    "description": "Get the latest IRS data and most up to date charity information for your website or application",
    "title": "OrgHunter",
    "version": "1.0.0",
    "x-logo": {
      "url": "http://orghunter.com/sites/all/themes/orghunter/img/logo.jpg"
    },
    "x-origin": {
      "format": "swagger",
      "url": "https://orghunter.3scale.net/swagger/spec.json",
      "version": "1.2"
    },
    "x-providerName": "orghunter.com"
  },
  "paths": {
    "/v1/categories": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "description": "<p>This operation provides a list of categories.</p>",
        "parameters": [
          {
            "description": "Your API access key",
            "in": "query",
            "name": "user_key",
            "type": "string",
            "x-data-threescale-name": "user_key"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get categories!",
        "tags": [
          "categories"
        ]
      }
    },
    "/v1/charitybasic": {
      "post": {
        "description": "<p>This operation detail data.</p>",
        "parameters": [
          {
            "description": "Your API access key",
            "in": "query",
            "name": "user_key",
            "type": "string",
            "x-data-threescale-name": "user_key"
          },
          {
            "description": "ein (Employer Identification Number)",
            "in": "query",
            "name": "ein",
            "type": "string",
            "x-data-threescale-name": "ein"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get details!",
        "tags": [
          "details"
        ]
      }
    },
    "/v1/charityfinancial": {
      "post": {
        "description": "<p>This operation detail data.</p>",
        "parameters": [
          {
            "description": "Your API access key",
            "in": "query",
            "name": "user_key",
            "type": "string",
            "x-data-threescale-name": "user_key"
          },
          {
            "description": "ein (Employer Identification Number)",
            "in": "query",
            "name": "ein",
            "type": "string",
            "x-data-threescale-name": "ein"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get details!",
        "tags": [
          "CharityFinancial"
        ]
      }
    },
    "/v1/charitygeolocation": {
      "post": {
        "description": "<p>This operation detail data.</p>",
        "parameters": [
          {
            "description": "Your API access key",
            "in": "query",
            "name": "user_key",
            "type": "string",
            "x-data-threescale-name": "user_key"
          },
          {
            "description": "ein (Employer Identification Number)",
            "in": "query",
            "name": "ein",
            "type": "string",
            "x-data-threescale-name": "ein"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get details!",
        "tags": [
          "GeoLocation"
        ]
      }
    },
    "/v1/charitypremium": {
      "post": {
        "description": "<p>This operation detail data.</p>",
        "parameters": [
          {
            "description": "Your API access key",
            "in": "query",
            "name": "user_key",
            "type": "string",
            "x-data-threescale-name": "user_key"
          },
          {
            "description": "ein (Employer Identification Number)",
            "in": "query",
            "name": "ein",
            "type": "string",
            "x-data-threescale-name": "ein"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get details!",
        "tags": [
          "CharityPremium"
        ]
      }
    },
    "/v1/charitysearch": {
      "post": {
        "description": "<p>This operation provides summary data.</p>",
        "parameters": [
          {
            "description": "Your API access key",
            "in": "query",
            "name": "user_key",
            "type": "string",
            "x-data-threescale-name": "user_key"
          },
          {
            "description": "Employer Identification Number (EIN)",
            "in": "query",
            "name": "ein",
            "type": "string",
            "x-data-threescale-name": "ein"
          },
          {
            "description": "Charity Name or Keyword. Example: humane society or cancer",
            "in": "query",
            "name": "searchTerm",
            "type": "string",
            "x-data-threescale-name": "searchTerm"
          },
          {
            "description": "City Name. Example: Miami",
            "in": "query",
            "name": "city",
            "type": "string",
            "x-data-threescale-name": "city"
          },
          {
            "description": "State Name - Two letter state abbreviation",
            "in": "query",
            "name": "state",
            "type": "string",
            "x-data-threescale-name": "state"
          },
          {
            "description": "Zipcode Value - 5 digit zipcode value",
            "in": "query",
            "name": "zipCode",
            "type": "string",
            "x-data-threescale-name": "zipCode"
          },
          {
            "description": "Category Value Selected from Categories API",
            "in": "query",
            "name": "category",
            "type": "string",
            "x-data-threescale-name": "category"
          },
          {
            "description": "eligible=1 will return only organizations that are tax deductible and in good standing with the IRS",
            "in": "query",
            "name": "eligible",
            "type": "string",
            "x-data-threescale-name": "eligible"
          },
          {
            "description": "Record Set Start Position",
            "in": "query",
            "name": "start",
            "type": "string",
            "x-data-threescale-name": "start"
          },
          {
            "description": "Records Per Page. Default Value = 20",
            "in": "query",
            "name": "rows",
            "type": "string",
            "x-data-threescale-name": "rows"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get summary data!",
        "tags": [
          "summary"
        ]
      }
    }
  },
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "tags": [
    {
      "description": "Charity NTEE Classification/Categories API Test",
      "name": "categories"
    },
    {
      "description": "Charity Search Summary API Test",
      "name": "summary"
    },
    {
      "description": "Charity Basic API Test",
      "name": "details"
    },
    {
      "description": "Charity Financial API Test",
      "name": "CharityFinancial"
    },
    {
      "description": "Charity GeoLocation API Test",
      "name": "GeoLocation"
    },
    {
      "description": "Charity Premium API Test",
      "name": "CharityPremium"
    }
  ]
}
