openapi: 3.0.0
servers:
  - url: https://api.storecove.com/api/v2
info:
  contact:
    email: apisupport@storecove.nl
  description: Storecove API
  title: Storecove API
  version: 2.0.1
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_www.storecove.com_assets_v2_logo-b0d52166b7aedce1c08416e14480dcefd5db3f8a68704a6b802c37b189dd8894.png
  x-origin:
    - format: openapi
      url: https://www.storecove.com/api/v2/openapi.json
      version: "3.0"
  x-providerName: storecove.com
security:
  - Bearer: []
tags:
  - name: InvoiceSubmissions
  - name: DocumentSubmissions
  - name: LegalEntities
  - name: PeppolIdentifiers
  - name: Administrations
  - name: ReceivedDocuments
  - name: AdditionalTaxIdentifiers
  - name: PurchaseInvoices
  - name: WebhookInstances
  - name: Discovery
paths:
  /discovery/exists:
    post:
      description: Discover if a network participant exists.
      operationId: discovery_exists
      requestBody:
        $ref: "#/components/requestBodies/DiscoverableParticipant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveredParticipant"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Discover Network Participant Existence
      tags:
        - Discovery
  /discovery/identifiers:
    get:
      description: Discover the identifiers used in each country, for routing, for legal identification as well as for tax identification purposes. We are currently testing this endpoint with selected Customers. If you would like to participate, please contact us.
      operationId: discovery_identifiers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountrySpecifications"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      summary: Discover Country Identifiers ** EXPERIMENTAL
      tags:
        - Discovery
  /discovery/receives:
    post:
      description: Discover a network participant and capabilities.
      operationId: discovery_receives
      requestBody:
        $ref: "#/components/requestBodies/DiscoverableParticipant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveredParticipant"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Disover Network Participant
      tags:
        - Discovery
  /document_submissions:
    post:
      description: Submit a document for delivery. This endpoint will replaces the /invoice_submissions endpoint which will soon be deprecated.
      operationId: create_document_submission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentSubmission"
        description: Document to submit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentSubmissionResult"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Submit a new document.
      tags:
        - DocumentSubmissions
  "/document_submissions/{guid}/evidence/{evidence_type}":
    get:
      description: Get evidence for a DocumentSubmission by GUID with corresponding status
      operationId: show_document_submission_evidence
      parameters:
        - description: DocumentSubmission GUID
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
        - description: Type of evidence requested
          in: path
          name: evidence_type
          required: true
          schema:
            default: sending
            enum:
              - sending
              - clearing
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentSubmissionEvidence"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get DocumentSubmission Evidence
      tags:
        - DocumentSubmissions
  /invoice_submissions:
    post:
      description: DEPRECATED. Use the new /document_submissions endpoint. Submit an invoice for delivery.
      operationId: create_invoice_submission
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceSubmission"
        description: Invoice to submit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceSubmissionResult"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Submit a new invoice
      tags:
        - InvoiceSubmissions
  /invoice_submissions/preflight:
    post:
      description: Deprecated. Use the new /discovery endpoint. Check whether Storecove can deliver an invoice for a list of ids.
      operationId: preflight_invoice_recipient
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceRecipientPreflight"
        description: The invoice recipient to preflight
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreflightInvoiceRecipientResult"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: DEPRECATED. Preflight an invoice recipient
      tags:
        - InvoiceSubmissions
  "/invoice_submissions/{guid}/evidence":
    get:
      description: Deprecated. Use the new /document_submissions/{guid}/evidence endpoint. Get evidence for an InvoiceSubmission by GUID with corresponding status
      operationId: show_invoice_submission_evidence
      parameters:
        - description: InvoiceSubmission GUID
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceSubmissionEvidence"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: DEPRECATED. Get InvoiceSubmission Evidence
      tags:
        - InvoiceSubmissions
  /legal_entities:
    post:
      description: Create a new LegalEntity.
      operationId: create_legal_entity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegalEntityCreate"
        description: LegalEntity to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Create a new LegalEntity
      tags:
        - LegalEntities
  "/legal_entities/{id}":
    delete:
      description: Delete a specific LegalEntity.
      operationId: delete_legal_entity
      parameters:
        - description: legal_entity id
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete LegalEntity
      tags:
        - LegalEntities
    get:
      description: Get a specific LegalEntity.
      operationId: get_legal_entity
      parameters:
        - description: legal_entity id
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get LegalEntity
      tags:
        - LegalEntities
    patch:
      description: Update a specific LegalEntity.
      operationId: update_legal_entity
      parameters:
        - description: legal_entity id
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegalEntityUpdate"
        description: LegalEntity updates
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalEntity"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Update LegalEntity
      tags:
        - LegalEntities
  "/legal_entities/{legal_entity_id}/additional_tax_identifiers":
    post:
      description: Create a new AdditionalTaxIdentifier. An AdditionalTaxIdentifier is a seconday tax identifier that is used inside the EU when sending invoices to consumers. In that case, the VAT of the receiving country is used and if the sender has a local VAT identifier, that is used to identifiy the sender, instead of the sender's origin country VAT number. To use these identifiers, use the invoice.consumerTaxMode = true property.
      operationId: create_additional_tax_identifier
      parameters:
        - description: The id of the LegalEntity for which to create the AdditionalTaxIdentifier
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdditionalTaxIdentifierCreate"
        description: AdditionalTaxIdentifier to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdditionalTaxIdentifier"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Create a new AdditionalTaxIdentifier
      tags:
        - AdditionalTaxIdentifiers
  "/legal_entities/{legal_entity_id}/additional_tax_identifiers/{id}":
    delete:
      description: Delete an AdditionalTaxIdentifier
      operationId: delete_additional_tax_identifier
      parameters:
        - description: The id of the LegalEntity the AdditionalTaxIdentifier belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The id of the AdditionalTaxIdentifier
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete AdditionalTaxIdentifier
      tags:
        - AdditionalTaxIdentifiers
    get:
      description: Get an AdditionalTaxIdentifier
      operationId: get_additional_tax_identifier
      parameters:
        - description: The id of the LegalEntity the AdditionalTaxIdentifier belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The id of the AdditionalTaxIdentifier
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdditionalTaxIdentifier"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get AdditionalTaxIdentifier
      tags:
        - AdditionalTaxIdentifiers
    patch:
      description: Update an AdditionalTaxIdentifier
      operationId: update_additional_tax_identifier
      parameters:
        - description: The id of the LegalEntity the AdditionalTaxIdentifier belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The id of the AdditionalTaxIdentifier to be updated
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdditionalTaxIdentifierUpdate"
        description: AdditionalTaxIdentifier to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdditionalTaxIdentifier"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Update AdditionalTaxIdentifier
      tags:
        - AdditionalTaxIdentifiers
  "/legal_entities/{legal_entity_id}/administrations":
    post:
      description: Deprecated. Create a new Administration. An Administration is an email destination for purchase invoices.
      operationId: create_administration
      parameters:
        - description: The id of the LegalEntity for which to create the Administration
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdministrationCreate"
        description: Administration to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Administration"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Create a new Administration
      tags:
        - Administrations
  "/legal_entities/{legal_entity_id}/administrations/{id}":
    delete:
      description: Deprecated. Delete an Administration
      operationId: delete_administration
      parameters:
        - description: The id of the LegalEntity the Administration belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The id of the Administration
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete Administration
      tags:
        - Administrations
    get:
      description: Deprecated. Get an Administration
      operationId: get_administration
      parameters:
        - description: The id of the LegalEntity the Administration belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The id of the Administration
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Administration"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Administration
      tags:
        - Administrations
    patch:
      description: Deprecated. Update an Administration
      operationId: update_administration
      parameters:
        - description: The id of the LegalEntity the Administration belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The id of the Administration to be updated
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdministrationUpdate"
        description: Administration to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Administration"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Update Administration
      tags:
        - Administrations
  "/legal_entities/{legal_entity_id}/peppol_identifiers":
    post:
      description: Create a brand new new PeppolIdentifier. For <<_sg_singapore>>, special rules apply.
      operationId: create_peppol_identifier
      parameters:
        - description: The id of the LegalEntity for which to create the PeppolIdentifier
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PeppolIdentifierCreate"
        description: PeppolIdentifier to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PeppolIdentifier"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Create a new PeppolIdentifier
      tags:
        - PeppolIdentifiers
  "/legal_entities/{legal_entity_id}/peppol_identifiers/{superscheme}/{scheme}/{identifier}":
    delete:
      description: Delete a PeppolIdentifier.
      operationId: delete_peppol_identifier
      parameters:
        - description: The id of the LegalEntity this PeppolIdentifier belongs to
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
        - description: The superscheme of the identifier. Should always be "iso6523-actorid-upis".
          in: path
          name: superscheme
          required: true
          schema:
            type: string
        - description: PEPPOL identifier scheme id, e.g. "DE:VAT". For a full list see <<_receiver_identifiers_list>>.
          in: path
          name: scheme
          required: true
          schema:
            type: string
        - description: PEPPOL identifier
          in: path
          name: identifier
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete PeppolIdentifier
      tags:
        - PeppolIdentifiers
  "/legal_entities/{legal_entity_id}/received_documents":
    post:
      description: DEPRECATED - use new path /received_documents. Receive a new Document.
      operationId: receive_documenht
      parameters:
        - description: The id of the LegalEntity for which the document was received.
          in: path
          name: legal_entity_id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceivedDocumentCreate"
        description: Received document to process.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocument"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Receive a new Document
      tags:
        - ReceivedDocuments
  "/purchase_invoices/{guid}":
    get:
      description: Get a specific PurchaseInvoice, in JSON format.
      operationId: get_invoice_json
      parameters:
        - description: The guid of the purchase invoice, from the webhook.
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
        - description: |-
            The PaymentMeans version. The default (and deprecated) version 1.0 will give BankPaymentMean, DirectDebitPaymentMean, CardPaymentMean, NppPaymentMean, SeBankGiroPaymentMean, SePlusGiroPaymentMean, SgCardPaymentMean, SgGiroPaymentMean, SgPaynowPaymentMean.

            Version 2.0 deprecates BankPaymentMean (now CreditTransferPaymentMean), CardPaymentMean (now CreditCardPaymentMean), NppPaymentMean (now AunzNppPayidPaymentMean), SeBankGiroPaymentMean (now SeBankgiroPaymentMean  -- note the lower 'g' in 'bankgiro'). It also adds OnlinePaymentServicePaymentMean, StandingAgreementPaymentMean, AunzNppPaytoPaymentMean, AunzBpayPaymentMean, AunzPostbillpayPaymentMean, AunzUriPaymentMean.
          in: query
          name: pmv
          required: false
          schema:
            default: "1.0"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseInvoice"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Purchase invoice data as JSON
      tags:
        - PurchaseInvoices
  "/purchase_invoices/{guid}/{packaging}":
    get:
      description: Get a specific PurchaseInvoice.
      operationId: get_invoice_ubl
      parameters:
        - description: purchase invoice guid
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
        - description: How to package the purchase invoice.
          in: path
          name: packaging
          required: true
          schema:
            default: json
            enum:
              - json
              - ubl
              - original
            type: string
        - description: |-
            The PaymentMeans version. The default (and deprecated) version 1.0 will give BankPaymentMean, DirectDebitPaymentMean, CardPaymentMean, NppPaymentMean, SeBankGiroPaymentMean, SePlusGiroPaymentMean, SgCardPaymentMean, SgGiroPaymentMean, SgPaynowPaymentMean.

            Version 2.0 deprecates BankPaymentMean (now CreditTransferPaymentMean), CardPaymentMean (now CreditCardPaymentMean), NppPaymentMean (now AunzNppPayidPaymentMean), SeBankGiroPaymentMean (now SeBankgiroPaymentMean  -- note the lower 'g' in 'bankgiro'). It also adds OnlinePaymentServicePaymentMean, StandingAgreementPaymentMean, AunzNppPaytoPaymentMean, AunzBpayPaymentMean, AunzPostbillpayPaymentMean, AunzUriPaymentMean.
          in: query
          name: pmv
          required: false
          schema:
            default: "1.0"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseInvoiceUbl"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Purchase invoice data in a selectable format
      tags:
        - PurchaseInvoices
  "/purchase_invoices/{guid}/{packaging}/{package_version}":
    get:
      description: Get a specific PurchaseInvoice in UBL format
      operationId: get_invoice_ubl_versioned
      parameters:
        - description: purchase invoice guid
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
        - description: How to package the purchase invoice.
          in: path
          name: packaging
          required: true
          schema:
            default: ubl
            enum:
              - ubl
            type: string
        - description: The version of the package.
          in: path
          name: package_version
          required: true
          schema:
            default: si11
            enum:
              - si11
              - si12
              - si20
              - aunz
              - sg
              - jp
              - en16931
              - original
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseInvoiceUbl"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Purchase invoice data as JSON with a Base64-encoded UBL string in the specified version
      tags:
        - PurchaseInvoices
  /received_documents:
    post:
      description: Create a new received document.
      operationId: create_received_document
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceivedDocumentCreate"
        description: The received document to process.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocument"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ErrorModel"
                type: array
          description: Unprocessable Entity
      summary: Create a new received document
      tags:
        - ReceivedDocuments
  "/received_documents/{guid}/{format}":
    get:
      description: "EXPERIMENTAL: use only for orders. Get a new ReceivedDocument."
      operationId: get_received_document
      parameters:
        - description: The guid of the document that was received. This is the "document_guid" property of the "received_document" webhook.
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
        - description: The syntax in which to receive the received document.
          in: query
          name: syntax
          required: true
          schema:
            default: json
            enum:
              - json
              - original
            type: string
        - description: Automatically added
          in: path
          name: format
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedDocument"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get a new ReceivedDocument
      tags:
        - ReceivedDocuments
  /webhook_instances/:
    get:
      description: GET a WebhookInstance from the queue. After processing it successfully, DELETE it and GET the next one. When a 204 is received, the queue is empty and the polling process can sleep for a while.
      operationId: get_webhook_instances
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookInstance"
          description: Success
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: GET a WebhookInstance
      tags:
        - WebhookInstances
  "/webhook_instances/{guid}":
    delete:
      description: DELETE a specific WebhookInstance
      operationId: delete_webhook_instance
      parameters:
        - description: WebhookInstance guid
          in: path
          name: guid
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: DELETE a WebhookInstance
      tags:
        - WebhookInstances
components:
  requestBodies:
    DiscoverableParticipant:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DiscoverableParticipant"
      description: The participant to check
      required: true
  schemas:
    AccountingCustomerParty:
      description: The customer receiving the document.
      properties:
        party:
          $ref: "#/components/schemas/ReceiverParty"
        publicIdentifiers:
          description: A list of legal and tax identifiers for this customer.
          items:
            $ref: "#/components/schemas/PublicIdentifier"
          title: Public identifiers
          type: array
      required:
        - party
      title: Customer
      type: object
    AccountingSupplierParty:
      description: The party sending the invoice. Most data for the AccountingSupplierParty is taken from the Storecove database, where your sender identity resides and has been validated. However, we provide a limited number of fields here that you can specify on an invoice-by-invoice basis.
      properties:
        party:
          $ref: "#/components/schemas/SenderParty"
      title: Supplier
      type: object
    AdditionalItemProperty:
      description: An additional property for the item
      properties:
        name:
          description: The name of the property.
          minLength: 1
          title: Name
          type: string
        value:
          description: The value of the property.
          title: Value
          type: string
      required:
        - name
        - value
      title: Additional Item Property
      type: object
    AdditionalTaxIdentifier:
      properties:
        country:
          description: The ISO3166 country code to use this identifier for in case of consumerTaxMode.
          maxLength: 2
          minLength: 2
          title: Country
          type: string
        county:
          description: The county/state inside the country code to use this identifier for in case of consumerTaxMode.
          maxLength: 2
          minLength: 2
          title: County
          type: string
        id:
          description: The Storecove assigned id for the AdditionalTaxIdentifier.
          format: int64
          title: Id
          type: integer
        identifier:
          description: The identifier.
          title: Identifier
          type: string
        scheme:
          description: The scheme of the identifier.
          maxLength: 64
          minLength: 2
          title: Type
          type: string
        superscheme:
          description: The superscheme of the identifier.
          maxLength: 64
          minLength: 2
          title: Type
          type: string
    AdditionalTaxIdentifierCreate:
      properties:
        country:
          description: The ISO3166 country code to use this identifier for in case of consumerTaxMode.
          maxLength: 2
          minLength: 2
          title: Country
          type: string
        county:
          description: The county/state inside the country code to use this identifier for in case of consumerTaxMode. Leave empty to create an additional tax identifier for the entire country. For India, use the two last characters of ISO 3166-2:IN (https://en.wikipedia.org/wiki/States_and_union_territories_of_India).
          maxLength: 2
          minLength: 2
          title: County
          type: string
        identifier:
          description: The identifier.
          title: Identifier
          type: string
        scheme:
          description: The scheme of the identifier.
          maxLength: 64
          minLength: 2
          title: Type
          type: string
        superscheme:
          description: The superscheme of the identifier. Should always be "iso6523-actorid-upis".
          maxLength: 64
          minLength: 2
          title: Type
          type: string
        third_party_password:
          description: The password to use to authenticate to a system through which to send the document, or to obtain tax authority approval to send it. This field is currently relevant only for India and mandatory when creating an IN tax identifier.
          maxLength: 64
          minLength: 2
          title: Password
          type: string
        third_party_username:
          description: The username to use to authenticate to a system through which to send the document, or to obtain tax authority approval to send it. This field is currently relevant only for India and mandatory when creating an IN tax identifier.
          maxLength: 64
          minLength: 2
          title: Username
          type: string
      required:
        - country
        - identifier
        - scheme
        - superscheme
    AdditionalTaxIdentifierUpdate:
      properties:
        identifier:
          description: The identifier.
          title: Identifier
          type: string
        third_party_password:
          description: The password to use to authenticate to a system through which to send the document, or to obtain tax authority approval to send it. This field is currently relevant only for India and mandatory when creating an IN tax identifier.
          maxLength: 64
          minLength: 2
          title: Password
          type: string
        third_party_username:
          description: The username to use to authenticate to a system through which to send the document, or to obtain tax authority approval to send it. This field is currently relevant only for India and mandatory when creating an IN tax identifier.
          maxLength: 64
          minLength: 2
          title: Username
          type: string
      required:
        - identifier
    Address:
      description: The address
      properties:
        city:
          description: The name of the city. Mandatory in most countries.
          minLength: 2
          title: City
          type: string
        country:
          $ref: "#/components/schemas/Country"
        county:
          description: An optional county name.
          title: County
          type: string
        street1:
          description: The street name and number. Mandatory in most countries.
          minLength: 2
          title: Street 1
          type: string
        street2:
          description: The second street field. Use this if you used the first field for the building name.
          title: Street 2
          type: string
        zip:
          description: The zipcode/postalzone. Mandatory unless the country does not have zip codes.
          minLength: 2
          title: Zipcode
          type: string
      required:
        - country
      title: Address
      type: object
    Administration:
      properties:
        email:
          description: The email address to send the received document to
          maxLength: 128
          minLength: 5
          title: Email
          type: string
        id:
          description: The Storecove assigned id for the Administration.
          format: int64
          title: Id
          type: integer
        legal_entity_id:
          description: The LegalEntity the Administration belongs to.
          format: int64
          title: Legal etity
          type: integer
        package_version:
          description: The version of the package.
          enum:
            - peppol_bis_v3
            - aunz
            - sg
          title: Package version
          type: string
        packaging:
          description: How to package the purchase invoice.
          enum:
            - ubl
          title: Packaging
          type: string
        sender_email_identity_id:
          description: The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used
          format: int64
          title: Sender email identity
          type: integer
    AdministrationCreate:
      properties:
        email:
          description: The email address to send the received document to
          maxLength: 128
          minLength: 5
          title: Email
          type: string
        legal_entity_id:
          description: The LegalEntity the Administration belongs to.
          format: int64
          title: Legal etity
          type: integer
        package_version:
          default: peppol_bis_v3
          description: The version of the package.
          enum:
            - peppol_bis_v3
            - aunz
            - sg
          title: Package version
          type: string
        packaging:
          default: ubl
          description: How to package the purchase invoice.
          enum:
            - ubl
          title: Packaging
          type: string
        sender_email_identity_id:
          description: The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used
          format: int64
          title: Sender email identity
          type: integer
    AdministrationUpdate:
      properties:
        email:
          description: The email address to send the received document to
          maxLength: 128
          minLength: 5
          title: Email
          type: string
        package_version:
          description: The version of the package.
          enum:
            - peppol_bis_v3
            - aunz
            - sg
          title: Package version
          type: string
        packaging:
          description: How to package the purchase invoice.
          enum:
            - ubl
          title: Packaging
          type: string
        sender_email_identity_id:
          description: The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used
          format: int64
          title: Sender email identity
          type: integer
    AllowanceCharge:
      properties:
        amountExcludingTax:
          description: The amount for the allowance or charge, excluding tax.
          title: Amount Excluding Tax
          type: number
        amountExcludingVat:
          description: DEPRECATED. Use amountExcludingTax. The amount for the allowance or charge, excluding VAT.
          title: Amount
          type: number
        baseAmountExcludingTax:
          description: The base amount for the allowance or charge, excluding tax.
          title: Base Amount Excluding Tax
          type: number
        reason:
          default: Agreed settlement
          description: The reason for the allowance or charge, free text
          title: Reason
          type: string
        reasonCode:
          description: Do not use. Contact Storecove first if you want to use this field.
          title: Reason Code
          type: string
        tax:
          $ref: "#/components/schemas/Tax"
        taxesDutiesFees:
          description: An array of taxes, duties and fees for this invoice line. At this moment, multiple Tax items is allowed only for IN (India) and US (USA) taxes. All other countries can only have a single Tax item in this array.
          items:
            $ref: "#/components/schemas/Tax"
          minItems: 0
          title: Taxes, Duties and Fees
          type: array
      title: Allowance or Charge
      type: object
    Attachment:
      description: A document attachment to the invoice.
      properties:
        description:
          description: A description for the file attachment.
          maxLength: 1024
          title: Description
          type: string
        document:
          description: The base64 encoded version of the document attachment.
          minLength: 5
          title: Document Attachment
          type: string
        documentId:
          description: An id for the file attachment.
          maxLength: 64
          title: Document Id
          type: string
        filename:
          description: The name of the file attachment.
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9])?\.[a-zA-Z0-9_-]+$
          title: Filename
          type: string
        mimeType:
          description: The document attachment mime type. Currently only application/pdf is allowed.
          enum:
            - application/pdf
          title: Mime Type
          type: string
        primaryImage:
          default: false
          description: Whether or not this document is a visual representation of the invoice data. Note that although this property is not yet deprecated, using value 'true' is discouraged, since the invoice data itself is leading, not the image, and including an image may lead to confusion. Peppol no longer allows including primary images.
          title: Primary Image
          type: boolean
      required:
        - document
        - mimeType
      title: Invoice Attachment
      type: object
    Contact:
      description: Contact details for the invoice
      properties:
        email:
          format: email
          title: Email address
          type: string
        firstName:
          title: First name
          type: string
        id:
          description: Only supported for AccountingCustomerParty.
          maxLength: 20
          title: Id
          type: string
        lastName:
          title: Last name
          type: string
        phone:
          maxLength: 24
          title: Phone number
          type: string
      title: Contact
      type: object
    CorpPass:
      properties:
        client_redirect_fail_url:
          description: The URL the CorpPass system will redirect to in case of a failure to perform identity verfication.
          maxLength: 255
          minLength: 11
          title: Client Redirect Success URL
          type: string
        client_redirect_success_url:
          description: The URL the CorpPass system will redirect to in case of successful identity verfication.
          maxLength: 255
          minLength: 11
          title: Client Redirect Success URL
          type: string
        corppass_url:
          description: The CorpPass redirect URL.
          maxLength: 255
          minLength: 11
          title: CorpPass redirect URL
          type: string
        enabled:
          default: false
          description: Whether or not the CorpPass flow is enabled.
          title: CorpPass
          type: boolean
        flow_type:
          description: The CorpPass flow type.
          enum:
            - corppass_flow_redirect
            - corppass_flow_email
          title: Flow Type
          type: string
        signer_email:
          description: The email of the person who is going to perform the CorpPass process.
          maxLength: 128
          minLength: 2
          title: Signer Email
          type: string
        signer_name:
          description: The name of the person who is going to perform the CorpPass process.
          maxLength: 64
          minLength: 2
          title: Signer Name
          type: string
        simulate_corppass:
          default: false
          description: Whether or not CorpPass is being simulated.
          title: Simulate CorpPass
          type: boolean
        status:
          description: The status of the CorpPass process.
          enum:
            - corppass_no_status,
            - corppass_initiated,
            - corppass_cancelled,
            - corppass_failed,
            - corppass_succeeded
          title: CorpPass Status
          type: string
    CorpPassCreate:
      properties:
        client_redirect_fail_url:
          description: The URL the CorpPass system will redirect to in case of a failure to perform identity verfication. Mandatory for flow_type="corppass_flow_redirect"
          maxLength: 255
          minLength: 11
          title: Client Redirect Success URL
          type: string
        client_redirect_success_url:
          description: The URL the CorpPass system will redirect to in case of successful identity verfication. Mandatory for flow_type="corppass_flow_redirect"
          maxLength: 255
          minLength: 11
          title: Client Redirect Success URL
          type: string
        enabled:
          default: true
          description: DEPRECATED. Whether or not to enable the CorpPass flow. Must be true if provided.
          title: CorpPass
          type: boolean
        flow_type:
          description: The CorpPass flow type.
          enum:
            - corppass_flow_redirect
            - corppass_flow_email
          title: Flow Type
          type: string
        signer_email:
          description: The email of the person who is going to perform the CorpPass process. Mandatory for flow_type="corppass_flow_email"
          maxLength: 128
          minLength: 2
          title: Signer Email
          type: string
        signer_name:
          description: The name of the person who is going to perform the CorpPass process. Mandatory for flow_type="corppass_flow_email"
          maxLength: 64
          minLength: 2
          title: Signer Name
          type: string
        simulate_corppass:
          default: false
          description: "Whether or not to simulate CorpPass. Instead of redirecting to a CorpPass URL, you will receive a redirect to a Storecove URL which will show a page with two buttons: success and fail. This makes development without having test CorpPass credentials possible. Note this only works in sandbox, not in the production environment."
          title: Simulate CorpPass
          type: boolean
      required:
        - flow_type
    Country:
      description: An ISO 3166-1 alpha-2 country code.
      enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - NO
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - XI
        - YE
        - YT
        - ZA
        - ZM
        - ZW
      title: Country
      type: string
    CountrySpecification:
      properties:
        country:
          $ref: "#/components/schemas/Country"
        receiver:
          description: The receiver of the document.
          properties:
            business:
              description: The business receiver of the document.
              properties:
                legal:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
                routing:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
                tax:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
              title: Business Receiver
            consumer:
              description: The consumer receiver of the document.
              properties:
                legal:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
                routing:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
                tax:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
              title: Consumer Receiver
            government:
              description: The government receiver of the document.
              properties:
                legal:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
                routing:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
                tax:
                  $ref: "#/components/schemas/CountrySpecificationIdentifier"
              title: Government Receiver
          title: Receiver
        region:
          description: The region this country belongs to. Within this region exchanging invoices is well defined. Between regions some care needs to be taken and Storecove may help in automatically converting some items. Contact us for details of inter-regional document exchange.
          enum:
            - eu_eea
            - sg
            - aunz
            - in
            - world
          title: Region
          type: string
        sender:
          description: The sender of the document.
          properties:
            legal:
              $ref: "#/components/schemas/CountrySpecificationIdentifier"
            tax:
              $ref: "#/components/schemas/CountrySpecificationIdentifier"
          title: Sender
    CountrySpecificationIdentifier:
      properties:
        centalized_identifier_test:
          description: The centralized identifier to use for routing in test cases, if the "centralized" proprerty is true. May not always be available depending on the country and network.
          title: Centralized Identifier Test
          type: string
        centralized:
          description: Whether or not the identifier represents a centralized routing identifier. This is used in SG, AT and FR where all government invoices are routed to a central accesspoint with a single identifier. This field can only be present for routing identifiers.
          title: Centralized
          type: boolean
        centralized_identifier:
          description: The centralized identifier to use for routing, if the "centralized" proprerty is true.
          title: Centralized Identifier
          type: string
        description:
          description: Identifier description.
          title: Description
          type: string
        scheme:
          description: The scheme of the identifier
          title: Scheme
          type: string
        scheme_numercial:
          description: The numerical version of the scheme of the identifier
          title: Scheme Numerical
          type: string
        scheme_type:
          description: The scheme type of the identifier. Currently always "iso6523-actorid-upis"
          enum:
            - iso6523-actorid-upis
          title: Scheme Type
          type: string
    CountrySpecifications:
      properties:
        countries:
          items:
            $ref: "#/components/schemas/CountrySpecification"
          type: array
    CurrencyCode:
      description: The ISO 4217 currency code.
      enum:
        - AED
        - AFN
        - ALL
        - AMD
        - ANG
        - AOA
        - ARS
        - AUD
        - AWG
        - AZN
        - BAM
        - BBD
        - BDT
        - BGN
        - BHD
        - BIF
        - BMD
        - BND
        - BOB
        - BOV
        - BRL
        - BSD
        - BTN
        - BWP
        - BYN
        - BYR
        - BZD
        - CAD
        - CDF
        - CHE
        - CHF
        - CHW
        - CLF
        - CLP
        - CNY
        - COP
        - COU
        - CRC
        - CUC
        - CUP
        - CVE
        - CZK
        - DJF
        - DKK
        - DOP
        - DZD
        - EGP
        - ERN
        - ETB
        - EUR
        - FJD
        - FKP
        - GBP
        - GEL
        - GHS
        - GIP
        - GMD
        - GNF
        - GTQ
        - GYD
        - HKD
        - HNL
        - HRK
        - HTG
        - HUF
        - IDR
        - ILS
        - INR
        - IQD
        - IRR
        - ISK
        - JMD
        - JOD
        - JPY
        - KES
        - KGS
        - KHR
        - KMF
        - KPW
        - KRW
        - KWD
        - KYD
        - KZT
        - LAK
        - LBP
        - LKR
        - LRD
        - LSL
        - LYD
        - MAD
        - MDL
        - MGA
        - MKD
        - MMK
        - MNT
        - MOP
        - MRO
        - MUR
        - MVR
        - MWK
        - MXN
        - MXV
        - MYR
        - MZN
        - NAD
        - NGN
        - NIO
        - NOK
        - NPR
        - NZD
        - OMR
        - PAB
        - PEN
        - PGK
        - PHP
        - PKR
        - PLN
        - PYG
        - QAR
        - RON
        - RSD
        - RUB
        - RWF
        - SAR
        - SBD
        - SCR
        - SDG
        - SEK
        - SGD
        - SHP
        - SLE
        - SLL
        - SOS
        - SRD
        - SSP
        - STD
        - SYP
        - SZL
        - THB
        - TJS
        - TMT
        - TND
        - TOP
        - TRY
        - TTD
        - TWD
        - TZS
        - UAH
        - UGX
        - USD
        - USN
        - UYI
        - UYU
        - UZS
        - VEF
        - VND
        - VUV
        - WST
        - XAF
        - XAG
        - XAU
        - XBA
        - XBB
        - XBC
        - XBD
        - XCD
        - XDR
        - XFU
        - XOF
        - XPD
        - XPF
        - XPT
        - XSU
        - XTS
        - XUA
        - XXX
        - YER
        - ZAR
        - ZMW
      title: Currency
      type: string
    Delivery:
      properties:
        actualDate:
          description: The actual date of the delivery. Used only for Invoice
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Actual Date
          type: string
        deliveryLocation:
          properties:
            address:
              $ref: "#/components/schemas/Address"
            id:
              description: The location identifier.
              minLength: 2
              title: Identifier
              type: string
            locationName:
              description: The name of the delivery location. Only used for DocumentOrder.
              maxLength: 128
              title: Location Name
              type: string
            schemeAgencyId:
              description: DEPRECATED. The schemeAgencyId of the location identifier (e.g. 'ZZZ')
              title: Identifier Scheme Agency ID
              type: string
            schemeId:
              description: The schemeId of the location identifier (e.g. 'EAN')
              title: Identifier Scheme ID
              type: string
          type: object
        deliveryParty:
          $ref: "#/components/schemas/DeliveryParty"
        deliveryPartyName:
          description: Use deliveryParty. The name of the party that took delivery. Used only for Invoice
          title: Delivery Party Name
          type: string
        quantity:
          default: 1
          description: The quantity of the delivery. Used only for Invoice
          title: Quantity
          type: number
        requestedDeliveryPeriod:
          description: The requested delivery period. Used only for DocumentOrder.
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Requested Delivery Period
          type: string
        shippingMarks:
          description: A text that the buyer requests to be printed on the packing labels. Used only for DocumentOrder.
          maxLength: 128
          title: Shipping Marks
          type: string
      type: object
    DeliveryParty:
      description: The party receiving the shipment.
      properties:
        party:
          $ref: "#/components/schemas/ReceiverParty"
      required:
        - party
      title: Delivery Party
      type: object
    DeliveryTerms:
      properties:
        deliveryLocationId:
          description: The location to which the delivery terms refer.
          maxLength: 128
          title: Delivery Location Id
          type: string
        incoterms:
          description: |-
            The incoterms:
            ++++
            <ul>    <li>        <strong>EXW – Ex Works</strong><br/>        The seller must give the buyer access to goods at an agreed location. From that moment, the buyer bears almost all costs and risks during the entire shipping process.<br/>    </li>    <li>        <strong>FCA – Free Carrier</strong><br/>        The seller must make the goods available at his own risk and expense at his own premises or at an agreed place. In both cases, the seller is responsible for the clearance of the goods for export. It can be agreed that the buyer must instruct the carrier to transfer a “Bill of Lading (BL)” with a note on board to the seller.    </li>    <li>        <strong>CPT – Carriage Paid To</strong><br/>        The seller has the same responsibilities as with FCA, but in this case also pays the delivery costs.    </li>    <li>        <strong>CIP – Carriage Insurance Paid To</strong><br/>        The same seller responsibilities as with CPT, only in this case the seller is obliged to pay the insurance with a high coverage ratio. Parties can agree separately to apply limited coverage.    </li>    <li>        <strong>DAP – Delivered At Place</strong><br/>        The seller bears the costs and risks during the transport of the goods to an agreed address. As soon as the goods have arrived at this address and are ready for unloading, the risk passes to the buyer.    </li>    <li>        <strong>DPU – Delivered at Place Unloaded</strong><br/>        The seller is responsible for the costs and risks of delivering goods to an agreed destination where goods can be unloaded for further transport. The selling party arranges customs and unloads the goods at the agreed place. The buyer arranges the customs clearance and any associated rights.    </li>    <li>        <strong>DDP – Delivered Duty Paid</strong><br/>        The seller bears the costs and risks of transport, carries out the export and import responsibilities and pays any import duties. As soon as the goods have arrived at the address and are ready for unloading, the risk passes to the buyer.    </li>    <li>        <strong>FAS – Free Alongside Ship</strong><br/>        The seller bears all costs and risks until the goods are delivered next to the ship. From that point, the risk is for the buyer and he also arranges the export clearance and import clearance.    </li>    <li>        <strong>FOB – Free On Board</strong><br/>        The seller bears all costs and risks until the goods are on board the ship and also arranges the export clearance. As soon as the goods have been delivered to the ship, the buyer bears all responsibilities.    </li>    <li>        <strong>CFR – Cost And Freight</strong><br/>        The same applies to the seller and buyer as with FOB, but in this case, the seller must also pay for the transport of the goods to the port.    </li>    <li>        <strong>CIF – Cost, Insurance, and Freight</strong><br/>        The seller has the same obligations as with CFR but also pays the (minimum) insurance costs. The buyer must pay for more comprehensive insurance.    </li></ul>
            ++++
          enum:
            - EXW
            - FCA
            - CPT
            - CIP
            - DAP
            - DPU
            - DDP
            - FAS
            - FOB
            - CFR
            - CIF
          title: Incoterms
          type: string
        specialTerms:
          description: A description of special conditions relating to the delivery terms.
          maxLength: 512
          title: Special Terms
          type: string
      type: object
    DiscoverableParticipant:
      description: A participant to be discovered.
      properties:
        documentTypes:
          description: An array of document types to discover. The default is '["invoice", "creditnote"]'. This is ignored when only checking existence.
          items:
            enum:
              - invoice
              - creditnote
              - invoice_response
              - order
              - ordering
              - order_response
            type: string
          title: DocumentTypes
          type: array
        identifier:
          description: The actual identifier.
          minLength: 1
          title: Identifier
          type: string
        metaScheme:
          default: iso6523-actorid-upis
          description: The meta scheme of the identifier. For Peppol this is always 'iso6523-actorid-upis'.
          minLength: 3
          title: Meta Scheme
          type: string
        network:
          default: peppol
          description: The network to check. Currently only 'peppol' is supported.
          minLength: 3
          title: Network
          type: string
        scheme:
          description: The scheme of the identifier. See <<_receiver_identifiers_list>> for a list.
          minLength: 3
          title: Scheme
          type: string
      required:
        - scheme
        - identifier
      title: Discoverable Participant
      type: object
    DiscoveredParticipant:
      description: A public identifier for this customer.
      properties:
        code:
          description: The response code.
          enum:
            - OK
            - NOK
          title: Code
          type: string
        email:
          description: Whether or not an 'OK' response means the document will be sent via Peppol, but delivered by email. This happens in the Belgian Hermes system where all identifiers have been registered, but if the receiver hasn't registered with a service provider, the Hermes system will send a PDF created from the electronic invoice and email that. The electronic document will itself not be emailed. Also see https://einvoice.belgium.be/en/article/send-structured-invoices-all-your-customers-hermes[Hermes^].
          title: Email
          type: boolean
      title: Discovered Participant
      type: object
    DocumentInvoiceResponse:
      description: The invoice response to send.
      properties:
        clarifications:
          description: A list of clarifications why a received invoice was rejected (RE) or under query (UQ) and what action to take.
          items:
            $ref: "#/components/schemas/InvoiceResponseClarification"
          minItems: 0
          title: Clarifications
          type: array
        effectiveDate:
          description: "The date when the status became effective. Format: yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Effective Date
          type: string
        note:
          description: A note to add to the invoice reponse
          title: Note
          type: string
        responseCode:
          description: The response code. For details see https://docs.peppol.eu/poacc/upgrade-3/codelist/UNCL4343-T111/
          enum:
            - AB
            - IP
            - UQ
            - RE
            - AP
            - PD
          title: Response Code
          type: string
      required:
        - receivedInvoiceGuid
        - responseCode
      title: Document Invoice Response
      type: object
    DocumentOrder:
      description: The order to send.
      properties:
        accountingCost:
          description: The buyer's accounting cost centre for this document.
          minLength: 1
          title: Accounting Cost
          type: string
        allowanceCharges:
          description: An array of allowance charges.
          items:
            $ref: "#/components/schemas/AllowanceCharge"
          minItems: 0
          title: Allowance Charges
          type: array
        amountIncludingTax:
          description: Total amount including Tax.
          title: Amount including Tax
          type: number
        attachments:
          description: An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.
          items:
            $ref: "#/components/schemas/Attachment"
          maxItems: 10
          title: Attachments
          type: array
        delivery:
          $ref: "#/components/schemas/Delivery"
        deliveryTerms:
          $ref: "#/components/schemas/DeliveryTerms"
        documentCurrencyCode:
          $ref: "#/components/schemas/CurrencyCode"
        documentNumber:
          description: The number you assigned to the document.
          minLength: 1
          title: Document number
          type: string
        issueDate:
          description: "Format: yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Document issue date
          type: string
        issueTime:
          description: "Format: hh:mm:ss±zzzz "
          pattern: ^[0-9]{2}:[0-9]{2}:[0-9]{2}$
          title: Document issue time
          type: string
        note:
          description: A note to add to the document
          maxLength: 255
          title: Note
          type: string
        orderLines:
          description: An array of order lines.
          items:
            $ref: "#/components/schemas/OrderLine"
          minItems: 1
          title: Order lines
          type: array
        orderType:
          default: regular
          description: The type of this order.
          enum:
            - regular
            - consignment
          title: Order Type
          type: string
        paymentTerms:
          $ref: "#/components/schemas/PaymentTerms"
        references:
          description: An array of references to other documents. Note that many syntaxes do not support multiple references of the same type in which case they will be concatenated with ','. Also, not all syntaxes and doucments support all documentTypes.
          items:
            $ref: "#/components/schemas/Reference"
          minItems: 0
          title: References
          type: array
        sellerSupplierParty:
          $ref: "#/components/schemas/SellerSupplierParty"
        taxSystem:
          default: tax_line_percentages
          description: The tax system used for the invoice. The system 'tax_line_percentages' is the only one currently supported.
          enum:
            - tax_line_percentages
          title: Tax System
          type: string
        timeZone:
          description: "Format: ±zzzz, where ±zzzz is the difference from UTC, e.g. +0100 or -0900 etc. The timezone will also apply to the document issue date if this field is provided."
          pattern: ^[+-]\d{4}$
          title: Document issue date
          type: string
        validityPeriod:
          description: "The period (or specific date) to which the invoice applies. Format: yyyy-mm-dd - yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Validity period
          type: string
      required:
        - documentNumber
        - issueDate
        - sellerSupplierParty
        - orderLines
        - amountIncludingTax
      title: Order
      type: object
    DocumentSubmission:
      description: The document you want Storecove to send, with some meta-data.
      properties:
        attachments:
          description: DEPRECATED. Use the attachments array inside the 'document' property. An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.
          items:
            $ref: "#/components/schemas/Attachment"
          maxItems: 10
          title: Attachments
          type: array
        createPrimaryImage:
          description: DEPRECATED. In the future we will no longer support creating PDF invoices. Whether or not to create a primary image (PDF) if one is not provided. For customers who started from December 1st 2022, the default is false. For customers who started before that, the default is true.
          title: Create Primary Image
          type: boolean
        document:
          $ref: "#/components/schemas/SendableDocument"
        idempotencyGuid:
          description: A guid that you generated for this DocumentSubmission to achieve idempotency. If you submit multiple documents with the same idempotencyGuid, only the first one will be processed and any subsequent ones will trigger an HTTP 422 Unprocessable Entity response.
          maxLength: 36
          minLength: 36
          title: Idempotency GUID
          type: string
        legalEntityId:
          description: The id of the LegalEntity this document should be sent on behalf of. Either legalEntityId or receiveGuid is mandatory.
          title: LegalEntity Id
          type: integer
        receiveGuid:
          description: The GUID that was in the received_document webhook. Either legalEntityId or receiveGuid is mandatory. This field is used for sending response documents, such as InvoiceReponse and OrderResponse.
          title: Receive GUID
          type: string
        routing:
          $ref: "#/components/schemas/Routing"
      title: Document submission
      type: object
    DocumentSubmissionEvidence:
      properties:
        documents:
          description: An array of documents that were sent. For OpenPeppol, this is always a single document (it may contain a PDF inside). For Email, the number of documents depends on the number of attachments, which in turn depends on the country of the receiver. For email, the raw email in RFC822 format is also included.
          items:
            $ref: "#/components/schemas/DocumentSubmissionEvidenceDocument"
          title: Documents
          type: array
        evidence:
          $ref: "#/components/schemas/DocumentSubmissionEvidenceEvidence"
        network:
          description: The exchange network that was used to send the document
          enum:
            - as2
            - email
            - peppol
            - sdi
          title: Network
          type: string
        receiver:
          description: The legal identifier of the receiver, or the tax identifier if there is no legal identifier.
          title: Receiver
          type: string
        sender:
          description: The legal identifier of the sender, or the tax identifier if there is no legal identifier.
          title: Sender
          type: string
    DocumentSubmissionEvidenceDocument:
      properties:
        document:
          description: The URL where the document can be retrieved.
          title: Dcoument
          type: string
        expires_at:
          description: "The datetime the URL expires. Format: 'YYYY-MM-DD HH:mm:ss.'"
          title: Expires At
          type: string
        mime_type:
          description: The mime type of the document.
          enum:
            - message/rfc822
            - application/xml
            - application/json
            - application/pdf
          title: Mime type
          type: string
    DocumentSubmissionEvidenceEvidence:
      properties:
        message_id:
          description: The unique message id used in the OpenPeppol SBDH.
          title: Message ID
          type: string
        receiving_accesspoint:
          description: An identification of the OpenPeppol accesspoint that the invoice was sent to.
          title: Receiving Accesspoint
          type: string
        remote_mta_ip:
          description: The IP address of the sending SMTP server.
          title: Remote MTA IP
          type: string
        reporting_mta:
          description: An identification for the sending SMTP.
          title: Reporting MTA
          type: string
        smtp_response:
          description: The response of the receiving SMTP server.
          title: SMTP Response
          type: string
        timestamp:
          description: The timestamp of the delivery to the receiving SMTP server.
          title: Timestamp
          type: string
        transmission_id:
          description: The unique id for this OpenPeppol transmission.
          title: Transmission ID
          type: string
        xml:
          description: The XML evidence for the transmission. This is the XML returned by the receiving OpenPeppol accesspoint.
          title: XML
          type: string
    DocumentSubmissionResult:
      description: The result of a document submission
      properties:
        guid:
          description: A (V4) GUID for the document submission
          title: GUID
          type: string
      title: Document submission result
      type: object
    EIdentifiers:
      description: A list of electronic routing identifiers. These are the identifiers used on the Peppol network or for other destinations.
      items:
        $ref: "#/components/schemas/RoutingIdentifier"
      title: Electronic identifiers
      type: array
    ErrorModel:
      properties:
        details:
          type: string
        source:
          type: string
    Invoice:
      description: The invoice to send. Provide either invoice, or invoiceData, but not both.
      properties:
        accountingCost:
          description: The buyer's accounting cost centre for this invoice, expressed as text.
          minLength: 1
          title: Accounting Cost
          type: string
        accountingCurrencyTaxAmount:
          description: The total amount of tax in the accounting currency. If included, must be non-zero.
          title: Accounting Currency Tax Amount
          type: number
        accountingCurrencyTaxAmountCurrency:
          $ref: "#/components/schemas/CurrencyCode"
        accountingCustomerParty:
          $ref: "#/components/schemas/AccountingCustomerParty"
        accountingSupplierParty:
          $ref: "#/components/schemas/AccountingSupplierParty"
        allowanceCharges:
          description: An array of allowance charges.
          items:
            $ref: "#/components/schemas/AllowanceCharge"
          minItems: 0
          title: Allowance Charges
          type: array
        amountIncludingVat:
          description: amountIncludingVat is important because of rounding differences. In many invoices, the sum of the line item amounts excluding VAT and the VAT amounts is not equal to first summing the line items without VAT, and then applying VAT. The difference is automatically calculated and included in the electronic invoice, so the receiving accounting package can process the electronic invoice without problems.
          title: Amount including VAT
          type: number
        attachments:
          description: An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.
          items:
            $ref: "#/components/schemas/Attachment"
          maxItems: 10
          title: Attachments
          type: array
        billingReference:
          description: DEPRECATED. Use a reference object with a documentType 'billing'. A reference to a commercial invoice or corrective invoice of which the current invoice is a correction. This field is mandatory when sending invoiceType 384.
          title: Billing reference
          type: string
        buyerReference:
          description: DEPRECATED. Use a reference object with a documentType 'buyer_reference'. A reference provided by the buyer used for internal routing of the document.
          title: Buyer reference
          type: string
        consumerTaxMode:
          default: false
          description: Whether or not to process the invoice in consumer tax mode. In this mode, the VAT identifier of the sender will not be the default VAT identifier, but the one that matches with the country of the receiving consumer, if that additional VAT identifier for that country is available. These additional VAT identifiers need to be added to the sending LegalEntity by Storecove, so if you need to send invoices in this mode, please contact us.
          title: Consumer Tax Mode
          type: boolean
        contractDocumentReference:
          description: DEPRECATED. Use a reference object with a documentType 'contract'. A reference to a contract or framework agreement that this invoice relates to.
          title: Contract document reference
          type: string
        delivery:
          $ref: "#/components/schemas/Delivery"
        documentCurrencyCode:
          $ref: "#/components/schemas/CurrencyCode"
        dueDate:
          description: "Format: yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Due date
          type: string
        invoiceLines:
          description: An array of invoice lines.
          items:
            $ref: "#/components/schemas/InvoiceLine"
          minItems: 1
          title: Invoice lines
          type: array
        invoiceNumber:
          description: The invoice number you assigned to the invoice. The invoiceNumber should be unique for the legalEntityId and year of the issueDate. This means invoice numbers can be reused in different years, as is customary in some countries.
          minLength: 1
          title: Invoice number
          type: string
        invoicePeriod:
          description: "The period (or specific date) to which the invoice applies. Format: yyyy-mm-dd - yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Invoice period
          type: string
        invoiceType:
          default: "380"
          description: DEPRECATED. Do not use. This field is available for legacy reasons only. If you want to send a regular invoice (aka UBL type '380'), make sure you have a positive invoice amount. For a credit note (aka UBL type '381'), simply provide a negative invoice amount. If you, in addition to a negative invoice amount, also specify a billingReferences, your invoice will become a corrective invoice (aka UBL type '384'). If your invoice is not sent in the UBL syntax, Storecove will provide the appropriate type for the syntax the invoice is sent in.
          enum:
            - "380"
            - "381"
            - "384"
          title: Type of invoice
          type: string
        issueDate:
          description: "Format: yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Invoice issue date
          type: string
        issueReasons:
          description: An array reasons for issuing the invoice.
          items:
            type: string
          title: Issue Reasons
          type: array
        note:
          description: A note to add to the invoice
          title: Note
          type: string
        orderReference:
          description: DEPRECATED. Use a reference object with a documentType 'purchase_order'. A reference to an order for this invoice, assigned by the buyer. Note that this often is a key field, since many receivers of invoices will use this field to automatically match the invoice to an order they placed. Many receivers refuse invoices that cannot be automatically matched, in particular government agencies. So it is highly recommended to fill this field whenever possible.
          title: Order reference
          type: string
        paymentMeansArray:
          description: An array of payment means (ways to pay the invoice).
          items:
            $ref: "#/components/schemas/PaymentMeans"
          title: Payment Means Array
          type: array
        paymentMeansBic:
          description: DEPRECATED. Use paymentMeansArray. The BIC (Swift) of the bank where the amount payable should be transferred to
          pattern: ^[A-Z]{6}[2-9A-Z][0-9A-NP-Z]([A-Z0-9]{3}|X{3})?$
          title: BIC
          type: string
        paymentMeansCode:
          description: DEPRECATED. Use paymentMeansArray. How the invoice has been / will be paid. Use only online_payment_service (payment will be made or has been made by an online payment service), bank_card (e.g. debit card, credit card), direct_debit (the amount has been / will be taken out of the client's bank account), standing_agreement (an unspecified payment means known to both buyer and seller) or credit_transfer (the buyer will do / has done a bank transfer). The numeric codes are for legacy purposes, they should not be used.
          enum:
            - online_payment_service
            - bank_card
            - direct_debit
            - standing_agreement
            - credit_transfer
            - se_bankgiro
            - se_plusgiro
            - aunz_npp
            - ""
            - "1"
            - "30"
            - "31"
            - "42"
            - "48"
            - "49"
            - "57"
            - "58"
          title: Payment Means Code
          type: string
        paymentMeansIban:
          description: DEPRECATED. Use paymentMeansArray. The IBAN the amount payable should be transferred to
          title: IBAN
          type: string
        paymentMeansPaymentId:
          description: DEPRECATED. Use the paymentId in the individual PaymentMeans object. The payment id that you will use to match the payment against the invoice.
          title: Payment Id
          type: string
        paymentTerms:
          $ref: "#/components/schemas/PaymentTerms"
        preferredInvoiceType:
          default: prefer_autodetect
          description: In auto mode, the choice between invoice or creditnote is made by Storecove based on what is appropriate for the receiver and the receiver country, in combination with the invoice amount sign. If you wish to state a preference, use this field. It is not guaranteed that the preference will be used, since it depends also on the receiver's document capabilities.
          enum:
            - prefer_autodetect
            - prefer_invoice
            - prefer_creditnote
          title: Invoice Type
          type: string
        prepaidAmount:
          description: The amount already paid.
          title: Prepaid Amount
          type: number
        projectReference:
          description: DEPRECATED. Information about the project this invoice relates to.
          title: Project Reference
          type: string
        references:
          description: An array of references to other documents. Note that many syntaxes do not support multiple references of the same type in which case they will be concatenated with ','. Also, not all syntaxes support all documentTypes.
          items:
            $ref: "#/components/schemas/Reference"
          minItems: 0
          title: References
          type: array
        salesOrderId:
          description: DEPRECATED. Use a reference object with a documentType 'sales_order'. A reference to an order for this invoice, assigned by the seller.
          title: Sales Order Id
          type: string
        selfBillingMode:
          default: false
          description: In self billing mode, the AccountingCustomerParty and the AccountingSupplierParty are be switched. Such an invoice can only be sent via email. Also, your account will need to allow the use of this mode, so before trying to use this please first contact Storecove.
          title: Self Billing Mode
          type: boolean
        taxExemptReason:
          description: DEPRECATED. Use Tax/category and specify this per invoice line. If you do specify this field, it will be applied to all invoice lines and it is an error to specify a Tax/category at the invoice line level. This field holds the reason no tax is present in the invoice. Note that this is an invoice level field and you cannot specify it per invoice line. This field is mandatory unless tax is present in the invoice.
          enum:
            - export
            - reverse_charge
            - zero_rated
            - exempt
            - outside_scope
            - intra_community
          type: string
        taxPointDate:
          description: "The tax date is the date on which the supply of goods or of services was made or completed or the date on which the payment on account was made insofar as that date can be determined and differs from the date of the issue of the invoice. EU 2006-112 Article 226 Point 7. Note: For the Dutch TAX authorities the tac date should be the same as the issue date."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Tax date
          type: string
        taxSubtotals:
          description: An array of tax subtotals. This element is mandatory for taxSystem 'tax_line_percentages'.
          items:
            $ref: "#/components/schemas/TaxSubtotal"
          minItems: 0
          title: Tax Subtotals
          type: array
        taxSystem:
          default: tax_line_amounts
          description: The tax system used for the invoice. The system 'tax_line_percentages' is preferred, but for historic purposes 'tax_line_amounts' is supported and the default. Since not all invoice formats that we are required to send support 'tax_line_amounts' we will need to convert the invoice to the 'tax_line_percentags' system if we are forced to send the invoice in that tax system. Note that an invoice must always contain tax information, even if that is 0% or an item or sender is exempt or tax is completely outside scope. In that case, use the correct tax categories (see <<_openapi_tax>>)
          enum:
            - tax_line_amounts
            - tax_line_percentages
          title: Tax System
          type: string
        taxesDutiesFees:
          description: An array of taxes, duties and fees for this invoice. At this moment, the only invoice level tax allowed is the Italian '€2 bollo virtuale'
          items:
            $ref: "#/components/schemas/Tax"
          maxItems: 1
          minItems: 0
          title: Taxes, Duties and Fees
          type: array
        transactionType:
          description: The type of transaction. Currently used only for India.
          enum:
            - b2b
            - sezwp
            - sezwop
            - expwp
            - expwop
            - dexp
          title: Transaction Type
          type: string
        ublExtensions:
          description: An array of ubl extensions.
          items:
            type: string
          title: UBL Extensions
          type: array
        vatReverseCharge:
          default: false
          description: DEPRECATED. Use taxExemptReason.
          type: boolean
        x2y:
          default: b2b
          description: "The type of entities the document is sent from/to: b2b (business-to-business), b2g (business-to-government) or b2c (business-to-consumer). This field does not have a default, but it in mose cases it will be treated as b2b. Only when you explicitly specify b2g or b2c OR when it is clear from the context will a different value be used. For instance, when we see the document is being routed to DE:LWID or NL:OINO number, this tells us it is b2g. But in many cases we are unable to determine this and so it is best to always specify this field. Note that b2b_sez is for use inside India only."
          enum:
            - b2b
            - b2g
            - b2c
            - b2b_sez
          title: x2y
          type: string
      required:
        - invoiceNumber
        - issueDate
        - accountingCustomerParty
        - invoiceLines
        - amountIncludingVat
      title: Invoice
      type: object
    InvoiceData:
      description: The invoice to send, in base64 encoded format. Provide either invoice, or invoiceData, but not both.
      properties:
        conversionStrategy:
          description: How to interpret the document.
          enum:
            - ubl
            - cii
            - idoc
          title: Conversion Strategy
          type: string
        document:
          description: The base64 encoded version of the document.
          minLength: 5
          title: Document
          type: string
      title: Invoice Data
      type: object
    InvoiceLine:
      properties:
        accountingCost:
          description: The buyer's accounting cost centre for this invoice line, expressed as text.
          minLength: 1
          title: Accounting Cost
          type: string
        additionalItemProperties:
          description: An array of additional item properties.
          items:
            $ref: "#/components/schemas/AdditionalItemProperty"
          minItems: 0
          title: Additional Item Properties
          type: array
        allowanceCharge:
          description: The discount or surcharge on this item. Should be negative for discounts
          title: allowanceCharge
          type: number
        allowanceCharges:
          description: "An array of allowance charges. NOTE: this is currently supported only when sending from/to Italy."
          items:
            $ref: "#/components/schemas/LineAllowanceCharge"
          minItems: 0
          title: Allowance Charges
          type: array
        amountExcludingVat:
          description: The amount excluding VAT. Should equal quantity x itemPrice + allowanceCharge.
          title: amountExcludingVat
          type: number
        buyersItemIdentification:
          description: DEPRECATED. Use the references array with 'line_buyers_item_identification' documentType. The ID the buyer assigned to this item.
          minLength: 1
          title: Buyers Item Identification
          type: string
        description:
          description: The description for this invoice line.
          minLength: 1
          title: Description
          type: string
        invoicePeriod:
          description: "The period (or specific date) to which the invoice line applies. Format: yyyy-mm-dd - yyyy-mm-dd."
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$
          title: Invoice period
          type: string
        itemPrice:
          default: 1
          description: The price per item (may be fractional)
          title: Item price
          type: number
        lineId:
          description: The id for this invoice line.
          minLength: 1
          title: Invoice Line ID
          type: string
        name:
          description: A short name for this invoice line. If not provided, it will be taken from description and description will be set to an emtpy string.
          minLength: 1
          title: Name
          type: string
        note:
          description: A note to add to the document line
          title: Note
          type: string
        orderLineReferenceLineId:
          description: A reference to the LineID of the order. The order itself is specified as the orderReference at the invoice level. It is not possible to specify an orderReference at the invoice line level. An invoice MUST at this time be for a single order only.
          minLength: 1
          title: orderLineReferenceLineId
          type: string
        quantity:
          default: 1
          description: The number of items (may be fractional).
          title: Quantity
          type: number
        quantityUnitCode:
          default: C62
[...]
