openapi: 3.0.1
servers:
  - url: https://frontline-api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Frontline
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_frontline_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_frontline_v1
paths:
  "/v1/Users/{Sid}":
    description: A User resource represents a frontline user.
    get:
      description: Fetch a frontline user
      operationId: FetchUser
      parameters:
        - description: The SID of the User resource to fetch. This value can be either the `sid` or the `identity` of the User resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/frontline.v1.user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update an existing frontline user
      operationId: UpdateUser
      parameters:
        - description: The SID of the User resource to update. This value can be either the `sid` or the `identity` of the User resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Avatar:
                  description: The avatar URL which will be shown in Frontline application.
                  type: string
                FriendlyName:
                  description: The string that you assigned to describe the User.
                  type: string
                IsAvailable:
                  description: Whether the User is available for new conversations. Set to `false` to prevent User from receiving new inbound conversations if you are using [Pool Routing](https://www.twilio.com/docs/frontline/handle-incoming-conversations#3-pool-routing).
                  type: boolean
                State:
                  $ref: "#/components/schemas/user_enum_state_type"
                  description: Current state of this user. Can be either `active` or `deactivated`.
                  type: string
              title: UpdateUserRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/frontline.v1.user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://frontline-api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
      pathType: instance
components:
  schemas:
    frontline.v1.user:
      properties:
        avatar:
          description: The avatar URL which will be shown in Frontline application.
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the User.
          nullable: true
          type: string
        identity:
          description: The application-defined string that uniquely identifies the resource's User. This value is often a username or an email address, and is case-sensitive.
          nullable: true
          type: string
        is_available:
          description: Whether the User is available for new conversations. Defaults to `false` for new users.
          nullable: true
          type: boolean
        sid:
          description: The unique string that we created to identify the User resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^US[0-9a-fA-F]{32}$
          type: string
        state:
          $ref: "#/components/schemas/user_enum_state_type"
          description: Current state of this user. Can be either `active` or `deactivated` and defaults to `active`
          nullable: true
          type: string
        url:
          description: An absolute API resource URL for this user.
          format: uri
          nullable: true
          type: string
      type: object
    user_enum_state_type:
      enum:
        - active
        - deactivated
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
