openapi: 3.0.1
servers:
  - url: https://autopilot.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Autopilot
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_autopilot_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_autopilot_v1
paths:
  /v1/Assistants:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListAssistant
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  assistants:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAssistantResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateAssistant
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackEvents:
                  description: Reserved.
                  type: string
                CallbackUrl:
                  description: Reserved.
                  format: uri
                  type: string
                Defaults:
                  description: A JSON object that defines the Assistant's [default tasks](https://www.twilio.com/docs/autopilot/api/assistant/defaults) for various scenarios, including initiation actions and fallback tasks.
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It is not unique and can be up to 255 characters long.
                  type: string
                LogQueries:
                  description: "Whether queries should be logged and kept after training. Can be: `true` or `false` and defaults to `true`. If `true`, queries are stored for 30 days, and then deleted. If `false`, no queries are stored."
                  type: boolean
                StyleSheet:
                  description: The JSON string that defines the Assistant's [style sheet](https://www.twilio.com/docs/autopilot/api/assistant/stylesheet)
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              title: CreateAssistantRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: list
  /v1/Assistants/Restore:
    description: "TODO: Resource-level docs"
    post:
      description: ""
      operationId: UpdateRestoreAssistant
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Assistant:
                  description: The Twilio-provided string that uniquely identifies the Assistant resource to restore.
                  type: string
              required:
                - Assistant
              title: UpdateRestoreAssistantRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.restore_assistant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - account_sid
        - sid
        - unique_name
        - friendly_name
      mountName: restore_assistant
      pathType: list
  "/v1/Assistants/{AssistantSid}/Defaults":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchDefaults
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.defaults"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateDefaults
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Defaults:
                  description: A JSON string that describes the default task links for the `assistant_initiation`, `collect`, and `fallback` situations.
              title: UpdateDefaultsRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.defaults"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      className: defaults
      defaultOutputProperties:
        - data
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Dialogues":
    description: "TODO: Resource-level docs"
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - data
      parent: /Assistants/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/Dialogues/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchDialogue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Dialogue resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.dialogue"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - data
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/FieldTypes":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  field_types:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFieldTypeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              required:
                - UniqueName
              title: CreateFieldTypeRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      parent: /Assistants/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value to read.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
        - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) tag that specifies the language of the value. Currently supported tags: `en-US`"
          in: query
          name: Language
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  field_values:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.field_type.field_value"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFieldValueResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) tag that specifies the language of the value. Currently supported tags: `en-US`"
                  type: string
                SynonymOf:
                  description: The string value that indicates which word the field value is a synonym of.
                  type: string
                Value:
                  description: The Field Value data.
                  type: string
              required:
                - Language
                - Value
              title: CreateFieldValueRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type.field_value"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - value
        - language
      parent: /Assistants/{AssistantSid}/FieldTypes/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/FieldTypes/{FieldTypeSid}/FieldValues/{Sid}":
    delete:
      description: ""
      operationId: DeleteFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value to delete.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldValue resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchFieldValue
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the Field Type associated with the Field Value to fetch.
          in: path
          name: FieldTypeSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldValue resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type.field_value"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - value
        - language
      parent: /Assistants/{AssistantSid}/FieldTypes/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/FieldTypes/{Sid}":
    delete:
      description: ""
      operationId: DeleteFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldType resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldType resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateFieldType
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the FieldType resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              title: UpdateFieldTypeRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.field_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/ModelBuilds":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  model_builds:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
                    type: array
                title: ListModelBuildResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                StatusCallback:
                  description: The URL we should call using a POST method to send status information to your application.
                  format: uri
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. This value must be a unique string of no more than 64 characters. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: CreateModelBuildRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - status
        - date_created
      parent: /Assistants/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/ModelBuilds/{Sid}":
    delete:
      description: ""
      operationId: DeleteModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the ModelBuild resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the ModelBuild resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateModelBuild
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the ModelBuild resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be a unique string of no more than 64 characters. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: UpdateModelBuildRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.model_build"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - status
        - date_created
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Queries":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used by the Query resources to read. For example: `en-US`."
          in: query
          name: Language
          schema:
            type: string
        - description: The SID or unique name of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build) to be queried.
          in: query
          name: ModelBuild
          schema:
            type: string
        - description: "The status of the resources to read. Can be: `pending-review`, `reviewed`, or `discarded`"
          in: query
          name: Status
          schema:
            type: string
        - description: The SID of the [Dialogue](https://www.twilio.com/docs/autopilot/api/dialogue).
          in: query
          name: DialogueSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  queries:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.query"
                    type: array
                title: ListQueryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the new query. For example: `en-US`."
                  type: string
                ModelBuild:
                  description: The SID or unique name of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build) to be queried.
                  type: string
                Query:
                  description: The end-user's natural language input. It can be up to 2048 characters long.
                  type: string
                Tasks:
                  description: The list of tasks to limit the new query to. Tasks are expressed as a comma-separated list of task `unique_name` values. For example, `task-unique_name-1, task-unique_name-2`. Listing specific tasks is useful to constrain the paths that a user can take.
                  type: string
              required:
                - Language
                - Query
              title: CreateQueryRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.query"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - query
        - status
        - language
      parent: /Assistants/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/Queries/{Sid}":
    delete:
      description: ""
      operationId: DeleteQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Query resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Query resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.query"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateQuery
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Query resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                SampleSid:
                  description: The SID of an optional reference to the [Sample](https://www.twilio.com/docs/autopilot/api/task-sample) created from the query.
                  maxLength: 34
                  minLength: 34
                  pattern: ^UF[0-9a-fA-F]{32}$
                  type: string
                Status:
                  description: "The new status of the resource. Can be: `pending-review`, `reviewed`, or `discarded`"
                  type: string
              title: UpdateQueryRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.query"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - query
        - status
        - language
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/StyleSheet":
    description: "TODO: Resource-level docs"
    get:
      description: Returns Style sheet JSON object for the Assistant
      operationId: FetchStyleSheet
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.style_sheet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Updates the style sheet for an Assistant identified by `assistant_sid`.
      operationId: UpdateStyleSheet
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                StyleSheet:
                  description: The JSON string that describes the style sheet object.
              title: UpdateStyleSheetRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.style_sheet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - data
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Tasks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  tasks:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.task"
                    type: array
                title: ListTaskResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Actions:
                  description: The JSON string that specifies the [actions](https://www.twilio.com/docs/autopilot/actions) that instruct the Assistant on how to perform the task. It is optional and not unique.
                ActionsUrl:
                  description: The URL from which the Assistant can fetch actions.
                  format: uri
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the new resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. This value must be unique and 64 characters or less in length.
                  type: string
              required:
                - UniqueName
              title: CreateTaskRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      parent: /Assistants/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/Tasks/{Sid}":
    delete:
      description: ""
      operationId: DeleteTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Task resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Task resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateTask
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Task resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Actions:
                  description: The JSON string that specifies the [actions](https://www.twilio.com/docs/autopilot/actions) that instruct the Assistant on how to perform the task.
                ActionsUrl:
                  description: The URL from which the Assistant can fetch actions.
                  format: uri
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be 64 characters or less in length and be unique. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              title: UpdateTaskRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Actions":
    description: "TODO: Resource-level docs"
    get:
      description: Returns JSON actions for the Task.
      operationId: FetchTaskActions
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task for which the task actions to fetch were defined.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) for which the task actions to fetch were defined.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.task_actions"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Updates the actions of an Task identified by {TaskSid} or {TaskUniqueName}.
      operationId: UpdateTaskActions
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task for which the task actions to update were defined.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) for which the task actions to update were defined.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Actions:
                  description: The JSON string that specifies the [actions](https://www.twilio.com/docs/autopilot/actions) that instruct the Assistant on how to perform the task.
              title: UpdateTaskActionsRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.task_actions"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      className: task_actions
      defaultOutputProperties:
        - data
      mountName: task_actions
      parent: /Assistants/{AssistantSid}/Tasks/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the Field resources to read.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  fields:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.task.field"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFieldResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the new Field resource.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FieldType:
                  description: "The Field Type of the new field. Can be: a [Built-in Field Type](https://www.twilio.com/docs/autopilot/built-in-field-types), the `unique_name`, or the `sid` of a custom Field Type."
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. This value must be a unique string of no more than 64 characters. It can be used as an alternative to the `sid` in the URL path to address the resource.
                  type: string
              required:
                - FieldType
                - UniqueName
              title: CreateFieldRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.field"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - field_type
      parent: /Assistants/{AssistantSid}/Tasks/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Fields/{Sid}":
    delete:
      description: ""
      operationId: DeleteField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the Field resource to delete.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Field resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchField
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) resource associated with the Field resource to fetch.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Field resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.field"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - field_type
      parent: /Assistants/{AssistantSid}/Tasks/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resources to read.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the sample. For example: `en-US`."
          in: query
          name: Language
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  samples:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
                    type: array
                title: ListSampleResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to create.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the new sample. For example: `en-US`."
                  type: string
                SourceChannel:
                  description: "The communication channel from which the new sample was captured. Can be: `voice`, `sms`, `chat`, `alexa`, `google-assistant`, `slack`, or null if not included."
                  type: string
                TaggedText:
                  description: The text example of how end users might express the task. The sample can contain [Field tag blocks](https://www.twilio.com/docs/autopilot/api/task-sample#field-tagging).
                  type: string
              required:
                - Language
                - TaggedText
              title: CreateSampleRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - tagged_text
        - language
        - source_channel
      parent: /Assistants/{AssistantSid}/Tasks/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Samples/{Sid}":
    delete:
      description: ""
      operationId: DeleteSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to delete.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Sample resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UF[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to create.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Sample resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UF[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateSample
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the Task associated with the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) associated with the Sample resource to update.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Sample resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^UF[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Language:
                  description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used for the sample. For example: `en-US`."
                  type: string
                SourceChannel:
                  description: "The communication channel from which the sample was captured. Can be: `voice`, `sms`, `chat`, `alexa`, `google-assistant`, `slack`, or null if not included."
                  type: string
                TaggedText:
                  description: The text example of how end users might express the task. The sample can contain [Field tag blocks](https://www.twilio.com/docs/autopilot/api/task-sample#field-tagging).
                  type: string
              title: UpdateSampleRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.sample"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - tagged_text
        - language
        - source_channel
      parent: /Assistants/{AssistantSid}/Tasks/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Tasks/{TaskSid}/Statistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTaskStatistics
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The SID of the [Task](https://www.twilio.com/docs/autopilot/api/task) that is associated with the resource to fetch.
          in: path
          name: TaskSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.task.task_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      className: task_statistics
      defaultOutputProperties:
        - samples_count
        - fields_count
      parent: /Assistants/{AssistantSid}/Tasks/{Sid}
      pathType: instance
  "/v1/Assistants/{AssistantSid}/Webhooks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to read.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  webhooks:
                    items:
                      $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
                    type: array
                title: ListWebhookResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the new resource.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Events:
                  description: The list of space-separated events that this Webhook will subscribe to.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. This value must be unique and 64 characters or less in length.
                  type: string
                WebhookMethod:
                  description: The method to be used when calling the webhook's URL.
                  type: string
                WebhookUrl:
                  description: The URL associated with this Webhook.
                  format: uri
                  type: string
              required:
                - UniqueName
                - Events
                - WebhookUrl
              title: CreateWebhookRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - events
        - wehbook_url
        - webhook_method
      parent: /Assistants/{Sid}
      pathType: list
  "/v1/Assistants/{AssistantSid}/Webhooks/{Sid}":
    delete:
      description: ""
      operationId: DeleteWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resources to delete.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Webhook resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to fetch.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Webhook resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateWebhook
      parameters:
        - description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource to update.
          in: path
          name: AssistantSid
          required: true
          schema:
            type: string
        - description: The Twilio-provided string that uniquely identifies the Webhook resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Events:
                  description: The list of space-separated events that this Webhook will subscribe to.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the new resource. It can be used as an alternative to the `sid` in the URL path to address the resource. This value must be unique and 64 characters or less in length.
                  type: string
                WebhookMethod:
                  description: The method to be used when calling the webhook's URL.
                  type: string
                WebhookUrl:
                  description: The URL associated with this Webhook.
                  format: uri
                  type: string
              title: UpdateWebhookRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant.webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - events
        - wehbook_url
        - webhook_method
      parent: /Assistants/{Sid}
      pathType: instance
  "/v1/Assistants/{Sid}":
    delete:
      description: ""
      operationId: DeleteAssistant
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Assistant resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchAssistant
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Assistant resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateAssistant
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Assistant resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackEvents:
                  description: Reserved.
                  type: string
                CallbackUrl:
                  description: Reserved.
                  format: uri
                  type: string
                Defaults:
                  description: A JSON object that defines the Assistant's [default tasks](https://www.twilio.com/docs/autopilot/api/assistant/defaults) for various scenarios, including initiation actions and fallback tasks.
                DevelopmentStage:
                  description: A string describing the state of the assistant.
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
                  type: string
                LogQueries:
                  description: "Whether queries should be logged and kept after training. Can be: `true` or `false` and defaults to `true`. If `true`, queries are stored for 30 days, and then deleted. If `false`, no queries are stored."
                  type: boolean
                StyleSheet:
                  description: The JSON string that defines the Assistant's [style sheet](https://www.twilio.com/docs/autopilot/api/assistant/stylesheet)
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource. The first 64 characters must be unique.
                  type: string
              title: UpdateAssistantRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/autopilot.v1.assistant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://autopilot.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      pathType: instance
components:
  schemas:
    autopilot.v1.assistant:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Assistant resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        callback_events:
          description: Reserved.
          nullable: true
          type: string
        callback_url:
          description: Reserved.
          format: uri
          nullable: true
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        development_stage:
          description: A string describing the state of the assistant.
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource. It is not unique and can be up to 255 characters long.
          nullable: true
          type: string
        latest_model_build_sid:
          description: Reserved.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        links:
          description: A list of the URLs of the Assistant's related resources.
          format: uri-map
          nullable: true
          type: object
        log_queries:
          description: "Whether queries should be logged and kept after training. Can be: `true` or `false` and defaults to `true`. If `true`, queries are stored for 30 days, and then deleted. If `false`, no queries are stored."
          nullable: true
          type: boolean
        needs_model_build:
          description: Whether model needs to be rebuilt.
          nullable: true
          type: boolean
        sid:
          description: The unique string that we created to identify the Assistant resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource. It can be up to 64 characters long.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Assistant resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.defaults:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Defaults resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          description: The JSON string that describes the default task links for the `assistant_initiation`, `collect`, and `fallback` situations.
          nullable: true
        url:
          description: The absolute URL of the Defaults resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.dialogue:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Dialogue resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          description: The JSON string that describes the dialogue session object.
          nullable: true
        sid:
          description: The unique string that we created to identify the Dialogue resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UK[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the Dialogue resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.field_type:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the FieldType resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource. It is not unique and can be up to 255 characters long.
          nullable: true
          type: string
        links:
          description: A list of the URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        sid:
          description: The unique string that we created to identify the FieldType resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UB[0-9a-fA-F]{32}$
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
          nullable: true
          type: string
        url:
          description: The absolute URL of the FieldType resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.field_type.field_value:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the FieldValue resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the FieldType associated with the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        field_type_sid:
          description: The SID of the Field Type associated with the Field Value.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UB[0-9a-fA-F]{32}$
          type: string
        language:
          description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) tag that specifies the language of the value. Currently supported tags: `en-US`"
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the FieldValue resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UC[0-9a-fA-F]{32}$
          type: string
        synonym_of:
          description: The word for which the field value is a synonym of.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UC[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the FieldValue resource.
          format: uri
          nullable: true
          type: string
        value:
          description: The Field Value data.
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.model_build:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the ModelBuild resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        build_duration:
          description: The time in seconds it took to build the model.
          nullable: true
          type: integer
        date_created:
          description: The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        error_code:
          description: If the `status` for the model build is `failed`, this value is a code to more information about the failure. This value will be null for all other statuses. See [error code dictionary](https://www.twilio.com/docs/api/errors) for a description of the error.
          nullable: true
          type: integer
        sid:
          description: The unique string that we created to identify the ModelBuild resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/model_build_enum_status"
          description: "The status of the model build process. Can be: `enqueued`, `building`, `completed`, or `failed`"
          nullable: true
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the resource. It can be used as an alternative to the `sid` in the URL path to address the resource.
          nullable: true
          type: string
        url:
          description: The absolute URL of the ModelBuild resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.query:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Query resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
          format: date-time
          nullable: true
          type: string
        dialogue_sid:
          description: The SID of the [Dialogue](https://www.twilio.com/docs/autopilot/api/dialogue).
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UK[0-9a-fA-F]{32}$
          type: string
        language:
          description: "The [ISO language-country](https://docs.oracle.com/cd/E13214_01/wli/docs92/xref/xqisocodes.html) string that specifies the language used by the Query. For example: `en-US`."
          nullable: true
          type: string
        model_build_sid:
          description: The SID of the [Model Build](https://www.twilio.com/docs/autopilot/api/model-build) queried.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UG[0-9a-fA-F]{32}$
          type: string
        query:
          description: The end-user's natural language input.
          nullable: true
          type: string
        results:
          description: The natural language analysis results that include the [Task](https://www.twilio.com/docs/autopilot/api/task) recognized and a list of identified [Fields](https://www.twilio.com/docs/autopilot/api/task-field).
          nullable: true
        sample_sid:
          description: The SID of an optional reference to the [Sample](https://www.twilio.com/docs/autopilot/api/task-sample) created from the query.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UF[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that we created to identify the Query resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UH[0-9a-fA-F]{32}$
          type: string
        source_channel:
          description: The communication channel from where the end-user input came.
          nullable: true
          type: string
        status:
          description: "The status of the Query. Can be: `pending-review`, `reviewed`, or `discarded`"
          nullable: true
          type: string
        url:
          description: The absolute URL of the Query resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.style_sheet:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the StyleSheet resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        assistant_sid:
          description: The SID of the [Assistant](https://www.twilio.com/docs/autopilot/api/assistant) that is the parent of the resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^UA[0-9a-fA-F]{32}$
          type: string
        data:
          description: The JSON string that describes the style sheet object.
          nullable: true
        url:
          description: The absolute URL of the StyleSheet resource.
          format: uri
          nullable: true
          type: string
      type: object
    autopilot.v1.assistant.task:
      properties:
        account_sid:
[...]
