{
  "swagger": "2.0",
  "info": {
    "title": "Google Cloud Deployment Manager API V2",
    "x-serviceName": "deploymentmanager",
    "description": "The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v2beta1",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/deploymentmanager/v2beta1/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/deploymentmanager/v2beta1/projects",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/global/deployments/{deployment}": {
      "delete": {
        "description": "! Deletes a deployment and all of the resources in the deployment.",
        "operationId": "deploymentmanager.deployments.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "description": "! The name of the deployment for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman"
            ]
          }
        ],
        "tags": [
          "deployments"
        ]
      },
      "get": {
        "description": "! Gets information about a specific deployment.",
        "operationId": "deploymentmanager.deployments.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          }
        },
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "description": "! The name of the deployment for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "deployments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/deployments": {
      "post": {
        "description": "! Creates a deployment and all of the resources described by the ! deployment manifest.",
        "operationId": "deploymentmanager.deployments.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman"
            ]
          }
        ],
        "tags": [
          "deployments"
        ]
      },
      "get": {
        "description": "! Lists all deployments for a given project.",
        "operationId": "deploymentmanager.deployments.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DeploymentsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
            "default": "50",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "deployments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/deployments/{deployment}/manifests/{manifest}": {
      "get": {
        "description": "! Gets information about a specific manifest.",
        "operationId": "deploymentmanager.manifests.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Manifest"
            }
          }
        },
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "description": "! The name of the deployment for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "manifest",
            "in": "path",
            "description": "! The name of the manifest for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "manifests"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/deployments/{deployment}/manifests": {
      "get": {
        "description": "! Lists all manifests for a given deployment.",
        "operationId": "deploymentmanager.manifests.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ManifestsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "description": "! The name of the deployment for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
            "default": "50",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "manifests"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/operations/{operation}": {
      "get": {
        "description": "! Gets information about a specific Operation.",
        "operationId": "deploymentmanager.operations.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "description": "! The name of the operation for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "operations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/operations": {
      "get": {
        "description": "! Lists all Operations for a project.",
        "operationId": "deploymentmanager.operations.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/OperationsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
            "default": "50",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "operations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/deployments/{deployment}/resources/{resource}": {
      "get": {
        "description": "! Gets information about a single resource.",
        "operationId": "deploymentmanager.resources.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        },
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "description": "! The name of the deployment for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "path",
            "description": "! The name of the resource for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "resources"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/deployments/{deployment}/resources": {
      "get": {
        "description": "! Lists all resources in a given deployment.",
        "operationId": "deploymentmanager.resources.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ResourcesListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "description": "! The name of the deployment for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
            "default": "50",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "resources"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/types": {
      "get": {
        "description": "! Lists all Types for Deployment Manager.",
        "operationId": "deploymentmanager.types.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TypesListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
            "default": "50",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "! The project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/ndev.cloudman",
              "https://www.googleapis.com/auth/ndev.cloudman.readonly"
            ]
          }
        ],
        "tags": [
          "types"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Deployment": {
      "type": "object",
      "description": "Next available tag: 8",
      "properties": {
        "description": {
          "type": "string",
          "description": "! An optional user-provided description of the deployment."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "format": "uint64"
        },
        "manifest": {
          "type": "string",
          "description": "! [Output Only] URL of the manifest representing the full configuration ! of this deployment."
        },
        "name": {
          "type": "string",
          "description": "! The name of the deployment, which must be unique within the project."
        },
        "targetConfig": {
          "type": "string",
          "description": "! [Input Only] The YAML configuration to use in processing this deployment. ! ! When you create a deployment, the server creates a new manifest with the ! given YAML configuration and sets the `manifest` property to the URL of ! the manifest resource."
        }
      }
    },
    "DeploymentsListResponse": {
      "type": "object",
      "description": "! A response containing a partial list of deployments and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
      "properties": {
        "deployments": {
          "type": "array",
          "description": "! The deployments contained in this response.",
          "items": {
            "$ref": "#/definitions/Deployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "! A token used to continue a truncated list request."
        }
      }
    },
    "Manifest": {
      "type": "object",
      "description": "Next available tag: 10",
      "properties": {
        "config": {
          "type": "string",
          "description": "v2beta1: YAML with config - described above v2beta2: YAML + templates. ! The YAML configuration for this manifest."
        },
        "evaluatedConfig": {
          "type": "string",
          "description": "! [Output Only] The fully-expanded configuration file, including any ! templates and references."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "format": "uint64"
        },
        "name": {
          "type": "string",
          "description": "! [Output Only] The name of the manifest."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Self link for the manifest."
        }
      }
    },
    "ManifestsListResponse": {
      "type": "object",
      "description": "! A response containing a partial list of manifests and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
      "properties": {
        "manifests": {
          "type": "array",
          "description": "! Manifests contained in this list response.",
          "items": {
            "$ref": "#/definitions/Manifest"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "! A token used to continue a truncated list request."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "! An operation resource, used to manage asynchronous API requests. Next available tag: 24",
      "properties": {
        "creationTimestamp": {
          "type": "string",
          "description": "! [Output Only] Creation timestamp in RFC3339 text format."
        },
        "endTime": {
          "type": "string",
          "description": "! [Output Only] The time that this operation was completed. This is in ! RFC3339 format."
        },
        "error": {
          "type": "object",
          "description": "! [Output Only] If errors occurred during processing of this operation, ! this field will be populated.",
          "properties": {
            "errors": {
              "type": "array",
              "description": "! The array of errors encountered while processing this operation.",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "! The error type identifier for this error."
                  },
                  "location": {
                    "type": "string",
                    "description": "! Indicates the field in the request which caused the error. ! This property is optional."
                  },
                  "message": {
                    "type": "string",
                    "description": "! An optional, human-readable error message."
                  }
                }
              }
            }
          }
        },
        "httpErrorMessage": {
          "type": "string",
          "description": "! [Output Only] If operation fails, the HTTP error message returned, ! e.g. NOT FOUND."
        },
        "httpErrorStatusCode": {
          "type": "integer",
          "description": "! [Output Only] If operation fails, the HTTP error status code returned, ! e.g. 404.",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "! [Output Only] Unique identifier for the resource; defined by the server.",
          "format": "uint64"
        },
        "insertTime": {
          "type": "string",
          "description": "! [Output Only] The time that this operation was requested. ! This is in RFC 3339 format."
        },
        "name": {
          "type": "string",
          "description": "! [Output Only] Name of the operation."
        },
        "operationType": {
          "type": "string",
          "description": "! [Output Only] Type of the operation. Examples include \"insert\", or ! \"delete\""
        },
        "progress": {
          "type": "integer",
          "description": "! [Output Only] An optional progress indicator that ranges from 0 to 100. ! There is no requirement that this be linear or support any granularity ! of operations. This should not be used to guess at when the operation will ! be complete. This number should be monotonically increasing as the ! operation progresses.",
          "format": "int32"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Self link for the manifest."
        },
        "startTime": {
          "type": "string",
          "description": "! [Output Only] The time that this operation was started by the server. ! This is in RFC 3339 format."
        },
        "status": {
          "type": "string",
          "description": "! [Output Only] Status of the operation. Can be one of the following: ! \"PENDING\", \"RUNNING\", or \"DONE\"."
        },
        "statusMessage": {
          "type": "string",
          "description": "! [Output Only] An optional textual description of the current status of ! the operation."
        },
        "targetId": {
          "type": "string",
          "description": "! [Output Only] Unique target id which identifies a particular ! incarnation of the target.",
          "format": "uint64"
        },
        "targetLink": {
          "type": "string",
          "description": "! [Output Only] URL of the resource the operation is mutating."
        },
        "user": {
          "type": "string",
          "description": "! [Output Only] User who requested the operation, for example ! \"user@example.com\""
        },
        "warnings": {
          "type": "array",
          "description": "! [Output Only] If warning messages generated during processing of this ! operation, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "! The warning type identifier for this warning."
              },
              "data": {
                "type": "array",
                "description": "! Metadata for this warning in 'key: value' format.",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "! A key for the warning data."
                    },
                    "value": {
                      "type": "string",
                      "description": "! A warning data value corresponding to the key."
                    }
                  }
                }
              },
              "message": {
                "type": "string",
                "description": "! Optional human-readable details for this warning."
              }
            }
          }
        }
      }
    },
    "OperationsListResponse": {
      "type": "object",
      "description": "! A response containing a partial list of operations and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "! A token used to continue a truncated list request."
        },
        "operations": {
          "type": "array",
          "description": "! Operations contained in this list response.",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "Next available tag: 12",
      "properties": {
        "errors": {
          "type": "array",
          "description": "! [Output Only] A list of any errors that occurred during deployment.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "format": "uint64"
        },
        "intent": {
          "type": "string",
          "description": "! [Output Only] The intended state of the resource."
        },
        "manifest": {
          "type": "string",
          "description": "! [Output Only] URL of the manifest representing the current configuration ! of this resource."
        },
        "name": {
          "type": "string",
          "description": "! [Output Only] The name of the resource as it appears in the YAML config."
        },
        "state": {
          "type": "string",
          "description": "! [Output Only] The state of the resource."
        },
        "type": {
          "type": "string",
          "description": "! [Output Only] The type of the resource, for example ! ?compute.v1.instance?, or ?replicaPools.v1beta2.instanceGroupManager?"
        },
        "url": {
          "type": "string",
          "description": "! [Output Only] The URL of the actual resource."
        }
      }
    },
    "ResourcesListResponse": {
      "type": "object",
      "description": "! A response containing a partial list of resources and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "! A token used to continue a truncated list request."
        },
        "resources": {
          "type": "array",
          "description": "! Resources contained in this list response.",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        }
      }
    },
    "Type": {
      "type": "object",
      "description": "! A type supported by Deployment Manager. Next available tag: 4",
      "properties": {
        "name": {
          "type": "string",
          "description": "! Name of the type."
        }
      }
    },
    "TypesListResponse": {
      "type": "object",
      "description": "! A response that returns all Types supported by Deployment Manager Next available tag: 3",
      "properties": {
        "types": {
          "type": "array",
          "description": "! Types supported by Deployment Manager",
          "items": {
            "$ref": "#/definitions/Type"
          }
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
        "https://www.googleapis.com/auth/ndev.cloudman": "View and manage your Google Cloud Platform management resources and deployment status information",
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": "View your Google Cloud Platform management resources and deployment status information"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/deployment-manager/"
  }
}