openapi: 3.0.3
servers:
  - description: Messaging API
    url: https://products.api.telstra.com/messaging/v3
info:
  description: |
    Send and receive SMS & MMS programmatically, leveraging Australia's leading mobile network.
    With Telstra's Messaging API, we take out the complexity to allow seamless messaging integration into your app, with just a few lines of code.
    Our REST API is enterprise grade, allowing you to communicate with engaging SMS & MMS messaging in your web and mobile apps in near real-time on a global scale.

    # Introduction

    # Features

    # Getting Access to the API

    # Getting Started

    # Frequently Asked Questions
  title: Messaging API v3.x
  version: 3.x
  x-apisguru-categories:
    - messaging
  x-logo:
    url: https://telstra.com.au/content/dam/tcom/lego/logo/telstra-logo-656x370.png
  x-origin:
    - format: openapi
      url: https://dev.telstra.com/sites/default/files/Messaging-API-Proxy-OAS3.json
      version: "3.0"
  x-providerName: telstra.com
security:
  - bearer_auth: []
paths:
  /free-trial-numbers:
    get:
      description: |
        Use this endpoint to fetch the Free Trial Number(s) currently assigned to your account. These are the mobile numbers that you can message during the Free Trial.

        If you're using a paid plan, there's no limit to the number of recipients that you can message, so you don't need to register Free Trial Numbers.
      operationId: getTrialNumbers
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeTrialNumbers"
          description: |
            A 200 OK response means your request has been successful. Your Free Trial Number(s) will be returned in the response body.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | FREE_TRIAL_ERR | This call is only applicable to Free Trial users. Check if the call is required. |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: get all free trial numbers
      tags:
        - free trial numbers
    post:
      description: |
        Your Free Trial Numbers are the 10 recipient mobile numbers that you can message during the Free Trial. The first five numbers you send an SMS/MMS to will automatically be added to your Free Trial Numbers list. After that, you can use this endpoint to register another five. Alternatively, you can use this endpoint to register all 10 numbers.  

        Use this endpoint to register a Free Trial Number to your account. To test out all the features that the trial has to offer, we recommend registering your own mobile number to your Free Trial Numbers list. 

        Note that you can only message mobile numbers that have been added to your Free Trial list and once registered, a Free Trial Number cannot be removed or replaced.
      operationId: createTrialNumbers
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
      requestBody:
        $ref: "#/components/requestBodies/trial-numbers"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeTrialNumbers"
          description: |
            A 201 OK response means your request has been successful. Your registered Free Trial Number(s) will be returned in the response.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Location:
              schema:
                example: /free-trial-numbers/{number}
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. | 
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | ACCOUNT_LIMIT_ERROR | You've reached the maximum quota of Free Trial Numbers that can be registered to your account. Upgrade to a paid plan to send a message to this recipient.   |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | FREE_TRIAL_ERR | This call is only applicable to Free Trial users. Check if the call is required. |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is POST. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: create free trial number list
      tags:
        - free trial numbers
  /health-check:
    get:
      description: Use this endpoint to check the operational status of the messaging service. A 200 OK response means the service is up. If you receive a 504 response, the service is temporarily down. Check the [API Live Status page] (https://dev.telstra.com/api/status) to see if there's an active incident.
      operationId: healthCheck
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  status:
                    example: up
                    type: string
                type: object
          description: A 200 OK response means the messaging service is up.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Gateway timeout

            | code | suggested_action |
            | :--- | :--- |
            | GATEWAY_TIMEOUT | The service is temporarily down. Check the [API Live Status page] (https://dev.telstra.com/api/status) or [contact support](mailto:telstradev@team.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: health check
      tags:
        - health check
  /messages:
    get:
      description: Fetch messages that have been sent from/to your account in the last 30 days.
      operationId: getMessages
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/messageDirection"
        - $ref: "#/components/parameters/messageStatus"
        - $ref: "#/components/parameters/messageFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  messages:
                    description: |
                      The paginated results of your request. To fetch the next set of results, send another request and provide the succeeding offset value.
                    items:
                      $ref: "#/components/schemas/MessageGet"
                    maxItems: 50
                    minItems: 1
                    type: array
                  paging:
                    properties:
                      lastPage:
                        description: The last page of results.
                        type: string
                      nextPage:
                        description: The next page of results.
                        type: string
                      previousPage:
                        description: The previous page of results.
                        type: string
                      totalCount:
                        description: The total number of pages.
                        type: number
                    type: object
                type: object
          description: |
            A 200 response means the call has been successful.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: fetch all sent/received messages
      tags:
        - messages
    post:
      description: |
        Send an SMS/MMS to a mobile number, or to multiple mobile numbers.

        Free Trial users can message to up to 10 unique recipient numbers for free. The first five recipients will be automatically added to your Free Trial Numbers list. Need more? Just use the POST /free-trial-numbers call to add another five.
      operationId: sendMessages
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
      requestBody:
        $ref: "#/components/requestBodies/messagePost"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageSent"
          description: |
            A 201 Created response means your message has sent.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Location:
              schema:
                example: /messages/{messageId}
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | RECIPIENT_OPTOUT | Use GET/recipient-optouts/{number} to check which numbers have opted out of receiving messages from a Virtual Number. |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | SENDERNAME_ERR | Email telstradev@team.telstra.com to request approval for this senderName. |
            | MODERATION_ERR | Please remove any swear words or offensive language. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
            | MULTIMEDIA_TOO_LARGE | Reduce the multimedia file size and try again. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | ACCOUNT_LIMIT_ERROR | Check the credit and limits on your account [here](https://dev.telstra.com). |
            | FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is POST. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | MULTIMEDIA_TOO_LARGE | Reduce multimedia size |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: send messages
      tags:
        - messages
  "/messages/{messageId}":
    delete:
      description: |
        Use this endpoint to delete a message that's been scheduled for sending, but hasn't yet sent.
      operationId: deleteMessageById
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/messageId"
      responses:
        "204":
          description: |
            A 204 response means your message has been deleted.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | DELETE_INVALID_MSG_SENT | The message can't be deleted because it's already been sent. |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from/to this account. |
            | TIMEFRAME_ERR | Ensure the messageId corresponds to a message that is not more than 30 days old. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is DELETE. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: delete a message
      tags:
        - messages
    get:
      description: |
        Use the **messageId** to fetch a message that's been sent from/to your account within the last 30 days.
      operationId: getMessageById
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/messageIdGet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageGet"
          description: |
            A 200 response means the call has been successful.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from/to this account. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | TIMEFRAME_ERR | Ensure the messageId corresponds to a message that is not more than 30 days old. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Media type invalid

            | code | suggested_action |
            | :--- | :--- |
            | MEDIA_TYPE_INVALID | Check the media type in the Accept header. It should be application/json. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payload media type error

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_MEDIA_TYPE_ERR | Check the media type in the Accept header. It should be application/json. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Logic error

            | code | suggested_action |
            | :--- | :--- |
            | LOGIC_ERR | Check the logic of the request and try again. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: fetch a specific message
      tags:
        - messages
    patch:
      description: |
        Use the **messageId** to update the tag(s) assigned to a message. You can use this endpoint any time, even after your message has been delivered.
      operationId: updateMessageTags
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/messageId"
      requestBody:
        $ref: "#/components/requestBodies/messageTags"
      responses:
        "204":
          description: |
            A 204 No Content response means your tag(s) have been successfully updated.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | ID_INVALID | Ensure the messageId corresponds to an outgoing message. |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from this account. |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is PATCH. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: update message tags
      tags:
        - messages
    put:
      description: |
        Need to update a message that's scheduled for sending? You can change any of the below parameters, as long as the message hasn't been sent yet. This request body will override the original POST/ messages call.
      operationId: updateMessageById
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/messageId"
      requestBody:
        $ref: "#/components/requestBodies/messagePut"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageUpdate"
          description: |
            A 200 response means the call has been successful.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | UPDATE_INVALID_MSG_SENT | The message can't be updated because it's already been sent. |
            | ID_INVALID | Ensure the messageId corresponds to an outgoing message. |
            | ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from this account. |
            | RECIPIENT_OPTOUT | The recipient has opted out of receiving messages from this Virtual Number.  |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | SENDERNAME_ERR | Email (telstradev@team.telstra.com) to request approval for this senderName.|
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
            | MULTIMEDIA_TOO_LARGE | Reduce the multimedia file size and try again. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
            | FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is PUT. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payload Too Large

            | code | suggested_action |
            | :--- | :--- |
            | MULTIMEDIA_TOO_LARGE | Reduce multimedia size |
            | PAYLOAD_TOO_LARGE | Reduce body payload size |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: update a message
      tags:
        - messages
  /reports:
    get:
      description: |
        Fetch details of all reports recently generated for your account. Use it to check the status of a report, plus fetch the report ID, status, report type and expiry date.
      operationId: getReports
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  reports:
                    items:
                      example:
                        reportExpiry: 2023-01-01
                        reportId: 6940c774-4335-4d2b-b758-4ecb19412e85
                        reportStatus: completed
                        reportType: messages
                      properties:
                        reportExpiry:
                          description: |
                            The expiry date of your report. After this date, you will be unable to download your report.
                          format: date
                          type: string
                        reportId:
                          description: |
                            Use this UUID to fetch your report with the GET /reports/{reportId} endpoint.
                          format: uuid
                          maxLength: 36
                          minLength: 36
                          type: string
                        reportStatus:
                          description: |
                            The status of the report. It will be either: 
                                  * **queued** – the report is in the queue for generation. 
                                  * **completed** – the report is ready for download. 
                                  * **failed** – the report failed to generate. Please try again.
                          type: string
                        reportType:
                          description: The type of report generated.
                          type: string
                      type: object
                    type: array
          description: |
            A 200 OK response means the call has been successful. Details of any report(s) generated for your account will be returned in the response.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the [API status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: fetch all reports
      tags:
        - reports
  /reports/messages:
    post:
      description: |
        Request a CSV report of messages (both incoming and outgoing) that have been sent to/from your account within the last three months. You can request details for a specific timeframe, and filter your messages by tags, recipient number or Virtual Number.

        A 201 Created means your report has been queued for generation. Make a note of the reportId returned in the response. You'll need this to check the status of your report and fetch your download link with GET reports/{reportId}. If you supplied a reportCallbackUrl in the request we'll also notify it when your report is ready for download.

        Once your report is generated, it will be available for download for one week. The expiry date is returned in the response.
      operationId: messagesReport
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
      requestBody:
        content:
          application/json:
            schema:
              example:
                endDate: 2022-09-25
                filter: tag1
                reportCallbackUrl: https://www.example.com
                startDate: 2022-08-24
              properties:
                endDate:
                  description: |
                    Type the end date (inclusive) of your reporting period here.

                    Your endDate must be a date in the past, and less than three months from your startDate. Use ISO format(yyyy-mm-dd).
                  format: date
                  maxLength: 10
                  minLength: 10
                  type: string
                filter:
                  description: |
                    Filter your messages report by:
                      * tag - use one of the tags assigned to your message(s)
                      * number - either the Virtual Number used to send the message, or the Recipient Number the message was sent to.
                  type: string
                reportCallbackUrl:
                  description: |
                    Tell us the callbackUrl you want us to notify when your report is ready for download.

                    Sample callback response:

                    <pre><code class="language-sh">{
                      "reportId":"1520b774-46b0-4415-a05f-7bcb1c032c59",
                      "reportStatus":"completed",
                      "timestamp":"2022-11-10T05:06:42.823Z"
                    }</code></pre>
                  type: string
                startDate:
                  description: |
                    Set the time period you want to generate a report for by typing the start date (inclusive) here.

                    Note that we only retain data for three months, so please ensure your startDate is not more than three months old.

                    Use ISO format(yyyy-mm-dd), e.g. 2019-08-24.
                  format: date
                  maxLength: 10
                  minLength: 10
                  type: string
              required:
                - startDate
                - endDate
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                example:
                  reportCallbackUrl: https://www.example.com
                  reportId: 6940c774-4335-4d2b-b758-4ecb19412e85
                  reportStatus: queued
                properties:
                  reportCallbackUrl:
                    description: If you provided a reportCallbackUrl in your request, it will be returned here.
                    type: string
                  reportId:
                    description: |
                      When your report is ready for download, you can use this UUID to fetch it with the GET /reports/{reportId} endpoint.
                    format: uuid
                    maxLength: 36
                    minLength: 36
                    type: string
                  reportStatus:
                    description: |
                      The status of the report. It will be either: 
                            * **queued** – the report is in the queue for generation. 
                            * **completed** – the report is ready for download. 
                            * **failed** – the report failed to generate. Please try again.
                    type: string
                type: object
          description: |
            A 201 Created response means the call has been successful. Your report is in the queue to be generated.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Location:
              schema:
                example: /reports/messages
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_LENGTH_ERR | Check the field is within character limits. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is POST. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the [API status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: submit a request for a messages report
      tags:
        - reports
  "/reports/{reportId}":
    get:
      description: |
        Fetch a download link for a report generated with POST /reports/{reportId} using the **reportId** returned in the response. Once ready, your report will be available for download for one week.
      operationId: getReport
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - description: |
            Use the reportId returned in the POST /reports/{reportType} response.
          in: path
          name: reportId
          required: true
          schema:
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  reportId: 6940c774-4335-4d2b-b758-4ecb19412e85
                  reportStatus: completed
                  reportUrl: https://www.example.com
                properties:
                  reportId:
                    description: |
                      The UUID assigned to your report.
                    format: uuid
                    maxLength: 36
                    minLength: 36
                    type: string
                  reportStatus:
                    description: |
                      The status of the report. It will be either: 
                            * **queued** – the report is in the queue for generation. 
                            * **completed** – the report is ready for download. 
                            * **failed** – the report failed to generate. Please try again.
                    type: string
                  reportUrl:
                    description: Use this link to download your CSV file.
                    type: string
                type: object
          description: |
            A 200 OK response means the call has been successful. Your download link (reportUrl) will be returned in the response.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the [API status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: fetch a specific report
      tags:
        - reports
  /virtual-numbers:
    get:
      description: |
        Use this endpoint to fetch all Virtual Numbers currently assigned to your account.
      operationId: getNumbers
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/numberFilter"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  paging:
                    $ref: "#/paths/~1messages/get/responses/200/content/application~1json/schema/properties/paging"
                  virtualNumbers:
                    description: |
                      The paginated results of your request. To fetch the next set of results, send another request and provide the succeeding offset value.
                    items:
                      $ref: "#/components/schemas/Virtual-number"
                    maxItems: 50
                    minItems: 0
                    type: array
                type: object
          description: |
            A 200 OK response means your request has been successful. Your Virtual Number(s) will be returned in the response body.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
            | FIELD_MISSING | Ensure you've supplied all the required fields. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unauthorized

            | code | suggested_action |
            | :--- | :--- |
            | TOKEN_INVALID | Check the access token. |
            | TOKEN_EXPIRED | Please refresh the token. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Payment Required

            | code | suggested_action |
            | :--- | :--- |
            | ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |
            | ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Forbidden

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_AUTH_ERR | Check the permissions associated with your account. |
            | INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Not Found

            | code | suggested_action |
            | :--- | :--- |
            | RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |
            | RESOURCE_NOT_FOUND | Check the endpoint is correct. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Method Not Allowed

            | code | suggested_action |
            | :--- | :--- |
            | METHOD_INVALID | Ensure the method is GET. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Too Many Requests

            | code | suggested_action |
            | :--- | :--- |
            | TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Retry-After:
              schema:
                example: 3600
                type: number
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Internal Server Error

            | code | suggested_action |
            | :--- | :--- |
            | INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |
            | INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |
            | NETWORK_ERR | Please try again later. |
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Unexpected
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
      security:
        - bearer_auth: []
      summary: fetch all virtual numbers
      tags:
        - virtual numbers
    post:
      description: |
        When a recipient receives your message, you can choose whether they'll see a privateNumber, Virtual Number or senderName (paid plans only) in the **from** field. If you want to use a Virtual Number, use this endpoint to assign one. Free Trial users can assign one Virtual Number, and those on a paid plan can assign up to 100. 

        Virtual Numbers that have not sent a message in 30 days (Free Trial) or sent/received a message in 18 months (paid plans) will be automatically unassigned from your account. You can check the **lastUse** date of your Virtual Number at any time using GET /virtual-numbers/{virtual-number}.

        Note that Virtual Numbers used in v2 of the Messaging API cannot be used to send messages in v3. Please assign a new Virtual Number instead.
      operationId: assignNumber
      parameters:
        - $ref: "#/components/parameters/TelstraAPIVersion"
        - $ref: "#/components/parameters/ContentLanguage"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/Accept"
        - $ref: "#/components/parameters/AcceptCharset"
        - $ref: "#/components/parameters/ContentType"
      requestBody:
        $ref: "#/components/requestBodies/numberPost"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Virtual-number"
          description: |
            A 201 Created response means a Virtual Number has been assigned to your account. You can find this 10-digit number in the response body.
          headers:
            Content-Language:
              schema:
                example: en-au
                type: string
            Location:
              schema:
                example: /virtual-numbers/{virtual-number}
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
          description: |
            Bad Request

            | code | suggested_action |
            | :--- | :--- |
            | TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |
            | FIELD_INVALID | Check the field and the field formatting are correct. |
[...]
