swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2016-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-network/2016-09-01/swagger/network.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-network
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways':
    get:
      description: Gets all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success. The operation returns a list of ApplicationGateway resources.
          schema:
            $ref: '#/definitions/ApplicationGatewayListResult'
      tags:
        - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits':
    get:
      description: Gets all the express route circuits in a subscription.
      operationId: ExpressRouteCircuits_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of ExpressRouteCircuit resources.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitListResult'
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders':
    get:
      description: Gets all the available express route service providers.
      operationId: ExpressRouteServiceProviders_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of ExpressRouteServiceProdiver resources.
          schema:
            $ref: '#/definitions/ExpressRouteServiceProviderListResult'
      tags:
        - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers':
    get:
      description: Gets all the load balancers in a subscription.
      operationId: LoadBalancers_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer resources.
          schema:
            $ref: '#/definitions/LoadBalancerListResult'
      tags:
        - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability':
    get:
      description: Checks whether a domain name in the cloudapp.net zone is available for use.
      operationId: CheckDnsNameAvailability
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          type: string
        - description: 'The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
          in: query
          name: domainNameLabel
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. Returns whether the DNS name is available.
          schema:
            $ref: '#/definitions/DnsNameAvailabilityResult'
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages':
    get:
      description: Lists compute usages for a subscription.
      operationId: Usages_List
      parameters:
        - description: The location where resource usage is queried.
          in: path
          name: location
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of Usage resources.
          schema:
            $ref: '#/definitions/UsagesListResult'
      tags:
        - Usages
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces':
    get:
      description: Gets all network interfaces in a subscription.
      operationId: NetworkInterfaces_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceListResult'
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups':
    get:
      description: Gets all network security groups in a subscription.
      operationId: NetworkSecurityGroups_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
          schema:
            $ref: '#/definitions/NetworkSecurityGroupListResult'
      tags:
        - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses':
    get:
      description: Gets all the public IP addresses in a subscription.
      operationId: PublicIPAddresses_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of PublicIPAddress resources.
          schema:
            $ref: '#/definitions/PublicIPAddressListResult'
      tags:
        - PublicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables':
    get:
      description: Gets all route tables in a subscription.
      operationId: RouteTables_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of RouteTable resources.
          schema:
            $ref: '#/definitions/RouteTableListResult'
      tags:
        - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworks':
    get:
      description: Gets all virtual networks in a subscription.
      operationId: VirtualNetworks_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetwork resources.
          schema:
            $ref: '#/definitions/VirtualNetworkListResult'
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways':
    get:
      description: Lists all application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success. The operation returns a list of ApplicationGateway resources.
          schema:
            $ref: '#/definitions/ApplicationGatewayListResult'
      tags:
        - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}':
    delete:
      description: Deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not exist
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
    get:
      description: Gets the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns an ApplicationGateway resource.
          schema:
            $ref: '#/definitions/ApplicationGateway'
      tags:
        - ApplicationGateways
    put:
      description: Creates or updates the specified application gateway.
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create or update application gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ApplicationGateway'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: '#/definitions/ApplicationGateway'
        '201':
          description: Create successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: '#/definitions/ApplicationGateway'
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth':
    post:
      description: Gets the backend health of the specified application gateway in a resource group.
      operationId: ApplicationGateways_BackendHealth
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands BackendAddressPool and BackendHttpSettings referenced in backend health.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful.
          schema:
            $ref: '#/definitions/ApplicationGatewayBackendHealth'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start':
    post:
      description: Starts the specified application gateway.
      operationId: ApplicationGateways_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation starts the ApplicationGateway resource.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop':
    post:
      description: Stops the specified application gateway in a resource group.
      operationId: ApplicationGateways_Stop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation stops the ApplicationGateway resource.
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections':
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation resets the virtual network gateway connection shared key.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnectionListResult'
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}':
    delete:
      description: Deletes the specified virtual network Gateway connection.
      operationId: VirtualNetworkGatewayConnections_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
    get:
      description: Gets the specified virtual network gateway connection by resource group.
      operationId: VirtualNetworkGatewayConnections_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting VirtualNetworkPeering resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
      tags:
        - VirtualNetworkGatewayConnections
    put:
      description: Creates or updates a virtual network gateway connection in the specified resource group.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the create or update virtual network gateway connection operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
        '201':
          description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey':
    get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection shared key name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection resources.
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
      tags:
        - VirtualNetworkGatewayConnections
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ConnectionSharedKey resource.
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset':
    post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection reset shared key Name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the begin reset virtual network gateway connection shared key operation through network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ConnectionResetSharedKey'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation sets the virtual network gateway connection shared key.
          schema:
            $ref: '#/definitions/ConnectionResetSharedKey'
        '202':
          description: ''
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits':
    get:
      description: Gets all the express route circuits in a resource group.
      operationId: ExpressRouteCircuits_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitListResult'
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}':
    delete:
      description: Deletes the specified express route circuit.
      operationId: ExpressRouteCircuits_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Disabling' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation.
        '204':
          description: Delete successful.
      tags:
        - ExpressRouteCircuits
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified express route circuit.
      operationId: ExpressRouteCircuits_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
      tags:
        - ExpressRouteCircuits
    put:
      description: Creates or updates an express route circuit.
      operationId: ExpressRouteCircuits_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
        '201':
          description: Create successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
      tags:
        - ExpressRouteCircuits
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations':
    get:
      description: Gets all authorizations in an express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of ExpressRouteCircuitAuthorization resources.
          schema:
            $ref: '#/definitions/AuthorizationListResult'
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}':
    delete:
      description: Deletes the specified authorization from the specified express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
    get:
      description: Gets the specified authorization from the specified express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
      tags:
        - ExpressRouteCircuitAuthorizations
    put:
      description: Creates or updates an authorization in the specified express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit authorization operation.
          in: body
          name: authorizationParameters
          required: true
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
        '201':
          description: Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings':
    get:
      description: Gets all peerings in a specified express route circuit.
      operationId: ExpressRouteCircuitPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of ExpressRouteCircuitPeering resources.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeeringListResult'
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}':
    delete:
      description: Deletes the specified peering from the specified express route circuit.
      operationId: ExpressRouteCircuitPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
    get:
      description: Gets the specified authorization from the specified express route circuit.
      operationId: ExpressRouteCircuitPeerings_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
      tags:
        - ExpressRouteCircuitPeerings
    put:
      description: Creates or updates a peering in the specified express route circuits.
      operationId: ExpressRouteCircuitPeerings_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit peering operation.
          in: body
          name: peeringParameters
          required: true
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
        '201':
          description: Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}':
    post:
      description: Gets the currently advertised ARP table associated with the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListArpTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitsArpTableListResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCircuitArpTable
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}':
    post:
      description: Gets the currently advertised routes table associated with the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitsRoutesTableListResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCircuitRoutesTable
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}':
    post:
      description: Gets the currently advertised routes table summary associated with the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTableSummary
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitsRoutesTableSummaryListResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCircuitRoutesTableSummary
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats':
    get:
      description: Gets all stats from an express route circuit in a resource group.
      operationId: ExpressRouteCircuits_GetPeeringStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitStats'
      tags:
        - ExpressRouteCircuitStats
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats':
    get:
      description: Gets all the stats from an express route circuit in a resource group.
      operationId: ExpressRouteCircuits_GetStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitStats'
      tags:
        - ExpressRouteCircuitStats
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers':
    get:
      description: Gets all the load balancers in a resource group.
      operationId: LoadBalancers_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer resources.
          schema:
            $ref: '#/definitions/LoadBalancerListResult'
      tags:
        - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}':
    delete:
      description: Deletes the specified load balancer.
      operationId: LoadBalancers_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - LoadBalancers
      x-ms-long-running-operation: true
    get:
      description: Gets the specified load balancer.
      operationId: LoadBalancers_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      tags:
        - LoadBalancers
    put:
      description: Creates or updates a load balancer.
      operationId: LoadBalancers_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: Parameters supplied to the create or update load balancer operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/LoadBalancer'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
        '201':
          description: Create successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      tags:
        - LoadBalancers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways':
    get:
      description: Gets all the local network gateways in a resource group.
      operationId: LocalNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LocalNetworkGateway resources.
          schema:
            $ref: '#/definitions/LocalNetworkGatewayListResult'
      tags:
        - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}':
    delete:
      description: Deletes the specified local network gateway.
      operationId: LocalNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - LocalNetworkGateways
      x-ms-long-running-operation: true
    get:
      description: Gets the specified local network gateway in a resource group.
      operationId: LocalNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
      tags:
        - LocalNetworkGateways
    put:
      description: Creates or updates a local network gateway in the specified resource group.
      operationId: LocalNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create or update local network gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
        '201':
          description: Create successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
      tags:
        - LocalNetworkGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces':
    get:
      description: Gets all network interfaces in a resource group.
      operationId: NetworkInterfaces_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceListResult'
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}':
    delete:
      description: Deletes the specified network interface.
      operationId: NetworkInterfaces_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified network interface.
      operationId: NetworkInterfaces_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting NetworkInterface resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
      tags:
        - NetworkInterfaces
    put:
      description: Creates or updates a network interface.
      operationId: NetworkInterfaces_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Parameters supplied to the create or update network interface operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NetworkInterface'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting NetworkInterface resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
        '201':
          description: Create successful. The operation returns the resulting NetworkInterface resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveNetworkSecurityGroups':
    post:
      description: Gets all network security groups applied to a network interface.
      operationId: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
          schema:
            $ref: '#/definitions/EffectiveNetworkSecurityGroupListResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable':
    post:
      description: Gets all route tables applied to a network interface.
      operationId: NetworkInterfaces_GetEffectiveRouteTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of EffectRoute resources.
          schema:
            $ref: '#/definitions/EffectiveRouteListResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups':
    get:
      description: Gets all network security groups in a resource group.
      operationId: NetworkSecurityGroups_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
          schema:
            $ref: '#/definitions/NetworkSecurityGroupListResult'
      tags:
        - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}':
    delete:
      description: Deletes the specified network security group.
      operationId: NetworkSecurityGroups_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - NetworkSecurityGroups
      x-ms-long-running-operation: true
    get:
      description: Gets the specified network security group.
      operationId: NetworkSecurityGroups_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting NetworkSecurityGroup resource.
          schema:
            $ref: '#/definitions/NetworkSecurityGroup'
      tags:
        - NetworkSecurityGroups
    put:
      description: Creates or updates a network security group in the specified resource group.
      operationId: NetworkSecurityGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: Parameters supplied to the create or update network security group operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/NetworkSecurityGroup'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting NetworkSecurityGroup resource.
          schema:
            $ref: '#/definitions/NetworkSecurityGroup'
        '201':
          description: Create successful. The operation returns the resulting NetworkSecurityGroup resource.
          schema:
            $ref: '#/definitions/NetworkSecurityGroup'
      tags:
        - NetworkSecurityGroups
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules':
    get:
      description: Gets all security rules in a network security group.
      operationId: SecurityRules_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of SecurityRule resources.
          schema:
            $ref: '#/definitions/SecurityRuleListResult'
      tags:
        - SecurityRules
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}':
    delete:
      description: Deletes the specified network security rule.
      operationId: SecurityRules_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - SecurityRules
      x-ms-long-running-operation: true
    get:
      description: Get the specified network security rule.
      operationId: SecurityRules_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting SecurityRule resource.
          schema:
            $ref: '#/definitions/SecurityRule'
      tags:
        - SecurityRules
    put:
      description: Creates or updates a security rule in the specified network security group.
      operationId: SecurityRules_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - description: Parameters supplied to the create or update network security rule operation.
          in: body
          name: securityRuleParameters
          required: true
          schema:
            $ref: '#/definitions/SecurityRule'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting SecurityRule resource.
          schema:
            $ref: '#/definitions/SecurityRule'
        '201':
          description: Create successful. The operation returns the resulting SecurityRule resource.
          schema:
            $ref: '#/definitions/SecurityRule'
      tags:
        - SecurityRules
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses':
    get:
      description: Gets all public IP addresses in a resource group.
      operationId: PublicIPAddresses_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of PublicIPAddress resources.
          schema:
            $ref: '#/definitions/PublicIPAddressListResult'
      tags:
        - PublicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}':
    delete:
      description: Deletes the specified public IP address.
      operationId: PublicIPAddresses_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - PublicIPAddresses
      x-ms-long-running-operation: true
    get:
      description: Gets the specified public IP address in a specified resource group.
      operationId: PublicIPAddresses_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting PublicIPAddress resource.
          schema:
            $ref: '#/definitions/PublicIPAddress'
      tags:
        - PublicIPAddresses
    put:
      description: Creates or updates a static or dynamic public IP address.
      operationId: PublicIPAddresses_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the public IP address.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - description: Parameters supplied to the create or update public IP address operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/PublicIPAddress'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting PublicIPAddress resource.
          schema:
            $ref: '#/definitions/PublicIPAddress'
        '201':
          description: Create successful. The operation returns the resulting PublicIPAddress resource.
          schema:
            $ref: '#/definitions/PublicIPAddress'
      tags:
        - PublicIPAddresses
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables':
    get:
      description: Gets all route tables in a resource group.
      operationId: RouteTables_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of RouteTable resources.
          schema:
            $ref: '#/definitions/RouteTableListResult'
      tags:
        - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}':
    delete:
      description: Deletes the specified route table.
      operationId: RouteTables_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. Operation to delete was accepted.
        '202':
          description: 'Accepted. If route table not found returned synchronously, otherwise if found returned asynchronously.'
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - RouteTables
      x-ms-long-running-operation: true
    get:
      description: Gets the specified route table.
      operationId: RouteTables_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting RouteTable resource.
          schema:
            $ref: '#/definitions/RouteTable'
      tags:
        - RouteTables
    put:
      description: Create or updates a route table in a specified resource group.
      operationId: RouteTables_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: Parameters supplied to the create or update route table operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RouteTable'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting RouteTable resource.
          schema:
            $ref: '#/definitions/RouteTable'
        '201':
          description: Create successful. The operation returns the resulting RouteTable resource.
          schema:
            $ref: '#/definitions/RouteTable'
      tags:
        - RouteTables
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes':
    get:
      description: Gets all routes in a route table.
      operationId: Routes_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of Route resources.
          schema:
            $ref: '#/definitions/RouteListResult'
      tags:
        - Routes
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes/{routeName}':
    delete:
      description: Deletes the specified route from a route table.
      operationId: Routes_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Accepted.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Route was deleted or not found.
      tags:
        - Routes
      x-ms-long-running-operation: true
    get:
      description: Gets the specified route from a route table.
      operationId: Routes_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting Route resource.
          schema:
            $ref: '#/definitions/Route'
      tags:
        - Routes
    put:
      description: Creates or updates a route in the specified route table.
      operationId: Routes_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - description: Parameters supplied to the create or update route operation.
          in: body
          name: routeParameters
          required: true
          schema:
            $ref: '#/definitions/Route'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting Route resource.
          schema:
            $ref: '#/definitions/Route'
        '201':
          description: Create successful. The operation returns the resulting Route resource.
          schema:
            $ref: '#/definitions/Route'
      tags:
        - Routes
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways':
    get:
      description: Gets all virtual network gateways by resource group.
      operationId: VirtualNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetworkGateway resources.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayListResult'
      tags:
        - VirtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}':
    delete:
      description: Deletes the specified virtual network gateway.
      operationId: VirtualNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
    get:
      description: Gets the specified virtual network gateway by resource group.
      operationId: VirtualNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a VirtualNetworkGateway resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
      tags:
        - VirtualNetworkGateways
    put:
      description: Creates or updates a virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to create or update virtual network gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetworkGateway resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
        '201':
          description: Create successful. The operation returns the resulting VirtualNetworkGateway resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage':
    post:
      description: Generates VPN client package for P2S client of the virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_Generatevpnclientpackage
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the generate virtual network gateway VPN client package operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VpnClientParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: VPN client package URL.
          schema:
            type: string
      tags:
        - VirtualNetworkGateways
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset':
    post:
      description: Resets the primary of the virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_Reset
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Virtual network gateway vip address supplied to the begin reset of the active-active feature enabled gateway.
          in: query
          name: gatewayVip
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation reset the primary of the virtual network gateway.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks':
    get:
      description: Gets all virtual networks in a resource group.
      operationId: VirtualNetworks_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetwork resources.
          schema:
            $ref: '#/definitions/VirtualNetworkListResult'
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}':
    delete:
      description: Deletes the specified virtual network.
      operationId: VirtualNetworks_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
    get:
      description: Gets the specified virtual network by resource group.
      operationId: VirtualNetworks_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting VirtualNetwork resource.
          schema:
            $ref: '#/definitions/VirtualNetwork'
      tags:
        - VirtualNetworks
    put:
      description: Creates or updates a virtual network in the specified resource group.
      operationId: VirtualNetworks_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: Parameters supplied to the create or update virtual network operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualNetwork'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetwork resource.
          schema:
            $ref: '#/definitions/VirtualNetwork'
        '201':
          description: Create successful. The operation returns the resulting VirtualNetwork resource.
          schema:
            $ref: '#/definitions/VirtualNetwork'
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/CheckIPAddressAvailability':
    get:
      description: Checks whether a private IP address is available for use.
      operationId: VirtualNetworks_CheckIPAddressAvailability
      parameters:
        - description: The private IP address to be verified.
          in: query
          name: ipAddress
          required: false
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Private IP address availability and list of other free addresses if the requested one is not available.
          schema:
            $ref: '#/definitions/IPAddressAvailabilityResult'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets':
    get:
      description: Gets all subnets in a virtual network.
      operationId: Subnets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of Subnet resources.
          schema:
            $ref: '#/definitions/SubnetListResult'
      tags:
        - Subnets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}':
    delete:
      description: Deletes the specified subnet.
      operationId: Subnets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - Subnets
      x-ms-long-running-operation: true
    get:
      description: Gets the specified subnet by virtual network and resource group.
      operationId: Subnets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting Subnet resource.
          schema:
            $ref: '#/definitions/Subnet'
      tags:
        - Subnets
    put:
      description: Creates or updates a subnet in the specified virtual network.
      operationId: Subnets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - description: Parameters supplied to the create or update subnet operation.
          in: body
          name: subnetParameters
          required: true
          schema:
            $ref: '#/definitions/Subnet'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting Subnet resource.
          schema:
            $ref: '#/definitions/Subnet'
        '201':
          description: Create successful. The operation returns the resulting Subnet resource.
          schema:
            $ref: '#/definitions/Subnet'
      tags:
        - Subnets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings':
    get:
      description: Gets all virtual network peerings in a virtual network.
      operationId: VirtualNetworkPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetworkPeering resources.
          schema:
            $ref: '#/definitions/VirtualNetworkPeeringListResult'
      tags:
        - VirtualNetworkPeerings
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings/{virtualNetworkPeeringName}':
    delete:
      description: Deletes the specified virtual network peering.
      operationId: VirtualNetworkPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the virtual network peering.
          in: path
          name: virtualNetworkPeeringName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
[...]
