{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/mlb/scores"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/mlb/scores"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "MLB scores API.",
    "title": "MLB v3 Scores",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/mlb-v3-scores.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "mlb-v3-scores"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/AllTeams": {
      "get": {
        "operationId": "TeamsAll",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Teams (All)"
      }
    },
    "/{format}/AreAnyGamesInProgress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "AreGamesInProgress",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": false,
                  "type": "boolean"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Are Games In Progress"
      }
    },
    "/{format}/CurrentSeason": {
      "get": {
        "operationId": "CurrentSeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current Season"
      }
    },
    "/{format}/FreeAgents": {
      "get": {
        "operationId": "PlayerDetailsByFreeAgents",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Free Agents"
      }
    },
    "/{format}/Games/{season}": {
      "get": {
        "operationId": "Schedules",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Schedules"
      }
    },
    "/{format}/GamesByDate/{date}": {
      "get": {
        "operationId": "GamesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Games by Date"
      }
    },
    "/{format}/News": {
      "get": {
        "operationId": "News",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "News"
      }
    },
    "/{format}/NewsByDate/{date}": {
      "get": {
        "operationId": "NewsByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "News by Date"
      }
    },
    "/{format}/NewsByPlayerID/{playerid}": {
      "get": {
        "operationId": "NewsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "News by Player"
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "operationId": "PlayerDetailsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Player"
      }
    },
    "/{format}/Players": {
      "get": {
        "operationId": "PlayerDetailsByActive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Active"
      }
    },
    "/{format}/Players/{team}": {
      "get": {
        "operationId": "PlayersByTeam",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The abbreviation of the requested team.\n<br>Examples: <code>SF</code>, <code>NYY</code>.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Players by Team"
      }
    },
    "/{format}/Stadiums": {
      "get": {
        "operationId": "Stadiums",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Stadium"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Stadiums"
      }
    },
    "/{format}/Standings/{season}": {
      "get": {
        "operationId": "Standings",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Standing"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Standings"
      }
    },
    "/{format}/TeamGameStatsByDate/{date}": {
      "get": {
        "operationId": "TeamGameStatsByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Game Stats by Date"
      }
    },
    "/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}": {
      "get": {
        "description": "Game by game log of total team statistics.",
        "operationId": "TeamGameLogsBySeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Season to get games from. Example <code>2019POST</code>, <code>2020</code>",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of team.  Example <code> 12 </code>",
            "in": "path",
            "name": "teamid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>",
            "in": "path",
            "name": "numberofgames",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Game Logs By Season"
      }
    },
    "/{format}/TeamSeasonStats/{season}": {
      "get": {
        "operationId": "TeamSeasonStats",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamSeason"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Season Stats"
      }
    },
    "/{format}/teams": {
      "get": {
        "operationId": "TeamsActive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Teams (Active)"
      }
    }
  },
  "components": {
    "schemas": {
      "Game": {
        "properties": {
          "Attendance": {
            "nullable": true,
            "type": "integer"
          },
          "AwayRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamErrors": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamHits": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamProbablePitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamStartingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamStartingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "Balls": {
            "nullable": true,
            "type": "integer"
          },
          "Channel": {
            "nullable": true,
            "type": "string"
          },
          "CurrentHitter": {
            "nullable": true,
            "type": "string"
          },
          "CurrentHitterID": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentHittingTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentPitcher": {
            "nullable": true,
            "type": "string"
          },
          "CurrentPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentPitchingTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "DateTimeUTC": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DueUpHitterID1": {
            "nullable": true,
            "type": "integer"
          },
          "DueUpHitterID2": {
            "nullable": true,
            "type": "integer"
          },
          "DueUpHitterID3": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastDescription": {
            "nullable": true,
            "type": "string"
          },
          "ForecastTempHigh": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastTempLow": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindChill": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindDirection": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindSpeed": {
            "nullable": true,
            "type": "integer"
          },
          "GameEndDateTime": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalAwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalHomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamErrors": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamHits": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamProbablePitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamStartingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamStartingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "Inning": {
            "nullable": true,
            "type": "integer"
          },
          "InningDescription": {
            "nullable": true,
            "type": "string"
          },
          "InningHalf": {
            "nullable": true,
            "type": "string"
          },
          "Innings": {
            "items": {
              "$ref": "#/components/schemas/Inning"
            },
            "type": "array"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "LastPlay": {
            "nullable": true,
            "type": "string"
          },
          "LosingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "LosingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "NeutralVenue": {
            "nullable": true,
            "type": "boolean"
          },
          "Outs": {
            "nullable": true,
            "type": "integer"
          },
          "OverPayout": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "PointSpreadAwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "PointSpreadHomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "RescheduledFromGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RescheduledGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RunnerOnFirst": {
            "nullable": true,
            "type": "boolean"
          },
          "RunnerOnSecond": {
            "nullable": true,
            "type": "boolean"
          },
          "RunnerOnThird": {
            "nullable": true,
            "type": "boolean"
          },
          "SavingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "SavingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesInfo": {
            "$ref": "#/components/schemas/Series"
          },
          "StadiumID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Strikes": {
            "nullable": true,
            "type": "integer"
          },
          "UnderPayout": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "WinningPitcher": {
            "nullable": true,
            "type": "string"
          },
          "WinningPitcherID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Inning": {
        "properties": {
          "AwayTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "InningID": {
            "nullable": false,
            "type": "integer"
          },
          "InningNumber": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "News": {
        "properties": {
          "Author": {
            "nullable": true,
            "type": "string"
          },
          "Categories": {
            "nullable": true,
            "type": "string"
          },
          "Content": {
            "nullable": true,
            "type": "string"
          },
          "NewsID": {
            "nullable": false,
            "type": "integer"
          },
          "OriginalSource": {
            "nullable": true,
            "type": "string"
          },
          "OriginalSourceUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID2": {
            "nullable": true,
            "type": "integer"
          },
          "Source": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "Team2": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "TeamID2": {
            "nullable": true,
            "type": "integer"
          },
          "TermsOfUse": {
            "nullable": true,
            "type": "string"
          },
          "TimeAgo": {
            "nullable": true,
            "type": "string"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Url": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Player": {
        "properties": {
          "BatHand": {
            "nullable": true,
            "type": "string"
          },
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthCountry": {
            "nullable": true,
            "type": "string"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthState": {
            "nullable": true,
            "type": "string"
          },
          "College": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsName": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Experience": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelName": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyAlarmPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftName": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "HighSchool": {
            "nullable": true,
            "type": "string"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "MLBAMID": {
            "nullable": true,
            "type": "integer"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "ProDebut": {
            "nullable": true,
            "type": "string"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RotoworldPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Salary": {
            "nullable": true,
            "type": "integer"
          },
          "SportRadarPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "SportsDataID": {
            "nullable": true,
            "type": "string"
          },
          "SportsDirectPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "StatsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ThrowHand": {
            "nullable": true,
            "type": "string"
          },
          "UpcomingGameID": {
            "nullable": true,
            "type": "integer"
          },
          "UsaTodayHeadshotNoBackgroundUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotNoBackgroundUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          },
          "XmlTeamPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "YahooName": {
            "nullable": true,
            "type": "string"
          },
          "YahooPlayerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Season": {
        "properties": {
          "ApiSeason": {
            "nullable": true,
            "type": "string"
          },
          "PostSeasonStartDate": {
            "nullable": true,
            "type": "string"
          },
          "RegularSeasonStartDate": {
            "nullable": true,
            "type": "string"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Series": {
        "properties": {
          "AwayTeamWins": {
            "nullable": false,
            "type": "integer"
          },
          "GameNumber": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamWins": {
            "nullable": false,
            "type": "integer"
          },
          "MaxLength": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Stadium": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "Altitude": {
            "nullable": true,
            "type": "integer"
          },
          "Capacity": {
            "nullable": true,
            "type": "integer"
          },
          "CenterField": {
            "nullable": true,
            "type": "integer"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "GeoLat": {
            "nullable": true,
            "type": "number"
          },
          "GeoLong": {
            "nullable": true,
            "type": "number"
          },
          "HomePlateDirection": {
            "nullable": true,
            "type": "integer"
          },
          "LeftCenterField": {
            "nullable": true,
            "type": "integer"
          },
          "LeftField": {
            "nullable": true,
            "type": "integer"
          },
          "MidLeftCenterField": {
            "nullable": true,
            "type": "integer"
          },
          "MidLeftField": {
            "nullable": true,
            "type": "integer"
          },
          "MidRightCenterField": {
            "nullable": true,
            "type": "integer"
          },
          "MidRightField": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "RightCenterField": {
            "nullable": true,
            "type": "integer"
          },
          "RightField": {
            "nullable": true,
            "type": "integer"
          },
          "StadiumID": {
            "nullable": false,
            "type": "integer"
          },
          "State": {
            "nullable": true,
            "type": "string"
          },
          "Surface": {
            "nullable": true,
            "type": "string"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Standing": {
        "properties": {
          "AwayLosses": {
            "nullable": true,
            "type": "integer"
          },
          "AwayWins": {
            "nullable": true,
            "type": "integer"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "DayLosses": {
            "nullable": true,
            "type": "integer"
          },
          "DayWins": {
            "nullable": true,
            "type": "integer"
          },
          "Division": {
            "nullable": true,
            "type": "string"
          },
          "DivisionLosses": {
            "nullable": true,
            "type": "integer"
          },
          "DivisionRank": {
            "nullable": true,
            "type": "integer"
          },
          "DivisionWins": {
            "nullable": true,
            "type": "integer"
          },
          "GamesBehind": {
            "nullable": true,
            "type": "number"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeLosses": {
            "nullable": true,
            "type": "integer"
          },
          "HomeWins": {
            "nullable": true,
            "type": "integer"
          },
          "Key": {
            "nullable": true,
            "type": "string"
          },
          "LastTenGamesLosses": {
            "nullable": true,
            "type": "integer"
          },
          "LastTenGamesWins": {
            "nullable": true,
            "type": "integer"
          },
          "League": {
            "nullable": true,
            "type": "string"
          },
          "LeagueRank": {
            "nullable": true,
            "type": "integer"
          },
          "Losses": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "NightLosses": {
            "nullable": true,
            "type": "integer"
          },
          "NightWins": {
            "nullable": true,
            "type": "integer"
          },
          "Percentage": {
            "nullable": true,
            "type": "number"
          },
          "RunsAgainst": {
            "nullable": true,
            "type": "integer"
          },
          "RunsScored": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Streak": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          },
          "WildCardGamesBehind": {
            "nullable": true,
            "type": "number"
          },
          "WildCardRank": {
            "nullable": true,
            "type": "integer"
          },
          "Wins": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Team": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "Division": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "Key": {
            "nullable": true,
            "type": "string"
          },
          "League": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PrimaryColor": {
            "nullable": true,
            "type": "string"
          },
          "QuaternaryColor": {
            "nullable": true,
            "type": "string"
          },
          "SecondaryColor": {
            "nullable": true,
            "type": "string"
          },
          "StadiumID": {
            "nullable": true,
            "type": "integer"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          },
          "TertiaryColor": {
            "nullable": true,
            "type": "string"
          },
          "WikipediaLogoUrl": {
            "nullable": true,
            "type": "string"
          },
          "WikipediaWordMarkUrl": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "TeamGame": {
        "properties": {
          "AtBats": {
            "nullable": true,
            "type": "number"
          },
          "BallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverage": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingOrderConfirmed": {
            "nullable": true,
            "type": "boolean"
          },
          "CaughtStealing": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "Doubles": {
            "nullable": true,
            "type": "number"
          },
          "EarnedRunAverage": {
            "nullable": true,
            "type": "number"
          },
          "Errors": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsBatting": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsPitching": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldingIndependentPitching": {
            "nullable": true,
            "type": "number"
          },
          "FlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "GrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "GroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "GroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "HitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "Hits": {
            "nullable": true,
            "type": "number"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "HomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedDecimal": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedFull": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedOuts": {
            "nullable": true,
            "type": "number"
          },
          "IntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "IsGameOver": {
            "nullable": false,
            "type": "boolean"
          },
          "IsolatedPower": {
            "nullable": true,
            "type": "number"
          },
          "LeftOnBase": {
            "nullable": true,
            "type": "number"
          },
          "LineOuts": {
            "nullable": true,
            "type": "number"
          },
          "Losses": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "OnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "Outs": {
            "nullable": true,
            "type": "number"
          },
          "PitchesSeen": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrown": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrownStrikes": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageAgainst": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBlownSaves": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCatchersInterference": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCompleteGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoubles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingEarnedRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingFlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHits": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHolds": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingInningStarted": {
            "nullable": true,
            "type": "integer"
          },
          "PitchingIntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingLineOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingNoHitters": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPerfectGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPopOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingQualityStarts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "PitchingRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrifices": {
            "nullable": true,
            "type": "number"
          },
          "PitchingShutOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSingles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeouts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeoutsPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTotalBases": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTriples": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalksPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PopOuts": {
            "nullable": true,
            "type": "number"
          },
          "ReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "Runs": {
            "nullable": true,
            "type": "number"
          },
          "RunsBattedIn": {
            "nullable": true,
            "type": "number"
          },
          "SacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "Sacrifices": {
            "nullable": true,
            "type": "number"
          },
          "Saves": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "Singles": {
            "nullable": true,
            "type": "number"
          },
          "SluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "StolenBases": {
            "nullable": true,
            "type": "number"
          },
          "Strikeouts": {
            "nullable": true,
            "type": "number"
          },
          "SubstituteBattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "SubstituteBattingOrderSequence": {
            "nullable": true,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "TotalBases": {
            "nullable": true,
            "type": "number"
          },
          "TotalOutsPitched": {
            "nullable": true,
            "type": "number"
          },
          "Triples": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Walks": {
            "nullable": true,
            "type": "number"
          },
          "WalksHitsPerInningsPitched": {
            "nullable": true,
            "type": "number"
          },
          "WeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "TeamSeason": {
        "properties": {
          "AtBats": {
            "nullable": true,
            "type": "number"
          },
          "BallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverage": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingOrderConfirmed": {
            "nullable": true,
            "type": "boolean"
          },
          "CaughtStealing": {
            "nullable": true,
            "type": "number"
          },
          "DoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "Doubles": {
            "nullable": true,
            "type": "number"
          },
          "EarnedRunAverage": {
            "nullable": true,
            "type": "number"
          },
          "Errors": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsBatting": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsPitching": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldingIndependentPitching": {
            "nullable": true,
            "type": "number"
          },
          "FlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "GrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "GroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "GroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "HitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "Hits": {
            "nullable": true,
            "type": "number"
          },
          "HomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedDecimal": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedFull": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedOuts": {
            "nullable": true,
            "type": "number"
          },
          "IntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "IsolatedPower": {
            "nullable": true,
            "type": "number"
          },
          "LeftOnBase": {
            "nullable": true,
            "type": "number"
          },
          "LineOuts": {
            "nullable": true,
            "type": "number"
          },
          "Losses": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "OnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "Outs": {
            "nullable": true,
            "type": "number"
          },
          "PitchesSeen": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrown": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrownStrikes": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageAgainst": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBlownSaves": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCatchersInterference": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCompleteGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoubles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingEarnedRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingFlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHits": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHolds": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingInningStarted": {
            "nullable": true,
            "type": "integer"
          },
          "PitchingIntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingLineOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingNoHitters": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPerfectGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPopOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingQualityStarts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "PitchingRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrifices": {
            "nullable": true,
            "type": "number"
          },
          "PitchingShutOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSingles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeouts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeoutsPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTotalBases": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTriples": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalksPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PopOuts": {
            "nullable": true,
            "type": "number"
          },
          "ReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "Runs": {
            "nullable": true,
            "type": "number"
          },
          "RunsBattedIn": {
            "nullable": true,
            "type": "number"
          },
          "SacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "Sacrifices": {
            "nullable": true,
            "type": "number"
          },
          "Saves": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "Singles": {
            "nullable": true,
            "type": "number"
          },
          "SluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "StolenBases": {
            "nullable": true,
            "type": "number"
          },
          "Strikeouts": {
            "nullable": true,
            "type": "number"
          },
          "SubstituteBattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "SubstituteBattingOrderSequence": {
            "nullable": true,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "TotalBases": {
            "nullable": true,
            "type": "number"
          },
          "TotalOutsPitched": {
            "nullable": true,
            "type": "number"
          },
          "Triples": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Walks": {
            "nullable": true,
            "type": "number"
          },
          "WalksHitsPerInningsPitched": {
            "nullable": true,
            "type": "number"
          },
          "WeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}