{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/nascar/v2"
    },
    {
      "url": "https://azure-api.sportsdata.io/nascar/v2"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NASCAR v2",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nascar-v2.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nascar-v2"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/DriverRaceProjections/{raceid}": {
      "get": {
        "operationId": "DriverRaceProjectionsEntryList",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Race ID.\nExample:<code>1</code>, <code>2</code>, etc.",
            "in": "path",
            "name": "raceid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DriverRaceProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Driver Race Projections (Entry List)"
      }
    },
    "/{format}/driver/{driverid}": {
      "get": {
        "operationId": "DriverDetails",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Driver ID.\nExample:<code>80000268</code>.",
            "in": "path",
            "name": "driverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Driver"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Driver Details"
      }
    },
    "/{format}/drivers": {
      "get": {
        "operationId": "Drivers",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Driver"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Drivers"
      }
    },
    "/{format}/raceresult/{raceid}": {
      "get": {
        "operationId": "RaceResults",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Race ID.\nExample:<code>1</code>, <code>2</code>, etc.",
            "in": "path",
            "name": "raceid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaceResult"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Race Results"
      }
    },
    "/{format}/races/{season}": {
      "get": {
        "operationId": "RacesSchedule",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2015</code>, <code>2016</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Race"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Races / Schedule"
      }
    },
    "/{format}/series": {
      "get": {
        "operationId": "Series",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Series"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Series"
      }
    }
  },
  "components": {
    "schemas": {
      "Driver": {
        "properties": {
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthPlace": {
            "nullable": true,
            "type": "string"
          },
          "Chassis": {
            "nullable": true,
            "type": "string"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "CrewChief": {
            "nullable": true,
            "type": "string"
          },
          "DriverID": {
            "nullable": false,
            "type": "integer"
          },
          "Engine": {
            "nullable": true,
            "type": "string"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "Manufacturer": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "NumberDisplay": {
            "nullable": true,
            "type": "string"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "Sponsors": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "DriverRace": {
        "properties": {
          "Bonus": {
            "nullable": true,
            "type": "number"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "CurrentPosition": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "DriverID": {
            "nullable": false,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FastestLaps": {
            "nullable": true,
            "type": "number"
          },
          "FinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Laps": {
            "nullable": true,
            "type": "number"
          },
          "LapsLed": {
            "nullable": true,
            "type": "number"
          },
          "Manufacturer": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "NumberDisplay": {
            "nullable": true,
            "type": "string"
          },
          "Penalty": {
            "nullable": true,
            "type": "number"
          },
          "Points": {
            "nullable": true,
            "type": "number"
          },
          "PoleFinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Poles": {
            "nullable": true,
            "type": "number"
          },
          "PositionDifferential": {
            "nullable": true,
            "type": "number"
          },
          "QualifyingSpeed": {
            "nullable": true,
            "type": "number"
          },
          "RaceID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "StartPosition": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "DriverRaceProjection": {
        "properties": {
          "Bonus": {
            "nullable": true,
            "type": "number"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "CurrentPosition": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "DriverID": {
            "nullable": false,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FastestLaps": {
            "nullable": true,
            "type": "number"
          },
          "FinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Laps": {
            "nullable": true,
            "type": "number"
          },
          "LapsLed": {
            "nullable": true,
            "type": "number"
          },
          "Manufacturer": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "NumberDisplay": {
            "nullable": true,
            "type": "string"
          },
          "Penalty": {
            "nullable": true,
            "type": "number"
          },
          "Points": {
            "nullable": true,
            "type": "number"
          },
          "PoleFinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Poles": {
            "nullable": true,
            "type": "number"
          },
          "PositionDifferential": {
            "nullable": true,
            "type": "number"
          },
          "QualifyingSpeed": {
            "nullable": true,
            "type": "number"
          },
          "RaceID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "StartPosition": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Race": {
        "properties": {
          "ActualLaps": {
            "nullable": true,
            "type": "integer"
          },
          "Broadcast": {
            "nullable": true,
            "type": "string"
          },
          "Canceled": {
            "nullable": false,
            "type": "boolean"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "IsInProgress": {
            "nullable": false,
            "type": "boolean"
          },
          "IsOver": {
            "nullable": false,
            "type": "boolean"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PoleWinnerID": {
            "nullable": true,
            "type": "integer"
          },
          "RaceID": {
            "nullable": false,
            "type": "integer"
          },
          "RescheduledDateTime": {
            "nullable": true,
            "type": "string"
          },
          "RescheduledDay": {
            "nullable": true,
            "type": "string"
          },
          "ScheduledLaps": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesID": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesName": {
            "nullable": true,
            "type": "string"
          },
          "Track": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "WinnerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "RaceResult": {
        "properties": {
          "DriverRaces": {
            "items": {
              "$ref": "#/components/schemas/DriverRace"
            },
            "type": "array"
          },
          "Race": {
            "$ref": "#/components/schemas/Race"
          }
        }
      },
      "Series": {
        "properties": {
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "SeriesID": {
            "nullable": false,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}