openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Proxy
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_proxy_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_proxy_v1
paths:
  /v1/Services:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Services for Twilio Proxy. A maximum of 100 records will be returned per page.
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Service for Twilio Proxy
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackUrl:
                  description: The URL we should call when the interaction status changes.
                  format: uri
                  type: string
                ChatInstanceSid:
                  description: The SID of the Chat Service Instance managed by Proxy Service. The Chat Service enables Proxy to forward SMS and channel messages to this chat instance. This is a one-to-one relationship.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                DefaultTtl:
                  description: The default `ttl` value to set for Sessions created in the Service. The TTL (time to live) is measured in seconds after the Session's last create or last Interaction. The default value of `0` indicates an unlimited Session length. You can override a Session's default TTL value by setting its `ttl` value.
                  type: integer
                GeoMatchLevel:
                  description: "Where a proxy number must be located relative to the participant identifier. Can be: `country`, `area-code`, or `extended-area-code`. The default value is `country` and more specific areas than `country` are only available in North America."
                  enum:
                    - area-code
                    - overlay
                    - radius
                    - country
                  type: string
                InterceptCallbackUrl:
                  description: The URL we call on each interaction. If we receive a 403 status, we block the interaction; otherwise the interaction continues.
                  format: uri
                  type: string
                NumberSelectionBehavior:
                  description: "The preference for Proxy Number selection in the Service instance. Can be: `prefer-sticky` or `avoid-sticky` and the default is `prefer-sticky`. `prefer-sticky` means that we will try and select the same Proxy Number for a given participant if they have previous [Sessions](https://www.twilio.com/docs/proxy/api/session), but we will not fail if that Proxy Number cannot be used.  `avoid-sticky` means that we will try to use different Proxy Numbers as long as that is possible within a given pool rather than try and use a previously assigned number."
                  enum:
                    - avoid-sticky
                    - prefer-sticky
                  type: string
                OutOfSessionCallbackUrl:
                  description: The URL we should call when an inbound call or SMS action occurs on a closed or non-existent Session. If your server (or a Twilio [function](https://www.twilio.com/functions)) responds with valid [TwiML](https://www.twilio.com/docs/voice/twiml), we will process it. This means it is possible, for example, to play a message for a call, send an automated text message response, or redirect a call to another Phone Number. See [Out-of-Session Callback Response Guide](https://www.twilio.com/docs/proxy/out-session-callback-response-guide) for more information.
                  format: uri
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be 191 characters or fewer in length and be unique. **This value should not have PII.**
                  type: string
              required:
                - UniqueName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - date_created
    x-path-type: list
  "/v1/Services/{ServiceSid}/PhoneNumbers":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Phone Numbers in the Proxy Number Pool for a Service. A maximum of 100 records will be returned per page.
      operationId: ListPhoneNumber
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the PhoneNumber resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  phone_numbers:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service.phone_number"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Add a Phone Number to a Service's Proxy Number Pool.
      operationId: CreatePhoneNumber
      parameters:
        - description: The SID parent [Service](https://www.twilio.com/docs/proxy/api/service) resource of the new PhoneNumber resource.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                IsReserved:
                  description: Whether the new phone number should be reserved and not be assigned to a participant using proxy pool logic. See [Reserved Phone Numbers](https://www.twilio.com/docs/proxy/reserved-phone-numbers) for more information.
                  type: boolean
                PhoneNumber:
                  description: The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format.  E.164 phone numbers consist of a + followed by the country code and subscriber number without punctuation characters. For example, +14155551234.
                  type: string
                Sid:
                  description: The SID of a Twilio [IncomingPhoneNumber](https://www.twilio.com/docs/phone-numbers/api/incomingphonenumber-resource) resource that represents the Twilio Number you would like to assign to your Proxy Service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^PN[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.phone_number"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - phone_number
    x-path-type: list
  "/v1/Services/{ServiceSid}/PhoneNumbers/{Sid}":
    delete:
      description: Delete a specific Phone Number from a Service.
      operationId: DeletePhoneNumber
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the PhoneNumber resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the PhoneNumber resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Phone Number.
      operationId: FetchPhoneNumber
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the PhoneNumber resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the PhoneNumber resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.phone_number"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Proxy Number.
      operationId: UpdatePhoneNumber
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the PhoneNumber resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the PhoneNumber resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                IsReserved:
                  description: Whether the phone number should be reserved and not be assigned to a participant using proxy pool logic. See [Reserved Phone Numbers](https://www.twilio.com/docs/proxy/reserved-phone-numbers) for more information.
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.phone_number"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - phone_number
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Sessions":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Sessions for the Service. A maximum of 100 records will be returned per page.
      operationId: ListSession
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  sessions:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service.session"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Session
      operationId: CreateSession
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) resource.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DateExpiry:
                  description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date when the Session should expire. If this is value is present, it overrides the `ttl` value.
                  format: date-time
                  type: string
                FailOnParticipantConflict:
                  description: "[Experimental] For accounts with the ProxyAllowParticipantConflict account flag, setting to true enables per-request opt-in to allowing Proxy to reject a Session create (with Participants) request that could cause the same Identifier/ProxyIdentifier pair to be active in multiple Sessions. Depending on the context, this could be a 409 error (Twilio error code 80623) or a 400 error (Twilio error code 80604). If not provided, requests will be allowed to succeed and a Debugger notification (80802) will be emitted. Having multiple, active Participants with the same Identifier/ProxyIdentifier pair causes calls and messages from affected Participants to be routed incorrectly. Please note, the default behavior for accounts without the ProxyAllowParticipantConflict flag is to reject the request as described.  This will eventually be the default for all accounts."
                  type: boolean
                Mode:
                  description: "The Mode of the Session. Can be: `message-only`, `voice-only`, or `voice-and-message` and the default value is `voice-and-message`."
                  enum:
                    - message-only
                    - voice-only
                    - voice-and-message
                  type: string
                Participants:
                  description: The Participant objects to include in the new session.
                  items:
                    type: object
                  type: array
                Status:
                  description: "The initial status of the Session. Can be: `open`, `in-progress`, `closed`, `failed`, or `unknown`. The default is `open` on create."
                  enum:
                    - open
                    - in-progress
                    - closed
                    - failed
                    - unknown
                  type: string
                Ttl:
                  description: The time, in seconds, when the session will expire. The time is measured from the last Session create or the Session's last Interaction.
                  type: integer
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be 191 characters or fewer in length and be unique. **This value should not have PII.**
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - date_started
      - date_ended
    x-path-type: list
  "/v1/Services/{ServiceSid}/Sessions/{SessionSid}/Interactions":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Interactions for a Session. A maximum of 100 records will be returned per page.
      operationId: ListInteraction
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) to read the resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) to read the resources from.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  interactions:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service.session.interaction"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - type
      - data
    x-path-type: list
  "/v1/Services/{ServiceSid}/Sessions/{SessionSid}/Interactions/{Sid}":
    delete:
      description: Delete a specific Interaction.
      operationId: DeleteInteraction
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) of the resource to delete.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Interaction resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KI[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Interactions for a given [Session](https://www.twilio.com/docs/proxy/api/session).
      operationId: FetchInteraction
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) of the resource to fetch.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Interaction resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KI[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session.interaction"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - type
      - data
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Sessions/{SessionSid}/Participants":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Participants in a Session.
      operationId: ListParticipant
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resources to read.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) of the resources to read.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  participants:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service.session.participant"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Add a new Participant to the Session
      operationId: CreateParticipant
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) resource.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) resource.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FailOnParticipantConflict:
                  description: "[Experimental] For accounts with the ProxyAllowParticipantConflict account flag, setting to true enables per-request opt-in to allowing Proxy to reject a Participant create request that could cause the same Identifier/ProxyIdentifier pair to be active in multiple Sessions. Depending on the context, this could be a 409 error (Twilio error code 80623) or a 400 error (Twilio error code 80604). If not provided, requests will be allowed to succeed and a Debugger notification (80802) will be emitted. Having multiple, active Participants with the same Identifier/ProxyIdentifier pair causes calls and messages from affected Participants to be routed incorrectly. Please note, the default behavior for accounts without the ProxyAllowParticipantConflict flag is to reject the request as described.  This will eventually be the default for all accounts."
                  type: boolean
                FriendlyName:
                  description: The string that you assigned to describe the participant. This value must be 255 characters or fewer. **This value should not have PII.**
                  type: string
                Identifier:
                  description: The phone number of the Participant.
                  type: string
                ProxyIdentifier:
                  description: The proxy phone number to use for the Participant. If not specified, Proxy will select a number from the pool.
                  type: string
                ProxyIdentifierSid:
                  description: The SID of the Proxy Identifier to assign to the Participant.
                  maxLength: 34
                  minLength: 34
                  pattern: ^PN[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identifier
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session.participant"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - identifier
      - proxy_identifier
    x-path-type: list
  "/v1/Services/{ServiceSid}/Sessions/{SessionSid}/Participants/{ParticipantSid}/MessageInteractions":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMessageInteraction
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) to read the resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) to read the resources from.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the [Participant](https://www.twilio.com/docs/proxy/api/participant) to read the resources from.
          in: path
          name: ParticipantSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KP[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  interactions:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service.session.participant.message_interaction"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new message Interaction to send directly from your system to one [Participant](https://www.twilio.com/docs/proxy/api/participant).  The `inbound` properties for the Interaction will always be empty.
      operationId: CreateMessageInteraction
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) resource.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) resource.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the [Participant](https://www.twilio.com/docs/proxy/api/participant) resource.
          in: path
          name: ParticipantSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KP[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Body:
                  description: The message to send to the participant
                  type: string
                MediaUrl:
                  description: Reserved. Not currently supported.
                  items:
                    format: uri
                    type: string
                  type: array
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session.participant.message_interaction"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - type
      - data
    x-path-type: list
  "/v1/Services/{ServiceSid}/Sessions/{SessionSid}/Participants/{ParticipantSid}/MessageInteractions/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMessageInteraction
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) of the resource to fetch.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the [Participant](https://www.twilio.com/docs/proxy/api/participant) resource.
          in: path
          name: ParticipantSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KP[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the MessageInteraction resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KI[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session.participant.message_interaction"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - type
      - data
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Sessions/{SessionSid}/Participants/{Sid}":
    delete:
      description: Delete a specific Participant. This is a soft-delete. The participant remains associated with the session and cannot be re-added. Participants are only permanently deleted when the [Session](https://www.twilio.com/docs/proxy/api/session) is deleted.
      operationId: DeleteParticipant
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) of the resource to delete.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Participant resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KP[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Participant.
      operationId: FetchParticipant
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the parent [Session](https://www.twilio.com/docs/proxy/api/session) of the resource to fetch.
          in: path
          name: SessionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Participant resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KP[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session.participant"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - identifier
      - proxy_identifier
    x-path-type: instance
  "/v1/Services/{ServiceSid}/Sessions/{Sid}":
    delete:
      description: Delete a specific Session.
      operationId: DeleteSession
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to delete.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Session resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Session.
      operationId: FetchSession
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to fetch.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Session resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Session.
      operationId: UpdateSession
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Session resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DateExpiry:
                  description: The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date when the Session should expire. If this is value is present, it overrides the `ttl` value.
                  format: date-time
                  type: string
                FailOnParticipantConflict:
                  description: "[Experimental] For accounts with the ProxyAllowParticipantConflict account flag, setting to true enables per-request opt-in to allowing Proxy to return a 400 error (Twilio error code 80604) when a request to set a Session to in-progress would cause Participants with the same Identifier/ProxyIdentifier pair to be active in multiple Sessions. If not provided, requests will be allowed to succeed, and a Debugger notification (80801) will be emitted. Having multiple, active Participants with the same Identifier/ProxyIdentifier pair causes calls and messages from affected Participants to be routed incorrectly. Please note, the default behavior for accounts without the ProxyAllowParticipantConflict flag is to reject the request as described.  This will eventually be the default for all accounts."
                  type: boolean
                Status:
                  description: "The new status of the resource. Can be: `in-progress` to re-open a session or `closed` to close a session."
                  enum:
                    - open
                    - in-progress
                    - closed
                    - failed
                    - unknown
                  type: string
                Ttl:
                  description: The time, in seconds, when the session will expire. The time is measured from the last Session create or the Session's last Interaction.
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.session"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - date_started
      - date_ended
    x-path-type: instance
  "/v1/Services/{ServiceSid}/ShortCodes":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Short Codes in the Proxy Number Pool for the Service. A maximum of 100 records will be returned per page.
      operationId: ListShortCode
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) to read the resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  short_codes:
                    items:
                      $ref: "#/components/schemas/proxy.v1.service.short_code"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Add a Short Code to the Proxy Number Pool for the Service.
      operationId: CreateShortCode
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) resource.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Sid:
                  description: The SID of a Twilio [ShortCode](https://www.twilio.com/docs/sms/api/short-code) resource that represents the short code you would like to assign to your Proxy Service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^SC[0-9a-fA-F]{32}$
                  type: string
              required:
                - Sid
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.short_code"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - short_code
      - iso_country
    x-path-type: list
  "/v1/Services/{ServiceSid}/ShortCodes/{Sid}":
    delete:
      description: Delete a specific Short Code from a Service.
      operationId: DeleteShortCode
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) resource to delete the ShortCode resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the ShortCode resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^SC[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Short Code.
      operationId: FetchShortCode
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) to fetch the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the ShortCode resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^SC[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.short_code"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Short Code.
      operationId: UpdateShortCode
      parameters:
        - description: The SID of the parent [Service](https://www.twilio.com/docs/proxy/api/service) of the resource to update.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the ShortCode resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^SC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                IsReserved:
                  description: Whether the short code should be reserved and not be assigned to a participant using proxy pool logic. See [Reserved Phone Numbers](https://www.twilio.com/docs/proxy/reserved-phone-numbers) for more information.
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service.short_code"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - short_code
      - iso_country
    x-path-type: instance
  "/v1/Services/{Sid}":
    delete:
      description: Delete a specific Service.
      operationId: DeleteService
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Service resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Service.
      operationId: FetchService
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Service resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Service.
      operationId: UpdateService
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Service resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackUrl:
                  description: The URL we should call when the interaction status changes.
                  format: uri
                  type: string
                ChatInstanceSid:
                  description: The SID of the Chat Service Instance managed by Proxy Service. The Chat Service enables Proxy to forward SMS and channel messages to this chat instance. This is a one-to-one relationship.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                DefaultTtl:
                  description: The default `ttl` value to set for Sessions created in the Service. The TTL (time to live) is measured in seconds after the Session's last create or last Interaction. The default value of `0` indicates an unlimited Session length. You can override a Session's default TTL value by setting its `ttl` value.
                  type: integer
                GeoMatchLevel:
                  description: "Where a proxy number must be located relative to the participant identifier. Can be: `country`, `area-code`, or `extended-area-code`. The default value is `country` and more specific areas than `country` are only available in North America."
                  enum:
                    - area-code
                    - overlay
                    - radius
                    - country
                  type: string
                InterceptCallbackUrl:
                  description: The URL we call on each interaction. If we receive a 403 status, we block the interaction; otherwise the interaction continues.
                  format: uri
                  type: string
                NumberSelectionBehavior:
                  description: "The preference for Proxy Number selection in the Service instance. Can be: `prefer-sticky` or `avoid-sticky` and the default is `prefer-sticky`. `prefer-sticky` means that we will try and select the same Proxy Number for a given participant if they have previous [Sessions](https://www.twilio.com/docs/proxy/api/session), but we will not fail if that Proxy Number cannot be used.  `avoid-sticky` means that we will try to use different Proxy Numbers as long as that is possible within a given pool rather than try and use a previously assigned number."
                  enum:
                    - avoid-sticky
                    - prefer-sticky
                  type: string
                OutOfSessionCallbackUrl:
                  description: The URL we should call when an inbound call or SMS action occurs on a closed or non-existent Session. If your server (or a Twilio [function](https://www.twilio.com/functions)) responds with valid [TwiML](https://www.twilio.com/docs/voice/twiml), we will process it. This means it is possible, for example, to play a message for a call, send an automated text message response, or redirect a call to another Phone Number. See [Out-of-Session Callback Response Guide](https://www.twilio.com/docs/proxy/out-session-callback-response-guide) for more information.
                  format: uri
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. This value must be 191 characters or fewer in length and be unique. **This value should not have PII.**
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://proxy.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - date_created
    x-path-type: instance
components:
  schemas:
    proxy.v1.service:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        callback_url:
          format: uri
          type: string
        chat_instance_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        default_ttl:
          type: integer
        geo_match_level:
          enum:
            - area-code
            - overlay
            - radius
            - country
          type: string
        intercept_callback_url:
          format: uri
          type: string
        links:
          type: object
        number_selection_behavior:
          enum:
            - avoid-sticky
            - prefer-sticky
          type: string
        out_of_session_callback_url:
          format: uri
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    proxy.v1.service.phone_number:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        capabilities:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        in_use:
          type: integer
        is_reserved:
          type: boolean
        iso_country:
          type: string
        phone_number:
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    proxy.v1.service.session:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        closed_reason:
          type: string
        date_created:
          format: date-time
          type: string
        date_ended:
          format: date-time
          type: string
        date_expiry:
          format: date-time
          type: string
        date_last_interaction:
          format: date-time
          type: string
        date_started:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        links:
          type: object
        mode:
          enum:
            - message-only
            - voice-only
            - voice-and-message
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^KC[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - open
            - in-progress
            - closed
            - failed
            - unknown
          type: string
        ttl:
          type: integer
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    proxy.v1.service.session.interaction:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        data:
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        inbound_participant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KP[0-9a-fA-F]{32}$
          type: string
        inbound_resource_sid:
          maxLength: 34
          minLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          type: string
        inbound_resource_status:
          enum:
            - accepted
            - answered
            - busy
            - canceled
            - completed
            - deleted
            - delivered
            - delivery-unknown
            - failed
            - in-progress
            - initiated
            - no-answer
            - queued
            - received
            - receiving
            - ringing
            - scheduled
            - sending
            - sent
            - undelivered
            - unknown
          type: string
        inbound_resource_type:
          type: string
        inbound_resource_url:
          format: uri
          type: string
        outbound_participant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KP[0-9a-fA-F]{32}$
          type: string
        outbound_resource_sid:
          maxLength: 34
          minLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          type: string
        outbound_resource_status:
          enum:
            - accepted
            - answered
            - busy
            - canceled
            - completed
            - deleted
            - delivered
            - delivery-unknown
            - failed
            - in-progress
            - initiated
            - no-answer
            - queued
            - received
            - receiving
            - ringing
            - scheduled
            - sending
            - sent
            - undelivered
            - unknown
          type: string
        outbound_resource_type:
          type: string
        outbound_resource_url:
          format: uri
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        session_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KC[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^KI[0-9a-fA-F]{32}$
          type: string
        type:
          enum:
            - message
            - voice
            - unknown
          type: string
        url:
          format: uri
          type: string
      type: object
    proxy.v1.service.session.participant:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_deleted:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        identifier:
          type: string
        links:
          type: object
        proxy_identifier:
          type: string
        proxy_identifier_sid:
          maxLength: 34
          minLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        session_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KC[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^KP[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    proxy.v1.service.session.participant.message_interaction:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        data:
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        inbound_participant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KP[0-9a-fA-F]{32}$
          type: string
        inbound_resource_sid:
          maxLength: 34
          minLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          type: string
        inbound_resource_status:
          enum:
            - accepted
            - answered
            - busy
            - canceled
            - completed
            - deleted
            - delivered
            - delivery-unknown
            - failed
            - in-progress
            - initiated
            - no-answer
            - queued
            - received
            - receiving
            - ringing
            - scheduled
            - sending
            - sent
            - undelivered
            - unknown
          type: string
        inbound_resource_type:
          type: string
        inbound_resource_url:
          format: uri
          type: string
        outbound_participant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KP[0-9a-fA-F]{32}$
          type: string
        outbound_resource_sid:
          maxLength: 34
          minLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          type: string
        outbound_resource_status:
          enum:
            - accepted
            - answered
            - busy
            - canceled
            - completed
            - deleted
            - delivered
            - delivery-unknown
            - failed
            - in-progress
            - initiated
            - no-answer
            - queued
            - received
            - receiving
            - ringing
            - scheduled
            - sending
            - sent
            - undelivered
            - unknown
          type: string
        outbound_resource_type:
          type: string
        outbound_resource_url:
          format: uri
          type: string
        participant_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KP[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        session_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KC[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^KI[0-9a-fA-F]{32}$
          type: string
        type:
          enum:
            - message
            - voice
            - unknown
          type: string
        url:
          format: uri
          type: string
      type: object
    proxy.v1.service.short_code:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        capabilities:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        is_reserved:
          type: boolean
        iso_country:
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^KS[0-9a-fA-F]{32}$
          type: string
        short_code:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^SC[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
