swagger: '2.0'
schemes:
  - https
  - http
host: ssm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS Systems Manager</fullname> <p>AWS Systems Manager is a collection of capabilities that helps you automate management tasks such as collecting system inventory, applying operating system (OS) patches, automating the creation of Amazon Machine Images (AMIs), and configuring operating systems (OSs) and applications at scale. Systems Manager lets you remotely and securely manage the configuration of your managed instances. A <i>managed instance</i> is any Amazon EC2 instance or on-premises machine in your hybrid environment that has been configured for Systems Manager.</p> <p>This reference is intended to be used with the <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/">AWS Systems Manager User Guide</a>.</p> <p>To get started, verify prerequisites and configure managed instances. For more information, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-setting-up.html">Setting Up AWS Systems Manager</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>For information about other API actions you can perform on Amazon EC2 instances, see the <a href="http://docs.aws.amazon.com/AWSEC2/latest/APIReference/">Amazon EC2 API Reference</a>. For information about how to use a Query API, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/APIReference/making-api-requests.html">Making API Requests</a>. </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Simple Systems Manager (SSM)
  version: '2014-11-06'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ssm-2014-11-06.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: ssm
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/ssm/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonSSM.AddTagsToResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds or overwrites one or more tags for the specified resource. Tags are metadata that you can assign to your documents, managed instances, maintenance windows, Parameter Store parameters, and patch baselines. Tags enable you to categorize your resources in different ways, for example, by purpose, owner, or environment. Each tag consists of a key and an optional value, both of which you define. For example, you could define a set of tags for your account''s managed instances that helps you track each instance''s owner and stack level. For example: Key=Owner and Value=DbAdmin, SysAdmin, or Dev. Or Key=Stack and Value=Production, Pre-Production, or Test.</p> <p>Each resource can have a maximum of 50 tags. </p> <p>We recommend that you devise a set of tag keys that meets your needs for each resource type. Using a consistent set of tag keys makes it easier for you to manage your resources. You can search and filter the resources based on the tags you add. Tags don''t have any semantic meaning to Amazon EC2 and are interpreted strictly as a string of characters. </p> <p>For more information about tags, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html">Tagging Your Amazon EC2 Resources</a> in the <i>Amazon EC2 User Guide</i>.</p>'
      operationId: AddTagsToResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceRequest'
        - enum:
            - AmazonSSM.AddTagsToResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsToResourceResult'
        '480':
          description: InvalidResourceType
          schema:
            $ref: '#/definitions/InvalidResourceType'
        '481':
          description: InvalidResourceId
          schema:
            $ref: '#/definitions/InvalidResourceId'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '483':
          description: TooManyTagsError
          schema:
            $ref: '#/definitions/TooManyTagsError'
        '484':
          description: TooManyUpdates
          schema:
            $ref: '#/definitions/TooManyUpdates'
  '/#X-Amz-Target=AmazonSSM.CancelCommand':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.
      operationId: CancelCommand
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CancelCommandRequest'
        - enum:
            - AmazonSSM.CancelCommand
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelCommandResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidCommandId
          schema:
            $ref: '#/definitions/InvalidCommandId'
        '482':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '483':
          description: DuplicateInstanceId
          schema:
            $ref: '#/definitions/DuplicateInstanceId'
  '/#X-Amz-Target=AmazonSSM.CancelMaintenanceWindowExecution':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops a maintenance window execution that is already in progress and cancels any tasks in the window that have not already starting running. (Tasks already in progress will continue to completion.)
      operationId: CancelMaintenanceWindowExecution
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CancelMaintenanceWindowExecutionRequest'
        - enum:
            - AmazonSSM.CancelMaintenanceWindowExecution
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelMaintenanceWindowExecutionResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
  '/#X-Amz-Target=AmazonSSM.CreateActivation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Registers your on-premises server or virtual machine with Amazon EC2 so that you can manage these resources using Run Command. An on-premises server or virtual machine that has been registered with EC2 is called a managed instance. For more information about activations, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-managedinstances.html">Setting Up AWS Systems Manager for Hybrid Environments</a>.'
      operationId: CreateActivation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateActivationRequest'
        - enum:
            - AmazonSSM.CreateActivation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateActivationResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.CreateAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates the specified Systems Manager document with the specified instances or targets.</p> <p>When you associate a document with one or more instances using instance IDs or tags, SSM Agent running on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system returns the AssociationAlreadyExists exception.</p>'
      operationId: CreateAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAssociationRequest'
        - enum:
            - AmazonSSM.CreateAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssociationResult'
        '480':
          description: AssociationAlreadyExists
          schema:
            $ref: '#/definitions/AssociationAlreadyExists'
        '481':
          description: AssociationLimitExceeded
          schema:
            $ref: '#/definitions/AssociationLimitExceeded'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '483':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '484':
          description: InvalidDocumentVersion
          schema:
            $ref: '#/definitions/InvalidDocumentVersion'
        '485':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '486':
          description: UnsupportedPlatformType
          schema:
            $ref: '#/definitions/UnsupportedPlatformType'
        '487':
          description: InvalidOutputLocation
          schema:
            $ref: '#/definitions/InvalidOutputLocation'
        '488':
          description: InvalidParameters
          schema:
            $ref: '#/definitions/InvalidParameters'
        '489':
          description: InvalidTarget
          schema:
            $ref: '#/definitions/InvalidTarget'
        '490':
          description: InvalidSchedule
          schema:
            $ref: '#/definitions/InvalidSchedule'
  '/#X-Amz-Target=AmazonSSM.CreateAssociationBatch':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates the specified Systems Manager document with the specified instances or targets.</p> <p>When you associate a document with one or more instances using instance IDs or tags, SSM Agent running on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system returns the AssociationAlreadyExists exception.</p>'
      operationId: CreateAssociationBatch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateAssociationBatchRequest'
        - enum:
            - AmazonSSM.CreateAssociationBatch
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAssociationBatchResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '482':
          description: InvalidDocumentVersion
          schema:
            $ref: '#/definitions/InvalidDocumentVersion'
        '483':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '484':
          description: InvalidParameters
          schema:
            $ref: '#/definitions/InvalidParameters'
        '485':
          description: DuplicateInstanceId
          schema:
            $ref: '#/definitions/DuplicateInstanceId'
        '486':
          description: AssociationLimitExceeded
          schema:
            $ref: '#/definitions/AssociationLimitExceeded'
        '487':
          description: UnsupportedPlatformType
          schema:
            $ref: '#/definitions/UnsupportedPlatformType'
        '488':
          description: InvalidOutputLocation
          schema:
            $ref: '#/definitions/InvalidOutputLocation'
        '489':
          description: InvalidTarget
          schema:
            $ref: '#/definitions/InvalidTarget'
        '490':
          description: InvalidSchedule
          schema:
            $ref: '#/definitions/InvalidSchedule'
  '/#X-Amz-Target=AmazonSSM.CreateDocument':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a Systems Manager document.</p> <p>After you create a document, you can use CreateAssociation to associate it with one or more running instances.</p>'
      operationId: CreateDocument
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDocumentRequest'
        - enum:
            - AmazonSSM.CreateDocument
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDocumentResult'
        '480':
          description: DocumentAlreadyExists
          schema:
            $ref: '#/definitions/DocumentAlreadyExists'
        '481':
          description: MaxDocumentSizeExceeded
          schema:
            $ref: '#/definitions/MaxDocumentSizeExceeded'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '483':
          description: InvalidDocumentContent
          schema:
            $ref: '#/definitions/InvalidDocumentContent'
        '484':
          description: DocumentLimitExceeded
          schema:
            $ref: '#/definitions/DocumentLimitExceeded'
        '485':
          description: InvalidDocumentSchemaVersion
          schema:
            $ref: '#/definitions/InvalidDocumentSchemaVersion'
  '/#X-Amz-Target=AmazonSSM.CreateMaintenanceWindow':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new maintenance window.
      operationId: CreateMaintenanceWindow
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateMaintenanceWindowRequest'
        - enum:
            - AmazonSSM.CreateMaintenanceWindow
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMaintenanceWindowResult'
        '480':
          description: IdempotentParameterMismatch
          schema:
            $ref: '#/definitions/IdempotentParameterMismatch'
        '481':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.CreateOpsItem':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new OpsItem. You must have permission in AWS Identity and Access Management (IAM) to create a new OpsItem. For more information, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html">Getting Started with OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their AWS resources. For more information, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html">AWS Systems Manager OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>. </p>'
      operationId: CreateOpsItem
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateOpsItemRequest'
        - enum:
            - AmazonSSM.CreateOpsItem
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOpsItemResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: OpsItemAlreadyExistsException
          schema:
            $ref: '#/definitions/OpsItemAlreadyExistsException'
        '482':
          description: OpsItemLimitExceededException
          schema:
            $ref: '#/definitions/OpsItemLimitExceededException'
        '483':
          description: OpsItemInvalidParameterException
          schema:
            $ref: '#/definitions/OpsItemInvalidParameterException'
  '/#X-Amz-Target=AmazonSSM.CreatePatchBaseline':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a patch baseline.</p> <note> <p>For information about valid key and value pairs in <code>PatchFilters</code> for each supported operating system type, see <a href="http://docs.aws.amazon.com/systems-manager/latest/APIReference/API_PatchFilter.html">PatchFilter</a>.</p> </note>'
      operationId: CreatePatchBaseline
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreatePatchBaselineRequest'
        - enum:
            - AmazonSSM.CreatePatchBaseline
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePatchBaselineResult'
        '480':
          description: IdempotentParameterMismatch
          schema:
            $ref: '#/definitions/IdempotentParameterMismatch'
        '481':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.CreateResourceDataSync':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a resource data sync configuration to a single bucket in Amazon S3. This is an asynchronous operation that returns immediately. After a successful initial sync is completed, the system continuously syncs data to the Amazon S3 bucket. To check the status of the sync, use the <a>ListResourceDataSync</a>.</p> <p>By default, data is not encrypted in Amazon S3. We strongly recommend that you enable encryption in Amazon S3 to ensure secure data storage. We also recommend that you secure access to the Amazon S3 bucket by creating a restrictive bucket policy. For more information, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-inventory-datasync.html">Configuring Resource Data Sync for Inventory</a> in the <i>AWS Systems Manager User Guide</i>.</p>'
      operationId: CreateResourceDataSync
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceDataSyncRequest'
        - enum:
            - AmazonSSM.CreateResourceDataSync
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDataSyncResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: ResourceDataSyncCountExceededException
          schema:
            $ref: '#/definitions/ResourceDataSyncCountExceededException'
        '482':
          description: ResourceDataSyncAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceDataSyncAlreadyExistsException'
        '483':
          description: ResourceDataSyncInvalidConfigurationException
          schema:
            $ref: '#/definitions/ResourceDataSyncInvalidConfigurationException'
  '/#X-Amz-Target=AmazonSSM.DeleteActivation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes an activation. You are not required to delete an activation. If you delete an activation, you can no longer use it to register additional managed instances. Deleting an activation does not de-register managed instances. You must manually de-register managed instances.'
      operationId: DeleteActivation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteActivationRequest'
        - enum:
            - AmazonSSM.DeleteActivation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteActivationResult'
        '480':
          description: InvalidActivationId
          schema:
            $ref: '#/definitions/InvalidActivationId'
        '481':
          description: InvalidActivation
          schema:
            $ref: '#/definitions/InvalidActivation'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '483':
          description: TooManyUpdates
          schema:
            $ref: '#/definitions/TooManyUpdates'
  '/#X-Amz-Target=AmazonSSM.DeleteAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Disassociates the specified Systems Manager document from the specified instance.</p> <p>When you disassociate a document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a document, you must create a new document with the desired configuration and associate it with the instance.</p>'
      operationId: DeleteAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAssociationRequest'
        - enum:
            - AmazonSSM.DeleteAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAssociationResult'
        '480':
          description: AssociationDoesNotExist
          schema:
            $ref: '#/definitions/AssociationDoesNotExist'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '483':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '484':
          description: TooManyUpdates
          schema:
            $ref: '#/definitions/TooManyUpdates'
  '/#X-Amz-Target=AmazonSSM.DeleteDocument':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the Systems Manager document and all instance associations to the document.</p> <p>Before you delete the document, we recommend that you use <a>DeleteAssociation</a> to disassociate all instances that are associated with the document.</p>'
      operationId: DeleteDocument
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDocumentRequest'
        - enum:
            - AmazonSSM.DeleteDocument
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDocumentResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '482':
          description: InvalidDocumentOperation
          schema:
            $ref: '#/definitions/InvalidDocumentOperation'
        '483':
          description: AssociatedInstances
          schema:
            $ref: '#/definitions/AssociatedInstances'
  '/#X-Amz-Target=AmazonSSM.DeleteInventory':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Delete a custom inventory type, or the data associated with a custom Inventory type. Deleting a custom inventory type is also referred to as deleting a custom inventory schema.'
      operationId: DeleteInventory
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInventoryRequest'
        - enum:
            - AmazonSSM.DeleteInventory
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInventoryResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidTypeNameException
          schema:
            $ref: '#/definitions/InvalidTypeNameException'
        '482':
          description: InvalidOptionException
          schema:
            $ref: '#/definitions/InvalidOptionException'
        '483':
          description: InvalidDeleteInventoryParametersException
          schema:
            $ref: '#/definitions/InvalidDeleteInventoryParametersException'
        '484':
          description: InvalidInventoryRequestException
          schema:
            $ref: '#/definitions/InvalidInventoryRequestException'
  '/#X-Amz-Target=AmazonSSM.DeleteMaintenanceWindow':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a maintenance window.
      operationId: DeleteMaintenanceWindow
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteMaintenanceWindowRequest'
        - enum:
            - AmazonSSM.DeleteMaintenanceWindow
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMaintenanceWindowResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DeleteParameter':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Delete a parameter from the system.
      operationId: DeleteParameter
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteParameterRequest'
        - enum:
            - AmazonSSM.DeleteParameter
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteParameterResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: ParameterNotFound
          schema:
            $ref: '#/definitions/ParameterNotFound'
  '/#X-Amz-Target=AmazonSSM.DeleteParameters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Delete a list of parameters.
      operationId: DeleteParameters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteParametersRequest'
        - enum:
            - AmazonSSM.DeleteParameters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteParametersResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DeletePatchBaseline':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a patch baseline.
      operationId: DeletePatchBaseline
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeletePatchBaselineRequest'
        - enum:
            - AmazonSSM.DeletePatchBaseline
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeletePatchBaselineResult'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DeleteResourceDataSync':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a Resource Data Sync configuration. After the configuration is deleted, changes to inventory data on managed instances are no longer synced with the target Amazon S3 bucket. Deleting a sync configuration does not delete data in the target Amazon S3 bucket.'
      operationId: DeleteResourceDataSync
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourceDataSyncRequest'
        - enum:
            - AmazonSSM.DeleteResourceDataSync
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceDataSyncResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: ResourceDataSyncNotFoundException
          schema:
            $ref: '#/definitions/ResourceDataSyncNotFoundException'
  '/#X-Amz-Target=AmazonSSM.DeregisterManagedInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes the server or virtual machine from the list of registered servers. You can reregister the instance again at any time. If you don''t plan to use Run Command on the server, we suggest uninstalling SSM Agent first.'
      operationId: DeregisterManagedInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterManagedInstanceRequest'
        - enum:
            - AmazonSSM.DeregisterManagedInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterManagedInstanceResult'
        '480':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DeregisterPatchBaselineForPatchGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a patch group from a patch baseline.
      operationId: DeregisterPatchBaselineForPatchGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterPatchBaselineForPatchGroupRequest'
        - enum:
            - AmazonSSM.DeregisterPatchBaselineForPatchGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterPatchBaselineForPatchGroupResult'
        '480':
          description: InvalidResourceId
          schema:
            $ref: '#/definitions/InvalidResourceId'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DeregisterTargetFromMaintenanceWindow':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a target from a maintenance window.
      operationId: DeregisterTargetFromMaintenanceWindow
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterTargetFromMaintenanceWindowRequest'
        - enum:
            - AmazonSSM.DeregisterTargetFromMaintenanceWindow
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterTargetFromMaintenanceWindowResult'
        '480':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '482':
          description: TargetInUseException
          schema:
            $ref: '#/definitions/TargetInUseException'
  '/#X-Amz-Target=AmazonSSM.DeregisterTaskFromMaintenanceWindow':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a task from a maintenance window.
      operationId: DeregisterTaskFromMaintenanceWindow
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterTaskFromMaintenanceWindowRequest'
        - enum:
            - AmazonSSM.DeregisterTaskFromMaintenanceWindow
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterTaskFromMaintenanceWindowResult'
        '480':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeActivations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes details about the activation, such as the date and time the activation was created, its expiration date, the IAM role assigned to the instances in the activation, and the number of instances registered by using this activation.'
      operationId: DescribeActivations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeActivationsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonSSM.DescribeActivations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeActivationsResult'
        '480':
          description: InvalidFilter
          schema:
            $ref: '#/definitions/InvalidFilter'
        '481':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeAssociation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes the association for the specified target or instance. If you created the association by using the <code>Targets</code> parameter, then you must retrieve the association by using the association ID. If you created the association by specifying an instance ID and a Systems Manager document, then you retrieve the association by specifying the document name and the instance ID. '
      operationId: DescribeAssociation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssociationRequest'
        - enum:
            - AmazonSSM.DescribeAssociation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssociationResult'
        '480':
          description: AssociationDoesNotExist
          schema:
            $ref: '#/definitions/AssociationDoesNotExist'
        '481':
          description: InvalidAssociationVersion
          schema:
            $ref: '#/definitions/InvalidAssociationVersion'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '483':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '484':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
  '/#X-Amz-Target=AmazonSSM.DescribeAssociationExecutionTargets':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Use this API action to view information about a specific execution of a specific association.
      operationId: DescribeAssociationExecutionTargets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssociationExecutionTargetsRequest'
        - enum:
            - AmazonSSM.DescribeAssociationExecutionTargets
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssociationExecutionTargetsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: AssociationDoesNotExist
          schema:
            $ref: '#/definitions/AssociationDoesNotExist'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '483':
          description: AssociationExecutionDoesNotExist
          schema:
            $ref: '#/definitions/AssociationExecutionDoesNotExist'
  '/#X-Amz-Target=AmazonSSM.DescribeAssociationExecutions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Use this API action to view all executions for a specific association ID. '
      operationId: DescribeAssociationExecutions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAssociationExecutionsRequest'
        - enum:
            - AmazonSSM.DescribeAssociationExecutions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAssociationExecutionsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: AssociationDoesNotExist
          schema:
            $ref: '#/definitions/AssociationDoesNotExist'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeAutomationExecutions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides details about all active and terminated Automation executions.
      operationId: DescribeAutomationExecutions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAutomationExecutionsRequest'
        - enum:
            - AmazonSSM.DescribeAutomationExecutions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAutomationExecutionsResult'
        '480':
          description: InvalidFilterKey
          schema:
            $ref: '#/definitions/InvalidFilterKey'
        '481':
          description: InvalidFilterValue
          schema:
            $ref: '#/definitions/InvalidFilterValue'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeAutomationStepExecutions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Information about all active and terminated step executions in an Automation workflow.
      operationId: DescribeAutomationStepExecutions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAutomationStepExecutionsRequest'
        - enum:
            - AmazonSSM.DescribeAutomationStepExecutions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAutomationStepExecutionsResult'
        '480':
          description: AutomationExecutionNotFoundException
          schema:
            $ref: '#/definitions/AutomationExecutionNotFoundException'
        '481':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '482':
          description: InvalidFilterKey
          schema:
            $ref: '#/definitions/InvalidFilterKey'
        '483':
          description: InvalidFilterValue
          schema:
            $ref: '#/definitions/InvalidFilterValue'
        '484':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeAvailablePatches':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all patches eligible to be included in a patch baseline.
      operationId: DescribeAvailablePatches
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAvailablePatchesRequest'
        - enum:
            - AmazonSSM.DescribeAvailablePatches
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAvailablePatchesResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeDocument':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified Systems Manager document.
      operationId: DescribeDocument
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDocumentRequest'
        - enum:
            - AmazonSSM.DescribeDocument
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '482':
          description: InvalidDocumentVersion
          schema:
            $ref: '#/definitions/InvalidDocumentVersion'
  '/#X-Amz-Target=AmazonSSM.DescribeDocumentPermission':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes the permissions for a Systems Manager document. If you created the document, you are the owner. If a document is shared, it can either be shared privately (by specifying a user''s AWS account ID) or publicly (<i>All</i>). '
      operationId: DescribeDocumentPermission
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDocumentPermissionRequest'
        - enum:
            - AmazonSSM.DescribeDocumentPermission
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentPermissionResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidDocument
          schema:
            $ref: '#/definitions/InvalidDocument'
        '482':
          description: InvalidPermissionType
          schema:
            $ref: '#/definitions/InvalidPermissionType'
  '/#X-Amz-Target=AmazonSSM.DescribeEffectiveInstanceAssociations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: All associations for the instance(s).
      operationId: DescribeEffectiveInstanceAssociations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEffectiveInstanceAssociationsRequest'
        - enum:
            - AmazonSSM.DescribeEffectiveInstanceAssociations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEffectiveInstanceAssociationsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeEffectivePatchesForPatchBaseline':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the current effective patches (the patch and the approval state) for the specified patch baseline. Note that this API applies only to Windows patch baselines.
      operationId: DescribeEffectivePatchesForPatchBaseline
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEffectivePatchesForPatchBaselineRequest'
        - enum:
            - AmazonSSM.DescribeEffectivePatchesForPatchBaseline
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEffectivePatchesForPatchBaselineResult'
        '480':
          description: InvalidResourceId
          schema:
            $ref: '#/definitions/InvalidResourceId'
        '481':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '482':
          description: UnsupportedOperatingSystem
          schema:
            $ref: '#/definitions/UnsupportedOperatingSystem'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeInstanceAssociationsStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The status of the associations for the instance(s).
      operationId: DescribeInstanceAssociationsStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInstanceAssociationsStatusRequest'
        - enum:
            - AmazonSSM.DescribeInstanceAssociationsStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInstanceAssociationsStatusResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeInstanceInformation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes one or more of your instances. You can use this to get information about instances like the operating system platform, the SSM Agent version (Linux), status etc. If you specify one or more instance IDs, it returns information for those instances. If you do not specify instance IDs, it returns information for all your instances. If you specify an instance ID that is not valid or an instance that you do not own, you receive an error. </p> <note> <p>The IamRole field for this API action is the Amazon Identity and Access Management (IAM) role assigned to on-premises instances. This call does not return the IAM role for Amazon EC2 instances.</p> </note>'
      operationId: DescribeInstanceInformation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInstanceInformationRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonSSM.DescribeInstanceInformation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInstanceInformationResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '483':
          description: InvalidInstanceInformationFilterValue
          schema:
            $ref: '#/definitions/InvalidInstanceInformationFilterValue'
        '484':
          description: InvalidFilterKey
          schema:
            $ref: '#/definitions/InvalidFilterKey'
  '/#X-Amz-Target=AmazonSSM.DescribeInstancePatchStates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the high-level patch state of one or more instances.
      operationId: DescribeInstancePatchStates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInstancePatchStatesRequest'
        - enum:
            - AmazonSSM.DescribeInstancePatchStates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInstancePatchStatesResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeInstancePatchStatesForPatchGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the high-level patch state for the instances in the specified patch group.
      operationId: DescribeInstancePatchStatesForPatchGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInstancePatchStatesForPatchGroupRequest'
        - enum:
            - AmazonSSM.DescribeInstancePatchStatesForPatchGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInstancePatchStatesForPatchGroupResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidFilter
          schema:
            $ref: '#/definitions/InvalidFilter'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeInstancePatches':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves information about the patches on the specified instance and their state relative to the patch baseline being used for the instance.
      operationId: DescribeInstancePatches
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInstancePatchesRequest'
        - enum:
            - AmazonSSM.DescribeInstancePatches
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInstancePatchesResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '482':
          description: InvalidFilter
          schema:
            $ref: '#/definitions/InvalidFilter'
        '483':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeInventoryDeletions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a specific delete inventory operation.
      operationId: DescribeInventoryDeletions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInventoryDeletionsRequest'
        - enum:
            - AmazonSSM.DescribeInventoryDeletions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInventoryDeletionsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidDeletionIdException
          schema:
            $ref: '#/definitions/InvalidDeletionIdException'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowExecutionTaskInvocations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the individual task executions (one per target) for a particular task run as part of a maintenance window execution.
      operationId: DescribeMaintenanceWindowExecutionTaskInvocations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowExecutionTaskInvocationsRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowExecutionTaskInvocations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowExecutionTaskInvocationsResult'
        '480':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowExecutionTasks':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'For a given maintenance window execution, lists the tasks that were run.'
      operationId: DescribeMaintenanceWindowExecutionTasks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowExecutionTasksRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowExecutionTasks
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowExecutionTasksResult'
        '480':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowExecutions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the executions of a maintenance window. This includes information about when the maintenance window was scheduled to be active, and information about tasks registered and run with the maintenance window.'
      operationId: DescribeMaintenanceWindowExecutions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowExecutionsRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowExecutions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowExecutionsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowSchedule':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves information about upcoming executions of a maintenance window.
      operationId: DescribeMaintenanceWindowSchedule
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowScheduleRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowSchedule
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowScheduleResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowTargets':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the targets registered with the maintenance window.
      operationId: DescribeMaintenanceWindowTargets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowTargetsRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowTargets
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowTargetsResult'
        '480':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowTasks':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the tasks in a maintenance window.
      operationId: DescribeMaintenanceWindowTasks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowTasksRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowTasks
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowTasksResult'
        '480':
          description: DoesNotExistException
          schema:
            $ref: '#/definitions/DoesNotExistException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindows':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the maintenance windows in an AWS account.
      operationId: DescribeMaintenanceWindows
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowsRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindows
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeMaintenanceWindowsForTarget':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves information about the maintenance window targets or tasks that an instance is associated with.
      operationId: DescribeMaintenanceWindowsForTarget
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowsForTargetRequest'
        - enum:
            - AmazonSSM.DescribeMaintenanceWindowsForTarget
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMaintenanceWindowsForTargetResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeOpsItems':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Query a set of OpsItems. You must have permission in AWS Identity and Access Management (IAM) to query a list of OpsItems. For more information, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html">Getting Started with OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their AWS resources. For more information, see <a href="http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html">AWS Systems Manager OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>. </p>'
      operationId: DescribeOpsItems
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOpsItemsRequest'
        - enum:
            - AmazonSSM.DescribeOpsItems
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOpsItemsResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeParameters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Get information about a parameter.</p> <p>Request results are returned on a best-effort basis. If you specify <code>MaxResults</code> in the request, the response includes information up to the limit specified. The number of items returned, however, can be between zero and the value of <code>MaxResults</code>. If the service reaches an internal limit while processing the results, it stops the operation and returns the matching values up to that point and a <code>NextToken</code>. You can specify the <code>NextToken</code> in a subsequent call to get the next set of results.</p>'
      operationId: DescribeParameters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeParametersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - AmazonSSM.DescribeParameters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeParametersResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidFilterKey
          schema:
            $ref: '#/definitions/InvalidFilterKey'
        '482':
          description: InvalidFilterOption
          schema:
            $ref: '#/definitions/InvalidFilterOption'
        '483':
          description: InvalidFilterValue
          schema:
            $ref: '#/definitions/InvalidFilterValue'
        '484':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribePatchBaselines':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the patch baselines in your AWS account.
      operationId: DescribePatchBaselines
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePatchBaselinesRequest'
        - enum:
            - AmazonSSM.DescribePatchBaselines
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePatchBaselinesResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribePatchGroupState':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns high-level aggregated patch compliance state for a patch group.
      operationId: DescribePatchGroupState
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePatchGroupStateRequest'
        - enum:
            - AmazonSSM.DescribePatchGroupState
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePatchGroupStateResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.DescribePatchGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all patch groups that have been registered with patch baselines.
      operationId: DescribePatchGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePatchGroupsRequest'
        - enum:
            - AmazonSSM.DescribePatchGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePatchGroupsResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribePatchProperties':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists the properties of available patches organized by product, product family, classification, severity, and other properties of available patches. You can use the reported properties in the filters you specify in requests for actions such as <a>CreatePatchBaseline</a>, <a>UpdatePatchBaseline</a>, <a>DescribeAvailablePatches</a>, and <a>DescribePatchBaselines</a>.</p> <p>The following section lists the properties that can be used in filters for each major operating system type:</p> <dl> <dt>WINDOWS</dt> <dd> <p>Valid properties: PRODUCT, PRODUCT_FAMILY, CLASSIFICATION, MSRC_SEVERITY</p> </dd> <dt>AMAZON_LINUX</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>AMAZON_LINUX_2</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>UBUNTU </dt> <dd> <p>Valid properties: PRODUCT, PRIORITY</p> </dd> <dt>REDHAT_ENTERPRISE_LINUX</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>SUSE</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>CENTOS</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> </dl>'
      operationId: DescribePatchProperties
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePatchPropertiesRequest'
        - enum:
            - AmazonSSM.DescribePatchProperties
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePatchPropertiesResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.DescribeSessions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of all active sessions (both connected and disconnected) or terminated sessions from the past 30 days.
      operationId: DescribeSessions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSessionsRequest'
        - enum:
            - AmazonSSM.DescribeSessions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSessionsResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidFilterKey
          schema:
            $ref: '#/definitions/InvalidFilterKey'
        '482':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
  '/#X-Amz-Target=AmazonSSM.GetAutomationExecution':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Get detailed information about a particular Automation execution.
      operationId: GetAutomationExecution
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetAutomationExecutionRequest'
        - enum:
            - AmazonSSM.GetAutomationExecution
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAutomationExecutionResult'
        '480':
          description: AutomationExecutionNotFoundException
          schema:
            $ref: '#/definitions/AutomationExecutionNotFoundException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.GetCommandInvocation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns detailed information about command execution for an invocation or plugin. '
      operationId: GetCommandInvocation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetCommandInvocationRequest'
        - enum:
            - AmazonSSM.GetCommandInvocation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCommandInvocationResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: InvalidCommandId
          schema:
            $ref: '#/definitions/InvalidCommandId'
        '482':
          description: InvalidInstanceId
          schema:
            $ref: '#/definitions/InvalidInstanceId'
        '483':
          description: InvalidPluginName
          schema:
            $ref: '#/definitions/InvalidPluginName'
        '484':
          description: InvocationDoesNotExist
          schema:
            $ref: '#/definitions/InvocationDoesNotExist'
  '/#X-Amz-Target=AmazonSSM.GetConnectionStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the Session Manager connection status for an instance to determine whether it is connected and ready to receive Session Manager connections.
      operationId: GetConnectionStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetConnectionStatusRequest'
        - enum:
            - AmazonSSM.GetConnectionStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectionStatusResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.GetDefaultPatchBaseline':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves the default patch baseline. Note that Systems Manager supports creating multiple default patch baselines. For example, you can create a default patch baseline for each operating system.</p> <p>If you do not specify an operating system value, the default patch baseline for Windows is returned.</p>'
      operationId: GetDefaultPatchBaseline
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDefaultPatchBaselineRequest'
        - enum:
            - AmazonSSM.GetDefaultPatchBaseline
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDefaultPatchBaselineResult'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AmazonSSM.GetDeployablePatchSnapshotForInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves the current snapshot for the patch baseline the instance uses. This API is primarily used by the AWS-RunPatchBaseline Systems Manager document. '
      operationId: GetDeployablePatchSnapshotForInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDeployablePatchSnapshotForInstanceRequest'
        - enum:
            - AmazonSSM.GetDeployablePatchSnapshotForInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
[...]
