swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/15
info:
  description: 'Url to Image src urls.<BR />[Endpoint] https://api.apitore.com/api/15'
  title: Url2Src APIs
  version: 0.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/15.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/15'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: url2srcApis
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Jsoup Controller
    name: jsoup-controller
paths:
  /jsoup/url2src:
    get:
      description: 'Jsoup Web scraper.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/jsoup-response">jsoup-response</a><BR />&nbsp; Class: com.apitore.banana.response.org.jsoup.LinkResponseEntity<BR />'
      operationId: url2srcUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: URL
          in: query
          name: url
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LinkResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Extract img src links from URL
      tags:
        - jsoup-controller
definitions:
  LinkResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      links:
        description: Links
        items:
          type: string
        type: array
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - links
      - log
      - processTime
      - startTime
    type: object
