openapi: 3.0.0
servers:
  - url: https://displayvideo.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Display & Video 360 API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://displayvideo.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: displayvideo
externalDocs:
  url: https://developers.google.com/display-video/
tags:
  - name: advertisers
  - name: combinedAudiences
  - name: customBiddingAlgorithms
  - name: customLists
  - name: firstAndThirdPartyAudiences
  - name: floodlightGroups
  - name: googleAudiences
  - name: guaranteedOrders
  - name: inventorySourceGroups
  - name: inventorySources
  - name: media
  - name: partners
  - name: sdfdownloadtasks
  - name: targetingTypes
  - name: users
paths:
  "/download/{resourceName}":
    get:
      description: "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string."
      operationId: displayvideo.media.download
      parameters:
        - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleBytestreamMedia"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
        - media
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/media/{resourceName}":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string."
      operationId: displayvideo.media.upload
      parameters:
        - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/GoogleBytestreamMedia"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleBytestreamMedia"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
        - media
  /v1/advertisers:
    get:
      description: Lists advertisers that are accessible to the current user. The order is defined by the order_by parameter. A single partner_id is required. Cross-partner listing is not supported.
      operationId: displayvideo.advertisers.list
      parameters:
        - description: 'Allows filtering by advertiser properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator used on `updateTime` must be `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)`. * The operator must be `EQUALS (=)`. * Supported fields: - `advertiserId` - `displayName` - `entityStatus` - `updateTime` (input in ISO 8601 format, or YYYY-MM-DDTHH:MM:SSZ) Examples: * All active advertisers under a partner: `entityStatus="ENTITY_STATUS_ACTIVE"` * All advertisers with an update time less than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime<="2020-11-04T18:54:47Z"` * All advertisers with an update time greater than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime>="2020-11-04T18:54:47Z"` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. For example, `displayName desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdvertisers` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Required. The ID of the partner that the fetched advertisers should all belong to. The system only supports listing advertisers for one partner at a time.
          in: query
          name: partnerId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdvertisersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new advertiser. Returns the newly created advertiser if successful. This method can take up to 180 seconds to complete.
      operationId: displayvideo.advertisers.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Advertiser"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}":
    delete:
      description: Deletes an advertiser. Deleting an advertiser will delete all of its child resources, for example, campaigns, insertion orders and line items. A deleted advertiser cannot be recovered.
      operationId: displayvideo.advertisers.delete
      parameters:
        - description: The ID of the advertiser we need to delete.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    get:
      description: Gets an advertiser.
      operationId: displayvideo.advertisers.get
      parameters:
        - description: Required. The ID of the advertiser to fetch.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing advertiser. Returns the updated advertiser if successful.
      operationId: displayvideo.advertisers.patch
      parameters:
        - description: Output only. The unique ID of the advertiser. Assigned by the system.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The mask to control which fields to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Advertiser"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/assets":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Uploads an asset. Returns the ID of the newly uploaded asset if successful. The asset file size should be no more than 10 MB for images, 200 MB for ZIP files, and 1 GB for videos. Must be used within the [multipart media upload process](/display-video/api/guides/how-tos/upload#multipart). Examples using provided client libraries can be found in our [Creating Creatives guide](/display-video/api/guides/creating-creatives/overview#upload_an_asset).
      operationId: displayvideo.advertisers.assets.upload
      parameters:
        - description: Required. The ID of the advertiser this asset belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAssetResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/campaigns":
    get:
      description: Lists campaigns in an advertiser. The order is defined by the order_by parameter. If a filter by entity_status is not specified, campaigns with `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      operationId: displayvideo.advertisers.campaigns.list
      parameters:
        - description: The ID of the advertiser to list campaigns for.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: 'Allows filtering by campaign properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator used on `updateTime` must be `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)`. * The operator must be `EQUALS (=)`. * Supported fields: - `campaignId` - `displayName` - `entityStatus` - `updateTime` (input in ISO 8601 format, or YYYY-MM-DDTHH:MM:SSZ) Examples: * All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` campaigns under an advertiser: `(entityStatus="ENTITY_STATUS_ACTIVE" OR entityStatus="ENTITY_STATUS_PAUSED")` * All campaigns with an update time less than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime<="2020-11-04T18:54:47Z"` * All campaigns with an update time greater than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime>="2020-11-04T18:54:47Z"` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `displayName desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCampaigns` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCampaignsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new campaign. Returns the newly created campaign if successful.
      operationId: displayvideo.advertisers.campaigns.create
      parameters:
        - description: Output only. The unique ID of the advertiser the campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Campaign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/campaigns/{campaignId}":
    delete:
      description: Permanently deletes a campaign. A deleted campaign cannot be recovered. The campaign should be archived first, i.e. set entity_status to `ENTITY_STATUS_ARCHIVED`, to be able to delete it.
      operationId: displayvideo.advertisers.campaigns.delete
      parameters:
        - description: The ID of the advertiser this campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: The ID of the campaign we need to delete.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
    get:
      description: Gets a campaign.
      operationId: displayvideo.advertisers.campaigns.get
      parameters:
        - description: Required. The ID of the advertiser this campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the campaign to fetch.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing campaign. Returns the updated campaign if successful.
      operationId: displayvideo.advertisers.campaigns.patch
      parameters:
        - description: Output only. The unique ID of the advertiser the campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Output only. The unique ID of the campaign. Assigned by the system.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
        - description: Required. The mask to control which fields to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Campaign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/campaigns/{campaignId}/targetingTypes/{targetingType}/assignedTargetingOptions":
    get:
      description: Lists the targeting options assigned to a campaign for a specified targeting type.
      operationId: displayvideo.advertisers.campaigns.targetingTypes.assignedTargetingOptions.list
      parameters:
        - description: Required. The ID of the advertiser the campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the campaign to list assigned targeting options for.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
        - description: "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_VIEWABILITY`"
          in: path
          name: targetingType
          required: true
          schema:
            enum:
              - TARGETING_TYPE_UNSPECIFIED
              - TARGETING_TYPE_CHANNEL
              - TARGETING_TYPE_APP_CATEGORY
              - TARGETING_TYPE_APP
              - TARGETING_TYPE_URL
              - TARGETING_TYPE_DAY_AND_TIME
              - TARGETING_TYPE_AGE_RANGE
              - TARGETING_TYPE_REGIONAL_LOCATION_LIST
              - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
              - TARGETING_TYPE_GENDER
              - TARGETING_TYPE_VIDEO_PLAYER_SIZE
              - TARGETING_TYPE_USER_REWARDED_CONTENT
              - TARGETING_TYPE_PARENTAL_STATUS
              - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
              - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
              - TARGETING_TYPE_DEVICE_TYPE
              - TARGETING_TYPE_AUDIENCE_GROUP
              - TARGETING_TYPE_BROWSER
              - TARGETING_TYPE_HOUSEHOLD_INCOME
              - TARGETING_TYPE_ON_SCREEN_POSITION
              - TARGETING_TYPE_THIRD_PARTY_VERIFIER
              - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
              - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
              - TARGETING_TYPE_ENVIRONMENT
              - TARGETING_TYPE_CARRIER_AND_ISP
              - TARGETING_TYPE_OPERATING_SYSTEM
              - TARGETING_TYPE_DEVICE_MAKE_MODEL
              - TARGETING_TYPE_KEYWORD
              - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
              - TARGETING_TYPE_VIEWABILITY
              - TARGETING_TYPE_CATEGORY
              - TARGETING_TYPE_INVENTORY_SOURCE
              - TARGETING_TYPE_LANGUAGE
              - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
              - TARGETING_TYPE_GEO_REGION
              - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
              - TARGETING_TYPE_EXCHANGE
              - TARGETING_TYPE_SUB_EXCHANGE
              - TARGETING_TYPE_POI
              - TARGETING_TYPE_BUSINESS_CHAIN
              - TARGETING_TYPE_CONTENT_DURATION
              - TARGETING_TYPE_CONTENT_STREAM_TYPE
              - TARGETING_TYPE_NATIVE_CONTENT_POSITION
              - TARGETING_TYPE_OMID
              - TARGETING_TYPE_AUDIO_CONTENT_TYPE
              - TARGETING_TYPE_CONTENT_GENRE
            type: string
        - description: 'Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `assignedTargetingOptionId` - `inheritance` Examples: * AssignedTargetingOptions with ID 1 or 2 `assignedTargetingOptionId="1" OR assignedTargetingOptionId="2"` * AssignedTargetingOptions with inheritance status of NOT_INHERITED or INHERITED_FROM_PARTNER `inheritance="NOT_INHERITED" OR inheritance="INHERITED_FROM_PARTNER"` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `assignedTargetingOptionId desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `5000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCampaignAssignedTargetingOptions` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCampaignAssignedTargetingOptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/campaigns/{campaignId}/targetingTypes/{targetingType}/assignedTargetingOptions/{assignedTargetingOptionId}":
    get:
      description: Gets a single targeting option assigned to a campaign.
      operationId: displayvideo.advertisers.campaigns.targetingTypes.assignedTargetingOptions.get
      parameters:
        - description: Required. The ID of the advertiser the campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the campaign the assigned targeting option belongs to.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
        - description: "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_VIEWABILITY`"
          in: path
          name: targetingType
          required: true
          schema:
            enum:
              - TARGETING_TYPE_UNSPECIFIED
              - TARGETING_TYPE_CHANNEL
              - TARGETING_TYPE_APP_CATEGORY
              - TARGETING_TYPE_APP
              - TARGETING_TYPE_URL
              - TARGETING_TYPE_DAY_AND_TIME
              - TARGETING_TYPE_AGE_RANGE
              - TARGETING_TYPE_REGIONAL_LOCATION_LIST
              - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
              - TARGETING_TYPE_GENDER
              - TARGETING_TYPE_VIDEO_PLAYER_SIZE
              - TARGETING_TYPE_USER_REWARDED_CONTENT
              - TARGETING_TYPE_PARENTAL_STATUS
              - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
              - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
              - TARGETING_TYPE_DEVICE_TYPE
              - TARGETING_TYPE_AUDIENCE_GROUP
              - TARGETING_TYPE_BROWSER
              - TARGETING_TYPE_HOUSEHOLD_INCOME
              - TARGETING_TYPE_ON_SCREEN_POSITION
              - TARGETING_TYPE_THIRD_PARTY_VERIFIER
              - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
              - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
              - TARGETING_TYPE_ENVIRONMENT
              - TARGETING_TYPE_CARRIER_AND_ISP
              - TARGETING_TYPE_OPERATING_SYSTEM
              - TARGETING_TYPE_DEVICE_MAKE_MODEL
              - TARGETING_TYPE_KEYWORD
              - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
              - TARGETING_TYPE_VIEWABILITY
              - TARGETING_TYPE_CATEGORY
              - TARGETING_TYPE_INVENTORY_SOURCE
              - TARGETING_TYPE_LANGUAGE
              - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
              - TARGETING_TYPE_GEO_REGION
              - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
              - TARGETING_TYPE_EXCHANGE
              - TARGETING_TYPE_SUB_EXCHANGE
              - TARGETING_TYPE_POI
              - TARGETING_TYPE_BUSINESS_CHAIN
              - TARGETING_TYPE_CONTENT_DURATION
              - TARGETING_TYPE_CONTENT_STREAM_TYPE
              - TARGETING_TYPE_NATIVE_CONTENT_POSITION
              - TARGETING_TYPE_OMID
              - TARGETING_TYPE_AUDIO_CONTENT_TYPE
              - TARGETING_TYPE_CONTENT_GENRE
            type: string
        - description: Required. An identifier unique to the targeting type in this campaign that identifies the assigned targeting option being requested.
          in: path
          name: assignedTargetingOptionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedTargetingOption"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/campaigns/{campaignId}:bulkListCampaignAssignedTargetingOptions":
    get:
      description: Lists assigned targeting options of a campaign across targeting types.
      operationId: displayvideo.advertisers.campaigns.bulkListCampaignAssignedTargetingOptions
      parameters:
        - description: Required. The ID of the advertiser the campaign belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the campaign to list assigned targeting options for.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
        - description: 'Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR` on the same field. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `targetingType` - `inheritance` Examples: * AssignedTargetingOptions of targeting type TARGETING_TYPE_LANGUAGE or TARGETING_TYPE_GENDER `targetingType="TARGETING_TYPE_LANGUAGE" OR targetingType="TARGETING_TYPE_GENDER"` * AssignedTargetingOptions with inheritance status of NOT_INHERITED or INHERITED_FROM_PARTNER `inheritance="NOT_INHERITED" OR inheritance="INHERITED_FROM_PARTNER"` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `targetingType desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is `5000`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListCampaignAssignedTargetingOptions` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkListCampaignAssignedTargetingOptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/channels":
    get:
      description: Lists channels for a partner or advertiser.
      operationId: displayvideo.advertisers.channels.list
      parameters:
        - description: The ID of the advertiser that owns the channels.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: 'Allows filtering by channel fields. Supported syntax: * Filter expressions for channel currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `displayName` Examples: * All channels for which the display name contains "google": `displayName : "google"`. The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix " desc" should be added to the field name. Example: `displayName desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The ID of the partner that owns the channels.
          in: query
          name: partnerId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListChannelsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new channel. Returns the newly created channel if successful.
      operationId: displayvideo.advertisers.channels.create
      parameters:
        - description: The ID of the advertiser that owns the created channel.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: The ID of the partner that owns the created channel.
          in: query
          name: partnerId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Channel"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/channels/{channelId}":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a channel. Returns the updated channel if successful.
      operationId: displayvideo.advertisers.channels.patch
      parameters:
        - description: The ID of the advertiser that owns the created channel.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Output only. The unique ID of the channel. Assigned by the system.
          in: path
          name: channelId
          required: true
          schema:
            type: string
        - description: The ID of the partner that owns the created channel.
          in: query
          name: partnerId
          schema:
            type: string
        - description: Required. The mask to control which fields to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Channel"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/channels/{channelId}/sites":
    get:
      description: Lists sites in a channel.
      operationId: displayvideo.advertisers.channels.sites.list
      parameters:
        - description: The ID of the advertiser that owns the parent channel.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the parent channel to which the requested sites belong.
          in: path
          name: channelId
          required: true
          schema:
            type: string
        - description: 'Allows filtering by site fields. Supported syntax: * Filter expressions for site currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `urlOrAppId` Examples: * All sites for which the URL or app ID contains "google": `urlOrAppId : "google"`'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix " desc" should be added to the field name. Example: `urlOrAppId desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The ID of the partner that owns the parent channel.
          in: query
          name: partnerId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSitesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/channels/{channelId}/sites/{urlOrAppId}":
    delete:
      description: Deletes a site from a channel.
      operationId: displayvideo.advertisers.channels.sites.delete
      parameters:
        - description: The ID of the advertiser that owns the parent channel.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the parent channel to which the site belongs.
          in: path
          name: channelId
          required: true
          schema:
            type: string
        - description: Required. The URL or app ID of the site to delete.
          in: path
          name: urlOrAppId
          required: true
          schema:
            type: string
        - description: The ID of the partner that owns the parent channel.
          in: query
          name: partnerId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/channels/{channelId}/sites:bulkEdit":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.
      operationId: displayvideo.advertisers.channels.sites.bulkEdit
      parameters:
        - description: The ID of the advertiser that owns the parent channel.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the parent channel to which the sites belong.
          in: path
          name: channelId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkEditSitesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkEditSitesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/channels/{channelId}/sites:replace":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites.
      operationId: displayvideo.advertisers.channels.sites.replace
      parameters:
        - description: The ID of the advertiser that owns the parent channel.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the parent channel whose sites will be replaced.
          in: path
          name: channelId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplaceSitesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplaceSitesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/creatives":
    get:
      description: Lists creatives in an advertiser. The order is defined by the order_by parameter. If a filter by entity_status is not specified, creatives with `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      operationId: displayvideo.advertisers.creatives.list
      parameters:
        - description: Required. The ID of the advertiser to list creatives for.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: "Allows filtering by creative properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restriction for the same field must be combined by `OR`. * Restriction for different fields must be combined by `AND`. * Between `(` and `)` there can only be restrictions combined by `OR` for the same field. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)` for the following fields: - `entityStatus` - `creativeType`. - `dimensions` - `minDuration` - `maxDuration` - `approvalStatus` - `exchangeReviewStatus` - `dynamic` - `creativeId` * The operator must be `HAS (:)` for the following fields: - `lineItemIds` * The operator must be `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)` for the following fields: - `updateTime` (input in ISO 8601 format, or YYYY-MM-DDTHH:MM:SSZ) * For `entityStatus`, `minDuration`, `maxDuration`, `updateTime`, and `dynamic`, there may be at most one restriction. * For `dimensions`, the value is in the form of `\"{width}x{height}\"`. * For `exchangeReviewStatus`, the value is in the form of `{exchange}-{reviewStatus}`. * For `minDuration` and `maxDuration`, the value is in the form of `\"{duration}s\"`. Only seconds are supported with millisecond granularity. * For `updateTime`, a creative resource's field value reflects the last time that a creative has been updated, which includes updates made by the system (e.g. creative review updates). * There may be multiple `lineItemIds` restrictions in order to search against multiple possible line item IDs. * There may be multiple `creativeId` restrictions in order to search against multiple possible creative IDs. Examples: * All native creatives: `creativeType=\"CREATIVE_TYPE_NATIVE\"` * All active creatives with 300x400 or 50x100 dimensions: `entityStatus=\"ENTITY_STATUS_ACTIVE\" AND (dimensions=\"300x400\" OR dimensions=\"50x100\")` * All dynamic creatives that are approved by AdX or AppNexus, with a minimum duration of 5 seconds and 200ms. `dynamic=\"true\" AND minDuration=\"5.2s\" AND (exchangeReviewStatus=\"EXCHANGE_GOOGLE_AD_MANAGER-REVIEW_STATUS_APPROVED\" OR exchangeReviewStatus=\"EXCHANGE_APPNEXUS-REVIEW_STATUS_APPROVED\")` * All video creatives that are associated with line item ID 1 or 2: `creativeType=\"CREATIVE_TYPE_VIDEO\" AND (lineItemIds:1 OR lineItemIds:2)` * Find creatives by multiple creative IDs: `creativeId=1 OR creativeId=2` * All creatives with an update time greater than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this field should be no more than 500 characters."
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `creativeId` (default) * `createTime` * `mediaDuration` * `dimensions` (sorts by width first, then by height) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `createTime desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCreatives` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCreativesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new creative. Returns the newly created creative if successful.
      operationId: displayvideo.advertisers.creatives.create
      parameters:
        - description: Output only. The unique ID of the advertiser the creative belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Creative"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/creatives/{creativeId}":
    delete:
      description: Deletes a creative. Returns error code `NOT_FOUND` if the creative does not exist. The creative should be archived first, i.e. set entity_status to `ENTITY_STATUS_ARCHIVED`, before it can be deleted.
      operationId: displayvideo.advertisers.creatives.delete
      parameters:
        - description: The ID of the advertiser this creative belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: The ID of the creative to be deleted.
          in: path
          name: creativeId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    get:
      description: Gets a creative.
      operationId: displayvideo.advertisers.creatives.get
      parameters:
        - description: Required. The ID of the advertiser this creative belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the creative to fetch.
          in: path
          name: creativeId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing creative. Returns the updated creative if successful.
      operationId: displayvideo.advertisers.creatives.patch
      parameters:
        - description: Output only. The unique ID of the advertiser the creative belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Output only. The unique ID of the creative. Assigned by the system.
          in: path
          name: creativeId
          required: true
          schema:
            type: string
        - description: Required. The mask to control which fields to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Creative"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/insertionOrders":
    get:
      description: Lists insertion orders in an advertiser. The order is defined by the order_by parameter. If a filter by entity_status is not specified, insertion orders with `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      operationId: displayvideo.advertisers.insertionOrders.list
      parameters:
        - description: Required. The ID of the advertiser to list insertion orders for.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: "Allows filtering by insertion order properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator used on `budget.budget_segments.date_range.end_date` must be LESS THAN (<). * The operator used on `updateTime` must be `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)`. * The operators used on all other fields must be `EQUALS (=)`. * Supported fields: - `campaignId` - `displayName` - `entityStatus` - `budget.budget_segments.date_range.end_date` (input as YYYY-MM-DD) - `updateTime` (input in ISO 8601 format, or YYYY-MM-DDTHH:MM:SSZ) Examples: * All insertion orders under a campaign: `campaignId=\"1234\"` * All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` insertion orders under an advertiser: `(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR entityStatus=\"ENTITY_STATUS_PAUSED\")` * All insertion orders whose budget segments' dates end before March 28, 2019: `budget.budget_segments.date_range.end_date<\"2019-03-28\"` * All insertion orders with an update time less than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime<=\"2020-11-04T18:54:47Z\"` * All insertion orders with an update time greater than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this field should be no more than 500 characters."
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * "displayName" (default) * "entityStatus" * "updateTime" The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `displayName desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInsertionOrders` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInsertionOrdersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new insertion order. Returns the newly created insertion order if successful.
      operationId: displayvideo.advertisers.insertionOrders.create
      parameters:
        - description: Output only. The unique ID of the advertiser the insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InsertionOrder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsertionOrder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/insertionOrders/{insertionOrderId}":
    delete:
      description: Deletes an insertion order. Returns error code `NOT_FOUND` if the insertion order does not exist. The insertion order should be archived first, i.e. set entity_status to `ENTITY_STATUS_ARCHIVED`, to be able to delete it.
      operationId: displayvideo.advertisers.insertionOrders.delete
      parameters:
        - description: The ID of the advertiser this insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: The ID of the insertion order to delete.
          in: path
          name: insertionOrderId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    get:
      description: Gets an insertion order. Returns error code `NOT_FOUND` if the insertion order does not exist.
      operationId: displayvideo.advertisers.insertionOrders.get
      parameters:
        - description: Required. The ID of the advertiser this insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the insertion order to fetch.
          in: path
          name: insertionOrderId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsertionOrder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing insertion order. Returns the updated insertion order if successful.
      operationId: displayvideo.advertisers.insertionOrders.patch
      parameters:
        - description: Output only. The unique ID of the advertiser the insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Output only. The unique ID of the insertion order. Assigned by the system.
          in: path
          name: insertionOrderId
          required: true
          schema:
            type: string
        - description: Required. The mask to control which fields to update.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InsertionOrder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsertionOrder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
  "/v1/advertisers/{advertiserId}/insertionOrders/{insertionOrderId}/targetingTypes/{targetingType}/assignedTargetingOptions":
    get:
      description: Lists the targeting options assigned to an insertion order.
      operationId: displayvideo.advertisers.insertionOrders.targetingTypes.assignedTargetingOptions.list
      parameters:
        - description: Required. The ID of the advertiser the insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the insertion order to list assigned targeting options for.
          in: path
          name: insertionOrderId
          required: true
          schema:
            type: string
        - description: "Required. Identifies the type of assigned targeting options to list. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`"
          in: path
          name: targetingType
          required: true
          schema:
            enum:
              - TARGETING_TYPE_UNSPECIFIED
              - TARGETING_TYPE_CHANNEL
              - TARGETING_TYPE_APP_CATEGORY
              - TARGETING_TYPE_APP
              - TARGETING_TYPE_URL
              - TARGETING_TYPE_DAY_AND_TIME
              - TARGETING_TYPE_AGE_RANGE
              - TARGETING_TYPE_REGIONAL_LOCATION_LIST
              - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
              - TARGETING_TYPE_GENDER
              - TARGETING_TYPE_VIDEO_PLAYER_SIZE
              - TARGETING_TYPE_USER_REWARDED_CONTENT
              - TARGETING_TYPE_PARENTAL_STATUS
              - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
              - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
              - TARGETING_TYPE_DEVICE_TYPE
              - TARGETING_TYPE_AUDIENCE_GROUP
              - TARGETING_TYPE_BROWSER
              - TARGETING_TYPE_HOUSEHOLD_INCOME
              - TARGETING_TYPE_ON_SCREEN_POSITION
              - TARGETING_TYPE_THIRD_PARTY_VERIFIER
              - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
              - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
              - TARGETING_TYPE_ENVIRONMENT
              - TARGETING_TYPE_CARRIER_AND_ISP
              - TARGETING_TYPE_OPERATING_SYSTEM
              - TARGETING_TYPE_DEVICE_MAKE_MODEL
              - TARGETING_TYPE_KEYWORD
              - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
              - TARGETING_TYPE_VIEWABILITY
              - TARGETING_TYPE_CATEGORY
              - TARGETING_TYPE_INVENTORY_SOURCE
              - TARGETING_TYPE_LANGUAGE
              - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
              - TARGETING_TYPE_GEO_REGION
              - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
              - TARGETING_TYPE_EXCHANGE
              - TARGETING_TYPE_SUB_EXCHANGE
              - TARGETING_TYPE_POI
              - TARGETING_TYPE_BUSINESS_CHAIN
              - TARGETING_TYPE_CONTENT_DURATION
              - TARGETING_TYPE_CONTENT_STREAM_TYPE
              - TARGETING_TYPE_NATIVE_CONTENT_POSITION
              - TARGETING_TYPE_OMID
              - TARGETING_TYPE_AUDIO_CONTENT_TYPE
              - TARGETING_TYPE_CONTENT_GENRE
            type: string
        - description: 'Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `assignedTargetingOptionId` - `inheritance` Examples: * AssignedTargetingOptions with ID 1 or 2 `assignedTargetingOptionId="1" OR assignedTargetingOptionId="2"` * AssignedTargetingOptions with inheritance status of NOT_INHERITED or INHERITED_FROM_PARTNER `inheritance="NOT_INHERITED" OR inheritance="INHERITED_FROM_PARTNER"` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `assignedTargetingOptionId desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `5000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInsertionOrderAssignedTargetingOptions` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInsertionOrderAssignedTargetingOptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/insertionOrders/{insertionOrderId}/targetingTypes/{targetingType}/assignedTargetingOptions/{assignedTargetingOptionId}":
    get:
      description: Gets a single targeting option assigned to an insertion order.
      operationId: displayvideo.advertisers.insertionOrders.targetingTypes.assignedTargetingOptions.get
      parameters:
        - description: Required. The ID of the advertiser the insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the insertion order the assigned targeting option belongs to.
          in: path
          name: insertionOrderId
          required: true
          schema:
            type: string
        - description: "Required. Identifies the type of this assigned targeting option. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`"
          in: path
          name: targetingType
          required: true
          schema:
            enum:
              - TARGETING_TYPE_UNSPECIFIED
              - TARGETING_TYPE_CHANNEL
              - TARGETING_TYPE_APP_CATEGORY
              - TARGETING_TYPE_APP
              - TARGETING_TYPE_URL
              - TARGETING_TYPE_DAY_AND_TIME
              - TARGETING_TYPE_AGE_RANGE
              - TARGETING_TYPE_REGIONAL_LOCATION_LIST
              - TARGETING_TYPE_PROXIMITY_LOCATION_LIST
              - TARGETING_TYPE_GENDER
              - TARGETING_TYPE_VIDEO_PLAYER_SIZE
              - TARGETING_TYPE_USER_REWARDED_CONTENT
              - TARGETING_TYPE_PARENTAL_STATUS
              - TARGETING_TYPE_CONTENT_INSTREAM_POSITION
              - TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION
              - TARGETING_TYPE_DEVICE_TYPE
              - TARGETING_TYPE_AUDIENCE_GROUP
              - TARGETING_TYPE_BROWSER
              - TARGETING_TYPE_HOUSEHOLD_INCOME
              - TARGETING_TYPE_ON_SCREEN_POSITION
              - TARGETING_TYPE_THIRD_PARTY_VERIFIER
              - TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION
              - TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION
              - TARGETING_TYPE_ENVIRONMENT
              - TARGETING_TYPE_CARRIER_AND_ISP
              - TARGETING_TYPE_OPERATING_SYSTEM
              - TARGETING_TYPE_DEVICE_MAKE_MODEL
              - TARGETING_TYPE_KEYWORD
              - TARGETING_TYPE_NEGATIVE_KEYWORD_LIST
              - TARGETING_TYPE_VIEWABILITY
              - TARGETING_TYPE_CATEGORY
              - TARGETING_TYPE_INVENTORY_SOURCE
              - TARGETING_TYPE_LANGUAGE
              - TARGETING_TYPE_AUTHORIZED_SELLER_STATUS
              - TARGETING_TYPE_GEO_REGION
              - TARGETING_TYPE_INVENTORY_SOURCE_GROUP
              - TARGETING_TYPE_EXCHANGE
              - TARGETING_TYPE_SUB_EXCHANGE
              - TARGETING_TYPE_POI
              - TARGETING_TYPE_BUSINESS_CHAIN
              - TARGETING_TYPE_CONTENT_DURATION
              - TARGETING_TYPE_CONTENT_STREAM_TYPE
              - TARGETING_TYPE_NATIVE_CONTENT_POSITION
              - TARGETING_TYPE_OMID
              - TARGETING_TYPE_AUDIO_CONTENT_TYPE
              - TARGETING_TYPE_CONTENT_GENRE
            type: string
        - description: Required. An identifier unique to the targeting type in this insertion order that identifies the assigned targeting option being requested.
          in: path
          name: assignedTargetingOptionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedTargetingOption"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/insertionOrders/{insertionOrderId}:bulkListInsertionOrderAssignedTargetingOptions":
    get:
      description: Lists assigned targeting options of an insertion order across targeting types.
      operationId: displayvideo.advertisers.insertionOrders.bulkListInsertionOrderAssignedTargetingOptions
      parameters:
        - description: Required. The ID of the advertiser the insertion order belongs to.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Required. The ID of the insertion order to list assigned targeting options for.
          in: path
          name: insertionOrderId
          required: true
          schema:
            type: string
        - description: 'Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR` on the same field. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `targetingType` - `inheritance` Examples: * AssignedTargetingOptions of targeting type TARGETING_TYPE_PROXIMITY_LOCATION_LIST or TARGETING_TYPE_CHANNEL `targetingType="TARGETING_TYPE_PROXIMITY_LOCATION_LIST" OR targetingType="TARGETING_TYPE_CHANNEL"` * AssignedTargetingOptions with inheritance status of NOT_INHERITED or INHERITED_FROM_PARTNER `inheritance="NOT_INHERITED" OR inheritance="INHERITED_FROM_PARTNER"` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `targetingType desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is `5000`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListInsertionOrderAssignedTargetingOptions` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkListInsertionOrderAssignedTargetingOptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/invoices":
    get:
      description: Lists invoices posted for an advertiser in a given month. Invoices generated by billing profiles with a "Partner" invoice level are not retrievable through this method.
      operationId: displayvideo.advertisers.invoices.list
      parameters:
        - description: Required. The ID of the advertiser to list invoices for.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: The month to list the invoices for. If not set, the request will retrieve invoices for the previous month. Must be in the format YYYYMM.
          in: query
          name: issueMonth
          schema:
            type: string
        - description: Select type of invoice to retrieve for Loi Sapin advertisers. Only applicable to Loi Sapin advertisers. Will be ignored otherwise.
          in: query
          name: loiSapinInvoiceType
          schema:
            enum:
              - LOI_SAPIN_INVOICE_TYPE_UNSPECIFIED
              - LOI_SAPIN_INVOICE_TYPE_MEDIA
              - LOI_SAPIN_INVOICE_TYPE_PLATFORM
            type: string
        - description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInvoices` method. If not specified, the first page of results will be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInvoicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/invoices:lookupInvoiceCurrency":
    get:
      description: Retrieves the invoice currency used by an advertiser in a given month.
      operationId: displayvideo.advertisers.invoices.lookupInvoiceCurrency
      parameters:
        - description: Required. The ID of the advertiser to lookup currency for.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: Month for which the currency is needed. If not set, the request will return existing currency settings for the advertiser. Must be in the format YYYYMM.
          in: query
          name: invoiceMonth
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupInvoiceCurrencyResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/display-video
          Oauth2c:
            - https://www.googleapis.com/auth/display-video
        - Oauth2:
            - https://www.googleapis.com/auth/display-video-mediaplanning
          Oauth2c:
            - https://www.googleapis.com/auth/display-video-mediaplanning
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/advertisers/{advertiserId}/lineItems":
    get:
      description: Lists line items in an advertiser. The order is defined by the order_by parameter. If a filter by entity_status is not specified, line items with `ENTITY_STATUS_ARCHIVED` will not be included in the results.
      operationId: displayvideo.advertisers.lineItems.list
      parameters:
        - description: Required. The ID of the advertiser to list line items for.
          in: path
          name: advertiserId
          required: true
          schema:
            type: string
        - description: 'Allows filtering by line item properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator used on `flight.dateRange.endDate` must be LESS THAN (<). * The operator used on `updateTime` must be `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)`. * The operator used on `warningMessages` must be `HAS (:)`. * The operators used on all other fields must be `EQUALS (=)`. * Supported properties: - `campaignId` - `displayName` - `insertionOrderId` - `entityStatus` - `lineItemId` - `lineItemType` - `flight.dateRange.endDate` (input formatted as YYYY-MM-DD) - `warningMessages` - `flight.triggerId` - `updateTime` (input in ISO 8601 format, or YYYY-MM-DDTHH:MM:SSZ) - `targetedChannelId` - `targetedNegativeKeywordListId` Examples: * All line items under an insertion order: `insertionOrderId="1234"` * All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` and `LINE_ITEM_TYPE_DISPLAY_DEFAULT` line items under an advertiser: `(entityStatus="ENTITY_STATUS_ACTIVE" OR entityStatus="ENTITY_STATUS_PAUSED") AND lineItemType="LINE_ITEM_TYPE_DISPLAY_DEFAULT"` * All line items whose flight dates end before March 28, 2019: `flight.dateRange.endDate<"2019-03-28"` * All line items that have `NO_VALID_CREATIVE` in `warningMessages`: `warningMessages:"NO_VALID_CREATIVE"` * All line items with an update time less than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime<="2020-11-04T18:54:47Z"` * All line items with an update time greater than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime>="2020-11-04T18:54:47Z"` * All line items that are using both the specified channel and specified negative keyword list in their targeting: `targetedNegativeKeywordListId=789 AND targetedChannelId=12345` The length of this field should be no more than 500 characters.'
          in: query
          name: filter
          schema:
            type: string
        - description: 'Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` * `flight.dateRange.endDate` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix "desc" should be added to the field name. Example: `displayName desc`.'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.
          in: query
          name: pageSize
          schema:
            type: integer
[...]
