swagger: '2.0'
schemes:
  - https
  - http
host: pi.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>AWS Performance Insights enables you to monitor and explore different dimensions of database load based on data captured from a running RDS instance. The guide provides detailed information about Performance Insights data types, parameters and errors. For more information about Performance Insights capabilities see <a href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_PerfInsights.html">Using Amazon RDS Performance Insights </a> in the <i>Amazon RDS User Guide</i>.</p> <p> The AWS Performance Insights API provides visibility into the performance of your RDS instance, when Performance Insights is enabled for supported engine types. While Amazon CloudWatch provides the authoritative source for AWS service vended monitoring metrics, AWS Performance Insights offers a domain-specific view of database load measured as Average Active Sessions and provided to API consumers as a 2-dimensional time-series dataset. The time dimension of the data provides DB load data for each time point in the queried time range, and each time point decomposes overall load in relation to the requested dimensions, such as SQL, Wait-event, User or Host, measured at that time point.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Performance Insights
  version: '2018-02-27'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pi-2018-02-27.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: pi
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/pi/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=PerformanceInsightsv20180227.DescribeDimensionKeys':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'For a specific time period, retrieve the top <code>N</code> dimension keys for a metric.'
      operationId: DescribeDimensionKeys
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDimensionKeysRequest'
        - enum:
            - PerformanceInsightsv20180227.DescribeDimensionKeys
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDimensionKeysResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
  '/#X-Amz-Target=PerformanceInsightsv20180227.GetResourceMetrics':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieve Performance Insights metrics for a set of data sources, over a time period. You can provide specific dimension groups and dimensions, and provide aggregation and filtering criteria for each group.'
      operationId: GetResourceMetrics
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceMetricsRequest'
        - enum:
            - PerformanceInsightsv20180227.GetResourceMetrics
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceMetricsResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
definitions:
  DataPoint:
    description: 'A timestamp, and a single numerical value, which together represent a measurement at a particular point in time.'
    properties:
      Timestamp:
        $ref: '#/definitions/ISOTimestamp'
        description: 'The time, in epoch format, associated with a particular <code>Value</code>.'
      Value:
        $ref: '#/definitions/Double'
        description: The actual value associated with a particular <code>Timestamp</code>.
    required:
      - Timestamp
      - Value
    type: object
  DataPointsList:
    items:
      $ref: '#/definitions/DataPoint'
    type: array
  DescribeDimensionKeysRequest:
    properties:
      EndTime:
        $ref: '#/definitions/ISOTimestamp'
        description: <p>The date and time specifying the end of the requested time series data. The value specified is <i>exclusive</i> - data points less than (but not equal to) <code>EndTime</code> will be returned.</p> <p>The value for <code>EndTime</code> must be later than the value for <code>StartTime</code>.</p>
      Filter:
        $ref: '#/definitions/MetricQueryFilterMap'
        description: '<p>One or more filters to apply in the request. Restrictions:</p> <ul> <li> <p>Any number of filters by the same dimension, as specified in the <code>GroupBy</code> or <code>Partition</code> parameters.</p> </li> <li> <p>A single filter for any other dimension in this dimension group.</p> </li> </ul>'
      GroupBy:
        $ref: '#/definitions/DimensionGroup'
        description: 'A specification for how to aggregate the data points from a query result. You must specify a valid dimension group. Performance Insights will return all of the dimensions within that group, unless you provide the names of specific dimensions within that group. You can also request that Performance Insights return a limited number of values for a dimension.'
      Identifier:
        $ref: '#/definitions/String'
        description: '<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code> </p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of items to return in the response. If more items exist than the specified <code>MaxRecords</code> value, a pagination token is included in the response so that the remaining results can be retrieved. '
      Metric:
        $ref: '#/definitions/String'
        description: '<p>The name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code> are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code> - the raw number of active sessions for the database engine.</p> </li> </ul>'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>.'
      PartitionBy:
        $ref: '#/definitions/DimensionGroup'
        description: 'For each dimension specified in <code>GroupBy</code>, specify a secondary dimension to further subdivide the partition keys in the response.'
      PeriodInSeconds:
        $ref: '#/definitions/Integer'
        description: '<p>The granularity, in seconds, of the data points returned from Performance Insights. A period can be as short as one second, or as long as one day (86400 seconds). Valid values are:</p> <ul> <li> <p> <code>1</code> (one second)</p> </li> <li> <p> <code>60</code> (one minute)</p> </li> <li> <p> <code>300</code> (five minutes)</p> </li> <li> <p> <code>3600</code> (one hour)</p> </li> <li> <p> <code>86400</code> (twenty-four hours)</p> </li> </ul> <p>If you don''t specify <code>PeriodInSeconds</code>, then Performance Insights will choose a value for you, with a goal of returning roughly 100-200 data points in the response.</p>'
      ServiceType:
        $ref: '#/definitions/ServiceType'
        description: 'The AWS service for which Performance Insights will return metrics. The only valid value for <i>ServiceType</i> is: <code>RDS</code> '
      StartTime:
        $ref: '#/definitions/ISOTimestamp'
        description: <p>The date and time specifying the beginning of the requested time series data. You can't specify a <code>StartTime</code> that's earlier than 7 days ago. The value specified is <i>inclusive</i> - data points equal to or greater than <code>StartTime</code> will be returned.</p> <p>The value for <code>StartTime</code> must be earlier than the value for <code>EndTime</code>.</p>
    required:
      - ServiceType
      - Identifier
      - StartTime
      - EndTime
      - Metric
      - GroupBy
    type: object
  DescribeDimensionKeysResponse:
    properties:
      AlignedEndTime:
        $ref: '#/definitions/ISOTimestamp'
        description: 'The end time for the returned dimension keys, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than or equal to the value of the user-specified <code>Endtime</code>.'
      AlignedStartTime:
        $ref: '#/definitions/ISOTimestamp'
        description: 'The start time for the returned dimension keys, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be less than or equal to the value of the user-specified <code>StartTime</code>.'
      Keys:
        $ref: '#/definitions/DimensionKeyDescriptionList'
        description: The dimension keys that were requested.
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>.'
      PartitionKeys:
        $ref: '#/definitions/ResponsePartitionKeyList'
        description: 'If <code>PartitionBy</code> was present in the request, <code>PartitionKeys</code> contains the breakdown of dimension keys by the specified partitions.'
    type: object
  DimensionGroup:
    description: 'A logical grouping of Performance Insights metrics for a related subject area. For example, the <code>db.sql</code> dimension group consists of the following dimensions: <code>db.sql.id</code>, <code>db.sql.db_id</code>, <code>db.sql.statement</code>, and <code>db.sql.tokenized_id</code>.'
    properties:
      Dimensions:
        $ref: '#/definitions/StringList'
        description: '<p>A list of specific dimensions from a dimension group. If this parameter is not present, then it signifies that all of the dimensions in the group were requested, or are present in the response.</p> <p>Valid values for elements in the <code>Dimensions</code> array are:</p> <ul> <li> <p>db.user.id</p> </li> <li> <p>db.user.name</p> </li> <li> <p>db.host.id</p> </li> <li> <p>db.host.name</p> </li> <li> <p>db.sql.id</p> </li> <li> <p>db.sql.db_id</p> </li> <li> <p>db.sql.statement</p> </li> <li> <p>db.sql.tokenized_id</p> </li> <li> <p>db.sql_tokenized.id</p> </li> <li> <p>db.sql_tokenized.db_id</p> </li> <li> <p>db.sql_tokenized.statement</p> </li> <li> <p>db.wait_event.name</p> </li> <li> <p>db.wait_event.type</p> </li> <li> <p>db.wait_event_type.name</p> </li> </ul>'
      Group:
        $ref: '#/definitions/String'
        description: '<p>The name of the dimension group. Valid values are:</p> <ul> <li> <p> <code>db.user</code> </p> </li> <li> <p> <code>db.host</code> </p> </li> <li> <p> <code>db.sql</code> </p> </li> <li> <p> <code>db.sql_tokenized</code> </p> </li> <li> <p> <code>db.wait_event</code> </p> </li> <li> <p> <code>db.wait_event_type</code> </p> </li> </ul>'
      Limit:
        $ref: '#/definitions/Limit'
        description: The maximum number of items to fetch for this dimension group.
    required:
      - Group
    type: object
  DimensionKeyDescription:
    description: An array of descriptions and aggregated values for each dimension within a dimension group.
    properties:
      Dimensions:
        $ref: '#/definitions/DimensionMap'
        description: A map of name-value pairs for the dimensions in the group.
      Partitions:
        $ref: '#/definitions/MetricValuesList'
        description: 'If <code>PartitionBy</code> was specified, <code>PartitionKeys</code> contains the dimensions that were.'
      Total:
        $ref: '#/definitions/Double'
        description: 'The aggregated metric value for the dimension(s), over the requested time range.'
    type: object
  DimensionKeyDescriptionList:
    items:
      $ref: '#/definitions/DimensionKeyDescription'
    type: array
  DimensionMap:
    additionalProperties:
      $ref: '#/definitions/String'
    type: object
  Double:
    format: double
    type: number
  GetResourceMetricsRequest:
    properties:
      EndTime:
        $ref: '#/definitions/ISOTimestamp'
        description: <p>The date and time specifiying the end of the requested time series data. The value specified is <i>exclusive</i> - data points less than (but not equal to) <code>EndTime</code> will be returned.</p> <p>The value for <code>EndTime</code> must be later than the value for <code>StartTime</code>.</p>
      Identifier:
        $ref: '#/definitions/String'
        description: '<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code> </p>'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of items to return in the response. If more items exist than the specified <code>MaxRecords</code> value, a pagination token is included in the response so that the remaining results can be retrieved. '
      MetricQueries:
        $ref: '#/definitions/MetricQueryList'
        description: 'An array of one or more queries to perform. Each query must specify a Performance Insights metric, and can optionally specify aggregation and filtering criteria.'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>.'
      PeriodInSeconds:
        $ref: '#/definitions/Integer'
        description: '<p>The granularity, in seconds, of the data points returned from Performance Insights. A period can be as short as one second, or as long as one day (86400 seconds). Valid values are:</p> <ul> <li> <p> <code>1</code> (one second)</p> </li> <li> <p> <code>60</code> (one minute)</p> </li> <li> <p> <code>300</code> (five minutes)</p> </li> <li> <p> <code>3600</code> (one hour)</p> </li> <li> <p> <code>86400</code> (twenty-four hours)</p> </li> </ul> <p>If you don''t specify <code>PeriodInSeconds</code>, then Performance Insights will choose a value for you, with a goal of returning roughly 100-200 data points in the response.</p>'
      ServiceType:
        $ref: '#/definitions/ServiceType'
        description: 'The AWS service for which Performance Insights will return metrics. The only valid value for <i>ServiceType</i> is: <code>RDS</code> '
      StartTime:
        $ref: '#/definitions/ISOTimestamp'
        description: <p>The date and time specifying the beginning of the requested time series data. You can't specify a <code>StartTime</code> that's earlier than 7 days ago. The value specified is <i>inclusive</i> - data points equal to or greater than <code>StartTime</code> will be returned.</p> <p>The value for <code>StartTime</code> must be earlier than the value for <code>EndTime</code>.</p>
    required:
      - ServiceType
      - Identifier
      - MetricQueries
      - StartTime
      - EndTime
    type: object
  GetResourceMetricsResponse:
    properties:
      AlignedEndTime:
        $ref: '#/definitions/ISOTimestamp'
        description: 'The end time for the returned metrics, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than or equal to the value of the user-specified <code>Endtime</code>.'
      AlignedStartTime:
        $ref: '#/definitions/ISOTimestamp'
        description: 'The start time for the returned metrics, after alignment to a granular boundary (as specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be less than or equal to the value of the user-specified <code>StartTime</code>.'
      Identifier:
        $ref: '#/definitions/String'
        description: '<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from this data source.</p> <p>To use an Amazon RDS instance as a data source, you specify its <code>DbiResourceId</code> value - for example: <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code> </p>'
      MetricList:
        $ref: '#/definitions/MetricKeyDataPointsList'
        description: 'An array of metric results,, where each array element contains all of the data points for a particular dimension.'
      NextToken:
        $ref: '#/definitions/String'
        description: 'An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the token, up to the value specified by <code>MaxRecords</code>.'
    type: object
  ISOTimestamp:
    format: date-time
    type: string
  Integer:
    type: integer
  InternalServiceError:
    description: The request failed due to an unknown error.
    properties:
      Message:
        $ref: '#/definitions/String'
    type: object
  InvalidArgumentException:
    description: One of the arguments provided is invalid for this request.
    properties:
      Message:
        $ref: '#/definitions/String'
    type: object
  Limit:
    maximum: 10
    minimum: 1
    type: integer
  MaxResults:
    maximum: 20
    minimum: 0
    type: integer
  MetricKeyDataPoints:
    description: 'A time-ordered series of data points, correpsonding to a dimension of a Performance Insights metric.'
    properties:
      DataPoints:
        $ref: '#/definitions/DataPointsList'
        description: 'An array of timestamp-value pairs, representing measurements over a period of time.'
      Key:
        $ref: '#/definitions/ResponseResourceMetricKey'
        description: The dimension(s) to which the data points apply.
    type: object
  MetricKeyDataPointsList:
    items:
      $ref: '#/definitions/MetricKeyDataPoints'
    type: array
  MetricQuery:
    description: 'A single query to be processed. You must provide the metric to query. If no other parameters are specified, Performance Insights returns all of the data points for that metric. You can optionally request that the data points be aggregated by dimension group ( <code>GroupBy</code>), and return only those data points that match your criteria (<code>Filter</code>).'
    properties:
      Filter:
        $ref: '#/definitions/MetricQueryFilterMap'
        description: '<p>One or more filters to apply in the request. Restrictions:</p> <ul> <li> <p>Any number of filters by the same dimension, as specified in the <code>GroupBy</code> parameter.</p> </li> <li> <p>A single filter for any other dimension in this dimension group.</p> </li> </ul>'
      GroupBy:
        $ref: '#/definitions/DimensionGroup'
        description: 'A specification for how to aggregate the data points from a query result. You must specify a valid dimension group. Performance Insights will return all of the dimensions within that group, unless you provide the names of specific dimensions within that group. You can also request that Performance Insights return a limited number of values for a dimension.'
      Metric:
        $ref: '#/definitions/String'
        description: '<p>The name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code> are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code> - the raw number of active sessions for the database engine.</p> </li> </ul>'
    required:
      - Metric
    type: object
  MetricQueryFilterMap:
    additionalProperties:
      $ref: '#/definitions/String'
    type: object
  MetricQueryList:
    items:
      $ref: '#/definitions/MetricQuery'
    maxItems: 15
    minItems: 1
    type: array
  MetricValuesList:
    items:
      $ref: '#/definitions/Double'
    type: array
  NotAuthorizedException:
    description: The user is not authorized to perform this request.
    properties:
      Message:
        $ref: '#/definitions/String'
    type: object
  ResponsePartitionKey:
    description: 'If <code>PartitionBy</code> was specified in a <code>DescribeDimensionKeys</code> request, the dimensions are returned in an array. Each element in the array specifies one dimension. '
    properties:
      Dimensions:
        $ref: '#/definitions/DimensionMap'
        description: A dimension map that contains the dimension(s) for this partition.
    required:
      - Dimensions
    type: object
  ResponsePartitionKeyList:
    items:
      $ref: '#/definitions/ResponsePartitionKey'
    type: array
  ResponseResourceMetricKey:
    description: An object describing a Performance Insights metric and one or more dimensions for that metric.
    properties:
      Dimensions:
        $ref: '#/definitions/DimensionMap'
        description: The valid dimensions for the metric.
      Metric:
        $ref: '#/definitions/String'
        description: '<p>The name of a Performance Insights metric to be measured.</p> <p>Valid values for <code>Metric</code> are:</p> <ul> <li> <p> <code>db.load.avg</code> - a scaled representation of the number of active sessions for the database engine.</p> </li> <li> <p> <code>db.sampledload.avg</code> - the raw number of active sessions for the database engine.</p> </li> </ul>'
    required:
      - Metric
    type: object
  ServiceType:
    enum:
      - RDS
    type: string
  String:
    type: string
  StringList:
    items:
      $ref: '#/definitions/String'
    maxItems: 10
    minItems: 1
    type: array
x-servers:
  - description: The AWS PI multi-region endpoint
    url: 'http://pi.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS PI multi-region endpoint
    url: 'https://pi.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS PI endpoint for China (Beijing) and China (Ningxia)
    url: 'http://pi.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWS PI endpoint for China (Beijing) and China (Ningxia)
    url: 'https://pi.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
