swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /groups/v1/groups
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Lets you manage permission levels and related settings of a group.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Groups Settings
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/groupssettings/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: groupssettings
externalDocs:
  url: 'https://developers.google.com/google-apps/groups-settings/get_started'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/apps.groups.settings': View and manage the settings of a G Suite group
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/apps.groups.settings': View and manage the settings of a G Suite group
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: atom
    description: Data format for the response.
    enum:
      - atom
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: groups
paths:
  '/{groupUniqueId}':
    get:
      description: Gets one resource by id.
      operationId: groupsSettings.groups.get
      parameters:
        - description: The resource ID
          in: path
          name: groupUniqueId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.groups.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.groups.settings'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing resource. This method supports patch semantics.
      operationId: groupsSettings.groups.patch
      parameters:
        - description: The resource ID
          in: path
          name: groupUniqueId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Groups'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.groups.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.groups.settings'
      tags:
        - groups
    put:
      description: Updates an existing resource.
      operationId: groupsSettings.groups.update
      parameters:
        - description: The resource ID
          in: path
          name: groupUniqueId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Groups'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.groups.settings'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.groups.settings'
      tags:
        - groups
definitions:
  Groups:
    description: JSON template for Group resource
    properties:
      allowExternalMembers:
        description: Are external members allowed to join the group.
        type: string
      allowGoogleCommunication:
        description: Is google allowed to contact admins.
        type: string
      allowWebPosting:
        description: If posting from web is allowed.
        type: string
      archiveOnly:
        description: If the group is archive only
        type: string
      customFooterText:
        description: Custom footer text.
        type: string
      customReplyTo:
        description: Default email to which reply to any message should go.
        type: string
      defaultMessageDenyNotificationText:
        description: Default message deny notification message
        type: string
      description:
        description: Description of the group
        type: string
      email:
        description: Email id of the group
        type: string
      includeCustomFooter:
        description: Whether to include custom footer.
        type: string
      includeInGlobalAddressList:
        description: If this groups should be included in global address list or not.
        type: string
      isArchived:
        description: If the contents of the group are archived.
        type: string
      kind:
        default: 'groupsSettings#groups'
        description: The type of the resource.
        type: string
      maxMessageBytes:
        description: Maximum message size allowed.
        format: int32
        type: integer
      membersCanPostAsTheGroup:
        description: Can members post using the group email address.
        type: string
      messageDisplayFont:
        description: 'Default message display font. Possible values are: DEFAULT_FONT FIXED_WIDTH_FONT'
        type: string
      messageModerationLevel:
        description: 'Moderation level for messages. Possible values are: MODERATE_ALL_MESSAGES MODERATE_NON_MEMBERS MODERATE_NEW_MEMBERS MODERATE_NONE'
        type: string
      name:
        description: Name of the Group
        type: string
      primaryLanguage:
        description: Primary language for the group.
        type: string
      replyTo:
        description: 'Whome should the default reply to a message go to. Possible values are: REPLY_TO_CUSTOM REPLY_TO_SENDER REPLY_TO_LIST REPLY_TO_OWNER REPLY_TO_IGNORE REPLY_TO_MANAGERS'
        type: string
      sendMessageDenyNotification:
        description: Should the member be notified if his message is denied by owner.
        type: string
      showInGroupDirectory:
        description: Is the group listed in groups directory
        type: string
      spamModerationLevel:
        description: 'Moderation level for messages detected as spam. Possible values are: ALLOW MODERATE SILENTLY_MODERATE REJECT'
        type: string
      whoCanAdd:
        description: 'Permissions to add members. Possible values are: ALL_MANAGERS_CAN_ADD ALL_MEMBERS_CAN_ADD NONE_CAN_ADD'
        type: string
      whoCanContactOwner:
        description: 'Permission to contact owner of the group via web UI. Possible values are: ANYONE_CAN_CONTACT ALL_IN_DOMAIN_CAN_CONTACT ALL_MEMBERS_CAN_CONTACT ALL_MANAGERS_CAN_CONTACT'
        type: string
      whoCanInvite:
        description: 'Permissions to invite members. Possible values are: ALL_MEMBERS_CAN_INVITE ALL_MANAGERS_CAN_INVITE NONE_CAN_INVITE'
        type: string
      whoCanJoin:
        description: 'Permissions to join the group. Possible values are: ANYONE_CAN_JOIN ALL_IN_DOMAIN_CAN_JOIN INVITED_CAN_JOIN CAN_REQUEST_TO_JOIN'
        type: string
      whoCanLeaveGroup:
        description: 'Permission to leave the group. Possible values are: ALL_MANAGERS_CAN_LEAVE ALL_MEMBERS_CAN_LEAVE NONE_CAN_LEAVE'
        type: string
      whoCanPostMessage:
        description: 'Permissions to post messages to the group. Possible values are: NONE_CAN_POST ALL_MANAGERS_CAN_POST ALL_MEMBERS_CAN_POST ALL_OWNERS_CAN_POST ALL_IN_DOMAIN_CAN_POST ANYONE_CAN_POST'
        type: string
      whoCanViewGroup:
        description: 'Permissions to view group. Possible values are: ANYONE_CAN_VIEW ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW ALL_MANAGERS_CAN_VIEW'
        type: string
      whoCanViewMembership:
        description: 'Permissions to view membership. Possible values are: ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW ALL_MANAGERS_CAN_VIEW'
        type: string
    type: object
