swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscNodeConfiguration.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: automation-dscNodeConfiguration
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations':
    get:
      description: Retrieve a list of dsc node configurations.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      operationId: DscNodeConfiguration_ListByAutomationAccount
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the list job operation.
            properties:
              nextLink:
                description: Gets or sets the next link.
                type: string
              value:
                description: Gets or sets a list of Dsc node configurations.
                items:
                  description: Definition of the dsc node configuration.
                  properties:
                    configuration:
                      description: The Dsc configuration property associated with the entity.
                      properties:
                        name:
                          description: Gets or sets the name of the Dsc configuration.
                          type: string
                    creationTime:
                      description: Gets or sets creation time.
                      format: date-time
                      type: string
                    id:
                      description: Gets or sets the id of the resource.
                      type: string
                    lastModifiedTime:
                      description: Gets or sets the last modified time.
                      format: date-time
                      type: string
                    name:
                      description: Gets or sets the node configuration name.
                      type: string
                type: array
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        List DSC node configurations by Automation Account:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - configuration:
                      name: SetupServer
                    creationTime: '2017-03-28T23:17:06.8901968+00:00'
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost
                    lastModifiedTime: '2017-03-28T23:17:06.8901968+00:00'
                    name: SetupServer.localhost
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}':
    delete:
      description: Delete the Dsc node configurations by node configuration.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      operationId: DscNodeConfiguration_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The Dsc node configuration name.
          in: path
          name: nodeConfigurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        Delete a DSC node configuration:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount20
            credentialName: myCredential
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200': {}
    get:
      description: Retrieve the Dsc node configurations by node configuration.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      operationId: DscNodeConfiguration_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The Dsc node configuration name.
          in: path
          name: nodeConfigurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the dsc node configuration.
            properties:
              configuration:
                description: The Dsc configuration property associated with the entity.
                properties:
                  name:
                    description: Gets or sets the name of the Dsc configuration.
                    type: string
              creationTime:
                description: Gets or sets creation time.
                format: date-time
                type: string
              id:
                description: Gets or sets the id of the resource.
                type: string
              lastModifiedTime:
                description: Gets or sets the last modified time.
                format: date-time
                type: string
              name:
                description: Gets or sets the node configuration name.
                type: string
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        Get a DSC node configuration:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: myAutomationAccount33
            nodeConfigurationName: SetupServer.localhost
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                configuration:
                  name: SetupServer
                creationTime: '2017-03-28T23:17:06.8901968+00:00'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost
                lastModifiedTime: '2017-03-28T23:17:06.8901968+00:00'
                name: SetupServer.localhost
              headers: {}
    put:
      description: Create the node configuration identified by node configuration name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/dscnodeconfigurations'
      operationId: DscNodeConfiguration_CreateOrUpdate
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The create or update parameters for configuration.
          in: path
          name: nodeConfigurationName
          required: true
          type: string
        - description: The create or update parameters for configuration.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the create or update node configuration operation.
            properties:
              configuration:
                description: The Dsc configuration property associated with the entity.
                properties:
                  name:
                    description: Gets or sets the name of the Dsc configuration.
                    type: string
              name:
                description: Gets or sets the type of the parameter.
                type: string
              newNodeConfigurationBuildVersionRequired:
                description: If a new build version of NodeConfiguration is required.
                type: boolean
              source:
                description: Definition of the content source.
                properties:
                  hash:
                    description: Definition of the runbook property type.
                    properties:
                      algorithm:
                        description: Gets or sets the content hash algorithm used to hash the content.
                        type: string
                      value:
                        description: Gets or sets expected hash value of the content.
                        type: string
                    required:
                      - algorithm
                      - value
                  type:
                    description: Gets or sets the content source type.
                    enum:
                      - embeddedContent
                      - uri
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ContentSourceType
                  value:
                    description: Gets or sets the value of the content. This is based on the content source type.
                    type: string
                  version:
                    description: Gets or sets the version of the content.
                    type: string
            required:
              - source
              - name
              - configuration
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the dsc node configuration.
            properties:
              configuration:
                description: The Dsc configuration property associated with the entity.
                properties:
                  name:
                    description: Gets or sets the name of the Dsc configuration.
                    type: string
              creationTime:
                description: Gets or sets creation time.
                format: date-time
                type: string
              id:
                description: Gets or sets the id of the resource.
                type: string
              lastModifiedTime:
                description: Gets or sets the last modified time.
                format: date-time
                type: string
              name:
                description: Gets or sets the node configuration name.
                type: string
        '201':
          description: Created
          schema:
            description: Definition of the dsc node configuration.
            properties:
              configuration:
                description: The Dsc configuration property associated with the entity.
                properties:
                  name:
                    description: Gets or sets the name of the Dsc configuration.
                    type: string
              creationTime:
                description: Gets or sets creation time.
                format: date-time
                type: string
              id:
                description: Gets or sets the id of the resource.
                type: string
              lastModifiedTime:
                description: Gets or sets the last modified time.
                format: date-time
                type: string
              name:
                description: Gets or sets the node configuration name.
                type: string
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
definitions: {}
