swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: RecoveryServicesBackupClient
  version: '2016-12-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/bms.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-bms
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupName:
    description: The name of the resource group where the recovery services vault is present.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: The subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
  VaultName:
    description: The name of the recovery services vault.
    in: path
    name: vaultName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines':
    get:
      description: Backup management servers registered to Recovery Services Vault. Returns a pageable list of servers.
      operationId: BackupEngines_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupEngineBaseResourceList'
      tags:
        - BackupEngines
      x-ms-examples:
        List Dpm/AzureBackupServer/Lajolla Backup Engines:
          parameters:
            api-version: '2016-12-01'
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/testVault/backupEngines/testServer1
                    name: testServer1
                    properties:
                      azureBackupAgentVersion: 2.0.9532.0
                      backupEngineState: Active
                      backupEngineType: DpmBackupEngine
                      dpmVersion: 5.1.348.0
                      extendedInfo:
                        availableDiskSpace: 50
                        diskCount: 5
                        protectedItemsCount: 35
                        protectedServersCount: 21
                        usedDiskSpace: 20
                      friendlyName: testServer1
                      isAzureBackupAgentUpgradeAvailable: false
                      isDpmUpgradeAvailable: false
                      registrationStatus: Registered
                    type: Microsoft.RecoveryServices/vaults/backupEngines
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/testVault/backupEngines/testServer5
                    name: testServer5
                    properties:
                      azureBackupAgentVersion: 2.0.9530.0
                      backupEngineState: Active
                      backupEngineType: DpmBackupEngine
                      dpmVersion: 5.1.348.0
                      extendedInfo:
                        availableDiskSpace: 50
                        diskCount: 5
                        protectedItemsCount: 35
                        protectedServersCount: 21
                        usedDiskSpace: 20
                      friendlyName: testServer5
                      isAzureBackupAgentUpgradeAvailable: false
                      isDpmUpgradeAvailable: false
                      registrationStatus: Registered
                    type: Microsoft.RecoveryServices/vaults/backupEngines
      x-ms-odata: '#/definitions/BMSBackupEnginesQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines/{backupEngineName}':
    get:
      description: Returns backup management server registered to Recovery Services Vault.
      operationId: BackupEngines_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Name of the backup management server.
          in: path
          name: backupEngineName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupEngineBaseResource'
      tags:
        - BackupEngines
      x-ms-examples:
        Get Dpm/AzureBackupServer/Lajolla Backup Engine Details:
          parameters:
            api-version: '2016-12-01'
            backupEngineName: testServer
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/testVault/backupEngines/testServer
                name: testServer
                properties:
                  azureBackupAgentVersion: 2.0.9532.0
                  backupEngineState: Active
                  backupEngineType: DpmBackupEngine
                  dpmVersion: 5.1.348.0
                  extendedInfo:
                    availableDiskSpace: 50
                    diskCount: 5
                    protectedItemsCount: 35
                    protectedServersCount: 21
                    usedDiskSpace: 20
                  friendlyName: testServer
                  isAzureBackupAgentUpgradeAvailable: false
                  isDpmUpgradeAvailable: false
                  registrationStatus: Registered
                type: Microsoft.RecoveryServices/vaults/backupEngines
      x-ms-odata: '#/definitions/BMSBackupEngineQueryObject'
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}':
    get:
      description: Provides the result of the refresh operation triggered by the BeginRefresh operation.
      operationId: ProtectionContainerRefreshOperationResults_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the container.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Operation ID associated with the operation whose result needs to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectionContainerRefreshOperationResults
      x-ms-examples:
        Azure Vm Discovery Operation Result:
          parameters:
            api-version: '2016-12-01'
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: null
              headers:
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
            '204':
              body: null
              headers: {}
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectableContainers':
    get:
      description: Lists the containers that can be registered to Recovery Services Vault.
      operationId: ProtectableContainers_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - in: path
          name: fabricName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectableContainerResourceList'
      tags:
        - ProtectableContainers
      x-ms-examples:
        List protectable items with backupManagementType filter as AzureStorage:
          parameters:
            $filter: backupManagementType eq 'AzureStorage' and workloadType eq 'AzureFileShare'
            api-version: '2017-07-01'
            fabricName: Azure
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectableContainers/StorageContainer;storage;test-rg;teststorage
                    name: StorageContainer;storage;test-rg;testst
                    properties:
                      backupManagementType: AzureStorage
                      containerId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Storage/storageAccounts/teststorage
                      friendlyName: teststorage
                      healthStatus: Healthy
                      protectableContainerType: StorageContainer
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectableContainers/StorageContainer;ClassicStorage;test-rg;teststorage
                    name: StorageContainer;ClassicStorage;test-rg;teststorage
                    properties:
                      backupManagementType: AzureStorage
                      containerId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.ClassicStorage/storageAccounts/teststorage
                      friendlyName: teststorage
                      healthStatus: Healthy
                      protectableContainerType: StorageContainer
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}':
    delete:
      description: "Unregisters the given container from your Recovery Services Vault. This is an asynchronous operation. To determine\r\nwhether the backend service has finished processing the request, call Get Container Operation Result API."
      operationId: ProtectionContainers_Unregister
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Name of the fabric where the container belongs.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Name of the container which needs to be unregistered from the Recovery Services Vault.
          in: path
          name: containerName
          required: true
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectionContainers
      x-ms-examples:
        Unregister Protection Container:
          parameters:
            api-version: '2016-12-01'
            backupFabrics: Azure
            protectionContainers: VMAppContainer;Compute;testRG;testSQL
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                friendlyName: testVault
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/vaults/testVault/backupOperationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                location: null
                name: testVault
                providerName: Microsoft.RecoveryServices
                resourceGroup: testRg
                resourceName: testVault
                resourceType: vaults
                status:
                  displayName: null
                  infoText: null
                  name: null
                  operationState: InProgress
                  severity: null
                subscriptionId: 00000000-0000-0000-0000-000000000000
                type: null
    get:
      description: Gets details of the specific container registered to your Recovery Services Vault.
      operationId: ProtectionContainers_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Name of the fabric where the container belongs.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Name of the container whose details need to be fetched.
          in: path
          name: containerName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
      tags:
        - ProtectionContainers
      x-ms-examples:
        Get Protection Container Details:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: '2016-12-01'
            backupFabrics: Azure
            protectionContainers: VMAppContainer;Compute;testRG;testSQL
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                continuationToken: null
                resultArray:
                  - backupManagementType: AzureWorkload
                    backupReadiness: Success
                    backupReadinessText: Ready
                    containerId: null
                    containerName: null
                    containerType: VMAppContainer
                    details: 14 DB(s) Found
                    friendlyName: testSQL
                    hostServerName: testsql
                    id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL
                    inquiryErrorDetails: null
                    inquiryInfo:
                      errorDetails:
                        errorCode: Success
                        errorString: Not Available
                        recommendations:
                          - Not Available
                      status: Success
                      workloadInquiryDetails:
                        - inquiryValidation:
                            errorDetails:
                              errorCode: Success
                              errorString: Not Available
                              recommendations:
                                - Not Available
                            status: Success
                          itemCount: 14
                          type: sql
                    location: null
                    name: VMAppContainer;Compute;testRG;testSQL
                    nodeList: []
                    providerName: Microsoft.RecoveryServices
                    registrationStatus: Registered
                    resourceGroup: testRg
                    resourceName: testVault
                    resourceType: vaults
                    sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Compute/virtualMachines/testSQL
                    sourceResourceRG: testRG
                    status: null
                    subscriptionId: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers
                    workloadType: null
                totalCount: 0
    put:
      description: "Registers the container with Recovery Services vault.\r\nThis is an asynchronous operation. To track the operation status, use location header to call get latest status of\r\nthe operation."
      operationId: ProtectionContainers_Register
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the container.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Name of the container to be registered.
          in: path
          name: containerName
          required: true
          type: string
        - description: Request body for operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
        '202':
          description: Accepted
      tags:
        - ProtectionContainers
      x-ms-examples:
        RegisterAzure Storage ProtectionContainers:
          parameters:
            api-version: '2017-07-01'
            containerName: storagecontainer;Storage;test-rg;teststorage
            fabricName: Azure
            parameters:
              properties:
                backupManagementType: AzureStorage
                containerType: StorageContainer
                friendlyName: teststorage
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Storage/storageAccounts/teststorage
            resourceGroupName: test-rg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/inquire':
    post:
      description: This is an async operation and the results should be tracked using location header or Azure-async-url.
      operationId: ProtectionContainers_Inquire
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric Name associated with the container.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Name of the container in which inquiry needs to be triggered.
          in: path
          name: containerName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '202':
          description: Accepted
      summary: Inquires all the protectable items under the given container.
      tags:
        - ProtectionContainers
      x-ms-examples:
        Inquire Azure Storage Protection Containers:
          parameters:
            api-version: '2017-07-01'
            containerName: storagecontainer;Storage;test-rg;teststorage
            fabricName: Azure
            resourceGroupName: test-rg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
      x-ms-odata: '#/definitions/BMSContainersInquiryQueryObject'
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/items':
    get:
      description: "Provides a pageable list of workload item of a specific container according to the query filter and the pagination\r\nparameters."
      operationId: BackupWorkloadItems_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the container.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Name of the container.
          in: path
          name: containerName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkloadItemResourceList'
      tags:
        - BackupWorkloadItems
      x-ms-examples:
        List Workload Items in Container:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: '2016-12-01'
            backupFabrics: Azure
            protectionContainers: VMAppContainer;Compute;testRG;testSQL
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                nextLink: null
                value:
                  - backupManagementType: AzureWorkload
                    dataDirectoryPaths:
                      - logicalName: null
                        path: 'F:\Data\'
                        type: Data
                      - logicalName: null
                        path: 'F:\Log\'
                        type: Log
                    friendlyName: MSSQLSERVER
                    id: null
                    location: null
                    name: null
                    providerName: null
                    resourceGroup: null
                    resourceName: null
                    resourceType: null
                    status:
                      displayName: null
                      infoText: null
                      name: null
                      operationState: null
                      severity: null
                    subscriptionId: null
                    type: null
      x-ms-odata: '#/definitions/BMSWorkloadItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}':
    get:
      description: Fetches the result of any operation on the container.
      operationId: ProtectionContainerOperationResults_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the container.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name whose information should be fetched.
          in: path
          name: containerName
          required: true
          type: string
        - description: Operation ID which represents the operation whose result needs to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectionContainerOperationResults
      x-ms-examples:
        Get Azure Storage Protection Container Operation Result:
          parameters:
            api-version: '2017-07-01'
            containerName: storagecontainer;Storage;test-rg;teststorage
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: test-rg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            '204':
              body: {}
              headers: {}
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}':
    delete:
      description: "Used to disable backup of an item within a container. This is an asynchronous operation. To know the status of the\r\nrequest, call the GetItemOperationResult API."
      operationId: ProtectedItems_Delete
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item to be deleted.
          in: path
          name: protectedItemName
          required: true
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectedItems
      x-ms-examples:
        Delete Protection from Azure Virtual Machine:
          parameters:
            api-version: '2016-12-01'
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperations/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
    get:
      description: "Provides the details of the backed up item. This is an asynchronous operation. To know the status of the operation,\r\ncall the GetItemOperationResult API."
      operationId: ProtectedItems_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
      tags:
        - ProtectedItems
      x-ms-examples:
        Get Protected Classic Virtual Machine Details:
          parameters:
            api-version: '2016-12-01'
            containerName: iaasvmcontainer;iaasvmcontainer;iaasvm-rg;iaasvm-1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainer;iaasvm-rg;iaasvm-1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                  friendlyName: iaasvm-1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: '2018-01-22T12:25:32.048723Z'
                  lastRecoveryPoint: '2017-11-22T12:25:32.048723Z'
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: '636482643132986882'
                  protectedItemType: Microsoft.ClassicCompute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
              headers: {}
        Get Protected Virtual Machine Details:
          parameters:
            api-version: '2016-12-01'
            containerName: iaasvmcontainer;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                name: VM;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                  friendlyName: iaasvm-1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: '2018-01-22T12:25:32.048723Z'
                  lastRecoveryPoint: '2017-11-22T12:25:32.048723Z'
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: '636482643132986882'
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.Compute/virtualMachines/iaasvm-1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.Compute/virtualMachines/iaasvm-1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
              headers: {}
      x-ms-odata: '#/definitions/GetProtectedItemQueryObject'
    put:
      description: "Enables backup of an item or to modifies the backup policy information of an already backed up item. This is an\r\nasynchronous operation. To know the status of the operation, call the GetItemOperationResult API."
      operationId: ProtectedItems_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Item name to be backed up.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: resource backed up item
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ProtectedItemResource'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
        '202':
          description: Accepted
      tags:
        - ProtectedItems
      x-ms-examples:
        Enable Protection on Azure IaasVm:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                policyId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                protectedItemType: Microsoft.Compute/virtualMachines
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
        Stop Protection with retain data on Azure IaasVm:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                protectedItemType: Microsoft.Compute/virtualMachines
                protectionState: ProtectionStopped
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup':
    post:
      description: "Triggers backup for specified backed up item. This is an asynchronous operation. To know the status of the\r\noperation, call GetProtectedItemOperationResult API."
      operationId: Backups_Trigger
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backup item for which backup needs to be triggered.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: resource backup request
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BackupRequestResource'
      responses:
        '202':
          description: Accepted
      tags:
        - Backups
      x-ms-examples:
        Trigger Backup:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;testrg;v1win2012r
            fabricName: Azure
            parameters:
              properties:
                objectType: IaasVMBackupRequest
            protectedItemName: VM;iaasvmcontainerv2;testrg;v1win2012r
            resourceGroupName: linuxRsVaultRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: linuxRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/linuxRsVaultRG/providers/Microsoft.RecoveryServices/vaults/linuxRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;testrg;v1win2012r/protectedItems/VM;iaasvmcontainer;testrg;v1win2012r/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/linuxRsVaultRG/providers/Microsoft.RecoveryServices/vaults/linuxRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;testrg;v1win2012r/protectedItems/VM;iaasvmcontainer;testrg;v1win2012r/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}':
    get:
      description: Fetches the result of any operation on the backup item.
      operationId: ProtectedItemOperationResults_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backup item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OperationID which represents the operation whose result needs to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - ProtectedItemOperationResults
      x-ms-examples:
        Get Operation Results of Protected Vm:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}':
    get:
      description: "Fetches the status of an operation such as triggering a backup, restore. The status can be in progress, completed\r\nor failed. You can refer to the OperationStatus enum for all the possible states of the operation. Some operations\r\ncreate jobs. This method returns the list of jobs associated with the operation."
      operationId: ProtectedItemOperationStatuses_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backup item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OperationID represents the operation whose status needs to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
        - ProtectedItemOperationStatuses
      x-ms-examples:
        Get Operation Status of Protected Vm:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                endTime: '2017-10-29T06:04:18.207325Z'
                id: 00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                properties:
                  jobId: 00000000-0000-0000-0000-000000000000
                  objectType: OperationStatusJobExtendedInfo
                startTime: '2017-10-29T06:04:18.207325Z'
                status: Succeeded
              headers: {}
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints':
    get:
      description: Lists the backup copies for the backed up item.
      operationId: RecoveryPoints_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item whose backup copies are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecoveryPointResourceList'
      tags:
        - RecoveryPoints
      x-ms-examples:
        Get Protected Azure Vm Recovery Points:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            fabricName: Azure
            protectedItemName: VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            resourceGroupName: rshhtestmdvmrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: rshvault
          responses:
            '200':
              body:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/22244821112382
                  name: '22244821112382'
                  properties:
                    isInstantIlrSessionActive: false
                    isManagedVirtualMachine: true
                    isSourceVMEncrypted: false
                    objectType: IaasVMRecoveryPoint
                    originalStorageAccountOption: false
                    recoveryPointAdditionalInfo: ''
                    recoveryPointTierDetails:
                      - status: 1
                        type: 1
                      - status: 1
                        type: 2
                    recoveryPointTime: '2017-12-21T22:48:25.4353958Z'
                    recoveryPointType: CrashConsistent
                    sourceVMStorageType: NormalStorage
                    virtualMachineSize: Standard_D1
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/24977149827250
                  name: '24977149827250'
                  properties:
                    isInstantIlrSessionActive: false
                    isManagedVirtualMachine: true
                    isSourceVMEncrypted: false
                    objectType: IaasVMRecoveryPoint
                    originalStorageAccountOption: false
                    recoveryPointAdditionalInfo: ''
                    recoveryPointTierDetails:
                      - status: 1
                        type: 1
                      - status: 1
                        type: 2
                    recoveryPointTime: '2017-12-20T22:49:44.3317945Z'
                    recoveryPointType: CrashConsistent
                    sourceVMStorageType: NormalStorage
                    virtualMachineSize: Standard_D1
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
      x-ms-odata: '#/definitions/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}':
    get:
      description: "Provides the information of the backed up data identified using RecoveryPointID. This is an asynchronous operation.\r\nTo know the status of the operation, call the GetProtectedItemOperationResult API."
      operationId: RecoveryPoints_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item name whose backup data needs to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: RecoveryPointID represents the backed up data to be fetched.
          in: path
          name: recoveryPointId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecoveryPointResource'
      tags:
        - RecoveryPoints
      x-ms-examples:
        Get Azure Vm Recovery Point Details:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            fabricName: Azure
            protectedItemName: VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            recoveryPointId: '26083826328862'
            resourceGroupName: rshhtestmdvmrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: rshvault
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/26083826328862
                name: '26083826328862'
                properties:
                  isInstantIlrSessionActive: false
                  isManagedVirtualMachine: true
                  isSourceVMEncrypted: false
                  objectType: IaasVMRecoveryPoint
                  originalStorageAccountOption: false
                  recoveryPointAdditionalInfo: ''
                  recoveryPointTierDetails:
                    - status: 1
                      type: 2
                  recoveryPointTime: '2017-11-22T22:32:46.6088472Z'
                  recoveryPointType: CrashConsistent
                  sourceVMStorageType: NormalStorage
                  virtualMachineSize: Standard_D1
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery':
    post:
      description: "Provisions a script which invokes an iSCSI connection to the backup data. Executing this script opens a file\r\nexplorer displaying all the recoverable files and folders. This is an asynchronous operation. To know the status of\r\nprovisioning, call GetProtectedItemOperationResult API."
      operationId: ItemLevelRecoveryConnections_Provision
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up items.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up items.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item name whose files/folders are to be restored.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: "Recovery point ID which represents backed up data. iSCSI connection will be provisioned\r\nfor this backed up data."
          in: path
          name: recoveryPointId
          required: true
          type: string
        - description: resource ILR request
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ILRRequestResource'
      responses:
        '202':
          description: Accepted
      tags:
        - ItemLevelRecoveryConnections
      x-ms-examples:
        Provision Instant Item Level Recovery for Azure Vm:
          parameters:
            api-version: '2016-12-01'
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            parameters:
              properties:
                initiatorName: Hello World
                objectType: IaasVMILRRegistrationRequest
                recoveryPointId: '38823086363464'
                renewExistingRegistration: true
                virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pysdktestrg/providers/Microsoft.Compute/virtualMachines/pysdktestv2vm1
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore':
    post:
      description: "Restores the specified backed up data. This is an asynchronous operation. To know the status of this API call, use\r\nGetProtectedItemOperationResult API."
      operationId: Restores_Trigger
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up items.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up items.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item to be restored.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: Recovery point ID which represents the backed up data to be restored.
          in: path
          name: recoveryPointId
          required: true
          type: string
        - description: resource restore request
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RestoreRequestResource'
      responses:
        '202':
          description: Accepted
      tags:
        - Restores
      x-ms-examples:
        Restore Disks:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                createNewCloudService: true
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: '348916168024334'
                recoveryType: RestoreDisks
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testingRg/providers/Microsoft.Storage/storageAccounts/testAccount
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            recoveryPointId: '348916168024334'
            resourceGroupName: netsdktestrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
        Restore to New Azure IaasVm:
          parameters:
            api-version: '2016-12-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                createNewCloudService: false
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: '348916168024334'
                recoveryType: AlternateLocation
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Storage/storageAccounts/testingAccount
                subnetId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Network/virtualNetworks/testNet/subnets/default
                targetResourceGroupId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg2
                targetVirtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg2/providers/Microsoft.Compute/virtualmachines/RSMDALRVM981435
                virtualNetworkId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Network/virtualNetworks/testNet
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            recoveryPointId: '348916168024334'
            resourceGroupName: netsdktestrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Location: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery':
    post:
      description: "Revokes an iSCSI connection which can be used to download a script. Executing this script opens a file explorer\r\ndisplaying all recoverable files and folders. This is an asynchronous operation."
      operationId: ItemLevelRecoveryConnections_Revoke
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up items.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up items.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item name whose files/folders are to be restored.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: "Recovery point ID which represents backed up data. iSCSI connection will be revoked for\r\nthis backed up data."
          in: path
          name: recoveryPointId
          required: true
          type: string
      responses:
        '202':
          description: Accepted
      tags:
        - ItemLevelRecoveryConnections
      x-ms-examples:
        Revoke Instant Item Level Recovery for Azure Vm:
          parameters:
            api-version: '2016-12-01'
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers':
    post:
      description: "Discovers all the containers in the subscription that can be backed up to Recovery Services Vault. This is an\r\nasynchronous operation. To know the status of the operation, call GetRefreshOperationResult API."
      operationId: ProtectionContainers_Refresh
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated the container.
          in: path
          name: fabricName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '202':
          description: Accepted
      tags:
        - ProtectionContainers
      x-ms-examples:
        Trigger Azure Vm Discovery:
          parameters:
            api-version: '2016-12-01'
            fabricName: Azure
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
      x-ms-odata: '#/definitions/BMSRefreshContainersQueryObject'
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel':
    post:
      description: "Cancels a job. This is an asynchronous operation. To know the status of the cancellation, call\r\nGetCancelOperationResult API."
      operationId: JobCancellations_Trigger
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Name of the job to cancel.
          in: path
          name: jobName
          required: true
          type: string
      responses:
        '202':
          description: Accepted
      tags:
        - JobCancellations
      x-ms-examples:
        Cancel Job:
          parameters:
            api-version: '2017-07-01'
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: {}
              headers:
                Location: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}':
    get:
      description: "Fetches the result of any operation.\r\nthe operation."
      operationId: JobOperationResults_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Job name whose operation result has to be fetched.
          in: path
          name: jobName
          required: true
          type: string
        - description: OperationID which represents the operation whose result has to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - JobOperationResults
      x-ms-examples:
        Cancel Job Operation Result:
          parameters:
            api-version: '2017-07-01'
            jobName: 00000000-0000-0000-0000-000000000000
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '204':
              body: {}
              headers: {}
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}':
    get:
      description: "Provides the status of the delete operations such as deleting backed up item. Once the operation has started, the\r\nstatus code in the response would be Accepted. It will continue to be in this state till it reaches completion. On\r\nsuccessful completion, the status code will be OK. This method expects OperationID as an argument. OperationID is\r\npart of the Location header of the operation response."
      operationId: BackupOperationResults_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OperationID which represents the operation.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
      tags:
        - BackupOperationResults
      x-ms-examples:
        Get Result for Protected Item Delete Operation:
          parameters:
            api-version: '2016-12-01'
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '202':
              body: null
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperations/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}':
    get:
      description: "Fetches the status of an operation such as triggering a backup, restore. The status can be in progress, completed\r\nor failed. You can refer to the OperationStatus enum for all the possible states of an operation. Some operations\r\ncreate jobs. This method returns the list of jobs when the operation is complete."
      operationId: BackupOperationStatuses_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OperationID which represents the operation.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
        - BackupOperationStatuses
      x-ms-examples:
        Get Protected Item Delete Operation Status:
          parameters:
            api-version: '2016-12-01'
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            '200':
              body:
                endTime: '0001-01-01T00:00:00'
                id: 00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                startTime: '2017-08-03T06:52:53.886027Z'
                status: InProgress
              headers: {}
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}':
    delete:
      description: "Deletes specified backup policy from your Recovery Services Vault. This is an asynchronous operation. Status of the\r\noperation can be fetched using GetPolicyOperationResult API."
      operationId: ProtectionPolicies_Delete
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Backup policy to be deleted.
          in: path
          name: policyName
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      tags:
        - ProtectionPolicies
      x-ms-examples:
        Delete Azure Vm Protection Policy:
          parameters:
            api-version: '2016-06-01'
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body: {}
    get:
      description: "Provides the details of the backup policies associated to Recovery Services Vault. This is an asynchronous\r\noperation. Status of the operation can be fetched using GetPolicyOperationResult API."
      operationId: ProtectionPolicies_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Backup policy information to be fetched.
          in: path
          name: policyName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      tags:
        - ProtectionPolicies
      x-ms-examples:
        Get Azure IaasVm Protection Policy Details:
          parameters:
            api-version: '2016-06-01'
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                        - '2018-01-24T02:00:00Z'
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                      - '2018-01-24T02:00:00Z'
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
    put:
      description: "Creates or modifies a backup policy. This is an asynchronous operation. Status of the operation can be fetched\r\nusing GetPolicyOperationResult API."
      operationId: ProtectionPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Backup policy to be created.
          in: path
          name: policyName
          required: true
          type: string
        - description: resource backup policy
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
        '202':
          description: Accepted
      tags:
        - ProtectionPolicies
      x-ms-examples:
        Create or Update Full Azure Vm Protection Policy:
          parameters:
            api-version: '2016-06-01'
            parameters:
              properties:
                backupManagementType: AzureIaasVM
                retentionPolicy:
                  monthlySchedule:
                    retentionDuration:
                      count: 2
                      durationType: Months
                    retentionScheduleFormatType: Weekly
                    retentionScheduleWeekly:
                      daysOfTheWeek:
                        - Wednesday
                        - Thursday
                      weeksOfTheMonth:
                        - First
                        - Third
                    retentionTimes:
                      - '2018-01-24T10:00:00Z'
                  retentionPolicyType: LongTermRetentionPolicy
                  weeklySchedule:
                    daysOfTheWeek:
                      - Monday
                      - Wednesday
                      - Thursday
                    retentionDuration:
                      count: 1
                      durationType: Weeks
                    retentionTimes:
                      - '2018-01-24T10:00:00Z'
                  yearlySchedule:
                    monthsOfYear:
                      - February
                      - November
                    retentionDuration:
                      count: 4
                      durationType: Years
                    retentionScheduleFormatType: Weekly
                    retentionScheduleWeekly:
                      daysOfTheWeek:
                        - Monday
                        - Thursday
                      weeksOfTheMonth:
                        - Fourth
                    retentionTimes:
                      - '2018-01-24T10:00:00Z'
                schedulePolicy:
                  schedulePolicyType: SimpleSchedulePolicy
                  scheduleRunDays:
                    - Monday
                    - Wednesday
                    - Thursday
                  scheduleRunFrequency: Weekly
                  scheduleRunTimes:
                    - '2018-01-24T10:00:00Z'
                timeZone: Pacific Standard Time
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    monthlySchedule:
                      retentionDuration:
                        count: 2
                        durationType: Months
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                          - Wednesday
                          - Thursday
                        weeksOfTheMonth:
                          - First
                          - Third
                      retentionTimes:
                        - '2018-01-24T10:00:00Z'
                    retentionPolicyType: LongTermRetentionPolicy
                    weeklySchedule:
                      daysOfTheWeek:
                        - Monday
                        - Wednesday
                        - Thursday
                      retentionDuration:
                        count: 1
                        durationType: Weeks
                      retentionTimes:
                        - '2018-01-24T10:00:00Z'
                    yearlySchedule:
                      monthsOfYear:
                        - February
                        - November
                      retentionDuration:
                        count: 4
                        durationType: Years
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                          - Monday
                          - Thursday
                        weeksOfTheMonth:
                          - Fourth
                      retentionTimes:
                        - '2018-01-24T10:00:00Z'
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunDays:
                      - Monday
                      - Wednesday
                      - Thursday
                    scheduleRunFrequency: Weekly
                    scheduleRunTimes:
                      - '2018-01-24T10:00:00Z'
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            '202':
              body: {}
              headers:
                Azure-AsyncOperation: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01'
                Location: 'https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01'
                Retry-After: 60
        Create or Update Full Azure Workload Protection Policy:
          parameters:
            api-version: '2016-06-01'
            parameters:
              properties:
                backupManagementType: AzureWorkload
                settings:
                  issqlcompression: false
                  timeZone: Pacific Standard Time
                subProtectionPolicy:
                  - policyType: Full
                    retentionPolicy:
                      monthlySchedule:
                        retentionDuration:
                          count: 1
                          durationType: Months
                        retentionScheduleFormatType: Weekly
                        retentionScheduleWeekly:
                          daysOfTheWeek:
                            - Sunday
                          weeksOfTheMonth:
                            - Second
                        retentionTimes:
                          - '2018-01-24T10:00:00Z'
                      retentionPolicyType: LongTermRetentionPolicy
                      weeklySchedule:
                        daysOfTheWeek:
                          - Sunday
                          - Tuesday
                        retentionDuration:
                          count: 2
                          durationType: Weeks
                        retentionTimes:
                          - '2018-01-24T10:00:00Z'
                      yearlySchedule:
                        monthsOfYear:
                          - January
                          - June
                          - December
                        retentionDuration:
                          count: 1
                          durationType: Years
                        retentionScheduleFormatType: Weekly
                        retentionScheduleWeekly:
                          daysOfTheWeek:
                            - Sunday
                          weeksOfTheMonth:
                            - Last
                        retentionTimes:
                          - '2018-01-24T10:00:00Z'
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunDays:
                        - Sunday
                        - Tuesday
                      scheduleRunFrequency: Weekly
                      scheduleRunTimes:
                        - '2018-01-24T10:00:00Z'
                  - policyType: Differential
                    retentionPolicy:
                      retentionDuration:
                        count: 8
                        durationType: Days
                      retentionPolicyType: SimpleRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunDays:
                        - Friday
                      scheduleRunFrequency: Weekly
                      scheduleRunTimes:
                        - '2018-01-24T10:00:00Z'
                  - policyType: Log
                    retentionPolicy:
                      retentionDuration:
                        count: 7
                        durationType: Days
                      retentionPolicyType: SimpleRetentionPolicy
                    schedulePolicy:
                      scheduleFrequencyInMins: 60
                      schedulePolicyType: LogSchedulePolicy
                workLoadType: SQLDataBase
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureWorkload
                  protectedItemsCount: 0
                  settings:
                    issqlcompression: false
                    timeZone: Pacific Standard Time
                  subProtectionPolicy:
                    - policyType: Full
                      retentionPolicy:
                        monthlySchedule:
                          retentionDuration:
                            count: 1
                            durationType: Months
                          retentionScheduleFormatType: Weekly
                          retentionScheduleWeekly:
                            daysOfTheWeek:
                              - Sunday
                            weeksOfTheMonth:
                              - Second
                          retentionTimes:
                            - '2018-01-24T10:00:00Z'
                        retentionPolicyType: LongTermRetentionPolicy
                        weeklySchedule:
                          daysOfTheWeek:
                            - Sunday
                            - Tuesday
                          retentionDuration:
                            count: 2
                            durationType: Weeks
                          retentionTimes:
                            - '2018-01-24T10:00:00Z'
                        yearlySchedule:
                          monthsOfYear:
                            - January
                            - June
                            - December
                          retentionDuration:
                            count: 1
                            durationType: Years
                          retentionScheduleFormatType: Weekly
                          retentionScheduleWeekly:
                            daysOfTheWeek:
                              - Sunday
                            weeksOfTheMonth:
                              - Last
                          retentionTimes:
                            - '2018-01-24T10:00:00Z'
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunDays:
                          - Sunday
                          - Tuesday
                        scheduleRunFrequency: Weekly
                        scheduleRunTimes:
                          - '2018-01-24T10:00:00Z'
                        scheduleWeeklyFrequency: 0
                    - policyType: Differential
                      retentionPolicy:
                        retentionDuration:
                          count: 8
                          durationType: Days
                        retentionPolicyType: SimpleRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunDays:
                          - Friday
                        scheduleRunFrequency: Weekly
                        scheduleRunTimes:
                          - '2018-01-24T10:00:00Z'
                        scheduleWeeklyFrequency: 0
                    - policyType: Log
                      retentionPolicy:
                        retentionDuration:
                          count: 7
                          durationType: Days
                        retentionPolicyType: SimpleRetentionPolicy
                      schedulePolicy:
                        scheduleFrequencyInMins: 60
                        schedulePolicyType: LogSchedulePolicy
                  workLoadType: SQLDataBase
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            '202':
              body: {}
              headers:
[...]
