swagger: "2.0"
schemes:
  - https
host: api.flat.io
basePath: /v2
info:
  contact:
    email: developers@flat.io
    name: Flat
    url: https://flat.io/developers/docs/api/
  description: >
    The Flat API allows you to easily extend the abilities of the [Flat Platform](https://flat.io), with a wide range of use cases including the following:


    * Creating and importing new music scores using MusicXML, MIDI, Guitar Pro (GP3, GP4, GP5, GPX, GP), PowerTab, TuxGuitar and MuseScore files

    * Browsing, updating, copying, exporting the user's scores (for example in MP3, WAV or MIDI)

    * Managing educational resources with Flat for Education: creating & updating the organization accounts, the classes, rosters and assignments.


    The Flat API is built on HTTP. Our API is RESTful It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body.

    The [schema](/swagger.yaml) of this API follows the [OpenAPI Initiative (OAI) specification](https://www.openapis.org/), you can use and work with [compatible Swagger tools](http://swagger.io/open-source-integrations/).

    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/).


    You can use your favorite HTTP/REST library for your programming language to use Flat's API. This specification and reference is [available on Github](https://github.com/FlatIO/api-reference).


    Getting Started and learn more:


    * [API Overview and interoduction](https://flat.io/developers/docs/api/)

    * [Authentication (Personal Access Tokens or OAuth2)](https://flat.io/developers/docs/api/authentication.html)

    * [SDKs](https://flat.io/developers/docs/api/sdks.html)

    * [Rate Limits](https://flat.io/developers/docs/api/rate-limits.html)

    * [Changelog](https://flat.io/developers/docs/api/changelog.html)
  termsOfService: https://flat.io/legal
  title: Flat
  version: 2.8.0
  x-apisguru-categories:
    - media
    - collaboration
  x-logo:
    url: https://flat.io/img/logo-flat.svg
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/FlatIO/api-reference/master/spec/swagger.yaml
      version: "2.0"
  x-providerName: flat.io
  x-preferred: null
securityDefinitions:
  OAuth2:
    authorizationUrl: https://flat.io/auth/oauth
    description: >
      OAuth 2.0 authentication for your app or. Please only request the most restrictive and needed scopes. Using some of the scopes may require an additional review from our team. The Flat API supports **authorization code** and **implicit** flows.
    flow: accessCode
    scopes:
      account.education_profile: >
        Provides access to the basic person's education profile and public organization information.
      account.email: >
        Provices access to the person's email.
      account.public_profile: >
        Provides access to the basic person's public profile. Education profiles may be anonymized with this scope, you can request the scope `education_profile` to access to the a basic education account profile.
      collections: Full, permissive scope to access all of a user's collections.
      collections.add_scores: Allow to add scores to a user's collections.
      collections.readonly: Allow read-only access to a user's collections.
      edu.admin: Full, permissive scope to manage all the admin of an organization.
      edu.admin.lti: Access and manage the LTI Credentials for an organization.
      edu.admin.lti.readonly: Read-only access to the LTI Credentials of an organization.
      edu.admin.users: Access and manage the users and invitations of the organization.
      edu.admin.users.readonly: Read-only access to the users and invitations of the organization.
      edu.assignments: Read-write access to the assignments and submissions.
      edu.assignments.readonly: Read-only access to the assignments and submissions.
      edu.classes: Full, permissive scope to manage the classes.
      edu.classes.readonly: Read-only access to the classes.
      scores: >
        Full, permissive scope to access all of a user's scores.
      scores.readonly: >
        Allows read-only access to all a user's scores. You won't need this scope to read public scores.
      scores.social: >
        Allow to post comments and like scores
    tokenUrl: https://api.flat.io/oauth/access_token
    type: oauth2
parameters:
  collection:
    description: >
      Unique identifier of the collection.

      The following aliases are supported:

      - `root`: The root collection of the account

      - `sharedWithMe`: Automatically contains new resources that have been shared individually

      - `trash`: Automatically contains resources that have been deleted
    in: path
    name: collection
    required: true
    type: string
  group:
    description: >
      Unique identifier of a Flat group
    in: path
    name: group
    required: true
    type: string
  limit:
    default: 50
    description: This is the maximum number of objects that may be returned
    in: query
    maximum: 1000
    minimum: 1
    name: limit
    type: integer
  limitDefault25Max100:
    default: 25
    description: This is the maximum number of objects that may be returned
    in: query
    maximum: 100
    minimum: 1
    name: limit
    type: integer
  next:
    description: >
      An opaque string cursor to fetch the next page of data.

      The paginated API URLs are returned in the `Link` header when requesting the API. These URLs will contain a `next` and `previous` cursor based on the available data.
    in: query
    name: next
    type: string
  organizationUser:
    description: >
      Unique identifier of the Flat account
    in: path
    name: user
    required: true
    type: string
  previous:
    description: >
      An opaque string cursor to fetch the previous page of data.

      The paginated API URLs are returned in the `Link` header when requesting the API. These URLs will contain a `next` and `previous` cursor based on the available data.
    in: query
    name: previous
    type: string
  resourceCollaborator:
    description: >
      Unique identifier of a **collaborator permission**, or unique identifier of a **User**, or unique identifier of a **Group**
    in: path
    name: collaborator
    required: true
    type: string
  score:
    description: >
      Unique identifier of the score document. This can be a Flat Score unique identifier (i.e. `ScoreDetails.id`) or, if the score is also a Google Drive file, the Drive file unique identifier prefixed with `drive-` (e.g. `drive-0B000000000`).
    in: path
    name: score
    required: true
    type: string
  scoreComment:
    description: >
      Unique identifier of a sheet music comment
    in: path
    name: comment
    required: true
    type: string
  scoreParts:
    description: >
      An optional a set of parts to be exported. This parameter must be

      specified with a list of integers. For example "1,2,5".
    in: query
    name: parts
    type: string
  scoreRevision:
    description: >
      Unique identifier of a score revision. You can use `last` to fetch the information related to the last version created.
    in: path
    name: revision
    required: true
    type: string
  scoreTrack:
    description: >
      Unique identifier of a score audio track
    in: path
    name: track
    required: true
    type: string
  sharingKey:
    description: >
      This sharing key must be specified to access to a score or collection with a `privacy` mode set to `privateLink` and the current user is not a collaborator of the document.
    in: query
    name: sharingKey
    type: string
  sortDirection:
    description: Sort direction
    enum:
      - asc
      - desc
    in: query
    name: direction
    type: string
  user:
    description: >
      Unique identifier of a Flat user. If you authenticated, you can use `me` to refer to the current user.
    in: path
    name: user
    required: true
    type: string
tags:
  - description: >
      These API endpoints are related to the Flat account you are currently using. When using an OAuth2 access token, you can use [`GET /me`](#operation/getAuthenticatedUser) to get information about the account.
    name: Account
    x-displayName: Flat Account
  - description: >
      Sheet music is the main API object type available for all Flat account.

      Here is a typical lifecycle for a music score document on Flat:
        - An end user can **create a music score** or **import a document** using our [web interface](https://flat.io) or a third-party website/app (e.g. Google Drive) using this API (see [`POST /v2/scores`](#operation/createScore). The creation and import of music scores can be done with this single API endpoint. This one currently supports the [MusicXML](http://www.musicxml.com/) (compressed or not) and [MIDI](https://www.midi.org/specifications).
        - **List scores**:
          - The **owned scores** can be listed using the [collections API methods](#tag/Collection), especially [`GET /collections/{collection}/scores`](#operation/listCollectionScores).
          - The scores from a public account can be listed with [`GET /users/{user}/scores`](#operation/getUserScores).
          - Scores shared with a specific group can be listed with [`GET /groups/{group}/scores`](#operation/getGroupScores).
        - The metadata of a single score can be retrieved with [`GET /scores/{score}`](#operation/getScore).
        - Scores on Flat have **one or multiple revisions**: creating a new score will create a first revision. These **revisions can be listed** using [`GET /scores/{score}/revisions`](#operation/getScoreRevisions) and a specific **revision data can be downloaded** with [`GET /scores/{score}/revisions/{revision}/{format}`](#operation/getScoreRevisionData). New revisions can be created using our [sheet music editor](https://flat.io) or using [`POST /scores/{score}/revisions`](#operation/createScoreRevision) (this endpoint has similar parameters than during the score creation). The last revision of a document may not directly reflect the really last version of a music score: recent modifications can be made offline or not yet consolidated into a new revision. In average, a new revision is created every 100 modifications made with our editor.
        - Scores can be **shared publicly** by changing the privacy option with [`POST /scores/{score}`](#operation/editScore), or **individually shared** using the different collaborators API endpoints (see [`POST /scores/{score}/collaborators`](#operation/addScoreCollaborator)).
    name: Score
    x-displayName: Music scores
  - description: >
      Collections let you organize your content in a Flat account. They work like a regular _folder_ with some specificities:
        - Our design goal here is to create a system similar to a _book_ or a _playlist of songs_.
        - Collections can't have children collections (except the `trash` and `sharedWithMe` that are special collections).
        - Any score can be added to one or multiple collections. For example, you can have a single private score in two or more collections, or add any public or shared scores to one of your collections.

      All the collections don't have the same capabilities. Capabilities depend on the `type` of collection and the `rights` you have on a collection. They are available when [listing the collection](#operation/listCollections) or [retrieving the collection details](#operation/getCollection).


      At this time, only `private` privacy mode is widely available. Privacy modes `public`, `organizationPublic` and `privateLink`, and 1:1 sharing will be available in an upcoming update later this year.
    name: Collection
    x-displayName: Collections of music scores
  - description: Flat users
    name: User
  - description: Flat for Education organizations
    name: Organization
  - description: Flat for Education classes
    name: Class
  - description: Flat Groups
    name: Group
paths:
  /classes:
    get:
      operationId: listClasses
      parameters:
        - default: active
          description: Filter the classes by state
          enum:
            - active
            - inactive
            - archived
          in: query
          name: state
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The list of classes
          schema:
            items:
              $ref: "#/definitions/ClassDetails"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
      summary: List the classes available for the current user
      tags:
        - Class
    post:
      consumes:
        - application/json
      description: >
        Classrooms on Flat allow you to create activities with assignments and post content to a specific group.


        When creating a class, Flat automatically creates two groups: one for the teachers of the course, one for the students. The creator of this class is automatically added to the teachers group.


        If the classsroom is synchronized with another application like Google Classroom, some of the meta information will automatically be updated.


        You can add users to this class using `POST /classes/{class}/users/{user}`, they will automatically added to the group based on their role on Flat. Users can also enroll themselves to this class using `POST /classes/enroll/{enrollmentCode}` and the `enrollmentCode` returned in the `ClassDetails` response.
      operationId: createClass
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ClassCreation"
      produces:
        - application/json
      responses:
        "200":
          description: The new class details
          schema:
            $ref: "#/definitions/ClassDetails"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Create a new class
      tags:
        - Class
  "/classes/enroll/{enrollmentCode}":
    post:
      consumes:
        - application/json
      description: >
        Use this method to join a class using an enrollment code given one of the teacher of this class. This code is also available in the `ClassDetails` returned to the teachers when creating the class or listing / fetching a specific class.


        Flat will automatically add the user to the corresponding class group based on this role in the organization.
      operationId: enrollClass
      parameters:
        - description: >
            The enrollment code, available to the teacher in `ClassDetails`
          in: path
          name: enrollmentCode
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The new class details
          schema:
            $ref: "#/definitions/ClassDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Join a class
      tags:
        - Class
  "/classes/{class}":
    get:
      operationId: getClass
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The new class details
          schema:
            $ref: "#/definitions/ClassDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
      summary: Get the details of a single class
      tags:
        - Class
    put:
      consumes:
        - application/json
      description: >
        Update the meta information of the class
      operationId: updateClass
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Details of the Class
          in: body
          name: body
          schema:
            $ref: "#/definitions/ClassUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: The new class details
          schema:
            $ref: "#/definitions/ClassDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Update the class
      tags:
        - Class
  "/classes/{class}/activate":
    post:
      consumes:
        - application/json
      description: >
        Mark the class as `active`. This is mainly used for classes synchronized from Clever that are initially with an `inactive` state and hidden in the UI.
      operationId: activateClass
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The class details
          schema:
            $ref: "#/definitions/ClassDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Activate the class
      tags:
        - Class
  "/classes/{class}/archive":
    delete:
      description: >
        Mark the class as `active`. When this course is synchronized with another app, like Google Classroom, this state will be automatically be updated.
      operationId: unarchiveClass
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The class details
          schema:
            $ref: "#/definitions/ClassDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Unarchive the class
      tags:
        - Class
    post:
      consumes:
        - application/json
      description: >
        Mark the class as `archived`. When this course is synchronized with another app, like Google Classroom, this state will be automatically be updated.
      operationId: archiveClass
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The class details
          schema:
            $ref: "#/definitions/ClassDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Archive the class
      tags:
        - Class
  "/classes/{class}/assignments":
    get:
      operationId: listAssignments
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: List of assignments for the class
          schema:
            items:
              $ref: "#/definitions/Assignment"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
            - edu.assignments
            - edu.assignments.readonly
      summary: Assignments listing
      tags:
        - Class
    post:
      consumes:
        - application/json
      description: >
        Use this method as a teacher to create and post a new assignment to a class.


        If the class is synchronized with Google Classroom, the assignment will be automatically posted to your Classroom course.
      operationId: createAssignment
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: "#/definitions/AssignmentCreation"
      produces:
        - application/json
      responses:
        "200":
          description: The assignment has been created
          schema:
            $ref: "#/definitions/Assignment"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.assignments
      summary: Assignment creation
      tags:
        - Class
  "/classes/{class}/assignments/{assignment}/copy":
    post:
      consumes:
        - application/json
      description: >
        Copy an assignment to a specified class.


        If the original assignment has a due date in the past, this new assingment will be created without a due date.


        If the new class is synchronized with an external app (e.g. Google Classroom), the copied assignment will also be posted on the external app.
      operationId: copyAssignment
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the assignment
          in: path
          name: assignment
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/AssignmentCopy"
      produces:
        - application/json
      responses:
        "200":
          description: The new created assingment
          schema:
            $ref: "#/definitions/Assignment"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.assignments
      summary: Copy an assignment
      tags:
        - Class
  "/classes/{class}/assignments/{assignment}/submissions":
    get:
      operationId: getSubmissions
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the assignment
          in: path
          name: assignment
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The submissions
          schema:
            items:
              $ref: "#/definitions/AssignmentSubmission"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
            - edu.assignments
            - edu.assignments.readonly
      summary: List the students' submissions
      tags:
        - Class
    put:
      consumes:
        - application/json
      description: >
        Use this method as a student to create, update and submit a submission related to an assignment. Students can only set `attachments`, `studentComment` and `submit`.


        Teachers can use `PUT /classes/{class}/assignments/{assignment}/submissions/{submission}` to update a submission by id.
      operationId: createSubmission
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the assignment
          in: path
          name: assignment
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/AssignmentSubmissionUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: The submission
          schema:
            $ref: "#/definitions/AssignmentSubmission"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.assignments
      summary: Create or edit a submission
      tags:
        - Class
  "/classes/{class}/assignments/{assignment}/submissions/{submission}":
    get:
      operationId: getSubmission
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the assignment
          in: path
          name: assignment
          required: true
          type: string
        - description: Unique identifier of the submission
          in: path
          name: submission
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: A submission
          schema:
            $ref: "#/definitions/AssignmentSubmission"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
            - edu.assignments
            - edu.assignments.readonly
      summary: Get a student submission
      tags:
        - Class
    put:
      consumes:
        - application/json
      description: >
        Use this method as a teacher to update the different submission and give feedback.

        Teachers can only set `returnFeedback`
      operationId: editSubmission
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the assignment
          in: path
          name: assignment
          required: true
          type: string
        - description: Unique identifier of the submission
          in: path
          name: submission
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/AssignmentSubmissionUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: The submission
          schema:
            $ref: "#/definitions/AssignmentSubmission"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.assignments
      summary: Edit a submission
      tags:
        - Class
  "/classes/{class}/students/{user}/submissions":
    get:
      description: >
        Use this method as a teacher to list all the assignment submissions sent by a student of the class
      operationId: listClassStudentSubmissions
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the user
          in: path
          name: user
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The list of submissions
          schema:
            items:
              $ref: "#/definitions/AssignmentSubmission"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
            - edu.classes.readonly
            - edu.assignments
            - edu.assignments.readonly
      summary: List the submissions for a student
      tags:
        - Class
  "/classes/{class}/users/{user}":
    delete:
      description: >
        This method can be used by a teacher to remove a user from the class, or by a student to leave the classroom.


        Warning: Removing a user from the class will remove the associated resources, including the submissions and feedback related to these submissions.
      operationId: deleteClassUser
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the user
          in: path
          name: user
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: The user has been removed from the class
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Remove a user from the class
      tags:
        - Class
    put:
      consumes:
        - application/json
      description: >
        This method can be used by a teacher of the class to enroll another Flat user into the class.


        Only users that are part of your Organization can be enrolled in a class of this same Organization.


        When enrolling a user in the class, Flat will automatically add this user to the corresponding Class group, based on this role in the Organization.
      operationId: addClassUser
      parameters:
        - description: Unique identifier of the class
          in: path
          name: class
          required: true
          type: string
        - description: Unique identifier of the user
          in: path
          name: user
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: The user has been added to the class
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.classes
      summary: Add a user to the class
      tags:
        - Class
  /collections:
    get:
      description: >
        Use this method to list the user's collections contained in `parent` (by default in the `root` collection).

        If no sort option is provided, the collections are sorted by `creationDate` `desc`.


        Note that this method will not include the `parent` collection in the listing.

        For example, if you need the details of the `root` collection, you can use `GET /v2/collections/root`.
      operationId: listCollections
      parameters:
        - default: root
          description: >
            List the collection contained in this `parent` collection.


            This option doesn't provide a complete multi-level collection support.

            When sharing a collection with someone, this one will have as `parent` `sharedWithMe`.
          in: query
          name: parent
          type: string
        - description: Sort
          enum:
            - creationDate
            - title
          in: query
          name: sort
          type: string
        - $ref: "#/parameters/sortDirection"
        - $ref: "#/parameters/limitDefault25Max100"
        - $ref: "#/parameters/next"
        - $ref: "#/parameters/previous"
      produces:
        - application/json
      responses:
        "200":
          description: List of collections
          schema:
            items:
              $ref: "#/definitions/Collection"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
            - collections.readonly
      summary: List the collections
      tags:
        - Collection
    post:
      consumes:
        - application/json
      description: >
        This method will create a new collection and add it to your `root` collection.
      operationId: createCollection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/CollectionCreation"
      produces:
        - application/json
      responses:
        "200":
          description: Collection created
          schema:
            $ref: "#/definitions/Collection"
        "400":
          description: Bad collection creation request
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
      summary: Create a new collection
      tags:
        - Collection
  "/collections/{collection}":
    delete:
      description: >
        This method will schedule the deletion of the collection. Until deleted, the collection will be available in the `trash`.
      operationId: deleteCollection
      parameters:
        - $ref: "#/parameters/collection"
      produces:
        - application/json
      responses:
        "204":
          description: Collection deleted
        "403":
          description: Not granted to access to this collection
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Collection not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
      summary: Delete the collection
      tags:
        - Collection
    get:
      operationId: getCollection
      parameters:
        - $ref: "#/parameters/collection"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: Collection details
          schema:
            $ref: "#/definitions/Collection"
        "403":
          description: Not granted to access to this collection
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Collection not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
            - collections.readonly
      summary: Get collection details
      tags:
        - Collection
    put:
      consumes:
        - application/json
      operationId: editCollection
      parameters:
        - $ref: "#/parameters/collection"
        - in: body
          name: body
          schema:
            $ref: "#/definitions/CollectionModification"
      produces:
        - application/json
      responses:
        "200":
          description: Collection details
          schema:
            $ref: "#/definitions/Collection"
        "403":
          description: Not granted to access to this collection
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Collection not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
      summary: Update a collection's metadata
      tags:
        - Collection
  "/collections/{collection}/scores":
    get:
      description: >
        Use this method to list the scores contained in a collection.

        If no sort option is provided, the scores are sorted by `modificationDate` `desc`.
      operationId: listCollectionScores
      parameters:
        - $ref: "#/parameters/collection"
        - $ref: "#/parameters/sharingKey"
        - description: Sort
          enum:
            - creationDate
            - modificationDate
            - title
          in: query
          name: sort
          type: string
        - $ref: "#/parameters/sortDirection"
        - $ref: "#/parameters/limitDefault25Max100"
        - $ref: "#/parameters/next"
        - $ref: "#/parameters/previous"
      produces:
        - application/json
      responses:
        "200":
          description: List of scores
          schema:
            items:
              $ref: "#/definitions/ScoreDetails"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
      summary: List the scores contained in a collection
      tags:
        - Collection
  "/collections/{collection}/scores/{score}":
    delete:
      description: >
        This method will delete a score from the collection. Unlike [`DELETE /scores/{score}`](#operation/deleteScore), this score will not remove the score from your account, but only from the collection.

        This can be used to *move* a score from one collection to another, or simply remove a score from one collection when this one is contained in multiple collections.
      operationId: deleteScoreFromCollection
      parameters:
        - $ref: "#/parameters/collection"
        - $ref: "#/parameters/score"
      produces:
        - application/json
      responses:
        "204":
          description: Score removed from the collection
        "403":
          description: Not granted to access to this collection
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Collection not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
      summary: Delete a score from the collection
      tags:
        - Collection
    put:
      consumes:
        - application/json
      description: >
        This operation will add a score to a collection. The default behavior will make the score available across multiple collections.

        You must have the capability `canAddScores` on the provided `collection` to perform the action.
      operationId: addScoreToCollection
      parameters:
        - $ref: "#/parameters/collection"
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: Score details
          schema:
            $ref: "#/definitions/ScoreDetails"
        "403":
          description: Not granted to access to this collection or score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Collection or score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
            - collections.add_scores
      summary: Add a score to the collection
      tags:
        - Collection
  "/collections/{collection}/untrash":
    post:
      consumes:
        - application/json
      description: >
        This method will restore the collection by removing it from the `trash` and add it back to the `root` collection.
      operationId: untrashCollection
      parameters:
        - $ref: "#/parameters/collection"
      produces:
        - application/json
      responses:
        "204":
          description: The score has been untrashed
        "403":
          description: Not granted to manage this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - collections
      summary: Untrash a collection
      tags:
        - Collection
  "/groups/{group}":
    get:
      operationId: getGroupDetails
      parameters:
        - $ref: "#/parameters/group"
      produces:
        - application/json
      responses:
        "200":
          description: The group details
          schema:
            $ref: "#/definitions/GroupDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
            - edu.classes
            - edu.classes.readonly
      summary: Get group information
      tags:
        - Group
  "/groups/{group}/scores":
    get:
      description: >
        Get the list of scores shared with a group.
      operationId: getGroupScores
      parameters:
        - $ref: "#/parameters/group"
        - description: Filter the score forked from the score id `parent`
          in: query
          name: parent
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The group's scores
          schema:
            items:
              $ref: "#/definitions/ScoreDetails"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: List group's scores
      tags:
        - Group
        - Score
  "/groups/{group}/users":
    get:
      operationId: listGroupUsers
      parameters:
        - $ref: "#/parameters/group"
      produces:
        - application/json
      responses:
        "200":
          description: The list of users member of the group
          schema:
            items:
              $ref: "#/definitions/UserPublic"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
            - edu.classes
            - edu.classes.readonly
      summary: List group's users
      tags:
        - Group
  /me:
    get:
      description: >
        Get details about the current authenticated User.
      operationId: getAuthenticatedUser
      produces:
        - application/json
      responses:
        "200":
          description: Current user details
          schema:
            $ref: "#/definitions/UserDetails"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - account.public_profile
            - account.education_profile
      summary: Get current user profile
      tags:
        - Account
  /organizations/invitations:
    get:
      operationId: listOrganizationInvitations
      parameters:
        - description: Filter users by role
          enum:
            - user
            - teacher
            - admin
          in: query
          name: role
          type: string
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/next"
        - $ref: "#/parameters/previous"
      produces:
        - application/json
      responses:
        "200":
          description: List of invitations
          schema:
            items:
              $ref: "#/definitions/OrganizationInvitation"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
      summary: List the organization invitations
      tags:
        - Organization
    post:
      consumes:
        - application/json
      description: >
        This method creates and sends invitation for teachers and admins.


        Invitations can only be used by new Flat users or users who are not part of the organization yet.


        If the email of the user is already associated to a user of your organization, the API will simply update the role of the existing user and won't send an invitation. In this case, the property `usedBy` will be directly filled with the uniquer identifier of the corresponding user.
      operationId: createOrganizationInvitation
      parameters:
        - in: body
          name: body
          schema:
            $ref: "#/definitions/OrganizationInvitationCreation"
      produces:
        - application/json
      responses:
        "200":
          description: New invitation created
          schema:
            $ref: "#/definitions/OrganizationInvitation"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      summary: Create a new invitation to join the organization
      tags:
        - Organization
  "/organizations/invitations/{invitation}":
    delete:
      operationId: removeOrganizationInvitation
      parameters:
        - description: Unique identifier of the invitation
          in: path
          name: invitation
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: The invitation has been removed
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      summary: Remove an organization invitation
      tags:
        - Organization
  /organizations/lti/credentials:
    get:
      operationId: listLtiCredentials
      produces:
        - application/json
      responses:
        "200":
          description: The list of LTI Credentials
          schema:
            items:
              $ref: "#/definitions/LtiCredentials"
            type: array
        "403":
          description: Not admin of an organization
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.lti
            - edu.admin.lti.readonly
      summary: List LTI 1.x credentials
      tags:
        - Organization
    post:
      consumes:
        - application/json
      description: >
        Flat for Education is a Certified LTI Provider. You can use these API methods to automate the creation of LTI credentials. You can read more about our LTI implementation, supported components and LTI Endpoints in our [Developer Documentation](https://flat.io/developers/docs/lti/).
      operationId: createLtiCredentials
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/LtiCredentialsCreation"
      produces:
        - application/json
      responses:
        "200":
          description: The LTI Credentials
          schema:
            $ref: "#/definitions/LtiCredentials"
        "403":
          description: Not admin of an organization
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.lti
      summary: Create a new couple of LTI 1.x credentials
      tags:
        - Organization
  "/organizations/lti/credentials/{credentials}":
    delete:
      operationId: revokeLtiCredentials
      parameters:
        - description: >
            Credentials unique identifier
          in: path
          name: credentials
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: Credentials revoked
        "403":
          description: Not admin of an organization
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Credentials not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.lti
      summary: Revoke LTI 1.x credentials
      tags:
        - Organization
  /organizations/users:
    get:
      operationId: listOrganizationUsers
      parameters:
        - description: Filter users by role
          enum:
            - user
            - teacher
            - admin
          in: query
          name: role
          type: string
        - $ref: "#/parameters/limit"
        - $ref: "#/parameters/next"
        - $ref: "#/parameters/previous"
      produces:
        - application/json
      responses:
        "200":
          description: List of users
          schema:
            items:
              $ref: "#/definitions/UserDetailsAdmin"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
            - edu.admin.users.readonly
      summary: List the organization users
      tags:
        - Organization
    post:
      consumes:
        - application/json
      operationId: createOrganizationUser
      parameters:
        - in: body
          name: body
          schema:
            $ref: "#/definitions/UserCreation"
      produces:
        - application/json
      responses:
        "200":
          description: New user created
          schema:
            $ref: "#/definitions/UserDetailsAdmin"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      summary: Create a new user account
      tags:
        - Organization
  "/organizations/users/{user}":
    delete:
      description: >
        This operation removes an account from Flat and its data, including:

        * The music scores created by this user (documents, history, comments, collaboration information)

        * Education related data (assignments and classroom information)
      operationId: removeOrganizationUser
      parameters:
        - $ref: "#/parameters/organizationUser"
        - description: >
            If `true`, the account will be only removed from the organization and converted into an individual account on our public website, https://flat.io.

            This operation will remove the education-related data from the account.

            Before realizing this operation, you need to be sure that the user is at least 13 years old and that this one has read and agreed to the Individual Terms of Services of Flat available on https://flat.io/legal.
          in: query
          name: convertToIndividual
          type: boolean
      produces:
        - application/json
      responses:
        "204":
          description: User deleted
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      summary: Remove an account from Flat
      tags:
        - Organization
    put:
      consumes:
        - application/json
      operationId: updateOrganizationUser
      parameters:
        - $ref: "#/parameters/organizationUser"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/UserAdminUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: User updated
          schema:
            $ref: "#/definitions/UserDetailsAdmin"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - edu.admin
            - edu.admin.users
      summary: Update account information
      tags:
        - Organization
  /scores:
    post:
      consumes:
        - application/json
      description: >
        Use this API method to **create a new music score in the current User account**. You will need a MusicXML 3 (`vnd.recordare.musicxml` or `vnd.recordare.musicxml+xml`), a MIDI (`audio/midi`), Guitar Pro (GP3, GP4, GP5, GPX, GP), PowerTab, TuxGuitar, or MuseScore file to create the new Flat document.


        This API call will automatically create the first revision of the document, the score can be modified by the using our web application or by uploading a new revision of this file (`POST /v2/scores/{score}/revisions/{revision}`).


        The currently authenticated user will be granted owner of the file and will be able to add other collaborators (users and groups).


        If no `collection` is specified, the API will create the score in the most appropriate collection. This can be the `root` collection or a different collection based on the user's settings or API authentication method.

        If a `collection` is specified and this one has more public privacy settings than the score (e.g. `public` vs `private` for the score), the privacy settings of the created score will be adjusted to the collection ones.

        You can check the adjusted privacy settings in the returned score `privacy`, and optionally adjust these settings if needed using `PUT /scores/{score}`.
      operationId: createScore
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreCreation"
      produces:
        - application/json
      responses:
        "200":
          description: Score created
          schema:
            $ref: "#/definitions/ScoreDetails"
        "400":
          description: Bad score creation request
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Create a new score
      tags:
        - Score
  "/scores/{score}":
    delete:
      description: >
        This method can be used by the owner/admin (`aclAdmin` rights) of a score as well as regular collaborators.


        When called by an owner/admin, it will schedule the deletion of the score, its revisions, and complete history.

        The score won't be accessible anymore after calling this method and the user's quota will directly be updated.


        When called by a regular collaborator (`aclRead` / `aclWrite`), the score will be unshared (i.e. removed from the account & own collections).
      operationId: deleteScore
      parameters:
        - $ref: "#/parameters/score"
      produces:
        - application/json
      responses:
        "204":
          description: The score has been removed
        "403":
          description: Not granted to manage this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Delete a score
      tags:
        - Score
    get:
      description: >
        Get the details of a score identified by the `score` parameter in the URL.

        The currently authenticated user must have at least a read access to the document to use this API call.
      operationId: getScore
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: Score details
          schema:
            $ref: "#/definitions/ScoreDetails"
        "402":
          description: Account overquota and this document is out of the granted quota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: Get a score's metadata
      tags:
        - Score
    put:
      consumes:
        - application/json
      description: >
        This API method allows you to change the metadata of a score document (e.g. its `title` or `privacy`), all the properties are optional.


        To edit the file itself, create a new revision using the appropriate method (`POST /v2/scores/{score}/revisions/{revision}`).


        When editing the `title`, `subtitle`, `composer`, `lyricist` or `licenseText`, the metadatas will be instantly be updated, and a real-time action will be pushed to update the document lazily.

        This pending document modification will be automatically be saved as a new version by either a connected client or our internal versioning service.
      operationId: editScore
      parameters:
        - $ref: "#/parameters/score"
        - in: body
          name: body
          schema:
            $ref: "#/definitions/ScoreModification"
      produces:
        - application/json
      responses:
        "200":
          description: Score details
          schema:
            $ref: "#/definitions/ScoreDetails"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Edit a score's metadata
      tags:
        - Score
  "/scores/{score}/collaborators":
    get:
      description: >
        This API call will list the different collaborators of a score and their rights on the document. The returned list will at least contain the owner of the document.


        Collaborators can be a single user (the object `user` will be populated) or a group (the object `group` will be populated).
      operationId: getScoreCollaborators
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: List of collaborators
          schema:
            items:
              $ref: "#/definitions/ResourceCollaborator"
            type: array
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.readonly
            - scores
      summary: List the collaborators
      tags:
        - Score
    post:
      consumes:
        - application/json
      description: >
        Share a score with a single user or a group. This API call allows to add, invite and update the collaborators of a resource.

        - To add an existing Flat user to the resource, specify its unique identifier in the `user` property.

        - To invite an external user to the resource, specify its email in the `userEmail` property.

        - To add a Flat group to the resource, specify its unique identifier in the `group` property.

        - To update an existing collaborator, process the same request with different rights.
      operationId: addScoreCollaborator
      parameters:
        - $ref: "#/parameters/score"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ResourceCollaboratorCreation"
      produces:
        - application/json
      responses:
        "200":
          description: The newly added collaborator metadata
          schema:
            $ref: "#/definitions/ResourceCollaborator"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to manage this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Add a new collaborator
      tags:
        - Score
  "/scores/{score}/collaborators/{collaborator}":
    delete:
      description: >
        Remove the specified collaborator from the score
      operationId: removeScoreCollaborator
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/resourceCollaborator"
      produces:
        - application/json
      responses:
        "204":
          description: The collaborator has been removed
        "403":
          description: Not granted to manage this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or collaborator not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Delete a collaborator
      tags:
        - Score
    get:
      description: >
        Get the information about a collaborator (User or Group).
      operationId: getScoreCollaborator
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/resourceCollaborator"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: Collaborator information
          schema:
            $ref: "#/definitions/ResourceCollaborator"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or collaborator not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.readonly
      summary: Get a collaborator
      tags:
        - Score
  "/scores/{score}/comments":
    get:
      description: This method lists the different comments added on a music score (documents and inline) sorted by their post dates.
      operationId: getScoreComments
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
        - description: Filter the comments by type
          enum:
            - document
            - inline
          in: query
          name: type
          type: string
        - description: Sort
          enum:
            - date
          in: query
          name: sort
          type: string
        - $ref: "#/parameters/sortDirection"
      produces:
        - application/json
      responses:
        "200":
          description: The comments of the score
          schema:
            items:
              $ref: "#/definitions/ScoreComment"
            type: array
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.readonly
            - scores.social
            - scores
      summary: List comments
      tags:
        - Score
    post:
      consumes:
        - application/json
      description: >
        Post a document or a contextualized comment on a document.


        Please note that this method includes an anti-spam system for public scores. We don't guarantee that your comments will be accepted and displayed to end-user. Comments are be blocked by returning a `403` HTTP error and hidden from other users when the `spam` property is `true`.
      operationId: postScoreComment
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreCommentCreation"
      produces:
        - application/json
      responses:
        "200":
          description: The new comment
          schema:
            $ref: "#/definitions/ScoreComment"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score, to post a comment, or your API call triggered our spam filter.
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.social
            - scores
      summary: Post a new comment
      tags:
        - Score
  "/scores/{score}/comments/{comment}":
    delete:
      operationId: deleteScoreComment
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreComment"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "204":
          description: The comment has been deleted
        "403":
          description: Not granted to access to this score or not the original comment creator
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or comment not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.social
            - scores
      summary: Delete a comment
      tags:
        - Score
    put:
      consumes:
        - application/json
      operationId: updateScoreComment
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreComment"
        - $ref: "#/parameters/sharingKey"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreCommentUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: The edited comment
          schema:
            $ref: "#/definitions/ScoreComment"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score or not the original comment creator
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.social
            - scores
      summary: Update an existing comment
      tags:
        - Score
  "/scores/{score}/comments/{comment}/resolved":
    delete:
      operationId: markScoreCommentUnresolved
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreComment"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "204":
          description: The comment has been unmarked as resolved
        "403":
          description: Not granted to unmark this comment as resolved
        "404":
          description: Score or comment not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.social
            - scores
      summary: Mark the comment as unresolved
      tags:
        - Score
    put:
      consumes:
        - application/json
      operationId: markScoreCommentResolved
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreComment"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "204":
          description: The comment has been marked as resolved
        "403":
          description: Not granted to mark this comment as resolved
        "404":
          description: Score or comment not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores.social
            - scores
      summary: Mark the comment as resolved
      tags:
        - Score
  "/scores/{score}/fork":
    post:
      consumes:
        - application/json
      description: >
        This API call will make a copy of the last revision of the specified score and create a new score. The copy of the score will have a privacy set to `private`.


        When using a [Flat for Education](https://flat.io/edu) account, the inline and contextualized comments will be accessible in the child document.
      operationId: forkScore
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreFork"
      produces:
        - application/json
      responses:
        "200":
          description: Score details
          schema:
            $ref: "#/definitions/ScoreDetails"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Fork a score
      tags:
        - Score
  "/scores/{score}/revisions":
    get:
      description: >
        When creating a score or saving a new version of a score, a revision is created in our storage. This method allows you to list all of them, sorted by last modification.


        Depending the plan of the account, this list can be trunked to the few last revisions.
      operationId: getScoreRevisions
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: List of revisions
          schema:
            items:
              $ref: "#/definitions/ScoreRevision"
            type: array
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: List the revisions
      tags:
        - Score
    post:
      consumes:
        - application/json
      description: >
        Update a score by uploading a new revision for this one.
      operationId: createScoreRevision
      parameters:
        - $ref: "#/parameters/score"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreRevisionCreation"
      produces:
        - application/json
      responses:
        "200":
          description: The new created revision metadata
          schema:
            $ref: "#/definitions/ScoreRevision"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to modify this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Create a new revision
      tags:
        - Score
  "/scores/{score}/revisions/{revision}":
    get:
      description: >
        When creating a score or saving a new version of a score, a revision is created in our storage. This method allows you to get a specific

        revision metadata.
      operationId: getScoreRevision
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreRevision"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: Revision metadata
          schema:
            $ref: "#/definitions/ScoreRevision"
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: Get a score revision
      tags:
        - Score
  "/scores/{score}/revisions/{revision}/{format}":
    get:
      description: >
        Retrieve the file corresponding to a score revision (the following formats are available: Flat JSON/Adagio JSON `json`, MusicXML

        `mxl`/`xml`, MP3 `mp3`, WAV `wav`, MIDI `midi`, or a tumbnail of the first page `thumbnail.png`).
      operationId: getScoreRevisionData
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreRevision"
        - $ref: "#/parameters/sharingKey"
        - $ref: "#/parameters/scoreParts"
        - description: The format of the file you will retrieve
          enum:
            - json
            - mxl
            - xml
            - mp3
            - wav
            - midi
            - thumbnail.png
          in: path
          name: format
          required: true
          type: string
        - description: >
            Only return files already generated and cached in Flat's production

            cache. If the file is not availabe, a 404 will be returned
          in: query
          name: onlyCached
          type: boolean
      produces:
        - application/json
        - application/vnd.recordare.musicxml+xml
        - application/vnd.recordare.musicxml
        - audio/mp3
        - audio/wav
        - audio/midi
        - image/png
      responses:
        "200":
          description: Revision data
          schema:
            format: binary
            type: string
        "402":
          description: Account overquota
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or associated file not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: Get a score revision data
      tags:
        - Score
  "/scores/{score}/submissions":
    get:
      description: >
        This API call will list the different assignments submissions where the score is attached. This method can be used by anyone that are part of the organization and have at least read access to the document.
      operationId: getScoreSubmissions
      parameters:
        - $ref: "#/parameters/score"
      produces:
        - application/json
      responses:
        "200":
          description: List of submissions
          schema:
            items:
              $ref: "#/definitions/AssignmentSubmission"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: List submissions related to the score
      tags:
        - Score
        - Class
  "/scores/{score}/tracks":
    get:
      operationId: listScoreTracks
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: List of tracks
          schema:
            items:
              $ref: "#/definitions/ScoreTrack"
            type: array
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: List the audio or video tracks linked to a score
      tags:
        - Score
    post:
      consumes:
        - application/json
      description: >
        Use this method to add new track to the score. This track can then be played on flat.io or in an embedded score.

        This API method support medias hosted on SoundCloud, YouTube and Vimeo.
      operationId: addScoreTrack
      parameters:
        - $ref: "#/parameters/score"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreTrackCreation"
      produces:
        - application/json
      responses:
        "200":
          description: Created track
          schema:
            $ref: "#/definitions/ScoreTrack"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Add a new video or audio track to the score
      tags:
        - Score
  "/scores/{score}/tracks/{track}":
    delete:
      operationId: deleteScoreTrack
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreTrack"
      produces:
        - application/json
      responses:
        "204":
          description: Track removed
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or Track not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Remove an audio or video track linked to the score
      tags:
        - Score
    get:
      operationId: getScoreTrack
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreTrack"
        - $ref: "#/parameters/sharingKey"
      produces:
        - application/json
      responses:
        "200":
          description: Track details
          schema:
            $ref: "#/definitions/ScoreTrack"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or Track not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: Retrieve the details of an audio or video track linked to a score
      tags:
        - Score
    put:
      consumes:
        - application/json
      operationId: updateScoreTrack
      parameters:
        - $ref: "#/parameters/score"
        - $ref: "#/parameters/scoreTrack"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ScoreTrackUpdate"
      produces:
        - application/json
      responses:
        "200":
          description: Updated track
          schema:
            $ref: "#/definitions/ScoreTrack"
        "403":
          description: Not granted to access to this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score or Track not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
      summary: Update an audio or video track linked to a score
      tags:
        - Score
  "/scores/{score}/untrash":
    post:
      consumes:
        - application/json
      description: >
        This method will remove the score from the `trash` collection and from the deletion queue, and add it back to the original collections.
      operationId: untrashScore
      parameters:
        - $ref: "#/parameters/score"
      produces:
        - application/json
      responses:
        "204":
          description: The score has been untrashed
        "403":
          description: Not granted to manage this score
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        "404":
          description: Score not found
          schema:
            $ref: "#/definitions/FlatErrorResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security: []
      summary: Untrash a score
      tags:
        - Score
  "/users/{user}":
    get:
      description: >
        Get a public profile of a Flat User.
      operationId: getUser
      parameters:
        - description: >
            This route parameter is the unique identifier of the user. You can specify an email instead of an unique identifier. If you are executing this request authenticated, you can use `me` as a value instead of the current User unique identifier to work on the current authenticated user.
          in: path
          name: user
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The user public details
          schema:
            $ref: "#/definitions/UserPublic"
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - account.public_profile
            - account.education_profile
      summary: Get a public user profile
      tags:
        - User
  "/users/{user}/likes":
    get:
      operationId: gerUserLikes
      parameters:
        - $ref: "#/parameters/user"
        - description: Return only the identifiers of the scores
          in: query
          name: ids
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: List of liked scores
          schema:
            items:
              $ref: "#/definitions/ScoreDetails"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - account.public_profile
      summary: List liked scores
      tags:
        - User
        - Score
  "/users/{user}/scores":
    get:
      description: >
        Get the list of public scores owned by a User.


        **DEPRECATED**: Please note that the current behavior will be deprecrated on **2019-01-01**.

        This method will no longer list private and shared scores, but only public scores of a Flat account.

        If you want to access to private scores, please use the [Collections API](#tag/Collection) instead.
      operationId: getUserScores
      parameters:
        - $ref: "#/parameters/user"
        - description: Filter the score forked from the score id `parent`
          in: query
          name: parent
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The user scores
          schema:
            items:
              $ref: "#/definitions/ScoreDetails"
            type: array
        default:
          description: Error
          schema:
            $ref: "#/definitions/FlatErrorResponse"
      security:
        - OAuth2:
            - scores
            - scores.readonly
      summary: List user's scores
      tags:
        - User
        - Score
definitions:
  Assignment:
    description: Assignment details
    example:
      attachments:
        - score: "0000000000000000"
          type: flat
        - type: link
          url: https://flat.io/developers
        - authorName: Flat
          authorUrl: https://www.youtube.com/channel/UCEUIbEP9Rba_g0r4eeGhmXw
          description: Discover Flat on https://flat.io
          html: <iframe width="560" height="315" src="https://www.youtube.com/embed/SNbRUiBZ4Uw" frameborder="0" allowfullscreen></iframe>
          thumbnailHeight: 1052
          thumbnailUrl: https://i.ytimg.com/vi/SNbRUiBZ4Uw/maxresdefault.jpg
          thumbnailWidth: 1868
          title: Flat - The online collaborative music notation software
          type: video
          url: https://www.youtube.com/watch?v=SNbRUiBZ4Uw
      classroom: 58c4725345cd836264f0b29e
      creationDate: 2017-06-12T13:56:19.613Z
      creator: 5832bf149995c4024bd6de7d
      description: Get started with Flat
      dueDate: 2017-07-12T13:56:19.613Z
      googleClassroom:
        alternateLink: http://classroom.google.com/c/music-theory/a/first-assignment/detail
        id: "1235665432"
      scheduledDate: 2017-06-18T13:56:19.613Z
      state: active
      submissions:
        - assignment: 58c49068524c03ec576ca43c
          attachments:
            - score: 58c4955a226ffff257211a8d
              title: Hello - Student
              type: flat
          classroom: 58c4725345cd836264f0b29e
          creationDate: 2017-03-12T00:25:00.748Z
          creator: 559eb5c7f0d4d5e46d03781d
          googleClassroom:
            alternateLink: http://classroom.google.com/c/music-theory/a/first-assignment/submissions/student/my-submission
            id: CgsI-00000000000
            state: turned_in
          id: 58c4955c226ffff257211a90
          submissionDate: 2017-03-12T00:25:22.748Z
      title: My first assignment
    properties:
      attachments:
        items:
          $ref: "#/definitions/MediaAttachment"
        type: array
      classroom:
        description: The unique identifier of the class where this assignment was posted
        type: string
      creationDate:
        description: The creation date of this assignment
        format: date-time
        type: string
      creator:
        description: >
          The User unique identifier of the creator of this assignment
        type: string
      description:
        description: Description and content of the assignment
        type: string
      dueDate:
        description: >
          The due date of this assignment, late submissions will be marked as

          paste due.
        format: date-time
        type: string
      googleClassroom:
        $ref: "#/definitions/GoogleClassroomCoursework"
      scheduledDate:
        description: >
          The publication (scheduled) date of the assignment.

          If this one is specified, the assignment will only be listed to the teachers of the class.
        format: date-time
        type: string
      state:
        description: State of the assignment
        enum:
          - draft
          - active
          - archived
        type: string
      submissions:
        items:
          $ref: "#/definitions/AssignmentSubmission"
        type: array
      title:
        description: Title of the assignment
        type: string
    type: object
  AssignmentCopy:
    description: Assignment copy operation
    example:
      classroom: "0000000000000000"
    properties:
      classroom:
        description: The destination classroom where the assignment will be copied
        type: string
    required:
      - classroom
    type: object
  AssignmentCreation:
    description: Assignment creation details
    example:
      attachments:
        - score: "0000000000000000"
          type: flat
        - type: link
          url: https://flat.io/developers
      description: Get started with Flat
      dueDate: 2017-07-12T13:56:19.613Z
      scheduledDate: 2017-06-20T13:56:19.613Z
      title: First assignment
    properties:
      attachments:
        items:
          $ref: "#/definitions/ClassAttachmentCreation"
        type: array
      description:
        description: Description and content of the assignment
        type: string
      dueDate:
        description: >
          The due date of this assignment, late submissions will be marked as paste due. If not set, the assignment won't have a due date.
        format: date-time
        type: string
      scheduledDate:
        description: >
          The publication (scheduled) date of the assignment.

          If this one is specified, the assignment will only be listed to the teachers of the class.
        format: date-time
        type: string
      title:
        description: Title of the assignment
        type: string
    type: object
  AssignmentSubmission:
    description: Assignment Submission
    example:
      assignment: 58c49068524c03ec576ca43c
      attachments:
        - score: 58c4955a226ffff257211a8d
          title: Hello - Student
          type: flat
      classroom: 58c4725345cd836264f0b29e
      creationDate: 2017-03-12T00:25:00.748Z
      creator: 559eb5c7f0d4d5e46d03781d
      googleClassroom:
        alternateLink: http://classroom.google.com/c/music-theory/a/first-assignment/submissions/student/my-submission
        id: CgsI-00000000000
        state: turned_in
      id: 58c4955c226ffff257211a90
      submissionDate: 2017-03-12T00:25:22.748Z
    properties:
      assignment:
        description: Unique identifier of the assignment
        type: string
      attachments:
        items:
          $ref: "#/definitions/MediaAttachment"
        type: array
      classroom:
        description: >
          Unique identifier of the classroom where the assignment was posted
        type: string
      creationDate:
        description: The date when the submission was created
        type: string
      creator:
        description: The User identifier of the student who created the submission
        type: string
      googleClassroom:
        $ref: "#/definitions/GoogleClassroomSubmission"
      id:
        description: Unique identifier of the submission
        type: string
      returnCreator:
        description: >
          The User unique identifier of the teacher who returned the submission
        type: string
      returnDate:
        description: The date when the teacher returned the work
        type: string
      returnFeedback:
        description: The feedback associated with the return
        type: string
      state:
        description: State of the submission
        enum:
          - created
          - turnedIn
          - returned
        type: string
      studentComment:
        description: >
          An optionnal comment sent by the student when submitting his work
        type: string
      submissionDate:
        description: The date when the student submitted his work
        type: string
    type: object
  AssignmentSubmissionUpdate:
    description: Assignment Submission creation
    example:
      attachments:
        - score: 58c4955a226ffff257211a8d
          title: Hello - Student
          type: flat
      studentComment: Here is my great creation
      submit: true
    properties:
      attachments:
        items:
          $ref: "#/definitions/ClassAttachmentCreation"
        type: array
      returnFeedback:
        description: The feedback associated with the return
        type: string
      studentComment:
        description: >
          An optionnal comment sent by the student when submitting his work
        type: string
      submit:
        description: If `true`, the submission will be marked as done
        type: boolean
    type: object
  ClassAttachmentCreation:
    description: >
      Attachment creation for an assignment or stream post.

      This attachment must contain a `score` or an `url`, all the details of this one will be resolved and returned as `ClassAttachment` once the assignment or stream post is created.
    example:
      score: "000000000000000001"
      sharingMode: copy
      type: flat
    properties:
      score:
        description: >
          A unique Flat score identifier. The user creating the assignment must at least have read access to the document. If the user has admin rights, new group permissions will be automatically added for the

          teachers and students of the class.
        type: string
      type:
        description: The type of the attachment posted
        enum:
          - flat
          - link
          - exercise
        type: string
      url:
        description: The URL of the attachment.
        type: string
    type: object
  ClassCreation:
    description: Creation of a classroom
    example:
      name: Music Theory Course
      section: Music Theory 101
    properties:
      name:
        description: The name of the new class
        maxLength: 255
        type: string
      section:
        description: The section of the new class
        maxLength: 255
        type: string
    required:
      - name
    type: object
  ClassDetails:
    description: A classroom
    example:
      assignmentsCount: 10
      canvas:
        id: "000000000"
      creationTime: 2017-01-25T09:47:34.544Z
      enrollmentCode: jm447ear
      googleClassroom:
        alternateLink: http://classroom.google.com/c/music-theory
        creationTime: 2017-01-25T09:47:34.544Z
        id: "00000000"
        name: Music Theory 101
        ownerId: "0000000000424242"
        updateTime: 2017-01-25T09:47:33.481Z
      googleDrive:
        teacherFolderAlternateLink: https://drive.google.com/drive/folders/0B-0000000000000000
        teacherFolderId: 0B-0000000000000000
      id: "100000000000000000000001"
      lti:
        contextId: "042"
        contextLabel: MUSIC
        contextTitle: Music Theory 101
      name: Music Theory 101
      organization: "100000000000000000000002"
      owner: "100000000000000000000003"
      section: Music Theory 101
      state: active
      theme: blue-8
    properties:
      assignmentsCount:
        description: The number of assignments created in the class
        type: number
      canvas:
        description: Meta information provided by Canvs LMS
        properties:
          domain:
[...]
