swagger: '2.0'
schemes:
  - https
  - http
host: kinesisanalytics.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Kinesis Analytics</fullname> <p> <b>Overview</b> </p> <note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>This is the <i>Amazon Kinesis Analytics v1 API Reference</i>. The Amazon Kinesis Analytics Developer Guide provides additional information. </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Kinesis Analytics
  version: '2015-08-14'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisanalytics-2015-08-14.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: kinesisanalytics
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/kinesisanalytics/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=KinesisAnalytics_20150814.AddApplicationCloudWatchLoggingOption':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds a CloudWatch log stream to monitor application configuration errors. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html">Working with Amazon CloudWatch Logs</a>.</p>'
      operationId: AddApplicationCloudWatchLoggingOption
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationCloudWatchLoggingOptionRequest'
        - enum:
            - KinesisAnalytics_20150814.AddApplicationCloudWatchLoggingOption
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationCloudWatchLoggingOptionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.AddApplicationInput':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p> Adds a streaming source to your Amazon Kinesis application. For conceptual information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. </p> <p>You can add a streaming source either when you create an application or you can use this operation to add a streaming source after you create an application. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_CreateApplication.html">CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to find the current application version. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationInput</code> action.</p>'
      operationId: AddApplicationInput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationInputRequest'
        - enum:
            - KinesisAnalytics_20150814.AddApplicationInput
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationInputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '485':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.AddApplicationInputProcessingConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds an <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html">InputProcessingConfiguration</a> to an application. An input processor preprocesses records on the input stream before the application''s SQL code executes. Currently, the only input processor available is <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a>.</p>'
      operationId: AddApplicationInputProcessingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationInputProcessingConfigurationRequest'
        - enum:
            - KinesisAnalytics_20150814.AddApplicationInputProcessingConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationInputProcessingConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.AddApplicationOutput':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds an external destination to your Amazon Kinesis Analytics application.</p> <p>If you want Amazon Kinesis Analytics to deliver data from an in-application stream within your application to an external destination (such as an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html">Understanding Application Output (Destination)</a>. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to find the current application version.</p> <p>For the limits on the number of application inputs and outputs you can configure, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html">Limits</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action.</p>'
      operationId: AddApplicationOutput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationOutputRequest'
        - enum:
            - KinesisAnalytics_20150814.AddApplicationOutput
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationOutputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.AddApplicationReferenceDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds a reference data source to an existing application.</p> <p>Amazon Kinesis Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in Amazon S3 object maps to columns in the resulting in-application table.</p> <p> For conceptual information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. For the limits on data sources you can add to your application, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html">Limits</a>. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action. </p>'
      operationId: AddApplicationReferenceDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationReferenceDataSourceRequest'
        - enum:
            - KinesisAnalytics_20150814.AddApplicationReferenceDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationReferenceDataSourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.CreateApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p> Creates an Amazon Kinesis Analytics application. You can configure each application with one streaming source as input, application code to process the input, and up to three destinations where you want Amazon Kinesis Analytics to write the output data from your application. For an overview, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works.html">How it Works</a>. </p> <p>In the input configuration, you map the streaming source to an in-application stream, which you can think of as a constantly updating table. In the mapping, you must provide a schema for the in-application stream and map each data column in the in-application stream to a data element in the streaming source.</p> <p>Your application code is one or more SQL statements that read input data, transform it, and generate output. Your application code can create one or more SQL artifacts like SQL streams or pumps.</p> <p>In the output configuration, you can configure the application to write data from in-application streams created in your applications to up to three destinations.</p> <p> To read data from your source stream or write data to destination streams, Amazon Kinesis Analytics needs your permissions. You grant these permissions by creating IAM roles. This operation requires permissions to perform the <code>kinesisanalytics:CreateApplication</code> action. </p> <p> For introductory exercises to create an Amazon Kinesis Analytics application, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/getting-started.html">Getting Started</a>. </p>'
      operationId: CreateApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationRequest'
        - enum:
            - KinesisAnalytics_20150814.CreateApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationResponse'
        '480':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '485':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DeleteApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes the specified application. Amazon Kinesis Analytics halts application execution and deletes the application, including any application artifacts (such as in-application streams, reference table, and application code).</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplication</code> action.</p>'
      operationId: DeleteApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationRequest'
        - enum:
            - KinesisAnalytics_20150814.DeleteApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DeleteApplicationCloudWatchLoggingOption':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes a CloudWatch log stream from an application. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html">Working with Amazon CloudWatch Logs</a>.</p>'
      operationId: DeleteApplicationCloudWatchLoggingOption
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationCloudWatchLoggingOptionRequest'
        - enum:
            - KinesisAnalytics_20150814.DeleteApplicationCloudWatchLoggingOption
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationCloudWatchLoggingOptionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DeleteApplicationInputProcessingConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes an <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html">InputProcessingConfiguration</a> from an input.</p>'
      operationId: DeleteApplicationInputProcessingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationInputProcessingConfigurationRequest'
        - enum:
            - KinesisAnalytics_20150814.DeleteApplicationInputProcessingConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationInputProcessingConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DeleteApplicationOutput':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes output destination configuration from your application configuration. Amazon Kinesis Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplicationOutput</code> action.</p>'
      operationId: DeleteApplicationOutput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationOutputRequest'
        - enum:
            - KinesisAnalytics_20150814.DeleteApplicationOutput
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationOutputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DeleteApplicationReferenceDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes a reference data source configuration from the specified application configuration.</p> <p>If the application is running, Amazon Kinesis Analytics immediately removes the in-application table that you created using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_AddApplicationReferenceDataSource.html">AddApplicationReferenceDataSource</a> operation. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics.DeleteApplicationReferenceDataSource</code> action.</p>'
      operationId: DeleteApplicationReferenceDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationReferenceDataSourceRequest'
        - enum:
            - KinesisAnalytics_20150814.DeleteApplicationReferenceDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationReferenceDataSourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DescribeApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Returns information about a specific Amazon Kinesis Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_ListApplications.html">ListApplications</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DescribeApplication</code> action. You can use <code>DescribeApplication</code> to get the current application versionId, which you need to call other operations such as <code>Update</code>. </p>'
      operationId: DescribeApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationRequest'
        - enum:
            - KinesisAnalytics_20150814.DescribeApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.DiscoverInputSchema':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Infers a schema by evaluating sample records on the specified streaming source (Amazon Kinesis stream or Amazon Kinesis Firehose delivery stream) or S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. For conceptual information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. Note that when you create an application using the Amazon Kinesis Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:DiscoverInputSchema</code> action. </p>'
      operationId: DiscoverInputSchema
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DiscoverInputSchemaRequest'
        - enum:
            - KinesisAnalytics_20150814.DiscoverInputSchema
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DiscoverInputSchemaResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: UnableToDetectSchemaException
          schema:
            $ref: '#/definitions/UnableToDetectSchemaException'
        '482':
          description: ResourceProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ResourceProvisionedThroughputExceededException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.ListApplications':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Returns a list of Amazon Kinesis Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. If the response returns the <code>HasMoreApplications</code> value as true, you can send another request by adding the <code>ExclusiveStartApplicationName</code> in the request body, and set the value of this to the last application name from the previous response. </p> <p>If you want detailed information about a specific application, use <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:ListApplications</code> action.</p>'
      operationId: ListApplications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsRequest'
        - enum:
            - KinesisAnalytics_20150814.ListApplications
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsResponse'
  '/#X-Amz-Target=KinesisAnalytics_20150814.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves the list of key-value tags assigned to the application. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html">Using Tagging</a>.'
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - KinesisAnalytics_20150814.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.StartApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Starts the specified Amazon Kinesis Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <p>After the application starts, it begins consuming the input data, processes it, and writes the output to the configured destination.</p> <p> The application status must be <code>READY</code> for you to start an application. You can get the application status in the console or using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation.</p> <p>After you start the application, you can stop the application from processing the input by calling the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_StopApplication.html">StopApplication</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StartApplication</code> action.</p>'
      operationId: StartApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartApplicationRequest'
        - enum:
            - KinesisAnalytics_20150814.StartApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.StopApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Stops the application from processing input data. You can stop an application only if it is in the running state. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to find the application state. After the application is stopped, Amazon Kinesis Analytics stops reading data from the input, the application stops processing data, and there is no output written to the destination. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StopApplication</code> action.</p>'
      operationId: StopApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopApplicationRequest'
        - enum:
            - KinesisAnalytics_20150814.StopApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds one or more key-value tags to a Kinesis Analytics application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html">Using Tagging</a>.'
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - KinesisAnalytics_20150814.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes one or more tags from a Kinesis Analytics application. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html">Using Tagging</a>.'
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - KinesisAnalytics_20150814.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20150814.UpdateApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Updates an existing Amazon Kinesis Analytics application. Using this API, you can update application code, input configuration, and output configuration. </p> <p>Note that Amazon Kinesis Analytics updates the <code>CurrentApplicationVersionId</code> each time you update your application. </p> <p>This operation requires permission for the <code>kinesisanalytics:UpdateApplication</code> action.</p>'
      operationId: UpdateApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationRequest'
        - enum:
            - KinesisAnalytics_20150814.UpdateApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApplicationResponse'
        '480':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '485':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
definitions:
  AddApplicationCloudWatchLoggingOptionRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The Kinesis Analytics application name.
      CloudWatchLoggingOption:
        $ref: '#/definitions/CloudWatchLoggingOption'
        description: 'Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.'
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the Kinesis Analytics application.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - CloudWatchLoggingOption
    type: object
  AddApplicationCloudWatchLoggingOptionResponse:
    properties: {}
    type: object
  AddApplicationInputProcessingConfigurationRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of the application to which you want to add the input processing configuration.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'Version of the application to which you want to add the input processing configuration. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      InputId:
        $ref: '#/definitions/Id'
        description: 'The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation.'
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: 'The <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html">InputProcessingConfiguration</a> to add to the application.'
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - InputId
      - InputProcessingConfiguration
    type: object
  AddApplicationInputProcessingConfigurationResponse:
    properties: {}
    type: object
  AddApplicationInputRequest:
    description: <p/>
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'Current version of your Amazon Kinesis Analytics application. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to find the current application version.'
      Input:
        $ref: '#/definitions/Input'
        description: 'The <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_Input.html">Input</a> to add.'
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - Input
    type: object
  AddApplicationInputResponse:
    description: <p/>
    properties: {}
    type: object
  AddApplicationOutputRequest:
    description: <p/>
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of the application to which you want to add the output configuration.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'Version of the application to which you want to add the output configuration. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      Output:
        $ref: '#/definitions/Output'
        description: 'An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.'
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - Output
    type: object
  AddApplicationOutputResponse:
    description: <p/>
    properties: {}
    type: object
  AddApplicationReferenceDataSourceRequest:
    description: <p/>
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of an existing application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'Version of the application for which you are adding the reference data source. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      ReferenceDataSource:
        $ref: '#/definitions/ReferenceDataSource'
        description: 'The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.'
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - ReferenceDataSource
    type: object
  AddApplicationReferenceDataSourceResponse:
    description: <p/>
    properties: {}
    type: object
  ApplicationCode:
    maxLength: 102400
    minLength: 0
    type: string
  ApplicationDescription:
    maxLength: 1024
    minLength: 0
    type: string
  ApplicationDetail:
    description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Provides a description of the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configuration.</p>'
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: ARN of the application.
      ApplicationCode:
        $ref: '#/definitions/ApplicationCode'
        description: Returns the application code that you provided to perform data analysis on any of the in-application streams in your application.
      ApplicationDescription:
        $ref: '#/definitions/ApplicationDescription'
        description: Description of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of the application.
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: Status of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: 'Describes the CloudWatch log streams that are configured to receive application messages. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html">Working with Amazon CloudWatch Logs</a>. '
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: Time stamp when the application version was created.
      InputDescriptions:
        $ref: '#/definitions/InputDescriptions'
        description: 'Describes the application input configuration. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. '
      LastUpdateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: Time stamp when the application was last updated.
      OutputDescriptions:
        $ref: '#/definitions/OutputDescriptions'
        description: 'Describes the application output configuration. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html">Configuring Application Output</a>. '
      ReferenceDataSourceDescriptions:
        $ref: '#/definitions/ReferenceDataSourceDescriptions'
        description: 'Describes reference data sources configured for the application. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. '
    required:
      - ApplicationName
      - ApplicationARN
      - ApplicationStatus
      - ApplicationVersionId
    type: object
  ApplicationName:
    maxLength: 128
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  ApplicationStatus:
    enum:
      - DELETING
      - STARTING
      - STOPPING
      - READY
      - RUNNING
      - UPDATING
    type: string
  ApplicationSummaries:
    items:
      $ref: '#/definitions/ApplicationSummary'
    type: array
  ApplicationSummary:
    description: '<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href="/kinesisanalytics/latest/apiv2/Welcome.html">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.</p>'
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: ARN of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of the application.
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: Status of the application.
    required:
      - ApplicationName
      - ApplicationARN
      - ApplicationStatus
    type: object
  ApplicationUpdate:
    description: Describes updates to apply to an existing Amazon Kinesis Analytics application.
    properties:
      ApplicationCodeUpdate:
        $ref: '#/definitions/ApplicationCode'
        description: Describes application code updates.
      CloudWatchLoggingOptionUpdates:
        $ref: '#/definitions/CloudWatchLoggingOptionUpdates'
        description: Describes application CloudWatch logging option updates.
      InputUpdates:
        $ref: '#/definitions/InputUpdates'
        description: Describes application input configuration updates.
      OutputUpdates:
        $ref: '#/definitions/OutputUpdates'
        description: Describes application output configuration updates.
      ReferenceDataSourceUpdates:
        $ref: '#/definitions/ReferenceDataSourceUpdates'
        description: Describes application reference data source updates.
    type: object
  ApplicationVersionId:
    maximum: 999999999
    minimum: 1
    type: integer
  BooleanObject:
    type: boolean
  BucketARN:
    maxLength: 2048
    minLength: 1
    pattern: 'arn:.*'
    type: string
  CSVMappingParameters:
    description: '<p>Provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>''\n''</i> as the row delimiter and a comma (",") as the column delimiter: </p> <p> <code>"name1", "address1"</code> </p> <p> <code>"name2", "address2"</code> </p>'
    properties:
      RecordColumnDelimiter:
        $ref: '#/definitions/RecordColumnDelimiter'
        description: 'Column delimiter. For example, in a CSV format, a comma (",") is the typical column delimiter.'
      RecordRowDelimiter:
        $ref: '#/definitions/RecordRowDelimiter'
        description: 'Row delimiter. For example, in a CSV format, <i>''\n''</i> is the typical row delimiter.'
    required:
      - RecordRowDelimiter
      - RecordColumnDelimiter
    type: object
  CloudWatchLoggingOption:
    description: 'Provides a description of CloudWatch logging options, including the log stream Amazon Resource Name (ARN) and the role ARN.'
    properties:
      LogStreamARN:
        $ref: '#/definitions/LogStreamARN'
        description: ARN of the CloudWatch log to receive application messages.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.'
    required:
      - LogStreamARN
      - RoleARN
    type: object
  CloudWatchLoggingOptionDescription:
    description: Description of the CloudWatch logging option.
    properties:
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: ID of the CloudWatch logging option description.
      LogStreamARN:
        $ref: '#/definitions/LogStreamARN'
        description: ARN of the CloudWatch log to receive application messages.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role used must have the <code>PutLogEvents</code> policy action enabled.'
    required:
      - LogStreamARN
      - RoleARN
    type: object
  CloudWatchLoggingOptionDescriptions:
    items:
      $ref: '#/definitions/CloudWatchLoggingOptionDescription'
    type: array
  CloudWatchLoggingOptionUpdate:
    description: Describes CloudWatch logging option updates.
    properties:
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: ID of the CloudWatch logging option to update
      LogStreamARNUpdate:
        $ref: '#/definitions/LogStreamARN'
        description: ARN of the CloudWatch log to receive application messages.
      RoleARNUpdate:
        $ref: '#/definitions/RoleARN'
        description: 'IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role used must have the <code>PutLogEvents</code> policy action enabled.'
    required:
      - CloudWatchLoggingOptionId
    type: object
  CloudWatchLoggingOptionUpdates:
    items:
      $ref: '#/definitions/CloudWatchLoggingOptionUpdate'
    type: array
  CloudWatchLoggingOptions:
    items:
      $ref: '#/definitions/CloudWatchLoggingOption'
    type: array
  CodeValidationException: {}
  ConcurrentModificationException: {}
  CreateApplicationRequest:
    description: TBD
    properties:
      ApplicationCode:
        $ref: '#/definitions/ApplicationCode'
        description: '<p>One or more SQL statements that read input data, transform it, and generate output. For example, you can write a SQL statement that reads data from one in-application stream, generates a running average of the number of advertisement clicks by vendor, and insert resulting rows in another in-application stream using pumps. For more information about the typical pattern, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-app-code.html">Application Code</a>. </p> <p>You can provide such series of SQL statements, where output of one statement can be used as the input for the next statement. You store intermediate results by creating in-application streams and pumps.</p> <p>Note that the application code must create the streams with names specified in the <code>Outputs</code>. For example, if your <code>Outputs</code> defines output streams named <code>ExampleOutputStream1</code> and <code>ExampleOutputStream2</code>, then your application code must create these streams. </p>'
      ApplicationDescription:
        $ref: '#/definitions/ApplicationDescription'
        description: Summary description of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: 'Name of your Amazon Kinesis Analytics application (for example, <code>sample-app</code>).'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: 'Use this parameter to configure a CloudWatch log stream to monitor application configuration errors. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html">Working with Amazon CloudWatch Logs</a>.'
      Inputs:
        $ref: '#/definitions/Inputs'
        description: '<p>Use this parameter to configure the application input.</p> <p>You can configure your application to receive input from a single streaming source. In this configuration, you map this streaming source to an in-application stream that is created. Your application code can then query the in-application stream like a table (you can think of it as a constantly updating table).</p> <p>For the streaming source, you provide its Amazon Resource Name (ARN) and format of data on the stream (for example, JSON, CSV, etc.). You also must provide an IAM role that Amazon Kinesis Analytics can assume to read this stream on your behalf.</p> <p>To create the in-application stream, you need to specify a schema to transform your data into a schematized version used in SQL. In the schema, you provide the necessary mapping of the data elements in the streaming source to record columns in the in-app stream.</p>'
      Outputs:
        $ref: '#/definitions/Outputs'
        description: '<p>You can configure application output to write data from any of the in-application streams to up to three destinations.</p> <p>These destinations can be Amazon Kinesis streams, Amazon Kinesis Firehose delivery streams, AWS Lambda destinations, or any combination of the three.</p> <p>In the configuration, you specify the in-application stream name, the destination stream or Lambda function Amazon Resource Name (ARN), and the format to use when writing data. You must also provide an IAM role that Amazon Kinesis Analytics can assume to write to the destination stream or Lambda function on your behalf.</p> <p>In the output configuration, you also provide the output stream or Lambda function ARN. For stream destinations, you provide the format of data in the stream (for example, JSON, CSV). You also must provide an IAM role that Amazon Kinesis Analytics can assume to write to the stream or Lambda function on your behalf.</p>'
      Tags:
        $ref: '#/definitions/Tags'
        description: 'A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html">Using Tagging</a>.'
    required:
      - ApplicationName
    type: object
  CreateApplicationResponse:
    description: TBD
    properties:
      ApplicationSummary:
        $ref: '#/definitions/ApplicationSummary'
        description: 'In response to your <code>CreateApplication</code> request, Amazon Kinesis Analytics returns a response with a summary of the application it created, including the application Amazon Resource Name (ARN), name, and status.'
    required:
      - ApplicationSummary
    type: object
  DeleteApplicationCloudWatchLoggingOptionRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The Kinesis Analytics application name.
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: 'The <code>CloudWatchLoggingOptionId</code> of the CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation. '
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the Kinesis Analytics application.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - CloudWatchLoggingOptionId
    type: object
  DeleteApplicationCloudWatchLoggingOptionResponse:
    properties: {}
    type: object
  DeleteApplicationInputProcessingConfigurationRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The Kinesis Analytics application name.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the Kinesis Analytics application.
      InputId:
        $ref: '#/definitions/Id'
        description: 'The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation.'
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - InputId
    type: object
  DeleteApplicationInputProcessingConfigurationResponse:
    properties: {}
    type: object
  DeleteApplicationOutputRequest:
    description: <p/>
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Amazon Kinesis Analytics application name.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'Amazon Kinesis Analytics application version. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      OutputId:
        $ref: '#/definitions/Id'
        description: 'The ID of the configuration to delete. Each output configuration that is added to the application, either when the application is created or later using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_AddApplicationOutput.html">AddApplicationOutput</a> operation, has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the specific <code>OutputId</code>. '
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - OutputId
    type: object
  DeleteApplicationOutputResponse:
    description: <p/>
    properties: {}
    type: object
  DeleteApplicationReferenceDataSourceRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of an existing application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'Version of the application. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      ReferenceId:
        $ref: '#/definitions/Id'
        description: 'ID of the reference data source. When you add a reference data source to your application using the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_AddApplicationReferenceDataSource.html">AddApplicationReferenceDataSource</a>, Amazon Kinesis Analytics assigns an ID. You can use the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation to get the reference ID. '
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - ReferenceId
    type: object
  DeleteApplicationReferenceDataSourceResponse:
    properties: {}
    type: object
  DeleteApplicationRequest:
    description: <p/>
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of the Amazon Kinesis Analytics application to delete.
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: ' You can use the <code>DescribeApplication</code> operation to get this value. '
    required:
      - ApplicationName
      - CreateTimestamp
    type: object
  DeleteApplicationResponse:
    description: <p/>
    properties: {}
    type: object
  DescribeApplicationRequest:
    description: <p/>
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: Name of the application.
    required:
      - ApplicationName
    type: object
  DescribeApplicationResponse:
    description: <p/>
    properties:
      ApplicationDetail:
        $ref: '#/definitions/ApplicationDetail'
        description: 'Provides a description of the application, such as the application Amazon Resource Name (ARN), status, latest version, and input and output configuration details.'
    required:
      - ApplicationDetail
    type: object
  DestinationSchema:
    description: 'Describes the data format when records are written to the destination. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html">Configuring Application Output</a>. '
    properties:
      RecordFormatType:
        $ref: '#/definitions/RecordFormatType'
        description: Specifies the format of the records on the output stream.
    required:
      - RecordFormatType
    type: object
  DiscoverInputSchemaRequest:
    properties:
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: 'The <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html">InputProcessingConfiguration</a> to use to preprocess the records before discovering the schema of the records.'
      InputStartingPositionConfiguration:
        $ref: '#/definitions/InputStartingPositionConfiguration'
        description: Point at which you want Amazon Kinesis Analytics to start reading records from the specified streaming source discovery purposes.
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: Amazon Resource Name (ARN) of the streaming source.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf.
      S3Configuration:
        $ref: '#/definitions/S3Configuration'
        description: Specify this parameter to discover a schema from data in an Amazon S3 object.
    type: object
  DiscoverInputSchemaResponse:
    description: <p/>
    properties:
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: Schema inferred from the streaming source. It identifies the format of the data in the streaming source and how each data element maps to corresponding columns in the in-application stream that you can create.
      ParsedInputRecords:
        $ref: '#/definitions/ParsedInputRecords'
        description: 'An array of elements, where each element corresponds to a row in a stream record (a stream record can have more than one row).'
      ProcessedInputRecords:
        $ref: '#/definitions/ProcessedInputRecords'
        description: Stream data that was modified by the processor specified in the <code>InputProcessingConfiguration</code> parameter.
      RawInputRecords:
        $ref: '#/definitions/RawInputRecords'
        description: Raw stream data that was sampled to infer the schema.
    type: object
  FileKey:
    maxLength: 1024
    minLength: 1
    type: string
  Id:
    maxLength: 50
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  InAppStreamName:
    maxLength: 32
    minLength: 1
    type: string
  InAppStreamNames:
    items:
      $ref: '#/definitions/InAppStreamName'
    type: array
  InAppTableName:
    maxLength: 32
    minLength: 1
    type: string
  Input:
    description: 'When you configure the application input, you specify the streaming source, the in-application stream name that is created, and the mapping between the two. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. '
    properties:
      InputParallelism:
        $ref: '#/definitions/InputParallelism'
        description: '<p>Describes the number of in-application streams to create. </p> <p>Data from your source is routed to these in-application input streams.</p> <p> (see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>.</p>'
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: 'The <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html">InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application''s SQL code executes. Currently, the only input processing configuration available is <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html">InputLambdaProcessor</a>.'
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: '<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>'
      KinesisFirehoseInput:
        $ref: '#/definitions/KinesisFirehoseInput'
        description: '<p>If the streaming source is an Amazon Kinesis Firehose delivery stream, identifies the delivery stream''s ARN and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code> or <code>KinesisFirehoseInput</code> is required.</p>'
      KinesisStreamsInput:
        $ref: '#/definitions/KinesisStreamsInput'
        description: '<p>If the streaming source is an Amazon Kinesis stream, identifies the stream''s Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code> or <code>KinesisFirehoseInput</code> is required.</p>'
      NamePrefix:
        $ref: '#/definitions/InAppStreamName'
        description: 'Name prefix to use when creating an in-application stream. Suppose that you specify a prefix "MyInApplicationStream." Amazon Kinesis Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with names "MyInApplicationStream_001," "MyInApplicationStream_002," and so on. '
    required:
      - NamePrefix
      - InputSchema
    type: object
  InputConfiguration:
    description: 'When you start your application, you provide this configuration, which identifies the input source and the point in the input source at which you want the application to start processing records.'
    properties:
      Id:
        $ref: '#/definitions/Id'
        description: 'Input source ID. You can get this ID by calling the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html">DescribeApplication</a> operation.'
      InputStartingPositionConfiguration:
        $ref: '#/definitions/InputStartingPositionConfiguration'
        description: Point at which you want the application to start processing records from the streaming source.
    required:
      - Id
      - InputStartingPositionConfiguration
    type: object
  InputConfigurations:
    items:
      $ref: '#/definitions/InputConfiguration'
    type: array
  InputDescription:
    description: 'Describes the application input configuration. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. '
    properties:
      InAppStreamNames:
        $ref: '#/definitions/InAppStreamNames'
        description: Returns the in-application stream names that are mapped to the stream source.
      InputId:
        $ref: '#/definitions/Id'
        description: 'Input ID associated with the application input. This is the ID that Amazon Kinesis Analytics assigns to each input configuration you add to your application. '
      InputParallelism:
        $ref: '#/definitions/InputParallelism'
        description: Describes the configured parallelism (number of in-application streams mapped to the streaming source).
      InputProcessingConfigurationDescription:
        $ref: '#/definitions/InputProcessingConfigurationDescription'
        description: The description of the preprocessor that executes on records in this input before the application's code is run.
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: 'Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created. '
      InputStartingPositionConfiguration:
        $ref: '#/definitions/InputStartingPositionConfiguration'
        description: Point at which the application is configured to read from the input stream.
      KinesisFirehoseInputDescription:
        $ref: '#/definitions/KinesisFirehoseInputDescription'
        description: 'If an Amazon Kinesis Firehose delivery stream is configured as a streaming source, provides the delivery stream''s ARN and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.'
      KinesisStreamsInputDescription:
        $ref: '#/definitions/KinesisStreamsInputDescription'
        description: 'If an Amazon Kinesis stream is configured as streaming source, provides Amazon Kinesis stream''s Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.'
      NamePrefix:
        $ref: '#/definitions/InAppStreamName'
        description: In-application name prefix.
    type: object
  InputDescriptions:
    items:
      $ref: '#/definitions/InputDescription'
    type: array
  InputLambdaProcessor:
    description: 'An object that contains the Amazon Resource Name (ARN) of the <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a> function that is used to preprocess records in the stream, and the ARN of the IAM role that is used to access the AWS Lambda function. '
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: '<p>The ARN of the <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a> function that operates on records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href="/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda">Example ARNs: AWS Lambda</a> </p> </note>'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the IAM role that is used to access the AWS Lambda function.
    required:
      - ResourceARN
      - RoleARN
    type: object
  InputLambdaProcessorDescription:
    description: 'An object that contains the Amazon Resource Name (ARN) of the <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a> function that is used to preprocess records in the stream, and the ARN of the IAM role that is used to access the AWS Lambda expression.'
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: 'The ARN of the <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a> function that is used to preprocess the records in the stream.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the IAM role that is used to access the AWS Lambda function.
    type: object
  InputLambdaProcessorUpdate:
    description: 'Represents an update to the <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html">InputLambdaProcessor</a> that is used to preprocess the records in the stream.'
    properties:
      ResourceARNUpdate:
        $ref: '#/definitions/ResourceARN'
        description: '<p>The Amazon Resource Name (ARN) of the new <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a> function that is used to preprocess the records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href="/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda">Example ARNs: AWS Lambda</a> </p> </note>'
      RoleARNUpdate:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the new IAM role that is used to access the AWS Lambda function.
    type: object
  InputParallelism:
    description: 'Describes the number of in-application streams to create for a given streaming source. For information about parallelism, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html">Configuring Application Input</a>. '
    properties:
      Count:
        $ref: '#/definitions/InputParallelismCount'
        description: 'Number of in-application streams to create. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html">Limits</a>. '
    type: object
  InputParallelismCount:
    maximum: 64
    minimum: 1
    type: integer
  InputParallelismUpdate:
    description: Provides updates to the parallelism count.
    properties:
      CountUpdate:
        $ref: '#/definitions/InputParallelismCount'
        description: Number of in-application streams to create for the specified streaming source.
    type: object
  InputProcessingConfiguration:
    description: 'Provides a description of a processor that is used to preprocess the records in the stream before being processed by your application code. Currently, the only input processor available is <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a>.'
    properties:
      InputLambdaProcessor:
        $ref: '#/definitions/InputLambdaProcessor'
        description: 'The <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html">InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.'
    required:
      - InputLambdaProcessor
    type: object
  InputProcessingConfigurationDescription:
    description: 'Provides configuration information about an input processor. Currently, the only input processor available is <a href="https://docs.aws.amazon.com/lambda/">AWS Lambda</a>.'
    properties:
      InputLambdaProcessorDescription:
        $ref: '#/definitions/InputLambdaProcessorDescription'
        description: 'Provides configuration information about the associated <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessorDescription.html">InputLambdaProcessorDescription</a>.'
    type: object
  InputProcessingConfigurationUpdate:
    description: 'Describes updates to an <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html">InputProcessingConfiguration</a>. '
    properties:
      InputLambdaProcessorUpdate:
        $ref: '#/definitions/InputLambdaProcessorUpdate'
        description: 'Provides update information for an <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html">InputLambdaProcessor</a>.'
    required:
      - InputLambdaProcessorUpdate
    type: object
  InputSchemaUpdate:
    description: Describes updates for the application's input schema.
    properties:
      RecordColumnUpdates:
        $ref: '#/definitions/RecordColumns'
        description: 'A list of <code>RecordColumn</code> objects. Each object describes the mapping of the streaming source element to the corresponding column in the in-application stream. '
      RecordEncodingUpdate:
        $ref: '#/definitions/RecordEncoding'
        description: 'Specifies the encoding of the records in the streaming source. For example, UTF-8.'
      RecordFormatUpdate:
        $ref: '#/definitions/RecordFormat'
        description: Specifies the format of the records on the streaming source.
    type: object
  InputStartingPosition:
    enum:
      - NOW
      - TRIM_HORIZON
      - LAST_STOPPED_POINT
    type: string
  InputStartingPositionConfiguration:
    description: Describes the point at which the application reads from the streaming source.
    properties:
      InputStartingPosition:
        $ref: '#/definitions/InputStartingPosition'
        description: '<p>The starting position on the stream.</p> <ul> <li> <p> <code>NOW</code> - Start reading just after the most recent record in the stream, start at the request time stamp that the customer issued.</p> </li> <li> <p> <code>TRIM_HORIZON</code> - Start reading at the last untrimmed record in the stream, which is the oldest record available in the stream. This option is not available for an Amazon Kinesis Firehose delivery stream.</p> </li> <li> <p> <code>LAST_STOPPED_POINT</code> - Resume reading from where the application last stopped reading.</p> </li> </ul>'
    type: object
  InputUpdate:
    description: 'Describes updates to a specific input configuration (identified by the <code>InputId</code> of an application). '
    properties:
      InputId:
        $ref: '#/definitions/Id'
        description: Input ID of the application input to be updated.
      InputParallelismUpdate:
        $ref: '#/definitions/InputParallelismUpdate'
        description: Describes the parallelism updates (the number in-application streams Amazon Kinesis Analytics creates for the specific streaming source).
      InputProcessingConfigurationUpdate:
        $ref: '#/definitions/InputProcessingConfigurationUpdate'
        description: Describes updates for an input processing configuration.
      InputSchemaUpdate:
        $ref: '#/definitions/InputSchemaUpdate'
        description: 'Describes the data format on the streaming source, and how record elements on the streaming source map to columns of the in-application stream that is created.'
      KinesisFirehoseInputUpdate:
        $ref: '#/definitions/KinesisFirehoseInputUpdate'
        description: 'If an Amazon Kinesis Firehose delivery stream is the streaming source to be updated, provides an updated stream ARN and IAM role ARN.'
      KinesisStreamsInputUpdate:
        $ref: '#/definitions/KinesisStreamsInputUpdate'
        description: 'If an Amazon Kinesis stream is the streaming source to be updated, provides an updated stream Amazon Resource Name (ARN) and IAM role ARN.'
      NamePrefixUpdate:
        $ref: '#/definitions/InAppStreamName'
        description: Name prefix for in-application streams that Amazon Kinesis Analytics creates for the specific streaming source.
    required:
      - InputId
    type: object
  InputUpdates:
    items:
      $ref: '#/definitions/InputUpdate'
    type: array
  Inputs:
    items:
      $ref: '#/definitions/Input'
    type: array
  InvalidApplicationConfigurationException: {}
  InvalidArgumentException: {}
  JSONMappingParameters:
    description: Provides additional mapping information when JSON is the record format on the streaming source.
    properties:
      RecordRowPath:
        $ref: '#/definitions/RecordRowPath'
        description: Path to the top-level parent that contains the records.
    required:
      - RecordRowPath
    type: object
  KinesisAnalyticsARN:
    maxLength: 2048
    minLength: 1
    pattern: 'arn:aws:kinesisanalytics:[a-z]\{2\}-[a-z]\+-\d\{1\}\+:\d\{12\}\+:application/[a-zA-Z0-9_.-]\{1,128\}'
    type: string
  KinesisFirehoseInput:
    description: ' Identifies an Amazon Kinesis Firehose delivery stream as the streaming source. You provide the delivery stream''s Amazon Resource Name (ARN) and an IAM role ARN that enables Amazon Kinesis Analytics to access the stream on your behalf.'
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: ARN of the input delivery stream.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure that the role has the necessary permissions to access the stream.
    required:
      - ResourceARN
      - RoleARN
    type: object
  KinesisFirehoseInputDescription:
    description: ' Describes the Amazon Kinesis Firehose delivery stream that is configured as the streaming source in the application input configuration. '
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: Amazon Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: ARN of the IAM role that Amazon Kinesis Analytics assumes to access the stream.
    type: object
  KinesisFirehoseInputUpdate:
[...]
