openapi: 3.0.0
info:
  version: 2013-04-01
  x-release: v4
  title: Amazon Route 53
  description: <p>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service.</p> <p>You can use Route 53 to:</p> <ul> <li> <p>Register domain names.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-domain-registration.html">How domain registration works</a>.</p> </li> <li> <p>Route internet traffic to the resources for your domain</p> <p>For more information, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html">How internet traffic is routed to your website or web application</a>.</p> </li> <li> <p>Check the health of your resources.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-health-checks.html">How Route 53 checks the health of your resources</a>.</p> </li> </ul>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: route53
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53-2013-04-01.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/route53/
servers:
  - url: https://route53.amazonaws.com
    variables: {}
    description: The general Route 53 multi-region endpoint
  - url: http://route53.us-gov.amazonaws.com
    variables: {}
    description: The general Route 53 endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  - url: https://route53.us-gov.amazonaws.com
    variables: {}
    description: The general Route 53 endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  - url: http://route53.amazonaws.com.cn
    variables: {}
    description: The general Route 53 endpoint for China (Beijing) and China (Ningxia)
  - url: https://route53.amazonaws.com.cn
    variables: {}
    description: The general Route 53 endpoint for China (Beijing) and China (Ningxia)
paths:
  "/2013-04-01/keysigningkey/{HostedZoneId}/{Name}/activate":
    post:
      operationId: ActivateKeySigningKey
      description: Activates a key-signing key (KSK) so that it can be used for signing by DNSSEC. This operation changes the KSK status to <code>ACTIVE</code>.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ActivateKeySigningKeyResponse"
        "480":
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModification"
        "481":
          description: NoSuchKeySigningKey
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchKeySigningKey"
        "482":
          description: InvalidKeySigningKeyStatus
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidKeySigningKeyStatus"
        "483":
          description: InvalidSigningStatus
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidSigningStatus"
        "484":
          description: InvalidKMSArn
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidKMSArn"
        "485":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
      parameters:
        - name: HostedZoneId
          in: path
          required: true
          description: A unique string used to identify a hosted zone.
          schema:
            type: string
            maxLength: 32
        - name: Name
          in: path
          required: true
          description: A string used to identify a key-signing key (KSK). <code>Name</code> can include numbers, letters, and underscores (_). <code>Name</code> must be unique for each key-signing key in the same hosted zone.
          schema:
            type: string
            minLength: 3
            maxLength: 128
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/2013-04-01/hostedzone/{Id}/associatevpc":
    post:
      operationId: AssociateVPCWithHostedZone
      description: <p>Associates an Amazon VPC with a private hosted zone. </p> <important> <p>To perform the association, the VPC and the private hosted zone must already exist. You can't convert a public hosted zone into a private hosted zone.</p> </important> <note> <p>If you want to associate a VPC that was created by using one Amazon Web Services account with a private hosted zone that was created by using a different account, the Amazon Web Services account that created the private hosted zone must first submit a <code>CreateVPCAssociationAuthorization</code> request. Then the account that created the VPC must submit an <code>AssociateVPCWithHostedZone</code> request.</p> </note> <note> <p>When granting access, the hosted zone and the Amazon VPC must belong to the same partition. A partition is a group of Amazon Web Services Regions. Each Amazon Web Services account is scoped to one partition.</p> <p>The following are the supported partitions:</p> <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li> <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code> - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p> </note>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/AssociateVPCWithHostedZoneResponse"
        "480":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
        "481":
          description: NotAuthorizedException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NotAuthorizedException"
        "482":
          description: InvalidVPCId
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVPCId"
        "483":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "484":
          description: PublicZoneVPCAssociation
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PublicZoneVPCAssociation"
        "485":
          description: ConflictingDomainExists
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConflictingDomainExists"
        "486":
          description: LimitsExceeded
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitsExceeded"
        "487":
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PriorRequestNotComplete"
      parameters:
        - name: Id
          in: path
          required: true
          description: <p>The ID of the private hosted zone that you want to associate an Amazon VPC with.</p> <p>Note that you can't associate a VPC with a hosted zone that doesn't have an existing VPC association.</p>
          schema:
            type: string
            maxLength: 32
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - VPC
              properties:
                VPC:
                  description: <p>(Private hosted zones only) A complex type that contains information about an Amazon VPC.</p> <p>If you associate a private hosted zone with an Amazon VPC when you make a <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateHostedZone.html">CreateHostedZone</a> request, the following parameters are also required.</p>
                  type: object
                  properties:
                    VPCRegion:
                      allOf:
                        - $ref: "#/components/schemas/VPCRegion"
                        - description: (Private hosted zones only) The region that an Amazon VPC was created in.
                    VPCId:
                      $ref: "#/components/schemas/VPCId"
                Comment:
                  description: " <i>Optional:</i> A comment about the association request."
                  type: string
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/2013-04-01/cidrcollection/{CidrCollectionId}":
    post:
      operationId: ChangeCidrCollection
      description: "<p>Creates, changes, or deletes CIDR blocks within a collection. Contains authoritative IP information mapping blocks to one or multiple locations.</p> <p>A change request can update multiple locations in a collection at a time, which is helpful if you want to move one or more CIDR blocks from one location to another in one transaction, without downtime. </p> <p> <b>Limits</b> </p> <p>The max number of CIDR blocks included in the request is 1000. As a result, big updates require multiple API calls.</p> <p> <b> PUT and DELETE_IF_EXISTS</b> </p> <p>Use <code>ChangeCidrCollection</code> to perform the following actions:</p> <ul> <li> <p> <code>PUT</code>: Create a CIDR block within the specified collection.</p> </li> <li> <p> <code> DELETE_IF_EXISTS</code>: Delete an existing CIDR block from the collection.</p> </li> </ul>"
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ChangeCidrCollectionResponse"
        "480":
          description: NoSuchCidrCollectionException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchCidrCollectionException"
        "481":
          description: CidrCollectionVersionMismatchException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CidrCollectionVersionMismatchException"
        "482":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "483":
          description: CidrBlockInUseException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CidrBlockInUseException"
        "484":
          description: LimitsExceeded
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitsExceeded"
        "485":
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModification"
      parameters:
        - name: CidrCollectionId
          in: path
          required: true
          description: The UUID of the CIDR collection to update.
          schema:
            type: string
            pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - Changes
              properties:
                CollectionVersion:
                  description: "<p>A sequential counter that Amazon Route 53 sets to 1 when you create a collection and increments it by 1 each time you update the collection.</p> <p>We recommend that you use <code>ListCidrCollection</code> to get the current value of <code>CollectionVersion</code> for the collection that you want to update, and then include that value with the change request. This prevents Route 53 from overwriting an intervening update: </p> <ul> <li> <p>If the value in the request matches the value of <code>CollectionVersion</code> in the collection, Route 53 updates the collection.</p> </li> <li> <p>If the value of <code>CollectionVersion</code> in the collection is greater than the value in the request, the collection was changed after you got the version number. Route 53 does not update the collection, and it returns a <code>CidrCollectionVersionMismatch</code> error. </p> </li> </ul>"
                  type: integer
                  minimum: 1
                Changes:
                  description: " Information about changes to a CIDR collection."
                  type: array
                  items:
                    $ref: "#/components/schemas/CidrCollectionChange"
                  minItems: 1
                  maxItems: 1000
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteCidrCollection
      description: Deletes a CIDR collection in the current Amazon Web Services account. The collection must be empty before it can be deleted.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DeleteCidrCollectionResponse"
        "480":
          description: NoSuchCidrCollectionException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchCidrCollectionException"
        "481":
          description: CidrCollectionInUseException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CidrCollectionInUseException"
        "482":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "483":
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModification"
      parameters:
        - name: CidrCollectionId
          in: path
          required: true
          description: The UUID of the collection to delete.
          schema:
            type: string
            pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
    get:
      operationId: ListCidrLocations
      description: Returns a paginated list of CIDR locations for the given collection (metadata only, does not include CIDR blocks).
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListCidrLocationsResponse"
        "480":
          description: NoSuchCidrCollectionException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchCidrCollectionException"
        "481":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
      parameters:
        - name: CidrCollectionId
          in: path
          required: true
          description: The CIDR collection ID.
          schema:
            type: string
            pattern: "[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}"
        - name: nexttoken
          in: query
          required: false
          description: <p>An opaque pagination token to indicate where the service is to begin enumerating results.</p> <p>If no value is provided, the listing of results starts from the beginning.</p>
          schema:
            type: string
            maxLength: 1024
        - name: maxresults
          in: query
          required: false
          description: The maximum number of CIDR collection locations to return in the response.
          schema:
            type: string
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  "/2013-04-01/hostedzone/{Id}/rrset/":
    post:
      operationId: ChangeResourceRecordSets
      description: "<p>Creates, changes, or deletes a resource record set, which contains authoritative DNS information for a specified domain name or subdomain name. For example, you can use <code>ChangeResourceRecordSets</code> to create a resource record set that routes traffic for test.example.com to a web server that has an IP address of 192.0.2.44.</p> <p> <b>Deleting Resource Record Sets</b> </p> <p>To delete a resource record set, you must specify all the same values that you specified when you created it.</p> <p> <b>Change Batches and Transactional Changes</b> </p> <p>The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element. The request body contains a list of change items, known as a change batch. Change batches are considered transactional changes. Route 53 validates the changes in the request and then either makes all or none of the changes in the change batch request. This ensures that DNS routing isn't adversely affected by partial changes to the resource record sets in a hosted zone. </p> <p>For example, suppose a change batch request contains two changes: it deletes the <code>CNAME</code> resource record set for www.example.com and creates an alias resource record set for www.example.com. If validation for both records succeeds, Route 53 deletes the first resource record set and creates the second resource record set in a single operation. If validation for either the <code>DELETE</code> or the <code>CREATE</code> action fails, then the request is canceled, and the original <code>CNAME</code> record continues to exist.</p> <note> <p>If you try to delete the same resource record set more than once in a single change batch, Route 53 returns an <code>InvalidChangeBatch</code> error.</p> </note> <p> <b>Traffic Flow</b> </p> <p>To create resource record sets for complex routing configurations, use either the traffic flow visual editor in the Route 53 console or the API actions for traffic policies and traffic policy instances. Save the configuration as a traffic policy, then associate the traffic policy with one or more domain names (such as example.com) or subdomain names (such as www.example.com), in the same hosted zone or in multiple hosted zones. You can roll back the updates if the new configuration isn't performing as expected. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html\">Using Traffic Flow to Route DNS Traffic</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p> <b>Create, Delete, and Upsert</b> </p> <p>Use <code>ChangeResourceRecordsSetsRequest</code> to perform the following actions:</p> <ul> <li> <p> <code>CREATE</code>: Creates a resource record set that has the specified values.</p> </li> <li> <p> <code>DELETE</code>: Deletes an existing resource record set that has the specified values.</p> </li> <li> <p> <code>UPSERT</code>: If a resource set exists Route 53 updates it with the values in the request. </p> </li> </ul> <p> <b>Syntaxes for Creating, Updating, and Deleting Resource Record Sets</b> </p> <p>The syntax for a request depends on the type of resource record set that you want to create, delete, or update, such as weighted, alias, or failover. The XML elements in your request must appear in the order listed in the syntax. </p> <p>For an example for each type of resource record set, see \"Examples.\"</p> <p>Don't refer to the syntax in the \"Parameter Syntax\" section, which includes all of the elements for every kind of resource record set that you can create, delete, or update by using <code>ChangeResourceRecordSets</code>. </p> <p> <b>Change Propagation to Route 53 DNS Servers</b> </p> <p>When you submit a <code>ChangeResourceRecordSets</code> request, Route 53 propagates your changes to all of the Route 53 authoritative DNS servers. While your changes are propagating, <code>GetChange</code> returns a status of <code>PENDING</code>. When propagation is complete, <code>GetChange</code> returns a status of <code>INSYNC</code>. Changes generally propagate to all Route 53 name servers within 60 seconds. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a>.</p> <p> <b>Limits on ChangeResourceRecordSets Requests</b> </p> <p>For information about the limits on a <code>ChangeResourceRecordSets</code> request, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ChangeResourceRecordSetsResponse"
        "480":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
        "481":
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHealthCheck"
        "482":
          description: InvalidChangeBatch
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidChangeBatch"
        "483":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "484":
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PriorRequestNotComplete"
      parameters:
        - name: Id
          in: path
          required: true
          description: The ID of the hosted zone that contains the resource record sets that you want to change.
          schema:
            type: string
            maxLength: 32
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - ChangeBatch
              properties:
                ChangeBatch:
                  description: The information for a change request.
                  type: object
                  properties:
                    Comment:
                      allOf:
                        - $ref: "#/components/schemas/ResourceDescription"
                        - description: " <i>Optional:</i> Any comments you want to include about a change batch request."
                    Changes:
                      allOf:
                        - $ref: "#/components/schemas/Changes"
                        - description: Information about the changes to make to the record sets.
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/2013-04-01/tags/{ResourceType}/{ResourceId}":
    post:
      operationId: ChangeTagsForResource
      description: <p>Adds, edits, or deletes tags for a health check or a hosted zone.</p> <p>For information about using tags for cost allocation, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ChangeTagsForResourceResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "481":
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHealthCheck"
        "482":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
        "483":
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PriorRequestNotComplete"
        "484":
          description: ThrottlingException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      parameters:
        - name: ResourceType
          in: path
          required: true
          description: <p>The type of the resource.</p> <ul> <li> <p>The resource type for health checks is <code>healthcheck</code>.</p> </li> <li> <p>The resource type for hosted zones is <code>hostedzone</code>.</p> </li> </ul>
          schema:
            type: string
            enum:
              - healthcheck
              - hostedzone
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource for which you want to add, change, or delete tags.
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              properties:
                AddTags:
                  description: <p>A complex type that contains a list of the tags that you want to add to the specified health check or hosted zone and/or the tags that you want to edit <code>Value</code> for.</p> <p>You can add a maximum of 10 tags to a health check or a hosted zone.</p>
                  type: array
                  items:
                    allOf:
                      - $ref: "#/components/schemas/Tag"
                      - xml:
                          name: Tag
                  minItems: 1
                  maxItems: 10
                RemoveTagKeys:
                  description: A complex type that contains a list of the tags that you want to delete from the specified health check or hosted zone. You can specify up to 10 keys.
                  type: array
                  items:
                    allOf:
                      - $ref: "#/components/schemas/TagKey"
                      - xml:
                          name: Key
                  minItems: 1
                  maxItems: 10
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListTagsForResource
      description: <p>Lists tags for one health check or hosted zone. </p> <p>For information about using tags for cost allocation, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListTagsForResourceResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "481":
          description: NoSuchHealthCheck
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHealthCheck"
        "482":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
        "483":
          description: PriorRequestNotComplete
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PriorRequestNotComplete"
        "484":
          description: ThrottlingException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      parameters:
        - name: ResourceType
          in: path
          required: true
          description: <p>The type of the resource.</p> <ul> <li> <p>The resource type for health checks is <code>healthcheck</code>.</p> </li> <li> <p>The resource type for hosted zones is <code>hostedzone</code>.</p> </li> </ul>
          schema:
            type: string
            enum:
              - healthcheck
              - hostedzone
        - name: ResourceId
          in: path
          required: true
          description: The ID of the resource for which you want to retrieve tags.
          schema:
            type: string
            maxLength: 64
  /2013-04-01/cidrcollection:
    post:
      operationId: CreateCidrCollection
      description: Creates a CIDR collection in the current Amazon Web Services account.
      responses:
        "201":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateCidrCollectionResponse"
        "480":
          description: LimitsExceeded
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitsExceeded"
        "481":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "482":
          description: CidrCollectionAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CidrCollectionAlreadyExistsException"
        "483":
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModification"
      parameters: []
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - Name
                - CallerReference
              properties:
                Name:
                  description: A unique identifier for the account that can be used to reference the collection from other API calls.
                  type: string
                  pattern: "[0-9A-Za-z_\\-]+"
                  minLength: 1
                  maxLength: 64
                CallerReference:
                  description: A client-specific token that allows requests to be securely retried so that the intended outcome will only occur once, retries receive a similar response, and there are no additional edge cases to handle.
                  type: string
                  pattern: \p{ASCII}+
                  minLength: 1
                  maxLength: 64
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListCidrCollections
      description: Returns a paginated list of CIDR collections in the Amazon Web Services account (metadata only).
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListCidrCollectionsResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
      parameters:
        - name: nexttoken
          in: query
          required: false
          description: <p>An opaque pagination token to indicate where the service is to begin enumerating results.</p> <p>If no value is provided, the listing of results starts from the beginning.</p>
          schema:
            type: string
            maxLength: 1024
        - name: maxresults
          in: query
          required: false
          description: The maximum number of CIDR collections to return in the response.
          schema:
            type: string
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /2013-04-01/healthcheck:
    post:
      operationId: CreateHealthCheck
      description: <p>Creates a new health check.</p> <p>For information about adding health checks to resource record sets, see <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_ResourceRecordSet.html#Route53-Type-ResourceRecordSet-HealthCheckId">HealthCheckId</a> in <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html">ChangeResourceRecordSets</a>. </p> <p> <b>ELB Load Balancers</b> </p> <p>If you're registering EC2 instances with an Elastic Load Balancing (ELB) load balancer, do not create Amazon Route 53 health checks for the EC2 instances. When you register an EC2 instance with a load balancer, you configure settings for an ELB health check, which performs a similar function to a Route 53 health check.</p> <p> <b>Private Hosted Zones</b> </p> <p>You can associate health checks with failover resource record sets in a private hosted zone. Note the following:</p> <ul> <li> <p>Route 53 health checkers are outside the VPC. To check the health of an endpoint within a VPC by IP address, you must assign a public IP address to the instance in the VPC.</p> </li> <li> <p>You can configure a health checker to check the health of an external resource that the instance relies on, such as a database server.</p> </li> <li> <p>You can create a CloudWatch metric, associate an alarm with the metric, and then create a health check that is based on the state of the alarm. For example, you might create a CloudWatch metric that checks the status of the Amazon EC2 <code>StatusCheckFailed</code> metric, add an alarm to the metric, and then create a health check that is based on the state of the alarm. For information about creating CloudWatch metrics and alarms by using the CloudWatch console, see the <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/WhatIsCloudWatch.html">Amazon CloudWatch User Guide</a>.</p> </li> </ul>
      responses:
        "201":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateHealthCheckResponse"
        "480":
          description: TooManyHealthChecks
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/TooManyHealthChecks"
        "481":
          description: HealthCheckAlreadyExists
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/HealthCheckAlreadyExists"
        "482":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
      parameters: []
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - CallerReference
                - HealthCheckConfig
              properties:
                CallerReference:
                  description: <p>A unique string that identifies the request and that allows you to retry a failed <code>CreateHealthCheck</code> request without the risk of creating two identical health checks:</p> <ul> <li> <p>If you send a <code>CreateHealthCheck</code> request with the same <code>CallerReference</code> and settings as a previous request, and if the health check doesn't exist, Amazon Route 53 creates the health check. If the health check does exist, Route 53 returns the settings for the existing health check.</p> </li> <li> <p>If you send a <code>CreateHealthCheck</code> request with the same <code>CallerReference</code> as a deleted health check, regardless of the settings, Route 53 returns a <code>HealthCheckAlreadyExists</code> error.</p> </li> <li> <p>If you send a <code>CreateHealthCheck</code> request with the same <code>CallerReference</code> as an existing health check but with different settings, Route 53 returns a <code>HealthCheckAlreadyExists</code> error.</p> </li> <li> <p>If you send a <code>CreateHealthCheck</code> request with a unique <code>CallerReference</code> but settings identical to an existing health check, Route 53 creates the health check.</p> </li> </ul>
                  type: string
                  minLength: 1
                  maxLength: 64
                HealthCheckConfig:
                  description: A complex type that contains information about the health check.
                  type: object
                  properties:
                    IPAddress:
                      allOf:
                        - $ref: "#/components/schemas/IPAddress"
                        - description: "<p>The IPv4 or IPv6 IP address of the endpoint that you want Amazon Route 53 to perform health checks on. If you don't specify a value for <code>IPAddress</code>, Route 53 sends a DNS request to resolve the domain name that you specify in <code>FullyQualifiedDomainName</code> at the interval that you specify in <code>RequestInterval</code>. Using an IP address returned by DNS, Route 53 then checks the health of the endpoint.</p> <p>Use one of the following formats for the value of <code>IPAddress</code>: </p> <ul> <li> <p> <b>IPv4 address</b>: four values between 0 and 255, separated by periods (.), for example, <code>192.0.2.44</code>.</p> </li> <li> <p> <b>IPv6 address</b>: eight groups of four hexadecimal values, separated by colons (:), for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>. You can also shorten IPv6 addresses as described in RFC 5952, for example, <code>2001:db8:85a3::abcd:1:2345</code>.</p> </li> </ul> <p>If the endpoint is an EC2 instance, we recommend that you create an Elastic IP address, associate it with your EC2 instance, and specify the Elastic IP address for <code>IPAddress</code>. This ensures that the IP address of your instance will never change.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_UpdateHealthCheck.html#Route53-UpdateHealthCheck-request-FullyQualifiedDomainName\">FullyQualifiedDomainName</a>. </p> <p>Constraints: Route 53 can't check the health of endpoints for which the IP address is in local, private, non-routable, or multicast ranges. For more information about IP addresses for which you can't create health checks, see the following documents:</p> <ul> <li> <p> <a href=\"https://tools.ietf.org/html/rfc5735\">RFC 5735, Special Use IPv4 Addresses</a> </p> </li> <li> <p> <a href=\"https://tools.ietf.org/html/rfc6598\">RFC 6598, IANA-Reserved IPv4 Prefix for Shared Address Space</a> </p> </li> <li> <p> <a href=\"https://tools.ietf.org/html/rfc5156\">RFC 5156, Special-Use IPv6 Addresses</a> </p> </li> </ul> <p>When the value of <code>Type</code> is <code>CALCULATED</code> or <code>CLOUDWATCH_METRIC</code>, omit <code>IPAddress</code>.</p>"
                    Port:
                      allOf:
                        - $ref: "#/components/schemas/Port"
                        - description: <p>The port on the endpoint that you want Amazon Route 53 to perform health checks on.</p> <note> <p>Don't specify a value for <code>Port</code> when you specify a value for <code>Type</code> of <code>CLOUDWATCH_METRIC</code> or <code>CALCULATED</code>.</p> </note>
                    Type:
                      allOf:
                        - $ref: "#/components/schemas/HealthCheckType"
                        - description: "<p>The type of health check that you want to create, which indicates how Amazon Route 53 determines whether an endpoint is healthy.</p> <important> <p>You can't change the value of <code>Type</code> after you create a health check.</p> </important> <p>You can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If you specify <code>HTTPS</code> for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>HTTP_STR_MATCH</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTP request and searches the first 5,120 bytes of the response body for the string that you specify in <code>SearchString</code>.</p> </li> <li> <p> <b>HTTPS_STR_MATCH</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an <code>HTTPS</code> request and searches the first 5,120 bytes of the response body for the string that you specify in <code>SearchString</code>.</p> </li> <li> <p> <b>TCP</b>: Route 53 tries to establish a TCP connection.</p> </li> <li> <p> <b>CLOUDWATCH_METRIC</b>: The health check is associated with a CloudWatch alarm. If the state of the alarm is <code>OK</code>, the health check is considered healthy. If the state is <code>ALARM</code>, the health check is considered unhealthy. If CloudWatch doesn't have sufficient data to determine whether the state is <code>OK</code> or <code>ALARM</code>, the health check status depends on the setting for <code>InsufficientDataHealthStatus</code>: <code>Healthy</code>, <code>Unhealthy</code>, or <code>LastKnownStatus</code>. </p> </li> <li> <p> <b>CALCULATED</b>: For health checks that monitor the status of other health checks, Route 53 adds up the number of health checks that Route 53 health checkers consider to be healthy and compares that number with the value of <code>HealthThreshold</code>. </p> </li> <li> <p> <b>RECOVERY_CONTROL</b>: The health check is assocated with a Route53 Application Recovery Controller routing control. If the routing control state is <code>ON</code>, the health check is considered healthy. If the state is <code>OFF</code>, the health check is considered unhealthy. </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
                    ResourcePath:
                      allOf:
                        - $ref: "#/components/schemas/ResourcePath"
                        - description: "The path, if any, that you want Amazon Route 53 to request when performing health checks. The path can be any value for which your endpoint will return an HTTP status code of 2xx or 3xx when the endpoint is healthy, for example, the file /docs/route53-health-check.html. You can also include query string parameters, for example, <code>/welcome.html?language=jp&amp;login=y</code>. "
                    FullyQualifiedDomainName:
                      allOf:
                        - $ref: "#/components/schemas/FullyQualifiedDomainName"
                        - description: <p>Amazon Route 53 behavior depends on whether you specify a value for <code>IPAddress</code>.</p> <p> <b>If you specify a value for</b> <code>IPAddress</code>:</p> <p>Amazon Route 53 sends health check requests to the specified IPv4 or IPv6 address and passes the value of <code>FullyQualifiedDomainName</code> in the <code>Host</code> header for all health checks except TCP health checks. This is typically the fully qualified DNS name of the endpoint on which you want Route 53 to perform health checks.</p> <p>When Route 53 checks the health of an endpoint, here is how it constructs the <code>Host</code> header:</p> <ul> <li> <p>If you specify a value of <code>80</code> for <code>Port</code> and <code>HTTP</code> or <code>HTTP_STR_MATCH</code> for <code>Type</code>, Route 53 passes the value of <code>FullyQualifiedDomainName</code> to the endpoint in the Host header. </p> </li> <li> <p>If you specify a value of <code>443</code> for <code>Port</code> and <code>HTTPS</code> or <code>HTTPS_STR_MATCH</code> for <code>Type</code>, Route 53 passes the value of <code>FullyQualifiedDomainName</code> to the endpoint in the <code>Host</code> header.</p> </li> <li> <p>If you specify another value for <code>Port</code> and any value except <code>TCP</code> for <code>Type</code>, Route 53 passes <code>FullyQualifiedDomainName:Port</code> to the endpoint in the <code>Host</code> header.</p> </li> </ul> <p>If you don't specify a value for <code>FullyQualifiedDomainName</code>, Route 53 substitutes the value of <code>IPAddress</code> in the <code>Host</code> header in each of the preceding cases.</p> <p> <b>If you don't specify a value for</b> <code>IPAddress</code>:</p> <p>Route 53 sends a DNS request to the domain that you specify for <code>FullyQualifiedDomainName</code> at the interval that you specify for <code>RequestInterval</code>. Using an IPv4 address that DNS returns, Route 53 then checks the health of the endpoint.</p> <note> <p>If you don't specify a value for <code>IPAddress</code>, Route 53 uses only IPv4 to send health checks to the endpoint. If there's no resource record set with a type of A for the name that you specify for <code>FullyQualifiedDomainName</code>, the health check fails with a "DNS resolution failed" error.</p> </note> <p>If you want to check the health of weighted, latency, or failover resource record sets and you choose to specify the endpoint only by <code>FullyQualifiedDomainName</code>, we recommend that you create a separate health check for each endpoint. For example, create a health check for each HTTP server that is serving content for www.example.com. For the value of <code>FullyQualifiedDomainName</code>, specify the domain name of the server (such as us-east-2-www.example.com), not the name of the resource record sets (www.example.com).</p> <important> <p>In this configuration, if you create a health check for which the value of <code>FullyQualifiedDomainName</code> matches the name of the resource record sets and you then associate the health check with those resource record sets, health check results will be unpredictable.</p> </important> <p>In addition, if the value that you specify for <code>Type</code> is <code>HTTP</code>, <code>HTTPS</code>, <code>HTTP_STR_MATCH</code>, or <code>HTTPS_STR_MATCH</code>, Route 53 passes the value of <code>FullyQualifiedDomainName</code> in the <code>Host</code> header, as it does when you specify a value for <code>IPAddress</code>. If the value of <code>Type</code> is <code>TCP</code>, Route 53 doesn't pass a <code>Host</code> header.</p>
                    SearchString:
                      allOf:
                        - $ref: "#/components/schemas/SearchString"
                        - description: <p>If the value of Type is <code>HTTP_STR_MATCH</code> or <code>HTTPS_STR_MATCH</code>, the string that you want Amazon Route 53 to search for in the response body from the specified resource. If the string appears in the response body, Route 53 considers the resource healthy.</p> <p>Route 53 considers case when searching for <code>SearchString</code> in the response body. </p>
                    RequestInterval:
                      allOf:
                        - $ref: "#/components/schemas/RequestInterval"
                        - description: <p>The number of seconds between the time that Amazon Route 53 gets a response from your endpoint and the time that it sends the next health check request. Each Route 53 health checker makes requests at this interval.</p> <important> <p>You can't change the value of <code>RequestInterval</code> after you create a health check.</p> </important> <p>If you don't specify a value for <code>RequestInterval</code>, the default value is <code>30</code> seconds.</p>
                    FailureThreshold:
                      allOf:
                        - $ref: "#/components/schemas/FailureThreshold"
                        - description: <p>The number of consecutive health checks that an endpoint must pass or fail for Amazon Route 53 to change the current status of the endpoint from unhealthy to healthy or vice versa. For more information, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html">How Amazon Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If you don't specify a value for <code>FailureThreshold</code>, the default value is three health checks.</p>
                    MeasureLatency:
                      allOf:
                        - $ref: "#/components/schemas/MeasureLatency"
                        - description: <p>Specify whether you want Amazon Route 53 to measure the latency between health checkers in multiple Amazon Web Services regions and your endpoint, and to display CloudWatch latency graphs on the <b>Health Checks</b> page in the Route 53 console.</p> <important> <p>You can't change the value of <code>MeasureLatency</code> after you create a health check.</p> </important>
                    Inverted:
                      allOf:
                        - $ref: "#/components/schemas/Inverted"
                        - description: Specify whether you want Amazon Route 53 to invert the status of a health check, for example, to consider a health check unhealthy when it otherwise would be considered healthy.
                    Disabled:
                      allOf:
                        - $ref: "#/components/schemas/Disabled"
                        - description: <p>Stops Route 53 from performing health checks. When you disable a health check, here's what happens:</p> <ul> <li> <p> <b>Health checks that check the health of endpoints:</b> Route 53 stops submitting requests to your application, server, or other resource.</p> </li> <li> <p> <b>Calculated health checks:</b> Route 53 stops aggregating the status of the referenced health checks.</p> </li> <li> <p> <b>Health checks that monitor CloudWatch alarms:</b> Route 53 stops monitoring the corresponding CloudWatch metrics.</p> </li> </ul> <p>After you disable a health check, Route 53 considers the status of the health check to always be healthy. If you configured DNS failover, Route 53 continues to route traffic to the corresponding resources. If you want to stop routing traffic to a resource, change the value of <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_UpdateHealthCheck.html#Route53-UpdateHealthCheck-request-Inverted">Inverted</a>. </p> <p>Charges for a health check still apply when the health check is disabled. For more information, see <a href="http://aws.amazon.com/route53/pricing/">Amazon Route 53 Pricing</a>.</p>
                    HealthThreshold:
                      allOf:
                        - $ref: "#/components/schemas/HealthThreshold"
                        - description: <p>The number of child health checks that are associated with a <code>CALCULATED</code> health check that Amazon Route 53 must consider healthy for the <code>CALCULATED</code> health check to be considered healthy. To specify the child health checks that you want to associate with a <code>CALCULATED</code> health check, use the <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_UpdateHealthCheck.html#Route53-UpdateHealthCheck-request-ChildHealthChecks">ChildHealthChecks</a> element.</p> <p>Note the following:</p> <ul> <li> <p>If you specify a number greater than the number of child health checks, Route 53 always considers this health check to be unhealthy.</p> </li> <li> <p>If you specify <code>0</code>, Route 53 always considers this health check to be healthy.</p> </li> </ul>
                    ChildHealthChecks:
                      allOf:
                        - $ref: "#/components/schemas/ChildHealthCheckList"
                        - description: (CALCULATED Health Checks Only) A complex type that contains one <code>ChildHealthCheck</code> element for each health check that you want to associate with a <code>CALCULATED</code> health check.
                    EnableSNI:
                      allOf:
                        - $ref: "#/components/schemas/EnableSNI"
                        - description: <p>Specify whether you want Amazon Route 53 to send the value of <code>FullyQualifiedDomainName</code> to the endpoint in the <code>client_hello</code> message during TLS negotiation. This allows the endpoint to respond to <code>HTTPS</code> health check requests with the applicable SSL/TLS certificate.</p> <p>Some endpoints require that <code>HTTPS</code> requests include the host name in the <code>client_hello</code> message. If you don't enable SNI, the status of the health check will be <code>SSL alert handshake_failure</code>. A health check can also have that status for other reasons. If SNI is enabled and you're still getting the error, check the SSL/TLS configuration on your endpoint and confirm that your certificate is valid.</p> <p>The SSL/TLS certificate on your endpoint includes a domain name in the <code>Common Name</code> field and possibly several more in the <code>Subject Alternative Names</code> field. One of the domain names in the certificate should match the value that you specify for <code>FullyQualifiedDomainName</code>. If the endpoint responds to the <code>client_hello</code> message with a certificate that does not include the domain name that you specified in <code>FullyQualifiedDomainName</code>, a health checker will retry the handshake. In the second attempt, the health checker will omit <code>FullyQualifiedDomainName</code> from the <code>client_hello</code> message.</p>
                    Regions:
                      allOf:
                        - $ref: "#/components/schemas/HealthCheckRegionList"
                        - description: <p>A complex type that contains one <code>Region</code> element for each region from which you want Amazon Route 53 health checkers to check the specified endpoint.</p> <p>If you don't specify any regions, Route 53 health checkers automatically performs checks from all of the regions that are listed under <b>Valid Values</b>.</p> <p>If you update a health check to remove a region that has been performing health checks, Route 53 will briefly continue to perform checks from that region to ensure that some health checkers are always checking the endpoint (for example, if you replace three regions with four different regions). </p>
                    AlarmIdentifier:
                      allOf:
                        - $ref: "#/components/schemas/AlarmIdentifier"
                        - description: A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether the specified health check is healthy.
                    InsufficientDataHealthStatus:
                      allOf:
                        - $ref: "#/components/schemas/InsufficientDataHealthStatus"
                        - description: "<p>When CloudWatch has insufficient data about the metric to determine the alarm state, the status that you want Amazon Route 53 to assign to the health check:</p> <ul> <li> <p> <code>Healthy</code>: Route 53 considers the health check to be healthy.</p> </li> <li> <p> <code>Unhealthy</code>: Route 53 considers the health check to be unhealthy.</p> </li> <li> <p> <code>LastKnownStatus</code>: Route 53 uses the status of the health check from the last time that CloudWatch had sufficient data to determine the alarm state. For new health checks that have no last known status, the default status for the health check is healthy.</p> </li> </ul>"
                    RoutingControlArn:
                      allOf:
                        - $ref: "#/components/schemas/RoutingControlArn"
                        - description: <p>The Amazon Resource Name (ARN) for the Route 53 Application Recovery Controller routing control.</p> <p>For more information about Route 53 Application Recovery Controller, see <a href="https://docs.aws.amazon.com/r53recovery/latest/dg/what-is-route-53-recovery.html">Route 53 Application Recovery Controller Developer Guide.</a>.</p>
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListHealthChecks
      description: "Retrieve a list of the health checks that are associated with the current Amazon Web Services account. "
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListHealthChecksResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "481":
          description: IncompatibleVersion
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/IncompatibleVersion"
      parameters:
        - name: marker
          in: query
          required: false
          description: <p>If the value of <code>IsTruncated</code> in the previous response was <code>true</code>, you have more health checks. To get another group, submit another <code>ListHealthChecks</code> request. </p> <p>For the value of <code>marker</code>, specify the value of <code>NextMarker</code> from the previous response, which is the ID of the first health check that Amazon Route 53 will return if you submit another request.</p> <p>If the value of <code>IsTruncated</code> in the previous response was <code>false</code>, there are no more health checks to get.</p>
          schema:
            type: string
            maxLength: 64
        - name: maxitems
          in: query
          required: false
          description: "The maximum number of health checks that you want <code>ListHealthChecks</code> to return in response to the current request. Amazon Route 53 returns a maximum of 100 items. If you set <code>MaxItems</code> to a value greater than 100, Route 53 returns only the first 100 health checks. "
          schema:
            type: string
        - name: MaxItems
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: Marker
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /2013-04-01/hostedzone:
    post:
      operationId: CreateHostedZone
      description: <p>Creates a new public or private hosted zone. You create records in a public hosted zone to define how you want to route traffic on the internet for a domain, such as example.com, and its subdomains (apex.example.com, acme.example.com). You create records in a private hosted zone to define how you want to route traffic for a domain and its subdomains within one or more Amazon Virtual Private Clouds (Amazon VPCs). </p> <important> <p>You can't convert a public hosted zone to a private hosted zone or vice versa. Instead, you must create a new hosted zone with the same name and create new resource record sets.</p> </important> <p>For more information about charges for hosted zones, see <a href="http://aws.amazon.com/route53/pricing/">Amazon Route 53 Pricing</a>.</p> <p>Note the following:</p> <ul> <li> <p>You can't create a hosted zone for a top-level domain (TLD) such as .com.</p> </li> <li> <p>For public hosted zones, Route 53 automatically creates a default SOA record and four NS records for the zone. For more information about SOA and NS records, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/SOA-NSrecords.html">NS and SOA Records that Route 53 Creates for a Hosted Zone</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If you want to use the same name servers for multiple public hosted zones, you can optionally associate a reusable delegation set with the hosted zone. See the <code>DelegationSetId</code> element.</p> </li> <li> <p>If your domain is registered with a registrar other than Route 53, you must update the name servers with your registrar to make Route 53 the DNS service for the domain. For more information, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html">Migrating DNS Service for an Existing Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>. </p> </li> </ul> <p>When you submit a <code>CreateHostedZone</code> request, the initial status of the hosted zone is <code>PENDING</code>. For public hosted zones, this means that the NS and SOA records are not yet available on all Route 53 DNS servers. When the NS and SOA records are available, the status of the zone changes to <code>INSYNC</code>.</p> <p>The <code>CreateHostedZone</code> request requires the caller to have an <code>ec2:DescribeVpcs</code> permission.</p> <note> <p>When creating private hosted zones, the Amazon VPC must belong to the same partition where the hosted zone is created. A partition is a group of Amazon Web Services Regions. Each Amazon Web Services account is scoped to one partition.</p> <p>The following are the supported partitions:</p> <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li> <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code> - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p> </note>
      responses:
        "201":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateHostedZoneResponse"
        "480":
          description: InvalidDomainName
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidDomainName"
        "481":
          description: HostedZoneAlreadyExists
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/HostedZoneAlreadyExists"
        "482":
          description: TooManyHostedZones
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/TooManyHostedZones"
        "483":
          description: InvalidVPCId
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVPCId"
        "484":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "485":
          description: DelegationSetNotAvailable
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DelegationSetNotAvailable"
        "486":
          description: ConflictingDomainExists
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConflictingDomainExists"
        "487":
          description: NoSuchDelegationSet
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchDelegationSet"
        "488":
          description: DelegationSetNotReusable
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DelegationSetNotReusable"
      parameters: []
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - Name
                - CallerReference
              properties:
                Name:
                  description: <p>The name of the domain. Specify a fully qualified domain name, for example, <i>www.example.com</i>. The trailing dot is optional; Amazon Route 53 assumes that the domain name is fully qualified. This means that Route 53 treats <i>www.example.com</i> (without a trailing dot) and <i>www.example.com.</i> (with a trailing dot) as identical.</p> <p>If you're creating a public hosted zone, this is the name you have registered with your DNS registrar. If your domain name is registered with a registrar other than Route 53, change the name servers for your domain to the set of <code>NameServers</code> that <code>CreateHostedZone</code> returns in <code>DelegationSet</code>.</p>
                  type: string
                  maxLength: 1024
                VPC:
                  description: <p>(Private hosted zones only) A complex type that contains information about an Amazon VPC.</p> <p>If you associate a private hosted zone with an Amazon VPC when you make a <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateHostedZone.html">CreateHostedZone</a> request, the following parameters are also required.</p>
                  type: object
                  properties:
                    VPCRegion:
                      allOf:
                        - $ref: "#/components/schemas/VPCRegion"
                        - description: (Private hosted zones only) The region that an Amazon VPC was created in.
                    VPCId:
                      $ref: "#/components/schemas/VPCId"
                CallerReference:
                  description: A unique string that identifies the request and that allows failed <code>CreateHostedZone</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CallerReference</code> string every time you submit a <code>CreateHostedZone</code> request. <code>CallerReference</code> can be any unique string, for example, a date/time stamp.
                  type: string
                  minLength: 1
                  maxLength: 128
                HostedZoneConfig:
                  description: A complex type that contains an optional comment about your hosted zone. If you don't want to specify a comment, omit both the <code>HostedZoneConfig</code> and <code>Comment</code> elements.
                  type: object
                  properties:
                    Comment:
                      allOf:
                        - $ref: "#/components/schemas/ResourceDescription"
                        - description: Any comments that you want to include about the hosted zone.
                    PrivateZone:
                      allOf:
                        - $ref: "#/components/schemas/IsPrivateZone"
                        - description: A value that indicates whether this is a private hosted zone.
                DelegationSetId:
                  description: If you want to associate a reusable delegation set with this hosted zone, the ID that Amazon Route 53 assigned to the reusable delegation set when you created it. For more information about reusable delegation sets, see <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateReusableDelegationSet.html">CreateReusableDelegationSet</a>.
                  type: string
                  maxLength: 32
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListHostedZones
      description: <p>Retrieves a list of the public and private hosted zones that are associated with the current Amazon Web Services account. The response includes a <code>HostedZones</code> child element for each hosted zone.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of hosted zones, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListHostedZonesResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "481":
          description: NoSuchDelegationSet
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchDelegationSet"
        "482":
          description: DelegationSetNotReusable
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DelegationSetNotReusable"
      parameters:
        - name: marker
          in: query
          required: false
          description: <p>If the value of <code>IsTruncated</code> in the previous response was <code>true</code>, you have more hosted zones. To get more hosted zones, submit another <code>ListHostedZones</code> request. </p> <p>For the value of <code>marker</code>, specify the value of <code>NextMarker</code> from the previous response, which is the ID of the first hosted zone that Amazon Route 53 will return if you submit another request.</p> <p>If the value of <code>IsTruncated</code> in the previous response was <code>false</code>, there are no more hosted zones to get.</p>
          schema:
            type: string
            maxLength: 64
        - name: maxitems
          in: query
          required: false
          description: (Optional) The maximum number of hosted zones that you want Amazon Route 53 to return. If you have more than <code>maxitems</code> hosted zones, the value of <code>IsTruncated</code> in the response is <code>true</code>, and the value of <code>NextMarker</code> is the hosted zone ID of the first hosted zone that Route 53 will return if you submit another request.
          schema:
            type: string
        - name: delegationsetid
          in: query
          required: false
          description: "If you're using reusable delegation sets and you want to list all of the hosted zones that are associated with a reusable delegation set, specify the ID of that reusable delegation set. "
          schema:
            type: string
            maxLength: 32
        - name: MaxItems
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: Marker
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /2013-04-01/keysigningkey:
    post:
      operationId: CreateKeySigningKey
      description: Creates a new key-signing key (KSK) associated with a hosted zone. You can only have two KSKs per hosted zone.
      responses:
        "201":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateKeySigningKeyResponse"
        "480":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
        "481":
          description: InvalidArgument
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidArgument"
        "482":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "483":
          description: InvalidKMSArn
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidKMSArn"
        "484":
          description: InvalidKeySigningKeyStatus
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidKeySigningKeyStatus"
        "485":
          description: InvalidSigningStatus
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidSigningStatus"
        "486":
          description: InvalidKeySigningKeyName
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidKeySigningKeyName"
        "487":
          description: KeySigningKeyAlreadyExists
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/KeySigningKeyAlreadyExists"
        "488":
          description: TooManyKeySigningKeys
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/TooManyKeySigningKeys"
        "489":
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModification"
      parameters: []
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - CallerReference
                - HostedZoneId
                - KeyManagementServiceArn
                - Name
                - Status
              properties:
                CallerReference:
                  description: A unique string that identifies the request.
                  type: string
                  minLength: 1
                  maxLength: 128
                HostedZoneId:
                  description: The unique string (ID) used to identify a hosted zone.
                  type: string
                  maxLength: 32
                KeyManagementServiceArn:
                  description: '<p>The Amazon resource name (ARN) for a customer managed key in Key Management Service (KMS). The <code>KeyManagementServiceArn</code> must be unique for each key-signing key (KSK) in a single hosted zone. To see an example of <code>KeyManagementServiceArn</code> that grants the correct permissions for DNSSEC, scroll down to <b>Example</b>. </p> <p>You must configure the customer managed customer managed key as follows:</p> <dl> <dt>Status</dt> <dd> <p>Enabled</p> </dd> <dt>Key spec</dt> <dd> <p>ECC_NIST_P256</p> </dd> <dt>Key usage</dt> <dd> <p>Sign and verify</p> </dd> <dt>Key policy</dt> <dd> <p>The key policy must give permission for the following actions:</p> <ul> <li> <p>DescribeKey</p> </li> <li> <p>GetPublicKey</p> </li> <li> <p>Sign</p> </li> </ul> <p>The key policy must also include the Amazon Route 53 service in the principal for your account. Specify the following:</p> <ul> <li> <p> <code>"Service": "dnssec-route53.amazonaws.com"</code> </p> </li> </ul> </dd> </dl> <p>For more information about working with a customer managed key in KMS, see <a href="https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html">Key Management Service concepts</a>.</p>'
                  type: string
                Name:
                  description: A string used to identify a key-signing key (KSK). <code>Name</code> can include numbers, letters, and underscores (_). <code>Name</code> must be unique for each key-signing key in the same hosted zone.
                  type: string
                  minLength: 3
                  maxLength: 128
                Status:
                  description: A string specifying the initial status of the key-signing key (KSK). You can set the value to <code>ACTIVE</code> or <code>INACTIVE</code>.
                  type: string
                  minLength: 5
                  maxLength: 150
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /2013-04-01/queryloggingconfig:
    post:
      operationId: CreateQueryLoggingConfig
      description: "<p>Creates a configuration for DNS query logging. After you create a query logging configuration, Amazon Route 53 begins to publish log data to an Amazon CloudWatch Logs log group.</p> <p>DNS query logs contain information about the queries that Route 53 receives for a specified public hosted zone, such as the following:</p> <ul> <li> <p>Route 53 edge location that responded to the DNS query</p> </li> <li> <p>Domain or subdomain that was requested</p> </li> <li> <p>DNS record type, such as A or AAAA</p> </li> <li> <p>DNS response code, such as <code>NoError</code> or <code>ServFail</code> </p> </li> </ul> <dl> <dt>Log Group and Resource Policy</dt> <dd> <p>Before you create a query logging configuration, perform the following operations.</p> <note> <p>If you create a query logging configuration using the Route 53 console, Route 53 performs these operations automatically.</p> </note> <ol> <li> <p>Create a CloudWatch Logs log group, and make note of the ARN, which you specify when you create a query logging configuration. Note the following:</p> <ul> <li> <p>You must create the log group in the us-east-1 region.</p> </li> <li> <p>You must use the same Amazon Web Services account to create the log group and the hosted zone that you want to configure query logging for.</p> </li> <li> <p>When you create log groups for query logging, we recommend that you use a consistent prefix, for example:</p> <p> <code>/aws/route53/<i>hosted zone name</i> </code> </p> <p>In the next step, you'll create a resource policy, which controls access to one or more log groups and the associated Amazon Web Services resources, such as Route 53 hosted zones. There's a limit on the number of resource policies that you can create, so we recommend that you use a consistent prefix so you can use the same resource policy for all the log groups that you create for query logging.</p> </li> </ul> </li> <li> <p>Create a CloudWatch Logs resource policy, and give it the permissions that Route 53 needs to create log streams and to send query logs to log streams. For the value of <code>Resource</code>, specify the ARN for the log group that you created in the previous step. To use the same resource policy for all the CloudWatch Logs log groups that you created for query logging configurations, replace the hosted zone name with <code>*</code>, for example:</p> <p> <code>arn:aws:logs:us-east-1:123412341234:log-group:/aws/route53/*</code> </p> <p>To avoid the confused deputy problem, a security issue where an entity without a permission for an action can coerce a more-privileged entity to perform it, you can optionally limit the permissions that a service has to a resource in a resource-based policy by supplying the following values:</p> <ul> <li> <p>For <code>aws:SourceArn</code>, supply the hosted zone ARN used in creating the query logging configuration. For example, <code>aws:SourceArn: arn:aws:route53:::hostedzone/hosted zone ID</code>.</p> </li> <li> <p>For <code>aws:SourceAccount</code>, supply the account ID for the account that creates the query logging configuration. For example, <code>aws:SourceAccount:111111111111</code>.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/confused-deputy.html\">The confused deputy problem</a> in the <i>Amazon Web Services IAM User Guide</i>.</p> <note> <p>You can't use the CloudWatch console to create or edit a resource policy. You must use the CloudWatch API, one of the Amazon Web Services SDKs, or the CLI.</p> </note> </li> </ol> </dd> <dt>Log Streams and Edge Locations</dt> <dd> <p>When Route 53 finishes creating the configuration for DNS query logging, it does the following:</p> <ul> <li> <p>Creates a log stream for an edge location the first time that the edge location responds to DNS queries for the specified hosted zone. That log stream is used to log all queries that Route 53 responds to for that edge location.</p> </li> <li> <p>Begins to send query logs to the applicable log stream.</p> </li> </ul> <p>The name of each log stream is in the following format:</p> <p> <code> <i>hosted zone ID</i>/<i>edge location code</i> </code> </p> <p>The edge location code is a three-letter code and an arbitrarily assigned number, for example, DFW3. The three-letter code typically corresponds with the International Air Transport Association airport code for an airport near the edge location. (These abbreviations might change in the future.) For a list of edge locations, see \"The Route 53 Global Network\" on the <a href=\"http://aws.amazon.com/route53/details/\">Route 53 Product Details</a> page.</p> </dd> <dt>Queries That Are Logged</dt> <dd> <p>Query logs contain only the queries that DNS resolvers forward to Route 53. If a DNS resolver has already cached the response to a query (such as the IP address for a load balancer for example.com), the resolver will continue to return the cached response. It doesn't forward another query to Route 53 until the TTL for the corresponding resource record set expires. Depending on how many DNS queries are submitted for a resource record set, and depending on the TTL for that resource record set, query logs might contain information about only one query out of every several thousand queries that are submitted to DNS. For more information about how DNS works, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html\">Routing Internet Traffic to Your Website or Web Application</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </dd> <dt>Log File Format</dt> <dd> <p>For a list of the values in each query log and the format of each value, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/query-logs.html\">Logging DNS Queries</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </dd> <dt>Pricing</dt> <dd> <p>For information about charges for query logs, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> </dd> <dt>How to Stop Logging</dt> <dd> <p>If you want Route 53 to stop sending query logs to CloudWatch Logs, delete the query logging configuration. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeleteQueryLoggingConfig.html\">DeleteQueryLoggingConfig</a>.</p> </dd> </dl>"
      responses:
        "201":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateQueryLoggingConfigResponse"
        "480":
          description: ConcurrentModification
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModification"
        "481":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
        "482":
          description: NoSuchCloudWatchLogsLogGroup
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchCloudWatchLogsLogGroup"
        "483":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "484":
          description: QueryLoggingConfigAlreadyExists
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/QueryLoggingConfigAlreadyExists"
        "485":
          description: InsufficientCloudWatchLogsResourcePolicy
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InsufficientCloudWatchLogsResourcePolicy"
      parameters: []
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - HostedZoneId
                - CloudWatchLogsLogGroupArn
              properties:
                HostedZoneId:
                  description: The ID of the hosted zone that you want to log queries for. You can log queries only for public hosted zones.
                  type: string
                  maxLength: 32
                CloudWatchLogsLogGroupArn:
                  description: <p>The Amazon Resource Name (ARN) for the log group that you want to Amazon Route 53 to send query logs to. This is the format of the ARN:</p> <p>arn:aws:logs:<i>region</i>:<i>account-id</i>:log-group:<i>log_group_name</i> </p> <p>To get the ARN for a log group, you can use the CloudWatch console, the <a href="https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeLogGroups.html">DescribeLogGroups</a> API action, the <a href="https://docs.aws.amazon.com/cli/latest/reference/logs/describe-log-groups.html">describe-log-groups</a> command, or the applicable command in one of the Amazon Web Services SDKs.</p>
                  type: string
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListQueryLoggingConfigs
      description: <p>Lists the configurations for DNS query logging that are associated with the current Amazon Web Services account or the configuration that is associated with a specified hosted zone.</p> <p>For more information about DNS query logs, see <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateQueryLoggingConfig.html">CreateQueryLoggingConfig</a>. Additional information, including the format of DNS query logs, appears in <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/query-logs.html">Logging DNS Queries</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListQueryLoggingConfigsResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "481":
          description: InvalidPaginationToken
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
        "482":
          description: NoSuchHostedZone
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchHostedZone"
      parameters:
        - name: hostedzoneid
          in: query
          required: false
          description: <p>(Optional) If you want to list the query logging configuration that is associated with a hosted zone, specify the ID in <code>HostedZoneId</code>. </p> <p>If you don't specify a hosted zone ID, <code>ListQueryLoggingConfigs</code> returns all of the configurations that are associated with the current Amazon Web Services account.</p>
          schema:
            type: string
            maxLength: 32
        - name: nexttoken
          in: query
          required: false
          description: <p>(Optional) If the current Amazon Web Services account has more than <code>MaxResults</code> query logging configurations, use <code>NextToken</code> to get the second and subsequent pages of results.</p> <p>For the first <code>ListQueryLoggingConfigs</code> request, omit this value.</p> <p>For the second and subsequent requests, get the value of <code>NextToken</code> from the previous response and specify that value for <code>NextToken</code> in the request.</p>
          schema:
            type: string
            maxLength: 1024
        - name: maxresults
          in: query
          required: false
          description: <p>(Optional) The maximum number of query logging configurations that you want Amazon Route 53 to return in response to the current request. If the current Amazon Web Services account has more than <code>MaxResults</code> configurations, use the value of <a href="https://docs.aws.amazon.com/Route53/latest/APIReference/API_ListQueryLoggingConfigs.html#API_ListQueryLoggingConfigs_RequestSyntax">NextToken</a> in the response to get the next page of results.</p> <p>If you don't specify a value for <code>MaxResults</code>, Route 53 returns up to 100 configurations.</p>
          schema:
            type: string
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /2013-04-01/delegationset:
    post:
      operationId: CreateReusableDelegationSet
      description: <p>Creates a delegation set (a group of four name servers) that can be reused by multiple hosted zones that were created by the same Amazon Web Services account. </p> <p>You can also create a reusable delegation set that uses the four name servers that are associated with an existing hosted zone. Specify the hosted zone ID in the <code>CreateReusableDelegationSet</code> request.</p> <note> <p>You can't associate a reusable delegation set with a private hosted zone.</p> </note> <p>For information about using a reusable delegation set to configure white label name servers, see <a href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/white-label-name-servers.html">Configuring White Label Name Servers</a>.</p> <p>The process for migrating existing hosted zones to use a reusable delegation set is comparable to the process for configuring white label name servers. You need to perform the following steps:</p> <ol> <li> <p>Create a reusable delegation set.</p> </li> <li> <p>Recreate hosted zones, and reduce the TTL to 60 seconds or less.</p> </li> <li> <p>Recreate resource record sets in the new hosted zones.</p> </li> <li> <p>Change the registrar's name servers to use the name servers for the new hosted zones.</p> </li> <li> <p>Monitor traffic for the website or application.</p> </li> <li> <p>Change TTLs back to their original values.</p> </li> </ol> <p>If you want to migrate existing hosted zones to use a reusable delegation set, the existing hosted zones can't use any of the name servers that are assigned to the reusable delegation set. If one or more hosted zones do use one or more name servers that are assigned to the reusable delegation set, you can do one of the following:</p> <ul> <li> <p>For small numbers of hosted zones—up to a few hundred—it's relatively easy to create reusable delegation sets until you get one that has four name servers that don't overlap with any of the name servers in your hosted zones.</p> </li> <li> <p>For larger numbers of hosted zones, the easiest solution is to use more than one reusable delegation set.</p> </li> <li> <p>For larger numbers of hosted zones, you can also migrate hosted zones that have overlapping name servers to hosted zones that don't have overlapping name servers, then migrate the hosted zones again to use the reusable delegation set.</p> </li> </ul>
      responses:
        "201":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateReusableDelegationSetResponse"
        "480":
          description: DelegationSetAlreadyCreated
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DelegationSetAlreadyCreated"
        "481":
          description: LimitsExceeded
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitsExceeded"
        "482":
          description: HostedZoneNotFound
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/HostedZoneNotFound"
        "483":
          description: InvalidArgument
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidArgument"
        "484":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "485":
          description: DelegationSetNotAvailable
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DelegationSetNotAvailable"
        "486":
          description: DelegationSetAlreadyReusable
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/DelegationSetAlreadyReusable"
      parameters: []
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: object
              required:
                - CallerReference
              properties:
                CallerReference:
                  description: A unique string that identifies the request, and that allows you to retry failed <code>CreateReusableDelegationSet</code> requests without the risk of executing the operation twice. You must use a unique <code>CallerReference</code> string every time you submit a <code>CreateReusableDelegationSet</code> request. <code>CallerReference</code> can be any unique string, for example a date/time stamp.
                  type: string
                  minLength: 1
                  maxLength: 128
                HostedZoneId:
                  description: If you want to mark the delegation set for an existing hosted zone as reusable, the ID for that hosted zone.
                  type: string
                  maxLength: 32
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListReusableDelegationSets
      description: Retrieves a list of the reusable delegation sets that are associated with the current Amazon Web Services account.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListReusableDelegationSetsResponse"
        "480":
          description: InvalidInput
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInput"
      parameters:
        - name: marker
          in: query
          required: false
          description: <p>If the value of <code>IsTruncated</code> in the previous response was <code>true</code>, you have more reusable delegation sets. To get another group, submit another <code>ListReusableDelegationSets</code> request. </p> <p>For the value of <code>marker</code>, specify the value of <code>NextMarker</code> from the previous response, which is the ID of the first reusable delegation set that Amazon Route 53 will return if you submit another request.</p> <p>If the value of <code>IsTruncated</code> in the previous response was <code>false</code>, there are no more reusable delegation sets to get.</p>
          schema:
            type: string
            maxLength: 64
        - name: maxitems
          in: query
          required: false
[...]
