swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /tasks/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Lets you manage your tasks and task lists.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Tasks
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - time_management
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/tasks/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: tasks
externalDocs:
  url: 'https://developers.google.com/google-apps/tasks/firstapp'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/tasks': Manage your tasks
      'https://www.googleapis.com/auth/tasks.readonly': View your tasks
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/tasks': Manage your tasks
      'https://www.googleapis.com/auth/tasks.readonly': View your tasks
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: tasklists
  - name: tasks
paths:
  '/lists/{tasklist}/clear':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.
      operationId: tasks.tasks.clear
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasks
  '/lists/{tasklist}/tasks':
    get:
      description: Returns all tasks in the specified task list.
      operationId: tasks.tasks.list
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
          in: query
          name: completedMax
          type: string
        - description: Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.
          in: query
          name: completedMin
          type: string
        - description: Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
          in: query
          name: dueMax
          type: string
        - description: Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.
          in: query
          name: dueMin
          type: string
        - description: Maximum number of task lists returned on one page. Optional. The default is 100.
          in: query
          name: maxResults
          type: string
        - description: Token specifying the result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: Flag indicating whether completed tasks are returned in the result. Optional. The default is True.
          in: query
          name: showCompleted
          type: boolean
        - description: Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.
          in: query
          name: showDeleted
          type: boolean
        - description: Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.
          in: query
          name: showHidden
          type: boolean
        - description: Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.
          in: query
          name: updatedMin
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Tasks'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks.readonly'
      tags:
        - tasks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new task on the specified task list.
      operationId: tasks.tasks.insert
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: 'Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.'
          in: query
          name: parent
          type: string
        - description: 'Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.'
          in: query
          name: previous
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Task'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasks
  '/lists/{tasklist}/tasks/{task}':
    delete:
      description: Deletes the specified task from the task list.
      operationId: tasks.tasks.delete
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: Task identifier.
          in: path
          name: task
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasks
    get:
      description: Returns the specified task.
      operationId: tasks.tasks.get
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: Task identifier.
          in: path
          name: task
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks.readonly'
      tags:
        - tasks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the specified task. This method supports patch semantics.
      operationId: tasks.tasks.patch
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: Task identifier.
          in: path
          name: task
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Task'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasks
    put:
      description: Updates the specified task.
      operationId: tasks.tasks.update
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: Task identifier.
          in: path
          name: task
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Task'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasks
  '/lists/{tasklist}/tasks/{task}/move':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.
      operationId: tasks.tasks.move
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - description: Task identifier.
          in: path
          name: task
          required: true
          type: string
        - description: 'New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.'
          in: query
          name: parent
          type: string
        - description: 'New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.'
          in: query
          name: previous
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasks
  /users/@me/lists:
    get:
      description: Returns all the authenticated user's task lists.
      operationId: tasks.tasklists.list
      parameters:
        - description: Maximum number of task lists returned on one page. Optional. The default is 100.
          in: query
          name: maxResults
          type: string
        - description: Token specifying the result page to return. Optional.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TaskLists'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks.readonly'
      tags:
        - tasklists
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new task list and adds it to the authenticated user's task lists.
      operationId: tasks.tasklists.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TaskList'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TaskList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasklists
  '/users/@me/lists/{tasklist}':
    delete:
      description: Deletes the authenticated user's specified task list.
      operationId: tasks.tasklists.delete
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasklists
    get:
      description: Returns the authenticated user's specified task list.
      operationId: tasks.tasklists.get
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TaskList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks.readonly'
      tags:
        - tasklists
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the authenticated user's specified task list. This method supports patch semantics.
      operationId: tasks.tasklists.patch
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TaskList'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TaskList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasklists
    put:
      description: Updates the authenticated user's specified task list.
      operationId: tasks.tasklists.update
      parameters:
        - description: Task list identifier.
          in: path
          name: tasklist
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TaskList'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TaskList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/tasks'
          Oauth2c:
            - 'https://www.googleapis.com/auth/tasks'
      tags:
        - tasklists
definitions:
  Task:
    properties:
      completed:
        description: Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.
        format: date-time
        type: string
      deleted:
        description: Flag indicating whether the task has been deleted. The default if False.
        type: boolean
      due:
        description: Due date of the task (as a RFC 3339 timestamp). Optional.
        format: date-time
        type: string
      etag:
        description: ETag of the resource.
        type: string
      hidden:
        description: Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.
        type: boolean
      id:
        description: Task identifier.
        type: string
      kind:
        default: 'tasks#task'
        description: 'Type of the resource. This is always "tasks#task".'
        type: string
      links:
        description: Collection of links. This collection is read-only.
        items:
          properties:
            description:
              description: 'The description. In HTML speak: Everything between <a> and </a>.'
              type: string
            link:
              description: The URL.
              type: string
            type:
              description: 'Type of the link, e.g. "email".'
              type: string
          type: object
        type: array
      notes:
        description: Notes describing the task. Optional.
        type: string
      parent:
        description: Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the "move" method to move the task under a different parent or to the top level.
        type: string
      position:
        description: 'String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task''s corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the "move" method to move the task to another position.'
        type: string
      selfLink:
        description: 'URL pointing to this task. Used to retrieve, update, or delete this task.'
        type: string
      status:
        description: Status of the task. This is either "needsAction" or "completed".
        type: string
      title:
        description: Title of the task.
        type: string
      updated:
        description: Last modification time of the task (as a RFC 3339 timestamp).
        format: date-time
        type: string
    type: object
  TaskList:
    properties:
      etag:
        description: ETag of the resource.
        type: string
      id:
        description: Task list identifier.
        type: string
      kind:
        default: 'tasks#taskList'
        description: 'Type of the resource. This is always "tasks#taskList".'
        type: string
      selfLink:
        description: 'URL pointing to this task list. Used to retrieve, update, or delete this task list.'
        type: string
      title:
        description: Title of the task list.
        type: string
      updated:
        description: Last modification time of the task list (as a RFC 3339 timestamp).
        format: date-time
        type: string
    type: object
  TaskLists:
    properties:
      etag:
        description: ETag of the resource.
        type: string
      items:
        description: Collection of task lists.
        items:
          $ref: '#/definitions/TaskList'
        type: array
      kind:
        default: 'tasks#taskLists'
        description: 'Type of the resource. This is always "tasks#taskLists".'
        type: string
      nextPageToken:
        description: Token that can be used to request the next page of this result.
        type: string
    type: object
  Tasks:
    properties:
      etag:
        description: ETag of the resource.
        type: string
      items:
        description: Collection of tasks.
        items:
          $ref: '#/definitions/Task'
        type: array
      kind:
        default: 'tasks#tasks'
        description: 'Type of the resource. This is always "tasks#tasks".'
        type: string
      nextPageToken:
        description: Token used to access the next page of this result.
        type: string
    type: object
