openapi: 3.0.0
info:
  version: 2010-05-08
  x-release: v4
  title: AWS Identity and Access Management
  description: <fullname>Identity and Access Management</fullname> <p>Identity and Access Management (IAM) is a web service for securely controlling access to Amazon Web Services services. With IAM, you can centrally manage users, security credentials such as access keys, and permissions that control which Amazon Web Services resources users and applications can access. For more information about IAM, see <a href="http://aws.amazon.com/iam/">Identity and Access Management (IAM)</a> and the <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/">Identity and Access Management User Guide</a>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: iam
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/iam/
servers:
  - url: https://iam.amazonaws.com
    variables: {}
    description: The general IAM multi-region endpoint
  - url: http://iam.us-gov.amazonaws.com
    variables: {}
    description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  - url: https://iam.us-gov.amazonaws.com
    variables: {}
    description: The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)
  - url: http://iam.cn-north-1.amazonaws.com.cn
    variables: {}
    description: The general IAM endpoint for China (Beijing) and China (Ningxia)
  - url: https://iam.cn-north-1.amazonaws.com.cn
    variables: {}
    description: The general IAM endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
paths:
  /#Action=AddClientIDToOpenIDConnectProvider:
    get:
      x-aws-operation-name: AddClientIDToOpenIDConnectProvider
      operationId: GET_AddClientIDToOpenIDConnectProvider
      description: <p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect (OIDC) provider resource.</p> <p>This operation is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>
      responses:
        "200":
          description: Success
        "480":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "481":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: OpenIDConnectProviderArn
          in: query
          required: true
          description: The Amazon Resource Name (ARN) of the IAM OpenID Connect (OIDC) provider resource to add the client ID to. You can get a list of OIDC provider ARNs by using the <a>ListOpenIDConnectProviders</a> operation.
          schema:
            type: string
            description: <p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>
            minLength: 20
            maxLength: 2048
        - name: ClientID
          in: query
          required: true
          description: The client ID (also known as audience) to add to the IAM OpenID Connect provider resource.
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AddClientIDToOpenIDConnectProvider
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: AddClientIDToOpenIDConnectProvider
      operationId: POST_AddClientIDToOpenIDConnectProvider
      description: <p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect (OIDC) provider resource.</p> <p>This operation is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>
      responses:
        "200":
          description: Success
        "480":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "481":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/AddClientIDToOpenIDConnectProviderRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AddClientIDToOpenIDConnectProvider
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=AddRoleToInstanceProfile:
    get:
      x-aws-operation-name: AddRoleToInstanceProfile
      operationId: GET_AddRoleToInstanceProfile
      description: <p>Adds the specified IAM role to the specified instance profile. An instance profile can contain only one role, and this quota cannot be increased. You can remove the existing role and then add a different role to an instance profile. You must then wait for the change to appear across all of Amazon Web Services because of <a href="https://en.wikipedia.org/wiki/Eventual_consistency">eventual consistency</a>. To force the change, you must <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html">disassociate the instance profile</a> and then <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html">associate the instance profile</a>, or you can stop your instance and then restart it.</p> <note> <p>The caller of this operation must be granted the <code>PassRole</code> permission on the IAM role by a permissions policy.</p> </note> <p>For more information about roles, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html">Working with roles</a>. For more information about instance profiles, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html">About instance profiles</a>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: UnmodifiableEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnmodifiableEntityException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: InstanceProfileName
          in: query
          required: true
          description: '<p>The name of the instance profile to update.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: RoleName
          in: query
          required: true
          description: '<p>The name of the role to add.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 64
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AddRoleToInstanceProfile
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: AddRoleToInstanceProfile
      operationId: POST_AddRoleToInstanceProfile
      description: <p>Adds the specified IAM role to the specified instance profile. An instance profile can contain only one role, and this quota cannot be increased. You can remove the existing role and then add a different role to an instance profile. You must then wait for the change to appear across all of Amazon Web Services because of <a href="https://en.wikipedia.org/wiki/Eventual_consistency">eventual consistency</a>. To force the change, you must <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html">disassociate the instance profile</a> and then <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html">associate the instance profile</a>, or you can stop your instance and then restart it.</p> <note> <p>The caller of this operation must be granted the <code>PassRole</code> permission on the IAM role by a permissions policy.</p> </note> <p>For more information about roles, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html">Working with roles</a>. For more information about instance profiles, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html">About instance profiles</a>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: UnmodifiableEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnmodifiableEntityException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/AddRoleToInstanceProfileRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AddRoleToInstanceProfile
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=AddUserToGroup:
    get:
      x-aws-operation-name: AddUserToGroup
      operationId: GET_AddUserToGroup
      description: Adds the specified user to the specified group.
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: GroupName
          in: query
          required: true
          description: '<p>The name of the group to update.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: UserName
          in: query
          required: true
          description: '<p>The name of the user to add.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AddUserToGroup
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: AddUserToGroup
      operationId: POST_AddUserToGroup
      description: Adds the specified user to the specified group.
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/AddUserToGroupRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AddUserToGroup
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=AttachGroupPolicy:
    get:
      x-aws-operation-name: AttachGroupPolicy
      operationId: GET_AttachGroupPolicy
      description: <p>Attaches the specified managed policy to the specified IAM group.</p> <p>You use this operation to attach a managed policy to a group. To embed an inline policy in a group, use <a>PutGroupPolicy</a>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about policies, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: PolicyNotAttachableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PolicyNotAttachableException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: GroupName
          in: query
          required: true
          description: '<p>The name (friendly name, not ARN) of the group to attach the policy to.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: PolicyArn
          in: query
          required: true
          description: <p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p> <p>For more information about ARNs, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>
          schema:
            type: string
            description: <p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>
            minLength: 20
            maxLength: 2048
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AttachGroupPolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: AttachGroupPolicy
      operationId: POST_AttachGroupPolicy
      description: <p>Attaches the specified managed policy to the specified IAM group.</p> <p>You use this operation to attach a managed policy to a group. To embed an inline policy in a group, use <a>PutGroupPolicy</a>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about policies, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: PolicyNotAttachableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PolicyNotAttachableException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/AttachGroupPolicyRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AttachGroupPolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=AttachRolePolicy:
    get:
      x-aws-operation-name: AttachRolePolicy
      operationId: GET_AttachRolePolicy
      description: <p>Attaches the specified managed policy to the specified IAM role. When you attach a managed policy to a role, the managed policy becomes part of the role's permission (access) policy.</p> <note> <p>You cannot use a managed policy as the role's trust policy. The role's trust policy is created at the same time as the role, using <a>CreateRole</a>. You can update a role's trust policy using <a>UpdateAssumeRolePolicy</a>.</p> </note> <p>Use this operation to attach a <i>managed</i> policy to a role. To embed an inline policy in a role, use <a>PutRolePolicy</a>. For more information about policies, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: UnmodifiableEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnmodifiableEntityException"
        "484":
          description: PolicyNotAttachableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PolicyNotAttachableException"
        "485":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: RoleName
          in: query
          required: true
          description: '<p>The name (friendly name, not ARN) of the role to attach the policy to.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 64
        - name: PolicyArn
          in: query
          required: true
          description: <p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p> <p>For more information about ARNs, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>
          schema:
            type: string
            description: <p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>
            minLength: 20
            maxLength: 2048
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AttachRolePolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: AttachRolePolicy
      operationId: POST_AttachRolePolicy
      description: <p>Attaches the specified managed policy to the specified IAM role. When you attach a managed policy to a role, the managed policy becomes part of the role's permission (access) policy.</p> <note> <p>You cannot use a managed policy as the role's trust policy. The role's trust policy is created at the same time as the role, using <a>CreateRole</a>. You can update a role's trust policy using <a>UpdateAssumeRolePolicy</a>.</p> </note> <p>Use this operation to attach a <i>managed</i> policy to a role. To embed an inline policy in a role, use <a>PutRolePolicy</a>. For more information about policies, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: UnmodifiableEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnmodifiableEntityException"
        "484":
          description: PolicyNotAttachableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PolicyNotAttachableException"
        "485":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/AttachRolePolicyRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AttachRolePolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=AttachUserPolicy:
    get:
      x-aws-operation-name: AttachUserPolicy
      operationId: GET_AttachUserPolicy
      description: <p>Attaches the specified managed policy to the specified user.</p> <p>You use this operation to attach a <i>managed</i> policy to a user. To embed an inline policy in a user, use <a>PutUserPolicy</a>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about policies, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: PolicyNotAttachableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PolicyNotAttachableException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: UserName
          in: query
          required: true
          description: '<p>The name (friendly name, not ARN) of the IAM user to attach the policy to.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 64
        - name: PolicyArn
          in: query
          required: true
          description: <p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p> <p>For more information about ARNs, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>
          schema:
            type: string
            description: <p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>
            minLength: 20
            maxLength: 2048
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AttachUserPolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: AttachUserPolicy
      operationId: POST_AttachUserPolicy
      description: <p>Attaches the specified managed policy to the specified user.</p> <p>You use this operation to attach a <i>managed</i> policy to a user. To embed an inline policy in a user, use <a>PutUserPolicy</a>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about policies, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: PolicyNotAttachableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PolicyNotAttachableException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/AttachUserPolicyRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - AttachUserPolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=ChangePassword:
    get:
      x-aws-operation-name: ChangePassword
      operationId: GET_ChangePassword
      description: <p>Changes the password of the IAM user who is calling this operation. This operation can be performed using the CLI, the Amazon Web Services API, or the <b>My Security Credentials</b> page in the Amazon Web Services Management Console. The Amazon Web Services account root user password is not affected by this operation.</p> <p>Use <a>UpdateLoginProfile</a> to use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to change the password for any IAM user. For more information about modifying passwords, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html">Managing passwords</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: InvalidUserTypeException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidUserTypeException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: EntityTemporarilyUnmodifiableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityTemporarilyUnmodifiableException"
        "484":
          description: PasswordPolicyViolationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PasswordPolicyViolationException"
        "485":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: OldPassword
          in: query
          required: true
          description: The IAM user's current password.
          schema:
            type: string
            pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
            minLength: 1
            maxLength: 128
            format: password
        - name: NewPassword
          in: query
          required: true
          description: <p>The new password. The new password must conform to the Amazon Web Services account's password policy, if one exists.</p> <p>The <a href="http://wikipedia.org/wiki/regex">regex pattern</a> that is used to validate this parameter is a string of characters. That string can include almost any printable ASCII character from the space (<code>\u0020</code>) through the end of the ASCII character range (<code>\u00FF</code>). You can also include the tab (<code>\u0009</code>), line feed (<code>\u000A</code>), and carriage return (<code>\u000D</code>) characters. Any of these characters are valid in a password. However, many tools, such as the Amazon Web Services Management Console, might restrict the ability to type certain characters because they have special meaning within that tool.</p>
          schema:
            type: string
            pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
            minLength: 1
            maxLength: 128
            format: password
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - ChangePassword
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: ChangePassword
      operationId: POST_ChangePassword
      description: <p>Changes the password of the IAM user who is calling this operation. This operation can be performed using the CLI, the Amazon Web Services API, or the <b>My Security Credentials</b> page in the Amazon Web Services Management Console. The Amazon Web Services account root user password is not affected by this operation.</p> <p>Use <a>UpdateLoginProfile</a> to use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to change the password for any IAM user. For more information about modifying passwords, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html">Managing passwords</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: InvalidUserTypeException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidUserTypeException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: EntityTemporarilyUnmodifiableException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityTemporarilyUnmodifiableException"
        "484":
          description: PasswordPolicyViolationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PasswordPolicyViolationException"
        "485":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - ChangePassword
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreateAccessKey:
    get:
      x-aws-operation-name: CreateAccessKey
      operationId: GET_CreateAccessKey
      description: <p> Creates a new Amazon Web Services secret access key and corresponding Amazon Web Services access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials. This is true even if the Amazon Web Services account has no associated users.</p> <p> For information about quotas on the number of keys you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your Amazon Web Services account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateAccessKeyResponse"
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: UserName
          in: query
          required: false
          description: '<p>The name of the IAM user that the new key will belong to.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateAccessKey
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreateAccessKey
      operationId: POST_CreateAccessKey
      description: <p> Creates a new Amazon Web Services secret access key and corresponding Amazon Web Services access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials. This is true even if the Amazon Web Services account has no associated users.</p> <p> For information about quotas on the number of keys you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your Amazon Web Services account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateAccessKeyResponse"
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateAccessKeyRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateAccessKey
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreateAccountAlias:
    get:
      x-aws-operation-name: CreateAccountAlias
      operationId: GET_CreateAccountAlias
      description: Creates an alias for your Amazon Web Services account. For information about using an Amazon Web Services account alias, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html">Using an alias for your Amazon Web Services account ID</a> in the <i>IAM User Guide</i>.
      responses:
        "200":
          description: Success
        "480":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: AccountAlias
          in: query
          required: true
          description: <p>The account alias to create.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of lowercase letters, digits, and dashes. You cannot start or finish with a dash, nor can you have two dashes in a row.</p>
          schema:
            type: string
            pattern: ^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$
            minLength: 3
            maxLength: 63
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateAccountAlias
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreateAccountAlias
      operationId: POST_CreateAccountAlias
      description: Creates an alias for your Amazon Web Services account. For information about using an Amazon Web Services account alias, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html">Using an alias for your Amazon Web Services account ID</a> in the <i>IAM User Guide</i>.
      responses:
        "200":
          description: Success
        "480":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateAccountAliasRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateAccountAlias
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreateGroup:
    get:
      x-aws-operation-name: CreateGroup
      operationId: GET_CreateGroup
      description: <p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateGroupResponse"
        "480":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "481":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "482":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "483":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: Path
          in: query
          required: false
          description: <p> The path to the group. For more information about paths, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html">IAM identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes. In addition, it can contain any ASCII character from the ! (<code>\u0021</code>) through the DEL character (<code>\u007F</code>), including most punctuation characters, digits, and upper and lowercased letters.</p>
          schema:
            type: string
            pattern: (\u002F)|(\u002F[\u0021-\u007F]+\u002F)
            minLength: 1
            maxLength: 512
        - name: GroupName
          in: query
          required: true
          description: <p>The name of the group to create. Do not include the path in this value.</p> <p>IAM user, group, role, and policy names must be unique within the account. Names are not distinguished by case. For example, you cannot create resources named both "MyResource" and "myresource".</p>
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateGroup
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreateGroup
      operationId: POST_CreateGroup
      description: <p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateGroupResponse"
        "480":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "481":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "482":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "483":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateGroupRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateGroup
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreateInstanceProfile:
    get:
      x-aws-operation-name: CreateInstanceProfile
      operationId: GET_CreateInstanceProfile
      description: <p> Creates a new instance profile. For information about instance profiles, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html">Using roles for applications on Amazon EC2</a> in the <i>IAM User Guide</i>, and <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html#ec2-instance-profile">Instance profiles</a> in the <i>Amazon EC2 User Guide</i>.</p> <p> For information about the number of instance profiles you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM object quotas</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateInstanceProfileResponse"
        "480":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "481":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: ConcurrentModificationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: InstanceProfileName
          in: query
          required: true
          description: '<p>The name of the instance profile to create.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: Path
          in: query
          required: false
          description: <p> The path to the instance profile. For more information about paths, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes. In addition, it can contain any ASCII character from the ! (<code>\u0021</code>) through the DEL character (<code>\u007F</code>), including most punctuation characters, digits, and upper and lowercased letters.</p>
          schema:
            type: string
            pattern: (\u002F)|(\u002F[\u0021-\u007F]+\u002F)
            minLength: 1
            maxLength: 512
        - name: Tags
          in: query
          required: false
          description: <p>A list of tags that you want to attach to the newly created IAM instance profile. Each tag consists of a key name and an associated value. For more information about tagging, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html">Tagging IAM resources</a> in the <i>IAM User Guide</i>.</p> <note> <p>If any one of the tags is invalid or if you exceed the allowed maximum number of tags, then the entire request fails and the resource is not created.</p> </note>
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Tag"
            maxItems: 50
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateInstanceProfile
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreateInstanceProfile
      operationId: POST_CreateInstanceProfile
      description: <p> Creates a new instance profile. For information about instance profiles, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html">Using roles for applications on Amazon EC2</a> in the <i>IAM User Guide</i>, and <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html#ec2-instance-profile">Instance profiles</a> in the <i>Amazon EC2 User Guide</i>.</p> <p> For information about the number of instance profiles you can create, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html">IAM object quotas</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateInstanceProfileResponse"
        "480":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "481":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: ConcurrentModificationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateInstanceProfileRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateInstanceProfile
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreateLoginProfile:
    get:
      x-aws-operation-name: CreateLoginProfile
      operationId: GET_CreateLoginProfile
      description: <p>Creates a password for the specified IAM user. A password allows an IAM user to access Amazon Web Services services through the Amazon Web Services Management Console.</p> <p>You can use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to create a password for any IAM user. Use <a>ChangePassword</a> to update your own existing password in the <b>My Security Credentials</b> page in the Amazon Web Services Management Console.</p> <p>For more information about managing passwords, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html">Managing passwords</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateLoginProfileResponse"
        "480":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "481":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "482":
          description: PasswordPolicyViolationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PasswordPolicyViolationException"
        "483":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: UserName
          in: query
          required: true
          description: '<p>The name of the IAM user to create a password for. The user must already exist.</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>'
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 64
        - name: Password
          in: query
          required: true
          description: <p>The new password for the user.</p> <p>The <a href="http://wikipedia.org/wiki/regex">regex pattern</a> that is used to validate this parameter is a string of characters. That string can include almost any printable ASCII character from the space (<code>\u0020</code>) through the end of the ASCII character range (<code>\u00FF</code>). You can also include the tab (<code>\u0009</code>), line feed (<code>\u000A</code>), and carriage return (<code>\u000D</code>) characters. Any of these characters are valid in a password. However, many tools, such as the Amazon Web Services Management Console, might restrict the ability to type certain characters because they have special meaning within that tool.</p>
          schema:
            type: string
            pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
            minLength: 1
            maxLength: 128
            format: password
        - name: PasswordResetRequired
          in: query
          required: false
          description: Specifies whether the user is required to set a new password on next sign-in.
          schema:
            type: boolean
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateLoginProfile
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreateLoginProfile
      operationId: POST_CreateLoginProfile
      description: <p>Creates a password for the specified IAM user. A password allows an IAM user to access Amazon Web Services services through the Amazon Web Services Management Console.</p> <p>You can use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to create a password for any IAM user. Use <a>ChangePassword</a> to update your own existing password in the <b>My Security Credentials</b> page in the Amazon Web Services Management Console.</p> <p>For more information about managing passwords, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html">Managing passwords</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateLoginProfileResponse"
        "480":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "481":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "482":
          description: PasswordPolicyViolationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/PasswordPolicyViolationException"
        "483":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateLoginProfileRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateLoginProfile
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreateOpenIDConnectProvider:
    get:
      x-aws-operation-name: CreateOpenIDConnectProvider
      operationId: GET_CreateOpenIDConnectProvider
      description: <p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href="http://openid.net/connect/">OpenID Connect (OIDC)</a>.</p> <p>The OIDC provider that you create with this operation can be used as a principal in a role's trust policy. Such a policy establishes a trust relationship between Amazon Web Services and the OIDC provider.</p> <p>If you are using an OIDC identity provider from Google, Facebook, or Amazon Cognito, you don't need to create a separate IAM identity provider. These OIDC identity providers are already built-in to Amazon Web Services and are available for your use. Instead, you can move directly to creating new roles using your identity provider. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-idp_oidc.html">Creating a role for web identity or OpenID connect federation</a> in the <i>IAM User Guide</i>.</p> <p>When you create the IAM OIDC provider, you specify the following:</p> <ul> <li> <p>The URL of the OIDC identity provider (IdP) to trust</p> </li> <li> <p>A list of client IDs (also known as audiences) that identify the application or applications allowed to authenticate using the OIDC provider</p> </li> <li> <p>A list of tags that are attached to the specified IAM OIDC provider</p> </li> <li> <p>A list of thumbprints of one or more server certificates that the IdP uses</p> </li> </ul> <p>You get all of this information from the OIDC IdP you want to use to access Amazon Web Services.</p> <note> <p>Amazon Web Services secures communication with some OIDC identity providers (IdPs) through our library of trusted certificate authorities (CAs) instead of using a certificate thumbprint to verify your IdP server certificate. These OIDC IdPs include Google, Auth0, and those that use an Amazon S3 bucket to host a JSON Web Key Set (JWKS) endpoint. In these cases, your legacy thumbprint remains in your configuration, but is no longer used for validation.</p> </note> <note> <p>The trust for the OIDC provider is derived from the IAM provider that this operation creates. Therefore, it is best to limit access to the <a>CreateOpenIDConnectProvider</a> operation to highly privileged users.</p> </note>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateOpenIDConnectProviderResponse"
        "480":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "481":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: ConcurrentModificationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: Url
          in: query
          required: true
          description: <p>The URL of the identity provider. The URL must begin with <code>https://</code> and should correspond to the <code>iss</code> claim in the provider's OpenID Connect ID tokens. Per the OIDC standard, path components are allowed but query parameters are not. Typically the URL consists of only a hostname, like <code>https://server.example.org</code> or <code>https://example.com</code>. The URL should not contain a port number. </p> <p>You cannot register the same provider multiple times in a single Amazon Web Services account. If you try to submit a URL that has already been used for an OpenID Connect provider in the Amazon Web Services account, you will get an error.</p>
          schema:
            type: string
            description: Contains a URL that specifies the endpoint for an OpenID Connect provider.
            minLength: 1
            maxLength: 255
        - name: ClientIDList
          in: query
          required: false
          description: <p>Provides a list of client IDs, also known as audiences. When a mobile or web app registers with an OpenID Connect provider, they establish a value that identifies the application. This is the value that's sent as the <code>client_id</code> parameter on OAuth requests.</p> <p>You can register multiple client IDs with the same provider. For example, you might have multiple applications that use the same OIDC provider. You cannot register more than 100 client IDs with a single IAM OIDC provider.</p> <p>There is no defined format for a client ID. The <code>CreateOpenIDConnectProviderRequest</code> operation accepts client IDs up to 255 characters long.</p>
          schema:
            type: array
            items:
              $ref: "#/components/schemas/clientIDType"
        - name: ThumbprintList
          in: query
          required: true
          description: <p>A list of server certificate thumbprints for the OpenID Connect (OIDC) identity provider's server certificates. Typically this list includes only one entry. However, IAM lets you have up to five thumbprints for an OIDC provider. This lets you maintain multiple thumbprints if the identity provider is rotating certificates.</p> <p>The server certificate thumbprint is the hex-encoded SHA-1 hash value of the X.509 certificate used by the domain where the OpenID Connect provider makes its keys available. It is always a 40-character string.</p> <p>You must provide at least one thumbprint when creating an IAM OIDC provider. For example, assume that the OIDC provider is <code>server.example.com</code> and the provider stores its keys at https://keys.server.example.com/openid-connect. In that case, the thumbprint string would be the hex-encoded SHA-1 hash value of the certificate used by <code>https://keys.server.example.com.</code> </p> <p>For more information about obtaining the OIDC provider thumbprint, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/identity-providers-oidc-obtain-thumbprint.html">Obtaining the thumbprint for an OpenID Connect provider</a> in the <i>IAM user Guide</i>.</p>
          schema:
            type: array
            description: Contains a list of thumbprints of identity provider server certificates.
            items:
              $ref: "#/components/schemas/thumbprintType"
        - name: Tags
          in: query
          required: false
          description: <p>A list of tags that you want to attach to the new IAM OpenID Connect (OIDC) provider. Each tag consists of a key name and an associated value. For more information about tagging, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html">Tagging IAM resources</a> in the <i>IAM User Guide</i>.</p> <note> <p>If any one of the tags is invalid or if you exceed the allowed maximum number of tags, then the entire request fails and the resource is not created.</p> </note>
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Tag"
            maxItems: 50
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateOpenIDConnectProvider
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreateOpenIDConnectProvider
      operationId: POST_CreateOpenIDConnectProvider
      description: <p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href="http://openid.net/connect/">OpenID Connect (OIDC)</a>.</p> <p>The OIDC provider that you create with this operation can be used as a principal in a role's trust policy. Such a policy establishes a trust relationship between Amazon Web Services and the OIDC provider.</p> <p>If you are using an OIDC identity provider from Google, Facebook, or Amazon Cognito, you don't need to create a separate IAM identity provider. These OIDC identity providers are already built-in to Amazon Web Services and are available for your use. Instead, you can move directly to creating new roles using your identity provider. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-idp_oidc.html">Creating a role for web identity or OpenID connect federation</a> in the <i>IAM User Guide</i>.</p> <p>When you create the IAM OIDC provider, you specify the following:</p> <ul> <li> <p>The URL of the OIDC identity provider (IdP) to trust</p> </li> <li> <p>A list of client IDs (also known as audiences) that identify the application or applications allowed to authenticate using the OIDC provider</p> </li> <li> <p>A list of tags that are attached to the specified IAM OIDC provider</p> </li> <li> <p>A list of thumbprints of one or more server certificates that the IdP uses</p> </li> </ul> <p>You get all of this information from the OIDC IdP you want to use to access Amazon Web Services.</p> <note> <p>Amazon Web Services secures communication with some OIDC identity providers (IdPs) through our library of trusted certificate authorities (CAs) instead of using a certificate thumbprint to verify your IdP server certificate. These OIDC IdPs include Google, Auth0, and those that use an Amazon S3 bucket to host a JSON Web Key Set (JWKS) endpoint. In these cases, your legacy thumbprint remains in your configuration, but is no longer used for validation.</p> </note> <note> <p>The trust for the OIDC provider is derived from the IAM provider that this operation creates. Therefore, it is best to limit access to the <a>CreateOpenIDConnectProvider</a> operation to highly privileged users.</p> </note>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateOpenIDConnectProviderResponse"
        "480":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "481":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "482":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "483":
          description: ConcurrentModificationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateOpenIDConnectProviderRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateOpenIDConnectProvider
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreatePolicy:
    get:
      x-aws-operation-name: CreatePolicy
      operationId: GET_CreatePolicy
      description: <p>Creates a new managed policy for your Amazon Web Services account.</p> <p>This operation creates a policy version with a version identifier of <code>v1</code> and sets v1 as the policy's default version. For more information about policy versions, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policies in general, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreatePolicyResponse"
        "480":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "483":
          description: MalformedPolicyDocumentException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedPolicyDocumentException"
        "484":
          description: ConcurrentModificationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
        "485":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: PolicyName
          in: query
          required: true
          description: <p>The friendly name of the policy.</p> <p>IAM user, group, role, and policy names must be unique within the account. Names are not distinguished by case. For example, you cannot create resources named both "MyResource" and "myresource".</p>
          schema:
            type: string
            pattern: "[\\w+=,.@-]+"
            minLength: 1
            maxLength: 128
        - name: Path
          in: query
          required: false
          description: <p>The path for the policy.</p> <p>For more information about paths, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html">IAM identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>This parameter allows (through its <a href="http://wikipedia.org/wiki/regex">regex pattern</a>) a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes. In addition, it can contain any ASCII character from the ! (<code>\u0021</code>) through the DEL character (<code>\u007F</code>), including most punctuation characters, digits, and upper and lowercased letters.</p> <note> <p>You cannot use an asterisk (*) in the path name.</p> </note>
          schema:
            type: string
            pattern: ((/[A-Za-z0-9\.,\+@=_-]+)*)/
            minLength: 1
            maxLength: 512
        - name: PolicyDocument
          in: query
          required: true
          description: <p>The JSON policy document that you want to use as the content for the new policy.</p> <p>You must provide policies in JSON format in IAM. However, for CloudFormation templates formatted in YAML, you can provide the policy in JSON or YAML format. CloudFormation always converts a YAML policy to JSON format before submitting it to IAM.</p> <p>The maximum length of the policy document that you can pass in this operation, including whitespace, is listed below. To view the maximum character counts of a managed policy with no whitespaces, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html#reference_iam-quotas-entity-length">IAM and STS character quotas</a>.</p> <p>To learn more about JSON policy grammar, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_grammar.html">Grammar of the IAM JSON policy language</a> in the <i>IAM User Guide</i>. </p> <p>The <a href="http://wikipedia.org/wiki/regex">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\u0009</code>), line feed (<code>\u000A</code>), and carriage return (<code>\u000D</code>)</p> </li> </ul>
          schema:
            type: string
            pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
            minLength: 1
            maxLength: 131072
        - name: Description
          in: query
          required: false
          description: <p>A friendly description of the policy.</p> <p>Typically used to store information about the permissions defined in the policy. For example, "Grants access to production DynamoDB tables."</p> <p>The policy description is immutable. After a value is assigned, it cannot be changed.</p>
          schema:
            type: string
            maxLength: 1000
        - name: Tags
          in: query
          required: false
          description: <p>A list of tags that you want to attach to the new IAM customer managed policy. Each tag consists of a key name and an associated value. For more information about tagging, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html">Tagging IAM resources</a> in the <i>IAM User Guide</i>.</p> <note> <p>If any one of the tags is invalid or if you exceed the allowed maximum number of tags, then the entire request fails and the resource is not created.</p> </note>
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Tag"
            maxItems: 50
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreatePolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    post:
      x-aws-operation-name: CreatePolicy
      operationId: POST_CreatePolicy
      description: <p>Creates a new managed policy for your Amazon Web Services account.</p> <p>This operation creates a policy version with a version identifier of <code>v1</code> and sets v1 as the policy's default version. For more information about policy versions, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policies in general, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreatePolicyResponse"
        "480":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "481":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "482":
          description: EntityAlreadyExistsException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/EntityAlreadyExistsException"
        "483":
          description: MalformedPolicyDocumentException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedPolicyDocumentException"
        "484":
          description: ConcurrentModificationException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
        "485":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreatePolicyRequest"
      parameters:
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreatePolicy
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-05-08
  /#Action=CreatePolicyVersion:
    get:
      x-aws-operation-name: CreatePolicyVersion
      operationId: GET_CreatePolicyVersion
      description: <p>Creates a new version of the specified managed policy. To update a managed policy, you create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must delete an existing version using <a>DeletePolicyVersion</a> before you create a new version.</p> <p>Optionally, you can set the new version as the policy's default version. The default version is the version that is in effect for the IAM users, groups, and roles to which the policy is attached.</p> <p>For more information about managed policy versions, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p>
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreatePolicyVersionResponse"
        "480":
          description: NoSuchEntityException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchEntityException"
        "481":
          description: MalformedPolicyDocumentException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedPolicyDocumentException"
        "482":
          description: InvalidInputException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidInputException"
        "483":
          description: LimitExceededException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/LimitExceededException"
        "484":
          description: ServiceFailureException
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: PolicyArn
          in: query
          required: true
[...]
