openapi: 3.0.0
servers:
  - url: 'http://cur.amazonaws.com/'
info:
  version: '2017-01-06'
  x-release: v4
  title: AWS Cost and Usage Report Service
  description: All public APIs for AWS Cost and Usage Report service
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cur
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cur-2017-01-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/cur/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: DeleteReportDefinition
      description: Delete a specified report definition
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteReportDefinitionResponse'
        '480':
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorException'
        '481':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteReportDefinitionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeReportDefinitions':
    post:
      operationId: DescribeReportDefinitions
      description: Describe a list of report definitions owned by the account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeReportDefinitionsResponse'
        '480':
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorException'
      parameters:
        - name: MaxResults
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeReportDefinitionsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PutReportDefinition':
    post:
      operationId: PutReportDefinition
      description: Create a new report definition
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutReportDefinitionResponse'
        '480':
          description: DuplicateReportNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateReportNameException'
        '481':
          description: ReportLimitReachedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportLimitReachedException'
        '482':
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorException'
        '483':
          description: ValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutReportDefinitionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AWSRegion:
      type: string
      enum:
        - us-east-1
        - us-west-1
        - us-west-2
        - eu-central-1
        - eu-west-1
        - ap-southeast-1
        - ap-southeast-2
        - ap-northeast-1
      description: Region of customer S3 bucket.
    AdditionalArtifact:
      type: string
      enum:
        - REDSHIFT
        - QUICKSIGHT
      description: Enable support for Redshift and/or QuickSight.
    AdditionalArtifactList:
      type: array
      description: A list of additional artifacts.
      items:
        $ref: '#/components/schemas/AdditionalArtifact'
    CompressionFormat:
      type: string
      enum:
        - ZIP
        - GZIP
      description: Preferred compression format for report.
    DeleteReportDefinitionRequest:
      type: object
      properties:
        ReportName:
          $ref: '#/components/schemas/ReportName'
      description: Request of DeleteReportDefinition
    DeleteReportDefinitionResponse:
      type: object
      properties:
        ResponseMessage:
          $ref: '#/components/schemas/DeleteResponseMessage'
      description: Response of DeleteReportDefinition
    DeleteResponseMessage:
      type: string
      description: A message indicates if the deletion is successful.
    DescribeReportDefinitionsRequest:
      type: object
      properties:
        MaxResults:
          $ref: '#/components/schemas/MaxResults'
        NextToken:
          $ref: '#/components/schemas/GenericString'
      description: Request of DescribeReportDefinitions
    DescribeReportDefinitionsResponse:
      type: object
      properties:
        ReportDefinitions:
          $ref: '#/components/schemas/ReportDefinitionList'
        NextToken:
          $ref: '#/components/schemas/GenericString'
      description: Response of DescribeReportDefinitions
    DuplicateReportNameException:
      type: object
      properties:
        Message:
          $ref: '#/components/schemas/ErrorMessage'
      description: This exception is thrown when putting a report preference with a name that already exists.
    ErrorMessage:
      type: string
      description: A message to show the detail of the exception.
    GenericString:
      type: string
      description: A generic string.
    InternalErrorException:
      type: object
      properties:
        Message:
          $ref: '#/components/schemas/ErrorMessage'
      description: This exception is thrown on a known dependency failure.
    MaxResults:
      type: integer
      description: The max number of results returned by the operation.
      minimum: 5
      maximum: 5
    PutReportDefinitionRequest:
      type: object
      required:
        - ReportDefinition
      properties:
        ReportDefinition:
          $ref: '#/components/schemas/ReportDefinition'
      description: Request of PutReportDefinition
    PutReportDefinitionResponse:
      type: object
      properties: {}
      description: Response of PutReportDefinition
    ReportDefinition:
      type: object
      required:
        - ReportName
        - TimeUnit
        - Format
        - Compression
        - AdditionalSchemaElements
        - S3Bucket
        - S3Prefix
        - S3Region
      properties:
        ReportName:
          $ref: '#/components/schemas/ReportName'
        TimeUnit:
          $ref: '#/components/schemas/TimeUnit'
        Format:
          $ref: '#/components/schemas/ReportFormat'
        Compression:
          $ref: '#/components/schemas/CompressionFormat'
        AdditionalSchemaElements:
          $ref: '#/components/schemas/SchemaElementList'
        S3Bucket:
          $ref: '#/components/schemas/S3Bucket'
        S3Prefix:
          $ref: '#/components/schemas/S3Prefix'
        S3Region:
          $ref: '#/components/schemas/AWSRegion'
        AdditionalArtifacts:
          $ref: '#/components/schemas/AdditionalArtifactList'
      description: 'The definition of AWS Cost and Usage Report. Customer can specify the report name, time unit, report format, compression format, S3 bucket and additional artifacts and schema elements in the definition.'
    ReportDefinitionList:
      type: array
      description: A list of report definitions.
      items:
        $ref: '#/components/schemas/ReportDefinition'
    ReportFormat:
      type: string
      enum:
        - textORcsv
      description: Preferred format for report.
    ReportLimitReachedException:
      type: object
      properties:
        Message:
          $ref: '#/components/schemas/ErrorMessage'
      description: This exception is thrown when the number of report preference reaches max limit. The max number is 5.
    ReportName:
      type: string
      pattern: '[0-9A-Za-z!\-_.*\''()]+'
      description: 'Preferred name for a report, it has to be unique. Must starts with a number/letter, case sensitive. Limited to 256 characters.'
      maxLength: 256
    S3Bucket:
      type: string
      description: Name of customer S3 bucket.
      maxLength: 256
    S3Prefix:
      type: string
      pattern: '[0-9A-Za-z!\-_.*\''()/]*'
      description: Preferred report path prefix. Limited to 256 characters.
      maxLength: 256
    SchemaElement:
      type: string
      enum:
        - RESOURCES
      description: Preference of including Resource IDs. You can include additional details about individual resource IDs in your report.
    SchemaElementList:
      type: array
      description: A list of schema elements.
      items:
        $ref: '#/components/schemas/SchemaElement'
    TimeUnit:
      type: string
      enum:
        - HOURLY
        - DAILY
      description: The frequency on which report data are measured and displayed.
    ValidationException:
      type: object
      properties:
        Message:
          $ref: '#/components/schemas/ErrorMessage'
      description: 'This exception is thrown when providing an invalid input. eg. Put a report preference with an invalid report name, or Delete a report preference with an empty report name.'
  parameters:
    Action:
      name: Action
      in: header
      required: true
      schema:
        type: string
    Version:
      name: Version
      in: header
      required: true
      schema:
        type: string
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      required: false
      schema:
        type: string
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      required: false
      schema:
        type: string
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      required: false
      schema:
        type: string
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      required: false
      schema:
        type: string
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      required: false
      schema:
        type: string
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      required: false
      schema:
        type: string
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      required: false
      schema:
        type: string
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
