swagger: '2.0'
info:
  version: '2017-01-06'
  x-release: v4
  title: AWS Cost and Usage Report Service
  description: '<p>The AWS Cost and Usage Report API enables you to programmatically create, query, and delete AWS Cost and Usage report definitions.</p> <p>AWS Cost and Usage reports track the monthly AWS costs and usage associated with your AWS account. The report contains line items for each unique combination of AWS product, usage type, and operation that your AWS account uses. You can configure the AWS Cost and Usage report to show only the data that you want, using the AWS Cost and Usage API.</p> <p>Service Endpoint</p> <p>The AWS Cost and Usage Report API provides the following endpoint:</p> <ul> <li> <p>cur.us-east-1.amazonaws.com</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cur
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cur-2017-01-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/cur/'
host: cur.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: DeleteReportDefinition
      description: Deletes the specified report.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReportDefinitionResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReportDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReportDefinitions':
    post:
      operationId: DescribeReportDefinitions
      description: Lists the AWS Cost and Usage reports available to this account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReportDefinitionsResponse'
        '480':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReportDefinitionsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutReportDefinition':
    post:
      operationId: PutReportDefinition
      description: Creates a new report using the description that you provide.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutReportDefinitionResponse'
        '480':
          description: DuplicateReportNameException
          schema:
            $ref: '#/definitions/DuplicateReportNameException'
        '481':
          description: ReportLimitReachedException
          schema:
            $ref: '#/definitions/ReportLimitReachedException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutReportDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  DeleteReportDefinitionResponse:
    type: object
    properties:
      ResponseMessage:
        $ref: '#/definitions/DeleteResponseMessage'
    description: 'If the action is successful, the service sends back an HTTP 200 response.'
  DeleteReportDefinitionRequest:
    type: object
    example:
      ReportName: ExampleReport
    properties:
      ReportName:
        $ref: '#/definitions/ReportName'
    description: Deletes the specified report.
  InternalErrorException: {}
  ValidationException: {}
  DescribeReportDefinitionsResponse:
    type: object
    example:
      ReportDefinitions:
        - AdditionalArtifacts:
            - QUICKSIGHT
          AdditionalSchemaElements:
            - RESOURCES
          Compression: GZIP
          Format: textORcsv
          ReportName: ExampleReport
          S3Bucket: example-s3-bucket
          S3Prefix: exampleprefix
          S3Region: us-east-1
          TimeUnit: HOURLY
        - AdditionalArtifacts:
            - QUICKSIGHT
          AdditionalSchemaElements:
            - RESOURCES
          Compression: GZIP
          Format: textORcsv
          ReportName: ExampleReport2
          S3Bucket: example-s3-bucket
          S3Prefix: exampleprefix
          S3Region: us-east-1
          TimeUnit: HOURLY
    properties:
      ReportDefinitions:
        $ref: '#/definitions/ReportDefinitionList'
        description: A list of AWS Cost and Usage reports owned by the account.
      NextToken:
        $ref: '#/definitions/GenericString'
    description: 'If the action is successful, the service sends back an HTTP 200 response.'
  DescribeReportDefinitionsRequest:
    type: object
    example:
      MaxResults: 5
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
      NextToken:
        $ref: '#/definitions/GenericString'
    description: Requests a list of AWS Cost and Usage reports owned by the account.
  PutReportDefinitionResponse:
    type: object
    properties: {}
    description: 'If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.'
  PutReportDefinitionRequest:
    type: object
    required:
      - ReportDefinition
    example:
      ReportDefinition:
        AdditionalArtifacts:
          - REDSHIFT
          - QUICKSIGHT
        AdditionalSchemaElements:
          - RESOURCES
        Compression: ZIP
        Format: textORcsv
        ReportName: ExampleReport
        S3Bucket: example-s3-bucket
        S3Prefix: exampleprefix
        S3Region: us-east-1
        TimeUnit: DAILY
    properties:
      ReportDefinition:
        $ref: '#/definitions/ReportDefinition'
        description: 'Represents the output of the PutReportDefinition operation. The content consists of the detailed metadata and data file information. '
    description: Creates a Cost and Usage Report.
  DuplicateReportNameException: {}
  ReportLimitReachedException: {}
  AWSRegion:
    type: string
    enum:
      - us-east-1
      - us-west-1
      - us-west-2
      - eu-central-1
      - eu-west-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - eu-north-1
      - ap-northeast-3
    description: The region of the S3 bucket that AWS delivers the report into.
  AdditionalArtifact:
    type: string
    enum:
      - REDSHIFT
      - QUICKSIGHT
      - ATHENA
    description: The types of manifest that you want AWS to create for this report.
  AdditionalArtifactList:
    type: array
    description: A list of additional artifacts.
    items:
      $ref: '#/definitions/AdditionalArtifact'
  CompressionFormat:
    type: string
    enum:
      - ZIP
      - GZIP
      - Parquet
    description: The compression format that AWS uses for the report.
  ReportName:
    type: string
    pattern: '[0-9A-Za-z!\-_.*\''()]+'
    description: 'The name of the report that you want to create. The name must be unique, is case sensitive, and can''t include spaces. '
    maxLength: 256
  DeleteResponseMessage:
    type: string
    description: Whether the deletion was successful or not.
  MaxResults:
    type: integer
    description: The maximum number of results that AWS returns for the operation.
    minimum: 5
    maximum: 5
  GenericString:
    type: string
    description: A generic string.
  ReportDefinitionList:
    type: array
    description: A list of report definitions.
    items:
      $ref: '#/definitions/ReportDefinition'
  ReportDefinition:
    type: object
    required:
      - ReportName
      - TimeUnit
      - Format
      - Compression
      - AdditionalSchemaElements
      - S3Bucket
      - S3Prefix
      - S3Region
    properties:
      ReportName:
        $ref: '#/definitions/ReportName'
      TimeUnit:
        $ref: '#/definitions/TimeUnit'
      Format:
        $ref: '#/definitions/ReportFormat'
      Compression:
        $ref: '#/definitions/CompressionFormat'
      AdditionalSchemaElements:
        $ref: '#/definitions/SchemaElementList'
        description: 'A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. '
      S3Bucket:
        $ref: '#/definitions/S3Bucket'
      S3Prefix:
        $ref: '#/definitions/S3Prefix'
      S3Region:
        $ref: '#/definitions/AWSRegion'
      AdditionalArtifacts:
        $ref: '#/definitions/AdditionalArtifactList'
        description: A list of manifests that you want Amazon Web Services to create for this report.
      RefreshClosedReports:
        $ref: '#/definitions/RefreshClosedReports'
        description: 'Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to previous months. These charges can include refunds, credits, or support fees.'
      ReportVersioning:
        $ref: '#/definitions/ReportVersioning'
        description: Whether you want Amazon Web Services to overwrite the previous version of each report or to deliver the report in addition to the previous versions.
    description: 'The definition of AWS Cost and Usage Report. You can specify the report name, time unit, report format, compression format, S3 bucket, additional artifacts, and schema elements in the definition. '
  RefreshClosedReports:
    type: boolean
  TimeUnit:
    type: string
    enum:
      - HOURLY
      - DAILY
    description: 'The length of time covered by the report. '
  ReportFormat:
    type: string
    enum:
      - textORcsv
      - Parquet
    description: The format that AWS saves the report in.
  SchemaElementList:
    type: array
    description: 'A list of strings that indicate the content that is included in the report, such as service or usage type.'
    items:
      $ref: '#/definitions/SchemaElement'
  S3Bucket:
    type: string
    description: The S3 bucket where AWS delivers the report.
    maxLength: 256
  S3Prefix:
    type: string
    pattern: '[0-9A-Za-z!\-_.*\''()/]*'
    description: The prefix that AWS adds to the report name when AWS delivers the report. Your prefix can't include spaces.
    maxLength: 256
  ReportVersioning:
    type: string
    enum:
      - CREATE_NEW_REPORT
      - OVERWRITE_REPORT
  SchemaElement:
    type: string
    enum:
      - RESOURCES
    description: 'Whether or not AWS includes resource IDs in the report. '
