{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://art19.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@art19.com",
      "name": "ART19 Engineering Team",
      "x-twitter": "art19co"
    },
    "description": "The ART19 Content API conforms to the [JSON:API specification](http://jsonapi.org).\n\nAPI requests **MUST** use the HTTP Accept header:\n\n`Accept: application/vnd.api+json`\n\nAPI requests **MUST** be authenticated using the HTTP Authorization header:\n\n`Authorization: Token token=\"your-token\", credential=\"your-credential\"`\n\n## General Notes\n\nSome query parameters use unencoded [ and ] characters simply for readability. Defaults, examples, and\npossible values are additionally rendered in double quotes for readability. In practice, query parameters should\nnot have quotes around the values (e.g., `foo=bar` is valid, not `foo=\"bar\"`), and both query parameter keys\nand values must be percent-encoded, per the requirements in [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n\n## Rate Limiting\n\nIn order to provide a fair distribution of available resources, all API calls are subject to rate limits.\nIf you exceed the number of API calls per minute granted to your credential, a `429 Too Many Requests`\nerror response will be returned.\n\nIn that case, a `Retry-After` header MAY be included in the response, describing the number of seconds\nafter which a request can be retried.\n\nIf you run into a high number of 429 errors, please reach out to ART19 Support to adjust your rate limit.\n\n### Example\n\nIn the following example the request can be retried after waiting for 21 seconds:\n\n    HTTP/1.1 429 Too Many Requests\n    Content-Type: text/html\n    Retry-After: 21\n\n## Pagination\n\nRequests to collection endpoints **SHOULD** provide pagination parameters.\nSome endpoints **REQUIRE** pagination parameters to be provided.\nWhenever pagination is provided, it **MUST** be valid.\nFailing to provide pagination when it is required or providing wrong or incomplete pagination\nalways results in a `400 Bad Request` error response.\n\nThe page numbering starts with `1` and the maximum page size (if not otherwise documented\non an endpoint) is `100`. Pagination **MUST NOT** be specified if requesting a list of IDs (using an `ids[]` parameter).\n\nProviding invalid values for page number or page size, as well as providing only a page number or only a page size,\nis considered an error. Pagination is provided like this:\n\n`page[number]=1&page[size]=25`\n\nResponses conform to the [JSON:API specification's pagination section](https://jsonapi.org/format/#fetching-pagination)\nby including pagination links. Your requested page size will be carried into the pagination links.\n\n## Sorting\n\nRequests to collection endpoints usually accept a `sort` parameter. Please refer to the\n[JSON:API Specification's sorting section](https://jsonapi.org/format/#fetching-sorting) for further details.\n\n## Relationship Linking\n\nCurrently, resources return all of their relationships, in no particular order, pursuant to how relationships\nshould be returned [according to the JSON:API specification](https://jsonapi.org/format/#document-resource-object-relationships). Consumers of this API\n**MUST NOT** make assumptions about the order of these collections. Even though this data is not currently paginated, consumers **MUST** support\npaginating relationships per the JSON:API specification if this data is important for their application.\n",
    "termsOfService": "https://art19.com/business-terms",
    "title": "ART19 Content API Documentation",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_art19co_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://art19.com/swagger_json/external/content.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "art19.com"
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/classification_inclusions": {
      "get": {
        "description": "Classification Inclusions connect classifications with entities like series, episodes, or campaigns, amongst others.\n\nIn order to retrieve a set of classification inclusions, at least one of the following filter parameters must\nbe provided. Failing to do so renders a `400 Bad Request` response.\n\n- `ids[]`\n- `classified_id` and `classified_type`\n- `classified_id` and `classification_type`\n- `classification_id` and `classified_type`\n",
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to a classification with this ID.",
            "example": "a90609c0-9f0c-48fd-8a41-83eb8414bedb",
            "in": "query",
            "name": "classification_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The type of classification that the classification inclusions are linked to.\nDepending on the permissions of your credential, only a subset of these types are usable.\n",
            "in": "query",
            "name": "classification_type",
            "schema": {
              "enum": [
                "AlternateFeedType",
                "Genre",
                "Industry",
                "Language",
                "MediaRating"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to a resource with this ID.\nYou will have to use this filter together with either `classified_type` or `classification_type`.\n",
            "example": "fee1976e-f1bc-48a9-9ee8-58800f4d3462",
            "in": "query",
            "name": "classified_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to this type of entity.",
            "in": "query",
            "name": "classified_type",
            "schema": {
              "enum": [
                "Series",
                "Season",
                "Episode"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to a classification containing\nthe parameter value disregarding case.\n",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "created_at",
              "items": {
                "enum": [
                  "classification_value",
                  "created_at",
                  "position"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/ClassificationInclusion"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. At least one filter parameter is required.\n"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get ClassificationInclusion records",
        "tags": [
          "ClassificationInclusion"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classification_inclusions\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"390087cf-b76d-47a0-a57d-cef05199824c\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"8c678eef-8c71-4405-85bc-5b76eb9e6451\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/classification_inclusions');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"d485d205-1888-468a-bcc7-63204f59442c\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"4b866157-04d6-414f-89bc-0fd22157c8c4\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/classification_inclusions/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the classification inclusion resource to load.",
            "example": "d1d90de9-c143-42e7-9e00-eca75e984847",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClassificationInclusion"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific classification inclusion",
        "tags": [
          "ClassificationInclusion"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classification_inclusions/a640cf0d-582e-40d1-a0ce-99aca12387ad\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"7f5cb2aa-e1b7-49e1-8a75-b73e08c6db93\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classification_inclusions/a640cf0d-582e-40d1-a0ce-99aca12387ad', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"5a85ca02-b02a-41ca-adbe-dc19ccd75dac\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/classification_inclusions/a640cf0d-582e-40d1-a0ce-99aca12387ad');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"5d754aff-89aa-41cd-8d8e-cf77937aa418\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classification_inclusions/a640cf0d-582e-40d1-a0ce-99aca12387ad' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"f294168a-5198-408b-8041-6d11d842ae79\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/classifications": {
      "get": {
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to classifications of this type. The possible values for types\ndepends on the privileges of the provided credential.\n",
            "example": "Genre",
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "AlternateFeedType",
                "Genre",
                "Industry",
                "Language",
                "MediaRating"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classifications with a value containing the parameter value\ndisregarding case.\n",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If this parameter is provided and not empty, limit the result to classifications\nof type `Geography` representing countries. The credential must have at least one\nprivilege with a network, series, or advertiser profile.\n",
            "example": "true",
            "in": "query",
            "name": "is_country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "value",
              "items": {
                "enum": [
                  "created_at",
                  "updated_at",
                  "value"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/Classification"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. Filtering by type for AudienceSegment, AudienceTag, ListeningPlatform, and UserDevice is no longer supported.\n"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of classifications",
        "tags": [
          "Classification"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classifications\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"9c5a51f7-21f6-4f94-81fb-5e3e7cc2f12f\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"aa7710fd-f5aa-4287-bb3e-947589e6f1d0\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/classifications');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"4567e7f5-93ce-4d31-8131-9c7342e27de3\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"db9812ce-83d0-439c-9c4f-117f1a856ada\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/classifications/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the classification resource to load.",
            "example": "6fb61aa8-e221-4caf-b166-30b7ccda7114",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Classification"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific classification",
        "tags": [
          "Classification"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classifications/b39be1a9-b7c3-4c64-8cc6-3c5bd6bc86e7\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"eff18ee3-6886-47e6-97eb-bba23f83ebf8\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classifications/b39be1a9-b7c3-4c64-8cc6-3c5bd6bc86e7', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"27de0bf8-fc55-4f79-972c-ed56b03abba0\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/classifications/b39be1a9-b7c3-4c64-8cc6-3c5bd6bc86e7');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"3c7ac501-3b8d-4f09-a85f-0a7afe46d710\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classifications/b39be1a9-b7c3-4c64-8cc6-3c5bd6bc86e7' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"1d2fb50f-86f5-484e-bd24-8472ed9cc456\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/credits": {
      "get": {
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to credits for the entity with this ID only. If the entity is not\npublished, the credential needs to have the right privilege to list the credits for it.\n",
            "example": "76654e16-76ce-4945-92e9-e0a381917853",
            "in": "query",
            "name": "creditable_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to credits linked to this type of entity only.\nDepending on the privileges of the credential, this list might be further reduced to\nonly published entities.\n",
            "in": "query",
            "name": "creditable_type",
            "schema": {
              "enum": [
                "Series",
                "Season",
                "Episode"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "position",
              "items": {
                "enum": [
                  "created_at",
                  "position",
                  "updated_at"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/Credit"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. \n"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of credits",
        "tags": [
          "Credit"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/credits\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"3bd3f88e-fba4-4a73-a2c5-731321843136\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/credits?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"211f169e-cae9-43ea-9c1e-5c0c2ffda295\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/credits');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"fa68535a-f792-4bae-ad9a-c5b054cc74d6\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/credits?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"9d05ac66-cd62-4878-8c36-ced1f920981b\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/credits/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the credit resource to load.",
            "example": "e345d7b6-cc47-437c-b06e-032a04a2c8cf",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Credit"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific credit",
        "tags": [
          "Credit"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/credits/df6147ef-51a8-45e9-a910-7f646d87eb5c\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"e3c4c74d-e30a-4483-9a80-b3a388c95fe9\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/credits/df6147ef-51a8-45e9-a910-7f646d87eb5c', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b4aa295b-e290-4460-ae5c-ca0c3974c161\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/credits/df6147ef-51a8-45e9-a910-7f646d87eb5c');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"948ae066-4773-44ab-a2bc-5d006df9feea\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/credits/df6147ef-51a8-45e9-a910-7f646d87eb5c' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b22e22ad-5553-4c35-9a53-18cc1443e918\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/episodes": {
      "get": {
        "description": "One initial filter must be provided (`ids`, `series_id`, or `season_id`), otherwise a `400 Bad Request` response\nwill be returned. Additional filters are allowed.\n\nThis API will only return episodes that your credential has permission to access, which may not be exclusive to\nyour account, depending on the filter(s) being used. Be careful to filter the results as needed.\n",
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to episodes usable with an inventory management calendar for the provided AdDeal ID.",
            "example": "b97239ef-1776-489a-a1df-5f70a8407148",
            "in": "query",
            "name": "included_in_inventory_calendar",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to episodes released in this month.",
            "in": "query",
            "name": "month",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If `true`, limit the result to published episodes only.\nIf `false`, limit the result to _unpublished_ episodes only.\n",
            "in": "query",
            "name": "published",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Limit the result to episodes with a title containing this parameter in a case-insensitive way.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit the result to episodes released after this timestamp.",
            "in": "query",
            "name": "released_after",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to episodes released before this timestamp.",
            "in": "query",
            "name": "released_before",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "If `true`, limit the result to published and released episodes holding an available media file.\nIf this is `true`, it also changes the default sort order to `-released_at`.\n",
            "in": "query",
            "name": "rss",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Limit result to episodes linked to this season.",
            "example": "30e7b568-d099-486b-9a8e-51b7594cab7d",
            "in": "query",
            "name": "season_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to episodes linked to this series.",
            "example": "d0ceb1ff-b95b-4c1e-a7e5-a36ed7b4d3b7",
            "in": "query",
            "name": "series_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "sort_title",
              "items": {
                "enum": [
                  "created_at",
                  "earliest_released_at",
                  "released_at",
                  "released_or_created_at",
                  "sort_title",
                  "title",
                  "updated_at"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Limit the result to episodes released in this year.",
            "in": "query",
            "name": "year",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/Episode"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must be present and have a positive page number and a page size no larger than 100. One initial filter must be provided (`ids`, `series_id`, or `season_id`).\n"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of episodes",
        "tags": [
          "Episode"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/episodes\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"799e1415-2783-4751-b1a7-1b5b98bc2e63\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/episodes?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"d6a2e179-f982-49bc-876a-e417c2e78499\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/episodes');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"9f24a5f4-e0a9-447c-b552-7faa0cba08cf\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/episodes?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"38b3bf39-92e3-440d-9c23-ddb1499f2c25\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/episodes/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the episode resource to load.",
            "example": "00fb9e1b-88b3-43e5-a974-28551e8e4ca8",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Episode"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific episode",
        "tags": [
          "Episode"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/episodes/203ad0de-c391-4f1b-9c03-6705611b1114\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b18e997c-996a-41a6-9129-3bd52fd35af4\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/episodes/203ad0de-c391-4f1b-9c03-6705611b1114', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"6d8b0c23-e0b9-4447-a5d7-77085dd4dfb1\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/203ad0de-c391-4f1b-9c03-6705611b1114');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"fd6d266a-a5b6-4983-9fb9-4842be856ca9\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/episodes/203ad0de-c391-4f1b-9c03-6705611b1114' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"94dccd04-27b3-48b8-8cc7-8f2c60b08072\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/episodes/{id}/next_sibling": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the episode to find the one episode released right after it.",
            "example": "e9ac30cf-db68-4629-ac87-df8ba85d41ad",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "If `true`, get the next released and published episode with an available media file.\n",
            "in": "query",
            "name": "rss",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Episode"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get the episode released right after the specified one",
        "tags": [
          "Episode"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/episodes/33fbf42b-221a-4744-8de5-bb3903c976fb/next_sibling\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b00a5c9b-78f1-4b4b-a121-13b3be05003b\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/episodes/33fbf42b-221a-4744-8de5-bb3903c976fb/next_sibling', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b14df393-573f-4088-abce-6cfadc776cbd\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/33fbf42b-221a-4744-8de5-bb3903c976fb/next_sibling');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"c40de9e8-cc98-45d5-8809-c8a890eee8a9\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/episodes/33fbf42b-221a-4744-8de5-bb3903c976fb/next_sibling' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b6b7c79b-7e3b-495c-a720-cd58f7ec1875\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/episodes/{id}/previous_sibling": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the episode to find the one episode released right before it.",
            "example": "7a8006b1-30d9-4d54-9484-e22532c298f4",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "If `true`, get the previously released and published episode with an available media file.\n",
            "in": "query",
            "name": "rss",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Episode"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get the episode released right before the specified one",
        "tags": [
          "Episode"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/episodes/49c57fbf-b0f3-4a57-ac47-87f7218a9ac7/previous_sibling\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"de6f1a55-35ba-48ba-919a-dbdd6c1d075a\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/episodes/49c57fbf-b0f3-4a57-ac47-87f7218a9ac7/previous_sibling', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"fe973310-932d-4f58-bfe2-9961933feda4\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/episodes/49c57fbf-b0f3-4a57-ac47-87f7218a9ac7/previous_sibling');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"1b5a85bf-ec7d-4b05-983e-06e01d732c60\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/episodes/49c57fbf-b0f3-4a57-ac47-87f7218a9ac7/previous_sibling' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"14f87d2e-6dfc-41e6-934a-86cfd4da7aaf\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/images": {
      "get": {
        "description": "An image represents a piece of artwork attached to some entity like a series, season, or episode,\nand is _owned_ by an entity called the `bucket`.\nAn image is also a container for several `MediaAssets` representing the physical files for various\nstyles used.\n\n## Media Asset Styles for Images\n\nMost media assets use square images. You may upload and use a square image, or upload an image of any\nshape and crop it to a square by specifying the cropping area. This area – identified by a coordinate\n`x, y` and a `width` & `height` – is the portion of the image used for all cover art. If an image has\ncropping defined, the cropped version of the image will be used in any `regular` or `square` style of media\nasset. If the original file is rectangular and does not have cropping, then the system will use a squared\nversion of the original file with the smaller of width or height as the square size.\n\nThe original image as uploaded into the system is always retained unmodified and available through\nthe style `original`. All media asset styles except `stripped-original` consist of the cropped image.\n\nAn image has media assets with the following styles:\n\n- `original`: This is the original file provided. May not be available, depending on permissions\n  and file type.\n- `stripped-original`: The original file with all metadata (EXIF, XMP, PNG metadata, etc.) removed.\n  This should be used for any application needing the original, uncropped, image.\n- `regular`: If the image has cropping defined, this is the cropped image.\n  If not, this is a square version of the original.\n- `thumb`: A square thumbnail of the image with a size of `100x100` pixels.\n- `square-400`: A square version of the image with a size of `400x400` pixels.\n- `square-640`: A square version of the image with a size of `640x640` pixels.\n- `square-888`: A square version of the image with a size of `888x888` pixels.\n- `square-3000`: A square version of the image with a size of `3000x3000` pixels.\n  This variant is only created if the cropped width & height are each at least 3000.\n- `itunes`: A square version of the image with a size of `1400x1400` pixels.\n\n### Preferred image used in feeds\n\nFor the main series image used in feeds, it is ideal to use the `square-3000` version.\nIf that is not available, the `itunes` version should be used instead.\n\n",
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": true,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/components/schemas/Links"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. \n"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of images",
        "tags": [
          "Image"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/images\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"728b506a-a113-4b99-936f-2be4df9d202e\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/images?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b1b7afcf-d66c-4031-8803-c285600a7164\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/images');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"7571026f-ef81-4d34-8bca-1637ee3f4ffc\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/images?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"fc984163-d766-416a-b24b-bc9ae295cf41\"' \\\n  --compressed\n"
          }
        ]
      }
    },
    "/images/{id}": {
      "get": {
        "description": "An image represents a piece of artwork attached to some entity like a series, season, or episode,\nand is _owned_ by an entity called the `bucket`.\nAn image is also a container for several `MediaAssets` representing the physical files for various\nstyles used.\n\n## Media Asset Styles for Images\n\nMost media assets use square images. You may upload and use a square image, or upload an image of any\nshape and crop it to a square by specifying the cropping area. This area – identified by a coordinate\n`x, y` and a `width` & `height` – is the portion of the image used for all cover art. If an image has\ncropping defined, the cropped version of the image will be used in any `regular` or `square` style of media\nasset. If the original file is rectangular and does not have cropping, then the system will use a squared\nversion of the original file with the smaller of width or height as the square size.\n\nThe original image as uploaded into the system is always retained unmodified and available through\nthe style `original`. All media asset styles except `stripped-original` consist of the cropped image.\n\nAn image has media assets with the following styles:\n\n- `original`: This is the original file provided. May not be available, depending on permissions\n  and file type.\n- `stripped-original`: The original file with all metadata (EXIF, XMP, PNG metadata, etc.) removed.\n  This should be used for any application needing the original, uncropped, image.\n- `regular`: If the image has cropping defined, this is the cropped image.\n  If not, this is a square version of the original.\n- `thumb`: A square thumbnail of the image with a size of `100x100` pixels.\n- `square-400`: A square version of the image with a size of `400x400` pixels.\n- `square-640`: A square version of the image with a size of `640x640` pixels.\n- `square-888`: A square version of the image with a size of `888x888` pixels.\n- `square-3000`: A square version of the image with a size of `3000x3000` pixels.\n  This variant is only created if the cropped width & height are each at least 3000.\n- `itunes`: A square version of the image with a size of `1400x1400` pixels.\n\n### Preferred image used in feeds\n\nFor the main series image used in feeds, it is ideal to use the `square-3000` version.\nIf that is not available, the `itunes` version should be used instead.\n\n",
        "parameters": [
          {
            "description": "The ID of the image resource to load.",
            "example": "e63cb0b7-2a08-4cd9-bee7-cf34f54c1ce2",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLink"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "406": {
            "$ref": "#/components/responses/not_acceptable"
          },
          "429": {
            "$ref": "#/components/responses/rate_limit_exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific image",
        "tags": [
          "Image"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/images/9df97f05-4506-49ef-943f-5864d085da8b\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"59382995-3c58-4f28-a52e-dab3da78dcae\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/images/9df97f05-4506-49ef-943f-5864d085da8b', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"ca57d0b7-0793-4b54-9df6-5100c2f985d1\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
[...]
