openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/9'
info:
  description: 'Return synonymous words. (equal to "word2vec distance")<BR />[Endpoint] https://api.apitore.com/api/9'
  title: Synonym APIs
  version: 1.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/9.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/9'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: synonymApis
tags:
  - description: Word 2 Vec Controller
    name: word-2-vec-controller
paths:
  /word2vec-neologd-jawiki/distance:
    get:
      description: 'Word2Vec JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.word2vec.DistanceResponseEntity<BR />'
      operationId: distanceUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: word
          in: query
          name: word
          required: true
          schema:
            type: string
        - description: 'num [max 10, default 1]'
          in: query
          name: num
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Word2Vec distance
      tags:
        - word-2-vec-controller
components:
  schemas:
    DistanceEntity:
      properties:
        distance:
          description: cosine distance
          format: double
          type: number
        word:
          description: word
          type: string
      required:
        - distance
        - word
      type: object
    DistanceResponseEntity:
      properties:
        distances:
          description: Distances
          items:
            $ref: '#/components/schemas/DistanceEntity'
          type: array
        endTime:
          description: End date
          type: string
        input:
          description: Input word
          type: string
        log:
          description: Log message
          type: string
        num:
          description: Input num
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
      required:
        - endTime
        - input
        - log
        - num
        - processTime
        - startTime
      type: object
