openapi: 3.0.0
servers:
  - url: https://run.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Run Admin API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://run.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: run
externalDocs:
  url: https://cloud.google.com/run/
tags:
  - name: namespaces
  - name: projects
paths:
  "/apis/domains.cloudrun.com/v1/{name}":
    delete:
      description: Delete a domain mapping.
      operationId: run.namespaces.domainmappings.delete
      parameters:
        - description: "Required. The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Cloud Run currently ignores this parameter.
          in: query
          name: apiVersion
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
        - description: Cloud Run currently ignores this parameter.
          in: query
          name: kind
          schema:
            type: string
        - description: Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/architecture/garbage-collection/ for more information.
          in: query
          name: propagationPolicy
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    get:
      description: Get information about a domain mapping.
      operationId: run.namespaces.domainmappings.get
      parameters:
        - description: "Required. The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainMapping"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/domains.cloudrun.com/v1/{parent}/authorizeddomains":
    get:
      description: List authorized domains.
      operationId: run.namespaces.authorizeddomains.list
      parameters:
        - description: "Name of the parent Project resource. Example: `projects/myproject`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum results to return per page.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAuthorizedDomainsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/domains.cloudrun.com/v1/{parent}/domainmappings":
    get:
      description: List all domain mappings.
      operationId: run.namespaces.domainmappings.list
      parameters:
        - description: "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not currently used by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDomainMappingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new domain mapping.
      operationId: run.namespaces.domainmappings.create
      parameters:
        - description: "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainMapping"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainMapping"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/apis/run.googleapis.com/v1/{name}":
    delete:
      description: Delete a job.
      operationId: run.namespaces.jobs.delete
      parameters:
        - description: "Required. The name of the job to delete. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. Cloud Run currently ignores this parameter.
          in: query
          name: apiVersion
          schema:
            type: string
        - description: Optional. Cloud Run currently ignores this parameter.
          in: query
          name: kind
          schema:
            type: string
        - description: Optional. Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.
          in: query
          name: propagationPolicy
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    get:
      description: Get information about a task.
      operationId: run.namespaces.tasks.get
      parameters:
        - description: "Required. The name of the task to retrieve. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Replace a job. Only the spec and metadata labels and annotations are modifiable. After the Replace request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.
      operationId: run.namespaces.jobs.replaceJob
      parameters:
        - description: "Required. The name of the job being replaced. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Job"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/apis/run.googleapis.com/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Cancel an execution.
      operationId: run.namespaces.executions.cancel
      parameters:
        - description: "Required. The name of the execution to cancel. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelExecutionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/apis/run.googleapis.com/v1/{name}:run":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Trigger creation of a new execution of this job.
      operationId: run.namespaces.jobs.run
      parameters:
        - description: "Required. The name of the job to run. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/apis/run.googleapis.com/v1/{parent}/executions":
    get:
      description: List executions.
      operationId: run.namespaces.executions.list
      parameters:
        - description: "Required. The namespace from which the executions should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Optional encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of the records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListExecutionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/run.googleapis.com/v1/{parent}/jobs":
    get:
      description: List jobs.
      operationId: run.namespaces.jobs.list
      parameters:
        - description: "Required. The namespace from which the jobs should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Optional encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a job.
      operationId: run.namespaces.jobs.create
      parameters:
        - description: "Required. The namespace in which the job should be created. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Job"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/apis/run.googleapis.com/v1/{parent}/tasks":
    get:
      description: List tasks.
      operationId: run.namespaces.tasks.list
      parameters:
        - description: "Required. The namespace from which the tasks should be listed. Replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Optional encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: 'Optional. Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn. For example, to list all tasks of execution "foo" in succeeded state: `run.googleapis.com/execution=foo,run.googleapis.com/runningState=Succeeded`. Supported states are: * `Pending`: Initial state of all tasks. The task has not yet started but eventually will. * `Running`: Container instances for this task are running or will be running shortly. * `Succeeded`: No more container instances to run for the task, and the last attempt succeeded. * `Failed`: No more container instances to run for the task, and the last attempt failed. This task has run out of retry attempts. * `Cancelled`: Task was running but got stopped because its parent execution has been aborted. * `Abandoned`: The task has not yet started and never will because its parent execution has been aborted.'
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Optional. Not supported by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTasksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/serving.knative.dev/v1/{name}":
    delete:
      description: Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.
      operationId: run.namespaces.services.delete
      parameters:
        - description: "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: apiVersion
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: kind
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: propagationPolicy
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    get:
      description: Gets information about a service.
      operationId: run.namespaces.services.get
      parameters:
        - description: "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.
      operationId: run.namespaces.services.replaceService
      parameters:
        - description: "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Service"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/apis/serving.knative.dev/v1/{parent}/configurations":
    get:
      description: List configurations.
      operationId: run.namespaces.configurations.list
      parameters:
        - description: The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Not supported by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not supported by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of the records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Not supported by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Not supported by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConfigurationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/serving.knative.dev/v1/{parent}/revisions":
    get:
      description: List revisions.
      operationId: run.namespaces.revisions.list
      parameters:
        - description: "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not currently used by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRevisionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/serving.knative.dev/v1/{parent}/routes":
    get:
      description: List routes.
      operationId: run.namespaces.routes.list
      parameters:
        - description: "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not currently used by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRoutesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/apis/serving.knative.dev/v1/{parent}/services":
    get:
      description: Lists services for the given project and region.
      operationId: run.namespaces.services.list
      parameters:
        - description: "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListServicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.
      operationId: run.namespaces.services.create
      parameters:
        - description: "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Service"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - namespaces
  "/v1/{name}":
    delete:
      description: Deletes the provided service. This will cause the Service to stop serving traffic and will delete all associated Revisions.
      operationId: run.projects.locations.services.delete
      parameters:
        - description: "Required. The fully qualified name of the service to delete. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: apiVersion
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: kind
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: propagationPolicy
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets information about a service.
      operationId: run.projects.locations.services.get
      parameters:
        - description: "Required. The fully qualified name of the service to retrieve. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Replaces a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.
      operationId: run.projects.locations.services.replaceService
      parameters:
        - description: "Required. The fully qualified name of the service to replace. It can be any of the following forms: * `namespaces/{project_id_or_number}/services/{service_name}` (only when the `endpoint` is regional) * `projects/{project_id_or_number}/locations/{region}/services/{service_name}` * `projects/{project_id_or_number}/regions/{region}/services/{service_name}`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Service"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: run.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/authorizeddomains":
    get:
      description: List authorized domains.
      operationId: run.projects.locations.authorizeddomains.list
      parameters:
        - description: "Name of the parent Project resource. Example: `projects/myproject`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum results to return per page.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAuthorizedDomainsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/configurations":
    get:
      description: List configurations.
      operationId: run.projects.locations.configurations.list
      parameters:
        - description: The namespace from which the configurations should be listed. For Cloud Run, replace {namespace_id} with the project ID or number.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Not supported by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not supported by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of the records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Not supported by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Not supported by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConfigurationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/domainmappings":
    get:
      description: List all domain mappings.
      operationId: run.projects.locations.domainmappings.list
      parameters:
        - description: "Required. The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not currently used by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDomainMappingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new domain mapping.
      operationId: run.projects.locations.domainmappings.create
      parameters:
        - description: "Required. The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainMapping"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainMapping"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/revisions":
    get:
      description: List revisions.
      operationId: run.projects.locations.revisions.list
      parameters:
        - description: "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not currently used by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRevisionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/routes":
    get:
      description: List routes.
      operationId: run.projects.locations.routes.list
      parameters:
        - description: "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace} with the project ID or number. It takes the form namespaces/{namespace}. For example: namespaces/PROJECT_ID"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not currently used by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: Optional. The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRoutesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/services":
    get:
      description: Lists services for the given project and region.
      operationId: run.projects.locations.services.list
      parameters:
        - description: "Required. The parent from where the resources should be listed. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Encoded string to continue paging.
          in: query
          name: continue
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: fieldSelector
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: includeUninitialized
          schema:
            type: boolean
        - description: Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.
          in: query
          name: labelSelector
          schema:
            type: string
        - description: The maximum number of records that should be returned.
          in: query
          name: limit
          schema:
            type: integer
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: resourceVersion
          schema:
            type: string
        - description: Not supported, and ignored by Cloud Run.
          in: query
          name: watch
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListServicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Service. Service creation will trigger a new deployment. Use GetService, and check service.status to determine if the Service is ready.
      operationId: run.projects.locations.services.create
      parameters:
        - description: "Required. The resource's parent. In Cloud Run, it may be one of the following: * `{project_id_or_number}` * `namespaces/{project_id_or_number}` * `namespaces/{project_id_or_number}/services` * `projects/{project_id_or_number}/locations/{region}` * `projects/{project_id_or_number}/regions/{region}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Indicates that the server should validate the request and populate default values without persisting the request. Supported values: `all`"
          in: query
          name: dryRun
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Service"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:getIamPolicy":
    get:
      description: Gets the IAM Access Control policy currently in effect for the given Cloud Run service. This result does not include any inherited policies.
      operationId: run.projects.locations.services.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.
      operationId: run.projects.locations.services.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.
      operationId: run.projects.locations.services.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Addressable:
      description: Information for connecting over HTTP(s).
      properties:
        url:
          type: string
      type: object
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    AuthorizedDomain:
      description: A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via [Webmaster Central](https://www.google.com/webmasters/verification/home).
      properties:
        id:
          description: "Relative name of the domain authorized for use. Example: `example.com`."
          type: string
        name:
          description: "Deprecated Read only. Full path to the `AuthorizedDomain` resource in the API. Example: `projects/myproject/authorizedDomains/example.com`."
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CancelExecutionRequest:
      description: Request message for cancelling an execution.
      properties: {}
      type: object
    ConfigMapEnvSource:
      description: Not supported by Cloud Run. ConfigMapEnvSource selects a ConfigMap to populate the environment variables with. The contents of the target ConfigMap's Data field will represent the key-value pairs as environment variables.
      properties:
        localObjectReference:
          $ref: "#/components/schemas/LocalObjectReference"
          description: This field should not be used directly as it is meant to be inlined directly into the message. Use the "name" field instead.
        name:
          description: The ConfigMap to select from.
          type: string
        optional:
          description: Specify whether the ConfigMap must be defined.
          type: boolean
      type: object
    ConfigMapKeySelector:
      description: Not supported by Cloud Run.
      properties:
        key:
          description: Required. Not supported by Cloud Run.
          type: string
        localObjectReference:
          $ref: "#/components/schemas/LocalObjectReference"
          description: Not supported by Cloud Run.
        name:
          description: Required. Not supported by Cloud Run.
          type: string
        optional:
          description: Not supported by Cloud Run.
          type: boolean
      type: object
    ConfigMapVolumeSource:
      description: Not supported by Cloud Run. Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.
      properties:
        defaultMode:
          description: "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
          format: int32
          type: integer
        items:
          description: (Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional.
          items:
            $ref: "#/components/schemas/KeyToPath"
          type: array
        name:
          description: Name of the config.
          type: string
        optional:
          description: (Optional) Specify whether the Secret or its keys must be defined.
          type: boolean
      type: object
    Configuration:
      description: Configuration represents the "floating HEAD" of a linear history of Revisions, and optionally how the containers those revisions reference are built. Users create new Revisions by updating the Configuration's spec. The "latest created" revision's name is available under status, as is the "latest ready" revision's name.
      properties:
        apiVersion:
          description: The API version for this call such as "serving.knative.dev/v1".
          type: string
        kind:
          description: The kind of resource, in this case always "Configuration".
          type: string
        metadata:
          $ref: "#/components/schemas/ObjectMeta"
          description: Metadata associated with this Configuration, including name, namespace, labels, and annotations.
        spec:
          $ref: "#/components/schemas/ConfigurationSpec"
          description: Spec holds the desired state of the Configuration (from the client).
        status:
          $ref: "#/components/schemas/ConfigurationStatus"
          description: Status communicates the observed state of the Configuration (from the controller).
      type: object
    ConfigurationSpec:
      description: ConfigurationSpec holds the desired state of the Configuration (from the client).
      properties:
        template:
          $ref: "#/components/schemas/RevisionTemplate"
          description: Template holds the latest specification for the Revision to be stamped out.
      type: object
    ConfigurationStatus:
      description: ConfigurationStatus communicates the observed state of the Configuration (from the controller).
      properties:
        conditions:
          description: Conditions communicate information about ongoing/complete reconciliation processes that bring the "spec" inline with the observed state of the world.
          items:
            $ref: "#/components/schemas/GoogleCloudRunV1Condition"
          type: array
        latestCreatedRevisionName:
          description: LatestCreatedRevisionName is the last revision that was created from this Configuration. It might not be ready yet, so for the latest ready revision, use LatestReadyRevisionName.
          type: string
        latestReadyRevisionName:
          description: LatestReadyRevisionName holds the name of the latest Revision stamped out from this Configuration that has had its "Ready" condition become "True".
          type: string
        observedGeneration:
          description: ObservedGeneration is the 'Generation' of the Configuration that was last processed by the controller. The observed generation is updated even if the controller failed to process the spec and create the Revision. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.
          format: int32
          type: integer
      type: object
    Container:
      description: A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.
      properties:
        args:
          description: Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references are not supported in Cloud Run.
          items:
            type: string
          type: array
        command:
          description: Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references are not supported in Cloud Run.
          items:
            type: string
          type: array
        env:
          description: List of environment variables to set in the container. EnvVar with duplicate names are generally allowed; if referencing a secret, the name must be unique for the container. For non-secret EnvVar names, the Container will only get the last-declared one.
          items:
            $ref: "#/components/schemas/EnvVar"
          type: array
        envFrom:
          description: Not supported by Cloud Run.
          items:
            $ref: "#/components/schemas/EnvFromSource"
          type: array
        image:
          description: Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed.
          type: string
        imagePullPolicy:
          description: Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise.
          type: string
        livenessProbe:
          $ref: "#/components/schemas/Probe"
          description: Periodic probe of container liveness. Container will be restarted if the probe fails.
        name:
          description: Name of the container specified as a DNS_LABEL (RFC 1123).
          type: string
        ports:
          description: List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.
          items:
            $ref: "#/components/schemas/ContainerPort"
          type: array
        readinessProbe:
          $ref: "#/components/schemas/Probe"
          description: Not supported by Cloud Run.
        resources:
          $ref: "#/components/schemas/ResourceRequirements"
          description: Compute Resources required by this container.
        securityContext:
          $ref: "#/components/schemas/SecurityContext"
          description: Not supported by Cloud Run.
        startupProbe:
          $ref: "#/components/schemas/Probe"
          description: Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not receive traffic if the probe fails. If not provided, a default startup probe with TCP socket action is used.
        terminationMessagePath:
          description: Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log.
          type: string
        terminationMessagePolicy:
          description: Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated.
          type: string
        volumeMounts:
          description: Volume to mount into the container's filesystem. Only supports SecretVolumeSources. Pod volumes to mount into the container's filesystem.
          items:
            $ref: "#/components/schemas/VolumeMount"
          type: array
        workingDir:
          description: Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image.
          type: string
      type: object
    ContainerOverride:
      description: Per container override specification.
      properties:
        args:
          description: Arguments to the entrypoint. Will replace existing args for override.
          items:
            type: string
          type: array
        env:
          description: List of environment variables to set in the container. Will be merged with existing env for override.
          items:
            $ref: "#/components/schemas/EnvVar"
          type: array
        name:
          description: The name of the container specified as a DNS_LABEL.
          type: string
      type: object
    ContainerPort:
      description: ContainerPort represents a network port in a single container.
      properties:
        containerPort:
          description: Port number the container listens on. If present, this must be a valid port number, 0 < x < 65536. If not present, it will default to port 8080. For more information, see https://cloud.google.com/run/docs/container-contract#port
          format: int32
          type: integer
        name:
          description: If specified, used to specify which protocol to use. Allowed values are "http1" and "h2c".
          type: string
        protocol:
          description: Protocol for port. Must be "TCP". Defaults to "TCP".
          type: string
      type: object
    DomainMapping:
      description: "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta."
      properties:
        apiVersion:
          description: The API version for this call such as "domains.cloudrun.com/v1".
          type: string
        kind:
          description: The kind of resource, in this case "DomainMapping".
          type: string
        metadata:
          $ref: "#/components/schemas/ObjectMeta"
          description: Metadata associated with this BuildTemplate.
        spec:
          $ref: "#/components/schemas/DomainMappingSpec"
          description: The spec for this DomainMapping.
        status:
          $ref: "#/components/schemas/DomainMappingStatus"
          description: The current status of the DomainMapping.
      type: object
    DomainMappingSpec:
      description: The desired state of the Domain Mapping.
      properties:
        certificateMode:
          description: The mode of the certificate.
          enum:
            - CERTIFICATE_MODE_UNSPECIFIED
            - NONE
            - AUTOMATIC
          type: string
        forceOverride:
          description: If set, the mapping will override any mapping set before this spec was set. It is recommended that the user leaves this empty to receive an error warning about a potential conflict and only set it once the respective UI has given such a warning.
          type: boolean
        routeName:
          description: The name of the Knative Route that this DomainMapping applies to. The route must exist.
          type: string
      type: object
    DomainMappingStatus:
      description: The current state of the Domain Mapping.
      properties:
        conditions:
          description: Array of observed DomainMappingConditions, indicating the current state of the DomainMapping.
          items:
            $ref: "#/components/schemas/GoogleCloudRunV1Condition"
          type: array
        mappedRouteName:
          description: The name of the route that the mapping currently points to.
[...]
