swagger: '2.0'
schemes:
  - https
host: news.api.gov.bc.ca
basePath: /
info:
  description: News API
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  title: BC Gov News API Service 1.0
  version: '1.0'
  x-apisguru-categories:
    - open_data
  x-logo:
    url: 'https://avatars1.githubusercontent.com/u/916280?v=3&s=200'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/bcgov/api-specs/master/news/news-oas2.json'
      version: '2.0'
  x-providerName: gov.bc.ca
  x-serviceName: news
consumes: []
produces:
  - text/plain
  - application/json
  - text/json
securityDefinitions: {}
paths:
  /api/FacebookPosts/ByUri:
    get:
      operationId: FacebookPosts_GetByUri
      parameters:
        - default: ''
          description: ''
          in: query
          name: uri
          required: false
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FacebookPost'
      summary: Get a Facebook post based on a Uri
      tags:
        - FacebookPosts
  /api/Home:
    get:
      operationId: Home_Get
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Home'
      summary: Returns the top level content for the home page
      tags:
        - Home
  /api/Ministries:
    get:
      operationId: Ministries_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Ministry'
            type: array
      summary: Get all ministries
      tags:
        - Ministries
  '/api/Ministries/{key}':
    get:
      operationId: Ministries_GetOne
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Ministry'
      summary: Get the Ministry associated with the ministry key
      tags:
        - Ministries
  '/api/Ministries/{key}/Minister':
    get:
      operationId: Ministries_GetMinister
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Minister'
      summary: Get the Minister associated with the ministry key
      tags:
        - Ministries
  /api/Newsletters:
    get:
      operationId: Newsletters_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Newsletter'
            type: array
      summary: Get all newsletters
      tags:
        - Newsletters
  '/api/Newsletters/Images/{guid}':
    get:
      operationId: Newsletters_GetImage
      parameters:
        - description: ''
          in: path
          name: guid
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EditionImage'
      summary: Get the image object reference by of a Newsletter Edition associated with the image guid
      tags:
        - Newsletters
  '/api/Newsletters/{newsletterKey}':
    get:
      operationId: Newsletters_GetOne
      parameters:
        - in: path
          name: newsletterKey
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Newsletter'
      summary: Get a specific newsletter
      tags:
        - Newsletters
  '/api/Newsletters/{newsletterKey}/Editions/{editionKey}':
    get:
      operationId: Newsletters_GetEdition
      parameters:
        - description: ''
          in: path
          name: newsletterKey
          required: true
          type: string
        - description: ''
          in: path
          name: editionKey
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Edition'
      summary: Returns a specific edition of a newsletter
      tags:
        - Newsletters
  '/api/Newsletters/{newsletterKey}/Editions/{editionKey}/Articles/{articleKey}':
    get:
      operationId: Newsletters_GetArticle
      parameters:
        - description: ''
          in: path
          name: newsletterKey
          required: true
          type: string
        - description: ''
          in: path
          name: editionKey
          required: true
          type: string
        - description: ''
          in: path
          name: articleKey
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Article'
      summary: Get an article belonging to a Newsletter edition
      tags:
        - Newsletters
  /api/Posts:
    get:
      operationId: Posts_Get
      parameters:
        - collectionFormat: multi
          description: ''
          in: query
          items:
            type: string
          name: postKeys
          required: false
          type: array
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Post'
            type: array
      summary: Get the posts associated with the keys in the list passed in.
      tags:
        - Posts
  '/api/Posts/Keys/{indexKind}/{indexKey}':
    get:
      operationId: Posts_GetAllKeys
      parameters:
        - description: home or one of categories
          in: path
          name: indexKind
          required: true
          type: string
        - description: 'default or one key of the categories (ministries, sectors, services, tags, themes)'
          in: path
          name: indexKey
          required: true
          type: string
        - default: ''
          description: 'One of: releases, stories, factsheets, updates or default (releases+stories+factsheets)'
          in: query
          name: postKind
          required: false
          type: string
        - description: number of posts to return
          format: int32
          in: query
          name: count
          required: false
          type: integer
        - description: number of posts to skip
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/KeyValuePair`2'
            type: array
      summary: Get all keys for the specified index (newsroom or category)
      tags:
        - Posts
  '/api/Posts/Keys/{reference}':
    get:
      operationId: Posts_GetKeyFromReference
      parameters:
        - description: ''
          in: path
          name: reference
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KeyValuePair`2'
      summary: Get the post key associated with the reference.
      tags:
        - Posts
  '/api/Posts/Latest/{indexKind}/{indexKey}':
    get:
      operationId: Posts_GetLatest
      parameters:
        - description: home or one of categories
          in: path
          name: indexKind
          required: true
          type: string
        - description: 'default or one key of the categories (ministries, sectors, services, tags, themes)'
          in: path
          name: indexKey
          required: true
          type: string
        - default: ''
          description: 'One of: releases, stories, factsheets, updates or default (releases+stories except top/feature)'
          in: query
          name: postKind
          required: false
          type: string
        - description: number of posts to return
          format: int32
          in: query
          name: count
          required: false
          type: integer
        - description: number of posts to skip
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Post'
            type: array
      summary: Get the latest posts of postKind for the specified index (default or category)
      tags:
        - Posts
  '/api/Posts/LatestMediaUri/{mediaType}':
    get:
      operationId: Posts_GetLatestMediaUri
      parameters:
        - description: ''
          in: path
          name: mediaType
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
      summary: Gets the latest Social Media post for the social media type passed in.
      tags:
        - Posts
  '/api/Posts/{key}':
    get:
      operationId: Posts_GetOne
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Post'
      summary: Get the post associated with the key
      tags:
        - Posts
  /api/ResourceLinks:
    get:
      operationId: ResourceLinks_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/ResourceLink'
            type: array
      summary: Get all resource links
      tags:
        - ResourceLinks
  /api/Sectors:
    get:
      operationId: Sectors_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Sector'
            type: array
      summary: Get all Sectors
      tags:
        - Sectors
  '/api/Sectors/{key}':
    get:
      operationId: Sectors_GetOne
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Sector'
      summary: Get the sector associated with the key
      tags:
        - Sectors
  /api/Services:
    get:
      operationId: Services_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Service'
            type: array
      summary: Get all Services
      tags:
        - Services
  '/api/Services/{key}':
    get:
      operationId: Services_GetOne
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Service'
      summary: Get the service associated with the passed key
      tags:
        - Services
  /api/Slides:
    get:
      operationId: Slides_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Slide'
            type: array
      summary: Get all Slides
      tags:
        - Slides
  '/api/Slides/{id}':
    get:
      operationId: Slides_GetOne
      parameters:
        - description: ''
          in: path
          name: id
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Slide'
      summary: Get the slide associated to the id
      tags:
        - Slides
  /api/Tags:
    get:
      operationId: Tags_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Tag'
            type: array
      summary: Get all Tags
      tags:
        - Tags
  '/api/Tags/{key}':
    get:
      operationId: Tags_GetOne
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Tag'
      summary: Get the Tag associated with the key
      tags:
        - Tags
  /api/Themes:
    get:
      operationId: Themes_GetAll
      parameters:
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Theme'
            type: array
      summary: Get all Themes
      tags:
        - Themes
  '/api/Themes/{key}':
    get:
      operationId: Themes_GetOne
      parameters:
        - description: ''
          in: path
          name: key
          required: true
          type: string
        - default: '1.0'
          description: The requested API version
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Theme'
      summary: Get the Theme associated with the key
      tags:
        - Themes
definitions:
  Article:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      editionName:
        type: string
      htmlBody:
        type: string
    type: object
  Asset:
    properties:
      key:
        type: string
      label:
        type: string
      length:
        format: int64
        type: integer
    type: object
  Category:
    allOf:
      - $ref: '#/definitions/DataIndex'
    properties:
      audioUri:
        type: string
      featurePostKey:
        type: string
      flickrUri:
        type: string
      isActive:
        type: boolean
      name:
        type: string
      topPostKey:
        type: string
      twitterFeedUsername:
        type: string
      youtubeUri:
        type: string
    type: object
  Contact:
    properties:
      emailAddress:
        type: string
      fullName:
        type: string
      mobileNumber:
        type: string
      phoneNumber:
        type: string
    type: object
  DataIndex:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      featurePostKey:
        type: string
      kind:
        type: string
      name:
        type: string
      topPostKey:
        type: string
    type: object
  DataModel:
    properties:
      key:
        type: string
      timestamp:
        format: date-time
        type: string
    type: object
  Document:
    properties:
      byline:
        type: string
      contacts:
        items:
          $ref: '#/definitions/DocumentContact'
        type: array
      detailsHtml:
        type: string
      headline:
        type: string
      languageId:
        format: int32
        type: integer
      pageTitle:
        type: string
      subheadline:
        type: string
    type: object
  DocumentContact:
    properties:
      details:
        type: string
      title:
        type: string
    type: object
  Edition:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      htmlBody:
        type: string
      name:
        type: string
    type: object
  EditionImage:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      fileName:
        type: string
      imageBytes:
        format: byte
        type: string
      imageType:
        type: string
    type: object
  FacebookPost:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      content:
        type: string
      facebookObjectId:
        format: int32
        type: integer
      pictureUri:
        type: string
      postComments:
        format: int32
        type: integer
      postLikes:
        format: int32
        type: integer
      postShares:
        format: int32
        type: integer
      poster:
        type: string
      posterLikes:
        format: int32
        type: integer
      posterLogo:
        type: string
      posterSubtitle:
        type: string
      type:
        type: string
    type: object
  Home:
    allOf:
      - $ref: '#/definitions/DataIndex'
    properties:
      featurePostKey:
        type: string
      liveWebcastFlashMediaManifestUrl:
        type: string
      liveWebcastM3uPlaylist:
        type: string
      name:
        type: string
      topPostKey:
        type: string
    type: object
  KeyValuePair`2:
    properties:
      key:
        readOnly: true
        type: string
      value:
        readOnly: true
        type: string
    type: object
  Minister:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      details:
        type: string
      emailHtml:
        type: string
      headline:
        type: string
      photo:
        type: string
      post:
        type: string
      summary:
        type: string
    type: object
  Ministry:
    allOf:
      - $ref: '#/definitions/Category'
    properties:
      audioUri:
        type: string
      childMinistryKey:
        type: string
      contactUser:
        $ref: '#/definitions/Contact'
      displayAdditionalName:
        type: string
      featurePostKey:
        type: string
      flickrUri:
        type: string
      isActive:
        type: boolean
      ministerName:
        type: string
      ministryUrl:
        type: string
      name:
        type: string
      newsletterLinks:
        items:
          $ref: '#/definitions/ResourceLink'
        type: array
      parentMinistryKey:
        type: string
      secondContactUser:
        $ref: '#/definitions/Contact'
      serviceLinks:
        items:
          $ref: '#/definitions/ResourceLink'
        type: array
      topPostKey:
        type: string
      topicLinks:
        items:
          $ref: '#/definitions/ResourceLink'
        type: array
      twitterFeedUsername:
        type: string
      weekendContactNumber:
        type: string
      youtubeUri:
        type: string
    type: object
  Newsletter:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      description:
        type: string
      editions:
        items:
          $ref: '#/definitions/KeyValuePair`2'
        type: array
      ministryName:
        type: string
      name:
        type: string
    type: object
  Post:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      assetUrl:
        type: string
      atomId:
        type: string
      azureAssets:
        items:
          $ref: '#/definitions/Asset'
        type: array
      documents:
        items:
          $ref: '#/definitions/Document'
        type: array
      facebookPictureUri:
        type: string
      hasMediaAssets:
        type: boolean
      isNewsOnDemand:
        type: boolean
      keywords:
        type: string
      kind:
        type: string
      leadMinistryKey:
        type: string
      location:
        type: string
      ministryKeys:
        items:
          type: string
        type: array
      publishDate:
        format: date-time
        type: string
      redirectUri:
        type: string
      reference:
        type: string
      sectorKeys:
        items:
          type: string
        type: array
      serviceKeys:
        items:
          type: string
        type: array
      socialMediaHeadline:
        type: string
      socialMediaSummary:
        type: string
      summary:
        type: string
    type: object
  ResourceLink:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      uri:
        type: string
    type: object
  Sector:
    allOf:
      - $ref: '#/definitions/Category'
    properties:
      audioUri:
        type: string
      featurePostKey:
        type: string
      flickrUri:
        type: string
      isActive:
        type: boolean
      name:
        type: string
      topPostKey:
        type: string
      twitterFeedUsername:
        type: string
      youtubeUri:
        type: string
    type: object
  Service:
    allOf:
      - $ref: '#/definitions/Category'
    properties:
      audioUri:
        type: string
      featurePostKey:
        type: string
      flickrUri:
        type: string
      isActive:
        type: boolean
      name:
        type: string
      topPostKey:
        type: string
      twitterFeedUsername:
        type: string
      youtubeUri:
        type: string
    type: object
  Slide:
    allOf:
      - $ref: '#/definitions/DataModel'
    properties:
      actionLabel:
        type: string
      actionUri:
        type: string
      facebookPostUri:
        type: string
      headline:
        type: string
      image:
        format: byte
        type: string
      imageType:
        readOnly: true
        type: string
      justify:
        type: string
      slideId:
        format: uuid
        type: string
      summary:
        type: string
    type: object
  Tag:
    allOf:
      - $ref: '#/definitions/Category'
    properties:
      audioUri:
        type: string
      featurePostKey:
        type: string
      flickrUri:
        type: string
      isActive:
        type: boolean
      name:
        type: string
      topPostKey:
        type: string
      twitterFeedUsername:
        type: string
      youtubeUri:
        type: string
    type: object
  Theme:
    allOf:
      - $ref: '#/definitions/Category'
    properties:
      audioUri:
        type: string
      featurePostKey:
        type: string
      flickrUri:
        type: string
      isActive:
        type: boolean
      name:
        type: string
      topPostKey:
        type: string
      twitterFeedUsername:
        type: string
      youtubeUri:
        type: string
    type: object
