swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /mirror/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Interacts with Glass users via the timeline.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Mirror
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/mirror/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: mirror
externalDocs:
  url: 'https://developers.google.com/glass'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/glass.location': View your location
      'https://www.googleapis.com/auth/glass.timeline': View and manage your Glass timeline
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/glass.location': View your location
      'https://www.googleapis.com/auth/glass.timeline': View and manage your Glass timeline
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: accounts
  - name: contacts
  - name: locations
  - name: settings
  - name: subscriptions
  - name: timeline
paths:
  '/accounts/{userToken}/{accountType}/{accountName}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new account for a user
      operationId: mirror.accounts.insert
      parameters:
        - description: The ID for the user.
          in: path
          name: userToken
          required: true
          type: string
        - description: Account type to be passed to Android Account Manager.
          in: path
          name: accountType
          required: true
          type: string
        - description: The name of the account to be passed to the Android Account Manager.
          in: path
          name: accountName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      tags:
        - accounts
  /contacts:
    get:
      description: Retrieves a list of contacts for the authenticated user.
      operationId: mirror.contacts.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ContactsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - contacts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new contact.
      operationId: mirror.contacts.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - contacts
  '/contacts/{id}':
    delete:
      description: Deletes a contact.
      operationId: mirror.contacts.delete
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - contacts
    get:
      description: Gets a single contact by ID.
      operationId: mirror.contacts.get
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - contacts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a contact in place. This method supports patch semantics.
      operationId: mirror.contacts.patch
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - contacts
    put:
      description: Updates a contact in place.
      operationId: mirror.contacts.update
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Contact'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - contacts
  /locations:
    get:
      description: Retrieves a list of locations for the user.
      operationId: mirror.locations.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LocationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - locations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/locations/{id}':
    get:
      description: Gets a single location by ID.
      operationId: mirror.locations.get
      parameters:
        - description: The ID of the location or latest for the last known location.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Location'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - locations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/settings/{id}':
    get:
      description: Gets a single setting by ID.
      operationId: mirror.settings.get
      parameters:
        - description: |-
            The ID of the setting. The following IDs are valid: 
            - locale - The key to the user’s language/locale (BCP 47 identifier) that Glassware should use to render localized content. 
            - timezone - The key to the user’s current time zone region as defined in the tz database. Example: America/Los_Angeles.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Setting'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - settings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /subscriptions:
    get:
      description: Retrieves a list of subscriptions for the authenticated user and service.
      operationId: mirror.subscriptions.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SubscriptionsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - subscriptions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new subscription.
      operationId: mirror.subscriptions.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Subscription'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - subscriptions
  '/subscriptions/{id}':
    delete:
      description: Deletes a subscription.
      operationId: mirror.subscriptions.delete
      parameters:
        - description: The ID of the subscription.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - subscriptions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates an existing subscription in place.
      operationId: mirror.subscriptions.update
      parameters:
        - description: The ID of the subscription.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Subscription'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - subscriptions
  /timeline:
    get:
      description: Retrieves a list of timeline items for the authenticated user.
      operationId: mirror.timeline.list
      parameters:
        - description: 'If provided, only items with the given bundleId will be returned.'
          in: query
          name: bundleId
          type: string
        - description: 'If true, tombstone records for deleted items will be returned.'
          in: query
          name: includeDeleted
          type: boolean
        - description: 'The maximum number of items to include in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: Controls the order in which timeline items are returned.
          enum:
            - displayTime
            - writeTime
          in: query
          name: orderBy
          type: string
        - description: Token for the page of results to return.
          in: query
          name: pageToken
          type: string
        - description: 'If true, only pinned items will be returned.'
          in: query
          name: pinnedOnly
          type: boolean
        - description: 'If provided, only items with the given sourceItemId will be returned.'
          in: query
          name: sourceItemId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - audio/1d-interleaved-parityfec
        - audio/32kadpcm
        - audio/3gpp
        - audio/3gpp2
        - audio/ac3
        - audio/adpcm
        - audio/amr
        - audio/amr-wb
        - audio/amr-wb+
        - audio/aptx
        - audio/asc
        - audio/atrac-advanced-lossless
        - audio/atrac-x
        - audio/atrac3
        - audio/basic
        - audio/bv16
        - audio/bv32
        - audio/clearmode
        - audio/cn
        - audio/dat12
        - audio/dls
        - audio/dsr-es201108
        - audio/dsr-es202050
        - audio/dsr-es202211
        - audio/dsr-es202212
        - audio/dv
        - audio/dvi4
        - audio/eac3
        - audio/encaprtp
        - audio/evrc
        - audio/evrc-qcp
        - audio/evrc0
        - audio/evrc1
        - audio/evrcb
        - audio/evrcb0
        - audio/evrcb1
        - audio/evrcnw
        - audio/evrcnw0
        - audio/evrcnw1
        - audio/evrcwb
        - audio/evrcwb0
        - audio/evrcwb1
        - audio/evs
        - audio/fwdred
        - audio/g711-0
        - audio/g719
        - audio/g722
        - audio/g7221
        - audio/g723
        - audio/g726-16
        - audio/g726-24
        - audio/g726-32
        - audio/g726-40
        - audio/g728
        - audio/g729
        - audio/g7291
        - audio/g729d
        - audio/g729e
        - audio/gsm
        - audio/gsm-efr
        - audio/gsm-hr-08
        - audio/ilbc
        - audio/ip-mr_v2.5
        - audio/isac
        - audio/l16
        - audio/l20
        - audio/l24
        - audio/l8
        - audio/lpc
        - audio/melp
        - audio/melp1200
        - audio/melp2400
        - audio/melp600
        - audio/midi
        - audio/mobile-xmf
        - audio/mp3
        - audio/mp4
        - audio/mp4a-latm
        - audio/mpa
        - audio/mpa-robust
        - audio/mpeg
        - audio/mpeg4-generic
        - audio/musepack
        - audio/ogg
        - audio/opus
        - audio/parityfec
        - audio/pcma
        - audio/pcma-wb
        - audio/pcmu
        - audio/pcmu-wb
        - audio/prs.sid
        - audio/qcelp
        - audio/raptorfec
        - audio/red
        - audio/rtp-enc-aescm128
        - audio/rtp-midi
        - audio/rtploopback
        - audio/rtx
        - audio/s3m
        - audio/silk
        - audio/smv
        - audio/smv-qcp
        - audio/smv0
        - audio/sp-midi
        - audio/speex
        - audio/t140c
        - audio/t38
        - audio/telephone-event
        - audio/tone
        - audio/uemclip
        - audio/ulpfec
        - audio/vdvi
        - audio/vmr-wb
        - audio/vnd.3gpp.iufp
        - audio/vnd.4sb
        - audio/vnd.audiokoz
        - audio/vnd.celp
        - audio/vnd.cisco.nse
        - audio/vnd.cmles.radio-events
        - audio/vnd.cns.anp1
        - audio/vnd.cns.inf1
        - audio/vnd.dece.audio
        - audio/vnd.digital-winds
        - audio/vnd.dlna.adts
        - audio/vnd.dolby.heaac.1
        - audio/vnd.dolby.heaac.2
        - audio/vnd.dolby.mlp
        - audio/vnd.dolby.mps
        - audio/vnd.dolby.pl2
        - audio/vnd.dolby.pl2x
        - audio/vnd.dolby.pl2z
        - audio/vnd.dolby.pulse.1
        - audio/vnd.dra
        - audio/vnd.dts
        - audio/vnd.dts.hd
        - audio/vnd.dvb.file
        - audio/vnd.everad.plj
        - audio/vnd.hns.audio
        - audio/vnd.lucent.voice
        - audio/vnd.ms-playready.media.pya
        - audio/vnd.nokia.mobile-xmf
        - audio/vnd.nortel.vbk
        - audio/vnd.nuera.ecelp4800
        - audio/vnd.nuera.ecelp7470
        - audio/vnd.nuera.ecelp9600
        - audio/vnd.octel.sbc
        - audio/vnd.qcelp
        - audio/vnd.rhetorex.32kadpcm
        - audio/vnd.rip
        - audio/vnd.rn-realaudio
        - audio/vnd.sealedmedia.softseal.mpeg
        - audio/vnd.vmx.cvsd
        - audio/vnd.wave
        - audio/vorbis
        - audio/vorbis-config
        - audio/wav
        - audio/wave
        - audio/webm
        - audio/x-aac
        - audio/x-aiff
        - audio/x-caf
        - audio/x-flac
        - audio/x-m4a
        - audio/x-matroska
        - audio/x-mpegurl
        - audio/x-ms-wax
        - audio/x-ms-wma
        - audio/x-pn-realaudio
        - audio/x-pn-realaudio-plugin
        - audio/x-realaudio
        - audio/x-tta
        - audio/x-wav
        - audio/xm
        - image/apng
        - image/bmp
        - image/cgm
        - image/dicom-rle
        - image/emf
        - image/fits
        - image/g3fax
        - image/gif
        - image/ief
        - image/jls
        - image/jp2
        - image/jpeg
        - image/jpm
        - image/jpx
        - image/ktx
        - image/naplps
        - image/pjpeg
        - image/png
        - image/prs.btif
        - image/prs.pti
        - image/pwg-raster
        - image/sgi
        - image/svg+xml
        - image/t38
        - image/tiff
        - image/tiff-fx
        - image/vnd.adobe.photoshop
        - image/vnd.airzip.accelerator.azv
        - image/vnd.cns.inf2
        - image/vnd.dece.graphic
        - image/vnd.djvu
        - image/vnd.dvb.subtitle
        - image/vnd.dwg
        - image/vnd.dxf
        - image/vnd.fastbidsheet
        - image/vnd.fpx
        - image/vnd.fst
        - image/vnd.fujixerox.edmics-mmr
        - image/vnd.fujixerox.edmics-rlc
        - image/vnd.globalgraphics.pgb
        - image/vnd.microsoft.icon
        - image/vnd.mix
        - image/vnd.mozilla.apng
        - image/vnd.ms-modi
        - image/vnd.ms-photo
        - image/vnd.net-fpx
        - image/vnd.radiance
        - image/vnd.sealed.png
        - image/vnd.sealedmedia.softseal.gif
        - image/vnd.sealedmedia.softseal.jpg
        - image/vnd.svf
        - image/vnd.tencent.tap
        - image/vnd.valve.source.texture
        - image/vnd.wap.wbmp
        - image/vnd.xiff
        - image/vnd.zbrush.pcx
        - image/webp
        - image/wmf
        - image/x-3ds
        - image/x-cmu-raster
        - image/x-cmx
        - image/x-freehand
        - image/x-icon
        - image/x-jng
        - image/x-mrsid-image
        - image/x-ms-bmp
        - image/x-pcx
        - image/x-pict
        - image/x-portable-anymap
        - image/x-portable-bitmap
        - image/x-portable-graymap
        - image/x-portable-pixmap
        - image/x-rgb
        - image/x-tga
        - image/x-xbitmap
        - image/x-xcf
        - image/x-xpixmap
        - image/x-xwindowdump
        - video/1d-interleaved-parityfec
        - video/3gpp
        - video/3gpp-tt
        - video/3gpp2
        - video/bmpeg
        - video/bt656
        - video/celb
        - video/dv
        - video/encaprtp
        - video/h261
        - video/h263
        - video/h263-1998
        - video/h263-2000
        - video/h264
        - video/h264-rcdo
        - video/h264-svc
        - video/h265
        - video/iso.segment
        - video/jpeg
        - video/jpeg2000
        - video/jpm
        - video/mj2
        - video/mp1s
        - video/mp2p
        - video/mp2t
        - video/mp4
        - video/mp4v-es
        - video/mpeg
        - video/mpeg4-generic
        - video/mpv
        - video/nv
        - video/ogg
        - video/parityfec
        - video/pointer
        - video/quicktime
        - video/raptorfec
        - video/raw
        - video/rtp-enc-aescm128
        - video/rtploopback
        - video/rtx
        - video/smpte292m
        - video/ulpfec
        - video/vc1
        - video/vnd.cctv
        - video/vnd.dece.hd
        - video/vnd.dece.mobile
        - video/vnd.dece.mp4
        - video/vnd.dece.pd
        - video/vnd.dece.sd
        - video/vnd.dece.video
        - video/vnd.directv.mpeg
        - video/vnd.directv.mpeg-tts
        - video/vnd.dlna.mpeg-tts
        - video/vnd.dvb.file
        - video/vnd.fvt
        - video/vnd.hns.video
        - video/vnd.iptvforum.1dparityfec-1010
        - video/vnd.iptvforum.1dparityfec-2005
        - video/vnd.iptvforum.2dparityfec-1010
        - video/vnd.iptvforum.2dparityfec-2005
        - video/vnd.iptvforum.ttsavc
        - video/vnd.iptvforum.ttsmpeg2
        - video/vnd.motorola.video
        - video/vnd.motorola.videop
        - video/vnd.mpegurl
        - video/vnd.ms-playready.media.pyv
        - video/vnd.nokia.interleaved-multimedia
        - video/vnd.nokia.videovoip
        - video/vnd.objectvideo
        - video/vnd.radgamettools.bink
        - video/vnd.radgamettools.smacker
        - video/vnd.sealed.mpeg1
        - video/vnd.sealed.mpeg4
        - video/vnd.sealed.swf
        - video/vnd.sealedmedia.softseal.mov
        - video/vnd.uvvu.mp4
        - video/vnd.vivo
        - video/vp8
        - video/webm
        - video/x-f4v
        - video/x-fli
        - video/x-flv
        - video/x-m4v
        - video/x-matroska
        - video/x-mng
        - video/x-ms-asf
        - video/x-ms-vob
        - video/x-ms-wm
        - video/x-ms-wmv
        - video/x-ms-wmx
        - video/x-ms-wvx
        - video/x-msvideo
        - video/x-sgi-movie
        - video/x-smv
      description: Inserts a new item into the timeline.
      operationId: mirror.timeline.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TimelineItem'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
  '/timeline/{id}':
    delete:
      description: Deletes a timeline item.
      operationId: mirror.timeline.delete
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    get:
      description: Gets a single timeline item by ID.
      operationId: mirror.timeline.get
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a timeline item in place. This method supports patch semantics.
      operationId: mirror.timeline.patch
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TimelineItem'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    put:
      consumes:
        - audio/1d-interleaved-parityfec
        - audio/32kadpcm
        - audio/3gpp
        - audio/3gpp2
        - audio/ac3
        - audio/adpcm
        - audio/amr
        - audio/amr-wb
        - audio/amr-wb+
        - audio/aptx
        - audio/asc
        - audio/atrac-advanced-lossless
        - audio/atrac-x
        - audio/atrac3
        - audio/basic
        - audio/bv16
        - audio/bv32
        - audio/clearmode
        - audio/cn
        - audio/dat12
        - audio/dls
        - audio/dsr-es201108
        - audio/dsr-es202050
        - audio/dsr-es202211
        - audio/dsr-es202212
        - audio/dv
        - audio/dvi4
        - audio/eac3
        - audio/encaprtp
        - audio/evrc
        - audio/evrc-qcp
        - audio/evrc0
        - audio/evrc1
        - audio/evrcb
        - audio/evrcb0
        - audio/evrcb1
        - audio/evrcnw
        - audio/evrcnw0
        - audio/evrcnw1
        - audio/evrcwb
        - audio/evrcwb0
        - audio/evrcwb1
        - audio/evs
        - audio/fwdred
        - audio/g711-0
        - audio/g719
        - audio/g722
        - audio/g7221
        - audio/g723
        - audio/g726-16
        - audio/g726-24
        - audio/g726-32
        - audio/g726-40
        - audio/g728
        - audio/g729
        - audio/g7291
        - audio/g729d
        - audio/g729e
        - audio/gsm
        - audio/gsm-efr
        - audio/gsm-hr-08
        - audio/ilbc
        - audio/ip-mr_v2.5
        - audio/isac
        - audio/l16
        - audio/l20
        - audio/l24
        - audio/l8
        - audio/lpc
        - audio/melp
        - audio/melp1200
        - audio/melp2400
        - audio/melp600
        - audio/midi
        - audio/mobile-xmf
        - audio/mp3
        - audio/mp4
        - audio/mp4a-latm
        - audio/mpa
        - audio/mpa-robust
        - audio/mpeg
        - audio/mpeg4-generic
        - audio/musepack
        - audio/ogg
        - audio/opus
        - audio/parityfec
        - audio/pcma
        - audio/pcma-wb
        - audio/pcmu
        - audio/pcmu-wb
        - audio/prs.sid
        - audio/qcelp
        - audio/raptorfec
        - audio/red
        - audio/rtp-enc-aescm128
        - audio/rtp-midi
        - audio/rtploopback
        - audio/rtx
        - audio/s3m
        - audio/silk
        - audio/smv
        - audio/smv-qcp
        - audio/smv0
        - audio/sp-midi
        - audio/speex
        - audio/t140c
        - audio/t38
        - audio/telephone-event
        - audio/tone
        - audio/uemclip
        - audio/ulpfec
        - audio/vdvi
        - audio/vmr-wb
        - audio/vnd.3gpp.iufp
        - audio/vnd.4sb
        - audio/vnd.audiokoz
        - audio/vnd.celp
        - audio/vnd.cisco.nse
        - audio/vnd.cmles.radio-events
        - audio/vnd.cns.anp1
        - audio/vnd.cns.inf1
        - audio/vnd.dece.audio
        - audio/vnd.digital-winds
        - audio/vnd.dlna.adts
        - audio/vnd.dolby.heaac.1
        - audio/vnd.dolby.heaac.2
        - audio/vnd.dolby.mlp
        - audio/vnd.dolby.mps
        - audio/vnd.dolby.pl2
        - audio/vnd.dolby.pl2x
        - audio/vnd.dolby.pl2z
        - audio/vnd.dolby.pulse.1
        - audio/vnd.dra
        - audio/vnd.dts
        - audio/vnd.dts.hd
        - audio/vnd.dvb.file
        - audio/vnd.everad.plj
        - audio/vnd.hns.audio
        - audio/vnd.lucent.voice
        - audio/vnd.ms-playready.media.pya
        - audio/vnd.nokia.mobile-xmf
        - audio/vnd.nortel.vbk
        - audio/vnd.nuera.ecelp4800
        - audio/vnd.nuera.ecelp7470
        - audio/vnd.nuera.ecelp9600
        - audio/vnd.octel.sbc
        - audio/vnd.qcelp
        - audio/vnd.rhetorex.32kadpcm
        - audio/vnd.rip
        - audio/vnd.rn-realaudio
        - audio/vnd.sealedmedia.softseal.mpeg
        - audio/vnd.vmx.cvsd
        - audio/vnd.wave
        - audio/vorbis
        - audio/vorbis-config
        - audio/wav
        - audio/wave
        - audio/webm
        - audio/x-aac
        - audio/x-aiff
        - audio/x-caf
        - audio/x-flac
        - audio/x-m4a
        - audio/x-matroska
        - audio/x-mpegurl
        - audio/x-ms-wax
        - audio/x-ms-wma
        - audio/x-pn-realaudio
        - audio/x-pn-realaudio-plugin
        - audio/x-realaudio
        - audio/x-tta
        - audio/x-wav
        - audio/xm
        - image/apng
        - image/bmp
        - image/cgm
        - image/dicom-rle
        - image/emf
        - image/fits
        - image/g3fax
        - image/gif
        - image/ief
        - image/jls
        - image/jp2
        - image/jpeg
        - image/jpm
        - image/jpx
        - image/ktx
        - image/naplps
        - image/pjpeg
        - image/png
        - image/prs.btif
        - image/prs.pti
        - image/pwg-raster
        - image/sgi
        - image/svg+xml
        - image/t38
        - image/tiff
        - image/tiff-fx
        - image/vnd.adobe.photoshop
        - image/vnd.airzip.accelerator.azv
        - image/vnd.cns.inf2
        - image/vnd.dece.graphic
        - image/vnd.djvu
        - image/vnd.dvb.subtitle
        - image/vnd.dwg
        - image/vnd.dxf
        - image/vnd.fastbidsheet
        - image/vnd.fpx
        - image/vnd.fst
        - image/vnd.fujixerox.edmics-mmr
        - image/vnd.fujixerox.edmics-rlc
        - image/vnd.globalgraphics.pgb
        - image/vnd.microsoft.icon
        - image/vnd.mix
        - image/vnd.mozilla.apng
        - image/vnd.ms-modi
        - image/vnd.ms-photo
        - image/vnd.net-fpx
        - image/vnd.radiance
        - image/vnd.sealed.png
        - image/vnd.sealedmedia.softseal.gif
        - image/vnd.sealedmedia.softseal.jpg
        - image/vnd.svf
        - image/vnd.tencent.tap
        - image/vnd.valve.source.texture
        - image/vnd.wap.wbmp
        - image/vnd.xiff
        - image/vnd.zbrush.pcx
        - image/webp
        - image/wmf
        - image/x-3ds
        - image/x-cmu-raster
        - image/x-cmx
        - image/x-freehand
        - image/x-icon
        - image/x-jng
        - image/x-mrsid-image
        - image/x-ms-bmp
        - image/x-pcx
        - image/x-pict
        - image/x-portable-anymap
        - image/x-portable-bitmap
        - image/x-portable-graymap
        - image/x-portable-pixmap
        - image/x-rgb
        - image/x-tga
        - image/x-xbitmap
        - image/x-xcf
        - image/x-xpixmap
        - image/x-xwindowdump
        - video/1d-interleaved-parityfec
        - video/3gpp
        - video/3gpp-tt
        - video/3gpp2
        - video/bmpeg
        - video/bt656
        - video/celb
        - video/dv
        - video/encaprtp
        - video/h261
        - video/h263
        - video/h263-1998
        - video/h263-2000
        - video/h264
        - video/h264-rcdo
        - video/h264-svc
        - video/h265
        - video/iso.segment
        - video/jpeg
        - video/jpeg2000
        - video/jpm
        - video/mj2
        - video/mp1s
        - video/mp2p
        - video/mp2t
        - video/mp4
        - video/mp4v-es
        - video/mpeg
        - video/mpeg4-generic
        - video/mpv
        - video/nv
        - video/ogg
        - video/parityfec
        - video/pointer
        - video/quicktime
        - video/raptorfec
        - video/raw
        - video/rtp-enc-aescm128
        - video/rtploopback
        - video/rtx
        - video/smpte292m
        - video/ulpfec
        - video/vc1
        - video/vnd.cctv
        - video/vnd.dece.hd
        - video/vnd.dece.mobile
        - video/vnd.dece.mp4
        - video/vnd.dece.pd
        - video/vnd.dece.sd
        - video/vnd.dece.video
        - video/vnd.directv.mpeg
        - video/vnd.directv.mpeg-tts
        - video/vnd.dlna.mpeg-tts
        - video/vnd.dvb.file
        - video/vnd.fvt
        - video/vnd.hns.video
        - video/vnd.iptvforum.1dparityfec-1010
        - video/vnd.iptvforum.1dparityfec-2005
        - video/vnd.iptvforum.2dparityfec-1010
        - video/vnd.iptvforum.2dparityfec-2005
        - video/vnd.iptvforum.ttsavc
        - video/vnd.iptvforum.ttsmpeg2
        - video/vnd.motorola.video
        - video/vnd.motorola.videop
        - video/vnd.mpegurl
        - video/vnd.ms-playready.media.pyv
        - video/vnd.nokia.interleaved-multimedia
        - video/vnd.nokia.videovoip
        - video/vnd.objectvideo
        - video/vnd.radgamettools.bink
        - video/vnd.radgamettools.smacker
        - video/vnd.sealed.mpeg1
        - video/vnd.sealed.mpeg4
        - video/vnd.sealed.swf
        - video/vnd.sealedmedia.softseal.mov
        - video/vnd.uvvu.mp4
        - video/vnd.vivo
        - video/vp8
        - video/webm
        - video/x-f4v
        - video/x-fli
        - video/x-flv
        - video/x-m4v
        - video/x-matroska
        - video/x-mng
        - video/x-ms-asf
        - video/x-ms-vob
        - video/x-ms-wm
        - video/x-ms-wmv
        - video/x-ms-wmx
        - video/x-ms-wvx
        - video/x-msvideo
        - video/x-sgi-movie
        - video/x-smv
      description: Updates a timeline item in place.
      operationId: mirror.timeline.update
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TimelineItem'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.location'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.location'
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
  '/timeline/{itemId}/attachments':
    get:
      description: Returns a list of attachments for a timeline item.
      operationId: mirror.timeline.attachments.list
      parameters:
        - description: The ID of the timeline item whose attachments should be listed.
          in: path
          name: itemId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AttachmentsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - audio/1d-interleaved-parityfec
        - audio/32kadpcm
        - audio/3gpp
        - audio/3gpp2
        - audio/ac3
        - audio/adpcm
        - audio/amr
        - audio/amr-wb
        - audio/amr-wb+
        - audio/aptx
        - audio/asc
        - audio/atrac-advanced-lossless
        - audio/atrac-x
        - audio/atrac3
        - audio/basic
        - audio/bv16
        - audio/bv32
        - audio/clearmode
        - audio/cn
        - audio/dat12
        - audio/dls
        - audio/dsr-es201108
        - audio/dsr-es202050
        - audio/dsr-es202211
        - audio/dsr-es202212
        - audio/dv
        - audio/dvi4
        - audio/eac3
        - audio/encaprtp
        - audio/evrc
        - audio/evrc-qcp
        - audio/evrc0
        - audio/evrc1
        - audio/evrcb
        - audio/evrcb0
        - audio/evrcb1
        - audio/evrcnw
        - audio/evrcnw0
        - audio/evrcnw1
        - audio/evrcwb
        - audio/evrcwb0
        - audio/evrcwb1
        - audio/evs
        - audio/fwdred
        - audio/g711-0
        - audio/g719
        - audio/g722
        - audio/g7221
        - audio/g723
        - audio/g726-16
        - audio/g726-24
        - audio/g726-32
        - audio/g726-40
        - audio/g728
        - audio/g729
        - audio/g7291
        - audio/g729d
        - audio/g729e
        - audio/gsm
        - audio/gsm-efr
        - audio/gsm-hr-08
        - audio/ilbc
        - audio/ip-mr_v2.5
        - audio/isac
        - audio/l16
        - audio/l20
        - audio/l24
        - audio/l8
        - audio/lpc
        - audio/melp
        - audio/melp1200
        - audio/melp2400
        - audio/melp600
        - audio/midi
        - audio/mobile-xmf
        - audio/mp3
        - audio/mp4
        - audio/mp4a-latm
        - audio/mpa
        - audio/mpa-robust
        - audio/mpeg
        - audio/mpeg4-generic
        - audio/musepack
        - audio/ogg
        - audio/opus
        - audio/parityfec
        - audio/pcma
        - audio/pcma-wb
        - audio/pcmu
        - audio/pcmu-wb
        - audio/prs.sid
        - audio/qcelp
        - audio/raptorfec
        - audio/red
        - audio/rtp-enc-aescm128
        - audio/rtp-midi
        - audio/rtploopback
        - audio/rtx
        - audio/s3m
        - audio/silk
        - audio/smv
        - audio/smv-qcp
        - audio/smv0
        - audio/sp-midi
        - audio/speex
        - audio/t140c
        - audio/t38
        - audio/telephone-event
        - audio/tone
        - audio/uemclip
        - audio/ulpfec
        - audio/vdvi
        - audio/vmr-wb
        - audio/vnd.3gpp.iufp
        - audio/vnd.4sb
        - audio/vnd.audiokoz
        - audio/vnd.celp
        - audio/vnd.cisco.nse
        - audio/vnd.cmles.radio-events
        - audio/vnd.cns.anp1
        - audio/vnd.cns.inf1
        - audio/vnd.dece.audio
        - audio/vnd.digital-winds
        - audio/vnd.dlna.adts
        - audio/vnd.dolby.heaac.1
        - audio/vnd.dolby.heaac.2
        - audio/vnd.dolby.mlp
        - audio/vnd.dolby.mps
        - audio/vnd.dolby.pl2
        - audio/vnd.dolby.pl2x
        - audio/vnd.dolby.pl2z
        - audio/vnd.dolby.pulse.1
        - audio/vnd.dra
        - audio/vnd.dts
        - audio/vnd.dts.hd
        - audio/vnd.dvb.file
        - audio/vnd.everad.plj
        - audio/vnd.hns.audio
        - audio/vnd.lucent.voice
        - audio/vnd.ms-playready.media.pya
        - audio/vnd.nokia.mobile-xmf
        - audio/vnd.nortel.vbk
        - audio/vnd.nuera.ecelp4800
        - audio/vnd.nuera.ecelp7470
        - audio/vnd.nuera.ecelp9600
        - audio/vnd.octel.sbc
        - audio/vnd.qcelp
        - audio/vnd.rhetorex.32kadpcm
        - audio/vnd.rip
        - audio/vnd.rn-realaudio
        - audio/vnd.sealedmedia.softseal.mpeg
        - audio/vnd.vmx.cvsd
        - audio/vnd.wave
        - audio/vorbis
        - audio/vorbis-config
        - audio/wav
        - audio/wave
        - audio/webm
        - audio/x-aac
        - audio/x-aiff
        - audio/x-caf
        - audio/x-flac
        - audio/x-m4a
        - audio/x-matroska
        - audio/x-mpegurl
        - audio/x-ms-wax
        - audio/x-ms-wma
        - audio/x-pn-realaudio
        - audio/x-pn-realaudio-plugin
        - audio/x-realaudio
        - audio/x-tta
        - audio/x-wav
        - audio/xm
        - image/apng
        - image/bmp
        - image/cgm
        - image/dicom-rle
        - image/emf
        - image/fits
        - image/g3fax
        - image/gif
        - image/ief
        - image/jls
        - image/jp2
        - image/jpeg
        - image/jpm
        - image/jpx
        - image/ktx
        - image/naplps
        - image/pjpeg
        - image/png
        - image/prs.btif
        - image/prs.pti
        - image/pwg-raster
        - image/sgi
        - image/svg+xml
        - image/t38
        - image/tiff
        - image/tiff-fx
        - image/vnd.adobe.photoshop
        - image/vnd.airzip.accelerator.azv
        - image/vnd.cns.inf2
        - image/vnd.dece.graphic
        - image/vnd.djvu
        - image/vnd.dvb.subtitle
        - image/vnd.dwg
        - image/vnd.dxf
        - image/vnd.fastbidsheet
        - image/vnd.fpx
        - image/vnd.fst
        - image/vnd.fujixerox.edmics-mmr
        - image/vnd.fujixerox.edmics-rlc
        - image/vnd.globalgraphics.pgb
        - image/vnd.microsoft.icon
        - image/vnd.mix
        - image/vnd.mozilla.apng
        - image/vnd.ms-modi
        - image/vnd.ms-photo
        - image/vnd.net-fpx
        - image/vnd.radiance
        - image/vnd.sealed.png
        - image/vnd.sealedmedia.softseal.gif
        - image/vnd.sealedmedia.softseal.jpg
        - image/vnd.svf
        - image/vnd.tencent.tap
        - image/vnd.valve.source.texture
        - image/vnd.wap.wbmp
        - image/vnd.xiff
        - image/vnd.zbrush.pcx
        - image/webp
        - image/wmf
        - image/x-3ds
        - image/x-cmu-raster
        - image/x-cmx
        - image/x-freehand
        - image/x-icon
        - image/x-jng
        - image/x-mrsid-image
        - image/x-ms-bmp
        - image/x-pcx
        - image/x-pict
        - image/x-portable-anymap
        - image/x-portable-bitmap
        - image/x-portable-graymap
        - image/x-portable-pixmap
        - image/x-rgb
        - image/x-tga
        - image/x-xbitmap
        - image/x-xcf
        - image/x-xpixmap
        - image/x-xwindowdump
        - video/1d-interleaved-parityfec
        - video/3gpp
        - video/3gpp-tt
        - video/3gpp2
        - video/bmpeg
        - video/bt656
        - video/celb
        - video/dv
        - video/encaprtp
        - video/h261
        - video/h263
        - video/h263-1998
        - video/h263-2000
        - video/h264
        - video/h264-rcdo
        - video/h264-svc
        - video/h265
        - video/iso.segment
        - video/jpeg
        - video/jpeg2000
        - video/jpm
        - video/mj2
        - video/mp1s
        - video/mp2p
        - video/mp2t
        - video/mp4
        - video/mp4v-es
        - video/mpeg
        - video/mpeg4-generic
        - video/mpv
        - video/nv
        - video/ogg
        - video/parityfec
        - video/pointer
        - video/quicktime
        - video/raptorfec
        - video/raw
        - video/rtp-enc-aescm128
        - video/rtploopback
        - video/rtx
        - video/smpte292m
        - video/ulpfec
        - video/vc1
        - video/vnd.cctv
        - video/vnd.dece.hd
        - video/vnd.dece.mobile
        - video/vnd.dece.mp4
        - video/vnd.dece.pd
        - video/vnd.dece.sd
        - video/vnd.dece.video
        - video/vnd.directv.mpeg
        - video/vnd.directv.mpeg-tts
        - video/vnd.dlna.mpeg-tts
        - video/vnd.dvb.file
        - video/vnd.fvt
        - video/vnd.hns.video
        - video/vnd.iptvforum.1dparityfec-1010
        - video/vnd.iptvforum.1dparityfec-2005
        - video/vnd.iptvforum.2dparityfec-1010
        - video/vnd.iptvforum.2dparityfec-2005
        - video/vnd.iptvforum.ttsavc
        - video/vnd.iptvforum.ttsmpeg2
        - video/vnd.motorola.video
        - video/vnd.motorola.videop
        - video/vnd.mpegurl
        - video/vnd.ms-playready.media.pyv
        - video/vnd.nokia.interleaved-multimedia
        - video/vnd.nokia.videovoip
        - video/vnd.objectvideo
        - video/vnd.radgamettools.bink
        - video/vnd.radgamettools.smacker
        - video/vnd.sealed.mpeg1
        - video/vnd.sealed.mpeg4
        - video/vnd.sealed.swf
        - video/vnd.sealedmedia.softseal.mov
        - video/vnd.uvvu.mp4
        - video/vnd.vivo
        - video/vp8
        - video/webm
        - video/x-f4v
        - video/x-fli
        - video/x-flv
        - video/x-m4v
        - video/x-matroska
        - video/x-mng
        - video/x-ms-asf
        - video/x-ms-vob
        - video/x-ms-wm
        - video/x-ms-wmv
        - video/x-ms-wmx
        - video/x-ms-wvx
        - video/x-msvideo
        - video/x-sgi-movie
        - video/x-smv
      description: Adds a new attachment to a timeline item.
      operationId: mirror.timeline.attachments.insert
      parameters:
        - description: The ID of the timeline item the attachment belongs to.
          in: path
          name: itemId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
  '/timeline/{itemId}/attachments/{attachmentId}':
    delete:
      description: Deletes an attachment from a timeline item.
      operationId: mirror.timeline.attachments.delete
      parameters:
        - description: The ID of the timeline item the attachment belongs to.
          in: path
          name: itemId
          required: true
          type: string
        - description: The ID of the attachment.
          in: path
          name: attachmentId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    get:
      description: Retrieves an attachment on a timeline item by item ID and attachment ID.
      operationId: mirror.timeline.attachments.get
      parameters:
        - description: The ID of the timeline item the attachment belongs to.
          in: path
          name: itemId
          required: true
          type: string
        - description: The ID of the attachment.
          in: path
          name: attachmentId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Attachment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/glass.timeline'
          Oauth2c:
            - 'https://www.googleapis.com/auth/glass.timeline'
      tags:
        - timeline
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Account:
    description: Represents an account passed into the Account Manager on Glass.
    properties:
      authTokens:
        items:
          $ref: '#/definitions/AuthToken'
        type: array
      features:
        items:
          type: string
        type: array
      password:
        type: string
      userData:
        items:
          $ref: '#/definitions/UserData'
        type: array
    type: object
  Attachment:
    description: 'Represents media content, such as a photo, that can be attached to a timeline item.'
    properties:
      contentType:
        description: The MIME type of the attachment.
        type: string
      contentUrl:
        description: The URL for the content.
        type: string
      id:
        description: The ID of the attachment.
        type: string
      isProcessingContent:
        description: 'Indicates that the contentUrl is not available because the attachment content is still being processed. If the caller wishes to retrieve the content, it should try again later.'
        type: boolean
    type: object
  AttachmentsListResponse:
    description: A list of Attachments. This is the response from the server to GET requests on the attachments collection.
    properties:
      items:
        description: The list of attachments.
        items:
          $ref: '#/definitions/Attachment'
        type: array
      kind:
        default: 'mirror#attachmentsList'
        description: 'The type of resource. This is always mirror#attachmentsList.'
        type: string
    type: object
  AuthToken:
    properties:
      authToken:
        type: string
      type:
        type: string
    type: object
  Command:
    description: A single menu command that is part of a Contact.
    properties:
      type:
        description: |-
          The type of operation this command corresponds to. Allowed values are:  
          - TAKE_A_NOTE - Shares a timeline item with the transcription of user speech from the "Take a note" voice menu command.  
          - POST_AN_UPDATE - Shares a timeline item with the transcription of user speech from the "Post an update" voice menu command.
        type: string
    type: object
  Contact:
    description: A person or group that can be used as a creator or a contact.
    properties:
      acceptCommands:
        description: 'A list of voice menu commands that a contact can handle. Glass shows up to three contacts for each voice menu command. If there are more than that, the three contacts with the highest priority are shown for that particular command.'
        items:
          $ref: '#/definitions/Command'
        type: array
      acceptTypes:
        description: 'A list of MIME types that a contact supports. The contact will be shown to the user if any of its acceptTypes matches any of the types of the attachments on the item. If no acceptTypes are given, the contact will be shown for all items.'
        items:
          type: string
        type: array
      displayName:
        description: The name to display for this contact.
        type: string
      id:
        description: An ID for this contact. This is generated by the application and is treated as an opaque token.
        type: string
      imageUrls:
        description: 'Set of image URLs to display for a contact. Most contacts will have a single image, but a "group" contact may include up to 8 image URLs and they will be resized and cropped into a mosaic on the client.'
        items:
          type: string
        type: array
      kind:
        default: 'mirror#contact'
        description: 'The type of resource. This is always mirror#contact.'
        type: string
      phoneNumber:
        description: 'Primary phone number for the contact. This can be a fully-qualified number, with country calling code and area code, or a local number.'
        type: string
      priority:
        description: Priority for the contact to determine ordering in a list of contacts. Contacts with higher priorities will be shown before ones with lower priorities.
        format: uint32
        type: integer
      sharingFeatures:
        description: |-
          A list of sharing features that a contact can handle. Allowed values are:  
          - ADD_CAPTION
        items:
          type: string
        type: array
      source:
        description: The ID of the application that created this contact. This is populated by the API
        type: string
      speakableName:
        description: 'Name of this contact as it should be pronounced. If this contact''s name must be spoken as part of a voice disambiguation menu, this name is used as the expected pronunciation. This is useful for contact names with unpronounceable characters or whose display spelling is otherwise not phonetic.'
        type: string
      type:
        description: |-
          The type for this contact. This is used for sorting in UIs. Allowed values are:  
          - INDIVIDUAL - Represents a single person. This is the default. 
          - GROUP - Represents more than a single person.
        type: string
    type: object
  ContactsListResponse:
    description: A list of Contacts representing contacts. This is the response from the server to GET requests on the contacts collection.
    properties:
      items:
        description: Contact list.
        items:
          $ref: '#/definitions/Contact'
        type: array
      kind:
        default: 'mirror#contacts'
        description: 'The type of resource. This is always mirror#contacts.'
        type: string
    type: object
  Location:
    description: A geographic location that can be associated with a timeline item.
    properties:
      accuracy:
        description: The accuracy of the location fix in meters.
        format: double
        type: number
      address:
        description: The full address of the location.
        type: string
      displayName:
        description: 'The name to be displayed. This may be a business name or a user-defined place, such as "Home".'
        type: string
      id:
        description: The ID of the location.
        type: string
      kind:
        default: 'mirror#location'
        description: 'The type of resource. This is always mirror#location.'
        type: string
      latitude:
        description: 'The latitude, in degrees.'
        format: double
        type: number
      longitude:
        description: 'The longitude, in degrees.'
        format: double
        type: number
      timestamp:
        description: 'The time at which this location was captured, formatted according to RFC 3339.'
        format: date-time
        type: string
    type: object
  LocationsListResponse:
    description: A list of Locations. This is the response from the server to GET requests on the locations collection.
    properties:
      items:
        description: The list of locations.
        items:
          $ref: '#/definitions/Location'
        type: array
      kind:
        default: 'mirror#locationsList'
        description: 'The type of resource. This is always mirror#locationsList.'
        type: string
    type: object
  MenuItem:
    description: A custom menu item that can be presented to the user by a timeline item.
    properties:
      action:
        description: |-
          Controls the behavior when the user picks the menu option. Allowed values are:  
          - CUSTOM - Custom action set by the service. When the user selects this menuItem, the API triggers a notification to your callbackUrl with the userActions.type set to CUSTOM and the userActions.payload set to the ID of this menu item. This is the default value. 
          - Built-in actions:  
          - REPLY - Initiate a reply to the timeline item using the voice recording UI. The creator attribute must be set in the timeline item for this menu to be available. 
          - REPLY_ALL - Same behavior as REPLY. The original timeline item's recipients will be added to the reply item. 
          - DELETE - Delete the timeline item. 
          - SHARE - Share the timeline item with the available contacts. 
          - READ_ALOUD - Read the timeline item's speakableText aloud; if this field is not set, read the text field; if none of those fields are set, this menu item is ignored. 
          - GET_MEDIA_INPUT - Allow users to provide media payloads to Glassware from a menu item (currently, only transcribed text from voice input is supported). Subscribe to notifications when users invoke this menu item to receive the timeline item ID. Retrieve the media from the timeline item in the payload property. 
          - VOICE_CALL - Initiate a phone call using the timeline item's creator.phoneNumber attribute as recipient. 
          - NAVIGATE - Navigate to the timeline item's location. 
          - TOGGLE_PINNED - Toggle the isPinned state of the timeline item. 
          - OPEN_URI - Open the payload of the menu item in the browser. 
          - PLAY_VIDEO - Open the payload of the menu item in the Glass video player. 
          - SEND_MESSAGE - Initiate sending a message to the timeline item's creator:  
          - If the creator.phoneNumber is set and Glass is connected to an Android phone, the message is an SMS. 
          - Otherwise, if the creator.email is set, the message is an email.
        type: string
      contextual_command:
        description: The ContextualMenus.Command associated with this MenuItem (e.g. READ_ALOUD). The voice label for this command will be displayed in the voice menu and the touch label will be displayed in the touch menu. Note that the default menu value's display name will be overriden if you specify this property. Values that do not correspond to a ContextualMenus.Command name will be ignored.
        type: string
      id:
        description: The ID for this menu item. This is generated by the application and is treated as an opaque token.
        type: string
      payload:
        description: |-
          A generic payload whose meaning changes depending on this MenuItem's action.  
          - When the action is OPEN_URI, the payload is the URL of the website to view. 
          - When the action is PLAY_VIDEO, the payload is the streaming URL of the video 
          - When the action is GET_MEDIA_INPUT, the payload is the text transcription of a user's speech input
        type: string
      removeWhenSelected:
        description: 'If set to true on a CUSTOM menu item, that item will be removed from the menu after it is selected.'
        type: boolean
      values:
        description: 'For CUSTOM items, a list of values controlling the appearance of the menu item in each of its states. A value for the DEFAULT state must be provided. If the PENDING or CONFIRMED states are missing, they will not be shown.'
        items:
          $ref: '#/definitions/MenuValue'
        type: array
    type: object
  MenuValue:
    description: A single value that is part of a MenuItem.
    properties:
      displayName:
        description: 'The name to display for the menu item. If you specify this property for a built-in menu item, the default contextual voice command for that menu item is not shown.'
        type: string
      iconUrl:
        description: URL of an icon to display with the menu item.
        type: string
      state:
        description: |-
          The state that this value applies to. Allowed values are:  
          - DEFAULT - Default value shown when displayed in the menuItems list. 
          - PENDING - Value shown when the menuItem has been selected by the user but can still be cancelled. 
          - CONFIRMED - Value shown when the menuItem has been selected by the user and can no longer be cancelled.
        type: string
    type: object
  Notification:
    description: A notification delivered by the API.
    properties:
      collection:
        description: The collection that generated the notification.
        type: string
      itemId:
        description: The ID of the item that generated the notification.
        type: string
      operation:
        description: The type of operation that generated the notification.
        type: string
      userActions:
        description: A list of actions taken by the user that triggered the notification.
        items:
          $ref: '#/definitions/UserAction'
        type: array
      userToken:
        description: The user token provided by the service when it subscribed for notifications.
        type: string
      verifyToken:
        description: The secret verify token provided by the service when it subscribed for notifications.
        type: string
    type: object
  NotificationConfig:
    description: Controls how notifications for a timeline item are presented to the user.
    properties:
      deliveryTime:
        description: The time at which the notification should be delivered.
        format: date-time
        type: string
      level:
        description: |-
          Describes how important the notification is. Allowed values are:  
          - DEFAULT - Notifications of default importance. A chime will be played to alert users.
        type: string
    type: object
  Setting:
    description: A setting for Glass.
    properties:
      id:
        description: |-
          The setting's ID. The following IDs are valid:  
          - locale - The key to the user’s language/locale (BCP 47 identifier) that Glassware should use to render localized content.  
          - timezone - The key to the user’s current time zone region as defined in the tz database. Example: America/Los_Angeles.
        type: string
      kind:
        default: 'mirror#setting'
        description: 'The type of resource. This is always mirror#setting.'
        type: string
      value:
        description: 'The setting value, as a string.'
        type: string
    type: object
  Subscription:
    description: A subscription to events on a collection.
    properties:
      callbackUrl:
        description: 'The URL where notifications should be delivered (must start with https://).'
        type: string
      collection:
        description: |-
          The collection to subscribe to. Allowed values are:  
          - timeline - Changes in the timeline including insertion, deletion, and updates. 
          - locations - Location updates. 
          - settings - Settings updates.
        type: string
      id:
        description: The ID of the subscription.
        type: string
      kind:
        default: 'mirror#subscription'
        description: 'The type of resource. This is always mirror#subscription.'
        type: string
      notification:
        $ref: '#/definitions/Notification'
        description: Container object for notifications. This is not populated in the Subscription resource.
      operation:
        description: |-
          A list of operations that should be subscribed to. An empty list indicates that all operations on the collection should be subscribed to. Allowed values are:  
          - UPDATE - The item has been updated. 
          - INSERT - A new item has been inserted. 
          - DELETE - The item has been deleted. 
          - MENU_ACTION - A custom menu item has been triggered by the user.
        items:
          type: string
        type: array
      updated:
        description: 'The time at which this subscription was last modified, formatted according to RFC 3339.'
        format: date-time
        type: string
      userToken:
        description: An opaque token sent to the subscriber in notifications so that it can determine the ID of the user.
        type: string
      verifyToken:
        description: A secret token sent to the subscriber in notifications so that it can verify that the notification was generated by Google.
        type: string
    type: object
  SubscriptionsListResponse:
    description: A list of Subscriptions. This is the response from the server to GET requests on the subscription collection.
    properties:
      items:
        description: The list of subscriptions.
        items:
          $ref: '#/definitions/Subscription'
        type: array
      kind:
        default: 'mirror#subscriptionsList'
        description: 'The type of resource. This is always mirror#subscriptionsList.'
        type: string
    type: object
  TimelineItem:
    description: 'Each item in the user''s timeline is represented as a TimelineItem JSON structure, described below.'
    properties:
      attachments:
        description: |-
          A list of media attachments associated with this item. As a convenience, you can refer to attachments in your HTML payloads with the attachment or cid scheme. For example:  
          - attachment: <img src="attachment:attachment_index"> where attachment_index is the 0-based index of this array. 
          - cid: <img src="cid:attachment_id"> where attachment_id is the ID of the attachment.
        items:
          $ref: '#/definitions/Attachment'
        type: array
      bundleId:
        description: The bundle ID for this item. Services can specify a bundleId to group many items together. They appear under a single top-level item on the device.
        type: string
      canonicalUrl:
        description: A canonical URL pointing to the canonical/high quality version of the data represented by the timeline item.
        type: string
      created:
        description: 'The time at which this item was created, formatted according to RFC 3339.'
        format: date-time
        type: string
      creator:
        $ref: '#/definitions/Contact'
        description: The user or group that created this item.
      displayTime:
        description: 'The time that should be displayed when this item is viewed in the timeline, formatted according to RFC 3339. This user''s timeline is sorted chronologically on display time, so this will also determine where the item is displayed in the timeline. If not set by the service, the display time defaults to the updated time.'
        format: date-time
        type: string
      etag:
        description: ETag for this item.
        type: string
      html:
        description: |-
          HTML content for this item. If both text and html are provided for an item, the html will be rendered in the timeline.
          Allowed HTML elements - You can use these elements in your timeline cards.
           
          - Headers: h1, h2, h3, h4, h5, h6 
          - Images: img 
          - Lists: li, ol, ul 
          - HTML5 semantics: article, aside, details, figure, figcaption, footer, header, nav, section, summary, time 
          - Structural: blockquote, br, div, hr, p, span 
          - Style: b, big, center, em, i, u, s, small, strike, strong, style, sub, sup 
          - Tables: table, tbody, td, tfoot, th, thead, tr  
          Blocked HTML elements: These elements and their contents are removed from HTML payloads.
           
          - Document headers: head, title 
          - Embeds: audio, embed, object, source, video 
          - Frames: frame, frameset 
          - Scripting: applet, script  
          Other elements: Any elements that aren't listed are removed, but their contents are preserved.
        type: string
      id:
        description: The ID of the timeline item. This is unique within a user's timeline.
        type: string
      inReplyTo:
        description: 'If this item was generated as a reply to another item, this field will be set to the ID of the item being replied to. This can be used to attach a reply to the appropriate conversation or post.'
        type: string
      isBundleCover:
        description: |-
          Whether this item is a bundle cover.

          If an item is marked as a bundle cover, it will be the entry point to the bundle of items that have the same bundleId as that item. It will be shown only on the main timeline — not within the opened bundle.

          On the main timeline, items that are shown are:  
          - Items that have isBundleCover set to true  
          - Items that do not have a bundleId  In a bundle sub-timeline, items that are shown are:  
          - Items that have the bundleId in question AND isBundleCover set to false
        type: boolean
      isDeleted:
        description: 'When true, indicates this item is deleted, and only the ID property is set.'
        type: boolean
      isPinned:
        description: 'When true, indicates this item is pinned, which means it''s grouped alongside "active" items like navigation and hangouts, on the opposite side of the home screen from historical (non-pinned) timeline items. You can allow the user to toggle the value of this property with the TOGGLE_PINNED built-in menu item.'
        type: boolean
      kind:
        default: 'mirror#timelineItem'
        description: 'The type of resource. This is always mirror#timelineItem.'
        type: string
      location:
        $ref: '#/definitions/Location'
        description: The geographic location associated with this item.
      menuItems:
        description: A list of menu items that will be presented to the user when this item is selected in the timeline.
        items:
          $ref: '#/definitions/MenuItem'
        type: array
      notification:
        $ref: '#/definitions/NotificationConfig'
        description: 'Controls how notifications for this item are presented on the device. If this is missing, no notification will be generated.'
      pinScore:
        description: 'For pinned items, this determines the order in which the item is displayed in the timeline, with a higher score appearing closer to the clock. Note: setting this field is currently not supported.'
        format: int32
        type: integer
      recipients:
        description: A list of users or groups that this item has been shared with.
        items:
          $ref: '#/definitions/Contact'
        type: array
      selfLink:
        description: A URL that can be used to retrieve this item.
        type: string
      sourceItemId:
        description: Opaque string you can use to map a timeline item to data in your own service.
        type: string
      speakableText:
        description: |-
          The speakable version of the content of this item. Along with the READ_ALOUD menu item, use this field to provide text that would be clearer when read aloud, or to provide extended information to what is displayed visually on Glass.

          Glassware should also specify the speakableType field, which will be spoken before this text in cases where the additional context is useful, for example when the user requests that the item be read aloud following a notification.
        type: string
      speakableType:
        description: |-
          A speakable description of the type of this item. This will be announced to the user prior to reading the content of the item in cases where the additional context is useful, for example when the user requests that the item be read aloud following a notification.

          This should be a short, simple noun phrase such as "Email", "Text message", or "Daily Planet News Update".

          Glassware are encouraged to populate this field for every timeline item, even if the item does not contain speakableText or text so that the user can learn the type of the item without looking at the screen.
        type: string
      text:
        description: Text content of this item.
        type: string
      title:
        description: The title of this item.
        type: string
      updated:
        description: 'The time at which this item was last modified, formatted according to RFC 3339.'
        format: date-time
        type: string
    type: object
  TimelineListResponse:
    description: A list of timeline items. This is the response from the server to GET requests on the timeline collection.
    properties:
      items:
        description: Items in the timeline.
        items:
          $ref: '#/definitions/TimelineItem'
        type: array
      kind:
        default: 'mirror#timeline'
        description: 'The type of resource. This is always mirror#timeline.'
        type: string
      nextPageToken:
        description: The next page token. Provide this as the pageToken parameter in the request to retrieve the next page of results.
        type: string
    type: object
  UserAction:
    description: Represents an action taken by the user that triggered a notification.
    properties:
      payload:
        description: |-
          An optional payload for the action.

          For actions of type CUSTOM, this is the ID of the custom menu item that was selected.
        type: string
      type:
        description: |-
          The type of action. The value of this can be:  
          - SHARE - the user shared an item. 
          - REPLY - the user replied to an item. 
          - REPLY_ALL - the user replied to all recipients of an item. 
          - CUSTOM - the user selected a custom menu item on the timeline item. 
          - DELETE - the user deleted the item. 
          - PIN - the user pinned the item. 
          - UNPIN - the user unpinned the item. 
          - LAUNCH - the user initiated a voice command.  In the future, additional types may be added. UserActions with unrecognized types should be ignored.
        type: string
    type: object
  UserData:
    properties:
      key:
        type: string
      value:
        type: string
    type: object
