swagger: '2.0'
schemes:
  - https
host: iamcredentials.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Creates short-lived, limited-privilege credentials for IAM service accounts.'
  title: IAM Service Account Credentials
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.25
      format: google
      url: 'https://iamcredentials.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: iamcredentials
externalDocs:
  url: 'https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1/{name}:generateAccessToken':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Generates an OAuth 2.0 access token for a service account.
      operationId: iamcredentials.projects.serviceAccounts.generateAccessToken
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GenerateAccessTokenRequest'
        - description: |-
            The resource name of the service account for which the credentials
            are requested, in the following format:
            `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GenerateAccessTokenResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:generateIdToken':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Generates an OpenID Connect ID token for a service account.
      operationId: iamcredentials.projects.serviceAccounts.generateIdToken
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GenerateIdTokenRequest'
        - description: |-
            The resource name of the service account for which the credentials
            are requested, in the following format:
            `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GenerateIdTokenResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:generateIdentityBindingAccessToken':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: ''
      operationId: iamcredentials.projects.serviceAccounts.generateIdentityBindingAccessToken
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GenerateIdentityBindingAccessTokenRequest'
        - description: |-
            The resource name of the service account for which the credentials
            are requested, in the following format:
            `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GenerateIdentityBindingAccessTokenResponse'
      tags:
        - projects
  '/v1/{name}:signBlob':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Signs a blob using a service account's system-managed private key.
      operationId: iamcredentials.projects.serviceAccounts.signBlob
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SignBlobRequest'
        - description: |-
            The resource name of the service account for which the credentials
            are requested, in the following format:
            `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SignBlobResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:signJwt':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Signs a JWT using a service account's system-managed private key.
      operationId: iamcredentials.projects.serviceAccounts.signJwt
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SignJwtRequest'
        - description: |-
            The resource name of the service account for which the credentials
            are requested, in the following format:
            `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SignJwtResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  GenerateAccessTokenRequest:
    properties:
      delegates:
        description: |-
          The sequence of service accounts in a delegation chain. Each service
          account must be granted the `roles/iam.serviceAccountTokenCreator` role
          on its next service account in the chain. The last service account in the
          chain must be granted the `roles/iam.serviceAccountTokenCreator` role
          on the service account that is specified in the `name` field of the
          request.

          The delegates must have the following format:
          `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`
        items:
          type: string
        type: array
      lifetime:
        description: |-
          The desired lifetime duration of the access token in seconds.
          Must be set to a value less than or equal to 3600 (1 hour). If a value is
          not specified, the token's lifetime will be set to a default value of one
          hour.
        format: google-duration
        type: string
      scope:
        description: |-
          Code to identify the scopes to be included in the OAuth 2.0 access token.
          See https://developers.google.com/identity/protocols/googlescopes for more
          information.
          At least one value required.
        items:
          type: string
        type: array
    type: object
  GenerateAccessTokenResponse:
    properties:
      accessToken:
        description: The OAuth 2.0 access token.
        type: string
      expireTime:
        description: |-
          Token expiration time.
          The expiration time is always set.
        format: google-datetime
        type: string
    type: object
  GenerateIdTokenRequest:
    properties:
      audience:
        description: |-
          The audience for the token, such as the API or account that this token
          grants access to.
        type: string
      delegates:
        description: |-
          The sequence of service accounts in a delegation chain. Each service
          account must be granted the `roles/iam.serviceAccountTokenCreator` role
          on its next service account in the chain. The last service account in the
          chain must be granted the `roles/iam.serviceAccountTokenCreator` role
          on the service account that is specified in the `name` field of the
          request.

          The delegates must have the following format:
          `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`
        items:
          type: string
        type: array
      includeEmail:
        description: |-
          Include the service account email in the token. If set to `true`, the
          token will contain `email` and `email_verified` claims.
        type: boolean
    type: object
  GenerateIdTokenResponse:
    properties:
      token:
        description: The OpenId Connect ID token.
        type: string
    type: object
  GenerateIdentityBindingAccessTokenRequest:
    properties:
      jwt:
        description: |-
          Required. Input token.
          Must be in JWT format according to
          RFC7523 (https://tools.ietf.org/html/rfc7523)
          and must have 'kid' field in the header.
          Supported signing algorithms: RS256 (RS512, ES256, ES512 coming soon).
          Mandatory payload fields (along the lines of RFC 7523, section 3):
          - iss: issuer of the token. Must provide a discovery document at
                 $iss/.well-known/openid-configuration . The document needs to be
                 formatted according to section 4.2 of the OpenID Connect Discovery
                 1.0 specification.
          - iat: Issue time in seconds since epoch. Must be in the past.
          - exp: Expiration time in seconds since epoch. Must be less than 48 hours
                 after iat. We recommend to create tokens that last shorter than 6
                 hours to improve security unless business reasons mandate longer
                 expiration times. Shorter token lifetimes are generally more secure
                 since tokens that have been exfiltrated by attackers can be used for
                 a shorter time. you can configure the maximum lifetime of the
                 incoming token in the configuration of the mapper.
                 The resulting Google token will expire within an hour or at "exp",
                 whichever is earlier.
          - sub: JWT subject, identity asserted in the JWT.
          - aud: Configured in the mapper policy. By default the service account
                 email.

          Claims from the incoming token can be transferred into the output token
          accoding to the mapper configuration. The outgoing claim size is limited.
          Outgoing claims size must be less than 4kB serialized as JSON without
          whitespace.

          Example header:
          {
            "alg": "RS256",
            "kid": "92a4265e14ab04d4d228a48d10d4ca31610936f8"
          }
          Example payload:
          {
            "iss": "https://accounts.google.com",
            "iat": 1517963104,
            "exp": 1517966704,
            "aud":
            "https://iamcredentials.googleapis.com/google.iam.credentials.v1.CloudGaia",
            "sub": "113475438248934895348",
            "my_claims": {
              "additional_claim": "value"
            }
          }
        type: string
      scope:
        description: |-
          Code to identify the scopes to be included in the OAuth 2.0 access token.
          See https://developers.google.com/identity/protocols/googlescopes for more
          information.
          At least one value required.
        items:
          type: string
        type: array
    type: object
  GenerateIdentityBindingAccessTokenResponse:
    properties:
      accessToken:
        description: The OAuth 2.0 access token.
        type: string
      expireTime:
        description: |-
          Token expiration time.
          The expiration time is always set.
        format: google-datetime
        type: string
    type: object
  SignBlobRequest:
    properties:
      delegates:
        description: |-
          The sequence of service accounts in a delegation chain. Each service
          account must be granted the `roles/iam.serviceAccountTokenCreator` role
          on its next service account in the chain. The last service account in the
          chain must be granted the `roles/iam.serviceAccountTokenCreator` role
          on the service account that is specified in the `name` field of the
          request.

          The delegates must have the following format:
          `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`
        items:
          type: string
        type: array
      payload:
        description: The bytes to sign.
        format: byte
        type: string
    type: object
  SignBlobResponse:
    properties:
      keyId:
        description: The ID of the key used to sign the blob.
        type: string
      signedBlob:
        description: The signed blob.
        format: byte
        type: string
    type: object
  SignJwtRequest:
    properties:
      delegates:
        description: |-
          The sequence of service accounts in a delegation chain. Each service
          account must be granted the `roles/iam.serviceAccountTokenCreator` role
          on its next service account in the chain. The last service account in the
          chain must be granted the `roles/iam.serviceAccountTokenCreator` role
          on the service account that is specified in the `name` field of the
          request.

          The delegates must have the following format:
          `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`
        items:
          type: string
        type: array
      payload:
        description: 'The JWT payload to sign: a JSON object that contains a JWT Claims Set.'
        type: string
    type: object
  SignJwtResponse:
    properties:
      keyId:
        description: The ID of the key used to sign the JWT.
        type: string
      signedJwt:
        description: The signed JWT.
        type: string
    type: object
