swagger: '2.0'
schemes:
  - https
  - http
host: clouddirectory.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Cloud Directory</fullname> <p>Amazon Cloud Directory is a component of the AWS Directory Service that simplifies the development and management of cloud-scale web, mobile, and IoT applications. This guide describes the Cloud Directory operations that you can call programmatically and includes detailed information on data types and errors. For information about Cloud Directory features, see <a href="https://aws.amazon.com/directoryservice/">AWS Directory Service</a> and the <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/what_is_cloud_directory.html">Amazon Cloud Directory Developer Guide</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudDirectory
  version: '2017-01-11'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/clouddirectory-2017-01-11.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: clouddirectory
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/clouddirectory/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/amazonclouddirectory/2017-01-11/batchread#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Performs all the read operations in a batch. '
      operationId: BatchRead
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - description: Represents the manner and timing in which the successful write or update of an object is reflected in a subsequent read operation of that same object.
          enum:
            - SERIALIZABLE
            - EVENTUAL
          in: header
          name: x-amz-consistency-level
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Operations:
                description: A list of operations that are part of the batch.
                items:
                  $ref: '#/definitions/BatchReadOperation'
                type: array
            required:
              - Operations
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchReadResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
  '/amazonclouddirectory/2017-01-11/batchwrite#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Performs all the write operations in a batch. Either all the operations succeed or none.
      operationId: BatchWrite
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Operations:
                description: A list of operations that are part of the batch.
                items:
                  $ref: '#/definitions/BatchWriteOperation'
                type: array
            required:
              - Operations
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchWriteResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: BatchWriteException
          schema:
            $ref: '#/definitions/BatchWriteException'
  '/amazonclouddirectory/2017-01-11/directory#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Deletes a directory. Only disabled directories can be deleted. A deleted directory cannot be undone. Exercise extreme caution when deleting directories.
      operationId: DeleteDirectory
      parameters:
        - description: The ARN of the directory to delete.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectoryResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: DirectoryNotDisabledException
          schema:
            $ref: '#/definitions/DirectoryNotDisabledException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryDeletedException
          schema:
            $ref: '#/definitions/DirectoryDeletedException'
        '487':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '488':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
  '/amazonclouddirectory/2017-01-11/directory/create#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: '<p>Creates a <a>Directory</a> by copying the published schema into the directory. A directory cannot be created without a schema.</p> <p>You can also quickly create a directory using a managed schema, called the <code>QuickStartSchema</code>. For more information, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_managed.html">Managed Schema</a> in the <i>Amazon Cloud Directory Developer Guide</i>.</p>'
      operationId: CreateDirectory
      parameters:
        - description: 'The Amazon Resource Name (ARN) of the published schema that will be copied into the data <a>Directory</a>. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: 'The name of the <a>Directory</a>. Should be unique per account, per region.'
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9._-]*$'
                type: string
            required:
              - Name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectoryResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryAlreadyExistsException
          schema:
            $ref: '#/definitions/DirectoryAlreadyExistsException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/amazonclouddirectory/2017-01-11/directory/disable#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Disables the specified directory. Disabled directories cannot be read or written to. Only enabled directories can be disabled. Disabled directories may be reenabled.
      operationId: DisableDirectory
      parameters:
        - description: The ARN of the directory to disable.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableDirectoryResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: DirectoryDeletedException
          schema:
            $ref: '#/definitions/DirectoryDeletedException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '487':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
  '/amazonclouddirectory/2017-01-11/directory/enable#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Enables the specified directory. Only disabled directories can be enabled. Once enabled, the directory can then be read and written to.'
      operationId: EnableDirectory
      parameters:
        - description: The ARN of the directory to enable.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableDirectoryResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: DirectoryDeletedException
          schema:
            $ref: '#/definitions/DirectoryDeletedException'
        '482':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '487':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
  '/amazonclouddirectory/2017-01-11/directory/get#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves metadata about a directory.
      operationId: GetDirectory
      parameters:
        - description: The ARN of the directory.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDirectoryResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  /amazonclouddirectory/2017-01-11/directory/list:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists directories created within an account.
      operationId: ListDirectories
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: The maximum number of results to retrieve.
                minimum: 1
                type: integer
              NextToken:
                description: The pagination token.
                type: string
              state:
                description: 'The state of the directories in the list. Can be either Enabled, Disabled, or Deleted.'
                enum:
                  - ENABLED
                  - DISABLED
                  - DELETED
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDirectoriesResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/amazonclouddirectory/2017-01-11/facet#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets details of the <a>Facet</a>, such as facet name, attributes, <a>Rule</a>s, or <code>ObjectType</code>. You can call this on all kinds of schema facets -- published, development, or applied.'
      operationId: GetFacet
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Facet</a>. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the facet to retrieve.
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9._-]*$'
                type: string
            required:
              - Name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFacetResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '487':
          description: FacetNotFoundException
          schema:
            $ref: '#/definitions/FacetNotFoundException'
    put:
      description: '<p>Does the following:</p> <ol> <li> <p>Adds new <code>Attributes</code>, <code>Rules</code>, or <code>ObjectTypes</code>.</p> </li> <li> <p>Updates existing <code>Attributes</code>, <code>Rules</code>, or <code>ObjectTypes</code>.</p> </li> <li> <p>Deletes existing <code>Attributes</code>, <code>Rules</code>, or <code>ObjectTypes</code>.</p> </li> </ol>'
      operationId: UpdateFacet
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Facet</a>. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AttributeUpdates:
                description: 'List of attributes that need to be updated in a given schema <a>Facet</a>. Each attribute is followed by <code>AttributeAction</code>, which specifies the type of update operation to perform. '
                items:
                  $ref: '#/definitions/FacetAttributeUpdate'
                type: array
              Name:
                description: The name of the facet.
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9._-]*$'
                type: string
              ObjectType:
                description: The object type that is associated with the facet. See <a>CreateFacetRequest$ObjectType</a> for more details.
                enum:
                  - NODE
                  - LEAF_NODE
                  - POLICY
                  - INDEX
                type: string
            required:
              - Name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFacetResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: InvalidFacetUpdateException
          schema:
            $ref: '#/definitions/InvalidFacetUpdateException'
        '487':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
        '488':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '489':
          description: FacetNotFoundException
          schema:
            $ref: '#/definitions/FacetNotFoundException'
        '490':
          description: InvalidRuleException
          schema:
            $ref: '#/definitions/InvalidRuleException'
  '/amazonclouddirectory/2017-01-11/facet/attributes#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves attributes attached to the facet.
      operationId: ListFacetAttributes
      parameters:
        - description: The ARN of the schema where the facet resides.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: The maximum number of results to retrieve.
                minimum: 1
                type: integer
              Name:
                description: The name of the facet whose attributes will be retrieved.
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9._-]*$'
                type: string
              NextToken:
                description: The pagination token.
                type: string
            required:
              - Name
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFacetAttributesResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '487':
          description: FacetNotFoundException
          schema:
            $ref: '#/definitions/FacetNotFoundException'
        '488':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/amazonclouddirectory/2017-01-11/facet/create#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Creates a new <a>Facet</a> in a schema. Facet creation is allowed only in development or applied schemas.
      operationId: CreateFacet
      parameters:
        - description: 'The schema ARN in which the new <a>Facet</a> will be created. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Attributes:
                description: The attributes that are associated with the <a>Facet</a>.
                items:
                  $ref: '#/definitions/FacetAttribute'
                type: array
              FacetStyle:
                description: 'There are two different styles that you can define on any given facet, <code>Static</code> and <code>Dynamic</code>. For static facets, all attributes must be defined in the schema. For dynamic facets, attributes can be defined during data plane operations.'
                enum:
                  - STATIC
                  - DYNAMIC
                type: string
              Name:
                description: 'The name of the <a>Facet</a>, which is unique for a given schema.'
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9._-]*$'
                type: string
              ObjectType:
                description: '<p>Specifies whether a given object created from this facet is of type node, leaf node, policy or index.</p> <ul> <li> <p>Node: Can have multiple children but one parent.</p> </li> </ul> <ul> <li> <p>Leaf node: Cannot have children but can have multiple parents.</p> </li> </ul> <ul> <li> <p>Policy: Allows you to store a policy document and policy type. For more information, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies">Policies</a>.</p> </li> </ul> <ul> <li> <p>Index: Can be created with the Index API.</p> </li> </ul>'
                enum:
                  - NODE
                  - LEAF_NODE
                  - POLICY
                  - INDEX
                type: string
            required:
              - Name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFacetResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '487':
          description: FacetAlreadyExistsException
          schema:
            $ref: '#/definitions/FacetAlreadyExistsException'
        '488':
          description: InvalidRuleException
          schema:
            $ref: '#/definitions/InvalidRuleException'
        '489':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
  '/amazonclouddirectory/2017-01-11/facet/delete#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Deletes a given <a>Facet</a>. All attributes and <a>Rule</a>s that are associated with the facet will be deleted. Only development schema facets are allowed deletion.
      operationId: DeleteFacet
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Facet</a>. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the facet to delete.
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9._-]*$'
                type: string
            required:
              - Name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFacetResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '487':
          description: FacetNotFoundException
          schema:
            $ref: '#/definitions/FacetNotFoundException'
        '488':
          description: FacetInUseException
          schema:
            $ref: '#/definitions/FacetInUseException'
  '/amazonclouddirectory/2017-01-11/facet/list#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the names of facets that exist in a schema.
      operationId: ListFacetNames
      parameters:
        - description: The Amazon Resource Name (ARN) to retrieve facet names from.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: The maximum number of results to retrieve.
                minimum: 1
                type: integer
              NextToken:
                description: The pagination token.
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFacetNamesResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '487':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  '/amazonclouddirectory/2017-01-11/index#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Creates an index object. See <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/indexing_search.html">Indexing and search</a> for more information.'
      operationId: CreateIndex
      parameters:
        - description: The ARN of the directory where the index should be created.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              IsUnique:
                description: Indicates whether the attribute that is being indexed has unique values or not.
                type: boolean
              LinkName:
                description: The name of the link between the parent object and the index object.
                maxLength: 64
                minLength: 1
                pattern: '[^\/\[\]\(\):\{\}#@!?\s\\;]+'
                type: string
              OrderedIndexedAttributeList:
                description: Specifies the attributes that should be indexed on. Currently only a single attribute is supported.
                items:
                  $ref: '#/definitions/AttributeKey'
                type: array
              ParentReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - OrderedIndexedAttributeList
              - IsUnique
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateIndexResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
        '489':
          description: LinkNameAlreadyInUseException
          schema:
            $ref: '#/definitions/LinkNameAlreadyInUseException'
        '490':
          description: UnsupportedIndexTypeException
          schema:
            $ref: '#/definitions/UnsupportedIndexTypeException'
  '/amazonclouddirectory/2017-01-11/index/attach#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Attaches the specified object to the specified index.
      operationId: AttachToIndex
      parameters:
        - description: The Amazon Resource Name (ARN) of the directory where the object and index exist.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              IndexReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              TargetReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - IndexReference
              - TargetReference
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachToIndexResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: InvalidAttachmentException
          schema:
            $ref: '#/definitions/InvalidAttachmentException'
        '488':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '489':
          description: LinkNameAlreadyInUseException
          schema:
            $ref: '#/definitions/LinkNameAlreadyInUseException'
        '490':
          description: IndexedAttributeMissingException
          schema:
            $ref: '#/definitions/IndexedAttributeMissingException'
        '491':
          description: NotIndexException
          schema:
            $ref: '#/definitions/NotIndexException'
  '/amazonclouddirectory/2017-01-11/index/detach#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Detaches the specified object from the specified index.
      operationId: DetachFromIndex
      parameters:
        - description: The Amazon Resource Name (ARN) of the directory the index and object exist in.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              IndexReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              TargetReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - IndexReference
              - TargetReference
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachFromIndexResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: ObjectAlreadyDetachedException
          schema:
            $ref: '#/definitions/ObjectAlreadyDetachedException'
        '489':
          description: NotIndexException
          schema:
            $ref: '#/definitions/NotIndexException'
  '/amazonclouddirectory/2017-01-11/index/targets#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists objects attached to the specified index.
      operationId: ListIndex
      parameters:
        - description: The ARN of the directory that the index exists in.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - description: The consistency level to execute the request at.
          enum:
            - SERIALIZABLE
            - EVENTUAL
          in: header
          name: x-amz-consistency-level
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              IndexReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              MaxResults:
                description: 'The maximum number of objects in a single page to retrieve from the index during a request. For more information, see <a href="http://docs.aws.amazon.com/clouddirectory/latest/developerguide/limits.html">Amazon Cloud Directory Limits</a>.'
                minimum: 1
                type: integer
              NextToken:
                description: The pagination token.
                type: string
              RangesOnIndexedValues:
                description: Specifies the ranges of indexed values that you want to query.
                items:
                  $ref: '#/definitions/ObjectAttributeRange'
                type: array
            required:
              - IndexReference
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIndexResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
        '484':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '487':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '488':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '489':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '490':
          description: NotIndexException
          schema:
            $ref: '#/definitions/NotIndexException'
  '/amazonclouddirectory/2017-01-11/object#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Creates an object in a <a>Directory</a>. Additionally attaches the object to a parent, if a parent reference and <code>LinkName</code> is specified. An object is simply a collection of <a>Facet</a> attributes. You can also use this API call to create a policy object, if the facet from which you create the object is a policy facet. '
      operationId: CreateObject
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> in which the object will be created. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              LinkName:
                description: The name of link that is used to attach this object to a parent.
                maxLength: 64
                minLength: 1
                pattern: '[^\/\[\]\(\):\{\}#@!?\s\\;]+'
                type: string
              ObjectAttributeList:
                description: The attribute map whose attribute ARN contains the key and attribute value as the map value.
                items:
                  $ref: '#/definitions/AttributeKeyAndValue'
                type: array
              ParentReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              SchemaFacets:
                description: A list of schema facets to be associated with the object. Do not provide minor version components. See <a>SchemaFacet</a> for details.
                items:
                  $ref: '#/definitions/SchemaFacet'
                type: array
            required:
              - SchemaFacets
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateObjectResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
        '489':
          description: LinkNameAlreadyInUseException
          schema:
            $ref: '#/definitions/LinkNameAlreadyInUseException'
        '490':
          description: UnsupportedIndexTypeException
          schema:
            $ref: '#/definitions/UnsupportedIndexTypeException'
  '/amazonclouddirectory/2017-01-11/object/attach#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: '<p>Attaches an existing object to another object. An object can be accessed in two ways:</p> <ol> <li> <p>Using the path</p> </li> <li> <p>Using <code>ObjectIdentifier</code> </p> </li> </ol>'
      operationId: AttachObject
      parameters:
        - description: 'Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where both objects reside. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ChildReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              LinkName:
                description: The link name with which the child object is attached to the parent.
                maxLength: 64
                minLength: 1
                pattern: '[^\/\[\]\(\):\{\}#@!?\s\\;]+'
                type: string
              ParentReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - ParentReference
              - ChildReference
              - LinkName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachObjectResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: LinkNameAlreadyInUseException
          schema:
            $ref: '#/definitions/LinkNameAlreadyInUseException'
        '489':
          description: InvalidAttachmentException
          schema:
            $ref: '#/definitions/InvalidAttachmentException'
        '490':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '491':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
  '/amazonclouddirectory/2017-01-11/object/attributes#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists all attributes that are associated with an object. '
      operationId: ListObjectAttributes
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where the object resides. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - description: Represents the manner and timing in which the successful write or update of an object is reflected in a subsequent read operation of that same object.
          enum:
            - SERIALIZABLE
            - EVENTUAL
          in: header
          name: x-amz-consistency-level
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              FacetFilter:
                description: A facet.
                properties:
                  FacetName:
                    $ref: '#/definitions/FacetName'
                    description: The name of the facet.
                  SchemaArn:
                    $ref: '#/definitions/Arn'
                    description: 'The ARN of the schema that contains the facet with no minor component. See <a>arns</a> and <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_inplaceschemaupgrade.html">In-Place Schema Upgrade</a> for a description of when to provide minor versions.'
                type: object
              MaxResults:
                description: The maximum number of items to be retrieved in a single call. This is an approximate number.
                minimum: 1
                type: integer
              NextToken:
                description: The pagination token.
                type: string
              ObjectReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - ObjectReference
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectAttributesResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '489':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
  '/amazonclouddirectory/2017-01-11/object/attributes/get#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves attributes within a facet that are associated with an object.
      operationId: GetObjectAttributes
      parameters:
        - description: The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where the object resides.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - description: The consistency level at which to retrieve the attributes on an object.
          enum:
            - SERIALIZABLE
            - EVENTUAL
          in: header
          name: x-amz-consistency-level
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AttributeNames:
                description: List of attribute names whose values will be retrieved.
                items:
                  $ref: '#/definitions/AttributeName'
                type: array
              ObjectReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              SchemaFacet:
                description: A facet.
                properties:
                  FacetName:
                    $ref: '#/definitions/FacetName'
                    description: The name of the facet.
                  SchemaArn:
                    $ref: '#/definitions/Arn'
                    description: 'The ARN of the schema that contains the facet with no minor component. See <a>arns</a> and <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_inplaceschemaupgrade.html">In-Place Schema Upgrade</a> for a description of when to provide minor versions.'
                type: object
            required:
              - ObjectReference
              - SchemaFacet
              - AttributeNames
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectAttributesResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
  '/amazonclouddirectory/2017-01-11/object/children#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a paginated list of child objects that are associated with a given object.
      operationId: ListObjectChildren
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where the object resides. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - description: Represents the manner and timing in which the successful write or update of an object is reflected in a subsequent read operation of that same object.
          enum:
            - SERIALIZABLE
            - EVENTUAL
          in: header
          name: x-amz-consistency-level
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: The maximum number of items to be retrieved in a single call. This is an approximate number.
                minimum: 1
                type: integer
              NextToken:
                description: The pagination token.
                type: string
              ObjectReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - ObjectReference
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectChildrenResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '489':
          description: NotNodeException
          schema:
            $ref: '#/definitions/NotNodeException'
  '/amazonclouddirectory/2017-01-11/object/delete#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Deletes an object and its associated attributes. Only objects with no children and no parents can be deleted. The maximum number of attributes that can be deleted during an object deletion is 30. For more information, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/limits.html">Amazon Cloud Directory Limits</a>.'
      operationId: DeleteObject
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where the object resides. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ObjectReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - ObjectReference
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: ObjectNotDetachedException
          schema:
            $ref: '#/definitions/ObjectNotDetachedException'
  '/amazonclouddirectory/2017-01-11/object/detach#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Detaches a given object from the parent object. The object that is to be detached from the parent is specified by the link name.
      operationId: DetachObject
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where objects reside. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              LinkName:
                description: The link name associated with the object that needs to be detached.
                maxLength: 64
                minLength: 1
                pattern: '[^\/\[\]\(\):\{\}#@!?\s\\;]+'
                type: string
              ParentReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
            required:
              - ParentReference
              - LinkName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachObjectResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: NotNodeException
          schema:
            $ref: '#/definitions/NotNodeException'
  '/amazonclouddirectory/2017-01-11/object/facets#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Adds a new <a>Facet</a> to an object. An object can have more than one facet applied on it.
      operationId: AddFacetToObject
      parameters:
        - description: 'The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where the object resides. For more information, see <a>arns</a>.'
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ObjectAttributeList:
                description: Attributes on the facet that you are adding to the object.
                items:
                  $ref: '#/definitions/AttributeKeyAndValue'
                type: array
              ObjectReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
                    description: '<p>A path selector supports easy selection of an object by the parent/child links leading to it from the directory root. Use the link names from each parent/child link to construct the path. Path selectors start with a slash (/) and link names are separated by slashes. For more information about paths, see <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_access_objects.html">Access Objects</a>. You can identify an object in one of the following ways:</p> <ul> <li> <p> <i>$ObjectIdentifier</i> - An object identifier is an opaque string provided by Amazon Cloud Directory. When creating objects, the system will provide you with the identifier of the created object. An object’s identifier is immutable and no two objects will ever share the same object identifier</p> </li> <li> <p> <i>/some/path</i> - Identifies the object based on path</p> </li> <li> <p> <i>#SomeBatchReference</i> - Identifies the object in a batch call</p> </li> </ul>'
                type: object
              SchemaFacet:
                description: A facet.
                properties:
                  FacetName:
                    $ref: '#/definitions/FacetName'
                    description: The name of the facet.
                  SchemaArn:
                    $ref: '#/definitions/Arn'
                    description: 'The ARN of the schema that contains the facet with no minor component. See <a>arns</a> and <a href="https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_inplaceschemaupgrade.html">In-Place Schema Upgrade</a> for a description of when to provide minor versions.'
                type: object
            required:
              - SchemaFacet
              - ObjectReference
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddFacetToObjectResponse'
        '480':
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
        '481':
          description: InvalidArnException
          schema:
            $ref: '#/definitions/InvalidArnException'
        '482':
          description: RetryableConflictException
          schema:
            $ref: '#/definitions/RetryableConflictException'
        '483':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '486':
          description: DirectoryNotEnabledException
          schema:
            $ref: '#/definitions/DirectoryNotEnabledException'
        '487':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '488':
          description: FacetValidationException
          schema:
            $ref: '#/definitions/FacetValidationException'
  '/amazonclouddirectory/2017-01-11/object/facets/delete#x-amz-data-partition':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Removes the specified facet from the specified object.
      operationId: RemoveFacetFromObject
      parameters:
        - description: The ARN of the directory in which the object resides.
          in: header
          name: x-amz-data-partition
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ObjectReference:
                description: The reference that identifies an object.
                properties:
                  Selector:
                    $ref: '#/definitions/SelectorObjectReference'
[...]
