openapi: 3.0.1
servers:
  - url: https://messaging.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Messaging
  version: 1.31.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_messaging_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_messaging_v1
paths:
  /v1/Deactivations:
    description: A Deactivation resource to retrieve a list of United States phone numbers that have been deactivated by mobile carriers on a specific date.
    get:
      description: Fetch a list of all United States numbers that have been deactivated on a specific date.
      operationId: FetchDeactivation
      parameters:
        - description: The request will return a list of all United States Phone Numbers that were deactivated on the day specified by this parameter. This date should be specified in YYYY-MM-DD format.
          in: query
          name: Date
          schema:
            format: date
            type: string
      responses:
        "307":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.deactivation"
          description: Temporary Redirect
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: deactivations
      defaultOutputProperties:
        - redirect_to
      pathType: instance
  /v1/Services:
    description: A Messaging Service resource to create, fetch, update, delete or add/remove senders from Messaging Services.
    get:
      description: ""
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/messaging.v1.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AreaCodeGeomatch:
                  description: Whether to enable [Area Code Geomatch](https://www.twilio.com/docs/sms/services#area-code-geomatch) on the Service Instance.
                  type: boolean
                FallbackMethod:
                  description: "The HTTP method we should use to call `fallback_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                FallbackToLongCode:
                  description: Whether to enable [Fallback to Long Code](https://www.twilio.com/docs/sms/services#fallback-to-long-code) for messages sent through the Service instance.
                  type: boolean
                FallbackUrl:
                  description: The URL that we call using `fallback_method` if an error occurs while retrieving or executing the TwiML from the Inbound Request URL. If the `use_inbound_webhook_on_number` field is enabled then the webhook url defined on the phone number will override the `fallback_url` defined for the Messaging Service.
                  format: uri
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                InboundMethod:
                  description: The HTTP method we should use to call `inbound_request_url`. Can be `GET` or `POST` and the default is `POST`.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                InboundRequestUrl:
                  description: The URL we call using `inbound_method` when a message is received by any phone number or short code in the Service. When this property is `null`, receiving inbound messages is disabled. All messages sent to the Twilio phone number or short code will not be logged and received on the Account. If the `use_inbound_webhook_on_number` field is enabled then the webhook url defined on the phone number will override the `inbound_request_url` defined for the Messaging Service.
                  format: uri
                  type: string
                MmsConverter:
                  description: Whether to enable the [MMS Converter](https://www.twilio.com/docs/sms/services#mms-converter) for messages sent through the Service instance.
                  type: boolean
                ScanMessageContent:
                  description: Reserved.
                  enum:
                    - inherit
                    - enable
                    - disable
                  type: string
                SmartEncoding:
                  description: Whether to enable [Smart Encoding](https://www.twilio.com/docs/sms/services#smart-encoding) for messages sent through the Service instance.
                  type: boolean
                StatusCallback:
                  description: The URL we should call to [pass status updates](https://www.twilio.com/docs/sms/api/message-resource#message-status-values) about message delivery.
                  format: uri
                  type: string
                StickySender:
                  description: Whether to enable [Sticky Sender](https://www.twilio.com/docs/sms/services#sticky-sender) on the Service instance.
                  type: boolean
                SynchronousValidation:
                  description: Reserved.
                  type: boolean
                UseInboundWebhookOnNumber:
                  description: A boolean value that indicates either the webhook url configured on the phone number will be used or `inbound_request_url`/`fallback_url` url will be called when a message is received from the phone number. If this field is enabled then the webhook url defined on the phone number will override the `inbound_request_url`/`fallback_url` defined for the Messaging Service.
                  type: boolean
                Usecase:
                  description: "A string that describes the scenario in which the Messaging Service will be used. Examples: [notification, marketing, verification, poll ..]."
                  type: string
                ValidityPeriod:
                  description: How long, in seconds, messages sent from the Service are valid. Can be an integer from `1` to `14,400`.
                  type: integer
              required:
                - FriendlyName
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      pathType: list
  /v1/Services/PreregisteredUsa2p:
    description: Resource to associate preregistered campaign with Messaging Service.
    post:
      description: ""
      operationId: CreateExternalCampaign
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CampaignId:
                  description: ID of the preregistered campaign.
                  type: string
                MessagingServiceSid:
                  description: The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api) that the resource is associated with.
                  maxLength: 34
                  minLength: 34
                  pattern: ^MG[0-9a-fA-F]{32}$
                  type: string
              required:
                - CampaignId
                - MessagingServiceSid
              title: CreateExternalCampaignRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.external_campaign"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: external_campaign
      defaultOutputProperties:
        - campaign_id
        - messaging_service_sid
      pathType: list
  /v1/Services/Usecases:
    description: Use Case resource. Fetch possible use cases for a Messaging Service.
    get:
      description: ""
      operationId: FetchUsecase
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.usecase"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - usecases
      pathType: list
  "/v1/Services/{MessagingServiceSid}/Compliance/Usa2p":
    description: A service for (fetch/create/delete) A2P Campaign for a Messaging Service
    get:
      description: ""
      operationId: ListUsAppToPerson
      parameters:
        - description: The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api) to fetch the resource from.
          in: path
          name: MessagingServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  compliance:
                    items:
                      $ref: "#/components/schemas/messaging.v1.service.us_app_to_person"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListUsAppToPersonResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateUsAppToPerson
      parameters:
        - description: The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api) to create the resources from.
          in: path
          name: MessagingServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                BrandRegistrationSid:
                  description: A2P Brand Registration SID
                  maxLength: 34
                  minLength: 34
                  pattern: ^BN[0-9a-fA-F]{32}$
                  type: string
                Description:
                  description: A short description of what this SMS campaign does.
                  type: string
                HasEmbeddedLinks:
                  description: Indicates that this SMS campaign will send messages that contain links.
                  type: boolean
                HasEmbeddedPhone:
                  description: Indicates that this SMS campaign will send messages that contain phone numbers.
                  type: boolean
                MessageSamples:
                  description: Message samples, at least 2 and up to 5 sample messages, <=1024 chars each.
                  items:
                    type: string
                  type: array
                UsAppToPersonUsecase:
                  description: "A2P Campaign Use Case. Examples: [ 2FA, EMERGENCY, MARKETING..]"
                  type: string
              required:
                - BrandRegistrationSid
                - Description
                - MessageSamples
                - UsAppToPersonUsecase
                - HasEmbeddedLinks
                - HasEmbeddedPhone
              title: CreateUsAppToPersonRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.us_app_to_person"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: us_app_to_person
      defaultOutputProperties:
        - brand_registration_sid
        - campaign_status
        - date_created
      parent: /Services
      pathType: list
  "/v1/Services/{MessagingServiceSid}/Compliance/Usa2p/Usecases":
    description: Messaging Service Use Case resource. Fetch possible use cases for service. The Use Cases API returns an empty list if there is an issue with the customer's A2P brand registration. This Brand cannot register any campaign use cases. Customers are requested to contact support with their A2P brand information.
    get:
      description: ""
      operationId: FetchUsAppToPersonUsecase
      parameters:
        - description: The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api) to fetch the resource from.
          in: path
          name: MessagingServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The unique string to identify the A2P brand.
          in: query
          name: BrandRegistrationSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.us_app_to_person_usecase"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: us_app_to_person_usecase
      defaultOutputProperties:
        - us_app_to_person_usecases
      parent: /Services
      pathType: list
  "/v1/Services/{MessagingServiceSid}/Compliance/Usa2p/{Sid}":
    delete:
      description: ""
      operationId: DeleteUsAppToPerson
      parameters:
        - description: The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api) to delete the resource from.
          in: path
          name: MessagingServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the US A2P Compliance resource to delete `QE2c6890da8086d771620e9b13fadeba0b`.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^QE[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A service for (fetch/create/delete) A2P Campaign for a Messaging Service
    get:
      description: ""
      operationId: FetchUsAppToPerson
      parameters:
        - description: The SID of the [Messaging Service](https://www.twilio.com/docs/messaging/services/api) to fetch the resource from.
          in: path
          name: MessagingServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the US A2P Compliance resource to fetch `QE2c6890da8086d771620e9b13fadeba0b`.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^QE[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.us_app_to_person"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: us_app_to_person
      defaultOutputProperties:
        - brand_registration_sid
        - campaign_status
        - date_created
      parent: /Services
      pathType: instance
  "/v1/Services/{ServiceSid}/AlphaSenders":
    description: A Messaging Service resource to add, fetch or remove an Alpha Sender ID from a Messaging Service.
    get:
      description: ""
      operationId: ListAlphaSender
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to read the resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  alpha_senders:
                    items:
                      $ref: "#/components/schemas/messaging.v1.service.alpha_sender"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAlphaSenderResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateAlphaSender
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to create the resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AlphaSender:
                  description: The Alphanumeric Sender ID string. Can be up to 11 characters long. Valid characters are A-Z, a-z, 0-9, space, and hyphen `-`. This value cannot contain only numbers.
                  type: string
              required:
                - AlphaSender
              title: CreateAlphaSenderRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.alpha_sender"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - alpha_sender
      parent: /Services
      pathType: list
  "/v1/Services/{ServiceSid}/AlphaSenders/{Sid}":
    delete:
      description: ""
      operationId: DeleteAlphaSender
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to delete the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the AlphaSender resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A Messaging Service resource to add, fetch or remove an Alpha Sender ID from a Messaging Service.
    get:
      description: ""
      operationId: FetchAlphaSender
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to fetch the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the AlphaSender resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.alpha_sender"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - alpha_sender
      parent: /Services
      pathType: instance
  "/v1/Services/{ServiceSid}/PhoneNumbers":
    description: A Messaging Service resource to add, fetch or remove phone numbers from a Messaging Service.
    get:
      description: ""
      operationId: ListPhoneNumber
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to read the resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  phone_numbers:
                    items:
                      $ref: "#/components/schemas/messaging.v1.service.phone_number"
                    type: array
                title: ListPhoneNumberResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreatePhoneNumber
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to create the resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PhoneNumberSid:
                  description: The SID of the Phone Number being added to the Service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^PN[0-9a-fA-F]{32}$
                  type: string
              required:
                - PhoneNumberSid
              title: CreatePhoneNumberRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.phone_number"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - phone_number
        - country_code
      parent: /Services
      pathType: list
  "/v1/Services/{ServiceSid}/PhoneNumbers/{Sid}":
    delete:
      description: ""
      operationId: DeletePhoneNumber
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to delete the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the PhoneNumber resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A Messaging Service resource to add, fetch or remove phone numbers from a Messaging Service.
    get:
      description: ""
      operationId: FetchPhoneNumber
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to fetch the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the PhoneNumber resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.phone_number"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - phone_number
        - country_code
      parent: /Services
      pathType: instance
  "/v1/Services/{ServiceSid}/ShortCodes":
    description: A Messaging Service resource to add, fetch or remove short code numbers from a Messaging Service.
    get:
      description: ""
      operationId: ListShortCode
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to read the resources from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  short_codes:
                    items:
                      $ref: "#/components/schemas/messaging.v1.service.short_code"
                    type: array
                title: ListShortCodeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateShortCode
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to create the resource under.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ShortCodeSid:
                  description: The SID of the ShortCode resource being added to the Service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^SC[0-9a-fA-F]{32}$
                  type: string
              required:
                - ShortCodeSid
              title: CreateShortCodeRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.short_code"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - short_code
        - country_code
      parent: /Services
      pathType: list
  "/v1/Services/{ServiceSid}/ShortCodes/{Sid}":
    delete:
      description: ""
      operationId: DeleteShortCode
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to delete the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the ShortCode resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A Messaging Service resource to add, fetch or remove short code numbers from a Messaging Service.
    get:
      description: ""
      operationId: FetchShortCode
      parameters:
        - description: The SID of the [Service](https://www.twilio.com/docs/chat/rest/service-resource) to fetch the resource from.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the ShortCode resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service.short_code"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - short_code
        - country_code
      parent: /Services
      pathType: instance
  "/v1/Services/{Sid}":
    delete:
      description: ""
      operationId: DeleteService
      parameters:
        - description: The SID of the Service resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: A Messaging Service resource to create, fetch, update, delete or add/remove senders from Messaging Services.
    get:
      description: ""
      operationId: FetchService
      parameters:
        - description: The SID of the Service resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: UpdateService
      parameters:
        - description: The SID of the Service resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^MG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AreaCodeGeomatch:
                  description: Whether to enable [Area Code Geomatch](https://www.twilio.com/docs/sms/services#area-code-geomatch) on the Service Instance.
                  type: boolean
                FallbackMethod:
                  description: "The HTTP method we should use to call `fallback_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                FallbackToLongCode:
                  description: Whether to enable [Fallback to Long Code](https://www.twilio.com/docs/sms/services#fallback-to-long-code) for messages sent through the Service instance.
                  type: boolean
                FallbackUrl:
                  description: The URL that we call using `fallback_method` if an error occurs while retrieving or executing the TwiML from the Inbound Request URL. If the `use_inbound_webhook_on_number` field is enabled then the webhook url defined on the phone number will override the `fallback_url` defined for the Messaging Service.
                  format: uri
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                InboundMethod:
                  description: The HTTP method we should use to call `inbound_request_url`. Can be `GET` or `POST` and the default is `POST`.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                InboundRequestUrl:
                  description: The URL we call using `inbound_method` when a message is received by any phone number or short code in the Service. When this property is `null`, receiving inbound messages is disabled. All messages sent to the Twilio phone number or short code will not be logged and received on the Account. If the `use_inbound_webhook_on_number` field is enabled then the webhook url defined on the phone number will override the `inbound_request_url` defined for the Messaging Service.
                  format: uri
                  type: string
                MmsConverter:
                  description: Whether to enable the [MMS Converter](https://www.twilio.com/docs/sms/services#mms-converter) for messages sent through the Service instance.
                  type: boolean
                ScanMessageContent:
                  description: Reserved.
                  enum:
                    - inherit
                    - enable
                    - disable
                  type: string
                SmartEncoding:
                  description: Whether to enable [Smart Encoding](https://www.twilio.com/docs/sms/services#smart-encoding) for messages sent through the Service instance.
                  type: boolean
                StatusCallback:
                  description: The URL we should call to [pass status updates](https://www.twilio.com/docs/sms/api/message-resource#message-status-values) about message delivery.
                  format: uri
                  type: string
                StickySender:
                  description: Whether to enable [Sticky Sender](https://www.twilio.com/docs/sms/services#sticky-sender) on the Service instance.
                  type: boolean
                SynchronousValidation:
                  description: Reserved.
                  type: boolean
                UseInboundWebhookOnNumber:
                  description: A boolean value that indicates either the webhook url configured on the phone number will be used or `inbound_request_url`/`fallback_url` url will be called when a message is received from the phone number. If this field is enabled then the webhook url defined on the phone number will override the `inbound_request_url`/`fallback_url` defined for the Messaging Service.
                  type: boolean
                Usecase:
                  description: "A string that describes the scenario in which the Messaging Service will be used. Examples: [notification, marketing, verification, poll ..]"
                  type: string
                ValidityPeriod:
                  description: How long, in seconds, messages sent from the Service are valid. Can be an integer from `1` to `14,400`.
                  type: integer
              title: UpdateServiceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      pathType: instance
  /v1/a2p/BrandRegistrations:
    description: A Messaging Service resource to add and fetch Brand Registrations.
    get:
      description: ""
      operationId: ListBrandRegistrations
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/messaging.v1.brand_registrations"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListBrandRegistrationsResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateBrandRegistrations
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                A2PProfileBundleSid:
                  description: A2P Messaging Profile Bundle Sid.
                  maxLength: 34
                  minLength: 34
                  pattern: ^BU[0-9a-fA-F]{32}$
                  type: string
                BrandType:
                  description: 'Type of brand being created. One of: "STANDARD", "STARTER". STARTER is for low volume, starter use cases. STANDARD is for all other use cases.'
                  type: string
                CustomerProfileBundleSid:
                  description: Customer Profile Bundle Sid.
                  maxLength: 34
                  minLength: 34
                  pattern: ^BU[0-9a-fA-F]{32}$
                  type: string
                Mock:
                  description: A boolean that specifies whether brand should be a mock or not. If true, brand will be registered as a mock brand. Defaults to false if no value is provided.
                  type: boolean
                SkipAutomaticSecVet:
                  description: A flag to disable automatic secondary vetting for brands which it would otherwise be done.
                  type: boolean
              required:
                - CustomerProfileBundleSid
                - A2PProfileBundleSid
              title: CreateBrandRegistrationsRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.brand_registrations"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - date_created
      pathType: list
  "/v1/a2p/BrandRegistrations/{BrandSid}/Vettings":
    description: A Messaging Service resource to add and get Brand Vettings.
    get:
      description: ""
      operationId: ListBrandVetting
      parameters:
        - description: The SID of the Brand Registration resource of the vettings to read .
          in: path
          name: BrandSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BN[0-9a-fA-F]{32}$
            type: string
        - description: The third-party provider of the vettings to read
          in: query
          name: VettingProvider
          schema:
            enum:
              - campaign-verify
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/messaging.v1.brand_registrations.brand_vetting"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListBrandVettingResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateBrandVetting
      parameters:
        - description: The SID of the Brand Registration resource of the vettings to create .
          in: path
          name: BrandSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BN[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                VettingId:
                  description: The unique ID of the vetting
                  type: string
                VettingProvider:
                  description: The third-party provider of the vettings to create .
                  enum:
                    - campaign-verify
                  type: string
              required:
                - VettingProvider
              title: CreateBrandVettingRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.brand_registrations.brand_vetting"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: brand_vetting
      defaultOutputProperties:
        - account_sid
        - brand_sid
        - brand_vetting_sid
        - date_created
        - date_updated
        - vetting_status
        - vetting_class
      parent: /a2p/BrandRegistrations
      pathType: list
  "/v1/a2p/BrandRegistrations/{BrandSid}/Vettings/{BrandVettingSid}":
    description: A Messaging Service resource to add and get Brand Vettings.
    get:
      description: ""
      operationId: FetchBrandVetting
      parameters:
        - description: The SID of the Brand Registration resource of the vettings to read .
          in: path
          name: BrandSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BN[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio SID of the third-party vetting record.
          in: path
          name: BrandVettingSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^VT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.brand_registrations.brand_vetting"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      className: brand_vetting
      defaultOutputProperties:
        - account_sid
        - brand_sid
        - brand_vetting_sid
        - date_created
        - date_updated
        - vetting_status
        - vetting_class
      parent: /a2p/BrandRegistrations
      pathType: instance
  "/v1/a2p/BrandRegistrations/{Sid}":
    description: A Messaging Service resource to add and fetch Brand Registrations.
    get:
      description: ""
      operationId: FetchBrandRegistrations
      parameters:
        - description: The SID of the Brand Registration resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.brand_registrations"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: UpdateBrandRegistrations
      parameters:
        - description: The SID of the Brand Registration resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BN[0-9a-fA-F]{32}$
            type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messaging.v1.brand_registrations"
          description: Accepted
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - date_created
      pathType: instance
components:
  schemas:
    messaging.v1.brand_registrations:
      properties:
        a2p_profile_bundle_sid:
          description: A2P Messaging Profile Bundle BundleSid
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BU[0-9a-fA-F]{32}$
          type: string
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        brand_feedback:
          description: Brand feedback
          items:
            enum:
              - TAX_ID
              - STOCK_SYMBOL
              - NONPROFIT
              - GOVERNMENT_ENTITY
              - OTHERS
            type: string
          nullable: true
          type: array
        brand_score:
          description: Brand score
          nullable: true
          type: integer
        brand_type:
          description: 'Type of brand. One of: "STANDARD", "STARTER".'
          nullable: true
          type: string
        customer_profile_bundle_sid:
          description: A2P Messaging Profile Bundle BundleSid
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BU[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        failure_reason:
          description: A reason why brand registration has failed
          nullable: true
          type: string
        government_entity:
          description: Government Entity
          nullable: true
          type: boolean
        identity_status:
          description: Identity Status
          enum:
            - SELF_DECLARED
            - UNVERIFIED
            - VERIFIED
            - VETTED_VERIFIED
          nullable: true
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        mock:
          description: A boolean that specifies whether brand should be a mock or not. If true, brand will be registered as a mock brand. Defaults to false if no value is provided.
          nullable: true
          type: boolean
        russell_3000:
          description: Russell 3000
          nullable: true
          type: boolean
        sid:
          description: A2P BrandRegistration Sid
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BN[0-9a-fA-F]{32}$
          type: string
        skip_automatic_sec_vet:
          description: Skip Automatic Secondary Vetting
          nullable: true
          type: boolean
        status:
          description: Brand Registration status.
          enum:
            - PENDING
            - APPROVED
            - FAILED
            - IN_REVIEW
            - DELETED
          nullable: true
          type: string
        tax_exempt_status:
          description: Tax Exempt Status
          nullable: true
          type: string
        tcr_id:
          description: Campaign Registry (TCR) Brand ID
          nullable: true
          type: string
        url:
          description: The absolute URL of the Brand Registration
          format: uri
          nullable: true
          type: string
      type: object
    messaging.v1.brand_registrations.brand_vetting:
      properties:
        account_sid:
          description: The SID of the Account that created the vetting
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        brand_sid:
          description: A2P BrandRegistration Sid
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BN[0-9a-fA-F]{32}$
          type: string
        brand_vetting_sid:
          description: SID for third-party vetting record
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^VT[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        url:
          description: The absolute URL of the Brand Vetting
          format: uri
          nullable: true
          type: string
        vetting_class:
          description: The type of vetting
          nullable: true
          type: string
        vetting_id:
          description: The unique ID of the vetting
          nullable: true
          type: string
        vetting_provider:
          description: Third-party provider that has conducted the vetting
          enum:
            - campaign-verify
          nullable: true
          type: string
        vetting_status:
          description: Status of vetting attempt
          nullable: true
          type: string
      type: object
    messaging.v1.deactivation:
      properties:
        redirect_to:
          description: Redirect url to the list of deactivated numbers.
          format: uri
          nullable: true
          type: string
      type: object
    messaging.v1.external_campaign:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        campaign_id:
          description: ID of the preregistered campaign.
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        messaging_service_sid:
          description: The SID of the Messaging Service the resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that identifies a US A2P Compliance resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^QE[0-9a-fA-F]{32}$
          type: string
      type: object
    messaging.v1.service:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        area_code_geomatch:
          description: Whether to enable Area Code Geomatch on the Service Instance
          nullable: true
          type: boolean
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        fallback_method:
          description: The HTTP method we use to call fallback_url
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          format: http-method
          nullable: true
          type: string
        fallback_to_long_code:
          description: Whether to enable Fallback to Long Code for messages sent through the Service instance
          nullable: true
          type: boolean
        fallback_url:
          description: The URL that we call using fallback_method if an error occurs while retrieving or executing the TwiML from the Inbound Request URL. This field will be overridden if the `use_inbound_webhook_on_number` field is enabled.
          format: uri
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource
          nullable: true
          type: string
        inbound_method:
          description: The HTTP method we use to call inbound_request_url
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          format: http-method
          nullable: true
          type: string
        inbound_request_url:
          description: The URL we call using inbound_method when a message is received by any phone number or short code in the Service. This field will be overridden if the `use_inbound_webhook_on_number` field is enabled.
          format: uri
          nullable: true
          type: string
        links:
          description: The absolute URLs of related resources
          format: uri-map
          nullable: true
          type: object
        mms_converter:
          description: Whether to enable the MMS Converter for messages sent through the Service instance
          nullable: true
          type: boolean
        scan_message_content:
          description: Reserved
          enum:
            - inherit
            - enable
            - disable
          nullable: true
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        smart_encoding:
          description: Whether to enable Encoding for messages sent through the Service instance
          nullable: true
          type: boolean
        status_callback:
          description: The URL we call to pass status updates about message delivery
          format: uri
          nullable: true
          type: string
        sticky_sender:
          description: Whether to enable Sticky Sender on the Service instance
          nullable: true
          type: boolean
        synchronous_validation:
          description: Reserved
          nullable: true
          type: boolean
        url:
          description: The absolute URL of the Service resource
          format: uri
          nullable: true
          type: string
        us_app_to_person_registered:
          description: Whether US A2P campaign is registered for this Service.
          nullable: true
          type: boolean
        use_inbound_webhook_on_number:
          description: If enabled, the webhook url configured on the phone number will be used and will override the `inbound_request_url`/`fallback_url` url called when an inbound message is received.
          nullable: true
          type: boolean
        usecase:
          description: A string describing the scenario in which the Messaging Service will be used
          nullable: true
          type: string
        validity_period:
          description: How long, in seconds, messages sent from the Service are valid
          nullable: true
          type: integer
      type: object
    messaging.v1.service.alpha_sender:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        alpha_sender:
          description: The Alphanumeric Sender ID string
          nullable: true
          type: string
        capabilities:
          description: An array of values that describe whether the number can receive calls or messages
          items:
            type: string
          nullable: true
          type: array
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AI[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the AlphaSender resource
          format: uri
          nullable: true
          type: string
      type: object
    messaging.v1.service.phone_number:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        capabilities:
          description: An array of values that describe whether the number can receive calls or messages
          items:
            type: string
          nullable: true
          type: array
        country_code:
          description: The 2-character ISO Country Code of the number
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        phone_number:
          description: The phone number in E.164 format
          format: phone-number
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PN[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the PhoneNumber resource
          format: uri
          nullable: true
          type: string
      type: object
    messaging.v1.service.short_code:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        capabilities:
          description: An array of values that describe whether the number can receive calls or messages
          items:
            type: string
          nullable: true
          type: array
        country_code:
          description: The 2-character ISO Country Code of the number
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        service_sid:
          description: The SID of the Service that the resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        short_code:
          description: The E.164 format of the short code
          nullable: true
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^SC[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the ShortCode resource
          format: uri
          nullable: true
          type: string
      type: object
    messaging.v1.service.us_app_to_person:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        brand_registration_sid:
          description: A2P Brand Registration SID
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BN[0-9a-fA-F]{32}$
          type: string
        campaign_id:
          description: The Campaign Registry (TCR) Campaign ID.
          nullable: true
          type: string
        campaign_status:
          description: Campaign status
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        description:
          description: A short description of what this SMS campaign does
          nullable: true
          type: string
        has_embedded_links:
          description: Indicate that this SMS campaign will send messages that contain links
          nullable: true
          type: boolean
        has_embedded_phone:
          description: Indicates that this SMS campaign will send messages that contain phone numbers
          nullable: true
          type: boolean
        is_externally_registered:
          description: Indicates whether the campaign was registered externally or not
          nullable: true
          type: boolean
        message_samples:
          description: Message samples
          items:
            type: string
          nullable: true
          type: array
        messaging_service_sid:
          description: The SID of the Messaging Service the resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MG[0-9a-fA-F]{32}$
          type: string
        mock:
          description: A boolean that specifies whether campaign is a mock or not.
          nullable: true
          type: boolean
        rate_limits:
          description: Rate limit and/or classification set by each carrier
          nullable: true
        sid:
          description: The unique string that identifies a US A2P Compliance resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^QE[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the US App to Person resource
          format: uri
          nullable: true
          type: string
        us_app_to_person_usecase:
          description: A2P Campaign Use Case.
          nullable: true
          type: string
      type: object
    messaging.v1.service.us_app_to_person_usecase:
      properties:
        us_app_to_person_usecases:
          description: Human readable A2P Use Case details
          items: {}
          nullable: true
          type: array
      type: object
    messaging.v1.usecase:
      properties:
        usecases:
          description: Human readable Messaging Service Use Case details
          items: {}
          nullable: true
          type: array
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
